<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'> Rename the site as Apple User
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2> Rename the site as Apple User</h2>
<p>The current name of the site - "Ask Different" doesn't make sense for most of people except of some people who remember history of Apple campaigns.</p>

<p>When I first time have seen the reference to the site, I decided, that it's like miscelenious, and didn't understand, why apple related questions do not have designated site. I've spend  an hour finding and reading different discussions about how/why the name was chosen( including  <a href="https://apple.meta.stackexchange.com/questions/205/official-site-title/">Official Site Title</a>, <a href="https://apple.meta.stackexchange.com/questions/9/domain-name-suggestions/">Domain name suggestions</a>, <a href="https://apple.meta.stackexchange.com/questions/134/write-an-elevator-pitch-tagline">Write an Elevator Pitch / Tagline</a> )</p>

<p>They didn't convinced me that the name is obvious for most of users.</p>

<p>On <a href="http://stackexchange.com/sites">http://stackexchange.com/sites</a> page most site names are self- explanatory, except of Ask Different ( and StackOverflow itself). 
It shows just "Ask Different" and a meaningless for me sign. User has to select the box to see subtitle, explaining what the site is about.</p>

<p>There is currently no explanation of the name on <a href="https://apple.stackexchange.com/about">https://apple.stackexchange.com/about</a> neither on <a href="https://apple.stackexchange.com/faq">https://apple.stackexchange.com/faq</a>.</p>

<p> (Can the  explanation be added, if rename of the site will be postponed/ not implemented?)</p>

<p>I am fully agree with reasons  described in</p>

<p><a href="https://apple.meta.stackexchange.com/questions/286/ask-different-really-surely-ask-apple">Ask Different, really? Surely Ask Apple</a>, why the current name is incorrect.</p>

<p>However the suggested name "Ask Apple" was not good, because the site does not a support from Apple company.</p>

<p>I am suggesting  to rename the site  as "Apple User " (similar to Super User). I understand that it's sounds like a major change, but re-branding often a good thing. It was wise to leave URL unchanged, when change of the name was done.<a href="https://apple.meta.stackexchange.com/questions/433/please-change-name-of-site-from-apple-to-ask-different">Please change name of site from &quot;Apple&quot; to &quot;Ask Different&quot;</a>.</p>

<p>When voting for my suggestion, please consider that the name should be meaningful for thousands of new users, not only for people, who familiar with the current site and Apple history.</p>

<p>Name is confusing for NEW members, for people, who do search or wants to ask the first Apple related question and don't know, that Apple related site exist. I agree, that once I learn the purpose of the site, i can accept the name. But this learning exercise for every new person could be easily avoided just by having more intuitive name. </p>

<p>My suggestion is to folow KISS principle, avoid extra step of translation (in particular for new users) that Different means Apple.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I apologize for continuing to stir the pot (... kind of), but here's why I figure that the suggestion of the new name is silly:</p>

<p>Programming User<br>
Admin User<br>
Super User<br>
Android User<br>
Apple User<br>
Parent User (User Parenting?)<br>
Math User<br>
Database User<br>
Game Player<br>
Ubuntu User<br>
English Speaker<br>
Wordpress User</p>

<p>That's pretty much what I feel the chain of logic being employed here, is, and it's really nonsensical. Not to even mention that the name Super User doesn't come from etymology similar to "Power User", the name Super User comes from the unix command <code>su</code> which escalates your privileges to root, the "super user" of the system.</p>

<p>The name Super User was a cute play on words that iconifies talented (unix) system administrators. I'm sure there are plenty of Windows users, admins, etc., in the world that miss the point of the joke ENTIRELY, but that's ok. Windows questions to the extent their FAQ describes are still completely on-topic and relevant for Super User.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I wanted to step in and just say "Hi" and thanks for making a suggestion. I've read your post three times and I don't know what to make of it.</p>

<p>Mostly - it's "I don't like the name since it made my experience here bad at first".</p>

<p>Setting aside the mechanics of the branding as an idea gets implemented all across the site in hundreds of places (which would affect how a change once there were consensus might take place) and the <a href="http://www.apple.com/legal/trademark/appletmlist.html" rel="nofollow noreferrer">legal trademark</a> issues (that would likely quash your request outright even if everyone wanted this change) that make it hard to name a large site Apple whatever in relation to the company.</p>

<p>I'm missing the details from your journey and scratching my head how the current name was bad for your experience. (or a different name would make it better).</p>

<p>We get new users three ways by far:</p>

<ol>
<li>They have a problem and google it - the search engines work marvelously to index this site.</li>
<li>Someone posts a link to twitter, facebook, a blog that provides all the context needed to know this place is for Apple questions.</li>
<li>Serendipity in clicking a link from the Main </li>
</ol>

<p>All of them see this:</p>

<p><img src="https://i.stack.imgur.com/FjGFX.png" alt="Ask Different home page"></p>

<p>Based on the problems I see helping new users get used to the site, I would say we already have problems where people find the site and come here for "HELP! My [iPhone contacts are gone|Mac won't boot|iCloud is storming], what now, HELP FAST PLEASE?" type user support questions that are more about triage / troubleshooting / consumer education. We're shooting for a bit more than a site of "here's the support article covering your situation" so making it both easy to join and having enough support to educate is a hard thing to make "one size fits all".</p>

<p>If you changed that big "Ask Different" to "Apple", my inclination would be to think we would have more confusion about what the site's goals and focus. The name we have says, this isn't <a href="https://discussions.apple.com/index.jspa" rel="nofollow noreferrer">Apple Support Communities</a> but instead literally something different.</p>

<p>Having been around stack exchange a bit - the site overall (and our little corner of it) is moving away from the internal use of Apple (despite the URL remaining) and towards the Ask Different name and branding. I'm not saying this is right for everyone, just be aware that the momentum currently is towards more "Ask Different" and <a href="http://blog.stackoverflow.com/2012/06/welcome-to-the-arqade/">branding of sites with made up names</a> that is both a homophone and a clever play on letters.</p>

<hr>

<p>So - back to your suggestion to rename the site. Would you perhaps add an answer here explaining some more of what you were trying to do and how a name change would help? It's clearly a suggestion that goes against the grain, but let's bang it around and see if the plusses could outweigh the negatives. I'd love to hear criticism of the new user process in the event we can shape things or make it easier to get new users to ask great questions or benefit the most from the content here - no matter how we get there. Oh - be ready to get lots of votes up and down, but they don't affect your reputation on the main site so do expect people to vote down questions and answers that they disagree with. (Meta is a bit different in this manner and scope than the main site)</p>

<p>As it stands, I appreciate the benefits that having a name/brand distinct from Apple bring to the site and the community.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Horrible.  Respectfully, I can't get past horrible as a descriptive word.  Why?</p>

<p>First the argument.  Ask Different is a bad name because new users...  If someone is a new user, they found this board (just like you did).  There are affiliated with the board (just like you are).  What about renaming the board improves the experience for people that are already here?  If the board name was suddenly changed to "rubber baby buggy bumpers," how would that effect people being able to use it, do things on it, ask questions, and get answers?</p>

<p>Next, what's in a name?  If we use the word Apple in our title WE WILL BE SUED!  Imagine, someone calls Apple and says, "look, I tried the remedy on that board of yours, Ask Apple, and it didn't work..."  How many seconds do you think it would be before an attorney had the place shut down?  If ANYONE confused this boards ownership as Apple's that would be trademark infringement.</p>

<p>Last, a new name.  Okay, "Ask Newton?"  Oh wait, that doesn't make it clear that this is an Apple board and not a physics board.  "Ask Granny Smith?"  Then you just have to know that Granny Smith is a stand in for Apple, instead of it being an exchange about the Fresh Prince of Bel Air.  Kind of like you have to know that Ask Different is a play on Think Different.  Look, you are attacking a lot of peoples interest with a VERY bad idea.  Just consider it.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>