<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'> Rename the site as Apple User
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1345" class = "post">
			<h2>Question</h2>
			<div id="vote-1345" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 230</p>
			</div>
				<h2> Rename the site as Apple User</h2>
<p>The current name of the site - "Ask Different" doesn't make sense for most of people except of some people who remember history of Apple campaigns.</p>

<p>When I first time have seen the reference to the site, I decided, that it's like miscelenious, and didn't understand, why apple related questions do not have designated site. I've spend  an hour finding and reading different discussions about how/why the name was chosen( including  <a href="https://apple.meta.stackexchange.com/questions/205/official-site-title/">Official Site Title</a>, <a href="https://apple.meta.stackexchange.com/questions/9/domain-name-suggestions/">Domain name suggestions</a>, <a href="https://apple.meta.stackexchange.com/questions/134/write-an-elevator-pitch-tagline">Write an Elevator Pitch / Tagline</a> )</p>

<p>They didn't convinced me that the name is obvious for most of users.</p>

<p>On <a href="http://stackexchange.com/sites">http://stackexchange.com/sites</a> page most site names are self- explanatory, except of Ask Different ( and StackOverflow itself). 
It shows just "Ask Different" and a meaningless for me sign. User has to select the box to see subtitle, explaining what the site is about.</p>

<p>There is currently no explanation of the name on <a href="https://apple.stackexchange.com/about">https://apple.stackexchange.com/about</a> neither on <a href="https://apple.stackexchange.com/faq">https://apple.stackexchange.com/faq</a>.</p>

<p> (Can the  explanation be added, if rename of the site will be postponed/ not implemented?)</p>

<p>I am fully agree with reasons  described in</p>

<p><a href="https://apple.meta.stackexchange.com/questions/286/ask-different-really-surely-ask-apple">Ask Different, really? Surely Ask Apple</a>, why the current name is incorrect.</p>

<p>However the suggested name "Ask Apple" was not good, because the site does not a support from Apple company.</p>

<p>I am suggesting  to rename the site  as "Apple User " (similar to Super User). I understand that it's sounds like a major change, but re-branding often a good thing. It was wise to leave URL unchanged, when change of the name was done.<a href="https://apple.meta.stackexchange.com/questions/433/please-change-name-of-site-from-apple-to-ask-different">Please change name of site from &quot;Apple&quot; to &quot;Ask Different&quot;</a>.</p>

<p>When voting for my suggestion, please consider that the name should be meaningful for thousands of new users, not only for people, who familiar with the current site and Apple history.</p>

<p>Name is confusing for NEW members, for people, who do search or wants to ask the first Apple related question and don't know, that Apple related site exist. I agree, that once I learn the purpose of the site, i can accept the name. But this learning exercise for every new person could be easily avoided just by having more intuitive name. </p>

<p>My suggestion is to folow KISS principle, avoid extra step of translation (in particular for new users) that Different means Apple.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1345">Load Comments</button></br>
			<div id = "commentsection-1345" class = 'collapse'>
			<div id = "comment-2547" class = "comment">
				<p>You've been a member of the site for **five** days, you haven't asked or answered a single question on the site, and you're proposing renaming it? A proposal to rename "Ask Different" might be appropriate someday, but the proposal and name need to come from the community. I'd invite you to participate in the community for a while, and then revisit the question of how the name is working out.</p>
			</div>
			<div id = "comment-2548" class = "comment">
				<p>There is a clear explanation of what the site is for virtually everywhere the name is shown. In the logo, which is on every page in the site, Ask Different is followed by 'Answers for your Apple questions'. The very first line of the About page describes the site as 'Q&A for power users of Apple hardware and software.' That description is also shown on the SE sites page. Since the topic of this site is abundantly obvious from those descriptions and the site's content itself, I believe that having a unique, memorable name is more important than having an obvious, forgettable one.</p>
			</div>
			<div id = "comment-2549" class = "comment">
				<p>(cont.) It doesn't matter if everyone remembers the Think Different campaign; it just matters that they understand what the site is for, which they will (see above). It does matter that they remember our site specifically, and a unique name helps with that. Plus, 'Ask Different' will be a nice nod to the old pros who have been Apple users for a long time. I really don't see the downside of the current name.</p>
			</div>
			<div id = "comment-2550" class = "comment">
				<p>I have more problems with the strap line that the name.  This place is most definitely not 
*just* a place for power users, there are heap plenty off the street Joe Bloggs who ask the most basic of questions with incessant regularity.  Besides, how can an iPod have a "Power User"?</p>
			</div>
			<div id = "comment-2551" class = "comment">
				<p>@stuffe Jailbreakers ;). Daniel: Nathan: Surely those should have been answers.</p>
			</div>
			<div id = "comment-2552" class = "comment">
				<p>@DanielLawson, I am a member of the site for 5 days, and it's my main point. Name is confusing for NEW members, for people, who do search or wants to ask the first Apple related question and don't know, that Apple related site exist. I agree, that once I learn the purpose of the site, i can accept the name. But this learning exercise for every new person could be easily avoided just by having more intuitive name.</p>
			</div>
			<div id = "comment-2553" class = "comment">
				<p>@NathanGreenstein, http://stackexchange.com/sites shows just "Ask Different" and sign, that is meaningless for me. I have to select the box to see subtitle. My suggestion is to KISS, avoid extra step of translation, that Different means Apple</p>
			</div>
			<div id = "comment-2589" class = "comment">
				<p>Just as a side note, I didn't get the Think Different joke until many months after I joined the Ask Different community. When I found Ask Different, it was not hard to know that it was about Apple products. There was no confusion as to what the topic of the site was for me.</p>
			</div>
			<div id = "comment-2590" class = "comment">
				<p>@MichaelFreidgeim Not anymore. http://i.imgur.com/JXgnk.png</p>
			</div>
			<div id = "comment-3051" class = "comment">
				<p>No more obtuse than "SuperUser" (this isn't common language for regular computers users) or "ServerFault" (why would I associate that with asking questions about server administration) or "StackOverflow" (again, not straightforward that it's a site for programming questions). The meta-data guides search results sufficiently well, I don't think we need to muck with the name. But maybe drop the "power users" from the byline.</p>
			</div>
			<div id = "comment-3052" class = "comment">
				<p>@IanC. You can guess from the name that Super User is for power users and Server Fault should be fixed by system and network administrators.  
StackOverflow has become a recognizable name, and is not associated with particular program error.The site is known because it's useful, not because it has the StackOverflow name, that some people consider non-boring and catchy.  
 You can't quess why Different means Apple without knowing particular slogan</p>
			</div>
			<div id = "comment-3053" class = "comment">
				<p>@MichaelFreidgeim I think you're applying 20/20 hindsight vision when you call them "guessable". I'll argue they're not guessable until you've explored the sites to understand their charters. Similar to Ask Different.</p>
			</div>
			</div>
				<textarea id = "speech-1345" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1345">
					<img id="start_img-1345" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1349"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1349" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I apologize for continuing to stir the pot (... kind of), but here's why I figure that the suggestion of the new name is silly:</p>

<p>Programming User<br>
Admin User<br>
Super User<br>
Android User<br>
Apple User<br>
Parent User (User Parenting?)<br>
Math User<br>
Database User<br>
Game Player<br>
Ubuntu User<br>
English Speaker<br>
Wordpress User</p>

<p>That's pretty much what I feel the chain of logic being employed here, is, and it's really nonsensical. Not to even mention that the name Super User doesn't come from etymology similar to "Power User", the name Super User comes from the unix command <code>su</code> which escalates your privileges to root, the "super user" of the system.</p>

<p>The name Super User was a cute play on words that iconifies talented (unix) system administrators. I'm sure there are plenty of Windows users, admins, etc., in the world that miss the point of the joke ENTIRELY, but that's ok. Windows questions to the extent their FAQ describes are still completely on-topic and relevant for Super User.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1349">Load Comments</button></br>
			<div id = "commentsection-1349" class = 'collapse'>
			<div id = "comment-2556" class = "comment">
				<p>I don't worry much if suggested name "Apple User" will be changed to something else, if it would be a word Apple in the name. What's about "Ask about Apple"?</p>
			</div>
			<div id = "comment-2559" class = "comment">
				<p>In addition to the comment I just left on Nathan's answer which applies here as well, why should we switch to a direct (yes) but boring and forgettable (so much yes) name? Frankly, hearing people reference learning about something on "Ask Different" just feels better than hearing "I learned on Ask About Apple that you can create a [...]". Compare: "I learned on Ask Different that you can create a [...]". Apple has their name for their community forums, Apple Discussions. I feel we should avoid the word 'Apple' for this and many other reasons.</p>
			</div>
			<div id = "comment-2584" class = "comment">
				<p>@R.M. "Apple questions" will be good.</p>
			</div>
			<div id = "comment-2638" class = "comment">
				<p>Super User may be a play on `su` but as I don't view MacUser as nonsensical or silly, I can't view Apple User as nonsensical or silly.</p>
			</div>
			</div>
				<textarea id = "speech-1349" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1349">
					<img id="start_img-1349" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1351"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1351" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I wanted to step in and just say "Hi" and thanks for making a suggestion. I've read your post three times and I don't know what to make of it.</p>

<p>Mostly - it's "I don't like the name since it made my experience here bad at first".</p>

<p>Setting aside the mechanics of the branding as an idea gets implemented all across the site in hundreds of places (which would affect how a change once there were consensus might take place) and the <a href="http://www.apple.com/legal/trademark/appletmlist.html" rel="nofollow noreferrer">legal trademark</a> issues (that would likely quash your request outright even if everyone wanted this change) that make it hard to name a large site Apple whatever in relation to the company.</p>

<p>I'm missing the details from your journey and scratching my head how the current name was bad for your experience. (or a different name would make it better).</p>

<p>We get new users three ways by far:</p>

<ol>
<li>They have a problem and google it - the search engines work marvelously to index this site.</li>
<li>Someone posts a link to twitter, facebook, a blog that provides all the context needed to know this place is for Apple questions.</li>
<li>Serendipity in clicking a link from the Main </li>
</ol>

<p>All of them see this:</p>

<p><img src="https://i.stack.imgur.com/FjGFX.png" alt="Ask Different home page"></p>

<p>Based on the problems I see helping new users get used to the site, I would say we already have problems where people find the site and come here for "HELP! My [iPhone contacts are gone|Mac won't boot|iCloud is storming], what now, HELP FAST PLEASE?" type user support questions that are more about triage / troubleshooting / consumer education. We're shooting for a bit more than a site of "here's the support article covering your situation" so making it both easy to join and having enough support to educate is a hard thing to make "one size fits all".</p>

<p>If you changed that big "Ask Different" to "Apple", my inclination would be to think we would have more confusion about what the site's goals and focus. The name we have says, this isn't <a href="https://discussions.apple.com/index.jspa" rel="nofollow noreferrer">Apple Support Communities</a> but instead literally something different.</p>

<p>Having been around stack exchange a bit - the site overall (and our little corner of it) is moving away from the internal use of Apple (despite the URL remaining) and towards the Ask Different name and branding. I'm not saying this is right for everyone, just be aware that the momentum currently is towards more "Ask Different" and <a href="http://blog.stackoverflow.com/2012/06/welcome-to-the-arqade/">branding of sites with made up names</a> that is both a homophone and a clever play on letters.</p>

<hr>

<p>So - back to your suggestion to rename the site. Would you perhaps add an answer here explaining some more of what you were trying to do and how a name change would help? It's clearly a suggestion that goes against the grain, but let's bang it around and see if the plusses could outweigh the negatives. I'd love to hear criticism of the new user process in the event we can shape things or make it easier to get new users to ask great questions or benefit the most from the content here - no matter how we get there. Oh - be ready to get lots of votes up and down, but they don't affect your reputation on the main site so do expect people to vote down questions and answers that they disagree with. (Meta is a bit different in this manner and scope than the main site)</p>

<p>As it stands, I appreciate the benefits that having a name/brand distinct from Apple bring to the site and the community.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1351" class = 'collapse'>
			</div>
				<textarea id = "speech-1351" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1351">
					<img id="start_img-1351" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1635"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1635" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Horrible.  Respectfully, I can't get past horrible as a descriptive word.  Why?</p>

<p>First the argument.  Ask Different is a bad name because new users...  If someone is a new user, they found this board (just like you did).  There are affiliated with the board (just like you are).  What about renaming the board improves the experience for people that are already here?  If the board name was suddenly changed to "rubber baby buggy bumpers," how would that effect people being able to use it, do things on it, ask questions, and get answers?</p>

<p>Next, what's in a name?  If we use the word Apple in our title WE WILL BE SUED!  Imagine, someone calls Apple and says, "look, I tried the remedy on that board of yours, Ask Apple, and it didn't work..."  How many seconds do you think it would be before an attorney had the place shut down?  If ANYONE confused this boards ownership as Apple's that would be trademark infringement.</p>

<p>Last, a new name.  Okay, "Ask Newton?"  Oh wait, that doesn't make it clear that this is an Apple board and not a physics board.  "Ask Granny Smith?"  Then you just have to know that Granny Smith is a stand in for Apple, instead of it being an exchange about the Fresh Prince of Bel Air.  Kind of like you have to know that Ask Different is a play on Think Different.  Look, you are attacking a lot of peoples interest with a VERY bad idea.  Just consider it.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1635">Load Comments</button></br>
			<div id = "commentsection-1635" class = 'collapse'>
			<div id = "comment-3048" class = "comment">
				<p>Why would we be sued? There is http://appleinsider.com</p>
			</div>
			<div id = "comment-3049" class = "comment">
				<p>1. If the board name was suddenly changed to "rubber baby buggy bumpers," it will be bad. If it will be changed to "Apple user", it will reflect the content, which is a very good thing.    

   2. "If we use the word Apple in our title WE WILL BE SUED!" is a myth. 
E.g. I don't think that ACT Apple User Group http://www.actapple.org.au/  was sued for the name.
 Does anyone from SE tried to contact Apple to find a name that descriptive and acceptable by their lawyers?
Note that URL of the site still have an apple inside.</p>
			</div>
			<div id = "comment-3050" class = "comment">
				<p>3.your suggestions about "Newton" "Granny Smith" are funny, but more relevant to the current name. 
Don't play on the associations, that are not obvious for many people. 
Remember that many Apple users do not have English  as native language</p>
			</div>
			</div>
				<textarea id = "speech-1635" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1635">
					<img id="start_img-1635" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>