<html>
	<head>
		<title id = 'pagetitle'>"Add Another Answer" button Bug
		</title>
	<head>
	<body id = 'pagebody'><p>When see this question I encounter below bug:</p>

<p><img src="https://i.stack.imgur.com/5MKiT.jpg" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next build.</p>


	</body>
</html>