<html>
	<head>
		<title id = 'pagetitle'>"Ask Different" logged me in with a different account
		</title>
	<head>
	<body id = 'pagebody'><p>I created another user account on my computer, and visited <em>Ask Different</em>. I logged in using the same username I normally use (and I am using now), but despite I used the same ClaimID OpenID account, it shows me as <a href="https://apple.stackexchange.com/users/6434/kiamlaluno">user6474</a>.</p>

<p>I tried from my other Mac, using the similar user account I have on my Mac Mini, but I am still logged in as user6474.</p>

<p>To show that it's an account to which I have access, I am going to rename the account, and use kiamlaluno also on the new account.</p>

<p><strong>Update:</strong> I tried logging in on <em>Stack Overflow</em> from the other computer, and it reports the following message:</p>

<blockquote>
  <p>This OpenID is new to Stack Overflow:<br>
  ClaimID (kiamlaluno)</p>
  
  <p>However, it is know to 1 other sites in the Stack Exchange Network</p>
</blockquote>

<p>To try logging in on <em>Stack Overflow</em>, I have used Google Chrome, instead of Safari, and I don't understand why I get that message.<br>
I should not see that message, as I am using the same OpenID account I am using on this computer. I don't understand the reason why SE thinks it's a new account when I use it from a different computer and a different local user account.</p>


<h1>ANSWERS</h1>
		<p>Hm, from what I can tell they really are both using the same OpenID. This is likely a bug in Stack Exchange. If you're looking to regain access to your original account, I suggest using <a href="https://apple.stackexchange.com/users/account-recovery">email account recovery</a> for the time being.</p>


	</body>
</html>