<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>"MacBook Pros" or "MacBooks Pro"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-614" class = "post">
			<h2>Question</h2>
			<h3>Score ::11</h3>
			<h3>Views ::344</h3>
				<h2>"MacBook Pros" or "MacBooks Pro"?</h2>
<p>I know which is linguistically correct, but I want to know what you guys prefer to use here. </p>

<p>So:<br>
MacBook Pros or MacBooks Pro?<br>
iPod Touches or iPods Touch?<br>
AirPort Extremes or AirPorts Extreme?</p>

<p>Et cetera.</p>

<p>(Please let me know if there's some other way for me to get these little nitpicky questions addressed. I'm asking this one here because chat is pretty inactive at the moment.)</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-615"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p>Here's how I would do it:</p>

<p>"I have a MacBook Pro."<br>
"I have four MacBook Pros."<br>
"I have an iPod Touch."<br>
"I have eight iPod Touches."</p>

<p>..etc. I would use the natural plural if there are more than one. It looks weird, but "I have four MacBooks Pro," looks even weirder to me.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1101" class = "post">
				<p>So "MacBook*s* Pro", which is technically grammatically correct (like Attorneys General), is just sort of out of the picture?</p>
			</div>
			<div id = "comment-1103" class = "post">
				<p>@Abby I'd say so. But, I've got no source for any of this so I may be totally wrong.</p>
			</div>
			<div id = "comment-1104" class = "post">
				<p>I'll take your word for it. I'm just wondering about the preference of Apple.SE's top users - not really worried about what the official company line is. Thanks!</p>
			</div>
			<div id = "comment-1109" class = "post">
				<p>We'll vote you off the island if "MacBooks Pro" enters use; for that is something up with which we will not put. Grammatical excellence has a limit :-).</p>
			</div>
			<div id = "comment-1725" class = "post">
				<p>To me "macbook pros" looks and sounds weirder.</p>
			</div>
			<br><div id = "ans-617"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>It seems most people go with "MacBook Pros", so I'd go with that:</p>

<p><img src="https://i.stack.imgur.com/QEi0p.png" alt="enter image description here"></p>

<p><img src="https://i.stack.imgur.com/WygOw.png" alt="enter image description here"></p>

<p>Good question though!</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>