<html>
	<head>
		<title id = 'pagetitle'>"MacBook Pros" or "MacBooks Pro"?
		</title>
	<head>
	<body id = 'pagebody'><p>I know which is linguistically correct, but I want to know what you guys prefer to use here. </p>

<p>So:<br>
MacBook Pros or MacBooks Pro?<br>
iPod Touches or iPods Touch?<br>
AirPort Extremes or AirPorts Extreme?</p>

<p>Et cetera.</p>

<p>(Please let me know if there's some other way for me to get these little nitpicky questions addressed. I'm asking this one here because chat is pretty inactive at the moment.)</p>


<h1>ANSWERS</h1>
		<p>Here's how I would do it:</p>

<p>"I have a MacBook Pro."<br>
"I have four MacBook Pros."<br>
"I have an iPod Touch."<br>
"I have eight iPod Touches."</p>

<p>..etc. I would use the natural plural if there are more than one. It looks weird, but "I have four MacBooks Pro," looks even weirder to me.</p>


<p>It seems most people go with "MacBook Pros", so I'd go with that:</p>

<p><img src="https://i.stack.imgur.com/QEi0p.png" alt="enter image description here"></p>

<p><img src="https://i.stack.imgur.com/WygOw.png" alt="enter image description here"></p>

<p>Good question though!</p>


	</body>
</html>