<html>
	<head>
		<title id = 'pagetitle'>"Next Privilege" bar hard to read
		</title>
	<head>
	<body id = 'pagebody'><p>Please check image below, this is the current view on the privileges page.
<img src="https://i.stack.imgur.com/6W7zt.png" alt="enter image description here"></p>

<p>I've added one darker background color to the <code>&lt;div class="meter"&gt;</code> resulting in this:
<img src="https://i.stack.imgur.com/Cutv1.png" alt="enter image description here"></p>

<p>Would it be an option to update the background color for the "meter" class? It's much better to read with one color darker.</p>


<h1>ANSWERS</h1>
		<p>I have darkened the bar's background color some. the change will go out after the next production build.</p>


	</body>
</html>