<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>"Next Privilege" bar hard to read
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1965" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::23</h3>
				<h2>"Next Privilege" bar hard to read</h2>
<p>Please check image below, this is the current view on the privileges page.
<img src="https://i.stack.imgur.com/6W7zt.png" alt="enter image description here"></p>

<p>I've added one darker background color to the <code>&lt;div class="meter"&gt;</code> resulting in this:
<img src="https://i.stack.imgur.com/Cutv1.png" alt="enter image description here"></p>

<p>Would it be an option to update the background color for the "meter" class? It's much better to read with one color darker.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1968"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I have darkened the bar's background color some. the change will go out after the next production build.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3781" class = "comment">
				<p>Thanks. Your change is live.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>