<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>"Typing Fingers" is in need of cleanup
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2635" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::29</h3>
				<h2>"Typing Fingers" is in need of cleanup</h2>
<p>I found a question here that needs cleanup when I was reviewing.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/90066/app-or-webapp-for-learning-touch-type-on-ios-with-apple-wireless-keyboard">https://apple.stackexchange.com/questions/90066/app-or-webapp-for-learning-touch-type-on-ios-with-apple-wireless-keyboard</a></li>
</ul>

<p>It got protected by Community about 3 minutes before I posted this question. It contains a surprising amount of answers in the shape of "This app is good. I tried it" that the answer thread now looks like a chat room.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2635" class = 'collapse'>
			</div>
				<textarea id = "speech-2635" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2635">
					<img id="start_img-2635" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2638"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>All five answers that were posted by the one reputation users are spam.</p>

<ul>
<li><a href="https://apple.stackexchange.com/a/209032">https://apple.stackexchange.com/a/209032</a></li>
<li><a href="https://apple.stackexchange.com/a/209035">https://apple.stackexchange.com/a/209035</a></li>
<li><a href="https://apple.stackexchange.com/a/209037">https://apple.stackexchange.com/a/209037</a></li>
<li><a href="https://apple.stackexchange.com/a/209038">https://apple.stackexchange.com/a/209038</a></li>
<li><a href="https://apple.stackexchange.com/a/209041">https://apple.stackexchange.com/a/209041</a></li>
</ul>

<p>Downvote, flag them as spam and move on. You don't need to ask a meta question for things like this as a quick message in chat will suffice, <a href="http://chat.stackexchange.com/transcript/message/24502416#24502416">as was already done</a>.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2638">Load Comments</button></br>
			<div id = "commentsection-2638" class = 'collapse'>
			<div id = "comment-5913" class = "comment">
				<p>Spam  users destroyed. Thanks for flagging.</p>
			</div>
			</div>
				<textarea id = "speech-2638" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2638">
					<img id="start_img-2638" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>