<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>"You can only post once every 20 minutes."?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2191" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::43</h3>
				<h2>"You can only post once every 20 minutes."?</h2>
<p>Rare occasion. I actually have two questions about Apple products and it complains<img src="https://i.stack.imgur.com/PhZrz.png" alt="Error message: you can only post once every 20 minutes."></p>

<p>What gives?</p>

<p>I don't quite understand the rationale whichever way I think about it. Even if this is something to deter spammers, am I expected to turn into a spammer on an individual SE site suddenly, although having gained rep on several others already?</p>

<p>To add insult to injury I was handed a CAPTCHA on the last attempt. Perhaps because I kept retrying to post the question? Although, I kept retrying because there is no indication of when the 20 minutes are through?! ;)</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2191">Load Comments</button></br>
			<div id = "commentsection-2191" class = 'collapse'>
			<div id = "comment-4170" class = "comment">
				<p>If it helps, I get CAPTCHAs now and then as well, especially while moderating a lot of flagged posts in a short time :-)</p>
			</div>
			<div id = "comment-4172" class = "comment">
				<p>Yes - CAPTCHA's are actually more necessary for high rep users as opposed to low rep users. Imagine the mess that could be caused if a cookie from a moderator were used by a bot.</p>
			</div>
			<div id = "comment-4174" class = "comment">
				<p>@bmike: yes, this is a fact I didn't consider. But that's only the CAPTCHAs and not the posting of questions. Thanks nevertheless for pointing it out. Much appreciated.</p>
			</div>
			</div>
				<textarea id = "speech-2191" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2191">
					<img id="start_img-2191" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2192"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>It's considered to be a feature, see <a href="https://meta.stackexchange.com/search?q=20+minutes">https://meta.stackexchange.com/search?q=20+minutes</a> for quite a lot of information about this. </p>

<p>The error message should have explained that this limitation is lifted for users with reputation above 125. If that notice wasn't provided, please indicate that and we'll turn this into a bug report.</p>

<p>This behavior is documented at:</p>

<p><a href="https://meta.stackexchange.com/questions/65423/why-are-low-rep-users-rate-limited-when-posting-questions">Why are low-rep users rate-limited when posting questions?</a></p>

<p>The rational for implementing this feature is covered in this blog post. I think SE is a bit proud that most people don't see the crap that gets posted (or wants to be posted by spammers / scammers / disruptive people) on the sites. </p>

<p><a href="http://blog.stackoverflow.com/2009/02/new-question-answer-rate-limits/">http://blog.stackoverflow.com/2009/02/new-question-answer-rate-limits/</a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2192">Load Comments</button></br>
			<div id = "commentsection-2192" class = 'collapse'>
			<div id = "comment-4171" class = "comment">
				<p>Still can't see this as a feature, but thanks for the answer.</p>
			</div>
			<div id = "comment-4173" class = "comment">
				<p>@0xC0000022L I've added some of the back story on why this is a feature. I agree it would be nice to not hobble people that are here for the right reasons, but I've seen what happens without these controls and it's not pretty.</p>
			</div>
			</div>
				<textarea id = "speech-2192" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2192">
					<img id="start_img-2192" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>