<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>"You can only post once every 20 minutes."?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>"You can only post once every 20 minutes."?</h2>
<p>Rare occasion. I actually have two questions about Apple products and it complains<img src="https://i.stack.imgur.com/PhZrz.png" alt="Error message: you can only post once every 20 minutes."></p>

<p>What gives?</p>

<p>I don't quite understand the rationale whichever way I think about it. Even if this is something to deter spammers, am I expected to turn into a spammer on an individual SE site suddenly, although having gained rep on several others already?</p>

<p>To add insult to injury I was handed a CAPTCHA on the last attempt. Perhaps because I kept retrying to post the question? Although, I kept retrying because there is no indication of when the 20 minutes are through?! ;)</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It's considered to be a feature, see <a href="https://meta.stackexchange.com/search?q=20+minutes">https://meta.stackexchange.com/search?q=20+minutes</a> for quite a lot of information about this. </p>

<p>The error message should have explained that this limitation is lifted for users with reputation above 125. If that notice wasn't provided, please indicate that and we'll turn this into a bug report.</p>

<p>This behavior is documented at:</p>

<p><a href="https://meta.stackexchange.com/questions/65423/why-are-low-rep-users-rate-limited-when-posting-questions">Why are low-rep users rate-limited when posting questions?</a></p>

<p>The rational for implementing this feature is covered in this blog post. I think SE is a bit proud that most people don't see the crap that gets posted (or wants to be posted by spammers / scammers / disruptive people) on the sites. </p>

<p><a href="http://blog.stackoverflow.com/2009/02/new-question-answer-rate-limits/">http://blog.stackoverflow.com/2009/02/new-question-answer-rate-limits/</a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>