<html>
	<head>
		<title id = 'pagetitle'>'Ghost' inbox message
		</title>
	<head>
	<body id = 'pagebody'><p>I just got this message in my inbox that there had been a comment that I should be aware of.</p>

<p><img src="https://i.stack.imgur.com/0TK1F.png" alt="comment"></p>

<p>When I click on it, it leads me to the <a href="https://apple.stackexchange.com/questions/128757/contacts-have-unsolicited-entries">right question</a>, but there is no comment there?</p>


<h1>ANSWERS</h1>
		<p>The comment has been deleted after your message was sent and before you got a chance to check it out.  The system isn't clever enough to recall or cancel the message, so it sends you to where is was, even if it's gone.</p>

<p>I've deleted your subsequent reply as is is now out of context.</p>


	</body>
</html>