<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>'Mod attention' flag declined for question marked as Duplicate
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3016" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::57</h3>
				<h2>'Mod attention' flag declined for question marked as Duplicate</h2>
<p>The OP created multiple questions for the same issue.  I flagged <a href="https://apple.stackexchange.com/questions/281314/how-can-i-tell-if-my-iphone-has-been-hacked-or-tampered-with">this one</a> for mod attention with the comment: </p>

<blockquote>
  <p>This question is a repost of the OPs same question:
  apple.stackexchange.com/questions/281274/ </p>
</blockquote>

<p>The flag was declined with the explanation:</p>

<blockquote>
  <p>declined - Duplicate only applies if the original question has
  answers.</p>
</blockquote>

<p>I didn't think I flagged it as 'duplicate', because the original question didn't have an answer, but maybe I did (if so, that was a mistake).  </p>

<p>The question is now closed as a duplicate which is why I flagged it for Mod attention in the first place.</p>

<p>Can I get the 'declined' flag off my account?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3016">Load Comments</button></br>
			<div id = "commentsection-3016" class = 'collapse'>
			<div id = "comment-6541" class = "comment">
				<p>Whilst we await a mod response, just so you know the declined flag response cannot be edited or removed from your profile now. Also imo that flag should not have been declined, but we'll see what the mods say.</p>
			</div>
			</div>
				<textarea id = "speech-3016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3016">
					<img id="start_img-3016" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3017"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I probably would have accepted it, as did the mod who handled the second "duplicate" flag. It mainly shows that mods are humans too :-)</p>

<p>As for the declined flag: Declined flags can't be removed, see <a href="https://meta.stackexchange.com/questions/138674/can-a-flag-decision-be-reversed">Can a flag decision be reversed?</a> and <a href="https://meta.stackexchange.com/questions/136876/can-a-declined-flag-be-reverted-or-removed-from-history">Can a declined flag be reverted or removed from history?</a> for details. You shouldn't worry about any negative effects here. The badges we have for flagging only count helpful flags, and if you keep flagging well this won't matter at all. I have a few declined flags myself, and they didn't hurt me in any way.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3017">Load Comments</button></br>
			<div id = "commentsection-3017" class = 'collapse'>
			<div id = "comment-6542" class = "comment">
				<p>Mods are human??  There goes that theory....  :-)</p>
			</div>
			</div>
				<textarea id = "speech-3017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3017">
					<img id="start_img-3017" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>