<html>
	<head>
		<title id = 'pagetitle'>'Mod attention' flag declined for question marked as Duplicate
		</title>
	<head>
	<body id = 'pagebody'><p>The OP created multiple questions for the same issue.  I flagged <a href="https://apple.stackexchange.com/questions/281314/how-can-i-tell-if-my-iphone-has-been-hacked-or-tampered-with">this one</a> for mod attention with the comment: </p>

<blockquote>
  <p>This question is a repost of the OPs same question:
  apple.stackexchange.com/questions/281274/ </p>
</blockquote>

<p>The flag was declined with the explanation:</p>

<blockquote>
  <p>declined - Duplicate only applies if the original question has
  answers.</p>
</blockquote>

<p>I didn't think I flagged it as 'duplicate', because the original question didn't have an answer, but maybe I did (if so, that was a mistake).  </p>

<p>The question is now closed as a duplicate which is why I flagged it for Mod attention in the first place.</p>

<p>Can I get the 'declined' flag off my account?</p>


<h1>ANSWERS</h1>
		<p>I probably would have accepted it, as did the mod who handled the second "duplicate" flag. It mainly shows that mods are humans too :-)</p>

<p>As for the declined flag: Declined flags can't be removed, see <a href="https://meta.stackexchange.com/questions/138674/can-a-flag-decision-be-reversed">Can a flag decision be reversed?</a> and <a href="https://meta.stackexchange.com/questions/136876/can-a-declined-flag-be-reverted-or-removed-from-history">Can a declined flag be reverted or removed from history?</a> for details. You shouldn't worry about any negative effects here. The badges we have for flagging only count helpful flags, and if you keep flagging well this won't matter at all. I have a few declined flags myself, and they didn't hurt me in any way.</p>


	</body>
</html>