<html>
	<head>
		<title id = 'pagetitle'>(Deadline Extended!) Do you have >1k rep on Ask Different? Do you still need a copy of Lion?
		</title>
	<head>
	<body id = 'pagebody'><p>Stack Exchange wants to pay for Lion upgrades for Ask Different's top users. If you've got more than 1000 reputation on Ask Different and you still need to upgrade to Lion, <a href="https://apple.stackexchange.com/users/7749/abby-t-miller">send me an email</a>! </p>

<p>You've got until 5PM New York time on Monday, August 8th to send me an email requesting your upgrade. Please use the words "ask", "different", "lion", and "upgrade" in your subject line so it'll go to a filter I'm watching closely. And, if you would, please stick a link to your Ask Different user profile in the body of the email so I can snoop around. </p>

<p>If you still need to upgrade, but you've only got 900 rep... you've got until Monday to ask, answer, and edit your way up to 1000!</p>

<p>Update:<br>
Seriously, you guys! We really want to buy you your copy of Lion. We've gotten a few requests so far, but we want more. So I'm extending the deadline to <strong>this coming Friday the 12th at 5PM New York time</strong>. </p>


<h1>ANSWERS</h1>
		<p>This is indeed very generous. I sadly am not going to quite get to 1000 (only been a member for three weeks!) but it is great that you are rewarding people's involvement on the site this way.</p>


	</body>
</html>