<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>1 Downvote + 1 upvote = 1 upvote?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>1 Downvote + 1 upvote = 1 upvote?</h2>
<p>I post an answer to this <a href="https://apple.stackexchange.com/questions/65711/how-can-i-change-the-shortcut-keys-for-my-macbook-pro-so-it-doesnt-conflict-wit/66897#66897">question</a>.</p>

<p>My answer receives a downvote (also if I don't understand why) and 1 upvote. As a result a earned 9 points. That's ok.</p>

<p>However when I look at the answer it has 1 point. How can it be possible, shouldn't it be 0? </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>As far as I can tell, if there was a downvote, it has been uncast, so that there is no downvote on the question now:</p>

<p><img src="https://i.stack.imgur.com/urpJB.png" alt="enter image description here"></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>