<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>2011 Moderator Election - Town Hall Chat Digest
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-408" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::125</h3>
				<h2>2011 Moderator Election - Town Hall Chat Digest</h2>
<p>The following is a "digest" version of the <a href="https://apple.meta.stackexchange.com/questions/396/2011-moderator-election-town-hall-chat-2am-utc-on-wednesday-9pm-est-on-tues">2011 Moderator Election Town Hall Chat</a>. The format, <a href="https://meta.stackexchange.com/questions/77831/how-can-we-improve-the-town-hall-digests">as described on Meta Stack Overflow</a>, is one <em>answer</em> to this question <em>for every question</em> asked in the Town Hall, containing all the candidate's answers to that question.</p>

<p><strong>To view the digest chronologically, please sort the answers by "oldest"</strong>.</p>

<p>If you have questions or comments about this, <strong>please do not answer this question</strong> as the answers are designed to be used for the questions from the Town hall itself. Instead, please ask on <a href="https://meta.stackexchange.com/questions/77831/how-can-we-improve-the-town-hall-digests">the parent question</a> or in <a href="http://chat.meta.stackoverflow.com/rooms/352/town-hall-discussion">the Town Hall Discussion Room</a>.</p>

<p>(A big <strong>THANK YOU TO REBECCA CHERNOFF for organizing these town halls</strong> and also a <strong>giant THANK YOU to <a href="https://meta.stackoverflow.com/users/150235/tim-stone">Tim Stone</a> for helping me greatly in compiling this digest!!</strong>)</p>

<h3>If you see any corrections which need to be made to this digest, or if you were a candidate who was unable to attend the town hall and would like your answers included, please @Josh me and let me know!</h3>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-805" class = "comment">
				<p>Awesome work. Thank you!</p>
			</div>
			<div id = "comment-806" class = "comment">
				<p>@Diago Thank Tim Stone also; he did a lot of this for me!</p>
			</div>
			<div id = "comment-812" class = "comment">
				<p>Tell Tim Stone to comment so we can up vote him too! :P</p>
			</div>
			<div id = "comment-813" class = "comment">
				<p>Dude, you both can do at least 10 similar digests in less time it would take to write a script to do it. 1 hour for everything?! Amazing!</p>
			</div>
			<div id = "comment-831" class = "comment">
				<p>@Dori if he responds in chat, I will gladly edit his answers in!</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-409"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/97ca2e94ba373515aa387feee67d613e?s=16&amp;d=identicon&amp;r=PG" alt="Josh"> <a href="http://chat.stackexchange.com/users/637/josh">Josh</a> <a href="http://chat.stackexchange.com/transcript/message/596770#596770">asked</a>:</em> Candidates, what is your opinion of the new "Everyone can edit" feature that has recently been rolled out?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596773#596773">answered</a>:</strong> @Josh I think it's a great feature. As a current moderator, I've had the opportunity to see the edits that people are suggesting to posts and tag wikis and a lot of it is good and constructive. I usually approve about 90% of the edits directly, 5% I add my own changes to, and about 5% I decline</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596776#596776">answered</a>:</strong> @Josh It's a great feature to allow users to suggest edits to questions. We're all here to help, and if people choose to help by /accurately/ clarifying the question, helping to classify (tags), even if they can't answer the question, I would completely welcome the help, and will love to help other sites as well.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596778#596778">answered</a>:</strong> @Josh I don't really see a downside, since everyone can always view the edit history and rollback.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597133#597133">answered</a>:</strong> @Josh I love how the new edit shows our edition suggestion to ourselves alone before it's reviewed. It's great for fixing broken links instantly! The downside is that there will be a lot more "reports" for moderators to review them, so we may need mods only for that eventually.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597592#597592">answered</a>:</strong> @Josh I really like the new Everyone can edit feature. On Super User I have 90% approval rate, and so very good edits come through from low rep users. On Ask Different I have gotten quite a bit of my rep from using the feature, and I have to admit I like the feeling when I see one of my edits approved.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-410"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/97ca2e94ba373515aa387feee67d613e?s=16&amp;d=identicon&amp;r=PG" alt="Josh"> <a href="http://chat.stackexchange.com/users/637/josh">Josh</a> <a href="http://chat.stackexchange.com/transcript/message/596783#596783">asked</a>:</em> What ideas (if any) do you have to promote the site and get more users? Or, do you feel it is the responsibility of a moderator to do this at all?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596798#596798">answered</a>:</strong> @Josh StackExchange has ridiculously good SEO. I can't tell you the number of times that I've started searching for the answer to a question, and the (unanswered) question is already on Page 1. It's hard to do much more beyond this except continue to use this site for answers to questions that come up offline or on other sites.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596802#596802">answered</a>:</strong> @Josh Moderators definitely should try to promote the site if they can. As an example, for our initial launch I posted about it on multiple Apple sites around the internet, Reddit, and Hacker News. I even emailed Lifehacker to see if they were interested in doing it. That said, I think that it's much more important to try and get the community to promote the site. There's only so much a single moderator can do, but if you have a solid core of regular users that can promote the site organically, then there's a much better chance for it to succeed.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596808#596808">expanded</a>:</strong> @Josh I don't know that I call it a responsibility to bring traffic to the site, but it is commitment to do so. It's a great reference site, and it will continue to be used and referred to by those who agree with the principles and quality.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597144#597144">answered</a>:</strong> @Josh not a moderator or anyone's specific responsibility. it's just something you do naturally with things that are also useful to other people who will naturally accept the recommendation if it's a good one.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597596#597596">answered</a>:</strong> @Josh I think a moderators role is more to ensure that the promotions reaches the right target by making sure questions and answers are clean. The SEO for Stack Exchange is very effective, and it's the role of moderators to ensure that the quality of the questions and answers make the SEO successful. Obviously promoting the site in general should be done, but that can be expected from anyone that is a user on the site.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-411"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/3981cd271c302f5cba628c6b6d2b32ee?s=16&amp;d=identicon&amp;r=PG" alt="Tim Stone"> <a href="http://chat.stackexchange.com/users/166/tim-stone">Tim Stone</a> <a href="http://chat.stackexchange.com/transcript/message/596805#596805">asked</a>:</em> Moderation requires decisive action. You may find yourself in a position where you're unsure of what action to take, but can't immediately discuss the situation with a fellow moderator. Are you more inclined to act swiftly or wait for additional input, and how would you decide where to draw the line?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596809#596809">answered</a>:</strong> @TimStone If there's a problem and something could be harmful/offensive or otherwise dangerous, I would move quickly. Otherwise, if I think it's possible that I'll make something worse, I'll hold off.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596813#596813">answered</a>:</strong> @TimStone If it's a time-sensitive issue (i.e. repeated spamming, trolling, etc) then yes, absolutely take immediate action and use the new user contact system to contact the user and let them know that their behavior is unacceptable. The system also informs all the other moderators of the message and keeps them in the loop, and there can be discussion later on. For cases where there isn't an immediate need to act and I'm unsure what to do I'll post about it in the moderator chat and get feedback.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596814#596814">answered</a>:</strong> @TimStone The scale of the question determines the level of reaction. Abusive/offensive issues should be dealt with to a degree of mitigating the issue, less severe things shouldn't have rash decisions attached to them, especially in uncertainty.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597165#597165">answered</a>:</strong> @TimStone I don't like acting upon something I can't handle. There are exceptions but the rule is that I will not do something I'm unsure of. But that doesn't mean I would keep waiting for input. I'll do my homework if there's a point on doing it.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597611#597611">answered</a>:</strong> @TimStone It depends on the actual problem. On bigger sites my feeling is act swiftly, it is always easier to ask forgiveness, however on smaller sites patience is better.  However, overall the call has to be made based on each individual scenario and situation. I do however have no issues revert something to another moderator if I am not at all sure.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-412"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/68a4eaf8b48b10303ca0cc2d6764c5f7?s=16&amp;d=identicon&amp;r=PG" alt="calavera"> <a href="http://chat.stackexchange.com/users/518/calavera">calavera</a> <a href="http://chat.stackexchange.com/transcript/message/596811#596811">asked</a>:</em> What's you stance on hackintoshes, both in regards to questions on the site, and in more general terms?   :)</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596812#596812">answered</a>:</strong> @calavera See my answer: apple.stackexchange.com/ </p>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596822#596822">clarified</a>:</strong> @calavera As for the site, I think they're fine as long as they relate sharply back to Apple (e.g., comparisons). Someone asking for help with their Hackintosh is borderline, but I'd call it acceptable, since it is Apple Hardware.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596832#596832">answered</a>:</strong> @calavera I don't think that hackintosh questions should be allowed on the site. My reason for this is because, at the very least, it's against Apple's EULA that requires that Mac OS X be run on Apple-branded computers, and often involves obtaining modified install disks with Apple's copyrighted content. To me, this sort of information is not something that the Stack Exchange network should be disseminating.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596834#596834">continued</a>:</strong> @calavera That said, I personally don't have anything against Hackintoshes. I even ran one at one point, and it was my experience using it that led me to buy my first Mac.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596840#596840">answered</a>:</strong> @calavera Personally: I purchased a tangible good, not a service. I'm allowed to do what I want to do with it as long as it is not unsafe nor harmful to another person/business. But I shouldn't expect to be supported by the original terms of the warranty.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596841#596841">continued</a>:</strong> @calavera For the network: Pretty much the same. While users aren't entitled to support and may not be running in the same configuration as everyone else, if someone can help, there's not a legal problem with it nor a reason it shouldn't be allowed on the site.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597206#597206">answered</a>:</strong> @calavera I'm in favor of jailbreak, hacking and openness. I'm even in favor of piracy up to some point. I'm a developer and I get my pay from programming software. I just believe there is more to life than trying to capitalize everything.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597613#597613">answered</a>:</strong> @calavera This is a grey area. We banned it on Super User and I think it needs to be avoided, not for anything but to protect the reputation of the site. They exist, and we all dabble with the concept every once in a while, but they have existing support forums and should not be encouraged on Ask Different, if solely to show Apple respect regarding the EULA, and also since we want to come to the attention of Apple at some point.</p>

<hr>

<p><strong>The discussion about this subject continued</strong> and I have only included the first responses in this digest. If you'd like to read deeper, click on any of the "answered" links to jump into the Town hall Transcript at that point.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-413"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/7003edafebe3b3b48bac0599f951e550?s=16&amp;d=identicon&amp;r=PG" alt="IntuitionHQ"> <a href="http://chat.stackexchange.com/users/5964/intuitionhq">IntuitionHQ</a> <a href="http://chat.stackexchange.com/transcript/message/596821#596821">asked</a>:</em> How do you feel about questions related to a) Jailbroken phones and b) Hackintoshes?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596847#596847">answered</a>:</strong> @IntuitionHQ With regard to jailbroken phones, this activity is now considered legal by US law, so I have no problem with questions about jailbreaking on the site, so long as they aren't about using jailbreaking to commit piracy. That said, I personally hope that the site isn't overrun by them.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596849#596849">answered</a>:</strong> @IntuitionHQ In addition to @calavera's question, I'm a bit mixed regarding iPhone jailbreaking (iPod, no problem, iPad w/ 3G, see response): While I don't think jailbreaking your phone is a security threat to the carrier, it does let you abuse the terms of your contract with the carrier. I'm not a fan of that.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597614#597614">answered</a>:</strong> @IntuitionHQ As long as the question is not about Jailbreaking, I am fairly OK with it if it is a high quality question. Refer to my previous answer with regards to Hackintoshes.</p>

<hr>

<p>(I believe most candidates did not answer this one because it was so similar to the previous one, but if any answers were omitted please let me know and I will include them!)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-414"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/d8c43bb4c449d8054aebdd4ad98c6f6c?s=16&amp;d=identicon&amp;r=PG" alt="Rebecca Chernoff"> <a href="http://chat.stackexchange.com/users/23/rebecca-chernoff">Rebecca Chernoff</a> <a href="http://chat.stackexchange.com/transcript/message/596843#596843">asked</a>:</em> How many Apple devices do you own? (;</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596855#596855">answered</a>:</strong> @RebeccaChernoff I have a 13" MacBook Pro (2010), a 13" MacBook (2007), an iPhone 4, and a first-gen Apple TV. I also have Apple keyboards, mice, power bricks, etc.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596857#596857">answered</a>:</strong> @RebeccaChernoff In our household, 1 iMac, 3 Mac Mini's (1 PPC, 2 Intel), 2 iPads, 1 iPod Touch, 1 iPhone, 2 MacBook Pros.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596859#596859">continued</a>:</strong> @RebeccaChernoff Oh, can't forget the Time Capsule! Wouldn't be here if that thing weren't actively passing my bits around wirelessly!</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597275#597275">answered</a>:</strong> @RebeccaChernoff I own 2 devices. But I had 4 other (iOS) devices that went lost, broken, lent for ever or missing. I'm new to apple world and I hate to love it.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597617#597617">answered</a>:</strong> @RebeccaChernoff In our house we have 2 X 15" Apple MacBook Pro's (2010, i7), 2 X iPhone 3G's, 2 X iPads and 2 X Airport Express routers. I am also adding some more hardware in the next year, and all hardware purchases going forward will be an Apple product. We are addicted to the brand and quality.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-415"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/d8c43bb4c449d8054aebdd4ad98c6f6c?s=16&amp;d=identicon&amp;r=PG" alt="Rebecca Chernoff"> <a href="http://chat.stackexchange.com/users/23/rebecca-chernoff">Rebecca Chernoff</a> <a href="http://chat.stackexchange.com/transcript/message/596866#596866">asked</a>:</em> What do y'all see as the biggest challenge when it comes to moderating Ask Different?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596870#596870">answered</a>:</strong> @RebeccaChernoff Answering this question might be on the list. Predicting the future is hard :).</p>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/322?m=596871#596871">answered</a>:</strong> @RebeccaChernoff Right now, increasing traffic. We have a healthy amount of answers and little/no spam and other cleanup work.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596883#596883">answered</a>:</strong> @RebeccaChernoff I think the biggest challenge when moderating any site is dealing with users that are negatively affecting the community but won't stop when asked. (example)</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597294#597294">answered</a>:</strong> @RebeccaChernoff I honestly don't see any big challenge and I hope there won't be any! I prefer small challenges and bearable ones for this role.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597618#597618">answered</a>:</strong> @RebeccaChernoff Quality. Like Super User, the topic is a religious one for a lot of users. Apple users tend to expect quality, and ensure that questions are on topic and valuable is the biggest challenge going forward. It has already been successful and the formula is there, maintaining it now would be the biggest challenge.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-416"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/7003edafebe3b3b48bac0599f951e550?s=16&amp;d=identicon&amp;r=PG" alt="IntuitionHQ"> <a href="http://chat.stackexchange.com/users/5964/intuitionhq">IntuitionHQ</a> <a href="http://chat.stackexchange.com/transcript/message/596872#596872">asked</a>:</em> What do you think specifically that you would bring as a moderator on Ask Different? // Compared to other moderators?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596878#596878">answered</a>:</strong> @IntuitionHQ I love Apple stuff, and I like to talk about it. Simple.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596891#596891">answered</a>:</strong> @IntuitionHQ I don't feel there's anything different that any of us would bring outside of the basics. Difference in skillsets/knowledge, difference in history. But we're all here for the same topic and similar reasons.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597311#597311">answered</a>:</strong> @IntuitionHQ in all honesty, I feel like the less prepared compared to the other candidates. first reason why I became a candidate, I told Rebecca, is because I thought it would be a qualificatory process rather than eliminatory for a few vacancies. I'm good to make fill the role, but I'm afraid I don't have all the time the others do.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597621#597621">answered</a>:</strong> @IntuitionHQ Experience. I have been a moderator on Super User since launch, and have gone through all the hiccups and hurdles already. I understand when it is required to intervene, and when intervention is required, 99% of the time know how to intervene correctly. I also have no issues with making hard decisions, and sometimes being disliked for a decision made.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-417"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/68a4eaf8b48b10303ca0cc2d6764c5f7?s=16&amp;d=identicon&amp;r=PG" alt="calavera"> <a href="http://chat.stackexchange.com/users/518/calavera">calavera</a> <a href="http://chat.stackexchange.com/transcript/message/596877#596877">asked</a>:</em> Why do you really want to be a moderator?  Power, fame, community-service, power?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/322?m=596878#596878">answered</a>:</strong> @IntuitionHQ I love Apple stuff, and I like to talk about it. Simple.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596879#596879">answered</a>:</strong> @calavera Community service on a topic I (1) know relatively well, and (2) am currently invested in. (Not in the Stock Market sense, purely in the consumer sense.)</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/322?m=596883#596883">answered</a>:</strong> @calavera The company car is nice</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597320#597320">answered</a>:</strong> @calavera what? don't moderators get paid? count me off! :P</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597624#597624">answered</a>:</strong> @calavera Community service. I enjoy improving things, and helping build a community like Ask Different is a challenge I would enjoy. There is no fame or power in being a moderator, it is often a thankless job.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-418"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/3981cd271c302f5cba628c6b6d2b32ee?s=16&amp;d=identicon&amp;r=PG" alt="Tim Stone"> <a href="http://chat.stackexchange.com/users/166/tim-stone">Tim Stone</a> <a href="http://chat.stackexchange.com/transcript/message/596892#596892">asked</a>:</em> New users often are not accustomed to the Stack Exchange system, and sometimes struggle to present themselves properly, either in the way they use the site or their attitude. How willing are you to work with "problematic" users, and at what point do you decide that someone isn't worth the effort?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596900#596900">answered</a>:</strong> @TimStone If they're intentionally uncooperative, I'll tend to be impatient. Otherwise, I'll work with them. I had to learn too.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596908#596908">answered</a>:</strong> @TimStone You never give up on a user unless they don't want to be a user, or unless they're there to be abuse to other users.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596933#596933">answered</a>:</strong> @TimStone Whenever possible, I give people the benefit of the doubt.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597329#597329">answered</a>:</strong> @TimStone I was one big problematic newbie and I love dealing with them / us. I've dealt with many "marginals" and I can say with all honesty that there's nobody that's not worth it. It depends on me to take a lesson in each case and those are one of the best kinds of teachers.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597627#597627">answered</a>:</strong> @TimStone Easy. When they are not trying. New users are the one's that come back and question an action, who will improve closed questions to have them re-opened, will fight for an answer when they feel it has value. Those users I will help and guide a 100%. However, it is something you learn over time and with experience, when someone is worth it and when not. Sadly the latter is rare.</p>

<hr>

<h2><em><img src="http://www.gravatar.com/avatar/1e27303754a4f00cf029d765bb0b3d6e?s=16&amp;d=identicon&amp;r=PG" alt="Dori"> <a href="http://chat.stackexchange.com/users/211/dori">Dori</a> <a href="http://chat.stackexchange.com/transcript/message/596916#596916">clarified Tim's question</a>:</em> How much time would you spend dealing with someone who posts rants as answers? No abuse to other users, wants to be a user, etc.</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596937#596937">answered</a>:</strong> @Dori I can't answer that with anything close to a finite time. I can let discussions go on for a very long time. It's usually stopped by overwhelming circumstances (time is up, need to do something else, etc.). I have a big emphasis on solving the problem, not getting it over with. There needs to be a limit, I don't know that that limit is, and I'm sure it varies heavily.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597397#597397">answered</a>:</strong> @Dori I usually wear everyone else off, so probably I'd deal with it until she/he stops. But I couldn't count it in hours as this would be completely asynchronous and over days, weeks or even years.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597633#597633">answered</a>:</strong> @Dori I would contact them once, and try and guide them in the right direction. However if they continue and shows no improvement, I will take action if required. These are users that tend to escalate quickly into flame wars.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-419"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/7003edafebe3b3b48bac0599f951e550?s=16&amp;d=identicon&amp;r=PG" alt="IntuitionHQ"> <a href="http://chat.stackexchange.com/users/5964/intuitionhq">IntuitionHQ</a> <a href="http://chat.stackexchange.com/transcript/message/596907#596907">asked</a>:</em> What would you do if you were in a position where you and another moderator had a disagreement/reached an impasse over what to do about a certain post?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596921#596921">answered</a>:</strong> @IntuitionHQ In no particular order (currently): Meta, another moderator on this site, another moderator on another site, official SE employees. The most important thing is attitude, respectfulness, and courtesy. Attitudes and tempers in check.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596939#596939">answered</a>:</strong> @IntuitionHQ Generally once a moderator takes an action, there needs to be support for that from the other moderators. Even if I may not have closed/deleted/banned/etc, if another moderator does I support that decision, and I hope that my fellow mods will do the same for me</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597352#597352">answered</a>:</strong> @IntuitionHQ get a third opinion. It depends too much on the situation tho, and availability of both. Ideally, discuss through until getting to a common ground, then to an agreement.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597630#597630">answered</a>:</strong> @IntuitionHQ My number one rule is: Never in public take on or disagree with another moderators decision. If action was already taken, I would discuss it with them when the opportunity arises, and if they choose to stand by their decision, I would support it, whether I disagree or not. The latter is important to me and something I feel strongly about. The team must always stand together as one, irrelevant of internal disagreements.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-420"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/3981cd271c302f5cba628c6b6d2b32ee?s=16&amp;d=identicon&amp;r=PG" alt="Tim Stone"> <a href="http://chat.stackexchange.com/users/166/tim-stone">Tim Stone</a> <a href="http://chat.stackexchange.com/transcript/message/596944#596944">asked</a>:</em> Moderation is hard, let's go repping. How do you plan to balance your contributions to the community with your responsibilities as a moderator, and how do you plan on making sure that both stay fun to do?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596950#596950">answered</a>:</strong> @TimStone Contributions are what you want to do, responsibilities are what you have to do. All of us invariably want to do both. The balance is based on need for what you have to do. If you want to write up a question, but there's a problem that needs resolving, you resolve the problem, write up a quick draft of your question and come back to it when you can.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596955#596955">answered</a>:</strong> @TimStone There are tons of contributors and three mods. This site is awesome and needs to stay like that. If the moderation work is done, have fun and contribute. But, if you've had a rough day and you're not going to be able to moderate well until you've contributed... Take the logical path (as long as the moderating still gets done in a timely manner).</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596960#596960">answered</a>:</strong> @TimStone Some days I answer ten questions, sometimes I go a week without answering anything at all. But I'm always checking the site and the mod queue to make sure nothing's blowing up. :)</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597412#597412">answered</a>:</strong> @TimStone to keep the fun, I'd just keep the pace. I wouldn't change much of what I already do, but I'd be able to do it more independently.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597639#597639">answered</a>:</strong> @TimStone By not getting too involved in a particular issue. This is something I had to deal with on Super User, and have already learnt to balance. It is something that can happen quickly, but stepping away can also sometimes be required.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-421"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/d8c43bb4c449d8054aebdd4ad98c6f6c?s=16&amp;d=identicon&amp;r=PG" alt="Rebecca Chernoff"> <a href="http://chat.stackexchange.com/users/23/rebecca-chernoff">Rebecca Chernoff</a> <a href="http://chat.stackexchange.com/transcript/message/596966#596966">asked</a>:</em> Do you think the community generally gets the SE engine and how the site works?  Is there something they don't get and how can you help improve that situation?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596967#596967">answered</a>:</strong> @RebeccaChernoff Participants do, new users sometimes do and sometimes don't. It's all teaching and knowledge, and we will continue to do that to those who continue to participate. (We includes non-mods too.)</p>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596968#596968">answered</a>:</strong> @RebeccaChernoff What I remember from being a newb: I was surprised that others could edit my stuff, but thought it was cool. It took some time to get used to the up/down voting, but that's pretty intuitive. You just have to get into the habit. Everything here is well-documented, and the mods can teach if necessary.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596970#596970">clarified</a>:</strong> @RebeccaChernoff It seems to me that this is common. You catch on quick, and can be an expert with a little practice.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596971#596971">answered</a>:</strong> @RebeccaChernoff The thing that I find most often is that people don't understand how SE is different than a forum. People will find a question through a Google search that doesn't have the answer they're looking for and they ask their followup question as an answer to the existing question. However, I'm not sure how to improve the situation, short of maybe adding an answer-&gt;question conversion for mods.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597420#597420">answered</a>:</strong> @RebeccaChernoff I've got a very close friend who's all tech and a designer. He thinks the stackoverflow site is ugly as hell and never really used it, or any SE site, consciously. I think most people don't get the site, except when stumble upon it on google with some good info on it. I don't think I can help much on this situation, but who knows...</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597643#597643">answered</a>:</strong> @RebeccaChernoff In general, Yes. The FAQ and privileges wiki's help a lot with education, and sometimes correspondence with them help as well.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-422"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/68a4eaf8b48b10303ca0cc2d6764c5f7?s=16&amp;d=identicon&amp;r=PG" alt="calavera"> <a href="http://chat.stackexchange.com/users/518/calavera">calavera</a> <a href="http://chat.stackexchange.com/transcript/message/596969#596969">asked</a>:</em> Candidates:  What's your tolerance for burnout?  :P</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596974#596974">answered</a>:</strong> @calavera I'm a SysAdmin in my day job. Getting to sleep at 2AM, waking at 2:30AM, at work by 3AM, working 4 hours+ on one single crucial issue. This has happened at least a few times in the last 1-2 years. You tell me :P.</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596977#596977">answered</a>:</strong> @calavera As long as I'm not the only active mod on the site, I can avoid burning out by relying on the other mods to take care of stuff while I take a quick break.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597429#597429">answered</a>:</strong> @calavera I regard my patience as my biggest virtue since I'm a little kid. That's for about at least 25 years. Maybe one day I'll explode like Ned Flanders, but I doubt it.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597645#597645">answered</a>:</strong> @calavera High. I burnt out once before and took time away to learn to deal better. Since I have been back I have been able to manage it a lot better.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-809" class = "comment">
				<p>Hmmm. That was supposed to be "Being Woken at 2:30AM". I'm not that bad a procrastinator :).</p>
			</div>
			<br><div id = "ans-423"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/68a4eaf8b48b10303ca0cc2d6764c5f7?s=16&amp;d=identicon&amp;r=PG" alt="calavera"> <a href="http://chat.stackexchange.com/users/518/calavera">calavera</a> <a href="http://chat.stackexchange.com/transcript/message/596978#596978">asked</a>:</em> Candidates: Will you vote for yourself?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596980#596980">answered</a>:</strong> @calavera already did :P</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596982#596982">answered</a>:</strong> @calavera I admit that I already did, though not 1st place. 2nd place is reserved for my pick pending the results of this town hall.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597436#597436">answered</a>:</strong> @calavera I did it because I found a pattern and just 2 other candidates on it and because I really want to be a mod. :)</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597649#597649">answered</a>:</strong> @calavera Yes. It would be silly not too. I believe enough in myself to vote for myself. I also feel I need to show who else I would like to be on a team with when voting.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-424"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/1e27303754a4f00cf029d765bb0b3d6e?s=16&amp;d=identicon&amp;r=PG" alt="Dori"> <a href="http://chat.stackexchange.com/users/211/dori">Dori</a> <a href="http://chat.stackexchange.com/transcript/message/596979#596979">asked</a>:</em> Situation: you're looking at recently highly-voted-up questions and you notice one that just doesn't sound like the user's regular stuff. You google a line from it, and notice that it's lifted from elsewhere. What do you do?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596984#596984">answered</a>:</strong> @Dori my instinct is to put it in a quote block and attribute it to the source. However, the official SE policy seems to be to delete that content, so that's what I'd probably end up doing</p>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/596985#596985">answered</a>:</strong> @Dori I'd probably just comment with a link to original. Mention that this isn't new stuff. But, it is always good to get new perspectives and answers, especially if things have changed since the original was asked.</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/596986#596986">answered</a>:</strong> @Dori I don't know what the answer to this is, so I guess my answer is: I go look up what we're supposed to do :). Or ask someone else who may know.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597656#597656">answered</a>:</strong> @Dori If I can find the source, edit it to reflect the original source and give credit. If it's copyrighted, inform the OP and remove the content from the site. It is however dependant on the situation.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-816" class = "comment">
				<p>I missed that question and I like it! Plus, since I love answering to quizes, please allow me: first I'd hardly go to all that trouble. I wouldn't suspect a user copying somewhere else and investigate it. But suppose I did it anyway, or something similar, which does happen sometimes... I would just point to the original be it by commenting or some other more official means to point a "duplicate" or "not original". I'm all in favor with cleaning and organizing but not much a fan of deleting.</p>
			</div>
			<br><div id = "ans-425"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/68a4eaf8b48b10303ca0cc2d6764c5f7?s=16&amp;d=identicon&amp;r=PG" alt="calavera"> <a href="http://chat.stackexchange.com/users/518/calavera">calavera</a> <a href="http://chat.stackexchange.com/transcript/message/596983#596983">asked</a>:</em> iPhone or Android?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/596987#596987">answered</a>:</strong> @calavera I have and love my iPhone, but I really wish that I could get better native clients for GMail and other Google services (esp Maps, Android Maps is sick)</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/597014#597014">answered</a>:</strong> @calavera I love my iPhone. I like playing with Androids. If I had my choice? Probably sticking with the iPhone for a long time. Already invested into it. Apps and content and all.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597440#597440">answered</a>:</strong> @calavera I'm really looking forward to install android on my iphone. My first choice would be Android + iPod Touch, but thanks to prohibitive costs here in my country I have just an iPhone for now.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597657#597657">answered</a>:</strong> @calavera iPhone. What type of question is that :)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-426"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/597004#597004">asked</a>:</em> When did you buy your first Apple product?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/d137f0688480f16238308ad0f9b234ff?s=16&amp;d=identicon&amp;r=PG" alt="Nathan G."> <a href="http://chat.stackexchange.com/users/4205/nathan-g">Nathan G.</a> <a href="http://chat.stackexchange.com/transcript/message/597009#597009">answered</a>:</strong> @KyleCronin When I was 10 years old :P! (Well, technically, it wasn't my money...)</p>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/message/597010#597010">answered</a>:</strong> @KyleCronin I bought by first Apple product in summer 2007, my Black MacBook</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/597025#597025">answered</a>:</strong> @KyleCronin '05, it's in my primary post.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c6768f8be92fe851f2a5502fb9845778?s=16&amp;d=identicon&amp;r=PG" alt="Cawas"> <a href="http://chat.stackexchange.com/users/6138/cawas">Cawas</a> <a href="http://chat.stackexchange.com/transcript/message/597448#597448">answered</a>:</strong> @KyleCronin about 3 years ago, my first iPhone, a 3G.</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597659#597659">answered</a>:</strong> @KyleCronin December 2006.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-811" class = "comment">
				<p>Wow! We're all youngin's compared to Nathan... I think Nathan should change his name to `Nathan OG` :>.</p>
			</div>
			<div id = "comment-839" class = "comment">
				<p>@Vx Check my age on my profile page. Hint: 14</p>
			</div>
			<br><div id = "ans-427"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/d8c43bb4c449d8054aebdd4ad98c6f6c?s=16&amp;d=identicon&amp;r=PG" alt="Rebecca Chernoff"> <a href="http://chat.stackexchange.com/users/23/rebecca-chernoff">Rebecca Chernoff</a> <a href="http://chat.stackexchange.com/transcript/message/597002#597002">asked</a>:</em> Final thoughts?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/325e29323813381fff4f0ed5c986c98b?s=16&amp;d=identicon&amp;r=PG" alt="Kyle Cronin"> <a href="http://chat.stackexchange.com/users/464/kyle-cronin">Kyle Cronin</a> <a href="http://chat.stackexchange.com/transcript/322?m=597015#597015">answered</a>:</strong> well this has been fun, and it's certainly the most people we've ever had here in the AD chat :)</p>

<p><strong><img src="http://www.gravatar.com/avatar/9904b127bff836c939152dcd300ea9ea?s=16&amp;d=identicon&amp;r=PG" alt="VxJasonxV"> <a href="http://chat.stackexchange.com/users/798/vxjasonxv">VxJasonxV</a> <a href="http://chat.stackexchange.com/transcript/message/597022#597022">answered</a>:</strong> @RebeccaChernoff This was fun, but very hectic (it's already been an hour? What?). Perhaps we reconvene tomorrow for Apple's March 2nd event announcements? :)</p>

<p><strong><img src="http://www.gravatar.com/avatar/d3eab8ee69d374c150510ced730cd6f6?s=16&amp;d=identicon&amp;r=PG" alt="Diago"> <a href="http://chat.stackexchange.com/users/467/diago">Diago</a> <a href="http://chat.stackexchange.com/transcript/message/597661#597661">answered</a>:</strong> @RebeccaChernoff Best of luck to all the candidates running, and elected or not, I will continue to do my best to edit, flag and answer questions on Ask Different.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>