<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>2012 Community Moderator Election
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1023" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::246</h3>
				<h2>2012 Community Moderator Election</h2>
<p>The 2012 Community Moderator Election is now underway!</p>

<p>Community moderator elections have three phases:</p>

<ol>
<li>Nomination phase</li>
<li>Primary phase</li>
<li>Election phase</li>
</ol>

<p>Most elections take between two and three weeks, but this depends on how many candidates there are.</p>

<p>Please visit the official election page at</p>

<p><a href="https://apple.stackexchange.com/election">https://apple.stackexchange.com/election</a></p>

<p>for more detail, and to participate!</p>

<p>If you have general questions about the election process, or questions for moderator candidates, feel free to ask them here on meta -- just make sure your questions are tagged <a href="/questions/tagged/election" class="post-tag" title="show questions tagged &#39;election&#39;" rel="tag">election</a>.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1850" class = "post">
				<p>How can we see who the current moderators are, in order that we might like to see what sorts of standards are expected?</p>
			</div>
			<div id = "comment-1852" class = "post">
				<p>Current moderators are listed [here](http://apple.stackexchange.com/about)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1105"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Winners are:</p>

<p><img src="https://apple.stackexchange.com/users/flair/5472.png" alt="bmike">
<img src="https://apple.stackexchange.com/users/flair/1346.png" alt="Jason Salaz">
<img src="https://apple.stackexchange.com/users/flair/9388.png" alt="Daniel"></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1992" class = "post">
				<p>Congratulations!</p>
			</div>
			<div id = "comment-1993" class = "post">
				<p>Congrats! Those are the three that I've voted for!</p>
			</div>
			<div id = "comment-1994" class = "post">
				<p>Congratulations guys!</p>
			</div>
			<div id = "comment-1995" class = "post">
				<p>Congratulations to the new moderators!</p>
			</div>
			<div id = "comment-2059" class = "post">
				<p>Gratz Guys!!!!!</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>