<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>2012 Moderator Election: Town Hall Chat - Wed 8 Feb 03:00 UTC ~ Tue 7 Feb 10pm EST
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1036" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::124</h3>
				<h2>2012 Moderator Election: Town Hall Chat - Wed 8 Feb 03:00 UTC ~ Tue 7 Feb 10pm EST</h2>
<p>In connection with the moderator elections, we will be holding a Town Hall Chat session with the candidates.  This will be an opportunity for members of the community to pose questions to the candidates on the topic of moderation.  Participation is completely voluntary.  I am working with the candidates to find a time that allows the most participation.</p>

<p><strong>The Town Hall Chat will take place Wednesday the 8th at 03:00 UTC. <em>This is Tuesday at 10:00pm EST</em></strong></p>

<p><strong><a href="http://www.timeanddate.com/worldclock/fixedtime.html?month=2&amp;day=8&amp;year=2012&amp;hour=03&amp;min=0&amp;sec=0&amp;p1=0" rel="nofollow">view in other timezones</a></strong></p>

<p><strong><a href="http://chat.stackexchange.com/rooms/info/322/ask-different-town-hall-chat?tab=schedule">register here</a></strong></p>

<hr>

<p>Here are the details so far:</p>

<ul>
<li>I would like to schedule this towards the beginning of the primary phase.  This means that I am looking at the 6th-8th. As soon as I coordinate with the existing moderators and candidates to find a best fit based on availability, I will edit this post with details on the "when".</li>
<li>The Town Hall Chat will be a one-hour event using our <a href="http://chat.stackexchange.com/?tab=site&amp;sort=active&amp;host=apple.stackexchange.com">chat platform</a>.  I will update this post with a direct link to the chat room once the event is scheduled.</li>
<li>The format will be an open discussion.  Users are encouraged to pose questions to the candidates regarding their thoughts on moderation.</li>
<li>After the chat session, a digest of the event will be permanently linked here.</li>
</ul>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1884" class = "comment">
				<p>Do you anticipate a schedule change if we go straight into election without a primary?</p>
			</div>
			<div id = "comment-1886" class = "comment">
				<p>No.  It'll either be the beginning of the final phase or the beginning of the primary.</p>
			</div>
			<div id = "comment-1931" class = "comment">
				<p>Hi,There is no way I can make it as it's 3am my time, but I would happily prepare replies if the questions are also prepared in advance.  Clearly this defeats the chat aspect preventing my from discussing other candidates responses in real time, but it would be a reasonable substitute.</p>
			</div>
			<div id = "comment-1932" class = "comment">
				<p>@stuffe you can also reply to questions the next morning and we'll still include it in the digest posted on meta</p>
			</div>
			<div id = "comment-1933" class = "comment">
				<p>Will do, a mix of both might be best, allows the other guys to comment on my stuff at least.</p>
			</div>
			<div id = "comment-1935" class = "comment">
				<p>Where is the job description and list of rights and responsibilities for the Moderator position?</p>
			</div>
			<div id = "comment-1936" class = "comment">
				<p>@WheatWilliams Jokes about "unpaid employment" aside, I think [A Theory of Moderation](http://blog.stackoverflow.com/2009/05/a-theory-of-moderation/) is currently the best read.</p>
			</div>
			<div id = "comment-1937" class = "comment">
				<p>But I recall having read somewhere that elected moderators are supposed to sign some sort of moderator agreement. Is the text of that available?</p>
			</div>
			<div id = "comment-1938" class = "comment">
				<p>It's in my link ;).</p>
			</div>

<h1>ANSWERS</h1>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>