<html>
	<head>
		<title id = 'pagetitle'>2013 Community Moderator Election
		</title>
	<head>
	<body id = 'pagebody'><p>The 2013 Community Moderator Election is now underway!</p>

<p>Community moderator elections have three phases:</p>

<ol>
<li>Nomination phase</li>
<li>Primary phase</li>
<li>Election phase</li>
</ol>

<p>Most elections take between two and three weeks, but this depends on how many candidates there are.</p>

<p>Please visit the official election page at</p>

<p><a href="https://apple.stackexchange.com/election">https://apple.stackexchange.com/election</a></p>

<p>for more detail, and to participate!</p>

<p>If you have general questions about the election process, or questions for moderator candidates, feel free to ask them here on meta -- just make sure your questions are tagged <a href="/questions/tagged/election" class="post-tag" title="show questions tagged &#39;election&#39;" rel="tag">election</a>.</p>


<h1>ANSWERS</h1>
			</body>
</html>