<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>2013 Community Moderator Election Results
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>2013 Community Moderator Election Results</h2>
<p>Ask Different's <a href="https://apple.stackexchange.com/election/3">third moderator election</a> has come to a close, the votes have been tallied, and the two new moderators are:</p>

<p><a href="https://apple.stackexchange.com/users/292"><img src="https://apple.stackexchange.com/users/flair/292.png" alt="Ian C."></a> <a href="https://apple.stackexchange.com/users/9058"><img src="https://apple.stackexchange.com/users/flair/9058.png" alt="patrix"></a></p>

<p>They'll be joining <a href="https://apple.stackexchange.com/users?tab=moderators">the existing crew</a> shortly   please thank them for volunteering, and share your assistance and advice with them as they learn the ropes!</p>

<p>For details on how the voting played out, you can download the election results <a href="https://apple.stackexchange.com/election/3">here</a>, or <a href="http://www.opavote.org/results/876021/0" rel="nofollow noreferrer">view a summary report online</a>.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Congrats Ian, patrix! I look forward to seeing the   next to your names, and for things to continue to be awesome with you on-board!</p>

<p>Now that we have an overseas mod, I'm going to have to find another time to fill in the moderation gaps. God knows most of my overnight flag handling was taking action on patrix, stuffe, bassplayer, and some other regulars' flags.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Thank you to the Stack Exchange team for running this election so smoothly and for working so hard to schedule the forum at a time that worked for so many of the candidates and site participants. Congratulations to the new mods. Thanks to all the candidates who ran.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>