<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>2013 Moderator Election - Town Hall Chat
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1583" class = "post">
			<h2>Question</h2>
			<div id="vote-1583" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 179</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2013 Moderator Election - Town Hall Chat</h2>
<p>In connection with the moderator elections, we will be holding a Town Hall Chat session with the candidates.  This will be an opportunity for members of the community to pose questions to the candidates on the topic of moderation.  Participation is completely voluntary.  I will be working with candidates to determine a time for the event.</p>

<p><strong><em>The Town Hall Chat took place Wednesday the 13th at 21:00:00Z UTC / 4:00 PM EST. A digest is available <a href="https://apple.meta.stackexchange.com/questions/1589/2013-moderator-election-town-hall-chat-digest">here</a></em></strong></p>

<p>Here are the details so far:</p>

<ul>
<li>I would like to schedule this towards the beginning of the primary phase.  This means that I am looking at the 11th-14th of February. As soon as I coordinate with the existing moderators and candidates to find a best fit based on availability, I will edit this post with details on the "when".</li>
<li>The Town Hall Chat will be a one-hour event using our <a href="http://chat.stackexchange.com/?tab=site&amp;sort=active&amp;host=apple.stackexchange.com">chat platform</a>.  I will update this post with a direct link to the chat room once the event is scheduled.</li>
<li>The format will be an open discussion.  Users are encouraged to pose questions to the candidates regarding their thoughts on moderation.</li>
<li>Priority for scheduling is generally towards the greatest number of candidate openings as well as the earliest. Candidates who cannot show up during the live event will still be able to answer all questions posted, they will just do so at their earliest convenience.</li>
<li>After the chat session, a digest of the event will be permanently linked here.</li>
</ul>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1583" class = 'collapse'>
			</div>
				<textarea id = "speech-1583" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1583">
					<img id="start_img-1583" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1583">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1584"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1584" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd like to quote from a comment I put on my nomination:</p>

<p>"[...]so I hope that the Town Hall chats offer a fair chance for every participant to actually participate, taking into account geographical and timezone discrepancies. AskDifferent is not just an American website for Americans. As of the time of this comment, 3 of the 6 nominations are from Europe, and 2 of the remaining 3 are not entirely serious."</p>

<p>Since then one more US candidate has entered.</p>

<p>I'll look forward to the mail, and hope that a happy medium can be made to satisfy all candidates.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1584">Load Comments</button></br>
			<div id = "commentsection-1584" class = 'collapse'>
			<div id = "comment-2962" class = "comment">
				<p>I was going to post the same thing, but you beat me to it. I'd like to add that last year, the Town Hall was at a time when it was very hard for non-US candidates to participate live, and we ended up with an election that gave us a team of five moderators in the same country, leaving significant time gaps in moderation coverage for this world-wide site. Given that the moderator coverage the site needs most is from non-US time zones, I'd strongly like to encourage the powers that be to schedule the Town Hall at an appropriate time for this.</p>
			</div>
			<div id = "comment-2963" class = "comment">
				<p>I'll do my best to try and fit a more popular time period. Having had to stay up in the wee hours, or wake up extra early, to accomodate other site town hall chats, it's not unfamiliar territory for me to run in any time zone. The mail was sent out a while ago, by the by.</p>
			</div>
			<div id = "comment-2964" class = "comment">
				<p>Ah, now I remember I use my GMAIL account for login, but nothing else...not been in there for months...!</p>
			</div>
			<div id = "comment-2965" class = "comment">
				<p>Done. Was kind of difficult to find time between work (where I can't join a chat for one hour), family commitments and sleep. Good luck with finding a slot.</p>
			</div>
			<div id = "comment-2966" class = "comment">
				<p>Yeah, I don't envy you that task!</p>
			</div>
			<div id = "comment-2967" class = "comment">
				<p>I'd be jazzed to get a time when candidates from Europe can attend and participate. It'll be an interesting challenge since part of the discussion is to allow maximum site participation (even if all the mods and candidates can attend a 3AM meeting), it's also nice to have the chat when interested parties can ask / dialog. As bad as it is to lack candidates during the live chat, lacking the crowd to grill them doesn't have as good a mechanism for delayed participation as a delayed answer.</p>
			</div>
			<div id = "comment-2971" class = "comment">
				<p>I hope that the time slot I picked is acceptable. It's basically an evening timeslot for most European timezones, though the particular hour had to be such to fit as many people as possible.</p>
			</div>
			<div id = "comment-2972" class = "comment">
				<p>Well done (at least for me), thanks a lot!</p>
			</div>
			<div id = "comment-2975" class = "comment">
				<p>Thanks @GraceNote for making this happen! This is very good for the site that you found a time slot that works for so many people!</p>
			</div>
			<div id = "comment-2976" class = "comment">
				<p>I can make this one, and I'm already sharpening my metaphors.</p>
			</div>
			</div>
				<textarea id = "speech-1584" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1584">
					<img id="start_img-1584" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1584">Comment</button>
			<br><div id = "ans-1588"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1588" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I give up. I've been trying to log in to chat and I keep getting "site down" messages. Best wishes to you all.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1588">Load Comments</button></br>
			<div id = "commentsection-1588" class = 'collapse'>
			<div id = "comment-2988" class = "comment">
				<p>Hey there! I'm sorry that the chat has been unsuccessful. Chat system itself did go somewhat down for a period of time, and while it's "running", it's still a bit patchy. We all fully understand your difficulty, and thank you for having taken as much effort as you did to try and get on. Hopefully by the end of the night, the system will be a lot more stable and you'll be able to post your answers with ease.</p>
			</div>
			</div>
				<textarea id = "speech-1588" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1588">
					<img id="start_img-1588" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1588">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>