<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>2013 Community Moderator Election Results
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1616" class = "post">
			<h2>Question</h2>
			<h3>Score ::11</h3>
			<h3>Views ::261</h3>
				<h2>2013 Community Moderator Election Results</h2>
<p>Ask Different's <a href="https://apple.stackexchange.com/election/3">third moderator election</a> has come to a close, the votes have been tallied, and the two new moderators are:</p>

<p><a href="https://apple.stackexchange.com/users/292"><img src="https://apple.stackexchange.com/users/flair/292.png" alt="Ian C."></a> <a href="https://apple.stackexchange.com/users/9058"><img src="https://apple.stackexchange.com/users/flair/9058.png" alt="patrix"></a></p>

<p>They'll be joining <a href="https://apple.stackexchange.com/users?tab=moderators">the existing crew</a> shortly   please thank them for volunteering, and share your assistance and advice with them as they learn the ropes!</p>

<p>For details on how the voting played out, you can download the election results <a href="https://apple.stackexchange.com/election/3">here</a>, or <a href="http://www.opavote.org/results/876021/0" rel="nofollow noreferrer">view a summary report online</a>.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1616">Record</button>
				<button class="record-stop" id="stop-1616">Stop</button>
				<p id="recording-1616"></p>

<h1>Answers</h1>
			<br><div id = "ans-1617"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>Congrats Ian, patrix! I look forward to seeing the   next to your names, and for things to continue to be awesome with you on-board!</p>

<p>Now that we have an overseas mod, I'm going to have to find another time to fill in the moderation gaps. God knows most of my overnight flag handling was taking action on patrix, stuffe, bassplayer, and some other regulars' flags.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3007" class = "comment">
				<p>And after posting this and refreshing the page, they are!</p>
			</div>
			<div id = "comment-3009" class = "comment">
				<p>Looks like I applied for a full time job :-)</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1617">Record</button>
				<button class="record-stop" id="stop-1617">Stop</button>
				<p id="recording-1617"></p>
			<br><div id = "ans-1618"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Thank you to the Stack Exchange team for running this election so smoothly and for working so hard to schedule the forum at a time that worked for so many of the candidates and site participants. Congratulations to the new mods. Thanks to all the candidates who ran.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1618">Record</button>
				<button class="record-stop" id="stop-1618">Stop</button>
				<p id="recording-1618"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>