<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>2013 Moderator Election - Town Hall Chat Digest
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1589" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::119</h3>
				<h2>2013 Moderator Election - Town Hall Chat Digest</h2>
<p>The following is a "digest" version of the <a href="https://apple.meta.stackexchange.com/questions/1583/2013-moderator-election-town-hall-chat">2013 Moderator Election Town Hall Chat</a>. The format, <a href="https://meta.stackexchange.com/questions/77831/how-can-we-improve-the-town-hall-digests">as described on Meta Stack Overflow</a>, is one <em>answer</em> to this question <em>for every question</em> asked in the Town Hall, containing all the candidate's answers to that question.</p>

<p><strong>To view the digest chronologically, please sort the answers by "oldest"</strong>.</p>

<p>If you have questions or comments about this, <strong>please do not answer this question</strong> as the answers are designed to be used for the questions from the Town hall itself. Instead, please ask on <a href="https://meta.stackexchange.com/questions/77831/how-can-we-improve-the-town-hall-digests">the parent question</a> or in <a href="http://chat.meta.stackoverflow.com/rooms/352/town-hall-discussion">the Town Hall Discussion Room</a>.</p>

<p>If you see any corrections which need to be made to this digest, or if you were a candidate who was unable to attend the town hall and would like your answers included, please @GraceNote or @TimStone <a href="http://chat.stackexchange.com/rooms/322/ask-different-town-hall-chat">in the chat room</a> and let us know!</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1589" class = 'collapse'>
			</div>
				<textarea id = "speech-1589" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1589">
					<img id="start_img-1589" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1590"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/a6f769d150aa072ac88620414706dd3c?s=16&amp;d=identicon&amp;r=PG" alt="Daniel Lawson"> <a href="http://chat.stackexchange.com/users/23007/daniel-lawson">Daniel Lawson</a> <a href="http://chat.stackexchange.com/transcript/message/8103378#8103378">asked</a>:</em> <strong>What is your best and worst case scenario for how this community will change as a result of this election?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103410#8103410">answered</a>:</strong>  best case: membership and content continues to grow with only a light amount of intervention from the moderation team. That's the hallmark of a healthy, community-driven Q&amp;A site IMO. Worst case: we end up with some personality and philosophy conflicts in the moderation team that need to be worked out. Looking over the serious candidate list I don't think it would be anything terrible in the worst-case.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103412#8103412">answered</a>:</strong>  Best Case: Things will carry on pretty much as they were, the current crop of moderators keep on top of most everything promptly and generally without causing much fuss, and the new ones would fit into this mould without too much of a disruption to the status quo</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103444#8103444">continued</a>:</strong>  Worst Case: The new moderator(s) do things sufficiently differently to the existing ones, or take sufficiently long to learn the ropes that the integrity and respect that currently exists is marred causing unhappy or upset users</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103425#8103425">answered</a>:</strong>  Best: Not a whole lot except that work load will be evened, out, and the janitorial aspect will be more spick-and-span. Worst: somebody comes in who head-buts the existing moderators and community.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103427#8103427">answered</a>:</strong>  best case, as more users join the site, there will be a good balanced work load for all the moderators.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103442#8103442">continued</a>:</strong>  worst case is someone who poorly impacts the kind, helpful nature of the AD community or simply doesn't co-exists well with the current moderators.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103436#8103436">answered</a>:</strong>  Best case: Things will move on as they currently do, with even more helpful hands in developing the site and the content. By bringing new ideas into the moderator team the diversity of the site will grow. Worst case: Increased infighting in the mod team and a fallout/break of the current team</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103445#8103445">answered</a>:</strong>  I don't believe there is any best and worst outcome. There will be more moderators, and that's what matters.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108027#8108027">answered</a>:</strong>  Best case scenario: nothing changes. Worst case scenario: new folks go on a power trip and kill the feel of the site. Everyone stops speaking to each other. The site has no users within 3 weeks. Crickets.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1590" class = 'collapse'>
			</div>
				<textarea id = "speech-1590" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1590">
					<img id="start_img-1590" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1591"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/e1b643b1cabd740a5f4580f365b21407?s=16&amp;d=identicon&amp;r=PG" alt="Grace Note"> <a href="http://chat.stackexchange.com/users/757/grace-note">Grace Note</a> <a href="http://chat.stackexchange.com/transcript/message/8103379#8103379">asked</a>:</em> <strong>In your opinion, what do moderators do?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103409#8103409">answered</a>:</strong>  Moderators make this site an even better place. Primarily I see the moderator role as the curator of the questions and answers on the site as well as a well-meaning "dictator" in keeping the site on-topic but still fun to use and visit. In addition they help new users to get used to the system, grow into the community and help to shape it even further.</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103415#8103415">answered</a>:</strong>  Moderators essentially keep the site clean. Their main job is to process flags, go through the most recent questions for the things ones would flag for, and keep the peace where it needs to be kept (off-topic discussions for example).</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103420#8103420">answered</a>:</strong>  they are the minders of the bonsai tree. A careful snip, a gentle prune, maybe a nudge here and there. Occasionally they need to police errant users and follow up on community flags, but for the most part they just kind of do gentle course corrections to keep the content and the community in line with the agreed upon goals for the site.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103435#8103435">answered</a>:</strong>  Clean toilets, and explain to people as kindly as possible how to flush them in the first place. Rinse, wash, repeat.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103465#8103465">answered</a>:</strong>  Moderators do the little things that are required to leave the place as most users would wish to find it.  We put the seat down, and clean the sinks such that no-one ever realises what you do until someone stops doing it.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103489#8103489">answered</a>:</strong>  Moderators are a very important part of ultimately teaching new users how the system works. There is a lot to learn about a site that has this kind of backend system, and it is important that everyone that asks a question on here, learn at least a little about the site. This <em>doesn't</em> mean that every time a new user posts a question that moderators give a tutorial about what to do and what not to do. On the contrary it means more cleaning up things that users have done.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103543#8103543">continued</a>:</strong>  As part of cleaning up after users, they will learn how things work. A huge part of this is being extremely kind and gracious.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108023#8108023">answered</a>:</strong>  Moderators do a great job already. Why mess with it?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1591" class = 'collapse'>
			</div>
				<textarea id = "speech-1591" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1591">
					<img id="start_img-1591" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1592"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/e1b643b1cabd740a5f4580f365b21407?s=16&amp;d=identicon&amp;r=PG" alt="Grace Note"> <a href="http://chat.stackexchange.com/users/757/grace-note">Grace Note</a> <a href="http://chat.stackexchange.com/transcript/message/8103484#8103484">asked</a>:</em> <strong>What do you believe is or will be your biggest weakness or shortcoming as a moderator?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103510#8103510">answered</a>:</strong>  I am worried about the amount of time I'll be able to spend performing the duties. Also: I've switched jobs to a Windows-based shop which means I'm not as on top of the Mac tech, it's an "at home" tech for me now.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103535#8103535">answered</a>:</strong>  Lack of interest in the subject matter. I have far more vested interest in StackExchange than I do in Apple products or their user community. I'm really glad the site exists so I can ask my questions when I'm forced to use Apple one, but that's where my interest with Apple ends. (Hint hint, I recommend not actually voting for me.)</p>

<ul>
<li><strong><img src="http://www.gravatar.com/avatar/7f5e391c3f1a1cb35bf8b91c491a0fbc?s=16&amp;d=identicon&amp;r=PG" alt="bmike"> <a href="http://chat.stackexchange.com/users/12928/bmike">bmike</a> <a href="http://chat.stackexchange.com/transcript/message/8103589#8103589">remarked</a>:</strong>  I think I said it before, but I'll say it again. Part of criticism is a gift - and this alone makes a good moderator. Sometimes the person that wants power too much is motivated by reasons other than to help the community. <em>(not to get all reverse psychology on everyone here)</em></li>
</ul>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103539#8103539">answered</a>:</strong>  My biggest weakness I believe will be my unfamiliarness with the general norm here on AskDifferent. Adjusting to the new tools might be a weakness in the first few weaks, but I'll catch up quick, as I am a very frequent reviewer on other StackExchange sites.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103557#8103557">answered</a>:</strong>  I tend to be inpatient sometimes which may result in actions/responses considered to be rather direct by some people. Up till know I don't think it was a problem and I will make double sure to be careful as a moderator.</p>

<ul>
<li><p><strong><img src="http://www.gravatar.com/avatar/a6f769d150aa072ac88620414706dd3c?s=16&amp;d=identicon&amp;r=PG" alt="Daniel Lawson"> <a href="http://chat.stackexchange.com/users/23007/daniel-lawson">Daniel Lawson</a> <a href="http://chat.stackexchange.com/transcript/message/8103571#8103571">remarked</a>:</strong>  I've never noticed this being a problem for you on the site in the past.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103603#8103603">responded</a>:</strong>  Good. It's just that as a moderator you have to be even more careful in not offending people (primarily because you are looked at as an administrator by a lot of people). I'm sure I'll manage though</p></li>
</ul>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103572#8103572">answered</a>:</strong>  I tend to be pragmatic, sometimes overly so, if something is wrong I don't mind calling a spade a spade, and would worry that this might upset people.  Generally I expect to be dealing with people who might not appreciate intervention on their content, and I suspect at some point I will upset someone, just as I did earlier today by rolling back a question edit without being necessarily careful enough not to fully explain what I was doing, even though I was right to do it</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103600#8103600">continued</a>:</strong>  I also worry a bit that were I to get the diamond, I cannot necessarily be sure to give it the same attention as previous mods who are ever present in the site, and always around.  I'm around a lot, but I can have gaps of attendance, for want of a better word, and I would not want anyone to think I am not taking it seriously because I am not here every day.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103630#8103630">answered</a>:</strong>  I sometimes have trouble knowing what to do in not-so-cut-and-dried situations. However, this is fixed with time, and is already getting better. I also know I can ask other moderators for advice (and do that as it is).</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108028#8108028">answered</a>:</strong>  My biggest weakness is that I might log in once every few months. The ideal mod candidate would get elected and then never visit the site again ever.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1592" class = 'collapse'>
			</div>
				<textarea id = "speech-1592" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1592">
					<img id="start_img-1592" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1593"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/e1b643b1cabd740a5f4580f365b21407?s=16&amp;d=identicon&amp;r=PG" alt="Grace Note"> <a href="http://chat.stackexchange.com/users/757/grace-note">Grace Note</a> <a href="http://chat.stackexchange.com/transcript/message/8103626#8103626">asked</a>:</em> <strong>What is one contribution you feel demonstrates that you can be a good moderator?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103646#8103646">answered</a>:</strong>  My participation in content that is not my own is strictly high road. View my flag and comment and edit history and you'll see I'm interested in making things better, but not at the expense of other people. I understand human interaction over computers can be terse and confrontational and work to diffuse that when I edit and flag here. This is directly in line with my philosophy for moderation, of course. :)</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103651#8103651">answered</a>:</strong>  I managed to get the Marshal badge by relentless flagging dubious posts which either makes me a good citizen or a policeman in disguise (or both)</p>

<ul>
<li><p><strong><img src="http://www.gravatar.com/avatar/a6f769d150aa072ac88620414706dd3c?s=16&amp;d=identicon&amp;r=PG" alt="Daniel Lawson"> <a href="http://chat.stackexchange.com/users/23007/daniel-lawson">Daniel Lawson</a> <a href="http://chat.stackexchange.com/transcript/message/8103664#8103664">asked</a>:</strong>  You do realize that if you become a mod, you won't get to flag things very often :-(</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103681#8103681">responded</a>:</strong>  Yeah, but I may have to review flags set by others. Looking back at a long history of successful flags might help here</p>

<p><strong><img src="http://www.gravatar.com/avatar/a6f769d150aa072ac88620414706dd3c?s=16&amp;d=identicon&amp;r=PG" alt="Daniel Lawson"> <a href="http://chat.stackexchange.com/users/23007/daniel-lawson">Daniel Lawson</a> <a href="http://chat.stackexchange.com/transcript/message/8103702#8103702">replied</a>:</strong>  Absolutely. Just warning you that you won't get to keep running up your flag count :-)</p></li>
</ul>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103677#8103677">answered</a>:</strong>  I can't really point out one, but my general contribution with flagging and editing post, not only here but on StackOverflow as well. Generally having a mindset set to improve the site.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103678#8103678">answered</a>:</strong>  I already have done a lot of "moderating", reviewing, and such work - as my reputation allows it. As my edit history shows, I work hard at making quality edits to bring what is good in a question or answer out. So my contribution would be editing.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103715#8103715">answered</a>:</strong>  Hopefully it's a case of continuing what I've been doing since last years elections, which is doing what moderation I can with the tools available to me as a 10k user - past performance is no guarantee of future performance, but it's a pretty good indicator.  It's not doing 1 great thing to show you deserve it, it;s doing loads of little things that add up over the months.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103731#8103731">answered</a>:</strong>  On Ask Different, zero. My qualifications as a moderator can be speculated on based on my actions on other sites, but I have no track record on AD.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108030#8108030">answered</a>:</strong>  I haven't messed anything up too badly. First do no harm.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1593" class = 'collapse'>
			</div>
				<textarea id = "speech-1593" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1593">
					<img id="start_img-1593" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1594"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/e1b643b1cabd740a5f4580f365b21407?s=16&amp;d=identicon&amp;r=PG" alt="Grace Note"> <a href="http://chat.stackexchange.com/users/757/grace-note">Grace Note</a> <a href="http://chat.stackexchange.com/transcript/message/8103650#8103650">asked</a>:</em> <strong>A diamond will be attached to everything you say and have said in the past, including questions, answers and comments. Everything you will do will be seen under a different light. How do you feel about that?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103687#8103687">answered</a>:</strong>  I don't live my life based on the title I carry. I live my life based on the reality I want to project. It doesn't change me, my answers, or how I hope people see me. I'll certainly strive to stay the line I've stayed all along, which I happen to think is a pretty good representation of me. You'll see i'm not shy about linking who am I here to who I am IRL. That's because I think we act more responsibly when we're accountable IRL as well.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103691#8103691">answered</a>:</strong>  I'm totally fine with that, no skeletons in the closet as far as I'm aware of</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103693#8103693">answered</a>:</strong>  I wouldn't mind having a diamond after my name. Since day #1 I strive to have everything I say be gentle and something I don't regret in the future.</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103753#8103753">answered</a>:</strong>  Fine. I like diamonds.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103760#8103760">answered</a>:</strong>  I would imagine that a diamond on many sites would be a magnet, attracting all the flotsam and jetsam and making you to some extents a target for the worlds complaints.  The diamond doesn t just refer to your performance, but that of the team.  Moderator B messes up, and Moderator C gets the flack if they are online to fix it when the user notices.  On AD I think that the hand of the moderator is perhaps subtly softer than on many sites.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103785#8103785">continued</a>:</strong>  We have a greater mix of new and low rep users, and a smaller mix of higher rep users who would even notice the diamond full stop.  The best moderators would only be distinguishable by this diamond, because their actions should be sufficiently inherently <em>fair</em> so as to not stand out.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103764#8103764">answered</a>:</strong>  I'm fine with that. I feel I should be responsible for what I say and do in life whether it carries a diamond after it or not.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108031#8108031">answered</a>:</strong>  Fine.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1594" class = 'collapse'>
			</div>
				<textarea id = "speech-1594" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1594">
					<img id="start_img-1594" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1595"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/3981cd271c302f5cba628c6b6d2b32ee?s=16&amp;d=identicon&amp;r=PG" alt="Tim Stone"> <a href="http://chat.stackexchange.com/users/12325/tim-stone">Tim Stone</a> <a href="http://chat.stackexchange.com/transcript/message/8103674#8103674">asked</a>:</em> <strong>Do you feel like a representative percentage of the community participates in your site's meta? Based on that, how strongly do you think feedback presented on meta should factor into your decision making as a moderator?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103745#8103745">answered</a>:</strong>  From what I've seen this last week, no, not at all. Meta is still the only place you <em>can</em> complain about the site, submit feedback and such, and I feel like the ones who go through the "trouble" of giving feedback should be heard. There are a lot of smart and experienced users with valuable feedback that should be heard.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103747#8103747">answered</a>:</strong>  I feel there is low participation on meta. However, when a question is asked on meta, from what I have seen it does get answered. So while I feel meta has some bearing on a potential moderator, it wouldn't be much at all.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103756#8103756">answered</a>:</strong>  Traffic on meta is very low, but I don't know whether it is higher on other SE sites. I see meta as kind of collection of "moderation and site ethics" which should help to shape moderator's policy, so from that point of view a more active participation would be welcome.</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103779#8103779">answered</a>:</strong>  Honestly: I don't frequent meta enough myself to make a good judgement call on how well it represents the community. Presumably I should check it more often if I'm elected. ;)</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103797#8103797">answered</a>:</strong>  One role of a moderator is to get people participating in meta. There are never enough people doing it, and it usually comes down to a few good folks slogging away. In the end, I think mods should lead the way in taking issues there and getting people to use their voice, but however many or few it ends up being, that <em>is the voice of the community</em> and should be given heavy weight.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103798#8103798">continued</a>:</strong>  Even if it's a few outspoken folks, the others aren't being repressed, they just aren't stepping up to the plate to use their rights -- and hence waiving them in a sense.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103834#8103834">answered</a>:</strong>  AD META isn't necessarily a particularly active place, and this is a measure of the fact that AD itself generally ticks along nicely without major issues greater than those of a single Q or A.  However, it's voice is still just as important, because those people that do find themselves taking part are by definition the ones that have a strong viewpoint to make.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103850#8103850">continued</a>:</strong>  As a moderator you have to represent not just the rules of SE, but the will of the community, and just because most people are happy enough to not come into META and start boat rocking, doesn't mean that those who do are less important because of that.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108036#8108036">answered</a>:</strong>  I promise to make no decisions if elected. Thus, meta would play no role whatsoever in my non-decision-making.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108053#8108053">continued</a>:</strong>  or it will play 100% of a role. Or any number inbetween 0 and 100. Yoour call.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1595" class = 'collapse'>
			</div>
				<textarea id = "speech-1595" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1595">
					<img id="start_img-1595" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1596"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/a6f769d150aa072ac88620414706dd3c?s=16&amp;d=identicon&amp;r=PG" alt="Daniel Lawson"> <a href="http://chat.stackexchange.com/users/23007/daniel-lawson">Daniel Lawson</a> <a href="http://chat.stackexchange.com/transcript/message/8103714#8103714">asked</a>:</em> <strong>What will you do when you see another moderator take an action you disagree with?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103771#8103771">answered</a>:</strong>  Absolutely not a problem. If another mod does something I disagree with, I completely understand. Everyone has differing opinions and that is perfectly fine.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103814#8103814">continued</a>:</strong>  I am just great for the other moderator to do what they think is best. It's a community, and I'm fine to take the back seat on that one. Potentially the only exception would be if someone didn't want to remove offensive language or something. But I don't ever see that happening at all, so that really isn't an exception.</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103773#8103773">answered</a>:</strong>  Assuming we have an internal messaging tool/chat, bring it up, but not overrun. I would ask, not to criticize, but to learn.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103782#8103782">answered</a>:</strong>  I assume there are some moderator-only chats where such things could be discussed and (if necessary) changed. A flame war between moderators doesn't help anybody so I would strive at keeping the topic among the moderators (and also stick to whatever decision comes out of it).</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103829#8103829">answered</a>:</strong>  talk it out. I don't expect to agree with all the people all the time. I certainly had to work it out with other moderators <em>frequently</em> when we were moderating the fledgling AVP and Guitar sites -- there were lots of opinions on what content to let and what not to let in. You work it out. Like adults.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103849#8103849">answered</a>:</strong>  Take it to meta. Reason my case for disagreeing. See if I can convince the community that my opinion is in the best interest of the site, if not zip it and back off, maybe learn something myself.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103876#8103876">answered</a>:</strong>  There's a magical place call the moderator chat room.  Go duke it out, but remember to stay friends :)</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103902#8103902">continued</a>:</strong>  Worst case, you just treat the action of another moderator as the action of a user, and if you see a need to change/edit/remove/revert, you do so, although you make every effort to super ping the mod in question first to at least explain what you are doing.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108037#8108037">answered</a>:</strong>  Nothing</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1596" class = 'collapse'>
			</div>
				<textarea id = "speech-1596" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1596">
					<img id="start_img-1596" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1597"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/7f5e391c3f1a1cb35bf8b91c491a0fbc?s=16&amp;d=identicon&amp;r=PG" alt="bmike"> <a href="http://chat.stackexchange.com/users/12928/bmike">bmike</a> <a href="http://chat.stackexchange.com/transcript/message/8103796#8103796">asked</a>:</em> <strong>Are you willing to have your mistakes publicly discussed, analyzed, criticized (sometimes confrontationally and quite personally)?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103811#8103811">answered</a>:</strong>  yes. Are they not already? :)</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103824#8103824">answered</a>:</strong>  If I'm willing, yes. If I'd feel comfortable about it, probably not, but that's how people are built   public critisism sucks, but you jut suck it up. As a moderator, you have to deal with some crap, that's part of the job.</p>

<ul>
<li><p><strong><img src="http://www.gravatar.com/avatar/7f5e391c3f1a1cb35bf8b91c491a0fbc?s=16&amp;d=identicon&amp;r=PG" alt="bmike"> <a href="http://chat.stackexchange.com/users/12928/bmike">bmike</a> <a href="http://chat.stackexchange.com/transcript/message/8103890#8103890">remarked</a>:</strong>  thanks - I would say that as a moderator, you never have to put up with personal attacks, however a think skin and the ability to reply politely that perhaps feelings are running high - ask permission to reset the civility and see if everyone can come to an understanding - even if that understanding is to politely disagree or air things out on meta with care.</p>

<p><strong><img src="http://www.gravatar.com/avatar/7f5e391c3f1a1cb35bf8b91c491a0fbc?s=16&amp;d=identicon&amp;r=PG" alt="bmike"> <a href="http://chat.stackexchange.com/users/12928/bmike">bmike</a> <a href="http://chat.stackexchange.com/transcript/message/8103901#8103901">continued</a>:</strong> But - it has been known to happen, so I wanted to just raise the topic for discussion.</p></li>
</ul>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103836#8103836">answered</a>:</strong>  Yes. I appreciate that right now anyway.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103844#8103844">answered</a>:</strong>  Hey, I'm getting this the whole day already anyway in real life so yes, just let them come on AD as well. I can focus on facts and change my view if necessary.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103875#8103875">answered</a>:</strong>  Yup. Not that I relish it, but I'm quite accustomed to it. And moderating SE is nothing compared to my real life in that regard.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8103937#8103937">answered</a>:</strong>  Had it today, I rolled back a question edit, much to the ire of the user (who was on a roll of having being bumped and migrated and downvoted from pillar to post and then saw red when I was the latest in a line of perceived slights).  It comes with the territory.  Stay calm, be fair, and at worse go left of steam in the mod chat room and feel better.  Most of all, never let the OP upset you such that you doing something publicly you regret.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1597" class = 'collapse'>
			</div>
				<textarea id = "speech-1597" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1597">
					<img id="start_img-1597" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1598"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/3981cd271c302f5cba628c6b6d2b32ee?s=16&amp;d=identicon&amp;r=PG" alt="Tim Stone"> <a href="http://chat.stackexchange.com/users/12325/tim-stone">Tim Stone</a> <a href="http://chat.stackexchange.com/transcript/message/8103840#8103840">asked</a>:</em> <strong>When you see a question with major issues (poorly-written, argumentative, etc.), what tool do you reach for first?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103860#8103860">answered</a>:</strong>  My brain, I guess. If it's salvagable, cool, let's save it. If it's broken, that sucks, we'll close it.</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103882#8103882">answered</a>:</strong>  flags. For major issues I tend to mark it for moderator invention. I'll usually leave a comment about why I've flagged something though. Try and guide things in the right direction. Keep it positive.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103903#8103903">answered</a>:</strong>  Up to now, I either clicked "edit" to clean it up myself or flagged it (in really bad cases or if I had to leave/log off). As a moderator I would be a bit more careful in just reaching out to edit such posts, focus would be more on encouraging either the user himself or the community to cleanup the post themselves. Moderators don't run the site per se after all</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103918#8103918">answered</a>:</strong>  The <em>edit</em> link. (Which any non-mod should also be able to do, but sometimes they need an example set. I hate that mods are sometimes expected to <em>do</em> all the work (impossible) but if they aren't at least leading the way in showing how it's done, nobody can expect the community to follow suit.)</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103924#8103924">answered</a>:</strong>  Right now I edit the post, if it's within a reasonable editing scope. If it is a really major issue such as a non-answer, and such I flag it. Some of that may change towards a comment asking the OP to edit it themselves if I were to get elected.</p>

<ul>
<li><strong><img src="http://www.gravatar.com/avatar/7f5e391c3f1a1cb35bf8b91c491a0fbc?s=16&amp;d=identicon&amp;r=PG" alt="bmike"> <a href="http://chat.stackexchange.com/users/12928/bmike">bmike</a> <a href="http://chat.stackexchange.com/transcript/message/8103969#8103969">remarked</a>:</strong>  This is one of the hardest things to balance as a moderator. When you want to be someone with an answer - people will see you as the <em>referee</em> and that colors their response. As a moderator you will see hundreds of questions you could fix with an edit, but sometimes it's best to point a suggestion how to fix it and leave that for others.</li>
</ul>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104031#8104031">answered</a>:</strong>  Right now if it's salvageable, I try to salvage it with edits.  If it's salvageable, but not necessarily by me, I flag to the mods.  I guess if I was a mod I'd be skipping the flag action and just talking to whichever other mod was around if any, before leaving a flag for the next mod if I cannot fix it myself.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104035#8104035">continued</a>:</strong>  Of course, the best recourse is to get the user to fix their own mess if you can, but sometimes requesting changes can be taken the wrong way, and it's better to simply say "This is better" after fixing, than "This is a mess, fix it"</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108040#8108040">answered</a>:</strong>   Q</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1598" class = 'collapse'>
			</div>
				<textarea id = "speech-1598" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1598">
					<img id="start_img-1598" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1599"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103880#8103880">asked</a>:</em> <strong>How would you respond to a rollback/edit war?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8103930#8103930">answered</a>:</strong>  The first time I would ask the more experienced moderators for help. If none is around I would probably add a comment to try to steer the discussion back to facts or wait a few minutes to see whether one of involved users looses interest.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8103945#8103945">answered</a>:</strong>  A full on war? Lock the post, pull the fighters into chat, try to settle things down -- maybe make an executive decision about the what state to leave the post in until the OP's can be brought to sense. If they can't, the original OP takes precedence, but if their content is too problematic in the first place then it's subject to closure/deletion based on their "pet version" of it.</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8104042#8104042">answered</a>:</strong>  I would take them to chat, potentially meta depending on the situation. Sometimes the user is upset with a problem when they ask the question and settle down simply with time.</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8104048#8104048">answered</a>:</strong>  Nobody likes wars. If there's one party that really stand out as "the bad guy", I'd put that one on cool-down and talk it out. If both are equally bad, I'd prevent any more edits/rollbacks and chat with them separately to work it out.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104052#8104052">answered</a>:</strong>  I'd get it into a chat room and off the comments as fast as I can.  Right now I don't know of anyway to do that other than waiting for comments to increase until the site suggests taking it to chat.  I believe that mod tools allow better "ping" powers to invite a user into chat even if they have never been before, otherwise they never see the notification.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108041#8108041">answered</a>:</strong>  I wouldn't</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1599" class = 'collapse'>
			</div>
				<textarea id = "speech-1599" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1599">
					<img id="start_img-1599" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1600"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/3981cd271c302f5cba628c6b6d2b32ee?s=16&amp;d=identicon&amp;r=PG" alt="Tim Stone"> <a href="http://chat.stackexchange.com/users/12325/tim-stone">Tim Stone</a> <a href="http://chat.stackexchange.com/transcript/message/8103905#8103905">asked</a>:</em> <strong>Is there anything about the way the site is currently run that you would like to change? If so, what would you try to change if you were to become a moderator, and why?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8103956#8103956">answered</a>:</strong>  Nope, I like the way it is currently being run. A wiki question here and there, but mostly good normal questions.</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8103962#8103962">answered</a>:</strong>  the only things I've held strong opinions about in the recent past have been how the promotional giveaways have been organized. I thought they pitted users against each other. Otherwise I think things run, from a user's perspective, pretty well. Ask me again if I'm given the diamond and can peek behind the curtain.</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8103971#8103971">answered</a>:</strong>  Well, I would have to say, not really. I think AskDifferent is a great SE-site, it's not hostile, as many would say SO is to some, it's not boring and slow (won't mention examples), it's just the way I like it.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8104032#8104032">answered</a>:</strong>  Things run pretty neat right now, I don't have a pet peeve I would push forward very strongly. Just don't take away the CW questions :-)</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104077#8104077">answered</a>:</strong>  I have no agenda to do anything other than maintain the status quo - spreading some of the mod workload, such that is is, is a popular and almost universal request amongst the candidates.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8104083#8104083">answered</a>:</strong>  Yes. I would like to see the bar raised on quality and "expertness". I think the site is becoming popular enough that it's starting to hit a downward curve on the expected quality level. As such a firm but gentle crack down on the opinion based, listy or recommendation posts needs to happen to focus the site on the kind of questions that really need experts to answer. One-liner answers should not be the norm.</p>

<ul>
<li><p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8104116#8104116">remarked</a>:</strong>  I'll go on record and note that I'm not a fan, and have been an opponent in the past, of wiki style answers. I think they devolve into long, useless lists too quickly.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8104175#8104175">responded</a>:</strong>  Are you trying to steal my entire platform? Here take it and welcome! I'm off to vote for you (and not myself).</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8104193#8104193">replied</a>:</strong>  imitation. Flattery. Yada yada yada.... ;)</p></li>
</ul>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1600" class = 'collapse'>
			</div>
				<textarea id = "speech-1600" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1600">
					<img id="start_img-1600" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1601"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/e1b643b1cabd740a5f4580f365b21407?s=16&amp;d=identicon&amp;r=PG" alt="Grace Note"> <a href="http://chat.stackexchange.com/users/757/grace-note">Grace Note</a> <a href="http://chat.stackexchange.com/transcript/message/8103986#8103986">asked</a>:</em> <strong>How would you deal with a user who produced a steady stream of valuable answers, but tends to generate a large number of arguments/flags from comments?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8104045#8104045">answered</a>:</strong>  (and the questions get harder!) I'd address it 1:1 with them. "Your contributions are valued. Could you tone down the &lt;whatever behaviour that was leading to the flags&gt; in the comments?" Lead with a positive statement before asking them to change. Show them how others are responding to their comments and why they're not viewed positively.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8104076#8104076">answered</a>:</strong>  educate, educate, educate. Add helpful comments to get him to fix the issues himself, edit in a manner of "look and learn", invite him into a 1:1 chat to discuss his answers</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8104091#8104091">answered</a>:</strong>  Talk. Explain, conversate, be nice. If the user is hostile or uncooperative, I'd consult a bigger guy/girl/moderator for solutions like a cool-down (temporary 'ban').</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8104107#8104107">answered</a>:</strong>  I think over time, with comments, and maybe a chat with him. Ultimately show him by example that arguments don't benefit.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104121#8104121">answered</a>:</strong>  Having high rep does not excuse you from participating in a manner that everyone else finds acceptable.  If a comment is out of place or argumentative, it should be taken to task.  If this happens regularly, then I guess that will become pretty repetitive and irritating from an admin perspective, but unless collectively there is some wilful and consistent breaking of the rules as it were, then you just have to plod away.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104138#8104138">continued</a>:</strong>  Naturally one would hope that any user whose input is sufficiently steady as to be recognised as such would  be also sufficiently active in other areas, such as Chat or META, and these may be avenues to attempt to politely address trends such as these.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8104128#8104128">answered</a>:</strong>  Identify what aspect of their contributions rubs people the wrong way, then pull them aside to talk about that, try to get them to see things from the viewpoint of a greater common interest rather than just their own. If success, eat ice cream. If fail, be the first to set the tone in comments for kindly pointing out the issues with their posts, put some pressure on with downvotes when appropriate, and watch out for people trying to troll them for an arguement.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8104135#8104135">continued</a>:</strong>  Also, edit a set of their posts and talk them through the <em>why</em> of the changes.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1601" class = 'collapse'>
			</div>
				<textarea id = "speech-1601" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1601">
					<img id="start_img-1601" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1602"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/a6f769d150aa072ac88620414706dd3c?s=16&amp;d=identicon&amp;r=PG" alt="Daniel Lawson"> <a href="http://chat.stackexchange.com/users/23007/daniel-lawson">Daniel Lawson</a> <a href="http://chat.stackexchange.com/transcript/message/8104080#8104080">asked</a>:</em> <strong>Can you pass a Turing test? Why would it be a problem if a moderator could not be distinguished from an AI bot?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8104098#8104098">answered</a>:</strong>  I don't even know what that is.</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8104100#8104100">answered</a>:</strong> Ever scream at phone help system that asks you to guide it with voice prompts? That's not how humans like to interact. Communication via keyboard is always easier if you can maintain a human element to the interaction.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8104111#8104111">answered</a>:</strong>  Turing tests are for machines, a moderators is a human being with humor, passion, an understanding of subtle differences and cultural differences. An AI bot can't cover that right now (but is doing a good job in auto-flagging really bad posts)</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8104149#8104149">answered</a>:</strong>  Can <em>you</em> pass a Turing test? Why would it be a problem if a user could not be distinguished from an AI bot?</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104150#8104150">answered</a>:</strong>  I'm doing well so far, ever since I removed Urban Dictionary from my memory banks, I seem to have gotten away with it.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104176#8104176">continued</a>:</strong>  If any bot ever got as good as @bmike, then it wouldn't be hanging around on AD, it would be making millions and living on a beach, with at least 50 beautiful women and a small team of experts thinking up new ways to make it's life more pleasurable...</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108046#8108046">answered</a>:</strong>  It is my hope that my coontributions will be indistinguishable from those of <code>/dev/null</code></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1602" class = 'collapse'>
			</div>
				<textarea id = "speech-1602" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1602">
					<img id="start_img-1602" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1603"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/e1b643b1cabd740a5f4580f365b21407?s=16&amp;d=identicon&amp;r=PG" alt="Grace Note"> <a href="http://chat.stackexchange.com/users/757/grace-note">Grace Note</a> <a href="http://chat.stackexchange.com/transcript/message/8104167#8104167">asked</a>:</em> <strong>Of the other candidates, who is the one user you think would be most qualified for the position of moderator, and why?</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8104195#8104195">answered</a>:</strong>  @patrix. High helpful flag count, lots of post reviewing, and active member on the site.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104210#8104210">answered</a>:</strong>  There are no rules of qualification that you can subjectively measure.  If you did, we would elect by algorithm.  The most qualified is the one that wins.</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8104225#8104225">answered</a>:</strong>  @stuffe is getting my vote. I think most of the 10k+ users have done well getting to know each other out side of the AD ecosystem and he's a good guy. Plus, he's got a killer vocabulary. I can't play Letterpress with him any more. It's just embarrassing for me.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8104236#8104236">answered</a>:</strong>  I think the comments I've seen on patrix from people in the community that know him set it up for being a great addition to the team. I hear more down to earth experience in Lan C and have no doubt he would be excellent, but experience will come with time for anybody willing to roll with the punches. Frankly I'm sure in which order to vote for those two.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8104238#8104238">answered</a>:</strong>  Tough one really, difficult to single out one, especially if moderators should act as a team afterwards :-) But if it needs to be one, I pick @stuffe, primarily because we had fruitful discussions in the past, he contributes heavily to the site and has a good way with difficult questions/answers</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8104240#8104240">answered</a>:</strong>  I can't quite justify this, but @Caleb's humbleness fascinates me. His opinions are straight-on and simply make sense, and he has the kind of experience that I can only dream of. Also, he's at my reputation level, and I think it is important to not only have moderators with reputation exceeding multiple thousands, but also some maybe underqualified and capable of learning.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108044#8108044">answered</a>:</strong>  Kyle Cronin. As far as I can tell, he's the ideal mooderator. Or better still, that Philip guy.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1603" class = 'collapse'>
			</div>
				<textarea id = "speech-1603" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1603">
					<img id="start_img-1603" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1604"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104246#8104246">asked</a>:</em> <strong>What, if anything, are you not looking forward to as a Mod, what's the thing that is most likely to result in you not wanting to do it</strong></h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8104259#8104259">answered</a>:</strong>  I am worried I'll find behind, not do enough, and the guilt will eat at me. I think I have regular conversations with everyone on the mod team now, outside of AD, and I don't want to let them down.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8104265#8104265">answered</a>:</strong>  If I could have thought of anything I wouldn't have run</p>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8104277#8104277">answered</a>:</strong>  Getting even more addicted than I already am. Seriously, it's going to become a problem..</p>

<p><strong><img src="http://www.gravatar.com/avatar/f9f9c427de3bcdf5d8410ef4d39138a8?s=16&amp;d=identicon&amp;r=PG" alt="bassplayer7"> <a href="http://chat.stackexchange.com/users/33519/bassplayer7">bassplayer7</a> <a href="http://chat.stackexchange.com/transcript/message/8104301#8104301">answered</a>:</strong>  Pretty much nothing.</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104313#8104313">answered</a>:</strong>  I would hate to get into any vendetta style arguments.  I saw some stuff on the net criticising Nathan and Kyle on a most disturbing way, I'd hate to have anything like that happen to me.</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8104317#8104317">answered</a>:</strong>  <em>One. More. Thing. On. My. Plate</em>. Please don't do it to me, not this time around.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108047#8108047">answered</a>:</strong>  I doon't want to be mod. I do want to get elected.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1604" class = 'collapse'>
			</div>
				<textarea id = "speech-1604" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1604">
					<img id="start_img-1604" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1605"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2><em><img src="http://www.gravatar.com/avatar/e1b643b1cabd740a5f4580f365b21407?s=16&amp;d=identicon&amp;r=PG" alt="Grace Note"> <a href="http://chat.stackexchange.com/users/757/grace-note">Grace Note</a> <a href="http://chat.stackexchange.com/transcript/message/8104232#8104232">asked</a>:</em> <strong>Final thoughts from the candidates</strong>?</h2>

<hr>

<p><strong><img src="http://www.gravatar.com/avatar/2eb6a7096c6cd74c235548f3c1f33dcc?s=16&amp;d=identicon&amp;r=PG" alt="Emil"> <a href="http://chat.stackexchange.com/users/65059/emil">Emil</a> <a href="http://chat.stackexchange.com/transcript/message/8104252#8104252">answered</a>:</strong>  I'm repeating myself here, but in my opinion, it is important to not only have moderators with reputation exceeding multiple thousands, but also some underqualified, new users who are capable of learning along the way.</p>

<p><strong><img src="http://www.gravatar.com/avatar/e33e0d3738076cdd3c3ca6aa94965ad9?s=16&amp;d=identicon&amp;r=PG" alt="patrix"> <a href="http://chat.stackexchange.com/users/23937/patrix">patrix</a> <a href="http://chat.stackexchange.com/transcript/message/8104254#8104254">answered</a>:</strong>  That chat was even more fun than I expected it to be. Great way to learn new stuff about the others and yourself</p>

<p><strong><img src="http://www.gravatar.com/avatar/c8c6cf98893e485d3f0424830efcf8ca?s=16&amp;d=identicon&amp;r=PG" alt="stuffe"> <a href="http://chat.stackexchange.com/users/20840/stuffe">stuffe</a> <a href="http://chat.stackexchange.com/transcript/message/8104260#8104260">answered</a>:</strong>  When I'm in charge, everyone will get a lovely hat.</p>

<p><strong><img src="http://www.gravatar.com/avatar/64334b53730cf9132f484bb17274ebb8?s=16&amp;d=identicon&amp;r=PG" alt="Ian C."> <a href="http://chat.stackexchange.com/users/18375/ian-c">Ian C.</a> <a href="http://chat.stackexchange.com/transcript/message/8104264#8104264">answered</a>:</strong>  Do you validate parking?</p>

<p><strong><img src="http://www.gravatar.com/avatar/1d84382865c6c3378c04a35348fdfa07?s=16&amp;d=identicon&amp;r=PG" alt="Caleb"> <a href="http://chat.stackexchange.com/users/19479/caleb">Caleb</a> <a href="http://chat.stackexchange.com/transcript/message/8104276#8104276">answered</a>:</strong>  Please don't vote for me. Get one of your own. I'll be around to express my opinions and even train help whoever you do elect in the <strike>perils</strike> fine art of of moderating. You'll get as much as you want of me, and as much as I can contribute, without making me a direct moderator of a subject matter I could <strike>take or</strike> leave.</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108051#8108051">answered</a>:</strong>  Look, I know I haven't answered all the questioons, but I think I've gottten my point across here. I am for minimum change. Elect me and I promise to do nothing. Heck, I didn't even make it to the toown hall (although I did try to get there).</p>

<p><strong><img src="http://www.gravatar.com/avatar/fe1724c84136cc3257422327b1d6c1f8?s=16&amp;d=identicon&amp;r=PG" alt="None of the above"> <a href="http://chat.stackexchange.com/users/50352/none-of-the-above">None of the above</a> <a href="http://chat.stackexchange.com/transcript/message/8108060#8108060">continued</a>:</strong> Sorry I missed the chat. And that the stupid <code>o</code> key on my kebyard keeps sticking intermittantly. And that I can't spell but doon't care enough to look it all up. Them's life.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1605" class = 'collapse'>
			</div>
				<textarea id = "speech-1605" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1605">
					<img id="start_img-1605" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>