<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>2013 Community Moderator Election Results
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1616" class = "post">
			<h2>Question</h2>
			<div id="vote-1616" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 261</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2013 Community Moderator Election Results</h2>
<p>Ask Different's <a href="https://apple.stackexchange.com/election/3">third moderator election</a> has come to a close, the votes have been tallied, and the two new moderators are:</p>

<p><a href="https://apple.stackexchange.com/users/292"><img src="https://apple.stackexchange.com/users/flair/292.png" alt="Ian C."></a> <a href="https://apple.stackexchange.com/users/9058"><img src="https://apple.stackexchange.com/users/flair/9058.png" alt="patrix"></a></p>

<p>They'll be joining <a href="https://apple.stackexchange.com/users?tab=moderators">the existing crew</a> shortly   please thank them for volunteering, and share your assistance and advice with them as they learn the ropes!</p>

<p>For details on how the voting played out, you can download the election results <a href="https://apple.stackexchange.com/election/3">here</a>, or <a href="http://www.opavote.org/results/876021/0" rel="nofollow noreferrer">view a summary report online</a>.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1616" class = 'collapse'>
			</div>
				<textarea id = "speech-1616" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1616">
					<img id="start_img-1616" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1616">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1617"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1617" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Congrats Ian, patrix! I look forward to seeing the   next to your names, and for things to continue to be awesome with you on-board!</p>

<p>Now that we have an overseas mod, I'm going to have to find another time to fill in the moderation gaps. God knows most of my overnight flag handling was taking action on patrix, stuffe, bassplayer, and some other regulars' flags.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1617">Load Comments</button></br>
			<div id = "commentsection-1617" class = 'collapse'>
			<div id = "comment-3007" class = "comment">
				<p>And after posting this and refreshing the page, they are!</p>
			</div>
			<div id = "comment-3009" class = "comment">
				<p>Looks like I applied for a full time job :-)</p>
			</div>
			</div>
				<textarea id = "speech-1617" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1617">
					<img id="start_img-1617" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1617">Comment</button>
			<br><div id = "ans-1618"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1618" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Thank you to the Stack Exchange team for running this election so smoothly and for working so hard to schedule the forum at a time that worked for so many of the candidates and site participants. Congratulations to the new mods. Thanks to all the candidates who ran.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1618" class = 'collapse'>
			</div>
				<textarea id = "speech-1618" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1618">
					<img id="start_img-1618" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1618">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>