<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>2013 Moderator Election - Town Hall Chat
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>2013 Moderator Election - Town Hall Chat</h2>
<p>In connection with the moderator elections, we will be holding a Town Hall Chat session with the candidates.  This will be an opportunity for members of the community to pose questions to the candidates on the topic of moderation.  Participation is completely voluntary.  I will be working with candidates to determine a time for the event.</p>

<p><strong><em>The Town Hall Chat took place Wednesday the 13th at 21:00:00Z UTC / 4:00 PM EST. A digest is available <a href="https://apple.meta.stackexchange.com/questions/1589/2013-moderator-election-town-hall-chat-digest">here</a></em></strong></p>

<p>Here are the details so far:</p>

<ul>
<li>I would like to schedule this towards the beginning of the primary phase.  This means that I am looking at the 11th-14th of February. As soon as I coordinate with the existing moderators and candidates to find a best fit based on availability, I will edit this post with details on the "when".</li>
<li>The Town Hall Chat will be a one-hour event using our <a href="http://chat.stackexchange.com/?tab=site&amp;sort=active&amp;host=apple.stackexchange.com">chat platform</a>.  I will update this post with a direct link to the chat room once the event is scheduled.</li>
<li>The format will be an open discussion.  Users are encouraged to pose questions to the candidates regarding their thoughts on moderation.</li>
<li>Priority for scheduling is generally towards the greatest number of candidate openings as well as the earliest. Candidates who cannot show up during the live event will still be able to answer all questions posted, they will just do so at their earliest convenience.</li>
<li>After the chat session, a digest of the event will be permanently linked here.</li>
</ul>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I'd like to quote from a comment I put on my nomination:</p>

<p>"[...]so I hope that the Town Hall chats offer a fair chance for every participant to actually participate, taking into account geographical and timezone discrepancies. AskDifferent is not just an American website for Americans. As of the time of this comment, 3 of the 6 nominations are from Europe, and 2 of the remaining 3 are not entirely serious."</p>

<p>Since then one more US candidate has entered.</p>

<p>I'll look forward to the mail, and hope that a happy medium can be made to satisfy all candidates.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I give up. I've been trying to log in to chat and I keep getting "site down" messages. Best wishes to you all.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>