<html>
	<head>
		<title id = 'pagetitle'>2015 northern hemisphere "winter bash"
		</title>
	<head>
	<body id = 'pagebody'><p>The Stack Overflow developers have been working on a winter (for the northern hemisphere) bash that probably will include hats overlays for avatars and <a href="http://blog.stackoverflow.com/2013/09/five-years-ago-stack-overflow-launched-then-a-miracle-occurred/">some non-competition for fake internet points</a> and badges this month. They have placed a teaser page up at the eventual home of this year's festivities:</p>

<ul>
<li><a href="http://winterbash2015.stackexchange.com" rel="nofollow">http://winterbash2015.stackexchange.com</a></li>
</ul>

<p>This is announced as site opt-out optional (users can always opt out of hats on the site). We need community consensus to form before the 10th of December if we are to act and opt out entirely as a site.</p>

<p>Please answer if you feel the site should or should not opt out entirely.</p>


<h1>ANSWERS</h1>
		<p><strong>YES</strong>, absolutely! Winter Bash for the win!</p>


	</body>
</html>