<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>2015 northern hemisphere "winter bash"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2684" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::141</h3>
				<h2>2015 northern hemisphere "winter bash"</h2>
<p>The Stack Overflow developers have been working on a winter (for the northern hemisphere) bash that probably will include hats overlays for avatars and <a href="http://blog.stackoverflow.com/2013/09/five-years-ago-stack-overflow-launched-then-a-miracle-occurred/">some non-competition for fake internet points</a> and badges this month. They have placed a teaser page up at the eventual home of this year's festivities:</p>

<ul>
<li><a href="http://winterbash2015.stackexchange.com" rel="nofollow">http://winterbash2015.stackexchange.com</a></li>
</ul>

<p>This is announced as site opt-out optional (users can always opt out of hats on the site). We need community consensus to form before the 10th of December if we are to act and opt out entirely as a site.</p>

<p>Please answer if you feel the site should or should not opt out entirely.</p>

			</div><h3>Comments</h3>
			<div id = "comment-5963" class = "comment">
				<p>By the way, are fake internet points basically fake reputation points? Because if they are (even if not in name, only theory) it should be **clearly** stated that these are not real points.</p>
			</div>
			<div id = "comment-5964" class = "comment">
				<p>Can we change the capitalization to `Winter BASh`?</p>
			</div>
			<div id = "comment-5965" class = "comment">
				<p>@Brick The term "fake internet points" was meant to refer to the post that I have now linked to directly. I have no idea if there are badges this year, but in the past, the hats all go away at the end of the "bash", but reputation earned or lost doesn't.</p>
			</div>
			<div id = "comment-5966" class = "comment">
				<p>Alright. Thanks @bmike :)</p>
			</div>
			<div id = "comment-5972" class = "comment">
				<p>ahh  that means again for a month I get to use my 'facing the right way to wear a hat' avatar picture :-)</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2685"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::17</h3>
				<p><p><strong>YES</strong>, absolutely! Winter Bash for the win!</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5959" class = "comment">
				<p>Can't upvote myself...</p>
			</div>
			<div id = "comment-5960" class = "comment">
				<p>together we get one vote :-)</p>
			</div>
			<div id = "comment-5961" class = "comment">
				<p>Would upvote a 1000 times if I could!</p>
			</div>
			<div id = "comment-5962" class = "comment">
				<p>Upvoted :) I would like to see this too!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>