<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>2017 Moderator Election Q&A - Question Collection
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3059" class = "post">
			<h2>Question</h2>
			<h3>Score ::10</h3>
			<h3>Views ::130</h3>
				<h2>2017 Moderator Election Q&A - Question Collection</h2>
<p>Ask Different is scheduled for an election <a href="https://apple.stackexchange.com/election/4">next week, June 26th</a>.In connection with that, we will be holding a Q&amp;A with the candidates.  This will be an opportunity for members of the community to pose questions to the candidates on the topic of moderation.  Participation is completely voluntary.</p>

<blockquote>
  <p><strong>The purpose of this thread was to collect questions for the questionnaire. The questionnaire is now live, and you may find it <a href="https://apple.meta.stackexchange.com/questions/3083/2017-moderator-election-qa-questionnaire">here</a>.</strong></p>
</blockquote>

<p>Here's how it'll work:</p>

<ul>
<li><p>Until the nomination phase, (so, until Monday, June 26th at 20:00:00Z UTC, or 4:00 PM EST on the same day, give or take time to arrive for closure), this question will be open to collect potential questions from the users of the site. Post answers to this question containing any questions you would like to ask the candidates. Please only post <em>one question per answer</em>.</p></li>
<li><p>We, the Community Team, will be providing a small selection of generic questions. The first two will be guaranteed to be included, the latter ones are if the community doesn't supply enough questions. This will be done in a single post, unlike the prior instruction.</p></li>
<li><p>If your question contains a link, please use the syntax of <code>[text](link)</code>, as that will make it easier for transcribing for the finished questionnaire.</p></li>
<li><p>This is a perfect opportunity to voice questions that are specific to your community and issues that you are running into at current.</p></li>
<li><p>At the start of the nomination phase, the Community Team will select <strong>up to 8 of the top voted questions submitted by the community</strong> provided in this thread, to use in addition to the aforementioned 2 guaranteed questions. We reserve some editorial control in the selection of the questions and may opt not to select a question that is tangential or irrelevant to moderation or the election. That said, if I have concerns about any questions in this fashion, I will be sure to point this out in comments before the decision making time.</p></li>
<li><p>Once questions have been selected, a new question will be opened to host the actual questionnaire for the candidates, typically containing 10 questions in total.</p></li>
<li><p>This is not the only option that users have for gathering information on candidates. As a community, you are still free to, for example, hold a live chat session with your candidates to ask further questions, or perhaps clarifications from what is provided in the Q&amp;A.</p></li>
</ul>

<p>If you have any questions or feedback about this process, feel free to post as a comment here.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3059" class = 'collapse'>
			</div>
				<textarea id = "speech-3059" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3059">
					<img id="start_img-3059" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3060"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Here is a set of general questions, gathered as very common questions asked every election. As mentioned in the instructions, the first two questions are guaranteed to show up in the Q&amp;A, while the others are if there aren't enough questions (or, if you like one enough, you may split it off as a separate answer for review within the community's 8). </p>

<ul>
<li>How would you deal with a user who produced a steady stream of valuable answers, but tends to generate a large number of arguments/flags from comments? </li>
<li>How would you handle a situation where another mod closed/deleted/etc a question that you feel shouldn't have been?</li>
</ul>

<hr>

<ul>
<li>In your opinion, what do moderators do? </li>
<li>A diamond will be attached to everything you say and have said in the past, including questions, answers and comments. Everything you will do will be seen under a different light. How do you feel about that? </li>
<li>In what way do you feel that being a moderator will make you more effective as opposed to simply reaching 10k or 20k rep? </li>
</ul>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3060" class = 'collapse'>
			</div>
				<textarea id = "speech-3060" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3060">
					<img id="start_img-3060" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3069"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>How would you handle situations involving less than warm welcomes given to new users?</p>

<p>For example, a new user posts a well written first question consisting of a clearly defined problem statement, admission of a high level of domain ignorance, and a request for the proper solution methodology, but no actual attempts to tackle the problem.</p>

<p>Said question receives many downvotes and impolite comments. The asker gets upset about the situation and complains to you directly on chat and/or meta.</p>

<p>What would you do?</p>

<p>(taken from <a href="https://meta.stackexchange.com/a/220323/193295">https://meta.stackexchange.com/a/220323/193295</a>)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3069" class = 'collapse'>
			</div>
				<textarea id = "speech-3069" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3069">
					<img id="start_img-3069" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3070"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>As a moderator, your votes become binding. Actions you used to take like flagging, closing, and deleting will take effect immediately without any input from any other users or moderators.</p>

<p>How will you adapt the way you currently flag and vote to deal with this change?</p>

<p>(taken from <a href="https://meta.stackexchange.com/a/220332/193295">https://meta.stackexchange.com/a/220332/193295</a>)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3070" class = 'collapse'>
			</div>
				<textarea id = "speech-3070" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3070">
					<img id="start_img-3070" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3071"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-1</h3>
				<p><p>You see the question which was put on hold by another moderator (not with 5 votes of community). But you think that this question is good and should not be closed. What will you do?</p>

<p>(taken from <a href="https://meta.stackexchange.com/a/220457/193295">https://meta.stackexchange.com/a/220457/193295</a>)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3071">Load Comments</button></br>
			<div id = "commentsection-3071" class = 'collapse'>
			<div id = "comment-6630" class = "comment">
				<p>How does this differ from the second guaranteed question?</p>
			</div>
			<div id = "comment-6631" class = "comment">
				<p>Ah right, that's more or less the same</p>
			</div>
			</div>
				<textarea id = "speech-3071" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3071">
					<img id="start_img-3071" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3072"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>A question is asked and receives some very good answers. The asker then flags this question and asks for it to be deleted because having it up will cause them trouble at work or school. Do you delete the question?</p>

<p>(taken from <a href="https://meta.stackoverflow.com/a/289454/1088558">https://meta.stackoverflow.com/a/289454/1088558</a>)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3072" class = 'collapse'>
			</div>
				<textarea id = "speech-3072" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3072">
					<img id="start_img-3072" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3073"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-1</h3>
				<p><p>A user had done a veeery long series of Looks OK flags in Low Quality Posts without editing anything. What would you do?</p>

<p>(taken from <a href="https://meta.stackoverflow.com/a/289476/1088558">https://meta.stackoverflow.com/a/289476/1088558</a>)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3073" class = 'collapse'>
			</div>
				<textarea id = "speech-3073" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3073">
					<img id="start_img-3073" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3074"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>A diamond will be attached to everything you say and have said in the past, including questions, answers and comments. Everything you will do will be seen under a different light. How do you feel about that?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3074" class = 'collapse'>
			</div>
				<textarea id = "speech-3074" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3074">
					<img id="start_img-3074" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3075"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>If there is one thing you could/would like to change in the way the site is moderated, what would it be?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3075" class = 'collapse'>
			</div>
				<textarea id = "speech-3075" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3075">
					<img id="start_img-3075" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3080"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>In addition to <em>moderation</em> activities (e.g. dealing with flagged posts, deleting spam, etc), what other role do you see that moderators can play to improve the overall success of our community?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3080" class = 'collapse'>
			</div>
				<textarea id = "speech-3080" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3080">
					<img id="start_img-3080" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3081"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Since being a moderator requires you to commit a significant amount of your time, as well as having to perform a number of <em>mundane</em> activities, I am wondering why you've nominated for this role? What is it you feel you have to offer that makes you worthy of our trust?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3081">Load Comments</button></br>
			<div id = "commentsection-3081" class = 'collapse'>
			<div id = "comment-6632" class = "comment">
				<p>Can we split this? One question per question   both parts are good, but "seriously, why do you want this job" is different from "and why should we trust you with it."</p>
			</div>
			<div id = "comment-6633" class = "comment">
				<p>Perfectly fine with me. :)</p>
			</div>
			</div>
				<textarea id = "speech-3081" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3081">
					<img id="start_img-3081" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3082"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>As a user of this site, what would you say is the number one issue we face moving forward? And, do you have any thoughts on how we tackle that issue?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3082" class = 'collapse'>
			</div>
				<textarea id = "speech-3082" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3082">
					<img id="start_img-3082" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>