<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>2017 Moderator Election Q&A - Questionnaire
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3083" class = "post">
			<h2>Question</h2>
			<div id="vote-3083" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 426</p>
			</div>
				<h2>2017 Moderator Election Q&A - Questionnaire</h2>
<p>In connection with the moderator elections, we are holding a Q&amp;A thread for the candidates. Questions collected <a href="https://apple.meta.stackexchange.com/questions/3059/2017-moderator-election-qa-question-collection">from an earlier thread</a> have been compiled into this one, which shall now serve as the space for the candidates to provide their answers. </p>

<p>Not every question was compiled - as noted, we only selected the top 8 questions as submitted by the community, plus 2 pre-set questions from us.</p>

<p>As a candidate, your job is simple - post an answer to this question, citing each of the questions and then post your answer to each question given in that same answer. For your convenience, I will include all of the questions in quote format with a break in between each, suitable for you to insert your answers. Just <a href="https://apple.meta.stackexchange.com/revisions/c4fc82be-1c95-48aa-8bfa-a1482bd47254/view-source">copy the whole thing after the first set of three dashes</a>.Please consider putting your name at the top of your post so that readers will know who you are before they finish reading everything you have written, and also including a link to your answer on your nomination post.</p>

<p>Once all the answers have been compiled, this will serve as a transcript for voters to view the thoughts of their candidates, and will be appropriately linked in the Election page.</p>

<p>Good luck to all of the candidates!</p>

<p><strong>Oh, and when you've completed your answer, please provide a link to it after this blurb here, before that set of three dashes. Please leave the list of links in the order of submission.</strong></p>

<p>To save scrolling here are links to the submissions from each candidate (in order of submission):</p>

<p><a href="https://apple.meta.stackexchange.com/a/3085">Jackson1442</a> </p>

<p><a href="https://apple.meta.stackexchange.com/a/3086">grgarside</a> </p>

<p><a href="https://apple.meta.stackexchange.com/a/3087">Monomeeth</a> </p>

<p><a href="https://apple.meta.stackexchange.com/a/3088">Glorfindel</a></p>

<hr>

<blockquote>
  <ol>
  <li><p>How would you deal with a user who produced a steady stream of valuable answers, but tends to generate a large number of arguments/flags from comments?</p></li>
  <li><p>How would you handle a situation where another mod closed/deleted/etc a question that you feel shouldn't have been?</p></li>
  <li><p>As a moderator, your votes become binding. Actions you used to take like flagging, closing, and deleting will take effect immediately without any input from any other users or moderators.</p>
  
  <p>How will you adapt the way you currently flag and vote to deal with this change?</p></li>
  <li><p>In addition to <em>moderation</em> activities (e.g. dealing with flagged posts, deleting spam, etc), what other role do you see that moderators can play to improve the overall success of our community?</p></li>
  <li><p>As a user of this site, what would you say is the number one issue we face moving forward? And, do you have any thoughts on how we tackle that issue?</p></li>
  <li><p>Since being a moderator requires you to commit a significant amount of your time, as well as having to perform a number of <em>mundane</em> activities, I am wondering why you've nominated for this role? What is it you feel you have to offer that makes you worthy of our trust?</p></li>
  <li><p>If there is one thing you could/would like to change in the way the site is moderated, what would it be?</p></li>
  <li><p>A question is asked and receives some very good answers. The asker then flags this question and asks for it to be deleted because having it up will cause them trouble at work or school. Do you delete the question?</p></li>
  <li><p>A diamond will be attached to everything you say and have said in the past, including questions, answers and comments. Everything you will do will be seen under a different light. How do you feel about that?</p></li>
  <li><p>How would you handle situations involving less than warm welcomes given to new users?</p>
  
  <p>For example, a new user posts a well written first question consisting of a clearly defined problem statement, admission of a high level of domain ignorance, and a request for the proper solution methodology, but no actual attempts to tackle the problem.</p>
  
  <p>Said question receives many downvotes and impolite comments. The asker gets upset about the situation and complains to you directly on chat and/or meta.</p>
  
  <p>What would you do?</p></li>
  </ol>
</blockquote>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3083" class = 'collapse'>
			</div>
				<textarea id = "speech-3083" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3083">
					<img id="start_img-3083" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3085"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3085" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <ol>
  <li>How would you deal with a user who produced a steady stream of valuable answers, but tends to generate a large number of arguments/flags from comments?</li>
  </ol>
</blockquote>

<p>First, I would contact the user to see what's up. If he is in violation of the "Be Nice" policy, and is coming off as just plain rude, I will probably issue a temporary suspension. However, if the user's answers are just a little blunt, I'd just ask them to soften up what they write and ask for a few edits on some of the harsher answers.</p>

<blockquote>
  <ol start="2">
  <li>How would you handle a situation where another mod closed/deleted/etc a question that you feel shouldn't have been?</li>
  </ol>
</blockquote>

<p>I'd contact the mod. Hopefully, this is simply a mistake - a misclick, anything. If not, I'm sure we can sort it out, because the other mod will have a valid reason for whatever they did. I believe that <strong>communication is key</strong>, so communication is almost always the first step for me.</p>

<blockquote>
  <ol start="3">
  <li><p>As a moderator, your votes become binding. Actions you used to take like flagging, closing, and deleting will take effect immediately without any input from any other users or moderators.</p>
  
  <p>How will you adapt the way you currently flag and vote to deal with this change?</p></li>
  </ol>
</blockquote>

<p>It shouldn't really affect much of what I do. I only flag things that have serious issues, and edit things that have minor issues. If I'm not sure, I leave it for others to take a pass at. Like I said, I don't over-flag, but I think this <em>will</em> make me make some tough decisions that require the input of others.</p>

<blockquote>
  <ol start="4">
  <li>In addition to <em>moderation</em> activities (e.g. dealing with flagged posts, deleting spam, etc), what other role do you see that moderators can play to improve the overall success of our community?</li>
  </ol>
</blockquote>

<p>I think moderators need to take some time and help promote the site, which is what I'll try to do. We also need to keep the site active and encourage users to earn more rep and answer more questions.</p>

<blockquote>
  <ol start="5">
  <li>As a user of this site, what would you say is the number one issue we face moving forward? And, do you have any thoughts on how we tackle that issue?</li>
  </ol>
</blockquote>

<p>I think the biggest problem we face now as a site is that user's aren't being very active. I think we should encourage users to ask more questions, answer more questions, and reach those high-reputation marks.</p>

<blockquote>
  <ol start="6">
  <li>Since being a moderator requires you to commit a significant amount of your time, as well as having to perform a number of <em>mundane</em> activities, I am wondering why you've nominated for this role? What is it you feel you have to offer that makes you worthy of our trust?</li>
  </ol>
</blockquote>

<p>Like most people on this site, what I really want to do is help other people. The main reason I stayed on this site is that I asked a question and people were eager to help me - and I liked that. I want to help others the way this site has helped me, only now by keeping it clean, organized, and helpful.</p>

<blockquote>
  <ol start="7">
  <li>If there is one thing you could/would like to change in the way the site is moderated, what would it be?</li>
  </ol>
</blockquote>

<p><em>I honestly can't think of anything.</em> 
<br> I just want the mods to remain active, and since people have other things happening in their life than Ask Different, a growing mod staff is always helpful. I've never had a problem with site moderation.</p>

<blockquote>
  <ol start="8">
  <li>A question is asked and receives some very good answers. The asker then flags this question and asks for it to be deleted because having it up will cause them trouble at work or school. Do you delete the question?</li>
  </ol>
</blockquote>

<p><strong>No, but there are things we can do about it.</strong> For situations like these, there are two options:</p>

<ol>
<li>We disassociate the answer from the user. Their name is no longer shown - problem solved.</li>
<li>We can also make edits to the question to remove sensitive information and redact the revision history. This same approach will be used when we need to remove personal information about users (IP, email, passwords, you have it).</li>
</ol>

<p>Sometimes we can use a combination of both tools when/if someone posts confidential information about their work that can get them in trouble.</p>

<blockquote>
  <ol start="9">
  <li>A diamond will be attached to everything you say and have said in the past, including questions, answers and comments. Everything you will do will be seen under a different light. How do you feel about that?</li>
  </ol>
</blockquote>

<p>I don't have any problem with it. I have tried to always be polite and respectful in my comments, and have written some well thought out answers, so I think this diamond will actually help other people see the things I wrote.</p>

<blockquote>
  <ol start="10">
  <li><p>How would you handle situations involving less than warm welcomes given to new users?</p>
  
  <p>For example, a new user posts a well written first question consisting of a clearly defined problem statement, admission of a high level of domain ignorance, and a request for the proper solution methodology, but no actual attempts to tackle the problem.</p>
  
  <p>Said question receives many downvotes and impolite comments. The asker gets upset about the situation and complains to you directly on chat and/or meta.</p>
  
  <p>What would you do?</p></li>
  </ol>
</blockquote>

<p>Like I said earlier, <strong>communication is key.</strong> StackExchange is not your average forum - I was confused by the rules and restrictions too when I first joined. All I think this situation requires is explaining what the problem is and helping them find all the other rules that they should be aware of. This isn't like other places where you can write <code>MEE 2 PLZ HLP</code> as a comment or answer, and that's confusing to some people, so I think an explanation of the rules and SE etiquette is in order.</p>

<p>As for the impolite comments, those will be removed and warnings may be issued.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3085" class = 'collapse'>
			</div>
				<textarea id = "speech-3085" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3085">
					<img id="start_img-3085" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3086"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3086" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>George's answers @grgarside</h1>

<blockquote>
  <ol>
  <li>How would you deal with a user who produced a steady stream of valuable answers, but tends to generate a large number of arguments/flags from comments?</li>
  </ol>
</blockquote>

<p>No one is exempt from <a href="https://apple.stackexchange.com/help/be-nice">being nice</a>. Thankfully, inappropriate behaviour is something rarely seen here (separate from spam, which is something <a href="https://chat.stackexchange.com/transcript/message/35637558">Ask Different suffers heavily from</a>), let alone from someone with an otherwise good contribution history.</p>

<p>However, should it come to it, I would attempt to work with them, letting them know some of their contributions are not being well-received, ensuring their future contributions adhere to the code of conduct. Hopefully this will have the desired effect, but if not, a suspension is a likely course of action. One hopes this won t often be necessary.</p>

<blockquote>
  <ol start="2">
  <li>How would you handle a situation where another mod closed/deleted/etc a question that you feel shouldn't have been?</li>
  </ol>
</blockquote>

<p>As with anyone, I would raise it with the person who performed the action. There can be more to something than initially appears, or I ve missed something in the way I ve viewed the issue. Either way, this has always solved such discrepancies in the past and I would continue in this manner.</p>

<blockquote>
  <ol start="3">
  <li><p>As a moderator, your votes become binding. Actions you used to take like flagging, closing, and deleting will take effect immediately without any input from any other users or moderators.</p>
  
  <p>How will you adapt the way you currently flag and vote to deal with this change?</p></li>
  </ol>
</blockquote>

<p>I am familiar with binding votes through my two gold tag badges in the most popular tags on the site and the ability this provides to close questions as duplicate. Furthermore, I strive to be as accurate as possible with my flags in general; I have a 99% post flag accuracy on 3k flags and I encourage anyone to raise with me any queries regarding the actions I take at any time.</p>

<blockquote>
  <ol start="4">
  <li>In addition to <em>moderation</em> activities (e.g. dealing with flagged posts, deleting spam, etc), what other role do you see that moderators can play to improve the overall success of our community?</li>
  </ol>
</blockquote>

<p>Moderators are still normal people in the community. The moderators on this site are extremely knowledgeable on Apple topics and contribute greatly to providing answers, directly helping people who come to the site looking for help with their issue. I look to continue providing answers to your Apple questions, assisting in the core principle of the site: Q&amp;A.</p>

<blockquote>
  <ol start="5">
  <li>As a user of this site, what would you say is the number one issue we face moving forward? And, do you have any thoughts on how we tackle that issue?</li>
  </ol>
</blockquote>

<p>Tags. The tagging system is a reasonable way to find questions in a certain category, but at the moment it s not an excellent way. Inappropriate use of tags is one thing and is regularly fixed through editing, but there are plenty of other structural tag issues, many of which lead to the incorrect tagging. I regularly <a href="https://apple.meta.stackexchange.com/search?tab=newest&amp;q=user%3a37797%20%5btags%5d%20is%3aquestion">raise issues with tags on meta</a>, but understandably there doesn t seem to be much priority placed on them, exemplified by the regular automatic freezing of the tag chat room due to inactivity. The existing tools for dealing with this are unused by the majority: there s barely a single tag synonym vote, let alone a synonym which went through without mod intervention. Yet despite this, tags are used by a large number of people to track and subscribe to various topics, so I think more could be done with improving how tags are organised on the site with proper synonyms and tag wiki.</p>

<blockquote>
  <ol start="6">
  <li>Since being a moderator requires you to commit a significant amount of your time, as well as having to perform a number of <em>mundane</em> activities, I am wondering why you've nominated for this role? What is it you feel you have to offer that makes you worthy of our trust?</li>
  </ol>
</blockquote>

<p>Ask Different is an amazing community, I ve learned so much over the years and enjoy repaying this where I can by contributing my knowledge; problem solving is very rewarding. Part of that transcends to moderation duties including reviewing and flagging   helping make things in order is rewarding in itself, especially when that helps as many people as a site like Ask Different does on a daily basis.</p>

<p>As for the trust aspect of this question, it might be a British thing but if someone says  trust me , you probably shouldn t. I d like to suggest <a href="https://apple.stackexchange.com/users/37797/grgarside?tab=profile">my actions</a> speak for themselves on this.</p>

<blockquote>
  <ol start="7">
  <li>If there is one thing you could/would like to change in the way the site is moderated, what would it be?</li>
  </ol>
</blockquote>

<p>The moderators, past and present, have done a wonderful job of keeping the site in order for many years. I am extremely grateful of the work the moderator team has done, both behind the scenes and in their contributions to Q&amp;A, both of which lead me like many others to discover this site and what it has to offer. A very minor point I could raise for this question would be that, in more recent years, there are occasional lapses in the level of communication over meta posts on topics brought up by the community. I m sure with the addition of moderators from this election, in an effort to continue the excellent work of those departed over the years, will bring a temperate faster pace.</p>

<blockquote>
  <ol start="8">
  <li>A question is asked and receives some very good answers. The asker then flags this question and asks for it to be deleted because having it up will cause them trouble at work or school. Do you delete the question?</li>
  </ol>
</blockquote>

<p>I do not delete the question, as there are generally other ways of dealing with such a problem. Since the contribution was licensed under Creative Commons, Stack Exchange does not need to remove the post.</p>

<ol>
<li>The question can be edited to remove information which is causing the issue and which is only secondary to the problem. This would mean the question could remain without causing problems due to the extraneous information provided.</li>
<li>Editing can also be used to replace proprietary details with other information which still demonstrates or explains the problem appropriately, but does not infringe on the content causing issue.</li>
<li>Depending on the situation, post disassociation may be suitable if the issue is with the link back to the particular person or their subsequent links elsewhere. This removes the ties between the person and the content causing issue.</li>
<li>A recent moderator ability is revision redaction (previously requiring CM intervention). This is useful for cleaning up a post where an edit resolves the problem but the revision history retains the issue.</li>
</ol>

<blockquote>
  <ol start="9">
  <li>A diamond will be attached to everything you say and have said in the past, including questions, answers and comments. Everything you will do will be seen under a different light. How do you feel about that?</li>
  </ol>
</blockquote>

<p>I always do my upmost to be respectful and appropriate with my contributions, for posts as well as other media such as comments or chat. As such I have no problem with any of my past actions on the site and aim to continue that in the future.</p>

<blockquote>
  <ol start="10">
  <li><p>How would you handle situations involving less than warm welcomes given to new users?</p>
  
  <p>For example, a new user posts a well written first question consisting of a clearly defined problem statement, admission of a high level of domain ignorance, and a request for the proper solution methodology, but no actual attempts to tackle the problem.</p>
  
  <p>Said question receives many downvotes and impolite comments. The asker gets upset about the situation and complains to you directly on chat and/or meta.</p>
  
  <p>What would you do?</p></li>
  </ol>
</blockquote>

<p>Driving users away from a site is something everyone wants to avoid as much as possible. Situations like the one given in the question make users feel frustrated and encourage them to pursue other options. I would remove inappropriate comments from the post and work with the person to refine their question. Chat is a good place for this and in my opinion is under-utilised on Ask Different for helping people with such issues. There is a difference between someone not knowing how to start with a question despite much research, and someone unwilling to put in the effort in the first place to try   chat is a good way to provide pointers in the right direction either way, such that the question and therefore the problem can be rectified.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3086">Load Comments</button></br>
			<div id = "commentsection-3086" class = 'collapse'>
			<div id = "comment-6640" class = "comment">
				<p>Congratulations George! You finally have the perfect [candidate score](http://imgur.com/TGhCukT)! :)</p>
			</div>
			</div>
				<textarea id = "speech-3086" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3086">
					<img id="start_img-3086" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3087"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3087" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://stackexchange.com/users/5474807">
<img src="https://stackexchange.com/users/flair/5474807.png?theme=clean" width="208" height="58" alt="profile for Monomeeth on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Monomeeth on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a></p>

<blockquote>
  <ol>
  <li>How would you deal with a user who produced a steady stream of valuable answers, but tends to generate a large number of arguments/flags from comments?</li>
  </ol>
</blockquote>

<p>My first point of call would be to touch base with our existing moderators. I d want to know what precedent has been established for this type of scenario. I d be surprised if there isn t one, but if that were the case I d still assume the moderators were already aware of this particular user, so I d want to try and reach consensus with them first on the way forward.</p>

<p>However, if I was the only moderator available, my approach would be to invite the user to a private chat and try to build some sort of rapport with them. I d be sure to start on a positive note (such as commending them on the time they spend formulating such good quality answers). Then, when bringing up the issue at hand, I d want to give them the opportunity to express their thoughts on what was going on, and give them the chance to suggest a way forward. Basically, I d try to find some sort of common ground so that we could avoid a suspension.</p>

<p>Either way, after a bit of an uncomfortable conversation such as this, I d want to finish off on a more positive note. I d be sure to remind them just how valued their answers are and how much we appreciate their efforts. My hope would be that this approach will achieve a win-win situation for the community as a whole.</p>

<blockquote>
  <ol start="2">
  <li>How would you handle a situation where another mod closed/deleted/etc a question that you feel shouldn't have been?</li>
  </ol>
</blockquote>

<p>I ve always been a team player and get along with most people, so I would just ask them about it. This way we d quickly establish what their reasoning was and, if I had an alternative view, I d be able to express that as well. If an error was made I m sure the other mod would change it themselves. In the end, I think we d generally reach a consensus one way or the other. </p>

<blockquote>
  <ol start="3">
  <li><p>As a moderator, your votes become binding. Actions you used to take like flagging, closing, and deleting will take effect immediately without any input from any other users or moderators.</p>
  
  <p>How will you adapt the way you currently flag and vote to deal with this change?</p></li>
  </ol>
</blockquote>

<p>I always try to take a Stop-Think-Do approach to most things, so I don t think I ll need to adapt how I currently flag and vote. In fact, 99% of all my flags have been rated as <em>helpful</em> by the existing mods. I m happy with that and hope to continue that standard regardless of whether I'm elected as a moderator.</p>

<blockquote>
  <ol start="4">
  <li>In addition to <em>moderation</em> activities (e.g. dealing with flagged posts, deleting spam, etc), what other role do you see that moderators can play to improve the overall success of our community?</li>
  </ol>
</blockquote>

<p>My view is that the number 1 thing moderators can do is to lead by example.</p>

<p>Some ways of doing this are easy to measure (e.g. answering questions, dealing with flags, deleting spam, editing posts, and so on).</p>

<p>Other ways are not so obvious. </p>

<p>For example, I think moderators have a role to play trying to calm things down if they come across a heated debate in comments (e.g. posting a comment like <em>I think it s great you re all so passionate, but can we please agree to focus on the specifics of the question rather than getting bogged down in a debate about </em>). </p>

<p>This type of thing is hard to measure, but it's definitely a role that moderators can play.</p>

<blockquote>
  <ol start="5">
  <li>As a user of this site, what would you say is the number one issue we face moving forward? And, do you have any thoughts on how we tackle that issue?</li>
  </ol>
</blockquote>

<p>George (@grgarside) has already raised the issue of tags and I tend to agree as I find myself regularly changing the tags used on questions. So I like what George has to say about this and would support his approach.</p>

<p>However, for me the number one issue is improving engagement between users and the site. I'll try and explain what I m getting at:</p>

<p>Since its launch, Ask Different has had over 164,000 registered users. Of these, only 0.024% of them have ever reached a reputation score of 200. Using the last 30 days as an example, we ve had 2,930 new registrations in that time. Of these, 2,540 (86.7%) were totally new to the Stack Exchange network. Unfortunately, only 180 (that s 0.07%) of these now have a reputation above 1.</p>

<p>Now, how is this the case? Is it just that the site has an issue of low voting? Or, is it because the overwhelming majority of new users don t ask and/or answer questions? </p>

<p>For me, the only way to tackle this type of thing is to measure it. I believe if we can measure it, we can improve it. So if I m elected as a moderator one of my side projects would be to really start measuring/analysing site usage and trying to work back from there. If it s clear that we need to encourage voting, then we d try to find ways to educate users on how important voting is. If it s something else, then we tackle that. </p>

<p>This is just one issue (e.g. about one-third of the site's questions - that's over 26,000 - remain unanswered, likewise many questions/answers have no votes whatsoever, and so on).</p>

<p>The point is, unless we do the analysis to begin with, how will we ever know? </p>

<blockquote>
  <ol start="6">
  <li>Since being a moderator requires you to commit a significant amount of your time, as well as having to perform a number of <em>mundane</em> activities, I am wondering why you've nominated for this role? What is it you feel you have to offer that makes you worthy of our trust?</li>
  </ol>
</blockquote>

<p>I ve just checked and I ve been active on the site for 444 days, and I ve actually visited the site for the last 300 consecutive days. So I guess I m already investing a fair bit of my time here. </p>

<p>If I m elected, it ll probably be more about how I reprioritise that time. In terms of mundane activities, well, I ve already been doing most of these types of things anyway (reviews, edits, flagging, etc), as I m sure many other users can relate to as well.</p>

<p>So I m putting myself forward because I feel I can contribute to the success and growth of the site. For example:</p>

<ul>
<li>I have an analytical mind and like measuring things to see how we can do them better. As a user I ve already started thinking about the site and how it s being used. </li>
<li>I m already contemplating ways to improve engagement. For examples, see these meta posts: <a href="https://apple.meta.stackexchange.com/q/3041/168832">WWDC Keynote Live Chat Event</a>  and <a href="https://apple.meta.stackexchange.com/q/3036/168832">Ask Different Blog</a>.</li>
</ul>

<p><strong>So, why am I worthy of your trust?</strong></p>

<p>For starters, this is not a power grab for me. I hadn't considered nominating for a moderator until recently when one of the current moderators mentioned they hoped I d volunteer. So for me, being a moderator isn t something I've been working towards for any sort of personal gain, or just as part of some sort of ego trip - it's really more a calling to serve.</p>

<p>Along with many of you, I have dedicated a lot of time to making this site the wonderful resource it is. Anyone here can go back and read the entire history of my <a href="https://apple.stackexchange.com/users/168832/monomeeth?tab=answers">answers</a> and/or <a href="https://apple.stackexchange.com/users/168832/monomeeth?tab=activity&amp;sort=comments">comments</a> and see for themselves that I ve always tried to help users, and I m not shy to encourage them. I m also a prolific voter of both questions and answers, regardless of whether the user was above or below me in the ranks. </p>

<p>Other examples of me putting the site first include my volunteering to:</p>

<ul>
<li>allow <a href="https://meta.stackexchange.com/questions/291301/can-a-machine-be-taught-to-flag-spam-automatically?cb=1">Smoke Detector</a> to use my account to flag spam automatically</li>
<li>be part of the <a href="https://crowdcrafting.org/project/sehttpimagescleanup/" rel="nofollow noreferrer">crowdcrafting effort</a> to cleanup Stack Exchange s HTTP images.</li>
</ul>

<p>While the above doesn t necessarily prove I m worthy of your trust, it does show my motivations have been to put the site first.</p>

<blockquote>
  <ol start="7">
  <li>If there is one thing you could/would like to change in the way the site is moderated, what would it be?</li>
  </ol>
</blockquote>

<p>The current moderators do a fantastic job. So much so that when this election was called, my first reaction was to jump straight into Chat and ask why we were having an election. That s because things generally run very well.</p>

<p>However, there are two things that could be improved:</p>

<ol>
<li><p>Having more time to manage meta posts, as some of these do require a bit of follow-up work. Sometimes these are followed up pretty quickly, and other times they re left sitting there with no real resolution. I do not blame the current moderators for this, I genuinely believe this is just a consequence of the fact we ve only had <a href="https://apple.stackexchange.com/users?tab=moderators">four moderators</a> for quite a while now. By way of comparison, the <a href="https://mathoverflow.net/users?tab=moderators">MathOverflow</a> site basically has the same number of questions and answers as we do, but has seven active moderators.</p></li>
<li><p>Having a moderator presence on a 24/7 basis whenever possible. At present we have four moderators, three based in the US and one in Europe. As someone who lives in Australia, I regularly find there s a bit of a gap in terms of coverage. This isn t usually a problem as we all have a role to play in moderation, but if we had some more time zones covered it can only be a good thing.</p></li>
</ol>

<p>The first point, and maybe even the second, will be rectified simply by having these elections.</p>

<blockquote>
  <ol start="8">
  <li>A question is asked and receives some very good answers. The asker then flags this question and asks for it to be deleted because having it up will cause them trouble at work or school. Do you delete the question?</li>
  </ol>
</blockquote>

<p>The short answer is no, especially since users have gone to the trouble to provide some very good answers. Instead, I d invite the OP into chat and ask them what specifically could create problems for them. This allows us to address the issue. For example, the question itself can be edited to remove any offending elements. Likewise, the OP s profile can be edited to remove any identifying information. Regardless, I m sure we d be able to find a resolution that didn t require the need to delete the question.</p>

<blockquote>
  <ol start="9">
  <li>A diamond will be attached to everything you say and have said in the past, including questions, answers and comments. Everything you will do will be seen under a different light. How do you feel about that?</li>
  </ol>
</blockquote>

<p>I d feel no different to how I do now.</p>

<p>As I mentioned previously, anyone can go back and read the entire history of my <a href="https://apple.stackexchange.com/users/168832/monomeeth?tab=answers">answers</a>,  <a href="https://apple.stackexchange.com/users/168832/monomeeth?tab=activity&amp;sort=comments">comments</a> etc, and see for themselves that I ve always conducted myself appropriately. I basically aim to always help users whenever possible, so having a diamond next to my name isn t going to change that.</p>

<blockquote>
  <ol start="10">
  <li><p>How would you handle situations involving less than warm welcomes given to new users?</p>
  
  <p>For example, a new user posts a well written first question consisting of a clearly defined problem statement, admission of a high level of domain ignorance, and a request for the proper solution methodology, but no actual attempts to tackle the problem.</p>
  
  <p>Said question receives many downvotes and impolite comments. The asker gets upset about the situation and complains to you directly on chat and/or meta.</p>
  
  <p>What would you do?</p></li>
  </ol>
</blockquote>

<p>Firstly I d review the question and comments. Any inappropriate comments would be deleted and I d apologise on behalf of the community for any offence caused. 
Finally, I would try to help the user to reformulate their question so we could get things back on track.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3087">Load Comments</button></br>
			<div id = "commentsection-3087" class = 'collapse'>
			<div id = "comment-6635" class = "comment">
				<p>Nice answers, but I m no Greg though, my name s George!</p>
			</div>
			<div id = "comment-6636" class = "comment">
				<p>@grgarside D'oh! I knew that! LOL</p>
			</div>
			</div>
				<textarea id = "speech-3087" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3087">
					<img id="start_img-3087" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3088"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3088" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here are my (<a href="https://apple.stackexchange.com/election/4#post-288564">Glorfindel</a>'s) answers to your questions:</p>

<hr>

<blockquote>
  <ol>
  <li>How would you deal with a user who produced a steady stream of valuable answers, but tends to generate a large number of arguments/flags from comments?</li>
  </ol>
</blockquote>

<p><a href="/help/be-nice">Be Nice</a> is very important to the success of Stack Exchange; more important than posting good answers (or questions, for that matter). I'd remind this user (in a polite but strict way) to change their behaviour or face the consequences in the form of a suspension. There are enough other users who can write those valuable answers instead.</p>

<blockquote>
  <ol start="2">
  <li>How would you handle a situation where another mod closed/deleted/etc a question that you feel shouldn't have been?</li>
  </ol>
</blockquote>

<p>I'd discuss this with them in a private chatroom. I might bring in a third (or fourth) moderator as well if I feel we need to make a tough decision, so that it can be a decision of a majority. There's no need doing this in public and risk harming the trust the community has in the moderator team.</p>

<blockquote>
  <ol start="3">
  <li><p>As a moderator, your votes become binding. Actions you used to take like flagging, closing, and deleting will take effect immediately without any input from any other users or moderators.</p>
  
  <p>How will you adapt the way you currently flag and vote to deal with this change?</p></li>
  </ol>
</blockquote>

<p>From what I've seen, the community already does a decent job of moderating this site. My job as a moderator would be mainly to <em>guide</em> that, and not make unilateral decisions, unless strictly necessary. A   moderator is a <em>representative</em> of the community, not a <em>ruler</em>; if the community thinks something is worth keeping (open), I'm willing to forego my personal opinions. I'd probably end up <kbd>Skip</kbd>ping more reviews than I usually do.</p>

<blockquote>
  <ol start="4">
  <li>In addition to <em>moderation</em> activities (e.g. dealing with flagged posts, deleting spam, etc), what other role do you see that moderators can play to improve the overall success of our community?</li>
  </ol>
</blockquote>

<p>The following isn't limited to moderators; it concerns all users. But I believe moderators should lead by example:</p>

<ul>
<li>Increase participation

<ul>
<li>This starts with welcoming other users, so that they're more likely to stick around.</li>
<li>"Being nice" helps tremendously in the long run.</li>
<li>I'm not necessarily trying to draw people away from Super User, but I see a lot of Mac questions there that would fit here perfectly.</li>
<li>I like the idea of organizing chat events around Apple's keynotes. I'm sorry I wasn't around the previous time this happened.</li>
</ul></li>
<li>Represent the interests of Ask Different across the network. (I can't think of something specific right now, to be honest.)</li>
<li>Sometimes, we spot certain trends (e.g. a sudden spike in the number of questions about a single topic). We should think of a solution (e.g. creating one or two canonical questions) and propose this on Meta, so that the community can chime in and decide.</li>
</ul>

<blockquote>
  <ol start="5">
  <li>As a user of this site, what would you say is the number one issue we face moving forward? And, do you have any thoughts on how we tackle that issue?</li>
  </ol>
</blockquote>

<p>We have a very low (69%) of <a href="https://stackexchange.com/sites#percentanswered">questions which are answered</a> &lt;-- you have to scroll down a bit, alas. For comparison: one of the (not always enforced) criteria for graduation of a beta site is that it must have an answered percentage of at least 80%. 90% or higher is considered healthy.</p>

<p>This can have two possible reasons: we have too many questions, or too few people able to answer those questions (or close them as a duplicate of a canonical question   closed questions don't count in that metric). If it's the first, we should focus on increasing the chance that a (new) user is able to solve his/her problem with the vast number of questions we already have. The second is probably harder, and would mean we probably need more knowledgeable people here.</p>

<blockquote>
  <ol start="6">
  <li>Since being a moderator requires you to commit a significant amount of your time, as well as having to perform a number of <em>mundane</em> activities, I am wondering why you've nominated for this role? What is it you feel you have to offer that makes you worthy of our trust?</li>
  </ol>
</blockquote>

<p>As indicated in my <a href="https://apple.stackexchange.com/election/4#post-288564">nomination</a>, I love moderating. I have been doing a lot of mundane tasks <em>behind the scenes</em>; not being in the spotlight works right for 95% of the time. For the other 5%, it's useful to have a   behind your name. I'm offering to work hard, just as I've done in the past.</p>

<blockquote>
  <ol start="7">
  <li>If there is one thing you could/would like to change in the way the site is moderated, what would it be?</li>
  </ol>
</blockquote>

<p>I don't think major changes are needed. Sometimes, my Not-An-Answer flags on "I'm having the same problem, did you solve it?" take quite long to be processed, but I guess the election will take care of this, by increasing the number of moderators and the hours that they are available. (And to be honest, those posts are annoying but not really harmful.)</p>

<p>I mentioned some areas in need of attention under point 4, but those do not really fall under <em>moderation</em>, and are shared responsibilities between the   moderators and other community members.</p>

<blockquote>
  <ol start="8">
  <li>A question is asked and receives some very good answers. The asker then flags this question and asks for it to be deleted because having it up will cause them trouble at work or school. Do you delete the question?</li>
  </ol>
</blockquote>

<p>No. By signing up and posting content on Stack Exchange, the user has granted a non-revocable right, under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow noreferrer">CC BY-SA 3.0 license</a>, for SE to distribute that content. I'd explain that to the user (licenses can be tricky material) and ask them to submit a <em>disassociation request</em> via the contact us form (that can only be performed by Stack Overflow staff, not by  s). This will keep the valuable content but remove the association with the user. In addition, if the post contains Personally Identifiable Information, I'll redact it if necessary (so that it doesn't end up in the revision history).</p>

<blockquote>
  <ol start="9">
  <li>A diamond will be attached to everything you say and have said in the past, including questions, answers and comments. Everything you will do will be seen under a different light. How do you feel about that?</li>
  </ol>
</blockquote>

<p>Yes. I always try to Be Nice to all people, even if I think they have bad ideas or opinions which I can outright refute. <strong>Respect</strong> is the keyword for building a community where everybody is welcome. I have certainly made some mistakes in the past, but that only proves I'm human and <a href="https://chat.stackexchange.com/transcript/11540?m=38051363#38051363">not an AI</a>.</p>

<blockquote>
  <ol start="10">
  <li><p>How would you handle situations involving less than warm welcomes given to new users?</p>
  
  <p>For example, a new user posts a well written first question consisting of a clearly defined problem statement, admission of a high level of domain ignorance, and a request for the proper solution methodology, but no actual attempts to tackle the problem.</p>
  
  <p>Said question receives many downvotes and impolite comments. The asker gets upset about the situation and complains to you directly on chat and/or meta.</p>
  
  <p>What would you do?</p></li>
  </ol>
</blockquote>

<p>"This question does not show any research effort" is a good reason to downvote a question (it's on the downvote tooltip), and I support the <a href="https://apple.meta.stackexchange.com/q/3030/121968">No Research</a> close reason (which would put the question <em>on hold</em> so that it can be improved   many people forget about that). I'd try to make clear (in a respectful manner) to the user <em>why</em> we don't allow/like these types of questions on Stack Exchange, and discuss together how to improve his/her question (e.g. by suggesting some avenues to explore). Chat is a perfect medium for that because it's interactive.</p>

<p>Impolite comments can always be flagged and, if necessary, reposted (with attribution) keeping the constructive bits.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3088">Load Comments</button></br>
			<div id = "commentsection-3088" class = 'collapse'>
			<div id = "comment-6646" class = "comment">
				<p>The % of questions with answers is something I look forward to discussing once we have some new moderators. One thing we don t have a large group doing is making  canonical  questions. I think since Ask Different is primarily a consumer focused site - well over half the questions are basic troubleshooting / triage. If the higher rep users came together and strategically got the canonical answers set - closing a higher proportion of answers as dupe of solid questions with even more solid answers would get that percentage up in a healthy and sustainable manner.</p>
			</div>
			</div>
				<textarea id = "speech-3088" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3088">
					<img id="start_img-3088" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>