<html>
	<head>
		<title id = 'pagetitle'>2017 Community Moderator Election Results
		</title>
	<head>
	<body id = 'pagebody'><p>Ask Different's <a href="https://apple.stackexchange.com/election/4">4th moderator election</a> has come to a close, the votes have been tallied, and the 3 new moderators are:</p>

<p><a href="https://apple.stackexchange.com/users/37797"><img src="https://apple.stackexchange.com/users/flair/37797.png" alt="grgarside"></a> <a href="https://apple.stackexchange.com/users/168832"><img src="https://apple.stackexchange.com/users/flair/168832.png" alt="Monomeeth"></a> <a href="https://apple.stackexchange.com/users/121968"><img src="https://apple.stackexchange.com/users/flair/121968.png" alt="Glorfindel"></a> </p>

<p>They'll be joining <a href="https://apple.stackexchange.com/users?tab=moderators">the existing crew</a> shortly   please thank them for volunteering, and share your assistance and advice with them as they learn the ropes!</p>

<p>For details on how the voting played out, you can download the election results <a href="https://apple.stackexchange.com/election/4">here</a>, or <a href="https://www.opavote.com/results/5636392960917504/0" rel="nofollow noreferrer">view a summary report online</a>.</p>


<h1>ANSWERS</h1>
			</body>
</html>