<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>2500 reputation is a high requirement for just suggest tag synonyms
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-704" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::81</h3>
				<h2>2500 reputation is a high requirement for just suggest tag synonyms</h2>
<p>Suggesting tag synonyms requires 2500 reputation which seems REALLY steep for something so basic. It's strange because there is a badge for 3 such suggestions yet it's only considered a <em>bronze</em> badge.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-704">Load Comments</button></br>
			<div id = "commentsection-704" class = 'collapse'>
			<div id = "comment-1263" class = "comment">
				<p>I've seen... An utterly *ridiculous* amount of drama surrounding certain tag synonyms. Yes, it's basic - but that doesn't mean "uncontroversial"!</p>
			</div>
			</div>
				<textarea id = "speech-704" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-704">
					<img id="start_img-704" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-705"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>2500 may seem high now, but 2 or 3 years from now, I assure you -- it won't.</p>

<p>The limit is there to ensure that truly <em>experienced</em> users are coordinating on the tags, which are the primary organizational system on the site.</p>

<p>It's OK if only a few users and the moderators are making these decisions now; as the site grows, more people will gain the privilege and can contribute to the process.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-705">Load Comments</button></br>
			<div id = "commentsection-705" class = 'collapse'>
			<div id = "comment-1278" class = "comment">
				<p>2 or 3 years to make AirPort a synonym to Wi-Fi... That's a bit steep...</p>
			</div>
			<div id = "comment-1292" class = "comment">
				<p>It's not that nobody can create synonyms today. This is also the reason why  s (Community Mods) exist.</p>
			</div>
			</div>
				<textarea id = "speech-705" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-705">
					<img id="start_img-705" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>