<html>
	<head>
		<title id = 'pagetitle'>2500 reputation is a high requirement for just suggest tag synonyms
		</title>
	<head>
	<body id = 'pagebody'><p>Suggesting tag synonyms requires 2500 reputation which seems REALLY steep for something so basic. It's strange because there is a badge for 3 such suggestions yet it's only considered a <em>bronze</em> badge.</p>


<h1>ANSWERS</h1>
		<p>2500 may seem high now, but 2 or 3 years from now, I assure you -- it won't.</p>

<p>The limit is there to ensure that truly <em>experienced</em> users are coordinating on the tags, which are the primary organizational system on the site.</p>

<p>It's OK if only a few users and the moderators are making these decisions now; as the site grows, more people will gain the privilege and can contribute to the process.</p>


	</body>
</html>