<html>
	<head>
		<title id = 'pagetitle'>404 Image Nominations
		</title>
	<head>
	<body id = 'pagebody'><p>According to the <a href="http://blog.stackoverflow.com/2010/07/the-7-essential-meta-questions-of-every-beta/">Top 7</a>, we need to select a 404 image - an image that will be displayed when users try to bring up a page that does not exist.</p>

<p>Please quote the source so the team can negotiate rights if necessary.</p>

<p><sub>* this post is a verbatim copy of the one on meta.unix.stackexchange.com... I'm not particularly creative but we should start thinking about this: <a href="https://unix.meta.stackexchange.com/questions/120/404-image-nominations">https://unix.meta.stackexchange.com/questions/120/404-image-nominations</a></sub></p>


<h1>ANSWERS</h1>
		<p>Here's my shot at it:</p>

<p><img src="https://i.stack.imgur.com/qNidL.png" alt="alt text"></p>

<p>Yanked from <a href="http://macamour.com/blog/wp-content/uploads/2008/05/macosx_kernel_panic.png" rel="nofollow noreferrer">http://macamour.com/blog/wp-content/uploads/2008/05/macosx_kernel_panic.png</a></p>


<p>We could use the image that a Mac uses when it can't find the startup drive:</p>

<p><img src="http://www.cultofmac.com/wordpress/wp-content/uploads/2010/07/mac-queston-mark2.jpg" alt=""></p>

<p>It's a little small, but we could scale it/pad it with gray.</p>


<p><img src="http://img.thedailywtf.com/images/mark/errord/072310/apiepicfail.png" alt=""></p>


<p>I think a picture of bill gates 
<a href="http://upload.wikimedia.org/wikipedia/commons/2/2a/Bill_Gates_in_WEF_%2C2007.jpg" rel="nofollow">http://upload.wikimedia.org/wikipedia/commons/2/2a/Bill_Gates_in_WEF_%2C2007.jpg</a>
Or a windows logo will be good. 
That or one of those Windows error messages that says something like "error: process completed successfully".  </p>

<p>(yes I do realise this is apple.SE but apple things <em>never</em> go wrong ;) )</p>

<p>EDIT: or something similar to this picture <a href="http://cdn.ghacks.net/wp-content/uploads/2009/11/win-eating-apple.jpg" rel="nofollow">http://cdn.ghacks.net/wp-content/uploads/2009/11/win-eating-apple.jpg</a> or in reverse. </p>


<p><img src="https://i.stack.imgur.com/qIYpH.png" alt="enter image description here"></p>


	</body>
</html>