<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'><pre> elements on blog don't scroll for overflow-x
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2><pre> elements on blog don't scroll for overflow-x</h2>
<p>On Ask Different, content in a <code>&lt;pre&gt;</code> element that is wider than the box will cause the box to scroll (CSS <code>overflow-x: scroll;</code>).</p>

<p>On the Ask Different Blog, that doesn't happen. The too-wide content just overflows out of the box:</p>

<p><img src="https://i.stack.imgur.com/DMzVt.png" alt="enter image description here"></p>

<p>You can see the problem live on <a href="http://apple.blogoverflow.com/2011/10/applescript-sales-tax-calculator-variables-operations-and-comments/" rel="nofollow noreferrer">this blog post</a>.</p>

<p>Adding <code>overflow-x: scroll;</code> to the <code>&lt;pre&gt;</code> fixes the issue; could one of the people with access to the theme make this tweak?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The fix is live. Please hard refresh.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>