<html>
	<head>
		<title id = 'pagetitle'><pre> elements on blog don't scroll for overflow-x
		</title>
	<head>
	<body id = 'pagebody'><p>On Ask Different, content in a <code>&lt;pre&gt;</code> element that is wider than the box will cause the box to scroll (CSS <code>overflow-x: scroll;</code>).</p>

<p>On the Ask Different Blog, that doesn't happen. The too-wide content just overflows out of the box:</p>

<p><img src="https://i.stack.imgur.com/DMzVt.png" alt="enter image description here"></p>

<p>You can see the problem live on <a href="http://apple.blogoverflow.com/2011/10/applescript-sales-tax-calculator-variables-operations-and-comments/" rel="nofollow noreferrer">this blog post</a>.</p>

<p>Adding <code>overflow-x: scroll;</code> to the <code>&lt;pre&gt;</code> fixes the issue; could one of the people with access to the theme make this tweak?</p>


<h1>ANSWERS</h1>
		<p>The fix is live. Please hard refresh.</p>


	</body>
</html>