<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>[ios-X] versus [iosX]
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-272" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::90</h3>
				<h2>[ios-X] versus [iosX]</h2>
<p>While re-tagging a question, I noticed the tag for specific versions of iOS is as such <a href="https://apple.stackexchange.com/questions/tagged/ios4" class="post-tag" title="show questions tagged &#39;ios4&#39;" rel="tag">ios4</a>. Is there any reason for this?</p>

<p>I personally think <a href="https://apple.stackexchange.com/questions/tagged/ios-4" class="post-tag" title="show questions tagged &#39;ios-4&#39;" rel="tag">ios-4</a> would be cleaner. Besides, we already have <a href="https://apple.stackexchange.com/questions/tagged/ios-sdk" class="post-tag" title="show questions tagged &#39;ios-sdk&#39;" rel="tag">ios-sdk</a> and <a href="https://apple.stackexchange.com/questions/tagged/ios-appstore" class="post-tag" title="show questions tagged &#39;ios-appstore&#39;" rel="tag">ios-appstore</a></p>

<p>Is it possible to retag the ios tags following this logic?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-276"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Personally, I'd like to change:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/ios4" class="post-tag" title="show questions tagged &#39;ios4&#39;" rel="tag">ios4</a> to <a href="https://apple.stackexchange.com/questions/tagged/ios-4" class="post-tag" title="show questions tagged &#39;ios-4&#39;" rel="tag">ios-4</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macbookpro" class="post-tag" title="show questions tagged &#39;macbookpro&#39;" rel="tag">macbookpro</a> to <a href="https://apple.stackexchange.com/questions/tagged/macbook-pro" class="post-tag" title="show questions tagged &#39;macbook-pro&#39;" rel="tag">macbook-pro</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macpro" class="post-tag" title="show questions tagged &#39;macpro&#39;" rel="tag">macpro</a> to <a href="https://apple.stackexchange.com/questions/tagged/mac-pro" class="post-tag" title="show questions tagged &#39;mac-pro&#39;" rel="tag">mac-pro</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macbookair" class="post-tag" title="show questions tagged &#39;macbookair&#39;" rel="tag">macbookair</a> to <a href="https://apple.stackexchange.com/questions/tagged/macbook-air" class="post-tag" title="show questions tagged &#39;macbook-air&#39;" rel="tag">macbook-air</a></li>
<li>maybe even <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> to <a href="https://apple.stackexchange.com/questions/tagged/os-x" class="post-tag" title="show questions tagged &#39;os-x&#39;" rel="tag">os-x</a></li>
</ul>

<p>and so on. Oddly, <a href="https://apple.stackexchange.com/questions/tagged/mac-mini" class="post-tag" title="show questions tagged &#39;mac-mini&#39;" rel="tag">mac-mini</a> is already in this format, which is one of the reasons the ones that aren't annoy me.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-570" class = "comment">
				<p>I agree on all you want except osx.</p>
			</div>
			<div id = "comment-571" class = "comment">
				<p>I agree with @am1, that would be a nice cleanup before going live.</p>
			</div>
			<div id = "comment-573" class = "comment">
				<p>agreed... i'd say everyone just start fixing them as they have time, we don't seem to have any dissent</p>
			</div>
			<div id = "comment-580" class = "comment">
				<p>@cala it's better use tag synonyms.</p>
			</div>
			<div id = "comment-586" class = "comment">
				<p>@cala, don't you mods have a renaming tool for that sort of thing? The kind that don't bump the retagged questions to the top.</p>
			</div>
			<div id = "comment-592" class = "comment">
				<p>@Am1rr3za: good point. @Loic: yes, but for some reason I wasn't thinking of synonyms :)</p>
			</div>
			<div id = "comment-593" class = "comment">
				<p>I did all the ones @Dori listed other than osx.  Plus the other iosx tags (4.2, 3).</p>
			</div>
			<div id = "comment-596" class = "comment">
				<p>I think that we should try to have the tag as close to the actual product name as possible. For example, mac-os-x instead of osx.</p>
			</div>
			<div id = "comment-667" class = "comment">
				<p>@calavera I think it's better to change windows7 tag to windows-7 too.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>