<html>
	<head>
		<title id = 'pagetitle'>[ios-X] versus [iosX]
		</title>
	<head>
	<body id = 'pagebody'><p>While re-tagging a question, I noticed the tag for specific versions of iOS is as such <a href="https://apple.stackexchange.com/questions/tagged/ios4" class="post-tag" title="show questions tagged &#39;ios4&#39;" rel="tag">ios4</a>. Is there any reason for this?</p>

<p>I personally think <a href="https://apple.stackexchange.com/questions/tagged/ios-4" class="post-tag" title="show questions tagged &#39;ios-4&#39;" rel="tag">ios-4</a> would be cleaner. Besides, we already have <a href="https://apple.stackexchange.com/questions/tagged/ios-sdk" class="post-tag" title="show questions tagged &#39;ios-sdk&#39;" rel="tag">ios-sdk</a> and <a href="https://apple.stackexchange.com/questions/tagged/ios-appstore" class="post-tag" title="show questions tagged &#39;ios-appstore&#39;" rel="tag">ios-appstore</a></p>

<p>Is it possible to retag the ios tags following this logic?</p>


<h1>ANSWERS</h1>
		<p>Personally, I'd like to change:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/ios4" class="post-tag" title="show questions tagged &#39;ios4&#39;" rel="tag">ios4</a> to <a href="https://apple.stackexchange.com/questions/tagged/ios-4" class="post-tag" title="show questions tagged &#39;ios-4&#39;" rel="tag">ios-4</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macbookpro" class="post-tag" title="show questions tagged &#39;macbookpro&#39;" rel="tag">macbookpro</a> to <a href="https://apple.stackexchange.com/questions/tagged/macbook-pro" class="post-tag" title="show questions tagged &#39;macbook-pro&#39;" rel="tag">macbook-pro</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macpro" class="post-tag" title="show questions tagged &#39;macpro&#39;" rel="tag">macpro</a> to <a href="https://apple.stackexchange.com/questions/tagged/mac-pro" class="post-tag" title="show questions tagged &#39;mac-pro&#39;" rel="tag">mac-pro</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macbookair" class="post-tag" title="show questions tagged &#39;macbookair&#39;" rel="tag">macbookair</a> to <a href="https://apple.stackexchange.com/questions/tagged/macbook-air" class="post-tag" title="show questions tagged &#39;macbook-air&#39;" rel="tag">macbook-air</a></li>
<li>maybe even <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> to <a href="https://apple.stackexchange.com/questions/tagged/os-x" class="post-tag" title="show questions tagged &#39;os-x&#39;" rel="tag">os-x</a></li>
</ul>

<p>and so on. Oddly, <a href="https://apple.stackexchange.com/questions/tagged/mac-mini" class="post-tag" title="show questions tagged &#39;mac-mini&#39;" rel="tag">mac-mini</a> is already in this format, which is one of the reasons the ones that aren't annoy me.</p>


	</body>
</html>