<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>[ios-X] versus [iosX]
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-272" class = "post">
			<h2>Question</h2>
			<div id="vote-272" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>[ios-X] versus [iosX]</h2>
<p>While re-tagging a question, I noticed the tag for specific versions of iOS is as such <a href="https://apple.stackexchange.com/questions/tagged/ios4" class="post-tag" title="show questions tagged &#39;ios4&#39;" rel="tag">ios4</a>. Is there any reason for this?</p>

<p>I personally think <a href="https://apple.stackexchange.com/questions/tagged/ios-4" class="post-tag" title="show questions tagged &#39;ios-4&#39;" rel="tag">ios-4</a> would be cleaner. Besides, we already have <a href="https://apple.stackexchange.com/questions/tagged/ios-sdk" class="post-tag" title="show questions tagged &#39;ios-sdk&#39;" rel="tag">ios-sdk</a> and <a href="https://apple.stackexchange.com/questions/tagged/ios-appstore" class="post-tag" title="show questions tagged &#39;ios-appstore&#39;" rel="tag">ios-appstore</a></p>

<p>Is it possible to retag the ios tags following this logic?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-272" class = 'collapse'>
			</div>
				<textarea id = "speech-272" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-272">
					<img id="start_img-272" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-276"  class = "post">
				<h2>Answer</h2>
			<div id="vote-276" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Personally, I'd like to change:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/ios4" class="post-tag" title="show questions tagged &#39;ios4&#39;" rel="tag">ios4</a> to <a href="https://apple.stackexchange.com/questions/tagged/ios-4" class="post-tag" title="show questions tagged &#39;ios-4&#39;" rel="tag">ios-4</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macbookpro" class="post-tag" title="show questions tagged &#39;macbookpro&#39;" rel="tag">macbookpro</a> to <a href="https://apple.stackexchange.com/questions/tagged/macbook-pro" class="post-tag" title="show questions tagged &#39;macbook-pro&#39;" rel="tag">macbook-pro</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macpro" class="post-tag" title="show questions tagged &#39;macpro&#39;" rel="tag">macpro</a> to <a href="https://apple.stackexchange.com/questions/tagged/mac-pro" class="post-tag" title="show questions tagged &#39;mac-pro&#39;" rel="tag">mac-pro</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macbookair" class="post-tag" title="show questions tagged &#39;macbookair&#39;" rel="tag">macbookair</a> to <a href="https://apple.stackexchange.com/questions/tagged/macbook-air" class="post-tag" title="show questions tagged &#39;macbook-air&#39;" rel="tag">macbook-air</a></li>
<li>maybe even <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> to <a href="https://apple.stackexchange.com/questions/tagged/os-x" class="post-tag" title="show questions tagged &#39;os-x&#39;" rel="tag">os-x</a></li>
</ul>

<p>and so on. Oddly, <a href="https://apple.stackexchange.com/questions/tagged/mac-mini" class="post-tag" title="show questions tagged &#39;mac-mini&#39;" rel="tag">mac-mini</a> is already in this format, which is one of the reasons the ones that aren't annoy me.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-276">Load Comments</button></br>
			<div id = "commentsection-276" class = 'collapse'>
			<div id = "comment-570" class = "comment">
				<p>I agree on all you want except osx.</p>
			</div>
			<div id = "comment-571" class = "comment">
				<p>I agree with @am1, that would be a nice cleanup before going live.</p>
			</div>
			<div id = "comment-573" class = "comment">
				<p>agreed... i'd say everyone just start fixing them as they have time, we don't seem to have any dissent</p>
			</div>
			<div id = "comment-580" class = "comment">
				<p>@cala it's better use tag synonyms.</p>
			</div>
			<div id = "comment-586" class = "comment">
				<p>@cala, don't you mods have a renaming tool for that sort of thing? The kind that don't bump the retagged questions to the top.</p>
			</div>
			<div id = "comment-592" class = "comment">
				<p>@Am1rr3za: good point. @Loic: yes, but for some reason I wasn't thinking of synonyms :)</p>
			</div>
			<div id = "comment-593" class = "comment">
				<p>I did all the ones @Dori listed other than osx.  Plus the other iosx tags (4.2, 3).</p>
			</div>
			<div id = "comment-596" class = "comment">
				<p>I think that we should try to have the tag as close to the actual product name as possible. For example, mac-os-x instead of osx.</p>
			</div>
			<div id = "comment-667" class = "comment">
				<p>@calavera I think it's better to change windows7 tag to windows-7 too.</p>
			</div>
			</div>
				<textarea id = "speech-276" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-276">
					<img id="start_img-276" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>