<html>
	<head>
		<title id = 'pagetitle'>A bug with the tag badge tracker vanishing
		</title>
	<head>
	<body id = 'pagebody'><p>I was on my profile and wanted to look at the tag badge tracker, I selected it in the drop down and the graphics below the point graph disappeared! So I can't go back to the privilege tracker and I can't see the tag badge tracker.</p>

<p><a href="https://i.stack.imgur.com/3S4so.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/3S4so.png" alt="enter image description here"></a> </p>

<p>I am running:</p>

<p><strong>OS</strong></p>

<ul>
<li>OS X Yosemite version 10.10.5</li>
</ul>

<p><strong>Browser</strong></p>

<ul>
<li>Google Chrome version 45.0.2454.101</li>
</ul>

<p><strong>Extensions</strong></p>

<ul>
<li>AdBlock version 2.40.1</li>
<li>Google Docs version 0.9</li>
<li>Google Docs Offline version 0.5</li>
<li>Google Mail Checker version 4.4.0</li>
<li>New Tab Redirect version 3.1.4 (not enabled)</li>
<li>Print Friendly &amp; PDF version 2.3</li>
</ul>


<h1>ANSWERS</h1>
		<p>There used to be an issue where, if your account had no activity in any badge, and you opened the tag badge selector, your tag badge tracker would become hidden and you couldn't select a new tag badge. This is apparently what happened to your profile.</p>

<p>I've reset the tracker for your profile so you can select a tag badge now.</p>


	</body>
</html>