<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>A bug with the tag badge tracker vanishing
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2632" class = "post">
			<h2>Question</h2>
			<div id="vote-2632" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
				<h2>A bug with the tag badge tracker vanishing</h2>
<p>I was on my profile and wanted to look at the tag badge tracker, I selected it in the drop down and the graphics below the point graph disappeared! So I can't go back to the privilege tracker and I can't see the tag badge tracker.</p>

<p><a href="https://i.stack.imgur.com/3S4so.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/3S4so.png" alt="enter image description here"></a> </p>

<p>I am running:</p>

<p><strong>OS</strong></p>

<ul>
<li>OS X Yosemite version 10.10.5</li>
</ul>

<p><strong>Browser</strong></p>

<ul>
<li>Google Chrome version 45.0.2454.101</li>
</ul>

<p><strong>Extensions</strong></p>

<ul>
<li>AdBlock version 2.40.1</li>
<li>Google Docs version 0.9</li>
<li>Google Docs Offline version 0.5</li>
<li>Google Mail Checker version 4.4.0</li>
<li>New Tab Redirect version 3.1.4 (not enabled)</li>
<li>Print Friendly &amp; PDF version 2.3</li>
</ul>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2632">Load Comments</button></br>
			<div id = "commentsection-2632" class = 'collapse'>
			<div id = "comment-5907" class = "comment">
				<p>Could you edit this to explain the version / build of your web browser and your OS? Tracking bugs without knowing those details can be onerous. Also, a chorus of "list your extensions and blockers and user scripts" is likely to follow if you don't disclaim that up front.</p>
			</div>
			<div id = "comment-5908" class = "comment">
				<p>@bmike, fixed the post!</p>
			</div>
			<div id = "comment-5909" class = "comment">
				<p>Well done - The site developers will be able to see the bug tag and have a look - sometimes it takes a while though, but my experience is someone that uses Chrome will usually chime in if they can reproduce the issue or get you a work around if it's a configuration issue on the client side.</p>
			</div>
			</div>
				<textarea id = "speech-2632" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2632">
					<img id="start_img-2632" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2633"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2633" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There used to be an issue where, if your account had no activity in any badge, and you opened the tag badge selector, your tag badge tracker would become hidden and you couldn't select a new tag badge. This is apparently what happened to your profile.</p>

<p>I've reset the tracker for your profile so you can select a tag badge now.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2633">Load Comments</button></br>
			<div id = "commentsection-2633" class = 'collapse'>
			<div id = "comment-5911" class = "comment">
				<p>It happened again.</p>
			</div>
			</div>
				<textarea id = "speech-2633" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2633">
					<img id="start_img-2633" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>