<html>
	<head>
		<title id = 'pagetitle'>A comment script for managing new users
		</title>
	<head>
	<body id = 'pagebody'><p>Since Lion's release we have gotten a lot of new users that are posting answers and sometimes questions without really understanding how the Stack Exchange format works. I am qualifying new users as anyone with a 100 (one hundred) or less reputation, but typically they only have 1 (one) point.</p>

<p>I have been collecting for the past couple of days a script for comments that I post before I manage their answer or question. I don't like closing or deleting questions and answers, but I like to offer an explanation before I do so. I have a standard intro and response (in italics below), and then I tack on the appropriate explanation. Some of these are my own and some I have picked up from other users...</p>

<ul>
<li><em>Welcome to the community. Ask Different is not like other forums. Responses to questions must actually attempt to answer it.</em>
<ul>
<li>Comments like this should propel the general conversation forward
<ul>
<li>, and not just simply rant. </li>
</ul></li>
<li>If you have a question, you should post your own instead of steering the thread away from the original. Please ask it by clicking the Ask Question button.</li>
<li>If you have sufficient reputation, you may upvote this question. Alternatively, "star" it as a favorite and you will be notified of any new answers. </li>
</ul></li>
</ul>

<p>I deal with a number of new users over at GD.SE, and I have found this script has made my time moderating more efficient and consistent so I can get back to the real fun of actually answering questions. This really isn't a question as so much as posting a general resource so that others may add to it.</p>


<h1>ANSWERS</h1>
			</body>
</html>