<html>
	<head>
		<title id = 'pagetitle'>A moderator closed my question and asked me to edit~rework it, so what should I do?
		</title>
	<head>
	<body id = 'pagebody'><p>Let's assumed I've asked a question which got quite a number of comments by other AD users trying to help me in narrowing down my problem and/or resolving it. I've partially answered the follow-up questions directly in the comments and partially edited my question to add additional information.</p>

<p>After a lot of back and forth, a moderator joined the discussion, temporarily closed the question and asked me to rework the question to reflect the newly gathered information before reopening it.</p>

<ul>
<li>Why is he doing that?</li>
<li>What should I as an asker do now?</li>
<li>Could there be better ways to handle such situations?</li>
</ul>

<p>PS: This was inspired by <a href="https://apple.stackexchange.com/questions/89184/using-the-ipad-as-an-audio-slave">this question</a> but also is valid for similar issues we had in the past (and will have in the future).</p>


<h1>ANSWERS</h1>
		<p>From the perspective I can relate to that moderator, I believe your question was not clear enough. For this reason most of the material posted to it (comments, answers etc.) took up unnecessary space in the database(s) of Stack Exchange. Had your question been asked/posted clearly without needing additional clarifications (through comment-answer pairs), material posted would be much more valuable - to you and to other users with a similar question/problem.</p>

<p>What happened has happened, so asking you to edit your question to clarify your issue would not help save the already consumed space in the database because comments have already peen saved. However, if still your question does not seem clear enough, closing the question makes sense. The message I get from this action is: Revise your question in a way that it won't need additional clarification derived from the confusion that obscure or missing information will cause.</p>


<p>The point of questions is to attract good answers. Questions that are poorly formulated are unlikely to attract good answers.</p>

<p>Questions that look like they have some hope of being fixed should be promptly closed so they can be edited into shape <em>while no answers can be posted</em>. This is designed to be helpful both to the original poster of the question, the answerers, and future readers.</p>

<p>The alternative is that the question remains open while it is being edited. The danger there is that the question will attract answers that do not address the question as it finally is after editing. These answers may well be sincere attempts at answering the question in its early, ambiguous form, but do not help solve the actual problem.</p>

<p>Dealing with these answers fairly and efficiently is difficult. Leaving them around is confusing and clutters the question. Deleting them is unfair to their posters, who put effort into answering a question as asked and may have earned reputation points in the process before the question was reformulated.</p>

<p>If a question is unclear, it should be promptly closed to be fixed. If a question has comments that change its meaning, it should be closed until that information is edited into the body of the question (comments are ephemeral and could go away at any time).</p>


	</body>
</html>