<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>About page (site tour) still refers to FAQ and not the Help Center
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>About page (site tour) still refers to FAQ and not the Help Center</h2>
<p>The text in at the bottom of the about page still points people to the FAQ and not the very nicely assembled Help Center.</p>

<p><img src="https://i.stack.imgur.com/0ATrT.png" alt="Visit the FAQ"></p>

<p>I'd put "Help Center" on the button, but something without FAQ would also be fine if you wanted a verb in the button text.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Not sure when this happened (<a href="https://meta.stackexchange.com/questions/59445/recent-feature-changes-to-stack-exchange">didn't seem to be specifically documented</a>) but it did happen<br>
(at least before December 2013):</p>

<p><img src="https://i.stack.imgur.com/7OczJ.png" alt="Find a question to answer, or ask your own | See new questions | Ask a question | Looking for more in-depth information on the site? Visit the Help Center"></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>