<html>
	<head>
		<title id = 'pagetitle'>About page (site tour) still refers to FAQ and not the Help Center
		</title>
	<head>
	<body id = 'pagebody'><p>The text in at the bottom of the about page still points people to the FAQ and not the very nicely assembled Help Center.</p>

<p><img src="https://i.stack.imgur.com/0ATrT.png" alt="Visit the FAQ"></p>

<p>I'd put "Help Center" on the button, but something without FAQ would also be fine if you wanted a verb in the button text.</p>


<h1>ANSWERS</h1>
		<p>Not sure when this happened (<a href="https://meta.stackexchange.com/questions/59445/recent-feature-changes-to-stack-exchange">didn't seem to be specifically documented</a>) but it did happen<br>
(at least before December 2013):</p>

<p><img src="https://i.stack.imgur.com/7OczJ.png" alt="Find a question to answer, or ask your own | See new questions | Ask a question | Looking for more in-depth information on the site? Visit the Help Center"></p>


	</body>
</html>