<html>
	<head>
		<title id = 'pagetitle'>Access to some moderator tools should be linked to flag weight or edits
		</title>
	<head>
	<body id = 'pagebody'><p>So users with 10K reputation get access to moderator tools. And now 5K reputation gives you access to the queue of suggested edits to review. And absolutely, high reputation users give so much to this site, and it is wonderful they get access to tools to keep it in order. The decision to spread out some of these tools over a variety of reputation levels is also quite helpful.</p>

<p>But...</p>

<p>Reputation is gained for contributing to the content of the site, but other housekeeping tasks like flagging problematic posts or editing questions or answers to improve them do not directly link to reputation, but do improve the site. While some users point out that they see who makes good comments or edits and then go and upvote an answer of theirs, flags are (and should be) mostly hidden from view.</p>

<p>I'm suggesting that just like various reputation levels unlock certain tools to help users better maintain the site, it would be cool if various flag weights also unlocked moderation tools. It seems like a natural fit: people who spend the time and show good judgment in flagging problematic posts are ones who would be logical candidates to give more tools to in order to keep the site in order.</p>

<p>I don't have any specific suggestions as to what tools would be appropriate, and I suspect this one would need to migrate up the chain from meta.apple.stackechange.com to our corporate overlords in order to be implemented, but I wanted to get people's feedback here.</p>

<p>What say you all?</p>


<h1>ANSWERS</h1>
		<p>I think the main issue here is that somone who just edits answers/questions does not get reviewed like users who ask/answer questions. If you ask/answer other users give you reputation for meeting the standards of what we think the site should be, whilst editors have not had such user review.</p>

<p>Action due to flagging might be OK as someone has had to approve the flags but even then it could just be the one person reviewing.</p>


	</body>
</html>