<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Access to some moderator tools should be linked to flag weight or edits
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1003" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::64</h3>
				<h2>Access to some moderator tools should be linked to flag weight or edits</h2>
<p>So users with 10K reputation get access to moderator tools. And now 5K reputation gives you access to the queue of suggested edits to review. And absolutely, high reputation users give so much to this site, and it is wonderful they get access to tools to keep it in order. The decision to spread out some of these tools over a variety of reputation levels is also quite helpful.</p>

<p>But...</p>

<p>Reputation is gained for contributing to the content of the site, but other housekeeping tasks like flagging problematic posts or editing questions or answers to improve them do not directly link to reputation, but do improve the site. While some users point out that they see who makes good comments or edits and then go and upvote an answer of theirs, flags are (and should be) mostly hidden from view.</p>

<p>I'm suggesting that just like various reputation levels unlock certain tools to help users better maintain the site, it would be cool if various flag weights also unlocked moderation tools. It seems like a natural fit: people who spend the time and show good judgment in flagging problematic posts are ones who would be logical candidates to give more tools to in order to keep the site in order.</p>

<p>I don't have any specific suggestions as to what tools would be appropriate, and I suspect this one would need to migrate up the chain from meta.apple.stackechange.com to our corporate overlords in order to be implemented, but I wanted to get people's feedback here.</p>

<p>What say you all?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1003">Load Comments</button></br>
			<div id = "commentsection-1003" class = 'collapse'>
			<div id = "comment-1827" class = "comment">
				<p>Well, since flag weight no longer exists, I suppose this is a moot point...</p>
			</div>
			<div id = "comment-4584" class = "comment">
				<p>I fully support this idea, as even though flag weight is gone, there are many other ways of determining a user's moderating  ability , such as percentage of accepted flags, number of helpful flags, reviews (although this could be gamed without audits), etc. There are both users with low reputation who are very capable at moderating, and vice versa. This was also [mentioned on Meta.SE](http://meta.stackexchange.com/questions/252690/what-privilege-should-30k-users-get/252703#comment825187_252703) recently.</p>
			</div>
			</div>
				<textarea id = "speech-1003" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1003">
					<img id="start_img-1003" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1004"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I think the main issue here is that somone who just edits answers/questions does not get reviewed like users who ask/answer questions. If you ask/answer other users give you reputation for meeting the standards of what we think the site should be, whilst editors have not had such user review.</p>

<p>Action due to flagging might be OK as someone has had to approve the flags but even then it could just be the one person reviewing.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1004" class = 'collapse'>
			</div>
				<textarea id = "speech-1004" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1004">
					<img id="start_img-1004" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>