<html>
	<head>
		<title id = 'pagetitle'>Accepting An Answer When More Than One Answer Is Deemed Suitable?
		</title>
	<head>
	<body id = 'pagebody'><p>If more than one answer is deemed suitable as "the correct answer" for a given question such as this:</p>

<p><a href="https://apple.stackexchange.com/questions/100258/is-it-possible-to-use-desktop-mac-apps-on-an-ipad/100261#100261">Is It Possible To Use Desktop Mac Apps On An iPad?</a></p>

<p>Obviously you cannot tick all as correct, so what is the view to adopt in regards to selecting one answer?</p>


<h1>ANSWERS</h1>
		<p>Pick the one you find <strong>most</strong> helpful. You can vote for multiple answers, but only one can get the checkmark. If you really want to reward a particularly great answer, you could start a bounty.</p>


<p>That's one of the problems with <code>software-recommendation</code> questions. Several good answers might come back over time and you only can accept one of them. Now there are several things to note:</p>

<ul>
<li>It's not mandatory to accept any answer at all. So you can just upvote the recommendations you liked and go on with your life</li>
<li>If you are going to accept an answer, it would probably best to accept the one you followed up on at the end (e.g. by installing/using the recommended software). </li>
</ul>


<p>My experience is when it's hard to select an answer, that's a sign that the question itself needs improvement. Now, not all questions need to be improved - that one you linked to could easily have a check mark awarded, some up votes awarded and then after you've digested the options, come back and ask a knock-out, awesome, good-subjective question explaining how exactly to get one app to work well from Mac to iPad.</p>

<p>The rest of this answer is more for looking forward and general ideas on how to decide how to answer, but I'll also relate it to the question at hand.</p>

<p>First, Let's look at the guidelines on asking:</p>

<p><a href="https://apple.stackexchange.com/help/how-to-ask">https://apple.stackexchange.com/help/how-to-ask</a></p>

<p>The question that was linked failed to do three things:</p>

<ol>
<li>Show the research that was done to try and solve the question.</li>
<li>Provide context</li>
<li>Lacks any way to judge which answer is the best answer</li>
</ol>

<p>The guidelines on what not to ask help with the last criteria:</p>

<p><a href="https://apple.stackexchange.com/help/dont-ask">https://apple.stackexchange.com/help/dont-ask</a></p>

<p>Since the question seems more about discussion a general theme than asking for an expert to explain one specific thing it's turning into a poll of options as opposed to a plan to address a documented need.</p>

<p>Since those two links above are very dry, condensed and - dare I say - a bit lacking in specificity, here is a story explaining how these rules came to be.</p>

<p><a href="http://blog.stackoverflow.com/2011/01/real-questions-have-answers/">http://blog.stackoverflow.com/2011/01/real-questions-have-answers/</a></p>


	</body>
</html>