<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Accepted answers sometimes are not above all the other answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-864" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::56</h3>
				<h2>Accepted answers sometimes are not above all the other answers</h2>
<p>I've occasionally stumbled into Q&amp;A's that have more than 1 answer and an accepted answer, but the accepted answer isn't on top of the answer list.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/26601/ipad-calculator-app">iPad calculator app</a></li>
<li><a href="https://apple.stackexchange.com/questions/21817/lion-keeps-reindexing-spotlight-why">Why does Spotlight keep reindexing my system after updating to Lion?</a></li>
<li><a href="https://apple.stackexchange.com/questions/15351/ipad-2-cannot-connect-to-home-wifi-network">iPad 2 cannot connect to home wifi network</a></li>
<li><a href="https://apple.stackexchange.com/questions/8668/why-are-applications-like-adobe-fireworks-and-appcelerator-titanium-crashing-o">Why are applications (like Adobe Fireworks and Appcelerator Titanium) crashing on startup?</a></li>
<li><a href="https://apple.stackexchange.com/questions/11855/how-can-i-enable-internet-sharing-without-using-the-gui-or-applescript">How can I enable Internet sharing without using the GUI or AppleScript?</a></li>
</ul>

<p>Here's a screenshot with Chrome &amp; Lion:</p>

<p><img src="https://i.stack.imgur.com/an3BW.png" alt="enter image description here"></p>

<p>Is this a feature or a bug?</p>

<p><strong>Yes, I have answers sorted by "active"</strong>. But usually accepted answer overrides it; for example, these list the answers with accepted on top:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/20085/does-the-oleophobic-effect-of-the-iphone-screen-wear-off-over-time">Does the oleophobic effect of the iPhone screen wear off over time?</a></li>
<li><a href="https://apple.stackexchange.com/questions/8806/is-there-a-way-to-stream-video-to-an-apple-tv-without-itunes">Is there a way to stream video to an Apple TV without iTunes?</a></li>
<li><a href="https://apple.stackexchange.com/questions/18857/is-screen-zoom-broken-in-lion">Is screen zoom broken in Lion?</a></li>
</ul>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-867"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Self answers do not follow the accepted answers is always on top rule. They are sorted as per normal. Only answers you accept from someone else will always be on top.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1604" class = "comment">
				<p>*Aaaaaaaaaaaah!*</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>