<html>
	<head>
		<title id = 'pagetitle'>Accepted, but wrong answer - question marked as duplicate to the wrong answer
		</title>
	<head>
	<body id = 'pagebody'><p>There is an <a href="https://apple.stackexchange.com/questions/176371/can-i-delete-private-var-folders-bf">question and an accepted answer</a>.</p>

<p>I do not want to dig into the technical details (meta is not the right place) - in short:</p>

<p>It is possible to prove that the <strong>accepted answer is wrong</strong>. Since I know that the original response is bad - <a href="https://apple.stackexchange.com/questions/177780/run-level-shell-scripts-cleaning-var-folders-when-changing-run-levels?noredirect=1#comment210435_177780">I asked an another question</a> (now deleted) what (partially) is an variant to the original - what <em>could be correct</em> - but I'm not sure.</p>

<p>@Patrik closed it as a duplicate.</p>

<p>What to do when a question is marked as a duplicate (and commented as unclear and opinion based), but</p>

<ul>
<li>The answer to the original question is entirely wrong</li>
<li>the new question is <strong>not an exact</strong> duplicate - but it is new approach  what could be right</li>
<li>The question doesn't contains anything for what could't be exists unambiguous and clear answer - i.e. nothing is "opinion based"</li>
<li>And trying solve the problem (with respect to possible complications)</li>
<li>but the moderator closes it :(</li>
</ul>

<p><a href="https://stackoverflow.com/users/632407/jm666">I could call myself as StackOverflow veteran</a> trusted user with 23k reputation and ability closing <code>bash</code> questions by one click. But I trying to be pretty sure that I did not make hasty conclusions, and when I made a mistake <a href="https://stackoverflow.com/q/29112449/632407">what also happens</a>, quickly reopening the question again.</p>

<p>Also trying edit the question if I can improve it to be better instead of the "blind close". (unfortunately, English isn't my primary language, so mainly doing only code-snipets improving).</p>

<p>For the "disputable" moderator decisions are <a href="https://meta.stackexchange.com/a/158877/163674">here</a> and <a href="https://meta.stackoverflow.com/a/253129/632407">here</a> some good answers (to bad questions) - so, asking in the apple's meta - maybe the Think Different idea applies here too. ;)</p>

<p>Thank you for reading this.</p>


<h1>ANSWERS</h1>
		<p>You initially asked </p>

<blockquote>
  <p>It is safe delete everything bellow /private/var/folders/?</p>
  
  <p>Another (more important) question - has the OS X something as rc.6, e.g. an shell script what is running when changing the run level to 6 - e.g. at every reboot? (Or rc.0 at every boot), to where I could add the rm?</p>
  
  <p>Is safe clean the /var/folders/* at every reboot? (asking because i could imagine than some update utility could use it...).</p>
</blockquote>

<p>There are several problems with this question which may have lead to it being put on hold in the next hours/days:</p>

<ul>
<li>there are (at least) two questions at once, leading to a close due to being too broad or unclear what you are asking</li>
<li>part of the question have come up before (and being answered already), leading to a close as a duplicate</li>
</ul>

<p>I've decided to follow up on the second option (as there was no reference at all to that question in your text), I also recommended to ask a new question to cover the "can I safely clean the folders on reboot".</p>

<p>If you think the answer to the original question is wrong, the best course of action would be to add a comment to that answer (you have more than enough reputation for this), post a new answer on your own or do both.</p>


	</body>
</html>