<html>
	<head>
		<title id = 'pagetitle'>Acceptance rate gone?
		</title>
	<head>
	<body id = 'pagebody'><p>I have noticed today that my (and other users) acceptance rate is non-existent anymore. Usually gave me motivation to go ahead and solve my own questions to keep it above 90%.</p>

<p>Is it permanently removed ? What's the deal ?</p>


<h1>ANSWERS</h1>
		<p>As off 2 days ago the accept rate has been removed across the network as per the following feature request: <a href="https://meta.stackexchange.com/questions/136951/lets-stop-displaying-a-users-accept-rate">Let&#39;s stop displaying a user&#39;s accept rate</a>. </p>

<p>On the bigger sites it was generating more noise then what was required, and it was mostly demotivating to most users. Since the focus should be on good answers, and not reputation gain.</p>

<p>You might be interested in following or contributing thoughts to this thread on how to build on activities like voting, flagging and accepting in this proposal:</p>

<p><a href="https://meta.stackexchange.com/questions/165179/replace-accept-rate-with-citizenship-level">Replace accept rate with citizenship level</a></p>


	</body>
</html>