<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Accepted answers sometimes are not above all the other answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-864" class = "post">
			<h2>Question</h2>
			<div id="vote-864" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 56</p>
			</div>
				<h2>Accepted answers sometimes are not above all the other answers</h2>
<p>I've occasionally stumbled into Q&amp;A's that have more than 1 answer and an accepted answer, but the accepted answer isn't on top of the answer list.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/26601/ipad-calculator-app">iPad calculator app</a></li>
<li><a href="https://apple.stackexchange.com/questions/21817/lion-keeps-reindexing-spotlight-why">Why does Spotlight keep reindexing my system after updating to Lion?</a></li>
<li><a href="https://apple.stackexchange.com/questions/15351/ipad-2-cannot-connect-to-home-wifi-network">iPad 2 cannot connect to home wifi network</a></li>
<li><a href="https://apple.stackexchange.com/questions/8668/why-are-applications-like-adobe-fireworks-and-appcelerator-titanium-crashing-o">Why are applications (like Adobe Fireworks and Appcelerator Titanium) crashing on startup?</a></li>
<li><a href="https://apple.stackexchange.com/questions/11855/how-can-i-enable-internet-sharing-without-using-the-gui-or-applescript">How can I enable Internet sharing without using the GUI or AppleScript?</a></li>
</ul>

<p>Here's a screenshot with Chrome &amp; Lion:</p>

<p><img src="https://i.stack.imgur.com/an3BW.png" alt="enter image description here"></p>

<p>Is this a feature or a bug?</p>

<p><strong>Yes, I have answers sorted by "active"</strong>. But usually accepted answer overrides it; for example, these list the answers with accepted on top:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/20085/does-the-oleophobic-effect-of-the-iphone-screen-wear-off-over-time">Does the oleophobic effect of the iPhone screen wear off over time?</a></li>
<li><a href="https://apple.stackexchange.com/questions/8806/is-there-a-way-to-stream-video-to-an-apple-tv-without-itunes">Is there a way to stream video to an Apple TV without iTunes?</a></li>
<li><a href="https://apple.stackexchange.com/questions/18857/is-screen-zoom-broken-in-lion">Is screen zoom broken in Lion?</a></li>
</ul>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-864" class = 'collapse'>
			</div>
				<textarea id = "speech-864" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-864">
					<img id="start_img-864" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-867"  class = "post">
				<h2>Answer</h2>
			<div id="vote-867" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Self answers do not follow the accepted answers is always on top rule. They are sorted as per normal. Only answers you accept from someone else will always be on top.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-867">Load Comments</button></br>
			<div id = "commentsection-867" class = 'collapse'>
			<div id = "comment-1604" class = "comment">
				<p>*Aaaaaaaaaaaah!*</p>
			</div>
			</div>
				<textarea id = "speech-867" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-867">
					<img id="start_img-867" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>