<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Acceptance rate gone?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1561" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::147</h3>
				<h2>Acceptance rate gone?</h2>
<p>I have noticed today that my (and other users) acceptance rate is non-existent anymore. Usually gave me motivation to go ahead and solve my own questions to keep it above 90%.</p>

<p>Is it permanently removed ? What's the deal ?</p>

			</div><h3>Comments</h3>
			<div id = "comment-2930" class = "comment">
				<p>IIRC acceptance rate is only shown if it's "poor". Like, 60% or lower? Somewhere near that.</p>
			</div>
			<div id = "comment-2931" class = "comment">
				<p>It seems to be gone even for users with poor acceptance rates.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1563"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::12</h3>
				<p><p>As off 2 days ago the accept rate has been removed across the network as per the following feature request: <a href="https://meta.stackexchange.com/questions/136951/lets-stop-displaying-a-users-accept-rate">Let&#39;s stop displaying a user&#39;s accept rate</a>. </p>

<p>On the bigger sites it was generating more noise then what was required, and it was mostly demotivating to most users. Since the focus should be on good answers, and not reputation gain.</p>

<p>You might be interested in following or contributing thoughts to this thread on how to build on activities like voting, flagging and accepting in this proposal:</p>

<p><a href="https://meta.stackexchange.com/questions/165179/replace-accept-rate-with-citizenship-level">Replace accept rate with citizenship level</a></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2932" class = "comment">
				<p>Great, helpful answer, even if I disagree wholeheartedly with the policy change behind it.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>