<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Active bounty "flip-card" graphic nitpick
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1434" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::90</h3>
				<h2>Active bounty "flip-card" graphic nitpick</h2>
<p>Don't mean to be overly critical / nitpicky....  but every time I see this graphic..</p>

<p><img src="https://i.stack.imgur.com/DKyiR.png" alt="enter image description here"></p>

<p>my <em>not-horribly-or-excessively OCD</em>, yet <em>atmittedly design-concious</em> brain has to stop, look, and do a double-take at this rendering.  Its missing the gap between the "cards", <em>or something</em>..  It would look "more real", maybe, like this quick pixel-hack..</p>

<p><img src="https://i.stack.imgur.com/2ipnE.png" alt="enter image description here"></p>

<p>Again, not the end of the world.. Just a suggestion.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2719" class = "post">
				<p>I like the gap ... Let's see what the designers say.</p>
			</div>
			<div id = "comment-2720" class = "post">
				<p>Also. Ewwwww why should we implement needless skeuomorphism? Who do we think we are? Steve Jobs cousins? [/obligatory] [/sarcasm]</p>
			</div>
			<div id = "comment-2721" class = "post">
				<p>wow. there's a new one (skeuomorphism).  [word of the day!](http://webdesign.tutsplus.com/articles/design-theory/skeuomorphism-in-interface-design/).  and please, don't make the site like iCal. **please**.</p>
			</div>
			<div id = "comment-2725" class = "post">
				<p>you must be new here :)</p>
			</div>
			<div id = "comment-2726" class = "post">
				<p>See also [Skeu It!](http://skeu.it/).</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1435"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Your point is taken! I completely agree with your assessment. I think this is a change that should be made (and can certainly be, very easily). Keep an eye out for it.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1437"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p><img src="https://i.stack.imgur.com/mawLj.png" alt="Skeu.it!"></p>

<p><a href="https://apple.stackexchange.com/questions/tagged/status-completed" class="post-tag" title="show questions tagged &#39;status-completed&#39;" rel="tag">status-completed</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2727" class = "post">
				<p>Also changed up the font a little. I got tired of looking at the old one.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>