<html>
	<head>
		<title id = 'pagetitle'>Active bounty "flip-card" graphic nitpick
		</title>
	<head>
	<body id = 'pagebody'><p>Don't mean to be overly critical / nitpicky....  but every time I see this graphic..</p>

<p><img src="https://i.stack.imgur.com/DKyiR.png" alt="enter image description here"></p>

<p>my <em>not-horribly-or-excessively OCD</em>, yet <em>atmittedly design-concious</em> brain has to stop, look, and do a double-take at this rendering.  Its missing the gap between the "cards", <em>or something</em>..  It would look "more real", maybe, like this quick pixel-hack..</p>

<p><img src="https://i.stack.imgur.com/2ipnE.png" alt="enter image description here"></p>

<p>Again, not the end of the world.. Just a suggestion.</p>


<h1>ANSWERS</h1>
		<p>Your point is taken! I completely agree with your assessment. I think this is a change that should be made (and can certainly be, very easily). Keep an eye out for it.</p>


<p><img src="https://i.stack.imgur.com/mawLj.png" alt="Skeu.it!"></p>

<p><a href="https://apple.stackexchange.com/questions/tagged/status-completed" class="post-tag" title="show questions tagged &#39;status-completed&#39;" rel="tag">status-completed</a></p>


	</body>
</html>