<html>
	<head>
		<title id = 'pagetitle'>Activation Lock and Disabled iPhones
		</title>
	<head>
	<body id = 'pagebody'><p>I noticed the other day that a <a href="https://apple.stackexchange.com/questions/177253/iphone-is-disabled-connect-to-itunes">question about a disabled iPhone</a> was flagged a duplicated of Activation Lock. That's not true at all, though.</p>

<p>Activation lock is when you can't activate your iPhone because it's under another person's account.</p>

<p>An disabled iPhone occurs when someone has entered the wrong passcode so many times, the only way to get your stuff back is to wipe it and restore.</p>

<p>I flagged the question, and the reply was to find what it should be.</p>

<p>Well, I searched, and found all of the questions either duplicate of Activation Lock, or they were closed as too broad!</p>

<p>What shoud I do in this case?</p>


<h1>ANSWERS</h1>
		<p>I share your assessment that the question most probably is <em>not</em> a duplicate. Nevertheless right now it's difficult to understand what the question is about actually.</p>

<p>Your flag was declined with</p>

<blockquote>
  <p>Please comment or edit the post to explain why it's not duplicate. If we were to reopen it, it would need to be closed as too broad/unclear </p>
</blockquote>

<p>From looking at the question in question (sic), I agree with the moderator declining the flag. The question can be read either as "how do I recover from a "iPhone is disabled" situation" or as a "how do I recover forgotten Apple ID/password", also it's (at least to me) not clear how these two statements even fit together (AFAIK Apple ID/password are not required to re-enable an iPhone via iTunes after too many wrong password attempts). This means that just reopening the question would have it closed again as "unclear" rather quickly.</p>

<p>It's worth keeping in mind that this site (as well as all the other SE sites) is mainly community moderated. So in this case please go ahead, tidy up the question and leave a comment for the OP on what you did and why you did it.</p>

<p>PS: And thanks for bringing the issue up on Meta!</p>


	</body>
</html>