<html>
	<head>
		<title id = 'pagetitle'>Add mention of Mountain Lion's Reminder app to the reminders tag
		</title>
	<head>
	<body id = 'pagebody'><p>I walked across a post about <a href="https://apple.stackexchange.com/questions/tagged/reminders" class="post-tag" title="show questions tagged &#39;reminders&#39;" rel="tag">reminders</a> tags, and I took a look. There are no mention about the Mountain Lion's reminder app, only the iOS version.</p>

<p>I am not sure if it's intentional to keep those two separated, so I think I should ask first. </p>

<p>Also, I have not the right to edit tag wiki, and to be honest, I am a terrible writer.</p>

<p>Anyway, should we ( or I) add the mention to the tag?</p>


<h1>ANSWERS</h1>
		<p>You bring up a very good point. I looked into the <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a> (and noticed it needs to be updated!), and took note of how it was implemented. It covers both iOS and OSX, which is probably the way it should be. Since both Messages and Reminders are available on both iOS (5+) and Mountain Lion, I think it is important to update Reminders to reflect that it could mean either iOS or OSX.</p>

<p>When a user asks a question with either the <a href="https://apple.stackexchange.com/questions/tagged/reminders" class="post-tag" title="show questions tagged &#39;reminders&#39;" rel="tag">reminders</a> or <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a>, there should probably also be an <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a>, or <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> in there as well, unless, that is, the question applies to both OS.</p>


	</body>
</html>