<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Add mention of Mountain Lion's Reminder app to the reminders tag
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1567" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::48</h3>
				<h2>Add mention of Mountain Lion's Reminder app to the reminders tag</h2>
<p>I walked across a post about <a href="https://apple.stackexchange.com/questions/tagged/reminders" class="post-tag" title="show questions tagged &#39;reminders&#39;" rel="tag">reminders</a> tags, and I took a look. There are no mention about the Mountain Lion's reminder app, only the iOS version.</p>

<p>I am not sure if it's intentional to keep those two separated, so I think I should ask first. </p>

<p>Also, I have not the right to edit tag wiki, and to be honest, I am a terrible writer.</p>

<p>Anyway, should we ( or I) add the mention to the tag?</p>

			</div><h3>Comments</h3>
				<textarea id = "speech-1567" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1567">
					<img id="start_img-1567" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-1568"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>You bring up a very good point. I looked into the <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a> (and noticed it needs to be updated!), and took note of how it was implemented. It covers both iOS and OSX, which is probably the way it should be. Since both Messages and Reminders are available on both iOS (5+) and Mountain Lion, I think it is important to update Reminders to reflect that it could mean either iOS or OSX.</p>

<p>When a user asks a question with either the <a href="https://apple.stackexchange.com/questions/tagged/reminders" class="post-tag" title="show questions tagged &#39;reminders&#39;" rel="tag">reminders</a> or <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a>, there should probably also be an <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a>, or <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> in there as well, unless, that is, the question applies to both OS.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2939" class = "comment">
				<p>I'll take a shot at editing it soon, probably.</p>
			</div>
			<div id = "comment-2940" class = "comment">
				<p>Nice! I will be expecting it. LOL</p>
			</div>
			<div id = "comment-2941" class = "comment">
				<p>@ShaneHsu, the changes have been approved.</p>
			</div>
			<div id = "comment-2943" class = "comment">
				<p>@ShaneHsu and bassplayer7 - great use of meta. We also have a chat room to ping us on tag related observations - but sometimes a real post is better if that room is idle. http://chat.stackexchange.com/rooms/2510/better-tags-for-ask-different</p>
			</div>
				<textarea id = "speech-1568" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1568">
					<img id="start_img-1568" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>