<html>
	<head>
		<title id = 'pagetitle'>Adding tags that don't exist
		</title>
	<head>
	<body id = 'pagebody'><p>I'm wondering - If I created a question which I feel requires a tag that doesn't exist, what would I do? </p>

<p>Suggest it? Put it at the end of the question?</p>


<h1>ANSWERS</h1>
		<p>If you don't have enough reputation to <a href="https://apple.stackexchange.com/help/privileges/create-tags">create a new tag</a>, you can comment on your question stating what tag you wish to be added to your question and why you think that tag is necessary.</p>

<blockquote>
  <p>Could someone add the <a href="https://apple.stackexchange.com/questions/tagged/foobar" class="post-tag" title="show questions tagged &#39;foobar&#39;" rel="tag">foobar</a> tag to my question because [reason]?</p>
</blockquote>

<p>Someone with the necessary reputation may agree with you and add it for you. Don't append such meta-content to your question as it is not part of the question itself.</p>


<p>Actually, asking here on Meta is the correct / canonical way to have someone create a new tag when you can't do it yourself. Commenting may sometimes help, but that's not really why comments exist.</p>

<p>You would want to link to the question here and explain what tag should be created for the item. Feel free to edit your question and tag suggestion into the question above or start a new thread on [meta] here with the pertinent details and we'll see what can or should be done.</p>


<p>The proper place to propose a tag, if you really want to, is here on meta, but my proposal for where to propose a tag is nowhere.</p>

<p>Please think twice before proposing a new tag. We have far too many tags already. Tags are for filtering: people with particular expertise can search for questions tagged with their preferred subject matter.  People with topics that do not interest them can use tags to block posts they don't want to see.</p>

<p>If you really want a tag to exist, be ready to explain why you think there is a population of people who are specifically interested in reading or ignoring questions tagged with that tag that would not have their interests defined by existing tags.</p>

<p>Tags are NOT just to convey information; that can go in the body of the post. Tags are for filtering.</p>


	</body>
</html>