<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Adding a close reason to explain why recommendations (hardware, book) are Off Topic
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2426" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::82</h3>
				<h2>Adding a close reason to explain why recommendations (hardware, book) are Off Topic</h2>
<p>The community has been doing a good job closing opinion based questions, but I wanted to see if there was community support for adding a new close reason to make it very clear to the OP how to improve a question when we choose to close them for opinion based and hardware shopping reasons.</p>

<p>In addition to the default close reason (<em>This question does not appear to be about Apple hardware or software within the scope defined in the help center.</em>) and the two custom Off-Topic Close Reasons: (<em>Questions about software development are off-topic here, but can be asked on Stack Overflow.</em> and <em>Questions about pre-release products and services are off-topic.</em> )</p>

<p>I'm proposing to add a third custom close reason:</p>

<h1>Questions asking us to <a href="https://meta.stackoverflow.com/questions/254393/what-exactly-is-a-recommendation-question">recommend or find</a> a Mac, book, tool, tutorial or other off-site resource are generally off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit this question to describe the problem and what has been done so far to solve it.</h1>

<p>Yea, Nea or "yes but it should be edited" answers requested. As long as we have a majority of "yes" we can refine the wording, intent and links in the answer and make the change without needing to retire any current close reasons.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4546" class = "post">
				<p>I've adopted the Stack Overflow close reason of **Questions asking us to recommend or find a book, tool, software library, tutorial or other off-site resource are off-topic for Stack Overflow as they tend to attract opinionated answers and spam. Instead, describe the problem and what has been done so far to solve it.** was edited for Ask Different and I added Mac hardware shopping and removed software library and the explicit instructions to edit the closed post.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2427"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Sounds good! I was using very similar wording, also inspired by the Stack Overflow close reason, as a custom close reason in the free-form box on the close dialog.</p>

<p>I like the wording as it stands: concise and objectified, providing sufficient information for the OP to understand not just why their question was closed but <em>why</em> it was closed, as well as a nice link which I rarely included myself. Seems perfect!</p>

<p>An official close reason for this would lead to more consistency across the community.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4547" class = "post">
				<p>Agreed. Do you have any input on changing the wording or scope? I think that this will help with questions that are "which MBP for developers" and similar very open ended hardware questions.</p>
			</div>
			<div id = "comment-4565" class = "post">
				<p>@bmike I like the wording as it stands: concise and objectified, providing sufficient information for the OP to undetstand not just why their question was closed but *why* it was closed, as well as a nice link which I rarely included myself. Seems perfect!</p>
			</div>
			<div id = "comment-4571" class = "post">
				<p>OK - I'm rolling out the change. Since the votes here are quite low - please ping me or ask a new meta question if the votes swing or anyone wants an edit to the wording.</p>
			</div>
			<br><div id = "ans-2436"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I've added a close reason and linked it to the "How to ask a good question" article in the help center. It needs a second moderator to review the wording and approve the change.</p>

<p>The intention is not to broadly rule all hardware recommendations off topic. They are valuable when they are phrased to include:</p>

<ul>
<li>research shown</li>
<li>intent to learn how to shop or measure or decide or understand</li>
<li>not simply looking for someone to do the work for the OP</li>
<li>broadly applicable (if possible)</li>
</ul>

<p>If there is confusion how to use this, I'll gladly respond to a meta post with example questions that are bad and should be closed for this reason as well as example questions of good examples that should not be closed. I think the close voters are already voting this way and the link to the FAQ will help people with legitimate but lazily worded questions get their intent edited into the post so we can reopen them with a minimum discussion, delay and fuss.</p>

<p>I specifically like <a href="https://meta.stackoverflow.com/questions/254393/">these descriptions from the main meta</a>:</p>

<ul>
<li><p>"Recommendation question" is shorthand for "you didn't describe a problem, you just asked for a list of things."</p></li>
<li><p>First, let's be clear: all questions are recommendation questions. You describe a problem, folks recommend solutions: potential fixes for a bug, possible algorithms, libraries, work-arounds, etc. - So when folks talk about "recommendation questions", they're actually talking about <strong>questions where it's difficult or impossible to know</strong> - as the answerer or a reader - <strong>whether one answer provides a better solution than another</strong></p></li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4574" class = "post">
				<p>I think we are agreeing with each other but using different words. I think just because a question can be answered by recommending hardware doesn't necess make it a bad question, but many questions that ask for hardware recommendations are, in fact, bad questions.</p>
			</div>
			<div id = "comment-4575" class = "post">
				<p>@Daniel Yes - yes - yes. Sorry if my words were confusing - I'm looking to make it easy to handle bad questions and point people looking for legitimate help to the resources to get that question in shape for answering.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>