<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Adding hyperlinks fails to allow cut and paste
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-321" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::74</h3>
				<h2>Adding hyperlinks fails to allow cut and paste</h2>
<p>Trying to insert a hyperlink now fails as I cannot paste into the pop up box.</p>

<p>This worked in beta and still does on other stack exchange sites.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-684" class = "post">
				<p>how odd, indeed I can confirm this..</p>
			</div>
			<div id = "comment-686" class = "post">
				<p>Yeah, it works if you delete the `http://` before pasting</p>
			</div>
			<div id = "comment-689" class = "post">
				<p>Thanks for that Griffo - I've just been clicking ok with the http:// url, and then pasting my own link after that. Kind of a pain, but should be an easy fix</p>
			</div>
			<div id = "comment-690" class = "post">
				<p>i didn't even realize this was a bug... happened to me and i thought it was just a fluke</p>
			</div>
			<div id = "comment-778" class = "post">
				<p>could mark the answer as accepted here...</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-329"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The fix will be in the next deployment.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-693" class = "post">
				<p>This must be the absolutely weirdest browser bug I've ever seen (it only happens in Chrome). This was caused by a CSS rule that has nothing to do with anything even *remotely* related to that input box.</p>
			</div>
			<div id = "comment-694" class = "post">
				<p>For those interested, this is the bug: http://code.google.com/p/chromium/issues/detail?id=60057</p>
			</div>
			<div id = "comment-696" class = "post">
				<p>I found it in Omniweb and Safari not Chrome</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>