<html>
	<head>
		<title id = 'pagetitle'>Adding a photo to my AskDiffernt bio account
		</title>
	<head>
	<body id = 'pagebody'><p>How can I add a photo to my AskDifferent account?</p>


<h1>ANSWERS</h1>
		<p>You will need to sign up for a <a href="http://en.gravatar.com/" rel="nofollow">Gravatar</a> account with the same email address you're using for your Ask Different account. You can set the image you want to use for your avatar from your Gravatar account.</p>


	</body>
</html>