<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Adobe Creative Cloud: Mac App Alternatives
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Adobe Creative Cloud: Mac App Alternatives</h2>
<p>I recently asked a question <a href="https://apple.stackexchange.com/questions/90768/adobe-creative-cloud-mac-app-alternatives">here</a> regarding Adobe Creative Cloud: Mac App Alternatives which according to @bmike has been temporarily closed. In hindsight should have asked here first, but sometimes I get too excited.</p>

<p>Its probably a good idea for an Ask Different Blog Post instead. Can we work out an outline or at least gauge interest in a blog post here?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>See here <a href="https://apple.meta.stackexchange.com/questions/1676/whats-wrong-with-a-question-asking-for-alternatives-to-adobe-cs-in-the-cloud">What&#39;s wrong with a question asking for alternatives to Adobe CS in the cloud?</a></p>

<p>Again, I want to thank you so much for asking it and being excited about the site and about generating good relevant content. </p>

<p>We can use this question to work on some blog post outlines and the other question to hash out what to do with the original question.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>