<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Adopt a "Create a Tag, Write the Description" Policy
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Adopt a "Create a Tag, Write the Description" Policy</h2>
<p>I was browsing through some of the lesser-used tags and came across many tags that were misused greatly due to either their lack of a description or to a low-quality description. </p>

<p>For example, with the "group" tag, you have a question like "How do I leave an iPhone group conversation from a non-iPhone?", which uses the group tag like this: </p>

<blockquote>
  <p>"Someone added her to a group conversation...". </p>
</blockquote>

<p>And then you have questions like "How to resolve permissions errors on OS X Lion after Homebrew install" which uses "group" like this:</p>

<blockquote>
  <p>"Unix group..."</p>
</blockquote>

<p>And you also have questions like "Utility to group windows for Mac OS X?" which use group like this:</p>

<blockquote>
  <p>"Is there a utility for Mac OS X that will group windows"</p>
</blockquote>

<p>So in these three examples, you have three relatively different uses of the word group. I think that since the "group" tag is very generic and can be used in a multitude of situations, maybe it should be removed and more specific group-related tags created "Unix-group", "chat-group"/"group-conversation", etc. This would remove the ambiguity surrounding some questions with that tag.</p>

<p>Maybe there's a specific reason for allowing tags to be ambiguous that I'm not aware of, but to me it seems like we should either:</p>

<ol>
<li><strong>Remove generic tags</strong> and create <strong>more specific</strong> tags that are related ("group" -> "unix-group" + "chat-group").</li>
<li><strong>Tag more accurately</strong>. For example, if I'm asking how to group windows, maybe I don't need to use a tag specifically dictating how I want to manage my windows; maybe I could just use a tag that's a little more general but not too broad like "window-management". </li>
<li><strong>Write specific descriptions for new tags</strong>. This way, if I'm thinking about using the "group" tag, I can read the description and see if it applies to my question.</li>
</ol>

<p>Again, if there's a specific reason for this tag ambiguity, I'd like to know, but otherwise, I believe that one of my three proposals should be put into place. I'm not saying we don't already do this; on the contrary, we do a very good job at creating relevant tags with good descriptions, but for the future, we should consciously adopt a policy to further improve the quality of our tags.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>In the first example, subject to more review, it sounds like the tag <a href="https://apple.stackexchange.com/questions/tagged/group" class="post-tag" title="show questions tagged &#39;group&#39;" rel="tag">group</a> is better off being deleted. Tags are not intended to be so specific. The group-conversation question is better off under something like <a href="https://apple.stackexchange.com/questions/tagged/messaging" class="post-tag" title="show questions tagged &#39;messaging&#39;" rel="tag">messaging</a>, the rest should simply drop the tag.</p>

<p>It's not a matter of 'allowing' ambiguous tags, it's a matter of allowing users to fill in almost anything into the field provided they have <a href="https://apple.stackexchange.com/privileges/create-tags">300+ rep</a>, and cleanup only happens after the fact. The tag suggestions pop-up helps, only if the tag itself previously exists, has a description, and the user chooses to read it.</p>

<p>If you mean a technical policy wherein the user is brought to a tag-edit dialog immediately after their post their question, that is worse. Things like that drive users away from a site. And they can always close the window or click another link to bypass the screen.</p>

<p>I don't believe a policy of forcing users that create a tag to explicitly define it will help, primarily because when a user is focused on something like the content of their question, they'd likely describe the tag specific to their situation. There are a wide variety of cases such as <a href="https://apple.stackexchange.com/questions/tagged/mail" class="post-tag" title="show questions tagged &#39;mail&#39;" rel="tag">mail</a> where it applies to a handful of scenarios. The user could choose to talk explicitly about OS X Mail.app, or iOS Mail.app, when in reality it applies to any mail client, web mail sites, the act of transmitting mail, etc.</p>

<p>Bad data is just as bad, if not worse, than no data. I feel that the non-  users contributing tag edits lately are doing a great job maintaining quality. With the addition of the approval system to squeeze out the best possible improvements before approval, tags that are being maintained are consistently achieving high quality.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>