<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Adopt a "Create a Tag, Write the Description" Policy
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1390" class = "post">
			<h2>Question</h2>
			<div id="vote-1390" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
				<h2>Adopt a "Create a Tag, Write the Description" Policy</h2>
<p>I was browsing through some of the lesser-used tags and came across many tags that were misused greatly due to either their lack of a description or to a low-quality description. </p>

<p>For example, with the "group" tag, you have a question like "How do I leave an iPhone group conversation from a non-iPhone?", which uses the group tag like this: </p>

<blockquote>
  <p>"Someone added her to a group conversation...". </p>
</blockquote>

<p>And then you have questions like "How to resolve permissions errors on OS X Lion after Homebrew install" which uses "group" like this:</p>

<blockquote>
  <p>"Unix group..."</p>
</blockquote>

<p>And you also have questions like "Utility to group windows for Mac OS X?" which use group like this:</p>

<blockquote>
  <p>"Is there a utility for Mac OS X that will group windows"</p>
</blockquote>

<p>So in these three examples, you have three relatively different uses of the word group. I think that since the "group" tag is very generic and can be used in a multitude of situations, maybe it should be removed and more specific group-related tags created "Unix-group", "chat-group"/"group-conversation", etc. This would remove the ambiguity surrounding some questions with that tag.</p>

<p>Maybe there's a specific reason for allowing tags to be ambiguous that I'm not aware of, but to me it seems like we should either:</p>

<ol>
<li><strong>Remove generic tags</strong> and create <strong>more specific</strong> tags that are related ("group" -> "unix-group" + "chat-group").</li>
<li><strong>Tag more accurately</strong>. For example, if I'm asking how to group windows, maybe I don't need to use a tag specifically dictating how I want to manage my windows; maybe I could just use a tag that's a little more general but not too broad like "window-management". </li>
<li><strong>Write specific descriptions for new tags</strong>. This way, if I'm thinking about using the "group" tag, I can read the description and see if it applies to my question.</li>
</ol>

<p>Again, if there's a specific reason for this tag ambiguity, I'd like to know, but otherwise, I believe that one of my three proposals should be put into place. I'm not saying we don't already do this; on the contrary, we do a very good job at creating relevant tags with good descriptions, but for the future, we should consciously adopt a policy to further improve the quality of our tags.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1390" class = 'collapse'>
			</div>
				<textarea id = "speech-1390" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1390">
					<img id="start_img-1390" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1391"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1391" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In the first example, subject to more review, it sounds like the tag <a href="https://apple.stackexchange.com/questions/tagged/group" class="post-tag" title="show questions tagged &#39;group&#39;" rel="tag">group</a> is better off being deleted. Tags are not intended to be so specific. The group-conversation question is better off under something like <a href="https://apple.stackexchange.com/questions/tagged/messaging" class="post-tag" title="show questions tagged &#39;messaging&#39;" rel="tag">messaging</a>, the rest should simply drop the tag.</p>

<p>It's not a matter of 'allowing' ambiguous tags, it's a matter of allowing users to fill in almost anything into the field provided they have <a href="https://apple.stackexchange.com/privileges/create-tags">300+ rep</a>, and cleanup only happens after the fact. The tag suggestions pop-up helps, only if the tag itself previously exists, has a description, and the user chooses to read it.</p>

<p>If you mean a technical policy wherein the user is brought to a tag-edit dialog immediately after their post their question, that is worse. Things like that drive users away from a site. And they can always close the window or click another link to bypass the screen.</p>

<p>I don't believe a policy of forcing users that create a tag to explicitly define it will help, primarily because when a user is focused on something like the content of their question, they'd likely describe the tag specific to their situation. There are a wide variety of cases such as <a href="https://apple.stackexchange.com/questions/tagged/mail" class="post-tag" title="show questions tagged &#39;mail&#39;" rel="tag">mail</a> where it applies to a handful of scenarios. The user could choose to talk explicitly about OS X Mail.app, or iOS Mail.app, when in reality it applies to any mail client, web mail sites, the act of transmitting mail, etc.</p>

<p>Bad data is just as bad, if not worse, than no data. I feel that the non-  users contributing tag edits lately are doing a great job maintaining quality. With the addition of the approval system to squeeze out the best possible improvements before approval, tags that are being maintained are consistently achieving high quality.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1391">Load Comments</button></br>
			<div id = "commentsection-1391" class = 'collapse'>
			<div id = "comment-2662" class = "comment">
				<p>Thanks, great answer! Just one thing: I don't think I said "window-management" was too broad for my second example. I said that it was a fitting tag because it was "a little more general [then "group"] but not too broad". Anyway, thanks, I now understand better the tagging system.</p>
			</div>
			<div id = "comment-2663" class = "comment">
				<p>Oh, I see. Yeah, English is weird and sometimes I just read it in the wrong direction. This was one of those cases. I've edited the relevant paragraph out of the post since I just plain agree with it.</p>
			</div>
			</div>
				<textarea id = "speech-1391" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1391">
					<img id="start_img-1391" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>