<html>
	<head>
		<title id = 'pagetitle'>After how many days is a user removed?
		</title>
	<head>
	<body id = 'pagebody'><p>I see in my reputation history that I have been removed on January 29th, only three days after my last activity on the site (accepting an answer).</p>

<p>Was this a mistake or are users removed after just a few days of inactivity?</p>


<h1>ANSWERS</h1>
		<p>Users get removed for a variety of reasons:</p>

<ul>
<li>They decide to <a href="https://meta.stackexchange.com/questions/156559/improve-the-user-self-deletion-process">delete themselves</a> (or someone with their credentials deletes the account)</li>
<li>They age out after <a href="https://meta.stackexchange.com/questions/146450/delete-old-unloved-users">differing periods of abandonment</a> based on what content that user has left on the site</li>
<li>For reasons of moderation</li>
<li>Upon requests to <a href="https://apple.stackexchange.com/help">Stack Exchange</a></li>
</ul>

<p>If you want to post the specifics or flag this and provide us the moderators with more information to see if we can even determine which account was deleted, we can look into the specifics.</p>

<p>As you see, the links I have provided are for the main meta, since deletion is about common code and rules for all Stack Exchange sites but in some cases a site moderator has slightly more visibility into specifics on their site.</p>

<p>Since you mentioned reputation, I checked yours at this page:</p>

<p><a href="https://apple.stackexchange.com/users/37954/user1301428?tab=reputation">https://apple.stackexchange.com/users/37954/user1301428?tab=reputation</a></p>

<p>And there is an entry:</p>

<p><img src="https://i.stack.imgur.com/haX85.png" alt="enter image description here"></p>

<p>That is what you will see when a user that had given you reputation is removed from the site - taking that reputation back. I too lost reputation on that day (-50 points), but since voting is anonymous and deletion isn't something even moderators can audit or look back to see what happened, it's likely that one user that was here for a while left (causing several people to lose reputation) although it could also be several automatic deletions being handled as a batch and reputation adjusted once to balance the numbers.</p>


	</body>
</html>