<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>After how many days is a user removed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1573" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::61</h3>
				<h2>After how many days is a user removed?</h2>
<p>I see in my reputation history that I have been removed on January 29th, only three days after my last activity on the site (accepting an answer).</p>

<p>Was this a mistake or are users removed after just a few days of inactivity?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1574"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Users get removed for a variety of reasons:</p>

<ul>
<li>They decide to <a href="https://meta.stackexchange.com/questions/156559/improve-the-user-self-deletion-process">delete themselves</a> (or someone with their credentials deletes the account)</li>
<li>They age out after <a href="https://meta.stackexchange.com/questions/146450/delete-old-unloved-users">differing periods of abandonment</a> based on what content that user has left on the site</li>
<li>For reasons of moderation</li>
<li>Upon requests to <a href="https://apple.stackexchange.com/help">Stack Exchange</a></li>
</ul>

<p>If you want to post the specifics or flag this and provide us the moderators with more information to see if we can even determine which account was deleted, we can look into the specifics.</p>

<p>As you see, the links I have provided are for the main meta, since deletion is about common code and rules for all Stack Exchange sites but in some cases a site moderator has slightly more visibility into specifics on their site.</p>

<p>Since you mentioned reputation, I checked yours at this page:</p>

<p><a href="https://apple.stackexchange.com/users/37954/user1301428?tab=reputation">https://apple.stackexchange.com/users/37954/user1301428?tab=reputation</a></p>

<p>And there is an entry:</p>

<p><img src="https://i.stack.imgur.com/haX85.png" alt="enter image description here"></p>

<p>That is what you will see when a user that had given you reputation is removed from the site - taking that reputation back. I too lost reputation on that day (-50 points), but since voting is anonymous and deletion isn't something even moderators can audit or look back to see what happened, it's likely that one user that was here for a while left (causing several people to lose reputation) although it could also be several automatic deletions being handled as a batch and reputation adjusted once to balance the numbers.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2950" class = "comment">
				<p>Ok, I thought that the "user was removed" message was referring to my profile. Maybe the message should be improved a bit...</p>
			</div>
			<div id = "comment-2951" class = "comment">
				<p>You can ask for feature requests here or on the main meta. I would suggest the latter since it gets many more people visiting it.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>