<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Allow "How to Learn Objective-C"-Type Questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1670" class = "post">
			<h2>Question</h2>
			<div id="vote-1670" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 155</p>
			</div>
				<h2>Allow "How to Learn Objective-C"-Type Questions?</h2>
<p>Came across <a href="https://apple.stackexchange.com/questions/89928/how-to-learn-objective-c-language">this question</a> about learning Objective-C. While the FAQ explicitly disallows "Code-level programming questions", this is clearly not a code-level question, and I think there's some value in it, particularly if it were edited slightly to be a bit less open-ended (<em>i.e.</em> "What are some good resources to start learning Objective-C").</p>

<p>Two main rationales for this:</p>

<ul>
<li>This type of question would be (and <a href="https://stackoverflow.com/search?q=how+to+learn+objective-c">has been</a>) closed on StackOverflow, as it's not a code-specific question.</li>
<li>I think we should encourage others to explore the Apple ecosystem beyond just using software. I think lots of people using Ask Different have been exposed to the command-line and scripting for the first time, it seems like the perfect place to introduce what can be done with programming.</li>
</ul>

<p>Again, I'm not advocating for any programming/code-specific questions, but a general "where to started" type question seems like a useful resource for others to me.</p>

<p>Thoughts?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1670">Load Comments</button></br>
			<div id = "commentsection-1670" class = 'collapse'>
			<div id = "comment-3134" class = "comment">
				<p>Thank you, thank you for asking this. The close reason I chose should probably have been - not a real question since as written, it's not even remotely answerable without guessing far too much about what the OP is trying to solve.</p>
			</div>
			</div>
				<textarea id = "speech-1670" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1670">
					<img id="start_img-1670" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1671"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1671" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That's a terribly open-ended and unanswerable question that's been linked to and I think it exemplifies why we <em>don't</em> want these questions on Ask Different.</p>

<p>When someone asks, "How do I learn this language?" they're asking something that is so broad, so without a canonical response, that it just doesn't fit the Stack Exchange format. It is going to get closed no matter where you post it on the SE network.</p>

<p>If the person who asked that question could narrow it down so it might have a single, clear answer they could post it on <a href="https://softwareengineering.stackexchange.com/">https://softwareengineering.stackexchange.com/</a> -- it's better suited for that site. Though even there you have to avoid the open-ended "help me learn" type questions as <a href="https://softwareengineering.stackexchange.com/faq">per their FAQ</a>:</p>

<blockquote>
  <p>and it is not about...</p>
  
  <ul>
  <li>general workplace issues, office politics, r sum  help (check out The Workplace instead),</li>
  <li>implementation issues or programming tools (ask on Stack Overflow instead),</li>
  <li>what language/technology you should learn next, including which technology is better,</li>
  <li>what project you should do next,</li>
  <li>what book you should read next,</li>
  <li>career advice, salary or compensation,</li>
  <li>personal lifestyle, including relationships, and non-programming activities</li>
  </ul>
</blockquote>

<p>If, what you really want to ask, is something as vaguely-answerable as "how do I learn this language", I think what you want is <em>not</em> Stack Exchange but something more akin to a traditional forum. Where you can have a dialog and and a back-and-forth conversation about the open-ended-ness that is learning something new like a computer language.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1671">Load Comments</button></br>
			<div id = "commentsection-1671" class = 'collapse'>
			<div id = "comment-3129" class = "comment">
				<p>Hence why I suggested editing it to be more of a "what are some good resources to begin learning this". Taken at its most literal, then yes it is very open ended, but my interpretation was the questioner was looking for more a starting point to do some research, which to me seems valuable.</p>
			</div>
			<div id = "comment-3130" class = "comment">
				<p>Even that edit has no *right* answer. It's almost leading towards a community wiki question. Something I've made no secret of loathing in the SE universe.</p>
			</div>
			<div id = "comment-3131" class = "comment">
				<p>Well, I suppose we're not going to reach a consensus here, as some of my favourite Ask Different questions end up as community wiki ones. No *right* answer doesn't mean there can't be useful *good* answers, and bad answers can still be filtered out via voting or improved.</p>
			</div>
			<div id = "comment-3132" class = "comment">
				<p>@robmathers if it helps, I think I am very much an outlier in my disklike of community wiki questions.</p>
			</div>
			<div id = "comment-3133" class = "comment">
				<p>[Googling "How to Learn Objective-C"](https://encrypted.google.com/search?hl=en&q=how%20to%20learn%20objective%20c) returns a bunch of very good hits on the first page alone, I don't think a not very Q&A like thread on AD does provide additional value anyway.</p>
			</div>
			</div>
				<textarea id = "speech-1671" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1671">
					<img id="start_img-1671" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1672"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1672" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Rob - I would love to pass three lenses over the question you posted and see if we can help edit it so it's on-topic here (or at least point to another site where this would be a better fit).</p>

<ol>
<li>How would the perfect "learning to program for OS X or iOS" question fit in Programmers, Stack Overflow, and Ask Different?</li>
<li><a href="https://meta.stackexchange.com/questions/171732/help-us-make-not-constructive-and-not-a-real-question-closures-more-effectiv">What makes a question "Not a Real Question"?</a></li>
<li>What makes a question off-topic here?</li>
</ol>

<p>For the first item, I'll appeal to a reading of our FAQ and the FAQ of other sites.</p>

<ul>
<li><a href="https://softwareengineering.stackexchange.com/faq">Programmers   Stack Exchange</a> is a site for professional programmers who are interested in getting expert answers on conceptual questions about software development. If you read the <strong>and it is not about </strong> this question is very much not a fit for Programmers. It's not a professional programmer asking a question and it is about what language to learn next and what book to read (or what training course to take).</li>
<li><a href="https://apple.stackexchange.com/faq">Ask Different</a> is for Apple enthusiasts and power users. And the question isn't really about using Apple's iTunes Connect service (or other services) and more about looking for advice on how to become a programmer.</li>
<li><a href="https://stackoverflow.com/faq">Stack Overflow</a> is for professional and enthusiast programmers, people who write code because they love it. </li>
</ul>

<p>So Stack Overflow seems the perfect place for this sort of question. It's targeted at someone about to embark on being a programmer so the subject matter fits there best. Now, that question wouldn't fly in Stack Overflow for a multitude of other reasons, the first being this part of their FAQ "what not to ask here"</p>

<blockquote>
  <p>Your questions should be reasonably scoped. If you can imagine an entire book that answers your question, you re asking too much.</p>
</blockquote>

<p>This question as phrased seems to be a great example of asking too much. The OP needs to find a mentor to guide them so that they can learn enough to ask pointed, researched, clear questions about practical, solvable questions that will be of use to the programmer community. The question of what to do next is very individual and primarily opinion-based so all Stack Exchange sites will generally close questions that do not have work done to make their subjectiveness minimized.</p>

<p>Now that I've shared why I feel this general topic is a poor fit here or on Programmers, let's address the next point.</p>

<p>This again is a great example of a question that's too broad that any expert cannot arrive on the site and know what the asker is really asking. Specifically:</p>

<ul>
<li>Is it really about learning Objective C or about learning Cocoa or an appeal for which frameworks work well for iOS and OS X programming?</li>
<li>Is it looking for a university program to embark on a career?</li>
<li>Is it a hobbyist with spare time looking to punt around and make a widget or two?</li>
<li>Is it a C# coder looking for a book to apply those idioms on a new language?</li>
</ul>

<p>If the asker put more effort into that question, it might be a great question according to the criteria that community moderation is designed to enforce. However, keep in mind even a bad question can be saved with a great answer so if enough people vote to re-open it, it could survive to get a good answer.</p>

<p>Lastly, it's off-topic here since it's not really about iTunes Connect which is the only part of being a developer we explicitly list in our FAQ. This might be the first effort to change the FAQ - but I'd want to see three or four great example questions and answers discussed here before I'd support adding "learn to program" to our list of topics. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1672" class = 'collapse'>
			</div>
				<textarea id = "speech-1672" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1672">
					<img id="start_img-1672" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>