<html>
	<head>
		<title id = 'pagetitle'>Am I at Level 2 or not?
		</title>
	<head>
	<body id = 'pagebody'><p>My progress bar shows that I've hit level 2. I've received a notice on the site. However, the number of shares and questions/answers with 2 up votes has gone down. I can understand the Q&amp;A getting downvotes, but how can a link be unshared?</p>

<p>Is something broken?</p>


<h1>ANSWERS</h1>
		<p>As @balpha, the coder of the contest has <a href="http://chat.stackexchange.com/transcript/message/3910467#3910467">said</a>:</p>

<blockquote>
  <p>Once a mission is completed, it won't be revoked automatically if the criteria aren't met anymore. We can revoke them manually, but we'll only do that if the mission was achieved only because of serial upvoting or similar issues, but not just because some downvote got you below the threshold again. Chances are that another upvote is going to come in anyway :)</p>
</blockquote>


	</body>
</html>