<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Am I at Level 2 or not?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1204" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::137</h3>
				<h2>Am I at Level 2 or not?</h2>
<p>My progress bar shows that I've hit level 2. I've received a notice on the site. However, the number of shares and questions/answers with 2 up votes has gone down. I can understand the Q&amp;A getting downvotes, but how can a link be unshared?</p>

<p>Is something broken?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2207" class = "comment">
				<p>An unshared link? We've [mentioned this](http://chat.stackexchange.com/transcript/message/3919090#3919090) in chat earlier.</p>
			</div>
			<div id = "comment-2208" class = "comment">
				<p>@gentmatt and the other part?</p>
			</div>
			<div id = "comment-2209" class = "comment">
				<p>Only unshared links.</p>
			</div>
			<div id = "comment-2278" class = "comment">
				<p>@balpha - might you have a gander at this other question in the next day? Much obliged, mike. http://meta.apple.stackexchange.com/questions/1238/possible-bug-in-the-contest-share-count</p>
			</div>
			<div id = "comment-3769" class = "comment">
				<p>This question is closed since the relevant promotion is over and that code inactive.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1205"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>As @balpha, the coder of the contest has <a href="http://chat.stackexchange.com/transcript/message/3910467#3910467">said</a>:</p>

<blockquote>
  <p>Once a mission is completed, it won't be revoked automatically if the criteria aren't met anymore. We can revoke them manually, but we'll only do that if the mission was achieved only because of serial upvoting or similar issues, but not just because some downvote got you below the threshold again. Chances are that another upvote is going to come in anyway :)</p>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2210" class = "comment">
				<p>Just to assuage any fears about not making it to tier two. This doesn't answer the "why", but it should be of interest.</p>
			</div>
			<div id = "comment-2211" class = "comment">
				<p>This is the correct answer.  We'll not revoke levels that were attained if the criteria are no longer met due to score fluctuations.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>