<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>An open request for *moderate* moderation
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-168" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::140</h3>
				<h2>An open request for *moderate* moderation</h2>
<p>I don't want to create any kind of poo-storm, but I would like to see more hands-off moderation, at least in these early stages of the site.  </p>

<p>A lot of the users on this site are brand-new, and they will not continue to post or frequent it if their questions are closed, answers are brushed off, or their questions are completely rewritten.  I'm not saying we shouldn't strive for high-quality, just that I would like it if we could keep our standards a little more loose and our comments a little more positive at least until the site really takes off.</p>

<p>FYI: I'm not singling anybody out and I know I've been guilty of heavy-handed moderation as well.  This is directed towards all of of us... from those with the privileges of commenting and voting-down all the way to those with the full use of moderator tools.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-269" class = "comment">
				<p>May I remind you that having an anything goes policy, doesn't help getting better questions. The rules that are being upheld are there for a reason.</p>
			</div>
			<div id = "comment-270" class = "comment">
				<p>I don't think there's anything in my post that implies I am advocating an anything goes policy.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-170"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I agree with this, we re having a hard time taking off because of SuperUser and Apple Discussion Forums (among others). So in order to create an Apple Community we need to attract people and be more open about the rules. Else we will always be 2nd and nobody will post because they will say:  just post @ SU, there are more people there .</p>

<p>I usually correct certain posts if I see something hard to understand, but I am not a native english speaker myself so I can t really be sure that what I m fixing is not bad :)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-172"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Can you name some examples of what you mean? I know you don't want to call anyone out, but if you could lay out some general hypothetical scenarios it would be helpful to know.</p>

<p>I do, however, agree with what you've said - to a point. It's important to make sure that we don't generate traffic at the expense of the quality of the site, but as long as someone's making an earnest effort at contributing and not being disruptive moderation should be relatively hands-off.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-271" class = "comment">
				<p>General situations where I think temperance should be observed: *bad grammar by non-native english speakers: no doubt these should be edited to be more legible, but rewriting the entire post and/or making comments other than "grammar" in the edit comments field is overboard. *downvoting and/or snide/confrontational comments on answers and/or questions even when the person is genuinely trying to help or receive help and may be less knowledgeable than many here. *closing questions with little or no community consensus (barring obscenity, TOS violation, etc).</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>