<html>
	<head>
		<title id = 'pagetitle'>An option to turn off the skin (revert to something like the default "beta" skin for sites)
		</title>
	<head>
	<body id = 'pagebody'><p>The skin here is really messing with my eyes, and I'm having trouble understanding what I see when on this SE site, when compared to others.</p>

<p>I'd like to request an option to turn off the skin and revert to a default, un-skinned site (maybe similar to the beta sites)</p>


<h1>ANSWERS</h1>
		<p>You can use browser add-ons to over write site's styles. For example: <a href="https://addons.mozilla.org/en-US/firefox/addon/stylish/" rel="nofollow">https://addons.mozilla.org/en-US/firefox/addon/stylish/</a></p>

<p>To revert back to the Beta theme, you can grab the CSS file from any of the current Beta sites, for example: <a href="http://sstatic.net/guitars/all.css" rel="nofollow">http://sstatic.net/guitars/all.css</a> Please keep in mind once the Beta site launches officially the .CSS file content will change. You'll need to grab a CSS file from another Beta site.</p>


	</body>
</html>