<html>
	<head>
		<title id = 'pagetitle'>Announced but not yet released products
		</title>
	<head>
	<body id = 'pagebody'><p>We've established that beta software is off topic until it is released, but what about hardware? For instance, are iPhone 4S questions off limits until Apple actually ships them?</p>


<h1>ANSWERS</h1>
		<blockquote>
  <p>...are iPhone 4S questions off limits until Apple actually ships them?</p>
</blockquote>

<p>Now that it has been announced, I think that makes it on-topic. Apple has a nice product page to pull some answers from (though any question might get closed as being easily answerable via the page). </p>

<p>As to the quality of that answers you are going to get, that's something else completely since it hasn't been shipped and no one has it in their hands yet.</p>


	</body>
</html>