<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Announced but not yet released products
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Announced but not yet released products</h2>
<p>We've established that beta software is off topic until it is released, but what about hardware? For instance, are iPhone 4S questions off limits until Apple actually ships them?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<blockquote>
  <p>...are iPhone 4S questions off limits until Apple actually ships them?</p>
</blockquote>

<p>Now that it has been announced, I think that makes it on-topic. Apple has a nice product page to pull some answers from (though any question might get closed as being easily answerable via the page). </p>

<p>As to the quality of that answers you are going to get, that's something else completely since it hasn't been shipped and no one has it in their hands yet.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>