<html>
	<head>
		<title id = 'pagetitle'>Answer was accepted but bounty was not received
		</title>
	<head>
	<body id = 'pagebody'><p>The OP has <a href="https://apple.stackexchange.com/a/128973/46541">marked my answer as correct</a> but I did not get the bounty!</p>

<p>What happened here? Who decides who gets the rewards?</p>


<h1>ANSWERS</h1>
		<p>The OP has to award the bounty, and it is not linked to acceptance. It's a separate process, and it's entirely possible to award it to an unrelated answer.</p>

<p>Because they are not linked, the OP will instead be told when it has expired that he has a couple of days to award it, and will get bugged to do so. I think if the OP does not specifically award it, it can be auto awarded to the highest scoring answer if it's above a certain level, I don't recall the exact mechanism.</p>

<p>Check the question, if the bounty is still active, then just have patience until it's expired and the OP gets prompted.</p>


<p>The asker of the question decides whether and to whom to assign the "accepted answer" checkbox. The issuer of a bounty decides whether and to whom to assign the bounty. These are separate decisions, even in the case where the asker and the poster of the bounty are the same person. In this case, the poster actually left a note:</p>

<p>"Update 2: The bounty and the accepted answer are both great - couldn't decide so I split the accept and the bounty between them."</p>


	</body>
</html>