<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Answered Questions that help Instructors
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2439" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::27</h3>
				<h2>Answered Questions that help Instructors</h2>
<p>For those of you who are able to reply, thank you for your help. I can't vote you up on here for some reason but I appreciate you.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4576" class = "post">
				<p>Welcome to the site. Meta Ask Different is the place to discuss Ask Different and your question has been migrated here from the site.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2440"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>You can't comment or vote in a way that grants reputation since your account doesn't have that privilege yet.</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/whats-reputation">https://apple.stackexchange.com/help/whats-reputation</a></li>
<li><a href="https://apple.stackexchange.com/tour">https://apple.stackexchange.com/tour</a></li>
</ul>

<p>Why not look over the help section and tour. Also, your votes still help the site, so be sure to vote up good posts - it doesn't give reputation directly but the system does promote posts with high anonymous positive votes when it decides how to render pages.</p>

<p>Welcome to the site and I hope you can find things to answer / ask and do real voting and building of knowledge for all about Apple products.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>