<html>
	<head>
		<title id = 'pagetitle'>Answers that are the same, and newer one gets up-voted?
		</title>
	<head>
	<body id = 'pagebody'><p>Is there are way to merge and re-award points to the first answer? If there isn't, I would like to recommend a way to merge answers that are the same (or nearly identical) and to award the points to the original (oldest) answer. It's not fair to the person who responded first when the second (newer) response gets the up-votes and the answers are no different. </p>


<h1>ANSWERS</h1>
		<p>If the community votes for one answer over another, then that's just going to happen. Whenever <em>I</em>, personally, see two answers that are identical, I vote for the answer that is given by the person with the lower reputation; others will see the situation differently. I see where you're coming from, but that is just the way the system works with people involved. I don't think the mods should step in and "fix" things like this. Just keep plugging away at it.</p>


<p>Part of the problem is that it appears to the community that the answers were posted at the same time. Since times are displayed as "19 hours ago", it looks like your answer and the other one came from the same time.<br>
Yes, you can hover over that to see the exact time, but many people don't know how/don't bother to do this.</p>

<p>This means that people upvote answers based on the one they like better. If one has something to make it a little nicer than the other, that one will get votes (even if it was posted later than the other).</p>

<p>This is compounded by the fact that answers with upvotes float to the top. That means that some people will go to the question, see the answer with upvotes because it's at the top, and upvote it. They may never see the other answer because it hasn't floated to the top, or they may just decide to upvote the one that already has upvotes.</p>

<p>Bottom line, there's not a lot you can do about it. The only way to go is to make sure your answers are so high-quality that people will upvote yours over others!</p>


	</body>
</html>