<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Answer was accepted but bounty was not received
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2139" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::37</h3>
				<h2>Answer was accepted but bounty was not received</h2>
<p>The OP has <a href="https://apple.stackexchange.com/a/128973/46541">marked my answer as correct</a> but I did not get the bounty!</p>

<p>What happened here? Who decides who gets the rewards?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2140"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The OP has to award the bounty, and it is not linked to acceptance. It's a separate process, and it's entirely possible to award it to an unrelated answer.</p>

<p>Because they are not linked, the OP will instead be told when it has expired that he has a couple of days to award it, and will get bugged to do so. I think if the OP does not specifically award it, it can be auto awarded to the highest scoring answer if it's above a certain level, I don't recall the exact mechanism.</p>

<p>Check the question, if the bounty is still active, then just have patience until it's expired and the OP gets prompted.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4063" class = "post">
				<p>will do as advised</p>
			</div>
			<br><div id = "ans-2141"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The asker of the question decides whether and to whom to assign the "accepted answer" checkbox. The issuer of a bounty decides whether and to whom to assign the bounty. These are separate decisions, even in the case where the asker and the poster of the bounty are the same person. In this case, the poster actually left a note:</p>

<p>"Update 2: The bounty and the accepted answer are both great - couldn't decide so I split the accept and the bounty between them."</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4065" class = "post">
				<p>needless to say i disagree with the call, but so be it. Looking in the Answer with Bounty, I find it very week.</p>
			</div>
			<div id = "comment-4066" class = "post">
				<p>You may well disagree, but it's not your call, nor mine. The one who pays the piper calls the tune. If you want to agree with some bounty awards, hand them out yourself.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>