<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Answered Questions that help Instructors
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2439" class = "post">
			<h2>Question</h2>
			<div id="vote-2439" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 27</p>
			</div>
				<h2>Answered Questions that help Instructors</h2>
<p>For those of you who are able to reply, thank you for your help. I can't vote you up on here for some reason but I appreciate you.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2439">Load Comments</button></br>
			<div id = "commentsection-2439" class = 'collapse'>
			<div id = "comment-4576" class = "comment">
				<p>Welcome to the site. Meta Ask Different is the place to discuss Ask Different and your question has been migrated here from the site.</p>
			</div>
			</div>
				<textarea id = "speech-2439" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2439">
					<img id="start_img-2439" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2440"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2440" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can't comment or vote in a way that grants reputation since your account doesn't have that privilege yet.</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/whats-reputation">https://apple.stackexchange.com/help/whats-reputation</a></li>
<li><a href="https://apple.stackexchange.com/tour">https://apple.stackexchange.com/tour</a></li>
</ul>

<p>Why not look over the help section and tour. Also, your votes still help the site, so be sure to vote up good posts - it doesn't give reputation directly but the system does promote posts with high anonymous positive votes when it decides how to render pages.</p>

<p>Welcome to the site and I hope you can find things to answer / ask and do real voting and building of knowledge for all about Apple products.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2440" class = 'collapse'>
			</div>
				<textarea id = "speech-2440" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2440">
					<img id="start_img-2440" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>