<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Answers that are really comments~comments that are really answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Answers that are really comments~comments that are really answers</h2>
<p>In the flagging dialog box, there is a way to indicate that an answer is not really an answer, but actually a comment.</p>

<p>What about the reverse case? Are flags encouraged that indicate that a comment is actually an answer to the problem? If we read comments that actually propose a solution to the problem, should we flag them as "not a comment" for a moderator to reclassify as an answer?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<blockquote>
  <p>Are flags encouraged that indicate that a comment is actually an
  answer to the problem?</p>
</blockquote>

<p>Sure, but it would be faster to simply <code>@</code> the commenter and tell them to make their comment an answer. That's what we would do; it is all we <em>can</em> do, per my answer to your second question.</p>

<blockquote>
  <p>If we read comments that actually propose a solution to the problem,
  should we flag them as "not a comment" for a moderator to reclassify
  as an answer?</p>
</blockquote>

<p>We do not have the ability to switch comments to answers; we can only switch answers to comments (and I've done that a fair number of times). All we can do in that case is simply <code>@</code> the commenter to ask them to add their comment as an answer. Veterans of Stack Exchange typically oblige, but people new to the culture typically don't and we are stuck.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>