<html>
	<head>
		<title id = 'pagetitle'>Answered Questions that help Instructors
		</title>
	<head>
	<body id = 'pagebody'><p>For those of you who are able to reply, thank you for your help. I can't vote you up on here for some reason but I appreciate you.</p>


<h1>ANSWERS</h1>
		<p>You can't comment or vote in a way that grants reputation since your account doesn't have that privilege yet.</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/whats-reputation">https://apple.stackexchange.com/help/whats-reputation</a></li>
<li><a href="https://apple.stackexchange.com/tour">https://apple.stackexchange.com/tour</a></li>
</ul>

<p>Why not look over the help section and tour. Also, your votes still help the site, so be sure to vote up good posts - it doesn't give reputation directly but the system does promote posts with high anonymous positive votes when it decides how to render pages.</p>

<p>Welcome to the site and I hope you can find things to answer / ask and do real voting and building of knowledge for all about Apple products.</p>


	</body>
</html>