<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Answer being auto-edited before being posted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1914" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::48</h3>
				<h2>Answer being auto-edited before being posted?</h2>
<p>Not really much to say, other than here's a GIF to explain:</p>

<p><img src="https://i.stack.imgur.com/pPNLH.gif" alt="Explanatory GIF"></p>

<p>Whilst in this example I'm editing an existing post, this happens for new posts too.</p>

<p>If I omit the <code>,</code> in the text, it removes the entire line.</p>

<p>What's going on?</p>

<p><sup>Link to actual post: <a href="https://apple.stackexchange.com/a/116710/37797">https://apple.stackexchange.com/a/116710/37797</a></sup></p>

<hr>

<p>A text explanation:</p>

<ol>
<li><p>Posted the following content:</p>

<blockquote>
  <p>Either reboot, or run</p>

<pre><code>sudo launchctl load /System/Library/LaunchDaemons/com.apple.taskgated.plist
</code></pre>
</blockquote></li>
<li><p>Submitted as</p>

<blockquote>
  <p>or run</p>

<pre><code>sudo launchctl load /System/Library/LaunchDaemons/com.apple.taskgated.plist
</code></pre>
</blockquote></li>
</ol>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3696" class = "comment">
				<p>Try reloading the page again? That's happened to me. Something that happens after the AJAX call to post the answer, and the text of the post doesn't update.</p>
			</div>
			<div id = "comment-3697" class = "comment">
				<p>@daviesgeek Nope, reloading hasn't helped   just tried it again on that post (now one day later). Exact same result.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1919"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Thanks for reporting this, it was a false positive in the method that removes greetings from the beginning of the post. I see you've already found a workaround for this issue. </p>

<p>Anyway, fix is rolling out with build rev <code>2014.1.13.1297</code>.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3705" class = "comment">
				<p>Why remove the greetings, is there more information on this feature?</p>
			</div>
			<div id = "comment-3706" class = "comment">
				<p>You can read more about it in [this meta post](http://meta.stackexchange.com/questions/2950/should-hi-thanks-taglines-and-salutations-be-removed-from-posts)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>