<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Answer Spectrum:
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Answer Spectrum:</h2>
<p>I realize now I've been a little too liberal in my up-voting.</p>

<p>I would say that answers to questions fall along a spectrum (leaving out clearly bad/offtopic answers and answers) from </p>

<ul>
<li><p>Well written and might work <strong>edit</strong> <em>but I don't fully understand the process as outlined.</em></p>

<p>to </p></li>
<li><p>I actually understand and I think will work</p>

<p>to</p></li>
<li><p>I know they will work</p></li>
</ul>

<p>I've been voting all of these up as long as they don't fall completely outside of my comprehension. Going forward I think I should probably limit up-voting to the latter two, but do y'all think I should only up-vote if I can actually test and see if the answer works?</p>

<p>For questions, I'm planning on continuing to up-vote any question that seems well written.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Answer voting is very simple and I would encourage you to try voting on more and not less.</p>

<p>An up vote means one thing and one thing only here: <strong>This answer is useful</strong>.</p>

<p>It could be because you learned something. It could be because someone took the effort to put something down that's better than the white space that was there. It could even be an incorrect answer that still clarifies the question and will teach others what not to do.</p>

<p>Similarly, a down vote can be a hint that the person answering is missing a very important thing or just that you don't find it useful. </p>

<p>I feel that if more people saw others voting, it might be contagious and the actual role of voting - having an active community of people that together float the things that need to be discounted to the bottom of the heap as well as float up the outstanding contributions so that they can be easier found and used by others that follow in the footsteps of the person that asked the question and those that took time to answer.</p>

<hr>

<p>Once you get the initial reaction taken care of, you can decide whether a comment will help clarify why you found a post useful / not useful since that can when done with kindness, often turn around a post that was getting momentum in the wrong direction.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>We have, in general, a voting problem here on AD (there really isn't enough of it, especially question and answer up voting) despite having a fairly decent traffic and posting profile for the site. I'd encourage anything that gets people thinking about voting more and not just in one direction. Up and down votes are good and should be sent out fairly liberally, especially for questions where they don't cost you any rep.</p>

<p>I agree with @bmike: an up vote means an answer was <strong>useful</strong>.</p>

<p>Which is different from <em>most correct</em> or even <em>completely correct</em> really. Though I wouldn't encourage you to up vote anything that was <em>blatantly incorrect</em>.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>The idea that an answer is useful is not what I think of but it does make sense,
My criteria is dies it add more relevant correct information </p>

<p>I do vote but only if I think it will work and the answer is understandable. Thus only in your last two cases, if I have to guess then I would either ask for more information or leave it.</p>

<p>As for questions I only vote if they make me think, i.e. if I can answer immediately then I tend not to up vote as the OP should have read the manual or some other research but I might still answer as getting the answer here is a useful goal. If they are about something I am interested in or should know something about I should up vote but I think I don't up vote question enough.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>