<html>
	<head>
		<title id = 'pagetitle'>Apple.se and meta.apple.se sites showing as "Android" Operating System power users in welcoming screen.
		</title>
	<head>
	<body id = 'pagebody'><p>Am not sure what happened to Apple.se website and it's Meta websites, both are showing as <strong>Android Operating System power users.</strong></p>

<p>These messages are showing when a user didn't login to the website.</p>

<p>Here are the screenshots.</p>

<p><strong>Apple.SE</strong></p>

<p><img src="https://i.stack.imgur.com/hZNpF.png" alt="enter image description here"></p>

<p><strong>Meta Apple.SE</strong></p>

<p><img src="https://i.stack.imgur.com/wDTzW.png" alt="enter image description here"></p>

<p>Somebody please correct this ?</p>


<h1>ANSWERS</h1>
		<p>It looks like this has been fixed</p>


	</body>
</html>