<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>apple.SE account not showing up in network profile
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-560" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::55</h3>
				<h2>apple.SE account not showing up in network profile</h2>
<p>Why isn't my apple account shown among my <a href="https://apple.stackexchange.com/users/6825/fudo?tab=accounts">accounts</a>, nor in my <a href="http://stackexchange.com/users/37373bc9-16dd-4393-87f1-899f4d458c2e?tab=accounts">network profile</a>?</p>

<p>I suspect this is the reason why I did not get a +100 rep bonus from my (>200 rep) <a href="http://math.stackexchange.com">math</a> account, here </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-561"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I cleared your associations and reassociated your accounts. This seems to have fixed the problem, as well as given you your 100 rep bonus.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-997" class = "post">
				<p>many thanks for your swift solution!</p>
			</div>
			<div id = "comment-998" class = "post">
				<p>can't upvote though: somehow my meta.apple account wasn't affected by the change :(</p>
			</div>
			<div id = "comment-999" class = "post">
				<p>@fudo Sometimes it takes a little while for reputation changes to a primary account to show up in the meta account. However, it appears that you're now at 111 rep here as well.</p>
			</div>
			<div id = "comment-1000" class = "post">
				<p>yeah, I guess I was being too impatient :)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>