<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Apple.se and meta.apple.se sites showing as "Android" Operating System power users in welcoming screen.
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Apple.se and meta.apple.se sites showing as "Android" Operating System power users in welcoming screen.</h2>
<p>Am not sure what happened to Apple.se website and it's Meta websites, both are showing as <strong>Android Operating System power users.</strong></p>

<p>These messages are showing when a user didn't login to the website.</p>

<p>Here are the screenshots.</p>

<p><strong>Apple.SE</strong></p>

<p><img src="https://i.stack.imgur.com/hZNpF.png" alt="enter image description here"></p>

<p><strong>Meta Apple.SE</strong></p>

<p><img src="https://i.stack.imgur.com/wDTzW.png" alt="enter image description here"></p>

<p>Somebody please correct this ?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It looks like this has been fixed</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>