<html>
	<head>
		<title id = 'pagetitle'>apple.SE account not showing up in network profile
		</title>
	<head>
	<body id = 'pagebody'><p>Why isn't my apple account shown among my <a href="https://apple.stackexchange.com/users/6825/fudo?tab=accounts">accounts</a>, nor in my <a href="http://stackexchange.com/users/37373bc9-16dd-4393-87f1-899f4d458c2e?tab=accounts">network profile</a>?</p>

<p>I suspect this is the reason why I did not get a +100 rep bonus from my (>200 rep) <a href="http://math.stackexchange.com">math</a> account, here </p>


<h1>ANSWERS</h1>
		<p>I cleared your associations and reassociated your accounts. This seems to have fixed the problem, as well as given you your 100 rep bonus.</p>


	</body>
</html>