<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Approving an edit after one "Approve" and one "Reject" vote
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2610" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::22</h3>
				<h2>Approving an edit after one "Approve" and one "Reject" vote</h2>
<p>I was just noticed via mail that an <a href="https://apple.stackexchange.com/posts/52886/revisions">edit to an old answer</a> I once posted was approved. I was curious and noticed that it <a href="https://apple.stackexchange.com/review/suggested-edits/128056">got approved after only one vote in favour</a>. <a href="https://apple.stackexchange.com/help/privileges/edit">The help pages</a>, however, state that "<em>Two</em> votes in either direction will finalize the action...".</p>

<p>Since I'm not particularly fond of the edit (seeing that it changes the tone and intent of my answer significantly, removes my disclaimer about it being not elegant and puts the phrase "This is the simplest and fastest way..." in my mouth, an absolute statement which I'd never use in such a text), I'd like to know why it went live with only one vote and what significance the reject vote has.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2611"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Moderator votes have kind of more power :-)</p>

<p>As always, feel free to rollback the edit if you don't agree (or rollback and edit it yourself if part of the edit looks useful to you).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>