<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are JavaScript for Automation questions better suited to Stack Overflow?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2587" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::76</h3>
				<h2>Are JavaScript for Automation questions better suited to Stack Overflow?</h2>
<p>As someone who has quickly adopted JavaScript for Automation, I was wondering whether questions about the language (both broad and technical) are better suited to Stack Overflow or Ask Different. Instinctively, I assumed Stack Overflow would be a better choice, as it is more geared toward more intensive programming questions. However, the Ask Different FAQ states the following: </p>

<blockquote>
  <p>We do encourage AppleScript, Automator, and UNIX shell scripting questions</p>
</blockquote>

<p>I would take this to mean that JavaScript for Automation is "encouraged" as well, seeing as it is a part of the OS X Automation suite. However, would it be more practical to post such a question on Stack Overflow (i.e., would it be more on topic and receive higher-quality answers)?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2588"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>This is all opinion - the main question I think is where you will get a better/ or quicker answer (as you say practical)</p>

<p>If the question is about the Apple Scripting API or starting a javascript and thus close to Applescript then I think this site might give useful answers. However if the main issue is Javascript syntax or libraries there are many more users on SO.</p>

<p>This does not give a nice clean answer. This is partially historical as Applescript never had many questions on SO, Unix shell scripting tended to be seen more as a SuperUser type of question and automator is mainly a user tool not a development language. So at the time these were all not really covered by SO. However the scripting API and use of Javascript and others e.g. python does blur the issue</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2589"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>You are correct - they are intentionally on-topic here.</p>

<p>As a matter of personal opinion, I would like to think that here is the best place to ask if the focus on the OS X / API / SDK side of things. I don't think the pure JS knowledge base here approaches 1/100 of what's on Stack Overflow, so I would steer anyone that just needs help with JavaScript, the dialect / language to ask elsewhere. I think this would be similar to someone asking a Python / pyobjc question. It would work in both places.</p>

<p>It's totally on-topic to ask Apple scripting using javascript here - even if it's pure JS.</p>

<p>It should be totally on-topic to ask the same sort of question at Stack Overflow.</p>

<p>So, like other split situations (here vs Super User) - it really ends up being the preference of the asker as to where they want to receive an answer. As long as questions aren't identically cross-posted, placing one here or elsewhere would be no issue at all.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>