<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Are non-Apple Mac OS X ~ iOS software questions on topic? Is the FAQ outdated?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-375" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::58</h3>
				<h2>Are non-Apple Mac OS X ~ iOS software questions on topic? Is the FAQ outdated?</h2>
<p>I'm confused. The FAQ says questions are on topic if they concern:</p>

<blockquote>
  <ul>
  <li>Apple hardware</li>
  <li>Apple software</li>
  <li>other Apple products or services</li>
  </ul>
</blockquote>

<p>Why questions about software, which are not made by Apple, are seemingly accepted? (See e.g. the <a href="https://apple.stackexchange.com/questions/tagged/software-recommendation">software-recommendation</a> tag) Is the FAQ outdated?</p>

<p>Moreover, if the FAQ is outdated, what kind of OS X related questions could/should be asked on <a href="https://superuser.com/">Super User</a>? </p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-375" class = 'collapse'>
			</div>
				<textarea id = "speech-375" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-375">
					<img id="start_img-375" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-376"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The <a href="https://apple.stackexchange.com/questions/tagged/software-recommendation" class="post-tag" title="show questions tagged &#39;software-recommendation&#39;" rel="tag">software-recommendation</a> tag means that someone is looking for software that works with Apple hardware (Mac or iDevices) or Apple software (OS X or iOS). As what they're looking for is related to their use of an Apple product, it's completely on topic.</p>

<p>While the FAQ says the questions must be about Apple hardware/software/other products or services, it doesn't say that it must <em>solely</em> be about them.</p>

<p>Now, given that, what kind of Apple-related questions would I take to SU? Probably ones along the lines of getting Ubuntu to play well with a Mac network, or an issue with something inside Windows running in VMWare. As those aren't primarily Apple-related questions, they could be seen as off-topic here.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-376">Load Comments</button></br>
			<div id = "commentsection-376" class = 'collapse'>
			<div id = "comment-761" class = "comment">
				<p>Ah, I see the logic now. Thanks :-)</p>
			</div>
			</div>
				<textarea id = "speech-376" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-376">
					<img id="start_img-376" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>