<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are ports related questions off-topic for Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-515" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::77</h3>
				<h2>Are ports related questions off-topic for Ask Different?</h2>
<p>I see a uptick in ports related questions (especially homebrew of late) and wondered if this has been discussed on meta yet. My experience from Apple discussion boards as well as the fink discussions is that most of the questions are only tangentially related to Apple. I would expect better porting knowledge at SuperUser or stackoverflow but wanted to ask about some recent questions to see what other people feel about where the on-topic/off-topic line should be drawn.</p>

<p>Here are a few that illustrate the points about the question where Apple hardware or OS aren't even tangentially related to the question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/6017/how-can-i-install-xjig-on-snow-leopard">How can I install XJig on Snow Leopard?</a>

<ul>
<li>essentially this is a programming question on compile time errors and
resolving library / code dependency errors</li>
</ul></li>
<li><a href="https://apple.stackexchange.com/questions/11670/changing-your-path-variable">Changing your path variable</a>

<ul>
<li>this relates to shell script implementation details</li>
</ul></li>
</ul>

<p>On the other hand, questions like this one sure feel on-topic to me:</p>

<p><a href="https://apple.stackexchange.com/questions/11461/is-there-any-alternative-to-macports">Is there any alternative to MacPorts?</a></p>

<p>The tags <a href="https://apple.stackexchange.com/search?q=fink">fink</a>, <a href="https://apple.stackexchange.com/search?q=macports">macports</a> and <a href="https://apple.stackexchange.com/search?q=homebrew">homebrew</a> show a good cross section of these types of questions. Perhaps it's just something that will work out over time - if people browse here that can answer the questions, they will become more on-topic?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-516"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I would say yes, they are on topic. It has been my intention that the scope of this site would involve all aspects of Apple products, and I don't see any reason why fink, ports, or homebrew should be excepted.</p>

<p>Again, like the <a href="https://apple.meta.stackexchange.com/questions/513/question-about-a-windows-driver-here-or-super-user">question about a Windows driver</a>, this is not to say that there aren't other sites on the network where the question may also be asked, or where they may even receive a better answer. But those aren't reason enough, in my opinion, to remove them from the scope of this site.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1068" class = "comment">
				<p>Here is another I would call off topic - http://apple.stackexchange.com/q/18400/5472 - I can't see how letting some ports questions which are all in essence how to compile unix code using gcc as in scope. Ports are command line details at worst, at best it's equivalent how you do work inside Xcode. I think these should be off topic unless extraordinarily superficial and tie into a consumer need. (say like you need mac pets to get one popular ffmpeg code library installed to make handbrake work - I would expect new user, cookbook ports questions to be mildly on-topic here)</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>