<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Are questions regarding topics whose legality is questionable allowed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2701" class = "post">
			<h2>Question</h2>
			<div id="vote-2701" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 22</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are questions regarding topics whose legality is questionable allowed?</h2>
<p>If you search <a href="https://apple.stackexchange.com/questions/tagged/jailbreak" class="post-tag" title="show questions tagged &#39;jailbreak&#39;" rel="tag">jailbreak</a>, you find 601 questions at time of writing related to jailbreaking one's device. The legality of this is debatable, but yet these questions are being answered. Should we close questions related to jailbreaking and any other illegal content?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2701">Load Comments</button></br>
			<div id = "commentsection-2701" class = 'collapse'>
			<div id = "comment-5989" class = "comment">
				<p>In what jurisdiction is legal framed? We strive to be open to knowledge on a world-wide basis. It's hard to address your question without some more details on what specifically might be "illegal"</p>
			</div>
			<div id = "comment-5990" class = "comment">
				<p>See also http://meta.apple.stackexchange.com/questions/1576/is-asking-about-jailbreaking-with-another-os-on-or-off-topic?rq=1</p>
			</div>
			</div>
				<textarea id = "speech-2701" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2701">
					<img id="start_img-2701" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2702"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2702" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That <a href="https://apple.stackexchange.com/questions/tagged/jailbreak" class="post-tag" title="show questions tagged &#39;jailbreak&#39;" rel="tag">jailbreak</a> exists should be a tip off to the acceptance of grey-area questions on the site. If they weren't allowed, the tag wouldn't exist, right?</p>

<p>We are not the police and the laws are not uniformly the same from country to country.</p>

<p>So, yes, we do allow some content that skirts in to areas that are legally grey. Jailbreaking being one of them. We'll usually close things that violate the EULA for Apple OSes, but not all questions get closed as some do have merit.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2702" class = 'collapse'>
			</div>
				<textarea id = "speech-2702" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2702">
					<img id="start_img-2702" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>