<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are questions about compiling open source applications on OS X off topic here?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Are questions about compiling open source applications on OS X off topic here?</h2>
<p>Just posted this question -<a href="https://apple.stackexchange.com/questions/81930/compiling-ns-cocoa-emacs-on-osx-with-svg-support#comment94462_81930">Compiling (NS/Cocoa) Emacs on OSX with SVG support</a> - and was immediately told this was perhaps off topic, and to take it to SO.</p>

<p>There are a lot of questions on AskDifferent relating to <code>homebrew</code> and compiling software, please let me know if this question is off topic or not.</p>

<p><em>side note:</em> This was voted to close on SO for being off topic, and I'd tend to agree with that, here however I feel it's on topic.</p>

<p><a href="https://apple.meta.stackexchange.com/questions/515/are-ports-related-questions-off-topic-for-ask-different/516#516">Does this answer apply?</a></p>

<h3>Additional note:</h3>

<p>If this were a general Unix compilation question, I'd be in full agreement that it was better suited to the Unix stackexchange, or maybe SuperUser, however, this is 100% mac/osx specific, and has no relevance to other platforms.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>My inclination is to say it's on-topic here. It's not a developer question; it's an end-user question. Yes, it involves compiling, but for the purpose of running software on your machine. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I wholeheartedly agree with <a href="https://apple.meta.stackexchange.com/users/9388/daniel-lawson">Daniel Lawson's</a> <a href="https://apple.meta.stackexchange.com/a/1587/5472">answer</a>.</p>

<p>There will probably be overlap of most questions about compiling open source software. The various unix and linux groups could/should consider something that you can run on Darwin on topic and you could ask there. SuperUser as well would be a great place to find an answer. I feel we would be well served by hosting Q&amp;A about homebrew, patching, compiling software since it's not exactly (or even close to) developing software using Apple's API/SDK.</p>

<p>Those questions are firmly off topic and really are best suited for Stack Overflow.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>