<html>
	<head>
		<title id = 'pagetitle'>Are questions on Apple-like hardware for PCs on-topic?
		</title>
	<head>
	<body id = 'pagebody'><p>I flagged question <a href="https://apple.stackexchange.com/questions/27360/are-there-any-non-apple-multi-touch-trackpads-on-the-market">Are there any non-Apple multi-touch trackpads on the market?</a> as "off-topic" and also commented that it probably should be migrated to Super User. The flag was declined with a reason that the question is on-topic.</p>

<blockquote>
  <p>I love the Apple trackpad with its multi-touch gestures. I want to buy a MacBook Pro primarily because of this. I am a student though and it seems to be very expensive for me. </p>
</blockquote>

<p>In other words the OP likes a multi-touch trackpad, <strong>but</strong> would like to buy a PC because MacBook Pro is too expensive for his/her budget.</p>

<blockquote>
  <p>Hence I was wondering if any other company except for Apple provides a trackpad, or is it only available on Apple devices?</p>
</blockquote>

<p>I admit, this part of the question might make it on-topic: <strong>Are multi-touch trackpads</strong> (there is no mention the question is only about Magic Trackpad) <strong>only available for Apple devices?</strong></p>

<blockquote>
  <p>Also if this is the case then is there a software that can be used to mimic the Apple trackpad on an ordinary laptop? I am using Synaptic but is not the same.</p>
</blockquote>

<p>Question is: how to get MacBook Pro's touchpad's functionalities on a PC-laptop's touchpad.</p>

<p>And finally, confirming the OP is looking for a solution for Windows:</p>

<blockquote>
  <p>i want a hardware and software package. Are there any drivers in windows that will understand the trackpad movements?</p>
</blockquote>

<p>All in all, the questions are:</p>

<ul>
<li>Is Apple the sole provider of multi-touch trackpads (on-topic)

<ul>
<li>If this is true, then how to have the multi-touch functions on a PC laptop's bundled trackpad? (off-topic)</li>
<li>If this is false, then which PC-companies have laptops that have multi-touch features (off-topic)</li>
</ul></li>
</ul>

<p>Hidden (not asked, but could be involved in answers) workaround questions:</p>

<ul>
<li>Are there external multi-touch trackpads for PC laptop? (off-topic)</li>
<li>Can I use the Magic Trackpad on a PC laptop? (on-topic)</li>
</ul>

<hr>

<p><strong>My question is:</strong> should the question be heavily edited or migrated to Super User? Or am I wrong enough to just let the question be?</p>


<h1>ANSWERS</h1>
		<p>You're right, that is off topic, sorry. When I read it for some reason I thought the asker was looking for a non-Apple multitouch trackpad <em>to use with a Mac</em> (which would be on topic), but in rereading the question that's clearly not the case.</p>

<p>Thanks for bringing this back up. I wish I could undo the flag decline, but from what I can tell those are permanent once cast.</p>


	</body>
</html>