<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are questions regarding pre-release software allowable once the public version of the software has been released?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1849" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::38</h3>
				<h2>Are questions regarding pre-release software allowable once the public version of the software has been released?</h2>
<p>Whilst I understand that pre-release software questions are not permitted, once the public version of the software is released, can I ask questions regarding the pre-release versions?</p>

<p>For example, would the following questions be permissible?</p>

<ul>
<li>What are the differences between Mavericks GM and public release?</li>
<li>Is a pre-release version of iTunes able to manage devices with a public release of iOS?</li>
</ul>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1850"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I would say no - we shouldn't muddy the waters with questions about pre-release software. However, we do allow questions about how to get back into a release version from the beta version and if that teases out information about the beta to correctly answer the question I see no reason to remove that information.</p>

<p>I see things this way - the audience for beta software is very small before it's released. Now after that window has passed, even fewer people can get the software and those that did get locked out quite rapidly since Apple is in the habit of expiring all beta software (search Apple discussions and this site for all the urgent questions about what to do when beta Mountain Lion and beta iOS 6 software stops working).</p>

<p>However, just because I say no in general, it's fine to try one question if you're OK with it getting closed / edited / worked on (or over) as appropriate.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>