<html>
	<head>
		<title id = 'pagetitle'>Are physical hardware repair~modification questions on topic? Should they be?
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/questions/25044/replace-iphone-3g-home-button-without-removing-glass-digitizer">This</a> is a question about Apple hardware. It would be great if users could get answers to questions like this. But does the question require sufficiently different expertise from the sort of questions that make up almost all the rest of the posts here that it would be unlikely to get good answers, or does that matter?</p>


<h1>ANSWERS</h1>
		<p>My take is they absolutely are on topic (and should be as well).</p>

<p>1) This site explicitly is about apple services - one of which is Apple's repair service. The average user might reasonably ask some basic question about how to understand the makings of the product so as to weigh their options.</p>

<p>2) Apple hardware is totally on topic. This user has a specific, definite problem they are seeking so solve and it involves iOS hardware.</p>

<p>If you take the long view - six months from now - having an unanswered question that is good, clear and on-topic isn't really a problem. I have found great questions to answer that have been here for 8 months or more. It's up to the OP to promote the question, be patient or flag it to move if another site has a better shot at asking.</p>

<p>In this case - I happened to know the answer - but even if I didn't - there are many people here who have had their phone break and could share their experiences. Some may have done a glass repair and could share their triumph or tale of woe. In the end - the OP was able to realize paying for a local tech was worth the money to minimize his risk / time to DIY.</p>


	</body>
</html>