<html>
	<head>
		<title id = 'pagetitle'>Are non-Apple Mac OS X ~ iOS software questions on topic? Is the FAQ outdated?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm confused. The FAQ says questions are on topic if they concern:</p>

<blockquote>
  <ul>
  <li>Apple hardware</li>
  <li>Apple software</li>
  <li>other Apple products or services</li>
  </ul>
</blockquote>

<p>Why questions about software, which are not made by Apple, are seemingly accepted? (See e.g. the <a href="https://apple.stackexchange.com/questions/tagged/software-recommendation">software-recommendation</a> tag) Is the FAQ outdated?</p>

<p>Moreover, if the FAQ is outdated, what kind of OS X related questions could/should be asked on <a href="https://superuser.com/">Super User</a>? </p>


<h1>ANSWERS</h1>
		<p>The <a href="https://apple.stackexchange.com/questions/tagged/software-recommendation" class="post-tag" title="show questions tagged &#39;software-recommendation&#39;" rel="tag">software-recommendation</a> tag means that someone is looking for software that works with Apple hardware (Mac or iDevices) or Apple software (OS X or iOS). As what they're looking for is related to their use of an Apple product, it's completely on topic.</p>

<p>While the FAQ says the questions must be about Apple hardware/software/other products or services, it doesn't say that it must <em>solely</em> be about them.</p>

<p>Now, given that, what kind of Apple-related questions would I take to SU? Probably ones along the lines of getting Ubuntu to play well with a Mac network, or an issue with something inside Windows running in VMWare. As those aren't primarily Apple-related questions, they could be seen as off-topic here.</p>


	</body>
</html>