<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are share links broken in Firefox?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1949" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::25</h3>
				<h2>Are share links broken in Firefox?</h2>
<p>I've often tried to share answers with friends on Twitter, IRC, etc. and it seems that if I use the share link for an answer that the page scrolls instead to the top answer.</p>

<p>Example:</p>

<p>Q: <a href="https://apple.stackexchange.com/q/121345/21050">Can I put out a cigarette on aluminum Mac Books?</a></p>

<p>A: <a href="https://apple.stackexchange.com/a/121414/21050">https://apple.stackexchange.com/a/121414/21050</a></p>

<p>I expected to reach this answer:</p>

<blockquote>
  <p>Yes, your cigarette will be irreparably damaged. You will have to replace it with a new one.</p>
</blockquote>

<p>but instead end up looking at the top-voted answer.</p>

<p>I'm on Firefox 27.0.1 if that makes a difference.  I don't believe I have this issue on other SO sites.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3745" class = "post">
				<p>In Chrome on OS X I get the answer you say you expected to get.</p>
			</div>
			<div id = "comment-3746" class = "post">
				<p>Seems Safari works too so it's basically a WebKit thing.  Will edit title.</p>
			</div>
			<div id = "comment-3747" class = "post">
				<p>Works on all browsers for me..</p>
			</div>
			<div id = "comment-3748" class = "post">
				<p>I've tried a few different machines and the correct answer gets highlighted, but the scroll goes to the first answer.  Works on SO just fine though: http://stackoverflow.com/a/11277484/722332  I've also had a friend test it with the same results </p>
			</div>
			<div id = "comment-3814" class = "post">
				<p>Please up-vote the answers at the linked-to original question. Still hasn't been fixed.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>