<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are questions about very old Apple products on-topic?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2859" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::34</h3>
				<h2>Are questions about very old Apple products on-topic?</h2>
<p>I'm about to buy this old PowerPC eMac just for nostalgia, some fun and for playing some old games I have.</p>

<p>I know there's a <a href="https://retrocomputing.stackexchange.com/">beta site on retro computing</a>.</p>

<p>However, is there any limit to age of Apple products in Ask Different's scope?</p>

<p>For example OS X versus older operating systems. Or Intel vs. PowerPC vs. Motorola 68040, etc.</p>

<p>To take two extreme examples, would questions about <a href="https://en.wikipedia.org/wiki/Apple_Lisa" rel="nofollow noreferrer">Apple Lisa</a> or the <a href="https://en.wikipedia.org/wiki/PowerBook_100" rel="nofollow noreferrer">PowerBook 100</a> be on-topic?</p>

<p>I realize that in such extreme cases it might be better to ask at the <a href="https://retrocomputing.stackexchange.com/">beta site</a> I referred to earlier, but I'm asking if it's, strictly speaking, off-topic or on-topic.</p>

<p>And, if off-topic, where do you draw the line in terms of hardware and software?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2860"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Yes - Questions about Motorola and PPC era hardware are on topic. </p>

<p>Apple products and services are considered on topic without regard to them being beta, in production or withdrawn from sale and/or support. </p>

<ul>
<li><a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a></li>
</ul>

<p>Definitely read through the entire article above - there will be likely questions from that era that will be off topic if they have other faults:</p>

<ul>
<li>shopping for parts</li>
<li>why did Apple choose 68000 processor instead of XYZ?</li>
<li><a href="https://apple.stackexchange.com/help/dont-ask">overly subjective questions</a> in general</li>
<li><a href="https://retrocomputing.stackexchange.com/questions/459/over-its-lifetime-how-many-apple-2s-were-sold">How many Apple II computers were sold over their lifetime?</a> (I include this since what's off topic here might be not only on-topic elsewhere, but well received and usefully documented and answered)</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6223" class = "comment">
				<p>Cool! So even the Apple Lisa would be on-topic?</p>
			</div>
			<div id = "comment-6224" class = "comment">
				<p>@Fiksdal we have apple II questions so no problem with new hardware :)</p>
			</div>
			<div id = "comment-6225" class = "comment">
				<p>@Mark Nice :) And also cool that you consider it new, lol :) (jk, I know you meant old.)</p>
			</div>
			<div id = "comment-6226" class = "comment">
				<p>I don't think anyone's tried to ask about anything older than the Apple I yet - so you should be just fine with something as new as the Lisa hardware system and software. Again - we aren't wikipedia for asking to find history - the question should have a practical aspect about how to do something specific.</p>
			</div>
			<div id = "comment-6227" class = "comment">
				<p>bmike Sure, I'm talking about actual technical questions about use, software, etc. Anyway, cool. BTW, why do both you and @Mark refer to the Lisa as "new"?</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>