<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are we allowed to troubleshoot rather than give authoritative answers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Are we allowed to troubleshoot rather than give authoritative answers?</h2>
<p>This as reference... <a href="https://apple.stackexchange.com/questions/144477/can-only-run-applescript-from-automator/">Can only run AppleScript from Automator</a><br>
Someone may come along &amp; give an authoritative answer, but until &amp; unless that happens, is 'educated guesswork' acceptable, in case it actually helps the OP to a solution?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This is a very hard thing to give a definitive answer to -- it's largely a judgement call on a case-by-base basis.</p>

<p>But if pressed...</p>

<p>Generally I think the answer is no. "Conversations" as answers and subsequent comments should be had in <a href="http://chat.stackexchange.com/">question-specific chat rooms</a> with the resulting resolution being posted as the answer. You want to keep the Q&amp;A format succinct so the information is easily digestible long in to the future. A rambling conversation on an answer destroys that nice property of the SE Q&amp;A format.</p>

<p>Sometimes, though, the answer is yes. In particular, if the question is asking for something specific but you realize it's not possible but there are alternatives that address the spirit of what's being asked though not necessarily the letter. And, of course, sometimes the question is literally "how do I work through this?" in which case a general answer that aids in debugging and doesn't give a specific resolution to a specific problem is a-okay.</p>

<p>In any case though, if you happen to answer with something the community deems isn't really an answer and fit for the site, it should get flagged and reviewed. Intuition and peer review is, ultimately, the best way to decide these things rather than a set of hard and fast rules.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>