<html>
	<head>
		<title id = 'pagetitle'>Are questions about the effect of upgrading iOS out-of-topic
		</title>
	<head>
	<body id = 'pagebody'><p>Are the following types of questions considered out-of-topic at Ask Different?<br>
 <em>- Will my iPhone X be able to run iOS X without lagging<br>
 - Anyone tried to install iOS X on iPad X, what's your experience?</em>  </p>

<p>How could a user ask about upgrading an old iDevice that according to Apple support the new iOS version but want to know if the device do handle it well?  </p>

<p>Is it possible to ask about this topic without getting the question closed for generating discussion or opinion based answers?</p>


<h1>ANSWERS</h1>
		<p>Generally those get closed due to practicality issues. What one person sees as acceptable, another wouldn't put up with. Also, since you can't really ever downgrade an iOS - you're stuck so that makes the questions alluring, yet people can't do A/B testing very well to get good answers.</p>

<p>Without some research, it's generally not something that is objective. Measuring performance is something that people generally don't or can't do so if you have specific performance benchmarks and can back them up with data - I'd be willing to entertain the question. </p>

<p>Basically, it attracts all sorts of opinions so finding a place on chat or discourse to discuss things works better than asking on the main site.</p>


	</body>
</html>