<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1712" class = "post">
			<h2>Question</h2>
			<h3>Score ::71</h3>
			<h3>Views ::8632</h3>
				<h2>Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</h2>
<p>WWDC 2016 announced new major OS releases - iOS 10, macOS 10.12 (Sierra), watchOS 3 and tvOS 10.</p>

<p>All are scheduled to be released in the fall of 2016 to the public. </p>

<p>Can we ask specific questions about these releases? If not, what can we ask about before these products are released to the general public?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5704" class = "comment">
				<p>As someone who has access to the iOS 9 and El Capitan preview images, I would also like to point out that the content is covered by an NDA which prevents anyone from talking about features that haven't already been announced or sharing screenshots.</p>
			</div>
			<div id = "comment-5706" class = "comment">
				<p>Yes - my understanding of the NDA last year was that anything publicly linked or spoken of in the sessions was OK to speak about, but that you can't show anyone the system or reveal anything not covered. Also, you can't republish / re-show anything from the content unless you have written permission from Apple. I don't know if 2015 has the same - so be cautious if you have agreed to an NDA before posting here.</p>
			</div>
			<div id = "comment-5792" class = "comment">
				<p>This seems to be still relevant, but naughty Community thinks otherwise ;)</p>
			</div>
			<div id = "comment-6007" class = "comment">
				<p>[Allowing iOS 9 and El Capitan questions   Ask Different Blog](http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/) (2015-08-12)   refers to this question.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1714"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::78</h3>
				<p><p>Yes - beta questions are allowed. Just be sure the body of the question makes very clear what version is in pay. Betas can be issued weekly (or even more often), so saying "the latest" or "beta 2" is not helpful - please include the build version in questions or consider voting to close as unclear if the question lacks enough detail for the general user to realize the post is about a beta product.</p>

<p>In the past we had a strict prohibition on asking questions about beta software and <a href="https://apple.meta.stackexchange.com/questions/2537/should-beta-os-questions-be-on-topic-due-to-nda-changes-widening-distribution">this thread</a> helped build consensus to move the beta question towards yes.</p>

<ul>
<li>iOS 11: <strong>Yes</strong> </li>
<li>macOS 10.13: <strong>Yes</strong></li>
<li>watchOS 4: <strong>Yes</strong> </li>
<li>tvOS 11: <strong>Yes</strong></li>
</ul>

<p>Rants, speculative unanswerable questions, and "questions" that are really rants are not on-topic now, nor will they be on-topic later. Such questions as</p>

<ul>
<li>Why didn't Apple use 10.12 Baker Beach or Trail #6? </li>
<li>I hate that Apple never invents anything and just steals ideas from others. Shiny marketing copy enrages me further.</li>
<li>Apple sucks or Apple is the best.</li>
<li>Typical Apple.</li>
<li>I'm done with Apple since my X that I bought Y months ago for $$$$ won't do Z. They better wake up since they are clearly in trouble now.</li>
<li>This never would have happened when Steve Jobs was alive.</li>
</ul>

<p>are off topic, both now and indefinitely. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2562"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>To complement answers <a href="https://apple.meta.stackexchange.com/a/1713/8546">1</a> and <a href="https://apple.meta.stackexchange.com/a/1714/8546">2</a>  </p>

<h2>Apple Developer Forums</h2>

<p>In the pre-release area, at least some of Apple's spaces are <strong>visible to the public</strong>. At the time of writing, three:</p>

<ul>
<li><a href="https://forums.developer.apple.com/community/pre-release/ios-9-beta" rel="nofollow noreferrer">iOS 9 beta</a></li>
<li><a href="https://forums.developer.apple.com/community/pre-release/os-x-1011-beta" rel="nofollow noreferrer">OS X 10.11 beta</a></li>
<li><a href="https://forums.developer.apple.com/community/pre-release/watchos-2-beta" rel="nofollow noreferrer">watchOS 2 beta</a>.</li>
</ul>

<h3>Side notes</h3>

<p>This is <strong>not</strong> an encouragement to have Apple Developer Forums misused for discussions that are not developer-oriented. Neither is this an attempt to alter opinions on what's acceptable within Stack Exchange. </p>

<p>This observational answer is, essentially, a hint that <strong>answers to some questions may be already public within the apple.com domain</strong>. This aspect of Apple's recent shift towards openness may seem inconsistent with <a href="http://web.archive.org/web/20150713063727/https://developer.apple.com/support/forums/" rel="nofollow noreferrer">Apple's guidelines for Apple Developer Forums</a>, in particular </p>

<ul>
<li><em>only discuss seeds in the confidential forums</em></li>
</ul>

<p>  however I'm reasonably certain that public discussion of seeds is no mistake. <a href="https://forums.developer.apple.com/message/10442#10442" rel="nofollow noreferrer">https://forums.developer.apple.com/message/10442#10442</a> from me was approved by moderators, and draws attention to Google indexing what's published. Also I received a next-day response, from Apple, to the contact that I made on 2015-06-10:  </p>

<p><img src="https://i.stack.imgur.com/ia51y.png" alt="screen shot of the access issue that I reported to Apple on 10th June 2015"></p>

<p>Also, in MacRumors Forums: <a href="http://forums.macrumors.com/threads/1891443/" rel="nofollow noreferrer">Membership-free, limited public access to Apple Developer Forums content</a> (<a href="http://web.archive.org/web/20150713063608/http://forums.macrumors.com/threads/membership-free-limited-public-access-to-apple-developer-forums-content.1891443/" rel="nofollow noreferrer">captured</a>).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5881" class = "comment">
				<p>Some people which have agreed to respect an NDA with Apple are discussing on closed discussion groups of questions which are just private and not at all relevant of a serious discussion group working on the preview version of a serious software. I can't imagine Apple is really reading these internal discussion groups. One can't give much value to an NDA Apple isn't able to make respect on its internal **confidential** discussion groups. This is a broken windows syndrom case (see "broken windows syndrom" in criminology).</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>