<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are questions about the Apple Car acceptable (already)?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Are questions about the Apple Car acceptable (already)?</h2>
<p>According to <a href="https://apple.stackexchange.com/help/on-topic">Help</a> we should refrain from asking questions about  Pre-release hardware or asking how/why Apple does <em>&lt;some thing XYZ></em>  <a href="https://apple.stackexchange.com/help/dont-ask">and</a> we should avoid  asking an open-ended, hypothetical question:  What if ______ happened? </p>

<p>It s been rumored for a while now that Apple has some kind of automotive project dubbed  Titan  which goes beyond mere <a href="https://www.apple.com/ios/carplay/" rel="nofollow noreferrer"> Car Play </a> integration with third party products. As usual with non-announced, non-released products, we know nothing for sure, but there is <a href="http://www.macrumors.com/roundup/apple-car/" rel="nofollow noreferrer">concrete information</a> to base speculation upon. (If nothing else that s a bit more than could be said about an Apple TV set.)</p>

<p>What kind of question about this general topic would be okay on Ask Different?</p>

<p>Examples:</p>

<ul>
<li>What is Apple doing differently than car manufacturers?<br>
How would that likely affect an  Apple Car ?</li>
<li>What parts of a current car dashboard would not agree with Apple s human interface guidelines?</li>
<li>Which features of Apple hardware have not yet been adapted to mainstream automobiles?</li>
<li>If Apple offered a car, would they limit the configuration options to a minimum, like they do with their current computing, entertainment and communication hardware?</li>
</ul>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>As with any other unreleased and unannounced Apple product, questions about an Apple Car, an Apple Mission to the Moon or an Apple Submarine are as off-topic on Ask Different as are questions about the next MacPro model or the future direction of OSX.</p>

<p>The goal of AD (and any other StackExchange site) is to provide fact-based answers to specific problems. There are other sites which are better suited for discussions and speculations (Slashdot, Reddit to just name two).</p>

<p>To look at your examples:</p>

<ul>
<li><p><em>What is Apple doing differently than car manufactures?</em></p>

<p>Apple is probably doing a lot of things differently, but which problem is to solve here? Also, how can you differentiate a correct answer from an incorrect one?</p></li>
<li><p><em>What parts of a current car dashboard would not agree with Apple s human interface guidelines?</em></p>

<p>Interesting question for sure (and something I could absolutely see as a good exam question in an UX/UI course). But even the part that the guidelines would apply to anything car related built by Apple is already speculation.</p></li>
<li><p><em>Which features of Apple hardware have not yet been adapted to mainstream automobiles</em></p>

<p>Ignoring for the moment what a feature is in this context: which real-world problem does this solve?</p></li>
<li><p><em>If Apple offered a car, would they limit the configuration options to a minimum, like they do with their current computing, entertainment and communication hardware?</em></p>

<p>How can anybody outside Apple know? And I like the "If" here :-)</p></li>
</ul>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>