<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Are questions about the Apple Car acceptable (already)?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2724" class = "post">
			<h2>Question</h2>
			<div id="vote-2724" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 43</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are questions about the Apple Car acceptable (already)?</h2>
<p>According to <a href="https://apple.stackexchange.com/help/on-topic">Help</a> we should refrain from asking questions about  Pre-release hardware or asking how/why Apple does <em>&lt;some thing XYZ></em>  <a href="https://apple.stackexchange.com/help/dont-ask">and</a> we should avoid  asking an open-ended, hypothetical question:  What if ______ happened? </p>

<p>It s been rumored for a while now that Apple has some kind of automotive project dubbed  Titan  which goes beyond mere <a href="https://www.apple.com/ios/carplay/" rel="nofollow noreferrer"> Car Play </a> integration with third party products. As usual with non-announced, non-released products, we know nothing for sure, but there is <a href="http://www.macrumors.com/roundup/apple-car/" rel="nofollow noreferrer">concrete information</a> to base speculation upon. (If nothing else that s a bit more than could be said about an Apple TV set.)</p>

<p>What kind of question about this general topic would be okay on Ask Different?</p>

<p>Examples:</p>

<ul>
<li>What is Apple doing differently than car manufacturers?<br>
How would that likely affect an  Apple Car ?</li>
<li>What parts of a current car dashboard would not agree with Apple s human interface guidelines?</li>
<li>Which features of Apple hardware have not yet been adapted to mainstream automobiles?</li>
<li>If Apple offered a car, would they limit the configuration options to a minimum, like they do with their current computing, entertainment and communication hardware?</li>
</ul>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2724" class = 'collapse'>
			</div>
				<textarea id = "speech-2724" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2724">
					<img id="start_img-2724" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2725"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2725" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As with any other unreleased and unannounced Apple product, questions about an Apple Car, an Apple Mission to the Moon or an Apple Submarine are as off-topic on Ask Different as are questions about the next MacPro model or the future direction of OSX.</p>

<p>The goal of AD (and any other StackExchange site) is to provide fact-based answers to specific problems. There are other sites which are better suited for discussions and speculations (Slashdot, Reddit to just name two).</p>

<p>To look at your examples:</p>

<ul>
<li><p><em>What is Apple doing differently than car manufactures?</em></p>

<p>Apple is probably doing a lot of things differently, but which problem is to solve here? Also, how can you differentiate a correct answer from an incorrect one?</p></li>
<li><p><em>What parts of a current car dashboard would not agree with Apple s human interface guidelines?</em></p>

<p>Interesting question for sure (and something I could absolutely see as a good exam question in an UX/UI course). But even the part that the guidelines would apply to anything car related built by Apple is already speculation.</p></li>
<li><p><em>Which features of Apple hardware have not yet been adapted to mainstream automobiles</em></p>

<p>Ignoring for the moment what a feature is in this context: which real-world problem does this solve?</p></li>
<li><p><em>If Apple offered a car, would they limit the configuration options to a minimum, like they do with their current computing, entertainment and communication hardware?</em></p>

<p>How can anybody outside Apple know? And I like the "If" here :-)</p></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2725">Load Comments</button></br>
			<div id = "commentsection-2725" class = 'collapse'>
			<div id = "comment-6026" class = "comment">
				<p>I don't agree to your view about these questions, but even if I would: which real-world, day-to-day problem with the use of Apple products would an answer solve? From http://apple.stackexchange.com/help/on-topic: "Refrain from asking about [...] Pre-release hardware or asking how/why Apple does <some thing XYZ>" and "specific questions about what Apple [did|does|thinks|might do] are not helpful in a Q&A setting since they lack a practical problem to be solved"</p>
			</div>
			<div id = "comment-6027" class = "comment">
				<p>So you would consider even  What is currently known about Apple s  Project Titan ?  to be off-topic, because it doesn t relate to a *practical* problem?</p>
			</div>
			<div id = "comment-6028" class = "comment">
				<p>It's neither a practical problem relating to the *use* of Apple products nor in fact answerable. A post on macrumors.com can't be considered as hard facts, so whatever people post as an answer may be correct or incorrect without anybody outside Apple being able to verify (and those inside Apple who do know are not allowed to talk about it).</p>
			</div>
			<div id = "comment-6029" class = "comment">
				<p>All things aside: I want an Apple Submarine!</p>
			</div>
			</div>
				<textarea id = "speech-2725" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2725">
					<img id="start_img-2725" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>