<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are questions like "what's this app?" allowed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Are questions like "what's this app?" allowed?</h2>
<p>So I was just going to ask a question about the app on Apple's homepage, and I realized it could be off-topic or not constructive or whatever.</p>

<p>I was going to provide a photo like this, and ask for the name of the app in the right side.
<img src="https://i.stack.imgur.com/T8Gxe.jpg" alt="A photo taken from Apple TW"></p>

<p>Anyway, is this kind of questions allowed here?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>In general, things like that are strongly discouraged.</p>

<p>It's basically a variation of <a href="http://blog.stackoverflow.com/2012/02/lets-play-the-guessing-game/">The Guessing Game</a> and all the reasons set forth for the problems with guessing apply in this case.</p>

<p>To evaluate this (and any other) question where we're wondering if "A post like X" would be a good fit, here is the most important criteria for judging any question:</p>

<ol>
<li>Is it clear enough for many people - expert and novice to understand what exactly is being asked.</li>
<li>Is the question likely to allow space for an <strong>excellent answer</strong> - one that teaches, one that relates experience or learning that can be applied to our world wide audience?</li>
<li>Does it invite meaningful contributions (as opposed to a simple one line answer or a simple yes/no answer) to solve a problem for both the asker and the audience.</li>
</ol>

<p>In this case, it passes the first criteria but severely lacks in the second two. The answer is going to be trivial and unuseful in most cases. Now, if you had a back story and could add that - it might make a most excellent question.</p>

<p>If you had a story explaining what next, then you might have a great question. So crop out the letterpress so it doesn't distract, and tell what you want that app on the right to do for you. I am looking for a three-way slide show application that supports not only english localization but works in mainland china with their internet restrictions and firewall.</p>

<p>Better if you listed your research for an app and linked to what the firewall situation in China is when you asked so that someone could come back to the question in 18 months and know that those restrictions are tighter, loosened, or irrelevant.</p>

<p>As always, you can just ask and we'll help shape, flag, edit, close - but hopefully this somewhat long winded post helps you understand the positives and negatives to asking "What's the software that looks like this?"</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>