<html>
	<head>
		<title id = 'pagetitle'>Are ports related questions off-topic for Ask Different?
		</title>
	<head>
	<body id = 'pagebody'><p>I see a uptick in ports related questions (especially homebrew of late) and wondered if this has been discussed on meta yet. My experience from Apple discussion boards as well as the fink discussions is that most of the questions are only tangentially related to Apple. I would expect better porting knowledge at SuperUser or stackoverflow but wanted to ask about some recent questions to see what other people feel about where the on-topic/off-topic line should be drawn.</p>

<p>Here are a few that illustrate the points about the question where Apple hardware or OS aren't even tangentially related to the question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/6017/how-can-i-install-xjig-on-snow-leopard">How can I install XJig on Snow Leopard?</a>

<ul>
<li>essentially this is a programming question on compile time errors and
resolving library / code dependency errors</li>
</ul></li>
<li><a href="https://apple.stackexchange.com/questions/11670/changing-your-path-variable">Changing your path variable</a>

<ul>
<li>this relates to shell script implementation details</li>
</ul></li>
</ul>

<p>On the other hand, questions like this one sure feel on-topic to me:</p>

<p><a href="https://apple.stackexchange.com/questions/11461/is-there-any-alternative-to-macports">Is there any alternative to MacPorts?</a></p>

<p>The tags <a href="https://apple.stackexchange.com/search?q=fink">fink</a>, <a href="https://apple.stackexchange.com/search?q=macports">macports</a> and <a href="https://apple.stackexchange.com/search?q=homebrew">homebrew</a> show a good cross section of these types of questions. Perhaps it's just something that will work out over time - if people browse here that can answer the questions, they will become more on-topic?</p>


<h1>ANSWERS</h1>
		<p>I would say yes, they are on topic. It has been my intention that the scope of this site would involve all aspects of Apple products, and I don't see any reason why fink, ports, or homebrew should be excepted.</p>

<p>Again, like the <a href="https://apple.meta.stackexchange.com/questions/513/question-about-a-windows-driver-here-or-super-user">question about a Windows driver</a>, this is not to say that there aren't other sites on the network where the question may also be asked, or where they may even receive a better answer. But those aren't reason enough, in my opinion, to remove them from the scope of this site.</p>


	</body>
</html>