<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are WINE questions about a specific Mac configuration appropriate?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Are WINE questions about a specific Mac configuration appropriate?</h2>
<p>If I wanted to ask a question about whether or not WINE, on a specific configuration of MacBook (assuming I provided the appropriate specifications), would work for a given software title, is that appropriate for this StackExchange site?</p>

<p>(I'd say that 90% of the time, this sort of question will be gaming-related, so there is overlap between here and the gaming SE site. However, there are the remaining occasions, where there might be overlap between here and Super User.)</p>

<p>I ask because now that I have WINE installed, I might want to try some (slightly-older) PC games on it. And while I know most games from, say, a decade ago, will work (EG, Fallout and Fallout 2), I don't know about others. Do I ask here, at gaming, or perhaps use Google-fu and experimentation to find out? (It's cool if the questions aren't OK here nor at gaming, I just want to be on the safe side either way!)</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I <em>think</em> it would be fine, but the worst thing that could happen is it gets closed. I would actually have to see the question to have a better opinion.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>