<html>
	<head>
		<title id = 'pagetitle'>Are answers that just contain a link acceptable?
		</title>
	<head>
	<body id = 'pagebody'><p>If somebody answers by just putting a link, is the answer acceptable?<br>
Should the answer be flagged as "not an answer"?</p>


<h1>ANSWERS</h1>
		<p>This has been covered numerous times previously; the most thorough being the MSO post, <a href="https://meta.stackexchange.com/questions/8231/are-answers-that-just-contain-links-elsewhere-really-good-answers">Are answers that just contain links elsewhere really "good answers"?</a></p>

<p>Short version: it's a <em>really</em> bad idea.</p>

<p>A link isn't an answer; it's just a pointer to a possible answer. With no context, someone seeing just a link doesn't know if it might be on-topic, off-topic, a joke, or spam. Even a little bit of context helps make it clear <em>why</em> the link is worth following.</p>

<p>Additionally, answers here should be for the long term. If someone has the same problem two years from now, the link that's currently to a great blog post may well later be a 404 (or worse). If the link was the entire answer, then Apple.SE no longer has an answer for the question.</p>

<h3>Link-only answers should be flagged as what they are: not answers.</h3>


	</body>
</html>