<html>
	<head>
		<title id = 'pagetitle'>Are iPhone App Requests On Topic?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm looking specifically at this proposal: <a href="http://area51.stackexchange.com/proposals/22647/theres-an-app-for-that-iphone-apps">There's an app for that (iPhone apps)</a></p>

<blockquote>
  <p>Proposed Q&amp;A site for people who want to find and discuss iPhone apps. The app store is not a friendly place to search: this site would allow discussion of apps based on merit (user experience, feature set, ease of use) and allow finding by topic (eg shopping list apps). </p>
</blockquote>

<p>Based on the description and the on-topic questions, would that content be welcomed on this site?</p>

<p>Please discuss.</p>


<h1>ANSWERS</h1>
		<p>I believe it's just fine on Apple.SE as it will fit with all the other <code>[software-recommendation]</code> questions.</p>


<p>As <a href="https://apple.meta.stackexchange.com/users/17/chealion">Chealion</a> said it's fine and we also have a such question before:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/2635/can-you-recommend-a-numeracy-iphone-application-where-you-write-answers-on-the">can-you-recommend-a-numeracy-iphone-application-where-you-write-answers-on-the</a></li>
<li><a href="https://apple.stackexchange.com/questions/2408/iphone-app-for-weather-push-notifications">iphone-app-for-weather-push-notifications</a></li>
<li><a href="https://apple.stackexchange.com/questions/1225/good-iphone-running-app-with-heart-rate-monitor">good-iphone-running-app-with-heart-rate-monitor</a></li>
<li>....</li>
</ul>


	</body>
</html>