<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</h2>
<p>WWDC 2016 announced new major OS releases - iOS 10, macOS 10.12 (Sierra), watchOS 3 and tvOS 10.</p>

<p>All are scheduled to be released in the fall of 2016 to the public. </p>

<p>Can we ask specific questions about these releases? If not, what can we ask about before these products are released to the general public?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Yes - beta questions are allowed. Just be sure the body of the question makes very clear what version is in pay. Betas can be issued weekly (or even more often), so saying "the latest" or "beta 2" is not helpful - please include the build version in questions or consider voting to close as unclear if the question lacks enough detail for the general user to realize the post is about a beta product.</p>

<p>In the past we had a strict prohibition on asking questions about beta software and <a href="https://apple.meta.stackexchange.com/questions/2537/should-beta-os-questions-be-on-topic-due-to-nda-changes-widening-distribution">this thread</a> helped build consensus to move the beta question towards yes.</p>

<ul>
<li>iOS 11: <strong>Yes</strong> </li>
<li>macOS 10.13: <strong>Yes</strong></li>
<li>watchOS 4: <strong>Yes</strong> </li>
<li>tvOS 11: <strong>Yes</strong></li>
</ul>

<p>Rants, speculative unanswerable questions, and "questions" that are really rants are not on-topic now, nor will they be on-topic later. Such questions as</p>

<ul>
<li>Why didn't Apple use 10.12 Baker Beach or Trail #6? </li>
<li>I hate that Apple never invents anything and just steals ideas from others. Shiny marketing copy enrages me further.</li>
<li>Apple sucks or Apple is the best.</li>
<li>Typical Apple.</li>
<li>I'm done with Apple since my X that I bought Y months ago for $$$$ won't do Z. They better wake up since they are clearly in trouble now.</li>
<li>This never would have happened when Steve Jobs was alive.</li>
</ul>

<p>are off topic, both now and indefinitely. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>To complement answers <a href="https://apple.meta.stackexchange.com/a/1713/8546">1</a> and <a href="https://apple.meta.stackexchange.com/a/1714/8546">2</a>  </p>

<h2>Apple Developer Forums</h2>

<p>In the pre-release area, at least some of Apple's spaces are <strong>visible to the public</strong>. At the time of writing, three:</p>

<ul>
<li><a href="https://forums.developer.apple.com/community/pre-release/ios-9-beta" rel="nofollow noreferrer">iOS 9 beta</a></li>
<li><a href="https://forums.developer.apple.com/community/pre-release/os-x-1011-beta" rel="nofollow noreferrer">OS X 10.11 beta</a></li>
<li><a href="https://forums.developer.apple.com/community/pre-release/watchos-2-beta" rel="nofollow noreferrer">watchOS 2 beta</a>.</li>
</ul>

<h3>Side notes</h3>

<p>This is <strong>not</strong> an encouragement to have Apple Developer Forums misused for discussions that are not developer-oriented. Neither is this an attempt to alter opinions on what's acceptable within Stack Exchange. </p>

<p>This observational answer is, essentially, a hint that <strong>answers to some questions may be already public within the apple.com domain</strong>. This aspect of Apple's recent shift towards openness may seem inconsistent with <a href="http://web.archive.org/web/20150713063727/https://developer.apple.com/support/forums/" rel="nofollow noreferrer">Apple's guidelines for Apple Developer Forums</a>, in particular </p>

<ul>
<li><em>only discuss seeds in the confidential forums</em></li>
</ul>

<p>  however I'm reasonably certain that public discussion of seeds is no mistake. <a href="https://forums.developer.apple.com/message/10442#10442" rel="nofollow noreferrer">https://forums.developer.apple.com/message/10442#10442</a> from me was approved by moderators, and draws attention to Google indexing what's published. Also I received a next-day response, from Apple, to the contact that I made on 2015-06-10:  </p>

<p><img src="https://i.stack.imgur.com/ia51y.png" alt="screen shot of the access issue that I reported to Apple on 10th June 2015"></p>

<p>Also, in MacRumors Forums: <a href="http://forums.macrumors.com/threads/1891443/" rel="nofollow noreferrer">Membership-free, limited public access to Apple Developer Forums content</a> (<a href="http://web.archive.org/web/20150713063608/http://forums.macrumors.com/threads/membership-free-limited-public-access-to-apple-developer-forums-content.1891443/" rel="nofollow noreferrer">captured</a>).</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>