<html>
	<head>
		<title id = 'pagetitle'>Are Apple iCloud ~ iWork beta web apps on topic for the main site?
		</title>
	<head>
	<body id = 'pagebody'><p>Apple has 4 web apps in beta status when you log in at www.icloud.com:</p>

<ul>
<li>Photos</li>
<li>Pages</li>
<li>Numbers</li>
<li>Keynote</li>
</ul>

<p><img src="https://i.stack.imgur.com/0sGdE.png" alt="iCloud"></p>

<p>Since the FAQ and help section state that questions about <strong><em>Pre-release, non-publicly available beta software and software granted only under an NDA</em></strong> are off-topic, should any or all of these be on-topic while they say "beta"?</p>


<h1>ANSWERS</h1>
		<p>My opinion is that they should be acceptable (and <em>not</em> off-topic) much in <a href="https://apple.meta.stackexchange.com/questions/1119/despite-the-general-rule-to-not-answer-questions-about-beta-products-should-we">the same way Siri and Messages were</a>. While they are are technically "beta", I think it is largely in name only as the general public has easy access to them from the <em>default</em> panel in www.iCloud.com.</p>

<p>I think they also come very close to fitting into the FAQ criteria as they really aren't pre-release, and are public available.</p>

<p>I believe they used to be only accessible from beta.icloud.com in which case, I think it would be different, as it would more more fit into the "pre-release" clause.</p>


	</body>
</html>