<html>
	<head>
		<title id = 'pagetitle'>Are we bored of "What screen resolutions can my Mac XYZ support?"
		</title>
	<head>
	<body id = 'pagebody'><p>There seems to be a new one every day.<br>
This was today's - <a href="https://apple.stackexchange.com/questions/251243/macbook-pro-13-mid-2014-4k-screen-support">https://apple.stackexchange.com/questions/251243/macbook-pro-13-mid-2014-4k-screen-support</a></p>

<p>I know we shouldn't close as <em>"Why don't you Google it yourself?"</em> but we can't even link these as dupes, because they're all subtly different.  </p>

<p>The only similarity they really share is a <strong>total lack of effort</strong>.</p>

<p>Today's I voted to close as "Customer Support".</p>

<p>Opinions - do we just keep on posting excerpts &amp; links to Everymac [as I see has been done with this one even as I'm typing this question] or do we ask them to do the minimum of research first?</p>

<p>Straight out of the Help Pages - <a href="https://apple.stackexchange.com/help/how-to-ask">https://apple.stackexchange.com/help/how-to-ask</a> </p>

<blockquote>
  <p><strong>Search, and research</strong></p>
  
  <p>Have you thoroughly searched for an answer before asking your
  question? Sharing your research helps everyone. Tell us what you found
  and why it didn t meet your needs. This demonstrates that you ve taken
  the time to try to help yourself, it saves us from reiterating obvious
  answers, and above all, it helps you get a more specific and relevant
  answer!</p>
</blockquote>

<p>I suppose my background for this question is along the lines of :-  </p>

<ul>
<li>How do we keep newbies?  </li>
<li>How do we train them?</li>
<li>Are these people ever going to return anyway?</li>
<li>Is this type of question ever going to gain us new long-term members, or are they here because it's the first hit on Google &amp; may never find us again?  </li>
<li>etc etc...</li>
</ul>

<hr>

<p>Edits...</p>

<hr>

<p>Maybe I'm just getting jaded..
<a href="https://apple.stackexchange.com/questions/251258/mount-android-phone-on-desktop">Mount Android Phone on Desktop</a> got the comment </p>

<blockquote>
  <p>Please make an effort to <a href="https://apple.stackexchange.com/help/how-to-ask"><strong>research your
  question</strong></a> before
  posting it, and be sure to add as much detail as you can when
  explaining your problem.</p>
</blockquote>

<hr>

<p>...and the OP on my prime question showing further signs of entitlement in comments... </p>


<h1>ANSWERS</h1>
		<p>I'm not sure if this community is bored with it. But if it is, then here is what we do at Travel SE. A similar approach may be useful for Ask Different:</p>

<p>There are these questions which can be asked with X and/or Y and there are hundreds if not thousands of variations of X and/or Y.</p>

<p>Often, they are extremely easy to solve, not worthy of having to post them on SE.</p>

<p>So instead of saying "<strong>I'm voting to close this question as off-topic because google it yourself you lazy/unintelligent slob.</strong>" we have canonical questions on how to solve the problem very easily, and then we mark them as duplicates of that.</p>

<h2>Some examples</h2>

<p>Lots of people ask "<strong>What is the weather typically like in location X at time Y?</strong>" We mark those as duplicates of "<a href="https://travel.stackexchange.com/q/64136/41775">How can I find out what the weather is like in a given location on a certain month?</a>" If we didn't there would be hundreds of questions about what the weather would be like, which is extremely easy to look up.</p>

<p>Lots of people ask "<strong>I'm going from country X to country Y, how should I bring money?</strong>" We close these as duplicates of: <a href="https://travel.stackexchange.com/q/10/41775">"When traveling to a country with a different currency, how should you take your money?</a>"</p>

<p>Finally, one day a guy asked "<strong>I want to travel to this place pictured in one of the Windows 10 wallpapers, where is it?</strong>" The question hit the Hot Network Questions, and <a href="https://meta.stackexchange.com/q/238420/321647">a lot of rep was earned from it</a>. Then a bunch of such questions started appearing, all about one of the (many) wallpapers from Windows 10. Turns out it's not very hard to find out where each of the wallpapers from Windows 10 are from. So we created the question: "<a href="https://travel.stackexchange.com/q/74404/41775">Is there a website listing the location of all the Windows 10 lock screens?</a>" So now, we close all such questions as duplicates of that.</p>

<p>There might be a dozen or more types of questions where we have taken a similar approach, but I'm not gonna list them all here. You get the idea. Ask Different may be able to incorporate something similar to this. I'm not saying you should, as I'm not very active here and don't feel I should have a strong opinion in the matter. I'm just offering this approach from Travel SE as a potential suggestion for how to deal with it.</p>


	</body>
</html>