<html>
	<head>
		<title id = 'pagetitle'>Are questions related to unreleased hardware OK?
		</title>
	<head>
	<body id = 'pagebody'><p>Questions on unreleased hardware like the Apple Watch. Can we questions about the features of the product and it's working? </p>


<h1>ANSWERS</h1>
		<p>There's some discussion on whether to formally extend the prohibition on pre-release topics to explicitly include hardware - so at the moment it's not spelled out in the [help] for the main site.</p>

<p>That being said, questions speculating on Apple's future plans in general are closed as off-topic even without a pre-release hardware clause.</p>

<p>If you have a specific question, you can ask that here / expand on the question here by editing in what you are asking for more detailed feedback.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/2206/is-there-support-to-widen-the-pre-release-prohibition">Is there support to widen the pre-release prohibition?</a></li>
</ul>

<p>You could also answer / extend the discussion there on what sort of questions you feel would be beneficial to the site.</p>


	</body>
</html>