<html>
	<head>
		<title id = 'pagetitle'>Are questions about installing OS X on PC on-topic
		</title>
	<head>
	<body id = 'pagebody'><p>...or do you have any suggestion, where I could ask such?</p>

<p>I would like to build an iOS application, for which I nead a real OS X-based machine or a service like Macincloud. However, <a href="https://stackoverflow.com/a/23682404/1469208">this answer</a> suggested, that I can just purchase an OS X and install it on my own PC, either as dual-boot secondary system or as virtual machine.</p>

<p>However, I'm such newbie (ignorant) to OS X and Apple topics, that until reaching out that answer, I even wasn't aware, that it is possible to purchase OS X without purchasing a hardware along with it. And the idea of installing it on PC sounds like a nightmare for me. And that is why I wanted to ask for a possible quick step-by-step guide or a link to an external source, where these matters are covered.</p>

<p>But... I think, that this could be an off-topic question and would like to confirm this before.</p>


<h1>ANSWERS</h1>
		<p>Running OS X, even virtualized, on non-Apple hardware is a violation of the EULA for the software and, as such, is off topic here on Ask Different.</p>

<p>Your best bet is asking on Stack Overflow since they specialize on tools used primarily by developers. You might link here or ask on meta there to check if they care about bypassing EULA as a general or specific rule.</p>

<p>Second, when asking for off site resources, you would need to pass a high standard of documenting your situation and research and explaining precisely how it doesn't solve your issue.</p>

<p>Lastly, the premise of the OS X on non Mac hardware question begs the question "Why not buy a used Mac?". You could ask what are the minimum hardware requirements to run Xcode version x.y and we would help you identify the pool of used computers to lease or buy to meet your budget needs.</p>


	</body>
</html>