<html>
	<head>
		<title id = 'pagetitle'>Are questions about App Review on-topic?
		</title>
	<head>
	<body id = 'pagebody'><p>Today I encountered <a href="https://apple.stackexchange.com/questions/251233/apple-rejected-my-app-twice-citing-a-very-grey-area-violation-but-already-hav">this question</a> pertaining to "unfair treatment" by the App Store Review, and whether the OP should "appeal" the decision for his app to be rejected.</p>

<p>Is this kind of question on- or off-topic on this site?</p>


<h1>ANSWERS</h1>
		<p>"Somebody treated me such-and-such, what should I do" is practically always off-topic. OTOH, the linked question can be turned into a "what options do I have if this-and-this fails" question with a small edit which is on-topic usually.</p>


	</body>
</html>