<html>
	<head>
		<title id = 'pagetitle'>ASE Mobile Site?
		</title>
	<head>
	<body id = 'pagebody'><p>Are there plans for a mobile version of this site?<br>
The usual version works OK, but a more compact version with fewer images would be nice.</p>

<p>Is this considered/ruled out/in the works?</p>

<p>Thanks!</p>


<h1>ANSWERS</h1>
		<p>You can check out <a href="http://stackmobile.com/beta/" rel="nofollow">StackMobile</a>, or the iPhone app <a href="http://sixtoeightapp.com" rel="nofollow">Six to Eight</a>. Both are created by our talented <a href="http://stackapps.com">http://stackapps.com</a> members. However right now we only offer read-only API, so with these two apps you can only browse the questions and answers.</p>


	</body>
</html>