<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>ASE Mobile Site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-278" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::109</h3>
				<h2>ASE Mobile Site?</h2>
<p>Are there plans for a mobile version of this site?<br>
The usual version works OK, but a more compact version with fewer images would be nice.</p>

<p>Is this considered/ruled out/in the works?</p>

<p>Thanks!</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-278" class = 'collapse'>
			</div>
				<textarea id = "speech-278" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-278">
					<img id="start_img-278" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-279"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>You can check out <a href="http://stackmobile.com/beta/" rel="nofollow">StackMobile</a>, or the iPhone app <a href="http://sixtoeightapp.com" rel="nofollow">Six to Eight</a>. Both are created by our talented <a href="http://stackapps.com">http://stackapps.com</a> members. However right now we only offer read-only API, so with these two apps you can only browse the questions and answers.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-279" class = 'collapse'>
			</div>
				<textarea id = "speech-279" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-279">
					<img id="start_img-279" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>