<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Ask Different Moderator Cards
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-563" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::254</h3>
				<h2>Ask Different Moderator Cards</h2>
<p>We recently printed some business cards for our Stack Exchange employees and they turned out great.</p>

<p>It got us thinking: our sites' moderators have been working hard to keep our sites high quality for the past few years. They may not be employees, per se, but great community moderators are why our communities are safe, sane, and worth visiting in the first place </p>

<p>If you're a moderator on the main site, would you be interested in having your own Ask Different contact card? Would you find it useful?</p>

<p>I can see them being handy to pass out during your local meetups or conferences.</p>

<p>Below is a mockup:</p>

<p>(click on image to see full res version)</p>

<p><a href="https://i.stack.imgur.com/8P5fD.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/8P5fD.png" alt="Ask Different Moderator Card"></a></p>

<p>Of course Twitter ID/phone# are optional. It can be Skype, AIM, URL etc.</p>

<p><sub>Note: the text rendering in the mockup is slightly blurry. But when printed it will be crisp.</sub></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1001" class = "post">
				<p>After careful consideration, I have decided that **Yes! I would love one!**</p>
			</div>
			<div id = "comment-1002" class = "post">
				<p>As long as it doesn't break the bank, swag of any kind is greatly appreciated.</p>
			</div>
			<div id = "comment-1003" class = "post">
				<p>Wow, I really want one of these. However, I'm skeptical at when I'd actually get a chance to use it. Still, I can't pass up this opportunity to pad my ego. :)</p>
			</div>
			<div id = "comment-1021" class = "post">
				<p>@Kyle: I actually had a use for one of these just yesterday in talking with someone about Macs who had some questions that weren't easily answerable in the time frame that we had.</p>
			</div>
			<div id = "comment-1419" class = "post">
				<p>Is "askdifferent.com" on the card a link? `;-)`</p>
			</div>
			<div id = "comment-1499" class = "post">
				<p>Could be with a QR code :)</p>
			</div>
			<div id = "comment-1616" class = "post">
				<p>I aim to get to moderator status one year....  I notice, there is nowhere on the card for the username from here - might be useful.</p>
			</div>
			<div id = "comment-2090" class = "post">
				<p>Is there any chance you all will be doing a run for the newly elected moderators on all of the site elections? They sure look snazzy :-)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-808"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>OK, moderators have officially been mailed the form to obtain the cards. Stay tuned!</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1496" class = "post">
				<p>Do I have to order them right away, or can I hold off for a bit?</p>
			</div>
			<div id = "comment-1497" class = "post">
				<p>I think they are fairly easy to order.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>