<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Ask Different Chat Room
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Ask Different Chat Room</h2>
<p>We do have <a href="http://chat.stackexchange.com/rooms/38/apple-chat">a room</a> on the new Stack Exchange chat system for anyone who wants to join. To enter, you must:</p>

<ul>
<li>Have at least 20 reputation on Stack Exchange</li>
</ul>

<p>The room is for discussing anything and everything about our site. Its also a neat place to meet and talk to the people who have been answering your questions, yell at the moderators or just lurk. Hopefully we also discuss things surrounding the site.</p>

<p><a href="https://webmasters.meta.stackexchange.com/questions/220/pro-webmasters-chat-room">Original text ripped from Pro Webmasters</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<h1>For those who are relatively new to the sites</h1>

<p>The link to Ask Different Chat is in the right hand column of Ask Different:</p>

<ul>
<li>sometimes visible without scrolling down</li>
<li>sometimes out of sight (beneath advertisements).</li>
</ul>

<p>The link to Ask Different Chat is sometimes <a href="https://apple.meta.stackexchange.com/q/729/8546"><strong>missing</strong> from the right hand column of Ask Different meta</a>. </p>

<p>To switch from Ask Different meta to Ask Different: </p>

<ul>
<li>click <code>main</code></li>
</ul>

<p>Alongside <code>main</code> for Ask Different, the <code>chat</code> is <strong>not</strong> Ask Different Chat. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>