<html>
	<head>
		<title id = 'pagetitle'>Ask Different needs correct tags for 'Mac OS X Server' (10.0 - 10.6) and 'OS X Server (10.7 - 10.9)
		</title>
	<head>
	<body id = 'pagebody'><p>IMHO there is something wrong with the now available <strong>OS X Server</strong> tags!
When I did some extensive re-taging edits on the 'OSX-Server' tagged Questions I realised that people would mostly not adhere to the given meaning of the <a href="http://Apple.StackExchange.com/tags/osx-server/info">tags-wiki</a> but actually to the naming convention that Apple has chosen for its products.</p>

<p>As of now, Apple calls it "OS X Server" and the App to manage the Server is called Server.app &lt;-- So, one is the App and the other is the Server System itself. </p>

<p>If then added the core (Mac) OS X system version name tag (e.g. #Mavericks), we get the full picture of which Operating System we are talking about.</p>

<p><img src="https://i.stack.imgur.com/s9o2c.png" alt="Add OS X Server to OS X Mavericks"></p>

<hr>

<p>But what about the old Mac Server System versions from Apple?</p>

<p>Well, they were called <strong>Mac OS X Server</strong> 10.x and the Software to manage the Server was called 'Server Admin' and 'Workgroup Manager'.</p>

<hr>

<h2>tags needed for 10.0 - 10.6</h2>

<pre><code>- Mac-OS-X-Server (the full Mac Server Version)
- Server-Admin.app
- Workgroup-Manager.app
</code></pre>

<hr>

<h2>tags needed for 10.7 - 10.9</h2>

<pre><code>- OS-X-Server (as an add-on to an installed OS X) 
- Server.app
</code></pre>


<h1>ANSWERS</h1>
		<p>For simplicity I sugest using the old tags and give them the proper meaning and just add one new tag:</p>

<hr>

<h2>tags for Mac OS X Server 10.0 - 10.6</h2>

<pre><code>- Mac-OSX-Server (new tag for 'Legacy' full Mac Server Versions)
- ServerAdmin
- Workgroup-Manager.app
</code></pre>

<hr>

<h2>tags for OS X Server 10.7 - 10.9</h2>

<pre><code>- OSX-Server (as an add-on to an installed OS X) 
- Server.app
</code></pre>


<p>For simplicity I suggest what the tag wikis currently say. </p>

<ul>
<li>Sever.app for 10.7 and up where you just instal the app on top of normal OSX. </li>
<li>OSX-server for 10.6 and below where you need a license key and separate install media to install the sever build instead of the client/workstation build of OSX. </li>
</ul>


	</body>
</html>