<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Ask Different podcast?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Ask Different podcast?</h2>
<p>For the past few days I've been thinking about other ways and formats to engage the community in. The town hall went pretty well, as did the live chat during the iPad 2 event.</p>

<p><strong>Would anyone be interested in listening to or participating in a podcast?</strong></p>

<p>I'm thinking two to four regular hosts with a guest or two talking about the latest Apple products, news, and rumors, maybe answering some questions from the community, and picking a particularly good or interesting recent question to talk about. Is this a good idea? Would anyone even listen to it? The sadly now-defunct Stack Overflow podcast was very popular, but that was definitely due to the presence of Jeff and Joel.</p>

<p>If you're interested in being on or helping create the show let me know below.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Could we partner with an existing apple-based podcast of some kind?</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I believe this is a nice idea. I'm not a native english speaker but I'll certainly hear it :) </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I like the idea. It might be something the moderators can put together to start with and then expand. Once there is enough episodes we could maybe have it featured on the blog.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Neat idea. We're looking at making a podcast where I work at the moment, so been doing lots of reading on the topic. Does anyone else here have experience at making podcasts?</p>

<p>Obviously there are quite a few Apple-centric podcasts out there, but I think an enthusiastic group like us would have a good chance at making a successful run at it.</p>

<p>Great thinking Kyle.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I would be down for contributing however you think you could use it. I have space to host assuming it wouldn't be hosted in SE's network, programming skills to contribute (I designed and maintained <a href="http://www.orangeloungeradio.com/" rel="nofollow">Orange Lounge Radio</a>'s Podcast Updater and RSS Feed for years), I have a <em>couple</em> (ahem) Blue Microphones, and time to spare... maybe :).</p>

<p>Totally down.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I suggest following the lead of TWiT. It's a great format. They just grab news around and discuss about it. We could grab Ask Different questions and discuss them. Of course, that's just the theme.</p>

<p>I'd definitely love to participate as a guest, but I'm afraid I don't have what it needs for it. And I would most certainly hear it. I'm currently listening to 3 and I'm missing 1 in my week podcast wallet.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>sounds fun... i'd be down for helping here and there depending on what is needed</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'd be willing to participate as a guest, and perhaps more as time permits. I've done lots of radio and podcast appearances over the years.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>