<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Ask Different Podcast - Planning Room
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-441" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::124</h3>
				<h2>Ask Different Podcast - Planning Room</h2>
<p>There's been <a href="https://apple.meta.stackexchange.com/questions/428/ask-different-podcast">reasonable interest</a> in doing an Ask Different podcast, enough that I think we should try to create a pilot episode. There are numerous factors to consider, from the format to the hosts to the time it's recorded. Please feel free to help with the planning below.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-442"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Here's what I'm thinking so far. Any and all of this can be changed if necessary:</p>

<h2>Hosts/Guests:</h2>

<ul>
<li>Kyle Cronin (Eastern, Tuesday morning/midday would work best)</li>
<li><a href="https://apple.meta.stackexchange.com/questions/428/ask-different-podcast/435#435">VxJasonxV</a> (TZ=Mountain)</li>
<li><a href="https://apple.meta.stackexchange.com/questions/428/ask-different-podcast/439#439">calavera</a> (TZ=Pacific, wouldn't want to be a pure host but i would definitely guest or whatever)</li>
<li><a href="https://apple.meta.stackexchange.com/questions/428/ask-different-podcast/440#440">Negrino</a> (TZ=Pacific)</li>
</ul>

<h2>Communication:</h2>

<ul>
<li>Skype</li>
<li><a href="http://www.ecamm.com/mac/callrecorder/" rel="nofollow noreferrer">Ecamm Call Recorder</a>, highest quality setting

<ul>
<li>Tests will have to be done to see if the audio quality on the other end of a Skype call is sufficient for the podcast. if not, then each participant will need to record with Ecamm and the tracks will be combined afterward</li>
</ul></li>
</ul>

<h2>Live Broadcast/Chat:</h2>

<ul>
<li>Justin.TV/UStream</li>
<li>Ask Different chat</li>
</ul>

<h2>Format:</h2>

<ul>
<li>Introduction</li>
<li>Site news

<ul>
<li>i.e. moderator elections, new Stack Exchange features, etc</li>
</ul></li>
<li>Followup/listener feedback</li>
<li>Main topic

<ul>
<li>It might be nice for each show to have a theme ("backups", "using iOS with Linux", etc) that we could talk about for a bit. I've (Kyle) found that the podcasts I enjoy and listen to the most are the ones I learn from. And given that this is a Q&amp;A site, we should have an endless source of information to use.</li>
</ul></li>
<li>App of the Week

<ul>
<li>Doesn't have to be every week, but if there's a notable app that's come out or that one of us has discovered, we can do a bit on it</li>
</ul></li>
<li>Question of the Week

<ul>
<li>We highlight a question asked within the last week that's interesting and/or insightful</li>
</ul></li>
<li>Wrap up</li>
</ul>

<h2>Distribution/Hosting</h2>

<ul>
<li>Posterous ( <a href="http://podcast.askdifferent.net/" rel="nofollow noreferrer">http://podcast.askdifferent.net/</a> )</li>
<li>Feedburner ( <a href="http://feeds.feedburner.com/AskDifferentPodcast/" rel="nofollow noreferrer">http://feeds.feedburner.com/AskDifferentPodcast/</a> )</li>
<li>iTunes</li>
</ul>

<h2>License</h2>

<ul>
<li>same CC license as the site</li>
</ul>

<h2>Name</h2>

<ul>
<li>It would be nice to be an "official" podcast so that we can use "Ask Different" and "Stack Exchange" in the name and/or description without qualifying it with "community" or "unofficial"</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-834" class = "post">
				<p>It would be beneficial to planning times if you folks listed at the top of this answer would specify your timezone.</p>
			</div>
			<div id = "comment-835" class = "post">
				<p>@Kyle I would like to be part of this podcast, but at this time I can be a listener as I am not much knowledgeable on Mac OS X...</p>
			</div>
			<div id = "comment-836" class = "post">
				<p>@garikapati we might be able to get you on as a guest in the future</p>
			</div>
			<div id = "comment-842" class = "post">
				<p>I'd love to join as a guest at least once, @Kyle. So I appreciate if you count me in the first episode. :)</p>
			</div>
			<div id = "comment-853" class = "post">
				<p>Wait  I haven't been invited! How's that even possible! ;)  On a serious note, let me know if I can be of service with pre/post production, etc. I could also participate at some point if people are needed. I can only imagine http://www.youtube.com/watch?v=QVggc7SUhj4 when Manny appears on stage ;)</p>
			</div>
			<div id = "comment-918" class = "post">
				<p>Anything specific I can help with? It sounds like most of it is sketched out but it's down to making it happen.</p>
			</div>
			<br><div id = "ans-443"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Podcast/RSS Specifications and Resources:</p>

<p><a href="http://www.apple.com/itunes/podcasts/specs.html" rel="nofollow">iTunes Podcast Specifications</a><br>
<a href="http://www.rssboard.org/rss-specification" rel="nofollow">RSS 2.0 Specifications</a><br>
<a href="http://feedvalidator.org/" rel="nofollow">Feed Validator</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>