<html>
	<head>
		<title id = 'pagetitle'>Ask Different swag for top users
		</title>
	<head>
	<body id = 'pagebody'><p>As a thank you for <em>being awesome</em>, if you are on page 1 or page 2 of &hellip;</p>

<p><a href="https://apple.stackexchange.com/users?tab=reputation&amp;filter=all">https://apple.stackexchange.com/users?tab=reputation&amp;filter=all</a></p>

<p>&hellip; we'll be sending you a little care package shortly:</p>

<ul>
<li>Ask Different t-shirt in your size</li>
<li>Ask Different die-cut, vinyl stickers</li>
<li><a href="http://shop.stackexchange.com/collections/frontpage/products/stack-exchange-sharpies" rel="nofollow noreferrer">Stack Exchange sharpie</a> </li>
<li><a href="http://shop.stackexchange.com/products/stack-exchange-pens" rel="nofollow noreferrer">Stack Exchange pen</a></li>
<li><a href="http://shop.stackexchange.com/products/stack-exchange-network-stickers" rel="nofollow noreferrer">Stack Exchange stickers</a></li>
</ul>

<p>You can expect to get an email soon with details on how to confirm and provide your mailing address and size preferences.</p>

<h2>T-Shirt</h2>

<p><img src="https://i.stack.imgur.com/47YXB.png" alt="apple.stackexchange.com Tshirt"></p>

<h2>Sticker</h2>

<p><img src="https://i.stack.imgur.com/GkMKt.png" alt="apple.stackexchange.com sticker"></p>

<p>The rest of the items you can view in the <a href="http://shop.stackexchange.com" rel="nofollow noreferrer">Stack Exchange store</a> &mdash; direct links to <a href="http://shop.stackexchange.com/collections/frontpage/products/stack-exchange-sharpies" rel="nofollow noreferrer">sharpie</a>, <a href="http://shop.stackexchange.com/products/stack-exchange-pens" rel="nofollow noreferrer">pens</a>, <a href="http://shop.stackexchange.com/products/stack-exchange-network-stickers" rel="nofollow noreferrer">stickers</a>.</p>

<p>Congratulations! </p>

<p><sub>(for anyone else who wants this swag, but isn't on page 1 or page 2 of the all time top users -- the limited edition t-shirts and stickers will be available for purchase from the store soon as well)</sub></p>


<h1>ANSWERS</h1>
		<p>My package just arrived in the mail yesterday, and I've already had to fight off coworkers trying to steal the pens and stickers. Thanks guys, this is fantastic!</p>


	</body>
</html>