<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Ask Different swag for top users
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-565" class = "post">
			<h2>Question</h2>
			<h3>Score ::27</h3>
			<h3>Views ::533</h3>
				<h2>Ask Different swag for top users</h2>
<p>As a thank you for <em>being awesome</em>, if you are on page 1 or page 2 of &hellip;</p>

<p><a href="https://apple.stackexchange.com/users?tab=reputation&amp;filter=all">https://apple.stackexchange.com/users?tab=reputation&amp;filter=all</a></p>

<p>&hellip; we'll be sending you a little care package shortly:</p>

<ul>
<li>Ask Different t-shirt in your size</li>
<li>Ask Different die-cut, vinyl stickers</li>
<li><a href="http://shop.stackexchange.com/collections/frontpage/products/stack-exchange-sharpies" rel="nofollow noreferrer">Stack Exchange sharpie</a> </li>
<li><a href="http://shop.stackexchange.com/products/stack-exchange-pens" rel="nofollow noreferrer">Stack Exchange pen</a></li>
<li><a href="http://shop.stackexchange.com/products/stack-exchange-network-stickers" rel="nofollow noreferrer">Stack Exchange stickers</a></li>
</ul>

<p>You can expect to get an email soon with details on how to confirm and provide your mailing address and size preferences.</p>

<h2>T-Shirt</h2>

<p><img src="https://i.stack.imgur.com/47YXB.png" alt="apple.stackexchange.com Tshirt"></p>

<h2>Sticker</h2>

<p><img src="https://i.stack.imgur.com/GkMKt.png" alt="apple.stackexchange.com sticker"></p>

<p>The rest of the items you can view in the <a href="http://shop.stackexchange.com" rel="nofollow noreferrer">Stack Exchange store</a> &mdash; direct links to <a href="http://shop.stackexchange.com/collections/frontpage/products/stack-exchange-sharpies" rel="nofollow noreferrer">sharpie</a>, <a href="http://shop.stackexchange.com/products/stack-exchange-pens" rel="nofollow noreferrer">pens</a>, <a href="http://shop.stackexchange.com/products/stack-exchange-network-stickers" rel="nofollow noreferrer">stickers</a>.</p>

<p>Congratulations! </p>

<p><sub>(for anyone else who wants this swag, but isn't on page 1 or page 2 of the all time top users -- the limited edition t-shirts and stickers will be available for purchase from the store soon as well)</sub></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-565">Load Comments</button></br>
			<div id = "commentsection-565" class = 'collapse'>
			<div id = "comment-1004" class = "comment">
				<p>Holy f**k awesome! YAY!</p>
			</div>
			<div id = "comment-1005" class = "comment">
				<p>^ What he said. :)</p>
			</div>
			<div id = "comment-1006" class = "comment">
				<p>Yes! Great! Thank you!</p>
			</div>
			<div id = "comment-1007" class = "comment">
				<p>Fantastic, thanks!</p>
			</div>
			<div id = "comment-1008" class = "comment">
				<p>Thanks @Jeff Atwood and the rest of the SE crew!</p>
			</div>
			<div id = "comment-1009" class = "comment">
				<p>@Jeff Thank you very much for "swag" ;) As the (probably not deserved) [still] top user of Ask Different, I believe it is an Honor to be here. I may not be Jon Skeet, but I do my best, time permits. I'm sure the other members of the community, especially those who were here when this began, will also appreciate this. Kudos to everyone!</p>
			</div>
			<div id = "comment-1010" class = "comment">
				<p>Thanks! This is awesome!</p>
			</div>
			<div id = "comment-1011" class = "comment">
				<p>What a generous, classy gesture to the community. Well done.</p>
			</div>
			<div id = "comment-1012" class = "comment">
				<p>Wow... thank, this is really cool of you guys!</p>
			</div>
			<div id = "comment-1013" class = "comment">
				<p>This is so awesome. Thank you guys!</p>
			</div>
			<div id = "comment-1017" class = "comment">
				<p>Thanks a lot! <3</p>
			</div>
			<div id = "comment-1018" class = "comment">
				<p>That's cool, looking forward to receiving the swag!</p>
			</div>
			<div id = "comment-1019" class = "comment">
				<p>woot! thanks @Jeff!</p>
			</div>
			<div id = "comment-1034" class = "comment">
				<p>I can wear it over (or under) my SO shirt :)</p>
			</div>
			<div id = "comment-1037" class = "comment">
				<p>Wow, awesome!  Thanks :-)</p>
			</div>
			<div id = "comment-1042" class = "comment">
				<p>When can we expect to receive them? This is cool.</p>
			</div>
			<div id = "comment-1043" class = "comment">
				<p>@zev 6-8 weeks from the original date</p>
			</div>
			<div id = "comment-1062" class = "comment">
				<p>It's been 4 weeks now, so the packages are at least halfway here :-) Looking forward to it!</p>
			</div>
			<div id = "comment-1069" class = "comment">
				<p>Aha, I see Jeff isn't on the 2 first pages, so you ain't getting one! >:D (maybe I should wait receiving mine before braggin')</p>
			</div>
			<div id = "comment-1078" class = "comment">
				<p>That's great! Waiting patiently for my e-mail...</p>
			</div>
			<div id = "comment-1395" class = "comment">
				<p>@Jeff Is there an update on when these are likely to arrive?</p>
			</div>
			<div id = "comment-1408" class = "comment">
				<p>Has anybody received their's yet?</p>
			</div>
			<div id = "comment-1439" class = "comment">
				<p>I got mine this week and I live in Ireland.  Thanks guys!</p>
			</div>
			<div id = "comment-1495" class = "comment">
				<p>Shoot, I made it to page 2 but I guess I missed the party ;)</p>
			</div>
			<div id = "comment-1534" class = "comment">
				<p>I've not received mine yet... Strange.</p>
			</div>
			</div>
				<textarea id = "speech-565" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-565">
					<img id="start_img-565" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-787"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>My package just arrived in the mail yesterday, and I've already had to fight off coworkers trying to steal the pens and stickers. Thanks guys, this is fantastic!</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-787" class = 'collapse'>
			</div>
				<textarea id = "speech-787" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-787">
					<img id="start_img-787" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>