<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Ask Different, really? Surely Ask Apple
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Ask Different, really? Surely Ask Apple</h2>
<p>What exactly does Ask Different have to do with Apple? Ask<b>Apple</b> surely?</p>

<ul>
<li>It doesn't fit with the URL</li>
<li>It doesn't fit the names of other stackexchange sites, which are pretty much the same from beta to non-beta.</li>
<li>Ask Ubuntu is a good name, its where you ask about Ubuntu</li>
<li>Ask Different, ask different to what</li>
<li>How many people actually know about the ad campaign</li>
<li>The legal issue is not with having "Apple" in the title, it's with the use of the Apple Logo, this post isn't about changing the logo (cmd button)</li>
</ul>

<p>5 votes up, so that's almost half of the 13 votes for Ask Different. Please upvote the answer in this thread if you think the site title should be changed: <a href="https://apple.meta.stackexchange.com/questions/205/official-site-title/301#301">Official Site Title</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Think Different was a hugely successful ad campaign by Apple:</p>

<p><img src="http://upload.wikimedia.org/wikipedia/commons/3/3a/Apple_logo_Think_Different.png" alt=""></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Like Kyle said, "Think Different" was (and technically still is) Apple's motto and slogan. They have used it since 1984, I believe, and it has become a staple of their corporation's identity. Honestly I would say that 90% of Apple's users over the age of 18 would recognize this slogan immediately, and the play on it is perfect for this site. I think that it ads a touch of elegance to it, and I also think that it gives those of us who know way too much about Apple some sort of nostalgia/sense of being (I can't really place the proper word for this but I'm sure some of you out there are feeling the same as me).</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I found this site in the SE community list. I had to visit the site because the name wasn't descriptive enough to tell me what it was about, and when I did, I was half expecting to end up on a site about alternative lifestyles. </p>

<p>The argument from SeniorShizzle that "90% of Apple's users over the age of 18 would recognize [the <em>Think Different</em>] slogan immediately" is dubious at best, and at worst it excludes entire geographic regions where the ad was not campaigned, new users, users of Apple products that were not advertised with the "think different" slogan, and generations of users to come. I'd argue that the name is esoteric. And while there are problems with the name "Ask Apple" as discussed in the comments, that doesn't mean there is not a problem with the name "Ask Different".</p>

<p>That being said, I'm not here to support a name change, I'm just offering my two cents on this topic. And while I haven't been a member for very long, I have a different theory as to why the name might have stuck (and why it might be a good match), according to something I remember being told by an old business professor I once had.</p>

<p>According to him, Apple's success has always been fueled by those evangelist users who embrace the fact that Apple is not Microsoft, and historically has never been "mainstream". These users want to be different and feel like they're exercising their right to choose. Perhaps they perceive themselves as the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes.</p>

<p>And that's why "Ask Different" is arguably a pretty good name choice for the community here.</p>

<p>But alas, I'm just a passerby.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>