<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Ask Different should have the correct favicon
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Ask Different should have the correct favicon</h2>
<p>Ask Different has a nice style, but the favicon is still the old sketchy-style. That should be replaced. It's OK on chat and meta.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Try to hard reload (Shift and reload button) the following link:</p>

<p><a href="http://sstatic.net/apple/img/favicon.ico" rel="nofollow">http://sstatic.net/apple/img/favicon.ico</a></p>

<p>For the meta site it's:</p>

<p><a href="http://sstatic.net/applemeta/img/favicon.ico" rel="nofollow">http://sstatic.net/applemeta/img/favicon.ico</a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>