<html>
	<head>
		<title id = 'pagetitle'>Ask Different should have the correct favicon
		</title>
	<head>
	<body id = 'pagebody'><p>Ask Different has a nice style, but the favicon is still the old sketchy-style. That should be replaced. It's OK on chat and meta.</p>


<h1>ANSWERS</h1>
		<p>Try to hard reload (Shift and reload button) the following link:</p>

<p><a href="http://sstatic.net/apple/img/favicon.ico" rel="nofollow">http://sstatic.net/apple/img/favicon.ico</a></p>

<p>For the meta site it's:</p>

<p><a href="http://sstatic.net/applemeta/img/favicon.ico" rel="nofollow">http://sstatic.net/applemeta/img/favicon.ico</a></p>


	</body>
</html>