<html>
	<head>
		 <link rel="stylesheet" href="/style.css"/>
		 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title id = 'pagetitle'>Ask Question</title>
	<head>
	<body id = 'pagebody'>
		<header>
			<h1>Just Another QnA</h1>
		</header>
		<div class="topnav" id="myTopnav">
			  <a href="/">Home</a>
			  <a href="#" style = "float:right;">About</a>
			  <a href="#" style = "float:right;">Sign Out</a>
			</div>
		<div class="container">
			<div id = "questionpage">
			    
			    <form action = "/postquestion" method = "POST" id = "questionform">
			    	<h2>Ask Question</h2>
			    	<label for="question_title">Title</label><br><br><br>
			    	<input id="question_title" size="180"/><br><br><br>
			    	<label for="question_body">Body</label><br><br><br>
			    	<textarea id="question_body" rows="20" cols="181"></textarea><br><br><br>
			    	<input type="submit" id = "postquesbtn" class="btn btn-primary" value="Post Question">
			    </form>
			</div>
			<footer>Moore & Peps collaboration.</footer>
		</div>
	</body>
</html>