<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>askdifferent.com does not redirect when HTTPS
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>askdifferent.com does not redirect when HTTPS</h2>
<ul>
<li><a href="http://askdifferent.com">http://askdifferent.com</a> performs a 301 redirect to <a href="http://apple.stackexchange.com">http://apple.stackexchange.com</a>.</li>
<li><a href="https://askdifferent.com">https://askdifferent.com</a> doesn't work: connection refused.</li>
</ul>

<p>With the move to HTTPS across Stack Exchange, can the HTTPS redirection be functional?</p>

<p>A more minor related issue: can the redirect from the HTTP redirect <em>directly</em> to the HTTPS URL?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Let's get this over to the main thread for https transition. </p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/292058/network-wide-https-its-time">Network-wide HTTPS: It&#39;s time</a></li>
</ul>

<p>According to the main post we should be <strong>status: done</strong> with only chat not on https. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>TL;DR: This will happen as a result of mostly unrelated cleanup efforts.</p>

<hr>

<p>To clarify our position here: there were no plans to make the redirect-only domains available over <code>https://</code>. They were never at any point in time supported, nor do we generate links to them - so all links in existence should be <code>http://</code>.</p>

<p>Even if they were <code>https://</code>, they wouldn't get the benefits of <code>https://</code> anyway, since they're just 301s to the site's real domain). There's really very little reason to take on the certificate complexity and cost to add these additional domains.</p>

<p>Not that being said, this will eventually happen anyway for other reasons. As simply as a side-effect of us shuffling redirects between <a href="https://www.name.com/" rel="nofollow noreferrer">name.com</a> servers and <a href="https://www.cloudflare.com/" rel="nofollow noreferrer">Cloudflare</a> for redirects. We did this for <a href="https://miyodeya.com">miyodeya.com</a> for the purposes of <em>existing</em> SE 1.0 links - since they ever existed, not supporting this on name.com's redirect service was causing (effectively) 404s to actual content.</p>

<p>We moved them to our miscellaneous Cloudflare account for the purposes of redirects, supporting <code>https://</code> is only a side-effect. But, maintaining 2 ways of doing something when 1 is saner/easier (we're almost done automating this) is just silly. So the plan is to move all these domains to Cloudflare. Here's the list:</p>

<ul>
<li>nothingtoinstall.com</li>
<li>seasonedadvice.com</li>
<li>crossvalidated.com</li>
<li>basicallymoney.com</li>
<li>chiphacker.com</li>
<li>brewadvice.com</li>
<li>askpatents.com</li>
<li>miyodeya.com</li>
</ul>

<p>I don't have an exact timeline as the main dev on the sync bits for Cloudflare/page rules is currently moving and out for a little while. Roughly, I'd say in the next month or two.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I have finished automating this, and askdifferent.com redirects should be working much better than they were. I expect all of these urls to properly redirect properly over http and https(possibly pending DNS ttl expiry):</p>

<ul>
<li><a href="https://askdifferent.com/questions/9659">https://askdifferent.com/questions/9659</a></li>
<li><a href="https://meta.askdifferent.com/questions/3027" rel="nofollow noreferrer">https://meta.askdifferent.com/questions/3027</a></li>
<li><a href="https://chat.askdifferent.com" rel="nofollow noreferrer">https://chat.askdifferent.com</a></li>
</ul>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>