<html>
	<head>
		<title id = 'pagetitle'>Asking for more detail
		</title>
	<head>
	<body id = 'pagebody'><p>I know this might seem like a dumb question, but how should we handle users asking for more detail (e.g. run this command and tell me the output)? Putting it as an answer doesn't really count as an answer. For instance, on Apple Support Communities, there is no real "answer" and "comment" format, there's just text bubbles, like in <a href="https://discussions.apple.com/message/25180415#25180415" rel="nofollow">this thread</a>. How should we at Stack Exchange handle this with the format of "question", "answer", and "comment"?</p>


<h1>ANSWERS</h1>
		<p>Answers always need to provide an answer to the problem stated in the question, everything else carries a high risk of getting flagged and deleted. </p>

<p>Follow-ups and clarifications should be asked in comments to the respective post.</p>


<p>Anything which requires a follow-up from the original poster of the question almost certainly isn't an answer. For example, asking the user to run a command to provide further information such as <code>diskutil list</code> and post the output shouldn't be an answer as this is a troubleshooting step which would help understand and isolate the problem in the question. This kind of request should be a comment and the result of the command should be edited in to the original question.</p>

<p>Answers which ask for clarification from the original poster of the question through adding an answer should be down voted, flagged as 'not an answer' using the flag link below the post (and a vote to delete cast once you have that privilege).</p>

<p><strong>Stack Exchange is not a forum</strong> and discussion is limited (outside of chat). Questions should be self-contained posts which contain sufficient information to be able to answer without much speculation (or should be closed as too broad). Brief requests for clarification should be made using the comments system, and further collaboration in chat. Apple Support Discussions is, by definition, a discussions forum and allows discussions. This is contrary to Stack Exchange and not something that is attempted to be emulated with Stack Exchange.</p>


	</body>
</html>