<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Asking for more detail
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2546" class = "post">
			<h2>Question</h2>
			<div id="vote-2546" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Asking for more detail</h2>
<p>I know this might seem like a dumb question, but how should we handle users asking for more detail (e.g. run this command and tell me the output)? Putting it as an answer doesn't really count as an answer. For instance, on Apple Support Communities, there is no real "answer" and "comment" format, there's just text bubbles, like in <a href="https://discussions.apple.com/message/25180415#25180415" rel="nofollow">this thread</a>. How should we at Stack Exchange handle this with the format of "question", "answer", and "comment"?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2546" class = 'collapse'>
			</div>
				<textarea id = "speech-2546" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2546">
					<img id="start_img-2546" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2546">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2547"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2547" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Answers always need to provide an answer to the problem stated in the question, everything else carries a high risk of getting flagged and deleted. </p>

<p>Follow-ups and clarifications should be asked in comments to the respective post.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2547" class = 'collapse'>
			</div>
				<textarea id = "speech-2547" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2547">
					<img id="start_img-2547" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2547">Comment</button>
			<br><div id = "ans-2548"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2548" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Anything which requires a follow-up from the original poster of the question almost certainly isn't an answer. For example, asking the user to run a command to provide further information such as <code>diskutil list</code> and post the output shouldn't be an answer as this is a troubleshooting step which would help understand and isolate the problem in the question. This kind of request should be a comment and the result of the command should be edited in to the original question.</p>

<p>Answers which ask for clarification from the original poster of the question through adding an answer should be down voted, flagged as 'not an answer' using the flag link below the post (and a vote to delete cast once you have that privilege).</p>

<p><strong>Stack Exchange is not a forum</strong> and discussion is limited (outside of chat). Questions should be self-contained posts which contain sufficient information to be able to answer without much speculation (or should be closed as too broad). Brief requests for clarification should be made using the comments system, and further collaboration in chat. Apple Support Discussions is, by definition, a discussions forum and allows discussions. This is contrary to Stack Exchange and not something that is attempted to be emulated with Stack Exchange.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2548" class = 'collapse'>
			</div>
				<textarea id = "speech-2548" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2548">
					<img id="start_img-2548" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2548">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>