<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Assembling a Twitter list of Ask Different users
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1131" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::89</h3>
				<h2>Assembling a Twitter list of Ask Different users</h2>
<p>I'm going to assemble a twitter list of Ask Different users from @StackApple, and just wanted to give everyone the opportunity to let me know if they don't want to be included. The purpose of the list will be to make it easier to follow and communicate with the Ask Different community on twitter. We think the Ask Different community is awesome and we firmly believe that the users are what make the site great, so we want to give back a little publicity and recognition to you guys. This way, people will know who you are!</p>

<p>We'll assemble the list by going through all the Ask Different users who have twitter handles in their profile, and narrow it down to people who are actually active on Ask Different and on twitter. So, if you don't regularly use this site or never tweet about Apple products, you won't be added.</p>

<p>If for any reason you don't want to be included on the list, please let me know by responding to this post. Also, if you do want to be on the list, please make sure your twitter handle is in your user profile.</p>

<p>Thanks!  </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2047" class = "post">
				<p>It's a shame there is no dedicated Twitter field in the list of profile fields.</p>
			</div>
			<div id = "comment-2048" class = "post">
				<p>But there is a data query to assemble a partial list http://data.stackexchange.com/apple/queries?q=twitter and since Apple is making moves to have twitter be the canonical social media account for OS X as well as iOS, we might want to see if a custom data query could be embedded in our site and nicened up by the site designers.</p>
			</div>
			<div id = "comment-2050" class = "post">
				<p>Here's a [Twitter list](https://twitter.com/brianbondy/apple) to get you started.</p>
			</div>
			<div id = "comment-2052" class = "post">
				<p>Thanks @Lo cWolff! I will look through it.</p>
			</div>
			<div id = "comment-2053" class = "post">
				<p>So, I can just put "Twitter: @mytwitterhandle" in the About Me section of my profile?</p>
			</div>
			<div id = "comment-2054" class = "post">
				<p>@bneely yep, that works.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1132"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>I would welcome a more formal way to access this information than the existing <a href="http://data.stackexchange.com/apple/queries" rel="nofollow">data.stackexchange.com</a> dumps which seem to access a several weeks old dump of the user data instead of polling things that are active on the profile today or perhaps yesterday.</p>

<p>Twitter has been the de-facto social media account when it was added to iOS 5 and the public accounts of OS X 10.8 Mountain Lion indicate that twitter will also be the "default" or canonical social media account for users of Apple hardware and software.</p>

<p>Would this be worth making into a feature request so that Ask Different has a built in way to get at any and all users that have chosen to link publicly to their user profiles here?</p>

<p>The current data query only shows rows where users have the string twitter, and doesn't actually extract the user names or allow a list to be directly constructed without further scraping or data manipulation when querying the database. </p>

<p>Perhaps we should wait for your one-time list and see how useful people find this before asking for code changes to the entire site for one sub-group's desire to have more twitter with our stack exchange.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2051" class = "post">
				<p>I think starting with this list is a good idea. I intend to update it, so it won't just be a one-time thing. Thanks for the input!</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>