<html>
	<head>
		<title id = 'pagetitle'>Associating questions "migrated" from the now closed gadgets statckexchange to my newly created account here?
		</title>
	<head>
	<body id = 'pagebody'><p>Just read the email that "the Gadgets Stack Exchange has been closed due to lack of traffic" and "Some of the questions which are appropriate to other Stack Exchange sites have already been migrated to these sites", including this one.</p>

<p>I didn't have an account on this site, so questions I wrote (e.g. <a href="https://apple.stackexchange.com/questions/2149/after-market-car-stereos-with-ios-4-ipod-out-support">After market car stereos with iOS 4/iPod Out support?</a>) aren't linked to my account, as well as up votes I received on that site didn't transfer.</p>

<p>Not sure of this is a bug, feature request or intended design, so I figured I would post a question here.</p>


<h1>ANSWERS</h1>
		<p>This is a known issue and we are working on a fix.  If you had an account on the destination site at the time of migration all posts should have automatically associated to your new account.  </p>


	</body>
</html>