<html>
	<head>
		<title id = 'pagetitle'>Automatically capitalizing: 'ithing' and 'Ithing' to 'iThing'
		</title>
	<head>
	<body id = 'pagebody'><p>When I'm editing a post, one of the most common things that I end up doing* is fixing the capitalization of the names Apple's products, like in this question's title.</p>

<p><strong>How would people feel about automatically changing all instances of 'iname' or 'Iname' to 'iName'?
<br>I don't imagine that SE has this functionality built in, so consider this a feature request.</strong></p>

<p>*I don't feel compelled to edit posts <em>just</em> to fix product name capitalization, but I do it if I'm in the neighborhood/</p>


<h1>ANSWERS</h1>
		<p>I think in the short term, a userscript would be wonderful for this.</p>

<p>And in the long term, it's a great customization for the site, perhaps even the network as a whole. And it's really just a fixed set of strings.</p>

<p>iMac, iPhone, iPod, iPad, MacMini, MacPro, Mac OSX, and ummm, a few more :). The latter half of those are less "Special" than the iSeries are.</p>


<h3>Mac:</h3>

<ul>
<li>iMac</li>
<li>Mac mini</li>
<li>Mac Pro</li>
<li>MacBook</li>
<li>MacBook Pro</li>
<li>MacBook Air</li>
</ul>

<h3>iPod, iPhone, and iPad</h3>

<ul>
<li>iPhone</li>
<li>iPhone 3G</li>
<li>iPhone 3GS</li>
<li>iPhone 4</li>
<li>iPod</li>
<li>iPod shuffle</li>
<li>iPod nano</li>
<li>iPod classic</li>
<li>iPod touch</li>
<li>iPad</li>
<li>iPad 2</li>
</ul>

<h3>Misc</h3>

<ul>
<li>AirPort Express</li>
<li>AirPort Extreme</li>
<li>Apple TV</li>
</ul>

<h3>Software:</h3>

<ul>
<li>Mac OS X <em>or</em> OS X</li>
<li>iLife<br /></li>
<li>iMovie<br /></li>
<li>iPhoto<br /></li>
<li>iTunes<br /></li>
<li>iChat<br /></li>
<li>iDVD<br /></li>
<li>FaceTime<br /></li>
<li>GarageBand<br /></li>
<li>iCal<br /></li>
<li>QuickTime<br /></li>
<li>TextEdit<br /></li>
<li>Xcode<br /></li>
</ul>


	</body>
</html>