<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>automatic SE profile transfer for Autobiographer badge
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>automatic SE profile transfer for Autobiographer badge</h2>
<p>I have noticed that when I sign up for most sites in the SE network, I automatically get the Autobiographer badge after a few minutes of interacting with the new SE site.   When I do, I look at my profile page and, indeed, my bio from Stackoverflow is populated there.</p>

<p>Ask Different appears not to do this.   Is there something I can do manually to associate my user with my SE profile bio   preferably something that does not involve a copy/paste of my bio?  </p>

<p>Is there some bug in the Ask Different implementation that I am encountering, or was this a deliberate choice that was made when Ask Different was created?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Your highest rep profile is copied to any new sites you join at the time you create an account.</p>

<p>On the accounts tab on your profile, you can click</p>

<blockquote>
  <p>Copy {site} Profile To Related Accounts</p>
</blockquote>

<p>To copy a profile across the network.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>