<html>
	<head>
		<title id = 'pagetitle'>automatic SE profile transfer for Autobiographer badge
		</title>
	<head>
	<body id = 'pagebody'><p>I have noticed that when I sign up for most sites in the SE network, I automatically get the Autobiographer badge after a few minutes of interacting with the new SE site.   When I do, I look at my profile page and, indeed, my bio from Stackoverflow is populated there.</p>

<p>Ask Different appears not to do this.   Is there something I can do manually to associate my user with my SE profile bio   preferably something that does not involve a copy/paste of my bio?  </p>

<p>Is there some bug in the Ask Different implementation that I am encountering, or was this a deliberate choice that was made when Ask Different was created?</p>


<h1>ANSWERS</h1>
		<p>Your highest rep profile is copied to any new sites you join at the time you create an account.</p>

<p>On the accounts tab on your profile, you can click</p>

<blockquote>
  <p>Copy {site} Profile To Related Accounts</p>
</blockquote>

<p>To copy a profile across the network.</p>


	</body>
</html>