<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Badge achievement completion percent indicator
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Badge achievement completion percent indicator</h2>
<p>There are some badges which requires a certain number of "Actions". For example</p>

<blockquote>
  <p>Commentator: Left 10 comments</p>
</blockquote>

<p>or</p>

<blockquote>
  <p>Announcer: shared a link to a question that was visited by 25 unique IP addresses </p>
</blockquote>

<p>Is there a way for check how far a person is from obtaining the badge?
Maybe it's easy to count the comments. It is also possible to control how many review I have completed. But I wouldn't be able of checking how many unique IP have visited a question I shared.</p>

<p>If this feature is not present, wouldn't it be useful?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I don't think that there is a progress marking for the easier to achieve badges. You can see things on the review tab where the longer to achieve tasks do get progress bars.</p>

<p><img src="https://i.stack.imgur.com/ZB7Dv.png" alt="review task progress bars"></p>

<p>So in general, the developers of the site are aware that showing progress is good, however it's hard to know which items they may add features to. By asking here or the <a href="https://meta.stackoverflow.com/">main meta</a> and making a case for a specific progress bar, you might move the people paying the salaries of the developers to add that item to their work queue.</p>

<p>I personally don't see a burning need to address something as small as the announcer badge. If you work on asking a good question, the views will come. Also the sharing tools for social media will help if you have a question that's close to getting the views needed for that badge.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>