<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Best practice for adding new answer to old, poorly-answered question
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2695" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::39</h3>
				<h2>Best practice for adding new answer to old, poorly-answered question</h2>
<p>Is what I did <a href="https://apple.stackexchange.com/q/60084/128719">here</a> appropriate? The question is somewhat old, but I came across it in Google results, and the accepted answer was just as wrong then as it is now. Since I got somewhat derailed by this I decided to add a better-quality answer after doing some research on the topic.</p>

<p>I understand it's possible to edit other user's answers, and as I mentioned in mine there was another that got the kernel of the answer right but provided no explanation, and in any case that answer was not marked as correct. It seems a bit odd for me to provide my answer in the form of an edit to this one-line response when nearly all the content would be new research, am I off base in that?</p>

<p>My intention here is just to have correct info out there for future googlers. Would it be better to create a new question? The system in question has not changed in several years so the answer would be no different then or now.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2696"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This looks like exactly the correct thing to do. (In this case I don't have a printer and I don't know what is correct)</p>

<p>You definitely should not edit an answer you think is wrong as that changes the original intent (and it might be in other cases you have misunderstood) so adding a new answer and possibly down voting the other is correct.</p>

<p>If there is an answer that you think is correct you can edit it to improve it. However in this case you have much more information and the other is just a short piece then adding a new answer is best practise. Also you did a very good thing in acknowledging the first correct answer and explaining why you were adding as a new answer.</p>

<p>If this is the information you can give in an answer I look forward to seeing more of your answers.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5994" class = "post">
				<p>Thanks Mark. Is there some way to request that the accepted answer be reviewed on a question like this where it is erroneous? I imagine the original poster is no longer monitoring the question since it's so old.</p>
			</div>
			<div id = "comment-5995" class = "post">
				<p>All you can do is add a comment to the answer directing it at the questioner e.g. @questioners_name</p>
			</div>
			<div id = "comment-5997" class = "post">
				<p>The question's author is notified in their inbox when a new answer is posted, which would email them if they do not read their inbox (T&Cs apply). Thus commenting provides no additional gain it's more useful if you edit an existing answer to improve it and wish to notify the question author.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>