<html>
	<head>
		<title id = 'pagetitle'>Better Syntax Highlighting for AppleScript
		</title>
	<head>
	<body id = 'pagebody'><p>I was thinking how it would be nice if syntax highlighting for AppleScript used in code blocks was a little more appropriate. AppleScript is the primary language posted on this site, and so, by default, it would make sense to have its highlighting a little more tailored to the language. Probably taking cues from Script Editor would make sense.</p>


<h1>ANSWERS</h1>
			</body>
</html>