<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Better Syntax Highlighting for AppleScript
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Better Syntax Highlighting for AppleScript</h2>
<p>I was thinking how it would be nice if syntax highlighting for AppleScript used in code blocks was a little more appropriate. AppleScript is the primary language posted on this site, and so, by default, it would make sense to have its highlighting a little more tailored to the language. Probably taking cues from Script Editor would make sense.</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>