<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Better titles for questions?  Some tips on grammatical editing to make the site look better.
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-584" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::110</h3>
				<h2>Better titles for questions?  Some tips on grammatical editing to make the site look better.</h2>
<p>As an experiment, I went through a couple of dozen popular questions and attempted to edit the titles without changing their meaning too much.</p>

<p>The goal was:</p>

<ul>
<li>Convert titles to a complete question, not just a fragment of one</li>
<li>Make sure that all titles consisted of 100% grammatical U.S. English</li>
<li>Capture the essence of the question in the title</li>
<li>Never change the original asker's intention</li>
<li>Try not to change the original asker's choice of terminology, so that other people who have the same problem and use the same terminology can still find the question</li>
</ul>

<p>My hope is that having more grammatical questions on the home page just makes the site look better and thus attracts more people.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-584">Load Comments</button></br>
			<div id = "commentsection-584" class = 'collapse'>
			<div id = "comment-1041" class = "comment">
				<p>Nice idea, thanks. I'll try to do this as new questions come in.</p>
			</div>
			</div>
				<textarea id = "speech-584" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-584">
					<img id="start_img-584" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-586"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Are there any guidelines on preferred person to use when changing titles?</p>

<p>I have on occasion hesitated to add in the part that most OP leave out which is "How do I" or "how do you" or "how does one/do we" to take the usually terse subject phrase and turn it with minimal edititng into a full English sentence.</p>

<p>The best questions already have formed a great opening as they generally are "how exactly does x work" or "what step is needed between x and y"</p>

<p>Have other sites (or this one specifically) come up with a preferred wording for the sake of uniformity? Is uniformity even good - would it be better to have many voices?</p>

<p>Often the OP selects a person the body of the question so it is easy to maintain that voice. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-586">Load Comments</button></br>
			<div id = "commentsection-586" class = 'collapse'>
			<div id = "comment-1045" class = "comment">
				<p>That's a great question! As I was editing the questions, I noticed that an awful lot of questions ended up being of the form "How do I..." I think that's fine, even if it's a little bit redundant. The home page just looks better with real, full English sentences.</p>
			</div>
			<div id = "comment-1046" class = "comment">
				<p>Also, for the purpose of helping people find things in a search engine, the full sentence might help. So for example if someone wants to know how to burn a DVD of the OS X Lion install, they are more likely to click on a link entitled "How do I burn a DVD from the OS X Lion Install?" than a link that says "Burn DVD of OS X Lion"...</p>
			</div>
			<div id = "comment-1047" class = "comment">
				<p>I don't *think* we need to enforce a guideline as you whether we should write "How do I..." "How does one..." or "How would you..." Whichever makes sense for the situation is fine.</p>
			</div>
			<div id = "comment-1048" class = "comment">
				<p>The more I think about this - it feels to me like "How do I" should be the default wording for those terse questions. Friendly, direct, and approachable. Unless the OP has picked another voice or the question is more complicated - it will cater to the large mac user base that isn't in any way technical. The techy questions are easy - editing there usually is needed to shorten things :-)</p>
			</div>
			</div>
				<textarea id = "speech-586" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-586">
					<img id="start_img-586" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>