<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Better titles for questions?  Some tips on grammatical editing to make the site look better.
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Better titles for questions?  Some tips on grammatical editing to make the site look better.</h2>
<p>As an experiment, I went through a couple of dozen popular questions and attempted to edit the titles without changing their meaning too much.</p>

<p>The goal was:</p>

<ul>
<li>Convert titles to a complete question, not just a fragment of one</li>
<li>Make sure that all titles consisted of 100% grammatical U.S. English</li>
<li>Capture the essence of the question in the title</li>
<li>Never change the original asker's intention</li>
<li>Try not to change the original asker's choice of terminology, so that other people who have the same problem and use the same terminology can still find the question</li>
</ul>

<p>My hope is that having more grammatical questions on the home page just makes the site look better and thus attracts more people.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Are there any guidelines on preferred person to use when changing titles?</p>

<p>I have on occasion hesitated to add in the part that most OP leave out which is "How do I" or "how do you" or "how does one/do we" to take the usually terse subject phrase and turn it with minimal edititng into a full English sentence.</p>

<p>The best questions already have formed a great opening as they generally are "how exactly does x work" or "what step is needed between x and y"</p>

<p>Have other sites (or this one specifically) come up with a preferred wording for the sake of uniformity? Is uniformity even good - would it be better to have many voices?</p>

<p>Often the OP selects a person the body of the question so it is easy to maintain that voice. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>