<html>
	<head>
		<title id = 'pagetitle'>Bounty etiquette - I'm eager to offer some, but don't want to offend anyone.
		</title>
	<head>
	<body id = 'pagebody'><p>One question I have on etiquette is whether it's proper or possible to offer bounty after a question has been answered to my satisfaction.</p>

<p>Specifically, I asked this question - <a href="https://apple.stackexchange.com/q/18538/5472">Is there a way to have Snow Leopard match the scrolling behavior of Lion?</a> and got the perfect answer from a new user within 10 minutes of asking the question.</p>

<p>I would love to be able to offer an instant bounty to the answerer. Is there a proper way to gift that person +50 (or whatever would be appropriate) to recognize his swift and excellent answer?</p>

<p>I'm guessing the down side of this might be a shortening of the learning period where initial privileges are earned from many small votes.</p>

<p>Perhaps it's better to check to see what other good things the user may have done here and vote appropriately?</p>


<h1>ANSWERS</h1>
		<p>It's your reputation, so feel free to dish it out as you want. The waiting period for bounties is designed so that high-rep users can't immediately attach bounties to every question they post, giving them an unfair advantage in getting their questions answered. If you want to reward someone for a great answer it's OK to use the bounty system to do so, though you will still be bound by that waiting period. As long as you don't start promising a bounty bonus with every question you post it's fine.</p>


	</body>
</html>