<html>
	<head>
		<title id = 'pagetitle'>Bounty reward amounts
		</title>
	<head>
	<body id = 'pagebody'><p>I was about to offer a bounty on a question and noticed that the 50 point bounty is not available anymore. </p>

<p>I think before I was offered the option between 50, 100, and 150. Now it is 100 - 500 in various increments.</p>

<p>Is this because I have a bounty out already, or was there a site wide change?</p>


<h1>ANSWERS</h1>
		<p>Two factors will increase the minumum bounty. </p>

<ul>
<li>If you answered the question, you start at 100 for a bounty. </li>
<li>If you offer multiple bounties on one post, it increases exact iteration. </li>
</ul>


	</body>
</html>