<html>
	<head>
		<title id = 'pagetitle'>Bounty count error
		</title>
	<head>
	<body id = 'pagebody'><p>How does the maths are done ? See the error bellow :</p>

<p>3 active bounties for 250 rep, counter on the right is a 4 bounties and 350 rep...</p>

<p><img src="https://i.stack.imgur.com/X0W8J.png" alt="bounty count image"></p>


<h1>ANSWERS</h1>
		<p>Caching delay.</p>

<p><img src="https://i.stack.imgur.com/Qm7rQ.png" alt="enter image description here"></p>

<p>It's resolved now.</p>


	</body>
</html>