<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Bounty count error
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1963" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::27</h3>
				<h2>Bounty count error</h2>
<p>How does the maths are done ? See the error bellow :</p>

<p>3 active bounties for 250 rep, counter on the right is a 4 bounties and 350 rep...</p>

<p><img src="https://i.stack.imgur.com/X0W8J.png" alt="bounty count image"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3765" class = "comment">
				<p>Not just you so I suspect more than the usual reason of caching - or maybe this time more complex caching</p>
			</div>
			<div id = "comment-3766" class = "comment">
				<p>If I were coding it (and I didn't), I'd probably only poll every 15 minutes or so or perhaps every 1000 views and/or 15 minutes. It sure looks like a caching issue to me.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1964"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Caching delay.</p>

<p><img src="https://i.stack.imgur.com/Qm7rQ.png" alt="enter image description here"></p>

<p>It's resolved now.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3767" class = "comment">
				<p>Solved, ok. But this will occurs again in the future, isn't it ?</p>
			</div>
			<div id = "comment-3768" class = "comment">
				<p>@Samoth Every time a bounty starts or expires - there is a window where this will be wrong. If you're looking for a project, you could re-implement the code ;-) See [Community Promotion Ads](http://meta.apple.stackexchange.com/questions/1882/community-promotion-ads-2014) _(Also note I said "resolved" and not "solved". She who solves the caching problem would be a queen amongst programmers.)_.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>