<html>
	<head>
		<title id = 'pagetitle'>Bounty answers with 0 votes
		</title>
	<head>
	<body id = 'pagebody'><p>What happen if a bounty receives only one answer and nobody upvote or accept it?</p>

<p>I didn't find an answer in the <a href="https://apple.stackexchange.com/faq#bounty">F.A.Q.</a>.</p>


<h1>ANSWERS</h1>
		<p>The person offering the bounty can award it to any answer - including one that meets your description above. It's an answer, it could be awarded bounty by the person that initiated the bounty (as long as it wasn't their answer too, I presume).</p>

<p>If that fails to happen, the system will not award half the bounty since no answer has two votes (and even if one did have two votes, it would have to arrive after the bounty started for the system to award the points.)</p>

<p>Is there a question you are specifically interested in, or more the mechanics? The bounty is fulfilled since the system promotes the question. The awarding is just a side effect / bonus for the granter and the community if they choose to vote up an answer and the granter doesn't choose to award the bounty.</p>


	</body>
</html>