<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Bounty without having enough reputation to spend
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2085" class = "post">
			<h2>Question</h2>
			<h3>Score ::-2</h3>
			<h3>Views ::27</h3>
				<h2>Bounty without having enough reputation to spend</h2>
<p>How can a <a href="https://apple.stackexchange.com/users/17456/null">user with 26 reputation</a> call a 100 reputation Bounty on a question as seen <a href="https://apple.stackexchange.com/questions/106670/disable-mouse-interference-in-cmd-tab-overlay">here</a>?</p>

<p>As far I know 100 reputation would be deducted from my account if I do that?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2086"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>26 is what is left after the bounty.  A bounty is removed from your rep the moment you offer it, not when you award it to an answer.  You lose that rep <em>even if you don't then offer it to anyone</em>.</p>

<p>Essentially the user gets 1 rep when joining, received an association bonus of 100 for having sufficient rep on another SE site, earned 25 points on AD to total 126, then gave 100 away for the bounty.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4021" class = "comment">
				<p>ok, thanks for the math...I always hated it and now I know why :)</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>