<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Broadening the scope of a question
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2679" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::78</h3>
				<h2>Broadening the scope of a question</h2>
<p>I've encountered a weird situation where a user wants to edit a question to (essentially) suit his answer.</p>

<p>The original question is here:</p>

<p><a href="https://apple.stackexchange.com/questions/94282/how-to-block-internet-traffic-of-an-application-not-using-little-snitch/193179">Which free alternatives to Little Snitch can I use to block internet traffic per applications?</a></p>

<p>The original question was merely titled "<strong>How to block internet traffic of an application</strong>", but the body of the question stated: <em>"Little Snitch can block internet traffic of a particular app. Can I do something similar without (paying) Little Snitch?"</em></p>

<p>So, in short, it was asking for a free alternative to the well known Little Snitch app.</p>

<p>The answer in question is here: <a href="https://apple.stackexchange.com/a/193179/22563">https://apple.stackexchange.com/a/193179/22563</a></p>

<p>The answer simply recommends using Little Snitch, ignoring the asker's awareness of it, and request for an alternative.</p>

<p>I downvoted the answer and let the answerer know why. </p>

<p>He's now suggesting the question be changed so that it "removes any references to a particular software" so that a reader "can then simply ignore the answer that already mentions the option that [they] do not care about".</p>

<p>I can see validity in this, however I wonder if it's changing the original question too much? Is it like changing a question like "What is a free alternative to Photoshop" to "Give me a list of photo manipulation software (paid or unpaid)?"</p>

<p>How much should we change original questions?</p>

<p>Edit: It's worth noting that a knock-on effect of changing the question in the way suggested would mean that the following question would no longer be a duplicate: <a href="https://apple.stackexchange.com/questions/128835/free-firewall-and-network-monitor-application-like-the-littlesnitch?lq=1">Free firewall and network monitor Application like the LittleSnitch?</a></p>

			</div><h3>Comments</h3>
			<div id = "comment-5955" class = "comment">
				<p>Here's another example of a really bad edit running off course.  http://apple.stackexchange.com/questions/213440/remotely-distribute-an-ios-app-compiled-in-xcode-7-without-app-store-developer</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2680"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>In this specific case, <strong>the question was actually not broadened by the edit of the title</strong>. If you look at the edit history of the question, the requirement for a non-Little Snitch solution was part of the initial question already, the edit merely put it into the title. The wording is a bit unfortunate now, I would probably have used something like "Which free alternatives to Little Snitch can I use to block internet traffic per applications" (actually, I've just edited the question accordingly).</p>

<p>Generally speaking, any edits should keep the original intention of the poster in mind. For edits which get placed in the edit queue, we even have a rejection reason if an edit conflicts with the intention of the OP. </p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5953" class = "comment">
				<p>That initial (and unfortunate) edit was done because the answerer believed that he only needed to answer the *title* of a question, and so it should be placed there. (Not something I agreed with myself.)</p>
			</div>
			<div id = "comment-5954" class = "comment">
				<p>Also if the question did not mention Little Snitch then the question would have to be edited to explain what functionality was required i.e. removing Little Snitch from the question makes it closable for "unclear what you're asking"</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-2681"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>In addition to what patrix mentioned - I like to keep in mind the purpose of a post:</p>

<ul>
<li>the site exists to draw the best answers, therefore questions exist to serve the answers </li>
</ul>

<p>So, add in some other facts:</p>

<ul>
<li>This question has many answers that are good</li>
<li>This question is 3 years old now</li>
</ul>

<p>At that point in a question's life cycle, I'm heavily of the mind that locking the question and having it serve the community is the best choice in most of the cases. That allows a meta discussion to see if everyone can come to an agreement on the best way to handle this specific situation.</p>

<p>If someone, even the OP wants to change things so that answers need to be changed, it's probably best to ask a new question at that point. </p>

<p>The canonical question process is also something to think about where sometimes a post is locked and used to cover all the bases.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/2418/where-is-the-list-of-canonical-questions-stored-for-ask-different">Where is the list of canonical questions stored for Ask Different?</a></li>
</ul>

<p>In that case, the follow on effect you mention is worth considering, so looking at the role of the posts sometimes helps to make editing decisions and/or reply when one person has a vision for the question that others (answerers, reviewers, moderators) see a different vision of the scope or the wording.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5952" class = "comment">
				<p>Locking it was the first thought that came to my mind as well.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>