<html>
	<head>
		<title id = 'pagetitle'>Broken link on Privileges page
		</title>
	<head>
	<body id = 'pagebody'><p>The link to the 'approve edit suggestions' page on <a href="https://apple.stackexchange.com/privileges">the privileges page</a> is broken</p>


<h1>ANSWERS</h1>
		<p>Removed the link for now, we will add it back in when the feature is made public. </p>


	</body>
</html>