<html>
	<head>
		<title id = 'pagetitle'>Bug with <kbd> tags
		</title>
	<head>
	<body id = 'pagebody'><p>The <code>&lt;kbd&gt;</code> tags overlap if you don't put an extra line between them.  See below:  </p>

<p><kbd>command</kbd>+<kbd>c</kbd><br>
<kbd>command</kbd>+<kbd>c</kbd></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>