<html>
	<head>
		<title id = 'pagetitle'>Bug does not count upvotes
		</title>
	<head>
	<body id = 'pagebody'><p>I noticed that all upvotes (in total four) between 10:28pm and 11:48pm where not counted for my account.</p>

<ul>
<li>one question: all upvotes are ignored</li>
<li>second question: one upvote is ignored</li>
</ul>

<p><img src="https://i.stack.imgur.com/0n32h.jpg" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>You have hit the daily reputation cap on that day. From the <a href="https://apple.stackexchange.com/faq#reputation">FAQ</a>:</p>

<blockquote>
  <p>You can earn a maximum of <strong>200</strong> reputation per day. Please note that votes for posts marked  community wiki  do not generate any reputation, while accepted answers and bounty awards are not subject to the daily reputation limit.</p>
</blockquote>


	</body>
</html>