<html>
	<head>
		<title id = 'pagetitle'>Bug in <img> tag for specifying height to reduce retina images
		</title>
	<head>
	<body id = 'pagebody'><p>We have a lot of images that due to retina display densities, appear huge when uploaded using the stock controls.</p>

<p><img src="https://i.stack.imgur.com/gU2OO.png" alt="large, retina image"></p>

<p>When I go in and add a height control before the src, the html isn't rendered on the site:</p>

<p></p>

<p><img src="https://i.stack.imgur.com/gU2OO.png" height="40" ></p>

<pre><code>&lt;img height="40" src="http://i.stack.imgur.com/gU2OO.png" &gt;

&lt;img src="http://i.stack.imgur.com/gU2OO.png" height="40" &gt;
</code></pre>

<p>When you add the height tag after the src, it renders properly. Could the code be fixed so that valid img syntax works without needing to order the modifiers after the src attribute of the ing element doesn't have to come first in the post text?</p>


<h1>ANSWERS</h1>
		<p>I'd rather this were corrected in the uploading process as requested on MSO, but fixing this might be easier and let us pop the height in after the img tag rather than having to scroll past the image src to find the the insertion point for modifying the width or height of an inline image.</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/161111/checkbox-to-include-img-html-or-automatically-resize-a-retina-display-screens">Automatically resize high-resolution screenshots</a></li>
</ul>


	</body>
</html>