<html>
	<head>
		<title id = 'pagetitle'>Bullied by another user
		</title>
	<head>
	<body id = 'pagebody'><p>What is the recommended practice to avoid or eliminate been bullied by another user that seems to have a OCD problem.</p>

<p>Clearly that user is targeting me, and even commenting to my comments with negative replies.</p>

<p>In order to preserve privacy, I will not publish numerous instance and examples of been bullied.</p>

<p>What are my choices other than Flagging it constantly.</p>

<p>Is there a corrective action moderators can do to stop this?</p>


<h1>ANSWERS</h1>
		<p>We take flags quite seriously but given the distributed nature of the mod team it may take some days to detect bigger flagging patterns if different mods handle flags during the day. So for the moment just keep flagging what bothers you.</p>

<p>OTOH we are looking into some issues with one user targeting a specific other user with down votes. As you are posting anonymously it's not clear whether you are referring to this situation but if you are, please flag either the question above or my answer and leave a comment giving us some more details.</p>


<p>Bullying is not tolerated. However, please don't confuse a strong opinion against an idea or a post with a negative comment about you personally.</p>

<p>Assuming there is something where a user isn't following the site guidelines, flagging is the quickest way to get it looked at. Could you edit your post to at list the date/time of flags you raised and what count of flags you believe to be a part of this bullying. I'm sure all the moderators here are willing and interested to ensure no bad behavior is swept under any rug so to speak.</p>

<p>Help us help you by being clear in your flag - choose other and explain in a little detail what the problem is. Cheers and thanks for your assistance.</p>


	</body>
</html>