<html>
	<head>
		<title id = 'pagetitle'>Burninate the "store" tag?
		</title>
	<head>
	<body id = 'pagebody'><ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/store" class="post-tag" title="show questions tagged &#39;store&#39;" rel="tag">store</a>   21 tagged, 5 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

<p>This extremely broad tag seems to be on a variety of questions where existing, more specific tags serve a much better, specific purpose.</p>

<p>The store tag seems to have been used to mean both the <a href="https://apple.stackexchange.com/questions/tagged/ios-appstore" class="post-tag" title="show questions tagged &#39;ios-appstore&#39;" rel="tag">ios-appstore</a> and the <a href="https://apple.stackexchange.com/questions/tagged/mac-appstore" class="post-tag" title="show questions tagged &#39;mac-appstore&#39;" rel="tag">mac-appstore</a>, as well as the <a href="https://apple.stackexchange.com/questions/tagged/itunes-store" class="post-tag" title="show questions tagged &#39;itunes-store&#39;" rel="tag">itunes-store</a> and <a href="https://apple.stackexchange.com/questions/tagged/ibookstore" class="post-tag" title="show questions tagged &#39;ibookstore&#39;" rel="tag">ibookstore</a>, and not forgetting the physical <a href="https://apple.stackexchange.com/questions/tagged/apple-store" class="post-tag" title="show questions tagged &#39;apple-store&#39;" rel="tag">apple-store</a>.</p>

<p>Should it be burninated?</p>


<h1>ANSWERS</h1>
		<p>Yes. Burn it. Burn it with fire.</p>


<p>Please vote for the synonym I created if you feel this will help prevent a generic store tag from resurfacing after this clean up effort.</p>

<p><a href="https://apple.stackexchange.com/tags/apple-store/synonyms">https://apple.stackexchange.com/tags/apple-store/synonyms</a></p>


	</body>
</html>