<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Burninate [hackintosh]?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Burninate [hackintosh]?</h2>
<p>The <a href="https://apple.stackexchange.com/questions/tagged/hackintosh" class="post-tag" title="show questions tagged &#39;hackintosh&#39;" rel="tag">hackintosh</a> tag refers to using Apple operating systems on non-Apple hardware.  Since this is explicitly off-topic on Ask Different, I would like to propose that <a href="https://apple.stackexchange.com/questions/tagged/hackintosh" class="post-tag" title="show questions tagged &#39;hackintosh&#39;" rel="tag">hackintosh</a> be burninated.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p><a href="https://apple.stackexchange.com/questions/tagged/hackintosh" class="post-tag" title="show questions tagged &#39;hackintosh&#39;" rel="tag">hackintosh</a> is gone, <a href="/questions/tagged/status-completed" class="post-tag moderator-tag" title="show questions tagged &#39;status-completed&#39;" rel="tag">status-completed</a>!</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'm usually the one arguing for tags to go away, but in this case, I'd rather see the hackintosh tag stay.</p>

<ul>
<li><p>if all posts on the topic are indeed off-topic, the tag will only appear on off-topic posts. If such posts persist in the site, seeng they all have a common theme can help people know what is and is not off-topic</p></li>
<li><p>if off-topic posts are naturally deleted over time, the tag will die on its own when no surviving posts remain</p></li>
<li><p>our definition of on- and off-topic can change over time, and if posts are tagged as hackintosh, if the site later decides it wants to answer these, the tag marks them as a candidate for potential reopening.</p></li>
</ul>

<p>Manually removing the tag from posts on which it belongs strikes me as a bad idea.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I think this is a big enough topic and different enough to include things that may be considered off-topic in AskDifferent, that it warrants it's own StackExchange.</p>

<p>And so, I present my proposal  <a href="http://area51.stackexchange.com/proposals/98549/hackintosh">Hackintosh Exchange</a> (name pending)</p>

<p>Please come, vote, and contribute to the discussion.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>