<html>
	<head>
		<title id = 'pagetitle'>Burninate the "pc" tag?
		</title>
	<head>
	<body id = 'pagebody'><ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/pc" class="post-tag" title="show questions tagged &#39;pc&#39;" rel="tag">pc</a>   37 tagged, 15 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

<p>As far as I see, it serves no purpose and seems to be randomly tagged on <a href="https://apple.stackexchange.com/questions/tagged/pc">a wide variety of questions</a> that already seem suitably tagged without the need for the "pc" tag.</p>

<p>Should it be burninated?</p>


<h1>ANSWERS</h1>
		<p>I'm all in favor of killing it (and adding a requirement that new tags can only be created by people with >15k rep), but my main concern about killing off tags is the bump to the top of the queue of all the edited posts. I'm utterly convinced that we're better off without that tag, though.</p>


	</body>
</html>