<html>
	<head>
		<title id = 'pagetitle'>Burniate mobile-calendar.app tag
		</title>
	<head>
	<body id = 'pagebody'><p>I accidentally created this tag instead of <a href="https://apple.stackexchange.com/questions/tagged/mobile-calendar" class="post-tag" title="show questions tagged &#39;mobile-calendar&#39;" rel="tag">mobile-calendar</a> to be inline with other tags like <a href="https://apple.stackexchange.com/questions/tagged/mobile-safari" class="post-tag" title="show questions tagged &#39;mobile-safari&#39;" rel="tag">mobile-safari</a>. </p>


<h1>ANSWERS</h1>
		<p>Done - As long as no one uses it before the next tag culling interval (0000 UTC I believe) we should be set.</p>


<p>You don't need to involve a moderator to delete a tag like this. If you accidently create a tag, simply remove the tag from the questions that it is used on (likely one if you created it) and at 3:00 UTC it will be deleted automatically.</p>


	</body>
</html>