<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Burninate the "store" tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2163" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::48</h3>
				<h2>Burninate the "store" tag?</h2>
<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/store" class="post-tag" title="show questions tagged &#39;store&#39;" rel="tag">store</a>   21 tagged, 5 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

<p>This extremely broad tag seems to be on a variety of questions where existing, more specific tags serve a much better, specific purpose.</p>

<p>The store tag seems to have been used to mean both the <a href="https://apple.stackexchange.com/questions/tagged/ios-appstore" class="post-tag" title="show questions tagged &#39;ios-appstore&#39;" rel="tag">ios-appstore</a> and the <a href="https://apple.stackexchange.com/questions/tagged/mac-appstore" class="post-tag" title="show questions tagged &#39;mac-appstore&#39;" rel="tag">mac-appstore</a>, as well as the <a href="https://apple.stackexchange.com/questions/tagged/itunes-store" class="post-tag" title="show questions tagged &#39;itunes-store&#39;" rel="tag">itunes-store</a> and <a href="https://apple.stackexchange.com/questions/tagged/ibookstore" class="post-tag" title="show questions tagged &#39;ibookstore&#39;" rel="tag">ibookstore</a>, and not forgetting the physical <a href="https://apple.stackexchange.com/questions/tagged/apple-store" class="post-tag" title="show questions tagged &#39;apple-store&#39;" rel="tag">apple-store</a>.</p>

<p>Should it be burninated?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4126" class = "post">
				<p>Yes.
On the same assumptions as the [PC tag question][1]


  [1]: http://meta.apple.stackexchange.com/questions/2078/burninate-the-pc-tag</p>
			</div>
			<div id = "comment-4127" class = "post">
				<p>Wow, never seen that happen before on an answer! (automated "trivial answer converted to comment")</p>
			</div>
			<div id = "comment-4130" class = "post">
				<p>@stuffe we need that on the main site. So much mod time converting to comments...so much...</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2164"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Yes. Burn it. Burn it with fire.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4131" class = "post">
				<p>Will do! At least there's not many questions tagged with it. I'll still spread it out though to not flood the front page.</p>
			</div>
			<div id = "comment-4136" class = "post">
				<p>@GeorgeGarside why bother it should get deleted and then I doubt anyone would enter it as when you type store as a tag it will list the actual store tags</p>
			</div>
			<div id = "comment-4138" class = "post">
				<p>Any objections to my synonym proposal? It needs votes up or down either way...</p>
			</div>
			<br><div id = "ans-2169"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Please vote for the synonym I created if you feel this will help prevent a generic store tag from resurfacing after this clean up effort.</p>

<p><a href="https://apple.stackexchange.com/tags/apple-store/synonyms">https://apple.stackexchange.com/tags/apple-store/synonyms</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4139" class = "post">
				<p>I don't have the score for a +1 on the synonym :(</p>
			</div>
			<div id = "comment-4140" class = "post">
				<p>@GeorgeGarside Oh wow - if 26k doesn't cut it, it might just be elected mods that can weigh in...</p>
			</div>
			<div id = "comment-4141" class = "post">
				<p>I need a score of 5 on the tag to vote for synonyms I think; the error message could be improved if this is the case.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>