<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Burninate the "data" tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Burninate the "data" tag?</h2>
<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/data" class="post-tag" title="show questions tagged &#39;data&#39;" rel="tag">data</a>   41 tagged, 21 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

<p>This extremely broad tag seems to be on a variety of questions where existing, more specific tags serve a much better, specific purpose.</p>

<p>In most cases, the tag seems to be referring to <a href="https://apple.stackexchange.com/questions/tagged/cellular-data" class="post-tag" title="show questions tagged &#39;cellular-data&#39;" rel="tag">cellular-data</a>, but the tag also seems be used for <a href="https://apple.stackexchange.com/questions/tagged/data-transfer" class="post-tag" title="show questions tagged &#39;data-transfer&#39;" rel="tag">data-transfer</a> or <a href="https://apple.stackexchange.com/questions/tagged/data-synchronization" class="post-tag" title="show questions tagged &#39;data-synchronization&#39;" rel="tag">data-synchronization</a>, as well as <a href="https://apple.stackexchange.com/questions/tagged/data-recovery" class="post-tag" title="show questions tagged &#39;data-recovery&#39;" rel="tag">data-recovery</a> and the (more general but still more specific) <a href="https://apple.stackexchange.com/questions/tagged/metadata" class="post-tag" title="show questions tagged &#39;metadata&#39;" rel="tag">metadata</a>.</p>

<p>Should it be burninated?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The questions in case also have <a href="https://apple.stackexchange.com/questions/tagged/data-recovery" class="post-tag" title="show questions tagged &#39;data-recovery&#39;" rel="tag">data-recovery</a> or <a href="https://apple.stackexchange.com/questions/tagged/recovery" class="post-tag" title="show questions tagged &#39;recovery&#39;" rel="tag">recovery</a> tagged.
It's  used in these questions as <strong>reference to files</strong> aka <a href="https://apple.stackexchange.com/questions/tagged/data-transfer" class="post-tag" title="show questions tagged &#39;data-transfer&#39;" rel="tag">data-transfer</a> or <a href="https://apple.stackexchange.com/questions/tagged/data-recovery" class="post-tag" title="show questions tagged &#39;data-recovery&#39;" rel="tag">data-recovery</a>.</p>

<p>The best option would be to remove this tag as there are more detailed replacements for them already.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>