<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Burninate the "store" tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2163" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::48</h3>
				<h2>Burninate the "store" tag?</h2>
<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/store" class="post-tag" title="show questions tagged &#39;store&#39;" rel="tag">store</a>   21 tagged, 5 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

<p>This extremely broad tag seems to be on a variety of questions where existing, more specific tags serve a much better, specific purpose.</p>

<p>The store tag seems to have been used to mean both the <a href="https://apple.stackexchange.com/questions/tagged/ios-appstore" class="post-tag" title="show questions tagged &#39;ios-appstore&#39;" rel="tag">ios-appstore</a> and the <a href="https://apple.stackexchange.com/questions/tagged/mac-appstore" class="post-tag" title="show questions tagged &#39;mac-appstore&#39;" rel="tag">mac-appstore</a>, as well as the <a href="https://apple.stackexchange.com/questions/tagged/itunes-store" class="post-tag" title="show questions tagged &#39;itunes-store&#39;" rel="tag">itunes-store</a> and <a href="https://apple.stackexchange.com/questions/tagged/ibookstore" class="post-tag" title="show questions tagged &#39;ibookstore&#39;" rel="tag">ibookstore</a>, and not forgetting the physical <a href="https://apple.stackexchange.com/questions/tagged/apple-store" class="post-tag" title="show questions tagged &#39;apple-store&#39;" rel="tag">apple-store</a>.</p>

<p>Should it be burninated?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2163">Load Comments</button></br>
			<div id = "commentsection-2163" class = 'collapse'>
			<div id = "comment-4126" class = "comment">
				<p>Yes.
On the same assumptions as the [PC tag question][1]


  [1]: http://meta.apple.stackexchange.com/questions/2078/burninate-the-pc-tag</p>
			</div>
			<div id = "comment-4127" class = "comment">
				<p>Wow, never seen that happen before on an answer! (automated "trivial answer converted to comment")</p>
			</div>
			<div id = "comment-4130" class = "comment">
				<p>@stuffe we need that on the main site. So much mod time converting to comments...so much...</p>
			</div>
			</div>
				<textarea id = "speech-2163" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2163">
					<img id="start_img-2163" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2164"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Yes. Burn it. Burn it with fire.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2164">Load Comments</button></br>
			<div id = "commentsection-2164" class = 'collapse'>
			<div id = "comment-4131" class = "comment">
				<p>Will do! At least there's not many questions tagged with it. I'll still spread it out though to not flood the front page.</p>
			</div>
			<div id = "comment-4136" class = "comment">
				<p>@GeorgeGarside why bother it should get deleted and then I doubt anyone would enter it as when you type store as a tag it will list the actual store tags</p>
			</div>
			<div id = "comment-4138" class = "comment">
				<p>Any objections to my synonym proposal? It needs votes up or down either way...</p>
			</div>
			</div>
				<textarea id = "speech-2164" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2164">
					<img id="start_img-2164" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2169"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Please vote for the synonym I created if you feel this will help prevent a generic store tag from resurfacing after this clean up effort.</p>

<p><a href="https://apple.stackexchange.com/tags/apple-store/synonyms">https://apple.stackexchange.com/tags/apple-store/synonyms</a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2169">Load Comments</button></br>
			<div id = "commentsection-2169" class = 'collapse'>
			<div id = "comment-4139" class = "comment">
				<p>I don't have the score for a +1 on the synonym :(</p>
			</div>
			<div id = "comment-4140" class = "comment">
				<p>@GeorgeGarside Oh wow - if 26k doesn't cut it, it might just be elected mods that can weigh in...</p>
			</div>
			<div id = "comment-4141" class = "comment">
				<p>I need a score of 5 on the tag to vote for synonyms I think; the error message could be improved if this is the case.</p>
			</div>
			</div>
				<textarea id = "speech-2169" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2169">
					<img id="start_img-2169" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>