<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Call for contributors: Ask Different Screencasts!
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Call for contributors: Ask Different Screencasts!</h2>
<p>In the beginning, the Ask Different blog was only used to distribute podcast episodes.<br>
Then we expanded to text articles.<br>
Now we're expanding to videos.</p>

<p>As of today, the Ask Different blog has a <a href="http://vimeo.com/askdifferentblog" rel="nofollow">Vimeo account</a> where we will be posting videos. We'll be starting with screencasts, and hopefully moving to other kinds of videos (hardware reviews, unboxings, iPhone release day footage, etc).</p>

<p>The first video has just been published. You can see it <a href="http://apple.blogoverflow.com/2012/03/keyboard-ninja-working-with-text-screencast/" rel="nofollow">here</a>.</p>

<p><strong>If you're interested in contributing screencasts or have any questions, let me know!</strong> Post an answer to this question or ping me in the <a href="http://chat.stackexchange.com/rooms/1408/ask-different-blog">Blog chat room</a>.<br>
Here's how the process works.  </p>

<ol>
<li>You, community member, create an awesome screencast of your Mac or iOS device (or other video).</li>
<li>You get in touch with me so we can transfer the video file via your
preferred method.</li>
<li>I process the video, do any necessary editing, and add our fancy Ask
Different Blog intro and outro.</li>
<li>You create a blog post with a short writeup for your video.</li>
<li>When the time comes, I upload the video and publish the blog post.</li>
</ol>

<hr>

<p>If you're interested in playing around or processing your own screencasts, you can download the template iMovie <a href="http://cl.ly/0r3I210h2l3k2d1b1D22" rel="nofollow">project</a> and <a href="http://cl.ly/3u462v3W3N0O150Y0V2E" rel="nofollow">event</a>. Place the project in <code>~/Movies/iMovie Projects</code> and the event in <code>~/Movies/iMovie/iMovie Events</code>.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I'm in.  As I mentioned in Chat, if the final process is to use iMovie which we all have, then creating a dummie screencast with a snippet of video that we can replace as a form of template would be good.  Then we can do the (presumably) h.264 crunchdown for you and transfer a more sensibly sized file.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>