<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can I view all my close votes somewhere?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can I view all my close votes somewhere?</h2>
<p>I have wanted to go back to questions that I've cast a close vote on and check up on them. However, I lose track of all the questions. How can I view all my close votes?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<h1>Yes,</h1>

<p>you can. There are three different ways to do it.</p>

<h2>Method #1</h2>

<ol>
<li><p>Earn 10,000 reputation</p></li>
<li><p>Click the "review" tab.</p></li>
<li><p>Click the "close" subtab</p></li>
</ol>

<p>There you will see all the posts with recent close votes, including those you cast.</p>

<h2>Method #2</h2>

<ol>
<li><p>Win an election as moderator.</p></li>
<li><p>Click the "review" tab.</p></li>
<li><p>Click the "close" subtab</p></li>
</ol>

<h2>Method #3</h2>

<ol>
<li><p>When you cast a close vote, bookmark the page</p></li>
<li><p>Revisit your bookmarks later to see the status of questions you voted to close.</p></li>
</ol>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This feature <a href="https://meta.stackexchange.com/questions/40451/add-a-voted-to-close-activity-event-somewhere-on-the-user-profile-page/130382#130382">has been added</a> under the votes tab. If you go to your profile page, and click "votes", then "closure", you can see the close votes you've cast. The URL will look something like this, but it will only work for your profile:</p>

<pre><code>http://apple.stackexchange.com/users/7833/daviesgeek?tab=votes&amp;sort=closure
</code></pre>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>