<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can anyone explain why this answer is not an answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can anyone explain why this answer is not an answer?</h2>
<p>I have provided an answer to <a href="https://apple.stackexchange.com/q/68738/24974">"Why is my MacBook Pro stuck on mute?"</a>.</p>

<blockquote>
  <p>This is simple, this is Apple fault. I'm using Ubuntu now on my
  macbook pro, it never suffers from the infamous headphone jack
  problem. Removing the headphones, the internal speakers work, plug it
  in, the headphone works.</p>
  
  <p>On OS X, it just doesn't work. If I dare plugging in the headphones, I
  know that when I take it out, internal speakers will stop working,
  they will be muted, and not come back after a while. I've stopped
  plugging stuff in and out trying to make it work.</p>
  
  <p>I just installed a new OS that works.</p>
</blockquote>

<p><a href="https://apple.stackexchange.com/users/9495/stuffe">stuffe</a> moderator has just deleted the answer, and commented, "this is not an answer".</p>

<p>I really would like this undeleted. Because <a href="http://www.zdnet.com/blog/apple/continuing-issues-and-solutions-for-the-mbps-silent-speaker-problem/12865" rel="nofollow noreferrer">I've digged this problem so much</a>, and when I installed Ubuntu, it just didn't exist.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Thanks for posting this up here - we always answer and would much rather have a civil discussion here rather than a to and fro in comments.</p>

<p>Here are my thoughts:</p>

<p>Your answer as originally posted could essentially be boiled down to "<em>It's Apple's fault. The headphone socket does not work on OS X, use Ubuntu</em>".  I could have used a couple of reasons for deletion such as "Not Constructive", or I could have added a formal post notice to it.  In my haste, I didn't explain it fully (for which I take one on the chin without prejudice) but believe me I feel confident that it would have been flagged by another user if I hadn't happened to see it first so soon after you posted it.</p>

<p>I think you will agree that in the form against which I moderated it, it was not really an acceptable answer, and more of a rant, unless you were genuinely of the opinion that telling the OP that it just doesn't work by design and to use a stop using OS X on an Apple Q&amp;A site was being helpful.</p>

<p>While your edit is much less combative it's still saying more or less the same thing, and using some language that isn't necessarily required which adds a negative tone to the content; "<strong><em>If I dare</strong> plug in the headphones</em>", why not simply state "<strong><em>When</strong> I plug in...</em>"?</p>

<p>Even with further modification, I think there are still issues with the answer, namely:</p>

<ul>
<li><p>Your own contribution is still "<em>Doesn't work; Use Ubuntu</em>", and the external links are simply links with no summary or overview</p></li>
<li><p>Your summary is incorrect, it's a hardware problem, and nothing to do with the OS.  Just because Ubuntu doesn't support the extra functions and defaults to normal headphone mode doesn't mean OS X is at fault.  Even the links you provide state for example:</p>

<ul>
<li><blockquote>
  <p>"Inside the jack is a very small switch that turns on and off the optical audio output while simultaneously disabling the internal speakers. The switch can be turned on by simply using headphones."</p>
</blockquote></li>
<li><blockquote>
  <p>It seems that when removing the headphones with a yank after editing some audio, I must have accidentally flicked a switch inside the port. The MacBook Pro thought that there was still a TOSLINK connector attached even though there wasn t anything plugged into the port.</p>
</blockquote></li>
</ul></li>
</ul>

<p>This sort of thing is common in a variety of devices that use headphone sockets.  Here is pretty much the same issue on someone's iPhone (Not directly caused by a <em>toslink</em> switch, but caused by a gummed up socket that has the same end result - the socket thinks something is using it): <a href="https://apple.stackexchange.com/questions/81879/apple-headphone-remote-doesnt-always-work/81889#81889">Apple headphone remote doesn&#39;t always work</a> (I would suggest trying the accepted answer and seeing if it helps if you still have an OS X install on the machine).</p>

<p>I hope this helps explain why I removed it.  I notice that it's been undeleted, and has since received an up vote; I won't perform any other moderation on it, as though while I feel it's borderline useful it's not actively poor any more, so it's now down to the community to accept or flag as appropriate.</p>

<p>Thanks for your time, and feel free to pop into chat or engage further in Meta.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>No. Nobody can explain this to you because you're already convinced that you've provided a quality answer and are unpersuaded by arguments to the contrary. </p>

<p>Open debate is good for the community and I'm glad you raised the issue but every respondent has pretty much told you the same thing. Mike, as is his nature, went (in my opinion) above and beyond to try to coax a quality (or at least inoffensive and somewhat useful) answer from you. You have, in my eyes and apparently to those of others, failed to meet the challenge.  No champion for your side has emerged and it's time to let this one go. I know I speak for everyone responding in saying that I hope you stick around and that I look forward to up voting future answers you provide if they merit the vote. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I've been there many times, in different StackExchange websites. Got many of my questions deleted. Got few of my answers heavily down-voted. <em>It's very frustrating indeed.</em> But I've never been on the other side: being a mod. So I can only assume...</p>

<p>To me, the moderators are doing a very heavy job, most of the time. All of the ones I've crossed by are highly skeptical and knowledgeable people. Almost always they know much more than I do on the site's subject. That's how they got so interested on the subject to dedicate so much time of their life writing and reading about it.</p>

<p>That being said, not all mods are the same, but most of them like to <strong>keep things clean</strong>. Thus, <em>deleting</em>. Simply put, it was deleted because he thought it was actually a bad answer for the site. He said it so in his own words.</p>

<p>I disagree with his position, but I understand where he comes from. Your answer is indeed and already proven, even today, not well accepted by the community. Almost nobody with a Mac OSX will want to install any other OS. It makes very little sense to do so.</p>

<p>If I were to be a mod I <em>think</em> I'd never delete anyone's post, unless it's plain spam. Ever. You see, I don't mind if things aren't perfectly clean. I love [kbd]CMD[/kbd]+F, gmail and google for the same reasons. That's what makes it even more frustrating when someone does it. It seems to be <strong>very inconsiderate</strong>.</p>

<p>But, truth is, <em>stuffe</em> wasn't ignoring you at all. I'd say probably no moderator delete any post without some consideration.</p>

<p>In the end, I think this is all just 2 very different worlds colliding and, if you want to "be accepted" in any of the SEN sites, you have to forego many of your pre-conceived concepts. First, about other people hurting you. Nobody here is trying to get that personal. Then, about feelings, emotions and even opinions. Not really welcomed here. As I see it, SEN is about consensus and focus.</p>

<p>I find it unfortunate in some cases, but well, nothing is perfect. Quora is a good counter example in which you can ask much broader questions and, thus, get much less specific answers.</p>

<p>In any case, wish you the best dude. I'm thankful your answer got undeleted already.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>