<html>
	<head>
		<title id = 'pagetitle'>Can we make the registered vote arrow more obvious on meta-se?
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/1029/could-the-voted-unvoted-button-artwork-be-further-differentiated-on-meta-apple">Could the voted/unvoted button artwork be further differentiated on meta.apple?</a>  </p>
</blockquote>



<p>I must be getting old. I have a hard time telling when I've voted on meta questions. The registered vote arrow is too close in contrast to the unregistered vote arrow.</p>

<p><img src="https://i.stack.imgur.com/rk7Cc.png" alt="Registered vs. unregistered vote arrows"></p>


<h1>ANSWERS</h1>
			</body>
</html>