<html>
	<head>
		<title id = 'pagetitle'>Can we ask iOS 11 related questions already?
		</title>
	<head>
	<body id = 'pagebody'><p>I just noticed this iOS 11 related question <a href="https://apple.stackexchange.com/questions/285902/how-do-i-enable-the-one-handed-keyboard">How do I enable the one-handed keyboard?</a> on Apple.SE, Is this allowed already?</p>


<h1>ANSWERS</h1>
		<h1>YES</h1>

<p>See <a href="https://apple.meta.stackexchange.com/questions/2707/what-happened-to-the-beta-ban">What happened to the &quot;beta ban&quot;?</a> for details. </p>


	</body>
</html>