<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can we delete the word "power" from the tagline at stackexchange.com~sites?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1346" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::62</h3>
				<h2>Can we delete the word "power" from the tagline at stackexchange.com~sites?</h2>
<p>In our logo, the description of Ask Different is "Answers for your Apple questions" -- a concise and fairly accurate description of the site.</p>

<p>At <a href="http://stackexchange.com/sites">http://stackexchange.com/sites</a>, our site is described as "Q&amp;A for power users of Apple hardware and software." While Q&amp;A for power users are certainly a part of what our site is about, we make a point of welcoming reasonably researched questions from all levels of users, not just power users.</p>

<p>Could the tagline at <a href="http://stackexchange.com/sites">http://stackexchange.com/sites</a> either match the logo, so the branding "Answers for your Apple questions" is consistent across mentions of the site (probably the best option) or at least the word "power" be dropped, so it reads "Q&amp;A for users of Apple hardware and software"? We don't want to scare off non-power users. They are welcome here, and the tagline should reflect that.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1348"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>I could get behind that. We have all sorts of great dialog in the <a href="https://apple.stackexchange.com/faq">faq</a> explaining what questions we love and power isn't anywhere on that list. </p>

<p>We also eliminate tags like <a href="https://apple.stackexchange.com/questions/tagged/beginner" class="post-tag" title="show questions tagged &#39;beginner&#39;" rel="tag">beginner</a> or <a href="https://apple.stackexchange.com/questions/tagged/expert" class="post-tag" title="show questions tagged &#39;expert&#39;" rel="tag">expert</a> so deleting any adjective qualifying the users of the site seems like a good signal to send. </p>

<p>We should be the site for good questions about using Apple products. Full stop. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1350"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I fully agree, on a number of levels.  Firstly, Apple is more than just the computer company it once was when many of our users became, well, users.  </p>

<p>Really these days, especially when you consider both unit shipment and profit figures, it's a consumer electronics company, the iOS stuff is the bulk of Apple's market these days, and as I've mentioned on another Meta comment, I don't see 'power user' as an appropriate tag for any of those devices.</p>

<p>So whilst we get a number of <a href="https://apple.stackexchange.com/q/21435/9495">difficult</a> OS X specific questions, which many of our users love to answer, we also get a whole heap of what I will generously called "<a href="https://apple.stackexchange.com/q/54710/9495">modestly difficult</a>" questions to answer as well.</p>

<p>The key point I am trying to make is that we are here for the person who can't understand how to change tracks on his iPod Shuffle as well as for the guy who is attempting to write an Applescript that makes the tea for him.</p>

<p>I would go further and remove references to hardware and software.  I'd like the thing to read much cleaner, and simpler, and be something like "Q&amp;A for users of Apple products" without attempting to judge the relative skill levels of users.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>