<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can anyone offer a good reason not to kill the playback tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can anyone offer a good reason not to kill the playback tag?</h2>
<p>The concept of playback has a tag at the moment and rather than just re-tag the questions to be about the apps doing the playing, I wanted to see if anyone had a suggestion to not kill this tag.</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/playback">https://apple.stackexchange.com/questions/tagged/playback</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>No. No one can offer a good reason to spare the tag. Please kill it.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>