<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can I post my AskDifferent question to another StackExchange site, such as ServerFault or SuperUser?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can I post my AskDifferent question to another StackExchange site, such as ServerFault or SuperUser?</h2>
<p>While my <a href="https://apple.stackexchange.com/questions/41317/using-software-update-server-without-binding-mac-to-lion-server-domain">question</a> is Apple related, it is also a question that many users that frequent <a href="https://serverfault.com/">ServerFault</a> and <a href="https://superuser.com/">SuperUser</a> may know the answer to since it is about server administration. Is is ok to post the same question on multiple sites?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Generally, no. Cross posting the same exact question rather than linking is bad form.</p>

<p>If the question can be tailored to be specific to each site, the chance of it being flagged and deleted is much diminished. I don't have an authoritative link to policy handy (but will dig one up if needed) but the site expects users to search using google if the site specific search does not yield results. </p>

<p>The deep indexing that google does of this site means that a close hit is almost always a general google away.</p>

<p>You as the asker are always free to post a link in the other chat room to see if people there expect to get a speedy answer. You can and should just flag the question to ask a moderator to migrate the question and doing the homework with the other site often speeds our side to make sure the other site wants that question.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Quite a while ago I asked an OS X Server question here, and then when I had little traffic and no answers, I flagged it for migration to Server Fault. Suggesting you do the same obviously carries a lot of my own personal bias, but I suggest this route as well.</p>

<p>I know there are a few users around here with some server administration experience, so if you feel that it's at all possible to have enough traffic and a potential answer here it'd be wonderful if you started the question here.</p>

<p>You are in charge of your own question, so at any time you can flag it and ask us to send it over to Super User or Server Fault, or anywhere else it's on-topic in the network for that matter.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>