<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can we establish official rules for community wiki questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1019" class = "post">
			<h2>Question</h2>
			<h3>Score ::-2</h3>
			<h3>Views ::89</h3>
				<h2>Can we establish official rules for community wiki questions?</h2>
<p>I have noticed that the majority of large community wiki questions have rules for posting. However, they aren't standard rules. Can we establish some official rules for community wiki questions?</p>

<p>My set of rules would be something like this:</p>

<ol>
<li>Check to see if there are duplicates in this post by typing in the search box: <code>inquestion:this searchTerm</code></li>
<li>Include only one <code>&lt;fill in the blank&gt;</code> in each anwer.</li>
<li>Include a description of the <code>&lt;fill in the blank&gt;</code>, its pros/cons, and why you use it.</li>
</ol>

<p>For apps, etc., I would also add these rules:</p>

<ol>
<li>Link to the developer's website, rather than a direct download page.</li>
<li>Cite the application name like such: <code>#appName by [developer]</code></li>
<li>Please do not give a price because that can localize your answer too much.</li>
</ol>

<p>Another thing I would add is that unless your community wiki is a really helpful list, it <strong><em>will</em></strong> be closed. </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1019">Load Comments</button></br>
			<div id = "commentsection-1019" class = 'collapse'>
			<div id = "comment-1839" class = "comment">
				<p>If you downvote ***PLEASE*** leave a comment!!!</p>
			</div>
			<div id = "comment-1885" class = "comment">
				<p>I didn't down vote it, but I think it's a really bad idea. The fact that these sorts of questions need all manner of remedial and supplemental instructions shows how out of place they are with the "stack exchange" idea of what makes a good question. Yes we tolerate and enjoy the best of the best - but automating them seems like a step in the wrong direction to me.</p>
			</div>
			</div>
				<textarea id = "speech-1019" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1019">
					<img id="start_img-1019" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1020"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Those kind of questions are "frowned upon" in most of the sites (read: banned completely).</p>

<p>Here, some are still tolerated but more and more user are trying to get rid of them (and I'm one of them).</p>

<p>Those kind of question, <em>can</em> of course be nice to have. But on the whole, they're more work than they're worth. With people not respecting the rules (even when told explicitly on the first post). And they're more likely to get obsolete, since they're very vague to begin with.</p>

<p>So that's why I don't think it's worth having official rule, since they're not here to stay.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1020">Load Comments</button></br>
			<div id = "commentsection-1020" class = 'collapse'>
			<div id = "comment-1840" class = "comment">
				<p>This is my personal view, not the one of Stack Exchange Overlords or the moderators here.</p>
			</div>
			<div id = "comment-1843" class = "comment">
				<p>I agree in part with you, but **some** CW questions are okay. I personally think that the [Tips and Tricks](http://apple.stackexchange.com/questions/5435/got-any-tips-or-tricks-for-terminal-in-mac-os-x) and [Tiny](http://apple.stackexchange.com/questions/17759/what-tiny-thing-in-lion-makes-you-smile-or-has-caught-you-off-guard) [Things](http://apple.stackexchange.com/questions/27761/what-tiny-thing-in-ios-5-makes-you-smile-or-has-caught-you-off-guard) are good CW questions. And any other similar questions. I know that the mods are also somewhat lenient with what CW questions they allow.</p>
			</div>
			</div>
				<textarea id = "speech-1020" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1020">
					<img id="start_img-1020" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1026"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I personally don't see the use for most of these questions.  I see them as merely a way of showing our favourite tricks and tips which are in the end more of an ego stroke than there for the express purpose of assisting users with problems.  This is a Q&amp;A site, not a discussion forum, and as such the only people who gain any benefit from them are regular users who are here to (if only as a side effect) expand upon their own knowledge for no other reason than curiosity.</p>

<p>I can't see a scenario where a user will stumble upon one of these answers as a way of answering a problem that they have come to the site to ask.</p>

<p>I think if anything, the setting of one of these questions should be strictly limited to ensure it's set correctly, and isn;t subsequently closed after a few answers as it was never a good choice.  A good example was the "what would make Safari perfect" thread, which was a) framed badly (It should have been titled something like "What needs improving/adding to Safari to make it better"), and b) closed before it got a head of steam up as being of low quality.  Perhaps a moderator would have to approve such questions in the future, and have them on a set schedule, one a week starting each Monday for example?  This way we could agree on a schedule of future questions to ensure that the most popular ones are agreed before appearing on the site, and we can plan to introcude a core of knowledge tat isn't Q&amp;A rather than let it just appears without due consideration of the aims of the site.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1026">Load Comments</button></br>
			<div id = "commentsection-1026" class = 'collapse'>
			<div id = "comment-1856" class = "comment">
				<p>1. The 'perfect Safari' question was just bad for numerous reasons, I would go as far as to say that there was nothing to save it considering the subject matter. 2. SE does not have a scheduling function, and rolling them out in such a manner is not any more productive. 3. Once a week? That rate is significantly higher than CWs are even created *now*.</p>
			</div>
			<div id = "comment-1861" class = "comment">
				<p>Automated scheduling would be a problem, but the moderator group could probably take suggestions from the community and discuss them in Chat to make an informal list, and manually dole out to one poor sucker (I mean volunteer) to put one out at a time, maybe on the schedule of always having one active, so when one dries up start the next, on the basis that they should all be of consistent format with vetted aims?</p>
			</div>
			<div id = "comment-1865" class = "comment">
				<p>I disagree with that idea entirely.</p>
			</div>
			</div>
				<textarea id = "speech-1026" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1026">
					<img id="start_img-1026" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>