<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Can I ask this question on Meta?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2398" class = "post">
			<h2>Question</h2>
			<div id="vote-2398" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 70</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I ask this question on Meta?</h2>
<p>I want to ask a questurn asking peoples opinions on why they hate having one port only on the new MacBook.</p>

<p>I know I cannot ask this on <a href="http://apple.stackexchange.com">Ask Different</a> since it is opinion based however could I ask the question on <a href="http://meta.apple.stackexchange.com">Ask Different Meta</a> using the discussion tag?</p>

<p>What I am meaning here is can I ask people about opinions on Apple products and design here on meta or is this not allowed?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2398" class = 'collapse'>
			</div>
				<textarea id = "speech-2398" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2398">
					<img id="start_img-2398" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2399"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2399" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No certainly don't ask that here as meta is for discussing the site. Asking why you might or might not ask something on main is exactly the point here.</p>

<p>For opinion and discussion on the main site - we have the blog (where someone needs to write an opinion piece and then the discussion happens in the comments) and the [chat] rooms.</p>

<p>Now, if you can distill your opinion question down to how to learn about technology, that's on topic on the main site. So for example. I have a Retina MacBook Pro and I run certain apps. I might want to ask how I could measure the performance of my current workload so I can decide between the MacBook or MacBook Pro both of just announced.</p>

<p>Basically - by analyzing my needs, documenting them and then asking how to learn - the question becomes less about opinion and more about objective facts and knowledge. Boom - the question would not be primarily opinion based if you do some work to nail down what you're really asking.</p>

<p><em>With data, you're not just another person with an opinion.</em> (not <a href="https://en.wikipedia.org/wiki/W._Edwards_Deming" rel="nofollow">W. Edwards Deming</a>)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2399">Load Comments</button></br>
			<div id = "commentsection-2399" class = 'collapse'>
			<div id = "comment-4484" class = "comment">
				<p>So I could ask if a MacBook or a MacBook air will be better for me to buy by showing my CPU usage and the Applications I use daily?</p>
			</div>
			<div id = "comment-4485" class = "comment">
				<p>Possibly. It depends much on the delivery. You also are fighting an uphill battle when asking what boils down to "which new computer is best for me" since there are so, so, so many bad iterations of that question that have aged very poorly on this site. Your call if you want to try. worst case, you get lots of down votes, people behave badly and/or you delete the question if it's not fixable or what you expected.</p>
			</div>
			<div id = "comment-4486" class = "comment">
				<p>Ok, Thanks. Would it be better if I ask 'Will the new MacBook have enough power for what I do'? That way I am not asking whats better, MacBook or MacBook Air, I am asking if it can achieve what I want it to do.</p>
			</div>
			<div id = "comment-4487" class = "comment">
				<p>Even that is tricky - we use to write OS X code om machines that are 10x slower and could do the work - some people now use 6 year old machines with no issues. It depends how much you want speed</p>
			</div>
			<div id = "comment-4492" class = "comment">
				<p>Thanks. I have decided to ask how to view the current frequency my CPU runs at (since the frequency is never the same with turbo charge) so I can tell for my self and it isn't asking 'is this better' or 'will it cope'. I also got the answer I wanted asking it that way.</p>
			</div>
			</div>
				<textarea id = "speech-2399" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2399">
					<img id="start_img-2399" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>