<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>can we have Tag Icons
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-937" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::58</h3>
				<h2>can we have Tag Icons</h2>
<p>On Stack Overflow the facebook, Android, and adobe <a href="https://stackoverflow.com/tags?page=2&amp;tab=popular">tags have icons on</a>, could we allow Icons for tags such as iTunes, App Store, Bluetooth, Mail.app, etc?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1704" class = "comment">
				<p>I'm curious what the use case for these icons would be? I personally don't like them at all, but perhaps I'm not seeing the benefit?</p>
			</div>
			<div id = "comment-1705" class = "comment">
				<p>just an aesthetic. It does help in some instances such as the Adobe programs all having the Adobe icon.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-939"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>Tag icons are sponsored. Companies purchase the right to put their icon on a tag for a period of time. As far as I am aware this is currently only done on StackOverflow, and not on the rest of the network.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1702" class = "comment">
				<p>Thanks, I can't see apple doing that anytime, shame, never mind.</p>
			</div>
			<div id = "comment-1732" class = "comment">
				<p>How do you know this? Where did you get to know this?</p>
			</div>
			<div id = "comment-1734" class = "comment">
				<p>@Matt Apart from being involved with SE since it first started, from the official FAQ: http://meta.stackexchange.com/questions/30187/what-do-icons-on-the-tags-mean</p>
			</div>
			<div id = "comment-1735" class = "comment">
				<p>Very nice. Thanks!</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>