<html>
	<head>
		<title id = 'pagetitle'>Can SE Search be 'honed'?
		</title>
	<head>
	<body id = 'pagebody'><p>Case in point <br>
[even if I was looking at a Super User question &amp; the terms I was starting from are very generic, it felt best to ask in Ask Different, as my 'home' community]  </p>

<p><a href="https://superuser.com/questions/912499/why-does-my-screensaver-say-mynames-macbook-pro-4">Why does my screensaver say [myname]'s Macbook Pro (4)</a> </p>

<p>I was trying to start with a broad search for issues where the Mac name increments by number </p>

<p>Not being sure where to start I went for <code>(2)</code> as a start point, hoping to hone it later <br>
Unfortunately, results coming in were 'anything including a <code>2</code>'</p>

<p>I'm no expert in grep or anything like that, but I'm not bad at honing down Google searches, by keyword, site: etc.</p>

<p>Does SE have any 'honing tools' for this type of broad start point?<br>
Things like AND, OR, "full-string" etc?</p>


<h1>ANSWERS</h1>
		<p>There's a full guide to searching at <a href="https://apple.stackexchange.com/help/searching">/help/searching</a>.</p>

<p>Exact match searches are accomplished by enclosing the string in <code>"</code>. Punctuation is excluded from search strings, even when using exact match.</p>

<p>If all else fails, you can always search using Google with the <code>site:apple.stackexchange.com</code> parameter.</p>


	</body>
</html>