<html>
	<head>
		<title id = 'pagetitle'>Can one ask Hackintosh questions on Ask Different?
		</title>
	<head>
	<body id = 'pagebody'><p>Hackintosh or OSx86 is Mac OS X running on non-Apple hardware. But since the software is still by Apple (most of it), is one allowed to ask questions pertaining to a Hackintosh here?</p>


<h1>ANSWERS</h1>
		<p>I don't believe questions that put the answers or askers into a legal quandary are acceptable. </p>

<p>This is an <em>Apple</em> Q / A site. If it's not Apple it is off topic. </p>


<p>Hackintosh questions are a legal grey area and because of that they are not allowed on Super User anymore. For the same reason I believe they should not be allowed on Apple.SE either.</p>

<hr>

<p>EDIT: This really needs to be hashed out more as to what kind of Hackintosh questions should be allowed and not (These are my opinions and are subject to change):</p>

<ul>
<li><p>If you're running an Hackintosh and you have a question about OS X it shouldn't matter. Figuring out how to get a piece of hardware to work - I don't know as it has a lot of merits but at the same time the chance of a lot of unanswered too localized questions is high - I say let them be for now.</p></li>
<li><p>Howto questions aren't acceptable and I've found the majority <strong>far</strong> too localized to be useful. Apple.SE should not be the place for them.</p></li>
<li>What about running Mac OS X on unsupported <strong>Apple</strong>-branded computers (eg. Apple TV or older models)? I think this is fine - the internet ends up being the unsupported's support but it's not a far jump to any hardware and normal Hackintoshes.</li>
</ul>


<p>Like Josh K said, answering questions on topics that are not supported by Apple id not a good thing and, moreover, they are illegal.</p>

<p>For these two points, I don't thing we should answer them.</p>


<p>I think that unless there is specifically a law or a legal precedent against installing OS  X on non-Apple hardware for personal use, there is no reason whatsoever to keep these questions off the site.  </p>

<p>However, if the question relates to the hardware more specifically than the software, I think it starts falling out of scope.  Take these two questions for example:</p>

<ul>
<li><p>Q: When installing Snow Leopard on a PC, should I use the GUID partitioning scheme or MBR?</p></li>
<li><p>Q: What kext or injector should I use to get my NVIDIA xxxx card working in Snow Leopard on my Dell computer?</p></li>
</ul>

<p>The first question is generally related to running Snow Leopard, and has little to do with non-Apple software or hardware.  The second question is really asking "How do I get x piece of hardware that is explicitly unsupported by Apple to work on my PC running OS X?"  While I don't agree that the second question is asking how to do something illegal, I just think it's outside the scope of the site.</p>

<p>I think making a blanket ban of OSX86 related questions is pretty over the top unless someone can provide some proof that these types of questions are either:</p>

<ul>
<li>Completely disallowed on Stack Exchange by the owners</li>
<li>Related to acts that are either explicitly illegal or have been shown to be illegal by court precedent</li>
</ul>

<p>If either of the above can be shown, then I would totally agree with a blanket ban...</p>


<p>I don't see how technically worded questions about how low level OS processes work is necessarily a bad thing. Running Mac OS X on non mac hardware seems to be equally against Apple's published licensing terms as is jailbreaking an iOS device. The legality of an action gets sorted out when a judge weighs all of the conflicting laws. The law starts to "solidify" when judges publish precedent and intentionally state that some rulings are to be considered broad rather than an isolated finding in some narrow case <em>Moe vs. Larry</em> </p>

<p>Many questions here will fall in gray areas where there is no precedent but simply a bunch conflicting laws and hundreds of years of case history that may or may not apply to a shrink wrapped, non-negotiated, un-signed EULA between parties of radically unequal bargaining power. Add in the worldwide nature of this site and trying to set a bar based on one (or even a plurality of) jurisdiction(s) seems to make it extremely hard to say which if any set of laws should govern our attempts to control information. </p>

<p>Discussing darwin open source OS and how Mac OS X differs isn't guaranteed to be legal in all places or situations, but exercising prior restraint of discussion on how things work seems quite draconian for a site that intends to be a collection of knowledge. </p>

<p>I'm not going to pretend that everyone asking these questions is a university researcher, but would we turn the same away if they wanted to discuss things here that are in fact legal and/or ethical in the eyes of professionals?</p>

<p>The plus side of not blanket banning these is:</p>

<ol>
<li>Assume that people with intelligent, answerable questions will do just that</li>
<li>Reinforces the trust given to <a href="http://blog.stackoverflow.com/2009/05/a-theory-of-moderation/">our human exception handlers</a> to handle bad questions in this area just like they do with all other bad questions.</li>
</ol>

<p>If our moderators are letting us know </p>

<ul>
<li>The vast majority of these questions are worthless</li>
<li>They can't keep up with proper work due to the load of culling these bad questions</li>
</ul>

<p>I think it's too soon to tell if a ban discussion is worth having. We don't know yet what good might be thrown out with the bad.</p>


<p>If anyone is interested, I've proposed a Hackintosh SE site.</p>

<p> <a href="http://area51.stackexchange.com/proposals/98549/hackintosh">Hackintosh Exchange</a> (name pending)</p>

<p>Please come, vote, and contribute to the discussion</p>


	</body>
</html>