<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can someone help with sorting ~ merging questions about transferring iTunes store balances?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2464" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::22</h3>
				<h2>Can someone help with sorting ~ merging questions about transferring iTunes store balances?</h2>
<p>I've closed a few questions as dupes to link questions about:</p>

<ul>
<li>Transferring iTunes store credit between accounts in general</li>
<li>Disposing of iTunes store credit to allow region / currency changes</li>
</ul>

<p><a href="https://apple.stackexchange.com/questions/9317/">Can I transfer iTunes credit between accounts?</a><br>
<a href="https://apple.stackexchange.com/questions/44794/">Changing my iTunes account details</a><br>
<a href="https://apple.stackexchange.com/questions/79461/">Does iTunes balance transfers when you change country?</a><br>
<a href="https://apple.stackexchange.com/questions/79539/">How can I change iTunes country of region when having some credit in my account?</a><br>
<a href="https://apple.stackexchange.com/questions/101511/">Use of iTunes gift card credit</a><br>
<a href="https://apple.stackexchange.com/questions/110590/">How to solve international credit card issues?</a><br>
<a href="https://apple.stackexchange.com/questions/161754/">https://apple.stackexchange.com/questions/161754/</a><br>
<a href="https://apple.stackexchange.com/questions/164411/">Transfering between itunes accounts, different geographical locations</a><br>
<a href="https://apple.stackexchange.com/questions/176681/">How do I change iTunes country with family sharing and child accounts?</a><br>
<a href="https://apple.stackexchange.com/questions/186272/">Use up the store credit</a>  </p>

<p>There's a lot of good information and legitimate criticism of Apple for making this hard/unclear and lacking a support mechanism other than filling out a web form. On the flip side, it's hard to understand how this happens if you didn't sign up for the wrong region intentionally and/or falsify your account details at some point. Also, walking away from less than $1 is hard to complain about - even privately - when you can find some game to zero out your store credit in the majority of the cases.</p>

<p>I'd like some extra eyes and criticism if my closes need to be adjusted and/or some questions really merged to get all the correct answers easily searchable. Since merging questions is something moderators cannot undo, I'd rather be sure we have good chains of close before taking that step.</p>

<p>Once this is sorted, we can enter the remaining questions as <a href="https://apple.meta.stackexchange.com/questions/2418/where-is-the-list-of-canonical-questions-stored-for-ask-different">canonical ones for the site</a>.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5734" class = "post">
				<p>As far as this being "hard to understand" how it happens - it's simple - move between countries. I'm actually in the process of moving to Canada, and while I want to keep my US iTunes account for various reasons, if I didn't, there was nothing I did wrong other than meet, fall in love with and marry a Canadian.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>