<html>
	<head>
		<title id = 'pagetitle'>Can anyone offer a good reason not to kill the playback tag?
		</title>
	<head>
	<body id = 'pagebody'><p>The concept of playback has a tag at the moment and rather than just re-tag the questions to be about the apps doing the playing, I wanted to see if anyone had a suggestion to not kill this tag.</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/playback">https://apple.stackexchange.com/questions/tagged/playback</a></p>


<h1>ANSWERS</h1>
		<p>No. No one can offer a good reason to spare the tag. Please kill it.</p>


	</body>
</html>