<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can I customize the Markdown editor's keyboard shortcuts?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can I customize the Markdown editor's keyboard shortcuts?</h2>
<p>It is a minor matter of comfort, but can I customize the Markdown editor on Ask Different?</p>

<p>In part of my research, I clicked my avatar at the top and then Settings > Preferences.  On that page there is a Keyboard shortcuts option, but that is not what I am after.  </p>

<p>I am very used to the key bindings that Safari provides on other sites, or even in the "Search Q&amp;A" box and the Title on Stack Exchange sites.  Some work but others do not.  For example, Control-K to kill to the end of the line gets intercepted for entering preformatted text, and Control-B to move Backward one character gets intercepted for strong text.  I am afraid I am an old school Emacser who prefers Control-B to left-arrow sometimes.  </p>

<p>I have some tolerable work-arounds for this, so I guess I'm mainly interested if there is a setting I haven't found, or if it is worthwhile making a feature request to our gracious hosts.  </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This is what I have found so far. The WMD's event listener function is anonymous, which means it can't be removed with <code>.removeEventListener(type, listener)</code>, and jQuery's <code>.off()</code> doesn't seem to have any effect, but I don't have enough experience with jQuery.</p>

<p>To remove all event listeners, I can use <code>$0.outerHTML = $0.outerHTML;</code> to replace the element, however this breaks the buttons on the toolbar.</p>

<p>The relevant section of code from the WMD (beautified) is:</p>



<pre><code>var y = "keydown";
g.isOpera &amp;&amp; (y = "keypress"), c.addEvent(v, y, function(e) {
    if ((e.ctrlKey || e.metaKey) &amp;&amp; !e.altKey &amp;&amp; !e.shiftKey) {
        var t = e.charCode || e.keyCode,
            n = String.fromCharCode(t).toLowerCase();
        switch (n) {
        [ ]
        case "k":
            l(b.code);
            break;
        case "g":
            l(b.image);
            break;
        [ ]
        default:
            return
        }
        e.preventDefault &amp;&amp; e.preventDefault(), window.event &amp;&amp; (window.event.returnValue = !1)
    }
})
</code></pre>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>