<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Can anyone point to a reason to ban virtualized OS on the site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1802" class = "post">
			<h2>Question</h2>
			<div id="vote-1802" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 279</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can anyone point to a reason to ban virtualized OS on the site?</h2>
<p>Our help section has a prohibition on "hackintosh" questions where I believe the intent is to avoid low value, low quality questions about driver support.</p>

<p><a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a></p>

<blockquote>
  <p>Installing or using Apple operating systems on non-Apple hardware (and most other explicitly unlicensed use of product)</p>
</blockquote>

<p>Would it be helpful to explicitly mention virtualization as either on-topic or off-topic or just leave things as stated - focus on the hardware and close topics that aren't about virtualizing directly onto Mac hardware per the strict reading of the current help section?</p>

<p>Here are a few questions we've had under this category:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/100726/playing-videos-on-virtualbox-macos-x-guest-on-ubuntu-13-04-as-host">Playing videos on VirtualBox Mac OS X guest on Ubuntu 13.04 as host</a></li>
<li><a href="https://apple.stackexchange.com/questions/99433/moving-fusion-vms-to-esxi">Moving Fusion VMs to ESXi</a></li>
<li><a href="https://apple.stackexchange.com/questions/86304/can-mountain-lion-os-x-run-on-hp-g62-series-using-vmware-virtualization">Can Mountain Lion OS X run on HP G62 series using VMWare virtualization?</a></li>
<li><a href="https://apple.stackexchange.com/questions/51846/how-to-get-mac-os-x-to-run-in-a-vm-on-windows">How to get Mac OS X to run in a VM on Windows</a></li>
<li><a href="https://apple.stackexchange.com/questions/29065/installing-ios-on-vmware-workstation">Installing iOS on VMware Workstation</a></li>
<li><a href="https://apple.stackexchange.com/questions/20965/does-apples-license-for-os-x-allow-it-to-be-virtualized-on-an-hp-pc">Does Apple&#39;s license for OS X allow it to be virtualized on an HP PC?</a></li>
</ul>

<p>Also unlicensed are these questions:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/64961/is-it-possible-to-install-mac-os-9-on-a-vm">Is it possible to install Mac OS 9 on a VM?</a></li>
</ul>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1802">Load Comments</button></br>
			<div id = "commentsection-1802" class = 'collapse'>
			<div id = "comment-3472" class = "comment">
				<p>Dealing with these questions on a per-case basis would have saved SO much more time than was invested into this nonconstructive thread lol</p>
			</div>
			</div>
				<textarea id = "speech-1802" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1802">
					<img id="start_img-1802" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1805"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1805" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As far as I can read the Apple License (and I am not a lawyer), installing Apple operating systems in a virtualized environment is permitted by the terms of the license as long as the virtualized environment is running on Apple-branded hardware. Running a virtualized system on non-Apple hardware <em>is</em> "explicitly unlicensed use of product".</p>

<p>If we want to keep that as our bright line test (and I'm indifferent to that as a standard, but it is our current one), then I'd say questions about installing OS X in a virtualized environment <em>in general</em> are on-topic here, because they could apply to a licensed use of OS X. If one can run Linux on a Mac (and a quick Google search indicates that this seems to be possible), then running OS X virtualized on a Mac that is running Linux would be a licensed use of the product, and thus on-topic for the site.</p>

<p>Questions specific to running OS X virtualized on Linux on, say, a Dell or a Wang or ENIAC would be off-topic because they explicitly violate the license agreement.</p>

<p>So my reading of the current standards is that because one could run Linux on a Mac and then legitimately virtualize OS X on top of that, the question is on-topic and needs no update to the FAQ.</p>

<p>Going through your examples,
the <a href="https://apple.stackexchange.com/questions/100726/playing-videos-on-virtualbox-macos-x-guest-on-ubuntu-13-04-as-host">first one</a> is on-topic as is; Ubuntu can run on a Mac, so an end user entirely within the scope of Apple's license could be helped by this answer.</p>

<p>The <a href="https://apple.stackexchange.com/questions/99433/moving-fusion-vms-to-esxi">second one</a> is explicitly run on a Mac. The Apple terms say the software is licensed to run on Apple hardware, and that's what's being done.</p>

<p>The <a href="https://apple.stackexchange.com/questions/86304/can-mountain-lion-os-x-run-on-hp-g62-series-using-vmware-virtualization">third one</a> is off-topic; it's asking specifically about getting it to run on a HP computer. It might be editable to be on-topic, but if the problem is specific to the drivers needed for the HP hardware, it's off-topic.</p>

<p>The <a href="https://apple.stackexchange.com/questions/51846/how-to-get-mac-os-x-to-run-in-a-vm-on-windows">fourth one</a> is on-topic. Windows can run on a Mac, so this answer could apply to someone running Mac OS X on Apple hardware.</p>

<p>The <a href="https://apple.stackexchange.com/questions/29065/installing-ios-on-vmware-workstation">fifth one</a> is leaning toward off-topic as written, but edit "I have a Windows PC" to "I have a computer running Windows" and we're back in on-topic territory.</p>

<p>The <a href="https://apple.stackexchange.com/questions/20965/does-apples-license-for-os-x-allow-it-to-be-virtualized-on-an-hp-pc">sixth one</a> is clearly on-topic; it's asking what the license allows, rather than asking how to do something not permitted.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1805">Load Comments</button></br>
			<div id = "commentsection-1805" class = 'collapse'>
			<div id = "comment-3413" class = "comment">
				<p>If I were to summarize your thinking as "we're OK with virtualization questions as long as they are otherwise up to standard and not exclusively about drivers for non-Mac hardware" would that be a fair reading of your intent?</p>
			</div>
			<div id = "comment-3414" class = "comment">
				<p>@bmike That pretty much sums it up. That said, I'd be fine with another standard, too; this was just my attempt to interpret our existing standards. I have no strong feelings here; just trying to be consistent.</p>
			</div>
			<div id = "comment-3415" class = "comment">
				<p>I could imagine a Mac hardware user running Linux as primary OS but wanting to virtualize OS X for the odd occasion when they need it.</p>
			</div>
			<div id = "comment-3416" class = "comment">
				<p>Perfect. I'm more looking to be sure I understand consensus than change anything. My gut tells me we don't really need to close any of the example questions, but I didn't want to miss a good reason to close things down (or over-rule community votes should one of the ones that seemed good to me got closed).</p>
			</div>
			</div>
				<textarea id = "speech-1805" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1805">
					<img id="start_img-1805" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1808"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1808" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can think of various reasons NOT to ban them, I think a better direction is to take a good look at the on-topic section, and look to review and clarify existing content, and then expand it maybe to include a mini FAQ and/or example Q&amp;A for all contentious portions (Virtualised OS, Developer Programs/iTunes Connect, NDA covered topics etc) to make it a bit more useful on the whole.</p>

<p>I think the hackintosh subject is very quiet these days, both on the site and general in terms of internet chatter, but we see plenty of questions regarding other issues that are off topic far more regularly.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1808" class = 'collapse'>
			</div>
				<textarea id = "speech-1808" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1808">
					<img id="start_img-1808" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>