<html>
	<head>
		<title id = 'pagetitle'>Can we disable the  H "Heading" shortcut?
		</title>
	<head>
	<body id = 'pagebody'><p>As the question/answer editor currently stands, <kbd> </kbd><kbd>H</kbd> inserts <code>## Heading ##</code>.</p>

<p>I often want to use the Hide shortcut while editing, so is there any way I could disable it? Otherwise, would people mind if we changed it for everyone?</p>


<h1>ANSWERS</h1>
		<p>I don't have an answer or ETA on whether the developers here would ever make such a change site wide (or Ask Different wide if possible), but this might make a fabulous question on the main site to ask if it's possible to tweak Safari to ensure <kbd> </kbd>+<kbd>H</kbd> goes to Finder/Safari as opposed to Safari's window contents (in this case javascript code executing in the mini editor environment).</p>


<p>I think that this shortcut collision can't be dealed with at the last coming level alone (which is here the text editor window).</p>

<p>If a user can't know which application, or which application level is
listening to his keyboard, then this will lead to 2 kinds of problems:</p>

<ol>
<li>Error due to call of the wrong level of function.</li>
<li>Use of this hidden function from the user standpoint to trap him on executing another function within his web browser, his Finder or MacOS X.</li>
</ol>

<p>This knowledge of which application and which application subwindow is
obeying to the keyboard must be provided by the OS, i.e. MacOS X.
If an application want to remap the <kbd>cmd  </kbd>+<kbd>H</kbd> shortcut, then the system should display clearly this input control change.
For example, if an embedded editor, as is the case with the StackExchange one,
decide to change some shortcut (and hence the behaviour of my keyboard),
I'd like to see this event displayed clearly in the upper most corner of the menu
bar :</p>

<pre><code>Firefox   StackExchange editor
</code></pre>

<p>If sufficiently many others think that this security function might be an improvment to MacOS X, the correct line of action is to <a href="http://www.apple.com/feedback/macosx.html" rel="nofollow">feed Apple with a security improvment of UI</a>.</p>

<hr>

<p>In the mean time, and if this is possible at the StackExchange interface level, I'd suggest to highlight the border of the window which does have the
focus and changed the keyboard mapping.</p>


	</body>
</html>