<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>can we have Tag Icons
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>can we have Tag Icons</h2>
<p>On Stack Overflow the facebook, Android, and adobe <a href="https://stackoverflow.com/tags?page=2&amp;tab=popular">tags have icons on</a>, could we allow Icons for tags such as iTunes, App Store, Bluetooth, Mail.app, etc?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Tag icons are sponsored. Companies purchase the right to put their icon on a tag for a period of time. As far as I am aware this is currently only done on StackOverflow, and not on the rest of the network.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>