<html>
	<head>
		<title id = 'pagetitle'>Can this question about pre-release software be fixed and opened?
		</title>
	<head>
	<body id = 'pagebody'><p>We have a question about per-app VPN that is on hold on the main site:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/99988/">How to configure VPN per app in iOS 7?</a></li>
</ul>

<p>Does anyone see a way to edit this so that it's about what Apple has announced and not running afoul of our community standard to not <a href="https://apple.meta.stackexchange.com/questions/1716/why-are-some-ios7-questions-closed-and-others-left-open">keep open some pre-release iOS 7 questions</a>? The initial edit of the question seems to me about how to use a beta function on the beta OS and that it's squarely in the "should be closed" category, but I also would be happy if someone could make a case for reopening it if my interpretation is incorrect or there is some reason to open this due to other concerns like how it helps with shipping OS and isn't really about iOS7.</p>


<h1>ANSWERS</h1>
		<p><em>I'm fairly new around here, but here's my opinion:</em></p>

<p>The OP has already done some research on the topic, but hasn't found any more information (presumably due to the NDA). If we gave any more information, through knowledge of information under the NDA, wouldn't we be breaking the agreement?</p>

<p>As you mentioned in your comment, a non-NDA link to Apple's announcement would be useful in deciding whether to close it or not. So far, all I've found is this on <a href="http://www.apple.com/ios/ios7/business/" rel="nofollow noreferrer">Apple's iOS 7 non-NDA Business</a> site:</p>

<p><img src="https://i.stack.imgur.com/f5xkI.png" alt="Per app VPN"></p>

<p>As far as I understand, this limited paragraph and no links to any more information indicate that Apple are not willing to release more non-NDA information about this feature until it is publicly released with iOS 7.</p>

<p>Consequently, <strong>I don't think this should be opened until iOS 7 is publicly released.</strong></p>


	</body>
</html>