<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can we implement Youtube video embedding on Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can we implement Youtube video embedding on Ask Different?</h2>
<p>I am trying to embed a Youtube video into <a href="https://apple.stackexchange.com/questions/43251/best-way-to-import-analog-video-vhs-to-mac/43568#43568">my answer</a>, but I can't seem to get it to work. I've seen it embedded on other sites (see <a href="https://gaming.stackexchange.com/a/21642/19031">this answer</a>). Can the ability to embed Youtube videos be added to Ask Different?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Personally, I'm not sure that allowing embedded YouTube videos on Ask Different is a good idea.</p>

<p>I believe that videos are only beneficial under select circumstances, where a video is clearly the best way to communicate an idea.<br>
I also think that any answer that includes a video should also summarize the contents of the video in text, similar to linking to an external site. This is helpful for searching and SEO, and it also allows people who can't watch a video (at work, e.g.) to still learn from an answer.</p>

<p>That said, you are correct that YouTube embedding has been enabled on the Gaming site (and the music site). Gaming has a very clear use case: walkthroughs, demonstrations, etc. The amount of situations where a video is the best option is considerably lower on Ask Different.</p>

<p><strong>So, for now, I think the current system is good. You can always include a standard link to a YouTube video, or even grab a frame from the video and make that a link. Allowing embedded videos encourages a behavior that I don't want to encourage at the moment.</strong></p>

<p>FWIW, this has been <a href="https://meta.stackexchange.com/questions/66397/provide-a-way-to-embed-videos-in-answers">discussed before</a> on MSO.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>We <em>have</em> experimented with <a href="https://video.meta.stackexchange.com/questions/190/youtube-and-soundcloud-embedding-is-now-enabled/191#191">embedded video</a> on a few sites, but I would be very hesitant about enabling it widely unless the site can show a <em>substantial</em> need for it. </p>

<p>One of the big problems with video is that it is not searchable. Remember that <strong>the lifeblood of this site is search,</strong> so every time a video replaces a well-worded post that <em>describes</em> the problem, you have that much less content on the site that can be searched. Videos are, essentially, a black box to the Internet &mdash; they break those mechanisms we rely on to bring people to this site.</p>

<p>Text is the primary means of communicating what we have here to the outside world. For every question or answer that is described "in video," that information becomes obscured behind a black curtain; One less opportunity for people to find the text that describes the solution.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>While I agree strongly that </p>

<blockquote>
  <p>...the lifeblood of this site is search...  (Robert Cartaino's answer, above)</p>
</blockquote>

<p>I think there is a place for well-chosen embedded videos on the site. Not for screencast demonstrations, but for showing problematic system operations, weird bugs and behaviors. I.e. for example, a "drag and drop" problem where certain items don't drag-and-drop as expected. A question of this kind could be enhanced and clarified with a short embedded screen-capture video demonstrating the issue.</p>

<p>These could be vetted the same way any question is vetted, i.e. if the text answer isn't up to par, the question would be rejected as usual. </p>

<p>The screen-cap videos could be limited to 640x480 res. / 15fps and no more than say, 10 seconds length. (Or, the length limit could be a function of the poster's Reputation score, say 1 second per 10 rep. score points.)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>