<html>
	<head>
		<title id = 'pagetitle'>Can we have the reputation league shown in the user page like Stack Overflow?
		</title>
	<head>
	<body id = 'pagebody'><p>Having been participating on Stack Overflow a bit recently, I've noticed this:</p>

<p><img src="https://i.stack.imgur.com/H6GWh.png" width="498"></p>

<p>This doesn't seem to exist on Ask Different:</p>

<p><img src="https://i.stack.imgur.com/nxvaX.png" width="468"></p>

<p>Can it be added?</p>


<h1>ANSWERS</h1>
		<p>It seems only SO shows the rep. league.</p>

<p>Since SE has 115(!) Q&amp;A sites all in all, I made a script (obviously :P) to look through each of them and check whether profile pages showed rep. league.</p>

<p>The result was that no other SE sites but SO showed it. To be extra sure, I also recorded total number of users for each site <em>and</em> number of users with actual RP change. And thus, I don't think it has anything to do with community size.</p>

<p>Just to give you an idea of community sizes on SE:</p>

<ul>
<li>SO has ~2.85 mill.</li>
<li>Ask Ubuntu has ~181k</li>
<li>Ask Different has ~54k</li>
<li>Homebrew has 3.6k</li>
<li>Italian has 445</li>
</ul>

<p>So maybe the SE devs are just trying it out on their largest site? Doesn't seem to be by mistake that it only shows on SO.</p>


<p>Seems it's been done   it now exists as of rev 2014.5.14.1605:</p>

<p><img src="https://i.stack.imgur.com/vJQCc.png" width="156"></p>


	</body>
</html>