<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Can we have StackOverflow added as a site we can migrate questions to
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-813" class = "post">
			<h2>Question</h2>
			<div id="vote-813" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 156</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can we have StackOverflow added as a site we can migrate questions to</h2>
<p>On the close question dialog we can only close as off topic to meta.askdifferent can we please have some other options - The main missing one is stackoverflow.</p>

<p>I have asked this <a href="https://apple.meta.stackexchange.com/questions/266/closing-question-as-should-be-on-other-se-site">before</a> but was told that we would get some choices when we got out of beta but this has not happened. Also the suggested solution then was to flag for a moderator but as in this <a href="https://apple.stackexchange.com/questions/23153/developing-user-interface-programs-with-python-in-xcode">question</a> even if the moderator thinks it should be on SO the question is just closed.</p>

<p>This has also been asked and approved <a href="https://apple.meta.stackexchange.com/questions/658/which-sites-should-be-in-our-primary-migration-paths">here</a> is this going to happen?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-813" class = 'collapse'>
			</div>
				<textarea id = "speech-813" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-813">
					<img id="start_img-813" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-817"  class = "post">
				<h2>Answer</h2>
			<div id="vote-817" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Diamond mods can migrate questions to sites not on that list.  They (hopefully) only do this in consultation with the receiving site's moderators unless it's a very obvious case, a very high-quality question, and they've checked for duplicates.</p>

<p>We (SE) will <em>not</em> approve migration paths willy-nilly.  The hard truth is that too often, users migrate questions to sites where a duplicate already exists or where the question isn't actually on-topic.  Additionally, there's a tendency to migrate garbage questions that <em>should</em> be closed as a way to get rid of them without risking hurting the asker's feeling by closing -- thus simply moving problems around so someone else has to deal with them.</p>

<p>Migration paths are <em>only</em> created when there is a history of many good migrations having happened between site A and site B.</p>

<p>If your moderators <em>and</em> the SO moderators think the question belongs on SO, it will make it there (perhaps slowly, as the mods need to find one another online to discuss it).</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-817">Load Comments</button></br>
			<div id = "commentsection-817" class = 'collapse'>
			<div id = "comment-1507" class = "comment">
				<p>In the case I quoted it is on topic for SO and I don't think it is a duplicate - if it is I would like to see the answers as I think t is a good question</p>
			</div>
			<div id = "comment-1508" class = "comment">
				<p>Also this is not the conclusion of http://meta.apple.stackexchange.com/questions/658/which-sites-should-be-in-our-primary-migration-paths</p>
			</div>
			</div>
				<textarea id = "speech-817" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-817">
					<img id="start_img-817" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1548"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1548" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The moderators here can and do migrate things to any site that accepts inbound questions - just pop an "other" flag with comments that you want it to be migrated to another site (especially if you have reputation on that site or have cleared the migration in the destination chat room before flagging). In reality, our site doesn't have enough people to migrate a question without moderator intervention and with the new timeframe to migrate things - most questions will just get closed as off topic and not actually migrated going forward.</p>

<p>Just to put some data behind the rationale - in the last 90 days our site migrated three questions. One to this meta, one to SuperUser and one to GIS.</p>

<p>For the calendar year 2012, we have 19 question migrations outbound:</p>

<ul>
<li>6 - SuperUser</li>
<li>5 - Our Meta</li>
<li>2 - Stack Overflow</li>
<li>1 - Unix, User Experience, Server Fault, DBA, GIS</li>
</ul>

<p>Of the 19 migrations, not a single one was done by users without moderator assistance. Even a slam dunk migration like the 5 questions about the site that users can surely self-migrate to our meta are not being seen and migrated in practice by the users of the site. If we find a large change in these migration numbers - it might be worth bugging for a code change to alter the user-migration sites, but I would expect the developers to remove any user migrations based on our usage statistics and not add them.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1548">Load Comments</button></br>
			<div id = "commentsection-1548" class = 'collapse'>
			<div id = "comment-2898" class = "comment">
				<p>Moderators can migrate but as per my comments elsewhere on these answers don't always seem to do so. As for the number of people I can understand hat but the review queues are at a low level so might be OK but I accept there might not be enough people here who would know a good SO question</p>
			</div>
			<div id = "comment-2956" class = "comment">
				<p>You nailed it - when we ping the mods on a site before migrating a question, we find most requests to migrate by users to be rejected by the incoming site mods. We do always try to comment and point the asker to the correct site, but also to explain why we reject that question and suggest ways to improve the phrasing of the question before they go and re-ask it on SO.</p>
			</div>
			</div>
				<textarea id = "speech-1548" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1548">
					<img id="start_img-1548" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>