<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can someone create a Nook tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1296" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::37</h3>
				<h2>Can someone create a Nook tag?</h2>
<p>I have insufficient rep to create a tag.  I'd like the Nook tag to be attached to <a href="https://apple.stackexchange.com/questions/50625/nook-comics-on-ipad">this question</a>.  Thanks in advance.</p>

			</div><h3>Comments</h3>
			<div id = "comment-2454" class = "comment">
				<p>I like this type of request on meta if it's not clear we even need a tag. If you can find a few questions between 3 and 8 that already could use the tag in question, please add them and we can also see about making it less likely that well target it for cleanup and deletion.</p>
			</div>
			<div id = "comment-2457" class = "comment">
				<p>I would also like to thank you Keen for actually *using* the meta site! It's not often that we have new users here asking questions, or just new questions in general.</p>
			</div>
			<div id = "comment-2459" class = "comment">
				<p>@daviesgeek I'm pretty familiar with SE. :)</p>
			</div>
			<div id = "comment-2460" class = "comment">
				<p>@Keen Great! I just noticed you're a mod on SF/F, so that would explain it!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1296">Record</button>
				<button class="record-stop" id="stop-1296">Stop</button>
				<p id="recording-1296"></p>

<h1>Answers</h1>
			<br><div id = "ans-1297"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I've <a href="https://apple.stackexchange.com/posts/50625/revisions">edited your question</a> to add <a href="https://apple.stackexchange.com/questions/tagged/nook" class="post-tag" title="show questions tagged &#39;nook&#39;" rel="tag">nook</a> to the tags.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2451" class = "comment">
				<p>Good call, I'll do that in the future.  Thanks!</p>
			</div>
			<div id = "comment-2452" class = "comment">
				<p>@Keen No problem!</p>
			</div>
			<div id = "comment-2453" class = "comment">
				<p>@daviesgeek while your method would probably work in practice, a meta post requesting the tag is likely the "right" way to do it.</p>
			</div>
			<div id = "comment-2455" class = "comment">
				<p>@DanielLawson I just realized that the meta site was probably the official way to do it.</p>
			</div>
			<div id = "comment-2456" class = "comment">
				<p>@Keen See Daniel's comment.</p>
			</div>
			<div id = "comment-2458" class = "comment">
				<p>Yup, I read it.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1297">Record</button>
				<button class="record-stop" id="stop-1297">Stop</button>
				<p id="recording-1297"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>