<html>
	<head>
		<title id = 'pagetitle'>Can we ask questions about Apple software on Windows?
		</title>
	<head>
	<body id = 'pagebody'><p>Or is the site specifically for Apple OS and Apple Software (3rd party or otherwise)?</p>


<h1>ANSWERS</h1>
		<p>I feel that Apple software is pertinent. It runs on many devices and platforms, if you have an issue with Safari on XP that is applicable as it falls under the "Apple" umbrella.</p>


<p>I would think that issues related to something like Parellels or VMWare Fusion, running Windows on the Mac should be allowed.  But not for a purely Windows side issue, but rather for items unique to running Windows in a VM on a Mac.</p>


	</body>
</html>