<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can I ask a question asking for iPhone pre-purchase advice?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1835" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::32</h3>
				<h2>Can I ask a question asking for iPhone pre-purchase advice?</h2>
<p>I have a question I'd like to ask before purchasing a new iPhone that involves advice about switching carriers, carrier reception, if in my circumstances I should be going through a physical store or online and through the carrier or Apple, and buyback or exchange programs. Is this ok? Would parts be ok to ask individually? Do I need to make sure they're broad enough to not apply only to me? What's acceptable for what I want to ask?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1835">Record</button>
				<button class="record-stop" id="stop-1835">Stop</button>
				<p id="recording-1835"></p>

<h1>Answers</h1>
			<br><div id = "ans-1836"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The main limit on what you can ask for this is making the question ask for answers that are opinion based or you ask too broad a question (see the help centre especially <a href="https://apple.stackexchange.com/help/dont-ask">here</a>)</p>

<p>You need to ask about one thing at a time and make it so that any answer is based on facts and not opinion. I don't think there is a problem if the question only applies to you but iy must be for a given reason.</p>

<p>I would not that mobile phone contracts are complex and subject to change at any time so I would suspect the cheapest way will change and is unanswerable.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1836">Record</button>
				<button class="record-stop" id="stop-1836">Stop</button>
				<p id="recording-1836"></p>
			<br><div id = "ans-1838"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I would hesitate to ask those sort of questions, they seem overly localised, very much point in time, and potentially of little re-use for future visitors.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1838">Record</button>
				<button class="record-stop" id="stop-1838">Stop</button>
				<p id="recording-1838"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>