<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can we make the AskDifferent blog more easily accessible?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can we make the AskDifferent blog more easily accessible?</h2>
<p>I just wanted to go to the blog in order to leave a comment. </p>

<p>However, it really took me a while just to get there! <strong>I simply could not find a link.</strong></p>

<p><strong>How come the blog is so hardly accessible? What can we do about this?</strong></p>

<p>I vote for creating a placeholder at the top - next to review, chat, meta, about and faq.</p>

<p><img src="https://i.stack.imgur.com/n4YQN.jpg" alt="enter image description here"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I will note that in the current implementation, a 'blog' link is added to the header navigation with a 'NEW' stamp next to it for 24 hours following a new post on the Ask Different blog. But after that 24 hours? Poof. Back to only the footer.</p>

<p><em>Note:</em> Per Rebecca Chernoff's comment, blog links on the main site go to the <a href="http://apple.blogoverflow.com" rel="nofollow">Ask Different blog</a> where blog links on the meta site go to the <a href="http://blog.stackexchange.com/">Stack Exchange blog</a>.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>