<html>
	<head>
		<title id = 'pagetitle'>Can we get a banner in memory of Steve Jobs on Ask Different?
		</title>
	<head>
	<body id = 'pagebody'><p>Can we add a banner on Ask Different in memory of Steve Jobs? RIP.</p>

<p><img src="https://i.stack.imgur.com/u0O8g.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>I've posted a banner</p>

<blockquote>
  <p>Steve Jobs <a href="http://apple.com/stevejobs" rel="nofollow">passed away</a> on October 5th, 2011. Rest in peace.</p>
</blockquote>

<p>I'm open to suggestions on the wording/links.</p>


	</body>
</html>