<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Can someone create a Nook tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1296" class = "post">
			<h2>Question</h2>
			<div id="vote-1296" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 37</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can someone create a Nook tag?</h2>
<p>I have insufficient rep to create a tag.  I'd like the Nook tag to be attached to <a href="https://apple.stackexchange.com/questions/50625/nook-comics-on-ipad">this question</a>.  Thanks in advance.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1296">Load Comments</button></br>
			<div id = "commentsection-1296" class = 'collapse'>
			<div id = "comment-2454" class = "comment">
				<p>I like this type of request on meta if it's not clear we even need a tag. If you can find a few questions between 3 and 8 that already could use the tag in question, please add them and we can also see about making it less likely that well target it for cleanup and deletion.</p>
			</div>
			<div id = "comment-2457" class = "comment">
				<p>I would also like to thank you Keen for actually *using* the meta site! It's not often that we have new users here asking questions, or just new questions in general.</p>
			</div>
			<div id = "comment-2459" class = "comment">
				<p>@daviesgeek I'm pretty familiar with SE. :)</p>
			</div>
			<div id = "comment-2460" class = "comment">
				<p>@Keen Great! I just noticed you're a mod on SF/F, so that would explain it!</p>
			</div>
			</div>
				<textarea id = "speech-1296" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1296">
					<img id="start_img-1296" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1297"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1297" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've <a href="https://apple.stackexchange.com/posts/50625/revisions">edited your question</a> to add <a href="https://apple.stackexchange.com/questions/tagged/nook" class="post-tag" title="show questions tagged &#39;nook&#39;" rel="tag">nook</a> to the tags.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1297">Load Comments</button></br>
			<div id = "commentsection-1297" class = 'collapse'>
			<div id = "comment-2451" class = "comment">
				<p>Good call, I'll do that in the future.  Thanks!</p>
			</div>
			<div id = "comment-2452" class = "comment">
				<p>@Keen No problem!</p>
			</div>
			<div id = "comment-2453" class = "comment">
				<p>@daviesgeek while your method would probably work in practice, a meta post requesting the tag is likely the "right" way to do it.</p>
			</div>
			<div id = "comment-2455" class = "comment">
				<p>@DanielLawson I just realized that the meta site was probably the official way to do it.</p>
			</div>
			<div id = "comment-2456" class = "comment">
				<p>@Keen See Daniel's comment.</p>
			</div>
			<div id = "comment-2458" class = "comment">
				<p>Yup, I read it.</p>
			</div>
			</div>
				<textarea id = "speech-1297" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1297">
					<img id="start_img-1297" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>