<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can Ask Different Blog administrators add custom CSS?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can Ask Different Blog administrators add custom CSS?</h2>
<p>There are times when it would be very useful to be able to use custom CSS for a blog post.</p>

<p>Under the blog's Dashboard-> Appearance-> Stack Exchange Options, I see a <code>CSS Folder</code> option. Does that mean that the administrators can add CSS?</p>

<p>If so, how can we access that folder?<br>
If not, is there a way we can work things out so that this is possible?</p>

<p>Some use cases for this:</p>

<ul>
<li>We want to add some global styling that isn't part of the theme (think podcast player, App Store links, etc.)</li>
<li>We want to do a one-off thing for a particular post that's more complex than the theme offers (think two side-by-side images, some huge text, or something colorful).</li>
<li>We need to put a quick bug fix or patch in place so that we can get a post out (this would just be temporary until SE can deploy a fix).</li>
</ul>

<p><strong>Update:</strong></p>

<p>I've tested and found that I can include some inline styles (<code>&lt;span style="color: green;"&gt;hello world&lt;/span&gt;</code> works).<br>
But, it appears that this styling is subject to a whitelist (<code>overflow-x: scroll;</code> is stripped).<br>
Inline styles, of course, also don't allow us to make our own classes to reuse (think stuff we do a lot, like podcast guests' photos, a potential inline audio player, etc).</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>No, there is not a means for this to be done via the ui.  That option is part of our custom theme, but it isn't for enabling css to be changed by admins.</p>

<p>I'm not seeing a need to open this up.  I'd want to see a compelling case calling for it.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>