<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can I ask about not-yet-publicly released OS?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1331" class = "post">
			<h2>Question</h2>
			<h3>Score ::24</h3>
			<h3>Views ::2664</h3>
				<h2>Can I ask about not-yet-publicly released OS?</h2>
<p>Apple generally pre-announces its latest and greatest operating system, and seeded copies to developers, but the operating system is not yet shipping to the general public. This can last for months and often causes confusion when some questions get closed and others do not.</p>

<p>Are questions about any upcoming releases within the scope of the site at this point in time? For an example of a question that was closed as off topic for Ask Different see <a href="https://apple.stackexchange.com/questions/53453/do-not-disturb-vs-silent-switch">this question</a>.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1331">Record</button>
				<button class="record-stop" id="stop-1331">Stop</button>
				<p id="recording-1331"></p>

<h1>Answers</h1>
			<br><div id = "ans-1332"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::26</h3>
				<p><p><strong><em>Please do not</em></strong> <em>unless you ask on chat or flag for a moderator.</em> We would rather help edit it if you have any doubts if it will be on-topic. The reasons why are listed below, but if your question revolves around speculation or items that will be clear the day after launch, please hold these questions until the experts can answer them with authority and on the record. </p>

<p><a href="https://apple.meta.stackexchange.com/a/1115/9388">Kyle Cronin's answer about Mountain Lion</a> seems to apply fully here to questions about other pending versions as well.</p>

<p>While it is possible that there is a question about [generic future OS] that would be appropriate for this site, the overwhelming majority of [generic future OS] questions will be closed because</p>

<ol>
<li><p>[generic future OS] is not yet a shipping product, and as such, its features may change before it ships. Any questions answered about the <em>current</em> state of [generic future OS] could easily not be accurate by the time the product ships. As such, these questions are <strong>too localized</strong>.</p></li>
<li><p>Questions about what features it <em>will</em> contain in the future when it is released are speculative; no one knows (not even Apple engineers) what the final shipping version of the product will be. So questions asking about what features <em>will be</em> in the final version are <strong>not a real question</strong> that can be answered.</p></li>
<li><p>Questions about the specifics of [generic future OS] are in most cases unanswerable except by people who have signed a <strong>Non-disclosure Agreement</strong>. Both the answerer and the site could get into trouble if we allow answers to be posted here that violate such an agreement.</p></li>
<li><p>The small set of questions that ask about publicly available information tend to be both localized in time (not relevant once the product actually ships) and lend themselves to a very short answer. Questions like "Has Apple publicly announced a timeline for the next version of iOS?" do not violate an NDA, but really lend themselves to a one-sentence answer; these are not the sorts of questions we want to encourage on this site.</p></li>
</ol>

<p>While questions will be considered on a case-by-case basis, I find it unlikely that any [generic future OS] questions posted in the near future will remain open on the site. If you have a counterexample of a question that invites a long answer, is likely to be stable even after the software is complete, and can be answered without risking violating an NDA, I'd love to hear about it, but I remain skeptical that a good question will emerge.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2523" class = "comment">
				<p>And I would add - specifically with iOS 6 being the current foil - nothing in the particular circumstances here seem to merit any exception to the rule. Anyone who legitimately can run iOS6 has Apple's discussion boards for assistance and seeding the site with speculation seems not worth encouraging any questions on software that isn't finished.</p>
			</div>
			<div id = "comment-2524" class = "comment">
				<p>@bmike People with access to iOS6 are explicitly **not** who am expecting to generate the legitimate questions here. Someone making plans for the future who wants to know if current hardware will support desired feature `x` is more who I had in mind.</p>
			</div>
			<div id = "comment-2525" class = "comment">
				<p>Point 1 is the single reason I closed the question in the first place. I should have picked too localized and not off topic. I also explained it poorly in the question itself. Apologies all around.</p>
			</div>
			<div id = "comment-2526" class = "comment">
				<p>Precisely. Questions will be asked, but we optimize primarily for _great answers_. So now we have a situation where in good faith someone asks a good question but everyone that _knows_ the answer can't (or shouldn't) answer due to their word being pledged to not divulge NDA.</p>
			</div>
			<div id = "comment-2595" class = "comment">
				<p>"  to know if current hardware will support desired feature `x` "   such things can not be known with certainty until after Apple publishes an answer.</p>
			</div>
			<div id = "comment-2611" class = "comment">
				<p>@GrahamPerrin exactly. Occasionally Apple publishes such answers. Frequently they do not.</p>
			</div>
			<div id = "comment-2613" class = "comment">
				<p>I'm with you @DanielLawson on the main answer. It's great that we're sympathetic/empathetic to people making plans but whatever a person's plan, it shouldn't change the nature of this meta answer. Patience pays dividends in terms of quality Q&A :-)</p>
			</div>
			<div id = "comment-3341" class = "comment">
				<p>Just wanted to raise an objection to this. This site is not owned by apple and many of its users are not bound by any such NDA and might be able to provide assistance to those who need it.  This site should not pretend to be an official pr channel for Apple</p>
			</div>
			<div id = "comment-3342" class = "comment">
				<p>@NeilNeyman It has nothing to do with PR, and we clearly aren't an official anything for Apple. But pre-release software is only distributed to people who agree to non-disclosure terms, whether through the developers' program or something else. I'm not bound by an NDA, and neither are a lot of people, but pre-release software is not yet stable and the answers are likely to change as the software continues to develop.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1332">Record</button>
				<button class="record-stop" id="stop-1332">Stop</button>
				<p id="recording-1332"></p>
			<br><div id = "ans-1361"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Whenever deciding whether Ask Different should allow or close:</p>

<ul>
<li>consider whether Apple makes the allowance. </li>
</ul>

<hr>

<h2>Allowance of questions that may be asked in public</h2>

<p>If Apple provides a public area for discussion of an Apple product, then Ask Different should not close or delete questions about that product.</p>

<h2>Closure of questions that should be asked in private</h2>

<p><a href="https://appleseed.apple.com/cgi-bin/WebObjects/SeedPortal" rel="nofollow">AppleSeed</a> participants should <a href="https://appleseed.apple.com/cgi-bin/WebObjects/SeedPortal.woa/wa/faq" rel="nofollow">use the discussion board</a>. </p>

<p>Mac Developer Program members should use <a href="http://devforums.apple.com/" rel="nofollow">Apple Developer Forums</a> and other areas designated by Apple. </p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3437" class = "comment">
				<p>Plus one for listing more than just the developer option for software being beta or prerelease.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1361">Record</button>
				<button class="record-stop" id="stop-1361">Stop</button>
				<p id="recording-1361"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>