<html>
	<head>
		<title id = 'pagetitle'>Can we establish official rules for community wiki questions?
		</title>
	<head>
	<body id = 'pagebody'><p>I have noticed that the majority of large community wiki questions have rules for posting. However, they aren't standard rules. Can we establish some official rules for community wiki questions?</p>

<p>My set of rules would be something like this:</p>

<ol>
<li>Check to see if there are duplicates in this post by typing in the search box: <code>inquestion:this searchTerm</code></li>
<li>Include only one <code>&lt;fill in the blank&gt;</code> in each anwer.</li>
<li>Include a description of the <code>&lt;fill in the blank&gt;</code>, its pros/cons, and why you use it.</li>
</ol>

<p>For apps, etc., I would also add these rules:</p>

<ol>
<li>Link to the developer's website, rather than a direct download page.</li>
<li>Cite the application name like such: <code>#appName by [developer]</code></li>
<li>Please do not give a price because that can localize your answer too much.</li>
</ol>

<p>Another thing I would add is that unless your community wiki is a really helpful list, it <strong><em>will</em></strong> be closed. </p>


<h1>ANSWERS</h1>
		<p>Those kind of questions are "frowned upon" in most of the sites (read: banned completely).</p>

<p>Here, some are still tolerated but more and more user are trying to get rid of them (and I'm one of them).</p>

<p>Those kind of question, <em>can</em> of course be nice to have. But on the whole, they're more work than they're worth. With people not respecting the rules (even when told explicitly on the first post). And they're more likely to get obsolete, since they're very vague to begin with.</p>

<p>So that's why I don't think it's worth having official rule, since they're not here to stay.</p>


<p>I personally don't see the use for most of these questions.  I see them as merely a way of showing our favourite tricks and tips which are in the end more of an ego stroke than there for the express purpose of assisting users with problems.  This is a Q&amp;A site, not a discussion forum, and as such the only people who gain any benefit from them are regular users who are here to (if only as a side effect) expand upon their own knowledge for no other reason than curiosity.</p>

<p>I can't see a scenario where a user will stumble upon one of these answers as a way of answering a problem that they have come to the site to ask.</p>

<p>I think if anything, the setting of one of these questions should be strictly limited to ensure it's set correctly, and isn;t subsequently closed after a few answers as it was never a good choice.  A good example was the "what would make Safari perfect" thread, which was a) framed badly (It should have been titled something like "What needs improving/adding to Safari to make it better"), and b) closed before it got a head of steam up as being of low quality.  Perhaps a moderator would have to approve such questions in the future, and have them on a set schedule, one a week starting each Monday for example?  This way we could agree on a schedule of future questions to ensure that the most popular ones are agreed before appearing on the site, and we can plan to introcude a core of knowledge tat isn't Q&amp;A rather than let it just appears without due consideration of the aims of the site.</p>


	</body>
</html>