<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Can we open questions about Mountain Lion before it is released to the general public?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1114" class = "post">
			<h2>Question</h2>
			<div id="vote-1114" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 818</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can we open questions about Mountain Lion before it is released to the general public?</h2>
<p>Some questions about this software have been closed as it is not released,</p>

<p>However the OS has been released to developers. This means there is a chance we can have questions answered by anyone with the system.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1114">Load Comments</button></br>
			<div id = "commentsection-1114" class = 'collapse'>
			<div id = "comment-2015" class = "comment">
				<p>Please reconsider down voting any question if you feel the answer should be no. Instead - up vote the question to acknowledge that the answer is important. Down vote a yes answer and up voting a no answer will let others know the sentiment of the site. By down voting this, you are burying the issue on meta rather than raising it up for all to see...</p>
			</div>
			<div id = "comment-2637" class = "comment">
				<p>Since release, questions about prerelease questions are **no longer frequent**. [Can I ask questions about a not-yet-publicly released version of an Apple Operating System like iOS 6?](http://meta.apple.stackexchange.com/q/1331/8546) is more current and links to this question, so I suggest removing the *faq* tag from this question. Let's keep [Ask Different meta FAQ](http://meta.apple.stackexchange.com/questions/tagged/faq) current and uncluttered, especially since there's *another* [Ask Different meta FAQ](http://meta.apple.stackexchange.com/faq).</p>
			</div>
			<div id = "comment-3117" class = "comment">
				<p>One should read the NDA on 10.8.4 very carefully</p>
			</div>
			</div>
				<textarea id = "speech-1114" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1114">
					<img id="start_img-1114" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1114">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1115"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1115" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">34</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a few reasons why questions about pre-release software is off-topic for Ask Different:</p>

<ol>
<li><p>A lot of companies, most notably Apple, require everyone with access to pre-release software to sign an NDA. Anyone that asks or answers questions about software covered under this NDA are in violation of its terms, and I don't think having open questions on the site tempting users to break their NDA is a very fair thing for Ask Different to do.</p></li>
<li><p>Pre-release software often isn't even <em>complete</em>. This means that the answers to the questions can change before the software is even released. Granted, answers to questions about released software do sometimes change over time, but not with the volatility of pre-release software.</p></li>
<li><p>Pre-release software often has many <em>bugs</em> that will get fixed before its released. This means that questions about application behavior or finding workarounds will be obsolete by the time the software is released.</p></li>
</ol>

<p>It's possible that there are questions about pre-release software that aren't affected by any of these rules, but most are by at least one and it's easier to have a blanket policy against such questions than to have to decide for each one.</p>

<p>With regard to the questions about Mountain Lion, #1 definitely applies, as well as #3. #2 may not apply to announced features, but they could still conceivably change before it's released this summer. (I remember when Apple announced ZFS for Mac OS X Server and it went nowhere)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1115">Load Comments</button></br>
			<div id = "commentsection-1115" class = 'collapse'>
			<div id = "comment-2011" class = "comment">
				<p>For clarity, part of http://apple.stackexchange.com/faq#questions should be moved to http://apple.stackexchange.com/faq#dontask (with a little rephrasing).</p>
			</div>
			<div id = "comment-2012" class = "comment">
				<p>Exactly. Questions about pre-release software are almost all too localized, because pre-release software changes so fast and has so many bugs.</p>
			</div>
			<div id = "comment-2013" class = "comment">
				<p>@GrahamPerrin I would if I could, however mods can only edit the questions section of the FAQ</p>
			</div>
			<div id = "comment-2016" class = "comment">
				<p>And darn that Apple for releasing a beta version of Messages app on OSX. It isn't going to be localized to less than 6 months of use for the general public given the release schedule as communicated. It also joins Siri as another beta service that is shipping today and users will expect to use and have questions fielded somewhere.</p>
			</div>
			<div id = "comment-2017" class = "comment">
				<p>@bmike I'm on the fence about allowing questions about Messages. Yes, it's technically pre-release, but I'd argue in name only. The software has been released and is intended for wide adoption.</p>
			</div>
			<div id = "comment-2018" class = "comment">
				<p>I feel strongly that Siri and Messages for OSX should be immediately and explicitly on topic and their tag wikis updated accordingly. See http://meta.apple.stackexchange.com/questions/1119/despite-the-general-rule-to-not-answer-questions-about-beta-products-should-we for consensus building and discussion :-)</p>
			</div>
			<div id = "comment-2033" class = "comment">
				<p>I would post a response to the question, except that I agree wholeheartedly with Kyle's response here and have nothing to add. Meta is the appropriate place to argue for breaking precedent, but in this case, I believe we are well served by following our general rule that pre-release software is off-topic. In contrast with, say, the example linked in the previous comment.</p>
			</div>
			<div id = "comment-2473" class = "comment">
				<p>Kyle: curious why the NDA issue is a non-factor over at SO, but is a factor here. Thoughts?</p>
			</div>
			<div id = "comment-2474" class = "comment">
				<p>@p.campbell For the longest time I was ambivalent about allowing questions covered by an NDA on Ask Different, but someone made the case to me that it was unfair to dangle a question whose answer was protected by an NDA in front of those who have signed one, tempting them to break it. Besides, NDA'd software is usually also feature-incomplete and buggy, both of which are generally discouraged/disallowed as well.</p>
			</div>
			<div id = "comment-2520" class = "comment">
				<p>I think that - with today's announcements - we should begin opening limited Mountain Lion questions. (In particular, on the [Tech Specs](http://www.apple.com/osx/specs/) page, Apple publicly lists the supported machines.)</p>
			</div>
			</div>
				<textarea id = "speech-1115" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1115">
					<img id="start_img-1115" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1115">Comment</button>
			<br><div id = "ans-1117"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1117" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Along with Kyle's points about Ask Different policies, I favor having Mountain Lion pre-release issues reported directly to Apple rather than discussed here, because this ultimately helps Apple improve the software before it is released.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1117">Load Comments</button></br>
			<div id = "commentsection-1117" class = 'collapse'>
			<div id = "comment-2032" class = "comment">
				<p>This is a false dichotomy. Raising an issue here doesn't preclude reporting it to Apple, and vice versa.</p>
			</div>
			</div>
				<textarea id = "speech-1117" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1117">
					<img id="start_img-1117" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1117">Comment</button>
			<br><div id = "ans-1118"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1118" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Whenever deciding whether Ask Different should allow or close:</p>

<ul>
<li>consider whether Apple makes the allowance. </li>
</ul>

<hr>

<h2>Allowance of questions that may be asked in public</h2>

<p>If Apple provides a public area for discussion of an Apple product, then Ask Different should not close or delete questions about that product.</p>

<p>Example: <a href="https://apple.meta.stackexchange.com/a/1268/8546">for Messages, Apple provided a discussion area</a> long before the release of OS X 10.8 with Messages.</p>

<h2>Closure of questions that should be asked in private</h2>

<p><a href="https://appleseed.apple.com/cgi-bin/WebObjects/SeedPortal" rel="nofollow noreferrer">AppleSeed</a> participants should <a href="https://appleseed.apple.com/cgi-bin/WebObjects/SeedPortal.woa/wa/faq" rel="nofollow noreferrer">use the discussion board</a>. </p>

<p>Mac Developer Program members should use <a href="http://devforums.apple.com/" rel="nofollow noreferrer">Apple Developer Forums</a> and other areas designated by Apple. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1118">Load Comments</button></br>
			<div id = "commentsection-1118" class = 'collapse'>
			<div id = "comment-2031" class = "comment">
				<p>This is true, but citing the FAQ on meta is rather backward. The point of the meta discussion is to propose changing the scope of the site, which is then documented in the FAQ. The meta discussion determines what the FAQ should say, not the other way around.</p>
			</div>
			<div id = "comment-2035" class = "comment">
				<p>Sorry, I was disoriented. Didn't realise that we're in meta!</p>
			</div>
			</div>
				<textarea id = "speech-1118" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1118">
					<img id="start_img-1118" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1118">Comment</button>
			<br><div id = "ans-1177"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1177" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have legitimate access to install and run Mountain Lion, then by definition you have a dedicated support area that is <em>highly targeted</em> towards discussion of it without the sorts of arbitrary limits of scope that we (rightly) have here.</p>

<p>Anyone who has a genuine question about ML that is more than curiosity for the purposes of being a Beta Hero at home is either ignoring the most suitable resource which they have paid cold hard cash for, or has managed to grab a copy by <em>other means</em>.</p>

<p>It's all about knowing your audience.  Anyone can buy an iPod, iPods are on topic for community crowd sourced support on an unofficial forum like this.  Likewise, anyone can join the developer program, but that doesn't mean the same rules apply.  The audience is markedly different.  Allowing such Beta questions restricts said questions to a minority portion of the audience, which means that only a tiny proportion of users can have valid input or view for the purpose of answering or even voting, and worse still <em>at the risk of alienating that audience that sees this place as an accessible place to look for help and doesn't want to see a whole load of minimally useful stuff that they don't understand or care about which is likely to become outdated or inappropriate very quickly floating to the top</em>.</p>

<p>I am a member of the developer program, and I wouldn't dream of asking any questions I have about it anywhere other than the official place.  I've paid for that support, I have not only a right to use it, but an expectation to see anything I do ask answered appropriately.  I don't have the same expectation of a free site on the internet, even a quality one like here.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1177">Load Comments</button></br>
			<div id = "commentsection-1177" class = 'collapse'>
			<div id = "comment-2406" class = "comment">
				<p>Now I want to play a "Beta Hero" game. I'm imagining something like Guitar Hero, but you have to hit the notes the instant they come onscreen and if you get a note wrong there's a 1:1,000,000 chance your Xbox catches on fire.</p>
			</div>
			</div>
				<textarea id = "speech-1177" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1177">
					<img id="start_img-1177" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1177">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>