<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can DHCP be removed as Tag Synonym for Networking?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can DHCP be removed as Tag Synonym for Networking?</h2>
<p>Networking is very general and large, DHCP will narrow it much down. </p>

<p>As DHCP is a dynamically created range of IP which will be automatically assigned to a device.
Networking on the other hand is very large.</p>

<p>If a user decides to enter the Tag DHCP it will be a much easier subject to handle than just Networking.</p>

<p>I'll add an excerpt and other information if it can be done.</p>

<hr>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/networking" class="post-tag" title="show questions tagged &#39;networking&#39;" rel="tag">networking</a> (1121 tagged)</p>

<blockquote>
  <p>Questions about configuring, troubleshooting or using connections that one device uses to talk to another.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/dhcp" class="post-tag" title="show questions tagged &#39;dhcp&#39;" rel="tag">dhcp</a> (synonym, 2 renames)</p></li>
</ul>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Personally I disagree with this, since every question tagged <em>dhcp</em> should be tagged <em>networking</em> anyway and if someone tags with <em>dhcp</em> but not <em>networking</em> then the question may be missed by those that are following the <em>networking</em> tag (this would mean that one would have to follow two tags) and would probably lead to the question being edited to add the <em>networking</em> tag.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>