<html>
	<head>
		<title id = 'pagetitle'>Can we add iOS-like scrollbars to this site?
		</title>
	<head>
	<body id = 'pagebody'><p>I know that people using Lion will have nice, pretty scrollbars, but what about those of us who don't have Lion? I was wondering if we can add some iOS-like scrollbars to the site. I think that it would add more personality to the site.<br>
Example <a href="http://css-tricks.com/examples/WebKitScrollbars/" rel="nofollow noreferrer">here</a>:</p>

<p><img src="https://i.stack.imgur.com/eRc8W.png" alt="custom scrollbar"></p>

<p>Obviously we'd have to make the scrollbars grey...but that's simple.</p>

<p>EDIT: Here's the code:</p>

<pre><code>/* For the "inset" look only */
html {
    overflow: auto;
}
body {
    position: absolute;
    top: 1px;
    bottom: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Start Scrollbar */
::-webkit-scrollbar {
    width: 10px;
} 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 45px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
/* End Scrollbar */
</code></pre>

<p>Which gives you this:</p>

<p><img src="https://i.stack.imgur.com/lRf9i.png" alt="Lion scrollbar"></p>


<h1>ANSWERS</h1>
		<p>I copied the code from above into a user stylesheet on <a href="http://userstyles.org/" rel="nofollow">userstyles.org</a>.</p>

<p>If you want to try the scrollbars out, you can install <a href="https://chrome.google.com/webstore/detail/fjnbnpbmkenffdnngjfgmeleoegfcffe" rel="nofollow">Stylish for Chrome</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/stylish/?src=external-userstyleshome" rel="nofollow">for Firefox</a>.<br>
Go to <a href="http://userstyles.org/styles/58387/ask-different-lion-scrollbars" rel="nofollow">the stylesheet</a> and click Install.</p>

<hr>

<p>Here's my personal opinion:<br>
While I don't think that Lion's scrollbars are ugly, I do think that people should be able to use whatever scrollbars they like, be that their OS's scrollbars, their browser's scrollbars, or a custom stylesheet. Generally, sites that override that without a very good reason end up just being annoying</p>


	</body>
</html>