<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>can we have Tag Icons
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-937" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::58</h3>
				<h2>can we have Tag Icons</h2>
<p>On Stack Overflow the facebook, Android, and adobe <a href="https://stackoverflow.com/tags?page=2&amp;tab=popular">tags have icons on</a>, could we allow Icons for tags such as iTunes, App Store, Bluetooth, Mail.app, etc?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-937">Load Comments</button></br>
			<div id = "commentsection-937" class = 'collapse'>
			<div id = "comment-1704" class = "comment">
				<p>I'm curious what the use case for these icons would be? I personally don't like them at all, but perhaps I'm not seeing the benefit?</p>
			</div>
			<div id = "comment-1705" class = "comment">
				<p>just an aesthetic. It does help in some instances such as the Adobe programs all having the Adobe icon.</p>
			</div>
			</div>
				<textarea id = "speech-937" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-937">
					<img id="start_img-937" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-939"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>Tag icons are sponsored. Companies purchase the right to put their icon on a tag for a period of time. As far as I am aware this is currently only done on StackOverflow, and not on the rest of the network.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-939">Load Comments</button></br>
			<div id = "commentsection-939" class = 'collapse'>
			<div id = "comment-1702" class = "comment">
				<p>Thanks, I can't see apple doing that anytime, shame, never mind.</p>
			</div>
			<div id = "comment-1732" class = "comment">
				<p>How do you know this? Where did you get to know this?</p>
			</div>
			<div id = "comment-1734" class = "comment">
				<p>@Matt Apart from being involved with SE since it first started, from the official FAQ: http://meta.stackexchange.com/questions/30187/what-do-icons-on-the-tags-mean</p>
			</div>
			<div id = "comment-1735" class = "comment">
				<p>Very nice. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-939" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-939">
					<img id="start_img-939" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>