<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can we ask iOS 11 related questions already?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can we ask iOS 11 related questions already?</h2>
<p>I just noticed this iOS 11 related question <a href="https://apple.stackexchange.com/questions/285902/how-do-i-enable-the-one-handed-keyboard">How do I enable the one-handed keyboard?</a> on Apple.SE, Is this allowed already?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<h1>YES</h1>

<p>See <a href="https://apple.meta.stackexchange.com/questions/2707/what-happened-to-the-beta-ban">What happened to the &quot;beta ban&quot;?</a> for details. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>