<html>
	<head>
		<title id = 'pagetitle'>Can anyone point to a reason to ban virtualized OS on the site?
		</title>
	<head>
	<body id = 'pagebody'><p>Our help section has a prohibition on "hackintosh" questions where I believe the intent is to avoid low value, low quality questions about driver support.</p>

<p><a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a></p>

<blockquote>
  <p>Installing or using Apple operating systems on non-Apple hardware (and most other explicitly unlicensed use of product)</p>
</blockquote>

<p>Would it be helpful to explicitly mention virtualization as either on-topic or off-topic or just leave things as stated - focus on the hardware and close topics that aren't about virtualizing directly onto Mac hardware per the strict reading of the current help section?</p>

<p>Here are a few questions we've had under this category:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/100726/playing-videos-on-virtualbox-macos-x-guest-on-ubuntu-13-04-as-host">Playing videos on VirtualBox Mac OS X guest on Ubuntu 13.04 as host</a></li>
<li><a href="https://apple.stackexchange.com/questions/99433/moving-fusion-vms-to-esxi">Moving Fusion VMs to ESXi</a></li>
<li><a href="https://apple.stackexchange.com/questions/86304/can-mountain-lion-os-x-run-on-hp-g62-series-using-vmware-virtualization">Can Mountain Lion OS X run on HP G62 series using VMWare virtualization?</a></li>
<li><a href="https://apple.stackexchange.com/questions/51846/how-to-get-mac-os-x-to-run-in-a-vm-on-windows">How to get Mac OS X to run in a VM on Windows</a></li>
<li><a href="https://apple.stackexchange.com/questions/29065/installing-ios-on-vmware-workstation">Installing iOS on VMware Workstation</a></li>
<li><a href="https://apple.stackexchange.com/questions/20965/does-apples-license-for-os-x-allow-it-to-be-virtualized-on-an-hp-pc">Does Apple&#39;s license for OS X allow it to be virtualized on an HP PC?</a></li>
</ul>

<p>Also unlicensed are these questions:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/64961/is-it-possible-to-install-mac-os-9-on-a-vm">Is it possible to install Mac OS 9 on a VM?</a></li>
</ul>


<h1>ANSWERS</h1>
		<p>As far as I can read the Apple License (and I am not a lawyer), installing Apple operating systems in a virtualized environment is permitted by the terms of the license as long as the virtualized environment is running on Apple-branded hardware. Running a virtualized system on non-Apple hardware <em>is</em> "explicitly unlicensed use of product".</p>

<p>If we want to keep that as our bright line test (and I'm indifferent to that as a standard, but it is our current one), then I'd say questions about installing OS X in a virtualized environment <em>in general</em> are on-topic here, because they could apply to a licensed use of OS X. If one can run Linux on a Mac (and a quick Google search indicates that this seems to be possible), then running OS X virtualized on a Mac that is running Linux would be a licensed use of the product, and thus on-topic for the site.</p>

<p>Questions specific to running OS X virtualized on Linux on, say, a Dell or a Wang or ENIAC would be off-topic because they explicitly violate the license agreement.</p>

<p>So my reading of the current standards is that because one could run Linux on a Mac and then legitimately virtualize OS X on top of that, the question is on-topic and needs no update to the FAQ.</p>

<p>Going through your examples,
the <a href="https://apple.stackexchange.com/questions/100726/playing-videos-on-virtualbox-macos-x-guest-on-ubuntu-13-04-as-host">first one</a> is on-topic as is; Ubuntu can run on a Mac, so an end user entirely within the scope of Apple's license could be helped by this answer.</p>

<p>The <a href="https://apple.stackexchange.com/questions/99433/moving-fusion-vms-to-esxi">second one</a> is explicitly run on a Mac. The Apple terms say the software is licensed to run on Apple hardware, and that's what's being done.</p>

<p>The <a href="https://apple.stackexchange.com/questions/86304/can-mountain-lion-os-x-run-on-hp-g62-series-using-vmware-virtualization">third one</a> is off-topic; it's asking specifically about getting it to run on a HP computer. It might be editable to be on-topic, but if the problem is specific to the drivers needed for the HP hardware, it's off-topic.</p>

<p>The <a href="https://apple.stackexchange.com/questions/51846/how-to-get-mac-os-x-to-run-in-a-vm-on-windows">fourth one</a> is on-topic. Windows can run on a Mac, so this answer could apply to someone running Mac OS X on Apple hardware.</p>

<p>The <a href="https://apple.stackexchange.com/questions/29065/installing-ios-on-vmware-workstation">fifth one</a> is leaning toward off-topic as written, but edit "I have a Windows PC" to "I have a computer running Windows" and we're back in on-topic territory.</p>

<p>The <a href="https://apple.stackexchange.com/questions/20965/does-apples-license-for-os-x-allow-it-to-be-virtualized-on-an-hp-pc">sixth one</a> is clearly on-topic; it's asking what the license allows, rather than asking how to do something not permitted.</p>


<p>Can think of various reasons NOT to ban them, I think a better direction is to take a good look at the on-topic section, and look to review and clarify existing content, and then expand it maybe to include a mini FAQ and/or example Q&amp;A for all contentious portions (Virtualised OS, Developer Programs/iTunes Connect, NDA covered topics etc) to make it a bit more useful on the whole.</p>

<p>I think the hackintosh subject is very quiet these days, both on the site and general in terms of internet chatter, but we see plenty of questions regarding other issues that are off topic far more regularly.</p>


	</body>
</html>