<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can I ask this question related to Steve Jobs in the main site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-743" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::145</h3>
				<h2>Can I ask this question related to Steve Jobs in the main site?</h2>
<p>Can I ask a question in the main site to users about their best quote or memories from <strong><em>Steve Jobs</em></strong>. This would be way off-topic from the approved list of topics in the site. </p>

<p>I wanted to double check since we are talking about <strong><em>Steve Jobs</em></strong> here :) </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-743">Load Comments</button></br>
			<div id = "commentsection-743" class = 'collapse'>
			<div id = "comment-1368" class = "comment">
				<p>Are the down voters upset that this is being asked (or the form of the question) or just voting instead of answering no to the question? I thought the practice is to up vote a relevant question even if the answer to that question is no.</p>
			</div>
			</div>
				<textarea id = "speech-743" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-743">
					<img id="start_img-743" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-744"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::15</h3>
				<p><h2>Main Site:</h2>

<p>This question isn't really asking a question about Apple hardware and software, so it's inherently off-topic.</p>

<p>What's more, it would have to be a Community Wiki since there is no one 'right answer'.<br>
The current attitude about CW is generally against (see <a href="https://apple.meta.stackexchange.com/questions/697/how-to-kill-off-community-wiki-entries">How to kill off 'community wiki' entries</a> and <a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">The future of community wiki</a>).</p>

<p>Since this wouldn't be a particularly educational CW, nor relevant to the core of this site (questions about Apple hardware and software), I personally don't think it should be posted on the main site.</p>

<h2>Meta Site:</h2>

<p>Since this isn't, in any way, a question about the main site itself, it should not be posted on Meta.</p>

<h2>Other Option:</h2>

<p>I think that this would be  an interesting post. However, I don't believe that it would be a good fit for our Q&amp;A site.</p>

<p>If you're interested in getting the Ask Different community to discuss Steve Jobs, I think your best option is to <strong>create a chat room for it</strong>.<br>
Chat rooms have much looser scope than the rest of the site, and are especially designed for discussion.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-744">Load Comments</button></br>
			<div id = "commentsection-744" class = 'collapse'>
			<div id = "comment-1464" class = "comment">
				<p>+1 for chat room suggestion.</p>
			</div>
			</div>
				<textarea id = "speech-744" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-744">
					<img id="start_img-744" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>