<html>
	<head>
		<title id = 'pagetitle'>Can we get an early Data Explorer update for Ask Different, for playing with contest data?
		</title>
	<head>
	<body id = 'pagebody'><p>The <a href="http://data.stackexchange.com/apple/queries" rel="nofollow">Ask Different data</a> on Data Explorer was last updated before the contest opened. Is there a chance it could be updated sooner than next month, so we can worry ourselves sick trying to interpret and test the fine points of the rules? :)</p>


<h1>ANSWERS</h1>
		<p>It would be interesting as a single point for data, but it wouldn't be that helpful unless it was updated daily for the full next week.  </p>

<p>Besides, those that are really interested in playing the game can just go to each competitor's user page and do the work by hand.</p>

<p>I'm interested in seeing the slope of each's reputation, since that's what will matter by the end of the contest, as both level 2 and 3 will have more winners than prizes.</p>

<p>On the other hand, the stack exchange API would be able to provide that information for the interested programmer...</p>


<p>Can't you use the API? The documentation for the API includes a reasonably user friendly console for you to retrieve data, although the response is in JSON.</p>


	</body>
</html>