<html>
	<head>
		<title id = 'pagetitle'>Can I ask a question asking for iPhone pre-purchase advice?
		</title>
	<head>
	<body id = 'pagebody'><p>I have a question I'd like to ask before purchasing a new iPhone that involves advice about switching carriers, carrier reception, if in my circumstances I should be going through a physical store or online and through the carrier or Apple, and buyback or exchange programs. Is this ok? Would parts be ok to ask individually? Do I need to make sure they're broad enough to not apply only to me? What's acceptable for what I want to ask?</p>


<h1>ANSWERS</h1>
		<p>The main limit on what you can ask for this is making the question ask for answers that are opinion based or you ask too broad a question (see the help centre especially <a href="https://apple.stackexchange.com/help/dont-ask">here</a>)</p>

<p>You need to ask about one thing at a time and make it so that any answer is based on facts and not opinion. I don't think there is a problem if the question only applies to you but iy must be for a given reason.</p>

<p>I would not that mobile phone contracts are complex and subject to change at any time so I would suspect the cheapest way will change and is unanswerable.</p>


<p>I would hesitate to ask those sort of questions, they seem overly localised, very much point in time, and potentially of little re-use for future visitors.</p>


	</body>
</html>