<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Can I customize the Markdown editor's keyboard shortcuts?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2993" class = "post">
			<h2>Question</h2>
			<div id="vote-2993" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
				<h2>Can I customize the Markdown editor's keyboard shortcuts?</h2>
<p>It is a minor matter of comfort, but can I customize the Markdown editor on Ask Different?</p>

<p>In part of my research, I clicked my avatar at the top and then Settings > Preferences.  On that page there is a Keyboard shortcuts option, but that is not what I am after.  </p>

<p>I am very used to the key bindings that Safari provides on other sites, or even in the "Search Q&amp;A" box and the Title on Stack Exchange sites.  Some work but others do not.  For example, Control-K to kill to the end of the line gets intercepted for entering preformatted text, and Control-B to move Backward one character gets intercepted for strong text.  I am afraid I am an old school Emacser who prefers Control-B to left-arrow sometimes.  </p>

<p>I have some tolerable work-arounds for this, so I guess I'm mainly interested if there is a setting I haven't found, or if it is worthwhile making a feature request to our gracious hosts.  </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2993">Load Comments</button></br>
			<div id = "commentsection-2993" class = 'collapse'>
			<div id = "comment-6509" class = "comment">
				<p>What kind of experience do you have with JavaScript? A userscript might be a solution for this. I ll have a look into how the WMD works later.</p>
			</div>
			<div id = "comment-6510" class = "comment">
				<p>I've managed to disable the WMD listening to the keyboard shortcuts, but a side effect is it breaks the toolbar buttons, which isn't acceptable. I'll probably have another look again.</p>
			</div>
			<div id = "comment-6511" class = "comment">
				<p>I am new to JavaScript, but I'd be interested to see your partial solution.</p>
			</div>
			<div id = "comment-6512" class = "comment">
				<p>I've given an answer with as far as I've got with the research.</p>
			</div>
			</div>
				<textarea id = "speech-2993" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2993">
					<img id="start_img-2993" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2994"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2994" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is what I have found so far. The WMD's event listener function is anonymous, which means it can't be removed with <code>.removeEventListener(type, listener)</code>, and jQuery's <code>.off()</code> doesn't seem to have any effect, but I don't have enough experience with jQuery.</p>

<p>To remove all event listeners, I can use <code>$0.outerHTML = $0.outerHTML;</code> to replace the element, however this breaks the buttons on the toolbar.</p>

<p>The relevant section of code from the WMD (beautified) is:</p>



<pre><code>var y = "keydown";
g.isOpera &amp;&amp; (y = "keypress"), c.addEvent(v, y, function(e) {
    if ((e.ctrlKey || e.metaKey) &amp;&amp; !e.altKey &amp;&amp; !e.shiftKey) {
        var t = e.charCode || e.keyCode,
            n = String.fromCharCode(t).toLowerCase();
        switch (n) {
        [ ]
        case "k":
            l(b.code);
            break;
        case "g":
            l(b.image);
            break;
        [ ]
        default:
            return
        }
        e.preventDefault &amp;&amp; e.preventDefault(), window.event &amp;&amp; (window.event.returnValue = !1)
    }
})
</code></pre>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2994" class = 'collapse'>
			</div>
				<textarea id = "speech-2994" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2994">
					<img id="start_img-2994" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>