<html>
	<head>
		<title id = 'pagetitle'>Can we un-bump the old questions that get dug up by a "me too!" answer?
		</title>
	<head>
	<body id = 'pagebody'><p>I've seen many questions from several years ago get bumped because someone posts a new "answer," either a spam post or an "I have this issue too" post. Often we'll flag those "answers" into oblivion, but the question still stays bumped, drowning out newer questions that actually need some attention.</p>

<p>I'd like to request a feature in which questions that get bumps from these not-answers get sent back into the Ask Different archives where they belong. Thank you!</p>


<h1>ANSWERS</h1>
		<p>Nope. It's like a scab, picking at it again starts the oozing and we have to be patient for it to crust over again. I totally get the sentiment that we could have a band-aid to patch it over whilst it heals.</p>

<p>As far as the feature request - how would that work in practice? I'd consider a solution that was less harm than the bump and in this case, the bump got the correct reaction of negative votes to the poster. In effect, the system is working when people get direct feedback not to post dubious answers to old posts.</p>


	</body>
</html>