<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can I ask questions about selling my iPad?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1455" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::40</h3>
				<h2>Can I ask questions about selling my iPad?</h2>
<p>Can I ask questions about how best to sell my secondhand iPad 2? If not, is there a StackExchange site which would be better suited?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1455">Record</button>
				<button class="record-stop" id="stop-1455">Stop</button>
				<p id="recording-1455"></p>

<h1>Answers</h1>
			<br><div id = "ans-1456"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Have you read through the <a href="https://apple.stackexchange.com/faq">main site's faq</a> about "what not to ask" - I could see this easily being something too subjective or too local to one specific iPad and one moment in time, but I could also see a good question where there was some broad information that might help any seller. It depends a lot on how you word it. Do keep in mind, buying questions with the word "best" in it get flagged often.</p>

<p>Everyone has a diverse value that they put on their time (to sell, market, wait for a product, feel comfortable with the transaction) and also what makes sense in a US market with 4 Apple Retail stores would be wildly off in a different country where Apple products are not really sold openly and are very constrained, sold by others that mark them up substantially, etc...</p>

<p>The more objective and more you can relate the question to the technology and more the question is deep enough for someone to explain "why" one approach is better, the more likely the community will vote to keep it around.</p>

<p>These principles apply across the Stack Exchange site - so I'm not sure any site is a great fit for "the best way to sell X". If you think the question is one that will benefit the site in the long term, I say try asking it. Just realize it might get closed if it isn't seen as useful - but as long as you don't keep re-asking the same question after the first gets closed it shouldn't be a problem if the question as asked isn't kept open on the site.</p>

<p>You can search for some of the best questions related to selling and see they ask very practical, answerable questions and got some votes and some good answers.</p>

<p><a href="https://apple.stackexchange.com/search?q=selling">https://apple.stackexchange.com/search?q=selling</a></p>

<p>The ones you don't see are the "How can I make big BUX on my mint iPad 2 - buy it here before it goes...?" and other ill conceived means of trying to advertise a product for sale here.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1456">Record</button>
				<button class="record-stop" id="stop-1456">Stop</button>
				<p id="recording-1456"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>