<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can I ask this question related to Steve Jobs in the main site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-743" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::145</h3>
				<h2>Can I ask this question related to Steve Jobs in the main site?</h2>
<p>Can I ask a question in the main site to users about their best quote or memories from <strong><em>Steve Jobs</em></strong>. This would be way off-topic from the approved list of topics in the site. </p>

<p>I wanted to double check since we are talking about <strong><em>Steve Jobs</em></strong> here :) </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1368" class = "comment">
				<p>Are the down voters upset that this is being asked (or the form of the question) or just voting instead of answering no to the question? I thought the practice is to up vote a relevant question even if the answer to that question is no.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-744"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::15</h3>
				<p><h2>Main Site:</h2>

<p>This question isn't really asking a question about Apple hardware and software, so it's inherently off-topic.</p>

<p>What's more, it would have to be a Community Wiki since there is no one 'right answer'.<br>
The current attitude about CW is generally against (see <a href="https://apple.meta.stackexchange.com/questions/697/how-to-kill-off-community-wiki-entries">How to kill off 'community wiki' entries</a> and <a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">The future of community wiki</a>).</p>

<p>Since this wouldn't be a particularly educational CW, nor relevant to the core of this site (questions about Apple hardware and software), I personally don't think it should be posted on the main site.</p>

<h2>Meta Site:</h2>

<p>Since this isn't, in any way, a question about the main site itself, it should not be posted on Meta.</p>

<h2>Other Option:</h2>

<p>I think that this would be  an interesting post. However, I don't believe that it would be a good fit for our Q&amp;A site.</p>

<p>If you're interested in getting the Ask Different community to discuss Steve Jobs, I think your best option is to <strong>create a chat room for it</strong>.<br>
Chat rooms have much looser scope than the rest of the site, and are especially designed for discussion.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1464" class = "comment">
				<p>+1 for chat room suggestion.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>