<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can the design of the "inform moderator" flag count be updated to a higher contrast design for readability?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can the design of the "inform moderator" flag count be updated to a higher contrast design for readability?</h2>
<p>I'm seeing this on the report to moderator box:</p>

<p><img src="https://i.stack.imgur.com/0wNRB.png" alt="The number of inform moderator flags remaining is too dark to read"></p>

<p>Can the design of the "inform moderator" flag count be updated to a higher contrast design for readability? The black text on a dark red background is not very readable.</p>

<p><em>Chrome 25 (dev) on Mac OS X 10.8</em></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>That old post was about an alignment issue, not a color issue. Your screenshot clearly shows that it was indeed fixed.</p>

<p>That doesn't make <em>your</em> issue any less valid though, so this will be fixed as well after the next build (It turns out that red wasn't the intended background color here).</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>