<html>
	<head>
		<title id = 'pagetitle'>Can someone create a Nook tag?
		</title>
	<head>
	<body id = 'pagebody'><p>I have insufficient rep to create a tag.  I'd like the Nook tag to be attached to <a href="https://apple.stackexchange.com/questions/50625/nook-comics-on-ipad">this question</a>.  Thanks in advance.</p>


<h1>ANSWERS</h1>
		<p>I've <a href="https://apple.stackexchange.com/posts/50625/revisions">edited your question</a> to add <a href="https://apple.stackexchange.com/questions/tagged/nook" class="post-tag" title="show questions tagged &#39;nook&#39;" rel="tag">nook</a> to the tags.</p>


	</body>
</html>