<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Can I post my AskDifferent question to another StackExchange site, such as ServerFault or SuperUser?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1133" class = "post">
			<h2>Question</h2>
			<div id="vote-1133" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I post my AskDifferent question to another StackExchange site, such as ServerFault or SuperUser?</h2>
<p>While my <a href="https://apple.stackexchange.com/questions/41317/using-software-update-server-without-binding-mac-to-lion-server-domain">question</a> is Apple related, it is also a question that many users that frequent <a href="https://serverfault.com/">ServerFault</a> and <a href="https://superuser.com/">SuperUser</a> may know the answer to since it is about server administration. Is is ok to post the same question on multiple sites?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1133" class = 'collapse'>
			</div>
				<textarea id = "speech-1133" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1133">
					<img id="start_img-1133" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1133">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1134"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1134" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally, no. Cross posting the same exact question rather than linking is bad form.</p>

<p>If the question can be tailored to be specific to each site, the chance of it being flagged and deleted is much diminished. I don't have an authoritative link to policy handy (but will dig one up if needed) but the site expects users to search using google if the site specific search does not yield results. </p>

<p>The deep indexing that google does of this site means that a close hit is almost always a general google away.</p>

<p>You as the asker are always free to post a link in the other chat room to see if people there expect to get a speedy answer. You can and should just flag the question to ask a moderator to migrate the question and doing the homework with the other site often speeds our side to make sure the other site wants that question.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1134" class = 'collapse'>
			</div>
				<textarea id = "speech-1134" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1134">
					<img id="start_img-1134" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1134">Comment</button>
			<br><div id = "ans-1135"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1135" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Quite a while ago I asked an OS X Server question here, and then when I had little traffic and no answers, I flagged it for migration to Server Fault. Suggesting you do the same obviously carries a lot of my own personal bias, but I suggest this route as well.</p>

<p>I know there are a few users around here with some server administration experience, so if you feel that it's at all possible to have enough traffic and a potential answer here it'd be wonderful if you started the question here.</p>

<p>You are in charge of your own question, so at any time you can flag it and ask us to send it over to Super User or Server Fault, or anywhere else it's on-topic in the network for that matter.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1135" class = 'collapse'>
			</div>
				<textarea id = "speech-1135" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1135">
					<img id="start_img-1135" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1135">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>