<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can we make the the tags look like the buttons in Lion?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1202" class = "post">
			<h2>Question</h2>
			<h3>Score ::14</h3>
			<h3>Views ::97</h3>
				<h2>Can we make the the tags look like the buttons in Lion?</h2>
<p>In chat today, <a href="https://apple.stackexchange.com/users/12285/timothy-mueller-harder">Timothy</a> mentioned that the tags in oneboxes look a lot like the buttons in Windows XP:</p>

<p><img src="https://i.stack.imgur.com/SiyT0.png" alt="Picture of tags in oneboxes"></p>

<p>Compare to Windows XP button:<br>
<img src="https://i.stack.imgur.com/c7NUw.gif" alt="Windows XP buttons"></p>

<p>Can we make the oneboxes <em>and</em> the tags on the main site look like the buttons from Lion? Like this:<br>
<img src="https://i.stack.imgur.com/EU7C5.png" width="175"/><br>
I personally think that this will add more personality and a more OS X-ish feel to the site.</p>

			</div><h3>Comments</h3>
				<textarea id = "speech-1202" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1202">
					<img id="start_img-1202" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-1697"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I feel this would be a very poor design decision. </p>

<p>Apple's HIG specifically calls out "<strong><em>Do not use a push button as a label</em></strong>."</p>

<p>The OS X button style is reserved for clickable UI elements and if we used them on items that are not Cocoa controls and instead web links - I feel it would undermine the clarity of purpose that <a href="https://developer.apple.com/library/mac/#documentation/UserExperience/Conceptual/AppleHIGuidelines/Intro/Intro.html#//apple_ref/doc/uid/TP30000894-TP6" rel="nofollow noreferrer">OS X provides under it's Human Interface Guidelines</a>. <em>And that's the best spin on it for people browsing from OS X browsers.</em></p>

<p>It <strong>gets worse</strong> if you are browsing from an <a href="http://developer.apple.com/library/ios/#documentation/UserExperience/Conceptual/MobileHIG/Introduction/Introduction.html" rel="nofollow noreferrer">iOS device</a> where the button treatment uses another idiom. Likewise Ubuntu, Windows, Android, etc .</p>

<p>I get the wish to have pretty things - but I'd personally rather a "design is how it works" interpretation here over a "design is how it looks" design.</p>

<p>Thankfully, the site has redesigned the tag buttons and they look very nice on both retina and non-retina screens of all OS (<em>again perhaps only in my opinion</em>).</p>

<p><img src="https://i.stack.imgur.com/ieGJ1.png" alt="redesigned tag button design from June 2013"></p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-1697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1697">
					<img id="start_img-1697" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>