<html>
	<head>
		<title id = 'pagetitle'>Can the slug for migrated questions be updated to match the current FAQ?
		</title>
	<head>
	<body id = 'pagebody'><p>When a <a href="https://stackoverflow.com/questions/30510932/jquery-renders-on-safari-but-not-mobile-safari">question is migrated away from Ask Different</a>, the following slug is attached to the post in question.</p>

<blockquote>
  <p>This question came from our site for power users of Apple hardware and software</p>
</blockquote>

<p>Could this be updated to match the highest upvoted answer here which will presumably be the community consensus? (Or have it come from an editable section of the main site help so moderators of the site can maintain the slugs just like other customizable site verbiage) </p>


<h1>ANSWERS</h1>
		<p>I propose the following wording to match the main help slug:</p>

<blockquote>
  <p>Ask Different is for users of Apple products</p>
</blockquote>

<p>If hardware is going to be enumerated, please have it include <strong>hardware, services and software</strong> since services is a bigger part of the apple ecosystem than software is at present with both still being dwarfed by hardware.</p>

<p>Basically, remove power since we're here for all users of Apple products and "power users" contains negative connotation as it diminishes some vague subset of users implicitly.</p>


	</body>
</html>