<html>
	<head>
		<title id = 'pagetitle'>can we have Tag Icons
		</title>
	<head>
	<body id = 'pagebody'><p>On Stack Overflow the facebook, Android, and adobe <a href="https://stackoverflow.com/tags?page=2&amp;tab=popular">tags have icons on</a>, could we allow Icons for tags such as iTunes, App Store, Bluetooth, Mail.app, etc?</p>


<h1>ANSWERS</h1>
		<p>Tag icons are sponsored. Companies purchase the right to put their icon on a tag for a period of time. As far as I am aware this is currently only done on StackOverflow, and not on the rest of the network.</p>


	</body>
</html>