<html>
	<head>
		<title id = 'pagetitle'>Can we add a "minor edit" checkbox when editing a question~answer?
		</title>
	<head>
	<body id = 'pagebody'><p>This is an extension of <a href="https://apple.meta.stackexchange.com/questions/1028/should-making-edits-bump-a-question-to-the-top-of-the-list">Should making edits bump a question to the top of the list?</a>, which was asked yesterday. I have a tendency to edit a lot of question and answers, which bumps them to the top of the main page of Ask Different. Is it possible to add a "Minor edit" checkbox to the edit page, which will prevent it from floating to the top?</p>

<p>I realize that this may not be technically feasible, but if at all possible, I think this would be an extremely helpful feature.</p>


<h1>ANSWERS</h1>
		<p>It's a good question even though I feel the answer should be no.</p>

<p>Unless someone has a really convincing argument why I'm wrong, I don't see this as something we would want to add. The site already has a timeout built in where repeated edits in a short period of time are considered one edit, so unless altering that interval is appropriate, the current bumping behavior is clearly intended.</p>

<p>Anything that encourages "minor" edits seems to go against the overall message that trivial edits are to be avoided. Wouldn't adding code handling to hide "minor" edits encourage behavior that is explicitly discouraged?</p>

<p>Here relevant MSO questions to our discussion here:</p>

<p><a href="https://meta.stackexchange.com/questions/102499/feature-request-trivial-edit-checkbox">Feature request: Trivial-edit checkbox</a></p>

<p><a href="https://meta.stackexchange.com/questions/74430/why-are-trivial-edits-discouraged">Why are trivial edits discouraged?</a></p>

<p><a href="https://meta.stackexchange.com/questions/107528/can-trivial-edits-not-bump-the-question">Can trivial edits not bump the question?</a></p>

<p><a href="https://meta.stackexchange.com/questions/82893/remove-trivial-edit-restriction">Remove trivial edit restriction</a></p>


	</body>
</html>