<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can questions that have been merged be marked with "Merged", "Closed", or similar?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1113" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::19</h3>
				<h2>Can questions that have been merged be marked with "Merged", "Closed", or similar?</h2>
<p>I just came across this question while reviewing questions with the mail.app tag:</p>

<p><a href="https://apple.stackexchange.com/questions/5987/mail-app-import-from-entourage-failed">https://apple.stackexchange.com/questions/5987/mail-app-import-from-entourage-failed</a> (edit: this link now points to the same question as the link below)</p>

<p>I noticed it because another question with a very similar title was in the list a few rows away:</p>

<p><a href="https://apple.stackexchange.com/questions/6047/mail-app-import-from-entourage-failed">Mail.app import from Entourage failed</a></p>

<p>The first question has been merged into the second one. It would've saved me (an admittedly small quantity of) time and trouble if the title of the first question was marked with [Merged], [Closed], or something like that. Is this possible? Does merging happen often enough to make this a useful enhancement?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1116"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This is a good point, questions that are closed or migrated have [closed] or [migrated] appended to the ends of their titles, but nothing is done for merged questions.</p>

<p>However, most merged stub questions can be deleted without any adverse effects, so if you see one that should be deleted just flag for moderator attention.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>