<html>
	<head>
		<title id = 'pagetitle'>Can I ask about installing Ubuntu on a Mac?
		</title>
	<head>
	<body id = 'pagebody'><p>I already have a similar question on Ask Ubuntu for installing Ubuntu  on a mac, but I want to post a question here. Is that okay?</p>


<h1>ANSWERS</h1>
		<p>In general yes as it is about Apple hardware and Apple's boot mechanism does differ from other hardware.</p>

<p>However you should not ask the same question in two places on stack exchange although there is no way of managing duplicates across sites.</p>


<p>Questions about installing any operating system on Mac hardware is on-topic here, so feel free to ask related questions here. For a full list of topics that you can ask questions about here, see:</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a></li>
</ul>

<p>However, keep in mind that cross-posting is prohibited and that you shouldn't <a href="https://askubuntu.com/questions/625686/trying-to-install-ubuntu-15-04-on-imac-not-working">re-ask your question from Ask Ubuntu</a> here. If you feel that your question would be better suited here, flag for moderator attention on that question and ask that a moderator migrate it.</p>

<p>With regard to that specific question, whilst it's on topic here, I doubt you'll get any better attention here as IMO it's more to do with Ubuntu than the Mac hardware?</p>


	</body>
</html>