<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can we un-bump the old questions that get dug up by a "me too!" answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2493" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::36</h3>
				<h2>Can we un-bump the old questions that get dug up by a "me too!" answer?</h2>
<p>I've seen many questions from several years ago get bumped because someone posts a new "answer," either a spam post or an "I have this issue too" post. Often we'll flag those "answers" into oblivion, but the question still stays bumped, drowning out newer questions that actually need some attention.</p>

<p>I'd like to request a feature in which questions that get bumps from these not-answers get sent back into the Ask Different archives where they belong. Thank you!</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2494"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Nope. It's like a scab, picking at it again starts the oozing and we have to be patient for it to crust over again. I totally get the sentiment that we could have a band-aid to patch it over whilst it heals.</p>

<p>As far as the feature request - how would that work in practice? I'd consider a solution that was less harm than the bump and in this case, the bump got the correct reaction of negative votes to the poster. In effect, the system is working when people get direct feedback not to post dubious answers to old posts.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5671" class = "post">
				<p>Is there a way to have the system sort questions by when they were last modified by something that *wasn't* undone by a mod?

(Sorry in advance if there's some obvious reason why that wouldn't work; I'm more creative than I am web design-savvy.)</p>
			</div>
			<div id = "comment-5672" class = "post">
				<p>Also, oftentimes the poster already has 1 rep as is. Downvotes won't do much unless negative reputation ever becomes a thing.</p>
			</div>
			<div id = "comment-5673" class = "post">
				<p>@user24601 no apologies needed - the question and thinking are perfect for meta here. I wonder if the new site design for higher volume sites will have an effect that on sites with our front page turnover rate, you could get what you ask.</p>
			</div>
			<div id = "comment-5674" class = "post">
				<p>The SE backend software could handle this, by disregarding the timestamp/vote/counts related to the flagged out messages.</p>
			</div>
			<div id = "comment-5675" class = "post">
				<p>@Bryce This absolutely could be coded. What the performance impact would be, whether it simplifies or complicates the code base would be up to the developers to decide. I don't see how this would be implemented (as in who would vote to un-bump or if that too would be not the correct action. Basically, I'd want the design to be fleshed out a bit before I'd support it or vote against it.)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>