<html>
	<head>
		<title id = 'pagetitle'>Can the username autocomplete be keyboard accessible?
		</title>
	<head>
	<body id = 'pagebody'><p>Both in chat and when posting comments, an autocomplete box shows up for users.
<img src="https://i.stack.imgur.com/oKzhS.png" alt="Autocomplete users"><br>
Can this be made so you can select the user using the up arrow key, then the right/left arrows? So, let's take the example above. I push the up arrow to highlight "memilanuk", then the right arrow key to highlight "mankoff", and press Enter to select "mankoff". I hope this makes sense...but could it be implemented? I find it somewhat annoying that I have to use the mouse to select the name.</p>


<h1>ANSWERS</h1>
		<p>You don't have to use the mouse. You can use the Tab key to cycle to the list (or Shift-Tab to cycle backwards).</p>


	</body>
</html>