<html>
	<head>
		<title id = 'pagetitle'>Can a Moderator Designate a Question as Answered?
		</title>
	<head>
	<body id = 'pagebody'><p>There are dozens of questions on here that have viable answers, yet the asker never bothers to go back and assign an answer to the question. Many of them are quite obvious. Yet, as far as I can tell, there is no mechanism to assign an answer unless the assigner is the one who asked the original question. Is there a way to have a moderator or other designee answer a question that has an obvious answer, where the originator simply has not bothered to assign an answer?</p>


<h1>ANSWERS</h1>
		<p>Right now - no one but the asker (and presumably the site developers / DBA) can exercise the "checkbox" to mark an answer as accepted.</p>

<p>From a community moderation standpoint, the voting feature is intended designate the best answer and in cases where the OP does not tick the answered flag on any answers - that is the most prominently displayed answer.</p>

<p>Of course, someone can choose to sort by activity or newness in the answer section of a question and get different sorting, but the site already makes a voted answer the most visible answer by default.</p>

<p>Secondly, the site is community moderated. Everyone that can vote and edit is "moderating" indirectly and let's look at the role of the "elected moderators" from the help pages:</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/site-moderators">https://apple.stackexchange.com/help/site-moderators</a></li>
</ul>

<p>The main item I see elected moderators is to step in when the normal tools are too slow to act or there are things that are highly damaging to the site. I haven't seen a place where a good answer missing the "accepted" mark is actively harmful or not something normal voting can't handle. In fact, wouldn't the moderators stepping in to tick the "answer" mark make it less desirable for the people that care enough about their question to accept an answer to do so in the future?</p>

<p>I could be wrong so if you want to add some examples of questions where you feel the site would be better if an answer were accepted, let's post them and discuss them to see if in fact, moderator input might help the site.</p>

<p>Another mechanism where users can feature an answer is by awarding a bounty - so that is what I use when my one vote doesn't seem good enough to recognize an answer that somehow didn't get the asker's acceptance as "the correct" answer to the question posed.</p>


<p>Please make sure to read prior discussion of this, especially <a href="https://meta.stackexchange.com/a/18318/160917">https://meta.stackexchange.com/a/18318/160917</a>.  Our moderators are impressively knowledgeable, but I don't think it would make sense to have them select which answers should be accepted.  One of the principles of this site is that the wisdom of the community is, in aggregate, far greater than the wisdom of any one person (even one of our esteemed moderators).  Therefore, it makes more sense to reserve moderators for process issues -- not to substitute their judgement on substantive issues for that of the community.</p>


	</body>
</html>