<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can we remove the tag synonym relationship between 'keyboard-shortcuts' and 'keyboard'?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1900" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::47</h3>
				<h2>Can we remove the tag synonym relationship between 'keyboard-shortcuts' and 'keyboard'?</h2>
<p>I recently wanted to use the 'keyboard-shortcuts' tag, but then learned that it is a synonym of the 'keyboard' tag; however, this did not make sense to me in the context of the thread I was attempting to add it to.</p>

<p>In my opinion, the 'keyboard' tag focuses on the physical hardware; whereas, the 'keyboard-shortcuts' tag focuses on the software implementation, namely an operating system's or an application's ability to provide quick and easy access to features, which is keyboard <em>independent</em>.</p>

<p>To label a post with the 'keyboard' tag when ones intention is to focus on one or more 'keyboard-shortcuts' can be misleading in my opinion.</p>

<hr>

<p><em><strong>So why is it that these are set up as synonyms of each other? And if we can reach a consensus, can this synonym relationship be removed?</em></strong></p>

<p>If we are to split these into distinct tags and alter their respective descriptions, I propose the following:</p>

<ul>
<li><strong>keyboard</strong>: 'A physical device with buttons that allow characters to be entered' (Unchanged)</li>
<li><strong>keyboard-shortcuts</strong>: 'A combination, or sequence of, keyboard keys that when activated, trigger an action to be performed by a piece of software'</li>
</ul>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1900" class = 'collapse'>
			</div>
				<textarea id = "speech-1900" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1900">
					<img id="start_img-1900" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1901"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>A succinct answer would be there's no good reason to split off shortcut and hotkey related questions from general keyboard questions. (The synonyms point to keyboard, not the other way around as your title states.)</p>

<p><img src="https://i.stack.imgur.com/k22pe.png" alt="enter image description here"></p>

<p>We can absolutely change the synonym and meta is the place to build consensus. The next step would be someone detailing what the actual wording of the keyboard  and keyboard-shortcut tags so we can discuss, vote or adjust as needed?</p>

<p>If there were enough supports to break them apart, then we would want to have a second post here to start cataloging which ones belong in the shortcut category in which ones remain in keyboard. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1901">Load Comments</button></br>
			<div id = "commentsection-1901" class = 'collapse'>
			<div id = "comment-3673" class = "comment">
				<p>Thank you for your response.  I have updated my post with a set of proposed descriptions for these two tags.</p>
			</div>
			<div id = "comment-3674" class = "comment">
				<p>Awesome. We can let people's vote on the question be indicative of consensus. Personally I think things are better with less tags, but I'll wait and look over some questions to see if there's a positive side to what you propose.</p>
			</div>
			<div id = "comment-3675" class = "comment">
				<p>Thank you for your insight and I understand that this determination will be made based on the overall consensus.  I'm just hoping enough people take the time to read the issue.  Now where can I go campaign my cause. :P</p>
			</div>
			<div id = "comment-3676" class = "comment">
				<p>Also, I fixed my title so that the synonym relationship between the tags makes more sense as you pointed out.</p>
			</div>
			</div>
				<textarea id = "speech-1901" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1901">
					<img id="start_img-1901" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>