<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can I ask this question on Meta?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can I ask this question on Meta?</h2>
<p>I want to ask a questurn asking peoples opinions on why they hate having one port only on the new MacBook.</p>

<p>I know I cannot ask this on <a href="http://apple.stackexchange.com">Ask Different</a> since it is opinion based however could I ask the question on <a href="http://meta.apple.stackexchange.com">Ask Different Meta</a> using the discussion tag?</p>

<p>What I am meaning here is can I ask people about opinions on Apple products and design here on meta or is this not allowed?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>No certainly don't ask that here as meta is for discussing the site. Asking why you might or might not ask something on main is exactly the point here.</p>

<p>For opinion and discussion on the main site - we have the blog (where someone needs to write an opinion piece and then the discussion happens in the comments) and the [chat] rooms.</p>

<p>Now, if you can distill your opinion question down to how to learn about technology, that's on topic on the main site. So for example. I have a Retina MacBook Pro and I run certain apps. I might want to ask how I could measure the performance of my current workload so I can decide between the MacBook or MacBook Pro both of just announced.</p>

<p>Basically - by analyzing my needs, documenting them and then asking how to learn - the question becomes less about opinion and more about objective facts and knowledge. Boom - the question would not be primarily opinion based if you do some work to nail down what you're really asking.</p>

<p><em>With data, you're not just another person with an opinion.</em> (not <a href="https://en.wikipedia.org/wiki/W._Edwards_Deming" rel="nofollow">W. Edwards Deming</a>)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>