<html>
	<head>
		<title id = 'pagetitle'>Can the privilege of down voting be reduced from 125 to 10?
		</title>
	<head>
	<body id = 'pagebody'><p>It kind of unfair to HAVE to require 125 rep to vote down. </p>

<p>Can this be 10 to vote up and vote down?</p>


<h1>ANSWERS</h1>
		<p>I wouldn't call it unfair, it's just one of the rules valid on all StackExchange sites. One of the reasons that users are required to have at least some reputation before voting is to actually increase the quality of the votes (and to prevent spammers from creating a bunch of accounts and voting each other up).</p>

<p>If you look at <a href="https://apple.stackexchange.com/help/whats-reputation">https://apple.stackexchange.com/help/whats-reputation</a>, getting to 15 reputation isn't all that hard (either post a good answer to one of the questions or invest some time to improve 8 posts by editing them). </p>

<hr>

<p>For much more information on the topic, see <a href="https://meta.stackexchange.com/questions/188611/how-does-a-new-user-begin-using-stack-overflow-stack-exchange">this post</a> on meta.stackexchange.com.</p>


	</body>
</html>