<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can the username autocomplete be keyboard accessible?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can the username autocomplete be keyboard accessible?</h2>
<p>Both in chat and when posting comments, an autocomplete box shows up for users.
<img src="https://i.stack.imgur.com/oKzhS.png" alt="Autocomplete users"><br>
Can this be made so you can select the user using the up arrow key, then the right/left arrows? So, let's take the example above. I push the up arrow to highlight "memilanuk", then the right arrow key to highlight "mankoff", and press Enter to select "mankoff". I hope this makes sense...but could it be implemented? I find it somewhat annoying that I have to use the mouse to select the name.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You don't have to use the mouse. You can use the Tab key to cycle to the list (or Shift-Tab to cycle backwards).</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>