<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can SE Search be 'honed'?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2467" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::18</h3>
				<h2>Can SE Search be 'honed'?</h2>
<p>Case in point <br>
[even if I was looking at a Super User question &amp; the terms I was starting from are very generic, it felt best to ask in Ask Different, as my 'home' community]  </p>

<p><a href="https://superuser.com/questions/912499/why-does-my-screensaver-say-mynames-macbook-pro-4">Why does my screensaver say [myname]'s Macbook Pro (4)</a> </p>

<p>I was trying to start with a broad search for issues where the Mac name increments by number </p>

<p>Not being sure where to start I went for <code>(2)</code> as a start point, hoping to hone it later <br>
Unfortunately, results coming in were 'anything including a <code>2</code>'</p>

<p>I'm no expert in grep or anything like that, but I'm not bad at honing down Google searches, by keyword, site: etc.</p>

<p>Does SE have any 'honing tools' for this type of broad start point?<br>
Things like AND, OR, "full-string" etc?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2468"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>There's a full guide to searching at <a href="https://apple.stackexchange.com/help/searching">/help/searching</a>.</p>

<p>Exact match searches are accomplished by enclosing the string in <code>"</code>. Punctuation is excluded from search strings, even when using exact match.</p>

<p>If all else fails, you can always search using Google with the <code>site:apple.stackexchange.com</code> parameter.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5630" class = "post">
				<p>That may have been my issue. I really needed "(2)" as the string, yet it was ignoring punctuation. Google does the same, unfortunately. I think it's just one of those edge-cases where I really would have been better-off following the old farmer's advice when asked directions "Well, you don't want to start from here." ;)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>