<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can one post (assumed) OS bugs and questions about it on Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can one post (assumed) OS bugs and questions about it on Ask Different?</h2>
<p>Sadly, first I don't have the expertise to prove what I found is indeed a bug and secondly I really don't know how to report them to Apple and rather try to find a solution to my problem(s) instead of trying to figure out how to do so for Apple, what Apple should do for me (i.e. providing me with an easy way / instructions to report bugs!).</p>

<p>So the title says it already: <strong>Can I post a question related to</strong> an issue that is clearly not supposed to happen and of which I assume can't be solved by a simple answer?</p>

<p>Additionally I wonder when / if it is OK to use the "wording" and the tag <a href="https://apple.stackexchange.com/questions/tagged/bug" class="post-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a> at all? <strong>What are the Stack Exchange or Ask Different community guidelines for using it?</strong></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You can submit feedback and bug reports to Apple via their <a href="http://www.apple.com/feedback/" rel="nofollow noreferrer">feedback page.</a> Additionally, bug reports can also be sent <a href="https://developer.apple.com/bugreporter/" rel="nofollow noreferrer">the Apple developer bug report page.</a> (requires a free Apple developer account, does not require the $99/year paid account).</p>

<blockquote>
  <p>Can I post a question related to an issue that is clearly not supposed to happen and of which I assume can't be solved by a simple answer?</p>
</blockquote>

<p>If it can't be solved by a simple answer, I would say, no, don't ask the question. If you look at the <a href="https://apple.stackexchange.com/questions/tagged/bug" class="post-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a> tag excerpt, you'll see: </p>

<blockquote>
  <p>This tag will be used in discussions identifying potential bugs and seeking ways to circumvent or correct them.</p>
</blockquote>

<p>(I know this is a bit of circular reasoning, as the meta site is supposed to influence the main site, not vice versa, but in this case, I think the current status of this is fine and shouldn't be changed.)<br>
So, using the existing excerpt, I would say that questions that doesn't have an answer that will "circumvent or correct [the bugs]," do not have a place here on Ask Different. Questions that don't really have an answer don't have value down the road. Bugs especially don't add value to the site, as software is constantly changing and will more than likely not be applicable a year or two down the road.</p>

<p><strong>TL;DR:</strong> Questions about bugs that don't have an answer should not be asked.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>We like good questions that are objective or are of the good subjective sort. That is the overriding criteria for whether a question should be asked. We also like clear questions that invite a paragraph-length answer that will be of use to the worldwide population.</p>

<p>Q: Is clicking on X in Y after update 10.7.3 is applied a bug?</p>

<p>This hypothetical question invites two potential answers: yes and no. It's something we generally wouldn't encourage on the site. That doesn't mean someone can not come in with an awesome long involved answer that explains what changed and why people need to know about how they can work around this bug.  A good answer can in almost all cases save a bad question from deletion, but that doesn't mean the question as originally asked is necessarily a good question. </p>

<p>A better question explains why a bug might be noticed or detected and sometimes even show some research that invites a better answer. </p>

<p>Some guidelines:</p>

<ul>
<li>state the facts and don't rant about the bug (or worse, try to turn it into an editorial about why Apple is so bad or do programmers are so bad or why you're so clever )</li>
<li>explain how you've isolated the bug and why you think it's a bug (do some research and actually show the research you've done in the wording of the question)</li>
<li>be clear whether you're looking for troubleshooting advice or are looking for an objective answer to your specific problem</li>
</ul>

<p>As long as the question is more about using a Mac and less about a short window of time where there's a bug that gets resolved quickly, questions about buggy software can be of benefit to the site and worth keeping around. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Just state the facts:</p>

<p>"When I tried to X, I expected to get Y, but instead I got Z.</p>

<p>Here's my setup: <strong><em>_</em>___</strong>"</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>