<html>
	<head>
		<title id = 'pagetitle'>Can't tell what tab I'm on in the profile page
		</title>
	<head>
	<body id = 'pagebody'><p>This is what I'm seeing on people's profile pages (profile tab):</p>

<p><img src="https://i.stack.imgur.com/BA3X8.png" alt="enter image description here"></p>

<p>I can't tell what tab I'm on. Clicking one switched the view, but doesn't highlight the tab. Can we have tab highlighting back?</p>


<h1>ANSWERS</h1>
		<p>It's the same on Safari (OS X), you need to look at the title of the list (to the left) to see the selection. I've considered this to be a feature until now :-)</p>

<h3>"All"</h3>

<p><img src="https://i.stack.imgur.com/x7mqe.jpg" alt="enter image description here"></p>

<h3>"Questions"</h3>

<p><img src="https://i.stack.imgur.com/WtgxY.jpg" alt="enter image description here"></p>


	</body>
</html>