<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Can't answer a protected question despite having sufficient reputation
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2772" class = "post">
			<h2>Question</h2>
			<div id="vote-2772" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
				<h2>Can't answer a protected question despite having sufficient reputation</h2>
<p>The question <a href="https://apple.stackexchange.com/questions/127840/apple-a1277-usb-ethernet-adapter-not-working-on-macbook-air">Apple A1277 USB ethernet adapter not working on MacBook Air</a> requires a reputation of 10 to post an answer. My account has a reputation of 106, through (mostly) the magic cross-site Stack Exchange bonus, but I can't post an answer.</p>

<p>Any ideas why?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2772" class = 'collapse'>
			</div>
				<textarea id = "speech-2772" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2772">
					<img id="start_img-2772" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2773"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2773" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Protected questions require 10 reputation to have been <strong>earned on the site itself</strong>, thus this is <a href="/questions/tagged/status-bydesign" class="post-tag moderator-tag" title="show questions tagged &#39;status-bydesign&#39;" rel="tag">status-bydesign</a>.</p>

<p>The 100 reputation association bonus is purposefully removed from the calculation used to determine if you have sufficient reputation to answer a protected question, and as such you have 6 reputation which is below the 10 threshold.</p>

<p>If you found the protected question notice confusing, feel free to upvote this Meta.SE feature request to <a href="https://meta.stackexchange.com/questions/210481/improve-protected-question-message-with-regard-to-rep-gained-through-associati">change the phrasing of the protected question post notice</a>.</p>

<p>I went to upvote your question so you'd have enough reputation, but I've already done that!</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2773" class = 'collapse'>
			</div>
				<textarea id = "speech-2773" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2773">
					<img id="start_img-2773" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>