<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can't post comment even if it's 15 character long
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Can't post comment even if it's 15 character long</h2>
<p>I tried posting a comment <strong>@Greg Cain: Great!!!!!</strong> which is about 22 character long, while trying posting it says </p>

<blockquote>
  <p>Comments must be at least 15 characters in length.</p>
</blockquote>

<p>See the picture:</p>

<p><img src="https://i.stack.imgur.com/z2LnC.png" alt="enter image description here"></p>

<p>Please indicate me if i am doing any thing wrong.</p>

<p><strong>Edit:</strong> It's not accepting "@Greg Cain: Greater!!!!!" even, which include 15 alphabets.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It's not considering the @-reference as part of the comment. Not to mention that after clicking submit, the @-reference to Greg's username is going to be stripped out. Since you're commenting on his answer, explicitly referencing the OP is unnecessary as they will be notified of a new comment on their answer.</p>

<p>While the gesture of thanking the user in words is appreciated, voting has a more tangible effect. Give the up-vote a click and/or accept his answer, and call it done.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>