<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Can't tell what tab I'm on in the profile page
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2491" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::26</h3>
				<h2>Can't tell what tab I'm on in the profile page</h2>
<p>This is what I'm seeing on people's profile pages (profile tab):</p>

<p><img src="https://i.stack.imgur.com/BA3X8.png" alt="enter image description here"></p>

<p>I can't tell what tab I'm on. Clicking one switched the view, but doesn't highlight the tab. Can we have tab highlighting back?</p>

			</div><h3>Comments</h3>
			<div id = "comment-5669" class = "comment">
				<p>I get the tab I'm viewing rendered as dark text using mobile safari on iOS 8.3. What browser and OS are you seeing the above render?</p>
			</div>
			<div id = "comment-5670" class = "comment">
				<p>@bmike Chrome latest (not dev/canary) on 10.10.3</p>
			</div>
			<div id = "comment-5707" class = "comment">
				<p>This also happens on [android.se], [elu.se], and probably other sites. Previously I wanted to post this on MSE, but after noticing that I can basically read the header instead (as shown by the answer), I decided not.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2491">Record</button>
				<button class="record-stop" id="stop-2491">Stop</button>
				<p id="recording-2491"></p>

<h1>Answers</h1>
			<br><div id = "ans-2492"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>It's the same on Safari (OS X), you need to look at the title of the list (to the left) to see the selection. I've considered this to be a feature until now :-)</p>

<h3>"All"</h3>

<p><img src="https://i.stack.imgur.com/x7mqe.jpg" alt="enter image description here"></p>

<h3>"Questions"</h3>

<p><img src="https://i.stack.imgur.com/WtgxY.jpg" alt="enter image description here"></p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2492">Record</button>
				<button class="record-stop" id="stop-2492">Stop</button>
				<p id="recording-2492"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>