<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Can, and if yes, should posts be bumped?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2731" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::40</h3>
				<h2>Can, and if yes, should posts be bumped?</h2>
<p>Say I've asked a question which hasn't gotten much attention despite being out for about a week (low view count, no comments or answers etc).</p>

<p>How should I attract attention (besides offering a bounty) to my question, for example, bumping it?</p>

<p>Is there a way to "bump" my quesyion to bring it back to attention? If yes, should I?</p>

<p><em>edit: the question in question is here: <a href="https://apple.stackexchange.com/q/227875/162909">Network Intermittency with Time Machine causes a &#39;Completed Verification&#39; dialog</a></em></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6038" class = "comment">
				<p>Bounty are the way that has been designed to do this</p>
			</div>
			<div id = "comment-6039" class = "comment">
				<p>Is this a ["no one answers yet"](http://apple.stackexchange.com/help/no-one-answers) situation or one where people aren't getting you an answer you like? link to the questions in mind if that helps us help you.</p>
			</div>
			<div id = "comment-6040" class = "comment">
				<p>It's a "no answers yet" scenario. I don't think I can afford to make a bounty (yet) but I didn't want to clog up the system with duplicate questions. I'll add a link to my question.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2732"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>You should never bump with a trivial edit or comment. You can always make a substantial edit to improve the post:</p>

<ul>
<li>do some research and document how that didn't solve the issue.</li>
<li>add version details to explain the range of OS or apps with the issue.</li>
<li>edit out irrelevant / extraneous details in the question - shorter posts with a single clear request are far more likely to get new answers</li>
<li>vote up answers that are trying to help even if they don't solve the issue</li>
</ul>

<p>Community automatically and randomly (fairly) bumps older unanswered questions (questions with zero answers or questions with no answers with a score >1).</p>

<p>If you're adding more useful information or detail to your question by editing it, this is encouraged. This is conjointly associated with Community's bumping mechanism as if the question has an upvoted answer then it is necessary to make your question clearer through editing   subsequent bumps would be counter-productive and this is why Community does not bump such questions (not forgetting they may be answered correctly).</p>

<p>Of course, bounties are the designed method to attract more attention to your question and this far exceeds the promotion from being on the front page for an hour or so depending on traffic.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6041" class = "comment">
				<p>Thanks! I'll edit my question to include some more information and version details.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>