<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Canonical question on hardware specs
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2420" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::26</h3>
				<h2>Canonical question on hardware specs</h2>
<p>It has been suggested that we have a canonical question  on what machine can be used to develop with 
e.g.</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/3295/">What are minimum specs for a MacBook to develop iOS apps?</a> (and possibly <a href="https://apple.stackexchange.com/questions/6650/">Is the white MacBook suitable for software development?</a> or <a href="https://apple.stackexchange.com/questions/7495/">Which Mac to develop iPhone apps?</a> </p>

<p>The first one is simply</p></li>
</ul>

<blockquote>
  <p>I want to buy a MacBook to develop iOS apps. What are the minimum requirements?</p>
</blockquote>

<p>I would suggest that this is difficult to do - I am raising issues here so the question looks very slanted - so I think the best way to show agreement or not is using metas different meaning of down votes - a dozen vote does not mean the question is bad just that you disagree with it. (Or someone can see how to edit this into a neutral question)</p>

<p>The issue that I would raise is how can we keep this up to date. This question was asked in Sept 2010. The comments and answers imply that the base model with 4GB RAM would be sufficient. However nowadays I would suggest that Xcode takes more memory and you need 8GB. </p>

<p>I also think this is not objective as development covers a lot of things. Simple web front end development in HTML and CSS needs no more than add ins to a browser whilst writing large C/C++/Objective C/Java programs require much CPU and memory for compilation.</p>

<p>What possibly could be done as occurs in the uprooted answers is to emphasis which parts of a Mac are worth upgrading e.g. RAM to a certain level, then SSD rather than Hard disk and then also CPU e.g. <a href="https://apple.stackexchange.com/questions/178325/is-it-better-to-have-more-cores-or-higher-processor-clock-speed-to-decrease-buil/178350#178350">this</a></p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2421"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I think there are two edges to this sword:</p>

<ol>
<li><p>The minimum requirements are really that. Absolute minimum - I really like steering one question on the site to be just that. Apple authors first party tools to create iOS apps and they are Xcode. If your Mac runs Xcode - it can develop apps. Full stop.</p></li>
<li><p>Opinions on what makes a reasonable minimum setup will vary. In fact, it has to vary. A student in a country that has no Apple stores, perhaps limited access to the internet very rightly could want to know what is needed to program an iOS app. They might rightly not care about the latest and greatest and would need an answer taking their requirements into factor. Similarly, someone with three Macs and a budget might very rightly consider hardware that meets the minimum requirements not a solution even worth entertaining. Their answer would rightly not care about budget and really be asking about workflow and efficiency.</p></li>
</ol>

<p>For the good of the site - I want to find and identify the question that best handles case 1. It would link to Apple's Xcode page and perhaps the minimum requirements page to run OS X. It would then be a resource to teach people the baseline and/or a place to hilight alternative answers covering non-first party tools.</p>

<p>At that point, we have a solid baseline and a link to meta with "the one" or "the few" canonical questions. From there, we can then entertain and/or close questions of the nature of "I need storyboards and home kit to develop iOS apps and debug them" vs "I'm a student and I need a project to spend 40 hours over the next three months - will my Uncle's hand-me-down iMac running 10.6.8 and Xcode 3 be enough to program my jailbroken iPod stuck at iOS 5.1.2"</p>

<p>If this all makes sense - the work will be for 10k users to identify and help isolate or edit questions to serve as #1 and not get stuck changing a type #2 question. That will a) irritate the OP b) be more of a mess in general since opinions have to vary based on budget and goals. If we can't find a good #1 question, then you or I will need to ask it and leave all the existing questions to serve role #2.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4534" class = "post">
				<p>The issue is that the absolute minimum to run Xcode in 2010 is less than that in 2015 e.g. I would say 4G RAM works at the beginning but not now. You need a different answer for each Xcode</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>