<html>
	<head>
		<title id = 'pagetitle'>Canonical Windows emulation question
		</title>
	<head>
	<body id = 'pagebody'><p>Should we make this <a href="https://apple.stackexchange.com/questions/24145/is-there-any-free-paid-windows-emulator-for-mac-os-x">question</a> into a canonical Windows question.</p>

<p>Either by putting each piece of software into an answer </p>

<p>or at least splitting the emulators (Virtual Box, Parallels and Fusion) native (Bootcamp) and Wine(Wine, Crossover, Wineskin etc) into separate answers with a more detailed explanation </p>


<h1>ANSWERS</h1>
			</body>
</html>