<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Change exchange Name to be more Descriptive
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Change exchange Name to be more Descriptive</h2>
<p>The name "AskDifferent" is downright confusing and not useful.</p>

<p>Change it to something more useful like:</p>

<p>AskApple</p>

<p>AskOSX</p>

<p>AskiOS</p>

<p>AskMac</p>

<p>AppleExchange</p>

<p>MacExchange</p>

<p>etc.</p>

<p>If the site is to remain about anything-apple, then I like AppleExchange. However, I feel the different devices/os's are different enough to warrant their own exchanges. I would like to see them broke out into an iOS exchange, and a Mac/OSX exchange.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Anyone with a little bit of Apple history knows that it is  merely an allusion to the Think Different marketing campaigns that Apple used to run.</p>

<p><a href="http://en.wikipedia.org/wiki/Think_different" rel="nofollow noreferrer">http://en.wikipedia.org/wiki/Think_different</a></p>

<blockquote>
  <p>"Here s to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes.</p>
  
  <p>The ones who see things differently. They re not fond of rules. And they have
  no respect for the status quo. You can quote them, disagree with them,
  glorify or vilify them.</p>
  
  <p>But the only thing you can t do is ignore them. Because they change
  things. They invent. They imagine. They heal. They explore. They
  create. They inspire. They push the human race forward.</p>
  
  <p>Maybe they have to be crazy.</p>
  
  <p>How else can you stare at an empty canvas and see a work of art? Or
  sit in silence and hear a song that s never been written? Or gaze at a
  red planet and see a laboratory on wheels?</p>
  
  <p>We make tools for these kinds of people.</p>
  
  <p>While some see them as the crazy ones, we see genius. Because the
  people who are crazy enough to think they can change the world, are
  the ones who do."</p>
</blockquote>

<p><img src="https://i.stack.imgur.com/hB32b.png" alt="enter image description here"></p>

<p>Any choice of name would be down to personal opinion and preference, but I think it's far better than any of your suggestions which are all too narrow in there descriptive ability  other than AskApple, which has trademark and copyright issues. Using "exchange" brings to mind Microsoft, to me.  As you can see, logos and slogans etc have to be chosen very carefully.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>One could say the name "Apple" is downright confusing and not useful   it's a fruit, and it doesn't suggest the products they actually sell. But it's the name of the company.  Similarly, <em>Ask Different</em> is the name of this community. Names aren't descriptions; they're identifiers.</p>

<p>I'm troubled, though, that you would wander into a community and, without getting to know anyone or participating in the community, tell us that we need to change our name. If someone took a plane to New York and, upon arriving, started asking people to rename the city to something else, they would rightly be laughed out of town. This community was named by its participants early in its history. There were indeed discussions at that point about what an appropriate name for the community was (and we were originally called apple.stackexchange.com). But proposals for something as drastic as renaming a community really should only come from people who are deeply involved in the life of that community. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>