<html>
	<head>
		<title id = 'pagetitle'>Change the language tag to mean human language?
		</title>
	<head>
	<body id = 'pagebody'><p>In tagging <a href="https://apple.stackexchange.com/questions/21447/what-is-the-difference-between-the-variant-language-dictionaries-in-os-x">this question</a>, I was surprised that the language tag was described as being for programming language rather than human language. However, of all the questions using the language tag, <a href="https://apple.stackexchange.com/questions/14663/two-macbook-pros-display-my-webpage-differently">only one</a> is related to programming language. The rest all are related to human language.</p>

<p>Any objections to changing the meaning of the language tag to be human language?</p>


<h1>ANSWERS</h1>
		<p>Yes, as you have done, I would simply remove the one oddball usage and standardize on what it seems to be used for in practice.</p>


	</body>
</html>