<html>
	<head>
		<title id = 'pagetitle'>Change the last-updated behaviour of the site when tags are edited
		</title>
	<head>
	<body id = 'pagebody'><p>It's not a huge deal, but I think it would be an improvement if the site didn't consider that questions had been updated as a result of someone editing the tags.</p>

<p>Sometimes you visit the site and think wow - <i>loads of questions I'm interested in have all come back onto the first page, that's great!</i> - then you look a little closer and realise that someone has been diligently retagging them; the question and answer content is actually the same as it was a few days ago.</p>

<p>I know it only seems like a minor thing, but I just don't feel that retagging a question should cause it to appear as if it's had another answer or a significant edit.</p>

<p>Please don't misunderstand - I hugely approve of tagging and especially of those hardy souls who spend their valuable time correctly tags, it's appreciated. I'm just not sure that adding or editing a tag should alter the 'last updated' status of a question.</p>


<h1>ANSWERS</h1>
		<p>I'm sorry for spamming the home page with retagging.</p>

<p>I highly approve this and I hope it isn't a hard-coded mechanism of stackexchange.</p>

<p>If this is the case, you should post your proposal on <a href="https://meta.stackexchange.com/">Meta.SE</a>.</p>


<p>The purpose for bumping to the home page is to avoid tag abuse. Since there are badges and a complete tag wiki system involved, bumping it prevents someone from creating arbitrary tags.</p>

<p>Moderators can do a mass re-tag which will not bump questions, which is generally the process should there be more then a certain number of tags that need to be changed.</p>


	</body>
</html>