<html>
	<head>
		<title id = 'pagetitle'>Change stackexchange.com user profile picture
		</title>
	<head>
	<body id = 'pagebody'><p>How do I change my profile pic in my account or avatar?  I signed up under my email for the account and I can't figure out how to change it from the current profile pic/avatar.</p>


<h1>ANSWERS</h1>
		<p>Four simple steps...</p>

<ol>
<li><p>Click your 'Reputation', top right.</p></li>
<li><p>Click 'Edit Profile &amp; Settings</p></li>
<li><p>Click 'Change picture' at the bottom of your existing avatar</p></li>
<li><p>Upload a new picture or change Identicon</p>

<p><a href="https://i.stack.imgur.com/6uXob.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6uXob.png" alt=""></a></p>

<p>Oops, don't forget  </p></li>
<li><p>Click Save for this site or entire SE network at the bottom of the page.</p>

<p><a href="https://i.stack.imgur.com/NsgVs.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/NsgVs.png" alt="Save"></a></p></li>
</ol>


	</body>
</html>