<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Change in moderators
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-222" class = "post">
			<h2>Question</h2>
			<div id="vote-222" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 115</p>
			</div>
				<h2>Change in moderators</h2>
<p>On 7 September, <a href="https://apple.meta.stackexchange.com/users/3/robert-cartaino">Robert Cartaino </a> made the <a href="https://apple.meta.stackexchange.com/questions/86/moderator-pro-tem-announcement/">Moderator Pro Tem Announcement</a>, listing as moderators:</p>

<blockquote>
  <p><img src="https://i.stack.imgur.com/xBEqG.png" alt="Chealion"> <img src="https://i.stack.imgur.com/HFI08.png" alt="Studer"> <img src="https://i.stack.imgur.com/NM03L.png" alt="Dori"> <img src="https://i.stack.imgur.com/8YGOf.png" alt="Kyle Cronin"></p>
</blockquote>

<p><br /></p>

<h3>But now </h3>

<p><br />
When I look at our <a href="https://apple.stackexchange.com/about">About page</a> today, I see the moderators listed as:</p>

<blockquote>
  <p><img src="https://i.stack.imgur.com/mXewr.png" alt="Curr mods"></p>
</blockquote>

<p>I was surprised to not see an announcement/acknowledgement here of some sort, so I figured I'd post one. <sup><sub>(you're soaking in it!)</sub></sup></p>

<p>@Chealion, many thanks for your hard work! (and please don't leave us altogether)</p>

<p>@Calavera, congrats on the promotion!</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-222">Load Comments</button></br>
			<div id = "commentsection-222" class = 'collapse'>
			<div id = "comment-417" class = "comment">
				<p>@Calavera : Gratz! :)</p>
			</div>
			<div id = "comment-420" class = "comment">
				<p>Martin: thanks!  Now I'm +1/-1 for positive to negative posts on meta about me :)</p>
			</div>
			<div id = "comment-427" class = "comment">
				<p>lol... like you said, it's a badge of honor :)</p>
			</div>
			</div>
				<textarea id = "speech-222" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-222">
					<img id="start_img-222" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-223"  class = "post">
				<h2>Answer</h2>
			<div id="vote-223" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><sub>I m adding an answer although it is kind of unrelated to the  question . <strong>"tip o  the antler" to Calavera for teaching me the  sub' tag</strong></sub></p>

<p>I d love to help moderate, but my English is not native and as such, I usually make mistakes and I don t think it would be a good idea. In any case, if we <em>really</em> need another one, I would gladly help, especially if the site s traffic starts increasing and  moderation  workload is increased. </p>

<p>Just have me as candidate on hold. :)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-223">Load Comments</button></br>
			<div id = "commentsection-223" class = 'collapse'>
			<div id = "comment-421" class = "comment">
				<p>I think your English is better than mine in many cases...</p>
			</div>
			<div id = "comment-429" class = "comment">
				<p>@calavera :) Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-223" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-223">
					<img id="start_img-223" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-225"  class = "post">
				<h2>Answer</h2>
			<div id="vote-225" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When I noticed that Chealion was no longer a moderator and that Studer hasn't even visited the site in two months, I contacted Robert and recommended calavera for the position. He's been really active on the main site, here on meta, he frequently flagged stuff for moderator attention, and he's taken an active role in <a href="https://apple.meta.stackexchange.com/questions/194/question-deletion/196#196">trying to clean up the site</a>.</p>

<p>Congratulations on the promotion calavera - you've earned it!</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-225">Load Comments</button></br>
			<div id = "commentsection-225" class = 'collapse'>
			<div id = "comment-423" class = "comment">
				<p>thanks for the nomination, I appreciate it!</p>
			</div>
			</div>
				<textarea id = "speech-225" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-225">
					<img id="start_img-225" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-226"  class = "post">
				<h2>Answer</h2>
			<div id="vote-226" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The announcement simply trailed behind the appointment. No slight intended. Congratulations to @calavera and thank you for stepping up! The moderator announcement has been updated: </p>

<p><a href="https://apple.meta.stackexchange.com/questions/86/moderator-pro-tem-announcement">Moderator Pro Tem Announcement</a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-226">Load Comments</button></br>
			<div id = "commentsection-226" class = 'collapse'>
			<div id = "comment-424" class = "comment">
				<p>but I think it's better to change Studer not Chealion, anyway congratz @calavera</p>
			</div>
			<div id = "comment-425" class = "comment">
				<p>@Am1rr3zA: Chealion was not "changed." He requested to step down for personal reasons. Studer has not been active but he still retains his moderator abilities and is always welcome to return. The linked post contains the list of the current moderator team.</p>
			</div>
			</div>
				<textarea id = "speech-226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-226">
					<img id="start_img-226" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>