<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Change in moderators
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Change in moderators</h2>
<p>On 7 September, <a href="https://apple.meta.stackexchange.com/users/3/robert-cartaino">Robert Cartaino </a> made the <a href="https://apple.meta.stackexchange.com/questions/86/moderator-pro-tem-announcement/">Moderator Pro Tem Announcement</a>, listing as moderators:</p>

<blockquote>
  <p><img src="https://i.stack.imgur.com/xBEqG.png" alt="Chealion"> <img src="https://i.stack.imgur.com/HFI08.png" alt="Studer"> <img src="https://i.stack.imgur.com/NM03L.png" alt="Dori"> <img src="https://i.stack.imgur.com/8YGOf.png" alt="Kyle Cronin"></p>
</blockquote>

<p><br /></p>

<h3>But now </h3>

<p><br />
When I look at our <a href="https://apple.stackexchange.com/about">About page</a> today, I see the moderators listed as:</p>

<blockquote>
  <p><img src="https://i.stack.imgur.com/mXewr.png" alt="Curr mods"></p>
</blockquote>

<p>I was surprised to not see an announcement/acknowledgement here of some sort, so I figured I'd post one. <sup><sub>(you're soaking in it!)</sub></sup></p>

<p>@Chealion, many thanks for your hard work! (and please don't leave us altogether)</p>

<p>@Calavera, congrats on the promotion!</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p><sub>I m adding an answer although it is kind of unrelated to the  question . <strong>"tip o  the antler" to Calavera for teaching me the  sub' tag</strong></sub></p>

<p>I d love to help moderate, but my English is not native and as such, I usually make mistakes and I don t think it would be a good idea. In any case, if we <em>really</em> need another one, I would gladly help, especially if the site s traffic starts increasing and  moderation  workload is increased. </p>

<p>Just have me as candidate on hold. :)</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>When I noticed that Chealion was no longer a moderator and that Studer hasn't even visited the site in two months, I contacted Robert and recommended calavera for the position. He's been really active on the main site, here on meta, he frequently flagged stuff for moderator attention, and he's taken an active role in <a href="https://apple.meta.stackexchange.com/questions/194/question-deletion/196#196">trying to clean up the site</a>.</p>

<p>Congratulations on the promotion calavera - you've earned it!</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>The announcement simply trailed behind the appointment. No slight intended. Congratulations to @calavera and thank you for stepping up! The moderator announcement has been updated: </p>

<p><a href="https://apple.meta.stackexchange.com/questions/86/moderator-pro-tem-announcement">Moderator Pro Tem Announcement</a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>