<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Change exchange Name to be more Descriptive
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2075" class = "post">
			<h2>Question</h2>
			<div id="vote-2075" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 75</p>
			</div>
				<h2>Change exchange Name to be more Descriptive</h2>
<p>The name "AskDifferent" is downright confusing and not useful.</p>

<p>Change it to something more useful like:</p>

<p>AskApple</p>

<p>AskOSX</p>

<p>AskiOS</p>

<p>AskMac</p>

<p>AppleExchange</p>

<p>MacExchange</p>

<p>etc.</p>

<p>If the site is to remain about anything-apple, then I like AppleExchange. However, I feel the different devices/os's are different enough to warrant their own exchanges. I would like to see them broke out into an iOS exchange, and a Mac/OSX exchange.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2075">Load Comments</button></br>
			<div id = "commentsection-2075" class = 'collapse'>
			<div id = "comment-3995" class = "comment">
				<p>http://meta.apple.stackexchange.com/questions/205/official-site-title/207#207</p>
			</div>
			<div id = "comment-3996" class = "comment">
				<p>http://meta.apple.stackexchange.com/questions/1345/rename-the-site-as-apple-user/1635#1635</p>
			</div>
			<div id = "comment-3997" class = "comment">
				<p>http://meta.apple.stackexchange.com/questions/286/ask-different-really-surely-ask-apple</p>
			</div>
			</div>
				<textarea id = "speech-2075" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2075">
					<img id="start_img-2075" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2076"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2076" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Anyone with a little bit of Apple history knows that it is  merely an allusion to the Think Different marketing campaigns that Apple used to run.</p>

<p><a href="http://en.wikipedia.org/wiki/Think_different" rel="nofollow noreferrer">http://en.wikipedia.org/wiki/Think_different</a></p>

<blockquote>
  <p>"Here s to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes.</p>
  
  <p>The ones who see things differently. They re not fond of rules. And they have
  no respect for the status quo. You can quote them, disagree with them,
  glorify or vilify them.</p>
  
  <p>But the only thing you can t do is ignore them. Because they change
  things. They invent. They imagine. They heal. They explore. They
  create. They inspire. They push the human race forward.</p>
  
  <p>Maybe they have to be crazy.</p>
  
  <p>How else can you stare at an empty canvas and see a work of art? Or
  sit in silence and hear a song that s never been written? Or gaze at a
  red planet and see a laboratory on wheels?</p>
  
  <p>We make tools for these kinds of people.</p>
  
  <p>While some see them as the crazy ones, we see genius. Because the
  people who are crazy enough to think they can change the world, are
  the ones who do."</p>
</blockquote>

<p><img src="https://i.stack.imgur.com/hB32b.png" alt="enter image description here"></p>

<p>Any choice of name would be down to personal opinion and preference, but I think it's far better than any of your suggestions which are all too narrow in there descriptive ability  other than AskApple, which has trademark and copyright issues. Using "exchange" brings to mind Microsoft, to me.  As you can see, logos and slogans etc have to be chosen very carefully.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2076">Load Comments</button></br>
			<div id = "commentsection-2076" class = 'collapse'>
			<div id = "comment-3999" class = "comment">
				<p>It's 97-2002 actually, or early modern era Apple. I never had an Apple device until 2007, and it still works for me.</p>
			</div>
			<div id = "comment-4000" class = "comment">
				<p>It even works for my kids (born in the late 1990s) :-)</p>
			</div>
			</div>
				<textarea id = "speech-2076" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2076">
					<img id="start_img-2076" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2077"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2077" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One could say the name "Apple" is downright confusing and not useful   it's a fruit, and it doesn't suggest the products they actually sell. But it's the name of the company.  Similarly, <em>Ask Different</em> is the name of this community. Names aren't descriptions; they're identifiers.</p>

<p>I'm troubled, though, that you would wander into a community and, without getting to know anyone or participating in the community, tell us that we need to change our name. If someone took a plane to New York and, upon arriving, started asking people to rename the city to something else, they would rightly be laughed out of town. This community was named by its participants early in its history. There were indeed discussions at that point about what an appropriate name for the community was (and we were originally called apple.stackexchange.com). But proposals for something as drastic as renaming a community really should only come from people who are deeply involved in the life of that community. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2077">Load Comments</button></br>
			<div id = "commentsection-2077" class = 'collapse'>
			<div id = "comment-4005" class = "comment">
				<p>This question is part of an overall campaign to help clean up stackexchange. There has been a lot of new exchanges cropping up, and unfortunately they are not of the same quality the original exchanges strived to be. Many are primarily opinion-based such as The Workplace, and this has been acknowledged by some of the community leaders. Changing this exchange name would only help the community - not every Apple device user knows about an old marketing campaign - nor is it descriptive to a casual passer-by. Splitting into multiple exchanges would help focus questions and answers, better for all</p>
			</div>
			<div id = "comment-4006" class = "comment">
				<p>Don't fix things which ain't broken. If you really think SE as a whole need to be cleaned up, take it to http://meta.stackexchange.com for discussion</p>
			</div>
			<div id = "comment-4007" class = "comment">
				<p>@patrix I have, and was directed to post these sort of things on each of the exchanges by the mods there. my only mistake was I could not locate the meta for this site for my OP. I feel very strongly that all of the different apple devices should not be blanketed under one exchange. it's too broad. OSX issues have nothing to do with iPhone charging problems, etc. At the least, there should be an Apple Software, and an Apple Hardware exchange...</p>
			</div>
			<div id = "comment-4009" class = "comment">
				<p>Why "should" there be different sites in your opinion? Which existing/observable problems would this solve?</p>
			</div>
			<div id = "comment-4010" class = "comment">
				<p>@patrix I think it's more beneficial to split at the very least, devices and operating system's. For example, replacing the screen on an iDevice is not similar or related to fixing a broken Parallels install due to an update. It would help focus each of the exchanges. In Apple's world, the devices/hardware are unique enough to warrant their own exchange and not be lumped into a general "pc hardware" exchange, I can give you that. As this exchange grows (it will), keeping it focused will benefit all.</p>
			</div>
			<div id = "comment-4011" class = "comment">
				<p>@patrix also, my personal opinion is the current name is a giant advertisement for Apple, and is also slightly esoteric and brings a certain, "air" to the exchange if you catch my meaning. It should either be named for what it is "Ask Apple" (we already have AskUbuntu with no trademark issues, just don't use the Registered logo and you are safe), or should be named more descriptive like "Ask About Apple Products" (admittedly not as sexy). A googler should not have to be already familiar with this exchange to understand it's an authoritative site for answers about their apple product(s).</p>
			</div>
			<div id = "comment-4012" class = "comment">
				<p>Do you want to edit your question (or raise a new one on meta) to elaborate your reasoning a bit more? Please also take the time to understand how the site currently works, how tags are used to separate questions by various topics and how (in a HW/SW split) questions like "My iPhone Home button is broken, is there a HW or SW solution to fix it?" would be handled.</p>
			</div>
			<div id = "comment-4013" class = "comment">
				<p>"Answer for your Apple questions" is actually written below AskDifferent, so I don't see your point here. People don't just stumble over this site after all, they mostly come in via Google/other search engines or via links shared on other sites. So in a way the name doesn't matter at all.</p>
			</div>
			</div>
				<textarea id = "speech-2077" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2077">
					<img id="start_img-2077" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>