<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Changes are coming to the close process. What custom reasons might help this site best?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1729" class = "post">
			<h2>Question</h2>
			<div id="vote-1729" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 83</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Changes are coming to the close process. What custom reasons might help this site best?</h2>
<p>I wanted to post a main announcement here:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/184154/closing-changes-on-hold-unclear-too-broad-opinion-based-off-topic-reasons">Closing changes: on hold, unclear, too broad, opinion-based, off-topic reasons, bye-bye to Too Localized</a></li>
</ul>

<p>These changes are going to be a very nice benefit to both new users and old users - especially once we all get a week or two to see how to best use the new close reasons:</p>

<ul>
<li>When your question is closed, if you edit it within 5 days - it's bumped to the reopen queue without anyone needing to cast the first vote. Additionally, the text will say <strong>[on hold]</strong> rather than <strong>[closed]</strong> to remind everyone that we expect most questions to be saved and re-opened if the problem identified can be fixed with a proper edit.</li>
<li>The specific problems with a post are much more specific: <strong>duplicate, off-topic, unclear what you are asking, too broad, primarily opinion based</strong></li>
</ul>

<p>All this is a common change to all sites on Stack Exchange. What's specific to Ask Different is that we can come up with one or two custom "off-topic reasons" and I'd like to knock around any and all reasons we'd like to have listed for all users to pick when casting a close vote.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1729">Load Comments</button></br>
			<div id = "commentsection-1729" class = 'collapse'>
			<div id = "comment-3242" class = "comment">
				<p>I was grumbling about these changes, then I realized that [I actually suggested](http://meta.stackexchange.com/a/171491/170961) the idea of on hold. I'm sure other people suggested it also; I'm not claiming to have invented the idea, but obviously at some point I thought it was a good idea :-)</p>
			</div>
			</div>
				<textarea id = "speech-1729" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1729">
					<img id="start_img-1729" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1729">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1730"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1730" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One custom close reason I see that would help the site would be:</p>

<h2>Primarily a code-level development question</h2>

<p>I would like suggestions how to word this, but I think the site works well when we don't have lots of questions about how to program cocoa, how to use interface builder to map a user interface to code, and specific technologies that are only used by developers.</p>

<p>Xcode can be used by many system administrators and power users, and I'm OK with questions on how to install Xcode, how to juggle multiple versions of Xcode and how it works with the core OS (since end users need to know how the OS works and if a question helps to benefit developers (which are a subset of users in most all cases), I like having that sort of knowledge here.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1730" class = 'collapse'>
			</div>
				<textarea id = "speech-1730" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1730">
					<img id="start_img-1730" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1730">Comment</button>
			<br><div id = "ans-1732"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1732" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Going <a href="https://apple.stackexchange.com/help/on-topic">from our old FAQ</a>, I'd also like to see:</p>

<ul>
<li><strong>Pre-release, non-publicly available beta software and software granted only under an NDA</strong></li>
</ul>

<p>This one gets a fair bit of heavy use in the time periods in which Apple has pre-announced an operating system but not yet released it.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1732">Load Comments</button></br>
			<div id = "commentsection-1732" class = 'collapse'>
			<div id = "comment-3241" class = "comment">
				<p>I had a chat discussion that we might get two / three reasons at most. Perhaps we should split these out so that we can see which are most needed and which will lack a custom close reason and have to fall under the generic. I admit I'm not 100% sure how this is supposed to work - see this post for details. http://meta.stackexchange.com/questions/184637/what-do-elected-site-moderators-need-to-do-to-support-the-new-custom-question-cl</p>
			</div>
			</div>
				<textarea id = "speech-1732" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1732">
					<img id="start_img-1732" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1732">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>