<html>
	<head>
		<title id = 'pagetitle'>Chat status on landing page of Apple.se ?
		</title>
	<head>
	<body id = 'pagebody'><p>I see Photo.se has an entry to left side of the landing page (<a href="http://photo.stackexchange.com">http://photo.stackexchange.com</a>). I wish Apple.se also could have the same.</p>

<p>If I want to see about the chat room status, I have to click on a question, then only I can see the status of it ! </p>

<p>Can we fix this ?</p>


<h1>ANSWERS</h1>
		<p>This was a mistake on DBA and has been corrected.</p>


	</body>
</html>