<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Chat Room Name~Subtext not set for Ask Different Chat
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1057" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::142</h3>
				<h2>Chat Room Name~Subtext not set for Ask Different Chat</h2>
<p>If you look at all the chat rooms on SE, (notwithstanding the temporary ones between users etc) they pretty much all have a) a witty name, and/or b) some following subtext, e.g. :</p>

<p>The Frying Pan: Sometimes hot, always heavy. (cooking.SE)</p>

<p>Literature: Read any good books lately? (literature.SE)</p>

<p>Many of them have a generic "General discussion for XXX.stackexchange.com" subtext.</p>

<p>Ours is blank.  Can we set one?  Suggestions as answers, most upvotes after a week wins?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1061"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Warning: I'm not good at naming things.</p>

<p>What came to mind for a name is <strong><a href="http://en.wikipedia.org/wiki/Appletalk" rel="nofollow">AppleTalk</a></strong>.<br>
I'm not convinced that this is a great option, since it's pretty obscure.<br>
That said, it may be better than nothing (maybe?).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1943" class = "comment">
				<p>The history buff in me loves the name, but were you even alive when AppleTalk was in active development? I think OS 8 was the last new version of AppleTalk, but it was a *big* deal on my ][GS back in 1987.</p>
			</div>
			<div id = "comment-1946" class = "comment">
				<p>@Daniel OS 8 is less than a year younger than me :)</p>
			</div>
			<br><div id = "ans-1062"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p><strong>Chat Different</strong> (notice the space) as the room name, with the subtext line reading "Here's to the crazy ones"</p>

<p>Because the whole "Think Different" campaign launched with the reflection:</p>

<blockquote>
  <p>Here s to the crazy ones. The misfits. The rebels. The troublemakers.
  The round pegs in the square holes. The ones who see things
  differently. They re not fond of rules. And they have no respect for
  the status quo. You can quote them, disagree with them, glorify or
  vilify them. About the only thing you can t do is ignore them. Because
  they change things. They invent. They imagine. They heal. They
  explore. They create. They inspire. They push the human race forward.
  Maybe they have to be crazy. How else can you stare at an empty canvas
  and see a work of art? Or sit in silence and hear a song that s never
  been written? Or gaze at a red planet and see a laboratory on wheels?
  We make tools for these kinds of people. While some see them as the
  crazy ones, we see genius. Because the people who are crazy enough to
  think they can change the world, are the ones who do.</p>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1952" class = "comment">
				<p>Frankly I think "The misfits. The rebels. The troublemakers." by itself is fitting and perfect for our room's sub-text.</p>
			</div>
			<br><div id = "ans-1064"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>For a chat room name, absent a really eloquent play on words ("The iLounge"), I think "Ask Different Chat" is sufficient for now<sup>1</sup>. I admit that I love the originality of other sites' room names, and would love to get there eventually, but I don't think we have it yet.</p>

<p>Per my comment on Daniel's answer, the best subtext is easily "The misfits. The rebels. The troublemakers." or maybe slightly abuse the quote:</p>

<p>"The crazy ones; The misfits, the rebels, the troublemakers."</p>

<p><sup>1</sup> Unless folks feel like rallying around "Ask Different Magpies" :D!</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1065"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>For the room name, I personally like "<strong>One more thing...</strong>"</p>

<p>I haven't got a preference for the subtext yet, but I'm resisting up voting the "misfits" ones as I think it's a bit of a relic</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1953" class = "comment">
				<p>If "the misfits" is a relic, than so is "Ask Different" -- they allude to the same ad campaign.</p>
			</div>
			<div id = "comment-1954" class = "comment">
				<p>I hear that, but conceptually it's still very different in the same way as in the original meaning, and so that still works well.  The rest, less so.  More mainstream than misfit.   It's still fun though, I would identify with being a square peg for example.</p>
			</div>
			<div id = "comment-1955" class = "comment">
				<p>Macs may be mainstream, but as became clear during the town hall, AD culture might well still be round pegs in square holes wrt the rest of SE</p>
			</div>
			<div id = "comment-1956" class = "comment">
				<p>You can say that again.   That's why Ask Different is still such a great name.</p>
			</div>
			<br><div id = "ans-1128"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I think that "Ask Different Chat" is sufficient for the <em>primary</em> chat of the site, but feel free to create your own themed chats.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>