<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Chat status on landing page of Apple.se ?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Chat status on landing page of Apple.se ?</h2>
<p>I see Photo.se has an entry to left side of the landing page (<a href="http://photo.stackexchange.com">http://photo.stackexchange.com</a>). I wish Apple.se also could have the same.</p>

<p>If I want to see about the chat room status, I have to click on a question, then only I can see the status of it ! </p>

<p>Can we fix this ?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This was a mistake on DBA and has been corrected.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>