<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Checkbox to automatically resize a retina display screenshot
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1373" class = "post">
			<h2>Question</h2>
			<h3>Score ::19</h3>
			<h3>Views ::774</h3>
				<h2>Checkbox to automatically resize a retina display screenshot</h2>
<p>For users with the new MacBook Pro with retina display, screenshots have their dimensions doubled. For example, if I take a screenshot of a window, this is what I get:</p>

<p><img src="https://i.stack.imgur.com/Jy8He.png" alt="retina screenshot, not resized"></p>

<p>As you can see, when the image is displayed normally, it's too big.</p>

<p>The correct way to display these is to use</p>

<pre><code>&lt;img src="[url]" width="[half of image width]"&gt;
</code></pre>

<p>Which produces this:</p>

<p><img src="https://i.stack.imgur.com/Jy8He.png" width="88"></p>

<p>On a retina display, this is rendered at native resolution; on a non-retina display, it's appropriately downscaled so that it remains the correct size.</p>

<p><strong>Can we get a checkbox on the image upload dialog that does the hard work for us?</strong> This would make answering questions a lot easier without having to manually check the image width, divide by 2, and type in the HTML.</p>

<p>Something like this:</p>

<p><img src="https://i.stack.imgur.com/wliaw.png" width="350"></p>

			</div><h3>Comments</h3>
			<div id = "comment-2890" class = "comment">
				<p>Yes, yes, yes and yes - I would love this. Please consider asking this on the main meta http://meta.stackoverflow.com/ - your wording and explanation are excellent. I'll gladly ask it there (taking your work) if you would prefer not to ask there.</p>
			</div>
			<div id = "comment-2894" class = "comment">
				<p>We can no longer migrate questions older than a few weeks to a new site. Someone has to copy the text and ask it there</p>
			</div>
			<div id = "comment-2900" class = "comment">
				<p>@bmike Thought I had done this earlier but apparently not. Anyway, here we go! http://meta.stackexchange.com/questions/161111/checkbox-to-automatically-resize-a-retina-display-screenshot</p>
			</div>
				<textarea id = "speech-1373" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1373">
					<img id="start_img-1373" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-1547"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-5</h3>
				<p><p>I'd just as soon leave the original image size as is. Let the end client determine what the image will be scaled to if at all.</p>

<p>Update: Currently the best that can be done is to have a client-side script check the available space in the content area and request an appropriately sized image.</p>

<p>In the future new properties in the <a href="http://www.w3.org/TR/css3-images/#the-object-fit" rel="nofollow">CSS3 image module</a> could deal with the issue (look at <code>object-fit</code> for one).</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2895" class = "comment">
				<p>This is the problem I want to avoid, so that the screenshots are not horribly large.</p>
			</div>
			<div id = "comment-2896" class = "comment">
				<p>It would be nice if clients actually handled scaling - if anyone knows one that works well - please answer with some details...</p>
			</div>
				<textarea id = "speech-1547" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1547">
					<img id="start_img-1547" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-1551"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>There are many articles discussing <a href="http://www.bing.com/search?q=image+%402x+css" rel="nofollow">image @2x css</a> but one of the simplest I've seen is by <a href="http://weedygarden.net/2010/10/retina-display-and-css-background-images/" rel="nofollow">WeedyGarden.net</a></p>

<p>This can be done with HTML4 and CSS2 using a media query and changing the CSS to call the high resolution image.</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-1551" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1551">
					<img id="start_img-1551" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-1552"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Since we can't migrate this question to the main meta - please visit the main site and vote / comment on this request since it's unlikely it will get implemented for us until it gets implemented site wide.</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/161111/checkbox-to-automatically-resize-a-retina-display-screenshot">Automatically resize high-resolution screenshots</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-1552" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1552">
					<img id="start_img-1552" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>