<html>
	<head>
		<title id = 'pagetitle'>Checkbox to automatically resize a retina display screenshot
		</title>
	<head>
	<body id = 'pagebody'><p>For users with the new MacBook Pro with retina display, screenshots have their dimensions doubled. For example, if I take a screenshot of a window, this is what I get:</p>

<p><img src="https://i.stack.imgur.com/Jy8He.png" alt="retina screenshot, not resized"></p>

<p>As you can see, when the image is displayed normally, it's too big.</p>

<p>The correct way to display these is to use</p>

<pre><code>&lt;img src="[url]" width="[half of image width]"&gt;
</code></pre>

<p>Which produces this:</p>

<p><img src="https://i.stack.imgur.com/Jy8He.png" width="88"></p>

<p>On a retina display, this is rendered at native resolution; on a non-retina display, it's appropriately downscaled so that it remains the correct size.</p>

<p><strong>Can we get a checkbox on the image upload dialog that does the hard work for us?</strong> This would make answering questions a lot easier without having to manually check the image width, divide by 2, and type in the HTML.</p>

<p>Something like this:</p>

<p><img src="https://i.stack.imgur.com/wliaw.png" width="350"></p>


<h1>ANSWERS</h1>
		<p>I'd just as soon leave the original image size as is. Let the end client determine what the image will be scaled to if at all.</p>

<p>Update: Currently the best that can be done is to have a client-side script check the available space in the content area and request an appropriately sized image.</p>

<p>In the future new properties in the <a href="http://www.w3.org/TR/css3-images/#the-object-fit" rel="nofollow">CSS3 image module</a> could deal with the issue (look at <code>object-fit</code> for one).</p>


<p>There are many articles discussing <a href="http://www.bing.com/search?q=image+%402x+css" rel="nofollow">image @2x css</a> but one of the simplest I've seen is by <a href="http://weedygarden.net/2010/10/retina-display-and-css-background-images/" rel="nofollow">WeedyGarden.net</a></p>

<p>This can be done with HTML4 and CSS2 using a media query and changing the CSS to call the high resolution image.</p>


<p>Since we can't migrate this question to the main meta - please visit the main site and vote / comment on this request since it's unlikely it will get implemented for us until it gets implemented site wide.</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/161111/checkbox-to-automatically-resize-a-retina-display-screenshot">Automatically resize high-resolution screenshots</a></li>
</ul>


	</body>
</html>