<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Clarification on appropriate comments
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2783" class = "post">
			<h2>Question</h2>
			<div id="vote-2783" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 110</p>
			</div>
				<h2>Clarification on appropriate comments</h2>
<p>I'm new to Stack Exchange and still learning the rules and conventions. Is it ever appropriate to comment on a great answer to add to what was already written? Is it appropriate to say things like, "I was thinking the same thing," or "wow, great answer," or are comments of this nature discouraged?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2783" class = 'collapse'>
			</div>
				<textarea id = "speech-2783" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2783">
					<img id="start_img-2783" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2784"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2784" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Comments are designed to be used to ask for clarification or to suggest changes to be made to an answer, or provide transient meta-information.</p>

<p>Transient is key here; comments are ephemeral as comments asking for clarification usually means the answer should be edited to better explain something, and comments suggesting changes are either integrated into the answer or removed if incorrect.</p>

<p>You should never comment with "good answer" or equivalent (without qualification)   that's what upvotes are for and they are likely to be removed.</p>

<p>For more information about comments, see <a href="https://meta.stackexchange.com/questions/19756/how-do-comments-work">How do comments work?</a>.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2784" class = 'collapse'>
			</div>
				<textarea id = "speech-2784" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2784">
					<img id="start_img-2784" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>