<html>
	<head>
		<title id = 'pagetitle'>Clarification on appropriate comments
		</title>
	<head>
	<body id = 'pagebody'><p>I'm new to Stack Exchange and still learning the rules and conventions. Is it ever appropriate to comment on a great answer to add to what was already written? Is it appropriate to say things like, "I was thinking the same thing," or "wow, great answer," or are comments of this nature discouraged?</p>


<h1>ANSWERS</h1>
		<p>Comments are designed to be used to ask for clarification or to suggest changes to be made to an answer, or provide transient meta-information.</p>

<p>Transient is key here; comments are ephemeral as comments asking for clarification usually means the answer should be edited to better explain something, and comments suggesting changes are either integrated into the answer or removed if incorrect.</p>

<p>You should never comment with "good answer" or equivalent (without qualification)   that's what upvotes are for and they are likely to be removed.</p>

<p>For more information about comments, see <a href="https://meta.stackexchange.com/questions/19756/how-do-comments-work">How do comments work?</a>.</p>


	</body>
</html>