<html>
	<head>
		<title id = 'pagetitle'>Clicked tab is backwards
		</title>
	<head>
	<body id = 'pagebody'><p>You have got the  clicked tab  metaphor in reverse:
<img src="https://i.stack.imgur.com/LGK8U.png" /><br/>
To me, it looks like all the other tabs are clicked. Or maybe it s the Apple  way.</p>


<h1>ANSWERS</h1>
		<p>It isn't reversed, but more the browser that you are using, as pointed out by balpha. This is what it should look like (using Google Chrome, a modern browser):</p>

<p><img src="https://i.stack.imgur.com/sxMuI.png" alt="Chrome tabs"></p>


<p><img src="https://i.stack.imgur.com/wWnyV.png" alt="enter image description here"></p>

<p>The active tab <em>is</em> raised, rather than lowered. If "clicked tab" is the desired metaphor, I agree that it is backward. I suggest, however, that it isn't an incorrect implementation of the "clicked tab" metaphor, but rather a correct implementation of a different metaphor: the sliding switch. The sliding switch is over "active" rather than over one of the others, in the example I pasted above.</p>

<p>All that said, it looks much better in a standards-compliant browser than it does in IE. </p>

<p>For whatever it's worth, in Safari, the active tab appears raised, not lowered, just like this interface does:
<img src="https://i.stack.imgur.com/5daII.png" alt="enter image description here"></p>

<p>so this website about Apple products has an interface that follows the same conventions as the UI for the default Apple browser. So yes, all condescension aside, perhaps it is the Apple Way .</p>


	</body>
</html>