<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Clicked tab is backwards
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-964" class = "post">
			<h2>Question</h2>
			<h3>Score ::-4</h3>
			<h3>Views ::68</h3>
				<h2>Clicked tab is backwards</h2>
<p>You have got the  clicked tab  metaphor in reverse:
<img src="https://i.stack.imgur.com/LGK8U.png" /><br/>
To me, it looks like all the other tabs are clicked. Or maybe it s the Apple  way.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-964">Load Comments</button></br>
			<div id = "commentsection-964" class = 'collapse'>
			<div id = "comment-1756" class = "comment">
				<p>In what browser was that screenshot taken? There's no outline or shadow; just a gradient, and the corners aren't rounded.</p>
			</div>
			<div id = "comment-1757" class = "comment">
				<p>That looks like IE8- to me. I'd say it's okay to look like that in a 3-year-old browser, but that's Jin's (the designer's) call. Anyway, is your condescending tone really necessary?</p>
			</div>
			</div>
				<textarea id = "speech-964" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-964">
					<img id="start_img-964" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-994"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>It isn't reversed, but more the browser that you are using, as pointed out by balpha. This is what it should look like (using Google Chrome, a modern browser):</p>

<p><img src="https://i.stack.imgur.com/sxMuI.png" alt="Chrome tabs"></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-994" class = 'collapse'>
			</div>
				<textarea id = "speech-994" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-994">
					<img id="start_img-994" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-997"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p><img src="https://i.stack.imgur.com/wWnyV.png" alt="enter image description here"></p>

<p>The active tab <em>is</em> raised, rather than lowered. If "clicked tab" is the desired metaphor, I agree that it is backward. I suggest, however, that it isn't an incorrect implementation of the "clicked tab" metaphor, but rather a correct implementation of a different metaphor: the sliding switch. The sliding switch is over "active" rather than over one of the others, in the example I pasted above.</p>

<p>All that said, it looks much better in a standards-compliant browser than it does in IE. </p>

<p>For whatever it's worth, in Safari, the active tab appears raised, not lowered, just like this interface does:
<img src="https://i.stack.imgur.com/5daII.png" alt="enter image description here"></p>

<p>so this website about Apple products has an interface that follows the same conventions as the UI for the default Apple browser. So yes, all condescension aside, perhaps it is the Apple Way .</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-997">Load Comments</button></br>
			<div id = "commentsection-997" class = 'collapse'>
			<div id = "comment-1813" class = "comment">
				<p>I agree, it looks right in IE9. The screenshot was taken using IE8.</p>
			</div>
			</div>
				<textarea id = "speech-997" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-997">
					<img id="start_img-997" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>