<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Close bug-report type question or leave answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2651" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::36</h3>
				<h2>Close bug-report type question or leave answer?</h2>
<p><a href="https://apple.stackexchange.com/q/210561">iTunes music sync: &quot;Albums&quot; sub-window too tall for main window</a></p>

<p>I also posted this on the Apple Community forum for iTunes, and received a reply from a high-rank user (turingtest2). His suggestion was to file a bug report via Apple Developer Connection, which I have done.  I also self-answered the AskDifferent post to that effect.</p>

<p>Does the original question (and answer) have any value in AskDifferent, or should I delete the question?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5927" class = "comment">
				<p>+1 it's of great value - especially when you tick the answered check mark. That way when the bug gets fixed, someone can edit what version of the software fixes things. Apple's discussions aren't curated, improved, edited - so having the same post here and there is of great value to everyone searching for clear and updated answers.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2652"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>It's still a worthwhile question. Many bugs have workarounds which make for good answers to such questions. I'd recommend leaving the question up and updating the answer if it is fixed or providing another answer if a workaround is found.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5928" class = "comment">
				<p>When (if) this is fixed I'll edit the question and add the version number in which it's fixed.  Thanks!</p>
			</div>
			<div id = "comment-5929" class = "comment">
				<p>@JimGarrison Please do **not** add answers by editing the question, it confuses users and the search function :-) Just post it as an answer on its own.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>