<html>
	<head>
		<title id = 'pagetitle'>Closing question as should be on other SE site
		</title>
	<head>
	<body id = 'pagebody'><p>I think that <a href="https://apple.stackexchange.com/questions/4413/c-code-navigation-on-os-x">Question about C++ navigation </a> should be on Stack Exchange. So I tried to flag it as off-topic - the off-topic box only gave me the choice of meta for this - on other SE sites it would list other SE sites.</p>


<h1>ANSWERS</h1>
		<p>In this case, I think the post is OK for the site, and it's gotten some decent answers.</p>

<p>In the future, you can flag a post for moderator attention and a moderator can migrate it to any SE site if it needs to be moved.</p>


	</body>
</html>