<html>
	<head>
		<title id = 'pagetitle'>Close bug-report type question or leave answer?
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/q/210561">iTunes music sync: &quot;Albums&quot; sub-window too tall for main window</a></p>

<p>I also posted this on the Apple Community forum for iTunes, and received a reply from a high-rank user (turingtest2). His suggestion was to file a bug report via Apple Developer Connection, which I have done.  I also self-answered the AskDifferent post to that effect.</p>

<p>Does the original question (and answer) have any value in AskDifferent, or should I delete the question?</p>


<h1>ANSWERS</h1>
		<p>It's still a worthwhile question. Many bugs have workarounds which make for good answers to such questions. I'd recommend leaving the question up and updating the answer if it is fixed or providing another answer if a workaround is found.</p>


	</body>
</html>