<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Closure due "primarily opinion-based" seems more like ignorance of moderator - a trend?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2402" class = "post">
			<h2>Question</h2>
			<h3>Score ::-5</h3>
			<h3>Views ::56</h3>
				<h2>Closure due "primarily opinion-based" seems more like ignorance of moderator - a trend?</h2>
<p>I asked a <a href="https://apple.stackexchange.com/questions/159369/how-much-difference-between-i5-and-i7-13-macbook-pro-2014-especially-for-xcode">question</a> about the difference that processor architectures make to compiler performance. I asked with a lot of supporting detail to make it possible for someone who knew facts to be able to say <em>X feature of the processor directly helps compilation</em> and I tried to avoid simple comparative "opinion-based" wording.</p>

<p>Still, it was closed.</p>

<p>We seem to have an increasing tendency to close questions as "opinion based" when I see many of them as being more, the closer doesn't know enough about the topic to know if there will be relevant facts so assumes the question leads to just opinions. Is this just "moderation activity for ego sake?"</p>

<p>(Yes I looked at the profile of the person who closed it and they don't seem to be an authority in this area.)</p>

<p>It was a real issue I was trying to get answered and I put significant work into technical preparation to seed the answers. The question just won me a silver badge for the 2,5000 views it's had so I was just reminded of how annoyed I was by the closure.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4495" class = "comment">
				<p>I think there is a site trend of poorly executed hardware shopping questions being placed on hold until they can be turned into clear and objective opportunities for reopening. Why attack the messenger instead of edit the post in question or ask here for community help to make things better? Are you looking for some measure of help with using the site of just interested in publishing your thoughts and venting your dissatisfaction? I enjoy helpng with the former and welcome the latter as long as discussion remains kind and civil.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2403"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>That question reads like you musing about benchmarks and their applicability to your specific work requirements.</p>

<p>Closing a question doesn't mean it needs to stay closed; it means that, in its current form, it isn't a question that will lead to a clear and canonical answer. You'll get a bunch of "well I tried this" and "maybe this will work" type stuff which is wholly <em>not</em> the kind of Q&amp;A site this happens to be.</p>

<p>Closing a question means it needs more work.</p>

<p>Even your follow-up semi-answer, semi-comment comment frames how not-a-question  your question was:</p>

<blockquote>
  <p>I thought it might be useful to add a comment on how well the 13" has worked out. The 16GB RAM helps as does the SSD so it seems faster then my iMac most of the time when compiling or running AppCode. I have noticed a tendency to hog the more if compiling - try to avoid doing big builds and lots of web browsing simultaneously.</p>
</blockquote>

<p>That's not an answer, that's a single experience and some speculation.</p>

<p>There might well be a reasonable question in what you posted, but as it stands I agree with the moderator who closed it: it's not a question that can be answered in any other way that would lead to a useful, guiding response. Really, the only answer that can be given for "How much difference between i5 and i7 13" Macbook Pro 2014 especially for XCode &amp; Visual Studio compilation?" is:</p>

<blockquote>
  <p>It depends entirely on what, specifically, you're trying to do with those IDEs.</p>
</blockquote>

<p>Full stop.</p>

<p>You might say the benchmarks provide as much illumination as possible on the differences and that's about it. Neither of those tools have standard benchmarking suites behind them so there isn't any empirical result you can point to to understand their behavioural differences on the two difference machines.</p>

<p>As for your comment about the moderator: the site is <em>community moderated</em>, as are <em>all</em> Stack Exchange sites. The question was brought to the attention of the moderators by flags from your peers. It was not a lone decision.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4508" class = "comment">
				<p>We love our Moderators, ...we are the moderators, ...we love our self :)</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>