<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Closing Off-topic please add "Not about Apple products"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2152" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::52</h3>
				<h2>Closing Off-topic please add "Not about Apple products"</h2>
<p>I've seen a default "Not about Apple products and not in scope of this site etc." as closing reason.
It does not show up in my options, is it diamond mod only?</p>

<p>Can you add it to the 3k rep closing vote?</p>

<p>Thanks</p>

<p><strong>EDIT</strong> This is what I see:
<img src="https://i.stack.imgur.com/jfy7Y.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4098" class = "comment">
				<p>I presume you're referring to 'This question does not appear to be about Apple hardware or software within the scope defined in the help center.'?</p>
			</div>
			<div id = "comment-4099" class = "comment">
				<p>the wording is not good as any app running on  Apple hardware is on topic whilst this text says it is not. However a better way of saying this should be a closing message</p>
			</div>
			<div id = "comment-4100" class = "comment">
				<p>@Mark The close reason in the question appears to be a paraphrasing.</p>
			</div>
			<div id = "comment-4101" class = "comment">
				<p>@GeorgeGarside -no the text he quoted I have seen recently - however your text is better</p>
			</div>
			<div id = "comment-4102" class = "comment">
				<p>@Mark [This question?](http://apple.stackexchange.com/questions/134656/excel-formula-for-multiplying-columns) Rob used the free-form close reason box with a custom written close reason, then someone else agreed with this reason in the close box. That reason is not an official reason.</p>
			</div>
			<div id = "comment-4103" class = "comment">
				<p>@GeorgeGarside Yes although your better text is not standard either and I think this meta question should ask for that (and the actual question I suspect is on topic he just forgot to add which spreadsheet )</p>
			</div>
			<div id = "comment-4104" class = "comment">
				<p>@Mark My text is standard: it's the off-topic text used when no other reason is used.</p>
			</div>
			<div id = "comment-4105" class = "comment">
				<p>@GeorgeGarside Ah However when I tried to close it does not show up as a reason in the 3k close reasons - I think it should be shown there - then we would not get Rob (and others) trying to make up a similar close reason</p>
			</div>
			<div id = "comment-4109" class = "comment">
				<p>@GeorgeGarside Please check my edit</p>
			</div>

<h1>ANSWERS</h1>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>