<html>
	<head>
		<title id = 'pagetitle'>Closing Off-topic please add "Not about Apple products"
		</title>
	<head>
	<body id = 'pagebody'><p>I've seen a default "Not about Apple products and not in scope of this site etc." as closing reason.
It does not show up in my options, is it diamond mod only?</p>

<p>Can you add it to the 3k rep closing vote?</p>

<p>Thanks</p>

<p><strong>EDIT</strong> This is what I see:
<img src="https://i.stack.imgur.com/jfy7Y.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
			</body>
</html>