<html>
	<head>
		<title id = 'pagetitle'>Code-formatted links aren't highlighted blue
		</title>
	<head>
	<body id = 'pagebody'><p>Links wrapped around <code>`code`</code> snippets aren't highlighted as links, so they're hard to notice. This should probably behave more like SU and SO, where they're still highlighted blue even though they're code-formatted.</p>


<h1>ANSWERS</h1>
			</body>
</html>