<html>
	<head>
		<title id = 'pagetitle'>Color scheme hard to read
		</title>
	<head>
	<body id = 'pagebody'><p>The color scheme on the priviledges page is so dark, it's barely readable. So is the red warning messages I get while posting. Tried multiple browsers, multiple PC's, pretty much the same everywhere.</p>


<h1>ANSWERS</h1>
		<p>This is fixed on live, both the main site and Meta</p>


	</body>
</html>