<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Community Promotion Ads - 1H 2011
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-455" class = "post">
			<h2>Question</h2>
			<div id="vote-455" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 481</p>
			</div>
				<h2>Community Promotion Ads - 1H 2011</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/932/community-promotion-ads-1h-2012">Community Promotion Ads - 1H 2012</a>  </p>
</blockquote>



<h3>What in the Wide, Wide World of Sports is Going On Here?</h3>

<p>TL;DR -- put images and links in the answers. If they get voted up enough, they will appear on the main site as community promotion ads.</p>

<h3>But whyyyyyyy?</h3>

<p>This is a method for the community to control what gets promoted to visitors on the site. For example, you might promote the following things:</p>

<ul>
<li>cool apple related open source apps</li>
<li>the site's twitter account</li>
<li>scripts packs or power tools</li>
<li>cool events or conferences</li>
<li>anything else your community would genuinely be interested in</li>
</ul>

<p>The goal is for future visitors to find out about <em>the stuff your community deems important</em>. And to click on it for great justice!</p>

<h3>How does it work?</h3>

<p>The answers you post to this question <em>must</em> conform to the following rules, or they will be ignored. </p>

<ol>
<li><p>All answers should be in the exact form of:</p>

<pre><code>[![Tagline to show on mouseover][1]][2]

   [1]: http://image-url
   [2]: http://clickthrough-url 
</code></pre>

<p>Please <strong>do not add anything else to the body of the post</strong>. If you want to discuss something, do it in the comments.</p></li>
<li><p>The question must always be tagged with the magic <a href="/questions/tagged/community-ads" class="post-tag moderator-tag" title="show questions tagged &#39;community-ads&#39;" rel="tag">community-ads</a> tag.</p></li>
</ol>

<h3>Image requirements</h3>

<ul>
<li>The image that you create must be <strong>220 x 250 pixels</strong></li>
<li>Must be hosted through our standard image uploader (imgur)</li>
<li>Must be GIF or PNG</li>
<li>No animated GIFs</li>
<li>Absolute limit on file size of 150 KB</li>
</ul>

<h3>Score Threshold</h3>

<p>There is a <strong>minimum score threshold</strong> an answer must meet (currently 6) before it will be shown on the main site.</p>

<p>You can check out the ads that have met the threshold with basic click stats <a href="https://apple.meta.stackexchange.com/ads/display/455">here</a>.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-455" class = 'collapse'>
			</div>
				<textarea id = "speech-455" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-455">
					<img id="start_img-455" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-456"  class = "post">
				<h2>Answer</h2>
			<div id="vote-456" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://twitter.com/#!/stackapple" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/H3wF3.png" alt="Follow us on Twitter"></a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-456" class = 'collapse'>
			</div>
				<textarea id = "speech-456" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-456">
					<img id="start_img-456" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-564"  class = "post">
				<h2>Answer</h2>
			<div id="vote-564" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://apple.blogoverflow.com/category/podcast/" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/XMrJ0.png" alt="Ask Different Podcast"></a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-564" class = 'collapse'>
			</div>
				<textarea id = "speech-564" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-564">
					<img id="start_img-564" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-585"  class = "post">
				<h2>Answer</h2>
			<div id="vote-585" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://chat.stackexchange.com/rooms/38/ask-different-chat"><img src="https://i.imgur.com/xKlot.png" alt="Tagline to show on mouseover"></a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-585" class = 'collapse'>
			</div>
				<textarea id = "speech-585" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-585">
					<img id="start_img-585" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-812"  class = "post">
				<h2>Answer</h2>
			<div id="vote-812" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://apple.meta.stackexchange.com/questions/811/the-ask-different-blog-is-looking-for-contributors"><img src="https://i.imgur.com/iPssx.png" alt="Contribute to the Ask Different Blog!"></a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-812" class = 'collapse'>
			</div>
				<textarea id = "speech-812" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-812">
					<img id="start_img-812" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>