<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Community wiki resources for troubleshooting questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-519" class = "post">
			<h2>Question</h2>
			<div id="vote-519" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 117</p>
			</div>
				<h2>Community wiki resources for troubleshooting questions?</h2>
<p>Some people asking troubleshooting questions here (mainly those who are not SO or SU veterans) aren't aware that there's certain basic information they should provide, or that there are a few basic troubleshooting steps they should often try before asking for help -- at least so they can say "I've already tried this, this, and this".</p>

<p>Here are a few recent examples:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/13841/computer-boots-up-and-fades-to-blue-repeatedly">computer boots up and fades to blue repeatedly</a></li>
<li><a href="https://apple.stackexchange.com/questions/13279/macbook-shutdown-problem">Macbook Shutdown Problem</a></li>
<li><a href="https://apple.stackexchange.com/questions/11158/why-cant-i-send-my-files-to-the-trash">Why can&#39;t I send my files to the Trash?</a></li>
<li><a href="https://apple.stackexchange.com/questions/11140/starcraft-2-update-crash">Starcraft 2 update crash</a></li>
<li><a href="https://apple.stackexchange.com/questions/10613/how-to-know-imac-crash-reason">how to know imac crash reason</a></li>
<li><a href="https://apple.stackexchange.com/questions/8653/system-preferences-crashes-when-press-accounts">System preferences crashes when press accounts</a></li>
</ul>

<p>I'm not saying these don't belong here.  Personally, I think this community is good at providing answers to these questions -- once enough details have been provided.</p>

<p>But on questions like these, it is common to see comments (or even answers!) like...</p>

<blockquote>
  <p>What are your system specs?</p>
  
  <p>What version of OS X are you running?</p>
  
  <p>Have you checked for error messages in the Console?</p>
  
  <p>Have you tried _ _ _ _ _ (repairing permissions | zapping the PRAM | performing voodoo)?</p>
</blockquote>

<p>Being a programmer, I'm a big proponent of the <a href="http://en.wikipedia.org/wiki/Don%27t_repeat_yourself" rel="nofollow noreferrer">DRY</a> principle, and I don't like the thought of continuously re-inventing the wheel when answering these questions.  It also makes for messy, lower-quality questions.</p>

<p>And as this community matures and "everyday" Mac users find out about the site, I would guess that questions like this will become more common.</p>

<p><strong>Do you think it would be helpful to create a few community wikis that provide basic troubleshooting tips?  Or templates for asking troubleshooting questions</strong> -- a la <a href="https://stackapps.com/questions/7/how-to-list-your-application-library-wrapper-script-here">StackApps' guidelines for listing an app</a>?  Then, instead of playing "comment ping-pong" with everyone who asks a question lacking helpful details, we could direct them to the appropriate wiki to help them refine their question.</p>

<p>I am not suggesting we create vast "manuals" that all users are required to read before posting, but it would be helpful to have <em>some</em> guidelines for troubleshooting questions.</p>

<p>Personally, I would like to be able to say in a comment: <em>"Try the few, basic troubleshooting steps outlined [here], and if you still have problems, please edit your question to provide the basic information from [this template]."</em></p>

<p>I would take the initiative to make a "first draft" of such resources myself, but if this idea has support, I think there should be some discussion about the implementation -- especially since I am relatively new to the SE sites and am not as familiar with how (or <em>if</em>) this has been addressed on the other sites.</p>

<p>(Not to mention the fact that I'm sure I'm not the leading expert on general system troubleshooting in this community.)  ;]</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-519">Load Comments</button></br>
			<div id = "commentsection-519" class = 'collapse'>
			<div id = "comment-943" class = "comment">
				<p>I struggle with that as a somewhat new participant here. Is basic troubleshooting even on-topic for this site? Why would someone want to come here instead of the official Apple Support resources? I personally see this site as being excellent if it doesn't try to replicate content that already exists on the web but instead covers things the manufacturer resources can not or will not allow on their discussion boards or official support documentation.</p>
			</div>
			<div id = "comment-944" class = "comment">
				<p>@bmike I was going to ask if basic troubleshooting was on-topic in a separate meta question, but then I felt silly asking because the FAQ allows hardware and software questions and doesn't mention troubleshooting among its prohibitions.  It would be nice to get some mods' opinions on that, though.</p>
			</div>
			<div id = "comment-945" class = "comment">
				<p>@bmike And if "basic troubleshooting" were prohibited, where would you draw the line?  How would one concretely determine that a question was "too basic" to troubleshoot here?  From my experience, most people can improve their low-quality troubleshooting questions with more specific details when prompted (one reason for the wikis I proposed above).</p>
			</div>
			<div id = "comment-946" class = "comment">
				<p>I like how you think. Imagine how contentious and argumentitave a quabble over the best way to generally troubleshoot an issue might get when it's hard enough to agree on answers to one specific but vaguely worded question.</p>
			</div>
			<div id = "comment-973" class = "comment">
				<p>Austin - why not try answering this with a first draft? I took a tilt in a comment on this question: http://apple.stackexchange.com/questions/6644/recent-emails-not-fetched-on-iphone-4 - let's see how that wording goes in this one case.</p>
			</div>
			</div>
				<textarea id = "speech-519" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-519">
					<img id="start_img-519" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-520"  class = "post">
				<h2>Answer</h2>
			<div id="vote-520" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Having a template to allow gentle guidance and uniform treatment would be a great way to guide new users into asking great questions worthy of a definitive answer for later reference.</p>

<p>The optimal way to solve one particular problem is often not generally applicable. Good troubleshooting procedure for a general or even identical looking problem is a very different looking answer than the minimum steps needed to solve a specific issue in isolation. Both answers have value, so it's a bit tricky to know from the get go which way a specific question will trend.</p>

<p>Of course, specific and poorly worded questions always have to be allowed to meet the needs of people starting out with Macs, but having pre-made templates are a very nice way to welcome a new user and not make them feel like they are not welcome to participate. It would also make it more likely that moderators would take the time to mark these in a helpful manner. Quora seems to do a really good job in flagging questions that are poorly worded with helpful links to relevant and vetted wording on policy.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-520" class = 'collapse'>
			</div>
				<textarea id = "speech-520" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-520">
					<img id="start_img-520" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>