<html>
	<head>
		<title id = 'pagetitle'>Community vote to answer correct answers that have been left unaccepted
		</title>
	<head>
	<body id = 'pagebody'><p>This is an extension of the question <a href="https://apple.meta.stackexchange.com/questions/920/what-to-do-with-original-posters-who-dont-accept-correct-answers">'What to do with original posters who don't accept correct answer'</a></p>

<p>I have seen a few new users who have had an issue and used this site to get their answer, after they have the answer they are not seen again, and leave the questions without accepted answers.</p>

<p>Could we implement a system where moderators can accept the answer with the most up votes after a month, or failing that as the majority are not always correct, could we force accept an answer when the OP posts a comment saying that the answer was correct but has not accepted it. Such has happened <a href="https://apple.stackexchange.com/questions/30466/why-cant-i-update-to-ios-5-my-ipod-touch-4g/30467#30467">here</a></p>


<h1>ANSWERS</h1>
		<p>This kind of feature request is more suited for <a href="http://meta.stackoverflow.com">Meta Stack Overflow</a>.</p>

<p>However, all those request have been <a href="/questions/tagged/status-declined" class="post-tag moderator-tag" title="show questions tagged &#39;status-declined&#39;" rel="tag">status-declined</a>, since the community already accept an answer by upvoting it. See <a href="https://meta.stackexchange.com/a/50453/12008">here</a>.</p>


	</body>
</html>