<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Community vote to answer correct answers that have been left unaccepted
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-943" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::61</h3>
				<h2>Community vote to answer correct answers that have been left unaccepted</h2>
<p>This is an extension of the question <a href="https://apple.meta.stackexchange.com/questions/920/what-to-do-with-original-posters-who-dont-accept-correct-answers">'What to do with original posters who don't accept correct answer'</a></p>

<p>I have seen a few new users who have had an issue and used this site to get their answer, after they have the answer they are not seen again, and leave the questions without accepted answers.</p>

<p>Could we implement a system where moderators can accept the answer with the most up votes after a month, or failing that as the majority are not always correct, could we force accept an answer when the OP posts a comment saying that the answer was correct but has not accepted it. Such has happened <a href="https://apple.stackexchange.com/questions/30466/why-cant-i-update-to-ios-5-my-ipod-touch-4g/30467#30467">here</a></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1710" class = "comment">
				<p>+1 to counter the down vote that was without a comment.</p>
			</div>
			<div id = "comment-1712" class = "comment">
				<p>@Globalnomad thanks</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-944"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>This kind of feature request is more suited for <a href="http://meta.stackoverflow.com">Meta Stack Overflow</a>.</p>

<p>However, all those request have been <a href="/questions/tagged/status-declined" class="post-tag moderator-tag" title="show questions tagged &#39;status-declined&#39;" rel="tag">status-declined</a>, since the community already accept an answer by upvoting it. See <a href="https://meta.stackexchange.com/a/50453/12008">here</a>.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1711" class = "comment">
				<p>It frustrates me that a question is suitably answered as it will then be officially cataloged as closed, it also gives a brief sense of please to think, yep I helped that person and their problem is now solved. I guess you are right with the community vote, but in this case linked to above you will see that the OP has said that my answer was the solution but will not accept.</p>
			</div>
			<div id = "comment-1717" class = "comment">
				<p>I agree, in some cases it's more frustrating. But the real problem here is drawing a line. If you start to manually accept answers for the OP, then people are going to start complaining when the mods don't accept answer for *their* question. It's much much easier to deal with the situation like it is now, with a single rule for everybody.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>