<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Community Promotion Ads - 2015
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2318" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::271</h3>
				<h2>Community Promotion Ads - 2015</h2>
<p>The dawn of a new year, 2015, now approaches, or has already approached, either way it means that it is now time to reset our Community Promotion Ads!</p>

<h3>What are Community Promotion Ads?</h3>

<p>Community Promotion Ads are community-vetted advertisements that will show up on the main site, in the right sidebar. The purpose of this question is the vetting process. Images of the advertisements are provided, and community voting will enable the advertisements to be shown.</p>

<h3>Why do we have Community Promotion Ads?</h3>

<p>This is a method for the community to control what gets promoted to visitors on the site. For example, you might promote the following things:</p>

<ul>
<li>interesting apple related open source apps</li>
<li>the site's twitter account</li>
<li>script packs or power tools</li>
<li>cool events or conferences</li>
<li>anything else your community would genuinely be interested in</li>
</ul>

<p>The goal is for future visitors to find out about <em>the stuff your community deems important</em>. This also serves as a way to promote information and resources that are <em>relevant to your own community's interests</em>, both for those already in the community and those yet to join. </p>

<h3>Why do we reset the ads every year?</h3>

<p>Some services will maintain usefulness over the years, while other things will wane to allow for new faces to show up. Resetting the ads every year helps accommodate this, and allows old ads that have served their purpose to be cycled out for fresher ads for newer things. This helps keep the material in the ads relevant to not just the subject matter of the community, but to the current status of the community. We reset the ads once a year, every December.</p>

<p>The community promotion ads have no restrictions against reposting an ad from a previous cycle. If a particular service or ad is very valuable to the community and will continue to be so, it is a good idea to repost it. It may be helpful to give it a new face in the process, so as to prevent the imagery of the ad from getting stale after a year of exposure.</p>

<h3>How does it work?</h3>

<p>The answers you post to this question <em>must</em> conform to the following rules, or they will be ignored. </p>

<ol>
<li><p>All answers should be in the exact form of:</p>

<pre><code>[![Tagline to show on mouseover][1]][2]

   [1]: http://image-url
   [2]: http://clickthrough-url 
</code></pre>

<p>Please <strong>do not add anything else to the body of the post</strong>. If you want to discuss something, do it in the comments.</p></li>
<li><p>The question must always be tagged with the magic <a href="/questions/tagged/community-ads" class="post-tag moderator-tag" title="show questions tagged &#39;community-ads&#39;" rel="tag">community-ads</a> tag. In addition to enabling the functionality of the advertisements, this tag also pre-fills the answer form with the above required form.</p></li>
</ol>

<h3>Image requirements</h3>

<ul>
<li>The image that you create must be <strong>220 x 250 pixels</strong></li>
<li>Must be hosted through our standard image uploader (imgur)</li>
<li>Must be GIF or PNG</li>
<li>No animated GIFs</li>
<li>Absolute limit on file size of 150 KB</li>
</ul>

<h3>Score Threshold</h3>

<p>There is a <strong>minimum score threshold</strong> an answer must meet (currently <strong>6</strong>) before it will be shown on the main site.</p>

<p>You can check out the ads that have met the threshold with basic click stats <a href="https://apple.meta.stackexchange.com/ads/display/2318">here</a>.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2318">Load Comments</button></br>
			<div id = "commentsection-2318" class = 'collapse'>
			<div id = "comment-5947" class = "comment">
				<p>For 2016 please could the rules be updated to say that an image with double (or triple) those dimensions is allowed?</p>
			</div>
			<div id = "comment-5948" class = "comment">
				<p>@Tim We're actually making a few extra changes to the regulations for ads for 2016. I'll make a note about the retina stuff so that it's not asked about every year.</p>
			</div>
			<div id = "comment-5949" class = "comment">
				<p>Thanks :) http://chat.stackexchange.com/rooms/31763/images-are-too-big It gets asked quite a lot.</p>
			</div>
			<div id = "comment-6447" class = "comment">
				<p>Possible duplicate of [Community Promotion Ads - 2016](http://meta.apple.stackexchange.com/questions/2717/community-promotion-ads-2016)</p>
			</div>
			</div>
				<textarea id = "speech-2318" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2318">
					<img id="start_img-2318" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2319"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p><a href="http://twitter.com/askdifferent" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4keeW.png" alt="Follow us on Twitter"></a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2319">Load Comments</button></br>
			<div id = "commentsection-2319" class = 'collapse'>
			<div id = "comment-4371" class = "comment">
				<p>This is a demonstration post to indicate how this should look when an ad is posted. It also doubles as your twitter ad, but it's up to you if you wish to promote it by voting.</p>
			</div>
			</div>
				<textarea id = "speech-2319" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2319">
					<img id="start_img-2319" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2320"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::11</h3>
				<p><p><a href="https://apple.stackexchange.com/?tab=featured">Current Ask Different bounties http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png</a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2320">Load Comments</button></br>
			<div id = "commentsection-2320" class = 'collapse'>
			<div id = "comment-4372" class = "comment">
				<p>[Re-added from last year](http://meta.apple.stackexchange.com/questions/1882/community-promotion-ads-2014)</p>
			</div>
			</div>
				<textarea id = "speech-2320" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2320">
					<img id="start_img-2320" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2336"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-4</h3>
				<p><p><a href="http://CmisSync.com" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/WOjZC.png" alt="CmisSync: Dropbox-like desktop synchronization for Alfresco, SharePoint, FileNet, and any CMIS-compatible document management server"></a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2336">Load Comments</button></br>
			<div id = "commentsection-2336" class = 'collapse'>
			<div id = "comment-4384" class = "comment">
				<p>Disclaimer: I have developed it, as open source (GNU-GPL license).</p>
			</div>
			</div>
				<textarea id = "speech-2336" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2336">
					<img id="start_img-2336" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2337"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p><a href="https://softwarerecs.stackexchange.com/"><img src="https://i.stack.imgur.com/f7KtY.png" alt="Software Recommendations"></a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2337" class = 'collapse'>
			</div>
				<textarea id = "speech-2337" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2337">
					<img id="start_img-2337" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>