<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Community Promotion Ads - 2014
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1882" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::791</h3>
				<h2>Community Promotion Ads - 2014</h2>
<p>It's the time of the year again, namely it is December 2013, and so we shall now refresh our Community Promotion Ads for the new year.</p>

<h3>What are Community Promotion Ads?</h3>

<p>Community Promotion Ads are community-vetted advertisements that will show up on the main site, in the right sidebar. The purpose of this question is the vetting process. Images of the advertisements are provided, and community voting will enable the advertisements to be shown.</p>

<h3>Why do we have Community Promotion Ads?</h3>

<p>This is a method for the community to control what gets promoted to visitors on the site. For example, you might promote the following things:</p>

<ul>
<li>interesting apple related open source apps</li>
<li>the site's twitter account</li>
<li>script packs or power tools</li>
<li>cool events or conferences</li>
<li>anything else your community would genuinely be interested in</li>
</ul>

<p>The goal is for future visitors to find out about <em>the stuff your community deems important</em>. This also serves as a way to promote information and resources that are <em>relevant to your own community's interests</em>, both for those already in the community and those yet to join. </p>

<h3>Why do we reset the ads every year?</h3>

<p>Some services will maintain usefulness over the years, while other things will wane to allow for new faces to show up. Resetting the ads every year helps accommodate this, and allows old ads that have served their purpose to be cycled out for fresher ads for newer things. This helps keep the material in the ads relevant to not just the subject matter of the community, but to the current status of the community. We reset the ads once a year, every December.</p>

<p>The community promotion ads have no restrictions against reposting an ad from a previous cycle. If a particular service or ad is very valuable to the community and will continue to be so, it is a good idea to repost it. It may be helpful to give it a new face in the process, so as to prevent the imagery of the ad from getting stale after a year of exposure.</p>

<h3>How does it work?</h3>

<p>The answers you post to this question <em>must</em> conform to the following rules, or they will be ignored. </p>

<ol>
<li><p>All answers should be in the exact form of:</p>

<pre><code>[![Tagline to show on mouseover][1]][2]

   [1]: http://image-url
   [2]: http://clickthrough-url 
</code></pre>

<p>Please <strong>do not add anything else to the body of the post</strong>. If you want to discuss something, do it in the comments.</p></li>
<li><p>The question must always be tagged with the magic <a href="/questions/tagged/community-ads" class="post-tag moderator-tag" title="show questions tagged &#39;community-ads&#39;" rel="tag">community-ads</a> tag. In addition to enabling the functionality of the advertisements, this tag also pre-fills the answer form with the above required form.</p></li>
</ol>

<h3>Image requirements</h3>

<ul>
<li>The image that you create must be <strong>220 x 250 pixels</strong></li>
<li>Must be hosted through our standard image uploader (imgur)</li>
<li>Must be GIF or PNG</li>
<li>No animated GIFs</li>
<li>Absolute limit on file size of 150 KB</li>
</ul>

<h3>Score Threshold</h3>

<p>There is a <strong>minimum score threshold</strong> an answer must meet (currently <strong>6</strong>) before it will be shown on the main site.</p>

<p>You can check out the ads that have met the threshold with basic click stats <a href="https://apple.meta.stackexchange.com/ads/display/1882">here</a>.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1883"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p><a href="http://twitter.com/#!/askdifferent" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/H3wF3.png" alt="Follow us on Twitter"></a></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3631" class = "comment">
				<p>This is a demonstration post to indicate how this should look when an ad is posted. It also doubles as your twitter ad, but it's up to you if you wish to promote it by voting.</p>
			</div>
			<div id = "comment-3632" class = "comment">
				<p>I like this one, but I think that control of the twitter account needs to be ceded to the mods so we can actually *use it*</p>
			</div>
			<div id = "comment-3776" class = "comment">
				<p>@stuffe I personally don't want the power to toot and am tempted to adopt / adapt a clever community advert by Giles on Unix and Linux.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-1884"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::12</h3>
				<p><p><a href="https://apple.stackexchange.com/?tab=featured">Current Ask Different bounties http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png</a></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3647" class = "comment">
				<p>I see that you're going for retina resolution, but isn't the system going to reject this image size?  The rules say 220 by 250.</p>
			</div>
			<div id = "comment-3648" class = "comment">
				<p>This ad has been working for almost two years. No, it won't be rejected. See http://meta.apple.stackexchange.com/a/998/1346 and http://meta.apple.stackexchange.com/a/1521/1346</p>
			</div>
			<div id = "comment-3649" class = "comment">
				<p>@JasonSalaz So no special thing needs to be done, just supply an image twice the dimensions and it will work (even if it's hosted on stack.imgur)?  I'm asking because I was considering making an ad of mine retina resolution but then didn't because I assumed it wouldn't work.</p>
			</div>
			<div id = "comment-3650" class = "comment">
				<p>Also about the ad being dynamic, did you need to ask some SE mods to allow hosting on another domains than stack.imgur, or it just works as it is?</p>
			</div>
			<div id = "comment-3653" class = "comment">
				<p>@Szabolcs Whilst the form does require stack.imgur, simply enter a placeholder stack.imgur image, then edit the post to the actual image location.</p>
			</div>
			<div id = "comment-3716" class = "comment">
				<p>All I see is a black-on-white text,  404 invalid referrer   This image must be embedded on a Stack Exchange site to function    I m guessing this is *not* supposed to be the image s content?</p>
			</div>
			<div id = "comment-3717" class = "comment">
				<p>@KonradRudolph Hm, if the image is embedded on a Stack Exchange page it should pick up which one from the referer. Do you have a setting or browser plugin that might not be sending the referer when requesting the image?</p>
			</div>
			<div id = "comment-3718" class = "comment">
				<p>@Kyle Oh, that s indeed the case (out of privacy concerns). Of course I d claim that exclusive reliance on referrers is a bug.</p>
			</div>
			<div id = "comment-3942" class = "comment">
				<p>@Konrad This no longer relies on referrers :)</p>
			</div>
			<div id = "comment-4147" class = "comment">
				<p>@GeorgeGarside Works for me, what do you see?</p>
			</div>
			<div id = "comment-6044" class = "comment">
				<p>Cat we get a 300px wide version of this? We've been using it on a different SE site but with the size change this last year they are not accepting ads that are not the right size and aspect ratio.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>