<html>
	<head>
		<title id = 'pagetitle'>Community wiki checkbox
		</title>
	<head>
	<body id = 'pagebody'><p>I thought I remembered there being a community wiki checkbox when creating a question or editing an existing one.  I created a question with the intention of making it community wiki but can not find a way to convert it.</p>


<h1>ANSWERS</h1>
		<p>nevermind, I found the answer:</p>

<p><a href="https://meta.stackexchange.com/questions/392/should-the-community-wiki-police-be-shut-down/7183#7183">Should the community wiki police be shut down?</a></p>


	</body>
</html>