<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Community Promotion Ads - 2012
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Community Promotion Ads - 2012</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/1519/community-promotion-ads-2013">Community Promotion Ads - 2013</a>  </p>
</blockquote>



<p>For one reason or another, we missed 2H 2011. Nevermind that, though, let us commence with 1H 2012! And yes, it starts in December.</p>

<h3>What in the Wide, Wide World of Sports is Going On Here?</h3>

<p>TL;DR -- put images and links in the answers. If they get voted up enough, they will appear on the main site as community promotion ads.</p>

<h3>But whyyyyyyy?</h3>

<p>This is a method for the community to control what gets promoted to visitors on the site. For example, you might promote the following things:</p>

<ul>
<li>cool apple related open source apps</li>
<li>the site's twitter account</li>
<li>scripts packs or power tools</li>
<li>cool events or conferences</li>
<li>anything else your community would genuinely be interested in</li>
</ul>

<p>The goal is for future visitors to find out about <em>the stuff your community deems important</em>. And to click on it for great justice!</p>

<h3>How does it work?</h3>

<p>The answers you post to this question <em>must</em> conform to the following rules, or they will be ignored. </p>

<ol>
<li><p>All answers should be in the exact form of:</p>

<pre><code>[![Tagline to show on mouseover][1]][2]

   [1]: http://image-url
   [2]: http://clickthrough-url 
</code></pre>

<p>Please <strong>do not add anything else to the body of the post</strong>. If you want to discuss something, do it in the comments.</p></li>
<li><p>The question must always be tagged with the magic <a href="/questions/tagged/community-ads" class="post-tag moderator-tag" title="show questions tagged &#39;community-ads&#39;" rel="tag">community-ads</a> tag.</p></li>
</ol>

<h3>Image requirements</h3>

<ul>
<li>The image that you create must be <strong>220 x 250 pixels</strong></li>
<li>Must be hosted through our standard image uploader (imgur)</li>
<li>Must be GIF or PNG</li>
<li>No animated GIFs</li>
<li>Absolute limit on file size of 150 KB</li>
</ul>

<h3>Score Threshold</h3>

<p>There is a <strong>minimum score threshold</strong> an answer must meet (currently 6) before it will be shown on the main site.</p>

<p>You can check out the ads that have met the threshold with basic click stats <a href="https://apple.meta.stackexchange.com/ads/display/932">here</a>.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p><a href="http://twitter.com/#!/askdifferent" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/H3wF3.png" alt="Follow us on Twitter"></a></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p><a href="https://apple.stackexchange.com/?tab=featured">Current Ask Different bounties http://stack-exchange-dynamic-ads.herokuapp.com/bounty.png</a></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p><a href="https://github.com/nathan-osman/NitroShare-Mac/downloads" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZSChs.png" alt="A network file-sharing application that makes sending a file to another machine on the local network as easy as dragging-and-dropping."></a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>