<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Comments same size~format as posts
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Comments same size~format as posts</h2>
<p>I noticed with the new design the type for comments is the same size and format as the type for questions and answers. On other StackExchange sites the comments are slightly smaller visually distinguishing them as meta-content that is less important than the main content in the questions and answers.</p>

<p>Is this different approach intentional? Can we change the comments to be smaller like on other StackExchange sites? </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I know what you're saying. I guess the comments are visually distinguished by a different colored background and a little bit different formatting (including being indented into the post).</p>

<p>Overall they could make it a little more clear, but I think the system does them justice as it is.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This was intentional. I felt a smaller text fits the apple theme better. It makes the site a bit airier. Originally I had planned for the Question/Answer text even smaller(12px) to be consistent with the official <a href="http://discussions.apple.com/thread.jspa?threadID=2741010&amp;tstart=0" rel="nofollow">Apple forum</a>. However I felt it was a bit too small, so I went with 13 pixels instead. If I had followed the convention you stated, that'd make the comment text too small to read IMO. I feel the current white background makes the comment text distinguishable enough. Another factor is, unlike the other SE sites, this site's question and answer(s) have their own colored block. So it's easier to scan.</p>

<p>Of course the new design has only gone live for a few days, it may take a bit to get used to the new design.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>