<html>
	<head>
		<title id = 'pagetitle'>Community Wiki on the rise?
		</title>
	<head>
	<body id = 'pagebody'><p>I noticed that there a lot of questions that are flagged as community wiki, even if there is not that much answers or are quite new. For instance there are 10 questions on the homepage currently. Is there a new policy about this flag? Because I though it was a flag to avoid huge reputation gain on one post.</p>


<h1>ANSWERS</h1>
		<p>If you <a href="https://apple.stackexchange.com/search?tab=active&amp;q=wiki%3a1%20is%3aquestion">search for Community Wiki questions and sort by active</a> you'll see that there's only one Community Wiki question that's been active in the last few days - <a href="https://apple.stackexchange.com/q/35491/13">yours</a>.</p>

<p>The reason this was converted to Community Wiki is the last line in your post:</p>

<blockquote>
  <p>So my question is : What kind of procedure do you use to keep a safe copy of your stuff?</p>
</blockquote>

<p>This turns it into a polling question - a question where there isn't a single, correct answer but a case where you solicit different answers from different people. The reason why such questions are converted to Community Wiki is twofold:</p>

<ul>
<li>It acts as a signal to indicate the kind of question it is.</li>
<li>When people vote on the answers to such a question, they're mostly voting on whether or not they, too, agree with or do what the answer says, instead of judging it in comparison to the other answers on technical merit, correctness, and completeness.</li>
</ul>


	</body>
</html>