<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Community Promotion Ads - 2012
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-932" class = "post">
			<h2>Question</h2>
			<div id="vote-932" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1027</p>
			</div>
				<h2>Community Promotion Ads - 2012</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/1519/community-promotion-ads-2013">Community Promotion Ads - 2013</a>  </p>
</blockquote>



<p>For one reason or another, we missed 2H 2011. Nevermind that, though, let us commence with 1H 2012! And yes, it starts in December.</p>

<h3>What in the Wide, Wide World of Sports is Going On Here?</h3>

<p>TL;DR -- put images and links in the answers. If they get voted up enough, they will appear on the main site as community promotion ads.</p>

<h3>But whyyyyyyy?</h3>

<p>This is a method for the community to control what gets promoted to visitors on the site. For example, you might promote the following things:</p>

<ul>
<li>cool apple related open source apps</li>
<li>the site's twitter account</li>
<li>scripts packs or power tools</li>
<li>cool events or conferences</li>
<li>anything else your community would genuinely be interested in</li>
</ul>

<p>The goal is for future visitors to find out about <em>the stuff your community deems important</em>. And to click on it for great justice!</p>

<h3>How does it work?</h3>

<p>The answers you post to this question <em>must</em> conform to the following rules, or they will be ignored. </p>

<ol>
<li><p>All answers should be in the exact form of:</p>

<pre><code>[![Tagline to show on mouseover][1]][2]

   [1]: http://image-url
   [2]: http://clickthrough-url 
</code></pre>

<p>Please <strong>do not add anything else to the body of the post</strong>. If you want to discuss something, do it in the comments.</p></li>
<li><p>The question must always be tagged with the magic <a href="/questions/tagged/community-ads" class="post-tag moderator-tag" title="show questions tagged &#39;community-ads&#39;" rel="tag">community-ads</a> tag.</p></li>
</ol>

<h3>Image requirements</h3>

<ul>
<li>The image that you create must be <strong>220 x 250 pixels</strong></li>
<li>Must be hosted through our standard image uploader (imgur)</li>
<li>Must be GIF or PNG</li>
<li>No animated GIFs</li>
<li>Absolute limit on file size of 150 KB</li>
</ul>

<h3>Score Threshold</h3>

<p>There is a <strong>minimum score threshold</strong> an answer must meet (currently 6) before it will be shown on the main site.</p>

<p>You can check out the ads that have met the threshold with basic click stats <a href="https://apple.meta.stackexchange.com/ads/display/932">here</a>.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-932">Load Comments</button></br>
			<div id = "commentsection-932" class = 'collapse'>
			<div id = "comment-1693" class = "comment">
				<p>Is there some reason why we can't just continue running our existing set of ads? Why do we need to get votes again?</p>
			</div>
			<div id = "comment-1694" class = "comment">
				<p>To avoid staleness, mostly. Projects go defunct. Ads campaigns get stale. Users start ignoring them and makes the site boring. Bad for everyone. Starting fresh lets us also clean the slate, as otherwise new ads wouldn't be able to stand against old ads that simply are standing around with high votes. There's always the option of putting a nice, fresh new face on old services that were previously advertised.</p>
			</div>
			<div id = "comment-2301" class = "comment">
				<p>I wonder how an ad for IE Mac would go over... :)</p>
			</div>
			<div id = "comment-2405" class = "comment">
				<p>@JavaAndCSharp I used IE for Mac under Panther. Still installed on my eMac. But not much point in advertising a product that's so long discontinued.</p>
			</div>
			</div>
				<textarea id = "speech-932" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-932">
					<img id="start_img-932" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-940"  class = "post">
				<h2>Answer</h2>
			<div id="vote-940" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://twitter.com/#!/askdifferent" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/H3wF3.png" alt="Follow us on Twitter"></a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-940" class = 'collapse'>
			</div>
				<textarea id = "speech-940" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-940">
					<img id="start_img-940" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-998"  class = "post">
				<h2>Answer</h2>
			<div id="vote-998" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">35</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://apple.stackexchange.com/?tab=featured">Current Ask Different bounties http://stack-exchange-dynamic-ads.herokuapp.com/bounty.png</a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-998">Load Comments</button></br>
			<div id = "commentsection-998" class = 'collapse'>
			<div id = "comment-2402" class = "comment">
				<p>Wow, is this dynamic?</p>
			</div>
			<div id = "comment-2403" class = "comment">
				<p>@stuffe Should be, yes. Still working some bugs out though.</p>
			</div>
			<div id = "comment-2408" class = "comment">
				<p>I've already seen the image at least 4 times.</p>
			</div>
			<div id = "comment-2410" class = "comment">
				<p>AWESOME!!! So cool!!!!!</p>
			</div>
			<div id = "comment-2431" class = "comment">
				<p>Wow, this is awesome! How did you get it to be dynamic?</p>
			</div>
			<div id = "comment-2449" class = "comment">
				<p>The [Ruby programming language](http://www.ruby-lang.org/), the [Stack Exchange API](https://api.stackexchange.com/docs) via [Serel](http://stackapps.com/questions/3198/serel-a-ruby-library-with-full-support-for-api-2-0), and [Heroku](http://www.heroku.com/).</p>
			</div>
			<div id = "comment-2629" class = "comment">
				<p>Has to be hosted so they know it will stay up (and on the distributed cache). There's some potential that they would be willing to host this on their servers if they can make it distributed in some way.</p>
			</div>
			<div id = "comment-2630" class = "comment">
				<p>@jcolebrand I'm afraid I don't entirely understand. Are you talking about SE hosting this?</p>
			</div>
			<div id = "comment-2631" class = "comment">
				<p>If they were going to do this as an ad, yes.</p>
			</div>
			<div id = "comment-2632" class = "comment">
				<p>But we're doing this ad. And it's working.</p>
			</div>
			<div id = "comment-6014" class = "comment">
				<p>@KyleCronin This ad is amazing and - as I suspect your server will tell you - it's used all over the network =). (We certainly use it [over on Physics](http://meta.physics.stackexchange.com/questions/6388/community-promotion-ads-2015/6398#6398).) Unfortunately, the new size requirements mean it will probably break going into 2016 =(. Is it reasonable to ask for a version with the new sizes?</p>
			</div>
			<div id = "comment-6539" class = "comment">
				<p>@KyleCronin: It looks like these ads have stopped working for some reason. There's [a thread over at meta.SE about it](https://meta.stackexchange.com/questions/294958/dynamic-bounty-ad-is-broken) that you might want to take a look at.</p>
			</div>
			<div id = "comment-6540" class = "comment">
				<p>@IlmariKaronen Thanks for the heads up, I've pushed a fix for this issue</p>
			</div>
			</div>
				<textarea id = "speech-998" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-998">
					<img id="start_img-998" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1364"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1364" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://github.com/nathan-osman/NitroShare-Mac/downloads" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZSChs.png" alt="A network file-sharing application that makes sending a file to another machine on the local network as easy as dragging-and-dropping."></a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1364">Load Comments</button></br>
			<div id = "commentsection-1364" class = 'collapse'>
			<div id = "comment-2792" class = "comment">
				<p>Description: NitroShare is a simple, cross-platform tool for sending files to other machines on a local network. It makes sending a file to another machine on the local network as easy as dragging-and-dropping.</p>
			</div>
			</div>
				<textarea id = "speech-1364" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1364">
					<img id="start_img-1364" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>