<html>
	<head>
		<title id = 'pagetitle'>Community consensus about potentially unanswerable question
		</title>
	<head>
	<body id = 'pagebody'><p>I closed <a href="https://apple.stackexchange.com/questions/46458/when-is-a-macbook-pro-considered-at-end-of-life-and-in-need-of-replacement">this question</a> as "not constructive" but it was re-opened by five votes, and I'm a little baffled as to why people think it's answerable.</p>

<p>My problem with this question is the passive voice "considered"   who is doing the considering? The question asks "should" I use a computer until it dies? Who's to tell me. You can ask about pros and cons, but "should I go out and buy a new computer" isn't a question the site can answer.</p>

<p>I agree there are valid questions for the site related to this post, but I don't see how this question is answerable.</p>


<h1>ANSWERS</h1>
		<p>I'd say the question is overly broad and should be closed as NARQ.</p>

<p>We have to guess what the OP really wants.</p>

<p>Is it a policy or justification in crafting a workplace decision?
Is it seeking affirmation?</p>

<p>There may be several good questions embedded in this question, but it begs the question "what next?" What answer is the OP seeking and what will they do next with that answer? Are they going to buy a newer mac, buy an older mac? Since computers are general purpose tools, without some specificity in the question anyone could draw a line in the sand anywhere and the question becomes subjective.</p>

<p>Someone could argue that their 15 year old Mac still runs and there is no obsolescence. Another could argue you should replace things yearly. It all depends on how much value you put into your time - no one buys a faster tool when their existing one works and doesn't slow them down. Everyone buys a new tool when they loose more money waiting for a current tool and could buy a new one that lets them be more efficient for billable work.</p>


<p>I rewrote the question so that the OP gets the information they were seeking, and it meets the requirements of the site.</p>

<p>After the rewrite it was still closed as not a real question.</p>

<p>There is no close reason "diverges too much from rev 1" so closing it as not a real question, then asking me to repost it verbatim makes absolutely no sense.</p>

<p>If a moderator believes a revision does injustice to the original, then they should revert it. </p>

<p>I believe the op would get the information they need from the answers to the revision, and I believe it's a real question. So obviously I am baffled by the moderators insistence that it remained closed.</p>

<p>The fact that it was opened after a moderator single close vote suggests that the community disagrees with the moderator. And that was before revision.</p>

<p>The fact that a moderator had to use a final moderator vote to close it again rather than letting the community decide suggests that the moderator wants to tell people that its firmly on the wrong side of the line, as a form of site guidance. This is after the revision.</p>

<p>If anything, the actions taken for this question are confusing.</p>

<p>If the intent is to tell people that they should not revise questions to fit site guidelines, then a revert should be performed.</p>

<p>If the intent is to tell people that the question originally and revised is not acceptable, then a suggestion to repost the question is wrong.</p>

<p>If the revision doesn't do harm to the original question, and the revision and answers are acceptable and valuable to the site, then the question should remain open.</p>


	</body>
</html>