<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Community Promotion Ads - 2017
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2964" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::228</h3>
				<h2>Community Promotion Ads - 2017</h2>
<p>It is a bit late into this new year, being that we're already in the second month, but we are now cycling the Community Promotion Ads for 2017!</p>

<h3>What are Community Promotion Ads?</h3>

<p>Community Promotion Ads are community-vetted advertisements that will show up on the main site, in the right sidebar. The purpose of this question is the vetting process. Images of the advertisements are provided, and community voting will enable the advertisements to be shown.</p>

<h3>Why do we have Community Promotion Ads?</h3>

<p>This is a method for the community to control what gets promoted to visitors on the site. For example, you might promote the following things:</p>

<ul>
<li>interesting apple related open source apps</li>
<li>the site's twitter account</li>
<li>script packs or power tools</li>
<li>cool events or conferences</li>
<li>anything else your community would genuinely be interested in</li>
</ul>

<p>The goal is for future visitors to find out about <em>the stuff your community deems important</em>. This also serves as a way to promote information and resources that are <em>relevant to your own community's interests</em>, both for those already in the community and those yet to join. </p>

<h3>Why do we reset the ads every year?</h3>

<p>Some services will maintain usefulness over the years, while other things will wane to allow for new faces to show up. Resetting the ads every year helps accommodate this, and allows old ads that have served their purpose to be cycled out for fresher ads for newer things. This helps keep the material in the ads relevant to not just the subject matter of the community, but to the current status of the community. We reset the ads once a year, every December.</p>

<p>The community promotion ads have no restrictions against reposting an ad from a previous cycle. If a particular service or ad is very valuable to the community and will continue to be so, it is a good idea to repost it. It may be helpful to give it a new face in the process, so as to prevent the imagery of the ad from getting stale after a year of exposure.</p>

<h3>How does it work?</h3>

<p>The answers you post to this question <em>must</em> conform to the following rules, or they will be ignored. </p>

<ol>
<li><p>All answers should be in the exact form of:</p>

<pre><code>[![Tagline to show on mouseover][1]][2]

   [1]: http://image-url
   [2]: http://clickthrough-url 
</code></pre>

<p>Please <strong>do not add anything else to the body of the post</strong>. If you want to discuss something, do it in the comments.</p></li>
<li><p>The question must always be tagged with the magic <a href="/questions/tagged/community-ads" class="post-tag moderator-tag" title="show questions tagged &#39;community-ads&#39;" rel="tag">community-ads</a> tag. In addition to enabling the functionality of the advertisements, this tag also pre-fills the answer form with the above required form.</p></li>
</ol>

<h3>Image requirements</h3>

<ul>
<li>The image that you create must be 300 x 250 pixels, or double that if high DPI.</li>
<li>Must be hosted through our standard image uploader (imgur)</li>
<li>Must be GIF or PNG</li>
<li>No animated GIFs</li>
<li>Absolute limit on file size of 150 KB</li>
<li>If the background of the image is white or partially white, there must be a 1px border (2px if high DPI) surrounding it.</li>
</ul>

<h3>Score Threshold</h3>

<p>There is a <strong>minimum score threshold</strong> an answer must meet (currently <strong>6</strong>) before it will be shown on the main site.</p>

<p>You can check out the ads that have met the threshold with basic click stats <a href="https://apple.meta.stackexchange.com/ads/display/2964">here</a>.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2964">Record</button>
				<button class="record-stop" id="stop-2964">Stop</button>
				<p id="recording-2964"></p>

<h1>Answers</h1>
			<br><div id = "ans-2965"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p><a href="http://twitter.com/askdifferent" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/0hCGV.png" alt="Follow us on Twitter"></a></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6441" class = "comment">
				<p>This is a demonstration post to indicate how this should look when an ad is posted. It also doubles as your twitter ad, but it's up to you if you wish to promote it by voting</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2965">Record</button>
				<button class="record-stop" id="stop-2965">Stop</button>
				<p id="recording-2965"></p>
			<br><div id = "ans-2967"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p><a href="https://apple.stackexchange.com/?tab=featured"><img src="https://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png" alt="Current Ask Different bounties"></a></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6442" class = "comment">
				<p>Posted for another year!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2967">Record</button>
				<button class="record-stop" id="stop-2967">Stop</button>
				<p id="recording-2967"></p>
			<br><div id = "ans-2969"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::9</h3>
				<p><p><a href="http://vi.stackexchange.com"><img src="https://i.stack.imgur.com/kXWI6.png" alt="Vi and Vim Stack Exchange"></a></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6706" class = "comment">
				<p>I like this, but I would also like to see the emacs one!!!!!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2969">Record</button>
				<button class="record-stop" id="stop-2969">Stop</button>
				<p id="recording-2969"></p>
			<br><div id = "ans-2970"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p><a href="http://iot.stackexchange.com"><img src="https://i.stack.imgur.com/4pLqq.png" alt="Internet of Things"></a></p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2970">Record</button>
				<button class="record-stop" id="stop-2970">Stop</button>
				<p id="recording-2970"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>