<html>
	<head>
		<title id = 'pagetitle'>Connect iChat to SE Chat
		</title>
	<head>
	<body id = 'pagebody'><p>Is is possible to connect the SE chat to iChat? I am not always on SE, but I am on iChat a fair amount.</p>


<h1>ANSWERS</h1>
		<p>SO Chat is custom-built, so it doesn't work with any other services.</p>

<p>However, given that the SO crowd consists of programmers, several projects have been proposed/begun to allow more functionality: </p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/82840/so-chat-plugin-for-pidgin">SO (chat) Plugin for Pidgin</a></li>
<li><a href="https://meta.stackexchange.com/questions/57316/offer-an-xmpp-method-for-chat">Offer an XMPP method for chat</a></li>
<li><a href="https://meta.stackexchange.com/questions/59760/irc-access-for-the-chat/">IRC access for the chat?</a></li>
</ul>

<p>Unfortunately, none seem to have had much action lately, so I don't know the current status of any of them but something along these lines will be your best bet.</p>


	</body>
</html>