<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Considering reopening this question
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-878" class = "post">
			<h2>Question</h2>
			<div id="vote-878" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 104</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Considering reopening this question</h2>
<p><a href="https://apple.stackexchange.com/questions/28470/what-are-some-of-your-favorite-plugins-for-quicksilver">This question</a> was closed due to not having a wide enough audience. I personally think that it should be reopened, as many people do use Quicksilver. What are your thoughts?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-878">Load Comments</button></br>
			<div id = "commentsection-878" class = 'collapse'>
			<div id = "comment-1635" class = "comment">
				<p>Quasi-related: I mentioned to a friend how annoyed I am with Cracked. Their content is *passable*, but everything is a list, and it's obnoxious. I laugh at maybe one or two points, finish the article, look at the relateds, maybe try a few others, get annoyed, leave the site. To this day I only *sometimes* read Cracked if a friend explicitly links to it.</p>
			</div>
			</div>
				<textarea id = "speech-878" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-878">
					<img id="start_img-878" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-878">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-879"  class = "post">
				<h2>Answer</h2>
			<div id="vote-879" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree with Nathan. Although Apple.SE is very relaxed regarding the list rule, making one for every application out there is simply overkill, and to be honest, will most likely chase regulars away that want to answer high quality questions and find lists a distraction. </p>

<p><em>FYI: This is what happened on SU and why we killed lists completely</em></p>

<p>As far as QuickSilver goes, it has been badly maintained and there has been great replacements out there like Alfred and LaunchBar, so do we know start a list for every one of these when there is already quite a few google-able resources out there that does have list of valuable plugins?</p>

<p>Do we really want to use list to get Google traffic which is simply just going to have users post questions to create more lists?</p>

<p><sub><strong>Dislaimer</strong></sub></p>

<p><sub>I am extremely anti-list and personally feel it's an abuse of the SE system and principles to allow them. I will therefore admit this answer is biased.</sub></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-879">Load Comments</button></br>
			<div id = "commentsection-879" class = 'collapse'>
			<div id = "comment-1625" class = "comment">
				<p>I really appreciate the experience from other sites. Having many people that can explain why lists are bad helps to know when to kill them off and when to tolerate them if they do serve some good as well as the bad.</p>
			</div>
			</div>
				<textarea id = "speech-879" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-879">
					<img id="start_img-879" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-879">Comment</button>
			<br><div id = "ans-885"  class = "post">
				<h2>Answer</h2>
			<div id="vote-885" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I also think that question should be closed / deleted.</p>

<p>I don't see how the question as asked makes good use of this site.</p>

<p>Why not edit the wikipedia entry for that software to list the great plugins?</p>

<p><a href="http://en.wikipedia.org/wiki/Quicksilver_(software)" rel="nofollow noreferrer">http://en.wikipedia.org/wiki/Quicksilver_(software)</a></p>

<p>Once that was done, you could add it to the <a href="https://apple.stackexchange.com/questions/tagged/quicksilver">quicksilver tag wiki</a> for more information on that software.</p>

<p>In the mean time, it's OK to ask really specific questions that show how awesome some plug-ins can be. Maybe try one or two questions and see if the answers are voted highly.</p>

<p>Don't rush to ask all manner of leading questions, but if there is one or two killer plug-ins that you can't do in Launchbar, why not ask and then later answer that question here on the site?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-885" class = 'collapse'>
			</div>
				<textarea id = "speech-885" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-885">
					<img id="start_img-885" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-885">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>