<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Correct answer in the past, but now wrong!
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Correct answer in the past, but now wrong!</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/914/what-can-users-do-to-address-orphaned-questions-with-newer-better-answers">What can users do to address orphaned questions with newer/better answers?</a>  </p>
</blockquote>



<p>Is it possible to correct an answer acception? </p>

<p>I answered <a href="https://apple.stackexchange.com/questions/6008/can-i-download-a-song-twice-without-paying-a-second-time-in-itunes">this</a> question in January 2011 and the questioner accept the answer! But today my answer is wrong and somone other <a href="https://apple.stackexchange.com/a/39637/128">answered</a> it correct.</p>

<p>What is now the rigth way? To correct the acception flag or must I correct my answer?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>That's a tough one, I think that the only way to be safe from this happening too much is to limit or proviso your answers in some way.  "As of today..." or "At the current version 4 of X..."</p>

<p>Things always change.  What is not possible today may well be added tomorrow.</p>

<p>I would correct your answer noting that it was right at the time of going to press, as it were, and then add a comment to the question that points out the new answer is in fact more appropriate.</p>

<p>I am afraid I do not yet know how the system works with regards to removing acceptance flags.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>