<html>
	<head>
		<title id = 'pagetitle'>Cosmetic bug in new theme
		</title>
	<head>
	<body id = 'pagebody'><p>The number inside the red badge for featured questions is not aligned correctly:
<img src="https://i.stack.imgur.com/aconI.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment</p>


	</body>
</html>