<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Could Community  not bump questions without accepted answers on meta?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Could Community  not bump questions without accepted answers on meta?</h2>
<p>So we've <a href="https://apple.meta.stackexchange.com/questions/1030/should-we-have-posts-on-meta-that-arent-questions-that-can-be-answered">established</a> that it's appropriate for meta to contain questions that aren't really answerable. Which suggests that the algorithm whereby Community  randomly bumps questions without accepted answers to the top of the list might not be a particularly good idea in meta.</p>

<p>Case in point: podcast #2 was just bumped to the top of meta. Really?
<img src="https://i.stack.imgur.com/wF2aV.png" alt="enter image description here"></p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>