<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Could the voted~unvoted button artwork be further differentiated on meta.apple?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Could the voted~unvoted button artwork be further differentiated on meta.apple?</h2>
<p>The selected and unselected states of the vote-up and vote-down buttons here on Ask Different Meta aren't distinct enough for me to understand the difference. I'm including a screenshot that I just took:</p>

<p><img src="https://i.stack.imgur.com/3Wn8f.png" alt="Voted up; not voted down artwork example"></p>

<p>This appeared next to a meta answer that I voted up, but it is hard for me to determine what black means and what gray means. I don't visit the meta side very often, so I'm likely to forget which is which.</p>

<p>Can the selected vote button have some more color (distinct from grayscale), either in the arrow segment, the outer circle, or both?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This is a design choice we made deliberately. If you look at any site's meta (from <a href="http://meta.stackoverflow.com">Meta Stack Overflow</a> to <a href="http://meta.parenting.stackexchange.com">Meta.Parenting</a> to <a href="http://meta.scifi.stackexchange.com">Meta.SciFi</a> to this site's meta) the design choices are clear: take the main site design and strip out most (but not necessarily all) of the color, imbuing the site with the greyscale look you see before you. </p>

<p>It's a deliberate design choice, one that we reflect across the network.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>