<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Could we allow the creation of [iphone-4s] tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-831" class = "post">
			<h2>Question</h2>
			<h3>Score ::13</h3>
			<h3>Views ::109</h3>
				<h2>Could we allow the creation of [iphone-4s] tag?</h2>
<p>I tried to create an iPhone 4S (iphone-4s) tag, but the system won't let me. I think it's a pluralization blocker (iMacs vs iMac). I was excited, because I've never created a tag before. </p>

<p>Can this one be allowed? It's obviously the right tag for the upcoming hardware, and y'all have decided posts about the 4S are on-topic now.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1008"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Indeed there is plural protection, which wasn't wanted in this case. Looks like a mod created the tag in the meantime.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1828" class = "post">
				<p>Correct. I had been hoping to earn the Taxonomist badge, which thus didn't happen. But, as they say, oh well.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>