<html>
	<head>
		<title id = 'pagetitle'>Could we allow the creation of [iphone-4s] tag?
		</title>
	<head>
	<body id = 'pagebody'><p>I tried to create an iPhone 4S (iphone-4s) tag, but the system won't let me. I think it's a pluralization blocker (iMacs vs iMac). I was excited, because I've never created a tag before. </p>

<p>Can this one be allowed? It's obviously the right tag for the upcoming hardware, and y'all have decided posts about the 4S are on-topic now.</p>


<h1>ANSWERS</h1>
		<p>Indeed there is plural protection, which wasn't wanted in this case. Looks like a mod created the tag in the meantime.</p>


	</body>
</html>