<html>
	<head>
		<title id = 'pagetitle'>Could my question(s) be reopened?
		</title>
	<head>
	<body id = 'pagebody'><p>I made a small goof.</p>

<p>I asked two hardware questions about Keyboards and Mice.  The questions are very similar and, accidentally, I typed in the same title for both (referencing keyboards.)</p>

<p>These questions managed to get put on hold and flagged as duplicates.  I've updated the questions and fixed my errors.  Could I have them re-opened?</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/245126/best-keyboard-for-a-windows-developer-who-uses-os-xparallels">https://apple.stackexchange.com/questions/245126/best-keyboard-for-a-windows-developer-who-uses-os-xparallels</a></li>
<li><a href="https://apple.stackexchange.com/questions/245127/best-mouse-for-a-windows-developer-who-uses-os-xparallels">Best mouse for a Windows Developer who uses OS X+Parallels</a></li>
</ul>


<h1>ANSWERS</h1>
		<p>These questions will, unfortunately, remain closed, for two reasons:</p>

<ol>
<li>Both are shopping questions and <a href="https://apple.stackexchange.com/help/on-topic">shopping questions are off topic for Ask Different</a>. You're asking for a purchase recommendation in both questions. Shopping or buying recommendations. Questions that are mainly about price/time/supply constraints are considered "shopping" questions.</li>
<li>Both are asking for "best" options. While you do give some criteria for filtering purchase options, "best" is ultimately <em>very</em> subjective in these cases and as such there's no, real, canonical answer that can be given and that's not what Stack Exchange is about when it comes to Q&amp;A.</li>
</ol>

<p>Ultimately these questions are better suited for a traditional discussion forum format. You can find something akin to this in <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">our chat room</a> or take advantage of an existing forum like <a href="https://www.reddit.com/r/apple" rel="nofollow noreferrer">https://www.reddit.com/r/apple</a>.</p>


	</body>
</html>