<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Could we set out objective criteria for what is "spam" or "commercial promotion" here?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1826" class = "post">
			<h2>Question</h2>
			<div id="vote-1826" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Could we set out objective criteria for what is "spam" or "commercial promotion" here?</h2>
<p>In reference to <a href="https://apple.meta.stackexchange.com/questions/1824/site-traffic-new-users-an-influx-of-invalid-spam-flags">this other meta question</a>:</p>

<blockquote>
  <p>I would encourage people to avoid using spam flags for posts that have
  zero constructive comments, zero down votes and are <em>not actually
  commercial promotions</em> or offensive speech. &nbsp; <em>[emphasis mine]</em></p>
</blockquote>

<p>I expect those of us who use the flagging system work from a standpoint of <em>"I'll know it when I see it"</em> &mdash; but we don't all see things the same way in the face of ambiguity.</p>

<p>As a moderator elsewhere in the SE network, I've developed a somewhat low threshold for considering a post spam, and since I hang out here too I consider it my civic responsibility to put my nose to good use.  (Actually, I really just want a shiny <a href="https://apple.stackexchange.com/help/badges/73/marshal">Marshal badge</a>. :)</p>

<p>So, under my thinking:  If a new, mostly unidentified, unregistered, 1-rep user posts an answer to an old question, and the answer mentions/links to a <strong>commercial</strong> product or service, or a sketchy blog/article linking to such, my shit-detector goes off.</p>

<p>I ask myself: Why, out of the blue, did a completely new user come to the site and post a commercial link-containing answer to an old, already-answered question (i.e. quite often <strong>not</strong> a question on the home page) for a problem they aren't having?</p>

<p>The simple explanation is it's a spammer using a <strong>targeted search</strong> for places to astroturf.  Since most spam are one-offs, I often don't wait for a pattern to emerge.  This isn't a criminal court, and presumption of innocence isn't necessary. I work on the balance of the probabilities. Deleting a seemingly spammy post isn't the death sentence.</p>

<p>But that's me.  I've had some flags rejected.  Maybe I'm too quick to judge?</p>

<p>So:  What is (or should be) the objective criteria or definition here at Ask Different for considering something spam or commercial promotion?</p>

<p>If the current standard is tacit, can we work to write it down?  If there isn't such a standard, can we work to establish one?  What do you think of the criteria I mentioned above?  It's easy to recognize <em>obvious</em> spam ("Buy now! Operators are standing by!") and also spam where there's a clear pattern, but what about quick &amp; subtle one-offs?</p>

<p>Thanks!</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1826">Load Comments</button></br>
			<div id = "commentsection-1826" class = 'collapse'>
			<div id = "comment-3491" class = "comment">
				<p>We're in a position to see and do something - this is bcoming a business, so it will be harder to discriminate between honest recommendations and spam unfortunately. http://twitter.com/timbray/status/382178111145537537</p>
			</div>
			</div>
				<textarea id = "speech-1826" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1826">
					<img id="start_img-1826" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1827"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1827" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This</p>

<blockquote>
  <p>So, under my thinking: If a new, mostly unidentified, unregistered, 1-rep user posts an answer to an old question, and the answer mentions/links to a commercial product or service, or a sketchy blog/article linking to such, my shit-detector goes off.</p>
</blockquote>

<p>describes the way I look for spam myself  quite nicely. So if you follow that approach to flag stuff as spam (especially for answers around the usual suspects like video conversion and data recovery of any kind) you'll probably have a rather high approval rate. It may not be 100% though because a single message by a single user may or may not be considered as spam by the moderator handling the flag.</p>

<p>What's actually more an issue (and which the driver behind the question linked to) is that sometimes users tend to flag stuff they don't like or agree with (and at least partially use the "spam" option for whatever reason). We have taken up a more relaxed position here recently and are rejecting flags for things which are at least slightly on-topic.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1827">Load Comments</button></br>
			<div id = "commentsection-1827" class = 'collapse'>
			<div id = "comment-3492" class = "comment">
				<p>This is how I see it as well. I'm not much concerned with how often it's posted. Once is enough for me if it smacks of that "I searched the web for places to promote my crummy iPhone data transfer software for Windoze and found Ask Different" type post.</p>
			</div>
			</div>
				<textarea id = "speech-1827" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1827">
					<img id="start_img-1827" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1828"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1828" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm mainly interested in avoiding false positives. If someone is legitimate new user to our site and wants to find question they can answer, one way to get a foot in the door might be to recommend a piece of software that solves someone's problem. Of course this is also the model for how a spammer would operate. My main concern is avoiding alienating new users who actually plan to contribute to the site while weeding out the spam.</p>

<p>If a user's first post is to recommend software that actually is relevant to solving someone else's problem, I'm inclined to give the user the benefit of the doubt. Now if the same piece of shady software keeps popping up in first-post recommendations, if the user only recommends software in answers and nothing else, or other conditions that I can't publicly disclose make it clear that the account is a spam account, fire away.</p>

<p>Spam is harmful primarily because of its volume (thus the term Spam, in reference to the <a href="http://www.youtube.com/watch?v=anwy2MPT5RE" rel="nofollow">Monty Python sketch</a>). A single promotional post is either a helpful answer, in which case it will attract votes, or unhelpful, in which case it will languish without votes and be fairly innocuous. It's only when the posts become part of a larger pattern with volume that they become disruptive. So if a pattern emerges, we zap. In the meantime, we need not act too hastily unless the post is clearly promotional noise.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1828">Load Comments</button></br>
			<div id = "commentsection-1828" class = 'collapse'>
			<div id = "comment-3494" class = "comment">
				<p>Interesting reasoning.  *Scenario:* A potential "legitimate new user" (or, could be a spammer who scrubbed their cookies) posts one single answer containing a promotional link. Let's say the answer survived for a few months and the unregistered account that posted it never visited the site again. Is the risk of a false-positive alienation of a "new user" thereby reduced by the time that has passed?</p>
			</div>
			<div id = "comment-3495" class = "comment">
				<p>FWIW, at Money SE, the situation I dread as a moderator is a spammer posing as a "legitimate new user" in order to mention a product or service that could then be damaging to a real person's financial situation.  e.g. loans, debt consolidation services, trading scams, etc. Perhaps the stakes here aren't as high, although software can do some *nasty* things too.  I don't buy that leaving spam alone to languish at the bottom of the page means it won't potentially do harm. Savvy active users with rep know better and understand the votes, but the average anon user coming from search might not.</p>
			</div>
			<div id = "comment-3496" class = "comment">
				<p>@ChrisW.Rea I agree, but the trick is knowing the difference. If the software is one that we've seen a pattern of spam users promoting before, I'd delete the post. If the software is known legit software with no history of spam promotion, hold your fire. In between, I'd err on the side of wait and see, but if a pattern emerges of spam promotion of that software, I'd search and destroy all the spammy links to it. One-off links to software that Apple will list on the Mac App Store, though, seem not worth destroying on sight. I agree that the stakes here are real but not as high as on Money.SE.</p>
			</div>
			</div>
				<textarea id = "speech-1828" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1828">
					<img id="start_img-1828" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1829"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1829" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd be more okay with a more aggressive anti-spam approach if we had a help page about "My message got deleted as spam but I wasn't trying to post spam. What happened and what can I do?" that a user got a link to when their post was deleted as spam.</p>

<p>That page could describe that first posts that contain either promotion of less-known software or links to blogs promoting less-known software are considered suspect, but if the user wants to get involved in the site by answering other questions in ways that don't resemble guerrilla software promotion, their posts would be less likely to be taken down.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1829">Load Comments</button></br>
			<div id = "commentsection-1829" class = 'collapse'>
			<div id = "comment-3515" class = "comment">
				<p>I encourage you to post a question on this meta site, and then answer it.  Or, post a question on this meta site proposing text for that help page.</p>
			</div>
			</div>
				<textarea id = "speech-1829" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1829">
					<img id="start_img-1829" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>