<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Could we set out objective criteria for what is "spam" or "commercial promotion" here?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Could we set out objective criteria for what is "spam" or "commercial promotion" here?</h2>
<p>In reference to <a href="https://apple.meta.stackexchange.com/questions/1824/site-traffic-new-users-an-influx-of-invalid-spam-flags">this other meta question</a>:</p>

<blockquote>
  <p>I would encourage people to avoid using spam flags for posts that have
  zero constructive comments, zero down votes and are <em>not actually
  commercial promotions</em> or offensive speech. &nbsp; <em>[emphasis mine]</em></p>
</blockquote>

<p>I expect those of us who use the flagging system work from a standpoint of <em>"I'll know it when I see it"</em> &mdash; but we don't all see things the same way in the face of ambiguity.</p>

<p>As a moderator elsewhere in the SE network, I've developed a somewhat low threshold for considering a post spam, and since I hang out here too I consider it my civic responsibility to put my nose to good use.  (Actually, I really just want a shiny <a href="https://apple.stackexchange.com/help/badges/73/marshal">Marshal badge</a>. :)</p>

<p>So, under my thinking:  If a new, mostly unidentified, unregistered, 1-rep user posts an answer to an old question, and the answer mentions/links to a <strong>commercial</strong> product or service, or a sketchy blog/article linking to such, my shit-detector goes off.</p>

<p>I ask myself: Why, out of the blue, did a completely new user come to the site and post a commercial link-containing answer to an old, already-answered question (i.e. quite often <strong>not</strong> a question on the home page) for a problem they aren't having?</p>

<p>The simple explanation is it's a spammer using a <strong>targeted search</strong> for places to astroturf.  Since most spam are one-offs, I often don't wait for a pattern to emerge.  This isn't a criminal court, and presumption of innocence isn't necessary. I work on the balance of the probabilities. Deleting a seemingly spammy post isn't the death sentence.</p>

<p>But that's me.  I've had some flags rejected.  Maybe I'm too quick to judge?</p>

<p>So:  What is (or should be) the objective criteria or definition here at Ask Different for considering something spam or commercial promotion?</p>

<p>If the current standard is tacit, can we work to write it down?  If there isn't such a standard, can we work to establish one?  What do you think of the criteria I mentioned above?  It's easy to recognize <em>obvious</em> spam ("Buy now! Operators are standing by!") and also spam where there's a clear pattern, but what about quick &amp; subtle one-offs?</p>

<p>Thanks!</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This</p>

<blockquote>
  <p>So, under my thinking: If a new, mostly unidentified, unregistered, 1-rep user posts an answer to an old question, and the answer mentions/links to a commercial product or service, or a sketchy blog/article linking to such, my shit-detector goes off.</p>
</blockquote>

<p>describes the way I look for spam myself  quite nicely. So if you follow that approach to flag stuff as spam (especially for answers around the usual suspects like video conversion and data recovery of any kind) you'll probably have a rather high approval rate. It may not be 100% though because a single message by a single user may or may not be considered as spam by the moderator handling the flag.</p>

<p>What's actually more an issue (and which the driver behind the question linked to) is that sometimes users tend to flag stuff they don't like or agree with (and at least partially use the "spam" option for whatever reason). We have taken up a more relaxed position here recently and are rejecting flags for things which are at least slightly on-topic.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'm mainly interested in avoiding false positives. If someone is legitimate new user to our site and wants to find question they can answer, one way to get a foot in the door might be to recommend a piece of software that solves someone's problem. Of course this is also the model for how a spammer would operate. My main concern is avoiding alienating new users who actually plan to contribute to the site while weeding out the spam.</p>

<p>If a user's first post is to recommend software that actually is relevant to solving someone else's problem, I'm inclined to give the user the benefit of the doubt. Now if the same piece of shady software keeps popping up in first-post recommendations, if the user only recommends software in answers and nothing else, or other conditions that I can't publicly disclose make it clear that the account is a spam account, fire away.</p>

<p>Spam is harmful primarily because of its volume (thus the term Spam, in reference to the <a href="http://www.youtube.com/watch?v=anwy2MPT5RE" rel="nofollow">Monty Python sketch</a>). A single promotional post is either a helpful answer, in which case it will attract votes, or unhelpful, in which case it will languish without votes and be fairly innocuous. It's only when the posts become part of a larger pattern with volume that they become disruptive. So if a pattern emerges, we zap. In the meantime, we need not act too hastily unless the post is clearly promotional noise.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'd be more okay with a more aggressive anti-spam approach if we had a help page about "My message got deleted as spam but I wasn't trying to post spam. What happened and what can I do?" that a user got a link to when their post was deleted as spam.</p>

<p>That page could describe that first posts that contain either promotion of less-known software or links to blogs promoting less-known software are considered suspect, but if the user wants to get involved in the site by answering other questions in ways that don't resemble guerrilla software promotion, their posts would be less likely to be taken down.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>