<html>
	<head>
		<title id = 'pagetitle'>Could the voted~unvoted button artwork be further differentiated on meta.apple?
		</title>
	<head>
	<body id = 'pagebody'><p>The selected and unselected states of the vote-up and vote-down buttons here on Ask Different Meta aren't distinct enough for me to understand the difference. I'm including a screenshot that I just took:</p>

<p><img src="https://i.stack.imgur.com/3Wn8f.png" alt="Voted up; not voted down artwork example"></p>

<p>This appeared next to a meta answer that I voted up, but it is hard for me to determine what black means and what gray means. I don't visit the meta side very often, so I'm likely to forget which is which.</p>

<p>Can the selected vote button have some more color (distinct from grayscale), either in the arrow segment, the outer circle, or both?</p>


<h1>ANSWERS</h1>
		<p>This is a design choice we made deliberately. If you look at any site's meta (from <a href="http://meta.stackoverflow.com">Meta Stack Overflow</a> to <a href="http://meta.parenting.stackexchange.com">Meta.Parenting</a> to <a href="http://meta.scifi.stackexchange.com">Meta.SciFi</a> to this site's meta) the design choices are clear: take the main site design and strip out most (but not necessarily all) of the color, imbuing the site with the greyscale look you see before you. </p>

<p>It's a deliberate design choice, one that we reflect across the network.</p>


	</body>
</html>