<html>
	<head>
		<title id = 'pagetitle'>Create a canonical Q&A for installing a blank OS without MAS with a link to a hosted copy of the installers
		</title>
	<head>
	<body id = 'pagebody'><p>I have been seeing a lot of questions like: "I want to install El Capitan, but I never got it from the App Store. How can I do this?"</p>

<p>The best option for this is "Get a friend with the installer." I have installers going back to Mavericks. Would it be useful and legal for me to create a Google Drive account where I could post these installers? The idea would be that I could create a canonical question/answer so that each time a question like this comes up, we can mark it as a duplicate of the question with a link to all of the installers.</p>


<h1>ANSWERS</h1>
		<p>Getting an illegal copy off a random person is <strong>not</strong> the best way. One should use the official links from Apple to obtain a copy, or there are alternative methods such as Internet Recovery.</p>

<p>Any such questions can be marked as duplicate of the existing questions with viable questions.</p>


	</body>
</html>