<html>
	<head>
		<title id = 'pagetitle'>Creation of wiki tags
		</title>
	<head>
	<body id = 'pagebody'><p>At the moment we don't have wiki for tags (for example the <a href="https://apple.stackexchange.com/tags/osx/info"><code>osx</code></a> tag).</p>

<p>I know it's written a user need to have more than 1000 points to edit the tag wiki, but soon users will reach 1k points. Therefore, I think we should beginning answering these questions :</p>

<ul>
<li>What tags will need a wiki ?</li>
<li>What do we want inside a tag wiki ?</li>
</ul>

<p>Wikis would be nice, so users could understand the differences between <code>osx</code>, <code>mac</code> and <code>apple</code> or when to use <code>software-recommendation</code>,  </p>


<h1>ANSWERS</h1>
		<p>In general, of-the-top-of-my-head fashion:</p>

<ul>
<li><code>[osx]</code> would need a wiki.</li>
<li><code>[apple]</code> would need a wiki.</li>
<li><code>[mac]</code> would need a wiki.</li>
</ul>

<p>Actually, anything that is technically a proper noun should have a wiki. <code>[firefox]</code> for example, or <code>[steve-jobs]</code> perhaps? <code>[iphone]</code>, <code>[ios]</code>, <code>[macbook]</code> should have wikis.</p>

<p>By no means should they be insanely comprehensive though, just a couple of lines (or paragraphs as they prefer) describing the tag and applicable uses. </p>


<h1>tag wiki entry for <a href="https://apple.stackexchange.com/questions/tagged/core-storage" class="post-tag" title="show questions tagged &#39;core-storage&#39;" rel="tag">core-storage</a></h1>

<p><a href="https://apple.stackexchange.com/tags/core-storage/info">https://apple.stackexchange.com/tags/core-storage/info</a></p>

<p>Process seems fine to me. </p>

<p>This particular tag was discussed in chat before someone created it for me, I drafted the wiki entry, entry was approved, recently edited (to include the <a href="https://apple.stackexchange.com/questions/tagged/lion" class="post-tag" title="show questions tagged &#39;lion&#39;" rel="tag">lion</a> tag within the body of the wiki entry) and again approved. </p>


<h1>What tags will need a wiki?</h1>

<p>Blogged today: </p>

<ul>
<li><a href="http://blog.stackoverflow.com/2011/08/improved-tagging/">Improved Tagging   Blog   Stack Exchange</a></li>
</ul>

<p>I think: </p>

<ul>
<li>all tags should have at least an excerpt, because the new design draws attention to gaps</li>
<li>the excerpt should be not too long</li>
<li>the excerpt need not be a <em>verbatim</em> excerpt from the full information; more important for the excerpt alone to help a user to decide whether a tag is appropriate. </li>
</ul>

<h2>Room for improvement: an example</h2>

<p><img src="https://i.stack.imgur.com/GnKcF.png" alt="Screenshot of excerpts for two tags"></p>

<p>In the example above: </p>

<ul>
<li>my current excerpt for [<a href="https://apple.stackexchange.com/tags/core-storage/info">core-storage</a>] is not good enough; showing it as an <em>Apple thing</em>, with sometimes <em>different names</em>, is too <strong>nondescript</strong></li>
<li>there may be a generation of users to whom Corel is <strong>unknown</strong>.</li>
</ul>


	</body>
</html>