<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Creation of wiki tags
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-71" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::97</h3>
				<h2>Creation of wiki tags</h2>
<p>At the moment we don't have wiki for tags (for example the <a href="https://apple.stackexchange.com/tags/osx/info"><code>osx</code></a> tag).</p>

<p>I know it's written a user need to have more than 1000 points to edit the tag wiki, but soon users will reach 1k points. Therefore, I think we should beginning answering these questions :</p>

<ul>
<li>What tags will need a wiki ?</li>
<li>What do we want inside a tag wiki ?</li>
</ul>

<p>Wikis would be nice, so users could understand the differences between <code>osx</code>, <code>mac</code> and <code>apple</code> or when to use <code>software-recommendation</code>,  </p>

			</div><h3>Comments</h3>
				<textarea id = "speech-71" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-71">
					<img id="start_img-71" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-76"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>In general, of-the-top-of-my-head fashion:</p>

<ul>
<li><code>[osx]</code> would need a wiki.</li>
<li><code>[apple]</code> would need a wiki.</li>
<li><code>[mac]</code> would need a wiki.</li>
</ul>

<p>Actually, anything that is technically a proper noun should have a wiki. <code>[firefox]</code> for example, or <code>[steve-jobs]</code> perhaps? <code>[iphone]</code>, <code>[ios]</code>, <code>[macbook]</code> should have wikis.</p>

<p>By no means should they be insanely comprehensive though, just a couple of lines (or paragraphs as they prefer) describing the tag and applicable uses. </p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-126" class = "comment">
				<p>For reference, `[osx]` and `[mac]` on Super User already have wiki entries we can rip wholesale. (After all I made them)</p>
			</div>
			<div id = "comment-128" class = "comment">
				<p>I tried to copy `[osx]` and `[mac]`. Are you ok with the result ?</p>
			</div>
			<div id = "comment-130" class = "comment">
				<p>@Studer: Looks great!</p>
			</div>
			<div id = "comment-1126" class = "comment">
				<p>Answer http://meta.apple.stackexchange.com/questions/609/is-it-osx-or-os-x/620#620 under [Is it OSX or OS X?](http://meta.apple.stackexchange.com/q/609/8546) discourages [osx] without a space, YMMV.</p>
			</div>
				<textarea id = "speech-76" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-76">
					<img id="start_img-76" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-631"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h1>tag wiki entry for <a href="https://apple.stackexchange.com/questions/tagged/core-storage" class="post-tag" title="show questions tagged &#39;core-storage&#39;" rel="tag">core-storage</a></h1>

<p><a href="https://apple.stackexchange.com/tags/core-storage/info">https://apple.stackexchange.com/tags/core-storage/info</a></p>

<p>Process seems fine to me. </p>

<p>This particular tag was discussed in chat before someone created it for me, I drafted the wiki entry, entry was approved, recently edited (to include the <a href="https://apple.stackexchange.com/questions/tagged/lion" class="post-tag" title="show questions tagged &#39;lion&#39;" rel="tag">lion</a> tag within the body of the wiki entry) and again approved. </p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-631" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-631">
					<img id="start_img-631" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-674"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h1>What tags will need a wiki?</h1>

<p>Blogged today: </p>

<ul>
<li><a href="http://blog.stackoverflow.com/2011/08/improved-tagging/">Improved Tagging   Blog   Stack Exchange</a></li>
</ul>

<p>I think: </p>

<ul>
<li>all tags should have at least an excerpt, because the new design draws attention to gaps</li>
<li>the excerpt should be not too long</li>
<li>the excerpt need not be a <em>verbatim</em> excerpt from the full information; more important for the excerpt alone to help a user to decide whether a tag is appropriate. </li>
</ul>

<h2>Room for improvement: an example</h2>

<p><img src="https://i.stack.imgur.com/GnKcF.png" alt="Screenshot of excerpts for two tags"></p>

<p>In the example above: </p>

<ul>
<li>my current excerpt for [<a href="https://apple.stackexchange.com/tags/core-storage/info">core-storage</a>] is not good enough; showing it as an <em>Apple thing</em>, with sometimes <em>different names</em>, is too <strong>nondescript</strong></li>
<li>there may be a generation of users to whom Corel is <strong>unknown</strong>.</li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-674" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-674">
					<img id="start_img-674" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>