<html>
	<head>
		<title id = 'pagetitle'>CSS bug AskDifferent: add comment
		</title>
	<head>
	<body id = 'pagebody'><p>This CSS piece is messing up and causing a weird behaviour when you get close with your mouse to the "Add Comment" Button.</p>

<p>This applies to both, Meta and AskDifferent.</p>

<pre><code>a.comments-link:hover {
padding: 0px 3px 2px 3px;
</code></pre>

<p>This piece of CSS is also related to the issue:</p>

<pre><code>.comments-link {
padding: 0px 3px 2px 3px;
color: #888;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
display: inline-block;
padding: 2px 7px 3px 8px; &lt;--
</code></pre>

<p>Can anyone poke for a fix please? (<a href="https://apple.meta.stackexchange.com/users/6/jin">Jin?</a>)</p>

<p>See this image for the place and button I mean:
<img src="https://i.stack.imgur.com/hvVYm.png" alt="See this image for the place and button I mean:"></p>


<h1>ANSWERS</h1>
			</body>
</html>