<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>CSS Bug 'on hover' for comment button
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>CSS Bug 'on hover' for comment button</h2>
<p>If I slowly mouseover the comments button on AD (I have tried with with 2 other SE sites that I cannot replicate this on) I get a rapid flickering between the hover and non hover state when I near the edge of the button, that stops when I go to the center of the button (or move away).</p>

<p>It looks like the button size for the "on hover" css is a couple of pixels smaller than the normal state.  This means that if you touch the very bottom of the button in the normal state, then the on-hover triggers and the button is highlighted, but without moving the cursor is now seems outside the 'on hover' detection edge, and reverts back to the normal view, and repeats on/off until I move the mouse.</p>

<p>This seems to happen on the bottom and right edges, but not the top or left.</p>

<p><img src="https://i.stack.imgur.com/PYJzo.gif" alt="GIF"></p>

<p>I made this video to make it clearer <a href="http://cl.ly/RHi6" rel="nofollow noreferrer">http://cl.ly/RHi6</a> </p>

<p>This happens on (Windows) Chrome 29.blah for me, but not on IE8 which renders the button differently (no rounded corners) although it does move everything below the button up a few pixels when highlighted.  Not on a Mac presently to test in OS X.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It's just a padding problem on the <code>mouseover</code> state. This should fix it:</p>

<pre><code>a.comments-link:hover {
    padding: 2px 7px 3px 8px;
    ...
}
</code></pre>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This has been fixed in the recent <a href="https://apple.meta.stackexchange.com/questions/2374/site-design-update">site design update</a>:</p>

<p> <img src="https://i.stack.imgur.com/zRuKK.gif" alt=""></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>