<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>CSS bug AskDifferent: add comment
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1939" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::22</h3>
				<h2>CSS bug AskDifferent: add comment</h2>
<p>This CSS piece is messing up and causing a weird behaviour when you get close with your mouse to the "Add Comment" Button.</p>

<p>This applies to both, Meta and AskDifferent.</p>

<pre><code>a.comments-link:hover {
padding: 0px 3px 2px 3px;
</code></pre>

<p>This piece of CSS is also related to the issue:</p>

<pre><code>.comments-link {
padding: 0px 3px 2px 3px;
color: #888;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
display: inline-block;
padding: 2px 7px 3px 8px; &lt;--
</code></pre>

<p>Can anyone poke for a fix please? (<a href="https://apple.meta.stackexchange.com/users/6/jin">Jin?</a>)</p>

<p>See this image for the place and button I mean:
<img src="https://i.stack.imgur.com/hvVYm.png" alt="See this image for the place and button I mean:"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3724" class = "comment">
				<p>Does kit show the page as this [bug](http://meta.stackexchange.com/questions/219799/adding-a-comment-hides-parts-of-earlier-comments)</p>
			</div>
			<div id = "comment-3726" class = "comment">
				<p>That's not even close to what I meant, I've added a picture with the button I mean. The text is in Dutch, but irrelevant for this question. Put your mouse on that location and it will start to bling around.</p>
			</div>

<h1>ANSWERS</h1>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>