<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Dead question policy
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Dead question policy</h2>
<p>My definition on dead questions are as followed</p>

<p>The user asking haven't been around for long. (Correct answer may or may not exist, but no best answer was chosen by the asker)</p>

<p>The question isn't active for a long long time, no more answers, no more comments.</p>

<p>Is there any clean-up mechanism for these kind of questions? As no best answer is chosen, they are left open even if there is already a good answer to it or answering it doesn't make sense anymore.</p>

<p>For example, this is marked as a dead question to me:</p>

<p><a href="https://apple.stackexchange.com/questions/53940/problem-adding-large-surround-sound-wav-file-to-itunes?rq=1">https://apple.stackexchange.com/questions/53940/problem-adding-large-surround-sound-wav-file-to-itunes?rq=1</a></p>

<p>The asker haven't been around for months, and any answers to it will not be marked as best, therefore leaving it open forever.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I believe you conflate two different categories here.</p>

<p>If a question has sat idle for a long time, has no good answer, and no longer makes sense to answer, such a question should be closed and possibly deleted. The mechanism for this is to either vote to close it (if you have sufficient reputation) or flag it for moderator action.</p>

<p>If a question has a good answer that is not clearly identified as a good answer, the mechanism to fix this is to vote for that answer. The OP can issue a green checkmark, but this is far from the only feedback mechanism in place. Users voting for a solid answer lets future readers know that it is a helpful answer. Questions only show up as unanswered if they have neither an accepted answer <strong>nor any upvoted answers</strong>. Voting for answers you consider good <strong><em>is</em></strong> the cleanup mechanism for such questions; once they have an answer that has received upvotes, they are no longer "open" and no longer need to be fixed.</p>

<p>In any event, questions exist to draw good answers. While active participation from the OP is helpful, it is far from essential to make the site work.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>