<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Dealing with 'fly-by' users & answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2247" class = "post">
			<h2>Question</h2>
			<div id="vote-2247" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
				<h2>Dealing with 'fly-by' users & answers</h2>
<p>So many times, a simple question is given a 'correct' answer (I shall use one of my own 'answers' as an example - <a href="https://apple.stackexchange.com/questions/150889/upgrade-iphone-5-from-ios-7-0-4-to-ios-7-1-2">Upgrade iPhone 5 from iOS 7.0.4 to iOS 7.1.2</a>)</p>

<p>The chances are that this is the 'correct' answer, yet the OP will never return to show it as such (it doesn't matter for this case whether my actual answer was right or not, it's just an example) &amp; so this question will hang in perpetuity, hogging valuable Google space if nothing else.</p>

<p>The question already has a few up-votes, so the regular 'bad question' scenario doesn't apply.</p>

<p>I guess my real question would be "Does this type of non-question/non-answer" quickly drop off SE after some time, or does it really hang around forever?"<br>
.. or "Can this stuff be cleared up manually?"</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2247">Load Comments</button></br>
			<div id = "commentsection-2247" class = 'collapse'>
			<div id = "comment-4396" class = "comment">
				<p>I am not sure what you want to do about this. Would you want to *delete* such question with its answer?</p>
			</div>
			</div>
				<textarea id = "speech-2247" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2247">
					<img id="start_img-2247" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2249"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2249" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It will hang around for ever only questions with down votes will get automatically deleted.</p>

<p>Automatic deletion criteria are in this <a href="https://meta.stackexchange.com/questions/78048/enable-automatic-deletion-of-old-unanswered-zero-score-questions-after-a-year">question</a></p>

<p>Note there are <a href="https://meta.stackoverflow.com/questions/273043/are-questions-automatically-deleted-if-they-are-1-without-answers">discussions</a> on Stack Overflow about what more to do </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2249">Load Comments</button></br>
			<div id = "commentsection-2249" class = 'collapse'>
			<div id = "comment-4246" class = "comment">
				<p>OK, thanks. I'm still working through those links & other linked refs, but it seems fair to say that 'Community' will deal with them eventually & that short-term I shouldn't worry.</p>
			</div>
			<div id = "comment-4247" class = "comment">
				<p>As this question's answer have positive votes they will stay around - but anyway don't worry</p>
			</div>
			</div>
				<textarea id = "speech-2249" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2249">
					<img id="start_img-2249" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>