<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Definition of PATH
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2499" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::22</h3>
				<h2>Definition of PATH</h2>
<p>I have just looked at the <a href="https://apple.stackexchange.com/questions/tagged/path" class="post-tag" title="show questions tagged &#39;path&#39;" rel="tag">path</a> wiki. It covers the meaning of path as the shell environment variables used to find things e.g. executables in $PATH man pages in $MANPATH</p>

<p>However path is also the name used to define the location of a file in the role system e.g. it is the team used in <a href="https://developer.apple.com/library/ios/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/AccessingFilesandDirectories/AccessingFilesandDirectories.html#//apple_ref/doc/uid/TP40010672-CH3-SW6" rel="nofollow noreferrer">Apple's Filesystem programming guide</a></p>

<p>I have edited the wiki to add that definition as a note. </p>

<p>Should we</p>

<p>1) Restrict the tag to the PATH environment variable as per the wiki and edit the questions to remove tags</p>

<p>2) Edit the wiki to make the file name more prominent? </p>

<p>And while on $PATH we need a canonical answer as how to set it. This <a href="https://apple.stackexchange.com/a/121021/237">answer</a> seems a base is there a better start elsewhere (possibly also on a SuperUser question)</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2500"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I'm of a mind to make it a synonym to <a href="https://apple.stackexchange.com/questions/tagged/command-line" class="post-tag" title="show questions tagged &#39;command-line&#39;" rel="tag">command-line</a> when would anyone have experience in one, they have to have experience in the other. By lumping things together tag clouds and rep and badged make the site better.</p>

<p>Having a tag for any little aspect of command line programming / environment seems counter productive since the search tool can expose path questions extremely well with or without that tag.</p>

<p>Big thanks for the edit to the tag wiki and the attention here.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5686" class = "post">
				<p>The edit on the wiki is temporary I/we need to do 1 or 2. If 2 then a very large edit</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>