<html>
	<head>
		<title id = 'pagetitle'>Definition of PATH
		</title>
	<head>
	<body id = 'pagebody'><p>I have just looked at the <a href="https://apple.stackexchange.com/questions/tagged/path" class="post-tag" title="show questions tagged &#39;path&#39;" rel="tag">path</a> wiki. It covers the meaning of path as the shell environment variables used to find things e.g. executables in $PATH man pages in $MANPATH</p>

<p>However path is also the name used to define the location of a file in the role system e.g. it is the team used in <a href="https://developer.apple.com/library/ios/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/AccessingFilesandDirectories/AccessingFilesandDirectories.html#//apple_ref/doc/uid/TP40010672-CH3-SW6" rel="nofollow noreferrer">Apple's Filesystem programming guide</a></p>

<p>I have edited the wiki to add that definition as a note. </p>

<p>Should we</p>

<p>1) Restrict the tag to the PATH environment variable as per the wiki and edit the questions to remove tags</p>

<p>2) Edit the wiki to make the file name more prominent? </p>

<p>And while on $PATH we need a canonical answer as how to set it. This <a href="https://apple.stackexchange.com/a/121021/237">answer</a> seems a base is there a better start elsewhere (possibly also on a SuperUser question)</p>


<h1>ANSWERS</h1>
		<p>I'm of a mind to make it a synonym to <a href="https://apple.stackexchange.com/questions/tagged/command-line" class="post-tag" title="show questions tagged &#39;command-line&#39;" rel="tag">command-line</a> when would anyone have experience in one, they have to have experience in the other. By lumping things together tag clouds and rep and badged make the site better.</p>

<p>Having a tag for any little aspect of command line programming / environment seems counter productive since the search tool can expose path questions extremely well with or without that tag.</p>

<p>Big thanks for the edit to the tag wiki and the attention here.</p>


	</body>
</html>