<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Deleted Comments
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1243" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::179</h3>
				<h2>Deleted Comments</h2>
<p>I've commented on multiple questions today and have noticed that my comments were deleted.  Unlike closed questions, deleted comments (at least from my privilege level) don't leave a trace.  It sure would be helpful to know why said comments were deleted.  Can a moderator please reach out to me to explain?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1243">Load Comments</button></br>
			<div id = "commentsection-1243" class = 'collapse'>
			<div id = "comment-2288" class = "comment">
				<p>If you comment on someone's accept rate, they can be deleted without having to be checked. (I'm pretty sure...)</p>
			</div>
			<div id = "comment-2289" class = "comment">
				<p>Yeah it wasn't that...but good to know.</p>
			</div>
			</div>
				<textarea id = "speech-1243" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1243">
					<img id="start_img-1243" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1245"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>Part of keeping quality high on the site is <strong>making sure that questions and answers are self contained and self explanatory</strong>. That's why we require links to be summarized or excerpted and why we allow anyone to edit posts. The goal is that someone coming from, say Google, should not need to read all of the comments on a question or answer for it to make sense or be useful.</p>

<p>Similarly, we like to make sure that all comments on a post are <strong>useful</strong>, <strong>relevant</strong>, and <strong>necessary</strong>.</p>

<p>To these ends, there are a few main reasons we delete comments.</p>

<hr>

<h2>Unnecessary/Noise</h2>

<p>A comment saying <em>"Oh my gosh, what an awesome question! I've always wondered this."</em> would <strong>better be expressed by an upvote</strong> (or, in extreme cases, a bounty).<br>
This type of comment adds nothing. It's safe to assume that the commenter has already upvoted the post, so the comment is unnecessary and can be deleted.</p>

<h2>Obsolete</h2>

<p>If for any reason a comment no longer adds to a post, it can be deleted.</p>

<p>If a comment contains useful information (<em>"I'm using 10.7.3, btw"</em>), it should be incorporated into the post as an edit so that the post is self contained. Once the edit has been made, the comment is redundant and can be deleted.</p>

<h2>Long Discussion</h2>

<p>Long comment threads are discouraged. The system automatically steps in and offers to create a chat room if things get too bad, but sometimes long discussions do pop up.</p>

<p>If it appears that the discussions are done, have served their purpose, and are no longer adding to the post, they can be deleted or 'thinned'/abbreviated.</p>

<h2>Rude/Offensive</h2>

<p>I have yet to see a rude or offensive comment that adds any value to a post. Most rude comments are on answers that someone doesn't like: <em>"What a stupid way to do this! I've been using a Mac for a week and even I know better than this!"</em>. These comments are mean, and could be better expressed with a downvote.</p>

<p>That's not to say, of course, that a friendly, constructive comment explaining how a post could be improved or why it was downvoted should be deleted. If there is value in the criticism, the comment can stay (but should be edited if it is rude).</p>

<hr>

<p>Almost all comment deletions fall into these categories. If you feel that any of your comments that have been deleted do not, feel free to give me a link to the post where the comment was and I can explain what happened.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1245" class = 'collapse'>
			</div>
				<textarea id = "speech-1245" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1245">
					<img id="start_img-1245" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>