<html>
	<head>
		<title id = 'pagetitle'>Deleting a question I asked on mobile site
		</title>
	<head>
	<body id = 'pagebody'><p>Earlier I deleted a question that I asked which had generated no activity. I did this while browsing the mobile site. When I clicked 'delete' I got a popup to confirm and was then redirected to a 'page not found' because the question had been deleted, by me. However, this page was not formatted for mobile so I thought I'd raise this in case it's a bug.</p>


<h1>ANSWERS</h1>
			</body>
</html>