<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Design for the Apple StackExchange site
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-268" class = "post">
			<h2>Question</h2>
			<h3>Score ::33</h3>
			<h3>Views ::673</h3>
				<h2>Design for the Apple StackExchange site</h2>
<p>Hi all. I'm <a href="http://blog.stackoverflow.com/2010/07/our-designer-in-residence-jin-yang/">Jin</a>, and I'll be working on the designs for the Stack Exchange sites as they graduate from the beta phase. Each site will have its own unique theme that will reflect its topic. However, all sites will share quite a bit of common elements so they feel like they're part of the Stack Exchange family.</p>

<p>First, I want to say an early congrats for the upcoming launch of Apple.stackexchange.com. Thank you for being an awesome community!</p>

<p>As an Apple user myself, I've always appreciated Apple's designs in UI and hardware. I think what makes Apple's design stand out is that they pay great attention to detail. Apple draws a fine balance between eye-candy and simplistic elegance. </p>

<p>The design goal for our Apple site is to maintain the branding of the Stack Exchange Q&amp;A family, something you're familiar with from using the Beta site, or other SE sites. At the same time, the design needs to give this community its own identity that's associated with Apple. For new users to the site, the design should invoke that "Apple" feeling right away.</p>

<p>I had a great pleasure working with <a href="http://twitter.com/#!/flyosity" rel="nofollow noreferrer">Mike Rundle</a>, the talented designer who provided me with the initial mockups. I have since tweaked his designs a bit. I believe the designs below work well and represent what this site is about.</p>

<p><em>(click on images to see full resolution versions)</em></p>

<p><a href="https://i.stack.imgur.com/rPKZH.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/rPKZH.png" alt="AppleSE homepage design"></a></p>

<p><a href="https://i.stack.imgur.com/hUCvY.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/hUCvY.png" alt="AppleSE Question design"></a></p>

<p>I'm aiming to have the site launched later this week, in time for the <a href="http://www.macworldexpo.com/" rel="nofollow noreferrer">Macworld Expo</a>. </p>

<p><strong>Bonus:</strong> here's the publicity card we designed to be handed out at MacworldExpo:</p>

<p><img src="https://i.stack.imgur.com/rEsd6.png" alt="AppleSE card design"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-268">Load Comments</button></br>
			<div id = "commentsection-268" class = 'collapse'>
			<div id = "comment-536" class = "comment">
				<p>Sweet, looks awesome! Sorry I wasn't more patient, but it was definitely worth the wait.</p>
			</div>
			<div id = "comment-537" class = "comment">
				<p>@Kyle My apologies for not pushing it out sooner. I was doing quite a bit pixel pushing. Also at the same time I needed to make sure the design would be implementable with the our HTML structure constraints and CSS3 limits. So there was a little of switching back 'n forth between Photoshop and looking at Firebug.</p>
			</div>
			<div id = "comment-539" class = "comment">
				<p>@Dori, aiming for Thursday morning. 10am Cali time. I thought it starts officially on Thursday morning, according to their web site.</p>
			</div>
			<div id = "comment-545" class = "comment">
				<p>Is there any way to play with the design on a test site before it goes live?</p>
			</div>
			<div id = "comment-546" class = "comment">
				<p>@Kyle we have a dev server. That's where I deploy and test the design before it launches to live.</p>
			</div>
			<div id = "comment-547" class = "comment">
				<p>care to share the address? :)</p>
			</div>
			<div id = "comment-548" class = "comment">
				<p>@Kyle I'm afraid it's a private server.</p>
			</div>
			<div id = "comment-558" class = "comment">
				<p>I wanna know how new people can understand that this site is for asking about apple product? (fron GUI)</p>
			</div>
			<div id = "comment-559" class = "comment">
				<p>@Am1rr3zA new people come from search engine, by searching for Apple related stuff. If they were brought here by a friend then they would have an idea what the site is about. As for the UI, the Command key in logo, the title and tag line. The tags that cover all the Apple related keywords. Also the New User box that's shown for the first time visitors clearly indicates this site is for Apple related questions.</p>
			</div>
			<div id = "comment-561" class = "comment">
				<p>Surely the display should not change just when we go live. testing the interface is a part of beta testing. Production should be the same as the last beta - otherwise you need to retest.</p>
			</div>
			<div id = "comment-577" class = "comment">
				<p>Just a quick aside: we run a usability testing service at http://intuitionhq.com - I'd be more than happy to set you up with a test just so you can check how the new design is working out. Let me know if you're interested and I'll get on to it.</p>
			</div>
			<div id = "comment-579" class = "comment">
				<p>@IntuitionHQ neat service! maybe after the site is launched. I typically do a lot of post production tweaking. I'll let you know. Keep in mind I'm only doing a "skin" job more or less. For major usability issues, I'd rather to fix it SE network wide since all the sites use the same features and HTML code base. Maybe it'd be more beneficial to do a usability test for stackoverflow.com instead.</p>
			</div>
			<div id = "comment-591" class = "comment">
				<p>OMG QUIT HOLDING OUT THAT'S FRACKING AWESOME JIN I'M HATING ALL OF THE REST OF SOIS SITES NOW BECAUSE YOU'VE DONE IT AGAIN!</p>
			</div>
			<div id = "comment-601" class = "comment">
				<p>@Dori I'm still working on the CSS conversion. there's a lot to be done. The conversion is more involved than any SE sites I've done.  Realistically, the site will be launched early tomorrow morning.</p>
			</div>
			<div id = "comment-603" class = "comment">
				<p>@jin stop QQ'ing and get more Bacon. You clearly need some at the moment. ;)</p>
			</div>
			<div id = "comment-604" class = "comment">
				<p>@jin Just loving it, whatever you change or not. It's excellent right now. With any proposed changes implemented, it will be hmm.... excellent. Our lovely site with its new design. Can't wait anymore! :)</p>
			</div>
			<div id = "comment-612" class = "comment">
				<p>@Dori it's go time!</p>
			</div>
			<div id = "comment-616" class = "comment">
				<p>@Jin: You just raised the bar for SE site L&F! Looks great man.</p>
			</div>
			<div id = "comment-619" class = "comment">
				<p>This looks absolutely awesome. I see the site and instantly think iPad. Very well done!!!</p>
			</div>
			<div id = "comment-762" class = "comment">
				<p>@Jin, this site design is awesome.  Well done to you and those you worked with.</p>
			</div>
			<div id = "comment-1143" class = "comment">
				<p>Probably the greatest compliment I can pay is in my recent post under **preferred alternatives to Apple Support Communities for providing support to users and developers of Apple products and services**: [The Ask Different experience is incredibly satisfying. In a nutshell: I find what exists there faultless   a rare unconditional compliment from me](https://discussions.apple.com/message/15810775#15810775)  I use the word *faultless* [extremely rarely](http://tinyurl.com/graham-faultless) :-) Thanks to Jin and everyone else who makes Ask Different so pleasing!</p>
			</div>
			<div id = "comment-1600" class = "comment">
				<p>I love the new colors bar.  We bleed in six colors </p>
			</div>
			</div>
				<textarea id = "speech-268" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-268">
					<img id="start_img-268" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-269"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::12</h3>
				<p><p>The design looks great, I have a few suggestions if you're open to them. They're small things, but I know that "small" doesn't always mean "easy to change". :)</p>

<ol>
<li>On most of the other SE sites, the ask button is separated and more distinct from the rest of the top navigation, usually a different color. Is there a way we could get it to stand out more?</li>
<li>Would it be possible for the sidebar to maybe look more like a drawer? I.e. something like <a href="https://i.stack.imgur.com/7KUjt.png" rel="nofollow noreferrer">this</a>?</li>
<li>I'm not crazy about the yellow gradient behind the question title (and it wouldn't work if the sidebar became a drawer) and it looks like it might not handle long titles well. Using the same format as "Top Questions" on the home page screenshot might work better, or even just putting the title down in the body.</li>
<li>Using an envelope at the top of the screen made sense when that was the notification for new replies, but now that that's been shifted to the unified inbox maybe it could be replaced with something more suitable that means "recent activity" - a clock maybe?</li>
<li>I think it might look better if the font used for the question list were regular instead of bold</li>
<li><p>The tags are white on white with a faint border, which makes them blend into the page. Maybe add a very light background color, or even just a stronger border? I also think that maybe a more rounded shape, like the mail recipient bubble in iOS, might look better than the generic tag look:</p>

<p><img src="https://i.stack.imgur.com/wir4Q.png" alt="enter image description here"></p></li>
<li>The global inbox/Stack Exchange logo is a little hard to read as it's white on light gray (very light at the top)</li>
<li>In the sidebar, "interesting tags" and "Ignored Tags" have slightly different styles. I like the font used for "Ignored Tags", but I also would like to keep the text all lowercase like "interesting tags"</li>
</ol>

<p>Even if you don't change a thing, it still looks great and I can't wait to launch! Would it be possible to use the askdifferent.com domain as the primary domain for the site?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-269">Load Comments</button></br>
			<div id = "commentsection-269" class = 'collapse'>
			<div id = "comment-541" class = "comment">
				<p>Kyle, good points. I'll see what I can do. I typically do a a lot tweaking as I convert to CSS based on feedback. The drawer idea is interesting, i'll see if it's feasible to do.</p>
			</div>
			<div id = "comment-542" class = "comment">
				<p>@Jin Cool - I might be pushing my luck, but how feasible would it be to have a button that toggles the drawer? Because that would be awesome :)</p>
			</div>
			<div id = "comment-543" class = "comment">
				<p>@Kyle are you a disciple of Kai Krause? :) I'm afraid it's not feasible at all :(</p>
			</div>
			<div id = "comment-544" class = "comment">
				<p>@Jin I thought I'd try anyway. I hadn't heard of Krause, but I'll do some research and let you know :)</p>
			</div>
			<div id = "comment-557" class = "comment">
				<p>@Dori it was a compliment. I think I'm one of very few people who actually loved Kai's UI back in the 90s. As outrageous as it was, it did pave the way for a lot of visual elements we see today. Kai also wrote some of the earliest Photoshop tuts on the internet, as well a comprehensive study of realistic rendering of shapes.</p>
			</div>
			<div id = "comment-578" class = "comment">
				<p>@Kyle, I'm for changing the shape of the tag to the capsule. However I'm reserved about changing the color. Colored tags may look good on the actual question page, but they'll totally clutter up the homepage and question listing page when repeated. you can try to play with the concept yourself. Maybe I'll end up using a super faint blue.</p>
			</div>
			<div id = "comment-584" class = "comment">
				<p>@Jin Definitely keep the color faint, the image in my post was meant to show the shape I was talking about, but not the color. However, I'm not sure what you mean when you say that tags with background colors clutter the page - the majority of SE sites have tags with a different background color than the page they're on and they look fine.</p>
			</div>
			<div id = "comment-1138" class = "comment">
				<p>@Jin Hi, in the few days since joining Ask Different I have had problems at least twice with the paleness of the pale blue text on white background; paleness of pale blue text on pale blue background. I wasn't going to mention it but on both occasions, the word blindness from lack of contrast contributed to confusion. FYI asked as a question: [Is the pale blue of texts   on white and pale blue backgrounds   too pale at Ask Different?](http://meta.apple.stackexchange.com/q/638/8546)   if you'd prefer me to convert that question to an answer here, just say. Thanks :-)</p>
			</div>
			</div>
				<textarea id = "speech-269" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-269">
					<img id="start_img-269" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-270"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I think it looks awesome!  A couple points:</p>

<ul>
<li><p>Have you tried a version of the interface where the right hand sidebar is swapped to the left side?  I know this is totally different from other SE sites, but this is Apple.SE after all, and it might look really cool since Apple apps tend to have a left hand sidebar.</p></li>
<li><p>I love the menubar look at the top.  Similar to above, I think it would look perfect if the "word" links (logout, chat, etc) moved over to the left like the Mac menubar, and any icon based links would be on the right.  Maybe even put a mini version of the clover logo on the top left? :)</p></li>
<li><p>I 100% agree with Kyle on the tags thing... It would be great to have the tags look like the little bubbles used for selecting multiple bits of information in many apps and preference dialogs.</p></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-270">Load Comments</button></br>
			<div id = "commentsection-270" class = 'collapse'>
			<div id = "comment-549" class = "comment">
				<p>@calavera, my concern is that it's not convention for our sites. the top left spot is always reserved for the SE logo. I'll definitely do some tweaking to the tags. However I'm careful about not to give it too much visual attention(colors, 3d etc) because when heavily repeated on the question listing page, they'll make the site seem very busy.</p>
			</div>
			<div id = "comment-550" class = "comment">
				<p>Initially I was skeptical, but it actually [looks pretty good](http://i.imgur.com/AxkHu.png). I left SE in the top left though, as @Jin said, because it's a platform standard.</p>
			</div>
			<div id = "comment-551" class = "comment">
				<p>@Kyle: that looks awesome!  The only thing is that I really like the "drawer" look on the right side, but not quite as much when the bar is on the left.</p>
			</div>
			<div id = "comment-552" class = "comment">
				<p>@Jin: maybe if they just had a more rounded look with a relatively light background color?</p>
			</div>
			<div id = "comment-553" class = "comment">
				<p>@calavera So keep the drawer on the right? Or did you want the original sidebar on the left?</p>
			</div>
			<div id = "comment-554" class = "comment">
				<p>@KyleCronin: I guess I'd like to see how the original sidebar looks on the left compared to the drawer style on the left.</p>
			</div>
			<div id = "comment-555" class = "comment">
				<p>@calavera [here you go](http://i.imgur.com/92Ye9.png)</p>
			</div>
			<div id = "comment-562" class = "comment">
				<p>@KyleCronin: nevermind, the drawer style looks better :P</p>
			</div>
			</div>
				<textarea id = "speech-270" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-270">
					<img id="start_img-270" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-271"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>Well, I'd like to add my 2 </p>

<p>I Agree with most of Kyle's points.</p>

<p>In no particular order </p>

<ul>
<li><p>The Drawer idea is neat, I don't like it on the left side. It would disrupt the whole website look (in comparison to other SE sites). </p></li>
<li><p>The "ASK Question" (and the whole line) deserves some attention, it's too subtle and sites like Ubuntu have a very distinctive "ask", separated from the rest. However Cooking has a single line, all the same color. I'm not sure which one is better, but I am sure that the current implementation in those designs is not very easy to read. 
We could use something from the Finder itself: 
<img src="https://i.stack.imgur.com/AMXfO.jpg" alt="finder">
If anything, the disclose triangles would help.</p></li>
<li><p>The yellow/greenish/iTunes gradient in the title question: I like it, at least at first. It remains to be seen how would that work for a longer title and/or what happens if it's made a little bit smaller/non bold. I like how it gives the Apple look. I'd probably try using iTunes colors tho. As ugly as iTunes may be, it's some sort of "visual trademark".</p></li>
</ul>

<p>Compare: 
<img src="https://i.stack.imgur.com/5A2Rz.jpg" alt="iTunes"></p>

<p>vs</p>

<p><img src="https://i.stack.imgur.com/BIh1c.jpg" alt="AppleSE"></p>

<ul>
<li><p>The envelope: A few sites still use them, but there are some notable exceptions, like Askubuntu, which uses an @. I don't know about this. :s</p></li>
<li><p>Tags: I believe tags could be tweaked to look like Mac tags. There are numerous examples around. For example, taken from "<a href="http://culturedcode.com/things/" rel="nofollow noreferrer">Things</a>":</p></li>
</ul>

<p><img src="https://i.stack.imgur.com/s7ezd.jpg" alt="things tags"></p>

<ul>
<li><p>Completely agree that the Stackexchange icon/logo is hard to read with the current colors. I believe that the text should be made Gray/Black like the res of the "menu bar".</p></li>
<li><p>I liked the idea of moving the "texts" to the left and leaving the icons on the right, I don't know if that's possible.</p></li>
<li><p>The search box is ok, looks like apple (kinda) but  i'd use something more spotlight like:</p></li>
</ul>

<p><img src="https://i.stack.imgur.com/bqLc2.jpg" alt="spotlight"> </p>

<ul>
<li>Agree with Kyle about the style in interesting tags/Ignored. Lower case wins. Ignored Tags style too.</li>
</ul>

<p><strong>A few contributions of my own</strong></p>

<ul>
<li>The Answer editor, has a black background in the toolbar, it looks "cool" but has nothing to do with Apple's applications or Cocoa. I'd like an idea more oriented towards a standard Cocoa app, that "blends" with the text:</li>
</ul>

<p><img src="https://i.stack.imgur.com/GCvZG.jpg" alt="pages"></p>

<ul>
<li><p>The "Post Your Answer" button is ok too, but should be on the right. Mac users are used to button alignment "the right way"  ;)</p></li>
<li><p>The "Answered" box (green) should be the same color as the "iTunes" thing we mentioned earlier. That green might look nice, but has nothing to do there. The orange, blue, black, gray, makes it look too full of colors. </p></li>
</ul>

<p><strong>Conclusion</strong></p>

<p>The design looks neat and even if we don't change anything, it's very nice and I really like it. Would love to be able to "use" it to see how it feels. Thanks for including a question where my name appears :)</p>

<p><strong>And where's Apple?</strong> </p>

<p>As pointed by Am1rr3zA, the only caveat is that by "just" looking at that, there's no indication whatsoever that this is a place for asking questions about Apple. The cloverleaf is nice, but not immediately associated with Apple (unless you are an Apple user already) but Windows users using Apple products, have no   in their computers and/or keyboards. Perhaps the mailbox icon could be replaced with a little Apple? ;-)</p>

<p>@Jin, great work. @All of us, gratz for what we've accomplished so far and thanks to @jeff and company for all their hard work. We're just insignificant peasants in what is already the greatest network of Q&amp;A. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-271">Load Comments</button></br>
			<div id = "commentsection-271" class = 'collapse'>
			<div id = "comment-560" class = "comment">
				<p>I actually like the black toolbar, and moving forward, it actually may make more sense and be more of a norm for Mac users, with the full screen stuff in 10.7.</p>
			</div>
			<div id = "comment-563" class = "comment">
				<p>I like your idea about "The Answer editor"</p>
			</div>
			<div id = "comment-567" class = "comment">
				<p>@Martin: I really like the finder/question idea... alternating blue and white is a pretty standard mac convention</p>
			</div>
			<div id = "comment-581" class = "comment">
				<p>The use of the   has been discussed at considerable length already elsewhere in meta and it was agreed upon by everyone that its use would clearly run afoul of Apple's copyright.</p>
			</div>
			<div id = "comment-583" class = "comment">
				<p>Please see the comments to this question for the discussion: http://meta.apple.stackexchange.com/questions/205/official-site-title</p>
			</div>
			<div id = "comment-760" class = "comment">
				<p>I think it's silly to copy OS X beyond a few thematic inspirations. This is a webpage heavy on text content, not an app.</p>
			</div>
			</div>
				<textarea id = "speech-271" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-271">
					<img id="start_img-271" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-273"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>As others note the site needs to make it clear it is for Apple questions - perhaps as a sub text saying Mac, iPhone, iPad (and whatever else Apple do).</p>

<p>Ask Different does not make me think of Apple at all - and I have use Apple PCs for 10 years. (When did Apple last use Think Different and have they ever used in connection with iPhones etc?) (Ah google from <a href="http://en.wikipedia.org/wiki/Think_Different" rel="nofollow">wikipaedia</a> says 2002 so NOTHING to do with iPhones, iPods etc.</p>

<p>I would not I am in the UK so have not seen US based advertising.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-273">Load Comments</button></br>
			<div id = "commentsection-273" class = 'collapse'>
			<div id = "comment-564" class = "comment">
				<p>Mark, Ask Different was the highest voted domain name. I can change the tag line to something more descriptive, "Answers for your Apple questions"</p>
			</div>
			<div id = "comment-568" class = "comment">
				<p>When was the vote?</p>
			</div>
			<div id = "comment-572" class = "comment">
				<p>@mark here's the domain voting thread: http://meta.apple.stackexchange.com/questions/9/domain-name-suggestions/24#24</p>
			</div>
			<div id = "comment-582" class = "comment">
				<p>I don't think Apple has had a really has a significant tagline or slogan for quite a while. There was the whole "Hi, I'm a Mac" string of commercials, but offhand I don't think there would be an easy way to make that fit in the paradigm of this website.</p>
			</div>
			<div id = "comment-590" class = "comment">
				<p>@Philip Regan: +250 Apple slogans and *accelerating*: http://en.wikipedia.org/wiki/List_of_Apple_Inc._slogans <grin></p>
			</div>
			<div id = "comment-594" class = "comment">
				<p>@Robert: I'm talking about company-wide slogans, something that defines the company, not individual products. "Switch" was the last one in 2003. But that list is an excellent source of content.</p>
			</div>
			<div id = "comment-1141" class = "comment">
				<p>For the benefit of newcomers to this question/answer: [Official Site Title](http://meta.apple.stackexchange.com/q/205/8546)</p>
			</div>
			</div>
				<textarea id = "speech-273" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-273">
					<img id="start_img-273" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-274"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>As an aside, Apple modified their own homepage  blackening the header:</p>

<p><img src="https://i.stack.imgur.com/TiTZY.jpg" alt="lolApple"></p>

<p>A hint of the future?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-274">Load Comments</button></br>
			<div id = "commentsection-274" class = 'collapse'>
			<div id = "comment-565" class = "comment">
				<p>saw this already. I've updated the topbar style locally already to mimic the look. I'm still keeping our topbar lighter though.</p>
			</div>
			<div id = "comment-566" class = "comment">
				<p>@jin in any case, i believe that Apple.SE's topbar tries to mimic OSX's menu bar rather than that type of bar. Did we go too crazy with the "requests" ? :) Nothing that some bacon can't solve </p>
			</div>
			<div id = "comment-575" class = "comment">
				<p> n i like the suggestions so far, many great points. I won't be able to implement them all for the launch, but there's definitely room for tweaking, as always. re: bacon, you know my weak spot...</p>
			</div>
			<div id = "comment-589" class = "comment">
				<p>@Jin Don't worry, let's ship, then tweak, as already mentioned; or Bacon. ;)</p>
			</div>
			</div>
				<textarea id = "speech-274" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-274">
					<img id="start_img-274" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-275"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I have to say that out of everything on here, this is the only part I feel really strongly about:</p>

<p><img src="https://i.stack.imgur.com/nTzc2.png" alt="enter image description here"></p>

<p>Even though this is a different convention, I really think that it fits so well and looks so great that it outweighs any negative in this case... Thanks to Kyle for throwing it together</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-275">Load Comments</button></br>
			<div id = "commentsection-275" class = 'collapse'>
			<div id = "comment-587" class = "comment">
				<p>I don't know about the   but I'd definitely add the   instead of the Mailbox if possible ;)</p>
			</div>
			</div>
				<textarea id = "speech-275" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-275">
					<img id="start_img-275" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-277"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I like it. It could be tweaked, but then all complex projects like this could be tweaked, and while I don't entirely disagree with what's being suggested, we could "design by committee" this thing 'til the cows come home. </p>

<p>I say, <strong>let it fly.</strong></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-277">Load Comments</button></br>
			<div id = "commentsection-277" class = 'collapse'>
			<div id = "comment-574" class = "comment">
				<p>Here here. Well said. Push early, and then tweak from there.</p>
			</div>
			<div id = "comment-576" class = "comment">
				<p>"Real artists ship." :)</p>
			</div>
			<div id = "comment-588" class = "comment">
				<p>Yeah, I agree; I believe our suggestions were only things that could be changed in our opinions, but not necessarily "bugs" that render it unusable.</p>
			</div>
			<div id = "comment-597" class = "comment">
				<p>can we keep the word "beta" on the logo indefinitely? :P</p>
			</div>
			</div>
				<textarea id = "speech-277" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-277">
					<img id="start_img-277" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-373"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>The top of the page is great. </p>

<p>I find the body text too difficult to read. Too heavy, too cluttered. I would suggest removing the high contrast boxes around the answers and sidebar. Use a simple light background that differentiate from the "paper" texture. Keep all the sweet details in the GUI: the buttons, the tags, the icons, etc.</p>

<p>Typography: I'm really a beginner there, but my feel is that the fonts are "monochromatic": the font size is too similar throughout the page. I think the design could use two contrasting types. Maybe one for titles and one for body.</p>

<p>The CC button at the bottom right seems to get far more highlight than it should relative to the rest of the content. I would have imagined it as subdued, flat, and really out of the way (ie. iconic).</p>

<p>Likewise for the logo icon. I like the COMMAND key symbol in the logo, but I feel the extra "recessed" border around it makes it heavy and cluttered. A simple drop shadow (basically the inner "button" in the symbol) would be sufficient.</p>

<p>The search box top right is a little thin and could use more vertical inner space.</p>

<p>Since the Design is heavily influenced by the Apple GUI, I'll try to find some comparisons:</p>

<ul>
<li>The apple.com homepage: all the background is light (good), so that the main content really comes forward. Here, the main content is boxed into thick contrasting borders which feel really heavy and make it hard to separate the content from the design.</li>
<li>Note the main box on the apple.com homepage is a lighter color than the texture background, white, no texture. I think that would be best here. It would be a lot easier to read through the answers. It would "breathe" more.</li>
</ul>

<p>Also, use more colour. I think that's an element of Apple's website design: contrasting the colours with the site layout which is essentially monochromatic.</p>

<p>Disclaimer: I'm not a designer, and I know it's easier to critique than do it. I appreciate the design work but with the best intentions, I just wanted to point out that the design is, all things considered, less "usable" (in terms of readability and conciseness) than the simple StackOverflow design. The ideal design imho would be to stop adding CSS3 cruft and remove things one by one until you get middle way between the sweet OS X inspired GUI, and the simplicity and lightness of the original StackOverflow design.</p>

<p>Designs that <em>I find</em> more readable:</p>

<ul>
<li>ProWebmasters : could use a little differentiaton in background, or maybe a nice thin vertical line between body and sidebar, to guide the eye, but otherwise easy to read, which is what matters most on this type of site.</li>
<li>Game development : use the white background for body text, no boxes around answers (just simple lines, or dotted lines separation)</li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-373">Load Comments</button></br>
			<div id = "commentsection-373" class = 'collapse'>
			<div id = "comment-1142" class = "comment">
				<p>http://webmasters.stackexchange.com/ and http://gamedev.stackexchange.com/ I guess  </p>
			</div>
			</div>
				<textarea id = "speech-373" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-373">
					<img id="start_img-373" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>