<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Design flaw in the number~items per page selector
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1704" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::77</h3>
				<h2>Design flaw in the number~items per page selector</h2>
<p>I've noticed Ask Different's CSS is much less legible than other Stack Exchange sites:</p>

<p>Pretty selector:</p>

<p><img src="https://i.stack.imgur.com/yumti.png" alt="1"></p>

<p>Not pretty selector:</p>

<p><img src="https://i.stack.imgur.com/UugDL.png" alt="2"></p>

<p><sup>(produced by hovering over a choice)</sup></p>

<p>Could we change it so that the text is darker than the grey circle shown upon hover?</p>

<p><strong>Edit:</strong> Here I've used Chrome's dev tools to change</p>

<pre><code>.page-sizer a.page-numbers {
    color:#ccc;
}
</code></pre>

<p>To:</p>

<pre><code>.page-sizer a.page-numbers {
    color:rgb(111,111,111);
}
</code></pre>

<p>Here's the results:</p>

<p><strong>Before:</strong></p>

<p><img src="https://i.stack.imgur.com/5nv1w.png" alt="enter image description here"> <img src="https://i.stack.imgur.com/dxxVO.png" alt="enter image description here"></p>

<p><strong>After:</strong></p>

<p><img src="https://i.stack.imgur.com/e8w9T.png" alt="enter image description here"><img src="https://i.stack.imgur.com/Y4dkO.png" alt="enter image description here"></p>

<p>Not perfect, but it gives @Jin something to work off of.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3183" class = "comment">
				<p>Good eye! I'll bet @jin and company could patch that up once they reproduce it / see this request.</p>
			</div>
			<div id = "comment-3185" class = "comment">
				<p>Almost always, but the designers probably get too many to check them all </p>
			</div>
			<div id = "comment-3186" class = "comment">
				<p>@bmike How's my new design look?</p>
			</div>
			<div id = "comment-3187" class = "comment">
				<p>I like it.. Had I write access and it didn't break something else, I'd ship your change.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1710"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I wanted to show how the current design looks on Safari Version 6.0.5 (8536.30.1):</p>

<p><img src="https://i.stack.imgur.com/LmjJl.png" alt="Meta Hover looks fine to me"></p>

<p><img src="https://i.stack.imgur.com/9j9oS.png" alt="Site hover is very hard to use"></p>

<p>My cursor at the time was the hand outline with a pointing finger and it was hovering over the 50 in both cases. It looks like the meta design is very close to your proposed coloring already.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>