<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Despite the general rule to not answer questions about beta products, should we allow Messages on OS X and Siri on iPhone 4S questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Despite the general rule to not answer questions about beta products, should we allow Messages on OS X and Siri on iPhone 4S questions?</h2>
<p>The general rule is that all questions on beta software and services are off-topic, out of scope, and should be closed on Ask Different according to our FAQ. However, we now have two shipping products that are highly friendly and desirable to end users yet still in beta:</p>

<ul>
<li><a href="http://www.apple.com/iphone/features/siri.html" rel="nofollow">Siri</a></li>
<li><a href="http://www.apple.com/macosx/mountain-lion/messages-beta/" rel="nofollow">Messages</a></li>
</ul>

<p>Would sticking to our FAQ and closing all questions on these two products be more ridiculous than editing their tag wikis to indicate that we are consciously waiving the Beta prohibition on these due to the wide dissemination, huge audience, and/or utility to our users to have a forum on these "indeterminate" beta products from Apple?</p>

<p>There are no signs Siri will be out of beta despite selling millions of iPhone 4S weekly since October 4, 2010. All signs point to Messages being generally and widely available for 6 or more months until OS X Mountain Lion ships.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>In my opinion, Messages and especially Siri are pre-release/beta software in name only, much like GMail was for years and years while millions of people relied on it. So I'd say yes, that Messages and Siri should be allowed as questions.</p>

<p>However, I fully recognize the difficulty in applying the "in name only" test to other forms of beta software. More concrete guidelines on exactly what constitutes "pre-release software" need to be worked out. But for the time being, I'm OK with questions about Messages and Siri.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'll repeat my comment here. I agree with bmike and Kyle, Messages and Siri questions should be allowed here.</p>

<p>It's not the same kind of beta as OS X 10.8.</p>

<hr>

<p>A solution could be creating the <a href="https://apple.stackexchange.com/questions/tagged/siri-beta" class="post-tag" title="show questions tagged &#39;siri-beta&#39;" rel="tag">siri-beta</a> and <a href="https://apple.stackexchange.com/questions/tagged/messages-beta" class="post-tag" title="show questions tagged &#39;messages-beta&#39;" rel="tag">messages-beta</a> tags. And, for the time of the beta, make <a href="https://apple.stackexchange.com/questions/tagged/siri" class="post-tag" title="show questions tagged &#39;siri&#39;" rel="tag">siri</a> and <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a> synonym.</p>

<p>That way, when they're out of beta, we can remove the synonym and have questions about the official release.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I distinction in the FAQ as what constitutes a Beta would be useful.  For example I would consider my ML install as a closed beta, which requires account level access that is covered by NDA and isn't appropriate for on topic content.  However if it is an Open beta this should be relaxed somewhat.  As anyone has been not only able, but encouraged to download messages, then I would be seinsible to allow it as a suitable on topic question base.  Especially for Siri which is not only open Beta but included in a shipping product that you pay genuine money for.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>In general, if a "beta-ish" product is part of a generally available production release shipped by Apple, questions related to that product should be fair game. Siri is a particularly good example - it's a part of a publicly available product that end users can use without downloading any special beta software package.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>If Apple provides a public area for discussion of an Apple product, then Ask Different should not close or delete questions about that product. </p>

<p><a href="https://discussions.apple.com/community/mac_os/messages_beta" rel="nofollow">Messages Beta: Mac OS &amp; System Software: Apple Support Communities</a></p>

<ul>
<li>the current license, EA0842 (2012-01-20) (<a href="http://www.wuala.com/%23%23Apple-support/members/grahamperrin/2012/04/10/a/" rel="nofollow">temporary copy</a>) does not restrict discussion.</li>
</ul>

<p><a href="https://discussions.apple.com/community/iphone/using_iphone" rel="nofollow">Using iPhone: iPhone: Apple Support Communities</a> </p>

<ul>
<li><a href="http://support.apple.com/kb/HT4992" rel="nofollow">iPhone 4S: About Siri</a> (modified 2012-03-07), <a href="http://support.apple.com/kb/TS4079" rel="nofollow">iPhone 4S: Troubleshooting Siri</a> (modified 2012-03-13), <a href="http://www.apple.com/iphone/features/" rel="nofollow">http://www.apple.com/iphone/features/</a> and other pages in the <code>apple.com</code> domain currently state that Siri is available in beta only on iPhone 4S.</li>
</ul>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Some Apple beta software is covered by NDA.  Discussion in open public forums of stuff under NDA should probably be discouraged.</p>

<p>Siri use on an iPhone 4s is not, to my knowledge, covered by any sort of NDA.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>If a person walks into a store and purchases an iPhone 4S, that person is buying a device that has Siri installed (assuming they use it in a region that Siri supports).  </p>

<p>Regardless of how the company labels the service, it is a public, sanctioned product for mass consumption.  Whether Apple has the capacity to support the masses, and therefore label the service as "beta", is merely a way for them to set expectations that it will not be problem-free and may not be available for support personnel to troubleshoot.</p>

<p>The Messages app is slightly different, in that it is a new method to interact with an already public service.  It's distribution method differs, as it needs to be manually installed, and is not included in a product out of the box.  Again, I believe that Apple is only limiting their expectations and guarantees of quality and service.</p>

<p>Clearly, Siri and Messages should be valid topics.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>