<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Developer and Beta-Tester NDAs and Requests for Help on SE
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2851" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::206</h3>
				<h2>Developer and Beta-Tester NDAs and Requests for Help on SE</h2>
<p>What is the proper way to handle posts and questions having to do with beta- or developer- only released iOS, macOS, tvOS, and watchOS questions? Answer them? Ignore them? Vote them down? Inform the person they might be violating their NDA and leave it at that?</p>

<p>I saw <a href="https://apple.meta.stackexchange.com/questions/2707/what-happened-to-the-beta-ban">this</a> question (and lots of good info) from January 2016, and <a href="https://apple.meta.stackexchange.com/questions/573/update-to-faq-regarding-beta-and-pre-release-software">this</a> update to the FAQ in 2011. These seem to indicate that the posts are allowed, but do not address how other users are expected to respond. </p>

<p>Developers and beta testers are (probably) violating their Non-Disclosure Agreement with Apple by discussing it. My NDA also says I can't post screen shots online of any pre-release firmware, which, in addition to not being able to talk about it, makes walking anyone through a fix really difficult. I've made a judgement call that I won't answer questions having to do with these types of posts. Is it up to each of us to make that call?</p>

<p>I found it interesting that <a href="http://www.imore.com/apple-pulls-ifixits-app-ios-store-after-it-published-new-apple-tv-teardown" rel="nofollow noreferrer">Apple revoked iFixit's iOS app</a> after they took apart an Apple TV and Siri Remote and documented it online. I wondered if StackExchange was worried about having their app pulled because it allowed (if it IS allowed, that is) users to discuss NDA-violating content.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6208" class = "post">
				<p>iFixit had their app pulled as part of their developer account being canceled for tearing apart a _developer unit_ they were sent by Apple and then went so far as to post details of unreleased hardware online. As StackExchange doesn't (to my knowledge) either receive hardware from Apple, subsequently destroy that hardware, or post details of said unreleased hardware online, the two situations are hardly analogous.</p>
			</div>
			<div id = "comment-6211" class = "post">
				<p>There's a lot here - I've linked to the best answers on the main meta (for all sites) as well as Stack Overflow (which has dealt with Apple NDA / Beta since before this site was stood up). Our meta has a lot of old posts from when NDA or beta was a guaranteed black flag - where now it's evolved to place most of the trust in the people that decide to enter into an NDA to do the right thing.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2852"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Anything covered by an NDA is off-topic and you can flag it to be closed. <a href="https://apple.meta.stackexchange.com/questions/573/update-to-faq-regarding-beta-and-pre-release-software">The FAQ update you pointed out</a> very clearly says NDA-covered topics are still off topic here as they'd obviously violate the NDAs and we're not looking to be a place where that's encouraged or welcome.</p>

<p>Note though that being a developer beta doesn't mean it's under NDA. Apple's beta program has, in recent times, gotten far more inclusive of the general public which is why we added that FAQ change. So make sure it's really NDA-covered before you flag it. We don't do a lot of post-flag checking (and can't because it'd be too arduous on the handful of moderators we have here).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6209" class = "post">
				<p>To be clear, the developer beta program and public beta program are still separate entities, though build releases have gotten closer together in recent times. Developer betas are still under NDA as far as I'm aware.</p>
			</div>
			<div id = "comment-6210" class = "post">
				<p>@tubedogg absolutely. The closeness of the release trains now is why it's important to check. NDA coverage may have lapsed and a developer beta member, who's under NDA, may not realize this.</p>
			</div>
			<div id = "comment-6212" class = "post">
				<p>As a developer you might be under NDA whilst a public beta tester might not be. So read the NDA you agreed and as a legal document ask a lawyer</p>
			</div>
			<div id = "comment-6213" class = "post">
				<p>`Anything covered by an NDA is off-topic and you can flag it to be closed` that seems like a bad policy for an SE site to enforce, given that SE and its moderators are not party to the agreement. This kind of thing is not done on SO proper, for example.</p>
			</div>
			<div id = "comment-6342" class = "post">
				<p>Are public betas under NDA? I'm pretty sure that they technically are, but I've seen a lot of people asking for help running the public beta OS, and since it's easy to sign up and download, how important is it to report/close these questions?</p>
			</div>
			<br><div id = "ans-2853"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>From a process standpoint - moderators would need to:</p>

<p>a) be privy to the specific NDA agreement between a poster and another third party
b) be trained in legal contract interpretation - possibly on a worldwide basis to understand what jurisdictional framework and body of law</p>

<p>This isn't the case, so the longstanding process is to delete any comments on the main site asking / complaining / pointing out NDA and bringing that discussion here.</p>

<ul>
<li><a href="https://meta.stackoverflow.com/questions/252216/question-for-technologies-under-nda">https://meta.stackoverflow.com/questions/252216/question-for-technologies-under-nda</a></li>
<li><a href="https://meta.stackexchange.com/questions/94465/should-moderators-enforce-ndas-for-software-vendors">Should moderators enforce NDAs for software vendors?</a></li>
</ul>

<p>So - as far as moderators which include everyone with voting and editing privileges, elected moderators and SE staff with moderator status - the NDA status of a post is generally irrelevant. It's just not practical to police an agreement to which you are not a party.</p>

<p>For Ask Different specifically - lots of good posts:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/2537/should-beta-os-questions-be-on-topic-due-to-nda-changes-widening-distribution">Should beta OS questions be on-topic due to NDA changes + widening distribution by Apple</a></li>
</ul>

<p>I can't speak for SE employees, but they clearly will have a team or person to deal with legal take down requests and can / should be contacted if you specifically have an NDA query that can't be answered here.</p>

<p>In the past, Stack Exchange would close questions based on narrowness - so that was in my eyes, the primary reason why we had prohibitions on beta software. By nature NDA and early betas are restricted and the pool of people to answer was small. It turns out that the assumption that the quality of narrow questions would be lower than other questions was reverse. The quality of narrow questions was actually higher so that general guideline is dropped/retired.</p>

<p>The general guideline is to ask a precise, good question whether or not it's beta or NDA. I personally shy away from participating in any topic where I have an active NDA unless I'm quite certain the topic at hand isn't encumbered by any agreements I have entered into voluntarily.</p>

<p>Someone asking about something that you know is NDA is akin to someone asking about pirated or stolen goods - so I very much appreciate when people steer clear or flag posts like that for moderator attention with an other flag explaining the concern. Feel free to vote and flag as you see fit, but the general guidelines are to not focus on NDA as the sole problem with a post or an answer.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>