<html>
	<head>
		<title id = 'pagetitle'>Discussion on 2016 Holiday Moderation
		</title>
	<head>
	<body id = 'pagebody'><p>Since everyone here plays a part in moderation, I wanted to feature one post on how to ask about software recommendations from meta:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation">How should I ask about getting a software recommendation?</a></li>
</ul>

<p>Since we don't have a blog, I made a "community event" so that there's a note in the side bar for a while.</p>

<p><a href="https://i.stack.imgur.com/Mn8RI.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Mn8RI.png" alt="It&#39;s the season to ask about recommendations - do it well, please."></a></p>

<p>If there are other items we should discus - please answer with your topic and we can all be mindful to new users coming to ask and provide the most helpful and detailed advice when we vote to close or comment on what might be a hastily written post that lacks detail to be answerable.</p>


<h1>ANSWERS</h1>
			</body>
</html>