<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Discrepancy between help-center and community consensus?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2882" class = "post">
			<h2>Question</h2>
			<div id="vote-2882" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Discrepancy between help-center and community consensus?</h2>
<p>I recently noticed this sentence in the <a href="https://apple.stackexchange.com/help/on-topic">help center</a> under what is <strong>off</strong>-topic:</p>

<blockquote>
  <p>Installing or using Apple operating systems on non-Apple hardware (and
  most other explicitly unlicensed use of product)</p>
</blockquote>

<p>However, I've also noticed this <a href="https://apple.meta.stackexchange.com/questions/2/can-one-ask-hackintosh-questions-on-ask-different">meta thread</a> showing an overwhelming consensus that such questions should be <strong>on</strong>-topic.</p>

<p>Admittedly this is quite an old thread. Is there some newer thread that has passed me by? Or has there been some directive from our SE overlords regarding such policies?</p>

<p>Here's <a href="https://apple.meta.stackexchange.com/questions/1722/should-the-help-page-remove-the-prohibition-on-hackintosh">another thread</a> showing a consensus for that clause to be removed from the help center. So, why hasn't it been done?</p>

<p>Why does the help-center exclude this when the community consensus seems to be for including it?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2882" class = 'collapse'>
			</div>
				<textarea id = "speech-2882" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2882">
					<img id="start_img-2882" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2882">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2883"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2883" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's no directive - we are free to form consensus and self-edit the FAQ.</p>

<p>I was very against closing hacintosh questions when I started in the Ask Different community (and started here as opposed to another site then coming here). The guidelines aren't 100% followed and there is always wiggle room to raise a specific closure or non-closure on meta.</p>

<p>The post you mentioned is one of many and I must say - the vast majority of questions closed under "hacintosh" would also be closed as too broad, unclear, </p>

<p>I would say - what we need is some few people to champion these types of questions - clean up any marginal ones. Ask and answer detailed ones. If there is a steady set of useful, detailed, well received posts - that would make it easy to post to meta a request to relax the wording of the FAQ.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1722/should-the-help-page-remove-the-prohibition-on-hackintosh">Should the help page remove the prohibition on hackintosh?</a> (or maybe just a lot more votes on the answer saying yes)</li>
</ul>

<p>Here in late 2016 - my personal feeling is that we aren't closing useful questions due to that part of the site scope, but I'd be happy to revisit my opinion by looking at specific counter examples to the generalization I made above about questions relating to loading / troubleshooting OS X on non apple hardware being low quality in general.</p>

<p>If someone were to lead with some awesome questions - I'd support reopening them to see how they are received. Please raise a meta question if you spot this close reason being used for something you feel is a good question in all other respects. I'll be glad to help guide these posts or facilitate discussions between people closing since it's "in the rules" as opposes to closing since it's not useful.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2883">Load Comments</button></br>
			<div id = "commentsection-2883" class = 'collapse'>
			<div id = "comment-6265" class = "comment">
				<p>So, the thread you link to in this answer also shows a consensus for removing the clause. Since it seems the community wants to remove it, and there's no directive from SE, then why not do it?</p>
			</div>
			<div id = "comment-6268" class = "comment">
				<p>@Fiksdal I appreciate your asking. I have featured the question to see if it gets some more votes. At the moment - there's not even one answer that's +10 so it seems like people are apathetic in general for making this change. See my comment on when I'd get involved in agitating for change. Can you help raise awareness and/or ask some questions that are awesome on the main site while we think over changing the official stance?</p>
			</div>
			<div id = "comment-6269" class = "comment">
				<p>Thanks for featuring the question :) Well l, don't have any questions about my Hackintosh at the moment, but I'll post if I think of any :)</p>
			</div>
			</div>
				<textarea id = "speech-2883" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2883">
					<img id="start_img-2883" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2883">Comment</button>
			<br><div id = "ans-2884"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2884" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I tend to agree with <a href="https://apple.meta.stackexchange.com/a/1747/88313">this answer</a> by @daviesgeek and <a href="https://apple.meta.stackexchange.com/a/1743/88313">this answer</a> by @jaume (minus the legality argument).  Both make, what I consider, valid points about the types of questions that will be asked if hackintosh questions are allowed. </p>

<p>At a very simplistic level, I see this as breaking down to 2 main points: </p>

<ol>
<li>Almost every hackintosh question will be very specific and very unique to the individual questioner.  </li>
<li>It will ultimately devolve into "will this configuration work...?" or "how do I build...?" questions and there are already good sites for that.<br><br>
<strong>EDIT</strong> (10/23/16): In support of my point above, <a href="https://apple.stackexchange.com/q/258375/88313">here's a perfect example</a> of the types of questions that, I believe, we'll be flooded with if the prohibition is lifted.</li>
</ol>

<p>The first sentence of <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask here?</a> really boils down why this SE site exists: "Ask Different is for users of Apple products."  A hackintosh is not an Apple product (before you argue with me on the semantics of "what is an Apple product?", the most basic answer is "products made by Apple").</p>

<p>Right now, I really like this site because every question &amp; answer I see can apply to hundreds or thousands of other people.  They can have the same hardware/software/version and the application of the answer(s) have broad appeal.  Once we start accepting very limited, almost singularly-focused, questions, we lose the broad-base.  Sure, it will help the person asking the question but the odds are very high that it will <em>only</em> help that person and none other.  If that's where we, the community, and SE, the owners, want to focus our efforts then that's ok; we just need to be aware of the potential downside to doing that.</p>

<p>Regarding my point #2, almost every hackintosh question I've seen in my time here has had some part of this mix-and-match type of question.  There could be 1, 10, or a 100 reasons why the OPs particular mix of parts will not work and that could lead us down the a road for days before we realize that where we are has nothing to do with the lone Apple OS they're using.  Once again, while it might help that one OP that one time, it's probably not going to help others at any time (I said 'probably' so please don't accuse me of saying 'never').  </p>

<p>I think where the mods and community are now has taken is a very good place and it helps more people in its current state that it will if changed for this, specific reason.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2884">Load Comments</button></br>
			<div id = "commentsection-2884" class = 'collapse'>
			<div id = "comment-6276" class = "comment">
				<p>If you're going to downvote my answer, have the guts to tell me why you did it.  If you think I'm wrong, I'm open to other points of view, just tell me where I'm wrong.  Change my mind, don't mindlessly downvote something because that means nothing.</p>
			</div>
			</div>
				<textarea id = "speech-2884" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2884">
					<img id="start_img-2884" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2884">Comment</button>
			<br><div id = "ans-2885"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2885" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Currently the wording in the help center says</p>

<blockquote>
  <p>Installing or using Apple operating systems on non-Apple hardware</p>
</blockquote>

<p>which may be too strict for a lot of situations.</p>

<ul>
<li><em>Installing</em> macOS on non-Apple hardware is usually a rather challenging endeavour which requires the right combination of hardware components etc. There are some sites dedicated to these kind of challenges, and the community there is much better suited to help people than AD users can ever be</li>
<li><em>Using</em> macOS on non-Apple hardware on the other hand isn't too different from using it on Apple hardware. Yes, there may be some kind of situations where the problem may come from such a setup, but most of the problems (especially on user level) are the same. Right now we don't even know whether question comes from a hackintosh background because such questions get shut down rather fast. Wouldn't it be better to allow such kind of questions and expect users to indicate (without penalty) if they are running a hackintosh?</li>
</ul>

<p>So I would propose to <em>change</em> the wording in the help center to</p>

<blockquote>
  <p>Installing Apple operating systems on non-Apple hardware</p>
</blockquote>

<p>and add a section stating that other hackintosh-related questions are ok but must be tagged accordingly.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2885" class = 'collapse'>
			</div>
				<textarea id = "speech-2885" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2885">
					<img id="start_img-2885" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2885">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>