<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Discussion Topic: Increase In Questions That Are Simply Solved With Google Search
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Discussion Topic: Increase In Questions That Are Simply Solved With Google Search</h2>
<p>I don't know whether it is the start of the school year, but I feel like I am seeing more and more questions that could very easily be answered by the OP with a simple Google search. </p>

<p>An example was an OP that experienced "Error Code -36" when attempting to move a directory from one drive to another. </p>

<p>I did the Google search <strong>error code 36 finder</strong> and the first article returned had a solution for the problem from OS X Daily.</p>

<p>In a way I almost feel like we are doing a disservice to the OPs with providing them an answer that is more detailed than:</p>

<p><strong>The answer to this can be found by performing the Google search ______</strong></p>

<p>While this may be a bit snarky, it also may get them in the habit of going to Google and typing in what we have written, sort of in the spirit of Zed Shaw's "Learn The Hard Way" series. I don't even think that we should provide a hyperlink. If this gets them into the mindset of "I'll do a few Google searches on my own before I ask," it may help them not only by making them more autonomous users but may also help to improve the quality of the questions that are actually asked and reduce the moderation effort to keep the site properly curated.</p>

<p>I am less inclined to ignore the questions as there are people who genuinely don't know what is going on or that their problem isn't unique and there are resources that can be found with one or two well thought out search terms. It is also easy to panic when you encounter an error and that tends to reduce some people's ability to problem solve. The problem becomes that it is difficult to determine those from the people who just rush here to ask everything while putting no thought into it.</p>

<p>I would be interested in hearing what other's thoughts are, as it starts becoming discouraging rather quickly when you try to provide helpful answers, but realize the same answer could have just as easily been found by the OP with a simple search engine query in far less time.</p>

<p>And if I need to make a proposal, it would be that when a question is posed that only requires a simple search that we resolve to answer, in the comments, with something similar to  what I highlighted above.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I see several reasons why people come to Ask Different instead of searching via Google/Bing/Duckduckgo></p>

<ul>
<li>not everybody is very used to doing Google searches, especially for more complex topics. Searching for "OS X error code -36" will not give you anything useful because the - omits the 36 from the search</li>
<li>people do get overwhelmed by the various search results which may point to old and slightly outdated discussions of the topic or to sites with a less than helpful representation of the topic (discussions.apple.com for instance)</li>
<li>AskDifferent has a good signal/noise ratio and shows up in search results a lot, so it's only natural that people also use the site for apparenatly simple questions</li>
</ul>

<p>I know that the FAQ expects people to do some basic research themselves, and we tend to close questions if they don't show any such effort at all (and/or the OP doesn't come back to clarify the question based on feedback received in the comments). OTOH nothing is lost if you answer such questions with an answer in the like of</p>

<blockquote>
  <p>A simple Google query brought me to this page (link) which recommends
  to <em>include enough information to make your answer stay on its own</em>.</p>
</blockquote>

<p>This way you indicate in a rather nice fashion that googling might have helped as well, while still providing a useful answer, gather some reputation and increase the value of the site.</p>

<p>PS: Depending on the question, a search for an already existing answer on AD (and subsequently a flag for closing as duplicate) might be helpful as well.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'm a strong believer in asking simple questions simply. Even if your question can be found by a google search, I feel it's totally on topic here.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/126916/what-versions-of-os-x-are-affected-by-heartbleed">What versions of OS X are affected by Heartbleed?</a></li>
<li><a href="https://apple.stackexchange.com/questions/67031/isnt-inactive-memory-a-waste-of-resources/67048#67048">Isn&#39;t Inactive memory a waste of resources?</a></li>
<li><a href="https://apple.stackexchange.com/questions/24066/how-to-simulate-slow-internet-connections-on-the-mac/24078#24078">How to simulate slow internet connections on the mac</a></li>
</ul>

<p>The links above are gold-standard simple questions. Short, clear and they really don't need a whole litany of <em>What version?</em>, <em>What did you try?</em> to be effective. Heck - even grammar doesn't really matter. Mac vs mac in the title - <strong>who cares, let's get on with the learning</strong> :-)</p>

<p>If the person asking (the OP) can't make a clear case for the issue or they can't distinguish between asking for help troubleshooting vs asking others to do all the work to solve the OP's vaguely composed problem - there's the line I use to identify a question that needs to be put on hold to meet the documented quality standards we expect.</p>

<p>The immense value I see in Stack Exchange is three fold with respect to simple questions:</p>

<ol>
<li>Searchability - google indexes us and we have an excellent tag system to get the correct keywords exposed to people, internal search and external search.</li>
<li>Reputation - people can quickly see a number and know if the poster has been given/earned rep or not</li>
<li>Curation - the SE tools for editing, voting, cleaning up, deleting bad posts is second to none in my opinion.</li>
</ol>

<h1><em>The <strong>curation aspect</strong> is why I volunteer so much time here.</em></h1>

<p>Apple Discussions, vendor forums, about.com and others when faced with a  "simple google it question" are, pardon my bluntness, a total shit show.</p>

<p>I'm not saying everything they do is crappy, but that in the case where you mention "a simple search" + "adequate knowledge" = easy answer, they really fall short and don't measure up to my expectations.</p>

<p>People can be angry, irritated, lazy, unfocused, and downright mean. I know of no other on-line system that is capable of meaningfully removing that noise and let the signal of a great question and more importantly a great answer rise above the muck.</p>

<p>So - even though I quite often personally don't choose to answer simple "just google it" questions, that doesn't mean I don't encourage and approve of them. Heck, sometimes I even down vote them with what I hope is received as constructive criticism in the comments pointing out how I'd like to see the question improved if I feel there is value in getting a clearer question. Other times, I'll use a soft question as a place to put a heavily researched, hopefully useful summation of knowledge based on years of experience in hopes that it reaches hundreds of people as well as helping the person that came here to ask instead of just googling it.</p>

<p>As long as a question has enough context to let someone take a good stab at helping, I feel it belongs here.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'm not expecting much in the way of upvotes for this simple, all-encompassing statement,<br>
but here goes...</p>

<p><strong>Some people's Google-Fu just isn't that good, &amp; nothing we do or say will ever improve that.</strong></p>

<p>So we do the Googling for them &amp; by honing sharp, crisp, accurate answers to their vague questions can actually improve the chances that others with only a white belt in Google-Fu can find that answer for themselves; because Stack Exchange answers are frequently near the top of some quite vague Google searches.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>