<html>
	<head>
		<title id = 'pagetitle'>DIscussion: Flags
		</title>
	<head>
	<body id = 'pagebody'><p>I am really getting tired of flags getting rejected when they are clearly in the scope of what the flag was intended for.</p>

<p>For example:</p>

<p>Not An Answer:</p>

<p>This was posted as an answer, but it does not attempt to answer the question. It should possibly be an edit, <strong>a comment</strong>, another question, or deleted altogether.</p>

<p>If the "Answer" takes the form of "Hey I tried it, and it worked" or even "Hey I tried it, it didn't work for me but this did" then it should be a comment to the original answer, and not an answer.</p>

<p>These usually take the form of first posts or late answers, which generally means that the user doesn't have the reputation to comment. That doesn't mean that a valid flag should be rejected just so that they can get around the reputation restriction.</p>

<p>And the use of "Flags should not be used to point out technical inaccuracies" is absolutely the wrong approach to take. Answers on SE are supposed to be Peer Reviewed, meaning that the presumption is that answers that are left standing have been found to be accurate. Not addressing flags for Technical inaccuracies, especially for First Posts, where there is likely no hope that the poster will return to make suggested changes, is tantamount to circumventing the Peer Review process.</p>

<p>If there is something redeeming about the answer and it warrants and edit, then an edit is more appropriate, but if the edit would add nothing to the discussion or would only have to reiterate and answer already given, then a flag to delete should be honored.</p>


<h1>ANSWERS</h1>
		<p>No.</p>

<p>It is true that some people post comments as answers, but my experience shows that those posts usually do get deleted.</p>

<p>If something answers a question, it should not be flagged as not an answer.</p>

<p>Redundant answers are still answers, and could possibly be worded more clearly than the answers they duplicate.</p>

<p>Wrong answers are still answers, and it not moderators' jobs to identify wrong answers.</p>

<p>If an answer, read by itself as if no other answer were posted, can reasonably be constructed as an answer to the question, flags identifying it as "not an answer" should be, often are, and will continue to be denied.</p>


	</body>
</html>