<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Discussion of Beta software is against the FAQ
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-880" class = "post">
			<h2>Question</h2>
			<div id="vote-880" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 87</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Discussion of Beta software is against the FAQ</h2>
<p>I had problems with my iOS device, because it was running on iOS 5 Beta 7 and the device became unusable as the Beta expired. I had no idea what to do with it and how to restore it to normal mode, so naturally I turned to Apple SE for help and asked my question. </p>

<p>The question was quickly closed as not appropriate because of the following: </p>

<pre><code> Welcome to Ask Different! Questions about pre release software are off topic for this site. Please take a look at the FAQs for more info. 
</code></pre>

<p>I think the problem itself is a real problem that causes problems to iOS users. I find really disheartening these rules. They are discouraging me from asking questions related to apple. I feel that this rule is somehow in conflict with the sole purpose of the site. </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-880">Load Comments</button></br>
			<div id = "commentsection-880" class = 'collapse'>
			<div id = "comment-1624" class = "comment">
				<p>I think this is a fine question and shouldn't be voted down. I think the answer is the FAQ is pretty clear this is for end users, people using shipping software and not for developers, but asking for clarification or explanation shouldn't just be down voted. (good thing you can't down vote a comment ;-)</p>
			</div>
			</div>
				<textarea id = "speech-880" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-880">
					<img id="start_img-880" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-880">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-881"  class = "post">
				<h2>Answer</h2>
			<div id="vote-881" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Actually your question was meant to be closed as a duplicate since it was asked earlier already, and that question was left open with the same warning.</p>

<p>The reason we do not allow questions around Beta software, specifically with regard to Apple, is due to the fact that all Apple Beta Software is under a strict NDA that every developer has to agree to when joining the program. Allowing one opens up a whole new set of issues. Also since Apple.SE is a public site, the last thing we need is Apple coming down on the site for allowing NDA material to be publicly released.</p>

<p>I have to be honest, since you brought it up and as a Apple Dev myself, how is it that registered developers are not aware that Betas expire, since every one of the iOS 5 betas did, nor that they were not aware that the GM was released more then 2 weeks ago and almost a week before the public received it to the devs? It bring the legitimacy of the question, in question, on that point alone. This <code>problem</code> will only occur when your a registered Apple Developer or you happened to get a copy of the IPSW of the beta through illegal means, and the latter we do not support, nor should we.</p>

<p>I don't see how this rule is in conflict with the purpose on the site, since there is already more then 95% of question <strong>not related to beta software</strong>?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-881">Load Comments</button></br>
			<div id = "commentsection-881" class = 'collapse'>
			<div id = "comment-1629" class = "comment">
				<p>I paid to be in the developer program, so I guess I obtained the betas legally. I am fairly new in the program, not a seasoned iOS developer as yourself. I refreshed the betas and the final build came to my device over the air, so I thought I am safe and the settings reported that I am on iOS 5. Much to my surprise my device was rendered unusable when the Beta 7 expired and I turned for help to this site. I guess my situation was not unique and others experienced the same issue with their devices. Instead of help, the questions got downvoted and closed.</p>
			</div>
			<div id = "comment-1630" class = "comment">
				<p>@gyurisc 1. I am not a seasoned developer. 2. Both the email Apple sent to developers, and the iOS 5.0 release notes, apart from numerous news sites, made it clear the GM is **not** going to be available OTA and has to be installed via iTunes. 3. As a registered Apple developer you have access to the Apple Developer Forum, which handles all question regarding NDA developer issue, including the betas. The question got down-voted because the community respect the NDA all developers sign and agree too when joining the Apple Developer program.</p>
			</div>
			<div id = "comment-1637" class = "comment">
				<p>@gyurisc I agree with Diago here. And from a technical point of view, "Beta 7" is still pre-release software even after iOS 5 is released, so it's off-topic.</p>
			</div>
			</div>
				<textarea id = "speech-881" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-881">
					<img id="start_img-881" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-881">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>