<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Discrepancy between help-center and community consensus?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Discrepancy between help-center and community consensus?</h2>
<p>I recently noticed this sentence in the <a href="https://apple.stackexchange.com/help/on-topic">help center</a> under what is <strong>off</strong>-topic:</p>

<blockquote>
  <p>Installing or using Apple operating systems on non-Apple hardware (and
  most other explicitly unlicensed use of product)</p>
</blockquote>

<p>However, I've also noticed this <a href="https://apple.meta.stackexchange.com/questions/2/can-one-ask-hackintosh-questions-on-ask-different">meta thread</a> showing an overwhelming consensus that such questions should be <strong>on</strong>-topic.</p>

<p>Admittedly this is quite an old thread. Is there some newer thread that has passed me by? Or has there been some directive from our SE overlords regarding such policies?</p>

<p>Here's <a href="https://apple.meta.stackexchange.com/questions/1722/should-the-help-page-remove-the-prohibition-on-hackintosh">another thread</a> showing a consensus for that clause to be removed from the help center. So, why hasn't it been done?</p>

<p>Why does the help-center exclude this when the community consensus seems to be for including it?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>There's no directive - we are free to form consensus and self-edit the FAQ.</p>

<p>I was very against closing hacintosh questions when I started in the Ask Different community (and started here as opposed to another site then coming here). The guidelines aren't 100% followed and there is always wiggle room to raise a specific closure or non-closure on meta.</p>

<p>The post you mentioned is one of many and I must say - the vast majority of questions closed under "hacintosh" would also be closed as too broad, unclear, </p>

<p>I would say - what we need is some few people to champion these types of questions - clean up any marginal ones. Ask and answer detailed ones. If there is a steady set of useful, detailed, well received posts - that would make it easy to post to meta a request to relax the wording of the FAQ.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1722/should-the-help-page-remove-the-prohibition-on-hackintosh">Should the help page remove the prohibition on hackintosh?</a> (or maybe just a lot more votes on the answer saying yes)</li>
</ul>

<p>Here in late 2016 - my personal feeling is that we aren't closing useful questions due to that part of the site scope, but I'd be happy to revisit my opinion by looking at specific counter examples to the generalization I made above about questions relating to loading / troubleshooting OS X on non apple hardware being low quality in general.</p>

<p>If someone were to lead with some awesome questions - I'd support reopening them to see how they are received. Please raise a meta question if you spot this close reason being used for something you feel is a good question in all other respects. I'll be glad to help guide these posts or facilitate discussions between people closing since it's "in the rules" as opposes to closing since it's not useful.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I tend to agree with <a href="https://apple.meta.stackexchange.com/a/1747/88313">this answer</a> by @daviesgeek and <a href="https://apple.meta.stackexchange.com/a/1743/88313">this answer</a> by @jaume (minus the legality argument).  Both make, what I consider, valid points about the types of questions that will be asked if hackintosh questions are allowed. </p>

<p>At a very simplistic level, I see this as breaking down to 2 main points: </p>

<ol>
<li>Almost every hackintosh question will be very specific and very unique to the individual questioner.  </li>
<li>It will ultimately devolve into "will this configuration work...?" or "how do I build...?" questions and there are already good sites for that.<br><br>
<strong>EDIT</strong> (10/23/16): In support of my point above, <a href="https://apple.stackexchange.com/q/258375/88313">here's a perfect example</a> of the types of questions that, I believe, we'll be flooded with if the prohibition is lifted.</li>
</ol>

<p>The first sentence of <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask here?</a> really boils down why this SE site exists: "Ask Different is for users of Apple products."  A hackintosh is not an Apple product (before you argue with me on the semantics of "what is an Apple product?", the most basic answer is "products made by Apple").</p>

<p>Right now, I really like this site because every question &amp; answer I see can apply to hundreds or thousands of other people.  They can have the same hardware/software/version and the application of the answer(s) have broad appeal.  Once we start accepting very limited, almost singularly-focused, questions, we lose the broad-base.  Sure, it will help the person asking the question but the odds are very high that it will <em>only</em> help that person and none other.  If that's where we, the community, and SE, the owners, want to focus our efforts then that's ok; we just need to be aware of the potential downside to doing that.</p>

<p>Regarding my point #2, almost every hackintosh question I've seen in my time here has had some part of this mix-and-match type of question.  There could be 1, 10, or a 100 reasons why the OPs particular mix of parts will not work and that could lead us down the a road for days before we realize that where we are has nothing to do with the lone Apple OS they're using.  Once again, while it might help that one OP that one time, it's probably not going to help others at any time (I said 'probably' so please don't accuse me of saying 'never').  </p>

<p>I think where the mods and community are now has taken is a very good place and it helps more people in its current state that it will if changed for this, specific reason.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Currently the wording in the help center says</p>

<blockquote>
  <p>Installing or using Apple operating systems on non-Apple hardware</p>
</blockquote>

<p>which may be too strict for a lot of situations.</p>

<ul>
<li><em>Installing</em> macOS on non-Apple hardware is usually a rather challenging endeavour which requires the right combination of hardware components etc. There are some sites dedicated to these kind of challenges, and the community there is much better suited to help people than AD users can ever be</li>
<li><em>Using</em> macOS on non-Apple hardware on the other hand isn't too different from using it on Apple hardware. Yes, there may be some kind of situations where the problem may come from such a setup, but most of the problems (especially on user level) are the same. Right now we don't even know whether question comes from a hackintosh background because such questions get shut down rather fast. Wouldn't it be better to allow such kind of questions and expect users to indicate (without penalty) if they are running a hackintosh?</li>
</ul>

<p>So I would propose to <em>change</em> the wording in the help center to</p>

<blockquote>
  <p>Installing Apple operating systems on non-Apple hardware</p>
</blockquote>

<p>and add a section stating that other hackintosh-related questions are ok but must be tagged accordingly.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>