<html>
	<head>
		<title id = 'pagetitle'>Do I get points also when my edits are approved?
		</title>
	<head>
	<body id = 'pagebody'><p>Looking at <a href="https://apple.stackexchange.com/users/3598/kiamlaluno?tab=reputation">my reputation</a>, I noticed that I received two points for a question that has not been asked by me, and to which I didn't answer. The only thing I did was to suggest an edit, and that edit has been <a href="https://apple.stackexchange.com/posts/8426/revisions">approved</a>.</p>

<p>Is it normal? </p>


<h1>ANSWERS</h1>
		<p>The suggested edit feature is fairly new.</p>

<p>From the <a href="https://apple.stackexchange.com/faq#reputation-gain">FAQ</a>:</p>

<blockquote>
  <p>The other way to gain reputation is by suggesting edits to existing posts as a new registered user. Each edit will be peer reviewed, and if it is accepted, you will earn +2 reputation. You can only earn a maximum of +1000 total reputation through suggested edits, however.</p>
</blockquote>

<p>There is also a <a href="https://meta.stackexchange.com/questions/76251/how-does-peer-review-for-edits-work/76284#76284">detailed MSO answer about suggested edits</a>.</p>


	</body>
</html>