<html>
	<head>
		<title id = 'pagetitle'>Do I no longer get reputation points for edits after going over 2000 reputation?
		</title>
	<head>
	<body id = 'pagebody'><p>I've noticed that since going over 2000 reputation, I no longer get the 2 reputation points I used to get for doing edits on posts. Is this normal? And if so, why?</p>


<h1>ANSWERS</h1>
		<p>The points encourage you to do your duty to edit where you can, by way of instilling the SE desired habits into you.  Once you hit 2k, you shouldn;t be editing just for the measly points on offer, it should just be a habit.  The points help you get into that habit.  Think of it as getting promoted, you suddenly have to do unpaid overtime ;)</p>


	</body>
</html>