<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Do my up votes count once I have enough reputation?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Do my up votes count once I have enough reputation?</h2>
<p>I have a reputation of 11 at the moment, but I have found a couple a very useful questions and answers, things I would like to up vote. If I do so now, it does not show up, but I believe it is stored. Does the person who posted the question/answer received reputation once my reputation is high enough for an up vote to count? Or, do I need to remember where I placed these votes and revisit them once my reputation is high enough and vote again?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Neither.</p>

<p>Anonymous feedback (positive and negative) is in a different bin and affects things like placement on the home page, search results, etc.. but it doesn't grant direct reputation.</p>

<p>You can look at this <a href="https://apple.stackexchange.com/help/whats-reputation">help section</a> to see how reputation works in specific.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>