<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Do my up votes count once I have enough reputation?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2833" class = "post">
			<h2>Question</h2>
			<div id="vote-2833" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
				<h2>Do my up votes count once I have enough reputation?</h2>
<p>I have a reputation of 11 at the moment, but I have found a couple a very useful questions and answers, things I would like to up vote. If I do so now, it does not show up, but I believe it is stored. Does the person who posted the question/answer received reputation once my reputation is high enough for an up vote to count? Or, do I need to remember where I placed these votes and revisit them once my reputation is high enough and vote again?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2833" class = 'collapse'>
			</div>
				<textarea id = "speech-2833" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2833">
					<img id="start_img-2833" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2834"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2834" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Neither.</p>

<p>Anonymous feedback (positive and negative) is in a different bin and affects things like placement on the home page, search results, etc.. but it doesn't grant direct reputation.</p>

<p>You can look at this <a href="https://apple.stackexchange.com/help/whats-reputation">help section</a> to see how reputation works in specific.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2834">Load Comments</button></br>
			<div id = "commentsection-2834" class = 'collapse'>
			<div id = "comment-6188" class = "comment">
				<p>Thanks. I did read that page, and maybe I'm over looking it, but I could find anything about votes given before my reputation is high enough. And when you say "neither" does that mean that I can not go back and vote again? Is there any way for the write to gain the reputation from my vote?</p>
			</div>
			<div id = "comment-6189" class = "comment">
				<p>@boredrandom The first link in that document covers reputation generally. You're not voting up with 10 rep - it's the same as anonymous feedback. You don't get a "vote" until you have 15 rep. You have feedback that's positive or negative - that's all.</p>
			</div>
			<div id = "comment-6190" class = "comment">
				<p>Thank you. That's the part I wasn't understanding, that it's equivalent to being anonymous, that it's not even a vote.</p>
			</div>
			</div>
				<textarea id = "speech-2834" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2834">
					<img id="start_img-2834" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>