<html>
	<head>
		<title id = 'pagetitle'>Do not set -webkit-font-smoothing: antialiased for all displays
		</title>
	<head>
	<body id = 'pagebody'><p>I was looking at the "score" at the top of AskDifferent and noticed that the 101 (my score) there looked quite ugly on my Dell u2515h, compared to how it looked looked on most other StackExchange subsites.</p>

<p>This seems to be related to the -webkit-font-smoothing: antialiased; that is being set on the body element. Now I understand that you (might, some like the bolder fonts) want this on retina displays, but it looks just horrible on non retina displays:</p>

<p><a href="https://i.stack.imgur.com/hOjWk.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/hOjWk.png" alt="Non Retina antialiased"></a></p>

<p>With the setting set to the default it looks like:
<a href="https://i.stack.imgur.com/NfMIv.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/NfMIv.png" alt="Non Retina default font rendering"></a></p>

<p>So perhaps it can be reset to the default behaviour with a @media selector so that it's only active on higher dpi displays? Something like</p>

<pre><code>@media screen
(-webkit-max-device-pixel-ratio: 1.3), 
(max-resolution: 120dpi) {
  body { 
    -webkit-font-smoothing: subpixel-antialiased !important;
  }
}
</code></pre>


<h1>ANSWERS</h1>
			</body>
</html>