<html>
	<head>
		<title id = 'pagetitle'>Do questions on the Game Center belong on here or Gaming.SE?
		</title>
	<head>
	<body id = 'pagebody'><p>There is no tag for the iOS Game Center.</p>

<p>Should any questions on it be asked here, or on <a href="https://gaming.stackexchange.com/">https://gaming.stackexchange.com/</a> or elsewhere?</p>

<p>Or should cross-posting be allowed in this instance?</p>


<h1>ANSWERS</h1>
		<p>Game Center would be on-topic here since it is Apple software.</p>

<p>However, if you're asking about programming or developing for/with Game Center, that would be off-topic since this site is not about development. That kind of a question should go on Stack Overflow.</p>

<p><strong>If you've got a question about Game Center that doesn't involve development/programming, go ahead and ask it here. I can easily make you a <code>[game-center]</code> tag.</strong></p>


	</body>
</html>