<html>
	<head>
		<title id = 'pagetitle'>Do questions retain votes when migrated?
		</title>
	<head>
	<body id = 'pagebody'><p>I just saw this question pop up with -6 votes.</p>

<p><a href="https://apple.stackexchange.com/questions/14892/how-does-iphones-facetime-work-even-when-my-phone-function-is-off">How does iPhone&#39;s facetime work even when the phone function is off?</a></p>

<p>Did it get all those votes before or after it migrated here? If before, wouldn't it make sense to clear the votes as part of the transition? By definition, the move implies it was deemed a valid question but just asked in the wrong forum.</p>


<h1>ANSWERS</h1>
		<p>Indeed this <em>should</em> have happened, but a bug in the migration overhaul last week means it didn't, it will be fixed in the next build, and I've cleaned up those votes that shouldn't have made it over on that specific post.</p>


	</body>
</html>