<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Do questions retain votes when migrated?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-538" class = "post">
			<h2>Question</h2>
			<div id="vote-538" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 53</p>
			</div>
				<h2>Do questions retain votes when migrated?</h2>
<p>I just saw this question pop up with -6 votes.</p>

<p><a href="https://apple.stackexchange.com/questions/14892/how-does-iphones-facetime-work-even-when-my-phone-function-is-off">How does iPhone&#39;s facetime work even when the phone function is off?</a></p>

<p>Did it get all those votes before or after it migrated here? If before, wouldn't it make sense to clear the votes as part of the transition? By definition, the move implies it was deemed a valid question but just asked in the wrong forum.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-538" class = 'collapse'>
			</div>
				<textarea id = "speech-538" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-538">
					<img id="start_img-538" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-539"  class = "post">
				<h2>Answer</h2>
			<div id="vote-539" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Indeed this <em>should</em> have happened, but a bug in the migration overhaul last week means it didn't, it will be fixed in the next build, and I've cleaned up those votes that shouldn't have made it over on that specific post.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-539">Load Comments</button></br>
			<div id = "commentsection-539" class = 'collapse'>
			<div id = "comment-979" class = "comment">
				<p>Thank you so much for the explanation and the fix :-)</p>
			</div>
			</div>
				<textarea id = "speech-539" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-539">
					<img id="start_img-539" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>