<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Do questions on the Game Center belong on here or Gaming.SE?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Do questions on the Game Center belong on here or Gaming.SE?</h2>
<p>There is no tag for the iOS Game Center.</p>

<p>Should any questions on it be asked here, or on <a href="https://gaming.stackexchange.com/">https://gaming.stackexchange.com/</a> or elsewhere?</p>

<p>Or should cross-posting be allowed in this instance?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Game Center would be on-topic here since it is Apple software.</p>

<p>However, if you're asking about programming or developing for/with Game Center, that would be off-topic since this site is not about development. That kind of a question should go on Stack Overflow.</p>

<p><strong>If you've got a question about Game Center that doesn't involve development/programming, go ahead and ask it here. I can easily make you a <code>[game-center]</code> tag.</strong></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>