<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Do questions on the Game Center belong on here or Gaming.SE?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-629" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::29</h3>
				<h2>Do questions on the Game Center belong on here or Gaming.SE?</h2>
<p>There is no tag for the iOS Game Center.</p>

<p>Should any questions on it be asked here, or on <a href="https://gaming.stackexchange.com/">https://gaming.stackexchange.com/</a> or elsewhere?</p>

<p>Or should cross-posting be allowed in this instance?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-632"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Game Center would be on-topic here since it is Apple software.</p>

<p>However, if you're asking about programming or developing for/with Game Center, that would be off-topic since this site is not about development. That kind of a question should go on Stack Overflow.</p>

<p><strong>If you've got a question about Game Center that doesn't involve development/programming, go ahead and ask it here. I can easily make you a <code>[game-center]</code> tag.</strong></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1129" class = "comment">
				<p>Plus, there's also http://gamedev.stackexchange.com/</p>
			</div>
			<div id = "comment-1130" class = "comment">
				<p>This question is not to do with development, but this is quite in-depth for Game Center - http://apple.stackexchange.com/questions/19774/possible-to-force-a-sync-of-game-center-achievements-already-gained, it might be solved by individual apps, so cross-posting might be valid?</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>