<html>
	<head>
		<title id = 'pagetitle'>Do we need a generic off-topic close reason?
		</title>
	<head>
	<body id = 'pagebody'><p>I don't have vote to close privileges here, but wanted to <a href="https://apple.stackexchange.com/questions/96882/which-website-provide-ios-games-download-statistics">flag this question</a> as off topic. Simply because it's not in the scope of this site, and just asking for an external website.</p>

<p>However, the three <em>off topic</em> options I have are:</p>

<blockquote>
  <ul>
  <li><p>Questions about software development are off-topic here, but can be asked on Stack Overflow.</p></li>
  <li><p>Questions about pre-release software are off-topic. For more information, see Can we ask about iOS 7 and OS X Mavericks? and Can I ask about not-yet-publicly released OS?.</p></li>
  <li><p>This question belongs on another site in the Stack Exchange network</p></li>
  </ul>
</blockquote>

<p>Neither of these applies, and unfortunately I can't add any custom close reason as well. The only option I have now is to use a custom moderator flag, but as of late, closure flags are not shown to moderators and go straight to the review queue but when using a custom flag I'd overrule this and cause additional workload for mods, while the community could handle this itself.</p>

<p>Would a more generic off-topic close reason make sense?</p>


<h1>ANSWERS</h1>
			</body>
</html>