<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Do we need a generic off-topic close reason?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1761" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::37</h3>
				<h2>Do we need a generic off-topic close reason?</h2>
<p>I don't have vote to close privileges here, but wanted to <a href="https://apple.stackexchange.com/questions/96882/which-website-provide-ios-games-download-statistics">flag this question</a> as off topic. Simply because it's not in the scope of this site, and just asking for an external website.</p>

<p>However, the three <em>off topic</em> options I have are:</p>

<blockquote>
  <ul>
  <li><p>Questions about software development are off-topic here, but can be asked on Stack Overflow.</p></li>
  <li><p>Questions about pre-release software are off-topic. For more information, see Can we ask about iOS 7 and OS X Mavericks? and Can I ask about not-yet-publicly released OS?.</p></li>
  <li><p>This question belongs on another site in the Stack Exchange network</p></li>
  </ul>
</blockquote>

<p>Neither of these applies, and unfortunately I can't add any custom close reason as well. The only option I have now is to use a custom moderator flag, but as of late, closure flags are not shown to moderators and go straight to the review queue but when using a custom flag I'd overrule this and cause additional workload for mods, while the community could handle this itself.</p>

<p>Would a more generic off-topic close reason make sense?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3298" class = "comment">
				<p>see http://meta.apple.stackexchange.com/questions/1753/how-to-flag-this-type-of-question for a possible answer</p>
			</div>
			<div id = "comment-3299" class = "comment">
				<p>I guess it boils down to whether moderators want to see custom flags being "abused" for what should be a close vote.</p>
			</div>
			<div id = "comment-3300" class = "comment">
				<p>"Flagging for attention" is ok for me, it's primarily saying "Hey moderator, have a look at that question".</p>
			</div>
			<div id = "comment-3301" class = "comment">
				<p>Our flag volume makes using other a fair workaround, but it's not a "clean solution" as you point out. Tis must be a systematic issue since why make easpch site have a generic close reason. I'll look on the main meta for a relevant thread in a bit....</p>
			</div>

<h1>ANSWERS</h1>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>