<html>
	<head>
		<title id = 'pagetitle'>Does the current competition bring out the worst in users?
		</title>
	<head>
	<body id = 'pagebody'><p>Firstly, I do think the current competition is brilliant, and actively wanted to participate, however I stopped for 2 specific reasons.</p>

<ul>
<li>Since the start of the competition, an incredible amount of low quality questions has been asked, and in some cases, just the rate at which some users ask questions, it clearly showed it was only being asked to gain votes for the competition.</li>
<li>Copy and paste of duplicate answer, just to train and gain votes. I have no objection to answer posted at the same time, but like <a href="https://apple.stackexchange.com/questions/46471/how-can-i-do-a-dictionary-look-up-without-the-trackpad">this</a> example, a fairly high rep users posted a duplicate of my answer, sole difference with a screenshot, 2 minutes after mine. To what end?</li>
<li>I have also noticed a the rate of voting has actively dropped. Which is the opposite of what the competition is trying to encourage.</li>
</ul>

<p>I find these type of situation extremely demotivating, especially since the bulk of these users generally disappear once the competition is over, and secondly, it becomes a rude game of having to improve an answer for no reason just to try and get a legitimate vote.</p>

<p>The issue for me is not with new users, since they still need to learn the system, however watching established, long term and fairly decent reputation holding users of this site specifically, post some of the most over the top questions, or actively duplicating answers, is really disappointing to see.</p>

<p>I've also seen incidents of users asking for reputation, and other unacceptable methods to try and gain extra votes. </p>

<p>Is this truly the purpose or behaviour SE wants for it's sites? </p>

<p><sub>Please note, there is some users that I am very glad to see in Level 2 and Level 3 that deserve it, and in one or two cases I actively tried to find content to upvote to help them closer to the prize. My issue however is with the percentage of users that will win using some unacceptable methods, leaving some real potential winners demotivated. Also, personally, if there was a way from opting out of the competition, I would, since I am not interested in any prize, either way.</sub></p>


<h1>ANSWERS</h1>
		<p>These thoughts and more have been actively discussed in Chat for over a week now, so drop in any time if you want to discuss anything further.  Many people are in agreement in many ways, you'll see who by looking at Chat or the existing Meta questions and answers.</p>

<p>I think that you chose an unfortunate example to prove your point, as adding a screenshot can take added time which makes the question take longer to complete.  But I see that the slightest hint of impropriety has got peoples backs up, and there's no reason why you should react any differently.  However, it can be a coincidence, and I myself have come across the exact same scenario <a href="https://apple.stackexchange.com/questions/46077/how-to-use-the-new-ipad-3rd-gen-as-a-second-screen/46080#46080">on this question</a> although I know it to be completely innocent.  Somewhere in Chat this is discussed, and more than once I have suggested that when you get the "another answer has been posted" you should just ignore it and carry on with your own.</p>

<p>Also, full disclosure and all, it's just not something @Jaberg would actually do purposefully, and to be frank he has been one of the harshest critics of the competition for the exact same reasons as you - you'd get along well ;)</p>


<blockquote>
  <p>Since the start of the competition, an incredible amount of low quality questions has been asked</p>
</blockquote>

<p>I think some examples are in order.  Yes, we've got more questions, but are they truly low quality?  </p>

<blockquote>
  <p>in some cases, just the rate at which some users ask questions, it clearly showed it was only being asked to gain votes for the competition.</p>
</blockquote>

<p>Well, that was one of the main goals of the competition, to generate new content and expand the knowledge base.  I don't think that this point is a bad thing, unless the additional content has a negative effect, as your first point suggests.</p>

<blockquote>
  <p>Copy and paste of duplicate answer, just to train and gain votes. </p>
</blockquote>

<p>I've seen duplicate answers, but in each case I saw that they were added within minutes of each other, and since it takes me more than a few minutes to write a post then I see it simply as two people with essentially the same answer.</p>

<p>What I have noticed is that once people see their answer is duplicate, often they'll delete their own unless it's substantially better than the other answer.  This isn't happening here, and while it's not ideal, it's not a bad thing - it's just duplicate information.</p>

<p>balpha gave enough information to show that voting was actually up, so I don't think that's an issue anymore.</p>

<p>So the only issue remaining is whether the new posts are low quality or not.</p>

<p>It has been my experience that a community won't shy away from downvoting low quality posts, and yet I've seen very few questions and answers downvoted.  Either the whole community is accepting them, generally (and it's a big community) or people are being nice to avoid angering people for the contest.</p>

<p>I think this can only be resolved if you bring 5-10 examples of such posts here so we can discuss their merit.</p>

<p>For my part, I have been asking questions I wouldn't normally ask. Many of them could be discovered with 20-30 minutes of research on my part.  However that doesn't make them a bad question, to my way of thinking.  Since only one of my questions was downvoted, I'm assuming the community is fine with them.</p>

<p>I'd suggest people start downvoting and commenting on low quality questions.  If it's a serious problem that needs to be cleaned up, get the community active in calling people out on it.</p>

<p>I'm reminded of the early days of Stack Overflow.  We had a lot of relatively simple questions, but there were two surprising outcomes:</p>

<ol>
<li>We became the canonical reference from google, and those questions, as simple as they are, draw in thousands of users trying to figure them out themselves.</li>
<li>We found that sometimes the simple questions had interesting complex answers, and once you got past the surface layer they revealed complexity in subjects many people take for granted.</li>
</ol>

<p>I don't know that either will apply here, but I wouldn't encourage people to treat simple questions as low quality, and to answer them seriously rather than via simple google search.  Even experts might be surprised at what they find when they dig deep into a seemingly simple question.</p>


	</body>
</html>