<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Does the "What topics can I ask about here?" page need a minor edit
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3061" class = "post">
			<h2>Question</h2>
			<div id="vote-3061" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 35</p>
			</div>
				<h2>Does the "What topics can I ask about here?" page need a minor edit</h2>
<p>I feel the <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask about here?</a> page needs a minor edit. At present, this page still contains a link to the no-longer active blog (see screenshot below):</p>

<p><a href="https://i.stack.imgur.com/6zNXJ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6zNXJ.jpg" alt="enter image description here"></a></p>

<p>While linking to the blog itself is not necessarily a problem, I do feel it is a problem <em>within</em> this context. The reason being that the whole purpose of this paragraph is to help users understand the Q&amp;A setting of Ask Different is best suited to questions about practical problems, rather than to <em>discussion</em> type questions. It then refers users to the chat room and blog if they have an opinion-based post (at least that's how I'm interpreting it).</p>

<p>I propose we remove the link so that this sentence now reads:</p>

<p><em>We do have a <a href="http://chat.stackexchange.com">chat room</a> for opinion-based posts.</em></p>

<p>Or, something similar to the above.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3061" class = 'collapse'>
			</div>
				<textarea id = "speech-3061" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3061">
					<img id="start_img-3061" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3063"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3063" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Fixed, thanks for spotting this.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3063" class = 'collapse'>
			</div>
				<textarea id = "speech-3063" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3063">
					<img id="start_img-3063" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>