<html>
	<head>
		<title id = 'pagetitle'>Does a poster get notified if an edit is made to an answer?
		</title>
	<head>
	<body id = 'pagebody'><p>Does a poster get notified if an edit is made to an answer, or should I add a comment to prompt?</p>


<h1>ANSWERS</h1>
		<p>The OP should get a notification whenever an edit is made to a post.</p>


<p>Edits that other people make to posts which are yours (both questions and answers) will cause an edit notification to show in your inbox.</p>

<p> <img src="https://i.stack.imgur.com/o1a86.png" width="374"></p>

<p>However, these notifications are not sent for minor edits. Edits need to be substantiative enough for the system to deem it necessary to notify you. For more information, see Meta.SE:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/202359/no-notification-was-received-for-an-edit-to-a-post">No notification was received for an edit to a post</a></li>
</ul>

<blockquote>
  <p>In order to reduce noise sent to users, we only notify when "substantive" changes are happening on their posts.</p>
  
  <p>There are a few rules in how "substantive" is defined, but typically one of these two should be enough to trigger a message:</p>
  
  <ul>
  <li>the edit in the post body should be over a threshold</li>
  <li>the edit in code sections should be over another threshold</li>
  </ul>
  
  <p>The threshold varies from site to site.</p>
</blockquote>

<p>Notifications are not sent to the user who asked a question if an answer to their question is edited.</p>


	</body>
</html>