<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Does Ask Different have a different tag-suggester than other SE sites?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2019" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::36</h3>
				<h2>Does Ask Different have a different tag-suggester than other SE sites?</h2>
<p>I m using an old version of IOS Safari (original iPad).  Of course, there a lot of minor irritations with the UI.  One of them is that on all SE sites, selecting a suggested tag takes anywhere from two taps to more than I m willing to retry.</p>

<p>Except here.  Here,  it just works. </p>

<p>Is it different JavaScript?<br>
<hr>
(edit)<br />
Sigh.  Never mind.  Until now, I selected a tag with one tap every time in the site only.  This time, I gave up after ten taps.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4062" class = "post">
				<p>Are you using the mobile version of the site?</p>
			</div>
			<div id = "comment-4067" class = "post">
				<p>Don't remember, but I doubt it.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>