<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Does anyone want to take over or suggest a fix to the bounty counting ad?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2733" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::104</h3>
				<h2>Does anyone want to take over or suggest a fix to the bounty counting ad?</h2>
<p>The app to count bounties might need to be resized to fit the new boundaries. Since <a href="https://apple.meta.stackexchange.com/questions/2717/community-promotion-ads-2016/2719#2719">the answer was deleted by staff</a> - I wanted to put it here in case someone wants to step forward or re-implement this as their skill set and time allow. </p>

<ul>
<li>The current app runs on heroku at <a href="http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png" rel="nofollow noreferrer">http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png</a></li>
<li>The current code is available at <a href="https://github.com/51cards/Stack-Exchange-Bounty-Ad" rel="nofollow noreferrer">https://github.com/51cards/Stack-Exchange-Bounty-Ad</a></li>
</ul>

<p><a href="https://apple.stackexchange.com/?tab=featured">Current Ask Different bounties http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png</a></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6043" class = "comment">
				<p>The code to generate it is open source. https://github.com/51cards/Stack-Exchange-Bounty-Ad</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2741"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I've submitted a pull request to the GitHub repo. This pull request deals with resizing the ad to the necessary size and adding a border (required by guidelines).</p>

<ul>
<li><a href="https://github.com/51cards/Stack-Exchange-Bounty-Ad/pull/7" rel="nofollow">https://github.com/51cards/Stack-Exchange-Bounty-Ad/pull/7</a></li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6053" class = "comment">
				<p>I'll have a look...</p>
			</div>
			<div id = "comment-6055" class = "comment">
				<p>The advertisement is back in rotation. Thanks so much for the work on the code and graphics.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>