<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Does anyone want to take over or suggest a fix to the bounty counting ad?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2733" class = "post">
			<h2>Question</h2>
			<div id="vote-2733" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 104</p>
			</div>
				<h2>Does anyone want to take over or suggest a fix to the bounty counting ad?</h2>
<p>The app to count bounties might need to be resized to fit the new boundaries. Since <a href="https://apple.meta.stackexchange.com/questions/2717/community-promotion-ads-2016/2719#2719">the answer was deleted by staff</a> - I wanted to put it here in case someone wants to step forward or re-implement this as their skill set and time allow. </p>

<ul>
<li>The current app runs on heroku at <a href="http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png" rel="nofollow noreferrer">http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png</a></li>
<li>The current code is available at <a href="https://github.com/51cards/Stack-Exchange-Bounty-Ad" rel="nofollow noreferrer">https://github.com/51cards/Stack-Exchange-Bounty-Ad</a></li>
</ul>

<p><a href="https://apple.stackexchange.com/?tab=featured">Current Ask Different bounties http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png</a></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2733">Load Comments</button></br>
			<div id = "commentsection-2733" class = 'collapse'>
			<div id = "comment-6043" class = "comment">
				<p>The code to generate it is open source. https://github.com/51cards/Stack-Exchange-Bounty-Ad</p>
			</div>
			</div>
				<textarea id = "speech-2733" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2733">
					<img id="start_img-2733" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2741"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2741" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've submitted a pull request to the GitHub repo. This pull request deals with resizing the ad to the necessary size and adding a border (required by guidelines).</p>

<ul>
<li><a href="https://github.com/51cards/Stack-Exchange-Bounty-Ad/pull/7" rel="nofollow">https://github.com/51cards/Stack-Exchange-Bounty-Ad/pull/7</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2741">Load Comments</button></br>
			<div id = "commentsection-2741" class = 'collapse'>
			<div id = "comment-6053" class = "comment">
				<p>I'll have a look...</p>
			</div>
			<div id = "comment-6055" class = "comment">
				<p>The advertisement is back in rotation. Thanks so much for the work on the code and graphics.</p>
			</div>
			</div>
				<textarea id = "speech-2741" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2741">
					<img id="start_img-2741" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>