<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Does the "What topics can I ask about here?" page need a minor edit
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-3061" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::35</h3>
				<h2>Does the "What topics can I ask about here?" page need a minor edit</h2>
<p>I feel the <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask about here?</a> page needs a minor edit. At present, this page still contains a link to the no-longer active blog (see screenshot below):</p>

<p><a href="https://i.stack.imgur.com/6zNXJ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6zNXJ.jpg" alt="enter image description here"></a></p>

<p>While linking to the blog itself is not necessarily a problem, I do feel it is a problem <em>within</em> this context. The reason being that the whole purpose of this paragraph is to help users understand the Q&amp;A setting of Ask Different is best suited to questions about practical problems, rather than to <em>discussion</em> type questions. It then refers users to the chat room and blog if they have an opinion-based post (at least that's how I'm interpreting it).</p>

<p>I propose we remove the link so that this sentence now reads:</p>

<p><em>We do have a <a href="http://chat.stackexchange.com">chat room</a> for opinion-based posts.</em></p>

<p>Or, something similar to the above.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-3063"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Fixed, thanks for spotting this.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>