<html>
	<head>
		<title id = 'pagetitle'>Does someone need to leave a comment on a question or answer when voting it down?
		</title>
	<head>
	<body id = 'pagebody'><p>One occasionally encounters comments to the effect of "Why the downvote? It is not useful to downvote without commenting."</p>

<p>Are users who vote down a question or answer expected or required to comment explaining their reasons for their vote?</p>


<h1>ANSWERS</h1>
			</body>
</html>