<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Does Ask Different have a different tag-suggester than other SE sites?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2019" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::36</h3>
				<h2>Does Ask Different have a different tag-suggester than other SE sites?</h2>
<p>I m using an old version of IOS Safari (original iPad).  Of course, there a lot of minor irritations with the UI.  One of them is that on all SE sites, selecting a suggested tag takes anywhere from two taps to more than I m willing to retry.</p>

<p>Except here.  Here,  it just works. </p>

<p>Is it different JavaScript?<br>
<hr>
(edit)<br />
Sigh.  Never mind.  Until now, I selected a tag with one tap every time in the site only.  This time, I gave up after ten taps.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2019">Load Comments</button></br>
			<div id = "commentsection-2019" class = 'collapse'>
			<div id = "comment-4062" class = "comment">
				<p>Are you using the mobile version of the site?</p>
			</div>
			<div id = "comment-4067" class = "comment">
				<p>Don't remember, but I doubt it.</p>
			</div>
			</div>
				<textarea id = "speech-2019" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2019">
					<img id="start_img-2019" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>