<html>
	<head>
		<title id = 'pagetitle'>Does anyone want to take over or suggest a fix to the bounty counting ad?
		</title>
	<head>
	<body id = 'pagebody'><p>The app to count bounties might need to be resized to fit the new boundaries. Since <a href="https://apple.meta.stackexchange.com/questions/2717/community-promotion-ads-2016/2719#2719">the answer was deleted by staff</a> - I wanted to put it here in case someone wants to step forward or re-implement this as their skill set and time allow. </p>

<ul>
<li>The current app runs on heroku at <a href="http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png" rel="nofollow noreferrer">http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png</a></li>
<li>The current code is available at <a href="https://github.com/51cards/Stack-Exchange-Bounty-Ad" rel="nofollow noreferrer">https://github.com/51cards/Stack-Exchange-Bounty-Ad</a></li>
</ul>

<p><a href="https://apple.stackexchange.com/?tab=featured">Current Ask Different bounties http://stack-exchange-dynamic-ads.herokuapp.com/apple.stackexchange.com/bounty.png</a></p>


<h1>ANSWERS</h1>
		<p>I've submitted a pull request to the GitHub repo. This pull request deals with resizing the ad to the necessary size and adding a border (required by guidelines).</p>

<ul>
<li><a href="https://github.com/51cards/Stack-Exchange-Bounty-Ad/pull/7" rel="nofollow">https://github.com/51cards/Stack-Exchange-Bounty-Ad/pull/7</a></li>
</ul>


	</body>
</html>