<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Domain name suggestions
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-9" class = "post">
			<h2>Question</h2>
			<h3>Score ::10</h3>
			<h3>Views ::486</h3>
				<h2>Domain name suggestions</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/134/write-an-elevator-pitch-tagline">Write an Elevator Pitch / Tagline</a>  </p>
</blockquote>



<h2>Note:</h2>

<p>We are closing this domain naming thread. It is asking the <em>entirely</em> wrong question. See this blog post for details: <a href="http://blog.stackoverflow.com/2010/10/domain-names-the-wrong-question/">Domain Names: Wrong Question</a> </p>

<p>We're going to keep the name apple.stackexchange.com. But we WILL be setting up redirects from the more "popular" domains names. (e.g. seasonedadvice.com to cooking.stackexchange.com, basicallymoney.com to money.stackexchange.com, and others as we go through the list).</p>

<p>New question: "<strong>Write and Elevator Pitch / Tagline!</strong>"</p>

<p><a href="https://apple.meta.stackexchange.com/questions/134/write-an-elevator-pitch-tagline"><strong>Click here to contribute ideas and vote.</strong></a></p>

<p><em>[original message text below]</em></p>

<hr>

<p>List them off, try to only put one in each answer though instead of a list of ten. This allows people to upvote individual answers instead of a block.</p>

			</div><h3>Comments</h3>
				<textarea id = "speech-9" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9">
					<img id="start_img-9" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-19"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h1>TalkingApples.com</h1>

<p>Available</p>

<p>Maybe to similar to talkingapple.com, which is taken.</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-19" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-19">
					<img id="start_img-19" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-24"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::36</h3>
				<p><h1>AskDifferent.com</h1>

<p>(It's currently available.)</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-64" class = "comment">
				<p>A brilliant suggestion!</p>
			</div>
			<div id = "comment-79" class = "comment">
				<p>Great name!  Beautiful.</p>
			</div>
			<div id = "comment-106" class = "comment">
				<p>I'm pretty sure this represents the first and last time I'll be referred to as being either brilliant or beautiful, but I'll take it all the same.</p>
			</div>
			<div id = "comment-110" class = "comment">
				<p>Someone has this now gents, unless it's one of you it's off the table.</p>
			</div>
			<div id = "comment-114" class = "comment">
				<p>I think it's being held for this purpose by SE.</p>
			</div>
			<div id = "comment-116" class = "comment">
				<p>Yes, I snagged it for this purpose.</p>
			</div>
			<div id = "comment-129" class = "comment">
				<p>@Robert: I was thinking of doing the same, but didn't want to snafu the thing if it was chosen. Much thanks!</p>
			</div>
			<div id = "comment-268" class = "comment">
				<p>Old-time apple users can maybe somehow relate to this, but it took me a while to understand why it is so :-(</p>
			</div>
			<div id = "comment-382" class = "comment">
				<p>"Ask Different" isn't even proper English!! English is my fourth foreign language and even I can see it's plain wrong. Is "Different" a person? Did you mean "Ask *differently*"? Do people really want a title that sounds like we can't even get basic grammar right?</p>
			</div>
				<textarea id = "speech-24" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-24">
					<img id="start_img-24" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-41"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-3</h3>
				<p><p>I can donate <a href="http://coverflowexchange.com/" rel="nofollow">http://coverflowexchange.com/</a></p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-41" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-41">
					<img id="start_img-41" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-77"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2>finelytunedmagic.com</h2>

<p>available</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-77" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-77">
					<img id="start_img-77" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-78"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h1>applequeries.com</h1>

<p>available</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-78" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-78">
					<img id="start_img-78" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-79"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><h2>askaboutapple.com</h2>

<p>available</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-79" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-79">
					<img id="start_img-79" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-80"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-2</h3>
				<p><h1>AisForAnswer.com</h1>

<p>available</p>

<p>From an Apple II ad.</p>

<p><img src="https://i.stack.imgur.com/mqUNz.jpg" alt="alt text"></p>

<p><a href="http://www.wired.com/gadgets/mac/multimedia/2006/04/appleads?slide=2&amp;slideView=8" rel="nofollow noreferrer">http://www.wired.com/gadgets/mac/multimedia/2006/04/appleads?slide=2&amp;slideView=8</a></p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-80" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-80">
					<img id="start_img-80" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-81"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p><a href="http://apple.stackexchange.com">http://apple.stackexchange.com</a></p>

<p>seems perfectly acceptable to me. </p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-81" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-81">
					<img id="start_img-81" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-85"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><h1>MacOverflow.com</h1>

<p>It rhymes with Stack Overflow!</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-158" class = "comment">
				<p>Why put *overflow* everywhere ?</p>
			</div>
			<div id = "comment-198" class = "comment">
				<p>I don't think it needs Overflow in the name</p>
			</div>
			<div id = "comment-206" class = "comment">
				<p>@Adam: are we suffering from an overflow of overflows?</p>
			</div>
				<textarea id = "speech-85" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-85">
					<img id="start_img-85" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-98"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2>infinitelyloop.com</h2>

<p>as courtesy to <a href="http://en.wikipedia.org/wiki/Infinite_Loop_(street" rel="nofollow">http://en.wikipedia.org/wiki/Infinite_Loop_(street</a>).</p>

<p>As variation: infinitelylooping.com
It is taken but seems not used.</p>

<p>Sadly... InfiniteLoop.com is already taken</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-98" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-98">
					<img id="start_img-98" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>