<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Domain name suggestions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9" class = "post">
			<h2>Question</h2>
			<div id="vote-9" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 486</p>
			</div>
				<h2>Domain name suggestions</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/134/write-an-elevator-pitch-tagline">Write an Elevator Pitch / Tagline</a>  </p>
</blockquote>



<h2>Note:</h2>

<p>We are closing this domain naming thread. It is asking the <em>entirely</em> wrong question. See this blog post for details: <a href="http://blog.stackoverflow.com/2010/10/domain-names-the-wrong-question/">Domain Names: Wrong Question</a> </p>

<p>We're going to keep the name apple.stackexchange.com. But we WILL be setting up redirects from the more "popular" domains names. (e.g. seasonedadvice.com to cooking.stackexchange.com, basicallymoney.com to money.stackexchange.com, and others as we go through the list).</p>

<p>New question: "<strong>Write and Elevator Pitch / Tagline!</strong>"</p>

<p><a href="https://apple.meta.stackexchange.com/questions/134/write-an-elevator-pitch-tagline"><strong>Click here to contribute ideas and vote.</strong></a></p>

<p><em>[original message text below]</em></p>

<hr>

<p>List them off, try to only put one in each answer though instead of a list of ten. This allows people to upvote individual answers instead of a block.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9" class = 'collapse'>
			</div>
				<textarea id = "speech-9" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9">
					<img id="start_img-9" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-19"  class = "post">
				<h2>Answer</h2>
			<div id="vote-19" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>TalkingApples.com</h1>

<p>Available</p>

<p>Maybe to similar to talkingapple.com, which is taken.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-19" class = 'collapse'>
			</div>
				<textarea id = "speech-19" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-19">
					<img id="start_img-19" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-24"  class = "post">
				<h2>Answer</h2>
			<div id="vote-24" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">36</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>AskDifferent.com</h1>

<p>(It's currently available.)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-24">Load Comments</button></br>
			<div id = "commentsection-24" class = 'collapse'>
			<div id = "comment-64" class = "comment">
				<p>A brilliant suggestion!</p>
			</div>
			<div id = "comment-79" class = "comment">
				<p>Great name!  Beautiful.</p>
			</div>
			<div id = "comment-106" class = "comment">
				<p>I'm pretty sure this represents the first and last time I'll be referred to as being either brilliant or beautiful, but I'll take it all the same.</p>
			</div>
			<div id = "comment-110" class = "comment">
				<p>Someone has this now gents, unless it's one of you it's off the table.</p>
			</div>
			<div id = "comment-114" class = "comment">
				<p>I think it's being held for this purpose by SE.</p>
			</div>
			<div id = "comment-116" class = "comment">
				<p>Yes, I snagged it for this purpose.</p>
			</div>
			<div id = "comment-129" class = "comment">
				<p>@Robert: I was thinking of doing the same, but didn't want to snafu the thing if it was chosen. Much thanks!</p>
			</div>
			<div id = "comment-268" class = "comment">
				<p>Old-time apple users can maybe somehow relate to this, but it took me a while to understand why it is so :-(</p>
			</div>
			<div id = "comment-382" class = "comment">
				<p>"Ask Different" isn't even proper English!! English is my fourth foreign language and even I can see it's plain wrong. Is "Different" a person? Did you mean "Ask *differently*"? Do people really want a title that sounds like we can't even get basic grammar right?</p>
			</div>
			</div>
				<textarea id = "speech-24" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-24">
					<img id="start_img-24" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-41"  class = "post">
				<h2>Answer</h2>
			<div id="vote-41" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can donate <a href="http://coverflowexchange.com/" rel="nofollow">http://coverflowexchange.com/</a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-41" class = 'collapse'>
			</div>
				<textarea id = "speech-41" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-41">
					<img id="start_img-41" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-77"  class = "post">
				<h2>Answer</h2>
			<div id="vote-77" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>finelytunedmagic.com</h2>

<p>available</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-77" class = 'collapse'>
			</div>
				<textarea id = "speech-77" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-77">
					<img id="start_img-77" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-78"  class = "post">
				<h2>Answer</h2>
			<div id="vote-78" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>applequeries.com</h1>

<p>available</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-78" class = 'collapse'>
			</div>
				<textarea id = "speech-78" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-78">
					<img id="start_img-78" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-79"  class = "post">
				<h2>Answer</h2>
			<div id="vote-79" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>askaboutapple.com</h2>

<p>available</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-79" class = 'collapse'>
			</div>
				<textarea id = "speech-79" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-79">
					<img id="start_img-79" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-80"  class = "post">
				<h2>Answer</h2>
			<div id="vote-80" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>AisForAnswer.com</h1>

<p>available</p>

<p>From an Apple II ad.</p>

<p><img src="https://i.stack.imgur.com/mqUNz.jpg" alt="alt text"></p>

<p><a href="http://www.wired.com/gadgets/mac/multimedia/2006/04/appleads?slide=2&amp;slideView=8" rel="nofollow noreferrer">http://www.wired.com/gadgets/mac/multimedia/2006/04/appleads?slide=2&amp;slideView=8</a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-80" class = 'collapse'>
			</div>
				<textarea id = "speech-80" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-80">
					<img id="start_img-80" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-81"  class = "post">
				<h2>Answer</h2>
			<div id="vote-81" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://apple.stackexchange.com">http://apple.stackexchange.com</a></p>

<p>seems perfectly acceptable to me. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-81" class = 'collapse'>
			</div>
				<textarea id = "speech-81" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-81">
					<img id="start_img-81" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-85"  class = "post">
				<h2>Answer</h2>
			<div id="vote-85" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>MacOverflow.com</h1>

<p>It rhymes with Stack Overflow!</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-85">Load Comments</button></br>
			<div id = "commentsection-85" class = 'collapse'>
			<div id = "comment-158" class = "comment">
				<p>Why put *overflow* everywhere ?</p>
			</div>
			<div id = "comment-198" class = "comment">
				<p>I don't think it needs Overflow in the name</p>
			</div>
			<div id = "comment-206" class = "comment">
				<p>@Adam: are we suffering from an overflow of overflows?</p>
			</div>
			</div>
				<textarea id = "speech-85" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-85">
					<img id="start_img-85" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-98"  class = "post">
				<h2>Answer</h2>
			<div id="vote-98" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>infinitelyloop.com</h2>

<p>as courtesy to <a href="http://en.wikipedia.org/wiki/Infinite_Loop_(street" rel="nofollow">http://en.wikipedia.org/wiki/Infinite_Loop_(street</a>).</p>

<p>As variation: infinitelylooping.com
It is taken but seems not used.</p>

<p>Sadly... InfiniteLoop.com is already taken</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-98" class = 'collapse'>
			</div>
				<textarea id = "speech-98" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-98">
					<img id="start_img-98" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>