<html>
	<head>
		<title id = 'pagetitle'>Domain name suggestions
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/134/write-an-elevator-pitch-tagline">Write an Elevator Pitch / Tagline</a>  </p>
</blockquote>



<h2>Note:</h2>

<p>We are closing this domain naming thread. It is asking the <em>entirely</em> wrong question. See this blog post for details: <a href="http://blog.stackoverflow.com/2010/10/domain-names-the-wrong-question/">Domain Names: Wrong Question</a> </p>

<p>We're going to keep the name apple.stackexchange.com. But we WILL be setting up redirects from the more "popular" domains names. (e.g. seasonedadvice.com to cooking.stackexchange.com, basicallymoney.com to money.stackexchange.com, and others as we go through the list).</p>

<p>New question: "<strong>Write and Elevator Pitch / Tagline!</strong>"</p>

<p><a href="https://apple.meta.stackexchange.com/questions/134/write-an-elevator-pitch-tagline"><strong>Click here to contribute ideas and vote.</strong></a></p>

<p><em>[original message text below]</em></p>

<hr>

<p>List them off, try to only put one in each answer though instead of a list of ten. This allows people to upvote individual answers instead of a block.</p>


<h1>ANSWERS</h1>
		<h1>TalkingApples.com</h1>

<p>Available</p>

<p>Maybe to similar to talkingapple.com, which is taken.</p>


<h1>AskDifferent.com</h1>

<p>(It's currently available.)</p>


<p>I can donate <a href="http://coverflowexchange.com/" rel="nofollow">http://coverflowexchange.com/</a></p>


<h2>finelytunedmagic.com</h2>

<p>available</p>


<h1>applequeries.com</h1>

<p>available</p>


<h2>askaboutapple.com</h2>

<p>available</p>


<h1>AisForAnswer.com</h1>

<p>available</p>

<p>From an Apple II ad.</p>

<p><img src="https://i.stack.imgur.com/mqUNz.jpg" alt="alt text"></p>

<p><a href="http://www.wired.com/gadgets/mac/multimedia/2006/04/appleads?slide=2&amp;slideView=8" rel="nofollow noreferrer">http://www.wired.com/gadgets/mac/multimedia/2006/04/appleads?slide=2&amp;slideView=8</a></p>


<p><a href="http://apple.stackexchange.com">http://apple.stackexchange.com</a></p>

<p>seems perfectly acceptable to me. </p>


<h1>MacOverflow.com</h1>

<p>It rhymes with Stack Overflow!</p>


<h2>infinitelyloop.com</h2>

<p>as courtesy to <a href="http://en.wikipedia.org/wiki/Infinite_Loop_(street" rel="nofollow">http://en.wikipedia.org/wiki/Infinite_Loop_(street</a>).</p>

<p>As variation: infinitelylooping.com
It is taken but seems not used.</p>

<p>Sadly... InfiniteLoop.com is already taken</p>


	</body>
</html>