<html>
	<head>
		<title id = 'pagetitle'>Don t migrate cross-posts
		</title>
	<head>
	<body id = 'pagebody'><p>I flagged <a href="https://apple.stackexchange.com/questions/21576/highlighting-color-nstableview-cocoa">this question</a> as being off-topic, and later I noticed that the same question had been <a href="https://stackoverflow.com/questions/7038060/highlighting-color-nstableview-cocoa">cross-posted to Stack Overflow</a>. I then added a comment to the Ask Different question stating it was a cross-post:</p>

<p><img src="https://i.stack.imgur.com/DD91b.png" alt="enter image description here"></p>

<p>Even with this comment, the question ended up being migrated to Stack Overflow, resulting in a duplicate there:</p>

<ul>
<li>Original cross-post on Stack Overflow: <a href="https://stackoverflow.com/questions/7038060/highlighting-color-nstableview-cocoa">https://stackoverflow.com/questions/7038060/highlighting-color-nstableview-cocoa</a></li>
<li>Migrated question from Ask Different, resulting in a duplicate question on Stack Overflow: <a href="https://stackoverflow.com/questions/7038709/change-highlighting-color-in-nstableview-in-cocoa">https://stackoverflow.com/questions/7038709/change-highlighting-color-in-nstableview-in-cocoa</a></li>
</ul>

<p>Is there some other workflow that d make it more obvious to Ask Different moderators that a question is a cross-post and shouldn t be migrated at all?</p>


<h1>ANSWERS</h1>
		<p>In this case, it was a matter of crossed signals. I loaded the page before you posted your comment, you posted the comment, and then I migrated it (8 seconds later) without knowing about the duplicate. And unfortunately, there's no way to un-migrate from this end - it has to be dealt with on Stack Overflow.</p>

<p>If I see that there's a cross-post on another site I won't migrate. The issue here was that I didn't see it and it clearly was a programming question, so I just moved it over.</p>


	</body>
</html>