<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Downloading chat transcripts
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3012" class = "post">
			<h2>Question</h2>
			<div id="vote-3012" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
				<h2>Downloading chat transcripts</h2>
<p>I'm trying to familiarise myself with how Chat works and came across the ability to view a transcript. I noticed, however, this appears to only be a day-by-day view of the chat transcript.</p>

<p>This got me wondering whether it was possible to actually download a transcript? If so, how?</p>

<p>My thinking is that in some cases users may want to peruse a transcript while offline, or perhaps want to view a transcript for a particular month rather than a single day, that sort of thing.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3012" class = 'collapse'>
			</div>
				<textarea id = "speech-3012" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3012">
					<img id="start_img-3012" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3013"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3013" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is no easy way to do it. Right now your sole option is to visit the transcript(s) you want to download then save the pages themselves locally through your browser (<em>File &rarr; Save As</em> or whatever). You'll have to do this individually for every day you want to save.</p>

<p>The general form of the transcript URLs (that the <em>View Transcripts</em> link takes you to), if you ever want to visit one directly, is:</p>

<pre><code>http://chat.meta.stackexchange.com/transcript/89/2017/4/6/0-21
</code></pre>

<p>Where, taking the parts of that example:</p>

<ul>
<li><code>chat.meta.stackexchange.com</code> is the chat server (SE has a few).</li>
<li><code>89</code> is the chat room ID.</li>
<li><code>2017</code> is the year.</li>
<li><code>4</code> is the month.</li>
<li><code>6</code> is the day.</li>
<li><code>0-21</code> is the time of day to view the transcript for.</li>
</ul>

<p>So one tiny trick you can use is for busy rooms where the transcript of a day is divided into time blocks, just use <code>0-24</code> on the end and you can view the whole day. That's about as much as you get in terms of shortcuts.</p>

<p>That said, incidentally, I wrote a utility to scrape <em>all</em> the transcripts of a given room recently, and plan on creating a little web application in the very near future to let folks browse chat transcripts and search chat more easily (and pull fun stats, like emoji leader boards and such). I'll try to remember to post back here when I do, or just ping me in <a href="http://chat.meta.stackexchange.com/rooms/89/tavern-on-the-meta">The Tavern</a>.</p>

<p>But, other than writing your own tool to scrape transcripts, no, there's no way to mass download transcripts aside from visiting each day and just saving the page (which might be just fine for your needs).</p>

<p>Note that there's also a <em>Load to my last message</em> button on the main chat window, so if you're trying to catch up, sometimes that button is helpful (but not always), and you can save the web page to your computer if you want to read it later.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3013">Load Comments</button></br>
			<div id = "commentsection-3013" class = 'collapse'>
			<div id = "comment-6529" class = "comment">
				<p>Thanks for explaining all that - good to know! I'll ping you in a month or so re the utility/web app. :) As an aside, I assume the last bullet point should be `0-24` ?</p>
			</div>
			<div id = "comment-6530" class = "comment">
				<p>@Monomeeth I pulled an unmodified example URL from an actual transcript and 0-21 is where it divided it. I wanted to illustrate a typical URL. You can change it to 0-24 to get the full day.</p>
			</div>
			</div>
				<textarea id = "speech-3013" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3013">
					<img id="start_img-3013" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>