<html>
	<head>
		<title id = 'pagetitle'>Downvoting Etiquette: With or Without Making A Comment?
		</title>
	<head>
	<body id = 'pagebody'><p>I am interested to know what is the correct etiquette (if such exists) when downvoting a question: </p>

<ul>
<li>Do you downvote a question, and then make a comment ?</li>
<li>Do you make a comment first, and then downvote immediately afterwards (or indeed wait a certain time period before applying the downvote) ?</li>
<li>Or is it irrelevant which way around the downvote/comment is undertaken ?</li>
<li>Indeed what are the consequences (if any) of applying a downvote to a question without making any comment whatsoever ?</li>
</ul>

<p>I believe this to be an important question, so would appreciate clarification in the above regard.</p>

<p><strong>Edit</strong></p>

<p>I forgot obviously this applies to downvoting with regards to the respective answer(s) as well (and not just questions).</p>


<h1>ANSWERS</h1>
		<p>The order of coment and downvotes does not really matter as the reader is very unlikely to see the question between the two actions.</p>

<p>However more imprtantly is the last question "Indeed what are the consequences (if any) of applying a downvote to a question without making any comment whatsoever ?" and the answer is none, that is how StackExchange sites are meant to be used. Downvote if you think the question is not good, you do not need to say why.</p>

<p>See many meta stackexchange threads <a href="https://meta.stackexchange.com/questions/135/encouraging-people-to-explain-downvotes">here</a> and <a href="https://meta.stackexchange.com/questions/55324/downvoters-and-comments">here</a> and <a href="https://meta.stackexchange.com/questions/138189/is-it-ok-to-indicate-that-i-downvoted-in-a-comment">here</a></p>


<p>I would argue that <strong>no</strong>, one need not feel any obligation to comment when downvoting a post.</p>

<p>First of all, voting is, by design, anonymous, and comments are not. If we don't want the site to have an anonymous negative feedback mechanism, we should request that feature be removed. Having an anonymous negative feedback mechanism in place that no one is supposed to use is rather absurd.</p>

<p>Secondly, with regard to answers, the downvote button is labeled "This answer is not useful." We discourage people from posting comments like "thanks, this worked for me"; rather, we encourage them to simply click the up arrow. Similarly, we don't need a host of comments saying, "this answer doesn't work." Voting communicates information; we don't need to duplicate it in comments.</p>

<p>A downvoted question is more ambiguous: it could mean the question does not show research effort, it could mean it is unclear, and it could mean it is not useful. A comment would certainly add clarity. But even for questions a vote by itself communicates useful information.</p>

<p>Now if one wants to offer constructive information to the poster beyond "this answer is not useful," a comment might be quite helpful. But that added information is a bonus; we should neither require nor expect people to post that.</p>

<p>Most of the time users don't need to downvote anything. Upvote what is good and the rest will filter out. But sometimes one encounters a question or answer that needs to be actively marked as not working. While a vote and comment might communicate even more, a vote by itself should never be considered inappropriate.</p>

<p>I expect some people will think it clever to vote against this answer. If you disagree with my point, you of course can do so. And voting on meta is different than on the main site. That said, I would urge people to refrain from pressuring downvoters to comment. We have far too little voting on the site to begin with; let's not discourage people from participating!</p>


<p>I think if this site was only about encouraging people to votes then you could give a point for an upvote. But it is not. Its about getting answers to your questions. The voting system is a mechanism to try and help qualify an answer or question.</p>

<p>I understand the need for anonymous voting. But that does not mean I think not commenting on down votes for answers is helpful.  But I also understand that if every on down voted commented it would become a mess.</p>

<p>So we are stuck with the good things and bad things because no one solution is going to fully help the site function.</p>

<p>So Can I suggest a something else that is added to the voting buttons.</p>

<p>Clicking the up or down vote reveals  a popover which gives the more reasons to why the voter is voting. "This Answer is not useful", "This Answer does not work".."Other" and so on.</p>

<p>The vote counte number changes. But the reason is added to a Poll. Which can be viewed by other readers if they want to see what the overall reasons for the votes are. This in some where may give a clearer indication to the anonymous voting than the simple one we have now, be more helpfull and without causing the clutter of duplicate comments.</p>

<p><strong>Small update for mark's comment.</strong>
Answer is well thought out.</p>

<p>Answer is well thought out and structured.</p>

<p>Answer Works as described.</p>

<p>I Just like the Answer</p>

<p>Answer is correct but badly constructed.</p>

<p>Answer is incorrect.</p>

<p>Answer dose not work as described.</p>

<p>Answer is not useful</p>


	</body>
</html>