<html>
	<head>
		<title id = 'pagetitle'>Draft forgets title of question
		</title>
	<head>
	<body id = 'pagebody'><p>I was writing a question on <em><a href="http://apple.stackexchange.com">apple.stackexchange.com</a></em>. I saw the little  draft saved . I went away, then I went back to the page.</p>

<p>I found my draft question, with even the tags, but the title was empty.</p>

<p>Here just now I reproduce the bug.</p>

<p>I have Safari on iOS 7 on an iPad mini.</p>

<p>It would be nice to fix this bug. Thank you !</p>


<h1>ANSWERS</h1>
			</body>
</html>