<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Editing most effective way to recieve rep?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2251" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::58</h3>
				<h2>Editing most effective way to recieve rep?</h2>
<p>I'm convinced editing is the best way to receive rep. All you need to do is fix a couple of typos and bam! You have +2 rep. I know answering is probably the best was to receive rep, but, if you look at my (or most people's answer history), you'll probably notice hardly any have been check marked. This ruins the motivation for answering.</p>

<p>Moreover, answering has a risk/reward factor. While editing only gets a little rep, there is no penalty for it if rejected.</p>

<p>Opinions?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2251">Load Comments</button></br>
			<div id = "commentsection-2251" class = 'collapse'>
			<div id = "comment-4253" class = "comment">
				<p>The motivation for answering is to improve the site:) You get more rep for being upvoted than you can get for supplying the accepted answer. (10 for **each** up vote and one lot of 15 for being accepted) and even if you don't get the up votes and just acceptances you get a badge</p>
			</div>
			</div>
				<textarea id = "speech-2251" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2251">
					<img id="start_img-2251" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2252"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Editing posts is definitely a way of earning reputation, but it's not the most efficient. The nominal 2 reputation you receive per accepted suggested edit won't earn you a great deal of reputation unless you edit a lot.</p>

<p><a href="https://stackoverflow.com/users/1549818/grgarside?tab=reputation">My Stack Overflow profile</a> mainly consists of editing posts. At the time of writing, I have over <a href="https://stackoverflow.com/users/1549818/grgarside?tab=activity&amp;sort=suggestions">400 approved suggested edits</a>, earning me <a href="https://stackoverflow.com/users/1549818/grgarside?tab=reputation">748 reputation out of a total ~1100</a>. However, these 400 edits took a large proportion of time compared with the <a href="https://stackoverflow.com/users/1549818/grgarside?tab=answers">13 answers</a> I've provided, earning me ~300 reputation. Those 13 answers didn't take very long to write and the reward for the effort I gave was worth it far more than the suggested edits.</p>

<p>In a more extreme case, here on Ask Different, I've earned 160 reputation from my lifetime of suggested edits, including tag wiki edits an insignificant contribution to the ~35k reputation from <a href="https://apple.stackexchange.com/users/37797/grgarside?tab=answers">other means</a>.</p>

<p>Only when you edit many, many edits very quickly do they become a worthwhile strategy for earning reputation, but suggested edits should be substantial improvements to a post and making minor/bad edits would get you suspended if they get rejected.</p>

<p>Posting great answers will earn you <a href="https://apple.stackexchange.com/users?tab=Reputation&amp;filter=all">plenty of reputation</a>, far exceeding that from suggested edits.</p>

<p>Finally, a point of note regarding rejected suggested edits: yes, there's no penalty for having a few rejected edits, but having a high reject/approve ratio will get you suspended, if not manually by a moderator.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2252">Load Comments</button></br>
			<div id = "commentsection-2252" class = 'collapse'>
			<div id = "comment-4249" class = "comment">
				<p>Ok, so say I made 100 minor edits (1-2 typos) and they all got accepted. Would I still get suspended?</p>
			</div>
			<div id = "comment-4250" class = "comment">
				<p>@mehmenmike Accepted edits won't count towards a suspension.</p>
			</div>
			<div id = "comment-4251" class = "comment">
				<p>Cool, cool. Your answer was a bit ambiguous there.</p>
			</div>
			<div id = "comment-4252" class = "comment">
				<p>@mehmenmike Edited</p>
			</div>
			</div>
				<textarea id = "speech-2252" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2252">
					<img id="start_img-2252" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2253"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I will re-iterate what <a href="https://apple.meta.stackexchange.com/users/37797/grgarside">George</a> has said:</p>

<p>The best way to earn reputation is to:</p>

<ul>
<li>know actual useful information</li>
<li>post that information on the correct question in a way that helps others</li>
</ul>

<p>All the other methods are an order of magnitude or more less efficient. The rep increase for edits and questions is far less voted upon here and combined with the decreased point value of a successful vote makes them icing on the cake so to speak.</p>

<p>If you don't know useful facts, then editing can be hazardous since the community has to expend work to reject edits that don't <strong>substantially improve</strong> a post.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2253" class = 'collapse'>
			</div>
				<textarea id = "speech-2253" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2253">
					<img id="start_img-2253" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>