<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Edit Privileges, approve vs self-edit
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2600" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::54</h3>
				<h2>Edit Privileges, approve vs self-edit</h2>
<p>Let's assume a very simple edit for this example.</p>

<p>An OP uses ALL CAPS for their question title.<br>
I go to edit that out, just to make it less shouty.<br>
Another user has already made a similar edit, but doesn't have the rep for it to simply be accepted, it needs review.<br>
I review it &amp; accept.<br>
It still requires one more vote before the shouting is toned down.</p>

<p>I could have done that myself, without it needing approval.</p>

<p>Just to get the simple 'first fix' done quickly, should I have just rejected &amp;/or improved the original edit, even though there was nothing inherently wrong with it?<br>
This, though, assumes I'm expecting that the edit will need a second vote.</p>

<p>... or should I just get over my OCD &amp; learn to live with it?  ;-)</p>

<p>Ref: <a href="https://apple.meta.stackexchange.com/questions/1489/suggested-edits-now-take-more-than-one-review">Suggested Edits now take more than one review?</a></p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2601"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Great points - I think we are quite fortunate to have general high quality questions here and it's really hard to ignore a post that hits my buttons - so I will assume I'm in somewhat the same boat as you with SOME POSTS THAT ARE ALL CAPITALS.</p>

<p>Let's split things apart. Editing privilege: the site bumps questions that get edited, so the intent behind the two person is that a question has to be good enough for 2 different people to care about it for an edit to change. This minimizes the trivial edits and maximizes eyes on one person's attempt to change things. Editing comes lower than review - so change there can be malicious, with good intent but bad effect, with bad intent but good result and a genuinely positive change. The second editor then needs to uphold the change the first did.</p>

<p>Review is a bit higher in rep so you have more latitude to choose what to approve and step in to change things.</p>

<p>Lastly, at 2k reputation you can edit a post yourself.</p>

<p>The help page for this is: <a href="https://apple.stackexchange.com/help/privileges/edit">https://apple.stackexchange.com/help/privileges/edit</a></p>

<p>So - you are allowed to edit a post for grammar and clarity, so fixing all caps is clearly encouraged and allowed. However, I have generally declined to edit a question that is so poorly presented. If the OP cares so little about learning and adhering to the way people have chosen to compose thoughts here that their post is ALL CAPS, I find that generally the question isn't good enough quality for my time to edit it. I'd rather focus my volunteer time on posts that need less caring and attention to be useful to the site.</p>

<p>Basically, the main question is do you see enough promise in that post to wade in and do the work needed to make it look good. The phrases "polishing a turd" or "putting lipstick on a chicken" come to mind. After thousands of edits, I'm not so concerned with fixing all the things but instead fixing things I feel need a better presentation since they are of a higher value to be answered or presented properly.</p>

<p>There's no one right philosophy though - the site depends on hundreds of editors, each with their preferences about what makes them happy to keep the place running smoothly. If your OCD results in these posts being cleaned up, I'm a big fan of your efforts. If not, I'll probably be a fan of what other things you choose to do.</p>

<p>HTH - TLDR - <em>if you are allowed to edit and care to edit</em>, <strong>go ahead and do it</strong>. Ping someone in chat to get eyes on a couple of edits you're not sure are the best if you want feedback but it's not worth a second meta post.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>