<html>
	<head>
		<title id = 'pagetitle'>Edit other person comment (not working though)
		</title>
	<head>
	<body id = 'pagebody'><p>Check out the image below, this assumes I can edit someone's comment.
However, clicking it does nothing.</p>

<p>What does that button do there? In this specific picture it's next to Buscar's name and the <em>15 minutes ago</em>
<img src="https://i.stack.imgur.com/Q0lWT.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>This answer is pretty easy and the question was pretty silly.</p>

<p>The pencil indicates that the post was edited by someone, not that I could edit it.</p>


	</body>
</html>