<html>
	<head>
		<title id = 'pagetitle'>Editor button or shortcut for <kbd> tag?
		</title>
	<head>
	<body id = 'pagebody'><p>I like the <code>&lt;kbd&gt;</code> tag. It's a quick way to let people know that you want them to press a keyboard shortcut.</p>

<p>However, I find my self just using the &#96; shortcut to set key commands to monospace because it's so much easier to type than <code>&lt;kbd&gt;cmd&lt;/kbd&gt;+&lt;kbd&gt;opt&lt;/kbd&gt;+&lt;kbd&gt;i&lt;/kbd&gt;</code></p>

<p>Would you guys like a toolbar button in the post editor for making wrapping something in a <code>&lt;kbd&gt;</code> tag? I sure would.
<br>But even more, I'd like to be able to do it textually: <code>[cmd]+[opt]+[i]</code>. That'd save me a lot of time.</p>

<p>How about you guys?</p>


<h1>ANSWERS</h1>
		<p>I'm a big proponent of this being added - especially after trying to use the site exclusively for a few days on the iPad.</p>

<p>Arguments against:</p>

<ul>
<li>Another icon in the edit bar adds clutter or bumps something still widely used.</li>
<li>Those that don't like seeing <kbd> </kbd> might oppose tools that encourage use of the <code>&lt;kbd&gt;</code> tag.</li>
<li>The formatting of these disrupt paragraphs just like an image embed can.</li>
</ul>

<p>Arguments for:</p>

<ul>
<li>The iPad keyboard is way less efficient to get to &lt; and / than a physical keyboard.

<ul>
<li>Keying <kbd>S</kbd> takes <strong>12 presses</strong> on a real keyboard (i suppose 5 of those are shift "letters" but it is one action to make the letter not two taps like on the iPad)</li>
<li>Keying <kbd>S</kbd> takes <strong>25 presses</strong> on an iOS keyboard (try it yourself right now... <em>I bet you'll mess up the / and have to use a few more taps than the most efficient way about half the time you try this</em>)</li>
</ul></li>
<li>It makes discovery of and use of that tag easier for new users.</li>
<li>It makes the site look professional and matches <a href="http://developer.apple.com/library/mac/documentation/userexperience/conceptual/APStyleGuide/APSG_2009.pdf" rel="nofollow noreferrer">Apple's style of documenting key presses</a>. (See the following pages of the 2009 version of the style document: 41, 100-101 especially read pages 100 through 101 for the difference between order, using - vs +, and more) </li>
<li>It makes it easier non-native level english readers to understand in a flash that the answer calls for a specific key to be pressed.</li>
<li>AutoCorrect on iOS and now Mac OS X futzes with these non-dictionary tags making automation more important to avoid incorrect tags.</li>
</ul>

<hr>

<p>Here's where my opinion really gets aired - I realize and like that it's not a universally shared opinion :-)</p>

<p>I would like to be lazy and have the toolbar help me add key caps markup syntax easier to type.</p>

<p>&lt; kbd > and &lt; /kbd > could be added just like block quote and code sample. </p>

<p>Are there any stats on how often these tags get used on Ask Different? What percentage/count of users has ever used X tag might be interesting to compare. Also - what percentage/count of questions have used said tags.</p>

<p>Perhaps no-one is using &lt; kbd > except for me?</p>

<p>I think the style guide is a bit harsh on how bad these are in practice - so I'll add an answer there in defense of how easily people new to mac can see <kbd>option</kbd> + <kbd>command</kbd> +<kbd>P</kbd> +<kbd>R</kbd> intuitively means you hold them all down together.</p>

<p>Specifically, the confusion over naming of keys is due to Apple changing their symbols over time, people remembering the old way, and the fact that keyboards are different around the world as well as on Windows / Mac. </p>

<p>The other confusion is the difference between the silkscreened mask on the keyboard doesn't match the menu shortcuts. For example, all macs now use <kbd> </kbd> and <kbd> </kbd> printed on the keyboard, but if you look in the Bookmarks menu of safari, you will see the characters drawn as   and  </p>

<p><img src="https://i.stack.imgur.com/AolZ9.png" alt="enter image description here"></p>

<p>Blaming the key cap <code>&lt;kbd&gt;</code> format for these problems is a red herring - the confusion exists whether you spell out command or use  , whether it's an up arrow or an up triangle. We as a community have to deal with that confusion either way. Why not automate the formatting so people can pay attention to the message - making answers here match what mac users have had in their language for describing key presses for years.</p>

<p>I am of a strong opinion that when used properly, these tags make the site look professional and better match the documentation that Apple provides. I would want to encourage people to know it's possible and make it easier to select a word like option and automate wrapping it.</p>

<p>Geting to the &lt; > and / are tedious alone on iOS and autocorrect needs to be beat into submission which makes it even harder to get that edit done while mobile.</p>


<p>I am very much in favor of creating a syntax like <kbd>Command  </kbd>+ <kbd>Option  </kbd> + <kbd>I</kbd> as it would solve a number of problems. As an iPad user I'm also in favor of an iPad friendly tool bar button. </p>

<p>How has this request languished for so long?</p>


	</body>
</html>