<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Edit other person comment (not working though)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1957" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::27</h3>
				<h2>Edit other person comment (not working though)</h2>
<p>Check out the image below, this assumes I can edit someone's comment.
However, clicking it does nothing.</p>

<p>What does that button do there? In this specific picture it's next to Buscar's name and the <em>15 minutes ago</em>
<img src="https://i.stack.imgur.com/Q0lWT.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3755" class = "comment">
				<p>It appears I was silly and it displays it was edited instead of that I can edit it.</p>
			</div>
			<div id = "comment-3762" class = "comment">
				<p>Want to self answer this so others can learn?</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1959"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This answer is pretty easy and the question was pretty silly.</p>

<p>The pencil indicates that the post was edited by someone, not that I could edit it.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>