<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Edited vs. saved answer differs
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-3047" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::18</h3>
				<h2>Edited vs. saved answer differs</h2>
<p>What's wrong with the database/website engine?</p>

<p>The edit window differs from the saved <a href="https://apple.stackexchange.com/a/285890/93229">answer</a>:</p>

<p><strong>Edit window with preview:</strong></p>

<p><a href="https://i.stack.imgur.com/vhy9N.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/vhy9N.png" alt="enter image description here"></a></p>

<p><strong>After saving any modification the 120g is automagically replaced with 100%:</strong></p>

<p><a href="https://i.stack.imgur.com/thhKk.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/thhKk.png" alt="enter image description here"></a></p>

<p>In the <strong>edit history</strong> everything is <a href="https://apple.stackexchange.com/posts/285890/revisions">fine</a>. Emptying browser caches doesn't help.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6613" class = "post">
				<p>Yup, [source](https://apple.stackexchange.com/revisions/b1ab0079-eaf5-46de-a411-dd01c0e6cf4c/view-source) shows  120g , how peculiar.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>