<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Edits by anonymous users?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Edits by anonymous users?</h2>
<p>In edit review I got this.</p>

<p><img src="https://i.stack.imgur.com/XJgaY.png" alt="enter image description here"></p>

<p>Clearly a vandalism. It is always by Anonymous user. What sense does it make to allow anonymous to edit? Do we have any insightful edit by those?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Yes - There have been many anonymous edits that are very high quality. Often it's someone who knows their stuff and doesn't want to log in on a strange computer or possibly compromised network but also wants to fix something that's really wrong.</p>

<p>You are certainly correct that the majority of simple edits are bad and should be reviewed and rejected. I probably see more spam edits by "named" users than anonymous users, but the system to automatically catch and reduce these is getting much better hence the uptick in edits to spam as opposed to posting spam.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>