<html>
	<head>
		<title id = 'pagetitle'>Edit SPAM posts
		</title>
	<head>
	<body id = 'pagebody'><p>If you come across a post which is obviously a SPAM post, like <a href="https://apple.stackexchange.com/questions/71771/im-looking-for-teen-chat-rooms">this one</a>. Is it a common use to edit the question like </p>

<blockquote>
  <p>"content removed due to spam restrictions"</p>
</blockquote>

<p>or is this a job for moderators and is our job limited to flagging this post?</p>


<h1>ANSWERS</h1>
		<p>The moderators exist to expedite handling of things that most people would close or edit.</p>

<p>In the case of obvious spamming, attention grabs - flagging is often the best way to not encourage bad behavior by bumping something up on the active queue.</p>

<p>When something is so clearly harmful or spam, it's OK to edit if you are improving things - but generally a vote to close or a flag is the best choice.</p>

<p>In the case you linked to - the close vote, downvote and flag would be the actions I would take. No need to edit it to make it look better or less threatening - just close, flag and move on.</p>

<p>We encourage community editing for making things better - so that's always acceptable if your motive is good - but sometimes you can't "polish a turd" and end up spreading it when it needs someone with the right tools to properly dispose of a post.</p>


	</body>
</html>