<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Election fraud on Apple.SE!!1!
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Election fraud on Apple.SE!!1!</h2>
<p>OK, now I have your attention.</p>

<p>There seems to be a glitch on <a href="https://apple.stackexchange.com/about">Apple.SE about</a> page, where our latest <a href="http://blog.stackoverflow.com/2011/03/welcome-valued-associate-josh-heyer/">Valued Associate</a> <strong>Shog9</strong> appears on the elected moderator list, even though he wasn't elected.</p>

<p>See:</p>

<p><img src="https://i.stack.imgur.com/vOZhq.jpg" alt="enter image description here"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It appears to be a glitch with new employees; after Shog logs out and back in, apparently, his name will vanish from that list.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Curses! My ballot-stuffing has been detected! And I would have gotten away with it too, if not for you meddling kids...</p>

<p>(I changed OpenIDs and didn't update everywhere. Sorry for the confusion - the about page should appear correctly now.)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>