<html>
	<head>
		<title id = 'pagetitle'>Email answer question is out of place
		</title>
	<head>
	<body id = 'pagebody'><p>The alignment here is not very nice. It would be good to have a bit more space between the Answer button and the <code>i</code> too.</p>

<p>Chrome, Mac OS</p>

<p>Safari 7.0.3 repro</p>

<p><img src="https://i.stack.imgur.com/sLhDs.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>I've tagged this as feature request, since it's clearly a design aesthetic and the I and text starting with "Would you like to" serve zero functional purpose.</p>

<p>The designer put this together and from other use of the "Circle i" it appears that the top of the icon visually is to be aligned with the top of the text that goes next to the icon.</p>

<p>If there is some way the site doesn't work for you with the layout (say for some reasonable screen size, the alignment puts an important part of content off screen) we can change this back to a bug.</p>


<p>Sorry 'bout the delay. This will be fixed in the next build, bringing the layout in line with the rest of the network:</p>

<p><img src="https://i.stack.imgur.com/qE2mS.png" alt="enter image description here"></p>


	</body>
</html>