<html>
	<head>
		<title id = 'pagetitle'>Email responses prompt crowds Answer button
		</title>
	<head>
	<body id = 'pagebody'><p>The Add Another Answer/Answer your Question button is floated to the left, causing the prompt to receive email notifications appear somewhat awkwardly to the right:</p>

<p><img src="https://i.stack.imgur.com/QMTs8.png" alt="email question offset"></p>

<p>I'm not positive it doesn't end up in the same position on other sides, but the prompt should at least be in line with the button vertically and spaced a little further to the right.</p>

<p>The <code>float: left;</code> on that prompt also causes weird things when you get errors on the ask form:</p>

<p><img src="https://i.stack.imgur.com/1qvVN.png" alt="oddly positioned self-answer checkbox"></p>


<h1>ANSWERS</h1>
		<p>This appears to be fixed.</p>

<p><img src="https://i.stack.imgur.com/Kgf6i.png" alt="enter image description here"></p>


	</body>
</html>