<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Email responses prompt crowds Answer button
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1607" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::34</h3>
				<h2>Email responses prompt crowds Answer button</h2>
<p>The Add Another Answer/Answer your Question button is floated to the left, causing the prompt to receive email notifications appear somewhat awkwardly to the right:</p>

<p><img src="https://i.stack.imgur.com/QMTs8.png" alt="email question offset"></p>

<p>I'm not positive it doesn't end up in the same position on other sides, but the prompt should at least be in line with the button vertically and spaced a little further to the right.</p>

<p>The <code>float: left;</code> on that prompt also causes weird things when you get errors on the ask form:</p>

<p><img src="https://i.stack.imgur.com/1qvVN.png" alt="oddly positioned self-answer checkbox"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2991" class = "comment">
				<p>With you pointing out some issues, I realize I've since started ignoring the bugs in layout and function we have here :( I've not had good response when posting bugs to the main meta - especially when using mobile safari. Thanks for the fresh eyes.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1840"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This appears to be fixed.</p>

<p><img src="https://i.stack.imgur.com/Kgf6i.png" alt="enter image description here"></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>