<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Emojis usage in Comments and Answers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Emojis usage in Comments and Answers?</h2>
<p>Will Ask Different Community support Emoji in replies and answers? </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Given that <a href="https://apple.stackexchange.com/questions/41228/why-do-emoji-like-%EF%BF%BD%EF%BF%BD-appear-when-i-use-safari-but-not-chrome/41347#41347">emoji support is not uniform across all browsers</a> I would caution anyone attempting to use them in a question or answer to think carefully before doing so. Unless it adds a serious bit of relevant context to your question or answer, my advice would be to avoid them.</p>

<p>Sorry to   on your parade.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>