<html>
	<head>
		<title id = 'pagetitle'>Emojis usage in Comments and Answers?
		</title>
	<head>
	<body id = 'pagebody'><p>Will Ask Different Community support Emoji in replies and answers? </p>


<h1>ANSWERS</h1>
		<p>Given that <a href="https://apple.stackexchange.com/questions/41228/why-do-emoji-like-%EF%BF%BD%EF%BF%BD-appear-when-i-use-safari-but-not-chrome/41347#41347">emoji support is not uniform across all browsers</a> I would caution anyone attempting to use them in a question or answer to think carefully before doing so. Unless it adds a serious bit of relevant context to your question or answer, my advice would be to avoid them.</p>

<p>Sorry to   on your parade.</p>


	</body>
</html>