<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Enforcing one-question-per-question
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Enforcing one-question-per-question</h2>
<p>Sometimes users (especially new ones) post several good, substantive questions in a single post. This leads to all sorts of chaos with regard to the answers, and we have the one-question-per-question-post rule to prohibit this. But particularly when there are two good questions in the post, the tools currently available seem unfortunate. Either the question could be edited to delete one of the questions, or the question could be closed and the OP could be asked to submit the questions separately. Particularly with new posters, they seem more likely to go away than to do that. And then we lose out on good questions.</p>

<p>Is there any way moderators could have the power to split a post into multiple posts, each attributed to the OP? That way we wouldn't have to lose good questions, but the answers could be kept in order also.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Flag these questions ( but only if you can't edit it yourself )</p>

<p>Post them to the chat room if you'd like editing help or a second opinion. </p>

<p>Edit them mercilessly. (but kindly - leave a comment that you want the one true question to ring out and let the questioner know they can surely re-edit or ask again)</p>

<p>Attacking this is tough. Especially when you want to be kind to a new person, not assume you know what they have spoken, don't want to change their meaning.</p>

<p>But - the edit system allows them to revert things, tune your tune-up, and generally encourages everyone to step up and edit or at least flag it.</p>

<p>I think the tools are there if we all start using them. Have you seen a question where flagging or editing wasn't the appropriate way to handle this sort of generality?</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>You also have to distinguish between multiple questions and followup questions preemptively asked. For example, I usually ask questions like "What does X mean? If it means Y, what do I do? If it means Z, what do I do?". That form is OK, because it's stemming from a single primary question.</p>

<p>On the other hand, questions that aren't correlated should be edited. As it's impossible to split the question in the engine, my approach has been to keep the first question and remove the rest of them, and leave a comment requesting that they re-ask their other questions as separate questions.</p>

<p>This is not something that only moderators can do - anyone can suggest or make an edit removing the other questions, and the threshold for commenting is similarly very low. So flag them if you must, but I would be thrilled to see members of the community taking care of this kind of stuff themselves. This is not a matter of laziness, but the simple fact is that moderators don't scale, the community does.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>