<html>
	<head>
		<title id = 'pagetitle'>Error trying to upload a picture
		</title>
	<head>
	<body id = 'pagebody'><p>I was attempting to upload a picture to add <a href="https://apple.stackexchange.com/questions/161701/how-can-i-force-or-an-application-to-be-launched-to-the-2nd-monitor">to my question here</a> but I kept getting this message box (which I've never seen before across StackExchange):</p>

<p><img src="https://i.stack.imgur.com/Pmi18.png" alt="enter image description here"></p>

<p>Which, after clicking OK, lead to this page, which I've also never seen on StackExchange.</p>

<p><img src="https://i.stack.imgur.com/9pbQI.png" alt="enter image description here"></p>

<p>Now clearly, I'd like to add pictures to my question.  And I can tell that the error message says its not my fault, but...</p>

<p>What is "framing"?  I've never heard that and had no idea my pictures had this.  Is there an easy way I can remove the framing from my pictures before attempting to upload them so that StackExchange doesn't crash when attempting to do it?</p>

<p>For what it's worth, the picture is one of two images created when I did a Cmd+Shift+3 screenshot on a dual-monitor setup.</p>


<h1>ANSWERS</h1>
		<p>The maximum image size you can upload is 2 MB. If you try to upload an image greater than this size, you receive this error.</p>

<p>Framing is regarding the error message that Imgur provides, not the image itself. Stack Exchange does not allow framing in general and Imgur trying to do this will cause this error.</p>


	</body>
</html>