<html>
	<head>
		<title id = 'pagetitle'>Fanboy editing radically change the author intention
		</title>
	<head>
	<body id = 'pagebody'><p>I made a question, is this</p>

<p><a href="https://apple.stackexchange.com/questions/73421/how-itunes-11-manage-duplicates">Does iTunes 11 need extra services or tools to manage duplicates in the library?</a></p>

<p>The core of the question is "Maybe iTunes 11 finds and delete them automagically?"</p>

<p>It is got edited TWICE to remove my rant AND it has been closed as a duplicate question because it has been changed to "how i can find duplicated songs".</p>

<p>It's not a duplicate question, please reopen.</p>

<p>I have the feeling that the editor had a reaction like "OMG this guy is so wrong, iTunes 11 is a masterpiece, Apple can't be wrong"</p>


<h1>ANSWERS</h1>
		<p>I'm glad you came here and posted. I was pondering whether to delete your entire thread - reverse the editing and let your mild insults stand so people could just know you've got an opinion and decide to move on or commiserate and stand by you. I am certain that many feel exactly like you - perhaps even several Apple fans.</p>

<p>I haven't had chance to have a second moderator look at your posts - but I'll be sure to have another have a look to make sure we're comfortable as a group closing it.</p>

<p>I don't want anyone getting bullied here - but when you walk in and call people fanboys - it's hard to respect the words you are writing since the first thought that comes when I see someone resorting to names over logic is "I'd sure rather this person explained how they are not a hater or troll before resorting to dismissing others as fans."</p>

<p>I'll start a private chat to see what you want your question to be and if I can help you get it on the site. Have a look at this question and comments in the mean time: </p>

<ul>
<li><a href="https://apple.stackexchange.com/q/73191/5472">How can I downgrade iTunes 11 to 10.7 in Mountain Lion?</a></li>
</ul>

<p>We have a lot of people showing up and using terms like "hate, stupid, fanboy" and we are trying to keep things on a level where in a month - people don't have to go back and retract things they said because they didn't like that something changed on them.</p>

<p>While I'm thinking things over - would you go back and edit the question that is currently closed (still searchable, still editable, still re-openable by any 5 users that like it and have reputation on the site to reopen votes) and word it to be exactly what you wish? You can totally revert my edits - build on them or re-write it from scratch. </p>

<p>I'd like to act on something you feel captures your intent perfectly and not in reaction to flags or comments or how it was worded initially.</p>


<p>I felt there was a valid question in there (how can I removes dupes on iTunes 11 for Windows), but if your main reaction after we take the time to edit it to a proper form is to insist on ranting instead of posing answerable questions and calling names, your questions have no place in our community.</p>

<p>As I commented on the question, have a look at the FAQ to learn how to ask questions here. </p>


<p>To add my two cents: If the whole purpose of your question is to ask whether iTunes 11 finds and somehow flags duplicates automatically, just rewrite it accordingly and request a reopen. It is most likely a rhetorical question but I still might support you in reopening then.</p>

<p>But please also understand that the original wording of the question appeared to more of a rant about a removed feature (and Apple in general) than a serious question. Statements like "forever, because Apple doesn't listen to users" and some of the comments just don't instill too much confidence to the contrary.</p>


	</body>
</html>