<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>faq#ask should not include points that belong under faq#dontask
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1377" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::86</h3>
				<h2>faq#ask should not include points that belong under faq#dontask</h2>
<p>I clicked <a href="https://apple.stackexchange.com/faq#dontask">What shouldn't I ask here?</a> and was puzzled by no mention of jailbreaking, NDA and so on. </p>

<hr>

<p>Later I realised that a separate section   What <strong>can</strong> I ask here?   includes a list of things that should <strong>not</strong> be asked. At least: </p>

<blockquote>
  <p>  refrain from asking about ...</p>
  
  <ul>
  <li>Apple Developer Programs or iTunes Connect (including iAd and the iBookstore)</li>
  <li>programming, with the exception of AppleScript and Automator</li>
  <li>installing or using Apple operating systems on non-Apple hardware</li>
  <li>a shopping or buying recommendation for hardware</li>
  <li>pre-release or beta software (We consider versions not available to the public to be - in this category)</li>
  <li>obtaining or using pirated software or media</li>
  </ul>
  
  <p> beta, pre-release, and general developer questions that might be covered with a Non-Disclosure Agreement (NDA)  </p>
</blockquote>

<hr>

<p>Arranging things in that way, in the two subsections of the FAQ, is counterintuitive. Nots and nons are currently misclassified as can-dos.</p>

<p><a href="https://apple.stackexchange.com/faq#dontask">What kind of questions should I <strong>not</strong> ask here?</a> should list: </p>

<ul>
<li>refrains (the nots) </li>
<li>stuff that might be subject to nondisclosure (the nons). </li>
</ul>

<h1>Summary</h1>

<p>This meta question is: </p>

<ul>
<li>about arrangement of points within the FAQ page</li>
<li>not about removal of points. </li>
</ul>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1377">Load Comments</button></br>
			<div id = "commentsection-1377" class = 'collapse'>
			<div id = "comment-2644" class = "comment">
				<p>Could you clarify what you'd like to see so I can determine if this needs to be fielded here or on the main meta? I'll make an answer based on my understanding of the situation.</p>
			</div>
			<div id = "comment-2645" class = "comment">
				<p>Thanks @bmike. At least some of the six points seem Apple-specific.</p>
			</div>
			<div id = "comment-2646" class = "comment">
				<p>Indeed - I presume you are not calling for removal of the specific things we discourage but for it's relocation.</p>
			</div>
			</div>
				<textarea id = "speech-1377" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1377">
					<img id="start_img-1377" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1382"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Here is how the FAQ works today.</p>

<p>All sites on Stack Exchange (87 full and another 52 beta) currently have static content for the FAQ and a very small section that can be customized for a specific site.</p>

<p>By design, we can only customize this top section.</p>

<p>Here's what could be done today:</p>

<ol>
<li>Delete all the site specific guidance on what not to ask (if the confusion of having it it two places was seen to be worse than having it in the FAQ)</li>
<li>Ask on the main meta to allow sites to customize the "don't ask" portion as well as the "ask" portion.</li>
</ol>

<p>I feel strongly that our customized "do not ask" information needs to be in the FAQ and thus would support keeping it there until such a time that #2 is possible for us to accomplish.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1382">Load Comments</button></br>
			<div id = "commentsection-1382" class = 'collapse'>
			<div id = "comment-2647" class = "comment">
				<p>Total agreement that a shortlist of questions to **not** ask does belong somewhere in the primary FAQ page.</p>
			</div>
			<div id = "comment-2648" class = "comment">
				<p>Perfect. You could leave this question here and see if a similar question has been asked on the main meta (or ask it yourself there) so that the main meta question could see how one site is working around this limitation.</p>
			</div>
			<div id = "comment-2649" class = "comment">
				<p>Groovy. This answer alone is acceptable to me (personally) but I'll leave the question open indefinitely for other meta bods to consider at their leisure. If/when a `status-completed` time approaches, ping me here or in chat and I'll tidy up.</p>
			</div>
			</div>
				<textarea id = "speech-1382" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1382">
					<img id="start_img-1382" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>