<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>faq#ask should not include points that belong under faq#dontask
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>faq#ask should not include points that belong under faq#dontask</h2>
<p>I clicked <a href="https://apple.stackexchange.com/faq#dontask">What shouldn't I ask here?</a> and was puzzled by no mention of jailbreaking, NDA and so on. </p>

<hr>

<p>Later I realised that a separate section   What <strong>can</strong> I ask here?   includes a list of things that should <strong>not</strong> be asked. At least: </p>

<blockquote>
  <p>  refrain from asking about ...</p>
  
  <ul>
  <li>Apple Developer Programs or iTunes Connect (including iAd and the iBookstore)</li>
  <li>programming, with the exception of AppleScript and Automator</li>
  <li>installing or using Apple operating systems on non-Apple hardware</li>
  <li>a shopping or buying recommendation for hardware</li>
  <li>pre-release or beta software (We consider versions not available to the public to be - in this category)</li>
  <li>obtaining or using pirated software or media</li>
  </ul>
  
  <p> beta, pre-release, and general developer questions that might be covered with a Non-Disclosure Agreement (NDA)  </p>
</blockquote>

<hr>

<p>Arranging things in that way, in the two subsections of the FAQ, is counterintuitive. Nots and nons are currently misclassified as can-dos.</p>

<p><a href="https://apple.stackexchange.com/faq#dontask">What kind of questions should I <strong>not</strong> ask here?</a> should list: </p>

<ul>
<li>refrains (the nots) </li>
<li>stuff that might be subject to nondisclosure (the nons). </li>
</ul>

<h1>Summary</h1>

<p>This meta question is: </p>

<ul>
<li>about arrangement of points within the FAQ page</li>
<li>not about removal of points. </li>
</ul>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Here is how the FAQ works today.</p>

<p>All sites on Stack Exchange (87 full and another 52 beta) currently have static content for the FAQ and a very small section that can be customized for a specific site.</p>

<p>By design, we can only customize this top section.</p>

<p>Here's what could be done today:</p>

<ol>
<li>Delete all the site specific guidance on what not to ask (if the confusion of having it it two places was seen to be worse than having it in the FAQ)</li>
<li>Ask on the main meta to allow sites to customize the "don't ask" portion as well as the "ask" portion.</li>
</ol>

<p>I feel strongly that our customized "do not ask" information needs to be in the FAQ and thus would support keeping it there until such a time that #2 is possible for us to accomplish.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>