<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Favourite Tags don't animate
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1941" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::38</h3>
				<h2>Favourite Tags don't animate</h2>
<p>The tags on the Favourite Tags list don't animate in the same way that normal tags do:</p>

<p><img src="https://i.stack.imgur.com/SQuR8.gif"></p>

<p>For comparison   normal tags:</p>

<p><img src="https://i.stack.imgur.com/pbw5w.gif"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3731" class = "comment">
				<p>Repro on Safari 7.0.2 and Chrome 32.0.1700.77</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1942"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I could get behind a feature request to not animate with rollover anything on the right hand side involving tags.</p>

<p>Heck, I could get behind disabling the movement altogether.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2730"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p><a href="/questions/tagged/status-completed" class="post-tag moderator-tag" title="show questions tagged &#39;status-completed&#39;" rel="tag">status-completed</a> as tags are not animated anywhere any more, to my moderate disappointment.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>