<html>
	<head>
		<title id = 'pagetitle'>Favourite Tags don't animate
		</title>
	<head>
	<body id = 'pagebody'><p>The tags on the Favourite Tags list don't animate in the same way that normal tags do:</p>

<p><img src="https://i.stack.imgur.com/SQuR8.gif"></p>

<p>For comparison   normal tags:</p>

<p><img src="https://i.stack.imgur.com/pbw5w.gif"></p>


<h1>ANSWERS</h1>
		<p>I could get behind a feature request to not animate with rollover anything on the right hand side involving tags.</p>

<p>Heck, I could get behind disabling the movement altogether.</p>


<p><a href="/questions/tagged/status-completed" class="post-tag moderator-tag" title="show questions tagged &#39;status-completed&#39;" rel="tag">status-completed</a> as tags are not animated anywhere any more, to my moderate disappointment.</p>


	</body>
</html>