<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Feature Request: Desktop Notifications
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1510" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::37</h3>
				<h2>Feature Request: Desktop Notifications</h2>
<p>Right now, we receive Stack Exchange notifications in the subtle  inbox.  Wouldn t it be great to receive Desktop Notifications, considering this is an Apple QA?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1510">Record</button>
				<button class="record-stop" id="stop-1510">Stop</button>
				<p id="recording-1510"></p>

<h1>Answers</h1>
			<br><div id = "ans-1515"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>You can already receive desktop notifications with this app: <a href="https://stackapps.com/questions/3081/senotifier-a-stack-exchange-inbox-notifier-for-mac-os-x">https://stackapps.com/questions/3081/senotifier-a-stack-exchange-inbox-notifier-for-mac-os-x</a></p>

<p>It's not integrated with the notification center, but has growl support.</p>

<p>Or, you can use this other app <a href="https://stackapps.com/questions/1993/newt-question-answer-and-comment-and-rep-change-notifications-for-mac-os-x">https://stackapps.com/questions/1993/newt-question-answer-and-comment-and-rep-change-notifications-for-mac-os-x</a></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2846" class = "comment">
				<p>Desktop Notifications specifically is a Notification Center feature. I would rather have it integrated.</p>
			</div>
			<div id = "comment-2905" class = "comment">
				<p>@duci9y Considering that StackExchange is not only a Apple Q&A but also various other systems sharing the same codebase, I doubt there wil be a huge push for an Apple only feature to be implemented when there is a huge amount of other new feature that need to be completed.</p>
			</div>
			<div id = "comment-2906" class = "comment">
				<p>Many Stack Exchange users use OS X to access the site. And it is a very simple but important feature.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1515">Record</button>
				<button class="record-stop" id="stop-1515">Stop</button>
				<p id="recording-1515"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>