<html>
	<head>
		<title id = 'pagetitle'>Feature Request: Desktop Notifications
		</title>
	<head>
	<body id = 'pagebody'><p>Right now, we receive Stack Exchange notifications in the subtle  inbox.  Wouldn t it be great to receive Desktop Notifications, considering this is an Apple QA?</p>


<h1>ANSWERS</h1>
		<p>You can already receive desktop notifications with this app: <a href="https://stackapps.com/questions/3081/senotifier-a-stack-exchange-inbox-notifier-for-mac-os-x">https://stackapps.com/questions/3081/senotifier-a-stack-exchange-inbox-notifier-for-mac-os-x</a></p>

<p>It's not integrated with the notification center, but has growl support.</p>

<p>Or, you can use this other app <a href="https://stackapps.com/questions/1993/newt-question-answer-and-comment-and-rep-change-notifications-for-mac-os-x">https://stackapps.com/questions/1993/newt-question-answer-and-comment-and-rep-change-notifications-for-mac-os-x</a></p>


	</body>
</html>