<html>
	<head>
		<title id = 'pagetitle'>Feature Request: Add editor buttons for symbols common to the subject
		</title>
	<head>
	<body id = 'pagebody'><p><strong>Feature Request</strong>: Add editor buttons for symbols common to the subject being discussed.</p>

<p>In the case of the Apple Stack Exchange, I wish to suggest some buttons for the editor to insert the common keys and symbols used by the Apple platforms. This would mainly be the modifier keys that Mac OS and Mac OS X make extensive use of, as well as perhaps a few other symbols common to computer keyboards.</p>

<ul>
<li><code>Key</code>: <code>Symbol</code> - <code>Unicode Symbol Name</code></li>
<li>Command Key:   - Place of Interest Sign</li>
<li>Shift Key:   - Upwards Right Arrow</li>
<li>Option Key:   - Option Key</li>
<li>Alt Key:   - Alternative Key Symbol</li>
<li>Return Key:   - Return Symbol</li>
<li>Delete Key:   - Erase to the Left</li>
<li>Escape Key:   - Broken Circle</li>
<li>Eject Key:   - Eject Symbol</li>
<li>Control Key: ^ - Circumflex Accent (included for completeness)</li>
<li>Tab Key:   - Rightwards Arrow to Bar</li>
<li>Up Arrow:   - Upwards Arrow</li>
<li>Right Arrow:   - Rightwards Arrow</li>
<li>Left Arrow:   - Leftwards Arrow</li>
<li>Down Arrow:   - Downwards Arrow</li>
</ul>

<p>This would allow users to enter the correct symbol for a key function without having to remember it's name (how many names have you heard   referred to?) and not have to hunt through a unicode table to find it.</p>

<p>If I were to answer a question like "What are the common keyboard commands in Mac OS X" I could quickly answer:</p>

<ul>
<li><kbd> O</kbd> - Open</li>
<li><kbd> W</kbd> - Close</li>
<li><kbd> Q</kbd> - Quit</li>
<li><kbd> Z</kbd> - Undo</li>
<li><kbd> X</kbd> - Cut</li>
<li><kbd> C</kbd> - Copy</li>
<li><kbd> V</kbd> - Paste</li>
<li><kbd> A</kbd> - Select All</li>
<li><kbd> ?</kbd> - Get help</li>
<li><kbd> ,</kbd> - Preferences</li>
</ul>

<p>Or if asked "How do I close all tabs but the one I am on (Safari)"</p>

<blockquote>
  <p>Just hit <kbd> W</kbd> to close all tabs other that the current tab in a window.</p>
</blockquote>

<p>This could also help with a question like "How do I type an Umlaut on a Mac?"</p>

<blockquote>
  <p>To add and umlaut, press <kbd> U</kbd>+<kbd>u</kbd> (or any letter supporting one,  ,  ,  ,  ,  ,  , etc).</p>
</blockquote>


<h1>ANSWERS</h1>
			</body>
</html>