<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Feature Request: Add editor buttons for symbols common to the subject
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-756" class = "post">
			<h2>Question</h2>
			<h3>Score ::14</h3>
			<h3>Views ::118</h3>
				<h2>Feature Request: Add editor buttons for symbols common to the subject</h2>
<p><strong>Feature Request</strong>: Add editor buttons for symbols common to the subject being discussed.</p>

<p>In the case of the Apple Stack Exchange, I wish to suggest some buttons for the editor to insert the common keys and symbols used by the Apple platforms. This would mainly be the modifier keys that Mac OS and Mac OS X make extensive use of, as well as perhaps a few other symbols common to computer keyboards.</p>

<ul>
<li><code>Key</code>: <code>Symbol</code> - <code>Unicode Symbol Name</code></li>
<li>Command Key:   - Place of Interest Sign</li>
<li>Shift Key:   - Upwards Right Arrow</li>
<li>Option Key:   - Option Key</li>
<li>Alt Key:   - Alternative Key Symbol</li>
<li>Return Key:   - Return Symbol</li>
<li>Delete Key:   - Erase to the Left</li>
<li>Escape Key:   - Broken Circle</li>
<li>Eject Key:   - Eject Symbol</li>
<li>Control Key: ^ - Circumflex Accent (included for completeness)</li>
<li>Tab Key:   - Rightwards Arrow to Bar</li>
<li>Up Arrow:   - Upwards Arrow</li>
<li>Right Arrow:   - Rightwards Arrow</li>
<li>Left Arrow:   - Leftwards Arrow</li>
<li>Down Arrow:   - Downwards Arrow</li>
</ul>

<p>This would allow users to enter the correct symbol for a key function without having to remember it's name (how many names have you heard   referred to?) and not have to hunt through a unicode table to find it.</p>

<p>If I were to answer a question like "What are the common keyboard commands in Mac OS X" I could quickly answer:</p>

<ul>
<li><kbd> O</kbd> - Open</li>
<li><kbd> W</kbd> - Close</li>
<li><kbd> Q</kbd> - Quit</li>
<li><kbd> Z</kbd> - Undo</li>
<li><kbd> X</kbd> - Cut</li>
<li><kbd> C</kbd> - Copy</li>
<li><kbd> V</kbd> - Paste</li>
<li><kbd> A</kbd> - Select All</li>
<li><kbd> ?</kbd> - Get help</li>
<li><kbd> ,</kbd> - Preferences</li>
</ul>

<p>Or if asked "How do I close all tabs but the one I am on (Safari)"</p>

<blockquote>
  <p>Just hit <kbd> W</kbd> to close all tabs other that the current tab in a window.</p>
</blockquote>

<p>This could also help with a question like "How do I type an Umlaut on a Mac?"</p>

<blockquote>
  <p>To add and umlaut, press <kbd> U</kbd>+<kbd>u</kbd> (or any letter supporting one,  ,  ,  ,  ,  ,  , etc).</p>
</blockquote>

			</div><h3>Comments</h3>
			<div id = "comment-1383" class = "comment">
				<p>Hm. Music had a similar proposal for this regarding common music symbols. I wonder if this has a lot of extensive usage that we could implement some sort of "common symbols" insertion tool for several sites.</p>
			</div>
			<div id = "comment-1392" class = "comment">
				<p>@Grace Note: That is what I was thinking. I figured the Apple site would be a good place to start implementing/testing.</p>
			</div>
			<div id = "comment-1405" class = "comment">
				<p>@CyberSkull In most apps, Preferences is Command-Comma.</p>
			</div>
			<div id = "comment-1407" class = "comment">
				<p>@cajunluke Oh yeah, thanks.</p>
			</div>
			<div id = "comment-4034" class = "comment">
				<p>Essentially this is equivalent to http://meta.apple.stackexchange.com/questions/683/put-the-characters-somewhere-for-people-to-copy-paste</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-756">Record</button>
				<button class="record-stop" id="stop-756">Stop</button>
				<p id="recording-756"></p>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>