<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Feedback to OP when flagging question
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2880" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::21</h3>
				<h2>Feedback to OP when flagging question</h2>
<p>I flagged <a href="https://apple.stackexchange.com/q/255868/88313">this question</a> for closure because it's a comment and not a question.  I also left a comment for the OP explaining why I flagged their question.  I understand they can't see the flag but I'm also trying to help them improve their future questions by understanding the reason it was flagged.</p>

<p>A mod let me know that I don't need to leave comments when flagging.  His answer made sense but I can also see it as a teaching experience for the OP.</p>

<p>I then read <a href="https://apple.stackexchange.com/q/256949/88313">this question</a> and saw a mod did the exact same thing I did on the previous question.  </p>

<p>So now I'm a bit confused as to whether or not it's a good practice to leave comments for the OP indicating why their question is being flagged for closure?  Is it just up to the individual mod whether or not to allow/leave these types of comments? If not, is there a Help Center topic that addresses this?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2881"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Actually no moderator commented on the second question you've linked. The comments have been created automatically based on the actions the reviewers selected for the question in the review queue. </p>

<p>What I intended to explain to you (but maybe didn't do so well) is that there is no need to tell people that a post has been <em>flagged</em>. Comments on how a post can be improved or why a post doesn't fit to the guidelines are welcome. One of the exceptions here are comments recommending people to ask their questions on another SE site, because this may lead to people posting the same question twice (instead of one of the mods <em>moving</em> it to the other site). In such cases just flagging them for mod attention (or proposing a close) is usually the better option</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6258" class = "comment">
				<p>Thanks for responding, @patrix.  So the comments made by klanomath and grgarside are the result of the flagging **only** and not them flagging *and* commenting (which the wording makes it appear)?  I guess that's the source of my confusion, these comments don't appear when I flag a question.</p>
			</div>
			<div id = "comment-6259" class = "comment">
				<p>High rep users can not only flag questions but also directly propose/vote for close. In the latter case, the close reason they pick may result in a comment created automatically.</p>
			</div>
			<div id = "comment-6260" class = "comment">
				<p>I want to be consistent with the rest of the site.  I see value in letting the OP know, as soon as possible, the reason for the flag (because it can take hours for the question to close and the close-reason to appear).  I'm ok if you guys don't think that's a good way to proceed so I won't add those comments anymore.  Thanks for clearing that up for me!</p>
			</div>
			<div id = "comment-6261" class = "comment">
				<p>Usually there is no hurry, also what does it help if the user knows that a flag has been raised (which a mod may later decline)? It is preferable to use comments to point out things which are missing or ways a post can be improved.</p>
			</div>
			<div id = "comment-6262" class = "comment">
				<p>Good point, I didn't think of that.  Thx again.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>