<html>
	<head>
		<title id = 'pagetitle'>Feedback to OP when flagging question
		</title>
	<head>
	<body id = 'pagebody'><p>I flagged <a href="https://apple.stackexchange.com/q/255868/88313">this question</a> for closure because it's a comment and not a question.  I also left a comment for the OP explaining why I flagged their question.  I understand they can't see the flag but I'm also trying to help them improve their future questions by understanding the reason it was flagged.</p>

<p>A mod let me know that I don't need to leave comments when flagging.  His answer made sense but I can also see it as a teaching experience for the OP.</p>

<p>I then read <a href="https://apple.stackexchange.com/q/256949/88313">this question</a> and saw a mod did the exact same thing I did on the previous question.  </p>

<p>So now I'm a bit confused as to whether or not it's a good practice to leave comments for the OP indicating why their question is being flagged for closure?  Is it just up to the individual mod whether or not to allow/leave these types of comments? If not, is there a Help Center topic that addresses this?</p>


<h1>ANSWERS</h1>
		<p>Actually no moderator commented on the second question you've linked. The comments have been created automatically based on the actions the reviewers selected for the question in the review queue. </p>

<p>What I intended to explain to you (but maybe didn't do so well) is that there is no need to tell people that a post has been <em>flagged</em>. Comments on how a post can be improved or why a post doesn't fit to the guidelines are welcome. One of the exceptions here are comments recommending people to ask their questions on another SE site, because this may lead to people posting the same question twice (instead of one of the mods <em>moving</em> it to the other site). In such cases just flagging them for mod attention (or proposing a close) is usually the better option</p>


	</body>
</html>