<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>FileVault 1 and 2: should we have tags [filevault-1] and [filevault-2] for the two different technologies?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>FileVault 1 and 2: should we have tags [filevault-1] and [filevault-2] for the two different technologies?</h2>
<h1>Problem</h1>

<p>Looking ahead: expect confusion to arise from Apple's commonplace use of one word <em>FileVault</em>   without a version number   for two <strong>very different</strong> technologies. </p>

<p>(Versions 1 and 2 both involve encryption, but encryption is applied at totally different levels.)</p>

<h1>Options (not mutually exclusive)</h1>

<ol>
<li><p>continue with one tag <a href="https://apple.stackexchange.com/questions/tagged/filevault" class="post-tag" title="show questions tagged &#39;filevault&#39;" rel="tag">filevault</a> for two different technologies</p>

<p>I can add the tag <a href="https://apple.stackexchange.com/questions/tagged/core-storage" class="post-tag" title="show questions tagged &#39;core-storage&#39;" rel="tag">core-storage</a> to questions that relate to <strong>FileVault 2</strong>. Example result: </p>

<p><a href="https://apple.stackexchange.com/questions/tagged/core-storage+filevault">https://apple.stackexchange.com/questions/tagged/core-storage+filevault</a></p>

<p>If only a limited number of tags can be added to a question, this is not ideal. </p></li>
<li><p>have two tags <a href="https://apple.stackexchange.com/questions/tagged/filevault-1" class="post-tag" title="show questions tagged &#39;filevault-1&#39;" rel="tag">filevault-1</a> and <a href="https://apple.stackexchange.com/questions/tagged/filevault-2" class="post-tag" title="show questions tagged &#39;filevault-2&#39;" rel="tag">filevault-2</a> instead of the one <a href="https://apple.stackexchange.com/questions/tagged/filevault" class="post-tag" title="show questions tagged &#39;filevault&#39;" rel="tag">filevault</a></p>

<p>I can do a little CHAOS-like housekeeping. Currently only six results to the following: </p>

<p><a href="https://apple.stackexchange.com/questions/tagged/filevault">https://apple.stackexchange.com/questions/tagged/filevault</a></p></li>
<li><p>????</p>

<p>At the moment I can't recall the third option that came to mind, but I'll leave this question as a placeholder, to be revisited and edited very soon. Hopefully within the next twenty-four hours. </p></li>
<li><p>tag synonym <a href="https://apple.stackexchange.com/questions/tagged/legacy-filevault" class="post-tag" title="show questions tagged &#39;legacy-filevault&#39;" rel="tag">legacy-filevault</a></p>

<p><a href="http://chat.stackexchange.com/transcript/message/1509882#1509882">Starred in Ask Different Chat</a>. </p></li>
</ol>

<hr>

<p>Meta users: if you imagine any other options, please edit this question. Thanks :-)</p>

<h2>Side note</h2>

<p>We can not <em>assume</em> version 2 where FileVault is mentioned by a user of Lion. Both versions 1 and 2 can be used simultaneously. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I think you've got it right with [filevault-1] and [filevault-2].</p>

<p>That won't cause any confusion, and it follows our usual pattern of [product-version] (like [ios-4]).</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<h2>Draft text for notional filevault-1 tag</h2>

<p>What's below should appear more effective in the tag wiki than in this Q&amp;A </p>

<h3>Excerpt</h3>

<p>FileVault 1: encryption of a user's home directory</p>

<h3>Body</h3>

<p>In <a href="https://apple.stackexchange.com/questions/tagged/tiger" class="post-tag" title="show questions tagged &#39;tiger&#39;" rel="tag">tiger</a>, <a href="https://apple.stackexchange.com/questions/tagged/panther" class="post-tag" title="show questions tagged &#39;panther&#39;" rel="tag">panther</a>, <a href="https://apple.stackexchange.com/questions/tagged/leopard" class="post-tag" title="show questions tagged &#39;leopard&#39;" rel="tag">leopard</a> and <a href="https://apple.stackexchange.com/questions/tagged/snow-leopard" class="post-tag" title="show questions tagged &#39;snow-leopard&#39;" rel="tag">snow-leopard</a>: </p>

<ul>
<li>the interface to enable or disable <a href="https://apple.stackexchange.com/questions/tagged/filevault-1" class="post-tag" title="show questions tagged &#39;filevault-1&#39;" rel="tag">filevault-1</a> is in <a href="https://apple.stackexchange.com/questions/tagged/system-preferences" class="post-tag" title="show questions tagged &#39;system-preferences&#39;" rel="tag">system-preferences</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/filevault-1" class="post-tag" title="show questions tagged &#39;filevault-1&#39;" rel="tag">filevault-1</a> is always known as <em>FileVault</em>, without a version number.</li>
</ul>

<p>In <a href="https://apple.stackexchange.com/questions/tagged/lion" class="post-tag" title="show questions tagged &#39;lion&#39;" rel="tag">lion</a>: </p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/filevault-1" class="post-tag" title="show questions tagged &#39;filevault-1&#39;" rel="tag">filevault-1</a> and <a href="https://apple.stackexchange.com/questions/tagged/filevault-2" class="post-tag" title="show questions tagged &#39;filevault-2&#39;" rel="tag">filevault-2</a> can work together in harmony, without conflict</li>
<li>the interface to disable <a href="https://apple.stackexchange.com/questions/tagged/filevault-1" class="post-tag" title="show questions tagged &#39;filevault-1&#39;" rel="tag">filevault-1</a> is in <a href="https://apple.stackexchange.com/questions/tagged/system-preferences" class="post-tag" title="show questions tagged &#39;system-preferences&#39;" rel="tag">system-preferences</a> alongside the interface for <a href="https://apple.stackexchange.com/questions/tagged/filevault-2" class="post-tag" title="show questions tagged &#39;filevault-2&#39;" rel="tag">filevault-2</a> </li>
<li><a href="https://apple.stackexchange.com/questions/tagged/filevault-1" class="post-tag" title="show questions tagged &#39;filevault-1&#39;" rel="tag">filevault-1</a> is sometimes known as <em>FileVault</em>, without a version number</li>
<li><a href="https://apple.stackexchange.com/questions/tagged/filevault-1" class="post-tag" title="show questions tagged &#39;filevault-1&#39;" rel="tag">filevault-1</a> is sometimes known as <em>Legacy FileVault</em>.</li>
</ul>

			</div><br>
			<div id = "post-ans" class = "post">
				<h2>Draft text for notional filevault-2 tag</h2>

<p>What's below should appear more effective in the tag wiki than in this Q&amp;A </p>

<h3>Excerpt</h3>

<p>FileVault 2: Apple Core Storage full disk encryption (FDE) of the startup volume</p>

<h3>Body</h3>

<p>In <a href="https://apple.stackexchange.com/questions/tagged/lion" class="post-tag" title="show questions tagged &#39;lion&#39;" rel="tag">lion</a>: </p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/filevault-1" class="post-tag" title="show questions tagged &#39;filevault-1&#39;" rel="tag">filevault-1</a> and <a href="https://apple.stackexchange.com/questions/tagged/filevault-2" class="post-tag" title="show questions tagged &#39;filevault-2&#39;" rel="tag">filevault-2</a> can work together in harmony, without conflict</li>
<li>the interface to enable or disable <a href="https://apple.stackexchange.com/questions/tagged/filevault-2" class="post-tag" title="show questions tagged &#39;filevault-2&#39;" rel="tag">filevault-2</a> is in <a href="https://apple.stackexchange.com/questions/tagged/system-preferences" class="post-tag" title="show questions tagged &#39;system-preferences&#39;" rel="tag">system-preferences</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/filevault-2" class="post-tag" title="show questions tagged &#39;filevault-2&#39;" rel="tag">filevault-2</a> uses <a href="https://apple.stackexchange.com/questions/tagged/core-storage" class="post-tag" title="show questions tagged &#39;core-storage&#39;" rel="tag">core-storage</a> </li>
<li><a href="https://apple.stackexchange.com/questions/tagged/filevault-2" class="post-tag" title="show questions tagged &#39;filevault-2&#39;" rel="tag">filevault-2</a> is usually known as <em>FileVault</em>, without a version number. </li>
</ul>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>