<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Finder and Terminal Term Usage
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2868" class = "post">
			<h2>Question</h2>
			<div id="vote-2868" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 21</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Finder and Terminal Term Usage</h2>
<p>What are the proper ways to reference Finder and Terminal?</p>

<ul>
<li><p>Is it "Finder" or "the Finder?"<br>
<em>Start by looking in Finder.</em> <strong>OR</strong> <em>Start by looking in <strong>the</strong> Finder.</em>  </p></li>
<li><p>Is it "Terminal" or "the Terminal?"<br>
<em>Open Terminal and type the following.</em> <strong>OR</strong> <em>Open <strong>the</strong> Terminal and type the following.</em></p></li>
</ul>

<p>I see these used interchangeably. Is there a "correct" way to referencing them?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2868" class = 'collapse'>
			</div>
				<textarea id = "speech-2868" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2868">
					<img id="start_img-2868" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2869"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2869" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm a big proponent of saying command line when you mean to get a shell running. Terminal app is just one app used to get to the command line, so I strongly prefer tagging those questions with <a href="https://apple.stackexchange.com/questions/tagged/command-line" class="post-tag" title="show questions tagged &#39;command-line&#39;" rel="tag">command-line</a> as opposed to <a href="https://apple.stackexchange.com/questions/tagged/terminal" class="post-tag" title="show questions tagged &#39;terminal&#39;" rel="tag">terminal</a> on this site. I believe this is a little different than Apple's usage since when they tell people to use the command line, they are supporting their tool as opposed to having people need to connect Terminal with being asked to do something on the command line. (or bash / zsh / fish / whatever shell you prefer).</p>

<p>For Apple's usage I look for the latest Apple Publication Style Guide - the latest I know of is:</p>

<ul>
<li><a href="https://help.apple.com/asg/mac/2013/ASG_2013.pdf" rel="nofollow noreferrer">https://help.apple.com/asg/mac/2013/ASG_2013.pdf</a></li>
</ul>

<p>Apple prefers:</p>

<blockquote>
  <p><strong>Finder</strong> Use <em>the</em> with <em>Finder</em> (exception to the rule to not use <em>the</em> with application names).</p>
</blockquote>

<p>So you would open the Finder or interact with a Finder window. You wouldn't open Finder if you wanted to adhere to the published style guide.</p>

<blockquote>
  <p><strong>terminal</strong> A device or software for sending commands to a computer. Capitalize when referring to the Terminal application.</p>
</blockquote>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2869" class = 'collapse'>
			</div>
				<textarea id = "speech-2869" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2869">
					<img id="start_img-2869" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>