<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Finder and Terminal Term Usage
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2868" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::21</h3>
				<h2>Finder and Terminal Term Usage</h2>
<p>What are the proper ways to reference Finder and Terminal?</p>

<ul>
<li><p>Is it "Finder" or "the Finder?"<br>
<em>Start by looking in Finder.</em> <strong>OR</strong> <em>Start by looking in <strong>the</strong> Finder.</em>  </p></li>
<li><p>Is it "Terminal" or "the Terminal?"<br>
<em>Open Terminal and type the following.</em> <strong>OR</strong> <em>Open <strong>the</strong> Terminal and type the following.</em></p></li>
</ul>

<p>I see these used interchangeably. Is there a "correct" way to referencing them?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2869"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I'm a big proponent of saying command line when you mean to get a shell running. Terminal app is just one app used to get to the command line, so I strongly prefer tagging those questions with <a href="https://apple.stackexchange.com/questions/tagged/command-line" class="post-tag" title="show questions tagged &#39;command-line&#39;" rel="tag">command-line</a> as opposed to <a href="https://apple.stackexchange.com/questions/tagged/terminal" class="post-tag" title="show questions tagged &#39;terminal&#39;" rel="tag">terminal</a> on this site. I believe this is a little different than Apple's usage since when they tell people to use the command line, they are supporting their tool as opposed to having people need to connect Terminal with being asked to do something on the command line. (or bash / zsh / fish / whatever shell you prefer).</p>

<p>For Apple's usage I look for the latest Apple Publication Style Guide - the latest I know of is:</p>

<ul>
<li><a href="https://help.apple.com/asg/mac/2013/ASG_2013.pdf" rel="nofollow noreferrer">https://help.apple.com/asg/mac/2013/ASG_2013.pdf</a></li>
</ul>

<p>Apple prefers:</p>

<blockquote>
  <p><strong>Finder</strong> Use <em>the</em> with <em>Finder</em> (exception to the rule to not use <em>the</em> with application names).</p>
</blockquote>

<p>So you would open the Finder or interact with a Finder window. You wouldn't open Finder if you wanted to adhere to the published style guide.</p>

<blockquote>
  <p><strong>terminal</strong> A device or software for sending commands to a computer. Capitalize when referring to the Terminal application.</p>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>