<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>first bug on new theme :D
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-285" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::94</h3>
				<h2>first bug on new theme :D</h2>
<p>the gold, silver and bronze badges must change order!</p>

<p><img src="https://i.stack.imgur.com/KPPKp.jpg" alt="enter image description here"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-285">Load Comments</button></br>
			<div id = "commentsection-285" class = 'collapse'>
			<div id = "comment-617" class = "comment">
				<p>They're in the right order (gold is normally listed first), it's that the bronze and gold icons are flipped (you have 3 gold badges and 25 bronze, but the display indicates 3 bronze and 25 gold)</p>
			</div>
			<div id = "comment-618" class = "comment">
				<p>@Mich I want said that too, you are right it just need to change gold and bronze icon.</p>
			</div>
			<div id = "comment-648" class = "comment">
				<p>what you don't like more gold badges? j/k. I had the css backwards on those, fixing now..</p>
			</div>
			</div>
				<textarea id = "speech-285" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-285">
					<img id="start_img-285" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-302"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I have put in a fix, will be in the next deployment.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-302" class = 'collapse'>
			</div>
				<textarea id = "speech-302" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-302">
					<img id="start_img-302" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>