<html>
	<head>
		<title id = 'pagetitle'>first bug on new theme :D
		</title>
	<head>
	<body id = 'pagebody'><p>the gold, silver and bronze badges must change order!</p>

<p><img src="https://i.stack.imgur.com/KPPKp.jpg" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>I have put in a fix, will be in the next deployment.</p>


	</body>
</html>