<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>first bug on new theme :D
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-285" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::94</h3>
				<h2>first bug on new theme :D</h2>
<p>the gold, silver and bronze badges must change order!</p>

<p><img src="https://i.stack.imgur.com/KPPKp.jpg" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-617" class = "comment">
				<p>They're in the right order (gold is normally listed first), it's that the bronze and gold icons are flipped (you have 3 gold badges and 25 bronze, but the display indicates 3 bronze and 25 gold)</p>
			</div>
			<div id = "comment-618" class = "comment">
				<p>@Mich I want said that too, you are right it just need to change gold and bronze icon.</p>
			</div>
			<div id = "comment-648" class = "comment">
				<p>what you don't like more gold badges? j/k. I had the css backwards on those, fixing now..</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-302"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I have put in a fix, will be in the next deployment.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>