<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Flag options changed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Flag options changed?</h2>
<p>I'm not sure if the flag options changed. If so, is there a ;tldr or resume somewhere? I did not find one.</p>

<p>Specifically I'm asking for <a href="https://apple.stackexchange.com/questions/120296/stuck-deactive-excelsheets-filter">this</a> question.
It appeared to me, that the Flagging > Closing > "another stackexchange page" option disappeared and the only redirection is now meta.apple.stackexchange.com.</p>

<p>Other Stackexchange sites(namely stackoverflow) still have this option.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I believe two things are in play. </p>

<ol>
<li>Migration only works for new questions (<a href="https://meta.stackexchange.com/questions/151890/disable-migration-for-questions-older-than-60-days">past 60 days, migration is disabled on all SE sites</a>)</li>
<li><p>Each site can request limited sites for non-diamond moderators to choose for migration and this site in particular has only a couple listed. </p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/658/which-sites-should-be-in-our-primary-migration-paths">Which sites should be in our primary migration paths?</a></li>
</ul></li>
</ol>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>