<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Flagging layout for mobile (iPhone 4) is challenging to use
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-739" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::54</h3>
				<h2>Flagging layout for mobile (iPhone 4) is challenging to use</h2>
<p>I tried flagging a few posts using the iPhone 4 / Mobile interface, and the layout far exceeds the screen size. </p>

<p>The initial box for flagging and closing looks good and survives a portrait to landscape switch well. The bug happens when choosing "exact duplicate" and the text input box exceeds the bounds of the screen. </p>

<p>This makes it very difficult to operate the buttons and provide a link to the dupe.  My attempts to pinch / zoom or scale my way out of this failed. Rotating the device to landscape helped a little, but it was still not very workable.</p>

<p><img src="https://i.stack.imgur.com/XD69U.png" alt="portrait layout"></p>

<p><img src="https://i.stack.imgur.com/9pYOz.png" alt="landscape layout"></p>

<p>Mobile Safari on iOS 4.3.5 - no jailbreaks, no betas.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-742"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>A fix for this will go out with the next build.</p>

<p>Silly fixed width got carried over from the desktop site.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1363" class = "post">
				<p>I must say - all the other flagging and close layouts are awesomely done on iOS. This was the only thing that seemed off (for now obvious reasons)</p>
			</div>
			<div id = "comment-1364" class = "post">
				<p>Also - do you prefer I report bugs here or the main meta? I've got some on chat to file...</p>
			</div>
			<div id = "comment-1365" class = "post">
				<p>@bmike - meta.SO is preferred (unless it's really obviously a site-specific one), but they all get looked at.</p>
			</div>
			<div id = "comment-1366" class = "post">
				<p>The field is sized properly, but the action button is now insensitive. I'll post on meta.SO with a screenshot</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>