<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Flag options changed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1938" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::27</h3>
				<h2>Flag options changed?</h2>
<p>I'm not sure if the flag options changed. If so, is there a ;tldr or resume somewhere? I did not find one.</p>

<p>Specifically I'm asking for <a href="https://apple.stackexchange.com/questions/120296/stuck-deactive-excelsheets-filter">this</a> question.
It appeared to me, that the Flagging > Closing > "another stackexchange page" option disappeared and the only redirection is now meta.apple.stackexchange.com.</p>

<p>Other Stackexchange sites(namely stackoverflow) still have this option.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3723" class = "comment">
				<p>Yes, I've flagged with "Other" and then I typed: SuperUser.com

I don't know where that option is too!</p>
			</div>
			<div id = "comment-3725" class = "comment">
				<p>I still see the stack overflow and beta reasons - could it be that it was an old question? And we never had a migrate to superuser</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1940"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I believe two things are in play. </p>

<ol>
<li>Migration only works for new questions (<a href="https://meta.stackexchange.com/questions/151890/disable-migration-for-questions-older-than-60-days">past 60 days, migration is disabled on all SE sites</a>)</li>
<li><p>Each site can request limited sites for non-diamond moderators to choose for migration and this site in particular has only a couple listed. </p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/658/which-sites-should-be-in-our-primary-migration-paths">Which sites should be in our primary migration paths?</a></li>
</ul></li>
</ol>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3728" class = "comment">
				<p>Okay, how should be the above stated question handled(flagged) then?</p>
			</div>
			<div id = "comment-3729" class = "comment">
				<p>It lacks any sort of detail so it's worst problem is being unclear. Once it's clarified what OS and what version of excel, it might need to be migrated. It's just low quality without edits.</p>
			</div>
			<div id = "comment-3730" class = "comment">
				<p>Also, [that question](http://apple.stackexchange.com/questions/120296/stuck-deactive-excelsheets-filter) is not so harmful, that a flag is needed. A simple close vote and comment asking for more detail would be all that question needs. I would say flag it if you saw one person asking several questions like that.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>