<html>
	<head>
		<title id = 'pagetitle'>Flagging layout for mobile (iPhone 4) is challenging to use
		</title>
	<head>
	<body id = 'pagebody'><p>I tried flagging a few posts using the iPhone 4 / Mobile interface, and the layout far exceeds the screen size. </p>

<p>The initial box for flagging and closing looks good and survives a portrait to landscape switch well. The bug happens when choosing "exact duplicate" and the text input box exceeds the bounds of the screen. </p>

<p>This makes it very difficult to operate the buttons and provide a link to the dupe.  My attempts to pinch / zoom or scale my way out of this failed. Rotating the device to landscape helped a little, but it was still not very workable.</p>

<p><img src="https://i.stack.imgur.com/XD69U.png" alt="portrait layout"></p>

<p><img src="https://i.stack.imgur.com/9pYOz.png" alt="landscape layout"></p>

<p>Mobile Safari on iOS 4.3.5 - no jailbreaks, no betas.</p>


<h1>ANSWERS</h1>
		<p>A fix for this will go out with the next build.</p>

<p>Silly fixed width got carried over from the desktop site.</p>


	</body>
</html>