<html>
	<head>
		<title id = 'pagetitle'>Flag these as Spam?
		</title>
	<head>
	<body id = 'pagebody'><p>There seems to be a lot of these around at the moment; questions on cheats/hacks for Clash of Clans, but without ever mentioning that name directly.</p>

<p>I'm seeing them across all the SE sites I visit.</p>

<p>It's kind of spam with no visible purpose. It contains no link, just some vague waffle requesting how to cheat in some way or other</p>

<p>e.g.  <a href="https://apple.stackexchange.com/questions/179988/clash-of-stone-cheat">https://apple.stackexchange.com/questions/179988/clash-of-stone-cheat</a></p>

<p>They are usually tagged with something irrelevant too.</p>

<p>Do we flag as Spam or just vote to close as off-topic?<br>
I understand being flagged as spam affects the poster in some greater way than just having their question closed as off-topic, so I wanted some kind of quorum on how to treat these.</p>


<h1>ANSWERS</h1>
		<p>It's still spam and should be flagged as spam.</p>

<p>I've seen this occur before elsewhere in Stack Exchange. They're testing the system of sorts, by posting content that is spam and contains SEO text but without links to the spam, either to later answer with spam that contains spam links, or to test if their spam  gets past  without any links such that links could be added later either through answers or editing.</p>


	</body>
</html>