<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Flagging best practices
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Flagging best practices</h2>
<p>I've a couple of times gotten feedback on flags where I selected "not an answer" which says "...should possibly be an edit, comment, another question, or deleted altogether..." and (for example the most recent time) the reviewer declined the flag, commenting that they weren't comfortable deleting it. In this particular situation it should probably be converted to a comment, not deleted.</p>

<p>I seem to do better selecting "other" and specifically saying "this should be a comment" but after reading the small print on "not an answer" I thought I'd just go with that one. </p>

<p>Which is best? Selecting other and pointing out the reason, or selecting the correct flag type and getting declined. </p>

<p><strong>Edit:</strong> </p>

<p>To be clear, I'm not offended that my flag was declined, I just don't want to irritate the flag reviewers. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>If there is a built in or predefined option, use it. Simple as that. If a flag is ultimately handled differently to what you want or were expecting, then rest assured it won't be down to the method you used to flag.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I don't really pay attention to who flagged an answer but I am, more and more, declining to remove bad or wrong answers that are flagged because that's not what flagging is supposed to be used for.</p>

<p>There's even a canned response to flags that says "Flags should not be used to flag answers with technical inaccuracies or that are altogether incorrect".</p>

<p>You should be down voting those.</p>

<p>Only in cases where comments were clearly posted as answers do I take action and mark it as helpful.</p>

<p>As @bmike says in <a href="https://apple.meta.stackexchange.com/questions/1629/why-was-my-flag-for-not-an-answer-declined">this meta Q&amp;A over here</a>:</p>

<blockquote>
  <p>Even if an answer is totally wrong, that's not enough for us to delete it. It has to be unsaveable by an edit and we like to see that the bad answer has a down vote or two and hopefully a constructive comment before we like to step in and summarily delete an answer. Even totally wrong answers with a polite, concrete rebuttal is of great use to the community.</p>
</blockquote>

<p>We want to encourage a community that talks. Where answers that aren't great are commented on so new users learn how to make great answers.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>