<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Flagging best practices
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2008" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::35</h3>
				<h2>Flagging best practices</h2>
<p>I've a couple of times gotten feedback on flags where I selected "not an answer" which says "...should possibly be an edit, comment, another question, or deleted altogether..." and (for example the most recent time) the reviewer declined the flag, commenting that they weren't comfortable deleting it. In this particular situation it should probably be converted to a comment, not deleted.</p>

<p>I seem to do better selecting "other" and specifically saying "this should be a comment" but after reading the small print on "not an answer" I thought I'd just go with that one. </p>

<p>Which is best? Selecting other and pointing out the reason, or selecting the correct flag type and getting declined. </p>

<p><strong>Edit:</strong> </p>

<p>To be clear, I'm not offended that my flag was declined, I just don't want to irritate the flag reviewers. </p>

			</div><h3>Comments</h3>
			<div id = "comment-3865" class = "comment">
				<p>I hardly ever look at who raised the flag so you definitively do not irritate me with flags :-)</p>
			</div>
			<div id = "comment-3866" class = "comment">
				<p>Have you looked over our recent discussion on the NAA flag? http://meta.apple.stackexchange.com/questions/1629/why-was-my-flag-for-not-an-answer-declined I believe I declined two of your flags recently as there was no effort to comment, vote or otherwise let a new user know how they might improve their answer. If you want to link to some of the flags, it might help others as well as you since only moderators can see your flagging details easily.</p>
			</div>
			<div id = "comment-3868" class = "comment">
				<p>e.g. this one: http://apple.stackexchange.com/questions/107493/mavericks-finder-spins-when-opening-folders/124906#124906 which is "I've had this problem for 2 months" with an incomplete portion of another answer copied and pasted below with no quotation indication. That seems pretty clear case that would be better as a comment on the answer they kinda-quoted. I'm not sure what a good comment on that answer would look like.</p>
			</div>
			<div id = "comment-3869" class = "comment">
				<p>oh, and I didn't see that first discussion because my original search was too specific, I should have searched with just "flagging" before asking a new one.</p>
			</div>
			<div id = "comment-3871" class = "comment">
				<p>Another example (and the reason I asked) is this one: http://apple.stackexchange.com/questions/116951/whats-behind-the-hairdryer-fix-for-broken-iphone-4s-wifi/124862#124862</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2009"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>If there is a built in or predefined option, use it. Simple as that. If a flag is ultimately handled differently to what you want or were expecting, then rest assured it won't be down to the method you used to flag.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-2010"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I don't really pay attention to who flagged an answer but I am, more and more, declining to remove bad or wrong answers that are flagged because that's not what flagging is supposed to be used for.</p>

<p>There's even a canned response to flags that says "Flags should not be used to flag answers with technical inaccuracies or that are altogether incorrect".</p>

<p>You should be down voting those.</p>

<p>Only in cases where comments were clearly posted as answers do I take action and mark it as helpful.</p>

<p>As @bmike says in <a href="https://apple.meta.stackexchange.com/questions/1629/why-was-my-flag-for-not-an-answer-declined">this meta Q&amp;A over here</a>:</p>

<blockquote>
  <p>Even if an answer is totally wrong, that's not enough for us to delete it. It has to be unsaveable by an edit and we like to see that the bad answer has a down vote or two and hopefully a constructive comment before we like to step in and summarily delete an answer. Even totally wrong answers with a polite, concrete rebuttal is of great use to the community.</p>
</blockquote>

<p>We want to encourage a community that talks. Where answers that aren't great are commented on so new users learn how to make great answers.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>