<html>
	<head>
		<title id = 'pagetitle'>Flair not working correctly
		</title>
	<head>
	<body id = 'pagebody'><p>See my <a href="https://apple.stackexchange.com/users/31683/imazik">profile</a>.</p>

<p><img src="https://i.stack.imgur.com/tqeJB.png" alt="enter image description here"></p>

<p>and the <a href="https://apple.stackexchange.com/users/31683/imazik/flair">flair</a> of my account
<img src="https://i.stack.imgur.com/FCUZd.png" alt="enter image description here"></p>

<p>Why it appears like this?</p>

<p>It shows the profile picture of another beta account.</p>

<p>I have changed the profile picture again to solve this, but same result.</p>


<h1>ANSWERS</h1>
		<p>Status aside, I don't doubt that you saw this, but I don't see it, and I doubt you see it anymore either. Remember, these images are cached - as patrix notes, you won't see changes to your profile reflected for a while.</p>


	</body>
</html>