<html>
	<head>
		<title id = 'pagetitle'>Footnote or internal reference?
		</title>
	<head>
	<body id = 'pagebody'><p>Within a question or answer is it possible to write a footnote?</p>

<p>For example, if I use a tricky term, for many readers, some of them will
understand it at first reading, but some others might prefer a
correct explanation. To do this within web pages or written technical
documents I use footnotes.</p>

<p>Is this possible within StackExchange?</p>

<p>If not, could this feature be added? </p>

<p>What is the relevant StackExchange group wher to ask this question?</p>


<h1>ANSWERS</h1>
		<p>I've done this a few times using the built-in superscript. For example:</p>

<blockquote>
  <p>This is an example of additional information<sup>1</sup> being added to a post.</p>
  
  <p><sup><sup>1</sup> Here is the additional information.</sup></p>
</blockquote>

<p><sub>Source:</sub></p>

<pre><code>This is an example of additional information&lt;sup&gt;1&lt;/sup&gt; being added to a post.
</code></pre>



<pre><code>&lt;sup&gt;&lt;sup&gt;1&lt;/sup&gt; Here is the additional information.&lt;/sup&gt;
</code></pre>

<p>This seems to work pretty well for most situations.</p>


<p>On MacOS, I ve used Unicode Hex Input to enter them.</p>

<p><a href="http://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts" rel="nofollow">http://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts</a></p>


	</body>
</html>