<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Footnote or internal reference?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1989" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::42</h3>
				<h2>Footnote or internal reference?</h2>
<p>Within a question or answer is it possible to write a footnote?</p>

<p>For example, if I use a tricky term, for many readers, some of them will
understand it at first reading, but some others might prefer a
correct explanation. To do this within web pages or written technical
documents I use footnotes.</p>

<p>Is this possible within StackExchange?</p>

<p>If not, could this feature be added? </p>

<p>What is the relevant StackExchange group wher to ask this question?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3816" class = "comment">
				<p>Any bug report and feature enhancement request on any per-site mets does get picked up by stack exchange. We can move it to the main meta if/when it needs consensus from multiple sites.</p>
			</div>
			<div id = "comment-3818" class = "comment">
				<p>Thank you. But I'll let this feature request open since it might be usefull on other groups.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1990"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I've done this a few times using the built-in superscript. For example:</p>

<blockquote>
  <p>This is an example of additional information<sup>1</sup> being added to a post.</p>
  
  <p><sup><sup>1</sup> Here is the additional information.</sup></p>
</blockquote>

<p><sub>Source:</sub></p>

<pre><code>This is an example of additional information&lt;sup&gt;1&lt;/sup&gt; being added to a post.
</code></pre>



<pre><code>&lt;sup&gt;&lt;sup&gt;1&lt;/sup&gt; Here is the additional information.&lt;/sup&gt;
</code></pre>

<p>This seems to work pretty well for most situations.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3817" class = "comment">
				<p>Thank you very much :).
This is nice enough for my actual need.</p>
			</div>
			<br><div id = "ans-2020"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-1</h3>
				<p><p>On MacOS, I ve used Unicode Hex Input to enter them.</p>

<p><a href="http://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts" rel="nofollow">http://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>