<html>
	<head>
		<title id = 'pagetitle'>Formatting bug for "Would you like to have  "
		</title>
	<head>
	<body id = 'pagebody'><p>The bug in this question: <a href="https://apple.meta.stackexchange.com/questions/327/visual-bug-in-not-the-answer-youre-looking-for-text">Visual Bug in  Not the answer you're looking for [ ]  text.</a></p>

<p>  is there again, but slightly different:</p>

<p><img src="https://i.stack.imgur.com/V7hKG.png" alt="enter image description here"></p>

<p>Chrome 15 on OS X, reproduced on Firefox as well.</p>


<h1>ANSWERS</h1>
		<p>This will be fixed in the next deployment.</p>


	</body>
</html>