<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Forum or list for WWDC attendees?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Forum or list for WWDC attendees?</h2>
<p>I guess I haven't found the right search terms to find this on my own, so I figured I ask. </p>

<p>Is there a forum or something out there where people who are going to WWDC trade information? Stuff like trip advice, informal birds-of-a-feather sessions, parties, etc. Or does all that kind of coordination happen over Twitter these days?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I'd be happy to open a chat room for people to discuss WWDC and share links and stories. If it gets too crowded, we can make others. Would that suit your desires to have a conversation and share WWDC plans?</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>All WWDC attendees should have access to Apple's Developer Forums.  Some discussion seems to take place there.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>