<html>
	<head>
		<title id = 'pagetitle'>Generic dongle~adapter tag?
		</title>
	<head>
	<body id = 'pagebody'><p>I think there should be a tag that can be used for questions that are about using apple's adapters, e.g. ethernet to thunderbolt for example.</p>

<p>Questions that might benefit:</p>

<p><a href="https://apple.stackexchange.com/questions/262354/can-i-charge-a-macbook-pro-2016-with-a-macbook-power-adapter">Can I charge a MacBook Pro 2016 with a MacBook power adapter?</a><br>
<a href="https://apple.stackexchange.com/questions/214995/how-to-use-3rd-party-usb-ethernet-adapter-with-el-capitan">How to use 3rd-party USB Ethernet adapter with El Capitan</a><br>
<a href="https://apple.stackexchange.com/questions/229103/how-can-i-troubleshoot-or-reset-a-thunderbolt-ethernet-adapter">How can I troubleshoot or reset a Thunderbolt Ethernet adapter?</a><br>
<a href="https://apple.stackexchange.com/questions/225339/magsafe-to-usb-c-converter-for-charging-macbook-pro-2016">Magsafe to USB-C converter for charging Macbook Pro 2016</a><br>
<a href="https://apple.stackexchange.com/questions/233798/can-one-buy-an-ethernet-and-hdmi-thunderbolt-adapter">Can one buy an Ethernet and HDMI Thunderbolt adapter?</a><br>
<a href="https://apple.stackexchange.com/questions/54808/apple-usb-ethernet-adapter-is-not-detected">Apple USB ethernet adapter is not detected</a><br>
<a href="https://apple.stackexchange.com/questions/274156/does-gigabit-ethernet-to-thunderbolt-adapter-work-with-old-ethernet">Does gigabit ethernet to thunderbolt adapter work with old ethernet?</a><br>
<a href="https://apple.stackexchange.com/questions/54137/do-any-usb-3-0-to-gigabit-ethernet-adapter-work-with-os-x">Do any USB 3.0 to Gigabit Ethernet adapter work with OS X?</a><br>
<a href="https://apple.stackexchange.com/questions/252752/mac-screen-goes-off-and-on-after-hdmi-to-vga-adapter-is-connected-no-image">Mac screen goes off and on after HDMI to VGA adapter is connected - no image</a><br>
<a href="https://apple.stackexchange.com/questions/94402/force-os-x-to-use-bluetooth-dongle-instead-of-built-in-controller">Force OS X to use Bluetooth dongle instead of built in controller</a>  </p>


<h1>ANSWERS</h1>
		<p>Tags exist to help with filtering: people who want to find or not see questions about particular topics use tags to do this. While it is quite conceivable that someone might be an expert on or uninterested in Thunderbolt or USB or Ethernet, I don't see who the population would be that would be interested or uninterested in dongles generically.  This, I suggest that in the absence of evidence demonstrating that population exists, we are better off without this tag. </p>


	</body>
</html>