<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Generic dongle~adapter tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2979" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::42</h3>
				<h2>Generic dongle~adapter tag?</h2>
<p>I think there should be a tag that can be used for questions that are about using apple's adapters, e.g. ethernet to thunderbolt for example.</p>

<p>Questions that might benefit:</p>

<p><a href="https://apple.stackexchange.com/questions/262354/can-i-charge-a-macbook-pro-2016-with-a-macbook-power-adapter">Can I charge a MacBook Pro 2016 with a MacBook power adapter?</a><br>
<a href="https://apple.stackexchange.com/questions/214995/how-to-use-3rd-party-usb-ethernet-adapter-with-el-capitan">How to use 3rd-party USB Ethernet adapter with El Capitan</a><br>
<a href="https://apple.stackexchange.com/questions/229103/how-can-i-troubleshoot-or-reset-a-thunderbolt-ethernet-adapter">How can I troubleshoot or reset a Thunderbolt Ethernet adapter?</a><br>
<a href="https://apple.stackexchange.com/questions/225339/magsafe-to-usb-c-converter-for-charging-macbook-pro-2016">Magsafe to USB-C converter for charging Macbook Pro 2016</a><br>
<a href="https://apple.stackexchange.com/questions/233798/can-one-buy-an-ethernet-and-hdmi-thunderbolt-adapter">Can one buy an Ethernet and HDMI Thunderbolt adapter?</a><br>
<a href="https://apple.stackexchange.com/questions/54808/apple-usb-ethernet-adapter-is-not-detected">Apple USB ethernet adapter is not detected</a><br>
<a href="https://apple.stackexchange.com/questions/274156/does-gigabit-ethernet-to-thunderbolt-adapter-work-with-old-ethernet">Does gigabit ethernet to thunderbolt adapter work with old ethernet?</a><br>
<a href="https://apple.stackexchange.com/questions/54137/do-any-usb-3-0-to-gigabit-ethernet-adapter-work-with-os-x">Do any USB 3.0 to Gigabit Ethernet adapter work with OS X?</a><br>
<a href="https://apple.stackexchange.com/questions/252752/mac-screen-goes-off-and-on-after-hdmi-to-vga-adapter-is-connected-no-image">Mac screen goes off and on after HDMI to VGA adapter is connected - no image</a><br>
<a href="https://apple.stackexchange.com/questions/94402/force-os-x-to-use-bluetooth-dongle-instead-of-built-in-controller">Force OS X to use Bluetooth dongle instead of built in controller</a>  </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6458" class = "comment">
				<p>Can you add links to questions which would benefit from such a tag? And some queries/searches which would be easier that way?</p>
			</div>
			<div id = "comment-6459" class = "comment">
				<p>@patrix I've added a short list</p>
			</div>
			<div id = "comment-6460" class = "comment">
				<p>And how would they benefit from a specific tag? We lean towards a "don't over-tag" policy, so especially generic tags should have some benefits. Also, how would a tag description for a tag covering both Ethernet adapters and iPod docks look like?</p>
			</div>
			<div id = "comment-6461" class = "comment">
				<p>@patrix the iPhone dock was a mistake. Tag desription could be like the wikipedia definition for "adapter": "converts attributes of one electrical device or system to those of an otherwise incompatible device or system"</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2983"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Tags exist to help with filtering: people who want to find or not see questions about particular topics use tags to do this. While it is quite conceivable that someone might be an expert on or uninterested in Thunderbolt or USB or Ethernet, I don't see who the population would be that would be interested or uninterested in dongles generically.  This, I suggest that in the absence of evidence demonstrating that population exists, we are better off without this tag. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6467" class = "comment">
				<p>So why are other generic tags so popular? Examples include the top three site tags, macos, macbook and iphone. Why do they exist? According to your logic, they should be replaced with things like "macbook monitor", "macbook keyboard", "iphone wifi". The top question in the macbook section isn't even about macbooks.</p>
			</div>
			<div id = "comment-6468" class = "comment">
				<p>The fact that generic tags tend to be applied inconsistently is a clear indicator that we shouldn't add *more* such tags. But generally speaking, generic tags with a huge number of matching questions make more sense because they allow users to filter for (or against them). People using iOS devices with PCs may not be interested in any question tagged "macOS", "macbook" and such for instance.</p>
			</div>
			<div id = "comment-6469" class = "comment">
				<p>I have to say that the explanation offered by @patrix makes a lot of sense. Tags already exist for _ethernet_, _thunderbolt_, _USB_, _firewire_, _HDMI_, etc. One _could_ argue that there should be a tag for every type of port (e.g. there isn't currently a _SCSI_ tag), but in time tags get created by users themselves when they have enough reputation (300). For example, I recently answered a couple of questions about SheepSaver and, in editing those questions, I created a _SheepSaver_ tag. But if memory serves me correctly, this tag will drop off if it's not used again within six months.</p>
			</div>
			<div id = "comment-6470" class = "comment">
				<p>MacBook macOS and iOS all make sense as tags. Plenty of people want to read questions  about iOS; others want to avoid iOS questions and only look at Mac questions. The problem isn't that "dongles" is generic; generic is good. The problem is that it isn't coherent.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>