<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Getting an 'Aw Snap' on Chrome on the apple.stackexchange home page
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1798" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::71</h3>
				<h2>Getting an 'Aw Snap' on Chrome on the apple.stackexchange home page</h2>
<p><a href="https://apple.stackexchange.com/">AskDifferent Home Page</a> breaks on Mac possible because of 
<code>/questions/100422/why-does-crash-macs</code>. Vulnerability identified at <a href="http://arstechnica.com/apple/2013/08/rendering-bug-crashes-os-x-and-ios-apps-with-string-of-arabic-characters/" rel="nofollow noreferrer">http://arstechnica.com/apple/2013/08/rendering-bug-crashes-os-x-and-ios-apps-with-string-of-arabic-characters/</a></p>

<p>I cant even hyperlink this page since it tries to fetch and breaks the page. Prepend the home page link to the above link to </p>

<p>To Verify curl the home page to see the text exists.</p>

<p>Kindly remove the link or remove the encoding to get the home page back for OS X users</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1799"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Thanks for troubleshooting this! It's fixed now. Thanks to Sairam for diagnosing the problem so well so we could fix it quickly.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>