<html>
	<head>
		<title id = 'pagetitle'>Global StackInbox widget links to wrong pages
		</title>
	<head>
	<body id = 'pagebody'><p>The global StackExchange inbox notification thingamajig in the top left corner links to the wrong pages on apple.stackexchange.com. It tells me I have a reply for my question X, but upon clicking the link I'm taken to a completely different question Y. Only seen this problem on the Apple stack so far.</p>


<h1>ANSWERS</h1>
		<p>this bug should be fixed now.</p>


	</body>
</html>