<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Going from "okay" to "excellent"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Going from "okay" to "excellent"</h2>
<p><strong>Final Update:</strong> Now that we've launched, I wanted to update this post with our final numbers:</p>

<p><img src="https://i.stack.imgur.com/Xo25i.png" alt="enter image description here"></p>

<p>Many thanks to everyone who helped make the site a success!</p>

<hr>

<p><strong>Update 4:</strong> We just crossed over 15 questions per day and are now up to 4 "excellents":</p>

<p><img src="https://i.stack.imgur.com/MCHT4.png" alt="enter image description here"></p>

<p>Also of note is the significant increase in our visits/day from 2,474 to 3,648.</p>

<hr>

<p><strong>Update 3:</strong> We're back to 3 "excellents" as Studer is now the 5th user to pass 3k rep:</p>

<p><img src="https://i.stack.imgur.com/Mcsyf.png" alt="enter image description here"></p>

<p>Also, there was some confusion in the last update about the "questions per day" metric that has since been resolved - it's not over the entire beta of the site but of the <a href="https://meta.stackexchange.com/questions/73217/bug-in-area-51s-questions-per-day/73245#73245">previous two week period</a>. This will make it easier to improve - we only need ~35 more questions per week to be over the 15 q/d mark.</p>

<p>Finally, the answer ratio has seen a slight increase. My best guess is that the migration of <a href="https://apple.stackexchange.com/questions/5435/terminal-tips-and-tricks-for-mac-os-x">this 97-answer question</a> from Super User is what caused it.</p>

<hr>

<p><strong>Update 2:</strong> The "questions" metric has been changed to "questions per day". As such, we've now dropped from 3 "excellents" back down to 2:</p>

<p><img src="https://i.stack.imgur.com/Nb4nE.png" alt="enter image description here"></p>

<p>We are only 1 3k+ rep user away from an "excellent" users rating, so hopefully if we keep voting we'll claw back to 3 "excellents".</p>

<p>Turning back to the questions per day, <a href="https://meta.stackexchange.com/questions/73217/bug-in-area-51s-questions-per-day">the number actually seems flat out wrong</a>. According to Area 51, we've been in beta for 129 days, which would mean that we have ~1303 questions. However, the "Site Stats" box on our site indicates that we have 1648 questions. Either there's a bug, or there has been a change in what questions contribute towards that figure.</p>

<p>Assuming there's a bug, though, we still only have 12.8 questions per day, so we still need to get that ramped up - we're about 300 questions short right now.</p>

<hr>

<p><strong>Update:</strong> We've passed 1500 questions and are now at 3 "excellents":</p>

<p><img src="https://i.stack.imgur.com/P6Y6c.png" alt="enter image description here"></p>

<p>Also of note, we've crossed over 2k visits/day and we have 38 more users with 200+ rep and 2 more users with 2k+ rep. We still need:</p>

<ul>
<li>5 more users with 200+ rep</li>
<li>3 more with 2k+ rep</li>
<li>4 more with 3k+ rep</li>
</ul>

<p>as well as increasing our answer ratio to 2.5 answers per question.</p>

<hr>

<p>As many of you probably know, Area 51 has a set of metrics it uses to evaluate the progress of the sites in public beta:</p>

<p><img src="https://i.stack.imgur.com/x4G5T.png" alt="enter image description here"></p>

<p>We've always had an "excellent" percent answered, and as you can see we've recently crossed the 1500 visits/day "excellent" threshold as well. Now I'd like to see what we can do to address the rest of the metrics to bring them up to "excellent":</p>

<ul>
<li><p><strong>Number of questions</strong> should be pretty easy - at the current rate, we should hit 1500 questions in a little over a week.</p></li>
<li><p><strong>Number of "avid users"</strong> is going to be harder. In order to get "excellent" in this category, we need to have 42 additional users with 200+ rep, 5 additional with 2,000+ rep, and 4 more with 5,000+ rep. To hit these targets, we'll need to</p>

<ul>
<li><p>Actively recruit more users to the site. Suggestions about how to do this are welcome.</p></li>
<li><p>Questions, and especially answers, need to get more votes to increase the rep of the poster. We need to actively promote upvoting good questions and answers.</p></li>
</ul></li>
<li><p><strong>Answer ratio</strong> could also be tricky. In order to bring our existing question base up to a ratio of 2.5 answers per question we'd have to add over 420 answers (give or take, the ratio isn't precise). Of course, getting some answers to the 6% "unanswered" questions should be the top priority, but we should try to encourage users to add alternative solutions to "answered" questions as well.</p></li>
</ul>

<p>Thoughts?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Lurking around discussions.apple.com and posting  links  to this site might help. I did that with a couple of questions that had an answer here. :)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>