<html>
	<head>
		<title id = 'pagetitle'>Grayed out edit on some questions and most meta questions
		</title>
	<head>
	<body id = 'pagebody'><p>Mostly, I can edit questions, place them in queue and wait for them to be reviewed. However, I haven't seen a question on the meta that does have the edit button not grayed out. I found one question that had the edit button grayed out on the main page. Why is this?</p>

<p><img src="https://i.stack.imgur.com/O3YtM.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p><img src="https://i.stack.imgur.com/qG8cV.png" width="331">
<img src="https://i.stack.imgur.com/E29bC.png" width="318"></p>

<p>Two suggested edits can't be submitted on the same post at the same time. The first suggested edit must be approved or rejected before another suggested edit can be submitted. If the user can approve or reject the suggested edit, either because they have the privilege to do so or the suggested edit was on their own post, they see <sub><img src="https://i.stack.imgur.com/figGs.png" width="42" title="edit (1)"></sub> and can approve/reject the edit.</p>

<p>You can't submit suggested edits on non-tag-wiki posts on child meta sites. On meta without the edit privilege, you can edit community wiki posts (if you have the necessary privilege), tag wikis (with the suggested edit system in place) and your own posts. Once you have the necessary privilege to edit without suggested edits on the main site, you can edit any post on the child meta.</p>

<p>There are other cases where the edit button would be greyed out and suggested edits not allowed:</p>

<ul>
<li>Too many of your suggested edits were rejected and you are suspended from suggesting edits for one week.</li>
<li>There are currently 200 suggested edits waiting to be reviewed and therefore no more can be suggested.</li>
<li>The post is locked by a moderator or by 'migration limbo'.</li>
<li>You are suspended.</li>
</ul>

<p>In all of these cases, the tooltip will explain.</p>


	</body>
</html>