<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Great Comment "votes"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1342" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::60</h3>
				<h2>Great Comment "votes"</h2>
<p>Next to comments there are two options - one is to flag it, the other is an up arrow ("this is a great comment"). Other then letting users know which comments are valuable, do  the up arrows "votes" have any other role?</p>

			</div><h3>Comments</h3>
			<div id = "comment-2543" class = "comment">
				<p>You had two questions in here. This site works better when there is only one question per question. That way, it's easier for other people to find solutions if they have the same problem. I've edited out your second question, but feel free to ask it separately.</p>
			</div>
			<div id = "comment-2544" class = "comment">
				<p>You might want to enter the [now removed] second question as a feature request, BTW, although there are some longstanding reasons why I expect it will be turned down.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1342">Record</button>
				<button class="record-stop" id="stop-1342">Stop</button>
				<p id="recording-1342"></p>

<h1>Answers</h1>
			<br><div id = "ans-1343"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The only other function they serve is that, in cases where a question or answer has many comments, and the displayed list is abridged and the <strong>Add/Show x More Comments</strong> link appears, up votes are used to determine which contents remain displayed while others are hidden.</p>

<p>Beyond that, it has no other mechanical effect, other than providing a visual indicator to other users that some number of people thought a given comment was worthy of additional attention in some way.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1343">Record</button>
				<button class="record-stop" id="stop-1343">Stop</button>
				<p id="recording-1343"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>