<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Great Comment "votes"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Great Comment "votes"</h2>
<p>Next to comments there are two options - one is to flag it, the other is an up arrow ("this is a great comment"). Other then letting users know which comments are valuable, do  the up arrows "votes" have any other role?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The only other function they serve is that, in cases where a question or answer has many comments, and the displayed list is abridged and the <strong>Add/Show x More Comments</strong> link appears, up votes are used to determine which contents remain displayed while others are hidden.</p>

<p>Beyond that, it has no other mechanical effect, other than providing a visual indicator to other users that some number of people thought a given comment was worthy of additional attention in some way.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>