<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>HappyMacUser and ConcernedMacUser
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2844" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::23</h3>
				<h2>HappyMacUser and ConcernedMacUser</h2>
<p>These accounts from this <a href="https://apple.stackexchange.com/q/156921/22781">thread</a> looks like needs merging:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/101161/concernedmacuser">ConcernedMacUser</a></li>
<li><a href="https://apple.stackexchange.com/users/101201/happymacuser">HappyMacUser</a></li>
</ul>

<p>Is it possible to merge unregistered accounts?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2845"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Technically - anyone can request a merge - use the contact us link at the bottom of any page and link the details you have here.</p>

<p>In specific, moderators can sometimes tell if accounts should be merged and can ask. Most of the time, moderators can't tell and have to rely on the user themselves to indicate a merge is needed.</p>

<p>It's not at all wrong to have many accounts - only when multiple accounts collude to vote or otherwise evade controls or abuse the system is merging and / or corrective actions warranted. Simply having two accounts isn't reason enough to request a merge in most cases.</p>

<p>In this case, it seems intentional and humorous and likely the same person. I'm not going to ask for a merge since the accounts are old and the OP / OP's aren't struggling to use the site.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>