<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>has anyone got their free merchandise yet?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>has anyone got their free merchandise yet?</h2>
<p>A while ago I got an email explaining that I was in the top 100 (or something) users and would receive some free stuff like a shirt and stickers if I filled in a form (which I did).</p>

<p>I would just like to know if anyone has got theirs or if they have not been sent yet. I'm not being picky, just that we are moving house and I would like to know whether I should be nagging the new residents for my parcel :-) I got some StackOverflow stuff a while back too and its among my favourite shirts, so can't wait for this one :-)</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I have not, and I do hope they let us know when they send it out because the building I live in often does not tell me when a package has arrived for me - I more or less have to know about it and keep checking with the desk.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I believe nothing's been sent yet. I'll check in with the sender tomorrow morning and report back.</p>

<p>Reporting back!<br>
The swag should be going out by the end of this week. The goods'll be shipped via USPS flat rate, which will take up to two weeks for domestic destinations. For international destinations... your guess is as good as ours.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I did! My swag arrived a short while ago. Thanks to the whole team for making StackExchange into an awesome places for an awesome community!</p>

<p><strong>EDIT:</strong></p>

<p>Here's some photos. (I forgot to tag a photo of the "unboxing", and I was too lazy to take off the tee shirt, so there's two photos instead of one with everything in it.)</p>

<p><img src="https://i.stack.imgur.com/gLNWo.jpg" alt="Apple.SE Tee shirt">
<img src="https://i.stack.imgur.com/Zy5e3.jpg" alt="Apple.SE swag"></p>

<p><strong><em>Thanks so much!</em></strong></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>