<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>has anyone got their free merchandise yet?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-661" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::197</h3>
				<h2>has anyone got their free merchandise yet?</h2>
<p>A while ago I got an email explaining that I was in the top 100 (or something) users and would receive some free stuff like a shirt and stickers if I filled in a form (which I did).</p>

<p>I would just like to know if anyone has got theirs or if they have not been sent yet. I'm not being picky, just that we are moving house and I would like to know whether I should be nagging the new residents for my parcel :-) I got some StackOverflow stuff a while back too and its among my favourite shirts, so can't wait for this one :-)</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-662"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I have not, and I do hope they let us know when they send it out because the building I live in often does not tell me when a package has arrived for me - I more or less have to know about it and keep checking with the desk.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1258" class = "post">
				<p>Any idea if we can change the address? I'm going to be in San Francisco for the next two months and I have put my EU address; no one is going to be there for the next two months :(</p>
			</div>
			<div id = "comment-1259" class = "post">
				<p>@Martin Ask Abby, it might not be too late</p>
			</div>
			<br><div id = "ans-663"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>I believe nothing's been sent yet. I'll check in with the sender tomorrow morning and report back.</p>

<p>Reporting back!<br>
The swag should be going out by the end of this week. The goods'll be shipped via USPS flat rate, which will take up to two weeks for domestic destinations. For international destinations... your guess is as good as ours.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1200" class = "post">
				<p>Thanks Abby :-)</p>
			</div>
			<div id = "comment-1216" class = "post">
				<p>Thanks, I'm waiting too!</p>
			</div>
			<div id = "comment-1260" class = "post">
				<p>@Abby i've completed the Google Doc, but turns out that I've since moved to SF for two months and I won't be at home in EU. Any chance to change the address? Thanks .:)</p>
			</div>
			<div id = "comment-1261" class = "post">
				<p>@Martin no problem - email me your new address.</p>
			</div>
			<div id = "comment-1265" class = "post">
				<p>@Abby - done, thanks :)</p>
			</div>
			<div id = "comment-1367" class = "post">
				<p>Was wondering if there was any update to this?</p>
			</div>
			<div id = "comment-1404" class = "post">
				<p>I'm still looking for an update also... I received the email, filled out the form, but haven't received anything yet. Has everyone else...?</p>
			</div>
			<div id = "comment-1406" class = "post">
				<p>I'm wondering that [the original post](http://meta.apple.stackexchange.com/q/565/650) is dated Jun 21 and you say it'll get sent in August. Did it really take >5 weeks from announcement to shipping? If so, I'm not surprised that it hasn't arrived yet. I'm waiting patiently - no problem. Just wondering what's going on in the mail room :)</p>
			</div>
			<div id = "comment-1410" class = "post">
				<p>@Abby Are you going to notify people if you get a package back? It's been a month since you said it should be two weeks (I'm US domestic). I'm in Kyle's position (from his answer) that I'm rarely notified if I receive a package, so I need to check the post office. Are there any updates?</p>
			</div>
			<div id = "comment-1411" class = "post">
				<p>@CajunLuke I will indeed... however, our packages ship from an external warehouse, so it could be some time before I get wind of anything.</p>
			</div>
			<div id = "comment-1412" class = "post">
				<p>@Abby Thanks. (length)</p>
			</div>
			<div id = "comment-1413" class = "post">
				<p>Swag arrived in NY! Thanks!</p>
			</div>
			<div id = "comment-1415" class = "post">
				<p>I think mine may have come yesterday - got a call to where it was shipped too that it seemed like a tshirt had arrived.</p>
			</div>
			<div id = "comment-1422" class = "post">
				<p>Friday delivery in Minneapolis, MN.</p>
			</div>
			<div id = "comment-1424" class = "post">
				<p>Picked up package today! Thanks!</p>
			</div>
			<div id = "comment-1430" class = "post">
				<p>Mine just arrived today in western NC. Thanks StackExchange!</p>
			</div>
			<div id = "comment-1434" class = "post">
				<p>I just got mine in Oakland, CA. Thanks a bunch!</p>
			</div>
			<div id = "comment-1533" class = "post">
				<p>I've not received mine yet...</p>
			</div>
			<br><div id = "ans-775"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I did! My swag arrived a short while ago. Thanks to the whole team for making StackExchange into an awesome places for an awesome community!</p>

<p><strong>EDIT:</strong></p>

<p>Here's some photos. (I forgot to tag a photo of the "unboxing", and I was too lazy to take off the tee shirt, so there's two photos instead of one with everything in it.)</p>

<p><img src="https://i.stack.imgur.com/gLNWo.jpg" alt="Apple.SE Tee shirt">
<img src="https://i.stack.imgur.com/Zy5e3.jpg" alt="Apple.SE swag"></p>

<p><strong><em>Thanks so much!</em></strong></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1421" class = "post">
				<p>Mine arrived Friday I think to Minneapolis. Will post pictures once a sticker is mounted somewhere other than my coffee table.</p>
			</div>
			<div id = "comment-1426" class = "post">
				<p>Yay ... looking forward to getting mine :)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>