<html>
	<head>
		<title id = 'pagetitle'>Have paid ads for high reputation users been modified?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm seeing what appear to be commercial advertisements on the site which are not included in the <a href="https://apple.meta.stackexchange.com/questions/2318/community-promotion-ads-2015">roll of 2015 community promotion ads</a>.</p>

<p><img src="https://i.stack.imgur.com/BAZgw.png" alt="enter image description here"></p>

<p>Is this a change or has the sales team succeeded to sign up paying clients for non-trilogy sites?</p>


<h1>ANSWERS</h1>
		<p>Limited advertising has been available on some of the non-trilogy sites since last fall. See <a href="https://meta.stackexchange.com/questions/243364/what-sites-have-advertisements-enabled">What sites have advertisements enabled?</a> Danny Miller who wrote that reply is head of our ad sales. This might just be one of the first ads that's actually been bought on Ask Different, so there's nothing unusual here. Any products or services of interest to this site are all subject to our insanely strict no-distracting-content policies, so don't expect to see <em>punch-the-monkey</em> ads or scrolling television animations meandering across the screen <strike>anytime soon</strike>&hellip; well, ever.</p>


<p>@robert's answer is correct, but I'd like to add a few things.</p>

<ul>
<li>Advertising is available on a handful of sites outside the trilogy: Android, Arqade, Ask Ubuntu, Dba, Drupal, Gamedev, Programmers, Security, SharePoint, U/L, WebApps, WordPress, and of course, Ask Different.</li>
<li>This is indeed one of the first ads targeted to Ask Different.</li>
<li>The advertising on any and all Stack Exchange sites must meet our high bar of relevance and quality. While some ads are better than others, the company or product will have a reasonable likelihood of relevance.</li>
<li>You may not have noticed other paid ads because there haven't been many campaigns targeting Ask Different just yet.</li>
</ul>

<p><strong>TL;DR:</strong> we opened up advertising to thirteen sites outside of the trilogy last year and this is one example. Nothing regarding high-rep privileges has changed.</p>

<hr>

<p>Relevant question here: "<a href="https://meta.stackexchange.com/questions/243364/what-sites-have-advertisements-enabled">What sites have advertisements enabled?</a>"</p>


	</body>
</html>