<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Helping new guy, need 20 rep to join chat
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2104" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::46</h3>
				<h2>Helping new guy, need 20 rep to join chat</h2>
<p>Can we change the chat to be accessible for writing at +5 rep for AskDifferent? If it's based on a "permanent" number, could SE maybe update this so it's variable for each different site?</p>

<p>I think it's enough to have +5 on AskDifferent as we have awesome mods who will delete a user if he starts spamming our AskDifferent chatroom.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4039" class = "comment">
				<p>Need to do some research but I think that the awesome mods can invite users below 20 rep to chat as well.</p>
			</div>
			<div id = "comment-4041" class = "comment">
				<p>See many meta.SE posts including (for @patrix) http://meta.stackexchange.com/questions/111942/allow-inviting-people-with-rep-20-to-private-chat others http://meta.stackexchange.com/questions/74086/so-chat-why-is-it-that-only-members-of-stack-overflow-with-at-least-20-reputat</p>
			</div>
			<div id = "comment-4043" class = "comment">
				<p>Do you have any instances where this has caused grief on the site (so we can assist if needed and also build consensus for it happening with some regularity)? The requirement is partially due to the known bad behavior of some new users in chat and in most cases, a truly genuine new person can comment on their first posts and put up a few vote worthy posts on one site in the entire network to clear the 20 point hurdle in a day in most cases I've seen.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2105"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I agree, that in some circumstances it's needlessly difficult for a new user to be able to contact and communicate with other users.  We have this weird situation where a user can create a chat account and log in, but only read, and I've seen conversations carried on where the OP talks in comments which he then deletes, and others reply in Chat, creating a disjointed approach that encourages the uses to use the bad habits (extended discussions in comments) that we try to avoid.</p>

<p>20 isn't a particularly difficult target to hit, but when it's your first question it seems massively complex to have to have these things explained when we don't have a way for them to participate in a 2 way chat.</p>

<p>Not sure how to fix it, I imagine that the points/privileges system is cast on stone for all SE sites, and we can't unilaterally change it for AD, but perhaps it could be considered for change site wide.</p>

<p>Here's an example of an user answering via comments:
<img src="https://i.stack.imgur.com/V7ESt.png" alt="enter image description here"></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2106"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Thanks to <a href="https://apple.meta.stackexchange.com/users/237/mark">Mark</a> I don't even have to do the research any more :-)</p>

<p>There are valid reasons why a small amount of reputation is required for users to join chat (see the answers to <a href="https://meta.stackexchange.com/questions/74086/so-chat-why-is-it-that-only-members-of-stack-overflow-with-at-least-20-reputat">SO Chat: Why is it that &quot;Only members of Stack Overflow with at least 20 reputation may talk...&quot;?</a> for instance). And as the mods can (with some collaboration from the user side) also invite users below 20 rep points to the main or any other chat, a feasible way to handle this (rather) rare case would be to flag such questions for moderator attention so one of us can push the user into chat.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>