<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Help! My computer doesn't work
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-890" class = "post">
			<h2>Question</h2>
			<h3>Score ::10</h3>
			<h3>Views ::160</h3>
				<h2>Help! My computer doesn't work</h2>
<p>My computer hardware and/or software is not working the way I want it to.</p>

<p>What information should I be sure to include in a post on Ask Different in order to enable people provide helpful answers that might address my problems?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1634" class = "comment">
				<p>Making this a FAQ question on meta.AD</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-891"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>You should include the computer type (MacBook Pro, iMac, Mac Pro, PowerBook, iBook, Quadra, Performa, etc.). Please include the screen size if it has a built-in screen. </p>

<p>Also include either the model identifier (MacBookPro8,2; iMac3,4) or the release specifier (Early-2011 MacBook Pro, Late-2009 iMac). You can get the former from System Profiler (System Information in Lion) by choosing "About This Mac" from the Apple menu, then clicking the "More Info " button. (On Lion, you may also have to click the "System Report " button in the next window as well.) The latter can be obtained from <a href="http://support.apple.com" rel="nofollow">Apple's support website</a> or <a href="http://mactracker.ca" rel="nofollow">Mactracker</a>.</p>

<p>Unless the question is obviously completely hardware-related (which it almost never is), include your version of Mac OS. You can get this from the "About This Mac" window.</p>

<p>Please also include anything that's related to the matter at hand. If you're running out of hard drive space, how big is the drive? If your computer is slow, how many programs are you running at once? You get the idea. </p>

<p>Anything more specific than this is out of the scope of this answer, but be ready to answer questions about other parts of your hardware or software setup as needed. If you don't know how to get the answer, just ask and we'll be happy to guide you through that.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>