<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Helping thieves
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Helping thieves</h2>
<p>There is a girl asking how to update an ipod she "got from the unclaimed baggage".
It's an euphemism to say it's stolen, as lost and found offices won't give unclaimed stuff to random people:</p>

<p><a href="https://apple.stackexchange.com/questions/83352/how-to-upgrade-ipod-touch-4g-to-ios-5-6">https://apple.stackexchange.com/questions/83352/how-to-upgrade-ipod-touch-4g-to-ios-5-6</a></p>

<p>What happened: the question has been redacted to look legitimate and my question "is it stolen?" has been deleted.
Is that right?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The only thing that seems off in that thread is accusing them of being a thief. They could be someone who found / stole an iPod, but legitimate auctions do happen when unclaimed goods are redistributed.</p>

<p>You could be right, but what if you're wrong and very publicly accusing someone of being a criminal?</p>

<p>In the end, if you ask a thief if they are, they will say no and if you ask a non-thief if they are a thief, they too will say no, but also potentially be upset / offended / have a legitimate complaint about calling their morals into question.</p>

<p>If something is totally, clearly illegal - we often delete / edit it - but when there is room for a legitimate case, we tend to be open to the assumption that people are good and the post is offered in good faith.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>