<html>
	<head>
		<title id = 'pagetitle'>Help me come up with an ad to run on OS X~iOS tags on Stack Overflow for beta testing program
		</title>
	<head>
	<body id = 'pagebody'><p>We've gotten some enthusiastic responses about the idea of a <a href="https://apple.meta.stackexchange.com/questions/643/are-you-interested-in-beta-testing-os-x-and-ios-apps">developer/beta tester matchup program</a> between Ask Different and Stack Overflow. My thanks to everyone who has volunteered so far. </p>

<p>The next step in making this happen is getting some apps for people to test. Since there isn't a meta for just OS X/iOS developers on Stack Overflow, we think one of the most effective ways to attract developers' attention to the program is to stick an ad on the relevant tag pages over there.</p>

<p>I am not a designer. I have zero Photoshop Fu. I can ask Stack Exchange's <a href="https://meta.stackoverflow.com/users/147574/jin">designer-in-residence</a> to put something together for us. But, the <a href="https://apple.meta.stackexchange.com/questions/455/community-promotion-ads-1h-2011">community promotion ads</a> for this site came out so well that I thought I'd open the design up to the community's imagination.</p>

<p>I'm not even going to stoop to posting <a href="https://i.imgur.com/Ggt9S.jpg" rel="nofollow noreferrer">what I hacked together</a> as an example. Just post your 220x250px image as an answer and the votes will decide!</p>

<p>(Posts are not subject to the parameters of the community promotion ads, since these images will be downloaded and run on Stack Overflow "by hand", not by the run-community-ads bot.)</p>

<p>Update:<br>
I lied. I'm going to inflict my mockup on you. </p>

<p><img src="https://i.stack.imgur.com/AYPye.jpg" alt="SO BAD. SO. BAD."></p>

<p>Clearly, these decisions should not be in my hands. You should probably help.</p>


<h1>ANSWERS</h1>
		<p>I took your ad and cranked up the awesome:</p>

<p><img src="https://i.stack.imgur.com/0rRIf.gif" alt="enter image description here"></p>


<p>I'm not a graphic designer; I'm one of those people who knows Photoshop but probably shouldn't be allowed to use it. Anyway, here goes:</p>

<p><img src="https://i.stack.imgur.com/sfG5e.png" alt="desc"></p>

<p>I'm open to any kind of ideas/suggestions you may have; just add a comment!</p>

<p><strong>Edit:</strong> I've updated the wording as requested, and the Ask Different logo should look a bit cleaner. You can see the old version <a href="https://i.stack.imgur.com/RE0Ea.png" rel="nofollow noreferrer">here</a>.</p>


<p>In thinking of making an advert, I find I'm not at all clear how this will work within the guidelines to avoid self promotion on SE. We have a great site here with low promotion and I don't think any of the devs will in any way be crossing this line - but thinking this out will ensure clarity in ensuring unwelcome sorts of promotion are still clear to all. </p>

<p>Has this been spelled out yet (or are there any guidelines if this is being done as an experiment knowing it goes into the gray area and how much latitude will be allowed to test this idea out)?</p>

<p>Where will the interaction between Apple.SE users and StackOverflow users happen? </p>

<p>There will be numerous questions from the Apple.SE users on:</p>

<ul>
<li>configuration profiles</li>
<li>side loading apps in iTunes / Xcode / Server Profile Manager / iPhone Utility</li>
<li>console error messages</li>
<li>beta builds (developers tend to want to get testers for the new products)</li>
</ul>

<p>Will they use a tag and participate on SO ? 
Will they participate here (or a new Area 51 site)?</p>

<p>Will they be asked to take their discussions elsewhere - just letting this be an introduction service. </p>

<p>It's hard to know what copy I would craft - not knowing more about how things are going to work.</p>


<p>How about something like a code stub used for unit testing.</p>

<p><img src="https://i.stack.imgur.com/bYgct.jpg" alt="enter image description here"></p>

<p>This might appeal to the people that write code.</p>

<p>I didn't fix the obvious bad gradient choice that makes the text aliasing look awful (I just took a cheap screen shot in Xcode rather than coloring the text properly in keynote).</p>

<p>I would probably put the Ask Different logo on the left before the ...we text.</p>


	</body>
</html>