<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Helping thieves
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1626" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::305</h3>
				<h2>Helping thieves</h2>
<p>There is a girl asking how to update an ipod she "got from the unclaimed baggage".
It's an euphemism to say it's stolen, as lost and found offices won't give unclaimed stuff to random people:</p>

<p><a href="https://apple.stackexchange.com/questions/83352/how-to-upgrade-ipod-touch-4g-to-ios-5-6">https://apple.stackexchange.com/questions/83352/how-to-upgrade-ipod-touch-4g-to-ios-5-6</a></p>

<p>What happened: the question has been redacted to look legitimate and my question "is it stolen?" has been deleted.
Is that right?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3015" class = "post">
				<p>I'll have a look, but sadly there's not a good way to draw a line around some knowledge. Questions about how things work can and will be used to get around controls by some percentage of people.</p>
			</div>
			<div id = "comment-3023" class = "post">
				<p>Hi @Magnetic_dud, I saw your answer and initially I had some misgivings about giving an answer. When I first became active in Ask Different, I brought my skepticism. My experience with the active people here have been overwhelmingly positive and reassuring so I've learned to trust their judgment. I hope you won't be discouraged by what happened here, and continue to be active here.</p>
			</div>
			<div id = "comment-3040" class = "post">
				<p>"Unclaimed baggage" usually doesn't refer to a lost & found situation. Airlines will periodically auction off goods that have gone unclaimed for a sufficiently long time. This is an entirely legal way to get cheap stuff.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1627"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::11</h3>
				<p><p>The only thing that seems off in that thread is accusing them of being a thief. They could be someone who found / stole an iPod, but legitimate auctions do happen when unclaimed goods are redistributed.</p>

<p>You could be right, but what if you're wrong and very publicly accusing someone of being a criminal?</p>

<p>In the end, if you ask a thief if they are, they will say no and if you ask a non-thief if they are a thief, they too will say no, but also potentially be upset / offended / have a legitimate complaint about calling their morals into question.</p>

<p>If something is totally, clearly illegal - we often delete / edit it - but when there is room for a legitimate case, we tend to be open to the assumption that people are good and the post is offered in good faith.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3016" class = "post">
				<p>But removing from the question the vital part of the question (it's found), changes the answer. It can be blacklisted, or she could have misidentified the device - if it's an ipod 3g it's normal that there isn't an update to ios 6</p>
			</div>
			<div id = "comment-3017" class = "post">
				<p>As she wrote "i am not good with this type of things" - an ipod 4g and an ipod 3g looks almost the same at the eyes of a newbie</p>
			</div>
			<div id = "comment-3018" class = "post">
				<p>Feel free to post the answer you want on that question explaining that stolen goods are blacklisted if that's what you believe. Let's see what another moderator thinks. They'll all get notified of this thread now and perhaps they see something differently than I. Perhaps the best thing for you to do is answer the question as you see it being and comment / seek permission or consensus to re-edit that information back into the question. This thread here is a great start. You could also post to the chat room as many high rep users could also help you.</p>
			</div>
			<div id = "comment-3019" class = "post">
				<p>As @bmike already pointed out, it's unclear based on the available information whether the user got its iPod by legal or illegal means. The basic question (how do I upgrade an iPod touch 3/4) is legitimate and unless we get other indicators that something is wrong I think we should let the question stand.</p>
			</div>
			<div id = "comment-3020" class = "post">
				<p>I'll add that you can't stop selling forks just because someone might stick you with one. We can't stop answering questions because the responses are potentially being used for nefarious purposes. When it's clearly nefarious-only we delete it, but otherwise you have to accept that knowledge is power that can be used for good and bad.</p>
			</div>
			<div id = "comment-3036" class = "post">
				<p>Wouldn't a thief have said that she inherited the phone from Great Aunt Matilda?</p>
			</div>
			<div id = "comment-3038" class = "post">
				<p>Re: your third paragraph in this answer. Being wrongfully accused infuriates the hell out of a lot of people. However, in the broken justice system of the USA if you get angry, even in a deposition, the judge/court interprets that as evidence that you have been **rightfully** accused, and you are upset b/c you have been *caught*, I was advised by a lawyer. It's a horribly stupid 'rule'. So I would advise people to remain calm when wrongfully accused, by any authority. IME, this even applies to being scolded by a teacher in a classroom. Asking "Then why are you angry?" is painfully dumb!!</p>
			</div>
			<div id = "comment-3039" class = "post">
				<p>I should have perhaps just linked to the [site policy on etiquette](http://apple.stackexchange.com/faq#etiquette) - which is basically, **Civility is required at all times; rudeness will not be tolerated.** So, call someone a thief with grace and courteously if at all possible, no matter what your lawyer advises. :)</p>
			</div>
			<div id = "comment-3119" class = "post">
				<p>@bmike lol! I was talking about being on the other end (being the accused, not the accuser), but point understood. Though, I wonder if any SE site is the place to discuss the morality of ownership  besides IP, and maybe Workplace, I guess. Then again  Probably anything having to do with user permissions  lol  Maybe every site has to deal with it on some level, though I don't think most deal with it in the main sites FAQ. Haha! That must be why we have meta! Help us all if the thieves start going to meta!</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>