<html>
	<head>
		<title id = 'pagetitle'>History tag scope
		</title>
	<head>
	<body id = 'pagebody'><p>The <a href="https://apple.stackexchange.com/questions/tagged/history" class="post-tag" title="show questions tagged &#39;history&#39;" rel="tag">history</a> tag is a hodgepodge of all sorts of things but I think it might be better off just deleted if it isn't going to collect <a href="https://apple.stackexchange.com/questions/tagged/apple-history" class="post-tag" title="show questions tagged &#39;apple-history&#39;" rel="tag">apple-history</a> (history of the company, computers, etc. only found a few of these). Browser history is already covered in <a href="https://apple.stackexchange.com/questions/tagged/browser" class="post-tag" title="show questions tagged &#39;browser&#39;" rel="tag">browser</a>. Logs and bash history are covered in tags related to their apps. </p>


<h1>ANSWERS</h1>
			</body>
</html>