<html>
	<head>
		 <link rel="stylesheet" href="/style.css"/>
		 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src = "createlinks.js"></script>
   <script src = "home.js"></script>
		<title id = 'pagetitle'>Home Page</title>
	<head>
	<body id = 'pagebody'>
		<header>
			<h1>Just Another QnA</h1>
		</header>
		<div class="topnav" id="myTopnav">
			  <a href="#">Topic 1</a>
			  <a href="#">Topic 2</a>
			  <a href="#">Topic 3</a> 
			  <a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
		</div>

		<!--div to hold login and issue modals htmls via jquery-->
		<div id = loginmodals></div>
		<div id = issuemodals></div>

	 
		<div class="container">
			<div id = "homepage">
				<form id = "questionhomeform" method="GET" action = "/ask">
					<input type="submit" id = "quesbtn" class="btn btn-primary" value="Ask Question">
				</form>
				
				<input id="tab-1" type="radio" name="tab-group" checked="checked" style="visibility:hidden;"/>
			    <label for="tab-1">Trending</label>
			   
			    <input id="tab-2" type="radio" name="tab-group" style="visibility:hidden;"/>
			    <label for="tab-2">Recommended for you</label>
			   
			    <input id="latest-tab" type="radio" name="tab-group" style="visibility:hidden;"/>
			    <label for="latest-tab">Latest</label>

			    <div id="content">
			    	<div id="content-1">
			    		
			    	</div>

			    	<div id="content-2">
			    		
			    	</div>

			    	<div id="latest-content">
			    		
			    	</div>
			    </div>

			</div>
			<script>

				$("#loginmodals").load("/loginModal.html"); 
				$("#issuemodals").load("/issueModal.html");
				checkLoggedInUser()
				getHomeLinks(<%-JSON.stringify(homePageContent) %>, 'content-1')

			</script>
			<script src = "managefunction.js"></script>
			<footer>Moore & Peps collaboration.</footer>
		</div>
	</body>
</html>