<html>
	<head>
		<title id = 'pagetitle'>Home Page</title>
	<head>
	<body id = 'pagebody'>
		<h1>Links Fetched From DB</h1>
		<div id = "homepage"></div>
		<script>
			function getHomeLinks(homePageContent){

				homePageContent = eval(homePageContent);
				console.log('home page content ->' +JSON.stringify(homePageContent));

				var pagebody = document.getElementById('homepage')
				for(var i=0;i<homePageContent.length;i++){

					var link = homePageContent[i].title;
					console.log(link)
					//link = link.replace("?", "%3F")	

					var a = document.createElement('a');
					a.title = link;

					a.href = '/page/' + link.replace("?", "%3F");
					a.innerHTML = link;
					pagebody.appendChild(a);
				}
				//document.getElementById('homepage').innerHTML = homePageContent
			}
			getHomeLinks(<%-JSON.stringify(homePageContent) %>)
		</script>
	</body>
</html>