<html>
	<head>
		 <link rel="stylesheet" href="/style.css"/>
		 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src = "createlinks.js"></script>
		<title id = 'pagetitle'>Home Page</title>
	<head>
	<body id = 'pagebody'>
		<header>
			<h1>Just Another Discussion Forum</h1>
		</header>
		<div class="topnav" id="myTopnav">
			  <a href="#">Topic 1</a>
			  <a href="#">Topic 2</a>
			  <a href="#">Topic 3</a> 
			  <a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
		</div>


	  <!-- Modal -->
	  <div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title" id = "modaltitle"></h4>
	        </div>
	        <div class="modal-body">
	            <ul class="nav nav-tabs" id="tabContent">
			        <li><a href="#log-in" data-toggle="tab">Log in</a></li>
			        <li><a href="#sign-up" data-toggle="tab">Sign Up</a></li>
				</ul>
				<div class="tab-content">
	        		<div class="tab-pane" id="log-in">
	            		<form>
			    			Account Id<br>
				    		<input type = "text" name = "accid", required placeholder="AccountID" id = "accid">
				    		<br><br>
				    		Password<br>
				    		<input type = "password" name = "passwd", required placeholder="Password" id = "lpasswd">
				    		<br><br>
				    		<button type="button" onclick = 'doLogin()' id="login_btn">Login</button>
				    	</form>			 
	      			</div>
	        		<div class="tab-pane" id="sign-up">
	        			<form action = "/sign-up" method = "POST" role = "form">
			    			Name<br>
				    		<input type = "text" name = "name", required placeholder="Name" id = "name">
				    		<br><br>
				    		Password<br>
				    		<input type = "password" name = "passwd", required placeholder="Password" id = "spasswd">
				    		<br><br>
				    		<button type="submit" id="signup_btn">Sign Up</button>
				    	</form>	
	        		</div> 
				</div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>


	  <div class="modal fade" id="issueModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title" id = "issuemodaltitle">Report Issue</h4>
	        </div>
	        <div class="modal-body">
	        	
        		<label for="issuetext">Issue</label>
           		<textarea id="issuetext" class="scrollabletextbox"></textarea>
           		<button type = "button" onclick = "reportIssue()" id="issue_btn">Report</button>
	           
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>

		<div class="container">
			
			<div id = "homepage">
				<input id="tab-1" type="radio" name="tab-group" checked="checked" style="visibility:hidden;"/>
			    <label for="tab-1">Trending</label>
			   
			    <input id="tab-2" type="radio" name="tab-group" style="visibility:hidden;"/>
			    <label for="tab-2">Recommended for you</label>
			   
			    <input id="tab-3" type="radio" name="tab-group" style="visibility:hidden;"/>
			    <label for="tab-3">Latest</label>

			    <div id="content">
			    	<div id="content-1">
			    		
			    	</div>

			    	<div id="content-2">
			    		
			    	</div>
			    </div>

			</div>
			<script>
				checkLoggedInUser()
				getHomeLinks(<%-JSON.stringify(homePageContent) %>)
			</script>
			<footer>Moore & Peps collaboration.</footer>
		</div>
	</body>
</html>