<html>
	<head>
		 <link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Home Page</title>
	<head>
	<body id = 'pagebody'>
		<header>
			<h1>Just Another Discussion Forum</h1>
		</header>
		<div class="topnav" id="myTopnav">
			  <a href="#">Topic 1</a>
			  <a href="#">Topic 2</a>
			  <a href="#">Topic 3</a>
			  <a href="#" style = "float:right;">About</a>
			  <a href="#" style = "float:right;">Preferences</a>
			  <a href="#" style = "float:right;">Profile Link</a>
			</div>
		<div class="container">
			
			<div id = "homepage">
				<input id="tab-1" type="radio" name="tab-group" checked="checked" style="visibility:hidden;"/>
			    <label for="tab-1">Trending</label>
			   
			    <input id="tab-2" type="radio" name="tab-group" style="visibility:hidden;"/>
			    <label for="tab-2">Recommended for you</label>
			   
			    <input id="tab-3" type="radio" name="tab-group" style="visibility:hidden;"/>
			    <label for="tab-3">Latest</label>

			    <div id="content">
			    	<div id="content-1">
			    		
			    	</div>

			    	<div id="content-2">
			    		<p>text for tab 2</p>
			    	</div>
			    </div>

			</div>
			<script>

				//separate div for each post (question and answer)!!!!
				function getHomeLinks(homePageContent){

					homePageContent = eval(homePageContent);
					//console.log('home page content ->' +JSON.stringify(homePageContent));

					var pagebody = document.getElementById('content-1');
					for(var i=0;i<homePageContent.length;i++){

						var id = homePageContent[i].Id;

						var par = document.createElement('p');
						par.className = "post-home";
						par.Id = "post-"+ id;

						pagebody.appendChild(par);

						console.log('home page content ->' +JSON.stringify(homePageContent[i]));

						var link = homePageContent[i].Title;
						console.log('link-->', link)
						//link = link.replace("?", "%3F")

						var date = homePageContent[i].CreationDate;
						console.log('date-->', date)	

						var a = document.createElement('a');
						a.title = link;

						var linktext = link.includes("?")?link.replace("?", "%3F"):link;
						var linktext = link.includes("'")?link.replace("'", "%27"):link;
						console.log('linktext-->', linktext)

						a.href = '/page/' + linktext
						a.innerHTML = link;
						//a.className = "post"

						par.appendChild(a);

						console.log(pagebody)
					}
					//document.getElementById('trendingcontent').innerHTML = homePageContent
				}
				getHomeLinks(<%-JSON.stringify(homePageContent) %>)
			</script>
			<footer>Moore & Peps collaboration.</footer>
		</div>
	</body>
</html>