<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How to get image of our point with K?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2002" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::39</h3>
				<h2>How to get image of our point with K?</h2>
<p>I saw in many profile that they have K with point, so my question is that how can i get such type of image.</p>

<p>For example i saw someones's  profile<br>
<img src="https://i.stack.imgur.com/3mVGa.png" alt="enter image description here"></p>

<p>But my is<br>
<img src="https://i.stack.imgur.com/4N6UE.png" alt="enter image description here"></p>

<p>Even i have many link account compare to Divya.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2002">Record</button>
				<button class="record-stop" id="stop-2002">Stop</button>
				<p id="recording-2002"></p>

<h1>Answers</h1>
			<br><div id = "ans-2003"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Answer questions! Vote! Participate!</p>

<p>The 1.8k in that user's profile badge is short form for 1800. Where 1800 is their reputation score on the Ask Different site. They've earned that reputation by participating in the site. Rep is mainly gained by answering questions correctly and having those answered voted up and accepted as the most correct answer for questions. But you also get rep for questions that are voted up. And other actions on the site can earn you rep too like peer reviewing pending edits and suggesting tag wikis and so on.</p>

<p>As for the flair badge for the site:</p>

<blockquote>
  <p>(please note that only sites where you have more than 200 reputation will appear, and that flair is only updated once every 24-36 hours.)</p>
</blockquote>

<p>This is from the flair page itself. You can see it here for your user account: <a href="https://stackoverflow.com/users/1369972/rajneesh071/flair">https://stackoverflow.com/users/1369972/rajneesh071/flair</a></p>

<p>You don't have enough rep on Ask Different yet to get a flair badge. You need +200 rep on any site for a badge. Keep going! You're almost there!</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3857" class = "comment">
				<p>I already have more reputation  http://stackoverflow.com/users/1369972/rajneesh071</p>
			</div>
			<div id = "comment-3858" class = "comment">
				<p>But that's on StackOverflow -- your rep is tracked per-site. Your rep on Ask Different isn't high enough to show up in a flair badge: http://apple.stackexchange.com/users/45688/rajneesh071 -- it's below 200.  If you want an aggregate reputation badge for all your Stack Exchange site rep take a look at this page: http://stackoverflow.com/users/1369972/rajneesh071/flair</p>
			</div>
			<div id = "comment-3859" class = "comment">
				<p>Hi thanks. what i am looking for if this image http://stackexchange.com/users/flair/1453784.png</p>
			</div>
			<div id = "comment-3867" class = "comment">
				<p>If you look at your flair page it says: "(please note that only sites where you have more than 200 reputation will appear, and that flair is only updated once every 24-36 hours.)" -- you don't have enough rep to get a flair badge for Ask Different yet. You're not at +200 rep.</p>
			</div>
			<div id = "comment-3872" class = "comment">
				<p>Thanks, but i am using http://stackexchange.com/users/flair/1453784.png I just wanted this image, and i got now. :)</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2003">Record</button>
				<button class="record-stop" id="stop-2003">Stop</button>
				<p id="recording-2003"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>