<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I see Site Stats?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-303" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::148</h3>
				<h2>How can I see Site Stats?</h2>
<p>After official launch of Ask Different we loose little "site stats" box:</p>

<p><img src="https://i.stack.imgur.com/UICwa.jpg" alt="enter image description here"></p>

<p>Know how can we see Ask Different stats?<br>
I check <a href="http://area51.stackexchange.com/proposals/151/apple">Area51</a> it seems that the stats didn't update after official launch.<br>
Also I check <a href="http://data.stackexchange.com/" rel="nofollow noreferrer">data.stackexchamge.com</a> and realize that Ask Different didn't add there yet.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-304"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>You can see the site stats for all of our sites here: <a href="http://stackexchange.com/sites">http://stackexchange.com/sites</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-657" class = "comment">
				<p>I saw that but it has not full detail, such as exact number of member, number of visitor/day not visits/day, number of comment, number of tags and ...</p>
			</div>
			<div id = "comment-658" class = "comment">
				<p>@Am1rr3za Some of those statistics weren't even shown in the beta Site Stats box.  And if you want exact numbers for the stats shown on http://stackexchange.com/sites you can hover over the numbers and wait for the tooltip.</p>
			</div>
			<div id = "comment-659" class = "comment">
				<p>@Am1rr3za There's also a link on the stackexchange.com/sites page that takes you to another version of the site list with expanded statistics: http://stackexchange.com/sites?expand=true</p>
			</div>
			<div id = "comment-660" class = "comment">
				<p>@gcla Tanx nice info.</p>
			</div>
			<br><div id = "ans-305"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p><a href="http://api.apple.stackexchange.com/1.0/stats">http://api.apple.stackexchange.com/1.0/stats</a></p>

<p>Its not very user friendly, but the data is there.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-310"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Moderators have access to detailed analytics but these are not meant to be shared too widely.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>