<html>
	<head>
		<title id = 'pagetitle'>How do I create a link to Ask Different chat from Ask Different main?
		</title>
	<head>
	<body id = 'pagebody'><p>I've seen links to chat (so as not to have a conversation in the comments).</p>

<p>How do I create one? I've searched the meta here and unfortunately unable to find the right one. </p>


<h1>ANSWERS</h1>
		<p>Several ways.</p>

<p>[chat] expands to <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">http://chat.stackexchange.com/rooms/38/ask-different-chat</a> and is named <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">Ask Different Chat</a> which when called from the main site goes to the site chat room list (but only on the main site).</p>

<p>You can always copy the direct room links and embed a link shorthand using [name](URL) inline syntax as well as the [markdown method][1]</p>

<p>[1]: <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">http://chat.stackexchange.com/rooms/38/ask-different-chat</a></p>


	</body>
</html>