<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>How should we handle questions about activity illegal outside the US?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-966" class = "post">
			<h2>Question</h2>
			<div id="vote-966" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 158</p>
			</div>
				<h2>How should we handle questions about activity illegal outside the US?</h2>
<p>Someone <a href="https://apple.stackexchange.com/q/33629/13">posted a question</a> about changing the IMEI of their iPhone. A UK user flagged this question for asking about an illegal activity, and <a href="http://www.met.police.uk/mobilephone/reprogramming.htm" rel="nofollow noreferrer">indeed it is in the UK</a>. However, I haven't been able to find any evidence that it's illegal in the United States.</p>

<p>My inclination is to let the question remain, because:</p>

<ol>
<li>The UK Mobile Telephones (Re-Programming) Act 2002 considers as offenses changing the identifier, offering to change the identifier, possessing "a thing" to change the identifier, and supplying or offering to supply "a thing" to change the identifier. In my opinion, it's doubtful that electronically provided information can be constituted "a thing".</li>
<li>Even if it were, Stack Exchange is based in the United States and is not bound by UK law.</li>
</ol>

<p>However, just because Ask Different is not culpable for providing this information, that doesn't necessarily mean that we must allow such questions. Yet in my view, changing the IMEI seems fairly benign - akin to jailbreaking or unlocking (both of which we allow questions about), but I recognize that it's possible to use that capability to avoid capture by using stolen phones in the commission of other crimes. (the reasoning I suspect behind the UK law)</p>

<p>Thoughts?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-966" class = 'collapse'>
			</div>
				<textarea id = "speech-966" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-966">
					<img id="start_img-966" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-967"  class = "post">
				<h2>Answer</h2>
			<div id="vote-967" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I suspect StackExchange as an entity wants to avoid being sued or criminally prosecuted, and this shapes some of the constraints on the site (e.g. the ban on discussing software covered by a Non-Disclosure Agreement). And in the case of the NDA, the discussion itself <em>is</em> the illegal activity. Since the SE corporation owns the servers, of course we need to play by whatever rules they impose for their own protection. That said, if whatever legal minds at SE don't prohibit a discussion and it's about</p>

<ul>
<li>Apple hardware</li>
<li>Apple software</li>
<li>other Apple products or services</li>
<li>third-party hardware and software for Apple products</li>
</ul>

<p>and not about</p>

<ul>
<li>Apple Developer Programs or iTunes Connect (including iAd)</li>
<li>programming, with the exception of AppleScript and Automator</li>
<li>installing or using Apple operating systems on non-Apple hardware</li>
<li>a shopping or buying recommendation for hardware</li>
<li>pre-release or beta software</li>
<li>obtaining or using pirated software or media</li>
</ul>

<p>then I don't see why the legality of the discussed activity is an issue. Laws are different all over the world, and legality changes. We discuss what is technically possible. For what it's worth, asking how to use the Facebook app is likely illegal in countries where Facebook is banned. Asking how to send an encrypted message is illegal in some parts of the world. Asking how to read certain authors' books in iBooks is illegal in some parts of the world. But certainly we don't want to ban these topics from the site, or at least not because they are illegal in some places. Asking how to read a particular author or work is a not terribly interesting question from a technical perspective.</p>

<p>My understanding is that we don't discuss obtaining or using pirated software not because it's illegal, but because that isn't the site this community wanted to be. There are other fora where such things are discussed, but that isn't what we are. If someone wanted to know which software was best for creating fake ID cards on a Mac, that wouldn't be a very technically interesting question, but I don't believe it would be off-topic.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-967">Load Comments</button></br>
			<div id = "commentsection-967" class = 'collapse'>
			<div id = "comment-1761" class = "comment">
				<p>Correct, your last paragraph was what I was attempting to get at with my last paragraph. Though the downsides to IMEI changing are more subtle, the fact that it has practically no legitimate upside inclines me to close the question in this instance.</p>
			</div>
			<div id = "comment-3854" class = "comment">
				<p>Agreed. People thinking SE should nix Qs that might be associated with activity illegal somewhere should consider that in some countries simply accessing a website is illegal. If the PLA decided SE was dangerous and blocked it, would we feel compelled to either shut down or block all Chinese IPs? Of course not. It's an extreme, but extremes are instructive.

SE's concern with the law should be limited to self-preservation, which means only the tiny part of US law that can be construed to affect online information sharing.

SE cannot afford to start trying to interpret all countries' laws.</p>
			</div>
			</div>
				<textarea id = "speech-967" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-967">
					<img id="start_img-967" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-968"  class = "post">
				<h2>Answer</h2>
			<div id="vote-968" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To me, this big issue here is section 1(1)c and 1(1)d:</p>

<blockquote>
  <p>A person commits an offence if:<br>
   - he offers or agrees to change, or interfere with the operation of, a    unique device identifier, or<br>
   - he offers or agrees to arrange for another person to change, or    interfere with the operation of, a unique device identifier.</p>
</blockquote>

<p>That means that if someone helps someone change the IMEI, or helps someone help someone change the IMEI, they've violated the UK law.</p>

<p>To me, this seems significant because a user in the UK could answer this question without knowing that he's in violation of the law.<br>
IMO, we owe our users a little bit of protection from inadvertent things like that.</p>

<hr>

<p>It seems like, in the question you linked to, the problem is with the SIM card and unlocking the phone, and an IMEI change isn't necessarily necessary.</p>

<p>In the <a href="https://apple.stackexchange.com/questions/15881/how-can-i-change-my-iphone-4s-imei-number">other question</a>, it seems that the solution isn't to change the IMEI yourself but rather to resolve the standing issues between the user, Apple, and the carrier.</p>

<p><em>As far as I can tell, there is no legitimate reason that a user would need to change the IMEI.</em><br>
Please correct me if I'm wrong.</p>

<hr>

<p><strong>So, here are my proposed solutions:</strong></p>

<p>If a question has no legitimate value (i.e. there's no reason to do the illegal thing except for the exact reason that the law forbids it),<br>
<em>and</em> it's possible that someone could get in trouble just for answering the question...<br>
<strong>Delete the question.</strong> There's no reason to keep it, and it's potentially dangerous.</p>

<p>If a question has some legitimate value (i.e there's a good reason do do the illegal thing),<br>
<em>and</em> it's possible that someone could get in trouble just for answering the question...<br>
<strong>Add a note to the question</strong> warning readers that it's potentially illegal.</p>

<p>If it isn't possible that someone could get in trouble just for answering the question...<br>
<strong>Leave the question.</strong> At some point, as long as they aren't endangering someone else, users can be responsible for themselves.</p>

<hr>

<p><a href="https://meta.stackexchange.com/questions/18098/should-there-be-a-close-option-for-questions-regarding-to-some-illegal-activity">Relevant MSO question</a>.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-968">Load Comments</button></br>
			<div id = "commentsection-968" class = 'collapse'>
			<div id = "comment-1758" class = "comment">
				<p>Aside from quibbling about what makes a reason "legitimate" (or whether we have any reason to make that judgement), I agree wholeheartedly with your reasoning here, Nathan.</p>
			</div>
			<div id = "comment-1759" class = "comment">
				<p>@Daniel That is a very good point about judging legitimacy. IMO, this kind of thing comes up infrequently enough that we can handle it. If it does become a problem, though, we can always decide to just provide the warning note if there's any question.</p>
			</div>
			<div id = "comment-1760" class = "comment">
				<p>I think you make some very good points here, mainly the idea of protecting out users. However, for the most part we have to, out of necessity, trust that the people participating in the site have knowledge of and/or take responsibility for their actions on the site as they pertain to their local laws. But like you said, in cases where there isn't legitimate value, it can only help to close/delete the question.</p>
			</div>
			<div id = "comment-1767" class = "comment">
				<p>Looking at the amount of people using other forums to change IMEI numbers I do not thik many people are aware of its law.

The main reason to change an IMEI number is beacuse a phone has been stolen, reported, and blocked. The phone can only be unblocked by the carrier, not even Apple. I think we should stay clear of this activity beacuse it is illegal in some countries. Re wording the question is fine, but my issue here is that if some one has stolen the phone, or bought a stolen one, they are goiing to word their question in a way which suggests it is theirs.</p>
			</div>
			<div id = "comment-1768" class = "comment">
				<p>@Graeme You're right, which is why I suggested that we simply delete questions that have no legitimate value.</p>
			</div>
			<div id = "comment-3852" class = "comment">
				<p>@NathanGreenstein, no UK user who answered the question "how does one change an IMEI?" would be in violation of the sections you quoted, unless their answer was "by paying me [or my buddy] 50 pounds." The error was introduced in your summarizing the sections. To "help" by providing information or even encouragement is *not* "to offer or agree to [change or block an IMEI]" or "to offer or agree to arrange for someone [to do so]". If those sections are representative, that statute seems deliberately worded not to regulate speech (e.g. sharing of information), but only actions. Clear on 2nd read?</p>
			</div>
			</div>
				<textarea id = "speech-968" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-968">
					<img id="start_img-968" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-979"  class = "post">
				<h2>Answer</h2>
			<div id="vote-979" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I live in germany. My phone got to repair in Germany and was switched for a new one (with a new IMEI address). In my country (turkey) you have to register your phone if the device comes from another country. Because i already did register the old one, the providers blocked the old IMEI address so that is the reason i tried to change my IMEI so i can actually, use my phone.  </p>

<p>I'm sorry if it caused such problems to stack overflow. Really interesting topic here too.  </p>

<p>Thank you</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-979" class = 'collapse'>
			</div>
				<textarea id = "speech-979" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-979">
					<img id="start_img-979" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>