<html>
	<head>
		<title id = 'pagetitle'>How to deal with posts in different languages?
		</title>
	<head>
	<body id = 'pagebody'><p>On Ask Different, we occasionally get posts in a language other than English. Take the second answer on <a href="https://apple.stackexchange.com/questions/18490/iphoto-does-not-open-a-window-after-lion-upgrade/35911#35911">this question</a> as an example.</p>

<p>Part of it is in English, the other in Spanish. I don't see the value in having the Spanish there, as the question was asked in English, and this site is based in English.</p>

<p>So what do we do with these posts, and with posts that are <em>entirely</em> in another language? Do we translate them? Delete them?</p>


<h1>ANSWERS</h1>
		<p>There are an increasing number of sites on Stack Exchange for other languages. Ask Different is an English site and as such all posts should be in English.</p>

<ul>
<li>When a post is solely in a different language, it should be translated to English. The post should then be dealt with as usual.</li>
<li>When a translation to a different language is given such as that in the linked answer, the different language should be edited out.</li>
</ul>


	</body>
</html>