<html>
	<head>
		<title id = 'pagetitle'>How to Thank People
		</title>
	<head>
	<body id = 'pagebody'><p>Now and then I find something here that is very, very helpful, and I want to thank the person who posted it, by commenting in some apposite phrases. But I can't. I need 50 'reputation' points. </p>

<p>I really haven't time to contribute to that extent, so a lot of people here are missing out on kudos. I don't wish merely to click-and-upvote, I don't experience sufficient problems to be seeking all the time for assistance. Besides, click-vote is too easy, too impersonal. Just one of the many reasons I long ago deleted my Facebook account was the culture of the inane 'Like' button. It doesn't demand any thought of the button clicker (Why do you like it? Give reasons for your approval) and is part of the widespread dumbing-down trend.</p>

<p>So, to all the brilliant, non-dumbing people here, who take and have taken the trouble to share their knowledge, and break Gordian knots for those of us in toils, please share this 'thank you' among yourselves. I'm afraid it's the only one I am currently allowed to give you.</p>


<h1>ANSWERS</h1>
		<p>You say "thank you" on the Stack Exchange network by giving their answer or question an "up vote". It's that simple.</p>

<p>From <a href="https://meta.stackexchange.com/a/126184/151364">this meta discussion on whether comments to say "thank you" are appropriate</a>: that's not really what comments are for. They're for:</p>

<blockquote>
  <p><strong>When should I comment?</strong></p>
  
  <p>You should submit a comment if you want to:</p>
  
  <ul>
  <li>Request clarification from the author;</li>
  <li>Leave constructive criticism that guides the author in improving the post;</li>
  <li>Add relevant but minor or transient information to a post (e.g. a link to a related question, or an alert to the author that the question has been updated).</li>
  </ul>
  
  <p><strong>When shouldn't I comment?</strong></p>
  
  <ul>
  <li>Compliments which do not add new information ("+1, great answer!"); instead, up-vote it and <a href="https://stackoverflow.com/questions/how-to-answer">pay it forward</a>;</li>
  </ul>
</blockquote>


	</body>
</html>