<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can a user review a suggested edit without having access to the suggested edit review queue?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How can a user review a suggested edit without having access to the suggested edit review queue?</h2>
<p>How is it that a <a href="https://apple.stackexchange.com/help/badges/94/custodian?userid=75812">new user with 1 reputation has a badge for reviewing suggested edits</a> and when I go to review, I see "You need at least 2k reputation to review suggested edits."</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You are always allowed to review pending suggested edits on your own posts. In this case, the user reviewed one of your edits to their question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/review/suggested-edits/59018">https://apple.stackexchange.com/review/suggested-edits/59018</a></li>
</ul>

<p>The user will have received a notification like this in their inbox notifying them that their post has got a pending suggested edit:</p>

<p><img src="https://i.stack.imgur.com/jw0H9.png" width="373"></p>

<p>Clicking this item in their inbox goes to the suggested edit queue where the suggested edit is shown in the same way that any other reviewer may review the edit. They may approve or reject the edit and have a binding vote similar to a diamond moderator's binding vote.</p>

<p>As shown in the review history, the user who reviewed it has the blue background on their username indicating that they are the post owner and therefore have the authority to have a binding vote on the suggested edit.</p>

<p><img src="https://i.stack.imgur.com/xrMS0.png" width="324"></p>

<p>The suggested edit can still be reviewed by others in the meantime </p>

<ul>
<li><p>If the suggested edit is approved by someone with access to the suggested edit review queue before they have the chance to review it themselves, they receive a normal inbox notification informing them that their post has been edited. This is the same notification that a user receives if someone with >2k edits their post normally.</p>

<p><img src="https://i.stack.imgur.com/o1a86.png" width="374"></p></li>
<li><p>If the suggested edit is rejected before they review it, they do not receive any further notifications.</p></li>
</ul>

<p>The user does not have access to the suggested edit queue outside of any pending suggested edits on their own posts. Once they have exhausted all the pending suggested edits they will be informed that the suggested edit queue requires 2k reputation   the same message a user without the reputation to review posts in the suggested edit queue and without any pending suggested edits.</p>

<p>Even though the user is the post owner and does not have access to the review queue, their approval or rejection of the suggested edit is still shown normally in the suggested edit review queue history, both in the suggested edit queue history (available at 10k) </p>

<p><img src="https://i.stack.imgur.com/vv1of.png"></p>

<p> and in the suggested edit history in the mod tools </p>

<p><img src="https://i.stack.imgur.com/Pp9E0.png" width="473"></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>He earned the badge for <a href="https://apple.stackexchange.com/review/suggested-edits/59018">reviewing and accepting a suggested, pending edit</a> on his own question.</p>

<p>According to <a href="https://meta.stackexchange.com/questions/76251/how-do-suggested-edits-work">How do suggested edits work?</a>:</p>

<blockquote>
  <h2>Who can vote on a suggested edit?</h2>
  
  <ul>
  <li>The owner of a post may cast a binding vote to accept or reject any modification of their post.</li>
  </ul>
</blockquote>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>