<html>
	<head>
		<title id = 'pagetitle'>How does reviewing give you more flagging weight?
		</title>
	<head>
	<body id = 'pagebody'><p>How does reviewing new posts give you more flagging weight? When I was looking at the badges, I noticed the "Deputy" badge = "Achieved a flag weight of 500 by reviewing and flagging appropriately" Does this mean you by reviewing new posts you will gain flagging weight, or you go to the posts and flag them, and gain flagging weight from that?</p>


<h1>ANSWERS</h1>
		<p>If a moderator flag is deemed to have merit, your flag weight will go up. If a moderator flag is deemed not to have merit (or if we determine that no action is needed) your flag weight will go down. I believe it's mostly linear, with an asymptotic approach towards 750.</p>

<p>Using review is a way to find posts that need moderator attention (and thus, can be flagged appropriately)</p>


<p>The badge description you reported says, "Achieved a flag weight of 500 by reviewing <strong>and flagging</strong> appropriately."<br>
Your flag weight is the weight associated with your flags; the higher your flag weight is, the higher priority your flags have. The only way to increase it is to have your flags marked as helpful from a moderator; this means you correctly flagged a post, and your future flags should have the priority over the flags done from who keeps to inappropriately flag posts.</p>

<p>The description says, "reviewing and flagging" as you need to review posts, in order to flag them. You don't flag a post without even reading it; even in the case somebody else has already flagged a post, and tells you that, you should always read the post to decide if the post really needs to be flagged.</p>

<p>The flag weight should not be of any concert for normal users, as what the flag weight does is simply to order the flags that appear to the moderators.</p>


	</body>
</html>