<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I delete my StackExhange OpenID?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1847" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::558</h3>
				<h2>How can I delete my StackExhange OpenID?</h2>
<p>For some reason, I've got two OpenID accounts on StackExchange. I use only one of them to login to AskDifferent. I've already removed unwanted one from 'my logins' list in my profile page, but I've got no idea how to completely delete  unnecessary OpenID account. Please, help.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3560" class = "post">
				<p>Doesn't this help?
http://apple.stackexchange.com/help/deleting-account</p>
			</div>
			<div id = "comment-3561" class = "post">
				<p>Probably I still don't get how this system works, but I don't want to delete my AskDifferent profile - I want to delete stackexchange ID. Its like I have two gmail accounts, but use only one of them to login to Facebook, so want to delete unnecessary one.</p>
			</div>
			<div id = "comment-3565" class = "post">
				<p>Are you still needing assistance with this?</p>
			</div>
			<div id = "comment-3583" class = "post">
				<p>I guess I don't - the second ID's just disappeared somehow after few manipulations... But thank you)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1848"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>If you wish to merge the posts, you can start here: <a href="https://apple.stackexchange.com/help/merging-accounts">https://apple.stackexchange.com/help/merging-accounts</a></p>

<p>To just delete of one account is here: <a href="https://apple.stackexchange.com/help/deleting-account">https://apple.stackexchange.com/help/deleting-account</a></p>

<p>You might be able to delete the alternate open id yourself from your account page: <a href="https://meta.stackexchange.com/questions/67356/openid-delete-account">OpenID Delete account</a></p>

<ul>
<li>go to <a href="https://apple.meta.stackexchange.com/users/58740/littlenimrod">https://apple.meta.stackexchange.com/users/58740/littlenimrod</a></li>
<li>select my logins from the list of links near the top of the screen</li>
</ul>

<p>Worst case, the contact us form in the top two links will get a site employee to assist as moderators no longer merge user accounts or have access to those tools directly. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>