<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>How can I view comments on deleted Questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-868" class = "post">
			<h2>Question</h2>
			<div id="vote-868" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 73</p>
			</div>
				<h2>How can I view comments on deleted Questions?</h2>
<p>I asked a question on AskDifferent and someone replied to it by deleting it. I got 2 notifications that my question has been answered but now that I've logged in to the site, I cannot see those comments as the question has been deleted.</p>

<p>How am I supposed to even know the reason of the deletion if I cannot view the comments, find out who deleted by question or look at the question?</p>

<p>It's sad that someone just deleted the question without me even being able to look at the reasons why my question was wrong.</p>

<p>Can someone tell me how to see those comments??</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-868" class = 'collapse'>
			</div>
				<textarea id = "speech-868" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-868">
					<img id="start_img-868" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-869"  class = "post">
				<h2>Answer</h2>
			<div id="vote-869" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I deleted your question. You left the access keys to a website in the code. They were deleted, but that simply moves the keys into the history, they don't get completely removed. Since there is no way for me delete a specific version of a question entirely, the entire question got deleted.</p>

<p>You may repost the question but without the access keys. Next time please take time to sanitize your code before posting it.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-869">Load Comments</button></br>
			<div id = "commentsection-869" class = 'collapse'>
			<div id = "comment-1606" class = "comment">
				<p>Thanks a lot for the correction. It was a good move from your side and I misunderstood. However, how am I supposed to find out that this was my mistake? There should either be an IM feature or a way for me to look at the comments of my posts, even the deleted ones. This will put a lot of pressure on the Database for all the extra records you need to keep and needs quite a bit of code change. So IM seems to be a good idea doesn't it? 
And yes, I'll take care to sanitize my code next time. Thanks!</p>
			</div>
			<div id = "comment-1612" class = "comment">
				<p>@Nitin There is no IM functionality in StackExchange, and never will be.  Put that thought out of your mind right now.</p>
			</div>
			<div id = "comment-1613" class = "comment">
				<p>@Philip -- won't 10K users still be able to see the Q?  Is there a mechanism to get the question "truly" deleted?</p>
			</div>
			<div id = "comment-1614" class = "comment">
				<p>@AdamRackis - I assume that's what Philip did, deleted the question completely to remove all trace of the defaulting part (thanks :)) and then re-posted it. Also, I accept that there won't be IM facility. But how do we get such things across to the defaulter (me in this case)? Perhaps the person editing the post should be allowed to send "some" notification (not an IM, something else) to tell the person their mistake. I'm sure not everyone will goto the meta of the StackSite to ask what happened like I just did...</p>
			</div>
			<div id = "comment-1615" class = "comment">
				<p>@Nitin Neither Phil nor any other mod has the ability to physically delete a question.  Only system admins and only by special request.  As to IM, SE is not a social network, and the people that run it will never allow social networking features.  Situations like this are rare edge cases that are handled well enough on Meta, like you are here.</p>
			</div>
			</div>
				<textarea id = "speech-869" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-869">
					<img id="start_img-869" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>