<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How to improve this source code quoting?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How to improve this source code quoting?</h2>
<p>Recently I posted an answer including source code with a method I regularly used here and on web pages:</p>

<blockquote>
  <p><a href="https://apple.stackexchange.com/a/206843/22003">Corruptions within Calendar: duplicates. How to analyse their cause and fix?</a></p>
</blockquote>

<p>My (stackexchange) source (of this source code) is:</p>

<pre><code>    &lt;pre&gt;
    $ cat &lt;&lt;'eof' &gt;duplicate.pl
    #!/usr/bin/perl
    &lt;/pre&gt;
</code></pre>

<p>and the result obtained, is:</p>

<pre><code>    $ cat duplicate.pl
    #!/usr/bin/perl
</code></pre>

<p>Which is wrong in term of displayed text and in term of working answer, since the shell script is not working. 
I'm not able to present the problem here through the use of <code>&lt;pre&gt;</code> and
used a lot of <code>return</code> and spaces to achieve a presentable explanation.</p>

<hr>

<p>What is the easiest way to insert source code with just one enclosing
markup?</p>

<p>What did I do wrong to not being able to get a correct behaviour of a basic <code>&lt;pre&gt;</code> markup?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Let me try :-)</p>

<pre><code>$ cat &lt;&lt;'eof' &gt;duplicate.pl
#!/usr/bin/perl
</code></pre>

<p>Ok so far? Or is there any special meaning of using <code>&lt;pre&gt;</code> tags?</p>

<p>The easiest way to format larger blocks of code is to just paste the code into the edit window, select the whole code block and the click on the code formatter (<strong>{}</strong>) at the top of the edit window.</p>

<p>See also the help pages on supported markdown formatting (especially the second screenshot below) and <a href="https://meta.stackexchange.com/questions/22186/how-do-i-format-my-code-blocks">this question on the main meta site</a>:</p>

<p><a href="https://i.stack.imgur.com/CBVaQ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CBVaQ.jpg" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/oLIm7.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/oLIm7.jpg" alt="enter image description here"></a></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Am I missing something, or is </p>

<p><a href="https://i.stack.imgur.com/CBVaQ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CBVaQ.jpg" alt="enter image description here"></a></p>

<p>not just the same as selecting the block &amp; hitting <kbd> Cmd   </kbd>  <kbd> K </kbd> ?</p>

<p>Prior to discovering that I used to add extra indents in a text editor &amp; paste it over, which was a tad irritating...</p>

<hr>

<p>Unformatted  </p>

<p>$ cat &lt;&lt;'eof' >duplicate.pl</p>

<h1>!/usr/bin/perl</h1>

<p>Using <code>&lt;pre&gt; &lt;/pre&gt;</code></p>

<pre>
$ cat duplicate.pl
#!/usr/bin/perl
</pre>

<p>Using <kbd> Cmd   </kbd>  <kbd> K </kbd>  </p>

<pre><code>$ cat &lt;&lt;'eof' &gt;duplicate.pl
#!/usr/bin/perl
</code></pre>

<p>Using <code>{}</code></p>

<pre><code>$ cat &lt;&lt;'eof' &gt;duplicate.pl
#!/usr/bin/perl
</code></pre>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>