<html>
	<head>
		<title id = 'pagetitle'>How can I make my question comply to all Ask Different guidelines?
		</title>
	<head>
	<body id = 'pagebody'><p>My question to improve: <a href="https://apple.stackexchange.com/questions/194934/how-to-check-if-the-screen-replacement-part-for-iphone-5s-is-an-original-one">How to check if the screen replacement part for iPhone 5s is an original one?</a></p>

<hr>

<p>Some clarifications on questions from bmike:</p>

<blockquote>
  <p>Are you looking for knowledge? If so, remove price</p>
</blockquote>

<p>What's wrong with the price? It gives background for my question: official services can only help with providing a complete replacement for x3-x4 of display replacement by an unofficial repair service. That's why I can only consider unofficial repair shops.</p>

<blockquote>
  <p>remove the part about how you want to be sure that one specific repair shop uses parts that you feel are "genuine".</p>
</blockquote>

<p>Again, it's only here for providing a context. I don't mind removing it entirely, but why it improves the question?</p>

<blockquote>
  <p>It seems you need to: a) write a written contract requiring the vendor to use "official" parts b) demand documentation of that before paying</p>
</blockquote>

<p>We need to assume that contract just won't solve my problem, for whatever reasons. How can we limit the scope of question to "how can I check whether the display is genuine", no matter how I get that display into my iPhone?</p>

<blockquote>
  <p>What does <a href="https://locate.apple.com" rel="nofollow noreferrer">https://locate.apple.com</a> list for options?</p>
</blockquote>

<p>It lists only authorized services which don't help, as I specified in the very beginning of the post: they can only replace the entire device. </p>

<blockquote>
  <p>How much is a repair part? You can get quotes for parts to be mailed to you for Apple parts. If you did that work, please document it in the question as it removes the "opinion" of too costly</p>
</blockquote>

<p>I don't understand this piece. First, I'm not buying a part, I need a repair to be done--which includes that the repair shop provides the display part. Then, Apple doesn't sell its genuine parts to end-users, nor officialy does any third party AFAIK.</p>

<blockquote>
  <p>Off site resources is "locating repair parts".</p>
</blockquote>

<p>I'm not about to buy a replacement part, see above.</p>

<blockquote>
  <p>justify what you feel is "genuine" in the post.
  I already detailed that: "made by Apple (no matter new or extracted from a used phone) rather than a third-party replica" (removed "as" which could be a reason for confusion)</p>
  
  <p>Show your research. Can you buy parts from Apple Authorized Service providers?</p>
</blockquote>

<p>What should I do to satisfy this?</p>

<blockquote>
  <p>Are you willing / able to open and measure the device?
  State that explicitly in the question.</p>
</blockquote>

<p>Should I state every possible check as "allowed"? If not, why specifically "open and measure"?</p>

<blockquote>
  <p>you say "as official ones don't provide screen replacement in my region"
  document that</p>
</blockquote>

<p>What should I do to satisfy this?</p>

<blockquote>
  <p>When you go to locate.apple.com - list the cost and options you are presented.</p>
</blockquote>

<p>There's no cost and options, only a list of authorized services. Each of those tells the same story: "only replacement of entire device". Are you asking for proof-links to non-English web sites for that? (as I live in Russia)</p>

<blockquote>
  <p>You instead voice an opinion "don't provide" - my guess is they do provide parts and there is a specific cost for them</p>
</blockquote>

<p>See above.</p>

<blockquote>
  <p>What does the last sentence and the two youtube videos mean?
  And does criteria for iPhone 5 fully apply to 5S (eg. 1, 2)?
  That's far too broad IMO.</p>
</blockquote>

<p>I provide two examples (youtube links) of genuiness check for iPhone 5. If (for example) 5 and 5S have completely identical genuine parts, tips for 5 work for 5S. If not, they don't--that easy.</p>


<h1>ANSWERS</h1>
		<p>It looks good to me now. It is asking how you can check that a replicament part is genuine.</p>

<p>I can see not way in that this is for Customer support. Actually having seen a few closed under that I wonder if the wording of the close reason is wrong. Asking for off site resources should be off topic - why is Customer support even asked for?</p>


<p>The reopening process is covered in detail at: </p>

<ul>
<li><a href="https://apple.stackexchange.com/help/reopen-questions">https://apple.stackexchange.com/help/reopen-questions</a></li>
</ul>

<p>You will need to edit the question for me to cast a reopen vote.</p>

<p>My suggestion is to think about these issues:</p>

<ol>
<li><p>Are you looking for knowledge? If so, remove price and the part about how you want to be sure that one specific repair shop uses parts that you feel are "genuine".</p></li>
<li><p>Are you asking to learn how Apple sources repair parts?</p></li>
</ol>

<p>As it stands, it's about you interacting with an un-named repair shop that isn't authorized by Apple.  </p>

<p>It seems you need to:</p>

<p>a) write a written contract requiring the vendor to use "official" parts
b) demand documentation of that before paying</p>

<p>It's not clear if you've done any research. What does <a href="https://locate.apple.com" rel="nofollow noreferrer">https://locate.apple.com</a> list for options? How much is a repair part? You can get quotes for parts to be mailed to you for Apple parts. If you did that work, please document it in the question as it removes the "opinion" of too costly. Facts can't be mis-interpreted but without documenting what you are really trying to do - this question, <em>in my opinion</em> will get all sorts of bad answers. The answerer can't guess from all the options you might need help. Lastly, you have an answer, so the need to open it for more answers is less dire IMO. Anyone that knows more than the answerer can edit to improve the post.</p>

<p>As it stands, the question has several issues:</p>

<ol>
<li>Too broad - iPhone 5 and iPhone 5s are lumped together.</li>
<li>Too vague - you don't show your research and instead ask for opinion. (linking to two youtube videos isn't the sort of research that works here - you should summarize the key facts you wish to discuss from a video and keep the link for background).</li>
</ol>

<p>TL;DR - put some effort into editing it or at least cut it down to one specific model. 5s or 5</p>


	</body>
</html>