<html>
	<head>
		<title id = 'pagetitle'>How can other SO questions be moved here
		</title>
	<head>
	<body id = 'pagebody'><p>I have answered several Apple questions on other sites especially superuser and I note that when I try to flag then as off-topic I am not given Ask Different as a possible site (of the new sites I can choose webapps or gaming)</p>

<p>How can I ask for these questions to be moved?</p>

<p>Can we get Ask Different added to the list of sites questions can be moved to?</p>


<h1>ANSWERS</h1>
		<p>As far as Super User is concerned, Apple question are on topic, and unless the questions is about an iPod, iPhone, iPad, or has not received a correct answer in a reasonable amount of time, it will remain on Super User.</p>

<p>Moderators, as Dori mentioned, has the ability to move to any site, however each question is reviewed carefully before it's moved.</p>


	</body>
</html>