<html>
	<head>
		<title id = 'pagetitle'>How can I limit the responses to only the questions that I have asked?
		</title>
	<head>
	<body id = 'pagebody'><p>How can I limit the responses to only the questions that I have asked.  I find everyones answers on different questions interesting but I cant go 20 or more emails per day to find what I'm interested in</p>


<h1>ANSWERS</h1>
			</body>
</html>