<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How to improve this source code quoting?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2626" class = "post">
			<h2>Question</h2>
			<div id="vote-2626" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 37</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to improve this source code quoting?</h2>
<p>Recently I posted an answer including source code with a method I regularly used here and on web pages:</p>

<blockquote>
  <p><a href="https://apple.stackexchange.com/a/206843/22003">Corruptions within Calendar: duplicates. How to analyse their cause and fix?</a></p>
</blockquote>

<p>My (stackexchange) source (of this source code) is:</p>

<pre><code>    &lt;pre&gt;
    $ cat &lt;&lt;'eof' &gt;duplicate.pl
    #!/usr/bin/perl
    &lt;/pre&gt;
</code></pre>

<p>and the result obtained, is:</p>

<pre><code>    $ cat duplicate.pl
    #!/usr/bin/perl
</code></pre>

<p>Which is wrong in term of displayed text and in term of working answer, since the shell script is not working. 
I'm not able to present the problem here through the use of <code>&lt;pre&gt;</code> and
used a lot of <code>return</code> and spaces to achieve a presentable explanation.</p>

<hr>

<p>What is the easiest way to insert source code with just one enclosing
markup?</p>

<p>What did I do wrong to not being able to get a correct behaviour of a basic <code>&lt;pre&gt;</code> markup?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2626" class = 'collapse'>
			</div>
				<textarea id = "speech-2626" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2626">
					<img id="start_img-2626" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2626">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2627"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2627" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Let me try :-)</p>

<pre><code>$ cat &lt;&lt;'eof' &gt;duplicate.pl
#!/usr/bin/perl
</code></pre>

<p>Ok so far? Or is there any special meaning of using <code>&lt;pre&gt;</code> tags?</p>

<p>The easiest way to format larger blocks of code is to just paste the code into the edit window, select the whole code block and the click on the code formatter (<strong>{}</strong>) at the top of the edit window.</p>

<p>See also the help pages on supported markdown formatting (especially the second screenshot below) and <a href="https://meta.stackexchange.com/questions/22186/how-do-i-format-my-code-blocks">this question on the main meta site</a>:</p>

<p><a href="https://i.stack.imgur.com/CBVaQ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CBVaQ.jpg" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/oLIm7.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/oLIm7.jpg" alt="enter image description here"></a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2627">Load Comments</button></br>
			<div id = "commentsection-2627" class = 'collapse'>
			<div id = "comment-5887" class = "comment">
				<p>"Is there any special meaning of using `<pre>` tags?" Yes. It's pretty simple and standard. For me I nearly type it automatically when including code. Hence I never imagined I would need any button to perform such a basic markup.(missing return) To give you an example in another field which is boring me to great deepths, I would never look for a button which would permit me to put a [return] :).</p>
			</div>
			<div id = "comment-5888" class = "comment">
				<p>You don't need to use the button, you can just prepend 4 space characters on every line. But for long blocks of code, using the button may be easier, especially if you paste whole scripts into the edit window.</p>
			</div>
			<div id = "comment-5889" class = "comment">
				<p>I don't like the prepend trick: too slow, and too error prone. Honestly I don't find anything simpler than a plain `<pre>` `</pre>` :(.</p>
			</div>
			<div id = "comment-5890" class = "comment">
				<p>Let me try to formulate my thoughts it in a way to make something useful: would it be possible, easy, to make standard `<pre>` `</pre>` or `<code>`...`</code>` work?</p>
			</div>
			<div id = "comment-5891" class = "comment">
				<p>I'm not a developer here :-) To make a feature request, you can always ask a new meta question, describe the functionality you are missing and add the `feature-request` tag. Might take a few days till somebody from the SE team answers.</p>
			</div>
			<div id = "comment-5892" class = "comment">
				<p>For this one I would also search meta.stackexchange and meta.stackoverflow You won't have been the first to see this</p>
			</div>
			</div>
				<textarea id = "speech-2627" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2627">
					<img id="start_img-2627" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2627">Comment</button>
			<br><div id = "ans-2634"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2634" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Am I missing something, or is </p>

<p><a href="https://i.stack.imgur.com/CBVaQ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CBVaQ.jpg" alt="enter image description here"></a></p>

<p>not just the same as selecting the block &amp; hitting <kbd> Cmd   </kbd>  <kbd> K </kbd> ?</p>

<p>Prior to discovering that I used to add extra indents in a text editor &amp; paste it over, which was a tad irritating...</p>

<hr>

<p>Unformatted  </p>

<p>$ cat &lt;&lt;'eof' >duplicate.pl</p>

<h1>!/usr/bin/perl</h1>

<p>Using <code>&lt;pre&gt; &lt;/pre&gt;</code></p>

<pre>
$ cat duplicate.pl
#!/usr/bin/perl
</pre>

<p>Using <kbd> Cmd   </kbd>  <kbd> K </kbd>  </p>

<pre><code>$ cat &lt;&lt;'eof' &gt;duplicate.pl
#!/usr/bin/perl
</code></pre>

<p>Using <code>{}</code></p>

<pre><code>$ cat &lt;&lt;'eof' &gt;duplicate.pl
#!/usr/bin/perl
</code></pre>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2634" class = 'collapse'>
			</div>
				<textarea id = "speech-2634" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2634">
					<img id="start_img-2634" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2634">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>