<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I help promote Ask Different as a new version of OS X is released?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How can I help promote Ask Different as a new version of OS X is released?</h2>
<p>This time, the latest and greatest is Lion, but this has all happened before, and it will all happen again. There will be zillions of mac users upgrading, and they'll have lots of questions. And since all those questions will be new, Ask Different will have as good a shot at having the best answer than any of those, you know, competitive sites. Essentially, this is a great time to recruit new members!</p>

<p>What can you do to help?</p>

<ol>
<li><p>As you install and learn Lion, whenever you have questions, no matter how silly, <em>ask them here</em>. You're not the only one having that question. Millions of other people will, too. Ask them even if you think you're going to be able to find the answer yourself... and if you do find the answer, go ahead and answer it yourself.</p></li>
<li><p>When answering Lion questions, do everything you can to overkill it. Don't just answer with a hyperlink to some other discussion group somewhere. Write a detailed, step-by-step, ultra-clear guide with screenshots and examples. Help us have the best possible answer to the common problems and questions people have with Lion.</p></li>
<li><p>If a question comes in that is unclear, badly written, badly formatted, or in bad English, edit it into shape. We've always encouraged edits that improve spelling, grammar, and clarity. Make every question into a full sentence.</p></li>
</ol>

<p>This is a great opportunity to build up a body of answers to common Lion questions that will be super-popular in the coming weeks as the rest of the Mac universe upgrades. Those questions will bring in lots of traffic from search engines and if Ask Different continues to have great answers like we have in the past, we stand a chance of attracting some great new users who will add value for years to come.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I am so impressed by the community here - especially the can do attitude in salvaging even some real questionably worded rants. Assuming that there is a kernel of valid question and editing has made some of these awesome questions.</p>

<p>Pretty cool to be here at the moment... I can't wait to see the server traffic post that will at some point get shared (assuming the burps this morning were overload and not simply migration to a larger server)</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Coming from Super User and answering questions about OS X more than anything else, it seems that quite a few questions now get the <em>"You should ask on apple.stackexchange.com"</em> comment. </p>

<p>I sincerely hope this does not mean migrating every single OS X (Lion) question here.</p>

<p>I believe Ask Different is large enough to attract their own visitors and keep a steady growth with tons of useful questions and answers. Let's not confuse people by telling them to go elsewhere when their question would be perfectly on-topic on Super User as well.</p>

<p>I hope you can all agree.</p>

<p>(Oh, and happy asking and answering!)</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I think its  by design that a question cannot be shared in two sites and be answered, but if that can be done, it would ease the problems when there arises a question that is cross-domain which requires expertise from 2 or more different fields of experts, or could be redirected to stackoverflow.com or any other common site.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>