<html>
	<head>
		<title id = 'pagetitle'>How do I add a comment to the "favorite Mac OSX keyboard shortcuts" page?
		</title>
	<head>
	<body id = 'pagebody'><p>This is a meta-question about using the site:</p>

<p><a href="https://apple.stackexchange.com/questions/183/what-are-your-favorite-mac-os-x-keyboard-shortcuts/">What are your favorite Mac OS X keyboard shortcuts?</a> is a great page. I see comments added to a bunch of the keyboard shortcut submissions. I want to leave a comment too, but can't figure out how. Help.</p>


<h1>ANSWERS</h1>
		<p>Welcome to the site. As you now see - we have a "meta" site for questions about how the site runs.</p>

<p>Have a look at your profile page and your privilege page:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/users/36519/bur-davis">https://apple.meta.stackexchange.com/users/36519/bur-davis</a></li>
<li><a href="https://apple.stackexchange.com/privileges/user/36519">https://apple.stackexchange.com/privileges/user/36519</a></li>
</ul>

<p>The ability to comment on a post that you didn't create is reserved as one of the privileges that gaining 50 reputation points allows. You can (and should) review that page for each tool that is opened up to you.</p>

<p>Since it will take a few votes to get to 50 rep, why not look around and see if there are other questions you could answer in the mean time or even ask a question you've encountered after searching a bit to make sure it's not already been asked.</p>

<p>You can also find things that need substantial improvements and edit things to gain reputation. Without knowing your comment - it's hard to know if an edit would be appropriate, if a new question linking to the other would work or if you'll have to wait until you can comment at large.</p>


	</body>
</html>