<html>
	<head>
		<title id = 'pagetitle'>How can I earn 100 reputation bonus
		</title>
	<head>
	<body id = 'pagebody'><p>In the past I earned the 100 reputation bonus from the Stack Overflow website. </p>

<p>I am wondering if and when I can reach again the bonus from the Ask Different website of the community knowing that a I already have 364 points and so (364-100 = 264 earned in here). </p>


<h1>ANSWERS</h1>
		<p>If you are talking about the 100 rep association bonus: you only get that once per site, when you sign up for a site and already have at least 200 rep on another SE site. See <a href="https://apple.stackexchange.com/help/whats-reputation">https://apple.stackexchange.com/help/whats-reputation</a> for the official documentation on this:</p>

<blockquote>
  <p>If you are an experienced Stack Exchange network user with 200 or more reputation on at least one site, you will receive a starting +100 reputation bonus to get you past basic new user restrictions. This will happen automatically on all current Stack Exchange sites where you have an account, and on any other Stack Exchange sites at the time you log in.</p>
</blockquote>

<p>There is also <a href="http://blog.stackoverflow.com/2009/07/cross-site-account-associations/">http://blog.stackoverflow.com/2009/07/cross-site-account-associations/</a> but this probably was more important when cross site associations were introduced than today.</p>


	</body>
</html>