<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I improve this question about Siri?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How can I improve this question about Siri?</h2>
<p>A few days ago I asked "<a href="https://apple.stackexchange.com/questions/287161/how-can-i-turn-off-siris-joke-responses">How can I turn off Siri's joke responses?</a>"</p>

<p>I thought this was a perfectly legitimate question. It's on-topic, not subjective, and (I think) pretty clear what I'm asking. It's not intended as a complaint or an invitation to discussion, just a simple "how do I do this" question. I understand that the answer may be "you can't currently" or "nobody knows", although I hope it's not.</p>

<p>My question received several helpful comments and a possible answer. The score is currently -2, which means at least two people thought it was a bad question. Obviously no one but them knows why they voted, but I'm pretty surprised by this. I thought it was a decent question. Is there something obviously wrong that I'm missing? Or if not, is there anything I could change to make this question acceptable?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I've had a look at the question and, to be honest, don't see any major problems with it. </p>

<p>Obviously there's no way to know what the users who downvoted you were thinking, but I had a look and see they were all before you changed the title, so who knows if that played a role. </p>

<p>In this case it may be best to move on and forget it. For what it's worth, I don't get the joke responses you get when I use Siri to set a timer, so that in itself makes the question valid in my opinion.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>