<html>
	<head>
		<title id = 'pagetitle'>How do you get "keys" to appear in your answer text?
		</title>
	<head>
	<body id = 'pagebody'><p>See the accepted answer in this post: <a href="https://apple.stackexchange.com/questions/3374/how-do-you-position-your-hand-to-use-the-command-key-what-finger-do-you-use">How do you position your hand to use the command key? What finger do you use?</a></p>

<p>What's the markdown the person used to turn the CMD curly symbol in to a floating key like that? I see those used all over stackexchange sites but there's no mention of how to do that in <a href="https://apple.meta.stackexchange.com/editing-help">the markdown editing help page</a>.</p>


<h1>ANSWERS</h1>
		<p>You want the <code>&lt;kbd&gt;</code> tag. Enclose any piece of text e.g. the   symbol between <code>&lt;kbd&gt;</code> and <code>&lt;/kbd&gt;</code>, and you get it to look like a keyboard key: 
<kbd> </kbd></p>

<p>Here's the "official" Meta Stack Overflow question on this: 
<a href="https://meta.stackexchange.com/q/26207/56285">How can I format as keyboard keys?</a></p>


	</body>
</html>