<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How do we add tag pictures?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1088" class = "post">
			<h2>Question</h2>
			<h3>Score ::-1</h3>
			<h3>Views ::57</h3>
				<h2>How do we add tag pictures?</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/937/can-we-have-tag-icons">can we have Tag Icons</a>  </p>
</blockquote>



<p>On Stack Overflow, there are pictures next to the tag, such as <a href="https://stackoverflow.com/questions/tagged/android">the Android tag:</a></p>

<p><img src="https://i.stack.imgur.com/tEJwa.png" alt="SO android tag picture"></p>

<p>Or <a href="https://stackoverflow.com/questions/tagged/facebook">the Facebook tag:</a><br>
<img src="https://i.stack.imgur.com/bUvjh.png" alt="SO FB tag picture"><br>
How can we add pictures like these to Ask Different? I think that they would make the site look better overall.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1973" class = "comment">
				<p>In my personal opinion, they'd just add clutter without value. I like OS X's menu items mostly without useless symbols next to them like on other systems. Even e.g. the Safari bookmarks bar doesn't show them and thereby reduces distraction, although bookmarks (and their favicons) are one of the few areas they make sense, since they improve recognition.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1089"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>By getting someone to sponsor it. All the tags with images <a href="https://meta.stackexchange.com/questions/30187/what-do-icons-on-the-tags-mean">have sponsors paying for the privilege</a>, and are mentioned on the tags' wiki:</p>

<ul>
<li><a href="https://stackoverflow.com/questions/tagged/android">Android</a></li>
<li><a href="https://stackoverflow.com/questions/tagged/facebook">Facebook</a></li>
</ul>

<p>You'll also notice that images can be removed (no <em>rg</em> image on <a href="https://apple.stackexchange.com/questions/tagged/sql-server" class="post-tag" title="show questions tagged &#39;sql-server&#39;" rel="tag">sql-server</a> anymore on SO like in the linked topic).</p>

<p>So unless you find a sponsor (and find out whether non-SO sites implement this feature at all), or post a feature request to support this for any tag and quit taking money from sponsors, there's no way to do this.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>