<html>
	<head>
		<title id = 'pagetitle'>How do I delete an answer which is link only?
		</title>
	<head>
	<body id = 'pagebody'><p>There is this <a href="https://apple.stackexchange.com/a/223795/237">answer</a> that is only a link. patrix has left a standard comment </p>

<blockquote>
  <p>Answers on Ask Different need to be more than just a link. It's okay to include a link, but please summarize or excerpt it in the answer. The idea is to make the answer stand alone</p>
</blockquote>

<p>If this was on a low quality queue I could vote to delete.</p>

<p>However the wording for low quality flag is </p>

<blockquote>
  <p>This answer has severe formatting or content problems. This answer is unlikely to be salvageable through editing, and might need to be removed.</p>
</blockquote>

<p>Well these link only questions are obviously fixable by editing the information in so this is not a valid flag</p>

<p>The not an answer flag says</p>

<blockquote>
  <p>This was posted as an answer, but it does not attempt to answer the question. It should possibly be an edit, a comment, another question, or deleted altogether.</p>
</blockquote>

<p>These links are surely delete altogether. So  this is the obvious flag to use. but as in this question these flags are rejected.</p>

<p>How do I get the answer deleted as link only - I know this is the thing that is needed,</p>


<h1>ANSWERS</h1>
		<p>I've declined the flag with "flags should not be used to indicate technical inaccuracies, or an altogether wrong answer". May be a borderline case, but usually I try to refrain from deleting an answer even if it doesn't directly answer the question. In this case the key issue is that it is link-only, the linked project most probably seems to offer an alternative to the tool the asker is using to run WhatsApp. Which, in my eyes, makes it an answer with quality issues, but not necessarily something I would want to delete.</p>

<p>Let's look at the two flags which could be applied here:</p>

<blockquote>
  <p>This answer has severe formatting or content problems. This answer is unlikely to be salvageable through editing, and might need to be removed.</p>
</blockquote>

<p>While I agree that it has severe problems in its current form, the question seems salvageable through editing (basically by just summarizing the README.me found on Github).</p>

<blockquote>
  <p>This was posted as an answer, but it does not attempt to answer the question. It should possibly be an edit, a comment, another question, or deleted altogether.</p>
</blockquote>

<p>It definitively is an attempt to answer the question (or in this case rather the question behind the question), even it doesn't directly address the problem described.</p>


	</body>
</html>