<html>
	<head>
		<title id = 'pagetitle'>How can I flag an off-topic question without selecting an off-topic reason?
		</title>
	<head>
	<body id = 'pagebody'><p>I wanted to flag <a href="https://apple.stackexchange.com/questions/97699/can-i-travel-to-tibet-independently">https://apple.stackexchange.com/questions/97699/can-i-travel-to-tibet-independently</a> as off-topic (the question is now deleted), but differently from where I can vote to close a question as off-topic, I cannot select a custom reason. The reasons I could select are not the reason to close the question as off-topic.</p>

<blockquote>
  <p>Questions about software development are off-topic here, but can be asked on Stack Overflow. <em>It's not about software development.</em></p>
  
  <p>Questions about pre-release software are off-topic. For more information, see Can we ask about iOS 7 and OS X Mavericks? and Can I ask about not-yet-publicly released OS?. <em>It's not even about pre-releases.</em></p>
</blockquote>

<p>I flagged the question for moderation attention, but it doesn't seem right. I know that if  I flag the question as off-topic, the question would appear in the review queue for the questions with a closing vote, and other users would be able to vote to close it.</p>

<p>Should I simply leave the task to the users with the privilege of close-voting questions?</p>

<p>In this case, I had another reason to flag the question, since it contained a not necessary link that made it smell like spam. I am asking what I should do for a question I think it should be closed, now that the off-topic close-reason has sub-reasons.</p>


<h1>ANSWERS</h1>
		<p>For most practical purposes the flag reason doesn't matter that much, all flagged posts end up in the same moderator queue at the end. So in any case choosing <strong>a</strong> flag for dubious posts is better than not flagging it at all.</p>


<p>In this particular case, I would have used: </p>

<p><img src="https://i.stack.imgur.com/14Zc6.png" alt="it is spam">. </p>

<p>I feel it is a large enough selector to avoid to add ten other selectors which might kill the good will of the garbage collector  .</p>


	</body>
</html>