<html>
	<head>
		<title id = 'pagetitle'>How do you handle questions about release dates?
		</title>
	<head>
	<body id = 'pagebody'><p>On Ask Ubuntu, we were asked <a href="https://askubuntu.com/questions/783993/ubuntu-on-meizu-pro-5-is-sold-out">Ubuntu on Meizu Pro 5 is sold out, will it be available again?</a></p>

<p>This is a new product, and I'm interested how Ask Different handles this vein of questions - e.g. "When will the next X be released", "How can I pre-order" etc.</p>


<h1>ANSWERS</h1>
		<p>Those kinds of questions get closed as primarily opinion based. None of us here officially know release dates before the day of release, and speculation is not something that's good on a Q&amp;A site.</p>

<p>This is formally documented in the help guide:</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a></li>
</ul>

<blockquote>
  <p>Please refrain from asking about the following topics as questions with these core subjects are generally closed or deleted:</p>
  
  <ul>
  <li>Pre-release hardware or asking how/why Apple does  &lt; some thing XYZ ></li>
  </ul>
</blockquote>

<p>The only grey area where some questions may be not closed is when Apple publicly pre-announces something as that usually can be conclusively answered with a link to the Apple Website with details.</p>


	</body>
</html>