<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How do you insert keyboard characters into questions~responses?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2100" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::38</h3>
				<h2>How do you insert keyboard characters into questions~responses?</h2>
<p>How would I get <strong><code> </code></strong> to appear as the keyboard characters themselves which I see often embedded in responses?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4033" class = "comment">
				<p>possible duplicate of [How do you get "keys" to appear in your answer text?](http://meta.apple.stackexchange.com/questions/155/how-do-you-get-keys-to-appear-in-your-answer-text)</p>
			</div>
			<div id = "comment-4035" class = "comment">
				<p>possible duplicate of [Keyboard icons & terminology](http://meta.apple.stackexchange.com/questions/193/keyboard-icons-terminology)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2101"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Wrap your characters as follows:</p>

<p>&lt;kbd>Esc&lt;/kbd> = <kbd>Esc</kbd></p>

<p>To type the characters themselves in the first place depends upon the OS you are using. Android and iOS have different keyboards and unicode entry methods. Same for windows and Mac. There is a feature request to add the Mac typical characters to the text entry and formatting controls, but it doesn't have enough votes or developer support to get implemented yet.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/756/feature-request-add-editor-buttons-for-symbols-common-to-the-subject">Feature Request: Add editor buttons for symbols common to the subject</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/683/put-the-characters-somewhere-for-people-to-copy-paste">Put the   characters somewhere for people to copy/paste</a></li>
</ul>

<p>For now, you can bookmark either of those and use it to copy/paste if your preferred keyboard doesn't have these readily available.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>