<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I view comments on deleted Questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How can I view comments on deleted Questions?</h2>
<p>I asked a question on AskDifferent and someone replied to it by deleting it. I got 2 notifications that my question has been answered but now that I've logged in to the site, I cannot see those comments as the question has been deleted.</p>

<p>How am I supposed to even know the reason of the deletion if I cannot view the comments, find out who deleted by question or look at the question?</p>

<p>It's sad that someone just deleted the question without me even being able to look at the reasons why my question was wrong.</p>

<p>Can someone tell me how to see those comments??</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I deleted your question. You left the access keys to a website in the code. They were deleted, but that simply moves the keys into the history, they don't get completely removed. Since there is no way for me delete a specific version of a question entirely, the entire question got deleted.</p>

<p>You may repost the question but without the access keys. Next time please take time to sanitize your code before posting it.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>