<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I ask user l'L'l for his simple Quicktime Playlist player?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How can I ask user l'L'l for his simple Quicktime Playlist player?</h2>
<p>How can I contact a user of this site?</p>

<p>I think the user name is l'L'l and he had offered it somewhere but I dont know how to ask him for software that plays Quicktime movies like mplayer -playlist (yourplaylist) or realplayer bla.ram. Series of URLs in ASCII.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>If you earn more reputation you can participate in the chat forums. If you earn even more reputation, you can write comments on others' posts.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>However in general you can't contact an individual user. This is by design in Stack Exchange see <a href="https://meta.stackexchange.com/questions/431/any-way-to-send-a-personal-message-to-another-user">this meta stackexchange question</a></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>You should put your contact information in your profile (the info I edited out of your question body). Similarly, if someone wants to be contacted outside the site, you can look in their profile.</p>

<p>If you link to the user in question, I'll explain where that contact info lies. For me, look at <a href="https://apple.stackexchange.com/users/5472/bmike">https://apple.stackexchange.com/users/5472/bmike</a></p>

<p>The site notification methods are to @user ping them in comments or chat. Both of these require you to gain some reputation so asking here is your only hope of pinging the user without them self-disclosing their contact information or you gaining reputation.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>