<html>
	<head>
		<title id = 'pagetitle'>How does the Active Bounties Banner work?
		</title>
	<head>
	<body id = 'pagebody'><p>In my Stack Exchange experience, it's the first time I'm seeing this:</p>

<p><img src="https://i.stack.imgur.com/d9FBy.png" alt="current bounties" title="Wow, how is this done?"></p>

<p>How does it work? Is there a minimum bounties value that triggers the banner? If it were to be suggested in other SE sites, how would one refer to this? Is there any other known site using it?</p>


<h1>ANSWERS</h1>
		<p>It was written by a couple of our Mods I believe, and you can see how it enters the site as a normal site promoted ad:</p>

<p><a href="https://apple.meta.stackexchange.com/a/1521/5472">https://apple.meta.stackexchange.com/a/1521/5472</a></p>

<p>It may not be suitable for all sites, as it doesn't scale well for the 3 figure bounty totals that some sites have, but as long as that limitation is fine, you could try it on other sites with about three lines of markdown.</p>


<p>Kyle's comment on the post linked in the other answer points you in the right direction. But in case you want to jump right to it; <a href="https://apple.meta.stackexchange.com/questions/1519/community-promotion-ads-2013/1521#comment3199_1521">Community Promotion Ads - 2013</a></p>

<p>If you wanna see some serious magic, go embed <a href="http://stack-exchange-dynamic-ads.herokuapp.com/bounty.png" rel="nofollow noreferrer">http://stack-exchange-dynamic-ads.herokuapp.com/bounty.png</a> on one of the other sites you listed. (e.g. create a question or an answer with the contents <code>![](http://stack-exchange-dynamic-ads.herokuapp.com/bounty.png)</code></p>


	</body>
</html>