<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How to kill off 'community wiki' entries
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-697" class = "post">
			<h2>Question</h2>
			<h3>Score ::22</h3>
			<h3>Views ::655</h3>
				<h2>How to kill off 'community wiki' entries</h2>
<p>ok, the title is a little bit aggressive.</p>

<p>I'm relatively new here, but the examples of 'community wiki' that I've seen so far seem to be actively detrimental to the web site.  For example, the 'What Lion bugs irritate you the most?' thread takes lots of good questions and answers that could (should?) be individually placed on the main page and effectively hides them in a single thread.  Sure, it's possible that everyone who posts in that thread <em>also</em> posts their question separately, but I don't think that really happens.</p>

<p>I'm here because this site <em>isn't</em> your typical forum with it's endless rants and raves but rather concentrates on the meat of questions and answers.  I'm saddened to see anything that takes away from that wonderful design.</p>

			</div><h3>Comments</h3>
			<div id = "comment-1290" class = "comment">
				<p>Ones like http://apple.stackexchange.com/questions/6331/shortcuts-gestures-you-cant-live-without or ***X you can't live without*** seem to degenerate the most rapidly to me. I don't know if I should comment since someone I really respect characterized as "air-headed" the only question i've asked that went "community"</p>
			</div>
			<div id = "comment-1295" class = "comment">
				<p>@bmike: the analogy I touched on in my comment on Kyle's answer was an old one used for "fun" questions on SO: they're like salt, in that a little bit brings out the flavor of the site and makes it more palatable to the casual reader, but too much ruins it. SO had to start cracking down on these after reading the list of top questions became like eating a big bowl of salt: all "favorite cartoon" and "hidden feature" questions. The lesson isn't "kill them with fire" - it's "keep them under control". No one wants to sift through pages of fluff looking for a solution to a problem they're facing.</p>
			</div>
				<textarea id = "speech-697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-697">
					<img id="start_img-697" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-698"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::20</h3>
				<p><blockquote>
  <p>I'm relatively new here</p>
</blockquote>

<p>Maybe so, but you figured it out a lot faster than most. These "let's throw everything into one big pot and see what floats to the top!" questions <em>do</em> actively subvert the very goals these sites were built to achieve!</p>

<p>So what can you do? In order:</p>

<ol>
<li>Leave a comment noting that these would be easier to find as separate Q&amp;A</li>
<li>Down-vote</li>
<li>Flag for moderator attention </li>
<li>(once you have the necessary reputation) Vote to close.</li>
<li>(once the question is closed and you have a bit more rep) Vote to delete.</li>
</ol>

<p>FWIW, the primary purpose of Community Wiki is to encourage collaborative editing by removing the "first author gets all the points" aspect (and allowing lower-rep users to contribute). There's absolutely nothing wrong with that... However, if you see a question with many answers where all are CW, that's a <em>warning:</em> either a moderator, or the system itself is telling us that this Q&amp;A could use a lot less <em>answering</em> and a lot more <em>editing!</em></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1252" class = "comment">
				<p>Is there a current  "here's how the site hopes Community Wiki should work" document? I suppose part is based on how it used to work, but it might be nice to have the current thinking - then a dose of how we got here, taking the past into consideration.</p>
			</div>
			<div id = "comment-1352" class = "comment">
				<p>@bmike sure see http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/</p>
			</div>
				<textarea id = "speech-698" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-698">
					<img id="start_img-698" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-699"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Back when Stack Overflow was first started, the Community Wiki feature that was initially created to add a wiki-like aspect to some questions was co-opted for use with poll-like questions, and questions where it didn't make sense for the author to receive reputation from them.</p>

<p>I've always liked these questions and felt them to be an important part of building and maintaining a healthy community here, but I do agree that, if left unchecked, the site would quickly fill up with people abusing them. However, I think that we've maintained a pretty good balance here on Ask Different - we don't allow too many to be created, and the ones that are usually are informative and maintained. There are some that do fall through the cracks, sure, but I think that by and large they're more beneficial than detrimental.</p>

<p>One example of a benefit is with the recent <a href="https://apple.stackexchange.com/questions/17759/what-tiny-thing-in-lion-makes-you-smile-or-has-caught-you-off-guard">What tiny thing in Lion makes you smile or caught you off guard?</a> question, it was linked to on Reddit, Hacker News, and Twitter, and several other sites and brought a considerable amount of traffic to our site. This is very hard to do with a 'typical' question because they're usually of limited scope and of interest to a relatively small group of people. In order to get the network effect with a question, it needs to be one with a much broader appeal, and these tend to skew towards those that are of the Community Wiki style.</p>

<p>Finally, I think that the popularity of these questions may make it appear that there are more of them than there are, so here are some numbers:</p>

<ul>
<li>Total number of questions: <a href="https://apple.stackexchange.com/questions">6,778</a></li>
<li>Number of Community Wiki questions: <a href="https://apple.stackexchange.com/search?q=is%3Aquestion+wiki%3A1">73</a> (1%)</li>
<li>Number of Community Wiki questions with at least 1K views: <a href="https://apple.stackexchange.com/search?q=is%3Aquestion+wiki%3A1+views%3A1000&amp;submit=search">12</a> (0.2%)</li>
<li>Number of Community Wiki questions with at least 10 votes: <a href="https://apple.stackexchange.com/search?q=is%3Aquestion+wiki%3A1+votes%3A10&amp;submit=search">17</a> (0.25%)</li>
<li>Number of Community Wiki questions with at least 10 answers: 23 (0.3%)</li>
</ul>

<p>So yes, I will concede that the questions, in general, don't really fit in with the rest of the site. But for the ones we do have we try to keep the quality high and the quantity low, and I think that eliminating them altogether would be a mistake.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1248" class = "comment">
				<p>we have a blog post coming on this from Grace Note, but you have hit upon the right theme here -- there should be *some* of these questions but not very many. They should be *rare*. We are thinking 1 in 50 questions as an absolute MAXIMUM, and more realistically 1 in 100 as you are seeing with your data.</p>
			</div>
			<div id = "comment-1255" class = "comment">
				<p>Kyle, you seem to be taking the "little bit of fun on the site is like a little bit of salt on your food" perspective... Which is great, *but*... Alrescha's example wasn't the air-headed "what makes you smile" post - it was the potentially *useful* "what bugs irritate you" post. Instead of ~30 questions regarding fixes / work-arounds for irritating bugs, you have one question with 30 bugs, with explanations / fixes / work-arounds pushed into *comments!*</p>
			</div>
				<textarea id = "speech-699" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-699">
					<img id="start_img-699" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-735"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::9</h3>
				<p><p>We have provided some additional guidance at the blog:</p>

<p><a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/</a></p>

<p>TL;DR version</p>

<blockquote>
  <p>Most of the time, you should be asking yourself  How can I improve this post so that community wiki isn t needed?  Community wiki is like a cheese knife: it is a specialized tool to be used sparingly, and only in very specific circumstances.</p>
</blockquote>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-735" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-735">
					<img id="start_img-735" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-899"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p><strong>TL;DR Version</strong></p>

<p>I have to admit, coming from SU where these questions were killed off early on (causing huge issues with the users, and even losing some because of it) the site survived and is still growing well without them.</p>

<p>Up until recently, I have been quite accepting of Apple.SE having a very lenient stance against these questions, however recent events have made me realize that it is going to burn Apple.SE in the long run.</p>

<p>Personally, I had planned to get very involved with Apple.SE going forward, however, my motivation has been significantly reduced as the quality of questions has dropped. It is unfortunate to see a CW question cap someone out on rep before the CW flag is hit, and some good quality answers, posted at the same, time getting no votes or views. </p>

<p>I have lost interest in Apple.SE quickly, and doubt that I will be even remotely as active as before, since trying to increase the quality on the site sometimes feels one sided when this issue is raised, and honestly, it's raised often. </p>

<p><strong>Non TL;DR Version</strong></p>

<p>Kill them and kill them quickly. It is going to make the road to success harder in the long run, and effectively drive away some users that could have added value. This point has been proven over and over again on other sites, and the traffic it is driving to this site is causing more damage than good.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2759" class = "comment">
				<p>Doesn't `TL;DR` mean `Too long; Didn't read`? Your `TL;DR` version is longer than the `Non TL;DR` one...</p>
			</div>
				<textarea id = "speech-899" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-899">
					<img id="start_img-899" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>