<html>
	<head>
		<title id = 'pagetitle'>How can I delete my StackExhange OpenID?
		</title>
	<head>
	<body id = 'pagebody'><p>For some reason, I've got two OpenID accounts on StackExchange. I use only one of them to login to AskDifferent. I've already removed unwanted one from 'my logins' list in my profile page, but I've got no idea how to completely delete  unnecessary OpenID account. Please, help.</p>


<h1>ANSWERS</h1>
		<p>If you wish to merge the posts, you can start here: <a href="https://apple.stackexchange.com/help/merging-accounts">https://apple.stackexchange.com/help/merging-accounts</a></p>

<p>To just delete of one account is here: <a href="https://apple.stackexchange.com/help/deleting-account">https://apple.stackexchange.com/help/deleting-account</a></p>

<p>You might be able to delete the alternate open id yourself from your account page: <a href="https://meta.stackexchange.com/questions/67356/openid-delete-account">OpenID Delete account</a></p>

<ul>
<li>go to <a href="https://apple.meta.stackexchange.com/users/58740/littlenimrod">https://apple.meta.stackexchange.com/users/58740/littlenimrod</a></li>
<li>select my logins from the list of links near the top of the screen</li>
</ul>

<p>Worst case, the contact us form in the top two links will get a site employee to assist as moderators no longer merge user accounts or have access to those tools directly. </p>


	</body>
</html>