<html>
	<head>
		<title id = 'pagetitle'>How do we report bugs and typos for the site?
		</title>
	<head>
	<body id = 'pagebody'><p>This is a general question for all stack exchange sites.</p>


<h1>ANSWERS</h1>
		<p>You report them here, on meta.</p>


	</body>
</html>