<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How to report spam-user
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How to report spam-user</h2>
<p>I've noticed a user who has every quality of being a Spam-bot. I know you can flag questions, but can you flag users as well? The user in this case, <a href="https://apple.stackexchange.com/users/23893/edward">edward</a>, keeps spamming and filling up the discussion board...  </p>

<p>How can I get in touch with a moderator (by message or chat,...) to make sure edward won't spam anymore?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>In general, if you flag several posts by the same user, a moderator will likely notice the pattern and investigate. We often can be quite perceptive when things are amiss. Flags are quite helpful, and that would usually be sufficient (as it was in this case).</p>

<p>If, however, you find that does not work for some reason because there is a larger or more complex question about the site, a new question asked on meta (like this one) shows up in our inboxes to draw our attention to it.</p>

<p>In other words, the two things you did (flag and meta post, in that order) are ways to accomplish what you hoped to accomplish.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>