<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How do I answer questions on this site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2452" class = "post">
			<h2>Question</h2>
			<div id="vote-2452" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41</p>
			</div>
				<h2>How do I answer questions on this site?</h2>
<p>I found a solution to <a href="https://apple.stackexchange.com/questions/55243/the-headphone-jack-on-my-macbook-pro-just-stopped-working-how-do-i-fix-it">a question on this site</a> that no one had provided my answer for and I wanted to share it with the world.  I cannot figure out how to answer a question.  Commenting takes "Reputation".  How do I do this?  I love this site idea but I am very frustrated right now.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2452">Load Comments</button></br>
			<div id = "commentsection-2452" class = 'collapse'>
			<div id = "comment-4607" class = "comment">
				<p>As you see - 18 hours only have passed since this question & already you have over 50 rep points. The entry bar is there to stop fly-bys & spammers, not people who wish to actively participate. It doesn't take long to get that first 50 - now not only can you answer, you can comment on other people's posts too. Welcome to Ask Different ! :)</p>
			</div>
			</div>
				<textarea id = "speech-2452" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2452">
					<img id="start_img-2452" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2453"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2453" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can answer the vast majority of site questions without earning 10 reputation on a specific site. An association bonus of 100 doesn't count in the few questions that are "protected".</p>

<p>Anyone with 10 rep (association or earned otherwise can comment on anyone's questions or answers. </p>

<p>See the <a href="https://apple.stackexchange.com/help/">help</a> and especially the <a href="https://apple.stackexchange.com/help/answering">section on how to answer</a> for more guidance.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2453">Load Comments</button></br>
			<div id = "commentsection-2453" class = 'collapse'>
			<div id = "comment-4602" class = "comment">
				<p>Then I was going to just post the question and answer it myself, but I found out that you can only post every 20min... Thanks for your help.  I don't if you work for this site, but if you do, you should know this is a very unwelcome way for people to contribute.  I don't how the site can function when there are road blocks the whole way to building it up</p>
			</div>
			<div id = "comment-4603" class = "comment">
				<p>Very few people 'work for this site'. The entire idea of SE is that it is edited & moderated by the users themselves, gaining powers with reputation, plus we have dedicated moderators, who have higher edit/delete powers.</p>
			</div>
			<div id = "comment-4604" class = "comment">
				<p>@AaronTrimble extenuating circumstances -- the vast majority of our questions here don't have such a high bar on them for answering. The one you picked just happens to be a magnet for bad and off topic answers so it was protected.</p>
			</div>
			</div>
				<textarea id = "speech-2453" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2453">
					<img id="start_img-2453" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2454"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2454" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The question you've mentioned (<a href="https://apple.stackexchange.com/questions/55243/the-headphone-jack-on-my-macbook-pro-just-stopped-working-how-do-i-fix-it">The headphone jack on my MacBook Pro just stopped working. How do I fix it?</a>) got protected automatically by the system because it attracted a lot of off-topic answers in the past (which got deleted so you can't see them). I've removed the protection and am looking forward to see your answer.</p>

<ul>
<li>To get some details about protected questions, see <a href="https://apple.stackexchange.com/help/privileges/protect-questions">https://apple.stackexchange.com/help/privileges/protect-questions</a>.</li>
<li>To learn about reputation (points), see <a href="https://apple.stackexchange.com/help/whats-reputation">https://apple.stackexchange.com/help/whats-reputation</a></li>
<li>To learn more about how this (and all other StackExchange) sites work, see <a href="https://apple.stackexchange.com/help">https://apple.stackexchange.com/help</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2454" class = 'collapse'>
			</div>
				<textarea id = "speech-2454" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2454">
					<img id="start_img-2454" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>