<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How to handle Lion questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How to handle Lion questions</h2>
<p>With the developer preview of Lion available and the customer seed program in action, I imagine that we're going to start seeing questions about the upcoming Mac OS X 10.7 Lion.</p>

<p>Since all the previewers are bound by an NDA, how far are we going to allow discussion to go on this site?
<br>For example, is it okay to share or ask for a workaround for a bug or a trick/hack for some cool functionality?<br>
Will we allow questions in the vein of 'Will it do this or this?'</p>

<p>How do you folks plan on handling this sort of thing?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It's simple:</p>

<ul>
<li>Is the question about something available to the public?</li>
<li>Is the question about something that has been officially announced?</li>
</ul>

<p>If the answer to both these questions is "No," the question should be closed asap.</p>

<p>No rumors, no speculation, and no discussions that's what keeps this site different from everywhere else, and what makes it work. There are enough places online for chit chat; anyone who wants that can easily find it elsewhere.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>As already noted, Lion is just a Developer's preview. I do agree to keep certain questions that are more deep than "will I be able to do X on Lion". The person asking if Lion/Xcode 4 was good for developing was on a fine edge, but the question drew a generic conclusion: "don't use betas for stable environments". </p>

<p>We'll have to pay attention and see what happens with Lion, and how many questions we get. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I think that we should allow all kind of questions and answers. It is the responsability of the individual putting the question/answer not to break the NDA, EULA, ...</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>