<html>
	<head>
		<title id = 'pagetitle'>How should I deal with a misleading answer?
		</title>
	<head>
	<body id = 'pagebody'><p>Earlier today, I posted the answer <a href="https://apple.stackexchange.com/a/230066/162909">https://apple.stackexchange.com/a/230066/162909</a> which turned out to be a misleading answer due to my misbelief that isopropanol was suitable for use as a screen-cleaning agent. </p>

<p><a href="https://apple.stackexchange.com/users/85275/tetsujin">@Tetsujin</a> promptly corrected my misbelief, which has me now concerned that someone else might accidentally take my answer as a viable method of cleaning one's screen when this is <em>seriously not advisable</em>.</p>

<p>I had a small discussion with <a href="https://apple.stackexchange.com/users/85275/tetsujin">Tetsujin</a> in the comments about what I should do with the answer, and, on his advice, decided to leave it there that it may be a lesson to others to <em>not</em> do what my answer suggested.</p>

<p>However, if this situation were to arise again (not just for myself), how should I deal with a misleading answer, answered wrongly due to my own misbelief?</p>


<h1>ANSWERS</h1>
		<p>Deleting an answer is always an option. If you don't see see a <em>delete</em> link at the bottom of your answer (next to the <em>edit</em> link), just flag it for moderator attention and add a note.</p>


<p>In order of preference - these tools can help to improve a question that has problems:</p>

<ol>
<li>Edit it to explain / caution / correct facts or assertions with references and clarity.</li>
<li>Comment and vote if the core idea is a problem instead of some portion of the post.</li>
<li>When there's nothing redeemable (perhaps by editing the good content into another post) - deletion is an option.</li>
</ol>

<p>Keep in mind - we don't delete answers because they are wrong. In fact, a wrong answer can be very very helpful to explain / dispel the notion that an option wasn't considered. Widely held yet wrong ideas do the best when they are voted appropriately and commented with constructive criticism as to the application of that post to the question at hand.</p>


	</body>
</html>