<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How should we get a question updated for a new version?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How should we get a question updated for a new version?</h2>
<p>I was googling how to find the location of backups on iTunes and how to change their locations, but the answers are around 3 years old. What is the right approach to getting these updated. </p>

<p>I could add a comment, but I believe that goes to the person who asked the question or answered the questions, but would it make the question visible again?</p>

<p>Questions that made me think of this, there is always the possibility I have not looked far enough through the question, but I think the question remains the same.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/96623/where-on-my-pc-does-itunes-store-the-backup">Where on my pc does iTunes store the backup?</a></li>
<li><a href="https://apple.stackexchange.com/questions/12857/how-to-change-the-location-where-itunes-stores-backups-of-iphones">How to change the location where iTunes stores backups of iPhones?</a></li>
</ul>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The <a href="https://apple.stackexchange.com/help/privileges/set-bounties">bounty system</a> can draw attention to an outdated Q&amp;A. This allows you to promote the question on the site such that someone may be able to provide a more up-to-date answer or edit an existing answer. There is a specific bounty reason for this:</p>

<blockquote>
  <p>Current answers are outdated<br>
  The current answer(s) are out-of-date and require revision given recent changes.</p>
</blockquote>

<p>You can also ask another question, making sure to link to the previous question and specify how it does not answer your question due to changes. This may lead to the older question being edited to be clear that it is specific to an older version.</p>

<p>For example, a question regarding how to do a certain task  on an iPhone  may be outdated due to an updated version of iOS. By asking a separate question about how to do the task  in iOS 10 , the older question can be edited to be specific to how the task is performed  on iOS 9  or such.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>