<html>
	<head>
		<title id = 'pagetitle'>How can I see Site Stats?
		</title>
	<head>
	<body id = 'pagebody'><p>After official launch of Ask Different we loose little "site stats" box:</p>

<p><img src="https://i.stack.imgur.com/UICwa.jpg" alt="enter image description here"></p>

<p>Know how can we see Ask Different stats?<br>
I check <a href="http://area51.stackexchange.com/proposals/151/apple">Area51</a> it seems that the stats didn't update after official launch.<br>
Also I check <a href="http://data.stackexchange.com/" rel="nofollow noreferrer">data.stackexchamge.com</a> and realize that Ask Different didn't add there yet.</p>


<h1>ANSWERS</h1>
		<p>You can see the site stats for all of our sites here: <a href="http://stackexchange.com/sites">http://stackexchange.com/sites</a></p>


<p><a href="http://api.apple.stackexchange.com/1.0/stats">http://api.apple.stackexchange.com/1.0/stats</a></p>

<p>Its not very user friendly, but the data is there.</p>


<p>Moderators have access to detailed analytics but these are not meant to be shared too widely.</p>


	</body>
</html>