<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How do I link to a specific answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1698" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::51</h3>
				<h2>How do I link to a specific answer?</h2>
<p>I've seen people make a link to a specific answer here, but now that I want to do this, I can't find any documentation or even an example to copy...  How do I form the URL to a specific answer?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1699"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p><img src="https://i.stack.imgur.com/8fwFU.jpg" alt="enter image description here"></p>

<p>This link has your user number embedded in it - so since I clicked the share, my number of 9058 is embedded. You can omit that part if you don't want "credit" for the share (yes there is a badge for that and on occasion contests).</p>

<p>Under the hood, each post (a question or an answer has a unique post number) so you can also tack the post number on the end of the question's URL which is more readably available.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1698/how-do-i-link-to-a-specific-answer/1699#1699"> https://apple.meta.stackexchange.com/questions/1698/how-do-i-link-to-a-specific-answer/1699#1699</a></li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3173" class = "post">
				<p>Duh, how did I not notice that?!  Thank you.</p>
			</div>
			<div id = "comment-3174" class = "post">
				<p>Because Sharing a link is not the most obvious name for it. Sharing implies some sysytem as appears next to facebook and twitter. SO I assumed for years that it was another system possible one in StackExchange</p>
			</div>
			<div id = "comment-3175" class = "post">
				<p>Also, the share button does indeed give you a link to the answer, but it's marked with your own user ID (the last component of the URL). The direct URL to the answer without your own user ID in it is http://meta.apple.stackexchange.com/questions/1698/how-do-i-link-to-a-specific-answer/1699#1699 (which the URL from the share button will resolve to, but after logging who generated the referring link).</p>
			</div>
			<div id = "comment-3320" class = "post">
				<p>An attempt to use this kind of link (here: http://apple.stackexchange.com/a/87982) is in fact bringing to the best rated answer (here: http://apple.stackexchange.com/a/59918). Is this the wanted behaviour or did I do something wrong?</p>
			</div>
			<div id = "comment-3321" class = "post">
				<p>@danielAzuelos This seems to be a different issue, can you raise a new question for this on Meta?</p>
			</div>
			<div id = "comment-3350" class = "post">
				<p>@patrix I've also noticed the behavior Daniel mentioned. It seems to happen at Ask Different, but not that I can tell on the other Stack sites that I frequent.</p>
			</div>
			<div id = "comment-3351" class = "post">
				<p>@ChrisW.Rea See http://meta.apple.stackexchange.com/questions/1772/link-to-a-specific-answer-within-a-question</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>