<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How should we manage questions that have very different answers per version of macOS?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3120" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::61</h3>
				<h2>How should we manage questions that have very different answers per version of macOS?</h2>
<p>I asked a question regarding how to perform an action on macOS Sierra.  Over the years Apple has changed the OS in specific ways that older solutions don't apply to the latest version of their OS, and in fact it seems they change something related to this issue every other version of macOS.  There's no universal solution or answer to this issue that applies across all versions of macOS.</p>

<p>I've clarified this in the question, but another user contends that we should have all the answers for all the versions in one question, rather than a separate question for each version of macOS.</p>

<p>Having participated on many stack exchanges, it's not unusual to do things differently for these types of questions.</p>

<p>How does Apple.SE handle this sort of situation?</p>

<p>If we accept new questions for new versions of macOS when the previous questions and answer don't apply, then I'll leave my version specific question open, making sure to tag it and title it appropriately for that version of macOS.</p>

<p>If we want to have one canonical question and answer for this issue, then when a new version of macOS causes the issue again, how do we bring that question back up so users can participate in answering it? How do we signal that the question is unanswered for a specific version of macOS? Do we then expect someone to edit the accepted answer with a list of solutions for each version of macOS, or do we want people to wade through the 10+ answers, trying out various versions and editing them to indicate which ones apply to each version of macOS?</p>

<p>For questions where one or two answers apply to  most versions of macOS I don't see a problem with the second approach - one question for all version - but there seem to be several problems with the second approach when macOS breaks the old solutions so frequently.  Nevertheless, if that's what the Apple.SE community desires then I'll comply.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-3122"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><blockquote>
  <p>we should have all the answers for all the versions in one question,
  rather than a separate question for each version of macOS</p>
</blockquote>

<p>In short, yes.</p>

<h3>TL;DR</h3>

<p>Apple changes things with each revision of their hardware <strong>and</strong> software;  some of it unintentional (aka ahem..."<em>features</em>") and lots intentional (aka "stuff that annoys users to the nth degree").</p>

<p>Simply stating that a question is for a different version and/or product doesn't negate it from still being current or relevant.  </p>

<p>In the <a href="https://apple.stackexchange.com/questions/294986/is-there-a-faster-way-to-restart-macos-sierra-into-the-bootcamp-partition">question</a> you originally asked, you state (via an edit):</p>

<blockquote>
  <p>The duplicate question how to quickly reboot from OSX to Windows and
  back does have one answer that <strong><em>may</em></strong> work for macOS Sierra,</p>
</blockquote>

<p><sup>(emphasis mine)</sup></p>

<p>The key element that would disqualify it from being a duplicate is if the solution presented <em>didn't</em> work; which would be more than significant enough a factor to not be flagged.</p>

<hr>

<p>Looking at this from a purely logistical point of view, having the same question for each version of macOS would be rather large.  From Mavericks (10.9) to High Sierra shipping today (10.14), that's 5 different versions (not including the minor upgrades).  </p>

<p>Why would we need 5 different questions/answers for the same thing if the question/answer are still relevant?</p>

<p>Going further, if the question is "different" because of the hardware being is is older further adds to number of permutations.    Just doing a cursory check the MBP goes back to 2006 and has about 20 major versions (i.e. Mid-2011) excluding the sizes (13", 15", 17") and options (i.e. Retina, TouchBar, etc.)  </p>

<p>Would we need to have 100 different permutations of the same question/answer because the hardware/software combo is older/different?  I think it would be illogical and inefficient to have a separate question for each possibility even if limited to only the major releases of hardware/software.</p>

<h3>Reopening Closed Questions</h3>

<p>As this is community driven, we do make mistakes and close things for many reasons including marking questions as dupes when they are in fact not.  For instance, in <a href="https://apple.stackexchange.com/questions/290765/how-do-i-get-os-x-10-11-6-to-return-my-free-space">this question</a> asked within the last 30 days, it was marked as a dupe but reopened because the OP added the following clarification:</p>

<blockquote>
  <p>This isn't the same question as the proposed duplicated, at all. I am
  not suggesting that anything is eating my disk space. I'm also not
  saying that restarting it changes anything. I'm stating that the disk
  util says I have 300 GB free, which is likely the case given what I
  deleted, and the OS says ~90 GB free, an amount that did not change as
  I was deleting things and did not change when restarting the
  system...so basically the freed space was not given back.</p>
</blockquote>

<p>As is the case with your question.  It's entirely possible that your question <em>isn't</em> a duplicate, but until you rule out the solution(s) already provided for the previously asked question, it's a duplicate.</p>

<h3>Updating the previously asked question</h3>

<p>Being a community site, it's encouraged to edit questions/answers to make them more accurate (without trying to change the author's intent).  For example, if the previous question/answer was (not) a solution to your issue, you could edit the answer with a single line saying:</p>

<blockquote>
  <p>Update as of some date:  This is confirmed to (not) work in mac OS Sierra (10.13.x).</p>
</blockquote>

<p>Asking a new question wouldn't be considered a dupe at that point and you would be contributing back to the community by keeping the original question relevant.</p>

<p>To address your comment:</p>

<blockquote>
  <p>So your suggestion is essentially to try every one of the many broken
  answers in the dupe and then ask a new question if none of them work?</p>
</blockquote>

<p>The <a href="https://apple.stackexchange.com/help/how-to-ask">Help Center</a> addresses that concern:</p>

<blockquote>
  <p>Have you thoroughly searched for an answer before asking your
  question? Sharing your research helps everyone. Tell us what you found
  and why it didn t meet your needs. This demonstrates that you ve taken
  the time to try to help yourself, it saves us from reiterating obvious
  answers, and above all, it helps you get a more specific and relevant
  answer!</p>
</blockquote>

<p>If the answer is works or is broken, you can <a href="https://apple.stackexchange.com/help/why-vote">up/down vote</a> and even add comments (i.e. "This answer doesn't work for whatever reason")</p>

<p>The key is to reasonably attempt to research before generically stating a question is <strong>may</strong> not be relevant because it's <strong>perceived</strong> to be obsolete.  </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6709" class = "comment">
				<p>So your suggestion is essentially to try every one of the many broken answers in the dupe and then ask a new question if none of them work?</p>
			</div>
			<div id = "comment-6710" class = "comment">
				<p>Yes - as if they dio answer then by definition it is a duplicate</p>
			</div>
			<div id = "comment-6724" class = "comment">
				<p>There s a lot of good thought here. I m not sure there s a right approach for every question - but I m a fan of linking and saying - This question here worked for 10.7 and below, but since XYZ changed on 10.12 I m struggling to do this. - In that limited case where the asker has a great analysis - having two questions makes sense. If not - bounty and community voting efforts in chat to raise a 10.13 answer should be doable.</p>
			</div>
			<br><div id = "ans-3124"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I think finding a solution for somebody is more relevant than hunting all (possible) duplicates down. I'd rather find two complete different answers for a quite similar question than finding a closed question which is like 6 years more recent than the "possible duplicate".</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>