<html>
	<head>
		<title id = 'pagetitle'>How to appeal a question's status as exact duplicate?
		</title>
	<head>
	<body id = 'pagebody'><p>My question was closed as an exact duplicate; however, I don't think it is, since my question addresses a more specific capability of the iOS keyboard in terms of Unicode (not just symbols).</p>

<p>So I'd like to know how, if possible, I might appeal a moderator's decision to mark it as exact duplicate? Is there a way I can contact the moderator?</p>

<p><a href="https://apple.stackexchange.com/questions/6198/how-can-i-type-or-input-unicode-characters-on-the-iphone">How can I type or input Unicode characters using a code point on the iPhone?</a></p>


<h1>ANSWERS</h1>
		<p>The best way is to edit your post so that it's clear that it's not a duplicate, then flag it for moderator attention asking for us to take another look.</p>

<p>In any case, based on what you've said, I've edited your title and reopened your question.</p>


	</body>
</html>