<html>
	<head>
		<title id = 'pagetitle'>How does (or will) the Jobs tab on the Ask Different site work?
		</title>
	<head>
	<body id = 'pagebody'><p>Currently the jobs url that's live on the site navigation (and meta) resolves as a 404:</p>

<ul>
<li><a href="https://apple.stackexchange.com/jobs">https://apple.stackexchange.com/jobs</a></li>
</ul>

<p>Is this an expansion of the Stack Overflows careers or something different?</p>


<h1>ANSWERS</h1>
		<p>That was my fault.  I removed an if check that was very important.  It has been reverted.</p>


	</body>
</html>