<html>
	<head>
		<title id = 'pagetitle'>How to get a question migrated?
		</title>
	<head>
	<body id = 'pagebody'><p>I asked a <a href="https://apple.stackexchange.com/questions/287299/monitor-elements-of-a-webpage-receive-real-time-alerts">question about extension/app/freeware options on a mac</a> for a particular use case, and a user suggested I might be better off at Software Recommendations. </p>

<p>I didn't know about that site at the time of writing, but it seems like it might be a better fit. My question then is twofold; is my question actually better suited for that site? And if so, how do I go about getting it migrated?</p>


<h1>ANSWERS</h1>
		<p>You can use the  flag  link under the question, choose  in need of moderator intervention , then describe the problem including which site you would like the question migrated to and why.</p>

<p><a href="https://i.stack.imgur.com/CIm7H.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CIm7H.png" alt="in need of moderator intervention"></a></p>

<p>In general on other Stack Exchange sites, this is usually not necessary. Instead, you would choose  close / flag , then  off-topic because   This question belongs on another site in the Stack Exchange network  and select the site from the list. Ask Different does not have any migration paths preconfigured, so a moderator is required to handle migrations manually, using the flag system described.</p>

<hr>

<p>In terms of when to migrate though, there is an important rule of thumb:</p>

<blockquote>
  <ul>
  <li><strong>Don't migrate for the sake of migration</strong>. We only migrate questions because they are off-topic on the original site. It is perfectly possible for a question to be on-topic on multiple sites, but that is not a reason to migrate it elsewhere, unless the OP requests migration. As a general rule, if someone asks a question here, and it's on-topic here, it should stay here.</li>
  </ul>
</blockquote>

<p><a href="https://meta.stackexchange.com/q/10249/222623">What is migration and how does it work?</a></p>

<p>Sometimes, though, Ask Different goes against this guideline   due to the low-traffic nature of some parts of this site, it may be beneficial to the question for it to be elsewhere. This is on a case-by-case basis and the guidelines on Meta.SE still take priority.</p>


<p>Although the question is on topic here, I ve migrated it away and asked (via a flag) for the comments to get cleared on the new site. If the migration is rejected, please flag for re-opening here. </p>


	</body>
</html>