<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How to undo Unicoins changes
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2030" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::60</h3>
				<h2>How to undo Unicoins changes</h2>
<p>I used the Uniconis to make modifications but now I do not like what I got.</p>

<p>Is there a way to undo the modifications like scrolling title bar ect.</p>

<p>What is Unicoins:</p>

<p>It is a popup on the right hand site top on the ask differant and it looks like this.</p>

<p><img src="https://i.stack.imgur.com/i2oLZ.png" alt="Unicoins"></p>

<p>More about Unicoins:</p>

<p><img src="https://i.stack.imgur.com/3w6oN.png" alt="about unicoins"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3889" class = "post">
				<p>What is Uniconis?</p>
			</div>
			<div id = "comment-3894" class = "post">
				<p>Ah, that's probably just the April 1st joke, so it will disappear again tomorrow :-)</p>
			</div>
			<div id = "comment-3896" class = "post">
				<p>Did I fall for it again :(</p>
			</div>
			<div id = "comment-3898" class = "post">
				<p>It is well done and it actually works as promised :)</p>
			</div>
			<div id = "comment-3899" class = "post">
				<p>They did fool me but it was well done and fun...Thank you.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2031"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>It's indeed the Aprils Fools joke of SE this year.</p>

<p>You can follow the humor, discussion and confusion at <a href="https://meta.stackexchange.com/questions/tagged/unicoins">SO Meta</a> and by logging out of the site, you will see that nothing has actually changed on your account. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2032"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>You can remove a power by 'recycling' the power   this costs 10 coins though.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>