<html>
	<head>
		<title id = 'pagetitle'>How do I float questions to the top?
		</title>
	<head>
	<body id = 'pagebody'><p>I have several questions that have not been answered and consequently, they floated to the bottom of the question list. How do I get the question more towards the top again?</p>


<h1>ANSWERS</h1>
		<p>Oops, I figured this out. I just edited the question and the question went back up to the top.</p>


<p>While editing does bump questions, editing for the sake of bumping a question is not encouraged. The officially sanctioned way to draw attention to a question you believe has been neglected (your own or another's) is to offer a bounty for said question so it becomes a <a href="https://apple.stackexchange.com/?tab=featured">featured question</a>.</p>


<p>I recently went through my old questions (as I have a very low acceptance rate) with a view to getting them answered.</p>

<p>On a couple I put a bounty on, and on some others (including 1 that had had a bounty previously which hadn't resulted in an accepted answer) I edited them purely in order to bump them, but took the opportunity to completely rewrite the question in the hope that one of the reasons poor a poor answer rate was because the question was not good enough to start with.</p>

<p>This has worked with one of the questions, with a few more answers coming in, but not for the other.  Either way, I feel the edits were justified as they were substantially altered in an effort to increase their chances of a good answer.</p>


	</body>
</html>