<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How to paste images into the site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1701" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::397</h3>
				<h2>How to paste images into the site?</h2>
<p>The Image button on this site gives the dialogue below, which mentions the ability to paste in an image.</p>

<p><img src="https://i.stack.imgur.com/KNuFT.png" alt="StackExchange paste dialog"></p>

<p>However, I can't get this to work in Safari (6.0.4) on OS X (10.8.3).  I can drag a file in, but I'd like to be able to use cmd-shift-ctrl-4 to put a screenshot on the clipboard, then paste that in, because that feels a little faster.  However, pressing cmd-v seems to do nothing.</p>

<p>Am I missing something?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3176" class = "comment">
				<p>Are you using Safari on Mac, PC or iOS?</p>
			</div>
			<div id = "comment-3179" class = "comment">
				<p>@bmike I think that the presence of the `cmd` key would say OS X</p>
			</div>
			<div id = "comment-3180" class = "comment">
				<p>@bmike Mac OS X 10.8.3... sorry for not making that clear.</p>
			</div>
			<div id = "comment-3182" class = "comment">
				<p>@Undo I use a Mac keyboard with iPad/iPhone daily - sometimes exclusively. You are right the clues made it nearly certain OS X, but I wanted to be sure.</p>
			</div>
			<div id = "comment-3188" class = "comment">
				<p>@bmike Seems likely this is a StackExchange on Safari issue (see Jason Salaz's answer). I wonder if you have an idea how to report the issue to StackExchange?</p>
			</div>
			<div id = "comment-3189" class = "comment">
				<p>Ashley - I've tagged it as a bug, so that will bubble it up to a developer to respond. If you want to answer this to explain exactly how you would like it to work, that often lets other people vote up your proposed solution as well as let the dev team know exactly what the use case is. You've reported it - so we wait now for it to get looked at.</p>
			</div>
			<div id = "comment-3190" class = "comment">
				<p>@bmike Thank you: I've done that.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1702"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><blockquote>
  <p>Am I missing something?</p>
</blockquote>

<p>Only that you need to save the file to disk before uploading it to the site. The browser can't upload the contents of your system clipboard to imgur, which is where images end up getting hosted for the StackExchange network.</p>

<p>When it says "paste or drag-and-drop" they mean you can paste a path to a file on your hard drive. When you paste or drag-and-drop the image the dialog gets the path to the file and uses that to push the file to imgur. It doesn't get the contents of the file directly.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3177" class = "comment">
				<p>Pasting a path as well as drag-and-drop don't seem to work reliable with Safari (didn't test with other browsers), at least I got mixed results in the last few weeks.</p>
			</div>
			<div id = "comment-3178" class = "comment">
				<p>I don't think that's entirely true. [Imgur](http://imgur.com) supports pasting from your clipboard. Pretty sure StackExchange implemented it in the same manner.</p>
			</div>
			<div id = "comment-3191" class = "comment">
				<p>@JasonSalaz I just created an account at Imgur. I copied a screenshot to my clipboard, then went to my Imgur "images" page and pressed cmd-v, as instructed on the website, but Edit > Paste was greyed out and Safari just beeped :( I use a Flash blocker... I turned that off, but it made no difference. What steps do you follow to paste from the clipboard into Imgur?</p>
			</div>
			<div id = "comment-3193" class = "comment">
				<p>@JasonSalaz I was unable to paste to imagur from the clibpoard when I tried today.</p>
			</div>
			<div id = "comment-3196" class = "comment">
				<p>@JasonSalaz likewise, has never worked for me in Safari. This goes back to what I said about access to the clipboard contents. Looks like it's inconsistent between browsers.</p>
			</div>
			<div id = "comment-3197" class = "comment">
				<p>Yes, I believe this is a Safari problem.</p>
			</div>
			<br><div id = "ans-1703"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>If it doesn't work, this sounds like a Safari issue. Running those steps just worked in Chrome. After I hit paste, the dialog box changed to this:</p>

<p><img src="https://i.stack.imgur.com/kWFhX.png" alt="Yes, I have too many tabs open"></p>

<p>Which allowed me to click confirm and upload the image. You may want to click within the whitespace of the dialog box in order to ensure that it has focus, and then hit  v</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3181" class = "comment">
				<p>Thanks: I've just tried Chrome, and that works as you describe for me. Now... any idea how to report the issue to stackexchange?</p>
			</div>
			<div id = "comment-3192" class = "comment">
				<p>Based off your other comment, I don't think it's StackExchange's problem to fix. Sounds like Safari doesn't support clipboard image pasting.</p>
			</div>
			<br><div id = "ans-1705"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Here's how I'd like this StackExchange feature to work (noted here as suggested by @bmike, since the question is now tagged as a bug):</p>

<ol>
<li>Start writing a question or answer on StackExchange in Safari on OS X.</li>
<li>Use <kbd>cmd</kbd>-<kbd>shift</kbd>-<kbd>ctrl</kbd>-<kbd>4</kbd> to take a screenshot and put it into the clipboard.</li>
<li>Press the Image button at the top of the StackExchange editor window.</li>
<li>Press <kbd>cmd</kbd>-<kbd>v</kbd> to paste the screenshot from the clipboard into the editor.</li>
</ol>

<p>Expected: the screenshot appears in the editor, as it would if I'd saved it to a file and then dragged it in.  This is what happens in the Chrome browser.</p>

<p>Actual: at step 4, the Safari Edit > Paste menu option is greyed out, and Safari beeps.</p>

<p>I don't know if this is a Safari or a StackExchange issue, but I would find this process a little quicker and more satisfying than saving a file to local disk before uploading.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1706"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>My initial reaction is that this is a Safari issue.  It's not just "you can't paste stuff in Safari", because <a href="https://developer.apple.com/library/mac/#documentation/AppleApplications/Conceptual/SafariJSProgTopics/Tasks/CopyAndPaste.html" rel="nofollow">Safari purportedly supports the Javascript Cliboard APIs</a>.  I've marked this as [status-review] until I can pin this down for sure and will update this answer when I have something more definitive to share.</p>

<p><em>Update:</em></p>

<p>This does appear to be a browser issue.  I've reproduced the described behavior.  I also tried on imgur to see if it would respond in the same way, and it does: <em>dong</em>...nothing happens.  I experimented a bit in jsfiddle to see if the event is handled as documented, and I don't think it is.  I'll keep looking into this for a while, but unless something I didn't already know is brought to my attention, I expect to <code>status-decline</code> this later this week.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3194" class = "comment">
				<p>It appears that Safari will only send the paste event when an editable field is selected, and even then it doesn't seem to provide access to image data.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>