<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How do we report bugs and typos for the site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-32" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::43</h3>
				<h2>How do we report bugs and typos for the site?</h2>
<p>This is a general question for all stack exchange sites.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-48" class = "post">
				<p>I can't tell if you're providing a static question, or are really asking where to put bugs and typos.</p>
			</div>
			<div id = "comment-49" class = "post">
				<p>Okay, this is not the dumbest question I've asked here... yeah, I was just curious... didn't really see anything that stood out.  Thanks!</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-33"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>You report them here, on meta.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>