<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>How do we want to handle MobileMe questions? (In general)
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1337" class = "post">
			<h2>Question</h2>
			<div id="vote-1337" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 119</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do we want to handle MobileMe questions? (In general)</h2>
<p>I have a specific question I'm wondering how to handle now that all the MobileMe changes are about to fade into history this June when MobileMe goes away:</p>

<p><a href="https://apple.stackexchange.com/questions/14049/is-it-possible-to-use-back-to-my-mac-dns-or-routing-information-from-the-command">Is it possible to use Back To My Mac DNS or routing information from the command line?</a></p>

<p>As you can see in this particular case - the right answer is shifting, so it's up to me (the OP) to see the new answer and select it. (assuming I want this to be about iCloud and the current Back To My Mac). </p>

<p><em>I'm inclined to ask a new question specifically about Lion's iCloud BTMM - and leave this question alone as historical reference.</em></p>

<p>Is this a good idea in general - leave decent enough questions alone and ask a new iCloud question or would it be better to try to keep evolving questions as a first inclination on the site?</p>

<p><sub><em>(and yes, I know that finding a general rule is hard since there are always exceptions, but I'm interested in people's experience on other sites to see if we want to tend to handle these one way or another)</em></sub></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1337">Load Comments</button></br>
			<div id = "commentsection-1337" class = 'collapse'>
			<div id = "comment-2534" class = "comment">
				<p>Maybe this shows that anything that depends on an external server can stop working any time the host company decides to turn off the server. Thus, all questions about any program that does not work without ongoing support from its company of origin are too localized, and should be closed and deleted from the site. </tongue in cheek></p>
			</div>
			<div id = "comment-2535" class = "comment">
				<p>O_O and ^_~ as the kids say these days...</p>
			</div>
			<div id = "comment-2536" class = "comment">
				<p>Of course if the kids are saying that, I have no idea what they mean.</p>
			</div>
			<div id = "comment-2537" class = "comment">
				<p>`O_O` is wide open eyes. An expression given in cases of shock or surprise.
`^_~` is an amused/happy wink, in this case denoting that bmike got your sarcasm.
` _ ` was not used in this post, but I like it very much, so there it is.</p>
			</div>
			</div>
				<textarea id = "speech-1337" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1337">
					<img id="start_img-1337" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1338"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1338" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We want our questions and answers to be timeless, and the fact that a question will produce answers that are likely to be of use only in a small window of time is grounds for closing things as "too localized". At the same time, the grass withers and the flowers fade. Sic transit gloria mundi. Things can change, and our answers, well-intended to be timeless, become relics of a bygone age.</p>

<p>I'd treat this in two different categories.</p>

<p>In cases where the right answer in the past was to document that "it can't be done," but changes to the available technology make it possible to accomplish the task, I'd certainly consider replacing the acceptance of the unhelpful but true (at the time) documentation of a non-solution with an acceptance of a new solution that actually solves the problem.</p>

<p>On the other hand, if a question has a well-documented answer that worked great, but circumstances change to the old answer is no longer valid, I'd think the best way to handle this is with an edit to the question to indicate that the question was asked in a particular era. Ask the question again in the modern era, and perhaps even link to the new question from the old one, but don't wipe out the documentation of the old way of doing things. It smacks too much of Orwell's <em>1984</em> to revise our answers every time circumstances change. Oceanea was at war with Eastasia. Oceania had always been at war with Eastasia.</p>

<p>Those are my opinions. If you don't like 'em, I have others.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1338" class = 'collapse'>
			</div>
				<textarea id = "speech-1338" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1338">
					<img id="start_img-1338" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1339"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1339" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree with Daniel's thoughts, but I think we should consider actually closing (not deleting) the out-of-date questions once new ones have been asked to replace them.</p>

<p>That would preserve the content on the site so that the we don't lose good contributions, and allow voting to continue so the people who provided answers that were good when posted can still be rewarded for their work. Closing would also prevent people from thinking that the problems were still unsolved and trying to answer. Finally, I think I remember reading that closed questions are ranked lower in search results.</p>

<p>Effectively, the old content would be kept but wouldn't get in the way of the new content.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1339" class = 'collapse'>
			</div>
				<textarea id = "speech-1339" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1339">
					<img id="start_img-1339" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>