<html>
	<head>
		<title id = 'pagetitle'>How to handle blatant off-topic spam?
		</title>
	<head>
	<body id = 'pagebody'><p>We've had a run these past few days where a dedicated spammer pushing a phone number and offering counseling on love, relation, promotion and other matters has managed to get their content advertised to the world:</p>

<p><a href="https://www.google.com/#q=9694850756+site:stackexchange.com" rel="nofollow">https://www.google.com/#q=9694850756+site:stackexchange.com</a></p>

<p>What should people do when they see posts like this on the site?</p>


<h1>ANSWERS</h1>
		<p>The best thing is to bury the post, not editing or commenting at all. Don't feed the behavior.</p>

<ol>
<li><p><strong>Flag as spam</strong>. There's a system in place that detects this activity and will help prevent the spammer from continuing that activity and creating new accounts. This is important since <a href="https://meta.stackexchange.com/a/58035/165931">three spam flags</a> banishes the question from the front page. 6 such flags deletes and locks the question which is what we want for this.</p></li>
<li><p><strong>Vote to close the question</strong>. It costs you zero reputation and you get the question in the close queue for other reviewers to see.</p></li>
<li><p>Most of all, do not comment or edit or bump it up by making any activity on the post. It's that type of <em>recognition</em> and eyeballs the spammer is looking for.</p></li>
</ol>

<p>I've made a chat room for <a href="http://chat.stackexchange.com/rooms/12395/spam-on-askdifferent">discussion and to document this</a> and if the rate of spam keeps getting worse, we can work with the site developers to see if a blacklist or other change can make the site less appealing for this sort of activity.</p>

<p>Thanks again for all the great editing, moderation and flagging. Keep it up and we can keep the door open to people that have legitimate questions and not make the regular users too irritated at this sort of post.</p>

<p>Also, it appears that our site isn't the only one with an uptick as we're not seeing several of the patterns that other sites are dealing with. If you are interested, there is a nice thread on the Ask Ubuntu meta:</p>

<ul>
<li><a href="https://meta.askubuntu.com/questions/8085/regarding-the-recent-wave-of-spam-what-are-we-doing-about-it">https://meta.askubuntu.com/questions/8085/regarding-the-recent-wave-of-spam-what-are-we-doing-about-it</a></li>
</ul>


	</body>
</html>