<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How do you get to the page that describes reputation privileges you have earned?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How do you get to the page that describes reputation privileges you have earned?</h2>
<p>The other day when I logged in I received a notification.  It said that I was now able to vote to close questions.  I have already had this privilege for awhile, but I clicked on the details link in the notification and it took me to a page that describes all the different privileges I have earned or have yet to earn along with their associated reputation requirements.</p>

<p>I have no idea how one would access this page from anywhere on the site itself.  I've looked through my user pages and such but can't find anything.  Is there a link somewhere that I'm missing?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I don't know if this is a new addition, but you can click on your reputation score at the top of the site and it brings you to the privileges page.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Clicking your reputation is no longer sufficient with the advent of the new top bar.</p>

<p>Go to your user page, either by clicking yourself in the top bar or through any other means, then click the privileges link next to the profile edit link.</p>

<p><img src="https://i.stack.imgur.com/Z1eL7.png" alt=""></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>