<html>
	<head>
		<title id = 'pagetitle'>How difficult would it be to make an RSS feed of notifications?
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/971/suggestion-possibly-sitewide-inbox-feed">Suggestion - Possibly Sitewide - Inbox Feed?</a>  </p>
</blockquote>



<p>I'm picturing an RSS feed for each user which would contain notifications from the Inbox. This way, I could get an instant notification via Boxcar or ifttt and wouldn't find out three hours later.</p>

<p>An alternative would be to send the emails immediately, but only if the user is not currently on the site.</p>


<h1>ANSWERS</h1>
			</body>
</html>