<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How do I float questions to the top?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-655" class = "post">
			<h2>Question</h2>
			<h3>Score ::-4</h3>
			<h3>Views ::77</h3>
				<h2>How do I float questions to the top?</h2>
<p>I have several questions that have not been answered and consequently, they floated to the bottom of the question list. How do I get the question more towards the top again?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-655">Record</button>
				<button class="record-stop" id="stop-655">Stop</button>
				<p id="recording-655"></p>

<h1>Answers</h1>
			<br><div id = "ans-656"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-2</h3>
				<p><p>Oops, I figured this out. I just edited the question and the question went back up to the top.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1192" class = "comment">
				<p>I don't believe the purpose of editing is to 'bump' your question. In the case that you wish to see your question answered more quickly you could offer a bounty on it.</p>
			</div>
			<div id = "comment-1196" class = "comment">
				<p>OK..thank you for letting me know. I know that the question I asked could be answered, but it wasn't, so I wanted it to be "bumped" back up. And the editing I did was helpful editing, not just editing for the sake of editing.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-656">Record</button>
				<button class="record-stop" id="stop-656">Stop</button>
				<p id="recording-656"></p>
			<br><div id = "ans-1097"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>While editing does bump questions, editing for the sake of bumping a question is not encouraged. The officially sanctioned way to draw attention to a question you believe has been neglected (your own or another's) is to offer a bounty for said question so it becomes a <a href="https://apple.stackexchange.com/?tab=featured">featured question</a>.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1097">Record</button>
				<button class="record-stop" id="stop-1097">Stop</button>
				<p id="recording-1097"></p>
			<br><div id = "ans-1098"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I recently went through my old questions (as I have a very low acceptance rate) with a view to getting them answered.</p>

<p>On a couple I put a bounty on, and on some others (including 1 that had had a bounty previously which hadn't resulted in an accepted answer) I edited them purely in order to bump them, but took the opportunity to completely rewrite the question in the hope that one of the reasons poor a poor answer rate was because the question was not good enough to start with.</p>

<p>This has worked with one of the questions, with a few more answers coming in, but not for the other.  Either way, I feel the edits were justified as they were substantially altered in an effort to increase their chances of a good answer.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1098">Record</button>
				<button class="record-stop" id="stop-1098">Stop</button>
				<p id="recording-1098"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>