<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I improve my question about a native OSX package manager so that it is suitable for the site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How can I improve my question about a native OSX package manager so that it is suitable for the site?</h2>
<p>I was wondering "why doesn't Apple have a native package manager", so I asked the question: <a href="https://apple.stackexchange.com/q/86075/2153">Do open source licenses restrict Apple&#39;s ability to provide a native package manager?</a>. But the question was closed as "not constructive". </p>

<p>I have rephrased the question, but it is not clear what else I can do to improve the question. What changes can I make to the question that would make it more suitable for this site?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>On first glance you can probably do nothing to give this question a chance. Why, you ask, well:</p>

<ul>
<li>this site focuses on providing specific answers on specific questions. Any question about package managers has kind of a theoretical touch so any answer might be right</li>
<li>whatever is discussed around this topic will have zero influence neither on Apple  nor on anything else</li>
<li>in a way there are already some package managers available (homebrew, macports), so the question is answered by real implementations</li>
<li>OS X is not Linux or BSD, the Mac App Store  solves the problem quite nicely for most people</li>
</ul>

<p>What you should maybe ask yourself first is which specific problems a package manager does solve, how (if at all) they are already solved currently in OS X space and what (if anything) is left unsolved for most users or at least for yourself. This <em>may</em> lead to an answerable question at the end. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>