<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>How often are the vote statistics updated in my profile
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2590" class = "post">
			<h2>Question</h2>
			<div id="vote-2590" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 34</p>
			</div>
				<h2>How often are the vote statistics updated in my profile</h2>
<p>I like to vote on questions, and answers.  I also like to review, but because of the 40 per day vote limit I like to keep a couple of votes just in case there is something brilliant that I want to upvote while reviewing, also without votes left one cannot review.</p>

<p>It seems that with the new interface the vote count in my profile does not update as quickly as it used to and it is hard to keep track of my vote numbers during the day.  Is this just my perception?</p>

<p>Is there an easy way to track how many votes I have cast?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2590" class = 'collapse'>
			</div>
				<textarea id = "speech-2590" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2590">
					<img id="start_img-2590" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2591"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2591" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ul>
<li><p>The total votes cast count shown on your profile's activity page takes a good few minutes to update with votes cast.</p>

<p><img src="https://i.stack.imgur.com/LSYlf.png" width="117"></p></li>
<li><p>The votes tab on the activity page is updated almost instantly upon voting as this page is private to you and therefore has much less traffic.</p>

<p><img src="https://i.stack.imgur.com/rfloi.png" width="97"></p></li>
</ul>

<p>If you want an accurate, immediately-updated count of your votes cast today, like the old top bar dropdown, you can use <a href="http://normalhuman.github.io/stackmarklets/" rel="nofollow noreferrer">the Votes bookmarklet from Normal Human</a>:</p>

<pre><code>javascript:(function()%7Bs%3D%7B'upvote'%3A0%2C'downvote'%3A0%2C'deletion'%3A0%2C'undeletion'%3A0%2C'closure'%3A0%2C'reopen'%3A0%7D%3Bm%3Dtrue%3Bd%3Dnew%20Date().getUTCDate()%3Bp%3Dnew%20DOMParser()%3Bw%3Ddocument.querySelector('.profile-me').href.split('%3F')%5B0%5D%2B'%3Ftab%3Dvotes%26sort%3Dall%26page%3D'%3Bj%3D1%3Bwhile%20(m)%20%7Bu%3Dw%2Bj%2B%2B%3Br%3Dnew%20XMLHttpRequest()%3Br.onload%3Df%3Br.open('get'%2Cu%2Cfalse)%3Br.send()%3B%7Da%3D%5B'up%2Fdown%3A%20'%2Cs.upvote%2Bs.downvote%2C'%5Cr%5Cnup%3A%20'%2Cs.upvote%2C'%5Cr%5Cndown%3A%20'%2Cs.downvote%2C'%5Cr%5Cnclose%3A%20'%2Cs.closure%2C'%5Cr%5Cndelete%3A%20'%2Cs.deletion%2C'%5Cr%5Cnreopen%3A%20'%2Cs.reopen%2C'%5Cr%5Cnundelete%3A%20'%2Cs.undeletion%5D%3Bwindow.alert(a.join(''))%3Bfunction%20f(e)%20%7Bx%3Dp.parseFromString(e.currentTarget.responseText%2C'text%2Fhtml')%3Bv%3Dx.querySelector('.history-table').firstElementChild.children%3Bfor%20(i%3D0%3Bi%3Cv.length%3Bi%2B%2B)%20%7Bif%20(v%5Bi%5D.querySelector('.date').title.substring(8%2C10)%3D%3Dd)%20%7Bs%5Bv%5Bi%5D.children%5B1%5D.textContent.split('(')%5B0%5D.trim()%5D%2B%2B%3B%7Delse%20%7Bm%3Dfalse%3B%7D%7D%7D%7D)()
</code></pre>

<p>Un-minified source code:</p>

<pre><code>s={'upvote':0,'downvote':0,'deletion':0,'undeletion':0,'closure':0,'reopen':0};
m=true;
d=new Date().getUTCDate();
p=new DOMParser();
w=document.querySelector('.profile-me').href.split('?')[0]+'?tab=votes&amp;sort=all&amp;page=';
j=1;
while (m) {
  u=w+j++;
  r=new XMLHttpRequest();
  r.onload=f;
  r.open('get',u,false);
  r.send();
}
a=['up/down: ',s.upvote+s.downvote,'\r\nup: ',s.upvote,'\r\ndown: ',s.downvote,'\r\nclose: ',s.closure,'\r\ndelete: ',s.deletion,'\r\nreopen: ',s.reopen,'\r\nundelete: ',s.undeletion];
window.alert(a.join(''));
function f(e) {
  x=p.parseFromString(e.currentTarget.responseText,'text/html');
  v=x.querySelector('.history-table').firstElementChild.children;
  for (i=0;i&lt;v.length;i++) {
    if (v[i].querySelector('.date').title.substring(8,10)==d) {
      s[v[i].children[1].textContent.split('(')[0].trim()]++;
    }
    else {
      m=false;
    }
  }
}
</code></pre>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2591" class = 'collapse'>
			</div>
				<textarea id = "speech-2591" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2591">
					<img id="start_img-2591" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>