<html>
	<head>
		<title id = 'pagetitle'>How to raise reputation number?
		</title>
	<head>
	<body id = 'pagebody'><p>The sole reason i joined <strong>AskDifferent</strong> is to give a answer to question. But I was unable to do that as my answer contained two small pics and i didn't have <strong>"Enough Reputation Points"</strong>. So now my question is, <strong>"How to raise my Reputation points?"</strong></p>


<h1>ANSWERS</h1>
		<p>Answer the question and when you get enough rep, you only need 9 points, then add the images to improve your answer.</p>


<p>The system restricts image embeds and multiple URL posts until you've gotten a few votes. This reduces the time needed to clean up after people that enjoy posting pictures of genetalia anonymously and such. </p>

<p>You can still upload a picture to any picture sharing site and paste the URL Into your question. Just add a comment aski someone to embed the picture and usually that happens within hours as most people are very helpful in editing new user's questions. </p>

<p>The [faq] covers reputation and how to earn it in many ways. Some easy ones are answering, making a helpful/substantial edit to a post or just asking a useful, well worded question. </p>

<p>Hopefully you figure some ways to answer and get votes. </p>

<p>Welcome to the site :)</p>


	</body>
</html>