<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>How can we reduce the size of a image, while editing?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2738" class = "post">
			<h2>Question</h2>
			<div id="vote-2738" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
				<h2>How can we reduce the size of a image, while editing?</h2>
<p>When someone post a question with an image on it that is really huge (most of the time an iPhone screenshot), is there a way to reduce the size of the image with an edit in order to make the question more readable?</p>

<p>I'm referring at questions like this one: <a href="https://apple.stackexchange.com/questions/229497/the-storage-used-does-not-add-up">The Storage &quot;Used&quot; does not add up</a></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2738" class = 'collapse'>
			</div>
				<textarea id = "speech-2738" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2738">
					<img id="start_img-2738" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2739"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2739" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not aware of any way to edit images within the site. What you can do though:</p>

<ul>
<li>Download image to your computer</li>
<li>Use the editing tool of your choice to reduze the image size</li>
<li>Edit the original post and replace the image with your reduced-size version</li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2739">Load Comments</button></br>
			<div id = "commentsection-2739" class = 'collapse'>
			<div id = "comment-6048" class = "comment">
				<p>Do you think we should do a thing like that? Or after the entire work the edit get rejected?!</p>
			</div>
			<div id = "comment-6049" class = "comment">
				<p>Same rules as always apply: Make the edit worthwhile for the time you spend on it, for the time the edit queue reviewers spend on it and the fact that it will push old posts back to the top of the page. If you just reduce picture size in a post which has bigger issues (e.g. it's not clear what the question is about at all, or there is a lot of irrelevant noise in the text, or is years old and has an accepted answer), there is a certain risk that it will get rejected.</p>
			</div>
			<div id = "comment-6050" class = "comment">
				<p>The post linked in your question definitively falls into the "a lot of irrelevant noise in the text" category.</p>
			</div>
			</div>
				<textarea id = "speech-2739" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2739">
					<img id="start_img-2739" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2740"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2740" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use img tags with a custom width attribute. In the example you linked to, I've edited it to do just that. Check the revision history to see what I've done.</p>

<pre><code>&lt;img src="http://i.stack.imgur.com/1vIgO.png" width="375"&gt;
</code></pre>

<ul>
<li>iPhone 4 5s: 320</li>
<li>iPhone 6 6s: 375</li>
<li>iPhone 6+ 6s+: 540</li>
</ul>

<p>If you resize an image and re-upload it as a suggested edit, I'm likely to  reject and edit  it and use the above instead on the original image. Resizing the image loses detail.</p>

<p>Feel free to use even smaller numbers for side-by-side images (e.g. 300) and add <code>[]()</code> or <code>[][]</code> link formatting around the img element to link  to the full-size image.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2740">Load Comments</button></br>
			<div id = "commentsection-2740" class = 'collapse'>
			<div id = "comment-6052" class = "comment">
				<p>Nice solution, wasn't aware of that. To be fair though, detailed screenshots aren't needed usually.</p>
			</div>
			</div>
				<textarea id = "speech-2740" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2740">
					<img id="start_img-2740" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>