<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can we reduce the size of a image, while editing?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How can we reduce the size of a image, while editing?</h2>
<p>When someone post a question with an image on it that is really huge (most of the time an iPhone screenshot), is there a way to reduce the size of the image with an edit in order to make the question more readable?</p>

<p>I'm referring at questions like this one: <a href="https://apple.stackexchange.com/questions/229497/the-storage-used-does-not-add-up">The Storage &quot;Used&quot; does not add up</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I'm not aware of any way to edit images within the site. What you can do though:</p>

<ul>
<li>Download image to your computer</li>
<li>Use the editing tool of your choice to reduze the image size</li>
<li>Edit the original post and replace the image with your reduced-size version</li>
</ul>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Use img tags with a custom width attribute. In the example you linked to, I've edited it to do just that. Check the revision history to see what I've done.</p>

<pre><code>&lt;img src="http://i.stack.imgur.com/1vIgO.png" width="375"&gt;
</code></pre>

<ul>
<li>iPhone 4 5s: 320</li>
<li>iPhone 6 6s: 375</li>
<li>iPhone 6+ 6s+: 540</li>
</ul>

<p>If you resize an image and re-upload it as a suggested edit, I'm likely to  reject and edit  it and use the above instead on the original image. Resizing the image loses detail.</p>

<p>Feel free to use even smaller numbers for side-by-side images (e.g. 300) and add <code>[]()</code> or <code>[][]</code> link formatting around the img element to link  to the full-size image.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>