<html>
	<head>
		<title id = 'pagetitle'>How should I handle questions about forgotten credentials
		</title>
	<head>
	<body id = 'pagebody'><p>I have a problem how to handle the 99% new users with questions how to crack a password, or AppleID, in some cases forgotten recovery email, or claiming the email is no longer in use.</p>

<p>The questions vary from system log in password, iPhone, iCloud, Firmware password an so on.</p>

<p>Since there is no way to verify it is the rightful owner, I hesitate to provide information.</p>

<p>Should one use "Close" or "Flag" or am I just paranoid, or should I try to help how to.</p>


<h1>ANSWERS</h1>
		<p>There are a lot of reasons why people loose access to their computers, most of them are legitimate. So unless there is a clear indication that something is amiss, these questions are perfectly on-topic and can be answered, often easily by referring the user to the appropriate Apple Support pages or by finding the duplicate question which already has been answered before.</p>

<p>Please keep in mind that we are not the police or so, so there is no way to verify the story/background of a question anyway. If in doubt, flag it and move on.</p>


	</body>
</html>