<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How to flag this type of question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1753" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::55</h3>
				<h2>How to flag this type of question?</h2>
<p>Today I saw <a href="https://apple.stackexchange.com/questions/96564/details-about-methoxy-polyethylene-glycol">this</a> question,</p>

<blockquote>
  <p><strong>Details about methoxy polyethylene glycol</strong></p>
  
  <p>What is the chemical formula of methoxy polyethylene glycol ?</p>
</blockquote>

<p>When I tried to flag it as off topic, I have three options in off topic.</p>

<ul>
<li>Stack overflow(not fit)</li>
<li>Pre release(not fit)</li>
<li>meta (not fit)</li>
</ul>

<p>Then how can I flag this type of questions?</p>

<p><sup>P.S:This question is already put on-hold a few minutes before.</sup></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3285" class = "comment">
				<p>Didn't you get a fourth option "Others" after selecting "off topic"?</p>
			</div>
			<div id = "comment-3286" class = "comment">
				<p>@patrix, no there is no fourth option.</p>
			</div>
			<div id = "comment-3287" class = "comment">
				<p>@patrix there is for close but not for flag see http://meta.stackexchange.com/questions/185867/no-custom-off-topic-message-when-flagging-on-so</p>
			</div>
			<div id = "comment-3288" class = "comment">
				<p>Ah, I rarely flag questions these days...</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1754"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The new question close reasons have shuffled things a bit.</p>

<p>The best thing is to vote to close the question if you have earned that privilege so that it hits the close queue for others to review. Since not all users have close votes to cast, the flag system is there as well:</p>

<p><img src="https://i.stack.imgur.com/huDZl.png" alt="enter image description here"></p>

<p>It would be nice if the other option showed up for "It doesn't belong here, or it is a duplicate " so you might need to explore the second option and realize the system doesn't let you use other for a flag except for the first screen you see.</p>

<p>It would be best to choose other in the screen above and explain what you find wrong. If you felt strongly that the question would go to chemistry, that would be great, but the main thing would be to express that it's not a good fit here and let the moderators sort out what to do with your general flag of the above question.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>