<html>
	<head>
		<title id = 'pagetitle'>How do I create a keyboard key?
		</title>
	<head>
	<body id = 'pagebody'><p>I see keyboard keys on this question
<a href="https://apple.stackexchange.com/questions/121821/deleting-an-entire-line-moving-forward-shortcut">Deleting an Entire Line Moving Forward Shortcut</a>
But there's no shortcut on how to make them?</p>


<h1>ANSWERS</h1>
		<p>Keyboard keys can be created using <code>&lt;kbd&gt;</code> tags.</p>

<p>Example: <kbd> </kbd></p>

<p>For the key symbols, see
<a href="https://apple.meta.stackexchange.com/questions/683/put-the-characters-somewhere-for-people-to-copy-paste">Put the   characters somewhere for people to copy/paste</a></p>


	</body>
</html>