<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How does the Community bot work when it approves or rejects my edits?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2471" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::35</h3>
				<h2>How does the Community bot work when it approves or rejects my edits?</h2>
<p>I have read about the community user. It is a bot that pulls old questions out, does site chores, owns unregistered users questions, protects when questions attract "me too!" answers.</p>

<p>But the profile page doesn't mention anything about approving and rejecting edits. How does that work? Does a bot do that, or is it a person? How does it know if it is a good edit or not?</p>

<p><a href="https://apple.meta.stackexchange.com/questions/1611/community-accepted-crappy-suggested-edit">Here</a> is a similar question, though the answer is not really what I wanted. </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5640" class = "comment">
				<p>The Community User always is a bot. See [this post on Meta SE](http://meta.stackexchange.com/questions/19738/who-is-the-community-user) for some more details.</p>
			</div>
			<div id = "comment-5641" class = "comment">
				<p>If you are wondering about a specific edit etc., please add a link to the post in question.</p>
			</div>
			<div id = "comment-5642" class = "comment">
				<p>for example [here](http://apple.stackexchange.com/review/suggested-edits/109411) when it was approved by grgarside and Community. I know you need at least 2 approves to accept the edit.</p>
			</div>
			<div id = "comment-5643" class = "comment">
				<p>Thanks for the link anyway. Though I still would like to know, how it decides to reject or approve</p>
			</div>
			<div id = "comment-5644" class = "comment">
				<p>The user approving the edit has >2000 reputation, so he can approve edits directly (see http://apple.stackexchange.com/help/privileges/edit). The community user in this case merely takes note of this fact and removes the edit from the queue.</p>
			</div>
			<div id = "comment-5645" class = "comment">
				<p>So the community basically takes the place of another voter? So when there is one approve for longer, the Community substitutes to remove the edit from queue? And please make an answer for this question so I can accpet this. Thanks</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2472"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The Community User always is a bot. See <a href="https://meta.stackexchange.com/questions/19738/who-is-the-community-user">this post on Meta SE</a> for some more details.</p>

<p>Also, the profile page for that user is quite descriptive:</p>

<p><a href="https://apple.stackexchange.com/users/-1/community?tab=profile">https://apple.stackexchange.com/users/-1/community?tab=profile</a></p>

<p>If you find something that isn't documented there, we can open a new question to have that addressed.</p>

<p>As for <a href="https://apple.stackexchange.com/review/suggested-edits/109411">this edit</a>, the user approving it has >2000 reputation, so he can approve edits directly (see apple.stackexchange.com/help/privileges/edit). The community user in this case merely takes note of this fact and removes the edit from the queue (which is logged/registered as another approving edit).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5646" class = "comment">
				<p>@patric - here the >2000 user accepted and edited - it is the edit that make Community approved. I think approval only still takes two users</p>
			</div>
			<div id = "comment-5647" class = "comment">
				<p>Also, community is used in some cases when the user that made an action is removed from the post for various reasons.</p>
			</div>
			<br><div id = "ans-2476"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>From <a href="https://meta.stackexchange.com/a/184993/136010">Meta Stack Exchange</a></p>

<blockquote>
  <ul>
  <li>A user improves your edit from the review queue</li>
  <li>A user with full edit privileges saves an edit over yours</li>
  </ul>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>