<html>
	<head>
		<title id = 'pagetitle'>How do I  vote to close  a question?
		</title>
	<head>
	<body id = 'pagebody'><p>I have been told many times by moderators that instead of flagging questions for attention I should vote to close them unless it is absolutely necessary. But all the options I see below a question are share, edit and flag. </p>

<p>How do I vote to close a question?</p>


<h1>ANSWERS</h1>
		<p>Great question given the feedback you've getting. (And I'm glad you're flagging lots of things and we're able to let you know which are spot on, which are helpful so we can keep an eye on things even if we don't close them immediately, and which we want to nudge you to just voting down and voting to close if you have that ability...)</p>

<hr>

<p><a href="https://apple.stackexchange.com/privileges/close-questions">Casting a close vote</a> is an earned privilege and you are very close to reaching that ability. </p>

<p><a href="https://apple.stackexchange.com/privileges/user/26533">https://apple.stackexchange.com/privileges/user/26533</a></p>

<p>You can see other user's progress by replacing your user number 26533 with theirs. </p>

<p>The software hides controls you do not have access to to prevent confusion, but that hiding also can cause confusion when we forget that not everyone can case a close vote. </p>

<p>Here is what a user with 10,000 or more reputation will see on the site below each question:</p>

<p><img src="https://i.stack.imgur.com/kvaeG.png" alt="enter image description here"></p>

<p>Should you reach 3000 the close action will appear. More rep gets you the delete option as well as access to many of the review tools that we as moderators use to keep the site on track. Some good <a href="http://blog.stackoverflow.com/2009/05/a-theory-of-moderation/">reading on moderation as designed into this site</a> is linked.</p>


	</body>
</html>