<html>
	<head>
		<title id = 'pagetitle'>How do we handle subjective questions on the meta site?
		</title>
	<head>
	<body id = 'pagebody'><p>Since guidelines surrounding the site are being debated right here on the meta site, how are these normally handled?  I'm confused because there are some troubling issues with what is happening:</p>

<ul>
<li><p>questions are asked that need discussion and debate, and then an answer is accepted by the same person who asked the question.  This makes it look like the community has accepted the answer.</p></li>
<li><p>there is no way that I know of to poll the users on a topic to determine a majority consensus</p></li>
</ul>

<p>FYI, I am making this question a community wiki because it's the only way I currently know how to make this more democratic.</p>


<h1>ANSWERS</h1>
		<p>I think the idea is that, as time goes on, the community should approach a consensus that should become visible, via up votes and commentary.</p>

<p>In reality, the majority of subjects that are the domain of the Meta site aren't really so contentious that I'd expect this to be a problem, though that may be naivet  speaking, my gut says that most of the issues that will be resolved here are more about discussing and defining the fine edges of broad concepts that are already pretty well established across other SE sites, and via the FAQ in progress.</p>


	</body>
</html>