<html>
	<head>
		<title id = 'pagetitle'>How can I delete my Ask Different account?
		</title>
	<head>
	<body id = 'pagebody'><p>If I decide I don't want to have an account, can I delete it?</p>


<h1>ANSWERS</h1>
		<p>Yes! We're always sad to see people leave, but we also know sometimes there is a good reason to shut a door and move on with new interests.</p>

<p>Most new accounts can <a href="https://meta.stackexchange.com/questions/5999/how-can-i-delete-my-account/7979#7979">simply delete themselves</a>. If you can't help yourself to deletion, just fill out this handy form and we or the team that runs the site will see what we can do:</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/user-deletion">https://apple.stackexchange.com/help/user-deletion</a></li>
</ul>

<p>Do read up on the Main Meta site on what deletion means. You may not have to do anything if the system is going to delete your account if it detects it as abandoned or you just want to edit your profile and change your name so your content remains - just not with your current account name associated with it.</p>

<p><a href="https://meta.stackexchange.com/questions/5999/">How can I delete my account?</a></p>

<p>Lastly, be sure you are aware which account you are deleting if you happen to have more than one Stack Exchange accounts.</p>


	</body>
</html>