<html>
	<head>
		<title id = 'pagetitle'>How to undo Unicoins changes
		</title>
	<head>
	<body id = 'pagebody'><p>I used the Uniconis to make modifications but now I do not like what I got.</p>

<p>Is there a way to undo the modifications like scrolling title bar ect.</p>

<p>What is Unicoins:</p>

<p>It is a popup on the right hand site top on the ask differant and it looks like this.</p>

<p><img src="https://i.stack.imgur.com/i2oLZ.png" alt="Unicoins"></p>

<p>More about Unicoins:</p>

<p><img src="https://i.stack.imgur.com/3w6oN.png" alt="about unicoins"></p>


<h1>ANSWERS</h1>
		<p>It's indeed the Aprils Fools joke of SE this year.</p>

<p>You can follow the humor, discussion and confusion at <a href="https://meta.stackexchange.com/questions/tagged/unicoins">SO Meta</a> and by logging out of the site, you will see that nothing has actually changed on your account. </p>


<p>You can remove a power by 'recycling' the power   this costs 10 coins though.</p>


	</body>
</html>