<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How to handle blatant off-topic spam?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1911" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::147</h3>
				<h2>How to handle blatant off-topic spam?</h2>
<p>We've had a run these past few days where a dedicated spammer pushing a phone number and offering counseling on love, relation, promotion and other matters has managed to get their content advertised to the world:</p>

<p><a href="https://www.google.com/#q=9694850756+site:stackexchange.com" rel="nofollow">https://www.google.com/#q=9694850756+site:stackexchange.com</a></p>

<p>What should people do when they see posts like this on the site?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1911" class = 'collapse'>
			</div>
				<textarea id = "speech-1911" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1911">
					<img id="start_img-1911" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1912"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>The best thing is to bury the post, not editing or commenting at all. Don't feed the behavior.</p>

<ol>
<li><p><strong>Flag as spam</strong>. There's a system in place that detects this activity and will help prevent the spammer from continuing that activity and creating new accounts. This is important since <a href="https://meta.stackexchange.com/a/58035/165931">three spam flags</a> banishes the question from the front page. 6 such flags deletes and locks the question which is what we want for this.</p></li>
<li><p><strong>Vote to close the question</strong>. It costs you zero reputation and you get the question in the close queue for other reviewers to see.</p></li>
<li><p>Most of all, do not comment or edit or bump it up by making any activity on the post. It's that type of <em>recognition</em> and eyeballs the spammer is looking for.</p></li>
</ol>

<p>I've made a chat room for <a href="http://chat.stackexchange.com/rooms/12395/spam-on-askdifferent">discussion and to document this</a> and if the rate of spam keeps getting worse, we can work with the site developers to see if a blacklist or other change can make the site less appealing for this sort of activity.</p>

<p>Thanks again for all the great editing, moderation and flagging. Keep it up and we can keep the door open to people that have legitimate questions and not make the regular users too irritated at this sort of post.</p>

<p>Also, it appears that our site isn't the only one with an uptick as we're not seeing several of the patterns that other sites are dealing with. If you are interested, there is a nice thread on the Ask Ubuntu meta:</p>

<ul>
<li><a href="https://meta.askubuntu.com/questions/8085/regarding-the-recent-wave-of-spam-what-are-we-doing-about-it">https://meta.askubuntu.com/questions/8085/regarding-the-recent-wave-of-spam-what-are-we-doing-about-it</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1912">Load Comments</button></br>
			<div id = "commentsection-1912" class = 'collapse'>
			<div id = "comment-3687" class = "comment">
				<p>I thought it was better NOT to down vote http://meta.stackexchange.com/questions/193916/why-shouldnt-i-downvote-spam-that-ive-already-flagged</p>
			</div>
			<div id = "comment-3688" class = "comment">
				<p>My reading is don't down vote _instead_ of flagging. In the case here - flag is the most important. If you only do one thing, do that. I would prefer you also down vote it as that buries it between the time a binding close vote arrives. Hopefully everyone that can vote to close knows to do that if they can as well.</p>
			</div>
			<div id = "comment-3689" class = "comment">
				<p>My reading is don't down vote because it buries the article so we don't get the flags quickly enough</p>
			</div>
			<div id = "comment-3690" class = "comment">
				<p>I can't see anyone handling these flags not killing it, but I suppose for some **much less blatant** spam, hiding it is bad. Perhaps it should be "flag then vote to close" if you feel somehow burying it will delay the execution.</p>
			</div>
			<div id = "comment-3691" class = "comment">
				<p>It could be that this is meta SO I am quoting and getting 6 (or for us 3?) flags kills it without a moderator so they want it to be visible. Also kills it quicker</p>
			</div>
			<div id = "comment-3692" class = "comment">
				<p>In our case, multiple flags won't get it seen to faster than a single flag, so there is no benefit to leave it at the front or near the top to annoy yet more users.  Flag, down vote, and pat yourself on the back, possible after hunting for similar terms in *search* (these things tend to arrive in batches, if you find one, chances are there's another)</p>
			</div>
			<div id = "comment-3695" class = "comment">
				<p>One flag per post is enough to get a mod to look into it. But downvoting indeed buries the post and prevents further close votes, so for those users who have enough reputation to propose closing this might be better than downvoting.</p>
			</div>
			<div id = "comment-3699" class = "comment">
				<p>It seems voting to close is better overall than to vote down in many circumstances - so let's let that be the step #2.</p>
			</div>
			<div id = "comment-3700" class = "comment">
				<p>I presume close as off-topic   if so, is there a preferred custom reason?</p>
			</div>
			<div id = "comment-3703" class = "comment">
				<p>@grgarside Referring to the meta stack overflow http://meta.stackexchange.com/questions/193916/why-shouldnt-i-downvote-spam-that-ive-already-flagged it is flagging as spam not closing that sets up the special procedures. This flag does not have to be handled by moderators so is like closing</p>
			</div>
			<div id = "comment-3704" class = "comment">
				<p>@Mark Yes, I understand this   I simply wanted to know if there was a standard preferred reason that I should use for the closure. So far I've been using "This question appears to be off-topic because it is spam" (and then deleting the comment) but wondered if I should be using something else.</p>
			</div>
			<div id = "comment-3707" class = "comment">
				<p>The average flag handling time for the day, week, month, quarter, and recent history is consistently under a half hour. Any spam post flagged as such will die a quick and permanent death rather rapidly. I understand that if it picks up enough spam flags it doesn't require moderator attention, but moderator attention happens pretty darn quickly around here.</p>
			</div>
			</div>
				<textarea id = "speech-1912" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1912">
					<img id="start_img-1912" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>