<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How can I remove my down-vote I made by mistake
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2461" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::26</h3>
				<h2>How can I remove my down-vote I made by mistake</h2>
<p>I recently accidentally down-voted an answer without realising (think it was because of a miss click when scrolling on the iOS app). The only issue is I cannot remove that down-vote now because of this error.</p>

<p><img src="https://i.stack.imgur.com/JDmME.png" alt="enter image description here"></p>

<p>Would any mod/admin be kind enough to remove it (and give my back my 1 reputation) please?</p>

<p>Thanks for your help and any inconvenience I have caused.</p>

<p>The link to the post I down-voted is here: <a href="https://apple.stackexchange.com/questions/102271/cannot-access-vital-boot-options-on-mac-pro-with-os-x-lion/127955#127955">Cannot access vital boot options on Mac Pro with OS X Lion</a> (it scrolls to the answer)</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2461">Record</button>
				<button class="record-stop" id="stop-2461">Stop</button>
				<p id="recording-2461"></p>

<h1>Answers</h1>
			<br><div id = "ans-2462"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I've edited the question slighly, you should be able to undo your vote now.</p>

<p>OTOH, down voting that answer isn't totally unjustified...</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5622" class = "comment">
				<p>Thanks. What do you mean bi OTOH?</p>
			</div>
			<div id = "comment-5623" class = "comment">
				<p>"On the other hand" :-) Honestly, the answer doesn't actually provide an answer to the problem, so I'm kind of surprised that it didn't gather more down votes.</p>
			</div>
			<div id = "comment-5624" class = "comment">
				<p>Ah, ok. I didn't even read the answer which is why I didn't want it down-voted. That's why I didn't down-vote.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2462">Record</button>
				<button class="record-stop" id="stop-2462">Stop</button>
				<p id="recording-2462"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>