<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How do I get a blog post to show up in the site sidebar?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2593" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::62</h3>
				<h2>How do I get a blog post to show up in the site sidebar?</h2>
<p>I have posted a short blog entry about a change to the site scope to announce the allowing of beta questions.</p>

<ul>
<li><a href="http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/" rel="nofollow noreferrer">http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/</a></li>
</ul>

<p>In the past, it would show up promptly in the sidebar / community bulletin area. So far, it's a no show. </p>

<p><a href="https://i.stack.imgur.com/BxcKj.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/BxcKj.png" alt="screen capture showing SE blog post, but not AD blog post"></a></p>

<p>Do I need to do something specific to allow that or has that been changed intentionally over time?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5862" class = "comment">
				<p>I suppose I could abuse the "community event" tool to do this, but would rather wait if it's something the code can handle natively once it's hooked up again. (??)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2594"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I ended up "abusing" the "community event" tool to promote the blog post for one week.</p>

<p><a href="https://i.stack.imgur.com/Etijy.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Etijy.png" alt="enter image description here"></a></p>

<p>Other than the pedantic argument that it's not an event, it seems to be working well.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>