<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How to handle duplicates if the older question (or the answer) is a "subset" of a newer question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2670" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::19</h3>
				<h2>How to handle duplicates if the older question (or the answer) is a "subset" of a newer question?</h2>
<p>I marked this question: <a href="https://apple.stackexchange.com/questions/215279/mac-app-store-apps-damaged">Mac App Store apps damaged?</a> as a duplicate of a newer question <a href="https://apple.stackexchange.com/questions/215332/many-os-x-app-store-apps-are-listed-as-app-is-damaged-and-cant-be-opened">Many OS X app store apps are listed as "app" is damaged and can't be opened</a>.</p>

<p>The reason to do it this way was that the newer question had a more general approach and presented one or more general answer(s) instead of a workaround.</p>

<p>Should I (always) mark the newer question as a duplicate of an older question though the older question is only a special case of the newer one?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2671"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The StackExchange developers view and voted up view is if the new question is better then close the old one as the duplicate from this <a href="https://meta.stackexchange.com/questions/147643/should-i-vote-to-close-a-duplicate-question-even-though-its-much-newer-and-ha">MetaStackExchange question</a> (and that makes sense to me) Note this is not exactly your question but the other questions that match yours are closed as dups of this :(</p>

<p>In this case the new question and answer rather obviously are more general and detailed and would be the one that you want to read in the future. </p>

<p>The end result we want is the best question and answer.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>