<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How do I create a link to Ask Different chat from Ask Different main?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1580" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::33</h3>
				<h2>How do I create a link to Ask Different chat from Ask Different main?</h2>
<p>I've seen links to chat (so as not to have a conversation in the comments).</p>

<p>How do I create one? I've searched the meta here and unfortunately unable to find the right one. </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1582"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Several ways.</p>

<p>[chat] expands to <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">http://chat.stackexchange.com/rooms/38/ask-different-chat</a> and is named <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">Ask Different Chat</a> which when called from the main site goes to the site chat room list (but only on the main site).</p>

<p>You can always copy the direct room links and embed a link shorthand using [name](URL) inline syntax as well as the [markdown method][1]</p>

<p>[1]: <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">http://chat.stackexchange.com/rooms/38/ask-different-chat</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>