<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How to refer to various MacBooks
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-587" class = "post">
			<h2>Question</h2>
			<h3>Score ::10</h3>
			<h3>Views ::132</h3>
				<h2>How to refer to various MacBooks</h2>
<p>Apple has an annoying tendency to release new versions of the MacBooks and just call them "New" without really naming them or giving them version numbers.</p>

<p>For example today's new MacBook Air is supposed to be faster than yesterday's MacBook Air, and there are lots of technical differences, too, so it would be valuable to use tags to distinguish between the various versions.</p>

<p>Does Apple have a standard, canonical way to refer to the various generations of their products that we can use in tags here?</p>

<p>The idea is that when someone visits this site in three years when Apple announces the 14th generation MacBook Air and reads my old question about the "New MacBook Air" they don't think that it's up-to-date...</p>

			</div><h3>Comments</h3>
			<div id = "comment-1049" class = "comment">
				<p>OWC uses Model IDs, but that's less than convenient.</p>
			</div>
			<div id = "comment-1050" class = "comment">
				<p>what's OWC? .....</p>
			</div>
			<div id = "comment-1052" class = "comment">
				<p>sorry, a popular Mac hardware company http://macsales.com/</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-587">Record</button>
				<button class="record-stop" id="stop-587">Stop</button>
				<p id="recording-587"></p>

<h1>Answers</h1>
			<br><div id = "ans-588"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Typically, Apple desktops are differentiated on user forums based on a variety of things, typically processor, year, and/or body type since release cycles vary and a model can undergo multiple changes over the course of a year.</p>

<p>UPDATE: The closest I have ever seen to a canonical list is <a href="http://www.everymac.com" rel="nofollow">everymac.com</a>. Maintaining a list for our needs of that size is going to be a lot of work, even if we just maintain starting with the Intel-based models. For example, for the MacBook Air is shown as:</p>

<ul>
<li>MacBook Air "Core 2 Duo" 1.6 13" (Original)</li>
<li>MacBook Air "Core 2 Duo" 1.8 13" (Original)</li>
<li>MacBook Air "Core 2 Duo" 1.6 13" (NVIDIA)</li>
<li>MacBook Air "Core 2 Duo" 1.86 13" (NVIDIA)</li>
<li>MacBook Air "Core 2 Duo" 1.86 13" (Mid-09)</li>
<li>MacBook Air "Core 2 Duo" 2.13 13" (Mid-09)</li>
<li>MacBook Air "Core 2 Duo" 1.4 11" (Late '10)</li>
<li>MacBook Air "Core 2 Duo" 1.6 11" (Late '10)</li>
<li>MacBook Air "Core 2 Duo" 1.86 13" (Late '10)</li>
<li>MacBook Air "Core 2 Duo" 2.13 13" (Late '10)</li>
</ul>

<p>...which could probably be whittled down to...</p>

<ul>
<li>MacBook Air Original</li>
<li>MacBook Air NVIDIA</li>
<li>MacBook Air Mid-09</li>
<li>MacBook Air Late '10</li>
<li>MacBook Air Mid '11</li>
</ul>

<p>The trick, I think, is translating what someone has in front of them to a tag they can use in their question. So maybe something like...</p>

<ul>
<li><code>macbook-air-original</code></li>
<li><code>macbook-air-nvidia</code></li>
<li><code>macbook-air-mid-09</code></li>
<li><code>macbook-air-late-2010</code></li>
<li><code>macbook-air-july-2011</code></li>
</ul>

<p>...for all of the various Apple devices.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1051" class = "comment">
				<p>Do you think we can/should maintain a canonical list somewhere of models and tags that people can consult? Or is there another place on the net where people are already maintaining such a list?</p>
			</div>
			<div id = "comment-1053" class = "comment">
				<p>The closest I have ever seen to a canonical list is http://www.everymac.com. Maintaining a list for our needs of that size is going to be a lot of work, even if we just maintain starting with the Intel-based models. I think it's a good idea to have something, maybe create a boatload of tags to use?</p>
			</div>
			<div id = "comment-1055" class = "comment">
				<p>@Joel: I have updated my answer with an idea on how to do this.</p>
			</div>
			<div id = "comment-1057" class = "comment">
				<p>Everymac is nice, but it splits models a bit heavily on optional CPU upgrades that matter little to most if not all questions we get here. I'll add my 2 cents in another answer. Let me know what you think :-)</p>
			</div>
			<div id = "comment-1082" class = "comment">
				<p>MacTracker (iOS/Mac app) uses the <product line><screen size><"Early"|"Mid"|"Late"><year> notation, as @bmike points that Apple does in another answer.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-588">Record</button>
				<button class="record-stop" id="stop-588">Stop</button>
				<p id="recording-588"></p>
			<br><div id = "ans-592"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>The canonical name for a mac is Apple's user manual nomenclature. In the case of airs - the MacBook Air (Late 2010) are now discontinued and sold at a discount as previous generation and today's will likely be known as MacBook Air (Mid 2011) models.</p>

<p>You can browse all the names at <a href="http://support.apple.com/manuals" rel="nofollow">http://support.apple.com/manuals</a></p>

<p>Usually about a week after a new product launch, the latest model names will be shared publicly at this support site. These names are the ones that people will see in all the Apple knowledge base articles - so google searches for those terms will hit there and here if they are also adopted here. Try googling these terms - with and without the 13-inch parts (but with the parens) and see what the hits look like with whatever term you want to try out.</p>

<p>Even cooler, you can append your serial number to get all the manuals appropriate for your exact mac.</p>

<p>Here's the link for a MacBook Pro (15-inch, Mid 2009)</p>

<p><a href="http://support.apple.com/manuals/W892043J64B" rel="nofollow">http://support.apple.com/manuals/W892043J64B</a></p>

<p>The benefit of using these names is that unlike Part numbers, SKU or other abbreviations, they don't change based on the geography and custom macs (CTO) where you upgrade the processor or ask for bundled software have other part numbers - but all macs that are of that generation are called MacBook Pro (15-inch, Mid 2009)</p>

<p>Often people will use System Profiler details:</p>

<pre><code>  Model Name:       MacBook Pro
  Model Identifier: MacBookPro5,3
  Processor Name:   Intel Core 2 Duo
  Processor Speed:  2.66 GHz
</code></pre>

<p>I haven't seen a good list anywhere (other than Wikipedia) were the MacBookPro5,3 models are listed. I have been meaning to edit wikipedia for a while and replace all the names that don't match apple's but I have to be really bored to futz with wikitables.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-592">Record</button>
				<button class="record-stop" id="stop-592">Stop</button>
				<p id="recording-592"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>