<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I limit the responses to only the questions that I have asked?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2848" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::27</h3>
				<h2>How can I limit the responses to only the questions that I have asked?</h2>
<p>How can I limit the responses to only the questions that I have asked.  I find everyones answers on different questions interesting but I cant go 20 or more emails per day to find what I'm interested in</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6203" class = "comment">
				<p>@bmike I think, it's a question about [filters for Q&A Emails](http://stackexchange.com/filters) and may be moved to meta or deleted alltogether.</p>
			</div>
			<div id = "comment-6204" class = "comment">
				<p>Thanks @klanomath. Let's see if this fits better</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>