<html>
	<head>
		<title id = 'pagetitle'>How to get image of our point with K?
		</title>
	<head>
	<body id = 'pagebody'><p>I saw in many profile that they have K with point, so my question is that how can i get such type of image.</p>

<p>For example i saw someones's  profile<br>
<img src="https://i.stack.imgur.com/3mVGa.png" alt="enter image description here"></p>

<p>But my is<br>
<img src="https://i.stack.imgur.com/4N6UE.png" alt="enter image description here"></p>

<p>Even i have many link account compare to Divya.</p>


<h1>ANSWERS</h1>
		<p>Answer questions! Vote! Participate!</p>

<p>The 1.8k in that user's profile badge is short form for 1800. Where 1800 is their reputation score on the Ask Different site. They've earned that reputation by participating in the site. Rep is mainly gained by answering questions correctly and having those answered voted up and accepted as the most correct answer for questions. But you also get rep for questions that are voted up. And other actions on the site can earn you rep too like peer reviewing pending edits and suggesting tag wikis and so on.</p>

<p>As for the flair badge for the site:</p>

<blockquote>
  <p>(please note that only sites where you have more than 200 reputation will appear, and that flair is only updated once every 24-36 hours.)</p>
</blockquote>

<p>This is from the flair page itself. You can see it here for your user account: <a href="https://stackoverflow.com/users/1369972/rajneesh071/flair">https://stackoverflow.com/users/1369972/rajneesh071/flair</a></p>

<p>You don't have enough rep on Ask Different yet to get a flair badge. You need +200 rep on any site for a badge. Keep going! You're almost there!</p>


	</body>
</html>