<html>
	<head>
		<title id = 'pagetitle'>How do I log off a Stack Exchange Site?
		</title>
	<head>
	<body id = 'pagebody'><p>I have logged into the Ask Different with Safari on my iPad. For security reasons I would like to log off the site. </p>

<p>I have looked over the FAQ and did not see anywhere that this was mentioned.</p>


<h1>ANSWERS</h1>
		<p>The log off function rarely works for me. But you can get to it on an iPad. </p>

<p><img src="https://i.stack.imgur.com/2UPv5.jpg" alt="enter image description here"></p>

<p>You can flag a post of yours or ask here and moderators can help by forcing a log out. We can invalidate your account's sessions which is handy if someone feels an account has been compromised. I've cleared your server session cookies and the system was only tracking one session, so you should now have to log in everywhere you browse the next time you browse the site. </p>


<p>With the new top bar, the log out link has been moved. Now, click the Stack Exchange button on the top left, then select log out.</p>

<p><img src="https://i.stack.imgur.com/5nVnM.png" width="382"></p>


	</body>
</html>