<html>
	<head>
		<title id = 'pagetitle'>How do I ask a user a question?
		</title>
	<head>
	<body id = 'pagebody'><p>I would like to ask monomeeth if he ever got a solution to his <a href="https://apple.stackexchange.com/questions/257175/how-do-i-make-the-users-library-folder-within-a-time-machine-backup-available/257932#257932">question</a>?</p>

<p>How can I do this?</p>

<p>Also, why did I have to wait 40 mins before I could post this question?!?! </p>


<h1>ANSWERS</h1>
		<p>Once you reach 50 reputation, you will be able to comment on any post on the site. You are then able to comment on the question and the original question asker will receive a notification in their inbox.</p>

<p><a href="https://apple.stackexchange.com/help/privileges/chat">At 20 reputation, chat becomes available.</a> Here you can start a conversation with someone. Use the chat link from the Stack Exchange button at the top left to access chat. As of now, you have enough reputation for this!</p>

<p>Stack Exchange has no private messaging system for this purpose.</p>

<p>You had to wait a bit to ask a second question because of the rate limiting in use on every function on the site. As your reputation increases, the rate limits increase but never completely disappear (although they do increase so much that you won't really run into them).</p>


	</body>
</html>