<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How can I flag an off-topic question without selecting an off-topic reason?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1768" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::51</h3>
				<h2>How can I flag an off-topic question without selecting an off-topic reason?</h2>
<p>I wanted to flag <a href="https://apple.stackexchange.com/questions/97699/can-i-travel-to-tibet-independently">https://apple.stackexchange.com/questions/97699/can-i-travel-to-tibet-independently</a> as off-topic (the question is now deleted), but differently from where I can vote to close a question as off-topic, I cannot select a custom reason. The reasons I could select are not the reason to close the question as off-topic.</p>

<blockquote>
  <p>Questions about software development are off-topic here, but can be asked on Stack Overflow. <em>It's not about software development.</em></p>
  
  <p>Questions about pre-release software are off-topic. For more information, see Can we ask about iOS 7 and OS X Mavericks? and Can I ask about not-yet-publicly released OS?. <em>It's not even about pre-releases.</em></p>
</blockquote>

<p>I flagged the question for moderation attention, but it doesn't seem right. I know that if  I flag the question as off-topic, the question would appear in the review queue for the questions with a closing vote, and other users would be able to vote to close it.</p>

<p>Should I simply leave the task to the users with the privilege of close-voting questions?</p>

<p>In this case, I had another reason to flag the question, since it contained a not necessary link that made it smell like spam. I am asking what I should do for a question I think it should be closed, now that the off-topic close-reason has sub-reasons.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1768">Load Comments</button></br>
			<div id = "commentsection-1768" class = 'collapse'>
			<div id = "comment-3319" class = "comment">
				<p>See also http://meta.apple.stackexchange.com/questions/1761/do-we-need-a-generic-off-topic-close-reason</p>
			</div>
			</div>
				<textarea id = "speech-1768" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1768">
					<img id="start_img-1768" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1770"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>For most practical purposes the flag reason doesn't matter that much, all flagged posts end up in the same moderator queue at the end. So in any case choosing <strong>a</strong> flag for dubious posts is better than not flagging it at all.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1770">Load Comments</button></br>
			<div id = "commentsection-1770" class = 'collapse'>
			<div id = "comment-3333" class = "comment">
				<p>[Flags to close a question are no longer shown in the moderator only queue.](http://meta.stackexchange.com/a/187008/152859) That is the reason I would prefer to flag to close a question when it should be closed, rather than flagging for moderation attention.</p>
			</div>
			</div>
				<textarea id = "speech-1770" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1770">
					<img id="start_img-1770" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1773"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>In this particular case, I would have used: </p>

<p><img src="https://i.stack.imgur.com/14Zc6.png" alt="it is spam">. </p>

<p>I feel it is a large enough selector to avoid to add ten other selectors which might kill the good will of the garbage collector  .</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1773">Load Comments</button></br>
			<div id = "commentsection-1773" class = 'collapse'>
			<div id = "comment-3334" class = "comment">
				<p>I know that; that is the reason I said "In this case, I had another reason to flag the question, since it contained a not necessary link that made it smell like spam." `:))` The question is more about what I should do with question that are off-topic, when the predefined reasons don't apply. I can only flag those questions, since I cannot vote to close them.</p>
			</div>
			<div id = "comment-3335" class = "comment">
				<p>In this case, the method you used seems the right one, and better than nothing (Patrix  ).</p>
			</div>
			</div>
				<textarea id = "speech-1773" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1773">
					<img id="start_img-1773" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>