<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How should questions about the Swift Programming Language be dealt with?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How should questions about the Swift Programming Language be dealt with?</h2>
<p>I have been seeing questions about the Swift programming language here and on StackOverflow, and other technologies that are currently under NDA. Should these be flagged or closed since Swift falls under the Apple Developer NDA?</p>

<p>If so, what category should be used for the reason?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>No - we don't really enforce NDA directly so that's generally not a good reason to flag anything. Also, as Daniel explained in a comment - the language itself is documented publicly in an iBook without any NDA required to learn the syntax. Similarly, all of Cocoa with the exception of pre-release API and changes are all available on <a href="http://developer.apple.com" rel="nofollow">http://developer.apple.com</a> with no NDA or account needed to learn / discuss / use Cocoa API.</p>

<p>All the swift questions I've seen so far are clearly code level programming questions and/or vague requests for classes / books and those aren't really on topic here or SO per both site's help center guidelines. So, I'd say the generic programming close reason is how you might handle most Swift questions in the future.</p>

<p>If you want to suggest some specific questions to discuss the proper close reasons, we can add them as comments here or an edit to your question, but there's little to discuss here until Xcode itself is generally released as it's unlikely Swift will be on topic here any more than Objective-C and C++ and Ruby are today.</p>

<p>If it turns out that Swift is actually some form of scripting, then we would probable allow those questions once some version of the language ships on an OS or Xcode that's available to anyone that chooses to download it. At present, I'm only aware of Xcode for developers which is both NDA + Pre-Release with the Pre-Release being the primary reason it's OT here today as opposed to the NDA directly.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>