<html>
	<head>
		<title id = 'pagetitle'>How do I get to my Stack Exchange Inbox? Nothing to click in header area
		</title>
	<head>
	<body id = 'pagebody'><p>I created this account when I asked a question. Now the header at the top says "Stack Exchange" and there is a red rectangle with the number 9; hovering over it says I have 9 unread messages in my Inbox.</p>

<p>So how the hell do I get to the inbox?</p>


<h1>ANSWERS</h1>
		<p>Click on the number "9" in the bar at the top.  It will expand to show you a list of the messages in your inbox.</p>


<p> <img src="https://i.stack.imgur.com/ccjN8.gif" alt="Click the button"></p>


	</body>
</html>