<html>
	<head>
		<title id = 'pagetitle'>How do I link to a specific answer?
		</title>
	<head>
	<body id = 'pagebody'><p>I've seen people make a link to a specific answer here, but now that I want to do this, I can't find any documentation or even an example to copy...  How do I form the URL to a specific answer?</p>


<h1>ANSWERS</h1>
		<p><img src="https://i.stack.imgur.com/8fwFU.jpg" alt="enter image description here"></p>

<p>This link has your user number embedded in it - so since I clicked the share, my number of 9058 is embedded. You can omit that part if you don't want "credit" for the share (yes there is a badge for that and on occasion contests).</p>

<p>Under the hood, each post (a question or an answer has a unique post number) so you can also tack the post number on the end of the question's URL which is more readably available.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1698/how-do-i-link-to-a-specific-answer/1699#1699"> https://apple.meta.stackexchange.com/questions/1698/how-do-i-link-to-a-specific-answer/1699#1699</a></li>
</ul>


	</body>
</html>