<html>
	<head>
		<title id = 'pagetitle'>How do I mark an answer as correct?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm new to this forum and have asked two technical related questions. I've received answers that are sound, credible and extremely helpful. I'd like to note the answers as correct and/or provide positive reviews for the persons that provided answers but cannot find where to post the information!</p>


<h1>ANSWERS</h1>
		<p>I believe one way is to give the answer giver a tick on their questions where they speak as this improves their reputation on the site, which in a way adds to their credibility. </p>

<p>Also there's a checkbox which you can select stating "this post answered my question"</p>


<p>We have a <a href="https://apple.stackexchange.com/faq">faq</a> that covers both voting, accepting answers as well as <a href="https://apple.stackexchange.com/faq#reputation">reputation</a> which allows you to perform more complicated tasks than just asking or answering.</p>

<p>Since we aim to be open to all, the reputation system prevents malicious activities (whether intentional or unintentional) until you've been around a bit and learned how the controls work.</p>

<p>Lastly, the <a href="https://apple.stackexchange.com/about">about</a> page has the most brief and friendly introduction to voting and how to accept a correct answer.</p>

<p>p.s. Welcome to the site!</p>


	</body>
</html>