<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How can I help promote Ask Different as a new version of OS X is released?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-589" class = "post">
			<h2>Question</h2>
			<h3>Score ::33</h3>
			<h3>Views ::910</h3>
				<h2>How can I help promote Ask Different as a new version of OS X is released?</h2>
<p>This time, the latest and greatest is Lion, but this has all happened before, and it will all happen again. There will be zillions of mac users upgrading, and they'll have lots of questions. And since all those questions will be new, Ask Different will have as good a shot at having the best answer than any of those, you know, competitive sites. Essentially, this is a great time to recruit new members!</p>

<p>What can you do to help?</p>

<ol>
<li><p>As you install and learn Lion, whenever you have questions, no matter how silly, <em>ask them here</em>. You're not the only one having that question. Millions of other people will, too. Ask them even if you think you're going to be able to find the answer yourself... and if you do find the answer, go ahead and answer it yourself.</p></li>
<li><p>When answering Lion questions, do everything you can to overkill it. Don't just answer with a hyperlink to some other discussion group somewhere. Write a detailed, step-by-step, ultra-clear guide with screenshots and examples. Help us have the best possible answer to the common problems and questions people have with Lion.</p></li>
<li><p>If a question comes in that is unclear, badly written, badly formatted, or in bad English, edit it into shape. We've always encouraged edits that improve spelling, grammar, and clarity. Make every question into a full sentence.</p></li>
</ol>

<p>This is a great opportunity to build up a body of answers to common Lion questions that will be super-popular in the coming weeks as the rest of the Mac universe upgrades. Those questions will bring in lots of traffic from search engines and if Ask Different continues to have great answers like we have in the past, we stand a chance of attracting some great new users who will add value for years to come.</p>

			</div><h3>Comments</h3>
			<div id = "comment-1054" class = "comment">
				<p>I have a sneaking suspicion that Ask Different is going to be very busy over the next several days.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-591"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I am so impressed by the community here - especially the can do attitude in salvaging even some real questionably worded rants. Assuming that there is a kernel of valid question and editing has made some of these awesome questions.</p>

<p>Pretty cool to be here at the moment... I can't wait to see the server traffic post that will at some point get shared (assuming the burps this morning were overload and not simply migration to a larger server)</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-594"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::9</h3>
				<p><p>Coming from Super User and answering questions about OS X more than anything else, it seems that quite a few questions now get the <em>"You should ask on apple.stackexchange.com"</em> comment. </p>

<p>I sincerely hope this does not mean migrating every single OS X (Lion) question here.</p>

<p>I believe Ask Different is large enough to attract their own visitors and keep a steady growth with tons of useful questions and answers. Let's not confuse people by telling them to go elsewhere when their question would be perfectly on-topic on Super User as well.</p>

<p>I hope you can all agree.</p>

<p>(Oh, and happy asking and answering!)</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1058" class = "comment">
				<p>If a question is on-topic on superuser it shouldn't be migrated, no. If you haven't already, bring this up on meta.superuser.com.</p>
			</div>
			<div id = "comment-1059" class = "comment">
				<p>Couldn't find a relevant post -- only one about askubuntu.com, similar issue though. Will do! @Joel</p>
			</div>
			<div id = "comment-1060" class = "comment">
				<p>This discussion is now up on [Meta Super User](http://meta.superuser.com/q/2967/20088). To summarize: **please _do not_ tell users to migrate their questions to Ask Different if they are _on topic_ for [SU]** (or any other Stack Exchange site that they happen to be on).</p>
			</div>
			<div id = "comment-1061" class = "comment">
				<p>@joel my guidance would be that a user here owns *multiple Apple products* -- iPhone, iPad, MacBook Pro, iMac, etc. Philosophically, they are "Apple People" with iTunes style questions that relate to multiple bits of Apple hardware, which will be best answered by fellow Reality Distortion Field Enthusiasts .. not necessarily the guy with a Mac, a PC, and a homebuilt Linux box that typifies Super User. And of course anything iPhone or iPad is specifically and permanently off-topic at [su]</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-717"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I think its  by design that a question cannot be shared in two sites and be answered, but if that can be done, it would ease the problems when there arises a question that is cross-domain which requires expertise from 2 or more different fields of experts, or could be redirected to stackoverflow.com or any other common site.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>