<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>How does reviewing give you more flagging weight?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-757" class = "post">
			<h2>Question</h2>
			<div id="vote-757" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 68</p>
			</div>
				<h2>How does reviewing give you more flagging weight?</h2>
<p>How does reviewing new posts give you more flagging weight? When I was looking at the badges, I noticed the "Deputy" badge = "Achieved a flag weight of 500 by reviewing and flagging appropriately" Does this mean you by reviewing new posts you will gain flagging weight, or you go to the posts and flag them, and gain flagging weight from that?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-757" class = 'collapse'>
			</div>
				<textarea id = "speech-757" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-757">
					<img id="start_img-757" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-758"  class = "post">
				<h2>Answer</h2>
			<div id="vote-758" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If a moderator flag is deemed to have merit, your flag weight will go up. If a moderator flag is deemed not to have merit (or if we determine that no action is needed) your flag weight will go down. I believe it's mostly linear, with an asymptotic approach towards 750.</p>

<p>Using review is a way to find posts that need moderator attention (and thus, can be flagged appropriately)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-758">Load Comments</button></br>
			<div id = "commentsection-758" class = 'collapse'>
			<div id = "comment-1384" class = "comment">
				<p>I get that part, but how does reviewing earn you flagging weight. Does the reviewing itself earn you weight, or is it flagging posts while reviewing?</p>
			</div>
			<div id = "comment-1385" class = "comment">
				<p>@daviesgeek When a moderator gets a flag, they get an option as to whether or not the flag is valid. How the moderator votes results in either an increase or decrease in the flag weight of the flagger.</p>
			</div>
			<div id = "comment-1386" class = "comment">
				<p>It's still not answering my question. I know that correctly flagging earns you weight, but does reviewing posts (the review "tab" at the top) earn you weight?</p>
			</div>
			<div id = "comment-1387" class = "comment">
				<p>@daviesgeek Sorry, I think I must have misunderstood what you asked. The only thing that affects your flag weight is when you flag for moderator attention. Everything else does not.</p>
			</div>
			<div id = "comment-1388" class = "comment">
				<p>Yes, that's what I was askin' Thanks!</p>
			</div>
			<div id = "comment-1393" class = "comment">
				<p>@davies The interpretation is that using review is a way to find posts that need moderator attention (and thus, can be flagged appropriately).</p>
			</div>
			<div id = "comment-1394" class = "comment">
				<p>@Grace That's what I was thinking. It just didn't exactly make sense. Thanks!</p>
			</div>
			<div id = "comment-1398" class = "comment">
				<p>@Kyle Could you update your answer to reflect this?</p>
			</div>
			</div>
				<textarea id = "speech-758" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-758">
					<img id="start_img-758" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-779"  class = "post">
				<h2>Answer</h2>
			<div id="vote-779" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The badge description you reported says, "Achieved a flag weight of 500 by reviewing <strong>and flagging</strong> appropriately."<br>
Your flag weight is the weight associated with your flags; the higher your flag weight is, the higher priority your flags have. The only way to increase it is to have your flags marked as helpful from a moderator; this means you correctly flagged a post, and your future flags should have the priority over the flags done from who keeps to inappropriately flag posts.</p>

<p>The description says, "reviewing and flagging" as you need to review posts, in order to flag them. You don't flag a post without even reading it; even in the case somebody else has already flagged a post, and tells you that, you should always read the post to decide if the post really needs to be flagged.</p>

<p>The flag weight should not be of any concert for normal users, as what the flag weight does is simply to order the flags that appear to the moderators.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-779" class = 'collapse'>
			</div>
				<textarea id = "speech-779" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-779">
					<img id="start_img-779" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>