<html>
	<head>
		<title id = 'pagetitle'>How to rescue this QA
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/questions/208746/applescript-wont-invoke-shortcut-command">Applescript Won&#39;t Invoke Shortcut Command</a></p>

<p>This entire QA, including all 3 answers &amp; a myriad comments, is more of an online troubleshooting conversation than a true QA. </p>

<p>The final answer I feel was worth the journey, even if the OP didn't actually help a great deal in the process - most of the replies were along the lines of "it no werky"</p>

<p>Serves me right, I suppose, but sometimes tenacity pays off - even if the OP has now wandered off &amp; the final answer will probably never be marked as correct.</p>

<p>I think we now have a nice answer to the reworded title, how to look for a checkmark on a menu item &amp; only perform an action if true/false<br>
It's certainly something I didn't know how to do until now &amp; it is likely to be something I'm going to recycle in future.</p>

<p>Anyone have any suggestions - or even a burning desire to edit it into shape?<br>
I'm not really sure what should stay or go - for instance, my entire first answer ends up not being what the OP wanted because of the, at that time, uncertainty of the initial toggle state.</p>

<p>Alternatively, should I abandon this to the mists of time &amp; just make a new QA that simply asks &amp; answers the underlying question of how to check &amp; act on a menu toggle?<br>
I reverted the title in anticipation of this alternative solution.</p>


<h1>ANSWERS</h1>
			</body>
</html>