<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How is Stack Exchange using the @StackApple and @askdifferent Twitter accounts?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How is Stack Exchange using the @StackApple and @askdifferent Twitter accounts?</h2>
<p>Just wanted to let everyone know we are going to turn back on autotweeting of <a href="http://twitter.com/askdifferent" rel="nofollow noreferrer">@AskDifferent</a> for the time being. We experimented with tweeting manually, and now we want to see what will happen in terms of engagement if go back to autotweeting questions from our site. Right now, we haven't made any decisions about if/when we will go back to manual tweeting.</p>

<hr>

<p><strong>Update</strong> - we were able to find and acquire the twitter handle <a href="https://twitter.com/#!/askdifferent" rel="nofollow noreferrer">@askdifferent</a>! From now on, we will be using @askdifferent instead of @stackapple, so remember that if you want to @ reply or mention us. </p>

<p>Psst - if you don't follow @askdifferent already, feel free to do so :-)</p>

<hr>

<p>Just wanted to let everyone know that we are testing out using <a href="https://twitter.com/#!/askdifferent" rel="nofollow noreferrer">@StackApple</a> manually. Until very recently, @StackApple was only used to autotweet questions from our site, but we think that Twitter can be a really effective tool for engaging with the Ask Different community as well as other power users of Apple products. If you decide you want to follow @StackApple, you can expect to see more varied content, including</p>

<ul>
<li>Great questions and answers</li>
<li>Blog posts from our site</li>
<li>Contest announcements</li>
<li>Industry news - such as product releases and posts from places like
MacRumors, TUAW, etc.</li>
</ul>

<p>We will also make an effort to follow and highlight our users, as outlined in <a href="https://apple.meta.stackexchange.com/questions/1131/assembling-a-twitter-list-of-ask-different-users">this post</a>. Along those same lines, interacting with @StackApple on Twitter will be an easy way for people (users and non-users) to contact an employee of Stack Exchange.</p>

<p>Please be aware that this is an experiment to see whether investing resources in Twitter is a worthwhile way to grow the site. For now, only @StackApple and @StackGaming are being controlled manually. <strong>This may or may not happen with other sites in the future, based on whether this experiment is successful.</strong> Decisions about other sites' Twitter accounts will be made after this experiment is concluded. We don't have a date set for those decisions, or the end of this trial run.</p>

<p>Feedback on how the Twitters are being handled is welcome. Feel free to post comments, suggestions, etc. as answers here. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>My initial suggestion would be to get / regain control of the AskDifferent account on twitter by sending a ticket to twitter explaining that it's a trademarked property of Stack Exchange and you wish to use that account for promoting this site.</p>

<p>Already, the site here is hampered by the incomplete branding where the site has two names depending on where you look. (In about half the places the name is Apple - in another half it's Ask Different).</p>

<p>In many places it is known as Ask Different. An informal poll of the moderators have us 100% against keeping "apple" in the branding for this site due to confusion. Now you are adding StackApple to the "nicknames" for the site.</p>

<p>I feel that the more you dilute the site name with "apple" - the more confusing and diluted your promotional efforts will become. I know this is swimming against the stream since all the Stack twitters start in Stack (except for ServerFault) - but I can find no other site where the twitter account has a word that isn't at all in the title. It'd be like @StackSuper_User was @StackComputers or something.</p>

<p>This naming certainly doesn't really affect <em>how</em> you use the account, but it may affect the likelihood that people will identify one with the other.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>