<html>
	<head>
		<title id = 'pagetitle'>How does answers to questions that was asked by a deleted user get accepted?
		</title>
	<head>
	<body id = 'pagebody'><p>Does answers to questions that was asked by deleted users ever get accepted?</p>

<p>An example to this is in this question, were the user seems to have be deleted: <a href="https://apple.stackexchange.com/questions/1956/how-can-i-watch-an-avi-file-on-my-iphone">How can I watch an AVI file on my iPhone?</a></p>

<p>Many good answers, including my own (of course), but non has been accepted.</p>


<h1>ANSWERS</h1>
		<p>Only the user asking the question can accept one of the answers. Once the user decided to delete his/her account, there is no other way to answer acceptance. The same actually happens if the asker just looses interest and never comes back to the site. See <a href="https://meta.stackexchange.com/questions/18312/moderators-accepting-answers-on-users-behalf-after-a-certain-time-period">Moderators accepting answers on user&#39;s behalf after a certain time period</a> to understand why even moderators can't (and shouldn't) accept answers in such cases.</p>

<p>This doesn't prevent other users from up (and down) voting the answers given, so even with the original asker gone missing good answers should get upvoted over time.</p>


<p>Ideally, two things happen to abandoned questions. Abandonment happens when the user never comes back or in a more permanent manner when the user account becomes deleted. At that point, the text still belongs to the community - so there's nothing preventing someone from re-asking the same question and explaining why having a check mark is important to the community. We have the power to address this, but it seems overkill for the "reward" in most cases. Without any user action, the design for abandoned questions is:</p>

<ol>
<li>If they are poor quality, they get edited or down voted - all by user action and user-moderation.</li>
<li>Answers that are good in the sense that someone searches for the question or answer, finds it and votes it up.</li>
</ol>

<p>The price of entry to allowing anyone to ask a question is that a regular community member isn't going to ask the majority of the questions. Hopefully, site search is designed to counter act this natural tendency. Your actions of editing the question and adding an answer speak to how abandoned questions can still be cared for.</p>


	</body>
</html>