<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How much does it cost to advertise here?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1639" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::155</h3>
				<h2>How much does it cost to advertise here?</h2>
<p>Yes here. Ask Different apple exchange.</p>

<p>This is the only place I can think of where I can buy traffic visited by and only by mac owners.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3057" class = "post">
				<p>The [link for ad info](http://stackexchange.com/about/contact) says "To buy ads or inquire about tag sponsorships, please contact us at ads@stackexchange.com, call +1 (212)232-8280 and select option "2" at the auto-attendant to reach our ad sales team. Our business hours are Monday through Friday, 9am to 5pm Eastern time zone in the United States."</p>
			</div>
			<div id = "comment-3074" class = "post">
				<p>Lots of non-Mac owners ask here about iPhone, iPod, iPad, iTunes, Apple TV.</p>
			</div>
			<div id = "comment-3075" class = "post">
				<p>Ah not suitable then. Also I talked to the guy. Minimum advertising is $5k. I wonder if there is any better place to market to mac users only. Is this a relevant question for ask different?</p>
			</div>
			<div id = "comment-4059" class = "post">
				<p>@JimThio Macworld magazine, Although I'd guess their minimum is probably up there.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2132"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Like any shopping question, prices often can change. </p>

<p>The best answer is to just talk to a sales person at these contact points. Ad sales is at the bottom of the page. </p>

<p><a href="http://stackexchange.com/about/contact">http://stackexchange.com/about/contact</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>