<html>
	<head>
		<title id = 'pagetitle'>How to get rid of orphaned questions?
		</title>
	<head>
	<body id = 'pagebody'><p>I love this site, and I'm doing my best to provide good questions and helpful answers. But as I browse through the questions, I find a lot of orphaned questions that IMO don't contribute anything to the site.</p>

<p>Examples are:</p>

<ul>
<li>Questions that weren't clear, there was a comment asking for clarification, but the questioner never got back - like <a href="https://apple.stackexchange.com/questions/186330/unable-to-connect-to-a-server-over-vpn?rq=1">this one</a></li>
<li>Questions that weren't answered for a long time, and now refer to old iOS or OS X versions that are probably no longer in use - like <a href="https://apple.stackexchange.com/questions/63672/forcing-vpn-on-demand-to-on?rq=1">this one</a> </li>
</ul>

<p>How should I as a user react when I come across such questions?</p>


<h1>ANSWERS</h1>
		<p>The good news is that the site is designed to have a large number of unanswered / orphaned / closed but not deleted questions and they only serve to index issues and eventually point to the most on-topic and best answered post covering the main issue.</p>

<p>Whether a post is 5 days old or 5 years old - it can always be edited to make it more clear or more relevant or in some cases - more general.</p>

<p>Comments can always be left to help clarify what the issue is in case that brings back the poster. Unless someone makes votes or posts in answer - questions get cleaned up automatically over time if they never generate any interest.</p>

<p>As to old questions - as long as they are tagged appropriately with versions instead of saying  the latest iPhoto  old posts will help people that don t want to upgrade or can t upgrade.</p>

<ul>
<li>This one isn t that bad and someone could come and answer a  here s how to troubleshoot VPN in general and here are links to more articles.  - <a href="https://apple.stackexchange.com/questions/186330/unable-to-connect-to-a-server-over-vpn">Unable to connect to a server over VPN</a> The other is just fine since it calls out iOS 6 and you re right - even with potential benefit - chances are they may sit in the back waters of the site forever without an answer.</li>
</ul>

<p>Lastly - you are free to exercise your franchise and down vote them for reasons above. At some point they get cleared out when they are 0 or less score and untouched for a while. A single vote might be all that s needed to clear them even without close votes.</p>


<p>If you find a question that isn't clear, to the point where it is unanswerable, and where the poster hasn't responded to a request for clarification, vote to close it as 'Unclear what you are asking'.  If there is no existing comment identifying what is unclear, it would be appropriate to leave a comment explaining what is unclear.</p>

<p>For old questions that relate to old versions, as long as it is clear that they are specific to the older version, do nothing -- leave them be.  If the question is more general and not specific to a newer version, you can provide a new answer with the updated information.  (In some cases you might be able to vote to close as a duplicate of another question that has better answers, if a suitable one exists, or possibly edit to clarify that the question is about an older version.)</p>

<p>If you can't vote to close yet, you can always flag it for closure, which will put it into a queue where others with the privileges to vote for closure can review it and decide whether they want to vote to close it too.</p>


	</body>
</html>