<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How to paste images into the site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>How to paste images into the site?</h2>
<p>The Image button on this site gives the dialogue below, which mentions the ability to paste in an image.</p>

<p><img src="https://i.stack.imgur.com/KNuFT.png" alt="StackExchange paste dialog"></p>

<p>However, I can't get this to work in Safari (6.0.4) on OS X (10.8.3).  I can drag a file in, but I'd like to be able to use cmd-shift-ctrl-4 to put a screenshot on the clipboard, then paste that in, because that feels a little faster.  However, pressing cmd-v seems to do nothing.</p>

<p>Am I missing something?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<blockquote>
  <p>Am I missing something?</p>
</blockquote>

<p>Only that you need to save the file to disk before uploading it to the site. The browser can't upload the contents of your system clipboard to imgur, which is where images end up getting hosted for the StackExchange network.</p>

<p>When it says "paste or drag-and-drop" they mean you can paste a path to a file on your hard drive. When you paste or drag-and-drop the image the dialog gets the path to the file and uses that to push the file to imgur. It doesn't get the contents of the file directly.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>If it doesn't work, this sounds like a Safari issue. Running those steps just worked in Chrome. After I hit paste, the dialog box changed to this:</p>

<p><img src="https://i.stack.imgur.com/kWFhX.png" alt="Yes, I have too many tabs open"></p>

<p>Which allowed me to click confirm and upload the image. You may want to click within the whitespace of the dialog box in order to ensure that it has focus, and then hit  v</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Here's how I'd like this StackExchange feature to work (noted here as suggested by @bmike, since the question is now tagged as a bug):</p>

<ol>
<li>Start writing a question or answer on StackExchange in Safari on OS X.</li>
<li>Use <kbd>cmd</kbd>-<kbd>shift</kbd>-<kbd>ctrl</kbd>-<kbd>4</kbd> to take a screenshot and put it into the clipboard.</li>
<li>Press the Image button at the top of the StackExchange editor window.</li>
<li>Press <kbd>cmd</kbd>-<kbd>v</kbd> to paste the screenshot from the clipboard into the editor.</li>
</ol>

<p>Expected: the screenshot appears in the editor, as it would if I'd saved it to a file and then dragged it in.  This is what happens in the Chrome browser.</p>

<p>Actual: at step 4, the Safari Edit > Paste menu option is greyed out, and Safari beeps.</p>

<p>I don't know if this is a Safari or a StackExchange issue, but I would find this process a little quicker and more satisfying than saving a file to local disk before uploading.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>My initial reaction is that this is a Safari issue.  It's not just "you can't paste stuff in Safari", because <a href="https://developer.apple.com/library/mac/#documentation/AppleApplications/Conceptual/SafariJSProgTopics/Tasks/CopyAndPaste.html" rel="nofollow">Safari purportedly supports the Javascript Cliboard APIs</a>.  I've marked this as [status-review] until I can pin this down for sure and will update this answer when I have something more definitive to share.</p>

<p><em>Update:</em></p>

<p>This does appear to be a browser issue.  I've reproduced the described behavior.  I also tried on imgur to see if it would respond in the same way, and it does: <em>dong</em>...nothing happens.  I experimented a bit in jsfiddle to see if the event is handled as documented, and I don't think it is.  I'll keep looking into this for a while, but unless something I didn't already know is brought to my attention, I expect to <code>status-decline</code> this later this week.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>