<html>
	<head>
		<title id = 'pagetitle'>How to move a question to a different site without migration privileges?
		</title>
	<head>
	<body id = 'pagebody'><p>I've asked a <a href="https://apple.stackexchange.com/questions/15008/aperture-and-itunes-freezing-bringing-down-snow-leopard-entirely">question</a> here that has gotten very little response, and I think it would do better on superuser.com.  First, am I right?  If so, how do I go about moving it, since I don't have the rep to migrate?  I've considered posting a duplicate (which I've <a href="https://stackoverflow.com/questions/6205124/security-for-data-produced-by-asp-net-web-serivce">done</a> <a href="https://softwareengineering.stackexchange.com/questions/80925/security-for-data-produced-by-asp-net-web-serivce">before</a>), or putting something like "(please migrate to super user)" in the title.</p>


<h1>ANSWERS</h1>
		<p>If you'd like something migrated, you can flag it for moderator attention - it's the "flag" link directly under the tags for the post. If you'd like, I can move your question to Super User, but it might yet get an answer here. I don't personally mind people cross-posting questions, especially if they haven't gotten a response on a particular site, but not everyone agrees with that.</p>

<p>So I guess it's up to you - I don't mind if you crosspost, but if you want I'll migrate it for you instead.</p>


<p>Changing the title to include "please migrate to super user" is probably the less effective way to get a question migrated to another site.  </p>

<p>I would flag the question, and report I think it better suits the other site.<br>
As alternative, I would ask the question in the other site; in that case, I would probably close the question on Ask Different, if it has not answers, or flag the question and report you already asked the question in another SE site.</p>


	</body>
</html>