<html>
	<head>
		<title id = 'pagetitle'>How do I upload a picture on here?
		</title>
	<head>
	<body id = 'pagebody'><p>I need to know how to upload a photo on here (on this website only) from my iPod Touch (4th gen.) when I ask another question. It's from the photo library on my iPod. I want to include it with my question to show others what I'm talking about.</p>


<h1>ANSWERS</h1>
		<p>To help protect the site from spam, new users are not allowed to post pictures in their posts. Once you ask or answer questions and earn ten reputation points, <a href="https://apple.stackexchange.com/privileges/new-user">the new user restrictions are lifted</a>. The more reputation points a person earns, the more <a href="https://apple.stackexchange.com/privileges/">privileges</a> a user unlocks on the site.</p>

<p>If your question needs an image to work, you can upload the image to a site like <a href="http://imgur.com" rel="nofollow noreferrer">imgur.com</a> and include the link in your question, and a user with more reputation can edit your post to include the image inline. </p>


	</body>
</html>