<html>
	<head>
		<title id = 'pagetitle'>How can we best start a thread of Lion tips~tricks~workarounds?
		</title>
	<head>
	<body id = 'pagebody'><p>Now that Lion is out, would be great to have a wiki-type thread to track best hidden tips/tricks/tweaks for Lion.  Curious if this is a good topic for AD, or if I should take it to Quora instead ;)</p>

<p>Previously it would have been a Community Wiki, but I see that feature is now gone.  (right?)</p>


<h1>ANSWERS</h1>
		<p>Community Wiki is still available, but it has to be activated by a moderator. My suggestion would be to model the question after <a href="https://apple.stackexchange.com/questions/400/mac-os-x-hidden-features-and-nice-tips-tricks">Mac OS X hidden features and nice tips &amp; tricks</a> and flag your question for moderator attention requesting it to be wikified.</p>


<p>I would say make two. </p>

<p>One for workarounds (where people are looking to change things - urgently looking for an answer to a specific issue)</p>

<p>One for tips / tricks (where people browse for hints, ideas, learning)</p>

<p>yes you can learn from other's problems, many workarounds can be in essence tips or tricks - but I think making it more narrow increases the chance that the answers will track a useful theme...</p>

<p>(there - that ought to be my 2 cents worth)</p>


	</body>
</html>