<html>
	<head>
		<title id = 'pagetitle'>How much does it cost to advertise here?
		</title>
	<head>
	<body id = 'pagebody'><p>Yes here. Ask Different apple exchange.</p>

<p>This is the only place I can think of where I can buy traffic visited by and only by mac owners.</p>


<h1>ANSWERS</h1>
		<p>Like any shopping question, prices often can change. </p>

<p>The best answer is to just talk to a sales person at these contact points. Ad sales is at the bottom of the page. </p>

<p><a href="http://stackexchange.com/about/contact">http://stackexchange.com/about/contact</a></p>


	</body>
</html>