<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How are edited characters counted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2497" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::30</h3>
				<h2>How are edited characters counted?</h2>
<p>When I edit a question and change a link from <a href="http://www.example.com" rel="nofollow">http://www.example.com</a> to <code>[this](http://www.example.com)</code>, does it count as 8 characters edited, or as deleting the whole link and retyping (so 30 characters)? When I look at my edit again and see an an edited link I made, all of it is striked through and new text next to it written in green. Does this mean that I edited more characters?</p>

<p>The same with code blocks and blockquotes. How exactly does the character edit counting system work?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5679" class = "post">
				<p>Whilst we're here, please don't edit http://example.com/ to [this](http://example.com/) as this is worse than leaving the link as it is, as it obfuscates the destination. Either leave the link, formatting it nicely on its own line if it's long, or use appropriate anchor text such as [Example](http://example.com/).</p>
			</div>
			<div id = "comment-5681" class = "post">
				<p>Acknowledged. So for example instead of http://meta.apple.stackexchange.com/questions/2497/how-are-edited-characters-counted?noredirect=1#comment5679_2497 will be [Question on Ask Different Meta](http://meta.apple.stackexchange.com/questions/2497/how-are-edited-characters-counted?noredirect=1#comment5679_2497)</p>
			</div>
			<div id = "comment-5682" class = "post">
				<p>It'd be preferable to use the question's title, however links to other questions on the same site should definitely be left as just a link as the system pulls the question title automatically (except in comments).</p>
			</div>
			<div id = "comment-5683" class = "post">
				<p>I do appreciate the edits that you make here; don't worry about a few rejects as long as you understand why the edit was rejected or reject-improved. If you have any questions about a specific edit that was rejected, feel free to ask in chat, and ping me if I was the one to review it as I'd appreciate seeing the discussion.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2498"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The edited characters count for the purposes of the minimum edit count is based on the number of non-whitespace characters that are edited in a post.</p>

<p>This means that:</p>

<ul>
<li><code>example</code> to <code>**example**</code> is an edit of four characters, not 11 (or 7).</li>
<li>Prepending four spaces to a line for a code block is an edit of zero characters, as all the characters are whitespace.</li>
<li>Prepending a <code>&gt;</code> for a quote block is an edit of one character, regardless of how many characters are in the quote block itself.</li>
</ul>

<p>The edited characters count for the automatic edit summary (available >2k) includes whitespace character changes, therefore showing 4 characters when adding a code block.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>