<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How should questions about the Swift Programming Language be dealt with?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2147" class = "post">
			<h2>Question</h2>
			<div id="vote-2147" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 111</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How should questions about the Swift Programming Language be dealt with?</h2>
<p>I have been seeing questions about the Swift programming language here and on StackOverflow, and other technologies that are currently under NDA. Should these be flagged or closed since Swift falls under the Apple Developer NDA?</p>

<p>If so, what category should be used for the reason?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2147">Load Comments</button></br>
			<div id = "commentsection-2147" class = 'collapse'>
			<div id = "comment-4081" class = "comment">
				<p>Apple has a free ebook in iBooks on the swift language without NDA.</p>
			</div>
			</div>
				<textarea id = "speech-2147" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2147">
					<img id="start_img-2147" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2147">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2148"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2148" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No - we don't really enforce NDA directly so that's generally not a good reason to flag anything. Also, as Daniel explained in a comment - the language itself is documented publicly in an iBook without any NDA required to learn the syntax. Similarly, all of Cocoa with the exception of pre-release API and changes are all available on <a href="http://developer.apple.com" rel="nofollow">http://developer.apple.com</a> with no NDA or account needed to learn / discuss / use Cocoa API.</p>

<p>All the swift questions I've seen so far are clearly code level programming questions and/or vague requests for classes / books and those aren't really on topic here or SO per both site's help center guidelines. So, I'd say the generic programming close reason is how you might handle most Swift questions in the future.</p>

<p>If you want to suggest some specific questions to discuss the proper close reasons, we can add them as comments here or an edit to your question, but there's little to discuss here until Xcode itself is generally released as it's unlikely Swift will be on topic here any more than Objective-C and C++ and Ruby are today.</p>

<p>If it turns out that Swift is actually some form of scripting, then we would probable allow those questions once some version of the language ships on an OS or Xcode that's available to anyone that chooses to download it. At present, I'm only aware of Xcode for developers which is both NDA + Pre-Release with the Pre-Release being the primary reason it's OT here today as opposed to the NDA directly.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2148">Load Comments</button></br>
			<div id = "commentsection-2148" class = 'collapse'>
			<div id = "comment-4079" class = "comment">
				<p>I was referring to http://apple.stackexchange.com/questions/132784/swift-for-beginners That's what prompted my question.</p>
			</div>
			<div id = "comment-4080" class = "comment">
				<p>@mark Awesome example - Yes - that looks to me to be programming only - code level and NDA/Pre-Release have nothing to do since it would be closed if any compiled language was substituted for Swift.</p>
			</div>
			<div id = "comment-4084" class = "comment">
				<p>Even if it was not NDA protected, it's clearly off topic, just as if it were a new version of Objective C or anything else Cocoa related.  I wouldn't even migrate though, at present, just close with a custom message suggesting to use the Dev forums which they have paid for instead, as that is *clearly* the appropriate audience.</p>
			</div>
			</div>
				<textarea id = "speech-2148" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2148">
					<img id="start_img-2148" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2148">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>