<html>
	<head>
		<title id = 'pagetitle'>How do we want to handle MobileMe questions? (In general)
		</title>
	<head>
	<body id = 'pagebody'><p>I have a specific question I'm wondering how to handle now that all the MobileMe changes are about to fade into history this June when MobileMe goes away:</p>

<p><a href="https://apple.stackexchange.com/questions/14049/is-it-possible-to-use-back-to-my-mac-dns-or-routing-information-from-the-command">Is it possible to use Back To My Mac DNS or routing information from the command line?</a></p>

<p>As you can see in this particular case - the right answer is shifting, so it's up to me (the OP) to see the new answer and select it. (assuming I want this to be about iCloud and the current Back To My Mac). </p>

<p><em>I'm inclined to ask a new question specifically about Lion's iCloud BTMM - and leave this question alone as historical reference.</em></p>

<p>Is this a good idea in general - leave decent enough questions alone and ask a new iCloud question or would it be better to try to keep evolving questions as a first inclination on the site?</p>

<p><sub><em>(and yes, I know that finding a general rule is hard since there are always exceptions, but I'm interested in people's experience on other sites to see if we want to tend to handle these one way or another)</em></sub></p>


<h1>ANSWERS</h1>
		<p>We want our questions and answers to be timeless, and the fact that a question will produce answers that are likely to be of use only in a small window of time is grounds for closing things as "too localized". At the same time, the grass withers and the flowers fade. Sic transit gloria mundi. Things can change, and our answers, well-intended to be timeless, become relics of a bygone age.</p>

<p>I'd treat this in two different categories.</p>

<p>In cases where the right answer in the past was to document that "it can't be done," but changes to the available technology make it possible to accomplish the task, I'd certainly consider replacing the acceptance of the unhelpful but true (at the time) documentation of a non-solution with an acceptance of a new solution that actually solves the problem.</p>

<p>On the other hand, if a question has a well-documented answer that worked great, but circumstances change to the old answer is no longer valid, I'd think the best way to handle this is with an edit to the question to indicate that the question was asked in a particular era. Ask the question again in the modern era, and perhaps even link to the new question from the old one, but don't wipe out the documentation of the old way of doing things. It smacks too much of Orwell's <em>1984</em> to revise our answers every time circumstances change. Oceanea was at war with Eastasia. Oceania had always been at war with Eastasia.</p>

<p>Those are my opinions. If you don't like 'em, I have others.</p>


<p>I agree with Daniel's thoughts, but I think we should consider actually closing (not deleting) the out-of-date questions once new ones have been asked to replace them.</p>

<p>That would preserve the content on the site so that the we don't lose good contributions, and allow voting to continue so the people who provided answers that were good when posted can still be rewarded for their work. Closing would also prevent people from thinking that the problems were still unsolved and trying to answer. Finally, I think I remember reading that closed questions are ranked lower in search results.</p>

<p>Effectively, the old content would be kept but wouldn't get in the way of the new content.</p>


	</body>
</html>