<html>
	<head>
		<title id = 'pagetitle'>How do I find my own questions?
		</title>
	<head>
	<body id = 'pagebody'><p>I cannot find a link to my own questions (that I asked). Nor can I find anything obvious in searching for "my questions" or "How can I find my own questions".</p>

<p>EDIT: OK, So I have a partial answer.</p>

<p>If I click on the bar on the top of the window, where the reputation and badge count is, I get a list of my questions. Except that it does not show a question that I asked earlier today -- it only shows one from months ago.</p>

<p>Is this a simple "a cache that updates infrequently" issue -- if so, I should see my other question tomorrow, right?</p>

<p>Otherwise, what happened to (and how do I find) my "missing" question?</p>


<h1>ANSWERS</h1>
		<p>I see two questions on your <a href="https://apple.stackexchange.com/users/198208/keybounce">AskDifferent profile</a>, one from last year and one asked a few minutes <em>after</em> you asked the question on meta. It might help to add a screenshot next time the problem happens to you, otherwise it's difficult to see what could be wrong. </p>


	</body>
</html>