<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How can I make my question comply to all Ask Different guidelines?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2559" class = "post">
			<h2>Question</h2>
			<h3>Score ::-1</h3>
			<h3>Views ::261</h3>
				<h2>How can I make my question comply to all Ask Different guidelines?</h2>
<p>My question to improve: <a href="https://apple.stackexchange.com/questions/194934/how-to-check-if-the-screen-replacement-part-for-iphone-5s-is-an-original-one">How to check if the screen replacement part for iPhone 5s is an original one?</a></p>

<hr>

<p>Some clarifications on questions from bmike:</p>

<blockquote>
  <p>Are you looking for knowledge? If so, remove price</p>
</blockquote>

<p>What's wrong with the price? It gives background for my question: official services can only help with providing a complete replacement for x3-x4 of display replacement by an unofficial repair service. That's why I can only consider unofficial repair shops.</p>

<blockquote>
  <p>remove the part about how you want to be sure that one specific repair shop uses parts that you feel are "genuine".</p>
</blockquote>

<p>Again, it's only here for providing a context. I don't mind removing it entirely, but why it improves the question?</p>

<blockquote>
  <p>It seems you need to: a) write a written contract requiring the vendor to use "official" parts b) demand documentation of that before paying</p>
</blockquote>

<p>We need to assume that contract just won't solve my problem, for whatever reasons. How can we limit the scope of question to "how can I check whether the display is genuine", no matter how I get that display into my iPhone?</p>

<blockquote>
  <p>What does <a href="https://locate.apple.com" rel="nofollow noreferrer">https://locate.apple.com</a> list for options?</p>
</blockquote>

<p>It lists only authorized services which don't help, as I specified in the very beginning of the post: they can only replace the entire device. </p>

<blockquote>
  <p>How much is a repair part? You can get quotes for parts to be mailed to you for Apple parts. If you did that work, please document it in the question as it removes the "opinion" of too costly</p>
</blockquote>

<p>I don't understand this piece. First, I'm not buying a part, I need a repair to be done--which includes that the repair shop provides the display part. Then, Apple doesn't sell its genuine parts to end-users, nor officialy does any third party AFAIK.</p>

<blockquote>
  <p>Off site resources is "locating repair parts".</p>
</blockquote>

<p>I'm not about to buy a replacement part, see above.</p>

<blockquote>
  <p>justify what you feel is "genuine" in the post.
  I already detailed that: "made by Apple (no matter new or extracted from a used phone) rather than a third-party replica" (removed "as" which could be a reason for confusion)</p>
  
  <p>Show your research. Can you buy parts from Apple Authorized Service providers?</p>
</blockquote>

<p>What should I do to satisfy this?</p>

<blockquote>
  <p>Are you willing / able to open and measure the device?
  State that explicitly in the question.</p>
</blockquote>

<p>Should I state every possible check as "allowed"? If not, why specifically "open and measure"?</p>

<blockquote>
  <p>you say "as official ones don't provide screen replacement in my region"
  document that</p>
</blockquote>

<p>What should I do to satisfy this?</p>

<blockquote>
  <p>When you go to locate.apple.com - list the cost and options you are presented.</p>
</blockquote>

<p>There's no cost and options, only a list of authorized services. Each of those tells the same story: "only replacement of entire device". Are you asking for proof-links to non-English web sites for that? (as I live in Russia)</p>

<blockquote>
  <p>You instead voice an opinion "don't provide" - my guess is they do provide parts and there is a specific cost for them</p>
</blockquote>

<p>See above.</p>

<blockquote>
  <p>What does the last sentence and the two youtube videos mean?
  And does criteria for iPhone 5 fully apply to 5S (eg. 1, 2)?
  That's far too broad IMO.</p>
</blockquote>

<p>I provide two examples (youtube links) of genuiness check for iPhone 5. If (for example) 5 and 5S have completely identical genuine parts, tips for 5 work for 5S. If not, they don't--that easy.</p>

			</div><h3>Comments</h3>
			<div id = "comment-5778" class = "comment">
				<p>I've posted a link to your question to the moderator only room. If a single one of them wants to re-open it, they can. I'm going to wait to reopen it until you make an effort to edit the question. I'll answer with some of the things I'd want to see cleared up. You don't need to make all the changes, but why not start with one edit and see if we can release the hold.</p>
			</div>
			<div id = "comment-5784" class = "comment">
				<p>@bmike "If a single one of them wants to re-open it, they can": I can see one "reopen" vote now in the original post--isn't that sufficient for reopening?</p>
			</div>
			<div id = "comment-5785" class = "comment">
				<p>Reopening is the same as closing - 5 votes. "Users with 3,000 reputation can cast up to 24 reopen votes per day. When a question reaches 5 reopen votes, it is no longer closed, and new answers may be submitted. You may only vote to close or reopen a question once. To cast a reopen vote, click the "reopen" link beneath the question.

Moderators may close or reopen any question with a single vote." See http://apple.stackexchange.com/help/reopen-questions</p>
			</div>
			<div id = "comment-5786" class = "comment">
				<p>@bmike I provided all the clarifications you asked for -- here as update to meta. Our next steps?</p>
			</div>
			<div id = "comment-5787" class = "comment">
				<p>Start with my TL;DR -  put some effort into editing your question or at least cut it down to one specific model. 5s or 5</p>
			</div>
			<div id = "comment-5788" class = "comment">
				<p>@bmike See my answers above--it's still unclear to me what changes and how do you want me to incorporate to the original question.</p>
			</div>
			<div id = "comment-5789" class = "comment">
				<p>@bmike  I've removed the 5 tag if that has any importance.</p>
			</div>
			<div id = "comment-5790" class = "comment">
				<p>I'm clearly not helping you despite trying. I'll let someone else give you advice on how to edit your post to make it more clear and less broad, more fact and less shopping.</p>
			</div>
			<div id = "comment-5791" class = "comment">
				<p>@bmike Also a way to go, thanks!</p>
			</div>
			<div id = "comment-5802" class = "comment">
				<p>@bmike Any updates on our next steps?</p>
			</div>
			<div id = "comment-5813" class = "comment">
				<p>@bmike Bring up my post.</p>
			</div>
			<div id = "comment-5835" class = "comment">
				<p>@bmike Also, there's very similar question (on another model of iPhone) which is alive and well, AFAICT. How is it fundamentally different? http://apple.stackexchange.com/questions/196453/tell-if-screen-is-original-or-replacement-on-iphone-5</p>
			</div>
			<div id = "comment-5840" class = "comment">
				<p>I opened it for 3 days and you didn't answer. I've reopens it yet again. Please post your answer expeditiously. I will close it again if there isn't an improvement that is substantial.</p>
			</div>
			<div id = "comment-5841" class = "comment">
				<p>@bmike Please respond above on how I can actually improve the answer -- you never responded to any of my answers / clarifying questions. Until that it doesn't add any value to reopen the original post, as I hardly understand what exactly I should do in order to comply.</p>
			</div>
			<div id = "comment-5842" class = "comment">
				<p>I've already answered in the answer section. If you have a post to make on the main site please do it promptly.</p>
			</div>
			<div id = "comment-5844" class = "comment">
				<p>@bmike I removed all about iPhone 5 entirely, as well as "exorbitant price". As long as iPhone 5 is not there any more, I also removed any links to YouTube as they are not directly applicable any more.</p>
			</div>
			<div id = "comment-5845" class = "comment">
				<p>@bmike From this point, I see no other ways to provide prior research--any suggestions?</p>
			</div>
			<div id = "comment-5846" class = "comment">
				<p>@bmike "Lastly, you have an answer, so the need to open it for more answers is less dire IMO. Anyone that knows more than the answerer can edit to improve the post" -- how can this be consistent with the "answer edits by other users should not change the meaning of an original answer"?</p>
			</div>
			<div id = "comment-5847" class = "comment">
				<p>I made two exceptions to the close to afford you the opportunity to answer. If you can't separate your desire to have me explain more on why it's off topic from the request to add your own answer, I'm afraid I'll just let another moderator handle things from here on out. Best of luck and cheers.</p>
			</div>
			<div id = "comment-5848" class = "comment">
				<p>@bmike My meta question is titled "How can I make my question comply to all Ask Different guidelines?" I did everything I can think of to follow your suggestions and reply to all of your questions. I am absolutely welcoming handing the issue to another moderator, as [I did one month ago](http://meta.apple.stackexchange.com/questions/2559/how-can-i-make-my-question-comply-to-all-ask-different-guidelines?noredirect=1#comment5790_2559)--but no one appeared since.</p>
			</div>
			<div id = "comment-5849" class = "comment">
				<p>@bmike The overall process so far doesn't look extremely cooperative or constructive from my POV--especially that ["I solved my problem long ago, and now only trying to leave as much reusable information as possible"](http://apple.stackexchange.com/questions/194934/how-to-check-if-the-screen-replacement-part-for-iphone-5s-is-an-original-one#comment237399_194934) -- and that an [absolutely similar question](http://apple.stackexchange.com/questions/196453/tell-if-screen-is-original-or-replacement-on-iphone-5) on iPhone 5 is alive and well, without any scrutiny at all.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2559">Record</button>
				<button class="record-stop" id="stop-2559">Stop</button>
				<p id="recording-2559"></p>

<h1>Answers</h1>
			<br><div id = "ans-2560"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>It looks good to me now. It is asking how you can check that a replicament part is genuine.</p>

<p>I can see not way in that this is for Customer support. Actually having seen a few closed under that I wonder if the wording of the close reason is wrong. Asking for off site resources should be off topic - why is Customer support even asked for?</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5777" class = "comment">
				<p>I disagree - hence the close vote. This isn't about apple services - it's about a single user, iPhone 5s and iPhone 5 and a single repair shop IMO. It's basically like - how can I tell if these beats are genuine or knock-off. It's shopping and vague and will solicit opinions instead of facts. I agree the close reason is a catch-all for crappy questions. We might need to rework the close reasons looking at the close data we've recently been granted by the site tools.</p>
			</div>
			<div id = "comment-5780" class = "comment">
				<p>@bmike the OP is asking how he can check - your response is he can't - but that does not make the question incorrect</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2560">Record</button>
				<button class="record-stop" id="stop-2560">Stop</button>
				<p id="recording-2560"></p>
			<br><div id = "ans-2561"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The reopening process is covered in detail at: </p>

<ul>
<li><a href="https://apple.stackexchange.com/help/reopen-questions">https://apple.stackexchange.com/help/reopen-questions</a></li>
</ul>

<p>You will need to edit the question for me to cast a reopen vote.</p>

<p>My suggestion is to think about these issues:</p>

<ol>
<li><p>Are you looking for knowledge? If so, remove price and the part about how you want to be sure that one specific repair shop uses parts that you feel are "genuine".</p></li>
<li><p>Are you asking to learn how Apple sources repair parts?</p></li>
</ol>

<p>As it stands, it's about you interacting with an un-named repair shop that isn't authorized by Apple.  </p>

<p>It seems you need to:</p>

<p>a) write a written contract requiring the vendor to use "official" parts
b) demand documentation of that before paying</p>

<p>It's not clear if you've done any research. What does <a href="https://locate.apple.com" rel="nofollow noreferrer">https://locate.apple.com</a> list for options? How much is a repair part? You can get quotes for parts to be mailed to you for Apple parts. If you did that work, please document it in the question as it removes the "opinion" of too costly. Facts can't be mis-interpreted but without documenting what you are really trying to do - this question, <em>in my opinion</em> will get all sorts of bad answers. The answerer can't guess from all the options you might need help. Lastly, you have an answer, so the need to open it for more answers is less dire IMO. Anyone that knows more than the answerer can edit to improve the post.</p>

<p>As it stands, the question has several issues:</p>

<ol>
<li>Too broad - iPhone 5 and iPhone 5s are lumped together.</li>
<li>Too vague - you don't show your research and instead ask for opinion. (linking to two youtube videos isn't the sort of research that works here - you should summarize the key facts you wish to discuss from a video and keep the link for background).</li>
</ol>

<p>TL;DR - put some effort into editing it or at least cut it down to one specific model. 5s or 5</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5782" class = "comment">
				<p>I'm confused on which is the best place to answer your many questions. You redirected from original question to meta, but also ask some of clarifyng questions in the chat. I'm not sure how or whether it's be a good thing to incorporate all the clarifications in the original question at AskDifferent, but of course I can clarify whatever you ask. As a separate answer here at Meta? As an update to my Meta post? Both sound counter-intuintive for me, but I can live with it. Comments were ruled out earlier.</p>
			</div>
			<div id = "comment-5783" class = "comment">
				<p>Went ahead and added clarifications to question here on Meta--although, again, it's very counter-intuintive.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2561">Record</button>
				<button class="record-stop" id="stop-2561">Stop</button>
				<p id="recording-2561"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>