<html>
	<head>
		<title id = 'pagetitle'>How suitable is this example question for the main site?
		</title>
	<head>
	<body id = 'pagebody'><p>Would this be suitable as a question on Ask Different?</p>

<p><strong>Using A Combination of Android &amp; iOS Devices in Everyday Digital Life?</strong></p>

<p>I have often heard the phrase, if you own an iOS device that is what you should stick to, in order to immerse yourself &amp; harmonise your activities within Apple's ecosystem.</p>

<p>Similarly if you own an Android smartphone, you should own an Android tablet in order to immerse yourself &amp; harmonise your activities within the Android/Google Ecosystem.</p>

<p>Whilst this makes perfect sense to me......</p>

<p>If one were to combine an iDevice, either iPhone or iPad with an Android device (either smartphone or tablet), and therefore immersing yourself in both worlds.</p>

<p>Is one giving oneself additional hassle in everyday life with such an arrangement (as opposed to just to sticking to one or the other) ?</p>


<h1>ANSWERS</h1>
		<p>Seem to run afoul of the guidelines to have a practical question. </p>

<ul>
<li><a href="https://apple.stackexchange.com/help/dont-ask">https://apple.stackexchange.com/help/dont-ask</a></li>
</ul>

<p>What specific problem would you be trying to solve by asking a question like the one you proposed? </p>


	</body>
</html>