<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How can we define the new Music~Video iOS apps?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1017" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::79</h3>
				<h2>How can we define the new Music~Video iOS apps?</h2>
<p>iOS 5 brought us Music and Video as two seperate apps, these cannot be tagged correctly as the description for Music relates to songs and sond that is playing not the app, and the same applies to video.</p>

<p>Does anyone have any suggestions for creating tags specfically for these apps?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1017">Record</button>
				<button class="record-stop" id="stop-1017">Stop</button>
				<p id="recording-1017"></p>

<h1>Answers</h1>
			<br><div id = "ans-1018"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>While not ultra-elegant, I've found myself referring to these programs as Music.app, Video.app and, to extend the system, Mail.app to distinguish the application from the overall concept.</p>

<p>I am suggesting this "without ego" because I agree (in advance) with those who find the solution ugly and cumbersome. </p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1841" class = "comment">
				<p>`Music.app` and `Videos.app` are certainly the most common names given when not just generally calling them "the Music app" or "the Music player". Akin to, as you said, `Mail.app`, `Settings.app`, etc.</p>
			</div>
			<div id = "comment-1844" class = "comment">
				<p>We already have a `mail.app` tag, so I think this is probably the way to go.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1018">Record</button>
				<button class="record-stop" id="stop-1018">Stop</button>
				<p id="recording-1018"></p>
			<br><div id = "ans-1022"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Another approach would be to leverage the existing hyphen methodology:</p>

<p>music-app</p>

<p>video-app</p>

<p>mail-app </p>

<p>The last would presumably be further refined through the use of additional operating system tags. </p>

<p>This approach is somehow less "ugly" to my eye.  It doesn't modify the names of the applications as we normally see them.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1846" class = "comment">
				<p>You actually answered the question about tagging itself! Well said. I agree that I think that style makes sense for a few different reasons.</p>
			</div>
			<div id = "comment-1847" class = "comment">
				<p>I foresee a little confusion with mail.app, unless the correct 10.7 or iOS-5 etc tag is used in conjunction, it may not be totally clear.</p>
			</div>
			<div id = "comment-1848" class = "comment">
				<p>Hence my comment about using a second tag to clarify. This would be a problem for either of these tag styles. The bigger issue that I see is that  multiple OS tags and a "specific search" may cause answers to general questions about mail.app (for either device family) to be missed. It's an imperfect world.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1022">Record</button>
				<button class="record-stop" id="stop-1022">Stop</button>
				<p id="recording-1022"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>