<html>
	<head>
		<title id = 'pagetitle'>How to improve my answers?
		</title>
	<head>
	<body id = 'pagebody'><p>I want to give answers to some questions that I know the answer to, but I don't know how to express my answer. What should I keep in mind when I answer any questions?</p>


<h1>ANSWERS</h1>
		<p>Two good places to start are</p>

<ul>
<li><a href="https://apple.stackexchange.com/tour">Two Minute Tour</a></li>
<li><a href="https://apple.stackexchange.com/help">Help Center</a></li>
</ul>

<p>Especially the help center contains a lot of information about how to participate on the site and how the different things work. There is also one page about <a href="https://apple.stackexchange.com/help/how-to-answer">How do I write a good answer?</a>.</p>


	</body>
</html>