<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>How to treat questions whose intentions may be nefarious?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1536" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::56</h3>
				<h2>How to treat questions whose intentions may be nefarious?</h2>
<p>With <a href="https://apple.stackexchange.com/q/75175/26522">some questions</a> a concerned user <strong>may</strong> suspect that the item in question may be stolen. Other example: "I bought this Mac but can t log in" ... you get my drift.</p>

<p>On the other hand, the request may be totally legitimate. What is the best way to deal with those suspicions? Shall I post a witty comment? Is a downvote OK? Any other ideas?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1536" class = 'collapse'>
			</div>
				<textarea id = "speech-1536" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1536">
					<img id="start_img-1536" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1537"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Flag things that mention piracy or theft, but remember we are not really the police force and just about any security question could be used by people for "black hat" purposes.</p>

<p>Voting is the best manner for the community to raise good questions (which helps indirectly to submerge poor questions). In this case, a downvote seems merited based on the criteria listed for general voting:</p>

<ul>
<li>This question does not show any research effort</li>
<li>It is unclear</li>
<li>It is not useful</li>
</ul>

<p>I could see most people feeling the question isn't useful (most people look up the user's manual and learn how to reinstall things) and doesn't show any research effort (If the OP tried looking up help and links to the help they found) it would be more useful since others will know the resource they consulted is available and may not have helped and will draw more answers targeted for the problem at hand.</p>

<p>If more people buried poor questions, the OP might still get an answer, but it won't be featured in lists and someone who isn't aware of the grey area might clarify things if they were misunderstood.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1537" class = 'collapse'>
			</div>
				<textarea id = "speech-1537" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1537">
					<img id="start_img-1537" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1538"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Innocent until proven guilty.  If someone says, "I stole this mac from my brother and want to change the wallpaper as a joke," you politely tell them where to go and how to get there.  "If someone says, "I bought this used, and can't log in," and you know the answer, help them.  An example: Second hand stores.  I've seen used laptops at second hand stores.  The store doesn't always know anything about it.  I've seen used computers at consignment stores too, and no, the store won't let you contact the seller.</p>

<p>I do information security for a living.  I sometimes ask the nefarious questions.  It's my job.  I want to know if there is a way to do "X."  And telling me, "If it's your job, you already know..." is B.S.  New exploits happen all the time.</p>

<p>In short, it's not your job to be judge, jury, and executioner.  Unless someone states they are doing something wrong, who are you to assume otherwise?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1538">Load Comments</button></br>
			<div id = "commentsection-1538" class = 'collapse'>
			<div id = "comment-2886" class = "comment">
				<p>Fair point, and I agree. Quite timely reminder as I almost downvoted an OP posted " I ripped movies " yesterday. Then I saw your post and gave the OP the benefit of the doubt.</p>
			</div>
			</div>
				<textarea id = "speech-1538" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1538">
					<img id="start_img-1538" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>