<html>
	<head>
		<title id = 'pagetitle'>How to get my question re-opened?
		</title>
	<head>
	<body id = 'pagebody'><p>I recently asked this question <a href="https://apple.stackexchange.com/questions/170938/macbook-air-usb-c-to-usb-a">Are there USB-A to USB-C adapters for the Early 2015 MacBook</a> and it was closed as "primarily opinion-based" due to there not being enough detail since it was all rumours then. Now the 12  Air has been launched, could we re-open it? This is because there's more official detail about it and if not there will be soon.</p>


<h1>ANSWERS</h1>
		<p>As it stands, it's both opinion-based and off topic. We are for practical questions about shipping hardware. I would say you can edit to ask more "how to determine how USB-C works and less dependent on Apple releasing a modified MacBook Air in 2015.</p>

<p>The short answer, is no one can order any Apple product with USB C so there's not much benefit to the site to have a speculative discussion question open. If and when hardware is orderable and/or announced with technical details - flag that question for moderator review if you don't have the reputation to cast a reopen vote.</p>

<p>If you were to change this to be - is there anything in the <a href="https://en.wikipedia.org/wiki/USB#TYPE-C" rel="nofollow">USB-C connector specification</a> that makes it impossible to plug in a <a href="https://en.wikipedia.org/wiki/USB#Connector_types" rel="nofollow">Standard A USB connector</a> - I couldn't see keeping it closed.</p>

<p>Basically, when you have a hardware purchase dilemma, ask here how to educate yourself to understand the technology directly. Illuminate that core question with the hardware you wish to buy - but make the question about how does one learn to understand [protocol | connector | software | performance benchmarking | etc... ] so that you can make a good decision.</p>

<p>Shopping questions that revolve around price, avaiability, or soft generalizations (e.g. Which MacBook for a developer) get closed as off-topic and/or opinion based.</p>

<p>Cheers and welcome to the site. I look forward to learning about USB C as well.</p>


	</body>
</html>