<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How can I get an answer to a user when I don't have enough rep to answer his question directly?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2357" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::32</h3>
				<h2>How can I get an answer to a user when I don't have enough rep to answer his question directly?</h2>
<p>An Ask Different user has a problem that I also had. I found a solution this morning and wanted to answer his question, but the question requires a 10 rep to answer. I have a six rep, so I can neither answer or comment on the question. I also looked for a way to message him, but found none. Is there a way to message him? Any ideas on how I can get this guy the solution to his problem?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2359"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Post a link to the question. We can consider un-protecting it.</p>

<p>Or better: earn the reputation to answer it. You're only four rep points away. That's easy enough to obtain answering one, unprotected question with a great answer. Or doing some suggested edits to some questions and answers. Or some voting.</p>

<p>See <a href="https://apple.stackexchange.com/help/whats-reputation">What is reputation? How do I earn it?</a> for some suggestions on how to break the 10 rep barrier.</p>

<p>It's not arduous or time consuming.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>