<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>How, exactly, would winners be determined if more than five users complete Level 3?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1220" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::194</h3>
				<h2>How, exactly, would winners be determined if more than five users complete Level 3?</h2>
<p>In the <a href="http://thenewipadishere.com/" rel="nofollow">New iPad Contest</a>, the rules state:</p>

<blockquote>
  <p>We can give away a maximum of 25 iPod touch devices and a maximum of 6 new iPads (5 for Level 3, and 1 for the raffle). In the event that more than the maximum number of people complete the Levels, the winners with the highest combined score on their contest posts will be chosen.</p>
</blockquote>

<p>Should more than five users complete Level 3 (a possibility looking more and more likely, despite my prediction that we'd be lucky if a grand total of two people completed the challenge!), how exactly are winners chosen? It says "highest combined score on their contest posts", but which posts are contest posts for Level 3 purposes? The first 35 questions asked during the contest? The highest scoring 35 questions asked during the contest? All not closed, not deleted questions and answers from the contest time period?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2228" class = "post">
				<p>I'd add to this question: if someone is not in the top 5 of Level 3, are they guaranteed to get an iPod? That is, are they ranked along with the Level 2-ers? / Is it possible that someone in Level 3 has less total score on "contest posts" than people in Level 2, and thus wins nothing?</p>
			</div>
			<div id = "comment-2234" class = "post">
				<p>They've already committed to $8,000 worth of prizes ($5,000 for 25 ipods, $3,000 for 6 ipads) but I'm secretly hoping that since the contest obviously exceeded their expectations, they might exceed the contestants expectations and increase the prizes (number of prizes/winners, or new level with higher end ipads or laptops), though that's probably unlikely.  Still, I'm about to hit level two and I suspect I'm going to have to hit level three just to get an ipod.  I've pretty much written off the ipads since at best I might be 16th to 20th place overall.  I can't catch up to the leaders now...</p>
			</div>
			<div id = "comment-2239" class = "post">
				<p>I'm curious if, for any reason, bounties would not be considered as part of the "highest combined score".</p>
			</div>
			<div id = "comment-2243" class = "post">
				<p>There is a related question [here](http://meta.apple.stackexchange.com/questions/1211/if-there-are-6-winners-in-level-3-will-the-one-ranked-6-win-an-ipod) where I left an answer that should clarify your questions. Let me know if it doesn't. Thanks!</p>
			</div>
			<div id = "comment-2245" class = "post">
				<p>@Lauren: what are your thoughts on Adam's point below? "It may be that latecomers will have somewhat of an advantage by spending more time crafting questions and answers that will be more highly scored for their entries than those who have already reached a given level and locked in their contest entries with generic questions and answers."</p>
			</div>
			<div id = "comment-2252" class = "post">
				<p>It's an interesting thought. I think people who post early also have an advantage though, because their posts will be up longer and have more opportunities to be voted on. These rules weren't meant to encourage or discourage people from posting early or later, they're just there for tie-breaking purposes if necessary.</p>
			</div>
			<div id = "comment-3772" class = "post">
				<p>This question is closed since the relevant promotion is over and that code inactive.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1228"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Lauren, part of the community development/evangelism team (CHAOS) at Stack Exchange that is running this contest, <a href="https://apple.meta.stackexchange.com/a/1227/219">posted the following clarification</a>:</p>

<blockquote>
  <p>To figure out who the "top 5" are, we'll look at the posts you made for the contest and figure out the total combined score (so if all 35 of your posts had a score of 6, your combined score would be 35*6 = 210). The 5 who have the highest combined score will get an iPad.</p>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2300" class = "post">
				<p>Your score is _not_ locked in. Lauren clarified this in an edit to the same post: "The posts that will count for the tie breaker are the highest-scored posts you made during the contest. For Level 2 that will be the top 20 posts and for Level 3 that will be the top 35 posts"</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>