<html>
	<head>
		<title id = 'pagetitle'>I can't answer anything on Apple.SE so there is no way to gain reputation now
		</title>
	<head>
	<body id = 'pagebody'><p>I just opened a account here on apple.stackexchange.com. I know the rules and was ready to answer some questions when I noticed that I am not allowed to answer any questions at all. </p>

<p>In the following picture I circled what I see: the link leads me to questions where all of them have this warning. Basically it's a loop. It leads me to questions that I can't answer because the community blocked low rep people. I can't find a single question that isn't blocked.</p>

<p><a href="https://i.stack.imgur.com/SNfmc.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/SNfmc.png" alt=""></a></p>

<p>If someone could please confirm this and help me with this it would awesome. </p>


<h1>ANSWERS</h1>
		<p>You can answer questions, except for a tiny percentage which are protected.</p>

<p>The question in your screenshot was protected automatically since there were many answers posted to that question which did not answer the question (spam, "me too", "thanks", etc) and have since been removed.</p>

<p>For more information about protected questions, see <a href="https://meta.stackexchange.com/questions/52764/what-is-a-protected-question">What is a  protected  question?</a>.</p>

<p>If you want to provide an answer to a protected question, ask in <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">chat</a> for it to be unprotected. Otherwise, look for other questions which are not protected. You can find unprotected questions by searching for  <a href="https://apple.stackexchange.com/search?tab=newest&amp;q=is%3aquestion%20hasnotice%3ano">is:question hasnotice:no</a> .</p>


	</body>
</html>