<html>
	<head>
		<title id = 'pagetitle'>I can't comment, so should I simply ignore questions that I have questions about?
		</title>
	<head>
	<body id = 'pagebody'><p>Hopefully one day I'll get above 50 rep and it won't matter, but what is the SOP for interacting with questions until then? Only ask new questions and answer old ones?</p>


<h1>ANSWERS</h1>
		<p>You're over 55 now. The "able-to-place-comments"-privilege is actually fully understandable once you get more reputation.
The most understandable cause is because if everyone could enter comments from 1 reputation, this SE-platform would be a massive mess with a lot of spam. <strike>(You might see one of these in the future, when you can review first-posts)</strike></p>

<p>If you start by answering a (relatively) easy question, you get 10 points for every upvote, and +15 when an answer (you gave) is accepted.</p>

<p>I hope this answers your question.</p>


	</body>
</html>