<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>I can't comment, so should I simply ignore questions that I have questions about?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1970" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::27</h3>
				<h2>I can't comment, so should I simply ignore questions that I have questions about?</h2>
<p>Hopefully one day I'll get above 50 rep and it won't matter, but what is the SOP for interacting with questions until then? Only ask new questions and answer old ones?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3779" class = "comment">
				<p>Every upvoted answer gives you +10 reputation, so just picking answerable questions and writing good-quality answers should get you over the limit in a few days. Comments aren't as crucial here as on forum-based sites though, see the [Help Center](http://apple.stackexchange.com/help/privileges/comment) for details.</p>
			</div>
			<div id = "comment-3780" class = "comment">
				<p>I've just had three or four answers converted to comments and then been unable to reply when the original questioner then asks a question. It is a little awkward.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1973"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>You're over 55 now. The "able-to-place-comments"-privilege is actually fully understandable once you get more reputation.
The most understandable cause is because if everyone could enter comments from 1 reputation, this SE-platform would be a massive mess with a lot of spam. <strike>(You might see one of these in the future, when you can review first-posts)</strike></p>

<p>If you start by answering a (relatively) easy question, you get 10 points for every upvote, and +15 when an answer (you gave) is accepted.</p>

<p>I hope this answers your question.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>