<html>
	<head>
		<title id = 'pagetitle'>I got a Tumbleweed badge - woopy doo!
		</title>
	<head>
	<body id = 'pagebody'><p>What purpose does the Tumbleweed badge serve apart from annoying me? And now I'm getting this: <em>This question body does not meet our quality standards. Please make sure that it completely describes your problem - including what you have already tried - and is written using proper grammar.</em></p>


<h1>ANSWERS</h1>
		<p>One "point" to the Tumbleweed badge is that it makes it more likely that someone might find your question. If any users are looking to be helpful on questions that others have passed on, they can watch <a href="https://apple.stackexchange.com/help/badges/21/tumbleweed">the tumbleweed page</a> for posts that haven't gotten the attention they deserve.</p>

<p>The system gives the Tumbleweed designation to posts that have flown under the radar. That can help them get noticed.</p>


	</body>
</html>