<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>I successfully suggested an edit to a tag wiki. Why no [tag editor] bronze badge?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-852" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::54</h3>
				<h2>I successfully suggested an edit to a tag wiki. Why no [tag editor] bronze badge?</h2>
<p>Several days ago, I <a href="https://apple.stackexchange.com/q/27062">successfully suggested an edit to a tag wiki</a>, yet for some reason I haven't earned the bronze <a href="https://apple.stackexchange.com/badges/53/tag-editor">tag editor</a> badge. Does anyone know why not?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-853"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>To get the badge you need to not only edit the summary, but also edit the full article on that tag. It's the big box under the summary that you left empty. </p>

<p>In this spot you would put a fuller description of it, in this case perhaps the changes from iPhone 4 to iPhone 4S</p>

<p><img src="https://i.stack.imgur.com/g3hAo.png" alt=""></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1591" class = "post">
				<p>Thanks for the clarification!</p>
			</div>
			<div id = "comment-1592" class = "post">
				<p>@Daniel no problem! I had the same questions too before :P</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>