<html>
	<head>
		<title id = 'pagetitle'>I successfully suggested an edit to a tag wiki. Why no [tag editor] bronze badge?
		</title>
	<head>
	<body id = 'pagebody'><p>Several days ago, I <a href="https://apple.stackexchange.com/q/27062">successfully suggested an edit to a tag wiki</a>, yet for some reason I haven't earned the bronze <a href="https://apple.stackexchange.com/badges/53/tag-editor">tag editor</a> badge. Does anyone know why not?</p>


<h1>ANSWERS</h1>
		<p>To get the badge you need to not only edit the summary, but also edit the full article on that tag. It's the big box under the summary that you left empty. </p>

<p>In this spot you would put a fuller description of it, in this case perhaps the changes from iPhone 4 to iPhone 4S</p>

<p><img src="https://i.stack.imgur.com/g3hAo.png" alt=""></p>


	</body>
</html>