<html>
	<head>
		<title id = 'pagetitle'>I think there is a bug in the system
		</title>
	<head>
	<body id = 'pagebody'><p>I seem to be the victim of a bug that effects the reputation "score" system.  About two days ago I a question which was down voted that day and the day before it was asked, how can that happen?</p>


<h1>ANSWERS</h1>
		<p>I've taken a look at your reputation on the main site, and it looks like the balance is correct.</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/109103/tom?tab=reputation">https://apple.stackexchange.com/users/109103/tom?tab=reputation</a></li>
</ul>

<p>The only vote that you didn't receive was an initial down vote and rather than give you negative reputation, the casting of that vote only cost the voter and not you reputation.</p>


	</body>
</html>