<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>I think system specifications should show as signature?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1141" class = "post">
			<h2>Question</h2>
			<h3>Score ::-6</h3>
			<h3>Views ::130</h3>
				<h2>I think system specifications should show as signature?</h2>
<p>When ever i asked question in this forum. i got some common comments like what is your system's specifications. 
So i want to propose this feature request that while registering, user should provide the specifications of his system and it will be shown on mouse over event or something.</p>

<p>I will also feel comfortable when i have some knowledge of system requirements of OP system.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1141">Load Comments</button></br>
			<div id = "commentsection-1141" class = 'collapse'>
			<div id = "comment-2070" class = "comment">
				<p>for this http://apple.stackexchange.com/questions/41450/how-can-i-tell-if-a-game-will-run-on-my-machine and this http://apple.stackexchange.com/questions/41611/parallels-with-windows-8-is-very-slow this question i asked for my system specifications. So i thought about this feature request.</p>
			</div>
			<div id = "comment-2077" class = "comment">
				<p>I think those were removed because they weren't relevant and cluttered up the question.</p>
			</div>
			</div>
				<textarea id = "speech-1141" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1141">
					<img id="start_img-1141" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1142"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>Stack Exchange as a whole does not do signatures. When I'm reading a question regarding an iOS device, I hate skimming over way too-many lines of Desktop/Laptop specifications, especially when they delve into listing certain low-level apps that they felt were relevant when creating their signature.</p>

<p>Not to even mention how out-of-date this information gets.</p>

<p>It is, in my opinion, not unreasonable to expect the user asking a question to provide this information when necessary.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1142">Load Comments</button></br>
			<div id = "commentsection-1142" class = 'collapse'>
			<div id = "comment-2071" class = "comment">
				<p>so do you think that without system information answer will not out-of-date? ok i will propose that create some tag or something for system specification. so that it will be easy to add in your question when it asked from other users.</p>
			</div>
			</div>
				<textarea id = "speech-1142" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1142">
					<img id="start_img-1142" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1143"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>A question should contain the information needed to solve the OP's problem. Sometimes that does include system information. Sometimes it does not. Some users have more than one system. Some users' systems change over time.</p>

<p>An automated system <em>might</em> reduce the number of information requests needed to answer a question, or it might provide wrong/out-of-date information that still requires information requests.</p>

<p>I would suggest that this piece of complexity would not be merited by the problems it might solve.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1143" class = 'collapse'>
			</div>
				<textarea id = "speech-1143" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1143">
					<img id="start_img-1143" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1144"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::12</h3>
				<p><p>I've seen similar systems implemented on other sites (like the Apple Discussions).</p>

<p>The idea is good (force people to know and tell us their system info), but this kind of feature isn't always helpful or practical, for a few reasons:</p>

<ul>
<li><strong>It isn't always necessary</strong><br>
Many questions (especially those that relate to software) don't require system info.</li>
<li><strong>All of it is never necessary</strong><br>
I've never seen a question that requires background about every single piece of hardware that the asker owns. Unless there was a good way to only include the relevant system info, having it all there would be distracting and confusing ('Wait, is it the MacBook or the iMac that has the problem?')</li>
<li><strong>It takes up a lot of space</strong><br>
Listing every piece of software and hardware that you own takes up space and adds clutter. There's no reason to take up more space outside of a question's body, especially when system info isn't relevant.</li>
<li><strong>People forget to update it</strong><br>
In my experience, people are more likely to include current system info if they write it into their question as they're asking. Centralized info (profile-linked) tends to be forgotten about and gets stale.</li>
</ul>

<p>I don't think that adding system info to the signature is the right path to take.</p>

<p>What I would like to see, though, is another 'reminder' item shown while posting a question that tells people to be sure to include all relevant hardware and software information.</p>

<p>Of course people wouldn't always follow it, but commenting and asking for info is easy, and people generally respond to it.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1144">Load Comments</button></br>
			<div id = "commentsection-1144" class = 'collapse'>
			<div id = "comment-2072" class = "comment">
				<p>Also, posting system information as a signature among Mac users often turns into show-and-tell or bragging about just how cool one's personal rig is.</p>
			</div>
			<div id = "comment-2073" class = "comment">
				<p>I would go so far as to say, it's actively harmful in many cases as it removes the details from the question and promotes disregard for that sort of information when it is attached by default to all questions. Adding this seems very against the signal to noise design of the stack exchange network unless some sophisticated code were in place to prevent the times when this data should not be included.</p>
			</div>
			</div>
				<textarea id = "speech-1144" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1144">
					<img id="start_img-1144" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1145"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>A distinct point that I just thought of; In some cases, at least for myself personally (and maybe also bmike?), I have routinely asked questions on behalf of another individual. Or in other cases, I've asked questions that relate to hardware at work.</p>

<p>In this case, it was just a software (OS X Server) question, but had it been a hardware question, it would have been <em>another</em> entry I'd have to add into some constrained system that you're proposing.</p>

<p>The answer is really very simple:</p>

<p>Add the detail that is relevant to the question you ask, no more, and certainly no less.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1145" class = 'collapse'>
			</div>
				<textarea id = "speech-1145" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1145">
					<img id="start_img-1145" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1146"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::9</h3>
				<p><p>I strongly oppose this. One of the HUGE problems in searching the internet and finding a result on the Apple discussion forums is that very often the machine I'm searching for isn't mentioned anywhere in the thread, but instead in someone's signature on the page as one of a litany of machines they happened to own. Very frustrating if you need to find an answer. If Ask Different allowed this, we would have the same problem.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1146" class = 'collapse'>
			</div>
				<textarea id = "speech-1146" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1146">
					<img id="start_img-1146" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1147"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Don't think any further answers are required, but I'll add a small point anyway, which is that if everyone on here did this, every question ever would look like a roll call of who chugged the most Kool-aid.  Putting my 3 macs, 1 iPad, 2 iPhones, 1 iPod Touch, 2 Airport Extreme Routers, 1 Time Capsule, Magic Trackpad and various other keyboard/mouse accessories etc would make every question waste as much space as this answer, especially given that generally speaking it's software levels, not hardware, that is the most pertinent piece of config info required to effectively assist.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1147" class = 'collapse'>
			</div>
				<textarea id = "speech-1147" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1147">
					<img id="start_img-1147" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1148"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I also strongly oppose this for the exact same reasons that everyone else has.<br>
However, my suggestion is <em>not</em> to add a new feature to Ask Different. I would suggest you save a document with all the specs for your machines/devices. Then when you need the specs, you can just copy/paste. You could also create a TextExpander shortcut.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1148" class = 'collapse'>
			</div>
				<textarea id = "speech-1148" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1148">
					<img id="start_img-1148" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>