<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>I want this information as part of the answer that I edited, not as a separate answer
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1923" class = "post">
			<h2>Question</h2>
			<h3>Score ::-9</h3>
			<h3>Views ::78</h3>
				<h2>I want this information as part of the answer that I edited, not as a separate answer</h2>
<p>Sorry guys, but I don't want this as a separate answer. Either accept my edit or lose the information from this site.</p>

<p><a href="https://apple.stackexchange.com/review/suggested-edits/50199">https://apple.stackexchange.com/review/suggested-edits/50199</a></p>

<p><em>This is just a note to the community. I won't be reading answers or comments to this.</em></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1923" class = 'collapse'>
			</div>
				<textarea id = "speech-1923" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1923">
					<img id="start_img-1923" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1924"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I've reviewed the post and agree with the reviewers that rejected the edit.</p>

<p>For the record, one reviewer approved and two rejected.</p>

<p>The content posted by what was excellent, but made a long post even longer and was rejected. I'll see if I can make a way to approve the edit and then fix it so it flows with the prior work in accordance with the idea that edits should flow and not be called out / tacked at the bottom of a post in general.</p>

<p>Thanks for alerting us - and sorry you decided to leave.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1924">Load Comments</button></br>
			<div id = "commentsection-1924" class = 'collapse'>
			<div id = "comment-3709" class = "comment">
				<p>Agreed, the popular vote says the edit isn't valid and I have to side with the popular vote here.</p>
			</div>
			</div>
				<textarea id = "speech-1924" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1924">
					<img id="start_img-1924" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1925"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Can't lose the information from the site, it's now there, and should I choose to take your edit and include it as an answer by myself, I am within my rights to do so, as the information was freely provided to SE - you cannot ungive it.  As it stands, I'm not, but the point stands that this site is collaboratively edited, so while as you know you can happily edit other users work (whether this is wholesale rewrite or just tagging an "Edit: blah..." on the end), the same works both ways, and you cannot demand that an edit is kept.  If you want control over what your contribution says, then post it as your own answer, and roll back any edits made if you don't like them.  Appreciate you went to some length to find an obscure solution to this answer, but can't see why you don't want to include it as an answer attributed to you where you may receive appropriate rep from it, rather than tagging it to a relatively unrelated answer.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1925" class = 'collapse'>
			</div>
				<textarea id = "speech-1925" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1925">
					<img id="start_img-1925" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1935"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>But that is not how the site works.  </p>

<p>Just for completeness I posted the answer as an answer.  If you decide to change your mind and post it as an answer I will remove mine.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1935">Load Comments</button></br>
			<div id = "commentsection-1935" class = 'collapse'>
			<div id = "comment-3719" class = "comment">
				<p>That's fine by me.</p>
			</div>
			<div id = "comment-3720" class = "comment">
				<p>Thanks for the accept but it belongs to you, I don't understand why you don't want the rep for your answer.</p>
			</div>
			<div id = "comment-3721" class = "comment">
				<p>I don't get it, the OP doesn't want it as an answer, and provides an ultimatum of accept it as an edit or lose it, but then accepts it when someone takes it out of the edit and then provides it as an answer?!  I don't mind, that answer is the better for it, I just don't understand the OPs intentions or thinking</p>
			</div>
			<div id = "comment-3722" class = "comment">
				<p>@stuffe you are not alone.</p>
			</div>
			</div>
				<textarea id = "speech-1935" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1935">
					<img id="start_img-1935" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>