<html>
	<head>
		<title id = 'pagetitle'>I would like to close and Delete my account here
		</title>
	<head>
	<body id = 'pagebody'><p>Some feedback to Admin, my experience here is not good, this place is hostile not helpful and extremely pre judemental. If the question is not asked in perfect english that is already a big problem here? Please completely delete my account and all associated activity with it.
Thank you</p>


<h1>ANSWERS</h1>
		<p>First thing to note is that closing a question does not mean getting rid of it. It just means that it is difficult to understand and the poster needs to clarify what they are asking. Also I am writing this not just for @Borderline but to point out similar issues. e.g. there are metastackexchange threads on the problem of close and what it means to new users.</p>

<p>In general you have to make questions and answers understandable - so you do not need perfect English (noone has that) but the question or answer has to be understandable. If the question or answer is understandable then others will improve the English.</p>

<p>You should also to read FAQs etc on how to use the site as you should for any web site you use. (As you don't have the Analytical Badge we can all see you have not done so).</p>

<p>This question has been moved to Meta Ask Different as that where questions about the site go (or for accounts arguably meta stack exchange as account management is the same for all sites.</p>

<p>To delete an account see this <a href="https://meta.stackexchange.com/questions/5999/how-can-i-delete-my-account">FAQ</a> entry (Note and this part should not really be here should the Ask Different FAQ also include the main SE <a href="https://meta.stackexchange.com/questions/7931/faq-for-stack-exchange-sites">FAQ</a> I find the FAQ hard to find as the detailed one which includes how to delete is not linked form the FAQ link in the header. )</p>


<p>Thanks for the feedback on edits. I'll review your posts to see if there's something we could do to help with grammar if that's the sticking point.</p>

<p>You of course can self delete an account before it votes or has earned votes - but your account has enough activity that you may need to fill out this form for assistance in deleting your account.</p>

<p><a href="https://apple.stackexchange.com/help/user-deletion">https://apple.stackexchange.com/help/user-deletion</a></p>

<p>It's a two step process and irreversible. You could of course make a new account and re-join later, but the account you have already made would be lost if deleted.</p>

<p>Best wishes with whatever your decision ends up being.</p>


	</body>
</html>