<html>
	<head>
		<title id = 'pagetitle'>I'm looking for a canonical question on call blocking to help clean up the main site
		</title>
	<head>
	<body id = 'pagebody'><p>We've had many, many questions about call blocking and most of them are quite outdated.</p>

<p>I've tried to find the best canonical question and this is the one I propose we maintain as the primary target for closing duplicates.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/34157/call-blocking-for-iphone">Call blocking for iPhone?</a></li>
</ul>

<p>It's the simplest, least convoluted, and also fairly old and well indexed already by major search engines.</p>

<p>I'll post an answer with the duplicates I've closed there (no merging yet)</p>


<h1>ANSWERS</h1>
			</body>
</html>