<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>I'm seeing some pages not load where jquery.min.js is not being cached
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2677" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::93</h3>
				<h2>I'm seeing some pages not load where jquery.min.js is not being cached</h2>
<p>I don't know if this is a bug or some loading/cloudflare configuration issue, but I've been having sporadic slowness on the site the past 4 hours (Tue Nov 17 16:25:40 UTC 2015) on Safari Version 9.0.2 (11601.3.9).</p>

<p>Specifically, when looking at questions (not the main site pages), page rendering is blocked by query.min.js not being cached and taking more than 15 seconds to load (most of the time when it takes that long, it will never end up loading)</p>

<p>The rest of the network times look fine, and I do use ghostly extension - but disabling that doesn't seem to affect this issue.</p>

<p><a href="https://i.stack.imgur.com/y7FJI.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/y7FJI.png" alt="enter image description here"></a></p>

<p>Is this a bug or a user level / configuration issue?</p>

			</div><h3>Comments</h3>
			<div id = "comment-5944" class = "comment">
				<p>Also, the site now loads images from graph.facebook.com - ewww. I'm guessing adzerk is injecting it, but I'll leave that privacy mess for another question.</p>
			</div>
			<div id = "comment-5945" class = "comment">
				<p>I may have to blame comcast on this one... https://mobile.twitter.com/theFNDTN/status/666653847792824320</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2678"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I cannot reproduce this so I'll blame the network provider up stream of me rather than the site or the infrastructure that's common to the SE network.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>