<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>I'm looking for a canonical question on call blocking to help clean up the main site
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>I'm looking for a canonical question on call blocking to help clean up the main site</h2>
<p>We've had many, many questions about call blocking and most of them are quite outdated.</p>

<p>I've tried to find the best canonical question and this is the one I propose we maintain as the primary target for closing duplicates.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/34157/call-blocking-for-iphone">Call blocking for iPhone?</a></li>
</ul>

<p>It's the simplest, least convoluted, and also fairly old and well indexed already by major search engines.</p>

<p>I'll post an answer with the duplicates I've closed there (no merging yet)</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>