<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>If a question was closed, will it eventually be deleted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>If a question was closed, will it eventually be deleted?</h2>
<p>I asked this question on Ask Different:</p>

<p><a href="https://apple.stackexchange.com/questions/23798/what-will-i-miss-from-windows">https://apple.stackexchange.com/questions/23798/what-will-i-miss-from-windows</a></p>

<p>It was closed as not constructive by a moderator:</p>

<blockquote>
  <p>This question is not a good fit to our Q&amp;A format. We expect answers to generally involve <strong>facts, references, or specific expertise</strong>; this question will likely solicit opinion, debate, arguments, polling, or extended discussion.</p>
</blockquote>

<p>I realize the point of closing certain questions that are broad and solicit a lot of opinion or debate. Besides a few "me too" answers at the bottom, and the one horrible "viruses" answer, there was <strong>a lot</strong> of good answers to this question.</p>

<p>The reason I am asking is because those good answers, specifically the one I accepted, would be <strong>absolutely beneficial</strong> to Windows power users that are considering a switch to a Mac.</p>

<p>So, I am concerned if this question will eventually disappear, and this great info from a few users will be lost and of no benefit to future users. The reason I asked the question, was because there wasn't any other questions that covered the topic except this one: <a href="https://apple.stackexchange.com/questions/998/good-resources-for-those-transitioning-to-mac-os-x-from-windows">Good resources for those transitioning to Mac OS X from Windows</a>. However, the highest voted answer on this question just links to the beginner Mac video tutorials on Apple's site. Hardly the type of useful information that a power user would be looking for. The good answers on my question included valuable information that I had been unable to find from any other source.</p>

<p>And was this question really not constructive, or did it just suffer because of <a href="https://apple.stackexchange.com/questions/23798/what-will-i-miss-from-windows/23805#23805">a few overzealous users that <strong>had</strong> to get their .02 in</a>? I tried to make it as specific as possible, so that there wouldn't be a lot of general debate and opinion, but that people would answer with <strong>facts, references, or specific expertise</strong> using both platforms.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>To address the question in the title, your question will not get deleted unless specifically done so by a moderator.</p>

<p>I closed the question for two reasons. The first is in the reason I selected, specifically...</p>

<blockquote>
  <p>"this question will likely solicit opinion, debate, arguments,
  polling, or extended discussion"</p>
</blockquote>

<p>The question was clearly subjective (asking for people's individual opinions) and in quick order enabled the virus and culture debates, neither of which end well. That type of discussion has no place here (and in the Stack Exchange format in general). Normally, I would have deleted it, but since it received both answers and votes, I simply closed it.</p>

<p>The second is because this is the type of community wiki question that acts as a black hole for what could more than likely be individual questions to be asked. The accepted answer contained at least a couple of topical points that would have been more useful to the community as questions. Rather than listing what will be "missed", these really should be asked along the lines of "I used to [insert favorite Windows function here]. What is an equivalent in Mac OS X?" The question wasn't necessarily a true collaborative effort, but rather it was just a polling question.</p>

<p>Please see Grace Note's post on the blog for a more detailed explanation about how community wiki is supposed to work: <a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">The Future of Community Wiki</a>.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Closed questions are eventually deleted, but that is not automatic, and requires a moderator that deletes the question, or three 10k users who vote to delete the question.</p>

<p>Generally speaking, questions that are off-topic, not constructive, not a real question, or too localized are deleted; questions that duplicate another question are deleted if the  questions use very similar titles, and are phrased in the same way.<br>
It is up to the moderators of a site, and to 10k users, to decide when a closed question is deleted; what I reported is what generally happens, but that can change from site to site. Probably, SE sites with a higher quantity of questions are the ones where the questions are easily deleted, while in SE sites with less questions that happens less frequently.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>