<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>If I have a hypothesis as to a solution, should it be a comment or an answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>If I have a hypothesis as to a solution, should it be a comment or an answer?</h2>
<p>What should I do in these instances? It usually happens with "why" questions more than anything else.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It should be a comment for preference.  If it doesn't have a firm answer or suggestion then it's effectively discussion.  It may well allow another user to bounce off it and create a genuine answer, but the best place is in a comment.  If it's a good one, it can still be up voted as a great comment.</p>

<p>The only problem with using a comment is the lack of newline ability, and the fact that there is a character limit.  I have on occasion posted what I new to be too long for a comment even though that's what it was as a question, but I put a proviso explaining that at the top asking people not to vote on it.  Technically, that's not really a good thing to do, but the guy needed some help reading between the lines.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>