<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>If there are 6 winners in Level 3, will the one ranked 6 win an iPod?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1211" class = "post">
			<h2>Question</h2>
			<div id="vote-1211" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 238</p>
			</div>
				<h2>If there are 6 winners in Level 3, will the one ranked 6 win an iPod?</h2>
<p>It's not so clear from the contest rules:</p>

<blockquote>
  <p>We can give away a maximum of 25 iPod touch devices and a maximum of 6 new iPads (5 for Level 3, and 1 for the raffle). In the event that more than the maximum number of people complete the Levels, the winners with the highest combined score on their contest posts will be chosen.</p>
</blockquote>

<p>So will Level 3 winners who don't get an iPad be moved down to Level 2? Or will they <em>only</em> be entered in the raffle?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1211">Load Comments</button></br>
			<div id = "commentsection-1211" class = 'collapse'>
			<div id = "comment-2224" class = "comment">
				<p>My thinking on this is the other way. You can't get to level 3 without first passing level two. According to this [answer and comment](http://meta.apple.stackexchange.com/a/1188/5472) You don't get any extra entries in the raffle - so making it to level 3 and not winning shouldn't affect your odds on winning the raffle. We'll have to wait for the employees that are running the promotion to answer definitively and I'll mention it to them on Monday as I hope they don't work on weekends.</p>
			</div>
			<div id = "comment-3771" class = "comment">
				<p>This question is closed since the relevant promotion is over and that code inactive.</p>
			</div>
			</div>
				<textarea id = "speech-1211" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1211">
					<img id="start_img-1211" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1213"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1213" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If there are 6 winners in level three, then all six are also in level 2. But since each user is only eligible for one prize, and you get the prize for the highest level you complete, then the top five in level 3 will get ipads, and then the top 25 in level two - minus the 5 that already received the ipad - will get ipod touches.  Everyone in level 2 that didn't get an ipod would then be eligible for the drawing in level one.</p>

<blockquote>
  <p>Each user is only eligible for one prize. You earn the prize for the highest level you complete.</p>
</blockquote>

<p>Given the rate that level two is expanding since Wednesday when I started, I expect there will be more than 25 users in that group, and more than 5 users in level 3.</p>

<p>Once you make it into level 2 or 3, you will have to keep working to stay in the top 25 and top 5 respectively to actually get the prize.</p>

<p>Note I'm note a contest organizer or official, but this is my interpretation of the rules.  Would be nice to have Stack Exchange confirm this...</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1213">Load Comments</button></br>
			<div id = "commentsection-1213" class = 'collapse'>
			<div id = "comment-2213" class = "comment">
				<p>There are now 29 people in level 1.  Assuming everyone keeps moving forward at the pace they're moving, then only people who move faster than someone in level 1 is going to get anything except the raffle.  In other words, the top 30 people who will receive ipads and ipods are probably mostly on the winners page right now, and anyone wanting to get one, aside from the drawing, needs to beat one of them to the top, and stay ahead of them.</p>
			</div>
			<div id = "comment-2215" class = "comment">
				<p>FWIW, the mods aren't contest organizers or officials here, so our interpretation is also just speculation. What you need is a higher level still: Stack Exchange employees</p>
			</div>
			<div id = "comment-2216" class = "comment">
				<p>@DanielL Ah yes, that's true.</p>
			</div>
			<div id = "comment-2217" class = "comment">
				<p>@AdamDavis: Thanks, Adam. Your answer makes sense, especially [since users in higher levels are duplicated in the lower ones](http://thenewipadishere.com/).</p>
			</div>
			</div>
				<textarea id = "speech-1213" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1213">
					<img id="start_img-1213" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1227"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1227" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, if there are more than 5 people in Level 3, the others will get iPod Touches. They will also be entered into the raffle.</p>

<p>To figure out who the "top 5" are, we'll look at the posts you made for the contest and figure out the total combined score (so if all 35 of your posts had a score of 6, your combined score would be 35*6 = 210). The 5 who have the highest combined score will get an iPad.</p>

<p>Sorry it wasn't clear before. Make sense now? </p>

<p><strong>Edit</strong>: I've been told some people still have questions, so just to clarify - this is the score that your contest posts have. It's not your reputation or the votes you have cast, only the score on the posts that you have made.</p>

<p>The posts that will count for the tie breaker are the highest-scored posts you made during the contest. For Level 2 that will be the top 20 posts and for Level 3 that will be the top 35 posts (excluding deleted posts, closed questions, and answers to closed questions).</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1227">Load Comments</button></br>
			<div id = "commentsection-1227" class = 'collapse'>
			<div id = "comment-2241" class = "comment">
				<p>Thanks, it makes sense now.</p>
			</div>
			<div id = "comment-2244" class = "comment">
				<p>What if there are far fewer than 30 people in level 2? Just a thought, but you could take the money you were going to spend on those 25 iPod touch devices and spend them on additional iPads for level 3...</p>
			</div>
			<div id = "comment-2249" class = "comment">
				<p>Alternately, put any unclaimed prizes from the higher levels into a drawing for the first level, where everyone is eligible if they haven't received a higher prize.  But I don't think that will be necessary, I'm pretty sure well get 30+ people in the second level, and 5+ in the third.</p>
			</div>
			<div id = "comment-2251" class = "comment">
				<p>Good suggestions. Don't think I should change the rules for this one, but I'll keep them in mind for future promotions. Thanks!</p>
			</div>
			<div id = "comment-2268" class = "comment">
				<p>Lauren- Appreciate you are probably bored of this, but it keeps cropping up in Chat still.  For the removal of any ambiguity, can you please define "contest posts" as "The first 4/20/35 qualifying questions/answers" or as some other definition.  Thanks! :)</p>
			</div>
			<div id = "comment-2273" class = "comment">
				<p>@stuffe see my edit. Hope that clears it up!</p>
			</div>
			<div id = "comment-2274" class = "comment">
				<p>Thank you very much :)</p>
			</div>
			<div id = "comment-2286" class = "comment">
				<p>@balpha Re: your edit, does  during the contest  mean  as long as the contest runs ? So people who finished level 3 already can still make new posts, and if these posts get enough votes, they d count towards their score (if the score happens to be in the user s top 35 of all posts between Friday 3/16/2012 and Monday 4/2/2012)? Woah.</p>
			</div>
			<div id = "comment-2287" class = "comment">
				<p>@Mathias Sure, why would an awesome answer that you post today not count? That would essentially punish you for finishing the mission early.</p>
			</div>
			</div>
				<textarea id = "speech-1227" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1227">
					<img id="start_img-1227" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>