<html>
	<head>
		<title id = 'pagetitle'>If there are 6 winners in Level 3, will the one ranked 6 win an iPod?
		</title>
	<head>
	<body id = 'pagebody'><p>It's not so clear from the contest rules:</p>

<blockquote>
  <p>We can give away a maximum of 25 iPod touch devices and a maximum of 6 new iPads (5 for Level 3, and 1 for the raffle). In the event that more than the maximum number of people complete the Levels, the winners with the highest combined score on their contest posts will be chosen.</p>
</blockquote>

<p>So will Level 3 winners who don't get an iPad be moved down to Level 2? Or will they <em>only</em> be entered in the raffle?</p>


<h1>ANSWERS</h1>
		<p>If there are 6 winners in level three, then all six are also in level 2. But since each user is only eligible for one prize, and you get the prize for the highest level you complete, then the top five in level 3 will get ipads, and then the top 25 in level two - minus the 5 that already received the ipad - will get ipod touches.  Everyone in level 2 that didn't get an ipod would then be eligible for the drawing in level one.</p>

<blockquote>
  <p>Each user is only eligible for one prize. You earn the prize for the highest level you complete.</p>
</blockquote>

<p>Given the rate that level two is expanding since Wednesday when I started, I expect there will be more than 25 users in that group, and more than 5 users in level 3.</p>

<p>Once you make it into level 2 or 3, you will have to keep working to stay in the top 25 and top 5 respectively to actually get the prize.</p>

<p>Note I'm note a contest organizer or official, but this is my interpretation of the rules.  Would be nice to have Stack Exchange confirm this...</p>


<p>Yes, if there are more than 5 people in Level 3, the others will get iPod Touches. They will also be entered into the raffle.</p>

<p>To figure out who the "top 5" are, we'll look at the posts you made for the contest and figure out the total combined score (so if all 35 of your posts had a score of 6, your combined score would be 35*6 = 210). The 5 who have the highest combined score will get an iPad.</p>

<p>Sorry it wasn't clear before. Make sense now? </p>

<p><strong>Edit</strong>: I've been told some people still have questions, so just to clarify - this is the score that your contest posts have. It's not your reputation or the votes you have cast, only the score on the posts that you have made.</p>

<p>The posts that will count for the tie breaker are the highest-scored posts you made during the contest. For Level 2 that will be the top 20 posts and for Level 3 that will be the top 35 posts (excluding deleted posts, closed questions, and answers to closed questions).</p>


	</body>
</html>