<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>If the original poster (OP) question is unclear, is it OK to ask OP question to clarify in order to provide a better answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-916" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::71</h3>
				<h2>If the original poster (OP) question is unclear, is it OK to ask OP question to clarify in order to provide a better answer?</h2>
<p>I'm looking for accepted practice so as not to offend other members (I was downvoted and told not to do that). Thanks.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-917"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>Of course, I do this all the time. However, it should be done in a comment - your statement that you were down voted when you tried to request clarification leads me to think that you posted it as an answer. If so, that would be the reason why you were down voted, not the fact that you asked for the clarification.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1668" class = "comment">
				<p>Thank you for the clear answer. You're right, I (stupidly) posted it as a answer. Will use comment from now on. Now I know how to proceed.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>