<html>
	<head>
		<title id = 'pagetitle'>If~When the site leaves beta, will there be an option to migrate questions?
		</title>
	<head>
	<body id = 'pagebody'><p>Like what happens on superuser/stackoverflow/etc?</p>


<h1>ANSWERS</h1>
		<p>Migration paths will be defined when the sites graduate out of public beta.</p>

<p>In the meantime, the best course of action is to close the question and re-ask it on the site you believe it belongs on.</p>


	</body>
</html>