<html>
	<head>
		<title id = 'pagetitle'>iLife suite question
		</title>
	<head>
	<body id = 'pagebody'><p>Is this a good place to ask specific usage questions about GarageBand, iMovie ?</p>


<h1>ANSWERS</h1>
		<p>Yes, iLife questions are considered on topic.</p>


	</body>
</html>