<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>In the "Top Users" tag section, what are these numbers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2774" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::29</h3>
				<h2>In the "Top Users" tag section, what are these numbers?</h2>
<p>As seen in the screenshot of <a href="https://apple.stackexchange.com/tags/osx/topusers">tag osx's top users</a> (in this case bmike):</p>

<p><img src="https://i.stack.imgur.com/O1VSW.png" alt="2.6k 983 bmike"></p>

<p>There are two numbers, <code>2.6k</code> and <code>983</code> before his avatar and various details. There are no headers detailing what these two numbers are.</p>

<p>What are these two numbers?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2774">Record</button>
				<button class="record-stop" id="stop-2774">Stop</button>
				<p id="recording-2774"></p>

<h1>Answers</h1>
			<br><div id = "ans-2775"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The left number is the sum of the scores of answers to questions tagged with the tag in question or questions with that tag (there are two separate sections of top users). Upvotes increment the number and downvotes decrement.</p>

<p>The right number is the number of posts (again, answers or questions depending on section) associated with that tag. One answer or question increments the number by one. Clicking this number opens a search page filtered to the type of post by that user with that tag.</p>

<p>Stack Exchange loves tooltips. Almost everything which might be open to interpretation on the site has a tooltip which can be helpful if you don't know what a control does or what a value represents. In this case, the tooltips are brief, but they are there. If your device has a mouse, hover it over the numbers to expose the tips.</p>

<p> <img src="https://i.stack.imgur.com/8ohSG.png" width="298"></p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2775">Record</button>
				<button class="record-stop" id="stop-2775">Stop</button>
				<p id="recording-2775"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>