<html>
	<head>
		<title id = 'pagetitle'>In the flag-weight page, the vote block is not rendered correctly when the question~answer has been down voted
		</title>
	<head>
	<body id = 'pagebody'><p>A flagged question/answer that has been down voted is shown as in the following screenshot.<br>
The minus sign is in the middle of the grey block, and the number is partially shown outside that grey block; it seems the number is also truncated.</p>

<p><img src="https://i.stack.imgur.com/sndvp.png" alt="screenshot"></p>


<h1>ANSWERS</h1>
		<p>Posting this as an answer because of a screenshot alone.</p>

<p>This is also a problem in the Answer activity page on a user's profile page. Any negative number will cause the content to overflow;</p>

<p><img src="https://i.stack.imgur.com/n9HtB.png" alt="Negative Vote Content Overflow"></p>


<p>This appears to be fixed (no idea when, though).</p>


	</body>
</html>