<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>In the "Top Users" tag section, what are these numbers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2774" class = "post">
			<h2>Question</h2>
			<div id="vote-2774" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>In the "Top Users" tag section, what are these numbers?</h2>
<p>As seen in the screenshot of <a href="https://apple.stackexchange.com/tags/osx/topusers">tag osx's top users</a> (in this case bmike):</p>

<p><img src="https://i.stack.imgur.com/O1VSW.png" alt="2.6k 983 bmike"></p>

<p>There are two numbers, <code>2.6k</code> and <code>983</code> before his avatar and various details. There are no headers detailing what these two numbers are.</p>

<p>What are these two numbers?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2774" class = 'collapse'>
			</div>
				<textarea id = "speech-2774" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2774">
					<img id="start_img-2774" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2774">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2775"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2775" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The left number is the sum of the scores of answers to questions tagged with the tag in question or questions with that tag (there are two separate sections of top users). Upvotes increment the number and downvotes decrement.</p>

<p>The right number is the number of posts (again, answers or questions depending on section) associated with that tag. One answer or question increments the number by one. Clicking this number opens a search page filtered to the type of post by that user with that tag.</p>

<p>Stack Exchange loves tooltips. Almost everything which might be open to interpretation on the site has a tooltip which can be helpful if you don't know what a control does or what a value represents. In this case, the tooltips are brief, but they are there. If your device has a mouse, hover it over the numbers to expose the tips.</p>

<p> <img src="https://i.stack.imgur.com/8ohSG.png" width="298"></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2775" class = 'collapse'>
			</div>
				<textarea id = "speech-2775" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2775">
					<img id="start_img-2775" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2775">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>