<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>In the flag-weight page, the vote block is not rendered correctly when the question~answer has been down voted
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>In the flag-weight page, the vote block is not rendered correctly when the question~answer has been down voted</h2>
<p>A flagged question/answer that has been down voted is shown as in the following screenshot.<br>
The minus sign is in the middle of the grey block, and the number is partially shown outside that grey block; it seems the number is also truncated.</p>

<p><img src="https://i.stack.imgur.com/sndvp.png" alt="screenshot"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Posting this as an answer because of a screenshot alone.</p>

<p>This is also a problem in the Answer activity page on a user's profile page. Any negative number will cause the content to overflow;</p>

<p><img src="https://i.stack.imgur.com/n9HtB.png" alt="Negative Vote Content Overflow"></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This appears to be fixed (no idea when, though).</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>