<html>
	<head>
		<title id = 'pagetitle'>Incorrect message "Caps Lock is on" when entering password
		</title>
	<head>
	<body id = 'pagebody'><p>I am authenticating on the site <em><a href="http://apple.stackexchange.com">Ask Different</a></em>. I am entering my password. </p>

<ol>
<li>When I press Shift, the site says "Caps Lock is on". This is incorrect. </li>
<li>When Shift is released, the site still says "Caps Lock is on". This is even more incorrect.</li>
</ol>

<p>I have Safari on iOS 7 on an iPad mini.</p>

<p>It would be nice to fix that. Thank you.</p>


<h1>ANSWERS</h1>
			</body>
</html>