<html>
	<head>
		<title id = 'pagetitle'>Incorrect formatting appearance - fixable?
		</title>
	<head>
	<body id = 'pagebody'><p>My first post on Meta &amp; I didn't find anything similar by searching...<br>
I see this a lot, on various question/answers - the last line of a code section hidden behind the scroll-bar...</p>

<p><img src="https://i.stack.imgur.com/9acCk.png" alt="enter image description here"></p>

<p>If I check Edit, there is no fault with the user's formatting, they have added lines underneath [&amp; incidentally if I then Cancel the formatting 'fixes' itself]</p>

<p>Is there a 'higher-up' who could have a look at this &amp; fix it?</p>

<p>My System - Early 08 Mac Pro; 10.9.4, 26GB RAM, SSD, Safari 7.0.5</p>

<p>Link to this specific example - <a href="https://apple.stackexchange.com/questions/143649/services-menu-shows-the-incorrect-name">Services menu shows the incorrect name</a></p>

<p>Further testing - Chrome shows it just fine, Safari does if I refresh the page, but consistently fails on first opening of that link. I really have no special kind of setup in Safari, it's pretty much fresh out the box in terms of how I have it configured.</p>


<h1>ANSWERS</h1>
		<p>Appears to be fixed with OS 10.9.5 &amp; Safari 7.0.6, even with Click to Flash &amp; YouTube5 enabled.</p>


	</body>
</html>