<html>
	<head>
		<title id = 'pagetitle'>Incorrect review 'counter'
		</title>
	<head>
	<body id = 'pagebody'><p><strong>I've only been having this problem for the past few days</strong>, but since it hasn't resolved itself I thought I'd post here to see if it's been reported.</p>

<p>Basically, my review counter seems to be out of whack. For example, I refer to the image below:</p>

<p><a href="https://i.stack.imgur.com/0pRae.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/0pRae.png" alt="enter image description here"></a></p>

<p>As you can see, it's showing nine items in the queue. However, when I go in to review the items, I see a tally of zero next to all the review queues. In some cases there are some items to review, but these do not add to the total shown in the counter (but this I understand as the queue may just be getting cleared).</p>

<p>However, I know there is an issue here because as I type this, the review counter is still showing 9 but upon going to review the items they all have a tally of zero (and I've tested this fact in multiple browsers on multiple Macs).</p>

<p>So, has this been reported? Is it only affecting Ask Different, or is it across the Stack Exchange network?</p>


<h1>ANSWERS</h1>
		<p>The top bar counter isn't specific to your user, whilst the /review page counters are. This means </p>

<ul>
<li>Reviewing a post in the queue that still requires 1+ other users review too, you won't see the review task any more on /review but it'll still increment the top bar counter.</li>
<li>If you've reviewed a post outside of a queue, you won't be able to review it again.</li>
<li>This doesn't apply to you, but also &lt;5k reputation users see tag wiki suggested edits increment the top bar but won't be shown in /review.</li>
<li> and of course some <a href="http://shouldiblamecaching.com" rel="nofollow noreferrer">copious caching</a>.</li>
</ul>

<p><a href="/questions/tagged/status-bydesign" class="post-tag moderator-tag" title="show questions tagged &#39;status-bydesign&#39;" rel="tag">status-bydesign</a></p>


	</body>
</html>