<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Introduce a Gray Scale to Negative Voted Questios
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2049" class = "post">
			<h2>Question</h2>
			<div id="vote-2049" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 65</p>
			</div>
				<h2>Introduce a Gray Scale to Negative Voted Questios</h2>
<p>Was wondering if it would be helpful to moderators and to keep this site cleaner to do following.</p>

<p>On each negative Vote on the Question the Font gets reduced in gray scale color.</p>

<p>So for example on this one:</p>

<p><img src="https://i.stack.imgur.com/2zQkq.png" alt="gray scale"></p>

<p>With 5 down votes the text should be barley visible ?</p>

<p>It is a shame the Spammer gets more that 30 minutes of promotion and advertisement without been able to do much until a moderator takes action.</p>

<p>UPDATE:</p>

<p>Statistical it happens more and more and as you can see 4 down votes and not one FLAG ? Means 4 users had to open the question and then all they did is downvote.</p>

<p><img src="https://i.stack.imgur.com/ilkFa.png" alt="scam"></p>

<p>EDIT:</p>

<p>Well in conclusion let it just put this way</p>

<p>It is not acceptable in 21 century on a high profile and high traffic web site to have Spams just sitting there for a hour or more.</p>

<p>The current system </p>

<blockquote>
  <p>There is an automated system - it requires 6 flags and not votes see
  this meta answer    Mark</p>
</blockquote>

<p>needs some overhaul.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2049">Load Comments</button></br>
			<div id = "commentsection-2049" class = 'collapse'>
			<div id = "comment-3924" class = "comment">
				<p>In this case wouldn't flagging for spam (e.g. 5 flags) have deleted the article quicker. Also keeping it visible means that more people can see to flag it quicker</p>
			</div>
			<div id = "comment-3925" class = "comment">
				<p>@Mark it was Flagged and down voted and Voted to Close still it was there a hour later. The problem is there is no Automated system to deal with Spam, so even after 5 Negative votes it was still there.</p>
			</div>
			<div id = "comment-3926" class = "comment">
				<p>There is an automated system - it requires 6 flags and not votes see this [meta answer](http://meta.stackexchange.com/a/58035/136010)</p>
			</div>
			<div id = "comment-3929" class = "comment">
				<p>The good news is that the chance that a mod isn't around for an hour and spam appearing and it being a high traffic hour all at the same time are probably pretty low.</p>
			</div>
			<div id = "comment-3930" class = "comment">
				<p>@dwightk where did you get those statistics from ? so you do not mind having a free advertisement for a hour from time to time? it just sits there poking you right in to your brain, insulting you ect..and there is nothing much you can do about other than pray a mod is around or 6 people will flag it, since when did we give up the fight on Spam?</p>
			</div>
			<div id = "comment-3931" class = "comment">
				<p>I've been pretty active for 50 days and I've seen 3 spam posts. That isn't bad. It only takes 3 flags to move it from the front page.</p>
			</div>
			<div id = "comment-3935" class = "comment">
				<p>@Buscar  It only needs 3 flags to remove it from the front page - it lookalike we need to make more people flag rather than vote if they had then the question would have been hidden with **less** effort than you are requesting (on the next spam I saw I added a comment to remind people to **flag**</p>
			</div>
			<div id = "comment-3954" class = "comment">
				<p>@Mark it is not working as you can see in my update</p>
			</div>
			<div id = "comment-3955" class = "comment">
				<p>@dwightk here is new one so you can update your statistics.</p>
			</div>
			<div id = "comment-3956" class = "comment">
				<p>@Buscar  We need to train people to flag which seems to work as this one was not on the front page within 30 mins - http://apple.stackexchange.com/review/first-posts/59081</p>
			</div>
			<div id = "comment-3957" class = "comment">
				<p>Great now I got negative 102 points for trying to be helpful ??</p>
			</div>
			<div id = "comment-3958" class = "comment">
				<p>Just to clarify, are you saying that commenting in the Spam post is OK, in order to inform others to flag?  I thought that is a no no, no commenting in the Scam post.</p>
			</div>
			<div id = "comment-3959" class = "comment">
				<p>ok, why am I bothering at all, now I got penalized with -100) for posting information about flagging in the said spam that ended up with 8 negative votes and not single Flag.</p>
			</div>
			<div id = "comment-3960" class = "comment">
				<p>@Buscar  don't worry about negative points like those, they should go away when the question is removed.</p>
			</div>
			<div id = "comment-3961" class = "comment">
				<p>@dwightk the point is the Moderator was fast to give me 100 negative points, but the Spam post was still up ?</p>
			</div>
			<div id = "comment-3962" class = "comment">
				<p>*"4 users had to open the question and then all they did is downvote." "8 negative votes and not single Flag."* How do you know they didn't flag?</p>
			</div>
			<div id = "comment-3963" class = "comment">
				<p>Also, your -100 for posting spam shouldn't have come from your answer to the spam question in the screenshot in your question here   the question was spam-deleted but **balpha deleted your answer and didn't spam-delete it**, so that shouldn't have cost you 100 reputation. (can someone confirm?) Did you post another answer to a different spam post? Link?</p>
			</div>
			<div id = "comment-3964" class = "comment">
				<p>@dwightk Having a post deleted due to spam will cost you 100 reputation which is removed from a user in private (not shown publicly on the reputation history). This won't get put back when the question is removed.</p>
			</div>
			</div>
				<textarea id = "speech-2049" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2049">
					<img id="start_img-2049" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2050"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2050" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I do not think this is required.</p>

<p>The main issue is that people need to flag this as spam, down votes have no effect.</p>

<p>After 3 flags it will not be on the front page - so takes less effort by us that your suggestion</p>

<p>From meta stackexchnage <a href="https://meta.stackexchange.com/a/58035/136010">answer</a></p>

<blockquote>
  <p>The spam flag is designed to eliminate posts with no relevant content and to penalize the authors:</p>
  
  <ul>
  <li>3 flags (spam or offensive): post is banished from the front page.</li>
  <li>6 flags (spam or offensive): post is locked, deleted, and the first revision owner loses 100 reputation.</li>
  <li>1 flag from a moderator has the same effect as 6 flags from normal users: instant destruction.</li>
  <li>Because a question with 6 flags is locked and deleted by the Community user, a 10k reputation user cannot undelete it.</li>
  <li>Each flag carries an implicit downvote for calculating the post's score (it does not affect the user's reputation).</li>
  </ul>
</blockquote>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2050">Load Comments</button></br>
			<div id = "commentsection-2050" class = 'collapse'>
			<div id = "comment-3927" class = "comment">
				<p>Thank you. The fact that this ?user got a hour of free advertisement! is not relevant here? I can not speak for others and why did they not Flag the post, but I see they used they hard earned points to vote it down. As far I understand Flagging still requires moderators attention. These types of flags receive an extremely high priority in the moderation queue.</p>
			</div>
			<div id = "comment-3928" class = "comment">
				<p>Spam flags as noted in that answer do not require moderators</p>
			</div>
			</div>
				<textarea id = "speech-2050" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2050">
					<img id="start_img-2050" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>