<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Introduce a Gray Scale to Negative Voted Questios
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Introduce a Gray Scale to Negative Voted Questios</h2>
<p>Was wondering if it would be helpful to moderators and to keep this site cleaner to do following.</p>

<p>On each negative Vote on the Question the Font gets reduced in gray scale color.</p>

<p>So for example on this one:</p>

<p><img src="https://i.stack.imgur.com/2zQkq.png" alt="gray scale"></p>

<p>With 5 down votes the text should be barley visible ?</p>

<p>It is a shame the Spammer gets more that 30 minutes of promotion and advertisement without been able to do much until a moderator takes action.</p>

<p>UPDATE:</p>

<p>Statistical it happens more and more and as you can see 4 down votes and not one FLAG ? Means 4 users had to open the question and then all they did is downvote.</p>

<p><img src="https://i.stack.imgur.com/ilkFa.png" alt="scam"></p>

<p>EDIT:</p>

<p>Well in conclusion let it just put this way</p>

<p>It is not acceptable in 21 century on a high profile and high traffic web site to have Spams just sitting there for a hour or more.</p>

<p>The current system </p>

<blockquote>
  <p>There is an automated system - it requires 6 flags and not votes see
  this meta answer    Mark</p>
</blockquote>

<p>needs some overhaul.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I do not think this is required.</p>

<p>The main issue is that people need to flag this as spam, down votes have no effect.</p>

<p>After 3 flags it will not be on the front page - so takes less effort by us that your suggestion</p>

<p>From meta stackexchnage <a href="https://meta.stackexchange.com/a/58035/136010">answer</a></p>

<blockquote>
  <p>The spam flag is designed to eliminate posts with no relevant content and to penalize the authors:</p>
  
  <ul>
  <li>3 flags (spam or offensive): post is banished from the front page.</li>
  <li>6 flags (spam or offensive): post is locked, deleted, and the first revision owner loses 100 reputation.</li>
  <li>1 flag from a moderator has the same effect as 6 flags from normal users: instant destruction.</li>
  <li>Because a question with 6 flags is locked and deleted by the Community user, a 10k reputation user cannot undelete it.</li>
  <li>Each flag carries an implicit downvote for calculating the post's score (it does not affect the user's reputation).</li>
  </ul>
</blockquote>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>