<html>
	<head>
		<title id = 'pagetitle'>iOS 9 beta: Why are some promised features not in the beta? And: Time to update NDA!
		</title>
	<head>
	<body id = 'pagebody'><p>I know, I know... This probably looks like another idiot complaining that the <em>beta</em> of all things is buggy. I know right? <em>ZOMG WHATS THE POINT OF A BUGGY BETA??!?!?</em> </p>

<p>(   </p>

<p>(   </p>

<p>(   </p>

<p>But, I think this is a worthy question. And besides, I am pretty convinced it's not a bug. No, I am positive. I use an iPod Touch fifth generation, and am painfully aware of how ancient the processor is. I downloaded the iOS 9 public beta the other day, because after all, I had nothing to lose if the iPod 6 is coming tomorrow And it has gone surprisingly well! But I noticed that some of the features they advertise for iOS 9 are not there. Like the Smart Search thingy when you swipe right on the first page of the home screen. And also, I don't know if this is supposed to be a iPhone 6 only feature, but I am missing the Low Power Mode switch in settings. </p>

<p>I don't know if these features are supposed to be released later in a future beta release, if it's a problem with my A5 processor, or if I missed the memo on some information that would be fun to have at the moment. But I've held of from providing Apple with feedback yet, because I am pretty sure it's my fault somewhere or another... Anyway, if you are having a similar experience or have some blindingly obvious information that I overlooked, let me know. Thanks!</p>

<hr>

<p><strong>Ok, hold the iPhone!</strong></p>

<p>Now, I understand why(maybe) my question has received down votes. Because I am discussing software that "hasn't been released to the public". However, I disagree. It is, in fact, and say it with me: a <em>public</em> beta. The key word there is <em>public</em>. In case you didn't notice the italic font I used there. Now,  technically, and this article proves it: <a href="https://apple.meta.stackexchange.com/questions/1712/are-ios-9-and-os-x-el-capitan-questions-ok?cb=1">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a></p>

<p>Look at the excepted answer. What happens next will shock and amaze you. </p>

<blockquote>
  <p>We do have precedent for allowing questions on software that is released in a beta status so if/when these OS versions get a wider release (perhaps as part of the OS X Beta seed program), we may have to revisit whether to
  have the policy relaxed with respect to software that is pre-release.</p>
</blockquote>

<p>That when, Ladies and gentlemen, is NOW. Like it or not.</p>


<h1>ANSWERS</h1>
		<p>A couple of things </p>

<ul>
<li>welcome to Ask Different.</li>
<li>Generally, discussion is OK on meta only - so if you post questions on the main site, don't ask for opinions or experience - narrow down the issue and just assume people with opinions or experience will answer.</li>
<li>The community will need to have significantly more votes for the "yes" answer than the "no" answer in <a href="https://apple.meta.stackexchange.com/questions/2537/">Should beta OS questions be on-topic due to NDA changes + widening distribution by Apple</a></li>
<li>Unless there is a groundswell of yes sentiment, then the status quo of "close them as they are off-topic" will continue (see <a href="https://apple.meta.stackexchange.com/questions/1712/are-ios-9-and-os-x-el-capitan-questions-ok">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a>)</li>
</ul>

<p>I personally answered the "yes" and "no" responses, so voting on them is out of my hands. Should I be a tie breaker, I'm likely to fall on "yes - let's try opening beta software for a trial" but ideally, the community will vote overwhelmingly for one answer to not need one moderator's tie breaker at all.</p>


	</body>
</html>