<html>
	<head>
		<title id = 'pagetitle'>iOS model designations?
		</title>
	<head>
	<body id = 'pagebody'><p>I have the new iPad WiFi + 4G 16gb purchased in the UK, and the model on the back is A1430, yet in the OS it refers to MD366B. When I download the iOS 5.1 IPSW file, it refers to iPad3,3_5.1.1_9B206_Restore, so this is an iPad3,3 for OS purposes.</p>

<p>I've seen on several websites discussing OS revisions that there are 3 versions of the iPad 3, the WiFi only, WiFi + CDMA (or sometimes Verizon), and WiFi + GSM (or sometimes AT&amp;T).</p>

<p>They talk about the GSM version being either 3,2 or 3,3. I assume this is a mistake on the sites.</p>

<p>So what is the best way to refer to the models, and why are there 3? Hardware model, iOS model, and IPSW model.</p>


<h1>ANSWERS</h1>
		<p>Personally I would refer to them via the general model information:</p>

<ul>
<li>iPad 3 Wi-Fi Only</li>
<li>iPad 3 CDMA</li>
<li>iPad 3 GSM</li>
</ul>

<p>Distinct enough, no?</p>

<p>Information about the region+carrier only if relevant.</p>


	</body>
</html>