<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>iOS 7 Tips and Tricks?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1819" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::44</h3>
				<h2>iOS 7 Tips and Tricks?</h2>
<p>Suitability of Question:</p>

<p>As iOS 7 is new. Is it suitable to ask a question regarding:</p>

<p><strong>iOS 7 Tips and Tricks ?</strong></p>

<p>Similar questions include:</p>

<p><a href="https://apple.stackexchange.com/questions/5435/got-any-tips-or-tricks-for-terminal-in-mac-os-x">Got any tips or tricks for Terminal in Mac OS X?</a></p>

<p><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-os-x-features-or-tips-and-tricks">Please share your hidden OS X features or tips and tricks</a></p>

<p>Is this wiki style question now not so desirable anymore ? </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1820"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>We have one here:</p>

<p><a href="https://apple.stackexchange.com/questions/101382/what-are-some-hidden-or-undocumented-features-in-ios-7">What features in iOS 7 make a difference?</a></p>

<p>Free free to just tag on the coat-tails of it without starting a new one.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3476" class = "post">
				<p>Ok fine. Its already been started :)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>