<html>
	<head>
		<title id = 'pagetitle'>iOS 7 Tips and Tricks?
		</title>
	<head>
	<body id = 'pagebody'><p>Suitability of Question:</p>

<p>As iOS 7 is new. Is it suitable to ask a question regarding:</p>

<p><strong>iOS 7 Tips and Tricks ?</strong></p>

<p>Similar questions include:</p>

<p><a href="https://apple.stackexchange.com/questions/5435/got-any-tips-or-tricks-for-terminal-in-mac-os-x">Got any tips or tricks for Terminal in Mac OS X?</a></p>

<p><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-os-x-features-or-tips-and-tricks">Please share your hidden OS X features or tips and tricks</a></p>

<p>Is this wiki style question now not so desirable anymore ? </p>


<h1>ANSWERS</h1>
		<p>We have one here:</p>

<p><a href="https://apple.stackexchange.com/questions/101382/what-are-some-hidden-or-undocumented-features-in-ios-7">What features in iOS 7 make a difference?</a></p>

<p>Free free to just tag on the coat-tails of it without starting a new one.</p>


	</body>
</html>