<html>
	<head>
		<title id = 'pagetitle'>iPartition vs Paragon Hard Disk Manager
		</title>
	<head>
	<body id = 'pagebody'><p>Today I spotted a question closed as dupe - <a href="https://apple.stackexchange.com/questions/286234/increase-size-of-bootcamp-partition">Increase size of Bootcamp partition?</a> </p>

<p>The original, however - whilst perfectly correct at the time - is now actually dangerously out of date.</p>

<p>iPartition is well past its sell-by date, can't handle CoreStorage &amp; hasn't been updated in a long time.  </p>

<p>The new kid on the block is <a href="https://www.paragon-software.com/home/hdm-mac/" rel="nofollow noreferrer">Paragon Hard Disk Manager</a>, with a feature set far above that iPartition ever had, including tools dedicated to backing up, moving, repairing, resizing Bootcamp partitions seamlessly.</p>

<p>Incidentally, it's also half the price of iPartition.</p>

<p>So, I feel the need to go round finding all the old questions to which "use iPartition" was the perfectly correct answer at the time &amp; 'fixing' this.</p>

<p>Adding a new answer, especially on high vote questions is going to leave it struggling at the bottom of the pile.</p>

<p>Marking them all as dupes might work - but perhaps we need to generate one new canonical QA to link them to.</p>

<p>Any ideas/suggestions/potential wording for the new Question, or can anyone find an older QA that this could be merged into in some way?  </p>

<p>I don't want to go at this unilaterally.</p>


<h1>ANSWERS</h1>
		<p>The great thing about having already linked the questions as duplicates is that there (should be) one location to fix. Provide an answer to the question which is the destination of the duplicates and it will be voted to the top. I don't think there's any need to do anything differently for this case in particular.</p>


	</body>
</html>