<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>iPartition vs Paragon Hard Disk Manager
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3054" class = "post">
			<h2>Question</h2>
			<div id="vote-3054" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
				<h2>iPartition vs Paragon Hard Disk Manager</h2>
<p>Today I spotted a question closed as dupe - <a href="https://apple.stackexchange.com/questions/286234/increase-size-of-bootcamp-partition">Increase size of Bootcamp partition?</a> </p>

<p>The original, however - whilst perfectly correct at the time - is now actually dangerously out of date.</p>

<p>iPartition is well past its sell-by date, can't handle CoreStorage &amp; hasn't been updated in a long time.  </p>

<p>The new kid on the block is <a href="https://www.paragon-software.com/home/hdm-mac/" rel="nofollow noreferrer">Paragon Hard Disk Manager</a>, with a feature set far above that iPartition ever had, including tools dedicated to backing up, moving, repairing, resizing Bootcamp partitions seamlessly.</p>

<p>Incidentally, it's also half the price of iPartition.</p>

<p>So, I feel the need to go round finding all the old questions to which "use iPartition" was the perfectly correct answer at the time &amp; 'fixing' this.</p>

<p>Adding a new answer, especially on high vote questions is going to leave it struggling at the bottom of the pile.</p>

<p>Marking them all as dupes might work - but perhaps we need to generate one new canonical QA to link them to.</p>

<p>Any ideas/suggestions/potential wording for the new Question, or can anyone find an older QA that this could be merged into in some way?  </p>

<p>I don't want to go at this unilaterally.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3054" class = 'collapse'>
			</div>
				<textarea id = "speech-3054" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3054">
					<img id="start_img-3054" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3055"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3055" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The great thing about having already linked the questions as duplicates is that there (should be) one location to fix. Provide an answer to the question which is the destination of the duplicates and it will be voted to the top. I don't think there's any need to do anything differently for this case in particular.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3055">Load Comments</button></br>
			<div id = "commentsection-3055" class = 'collapse'>
			<div id = "comment-6621" class = "comment">
				<p>Do you think https://apple.stackexchange.com/questions/76402/resize-boot-camp-partition is good enough to use as the 'master' for this? I can flesh out my answer, add pictures, whatever - but I'm tempted to genericise the question a bit, remove specific Windows version, specific Mac model etc, fix tags...</p>
			</div>
			<div id = "comment-6622" class = "comment">
				<p>@Tetsujin I agree that getting *duplicates* to work properly is the preferred option. I've just upvoted your answer to get the votes started! My only suggestion would be to add some sort of disclaimer that you are not affiliated with [Paragon Hard Disk Manager](https://www.paragon-software.com/home/hdm-mac/) in any way (unless of course you are - in which case you should mention it).</p>
			</div>
			<div id = "comment-6623" class = "comment">
				<p>No affiliation - it's just taken over from iPartition in my toolbox of late. I'm away a few days; might start looking for potential dupes when I get back, assuming the swing of opinion doesn't change.</p>
			</div>
			</div>
				<textarea id = "speech-3055" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3055">
					<img id="start_img-3055" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>