<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is asking about jailbreaking with another OS on- or -off-topic?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1576" class = "post">
			<h2>Question</h2>
			<h3>Score ::10</h3>
			<h3>Views ::199</h3>
				<h2>Is asking about jailbreaking with another OS on- or -off-topic?</h2>
<p>So, the question already on this Stack Exchange site says that it's OK to ask jailbreaking-related questions - as long as it doesn't violate piracy laws or suggest a criminal offence. </p>

<p><sub><strong>TL;DR</strong>: Jail-breaking or 'hacking' a product is not considered illegal, since you are the rightful owner of the device and may do with it whatever you see fit - <em>however</em> it <strong>does</strong> void your warranty and is not suggested by Apple Inc.</sub></p>

<p>Anyway, if you <a href="https://apple.meta.stackexchange.com/q/492/41166">refer to this question</a> about jaibreaking, it's quite obvious that it's about the Apple product you are hacking.</p>

<p>But - is asking a question about a <strong><em>tool</em></strong> used for jailbreaking (such as the recent and first iOS6+ jailbreak tool <a href="http://evasi0n.com" rel="nofollow noreferrer">evasi0n</a>) allowed? Furthermore, if you are using Linux or Windows as the tool's host - is it still on-topic or a place for L&amp;U or StackOverflow (etc.)?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2952" class = "comment">
				<p>Do you have a specific question in mind or is this just asking for confirmation that with a [tag:jailbreak] of 299 questions and several policy links that jailbreaking itself is fine we really are OK with jailbreak as a topic.</p>
			</div>
			<div id = "comment-2953" class = "comment">
				<p>It was for confirmation - and yes, I did have a specific question. I am an Ubuntu user, so I thought that asking about how to jailbreak ***on Ubuntu*** could be off-topic.</p>
			</div>
			<div id = "comment-2993" class = "comment">
				<p>I think if a question is related **directly** to an Apple product of any kind, it will be on-topic. Even if someone asks why doesn't his iPhone headset's control doesn't work on a PC.</p>
			</div>
			<div id = "comment-3118" class = "comment">
				<p>@bmike then it should be in the main site's faq too, no?</p>
			</div>
			<div id = "comment-3123" class = "comment">
				<p>@NOTjust--user4304 I would expect us to be inclusive. A tool that ran on windows to jailbreak an iOS device would be on topic here. I'd want to head to the main site's meta (or super user or ubuntu, linux, other site's meta) to know what they want to have on their site.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1577"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::11</h3>
				<p><p>Questions about jailbreak <em>tools</em> (i.e. software you run on your computer to make your iPhone/whatever do what you want it to do) seems like it would be on-topic here. The FAQ specifically says that "third-party hardware and software for Apple products" is on-topic. </p>

<p>This is a bit of an edge case if the software is to do something to your Apple product (i.e. jailbreak it), but the software itself does not run on an Apple product. In that case, I'd still think you'd be on-topic, but be aware that for the most part, this isn't a group of people whose specialty is Linux or Windows software, so while your question might be on-topic here, you might find a better answer on one of the other sites you named.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2979" class = "comment">
				<p>I couldn't agree more! although sites like serverfault.com  has the disadvantage that they do not have the jailbreaking specialty. So I guess it is really personal preference where to ask the question.</p>
			</div>
			<div id = "comment-2983" class = "comment">
				<p>@FLY Server Fault in particular also has a [pretty narrowly confined scope](http://serverfault.com/faq#questions) in that questions are supposed to be asked in an IT-professional capacity.</p>
			</div>
			<div id = "comment-2984" class = "comment">
				<p>@EliahKagan I agree, would be beter to use askubuntu.com instead of serverfault.com</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>