<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is a revision required to the "What topics can I ask about here?" page in the Help Center?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is a revision required to the "What topics can I ask about here?" page in the Help Center?</h2>
<p>In the <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask about here?</a> page it clearly states that:</p>

<blockquote>
  <p>Ask Different is for <strong>users of Apple products</strong>. If you have a
  question about ...</p>
  
  <ul>
  <li>Apple hardware</li>
  <li>Apple software</li>
  <li>Apple services including iTunes Connect (selling music, books, apps)</li>
  <li>third-party hardware, services and software when associated for use with Apple products.</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>Recently <a href="https://apple.stackexchange.com/users/5472/bmike">bmike</a> corrected me because I had assumed a question about a formula in Excel was off-topic. I accepted his correction (obviously, as a moderator with the highest reputation I wasn't going to think he was wrong!), but since then I've seen a number of instances where users have voted to close questions as off-topic because the questions were about third-party software.</p>

<p>This got me to thinking that perhaps the <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask about here?</a> page could do with some minor revision. It may be something as simple as a formatting change to bold the words "third-party hardware, services and software" in the last bullet point.</p>

<p>What do others think?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Well, somebody using Excel on macOS <strong>is</strong> a user of an Apple product, and the bullet list makes it rather clear what a question can be about. I partially understand your confusion, but IMHO the wording is rather clear.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>