<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is a revision required to the "What topics can I ask about here?" page in the Help Center?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2907" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::38</h3>
				<h2>Is a revision required to the "What topics can I ask about here?" page in the Help Center?</h2>
<p>In the <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask about here?</a> page it clearly states that:</p>

<blockquote>
  <p>Ask Different is for <strong>users of Apple products</strong>. If you have a
  question about ...</p>
  
  <ul>
  <li>Apple hardware</li>
  <li>Apple software</li>
  <li>Apple services including iTunes Connect (selling music, books, apps)</li>
  <li>third-party hardware, services and software when associated for use with Apple products.</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>Recently <a href="https://apple.stackexchange.com/users/5472/bmike">bmike</a> corrected me because I had assumed a question about a formula in Excel was off-topic. I accepted his correction (obviously, as a moderator with the highest reputation I wasn't going to think he was wrong!), but since then I've seen a number of instances where users have voted to close questions as off-topic because the questions were about third-party software.</p>

<p>This got me to thinking that perhaps the <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask about here?</a> page could do with some minor revision. It may be something as simple as a formatting change to bold the words "third-party hardware, services and software" in the last bullet point.</p>

<p>What do others think?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2907">Load Comments</button></br>
			<div id = "commentsection-2907" class = 'collapse'>
			<div id = "comment-6329" class = "comment">
				<p>Whiuch questions were closed - I would also not the off topic condition - Basic Customer Support - so can be a matter of opinion which of the two criteria apply.</p>
			</div>
			<div id = "comment-6330" class = "comment">
				<p>I'm not sure the questions were actually closed, just that there were people voting for them to be closed. But I do agree that it often comes down to a matter of opinion in terms of what category applies.</p>
			</div>
			</div>
				<textarea id = "speech-2907" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2907">
					<img id="start_img-2907" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2909"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Well, somebody using Excel on macOS <strong>is</strong> a user of an Apple product, and the bullet list makes it rather clear what a question can be about. I partially understand your confusion, but IMHO the wording is rather clear.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2909">Load Comments</button></br>
			<div id = "commentsection-2909" class = 'collapse'>
			<div id = "comment-6327" class = "comment">
				<p>I agree the wording **is** clear, but in the past week I've seen a few questions users have voted to close on the basis they were off-topic when, based on the last bullet point, they aren't. I think the last bullet point is a little lost, not only because it's the last one, but because the first three start with the word _Apple_ which stands out because it's 'Apple' and because of the capital 'A'. Also, the stem sentence has _users of Apple products_ in **bold**. I guess others will learn that these questions are on-topic, but I just thought a minor formatting change may reduce confusion.</p>
			</div>
			<div id = "comment-6328" class = "comment">
				<p>Yeah, but then we would kind of need all bullets in bold, somehow.</p>
			</div>
			</div>
				<textarea id = "speech-2909" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2909">
					<img id="start_img-2909" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>