<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is adding a more detailed, yet repetitive answer acceptable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2837" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::45</h3>
				<h2>Is adding a more detailed, yet repetitive answer acceptable?</h2>
<p>I can not yet leave comments nor can I edit an answer; however, I would like to add a sentence or two of detail to a correct answer. Is adding a second, slightly more detailed, yet functionally repetitive answer acceptable?</p>

<p>If I should gain enough reputation to comment, it that the best way to add details to an answer?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2838"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>In general it's better to improve existing answers than to add slightly different new ones. Everybody can edit answers, even anonymous users, so if you want to add some helpful details to an existing answer, please go ahead and do so. Your edit will then be put into a review queue accessible to higher-rep users and peer-reviewed.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>