<html>
	<head>
		<title id = 'pagetitle'>Is AskDifferent the right place for bash questions?
		</title>
	<head>
	<body id = 'pagebody'><p>If I had a question solely bash or bash-related, would AskDifferent be the right place to ask? Or is there another community more appropriate for that?</p>


<h1>ANSWERS</h1>
		<p>As bash is a part of OSX then Ask Different is a place to ask as can be seen by the <a href="https://apple.stackexchange.com/questions/tagged/bash" class="post-tag" title="show questions tagged &#39;bash&#39;" rel="tag">bash</a> and <a href="https://apple.stackexchange.com/questions/tagged/shell" class="post-tag" title="show questions tagged &#39;shell&#39;" rel="tag">shell</a> tags. </p>

<p>For OSX specific bash questions e.g. how to set environment variables for GUI and what files are read when a Terminal starts this is really the main site (SuperUser is also OK with these as any OSX question here is also on topic there)</p>

<p>Bash is also on topic on Superuser - Unix &amp; Linux - Ubuntu and no doubt others as a user. Some question re programming bash could be on topic for Stack Overflow but I think that is not going to be the best site.</p>


	</body>
</html>