<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is chat gone from the title bar permanently?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is chat gone from the title bar permanently?</h2>
<p>I was looking for a private room on Ask Different chat - and saw the link I usually follow at the top gone.</p>

<p>It's still in the link roll at the bottom, but I kind of liked it at the top.</p>

<p>Is this a temporary removal or something more permanent?</p>

<p><img src="https://i.stack.imgur.com/p4mM2.png" alt="enter image description here"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Kyle pointed that this might be a temporary thing. </p>

<p><a href="https://meta.stackexchange.com/questions/101464/eeeek-where-did-the-chat-top-navigation-link-go">Eeeek! Where did the chat top navigation link go?</a></p>

<p>It appears when the Stack Exchange blog is updated - it pre-empts the normal chat link for Ask Different. I would expect (and appreciate) to see the "new blog" bubble and link to the immediate right of the Stack<strong>Exchange</strong> pull down rather than embedded between the Ask Different specific review, chat, meta and faq links.</p>

<p><img src="https://i.stack.imgur.com/3SMRZ.png" alt="enter image description here"></p>

<p>Stack Exchange general information on the far left.
Ask Different specific links on the right.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>"new" is gone on the main AD site (but not on this meta AD site, oddly), but "blog" still remains instead of chat, so it looks like this is a permanent change, unfortunately. I hope they change it back - I used the chat link at the top a lot.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>