<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is having a question with high views and low votes common?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is having a question with high views and low votes common?</h2>
<p>I recently earned the Famous Question badge [10k views] for <a href="https://apple.stackexchange.com/questions/63911/app-store-an-unknown-error-has-occurred-apple-support-fix-was-only-temporary">App Store &quot;An Unknown Error Has Occurred&quot;, Apple Support fix was only temporary. How fix permanently?</a></p>

<p>I note that there are still low votes on both the question, the answer, and a hackintosh specific answer. Is this a known phenomenon within Apple.SE or the entire SE family of sites? </p>

<p>I am not complaining here, I asked and answered my own question. I am proud that it is viewed often. I hope that means people are searching, finding my question, and getting the answer they need. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Given <a href="https://apple.stackexchange.com/search?page=6&amp;tab=votes&amp;q=views%3a10000%20closed%3ano%20score%3a..3">these search results</a>, I would say that the phenomenon is far from rare.</p>

<p>There are 288 posts with at least 10,000 views with a score of 3 or lower. My cutoffs were arbitrary there, but you can play with the parameters and see that there are many posts with lots of page views and low scores.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This is, I believe, a systemic problem with the user base of Ask Different*. Sites like Stack Overflow, where the approach to Q&amp;A was pioneered and little better ingrained in the user base, don't seem to have it quite as bad as we do**.</p>

<p>We attract a lot of search queries for problems and solutions that would otherwise have lead people to more traditional Q&amp;A type stuff: MacWorld, blogs, traditional forums, etc. We have great content here that covers a wide range and great depth of subject matter, so we pull a good deal of search traffic from these topics. Unfortunately, the people looking for answers to these topics tend to not be greatly familiar with our Q&amp;A approach: if you like something, vote it up. We get a lot of "thank you" type posts and comments we have to clean up as mods -- which is pretty clear indicator if you ask me that people visiting here often don't get that you don't write a thank you, you say thanks by clicking the upvote button.</p>

<p>So how do we solve this problem? That, I'm afraid, I have no good answers for.</p>

<pre><code>* Completely speculative, I have no hard data for this.
** Also speculative, don't press me for data 'cause I'll crumble under scrutiny here.
</code></pre>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>