<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is having a question with high views and low votes common?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1859" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::53</h3>
				<h2>Is having a question with high views and low votes common?</h2>
<p>I recently earned the Famous Question badge [10k views] for <a href="https://apple.stackexchange.com/questions/63911/app-store-an-unknown-error-has-occurred-apple-support-fix-was-only-temporary">App Store &quot;An Unknown Error Has Occurred&quot;, Apple Support fix was only temporary. How fix permanently?</a></p>

<p>I note that there are still low votes on both the question, the answer, and a hackintosh specific answer. Is this a known phenomenon within Apple.SE or the entire SE family of sites? </p>

<p>I am not complaining here, I asked and answered my own question. I am proud that it is viewed often. I hope that means people are searching, finding my question, and getting the answer they need. </p>

			</div><h3>Comments</h3>
			<div id = "comment-3584" class = "comment">
				<p>Yes, it's happened here before. I have a "Famous Question" with three votes. More than your one, but still that means that 9,997 people read it and decided not to vote for it :-)</p>
			</div>
			<div id = "comment-3585" class = "comment">
				<p>Does the SE api provide a means to query for questions with more than a certain number of views and show the vote totals? This is close: https://api.stackexchange.com/docs/advanced-search#order=desc&sort=votes&views=10000&filter=default&site=stackoverflow&run=true</p>
			</div>
			<div id = "comment-3586" class = "comment">
				<p>http://apple.stackexchange.com/search?page=19&tab=votes&q=views%3a10000%20closed%3ano</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1859">Record</button>
				<button class="record-stop" id="stop-1859">Stop</button>
				<p id="recording-1859"></p>

<h1>Answers</h1>
			<br><div id = "ans-1860"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Given <a href="https://apple.stackexchange.com/search?page=6&amp;tab=votes&amp;q=views%3a10000%20closed%3ano%20score%3a..3">these search results</a>, I would say that the phenomenon is far from rare.</p>

<p>There are 288 posts with at least 10,000 views with a score of 3 or lower. My cutoffs were arbitrary there, but you can play with the parameters and see that there are many posts with lots of page views and low scores.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3587" class = "comment">
				<p>http://apple.stackexchange.com/search?tab=votes&q=views%3a10000%20closed%3ano - > 10000 views then go to the "votes" sort order. The highest vote count is 296 for a question with 233k views!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1860">Record</button>
				<button class="record-stop" id="stop-1860">Stop</button>
				<p id="recording-1860"></p>
			<br><div id = "ans-1861"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>This is, I believe, a systemic problem with the user base of Ask Different*. Sites like Stack Overflow, where the approach to Q&amp;A was pioneered and little better ingrained in the user base, don't seem to have it quite as bad as we do**.</p>

<p>We attract a lot of search queries for problems and solutions that would otherwise have lead people to more traditional Q&amp;A type stuff: MacWorld, blogs, traditional forums, etc. We have great content here that covers a wide range and great depth of subject matter, so we pull a good deal of search traffic from these topics. Unfortunately, the people looking for answers to these topics tend to not be greatly familiar with our Q&amp;A approach: if you like something, vote it up. We get a lot of "thank you" type posts and comments we have to clean up as mods -- which is pretty clear indicator if you ask me that people visiting here often don't get that you don't write a thank you, you say thanks by clicking the upvote button.</p>

<p>So how do we solve this problem? That, I'm afraid, I have no good answers for.</p>

<pre><code>* Completely speculative, I have no hard data for this.
** Also speculative, don't press me for data 'cause I'll crumble under scrutiny here.
</code></pre>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3588" class = "comment">
				<p>This may not be isolated to Ask Diffferent, search for >10000 not closed, sorted by votes at SO: http://stackoverflow.com/search?tab=votes&q=views%3a10000%20closed%3ano

The top hit as 6k votes and 300k views.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1861">Record</button>
				<button class="record-stop" id="stop-1861">Stop</button>
				<p id="recording-1861"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>