<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it just me or is there a sudden uptick in Clash of Clans questions with tons of  me too  answers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is it just me or is there a sudden uptick in Clash of Clans questions with tons of  me too  answers?</h2>
<p>The subject says it all. I am light user of this particular Stack Exchnage site, but rolled over in the past few hours to <a href="https://apple.stackexchange.com/search?tab=active&amp;q=Clash%20of%20Clans">see lots of  Clash of Clans  posts</a> new and old on the main page. Including tons of  me too  like answers. What s up?</p>

<p>FWIW, <a href="https://apple.stackexchange.com/questions/150359/2-clash-of-clans-account-on-the-same-game-center-account">this is a pretty amazing thread</a>. Ditto <a href="https://apple.stackexchange.com/questions/156496/2-different-game-center-apple-ids-one-village">with this one</a>. This many  me too  responses? Really?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I've cleaned up most of them now. If you run into more, just flag them as usual.</p>

<p>As for the reason, I can only guess. Maybe there was a change of rules on CoC server side which triggered some changes in the app. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This kind of thing is very common on Ask Different when a change occurs with something within the scope of the site. It begins with a reasonable question on the subject, and thanks to SE's very high SERP rank, is the #1 result for many search queries.</p>

<p>People then post 'me too' answers, either because they want to participate in the question so that they believe they can be updated when the question is updated (like some forums do, unaware of the 'favourite' feature), or simply because they want to express that they are experiencing the same problem.</p>

<p>Especially with the topic of Clash of Clans, where the stereotypical demographic of the general user base usually results with low quality posts, the situation is extenuated, but the same thing happens with other topics as well.</p>

<p>Downvote, comment and flag the posts. If you have >10k, protect the question to prevent further answers, and vote to delete the posts if you have >20k.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>