<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it possible to post pictures in comments?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1686" class = "post">
			<h2>Question</h2>
			<h3>Score ::-2</h3>
			<h3>Views ::57</h3>
				<h2>Is it possible to post pictures in comments?</h2>
<p>I was wondering if it is possible to post pictures in comments? It might be useful for clarification of difficult questions. If not then could it be a feature?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3156" class = "comment">
				<p>Why the down votes? It's a meta question!</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1687"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>It's not possible currently, but we can leave it here tagged as feature request. The site developers monitor questions tagged as <a href="https://apple.stackexchange.com/questions/tagged/feature-request" class="post-tag" title="show questions tagged &#39;feature-request&#39;" rel="tag">feature-request</a> so they will see both this and the votes that people have left for the feature to be implemented.</p>

<p>(Don't be alarmed if people down vote it - votes here work differently than on the main sites)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1688"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I'd argue a picture, posted in a comment, should really be made as a clarifying edit to the answer or to the question -- wherever the comment was going to be made.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1689"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>If there really is a need for adding a picture to a comment (which I doubt due to the nature of comments here), there is always the possibility to add a link to the picture uploaded somewhere. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>