<html>
	<head>
		<title id = 'pagetitle'>Is it okay to ask questions about rEFInd?
		</title>
	<head>
	<body id = 'pagebody'><p>rEFInd is a free custom bootloader for Mac, capable of booting from disks such as NTFS, ext4 and others. rEFInd is not officially supported by Apple. Is it allowed to post questions about it on AskDifferent?</p>


<h1>ANSWERS</h1>
		<p>There are already quite a lot of questions about rEFInd, so yes, of course, go ahead.</p>

<p>PS: Please check whether your question has come before though.</p>


	</body>
</html>