<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it ok to delete my wrong answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1579" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::78</h3>
				<h2>Is it ok to delete my wrong answer?</h2>
<p>I misunderstood and answered a question with wrong information.</p>

<p>Is it OK if I delete it to prevent it from misleading future readers?</p>

<p>Apology if this question has been previously asked. I found <a href="https://apple.meta.stackexchange.com/questions/949/remove-or-update-answers-that-are-incorrect-due-to-technological-advances/950#950">Remove or update answers that are incorrect due to technological advances</a> but I was unable to find another that answers my question.</p>

<p>On a related note, I discovered I answered a question that was (in hindsight) out of scope  from Ask Different FAQ. Is it OK if I delete?</p>

<p>Reason I'm asking is I don't want to create a mess for others to clean up after.</p>

<p>Thanks for your patience and suggestion.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1581"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Ideally, we like to preserve information that has value. We let people keep reputation from votes when the content is there for several months since we like to reward half baked ideas that move the discussion forward. When a comment or an edit can preface what part is now known to be wrong - what the actual answer is (with links or just narrative), that is the best.</p>

<p>If there is no way to save it, you might link to it in the chat room or flag for moderator review. As long as you have the option to delete the answer, it's low enough in votes and other modifications that it remains in your power to decide to delete.</p>

<p>Now, nothing actually gets deleted, since high rep users, moderators and site staff see all posts - even deleted ones - there is always the chance someone will vote to reverse a deletion, make an edit, whatever.</p>

<p>The primary way the system suppresses bad questions and answers is by reflecting several negative votes. Once the community has expressed a net -4 vote on a post, it begins to fade away and become eligible for automatic culling without needing a moderator (elected or just a user having earned moderator tool access) to actually case a close or delete vote.</p>

<h2>By down voting content that is not useful to you, you are starting the deletion process and helping moderate your site.</h2>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2959" class = "post">
				<p>Thanks for answering. Will use your answer for future reference. I don't care about reputation points but I do not want to leave a mess that confuses future readers. Been flagging poor quality answers at Ask Different and others, and they're a lot of them. I don't want to contribute to noise.</p>
			</div>
			<div id = "comment-2960" class = "post">
				<p>Be sure to down vote all poor questions (no rep penalty) and especially poor answers (one rep penalty).</p>
			</div>
			<div id = "comment-2961" class = "post">
				<p>Been doing that, will continue to do so. Really wish poor questions (with no good answers) can be deleted so as not to pollute search results.</p>
			</div>
			<div id = "comment-2977" class = "post">
				<p>@Globalnomad Poor questions with no good answers *can* be deleted. It's far more likely to happen if said question has a negative score. So if a question is unanswerable, badly researched, unlikely to be useful to anyone but the asker, etc., be sure to vote accordingly. Low-scoring material is less likely to show up in search results and more likely to get deleted.</p>
			</div>
			<div id = "comment-2978" class = "post">
				<p>Ok, I understand. Thanks.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>