<html>
	<head>
		<title id = 'pagetitle'>Is is possible to order my posts by recency?
		</title>
	<head>
	<body id = 'pagebody'><p>I have quite a few posts, but my problem is that the oldest posts show first. Can I order my posts so the newest ones show up first? Or is that not possible? If it isn't possible, can this be added?</p>


<h1>ANSWERS</h1>
		<p>You should see buttons that let you do this.<br>
Try clicking <code>recent</code>.</p>

<p><img src="https://i.stack.imgur.com/FK2nN.png" alt="enter image description here"></p>


	</body>
</html>