<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Is it okay to accept answers that don't directly answer the question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2606" class = "post">
			<h2>Question</h2>
			<div id="vote-2606" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 26</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it okay to accept answers that don't directly answer the question?</h2>
<p>In the title, what I mean by it is that if I have a problem, and I already solve it, and someone posts a good answer (that could answer the question but might not be the solution for me). Can I still accept it? Or should I rather post an answer of my own and accept it myself? I want to give credit to someone with good quality content.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2606" class = 'collapse'>
			</div>
				<textarea id = "speech-2606" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2606">
					<img id="start_img-2606" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2606">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2607"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2607" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your solution is the 100% correct, canonical way to answer the question you asked, you should post it and accept it. There is absolutely nothing wrong with answering your own question. In fact: the facilities are provided by the Stack Exchange software to both ask and answer a question at the exact same time!</p>

<p>You can still up vote the other user's answer. It's a nice way to show them that they were helpful, even if they didn't give the perfect solution to the problem. But even that isn't strictly necessary and may need some caution if, in up voting the other user's answer, you end up making it higher voted than the accepted-correct answer. It can cause confusion in that case for future readers.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2607" class = 'collapse'>
			</div>
				<textarea id = "speech-2607" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2607">
					<img id="start_img-2607" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2607">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>