<html>
	<head>
		<title id = 'pagetitle'>Is it possible to autocorrect words?
		</title>
	<head>
	<body id = 'pagebody'><p>Is it possible for SE to correct words according to a list or something?</p>

<p>Example:</p>

<ul>
<li>IOS, Ios ios should be iOS</li>
<li>IPAD, ipad, Ipad, IPad etc should be iPad</li>
<li>apple should be Apple</li>
</ul>

<p>These "mistakes" occur many times resulting in edits. I don't mind editing them, but if it is technically possible...?</p>


<h1>ANSWERS</h1>
		<p>As cosmetically-infuriating as these typos can be, they don't obscure the meaning or intent behind a question or answer so I would just: don't sweat it. I think you'll go a little crazy trying to right all those wrongs on this site if you can't find a way to live with them.</p>


	</body>
</html>