<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it possible to autocorrect words?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2005" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::37</h3>
				<h2>Is it possible to autocorrect words?</h2>
<p>Is it possible for SE to correct words according to a list or something?</p>

<p>Example:</p>

<ul>
<li>IOS, Ios ios should be iOS</li>
<li>IPAD, ipad, Ipad, IPad etc should be iPad</li>
<li>apple should be Apple</li>
</ul>

<p>These "mistakes" occur many times resulting in edits. I don't mind editing them, but if it is technically possible...?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3863" class = "comment">
				<p>hey, newbies like me gotta get points somehow ;)</p>
			</div>
			<div id = "comment-3864" class = "comment">
				<p>@dwightk I fully understand you'd like to get points ASAP. But just editing for IPad to iPad is a bit pointless IMO. I did accept your edit though.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2012"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>As cosmetically-infuriating as these typos can be, they don't obscure the meaning or intent behind a question or answer so I would just: don't sweat it. I think you'll go a little crazy trying to right all those wrongs on this site if you can't find a way to live with them.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3873" class = "comment">
				<p>Or, to put it the other way round: If you take on the mission on fixing all Ipads, IPADS etc. please pick those posts which are in need of editing for other reasons as well :-)</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>