<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is is possible to start an announcements section in meta?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-759" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::43</h3>
				<h2>Is is possible to start an announcements section in meta?</h2>
<p>I've noticed that there have been a couple of announcements on meta (<a href="https://apple.meta.stackexchange.com/questions/606/who-is-this-character-with-the-and-the-running-around-editing-all-these-post">Abby's announcement</a>) Is is possible to start an announcements section in meta? Or just a tag for announcements? I know there's the blog, but the posts don't show up on Ask Different.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-760"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>In general, any "announcement" type question will be just a <a href="/questions/tagged/discussion" class="post-tag required-tag" title="show questions tagged 'discussion'" rel="tag">discussion</a> post. Given the level of activity usually prevalent in them, they often solidify their presence on the Meta Sidebar ad you get on the main site, for the duration that they are important. It's the list on the right that starts off with "Visit Meta".</p>

<p>If it is exceptionally important or expects to be such for a while, there is a moderator-only tag <a href="/questions/tagged/featured" class="post-tag moderator-tag" title="show questions tagged 'featured'" rel="tag">featured</a>. This locks the post to being at the top of the Meta Sidebar ad on the main site as long as the tag stays (which is at least 2 weeks). If there is a big announcement that's important that people should see, this will be used.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1396" class = "comment">
				<p>Cool, didn't know that. Thanks!</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>