<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it OK to recommend a jailbreak solution to question that didn't ask for one?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is it OK to recommend a jailbreak solution to question that didn't ask for one?</h2>
<p>I've been doing my review and stumbled upon a question asking for a feature not provided by iOS currently, and it received a comment or answer suggesting the OP jailbreak. Question is: is advocating jailbreak our current direction for Ask Different?</p>

<p>My concern is users come with different levels of experience and expectations. If (with the best of intention) a solution was recommended that ended up with the OP having a bricked iOS device, are we liable (legally) and will we inadvertently cause problems for Ask Different? Naturally OP who knowingly ask for jailbreak solution is not covered by this question as they know what they're asking for, and assume responsibility (and absolving us?)</p>

<p>I've read <a href="https://apple.meta.stackexchange.com/questions/1377/faqask-should-not-include-points-that-belong-under-faqdontask">faq#ask should not include points that belong under faq#dontask</a> but didn't get the definitive answer I'm looking for. Guidance appreciated to help this new hand in review. Thanks.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I can see no reason not to suggest jailbreak if there is no other choice, I would note the downside that the device would not be supported by Apple.</p>

<p>The reason I would suggest this is this site is for Apple hardware and also see this <a href="https://apple.meta.stackexchange.com/questions/1576/is-asking-about-jailbreaking-with-another-os-on-or-off-topic?cb=1">question</a> especially <a href="https://apple.meta.stackexchange.com/questions/1576/is-asking-about-jailbreaking-with-another-os-on-or-off-topic?cb=1#comment2952_1576">bmike  (a moderator)'s comment</a></p>

<blockquote>
  <p>Do you have a specific question in mind or is this just asking for confirmation that with a jailbreak of 299 questions and several policy links that jailbreaking itself is fine we really are OK with jailbreak as a topic</p>
</blockquote>

<p>If it gets disputed then I would upvote non jailbreak versions and ask jailbroken answers to fully justify the issue. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>