<html>
	<head>
		<title id = 'pagetitle'>Is it okay to ask questions about non-Apple apps for Apple products on Ask Different?
		</title>
	<head>
	<body id = 'pagebody'><p>Can I ask a question about a non-Apple app that is used on iTouch, iPhone, or iPad on Ask Different?  I know it's a forum about Apple stuff, but I am using the app on an iTouch.  I'm talking about an app like SoundHound, Splashtop, etc. You know, something not made by Apple but used on an Apple product.  If I can't, is there a more appropriate Stack Exchange site to ask on?  Thanks.</p>


<h1>ANSWERS</h1>
		<p>Yes. See <a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a> for a list of topics you can ask about; third-party software that runs on Apple devices is explicitly included.</p>


	</body>
</html>