<html>
	<head>
		<title id = 'pagetitle'>Is it poor etiquette to post here + at Apple Support Communities?
		</title>
	<head>
	<body id = 'pagebody'><p>Is it frowned on to post the same thing here and at Apple Support Communities? </p>

<p>If it's not, should I cross list the questions? </p>


<h1>ANSWERS</h1>
		<p>We only ask that one Stack Exchange site contain your question. As long as you are the author and not simply copying someone else's question I see no reason why anyone would object to you posting here your question if it's on an external site. </p>


	</body>
</html>