<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it okay to ask questions about non-Apple apps for Apple products on Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1755" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::56</h3>
				<h2>Is it okay to ask questions about non-Apple apps for Apple products on Ask Different?</h2>
<p>Can I ask a question about a non-Apple app that is used on iTouch, iPhone, or iPad on Ask Different?  I know it's a forum about Apple stuff, but I am using the app on an iTouch.  I'm talking about an app like SoundHound, Splashtop, etc. You know, something not made by Apple but used on an Apple product.  If I can't, is there a more appropriate Stack Exchange site to ask on?  Thanks.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3289" class = "comment">
				<p>If you're going to ask on our Apple site, at the very least you should be using the proper name for the Apple product in question: iPod touch.</p>
			</div>
			<div id = "comment-3292" class = "comment">
				<p>And I didn't know there was a site called "Ask Different Meta".  I thought it was just "Meta Stack Overflow".  If you migrated me here, thanks!</p>
			</div>
			<div id = "comment-3293" class = "comment">
				<p>@BigTarantula99: every SE site has their own Meta; SO's doubles for a catch-all for questions about the whole network.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1756"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Yes. See <a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a> for a list of topics you can ask about; third-party software that runs on Apple devices is explicitly included.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3291" class = "comment">
				<p>Okay, thanks for the info and link.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>