<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it poor etiquette to post here + at Apple Support Communities?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is it poor etiquette to post here + at Apple Support Communities?</h2>
<p>Is it frowned on to post the same thing here and at Apple Support Communities? </p>

<p>If it's not, should I cross list the questions? </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>We only ask that one Stack Exchange site contain your question. As long as you are the author and not simply copying someone else's question I see no reason why anyone would object to you posting here your question if it's on an external site. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>