<html>
	<head>
		<title id = 'pagetitle'>Is it good to have a low acceptance rate?
		</title>
	<head>
	<body id = 'pagebody'><p>I was wondering what the accept rate really means. I know what it does, but what can be inferred from a low/high acceptance rate? Is it good or bad to have a low accept rate?</p>


<h1>ANSWERS</h1>
			</body>
</html>