<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Is it good to have a low acceptance rate?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-805" class = "post">
			<h2>Question</h2>
			<div id="vote-805" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 97</p>
			</div>
				<h2>Is it good to have a low acceptance rate?</h2>
<p>I was wondering what the accept rate really means. I know what it does, but what can be inferred from a low/high acceptance rate? Is it good or bad to have a low accept rate?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-805">Load Comments</button></br>
			<div id = "commentsection-805" class = 'collapse'>
			<div id = "comment-1498" class = "comment">
				<p>See http://meta.stackexchange.com/questions/88046/is-58-accept-rate-bad. A really low accept rate is bad, but you don't need to have 100%.</p>
			</div>
			<div id = "comment-1500" class = "comment">
				<p>@ughoavgfhw Thanks!</p>
			</div>
			<div id = "comment-1502" class = "comment">
				<p>That should be an answer, with adequate quoting :).</p>
			</div>
			</div>
				<textarea id = "speech-805" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-805">
					<img id="start_img-805" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>