<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it bad taste to refer to a question you ve just written yourself to answer someone?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is it bad taste to refer to a question you ve just written yourself to answer someone?</h2>
<p>I ve just proposed an answer to  <a href="https://apple.stackexchange.com/questions/126687/which-macbook-screen-should-i-buy/126717">Which MacBook screen should I buy?</a> Because it seemed to me the underlying question went well before the scope of what the OP was asking, I took the liberty of writing the question <a href="https://apple.stackexchange.com/questions/126715/how-to-identify-which-model-is-my-mac/126716#126716">How to identify which model is my Mac?</a> (and proposing an answer to it).</p>

<p>My answer to <a href="https://apple.stackexchange.com/questions/126687/which-macbook-screen-should-i-buy/126717">Which MacBook screen should I buy?</a> is thus little more (well, still <em>more</em>, but not much at all) than a link to the other question.</p>

<p>Is this an acceptable way to proceed or should I avoid it in the future?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I think it's very hard to give a general rule here outside of: if your answer serves to address the question, it's a good thing to do. And in your specific case I believe that to be true. You've given the answer the user needs to move forward and solve their problem. I don't see any problem with this and wouldn't request to you avoid it.</p>

<p>There's a general dislike of links on the Stack Exchange network because they rot and you lose the answers, but in this case you're linking to another AD answer so no need to worry about rot.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>