<html>
	<head>
		<title id = 'pagetitle'>Is it appropriate to add a new answer vs editing an existing link-only answer?
		</title>
	<head>
	<body id = 'pagebody'><p>Is what I did in <a href="https://apple.stackexchange.com/questions/231594/how-do-i-block-a-website-on-my-iphone-5/231595">this question</a> appropriate? Instead of editing the existing link-only answer, I made my own new answer with an explanation of the steps contained in the link. Is this fine? Or should I have just edited the other answer?</p>


<h1>ANSWERS</h1>
		<p>As you haven't added any more information to your answer beyond what was obtained from the link, I would have edited the existing answer rather than adding a new one, but what you did is not wrong either.</p>

<p>If there had been other content in the existing answer then I would have added another answer as you did, but as it was just the link I would have added a quote or other derived content from the source to the existing answer. Additionally, if your answer had been longer and contained information from elsewhere including but not limited to personal experience, a new answer is definitely warranted.</p>


	</body>
</html>