<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it ok to ask about problems with specific apps?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1856" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::42</h3>
				<h2>Is it ok to ask about problems with specific apps?</h2>
<p>I have a problem with an app in my iPhone, and I tried everything I could find in the internet.</p>

<p>Is it ok to ask those questions here?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1857"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Fine by me, so long as it's a genuine problem, one that you have showed effort in resolving, and one that is on topic then that's fine.  We don;t just do Apple software support, we look after you guys running apps on Apple hardware.  One potential issue is that your question may be flagged as too localised, depending on the nature of your (unspecified) problem, but if give it a go - even if the question is not perfect, we can help you fix it up so it passes muster.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3581" class = "post">
				<p>I agree totally, as long as someone documents what they did to try and solve their issue and describes the problem clearly, there are rarely any issues with closing questions that aren't covered in the [help](http://apple.stackexchange.com/help) section of the main site.</p>
			</div>
			<div id = "comment-3582" class = "post">
				<p>@stuffe the Too localized close reason has gone.</p>
			</div>
			<br><div id = "ans-1858"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Yes, asking questions about software running on Apple products is on-topic for this site.</p>

<p>The more concrete your question and <a href="https://apple.stackexchange.com/help/how-to-ask">the more details you supply</a> about what you want to accomplish, what happens when you try, and what you've tried to do to fix the problem, the more likely 
you are to get an answer that helps you.</p>

<p>In general, a post ranting that "this software doesn't work!" is unlikely to get you any useful advice, but "I'm trying to enter multi-player mode on CoolGame.app version 1.3.2, but when I tap <code>Multi-Player</code>, it just brings up a splash screen and does not actually start a game. The web site for the game advertises multi-player mode, but I can't seem to bring it up. Does anyone have any advice?" is more likely to get you somewhere.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>