<html>
	<head>
		<title id = 'pagetitle'>Is it possible to be asking humorous questions?
		</title>
	<head>
	<body id = 'pagebody'><p>I was wondering if humorous questions are possible. Is it forbidden by site policy or anything else?</p>

<hr>

<p>I would also like to know if the least bit if sense of humor would be good to header the question.</p>

<p>Here's an example:</p>

<h3>Original</h3>

<pre><code>MacBook Air 2012 USB Port change or repair
</code></pre>

<h3>Humorous</h3>

<pre><code>MacBook Air 2012 USB Port make happy and delighted
</code></pre>

<hr>

<p>Please, note that I did everything I could to make this question as neutral as it was possible.</p>


<h1>ANSWERS</h1>
		<p>If you are here to joke, that won't go over well.</p>

<p>However if you have a real problem to solve, please enjoy puns every once in a while if you wish. Language can have wonderful shades of meaning and expression, but the site also requires you to be open to:</p>

<p>a) someone perhaps editing it (and we can help resolve things if there's an honest disagreement on what belongs and what doesn't)</p>

<p>b) making sure the intent and details are still clear</p>

<p>I think you have no worries on either case based on the example you provided. Feel free to ask your question on the main site and link here / comment if anything comes up or someone doesn't get the humor. Also, don't be too attached to the humor part in case it gets edited out to make the question more useful or clear if needed.</p>


	</body>
</html>