<html>
	<head>
		<title id = 'pagetitle'>Is it acceptable for a user to have multiple answers for the same question?
		</title>
	<head>
	<body id = 'pagebody'><p>In <i><a href="https://apple.stackexchange.com/questions/27205/selective-sharing-of-public">this question</a></i> a user has answered the question twice; is this acceptable, or should the answers be combined?</p>


<h1>ANSWERS</h1>
		<p>I'd say usually it's a good idea to answer once. The software allows multiple answers (the "Add answer" button turns into a "Add another answer", and suggests combining, but permits a second answer to be posted. There are certainly multiple examples of questions with multiple answers (sometime I should revise this and include links, but I won't right now). But this question poses a case that is far from ideal, I would agree.</p>

<p>In the case you linked to, there are multiple questions asked in one question post. I answered twice because I was hoping the question would be split into two, and I'd move one of my answers to the second question. But since then I've been in dialog with the OP, and now I think the best solution is to revise the question, and then revise one answer (and delete the other). But we haven't done that yet.</p>


	</body>
</html>