<html>
	<head>
		<title id = 'pagetitle'>Is it possible to warn the users who left bad comments other than trying to help in a question?
		</title>
	<head>
	<body id = 'pagebody'><p>I see that there are some users who left bad comments in the question when they do not understand what the OP wants to ask.<br>
I hope that the moderators can warn them not to do it again because what they did will discourage the OP from asking new questions.</p>


<h1>ANSWERS</h1>
		<p>If you believe a comment is rude or offensive, you can flag it.</p>

<p>Hover over the comment and click the Flag <sub><sub><img src="https://i.stack.imgur.com/yDKEr.png" width="20"></sub></sub> button to the left of the comment, then select an option and click Flag Comment. A   moderator will review the flag and delete/edit the comment as they see appropriate, or if a sufficient number of users flag the comment, it will be deleted automatically.</p>

<p> <img src="https://i.stack.imgur.com/Vn7Wb.png" width="365"></p>

<p>If you see persistent rude/offensive comments from a user, flag one of the comments and use the 'other' reason, providing further details. If you wish a moderator to have the ability to comment back on your flag, flag one of the user's posts instead making sure to reference the appropriate comments.</p>

<p>For more information on flagging, see <a href="https://apple.stackexchange.com/help/privileges/flag-posts">Privileges - flag posts - Ask Different</a>.</p>


	</body>
</html>