<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it poor etiquette to post here + at Apple Support Communities?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1492" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::57</h3>
				<h2>Is it poor etiquette to post here + at Apple Support Communities?</h2>
<p>Is it frowned on to post the same thing here and at Apple Support Communities? </p>

<p>If it's not, should I cross list the questions? </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1493"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>We only ask that one Stack Exchange site contain your question. As long as you are the author and not simply copying someone else's question I see no reason why anyone would object to you posting here your question if it's on an external site. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2803" class = "comment">
				<p>Should I cross list the question on here and at Apple Support Communities?</p>
			</div>
			<div id = "comment-2804" class = "comment">
				<p>Your call. I can't speak for Apple, but my experience is each has a slightly different group that answers, so you might want to craft the basic question differently here versus there. There's no need to cross link them unless one site has some breakthrough that you'd like to share on the other.</p>
			</div>
			<div id = "comment-2805" class = "comment">
				<p>I would probably not cross list as the question and answers here should be self sufficient and not rely on external links. Links can give more info on answers but not be required to understand the issue</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>