<html>
	<head>
		<title id = 'pagetitle'>Is it considered bad form to answer questions out of the review queue?
		</title>
	<head>
	<body id = 'pagebody'><p>More than once I've run into a question in First Posts which I knew the answer to, and have popped open the question in a new tab to submit one.</p>

<p>Well, there's no button in the queue for actually taking you to the main question page or submitting an answer, and I'm just wondering if there's a reason for this :)</p>


<h1>ANSWERS</h1>
		<p>I don't think it was intentional that there's no way to contribute an answer when you're perusing the review queue. I think it was just a purpose-built UI; it was made for reviews and not reviews-and-possibly-answering.</p>

<p>I certainly don't think it's bad form to provide an answer to question. Ever. That's the whole reason the site exists. If you can help a person out with your knowledge I say go for it.</p>

<p>Also, in most of review situations, if you mouse over the question title it'll let you open the question. I'll pop questions in to background tabs as I'm reviewing and revisit them when I'm done to answer or comment or improve them beyond what the review tasks were asking me to do.</p>


	</body>
</html>