<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is it ok to "reuse" or plagiarize comments when reviewing first questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is it ok to "reuse" or plagiarize comments when reviewing first questions?</h2>
<p>I've seen this comment by <a href="https://apple.stackexchange.com/users/85275/tetsujin">Tetsujin</a> on non-answers and rants:</p>

<blockquote>
  <p>Welcome to Ask Different! This does not provide an answer to the
  question. To critique or request clarification from an author, leave a
  comment below their post once you have sufficient <a href="https://apple.stackexchange.com/help/whats-reputation">reputation</a>. If you
  have a new question, please ask it by clicking the <a href="https://apple.stackexchange.com/questions/ask">Ask Question</a>
  button. Include a link to this question if it helps provide context.</p>
</blockquote>

<p>and I thought it was great and copied it to some first posts I was reviewing  I even added markdown links for them to work when pasted to the comment box. </p>

<p>Is that ok? Should I credit <a href="https://apple.stackexchange.com/users/85275/tetsujin">Tetsujin</a>? Are there canned responses available to higher rep users that are not available to me (~750)?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You can always ask the author in [chat] or officially here on meta like you did. I can't see anyone getting too worked up if you are using a comment for kind, critical feedback to a poster.</p>

<p>The text you selected is a canned response in the <a href="https://apple.stackexchange.com/review">/review queue</a> that you'll earn once you reach that <a href="https://apple.stackexchange.com/help/privileges">reputation milestone</a>.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>