<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is it bad taste to refer to a question you ve just written yourself to answer someone?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2035" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::25</h3>
				<h2>Is it bad taste to refer to a question you ve just written yourself to answer someone?</h2>
<p>I ve just proposed an answer to  <a href="https://apple.stackexchange.com/questions/126687/which-macbook-screen-should-i-buy/126717">Which MacBook screen should I buy?</a> Because it seemed to me the underlying question went well before the scope of what the OP was asking, I took the liberty of writing the question <a href="https://apple.stackexchange.com/questions/126715/how-to-identify-which-model-is-my-mac/126716#126716">How to identify which model is my Mac?</a> (and proposing an answer to it).</p>

<p>My answer to <a href="https://apple.stackexchange.com/questions/126687/which-macbook-screen-should-i-buy/126717">Which MacBook screen should I buy?</a> is thus little more (well, still <em>more</em>, but not much at all) than a link to the other question.</p>

<p>Is this an acceptable way to proceed or should I avoid it in the future?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2035">Load Comments</button></br>
			<div id = "commentsection-2035" class = 'collapse'>
			<div id = "comment-3903" class = "comment">
				<p>Good question, your answer on main AD is good.</p>
			</div>
			</div>
				<textarea id = "speech-2035" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2035">
					<img id="start_img-2035" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2036"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I think it's very hard to give a general rule here outside of: if your answer serves to address the question, it's a good thing to do. And in your specific case I believe that to be true. You've given the answer the user needs to move forward and solve their problem. I don't see any problem with this and wouldn't request to you avoid it.</p>

<p>There's a general dislike of links on the Stack Exchange network because they rot and you lose the answers, but in this case you're linking to another AD answer so no need to worry about rot.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2036">Load Comments</button></br>
			<div id = "commentsection-2036" class = 'collapse'>
			<div id = "comment-3904" class = "comment">
				<p>Any way to see link only answers via mod panel? I'm just curious about the numbers but I think SO suffers more from this.</p>
			</div>
			<div id = "comment-3905" class = "comment">
				<p>Not that I know of but you can view answers that are marked low quality: http://apple.stackexchange.com/admin/posts -- maybe @bmike knows? He's an admin panel ninja.</p>
			</div>
			</div>
				<textarea id = "speech-2036" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2036">
					<img id="start_img-2036" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>