<html>
	<head>
		<title id = 'pagetitle'>Is it good-practice to use a comment (or parts of it) of someone else to answer a question?
		</title>
	<head>
	<body id = 'pagebody'><p>I wanted to answer this <a href="https://apple.stackexchange.com/questions/160001/binding-multiple-items-to-clipboard">question</a>. But the user jherran was faster commenting this question instead of answering it.</p>

<p>So i just added a comment instead of answering it, expecting jherran will add an answer based on his   in my opinion correct   comment (and maybe other peoples comments) soon.</p>

<p>I still hesitate to answer it because i feel uncomfortable to "steal" someone else's answer.</p>

<p>What is good-practice or considered polite in such a case?</p>


<h1>ANSWERS</h1>
		<p>I would say just answer it. I would put more content in an answer than your comment, but if the other person wants to answer it they can too. That's how SE is supposed to work. People answer the questions and other people vote those answers up or down. </p>


<p>Please always use an answer as comments are (sometimes) pretty pointless. An answer is something I read at first when I open a new question.</p>


	</body>
</html>