<html>
	<head>
		<title id = 'pagetitle'>Is it OSX or OS X?
		</title>
	<head>
	<body id = 'pagebody'><p>Or does it even matter?</p>

<p>As I <a href="https://apple.meta.stackexchange.com/questions/606/who-is-this-character-with-the-and-the-running-around-editing-all-these-post">mentioned yesterday</a>, I'm editing a ton of question titles. I tend to change OSX to OS X just out of personal preference, but I wonder if that will annoy anyone? </p>


<h1>ANSWERS</h1>
		<p>Apple's Mac OS X Lion website, documentation, and marketing material all have spaces between OS and X. I'd assume OS X is the correct way to spell OS X. Sidebar, Mac OS X is pronounced Mac Oh Ess Ten, not Oh Ess Ex. This can be confirmed by using the say command in the terminal:</p>

<pre><code>$ say OS X             # Returns Oh Ess Ten
$ say OSX              # Returns Oh Ess Ex
$ say X                # Returns Ex
$ say Roman numeral X  # Returns Ex
</code></pre>

<p>Also, as noted by michaelmichael the proper spelling would be <strong>Mac</strong> OS X.</p>


<p>To be <em>really</em> nitpicky, it's <strong>Mac</strong> OS X. They're fanatical about this in Apple Store retail training.</p>


<h1>Suggestions</h1>

<p>I should: </p>

<ol>
<li>always discourage <strong>OSX</strong> (with or without a <em>Mac</em> prefix)</li>
<li>encourage <strong>Mac OS X</strong> whilst Apple support and licensing for OS X is limited to Mac hardware   currently in <a href="http://www.apple.com/legal/sla/" rel="nofollow noreferrer">Apple   Legal</a> there is no OS X without Mac; System Information in the first release of Lion describes Mac OS X ; and so on</li>
<li>without wishing to speculate, consider the possibility that Apple may one day license <strong>OS X</strong> for use on hardware that is not Mac   not to be confused with past and present <a href="http://en.wikipedia.org/wiki/OSx86" rel="nofollow noreferrer">OSx86</a> (Hackintosh) approaches.</li>
</ol>

<h2>Related (but not listed as such in the sidebar)</h2>

<p><a href="https://apple.meta.stackexchange.com/q/1/8546">What is the difference between [mac] and [apple]?</a> (2010-08-17)  AFAICT focused on tagging</p>

<p><a href="https://apple.meta.stackexchange.com/q/45/8546">On the right name of Apple products and softwares</a> (2010-08-18)</p>


<p>Now it is neither! As of June 13, 2016, the name has been changed to macOS <a href="https://www.apple.com/macos/sierra/" rel="nofollow noreferrer">https://www.apple.com/macos/sierra/</a></p>

<p><a href="https://i.stack.imgur.com/yvS4g.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/yvS4g.png" alt="enter image description here"></a></p>

<blockquote>
  <p>During the keynote at WWDC on June 13, 2016, Apple announced that OS X would be renamed macOS to stylistically match Apple's other operating systems, such as iOS, watchOS, and tvOS.</p>
</blockquote>


	</body>
</html>