<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is it possible to post pictures in comments?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1686" class = "post">
			<h2>Question</h2>
			<h3>Score ::-2</h3>
			<h3>Views ::57</h3>
				<h2>Is it possible to post pictures in comments?</h2>
<p>I was wondering if it is possible to post pictures in comments? It might be useful for clarification of difficult questions. If not then could it be a feature?</p>

			</div><h3>Comments</h3>
			<div id = "comment-3156" class = "comment">
				<p>Why the down votes? It's a meta question!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1686">Record</button>
				<button class="record-stop" id="stop-1686">Stop</button>
				<p id="recording-1686"></p>

<h1>Answers</h1>
			<br><div id = "ans-1687"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>It's not possible currently, but we can leave it here tagged as feature request. The site developers monitor questions tagged as <a href="https://apple.stackexchange.com/questions/tagged/feature-request" class="post-tag" title="show questions tagged &#39;feature-request&#39;" rel="tag">feature-request</a> so they will see both this and the votes that people have left for the feature to be implemented.</p>

<p>(Don't be alarmed if people down vote it - votes here work differently than on the main sites)</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1687">Record</button>
				<button class="record-stop" id="stop-1687">Stop</button>
				<p id="recording-1687"></p>
			<br><div id = "ans-1688"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I'd argue a picture, posted in a comment, should really be made as a clarifying edit to the answer or to the question -- wherever the comment was going to be made.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1688">Record</button>
				<button class="record-stop" id="stop-1688">Stop</button>
				<p id="recording-1688"></p>
			<br><div id = "ans-1689"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>If there really is a need for adding a picture to a comment (which I doubt due to the nature of comments here), there is always the possibility to add a link to the picture uploaded somewhere. </p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1689">Record</button>
				<button class="record-stop" id="stop-1689">Stop</button>
				<p id="recording-1689"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>