<html>
	<head>
		<title id = 'pagetitle'>Is there a way for activating live-updaintg?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm not sure this is the right place for asking this question. So please forgive me if it isn't.</p>

<p>Till yesterday I was used to have live-updating working with <code>Ask Different</code>.
Since today it doesn't show anymore the number of new or updated questions.
Is there a way for re-enabling it?</p>

<p>I read on <a href="https://meta.stackexchange.com/questions/148430/stackoverflow-com-questions-is-not-updating">this question</a> that, due to the performance reasons, it is disabled for <code>Stack Overflow</code>. Could it be the same for <code>Ask Different</code> (since today :-) ).</p>


<h1>ANSWERS</h1>
		<p>I can't answer with a definitive yes, but are you referring to the "2 questions" with new activity item that shows up when your current page is out of date?</p>

<p>The site developers should see this bug report and answer definitively, but we share the majority of the code with all the non-SO sites so it's extremely likely we are coded the same as stack overflow.</p>


	</body>
</html>