<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is this type of answer okay?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2824" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::56</h3>
				<h2>Is this type of answer okay?</h2>
<p>I found <a href="https://apple.stackexchange.com/a/245575/9058">an answer</a> like this</p>

<blockquote>
  <p>Apple has a support page for this: <a href="https://support.apple.com/en-us/HT201269" rel="nofollow noreferrer">https://support.apple.com/en-us/HT201269</a></p>
</blockquote>

<p>I think you should at least give a small description of the link?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6181" class = "post">
				<p>Did george answer the core of your question? the system is designed for anyone to make things better - so are you looking for permission or guidance on editing someone else's post or are you looking to model your answer structure on that specific post?</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2825"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>This answer is referred to as a low quality answer. The answer (in its original revision) provides no additional detail than a link. If this link were removed, the answer would not be an answer to the question, therefore it is a very low quality answer.</p>

<p>Also, there is value to showing the actual URL - so when you edit a post with a link or insufficient explanation - keeping the URL plain so that someone sees that it points to Apple instead of a scam site has benefit to everyone.</p>

<p>It is preferable to edit the answer to include a summary of the contents of the link, such that if the destination of the link be removed, the answer still makes sense. You are always able to suggest edits at any reputation and this should be your primary resolution.</p>

<p>If you are not able to fix the answer, you should flag as very low quality. This puts the answer in the <a href="https://apple.stackexchange.com/review/low-quality-posts">low quality posts review queue</a>, available to <a href="https://apple.stackexchange.com/help/privileges/edit">higher reputation users who can recommend deletion</a> or <a href="https://apple.stackexchange.com/help/privileges/trusted-user">vote to delete</a>.</p>

<p><a href="https://i.stack.imgur.com/b2b4y.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/b2b4y.png" alt=""></a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6158" class = "post">
				<p>Links to Apple Support pages have a low risk of getting broken, as do links to other SE sites. But well, I might be a bit biased here :-)</p>
			</div>
			<div id = "comment-6185" class = "post">
				<p>@patrix - are you assuming that, or do you have history? I used to think this about IRS.gov links, until they revamped their site, and I woke up to an alert of over 100 bad links on my blog.</p>
			</div>
			<div id = "comment-6186" class = "post">
				<p>I'm quite sure about SE (from the way the site works) and Apple (I'm using links to support articles which are several years old)</p>
			</div>
			<div id = "comment-6187" class = "post">
				<p>Yes, Links can break or change</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>