<html>
	<head>
		<title id = 'pagetitle'>Is there a place on AskDifferent to post helpful links for Apple-related topics?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm wondering whether there is a place on AskDifferent to post helpful links for Apple-releated topics (e.g. I stumpled across <a href="https://hey-siri.io/" rel="nofollow">https://hey-siri.io/</a> recently which lists possibly everything Siri can do for you). Is there a way to post these without breaking the rules?</p>


<h1>ANSWERS</h1>
		<p>Not really as this is out of scope for really any Stack Exchange site.</p>

<p>SE basic aim is to have the information on this site as from experience we have seen many links change and the information is lost.</p>

<p>In fact I think on many sites a reason to close a questions is if it asks for off site information which really is the only question your information could be provided as an answer to.</p>

<p>Also on one of the review queues an option is to delete a question for being link only.</p>


	</body>
</html>