<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is there a way to rescind a close vote?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1446" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::65</h3>
				<h2>Is there a way to rescind a close vote?</h2>
<p>I voted to close <a href="https://apple.stackexchange.com/questions/64468/what-hidden-features-have-you-found-in-ios-6">this</a> question earlier today because I didn't realize iOS 6 had been released. I have since realized that I'm an idiot and should check things before blithely voting to close a perfectly fine question for a reason that no longer applies.</p>

<p>So: I'd like to rescind my close vote. Is there a way to do this? If there isn't, can one be added?</p>

			</div><h3>Comments</h3>
			<div id = "comment-2755" class = "comment">
				<p>With respect to that question, I'm not ready to close it as a binding vote, but feel it would be more useful to the site with one answer that was CW like [this example](http://apple.stackexchange.com/questions/23577/how-many-genius-mixes-are-there-in-itunes) If you read my edit notes on the question I describe some of what I see as wrong about "popularity contest" questions.</p>
			</div>
			<div id = "comment-2889" class = "comment">
				<p>If you want to request this as a feature, please ask on the main meta. http://meta.stackoverflow.com/ I'll leave this as a "can I do this" without the feature-request tag since it documents what we can do now.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1447"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>No - votes time out and only get cleared if a moderator takes a binding action.</p>

<p>However, you can favorite the question and watch it and vote to reopen it should enough people cast close votes to actually close the question.</p>

<p>And of course, flagging it would be appropriate - just as if you saw any other question that was flagged and you felt in reality it was closed incorrectly.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-2066"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Yes you can, since 15th July 2013. Click the close button again after voting to close and you have the option to retract your vote.</p>

<p> <img src="https://i.stack.imgur.com/iAFYN.png" width="451"></p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>