<html>
	<head>
		<title id = 'pagetitle'>Is there a way to track share stats?
		</title>
	<head>
	<body id = 'pagebody'><p>Sharing 10 links is quite a challenge.  I don't want to just spam 10 links to all my networks and hope they click all of them, so I'm trying hard to target just those links that would be very interesting to those groups I participate in.</p>

<p>However, some groups are amenable to getting more than one link a week, and I'd like to see when I hit the 5 shares required for the previous link before sending the new one.</p>

<p>Further, I have to track this across several groups I participate in, and while I can send one link out to one group, wait until my share counter goes up, then send out another link to another group (or the same one) then wait until my share counter goes up, it's terribly inefficient - I'd like to be able to see which shared links have reached five views so I can figure out which group is ready for another link.</p>

<p>I have found a few people I've linked to who thanked me for showing them the site, so I suppose the goal of the contest is working, despite the fact that I'm approaching this methodically rather than organically, which I suppose is better in some ways.</p>

<p>So is there a way to figure out which links have gotten five shares from me?</p>

<p>Is there another way to track this that already exists?</p>


<h1>ANSWERS</h1>
		<p>If you want to track clicks, you could use a service like <a href="https://bitly.com/" rel="nofollow">bitly</a>. They tell you how many times it was clicked, when it was clicked, etc.</p>


	</body>
</html>