<html>
	<head>
		<title id = 'pagetitle'>Is the CSS different between Main and Meta?
		</title>
	<head>
	<body id = 'pagebody'><p>When I switch between Main and Meta within the same browser, the layout changes slightly, most noticable when viewing my reputation scores, where the icons move over further to the right on the main screen, and the drop down arrows are truncated as it their DIV was not large enough to accomodate the icon, ir is misaligned vertically.  I have tried to show this in the following screen grab edit - the top one is Meta, the bottom one is Main.</p>

<p><img src="https://i.stack.imgur.com/Oehc4.jpg" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>Well, uh. This is only mildly embarrassing. </p>

<p>Three years, two lines of CSS, one bug fixed!</p>


	</body>
</html>