<html>
	<head>
		<title id = 'pagetitle'>Is this supposed to look different?
		</title>
	<head>
	<body id = 'pagebody'><p><img src="https://i.stack.imgur.com/UNKPH.png" alt="New bar"></p>

<p>Is this supposed to be here? It doesn't fit with the colour scheme of Ask Different, and it appeared recently, without warning or explanation (that I could find).</p>


<h1>ANSWERS</h1>
		<p>It's the colors of the original Apple Logo: </p>

<p><img src="https://i.stack.imgur.com/eVZlf.jpg" alt="Apple Logo"></p>

<p>It appeared with the update to the site design that added the "Steve Jobs passed away on October 5th, 2011. Rest in peace." line to the top.</p>


	</body>
</html>