<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Is there a automated system to be informed on down vote
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2487" class = "post">
			<h2>Question</h2>
			<div id="vote-2487" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a automated system to be informed on down vote</h2>
<p>In the effort to clean after my self !</p>

<p>Sometimes I find my answer given long time ago, to have been down voted (for a good reason). So I delete it.</p>

<p>My problem is how to be notified of such event, without having to monitor or remember the current points, or go back in history and review all answers. </p>

<p>Another problem is for answers without Votes, when someone has gotten a Accepted answer, I would like to know that as well and delete my answer.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2487" class = 'collapse'>
			</div>
				<textarea id = "speech-2487" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2487">
					<img id="start_img-2487" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2488"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2488" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I wouldn't delete a post based on a -1 personally. Maybe if you're at -5 and you find the answer is totally not helpful / even when you misunderstand a question and make an attempt to answer, hundreds of people will likely make the same error and having that up can help the site. It also can help someone with a similar problem but they find your answer.</p>

<p>Keep in mind - 4 down votes means that somewhere in the entire internet, 4 accounts at one point in time were cranky and didn't find that post helpful or clear or useful.</p>

<p>I'd focus on making new answers clear, relevant and think if you need to comment for clarification or post an answer that will be of use even if it's not what the OP wants to hear.</p>

<p>Lastly, there is the Stack Exchange Data Explorer where you can craft about any query you can think of to see posts by date, relative date, votes, etc...</p>

<ul>
<li><a href="http://data.stackexchange.com/apple/queries" rel="nofollow">http://data.stackexchange.com/apple/queries</a></li>
</ul>

<p>It's not automated, but it's a system.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2488">Load Comments</button></br>
			<div id = "commentsection-2488" class = 'collapse'>
			<div id = "comment-5668" class = "comment">
				<p>thanks for the link :)</p>
			</div>
			</div>
				<textarea id = "speech-2488" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2488">
					<img id="start_img-2488" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>