<html>
	<head>
		<title id = 'pagetitle'>Is the copy of WMD (markdown editor) custom to Apple Stackexchange?
		</title>
	<head>
	<body id = 'pagebody'><p>Is the the theme to wmd specific to Apple Stackexchange? Where can I find the details. I really like the colouring and how there is syntax help built in.</p>


<h1>ANSWERS</h1>
		<p>The CSS design of the editor is specific to Ask Different. All of the functionality, such as the syntax help being right in there, can be found on all Stack Exchange sites. It's all a matter of laying the site's unique design theme on top of the editor.</p>

<p>Some sites <em>do</em> have a functional change, namely to swap the "Code Formatting" button for something that is more often used, but these are rather rare in comparison.</p>


	</body>
</html>