<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is there support to widen the pre-release prohibition?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2206" class = "post">
			<h2>Question</h2>
			<h3>Score ::11</h3>
			<h3>Views ::182</h3>
				<h2>Is there support to widen the pre-release prohibition?</h2>
<p>This site has a longstanding policy to close pre-release software questions as off topic.</p>

<p>Is there clear consensus to expand this to include:</p>

<ul>
<li>"pre-release software and hardware"</li>
<li>"pre-release products and services"</li>
</ul>

<p>We can edit the existing default close reason to be either of the above, but I would like to see if there are any downsides to either of these suggestions.</p>

<p>The current default close reason just refers to software</p>

<blockquote>
  <p>Questions about pre-release software are off-topic. For more information, see Are iOS 8 and OS X Yosemite questions OK? and Can I ask about not-yet-publicly released OS?.</p>
</blockquote>

			</div><h3>Comments</h3>
			<div id = "comment-4211" class = "comment">
				<p>Is there an example of what you want to close?</p>
			</div>
			<div id = "comment-4212" class = "comment">
				<p>@Mark http://apple.stackexchange.com/questions/144982/what-sort-of-battery-life-is-the-apple-watch-getting</p>
			</div>
			<div id = "comment-4213" class = "comment">
				<p>@mark ... and people asking about ApplePay before it's baked. Same for Apple Watch, Family Sharing on iCloud, handoff for iOS 8 and Yosemite, etc...</p>
			</div>
			<div id = "comment-4214" class = "comment">
				<p>Consider my up-vote of the question and @Mark's answer my support to broaden the pre-release ban notice.</p>
			</div>
			<div id = "comment-4215" class = "comment">
				<p>Do you consider Golden Master to be released?</p>
			</div>
			<div id = "comment-4216" class = "comment">
				<p>@Rob No - things can still change (in previous OSX the install differed) and if you have to agree to NDA then there will be a lack of people answering. Note the Xcode later beta releases are fully public so you do get answers see stack overflow - but many answers are now wrong as they changed</p>
			</div>
			<div id = "comment-4218" class = "comment">
				<p>@bmike Why do you want to close them anyway?</p>
			</div>
			<div id = "comment-4219" class = "comment">
				<p>@arya see http://meta.apple.stackexchange.com/questions/1712/are-ios-8-and-os-x-yosemite-questions-ok. Basically a lot of these questions can't be answered without breaking the NDA (technically even mentioning simple things like including a screenshot or mentioning non-announced features breaks the NDA)</p>
			</div>
			<div id = "comment-4222" class = "comment">
				<p>@arya - I'll include an answer as to what / why we might extend the prohibition formally by editing the [help] for the main site.</p>
			</div>
				<textarea id = "speech-2206" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2206">
					<img id="start_img-2206" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-2207"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p>Yes it makes sense to increase the scope from just software to include hardware, products and services. </p>

<p>The important thing is that the answer should be able to quote some actual measurement or definitive statement that can be verified</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-4224" class = "comment">
				<p>Amen to focusing on the ability for people to provide actual / definitive answers. I used a lot more words in my answer, but this is my pick after hearing the comments and answers so far.</p>
			</div>
				<textarea id = "speech-2207" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2207">
					<img id="start_img-2207" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-2210"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>This is tricky because of the new open Betas that Apple are expanding into a wider audience.  I am running Beta Yosemite, maybe next year they will do the same for iOS?</p>

<p>But, as a whole I think that if it's not released, it's not up for discussion.  Anyone using these products for anything other than idle interest will know about the associated dev forums and know to use them properly.  We do not want this place to be a discussion ground for the curious, so expanding (or perhaps more accurately just making it clearer by expanding the wording) the scope of our out of scope topics makes sense.  </p>

<p>Make it as obvious as possible, and also include the old "including but not limited to" clause, to stop someone finding something we didn't explicitly list then complaining when we shut discussion down about it :)</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-2210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2210">
					<img id="start_img-2210" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-2219"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Here are some reasons to prohibit pre-release questions for hardware and services.</p>

<p>Apple has currently announced the following services and hardware in Fall 2014 that is not available.</p>

<ul>
<li>Apple Watch</li>
<li>Apple Pay</li>
<li>Home Kit</li>
</ul>

<p>Even with iOS 8, Apple committed to shipping Health Kit apps on release day and that was changed at the last moment and the first 3 weeks of iOS 8 had no support for Health Kit. The Watch is committed to be released in Early 2015 (assuming that regulatory approval is granted). Apple Pay was committed in October 2014 and I don't have a good date for when Home Kit will arrive.</p>

<p>The reasons for prohibiting questions in general about pre-release software is to maintain the possibility to have <em>high quality</em> answers that don't enter into rumor, reading tea leaves, or over-parsing limited details that are released before the work to finish the product is done. Had we allowed Health Kit answers, we would have had incorrect information at launch as well as demonstrably poor answers to health kit questions until 8.0.2 and releases today September 29 allowed consumers to actually use the product.</p>

<p>The Stack Exchange sites are optimized to provide <strong>great answers</strong> by attracting knowledgable, expert people to address clearly worded questions. We even tolerate miserable questions when there is a demonstrated good answer or the possibility of a good answer to be provided.</p>

<p>With pre-release products that may or may not be covered with NDA - the pool of professional, capable, and knowledgable answers is severely limited. Furthermore, anyone that comes up with a good answer can probably be assumed to be breaking NDA. That environment fosters a "those who know aren't talking, those who are talking don't know" effect.</p>

<p>By widening the prohibition, it helps site moderators of all reputation levels to know that they should probably close most or all questions on pre-release software so that the site doesn't waste attention and discussion on un-answerable questions.</p>

<p>Once the product is released, all of the on-hold questions are easily reviewed and edited and reopened for all of the well worded questions.</p>

<p>I have seen these patterns as a user of the site as well as one of the elected moderators since day one. By following the same spirit of discouraging all but the most answerable and helpful questions on pre-release software - we would have consistency by prohibiting all but the most answerable questions about pre-release hardware and services.</p>

<p>My vote is to edit the [help] to broaden the prohibition on pre-release to cover hardware and services.</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-2219" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2219">
					<img id="start_img-2219" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>