<html>
	<head>
		<title id = 'pagetitle'>Is the copy editor badge not working?
		</title>
	<head>
	<body id = 'pagebody'><p>According to <a href="https://apple.stackexchange.com/badges/33/copy-editor">the description of the copy editor badge</a>, the requirement is for you to edit 500 posts. I have done that and I don't see the badge. If you look on <a href="https://apple.stackexchange.com/users?tab=editors&amp;filter=all">the users page</a>, you'll notice that both bmike and I have edited more than 500 posts. Why don't I have a badge?</p>


<h1>ANSWERS</h1>
		<p>There are a few potential reasons:</p>

<ul>
<li>You seem to have recently crossed over the threshold, so the badge simply hasn't been awarded yet. Some badges aren't awarded immediately, but instead with a batch script that's run daily.</li>
<li>You edit a lot of tag wikis. It's possible that the /users page tracks <em>all</em> edits, but the badge only counts edits to posts.</li>
<li>Maybe only edits to the <em>content</em> of a post are considered for the badge, and while you have 500 edits some are editing the tags of a question instead of the actual content of the post.</li>
</ul>

<p>These are just speculations, but I'll bet that at least one is true. Just keep editing, you'll get it eventually :)</p>


<p>It has been stated in meta.so (<a href="https://meta.stackexchange.com/questions/108816/is-the-number-of-edits-on-the-users-page-the-one-relevant-for-the-edit-badges">Is the number of edits on the users page the one relevant for the edit badges?</a>) that the edits count in the users page is <em>not</em> relevant for the edit badges. It is said to exclude trivial edits, but <a href="https://meta.stackexchange.com/questions/81655/what-kind-of-edits-are-counted-in-userstab-editors">it has not been officially stated which are trivial</a>.</p>

<p>Just recently a counter has been added to the right pane of the <a href="https://apple.stackexchange.com/review/">review</a> page, which shows your progress on edits:</p>

<p><img src="https://i.stack.imgur.com/l56U2.png" alt="review progress"></p>

<p>Reflecting the edit count on the review page to the one on the users page; I can say that <strong>retags</strong> aren't counted for badges while they are counted on the users page   just checked this.</p>


	</body>
</html>