<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is there a way to mark answers as obsolete?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2734" class = "post">
			<h2>Question</h2>
			<h3>Score ::12</h3>
			<h3>Views ::185</h3>
				<h2>Is there a way to mark answers as obsolete?</h2>
<p>In a similar vein to <a href="https://apple.meta.stackexchange.com/questions/2688/should-answers-which-are-not-forward-compatible-be-edited-for-compatibility-or">this question about editing other users answers to provide compatibility with newer OS X versions</a>, is there any way to mark answers as obsolete besides adding a comment that it doesn't work as of <code>OS X 10.whatever</code>?</p>

<p>Specifically, El Capitan and SIP stop many old solutions to problems from working, and it is frustrating for users to read through answers and then have a long comment chain outlining all the changes to the answer that are necessary to adapt the answer to the latest Mac OS.  This makes the actual answer unclear unless you read through the comment chain and have some background knowledge on what the breaking changes were or why something may not work on a new OS X.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2734" class = 'collapse'>
			</div>
				<textarea id = "speech-2734" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2734">
					<img id="start_img-2734" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2735"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::20</h3>
				<p><p>There's two things you can do: comment or edit. There's nothing built-in to Stack Exchange specifically for outdated answer handling. They are still answers and shouldn't be removed, but commenting or editing helps readers by pointing out problems that a user using a newer operating system may face.</p>

<p>With editing, don't put a huge message at the beginning of the answer. This distracts from the content. Instead, inline the new information into the answer, such as changing an answer which begins  You can  into</p>

<blockquote>
  <p>In Yosemite and earlier, you can </p>
</blockquote>

<p>On a previous answer of mine, I edited my accepted answer to explain which versions of OS X my answer worked for, and as an updated answer had already been provided by another user, I linked to that answer too with an <em>extremely</em> brief summary of what was different (in this case, a single string).</p>

<blockquote>
  <p>This answer is for Mavericks and earlier.<br>
  <a href="https://apple.stackexchange.com/questions/123833/replace-text-edit-as-the-default-text-editor/220496#220496">For Yosemite and later, use com.apple.LaunchServices/com.apple.launchservices.secure.</a></p>
</blockquote>

<p><sup>Source: <a href="https://apple.stackexchange.com/a/123834/37797">Replace Text Edit as the default text editor</a></sup></p>

<p>This way, the answer can standalone if the other answer is removed for any reason (always a good idea for any external content required for the comprehension of an answer) but should a less-experienced user or a user who simply prefers more detailed instructions on the difference, they can check the linked answer.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2735">Load Comments</button></br>
			<div id = "commentsection-2735" class = 'collapse'>
			<div id = "comment-6045" class = "comment">
				<p>That's actually a good way to inline information into the answer, even if you have not figured out the actual new solution yet.</p>
			</div>
			<div id = "comment-6051" class = "comment">
				<p>Well said - the editing tools, the voting tools and the commenting (as a last resort) tool can limit / modify / date and explain the changes when an answer becomes obsolete.</p>
			</div>
			</div>
				<textarea id = "speech-2735" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2735">
					<img id="start_img-2735" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2750"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>The answers are not obsolete; they are great answers for great operating systems. Questions really need to specify for what operating system they seek a solution. If the same solution works for multiple versions, that's awesome. If Apple introduces a disruptive change, the answer doesnt become obsolete, but the adopters of the new system have new questions about how to do what we already have established to do in the earlier versions.</p>

<p>But my eMac running Panther works great. Answers about how to search for files in Panther before Spotlight was introduced aren't obsolete; they just don't apply to people who choose to use those newfangled gizmos.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2750">Load Comments</button></br>
			<div id = "commentsection-2750" class = 'collapse'>
			<div id = "comment-6074" class = "comment">
				<p>I think that which OS version should be specified in the answers, not the question. Otherwise, you end up with duplicate questions with the only difference being the OS version.</p>
			</div>
			<div id = "comment-6075" class = "comment">
				<p>But those are then, by definition, not duplicates. Also, @cjm, how do you determine which is the correct answer (the one to get the check mark) if multiple answers are correct for different versions?</p>
			</div>
			</div>
				<textarea id = "speech-2750" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2750">
					<img id="start_img-2750" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>