<html>
	<head>
		<title id = 'pagetitle'>Is there a way to mark answers as obsolete?
		</title>
	<head>
	<body id = 'pagebody'><p>In a similar vein to <a href="https://apple.meta.stackexchange.com/questions/2688/should-answers-which-are-not-forward-compatible-be-edited-for-compatibility-or">this question about editing other users answers to provide compatibility with newer OS X versions</a>, is there any way to mark answers as obsolete besides adding a comment that it doesn't work as of <code>OS X 10.whatever</code>?</p>

<p>Specifically, El Capitan and SIP stop many old solutions to problems from working, and it is frustrating for users to read through answers and then have a long comment chain outlining all the changes to the answer that are necessary to adapt the answer to the latest Mac OS.  This makes the actual answer unclear unless you read through the comment chain and have some background knowledge on what the breaking changes were or why something may not work on a new OS X.</p>


<h1>ANSWERS</h1>
		<p>There's two things you can do: comment or edit. There's nothing built-in to Stack Exchange specifically for outdated answer handling. They are still answers and shouldn't be removed, but commenting or editing helps readers by pointing out problems that a user using a newer operating system may face.</p>

<p>With editing, don't put a huge message at the beginning of the answer. This distracts from the content. Instead, inline the new information into the answer, such as changing an answer which begins  You can  into</p>

<blockquote>
  <p>In Yosemite and earlier, you can </p>
</blockquote>

<p>On a previous answer of mine, I edited my accepted answer to explain which versions of OS X my answer worked for, and as an updated answer had already been provided by another user, I linked to that answer too with an <em>extremely</em> brief summary of what was different (in this case, a single string).</p>

<blockquote>
  <p>This answer is for Mavericks and earlier.<br>
  <a href="https://apple.stackexchange.com/questions/123833/replace-text-edit-as-the-default-text-editor/220496#220496">For Yosemite and later, use com.apple.LaunchServices/com.apple.launchservices.secure.</a></p>
</blockquote>

<p><sup>Source: <a href="https://apple.stackexchange.com/a/123834/37797">Replace Text Edit as the default text editor</a></sup></p>

<p>This way, the answer can standalone if the other answer is removed for any reason (always a good idea for any external content required for the comprehension of an answer) but should a less-experienced user or a user who simply prefers more detailed instructions on the difference, they can check the linked answer.</p>


<p>The answers are not obsolete; they are great answers for great operating systems. Questions really need to specify for what operating system they seek a solution. If the same solution works for multiple versions, that's awesome. If Apple introduces a disruptive change, the answer doesnt become obsolete, but the adopters of the new system have new questions about how to do what we already have established to do in the earlier versions.</p>

<p>But my eMac running Panther works great. Answers about how to search for files in Panther before Spotlight was introduced aren't obsolete; they just don't apply to people who choose to use those newfangled gizmos.</p>


	</body>
</html>