<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is this question on topic?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is this question on topic?</h2>
<p>I don't know if I should flag this question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/q/206944/121023">Problems with downloading iTunes on Windows 7</a> </li>
</ul>

<p>I would close it as off topic because it is not related to Apple hardware or software. However iTunes is Apple software, but the problem is with downloading on a Windows computer.</p>

<p>Is this question considered as on topic?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It's absolutely on topic. With a few exceptions there's an OR clause between the following:</p>

<ul>
<li>Apple Hardware </li>
<li>Apple Software</li>
<li>Apple Services</li>
</ul>

<p>See <a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a></p>

<p>Even third party products when the use of them involves Apple products in some obvious and clear manner we allow those questions too. The only thing that's off topic is if the use of Apple HW/SW/Services is in passing. The question does need to revolve centrally around use of some Apple thing to fly - but other than that, it's game on for Windows questions about iTunes.</p>

<h1>Now just being on topic isn't enough and it's so bad it needs to be put on hold for improvement.</h1>

<p>It's unclear (we don't know what version of windows and iTunes is in play, we don't know what the error is, we don't know a ton of things). For that reason, I voted to close it as too broad. Someone could write an entire book of all the steps needed to cover all the eventualities, but it's up the the OP to fill in the details or someone to adopt the question and make up / fill in their specific details and it might be fine to reopen. </p>

<p>It also might be SuperUser material and off topic once the actual details are listed.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>