<html>
	<head>
		<title id = 'pagetitle'>Is there such a thing as a legitimate duplicate? Is my case one of them?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm having the same problem as the poster of <a href="https://apple.stackexchange.com/questions/19156/have-to-reconnect-to-wifi-every-time-computer-goes-to-sleep">this question</a>. That question has a few different answers, and one of them is accepted by the OP, so I assume his or her problem is fixed.</p>

<p>I tried all the suggestions there with no joy. </p>

<p>Should I:</p>

<ul>
<li>open another question that notes that I have tried all the ideas from the other one with no success; or</li>
<li>bump that question up with votes and a comment noting that even though there's an accepted answer I'd like more ideas? </li>
</ul>


<h1>ANSWERS</h1>
		<p>It does look like that answer definitely fixed the problem for the OP, since he commented on the answer first, then accepted the answer later (mouse over the timestamps to see the sequence of events in UTC time).</p>

<p>I agree the presence of the accepted answer is problematic; <em>if the accepted answer wasn't there</em>, I'd say ...</p>

<blockquote>
  <p>bump that question up with votes and a comment [ed: actually an edit is necessary]</p>
</blockquote>

<p>... but since it <em>is</em>, I think you have no choice but to ...</p>

<blockquote>
  <p>open another question that notes that I have tried all the ideas from the other one with no success</p>
</blockquote>

<p>... and link to the older question, obviously.</p>

<p>There's actually a third path here but it is much harder:</p>

<blockquote>
  <p>figure out the solution to your problem on your own, and post it as <em>another</em> answer on the question</p>
</blockquote>

<p>It's probably OK to have two linked questions here, so long as the text of the question is different enough to attract people who search using different terms for the same problem, etc.</p>


<p>In the Stack Exchange blog: </p>

<p><a href="http://blog.stackoverflow.com/2010/11/dr-strangedupe-or-how-i-learned-to-stop-worrying-and-love-duplication/">Dr. Strangedupe: Or, How I Learned to Stop Worrying And Love Duplication</a> (Jeff Atwood, November 2010)</p>

<p>For someone (like me) who traditionally worries about duplication, it's a refreshing read. </p>

<hr>

<p>For link purposes, in Ask Different meta: </p>

<p><a href="https://apple.meta.stackexchange.com/q/42/8546">Should we duplicate some of the most Apple releated popular questions from other SE sites?</a> (August 2010)</p>


	</body>
</html>