<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is there a policy against an edit to add clarification to a question that is now out of date?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2127" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::77</h3>
				<h2>Is there a policy against an edit to add clarification to a question that is now out of date?</h2>
<p><a href="https://apple.stackexchange.com/questions/12417/what-different-stack-exchange-apps-exist-for-ios">What different Stack Exchange apps exist for iOS?</a></p>

<p>The question is no longer relevant (in that it says there is no official app) and someone edited it to add that.  A mod removed the edit. Just curious why... seems like it would be helpful to future visitors to know that this question is not relevant today.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2128"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I did (or rather undid) the edit because answers shouldn't be included in the question but posted as real answers below (and there already was an answer for the official app anyway). I did miss the the part about the nonexistence of an official app though, going to fix this afterwards. Thanks for pointing it out.</p>

<p>In general I would lean towards closing outdated questions with a comment stating the close reason. This way they stay on the site (and are still searchable).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2129"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>There's no policy, but as Patrix points out (and its especially relevant when you read the question title standalone which just asks "What software do people use" indicating the lack of an official one as a side note in effect during the question) the information that an official client is available has been included and is currently the highest voted answer, and the OP has been informed by other regular users to perhaps change his accepted answer.</p>

<p>That's where things get tricky.  With some subjects, things get out of date real quick.  And this is one of those.  Personally the preferred solution for me personally was if the person providing the new answer when the official client came out just didn't answer - it wasn't an active question at that time being 3 years old but now there is a fresh answer it becomes active, and now becomes a sort of Zombie question brought back to life due to new information.  In the perfect world, this old question would not have been resurrected <em>for me</em>, but when they are, we have to try to tread the line between <em>updating the question to make it relevant</em>, which risks making <em>existing answers and votes irrelevant</em>.</p>

<p>A tough one.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>