<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is the copy editor badge not working?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-909" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::59</h3>
				<h2>Is the copy editor badge not working?</h2>
<p>According to <a href="https://apple.stackexchange.com/badges/33/copy-editor">the description of the copy editor badge</a>, the requirement is for you to edit 500 posts. I have done that and I don't see the badge. If you look on <a href="https://apple.stackexchange.com/users?tab=editors&amp;filter=all">the users page</a>, you'll notice that both bmike and I have edited more than 500 posts. Why don't I have a badge?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-910"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>There are a few potential reasons:</p>

<ul>
<li>You seem to have recently crossed over the threshold, so the badge simply hasn't been awarded yet. Some badges aren't awarded immediately, but instead with a batch script that's run daily.</li>
<li>You edit a lot of tag wikis. It's possible that the /users page tracks <em>all</em> edits, but the badge only counts edits to posts.</li>
<li>Maybe only edits to the <em>content</em> of a post are considered for the badge, and while you have 500 edits some are editing the tags of a question instead of the actual content of the post.</li>
</ul>

<p>These are just speculations, but I'll bet that at least one is true. Just keep editing, you'll get it eventually :)</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1657" class = "comment">
				<p>Might the badge only count approved edits while the user page reports suggested edits?</p>
			</div>
			<div id = "comment-1658" class = "comment">
				<p>Ok, thanks! It just didn't make sense to me when I saw it.</p>
			</div>
			<div id = "comment-1659" class = "comment">
				<p>I just got the badge.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-912"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>It has been stated in meta.so (<a href="https://meta.stackexchange.com/questions/108816/is-the-number-of-edits-on-the-users-page-the-one-relevant-for-the-edit-badges">Is the number of edits on the users page the one relevant for the edit badges?</a>) that the edits count in the users page is <em>not</em> relevant for the edit badges. It is said to exclude trivial edits, but <a href="https://meta.stackexchange.com/questions/81655/what-kind-of-edits-are-counted-in-userstab-editors">it has not been officially stated which are trivial</a>.</p>

<p>Just recently a counter has been added to the right pane of the <a href="https://apple.stackexchange.com/review/">review</a> page, which shows your progress on edits:</p>

<p><img src="https://i.stack.imgur.com/l56U2.png" alt="review progress"></p>

<p>Reflecting the edit count on the review page to the one on the users page; I can say that <strong>retags</strong> aren't counted for badges while they are counted on the users page   just checked this.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1660" class = "comment">
				<p>Err, I don't see this counter on the review page?!</p>
			</div>
			<div id = "comment-1662" class = "comment">
				<p>@patrix maybe it is then only shown to those who are working towards Strunk & White.</p>
			</div>
			<div id = "comment-1663" class = "comment">
				<p>Well, it turned up in the meantime.</p>
			</div>
			<div id = "comment-1664" class = "comment">
				<p>@patrix yes there must've been some modifications as also I see the badge process towards Copy editor (and Electorate), which weren't there earlier.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>