<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is this type of answer okay?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is this type of answer okay?</h2>
<p>I found <a href="https://apple.stackexchange.com/a/245575/9058">an answer</a> like this</p>

<blockquote>
  <p>Apple has a support page for this: <a href="https://support.apple.com/en-us/HT201269" rel="nofollow noreferrer">https://support.apple.com/en-us/HT201269</a></p>
</blockquote>

<p>I think you should at least give a small description of the link?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This answer is referred to as a low quality answer. The answer (in its original revision) provides no additional detail than a link. If this link were removed, the answer would not be an answer to the question, therefore it is a very low quality answer.</p>

<p>Also, there is value to showing the actual URL - so when you edit a post with a link or insufficient explanation - keeping the URL plain so that someone sees that it points to Apple instead of a scam site has benefit to everyone.</p>

<p>It is preferable to edit the answer to include a summary of the contents of the link, such that if the destination of the link be removed, the answer still makes sense. You are always able to suggest edits at any reputation and this should be your primary resolution.</p>

<p>If you are not able to fix the answer, you should flag as very low quality. This puts the answer in the <a href="https://apple.stackexchange.com/review/low-quality-posts">low quality posts review queue</a>, available to <a href="https://apple.stackexchange.com/help/privileges/edit">higher reputation users who can recommend deletion</a> or <a href="https://apple.stackexchange.com/help/privileges/trusted-user">vote to delete</a>.</p>

<p><a href="https://i.stack.imgur.com/b2b4y.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/b2b4y.png" alt=""></a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>