<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is there a way we can honor the service of retired moderators?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2237" class = "post">
			<h2>Question</h2>
			<h3>Score ::11</h3>
			<h3>Views ::79</h3>
				<h2>Is there a way we can honor the service of retired moderators?</h2>
<p>Being elected as a moderator doesn't mean you have to continue serving for the rest of your life. Moderators sometimes resign, but sometimes they fade away, becoming less and less active on the site over time. This is a natural and healthy thing.</p>

<p>There seems to be some sort of cleanup process by which Stack Exchange eventually removes the names of inactive moderators from the list of moderators for the site.</p>

<p>Some moderators not active today played instrumental roles in the early days of the site, such that the community would likely not exist today in all its helpfulness were it not for their great work.</p>

<p>Is it possible for there to be some mechanism whereby we can honor the work of our retired forbearers without simply making their names disappear silently from the list of current moderators? Reputation stays forever, and the list of users by reputation acknowledges reputation earned long ago by users who are no longer active. Can the moderation service of our founding elected moderators be similarly honored and cherished?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4232" class = "comment">
				<p>Pink diamonds ;)</p>
			</div>
			<div id = "comment-4233" class = "comment">
				<p>There's http://apple.stackexchange.com/election , but it's not easy to find.</p>
			</div>
			<div id = "comment-4234" class = "comment">
				<p>There's always the [**Sheriff badge**](http://apple.stackexchange.com/help/badges/113/sheriff), but I agree there should be something more prominent, such as an empty  . Related on Meta.SE: [Allow ex-moderators to opt-in to having a mark on their profile indicating they were a moderator](http://meta.stackexchange.com/questions/181668/allow-ex-moderators-to-opt-in-to-having-a-mark-on-their-profile-indicating-they). (Also, is there an official announcement regarding the recent retirement of the two moderators?)</p>
			</div>
			<div id = "comment-4235" class = "comment">
				<p>@grgarside no official announcement; thus, this post.</p>
			</div>

<h1>ANSWERS</h1>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>