<html>
	<head>
		<title id = 'pagetitle'>Is there a way we can honor the service of retired moderators?
		</title>
	<head>
	<body id = 'pagebody'><p>Being elected as a moderator doesn't mean you have to continue serving for the rest of your life. Moderators sometimes resign, but sometimes they fade away, becoming less and less active on the site over time. This is a natural and healthy thing.</p>

<p>There seems to be some sort of cleanup process by which Stack Exchange eventually removes the names of inactive moderators from the list of moderators for the site.</p>

<p>Some moderators not active today played instrumental roles in the early days of the site, such that the community would likely not exist today in all its helpfulness were it not for their great work.</p>

<p>Is it possible for there to be some mechanism whereby we can honor the work of our retired forbearers without simply making their names disappear silently from the list of current moderators? Reputation stays forever, and the list of users by reputation acknowledges reputation earned long ago by users who are no longer active. Can the moderation service of our founding elected moderators be similarly honored and cherished?</p>


<h1>ANSWERS</h1>
			</body>
</html>