<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Is the pale blue of texts   on white, pale blue and beige backgrounds   too pale at Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-638" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::141</h3>
				<h2>Is the pale blue of texts   on white, pale blue and beige backgrounds   too pale at Ask Different?</h2>
<h1>Is the pale blue <em>too</em> pale?</h1>

<p>I think so, but alternative answers will be appreciated. </p>

<p>Thank you</p>

<h2>Background</h2>

<p>I'm usually a careful reader, but at least twice I have missed things of importance, because of the paleness of the pale blue text that is currently used at Ask Different. </p>

<p><strong>Lack of contrast</strong> can cause some words, or words in some contexts, to be too easily overlooked. Loosely we might describe this as <a href="http://en.wikipedia.org/wiki/Word_blindness" rel="nofollow noreferrer">word blindness</a> but the contrast/faintness issue could affect anyone, not just dyslexics. </p>

<h2>Considerations</h2>

<p><a href="https://apple.meta.stackexchange.com/q/268/8546">Design for the Apple StackExchange site</a> in particular, <a href="https://apple.meta.stackexchange.com/questions/268/design-for-the-apple-stackexchange-site/269#269">comments under an answer from Kyle Cronin</a>.</p>

<p><a href="https://apple.meta.stackexchange.com/q/558/8546">What&#39;s up with the red on green bubbles?</a></p>

<blockquote>
  <p> yellow/purple or orange/blue is better for people that are colorblind if you really want to use contrasting / opposing colors  </p>
</blockquote>

<p><a href="https://apple.meta.stackexchange.com/q/295/8546">New design issues</a></p>

<hr>

<p>There may be comparable questions/answers in other meta areas, and I don't know whether the pale blue that's currently used is based on a template from a different stack, but I thought I should focus first on the Ask Different area. </p>

			</div><h3>Comments</h3>
			<div id = "comment-1137" class = "comment">
				<p>Some raising of voices under http://meta.stackexchange.com/questions/97448/alert-users-as-to-why-their-lert-is-being-removed-from-comments/97495#97495 that might have been avoided if the pale blue three-letter word had been more noticeable on a white background alongside a dark avatar ([example](http://apple.stackexchange.com/questions/19544/using-modifierleft-right-to-move-between-words-in-an-editing-window/19571#19571)) </p>
			</div>
			<div id = "comment-1140" class = "comment">
				<p>Probably not detectable in my writing, but a learning support tutor once told me that I'm dyslexic </p>
			</div>
			<div id = "comment-1146" class = "comment">
				<p>Can you tell us where you missed the pale-colored text? I've been generally okay with it; I'm curious where it was a problem.</p>
			</div>
			<div id = "comment-1147" class = "comment">
				<p>@Nathan hi, at http://www.wuala.com/%23%23Apple-support/members/grahamperrin/2011/08/03/a/?mode=gallery folders a and b, each containing three versions of one screenshot. The second of each triplet shows where I get the word blindness. In (a) I was blind to an entire line that I had written  a real "hmm" moment. Example (b) might be more understandable  very short username pale on pale, surrounded by things that are larger and darker. A little blur (not just for dramatic effect) and hopefully you'll see what I mean.</p>
			</div>
			<div id = "comment-1150" class = "comment">
				<p>The red/green was a clear temporary error. The designers didn't intend / realize how far that change would go and reverted it until other changes could roll out at the same time.</p>
			</div>
			<div id = "comment-1173" class = "comment">
				<p>Again today I looked at a page a few times but could not see what I wanted. This time it was pale blue on beige that wasn't 'sinking in'. Maybe it's just me but it's really unusual for me to be missing things so often   http://chat.stackexchange.com/transcript/message/1543321#1543321</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-638">Record</button>
				<button class="record-stop" id="stop-638">Stop</button>
				<p id="recording-638"></p>

<h1>Answers</h1>
			<br><div id = "ans-640"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I would love to see a much stronger blue to have more contrast for all the blue text.</p>

<p>Even if the designers felt it was the wrong choice, i'd love to see a week or two to try it out - let everyone know we're trying it (or don't). Then revert it for two weeks to "study the results".</p>

<p>You will have hard data on how many complaints were lodged due to the initial change - and due to the reversion back (from those that liked the new).</p>

<p>I would propose something like the new </p>

<p><img src="https://i.stack.imgur.com/7ziMU.png" alt="enter image description here"></p>

<p>Especially the darker shades when examined in a loupe on LCD panels.
<img src="https://i.stack.imgur.com/bNcpQ.png" alt="enter image description here"></p>

<p>I should also inquire as the beer preference of the designers and the address to which it should be sent for critiquing their work since it is never easy to re-design something since the colors we have now is the color they came up with, and not by accident.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1151" class = "comment">
				<p>+1 to beer preferences :-) I'm extremely appreciative in the 25th comment (not immediately visible) under http://meta.apple.stackexchange.com/q/268/8546</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-640">Record</button>
				<button class="record-stop" id="stop-640">Stop</button>
				<p id="recording-640"></p>
			<br><div id = "ans-641"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I like the subtlety and the text is still very readable.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-641">Record</button>
				<button class="record-stop" id="stop-641">Stop</button>
				<p id="recording-641"></p>
			<br><div id = "ans-671"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I don't have any problem with legibility, but as a new user I'm stumped when it comes to the significance of the blue and beige backgrounds. I expected the FAQ to provide an explanation, but this wasn't the case. Can anyone enlighten me?</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1202" class = "comment">
				<p>Compared with for example http://i.stack.imgur.com/hUCvY.png (taken from http://meta.apple.stackexchange.com/q/268/8546) I guess that the **beige** of each question and answer, with grey between each one, helps to distinguish each post. I see blue backgrounds used in various ways, most recently in [a popular question](http://apple.stackexchange.com/q/17759/8546). Also, Ask Different *meta* is more brown and beige than Ask Different. If that doesn't answer your question, maybe it needs to be asked as a question ;-)</p>
			</div>
			<div id = "comment-1212" class = "comment">
				<p>Thanks for that. I'll take you up on that concluding gentle hint and ask a question (though now it seems that beige backgrounds have been retired?).</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-671">Record</button>
				<button class="record-stop" id="stop-671">Stop</button>
				<p id="recording-671"></p>
			<br><div id = "ans-686"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I always prefer better (ie <strong>more</strong>) contrast.</p>

<p>See also Contrast Rebellion:
<a href="http://contrastrebellion.com/" rel="nofollow">http://contrastrebellion.com/</a></p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-686">Record</button>
				<button class="record-stop" id="stop-686">Stop</button>
				<p id="recording-686"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>