<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Is there a way for activating live-updaintg?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1468" class = "post">
			<h2>Question</h2>
			<div id="vote-1468" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 34</p>
			</div>
				<h2>Is there a way for activating live-updaintg?</h2>
<p>I'm not sure this is the right place for asking this question. So please forgive me if it isn't.</p>

<p>Till yesterday I was used to have live-updating working with <code>Ask Different</code>.
Since today it doesn't show anymore the number of new or updated questions.
Is there a way for re-enabling it?</p>

<p>I read on <a href="https://meta.stackexchange.com/questions/148430/stackoverflow-com-questions-is-not-updating">this question</a> that, due to the performance reasons, it is disabled for <code>Stack Overflow</code>. Could it be the same for <code>Ask Different</code> (since today :-) ).</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1468" class = 'collapse'>
			</div>
				<textarea id = "speech-1468" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1468">
					<img id="start_img-1468" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1469"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1469" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can't answer with a definitive yes, but are you referring to the "2 questions" with new activity item that shows up when your current page is out of date?</p>

<p>The site developers should see this bug report and answer definitively, but we share the majority of the code with all the non-SO sites so it's extremely likely we are coded the same as stack overflow.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1469">Load Comments</button></br>
			<div id = "commentsection-1469" class = 'collapse'>
			<div id = "comment-2770" class = "comment">
				<p>Yes, I was referring to that message. Now it works again. The curious thing is that I haven't done anything :-)</p>
			</div>
			<div id = "comment-2771" class = "comment">
				<p>Sounds like the _very definition_ of a server side issue.</p>
			</div>
			</div>
				<textarea id = "speech-1469" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1469">
					<img id="start_img-1469" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>