<html>
	<head>
		<title id = 'pagetitle'>Is there a way to rescind a close vote?
		</title>
	<head>
	<body id = 'pagebody'><p>I voted to close <a href="https://apple.stackexchange.com/questions/64468/what-hidden-features-have-you-found-in-ios-6">this</a> question earlier today because I didn't realize iOS 6 had been released. I have since realized that I'm an idiot and should check things before blithely voting to close a perfectly fine question for a reason that no longer applies.</p>

<p>So: I'd like to rescind my close vote. Is there a way to do this? If there isn't, can one be added?</p>


<h1>ANSWERS</h1>
		<p>No - votes time out and only get cleared if a moderator takes a binding action.</p>

<p>However, you can favorite the question and watch it and vote to reopen it should enough people cast close votes to actually close the question.</p>

<p>And of course, flagging it would be appropriate - just as if you saw any other question that was flagged and you felt in reality it was closed incorrectly.</p>


<p>Yes you can, since 15th July 2013. Click the close button again after voting to close and you have the option to retract your vote.</p>

<p> <img src="https://i.stack.imgur.com/iAFYN.png" width="451"></p>


	</body>
</html>