<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is there a automated system to be informed on down vote
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2487" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::33</h3>
				<h2>Is there a automated system to be informed on down vote</h2>
<p>In the effort to clean after my self !</p>

<p>Sometimes I find my answer given long time ago, to have been down voted (for a good reason). So I delete it.</p>

<p>My problem is how to be notified of such event, without having to monitor or remember the current points, or go back in history and review all answers. </p>

<p>Another problem is for answers without Votes, when someone has gotten a Accepted answer, I would like to know that as well and delete my answer.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2488"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I wouldn't delete a post based on a -1 personally. Maybe if you're at -5 and you find the answer is totally not helpful / even when you misunderstand a question and make an attempt to answer, hundreds of people will likely make the same error and having that up can help the site. It also can help someone with a similar problem but they find your answer.</p>

<p>Keep in mind - 4 down votes means that somewhere in the entire internet, 4 accounts at one point in time were cranky and didn't find that post helpful or clear or useful.</p>

<p>I'd focus on making new answers clear, relevant and think if you need to comment for clarification or post an answer that will be of use even if it's not what the OP wants to hear.</p>

<p>Lastly, there is the Stack Exchange Data Explorer where you can craft about any query you can think of to see posts by date, relative date, votes, etc...</p>

<ul>
<li><a href="http://data.stackexchange.com/apple/queries" rel="nofollow">http://data.stackexchange.com/apple/queries</a></li>
</ul>

<p>It's not automated, but it's a system.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5668" class = "comment">
				<p>thanks for the link :)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>