<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is this a potential community wiki question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1866" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::40</h3>
				<h2>Is this a potential community wiki question?</h2>
<p>Should <a href="https://apple.stackexchange.com/questions/110575/is-possible-to-upgrade-ios-offline">this question</a> be made into a community wiki post, so we can just mark any "How do I go from iOS {x} to iOS {y}?" questions as a duplicate of this? Of course, we would need to rephrase the actual question be quite generic, but my answer on it has already been made as generic as possible. Perhaps it should just be a new question that I just ask and answer myself and mark as a wiki. Thoughts?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1867"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I do not see why this sould be CW.</p>

<p>The question could be made a bit more general re the iOS versions but the answer seems to stay the same. Both seem good enough and covering an explict question so that they can be a normal answer</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3600" class = "post">
				<p>The problem is this: they all have the same exact answer, and the questions can all be formatted the exact same way, too.</p>
			</div>
			<div id = "comment-3612" class = "post">
				<p>So theyare duplicates - not CW</p>
			</div>
			<div id = "comment-3619" class = "post">
				<p>But which one are they a duplicate of? Maybe a Community Wiki isn't what I think it is...</p>
			</div>
			<div id = "comment-3620" class = "post">
				<p>If they all have teh same answer then they are all but one  duplicates</p>
			</div>
			<div id = "comment-3621" class = "post">
				<p>Would it then be acceptable for me to ask a new question in a very general way and then answer it myself in a very general way? (without making it a Community Wiki)</p>
			</div>
			<div id = "comment-3622" class = "post">
				<p>The question can't be too broad - but I would try and see. And Community Wiki is not relevantt here - mainly used for open ended questions asking for lists</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>