<html>
	<head>
		<title id = 'pagetitle'>Is there support to widen the pre-release prohibition?
		</title>
	<head>
	<body id = 'pagebody'><p>This site has a longstanding policy to close pre-release software questions as off topic.</p>

<p>Is there clear consensus to expand this to include:</p>

<ul>
<li>"pre-release software and hardware"</li>
<li>"pre-release products and services"</li>
</ul>

<p>We can edit the existing default close reason to be either of the above, but I would like to see if there are any downsides to either of these suggestions.</p>

<p>The current default close reason just refers to software</p>

<blockquote>
  <p>Questions about pre-release software are off-topic. For more information, see Are iOS 8 and OS X Yosemite questions OK? and Can I ask about not-yet-publicly released OS?.</p>
</blockquote>


<h1>ANSWERS</h1>
		<p>Yes it makes sense to increase the scope from just software to include hardware, products and services. </p>

<p>The important thing is that the answer should be able to quote some actual measurement or definitive statement that can be verified</p>


<p>This is tricky because of the new open Betas that Apple are expanding into a wider audience.  I am running Beta Yosemite, maybe next year they will do the same for iOS?</p>

<p>But, as a whole I think that if it's not released, it's not up for discussion.  Anyone using these products for anything other than idle interest will know about the associated dev forums and know to use them properly.  We do not want this place to be a discussion ground for the curious, so expanding (or perhaps more accurately just making it clearer by expanding the wording) the scope of our out of scope topics makes sense.  </p>

<p>Make it as obvious as possible, and also include the old "including but not limited to" clause, to stop someone finding something we didn't explicitly list then complaining when we shut discussion down about it :)</p>


<p>Here are some reasons to prohibit pre-release questions for hardware and services.</p>

<p>Apple has currently announced the following services and hardware in Fall 2014 that is not available.</p>

<ul>
<li>Apple Watch</li>
<li>Apple Pay</li>
<li>Home Kit</li>
</ul>

<p>Even with iOS 8, Apple committed to shipping Health Kit apps on release day and that was changed at the last moment and the first 3 weeks of iOS 8 had no support for Health Kit. The Watch is committed to be released in Early 2015 (assuming that regulatory approval is granted). Apple Pay was committed in October 2014 and I don't have a good date for when Home Kit will arrive.</p>

<p>The reasons for prohibiting questions in general about pre-release software is to maintain the possibility to have <em>high quality</em> answers that don't enter into rumor, reading tea leaves, or over-parsing limited details that are released before the work to finish the product is done. Had we allowed Health Kit answers, we would have had incorrect information at launch as well as demonstrably poor answers to health kit questions until 8.0.2 and releases today September 29 allowed consumers to actually use the product.</p>

<p>The Stack Exchange sites are optimized to provide <strong>great answers</strong> by attracting knowledgable, expert people to address clearly worded questions. We even tolerate miserable questions when there is a demonstrated good answer or the possibility of a good answer to be provided.</p>

<p>With pre-release products that may or may not be covered with NDA - the pool of professional, capable, and knowledgable answers is severely limited. Furthermore, anyone that comes up with a good answer can probably be assumed to be breaking NDA. That environment fosters a "those who know aren't talking, those who are talking don't know" effect.</p>

<p>By widening the prohibition, it helps site moderators of all reputation levels to know that they should probably close most or all questions on pre-release software so that the site doesn't waste attention and discussion on un-answerable questions.</p>

<p>Once the product is released, all of the on-hold questions are easily reviewed and edited and reopened for all of the well worded questions.</p>

<p>I have seen these patterns as a user of the site as well as one of the elected moderators since day one. By following the same spirit of discouraging all but the most answerable and helpful questions on pre-release software - we would have consistency by prohibiting all but the most answerable questions about pre-release hardware and services.</p>

<p>My vote is to edit the [help] to broaden the prohibition on pre-release to cover hardware and services.</p>


	</body>
</html>