<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is the preferred SE site for AppleScript questions Ask Different (as opposed to Stack Overflow)?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is the preferred SE site for AppleScript questions Ask Different (as opposed to Stack Overflow)?</h2>
<p>The answer to my question may be along the lines of:</p>

<blockquote>
  <p>It really ends up being the preference of the asker as to where they want to receive an answer.</p>
</blockquote>

<p>Source: <a href="https://apple.meta.stackexchange.com/a/2589/184907">Are JavaScript for Automation questions better suited to Stack Overflow?</a></p>

<p>But given the fact that <em>AppleScript</em> is a scripting language created by Apple Inc. and built into OS X, does that tip the scale in favor of asking these questions on Ask Different?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I wouldn't want to choose a best site or speak for a different set of moderators and pool of people that could answer AppleScript questions (a.k.a. Stack Overflow). Clearly, Apple designed the language to be accessible to people without an engineering degree or needing training in programming, but it's also clearly a powerful language with objective c bridges and can be used inside Xcode to make native apps. </p>

<p>I can unequivocally state that AppleScript questions are most welcome here. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>