<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is there a place on AskDifferent to post helpful links for Apple-related topics?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2841" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::34</h3>
				<h2>Is there a place on AskDifferent to post helpful links for Apple-related topics?</h2>
<p>I'm wondering whether there is a place on AskDifferent to post helpful links for Apple-releated topics (e.g. I stumpled across <a href="https://hey-siri.io/" rel="nofollow">https://hey-siri.io/</a> recently which lists possibly everything Siri can do for you). Is there a way to post these without breaking the rules?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6194" class = "comment">
				<p>Thanks for taking this to the Meta site. I reworded your question to allow for discussion of the topic, hope that's ok for you.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2843"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Not really as this is out of scope for really any Stack Exchange site.</p>

<p>SE basic aim is to have the information on this site as from experience we have seen many links change and the information is lost.</p>

<p>In fact I think on many sites a reason to close a questions is if it asks for off site information which really is the only question your information could be provided as an answer to.</p>

<p>Also on one of the review queues an option is to delete a question for being link only.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>