<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is there a consensus about closing "survey" questions that are not being kept current?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1504" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::222</h3>
				<h2>Is there a consensus about closing "survey" questions that are not being kept current?</h2>
<p>We have been getting some flags about older questions where there was a lot of interest, but over time the questions have not been maintained, updated, etc... Specifically these questions are general survey questions with lots of special rules and boilerplate about searching for duplicate answers, etc... I am not asking specifically about how people feel about community wiki - although many people associate that with these sorts of questions. I'd like to focus on questions similar to the ones below. (Feel free to edit my list or answer with specific site questions you'd like to keep and ones you have voted to close or would if you could) </p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/82/which-os-x-applications-do-you-find-indispensable">Which OS X Applications do you find indispensable?</a></li>
<li><a href="https://apple.stackexchange.com/questions/17759/what-tiny-thing-in-lion-makes-you-smile-or-has-caught-you-off-guard">What tiny thing in Lion makes you smile or has caught you off guard?</a></li>
<li><a href="https://apple.stackexchange.com/questions/27761/what-tiny-thing-in-ios-5-makes-you-smile-or-has-caught-you-off-guard">What tiny thing in iOS 5 makes you smile, or has caught you off guard?</a></li>
<li><a href="https://apple.stackexchange.com/questions/1286/what-are-some-great-ipad-apps">https://apple.stackexchange.com/questions/1286/what-are-some-great-ipad-apps</a></li>
<li><a href="https://apple.stackexchange.com/questions/706/what-iphone-apps-cant-you-live-without">What iPhone apps can&#39;t you live without?</a></li>
<li><a href="https://apple.stackexchange.com/questions/6331/shortcuts-gestures-you-cant-live-without">Shortcuts &amp; gestures you can&#39;t live without</a></li>
<li><a href="https://apple.stackexchange.com/questions/29212/what-os-x-tweaks-hacks-or-modifications-couldnt-you-live-without">What OS X tweaks, hacks, or modifications couldn&#39;t you live without?</a></li>
<li><a href="https://apple.stackexchange.com/questions/441/which-are-the-os-x-dashboard-widgets-you-cant-live-without">Which are the OS X Dashboard Widgets you can&#39;t live without?</a></li>
<li><a href="https://apple.stackexchange.com/questions/20740/which-command-line-packages-do-you-need">Which command-line packages do you need?</a></li>
<li><a href="https://apple.stackexchange.com/questions/11030/ios-developer-tools-utilities-must-haves-and-nice-to-haves">iOS Developer Tools &amp; Utilities (must haves and nice to haves)</a></li>
<li><a href="https://apple.stackexchange.com/questions/5435/what-are-some-tips-or-tricks-for-terminal-in-mac-os-x">Got any tips or tricks for Terminal in Mac OS X?</a></li>
</ul>

<p>What are people's feelings about closing these when they are more than a year old unless the community votes to reopen them or a specific post here shows that enough people wish to keep that question open for more people to add answers? I am curious what the consensus is on keeping these open versus closing them and where/when the community would like to see that line.</p>

<p>Again the discussion is if we should in general close questions that are A) old and B) survey <em>(where there are many correct answers or at least not the traditional objective measure where one or two answers cover one question)</em>?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2824" class = "post">
				<p>Burn. With Fire. And TrogDor. And the fires from the deepest darkest Mordor..... Do I need to eloborate more?</p>
			</div>
			<div id = "comment-2825" class = "post">
				<p>@Diago if you could elaborate why you think they should be purged (and not just the intensity of your dislike for said questions), that would make for an outstanding answer.</p>
			</div>
			<div id = "comment-2827" class = "post">
				<p>@DanielLawson The reasons bmike mentioned is enough. Honestly, it is degrading to Q&A to have these hanging around because 99% of the time people lose interest. I can google the top 5, best of etc in less then a minute on Google and get the same result. They get out of hand, and when moderating they actually get painful to see come up again and again for no reason.</p>
			</div>
			<div id = "comment-2829" class = "post">
				<p>@DanielLawson Also I commented rather then answered for that reason, I haven't been active on SE for some time, and therefore prefer active users to participate in this.</p>
			</div>
			<div id = "comment-2832" class = "post">
				<p>@Diago fair enough.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1508"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>These are still useful reference points.  When I first joined the site, those were some of the first questions that I perused, and I found the information very helpful.</p>

<p>So, I would be reluctant to go on a mission to close or delete all such questions.  Instead, I would suggest that you evaluate each one on a case-by-case basis and determine whether it remains useful or not.</p>

<p><em>Edit 9/29</em>: Also, I don't think that the moderators should unilaterally close these questions (e.g., in response to flags).  The existing "close vote" process seems adequate.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2826" class = "post">
				<p>Just a point - closed questions simply means that new answers are not accepted. Existing ones can be edited, improved. Deletion is much harder and not something I would say we would do without a similar consensus building exercise.</p>
			</div>
			<div id = "comment-2828" class = "post">
				<p>The case by case basis evaluations always fail. Closing and deleting this will always irritate some users, but for the overall good of the community, worth the risk.</p>
			</div>
			<div id = "comment-2830" class = "post">
				<p>@bmike, yes, I understand that.  I'm not seeing what value it adds to close such an existing question (without deleting it).  This merely ensures that the answers cannot be updated, guaranteeing that the problem becomes worse over time.</p>
			</div>
			<div id = "comment-2831" class = "post">
				<p>Closed questions can be updated. Locked questions cant. A closed question is normally something that can be salvaged, whereas a locked question is not. Also, votes does not equal quality, list questions are by nature very popular and should be ignored when evaluating quality. Usefulness is also not a major factor, because they can all be argued as being useful by someone. The questions should be if they add value to the internet?</p>
			</div>
			<div id = "comment-2833" class = "post">
				<p>I am asking people to list what criteria would be used for that one-by-one process. I'll certainly weigh in with an answer - but I didn't want to prime the pump with my views. At present I'm just commenting from the point of a moderator. What normal users don't see is the 10 to 30 spam answers, new people saying they want to ask a new question in response to one answer in the large survey. The core problem with the large survey is search ability. When someone comes with a problem in terminal (for instance) - they can't find an answer buried in the "top terminal tips and tricks".</p>
			</div>
			<br><div id = "ans-1509"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Here's a more detailed analysis / itemized set of personal opinions.  I looked only at the Mac OS X questions, since I'm a Mac OS X user.</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/q/82/24154">Which OS X Applications do you find indispensable?</a> - I found this useful when I started using Mac OS X, and I think I'd find it every bit as useful today if I was new to Mac OS X.  (Example: This pointed me to several very useful pieces of software, including helping make me aware about the existence of both Homebrew and MacPorts (previously I had only heard of MacPorts).)  I don't recommend closing it.</p></li>
<li><p><a href="https://apple.stackexchange.com/q/17759/24154">What tiny thing in Lion makes you smile or has caught you off guard?</a> - Not of value or interest to me.  It doesn't provide "news I can use".</p></li>
<li><p><a href="https://apple.stackexchange.com/q/29212/24154">What OS X tweaks, hacks, or modifications couldn&#39;t you live without?</a> - Meh.  I found it modestly useful but I wouldn't mind if it disappeared or was closed.</p></li>
<li><p><a href="https://apple.stackexchange.com/q/441/24154">Which are the OS X Dashboard Widgets you can&#39;t live without?</a> - Meh.  Mildly useful but I wouldn't I wouldn't mind if it disappeared or was closed.  Seems like it hasn't been populated or updated very much.</p></li>
<li><p><a href="https://apple.stackexchange.com/q/20740/24154">Which command-line packages do you need?</a> - Probably should be closed.  I love the command line, so the concept is great, but the answers are not so great.  Most of the answers are lists of command-line programs (without explanation of why those are important or what they do).  That probably isn't super-helpful: if you know what the command-line program does, you already know whether you want/need it or not.  This <em>could</em> have been useful if it gave an overview to command-line programs that readers probably <em>weren't</em> already aware, and an explanation of what those programs do and why you need them ... but that's not this question. </p></li>
<li><p><a href="https://apple.stackexchange.com/q/5435/24154">Got any tips or tricks for Terminal in Mac OS X?</a> - I would not recommend closing a question that <em>so</em> many people have apparently found useful (going by the number of upvotes and favorites).  And some of the answers are useful and good stuff.  I found this to be a helpful resource, so I don't think the question should be closed.  (I see that it has been "locked".  I tend to think it should be unlocked.  I don't see any reason why it should remain locked or how it adds value to prevent others from updating their answer or adding new answers.  I'm not used to seeing "locked" questions and am not clear on how "locked" differs from "closed".)</p></li>
</ul>

<p>These are just my personal opinions.  Others may vary, but I thought it might be helpful to start with some concrete, specific reasons for my personal opinions, broken down by question.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2834" class = "post">
				<p>Now this is what I'm talking about - can we generalize some "rules" by which closing bad questions could be a group consensus rather than the moderators doing it. We're not against closing things - but when the community takes care of this for us - we can then spend time on the spam and other "mod-only" tasks.</p>
			</div>
			<div id = "comment-2835" class = "post">
				<p>I love the way you answered this, even if I don't agree with many parts of your answer. Well, I agree that they're your personal opinions. I just don't share them.</p>
			</div>
			<div id = "comment-2836" class = "post">
				<p>preferring Homebrew over Macports really makes the question show as not constructive</p>
			</div>
			<div id = "comment-2847" class = "post">
				<p>@Mark, I must confess I don't follow your reasoning.</p>
			</div>
			<div id = "comment-2848" class = "post">
				<p>I disagree with the use of Homebrew rather than macports and can give reasons which would not be agreed by the answerer of your question thus machine the requirement for a question to be non constructive</p>
			</div>
			<div id = "comment-2849" class = "post">
				<p>@Mark, I think you're getting overly caught up in the question of Homebrew vs MacPorts.  I apologize if my answer tempted you into that tangent; I've edited my answer to downplay the question of which to choose.  Rather, I'm saying that the answers there helped me realize the existence of Homebrew, which then enabled me to do some further research to make an informed decision about Homebrew vs MacPorts -- something I might not have stumbled across, if not for that question.  (cont.)</p>
			</div>
			<div id = "comment-2850" class = "post">
				<p>(cont.)  @Mark, More importantly, I think your criteria for judging that question are poorly thought out.  Just because you disagree with one sentence in one comment on one answer on that page does *not* mean that the whole question is somehow "non constructive".  That's just silly.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>