<html>
	<head>
		<title id = 'pagetitle'>Is This A New Edit Feature?
		</title>
	<head>
	<body id = 'pagebody'><p>With regards to this question entitled <a href="https://apple.stackexchange.com/questions/106331/change-dock-color-on-left-right-site-in-os-x-10-9-mavericks">Change Dock color on left/right site in OS X 10.9 Mavericks.</a></p>

<p>I came across this edit which I ve never seen before:</p>

<p><img src="https://i.stack.imgur.com/udkjf.png" alt="enter image description here"></p>

<p>Is it new or just the fact it is not used very often ?</p>


<h1>ANSWERS</h1>
		<p>It's not new, it just a quoted section starting with <code>&gt;</code>. You can see for yourself how it's done by just clicking on <code>edit</code> and having a look at the raw text.</p>

<p>If you want to see all the formatting options/commands, you can either click on the blue question mark at top right of any edit windows or look at the <a href="https://apple.meta.stackexchange.com/editing-help">Markdown Editing Help</a>.</p>


	</body>
</html>