<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is there any way to display my comment votes?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Is there any way to display my comment votes?</h2>
<p>Seems that the only way to see how votes have my comments is going comment by comment and checking it. Is there a better way to display my comment's votes?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You can use the Data Explorer with the following query which shows how many comments of yours has a certain number of votes:</p>

<ul>
<li><a href="http://data.stackexchange.com/apple/query/947/my-comment-score-distribution?userid=96174" rel="nofollow">My Comment Score distribution (user 96174)</a></li>
</ul>

<p>There is a delay between the actual data and the Data Explorer's data dump. You can check when the Data Explorer was last updated using <a href="http://data.stackexchange.com/apple/query/205012/did-my-contribution-based-on-the-timestamp-made-it-into-sede" rel="nofollow">this query</a>.</p>

<p>If you want a live list of your comments with comment score, you can use the API:</p>

<ul>
<li><a href="https://api.stackexchange.com/docs/me-comments">api.stackexchange.com/me/comments</a></li>
</ul>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>