<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>is the consecutive day counter working properly?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-130" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::52</h3>
				<h2>is the consecutive day counter working properly?</h2>
<p>I have been visiting Apple.SO every day throughout the day including yesterday, and today I see the counter has gone from about 15 down to 1 :-( This is the second time it has happened (last time I was up to 13) so its beginning to bug me.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-131"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>You may be falling on the wrong side of when the server rolls over between days - the day changes at midnight GMT (10 AM in Brisbane, 8 PM EST) so if you don't visit between 10 AM today and 10 AM tomorrow you won't have visited for 24 hours despite having visited once each day (eg. 9:30 AM today and say noon tomorrow).</p>

<p>Check out <a href="https://meta.stackexchange.com/questions/61007/consecutive-day-count-reset-this-morning">Consecutive Day count reset this morning</a> on MSO for a similar situation.</p>

<p>Also, just visiting the front page isn't always enough to make it count.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-224" class = "comment">
				<p>Sucks to be me then :-( I would really appreciate a change in the way that bit of functionality works, because at the moment I feel like its screwing me over.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>