<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Is there a way for activating live-updaintg?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1468" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::34</h3>
				<h2>Is there a way for activating live-updaintg?</h2>
<p>I'm not sure this is the right place for asking this question. So please forgive me if it isn't.</p>

<p>Till yesterday I was used to have live-updating working with <code>Ask Different</code>.
Since today it doesn't show anymore the number of new or updated questions.
Is there a way for re-enabling it?</p>

<p>I read on <a href="https://meta.stackexchange.com/questions/148430/stackoverflow-com-questions-is-not-updating">this question</a> that, due to the performance reasons, it is disabled for <code>Stack Overflow</code>. Could it be the same for <code>Ask Different</code> (since today :-) ).</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1469"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I can't answer with a definitive yes, but are you referring to the "2 questions" with new activity item that shows up when your current page is out of date?</p>

<p>The site developers should see this bug report and answer definitively, but we share the majority of the code with all the non-SO sites so it's extremely likely we are coded the same as stack overflow.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2770" class = "comment">
				<p>Yes, I was referring to that message. Now it works again. The curious thing is that I haven't done anything :-)</p>
			</div>
			<div id = "comment-2771" class = "comment">
				<p>Sounds like the _very definition_ of a server side issue.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>