<html>
	<head>
		<title id = 'pagetitle'>Is the pale blue of texts   on white, pale blue and beige backgrounds   too pale at Ask Different?
		</title>
	<head>
	<body id = 'pagebody'><h1>Is the pale blue <em>too</em> pale?</h1>

<p>I think so, but alternative answers will be appreciated. </p>

<p>Thank you</p>

<h2>Background</h2>

<p>I'm usually a careful reader, but at least twice I have missed things of importance, because of the paleness of the pale blue text that is currently used at Ask Different. </p>

<p><strong>Lack of contrast</strong> can cause some words, or words in some contexts, to be too easily overlooked. Loosely we might describe this as <a href="http://en.wikipedia.org/wiki/Word_blindness" rel="nofollow noreferrer">word blindness</a> but the contrast/faintness issue could affect anyone, not just dyslexics. </p>

<h2>Considerations</h2>

<p><a href="https://apple.meta.stackexchange.com/q/268/8546">Design for the Apple StackExchange site</a> in particular, <a href="https://apple.meta.stackexchange.com/questions/268/design-for-the-apple-stackexchange-site/269#269">comments under an answer from Kyle Cronin</a>.</p>

<p><a href="https://apple.meta.stackexchange.com/q/558/8546">What&#39;s up with the red on green bubbles?</a></p>

<blockquote>
  <p> yellow/purple or orange/blue is better for people that are colorblind if you really want to use contrasting / opposing colors  </p>
</blockquote>

<p><a href="https://apple.meta.stackexchange.com/q/295/8546">New design issues</a></p>

<hr>

<p>There may be comparable questions/answers in other meta areas, and I don't know whether the pale blue that's currently used is based on a template from a different stack, but I thought I should focus first on the Ask Different area. </p>


<h1>ANSWERS</h1>
		<p>I would love to see a much stronger blue to have more contrast for all the blue text.</p>

<p>Even if the designers felt it was the wrong choice, i'd love to see a week or two to try it out - let everyone know we're trying it (or don't). Then revert it for two weeks to "study the results".</p>

<p>You will have hard data on how many complaints were lodged due to the initial change - and due to the reversion back (from those that liked the new).</p>

<p>I would propose something like the new </p>

<p><img src="https://i.stack.imgur.com/7ziMU.png" alt="enter image description here"></p>

<p>Especially the darker shades when examined in a loupe on LCD panels.
<img src="https://i.stack.imgur.com/bNcpQ.png" alt="enter image description here"></p>

<p>I should also inquire as the beer preference of the designers and the address to which it should be sent for critiquing their work since it is never easy to re-design something since the colors we have now is the color they came up with, and not by accident.</p>


<p>I like the subtlety and the text is still very readable.</p>


<p>I don't have any problem with legibility, but as a new user I'm stumped when it comes to the significance of the blue and beige backgrounds. I expected the FAQ to provide an explanation, but this wasn't the case. Can anyone enlighten me?</p>


<p>I always prefer better (ie <strong>more</strong>) contrast.</p>

<p>See also Contrast Rebellion:
<a href="http://contrastrebellion.com/" rel="nofollow">http://contrastrebellion.com/</a></p>


	</body>
</html>