<html>
	<head>
		<title id = 'pagetitle'>Is there any way to display my comment votes?
		</title>
	<head>
	<body id = 'pagebody'><p>Seems that the only way to see how votes have my comments is going comment by comment and checking it. Is there a better way to display my comment's votes?</p>


<h1>ANSWERS</h1>
		<p>You can use the Data Explorer with the following query which shows how many comments of yours has a certain number of votes:</p>

<ul>
<li><a href="http://data.stackexchange.com/apple/query/947/my-comment-score-distribution?userid=96174" rel="nofollow">My Comment Score distribution (user 96174)</a></li>
</ul>

<p>There is a delay between the actual data and the Data Explorer's data dump. You can check when the Data Explorer was last updated using <a href="http://data.stackexchange.com/apple/query/205012/did-my-contribution-based-on-the-timestamp-made-it-into-sede" rel="nofollow">this query</a>.</p>

<p>If you want a live list of your comments with comment score, you can use the API:</p>

<ul>
<li><a href="https://api.stackexchange.com/docs/me-comments">api.stackexchange.com/me/comments</a></li>
</ul>


	</body>
</html>