<html>
	<head>
		<title id = 'pagetitle'>Issues with rendering on chrome
		</title>
	<head>
	<body id = 'pagebody'><p>Please take a look on the screenshots. Logo and vote down are not properly aligned. I tried clearing my chache and still its there.</p>

<p>I am using mountain lion, Chrome Version 21.0.1180.79</p>

<p><strong>Landing Page:</strong></p>

<p><img src="https://i.stack.imgur.com/UJQbN.png" alt="enter image description here"></p>

<p><strong>Question show page</strong></p>

<p><img src="https://i.stack.imgur.com/dBrTB.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>Both <a href="https://apple.meta.stackexchange.com/users/1346/jason-salaz">Jason Salaz</a> and I have tested this in Chrome and do not see the clipping. To isolate the issue, can you try making a new user account on your Mac and try seeing if Chrome there has the same issue? You also will want to try disabling any extensions or user scripts you have if it's not just a bad render as your browser changes the font size larger and smaller. The new account will help with getting back to the Chrome default fonts and sizes as well as not have any content cached.</p>


	</body>
</html>