<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Issue with reputation
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-54" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::141</h3>
				<h2>Issue with reputation</h2>
<p>At least for me it says I have the same reputation on both the main Apple.SE site and meta. </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-55"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>It's by design: Upvotes and downvotes have no effect on your reputation in the per site metas (everything but MSO).</p>

<blockquote>
  <p><strong>Reputation is always inherited from the parent site.</strong> You cannot gain or lose reputation* on the per-site meta. This also means that some reputation related functions like the rep graph and bounties are not enabled on the per-site meta.</p>
</blockquote>

<p>See <a href="http://blog.stackoverflow.com/2010/07/new-per-site-metas/">http://blog.stackoverflow.com/2010/07/new-per-site-metas/</a> for more information, also check out a related question on MSU: <a href="https://meta.superuser.com/questions/1255/how-does-the-reputation-on-parent-and-on-meta-site-work">https://meta.superuser.com/questions/1255/how-does-the-reputation-on-parent-and-on-meta-site-work</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-60" class = "comment">
				<p>That seems odd but I'll go for that.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>