<html>
	<head>
		<title id = 'pagetitle'>Issue with reputation
		</title>
	<head>
	<body id = 'pagebody'><p>At least for me it says I have the same reputation on both the main Apple.SE site and meta. </p>


<h1>ANSWERS</h1>
		<p>It's by design: Upvotes and downvotes have no effect on your reputation in the per site metas (everything but MSO).</p>

<blockquote>
  <p><strong>Reputation is always inherited from the parent site.</strong> You cannot gain or lose reputation* on the per-site meta. This also means that some reputation related functions like the rep graph and bounties are not enabled on the per-site meta.</p>
</blockquote>

<p>See <a href="http://blog.stackoverflow.com/2010/07/new-per-site-metas/">http://blog.stackoverflow.com/2010/07/new-per-site-metas/</a> for more information, also check out a related question on MSU: <a href="https://meta.superuser.com/questions/1255/how-does-the-reputation-on-parent-and-on-meta-site-work">https://meta.superuser.com/questions/1255/how-does-the-reputation-on-parent-and-on-meta-site-work</a></p>


	</body>
</html>