<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Issue with reputation
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Issue with reputation</h2>
<p>At least for me it says I have the same reputation on both the main Apple.SE site and meta. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It's by design: Upvotes and downvotes have no effect on your reputation in the per site metas (everything but MSO).</p>

<blockquote>
  <p><strong>Reputation is always inherited from the parent site.</strong> You cannot gain or lose reputation* on the per-site meta. This also means that some reputation related functions like the rep graph and bounties are not enabled on the per-site meta.</p>
</blockquote>

<p>See <a href="http://blog.stackoverflow.com/2010/07/new-per-site-metas/">http://blog.stackoverflow.com/2010/07/new-per-site-metas/</a> for more information, also check out a related question on MSU: <a href="https://meta.superuser.com/questions/1255/how-does-the-reputation-on-parent-and-on-meta-site-work">https://meta.superuser.com/questions/1255/how-does-the-reputation-on-parent-and-on-meta-site-work</a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>