<html>
	<head>
		<title id = 'pagetitle'>It's broken - then get it fixed!
		</title>
	<head>
	<body id = 'pagebody'><p>We see many of these questions on Ask Different <br>
<a href="https://apple.stackexchange.com/questions/229349/iphone-4s-stuck-on-control-center">iPhone 4s stuck on Control Center</a></p>

<p>Essentially, the answer to a lot of them is just "take it to a shop &amp; get it fixed."</p>

<p>They're the equivalent of the old joke about taking the car to the mechanic to fix the horn because the brakes don't work.</p>

<p>Should we just close as "Basic customer support" with a comment to get the damn thing fixed?</p>


<h1>ANSWERS</h1>
		<p>It will be a case by case basis but I don't think the example you gave should be closed.</p>

<p>It is a reasonable question and others will search for this issue as well. The problem for Ask Different is that there is no reasonable answer but this isn't necessarily known at time of asking. </p>

<p>Not everyone (most people I suspect) don't have easy and low cost access to a Apple store so some things might be fixable.</p>

<p>As for your analogy don't we cover power users and there are a lot of people who fix cars for a hobby.</p>

<p>In this case I would say the best thing is to answer there is no user fix and have to see a professional.</p>


	</body>
</html>