<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>iTunes keyboard shortcuts: should Windows alternatives be listed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>iTunes keyboard shortcuts: should Windows alternatives be listed?</h2>
<p>I often give keyboard shortcuts in my answers. Usually, this is for Mac software, so I can just say "Use <kbd>  (cmd)</kbd> <kbd>A</kbd> to select all," but when I'm giving instructions for iTunes shortcuts, I have no way of knowing the OS the asker is running unless they explicitly state it. When they don't, what should I use? "  (cmd, or ctrl if you're running Windows)"?</p>

<p>(Also, please don't tell me to just give the menu path. I usually give shortcuts in conjunction with those.)</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I think it's OK to assume the asker is using Mac OS unless they explicitly specify otherwise in the title, body, or tags of their question (best to check all 3).</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I would just use the Apple shortcuts.  The assumption if nothing is stated has to be that the user is on a Mac.  Doing a tag search yields the following stats for results this year to date:</p>

<p>[itunes] [windows] - 2 hits</p>

<p>[itunes] [os x] - 2 hits</p>

<p>[itunes] [mac] - 4 hits</p>

<p>[itunes] - 100+ hits</p>

<p>So by some very basic maths (with the obvious problem that some of the [itunes] only search results were also for [ios]/[ipad]/[iphone]/[ipod] etc etc where shortcuts are not appropriate anyway) would suggest less than 2% of questions explicitly state Windows.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>