<html>
	<head>
		<title id = 'pagetitle'>Jaws help solve problems instead of just editing
		</title>
	<head>
	<body id = 'pagebody'><p>Jawa you can edit, can you help solve my problem please?</p>


<h1>ANSWERS</h1>
		<p>Welcome to Stack Exchange and Ask Different.</p>

<p>We are community edited and community supported, so some people will edit questions that need help or that they think need help.</p>

<p>Your best bet is to edit your question after reading the [about] and [help] sections for the main site. Providing details on what specifically you tried, researching an Apple support article or a post on the internet and explaining precisely what you are struggling with while following those instructions is the best way to attract a good answer to your post.</p>


	</body>
</html>