<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Keyboard icons & terminology
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Keyboard icons & terminology</h2>
<p>Different people use different terminology and symbols for Mac keys/commands. I figured we should have one standardized list that can be a point of reference for editing guidelines. Since no one else has created one </p>

<h3>Usage:</h3>

<ul>
<li>Names go from most to least common, so use the first in the list whenever possible.<br /><br /></li>
<li>Terms in italics are obsolete, slang, and/or terms used on other platforms; these should only be used when it's unavoidable.<br /><br /></li>
<li>No images were used here so that the symbols can be copied/pasted into questions and answers (and please do!).<br /><br /></li>
<li>When typing shortcuts, don't include characters that aren't pressed. In Safari, for instance, <strong> +</strong> zooms in while <strong> -</strong> zooms out. Using <strong> ++</strong> or <strong> -+</strong> would just be confusing.<br /><br /></li>
<li>The <code>&lt;kbd&gt;</code> tag is problematic: for instance, <kbd> +</kbd> is readable, but <kbd> </kbd> is not.<br /><br /></li>
<li>Bolding shortcuts helps readability, but not inside <code>&lt;kbd&gt;</code> tags.

<ul>
<li><code>** +**</code> becomes <strong> +</strong> </li>
<li><code>** **</code> becomes <strong> </strong></li>
<li><code>&lt;kbd&gt;** +**&lt;/kbd&gt;</code> becomes <kbd><strong> +</strong></kbd></li>
<li><code>&lt;kbd&gt;** **&lt;/kbd&gt;</code> becomes <kbd><strong> </strong></kbd><br /><br /></li>
</ul></li>
<li>When typing shortcuts, don't separate keystrokes that must be made together. For instance, typing in  <strong> </strong> N N or <b> </b>N N  produce different results and the latter makes it clear which two need to be pressed simultaneously.

<ul>
<li>If you're using the <code>&lt;kbd&gt;</code> tag, that means use <kbd><b> </b>N</kbd> <kbd>N</kbd>, not <kbd><strong> </strong></kbd> <kbd>N</kbd> <kbd>N</kbd>.</li>
</ul></li>
</ul>

<hr>

<dl>
    <dt><strong>Icon</strong></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Name(s) and alternate symbols</strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Command, Cmd, Cmnd, <em>Clover</em>, <em>Apple</em><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Control, Ctl, Ctrl<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Option, Opt, <em>Alt</em><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Shift<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Caps lock<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Eject<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Return, Carriage return, <strong> </strong>, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Enter, <strong> </strong>, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Delete, Backspace, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Forward delete, Fwd delete, Delete, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Escape, Esc, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Right arrow<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Left arrow<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Up arrow<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Down arrow<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Page up, PgUp<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Page down, PgDn<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Home<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tab, Tab right, Horizontal tab, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Shift tab, Tab left<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Space, Blank, <strong> </strong></dd>
</dl>

<hr>

<p>Notes:</p>

<ul>
<li>I'm not crazy about the way this looks either, but there's a limit to what I can do without tables and formatting. If you can improve it, please do!</li>
<li>This is currently solely based on the American English keyboard, so it could really use some internationalization help.</li>
<li>These didn't come down from on high; it's a work in progress based on community consensus. If you have suggestions for changes or ideas for additions, add them below for discussion.</li>
</ul>

<hr>

<p>Edited to add:</p>

<p>For those who can't see the table above, or who want to know what to type in rather than copy paste, this might help:</p>

<p><img src="https://i.stack.imgur.com/cN8Vh.png" alt="alt text"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Is there something StackExchange can develop to make this easier? Some tag/macro they can develop in order to sanely enter these characters? I like having a source, which this post is perfect for, but I like something more that doesn't unfocus me from the question/answer at hand.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This seems like a lot of extra hassle for essentially no tangible gain.  Unlike, say, Math Overflow, math.SE, or LaTeX.SE, symbolic notation here is simply beyond unnecessary (I refuse to say something so trite as "in my opinion", but given the recent allegations that I use "weasel words", this is a reverse disclaimer, in that these views are my own and not the views of "people in general", as it were.). This is a Q&amp;A site for enthusiasts/power users of a certain brand of electronic device.  In fact, this kind of thing gives one (by which I mean your humble servant) the impression of "trying too hard", as it were.  </p>

<p>Further, albeit less related to the original post, it seems clear to me, at least, that this site would do well to drop the overwhelming aura of seriousness. Being an Apple fan, power user (alas, gone are the days when the users of the powermac/book quite literally "power users"), simply does not require that we speak and act with such gravity (as opposed to levity!). This is a Q&amp;A site about the products of Apple Computer for experienced users. Lobotomizing away the personality and panache from people's posts (alliteration <em>not</em> intended) does not make the subject matter any more substantial or important.</p>

<p>Thank you for your time.</p>

<p>Cordially yours,</p>

<p>Harry</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Oh yes this is readable - NOT!</p>

<p><img src="https://i.stack.imgur.com/5vkzn.png" alt="mumbo jumbo"></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I disagree about combining control modifiers into the same <code>kbd</code> tags. For example, rather than </p>

<blockquote>
  <p>To quit, type: <kbd> Q</kbd></p>
</blockquote>

<p>I think that the following makes much more sense:</p>

<blockquote>
  <p>To quit, type: <kbd> </kbd>+<kbd>Q</kbd></p>
</blockquote>

<p>For a few reasons:</p>

<ol>
<li>There is no <strong> Q</strong> key. using a <code>&lt;kbd&gt;</code> tag makes the item appear like a key on the keyboard, and placing <code> Q</code> together inside the <code>&lt;kbd&gt;</code> tag gives the appearance that there is a single key <strong> Q</strong>, when in fact there are two seperate keys</li>
<li>Despite my personal dislike of the "+" sign in the above notation, <a href="http://chat.meta.stackoverflow.com/transcript/message/277400#277400">it is the most common way of indicating that two keys should be pressed in conjunction</a>.</li>
</ol>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Should the arrows actually be arrows-with-tails as currently listed, or should they be replaced with       and   which are used on the arrow keys currently?</p>

<p>(<a href="http://www.visibone.com/htmlref/char/cer09600.htm" rel="nofollow">http://www.visibone.com/htmlref/char/cer09600.htm</a> for ease of HTML entity reference.)</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Let's take a look at all the different options here:</p>

<ol>
<li><p>To take a screenshot of the entire window press <kbd> </kbd>
<kbd> </kbd> <kbd>4</kbd>, select the file on your desktop and copy
it with <kbd> </kbd> <kbd>C</kbd></p></li>
<li><p>To take a screenshot of the entire window press <kbd>  Command</kbd>
<kbd>  Shift</kbd> <kbd>4</kbd>, select the file on your desktop and
copy it with <kbd>  Cmd</kbd> <kbd>C</kbd></p></li>
<li><p>To take a screenshot of the entire window press <kbd>Command</kbd>
<kbd>Shift</kbd> <kbd>4</kbd>, select the file on your desktop and
copy it with <kbd>Command</kbd> <kbd>C</kbd></p></li>
<li><p>To take a screenshot of the entire window press <kbd>  Command</kbd> +
<kbd>  Shift</kbd> + <kbd>4</kbd>, select the file on your desktop and
copy it with <kbd>  Cmd</kbd> + <kbd>C</kbd></p></li>
</ol>

<p>Number 2 seems like the best option; It uses the proper notation used throughout Mac, and also uses the name as it appears on the keyboard (so it's much easier for novices to know what they're actually supposed to do.</p>

<p>I don't understand the need to separate each key with the <strong>+</strong> symbol. It makes sense when you're writing keyboard shortcuts in plain text where you have no way to visually distinguish between different keys, but condsidering we have <code>&lt;kbd&gt;</code> I just don't see a need for it.</p>

<p>Also, AskDifferent is supposed to be a site for learning, right? Using <kbd>  Option</kbd> people would finally be able to figure out what that crazy <strong> </strong> symbol is! </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>