<html>
	<head>
		<title id = 'pagetitle'>Killing the mail tag - Is it time?
		</title>
	<head>
	<body id = 'pagebody'><p>I just beefed up the <a href="https://apple.stackexchange.com/questions/tagged/email" class="post-tag" title="show questions tagged &#39;email&#39;" rel="tag">email</a> and <a href="https://apple.stackexchange.com/questions/tagged/mail.app" class="post-tag" title="show questions tagged &#39;mail.app&#39;" rel="tag">mail.app</a> descriptions as well as edited the few questions that had been tagged with mail.</p>

<p>I've proposed mail be a synonym of email.</p>

<p>If you are curious - only 2 of the mail questions related to iOS - they already had some flavor of iOS and the email tag. About 5 questions tagged only mail were for mail.app, but more than 75% of the mail tags were redundant and already tagged email and the mail.app tag was not needed for those questions.</p>

<p>Comments, suggestions?</p>

<p>Time to vote on <a href="https://apple.stackexchange.com/tags/synonyms">https://apple.stackexchange.com/tags/synonyms</a> if you like or dislike this synonym. </p>


<h1>ANSWERS</h1>
		<p>Hm, my initial reaction was to rename email to mail, as the latter seems to be the word Apple prefers to use. However, as "mail" can also be used to mean "Mail.app" or "iOS Mail" I agree that it makes sense to force people to disambiguate, otherwise the tag itself is worthless. Whether that can be accomplished by making the tag wiki clear that "mail" is about "email" or whether we should set up the synonym mail -> email or even if we should just ban "mail" altogether, I don't know.</p>


	</body>
</html>