<html>
	<head>
		<title id = 'pagetitle'>Know the user who increase your reputation or who gave you an up vote
		</title>
	<head>
	<body id = 'pagebody'><p>I'm still new here and not yet familiar with many of the features of the forum.</p>

<p>I would like to know if there is a way to determine or know the user who increased your reputation or who gave you an up vote.</p>

<p>Back then we have a Philippine version of Stackoverflow.com for Filipino programmers and we had there a feature that displays the list and history of users who gave you an up vote.</p>

<p>Do we have it here also?</p>


<h1>ANSWERS</h1>
		<p>No, on Stack Exchange sites like this one there is no simple way for ordinary users to see who has voted on a post.</p>

<p>While it would sometimes be fun to know who gave you an up/down vote, anonymized voting is important as it allows people to vote based on the post itself without worrying about maintaining friendships or not offending anyone.</p>


	</body>
</html>