<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Late Answers... 1.2k?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Late Answers... 1.2k?</h2>
<p>Did something break?</p>

<p>This morning there were about 2, now there seem to be 1200 Late Answers.</p>

<p><a href="https://i.stack.imgur.com/EzRNF.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/EzRNF.png" alt="enter image description here"></a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This appears to be intentional. As of 1700 UTC October 8, the backlog queue has been reviewed. The site-wide change is being discussed in this answer/question:</p>

<ul>
<li><a href="https://meta.stackexchange.com/a/267080/165931">https://meta.stackexchange.com/a/267080/165931</a></li>
</ul>

<blockquote>
  <p>I'd like to try raising the reputation for getting enqueued to the Late Answer reviews to 50 and reconsider upping it to 100 at some point in the future</p>
</blockquote>

<p>If there's a big problem with this change, asking on MSE directly or here would be ideal.</p>

<p>Personally, I'm seeing a majority of answers that deserve up votes. A few answers that are spam/terrible, but the real benefit I'm seeing is giving attention to the questions themselves. Most of the bad answers are due to a bad question, so I'm cleaning them up when I find a bad late answer as well.</p>

<p>When the OP doesn't accept an answer, it encourages late answers, so I'll encourage everyone that reviews to <strong>take their time on this large queue and really give each post some attention</strong> before moving to the next review.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>