<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Layout should use overflow-y: scroll to prevent flickering
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Layout should use overflow-y: scroll to prevent flickering</h2>
<p>It's  the first time I've noticed this on a SE site but I guess it applies not only to Apple.SE. </p>

<p>On pages where the contents load relatively slowly (e.g. sometimes,  <a href="https://apple.meta.stackexchange.com/users">the "Users" page</a>) there is a noticeable Flash of when the page is built, and at some point gets a vertical scroll bar. The page's contents move 16px to the left once the scroll bar is added.</p>

<p>It's a minor thing, but noticeable. I would consider using <code>overflow-y: auto</code> in order to force a scroll bar, whether there is need for one or not. It would make for a smoother browsing experience.</p>

<p>Bumping this, as it still happens.</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>