<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Layout bug in user profile for answers with a negative score (Chrome)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Layout bug in user profile for answers with a negative score (Chrome)</h2>
<p>In Google Chrome (stable) I noticed the following bug in <a href="https://apple.stackexchange.com/users/9918/proales">a user profile</a> with a negative answer score:</p>

<p><img src="https://i.stack.imgur.com/mUW40.png" alt="screenshot"></p>

<p>The bug does not occur in Firefox.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I think this problem has gone away in the 3 years since this was posted, and that user has since been deleted.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>