<html>
	<head>
		<title id = 'pagetitle'>Layout bug in user profile for answers with a negative score (Chrome)
		</title>
	<head>
	<body id = 'pagebody'><p>In Google Chrome (stable) I noticed the following bug in <a href="https://apple.stackexchange.com/users/9918/proales">a user profile</a> with a negative answer score:</p>

<p><img src="https://i.stack.imgur.com/mUW40.png" alt="screenshot"></p>

<p>The bug does not occur in Firefox.</p>


<h1>ANSWERS</h1>
		<p>I think this problem has gone away in the 3 years since this was posted, and that user has since been deleted.</p>


	</body>
</html>