<html>
	<head>
		<title id = 'pagetitle'>Layout should use overflow-y: scroll to prevent flickering
		</title>
	<head>
	<body id = 'pagebody'><p>It's  the first time I've noticed this on a SE site but I guess it applies not only to Apple.SE. </p>

<p>On pages where the contents load relatively slowly (e.g. sometimes,  <a href="https://apple.meta.stackexchange.com/users">the "Users" page</a>) there is a noticeable Flash of when the page is built, and at some point gets a vertical scroll bar. The page's contents move 16px to the left once the scroll bar is added.</p>

<p>It's a minor thing, but noticeable. I would consider using <code>overflow-y: auto</code> in order to force a scroll bar, whether there is need for one or not. It would make for a smoother browsing experience.</p>

<p>Bumping this, as it still happens.</p>


<h1>ANSWERS</h1>
			</body>
</html>