<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Legality of discussions
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Legality of discussions</h2>
<p>How is it acceptable to discuss methods of taking over others' devices? Came here looking for help with security and I see inquiries almost all pertaining to taking control over products, aka stealing/theft. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You can discuss a lot of things that are illegal without falling afoul of the law. Imagine if you couldn't discuss murder? It'd be really hard to study case law or report the news.</p>

<p>There's also varying laws around the world when it comes to actions. So some action that might be illegal in one country could be perfectly legal in another.</p>

<p>Knowledge isn't illegal to possess or to share.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>