<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Legal questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-263" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::118</h3>
				<h2>Legal questions?</h2>
<p>On the main trilogy, there's a very consistent hard line drawn against amateur legal advice.</p>

<p>If you want to have the same policy here, you should vote to close:</p>

<p><a href="https://apple.stackexchange.com/questions/6109/gpl-software-in-mac-app-store">Is it possible to have GPL software in the Mac App Store?</a></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-529" class = "comment">
				<p>Hm, good point. At the very least we should make it clear that the answers do NOT constitute legal advice.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-264"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>To me, it depends how much <strong>danger</strong> there is in such advice.</p>

<p>Like, medical advice here would be a bad idea because if someone gave you bad medical advice, <em>you could die</em>.</p>

<p>I am not sure that particular question holds any danger for anyone of any consequence, and the information it provides is at least useful as a starting point for research.</p>

<p>That said, if you saw a user providing <em>bad</em> or <em>careless</em> legal advice, that is -- more than simple basic pointers for research with the disclaimer that "hey, I'm no lawyer, I'm just a user like you, but here's what I know" -- then it's fair to vote that down or flag it.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>