<html>
	<head>
		<title id = 'pagetitle'>Legality of discussions
		</title>
	<head>
	<body id = 'pagebody'><p>How is it acceptable to discuss methods of taking over others' devices? Came here looking for help with security and I see inquiries almost all pertaining to taking control over products, aka stealing/theft. </p>


<h1>ANSWERS</h1>
		<p>You can discuss a lot of things that are illegal without falling afoul of the law. Imagine if you couldn't discuss murder? It'd be really hard to study case law or report the news.</p>

<p>There's also varying laws around the world when it comes to actions. So some action that might be illegal in one country could be perfectly legal in another.</p>

<p>Knowledge isn't illegal to possess or to share.</p>


	</body>
</html>