<html>
	<head>
		<title id = 'pagetitle'>Light blue border around bottom, left, and right of Gravatar on user page
		</title>
	<head>
	<body id = 'pagebody'><p>On the user pages there's now a light blue border around the bottom, left, and right of the Gravatar:</p>

<p><img src="https://i.stack.imgur.com/5j5wI.png" alt="enter image description here"></p>

<p>I suspect that the border area around the image has grown and caused this - I don't remember the border being right up next to the text on the right before. I could be mistaken though.</p>


<h1>ANSWERS</h1>
		<p>This is caused by transparencies - if you have transparencies in your Gravatar, <a href="https://meta.stackexchange.com/questions/101452/eeeek-gravatar-images-now-have-a-background-color-is-this-necessary">then it'll be rendered with a specific background color</a> based on the site. In Ask Different, it looks decidedly poor because of it not matching the rounded border piece, though.</p>

<p>Until a fix is provided, you could use a workaround by resizing your image to fix the full size, rather than just a partial fit.</p>


<p>This will be fixed with the next deploy.</p>

<p>For some reason Ask Different gravatars were styled to be slightly smaller than gravatars on every other site in the network.</p>

<p>There may be some additional style tweaks, as the user page is looking a tad crowded with the bigger icon...</p>


	</body>
</html>