<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Linking questions without 'penalising' one as a duplicate
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2658" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::44</h3>
				<h2>Linking questions without 'penalising' one as a duplicate</h2>
<p>The following 2 questions are essentially duplicates, along the lines of<br>
'Cannot sign out of iCloud because of an old email address'</p>

<p><a href="https://apple.stackexchange.com/questions/210728/unable-to-sign-out-of-icloud-linked-to-old-email-that-no-longer-exists?lq=1">Unable to sign out of iCloud; linked to old email that no longer exists</a><br>
<a href="https://apple.stackexchange.com/questions/211906/icloud-catch-22-cannot-sign-out-of-old-dead-apple-id-on-ipads">iCloud Catch 22 - Cannot sign out of old dead Apple ID on iPads</a></p>

<p>For the first, the solution was 'this is a bug that needs fixing'<br>
For the second, it's 'there now <em>is</em> a solution since iOS 9.0.2'</p>

<p>So, the first did all the work, yet the second found the fix.</p>

<p>imho, both are worthy in &amp; of themselves, but as a pair they show not only the solution, but also some back history to the problem &amp; research done in trying to fix it.</p>

<p>I've already added a comment to the first to point to the newly-available solution.<br>
They each show as 'Linked' in the right margin - though I'm not sure how many people actually use that to follow a trail of bread crumbs.</p>

<p>How do we better link them without 'penalising' either by marking it as a dupe? Especially as it's the newer question that has a working fix, so the 'this has  already been asked &amp; has an answer' message would give off all the wrong signals.  </p>

<p>Add a Link in an answer - edit the original or post a new one?</p>

<p>Add a Link to the top of the original question "Since iOS 9.0.2 there is now a solution to this issue 'here'" ?</p>

<p>Any other possibility?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5934" class = "comment">
				<p>We can probably forget this specific issue, as the 2 are apparently not equivalent, but I'll leave it here if anyone has a general answer rather than a specific one.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2659"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p><em>I didn't look into the dupe-worthiness of the two questions mentioned, the following is rather a general answer.</em></p>

<p>Avoiding redundancy by closing duplicate questions is actually a good thing. There is no such thing as a penalty if a question gets marked as a duplicate. Any reputation gained by upvotes on either the duplicate question or one of its answers remain. Also, there is no <em>ownership</em> on posts (see <a href="https://apple.stackexchange.com/help/editing">https://apple.stackexchange.com/help/editing</a>), so if anybody gets an ego problem from having a question closed as a duplicate, he/she better deals with this off-site.</p>

<p>If you run into potential duplicates, by all means either propose to close, comment or flag them. In cases where it make sense, the mods also have the option to physically merge all the answers from both questions into one (which may keep things a bit more tidy especially if the newer question got the better answers).</p>

<p>PS: Oh, and whatever you do: <strong>DO NOT</strong> edit the question to include the answer (or a link to an answer). It heavily confuses people and the search functionality. Either flag as a duplicate, add a question comment with the link or post an answer pointing to the actual answer (which is one of the very few occasions where a link-only answer is ok IMHO).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5937" class = "comment">
				<p>Linking questions serves a valuable function. Not everyone uses the same language to describe the underlying function. Linking serves to concentrate the community effort to answering authoritatively on one thread and having those answers searchable using a variety of phrasings. I don't see questions as penalized when closed as they still can be edited, commented upon and revived if in fact the question (or the understanding of it) changes after the vote to close.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>