<html>
	<head>
		<title id = 'pagetitle'>Linux tag = Unix
		</title>
	<head>
	<body id = 'pagebody'><p>I just tried to retag a question as <a href="https://apple.stackexchange.com/questions/tagged/linux" class="post-tag" title="show questions tagged &#39;linux&#39;" rel="tag">linux</a> which was based on not finding a Ubuntu boot disk</p>

<p>However I see Linux is a synonym of Unix which surely is wrong for this group as the differences matter a lot here. Can we have this synonym broken?</p>


<h1>ANSWERS</h1>
			</body>
</html>