<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Linux tag = Unix
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2763" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::32</h3>
				<h2>Linux tag = Unix</h2>
<p>I just tried to retag a question as <a href="https://apple.stackexchange.com/questions/tagged/linux" class="post-tag" title="show questions tagged &#39;linux&#39;" rel="tag">linux</a> which was based on not finding a Ubuntu boot disk</p>

<p>However I see Linux is a synonym of Unix which surely is wrong for this group as the differences matter a lot here. Can we have this synonym broken?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2763">Load Comments</button></br>
			<div id = "commentsection-2763" class = 'collapse'>
			<div id = "comment-6085" class = "comment">
				<p>We even have `sed` and `awk` mapped to `unix`, hmm.</p>
			</div>
			<div id = "comment-6086" class = "comment">
				<p>and [tag:gnu] :(  Hmm tag highlighting does not work in comments</p>
			</div>
			<div id = "comment-6087" class = "comment">
				<p>I could argue that unix should be banned as it does not help in this  site want command-line osx linux bsd gnu and we need to distinguish - but that should be a later discussion</p>
			</div>
			<div id = "comment-6088" class = "comment">
				<p>To break the synonym, I'd like to see some consensus on what would be tagged Unix and what would be tagged Linux - I'm of the view that for a site that's devoted to user level questions and not programming languages - larger tags are best. For example - why any of these would exist as anything but synonyms to [tag:open-source] or [tag:command-line] seems to dilute the power of having tags to follow a topic.</p>
			</div>
			<div id = "comment-6090" class = "comment">
				<p>There is a difference as in the question I tried to retag and this [one](http://apple.stackexchange.com/questions/231490/boot-ubuntu-from-usb-stick-on-2011-macbook-pro) in trying to boot linux or just running linux e.g. getting correct drivers  - as per my earlier comment I think the unix tag helps nothing and user needs to choose command-line or linux or osx. unix cannot be used as a tag for open source as unix contains OSX and is non open source (and linux video drives could be there as well)</p>
			</div>
			<div id = "comment-6094" class = "comment">
				<p>I don't understand why the tags have been lumped together in the first place.</p>
			</div>
			</div>
				<textarea id = "speech-2763" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2763">
					<img id="start_img-2763" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>