<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>List of X~Poll Style Questions - What to do?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-90" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::324</h3>
				<h2>List of X~Poll Style Questions - What to do?</h2>
<p>One Apple.SE we now have at least 13 list/poll style questions. These questions will always be "unanswered" and cause a bit of strife over how to deal with them as sites mature. Should we be allowing list style questions on Apple.SE?</p>

<h3>Pros</h3>

<ul>
<li>Information that can not easily be gleaned from a Google search can be easily put together in a list (eg. Great shortcuts)</li>
<li>Tend to create a lot of views and bring a lot of attention than most other questions. (eg. Mac OS X Terminal Tips on Super User)</li>
<li>Very beginner friendly</li>
</ul>

<p>A good example of a list doing well is the recent question <a href="https://apple.stackexchange.com/questions/1322/can-i-open-the-menu-with-keyboard">Can I open the menu with the keyboard</a> was answered quickly because of an answer put in the Mac OS X Keyboard Shortcuts question.</p>

<h3>Cons</h3>

<ul>
<li>Seen as "Noise" - detract from more serious questions and are often updated keeping them on the front page</li>
<li>Value decreases significantly the more answers are provided</li>
<li>Often are time restricted (become stale quickly) - how much is it that bad questions are just rephrased as polls instead?</li>
</ul>

<h3>Possible Cons</h3>

<ul>
<li>Doesn't scale in terms of usage (few people will read the 2nd page)</li>
</ul>

<p>A good example of a good list gone bad is the <a href="https://superuser.com/questions/52483/terminal-tips-and-tricks-for-mac-os-x">Mac OS X Terminal Tips &amp; Tricks</a> question on Super User. While quite useful once it got past one page it become increasingly useless as the level of noise in the question exceeded the signal (caused by spam, duplicates, new users, duplicates) and it was being constantly bumped to the front page.</p>

<h3>Background reading</h3>

<ul>
<li><a href="https://gaming.meta.stackexchange.com/questions/776/voting-on-the-future-of-list-of-x-questions">Voting on the future of list of x questions</a></li>
<li><a href="https://meta.stackexchange.com/questions/59962/stackexchanges-question-selection-is-horrible">StackExchange's question selection is horrible</a></li>
<li><a href="https://webmasters.meta.stackexchange.com/questions/212/list-of-x-questions">List of X questions</a></li>
<li><a href="https://cooking.meta.stackexchange.com/questions/730/one-item-per-answer-policy">One 'Item' Per Answer Policy</a></li>
<li><a href="https://cooking.meta.stackexchange.com/questions/76/should-questions-that-have-a-list-of-answers-be-allowed">Should questions that have a list of answers be allowed</a></li>
<li><a href="https://meta.stackexchange.com/questions/57226/should-we-have-a-list-of-x-close-reason/">Should we have a "List of X" close reason?</a></li>
<li><a href="https://meta.superuser.com/questions/333/superuser-a-wikifest">Super User a WikiFest?</a></li>
<li><a href="https://meta.superuser.com/questions/915/should-this-popular-cw-question-be-unlocked-to-allow-it-to-evolve">Should this popular CW question be unlocked and allow it to evolve?</a></li>
</ul>

<h3>Current list of list/poll style questions</h3>

<ul>
<li><a href="https://apple.stackexchange.com/questions/82/os-x-applications-you-cant-live-without">OS X Application You Can't Live Without</a></li>
<li><a href="https://apple.stackexchange.com/questions/183/mac-os-x-keyboard-shortcuts">Mac OS X Keyboard Shortcuts</a></li>
<li><a href="https://apple.stackexchange.com/questions/400/mac-os-x-hidden-features-and-nice-tips-tricks">Mac OS X Hidden Features and Nice Tips &amp; Tricks</a></li>
<li><a href="https://apple.stackexchange.com/questions/682/great-os-x-games">Great OS X Games</a></li>
<li><a href="https://apple.stackexchange.com/questions/1142/great-quick-look-plugins">Great Quick Look Plugins</a></li>
<li><a href="https://apple.stackexchange.com/questions/683/great-ios-games">Great iOS Games</a></li>
<li><a href="https://apple.stackexchange.com/questions/654/iphone-hidden-features-and-nice-tips-tricks">iPhone Hidden Features and Nice Tips &amp; Tricks</a></li>
<li><a href="https://apple.stackexchange.com/questions/634/how-do-you-use-ipad">How do you use iPad?</a></li>
<li><a href="https://apple.stackexchange.com/questions/227/quicksilver-addons-and-plugins">Quicksilver Addons and Plugins</a></li>
<li><a href="https://apple.stackexchange.com/questions/1286/awesomest-ipad-apps">Awesomest iPad Apps</a></li>
<li><a href="https://apple.stackexchange.com/questions/1302/awesomest-ipad-games">Awesomest iPad Games</a></li>
<li><a href="https://apple.stackexchange.com/questions/1292/what-are-the-best-must-have-free-ipad-apps">What are the best must have free iPad apps</a></li>
<li><a href="https://apple.stackexchange.com/questions/1278/desktop-customization-application">Desktop Customization Application</a></li>
</ul>

<hr>

<p>Note: At present list questions are allowed as nothing has been decided on this (we've had a total ~4 people weigh in on this). Old list questions that have become unwieldy (read: not curated anymore for a long period of time) will be closed. The current list questions are in great shape! Thanks to everyone involved.</p>

			</div><h3>Comments</h3>
			<div id = "comment-143" class = "comment">
				<p>Made question CW so you can edit the perceived pros/cons as necessary.</p>
			</div>
			<div id = "comment-145" class = "comment">
				<p>While my initial feeling was that they would provide users (even veteran ones like me) with new and interesting applications, the *vast* amount that have sprung up make me feel that they will have to be reigned in a bit.</p>
			</div>
			<div id = "comment-146" class = "comment">
				<p>@Josh K: Any opinion on how much - or just simply they should be?</p>
			</div>
			<div id = "comment-147" class = "comment">
				<p>I don't know. Some of them feel very redundant, with great games, quick look plugins, etc.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-90">Record</button>
				<button class="record-stop" id="stop-90">Stop</button>
				<p id="recording-90"></p>

<h1>Answers</h1>
			<br><div id = "ans-91"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I recommend reading <a href="https://cooking.meta.stackexchange.com/questions/730/one-item-per-answer-policy/733#733">Aaronut's answer to the One 'Item' Policy on Meta.Cooking</a> as he states my position much more eloquently than I ever could. If I were not a moderator (as moderators have a binding vote) I would cast a close vote and leave it to see if enough of the community decided they did not like the question. I'm not a fan of list questions (I'm willing to have the community tell me I'm wrong and suck it up).</p>

<p>The TL;DR two sentence version:</p>

<blockquote>
  <p>One Item Answers fail miserably because it can't scale past the first page and misuses community wiki only to avoid "rep farming" while ignoring all the other issues with this kind of question like just turning into a massive thread from the forums SE is trying to <em>not</em> be. Also I really should read the whole thing because it's well done.</p>
</blockquote>

<p><a href="https://gaming.meta.stackexchange.com/questions/776/voting-on-the-future-of-list-of-x-questions">Gaming</a> has some very good reason why they've all but abolished any type of list questions.</p>

<p>I propose we adopt and slightly modify Gaming's stance on List questions as well.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-91">Record</button>
				<button class="record-stop" id="stop-91">Stop</button>
				<p id="recording-91"></p>
			<br><div id = "ans-92"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Right, my basic opinion is this:</p>

<p><strong>Polls are fine, as long as they are on-topic, clearly formulated and a couple of simple rules are in place.</strong></p>

<p>Those simple rules would be something like:</p>

<ul>
<li>One item (application, plugin, whatever) per answer</li>
<li>No duplicates</li>
<li>Uniform formatting (not as important, but it <em>can</em> make the whole thing more useful)</li>
</ul>

<p>There's overwhelming evidence (e.g. in the form of hundreds of <a href="https://stackoverflow.com/questions/1711/what-is-the-single-most-influential-book-every-programmer-should-read">upvotes</a>) that people often find such poll questions <strong>useful</strong>, and they obviously help bringing in more users and attention (especially relevant to these beta sites).</p>

<h2>"Cons" dissected</h2>

<p>That said, let me offer some critical commentary on a couple of the "Cons" you mentioned. (These are things that people, starting from Jeff Atwood, seem to keep repeating even though what I've seen in practice at several SE sites doesn't necessarily support them at all...)</p>

<blockquote>
  <p>Don't scale</p>
</blockquote>

<p>Some truth to it, but not <em>quite</em> so. The fact is that SE software is not <em>optimal</em> for polls with hundreds of answers, but it still <em>works</em>. Nothing crashes; new answers can be added; good stuff still is at the top; bad stuff gets down to the bottom. <em>How exactly</em> does it not scale?</p>

<p>Sure, no-one reads <a href="https://superuser.com/questions/1191/what-are-some-must-have-mac-os-x-programs">all of the 157 answers</a> to a poll about OS X programs at one sitting. So what? It can still <strong>very useful</strong>, for example to a person new to OS X who goes through the first 2-3 pages and find plenty of great ideas of what to install!</p>

<blockquote>
  <p>"Noise" - detract from more serious
  questions</p>
</blockquote>

<p>This is probably the strongest argument of those four. Big polls keep popping up on the front page with new answers and edits. Still: it is quite easy to ignore questions you don't like (but others like very much) and move on with your life. If a tag such as <code>[poll]</code> is used, those who want can even hide them completely. </p>

<p>Even then polls would affect how <em>newcomers</em> perceive the site, right? Well yes, but not in any untruthful way. Don't worry about it too much. People are generally smart and benevolent enough (which is why Stack Overflow works, by the way).</p>

<blockquote>
  <p>Often are time restricted (become stale quickly)</p>
</blockquote>

<p>Some people love to repeat this, but fortunately it is not true at all. <strong>Community wiki polls on SE can stay perfectly dynamic, alive and up-to-date</strong>. This can be achieved with some active pruning and a couple of key features in the software platform. These features are:</p>

<ul>
<li><strong>The voting system</strong>. Good stuff goes up, bad stuff (including duplicates and other worthless posts) goes down.</li>
<li><strong>Ability to add new answers</strong>. </li>
<li><strong>Ability to edit answers</strong> (by any trusted users)  </li>
<li>Ability to delete answers 

<ul>
<li>People who posted duplicates usually did it unwittingly, and can often be persuaded to remove such zero-value-adding posts</li>
<li>Not as crucial, but still useful: moderators can prune away downvoted duplicates and other crap from the bottom, if they want to.</li>
</ul></li>
<li>Ability to sort answers by votes <em>and</em> by date</li>
</ul>

<p>A couple of <strong>use cases</strong>, with the <a href="https://superuser.com/questions/1191/what-are-some-must-have-mac-os-x-programs">Mac application poll</a> as an example.</p>

<p><strong>1)</strong> Let's say a new OS X app is released, 2 years after the poll was created. The app is absolutely fantastic. Someone goes on and adds an answer about it. Ok, it now has 0 votes and sits at the bottom. Does it get buried behind all the mediocre stuff? <strong>No.</strong> (Unless it deserves to.) Many knowledgeable users use the "newest" ordering when returning to look a poll question, and if they see good new stuff, they vote it up. If the new app truly is great, it will reach the first page in a few days or weeks, even if the poll has 6 to 8 pages of answers! </p>

<p>If you don't believe me on that one, I can dig up evidence e.g. from some gigantic Stack Overflow poll; I've seen it happen often enough.</p>

<p>It's sort of sad to see those useful questions (some of the community's most-liked questions, actually!) on Super User <a href="https://meta.superuser.com/questions/915/should-this-popular-cw-question-be-unlocked-to-allow-it-to-evolve">locked</a> because <em>that</em> is exactly what kills them and makes them stale (no new answers can be added).</p>

<p><strong>2)</strong> Let's say a relatively highly-voted app (e.g. Google Chrome) gets a slew of new features, transforming the key essence of that app (say, Google engineers pushed the limits further and it does your laundry now). This affects people's opinions about the app, and our poll is suddenly all stale and obsolete, right? Well, no. Someone goes and edits the CW answer to mention this key fact. It gets votes from new users and moves higher in the list. Those who don't like the new version of the app can change their former upvote to downvote. (Ok, this Chrome example is suboptimal; maybe I'll come up with a better one later.)</p>

<p>Such adaptation to changed world will always take <em>some</em> time, but in the bigger scheme of things it doesn't matter. Like Wikipedia, these things can mostly be self-healing and self-updating if you just let them (i.e. don't lock them!) and if you do just a little bit of curating every now and then.</p>

<h2>Examples of great poll questions</h2>

<p>Finally, for reference and as examples, below are links to some <em>good</em> polls.</p>

<ul>
<li>SF: <a href="https://serverfault.com/q/3780/1746"><strong>Useful Command-line Commands on Windows</strong></a>   Nice showcase of a well-executed poll. </li>
<li>Apple SE: <a href="https://apple.stackexchange.com/q/400/150"><strong>Mac OS X hidden features</strong></a>   I'm happy that <a href="http://twitter.com/spolsky/status/24493360648" rel="nofollow noreferrer">Joel seems to appreciate</a> a good poll (and sees their value in promoting SE), even if <a href="https://meta.stackexchange.com/q/57226/56285">Jeff is still against them</a> almost categorically.</li>
<li>SU: <a href="https://superuser.com/q/1241/2984"><strong> Must have  Windows programs?</strong></a>   Shame that it's been <a href="https://meta.superuser.com/q/915/2984">"killed" by locking it</a> for no good reason at all. :-(</li>
<li>SO: <a href="https://stackoverflow.com/questions/101268/"><strong>Hidden features of Python</strong></a>   Considered useful by <em>many</em> people, as you can see.</li>
</ul>

<p>That last one boasts a new (to me, at least) feature:</p>

<blockquote>
  <p><strong>protected</strong> by Will  Jul 16 at 2:54</p>
  
  <p>This question is protected to prevent
  "thanks!", "me too!", or spam answers
  by new users. To answer it, you must
  have more than 10 reputation.</p>
</blockquote>

<p>The "protected" status seems like a great compromise. It can help in keeping dupes/spam at bay, but, unlike locking, lets the question stay "alive".</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-141" class = "comment">
				<p>As you might notice, this is a pet peeve of mine... :P I just hope people would get over the misguided fixation that this Q&A software doesn't *work* for poll type questions.</p>
			</div>
			<div id = "comment-142" class = "comment">
				<p>@Jonik: This was exactly what I was hoping for. Someone to give a better view of why the poll is just fine. I still disagree but I can understand the upsides to poll questions.</p>
			</div>
			<div id = "comment-144" class = "comment">
				<p>"Community wiki polls on SE **can** stay perfectly dynamic, alive and up-to-date." The reason I made sure the word 'Often' was at the start of that con point was because the majority of the time it's not the case (especially on non-SO sites).</p>
			</div>
			<div id = "comment-163" class = "comment">
				<p>@Chealion: Sure. I'm not arguing in favour of *any* polls either; only on-topic, well-pruned ones. (CW happily enables almost anyone to participate in pruning. And sometimes even what's initially a poor question might be turned into a useful one.)</p>
			</div>
			<div id = "comment-164" class = "comment">
				<p>In my view, one remaining problem might be "badge farming" (though I think hardly anyone really does that on purpose). In my opinion it would be great if CW posts wouldn't give you badges at all (excluding posts in non-poll questions that became CW automatically, through popularity). I don't know if such change to the platform has been suggested.</p>
			</div>
			<div id = "comment-169" class = "comment">
				<p>@Jonik: The current ones are doing exceptionally well. I still don't like them on principle but I can agree they are working.</p>
			</div>
			<div id = "comment-172" class = "comment">
				<p>I think this answer clarifies it a lot for me.  I've waffled back and forth just within the OS X Applications thread.  One minute I think the thread is great, like after someone posts something that is useful to me.  The next minute I'm annoyed because 4 straight answers are highly localized and totally useless to me.  But Jonik is right... I set the answer display to "newest", and I only have to see the last few that were posted.  I think I'm going to just start downvoting things that seem totally useless to most people.  Like if only 1 out of 10 people will care about it, it gets a downvote.</p>
			</div>
			<div id = "comment-178" class = "comment">
				<p>@calavera: Personally I just *abstain from upvoting* if a poll answer doesn't seem useful to me, and reserve downvotes for duplicates (and spam, offtopic posts, etc). But do use votes as you see best! Thanks for feedback :)</p>
			</div>
			<div id = "comment-180" class = "comment">
				<p>@Jonik: We can add the protect flags when necessary - any moderator is able to do that.</p>
			</div>
			<div id = "comment-183" class = "comment">
				<p>@Jonik: well that's what I've been doing up till this point.  But in order to keep the thread "active" and "fresh", might as well add my personal opinion into the mix :)  however, I've barely done this at all, just apps that I either truly don't like or seem totally useless and are just wasting thread space.</p>
			</div>
			<div id = "comment-2806" class = "comment">
				<p>Unfortrunately, voting here doesn't really work in the long term. I've just reread answers on [this question](http://apple.stackexchange.com/questions/82/which-os-x-applications-do-you-find-indispensable), and some answers that I've previously upvoted, I'd like to downvote now, simply because my preferences have changed. Unfortunately I cannot do that, because my votes are too old. The end result for that specific question is that it reflects some point in the history, but is not reflecting today choices of people who voted two years ago.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-92">Record</button>
				<button class="record-stop" id="stop-92">Stop</button>
				<p id="recording-92"></p>
			<br><div id = "ans-160"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>While I agree that there are several poll questions that are considered useful on every SE-site, the vast majority of the poll questions being asked end up being:</p>

<ul>
<li>poorly maintained</li>
<li>consisting of many answers that are basically just a link or a one-liner naming the application (or subject at hand)</li>
<li>popularity contests, rather than a measure of usefulness</li>
</ul>

<p>For a poll question to succeed I think it should:</p>

<ul>
<li>have content that teaches users something they didn't know before, </li>
<li>give information that helps them decide whether it's useful to them,</li>
<li>be based on your personal experience with the application, not just your opinion,</li>
<li>also be voted upon based on the usefulness of the information and not just how much users like the app in the answer.</li>
</ul>

<p>So unless each answer get's the same amount of effort as other answers get, these questions are likely to fail miserably. While I agree that uniform formatting, with one app per answer without duplicates helps, it doesn't address the quality of the answers.</p>

<p>As mentioned in SO blog post on <a href="http://blog.stackoverflow.com/2010/09/good-subjective-bad-subjective/" rel="nofollow">Good subject, bad subjective</a>, not all questions are created equal, so yes some should be allowed, but most shouldn't because they don't have the general level of quality SE-sites try to advocate. </p>

<p>My advice: try to make it work by putting in some effort, if you deem the question good enough. If it fails, don't be afraid to close and/or delete it, to prevent ghost town questions remain on the site!</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-160">Record</button>
				<button class="record-stop" id="stop-160">Stop</button>
				<p id="recording-160"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>