<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Listing iOS apps supporting DynamicType: OK? How?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Listing iOS apps supporting DynamicType: OK? How?</h2>
<p>I want to share a list of iOS apps that allow customizing font sizes:</p>

<ul>
<li>either through support of DynamicType / LargerText system settings</li>
<li>or have their own settings for font size</li>
</ul>

<p>(similar to <a href="https://apple.stackexchange.com/questions/27897/making-fonts-larger-in-apps-under-lion/">"How to make text appear larger in various apps in OS X"</a>)</p>

<p>I would absolutely welcome others to contribute to the list.</p>

<hr>

<p>What is the best way to do that?</p>

<ol>
<li><p>Add a table to <a href="https://apple.stackexchange.com/a/163399/54644">the original question</a> where it is very relevant (but not asked for directly), and adds much specifics to general statements like "some support, other don't; some are larger, others are the same"</p></li>
<li><p>Post a separate question, similar to "How to make text appear larger in various apps in OS X"--which is definitely better and easier for others to contribute and reuse</p></li>
</ol>

<hr>

<p>Should I definitely mark the question (and/or my answer) as a "community wiki"; how do I decide?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>So, to sum up my thoughts from the conversation above: post it. If it's good, the community will vote it up, if they disagree, they'll vote it down. I agree you should do it as CW, organized like that other CW Q&amp;A you linked to.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>When I created <a href="https://apple.stackexchange.com/questions/27897/making-fonts-larger-in-apps-under-lion/">Making fonts larger in apps under Lion</a>, it was partly to learn the answer and partly to try the sort of question that I hoped Community Wiki would work well for. I don't think it was a disaster, but it didn't turn out as great as I'd hoped it would. Maybe your question would take off in that format; if it can, I hope it does. I'd recommend trying, but I'm not overly hopeful it will get a great response. I'd recommend a separate question.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>