<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Listing iOS apps supporting DynamicType: OK? How?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2315" class = "post">
			<h2>Question</h2>
			<div id="vote-2315" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 78</p>
			</div>
				<h2>Listing iOS apps supporting DynamicType: OK? How?</h2>
<p>I want to share a list of iOS apps that allow customizing font sizes:</p>

<ul>
<li>either through support of DynamicType / LargerText system settings</li>
<li>or have their own settings for font size</li>
</ul>

<p>(similar to <a href="https://apple.stackexchange.com/questions/27897/making-fonts-larger-in-apps-under-lion/">"How to make text appear larger in various apps in OS X"</a>)</p>

<p>I would absolutely welcome others to contribute to the list.</p>

<hr>

<p>What is the best way to do that?</p>

<ol>
<li><p>Add a table to <a href="https://apple.stackexchange.com/a/163399/54644">the original question</a> where it is very relevant (but not asked for directly), and adds much specifics to general statements like "some support, other don't; some are larger, others are the same"</p></li>
<li><p>Post a separate question, similar to "How to make text appear larger in various apps in OS X"--which is definitely better and easier for others to contribute and reuse</p></li>
</ol>

<hr>

<p>Should I definitely mark the question (and/or my answer) as a "community wiki"; how do I decide?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2315">Load Comments</button></br>
			<div id = "commentsection-2315" class = 'collapse'>
			<div id = "comment-4352" class = "comment">
				<p>This seems helpful, but ultimately ill-suited for the site. Any list you make is going to go stale. Who will maintain it? You?</p>
			</div>
			<div id = "comment-4353" class = "comment">
				<p>@IanC. I don't expect too many contributors, and yes I'm ready to organize answers of half a dozen contributors (upper limit in my experience). Is that what you mean by "maintain"?</p>
			</div>
			<div id = "comment-4354" class = "comment">
				<p>Apps come and go. Someone needs to stay on top of the list to make sure stuff that's gone from the App Store is gone from the list. That's what I mean from maintain. It feels a bit like a magnet for advertising too. In general, I am not a fan "big lists of things" on this site. They don't work well with the SE format.</p>
			</div>
			<div id = "comment-4355" class = "comment">
				<p>But it did work pretty well in "How to make text appear larger in various apps in OS X" linked above. How my proposal is different?</p>
			</div>
			<div id = "comment-4356" class = "comment">
				<p>@IanC. See above, forgot to mention you there.</p>
			</div>
			<div id = "comment-4357" class = "comment">
				<p>On that point, we appear to disagree. Because I don't think that worked "pretty well" at all. I don't think you could point me at a CW Q&A on this site that'd I think worked out well at all. But, I'm not authority here, and you should open the question up as a CW question like you proposed and let the community decide! :D</p>
			</div>
			</div>
				<textarea id = "speech-2315" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2315">
					<img id="start_img-2315" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2317"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2317" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So, to sum up my thoughts from the conversation above: post it. If it's good, the community will vote it up, if they disagree, they'll vote it down. I agree you should do it as CW, organized like that other CW Q&amp;A you linked to.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2317">Load Comments</button></br>
			<div id = "commentsection-2317" class = 'collapse'>
			<div id = "comment-4358" class = "comment">
				<p>Well, I have detailed data on 10-20 apps: support of Dynamic Type / Larger Text / app-specific font size settings, no font resizing at all. My options are: (1) just drop it => no one will ever use it; (2) attach it to the existing question where some people will be able to find it and use for their own reference, but hardly anyone will contribute; (3) create a separate question so that not only people can reuse it, but also have a chance to contribute. So yes, I'm going to go ahead and post it as a separate community wiki question / answer.</p>
			</div>
			<div id = "comment-4359" class = "comment">
				<p>Create a new question gets my vote.</p>
			</div>
			<div id = "comment-4378" class = "comment">
				<p>Started listing the apps I tested [here](http://apple.stackexchange.com/questions/163576/which-of-ios-apps-allow-customizing-font-size/163579#163579). Still unsure whether to choose text listing or a preformatted table format--any feedback appreciated. Both options are shown there to easier compare the approaches.</p>
			</div>
			</div>
				<textarea id = "speech-2317" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2317">
					<img id="start_img-2317" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2335"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2335" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When I created <a href="https://apple.stackexchange.com/questions/27897/making-fonts-larger-in-apps-under-lion/">Making fonts larger in apps under Lion</a>, it was partly to learn the answer and partly to try the sort of question that I hoped Community Wiki would work well for. I don't think it was a disaster, but it didn't turn out as great as I'd hoped it would. Maybe your question would take off in that format; if it can, I hope it does. I'd recommend trying, but I'm not overly hopeful it will get a great response. I'd recommend a separate question.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2335">Load Comments</button></br>
			<div id = "commentsection-2335" class = 'collapse'>
			<div id = "comment-4383" class = "comment">
				<p>Thanks. My primary purpose is to share my own findings, hoping they will be useful for others. Don't expect too many contributors, to be honest. Would welcome your opinion: [text listing or a preformatted table format?](http://apple.stackexchange.com/a/163579/54644) (examples of both are there to compare)</p>
			</div>
			</div>
				<textarea id = "speech-2335" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2335">
					<img id="start_img-2335" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>