<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Login Page</title>
	<head>
	<body id = 'pagebody'>
		<header>
			<h1>Just Another Discussion Forum</h1>
		</header>
		<div class="topnav" id="myTopnav">
			  <a href="/">Home</a>
			  <a href="#" style = "float:right;">About</a>
			  
		</div>
		<div class="container">
			<div id = "loginpage">
				<input id="tab-1" type="radio" name="tab-group" checked="checked" style="visibility:hidden;"/>
			    <label for="tab-1">Login</label>
			   
			    <input id="tab-2" type="radio" name="tab-group" style="visibility:hidden;"/>
			    <label for="tab-2">Sign-up</label>

			    <div id="content">
			    	<div id="content-1">
			    		<form action = "/login" method = "POST" role = "form">
			    			Account Id<br>
				    		<input type = "text" name = "email", required placeholder="AccountID" id = "email">
				    		<br><br>
				    		Password<br>
				    		<input type = "password" name = "passwd", required placeholder="Password" id = "passwd">
				    		<br><br>
				    		<button type="submit" id="login_btn">Login</button>
				    	</form>			    		
			    	</div>
			    	<div id="content-2">
			    		<form action = "/sign-up" method = "POST" role = "form">
			    			Name<br>
				    		<input type = "text" name = "name", required placeholder="Name" id = "name">
				    		<br><br>
				    		Password<br>
				    		<input type = "password" name = "passwd", required placeholder="Password" id = "passwd">
				    		<br><br>
				    		<button type="submit" id="signup_btn">Sign Up</button>
				    	</form>	
			    	</div>
			    </div>
			</div>
			<script>
				function manageTabVisibility(action){
					console.log('action -->' +action)
					if(action == 'login'){


					}else if (action == 'signup'){

						document.getElementById('tab-2').checked = true;
						document.getElementById('tab-1').checked = false;

					}
				}	
					
				manageTabVisibility(<%-JSON.stringify(action) %>)
			</script>
			<footer>Moore & Peps collaboration.</footer>
		</div>
	</body>
</html>