<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Lost 10 reputation points - marked as "removed" - "user was removed"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Lost 10 reputation points - marked as "removed" - "user was removed"</h2>
<p>Logged in just now and found my reputation had dropped 10 points with the legends 'removed' and 'user was removed' yet I can login.</p>

<p>What does this mean? I've looked in the faqs but found nothing pertinent.</p>

<p>What have I done? </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You haven't done anything. Some user who voted for you had their account deleted, either by their request or due to some other factor. This results in a loss of reputation earned from that account.</p>

<p>If it's any consolation, it just happened to me, too. :-(</p>

<p>The details of user deletion are covered at the page where you ask for user deletion: <a href="https://apple.stackexchange.com/help/user-deletion">https://apple.stackexchange.com/help/user-deletion</a></p>

<p>So - unless you were the only time that user voted on anything, this account would have been deleted by Stack Exchange in response to the procedure listed above. Initially I was disappointed when I first noticed I had lost reputation points on this, but after seeing it happen several times, it makes sense to prevent someone from making an account - voting up (or down) a particular user and then leaving. When someone exits - their down votes which took reputation from others are reversed as well as their up votes leaving the voting system as if they never showed up in the first place.</p>

<p>It is apparently the logic of those who make these decisions that the site grants the ability to vote only after you get a vote from someone else and also requires you to not delete your account to keep your votes in play.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>