<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Low rep user accessing own deleted comments
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1814" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::48</h3>
				<h2>Low rep user accessing own deleted comments</h2>
<p>I could swear that I commented yesterday on <a href="https://apple.stackexchange.com/questions/68836/where-can-i-download-safari-for-windows/94010#94010">Where can I download Safari for Windows?</a>, but I am not seeing it now.</p>

<p>Assuming it has been deleted, is there anywhere to access it, and/or see the reason for it's deletion?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3451" class = "comment">
				<p>There is no way to see deleted comments. Only mods have that power.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1815"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Yes, a moderator removed the comment because it wasn't related to any question or answer particularly and was rather discussion about who might have downvoted an answer.  No-one, not even moderators, can see who voted for who (unless there is a pattern of vote abuse that is picked up by the system and alerted to us) and questioning a user on their voting isn't considered appropriate.</p>

<p>Unlike for questions, reasons are not stored for edits and deletion of comments so there is nothing to see.  As mentioned by @Mat, only moderators can see deleted comments.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3456" class = "comment">
				<p>Seems the intent of my comment was mistaken. I wanted to suggest that why ?they? downvoted the answer (If indeed was them, otherwise I would have then expected both our comments to be deleted) was stated, because I thought they may be suggesting that the date in the answer was wrong, but given the limited wording I wasn't sure.</p>
			</div>
			<div id = "comment-3457" class = "comment">
				<p>Also, before I write up a "Please consider (at least) giving authors access to their deleted comments" meta question, if for no other reason that people could go crazy wondering if their crazy ;) (But it is also nice to have something to show for sometimes some time typing, i.m.o) has it already been suggested?</p>
			</div>
			<div id = "comment-3458" class = "comment">
				<p>I don't know if it has been suggested, but if you do make a question I would so it on SO, not AD, as it's a site wide request that isn't particularly AD specific.  I can't comment on the thinking of the particular Mod who removed it, but even if the user *hadn't* downvoted, it's not fair to put other users on the spot - voting is totally anonymous by design - so it seemed a reasonable action to take.  Hope you understand our thinking.</p>
			</div>
			<div id = "comment-3459" class = "comment">
				<p>PS, you are welcome to add the comment back in, but word it differently and make it anonymous, not specific to a particular user.  You could ask the question of if the comment is accurate or misguided without needing to tie that to a vote.</p>
			</div>
			<div id = "comment-3469" class = "comment">
				<p>let us [continue this discussion in chat](http://chat.stackexchange.com/rooms/10589/discussion-between-stuffe-and-user66001)</p>
			</div>
			<div id = "comment-3470" class = "comment">
				<p>FYI, users being able to see their deleted contents was requested and declined: http://meta.stackexchange.com/questions/187279/let-us-view-our-deleted-comments</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>