<html>
	<head>
		<title id = 'pagetitle'>Low rep user accessing own deleted comments
		</title>
	<head>
	<body id = 'pagebody'><p>I could swear that I commented yesterday on <a href="https://apple.stackexchange.com/questions/68836/where-can-i-download-safari-for-windows/94010#94010">Where can I download Safari for Windows?</a>, but I am not seeing it now.</p>

<p>Assuming it has been deleted, is there anywhere to access it, and/or see the reason for it's deletion?</p>


<h1>ANSWERS</h1>
		<p>Yes, a moderator removed the comment because it wasn't related to any question or answer particularly and was rather discussion about who might have downvoted an answer.  No-one, not even moderators, can see who voted for who (unless there is a pattern of vote abuse that is picked up by the system and alerted to us) and questioning a user on their voting isn't considered appropriate.</p>

<p>Unlike for questions, reasons are not stored for edits and deletion of comments so there is nothing to see.  As mentioned by @Mat, only moderators can see deleted comments.</p>


	</body>
</html>