<html>
	<head>
		<title id = 'pagetitle'>Mac OS X Server ontopic?
		</title>
	<head>
	<body id = 'pagebody'><p>What about questions about Mac OS X Server? Shall they go here or on serverfault?</p>


<h1>ANSWERS</h1>
		<p>This is Apple, feel free to ask here.</p>

<p>Note that you may have better luck on ServerFault though, if it's not a very specific Apple question. The more general server questions should probably go on SF.</p>


<p>I don't know the levels of all the users that are here now or that will be here after some times, but if you need very technical answers about config files for applications you've got better chances to have an answer on SF.</p>


<p>There's been a bit of friction on SF about consumer hardware in general, and Mac OSX Server in particular.  Look at <a href="https://meta.serverfault.com/questions/968/why-was-my-question-about-mac-mini-servers-closed">why was my question about mac mini servers closed?</a></p>

<p>Genuine server admin questions are OK on SF, but plain sysop questions are always appropriate here or on SU.</p>


	</body>
</html>