<html>
	<head>
		<title id = 'pagetitle'>MacOSX programming question here or at stackoverflow?
		</title>
	<head>
	<body id = 'pagebody'><p>Should I ask a MacOSX programming question here or at stackoverflow?<br>
Or both? is cross-posting allowed/discouraged/punished by death?</p>


<h1>ANSWERS</h1>
		<p>Programming questions should be asked on Stack Overflow</p>


<p>Cross posting is discouraged because questions can be migrated, and a cross-post will lead to a duplicate question, which the community, in turn, also discourages.</p>

<p>I have never seen an online community where cross-posting was acceptable.</p>


	</body>
</html>