<html>
	<head>
		<title id = 'pagetitle'>Make [watchos-*] tag synonyms of [watchos] to be consistent with [watchos-3]'s status
		</title>
	<head>
	<body id = 'pagebody'><p><strong><a href="https://apple.stackexchange.com/questions/tagged/watchos-3" class="post-tag" title="show questions tagged &#39;watchos-3&#39;" rel="tag">watchos-3</a> is currently a tag synonym of <a href="https://apple.stackexchange.com/questions/tagged/watchos" class="post-tag" title="show questions tagged &#39;watchos&#39;" rel="tag">watchos</a>.</strong> In less technical terms, this means any posts tagged with <a href="https://apple.stackexchange.com/questions/tagged/watchos-3" class="post-tag" title="show questions tagged &#39;watchos-3&#39;" rel="tag">watchos-3</a> are actually tagged with <a href="https://apple.stackexchange.com/questions/tagged/watchos" class="post-tag" title="show questions tagged &#39;watchos&#39;" rel="tag">watchos</a>. Think of it like a website redirecting you, but instead it's a tag.</p>

<p>Anyways, <a href="https://apple.stackexchange.com/questions/tagged/watchos-2" class="post-tag" title="show questions tagged &#39;watchos-2&#39;" rel="tag">watchos-2</a>, <a href="https://apple.stackexchange.com/questions/tagged/watchos-3" class="post-tag" title="show questions tagged &#39;watchos-3&#39;" rel="tag">watchos-3</a>, and <a href="https://apple.stackexchange.com/questions/tagged/watchos-4" class="post-tag" title="show questions tagged &#39;watchos-4&#39;" rel="tag">watchos-4</a>, all existing versions of <a href="https://apple.stackexchange.com/questions/tagged/watchos" class="post-tag" title="show questions tagged &#39;watchos&#39;" rel="tag">watchos</a>, are not tag synonyms for it. I think this should be updated to clear confusion and make everything more uniform.</p>


<h1>ANSWERS</h1>
		<h1>Yes, let's do this and make <a href="https://apple.stackexchange.com/questions/tagged/watchos-4" class="post-tag" title="show questions tagged &#39;watchos-4&#39;" rel="tag">watchos-4</a> (and other version tags) synonyms of <a href="https://apple.stackexchange.com/questions/tagged/watchos" class="post-tag" title="show questions tagged &#39;watchos&#39;" rel="tag">watchos</a>.</h1>

<p>This, as shown in the feature request, would make the tagging consensus more uniform and would cause less confusion. There shouldn't only be one version-specific tag that is a synonym!</p>


<p>I'm tempted to just merge all the watchOS versions down to watchOS and leave no synonyms.</p>

<ol>
<li>There have been 47 questions ever with any flavor of watchOS tag, ever.</li>
<li>One time the watchOS-3 synonym was used, ever.</li>
</ol>

<p>For such a low volume, adding a bunch of synonyms seems a low return for effort.</p>


	</body>
</html>