<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Make "mdm" a synonym of "mobile-device-management"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2276" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::42</h3>
				<h2>Make "mdm" a synonym of "mobile-device-management"</h2>
<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/mdm" class="post-tag" title="show questions tagged &#39;mdm&#39;" rel="tag">mdm</a>   51 tagged, 20 this year</p>

<blockquote>
  <p>Mobile Device Management (MDM). A server platform that a company can deploy to centrally manage portable network-connected devices such as the iPhone, iPad and iPod touch. Also applies to MCX/OS X management since Apple Store apps are now as much a part of OS X as they are for iOS.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/mobile-device-management" class="post-tag" title="show questions tagged &#39;mobile-device-management&#39;" rel="tag">mobile-device-management</a>   17 tagged, 4 this year</p>

<blockquote>
  <p>Also known as MDM, mobile device management is software that helps manage devices for reporting, policy compliance as well as saving labor and standardizing setup amongst many devices when used by the same company or group. iOS MDM uses a framework for device management and often involves third party management software if the company's needs exceed the MDM capabilities of Lion Server.</p>
</blockquote></li>
</ul>

<p>These are one and the same, even referencing each other in their tag wiki excerpts.</p>

<p>Could the shortened version be made a synonym of the full description?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2276" class = 'collapse'>
			</div>
				<textarea id = "speech-2276" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2276">
					<img id="start_img-2276" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2277"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I'm tempted to merge the long tag into the short one.</p>

<p>If someone wants to type mobile... they will see and select the synonym, but MDM is a great tag IMO.</p>

<p>Before I merge things, let's see if there is more support for your request to point the short tag at the long one...</p>

<hr>

<p>Clearly, we should merge these - the only question is which way (which we can easily reverse later if needed).</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2277">Load Comments</button></br>
			<div id = "commentsection-2277" class = 'collapse'>
			<div id = "comment-4294" class = "comment">
				<p>The standard on the site seems to be the shorter tag is a synonym of the longer tag, but I do see what you mean and I guess I'd be in support of that too.</p>
			</div>
			<div id = "comment-4295" class = "comment">
				<p>I'd propose we reverse that "standard" for things were everyone uses the acronym. :-)</p>
			</div>
			</div>
				<textarea id = "speech-2277" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2277">
					<img id="start_img-2277" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>