<html>
	<head>
		<title id = 'pagetitle'>Making Clash of Clans questions off-topic here
		</title>
	<head>
	<body id = 'pagebody'><p>We currently (as of November 19) have 65 questions tagged "Clash of Clans" on the site, with an average question score of 0.2. Currently, these questions have generated a grand total of two answers that have received multiple up votes. This isn't a recipe for quality Q&amp;A, which is what the site is designed to encourage.</p>

<p>Accordingly, I'd like to make questions about the particulars of specific games to be off-topic for this site. Maybe there are fora that can generate constructive discussion about "how do I change users in Sonic and Zelda Assassin: Grand Theft Unicorn Edition," but it doesn't seem to be working here.</p>

<p>The only two CoC answers with multiple up votes are pretty trivial answers themselves: one quotes the documentation for the game and the other indicates that there is no OS X version of the game. Good information, but if these are the best responses CoC questions generate, maybe that's a sign that the site is better off without CoC questions.</p>


<h1>ANSWERS</h1>
		<p>Yes. This makes sense to me. The answer to the vast majority of these questions has been: contact the developer.</p>


<p>"questions about the particulars of specific games to be off-topic "  </p>

<p>That hits the nail on the head for me. </p>

<p>CoC had a few days of irritation, due to server issues, but in the relatively short time I've been here, it's the only game that seems to crop up as a taggable one. The rest don't seem to generate questions here. So, blanket ban on games questions would almost seem to be 'CoC only' anyway.</p>

<p>Having typed that, I'm not sure whether I voted yes or no, but games just don't seem to fit AskDifferent's ethos anyway; there are a million sites better-suited.</p>


<p>I'm going to say we don't need to make COC off topic.</p>

<p>It seems odd to rule out one app because we already have all the tools we need to close low quality (and total crap) questions.</p>

<p>If someone can show me a question that needs to be closed as "off topic" if we were to implement this request, my suspicion is that it could also easily be closed as low quality, unclear, or duplicate.</p>

<p>If people don't document the exact build of COC and the iOS version, then that's good enough for me to close it as too broad and/or unclear.</p>

<p>I'd rather a few canonical answers get assembled and then we can dupe vague questions and/or close them with little to no additional effort. I don't see how adding a clause to the off-topic makes things better for anyone.</p>

<p>As things stand, we have this clause:</p>

<blockquote>
  <p>Questions about the particulars of specific games, such as game account or in-app purchase issues, should be directed to the game's developer.</p>
</blockquote>

<p>What if we substituted running apps or Apple apps for games. Isn't this a big broad ban for no real benefit?</p>


<p>I'm adding this as another answer just to make one specific point/question/poll </p>

<p>How many of the mods &amp; high rep others here have ever actually played CoC? or had any of the issues we've seen described on the topic?</p>

<p>Or are we, between us, providing the best LMGTFY service to single-digit AD users that we possibly can, yet coming up far shorter than we would on a question about, say, Terminal &amp; how to use sudo?</p>

<p>Personally, I wouldn't <em>expect</em> a 50k rep user on here to be a gamer; I'd expect them to have a deep knowledge of MacOS &amp; iOS - that's how they got their rep in the first place. </p>

<p>I'm not casting us as old, crotchety &amp; bah-humbug - I just think there may be a significant proportion who wouldn't give a rat's ass for gaming &amp; would consider they have far better things to think about.</p>

<p><em>[Doesn't really need comments, though who am I to stop you;-) but just a straw poll by voting this up or down might give some indication as to degree of agreement with my point]</em></p>


<p>This questions either should go games.stackexchange or elsewhere. They are not about features of OS X, iOS or Game Center. They are about specific of game, mostly according to saving progress.</p>

<p>And on the side note I was off the think different for a while and I see we have pretty much low quality questions now. I might say we are flooded with them. Was it that it you have to get some points before asking a question before? </p>


<p>IMHO, they should be migrated to <em>SE Arqade</em>. There are many CoC questions there, most of them platform agnostic. Unless there is a specific issue relating to Coc client on an Apple platform, iOS or OS X, (in which case <em>maybe</em> it should be on <em>SE Ask Different</em>) there sh9ould really be asked/migrated to Arqade.</p>


	</body>
</html>