<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Maliciously wrong answers should be flag-worthy
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2143" class = "post">
			<h2>Question</h2>
			<h3>Score ::11</h3>
			<h3>Views ::214</h3>
				<h2>Maliciously wrong answers should be flag-worthy</h2>
<p>Maliciously wrong answers, which do something unexpected and harmful to the user, should be flag-worthy.</p>

<p>For example, if someone asked:</p>

<blockquote>
  <p>How do I change the permissions of a directory?</p>
</blockquote>

<p>Then the following answer should be flag-worthy, because it does something unexpected and harmful:</p>

<blockquote>
  <p>Do <code>rm -rf directory</code></p>
</blockquote>

<p>By contrast, the following is incorrect (the command name is mis-spelt), but wouldn't be flag-worthy:</p>

<blockquote>
  <p>Use the <code>changemod</code> command</p>
</blockquote>

<p>I recently flagged an <a href="https://apple.stackexchange.com/a/68906/691">answer</a> as maliciously wrong, but was declined for doing so.</p>

<p>It said:</p>

<blockquote>
  <p>You just click on the red maximize button</p>
</blockquote>

<p>The red button doesn't maximize a window, but closes it instead, which is unexpected and harmful behaviour.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4073" class = "comment">
				<p>Could you provide a link to the post in question or the edit? Often a comment explaining the danger is better than asking moderators to censor or even be able to judge what is malicious. Some things like an operation or terminal command is fine in the hands of an expert, yet prone to disaster in someone not aware of the power being wielded.</p>
			</div>
			<div id = "comment-4074" class = "comment">
				<p>@bmike Done, thanks.</p>
			</div>
			<div id = "comment-4082" class = "comment">
				<p>Yes, I think this should definitely be something flagable!</p>
			</div>
			<div id = "comment-4324" class = "comment">
				<p>In this case, editing the post to change the word "red" to "green" would fix the problem. If it was a mistake on the part of the poster, they will appreciate the fix and readers benefit also. If they roll back your edits, that starts to look like evidence of  malicious intent.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2144"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>Thanks for raising the issue.</p>

<p>I examined the account and the post. I don't think it's overly malicious - especially with a slightly more verbose comment (I edited yours to show you what I mean).</p>

<blockquote>
  <p>This answer is potentially maliciously wrong. Pressing the red button will close the window or application and in some cases, you could lose data if the app doesn't save periodically or restore it's state when you re-launch it.     </p>
</blockquote>

<p>But, the answer is just noise, so a low quality flag would be sufficient to get that post deleted. It's cleaned up now - again thanks for raising this on meta -the perfect venue for this sort of discussion and clean-up.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4075" class = "comment">
				<p>I'll only need 9884 more rep to see the "slightly more verbose comment"! ;)</p>
			</div>
			<div id = "comment-4076" class = "comment">
				<p>Heh. That's right , something to strive for...</p>
			</div>
			<div id = "comment-4077" class = "comment">
				<p>I also cleared the flag -- didn't think it was overly malicious.</p>
			</div>
			<div id = "comment-4078" class = "comment">
				<p>Also, there can be a whole world of difference between the same answer depending on if the *intention* was malicious, or if it was just borne from stupidity, ignorance or even a simple typo.  In your example, I think the OP likely meant green not red, but had a brainfart - In this instance simply editing the content to make it correct where there was an obvious fault easily corrected might be best.</p>
			</div>
			<br><div id = "ans-2150"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The problem with this is that it requires the moderators to both recognize wrong answers and determine malicious intent in order to handle the flag. Some answers are wrong; some spectacularly so. I agree that it would be a good thing to draw people's attention to answers that are spectacularly bad advice. Comment and downvote. Beyond that, if it's really important, raise the issue in chat to recruit other people to downvote. The problem with flagging it is that flags aren't really an ideal medium to communicate detailed information. If it isn't obvious to the moderators why an answer is spectacularly bad, there aren't a lot of characters in a flag to make your case, and the default is going to be to <strong>not</strong> delete things.</p>

<p>I'm not saying a flag is inappropriate, but the threshold for instant deletion of an on-topic but wrong answer is pretty high. If an appropriate edit, comment, or vote can fix the problem, I'd encourage you to do that.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>