<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Maliciously wrong answers should be flag-worthy
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Maliciously wrong answers should be flag-worthy</h2>
<p>Maliciously wrong answers, which do something unexpected and harmful to the user, should be flag-worthy.</p>

<p>For example, if someone asked:</p>

<blockquote>
  <p>How do I change the permissions of a directory?</p>
</blockquote>

<p>Then the following answer should be flag-worthy, because it does something unexpected and harmful:</p>

<blockquote>
  <p>Do <code>rm -rf directory</code></p>
</blockquote>

<p>By contrast, the following is incorrect (the command name is mis-spelt), but wouldn't be flag-worthy:</p>

<blockquote>
  <p>Use the <code>changemod</code> command</p>
</blockquote>

<p>I recently flagged an <a href="https://apple.stackexchange.com/a/68906/691">answer</a> as maliciously wrong, but was declined for doing so.</p>

<p>It said:</p>

<blockquote>
  <p>You just click on the red maximize button</p>
</blockquote>

<p>The red button doesn't maximize a window, but closes it instead, which is unexpected and harmful behaviour.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Thanks for raising the issue.</p>

<p>I examined the account and the post. I don't think it's overly malicious - especially with a slightly more verbose comment (I edited yours to show you what I mean).</p>

<blockquote>
  <p>This answer is potentially maliciously wrong. Pressing the red button will close the window or application and in some cases, you could lose data if the app doesn't save periodically or restore it's state when you re-launch it.     </p>
</blockquote>

<p>But, the answer is just noise, so a low quality flag would be sufficient to get that post deleted. It's cleaned up now - again thanks for raising this on meta -the perfect venue for this sort of discussion and clean-up.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>The problem with this is that it requires the moderators to both recognize wrong answers and determine malicious intent in order to handle the flag. Some answers are wrong; some spectacularly so. I agree that it would be a good thing to draw people's attention to answers that are spectacularly bad advice. Comment and downvote. Beyond that, if it's really important, raise the issue in chat to recruit other people to downvote. The problem with flagging it is that flags aren't really an ideal medium to communicate detailed information. If it isn't obvious to the moderators why an answer is spectacularly bad, there aren't a lot of characters in a flag to make your case, and the default is going to be to <strong>not</strong> delete things.</p>

<p>I'm not saying a flag is inappropriate, but the threshold for instant deletion of an on-topic but wrong answer is pretty high. If an appropriate edit, comment, or vote can fix the problem, I'd encourage you to do that.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>