<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Markup of reserved words?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2197" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::263</h3>
				<h2>Markup of reserved words?</h2>
<p>How to format reserved words within:</p>

<ul>
<li>question title,</li>
<li>question body,</li>
<li>comments?</li>
</ul>

<p>By 'reserved words' I mean words which aren't <code>code</code> and which
don't require to be <em>emphasised</em> but to be identified clearly as <strong>non</strong> common names. Here are a few examples of such words:</p>

<ul>
<li><p>application names:</p>

<p>Grab, Keynote, Numbers, Pages, Preview, Terminal </p></li>
<li><p>reserved directory:</p>

<p>Applications, Library, System </p></li>
<li><p>menu entries:</p>

<p>File > Save </p></li>
<li><p>OS names:</p>

<p>Lion, Mavericks, Ubuntu </p></li>
</ul>

<hr>

<p>My personnal choice I tested for many months is to use <code>backticks</code> which are reserved for code.</p>

<p>Is this an acceptable practice?</p>

<p>Is it worth pursuing a feature request to introduce another <code>mark</code> to <em>markup</em> these reserved words?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2197">Load Comments</button></br>
			<div id = "commentsection-2197" class = 'collapse'>
			<div id = "comment-4185" class = "comment">
				<p>I've removed the feature request tag and wording to get some discussion going first. The best practice for a feature request is to make a concrete request rather than open discussion. What do you think of waiting on that until something concrete is ready to hit up the developers?</p>
			</div>
			<div id = "comment-4186" class = "comment">
				<p>Agreed, thank you.</p>
			</div>
			<div id = "comment-4187" class = "comment">
				<p>Can you give a reason why they need to highlighted - they are already emphasised by using a capital letter.</p>
			</div>
			<div id = "comment-4188" class = "comment">
				<p>Relevant to discussion: [List of Supported HTML Tags](http://meta.stackexchange.com/questions/1777/what-html-tags-are-allowed-on-stack-exchange-sites)</p>
			</div>
			<div id = "comment-4189" class = "comment">
				<p>  Mark: I would like to disambiguate the use of the word `for` as used in C from the same word "for" used in usual english and from the name of a colleague "For".</p>
			</div>
			<div id = "comment-4193" class = "comment">
				<p>It is still not a readable use - in the for case see programming books They just use English plain text</p>
			</div>
			<div id = "comment-5932" class = "comment">
				<p>No they don't. Most of the time scientific books use `cmr` or `Courier`.</p>
			</div>
			</div>
				<textarea id = "speech-2197" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2197">
					<img id="start_img-2197" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2198"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I think using back ticks for every thing makes things less readable they are for code. (There are several meta.stackoverflow/exchange threads. e.g. <a href="https://meta.stackexchange.com/questions/137755/reject-an-already-approved-suggested-edit-when-rolling-it-back">this</a>)</p>

<p>In your list OS names are definitely not code so Lion Mavericks are OK, similarly application names are plain text.</p>

<p>I prefer menu entries as text.</p>

<p>The only ones I might use back ticks for are a directory and only if it is text to be entered into Terminal or a dialog box.</p>

<p>This is one of I know what seems correct when I see it issues but I think the rule I use is if you can say it in speech it is not in back ticks but only if you need to get the exact text to get it into a computer system.</p>

<p>Due to the version of markup here XML/HTML even if partial e.g. an element name has to be in backticks. Also URLs which should not be clicked on e.g. one reputing for spam etc in meta or if it is an example <code>http://www.example.com</code> or something else you should not click on.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2198" class = 'collapse'>
			</div>
				<textarea id = "speech-2198" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2198">
					<img id="start_img-2198" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2199"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p><code>Code formatting</code> for things <code>that</code> are not <code>code</code> is incorrect <code>use of formatting</code> and I <code>edit</code> posts to <code>remove</code> it regularly. <code>Code formatting</code> is <a href="https://meta.stackexchange.com/questions/135112/inline-code-spans-should-not-be-used-for-emphasis-right">never <code>a</code> form of <code>emphasis</code></a>. Using <code>code formatting</code> for things <code>that are</code> not code </p>

<ul>
<li><code>makes</code> the <code>text</code> very <code>hard</code> to <code>read</code> (<a href="https://meta.stackexchange.com/questions/137755/reject-an-already-approved-suggested-edit-when-rolling-it-back">"My eyes hate you now, well done  Tim Stone"</a>)</li>
<li>means that web readers for the visually impaired read it l-e-t-t-e-r b-y l-e-t-t-e-r</li>
</ul>

<p>Inline code formatting should be used for short snippets of actual code, including but not limited to AppleScript and shell scripting. Short shell commands such as <code>ls ~</code> should also be formatted as code, but referring to shell commands such as 'defaults' doesn't need formatting (although some may disagree with this and I'm unlikely to edit to the contrary).</p>

<p>Inline code formatting should not be used in any of the cases listed in your question:</p>

<ul>
<li><p>Application names are not code and should be read normally, so they should not be formatted as code.</p></li>
<li><p>Directory names, regardless of whether they are system directories, also should not be formatted as code.</p>

<p>However paths may use code formatting; I usually don't for simple paths such as /Applications, but do for longer paths, especially <a href="https://apple.stackexchange.com/a/140226">those containing globbing</a> such as <code>/Sy*/L*/Priv*/Apple8*/V*/C*/R*/airport</code>, although I may even use block code formatting in cases like this (prepending with four spaces):</p>

<pre><code>/Sy*/L*/Priv*/Apple8*/V*/C*/R*/airport
</code></pre></li>
<li><p>Menu entries are not code, although in some cases extra formatting may help here. I <em>sometimes</em> write longer menu entry paths with bold formatting such as <strong>File</strong>   <strong>Import From</strong>   <strong>Bookmarks HTML File </strong> as the path then stands out more from the actual text, usually just write it normally as File   Save.</p></li>
<li><p>OS names are like application names never code. The OS build may be formatted as code depending on its context as these are longer and read character by character.</p></li>
</ul>

<p>Also, I've seen code formatting used in other cases, and would like to address that here too:</p>

<ul>
<li>Web URLs that shouldn't be clicked <em>can</em> use code formatting, but it's not really code and I prefer simply rendering the URL as un-clickable either using a zero width joiner http:// example.com or HTML comment http://example.com (check the source of this post to see how the aforementioned examples are done).</li>
</ul>

<p>All of this applies to question bodies and comments. Titles do not have code formatting and therefore any Markdown is superfluous.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2199" class = 'collapse'>
			</div>
				<textarea id = "speech-2199" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2199">
					<img id="start_img-2199" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>