<html>
	<head>
		<title id = 'pagetitle'>Markup or styling broken on profile page
		</title>
	<head>
	<body id = 'pagebody'><p>I'm using Firefox 50.0.2 and noticed the layout in my profile on this site is broken. Something is wrapping or overflowing unexpectedly and it's throwing the whole section off:</p>

<p><a href="https://i.stack.imgur.com/FgMGj.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/FgMGj.png" alt="screenshot"></a></p>


<h1>ANSWERS</h1>
			</body>
</html>