<html>
	<head>
		<title id = 'pagetitle'>Markup of reserved words?
		</title>
	<head>
	<body id = 'pagebody'><p>How to format reserved words within:</p>

<ul>
<li>question title,</li>
<li>question body,</li>
<li>comments?</li>
</ul>

<p>By 'reserved words' I mean words which aren't <code>code</code> and which
don't require to be <em>emphasised</em> but to be identified clearly as <strong>non</strong> common names. Here are a few examples of such words:</p>

<ul>
<li><p>application names:</p>

<p>Grab, Keynote, Numbers, Pages, Preview, Terminal </p></li>
<li><p>reserved directory:</p>

<p>Applications, Library, System </p></li>
<li><p>menu entries:</p>

<p>File > Save </p></li>
<li><p>OS names:</p>

<p>Lion, Mavericks, Ubuntu </p></li>
</ul>

<hr>

<p>My personnal choice I tested for many months is to use <code>backticks</code> which are reserved for code.</p>

<p>Is this an acceptable practice?</p>

<p>Is it worth pursuing a feature request to introduce another <code>mark</code> to <em>markup</em> these reserved words?</p>


<h1>ANSWERS</h1>
		<p>I think using back ticks for every thing makes things less readable they are for code. (There are several meta.stackoverflow/exchange threads. e.g. <a href="https://meta.stackexchange.com/questions/137755/reject-an-already-approved-suggested-edit-when-rolling-it-back">this</a>)</p>

<p>In your list OS names are definitely not code so Lion Mavericks are OK, similarly application names are plain text.</p>

<p>I prefer menu entries as text.</p>

<p>The only ones I might use back ticks for are a directory and only if it is text to be entered into Terminal or a dialog box.</p>

<p>This is one of I know what seems correct when I see it issues but I think the rule I use is if you can say it in speech it is not in back ticks but only if you need to get the exact text to get it into a computer system.</p>

<p>Due to the version of markup here XML/HTML even if partial e.g. an element name has to be in backticks. Also URLs which should not be clicked on e.g. one reputing for spam etc in meta or if it is an example <code>http://www.example.com</code> or something else you should not click on.</p>


<p><code>Code formatting</code> for things <code>that</code> are not <code>code</code> is incorrect <code>use of formatting</code> and I <code>edit</code> posts to <code>remove</code> it regularly. <code>Code formatting</code> is <a href="https://meta.stackexchange.com/questions/135112/inline-code-spans-should-not-be-used-for-emphasis-right">never <code>a</code> form of <code>emphasis</code></a>. Using <code>code formatting</code> for things <code>that are</code> not code </p>

<ul>
<li><code>makes</code> the <code>text</code> very <code>hard</code> to <code>read</code> (<a href="https://meta.stackexchange.com/questions/137755/reject-an-already-approved-suggested-edit-when-rolling-it-back">"My eyes hate you now, well done  Tim Stone"</a>)</li>
<li>means that web readers for the visually impaired read it l-e-t-t-e-r b-y l-e-t-t-e-r</li>
</ul>

<p>Inline code formatting should be used for short snippets of actual code, including but not limited to AppleScript and shell scripting. Short shell commands such as <code>ls ~</code> should also be formatted as code, but referring to shell commands such as 'defaults' doesn't need formatting (although some may disagree with this and I'm unlikely to edit to the contrary).</p>

<p>Inline code formatting should not be used in any of the cases listed in your question:</p>

<ul>
<li><p>Application names are not code and should be read normally, so they should not be formatted as code.</p></li>
<li><p>Directory names, regardless of whether they are system directories, also should not be formatted as code.</p>

<p>However paths may use code formatting; I usually don't for simple paths such as /Applications, but do for longer paths, especially <a href="https://apple.stackexchange.com/a/140226">those containing globbing</a> such as <code>/Sy*/L*/Priv*/Apple8*/V*/C*/R*/airport</code>, although I may even use block code formatting in cases like this (prepending with four spaces):</p>

<pre><code>/Sy*/L*/Priv*/Apple8*/V*/C*/R*/airport
</code></pre></li>
<li><p>Menu entries are not code, although in some cases extra formatting may help here. I <em>sometimes</em> write longer menu entry paths with bold formatting such as <strong>File</strong>   <strong>Import From</strong>   <strong>Bookmarks HTML File </strong> as the path then stands out more from the actual text, usually just write it normally as File   Save.</p></li>
<li><p>OS names are like application names never code. The OS build may be formatted as code depending on its context as these are longer and read character by character.</p></li>
</ul>

<p>Also, I've seen code formatting used in other cases, and would like to address that here too:</p>

<ul>
<li>Web URLs that shouldn't be clicked <em>can</em> use code formatting, but it's not really code and I prefer simply rendering the URL as un-clickable either using a zero width joiner http:// example.com or HTML comment http://example.com (check the source of this post to see how the aforementioned examples are done).</li>
</ul>

<p>All of this applies to question bodies and comments. Titles do not have code formatting and therefore any Markdown is superfluous.</p>


	</body>
</html>