<html>
	<head>
		<title id = 'pagetitle'>Mass modify product names for consistent formatting (for example, change XCode to Xcode)
		</title>
	<head>
	<body id = 'pagebody'><p>In my opinion, Ask Different would be great if Apple product names only appeared as:</p>

<ul>
<li>Xcode</li>
<li>iPhone</li>
<li>iPod touch</li>
<li>iPad</li>
<li>OS X</li>
<li>Mac OS X</li>
</ul>

<p>and I never saw:</p>

<ul>
<li>XCode, xCode, xcode, XCODE</li>
<li>IPhone</li>
<li>IPod Touch, iTouch</li>
<li>IPad</li>
<li>OSX</li>
<li>Mac OSX, MacOS X</li>
</ul>

<p>Are there ways to mass modify questions and answers here to enforce the formatting of Apple product names? I'd rather not search, manually edit, and implicitly bump old questions due to edits like this.</p>


<h1>ANSWERS</h1>
			</body>
</html>