<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Mass modify product names for consistent formatting (for example, change XCode to Xcode)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1122" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::84</h3>
				<h2>Mass modify product names for consistent formatting (for example, change XCode to Xcode)</h2>
<p>In my opinion, Ask Different would be great if Apple product names only appeared as:</p>

<ul>
<li>Xcode</li>
<li>iPhone</li>
<li>iPod touch</li>
<li>iPad</li>
<li>OS X</li>
<li>Mac OS X</li>
</ul>

<p>and I never saw:</p>

<ul>
<li>XCode, xCode, xcode, XCODE</li>
<li>IPhone</li>
<li>IPod Touch, iTouch</li>
<li>IPad</li>
<li>OSX</li>
<li>Mac OSX, MacOS X</li>
</ul>

<p>Are there ways to mass modify questions and answers here to enforce the formatting of Apple product names? I'd rather not search, manually edit, and implicitly bump old questions due to edits like this.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2028" class = "post">
				<p>I completely agree, except for one thing. I never want to see "iPod Touch". (it's "iPod touch")</p>
			</div>
			<div id = "comment-2030" class = "post">
				<p>Related: http://meta.apple.stackexchange.com/questions/444/automatically-capitalizing-ithing-and-ithing-to-ithing</p>
			</div>
			<div id = "comment-2034" class = "post">
				<p>@KyleCronin Ah, you're right; edited.</p>
			</div>
			<div id = "comment-2039" class = "post">
				<p>Also, "iTouch" makes me shudder.</p>
			</div>
			<div id = "comment-2130" class = "post">
				<p>Personal preferences (and "iTouch") aside, I'm having a hard time seeing how this makes things better in a tangible way.</p>
			</div>
			<div id = "comment-2131" class = "post">
				<p>See also http://meta.apple.stackexchange.com/q/45/11791</p>
			</div>
			<div id = "comment-5719" class = "post">
				<p>@jaberg consistency. If you use the proper terms , it looks like you know what you are talking about.</p>
			</div>
			<div id = "comment-6195" class = "post">
				<p>It's much easier to read material if it follows a consistent style.  Even more if you are distracted by misbehaving hardware or software.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>