<html>
	<head>
		<title id = 'pagetitle'>Mass edit and front page
		</title>
	<head>
	<body id = 'pagebody'><p>I note that all the most interesting questions are about Clash of Clans and possibly ids. Which rather removes other questions</p>

<p>Could mass updates like these please be done over a few days so not all the questions are the same and let some other questions stay at the top (I think this has been raised on met stack exchange before)</p>

<p>The number suggests that there might be a few duplicates</p>


<h1>ANSWERS</h1>
		<p>I was aware that it would flood the page and did the changes nonetheless. Unless someone wants to volunteer to take retag work and spread it out, it sometimes happens like that.</p>

<p>The upside is people that notice can vote to close as dupe / edit / answer and I was hoping that the upside of having 20 questions tagged properly and the opportunity for fresh eyes to clean some of them up would outweigh whatever other questions would have been "active" for this short time period.</p>


	</body>
</html>