<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Merge [charge] and [charger] into [charging]
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Merge [charge] and [charger] into [charging]</h2>
<p>Merge <a href="https://apple.stackexchange.com/questions/tagged/charge" class="post-tag" title="show questions tagged &#39;charge&#39;" rel="tag">charge</a> and <a href="https://apple.stackexchange.com/questions/tagged/charger" class="post-tag" title="show questions tagged &#39;charger&#39;" rel="tag">charger</a> into <a href="https://apple.stackexchange.com/questions/tagged/charging" class="post-tag" title="show questions tagged &#39;charging&#39;" rel="tag">charging</a> (largest of the three)</p>

<p>This seems like a straightforward merge, similar contents. Might even be worth merging into <a href="https://apple.stackexchange.com/questions/tagged/power" class="post-tag" title="show questions tagged &#39;power&#39;" rel="tag">power</a> unless <a href="https://apple.stackexchange.com/questions/tagged/charging" class="post-tag" title="show questions tagged &#39;charging&#39;" rel="tag">charging</a> is significantly different.</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>