<html>
	<head>
		<title id = 'pagetitle'>Merge users request
		</title>
	<head>
	<body id = 'pagebody'><p>How do I need to marge two users?</p>

<p>This is the "first" me:</p>

<p><a href="https://apple.stackexchange.com/users/6107/oscarryz">https://apple.stackexchange.com/users/6107/oscarryz</a></p>

<p>And this is the new me:</p>

<p><a href="https://apple.stackexchange.com/users/6899/oscar-reyes">https://apple.stackexchange.com/users/6899/oscar-reyes</a></p>

<p>I was supposed to login with the same open id, but what I did was: </p>

<p>1.- Login with a new open id
2.- Add the former open id ( I thought that would join the accounts ) </p>


<h1>ANSWERS</h1>
		<p>You can only ask a moderator to merge the accounts; a request on the meta site for the Q&amp;A site where you have two accounts you need to merge is sufficient.</p>


	</body>
</html>