<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Merge Quicklook and preview
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Merge Quicklook and preview</h2>
<p>Quicklook seems to be the official name for the preview.app functionality.</p>

<p>Please merge them, it's displaying me it needs at least+5 score in the tag to merge.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<ul>
<li>Quicklook is what you get if you press <kbd>Space</kbd> in Finder to view the content of a file</li>
<li>Preview.app is an application on its own</li>
</ul>

<p>Unless I misunderstood your intention I don't think these two tags should get merged.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>