<html>
	<head>
		<title id = 'pagetitle'>Merge the "bug" and "bug-report" tags
		</title>
	<head>
	<body id = 'pagebody'><p>On this meta site there are three questions tagged with <a href="https://apple.meta.stackexchange.com/questions/tagged/bug-report">bug-report</a>; two of those questions are also tagged with <a href="https://apple.stackexchange.com/questions/tagged/bug" class="post-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a>, and one is only tagged with <a href="https://apple.stackexchange.com/questions/tagged/bug-report" class="post-tag" title="show questions tagged &#39;bug-report&#39;" rel="tag">bug-report</a>.</p>

<p>As there are 40 questions tagged <a href="https://apple.stackexchange.com/questions/tagged/bug" class="post-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a>, this tag should probably be kept, and the other tag should be merged with it (and made a synonym).</p>


<h1>ANSWERS</h1>
		<p>These have now been merged and a synonym created.</p>


	</body>
</html>