<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Merge the "font" and "fonts" tags
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1909" class = "post">
			<h2>Question</h2>
			<div id="vote-1909" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 23</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Merge the "font" and "fonts" tags</h2>
<p>A 'plural tag' merge request:</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/font" class="post-tag" title="show questions tagged &#39;font&#39;" rel="tag">font</a>   177 tagged, 39 this year, 5 this month</p>

<blockquote>
  <p>A font (more accurately a typeface) is the visual appearance, representation or interpretation of a set of characters, typically alphanumeric as a minimum.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/fonts" class="post-tag" title="show questions tagged &#39;fonts&#39;" rel="tag">fonts</a>   44 tagged, 13 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1909" class = 'collapse'>
			</div>
				<textarea id = "speech-1909" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1909">
					<img id="start_img-1909" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1909">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1910"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1910" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Done - I resisted the urge to merge into <a href="https://apple.stackexchange.com/questions/tagged/typeface" class="post-tag" title="show questions tagged &#39;typeface&#39;" rel="tag">typeface</a> or other term and also merged font-rendering into the base tag... :-)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1910" class = 'collapse'>
			</div>
				<textarea id = "speech-1910" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1910">
					<img id="start_img-1910" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1910">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>