<html>
	<head>
		<title id = 'pagetitle'>Merge contacts.app and address-book tags
		</title>
	<head>
	<body id = 'pagebody'><p>Two seemingly identical tags:</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a></p>

<p>Tag wiki:</p>

<blockquote>
  <p>Apple's address book client, renamed from Address Book in OS X 10.8</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a></p>

<p>Tag wiki:</p>

<blockquote>
  <p>Apple's built-in contacts manager software for Mac OS X.</p>
</blockquote>

<p>As the <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a> tag wiki clearly states, it is a simple rename of the same thing.</p></li>
</ul>

<p>Feature Request: Merge the two, and create a synonym for the other.</p>

<hr>

<p><strong>Edit</strong>:  I'm not saying these are the <em>only</em> tags that need it - go ahead and merge the others as well! :)</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a>   <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ical" class="post-tag" title="show questions tagged &#39;ical&#39;" rel="tag">ical</a>   <a href="https://apple.stackexchange.com/questions/tagged/calender" class="post-tag" title="show questions tagged &#39;calender&#39;" rel="tag">calender</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ichat" class="post-tag" title="show questions tagged &#39;ichat&#39;" rel="tag">ichat</a>   <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a></li>
</ul>


<h1>ANSWERS</h1>
		<p>My instinct is that this is a good thing, but I'm not convinced about what I feel about this, particularly if you're limiting this to the tags in your question.</p>

<p>There's a few tags that exist like this, where the different tags refer to different versions of the software, delineated by its name change.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a>   <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ical" class="post-tag" title="show questions tagged &#39;ical&#39;" rel="tag">ical</a>   <a href="https://apple.stackexchange.com/questions/tagged/calendar" class="post-tag" title="show questions tagged &#39;calendar&#39;" rel="tag">calendar</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ichat" class="post-tag" title="show questions tagged &#39;ichat&#39;" rel="tag">ichat</a>   <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a></li>
</ul>

<p>If you're going to synonym one pair, might as well synonym all the pairs?</p>


<p>I've submitted address-book as a tag synonym suggestion for the contacts tag. However, it still needs 4 votes by those that have 5 votes or more in the contacts tags in order to actually become a tag synonym. If it reaches a vote of -2 the suggestion will be deleted, though.</p>

<p><a href="https://i.stack.imgur.com/JfYCm.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/JfYCm.jpg" alt=""></a></p>


	</body>
</html>