<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Merge users request
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Merge users request</h2>
<p>How do I need to marge two users?</p>

<p>This is the "first" me:</p>

<p><a href="https://apple.stackexchange.com/users/6107/oscarryz">https://apple.stackexchange.com/users/6107/oscarryz</a></p>

<p>And this is the new me:</p>

<p><a href="https://apple.stackexchange.com/users/6899/oscar-reyes">https://apple.stackexchange.com/users/6899/oscar-reyes</a></p>

<p>I was supposed to login with the same open id, but what I did was: </p>

<p>1.- Login with a new open id
2.- Add the former open id ( I thought that would join the accounts ) </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You can only ask a moderator to merge the accounts; a request on the meta site for the Q&amp;A site where you have two accounts you need to merge is sufficient.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>