<html>
	<head>
		<title id = 'pagetitle'>Merge the "bug" and "bugs" tags
		</title>
	<head>
	<body id = 'pagebody'><p>Another 'plural tag' merge request:</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/bug" class="post-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a>   108 tagged, 39 this year</p>

<blockquote>
  <p>An unintentional mistake or omission in the programming code of an application that causes undesirable results. This tag will be used in discussions identifying potential bugs and seeking ways to circumvent or correct them.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/bugs" class="post-tag" title="show questions tagged &#39;bugs&#39;" rel="tag">bugs</a>   10 tagged, 3 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>


<h1>ANSWERS</h1>
		<p>I merged <code>bugs</code> -> <code>bug</code> and created a synonym. I'm on the fence about having a plural form of <code>bug</code> though. A question that's asking about multiple bugs might be indicative of something that needs to be split in to multiple questions.</p>


	</body>
</html>