<html>
	<head>
		<title id = 'pagetitle'>Merge the "font" and "fonts" tags
		</title>
	<head>
	<body id = 'pagebody'><p>A 'plural tag' merge request:</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/font" class="post-tag" title="show questions tagged &#39;font&#39;" rel="tag">font</a>   177 tagged, 39 this year, 5 this month</p>

<blockquote>
  <p>A font (more accurately a typeface) is the visual appearance, representation or interpretation of a set of characters, typically alphanumeric as a minimum.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/fonts" class="post-tag" title="show questions tagged &#39;fonts&#39;" rel="tag">fonts</a>   44 tagged, 13 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>


<h1>ANSWERS</h1>
		<p>Done - I resisted the urge to merge into <a href="https://apple.stackexchange.com/questions/tagged/typeface" class="post-tag" title="show questions tagged &#39;typeface&#39;" rel="tag">typeface</a> or other term and also merged font-rendering into the base tag... :-)</p>


	</body>
</html>