<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Merged question and answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1655" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::57</h3>
				<h2>Merged question and answers</h2>
<p>This <a href="https://apple.stackexchange.com/questions/44527/is-there-a-free-photoshop-alternative-for-mac-os-x">question</a> about Photoshop alternatives seems to be the result of a merge, for example there are three answers on GIMP. </p>

<p>Should some of the answers be closed (mine should as it is much worse than the other two but both the others have merit), should the answers be merged.</p>

<p>Also should the question be edited to remove the request about free alternatives as the list now includes commercial ones.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1656"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>The question is not the result of merge as far as I can see (there would be a note for that).</p>

<p>Getting multiple answers recommending the same or similar solutions happens regularly (there are other questions with the same issue). Sometimes it's just a timing issue (e.g. the two highly voted GIMP answers only have a four minutes gap), sometimes it's just the result of users not reading the other answers (or even competing for reputation). If you want to delete your own one, feel free to do that (personally I wouldn't bother with deleting it, it even got upvoted). There is a fourth one recommending GIMP which was deleted by the owner (that's why you can't see it) after realizing that others answered the same way already.</p>

<p>As for the answers with the commercial solutions: The asker didn't go into details about he is looking for free as "at no cost" or for free as "significantly cheaper than Photoshop", so they still are helpful. Don't upvote, maybe downvote even, but they are close enough to provide an answer that I wouldn't act on a "not an answer" flag.</p>

<p>In both cases it's a good example on how the voting system works on AD. Good answers (e.g. both the GIMP ones with their screenshots etc.) get voted up, bad answers (or those somehow missing the point) get down voted or at least not up voted so much. I see no need for any additional moderation activity here.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3107" class = "comment">
				<p>The reason I think it is a merge is that I don't think I would have given a simple answer on GIMP a year after at least one illustrated one (or else my mind is really going)</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-1810"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>You are correct in detecting that at least one merge happened to be linked question. </p>

<p>The history shows a merge around January 28. </p>

<p>Feel free to flag any answers you feel should be deleted or edited as a result of the merge. </p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3429" class = "comment">
				<p>I disagree. Answers only need to be deleted if they are dangerous or not answers. Duplicate answers do not need to be deleted.</p>
			</div>
			<div id = "comment-3430" class = "comment">
				<p>@DanielLawson I'm not saying that the flag would result in deletion, just that people should flag things that they feel are out of place so we could look at them ;-) If my words are implying that - let's edit so that no one things we'll robot delete anything that gets flagged...</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>