<html>
	<head>
		<title id = 'pagetitle'>Merge the "playlist" tag and "playlists" tag
		</title>
	<head>
	<body id = 'pagebody'><p>On the main site, there are two tag that similar:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/playlist">Playlist</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/playlists">Playlists</a></li>
</ul>

<p>How about merge the <code>Playlists</code> tag to the <code>Playlist</code> tag?</p>


<h1>ANSWERS</h1>
		<p>Thank you for noticing and documenting this. </p>

<p>I have merged <strong>playlists</strong> to <a href="https://apple.stackexchange.com/questions/tagged/playlist" class="post-tag" title="show questions tagged &#39;playlist&#39;" rel="tag">playlist</a> and <strong>smart-playlists</strong> to <a href="https://apple.stackexchange.com/questions/tagged/smart-playlist" class="post-tag" title="show questions tagged &#39;smart-playlist&#39;" rel="tag">smart-playlist</a>.</p>

<p>The plural forms should now be blocked to all but moderators and perhaps a very high level user.</p>


	</body>
</html>