<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Merge the "bug" and "bugs" tags
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1916" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::24</h3>
				<h2>Merge the "bug" and "bugs" tags</h2>
<p>Another 'plural tag' merge request:</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/bug" class="post-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a>   108 tagged, 39 this year</p>

<blockquote>
  <p>An unintentional mistake or omission in the programming code of an application that causes undesirable results. This tag will be used in discussions identifying potential bugs and seeking ways to circumvent or correct them.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/bugs" class="post-tag" title="show questions tagged &#39;bugs&#39;" rel="tag">bugs</a>   10 tagged, 3 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1917"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I merged <code>bugs</code> -> <code>bug</code> and created a synonym. I'm on the fence about having a plural form of <code>bug</code> though. A question that's asking about multiple bugs might be indicative of something that needs to be split in to multiple questions.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>