<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Merge the "3g" and "3g-internet" tags
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2167" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::26</h3>
				<h2>Merge the "3g" and "3g-internet" tags</h2>
<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/3g" class="post-tag" title="show questions tagged &#39;3g&#39;" rel="tag">3g</a>   34 tagged, 9 this year</p>

<blockquote>
  <p>3G - when used as a single word - stands for the third generation of cellular wireless standards.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/3g-internet" class="post-tag" title="show questions tagged &#39;3g-internet&#39;" rel="tag">3g-internet</a>   19 tagged, 1 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

<p>Whilst I understand that the internet is a subset of 3G, questions tagged with <a href="https://apple.stackexchange.com/questions/tagged/3g-internet" class="post-tag" title="show questions tagged &#39;3g-internet&#39;" rel="tag">3g-internet</a> have either also been tagged with <a href="https://apple.stackexchange.com/questions/tagged/3g" class="post-tag" title="show questions tagged &#39;3g&#39;" rel="tag">3g</a> or refer to 3G in general.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2167">Record</button>
				<button class="record-stop" id="stop-2167">Stop</button>
				<p id="recording-2167"></p>

<h1>Answers</h1>
			<br><div id = "ans-2170"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Done - this was an easy merge / synonym to convert them all to <a href="https://apple.stackexchange.com/questions/tagged/cellular-data" class="post-tag" title="show questions tagged &#39;cellular-data&#39;" rel="tag">cellular-data</a> with any further cleanup by retagging questions that were erroneously tagged as either 3g tag.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2170">Record</button>
				<button class="record-stop" id="stop-2170">Stop</button>
				<p id="recording-2170"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>