<html>
	<head>
		<title id = 'pagetitle'>Merge [charge] and [charger] into [charging]
		</title>
	<head>
	<body id = 'pagebody'><p>Merge <a href="https://apple.stackexchange.com/questions/tagged/charge" class="post-tag" title="show questions tagged &#39;charge&#39;" rel="tag">charge</a> and <a href="https://apple.stackexchange.com/questions/tagged/charger" class="post-tag" title="show questions tagged &#39;charger&#39;" rel="tag">charger</a> into <a href="https://apple.stackexchange.com/questions/tagged/charging" class="post-tag" title="show questions tagged &#39;charging&#39;" rel="tag">charging</a> (largest of the three)</p>

<p>This seems like a straightforward merge, similar contents. Might even be worth merging into <a href="https://apple.stackexchange.com/questions/tagged/power" class="post-tag" title="show questions tagged &#39;power&#39;" rel="tag">power</a> unless <a href="https://apple.stackexchange.com/questions/tagged/charging" class="post-tag" title="show questions tagged &#39;charging&#39;" rel="tag">charging</a> is significantly different.</p>


<h1>ANSWERS</h1>
			</body>
</html>