<html>
	<head>
		<title id = 'pagetitle'>Merge the "retag-request" and the "retagging" tags
		</title>
	<head>
	<body id = 'pagebody'><p>On this meta site there are two questions tagged <a href="https://apple.meta.stackexchange.com/questions/tagged/retag-request">retag-request</a>, and four questions tagged <a href="https://apple.meta.stackexchange.com/questions/tagged/retagging">retagging</a>.<br>
The first should probably be merged with the latter.</p>


<h1>ANSWERS</h1>
		<p>These have now been merged and a synonym created.</p>


	</body>
</html>