<html>
	<head>
		<title id = 'pagetitle'>Merge the "osx-mavericks" and "mavericks" tags
		</title>
	<head>
	<body id = 'pagebody'><p>A merge/synonym request:</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/mavericks" class="post-tag" title="show questions tagged &#39;mavericks&#39;" rel="tag">mavericks</a>   1020 tagged, 62 this week, 10 today</p>

<blockquote>
  <p>OS X 10.9, Mavericks, is the tenth iteration of the computer operating system, OS X.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/osx-mavericks" class="post-tag" title="show questions tagged &#39;osx-mavericks&#39;" rel="tag">osx-mavericks</a>   10 tagged, 10 this month, 9 this week</p>

<blockquote>
  <p>Version 10.9.x of the Mac Operating System.</p>
</blockquote></li>
</ul>


<h1>ANSWERS</h1>
		<p>That follows what we've done for other OS names.</p>

<pre><code>Tag Synonym osx-mavericks -&gt; mavericks was approved!
</code></pre>


	</body>
</html>