<html>
	<head>
		<title id = 'pagetitle'>Merry Xmas to all :)
		</title>
	<head>
	<body id = 'pagebody'><p>There s no question in this question, and whether you believe/like/hate/ignore/etc., this is a time where a lot of people stays with family and such. I can t because mine is on the other side of the world, but in any case, I wish all of you happy holidays.</p>

<p>Don t drink and drive and reload your energies because next year we ll have a lot of questions to answer :)</p>

<p>Thanks to all who voted up/down and participated in the community so far.</p>


<h1>ANSWERS</h1>
		<p><img src="https://i.stack.imgur.com/uzB1m.jpg" alt="alt text"></p>


<p><img src="http://www.themaclawyer.com/uploads/image/Merry%20Christmas%202008.png" alt=""></p>

<h1>Merry Christmas!</h1>


	</body>
</html>