<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Merry Xmas to all :)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-227" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::144</h3>
				<h2>Merry Xmas to all :)</h2>
<p>There s no question in this question, and whether you believe/like/hate/ignore/etc., this is a time where a lot of people stays with family and such. I can t because mine is on the other side of the world, but in any case, I wish all of you happy holidays.</p>

<p>Don t drink and drive and reload your energies because next year we ll have a lot of questions to answer :)</p>

<p>Thanks to all who voted up/down and participated in the community so far.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-430" class = "post">
				<p>*note*: I had to fill a captcha to submit the above :)</p>
			</div>
			<div id = "comment-431" class = "post">
				<p>Hello fellow robot! Merry Christmas to you!</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-228"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p><img src="https://i.stack.imgur.com/uzB1m.jpg" alt="alt text"></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-432" class = "post">
				<p>That a big Touche!</p>
			</div>
			<br><div id = "ans-229"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p><img src="http://www.themaclawyer.com/uploads/image/Merry%20Christmas%202008.png" alt=""></p>

<h1>Merry Christmas!</h1>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>