<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Meta is using non-SSL endpoints for some resources and it breaks the site in Chrome
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2485" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::26</h3>
				<h2>Meta is using non-SSL endpoints for some resources and it breaks the site in Chrome</h2>
<p>For a few days now this has been a problem for me. I can no longer vote posts up or down on any meta channel from Chrome (Version 42.0.2311.152 (64-bit)) on OS X. Looking at the JavaScript console while trying to vote, it appears that Chrome is blocking a URI call because it's being made over a non-SSL end point:</p>

<p><img src="https://i.stack.imgur.com/uJD5D.png" alt="enter image description here"></p>

<p>The blocked calls occurred when I pressed the up-vote button. I get similar blocked calls in Chrome when I try to add an image to a question or answer on a meta channel.</p>

<p>It's only a problem on the meta channel. The main sites are fine.</p>

<p>I had to post this from...<em>shudder</em>...Safari to attach the image to the post. :)</p>

<p>Edit: this is possibly a problem for me because I visit all Stack Exchange sites via their https URLs and the meta sites have invalid certificates. This is what I get trying to use <a href="https://apple.meta.stackexchange.com/">https://apple.meta.stackexchange.com/</a> from Chrome:</p>

<p><img src="https://i.stack.imgur.com/du3Xk.png" alt="enter image description here"></p>

<p>If I come to the site via the non-encrypted endpoint it works fine in Chrome. Chrome really doesn't like when your site mixes https and http requests to its own domain (and rightly so).</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2486"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Figured it out.</p>

<p>First: the certificate for meta.apple.stackexchange.com is definitely invalid. That is, ultimately, at the heart of my problem.</p>

<p>But the problem for me, in Chrome, was caused by my use of the <a href="https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp?hl=en" rel="nofollow">HTTPS Everywhere</a> Chrome extension. It was responsible for blocking the http calls to meta endpoints that were being made from an https meta page. Once I disable the extension for meta I could vote again.</p>

<p>This all, however, is just pointing a serious flaw in the use of https on the meta sites that needs to be fixed. I'll argue this stands as a bug.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5680" class = "comment">
				<p>It's not a bug - we do not (at this time) intend to support https:// on meta sites...nor do we ever link you to them. We would have to change all the meta site URLs for them to do so (or keep track of hundreds of certificates which isn't really tenable).</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>