<html>
	<head>
		<title id = 'pagetitle'>Migrated from superuser.com
		</title>
	<head>
	<body id = 'pagebody'><p>I read before that when we are in beta moderator can't migrated any question to our site. but now I see some question migrated, any body know who did this?</p>


<h1>ANSWERS</h1>
		<p>I asked Ivo to migrate a bunch of my Mac questions from Super User - the ability to "Migrate to any site" was recently added to the mod tools. If you have some old questions on Super User, you might want to email one of the moderators and ask that they be migrated here.</p>


	</body>
</html>