<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Migrated from superuser.com
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-231" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::87</h3>
				<h2>Migrated from superuser.com</h2>
<p>I read before that when we are in beta moderator can't migrated any question to our site. but now I see some question migrated, any body know who did this?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-232"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I asked Ivo to migrate a bunch of my Mac questions from Super User - the ability to "Migrate to any site" was recently added to the mod tools. If you have some old questions on Super User, you might want to email one of the moderators and ask that they be migrated here.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-439" class = "post">
				<p>Or rather go to our special Chat room: [Ask a Super User Moderator](http://chat.stackexchange.com/rooms/114/ask-a-super-user-moderator) and ping me if you need my attention!</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>