<html>
	<head>
		<title id = 'pagetitle'>Migrate a Q&A from another Stack Exchange site (eg. Super User)
		</title>
	<head>
	<body id = 'pagebody'><p>I had a question to an Apple-specific problem and found the answer on Super User. I think the answer should be on this site and is general enough to be useful to lots of people.</p>

<p>What is the best way to "migrate" <a href="https://superuser.com/questions/177574/how-to-add-custom-keyboard-shortcut-for-a-nested-menu-item">this question</a> to make it available to the apple.SE community?</p>


<h1>ANSWERS</h1>
		<p>The topic covered by the question you mention is on-topic on both SU and AD. It doesn't really matter on which SE site they are, as long as they can be found via the search engine of your choice.</p>

<p>Usually only questions which</p>

<ul>
<li>are off-topic on the site they are originally posted</li>
<li>don't get an answer in a few days and are on-topic on several sites</li>
</ul>

<p>are candidates for migration. To trigger migration in these cases, it's usually enough to flag them for moderator attention.</p>


	</body>
</html>