<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Migration rejection followed by repost on original site closed as duplicate, how do I proceed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Migration rejection followed by repost on original site closed as duplicate, how do I proceed?</h2>
<p>I had asked a question on the IoT and they immediately migrated it over to Ask Different, where it sat for a while (almost 2 weeks) and no answers.</p>

<p>A moderator from Ask Different thought it should be asked again in IoT and told me how to do it, which I did. I flagged my question, deleted it, and when that happened, I reopened the question "A splitter to carry more than just audio"</p>

<p>Well today I was beaten up pretty bad, from asking a duplicate question to being off topic, then when asked what I though IoT meant I answered it and was, well, told lawyering will not help.</p>

<p>I'm a member of very small group of developers, including the creator of SpriteBASIC and Mike Westerfield, who wrote techBASIC, and basically wrote the book on IoT.</p>

<p>I knew he was trying very hard to finish his new book, and I had already wrote him a lengthy paper about math and number in techBASIC, but I decided that I needed an expert to see if there was an answer, so I asked him the question as written here and he responded back.</p>

<p>I flagged the moderator telling what happened over at IoT and that I had an answer. It isn't pretty but a starting point, and asked for him to undelete and unlock so I can anwser the question here.</p>

<p>However, my question is still locked.</p>

<p>How do I go about getting it unlocked so I can answer the question which may start more people helping me or at least I will have an answer to close out the question and get my dignity back (I lost all my reputation points in the IoT, I will not repeat any comments as this is not the place for it).</p>

<p>I would like a positive outcome on this.</p>

<p>Also, besides writing a request here, it there a way that the person who asked the question can request it be unlocked by allowing him to flag the unlock itself? Or something that would be done in a way that would not require a request here or in a chat (not everyone has chat privileges).</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Sorry, the locking was my mistake. I was handling the flag while on the commute back home and didn't realize that the question was both deleted <em>and</em> locked. It's unlocked now.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>