<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Migrate a Q&A from another Stack Exchange site (eg. Super User)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2642" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::30</h3>
				<h2>Migrate a Q&A from another Stack Exchange site (eg. Super User)</h2>
<p>I had a question to an Apple-specific problem and found the answer on Super User. I think the answer should be on this site and is general enough to be useful to lots of people.</p>

<p>What is the best way to "migrate" <a href="https://superuser.com/questions/177574/how-to-add-custom-keyboard-shortcut-for-a-nested-menu-item">this question</a> to make it available to the apple.SE community?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2643"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>The topic covered by the question you mention is on-topic on both SU and AD. It doesn't really matter on which SE site they are, as long as they can be found via the search engine of your choice.</p>

<p>Usually only questions which</p>

<ul>
<li>are off-topic on the site they are originally posted</li>
<li>don't get an answer in a few days and are on-topic on several sites</li>
</ul>

<p>are candidates for migration. To trigger migration in these cases, it's usually enough to flag them for moderator attention.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>