<html>
	<head>
		<title id = 'pagetitle'>Minor bug on review page
		</title>
	<head>
	<body id = 'pagebody'><p>On Chrome 9.0.597.84 on Windows Vista (don't ask...) on the <a href="https://apple.stackexchange.com/review"><strong>review</strong></a> page, the line separator (declared in <code>.question-summary</code>) is too long:</p>

<p><img src="https://i.stack.imgur.com/E9wAB.png" alt="apple stackexchange review"></p>

<p>The width parameter is not used. Probably because of the <code>width: 940px!important;</code> line in <code>.review-page #questions .question-summary</code></p>

<p>It happens on Firefox 3.6.13 too.</p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>