<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Misspelled tags, how to fix?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2952" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::32</h3>
				<h2>Misspelled tags, how to fix?</h2>
<p>Rather ironically, the OP on this question misspelled <a href="https://apple.stackexchange.com/questions/tagged/spelling" class="post-tag" title="show questions tagged &#39;spelling&#39;" rel="tag">spelling</a> so we now have a tag called <a href="https://apple.stackexchange.com/questions/tagged/spelign" class="post-tag" title="show questions tagged &#39;spelign&#39;" rel="tag">spelign</a>.</p>

<p><a href="https://apple.stackexchange.com/questions/269923/verify-the-automatic-language-detection">Verify the automatic language detection</a></p>

<p>How are these dealt with?  </p>

<p>I didn't just want to retag it <a href="https://apple.stackexchange.com/questions/tagged/spelling" class="post-tag" title="show questions tagged &#39;spelling&#39;" rel="tag">spelling</a> or <a href="https://apple.stackexchange.com/questions/tagged/spell-check" class="post-tag" title="show questions tagged &#39;spell-check&#39;" rel="tag">spell-check</a> as I'm not sure what that would then do with the orphaned tag.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2953"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Tag merging to the rescue!</p>

<p>Fixed, thanks.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6410" class = "comment">
				<p>Thank you. In future would it be sufficient to to link to something like this in chat & see if a mod picks it up?</p>
			</div>
			<div id = "comment-6411" class = "comment">
				<p>We get notified if a post is flagged or a question is asked on Meta, so this works better than just posting to chat.</p>
			</div>
			<div id = "comment-6412" class = "comment">
				<p>Can the pointless synonym be deleted now?</p>
			</div>
			<div id = "comment-6413" class = "comment">
				<p>@grgarside Yepp, as soon as I'm in front of a real computer again :-)</p>
			</div>
			<div id = "comment-6424" class = "comment">
				<p>That's the issue these days, isn't it? I use a computer so rarely now that I don't come here nearly as often as I once did.</p>
			</div>
			<div id = "comment-6426" class = "comment">
				<p>@Daniel Absolutely. Unfortunately the mod functions are hard to access/use from an iPhone</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-2954"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>You don't need to open a meta question or ask a mod for help with this kind of thing   just retag the question with the correct tag spelling. At 3:00 UTC all tags with zero questions are automatically deleted. A mod using the tag merge functionality creates a tag synonym, which is obviously incorrect in this scenario.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>