<html>
	<head>
		<title id = 'pagetitle'>Misspelled tags, how to fix?
		</title>
	<head>
	<body id = 'pagebody'><p>Rather ironically, the OP on this question misspelled <a href="https://apple.stackexchange.com/questions/tagged/spelling" class="post-tag" title="show questions tagged &#39;spelling&#39;" rel="tag">spelling</a> so we now have a tag called <a href="https://apple.stackexchange.com/questions/tagged/spelign" class="post-tag" title="show questions tagged &#39;spelign&#39;" rel="tag">spelign</a>.</p>

<p><a href="https://apple.stackexchange.com/questions/269923/verify-the-automatic-language-detection">Verify the automatic language detection</a></p>

<p>How are these dealt with?  </p>

<p>I didn't just want to retag it <a href="https://apple.stackexchange.com/questions/tagged/spelling" class="post-tag" title="show questions tagged &#39;spelling&#39;" rel="tag">spelling</a> or <a href="https://apple.stackexchange.com/questions/tagged/spell-check" class="post-tag" title="show questions tagged &#39;spell-check&#39;" rel="tag">spell-check</a> as I'm not sure what that would then do with the orphaned tag.</p>


<h1>ANSWERS</h1>
		<p>Tag merging to the rescue!</p>

<p>Fixed, thanks.</p>


<p>You don't need to open a meta question or ask a mod for help with this kind of thing   just retag the question with the correct tag spelling. At 3:00 UTC all tags with zero questions are automatically deleted. A mod using the tag merge functionality creates a tag synonym, which is obviously incorrect in this scenario.</p>


	</body>
</html>