<html>
	<head>
		<title id = 'pagetitle'>Missing elected year on moderators' users page in meta
		</title>
	<head>
	<body id = 'pagebody'><p>On the main site's <a href="https://apple.stackexchange.com/users?tab=moderators">/users?tab=moderators</a> it shows the year that the user was elected as a moderator under their reputation.</p>

<p><img src="https://i.stack.imgur.com/C9wAQ.png" width="507"></p>

<p>However, on meta's <a href="https://apple.meta.stackexchange.com/users?tab=moderators">/users?tab=moderators</a> the year of election is missing.</p>

<p><img src="https://i.stack.imgur.com/t6RYr.png" width="512"></p>


<h1>ANSWERS</h1>
			</body>
</html>