<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Moderator tools from the review pane are broken in Safari and Chrome
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1610" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::44</h3>
				<h2>Moderator tools from the review pane are broken in Safari and Chrome</h2>
<p>I have asked on the main meta for a fix, but not all sites have this bug. I'll open this bug report here since I care more about a fix here than a general site wide fix of something that I only see here.</p>

<p>This problem still happens on a recent Safari build - Version 6.1 (8537.43.58)</p>

<p><a href="https://meta.stackexchange.com/questions/163548/the-mod-link-under-the-review-tools-fails-to-work-on-safari-6">The mod link under the /review tools fails to work on Safari 6</a></p>

<p>The Clicking the mod link now brings up an almost entirely white covering of the tools the orange arrow indicates:</p>

<p><img src="https://i.stack.imgur.com/o25lO.png" alt="enter image description here"></p>

<p><img src="https://i.stack.imgur.com/XkBSt.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2994" class = "post">
				<p>Have you tried other browsers?</p>
			</div>
			<div id = "comment-2997" class = "post">
				<p>No - it's a safari bug that I'm reporting to get it fixed. It's one of the supported browsers, so we tend report all bugs on those and sometimes even report browser specific issues with unsupported browsers knowing they are less likely to get fixed.</p>
			</div>
			<div id = "comment-2998" class = "post">
				<p>@ShaneHsu Google Chrome is also broken - so at least things are consistent.</p>
			</div>
			<div id = "comment-2999" class = "post">
				<p>Consistency is important. It's not a bug, but a feature. Hohoho</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>