<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Moderator Pro Tem Announcement
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-86" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::252</h3>
				<h2>Moderator Pro Tem Announcement</h2>
<p>As we enter the second week of the public beta, we desperately need members from the site whose focus is to engage the community, both in community-building issues and site management. That's why we select a few members from each community to act as temporary, provisional Moderators. You can read about the program here: <a href="http://blog.stackoverflow.com/2010/07/moderator-pro-tempore/"><strong>Moderators Pro Tempore</strong></a>.</p>

<p>I am pleased to announce that these members have stepped up and generously volunteered their time to help us assure that each community s issues are properly addressed:</p>

<p><img src="https://i.stack.imgur.com/HFI08.png" alt="alt text"> <img src="https://i.stack.imgur.com/NM03L.png" alt="alt text"> <img src="https://i.stack.imgur.com/8YGOf.png" alt="alt text"> <img src="https://i.stack.imgur.com/U1Nle.png" alt="alt text"></p>

<p>Congrats to @Calavera for his late addition to the moderator team. Apple moderation needed some extra support so thank you for stepping up!</p>

<p>We want to make this site a huge success, and these members are great examples of exactly the type of people we need to make this site succeed. Please welcome them for the hard work and time they contribute.</p>

<h3>Did I overlook anyone?</h3>

<p>Almost certainly. There are members who are actively involved and very deserving of recognition. My failure to account for everyone this early on is in <em>no way</em> a slight against them. Ideally, Moderators are elected by the community and that's why <strong>you'll have your elections in several weeks.</strong></p>

<p>Most of all, be respectful and understanding of the Moderators Pro Tem. Members of your community are volunteering their time and learning on the job. It s a learning experience for everyone. </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-149" class = "comment">
				<p>congrats pro tem mods!  let the battle begin :)</p>
			</div>

<h1>ANSWERS</h1>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>