<html>
	<head>
		<title id = 'pagetitle'>Moderator tools from the review pane are broken in Safari and Chrome
		</title>
	<head>
	<body id = 'pagebody'><p>I have asked on the main meta for a fix, but not all sites have this bug. I'll open this bug report here since I care more about a fix here than a general site wide fix of something that I only see here.</p>

<p>This problem still happens on a recent Safari build - Version 6.1 (8537.43.58)</p>

<p><a href="https://meta.stackexchange.com/questions/163548/the-mod-link-under-the-review-tools-fails-to-work-on-safari-6">The mod link under the /review tools fails to work on Safari 6</a></p>

<p>The Clicking the mod link now brings up an almost entirely white covering of the tools the orange arrow indicates:</p>

<p><img src="https://i.stack.imgur.com/o25lO.png" alt="enter image description here"></p>

<p><img src="https://i.stack.imgur.com/XkBSt.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
			</body>
</html>