<html>
	<head>
		<title id = 'pagetitle'>Moderator Tools > Flags has spelling errors
		</title>
	<head>
	<body id = 'pagebody'><p>In the headings of the help text on the right-hand side of the <a href="https://apple.stackexchange.com/tools?s=1&amp;tab=flags">Moderator Tools > Flags</a> page, the two instances of the word "I" should be capitalized. I recognize that these headings have a lowercase-only motif; the word "I", as a proper noun (proper pronoun?) should be capitalized anyway.</p>


<h1>ANSWERS</h1>
		<p>I agree the proofreading there is non-standard. Let's see what the site developers think...</p>

<p><img src="https://i.stack.imgur.com/arDu5.png" alt="Typos in the flag page"></p>


<p>This will be fixed in the next deploy.</p>


	</body>
</html>