<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Moderator Tools > Flags has spelling errors
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Moderator Tools > Flags has spelling errors</h2>
<p>In the headings of the help text on the right-hand side of the <a href="https://apple.stackexchange.com/tools?s=1&amp;tab=flags">Moderator Tools > Flags</a> page, the two instances of the word "I" should be capitalized. I recognize that these headings have a lowercase-only motif; the word "I", as a proper noun (proper pronoun?) should be capitalized anyway.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I agree the proofreading there is non-standard. Let's see what the site developers think...</p>

<p><img src="https://i.stack.imgur.com/arDu5.png" alt="Typos in the flag page"></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This will be fixed in the next deploy.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>