<html>
	<head>
		<title id = 'pagetitle'>Moderator meta tags don't show red in chat
		</title>
	<head>
	<body id = 'pagebody'><p>Using <code>[meta-tag:status-completed]</code> or any other mod tag shows it red: <a href="/questions/tagged/status-completed" class="post-tag moderator-tag" title="show questions tagged &#39;status-completed&#39;" rel="tag">status-completed</a></p>

<p>However, in chat, this isn't the case:</p>

<p><img src="https://i.stack.imgur.com/zFQEg.png" width="179"></p>


<h1>ANSWERS</h1>
			</body>
</html>