<html>
	<head>
		<title id = 'pagetitle'>More convenient way to make code blocks
		</title>
	<head>
	<body id = 'pagebody'><p>Is there any more convenient way to write code? When I have a longer log, I dont want to space every line because it would take very long. I thought that using the <code>&lt;code&gt;</code> tag would help. But that results in:</p>

<p><code>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin tortor nec dignissim maximus. Maecenas imperdiet auctor dapibus. Duis efficitur elit et arcu pulvinar placerat. Vivamus sed fringilla sapien. Aenean laoreet lacus ut nulla eleifend lacinia. Mauris laoreet luctus luctus. Nam ullamcorper tellus non magna eleifend, id scelerisque lorem consequat. Duis a libero a urna aliquam sagittis. Vestibulum id orci eu ex consectetur auctor. Phasellus facilisis interdum fermentum.
</code></p>

<p>I would like something not this thin like the usual space:</p>

<pre><code>example
</code></pre>


<h1>ANSWERS</h1>
		<p>There's no other way to create block code formatting other than to prepend each line with four spaces. The easiest way to do this is to highlight all the lines, then press command-K.</p>

<p>There are numerous feature requests on Meta.SE to support <code>```</code>, however this has not been implemented yet. CommonMark support appears to be coming in the near future which would support this.</p>


	</body>
</html>