<html>
	<head>
		<title id = 'pagetitle'>Mountain Lion Challenge - ask, answer, blog and win Apple products!
		</title>
	<head>
	<body id = 'pagebody'><p><strong>Congratulations to our winners!</strong></p>

<p>For asking a Nice Question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/25735/felix">Felix</a></li>
<li><a href="https://apple.stackexchange.com/users/2220/nathan-greenstein">Nathan Greenstein</a></li>
<li><a href="https://apple.stackexchange.com/users/8551/viktor">Viktor</a></li>
</ul>

<p>For asking a Popular Question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/7451/vivart">Vivart</a></li>
<li><a href="https://apple.stackexchange.com/users/6916/kmc">KMC</a></li>
<li><a href="https://apple.stackexchange.com/users/17423/dennis-madsen">Dennis Madsen</a></li>
</ul>

<p>For giving a Nice Answer:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/15562/scot">Scot</a></li>
<li><a href="https://apple.stackexchange.com/users/25826/meeee">meeee</a></li>
<li><a href="https://apple.stackexchange.com/users/8320/xalexownzx">XAleXOwnZX</a></li>
</ul>

<p>For being a Bounty Hunter:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/4408/mathias-bynens">Mathias Bynens</a></li>
<li><a href="https://apple.stackexchange.com/users/8331/eggyal">eggyal</a></li>
<li><a href="https://apple.stackexchange.com/users/5472/bmike">bmike</a></li>
</ul>

<p>For being a Blogger:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/9388/daniel-lawson">Daniel Lawson</a></li>
<li><a href="https://apple.stackexchange.com/users/9058/patrix">Patrix</a></li>
<li><a href="https://apple.stackexchange.com/users/9495/stuffe">Stuffe</a></li>
</ul>

<p>And the winner of our Grand Prize Challenge is... <a href="https://apple.stackexchange.com/users/1035/houbysoft">houbysoft</a>!</p>

<p>Thanks to everyone who participated, and I hope you enjoyed the contest. Winners will be contacted via email to arrange prize shipping.</p>

<hr>

<p><a href="http://www.apple.com/osx/" rel="nofollow noreferrer">Mountain Lion</a> is the next major iteration of Apple's OS, and it was officially released today. To celebrate, we are holding a contest with lots of chances to win Apple products, including a grand prize package worth upwards of $500!</p>

<p><img src="https://i.stack.imgur.com/KV7vj.png" alt="Apple Prizes"></p>

<p>To win, do as you always do! Ask and answer awesome questions about <a href="https://apple.stackexchange.com/questions/tagged/mountain-lion" class="post-tag" title="show questions tagged &#39;mountain-lion&#39;" rel="tag">mountain-lion</a>. There will also be an opportunity to win prizes by writing posts for the <a href="http://apple.blogoverflow.com/" rel="nofollow noreferrer">Ask Different Blog</a>. </p>

<p>For rules and more details, see the <a href="http://mountainlionchallenge.com/" rel="nofollow noreferrer">Mountain Lion Challenge</a> page.</p>


<h1>ANSWERS</h1>
		<p>I favor to <strong>exclude CW posts from the mountainlionchallenge<sup>TM</sup></strong> as it distorts the results.</p>

<p>On Ask Different posts are made community wikis mostly because:</p>

<ul>
<li>multiple people worked on an answer but only one get's the votes</li>
<li>collect gems which Apple hides in their software</li>
</ul>

<p>Excluding CW posts will encourage communal editing to provide the best answers and hints without giving some people an unfair head start in the challenge.</p>


<p>I'm writing a Blog Post (one that I always intended to write), and it's going to be more than 750 Characters - is this OK?  It's not massively over, it will be approaching a thousand words.</p>


<p><strong>Thank you</strong> for making this entirely raffle-based. That, combined with the higher (10-score) bar for quality should produce better results than the last contest.</p>


	</body>
</html>