<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Moving logout button to be easier to find
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2961" class = "post">
			<h2>Question</h2>
			<h3>Score ::-3</h3>
			<h3>Views ::21</h3>
				<h2>Moving logout button to be easier to find</h2>
<p>I was just wondering if we can move the logout button from the Stack Exchange drop down menu to an <code>onHover:active</code> dropdown in the sticky bar. It's kind of hard for some new users to find.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2962"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Using a hover event would make accidentally opening the panels on the top bar a more common occurrence. Furthermore, I fail to see how that would make the logout link easier to find either. The user would still have to hover over the required area.</p>

<p>Changing from a click to a hover wouldn't help users find it accidentally since when a panel opens through hover, no-one's going to spend the time to read it but rather be annoyed by the intrusion.</p>

<p>The log out link is not the hardest thing to find. Before reading your question body I tried to find the link by myself (having never logged out of Stack Exchange) and the Stack Exchange button was the first place I tried. I'm not sure how much of a problem finding the button is anyway, but regardless this isn't the right solution.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>