<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Moving logout button to be easier to find
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2961" class = "post">
			<h2>Question</h2>
			<h3>Score ::-3</h3>
			<h3>Views ::21</h3>
				<h2>Moving logout button to be easier to find</h2>
<p>I was just wondering if we can move the logout button from the Stack Exchange drop down menu to an <code>onHover:active</code> dropdown in the sticky bar. It's kind of hard for some new users to find.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2962"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Using a hover event would make accidentally opening the panels on the top bar a more common occurrence. Furthermore, I fail to see how that would make the logout link easier to find either. The user would still have to hover over the required area.</p>

<p>Changing from a click to a hover wouldn't help users find it accidentally since when a panel opens through hover, no-one's going to spend the time to read it but rather be annoyed by the intrusion.</p>

<p>The log out link is not the hardest thing to find. Before reading your question body I tried to find the link by myself (having never logged out of Stack Exchange) and the Stack Exchange button was the first place I tried. I'm not sure how much of a problem finding the button is anyway, but regardless this isn't the right solution.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>