<html>
	<head>
		<title id = 'pagetitle'>Moving logout button to be easier to find
		</title>
	<head>
	<body id = 'pagebody'><p>I was just wondering if we can move the logout button from the Stack Exchange drop down menu to an <code>onHover:active</code> dropdown in the sticky bar. It's kind of hard for some new users to find.</p>


<h1>ANSWERS</h1>
		<p>Using a hover event would make accidentally opening the panels on the top bar a more common occurrence. Furthermore, I fail to see how that would make the logout link easier to find either. The user would still have to hover over the required area.</p>

<p>Changing from a click to a hover wouldn't help users find it accidentally since when a panel opens through hover, no-one's going to spend the time to read it but rather be annoyed by the intrusion.</p>

<p>The log out link is not the hardest thing to find. Before reading your question body I tried to find the link by myself (having never logged out of Stack Exchange) and the Stack Exchange button was the first place I tried. I'm not sure how much of a problem finding the button is anyway, but regardless this isn't the right solution.</p>


	</body>
</html>