<html>
	<head>
		<title id = 'pagetitle'>Multiple Part Questions
		</title>
	<head>
	<body id = 'pagebody'><p>I have a question I would like to ask and in typing it out I realize that the same post could end with three, closely related, yet different questions.</p>

<p>What is the consensus on multiple part questions? Should I make one ask with 3 question or 3 asks with one question each (and maybe link them)?</p>


<h1>ANSWERS</h1>
		<p>Three part questions almost always get closed - so that's the worst thing to do.</p>

<p>Look at the first version of this post:</p>

<ul>
<li><a href="https://apple.stackexchange.com/q/247506/5472">https://apple.stackexchange.com/q/247506/5472</a></li>
</ul>

<p>Three questions, boom, boom, boom. If there is specificity and research, none is shown. It shows an attempt to reason through an issue, but needs to be distilled and honed and work done to identify one thing that's answerable.</p>

<p>Now - just splitting it up into three questions is still going to have them closed - but at least each closure will be specific and easier for the asker to remedy. (or for everyone to realize that it shouldn't have been asked like "is this a common problem" since it's not the type of practical question the site is designed to host.</p>

<p>Unless you can be sure you have enough detail to get at each question alone, try to ask the first and most basic question and then wait to get an answer or answers. Then you can build / refine the next part of the issue. </p>

<p>I've rarely seen three related questions work - but most of the time, asking three very close questions also results in closure / holds.</p>


	</body>
</html>