<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Multiple Tag Wiki Edit Screen Style Bugs
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-963" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::33</h3>
				<h2>Multiple Tag Wiki Edit Screen Style Bugs</h2>
<p>It seems that some old and new style bugs have cropped up with the various style changes that have occurred over the course of 2011.</p>

<p>Which is, well, all of them? :)</p>

<p>Let's take a look at the <a href="https://apple.stackexchange.com/edit-tag-wiki/1544">tag wiki editing page</a>:</p>

<p><img src="https://i.stack.imgur.com/CvnvZ.png" alt="Tag Wiki edit page screenshot"></p>

<ul>
<li><p>The contrast of all of the text directly on the page is too low, the color could stand to be darkened.</p></li>
<li><p>The text color of the full preview absolutely needs to be fixed.</p></li>
<li><p>Additionally, could the character counter text for the excerpt field have a little bit more room to breath?</p></li>
</ul>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2442"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>So... nothing quite like a site design refresh 3+ years later to fix outstanding issues... :)</p>

<p><img src="https://i.stack.imgur.com/B1Uzv.png" alt="enter image description here"></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>