<html>
	<head>
		<title id = 'pagetitle'>Multiple Tag Wiki Edit Screen Style Bugs
		</title>
	<head>
	<body id = 'pagebody'><p>It seems that some old and new style bugs have cropped up with the various style changes that have occurred over the course of 2011.</p>

<p>Which is, well, all of them? :)</p>

<p>Let's take a look at the <a href="https://apple.stackexchange.com/edit-tag-wiki/1544">tag wiki editing page</a>:</p>

<p><img src="https://i.stack.imgur.com/CvnvZ.png" alt="Tag Wiki edit page screenshot"></p>

<ul>
<li><p>The contrast of all of the text directly on the page is too low, the color could stand to be darkened.</p></li>
<li><p>The text color of the full preview absolutely needs to be fixed.</p></li>
<li><p>Additionally, could the character counter text for the excerpt field have a little bit more room to breath?</p></li>
</ul>


<h1>ANSWERS</h1>
		<p>So... nothing quite like a site design refresh 3+ years later to fix outstanding issues... :)</p>

<p><img src="https://i.stack.imgur.com/B1Uzv.png" alt="enter image description here"></p>


	</body>
</html>