<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Multiple Part Questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2839" class = "post">
			<h2>Question</h2>
			<div id="vote-2839" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 64</p>
			</div>
				<h2>Multiple Part Questions</h2>
<p>I have a question I would like to ask and in typing it out I realize that the same post could end with three, closely related, yet different questions.</p>

<p>What is the consensus on multiple part questions? Should I make one ask with 3 question or 3 asks with one question each (and maybe link them)?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2839" class = 'collapse'>
			</div>
				<textarea id = "speech-2839" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2839">
					<img id="start_img-2839" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2840"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2840" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Three part questions almost always get closed - so that's the worst thing to do.</p>

<p>Look at the first version of this post:</p>

<ul>
<li><a href="https://apple.stackexchange.com/q/247506/5472">https://apple.stackexchange.com/q/247506/5472</a></li>
</ul>

<p>Three questions, boom, boom, boom. If there is specificity and research, none is shown. It shows an attempt to reason through an issue, but needs to be distilled and honed and work done to identify one thing that's answerable.</p>

<p>Now - just splitting it up into three questions is still going to have them closed - but at least each closure will be specific and easier for the asker to remedy. (or for everyone to realize that it shouldn't have been asked like "is this a common problem" since it's not the type of practical question the site is designed to host.</p>

<p>Unless you can be sure you have enough detail to get at each question alone, try to ask the first and most basic question and then wait to get an answer or answers. Then you can build / refine the next part of the issue. </p>

<p>I've rarely seen three related questions work - but most of the time, asking three very close questions also results in closure / holds.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2840">Load Comments</button></br>
			<div id = "commentsection-2840" class = 'collapse'>
			<div id = "comment-6191" class = "comment">
				<p>Okay, i understand the 'building on to it' part. But what if the first or second part gets a really good answer? I can only mark one as the answer. Would adding to the question at that point still be a good idea?</p>
			</div>
			<div id = "comment-6192" class = "comment">
				<p>Part one should be asked and get a good answer with a check. Then part two gets asked (alone / new thread) and gets a good answer with a check. You can always edit a link between posts so that they are searchable, @boredrandom</p>
			</div>
			<div id = "comment-6193" class = "comment">
				<p>Or, to put it the other way round: Once you've got your first question answered, create a second question for the next part, **do not** edit the first question to extend it.</p>
			</div>
			</div>
				<textarea id = "speech-2840" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2840">
					<img id="start_img-2840" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>