<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>My first time offering a bounty
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1540" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::51</h3>
				<h2>My first time offering a bounty</h2>
<p>I asked the following <a href="https://apple.stackexchange.com/questions/73784/havp-and-os-xserver">question</a>.  I've been given two answers.  One is a, "your problem may have to do with this, but it's all I know."  That's fine.   I appreciate the authors attempt at helping but it doesn't really answer the question, much less deserve the bounty.  The other answer gives 4 specific causes of the failure and each has a fix (where applicable).  I have no problem accepting this as an answer.  Now for why I'm here:</p>

<p>The last statement in my question is:
So, what is going on, and how do I make this (the HAVP install) work?</p>

<p>The fact is I'm not going to be able to get the HAVP install to work even with the help given.</p>

<p>I firmly believe in paying someone for their work.  Should I still pay the bounty?  This is my first time offering one.  I don't want to "screw" anyone.  Thought's, opinions?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1540" class = 'collapse'>
			</div>
				<textarea id = "speech-1540" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1540">
					<img id="start_img-1540" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1541"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I don't like the official <a href="https://meta.stackexchange.com/questions/16065/how-does-the-bounty-system-work">FAQ on bounties</a> since it focuses on the answers and minutia.</p>

<p>You pay a bounty to get your question featured. That's what you get for the points.</p>

<p>If someone answers after the bounty - awesome. If you choose to award it to an existing question or choose to award it so that the system doesn't award half the bounty to whatever question gets 2 votes after the bounty started (or the most votes) - then you have that option.</p>

<p>If an answer helps you solve it - mark the tick for accepted. That way you can award the bounty or not as you feel best. Keep in mind - if you want to award more than one bounty, the next time you issue a bounty - the points will double, so you might award the initial 50 to one and leave the 100 to the one you feel deserves more rep bonus.</p>

<p>If you look at paying the bounty to feature the question - it seems to help most people decide how to dispose of the points once you reach the end of the period (since if you got an AWESOME answer that nailed your question you probably would award the bounty immediately since you were so happy to have your answer).</p>

<p>In the end - I usually award my bounty to the least bad answer and then decide I didn't do a good enough job writing the question to get the answer I wanted. I'll usually make a reminder in a week or two to revisit it, edit it and see if I want to try a bounty or let it ride.</p>

<p>In your case - HAVP is something that needs a pretty specific skill set to solve compilation errors (especially if you have any other OSS libraries installed or even not the same OSS libraries the developer of the package has on their system when they built that package) so it's a good thing you even got two answers in the short time frame that question has been around.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1541">Load Comments</button></br>
			<div id = "commentsection-1541" class = 'collapse'>
			<div id = "comment-2884" class = "comment">
				<p>Thanks.  This seems a reasonable approach.</p>
			</div>
			</div>
				<textarea id = "speech-1541" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1541">
					<img id="start_img-1541" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>