<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>My iOS syncing headaches is a  White Elephant.  Can anything be done to reframe the question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2327" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::189</h3>
				<h2>My iOS syncing headaches is a  White Elephant.  Can anything be done to reframe the question?</h2>
<p>So, I m an active member on a few of the Stack Exchange sites. No so much here, but I did as one question here that has received 10,000+ views but I consider a  White Elephant  due to many factors:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/107051/ios-7-syncing-headaches-itunes-11">iOS 7 Syncing Headaches (iTunes 11)</a></li>
</ul>

<p>I initially posted this in frustration and hope that somehow there was a clear and sane way of dealing with what I consider Apple s sloppy implementation of iOS/iTunes syncing since iOS7 hit and the iCloud became the new  sync service. </p>

<p>Now if you read the post, please realize how I feel about it and the related question right now: I believe the question is utterly useless since 1+ year later the problem still exists, cannot be easily replicated, cannot be easily solved and is frustrating Apple iOS users all over.</p>

<p>I did stumble across a recent discovery <a href="http://www.mcelhearn.com/one-possible-explanation-for-some-itunes-sync-problems/" rel="nofollow noreferrer">related to Wi-Fi sync failing on this site</a>:</p>

<blockquote>
  <p>One issue that has been discussed on Apple s support forums seems to
  be caused by some incorrect handling of network activity by OS X. It
  seems that iTunes   or, more correctly, the usbmuxd process that
  handles connections between a Mac and and iOS device   has some
  problems. This process opens network connections to the iOS device in
  order to communicate with it. It opens two connections, one using IPv4
  and another with IPv6, over TCP, to port 62078. If you run a command
  in Terminal, you can see how many connections are open.</p>
</blockquote>

<p>Wonderful! Someone made some progress! But still, it s only really of concern for those who use Wi-Fi sync and not  tethered  sync. And the problem is not solved.</p>

<p>So personally, I believe my original question and answer thread which barely exists should be deleted. But how should a new question be written/framed? Should it simply be: <i>iOS and iTunes Syncing Issues Since iOS7 and OS X Sync Services Removed</i> or something else?</p>

<p>This is massively frustrating to me since I cannot help but feel that with 10,000+ views there are others struggling with this issue. But with no clear hope in site and nobody else really chiming in on the thread what can be done?</p>

<p>The question feels like a freak show. A  White Elephant  that s interesting to look at but nobody knows what to do with it. And no real clues seem to be on the horizon.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2328"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p>Questions shouldn't be deleted just because they haven't received an answer. Despite everything, an answer may still be found in the future and deleting the question doesn't help anyone as the original research is lost. Moving the research to a new question defeats the purpose and the original question may as well remain if this occurs.</p>

<p>Bounties are the main way attention is drawn to a question. Ask Different has very few active bounties running at any one time which means that bounties can be quite effective at attracting attention.</p>

<p>There's a silver <img src="https://i.stack.imgur.com/k1rAt.png" width="8"> <a href="https://apple.stackexchange.com/help/badges/44/necromancer">Necromancer</a> badge to be had for users who answer questions like this, so there's still a incentive to research and answer such questions.</p>

<p>I don't think the question needs to be <em>reframed</em> as such, but providing an update with the latest information might be beneficial. Furthermore, a bounty will attract attention and may get the question seen by someone who has some crucial information in resolving the problem.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4377" class = "comment">
				<p>Thanks for the advice. Just started a bounty.  If it leads to more people exploring this issue, it s worth it.</p>
			</div>
			<div id = "comment-4385" class = "comment">
				<p>Thanks for the advice. After posting a bounty, not much worth writing home about. But I did however rebuild my Mac OS X setup with a clean install of Mac OS X 10.9.5; previously it was just piles of upgrades since 10.6.8. Maybe I will have better luck now? Who knows. Snowstorm in the northeast so might make this a small project. Thanks again!</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>