<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>My question has 1,000 views, no upvotes, and one non-answer. What's up with it?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2341" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::40</h3>
				<h2>My question has 1,000 views, no upvotes, and one non-answer. What's up with it?</h2>
<p><a href="https://apple.stackexchange.com/q/153589/83288">Trying to get Hadoop to work; &quot;connection refused&quot; in Hadoop and in Telnet</a></p>

<p>This question just passed 1,000 views today. I understand how "tumbleweed questions" work (I have the badge on several sites), and that's what I <em>thought</em> my question was. But unless these views came all at once from some automated source, this question is not a tumbleweed.</p>

<p>So what's up with this question? Is it on the wrong StackExchange site? It has one non-answer, and the user never responded to my comment asking for clarification.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4390" class = "comment">
				<p>This isn't a definitive answer, but for me, that question is an intimidating block of text at I wouldn't dream of reading, let alone answering. It isn't on topic for SO because it isn't programming.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2342"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I would flag it for migration to StackOverflow or even ServerFault. Your question deals more with Hadoop than it does with OS X and Hadoop is way out of scope for this site. There are very little developer service experts viewing questions here.</p>

<p>To your voting question: we suffer from poor voting participation on this site. It's a long-standing issue we've been trying to solve by promoting voting behaviour and such through commenting on posts and in the chat channel. But we deal with higher number of "passerby" type users here because of our subject nature. Casual computer users are more common here than on a site like StackOverflow or ServerFault.</p>

<p>As for visibility: you can always attach a bounty to the question to make it more visible. I find letting people know about it in the chat channel can help too. Though even the chat channel isn't as active as it is some place like StackOverflow.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4391" class = "comment">
				<p>Good call on Serverfault. Even if it's off topic there, they will definitely know where to send me</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>