<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>My suggested edit review didn't count as a review for me
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1845" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::100</h3>
				<h2>My suggested edit review didn't count as a review for me</h2>
<p>I was going through the Suggested Edits review queue, and <a href="https://apple.stackexchange.com/review/suggested-edits/39619">this</a> suggested edit came up. I pressed <strong>Improve</strong>, edited the post and submitted it.</p>

<p><img src="https://i.stack.imgur.com/V8VFq.png" alt="Revision History"></p>

<p>However, the suggested edit was <strong>only</strong> approved by Community </p>

<p><img src="https://i.stack.imgur.com/vV3Ke.png" width="300"></p>

<p>Why (and how) did this happen?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3545" class = "comment">
				<p>Reminds me of http://meta.apple.stackexchange.com/questions/1800/suggested-edit-confusion :-)</p>
			</div>
			<div id = "comment-3546" class = "comment">
				<p>@patrix Indeed  :)</p>
			</div>
			<div id = "comment-3547" class = "comment">
				<p>I wonder who this grgarside is who seems to always be in the middle of these issues :-)</p>
			</div>
			<div id = "comment-3548" class = "comment">
				<p>See http://meta.stackexchange.com/questions/80518/improved-edit-suggestions-approved-by-community</p>
			</div>
			<div id = "comment-3549" class = "comment">
				<p>@Mark Since that was quite a while ago, I feel like things have changed since then, because when I usually improve something, [it says that I've done so](http://apple.stackexchange.com/review/suggested-edits/39585) in the suggested edit, but in this case it didn't </p>
			</div>
			<div id = "comment-3550" class = "comment">
				<p>Looks the same you edited it so in the history, the review says approved by Community</p>
			</div>
			<div id = "comment-3551" class = "comment">
				<p>@Mark Yes, but usually [it shows that Community approved, *and I edited* in the suggested edit](http://apple.stackexchange.com/review/suggested-edits/39619), however this time [only Community is shown in the suggested edit](http://apple.stackexchange.com/review/suggested-edits/39619) </p>
			</div>
			<div id = "comment-3552" class = "comment">
				<p>@Mark Oops, wrong [first link](http://apple.stackexchange.com/review/suggested-edits/39585) , and can't press edit button on iPad </p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1907"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This isn't a bug, but is actually seen as a feature. </p>

<p>The way to unroll who approved the edit is to look at the post history. </p>

<ul>
<li><a href="https://apple.stackexchange.com/posts/103634/revisions">https://apple.stackexchange.com/posts/103634/revisions</a></li>
</ul>

<p>When a reviewer chooses improve, the community user approves the initial edit immediately to unblock the post and let the reviewer make changes. So, in this case, Peter made the first edit that needed review and you caused community to approve and then you made the second edit. </p>

<p>This is documented as Mark described at:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/80518/improved-edit-suggestions-approved-by-community">Improved edit suggestions approved by Community</a></li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3681" class = "comment">
				<p>This doesn't seem to match any improved suggested edits I've seen recently, including edits before/after the one in my question. For example, [this edit](http://apple.stackexchange.com/review/suggested-edits/47876) shows that community approved *and I edited* in the review itself </p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>