<html>
	<head>
		<title id = 'pagetitle'>My suggested edit review didn't count as a review for me
		</title>
	<head>
	<body id = 'pagebody'><p>I was going through the Suggested Edits review queue, and <a href="https://apple.stackexchange.com/review/suggested-edits/39619">this</a> suggested edit came up. I pressed <strong>Improve</strong>, edited the post and submitted it.</p>

<p><img src="https://i.stack.imgur.com/V8VFq.png" alt="Revision History"></p>

<p>However, the suggested edit was <strong>only</strong> approved by Community </p>

<p><img src="https://i.stack.imgur.com/vV3Ke.png" width="300"></p>

<p>Why (and how) did this happen?</p>


<h1>ANSWERS</h1>
		<p>This isn't a bug, but is actually seen as a feature. </p>

<p>The way to unroll who approved the edit is to look at the post history. </p>

<ul>
<li><a href="https://apple.stackexchange.com/posts/103634/revisions">https://apple.stackexchange.com/posts/103634/revisions</a></li>
</ul>

<p>When a reviewer chooses improve, the community user approves the initial edit immediately to unblock the post and let the reviewer make changes. So, in this case, Peter made the first edit that needed review and you caused community to approve and then you made the second edit. </p>

<p>This is documented as Mark described at:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/80518/improved-edit-suggestions-approved-by-community">Improved edit suggestions approved by Community</a></li>
</ul>


	</body>
</html>