<html>
	<head>
		<title id = 'pagetitle'>Negative points when Flaging
		</title>
	<head>
	<body id = 'pagebody'><p>Does one gets Negative points for Flagging something to Moderator?</p>


<h1>ANSWERS</h1>
		<p>No, see <a href="https://apple.stackexchange.com/help/privileges/flag-posts">Help Center > Privileges > Flag Posts</a> for details.</p>


	</body>
</html>