<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Negative points when Flaging
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1991" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::40</h3>
				<h2>Negative points when Flaging</h2>
<p>Does one gets Negative points for Flagging something to Moderator?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3822" class = "comment">
				<p>Link to the post? Why did you flag your own post?</p>
			</div>
			<div id = "comment-3823" class = "comment">
				<p>did I do that :(, that sucks !</p>
			</div>
			<div id = "comment-3828" class = "comment">
				<p>Maybe I misunderstood - I guess you were asking if flagging post A would deduct rep on post B if you posted B on the same question as A?</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1992"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>No, see <a href="https://apple.stackexchange.com/help/privileges/flag-posts">Help Center > Privileges > Flag Posts</a> for details.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3819" class = "comment">
				<p>Got it, so just some passing by jerk, felt to downvote with no reason. Why is it then allowed to answer almost copy exact the answer already given without Moderator intervention?</p>
			</div>
			<div id = "comment-3820" class = "comment">
				<p>Moderators don't read all the questions and answers on the site (at least I don't and I would be surprised if my fellow mods do). If something requires moderator invention, please flag the post.</p>
			</div>
			<div id = "comment-3821" class = "comment">
				<p>That's the reason I am asking, I did flag it (and got negative vote) so was just wondering if the 2 are related.</p>
			</div>
			<div id = "comment-3824" class = "comment">
				<p>@Buscar  Characterizing a down vote as "some passing jerk" seems a bit thin skinned by you as well as aggressive to feedback. If you happen to be referring to your flag on [dwightk](http://apple.stackexchange.com/a/124535/5472)'s post - we rarely step in and delete a duplicate answer until a week has passed. I meant to decline the flag, but marked it helpful accidentally. What if your down voter accidentally did so? It is after all, one person on the internet at this point.</p>
			</div>
			<div id = "comment-3825" class = "comment">
				<p>I can not stand people giving they opinion specialty the negative one (thus jerk) without explaining them self, since that will certainly not help me improving my answers.</p>
			</div>
			<div id = "comment-3826" class = "comment">
				<p>@Buscar  neither up- nor downvotes need to be explained. We get flags on comments asking for explanation of downvotes (and tend to delete such comments).</p>
			</div>
			<div id = "comment-3827" class = "comment">
				<p>Thanks,its a beer time, I am clearly taking all this to personally.</p>
			</div>
			<div id = "comment-3829" class = "comment">
				<p>@Buscar  Beer time indeed. I hope it's tasty and refreshing. Thanks for being light hearted.</p>
			</div>
			<div id = "comment-3830" class = "comment">
				<p>Since i created confusion, and I am sorry, this is what I am talking about     http://apple.stackexchange.com/a/124535/46541

and this users answer user:70930 which is exactly same as mine ? I flagged that, but don't worry, just point stuff out.</p>
			</div>
			<div id = "comment-3831" class = "comment">
				<p>If it helps, I posted that answer and noticed that your answer was already up after I posted it. It was not when I began writing the answer. I noticed that your original answer did not describe how to do what your picture showed, so I left my answer.</p>
			</div>
			<div id = "comment-3833" class = "comment">
				<p>Here is a gem of a summary post on why down voting can be fraught with pitfalls for the person receiving the vote and the person casting the vote and for someone who comments but didn't even vote (or voted in a direction opposite what someone suspected). [How to Guarantee Getting Downvotes Without an Explanation](http://meta.english.stackexchange.com/questions/4582/how-to-guarantee-getting-downvotes-without-explanation)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>