<html>
	<head>
		<title id = 'pagetitle'>New design issues
		</title>
	<head>
	<body id = 'pagebody'><p>There's a few places where we have blue &amp; black text on a blue background:</p>

<ol>
<li><p><strong>Badge lookup</strong>:<br>
<img src="https://i.stack.imgur.com/wDxGl.png" alt="badge lookup display">
<sub>Previous version: <a href="https://i.stack.imgur.com/EqJea.png" rel="nofollow noreferrer">http://i.stack.imgur.com/EqJea.png</a></sub><br/><br/>
<em>Update</em>: the issue now is the over-large bottom border when the "awarded to" section is short. </p></li>
<li><p><strong>Timeline screen</strong>:<br>
<img src="https://i.stack.imgur.com/q8SH0.png" alt="timeline display"></p></li>
<li><p><strong>Revisions screen</strong>:<br>
<img src="https://i.stack.imgur.com/DsES3.png" alt="revisions screen">
<sub>Previous version: <a href="https://i.stack.imgur.com/pTeqC.png" rel="nofollow noreferrer">http://i.stack.imgur.com/pTeqC.png</a></sub><br/><br/>
<em>Update</em>: now looking much better; only current issue (imo) is the black "Return to Question" header on the dark blue background. </p></li>
</ol>

<p>There may be others, but these are the ones I've run across.</p>

<p>I don't <em>think</em> that any of them are due to my custom CSS or GreaseMonkey scripts, but if they are, feel free to publicly point at me and laugh.</p>

<hr>

<h3>Edits:</h3>

<p><strong><em>January 30, 2011</em></strong>: updated 1 &amp; 3 with new screenshots and updated descriptions.</p>


<h1>ANSWERS</h1>
		<p>Dori, I have fixed the badge page and the mod sections. The changes should be in the next deployment. Thanks.</p>


	</body>
</html>