<html>
	<head>
		<title id = 'pagetitle'>New tag proposal - Canonical or FAQ
		</title>
	<head>
	<body id = 'pagebody'><p>Re: BMike's question - <a href="https://apple.meta.stackexchange.com/questions/2418/where-is-the-list-of-canonical-questions-stored-for-ask-different">Where is the list of canonical questions stored for Ask Different?</a></p>

<p>It would seem reasonable that such questions could get their own tag type.</p>

<p>Trying to find them when closing as a dupe is not all that simple. Even when you know the keywords for the dupe search field - for example, I just tested "bypass activation lock" &amp; it turned up 9th in the list. If you're less certain of the title it involves digging through meta to find BMike's QA first.</p>

<p>I even tried "[ios] bypass"... but it's not tagged iOS, it's iPhone.</p>

<p>If we had a [canonical] or [faq] tag type, it would make things a lot simpler, imo.  </p>

<p>Opinions?</p>


<h1>ANSWERS</h1>
		<h1>YES</h1>

<p>Upvote this answer if you support the idea of creating a <code>canonical</code> flag on the main site to identify canonical questions.</p>


<h1>NO</h1>

<p>Upvote this answer if you are against creating a <code>canonical</code> flag on the main site.</p>


<p><strong>Absolutely no.</strong></p>

<p>This proposal is literally opposing the purpose of tagging: categorising the content of questions. Tags should be about the question content, as defined in the first line of the relevant section of the help center. Meta-tags are also specifically mentioned as later on in the article.</p>

<blockquote>
  <p>A tag is a word or phrase that describes the topic of the question.</p>
</blockquote>



<blockquote>
  <p><strong>Avoid meta-tags</strong><br>
  Do not use meta-tags in questions. Here are some tips to help you determine whether a tag is a meta-tag:<br>
   </p>
</blockquote>

<p><a href="https://apple.stackexchange.com/help/tagging">https://apple.stackexchange.com/help/tagging</a></p>

<p>Your proposed tag <a href="https://apple.stackexchange.com/questions/tagged/canonical" class="post-tag" title="show questions tagged &#39;canonical&#39;" rel="tag">canonical</a> says nothing about the content of the question. Meta-tagging has been prohibited from Stack Exchange sites for many years now.</p>

<blockquote>
  <p><strong>meta-tagging is explicitly discouraged</strong></p>
</blockquote>



<blockquote>
  <p>If the tag can't work as the only tag on a question, it's probably a meta-tag.</p>
</blockquote>

<p><a href="https://blog.stackoverflow.com/2010/08/the-death-of-meta-tags/">https://blog.stackoverflow.com/2010/08/the-death-of-meta-tags/</a></p>


	</body>
</html>