<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>New tag for controversial discussions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-169" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::264</h3>
				<h2>New tag for controversial discussions?</h2>
<p>Martin has kindly suggested the use of <code>[poo-storm]</code> referenced <a href="https://apple.meta.stackexchange.com/questions/168/an-open-request-for-moderate-moderation">here.</a>  I believe the first recipient of this honorary tag should be the <a href="https://apple.meta.stackexchange.com/questions/2/can-one-ask-hackintosh-questions-on-apple-beta">hackintosh thread</a>.  All in favor?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-266" class = "comment">
				<p>hahahahaha well, I like to see the suggestion taken into consideration, it could be a nice indicator when a thread is going to smell bad :)</p>
			</div>
			<div id = "comment-273" class = "comment">
				<p>For the meta site? I think so. :-)</p>
			</div>
			<div id = "comment-274" class = "comment">
				<p>yes for the meta site :)</p>
			</div>
			<div id = "comment-275" class = "comment">
				<p>and.... done :P</p>
			</div>
			<div id = "comment-1113" class = "comment">
				<p>There's an emoji for that! 
PILE OF POO
Unicode: U+1F4A9 (U+D83D U+DCA9), UTF-8: F0 9F 92 A9</p>
			</div>
			<div id = "comment-1148" class = "comment">
				<p>@bmike LOL you get the credit for [this](http://apple.stackexchange.com/questions/17759/what-tiny-thing-in-lion-makes-you-smile-or-has-caught-you-off-guard/19945#19945) and [this](http://twitter.com/grahamperrin/status/98772980351500288) and [this](http://identi.ca/notice/80281375)</p>
			</div>
			<div id = "comment-1149" class = "comment">
				<p>@graham that's what I call winning! Thanks for the nod - I'm grinning ear to ear.</p>
			</div>
			<div id = "comment-1179" class = "comment">
				<p>@bmike,@Graham: absolutely beautiful.  truly fantastic.  there are no words.</p>
			</div>
			<div id = "comment-1485" class = "comment">
				<p>so how would we go about putting an icon inside the tag some tags on stackoverflow?</p>
			</div>
			<div id = "comment-1715" class = "comment">
				<p>It's not an icon; it's just a character, right? Not all browsers will display it, but its just text. So instead of [poo-storm], use [poo-storm]</p>
			</div>
			<div id = "comment-1716" class = "comment">
				<p>'Doh. It's text, but SO's engine won't take random unicode in tag text. So no  tag. :-(</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-946"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Alas, it appears tag text cannot contain arbitrary unicode characters. So we are stuck with [poo-storm] as the tag and not[poo-storm] or some other cool permutation.</p>

<p>Perhaps John Greenleaf Whitter said it best with regard to this situation: "For all sad words of tongue and pen, The saddest are these, 'It might have been.'"</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>