<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>New users don't tag questions correctly
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2238" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::62</h3>
				<h2>New users don't tag questions correctly</h2>
<p>Here's a sample of two, consecutive, new user questions posted a while ago that prompted this discussion. Let's ignore the non-optimal titles for now and focus on the choices for the tags on the questions:</p>

<ol>
<li><blockquote>
  <p><strong>MacBook typing issue</strong></p>
  
  <p>My MacBook keeps kicking the typing curser backwards into the body of the text line while I'm typing. This is extremely annoying. Is there any solution?</p>
  
  <p><a href="https://apple.stackexchange.com/questions/tagged/single-user" class="post-tag" title="show questions tagged &#39;single-user&#39;" rel="tag">single-user</a></p>
</blockquote>

<p>Only a single tag has been applied to this question: <a href="https://apple.stackexchange.com/questions/tagged/single-user" class="post-tag" title="show questions tagged &#39;single-user&#39;" rel="tag">single-user</a>. This tag doesn't seem related to the content of this question regarding a possible hardware or software issue.</p>

<p>The question is not tagged with any platform information (<a href="https://apple.stackexchange.com/questions/tagged/macbook" class="post-tag" title="show questions tagged &#39;macbook&#39;" rel="tag">macbook</a>-series), or tagged with <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> or <a href="https://apple.stackexchange.com/questions/tagged/mac" class="post-tag" title="show questions tagged &#39;mac&#39;" rel="tag">mac</a>. <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> is not being used on OS X questions.</p></li>
<li><blockquote>
  <p><strong>How to work around the issue that I can't access some iStore apps of a different country?</strong></p>
  
  <p>My family is spread across the world and I live and work in a different country than my native one. My iPhone and Apple ID are registered to my country of residence. On a few occasions, recently, I </p>
  
  <p><a href="https://apple.stackexchange.com/questions/tagged/apple-id" class="post-tag" title="show questions tagged &#39;apple-id&#39;" rel="tag">apple-id</a> <a href="https://apple.stackexchange.com/questions/tagged/internationalization" class="post-tag" title="show questions tagged &#39;internationalization&#39;" rel="tag">internationalization</a> <a href="https://apple.stackexchange.com/questions/tagged/apple-store" class="post-tag" title="show questions tagged &#39;apple-store&#39;" rel="tag">apple-store</a></p>
</blockquote>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/apple-id" class="post-tag" title="show questions tagged &#39;apple-id&#39;" rel="tag">apple-id</a> and <a href="https://apple.stackexchange.com/questions/tagged/internationalization" class="post-tag" title="show questions tagged &#39;internationalization&#39;" rel="tag">internationalization</a> can be related to this question and seem suitable.</li>
<li>Tagging this question with <a href="https://apple.stackexchange.com/questions/tagged/apple-store" class="post-tag" title="show questions tagged &#39;apple-store&#39;" rel="tag">apple-store</a> appears to be a misunderstanding as to the intent of this tag. The tag excerpt concisely details that this tag is for Apple Retail but besides this (and researching other questions which have used this tag) it is not clear to a new user that this tag does not apply to the iTunes store, etc, and this tag is commonly misused.</li>
</ul></li>
</ol>

<p><strong>What can be done to help new users tag their questions correctly?</strong></p>

<p>There's already tag excerpts that most users aren't reading and tag wikis that no-one reads. The tags themselves on this site are generally quite self-explanatory; there doesn't appear to be any serious problems with the tags themselves (i.e. not much overlap of areas or ambiguity) it seems users just don't know because they are not aware.</p>

<p>I know the community can retag questions, but that doesn't happen often enough, or promptly enough, and still requires the participation of the community, and doesn't solve the problem of the dupehammer </p>

<p>As more users gain the dupehammer ability, the lack of appropriate tags on the <em>original revisions</em> of questions mean that users won't be able to close the questions as duplicates using this, defeating the purpose.</p>

<p>Is there a way to encourage users to tag their questions appropriately?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2239"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><blockquote>
  <p>Is there a way to encourage users to tag their questions appropriately?</p>
</blockquote>

<p>Yes, and you've mentioned it already in your post:</p>

<blockquote>
  <p>the community can retag questions</p>
</blockquote>

<p>That's really the answer. We can't make people read FAQs and guides. We can't make them take a test before they can answer. We can, only through our good actions, guide them to better behaviour. Re-tagging questions flag as an edit and a user gets notified when their question is edited. Astute users will start to get the hints and figure it out.</p>

<p>Ultimately it is up to those who are investing their time and effort in the community to help keep it going. It's a collaborative Q&amp;A site for this very reason. Editing "horrendous titles" (instead of flagging them or commenting negatively on the questions) is also very appropriate behaviour for community members. Likewise grammar and spelling corrections in posts are the charter of everyone to help maintain and improve.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4238" class = "comment">
				<p>I guess I'm coffee-deprived </p>
			</div>
			<div id = "comment-4239" class = "comment">
				<p>I get that way *all* the time.</p>
			</div>
			<div id = "comment-4240" class = "comment">
				<p>[Revision 2](http://meta.apple.stackexchange.com/posts/2238/revisions), now with 100% less coffee deprivation.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>