<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>New tag proposal - Canonical or FAQ
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2889" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::69</h3>
				<h2>New tag proposal - Canonical or FAQ</h2>
<p>Re: BMike's question - <a href="https://apple.meta.stackexchange.com/questions/2418/where-is-the-list-of-canonical-questions-stored-for-ask-different">Where is the list of canonical questions stored for Ask Different?</a></p>

<p>It would seem reasonable that such questions could get their own tag type.</p>

<p>Trying to find them when closing as a dupe is not all that simple. Even when you know the keywords for the dupe search field - for example, I just tested "bypass activation lock" &amp; it turned up 9th in the list. If you're less certain of the title it involves digging through meta to find BMike's QA first.</p>

<p>I even tried "[ios] bypass"... but it's not tagged iOS, it's iPhone.</p>

<p>If we had a [canonical] or [faq] tag type, it would make things a lot simpler, imo.  </p>

<p>Opinions?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6283" class = "post">
				<p>Agreed and thanks for this proposal.</p>
			</div>
			<div id = "comment-6284" class = "post">
				<p>I like the idea, very much so. We may need to actively manage the use of the tag though, to prevent people misuse it.</p>
			</div>
			<div id = "comment-6285" class = "post">
				<p>(and I've just changed the tag on the bypass question to ios :-)</p>
			</div>
			<div id = "comment-6286" class = "post">
				<p>@patrix - I was going to mention policing in the question body - but thought that every time someone uses the tag to search, they are reasonably likely to spot any anomalies in the list; so the policing could be quite "accidental" (& thanks :)</p>
			</div>
			<div id = "comment-6287" class = "post">
				<p>We'll also need a good tag description of course, but something tells me that users don't tend to read them...</p>
			</div>
			<div id = "comment-6289" class = "post">
				<p>Users read?? What next? Doing research? Being clear & concise? Checking for dupes? What is the world coming to? ;)</p>
			</div>
			<div id = "comment-6290" class = "post">
				<p>Like the simple yes/no choice answers, btw. Great idea.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2890"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><h1>YES</h1>

<p>Upvote this answer if you support the idea of creating a <code>canonical</code> flag on the main site to identify canonical questions.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6288" class = "post">
				<p>To prevent the misuse of this tag, which I consider more 'important' than regular tags due to the fact we're telling users "here's the above-average, clear answer for your question...", do you think the use should be limited to a higher point level?</p>
			</div>
			<div id = "comment-6291" class = "post">
				<p>@fsb At first glance I don't see a way to limit the use of a tag to higher-rep users.</p>
			</div>
			<div id = "comment-6292" class = "post">
				<p>I know that some features are only permitted to users with a specific number of points, I wasn't sure if the use of tags was the same.  I wonder if some of the other SE sites that have canonical flags have problems with people over-using them?  If not, then this is a non-issue.</p>
			</div>
			<br><div id = "ans-2891"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h1>NO</h1>

<p>Upvote this answer if you are against creating a <code>canonical</code> flag on the main site.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2892"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p><strong>Absolutely no.</strong></p>

<p>This proposal is literally opposing the purpose of tagging: categorising the content of questions. Tags should be about the question content, as defined in the first line of the relevant section of the help center. Meta-tags are also specifically mentioned as later on in the article.</p>

<blockquote>
  <p>A tag is a word or phrase that describes the topic of the question.</p>
</blockquote>



<blockquote>
  <p><strong>Avoid meta-tags</strong><br>
  Do not use meta-tags in questions. Here are some tips to help you determine whether a tag is a meta-tag:<br>
   </p>
</blockquote>

<p><a href="https://apple.stackexchange.com/help/tagging">https://apple.stackexchange.com/help/tagging</a></p>

<p>Your proposed tag <a href="https://apple.stackexchange.com/questions/tagged/canonical" class="post-tag" title="show questions tagged &#39;canonical&#39;" rel="tag">canonical</a> says nothing about the content of the question. Meta-tagging has been prohibited from Stack Exchange sites for many years now.</p>

<blockquote>
  <p><strong>meta-tagging is explicitly discouraged</strong></p>
</blockquote>



<blockquote>
  <p>If the tag can't work as the only tag on a question, it's probably a meta-tag.</p>
</blockquote>

<p><a href="https://blog.stackoverflow.com/2010/08/the-death-of-meta-tags/">https://blog.stackoverflow.com/2010/08/the-death-of-meta-tags/</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6293" class = "post">
				<p>That post is six years old & completely fails to cover any kind of FAQ scenario; the weak subjectivity it berates I totally agree with. We have no mechanism [other than maintaining our own personal reference lists] for quickly searching a canonical post to vote on a dupe.</p>
			</div>
			<div id = "comment-6294" class = "post">
				<p>@Tetsujin The blog post was to illustrate the background behind the decision   the help center is current and shows the same view. Maintaining a reference list is the same as maintaining a list of questions with a specific tag, except the latter is meta-tagging and shouldn't be used.</p>
			</div>
			<div id = "comment-6295" class = "post">
				<p>"Shouldn't" is what the community decides, not what legacy dictates. Maintaining a reference list, personal to each user or buried away on a meta-post, is not really the way to be able to recall a canonical database for commonly re-asked questions. Anyway, I've said my piece, I won't vote on this answer either way, I'll see what the community decides on patrick's yes/no vote.</p>
			</div>
			<div id = "comment-6296" class = "post">
				<p>@Tetsujin I definitely agree with the first statement, but it was the community that decided that meta-tagging was inappropriate. I'm agreeing with them not just because of the legacy but because I agree with the sentiment and the problems caused by the use of meta-tagging. Cheers for this meta discussion by the way!</p>
			</div>
			<div id = "comment-6297" class = "post">
				<p>Then maybe we don't use "canonical" for a tag but we do something similar to [this practice](http://meta.math.stackexchange.com/q/2498) at the Math SE site?  While they refer to these as 'meta tags', they seem like a step-up from a specific tag and a step-down from an overly generic "canonical" tag.  idk, I like the "canonical" tag but definitely see @grgarside's point, too.</p>
			</div>
			<div id = "comment-6298" class = "post">
				<p>Re: the math meta - these/this tag would never be stand-alone. It would be applied retrospectively. Ideally no-one would 'claim' it on a first answer to a new question, it would be added after some time, as a retroactive action on multi-posts on very similar issues. If it were possible, I'd prefer it to be an admin-only tag, to aid only this one problem, not randomly added to posts by idio... errmmm... users who want to claim a 'rank' [but I doubt that's possible, so some policing/discussion would be required.</p>
			</div>
			<div id = "comment-6299" class = "post">
				<p>@grgarside - I do agree with your sentiments overall, meta-tagging is not a "good thing". I'm seeing this as a 'quick search' for really 'special' answers that have the community behind them as 'good fit for many situations' QAs</p>
			</div>
			<div id = "comment-6300" class = "post">
				<p>I agree meta tags are generally bad, but there's always an exception. Consider the FAQ and featured tag in meta. That's a double dose of meta, but having one exception might be worth exploring. I need to think over your good points - imaginary +1 for putting them down in writing.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>