<html>
	<head>
		<title id = 'pagetitle'>New tag for controversial discussions?
		</title>
	<head>
	<body id = 'pagebody'><p>Martin has kindly suggested the use of <code>[poo-storm]</code> referenced <a href="https://apple.meta.stackexchange.com/questions/168/an-open-request-for-moderate-moderation">here.</a>  I believe the first recipient of this honorary tag should be the <a href="https://apple.meta.stackexchange.com/questions/2/can-one-ask-hackintosh-questions-on-apple-beta">hackintosh thread</a>.  All in favor?</p>


<h1>ANSWERS</h1>
		<p>Alas, it appears tag text cannot contain arbitrary unicode characters. So we are stuck with [poo-storm] as the tag and not[poo-storm] or some other cool permutation.</p>

<p>Perhaps John Greenleaf Whitter said it best with regard to this situation: "For all sad words of tongue and pen, The saddest are these, 'It might have been.'"</p>


	</body>
</html>