<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>New Close Process - Too localised
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1736" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::47</h3>
				<h2>New Close Process - Too localised</h2>
<p>Part of the new close process is to remove the Too Localized reason to close. The reasoning is given on <a href="https://meta.stackexchange.com/questions/185102/responding-to-your-too-localized-concerns">meta stackexchange</a>. The main reason is it is being misused on SO and a few other sites.</p>

<p>The question is what do we need to do on Ask Different, ask for TL to be kept or add more Off Topic reasons or what.....</p>

<p>I did a query for questions that we have closed as Too localised <a href="http://data.stackexchange.com/apple/query/120985/too-localised" rel="nofollow noreferrer">here</a></p>

<p>I think we have misuse of TL there are several that should be closed for non constructive or even left open but then we get ones that I think are of no use to anyone else</p>

<p><a href="https://apple.stackexchange.com/questions/13127/imac-10-1-2-reinstalled-over-10-1-5-now-not-working">Install 10.1.5</a> Just too old</p>

<p>Some iDisk questions that are now obselete as the service is gone - note that SO would not have this problem as old versions of code and compilers will be around and so a useful answer could be given</p>

<p><a href="https://apple.stackexchange.com/questions/8729/new-digitizer-stopped-working-after-30-seconds">Hardware related</a> just a specific case and we can't do more. </p>

<p>We also have momentary errors where a web site is down.</p>

<p>Also cases were OP then comments or edits saying the problem has disappeared.</p>

<p>Cases where an install has failed and shows the logs - SO has a close reason for just "Programming, but not Code dumps." do we need something similar</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3252" class = "post">
				<p>It's difficult to tell what is being asked here.</p>
			</div>
			<div id = "comment-3253" class = "post">
				<p>Mark, thanks for bringing this up. There is already a [discussion on meta](http://meta.apple.stackexchange.com/questions/1729/changes-are-coming-to-the-close-process-what-custom-reasons-might-help-this-sit) around the new close process (including close reasons), can I motivate you to contribute your ideas there?</p>
			</div>
			<div id = "comment-3254" class = "post">
				<p>@DanielLawson The summary is there will not be too localized - what should we be closing questions that we used to close as too localized as? - Also this is different to what is off topic</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1737"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The idea here is that</p>

<ul>
<li><p>questions outside the scope of what we hope to talk about on this site need to be closed or else the scope of the site becomes, de facto, something other than what we want it to be.</p></li>
<li><p>questions that are malformed should not be answered because people will interpret them in different ways and they will attract a variety of answers to essentially different questions. Questions that are unclear or omitting crucial information should be prevented from attracting answers until they are fixed. These questions must be promptly closed to avoid wasting resources developing good answers to something that isn't really the OP's question.</p></li>
<li><p>questions that are likely to attract debate and opinions rather that objective questions change the atmosphere of the site and need to be closed permanently.</p></li>
<li><p>questions that are otherwise acceptable but unlikely to help anyone other than the original poster are actually harder to identify that it first seems. The fact that a question is narrowly focused in time or space does not mean that it will not find an audience of appreciative readers. In the past, we have attempted to identify these posts and close them to focus answerers resources elsewhere. The new word from our StackExchange overlords is that we aren't closing these solely because we don't think the answer will help many people. Answerers are, of course, free to ignore such questions, and anyone can vote for questions they find helpful or against questions they find unhelpfully focused, but there's no burning need for them to be closed. If a question is off topic, close it as off topic. If the only problem is that the question only applies to one person for this particular three-day period, don't vote for it, don't answer it, and if you really need to, vote against it, but it doesn't need to be closed, apparently.</p></li>
</ul>

<p>Maybe we'll see a surge in a category of questions that needs to be declared off-topic, and we can deal with that when it happens, but at this point, I don't see any need for any changes other than simply following the new guidelines.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>