<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>New "No Research" close reason?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>New "No Research" close reason?</h2>
<p>From some brief comments in AD Chat, it appears we currently have one spare slot for a new close reason.</p>

<p>I would like to propose a 'zero research' type reason - though I'm open to suggestions on the precise wording.</p>

<p><a href="https://apple.meta.stackexchange.com/users/37797/grgarside">grgarside</a> mentioned that he already has a standard comment he uses for 'no research on code/applescript' type questions...</p>

<blockquote>
  <p>Questions asking for code must demonstrate a minimal understanding of the problem being solved. Include attempted solutions, why they didn't work, and the expected results.</p>
</blockquote>

<p>which I think is fine for that specific case, but I think we need something more generic to cover the 'really didn't bother' questions on all topics.</p>

<p>The <a href="https://apple.stackexchange.com/help/how-to-ask">How to Ask</a> page is already the best place to point these, as research is the opening section, but we have just the already very broad Basic Customer Support close reason pointing to it, which I don't think we need to add more sub-clauses to.</p>

<p>I'm assuming it would need to go in the off-topic closure, which feels a bit odd, but if <em>customer support</em> fits there, then I guess <em>no research</em> could too.</p>

<p>I propose something along the lines of </p>

<blockquote>
  <p>Questions must demonstrate a reasonable amount of research &amp; understanding of the problem being solved. Please edit to clearly describe your problem and the research done so far to solve it, including attempted solutions, why they didn't work, and the expected results.</p>
</blockquote>

<p>which is, of course, borrowing heavily from the above.</p>

<p>The floor is open for better suggestions.</p>

<p>Pic of CS close added, just for easy ref &amp; so we can see how it actually looks in situ, rather than just the text.</p>

<p><a href="https://i.stack.imgur.com/vugss.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/vugss.png" alt="enter image description here"></a></p>

<p><strong><em>Edit 29 May:</em></strong></p>

<p>I'm going to keep adding zero effort examples as I find them...</p>

<p><a href="https://apple.stackexchange.com/questions/285135/combine-merge-two-separate-image-files-of-the-same-thingnewspaper-page-taken-i">Combine/merge two separate image files of the same thing(newspaper page) taken in half</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Proposal ported to answer space for voting purposes/comments...</p>

<blockquote>
  <p>Questions must demonstrate a reasonable amount of research &amp; understanding of the problem being solved. Please edit to clearly describe your problem and the research done so far to solve it, including attempted solutions, why they didn't work, and the expected results.</p>
</blockquote>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'm tempted to try and roll this in to the Basic Customer support close reason. That close reason isn't here, so you can use this and other in the mean time:</p>

<blockquote>
  <p>I'm voting to close this question as off-topic because it's a <a href="https://apple.meta.stackexchange.com/questions/2508/why-were-not-customer-support-for-company-x-or-product-y">Basic Customer support question</a>. Please see the meta post linked above for details on how to proceed if you can edit the post and have the hold reviewed. </p>
</blockquote>

<p>We currently have these two custom options:</p>

<ul>
<li><p>Questions asking to <a href="http://meta.stackoverflow.com/questions/254393/">recommend or find a Mac, book, tool, tutorial or other off-site resource</a> are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit this question to <a href="http://apple.stackexchange.com/help/how-to-ask">describe the problem and what research</a> has been done so far to solve it.</p></li>
<li><p>Questions about software development are off-topic here, but can be asked on <a href="https://stackoverflow.com/about">Stack Overflow</a>.</p></li>
</ul>

<p>The Basic Customer Support wording is removed from the "off site" resource close reason since people felt odd choosing it when both didn't apply as well as people with closed questions didn't get that they had to only fix half of the problems - not address both "support" and "research" constraints.</p>

<p>Since we only get three custom close reasons - do we still need this second  "not enough research" reason?</p>

<p>I could see adding some of the proposed wording here to "basic customer support" close reason so we have used all 3 of 3 custom close reasons.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>We currently have a a whole bunch of things mixed into the custom close reasons</p>

<ul>
<li>Questions about software development</li>
<li>Basic customer support questions (where the question should first go to the vendor, as described in <a href="https://apple.meta.stackexchange.com/questions/2508/why-were-not-customer-support-for-company-x-or-product-y">Why we&#39;re not customer support for [company X or product Y]</a> </li>
<li>Recommend or find stuff (aka "please google for me")</li>
<li>Questions which don't show any research done, are basically "write this script for me" and similar (which often are hard to distinguish from "unclear what you are asking" or "too broad" type of question)</li>
</ul>

<p>This basically means that we have four different (but not totally unrelated) things squeezed into three close reasons. Which obviously doesn't work out so well sometimes.</p>

<p>One way forward would be to rely more on the fact that we already have meta posts explaining the reasoning behind the basic customer support and the recommendation close reason and use this to keep the close reason to the point. So we could go with</p>

<ul>
<li>Questions must demonstrate a reasonable amount of research &amp; understanding of the problem being solved. Please edit to clearly describe your problem and the research done so far to solve it, including attempted solutions, why they didn't work, and the expected results.</li>
<li><a href="https://apple.meta.stackexchange.com/questions/2508/why-were-not-customer-support-for-company-x-or-product-y">Basic customer support questions</a> and questions asking to <a href="http://meta.stackoverflow.com/questions/254393/">recommend or find a Mac, book, tool, tutorial or other off-site resource</a> are off-topic. Please refer to the information in the appropriate post linked above for details on how to proceed. If applicable you can edit your question and have the hold reviewed.</li>
<li>Questions about software development are off-topic here, but can be asked on <a href="https://stackoverflow.com/about">Stack Overflow</a></li>
</ul>

<p>We may need to have an AD-specific version of the recommendation meta-post for this, but that's something we can tackle if we agree on going with these three reasons.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>