<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>New "No Research" close reason?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3030" class = "post">
			<h2>Question</h2>
			<h3>Score ::17</h3>
			<h3>Views ::277</h3>
				<h2>New "No Research" close reason?</h2>
<p>From some brief comments in AD Chat, it appears we currently have one spare slot for a new close reason.</p>

<p>I would like to propose a 'zero research' type reason - though I'm open to suggestions on the precise wording.</p>

<p><a href="https://apple.meta.stackexchange.com/users/37797/grgarside">grgarside</a> mentioned that he already has a standard comment he uses for 'no research on code/applescript' type questions...</p>

<blockquote>
  <p>Questions asking for code must demonstrate a minimal understanding of the problem being solved. Include attempted solutions, why they didn't work, and the expected results.</p>
</blockquote>

<p>which I think is fine for that specific case, but I think we need something more generic to cover the 'really didn't bother' questions on all topics.</p>

<p>The <a href="https://apple.stackexchange.com/help/how-to-ask">How to Ask</a> page is already the best place to point these, as research is the opening section, but we have just the already very broad Basic Customer Support close reason pointing to it, which I don't think we need to add more sub-clauses to.</p>

<p>I'm assuming it would need to go in the off-topic closure, which feels a bit odd, but if <em>customer support</em> fits there, then I guess <em>no research</em> could too.</p>

<p>I propose something along the lines of </p>

<blockquote>
  <p>Questions must demonstrate a reasonable amount of research &amp; understanding of the problem being solved. Please edit to clearly describe your problem and the research done so far to solve it, including attempted solutions, why they didn't work, and the expected results.</p>
</blockquote>

<p>which is, of course, borrowing heavily from the above.</p>

<p>The floor is open for better suggestions.</p>

<p>Pic of CS close added, just for easy ref &amp; so we can see how it actually looks in situ, rather than just the text.</p>

<p><a href="https://i.stack.imgur.com/vugss.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/vugss.png" alt="enter image description here"></a></p>

<p><strong><em>Edit 29 May:</em></strong></p>

<p>I'm going to keep adding zero effort examples as I find them...</p>

<p><a href="https://apple.stackexchange.com/questions/285135/combine-merge-two-separate-image-files-of-the-same-thingnewspaper-page-taken-i">Combine/merge two separate image files of the same thing(newspaper page) taken in half</a></p>

			</div><h3>Comments</h3>
			<div id = "comment-6563" class = "comment">
				<p>Thanks! May I encourage you to post your proposal as a first answer so that people can vote on the text?</p>
			</div>
			<div id = "comment-6564" class = "comment">
				<p>@patrix - sure thing...</p>
			</div>
			<div id = "comment-6565" class = "comment">
				<p>I like where you're going with this, but can I just clarify where the one remaining slot is for closing questions? Is it on the first screen you get when you first go to close a question (i.e. the one listing 5 options, starting with _duplicate of..._ and finishing with _primarily opinion-based_? Or is it on the  Off-Topic screen instead (i.e. the one listing 4 options, starting with _Basic Customer Support...._ etc?</p>
			</div>
			<div id = "comment-6566" class = "comment">
				<p>Honestly, idk. @patrix mentioned it in Chat - "We do have one custom close reason left. If you want to pitch for it, please raise it on Meta" so hopefully he can fill us in on the details.</p>
			</div>
			<div id = "comment-6567" class = "comment">
				<p>@Monomeeth We can define up to three site-specific "Off Topic" close reasons (in addition to the standard ones for migration and "other"). Of these three there are currently only two in use.</p>
			</div>
			<div id = "comment-6568" class = "comment">
				<p>Generally speaking it might take some effort to clearly differentiate between the already existing "Customer Support" reason and the one proposed here. I have the feeling that they are indeed different, but we may need to reword the "Customer Support" reason as well to make the distinction more obvious.</p>
			</div>
			<div id = "comment-6569" class = "comment">
				<p>I've always actually thought the customer support one is a bit 'busy', trying to cover too much in one go. I guess it does partly cover the no research area - but it lumps CS in with 'opinionated' rather clumsily. I'm adding a pic of the CS close to my question for easy reference. perhaps this needs a revamp, in tandem with adding a new one??</p>
			</div>
			<div id = "comment-6571" class = "comment">
				<p>I agree! I've always felt the _Customer support_ reason was somewhat clumsy. I think it could definitely do with an edit.</p>
			</div>
			<div id = "comment-6572" class = "comment">
				<p>Essentially, if we leave the 'coding == SO' as it is, then we have 3 close reasons we need to squeeze into the space for 2... CS, shopping & no research. That might take some skilled wording.</p>
			</div>
			<div id = "comment-6573" class = "comment">
				<p>There are two types of coding questions: clearly off-topic ones (ObjC or Swift coding issue) and badly researched on-topic ones (AppleScript, shell scripts and such). The latter one fits onto the "no research" category and may need to be reflected in the wording somehow.</p>
			</div>
			<div id = "comment-6600" class = "comment">
				<p>I sure wish we had this on electronics.stackexchange.com. So many homework questions without effort.</p>
			</div>
			<div id = "comment-6607" class = "comment">
				<p>@BrianCarlton can you believe that there are sites that *have* that close reason and [want to get rid of it](https://chemistry.meta.stackexchange.com/q/3735/15751)?</p>
			</div>
			<div id = "comment-6611" class = "comment">
				<p>Very related status-declined Meta SE post: [Introduce a  general reference  close reason](https://meta.stackexchange.com/q/86043/270345), also see links in the related blog post [Are Some Questions Too Simple?](https://stackoverflow.blog/2011/02/22/are-some-questions-too-simple/) discussions in other sites.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-3030">Record</button>
				<button class="record-stop" id="stop-3030">Stop</button>
				<p id="recording-3030"></p>

<h1>Answers</h1>
			<br><div id = "ans-3031"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::18</h3>
				<p><p>Proposal ported to answer space for voting purposes/comments...</p>

<blockquote>
  <p>Questions must demonstrate a reasonable amount of research &amp; understanding of the problem being solved. Please edit to clearly describe your problem and the research done so far to solve it, including attempted solutions, why they didn't work, and the expected results.</p>
</blockquote>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6570" class = "comment">
				<p>+1 I like this. If I was going to change anything, it would only be to add something like _This will help the community to better provide a good answer to your problem._</p>
			</div>
			<div id = "comment-6576" class = "comment">
				<p>Great way to make this clear for votes. I"m tempted to first split the "basic troubleshooting" from the "off site resource" close reason first though.</p>
			</div>
			<div id = "comment-6577" class = "comment">
				<p>This may require further refinement, for sure. It was essentially a punt in the right direction rather than an attempt to fix it all in one go. Perhaps it can be resolved in comments/potential answers, then a final "this is what's going to happen" answer put in at the end...</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-3031">Record</button>
				<button class="record-stop" id="stop-3031">Stop</button>
				<p id="recording-3031"></p>
			<br><div id = "ans-3035"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>I'm tempted to try and roll this in to the Basic Customer support close reason. That close reason isn't here, so you can use this and other in the mean time:</p>

<blockquote>
  <p>I'm voting to close this question as off-topic because it's a <a href="https://apple.meta.stackexchange.com/questions/2508/why-were-not-customer-support-for-company-x-or-product-y">Basic Customer support question</a>. Please see the meta post linked above for details on how to proceed if you can edit the post and have the hold reviewed. </p>
</blockquote>

<p>We currently have these two custom options:</p>

<ul>
<li><p>Questions asking to <a href="http://meta.stackoverflow.com/questions/254393/">recommend or find a Mac, book, tool, tutorial or other off-site resource</a> are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit this question to <a href="http://apple.stackexchange.com/help/how-to-ask">describe the problem and what research</a> has been done so far to solve it.</p></li>
<li><p>Questions about software development are off-topic here, but can be asked on <a href="https://stackoverflow.com/about">Stack Overflow</a>.</p></li>
</ul>

<p>The Basic Customer Support wording is removed from the "off site" resource close reason since people felt odd choosing it when both didn't apply as well as people with closed questions didn't get that they had to only fix half of the problems - not address both "support" and "research" constraints.</p>

<p>Since we only get three custom close reasons - do we still need this second  "not enough research" reason?</p>

<p>I could see adding some of the proposed wording here to "basic customer support" close reason so we have used all 3 of 3 custom close reasons.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6581" class = "comment">
				<p>I'm with you so far - but it's shining examples like these - https://apple.stackexchange.com/questions/284653/please-give-me-any-email-id-for-creating-a-new-icloud-id & https://apple.stackexchange.com/questions/284650/icloud-storage-downgraded-to-5gb-for-no-reason which are classics in their own right. 1st is truly clueless, 2nd is definitely CS. I'd struggle to VTC the first as CS. It could go down as 'unclear', I guess.</p>
			</div>
			<div id = "comment-6582" class = "comment">
				<p>Ahhh... a late thought... can we customise the 'unclear' to include zero research? Thoughts?</p>
			</div>
			<div id = "comment-6593" class = "comment">
				<p>@Tetsujin We can't change the 'unclear what you are asking' reason just for AD</p>
			</div>
			<div id = "comment-6594" class = "comment">
				<p>@patrix - I had my suspicions it wouldn't be a moddable parameter.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-3035">Record</button>
				<button class="record-stop" id="stop-3035">Stop</button>
				<p id="recording-3035"></p>
			<br><div id = "ans-3044"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>We currently have a a whole bunch of things mixed into the custom close reasons</p>

<ul>
<li>Questions about software development</li>
<li>Basic customer support questions (where the question should first go to the vendor, as described in <a href="https://apple.meta.stackexchange.com/questions/2508/why-were-not-customer-support-for-company-x-or-product-y">Why we&#39;re not customer support for [company X or product Y]</a> </li>
<li>Recommend or find stuff (aka "please google for me")</li>
<li>Questions which don't show any research done, are basically "write this script for me" and similar (which often are hard to distinguish from "unclear what you are asking" or "too broad" type of question)</li>
</ul>

<p>This basically means that we have four different (but not totally unrelated) things squeezed into three close reasons. Which obviously doesn't work out so well sometimes.</p>

<p>One way forward would be to rely more on the fact that we already have meta posts explaining the reasoning behind the basic customer support and the recommendation close reason and use this to keep the close reason to the point. So we could go with</p>

<ul>
<li>Questions must demonstrate a reasonable amount of research &amp; understanding of the problem being solved. Please edit to clearly describe your problem and the research done so far to solve it, including attempted solutions, why they didn't work, and the expected results.</li>
<li><a href="https://apple.meta.stackexchange.com/questions/2508/why-were-not-customer-support-for-company-x-or-product-y">Basic customer support questions</a> and questions asking to <a href="http://meta.stackoverflow.com/questions/254393/">recommend or find a Mac, book, tool, tutorial or other off-site resource</a> are off-topic. Please refer to the information in the appropriate post linked above for details on how to proceed. If applicable you can edit your question and have the hold reviewed.</li>
<li>Questions about software development are off-topic here, but can be asked on <a href="https://stackoverflow.com/about">Stack Overflow</a></li>
</ul>

<p>We may need to have an AD-specific version of the recommendation meta-post for this, but that's something we can tackle if we agree on going with these three reasons.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6595" class = "comment">
				<p>That's looking good so far, for me. Removing the opinion/spam doesn't hurt at all imo & allows for both reasons to be more easily combined.</p>
			</div>
			<div id = "comment-6605" class = "comment">
				<p>Just a note - in the interim I'm VTC things like this as Too Broad - https://apple.stackexchange.com/questions/285225/how-to-make-a-applescript-that-sends-a-email-to-all-of-the-persons-contacts</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-3044">Record</button>
				<button class="record-stop" id="stop-3044">Stop</button>
				<p id="recording-3044"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>