<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>New tag for controversial discussions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-169" class = "post">
			<h2>Question</h2>
			<div id="vote-169" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 264</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>New tag for controversial discussions?</h2>
<p>Martin has kindly suggested the use of <code>[poo-storm]</code> referenced <a href="https://apple.meta.stackexchange.com/questions/168/an-open-request-for-moderate-moderation">here.</a>  I believe the first recipient of this honorary tag should be the <a href="https://apple.meta.stackexchange.com/questions/2/can-one-ask-hackintosh-questions-on-apple-beta">hackintosh thread</a>.  All in favor?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-169">Load Comments</button></br>
			<div id = "commentsection-169" class = 'collapse'>
			<div id = "comment-266" class = "comment">
				<p>hahahahaha well, I like to see the suggestion taken into consideration, it could be a nice indicator when a thread is going to smell bad :)</p>
			</div>
			<div id = "comment-273" class = "comment">
				<p>For the meta site? I think so. :-)</p>
			</div>
			<div id = "comment-274" class = "comment">
				<p>yes for the meta site :)</p>
			</div>
			<div id = "comment-275" class = "comment">
				<p>and.... done :P</p>
			</div>
			<div id = "comment-1113" class = "comment">
				<p>There's an emoji for that! 
PILE OF POO
Unicode: U+1F4A9 (U+D83D U+DCA9), UTF-8: F0 9F 92 A9</p>
			</div>
			<div id = "comment-1148" class = "comment">
				<p>@bmike LOL you get the credit for [this](http://apple.stackexchange.com/questions/17759/what-tiny-thing-in-lion-makes-you-smile-or-has-caught-you-off-guard/19945#19945) and [this](http://twitter.com/grahamperrin/status/98772980351500288) and [this](http://identi.ca/notice/80281375)</p>
			</div>
			<div id = "comment-1149" class = "comment">
				<p>@graham that's what I call winning! Thanks for the nod - I'm grinning ear to ear.</p>
			</div>
			<div id = "comment-1179" class = "comment">
				<p>@bmike,@Graham: absolutely beautiful.  truly fantastic.  there are no words.</p>
			</div>
			<div id = "comment-1485" class = "comment">
				<p>so how would we go about putting an icon inside the tag some tags on stackoverflow?</p>
			</div>
			<div id = "comment-1715" class = "comment">
				<p>It's not an icon; it's just a character, right? Not all browsers will display it, but its just text. So instead of [poo-storm], use [poo-storm]</p>
			</div>
			<div id = "comment-1716" class = "comment">
				<p>'Doh. It's text, but SO's engine won't take random unicode in tag text. So no  tag. :-(</p>
			</div>
			</div>
				<textarea id = "speech-169" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-169">
					<img id="start_img-169" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-169">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-946"  class = "post">
				<h2>Answer</h2>
			<div id="vote-946" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Alas, it appears tag text cannot contain arbitrary unicode characters. So we are stuck with [poo-storm] as the tag and not[poo-storm] or some other cool permutation.</p>

<p>Perhaps John Greenleaf Whitter said it best with regard to this situation: "For all sad words of tongue and pen, The saddest are these, 'It might have been.'"</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-946" class = 'collapse'>
			</div>
				<textarea id = "speech-946" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-946">
					<img id="start_img-946" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-946">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>