<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>No more elections?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2989" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::133</h3>
				<h2>No more elections?</h2>
<p>After digging around on the badges page, I came across the fact that there hasn't been an election on the site since 2013. Is there a reason for that or is it just an error?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2989">Load Comments</button></br>
			<div id = "commentsection-2989" class = 'collapse'>
			<div id = "comment-6485" class = "comment">
				<p>All past elections are listed at https://apple.stackexchange.com/election (no need to dig in the badges). There is also a [network-wide page](http://elections.stackexchange.com/) which shows that 4 sites went without a mod election for longer than [apple.se]: namely, [programmers.se], [drupal.se], [tex.se], and [gamedev.se]</p>
			</div>
			<div id = "comment-6486" class = "comment">
				<p>@NormalHuman - Ok so tell me if I'm wrong here, but here is what I have gathered: There are 9 mod spots, 7 of which are currently occupied. Moderators can hold their positions as long as they like, and an election is triggered whenever there are 3 open spots. Does that all sound right?</p>
			</div>
			<div id = "comment-6487" class = "comment">
				<p>Elections are triggered when the workload on the mod team gets too big. With the growing number of high-rep users the load is actually decreasing so there isn't much load on the mods right now.</p>
			</div>
			<div id = "comment-6488" class = "comment">
				<p>@Jackson1442 The "9 mod spots" part is incorrect. There is no target number of moderators; whether more are needed depends on their workload, and that's when elections happen (as patrix wrote above).</p>
			</div>
			<div id = "comment-6489" class = "comment">
				<p>@NormalHuman I just gathered that from the system-wide elections page you referred me to. It says there are two open spots, so there must be a max of nine to prevent mass chaos.</p>
			</div>
			<div id = "comment-6490" class = "comment">
				<p>I didn't see a reference to 9 mod slots. Are you refering to the list of past elections on https://apple.stackexchange.com/election? This is just a list of past and current moderators, it doesn't imply a fixed number (on the contrary, don't think there ever have been more than five or six active mods on AD at any point in time).</p>
			</div>
			<div id = "comment-6491" class = "comment">
				<p>the 9 mod slots is from http://elections.stackexchange.com/</p>
			</div>
			<div id = "comment-6492" class = "comment">
				<p>Ah: "moderator candidates: 7; moderator positions available: 2"?</p>
			</div>
			<div id = "comment-6493" class = "comment">
				<p>right, right right... when you say like that, you make it more clear that there are seven running for 2 spots :D</p>
			</div>
			<div id = "comment-6494" class = "comment">
				<p>@patrix ooooooohhhhhh ok the text was out of line bc of my screen scaling or something and it looked like it said 7 moderators, 2 positions available</p>
			</div>
			</div>
				<textarea id = "speech-2989" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2989">
					<img id="start_img-2989" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2990"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>Just to answer this and summarize what already came up in the comments:</p>

<ul>
<li>Different SE sites have different number of moderators, there is no fixed number of moderator slots. The size of the moderator team is primarily driven by the overall workload of moderating the site (which again depends on the activity level of the site itself, the number of higher-rep users doing mod duties etc.). StackOverflow currently has 22 moderators :-) </li>
<li><p><a href="https://meta.stackexchange.com/questions/99512/when-do-moderator-elections-take-place">When do moderator elections take place?</a> has more detail, especially</p>

<blockquote>
  <p>Most elections are scheduled as a result of moderators reaching out to Stack Exchange to ask for additional help.</p>
</blockquote></li>
<li>Also, <a href="https://meta.stackexchange.com/questions/278633/moderators-are-elected-for-life-yet-we-hold-regular-elections-how-come">Moderators are elected for life, yet  We hold regular elections . How come?</a> might give some more information on this</li>
</ul>

<p>Specifically for AskDifferent, the mod workload is rather low, especially thanks to all the higher-rep users who take a lot of work off our shoulders. Unless this changes (and/or unless one or two of the current mods decide to step down) there isn't an urgent need to grow the moderator team.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2990">Load Comments</button></br>
			<div id = "commentsection-2990" class = 'collapse'>
			<div id = "comment-6495" class = "comment">
				<p>One of the things I really like about this site is, as stated in the help pages, _There is little difference between users with high reputation and   moderators. That is intentional. We don t run this site. The community does_. Thanks for your answer - it confirms the site is working well and it's good to know that as we build reputation we're genuinely able to contribute to the maintenance of this site. :)</p>
			</div>
			<div id = "comment-6497" class = "comment">
				<p>@Monomeeth Absolutely! From a mod point of view the site seems to run on auto-pilot sometimes :-)</p>
			</div>
			<div id = "comment-6498" class = "comment">
				<p>I want to chime in as well. The moderation by many people without diamonds is superb, timely, kind and direct. We are seeing the results of that clearly as the tools to handle flags and locate spam have kept ahead of the small minority that is here to cause trouble. The moderation needed lately is generally pointing people to meta discussions.</p>
			</div>
			</div>
				<textarea id = "speech-2990" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2990">
					<img id="start_img-2990" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>