<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>No more elections?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>No more elections?</h2>
<p>After digging around on the badges page, I came across the fact that there hasn't been an election on the site since 2013. Is there a reason for that or is it just an error?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Just to answer this and summarize what already came up in the comments:</p>

<ul>
<li>Different SE sites have different number of moderators, there is no fixed number of moderator slots. The size of the moderator team is primarily driven by the overall workload of moderating the site (which again depends on the activity level of the site itself, the number of higher-rep users doing mod duties etc.). StackOverflow currently has 22 moderators :-) </li>
<li><p><a href="https://meta.stackexchange.com/questions/99512/when-do-moderator-elections-take-place">When do moderator elections take place?</a> has more detail, especially</p>

<blockquote>
  <p>Most elections are scheduled as a result of moderators reaching out to Stack Exchange to ask for additional help.</p>
</blockquote></li>
<li>Also, <a href="https://meta.stackexchange.com/questions/278633/moderators-are-elected-for-life-yet-we-hold-regular-elections-how-come">Moderators are elected for life, yet  We hold regular elections . How come?</a> might give some more information on this</li>
</ul>

<p>Specifically for AskDifferent, the mod workload is rather low, especially thanks to all the higher-rep users who take a lot of work off our shoulders. Unless this changes (and/or unless one or two of the current mods decide to step down) there isn't an urgent need to grow the moderator team.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>