<html>
	<head>
		<title id = 'pagetitle'>No Voice Memos on the iPad?
		</title>
	<head>
	<body id = 'pagebody'><p>iPhones have a dedicated Voice Memos app. iPads don't, despite running the same OS and also featuring a built-in microphone. </p>

<p>As an addendum to <a href="https://apple.stackexchange.com/questions/250654/voice-memos-on-the-ipad">this</a> question (which was suggested I move to Meta as per this site's policy), I am super curious what the logic for not making Voice Memos available on the iPad could have been. I was baffled me when I realized it's not available for iPad given that Apple devices are usually designed to work out of the box for a broad range of possible use cases. So Apple must have had a very specific reason for not including it on the iPad. </p>

<p>So if there's anyone who would be able to help me understand what that reason could have been that would be much appreciated! </p>


<h1>ANSWERS</h1>
		<p>Meta is for discussions about the site itself, not for questions which are off-topic on the main site. In your case, asking about why Apple does or doesn't do something is off-topic in general, as explained in <a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a>:</p>

<blockquote>
  <p>Please refrain from asking about the following topics as questions with these core subjects are generally closed or deleted:</p>
  
  <ul>
  <li>Pre-release hardware or asking how/why Apple does  </li>
  <li>[...]</li>
  </ul>
  
  <p>[...] specific questions about what Apple [did|does|thinks|might do] are not helpful in a Q&amp;A setting since they lack a practical problem to be solved.</p>
</blockquote>


<p>I put a lock on the main question since asking three questions in one muddies the waters. </p>

<p>Looking at this revision:</p>

<p><a href="https://apple.stackexchange.com/revisions/250654/2">https://apple.stackexchange.com/revisions/250654/2</a></p>

<p>Question 1 - Could be edited into a great question. "Is a jailbreak to add Apple voice memo possible on hardware X at iOS version Y?" It is practical and will get yes answers, maybe answers and no answers. The voting and comments will quickly establish some answers relating to voice memo on iPad. </p>

<p>Question 2 - asking for lists of X is covered as <a href="https://apple.meta.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation">How should I ask about getting a software recommendation?</a></p>

<p>Question 3 - off topic - Patrix covers this well</p>

<p>Just keep in mind - even asking several on-topic, great questions together is problematic at best. Once each question is clearly phrased, the site can vote to close or answer. If somethings is voted to close, you can ask here about how or whether to edit it so that it might get reopen votes. </p>


	</body>
</html>