<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Non-answers disguised as answers, and non-questions disguised as questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Non-answers disguised as answers, and non-questions disguised as questions</h2>
<p>We seem to be having more and more of these types of posts lately.  <a href="https://apple.stackexchange.com/questions/6078/disable-the-disk-was-not-ejected-properly-message">"Answers"</a> where the user is really providing commentary on the question asked, or opinions on whether or not the scenario in question is "good" or "right" (the answers in the linked question were converted to comments, so you may or may not see them, depending on your rep).  <a href="https://apple.stackexchange.com/questions/3200/why-itunes-doesnt-automatically-refresh-the-media-library">"Questions"</a> where the user is actually critiquing a particular design choice or implementation that they do not personally agree with.</p>

<p>How should we deal with these types of posts?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Moderators now have the ability to convert an answer to a comment, so it's pretty easy to fix the "non-answer disguised as answer" problem, we just need users to flag answers that should be comments and/or deleted.</p>

<p>Given your example, I'm not sure what you mean by "non-questions", as the questions you linked to seem OK. Part of the process of answering a question is to determine what the user actually means and wants, and it's fine for answers to address the problem or issue rather than to provide a solution to the actual question.</p>

<p>Also, I disagree that "No, it can't be done" isn't an answer. If something certainly cannot be done, that's the correct answer, but again in addition to answering the question, you should also try to see if you can find an alternative solution that solves all or part of the underlying issue.</p>

<p>Of course, there are <a href="https://apple.stackexchange.com/posts/4871/revisions">some questions</a> where the asker isn't participating in good faith, but these are rare.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>If a post doesn't solve or answer the OP's question or issue, I think it belongs in the comment section. For questions, following the guidelines in the FAQ and the great subjective questions post will probably keep away the close votes.</p>

<h3>Questions</h3>

<p>Even if someone absolutely loathes the software they're asking the question about, there's no reason the question can't be made objective and the commentary left out. Rants belong on chat, meta, or (sparingly) the comments.  Putting this kind of rhetoric in the question only serves to create a negative atmosphere.  Even if there is a legitimate question hiding beneath the commentary, people tend to see it as a rant and arguments ensue.</p>

<h3>Answers</h3>

<p>I think sometimes a user has a strong opinion about whether a particular approach is the right way to solve a problem, and then they share that opinion as an "answer", even though their post is really just criticism of the idea presented in the question.  </p>

<p>Many times I think the information in these answers could be valuable to the topic... but I strongly disagree that just because something is related and provides value that it should be an "answer".  </p>

<p>If a post is trying to persuade, it's a comment(ary).  Maybe the comment will change the OPs mind about the issue, in which case the question could be edited.  However, it seems that some people just ignore what the OP wants and post what they think they should want.</p>

<p>For stuff that really should be shared even though it doesn't answer the question, I would say try to fit it in one or two comments first. Use an answer only as a last resort when some information absolutely will not fit in a comment post (or two).</p>

<p>"I don't think so", or "No, it can't be done" are not answers to a question, and should be comments...  Unless the question is actually something along the lines of "Can x be done?", posting "No" as an answer without any evidence isn't very helpful IMO.  You can't <strong>prove</strong> a negative, but you can at least provide some reasoning (links, references, alternatives) so it doesn't come off as personal opinion in those cases where it's pretty clear that there is currently no solution.</p>

<h3>Why I think this matters</h3>

<p>I don't want to see negativity seeping into the community.  I don't want to see holy-wars, and I think allowing this kind of stuff to start even at a small level hurts the site.  If people start to get it in their head that their questions will be criticized, they'll go elsewhere seeking solutions.  </p>

<p>Personally, I plan to continue utilizing the answer to comment moderator tool whenever I encounter blatant examples of commentary disguised as answers.  I've actually been pretty conservative about it and left a lot of posts that I think fall into this category but weren't extremely blatant.  It's not like the posts are being deleted, the information is still there.  If the person who posted it disagrees, they can always create a new post that actually answers the question, or flag it for review, post on meta, chat, etc... </p>

<p>As an aside, I have personal experience with <a href="https://apple.stackexchange.com/questions/1588/is-there-are-place-to-report-missing-incorrect-album-art-to-the-itunes-team">posting commentary as an "answer"</a>.  It only succeeded in ticking off the OP.  I quickly regretted posting it in the first place.  My "answer" received an upvote, but personally I don't feel it or the reputation I gained from it is deserved.  The only reason I didn't delete it at the time was because I felt it provided some good information related to the topic and it was too long to be a comment.  However, after thinking about it some more because of this topic, I removed it and recalced my own score.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>