<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Non-answers disguised as answers, and non-questions disguised as questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-246" class = "post">
			<h2>Question</h2>
			<div id="vote-246" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 306</p>
			</div>
				<h2>Non-answers disguised as answers, and non-questions disguised as questions</h2>
<p>We seem to be having more and more of these types of posts lately.  <a href="https://apple.stackexchange.com/questions/6078/disable-the-disk-was-not-ejected-properly-message">"Answers"</a> where the user is really providing commentary on the question asked, or opinions on whether or not the scenario in question is "good" or "right" (the answers in the linked question were converted to comments, so you may or may not see them, depending on your rep).  <a href="https://apple.stackexchange.com/questions/3200/why-itunes-doesnt-automatically-refresh-the-media-library">"Questions"</a> where the user is actually critiquing a particular design choice or implementation that they do not personally agree with.</p>

<p>How should we deal with these types of posts?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-246">Load Comments</button></br>
			<div id = "commentsection-246" class = 'collapse'>
			<div id = "comment-480" class = "comment">
				<p>I'm confused... Is this question a question? I don't see a "?" above. Perhaps I should be writing this as an answer, not a comment :).</p>
			</div>
			<div id = "comment-481" class = "comment">
				<p>@mankoff: you're not confused, it's definitely not a question.  More of a rant :)</p>
			</div>
			<div id = "comment-491" class = "comment">
				<p>yes, my reaction here is.. what is the question? What are you proposing? This is unclear.</p>
			</div>
			<div id = "comment-492" class = "comment">
				<p>I suppose I should have posted my own thoughts on the subject as an answer rather than part of the question. edited :)</p>
			</div>
			<div id = "comment-493" class = "comment">
				<p>oooooooh sweet irony.</p>
			</div>
			</div>
				<textarea id = "speech-246" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-246">
					<img id="start_img-246" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-247"  class = "post">
				<h2>Answer</h2>
			<div id="vote-247" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Moderators now have the ability to convert an answer to a comment, so it's pretty easy to fix the "non-answer disguised as answer" problem, we just need users to flag answers that should be comments and/or deleted.</p>

<p>Given your example, I'm not sure what you mean by "non-questions", as the questions you linked to seem OK. Part of the process of answering a question is to determine what the user actually means and wants, and it's fine for answers to address the problem or issue rather than to provide a solution to the actual question.</p>

<p>Also, I disagree that "No, it can't be done" isn't an answer. If something certainly cannot be done, that's the correct answer, but again in addition to answering the question, you should also try to see if you can find an alternative solution that solves all or part of the underlying issue.</p>

<p>Of course, there are <a href="https://apple.stackexchange.com/posts/4871/revisions">some questions</a> where the asker isn't participating in good faith, but these are rare.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-247">Load Comments</button></br>
			<div id = "commentsection-247" class = 'collapse'>
			<div id = "comment-469" class = "comment">
				<p>@KyleCronin: non-questions aren't as big of a problem. The first link is meant as an example of non-answers, though they've been converted to comments. I didn't use the question you mentioned because it has had enough attention and I figured it was pretty blatant anyway.  However, the question I linked from Lorenzo, taken in the context of the comments he posted after answers, is IMO a thinly veiled rant.  There is no particular task he is asking for help in accomplishing. I see almost no difference between it and the other, albeit longer, rant you linked.</p>
			</div>
			<div id = "comment-470" class = "comment">
				<p>@calavera True, there is some language ("design flaw", etc) that suggests that it's a bit of a rant, so it would probably be a good idea to edit the question a bit to make it more objective.</p>
			</div>
			<div id = "comment-471" class = "comment">
				<p>@KyleCronin: That's exactly what I was pushing for when i closed it originally, i even said so in a comment at that time.  Instead of editing it to make the question more clear, Lorenzo instead took it as an opportunity to call me a fanboy :P</p>
			</div>
			<div id = "comment-472" class = "comment">
				<p>@calavera ...and I have.</p>
			</div>
			<div id = "comment-473" class = "comment">
				<p>@KyleCronin: and... reopened :)</p>
			</div>
			<div id = "comment-474" class = "comment">
				<p>@calavera It's probably easier and less confrontational to just edit out parts of the post that are ranting than it is to close the post and ask the OP to do it</p>
			</div>
			<div id = "comment-475" class = "comment">
				<p>@KyleCronin: Not necessarily... we all saw what happened when we tried to do that with the question you linked.  Also, in this case, I have a bit of a conflict of interest.  Since Lorenzo never clearly stated what he wanted to do, we were left to assume.  Since I had already provided an answer that gave specific suggestions, any edits to the question on my part could be seen as forming the question around my answer...</p>
			</div>
			<div id = "comment-476" class = "comment">
				<p>@calavera Ah, I've been there before. In cases like that, just flag it or post in the mod chat that you'd like a different mod to take a look at it.</p>
			</div>
			<div id = "comment-479" class = "comment">
				<p>@KyleCronin: there's also the question of whether we should be taking the time to fix people's questions when they refuse to.  It seems like kind of a waste of energy in the long run, especially since we don't know what they really want (other than to provoke) in the first place.</p>
			</div>
			<div id = "comment-517" class = "comment">
				<p>and... the OP then receives reputation for a question they didn't really write.  Why should someone be allowed to post a rant, have it edited by a mod or other user, and then receive upvotes based on someone else's cleanup?  If we're really going to clean up peoples rants, then afterward they should be converted to community wiki so the OP doesn't get to leech reputation.  Even if the underlying question is good enough that it should stay on the site, it doesn't necessarily follow that a trollish original question should earn the asker new privileges in the community.</p>
			</div>
			</div>
				<textarea id = "speech-247" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-247">
					<img id="start_img-247" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-256"  class = "post">
				<h2>Answer</h2>
			<div id="vote-256" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If a post doesn't solve or answer the OP's question or issue, I think it belongs in the comment section. For questions, following the guidelines in the FAQ and the great subjective questions post will probably keep away the close votes.</p>

<h3>Questions</h3>

<p>Even if someone absolutely loathes the software they're asking the question about, there's no reason the question can't be made objective and the commentary left out. Rants belong on chat, meta, or (sparingly) the comments.  Putting this kind of rhetoric in the question only serves to create a negative atmosphere.  Even if there is a legitimate question hiding beneath the commentary, people tend to see it as a rant and arguments ensue.</p>

<h3>Answers</h3>

<p>I think sometimes a user has a strong opinion about whether a particular approach is the right way to solve a problem, and then they share that opinion as an "answer", even though their post is really just criticism of the idea presented in the question.  </p>

<p>Many times I think the information in these answers could be valuable to the topic... but I strongly disagree that just because something is related and provides value that it should be an "answer".  </p>

<p>If a post is trying to persuade, it's a comment(ary).  Maybe the comment will change the OPs mind about the issue, in which case the question could be edited.  However, it seems that some people just ignore what the OP wants and post what they think they should want.</p>

<p>For stuff that really should be shared even though it doesn't answer the question, I would say try to fit it in one or two comments first. Use an answer only as a last resort when some information absolutely will not fit in a comment post (or two).</p>

<p>"I don't think so", or "No, it can't be done" are not answers to a question, and should be comments...  Unless the question is actually something along the lines of "Can x be done?", posting "No" as an answer without any evidence isn't very helpful IMO.  You can't <strong>prove</strong> a negative, but you can at least provide some reasoning (links, references, alternatives) so it doesn't come off as personal opinion in those cases where it's pretty clear that there is currently no solution.</p>

<h3>Why I think this matters</h3>

<p>I don't want to see negativity seeping into the community.  I don't want to see holy-wars, and I think allowing this kind of stuff to start even at a small level hurts the site.  If people start to get it in their head that their questions will be criticized, they'll go elsewhere seeking solutions.  </p>

<p>Personally, I plan to continue utilizing the answer to comment moderator tool whenever I encounter blatant examples of commentary disguised as answers.  I've actually been pretty conservative about it and left a lot of posts that I think fall into this category but weren't extremely blatant.  It's not like the posts are being deleted, the information is still there.  If the person who posted it disagrees, they can always create a new post that actually answers the question, or flag it for review, post on meta, chat, etc... </p>

<p>As an aside, I have personal experience with <a href="https://apple.stackexchange.com/questions/1588/is-there-are-place-to-report-missing-incorrect-album-art-to-the-itunes-team">posting commentary as an "answer"</a>.  It only succeeded in ticking off the OP.  I quickly regretted posting it in the first place.  My "answer" received an upvote, but personally I don't feel it or the reputation I gained from it is deserved.  The only reason I didn't delete it at the time was because I felt it provided some good information related to the topic and it was too long to be a comment.  However, after thinking about it some more because of this topic, I removed it and recalced my own score.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-256" class = 'collapse'>
			</div>
				<textarea id = "speech-256" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-256">
					<img id="start_img-256" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>