<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Novices Guide to Using The Terminal Command?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1720" class = "post">
			<h2>Question</h2>
			<div id="vote-1720" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 107</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Novices Guide to Using The Terminal Command?</h2>
<p><strong>Suitability Of Question</strong></p>

<p>I liked to ask a question regarding using the Terminal Command. I have never used the terminal command (so obviously am a bit anxious), but alot of answers here at Ask Different, gives ways of solving the problem(s) with a terminal hack (if that is the correct terminology).</p>

<p>I want to ideally know how to use Terminal or be introduced to it (or am I really being scared for nothing) ?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1720" class = 'collapse'>
			</div>
				<textarea id = "speech-1720" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1720">
					<img id="start_img-1720" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1720">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1721"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1721" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Simon, this is a great question for the main site. It will be even better if you put to words one or two things that have caused you to be anxious. It doesn't matter if they are good reasons, bad reasons, but will help others searching on google for those exact concerns to find your question and seek help like you have.</p>

<p>Let's work out the details of your question here on meta so that you have a very good experience asking how to learn on the main site.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1721">Load Comments</button></br>
			<div id = "commentsection-1721" class = 'collapse'>
			<div id = "comment-3214" class = "comment">
				<p>Its just I've never used it so don't really know how to start, or if I enter the text incorrectly, how to easily change the correction....If I'm making sense. Or to reverse the terminal hack if necessary.</p>
			</div>
			<div id = "comment-3215" class = "comment">
				<p>Perfect, Let's pick one question on the main site you wonder about or one task you'd like to learn how to do.</p>
			</div>
			<div id = "comment-3216" class = "comment">
				<p>Thats fine, here one http://apple.stackexchange.com/questions/91722/disable-dashboard-in-mountain-lion</p>
			</div>
			<div id = "comment-3217" class = "comment">
				<p>Perfect - so I'm going to be a bit dumb now. Rather than guess what you want - are you curious how to use the command to make that change or do you want to learn how the answerer knew what to do?</p>
			</div>
			<div id = "comment-3218" class = "comment">
				<p>Primarily how to use the command in order to make the required change.</p>
			</div>
			<div id = "comment-3219" class = "comment">
				<p>Perfect! You have a great case to ask for help in understanding how to accomplish that task. You can say you want to implement this and don't know where to start. We can take it from there. Link to your question here if I miss it or it doesn't get a good answer / runs into issues.</p>
			</div>
			<div id = "comment-3237" class = "comment">
				<p>Still haven't had time this weekend, shall get round to it during the coming week.</p>
			</div>
			<div id = "comment-3238" class = "comment">
				<p>No rush - the site will be here in a week and hopefully in a month too /</p>
			</div>
			<div id = "comment-3239" class = "comment">
				<p>I hope it will be here for many years to come :)</p>
			</div>
			</div>
				<textarea id = "speech-1721" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1721">
					<img id="start_img-1721" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1721">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>