<html>
	<head>
		<title id = 'pagetitle'>Novices Guide to Using The Terminal Command?
		</title>
	<head>
	<body id = 'pagebody'><p><strong>Suitability Of Question</strong></p>

<p>I liked to ask a question regarding using the Terminal Command. I have never used the terminal command (so obviously am a bit anxious), but alot of answers here at Ask Different, gives ways of solving the problem(s) with a terminal hack (if that is the correct terminology).</p>

<p>I want to ideally know how to use Terminal or be introduced to it (or am I really being scared for nothing) ?</p>


<h1>ANSWERS</h1>
		<p>Simon, this is a great question for the main site. It will be even better if you put to words one or two things that have caused you to be anxious. It doesn't matter if they are good reasons, bad reasons, but will help others searching on google for those exact concerns to find your question and seek help like you have.</p>

<p>Let's work out the details of your question here on meta so that you have a very good experience asking how to learn on the main site.</p>


	</body>
</html>