<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Novices Guide To Using Apple Script?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Novices Guide To Using Apple Script?</h2>
<p>I would like to ask a question on the main site regarding implementing/using <strong>Apple Script</strong>:</p>

<p>I have noticed many answers to questions here at Ask Different, give an alternative method to solving a problem, which appears (in my eyes at least), to be less straightforward, than a simple keyboard shortcut, third party app usage, system preference change etc... Many of those answers involving something called <strong>Apple Script</strong>.</p>

<p>Eg <a href="https://apple.stackexchange.com/questions/94548/how-to-close-all-finder-inspector-windows">How to Close All Finder Inspector Windows</a></p>

<p>In this particular question one answer gives a simple keyboard shortcut to solve the problem, whilst another persons answer uses the "more complicated" <strong>Apple Script</strong>.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Since we're on meta, let's discuss how you might ask a question like:</p>

<p>Q What exactly is Apple Script ?</p>

<p>How do I implement the necessary change using Apple Script in order for the desired outcome to be achieved ?</p>

<p>On the main site. Ideally, you would follow our guide on asking a good subjective question. Focus on the specifics of solving one particular question realizing that asking people how to learn a vague topic is almost always a good reason to close a question for improvement.</p>

<p>So - I would say you have to do some homework to nail down what "the necessary change is" and be very brief and clear about "the desired outcome" so that you can know if </p>

<p>a) an expert has any chance of knowing what problem you are facing and </p>

<p>b) it's not simply a plea for knowledge and free training (or worse, getting someone else to do your work for you).</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>