<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Number I've participated in Tags hard to read
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1971" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::23</h3>
				<h2>Number I've participated in Tags hard to read</h2>
<p>This is on both Meta and AskDifferent </p>

<p><img src="https://i.stack.imgur.com/zqJKF.png" alt="enter image description here"></p>

<p>Maybe Mr. CSS can search for the same color being used at multiple places if it occurs more than once :)</p>

<p><strong>EDIT:</strong> This class is missing as it is available <a href="https://apple.meta.stackexchange.com/tags">here</a></p>

<pre><code>    #tags_list .item-multiplier {
color: #666;
}
</code></pre>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1976"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I have pushed a darkened text to dev. The change will be on live after our next production build.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>