<html>
	<head>
		<title id = 'pagetitle'>Number I've participated in Tags hard to read
		</title>
	<head>
	<body id = 'pagebody'><p>This is on both Meta and AskDifferent </p>

<p><img src="https://i.stack.imgur.com/zqJKF.png" alt="enter image description here"></p>

<p>Maybe Mr. CSS can search for the same color being used at multiple places if it occurs more than once :)</p>

<p><strong>EDIT:</strong> This class is missing as it is available <a href="https://apple.meta.stackexchange.com/tags">here</a></p>

<pre><code>    #tags_list .item-multiplier {
color: #666;
}
</code></pre>


<h1>ANSWERS</h1>
		<p>I have pushed a darkened text to dev. The change will be on live after our next production build.</p>


	</body>
</html>