<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>NYC area users - join us to celebrate Steve Jobs' Birthday!
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1140" class = "post">
			<h2>Question</h2>
			<div id="vote-1140" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 200</p>
			</div>
				<h2>NYC area users - join us to celebrate Steve Jobs' Birthday!</h2>
<p>Come join Ask Different and <a href="http://drbrendan.com/" rel="nofollow">Dr. Brendan</a> for a party to honor Steve Jobs on his birthday. The party will start around 3 pm EST, and will take place outside the flagship Apple Store in NYC (59th Street and Fifth Avenue). </p>

<p>There will be black turtlenecks, cupcakes, and dancers. For more information, see this <a href="http://www.nypost.com/p/news/business/fans_day_fete_for_jobs_HQzFUcSxhYb531oFfG6kmJ" rel="nofollow">New York Post article</a> covering the event. This event was also <a href="http://video.cnbc.com/gallery/?video=3000075169" rel="nofollow">covered by CNBC</a> this morning, so we're hoping for a great turnout! </p>

<p>If you can't make it to the event, we will be live tweeting it from @StackApple, so follow along!</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1140">Load Comments</button></br>
			<div id = "commentsection-1140" class = 'collapse'>
			<div id = "comment-2065" class = "comment">
				<p>I'm sorry, but this seems more than a little exploitive of the memory of Steve Jobs.</p>
			</div>
			<div id = "comment-2066" class = "comment">
				<p>@KyleCronin SJ's vision permeates tech culture and I prefer to celebrate this in a positive way!</p>
			</div>
			<div id = "comment-2067" class = "comment">
				<p>@SethRogers I have no problem with people celebrating Steve Jobs in their own way, though in this case I think it's a bit tasteless. However, this is ostensibly a promotion for Stack Exchange - it was mentioned in the NY Post article and the CNBC interview; you even had a Stack Exchange shirt on. And that's what I object to - using the memory of Steve Jobs, who has only been dead a few *months* to promote the company and this site.</p>
			</div>
			<div id = "comment-2068" class = "comment">
				<p>it's a birthday party for a visionary we all admired @KyleCronin. Point taken though. Thanks!</p>
			</div>
			<div id = "comment-2069" class = "comment">
				<p>The CNBC interview is all about what big fans Seth and Brendan are of Steve Jobs - they only mention Ask Different to say where Seth is from. I think it's a very tasteful interview, and we don't intend for this to be an excuse for a promotion. But we do see your point Kyle. Don't want you to think we're being insensitive.</p>
			</div>
			<div id = "comment-2076" class = "comment">
				<p>The Ask Different moderators weren't involved in advance of this promotion?</p>
			</div>
			<div id = "comment-2104" class = "comment">
				<p>I'm not aware of any site users including the moderators that knew of this before the blog post went up. Of course the SE employees / CHAOS team and employees that printed up the balloons would be excluded.</p>
			</div>
			</div>
				<textarea id = "speech-1140" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1140">
					<img id="start_img-1140" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1159"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1159" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The party was a TON of fun! The cupcakes and turtlenecks set a really great vibe and there were a few dozen people who joined us for the event. SJ's memory was celebrated in such a positive way - people were all smiles reflecting on how SJ changed their lives personally or just how much they loved their Apple products.  </p>

<p>Unfortunately is was raining and cold, so people were afraid of getting their devices wet (mostly iPhones and iPods). The cupcakes also got a bit wet. All in all though, it was a memorable and happy birthday party for all the SJ admirers who attended.</p>

<p>I know some people got a bad taste in their mouths about this party; I'm sorry for that. For me, the party was a fun way to remember a visionary we all looked up to and those who made it out through the rain and cold seemed to have a really great time too. I think their was certainly a problem in the communication of this event, it was written about and publicized in a way that could have obscured the true joy of the party. </p>

<p>Here's a snapshot taken from one attendee's iPhone: <img src="https://i.stack.imgur.com/G7x2B.jpg" alt="enter image description here"></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1159">Load Comments</button></br>
			<div id = "commentsection-1159" class = 'collapse'>
			<div id = "comment-2113" class = "comment">
				<p>Very nice follow-up post! Thanks for posting a bit more about the event.</p>
			</div>
			</div>
				<textarea id = "speech-1159" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1159">
					<img id="start_img-1159" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>