<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>NYC area users - join us to celebrate Steve Jobs' Birthday!
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>NYC area users - join us to celebrate Steve Jobs' Birthday!</h2>
<p>Come join Ask Different and <a href="http://drbrendan.com/" rel="nofollow">Dr. Brendan</a> for a party to honor Steve Jobs on his birthday. The party will start around 3 pm EST, and will take place outside the flagship Apple Store in NYC (59th Street and Fifth Avenue). </p>

<p>There will be black turtlenecks, cupcakes, and dancers. For more information, see this <a href="http://www.nypost.com/p/news/business/fans_day_fete_for_jobs_HQzFUcSxhYb531oFfG6kmJ" rel="nofollow">New York Post article</a> covering the event. This event was also <a href="http://video.cnbc.com/gallery/?video=3000075169" rel="nofollow">covered by CNBC</a> this morning, so we're hoping for a great turnout! </p>

<p>If you can't make it to the event, we will be live tweeting it from @StackApple, so follow along!</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The party was a TON of fun! The cupcakes and turtlenecks set a really great vibe and there were a few dozen people who joined us for the event. SJ's memory was celebrated in such a positive way - people were all smiles reflecting on how SJ changed their lives personally or just how much they loved their Apple products.  </p>

<p>Unfortunately is was raining and cold, so people were afraid of getting their devices wet (mostly iPhones and iPods). The cupcakes also got a bit wet. All in all though, it was a memorable and happy birthday party for all the SJ admirers who attended.</p>

<p>I know some people got a bad taste in their mouths about this party; I'm sorry for that. For me, the party was a fun way to remember a visionary we all looked up to and those who made it out through the rain and cold seemed to have a really great time too. I think their was certainly a problem in the communication of this event, it was written about and publicized in a way that could have obscured the true joy of the party. </p>

<p>Here's a snapshot taken from one attendee's iPhone: <img src="https://i.stack.imgur.com/G7x2B.jpg" alt="enter image description here"></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>