<html>
	<head>
		<title id = 'pagetitle'>Odd box framing on review page
		</title>
	<head>
	<body id = 'pagebody'><p>Browsing the review page, I noticed a minor framing bug. On the right side of the <em>Review|</em> header, appears a small scroll bar holder (see image below), as if that div s height is bigger than its framing one. </p>

<p><img src="https://i.stack.imgur.com/9XTou.png" alt="enter image description here"></p>

<p>And in fact, I can scroll its content.</p>

<p><img src="https://i.stack.imgur.com/ToAkP.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>This will be fixed in the next production build.</p>


	</body>
</html>