<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Off-topic post filter
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2522" class = "post">
			<h2>Question</h2>
			<div id="vote-2522" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Off-topic post filter</h2>
<p>Why is there no filter for off-topic posts? I mean, it would have to be actively maintained (or automatic), but for months leading up to the release of a product, you can expect wave after wave of off-topic posts. It just seems that if you were to prevent anything related to "El Capitan" or "iOS 9" from being posted, much of the off-topic posts could be taken care of. Perhaps with a built-in timer that deactivates the filter when the product is expected to be released. Seems like it would improve things around here.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2522" class = 'collapse'>
			</div>
				<textarea id = "speech-2522" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2522">
					<img id="start_img-2522" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2525"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2525" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You seem to be presuming that every question that mentions El Capitan (before release) is off-topic. This isn't the case.</p>

<p>Questions about rolling back a system from El Capitan to Yosemite are on-topic. Questions about publicly available information on Apple's non-NDA site are on-topic. Questions about features shown by Apple can be on-topic.</p>

<p>How would your question filter know?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2525" class = 'collapse'>
			</div>
				<textarea id = "speech-2525" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2525">
					<img id="start_img-2525" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2526"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2526" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://apple.meta.stackexchange.com/a/2525/237">grgarside</a> puts the reason not to filter on a tag as it removes too much</p>

<p>There is also the issue that if the filter removes all references to  El Capitan  or iOS9 then people will notice this and start asking questions that don't meet the filter criteria but still are about El Capitan etc. Consider spam filters etc, StackExchange's programmers spend a lot of time changing this filters (see Meta StackExchnage for details)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2526" class = 'collapse'>
			</div>
				<textarea id = "speech-2526" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2526">
					<img id="start_img-2526" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2530"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2530" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I like and agree with the answers from <a href="https://apple.meta.stackexchange.com/users/37797/grgarside">George</a> and <a href="https://apple.meta.stackexchange.com/users/237/mark">Mark</a> have offered. I would also add that the stack exchange model is to allow anyone to post a question so that it can be put on hold if it's not clear it's on-topic on the site they chose.</p>

<p>From there, it can get deleted (if it's garbage entirely and forever) or migrated (if it's a great question but on the wrong site) or put on hold or even closed indefinitely to allow others to edit and improve or the site to change and allow that question when at the moment it was asked it wasn't appropriate.</p>

<p>My feeling as a moderator that works to keep the site orderly, we spend less time moderating these questions than average and the benefit to the site is far greater than the increase in load for people to vote to close and moderate posts about new OS. </p>

<p>I'm also questioning whether we want to keep all beta questions off topic at all - so look for a meta post and weigh in if you have thoughts.</p>

<hr>

<p>As to adding a new hard coded feature, I think the site has a great variety of automated filters already and am not sure adding another would improve anything. I worry that blacklisting some legitimate tags would cause far more harm than benefit.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2530" class = 'collapse'>
			</div>
				<textarea id = "speech-2530" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2530">
					<img id="start_img-2530" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>