<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Off-topic post filter
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2522" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::38</h3>
				<h2>Off-topic post filter</h2>
<p>Why is there no filter for off-topic posts? I mean, it would have to be actively maintained (or automatic), but for months leading up to the release of a product, you can expect wave after wave of off-topic posts. It just seems that if you were to prevent anything related to "El Capitan" or "iOS 9" from being posted, much of the off-topic posts could be taken care of. Perhaps with a built-in timer that deactivates the filter when the product is expected to be released. Seems like it would improve things around here.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2522">Record</button>
				<button class="record-stop" id="stop-2522">Stop</button>
				<p id="recording-2522"></p>

<h1>Answers</h1>
			<br><div id = "ans-2525"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>You seem to be presuming that every question that mentions El Capitan (before release) is off-topic. This isn't the case.</p>

<p>Questions about rolling back a system from El Capitan to Yosemite are on-topic. Questions about publicly available information on Apple's non-NDA site are on-topic. Questions about features shown by Apple can be on-topic.</p>

<p>How would your question filter know?</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2525">Record</button>
				<button class="record-stop" id="stop-2525">Stop</button>
				<p id="recording-2525"></p>
			<br><div id = "ans-2526"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p><a href="https://apple.meta.stackexchange.com/a/2525/237">grgarside</a> puts the reason not to filter on a tag as it removes too much</p>

<p>There is also the issue that if the filter removes all references to  El Capitan  or iOS9 then people will notice this and start asking questions that don't meet the filter criteria but still are about El Capitan etc. Consider spam filters etc, StackExchange's programmers spend a lot of time changing this filters (see Meta StackExchnage for details)</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2526">Record</button>
				<button class="record-stop" id="stop-2526">Stop</button>
				<p id="recording-2526"></p>
			<br><div id = "ans-2530"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I like and agree with the answers from <a href="https://apple.meta.stackexchange.com/users/37797/grgarside">George</a> and <a href="https://apple.meta.stackexchange.com/users/237/mark">Mark</a> have offered. I would also add that the stack exchange model is to allow anyone to post a question so that it can be put on hold if it's not clear it's on-topic on the site they chose.</p>

<p>From there, it can get deleted (if it's garbage entirely and forever) or migrated (if it's a great question but on the wrong site) or put on hold or even closed indefinitely to allow others to edit and improve or the site to change and allow that question when at the moment it was asked it wasn't appropriate.</p>

<p>My feeling as a moderator that works to keep the site orderly, we spend less time moderating these questions than average and the benefit to the site is far greater than the increase in load for people to vote to close and moderate posts about new OS. </p>

<p>I'm also questioning whether we want to keep all beta questions off topic at all - so look for a meta post and weigh in if you have thoughts.</p>

<hr>

<p>As to adding a new hard coded feature, I think the site has a great variety of automated filters already and am not sure adding another would improve anything. I worry that blacklisting some legitimate tags would cause far more harm than benefit.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2530">Record</button>
				<button class="record-stop" id="stop-2530">Stop</button>
				<p id="recording-2530"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>