<html>
	<head>
		<title id = 'pagetitle'>Official Site Title
		</title>
	<head>
	<body id = 'pagebody'><p>Hi all. I have some exciting news to share. A design for the official Apple.se site is in the works!</p>

<p>I need to ask the community what the final text in the header logo should be. Right now it's just "Apple." I feel it's a bit incomplete. Would "Apple Q&amp;A" make more sense?</p>

<p>I'm open for suggestions. </p>


<h1>ANSWERS</h1>
		<p>I think just use Apple better for your design but you are right maybe it's not complete</p>


<p>In addition to being too short, just calling our site "Apple" would probably result in some trademark issues. "Apple Q&amp;A" might work, but I have to say that I did like the <a href="https://apple.meta.stackexchange.com/questions/9/domain-name-suggestions/24#24">top domain name suggestion</a> "Ask Different".</p>


<p>I'm mostly neutral on this topic, but I would like to see the word 'Apple' somewhere in there.  There are many forums and websites that in their site headlines use  mac, iphone, ipad, apple, etc...</p>


<p>We could make a play on the ubiquitous <code>Help</code> menu...</p>

<blockquote>
  <p>Apple Help: There's an answer for
  that.</p>
</blockquote>


<p>Or maybe try to find a combination of all of the above.</p>

<p>Title: Apple Q&amp;A</p>

<p>Tagline: ask different, there s an answer for that.</p>

<p>or if we switch </p>

<p>Title: Ask Different</p>

<p>Tag: There s an answer for that Apple</p>

<p>something like that to satisfy both Apple wanters and tagliners only :)</p>


<p>Okay, one more idea I just came up with:</p>

<p><em><strong>Ask Different: Apple Q&amp;A For The Rest Of Us</em></strong></p>

<p>It uses the favored URL, it uses "Apple" to make it clear the intent for the site in a place that would most likely fall under fair use, and it might look actually good on a t-shirt (but not as a tattoo). </p>


<p>how about something like "The Apple Core"?</p>


<p>Cider Press: Bringing answers to your Apple hardware and software questions. No pulp added.</p>


<p><b>Ask</b>Apple </p>

<p>Much better than the only somewhat related current title. The chiefly title is like the AskUbuntu site being called AskPerfection. </p>

<p><b>Ask</b>Apple means the user knows exactly what the site is about straight away. And it fits better with existing stackexchange sites (AskUbuntu) and also stackexchange sites haven't really changed their title when going out of beta. 
Also the URL of the site matches the title much more than currently. Now it's like if Google changed their name but didn't change any of the domain names. </p>


	</body>
</html>