<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Office for Mac 2016 - on or off-topic until release?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2389" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::202</h3>
				<h2>Office for Mac 2016 - on or off-topic until release?</h2>
<p>I imagine we'll be seeing a lot of questions on this over the coming months.</p>

<p>Do we have a consensus on whether it would be on or off-topic until then?</p>

<p>It doesn't appear to require any NDA, so we wouldn't be breaking any agreements on that front, but it's beta so it might be all 'broken to heck' at any given point.</p>

<p>Cases in point<br>
<a href="https://apple.stackexchange.com/questions/176384/how-to-restore-outlook-15-email-database">https://apple.stackexchange.com/questions/176384/how-to-restore-outlook-15-email-database</a><br>
<a href="https://apple.stackexchange.com/questions/175189/syncing-contacts-between-outlook-for-mac-2015-and-google-contacts">Syncing contacts between Outlook for Mac (2015) and Google Contacts</a><br>
<a href="https://apple.stackexchange.com/questions/171337/whats-the-best-way-to-synchronize-calendar-icloud-with-outlook-2015">What&#39;s the best way to synchronize Calendar/iCloud with Outlook 2015</a>  </p>

<p>Based on <a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a><br>
"Pre-release, non-publicly available beta software and software granted only under an NDA"<br>
As it is publicly available &amp; not NDA, then it should be OK, but just for clarification.</p>

			</div><h3>Comments</h3>
			<div id = "comment-4498" class = "comment">
				<p>See this one http://apple.stackexchange.com/questions/177149/microsoft-preview-outlook-quit-unexpectedly for a reason to be off topic - one version crashes then the next one works - we can't keep up with the different versions</p>
			</div>
			<div id = "comment-4499" class = "comment">
				<p>@Mark Yup - I expect we will see a lot more like this. I'm currently more tempted to want to close as off-topic, but I'm currently abstaining from all of these until we get a real sway one way or the other</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2389">Record</button>
				<button class="record-stop" id="stop-2389">Stop</button>
				<p id="recording-2389"></p>

<h1>Answers</h1>
			<br><div id = "ans-2390"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>It's off-topic until final release. Breaking NDA is one thing, but that's not the main reason why pre-release questions are off-topic here. Things are broken in pre-release that won't be broken for the official release, and features can change, both in functionality and in method of use.</p>

<p>Ideally, answers here should not be subject to imminent change and ideally want to last for the foreseeable future: this isn't the case with most questions about pre-release software, hence the prohibition.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-4463" class = "comment">
				<p>Sounds good to me.</p>
			</div>
			<div id = "comment-4465" class = "comment">
				<p>I don't see this as so clear cut. Does it ship today? yes. Is it widely available? Yes Do we entertain questions on iWork beta products (that have been beta for at least 18 months now)? Yes.</p>
			</div>
			<div id = "comment-4471" class = "comment">
				<p>@bmike I understand what you are saying, but Office:mac homepage promotes Office 2011, whereas iWork homepage promotes iWork for iCloud. iWork for iCloud might be in beta, but that's separate to beta.icloud.com, the actual pre-release site which would be off-topic? beta.icloud.com might be widely available, but it's still pre-release, and still off-topic?</p>
			</div>
			<div id = "comment-4489" class = "comment">
				<p>From my point of view, the problem beta software under NDA and/or with a limited availability is that not everybody can participate in answering questions (which usually is also why publishers of such software offer their own support boards during the beta phase). Public betas without NDA which are open to everybody is as good as anything (think Google which used to put the beta label on everything).</p>
			</div>
			<div id = "comment-4502" class = "comment">
				<p>not very often, but in this case I do agree with you.</p>
			</div>
			<div id = "comment-4585" class = "comment">
				<p>I would like to clarify that Outlook for Mac is not a beta release, it is RC at this time. While it is included in the bundle of Office for Mac 2015, it is available as a standalone product to Office365 customers. That would then make it available for discussion on the boards, correct?</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2390">Record</button>
				<button class="record-stop" id="stop-2390">Stop</button>
				<p id="recording-2390"></p>
			<br><div id = "ans-2392"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I think all of these specific questions should be open and on-topic.</p>

<p>Specifically, it's not part of the prohibited software listed as <strong><em>Pre-release, non-publicly available beta software and software granted only under an NDA</em></strong></p>

<p><a href="http://products.office.com/en-US/mac/mac-preview" rel="nofollow noreferrer">Microsoft's Office for Mac 2016 Preview</a> is publicly available.
It also is granted <a href="http://blogs.office.com/2015/03/05/office-2016-mac-preview/" rel="nofollow noreferrer">without an NDA</a>.</p>

<p>Furthermore, the general category should be on-topic IMO. For example, I asked a question today about something Apple labels as beta.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/177722/is-it-possible-to-wipe-an-entire-icloud-photo-library">Is it possible to wipe an entire iCloud Photo Library?</a></li>
</ul>

<p><img src="https://i.stack.imgur.com/gDHME.png" alt="enter image description here"></p>

<p>I'm legitimately stumped and at a standstill using this feature. I've opened two support tickets with Apple and it's been 5 days with no progress. I think there are good questions about beta software that can and should be asked. I'm of an opinion that <strong>we should close bad questions that are not precise</strong>. </p>

<p><strong>We should encourage questions about narrow topics or narrow windows in time <em>as long as they are clear and precise</em></strong>. If there is confusion about beta status or versions, it's up to the asker to revise and phrase the question to meet community standards. </p>

<p>This site aims to be the ultimate resource for community knowledge of products, and the benefits of beta exclusions seem to diminish the longer I see the site working day in and day out.</p>

<p>Keep in mind, Apple launched iWork for iCloud as beta in June 2013. In August 2013, it was available to anyone. Recently, they rolled it out to anyone with a Mac or PC and Safari 6.0.3 or later, Internet Explorer 9.0.8 or later, or Google Chrome 27.0.1 or later.</p>

<p>So, here we are 580 days after the general availability of the product and it's "still in beta" and turning down questions on a product that's in production that long seems odd to me just because it's "beta"</p>

<p>I'll step off this little soapbox now, but wanted to add more data than just "beta bad" or "beta good".</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-4500" class = "comment">
				<p>So we are to be fixing the bugs on a product that is not fully released. The preview is what its name says, a Preview only.  MS would not look at this page for bug reports, they offer that in "Look for the smiley face in the upper right corner of the application. Use that entry point to send feedback directly to our team." which version do we allow ? 15.8.1 and beyond ?</p>
			</div>
			<div id = "comment-4501" class = "comment">
				<p>@Buscar  Yes - report for duty immediately to Redmond, WA. On a serious note, I see no reason to outlaw any versions of Office at this point in time. Preview, beta, external, supported, obsolete all are the same in my eyes. If the question is otherwise detailed and adheres to our guidelines, I feel they are helpful and in the spirit of Stack Exchange.</p>
			</div>
			<div id = "comment-4503" class = "comment">
				<p>I was not thinking of spirit not of outlaw, but of the flood of questions that mostly go unanswered, or say, did you get updated version 15.8.1 or something like that, which is completely useless.</p>
			</div>
			<div id = "comment-4504" class = "comment">
				<p>We don't fix bugs here, we are a Q&A site which helps users to solve problems. Recommending an upgrade *is* a valid answer. If we really should get flooded with such questions, I'm sure somebody will volunteer to write a canonical answer to the "I've found a bug in a public beta release, what should I do" question so we close all further similar questions as duplicates.</p>
			</div>
			<div id = "comment-4520" class = "comment">
				<p>If I had a bug that I found someone else has asked a question for, and the answer is `Check your version - you are probably at x.y.z version and you need to upgrade to x.y.z version`, I would leave a happy camper knowing a new release was out that I wasn't aware of (even though I should be checking versions before seeking out help to begin with).</p>
			</div>
			<div id = "comment-4530" class = "comment">
				<p>@Qix however the point of stackexchnage is to provide questions and answers that are applicable to many people and not just a few or the OP at one point of time - (i.e. this is the correct meaning of the old close reason too localised)</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2392">Record</button>
				<button class="record-stop" id="stop-2392">Stop</button>
				<p id="recording-2392"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>