<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Official Site Title
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-205" class = "post">
			<h2>Question</h2>
			<div id="vote-205" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 724</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Official Site Title</h2>
<p>Hi all. I have some exciting news to share. A design for the official Apple.se site is in the works!</p>

<p>I need to ask the community what the final text in the header logo should be. Right now it's just "Apple." I feel it's a bit incomplete. Would "Apple Q&amp;A" make more sense?</p>

<p>I'm open for suggestions. </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-205">Load Comments</button></br>
			<div id = "commentsection-205" class = 'collapse'>
			<div id = "comment-355" class = "comment">
				<p>I have some suggestion for accepted answer put green apple on it in your design :D</p>
			</div>
			<div id = "comment-356" class = "comment">
				<p>woot!  great news!</p>
			</div>
			<div id = "comment-360" class = "comment">
				<p>Just curious, how many sites are scheduled to launch before us?</p>
			</div>
			<div id = "comment-361" class = "comment">
				<p>@kyle 1 or 2. However we re-evalute the stats of each Beta site every week, so the launch order is subject to change.</p>
			</div>
			<div id = "comment-376" class = "comment">
				<p>@Dori, thanks! I have seen the logo thread. I think since Apple dropped the rainbow colors in 1998, it may not reflect of Apple of today. Also for SE site logos, we don't need to make it look like the SE logo. I think the   symbol may be more fitting. It has an interesting backstory too: http://en.wikipedia.org/wiki/Command_key#The_origin_of_.22.E2.8C.98.22</p>
			</div>
			<div id = "comment-379" class = "comment">
				<p>@Dori What would be bad about using  ? I don't think people are going to refer to it by name, so it shouldn't matter if there are multiple names for it.</p>
			</div>
			<div id = "comment-389" class = "comment">
				<p>@dori but hasn't the rainbow apple icon been obsolete for a solid decade now? Also, we're looking for something people in that community will recognize, like a secret handshake. The words "Stack Overflow", for example, are meaningless to the 99.9% of people who aren't programmers.</p>
			</div>
			<div id = "comment-390" class = "comment">
				<p>@dori: I've stayed out of this debate since my suggestion of   until now, but the reason why I didn't vote for the rainbow logo is for exactly the first reason that @Jeff states. I love my collection of OS 9 and earlier Macs, but those days are long gone. The reason why I suggested   is because it has been on every Mac since the first, the Mac is a cornerstone of Apple's product line (we can't develop for the iOS properly without a Mac), and it is still on the keyboard today;   has outlasted the rainbow-themed logo.</p>
			</div>
			<div id = "comment-391" class = "comment">
				<p>Oops, it seems I did vote for a rainbow logo, the one currently with four votes. Personally, I'm fine with whatever the community decides here. All of the designs are great so far (Programmers.SE is my current favorite of the sites I visit), so I'm sure whatever is done will look just fine.</p>
			</div>
			<div id = "comment-394" class = "comment">
				<p>After having thought of this a bit more, I have to say I'm stumped.  Not to state the plainly obvious, if we use  , we will incur the wrath of Apple's legal eagles. If we use the spectrum, probably not so much, but I don't think it really says "Apple" like it used to; the logo has always been really about the silhouette, I've always thought. Also, I thought one of the requirements was to have something that would work in one color as well, and in that case the spectrum simply won't work.</p>
			</div>
			<div id = "comment-395" class = "comment">
				<p>If memory serves   has outlasted every icon in Apple's existence, and has only recently *not* been included in Apple products on such a large scale. I'm sure if used in a context with Apple, we still run the same low risk, but still a risk, as the spectrum. I don't recall there being other "branded" SE site like this one, but I'd be curious to know how this scenario has been handled if there is one.</p>
			</div>
			<div id = "comment-396" class = "comment">
				<p>I do not think, however, that having   as the logo will cause the site to narrow its focus to just the Macintosh line, especially if we use "Apple" somewhere in the *by-line* for the site (i.e., "Ask Different: Apple Q&A For The Rest Of Us" (hey, I kind of like that)), then that would fall into the fair use clause of copyright, and it makes it clear to all newcomers that this is for Apple questions and not just Macs (though I think that if we did actually narrow the focus people would ask whatever they wanted anyway).</p>
			</div>
			<div id = "comment-398" class = "comment">
				<p>@Dori: It seems to me that the crux of the problem is that there are no longer really any icons in the Apple "iconosphere" that are   universal to all products outside of     that also make sense for a Q&A site and   won't get us into possible legal mires. There are odd bits like System Preferences and Apple applications like iTunes that reach across the two OSes, but that's it. I don't think   is perfect either, but we have little else to go on. As for the downvoting, you really ought to consider the source (when you can) in that particular case. That is a great cheat sheet.</p>
			</div>
			<div id = "comment-399" class = "comment">
				<p>@Dori: One more thing, the spectrum logo I did vote for in the other thread was the one that made a whole icon as opposed to stripes (the one that's most popular) solely for the reason that in one color, the striped one would look exactly like the SE family logo, and adding in the   to compensate for that is out of the question (I think we would both agree).</p>
			</div>
			<div id = "comment-400" class = "comment">
				<p>This is why I stopped being a graphic designer. Programming is so much easier than this!</p>
			</div>
			<div id = "comment-403" class = "comment">
				<p>@Dori: reading this thread I was thinking of the preferences gears as well...</p>
			</div>
			<div id = "comment-404" class = "comment">
				<p>@dori: also, try not to take it personal, you also got **8** upvotes for that post including mine :)  everyone isn't always going to agree or even be nice, but it is the internet after all... that parts probably never going to change :)  At least you don't have an entire meta post dedicated to what a jerk you are like I do.</p>
			</div>
			<div id = "comment-406" class = "comment">
				<p>@Dori and others, I've enjoyed this debate. I think looking at the site design as a whole package, it needs to emote and reflect the theme of the site. The level of graphical details depends on the site's nature. Gaming has more, and Statistics has less. I try to find that fine balance. I want new users who come to the site to get "this is an Apple" site right away and veteran users enjoy the design as they provide valuable content. The logo is only part of this whole package. We all agree that we can't use  , even a variation of it may get us in legal trouble. that's why I think   is [...]</p>
			</div>
			<div id = "comment-407" class = "comment">
				<p>[...] the next most recognizable symbol. Speaking of the design, occasionally I ask my respected designer friends to help out. The English site turned out great. For the Apple site, I've asked Mike Rundle of http://flyosity.com I feel he's more qualified to do the site than I. We talked about the creative direction, we both agreed it needs to reflect the Apple theme clearly, though may not explicitly copy all the Apple design elements. I'm very confident that he'll come up with a great design. I'll post it as soon as I receive it.</p>
			</div>
			<div id = "comment-408" class = "comment">
				<p>@Jin,@Dori,@Phillip: i posted my horrid idea over on the logo thread, try not to be too harsh :)</p>
			</div>
			<div id = "comment-414" class = "comment">
				<p>"I've asked Mike Rundle of flyosity.com". That's *awesome*.</p>
			</div>
			<div id = "comment-433" class = "comment">
				<p>@Jin Any updates?</p>
			</div>
			<div id = "comment-434" class = "comment">
				<p>@Kyle I will receive the design after the New Year, aiming to launch the site first week of Jan.</p>
			</div>
			<div id = "comment-435" class = "comment">
				<p>@Jin Great, looking forward to it. I saw the Unix site design and was getting a little jealous ;)</p>
			</div>
			<div id = "comment-459" class = "comment">
				<p>@Jin I hate to keep bugging you, but the first week in Jan is almost over. Has there been a delay?</p>
			</div>
			<div id = "comment-460" class = "comment">
				<p>@Kyle bug me anytime! :) I talked to the designer yesterday. he's fine tuning some last min changes will have the design for me tomorrow. I'll post it as soon as I get it.</p>
			</div>
			<div id = "comment-461" class = "comment">
				<p>@Jin Thanks for the update - I was going a little stir-crazy checking Meta for updates :)</p>
			</div>
			<div id = "comment-462" class = "comment">
				<p>@kyle I'm just as anxious as you are</p>
			</div>
			<div id = "comment-463" class = "comment">
				<p>@kyle btw, have you used SE tagset? http://blog.stackoverflow.com/2010/11/tag-sets-on-stack-exchange/ setup tag keywords and sites, so you can keep track of things without visiting the site.</p>
			</div>
			<div id = "comment-464" class = "comment">
				<p>@Jin I have, but one of the things I was checking was to see when the last time you or Mike visited Meta.Apple :)</p>
			</div>
			<div id = "comment-498" class = "comment">
				<p>@Jin Just FYI, there's a [feature request for a chat info box on the front page](http://meta.apple.stackexchange.com/questions/253/chat-status-on-landing-page-of-apple-se). Any chance you can squeeze it in?</p>
			</div>
			<div id = "comment-518" class = "comment">
				<p>@Jin: I'm not not an admin, but I'm anxious to see the site design. Any word on this?</p>
			</div>
			<div id = "comment-519" class = "comment">
				<p>@Philip A few days ago I heard that Jin had received the design and was working with the designer making a few changes. Hopefully this means that the design is imminent. However, I do share your anxiousness - it's now been over a month since this topic was posted.</p>
			</div>
			<div id = "comment-520" class = "comment">
				<p>@Kyle: Thanks for the update. Cheers</p>
			</div>
			<div id = "comment-521" class = "comment">
				<p>@Kyle, @Philip I have received the designs from Mike. I'm making some last round of tweaks before I present them to you. Should be in the next couple days. Thank you for your patience!</p>
			</div>
			<div id = "comment-1144" class = "comment">
				<p>I can't see where it originated, but the current tagline *Answers for your Apple questions* works very nicely for me. In general I hate taglines, but with the pleasantly short simple title **Ask Different** it works very well.</p>
			</div>
			</div>
				<textarea id = "speech-205" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-205">
					<img id="start_img-205" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-206"  class = "post">
				<h2>Answer</h2>
			<div id="vote-206" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think just use Apple better for your design but you are right maybe it's not complete</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-206" class = 'collapse'>
			</div>
				<textarea id = "speech-206" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-206">
					<img id="start_img-206" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-207"  class = "post">
				<h2>Answer</h2>
			<div id="vote-207" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In addition to being too short, just calling our site "Apple" would probably result in some trademark issues. "Apple Q&amp;A" might work, but I have to say that I did like the <a href="https://apple.meta.stackexchange.com/questions/9/domain-name-suggestions/24#24">top domain name suggestion</a> "Ask Different".</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-207">Load Comments</button></br>
			<div id = "commentsection-207" class = 'collapse'>
			<div id = "comment-359" class = "comment">
				<p>I like "Ask Different" a lot, maybe have a tagline to go with it "There's an answer for that."</p>
			</div>
			<div id = "comment-362" class = "comment">
				<p>or title: "Apple Q&A" tagline: "There's an answer for that."</p>
			</div>
			<div id = "comment-456" class = "comment">
				<p>My suggestion would be to title the site 'Apple Q&A' and the tagline to be 'Ask Different' because I really like that line.</p>
			</div>
			</div>
				<textarea id = "speech-207" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-207">
					<img id="start_img-207" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-209"  class = "post">
				<h2>Answer</h2>
			<div id="vote-209" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm mostly neutral on this topic, but I would like to see the word 'Apple' somewhere in there.  There are many forums and websites that in their site headlines use  mac, iphone, ipad, apple, etc...</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-209" class = 'collapse'>
			</div>
				<textarea id = "speech-209" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-209">
					<img id="start_img-209" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-211"  class = "post">
				<h2>Answer</h2>
			<div id="vote-211" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We could make a play on the ubiquitous <code>Help</code> menu...</p>

<blockquote>
  <p>Apple Help: There's an answer for
  that.</p>
</blockquote>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-211" class = 'collapse'>
			</div>
				<textarea id = "speech-211" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-211">
					<img id="start_img-211" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-212"  class = "post">
				<h2>Answer</h2>
			<div id="vote-212" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Or maybe try to find a combination of all of the above.</p>

<p>Title: Apple Q&amp;A</p>

<p>Tagline: ask different, there s an answer for that.</p>

<p>or if we switch </p>

<p>Title: Ask Different</p>

<p>Tag: There s an answer for that Apple</p>

<p>something like that to satisfy both Apple wanters and tagliners only :)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-212">Load Comments</button></br>
			<div id = "commentsection-212" class = 'collapse'>
			<div id = "comment-374" class = "comment">
				<p>Could work, but it seems like a mouthful</p>
			</div>
			<div id = "comment-378" class = "comment">
				<p>+1 for the first Title and Tag</p>
			</div>
			</div>
				<textarea id = "speech-212" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-212">
					<img id="start_img-212" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-216"  class = "post">
				<h2>Answer</h2>
			<div id="vote-216" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Okay, one more idea I just came up with:</p>

<p><em><strong>Ask Different: Apple Q&amp;A For The Rest Of Us</em></strong></p>

<p>It uses the favored URL, it uses "Apple" to make it clear the intent for the site in a place that would most likely fall under fair use, and it might look actually good on a t-shirt (but not as a tattoo). </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-216">Load Comments</button></br>
			<div id = "commentsection-216" class = 'collapse'>
			<div id = "comment-410" class = "comment">
				<p>I like this one best :)</p>
			</div>
			<div id = "comment-412" class = "comment">
				<p>Ooh. Well "Think Different" was discontinued in 2002, soon 9 years gone. See? We can't win here. Aaigh!</p>
			</div>
			</div>
				<textarea id = "speech-216" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-216">
					<img id="start_img-216" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-219"  class = "post">
				<h2>Answer</h2>
			<div id="vote-219" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>how about something like "The Apple Core"?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-219" class = 'collapse'>
			</div>
				<textarea id = "speech-219" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-219">
					<img id="start_img-219" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-280"  class = "post">
				<h2>Answer</h2>
			<div id="vote-280" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Cider Press: Bringing answers to your Apple hardware and software questions. No pulp added.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-280" class = 'collapse'>
			</div>
				<textarea id = "speech-280" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-280">
					<img id="start_img-280" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-301"  class = "post">
				<h2>Answer</h2>
			<div id="vote-301" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><b>Ask</b>Apple </p>

<p>Much better than the only somewhat related current title. The chiefly title is like the AskUbuntu site being called AskPerfection. </p>

<p><b>Ask</b>Apple means the user knows exactly what the site is about straight away. And it fits better with existing stackexchange sites (AskUbuntu) and also stackexchange sites haven't really changed their title when going out of beta. 
Also the URL of the site matches the title much more than currently. Now it's like if Google changed their name but didn't change any of the domain names. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-301" class = 'collapse'>
			</div>
				<textarea id = "speech-301" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-301">
					<img id="start_img-301" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>