<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Old List questions, rediscovered
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2563" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::48</h3>
				<h2>Old List questions, rediscovered</h2>
<p>Regarding <a href="https://apple.meta.stackexchange.com/questions/90/list-of-x-poll-style-questions-what-to-do?lq=1">List of X/Poll Style Questions - What to do?</a> and <a href="https://apple.meta.stackexchange.com/questions/1555/re-evaluating-list-of-tips-type-questions">Re-evaluating &quot;list of tips&quot; type questions</a> </p>

<p>I occasionally find some of these old list questions, as new answers lift them into the Review queue. There's nothing wrong with them inherently, &amp; the 'list' aspect is well dealt with in the two links, above.</p>

<p>This one cropped up today - <a href="https://apple.stackexchange.com/questions/30868/best-webcam-to-use-with-skype-and-a-mac-mini">Best webcam to use with Skype and a Mac mini?</a><br>
The new answer was OK-ish, so I let it ride, but it raised the question </p>

<p>Should we flag these for Protection if the mere fact of them bumping to the top of the Active list is likely to attract a flurry of similar answers?<br>
Or should we wait for the potential flurry to start, then retrospectively trim?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2564"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Vote to close as primarily opinion based. The questions are no longer on-topic and within the scope of the site, and therefore should be closed.</p>

<p>If an answer causes an immediate increase in frequency of lower-quality answers and/or spam, protect it once you gain the privilege, but a VTC should be enough for most questions.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2565"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I feel we should treat each question that gets bumped as if it were asked today.</p>

<ul>
<li>Closing prevents more new answers and can be easily overturned. Flagging might help if there's something bad, but the normal close review process should handle these.</li>
<li>Flag closed questions for protection if you see one instance of bad things happening recently. (or if the item bumping it is flag worthy)</li>
</ul>

<p>Delete might be strong, but leaving old crusty questions open doesn't help the site move forward IMO. I don't seek them out to close, but when they are presented to me in review or seeing them on the hot lists or the active lists, I generally move them one step closer to the grave if they are not awesome or in need of new answers.</p>

<p>Basically, if you can't edit it into shape or feel that it needs a bounty to attract attention - close it if it's not on topic or violates any of the current close reasons:</p>

<ul>
<li>Basic Customer Support</li>
<li>Basic Troubleshooting</li>
<li>Asking for Off-Site resource</li>
<li>Too Broad</li>
<li>Too Unclear</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>