<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Old unanswered questions and comments as Answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2966" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::39</h3>
				<h2>Old unanswered questions and comments as Answers</h2>
<p>I put this comment </p>

<blockquote>
  <p>Because of the amount of time passing since this question was posted, it would probably be best to ask a new question with updated information. Obviously you can't add a bounty since that takes lots of rep. Just link to the old question in your new question. It may end up getting marked as duplicate, but if you include enough new information it should stand on its own</p>
</blockquote>

<p>on this thread <a href="https://apple.stackexchange.com/questions/169326/apple-os-x-yosemite-email-viewing-preferences/271398#comment341166_271398">Apple OS X Yosemite Email Viewing Preferences</a></p>

<p>when a person posted a "I'm having this issue too" answer. I'm wondering if this is good advice, or if it would be better to say something along the lines of "edit this question with new information instead of posting a non-answer answer."</p>

<p>The current stock answer that tells them they can post a bounty if they have enough reputation is not too helpful for most of these situations.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2968"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p><strong>Specifically for the question at hand</strong></p>

<p>If the "me too" poster is using Yosemite a new question with the same topic will (correctly IMHO) be closed as a duplicate. If they have additional information, they can edit it directly into the question. But Yosemite probably isn't used very much anymore, so I doubt Darryl will get an answer anyway.</p>

<p><strong>Generally speaking</strong></p>

<p>The topic has come up before, see <a href="https://apple.meta.stackexchange.com/questions/2788/should-i-answer-an-existing-old-question-or-ask-answer-my-own-new-question?rq=1">Should I answer an existing old question or ask/answer my own new question?</a> </p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6443" class = "comment">
				<p>If I remember correctly, the person was saying they still had the same problem on sierra.</p>
			</div>
			<div id = "comment-6444" class = "comment">
				<p>"I have the same issue and am not finding an answer". There is no mention of a specific macOS version, only a reference to someone using a different one. Not much to work with, somehow.</p>
			</div>
			<div id = "comment-6445" class = "comment">
				<p>Why would Yosemite not be used much? I am not that familiar with it; I primarily use Mountain Lion, but I would assume it has its devotees, as earlier versions of the OS do.</p>
			</div>
			<div id = "comment-6446" class = "comment">
				<p>@daniel the question didn't gather much attention when Yosemite was all new and shine, don't think it will now. Comment was primarily intended as expectation management</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>