<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>On Ask Different, can I ask the question "Would any OSX work on my hp laptop"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1758" class = "post">
			<h2>Question</h2>
			<h3>Score ::-1</h3>
			<h3>Views ::84</h3>
				<h2>On Ask Different, can I ask the question "Would any OSX work on my hp laptop"?</h2>
<p>I know that <a href="https://apple.meta.stackexchange.com/questions/2/can-one-ask-hackintosh-questions-on-ask-different">Hackintosh questions aren't accepted on apple SE or superuser</a> anymore, but i really need an answer so i'm asking on meta.</p>

<p>In a nutshell, does the main site here allow questions that look like this:</p>

<p>So is there any mac os that will dualboot on my laptop or in virualbox?</p>

<p>If you know how to compile corona on windows for ios devices or if you know a free mac os cloud system, it's ok with me. </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1758">Load Comments</button></br>
			<div id = "commentsection-1758" class = 'collapse'>
			<div id = "comment-3294" class = "comment">
				<p>i remember when i asked on english language SE, or something, they closed my question, i asked how do i know if it's suitable for the site, they said next time, if you're unsure if the question is suitable or not, ask on meta, they'll either close it or give you permission to ask on the site, that way i won't lose reputation from downvotes and everyone is happy, so i asked on meta, since i didn't know how you would react to this question so i'm asking here to see if you accept it or close it</p>
			</div>
			<div id = "comment-3295" class = "comment">
				<p>will my question be closed if i ask it on apple.stackexchange.com or not?</p>
			</div>
			<div id = "comment-3296" class = "comment">
				<p>Yes, your question will be closed if asked on the main site: http://apple.stackexchange.com/help/on-topic</p>
			</div>
			<div id = "comment-3297" class = "comment">
				<p>@patrix ok thanks sir</p>
			</div>
			<div id = "comment-3312" class = "comment">
				<p>@daviesgeek no worries :D on a side note, i think the people who designed this side made a mistake by picking this yellow for the links, it's not so visible, i can hardly see the links especially when the screen is bright</p>
			</div>
			<div id = "comment-3313" class = "comment">
				<p>@Fischer Open a meta question if it's a problem. I don't have a problem though might be your monitor</p>
			</div>
			<div id = "comment-3360" class = "comment">
				<p>If you "know that Hackintosh questions aren't accepted on apple SE" then why are you asking on meta whether they are accepted?</p>
			</div>
			</div>
				<textarea id = "speech-1758" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1758">
					<img id="start_img-1758" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1759"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The hackintosh discussion here is a bit mixed, but we're generally closing questions that enter into this area - even when they have good non-shopping and relevant details since in general they tend to be detailed driver level code questions that stack overflow already covers in great abundance.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1759" class = 'collapse'>
			</div>
				<textarea id = "speech-1759" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1759">
					<img id="start_img-1759" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1778"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>@bmike has answered re the Hackintosh questions however the other two types of question are different, give bmike's edit as they now can be assumed to on a Mac.</p>

<blockquote>
  <p>So is there any mac os that will dualboot on my laptop or in virualbox?</p>
</blockquote>

<p>That is on topic - but I suspect already asked. It is a duplicate  if the question is how to have multiple OSX boot partitions or how to run OSX in a VM.</p>

<blockquote>
  <p>If you know how to compile corona on windows for ios devices or if you know a free mac os cloud system, it's ok with me.</p>
</blockquote>

<p>That is more difficult. The second part is really a "shopping question" so off topic, the former could be OK but we would need to see the details and might end up being a development question.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1778" class = 'collapse'>
			</div>
				<textarea id = "speech-1778" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1778">
					<img id="start_img-1778" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>