<html>
	<head>
		<title id = 'pagetitle'>On Ask Different, can I ask the question "Would any OSX work on my hp laptop"?
		</title>
	<head>
	<body id = 'pagebody'><p>I know that <a href="https://apple.meta.stackexchange.com/questions/2/can-one-ask-hackintosh-questions-on-ask-different">Hackintosh questions aren't accepted on apple SE or superuser</a> anymore, but i really need an answer so i'm asking on meta.</p>

<p>In a nutshell, does the main site here allow questions that look like this:</p>

<p>So is there any mac os that will dualboot on my laptop or in virualbox?</p>

<p>If you know how to compile corona on windows for ios devices or if you know a free mac os cloud system, it's ok with me. </p>


<h1>ANSWERS</h1>
		<p>The hackintosh discussion here is a bit mixed, but we're generally closing questions that enter into this area - even when they have good non-shopping and relevant details since in general they tend to be detailed driver level code questions that stack overflow already covers in great abundance.</p>


<p>@bmike has answered re the Hackintosh questions however the other two types of question are different, give bmike's edit as they now can be assumed to on a Mac.</p>

<blockquote>
  <p>So is there any mac os that will dualboot on my laptop or in virualbox?</p>
</blockquote>

<p>That is on topic - but I suspect already asked. It is a duplicate  if the question is how to have multiple OSX boot partitions or how to run OSX in a VM.</p>

<blockquote>
  <p>If you know how to compile corona on windows for ios devices or if you know a free mac os cloud system, it's ok with me.</p>
</blockquote>

<p>That is more difficult. The second part is really a "shopping question" so off topic, the former could be OK but we would need to see the details and might end up being a development question.</p>


	</body>
</html>