<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>On topic or off?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>On topic or off?</h2>
<p>Referencing: <a href="https://apple.stackexchange.com/questions/1075/what-is-a-good-apple-podcast-to-listen-to-on-a-daily-basis">What is a good Apple podcast to listen to on a daily basis</a>.</p>

<p>Is this an "all things Apple" site or more specific to "power users" meaning hardware / software rather then simply "everything?" </p>

<p>Would "what color goes best with my Mac Mini?" be an on-topic question? What about "best places to meet other Apple users?" </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<blockquote>
  <p>Is this an "all things Apple" site or more specific to "power users" meaning hardware / software rather then simply "everything?"</p>
</blockquote>

<p>It's anything an Apple enthusiast would enjoy, as long as it fits the Q&amp;A format, and is on topic as defined in the <a href="https://apple.stackexchange.com/faq">https://apple.stackexchange.com/faq</a>.</p>

<blockquote>
  <p>Would "what color goes best with my Mac Mini?" be an on-topic question?</p>
</blockquote>

<p>Per the /faq questions should be (mostly) objectively answerable, so ... no.</p>

<blockquote>
  <p>What about "best places to meet other Apple users?"</p>
</blockquote>

<p>A bit too localized, if you mean physically -- and "best" is very subjective, so ... no.</p>

<blockquote>
  <p>What is a good Apple podcast to listen to on a daily basis.</p>
</blockquote>

<p>It's not a perfect question, but I think it's viable:</p>

<ul>
<li>it is fairly specific "podcast, Apple fans, daily"</li>
<li>it is of interest to apple enthusiasts</li>
<li>it's not localized (podcasts can be heard across the world at any time)</li>
</ul>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>