<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>On the right name of Apple products and softwares
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>On the right name of Apple products and softwares</h2>
<p>May this is too early and maybe I'm the only one concern, but at a certain point shouldn't we correct the name of Apple products and softwares to match their real name ?</p>

<p>For examples : </p>

<ul>
<li><strong>iTunes</strong> instead of Itunes</li>
<li><strong>iPhone</strong> instead of Iphone</li>
<li><strong>Mac OS X</strong> instead of Mac OSX</li>
<li>and so on  </li>
</ul>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Yes. Particularly in the case of tags, it seems important to get this right for cases like "OS X", where it affects the accuracy of searches. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Correcting in posts would be fine, though no one has edit powers yet so that's a moot point.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Would it be allowed to mis-spell certain words to make a point? (I'm not talking about tags, were you absolutely need one authoritative spelling.) Should I be able to write about <em>iDontWork</em> when I'm complaining about <em>iWork</em>? What about <em>Micro$oft</em>?</p>

<p>We have a similar (but more narrow) discussion on the WordPress site, where (for the moment) one user (sometimes) prefers to write <em>Wordpress</em> instead of <em>WordPress</em>. Since this is the subject of our site, opinions are divided on <a href="https://wordpress.meta.stackexchange.com/questions/96/should-we-ask-for-reasonable-consistency-in-style-for-things-like-wordpress-vs">whether we should allow this</a>, or <a href="https://wordpress.meta.stackexchange.com/questions/112/proposal-why-wordpress-or-wordpress-and-not-wordpress-campaign/138#138">provide a way to signal the "protest"</a> so others won't edit it away.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<h2>Related</h2>

<p><a href="https://apple.meta.stackexchange.com/q/1/8546">What is the difference between [mac] and [apple]?</a> (2010-08-17)</p>

<h2>Related (but not listed as such in the sidebar)</h2>

<p><a href="https://apple.meta.stackexchange.com/q/609/8546">Is it OSX or OS X?</a> (2011-07-28)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>