<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>On topic or off?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-84" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::98</h3>
				<h2>On topic or off?</h2>
<p>Referencing: <a href="https://apple.stackexchange.com/questions/1075/what-is-a-good-apple-podcast-to-listen-to-on-a-daily-basis">What is a good Apple podcast to listen to on a daily basis</a>.</p>

<p>Is this an "all things Apple" site or more specific to "power users" meaning hardware / software rather then simply "everything?" </p>

<p>Would "what color goes best with my Mac Mini?" be an on-topic question? What about "best places to meet other Apple users?" </p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-84" class = 'collapse'>
			</div>
				<textarea id = "speech-84" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-84">
					<img id="start_img-84" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-97"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><blockquote>
  <p>Is this an "all things Apple" site or more specific to "power users" meaning hardware / software rather then simply "everything?"</p>
</blockquote>

<p>It's anything an Apple enthusiast would enjoy, as long as it fits the Q&amp;A format, and is on topic as defined in the <a href="https://apple.stackexchange.com/faq">https://apple.stackexchange.com/faq</a>.</p>

<blockquote>
  <p>Would "what color goes best with my Mac Mini?" be an on-topic question?</p>
</blockquote>

<p>Per the /faq questions should be (mostly) objectively answerable, so ... no.</p>

<blockquote>
  <p>What about "best places to meet other Apple users?"</p>
</blockquote>

<p>A bit too localized, if you mean physically -- and "best" is very subjective, so ... no.</p>

<blockquote>
  <p>What is a good Apple podcast to listen to on a daily basis.</p>
</blockquote>

<p>It's not a perfect question, but I think it's viable:</p>

<ul>
<li>it is fairly specific "podcast, Apple fans, daily"</li>
<li>it is of interest to apple enthusiasts</li>
<li>it's not localized (podcasts can be heard across the world at any time)</li>
</ul>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-97" class = 'collapse'>
			</div>
				<textarea id = "speech-97" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-97">
					<img id="start_img-97" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>