<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Once I have sufficient reputation and I vote to close, can I still flag for a moderator to finish the vote?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Once I have sufficient reputation and I vote to close, can I still flag for a moderator to finish the vote?</h2>
<p>As far as I know, you need a certain number of close votes to close a question. I have seen some high reputation users closing questions for several reasons. I also saw a moderator closing the question instantly, as only 1 name (the moderator's) was listed. If I had high reputation and I voted to close, is it still OK to call a moderator to finish the vote off?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>See <a href="https://apple.stackexchange.com/help/privileges/close-questions">https://apple.stackexchange.com/help/privileges/close-questions</a> for some more insights in this area. Basically</p>

<blockquote>
  <p>Note that once you gain the reputation to vote to close, you should no longer flag for moderator attention to have questions closed or migrated. It is your responsibility to vote now.</p>
</blockquote>

<p>and</p>

<blockquote>
  <p>It takes 5 close votes to reach the closing threshold (except for duplicate questions, which can be marked as duplicate with a single vote from a user who has earned a gold tag badge in one of that question's original tags).</p>
</blockquote>

<p>So even after you've reached the "vote to close" threshold, it still needs five votes to close a question (except if you earned so much reputation from one of tags that the system considers you to be an expert and capable of detecting duplicates on your own :-)).</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>The main point is that flagging to close doesn't actually flag for a moderator. It simply puts the post into the same review queue as voting to close just without a vote.</p>

<p>It's never acceptable to flag for a moderator to close a question regardless of reputation.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>