<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Once I have sufficient reputation and I vote to close, can I still flag for a moderator to finish the vote?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2528" class = "post">
			<h2>Question</h2>
			<div id="vote-2528" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 48</p>
			</div>
				<h2>Once I have sufficient reputation and I vote to close, can I still flag for a moderator to finish the vote?</h2>
<p>As far as I know, you need a certain number of close votes to close a question. I have seen some high reputation users closing questions for several reasons. I also saw a moderator closing the question instantly, as only 1 name (the moderator's) was listed. If I had high reputation and I voted to close, is it still OK to call a moderator to finish the vote off?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2528" class = 'collapse'>
			</div>
				<textarea id = "speech-2528" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2528">
					<img id="start_img-2528" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2529"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2529" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>See <a href="https://apple.stackexchange.com/help/privileges/close-questions">https://apple.stackexchange.com/help/privileges/close-questions</a> for some more insights in this area. Basically</p>

<blockquote>
  <p>Note that once you gain the reputation to vote to close, you should no longer flag for moderator attention to have questions closed or migrated. It is your responsibility to vote now.</p>
</blockquote>

<p>and</p>

<blockquote>
  <p>It takes 5 close votes to reach the closing threshold (except for duplicate questions, which can be marked as duplicate with a single vote from a user who has earned a gold tag badge in one of that question's original tags).</p>
</blockquote>

<p>So even after you've reached the "vote to close" threshold, it still needs five votes to close a question (except if you earned so much reputation from one of tags that the system considers you to be an expert and capable of detecting duplicates on your own :-)).</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2529">Load Comments</button></br>
			<div id = "commentsection-2529" class = 'collapse'>
			<div id = "comment-5722" class = "comment">
				<p>I should've read the privilege before asking. Thanks :)</p>
			</div>
			</div>
				<textarea id = "speech-2529" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2529">
					<img id="start_img-2529" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2531"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2531" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The main point is that flagging to close doesn't actually flag for a moderator. It simply puts the post into the same review queue as voting to close just without a vote.</p>

<p>It's never acceptable to flag for a moderator to close a question regardless of reputation.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2531">Load Comments</button></br>
			<div id = "commentsection-2531" class = 'collapse'>
			<div id = "comment-5723" class = "comment">
				<p>Thanks for that addition :) I flag for example when something is off-topic. But that might not count as a close? I didn't know that flags doesn't flag for only a moderator...</p>
			</div>
			<div id = "comment-5724" class = "comment">
				<p>@TheBro21 Spam, offensive and custom flags are handled by elected moderators. All other flags are handled by the community in review queues. It hasn't been like this for long in the timespan of SE and much content is out of date with regard to this.</p>
			</div>
			<div id = "comment-5725" class = "comment">
				<p>Are vote for closure flags in the Close votes review queue? Or somewhere else?</p>
			</div>
			<div id = "comment-5726" class = "comment">
				<p>@TheBro21 The post that was flagged is added to the close vote review queue.</p>
			</div>
			</div>
				<textarea id = "speech-2531" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2531">
					<img id="start_img-2531" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>