<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>OSquestions copying Ask Different
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>OSquestions copying Ask Different</h2>
<p>I did see a bunch of questions on this topic. And I saw an answer saying that it is fine if they say the source is from AD. Though <a href="http://osquestions.com/osx-ios/151586/how-do-i-hide-the-spotlight-icon-on-yosemite-but-keep-the-spotlight-functionali" rel="nofollow">here</a> it look just as if the AD question was native to the site OSquestions. The whole thread is copied with the questions and answers. Though there are no authors listed. Does anyone know about this? Is it even <strong>Legal</strong> to do that without saying that it is from AD? What should I (or someone) do with this?</p>

<p>Within browsing around, alot of questions are copied from AD. There is also a Unix and Linux tab that could copy.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The detailed process is give in this <a href="https://meta.stackexchange.com/questions/200177/updated-procedure-for-reporting-scrapers">Meta Stack Exchange question</a> </p>

<p>The license for all contributions we make allows copying anywhere as long as it is clear it originates from Stack Exchange.</p>

<p>If you think the copy is not correct then the answer is:</p>

<blockquote>
  <p>tl;dr: Send all reports of SCRAPERs to us via the form on the contact us page, linked at the bottom of every page.</p>
</blockquote>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>