<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>osx brand server tag synonyms
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-367" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::50</h3>
				<h2>osx brand server tag synonyms</h2>
<p>I would like to suggest that <a href="https://apple.stackexchange.com/questions/tagged/snow-leopard-server" class="post-tag" title="show questions tagged &#39;snow-leopard-server&#39;" rel="tag">snow-leopard-server</a> and any other such variant of the given Server Software names be synonymized to <a href="https://apple.stackexchange.com/questions/tagged/osx-server" class="post-tag" title="show questions tagged &#39;osx-server&#39;" rel="tag">osx-server</a>.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-367" class = 'collapse'>
			</div>
				<textarea id = "speech-367" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-367">
					<img id="start_img-367" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-368"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The theory, at least, is that some questions are about OS X Server in general, and some are about a specific version of OS X server in the same fashion that some questions are tagged <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> and some <a href="https://apple.stackexchange.com/questions/tagged/snow-leopard" class="post-tag" title="show questions tagged &#39;snow-leopard&#39;" rel="tag">snow-leopard</a>.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-368">Load Comments</button></br>
			<div id = "commentsection-368" class = 'collapse'>
			<div id = "comment-758" class = "comment">
				<p>Isn't that the point of the synonym though? To allow people to use derivatives to identify the specific version, but keeping them grouped in the tag interface by general topic for applicability purposes? [edit] I really hope that made sense. It makes sense to me :/.</p>
			</div>
			<div id = "comment-784" class = "comment">
				<p>I guess I was mistaken. Thanks for clarifying that.</p>
			</div>
			</div>
				<textarea id = "speech-368" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-368">
					<img id="start_img-368" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>