<html>
	<head>
		<title id = 'pagetitle'>osx brand server tag synonyms
		</title>
	<head>
	<body id = 'pagebody'><p>I would like to suggest that <a href="https://apple.stackexchange.com/questions/tagged/snow-leopard-server" class="post-tag" title="show questions tagged &#39;snow-leopard-server&#39;" rel="tag">snow-leopard-server</a> and any other such variant of the given Server Software names be synonymized to <a href="https://apple.stackexchange.com/questions/tagged/osx-server" class="post-tag" title="show questions tagged &#39;osx-server&#39;" rel="tag">osx-server</a>.</p>


<h1>ANSWERS</h1>
		<p>The theory, at least, is that some questions are about OS X Server in general, and some are about a specific version of OS X server in the same fashion that some questions are tagged <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> and some <a href="https://apple.stackexchange.com/questions/tagged/snow-leopard" class="post-tag" title="show questions tagged &#39;snow-leopard&#39;" rel="tag">snow-leopard</a>.</p>


	</body>
</html>