<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Our 404 Page is Boring
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-542" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::209</h3>
				<h2>Our 404 Page is Boring</h2>
<p>I stumbled onto a question that was deleted before I refreshed the page (read: could answer the question) and I noticed that we have an awfully boring 404 page. I feel that this is a grave problem!</p>

<p>This post may be a bit unnecessary, considering that we have the <a href="https://apple.meta.stackexchange.com/questions/233/404-image-nominations">404 Image Nominations</a> question, but here it is anyways.</p>

<p>I've moved my suggestions into an answer, to clean up the question a little bit. Splitting the facts from the opinion.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-543"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>I'm very partial to both of the initial suggestions in the 2 top rated answers;</p>

<p><img src="http://upload.wikimedia.org/wikipedia/en/1/1f/Sad_mac.png" alt="Sad Mac"></p>

<p>and</p>

<p><img src="http://www.cultofmac.com/wordpress/wp-content/uploads/2010/07/mac-queston-mark2.jpg" alt="Boot Drive Not Found"></p>

<p>I will say that if we used Sad Mac, I would love to change the text to be 404 in hex values. But the OS Drive Not Found error needs no other labels, IMO.</p>

<p>This is all certainly much better than a generic frowny face that we currently have.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-544"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I have updated the 404 image with the sad Mac one. It will be in the next deployment.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-980" class = "comment">
				<p>meh.. I liked the *drive not found* better, but.. I'm not really a user of this site hehehe  :P  :)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>