<html>
	<head>
		<title id = 'pagetitle'>Our 404 Page is Boring
		</title>
	<head>
	<body id = 'pagebody'><p>I stumbled onto a question that was deleted before I refreshed the page (read: could answer the question) and I noticed that we have an awfully boring 404 page. I feel that this is a grave problem!</p>

<p>This post may be a bit unnecessary, considering that we have the <a href="https://apple.meta.stackexchange.com/questions/233/404-image-nominations">404 Image Nominations</a> question, but here it is anyways.</p>

<p>I've moved my suggestions into an answer, to clean up the question a little bit. Splitting the facts from the opinion.</p>


<h1>ANSWERS</h1>
		<p>I'm very partial to both of the initial suggestions in the 2 top rated answers;</p>

<p><img src="http://upload.wikimedia.org/wikipedia/en/1/1f/Sad_mac.png" alt="Sad Mac"></p>

<p>and</p>

<p><img src="http://www.cultofmac.com/wordpress/wp-content/uploads/2010/07/mac-queston-mark2.jpg" alt="Boot Drive Not Found"></p>

<p>I will say that if we used Sad Mac, I would love to change the text to be 404 in hex values. But the OS Drive Not Found error needs no other labels, IMO.</p>

<p>This is all certainly much better than a generic frowny face that we currently have.</p>


<p>I have updated the 404 image with the sad Mac one. It will be in the next deployment.</p>


	</body>
</html>