<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Our 404 Page is Boring
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-542" class = "post">
			<h2>Question</h2>
			<div id="vote-542" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 209</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Our 404 Page is Boring</h2>
<p>I stumbled onto a question that was deleted before I refreshed the page (read: could answer the question) and I noticed that we have an awfully boring 404 page. I feel that this is a grave problem!</p>

<p>This post may be a bit unnecessary, considering that we have the <a href="https://apple.meta.stackexchange.com/questions/233/404-image-nominations">404 Image Nominations</a> question, but here it is anyways.</p>

<p>I've moved my suggestions into an answer, to clean up the question a little bit. Splitting the facts from the opinion.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-542" class = 'collapse'>
			</div>
				<textarea id = "speech-542" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-542">
					<img id="start_img-542" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-543"  class = "post">
				<h2>Answer</h2>
			<div id="vote-543" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm very partial to both of the initial suggestions in the 2 top rated answers;</p>

<p><img src="http://upload.wikimedia.org/wikipedia/en/1/1f/Sad_mac.png" alt="Sad Mac"></p>

<p>and</p>

<p><img src="http://www.cultofmac.com/wordpress/wp-content/uploads/2010/07/mac-queston-mark2.jpg" alt="Boot Drive Not Found"></p>

<p>I will say that if we used Sad Mac, I would love to change the text to be 404 in hex values. But the OS Drive Not Found error needs no other labels, IMO.</p>

<p>This is all certainly much better than a generic frowny face that we currently have.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-543" class = 'collapse'>
			</div>
				<textarea id = "speech-543" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-543">
					<img id="start_img-543" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-544"  class = "post">
				<h2>Answer</h2>
			<div id="vote-544" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have updated the 404 image with the sad Mac one. It will be in the next deployment.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-544">Load Comments</button></br>
			<div id = "commentsection-544" class = 'collapse'>
			<div id = "comment-980" class = "comment">
				<p>meh.. I liked the *drive not found* better, but.. I'm not really a user of this site hehehe  :P  :)</p>
			</div>
			</div>
				<textarea id = "speech-544" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-544">
					<img id="start_img-544" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>