<html>
	<head>
		<title id = 'pagetitle'>Our volume tag is a mess. Can we decide if it's sound related or filesystem related?
		</title>
	<head>
	<body id = 'pagebody'><p>We have a small mess surrounding the <a href="https://apple.stackexchange.com/questions/tagged/volume" class="post-tag" title="show questions tagged &#39;volume&#39;" rel="tag">volume</a> tag.</p>

<p>Some of the questions are relating to sound / volume / loudness / audio.</p>

<p>Some are relating to storage and the concept of physical or logical volumes.</p>

<p>We already have well established tags for <a href="https://apple.stackexchange.com/questions/tagged/filesystem" class="post-tag" title="show questions tagged &#39;filesystem&#39;" rel="tag">filesystem</a> with about 100 questions and <a href="https://apple.stackexchange.com/questions/tagged/audio" class="post-tag" title="show questions tagged &#39;audio&#39;" rel="tag">audio</a> with about 400 questions that could probably serve for either meaning of "volume"</p>

<p>Should we leave the tag as ambiguous or perhaps clean things up and then make it a synonym of one or the other ideas?</p>


<h1>ANSWERS</h1>
		<p>Making it as a synonym will not end the problem as users will just add it without reading what it is for. </p>

<p>I think the only way is to clean the questions up and then burninate the tag</p>

<p>If we do not want to keep checking this tag is empty we will have to get the tag blacklisted.</p>

<p>I think volume is a difficult case as it will be the "obvious" tag to use when the question is written and they won't think of the other possible use.</p>

<p>It depends if we want to keep looking to check or we want to stop any abuse up front.If we are happing to keep checking I would make volume a synonym of audio as I suspect people looking for the filesystem use of volume will take a bit more notice of issues.</p>


<p>Since we cannot hinder people from trying to use a <strong>volume</strong> tag for either one of its meanings, I would propose that we <em>block</em> the tag and  thus force the poster to use one the following tags instead:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/sound-volume" class="post-tag" title="show questions tagged &#39;sound-volume&#39;" rel="tag">sound-volume</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/disk-volume" class="post-tag" title="show questions tagged &#39;disk-volume&#39;" rel="tag">disk-volume</a></li>
</ul>

<p>The choice of words is intended and will make sure that a poster will be suggested either one of these tags when trying to add the tag <a href="https://apple.stackexchange.com/questions/tagged/volume" class="post-tag" title="show questions tagged &#39;volume&#39;" rel="tag">volume</a>. </p>

<p>Tag blocking already exists with some plural forms of other tags:</p>

<p><img src="https://i.stack.imgur.com/FMIir.png" alt="enter image description here"></p>


<p>I propose that we define in the tag wiki that <a href="https://apple.stackexchange.com/questions/tagged/volume" class="post-tag" title="show questions tagged &#39;volume&#39;" rel="tag">volume</a> be for auditory volume. We can then simply move the disk volume tags to <a href="https://apple.stackexchange.com/questions/tagged/filesystem" class="post-tag" title="show questions tagged &#39;filesystem&#39;" rel="tag">filesystem</a>. Having a definition in the tag wiki will curb a great deal of mistagging as it does appear when a user is typing in a tag.</p>


<p>Since we don't have an answer clearly deciding which side to pick, I propose a two step process:</p>

<ol>
<li><p>Use <a href="https://apple.meta.stackexchange.com/users/13414/gentmatt">gentmatt's</a> nice <a href="https://apple.meta.stackexchange.com/a/1527/5472">tag name suggestions</a> to clean up the existing questions so that anything tagged with <a href="https://apple.stackexchange.com/questions/tagged/volume" class="post-tag" title="show questions tagged &#39;volume&#39;" rel="tag">volume</a> gets edited to have the new tags <a href="https://apple.stackexchange.com/questions/tagged/sound-volume" class="post-tag" title="show questions tagged &#39;sound-volume&#39;" rel="tag">sound-volume</a> and <a href="https://apple.stackexchange.com/questions/tagged/disk-volume" class="post-tag" title="show questions tagged &#39;disk-volume&#39;" rel="tag">disk-volume</a> so that we have a clean count of which is more popular. We would then have no questions with <a href="https://apple.stackexchange.com/questions/tagged/volume" class="post-tag" title="show questions tagged &#39;volume&#39;" rel="tag">volume</a> and can watch things for 30 days (or longer) to see if / when it gets added - based on the fraction of questions in both bins after 30 days - we can decide to make a synonym and point volume at one of the two.</p></li>
<li><p>After a few months - we can decide to collapse things down <a href="https://apple.stackexchange.com/questions/tagged/disk-volume" class="post-tag" title="show questions tagged &#39;disk-volume&#39;" rel="tag">disk-volume</a> to <a href="https://apple.stackexchange.com/questions/tagged/filesystem" class="post-tag" title="show questions tagged &#39;filesystem&#39;" rel="tag">filesystem</a> and <a href="https://apple.stackexchange.com/questions/tagged/sound-volume" class="post-tag" title="show questions tagged &#39;sound-volume&#39;" rel="tag">sound-volume</a> to <a href="https://apple.stackexchange.com/questions/tagged/audio" class="post-tag" title="show questions tagged &#39;audio&#39;" rel="tag">audio</a> or to not collapse them. Why hold up step #1 if we don't have counts or data to decide on step 2.</p></li>
</ol>

<p>Merging all the things too early is hard (possibly impractical and/or impossible) to undo, but I don't see a better suggestion than lengthening the tags.</p>

<p>If anyone has heartburn on these names - now is the time to air it. Once this gets something like 5 more up votes than any other answer or the moderators decide to pull the trigger - we'll get going on retagging things.</p>


	</body>
</html>