<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>overediting a post
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1410" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::49</h3>
				<h2>overediting a post</h2>
<p>What should we do if somebody over-edits our post?</p>

<p>e.g, my original post was not perfect, and I appreciate some of what was added, but the edit changed my position on the subject, made the question "not a question" and left my name attached to the post:</p>

<p><a href="https://apple.stackexchange.com/questions/60958/help-me-understand-the-shadow-files-for-every-mac-file-that-gets-sent-to-a-li">Will setting a cron job to delete ._ shadow files on a linux share work?</a></p>

<p>Can I see my original post to compare?  Is there a "revert" or something?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1411"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Roll it back and add a comment as to why you prefer your wording or better, make a second edit to keep the good and further refine things you feel could be made better. </p>

<p>In your specific case, I edited it quite severely since it was a rant and they get flagged and closed more often than not, but as the author of the post you generally get extra leeway in how a post reads. Who cares if people are livid - the emotional state of others on a chat board or even one person's frustration rarely add value to a question on the site so we do edit out rants as a point of policy. I did leave in the "livid" part to indicate that you were frustrated and chose those words to characterize this function and your view of it.</p>

<p>Since the site is <a href="https://apple.stackexchange.com/faq#editing">edited collaboratively</a> - you should expect a back and forth as well as be open to what the regulars consider "good form" when you are new to a particular site.</p>

<p>Just click on the edited... link to see revisions and comments as to why a particular edit was made...</p>

<p><img src="https://i.stack.imgur.com/rmBis.jpg" alt="enter image description here"></p>

<p>Do let the <a href="https://apple.stackexchange.com/faq#editing">faq</a> soak in on the part about being comfortable with others editing your words.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2694" class = "comment">
				<p>I won't revert, I know it was done in the right spirit...  which is why I ask.  I was surprised at the heavy edit.  Note that the edit contains an *answer* to my question... "should I set up a cron job?", but I'm still not sure if that *was* the right thing to do in this case.  I'm not new to Stackexchange, only new to the Apple forum.  I haven't seen this kind of edit before.</p>
			</div>
			<div id = "comment-2695" class = "comment">
				<p>I'm glad you're here and also glad for the content. It was on the heavy end of edits for sure but we get hundreds of "apple sucks - why did they do this stupid thing" and I honestly didn't want your name colored into that category. It's a great question. I did take a second edit at your title - I hope the last edit captures your main intent better.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>