<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Overhaul tags for Apple apps across OS X, iOS, watchOS, and tvOS
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2623" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::90</h3>
				<h2>Overhaul tags for Apple apps across OS X, iOS, watchOS, and tvOS</h2>
<p>Currently tags for Apple Apps are all over the place.</p>

<p>At first I thought it would be a good idea to have separate tags for each app on each platform like having <a href="https://apple.stackexchange.com/questions/tagged/mail.app" class="post-tag" title="show questions tagged &#39;mail.app&#39;" rel="tag">mail.app</a> for OS X and <a href="https://apple.stackexchange.com/questions/tagged/mobile-mail" class="post-tag" title="show questions tagged &#39;mobile-mail&#39;" rel="tag">mobile-mail</a> for iOS but that quickly gets out of hand with all the new platforms (tv and watch) and there isn't a simple naming convention to follow (why a prefix for one platform and a suffix for the other). Apple used to refer to Mail on iOS as Mobile Mail but now they do not. I think internally it is still MobileMail and NanoMail for the watch but most people wouldn't recognize them as such.</p>

<p>Thus I propose that we move tags for Apple apps that have the same name across platforms to use the <code>.app</code> suffix such as <a href="https://apple.stackexchange.com/questions/tagged/mail.app" class="post-tag" title="show questions tagged &#39;mail.app&#39;" rel="tag">mail.app</a> and drop or make the <code>mobile</code> prefix a synonym. Then the user would just combine the app tag with the relevant platform to indicate which one they are interested in. Also we would still keep general nouns such as <a href="https://apple.stackexchange.com/questions/tagged/maps" class="post-tag" title="show questions tagged &#39;maps&#39;" rel="tag">maps</a> and <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> separate from their <code>.app</code> tags. Thoughts?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2624"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>.app only makes sense for OS X applications as this is the only one that shows .app. OS X users will unserstand .app but I think there will be new IOS users who will not understand .app as an extension (and the default for OS X is show no extension) so I think .app is only for experienced people. This is especially as auto complete will show the name without the .app and users will choose that.</p>

<p>I agree the mobile prefix makes no sense,</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-3050"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p><strong>Yes, this should happen, since people would be able to search with <code>[mail] [ios]</code> or similar.</strong> The search term would mean that all posts found would have both tags.</p>

<p>You can even test it out using <a href="https://apple.stackexchange.com/questions/tagged/imac+memory">this search query</a> for <a href="https://apple.stackexchange.com/questions/tagged/imac" class="post-tag" title="show questions tagged &#39;imac&#39;" rel="tag">imac</a> and <a href="https://apple.stackexchange.com/questions/tagged/memory" class="post-tag" title="show questions tagged &#39;memory&#39;" rel="tag">memory</a>-tagged posts.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>