<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Overhaul tags for Apple apps across OS X, iOS, watchOS, and tvOS
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2623" class = "post">
			<h2>Question</h2>
			<div id="vote-2623" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
				<h2>Overhaul tags for Apple apps across OS X, iOS, watchOS, and tvOS</h2>
<p>Currently tags for Apple Apps are all over the place.</p>

<p>At first I thought it would be a good idea to have separate tags for each app on each platform like having <a href="https://apple.stackexchange.com/questions/tagged/mail.app" class="post-tag" title="show questions tagged &#39;mail.app&#39;" rel="tag">mail.app</a> for OS X and <a href="https://apple.stackexchange.com/questions/tagged/mobile-mail" class="post-tag" title="show questions tagged &#39;mobile-mail&#39;" rel="tag">mobile-mail</a> for iOS but that quickly gets out of hand with all the new platforms (tv and watch) and there isn't a simple naming convention to follow (why a prefix for one platform and a suffix for the other). Apple used to refer to Mail on iOS as Mobile Mail but now they do not. I think internally it is still MobileMail and NanoMail for the watch but most people wouldn't recognize them as such.</p>

<p>Thus I propose that we move tags for Apple apps that have the same name across platforms to use the <code>.app</code> suffix such as <a href="https://apple.stackexchange.com/questions/tagged/mail.app" class="post-tag" title="show questions tagged &#39;mail.app&#39;" rel="tag">mail.app</a> and drop or make the <code>mobile</code> prefix a synonym. Then the user would just combine the app tag with the relevant platform to indicate which one they are interested in. Also we would still keep general nouns such as <a href="https://apple.stackexchange.com/questions/tagged/maps" class="post-tag" title="show questions tagged &#39;maps&#39;" rel="tag">maps</a> and <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> separate from their <code>.app</code> tags. Thoughts?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2623" class = 'collapse'>
			</div>
				<textarea id = "speech-2623" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2623">
					<img id="start_img-2623" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2624"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2624" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>.app only makes sense for OS X applications as this is the only one that shows .app. OS X users will unserstand .app but I think there will be new IOS users who will not understand .app as an extension (and the default for OS X is show no extension) so I think .app is only for experienced people. This is especially as auto complete will show the name without the .app and users will choose that.</p>

<p>I agree the mobile prefix makes no sense,</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2624" class = 'collapse'>
			</div>
				<textarea id = "speech-2624" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2624">
					<img id="start_img-2624" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3050"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3050" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Yes, this should happen, since people would be able to search with <code>[mail] [ios]</code> or similar.</strong> The search term would mean that all posts found would have both tags.</p>

<p>You can even test it out using <a href="https://apple.stackexchange.com/questions/tagged/imac+memory">this search query</a> for <a href="https://apple.stackexchange.com/questions/tagged/imac" class="post-tag" title="show questions tagged &#39;imac&#39;" rel="tag">imac</a> and <a href="https://apple.stackexchange.com/questions/tagged/memory" class="post-tag" title="show questions tagged &#39;memory&#39;" rel="tag">memory</a>-tagged posts.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3050" class = 'collapse'>
			</div>
				<textarea id = "speech-3050" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3050">
					<img id="start_img-3050" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>