<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Pixelpalooza - Requesting a feature to normalize sizing of portrait iOS screen images by default (not just for landscape images)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-884" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::76</h3>
				<h2>Pixelpalooza - Requesting a feature to normalize sizing of portrait iOS screen images by default (not just for landscape images)</h2>
<p>I often find myself not uploading a screen capture from my iPhone since the default size of a retina sized picture is quite large.</p>

<p><img src="https://i.stack.imgur.com/hTT83.jpg" alt="iPhone 4 portrait screen capture"></p>

<p>In landscape it would be quite intimidating if the system didn't already scale it down...
<img src="https://i.stack.imgur.com/QHuOH.jpg" alt="iPhone 4 landscape screen capture"></p>

<p>Would it be possible to get the system to automatically tweak images uploaded to this site that match these exact iOS pixel sizes by default?</p>

<p>It would be best if the non retina devices looked like retina devices.</p>

<p>Optionally, you could add some text to the post so advanced users that <em>really</em> wanted the raw image size could over-rule it if you worried about that in practice?</p>

<p>This question shows how in practice, some editorial time is being taken to implement this in a less than standard way. <a href="https://apple.stackexchange.com/users/1346/vxjasonxv">Jason</a> has done a marvelous job of curating the pictures here, but perhaps a designer's eye could tweak or bless his choice of 200 pixels and assist everyone who uploads iOS standard screen shots so they all look the same on the site.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/27761/what-tiny-thing-in-ios-5-makes-you-smile-or-has-caught-you-off-guard">What tiny thing in iOS 5 makes you smile, or has caught you off guard?</a></li>
</ul>

<p>Super bonus points for a cool breakout function similar to how the 1k user's get a bigger view on a mouse over event, but perhaps that's asking for too much.</p>

<p>Here are the iPad sizes for comparison...</p>

<p><img src="https://i.stack.imgur.com/fJpCf.jpg" alt="iPad portrait screen capture"></p>

<p><img src="https://i.stack.imgur.com/mg6QB.jpg" alt="iPad landscape screen capture"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1631" class = "comment">
				<p>Yeah, I would love to see this. I hate using `<img ... width="300px" />`</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-896"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Having iPhone screenshots be 200px wide was my solution, and I chose it because I needed to show 3 screenshots side-by-side. I appreciate Jason maintaining the question and making sure that all the other screenshots were the same size for uniformity. If we want to 'bless' that as the recommended size that iPhone screenshots, and by 'bless' I mean 'recommend', then I'm on board with that.</p>

<p>As far as getting this built into the site itself, it might be nice but I don't think SE does per-site modifications that often. The best we could probably hope for is some custom JS that does it client-side like MathJax does on the Math, TeX, and other sites.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>