<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Planning the Ask Different Anniversary Extravaganza
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-969" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::130</h3>
				<h2>Planning the Ask Different Anniversary Extravaganza</h2>
<p><strong>January 28th, 2012 will mark  Ask Different's <em>1-year anniversary of graduation</em>!</strong></p>

<p>Stack Exchange has offered to support a special Ask Different event in honor of that anniversary.</p>

<p>I've added an answer with my ideas, but exactly what we do is up to the community. If you've got an idea for how to party it up come the 28th, please share!</p>

<p>Be sure to vote on the ideas you like!<br>
There's no reason to limit ourselves to only one option; comment on an answer if you think it can be expanded, built off of, or combined with another answer.</p>

<p><img src="https://i.stack.imgur.com/6yK6W.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1806" class = "comment">
				<p>Great! Continue working up the details and rallying support. If you need anything from us, please let us know directly (community@stackexchange.com). This looks promising.</p>
			</div>
			<div id = "comment-1812" class = "comment">
				<p>I *love* the graphic here, BTW</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-970"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p><strong>Lots of marathons and lots of prizes.</strong><br>
We've already been <a href="http://chat.stackexchange.com/rooms/2014/ask-different-answerthon-planning">kicking around the idea of an answerthon</a>,   la <a href="https://travel.meta.stackexchange.com/questions/360/halloween-answer-a-thon">Travel.stackexchange.com</a>. The idea to integrate a push for voting and flagging, possibly before the Answerthon, has also <a href="http://chat.stackexchange.com/transcript/message/2865753#2865753">come up</a>.</p>

<p>I like both of these ideas, and think that they would work very well on Ask Different. We've got a relatively low <a href="http://stackexchange.com/sites?sort=percentanswered&amp;expand=true">Percent Answered rate</a> (8th from the bottom, at the time of this writing), and we also have less voting than many other sites. I think that a big push would not only help us with the backlog of questions we already have, but also help get a 'lots of voting' vibe in the air which would hopefully stick with people as they continue to use the site.</p>

<p>Answering and voting are both very important, but there's more to a successful, happy Q&amp;A site than that. For <a href="http://blog.superuser.com/2011/08/19/super-users-2nd-birthday-super-contest/" rel="nofollow noreferrer">Super User's 2nd birthday</a>, they encouraged people to edit posts, edit tag wikis, and write for the blog (in addition to the things mentioned above). Why restrict people to votes, flags, and answers; I'd love to encourage people to do the smaller things that make this site great.</p>

<p>Oh, and Super User did more than encourage people to help the site: they rewarded them.<br>
Prizes included swag and hardware/software.<br>
Stack Exchange has offered to support something similar for us, if people are interested.<br>
To see the exact categories of involvement and their rewards, take a look at the <a href="http://blog.superuser.com/2011/08/19/super-users-2nd-birthday-super-contest/" rel="nofollow noreferrer">SU blog post</a>. I really like their categories and think they would integrate very well with the marathons we've been thinking about.  </p>

<p>If you've got ideas for categories and prizes, comment here!<br>
We'll also need a panel of judges. If you're interested, comment here.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1762" class = "comment">
				<p>Have any other sites celebrated the anniversary of their graduation? If so, those might be good models to follow.</p>
			</div>
			<div id = "comment-1763" class = "comment">
				<p>@KyleCronin Other than Super User, I'm not sure. AFAIK, no one's done anything special.</p>
			</div>
			<div id = "comment-1764" class = "comment">
				<p>Panel of judges to do what?</p>
			</div>
			<div id = "comment-1765" class = "comment">
				<p>@Daniel To decide who wins some of the non-numeric prizes. Some of the categories SU used, like best blog posts, need human judges.</p>
			</div>
			<div id = "comment-1766" class = "comment">
				<p>I'd love to try to win something, so if being a judge in any category disqualifies you from participating in another, I'm not interested, but if one can be a judge for one part of the competition and enter in another, sign me up.</p>
			</div>
			<div id = "comment-1769" class = "comment">
				<p>I like this idea.</p>
			</div>
			<br><div id = "ans-995"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I'd like to see a Birthday Answerathon that looks something like this:</p>

<h2>Step 1: The search</h2>

<p>We put a link to search parameters for unanswered question over a certain age, and encourage site users to vote the questions up if think we should focus on finding answers for them, or flag/close them if they appear unanswerable with the information currently contained in the post.
As a result of this, we get a list of the top n questions needing answers.</p>

<h2>Step 2: The Community Bounty</h2>

<p>We get a bunch of community members to commit to reading any answers posted for these questions, and voting in favor of them if they look promising. Not an actual bounty, but it encourages people to work on answering the pending unanswered-but-answerable questions.</p>

<h2>Step 3: The Answerathon itself</h2>

<p>Ready... set... answer questions</p>

<h2>Step 4: Prizes, Congratulations, and a much better answered question rate</h2>

<p>Give out lots of birthday swag (if possible) or just online kudos for participants in the process -- most upvoted answers, best quality comments, most votes cast(!!!), etc.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1810" class = "comment">
				<p>This sounds like a great way to execute the answerthon! Swag is definitely a possibility, as is online kudos (and more... material rewards :).</p>
			</div>
			<br><div id = "ans-996"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>To celebrate our birthday, we should elect more moderators to increase the number of active mods on the site.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1811" class = "comment">
				<p>Sounds good to me! SE handles elections, and I think we can expect one before too long, birthday or not.</p>
			</div>
			<div id = "comment-1866" class = "comment">
				<p>Looks like this is the one thing that actually happened for the birthday.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>