<html>
	<head>
		<title id = 'pagetitle'>Please one box Apple app store apps in chat
		</title>
	<head>
	<body id = 'pagebody'><p>It would be convenient if the one box code to expand a link in [chat] would handle Apple app store apps, iBooks, Movies, Music, Videos, etc...</p>

<ul>
<li><a href="https://itunes.apple.com/us/app/just-press-record-voice-audio/id1033342465?mt=8" rel="nofollow">https://itunes.apple.com/us/app/just-press-record-voice-audio/id1033342465?mt=8</a></li>
</ul>

<p>Thanks for any votes or thought on if this would be a bad thing. My feeling is moderation would be able to handle any abuses of this, but I'm asking here to see if anyone thinks this would be helpful.</p>


<h1>ANSWERS</h1>
			</body>
</html>