<html>
	<head>
		<title id = 'pagetitle'>Please markdown process blog post links from the stack exchange blogs
		</title>
	<head>
	<body id = 'pagebody'><p>The code that processes site links is skipping the ask different blog to grab a title in a similar manner to how site questions get rendered from the raw links</p>

<p>See:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/132382/where-can-i-discuss-apples-beta-seed-program">Where can I discuss Apple&#39;s Beta Seed program?</a></li>
<li><p><a href="http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/" rel="nofollow noreferrer">http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/</a></p>

<p>It would be nice if the blog posts were prettied up auto magically. </p></li>
</ul>


<h1>ANSWERS</h1>
			</body>
</html>