<html>
	<head>
		<title id = 'pagetitle'>Please remove the "temperance" chat room from this site's admin page
		</title>
	<head>
	<body id = 'pagebody'><p>The admin page at <a href="https://apple.stackexchange.com/admin/dashboard">https://apple.stackexchange.com/admin/dashboard</a> will occasionally list the <a href="http://chat.stackexchange.com/rooms/4083">Temperance</a> chat room which apparently is for religious moderation.</p>

<p>Please remove that as it doesn't concern moderation of this site.</p>


<h1>ANSWERS</h1>
			</body>
</html>