<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Please remove this "beta" article from help
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2604" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::33</h3>
				<h2>Please remove this "beta" article from help</h2>
<p>Please remove <a href="https://apple.stackexchange.com/help/whats-beta">https://apple.stackexchange.com/help/whats-beta</a></p>

<p>This applies to sites that are still in "beta" and clouds the issue we have on the site with respect to beta software questions in general.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1119/">Despite the general rule to not answer questions about beta products, should we allow Messages on OS X and Siri on iPhone 4S questions?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/1712/">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/573/">Update to FAQ regarding beta and pre-release software</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/798/">Pre-release software that doesn&#39;t require an NDA</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/2396/">Are Apple iCloud / iWork beta web apps on topic for the main site?</a></li>
</ul>

<p>The site beta status is "inside baseball" describing what steps Ask Different went through to get to where we are today. It's no longer relevant to have up and the help could use some thinning since it's not even viewable on one page.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2605"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>This is a specific article about what we wish the community to know about the term "beta" as it pertains to any site in the SE network.  It serves as information for users who have never been a part of the SE network and wish to learn how a site evolves.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5879" class = "post">
				<p>Could you at least bury it so it's below the fold on the main help page? I interact with users that need help and actually looked for help on the help page, but there's too much data there for them to find the asking / answering articles without searching. I can gladly start a new request listing the exact articles I feel from experience should be visible above the fold. Spamming, meta and editing are things we suspend users and have to help them with. Could those get better ordering than "what is beta"?</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>