<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Please one box Apple app store apps in chat
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Please one box Apple app store apps in chat</h2>
<p>It would be convenient if the one box code to expand a link in [chat] would handle Apple app store apps, iBooks, Movies, Music, Videos, etc...</p>

<ul>
<li><a href="https://itunes.apple.com/us/app/just-press-record-voice-audio/id1033342465?mt=8" rel="nofollow">https://itunes.apple.com/us/app/just-press-record-voice-audio/id1033342465?mt=8</a></li>
</ul>

<p>Thanks for any votes or thought on if this would be a bad thing. My feeling is moderation would be able to handle any abuses of this, but I'm asking here to see if anyone thinks this would be helpful.</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>