<html>
	<head>
		<title id = 'pagetitle'>Please pin the [ask] "How to Ask" tutorial to the top of the help page
		</title>
	<head>
	<body id = 'pagebody'><p>Often we get new users that ask questions without sufficient research.</p>

<p>I would like for the <a href="https://apple.stackexchange.com/questions/how-to-ask">How to ask</a> page to be pinned as the first item (or at least a visible item) under the Asking section of the <a href="https://apple.stackexchange.com/help">Help Center</a>.</p>

<p><img src="https://i.stack.imgur.com/NCRtl.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
			</body>
</html>