<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Please can you add your opinion on Community Wiki questions to aid in identifying a common approach to future instances
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1851" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::144</h3>
				<h2>Please can you add your opinion on Community Wiki questions to aid in identifying a common approach to future instances</h2>
<p>A new OS X release, and a new Community Wiki question, and a further round of hand wringing over what the use of these questions means on the site, and whether they should be encourage, discontinued, modified etc.</p>

<p>Without putting my particular stance in the question to avoid answers agreeing or disagreeing or discussing it, can I ask that anyone with an opinion on them please put that opinion in an answer, and for people to discuss each answer in appropriate comments rather than with other answers (unless the answer you subsequently add is to describe your own thoughts, rather than comment on anothers).</p>

<p>Things you might like to think about (obviously this is just a braindump and not full guidance - bring your own thoughts):</p>

<ul>
<li>Do we have too many</li>
<li>Should anyone be able to set them up, or should it be an earned priviledge, or a Mod action</li>
<li>Should there be a seperate "On Topic" entry for this type of question</li>
<li>Should we close them on sight</li>
<li>Do they have any value that is less easily replicated on a traditional Q&amp;A</li>
<li>Should they be located on Meta</li>
<li>Can a change of format make them more useful</li>
<li>Do they detract from the rest of the site</li>
<li>Is their value transitional, do they lose relevance over time</li>
<li>Should we provide a template for questions for consistency</li>
<li>Do they drive users to the site</li>
<li>Do they drive users away</li>
<li>Are they popular with regular site users</li>
<li>Are they an embarassment to other SE site users</li>
</ul>

<p>There's lots to think about, and many pros and cons to discuss.  If everyone with a strong enough opinion writes their monologue below as an answer, perhaps enough of a theme can be picked out to direct future use of them.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1852"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>These one-per-OS-release questions don't have a right answer (if they did, there would be an accepted answer, but clearly there is no canonical correct answer to them). They aren't an ideal fit for our Q&amp;A format. The Q&amp;A engine doesn't scale particularly well to questions with many pages of answers; the earlier answers pick up votes, and thus remain on page one, and thus pick up more votes (repeat ad infinitum). So I think the questions aren't really a good fit for the site.</p>

<h1>BUT </h1>

<p>I <em>do</em> find them useful when I'm first navigating a new operating system. What are the new features and stumbling blocks that aren't what you find in Apple's release PR or the five paragraph release at MacWorld? What are the implications for end users that aren't in John Siracusa's metadata-oriented exhaustive review?</p>

<p>For some previous OS releases, John Gruber had an <a href="http://daringfireball.net/2005/04/tiger_details_list" rel="nofollow">interactive collection of little features</a> that users could contribute to. I really do think there's some utility to this that isn't being met by existing venues, and by having it here, there are some pluses:</p>

<ul>
<li>users get excited about it (these questions get a <strong>lot</strong> of votes)</li>
<li>attracts search engine traffic and external links</li>
<li>gives people a chance to contribute who might not otherwise be able to answer people's questions</li>
<li>our voting mechanism gives the list an order in terms of which features are most/least important to other readers beyond the submitter</li>
<li>the community is excited about the new OS (unless we aren't), and want to share our observations</li>
<li>it's fun</li>
</ul>

<p>These questions take a lot of active maintenance. They don't age particularly well. But when the questions are first set up, they're both exciting and useful (and it's usually two questions a year   hardly filling up the front page for people who dislike these).</p>

<h1>So my proposal is this:</h1>

<p>We have a set window of time (45 days?) in which the question is open for people to contribute their discoveries about the new OS.  At the end of the window, we close the question to new answers, but leave unlocked so people can continue to vote and edit for another window of time (15 days?).</p>

<p>After the two windows (60 days after original post?) we would lock the question using the "historical significance" reason and potentially ask the community to roll the question and answer into a blog post on the Ask Different Blog showing the features, in voted order, that people discovered about the new OS.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3567" class = "comment">
				<p>I like the lock-after-time idea here. Deleting the question and punting it all to the blog I'm less sure of (but I don't dislike it). But I really like the limited time for answers on these things.</p>
			</div>
			<div id = "comment-3568" class = "comment">
				<p>Is that half a vote for this plan, @IanC.? :-) Seriously, the two parts could operate independently of each other, but my thought was that the collected question might not be the optimal format for long-term archival. Of course, we could **lock** rather than **delete** the question and let it just exist as a collectively gathered summary of what's new, exciting, and otherwise under documented about the new OS.</p>
			</div>
			<div id = "comment-3569" class = "comment">
				<p>A limited time lock in would have the benefit of making it feel more like an *event*, I would actually make it shorter, this is a chance for early adopters to talk the toot for a week after release and share the tips.  Anyone waiting on an upgrade etc simply has it for reference later.</p>
			</div>
			<div id = "comment-3572" class = "comment">
				<p>I'm on board with moving it to the blog now too. So one full vote from me. That gets these questions out of the top questions on our site.</p>
			</div>
			<div id = "comment-3573" class = "comment">
				<p>@stuffe the times are suggestions, but I'm easily persuaded they should be shorter.</p>
			</div>
			<div id = "comment-3579" class = "comment">
				<p>I agree with a time limit but I would prefer it was kept on the site and not in a blog  so easily found, not all people will update to an OS withinn the short time and it is also to have a reference later</p>
			</div>
			<div id = "comment-3580" class = "comment">
				<p>At this point, we're talking about locking the question and leaving it on the site, but **also** putting it on the blog.</p>
			</div>
			<br><div id = "ans-1855"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I like Community Wikis (and for clarity, I am referring to ones created deliberately for the purposes of listing cool features and <em>tiny things</em> etc), provided they are done right, but think that the current system makes them hard to manage and leads to variable quality.</p>

<p>Reasons I like them:</p>

<ul>
<li>They make people contribute.</li>
<li>They drive page views, and new users (me!)</li>
<li>They quickly seed the site with really useful SEO keywords for new phrases and features that are introduced in new products.</li>
<li>They get people voting, and commenting.</li>
<li>They are an <em>Event</em>, that brings the community together.</li>
<li>The result (when done right) in a good reference resource that is quite fun to read, and enjoyable to participate in rather than dry reviews and blog posts.  People are not reviewing the OS, or product, they are showing their delight at particular bits which they really appreciate, and helping to crowdsource the Ask Different review, in a way.</li>
<li>The voting aspect means that rather than being a duplication of stuff you can read elsewhere, it's a case of the community ranking those features by most useful.</li>
</ul>

<p>So, for me I think that they should stay, nominally in the same format that they do now, however with the following provisos</p>

<ul>
<li>They should not be created by anyone - there is a bit of a painful rush to be the one who creates the one for iOS8 etc, and as a result the first attempt at creating one is often done poorly.</li>
<li>They should be created by a Mod, using a predefined template, preferably several days earlier than required and then temporarily put on hold until they become appropriate to open properly.  This should help in two ways, firstly they get worded correctly, secondly any user trying to duplicate it by creating their own <em>should</em> see it as a duplicate before posting</li>
<li>We should stop trying to force these square pegs into round holes by attempting to word the question in a way that tries to justify it as a genuine Q&amp;A style problem.  Requesting <em>undocumented</em>, or worse <em>under-documented</em> features is just a horrible hack to try to make it a real question.  We know the purpose of these CWs is to <em>talk about cool stuff!</em>.  Every time someone starts commenting on the answers showing links to where an answer is already documented online, or arguing about what constitutes <em>documented</em>, and it just turns some of the comments into little sniping matches that saps the fun.  Let's just be honest about the purpose of the questions.</li>
<li>The answers need to be policed more carefully.  No more one line answers with a screenshot that don't add to the equation, let's get people being effusive about why they contributed this answer.  Some of this would be down to the question wording to ensure people aren't just racing to tick off the features lists.</li>
<li>The whole thing should be protected for a day or so after opening so only repped users can set the ball rolling with quality answers that serve as an example of how to answer.</li>
<li>They should be appropriately tagged with a tag that shows that it is more of a participation piece, than a question - Not sure what we would use, other sites have the idea of "canonical" answers etc.</li>
<li>Our site guidelines should be updated to reflect the above as CW policy, to show that for appropriately created CWs they are on topic</li>
</ul>

<p>The above should go a long way to making them more enjoyable for everyone.  Not having a clear policy (whichever one is agreed) always invites some random Mod or high rep users from other sites to come and poke fun at our site.  These questions are unique in style to Ask Different, they don't appear on any other SE site, and while they are clearly not a genuine Q&amp;A format, sure that is <em>exactly</em> why we have the concept of the Community Wiki - for what other purpose does it exist if not for the couple of times a year when we might want to do the above.  Other sites have their own idiosyncrasies that are not a perfect SE fit, whether it's "Name that book" or recommendation based questions.  This is Ask <em>Different</em>, not Ask <em>Like a all the other SE sites using this prescriptive format for every single contribution</em>.</p>

<p>There remains however, one problem that I do not know how to resolve.  As these are genuine <em>point in time</em> questions, it's invariable that the earliest answers often gain the most votes.  Sometimes it's almost as if people read the list up voting every answer, and in this way the highest voted answer is often just the earliest.  I don't know how to fix this, other than to see if we can just sort question answer randomly for CWs.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3574" class = "comment">
				<p>What do you mean by "policing the answers"? In general, users should vote down insubstantial answers, not flag them for moderator attention. When we say "no more one line answers"   what happens to one-line answers? Because I don't want to encourage people to flag bad answers.</p>
			</div>
			<div id = "comment-3575" class = "comment">
				<p>I do *not* want to see these become flag targets either, but getting people to do more than outline the feature they are answering with in the minimum words - To make a made up example "You can now have an empty from home screen in iOS7" followed by a pic of an empty first home screen is *dull*, and users should be encouraged (via careful question wording, and comments/edits where appropriate) to say why they chose to contribute that, so "You can have an empty first home screen, perfect for neat freaks or people who love their wallpaper too much!" injects personality and prevents dry listings</p>
			</div>
			<div id = "comment-3576" class = "comment">
				<p>users should be encouraged via commends/edits, but I just wanted to make it clear that our threshold for deletion is "not an answer"; our job is not to delete wrong or duplicate answers.</p>
			</div>
			<div id = "comment-3577" class = "comment">
				<p>Sure, and for clarity by 'police' I really mean *encourage to be awesome* rather than *get trigger happy with mod actions to make people fall into line*</p>
			</div>
			<div id = "comment-3578" class = "comment">
				<p>I wish policing was always about "encouraging people to be awesome" and not about "getting trigger-happy to make people fall into line"   in real life, I'm afraid the second is more prevalent than I'd hope.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>