<html>
	<head>
		<title id = 'pagetitle'>Please provide entire profile for Moderator candidates
		</title>
	<head>
	<body id = 'pagebody'><p>I'm reviewing candidates for moderator. I would like to see their comments and other actions like up-votes, down-votes and closures (in addition to questions and answers). The comments, up-votes, down-votes and closures indicate (to me) how the candidate will perform (assuming past performance is an indicator of future expectations).</p>

<p>The comments, up-votes, down-votes and closures are tucked away under <em>All Actions</em> tab of a profile. I can view mine, but I cannot view others.</p>

<p>I'd like to request the entire profile for Moderator candidates be made available for inspection.</p>


<h1>ANSWERS</h1>
		<p>The places to learn more about mod candidates are the Q&amp;A here on Meta and the Election chat room where all the candidates answer questions thrown at them. </p>

<p>Please keep in mind that the site is primarily community moderated, so the individual voting pattern of mods isn't very important. Even their casting of close votes isn't as important nowadays, there are enough highrep users to close (or not close) a lot of questions without a mod joining in. Which is how it should be, actually. </p>

<p>More important is their ability to step in in situations where the community can't resolve an issue on its own and/or where emotions start to take over. Also, even mods don't work in isolation but as Part of a team which supports decision making by mods and sometimes also discusses individual mod behavior (in case things go severely wrong). </p>

<p>PS: Not even moderators can see up/down votes of other users when locking at a specific question/answer. We can see the "All Actions" tab for all users but honestly I had to verify this first because there just never was the need to look.</p>


<p>Some of what you ask isn t exposed to any end user whether you re a new user or trusted user with 20k rep or an elected moderator.</p>

<p>However, most of that data is already available from the periodic data dumps and Stack Exchange data explorer interface. </p>

<p>Comments are trivial to look at:</p>

<ul>
<li><a href="http://data.stackexchange.com/apple/query/947/my-comment-score-distribution" rel="nofollow noreferrer">http://data.stackexchange.com/apple/query/947/my-comment-score-distribution</a></li>
</ul>

<p>Change the user and pick out any data you wish to review. </p>

<p>Also, I wouldn t worry too much about single votes to close or even patterns as an end user. Those votes aren t binding and are easily reviewed, challenged, undone - the system is designed to withstand malicious actors so people acting in good faith rarely cause issues. </p>

<p>I echo Patrix in that the moderation team is collaborative and is given detailed guidance and support by the community team - we end up being much more than the same user as before with a diamond tacked on our names. </p>

<p>Lastly, we rarely need to worry about pleasing or dis-pleasing and instead we just help when pattern are starting to form to reach out to a person and say  hey - I see a few of your questions were closed recently - can I help you work on them to edit or are the guidelines clear at this point  or  hey - I can see both sides of this. Rather than keep editing this post - let s get a new post up to make the point for which you are making a good case. </p>

<p>We really do moderate far more than discipline or act unilaterally and when we do act unilaterally - we have channels to get someone else to double check our work to make sure we weren t missing something or not too hasty.</p>


	</body>
</html>