<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Please change name of site from "Apple" to "Ask Different"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Please change name of site from "Apple" to "Ask Different"</h2>
<p>The new "mobile" template, among other things, replaces the site logo with the name of the site in text. However, the Stack Exchange engine still thinks that this site is called "Apple", which results in users visiting Ask Different on their iPhones being served a page that looks nothing like Ask Different with the word "Apple" instead of the logo.</p>

<p>Another example of where "Apple" appears where "Ask Different" should be used is in the moderator election system message. I've changed it on the main site, but you can see here on the meta site that it says "Apple 2011 community moderator election" instead of "Ask Different 2011 community moderator election". </p>

<p>To fix these issues, and to make sure that similar ones don't come up in the future, I request that the name of this site be changed to "Ask Different".</p>

<p><strong>edit:</strong> some current examples:</p>

<p><img src="https://i.imgur.com/a3WAG.png" alt=""></p>

<p><img src="https://i.imgur.com/EywZW.png" width="320"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<h1><a href="http://twitter.com/stackapple" rel="nofollow noreferrer">StackApple on Twitter</a></h1>

<p>I doubt that the short name can be changed. </p>

<p>My first thought was that the name to the side could be updated: </p>

<ul>
<li>from <em>Apple Stack Exchange</em></li>
<li>to <em>Ask Different</em></li>
</ul>

<p>Later I became <a href="http://chat.stackexchange.com/transcript/message/1537771#1537771">aware of @askdifferent on Twitter</a>, which now has its own question <a href="https://apple.meta.stackexchange.com/q/654/8546">Who owns @askdifferent on twitter?</a></p>

<p>So: whatever happens to the side name etc. of @StackApple should be not decided until after the @askdifferent question is answered. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This also is listed as Apple and not Ask Different in the chat parent user dialog.</p>

<ol>
<li>go to <a href="http://chat.stackexchange.com/">http://chat.stackexchange.com/</a> and log in if needed</li>
<li>select your user name at the top of the screen (to the left of users | rooms | faq)</li>
<li>select <strong><em>change</em></strong> next to parent user <img src="https://i.stack.imgur.com/sGLca.png" alt="enter image description here"></li>
<li><strong>Apple</strong> matches the Ask Different site - <strong>ask</strong> only matches <strong><em>Ask Ubuntu</em></strong></li>
</ol>

<p>Now that this name change is complete - the search tab for selecting a site is quite intelligent, matching the obvious Ask but also matching the intuitive, but not shown Apple string as you type it. This is very cool!</p>

<p><img src="https://i.stack.imgur.com/Lug5I.png" alt="new ask different name change expansion"></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>It's also listed as <em>Apple</em> in the migration statistics section of the 10k tools on other sites. Makes it difficult to find when searching for <em>Ask Different</em>.</p>

<p><img src="https://i.stack.imgur.com/1ab3Z.png" alt="enter image description here"></p>

<p>Especially given the fact that <em>Ask Ubuntu</em> is the proper name of the Ubuntu site...</p>

<p><img src="https://i.stack.imgur.com/Kvml7.png" alt="enter image description here"></p>

<hr>

<p>On the reputation leagues site, it also appears as <em>Apple</em>.</p>

<p><img src="https://i.stack.imgur.com/9JJsX.png" alt="enter image description here"></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>