<html>
	<head>
		<title id = 'pagetitle'>Please remove this "beta" article from help
		</title>
	<head>
	<body id = 'pagebody'><p>Please remove <a href="https://apple.stackexchange.com/help/whats-beta">https://apple.stackexchange.com/help/whats-beta</a></p>

<p>This applies to sites that are still in "beta" and clouds the issue we have on the site with respect to beta software questions in general.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1119/">Despite the general rule to not answer questions about beta products, should we allow Messages on OS X and Siri on iPhone 4S questions?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/1712/">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/573/">Update to FAQ regarding beta and pre-release software</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/798/">Pre-release software that doesn&#39;t require an NDA</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/2396/">Are Apple iCloud / iWork beta web apps on topic for the main site?</a></li>
</ul>

<p>The site beta status is "inside baseball" describing what steps Ask Different went through to get to where we are today. It's no longer relevant to have up and the help could use some thinning since it's not even viewable on one page.</p>


<h1>ANSWERS</h1>
		<p>This is a specific article about what we wish the community to know about the term "beta" as it pertains to any site in the SE network.  It serves as information for users who have never been a part of the SE network and wish to learn how a site evolves.</p>


	</body>
</html>