<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Please let us know how the new review tools are working
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1406" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::240</h3>
				<h2>Please let us know how the new review tools are working</h2>
<p>The stack exchange developers have been working hard on making the tools for reviewing content by trusted users better to allow the community to keep things clean, clear and free of spam and other disruptive content.</p>

<p><a href="https://apple.stackexchange.com/review/">https://apple.stackexchange.com/review/</a></p>

<p>I wanted to make a place to discuss any site-specific comments or concerns and also to encourage everyone to check out the new tools and send feedback either here or on the <a href="https://meta.stackexchange.com/questions/tagged/review?sort=newest">main meta by using the review tag</a>.</p>

<p>Here are some tips for successful hunting:</p>

<ol>
<li>It's OK to close any question that needs time, editing or clarification to prevent it from getting voted out of existence. I expect the tools to have a reopen queue at some point, but you can always flag a question for reopening if you feel it's in better shape after a closure.</li>
<li>Review is not a race. Questions in review have already had that "something isn't quite right" flag or vote and it's up to you to pause and reflect to see how best to fix things. The <strong>NOT SURE</strong> button is your friend. It doesn't take the question out of review so err on that if you are at all unsure.</li>
<li>Thank you for making the site a better place for all. Be critical, but be civil when reviewing. <a href="http://blog.stackoverflow.com/2012/08/stack-exchange-is-not-a-forum-the-role-of-niceness-on-a-qa-site/">Civility is not necessarily synonymous with niceness</a>, but when you can pull off both, so much the better.</li>
</ol>

<p>As our site grows, having many eyes improving the quality of the questions, comments and answers will allow us to continue to grow into the best place on the internet for Apple hardware and software questions.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2685" class = "post">
				<p>Affixing the tools at the top is nice. But the space it takes is HUGE on my built-in display (900 pixels high).</p>
			</div>
			<div id = "comment-2686" class = "post">
				<p>These are way easier to use than the old tools. I might actually start using the review button again.</p>
			</div>
			<div id = "comment-2690" class = "post">
				<p>Were stats reset on the beta? For example, this shows empty for me http://apple.stackexchange.com/review-beta/low-quality-posts/history</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1407"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Now that I recently got access to more of the review tools, I really like the new stuff, more than the older.</p>

<ul>
<li>I feel like there is more presence on an 'action' to do. As in, what you could work on.</li>
<li>I like the better access to history, as in, what you did work on (I learn many things while reviewing and want to go back)</li>
</ul>

<p>I do feel a few things could be added to make it even better (very minor too)</p>

<ul>
<li>I would like to be able to see how many current close votes there are for an issue. I usually judge an issue by how I feel about it, so would vote to close regardless. But if there are several others already voting, I would like to see the count.</li>
<li>I would also like to see the 'flag' tool. As being someone who can't handle flags, I still would like to  be able to flag an answer to go into the higher-ranked mods queues. For example, under 'Low Quality', I could hit Recommend Deletion, but is that all 'Flag' means?</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2687" class = "post">
				<p>On each review item, you can open the link on the right to get the normal view and flag things. As a new reviewer - go ahead and flag a handful of borderline issues and comment how you feel it should be handled and ask for a moderator to comment back / confirm. We can then reply to you in cases where you're not sure of how to handle things.</p>
			</div>
			<div id = "comment-2688" class = "post">
				<p>The count for close votes is intentionally hidden (AFAIK). As humans, we have a hard time being objective when we see a pack forming or to defer to another name based on past experience. Give each question a fresh look and you'll know in time if others feel the same or if you were the one to cast the fifth close vote when it is revealed who all voted to close it.</p>
			</div>
			<div id = "comment-2689" class = "post">
				<p>Thats what I thought of both, they are not shown due to that. But with flagging, it feels like I have to take an extra step if that's the option I want to take, make sense?</p>
			</div>
			<br><div id = "ans-1409"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>When reviewing the Low Quality Posts, it'd be nice to see other answers. If there's an answer with just a link with no description, I'll edit it if it's the only answer, but if there's another answer with the same info, I'd just recommend for deletion.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2692" class = "post">
				<p>Should I be asking this as a feature-request on meta.so? I'm still sorta new to the politics of meta.</p>
			</div>
			<div id = "comment-2693" class = "post">
				<p>Yes - the choice of what to show clearly is a site-wide decision so the main meta would be the best place to weigh in on this specific topic. It's great to link to the relevant question here so people can follow it - but I'm thinking site specific discussion can stay here and only here.</p>
			</div>
			<div id = "comment-2700" class = "post">
				<p>@bmike Asked: http://meta.stackexchange.com/questions/144259/see-other-answers-in-low-quality-posts Sorry it took so long.</p>
			</div>
			<div id = "comment-2701" class = "post">
				<p>Awesome - context is key ;-)</p>
			</div>
			<br><div id = "ans-1414"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>After experimenting with the new review features, I have to say that I dislike them compared to the old interface for "low quality posts". In the review interface, moderators don't have a link to the mod tools, so we can post a comment that an answer ought to be a comment, but can't click the mod button to convert the answer to a comment. The new interface is thus less powerful than the old one that it replaces.</p>

<p>I do like that it is prompting us to revisit old posts, some of which were tagged with post notices months ago. Since post notices often warn that posts will be deleted if not fixed, some future mechanism to revisit these notices (either this or automatically flagging posts with post notices x months later to see if the notice should be removed, or else the post should be deleted) is a good thing.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2722" class = "post">
				<p>I think the mod button is a work in progress. It's in place for some of the new review tools, but doesn't really work yet on Safari. As to the delete later - are you referring to answers or questions with the annotation?</p>
			</div>
			<div id = "comment-2724" class = "post">
				<p>@bmike Answers were what I had in mind. The whole "this response will be deleted if it isn't improved" warning in the post notices would be a lot more believable if affixing such a notice set a timer to autoflag the post for review after a reasonable interval to see if the problem has been fixed.</p>
			</div>
			<br><div id = "ans-1436"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I think the main issue I had when I started using the new review was the amount of older posts appearing in low quality posts, i think the oldest I saw was late 2010.</p>

<p>Obviously for a first time user, you can do something about them or ignore them, and I did both.</p>

<p>Should these be sandboxed on a specific time limit for future users?  I'm wondering if someone gains review privileges and gets a list of all these old posts that have basically been left/ignored.</p>

<p>Similarly, the new review system means there does appear to be a lot of duplication of effort.  I'll look at a post that is still up for review and see that it's already been edited by one of us, with the nice blue banner with the "instructions" for the poster.</p>

<p>I think in some cases it would be good if those edits/changes were visible in the review system (alongside the edit change list), and have a button that says "I agree with this review" to shortcut the time it takes.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2723" class = "post">
				<p>You are totally correct that we had a very large backlog of unreviewed content in the three cases when the new tool arrived. We are now clear of all old close votes, low quality posts and of course suggested edits. From now on, the content will be fresh. (At least until the tools grow to add new checks - like first answers, late answers, first questions, etc...) The duplication is intentional since only edits have a single up/down vote to get approved. The rest require several users to act on a close/reopen vote except for diamond moderators that have binding votes.</p>
			</div>
			<br><div id = "ans-1450"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Don't laugh: I never imagined that review routines were available to people like me. </p>

<p>There's the unmistakable word 'review' at the heads of pages, but I have no recollection of ever clicking it before today. </p>

<p>Why did I never click? I <em>assumed</em> that review was a <em>moderator</em> task of some sort. So for me a keyword is: </p>

<h1>Awareness</h1>

<p>The current community bulletin, leading to this meta question, has successfully raised awareness for me. </p>

<p>I don't want to turn this answer into a question, but if reviews are to be encouraged: </p>

<ul>
<li>maybe the generic FAQ should include something about review. </li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1451"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I can't compare with any previous review routine but here goes, first impressions: </p>

<h1>Order</h1>

<p>Stack Exchange aside for a moment: I'm always confused by <a href="https://en.wikipedia.org/wiki/Posting_style" rel="nofollow">top posting</a>. </p>

<p>An SE interface that words an <strong>answer before a question</strong> is immediately unappealing, difficult to work with. I'll probably not use it  sorry. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>