<html>
	<head>
		<title id = 'pagetitle'>Please hat the community user
		</title>
	<head>
	<body id = 'pagebody'><p>The <a href="https://apple.stackexchange.com/users/-1/community">community user</a> is showing up in the Ask Different <a href="http://winterba.sh/leaderboard" rel="nofollow noreferrer">winter bash leaderboard</a>.</p>

<p>Undoubtedly the community process is working hard, but until now there was no easy way to measure its contribution.</p>

<p>It has earned hats, and we should allow it to wear one.</p>

<p>Please request that Stack Exchange select a hat for the community user to proudly wear, demonstrating its contribution and commitment to a better Ask Different!</p>


<h1>ANSWERS</h1>
		<p>I intend to exercise the ability of moderators to issue hats to the community user. The festivities will commence once the proper code is issued to the web engines.</p>

<p><a href="https://meta.stackexchange.com/questions/159273/community-please-show-some-holiday-spirit">Community, please show some holiday spirit!</a></p>

<p>And we're up and running...</p>

<p><img src="https://i.stack.imgur.com/v6GbD.png" alt="Community Police"></p>


	</body>
</html>