<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Please pin the [ask] "How to Ask" tutorial to the top of the help page
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1718" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::17</h3>
				<h2>Please pin the [ask] "How to Ask" tutorial to the top of the help page</h2>
<p>Often we get new users that ask questions without sufficient research.</p>

<p>I would like for the <a href="https://apple.stackexchange.com/questions/how-to-ask">How to ask</a> page to be pinned as the first item (or at least a visible item) under the Asking section of the <a href="https://apple.stackexchange.com/help">Help Center</a>.</p>

<p><img src="https://i.stack.imgur.com/NCRtl.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>