<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Please add textbox for Off-Topic flagging
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2040" class = "post">
			<h2>Question</h2>
			<div id="vote-2040" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 43</p>
			</div>
				<h2>Please add textbox for Off-Topic flagging</h2>
<p>I just wanted to flag <a href="https://apple.stackexchange.com/questions/126842/wi-fi-network-created-but-not-shown-on-other-devices">https://apple.stackexchange.com/questions/126842/wi-fi-network-created-but-not-shown-on-other-devices</a> as being off-topic for not running on Apple hardware.</p>

<p>But there's no option for it.</p>

<p>However, the other question of this user has been put <strong>on-hold</strong> for this off-topic reason.</p>

<p>Why is it a reason, but can't I flag for it?</p>

<p><img src="https://i.stack.imgur.com/jOZci.png" alt="enter image description here"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2040">Load Comments</button></br>
			<div id = "commentsection-2040" class = 'collapse'>
			<div id = "comment-3908" class = "comment">
				<p>Hmm, I have four options in this dialog (including a generic "off topic" option), but see http://meta.apple.stackexchange.com/questions/1753/how-to-flag-this-type-of-question for another way to handle these questions.</p>
			</div>
			<div id = "comment-3909" class = "comment">
				<p>True, but I still see 3 of them. Is that based on reputation points? I know about the "Flag for moderator attention", but I tried to specify the reason with the bullets.</p>
			</div>
			<div id = "comment-3910" class = "comment">
				<p>I ran into this issue with the "help me find a new Sony TV" question yesterday. If you select "This question belongs on another site" mine just has meta.apple.stackexchange.com as an option, which didn't seem to be right.</p>
			</div>
			<div id = "comment-3911" class = "comment">
				<p>I've tagged this support - I actually don't see a way you can select the default close reason which is what fits that post most directly. I'll answer how you could vote to close for users that get close votes instead of just being able to flag as closed.</p>
			</div>
			<div id = "comment-3914" class = "comment">
				<p>@dwightk This is right   the list of sites available for migration does not change on reputation and Ask Different only has its meta available for migration (except   moderators can migrate anywhere).</p>
			</div>
			</div>
				<textarea id = "speech-2040" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2040">
					<img id="start_img-2040" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2041"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2041" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here is how I would expect a user to handle that question: </p>

<ol>
<li>Select the close reason (it's better to just close than flag if you have that option)</li>
<li>&nbsp; <img src="https://i.stack.imgur.com/kcZcM.png" alt="Closing"></li>
<li>Select either unclear (it could after all still be about Apple hardware or software and need an edit to clarify the link) or off-topic using the default close reason about scope as documented in the [help]. </li>
<li>&nbsp; <img src="https://i.stack.imgur.com/d3gc8.png" alt="Flagging &gt; Closing"></li>
<li>Close for other:</li>
<li>&nbsp; <img src="https://i.stack.imgur.com/FFB5g.png" alt="Flagging &gt; Closing &gt; Off-Topic"></li>
</ol>

<p>I'll ping the SE employees to ask if the last picture above can get coded to include the custom close reason text with a radio button to indicate simply that <strong>This question does not appear to be about Apple hardware or software within the scope defined in the <a href="https://apple.stackexchange.com/help/on-topic">help center</a>.</strong></p>

<p>As things are coded, you might need to choose "Other" and copy/paste or re-type the default close reason. Here's something you can copy below:</p>

<blockquote>
  <p>This question does not appear to be about Apple hardware or software within the scope defined in the [help center](<a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a>).</p>
</blockquote>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2041">Load Comments</button></br>
			<div id = "commentsection-2041" class = 'collapse'>
			<div id = "comment-3912" class = "comment">
				<p>Why do you see "Other" and I don't? I doubt you will flag at all... AND as stated by dwightk, other SE only shows AD Meta....</p>
			</div>
			<div id = "comment-3913" class = "comment">
				<p>@Rob This is the difficulty of us debugging the code. I see different options as an elected diamond mod. Trusted users at 10k see more options than a 2k user which both in turn see more than an unregistered or low rep user. I have reached out to the community management team (SE employees) to assist us with determining if this is a code issue, a documentation issue or a bug that can be fixed on the configuration end.</p>
			</div>
			<div id = "comment-3915" class = "comment">
				<p>@Rob Custom close reasons are only shown if you vote to close. As you have less than 3k reputation, you are not able to vote to close and instead are flagging to close. Whilst this puts it in the queue, it doesn't vote for the closure and consequently you can't add a custom reason since it would serve no purpose anyway.</p>
			</div>
			</div>
				<textarea id = "speech-2041" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2041">
					<img id="start_img-2041" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2051"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2051" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We removed the "Other" option for users who don't yet have the <a href="https://apple.stackexchange.com/help/privileges/close-questions">cast close votes</a> privilege. Trusting folks who haven't yet gained the system's trust to even <em>know</em> what's on- and off-topic, much less write helpful comments to this end, is pretty risky. </p>

<p>Removing the option to flag <em>blatantly</em> off-topic stuff isn't great either though. I tend to think the best option here would be to just add an "other" option <em>without</em> offering the chance to enter a comment. </p>

<p>Until we get around to doing that, you can back out to the main flag dialog and choose "other (needs   moderator attention)" and just explain the problem there.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2051" class = 'collapse'>
			</div>
				<textarea id = "speech-2051" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2051">
					<img id="start_img-2051" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>