<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Plural guard registering false positives on this site
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1816" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::54</h3>
				<h2>Plural guard registering false positives on this site</h2>
<p>It seems to be an ongoing pattern that Apple regularly upgrades product designations by adding the letter "S" to the end of a product name. Thus, the iPhone 3G was succeeded by the iPhone 3GS; the iPhone 4 was followed by the iPhone 4S, and this week the iPhone 5S was announced as the upgrade from the iPhone 5.</p>

<p>Our site has product specific tags, and while I'm not convinced that is a good thing, many users are, and thus when a new product is launched, we frequently encounter the desire to create a tag for the new product.</p>

<p>The Stack Exchange tag system, in an attempt to block the creation of useless plural tags, prohibits users from creating a tag that matches a previous tag and has an S appended to it. You cannot create a <a href="https://apple.stackexchange.com/questions/tagged/networks" class="post-tag" title="show questions tagged &#39;networks&#39;" rel="tag">networks</a> tag if there is already a <a href="https://apple.stackexchange.com/questions/tagged/network" class="post-tag" title="show questions tagged &#39;network&#39;" rel="tag">network</a>. This is a very good thing. But this check system to prevent plural tags is preventing users from creating very proper tags for newly announced products.</p>

<p>This has happened <a href="https://apple.meta.stackexchange.com/questions/831/could-we-allow-the-creation-of-iphone-4s-tag">before</a> and it just came up <a href="https://apple.meta.stackexchange.com/questions/1812/trying-to-create-iphone-5s-tag">again</a>.</p>

<p>Is there any way we could relax the anti-plural filter so non-moderator users of sufficient reputation could create appropriate tags on our site without requiring moderator intervention?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1816" class = 'collapse'>
			</div>
				<textarea id = "speech-1816" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1816">
					<img id="start_img-1816" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1817"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>It wouldn't be advisable to relax a basic sanity check that works the vast, vast majority of the time. Like you said, most of the time this is a very good thing.</p>

<p>On the rare occasion where a tag like <a href="https://apple.stackexchange.com/questions/tagged/iphone-5s" class="post-tag" title="show questions tagged &#39;iphone-5s&#39;" rel="tag">iphone-5s</a> is <em>needed</em>, a moderator can create it. That's why we call them <em>exception handlers.</em> They can create tags like this.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1817">Load Comments</button></br>
			<div id = "commentsection-1817" class = 'collapse'>
			<div id = "comment-3461" class = "comment">
				<p>That seems reasonable enough. I didn't know if 10K users could be allowed to do this also. The situation seems to arise once every two years; it's fairly predictable, but also, as you observe, rather rare.</p>
			</div>
			<div id = "comment-3462" class = "comment">
				<p>I don't find our 10K users to be less sane than our moderators.</p>
			</div>
			<div id = "comment-3463" class = "comment">
				<p>If I had my way, the line between moderator and highly-experienced user would be rather blurry. But under our current structure, I think this rarely-needed ability falls nicely in the "exception handler" court... without unnecessarily over-complicating the understanding of who can do what.</p>
			</div>
			</div>
				<textarea id = "speech-1817" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1817">
					<img id="start_img-1817" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>