<html>
	<head>
		<title id = 'pagetitle'>Plural guard registering false positives on this site
		</title>
	<head>
	<body id = 'pagebody'><p>It seems to be an ongoing pattern that Apple regularly upgrades product designations by adding the letter "S" to the end of a product name. Thus, the iPhone 3G was succeeded by the iPhone 3GS; the iPhone 4 was followed by the iPhone 4S, and this week the iPhone 5S was announced as the upgrade from the iPhone 5.</p>

<p>Our site has product specific tags, and while I'm not convinced that is a good thing, many users are, and thus when a new product is launched, we frequently encounter the desire to create a tag for the new product.</p>

<p>The Stack Exchange tag system, in an attempt to block the creation of useless plural tags, prohibits users from creating a tag that matches a previous tag and has an S appended to it. You cannot create a <a href="https://apple.stackexchange.com/questions/tagged/networks" class="post-tag" title="show questions tagged &#39;networks&#39;" rel="tag">networks</a> tag if there is already a <a href="https://apple.stackexchange.com/questions/tagged/network" class="post-tag" title="show questions tagged &#39;network&#39;" rel="tag">network</a>. This is a very good thing. But this check system to prevent plural tags is preventing users from creating very proper tags for newly announced products.</p>

<p>This has happened <a href="https://apple.meta.stackexchange.com/questions/831/could-we-allow-the-creation-of-iphone-4s-tag">before</a> and it just came up <a href="https://apple.meta.stackexchange.com/questions/1812/trying-to-create-iphone-5s-tag">again</a>.</p>

<p>Is there any way we could relax the anti-plural filter so non-moderator users of sufficient reputation could create appropriate tags on our site without requiring moderator intervention?</p>


<h1>ANSWERS</h1>
		<p>It wouldn't be advisable to relax a basic sanity check that works the vast, vast majority of the time. Like you said, most of the time this is a very good thing.</p>

<p>On the rare occasion where a tag like <a href="https://apple.stackexchange.com/questions/tagged/iphone-5s" class="post-tag" title="show questions tagged &#39;iphone-5s&#39;" rel="tag">iphone-5s</a> is <em>needed</em>, a moderator can create it. That's why we call them <em>exception handlers.</em> They can create tags like this.</p>


	</body>
</html>