<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Plural vs. Singular and Infinitive vs. Name tags
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-69" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::92</h3>
				<h2>Plural vs. Singular and Infinitive vs. Name tags</h2>
<p>I see there are several tags that are in a plural form but the singular form would also be acceptable and vice-versa, for examples :</p>

<ul>
<li>software</li>
<li>shortcuts</li>
<li>applications</li>
<li>settings</li>
<li>bookmark</li>
</ul>

<p>There is the same <em>problem</em> for infinitive verbs and the name derivates from this verb :</p>

<ul>
<li>printing</li>
<li>networking</li>
<li>charging</li>
<li>mapping</li>
<li>sharing</li>
</ul>

<p>As a guideline for the creation of new tags (and why not also edit the current ones) : </p>

<h2>Do tags have to be in a plural or singular form ?</h2>

<p>and</p>

<h2>Do tags have to be in an infinitive verb or an -ing name ?</h2>

			</div><h3>Comments</h3>
			<div id = "comment-123" class = "comment">
				<p>Why isn't this tagged `[tagging]`?</p>
			</div>
			<div id = "comment-124" class = "comment">
				<p>If you would like to submit tag corrections, try [Tag corrections](http://meta.apple.stackexchange.com/questions/49/tag-corrections).</p>
			</div>
			<div id = "comment-219" class = "comment">
				<p>Uh, what do you mean by using `software` as an example here? "softwares" would be wrong and "a-piece-of-software" would be silly; "software" is fine.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-75"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Is there an issue with <code>[printing]</code>? I would default to looking at <a href="https://superuser.com/tags">superusers tags</a> to see which seems to be the "correct" tag for this. </p>

<p>Overall I don't think that tags <strong>must</strong> be plural / singular or infinitive as a <em>general</em> rule. If you see something tagged <code>[share]</code> it should probably be <code>[sharing]</code> though.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-128"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>About <strong>singular vs plural</strong> in cases where both make sense; for example:</p>

<ul>
<li>app(s)</li>
<li>shortcut(s)</li>
<li>podcast(s)</li>
<li>accessor(y/ies)</li>
<li>monitor(s)</li>
</ul>

<p>I'd say <strong>plural</strong> is good, and that seems to be currently preferred in most cases. However: two observations:</p>

<ol>
<li>In the <a href="https://apple.stackexchange.com/tags">top tags</a> there aren't that many cases where both make sense. (Quickly I found just <code>monitor</code> and <code>passwords</code> that maybe should be batch-retagged to plural.)</li>
<li>We shouldn't get too hung-up with such rule; rather, use what seems the most natural case-by-case. </li>
</ol>

<p>For the record, plural is what we went with <a href="https://english.meta.stackexchange.com/questions/72/should-we-prefer-singular-or-plural-in-tags">over at English language &amp; usage</a> (where this affects more tags than here). </p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>