<html>
	<head>
		<title id = 'pagetitle'>Podcast #9: Google+, Lion, Ask Different's Growth
		</title>
	<head>
	<body id = 'pagebody'><p>We re back! Our (unplanned) summer sabbatical has ended, and we begin again. The length and frequency of our previous shows was too exhausting, so we're cutting back a bit. Our shows will not occur every single week, as we ve chosen to focus heavily on single subjects rather than attempt to cover the every-continuous stream of Apple and related news. We are currently planning on bi-weekly shows, with exceptions for significant events and product releases.</p>

<p>There were some technical issues with using meta posts as the source for our feed. The primary one being that the last date of activity on the posts would translate to iTunes and other podcatching apps as the creation date of the show.</p>

<p>We therefore have moved the primary source of the Ask Different Podcast feed to:</p>

<h2><a href="http://podcast.askdifferent.net/" rel="nofollow">http://podcast.askdifferent.net/</a></h2>

<p>Visit there for the full show notes for the latest episode:</p>

<p><a href="http://podcast.askdifferent.net/2011/08/podcast-9-google-lion-ask-differents-growth/" rel="nofollow">http://podcast.askdifferent.net/2011/08/podcast-9-google-lion-ask-differents-growth/</a></p>

<p>And as always, if you have any feedback or questions for us to answer on the show, you can leave a comment here, on the blog, or email us at <strong>podcast@askdifferent.net</strong>. Thanks!  </p>


<h1>ANSWERS</h1>
			</body>
</html>