<html>
	<head>
		<title id = 'pagetitle'>Podcast #2: RIM Playbook, Continuous Client, Coda
		</title>
	<head>
	<body id = 'pagebody'><p>This is the second episode of the Ask Different Podcast, an unofficial podcast created by members of the Ask Different community about Apple and related technologies.</p>

<p>Your hosts for this episode once again are <a href="https://apple.stackexchange.com/users/13/kyle-cronin">Kyle Cronin</a>, <a href="https://apple.stackexchange.com/users/1346/vxjasonxv">Jason Salaz</a>, and <a href="https://apple.stackexchange.com/users/2220/nathan">Nathan Greenstein</a>.</p>

<ul>
<li><p>Jason and Kyle begin with news of <a href="http://blog.stackoverflow.com/2011/04/improved-tag-sets/">Stack Exchange s improved <strike>tag sets</strike> filters tool</a>, which makes it easier to view your combined profile and follow subjects that interest you across the entire Stack Exchange network.</p></li>
<li><p>Newly-released <a href="http://www.apple.com/iphone/" rel="nofollow noreferrer">white iPhone 4</a>: Thicker? We discuss the (late) release of the white iPhone 4 and the girth it s apparently gained.</p></li>
<li><p>Jason shares his experience using RIM s <a href="http://us.blackberry.com/playbook-tablet/" rel="nofollow noreferrer">BlackBerry Playbook</a> tablet. It s effective, and it fits in, but is it enough?</p></li>
<li><p>More iPhone tracking! We discuss what s recently come to light about the Great iPhone Tracking Scandal, including <a href="http://www.apple.com/pr/library/2011/04/27location_qa.html" rel="nofollow noreferrer">Apple s official press release</a> and the action it promises.</p>

<ul>
<li>Apple s claim: It isn t tracking!</li>
<li>An upcoming <a href="http://support.apple.com/kb/DL1358" rel="nofollow noreferrer">software update</a> will reduce size of location database, and stop syncing it to computers.</li>
</ul></li>
<li><p>Jason and Kyle discuss <a href="http://www.marco.org/2011/04/28/removed-instapaper-free" rel="nofollow noreferrer">Marco Arment s experience</a> with having free and paid versions of the Instapaper app on the iOS App Store, and share their own views about free vs. paid apps.</p></li>
<li><p>Nathan brings news of the new, controversial <a href="http://www.airpush.com/" rel="nofollow noreferrer">AirPush</a> advertising service for Android. We share our views on what is and isn t acceptable in mobile advertising and in-app purchasing.</p></li>
<li><p>Kyle shares his support for the idea of a <a href="http://www.engadget.com/2010/05/26/a-modest-proposal-the-continuous-client/" rel="nofollow noreferrer">Continuous Client</a>, a mechanism to let you pick up on one device exactly where you left off on another one. We share our experiences with various products  and services  good and bad support for this concept.</p></li>
<li><p>Our App of the Week is <a href="http://panic.com/coda" rel="nofollow noreferrer">Coda</a>, one window web development, by Panic. Coda is available on the <a href="http://itunes.apple.com/us/app/coda/id406001464?mt=12" rel="nofollow noreferrer">Mac App Store</a>, and a trial version can be downloaded from <a href="http://panic.com/coda/" rel="nofollow noreferrer">Panic's site</a>.</p></li>
</ul>

<p>This episode was recorded on Saturday, April 30th. You can subscribe to this podcast via <a href="http://feeds.feedburner.com/AskDifferentPodcast" rel="nofollow noreferrer">RSS</a> or <a href="http://itunes.apple.com/us/podcast/id435683997" rel="nofollow noreferrer">iTunes</a>. If you have any feedback or questions you d like for us to answer on air, leave a comment on this post or e-mail us at podcast@askdifferent.net.</p>

<p><a href="http://media.podcast.askdifferent.net/2.mp3" rel="nofollow noreferrer">Download</a></p>


<h1>ANSWERS</h1>
		<p>I'd like to personally apologize for some of my word and term transpositions in this episode. And I'd also like to personally thank Kyle for putting up with my sniffles, coughs, and all the rest. He did a really great job of filtering all that stuff out to make a much better listening experience!</p>

<p>I blame sickness :). It's a worthwhile scapegoat.</p>


	</body>
</html>