<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Podcast #4: Google I~O, Ditching the Mac OS X DVD, Reeder
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-534" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::96</h3>
				<h2>Podcast #4: Google I~O, Ditching the Mac OS X DVD, Reeder</h2>
<p>This is the fourth episode of the Ask Different Podcast, an unofficial podcast created by members of the Ask Different community about Apple and related technologies.</p>

<p>Your hosts this week are <a href="https://apple.stackexchange.com/users/13/kyle-cronin">Kyle Cronin</a>, <a href="https://apple.stackexchange.com/users/1346/vxjasonxv">Jason Salaz</a>, and <a href="https://apple.stackexchange.com/users/2220/nathan">Nathan Greenstein</a>.</p>

<ul>
<li><p>We begin with site discussion: What, exactly, is <a href="http://area51.stackexchange.com/proposals/151/apple">the scope of Ask Different</a>? Are questions about <a href="https://apple.meta.stackexchange.com/questions/513/question-about-a-windows-driver-here-or-super-user">Windows XP graphics drivers</a> acceptable? What about <a href="https://apple.stackexchange.com/questions/14016/most-mac-compatible-linux-distribution">Mac-compatible Unix distros</a>? Kyle tells us the vision he had for the site when he proposed it, and how recent questions do and don t fit in.</p></li>
<li><p>The recently released iMacs ship with a new feature! A <a href="http://blog.macsales.com/10146-apple-further-restricts-upgrade-options-on-new-imacs" rel="nofollow noreferrer">new style SATA power connector</a> replaces a thermal sensor cable. We discuss the purpose, and the positive and negative merits of this recent change.</p></li>
<li><p>We discuss the onslaught of Google I/O news, starting with <a href="http://music.google.com/about/" rel="nofollow noreferrer">Google Music</a>. Users can upload 20,000 songs from their own computer. Google Music only works on devices supporting Flash, and Android phones.</p></li>
<li><p> <a href="http://www.google.com/chromebook/" rel="nofollow noreferrer">Chromebooks</a> , based on the Cr-48 prototype, to be released next month.</p>

<ul>
<li>Also announced was the Chromebook rental program. While originally announced as a flat rate $20/month rental for students, and businesses for $28/month, these prices vary depending on the exact model rented. Also, these rental programs with have a 3 year contract in tow.</li>
<li>A flat rate purchase with no contract will range from ~$350-$500 depending on vendor (ASUS / Samsung) and features (WiFi only, 3G). Currently it appears that certain models will be available from Best Buy, and all from Amazon. Engadget <a href="http://www.engadget.com/2011/05/11/editorial-google-clarifies-chromebook-subscriptions-might-have/" rel="nofollow noreferrer">has all currently known details</a>.</li>
</ul></li>
<li><p>The war of attrition took another step between Facebook and Google, as we learn of Facebook s <a href="http://www.thedailybeast.com/blogs-and-stories/2011-05-12/facebook-busted-in-clumsy-smear-attempt-on-google/" rel="nofollow noreferrer">attempt at smearing Google s over privacy claims</a>. An ad agency hired by Facebook promised placement in major periodicals to a independent blogger, but instead of writing articles the blogger released the correspondence between him and the ad agency.</p></li>
<li><p><a href="http://gigaom.com/2011/05/09/why-microsoft-is-buying-skype-for-8-billion/" rel="nofollow noreferrer">Microsoft now owns Skype</a>! And they paid approximately $8.5 billion in cash. Not equity, not stock, all cash. Skype will continue to support all current versions (Windows, Mac, Linux, iOS, Android) of it s software. We also muse over <a href="http://blogs.skype.com/developer/2010/06/skypekit_beta.html" rel="nofollow noreferrer">separation of the Skype Engine from the desktop application GUI</a>.</p></li>
<li><p>Kyle reflects on the current state of software distribution by Apple. We talk about the current trends of shipping software digitally, the shrinking physical software selection in Apple retail stores, and how you <a href="http://support.apple.com/kb/HT4399" rel="nofollow noreferrer">install Mac OS X on computers devoid of an optical drive</a>. Adding to this that <a href="http://itunes.apple.com/us/app/xcode/id422352214?mt=12" rel="nofollow noreferrer">Xcode</a> and the <a href="http://developer.apple.com/devcenter/mac/index.action" rel="nofollow noreferrer">Developer Previews of Lion</a> are distributed via the Mac App Store, we consider how Apple may distribute Lion officially, possibly announcing it this summer at WWDC.</p></li>
<li><p>Our Question of the Week is  <a href="https://apple.stackexchange.com/questions/14013/is-there-a-way-to-password-protect-individual-apps/">Is There a Way to Password Protect Individual Apps</a> , asked by <a href="https://apple.stackexchange.com/users/698/rabskatran">Rabskatran</a>. This question spawned a discussion on  <a href="https://meta.stackexchange.com/questions/66377/what-is-the-xy-problem">The XY Problem</a>  that occurs commonly on the Stack Exchange network, what it is, and what may be the best answer to officially accept in these cases.</p></li>
<li><p>Our App of the Week is <a href="http://madeatgloria.com/brewery/silvio/reeder" rel="nofollow noreferrer">Reeder</a>. An iOS and desktop RSS reader that requires the use of Google Reader, but provides a much more attractive, functional, and native interface. We debate the merit of single-site apps, and the contrast between pushing functionality to the web and making them into webapps via <a href="http://fluidapp.com/" rel="nofollow noreferrer">Fluid</a>, or building a specifically tailored interface for it like Reeder.</p></li>
</ul>

<p>This episode was recorded on Saturday, May 14th. You can subscribe to this podcast via <a href="http://feeds.feedburner.com/AskDifferentPodcast" rel="nofollow noreferrer">RSS</a> or <a href="http://itunes.apple.com/us/podcast/id435683997" rel="nofollow noreferrer">iTunes</a>. If you have any feedback or questions you d like for us to answer on air, leave a comment on this post or e-mail us at podcast@askdifferent.net.</p>

<p><a href="http://media.podcast.askdifferent.net/4.mp3" rel="nofollow noreferrer">Download</a></p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-534">Record</button>
				<button class="record-stop" id="stop-534">Stop</button>
				<p id="recording-534"></p>

<h1>Answers</h1>
			<br><div id = "ans-535"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Errata:</p>

<p>During the segment on the Question of the Week, not once, but twice, I very prominently spoke out the key command: <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Esc</kbd>.</p>

<p>As continued proof that my muscle memory is millions of times better than my recalled (spoken) memory, the correct key combination is <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Eject</kbd>.</p>

<p>Pressing <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Eject</kbd> will immediately sleep your display(s) attached to your Mac. <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Esc</kbd> will do nothing by default.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-535">Record</button>
				<button class="record-stop" id="stop-535">Stop</button>
				<p id="recording-535"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>