<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Podcast #6: WWDC Keynote
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-551" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::61</h3>
				<h2>Podcast #6: WWDC Keynote</h2>
<p>This is the sixth episode of the Ask Different Podcast, an unofficial podcast created by members of the Ask Different community about Apple and related technologies.</p>

<p>Your hosts this week are <a href="https://apple.stackexchange.com/users/13/kyle-cronin">Kyle Cronin</a> and <a href="https://apple.stackexchange.com/users/1346/vxjasonxv">Jason Salaz</a>.</p>

<p>We devote this entire show to the announcements from the <a href="http://events.apple.com.edgesuite.net/11piubpwiqubf06/event/" rel="nofollow noreferrer">WWDC Keynote</a>:</p>

<ul>
<li><p>First up, the next version of Mac OS X, 10.7 "Lion", will prominently feature multitouch gestures for moving between applications and invoking Mission Control and Launchpad (other new features in Lion). We discuss how we feel about Apple's shift away from the mouse and if it means that desktop Macs will be sold with trackpads instead.</p></li>
<li><p>Based on the successful iOS App Store, the Mac App Store has proven to be a big hit with Mac users. We discuss new App Store features in Lion and highlight the success that apps like <a href="http://itunes.apple.com/us/app/pixelmator/id407963104?mt=12" rel="nofollow noreferrer">Pixelmator</a> have had in the store.</p></li>
<li><p>Following up on our <a href="https://apple.meta.stackexchange.com/questions/517/podcast-2-rim-playbook-continuous-client-coda">earlier discussion</a> of the idea of the <a href="http://www.engadget.com/2010/05/26/a-modest-proposal-the-continuous-client/" rel="nofollow noreferrer">Continuous Client</a>, we discuss how it ties in with Lion's upcoming support for saving and resuming app state, autosave, and versioning of files.</p></li>
<li><p>We wrap up our discussion of Lion by talking about AirDrop, a way to drag and drop files from one Mac to another without needing to configure file sharing, and the "iPadification" of the new interface for the Mail app.</p></li>
<li><p>Apple also previewed some new features of the next version of iOS, iOS 5, starting with a completely redesigned notifications interface. We discuss what's different and how it makes it easier to read and manage multiple simultaneous notifications.</p></li>
<li><p>Twitter is now deeply integrated into iOS, and features a single sign-on area in the settings. We discuss what this means for Twitter, third-party Twitter clients, and the conspicuous absence of Facebook.</p></li>
<li><p>Mobile Safari has also seen multiple improvements, including a tab bar and an <a href="http://www.instapaper.com/" rel="nofollow noreferrer">Instapaper</a>-like Reading List feature. There's also a new to-do list app called Reminders. We discuss whether the tab bar was a good idea and the usefulness of location-based reminder alerts.</p></li>
<li><p>The Camera app has undergone significant improvement. We talk about the faster loading time, the ability to quickly take a picture without having to unlock your device, and how the volume button has even been configured to act as a shutter button!</p></li>
<li><p>The requirement to activate an iOS device through iTunes will soon be a thing of the past - iOS 5 has cut the cord and is PC-Free. We discuss what the benefit is, and how iOS has made it possible.</p></li>
<li><p>Apple has brought its Messages app to the iPad and iPod touch, and they've renamed it... iMessages? Yes, it's true - we discuss use cases, the similarity to <a href="http://us.blackberry.com/apps-software/blackberrymessenger/" rel="nofollow noreferrer">Blackberry's BBM</a> service, and cringe at how bad the name is.</p></li>
<li><p>Move aside Mac, Apple has re-envisioned the <a href="http://www.youtube.com/watch?v=9046oXrm7f8" rel="nofollow noreferrer">digital hub</a> and it now centers around iCloud. <a href="http://www.me.com/" rel="nofollow noreferrer">MobileMe</a> is being phased out as well, and the Contacts, Calendars, and Mail services are being absorbed into iCloud.</p></li>
<li><p>iCloud also offers a cloud-based backup service for iOS devices, allowing users to back up and restore without ever needing to involve a computer. We discuss the benefits of this, and the limitations Apple has placed on it.</p></li>
<li><p>Purchases made through the App Store, iBooks Store, and iTunes Store are catalogued in one place and can be downloaded and re-downloaded to all the devices on your Apple account. We discuss our disappointment at the lack of a facility to stream music, and how the new price point - <em>free</em> - is sure to drive adoption.</p></li>
<li><p>One More Thing... iTunes Match. For $24.99/year, you can have iCloud scan your iTunes library for music that had not been purchased through the iTunes Store. If the iTunes Store carries the file, you will be upgraded to a high-quality version. If not, iTunes will upload it to iCloud and offer the standard iTunes in the Cloud services for that music. </p></li>
</ul>

<p>This episode was recorded on <strong>Monday, June 6th</strong>. You can subscribe to this podcast via <a href="http://feeds.feedburner.com/AskDifferentPodcast" rel="nofollow noreferrer">RSS</a> or <a href="http://itunes.apple.com/us/podcast/id435683997" rel="nofollow noreferrer">iTunes</a>. If you have any feedback or questions you d like for us to answer on air, leave a comment on this post or e-mail us at <strong>podcast@askdifferent.net</strong>.</p>

<p><a href="http://media.podcast.askdifferent.net/ask-different-6.mp3" rel="nofollow noreferrer">Download</a></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-551" class = 'collapse'>
			</div>
				<textarea id = "speech-551" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-551">
					<img id="start_img-551" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-554"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>This answer is here to be accepted only so that Community &diams; doesn't bump it.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-554" class = 'collapse'>
			</div>
				<textarea id = "speech-554" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-554">
					<img id="start_img-554" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>