<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Podcast #7: More WWDC, Application Launchers, Soulver
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-556" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::88</h3>
				<h2>Podcast #7: More WWDC, Application Launchers, Soulver</h2>
<p>This is the seventh episode of the Ask Different Podcast, an unofficial podcast created by members of the Ask Different community about Apple and related technologies.</p>

<p>Your hosts this week are <a href="https://apple.stackexchange.com/users/13/kyle-cronin">Kyle Cronin</a>, <a href="https://apple.stackexchange.com/users/1346/vxjasonxv">Jason Salaz</a>, and <a href="https://apple.stackexchange.com/users/2220/nathan">Nathan Greenstein</a>.</p>

<ul>
<li><p>Last week was WWDC, and keeping up with the coverage of the keynote was a very intense task. Not to mention the active discussion we had with our fellow <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">Ask Different chatters</a>. We discuss the act of covering the keynote, or more specifically attempting to keep up with the coverage across at least 4 or 5 websites, and keeping up with all of the details flowing continuously for over 2 hours straight. We also delve into what we expect to see as all the new features begin to release, and where we would like to see as time goes on.</p></li>
<li><p>On Tuesday, Steve Jobs presented the next major architectural work by Apple to the Cupertino City Council. We discuss the so-called  Apple Mothership  building to be worked on for the next 4 years and the consideration that is sorely lacking in too many other architectural endeavors.</p></li>
<li><p>We know that as part of iOS 5, Apple will make Twitter functionality a first-class citizen with pop-overs including location sharing, single sign-on functionality, and a dedicated Twitter account field in Contacts. What we have recently learned is that additional social networks will become first class citizens and be added as contact fields in the Address Book.</p></li>
<li><p>Yet another iOS 5 feature has received more details: Wireless iPad 2 Mirroring via AirPlay. We discuss the possibilities of utilizing an Apple TV in a conference room in order to simplify the process of presentations, and how to immediately greatly improve the quality of presentations, notes, and interactivity.</p></li>
<li><p>Continuing with the WWDC hangover, we discuss the state of launcher applications, and the possibilities after Lion s release and official debut of Launchpad. We contrast the functionality offered by Apple, and the workflow exposed by launcher apps such as QuickSilver, Alfred, and LaunchBar.</p></li>
<li><p>Our Question of the Week is <a href="https://apple.stackexchange.com/questions/15624/upgrade-personal-iphone-to-ios-beta-5-0">Upgrade personal iPhone to iOS beta 5.0?</a>, asked by <a href="https://apple.stackexchange.com/users/218/senseful">Senseful</a> on June 9. We discuss if they (or you!) should, or should not, and lament that we are not more involved in the Apple Development Community in order to make the leap ourselves.</p></li>
<li><p>Our App of the Week is <a href="http://www.acqualia.com/soulver/" rel="nofollow noreferrer">Soulver</a>. Soulver is a new kind of calculator. Soulver is quick, smart, clear, and flexible. Instead of making a digital analog to a standard desk calculator, Soulver allows you to write calculations as a document, each calculation allowing you to represent a specific part of the entire series of calculations. Soulver is available for <a href="http://itunes.apple.com/us/app/soulver/id413965349?mt=12" rel="nofollow noreferrer">Desktop Macs</a> on the Mac App Store, and for <a href="http://itunes.apple.com/us/app/soulver-for-ipad/id371982536?mt=8" rel="nofollow noreferrer">iPad</a> and <a href="http://itunes.apple.com/us/app/soulver-notepad-calculator/id348142037?mt=8" rel="nofollow noreferrer">iPhone</a> on the iTunes App Store.</p></li>
</ul>

<p>This episode was recorded on Sunday, June 12th. You can subscribe to this podcast via <a href="http://feeds.feedburner.com/AskDifferentPodcast" rel="nofollow noreferrer">RSS</a> or <a href="http://itunes.apple.com/us/podcast/id435683997" rel="nofollow noreferrer">iTunes</a>. If you have any feedback or questions you d like for us to answer on air, leave a comment on this post or e-mail us at podcast@askdifferent.net.</p>

<p><a href="http://media.podcast.askdifferent.net/ask-different-7.mp3" rel="nofollow noreferrer">Download</a></p>

			</div><h3>Comments</h3>
				<textarea id = "speech-556" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-556">
					<img id="start_img-556" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-557"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This answer is here to be accepted only so that <a href="https://apple.meta.stackexchange.com/users/-1/community">Community  </a> doesn't bump it.</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-557" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-557">
					<img id="start_img-557" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>