<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Podcast #8: Project Spartan, Hardware Durability, Divvy
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-566" class = "post">
			<h2>Question</h2>
			<div id="vote-566" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 103</p>
			</div>
				<h2>Podcast #8: Project Spartan, Hardware Durability, Divvy</h2>
<p>This is the eighth episode of the Ask Different Podcast, a podcast about Apple and related technologies created by members of the Ask Different community.</p>

<p>Your hosts this week are <a href="https://apple.stackexchange.com/users/13/kyle-cronin">Kyle Cronin</a>, <a href="https://apple.stackexchange.com/users/1346/vxjasonxv">Jason Salaz</a>, and <a href="https://apple.stackexchange.com/users/2220/nathan">Nathan Greenstein</a>.</p>

<ul>
<li><p>We begin by bringing you some podcast news: We have created an ad for the podcast (Lion-themed!) and posted it in the <a href="https://apple.meta.stackexchange.com/questions/455/community-promotion-ads-1h-2011">Community Promotions Ads</a> meta post. In order for the ad to show up on the Ask Different homepage, we need you to vote for it! If you like the show, please take a look at the meta post and give our ad an upvote.</p></li>
<li><p>The <a href="http://shop.stackexchange.com/" rel="nofollow noreferrer">Stack Exchange Shop</a> is now open. You can buy <a href="http://shop.stackexchange.com/products/stack-exchange-hoodie" rel="nofollow noreferrer">hoodies</a>, <a href="http://shop.stackexchange.com/collections/t-shirts" rel="nofollow noreferrer">shirts</a>, <a href="http://shop.stackexchange.com/collections/specials/products/beer-stein" rel="nofollow noreferrer">beer steins</a>, and more bearing the Stack Exchange, Stack Overflow, Super User, and Server Fault logos. We hope to see some <a href="https://apple.meta.stackexchange.com/questions/565/ask-different-swag-for-top-users">Ask Different merchandise</a> soon.</p></li>
<li><p>Also in Stack Exchange news: A new button! Not one that you can buy; one that you can click. All Stack Exchange sites now have, right along with Facebook and Twitter buttons, a button to share a question to your LinkedIn stream.</p></li>
<li><p>Continuing on the subject of social network integration, we discuss the sinister side of Facebook s sharing buttons. This leads us to compare other tracking services, like Google Analytics, to Facebook s. and to an overall comparison of Facebook s and Google s security track records. And for those who don t like being tracked across the Web, we recommend <a href="http://www.ghostery.com/" rel="nofollow noreferrer">Ghostery</a>, a free browser extension to notify you of such tracking, and optionally block it. <a href="https://chrome.google.com/webstore/detail/jeoacafpbcihiomhlakheieifhpjdfeo" rel="nofollow noreferrer">Disconnect</a> is another option for Chrome users.</p></li>
<li><p>We discuss the increasing importance of a having a good password on your Apple account. As Apple begins tying more and more to this account, especially with the introduction of iCloud, it is more important than ever to have a secure password on your Apple account. We then discuss the limitations of entering strong passwords on mobile devices, and things Apple could do to make it easier to be more secure.</p></li>
<li><p>Moving back to Facebook, we discuss the recently-discovered <a href="http://techcrunch.com/2011/06/15/facebook-project-spartan/" rel="nofollow noreferrer">Project Spartan</a>. With it, Facebook will be attempting to challenge Apple s App Store with their own. Except that the Facebook app and its apps are used in Safari on your iOS device. Can Facebook s HTML5 app store and apps take down Apple s App Store?</p></li>
<li><p>Google offers a service called <a href="http://www.google.com/support/mobile/bin/answer.py?answer=138740&amp;topic=14252" rel="nofollow noreferrer">Google Sync</a> that provides push GMail, calendar, and contacts synchronization for mobile devices through the Exchange protocol. The service has been <a href="http://googlemobile.blogspot.com/2011/06/three-new-updates-to-google-sync-for.html" rel="nofollow noreferrer">recently updated</a> with support for searching mail on the server, accepting/declining calendar events, and sending mail from multiple addresses.</p></li>
<li><p>We share the surprise news that Apple is now <a href="http://store.apple.com/us/product/MC603LL/A?mco=MjI4NTM2NTM" rel="nofollow noreferrer">selling unlocked iPhone 4 handsets</a>. We discuss the target market that would pay the high price, and whether future unlocked iPhones might offer the ability to switch between AT&amp;T and Verizon.</p></li>
<li><p>Kyle lays out his gadget history, and tells the story of his experience with a string of fragile iPhone 4 s. Jason and Nathan chime in with their own experiences about Apple hardware (including previous-gen iPhones), and we compare other brands  durability to Apple s.</p></li>
<li><p>Our question of the week is <a href="https://apple.stackexchange.com/questions/15306/why-do-i-have-to-drag-my-new-apps-into-the-application-folder">Why do I have to drag my new apps into the Applications folder?</a>, asked by <a href="https://apple.stackexchange.com/users/6932/drew">Drew</a> on June 4th. We talk about the way Mac OS X handles applications as a single package, and how this approach is better than the approaches Windows and Linux take, especially for non-administrative users. We also touch on <a href="https://apple.stackexchange.com/questions/6065/do-i-need-to-have-system-administrator-permissions-to-install-from-the-mac-app-st">whether a non-administrator can install apps from the Mac App Store</a>.</p></li>
<li><p>Our app of the week is <a href="http://mizage.com/divvy/" rel="nofollow noreferrer">Divvy</a>, Jason s and Nathan s favorite window manager. We talk about what Divvy and similar apps are useful for, and discuss Mac OS X s built-in window management capabilities. Divvy is available on the <a href="http://itunes.apple.com/us/app/divvy/id413857545?mt=12" rel="nofollow noreferrer">Mac App Store</a>.</p></li>
</ul>

<p>This episode was recorded on Sunday, June 19th. You can subscribe to this podcast via <a href="http://feeds.feedburner.com/AskDifferentPodcast" rel="nofollow noreferrer">RSS</a> or <a href="http://itunes.apple.com/us/podcast/id435683997" rel="nofollow noreferrer">iTunes</a>. If you have any feedback or questions you d like for us to answer on air, leave a comment on this post or e-mail us at podcast@askdifferent.net.</p>

<p><a href="http://media.podcast.askdifferent.net/ask-different-8.mp3" rel="nofollow noreferrer">Download</a></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-566" class = 'collapse'>
			</div>
				<textarea id = "speech-566" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-566">
					<img id="start_img-566" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-567"  class = "post">
				<h2>Answer</h2>
			<div id="vote-567" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Blah blah blah <a href="https://apple.meta.stackexchange.com/users/-1/community">Community &diams;</a> blah.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-567">Load Comments</button></br>
			<div id = "commentsection-567" class = 'collapse'>
			<div id = "comment-1014" class = "comment">
				<p>This answer is very insightful</p>
			</div>
			<div id = "comment-1020" class = "comment">
				<p>Frankly I thought it summed up the issue perfectly.</p>
			</div>
			</div>
				<textarea id = "speech-567" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-567">
					<img id="start_img-567" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>