<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Podcast #5: MacDefender, Lodsys, Handbrake
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-541" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::70</h3>
				<h2>Podcast #5: MacDefender, Lodsys, Handbrake</h2>
<p>This is the fifth episode of the Ask Different Podcast, an unofficial podcast created by members of the Ask Different community about Apple and related technologies.</p>

<p>Your hosts this week are <a href="https://apple.stackexchange.com/users/13/kyle-cronin">Kyle Cronin</a>, <a href="https://apple.stackexchange.com/users/1346/vxjasonxv">Jason Salaz</a>, and <a href="https://apple.stackexchange.com/users/2220/nathan">Nathan Greenstein</a>.</p>

<ul>
<li><p>We begin with a piece of errata from the last episode as Jason corrects a keyboard shortcut he misspoke. For the record, to sleep your computer s displays and lock your machine, use the shortcut <kbd>Ctrl  </kbd> + <kbd>Shift  </kbd> + <kbd>Eject  </kbd>.</p></li>
<li><p>With that out of the way, Kyle brings us some site news: <a href="http://blog.stackoverflow.com/2011/05/stack-exchange-is-an-openid-provider/">Stack Exchange is now an OpenID provider</a>. That means that you now have the choice to use a Google, Facebook, other OpenID provider to login, or create a traditional e-mail and password login, in order to have your OpenID hosted by Stack Exchange. We also discuss the strict requirements that Stack Exchange places on the password for an account. We debate whether or not they are necessary or reasonable, and how they compare with the practices of both other sites and users.</p></li>
<li><p>With WWDC around the corner, Kyle brings us another piece of site news: the unofficial Stack Exchange WWDC meetup. Any developers who use Stack Exchange should drop by Eddie Rickenbacker's on June 7th. <a href="https://apple.meta.stackexchange.com/questions/533/unofficial-stackexchange-wwdc-meet-up-7th-june-2011">Click here for more info</a>.</p>

<ul>
<li>On a related note, as none of us can make it to WWDC, we put forth a request: We would love to have someone who goes to WWDC be present on a show to talk about their experience. If you re interested, please send us an email at podcast@askdifferent.net.</li>
</ul></li>
<li><p>Moving to news, we bring you an update about the new iMacs  hard drive temperature sensor update. We share two apps, <a href="http://www.hddfancontrol.com/" rel="nofollow noreferrer">HDD Fan Control</a> ($10) and <a href="http://www.eidac.de/?p=134" rel="nofollow noreferrer">smcFanControl</a> (free) that regulate the iMac s fan speed so that you can use a third-party hard drive without listening to constant, unnecessary fan noise.</p></li>
<li><p>We discuss the current state of Apple hardware and what refreshes should be on the horizon. For one, we expect to see Thunderbolt make its way onto many of the Apple machines that do not yet support it. Macrumors.com <a href="http://www.macrumors.com/2011/04/21/apple-developing-narrower-rackmountable-mac-pro-prototypes/" rel="nofollow noreferrer">predicts that</a> the Mac Pro will be updated with a rack-mountable form factor, and we expect it to have multiple Thunderbolt ports. Will the inclusion of Mac OS X Server in Lion mean a refresh for the Mac mini server and increased server-oriented capabilities on the Mac Pro? Will the plastic MacBooks be discontinued altogether?</p></li>
<li><p>In other news, the Mac security world has been shaken up these past few weeks by a new Mac trojan called MacDefender, which is one of the first major pieces of malware written for the Mac. We talk about how one can become infected, what the malware does, and how to remove it, and we discuss Apple s  promised upcoming software update that will eliminate this particular threat. With that in mind, we discuss the state of Mac security and where it may go in the future. Will the App Store become, by default, the only way to install software on your Mac? Will Apple continue protect us from threats with software updates?  </p></li>
<li><p>Apple is celebrating their 10th anniversary of the opening of Apple Retail Stores. In doing so they ve <a href="http://www.engadget.com/2011/05/22/apple-store-celebrates-10th-anniversary-with-2-0-experience-ipa/" rel="nofollow noreferrer">rolled out some very significant upgrades for their stores</a>. Almost all paper in the store is gone, replaced by a fleet of iPads. iPads are placed next to every hardware product in the store (yes, even iPads) in order to serve as an interactive kiosk for product information, and for a few personal store functions. This spurns a longer discussion on how a similar system would benefit another type of business.</p></li>
<li><p>Amazon has announced and released the <a href="http://amzn.to/m2VSWB" rel="nofollow noreferrer">Mac Download Store</a>. Amazon s store features many key retail titles for immediate digital download, similar to the Mac App Store. The difference is that everything takes place through amazon.com in any web browser, then a tailored Amazon software downloader manages retrieving and installing the software after purchase. Amazon s store features Microsoft Office for Mac, much of Adobe s Creative Suite (individually packaged), and more.</p></li>
<li><p>Our main topic is the pending litigation between <a href="http://www.lodsys.com/" rel="nofollow noreferrer">Lodsys, LLC</a>, and various iOS app developers. In the past two weeks, Lodsys has sent infringement claims to iOS app developers such as <a href="https://twitter.com/jamesthomson" rel="nofollow noreferrer">James Thompson</a> of <a href="http://www.pcalc.com/" rel="nofollow noreferrer">pCalc</a> fame, and <a href="https://twitter.com/mccarron" rel="nofollow noreferrer">Patrick McCarron</a> of <a href="http://www.mobileage.com/products/index.html" rel="nofollow noreferrer">mobileAge</a>, that due to their In-App Purchase system, they are legally obligated to pay 0.575% of their revenues to Lodsys. Our <a href="http://thisismynext.com/2011/05/17/lodsys-sends-ios-developers-cease-and-desist-letters-in-app-purchases-on/" rel="nofollow noreferrer">recommended coverage of this news</a> comes courtesy of Nilay Patel at This Is My Next.</p>

<ul>
<li><a href="http://www.macworld.com/article/160031/2011/05/apple_legal_lodsys_letter_text.html" rel="nofollow noreferrer">Apple has responded</a>, stating that iOS app developers are covered, since they pay royalties for this patent, and since the applications were developed using Apple s SDK, and leveraging Apple s Distribution Platform and other features. We discuss responses we ve heard in the Mac Development Community, our feelings on whether developers should pay or not, and our considerations on how this may affect iOS development down the road.</li>
</ul></li>
<li><p>Our Question of the Week is <a href="https://apple.stackexchange.com/questions/14215/great-apple-first-and-third-party-accessories-or-peripherals">Great Apple (first and third-party) Accessories or Peripherals</a>, asked by <a href="https://apple.stackexchange.com/users/4160/steve-moser">Steve Moser</a> on May 16. All of us pitch in our respective answers, and elaborate on advantages and disadvantages of each.</p></li>
<li><p>Our App of the Week is <a href="http://handbrake.fr/" rel="nofollow noreferrer">Handbrake</a>. HandBrake is an open-source, GPL-licensed, multiplatform, multithreaded video transcoder, available for Mac OS X, Linux and Windows. Handbrake is an extremely simple utility that allows you to encode H.264 Video Media in a heartbeat, from DVDs or from any other video file on your computer.</p></li>
</ul>

<p>This episode was recorded on Saturday, May 28th. You can subscribe to this podcast via <a href="http://feeds.feedburner.com/AskDifferentPodcast" rel="nofollow noreferrer">RSS</a> or <a href="http://itunes.apple.com/us/podcast/id435683997" rel="nofollow noreferrer">iTunes</a>. If you have any feedback or questions you d like for us to answer on air, leave a comment on this post or e-mail us at podcast@askdifferent.net.</p>

<p><a href="http://media.podcast.askdifferent.net/ask-different-5.mp3" rel="nofollow noreferrer">Download</a></p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-555"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>This answer is here to be accepted only so that Community &diams; doesn't bump it.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>