<html>
	<head>
		<title id = 'pagetitle'>Poll: Ask Different Blog
		</title>
	<head>
	<body id = 'pagebody'><p>Today I came across the <a href="http://apple.blogoverflow.com" rel="nofollow noreferrer">Ask Different Blog</a>, something I had no idea even existed.</p>

<p>Noting that the last entry is dated 6 October 2015, I started to wonder whether it had quietly died at some point, so I searched around Meta and found these three posts:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/666/is-anyone-interested-in-starting-managing-and-or-writing-for-an-ask-different-b">Is anyone interested in starting, managing and/or writing for an Ask Different blog?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/974/can-we-make-the-askdifferent-blog-more-easily-accessible">Can we make the AskDifferent blog more easily accessible?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/811/the-ask-different-blog-is-looking-for-contributors">The Ask Different Blog is looking for contributors</a></li>
</ul>

<p>I didn't seem to find anything that related to us no longer having a blog.</p>

<p>Obviously I don't know the history of the blog, (heck, I still feel like a newbie around here), but I've taken the time today to have a good look around and it seems to me to have once been a valuable resource. </p>

<p>In fact, the site even used it to run competitions (with real prizes) and at some point even had Ask Different gift swags (shirts, stickers, etc). And, for a while we even had a series of Ask Different <a href="http://apple.blogoverflow.com/category/podcast/" rel="nofollow noreferrer">podcasts</a> being produced.</p>

<p>Now, I am <strong>not</strong> saying we should go back to running competitions and offering prizes, or producing podcasts (I know these things require time and money), but my point is that presumably at some point the blog was quite active and successful (it even had a dedicated Ask Different <a href="http://chat.stackexchange.com/rooms/1408/ask-different-blog">Blog chat</a>). And it <em>may</em> have even been a good promotional/marketing tool for Ask Different as a whole (e.g. this Ask Different <a href="http://apple.blogoverflow.com/2012/03/keyboard-ninja-working-with-text-screencast/" rel="nofollow noreferrer">screencast</a> on Vimeo seems to have been a <em>Vimeo staff pick</em> at one time). </p>

<p>My questions are:</p>

<ol>
<li>Do we actually still have a blog?</li>
<li>If no, (i) when did it stop; and (ii) why did it stop (i.e. low readership, not enough contributors, etc)?</li>
<li>If yes, (i) how do we get involved; and (ii) how can we promote it?</li>
</ol>

<p>In summary, it seems to me that getting the blog going again <em>may be possible</em> as we've got more users joining the site daily and some of these have been very active in the period since the last blog post.</p>

<p><strong>I for one would be more than happy to get involved.</strong></p>

<p><strong>[UPDATE 1]</strong></p>

<p>Since posting the question I've found and discovered some history to all this.</p>

<p>This blog... </p>

<blockquote>
  <p>...was originally a part of Blog Overflow, a network of blogs linked to
  Stack Exchange sites. Blog Overflow has since been discontinued, but
  the written articles will remain here for future readers.</p>
</blockquote>

<p>For full details you can read <a href="https://meta.stackexchange.com/questions/291741/we-will-no-longer-be-hosting-blog-overflow">We will no longer be hosting Blog Overflow</a>.</p>

<p>In summary, the three main reasons were:</p>

<ul>
<li>The vast majority of blogs weren't really active</li>
<li>WordPress is a meaty beast to sustain as a self-hosted service and not worth the effort for something that resulted in little activity</li>
<li>Blogs can work with us while being external to us.</li>
</ul>

<p>In light of this, I guess if the demand was there, we could create a blog offsite. So, my question could become a discussion on whether doing so was something this community wanted to do?</p>

<p><strong>[Update 2]</strong></p>

<p>Added three <em>polling</em> answers. Please vote for whichever answer represents your view. </p>

<p><strong>No need for any down votes - just up vote one of the polls only.</strong></p>


<h1>ANSWERS</h1>
		<p>We do not have a blog.</p>

<p>It stopped in March: <a href="https://meta.stackexchange.com/questions/291741/we-will-no-longer-be-hosting-blog-overflow">We will no longer be hosting Blog Overflow</a></p>

<p>The reasoning is three-fold in basic:</p>

<ol>
<li>The vast majority of blogs aren't really active. </li>
<li>WordPress is meaty to sustain self-hosted.</li>
<li>Blogs can continue externally - they allowed each site to export data if requested.</li>
</ol>

<p>For us specifically, the <em>Ask Different Blog</em> was very not active. We spent more time moderating spam comments than creating content, we didn't export the data since it exists statically hosted for scraping if someone wants to start up an external blog for the site.</p>


<h2>Poll -- Yes, we should have an external blog for the site, and I can contribute</h2>

<p>Yes, we should have a blog and I would be happy to contribute.</p>

<p><strong>Note:</strong> If you're upvoting this, please add a comment so we can get in touch later if we explore this further.</p>


<h2>Poll -- Yes, we should have an external blog for the site, but I can't contribute</h2>

<p>Yes, we should have a blog but I can't contribute.</p>


<h2>Poll -- No, we should not have a blog for the site</h2>

<p>No, we should not have a blog.</p>


	</body>
</html>