<html>
	<head>
		<title id = 'pagetitle'>Polling feature
		</title>
	<head>
	<body id = 'pagebody'><p>Would it be helpful to add a polling feature to Ask Different? I was talking to Nathan Greenstein in the chat room about web browser shares among Mac users, which led me to post this. I am not sure how useful it would be to have a feature like this. If you downvote this post could you <strong>please</strong> let me know why you downvoted it. It's helpful to have feedback as to why you think a feature request isn't a good idea.</p>


<h1>ANSWERS</h1>
		<p>None of the SE sites is going to support poll questions. The FAQ of every SE sites reports  that you should not ask subjective questions where every answer is equally valid, which is essentially what poll questions are.</p>

<p>To notice that the purpose of the CW questions have been changed and, as reported in <a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">The Future of Community Wiki</a>:</p>

<blockquote>
  <p>If a question is valuable enough that you believe it belongs on the site, chances are you don t need it to be community wiki! We welcome all contributions which improve the quality of a site and advertise its greatness to the rest of the world. If you allow a certain class of questions, but only under the stipulation that no one can earn reputation from them, you've strongly discouraged these sorts of questions. People aren't going to put in nearly as much effort to ask them.</p>
  
  <p>Instead, strive for quality. If you're unsure a certain question class belongs on the site, don't tolerate the worst examples   demand that these questions be awesome.</p>
</blockquote>


	</body>
</html>