<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Possible Conference Speaking Sponsorships -- 2011
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-491" class = "post">
			<h2>Question</h2>
			<div id="vote-491" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 126</p>
			</div>
				<h2>Possible Conference Speaking Sponsorships -- 2011</h2>
<p>We're evaluating the feasibility of <strong>sponsoring a member of the Apple community to speak at a conference in 2011</strong>.</p>

<p>Speaking is a relatively big "ask", so this needs to be planned many months in advance. Let's get started! </p>

<p>We'd like the community to establish <strong>where</strong> ...</p>

<blockquote>
  <p>What relevant Apple conferences are coming up in 2011 that have open speaker slots or calls for papers?</p>
</blockquote>

<p>... and then <strong>who</strong>.</p>

<blockquote>
  <p>Which members of the community are strongly interested in being sponsored by Stack Exchange, Inc to speak at one of the above conferences in 2011?</p>
</blockquote>

<p>To be clear, the speaker is free talk about anything he or she wants so long as it would be roughly on topic for this site -- with a quick acknowledgement of support from Stack Exchange and a mention of the community here.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-491">Load Comments</button></br>
			<div id = "commentsection-491" class = 'collapse'>
			<div id = "comment-906" class = "comment">
				<p>@Moderators a banner on the main site linking here asking for communities ideas (maybe not right now, but once the first ideas get flowing) would be nice :)</p>
			</div>
			</div>
				<textarea id = "speech-491" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-491">
					<img id="start_img-491" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-499"  class = "post">
				<h2>Answer</h2>
			<div id="vote-499" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some ideas from the developer community:</p>

<ul>
<li><a href="http://www.red-sweater.com/" rel="nofollow noreferrer">Daniel Jalkut</a></li>
<li><a href="http://bignerdranch.com/" rel="nofollow noreferrer">Aaron Hillegass</a></li>
<li><a href="http://borkware.com/" rel="nofollow noreferrer">Mark Dalrymple</a></li>
<li><a href="http://www.cimgf.com/" rel="nofollow noreferrer">Marcus Zarra</a></li>
<li><a href="http://mattgemmell.com/" rel="nofollow noreferrer">Matt Gemmell</a></li>
<li><a href="http://cocoawithlove.com/" rel="nofollow noreferrer">Matt Gallagher</a></li>
<li><a href="http://boredzo.org/" rel="nofollow noreferrer">Peter Hosey</a> (<a href="https://apple.stackexchange.com/users/5736/peter-hosey">apple.se</a>)</li>
<li><a href="http://blog.securemacprogramming.com/" rel="nofollow noreferrer">Graham Lee</a> (<a href="https://apple.stackexchange.com/users/1393/graham-lee">apple.se</a>)</li>
</ul>

<p>Or maybe someone from Apple:</p>

<ul>
<li><a href="http://bill.dudney.net/" rel="nofollow noreferrer">Bill Dudney</a></li>
<li><a href="http://twitter.com/jury" rel="nofollow noreferrer">Michael Jurewitz</a></li>
<li><a href="http://www.friday.com/bbum/" rel="nofollow noreferrer">Bill Bumgarner</a> (<a href="https://apple.stackexchange.com/users/1783/bbum">apple.se</a>)</li>
<li><a href="http://theocacao.com/" rel="nofollow noreferrer">Scott Stevenson</a></li>
<li><a href="http://www.sealiesoftware.com/" rel="nofollow noreferrer">Greg Parker</a></li>
<li><a href="http://eschatologist.net/" rel="nofollow noreferrer">Chris Hanson</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-499">Load Comments</button></br>
			<div id = "commentsection-499" class = 'collapse'>
			<div id = "comment-931" class = "comment">
				<p>@Dori yeah, i realized that well after the fact.  All (or pretty much all) of them are contributors on SO, but not really so much on  .se.  I've added links for the couple that do have accounts here.</p>
			</div>
			</div>
				<textarea id = "speech-499" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-499">
					<img id="start_img-499" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>