<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Potential Question: Does An Old Mac G5 Make A Great BBQ?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1690" class = "post">
			<h2>Question</h2>
			<div id="vote-1690" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 112</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Potential Question: Does An Old Mac G5 Make A Great BBQ?</h2>
<p><strong>Was thinking about putting this as a question (if of humor) on Ask Different</strong></p>

<p>Just came across this as an alternative recycling option:</p>

<p><img src="https://i.stack.imgur.com/GKpXJ.png" alt="enter image description here"></p>

<p>Source: <a href="http://www.macgasm.net/2013/05/20/check-out-this-dude-who-turned-a-g5-into-a-bbq-grill/" rel="nofollow noreferrer">Macgasm</a></p>

<p>Is this really a viable option (if extreme) &amp; what other recycling methods exist for an old G5 ?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1690">Load Comments</button></br>
			<div id = "commentsection-1690" class = 'collapse'>
			<div id = "comment-3159" class = "comment">
				<p>I don't know that I would cook stuff on a surface with god knows what chemicals...</p>
			</div>
			<div id = "comment-3160" class = "comment">
				<p>@JasonSalaz I totally agree with you.....Insane</p>
			</div>
			<div id = "comment-3165" class = "comment">
				<p>@JasonSalaz It looks like he's put another grate over the side of it. Presumably it is a more reliable grilling surface.</p>
			</div>
			<div id = "comment-3171" class = "comment">
				<p>My guess is the case would warp severely if you put hot coals in it repeatedly. I was under the impression that the G5 / Mac Pro chassis were simply anodized aluminum which wouldn't be more or less harmful than aluminum foil or aluminum pots and pans. I'd want to see a heat sink grill pattern for maximum geek points - that round waffle pattern seems odd for grilling.</p>
			</div>
			</div>
				<textarea id = "speech-1690" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1690">
					<img id="start_img-1690" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1695"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1695" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd say it makes a "grate" BBQ surface but not a great one.</p>

<p>Also, al-yoo-mini-yum</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1695" class = 'collapse'>
			</div>
				<textarea id = "speech-1695" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1695">
					<img id="start_img-1695" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>