<html>
	<head>
		<title id = 'pagetitle'>Potential Question: Does An Old Mac G5 Make A Great BBQ?
		</title>
	<head>
	<body id = 'pagebody'><p><strong>Was thinking about putting this as a question (if of humor) on Ask Different</strong></p>

<p>Just came across this as an alternative recycling option:</p>

<p><img src="https://i.stack.imgur.com/GKpXJ.png" alt="enter image description here"></p>

<p>Source: <a href="http://www.macgasm.net/2013/05/20/check-out-this-dude-who-turned-a-g5-into-a-bbq-grill/" rel="nofollow noreferrer">Macgasm</a></p>

<p>Is this really a viable option (if extreme) &amp; what other recycling methods exist for an old G5 ?</p>


<h1>ANSWERS</h1>
		<p>I'd say it makes a "grate" BBQ surface but not a great one.</p>

<p>Also, al-yoo-mini-yum</p>


	</body>
</html>