<html>
	<head>
		<title id = 'pagetitle'>Pre-release software that doesn't require an NDA
		</title>
	<head>
	<body id = 'pagebody'><p>THe FAQ makes it clear that prerelease software requiring an NDA is off-topic for the site. But not all pre-release software requires an NDA. Is pre-release software that doesn't require an NDA an allowable topic?</p>

<p>For example, <a href="https://apple.stackexchange.com/questions/24982/installing-windows-8-preview-on-a-mac">Installing Windows 8 Preview on a Mac?</a> was closed as off topic, but at <a href="http://msdn.microsoft.com/en-us/windows/apps/br229516" rel="nofollow noreferrer">http://msdn.microsoft.com/en-us/windows/apps/br229516</a>, one can download the Windows 8 preview without any NDA.</p>


<h1>ANSWERS</h1>
		<p>Here's my view on this:</p>

<p>The reason to disallow questions about prerelease software <strong>is not the NDA</strong>. It's not our job to enforce that. If users want to break their NDAs that's their choice.</p>

<p>Rather, the reason that I think we shouldn't allow these questions is that many of them are simply <strong>too localized</strong>.<br>
Things change very quickly with prerelease software, so a question and answer that work today are likely to be broken, or not even relevant, tomorrow.</p>

<p>I'm in favor of updating the FAQs to block all questions about prerelease software, not just those under NDA.</p>


<p>Some pre-release software is transient and likely too localized a question because it will too-soon become obsolete. Other times, software languishes for years in pre-release form. (Google's perpetual betas are one example; many open-source projects also exhibit these symptoms). A question about a developer preview that will in days or months be superseded by an official release likely should be off-topic, I'd think. But I'd hate for this rule to keep us from being able to answer questions about any beta software, or stable but slowly developing solutions to real problems people might develop.</p>

<p>This isn't a clear bright line, which is unfortunate, but I do think it's an important distinction.</p>


	</body>
</html>