<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Privileges page refers to wrong site name
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Privileges page refers to wrong site name</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/433/please-change-name-of-site-from-apple-to-ask-different">Please change name of site from &ldquo;Apple&rdquo; to &ldquo;Ask Different&rdquo;</a>  </p>
</blockquote>



<p>The <a href="https://apple.stackexchange.com/privileges">Privileges page</a> twice refers to this site as "Apple" as opposed to "Ask Different"; could that be fixed to refer to the site by its current name?</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>