<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Privileges Lost: Really?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-293" class = "post">
			<h2>Question</h2>
			<div id="vote-293" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 128</p>
			</div>
				<h2>Privileges Lost: Really?</h2>
<p>I understand that launched sites require more rep for a given privilege, but it feels pretty unfair that I've now lost a bunch of my capabilities.</p>

<p>I think it would be much friendlier to let beta users grandfather in to these privileges because, really, losing stuff sucks. Even more when you've worked hard for it and supported a developing site.</p>

<p>Anyone agree?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-293" class = 'collapse'>
			</div>
				<textarea id = "speech-293" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-293">
					<img id="start_img-293" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-296"  class = "post">
				<h2>Answer</h2>
			<div id="vote-296" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Discussed here:</p>

<p><a href="https://meta.stackexchange.com/questions/67054/can-we-grandfather-in-rep-abilities-as-sites-leave-beta">Can we grandfather in rep abilities as sites leave beta?</a></p>

<p>In short, "If the site is going to graduate, it needs to graduate."</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-296" class = 'collapse'>
			</div>
				<textarea id = "speech-296" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-296">
					<img id="start_img-296" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-298"  class = "post">
				<h2>Answer</h2>
			<div id="vote-298" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Less an answer and more an FYI:</p>

<p>Because of this, there are now only 3 users other than the moderators who can cast close votes. For everyone who is not a mod or one of "the 3" (new superhero team name?), please help us out by flagging stuff that needs to be closed.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-298">Load Comments</button></br>
			<div id = "commentsection-298" class = 'collapse'>
			<div id = "comment-634" class = "comment">
				<p>Pardon what might be a basic question of the SE community, but does site graduation also equate to opening up moderator positions to make up for the deficit? I have little time right now (classes started), but I would be happy to help moderate when I can if the community would have me.</p>
			</div>
			<div id = "comment-637" class = "comment">
				<p>@PhilipRegan: I'm not 100% positive, but I don't think the graduation automatically means we'll add pro-tem mods.  However, I'm pretty sure it means we will have moderator elections in the relatively near future.</p>
			</div>
			</div>
				<textarea id = "speech-298" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-298">
					<img id="start_img-298" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-299"  class = "post">
				<h2>Answer</h2>
			<div id="vote-299" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I tend to agree... I'm not convinced that there can be a good argument for ever taking privileges/features away from dedicated users. </p>

<p>Not an MMORPG player these days, but here's an analogy it made me think of: </p>

<p>A game has a character level cap of 50 which affords particular skills, items, quests, etc. At some point the developer releases an update that raises that level to 60 and removes all those privileges from the level 50 users. Unfortunately, they don't add any new content or privileges, they just add a film-grain filter to the graphics to make them pretty and take stuff away.</p>

<p>So if the developer does it because the game was unbalanced and the economy was out of whack, is it ok? In my opinion the developer should instead be thinking of ways to fix the system that don't penalize the people who make it possible for them to ponder such questions in the first place</p>

<p><sub>Smart ass answer: Really?  YA RLY!</SUB></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-299" class = 'collapse'>
			</div>
				<textarea id = "speech-299" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-299">
					<img id="start_img-299" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>