<html>
	<head>
		<title id = 'pagetitle'>Privileges page refers to wrong site name
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/433/please-change-name-of-site-from-apple-to-ask-different">Please change name of site from &ldquo;Apple&rdquo; to &ldquo;Ask Different&rdquo;</a>  </p>
</blockquote>



<p>The <a href="https://apple.stackexchange.com/privileges">Privileges page</a> twice refers to this site as "Apple" as opposed to "Ask Different"; could that be fixed to refer to the site by its current name?</p>


<h1>ANSWERS</h1>
			</body>
</html>