<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Privileges Lost: Really?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-293" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::128</h3>
				<h2>Privileges Lost: Really?</h2>
<p>I understand that launched sites require more rep for a given privilege, but it feels pretty unfair that I've now lost a bunch of my capabilities.</p>

<p>I think it would be much friendlier to let beta users grandfather in to these privileges because, really, losing stuff sucks. Even more when you've worked hard for it and supported a developing site.</p>

<p>Anyone agree?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-296"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Discussed here:</p>

<p><a href="https://meta.stackexchange.com/questions/67054/can-we-grandfather-in-rep-abilities-as-sites-leave-beta">Can we grandfather in rep abilities as sites leave beta?</a></p>

<p>In short, "If the site is going to graduate, it needs to graduate."</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-298"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Less an answer and more an FYI:</p>

<p>Because of this, there are now only 3 users other than the moderators who can cast close votes. For everyone who is not a mod or one of "the 3" (new superhero team name?), please help us out by flagging stuff that needs to be closed.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-634" class = "comment">
				<p>Pardon what might be a basic question of the SE community, but does site graduation also equate to opening up moderator positions to make up for the deficit? I have little time right now (classes started), but I would be happy to help moderate when I can if the community would have me.</p>
			</div>
			<div id = "comment-637" class = "comment">
				<p>@PhilipRegan: I'm not 100% positive, but I don't think the graduation automatically means we'll add pro-tem mods.  However, I'm pretty sure it means we will have moderator elections in the relatively near future.</p>
			</div>
			<br><div id = "ans-299"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I tend to agree... I'm not convinced that there can be a good argument for ever taking privileges/features away from dedicated users. </p>

<p>Not an MMORPG player these days, but here's an analogy it made me think of: </p>

<p>A game has a character level cap of 50 which affords particular skills, items, quests, etc. At some point the developer releases an update that raises that level to 60 and removes all those privileges from the level 50 users. Unfortunately, they don't add any new content or privileges, they just add a film-grain filter to the graphics to make them pretty and take stuff away.</p>

<p>So if the developer does it because the game was unbalanced and the economy was out of whack, is it ok? In my opinion the developer should instead be thinking of ways to fix the system that don't penalize the people who make it possible for them to ponder such questions in the first place</p>

<p><sub>Smart ass answer: Really?  YA RLY!</SUB></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>