<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Problems with a question with some answers for iPhone 3G and then an edit to iPhone 3GS
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1549" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::32</h3>
				<h2>Problems with a question with some answers for iPhone 3G and then an edit to iPhone 3GS</h2>
<p>We have a question that I've closed to see if it can be salvaged:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/65952/how-to-upgrade-iphone-3gs-to-ios-5-now-that-ios-6-is-out">https://apple.stackexchange.com/questions/65952/how-to-upgrade-iphone-3gs-to-ios-5-now-that-ios-6-is-out</a></li>
</ul>

<p>It started out as can I upgrade an iPhone 3G to iOS 6 - where the answer is basically - NO.</p>

<p>Then it got edited to iPhone 3GS where the answer is YES - but now many of the comments and answers make no sense.</p>

<p>If I revert the edits, we need to delete the answers targeting 3GS and vice versa. Can someone propose a good solution to this other than closure? </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2897" class = "post">
				<p>closure AND deletion? :-)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1550"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>When did the edit to 3GS occur - Sathya's edit is not marked up as changed and the original is 3G - seems like a error in the revision history. </p>

<p>Thus the OP did not make this edit and given that they accepted the answer re 3G saying that upgrade not possible, I think the correct solution is to remove all 3GS references</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>