<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Problem in updating profile
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Problem in updating profile</h2>
<p>I am trying to change my name of my profile but getting <strong>Oops! There was a problem updating your profile:unusual error updating your profile -- please try again!</strong></p>

<p><img src="https://i.stack.imgur.com/Ivjoe.png" alt="enter image description here"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Issue has been fixed. Today, I tried and got success in changing name. </p>

<p>It was there yesterday it might be a <em>bug</em> but now it has been solved.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>