<html>
	<head>
		<title id = 'pagetitle'>Problems with the flag dialog
		</title>
	<head>
	<body id = 'pagebody'><p>There are miscellaneous problems with the flag dialog:</p>

<p><a href="http://so.mrozekma.com/apple-flag-design-bugs.png" rel="nofollow noreferrer">Screenshot of flag dialog http://so.mrozekma.com/apple-flag-design-bugs.png</a></p>

<ul>
<li>Transparency problem with the close icon</li>
<li>Transparency problem with the "Flag Question" button</li>
<li>Discolored corners</li>
<li>Misaligned remaining flags number (possibly a duplicate of <a href="https://apple.meta.stackexchange.com/questions/292/cosmetic-bug-in-new-theme">this bug</a>)</li>
</ul>


<h1>ANSWERS</h1>
		<p>This is a known bug with Windows/Linux Chrome. For the Apple.SE theme we put some hack fix for some buttons but not all. The good news is that the Chrome team has fixed this bug on dev already, and will deploy it in the near future:</p>

<p><a href="http://paulirish.com/2011/chrome-inset-box-shadow-bug-fixed/" rel="nofollow">http://paulirish.com/2011/chrome-inset-box-shadow-bug-fixed/</a></p>


	</body>
</html>