<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Problem in updating profile
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1362" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::46</h3>
				<h2>Problem in updating profile</h2>
<p>I am trying to change my name of my profile but getting <strong>Oops! There was a problem updating your profile:unusual error updating your profile -- please try again!</strong></p>

<p><img src="https://i.stack.imgur.com/Ivjoe.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2598" class = "post">
				<p>Have you tried on the other sites? If so, flag this post to be migrated to Meta.SO, as it is network wide...</p>
			</div>
			<div id = "comment-2599" class = "post">
				<p>No I haven't tried on any other sites. Today, I tried and it works. Yesterday, I was getting this error.</p>
			</div>
			<div id = "comment-2600" class = "post">
				<p>The developers probably issued a hot fix and this isn't relevant anymore. I would suggest you delete the post.</p>
			</div>
			<div id = "comment-2601" class = "post">
				<p>There was issue yesterday so I posted, if you think that this isn't relevant questions anymore then flag it for deletion.</p>
			</div>
			<div id = "comment-2602" class = "post">
				<p>Okay. I will. Just as a note, I did the same thing, and a fix was issued, and I deleted the post. Just so you know I'd do the same thing to my post.</p>
			</div>
			<div id = "comment-2603" class = "post">
				<p>This is not a topic of debate. I think it should be there for community awareness as it is bug as you can see in screen shot. I didn't get any indication that issue has been fix or not.</p>
			</div>
			<div id = "comment-2604" class = "post">
				<p>Nor did I when I posted my question...</p>
			</div>
			<div id = "comment-2605" class = "post">
				<p>@daviesgeek We don't delete issues, even transient ones. You know this.</p>
			</div>
			<div id = "comment-2608" class = "post">
				<p>@JasonSalaz Actually, I disagree. bmike I believe will agree with me. He asked me to delete one of my questions, as it wasn't relevant anymore.</p>
			</div>
			<div id = "comment-2609" class = "post">
				<p>[tag:status-nonrepro]</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1363"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Issue has been fixed. Today, I tried and got success in changing name. </p>

<p>It was there yesterday it might be a <em>bug</em> but now it has been solved.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>