<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Problem in updating profile
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1362" class = "post">
			<h2>Question</h2>
			<div id="vote-1362" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 46</p>
			</div>
				<h2>Problem in updating profile</h2>
<p>I am trying to change my name of my profile but getting <strong>Oops! There was a problem updating your profile:unusual error updating your profile -- please try again!</strong></p>

<p><img src="https://i.stack.imgur.com/Ivjoe.png" alt="enter image description here"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1362">Load Comments</button></br>
			<div id = "commentsection-1362" class = 'collapse'>
			<div id = "comment-2598" class = "comment">
				<p>Have you tried on the other sites? If so, flag this post to be migrated to Meta.SO, as it is network wide...</p>
			</div>
			<div id = "comment-2599" class = "comment">
				<p>No I haven't tried on any other sites. Today, I tried and it works. Yesterday, I was getting this error.</p>
			</div>
			<div id = "comment-2600" class = "comment">
				<p>The developers probably issued a hot fix and this isn't relevant anymore. I would suggest you delete the post.</p>
			</div>
			<div id = "comment-2601" class = "comment">
				<p>There was issue yesterday so I posted, if you think that this isn't relevant questions anymore then flag it for deletion.</p>
			</div>
			<div id = "comment-2602" class = "comment">
				<p>Okay. I will. Just as a note, I did the same thing, and a fix was issued, and I deleted the post. Just so you know I'd do the same thing to my post.</p>
			</div>
			<div id = "comment-2603" class = "comment">
				<p>This is not a topic of debate. I think it should be there for community awareness as it is bug as you can see in screen shot. I didn't get any indication that issue has been fix or not.</p>
			</div>
			<div id = "comment-2604" class = "comment">
				<p>Nor did I when I posted my question...</p>
			</div>
			<div id = "comment-2605" class = "comment">
				<p>@daviesgeek We don't delete issues, even transient ones. You know this.</p>
			</div>
			<div id = "comment-2608" class = "comment">
				<p>@JasonSalaz Actually, I disagree. bmike I believe will agree with me. He asked me to delete one of my questions, as it wasn't relevant anymore.</p>
			</div>
			<div id = "comment-2609" class = "comment">
				<p>[tag:status-nonrepro]</p>
			</div>
			</div>
				<textarea id = "speech-1362" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1362">
					<img id="start_img-1362" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1363"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1363" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Issue has been fixed. Today, I tried and got success in changing name. </p>

<p>It was there yesterday it might be a <em>bug</em> but now it has been solved.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1363" class = 'collapse'>
			</div>
				<textarea id = "speech-1363" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1363">
					<img id="start_img-1363" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>