<html>
	<head>
		<title id = 'pagetitle'>Problem in updating profile
		</title>
	<head>
	<body id = 'pagebody'><p>I am trying to change my name of my profile but getting <strong>Oops! There was a problem updating your profile:unusual error updating your profile -- please try again!</strong></p>

<p><img src="https://i.stack.imgur.com/Ivjoe.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>Issue has been fixed. Today, I tried and got success in changing name. </p>

<p>It was there yesterday it might be a <em>bug</em> but now it has been solved.</p>


	</body>
</html>