<html>
	<head>
		<title id = 'pagetitle'>Process for Flaging a Moderator comment
		</title>
	<head>
	<body id = 'pagebody'><p>If I flag a Moderator comment (as not constructive), does it get reviewed by another (independent) moderator or can the flagged moderator just delete/ignore it.</p>

<p>Just interested in the process here, since none of us is perfect and can make mistakes.</p>

<p>Here is a example (removed moderator name for privacy).</p>

<p><img src="https://i.stack.imgur.com/9RgYO.png" alt="flag moderator"></p>


<h1>ANSWERS</h1>
		<p>They'll show up in the comment queue and all moderators will see the flag. The system doesn't hide the flag from the moderator who's comment was flagged. We discuss flags on our own comments and avoid moderating ourselves.</p>


	</body>
</html>