<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Profile Menubar Tab Opens Automatically
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-854" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::40</h3>
				<h2>Profile Menubar Tab Opens Automatically</h2>
<p>When viewing the <a href="http://apple.blogoverflow.com" rel="nofollow">Ask Different blog</a> when logged in, the Dashboard/Navigation bar is visible. On page load, the profile tab (the tab with your name on it) opens until you move your mouse. It's a bit distracting, and I'm fairly certain it's not supposed to happen.</p>

<p>I recorded a quick video demonstrating the issue:<br>
<a href="http://www.youtube.com/watch?v=hJoxt7M41SA" rel="nofollow">http://www.youtube.com/watch?v=hJoxt7M41SA</a></p>

<p>Upon further examination, it appears to be happening on the main page, and a single blog post page. It does <em>not</em> happen on "pages" (like, <a href="http://apple.blogoverflow.com/for-podcast-guests/" rel="nofollow">for podcast guests</a>), nor the archive/about page.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1593" class = "comment">
				<p>I can reproduce this</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1014"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This appears to have been fixed by a WordPress update in the meantime.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>