<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Profile Menubar Tab Opens Automatically
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-854" class = "post">
			<h2>Question</h2>
			<div id="vote-854" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
				<h2>Profile Menubar Tab Opens Automatically</h2>
<p>When viewing the <a href="http://apple.blogoverflow.com" rel="nofollow">Ask Different blog</a> when logged in, the Dashboard/Navigation bar is visible. On page load, the profile tab (the tab with your name on it) opens until you move your mouse. It's a bit distracting, and I'm fairly certain it's not supposed to happen.</p>

<p>I recorded a quick video demonstrating the issue:<br>
<a href="http://www.youtube.com/watch?v=hJoxt7M41SA" rel="nofollow">http://www.youtube.com/watch?v=hJoxt7M41SA</a></p>

<p>Upon further examination, it appears to be happening on the main page, and a single blog post page. It does <em>not</em> happen on "pages" (like, <a href="http://apple.blogoverflow.com/for-podcast-guests/" rel="nofollow">for podcast guests</a>), nor the archive/about page.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-854">Load Comments</button></br>
			<div id = "commentsection-854" class = 'collapse'>
			<div id = "comment-1593" class = "comment">
				<p>I can reproduce this</p>
			</div>
			</div>
				<textarea id = "speech-854" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-854">
					<img id="start_img-854" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1014"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1014" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This appears to have been fixed by a WordPress update in the meantime.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1014" class = 'collapse'>
			</div>
				<textarea id = "speech-1014" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1014">
					<img id="start_img-1014" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>