<html>
	<head>
		<title id = 'pagetitle'>Profile Menubar Tab Opens Automatically
		</title>
	<head>
	<body id = 'pagebody'><p>When viewing the <a href="http://apple.blogoverflow.com" rel="nofollow">Ask Different blog</a> when logged in, the Dashboard/Navigation bar is visible. On page load, the profile tab (the tab with your name on it) opens until you move your mouse. It's a bit distracting, and I'm fairly certain it's not supposed to happen.</p>

<p>I recorded a quick video demonstrating the issue:<br>
<a href="http://www.youtube.com/watch?v=hJoxt7M41SA" rel="nofollow">http://www.youtube.com/watch?v=hJoxt7M41SA</a></p>

<p>Upon further examination, it appears to be happening on the main page, and a single blog post page. It does <em>not</em> happen on "pages" (like, <a href="http://apple.blogoverflow.com/for-podcast-guests/" rel="nofollow">for podcast guests</a>), nor the archive/about page.</p>


<h1>ANSWERS</h1>
		<p>This appears to have been fixed by a WordPress update in the meantime.</p>


	</body>
</html>