<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Promoting Apple.SE
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-89" class = "post">
			<h2>Question</h2>
			<h3>Score ::10</h3>
			<h3>Views ::192</h3>
				<h2>Promoting Apple.SE</h2>
<p>Apple.SE needs promotion to increase both the amount of users and questions on Apple.SE. (Mind you we still have <a href="http://area51.stackexchange.com/proposals/151/apple">68 days</a> to prove our worth)</p>

<p>I'm noticing the following things really need help:</p>

<ul>
<li>Answer or encourage answers to be accepted with the <a href="https://apple.stackexchange.com/unanswered">unanswered questions</a>. We presently have the third lowest answered percentage of all the new SE sites according to <a href="http://stackexchange.com/sites">StackExchange's Main Site</a>. We're only ahead of Electronic Gadgets (which will most likely be going away) and WordPress.</li>
<li>Don't be afraid to vote on questions and answers. At present with reduced values for the required rep to do actions we still only have 7 users (excluding mods) who can vote to close questions and only 1 (excluding mods) who can edit questions.</li>
<li>Encourage people to visit and even better participate using whichever method you'd like. There are quick links to share questions on Twitter and Facebook on every question and recently 3 new badges have been added to reward those who share questions.</li>
</ul>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-93"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I think the new <a href="http://blog.stackoverflow.com/2010/09/announcer-booster-and-publicist-badges/" rel="nofollow">permalinks and badges</a> are a genius way of growing site traffic. My advice is to attempt to locate questions people are asking on other sites that have answers here and post a link to the answer here. This provides a non-spammy way of increasing the visibility of the site, increases the Google pagerank for our content, and provides the person on the other site with the answer to their question.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-166" class = "comment">
				<p>The "non-spammy approach" for advertising at other sites is a great idea actually</p>
			</div>
			<br><div id = "ans-100"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I think we must encourage Superuser people who asks any question about apple to ask their quiestions in APPLE.SE.<br>
we can do this by put comment on their question "this question more related to APPLE.SE"</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-153" class = "comment">
				<p>Until Apple is out of beta this isn't encouraged from what I understand as they're perfectly legitimate for Super User.</p>
			</div>
			<div id = "comment-167" class = "comment">
				<p>Also, we need to get users from *outside* the Stack Overflow / SE universe, not just those who are "already converted": http://meta.apple.stackexchange.com/questions/89/promoting-apple-se/106#106</p>
			</div>
			<br><div id = "ans-102"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Why not <em>sponsored</em> some Apple related tags on S[UFO] ?</p>

<p>Like <a href="https://stackoverflow.com/questions/tagged/android"><strong>[android]</strong></a> or <a href="https://stackoverflow.com/questions/tagged/flex"><strong>[flex]</strong></a>.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-104"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>According to <a href="http://blog.stackoverflow.com/2010/04/changes-to-stack-exchange/">StackOverflow blog</a> we just have 60 days left to graduates to full citizenship. and we must reach some point to fulfil that.</p>

<ol>
<li>number of new questions per day</li>
<li>number of people who vote</li>
<li>number of registered users</li>
<li>percentage of answered questions</li>
</ol>

<p>I suggest for solving number 1 and 2 that top user act more activity, I see top 35 user profile and see just 7 of them vote more than 70 time and just 1 person get "Civic Duty " badges.<br>
and about 7 or more person asked 5 or above questions, we need more question per day.</p>

<p>and for attracting more new user I think "<a href="https://apple.meta.stackexchange.com/questions/90/list-of-x-poll-style-questions-what-to-do">poll-style-questions</a>" will help us. they have more view than other questions.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-161" class = "comment">
				<p>Really disagree with the poll-style questions bit. With luck the Gadgets.SE questions will help draw more users here.</p>
			</div>
			<div id = "comment-165" class = "comment">
				<p>Joel Spolsky, though, seems to be totally for using (good) poll questions to promote SE sites. Consider this tweet (which has already brought thousands of visitors here): http://twitter.com/spolsky/status/24493360648</p>
			</div>
			<div id = "comment-168" class = "comment">
				<p>@Jonik: Should clarify; I disagree with making new poll questions. Obviously my opinion is clear - I don't like them but they do work but they really need to be kept clean like the ones we have are. I closed some from gadgets as they were examples of badly done poll questions.</p>
			</div>
			<div id = "comment-184" class = "comment">
				<p>@Chealion: I totally agree that we can be *picky* about any new polls, but I think (as you might guess by now :) that a strict "no new polls" policy is harmful. (Some interesting stuff will *probably* happen in the future too (e.g. completely new Apple products) and such rule would restrict too much.)</p>
			</div>
			<div id = "comment-187" class = "comment">
				<p>@Jonik I think that's what will happen. :-)</p>
			</div>
			<br><div id = "ans-106"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>One problem, in a way, in getting more people here, is that there already are popular Apple related sites and forums which have strong communities around them and (sometimes) are (tolerably) useful for finding information. Examples:</p>

<ul>
<li><a href="http://forums.macrumors.com/" rel="nofollow noreferrer">Forums at Mac Rumors</a> &mdash; <strong>hugely</strong> popular</li>
<li>Example of a locally very popular forum: <a href="http://www.hopeinenomena.net/" rel="nofollow noreferrer">Hopeinen Omena</a> (Finland)</li>
</ul>

<p>Both are powered by traditional forum software which <a href="https://twitter.com/el_joni/status/24496056611" rel="nofollow noreferrer">totally sucks</a> in <a href="https://twitter.com/codinghorror/status/24498175151" rel="nofollow noreferrer">surfacing useful information</a> but is good for creating communities.</p>

<p>For Q&amp;A, the Stack Exchange platform is clearly superior. But currently the largest, most knowledgeable communities are still elsewhere. (That's why I had to wade through <a href="http://hopeinenomena.net/viewtopic.php?f=71&amp;t=147117" rel="nofollow noreferrer">all those pages about iPhone 4 ordering</a> on Hopeinen Omena; I wouldn't have got that information from here.)</p>

<p>So, <strong>we need to make users of those sites understand there's something better out there for Q&amp;A</strong>. I'm not saying I know how to do that, but this is something we should consider. :-) Guerrilla marketing at such forums? (Edit: Kyle's <a href="https://apple.meta.stackexchange.com/questions/89/promoting-apple-se/93#93">non-spammy approach</a> of posting relevant links is even better!) Buying banner ads at Mac Rumors (if they allow it)? Other ideas?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-179" class = "comment">
				<p>I think it's a great idea, we can find some unanswered question there and link them to asked same Question in Apple.SE or something like this.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>