<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Proper display of menu paths
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Proper display of menu paths</h2>
<p>For editing and answering, I want to know: what's the best way to notate a menu item's path? (This also goes for things such as preferences.)</p>

<p>I have seen the following:</p>

<ul>
<li>Menu > Item</li>
<li>Menu-> Item</li>
<li>Menu -> Item</li>
<li>Menu   Item</li>
<li><strong>Menu   Item</strong></li>
<li><code>Menu &gt; Item</code></li>
<li>Menu   Item</li>
<li><strong>Menu</strong>   <strong>Item</strong></li>
</ul>

<p> and many more. We should really have some standard.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I think we should stay away from the options involving special characters. They're harder to type and some older computers/browsers may have trouble displaying them. A standard involving special characters would be hard to enforce simply because it's more work to type so people are less likely to use it.</p>

<p>I don't think that we should bold all menu paths. I like preserving bold for where emphasis is required. Using it in all menu paths would 'dilute' its meaning in the rest of the document, and it would make it impossible to emphasize a specific path.<br>
Similarly, I think that the <code>&lt;code&gt;</code> formatting should be reserved for code or specific parameters.</p>

<p>That leaves the <strong>first, second, and third options</strong>. I would argue that they are all fine: they contain the same information and are equally clear and readable. I prefer the second and third options, but that's just a personal preference.</p>

<p>That said, I think that much of this comes down to personal choice. Like the phrasing of a post, the original poster's 'voice' and preferences should be preserved whenever possible.<br>
I would say that menu path formatting that does not match the standard is not an acceptable reason for an edit. Even if you're editing a post already, I don't think that changing the menu path formatting should be done except in extreme cases (all menu items in <code>code</code> formatting, or some problematic option that we haven't even considered).</p>

<h3>Short version:</h3>

<p>I propose considering any of the first three options standard. But, don't edit other people's stuff to match the standard unless you've got a good reason.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Apple's <a href="http://developer.apple.com/library/mac/documentation/userexperience/conceptual/APStyleGuide/APSG_2009.pdf" rel="nofollow">Style Guide</a> (page 116) uses this method:</p>

<blockquote>
  <p><em>Pull-down menus:</em>  Note hyphenation. A pull-down menu is a menu in the
  menu bar.  When you give instructions for choosing an item from a
  pull-down menu (a menu in  the menu bar), use the style shown here. </p>
  
  <ul>
  <li>Choose [menu] > [item] > [submenu item]</li>
  <li>Choose Edit > Find > Find Next</li>
  <li>Choose File > Save As.</li>
  </ul>
</blockquote>

<p>I don't think it should be a rule, but such a guideline would be helpful for new users and would increase the consistency/legibility  of the site. There's a good reason to have style guides.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I would personally say that using:</p>

<blockquote>
  <p>Menu > Submenu</p>
</blockquote>

<p>would be best for simplicity and easy of use.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>