<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Proposal to merge MS Office tags to better surface experts in that field
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1317" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::78</h3>
				<h2>Proposal to merge MS Office tags to better surface experts in that field</h2>
<p>I was collecting some stats on tags and wanted to share them with the group. There are about 230 questions currently (out of 16,000 total questions) that relate to Microsoft Office.</p>

<p>The MS-Office tag might make a good landing point for all questions relating to that software suite.</p>

<p><img src="https://i.stack.imgur.com/VKUFg.png" alt="enter image description here"></p>

<p>If we merged these small topics and left synonyms so that someone that wanted to ask a <a href="https://apple.stackexchange.com/questions/tagged/ms-word" class="post-tag" title="show questions tagged &#39;ms-word&#39;" rel="tag">ms-word</a> (or <a href="https://apple.stackexchange.com/questions/tagged/word" class="post-tag" title="show questions tagged &#39;word&#39;" rel="tag">word</a>) question, it wouldn't start again, but get lumped under Office. The benefit of having more questions using less tags is that <a href="https://apple.meta.stackexchange.com/questions/1048/how-are-tag-badges-chosen">the people answering a category of questions get recognized more rapidly</a>.</p>

<p><a href="https://apple.stackexchange.com/tags/ms-office/topusers">https://apple.stackexchange.com/tags/ms-office/topusers</a></p>

<p>The downside is of course that larger tags lack specificity.</p>

<p>The only downside I can see is that we would lose the distinction of each product and people that are interested in following just Excel questions would not be able to sift out the rest of the questions easily. Yes, they could use an RSS feed for the search term - and the question will undoubtedly have the word Excel (or Powerpoint, Entourage, etc...) embedded in them so searchers will always find just the question they want regardless of how it's tagged.</p>

<p>Here are the current followers of these tags:</p>

<p><img src="https://i.stack.imgur.com/54ysC.png" alt="enter image description here"></p>

<p>At present, it seems that the downside is small and the upside is larger, but I don't want to initiate a merging if everyone would rather wait this out and sees a benefit to the site of keeping these tags distinct.</p>

<p>So, if you have a Yes or No opinion, please start that answer and discussion below:</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1317">Load Comments</button></br>
			<div id = "commentsection-1317" class = 'collapse'>
			<div id = "comment-2506" class = "comment">
				<p>For now - let's keep this specific to the tags at hand even though this idea will come up from time to time as a general case. Whether to tag one line of iPods or iPads as a group or as generations is a recent discussion point. Also, iWork and other software packages might follow this pattern where it might make sense to lump things similarly.</p>
			</div>
			<div id = "comment-3850" class = "comment">
				<p>When you say "surface experts", are you referring to the odd Microsoft device called the Surface or to something else?</p>
			</div>
			<div id = "comment-3856" class = "comment">
				<p>@DanielLawson I wrote that almost a month before it was announced. Do you think it leaked and I knew or I just got lucky?</p>
			</div>
			</div>
				<textarea id = "speech-1317" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1317">
					<img id="start_img-1317" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1320"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>In theory, I could see people who are experts in Word/Excel/PowerPoint having significant non-overlap with people who are experts in Outlook/Entourage.</p>

<p>In practice, given the small number of followers for any of these tags, I suspect merging the tags as synonyms for a common ms-office tag should offer appropriate granularity for the users we do have.</p>

<p>I would reiterate my belief (if I say it often enough, does that make it true?) that tags are primarily intended as neither informational labels nor search keywords, but specifically as filter terms. If there are this few posts conning the tags and they are followed by this few readers, we don't need this level of granularity.</p>

<h2>Merge.</h2>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1320">Load Comments</button></br>
			<div id = "commentsection-1320" class = 'collapse'>
			<div id = "comment-2510" class = "comment">
				<p>OK - this was my initial strong preference, but then I second guessed things a bit. I'll check with the other moderators and get cleaning if there's no need to keep things.</p>
			</div>
			<div id = "comment-2512" class = "comment">
				<p>I've checked around and the benefit seems to outweigh the risk of collapsing these tags. I'll be on the hook to manually undo this if we discover a bad effect. For now, the tags comprising the office components synonimize to [tag:ms-office] We've got 184 questions in that category at present. http://cl.ly/GqnO</p>
			</div>
			<div id = "comment-3846" class = "comment">
				<p>I like how this worked up to now with the tags merged. FYI I just made a one-note tag and we might need to revisit this based on how Microsoft rolls out iOS and Mac versions of their products in the coming months. (assuming the rumor mills are reporting smoke from a fire and not smoke from a screen)</p>
			</div>
			<div id = "comment-4282" class = "comment">
				<p>Now that these products exist on iOS and OS X, the waters have become more murky. I'm not at all convinced that splitting them up makes sense - especially if we can have tags for things that aren't bundled with the Office in the vast majority of the use cases. (OneDrive and OneNote come to mind).</p>
			</div>
			</div>
				<textarea id = "speech-1320" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1320">
					<img id="start_img-1320" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>