<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Proposal to change the 'Ask Different' site description on the Stack Exchange list of sites
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3022" class = "post">
			<h2>Question</h2>
			<h3>Score ::15</h3>
			<h3>Views ::139</h3>
				<h2>Proposal to change the 'Ask Different' site description on the Stack Exchange list of sites</h2>
<p>Users who have joined Ask Different will see the <em>Answers for your Apple questions</em> description at top left of all Ask Different pages (see below):</p>

<p><a href="https://i.stack.imgur.com/flXC6.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/flXC6.png" alt="enter image description here"></a></p>

<p>However, new users looking through the list of all Stack Exchange sites see the following description instead:</p>

<p><a href="https://i.stack.imgur.com/uEroT.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uEroT.png" alt="enter image description here"></a></p>

<p>As you can see, the description they see is: <em>Q&amp;A for power users of Apple hardware and software</em>.</p>

<p>I propose that we change the description used for Ask Different so that potential new users are not scared off from joining/asking questions simply because they think the site is for 'power users'.</p>

<p>More specifically, I propose either of the following:</p>

<p><s> <strong>Proposal 1</strong> - Replace the description on the list of sites so that it matches the description used on the actual site (i.e. we use <em>Answers for your Apple questions</em> as the description in both locations).</s></p>

<ul>
<li><p><strong>Proposal 2</strong> - Edit the description on the list of sites so that the word 'power' is removed and it now reads <em>Q&amp;A for users of Apple hardware and software</em>.</p></li>
<li><p><strong>Proposal 3</strong> - Edit the description on the list of sites so that it now reads <em>Q&amp;A for enthusiasts and power users of Apple hardware and software</em>.</p></li>
</ul>

<p><strong>UPDATE</strong></p>

<ul>
<li><p>I have removed Proposal 1 based on <a href="https://apple.meta.stackexchange.com/a/3024/168832">grgarside's answer</a>.</p></li>
<li><p>I have added Proposal 3.</p></li>
<li><p>Below is some context on why I started thinking about this.</p></li>
</ul>

<p>Yesterday I answered this <a href="https://apple.stackexchange.com/q/283887/168832">question</a>. It's since been edited, but originally it ended with:</p>

<blockquote>
  <p>I m sorry to ask such a newbie question, so if this isn t the site (your description says  Q&amp;A for power users of Apple hardware and software  and I am no power user), then a link to a resource for Mac newbies would be appreciated.</p>
</blockquote>

<p>My reading of this is that the OP was hesitant to ask their question here. And, if they felt this way based on our description, then how many others might there be?</p>

<p>Finally, when a new user first goes to sign up, the description appears immediately above the <kbd>sign up</kbd> button (see below) and this may act as a final hurdle.</p>

<p><a href="https://i.stack.imgur.com/WYSNI.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/WYSNI.png" alt="enter image description here"></a></p>

			</div><h3>Comments</h3>
			<div id = "comment-6552" class = "comment">
				<p>How do we vote on the proposals?</p>
			</div>
			<div id = "comment-6553" class = "comment">
				<p>Monomeeth, the "standard" way to support voting is to post an answer for each option/proposal</p>
			</div>
			<div id = "comment-6554" class = "comment">
				<p>Thanks @fsb for raising that. Patrix has clarified that for me and I've since edited my question based on grgarside's feedback. I've posted below two answers, one for each remaining proposal.</p>
			</div>
			<div id = "comment-6601" class = "comment">
				<p>How do we discuss/debate the proposals?</p>
			</div>
			<div id = "comment-6604" class = "comment">
				<p>@EJMak If voting and/or commenting here isn't enough, we can always use [chat](http://chat.stackexchange.com/rooms/38/ask-different-chat). A couple of the moderators as well as grgarside, myself and others check it regularly. You can also ping one or more of us in your chat message (unlike comments, in chat you can ping multiple users). By ping I mean use `@Monomeeth`, `@patrix`, `@bmike`, `@grgarside`, etc.</p>
			</div>
			<div id = "comment-6608" class = "comment">
				<p>Thanks to all who voted, I'm trying to actually getting the description changed to the proposal with the highest number of votes currently.</p>
			</div>
			<div id = "comment-6609" class = "comment">
				<p>Thanks @patrix that's great! :)</p>
			</div>
			<div id = "comment-6612" class = "comment">
				<p>I can update the text audience descriptions, but I won't be able to adjust [the header](https://cdn.sstatic.net/Sites/apple/img/sprites.svg?v=dfd227049735) without calling in a designer. I updated [Area 51](http://area51.stackexchange.com/proposals/151/apple) already, but I wanted to check with you all on the banner. Is it ok if the header stays the same?</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-3023"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h2>Proposal 1 -- Answers for your Apple questions</h2>

<p>Replace the description on the list of sites so that it matches the description used on the actual site.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6555" class = "comment">
				<p>Thanks patrix for clarifying how voting on proposals should work. I've since edited my question based on grgarside's feedback and have posted below two answers, one for each remaining proposal.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-3024"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><h2>Proposal 0   It remains as it is.</h2>

<ol>
<li><p>Proposal 1 isn't suitable: the list of site descriptions are always of the form  Q&amp;A for [scope] .</p></li>
<li><p>Proposal 2 might be ok, but I don't think it's necessary. Many site descriptions use  power  for the reasons discussed in:</p>

<ul>
<li><a href="https://webmasters.meta.stackexchange.com/questions/1070/why-pro-in-pro-webmasters">Why  Pro  in  Pro Webmasters </a>.</li>
</ul></li>
</ol>

<p>As for me, (the newly added) <a href="https://apple.meta.stackexchange.com/a/3026/37797">proposal 3</a> sounds good.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6556" class = "comment">
				<p>Thanks for clarifying that. I've since edited my question based on your feedback and have posted two answers below, one for each remaining proposal.</p>
			</div>
			<div id = "comment-6557" class = "comment">
				<p>Oh, I forgot to mention, I do see your point that this may not be necessary, but decided to include some context to my question as to why it could be necessary. I'm happy to go with whatever the community census on this is.</p>
			</div>
			<div id = "comment-6558" class = "comment">
				<p>@Monomeeth Sure, I like proposal 3 and added the title in case people want to vote for it to remain the same. I'll be voting for proposal 3, and I'll add that to this answer.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-3025"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><h2>Proposal 2 -- Q&amp;A for users of Apple hardware and software</h2>

<p>Edit the description on the list of sites so that the word 'power' is removed and it now reads Q&amp;A for users of Apple hardware and software.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6597" class = "comment">
				<p>This one is better purely because it has fewer words.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-3026"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::16</h3>
				<p><h2>Proposal 3 -- Q&amp;A for enthusiasts and power users of Apple hardware and software</h2>

<p>Edit the description on the list of sites so that it now reads Q&amp;A for enthusiasts and power users of Apple hardware and software.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>