<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Proposal to merge MS Office tags to better surface experts in that field
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Proposal to merge MS Office tags to better surface experts in that field</h2>
<p>I was collecting some stats on tags and wanted to share them with the group. There are about 230 questions currently (out of 16,000 total questions) that relate to Microsoft Office.</p>

<p>The MS-Office tag might make a good landing point for all questions relating to that software suite.</p>

<p><img src="https://i.stack.imgur.com/VKUFg.png" alt="enter image description here"></p>

<p>If we merged these small topics and left synonyms so that someone that wanted to ask a <a href="https://apple.stackexchange.com/questions/tagged/ms-word" class="post-tag" title="show questions tagged &#39;ms-word&#39;" rel="tag">ms-word</a> (or <a href="https://apple.stackexchange.com/questions/tagged/word" class="post-tag" title="show questions tagged &#39;word&#39;" rel="tag">word</a>) question, it wouldn't start again, but get lumped under Office. The benefit of having more questions using less tags is that <a href="https://apple.meta.stackexchange.com/questions/1048/how-are-tag-badges-chosen">the people answering a category of questions get recognized more rapidly</a>.</p>

<p><a href="https://apple.stackexchange.com/tags/ms-office/topusers">https://apple.stackexchange.com/tags/ms-office/topusers</a></p>

<p>The downside is of course that larger tags lack specificity.</p>

<p>The only downside I can see is that we would lose the distinction of each product and people that are interested in following just Excel questions would not be able to sift out the rest of the questions easily. Yes, they could use an RSS feed for the search term - and the question will undoubtedly have the word Excel (or Powerpoint, Entourage, etc...) embedded in them so searchers will always find just the question they want regardless of how it's tagged.</p>

<p>Here are the current followers of these tags:</p>

<p><img src="https://i.stack.imgur.com/54ysC.png" alt="enter image description here"></p>

<p>At present, it seems that the downside is small and the upside is larger, but I don't want to initiate a merging if everyone would rather wait this out and sees a benefit to the site of keeping these tags distinct.</p>

<p>So, if you have a Yes or No opinion, please start that answer and discussion below:</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>In theory, I could see people who are experts in Word/Excel/PowerPoint having significant non-overlap with people who are experts in Outlook/Entourage.</p>

<p>In practice, given the small number of followers for any of these tags, I suspect merging the tags as synonyms for a common ms-office tag should offer appropriate granularity for the users we do have.</p>

<p>I would reiterate my belief (if I say it often enough, does that make it true?) that tags are primarily intended as neither informational labels nor search keywords, but specifically as filter terms. If there are this few posts conning the tags and they are followed by this few readers, we don't need this level of granularity.</p>

<h2>Merge.</h2>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>