<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Proper display of menu paths
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1189" class = "post">
			<h2>Question</h2>
			<div id="vote-1189" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
				<h2>Proper display of menu paths</h2>
<p>For editing and answering, I want to know: what's the best way to notate a menu item's path? (This also goes for things such as preferences.)</p>

<p>I have seen the following:</p>

<ul>
<li>Menu > Item</li>
<li>Menu-> Item</li>
<li>Menu -> Item</li>
<li>Menu   Item</li>
<li><strong>Menu   Item</strong></li>
<li><code>Menu &gt; Item</code></li>
<li>Menu   Item</li>
<li><strong>Menu</strong>   <strong>Item</strong></li>
</ul>

<p> and many more. We should really have some standard.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1189" class = 'collapse'>
			</div>
				<textarea id = "speech-1189" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1189">
					<img id="start_img-1189" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1190"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1190" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think we should stay away from the options involving special characters. They're harder to type and some older computers/browsers may have trouble displaying them. A standard involving special characters would be hard to enforce simply because it's more work to type so people are less likely to use it.</p>

<p>I don't think that we should bold all menu paths. I like preserving bold for where emphasis is required. Using it in all menu paths would 'dilute' its meaning in the rest of the document, and it would make it impossible to emphasize a specific path.<br>
Similarly, I think that the <code>&lt;code&gt;</code> formatting should be reserved for code or specific parameters.</p>

<p>That leaves the <strong>first, second, and third options</strong>. I would argue that they are all fine: they contain the same information and are equally clear and readable. I prefer the second and third options, but that's just a personal preference.</p>

<p>That said, I think that much of this comes down to personal choice. Like the phrasing of a post, the original poster's 'voice' and preferences should be preserved whenever possible.<br>
I would say that menu path formatting that does not match the standard is not an acceptable reason for an edit. Even if you're editing a post already, I don't think that changing the menu path formatting should be done except in extreme cases (all menu items in <code>code</code> formatting, or some problematic option that we haven't even considered).</p>

<h3>Short version:</h3>

<p>I propose considering any of the first three options standard. But, don't edit other people's stuff to match the standard unless you've got a good reason.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1190">Load Comments</button></br>
			<div id = "commentsection-1190" class = 'collapse'>
			<div id = "comment-2170" class = "comment">
				<p>I can see absolutely no reason to enforce a standard on this. So long as the author makes his intentions clear, all is good. Personally, I like to put menu choices in Bold, and generally separate them using > (unless I can guide you to the menu using words).</p>
			</div>
			<div id = "comment-2172" class = "comment">
				<p>Agreed almost 100%, other than use of the <code> highlighting `is very useful` for differentiating what is prose in an answer, and what is meant to represent on screen text.  Given that this is not a programming Q&A, I have co-opted the code emphasis to mean "screen text" of any sort.  A such `File > Print` is cool with me.</p>
			</div>
			</div>
				<textarea id = "speech-1190" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1190">
					<img id="start_img-1190" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1289"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1289" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Apple's <a href="http://developer.apple.com/library/mac/documentation/userexperience/conceptual/APStyleGuide/APSG_2009.pdf" rel="nofollow">Style Guide</a> (page 116) uses this method:</p>

<blockquote>
  <p><em>Pull-down menus:</em>  Note hyphenation. A pull-down menu is a menu in the
  menu bar.  When you give instructions for choosing an item from a
  pull-down menu (a menu in  the menu bar), use the style shown here. </p>
  
  <ul>
  <li>Choose [menu] > [item] > [submenu item]</li>
  <li>Choose Edit > Find > Find Next</li>
  <li>Choose File > Save As.</li>
  </ul>
</blockquote>

<p>I don't think it should be a rule, but such a guideline would be helpful for new users and would increase the consistency/legibility  of the site. There's a good reason to have style guides.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1289">Load Comments</button></br>
			<div id = "commentsection-1289" class = 'collapse'>
			<div id = "comment-2437" class = "comment">
				<p>To be honest, I dislike using ">" - after all it's a binary operator used for logical operations. " " Is usually used when quoting. Here we are talking about navigating in menus. That's why using arrows makes the most sense to me.</p>
			</div>
			<div id = "comment-2441" class = "comment">
				<p>It's only said binary operator for people who have terminal-fu skills, remember.  For everyone else (the vast majority) it's handily descriptive of the actions required to find an option in a menu bar which every uses.</p>
			</div>
			</div>
				<textarea id = "speech-1289" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1289">
					<img id="start_img-1289" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1290"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1290" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would personally say that using:</p>

<blockquote>
  <p>Menu > Submenu</p>
</blockquote>

<p>would be best for simplicity and easy of use.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1290" class = 'collapse'>
			</div>
				<textarea id = "speech-1290" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1290">
					<img id="start_img-1290" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>