<html>
	<head>
		<title id = 'pagetitle'>Proposal to change the 'Ask Different' site description on the Stack Exchange list of sites
		</title>
	<head>
	<body id = 'pagebody'><p>Users who have joined Ask Different will see the <em>Answers for your Apple questions</em> description at top left of all Ask Different pages (see below):</p>

<p><a href="https://i.stack.imgur.com/flXC6.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/flXC6.png" alt="enter image description here"></a></p>

<p>However, new users looking through the list of all Stack Exchange sites see the following description instead:</p>

<p><a href="https://i.stack.imgur.com/uEroT.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uEroT.png" alt="enter image description here"></a></p>

<p>As you can see, the description they see is: <em>Q&amp;A for power users of Apple hardware and software</em>.</p>

<p>I propose that we change the description used for Ask Different so that potential new users are not scared off from joining/asking questions simply because they think the site is for 'power users'.</p>

<p>More specifically, I propose either of the following:</p>

<p><s> <strong>Proposal 1</strong> - Replace the description on the list of sites so that it matches the description used on the actual site (i.e. we use <em>Answers for your Apple questions</em> as the description in both locations).</s></p>

<ul>
<li><p><strong>Proposal 2</strong> - Edit the description on the list of sites so that the word 'power' is removed and it now reads <em>Q&amp;A for users of Apple hardware and software</em>.</p></li>
<li><p><strong>Proposal 3</strong> - Edit the description on the list of sites so that it now reads <em>Q&amp;A for enthusiasts and power users of Apple hardware and software</em>.</p></li>
</ul>

<p><strong>UPDATE</strong></p>

<ul>
<li><p>I have removed Proposal 1 based on <a href="https://apple.meta.stackexchange.com/a/3024/168832">grgarside's answer</a>.</p></li>
<li><p>I have added Proposal 3.</p></li>
<li><p>Below is some context on why I started thinking about this.</p></li>
</ul>

<p>Yesterday I answered this <a href="https://apple.stackexchange.com/q/283887/168832">question</a>. It's since been edited, but originally it ended with:</p>

<blockquote>
  <p>I m sorry to ask such a newbie question, so if this isn t the site (your description says  Q&amp;A for power users of Apple hardware and software  and I am no power user), then a link to a resource for Mac newbies would be appreciated.</p>
</blockquote>

<p>My reading of this is that the OP was hesitant to ask their question here. And, if they felt this way based on our description, then how many others might there be?</p>

<p>Finally, when a new user first goes to sign up, the description appears immediately above the <kbd>sign up</kbd> button (see below) and this may act as a final hurdle.</p>

<p><a href="https://i.stack.imgur.com/WYSNI.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/WYSNI.png" alt="enter image description here"></a></p>


<h1>ANSWERS</h1>
		<h2>Proposal 1 -- Answers for your Apple questions</h2>

<p>Replace the description on the list of sites so that it matches the description used on the actual site.</p>


<h2>Proposal 0   It remains as it is.</h2>

<ol>
<li><p>Proposal 1 isn't suitable: the list of site descriptions are always of the form  Q&amp;A for [scope] .</p></li>
<li><p>Proposal 2 might be ok, but I don't think it's necessary. Many site descriptions use  power  for the reasons discussed in:</p>

<ul>
<li><a href="https://webmasters.meta.stackexchange.com/questions/1070/why-pro-in-pro-webmasters">Why  Pro  in  Pro Webmasters </a>.</li>
</ul></li>
</ol>

<p>As for me, (the newly added) <a href="https://apple.meta.stackexchange.com/a/3026/37797">proposal 3</a> sounds good.</p>


<h2>Proposal 2 -- Q&amp;A for users of Apple hardware and software</h2>

<p>Edit the description on the list of sites so that the word 'power' is removed and it now reads Q&amp;A for users of Apple hardware and software.</p>


<h2>Proposal 3 -- Q&amp;A for enthusiasts and power users of Apple hardware and software</h2>

<p>Edit the description on the list of sites so that it now reads Q&amp;A for enthusiasts and power users of Apple hardware and software.</p>


	</body>
</html>