<html>
	<head>
		<title id = 'pagetitle'>Put a newline after the 'Answer Your Question' button.
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Related: <a href="https://apple.meta.stackexchange.com/questions/371/add-another-answer-button-bug">&quot;Add Another Answer&quot; button Bug</a></strong></p>
</blockquote>

<p>This doesn't look like Apple!</p>

<p><img src="https://i.stack.imgur.com/UWL0L.png" alt="screenshot"></p>

<p>The 'Answer Your Question' button overlaps the 'Notify' label and checkbox. To use this feature (I really use it) I need to turn CSS off. This sucks. Shouldn't a newline be added after this button, like on other Stack Exchange sites?</p>


<h1>ANSWERS</h1>
		<p>I pushed a fix to dev, it will be in the next deployment.</p>


	</body>
</html>