<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Questions asking "Has anyone else experienced this?"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2280" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::45</h3>
				<h2>Questions asking "Has anyone else experienced this?"</h2>
<p>I'm seeing a fair number of questions that describe a problem then ask whether anyone else has experienced the problem. This invites a host of "yes, I've had that problem" (or worse, but less common, "no, that hasn't happened to me") answers. Ordinarily "I've got that problem too" gets deleted as a non-answer, but in this case, it actually answers the OP's question.</p>

<p>The problem is,the question as asked literally invites all of humanity to chime in with yes, me too or no, not me. This is not a question that provokes helpful answers.</p>

<p>What can we do to discourage the question "has anyone else experienced this problem" in favor of something that provokes better responses?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2281"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>It may be enough to just have a look at the Help Center entry about <a href="https://apple.stackexchange.com/help/dont-ask">What types of questions should I avoid asking?</a>:</p>

<blockquote>
  <p>[...] avoid asking subjective questions where ...</p>
  
  <ul>
  <li>every answer is equally valid:  What s your favorite ______? </li>
  <li>your answer is provided along with the question, and you expect more answers:  I use ______ for ______, what do you use? </li>
  <li><strong>there is no actual problem to be solved:  I m curious if other people feel like I do. </strong></li>
  <li>you are asking an open-ended, hypothetical question:  What if ______ happened? </li>
  <li>your question is just a rant in disguise:  ______ sucks, am I right? </li>
  </ul>
</blockquote>

<p>So I would invite everybody to either edit these kind of questions into something which can be answered in a way which solves the problem or at least flag those questions. And (because the site is supposed to be self-moderating) I want to encourage everybody to give the "edit" option a try :-)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2282"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>We have one site-specific close reason left which we could actually use to close questions which do not ask for an actual solution. Kind of like the "not a real question" reason we had in the past, but a bit more specific.</p>

<p>PS: Had to use two different answers to give people a chance to upvote answers based on preferences</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>