<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Question closed as "too broad" followed by edits only removing pieces of the original question
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1862" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::88</h3>
				<h2>Question closed as "too broad" followed by edits only removing pieces of the original question</h2>
<p>I'm stuck with <a href="https://apple.stackexchange.com/questions/105391/what-options-exist-to-reliably-have-three-partitions-and-boot-camp-on-apple-hard">this question</a>:</p>

<ul>
<li>first, it gets closed as "too broad"</li>
<li>then, I try to address <a href="https://apple.stackexchange.com/questions/105391/what-options-exist-to-reliably-have-three-partitions-and-boot-camp-on-apple-hard#comment124040_105391">the suggestion</a> on how it can be improved</li>
<li>finally, that edits are effectively reverted--and moreover, last 3 bullets of original criterias are removed</li>
</ul>

<p>I wonder how I should act in the first place; why the post-close edits were reverted if asked for, and why last three bullets were removed from my question.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1862">Record</button>
				<button class="record-stop" id="stop-1862">Stop</button>
				<p id="recording-1862"></p>

<h1>Answers</h1>
			<br><div id = "ans-1863"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>I would have rather cut more bullet points, but as you can see, I <a href="https://apple.stackexchange.com/posts/105391/revisions">took quite a cut of text</a> from your question to reduce the scope and make it less broad:</p>

<p><img src="https://i.stack.imgur.com/Mz9Ok.png" alt="enter image description here"></p>

<p>From our <a href="https://apple.stackexchange.com/help/closed-questions">help page on closed questions</a> you can see why I removed several bullet points to eliminate the "too broad" problem that I saw with the question.</p>

<p>Specifically, how to transfer an entire mac to a new system is quite a broad question in and of itself. Here you complicate things by having no clear picture of what you actually need. I saw your question as asking best practice to set things up - based on how that is answered, you might be able to ask how to back up each proposed "answer" as a follow on question.</p>

<p>I still think the question is quite broad since it seems to be three questions:</p>

<ol>
<li><p>What partition format is readable by OS A and OS B where you specify exactly what version of Mac and Windows you run.</p></li>
<li><p>How do you see upgrading / reinstalling windows as affecting Mac OS X or risk losing data? (and wouldn't having a Time Machine backup remedy things should windows hose your Mac side of things?)</p></li>
<li><p>Why complicate things to have people guess whether OS X upgrade will or will not affect things on Windows side. That alone would be a good single question.</p></li>
</ol>

<p>Basically, the more narrow of a problem you can phrase, the more likely it will be useful to a wide variety of people. Having small, thought through, clear questions allows you and others to chain together facts and answers to make a nice summary post / question should you find some conflict between the individual pieces. As it stands, I would tend to close a question that was asked as yours is now, but I wanted to reopen it to see how it plays out and whether we can get some answers that help you since you did show effort to edit it as we asked.</p>

<p>In essence, the "reversion" was that we asked you to narrow the question and to some extent you broadened it - so rather than ask you to go back and do your work over, I attempted to show what I saw as an improvement. Let's see what other moderators think - if they could edit or perhaps offer constructive criticism to get a) you to understand why the edits happened b) a question that's likely to get some answers.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3589" class = "comment">
				<p>The main issue os that some of the points are just incorrect e.g. " ability to upgrade to newer versions of OS X without risk of losing Windows or Data partition" and some ike "ideally, data shared for read & write between Windows and OS X " should be a separate question (the answer is there is no non 3rd party solution)</p>
			</div>
			<div id = "comment-3591" class = "comment">
				<p>@bmike How is it better for me to respond/ask for clarification here if it couldn't fit into a single Comment?</p>
			</div>
			<div id = "comment-3592" class = "comment">
				<p>@yurkennis First all site moderators get to see the discussion. Second, all site members that are active in moderation get to see it. Third, we can have longer discussions and perhaps come to a better solution for you.</p>
			</div>
			<div id = "comment-3593" class = "comment">
				<p>@bmike It would be more correct to consider diff from your version to the my version just before the close (#5 in the [revision list](http://apple.stackexchange.com/posts/105391/revisions)). Much less changes compared to it.</p>
			</div>
			<div id = "comment-3594" class = "comment">
				<p>@yurkennis Please post the diff you consider most relevant as an answer to your question here. That way everyone can see what you are saying. IMO - your rev 1 was too broad and all you did was add content in each of your 5 revisions leading up to the closure, but since the edit history is public, please show if we made some mistake.</p>
			</div>
			<div id = "comment-3596" class = "comment">
				<p>@bmike [This diff](https://en.wikivoyage.org/w/index.php?title=User%3ADenisYurkin%2FAskDifferent&diff=2454078&oldid=2454077) is much more relevant.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1863">Record</button>
				<button class="record-stop" id="stop-1863">Stop</button>
				<p id="recording-1863"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>