<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Question Deletion
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-194" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::104</h3>
				<h2>Question Deletion</h2>
<p>I'm not sure if it contributes to our site stats, but one possible way to increase our answer / question ratio would be to delete some of the closed questions that have no useful answers.  Even if it doesn't help the ratio it would be nice for overall site cohesiveness.  </p>

<p>I've cast some delete votes and I hope that my fellow mod-tool priviligees will follow suit :)</p>

<p>He's looking at you:</p>

<p><img src="https://i.stack.imgur.com/z1Jw6.jpg" alt="alt text"></p>

<h2>on edit</h2>

<h3>from the FAQ:</h3>

<blockquote>
  <p>When should I delete questions?</p>
  
  <p>Closed questions that are of no
  lasting value whatsoever should be
  flagged and deleted.</p>
  
  <p>(Before voting to delete, please check
  that there are no good answers -- if
  so, then the question should be
  flagged for moderator attention as a
  potential merge candidate. We don't
  like to lose great answers!)</p>
</blockquote>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-194">Load Comments</button></br>
			<div id = "commentsection-194" class = 'collapse'>
			<div id = "comment-319" class = "comment">
				<p>Do closed questions contribute to the Q:A ratio?</p>
			</div>
			<div id = "comment-320" class = "comment">
				<p>@kyle: i would love to know the answer to that, but either way it doesnt hurt to tidy up.</p>
			</div>
			<div id = "comment-324" class = "comment">
				<p>@dori: can you link to any info regarding this?</p>
			</div>
			</div>
				<textarea id = "speech-194" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-194">
					<img id="start_img-194" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-195"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Here's a search of all closed questions with no answers that are potentially dragging our ratio down:</p>

<p><a href="https://apple.stackexchange.com/search?q=answers%3A0+closed%3A1">https://apple.stackexchange.com/search?q=answers%3A0+closed%3A1</a></p>

<p>Not all of these should be deleted, of course, but it's a good place to start.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-195" class = 'collapse'>
			</div>
				<textarea id = "speech-195" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-195">
					<img id="start_img-195" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>