<html>
	<head>
		<title id = 'pagetitle'>Question about a Windows driver -- here or Super User?
		</title>
	<head>
	<body id = 'pagebody'><p>Someone recently asked the following question:</p>

<p><a href="https://apple.stackexchange.com/questions/13479/radeon-5730m-on-windows-xp">Radeon 5730m on Windows XP</a></p>

<blockquote>
  <p>Hey all,</p>
  
  <p>I've recently installed Windows XP SP3 32bit onto my iMac via Boot Camp - I'm having some trouble getting graphics drivers for the included 5730m card though - appears official support is limited to Vista upwards.</p>
  
  <p>(I'm aware the card is published as a 5670 I believe, but research shows it's a 5730m card marked up as such to demonstrate the performance)</p>
  
  <p>Does anyone know of a third party/open driver that would work on XP for this?</p>
</blockquote>

<p>The question...</p>

<ul>
<li>Is about hardware running under <em>Windows</em> (the fact that it's in an Apple computer is incidental)</li>
<li>Is not about Boot Camp -- he says Windows is already installed</li>
<li>Hasn't received a response here in 24 hours</li>
</ul>

<p>I thought it was obvious that this should be migrated to Super User simply as <code>"Does anyone know of a Windows XP driver for a Radeon 5730m video card?"</code> -- but that suggestion has sparked a bit of a debate in the question's comments.  Your thoughts?</p>


<h1>ANSWERS</h1>
		<p>This is an interesting situation. Questions about Boot Camp drivers are on topic, but in this case it seems that the user wants to use an older version of Windows that's not supported. The question isn't really <em>off topic</em> per se so I'm going to leave it, but then again it may be beneficial for the user to cross post to Super User as they have more experience with Windows drivers.</p>


	</body>
</html>