<html>
	<head>
		<title id = 'pagetitle'>Question was put on hold as opinion based
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/questions/273707/if-i-use-cmd-c-on-my-iphone-the-information-is-stored-even-after-restart-but">If I use CMD + C on my iPhone the information is stored even after restart. But not on Notebook. Why?</a></p>

<p>The question is about the situation - where the same action works differently on iPhone and MacBook.</p>

<p>If someone know the difference of OS implementation for iPhone and MacBook for this case he can also answer this question. If not - than the question cannot be answered.</p>

<p>There is nothing to do with different opinions.</p>


<h1>ANSWERS</h1>
		<p>Only Apple employees know why Apple decides to do something one way or the other, and they usually are not talking about it. That's why questions about why Aplle does this or that are off-topic (as documented in the help center). </p>

<p>Specifically for the linked question: this can be answered with "because Apple decided to implement it that way". You probably agree that this isn't really helpful. </p>


	</body>
</html>