<html>
	<head>
		<title id = 'pagetitle'>Question migrated to meta and remains on homepage
		</title>
	<head>
	<body id = 'pagebody'><p>Is this expected behavior? </p>

<p>When I click on the link on the homepage it brings me to meta, but why does the link stay behind?</p>

<p><a href="https://apple.stackexchange.com/questions/131360/similar-group-like-android-enthusiasts-for-objective-c-in-stackoverflow">https://apple.stackexchange.com/questions/131360/similar-group-like-android-enthusiasts-for-objective-c-in-stackoverflow</a></p>


<h1>ANSWERS</h1>
		<p>Migrated questions leave a trail. It's been like that as long as I can remember.</p>


<p>The link remains as the original question remains on the original site post migration.</p>

<p>The original question is not deleted when a question is migrated, unless the question is manually deleted or automatically deleted at a later date; the migration itself is not responsible for deleting the original question. If a question is migrated to another site and is refused (subsequently closed) then the original question may still be useful and deleting it doesn't help those who are unable to view deleted questions.</p>

<p>Appending <code>?noredirect=1</code> to the end of a url to a redirecting link will force it to show the original content, which in this case is here:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/131360/similar-group-like-android-enthusiasts-for-objective-c-in-stackoverflow?noredirect=1">https://apple.stackexchange.com/questions/131360/similar-group-like-android-enthusiasts-for-objective-c-in-stackoverflow?noredirect=1</a></li>
</ul>

<p><img src="https://i.stack.imgur.com/DjYhY.png" alt=""></p>


	</body>
</html>