<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Question about a Windows driver -- here or Super User?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-513" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::91</h3>
				<h2>Question about a Windows driver -- here or Super User?</h2>
<p>Someone recently asked the following question:</p>

<p><a href="https://apple.stackexchange.com/questions/13479/radeon-5730m-on-windows-xp">Radeon 5730m on Windows XP</a></p>

<blockquote>
  <p>Hey all,</p>
  
  <p>I've recently installed Windows XP SP3 32bit onto my iMac via Boot Camp - I'm having some trouble getting graphics drivers for the included 5730m card though - appears official support is limited to Vista upwards.</p>
  
  <p>(I'm aware the card is published as a 5670 I believe, but research shows it's a 5730m card marked up as such to demonstrate the performance)</p>
  
  <p>Does anyone know of a third party/open driver that would work on XP for this?</p>
</blockquote>

<p>The question...</p>

<ul>
<li>Is about hardware running under <em>Windows</em> (the fact that it's in an Apple computer is incidental)</li>
<li>Is not about Boot Camp -- he says Windows is already installed</li>
<li>Hasn't received a response here in 24 hours</li>
</ul>

<p>I thought it was obvious that this should be migrated to Super User simply as <code>"Does anyone know of a Windows XP driver for a Radeon 5730m video card?"</code> -- but that suggestion has sparked a bit of a debate in the question's comments.  Your thoughts?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-941" class = "comment">
				<p>For me this is very much a SU question. I agree the Apple-ness of this is purely incidental.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-514"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>This is an interesting situation. Questions about Boot Camp drivers are on topic, but in this case it seems that the user wants to use an older version of Windows that's not supported. The question isn't really <em>off topic</em> per se so I'm going to leave it, but then again it may be beneficial for the user to cross post to Super User as they have more experience with Windows drivers.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-938" class = "comment">
				<p>Thanks for the input, Kyle.  I didn't realize that cross-posting could be preferable to migrating a question.  And I don't want to belabor the point, but I would argue that "Boot Camp drivers", especially *after initial installation* are essentially just *Windows* drivers.  Ultimately, the user is looking for a `.sys` driver designed for Windows that they will install within Windows using the Windows Device Manager.  A Mac-oriented community would have no special insights (and in fact, would likely know less than others) about this topic.</p>
			</div>
			<div id = "comment-939" class = "comment">
				<p>@Austin True. But there's a bit of a difference between encouraging someone to ask their question somewhere else and forcibly migrating it, even if it might help them get an answer.</p>
			</div>
			<div id = "comment-940" class = "comment">
				<p>Understood -- thanks for the clarification!</p>
			</div>
			<div id = "comment-942" class = "comment">
				<p>I like Kyle's answer, but only to the point of cross-posting. Since the question straddles the line between on and off-topic, it should be given a chance to be answered here first. Then if in a week or so nothing fruitful appears, it then get migrated to SU. But I feel cross-posting shouldn't be encouraged since we can easily migrate questions to more appropriate locations; I've never seen cross-posting being acceptable on any online forum.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>