<html>
	<head>
		<title id = 'pagetitle'>Questions for Apple services not related to Apple software
		</title>
	<head>
	<body id = 'pagebody'><p>Is it on-topic asking about a login problem to an Apple web site that asks for the Apple ID, when the login is done from Internet Explorer?</p>


<h1>ANSWERS</h1>
		<p>Nope. It applies only to a small subset* of people (those using IE). Besides, that question is really better-suited for Apple's feedback forms. We can't fix their web forms!</p>

<p>*A small subset in an Apple Q&amp;A environment.</p>


	</body>
</html>