<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Question ban warning
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2501" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::31</h3>
				<h2>Question ban warning</h2>
<p>I was about to ask a question today and a message appeared at the top of the page.</p>

<p><img src="https://i.stack.imgur.com/QiXva.png" alt="enter image description here"></p>

<p>My profile only shows that I've asked two questions, and one of them had at least one downvote (I don't know why), but why does one or two downvotes constitute a warning?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2502"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I've had a look and don't see any indication you should be under any quality throttles on Ask Different. If you're asking on another site, we can migrate this there.</p>

<p>Good news is you're not banned, but there's always a chance the code has some problem to give you that error. </p>

<p>If not, spend some time reading this link and the notice to be sure you understand the basics covered in those posts.</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/234042/what-should-i-do-when-i-see-a-question-ban-warning">What should I do when I see a &quot;question ban warning&quot;?</a></li>
</ul>

<p>The message could be more of an effort to make sure you're aware of the disagreement on what a good question is - and there is some evidence of questions without documented research by you recently:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/187560/is-there-a-peak-ram-age">Is there a peak RAM age?</a></li>
</ul>

<p>Could you try to post your question again and then upload a screen picture or exact copy of the text?</p>

<p>Also, if you need help with english, be sure to comment and do extra work on linking to supporting documentation (like what RAM age would be and what specifically would peak, for example)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5687" class = "comment">
				<p>I can't figure out how to put a screenshot in a comment, but I gave the exact text in the question.</p>
			</div>
			<div id = "comment-5688" class = "comment">
				<p>@Rajiv Comments get deleted often. Edit it into the question body :-)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>