<html>
	<head>
		<title id = 'pagetitle'>Question appearing on other site not just here on the SE
		</title>
	<head>
	<body id = 'pagebody'><p>I've just googled my email address to see whether i have any weird places that have it and I discovered this <a href="http://efreedom.com/Question/C-15005/Synchronizing-iPhone-Mailapp-Inboxes" rel="nofollow noreferrer">site</a> has take the question off the Apple SE. Is this allowed to happen? The orginal question is <a href="https://apple.stackexchange.com/questions/15005/synchronizing-iphone-and-mail-app-inboxes">here</a>.</p>


<h1>ANSWERS</h1>
		<p>All content on the site is licensed under a creative commons license that allows copying, remixing, and commercial use of the content here assuming it it is properly attributed.</p>

<p>You can see the license terms linked in the footer of each page as well as on the <a href="http://stackexchange.com/legal">legal page</a> that covers the terms of service for all the Stack Exchange site in general. The subscriber content section is clearly germane to the linking you have mentioned in your question.</p>

<p>I am not a lawyer, but it appears the site you have discovered reusing (copying) the content is linking directly back to our site as requested under the license. I don't see an email address in the copied content (except for a picture showing it rendered), but the domain name is clearly part of the question and you can edit that if you prefer to not have it on the site going forward.</p>


	</body>
</html>