<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Questions for Apple services not related to Apple software
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-394" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::48</h3>
				<h2>Questions for Apple services not related to Apple software</h2>
<p>Is it on-topic asking about a login problem to an Apple web site that asks for the Apple ID, when the login is done from Internet Explorer?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-394">Record</button>
				<button class="record-stop" id="stop-394">Stop</button>
				<p id="recording-394"></p>

<h1>Answers</h1>
			<br><div id = "ans-397"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Nope. It applies only to a small subset* of people (those using IE). Besides, that question is really better-suited for Apple's feedback forms. We can't fix their web forms!</p>

<p>*A small subset in an Apple Q&amp;A environment.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-397">Record</button>
				<button class="record-stop" id="stop-397">Stop</button>
				<p id="recording-397"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>