<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Rainbow~Empty header on on AskDifferent and Meta.AskDifferent
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-3089" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::21</h3>
				<h2>Rainbow~Empty header on on AskDifferent and Meta.AskDifferent</h2>
<p>For the last couple of weeks, I've had the weird rainbow header on AskDifferent, as seen in <a href="https://apple.meta.stackexchange.com/questions/3033/why-do-i-occasionally-get-a-big-rainbow-in-the-top-banner">Why do I occasionally get a big rainbow in the top banner?</a></p>

<p>This is what it looks like:</p>

<p><a href="https://i.stack.imgur.com/uTAwQ.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uTAwQ.png" alt="Rainbow Header"></a></p>

<p>The Meta site does not show a header at all, it's just blank:</p>

<p><a href="https://i.stack.imgur.com/myKRP.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/myKRP.png" alt="Meta Site without header"></a></p>

<p>This is on Chrome 59.0.3071.115 on macOS 10.12.5. Other browsers (Safari) on the same machine work fine. Here's what I tried to fix this:</p>

<ul>
<li>Refresh the page with a hard reload/clear browser cache)</li>
<li>Logged out and in again - not easy since the log out/in links are not visible without the header</li>
<li>Tried to load the page on different networks (home/work)</li>
</ul>

<p>None of these have helped.</p>

<p>Other StackOverflow sites work fine. When loading the page, the header is visible for a second or two, then it's covered by the rainbow header or the empty header on Meta.</p>

<p>The issues is making AskDifferent pretty much unusable for me at the moment (at least from my default browser). Any idea what could be causing this?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-3090"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Found the answer after a couple of minutes...</p>

<p>This issue was caused by the following TamperMonkey script: <a href="https://github.com/shu8/Stack-Overflow-Optional-Features" rel="nofollow noreferrer">https://github.com/shu8/Stack-Overflow-Optional-Features</a></p>

<p>Disabling this in TamperMonkey made the site work again. The version in question is <em>1.8DEV</em>, which seems to be the latest version.</p>

<p>I've disabled this script now and everything is working again.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6725" class = "post">
				<p>I ve started seeing this a lot on content blockers on mobile safari as well and testing 10.13 and iOS 11 browsers. Perhaps the JavaScript is being blocked - either intentionally by Apple in the new features to prevent cookies from domains that do not get visited explicitly and/or by content blocking rules.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>