<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Re-ask unanswered questions from SuperUser, ServerFault
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-34" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::143</h3>
				<h2>Re-ask unanswered questions from SuperUser, ServerFault</h2>
<p>If I have some unanswered questions on others site, may I repost them here as this is now the main Apple site ?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-34">Load Comments</button></br>
			<div id = "commentsection-34" class = 'collapse'>
			<div id = "comment-3590" class = "comment">
				<p>Asking the same question on multiple sites is [cross-posting](http://meta.stackoverflow.com/tags/cross-posting), which is considered abusive behavior. If you're the original author, please flag your existing question for moderator attention and ask that it be migrated, or, if it's too old for migration, closed, because you want to ask it on a different site. [Similar advice on this site](http://meta.apple.stackexchange.com/a/1135)</p>
			</div>
			</div>
				<textarea id = "speech-34" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-34">
					<img id="start_img-34" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-36"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><h3>Sure</h3>

<p>Assuming they are Apple related of course you can repost them.</p>

<p>However, if you have already received an answer it's probably best to not. The only reason I mentioned that is because we shouldn't attempt to move (or duplicate) existing good questions from sites like SU. I know you're talking about unanswered questions, though I wanted to clarify for anyone else.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-36" class = 'collapse'>
			</div>
				<textarea id = "speech-36" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-36">
					<img id="start_img-36" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-37"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>It worked for me - I never got an answer for a question of mine on Super User and got an answer within a couple hours here. So for unanswered questions, definitely as there is definitely already a larger gathering of people to answer OS X related questions here than Super User.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-37" class = 'collapse'>
			</div>
				<textarea id = "speech-37" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-37">
					<img id="start_img-37" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-745"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Even though this is an old question - I wanted to chime in with a new answer after seeing this happen several times in the last 4 months.</p>

<p>The current best practice would be to decide if the question is of lasting value answered in the unique point of view of the other site compared to here.</p>

<p>Temporarily set aside the "not having an answer" and imagine the questions a year later assuming both questions now have good answers. If there really only is one question with one answer, then flag it asking for it to be migrated to the site where you feel it should best live. </p>

<p>A great question could be asked and phrased differently and then get different great answers on server fault and here (for example). If that's the case, do ask the specially crafted / targeted question here as well. </p>

<p>Don't forget you can promote that unanswered question on chat here, by using bounty there, asking on chat there how to improve it or sharing a link on twitter to your unanswered question. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-745" class = 'collapse'>
			</div>
				<textarea id = "speech-745" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-745">
					<img id="start_img-745" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>