<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Re-ask unanswered questions from SuperUser, ServerFault
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Re-ask unanswered questions from SuperUser, ServerFault</h2>
<p>If I have some unanswered questions on others site, may I repost them here as this is now the main Apple site ?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<h3>Sure</h3>

<p>Assuming they are Apple related of course you can repost them.</p>

<p>However, if you have already received an answer it's probably best to not. The only reason I mentioned that is because we shouldn't attempt to move (or duplicate) existing good questions from sites like SU. I know you're talking about unanswered questions, though I wanted to clarify for anyone else.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>It worked for me - I never got an answer for a question of mine on Super User and got an answer within a couple hours here. So for unanswered questions, definitely as there is definitely already a larger gathering of people to answer OS X related questions here than Super User.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Even though this is an old question - I wanted to chime in with a new answer after seeing this happen several times in the last 4 months.</p>

<p>The current best practice would be to decide if the question is of lasting value answered in the unique point of view of the other site compared to here.</p>

<p>Temporarily set aside the "not having an answer" and imagine the questions a year later assuming both questions now have good answers. If there really only is one question with one answer, then flag it asking for it to be migrated to the site where you feel it should best live. </p>

<p>A great question could be asked and phrased differently and then get different great answers on server fault and here (for example). If that's the case, do ask the specially crafted / targeted question here as well. </p>

<p>Don't forget you can promote that unanswered question on chat here, by using bounty there, asking on chat there how to improve it or sharing a link on twitter to your unanswered question. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>