<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Re-evaluating "list of tips" type questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1555" class = "post">
			<h2>Question</h2>
			<div id="vote-1555" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 419</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Re-evaluating "list of tips" type questions</h2>
<p><a href="https://apple.stackexchange.com/questions/6331/shortcuts-gestures-you-cant-live-without">Shortcuts &amp; gestures you can&#39;t live without</a> is getting a lot of attention because it was selected as a "straw question" for the "Quick Start" guide for new users while it was being developed.  It was quickly pointed out that perhaps we don't want to encourage this type of question because - even though it's CW - it's more of a subjective list question instead of a practical answerable question.</p>

<p>Should we close / lock this question in particular?  And it is time to evaluate all of the other very popular questions in the same vein?  I love quite a few of these types of questions, and I'd hate to see them be deleted, but they're not very Stack-Exchangey.  </p>

<p>Here are a few examples from my Favorites:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/5435/what-are-some-tips-or-tricks-for-terminal-in-mac-os-x">Got any tips or tricks for Terminal in Mac OS X?</a></li>
<li><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-os-x-features-or-tips-and-tricks">Please share your hidden macOS features or tips and tricks</a></li>
<li><a href="https://apple.stackexchange.com/questions/1715/what-are-some-undocumented-iphone-features">What are some undocumented iPhone features?</a></li>
<li><a href="https://apple.stackexchange.com/questions/18677/know-of-any-features-or-tips-and-tricks-in-os-x-10-7-lion">Know of any features or tips and tricks in OS X 10.7 (Lion)?</a></li>
<li><a href="https://apple.stackexchange.com/questions/183/what-are-your-favorite-mac-os-x-keyboard-shortcuts">What are your favorite Mac OS X keyboard shortcuts?</a></li>
<li><a href="https://apple.stackexchange.com/questions/29212/what-os-x-tweaks-hacks-or-modifications-couldnt-you-live-without">What OS X tweaks, hacks, or modifications couldn&#39;t you live without?</a></li>
<li><a href="https://apple.stackexchange.com/questions/12161/os-x-terminal-must-have-utilities">OS X Terminal &quot;must have&quot; utilities</a></li>
</ul>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1555">Load Comments</button></br>
			<div id = "commentsection-1555" class = 'collapse'>
			<div id = "comment-2912" class = "comment">
				<p>See also this [meta question](http://meta.apple.stackexchange.com/questions/90/list-of-x-poll-style-questions-what-to-do?rq=1)</p>
			</div>
			<div id = "comment-2914" class = "comment">
				<p>Note that the first two are protected and with a note saying "it is not considered a good, on-topic question for this site"</p>
			</div>
			<div id = "comment-2915" class = "comment">
				<p>The [about] page is now something we can control from a range of questions so we can avoid the specific question. However, I believe this is good to discuss going forward so that the [faq] could be adjusted if needed as well as to get down some thoughts on why these questions are less than optimal in many cases.</p>
			</div>
			</div>
				<textarea id = "speech-1555" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1555">
					<img id="start_img-1555" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1556"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1556" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ask Different does allow (unlike Stack Overflow where these should be closed as non-constructive) questions asking for lists and software recommendations. If we keep allowing these then some of those lists are acceptable.</p>

<p>I think we definitely should use another question as an example as the are not the best questions and do not give an example to new users of what are normal good questions that give rise to answers that can be considered correct. </p>

<p>I think the list questions should be rare and have to be controlled. For example they should probably be community wiki. The normal way of doing these is now ask for one example in each answer.</p>

<p>I think the ones that have a limited list like the "Shortcuts and gestures" and the "What are your favorite Mac OS X keyboard shortcuts?' are valid list as we could enumerate all the answers. The others are all subjective and I cannot really see how we would choose if a feature would be in the list or not.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1556">Load Comments</button></br>
			<div id = "commentsection-1556" class = 'collapse'>
			<div id = "comment-2922" class = "comment">
				<p>@daviesgeek - the edit seems to have replaced terms that I cut and pasted from SO ie I was matching AskDifferent's style</p>
			</div>
			<div id = "comment-2923" class = "comment">
				<p>Oh, okay. Ask Different (space in between). non-constructive is not a proper noun, nor is community wiki :)</p>
			</div>
			<div id = "comment-2924" class = "comment">
				<p>@daviesgeek - I agree in normal writing I would use your changes - I just find it amusind to see those edits (if in review I would have marked the change as roo minor)</p>
			</div>
			</div>
				<textarea id = "speech-1556" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1556">
					<img id="start_img-1556" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1558"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1558" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think there is good hope we can improve some of the close reasons and tweak the FAQ in the coming months. </p>

<h2>For now, it's very important that people down vote questions that are un-helpful, un-useful and/or overly-subjective.</h2>

<p>As moderators, we're here to assist with community norms, but out of nearly 25 thousand questions a ridiculously small amount are even being down voted.</p>

<p>Here are some queries you can use to see which questions are currently candidates for either a high ratio of down votes or high total of down votes:</p>

<ul>
<li><a href="http://data.stackexchange.com/apple/query/93455/popular-questions-with-the-most-down-votes" rel="nofollow">http://data.stackexchange.com/apple/query/93455/popular-questions-with-the-most-down-votes</a></li>
<li><a href="http://data.stackexchange.com/apple/query/93457/most-controversial-questions-on-the-site" rel="nofollow">http://data.stackexchange.com/apple/query/93457/most-controversial-questions-on-the-site</a></li>
</ul>

<p>As it stands today, there are only a dozen questions with 2 total down votes and another dozen with more than 2 down votes, so we have less than one tenth of one percent of questions that I would start with in evaluating whether to close questions for lack of usefulness.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1558">Load Comments</button></br>
			<div id = "commentsection-1558" class = 'collapse'>
			<div id = "comment-2916" class = "comment">
				<p>I tend not to down vote as if the question is bad I feel it should be closed so I vote to close - OK I have enough rep to have these sort of votes but even before I would tend to flag - also flogging voting to close does not cost you anything - voting down does cost - so my tendency is only vote down answers</p>
			</div>
			<div id = "comment-2917" class = "comment">
				<p>Mark - Thanks for the comments - I think a lot of people assume they lose a point when they vote down a question. **This is incorrect** - when you cast any vote on a question it only affects the reputation of the asker, not the voter. See http://apple.stackexchange.com/faq#reputation and http://blog.stackoverflow.com/2011/05/vote-for-this-question-or-the-kitten-gets-it/ for the facts about voting and the problem of questions not getting voted on enough. The site would work better if more people cast votes on questions more freely. Can I count on you to help spread the word on question voting?</p>
			</div>
			<div id = "comment-2918" class = "comment">
				<p>won't make much difference to me  I would still flag or vote to close I have enough rep I don't care about downvoting so I would downvote but can't think of a case I would the rep issue was for a possible for those with less rep - but thanks for the clarification either the question should be closed or it is OK</p>
			</div>
			</div>
				<textarea id = "speech-1558" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1558">
					<img id="start_img-1558" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1559"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1559" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Honestly, who cares. SE is meant to be an informative source of first hand accounts of peoples tip, tricks, and solutions to various problems. Even if one did argue that these aren't in the same Q/A style, what does it matter? They're informative and help people, which meets the end goal of our operations.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1559">Load Comments</button></br>
			<div id = "commentsection-1559" class = 'collapse'>
			<div id = "comment-2919" class = "comment">
				<p>It is meant to be an informative source. However, an informative source does not mean a source that provides information. We need to curate and decide what needs to be weeded out and what we need to keep. The questions also need to be put in an orderly fashion. Honestly, we really *do* care what does/doesn't go on here.</p>
			</div>
			<div id = "comment-2920" class = "comment">
				<p>The threads in question are very well curated (imo). They're well styled, grammar checked and even some useful screen shots. The information is concise, clear and productive. By no means would I compare them to "weeds."</p>
			</div>
			<div id = "comment-2921" class = "comment">
				<p>Only because people have taken the time to go through them and edit them into good answers.</p>
			</div>
			<div id = "comment-2933" class = "comment">
				<p>So what? The result is nice.</p>
			</div>
			</div>
				<textarea id = "speech-1559" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1559">
					<img id="start_img-1559" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1620"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1620" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I checked up last week, and during the whole of 2012, 9 CW questions were asked.  The last one was September, almost half a year ago.  I honestly don't understand the view (often from users who are not primarily active on AD) that we are infested with these questions - they are very sparse indeed, and the bad ones are usually pruned PDQ.</p>

<p>Typically, although not always, they are topical to an event, such as the release of new hardware and software.  In these cases, there is a great case that they drive traffic to the site, offer a little infotainment (I hate that word, but...) and foster community and a bit of fun. It's like a mini AD event in itself, and results in a nice chunk of reference that people can and do enjoy "dipping into" at their leisure.</p>

<p>Keep them I say, they are a part of the unique make up of the AD site.  I'd hate to see AD get all homogeneous to the SE template; I see the SE "way" as a guide, not as the law.  If we wanted to do anything, I would say that every new CW uses an agreed format with regards to the phrasing of the question (i.e. the helpful 1 answer per question, please check for an existing entry first, and ammend or edit rather than add a new one, here is how to search etc, and is "owned" by a mod (or 10k user) or the mods in their initial early stages of life to ensure they start life in the manner in which we would wish them to continue.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1620">Load Comments</button></br>
			<div id = "commentsection-1620" class = 'collapse'>
			<div id = "comment-3022" class = "comment">
				<p>I think some of them (best OS X apps, best iOS apps) tend to rank well in search results giving them impression they're rampant. I'm of the mind they're a blight on the site -- useless to browse when they become lengthy and they tend to capture very place-and-time data as apps move on, but those questions don't because curating them is a heavy burden.</p>
			</div>
			</div>
				<textarea id = "speech-1620" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1620">
					<img id="start_img-1620" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1634"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1634" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am new to community so I still don't have good feeling about "should we keep them or delete them", but it's obvious they are popular and liked, which makes it hard or impossible to remove them. Therefore, it is essential to make criteria, expand borders and change the rules.</p>

<p>But there is another very important thing I want to bring your attention to:</p>

<h3>These CW topic-lists are all about <em>good</em> tips, tricks, options of a software. There is no list of <em>bad</em> options, <em>disadvantages</em> or <em>missing</em> features!</h3>

<p>Without them we don't have complete overview. Criticism can be good or bad, but what is not useful should be deleted.   </p>

<p>Please notice, that most of people would naturally up-vote a list of good tips, while many of them would also down-vote a list of bad or missing features, even though they can be useful. Which is why I believe @bmike suggestion on question-voting is simply not enough here.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1634">Load Comments</button></br>
			<div id = "commentsection-1634" class = 'collapse'>
			<div id = "comment-3042" class = "comment">
				<p>Thanks for bringing this up here, it's the better place for these discussions than the main site.</p>
			</div>
			<div id = "comment-3043" class = "comment">
				<p>There are two main reasons which led me to close the question: (a) "bad" is highly subjective, any point brought up in in answer may lead to extended discussion about its relative badness. Compare this to a list of tips where you just pick the ones you like and ignore the rest. (b) I don't see how a list of "bad" features is of benefit to future visitors here. If you miss a feature in OS X or see a better way something could be implement, send feedback to Apple or file a bug (if you have a developer account).</p>
			</div>
			<div id = "comment-3044" class = "comment">
				<p>If you run in to a bad feature and want a work-around (as your bad-features-in-Finder CW question was prompting) you can post a single question and get a single answer. This is always the better way to get a solution to a problem. CW questions become unwieldily, unsearchable multi-headed monsters in my opinion. Encouraging more of them is not something I think we should be doing.</p>
			</div>
			<div id = "comment-3045" class = "comment">
				<p>@patrix I agree this is better place for discussion, thanks for guiding.
I would like to ask you both not to exclusively connect this with my previous activity on main site, as I want to express here my general opinion on the question raised.</p>
			</div>
			<div id = "comment-3046" class = "comment">
				<p>As I wanted to say- "good" and "bad" are both subjective, but seems that this kind of questions are needed. I like the type, I want them on the website as I don't know any other place where to find that kind of info. And there are others who like them, so it is essential to learn how to choose what to keep and what to remove as not useful. And we need lists of "bad". Yes, one can bump on them alone, send feedback and stuff, but what's wrong in sharing experience, just like for the list of "good"?</p>
			</div>
			<div id = "comment-3047" class = "comment">
				<p>As I said, "bad" is highly subjective. The goal of this site is to provide a lot of Q&A to help Apple users. As @IanC said already, if you need a workaround for a "bad" feature, ask a question, get an answer, done. Having a list of things considered to be "bad" by at least someone doesn't help anybody.</p>
			</div>
			</div>
				<textarea id = "speech-1634" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1634">
					<img id="start_img-1634" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>