<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Re-evaluating "list of tips" type questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Re-evaluating "list of tips" type questions</h2>
<p><a href="https://apple.stackexchange.com/questions/6331/shortcuts-gestures-you-cant-live-without">Shortcuts &amp; gestures you can&#39;t live without</a> is getting a lot of attention because it was selected as a "straw question" for the "Quick Start" guide for new users while it was being developed.  It was quickly pointed out that perhaps we don't want to encourage this type of question because - even though it's CW - it's more of a subjective list question instead of a practical answerable question.</p>

<p>Should we close / lock this question in particular?  And it is time to evaluate all of the other very popular questions in the same vein?  I love quite a few of these types of questions, and I'd hate to see them be deleted, but they're not very Stack-Exchangey.  </p>

<p>Here are a few examples from my Favorites:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/5435/what-are-some-tips-or-tricks-for-terminal-in-mac-os-x">Got any tips or tricks for Terminal in Mac OS X?</a></li>
<li><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-os-x-features-or-tips-and-tricks">Please share your hidden macOS features or tips and tricks</a></li>
<li><a href="https://apple.stackexchange.com/questions/1715/what-are-some-undocumented-iphone-features">What are some undocumented iPhone features?</a></li>
<li><a href="https://apple.stackexchange.com/questions/18677/know-of-any-features-or-tips-and-tricks-in-os-x-10-7-lion">Know of any features or tips and tricks in OS X 10.7 (Lion)?</a></li>
<li><a href="https://apple.stackexchange.com/questions/183/what-are-your-favorite-mac-os-x-keyboard-shortcuts">What are your favorite Mac OS X keyboard shortcuts?</a></li>
<li><a href="https://apple.stackexchange.com/questions/29212/what-os-x-tweaks-hacks-or-modifications-couldnt-you-live-without">What OS X tweaks, hacks, or modifications couldn&#39;t you live without?</a></li>
<li><a href="https://apple.stackexchange.com/questions/12161/os-x-terminal-must-have-utilities">OS X Terminal &quot;must have&quot; utilities</a></li>
</ul>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Ask Different does allow (unlike Stack Overflow where these should be closed as non-constructive) questions asking for lists and software recommendations. If we keep allowing these then some of those lists are acceptable.</p>

<p>I think we definitely should use another question as an example as the are not the best questions and do not give an example to new users of what are normal good questions that give rise to answers that can be considered correct. </p>

<p>I think the list questions should be rare and have to be controlled. For example they should probably be community wiki. The normal way of doing these is now ask for one example in each answer.</p>

<p>I think the ones that have a limited list like the "Shortcuts and gestures" and the "What are your favorite Mac OS X keyboard shortcuts?' are valid list as we could enumerate all the answers. The others are all subjective and I cannot really see how we would choose if a feature would be in the list or not.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I think there is good hope we can improve some of the close reasons and tweak the FAQ in the coming months. </p>

<h2>For now, it's very important that people down vote questions that are un-helpful, un-useful and/or overly-subjective.</h2>

<p>As moderators, we're here to assist with community norms, but out of nearly 25 thousand questions a ridiculously small amount are even being down voted.</p>

<p>Here are some queries you can use to see which questions are currently candidates for either a high ratio of down votes or high total of down votes:</p>

<ul>
<li><a href="http://data.stackexchange.com/apple/query/93455/popular-questions-with-the-most-down-votes" rel="nofollow">http://data.stackexchange.com/apple/query/93455/popular-questions-with-the-most-down-votes</a></li>
<li><a href="http://data.stackexchange.com/apple/query/93457/most-controversial-questions-on-the-site" rel="nofollow">http://data.stackexchange.com/apple/query/93457/most-controversial-questions-on-the-site</a></li>
</ul>

<p>As it stands today, there are only a dozen questions with 2 total down votes and another dozen with more than 2 down votes, so we have less than one tenth of one percent of questions that I would start with in evaluating whether to close questions for lack of usefulness.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Honestly, who cares. SE is meant to be an informative source of first hand accounts of peoples tip, tricks, and solutions to various problems. Even if one did argue that these aren't in the same Q/A style, what does it matter? They're informative and help people, which meets the end goal of our operations.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I checked up last week, and during the whole of 2012, 9 CW questions were asked.  The last one was September, almost half a year ago.  I honestly don't understand the view (often from users who are not primarily active on AD) that we are infested with these questions - they are very sparse indeed, and the bad ones are usually pruned PDQ.</p>

<p>Typically, although not always, they are topical to an event, such as the release of new hardware and software.  In these cases, there is a great case that they drive traffic to the site, offer a little infotainment (I hate that word, but...) and foster community and a bit of fun. It's like a mini AD event in itself, and results in a nice chunk of reference that people can and do enjoy "dipping into" at their leisure.</p>

<p>Keep them I say, they are a part of the unique make up of the AD site.  I'd hate to see AD get all homogeneous to the SE template; I see the SE "way" as a guide, not as the law.  If we wanted to do anything, I would say that every new CW uses an agreed format with regards to the phrasing of the question (i.e. the helpful 1 answer per question, please check for an existing entry first, and ammend or edit rather than add a new one, here is how to search etc, and is "owned" by a mod (or 10k user) or the mods in their initial early stages of life to ensure they start life in the manner in which we would wish them to continue.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I am new to community so I still don't have good feeling about "should we keep them or delete them", but it's obvious they are popular and liked, which makes it hard or impossible to remove them. Therefore, it is essential to make criteria, expand borders and change the rules.</p>

<p>But there is another very important thing I want to bring your attention to:</p>

<h3>These CW topic-lists are all about <em>good</em> tips, tricks, options of a software. There is no list of <em>bad</em> options, <em>disadvantages</em> or <em>missing</em> features!</h3>

<p>Without them we don't have complete overview. Criticism can be good or bad, but what is not useful should be deleted.   </p>

<p>Please notice, that most of people would naturally up-vote a list of good tips, while many of them would also down-vote a list of bad or missing features, even though they can be useful. Which is why I believe @bmike suggestion on question-voting is simply not enough here.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>