<html>
	<head>
		<title id = 'pagetitle'>Recent answers to version-tagged questions
		</title>
	<head>
	<body id = 'pagebody'><p>In <a href="https://apple.stackexchange.com/q/73320/25135">How to open time machine progress bar window</a> I asked a question regarding the version of OS X I had installed at that time, namely Lion. I got an answer matching that version, indicating that what I wanted was not possible. I accepted that answer, ticking the check mark.</p>

<p>Recently (or perhaps not <em>that</em> recently) there have been some answers indicating that what I wanted is possible these days. But I'm pretty confident that all those recent reports are for a newer version of OS X. And since I'm not running Lion myself any more, I cannot verify whether those answers do in fact apply to Lion.</p>

<p>So my question is this: should I change the accepted answer in order to keep the page up to date? If I do, should I remove the version tag as well? Or is it enough that the other answers are there (a bit down the page) for those who search, and leave tag and check mark where they are as an indication of the history of this question and its answers? I tend to do the latter, but the more new answers come in, the more I doubt whether ignoring them because they ignore the version tag is really the right choice.</p>


<h1>ANSWERS</h1>
		<p>I'd remove the tag. I'd also accept one of the other answers relating to System Preferences, since most people will have a newer OS that has that feature (not sure if it's on lion or earlier)</p>


<p>I would ask another question referring to the original for Lion but in the new question state what OS you need it for (in this case cheat and ask for the first one you know it works on)</p>

<p>The questions and answers are still useful as there are still people on Lion and Snow Leopard so the answers are not wrong. We would now be helping more people.</p>

<p>On some mailing lists I see people still asking about Tiger and Leopard I think they are using PPC) so even answers for this are useful</p>


	</body>
</html>