<html>
	<head>
		<title id = 'pagetitle'>Red color of "you can't create new tags" warning text hardly readable against background
		</title>
	<head>
	<body id = 'pagebody'><p>If, as a user without sufficient reputation, you try to create a new tag, you'll get a warning message next to the tag input line. Look for </p>

<pre><code>&lt;div id="ask-error-container" class="form-error"&gt;
</code></pre>

<p>It's coloured a deep red, which is barely readable against the dark grey background.</p>

<p>There was an <a href="https://apple.meta.stackexchange.com/questions/290/color-scheme-hard-to-read">older entry</a> here that mentions something similar, but I think that author was referring to other parts of the site.</p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>