<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Refining policy on hardware recommendations
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1009" class = "post">
			<h2>Question</h2>
			<div id="vote-1009" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 97</p>
			</div>
				<h2>Refining policy on hardware recommendations</h2>
<p>I understand why <a href="http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/">"let's go shopping" questions are unhelpful to the site</a> and thus closed. But my understanding was that this policy does not make all hardware recommendations off-topic on Stack Exchange sites, just "which __ should I buy".</p>

<p>Questions about what features to look for in a product, the existence of products, etc. that aren't localized to one particular person's situation and could help a range of users who might reasonably be expected to face a similar problem in the future are not ruled out, and perhaps even encouraged by the aforelinked canonical blog post.</p>

<p>Policy on this site seems to go <a href="https://apple.stackexchange.com/search?q=closed%3A0+%5Bhardware-recommendation%5D">back</a> and <a href="https://apple.stackexchange.com/search?q=closed%3A1+%5Bhardware-recommendation%5D">forth</a> between "all hardware recommendations are off-topic" and something that seems more consistent with the position outlined on the stack overflow blog.</p>

<p>I'd argue that if a question can be asked about hardware recommendations that is likely to inspire answers that are both a) relevant to other users, not just this one person's particular situation and b) not links to <a href="http://www.amazon.com" rel="nofollow noreferrer">sales sites</a>, but an informative, durable answer then I'd like to seem them considered on-topic here.</p>

<p>Anything that breaks either a or b isn't helpful, and should still be closed, but I'd like to see our policy explicitly call for case-by-case consideration of hardware recommendation questions using criteria like these, acknowledging that hardware recommendation questions <em>are</em> on topic, but warning that many are likely to be closed as too localized, either because the question appeals to a narrow (single-person?) audience, or that the answers are unlikely to remain valid for any reasonable length of time.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1009" class = 'collapse'>
			</div>
				<textarea id = "speech-1009" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1009">
					<img id="start_img-1009" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1011"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1011" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think that some hardware recommendations can be on-topic, but that we should be careful to avoid becoming a site for hardware reviews.</p>

<p>Like with apps, hardware recommendations should have specific requirements. We don't want questions that are just 'List of all printers'; they get dated fast and are hard to actually pull specific info from, IMO. The more a question gets at a why something is useful, the more likely it will be of long term value to the site.</p>

<p>Hardware recommendations should also be relevant to the scope of the site and other users. Questions that are too localized should still be closed, and questions that barely relate to Apple should be closed. I would say that questions about adapters (like the one you linked to) are okay, but questions about something that doesn't relate to using Apple hardware/software (think laptop backpacks) shouldn't be allowed. It just doesn't seem to fit in with the site.</p>

<p>As you say, we don't want to just link to sales sites. I also don't think we want to become a review site, though. We're in the business of answering questions, not evaluating products.
The result of that is that we may have to be somewhat strict about making sure that people link to the <em>manufacturer's site</em>, and that people's commentary stays objective and factual.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1011">Load Comments</button></br>
			<div id = "commentsection-1011" class = 'collapse'>
			<div id = "comment-2006" class = "comment">
				<p>I would rather we focus on bad questions and good questions more than the subject of the question. The guidelines for practical, answerable, objective and descriptive go a long way to making it clear that the hardware recommendation is often tangentially related to why a question is closed for re-work or deletion. I'd rather have 10 questions get asked and seen and deal with fixing the one that needs help or sprouts some sort of subjective disagreement (canon vs HP vs Epson) rather than just rule out a class because of the poorest examples in the genre.</p>
			</div>
			</div>
				<textarea id = "speech-1011" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1011">
					<img id="start_img-1011" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>