<html>
	<head>
		<title id = 'pagetitle'>Refining policy on hardware recommendations
		</title>
	<head>
	<body id = 'pagebody'><p>I understand why <a href="http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/">"let's go shopping" questions are unhelpful to the site</a> and thus closed. But my understanding was that this policy does not make all hardware recommendations off-topic on Stack Exchange sites, just "which __ should I buy".</p>

<p>Questions about what features to look for in a product, the existence of products, etc. that aren't localized to one particular person's situation and could help a range of users who might reasonably be expected to face a similar problem in the future are not ruled out, and perhaps even encouraged by the aforelinked canonical blog post.</p>

<p>Policy on this site seems to go <a href="https://apple.stackexchange.com/search?q=closed%3A0+%5Bhardware-recommendation%5D">back</a> and <a href="https://apple.stackexchange.com/search?q=closed%3A1+%5Bhardware-recommendation%5D">forth</a> between "all hardware recommendations are off-topic" and something that seems more consistent with the position outlined on the stack overflow blog.</p>

<p>I'd argue that if a question can be asked about hardware recommendations that is likely to inspire answers that are both a) relevant to other users, not just this one person's particular situation and b) not links to <a href="http://www.amazon.com" rel="nofollow noreferrer">sales sites</a>, but an informative, durable answer then I'd like to seem them considered on-topic here.</p>

<p>Anything that breaks either a or b isn't helpful, and should still be closed, but I'd like to see our policy explicitly call for case-by-case consideration of hardware recommendation questions using criteria like these, acknowledging that hardware recommendation questions <em>are</em> on topic, but warning that many are likely to be closed as too localized, either because the question appeals to a narrow (single-person?) audience, or that the answers are unlikely to remain valid for any reasonable length of time.</p>


<h1>ANSWERS</h1>
		<p>I think that some hardware recommendations can be on-topic, but that we should be careful to avoid becoming a site for hardware reviews.</p>

<p>Like with apps, hardware recommendations should have specific requirements. We don't want questions that are just 'List of all printers'; they get dated fast and are hard to actually pull specific info from, IMO. The more a question gets at a why something is useful, the more likely it will be of long term value to the site.</p>

<p>Hardware recommendations should also be relevant to the scope of the site and other users. Questions that are too localized should still be closed, and questions that barely relate to Apple should be closed. I would say that questions about adapters (like the one you linked to) are okay, but questions about something that doesn't relate to using Apple hardware/software (think laptop backpacks) shouldn't be allowed. It just doesn't seem to fit in with the site.</p>

<p>As you say, we don't want to just link to sales sites. I also don't think we want to become a review site, though. We're in the business of answering questions, not evaluating products.
The result of that is that we may have to be somewhat strict about making sure that people link to the <em>manufacturer's site</em>, and that people's commentary stays objective and factual.</p>


	</body>
</html>