<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Reflection on the recent Site-Promotion
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1260" class = "post">
			<h2>Question</h2>
			<div id="vote-1260" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 328</p>
			</div>
				<h2>Reflection on the recent Site-Promotion</h2>
<p>I think, now that the dust has settled and the winners notified from the <a href="https://apple.meta.stackexchange.com/questions/1181/the-new-ipad-is-here-ask-different-and-win-one">recent site-promotion campaign</a>, it would be very useful for the organisers to see our thoughts on it all (and indeed have their say on how they saw it working).  <strong>Note</strong> that this is <strong>not</strong> a chance to complain about individual users/questions/answers/outcomes, but a chance to have your say on <em>what you thought worked really well</em>, and what if <em>anything you think could be changed or improved</em> in any future site promotions.</p>

<p>Please try to keep your answers constructive. If you have anything negative to say, feel free to say it, but try to also make suggestions as to what could be done in future to alleviate your concerns without simply complaining.  Again, let's keep from linking to specific contest <em>content</em>, and talk about the <em>structure</em>.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1260">Load Comments</button></br>
			<div id = "commentsection-1260" class = 'collapse'>
			<div id = "comment-2407" class = "comment">
				<p>I really like these suggestions - especially the ideas to (1) increase randomness in awarding prizes and (2) lower the number of posts required but increase the minimum score. The "point system" for getting entries into a drawing is interesting too. I will take these suggestions into account when planning future contests. Thanks for continuing to think through and give feedback!</p>
			</div>
			</div>
				<textarea id = "speech-1260" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1260">
					<img id="start_img-1260" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1261"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1261" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Rankings, prize assignments, and competitive behavior</h2>

<p>I have 1 change that I would like to see incorporated into future competitions, and that is essentially having a way of selecting winners that does <em>not</em> result in users directly competing against <em>each other</em>, rather than <em>themselves</em>.  We should be trying to do the best we can achieve, not simply better than next guy.  The benchmark should be where your personal pride and motivation takes you, and not be judged against the next users aims.</p>

<p>I think that the original intent was to get people to promote the use of Ask Different to an expanded audience and increase general participation levels, and initially this happened very well, but towards the end of the competition this resulted in the voting percentages dropping hugely (anecdotaly, at least for the Level 3 users) as users realised that complying with the spirit of the competition might have an affect on their chances of winning the iPads.  This has a knock on affect that latter Q&amp;As were top heavy on answers, often similar answers, and low on votes which <em>could</em> produce the outlook to the new users we were trying to attract that no-one was providing genuinely good answers, which is obviously contrary to the aims of the site in general, never mind the competition.  You can look at pretty much anyones rep curve for the 3 week period and see this marked "Hump" affect as the patterns altered during the period.</p>

<p>In order to prevent this, I have 2 recommendations:</p>

<ul>
<li><p>Provide a greater element of <em>Randomness</em> when selecting winners.  There were 10 Level 3 users, and if the rules had been something like "The Top Score wins an iPad for being amazing, everyone else is in a raffle to win the remaining 4" it would have produced odds of 4 in 9 to win an iPad - this is still really really great odds that would inspire people to work hard, and means that there is no difference to coming 2nd or 10th, so long as you worked hard enough to get into that level in the first place.  "Tactical" voting would be greatly reduced, as it would not really be possible to affect the result by doing it.</p></li>
<li><p>Either cut down on the ability to follow other users scores, or go the whole hog and provide the <em>whole</em> story in the contest progress pages.  Looking at the lists (and knowing that there was a <em>big</em> difference between 5th and 6th) made it very tempting to compare your results against other users and use that as a basis for choosing who to selectively fail to vote for.  During the last few hours of the contest it turned out that at least 4 people in the top 10 had written scripts to query the APIs and rank the current contestant scores.  Whilst the data is public, better to either stop it happening (possibly by not <em>explicitely</em> starting the exact tie-break mechanism from the start) or level the playing field and prepare them for everyone up front.</p></li>
</ul>

<p>Lastly, a big thanks to everyone at SE that helped to organise the thing - We know that @Lauren and @balpha were heavily involved, but I am sure that there are more names behind the doors that also deserve thanks.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1261">Load Comments</button></br>
			<div id = "commentsection-1261" class = 'collapse'>
			<div id = "comment-2360" class = "comment">
				<p>Ha! You *so* lifted that odds and raffle idea from me. It's cool though. :) FWIW I don't think being able to calculate totals would matter one iota if the final prizes were awarded by raffle. It only mattered because we were competing with each other.</p>
			</div>
			<div id = "comment-2393" class = "comment">
				<p>Was it four different scripts, or did four people just run Ian C.'s script? (The raffle idea seems very good to me)</p>
			</div>
			<div id = "comment-2395" class = "comment">
				<p>I think it was at least 3 different ones, but I think 4 - could have got confused.  In the last hour I even used Ian's myself (and didn't feel proud for looking).  I think everyone in the top 10 knew the lineup through use/visibility of someone elses script/results, even if they did not write one themselves.</p>
			</div>
			<div id = "comment-2397" class = "comment">
				<p>I had one. Kyle C had one. And at least one other person wrote one that I recall. Kyle and I made ours available near the end: https://gist.github.com/2288184</p>
			</div>
			</div>
				<textarea id = "speech-1261" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1261">
					<img id="start_img-1261" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1262"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1262" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Share links on @StackApple Twitter</h2>

<p>IMHO, the @StackApple Twitter account shouldn t tweet or retweet a contest entrant s personalised share links while the contest is still running. This is unfair towards other people who participate in the contest.</p>

<p>Here s an example of such a tweet: <a href="http://twitter.com/stackapple/status/185739657777135616" rel="nofollow">http://twitter.com/stackapple/status/185739657777135616</a> It links to <code>http://goo.gl/q01yJ</code>, which in turn redirects to <code>http://apple.stackexchange.com/q/46077/11610?stw=1</code>, which is the personalised twitter share link for one of the contest participants.</p>

<p>When tweeting during a promotion whomever is in charge of the twitter account simply needs to ensure that they do not use the linking buttons, or remembers to strip the userID off the end of the URL.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1262">Load Comments</button></br>
			<div id = "commentsection-1262" class = 'collapse'>
			<div id = "comment-2357" class = "comment">
				<p>I suspect that this is a case of the *right hand* (the reTweet Daemon) not knowing what the *left hand* (the contest) is doing. It's an artifact of *complex systems* and the effort required to prevent this may too great and the result too *damaging* to the system. It's a better solution  just take the *hit points* and accept that it's an imperfect, and sometimes unfair, universe.</p>
			</div>
			<div id = "comment-2358" class = "comment">
				<p>Depending on how much effort anyone wants to put into this, the retweeting system could automatically expand short URLs, and replace the link with a non-referral version before tweeting.</p>
			</div>
			<div id = "comment-2361" class = "comment">
				<p>The stackapple account is part of the natural system. Needing to change the way the system works just for the contest is a symptom of a problem in the contest or the system.  It would be similar to changing the way voting works for the duration of the contest - rather than that, let's look at the consequences and change the contest so the contest fits the system, rather than fitting the system to the contest.  In cases of individual abuse (say someone figured out a way to get the bot to retweet them 80% of the time) then that would be dealt with individually. Otherwise it's not an issue.</p>
			</div>
			</div>
				<textarea id = "speech-1262" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1262">
					<img id="start_img-1262" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1263"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1263" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Score thresholds and post quality</h2>

<p>I love that the metrics to qualify for the higher levels included votes received, votes cast, and shares. Encouraging people to participate across the board is great, and it worked well (especially in the first few weeks).</p>

<p>That said, <strong>I think that increasing the vote thresholds for posts would increase quality.</strong></p>

<p>A score of two isn't very high for a post to receive, especially when people are being motivated to vote more than ever. It is entirely conceivable that a low quality or borderline post could receive a score of two. I would love to see a slightly higher requirement, perhaps around 3 or 4. To keep the contest from getting harder, the required number of posts could be made lower, perhaps so that the total number of votes one was required to receive didn't increase.</p>

<p>Higher thresholds for votes received would make sure that low quality posts didn't contribute to someone's contest qualifications, and it would discourage the behavior of posting something not great in the hopes that it somehow gets a score of two.</p>

<p>Lower quantity requirements would also help quality: people simply wouldn't feel motivated to post in as high volume, which would discourage the "Well, I'll just post everything I can think of!" mentality.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1263" class = 'collapse'>
			</div>
				<textarea id = "speech-1263" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1263">
					<img id="start_img-1263" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1264"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1264" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Rule clarifications and tie-breaking</h2>

<p>Some clarifications were made to the contest rules in <a href="https://apple.meta.stackexchange.com/questions/1220/how-exactly-would-winners-be-determined-if-more-than-five-users-complete-level">a meta post</a>. Next time around, if these particular rules still apply, they can simply be added to the initial ruleset to reduce confusion.</p>

<p>And a probably not crucial point: the rules (taking into account the later clarifications) were clear about what happened if more people than prizes were in a given level (the top users in a level, by score on contest posts, would get the prizes)   but they weren't clear on <strong>tie-breaking among the top users in a level</strong>. (<a href="https://apple.meta.stackexchange.com/questions/1181/the-new-ipad-is-here-ask-different-and-win-one">During this contest</a>, there was a two-way tie for 5th place in Level 3   while probably unusual, it would be nice to see this case explicitly covered in the rules.)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1264">Load Comments</button></br>
			<div id = "commentsection-1264" class = 'collapse'>
			<div id = "comment-2359" class = "comment">
				<p>Good point.  To further the theme, requests for clarification were made (and responded to) all over the place: New questions, Answers to those questions, "Answers" on the original Meta post, Comments everywhere, Chat.  It would be good to maintain a "clarifications" answer to the original post, and move all such content into it.  This might be a job for Mods.  Might be good to have a specific Chat room also for such talk.</p>
			</div>
			</div>
				<textarea id = "speech-1264" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1264">
					<img id="start_img-1264" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1265"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1265" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This answer is an extension of my thoughts on both of @stuffe's and @NathanGreestein's posts.</p>

<h2>Promotion vs Competition</h2>

<p>Given the ability to take influence on who gets votes or not, any method of achieving goals by votes is likely to result in users competing against each other. </p>

<p>This is not necessarily bad, it can motivate users to multiply their efforts in providing good answers. This only turns the other way if users restrict themselves from voting. (When does this happen?) Therefore, changing the rules must ultimately take away the contestants ability to have that much influence on who wins the prize. A <em>randomization</em> of winners is a good way out of this dilemma.</p>

<p>Consequences: In order for the randomization of winners to work, there needs to be a set of potential winners that is large enough, otherwise the direct competition between contestants remains.
Future contests need to have thresholds for levels that are easy enough to reach. If reaching a level is so difficult such that only about as many contestants reach a level as there are prizes for that level, users will still compete against each other and may try to avoid pushing each other up.</p>

<h2>Quality matters</h2>

<p>Do "low thresholds" encourage low quality posts?
The requirement to achieve thirty-five posts with a score of two did two things: It promoted voting in the beginning of the contest because voting on posts did not directly decrease your own chances of winning - there were simply <em>so many</em> required. However, it also discouraged contestants from putting more effort into their answers for the same reason.</p>

<p>If the minimum requirement to reach a level would require posts with more that two votes, users are pushed to provide answers with greater content. But, at the same time contestants should not be required to achieve too many of such posts because then the threshold to reach a level would be to high and contestants begin to compete against each other.</p>

<h1>Summary</h1>

<p>If you agree with my arguments, you will see that one needs to (partly) <em>randomize the selection of winners</em> and <em>find the right balance</em> between...</p>

<ol>
<li>...the minimum requirements to reach a level and</li>
<li>...the maximum requirements to reach a level</li>
</ol>

<p>If the requirements are low, the randomization of winners works well, voting is generally promoted but more low quality posts emerge as well.</p>

<p>If the requirements are too high, the randomization of winners does not work, voting drops and contestants become rivals.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1265" class = 'collapse'>
			</div>
				<textarea id = "speech-1265" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1265">
					<img id="start_img-1265" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1266"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1266" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My answer extends on  that of <a href="https://apple.meta.stackexchange.com/a/1265/9388">@gentmatt</a>, which in turn extends on the answers from <a href="https://apple.meta.stackexchange.com/a/1261/9388">@stuffe</a> and <a href="https://apple.meta.stackexchange.com/a/1263/9388">@NathanGreenstein</a>.</p>

<p>I'm impressed with this community, and how we didn't let crazy incentives destroy our sense of community. The promotion wasn't designed as a competition, and it didn't get competitive until people blew the thresholds out of the water to a degree unanticipated in the design of the promotion. I think we did a good job staying non-evil, but, of course, incentives do matter, so perhaps we can tweak them in any future promotions</p>

<h2>How could we have done this had we known then what we know now?</h2>

<p>In hindsight, I think it turns out that the winning bars should have been higher in terms of quality (more posts with at least 6 or even more votes), perhaps lower in terms of quantity (encouraging a <em>lot</em> of two vote questions/answers maybe isn't a great thing for the site), and shorter in terms of the length of time the promotion runs.</p>

<p>If the winning bar for this one were so high that <a href="https://apple.meta.stackexchange.com/users/13414/gentmatt">only one crazy person</a> were likely to be able to make it there, I suspect it wouldn't have been a competition; it would have been a lot of people cheering him on. But then the promotion wouldn't have drawn in as many people.</p>

<p>I think the idea of some fixed prizes and some randomized is a good thing, but I'd like to see a different mix, with a smoother gradient between the deterministic portion (you <strong>will</strong> win this prize) and the purely stochastic (<strong>anyone</strong> who meets the minimum threshold has an equal chance). No abrupt cutoffs mean no cutthroat competition to be the one right above, and not below, the cutoff, but improved odds for better performance encourages everyone to do their best.</p>

<p>Perhaps something like</p>

<ul>
<li>the high scorer in the promotion wins an iPad.</li>
<li>for people who complete <em>x</em> shares and vote at least <em>y</em> times, each question or answer with 8 (10?) or more votes gives you ten tickets in a drawing for one of 5 iPads.</li>
<li>for people who complete <em>w</em> shares and vote at least <em>z</em> times, each question or answer with 4 (5?) or more votes gives you ten tickets in a drawing for one of 25 iPod Touch devices.</li>
<li>No one can win more than one prize.</li>
<li>If fewer than 5/25 people meet some minimum threshold, fewer prizes are given out.</li>
</ul>

<p>Even better if the random drawing algorithm could be sophisticated enough that if you cast upvote #1-8 for a question or answer that ends up reaching 8 votes, it slightly improves your chances of winning yourself (things that would give you ten tickets give you 11 tickets, for instance) -- wouldn't it be great if we could reward constructive edits and constructive voting, given that they're what makes the site work?</p>

<p>Then, there's still an incentive to vote for quality. There's an incentive to post <strong>good</strong> stuff, and not just anything. And there's a link between merit and success, but some element of chance also.</p>

<p>It's not just luck, but it isn't cutthroat competition, either. Helping along your fellow participants is rewarded, but there's a direct link between posting great things and improving your own chance of winning.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1266" class = 'collapse'>
			</div>
				<textarea id = "speech-1266" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1266">
					<img id="start_img-1266" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1267"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1267" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Good:</p>

<ul>
<li>Goals were achievable</li>
<li>Prizes were guaranteed for the top 30 contestants</li>
<li>Prizes were substantial (I'm not going to put in hours of effort for a tshirt, but I'll put in a lot of time for an iPod and the possibility of an iPad)</li>
<li>I really don't like contests where the odds are determined by the number of entrants, but this had a good balance of difficulty and large number of prizes that it was reasonable.  </li>
</ul>

<p>Improvements:</p>

<ul>
<li>It sometimes took more than a day to get various clarifications regarding the contest</li>
<li>Clarifications that were made occurred on a number of posts, and it appears that those who hung out in chat had somewhat of a better grasp on the contest than those relying solely on the contest rules and meta posts.  I don't know that any clarifications were made in chat, but perhaps some were.</li>
<li>While I applaud simple rules, and while I understand no one believed the tie-breaker would be needed, it was obvious that some were confused as to how exactly the tie-breaker would be computed (specifically which posts counted) and that this confusion persisted until nearly the end of the contest.  I had stopped contributing posts because I thought that the first 35 posts that reached 2+ were locked in - so this misunderstanding resulted in me contributing less in order to improve my final contest score, until I finally understood it was the top 35 posts during the contest. Such misunderstandings, if not corrected early in the contest, can work against the point of the contest.</li>
<li>As an outsider coming in primarily to compete in the contest, I was surprised at how easy it was to compete, and how the contest was not biased towards regular contributors.  It doesn't need to overtly balance towards regular contributors, and part of the contest is to bring in new regular users, but perhaps the rules can be set up so that those who "live" here find it easier to compete.</li>
<li>The mix between random and guaranteed awards was imbalanced.  15% of the prizes went to the drawing, and 85% to the higher levels.  For those who knew they could get into the higher levels without difficulty it's not an issue, but if I was at all unsure, then I wouldn't have participated even to reach the lowest level.  I think it would have been better to have something like 1 ipad and 5 ipods for the level one drawing.</li>
<li>I generally agree with the others that each level should be drawn - otherwise you should simply do away with the levels altogether.  Once you have a "bucket" where you are either present or not, sub-ranking within the bucket is more complex and leaves the system open to more gaming.</li>
<li>If you don't want to do a drawing inside each bucket, then consider downplaying the buckets, and using "contest points" instead.  Each 2+ post gives you 1 point per upvote, each share gives you 1 point for every 5 people who click on it, each day you spend all 35 votes you get another point, etc.  Then everyone can see where they are in the rankings on a daily basis, and know exactly what they need to do in order to be in the top 5 for the ipad, or top 30 for the ipod.  You can still have a minimum participation requirement that needs to be fulfilled before you're eligible for each level - the bucket is still there - it's just not emphasized.  I'm not a big fan of this as it adds complexity, but it allows contest administrators to finely tune the balance between the different parts of the contest (posts/shares, for instance) and encourages users to continue to contribute beyond the minimum.</li>
<li>Part of the contest, at the end, depended on one's ability to write a script to determine one's ranking.  Either provide that information up front, or use a random draw so the playing field is level on a non-programming site.  I could understand this being part of the contest for a programming site, but it doesn't make sense on other sites.</li>
</ul>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1267" class = 'collapse'>
			</div>
				<textarea id = "speech-1267" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1267">
					<img id="start_img-1267" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1275"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1275" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What if, for tie-breaker purposes only, votes up or down from other competitors at the same level simply did not count? They count to get you into the level but they do not count as tiebreaker votes. </p>

<p>This would not harm anyone's eligibility for a prize and if there was no tiebreaker would not affect anything. It has a downside in that legitimate and disinterested appreciation or otherwise from peers will not be counted as tiebreaker votes- but like a judge who has interest in an entity in court, recusal may be the lesser evil. It does allow votes to be cast in the out-of-competition sense without effect on the competition. </p>

<p>And it also maintains the suspense in chat next time, as nobody's script can tell just who cast the votes and so nobody knows the final outcome until official results appear >:-)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1275">Load Comments</button></br>
			<div id = "commentsection-1275" class = 'collapse'>
			<div id = "comment-2396" class = "comment">
				<p>Sounds like a good idea, but I think that this granularity of knowing exactly who voted for who is simply not available to anyone.  The system can spot trends for the purpose of identifying suspicious behaviour, but not individual votes.  Also, on 2nd thoughts it stands to reason that the top voted contributors are at the top for a reason, and thus excluding their own votes might not necessarily be the best indicator of what makes a good answer or not.</p>
			</div>
			</div>
				<textarea id = "speech-1275" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1275">
					<img id="start_img-1275" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>