<html>
	<head>
		<title id = 'pagetitle'>Refresh The Main Page
		</title>
	<head>
	<body id = 'pagebody'><p>Add a comment if you had Apple.StackExchange.com loaded today and refreshed the page "N" times to see if the new design appeared </p>

<p><sub>This is a joke ;) </sub></p>

<p><strong>Update for the less humorous out there:</strong>
A bird  told me that we should <em>see</em> it "VERY soon" [sic]. </p>

<p>  A rare type of <em>bird</em> that likes <a href="http://en.wikipedia.org/wiki/Bacon" rel="nofollow">this</a> a lot.</p>


<h1>ANSWERS</h1>
		<p>YESSSSS!!!!!!! We're live!!!!!</p>


	</body>
</html>