<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Refresh The Main Page
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-283" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::74</h3>
				<h2>Refresh The Main Page</h2>
<p>Add a comment if you had Apple.StackExchange.com loaded today and refreshed the page "N" times to see if the new design appeared </p>

<p><sub>This is a joke ;) </sub></p>

<p><strong>Update for the less humorous out there:</strong>
A bird  told me that we should <em>see</em> it "VERY soon" [sic]. </p>

<p>  A rare type of <em>bird</em> that likes <a href="http://en.wikipedia.org/wiki/Bacon" rel="nofollow">this</a> a lot.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-605" class = "comment">
				<p>Damn you. I though it was Jin telling  us to refresh the page to see the new design :/</p>
			</div>
			<div id = "comment-606" class = "comment">
				<p>@Lo c It's a TRAP!</p>
			</div>
			<div id = "comment-607" class = "comment">
				<p>@Mart n the cake is a lie!</p>
			</div>
			<div id = "comment-608" class = "comment">
				<p>POO-STORM!!1!1!1!!</p>
			</div>
			<div id = "comment-609" class = "comment">
				<p>@calavera excellent tag ;)</p>
			</div>
			<div id = "comment-610" class = "comment">
				<p>@Mart n did you email him?</p>
			</div>
			<div id = "comment-611" class = "comment">
				<p>@kyle Nope, twitter ;)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-284"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>YESSSSS!!!!!!! We're live!!!!!</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-613" class = "comment">
				<p>Now must announce it to other sites :D</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>