<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Refund the bounty if no anwers recieved
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1005" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::50</h3>
				<h2>Refund the bounty if no anwers recieved</h2>
<p>I offered a bounty on this question: <a href="https://apple.stackexchange.com/q/34981/12493">Can I enable AHCI mode of the SATA controller when booting to Windows on a MacBook with Nvidia chipset?</a> and didn t get any answers. Now I think the amount should be refunded so if I get a useful answer, I can award those +50 to it.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1007"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Bounties are not refundable by design; you get the full value of the promotion period for every bounty, whether there are answers or not.</p>

<p><a href="https://apple.stackexchange.com/faq#bounty">https://apple.stackexchange.com/faq#bounty</a></p>

<p>If bounties were refundable, they could trivially be gamed, or used again and again on essentially unanswerable questions, etc.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>