<html>
	<head>
		<title id = 'pagetitle'>Refund the bounty if no anwers recieved
		</title>
	<head>
	<body id = 'pagebody'><p>I offered a bounty on this question: <a href="https://apple.stackexchange.com/q/34981/12493">Can I enable AHCI mode of the SATA controller when booting to Windows on a MacBook with Nvidia chipset?</a> and didn t get any answers. Now I think the amount should be refunded so if I get a useful answer, I can award those +50 to it.</p>


<h1>ANSWERS</h1>
		<p>Bounties are not refundable by design; you get the full value of the promotion period for every bounty, whether there are answers or not.</p>

<p><a href="https://apple.stackexchange.com/faq#bounty">https://apple.stackexchange.com/faq#bounty</a></p>

<p>If bounties were refundable, they could trivially be gamed, or used again and again on essentially unanswerable questions, etc.</p>


	</body>
</html>