<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Removal of comments explaining downvotes
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2807" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::25</h3>
				<h2>Removal of comments explaining downvotes</h2>
<p>I asked a <a href="https://apple.stackexchange.com/q/242173/153510">question</a> which has received two downvotes and one upvote.</p>

<p>Initially a user left a comment explaining their downvote. I responded to his feedback in another comment, where I also linked to <a href="https://apple.meta.stackexchange.com/q/2/153510">a meta question</a>. Both the user's comment and my own are now deleted. This seems to have been done by @patrix.</p>

<p>I know that comments are fleeting on SE, but users are also <a href="https://meta.stackexchange.com/questions/135/encouraging-people-to-explain-downvotes">encouraged to explain their downvotes</a>. So, shouldn't this explanation stay in the comments as long as the downvote is there? That way it can be easier for future visitors to see why it was downvoted. Also, it can give those who disagree a chance to comment as well. I know many comments can be deleted without issue, but shouldn't comments that explain downvotes be allowed to stay?</p>

<p>Patrix also added some information elicited from the comments to OP, and that is helpful. If that was the only function of the comments, there would obviously be no problem with removing them. But in this case the comments also had another function, namely explaining the downvotes.</p>

<p>Can anyone give me some input regarding this issue?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2808"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Downvotes don't need to be explained and most often aren't. </p>

<p>The comments below your question addressed an unclarity in the question itself (namely whether the underlying OS is Windows or OS X). I've edited your clarification into the question and removed the comments because the issue discussed in the comments has been resolved. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6135" class = "comment">
				<p>Thanks for your answer. I take from this that you don't feel the comment was meant as an explanation for a downvote?</p>
			</div>
			<div id = "comment-6136" class = "comment">
				<p>Hard to say whether they are related.</p>
			</div>
			<div id = "comment-6137" class = "comment">
				<p>Alright :) They came at pretty much the same time.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>