<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Removing accidentally posted sensitive information from own answer
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2411" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::87</h3>
				<h2>Removing accidentally posted sensitive information from own answer</h2>
<p>I posted an answer to a question earlier and attached a screenshot, then almost immediately realised that my screenshot contained sensitive information that I'd missed (in this case my personal e-mail addresses).</p>

<p>Had I edited my answer, there would still have been a link to the old image (which was automatically uploaded to <em>i.stack.imgur.com</em>) in the answer's edit history. For lack of a better immediate solution, I deleted my answer and then reposted it with the correct image.</p>

<p>Firstly, I notice that my old answer is still there and visible to me. Is there a way to permanently remove it? Secondly, was deleting and reposting the answer the best thing to do, or is there another way to undo posting an answer without leaving a trace of it that I've missed?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2412"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>There's no need to delete and repost your answer just because you've included your email address in an image.</p>

<p>Whilst the revision history will show the information, the correct procedure is to flag the answer for moderator attention and request that the revision be removed from the revision history. Whilst moderators themselves are unable to do this themselves, they are able to elevate your request to those who can.</p>

<p>Deleting your answer, whilst removing it from public view, still allows it to be viewed by moderators, both those who are elected moderators (with the diamonds) and those with the moderator tools privilege such as me.</p>

<p>Note that editing your post within the 5 minute grace period will not leave a revision in the revision history, so if you make your change fast enough, there is no need for moderator intervention (unless you wish the image to be removed from i.stack.imgur.com too). You posted the answer at 04:17:52 and deleted it at 04:18:27; simply editing it at that point wouldn't have created a revision in the revision history.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-4521" class = "comment">
				<p>All excellent information. Especially the editing grace period of 5 minutes. If that were done, then only imgur.com would need to be purged. I've also added an answer as it's best for people to 1) edit to purge 2) request removal directly to the site via **contact us** links at the bottom of all pages 3) flag moderators as an FYI as opposed to the first action for help</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-2413"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Yes - permanent deletion of content is possible.</p>

<p>No - elected moderators and users cannot do it. Worse, I believe you'll have to work with imgur directly to get that post reversed/deleted or the URL changed. I've not done that and perhaps someone else can edit this or answer if Stack Exchange employees have any tools to assist that deletion on the service they have chosen as the official image hosting provider for the network.</p>

<p>The best way to request deletion:</p>

<ol>
<li>Firstly - edit the post yourself. Leave everything up but the part that needs to be deleted. This allows the wiki/revision tool to show exactly what is problematic and allows preservation of the majority of the content that was contributed under the site terms to remain.</li>
<li>Secondly -  use the <a href="https://apple.stackexchange.com/contact">contact us link</a> and explain to the site owners what specifically you need removed. The more narrow a scalpel you can use, the faster the decision and operation can be completed. Send links to the content and be sure to leave good contact information (email/phone/sms) and check in on the site regularly in case you get pinged here with a question.</li>
<li>Thirdly - flag the post to let the moderator team know you asked for help deleting the word/image/post/key in question.</li>
</ol>

<p>If you uploaded a private key, or a screenshot - immediately upload a new screenshot with the sensitive info blurred/redacted. If it's text, make an edit so that the team can see exactly which revision to purge. Use the site tools to make it clear how you want the post to read permanently.</p>

<p>Lastly, asking here is awesome. It lets anyone help out with how the site works.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>