<html>
	<head>
		<title id = 'pagetitle'>Remove duplicate status for a non-duplicate question
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/questions/151821/disable-iphoto-auto-launch-when-connecting-an-iphone-in-yosemite">Disable iPhoto auto launch when connecting an iPhone or iPad</a>
is marked as duplicate. It's not. It's similar but it only pertains to iPhoto specifically in Yosemite.</p>

<p>Got feedback that it should explain how it's different. That can't possibly be reasonable, to have to defend why a question is different when it clearly is.
The answers in the linked "duplicate" works fine for the question posted there. But not for the question I posted.</p>

<p>The last answer in the linked "duplicate" even refers to my question since it does not solve the problem I posted about. </p>

<p>Who can remove such duplicate flags?</p>


<h1>ANSWERS</h1>
		<p>All moderators can (and will if necessary) reopen questions, but so can high-rep users if a question is flagged for a reopen. Flagging for reopen can be done either explicitly (by clicking on the "reopen" label below the question) or be editing the text of a question.</p>

<p>In the question linked above, the comments indicate why an edit is deemed necessary, primarily because <em>as written</em> the question doesn't say anything about the solution in the linked question not solving the problem in Yosemite any longer. So if you want the question reopened, the easiest way would be to rewrite the question to show the steps already tried (e.g. changing the setting in iPhoto).</p>

<p>PS: Please keep in mind that it's not just the moderators who can moderate/improve the site -- all users can (and are invited to) do that.</p>


	</body>
</html>