<html>
	<head>
		<title id = 'pagetitle'>Remove [untagged] tag from locked question
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/questions/279056/how-to-stop-macos-sierra-from-using-background-data">How to Stop MacOS sierra from using background Data?</a> is the only question to have the tag <a href="https://apple.stackexchange.com/questions/tagged/untagged" class="post-tag" title="show questions tagged &#39;untagged&#39;" rel="tag">untagged</a>.</p>

<p>As this tag makes no sense I tried to do the normal edit of the question to tag it correctly.</p>

<p>However as it is locked I can't. Can a moderator please remove the tag?</p>


<h1>ANSWERS</h1>
		<p>Thanks. This happens when a question is migrated in to the site. The system makes an "untagged" tag if none exist so us deleting the tag isn't going to prevent this tomorrow when the next migration happens.</p>

<p>The best thing for you and others to do is to edit the question to have the correct tags for here - anyone can do that. If the question needs other edits to clarify or fix syntax, do that as well.</p>

<p>Worst case - you can vote to close the question if it's not up to the site standards or ask here like you did.</p>

<p>Thanks for the heads up the question needs an edit. If it's not already fixed, I'll have a pass at editing / closing it.</p>


	</body>
</html>