<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Remove or update answers that are incorrect due to technological advances
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Remove or update answers that are incorrect due to technological advances</h2>
<p>I have come across some answers that are now incorrect since the launch of iOS5. <a href="https://apple.stackexchange.com/questions/24677/how-to-switch-between-mail-and-safari-on-ipad-2/33508#33508">Such as this one</a> </p>

<p>Should another answer be put down or should we change these answers to make them factually correct?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Moderators don't generally delete things because they are incorrect or out of date. This is one of the stock flag rejection messages: "Flags should not be used to indicate technical inaccuracies, or an altogether wrong answer".</p>

<p>It's okay to edit, but you generally shouldn't change the meaning of the original post. This is one of the stock edit rejection messages: "This edit changes too much in the original post; the original meaning or intent of the post would be lost."<br>
<em>Note, of course, that if the post is a Community Wiki you should by all means change it as much as necessary.</em></p>

<p><strong>Generally, the thing to do is write your own answer!</strong><br>
If your new one is correct, people will vote it up and it will float to the top.</p>

<p>It's also completely okay to comment on an out-of-date answer to warn the OP and other users.</p>

<p>I would probably stop short of downvoting until the OP has had fair warning that their post is out of date, so that they have a chance to fix it.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>