<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Removing tag synonym
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-3108" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::71</h3>
				<h2>Removing tag synonym</h2>
<p>I was doing a little bit of poking around today and realized that <a href="https://apple.stackexchange.com/questions/tagged/waterproof" class="post-tag" title="show questions tagged &#39;waterproof&#39;" rel="tag">waterproof</a> is a synonym for <a href="https://apple.stackexchange.com/questions/tagged/environment" class="post-tag" title="show questions tagged &#39;environment&#39;" rel="tag">environment</a>. Seems correct, right? Well, let's take a look at the description of <a href="https://apple.stackexchange.com/questions/tagged/environment" class="post-tag" title="show questions tagged &#39;environment&#39;" rel="tag">environment</a>.</p>

<blockquote>
  <p>Environment variables are used to create shared settings that persist between invocations of applications. They are used to provide information such as paths to important directories, user information and other information programs need for common tasks.</p>
</blockquote>

<p>Now <em>that</em> doesn't seem right, does it.</p>

<p>I propose that we remove the tag synonym <code>waterproof</code> from <a href="https://apple.stackexchange.com/questions/tagged/environment" class="post-tag" title="show questions tagged &#39;environment&#39;" rel="tag">environment</a></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6673" class = "post">
				<p>This is going to get hijacked as a discussion on tagging theory - apologies for that. Great question - it's raising the tag curation thinking for the site - we'll do well to get all the high rep users and moderators on the same page how to work out when to synonimize, when to merge and when to maintain tags due to them being mis-applied or mis used in general.</p>
			</div>
			<div id = "comment-6676" class = "post">
				<p>Also - we'll want a chat room to bang out some ideas that are too rough for an actual post or even comments.. https://chat.stackexchange.com/transcript/message/38873057#38873057</p>
			</div>
			<div id = "comment-6694" class = "post">
				<p>You should include [waterproof] in the question title to make it clear which tag is being discussed.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-3110"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>We have a tag <a href="https://apple.stackexchange.com/questions/tagged/environmental" class="post-tag" title="show questions tagged &#39;environmental&#39;" rel="tag">environmental</a> which is a better match for <a href="https://apple.stackexchange.com/questions/tagged/waterproof" class="post-tag" title="show questions tagged &#39;waterproof&#39;" rel="tag">waterproof</a>, but it's already <a href="https://apple.stackexchange.com/tags/temperature/synonyms">synonymized</a> to <a href="https://apple.stackexchange.com/questions/tagged/temperature" class="post-tag" title="show questions tagged &#39;temperature&#39;" rel="tag">temperature</a>. Given that tag's excerpt:</p>

<blockquote>
  <p>Using Apple products in wet, dry, hot, low- or high-pressure environments.</p>
</blockquote>

<p>it's probably better to reverse that synonym direction, and a good deal of the questions are actually about Apple devices <em>themselves</em> having a high temperature. So that's worth having another look on.</p>

<p>For now, I have removed the synonym and renamed <a href="https://apple.stackexchange.com/questions/tagged/environment" class="post-tag" title="show questions tagged &#39;environment&#39;" rel="tag">environment</a> to <a href="https://apple.stackexchange.com/questions/tagged/environment-variables" class="post-tag" title="show questions tagged &#39;environment-variables&#39;" rel="tag">environment-variables</a> to avoid confusion in the future. I retagged a dozen or so questions where the tag no longer made sense, e.g. <a href="https://apple.stackexchange.com/questions/103056/retina-macbook-pro-15-overheating">this one</a>, but I could have missed some of them. My apologies for the (minor) flooding of the homepage.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6672" class = "post">
				<p>Let's go over this - I'd be tempted to go in the other direction. I'm thinking if we want to make environment variable a synonym of command line and expand that blurb to explain command line is for shells, scripting, environment variables and get rid of that tag entirely. What expert in environment variables wouldn't also be an expert in command line? Having both tags separate seems to dilute the system and not help identify leading users with that knowledge set.</p>
			</div>
			<div id = "comment-6674" class = "post">
				<p>@bmike that's a good idea, but (because of Jackson's request and my cleanup actions) it now only requires a tag merge from [environment-variables] into [command-line]. So it's not necessarily *the other direction* :)</p>
			</div>
			<div id = "comment-6675" class = "post">
				<p>Yes - I meant the other direction than what I think Jackson was asking - not the other direction of your actions. But I also need to sit down and think this out - I'll often write a bit and then need to diagram and then make sure my initial thoughts make sense. This is one where I'm on the "step A" but I'd like others to help on what the options are other than me going off to analyze / solve in one step.</p>
			</div>
			<div id = "comment-6677" class = "post">
				<p>All right. I think it's something @grgarside mentioned in his answers to the election questionnaire, and it's a project I'm looking forward to tackling once we (the new mods) have decent experience with our new tools.</p>
			</div>
			<div id = "comment-6687" class = "post">
				<p>Indeed, tags are an area I hope to work on soon   along with the existing proposals I asked a while back, I have a few more points to raise with the community about tags, which I look to bring up once I m certain with my ideas for a way forward. Your answer is a prime example of why tags need attention: the question on its own is reasonable, asking for a synonym removal, yet there is plenty more context which needs to be taken into consideration such as how the tags are being used at the moment.</p>
			</div>
			<br><div id = "ans-3111"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>This is a good question and discussion to have. Apart from the mechanics of changing a synonym. What would the purpose of "waterproof" be. On one level we could make thousands of tags to cover all the items, all the conditions, all the verbs and then try to organize them. I'm pretty sure I made the synonym (unless someone else beat me to it).</p>

<p>The other would be to have a short discussion on what the tags will do for the main site. My inclination would be to look at the various envorinmental concerns and see if they are adequately searchable without needing a special tag and maybe adjusting the description of environmental / environment tag.</p>

<p>Great tags explain what sort of questions that tag serves to collect. Waterproof and overheating and temperature and altitude are all operating conditions that relate to the normal functioning of hardware. It might still be better for the site to have the common tag so that the people that care to answer questions about hardware usage / design can find those questions to answer.</p>

<p>I think we can clean up the naming so that people are less likely to get confused with environment being physical vs environment being a specific classification of variable in a specific command line context.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>