<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Removing tag synonym
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Removing tag synonym</h2>
<p>I was doing a little bit of poking around today and realized that <a href="https://apple.stackexchange.com/questions/tagged/waterproof" class="post-tag" title="show questions tagged &#39;waterproof&#39;" rel="tag">waterproof</a> is a synonym for <a href="https://apple.stackexchange.com/questions/tagged/environment" class="post-tag" title="show questions tagged &#39;environment&#39;" rel="tag">environment</a>. Seems correct, right? Well, let's take a look at the description of <a href="https://apple.stackexchange.com/questions/tagged/environment" class="post-tag" title="show questions tagged &#39;environment&#39;" rel="tag">environment</a>.</p>

<blockquote>
  <p>Environment variables are used to create shared settings that persist between invocations of applications. They are used to provide information such as paths to important directories, user information and other information programs need for common tasks.</p>
</blockquote>

<p>Now <em>that</em> doesn't seem right, does it.</p>

<p>I propose that we remove the tag synonym <code>waterproof</code> from <a href="https://apple.stackexchange.com/questions/tagged/environment" class="post-tag" title="show questions tagged &#39;environment&#39;" rel="tag">environment</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>We have a tag <a href="https://apple.stackexchange.com/questions/tagged/environmental" class="post-tag" title="show questions tagged &#39;environmental&#39;" rel="tag">environmental</a> which is a better match for <a href="https://apple.stackexchange.com/questions/tagged/waterproof" class="post-tag" title="show questions tagged &#39;waterproof&#39;" rel="tag">waterproof</a>, but it's already <a href="https://apple.stackexchange.com/tags/temperature/synonyms">synonymized</a> to <a href="https://apple.stackexchange.com/questions/tagged/temperature" class="post-tag" title="show questions tagged &#39;temperature&#39;" rel="tag">temperature</a>. Given that tag's excerpt:</p>

<blockquote>
  <p>Using Apple products in wet, dry, hot, low- or high-pressure environments.</p>
</blockquote>

<p>it's probably better to reverse that synonym direction, and a good deal of the questions are actually about Apple devices <em>themselves</em> having a high temperature. So that's worth having another look on.</p>

<p>For now, I have removed the synonym and renamed <a href="https://apple.stackexchange.com/questions/tagged/environment" class="post-tag" title="show questions tagged &#39;environment&#39;" rel="tag">environment</a> to <a href="https://apple.stackexchange.com/questions/tagged/environment-variables" class="post-tag" title="show questions tagged &#39;environment-variables&#39;" rel="tag">environment-variables</a> to avoid confusion in the future. I retagged a dozen or so questions where the tag no longer made sense, e.g. <a href="https://apple.stackexchange.com/questions/103056/retina-macbook-pro-15-overheating">this one</a>, but I could have missed some of them. My apologies for the (minor) flooding of the homepage.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This is a good question and discussion to have. Apart from the mechanics of changing a synonym. What would the purpose of "waterproof" be. On one level we could make thousands of tags to cover all the items, all the conditions, all the verbs and then try to organize them. I'm pretty sure I made the synonym (unless someone else beat me to it).</p>

<p>The other would be to have a short discussion on what the tags will do for the main site. My inclination would be to look at the various envorinmental concerns and see if they are adequately searchable without needing a special tag and maybe adjusting the description of environmental / environment tag.</p>

<p>Great tags explain what sort of questions that tag serves to collect. Waterproof and overheating and temperature and altitude are all operating conditions that relate to the normal functioning of hardware. It might still be better for the site to have the common tag so that the people that care to answer questions about hardware usage / design can find those questions to answer.</p>

<p>I think we can clean up the naming so that people are less likely to get confused with environment being physical vs environment being a specific classification of variable in a specific command line context.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>