<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Remove [untagged] tag from locked question
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3014" class = "post">
			<h2>Question</h2>
			<div id="vote-3014" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 56</p>
			</div>
				<h2>Remove [untagged] tag from locked question</h2>
<p><a href="https://apple.stackexchange.com/questions/279056/how-to-stop-macos-sierra-from-using-background-data">How to Stop MacOS sierra from using background Data?</a> is the only question to have the tag <a href="https://apple.stackexchange.com/questions/tagged/untagged" class="post-tag" title="show questions tagged &#39;untagged&#39;" rel="tag">untagged</a>.</p>

<p>As this tag makes no sense I tried to do the normal edit of the question to tag it correctly.</p>

<p>However as it is locked I can't. Can a moderator please remove the tag?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3014">Load Comments</button></br>
			<div id = "commentsection-3014" class = 'collapse'>
			<div id = "comment-6534" class = "comment">
				<p>@grgarside I edited the comment but your edit overwrote that :)</p>
			</div>
			<div id = "comment-6535" class = "comment">
				<p>Haha :) It wasn't my edit though, without changing anything in the actual edit, your changed edit summary won't be saved.</p>
			</div>
			</div>
				<textarea id = "speech-3014" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3014">
					<img id="start_img-3014" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3015"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3015" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Thanks. This happens when a question is migrated in to the site. The system makes an "untagged" tag if none exist so us deleting the tag isn't going to prevent this tomorrow when the next migration happens.</p>

<p>The best thing for you and others to do is to edit the question to have the correct tags for here - anyone can do that. If the question needs other edits to clarify or fix syntax, do that as well.</p>

<p>Worst case - you can vote to close the question if it's not up to the site standards or ask here like you did.</p>

<p>Thanks for the heads up the question needs an edit. If it's not already fixed, I'll have a pass at editing / closing it.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3015">Load Comments</button></br>
			<div id = "commentsection-3015" class = 'collapse'>
			<div id = "comment-6536" class = "comment">
				<p>Fixed the question already. The OP never bothered to join AD and add required details though, so it's probably best to keep the question closed</p>
			</div>
			<div id = "comment-6537" class = "comment">
				<p>In this case I could not edit the question as the edit is greyed out - as @gregarside says it it is locked</p>
			</div>
			<div id = "comment-6538" class = "comment">
				<p>Yeah I probably shouldn't have deleted my comment explaining the situation, thought it was more common knowledge. @bmike the question was part of a migration *rejection*, which locked the question, preventing non-  from editing the question to remove the tag.</p>
			</div>
			</div>
				<textarea id = "speech-3015" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3015">
					<img id="start_img-3015" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>