<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Rename tag appstore to mac-appstore and ios-appstore
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-164" class = "post">
			<h2>Question</h2>
			<h3>Score ::14</h3>
			<h3>Views ::117</h3>
				<h2>Rename tag appstore to mac-appstore and ios-appstore</h2>
<p>Since Apple's Mac Appstore is coming in less than 90 days, should we think about renaming all <a href="https://apple.stackexchange.com/questions/tagged/appstore" class="post-tag" title="show questions tagged &#39;appstore&#39;" rel="tag">appstore</a> question to <a href="https://apple.stackexchange.com/questions/tagged/ios-appstore" class="post-tag" title="show questions tagged &#39;ios-appstore&#39;" rel="tag">ios-appstore</a>, before all the question related to the Mac Appstore start to appear?</p>

<p>And in the process, create the <a href="https://apple.stackexchange.com/questions/tagged/mac-appstore" class="post-tag" title="show questions tagged &#39;mac-appstore&#39;" rel="tag">mac-appstore</a> tag.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-166"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::9</h3>
				<p><p><a href="https://apple.stackexchange.com/questions/tagged/appstore" class="post-tag" title="show questions tagged &#39;appstore&#39;" rel="tag">appstore</a> to <a href="https://apple.stackexchange.com/questions/tagged/ios-appstore" class="post-tag" title="show questions tagged &#39;ios-appstore&#39;" rel="tag">ios-appstore</a> migrated. <a href="https://apple.stackexchange.com/questions/tagged/mac-appstore" class="post-tag" title="show questions tagged &#39;mac-appstore&#39;" rel="tag">mac-appstore</a> hasn't been made yet.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-167"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Please update the tag synonyms. I've had to fill in five captchas while trying to tag <a href="https://apple.stackexchange.com/questions/3572/1451">this question</a> <code>app-store</code> and I would never have made it without knowing StackExchange in depth in the first place. The whole process was very frustrating.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-171"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>on apple.com it says summer, not 90 days</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-267" class = "comment">
				<p>Steve Jobs said 90 days from the keynote for the beta. They're already accepting submissions.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>