<html>
	<head>
		<title id = 'pagetitle'>Rename [omni-focus] to [omnifocus]
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://www.omnigroup.com/omnifocus" rel="nofollow noreferrer">OmniFocus</a> is one word, however the tag <a href="https://apple.stackexchange.com/questions/tagged/omni-focus" class="post-tag" title="show questions tagged &#39;omni-focus&#39;" rel="tag">omni-focus</a> is hyphenated.<br>
Can the tag be renamed <a href="https://apple.stackexchange.com/questions/tagged/omnifocus" class="post-tag" title="show questions tagged &#39;omnifocus&#39;" rel="tag">omnifocus</a> to reflect the correct word?</p>


<h1>ANSWERS</h1>
			</body>
</html>