<html>
	<head>
		<title id = 'pagetitle'>Rename [ios10] to [ios-10] for consistency
		</title>
	<head>
	<body id = 'pagebody'><p>It's happened again! Just like <a href="https://apple.meta.stackexchange.com/questions/2145/rename-ios8-tag-to-ios-8-and-create-synonym">last time with iOS 8</a>, can <a href="https://apple.stackexchange.com/questions/tagged/ios10" class="post-tag" title="show questions tagged &#39;ios10&#39;" rel="tag">ios10</a> be renamed to <a href="https://apple.stackexchange.com/questions/tagged/ios-10" class="post-tag" title="show questions tagged &#39;ios-10&#39;" rel="tag">ios-10</a> for consistency with the tags for the other versions of iOS?</p>


<h1>ANSWERS</h1>
		<p>Yes please and thank you.</p>

<p>I have modified the tags as suggested.</p>


	</body>
</html>