<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Rename [photos] to [photographs]
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2710" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::21</h3>
				<h2>Rename [photos] to [photographs]</h2>
<p>Sorry, I couldn't think up of a burnination zinger.</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> is ambiguous, as people may think it refers to the photos OS X application.</p>

<p>It should be renamed to <a href="https://apple.stackexchange.com/questions/tagged/photographs" class="post-tag" title="show questions tagged &#39;photographs&#39;" rel="tag">photographs</a> to avoid ambiguity.</p>

<p>There was a previous request to change it as an answer by the OP of <a href="https://apple.meta.stackexchange.com/questions/2455/synonym-for-photos-app-to-photos">Synonym for photos.app to photos</a> , but underneath that answer was a comment suggesting using the tag chat room (now frozen) or another question to discuss it.</p>

			</div><h3>Comments</h3>
			<div id = "comment-5999" class = "comment">
				<p>That won't make a difference as people will select photos rather than photographs</p>
			</div>
			<div id = "comment-6037" class = "comment">
				<p>How about a new tag for Photos the app as Photos.app and an explicit mention in the tag descriptor for the existing photos tag?</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2710">Record</button>
				<button class="record-stop" id="stop-2710">Stop</button>
				<p id="recording-2710"></p>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>