<html>
	<head>
		<title id = 'pagetitle'>Rename "ios8" tag to "ios-8" and create synonym
		</title>
	<head>
	<body id = 'pagebody'><p>Tags exist for each version of iOS have hyphens in their name, such as <a href="https://apple.stackexchange.com/questions/tagged/ios-7" class="post-tag" title="show questions tagged &#39;ios-7&#39;" rel="tag">ios-7</a>, with synonyms for the tag without the hyphen.</p>

<p>However, with iOS 8, the <a href="https://apple.stackexchange.com/questions/tagged/ios-8" class="post-tag" title="show questions tagged &#39;ios-8&#39;" rel="tag">ios-8</a> does not exist and instead the only tag is <a href="https://apple.stackexchange.com/questions/tagged/ios8" class="post-tag" title="show questions tagged &#39;ios8&#39;" rel="tag">ios8</a>.</p>

<p>Can this be rectified to be in the same style as the other versions of iOS?</p>


<h1>ANSWERS</h1>
		<p>You're right. I've made the rename and synonym. Thanks </p>


	</body>
</html>