<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Rename [photos] to [photographs]
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2710" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::21</h3>
				<h2>Rename [photos] to [photographs]</h2>
<p>Sorry, I couldn't think up of a burnination zinger.</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> is ambiguous, as people may think it refers to the photos OS X application.</p>

<p>It should be renamed to <a href="https://apple.stackexchange.com/questions/tagged/photographs" class="post-tag" title="show questions tagged &#39;photographs&#39;" rel="tag">photographs</a> to avoid ambiguity.</p>

<p>There was a previous request to change it as an answer by the OP of <a href="https://apple.meta.stackexchange.com/questions/2455/synonym-for-photos-app-to-photos">Synonym for photos.app to photos</a> , but underneath that answer was a comment suggesting using the tag chat room (now frozen) or another question to discuss it.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5999" class = "post">
				<p>That won't make a difference as people will select photos rather than photographs</p>
			</div>
			<div id = "comment-6037" class = "post">
				<p>How about a new tag for Photos the app as Photos.app and an explicit mention in the tag descriptor for the existing photos tag?</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>