<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Rename "one-note" tag to "onenote"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Rename "one-note" tag to "onenote"</h2>
<p>Microsoft OneNote doesn't have a space in its name, yet <a href="https://apple.stackexchange.com/questions/tagged/one-note" class="post-tag" title="show questions tagged &#39;one-note&#39;" rel="tag">one-note</a> has a hyphen in its name.</p>

<p>Could the hyphen be removed from the tag name?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Done. Thank you for catching that.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>