<html>
	<head>
		<title id = 'pagetitle'>Rename [libre-office] to [libreoffice]
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://www.libreoffice.org" rel="nofollow noreferrer">LibreOffice</a> is one word, however the tag <a href="https://apple.stackexchange.com/questions/tagged/libre-office" class="post-tag" title="show questions tagged &#39;libre-office&#39;" rel="tag">libre-office</a> is hyphenated.<br>
Can the tag be renamed <a href="https://apple.stackexchange.com/questions/tagged/libreoffice" class="post-tag" title="show questions tagged &#39;libreoffice&#39;" rel="tag">libreoffice</a> to reflect the correct word?</p>


<h1>ANSWERS</h1>
		<p>Done. Thanks for pointing this out.</p>


	</body>
</html>