<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Rename "one-note" tag to "onenote"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2262" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::56</h3>
				<h2>Rename "one-note" tag to "onenote"</h2>
<p>Microsoft OneNote doesn't have a space in its name, yet <a href="https://apple.stackexchange.com/questions/tagged/one-note" class="post-tag" title="show questions tagged &#39;one-note&#39;" rel="tag">one-note</a> has a hyphen in its name.</p>

<p>Could the hyphen be removed from the tag name?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2263"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Done. Thank you for catching that.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4269" class = "post">
				<p>I thought all MS office tags were synonymns >http://meta.apple.stackexchange.com/questions/1317/proposal-to-merge-ms-office-tags-to-better-surface-experts-in-that-field></p>
			</div>
			<div id = "comment-4279" class = "post">
				<p>@Mark OneNote is a separate app on iOS and OS X, separate from Office.</p>
			</div>
			<div id = "comment-4280" class = "post">
				<p>@grgarside MS seem to see it as part of Office - OneNote is part of Office support http://office.microsoft.com/en-us/onenote-help/ also the reason for combining in the number of people following the tag I think holds</p>
			</div>
			<div id = "comment-4281" class = "post">
				<p>@Mark For the purposes of transparency in this discussion, [Daniel posted the following below](http://i.stack.imgur.com/tzmcf.png). Either way, the discussion of merging this tag was not the intention of my original question and these comments are definitely not the best place to discuss this. Feel free to start a separate discussion regarding this.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>