<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Rename [libre-office] to [libreoffice]
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2911" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::28</h3>
				<h2>Rename [libre-office] to [libreoffice]</h2>
<p><a href="https://www.libreoffice.org" rel="nofollow noreferrer">LibreOffice</a> is one word, however the tag <a href="https://apple.stackexchange.com/questions/tagged/libre-office" class="post-tag" title="show questions tagged &#39;libre-office&#39;" rel="tag">libre-office</a> is hyphenated.<br>
Can the tag be renamed <a href="https://apple.stackexchange.com/questions/tagged/libreoffice" class="post-tag" title="show questions tagged &#39;libreoffice&#39;" rel="tag">libreoffice</a> to reflect the correct word?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2912"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Done. Thanks for pointing this out.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>