<html>
	<head>
		<title id = 'pagetitle'>Rename [terminal] to [terminal.app] to make it clear the tag is for the macOS app
		</title>
	<head>
	<body id = 'pagebody'><p>Should the tag <a href="https://apple.stackexchange.com/questions/tagged/terminal" class="post-tag" title="show questions tagged &#39;terminal&#39;" rel="tag">terminal</a> be renamed to <a href="https://apple.stackexchange.com/questions/tagged/terminal.app" class="post-tag" title="show questions tagged &#39;terminal.app&#39;" rel="tag">terminal.app</a>? I think this would help make it clear that the tag should only be used on questions regarding the macOS Terminal.app.</p>

<p>General command line questions not specific to the Terminal app should use <a href="https://apple.stackexchange.com/questions/tagged/command-line" class="post-tag" title="show questions tagged &#39;command-line&#39;" rel="tag">command-line</a>, as mentioned in the tag wiki excerpt for <a href="https://apple.stackexchange.com/questions/tagged/terminal" class="post-tag" title="show questions tagged &#39;terminal&#39;" rel="tag">terminal</a>:</p>

<blockquote>
  <p>questions narrowly about terminal.app alone should use this tag. Please consider using **command-line** for any question not specifically about the native terminal app</p>
</blockquote>

<p>However it is still misused heavily. Other macOS app tags have the  .app  extension, however this one doesn't.</p>

<p>Can the tag be renamed?</p>


<h1>ANSWERS</h1>
		<p>I agree with this proposal. 'Terminal.app' makes it clear that it is the app and no the general subject of command line or terminal questions. A synonym defeats this, but renaming the tag should work. </p>

<p>'Command-line' for command line issues, and 'terminal.app' for the program. </p>


	</body>
</html>