<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Rename "one-note" tag to "onenote"
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2262" class = "post">
			<h2>Question</h2>
			<div id="vote-2262" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 56</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Rename "one-note" tag to "onenote"</h2>
<p>Microsoft OneNote doesn't have a space in its name, yet <a href="https://apple.stackexchange.com/questions/tagged/one-note" class="post-tag" title="show questions tagged &#39;one-note&#39;" rel="tag">one-note</a> has a hyphen in its name.</p>

<p>Could the hyphen be removed from the tag name?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2262" class = 'collapse'>
			</div>
				<textarea id = "speech-2262" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2262">
					<img id="start_img-2262" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2263"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2263" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Done. Thank you for catching that.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2263">Load Comments</button></br>
			<div id = "commentsection-2263" class = 'collapse'>
			<div id = "comment-4269" class = "comment">
				<p>I thought all MS office tags were synonymns >http://meta.apple.stackexchange.com/questions/1317/proposal-to-merge-ms-office-tags-to-better-surface-experts-in-that-field></p>
			</div>
			<div id = "comment-4279" class = "comment">
				<p>@Mark OneNote is a separate app on iOS and OS X, separate from Office.</p>
			</div>
			<div id = "comment-4280" class = "comment">
				<p>@grgarside MS seem to see it as part of Office - OneNote is part of Office support http://office.microsoft.com/en-us/onenote-help/ also the reason for combining in the number of people following the tag I think holds</p>
			</div>
			<div id = "comment-4281" class = "comment">
				<p>@Mark For the purposes of transparency in this discussion, [Daniel posted the following below](http://i.stack.imgur.com/tzmcf.png). Either way, the discussion of merging this tag was not the intention of my original question and these comments are definitely not the best place to discuss this. Feel free to start a separate discussion regarding this.</p>
			</div>
			</div>
				<textarea id = "speech-2263" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2263">
					<img id="start_img-2263" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>