<html>
	<head>
		<title id = 'pagetitle'>Rename "one-note" tag to "onenote"
		</title>
	<head>
	<body id = 'pagebody'><p>Microsoft OneNote doesn't have a space in its name, yet <a href="https://apple.stackexchange.com/questions/tagged/one-note" class="post-tag" title="show questions tagged &#39;one-note&#39;" rel="tag">one-note</a> has a hyphen in its name.</p>

<p>Could the hyphen be removed from the tag name?</p>


<h1>ANSWERS</h1>
		<p>Done. Thank you for catching that.</p>


	</body>
</html>