<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Reopening specific Yosemite pre-release questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2268" class = "post">
			<h2>Question</h2>
			<div id="vote-2268" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 20</p>
			</div>
				<h2>Reopening specific Yosemite pre-release questions</h2>
<p>There are similar questions regarding reopening in here, but the 'master' question is about Lion &amp; has no accepted answer.<br>
I'm aiming for more specific questions, as people spot them, to perhaps be listed here for consideration, rather than each needing its own meta question.</p>

<p>It might be useful to gather a list of possibles for reopening, if they show issues which were not resolved by the release, or are repeatable pitfalls many users can fall into.  I'm in no way advocating any kind of blanket reopen purely because Yosemite &amp; iOS8 are now released.</p>

<p>Perhaps just using comments for each, with a simple 'Open - <em>reason</em>' or Close - <em>reason</em>' as a straw poll?</p>

<p>My starter would be...<br>
Since Yosemite beta, there have been many questions relating to partitioning on Logical Volume groups.  </p>

<p>I'm not certain we really have one definitive Question/Answer on it yet, but one that would appear to be fairly comprehensive is this one - <a href="https://apple.stackexchange.com/questions/134498/unable-to-resize-partitions">Unable to Resize Partitions</a> which is marked as closed. Do we consider it a likely candidate to reopen?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2268" class = 'collapse'>
			</div>
				<textarea id = "speech-2268" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2268">
					<img id="start_img-2268" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2273"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2273" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Closed questions can be put into the reopen queue by</p>

<ul>
<li>users requesting a reopen by clicking the "reopen" label beneath the question (requires >3000 reputation)</li>
<li>users editing a closed question (e.g. to improve issues pointed out in comments, add some details etc.)</li>
<li>moderators after question got flagged by a &lt;3000 rep user</li>
</ul>

<p>The "reopen" queue works the same way as the other review queues, so if enough reviewers (3 or 5, don't remember right now) support the reopen, the question gets reopened.</p>

<p>Also please keep in mind that a closed question doesn't disappear from the site and still shows up in search results. So unless you expect additional answers to be given to a closed question there is no direct benefit from opening a closed question.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2273" class = 'collapse'>
			</div>
				<textarea id = "speech-2273" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2273">
					<img id="start_img-2273" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>