<html>
	<head>
		<title id = 'pagetitle'>Reopening closed Lion questions
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/580/what-should-we-do-with-closed-questions-about-pre-release-beta-software-after-the">What should we do with closed questions about pre-release/beta software after the software has been released?</a>  </p>
</blockquote>



<p>It looks like there are a bunch of Lion questions which were closed before Lion was officially shipping. Should we reopen these now?</p>


<h1>ANSWERS</h1>
			</body>
</html>