<html>
	<head>
		<title id = 'pagetitle'>Rephrase 'Basic Customer Support' off-topic wording
		</title>
	<head>
	<body id = 'pagebody'><p>I flagged <a href="https://apple.stackexchange.com/questions/251737/ios-app-that-delivers-push-notifications-for-twitter-hanshtags">this question</a> and commented that it would be better suited for the <a href="https://softwarerecs.stackexchange.com/">SR</a> site, instead.  </p>

<p>@patrix, and probably others, agreed and put the question on hold.  I was reading the 'hold' wording and realized it didn't mention the SR site at all:</p>

<blockquote>
  <p>"Basic Customer Support or <strong>questions asking to recommend or find off-site resources (Mac/book/software/tutorial)</strong> are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit to clearly describe your problem and the research done so far to solve it."</p>
</blockquote>

<p><em>Emphasis added by me.</em></p>

<p>I didn't know the SR existed until a few weeks ago so I'm sure many others don't realize it, either.  An OP who reads this wouldn't realize there's an entire site dedicated to seeking recommendations; instead, they're directed to edit they're question to describe the problem they're having.  Maybe they don't have a problem and just want a recommendation?</p>

<p>Should the wording of this message be changed to direct the OP to either edit they're question, as it currently says, or ask the question on the SR site?</p>


<h1>ANSWERS</h1>
		<p>Given that we also have <a href="https://apple.meta.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation">How should I ask about getting a software recommendation?</a> (which implies that asking about software recommendation can be on-topic if done properly) the close reason definitively might need need some work here. The goal should be to put questions on hold which basically say "I need a tool to do xyz" (see also <a href="https://apple.meta.stackexchange.com/questions/2426/adding-a-close-reason-to-explain-why-recommendations-hardware-book-are-off-to?rq=1">Adding a close reason to explain why recommendations (hardware, book) are Off Topic</a>) and point the asker to a page with advice on how to improve the question.</p>

<p>Any ideas on how this could be written better? Please post as an answer here.</p>


<p>I'm in favor of keeping as simple and as close to the current wording as possible.</p>

<blockquote>
  <p>"Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. <a href="https://softwarerecs.stackexchange.com/">Software</a>/<a href="https://hardwarerecs.stackexchange.com/">Hardware</a> recommendations can be asked at their own dedicated sites.  Alternatively, edit to clearly describe your problem and the research done so far to solve it."</p>
</blockquote>


<p>I've added a new answer to keep track of the revisions.  Based on the discussion comments, here's an updated close answer.  I added the last sentence to make sure we're clear in our direction (and avoid frustration on both sides of the question).  </p>

<blockquote>
  <p>"Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, use the <a href="https://apple.meta.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation?noredirect=1&amp;lq=1">guidelines described here</a> to edit your question, clearly describing the problem you want to solve, the research you've done so far, and what software you've already tried."</p>
</blockquote>


	</body>
</html>