<html>
	<head>
		<title id = 'pagetitle'>Replying to one's own question
		</title>
	<head>
	<body id = 'pagebody'><p>Is there a policy about replying to one's own question? It might happen (and it has just happened to me) that on further thought or research, one finds a solution to his own problem, which might deserve a place alongside other people's answers. Is this acceptable?</p>


<h1>ANSWERS</h1>
		<p>From the <a href="https://apple.stackexchange.com/faq">FAQ</a>:</p>

<blockquote>
  <p>It s also perfectly fine to ask and answer your own question, as long as you pretend you re on Jeopardy: phrase it in the form of a question.</p>
</blockquote>

<p>It is encouraged to answer your own question, as long as it meets the standard Q&amp;A format.</p>


<p>If you post a question about a problem you have, then find the solution to your own problem, please, please post it.</p>

<p>While official policy is to <a href="http://blog.stackoverflow.com/2011/07/its-ok-to-ask-and-answer-your-own-questions/">encourage self-answering questions</a>, I personally take a dimmer view of people who post a question then answer their own question seconds later. If it's a common problem to which the user wants to document the solution, that can be a helpful contribution to the site, but frankly I hold such questions to a higher standard of "it better be a good general question."</p>

<p>In general, SE question serve two purposes: they help the OP get the information they need, and they create a searchable archive of useful information for people who encounter the problem in the future. If a question seems likely to <em>only</em> fill the first role, it gets closed as "too localized." But an instantly self-answered question only fills the second role, so it had better be good at that second role (i.e. it should be something that others are likely to look for).</p>

<p>If someone asks and then instantly answers their own question, my first response is to ask "what's the point?" Sometimes there is indeed a good point in documenting the question, but if there isn't, I'm likely to vote against the question.</p>


	</body>
</html>