<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Reputation scores get in the way of using the forum
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2070" class = "post">
			<h2>Question</h2>
			<div id="vote-2070" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 100</p>
			</div>
				<h2>Reputation scores get in the way of using the forum</h2>
<p>I just joined apple.stackexchange.com, where I signed up so I could <a href="https://apple.stackexchange.com/questions/36569/">take part in a question that is of interest to me</a>.</p>

<p>The first and only answer given was not an answer at all, but a statement to the OP to give up his quest of achieving something he asked help on.  I also need the same information the OP asked for.</p>

<p>However, because I don't have any rep, I could not post a comment, nor could I even down vote the answer described above. And thus I decided that I wanted to be heard and posted my comment as an answer.</p>

<p>Shortly there after, an admin came along and deleted my post.  Why didn't he delete the 'so called' answer given?  So, what do I do now?  Leave the site?   That's really not fair.</p>

<p>The implementation of what privileges are available based on reputation points is kind of skew-if.  It doesn't make sense and works against the boards intentions.  </p>

<p>I'm posting this here because its not the first time I've found myself in that awkward situation.  It just makes me feel like leaving and never coming back.</p>

<p>Respectfully,
Nap</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2070" class = 'collapse'>
			</div>
				<textarea id = "speech-2070" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2070">
					<img id="start_img-2070" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2071"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2071" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was on the fence trying to figure out how to convert your post into an actual answer. Why not start with answering the question and let's leave aside why the other answerer is so wrong. </p>

<p>I've undeleted your post since clearly you are interested in helping out. Let's work on getting you some reputation so you can comment constructively (telling someone their post is wrong is encouraged - especially when backed up with facts or at least an opinion that can be understood.)</p>

<p>Can you clean up the answer to be sure to address first the question at hand and then perhaps an aside as to why and how the other answer is not helpful.</p>

<p>If your post only is "me too", no matter how eloquent, it will get removed again since that's just not how the site works - high reputation or low reputation. Your best bet would be to ask a new question explaining you want to do surface mount soldering and ask for details. Then we could have a question for what most people do - go get a component level repair and what you seem to be seeking - how to repair a damaged/failed component.</p>

<p>Basically - the dealer might replace the engine in a car under warranty, but a car enthusiast might rebuild the engine of a car - especially when the engines are no longer being made.</p>

<hr>

<p>Meta note - Thanks for asking - do realize that this is exactly how the sites are designed to work to start people on asking/answering and then only allowing comments once you've gotten the hang of each site. Also, this isn't a forum in the sense that there are no norms and rules - so please have a look at the <a href="https://apple.stackexchange.com/help">Help Center</a> which tries to explain how the system allows others to vote you the privilege of commenting in general.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2071">Load Comments</button></br>
			<div id = "commentsection-2071" class = 'collapse'>
			<div id = "comment-3982" class = "comment">
				<p>Thanks bmike.  As per my comment to 'stuffe' it was the only way I could think of to send you a message.  It was only after a while that I decided to post about the rep problem, and I originally did it at Meta StackExchange as the implementation is across all Stack sites.  I will see what I can do with my post.</p>
			</div>
			<div id = "comment-3985" class = "comment">
				<p>@Nap if you want to reach out to us you can always [drop in to the chat channel for AD](http://chat.stackexchange.com/rooms/38/ask-different-chat). That's a much better way to have a discussion than to post and hope it gets flagged.</p>
			</div>
			<div id = "comment-3988" class = "comment">
				<p>Thanks for that, didn't know about it.  Have to figure that one out, since I don't appear to be logged into it, yet I'm logged in here.  And you need 20 rep to participate... lol</p>
			</div>
			<div id = "comment-3989" class = "comment">
				<p>@Nap Sign up for chat from your SO account. You have 60 rep there ;-) One account anywhere gets you chat everywhere on the network.</p>
			</div>
			<div id = "comment-3990" class = "comment">
				<p>So I can use my StackOverflow account,  ic.</p>
			</div>
			</div>
				<textarea id = "speech-2071" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2071">
					<img id="start_img-2071" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2072"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2072" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're in the right place to ask this sort of thing here, much better than editing  similar questions into a deleted post which only you and the Moderators can see anyway.</p>

<p>The most basic answer is that your answer was deleted because it was not an answer, which you are already aware of.  As such it was flagged by another user of the site (actually it was flagged twice by different users) which brings it onto our review queue.  @bmike was merely the first person with the authority to handle the flag who saw it, and he removed it as per our posting guidelines, because answers that are commentary/discussion/me too/thanks/another question etc are not valid ones, and he indicated as such in a comment to explain why he removed it.  I just need to make sure you understand that an Admin didn't "just come along and remove it" for no reason, it went through our proper flag and review process, and I would have reached the same conclusion and removed it also.</p>

<p>Now, as for why you had to do it this way because of your low reputation score, that's another story.  I have to disagree with you when you say "It doesn't make sense and works against the boards intentions".  To my mind, it makes perfect sense, and that's only partly because I get to see <em>everything</em> that is posted, including all the stuff we have to remove regularly to keep the site on topics and used as it is meant to be used.  It takes <a href="https://apple.stackexchange.com/help/privileges">very little effort</a> to earn enough rep to be able to vote and comment, and you should really try to gain these privileges in order to then progress your own questions properly.  The privileges are earned in a way that allows you to contribute properly and to guide your contributions to ensure they are appropriate by not allowing your to, for example, engage in lengthy discussions in comments (Not saying you would have, but it happens, and when such stuff is then subsequently flagged, I can almost guarantee it's a low rep user who hasn't quite got it etc).  Making you earn your privileges avoids a <em>lot</em> of clean up required by the Moderators.</p>

<p>Now, finally as to the existing answer, and why it wasn't removed you just need to consider that when a contribution is flagged, there is no requirement for whichever of us <em>volunteer</em> Mods to then go and perform a full audit of the Question and all it's Answers that haven't been flagged.  It's there still because no-one has flagged it, because it's got votes, and because while it's not a solution to the OP, it is still a <em>valid answer</em> to my mind.  If you don;t think it is, you only need 15 rep to flag it to us in the same way your post was flagged, and we'll review it.  Please consider that this isn't a personal tech helpdesk service where we have to answer your question the way you want it in a "customer is always right" sort of scenario.  Everything on the site, from the moment it leaves your keyboard, is community owned and community edited and moderated.  While the answer might not be what the OP and yourself are looking for, if we feel it may well help <em>other people</em> in the future, we can leave it there.  The community will up and down vote and flag as appropriate to ensure that answers are <em>useful overall</em>, and very often a *"You can't do that" is appropriate.  In this particular scenario, while I imagine that a couple of people may have the skills to identify and solder individual components onto a motherboard without damaging it, I imagine there are also a lot more people who would appreciate being told that this is the only way and the replacement at a part level is maybe a better solution for those of us without mad skills with the flux.</p>

<p>Anyway, I hope this explains the general reasoning behind why what was removed was removed, and why what is still there is still there.  Please just take the time to look around for a couple of questions to answer.  Just 2 upvotes will give you more rep to do more things on the site.  </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2072">Load Comments</button></br>
			<div id = "commentsection-2072" class = 'collapse'>
			<div id = "comment-3980" class = "comment">
				<p>Thanks for investigating.  I edited the deleted post as it was the only way I could say something about what happened.  This is not the only stack exchange where I participate, and whilst I don't have a lot of rep, I have enough rep at StackOverflow (which perhaps could have been carried across with my other account credentials when I joined this board) to post comments and more. I understand how the game is played.  I have a broken computer next to me which I would like to fix. And I do know how to solder, and there are a lot of hobbyists around. Matt doesn't have a broken computer...</p>
			</div>
			<div id = "comment-3981" class = "comment">
				<p>If your rep on other sites is sufficient, it assumes you know the ropes and gives you a bonus 100 association bonus when joining other SE sites to prevent this sort of thing</p>
			</div>
			<div id = "comment-3983" class = "comment">
				<p>Sorry, my rep is only 69 atm.  It's taken me a long time to get to that, over a year.  I only speak when I have something to add, and I spend a lot of time researching my problems before I post a question, which doesn't leave many questions to post.  So, not being a chatterbox works against me.</p>
			</div>
			<div id = "comment-3984" class = "comment">
				<p>@Nap you can now post an answer to your own question when  you post the question, adding to the zeitgest and knowledge base -- so even you don't need an answer, consider adding your knowledge! You get rep for it.</p>
			</div>
			<div id = "comment-3987" class = "comment">
				<p>IC..  Not the same as helping someone out though.  But I'll keep that in mind.</p>
			</div>
			</div>
				<textarea id = "speech-2072" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2072">
					<img id="start_img-2072" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>