<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Reputation breakdown fails to show when (e.g.) +50 and -50 =0
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1092" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::71</h3>
				<h2>Reputation breakdown fails to show when (e.g.) +50 and -50 =0</h2>
<p>On <a href="https://apple.stackexchange.com/users/9495/stuffe?tab=reputation">this page</a> where your reputation is graphed which is the page you hit just clicking your score in the header, if you lose some reputation (say a 100 bounty) and then gain the same amount of reputation (say 10 up votes) then your reputation for the day is zero, which is technically accurate but this prevents you from clicking on anything to show the points breakdown that you see if you have even 1 point earned for the day.  Not a big deal, but another thing that could be improved by having an invisible clickable area even if there is no bar graph to represent a change.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1093"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The other two views (<strong>post</strong> and <strong>time</strong>) <em>do</em> display the breakdown including bounties, so if you want more detail, it is available.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1976" class = "comment">
				<p>Yes they do, but unlike the graph view they show multiple days (admittedly sections, but still showing more clutter) and both remove the graph that allows you to easily flick from day to day.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>