<html>
	<head>
		<title id = 'pagetitle'>Reputation breakdown fails to show when (e.g.) +50 and -50 =0
		</title>
	<head>
	<body id = 'pagebody'><p>On <a href="https://apple.stackexchange.com/users/9495/stuffe?tab=reputation">this page</a> where your reputation is graphed which is the page you hit just clicking your score in the header, if you lose some reputation (say a 100 bounty) and then gain the same amount of reputation (say 10 up votes) then your reputation for the day is zero, which is technically accurate but this prevents you from clicking on anything to show the points breakdown that you see if you have even 1 point earned for the day.  Not a big deal, but another thing that could be improved by having an invisible clickable area even if there is no bar graph to represent a change.</p>


<h1>ANSWERS</h1>
		<p>The other two views (<strong>post</strong> and <strong>time</strong>) <em>do</em> display the breakdown including bounties, so if you want more detail, it is available.</p>


	</body>
</html>