<html>
	<head>
		<title id = 'pagetitle'>Reputation Points & Bounty Payments
		</title>
	<head>
	<body id = 'pagebody'><p>When offering a Bounty, the points are immediately removed from your reputation score.  It's like they are put in escrow in some purgatory until they are either awarded or the time is up.  Would it not be better for them to remain shown against a users total, and removed only when they have been awarded?  I can't imagine why it's done this way, particularly as for new users it could result in loss of privilege if offering your first bounty dips you back under the threshold?</p>


<h1>ANSWERS</h1>
		<p>I'm willing to bet that behavior is by design. As you point out, you lose points through a bounty one way or another. An immediate withdrawal from their account once the bounty is posted should cause people to think twice about their question so that they don't spend their points on anything frivolous.</p>

<p>In this context, reputation is truly a form of currency and therefore should be treated with the same respect.</p>


<p>I believe that there is a reason behind the current behavior. The reason, put simply, is to discourage abuse of the system.</p>

<p>Imagine this scenario:  </p>

<ul>
<li>Someone offers a bounty on a question. They lose no rep yet.</li>
<li>The bounty encourages people to answer.</li>
<li>Someone correctly answers the question.</li>
<li>The asker, wanting to save some rep, decides to pretend that the answer didn't work and not award the bounty.</li>
</ul>

<p>So, this could allow the asker to get an answer because of the bounty, but not 'pay' the promised amount.</p>

<p>Now, with the current system, the asker loses their rep right away and it's put to the side until it is awarded. There's no way that the asker can regain or avoid losing their rep.<br>
Now, when someone correctly answers the question, the asker has no reason not to award the bounty.</p>

<p>Note that there is already a system in place to help stop abuse of the bounty system: If the bounty is not awarded, the highest-voted new answer with 2 or more upvotes is automatically awarded half the bounty.<br>
However, I don't think that this system would be sufficient on its own.</p>


	</body>
</html>