<html>
	<head>
		<title id = 'pagetitle'>Reputation on the recent page but it does not change next to the name on the top bar.
		</title>
	<head>
	<body id = 'pagebody'><p>I noticed reputation changes on the recent page but it does not change next to the name on the top bar. Is this planned or a bug?</p>


<h1>ANSWERS</h1>
		<p>There seems to be a delay to rep being applied between the main site and the Meta site.</p>


<p>I can reproduce this with Safari 5 on Snow Leopard 10.6.4 and I suspect this is because of the new cache system of Safari (or maybe of Mac OS X ?) and not a bug of this site precisely as it also appeared on StackOverflow, ServerFault,  </p>


<p>It's unclear what you are referring to here.</p>

<p>If you mean your reputation on meta, that is synced hourly between parent and child meta. Votes here on meta do NOT affect reputation in any way.</p>

<p>If you mean your reputation on the parent site, I'm not aware of any bugs that would prevent reputation from working as normal.</p>


	</body>
</html>