<html>
	<head>
		<title id = 'pagetitle'>Reputation on the users page
		</title>
	<head>
	<body id = 'pagebody'><p>I was looking on the <a href="https://apple.stackexchange.com/users">AD users page</a> and noticed that my reputation is at 501.
<img src="https://i.stack.imgur.com/RW1Pp.png" alt="AD user page: daviesgeek"></p>

<p>My actual reputation is at 1.2K</p>

<p><img src="https://i.stack.imgur.com/2zzgT.png" alt="Actual reputation of daviesgeek"></p>

<p>Is this a bug, or is reputation on the users page supposed to be delayed?</p>


<h1>ANSWERS</h1>
		<p>If you look on the right of the users page, you'll see something very similar to:</p>

<p><img src="https://i.stack.imgur.com/jBV5C.png" alt="snapshot of users page"></p>

<p>Notice the <em>week</em>, <em>month</em>, <em>quarter</em>, <em>year</em>, and <em>all</em> filters.  The rep shown is the amount of rep you've earned during the duration selected.  This is too highlight users that are earning rep now, not a hypothetical someone who earned rep a year ago and hasn't returned since.</p>


<p>I interpreted 501 as your UID. Although it could also be an indicator that you wear Levi's jeans, are part of the 501st Legion, live in Arkansas, or have very poor credit. </p>

<p>Joking aside, it's probably a bug/feature.</p>


	</body>
</html>