<html>
	<head>
		<title id = 'pagetitle'>reputation in Meta and Main sites out of sync?
		</title>
	<head>
	<body id = 'pagebody'><p>I can see that my reputation in Apple stack exchange site and meta sites are out of sync right now. Is there a known problem or is this the expected behavior ?</p>


<h1>ANSWERS</h1>
		<p>There's a small delay between when they update. Check back in a few minutes and it should be fine.</p>


	</body>
</html>