<html>
	<head>
		<title id = 'pagetitle'>Reputation in meta
		</title>
	<head>
	<body id = 'pagebody'><p>On the main site, I can click my reputation at the top of the screen, next to my name, and it will take me to the appropriate page of my profile. On meta, however, it does not.</p>


<h1>ANSWERS</h1>
		<p>When you click your profile on the main site, it takes you to your main profile. When you click your profile on meta, it takes you to your meta profile. On meta, you do not earn reputation; your meta profile inherits the reputation earned on the main site.</p>


	</body>
</html>