<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Reputation on the recent page but it does not change next to the name on the top bar.
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13" class = "post">
			<h2>Question</h2>
			<div id="vote-13" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
				<h2>Reputation on the recent page but it does not change next to the name on the top bar.</h2>
<p>I noticed reputation changes on the recent page but it does not change next to the name on the top bar. Is this planned or a bug?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13">Load Comments</button></br>
			<div id = "commentsection-13" class = 'collapse'>
			<div id = "comment-15" class = "comment">
				<p>I can't reproduce this.</p>
			</div>
			<div id = "comment-18" class = "comment">
				<p>You mean for you the rep on meta changes on the top bar?</p>
			</div>
			<div id = "comment-19" class = "comment">
				<p>Ah, I thought you meant the main site. No, I don't see any rep change on meta.</p>
			</div>
			<div id = "comment-21" class = "comment">
				<p>Ah, well. Bug? =)</p>
			</div>
			<div id = "comment-22" class = "comment">
				<p>Well it just showed up for me now.</p>
			</div>
			</div>
				<textarea id = "speech-13" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13">
					<img id="start_img-13" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-28"  class = "post">
				<h2>Answer</h2>
			<div id="vote-28" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There seems to be a delay to rep being applied between the main site and the Meta site.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-28" class = 'collapse'>
			</div>
				<textarea id = "speech-28" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-28">
					<img id="start_img-28" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-44"  class = "post">
				<h2>Answer</h2>
			<div id="vote-44" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can reproduce this with Safari 5 on Snow Leopard 10.6.4 and I suspect this is because of the new cache system of Safari (or maybe of Mac OS X ?) and not a bug of this site precisely as it also appeared on StackOverflow, ServerFault,  </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-44">Load Comments</button></br>
			<div id = "commentsection-44" class = 'collapse'>
			<div id = "comment-250" class = "comment">
				<p>happens to me in FireFox as well.</p>
			</div>
			</div>
				<textarea id = "speech-44" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-44">
					<img id="start_img-44" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-162"  class = "post">
				<h2>Answer</h2>
			<div id="vote-162" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's unclear what you are referring to here.</p>

<p>If you mean your reputation on meta, that is synced hourly between parent and child meta. Votes here on meta do NOT affect reputation in any way.</p>

<p>If you mean your reputation on the parent site, I'm not aware of any bugs that would prevent reputation from working as normal.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-162">Load Comments</button></br>
			<div id = "commentsection-162" class = 'collapse'>
			<div id = "comment-263" class = "comment">
				<p>Thanks. I got my answer. I was referring to the meta-site.</p>
			</div>
			</div>
				<textarea id = "speech-162" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-162">
					<img id="start_img-162" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>