<html>
	<head>
		<title id = 'pagetitle'>Reputation scores get in the way of using the forum
		</title>
	<head>
	<body id = 'pagebody'><p>I just joined apple.stackexchange.com, where I signed up so I could <a href="https://apple.stackexchange.com/questions/36569/">take part in a question that is of interest to me</a>.</p>

<p>The first and only answer given was not an answer at all, but a statement to the OP to give up his quest of achieving something he asked help on.  I also need the same information the OP asked for.</p>

<p>However, because I don't have any rep, I could not post a comment, nor could I even down vote the answer described above. And thus I decided that I wanted to be heard and posted my comment as an answer.</p>

<p>Shortly there after, an admin came along and deleted my post.  Why didn't he delete the 'so called' answer given?  So, what do I do now?  Leave the site?   That's really not fair.</p>

<p>The implementation of what privileges are available based on reputation points is kind of skew-if.  It doesn't make sense and works against the boards intentions.  </p>

<p>I'm posting this here because its not the first time I've found myself in that awkward situation.  It just makes me feel like leaving and never coming back.</p>

<p>Respectfully,
Nap</p>


<h1>ANSWERS</h1>
		<p>I was on the fence trying to figure out how to convert your post into an actual answer. Why not start with answering the question and let's leave aside why the other answerer is so wrong. </p>

<p>I've undeleted your post since clearly you are interested in helping out. Let's work on getting you some reputation so you can comment constructively (telling someone their post is wrong is encouraged - especially when backed up with facts or at least an opinion that can be understood.)</p>

<p>Can you clean up the answer to be sure to address first the question at hand and then perhaps an aside as to why and how the other answer is not helpful.</p>

<p>If your post only is "me too", no matter how eloquent, it will get removed again since that's just not how the site works - high reputation or low reputation. Your best bet would be to ask a new question explaining you want to do surface mount soldering and ask for details. Then we could have a question for what most people do - go get a component level repair and what you seem to be seeking - how to repair a damaged/failed component.</p>

<p>Basically - the dealer might replace the engine in a car under warranty, but a car enthusiast might rebuild the engine of a car - especially when the engines are no longer being made.</p>

<hr>

<p>Meta note - Thanks for asking - do realize that this is exactly how the sites are designed to work to start people on asking/answering and then only allowing comments once you've gotten the hang of each site. Also, this isn't a forum in the sense that there are no norms and rules - so please have a look at the <a href="https://apple.stackexchange.com/help">Help Center</a> which tries to explain how the system allows others to vote you the privilege of commenting in general.</p>


<p>You're in the right place to ask this sort of thing here, much better than editing  similar questions into a deleted post which only you and the Moderators can see anyway.</p>

<p>The most basic answer is that your answer was deleted because it was not an answer, which you are already aware of.  As such it was flagged by another user of the site (actually it was flagged twice by different users) which brings it onto our review queue.  @bmike was merely the first person with the authority to handle the flag who saw it, and he removed it as per our posting guidelines, because answers that are commentary/discussion/me too/thanks/another question etc are not valid ones, and he indicated as such in a comment to explain why he removed it.  I just need to make sure you understand that an Admin didn't "just come along and remove it" for no reason, it went through our proper flag and review process, and I would have reached the same conclusion and removed it also.</p>

<p>Now, as for why you had to do it this way because of your low reputation score, that's another story.  I have to disagree with you when you say "It doesn't make sense and works against the boards intentions".  To my mind, it makes perfect sense, and that's only partly because I get to see <em>everything</em> that is posted, including all the stuff we have to remove regularly to keep the site on topics and used as it is meant to be used.  It takes <a href="https://apple.stackexchange.com/help/privileges">very little effort</a> to earn enough rep to be able to vote and comment, and you should really try to gain these privileges in order to then progress your own questions properly.  The privileges are earned in a way that allows you to contribute properly and to guide your contributions to ensure they are appropriate by not allowing your to, for example, engage in lengthy discussions in comments (Not saying you would have, but it happens, and when such stuff is then subsequently flagged, I can almost guarantee it's a low rep user who hasn't quite got it etc).  Making you earn your privileges avoids a <em>lot</em> of clean up required by the Moderators.</p>

<p>Now, finally as to the existing answer, and why it wasn't removed you just need to consider that when a contribution is flagged, there is no requirement for whichever of us <em>volunteer</em> Mods to then go and perform a full audit of the Question and all it's Answers that haven't been flagged.  It's there still because no-one has flagged it, because it's got votes, and because while it's not a solution to the OP, it is still a <em>valid answer</em> to my mind.  If you don;t think it is, you only need 15 rep to flag it to us in the same way your post was flagged, and we'll review it.  Please consider that this isn't a personal tech helpdesk service where we have to answer your question the way you want it in a "customer is always right" sort of scenario.  Everything on the site, from the moment it leaves your keyboard, is community owned and community edited and moderated.  While the answer might not be what the OP and yourself are looking for, if we feel it may well help <em>other people</em> in the future, we can leave it there.  The community will up and down vote and flag as appropriate to ensure that answers are <em>useful overall</em>, and very often a *"You can't do that" is appropriate.  In this particular scenario, while I imagine that a couple of people may have the skills to identify and solder individual components onto a motherboard without damaging it, I imagine there are also a lot more people who would appreciate being told that this is the only way and the replacement at a part level is maybe a better solution for those of us without mad skills with the flux.</p>

<p>Anyway, I hope this explains the general reasoning behind why what was removed was removed, and why what is still there is still there.  Please just take the time to look around for a couple of questions to answer.  Just 2 upvotes will give you more rep to do more things on the site.  </p>


	</body>
</html>