<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Request for spam information
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2929" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::136</h3>
				<h2>Request for spam information</h2>
<p>I don't know if this is an appropriate question to ask here, but I thought this would be the best place to ask. I have noticed (especially recently) a LOT of spam questions (true spam, like for body-building products or magic ED fixes). I noticed three within the span of a few hours the other day and just flagged another one now. I feel like this site gets more than it should and more than the other site I'm on (photography).</p>

<p>So, my questions are:</p>

<p>1) Am I completely wrong in my assumption that there is way too much spam, or have others noticed it too?</p>

<p>2) Is there anything that can be done to prevent spam questions like these from ever being posted?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2929">Load Comments</button></br>
			<div id = "commentsection-2929" class = 'collapse'>
			<div id = "comment-6368" class = "comment">
				<p>You might want to look at [Charcoal HQ's statistics](https://metasmoke.erwaysoftware.com/graphs?timeframe=all) -- briefly, Drupal is the site in the Stack Exchange network which receives the most spam in relation to its user base, but Apple.SE is probably in the top 5 (8th position by absolute numbers). For a start, you might want to check out the [chat room](http://chat.stackexchange.com/rooms/11540/charcoal-hq) and see if you can find a way to contribute.</p>
			</div>
			<div id = "comment-6369" class = "comment">
				<p>Only site admins are in a position to prevent spam from being posted in the first place.  They have some IP-range blocks in place, for example, though the details are not well documented, for obvious reasons.  Maybe ask over at https://meta.stackexchange.com instead as this is in no way specific to this site.</p>
			</div>
			<div id = "comment-6370" class = "comment">
				<p>The tools mentioned in the answers do a good job in flagging/deleting spam posts within minutes. If you want to help just flag such posts as spam and move on.</p>
			</div>
			<div id = "comment-6373" class = "comment">
				<p>Just to complain more: Seriously? Three in less than 15 minutes???

https://i.stack.imgur.com/hXIzt.png</p>
			</div>
			</div>
				<textarea id = "speech-2929" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2929">
					<img id="start_img-2929" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2930"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p>Yeah, for whatever reason spammers tend to become attached to specific sites. AD happens to be a lucky winner:</p>

<p><a href="https://metasmoke.erwaysoftware.com/graphs" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/dCYmb.png" alt="enter image description here"></a></p>

<p><sup>Detected spam over the last month</sup></p>

<p>The system has some clever logic in place to block quite a bit of this... but there's a ton coming in anyway, so some will get through. There's also a <a href="https://github.com/Charcoal-SE/SmokeDetector" rel="nofollow noreferrer">community project</a> that does <a href="https://metasmoke.erwaysoftware.com/graphs" rel="nofollow noreferrer">rather well</a>.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2930" class = 'collapse'>
			</div>
				<textarea id = "speech-2930" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2930">
					<img id="start_img-2930" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2931"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>This site does get more than  it's fair share of spam at the moment, considering it's size and it's increased of late:.</p>

<p>Last month
<a href="https://i.stack.imgur.com/RQWPf.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/RQWPf.jpg" alt="enter image description here"></a></p>

<p>All time:
<a href="https://i.stack.imgur.com/hkg57.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/hkg57.jpg" alt="enter image description here"></a></p>

<p>I'm noticing the more popular programming sites tend to get more. And I think spammers see Apple and think - <em>let's go</em> Now that last bit is my opinion as to why.</p>

<p><a href="http://chat.stackexchange.com/rooms/11540/charcoal-hq">Charcoal HQ</a> monitors spam that makes it to the sites. I got these charts courtesy of the metasmoke stats, used in Charcoal HQ. Any spam reported in Charcoal gets deleted with flags. The more people active in the room at the time, the quicker it is deleted.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2931" class = 'collapse'>
			</div>
				<textarea id = "speech-2931" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2931">
					<img id="start_img-2931" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2932"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I really wish there was a one-vote ban-hammer on these - maybe like the gold badge one-vote close.</p>

<p>Maybe you could gain a spam-hammer badge after successfully flagging 100 with no false positives, or an ability added to users over <em>x</em> rep [perhaps with a review queue after the fact, to make sure it's not being mis-used]</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2932">Load Comments</button></br>
			<div id = "commentsection-2932" class = 'collapse'>
			<div id = "comment-6371" class = "comment">
				<p>Have a look at http://apple.stackexchange.com/search?tab=newest&q=deleted%3a1%20locked%3a1%20migrated%3ano%20is%3aquestion%20answers%3a0, it usually only takes a few minutes before spam questions are downvoted into oblivion. If anything I would prefer a "delete as spam and destroy user immediately" button :-)</p>
			</div>
			<div id = "comment-6372" class = "comment">
				<p>@patrix That search isn't going to work for non-mods.</p>
			</div>
			</div>
				<textarea id = "speech-2932" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2932">
					<img id="start_img-2932" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2933"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The most powerful tool we have for immediate use is for everyone to flag as spam on those posts. That ensures the best improvement on the tools to detect and suppress spam. </p>

<p>You are right. The past month here has more spam than possibly 10 months before. We the elected moderators sincerely thank you all for flagging these ham fisted spam posts so we can get them deleted from view. </p>

<p><em>Here is a search that lets moderators search for the posts fitting his pattern - <a href="https://apple.stackexchange.com/search?tab=newest&amp;q=deleted%3a1%20locked%3a1%20migrated%3ano_">https://apple.stackexchange.com/search?tab=newest&amp;q=deleted%3a1%20locked%3a1%20migrated%3ano</em></a></p>

<p><em>10k users can see deleted posts - once they get the link. Currently, 10k users can only search for their deleted posts - not anyone's posts.</em></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2933">Load Comments</button></br>
			<div id = "commentsection-2933" class = 'collapse'>
			<div id = "comment-6374" class = "comment">
				<p>Agreed, they get flagged & deleted fairly quickly; I just wish we go go **Boom!! ByeBye** with a single-click ;) btw, search looks similar to Patrix's below - looks like mods-only.</p>
			</div>
			<div id = "comment-6375" class = "comment">
				<p>The `deleted:1` search option works differently for non-mod 10K users - they see [only _their own_ deleted posts](http://meta.stackexchange.com/a/270562). So unless 10K users are spammers themselves, they won't get anything.</p>
			</div>
			<div id = "comment-6376" class = "comment">
				<p>@zaq Thanks - I better edit that out if no one useful can benefit. We already have shared that link amongst the moderation team. We're aware of the pain and share in the wish to have a perfect filter. Alas - turning up the screws on the algorithm has a need to have someone to clear false positives. It's an arms race between the algorithm to block spam and the spammers. For a good long time, the algorithm has won decisively on our site.</p>
			</div>
			</div>
				<textarea id = "speech-2933" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2933">
					<img id="start_img-2933" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>