<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Request for community consensus on what the signature tag should mean to us
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1423" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::35</h3>
				<h2>Request for community consensus on what the signature tag should mean to us</h2>
<p>I'd like to open a discussion on what we should make of the <a href="https://apple.stackexchange.com/questions/tagged/signature" class="post-tag" title="show questions tagged &#39;signature&#39;" rel="tag">signature</a> since it appears to mean several things if you look over the <a href="https://apple.stackexchange.com/questions/tagged/signature">existing questions we have that currently use this tag</a>.</p>

<p>The clear use cases for this word on an Apple centric site would be as follows (feel free to edit this as needed):</p>

<ul>
<li>email signatures in various Mail client applications for OS X and iOS.</li>
<li>handwriting capture or simulation tools using touch, stylus, mouse, etc..</li>
<li>Preview app (among others) being able to use a camera / scanner to digitize and overlay a signature</li>
<li>Apps or services designed to digitally sign a document to verify in some manner that a traceable entity has "approved" a specific version of a document. (Digital Notary services for real estate and contract comes to mind)</li>
<li>code signing and public key cryptography where a <a href="http://www.gnupg.org/gph/en/manual.html#AEN136" rel="nofollow noreferrer">signature</a> is used to certify and/or timestamp a certain entity and a specific file so that others can verify that signing event.</li>
</ul>

<p>I'd like to see if we have enough consensus to improve the tag wiki and summaries for <a href="https://apple.stackexchange.com/questions/tagged/handwriting" class="post-tag" title="show questions tagged &#39;handwriting&#39;" rel="tag">handwriting</a>, <a href="https://apple.stackexchange.com/questions/tagged/signature" class="post-tag" title="show questions tagged &#39;signature&#39;" rel="tag">signature</a>, <a href="https://apple.stackexchange.com/questions/tagged/digital-signature" class="post-tag" title="show questions tagged &#39;digital-signature&#39;" rel="tag">digital-signature</a>, and <a href="https://apple.stackexchange.com/questions/tagged/code-signing" class="post-tag" title="show questions tagged &#39;code-signing&#39;" rel="tag">code-signing</a> as well as decide if we need additional tags to map out the "signature" space a bit on the site.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1423" class = 'collapse'>
			</div>
				<textarea id = "speech-1423" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1423">
					<img id="start_img-1423" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1424"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Tags should only exist to help an audience of answerers find the questions they're looking for. I suspect there could exist an actual audience knowledgable about code signing / digital message signing who might be interested in finding and answering questions so tagged.</p>

<p>Maybe there's an audience for Digital Notary sorts of things; I could be persuaded.</p>

<p>There is no need for a signature tag referring to the bits at the end of an e-mail message separate from the tag for the mail program in question; no one is an expert in writing your name and contact information at the end of a message separate from knowing how to use e-mail programs well. If you're trying to figure out how to make program X use the <code>&lt;blink&gt;</code> tag in your signature, you don't need a signature expert, you need either an expert in that program, or in this case, better still, someone to ban you from ever using the internet again because the <code>&lt;blink&gt;</code> tag is evil.</p>

<p>The <a href="https://apple.stackexchange.com/questions/tagged/signature" class="post-tag" title="show questions tagged &#39;signature&#39;" rel="tag">signature</a> space doesn't need to be mapped out; it needs to be killed off. Remove the tag from e-mail signatures and make <a href="https://apple.stackexchange.com/questions/tagged/code-signing" class="post-tag" title="show questions tagged &#39;code-signing&#39;" rel="tag">code-signing</a> and <a href="https://apple.stackexchange.com/questions/tagged/signature" class="post-tag" title="show questions tagged &#39;signature&#39;" rel="tag">signature</a> both point to digital signature. Fewer tags = better.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1424">Load Comments</button></br>
			<div id = "commentsection-1424" class = 'collapse'>
			<div id = "comment-2707" class = "comment">
				<p>100% agree with this single sentence. `The signature space doesn't need to be mapped out; it needs to be killed off.` I disagree that signature needs to be synonimized however, I think it needs to just remain emptied out.</p>
			</div>
			<div id = "comment-2708" class = "comment">
				<p>@JasonSalaz synonymizing was my attempt at compromise. The more tags we can kill off, the better :-)</p>
			</div>
			<div id = "comment-2709" class = "comment">
				<p>Do you, or anyone else reading this, know if any other networks use tag synonyms to basically say "Don't use this tag on this site." ?</p>
			</div>
			<div id = "comment-2710" class = "comment">
				<p>Sounds great. Unless someone comes along with a compelling argument to keep signature, I'll get a post explaining why and how we'll burninate it.</p>
			</div>
			</div>
				<textarea id = "speech-1424" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1424">
					<img id="start_img-1424" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>