<html>
	<head>
		<title id = 'pagetitle'>Retagging windows7 to windows-7
		</title>
	<head>
	<body id = 'pagebody'><p>Could we please reverse the synomym for <a href="https://apple.stackexchange.com/questions/tagged/windows-7" class="post-tag" title="show questions tagged &#39;windows-7&#39;" rel="tag">windows-7</a> / <a href="https://apple.stackexchange.com/questions/tagged/windows7" class="post-tag" title="show questions tagged &#39;windows7&#39;" rel="tag">windows7</a>?</p>

<p>Currently it's <a href="https://apple.stackexchange.com/questions/tagged/windows-7" class="post-tag" title="show questions tagged &#39;windows-7&#39;" rel="tag">windows-7</a> <code>-&gt;</code> <a href="https://apple.stackexchange.com/questions/tagged/windows7" class="post-tag" title="show questions tagged &#39;windows7&#39;" rel="tag">windows7</a>, if we want to be consistent with the naming it should always have a dash.</p>


<h1>ANSWERS</h1>
		<p>Yes, if we want to be consistent, we should rename it.
<br>We've got things like <code>macbook-pro</code>, <code>ios-appstore</code>, <code>system-prefs</code>, etc.</p>

<p>Worth noting that <code>windows-7</code> is already a synonym of <code>windows7</code>.</p>


	</body>
</html>