<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Retagging windows7 to windows-7
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Retagging windows7 to windows-7</h2>
<p>Could we please reverse the synomym for <a href="https://apple.stackexchange.com/questions/tagged/windows-7" class="post-tag" title="show questions tagged &#39;windows-7&#39;" rel="tag">windows-7</a> / <a href="https://apple.stackexchange.com/questions/tagged/windows7" class="post-tag" title="show questions tagged &#39;windows7&#39;" rel="tag">windows7</a>?</p>

<p>Currently it's <a href="https://apple.stackexchange.com/questions/tagged/windows-7" class="post-tag" title="show questions tagged &#39;windows-7&#39;" rel="tag">windows-7</a> <code>-&gt;</code> <a href="https://apple.stackexchange.com/questions/tagged/windows7" class="post-tag" title="show questions tagged &#39;windows7&#39;" rel="tag">windows7</a>, if we want to be consistent with the naming it should always have a dash.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Yes, if we want to be consistent, we should rename it.
<br>We've got things like <code>macbook-pro</code>, <code>ios-appstore</code>, <code>system-prefs</code>, etc.</p>

<p>Worth noting that <code>windows-7</code> is already a synonym of <code>windows7</code>.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>