<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Retina graphics for Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1372" class = "post">
			<h2>Question</h2>
			<div id="vote-1372" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">16</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 165</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Retina graphics for Ask Different?</h2>
<p>As retina displays are <a href="http://www.apple.com/iphone/" rel="nofollow noreferrer">becoming</a> <a href="http://www.apple.com/ipad/" rel="nofollow noreferrer">more</a> <a href="http://www.apple.com/macbook-pro/" rel="nofollow noreferrer">pervasive</a> in Apple hardware, and we're here to support users of Apple products, I think it would be great if the AD site included retina versions of its image resources, such as the <strong>header image</strong>, <strong>voting buttons</strong>, and <strong>user profile photos</strong>.</p>

<p><a href="https://developer.apple.com/videos/wwdc/2012/?id=602" rel="nofollow noreferrer">This WWDC talk</a> has info about how to achieve this. There are several choices for detecting retina displays, including CSS <code>@media</code> queries and <code>window.devicePixelRatio</code>.</p>

<p>This might give you an idea of how it looks <em>without</em> retina graphics:</p>

<p><img src="https://i.stack.imgur.com/0Ahfc.png" alt="retina screenshot"></p>

<p>(Only slightly relevant but fun: <a href="http://jsfiddle.net/fy7Fn/" rel="nofollow noreferrer">AD logo I made with pure CSS</a>.)</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1372">Load Comments</button></br>
			<div id = "commentsection-1372" class = 'collapse'>
			<div id = "comment-2636" class = "comment">
				<p>Apparently I don't have Myriad Pro on my system. So the logo doesn't quite look the same. Otherwise, neat.</p>
			</div>
			<div id = "comment-2650" class = "comment">
				<p>@JasonSalaz the logo should be the same for you, since it's just an image.</p>
			</div>
			<div id = "comment-2651" class = "comment">
				<p>@Jin he's referring to the CSS logo linked at the bottom of my post (which depends on the Myriad Pro font).</p>
			</div>
			<div id = "comment-2652" class = "comment">
				<p>@jtbandes ah ok. I missed that part.</p>
			</div>
			</div>
				<textarea id = "speech-1372" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1372">
					<img id="start_img-1372" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1372">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1383"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1383" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We have plans to update all the icons for SE sites to retina at some point. It will be a lengthy process. We're still deciding on which icons have higher priority. The obvious ones are the logo and voting arrows/favstar.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1383">Load Comments</button></br>
			<div id = "commentsection-1383" class = 'collapse'>
			<div id = "comment-2653" class = "comment">
				<p>Could Ask Different act as a testbed for these changes? It would be only appropriate :)</p>
			</div>
			<div id = "comment-2654" class = "comment">
				<p>It certainly would make the most sense for AD to get them first :)</p>
			</div>
			<div id = "comment-2655" class = "comment">
				<p>Do voting buttons even have to be images? Maybe on other sites but not on this one. There are characters that match the buttons and can be manipulated with CSS color, gradient, and shadow properties.                 you know the rest.

I suppose for consistency's sake you would need them all to be images, or all to be characters, though.</p>
			</div>
			<div id = "comment-2656" class = "comment">
				<p>If you look at the html structure, each arrow is a single anchor. also, we can't use  /  as the anchor text due to screen reader issues.</p>
			</div>
			<div id = "comment-2753" class = "comment">
				<p>Using unicode symbols tends to cause issues of rendering different on different systems, depending on the font substitution.</p>
			</div>
			<div id = "comment-2758" class = "comment">
				<p>@Jin any update on the work towards updating the images for SE sites?</p>
			</div>
			<div id = "comment-3012" class = "comment">
				<p>Now that I'm using the site on a retina MBP, I really, really, really am a huge fan of the work being done incrementally. The controls that get used hundreds of times and the thin lines being drawn on review panes, mod tools and such are gorgeous. I appreciate the structural work being done even though not all icons are 2x yet.</p>
			</div>
			</div>
				<textarea id = "speech-1383" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1383">
					<img id="start_img-1383" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1383">Comment</button>
			<br><div id = "ans-2375"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2375" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Solved with the <a href="https://apple.meta.stackexchange.com/questions/2374/site-design-update">design update</a>.</p>

<p><img src="https://i.stack.imgur.com/LMhCi.png" alt=""></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2375" class = 'collapse'>
			</div>
				<textarea id = "speech-2375" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2375">
					<img id="start_img-2375" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2375">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>