<html>
	<head>
		<title id = 'pagetitle'>Retina graphics for Ask Different?
		</title>
	<head>
	<body id = 'pagebody'><p>As retina displays are <a href="http://www.apple.com/iphone/" rel="nofollow noreferrer">becoming</a> <a href="http://www.apple.com/ipad/" rel="nofollow noreferrer">more</a> <a href="http://www.apple.com/macbook-pro/" rel="nofollow noreferrer">pervasive</a> in Apple hardware, and we're here to support users of Apple products, I think it would be great if the AD site included retina versions of its image resources, such as the <strong>header image</strong>, <strong>voting buttons</strong>, and <strong>user profile photos</strong>.</p>

<p><a href="https://developer.apple.com/videos/wwdc/2012/?id=602" rel="nofollow noreferrer">This WWDC talk</a> has info about how to achieve this. There are several choices for detecting retina displays, including CSS <code>@media</code> queries and <code>window.devicePixelRatio</code>.</p>

<p>This might give you an idea of how it looks <em>without</em> retina graphics:</p>

<p><img src="https://i.stack.imgur.com/0Ahfc.png" alt="retina screenshot"></p>

<p>(Only slightly relevant but fun: <a href="http://jsfiddle.net/fy7Fn/" rel="nofollow noreferrer">AD logo I made with pure CSS</a>.)</p>


<h1>ANSWERS</h1>
		<p>We have plans to update all the icons for SE sites to retina at some point. It will be a lengthy process. We're still deciding on which icons have higher priority. The obvious ones are the logo and voting arrows/favstar.</p>


<p>Solved with the <a href="https://apple.meta.stackexchange.com/questions/2374/site-design-update">design update</a>.</p>

<p><img src="https://i.stack.imgur.com/LMhCi.png" alt=""></p>


	</body>
</html>