<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Reverse edit suggestion approval~rejection
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1528" class = "post">
			<h2>Question</h2>
			<div id="vote-1528" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
				<h2>Reverse edit suggestion approval~rejection</h2>
<p>I reviewed the <a href="https://apple.stackexchange.com/questions/34870/is-it-possible-to-remove-the-dock-in-lion/67237#67237">suggested edit of Lauri Ranta's answer</a> today, but <em>somehow</em> got distracted, and honestly didn't even pay attention to the edit enough to give it justice. I have never had this happen before but absentmindedly clicked approve. As soon as I clicked "Approve" I realized my error. </p>

<p>Is there a way to reverse this type of "vote"?</p>

<p>I understand it's not a huge deal: first, because there are more people that vote to approve/reject it, and two, rollbacks are possible, but if there is a way, I would be interested in knowing how.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1528">Load Comments</button></br>
			<div id = "commentsection-1528" class = 'collapse'>
			<div id = "comment-2871" class = "comment">
				<p>FWIW - you didn't cause the edit to be approved - the first vote was for rejection, yours was the second vote and the first for approval. Another approval made the edit live. http://apple.stackexchange.com/review/suggested-edits/history</p>
			</div>
			</div>
				<textarea id = "speech-1528" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1528">
					<img id="start_img-1528" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1529"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1529" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes - the edit history allows for this quite nicely.</p>

<p>Click the time link to the edited by community icon and then roll back to the version you would have liked to keep.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1529">Load Comments</button></br>
			<div id = "commentsection-1529" class = 'collapse'>
			<div id = "comment-2869" class = "comment">
				<p>That is a good point. Thank you. By the way, I'm curious if you happen to know how many "votes" it takes for a non-mod to approve a suggested edit? I'm guessing two or three, but not sure.</p>
			</div>
			<div id = "comment-2870" class = "comment">
				<p>It takes two @bassplayer7 - http://meta.apple.stackexchange.com/questions/1489/suggested-edits-now-take-more-than-one-review and http://meta.stackexchange.com/questions/151536/it-takes-two-to-tango</p>
			</div>
			<div id = "comment-2872" class = "comment">
				<p>Interesting. Thank you. I was just about to ask if it took two of the same votes to make it live, but then saw your comment on my question. Makes sense.</p>
			</div>
			<div id = "comment-2873" class = "comment">
				<p>The first action to gain 2 votes turns an edit suggestion into an approval or rejection.</p>
			</div>
			</div>
				<textarea id = "speech-1529" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1529">
					<img id="start_img-1529" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>