<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Reverse [handoff] and [continuity] tag synonyms
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2580" class = "post">
			<h2>Question</h2>
			<div id="vote-2580" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Reverse [handoff] and [continuity] tag synonyms</h2>
<p>I fielded a question this evening regarding an issue with Apple's Handoff functionality, which was introduced in iOS 8 and OS X Yosemite. The tag <a href="https://apple.stackexchange.com/questions/tagged/handoff" class="post-tag" title="show questions tagged &#39;handoff&#39;" rel="tag">handoff</a> is only shown as a synonym of <a href="https://apple.stackexchange.com/questions/tagged/continuity" class="post-tag" title="show questions tagged &#39;continuity&#39;" rel="tag">continuity</a>.</p>

<p>While 'Continuity' describes what Handoff does, it introduces a tag which does not represent the official term for the feature as named by Apple.</p>

<p>As I have insufficient reputation to raise a tag edit, I am posing it here. The main tag for the functionality should be renamed <a href="https://apple.stackexchange.com/questions/tagged/handoff" class="post-tag" title="show questions tagged &#39;handoff&#39;" rel="tag">handoff</a> with the synonym referenced as <a href="https://apple.stackexchange.com/questions/tagged/continuity" class="post-tag" title="show questions tagged &#39;continuity&#39;" rel="tag">continuity</a>. This change will reflect Apple's branding of the feature.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2580">Load Comments</button></br>
			<div id = "commentsection-2580" class = 'collapse'>
			<div id = "comment-5833" class = "comment">
				<p>You're right, Handoff and Continuity are different.</p>
			</div>
			<div id = "comment-5836" class = "comment">
				<p>Continuity is a feature though, it's related but not the same as Handoff</p>
			</div>
			<div id = "comment-5837" class = "comment">
				<p>Sorry, Continuity is actually the umbrella term for Handoff, Phone Calling, Instant Hotspot and SMS, see https://support.apple.com/en-us/HT204681</p>
			</div>
			<div id = "comment-5838" class = "comment">
				<p>However if you look under settings on your iOS device it says Handoff. Continuity is no where to be found. Ask Different is a forum where most of the questions will come from users not developers, and they are not going to be looking for Continuity. If nothing else, then each of those features should have a tag that matches what they are called under iOS settings, so that users can be directed to questions that cover what they need to be working with.</p>
			</div>
			<div id = "comment-5839" class = "comment">
				<p>If you look at the [press release for Yosemite](http://www.apple.com/pr/library/2014/06/02Apple-Announces-OS-X-Yosemite.html) they are referred to as continuity features, however in the first paragraph you will see that continuity is in lower case and is thus not an Apple feature in and of itself. This is highlighted in paragraph 8 where words like Handoff, Message, Hotspot are capitalized within the sentence, showing that they are proper nouns and not adjectives.</p>
			</div>
			<div id = "comment-5843" class = "comment">
				<p>I believe that Continuity is the name referred to the set of features which include Handoff. As you can see in https://support.apple.com/en-us/HT204681 , it is referred to as Continuity with a capital C.</p>
			</div>
			<div id = "comment-5857" class = "comment">
				<p>The support page is less likely to have Apple Legal scrutinize it the same way as a press release would be scrutinized, as there are implications to securities laws that an official document such as a press release could run afoul of if misworded. The function, both on the page that you linked to and in the iOS system preferences is Handoff. The only place you find continuity mentioned is on the website. Try this if you have Yosemite. Go to Finder>Help>Mac Help and in the search window type in Handoff and Contituity. Which is an accepted search term that returns help pages on the function?</p>
			</div>
			</div>
				<textarea id = "speech-2580" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2580">
					<img id="start_img-2580" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2580">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>