<html>
	<head>
		<title id = 'pagetitle'>Reverse [handoff] and [continuity] tag synonyms
		</title>
	<head>
	<body id = 'pagebody'><p>I fielded a question this evening regarding an issue with Apple's Handoff functionality, which was introduced in iOS 8 and OS X Yosemite. The tag <a href="https://apple.stackexchange.com/questions/tagged/handoff" class="post-tag" title="show questions tagged &#39;handoff&#39;" rel="tag">handoff</a> is only shown as a synonym of <a href="https://apple.stackexchange.com/questions/tagged/continuity" class="post-tag" title="show questions tagged &#39;continuity&#39;" rel="tag">continuity</a>.</p>

<p>While 'Continuity' describes what Handoff does, it introduces a tag which does not represent the official term for the feature as named by Apple.</p>

<p>As I have insufficient reputation to raise a tag edit, I am posing it here. The main tag for the functionality should be renamed <a href="https://apple.stackexchange.com/questions/tagged/handoff" class="post-tag" title="show questions tagged &#39;handoff&#39;" rel="tag">handoff</a> with the synonym referenced as <a href="https://apple.stackexchange.com/questions/tagged/continuity" class="post-tag" title="show questions tagged &#39;continuity&#39;" rel="tag">continuity</a>. This change will reflect Apple's branding of the feature.</p>


<h1>ANSWERS</h1>
			</body>
</html>