<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Reverse edit suggestion approval~rejection
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1528" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::40</h3>
				<h2>Reverse edit suggestion approval~rejection</h2>
<p>I reviewed the <a href="https://apple.stackexchange.com/questions/34870/is-it-possible-to-remove-the-dock-in-lion/67237#67237">suggested edit of Lauri Ranta's answer</a> today, but <em>somehow</em> got distracted, and honestly didn't even pay attention to the edit enough to give it justice. I have never had this happen before but absentmindedly clicked approve. As soon as I clicked "Approve" I realized my error. </p>

<p>Is there a way to reverse this type of "vote"?</p>

<p>I understand it's not a huge deal: first, because there are more people that vote to approve/reject it, and two, rollbacks are possible, but if there is a way, I would be interested in knowing how.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2871" class = "comment">
				<p>FWIW - you didn't cause the edit to be approved - the first vote was for rejection, yours was the second vote and the first for approval. Another approval made the edit live. http://apple.stackexchange.com/review/suggested-edits/history</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1529"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Yes - the edit history allows for this quite nicely.</p>

<p>Click the time link to the edited by community icon and then roll back to the version you would have liked to keep.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2869" class = "comment">
				<p>That is a good point. Thank you. By the way, I'm curious if you happen to know how many "votes" it takes for a non-mod to approve a suggested edit? I'm guessing two or three, but not sure.</p>
			</div>
			<div id = "comment-2870" class = "comment">
				<p>It takes two @bassplayer7 - http://meta.apple.stackexchange.com/questions/1489/suggested-edits-now-take-more-than-one-review and http://meta.stackexchange.com/questions/151536/it-takes-two-to-tango</p>
			</div>
			<div id = "comment-2872" class = "comment">
				<p>Interesting. Thank you. I was just about to ask if it took two of the same votes to make it live, but then saw your comment on my question. Makes sense.</p>
			</div>
			<div id = "comment-2873" class = "comment">
				<p>The first action to gain 2 votes turns an edit suggestion into an approval or rejection.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>