<html>
	<head>
		<title id = 'pagetitle'>Reverse edit suggestion approval~rejection
		</title>
	<head>
	<body id = 'pagebody'><p>I reviewed the <a href="https://apple.stackexchange.com/questions/34870/is-it-possible-to-remove-the-dock-in-lion/67237#67237">suggested edit of Lauri Ranta's answer</a> today, but <em>somehow</em> got distracted, and honestly didn't even pay attention to the edit enough to give it justice. I have never had this happen before but absentmindedly clicked approve. As soon as I clicked "Approve" I realized my error. </p>

<p>Is there a way to reverse this type of "vote"?</p>

<p>I understand it's not a huge deal: first, because there are more people that vote to approve/reject it, and two, rollbacks are possible, but if there is a way, I would be interested in knowing how.</p>


<h1>ANSWERS</h1>
		<p>Yes - the edit history allows for this quite nicely.</p>

<p>Click the time link to the edited by community icon and then roll back to the version you would have liked to keep.</p>


	</body>
</html>