<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Review "I'm Done" resulted in "No action needed"
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1966" class = "post">
			<h2>Question</h2>
			<div id="vote-1966" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 26</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Review "I'm Done" resulted in "No action needed"</h2>
<p>I just did a review and clicked I'm done. The action displays as No Action Needed. 
This is weird, as I put a comment below the review.</p>

<p>What is wrong?</p>

<p><img src="https://i.stack.imgur.com/3SiIt.png" alt="enter image description here"></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1966" class = 'collapse'>
			</div>
				<textarea id = "speech-1966" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1966">
					<img id="start_img-1966" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1966">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1967"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1967" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I presume you are referring to this review:</p>

<ul>
<li><a href="https://apple.stackexchange.com/review/first-posts/54954">https://apple.stackexchange.com/review/first-posts/54954</a></li>
</ul>

<p>Even though you've added a comment, it would appear that you selected the No Action Needed option. Even by 'reviewing' the post by adding a comment, the No Action Needed button is still enabled on the review page. It is possible that you may have accidentally clicked the button instead of the I'm Done button.</p>

<p>Even though you didn't click I'm Done, the review still counts towards both your statistics and as a review (i.e. the review is removed from the queue, unlike the Skip option). Your comment is also unaffected.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1967" class = 'collapse'>
			</div>
				<textarea id = "speech-1967" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1967">
					<img id="start_img-1967" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1967">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>