<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Revise~delete moderator flags
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Revise~delete moderator flags</h2>
<p>Is is possible to revise/delete moderator flags? I flagged something yesterday that I should have added a note to instead of just flagging with the canonical flags. If it's not possible, can this be added as a feature?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I don't think this is possible, and I'm not sure there's a need for it. I use the flagged reason as a guide, but I always look at the original post and see what needs to be done. About the only thing that really helps is if the question is a duplicate, the flagger provides the duplicate in the flag or in the comments on the question.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>