<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Review low quality posts [ looks good ]
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2021" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::41</h3>
				<h2>Review low quality posts [ looks good ]</h2>
<p><strong>Review low quality posts</strong></p>

<p>Sometimes I see one of those one-line-answers and I write a comment below.
But after reviewing I have to click one of these options: <strong>Looks good</strong> - <strong>Edit</strong> - <strong>Improve</strong> - <strong>Skip</strong></p>

<p>What should I click after adding a comment?
Is that <strong>Looks good</strong> because I don't want the answer to be removed?
Or is it <strong>Skip</strong>?</p>

<p>Both doesn't look right to me, as I wrote a comment thus not skipping that review.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2022"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I agree the naming of the options is confusing here. </p>

<p>The solution you want is Looks Good.</p>

<p>Basically Looks Good means I have reviewed the post and taken all the actions I can do. Skip always means I don't know what do to here - leave this in queue for another reviewer. </p>

<p>See this <a href="https://meta.stackexchange.com/questions/143469/in-the-new-review-beta-what-does-the-looks-good-button-actually-do">question</a> about what the buttons do and this <a href="https://meta.stackexchange.com/questions/147867/late-answers-and-first-posts-encouraging-unnecessary-actions">one</a> for why this came about</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3875" class = "post">
				<p>That was exactly why I was in doubt. I didn't want to skip, but it doesn't look good either.

The **I'm Done** option suites better IMO</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>