<html>
	<head>
		<title id = 'pagetitle'>Review low quality posts [ looks good ]
		</title>
	<head>
	<body id = 'pagebody'><p><strong>Review low quality posts</strong></p>

<p>Sometimes I see one of those one-line-answers and I write a comment below.
But after reviewing I have to click one of these options: <strong>Looks good</strong> - <strong>Edit</strong> - <strong>Improve</strong> - <strong>Skip</strong></p>

<p>What should I click after adding a comment?
Is that <strong>Looks good</strong> because I don't want the answer to be removed?
Or is it <strong>Skip</strong>?</p>

<p>Both doesn't look right to me, as I wrote a comment thus not skipping that review.</p>


<h1>ANSWERS</h1>
		<p>I agree the naming of the options is confusing here. </p>

<p>The solution you want is Looks Good.</p>

<p>Basically Looks Good means I have reviewed the post and taken all the actions I can do. Skip always means I don't know what do to here - leave this in queue for another reviewer. </p>

<p>See this <a href="https://meta.stackexchange.com/questions/143469/in-the-new-review-beta-what-does-the-looks-good-button-actually-do">question</a> about what the buttons do and this <a href="https://meta.stackexchange.com/questions/147867/late-answers-and-first-posts-encouraging-unnecessary-actions">one</a> for why this came about</p>


	</body>
</html>