<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Revisiting prerelease software
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-3100" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::23</h3>
				<h2>Revisiting prerelease software</h2>
<p>Yes, there are already a lot of questions on meta about prerelease software, but I don t think any of them actually focus on Public Betas. </p>

<p>Sure, in the past, people would illegally download developer ipsw files to get ios betas on their phones. But now, since it is easy and legal to download the iOS 11 beta (I m running it right now), we are seeing more and more questions crop up about iOS betas that do not apply to a vast majority of users on this forum, like <a href="https://apple.stackexchange.com/q/290556/191432">Will Siri in iOS 11 support Spotify?</a></p>

<p>What should we do about these questions? </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6656" class = "post">
				<p>There is no ban on beta related questions any longer. The question you're referred to needed to be closed because it was rather speculative.</p>
			</div>
			<div id = "comment-6657" class = "post">
				<p>@patrix Alright, thanks. I didn't realize that there ever was a "beta ban" but did notice an uptick in 'how do I solve this beta-specific issue' questions.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>