<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Review "I'm Done" resulted in "No action needed"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1966" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::26</h3>
				<h2>Review "I'm Done" resulted in "No action needed"</h2>
<p>I just did a review and clicked I'm done. The action displays as No Action Needed. 
This is weird, as I put a comment below the review.</p>

<p>What is wrong?</p>

<p><img src="https://i.stack.imgur.com/3SiIt.png" alt="enter image description here"></p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1966">Record</button>
				<button class="record-stop" id="stop-1966">Stop</button>
				<p id="recording-1966"></p>

<h1>Answers</h1>
			<br><div id = "ans-1967"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I presume you are referring to this review:</p>

<ul>
<li><a href="https://apple.stackexchange.com/review/first-posts/54954">https://apple.stackexchange.com/review/first-posts/54954</a></li>
</ul>

<p>Even though you've added a comment, it would appear that you selected the No Action Needed option. Even by 'reviewing' the post by adding a comment, the No Action Needed button is still enabled on the review page. It is possible that you may have accidentally clicked the button instead of the I'm Done button.</p>

<p>Even though you didn't click I'm Done, the review still counts towards both your statistics and as a review (i.e. the review is removed from the queue, unlike the Skip option). Your comment is also unaffected.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1967">Record</button>
				<button class="record-stop" id="stop-1967">Stop</button>
				<p id="recording-1967"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>