<html>
	<head>
		<title id = 'pagetitle'>Reviewing 'low quality posts' - when to recommend deletion of answer
		</title>
	<head>
	<body id = 'pagebody'><p>I've been wondering this for a while and thought it was time I sought some guidance. </p>

<p>Often when I review a low quality post I will add a comment such as the one below:</p>

<blockquote>
  <p>Welcome to Ask Different and thank you for your answer. :) Unfortunately, short answers such as this don't really provide enough detail or context to help many users. If possible, it'd be good if you could add some more info on how tabbing 20 or so times will address this issue. Also, you may want to read <a href="https://apple.stackexchange.com/questions/how-to-answer">How to Answer</a> for tips on providing answers here.</p>
</blockquote>

<p>Now, after adding the comment I still have to choose between: </p>

<ul>
<li>Looks OK</li>
<li>Edit</li>
<li>Recommend Deletion, or </li>
<li>Skip.</li>
</ul>

<p>Obviously to me the answer is not okay, and I can't edit it because I haven't come across this 'solution' before. I also don't want to Skip this as I feel it needs addressing. So this leaves me with no choice but to recommend deletion.</p>

<p>My concern is, if I select Recommend Deletion then perhaps we end up deleting an answer that actually resolves the issue for the OP. And, we potentially delete an answer before the user gets the chance to edit/improve it.</p>

<p>So I guess I'm after guidance on what has been established as best practice in these situations?</p>


<h1>ANSWERS</h1>
		<p>"It's ok" is sometimes more a "I'm done with reviewing this post" than a "The post is ok".</p>

<p>You think the post is valid but may need some editing, so leave a comment and move on. Flagging it for deletion <em>will</em> lead to deletion (at least if other users agree), if that is not what you want don't click on it :-)</p>

<p>The basic rule I usually apply is: "is the user trying to move the topic forward by at least attempting to provide an answer." If yes, then there is no reason to delete the answer. </p>


	</body>
</html>