<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Review Etiquette re: obviously incorrect or irrelevant answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1416" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::78</h3>
				<h2>Review Etiquette re: obviously incorrect or irrelevant answers</h2>
<p>Something I've seen quite a bit of while reviewing Low Quality Posts: obviously incorrect/irrelevant answers. (Case in point: <a href="https://apple.stackexchange.com/questions/1097/can-i-hide-the-keyboard-on-my-iphone-4-the-way-you-can-on-the-ipad/4013#4013">this answer</a>.) </p>

<p>What is the recommended approach to this? The answer is almost two years old and the answerer isn't even a member of Ask Different (so they're not likely to come back and fix it). I fixed the grammar (which wasn't [relatively] all that bad to begin with), and noted that it was completely irrelevant (it referenced Messages, not Mail) in a comment.</p>

<p>What is the "best" option in the review options? It doesn't "Look Good": it's crap; it doesn't need editing (anymore); and I'd like to delete it, but I'm not sure "utterly irrelevant" is a good reason to delete an answer.</p>

			</div><h3>Comments</h3>
			<div id = "comment-2702" class = "comment">
				<p>I'd edit your tags to be a bug or feature-request, but I don't want to hijack your post.</p>
			</div>
			<div id = "comment-2703" class = "comment">
				<p>@DanielLawson Hijack away. If you think this is a bug/feature request I'm all for pushing it as one.</p>
			</div>
			<div id = "comment-2749" class = "comment">
				<p>@DanielLawson I made it bug and feature-request for you.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1416">Record</button>
				<button class="record-stop" id="stop-1416">Stop</button>
				<p id="recording-1416"></p>

<h1>Answers</h1>
			<br><div id = "ans-1417"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I think that editing to make things clearer is relevant in the majority of cases, even wrong answers. It brings up the quality of the site to a higher standard.</p>

<p>In this particular example, I would have at a minimum added a quality post notice, but likely would have accepted a "Low Quality" flag and nuked the answer. Not because the answer is wrong (in which mods should otherwise take no action), but because it's a misspelled one liner with no meaningful content to speak of.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1417">Record</button>
				<button class="record-stop" id="stop-1417">Stop</button>
				<p id="recording-1417"></p>
			<br><div id = "ans-1418"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>I think you've found a problem with the review page. I've been marking such posts as "no problem" because there is no problem that requires community or moderator action. Inaction is prescribed   don't voting for that post. If one feels particularly strongly and is willing to sacrifice some reputation for it, one could vote the answer down, but that isn't one of the review options. Wrongness certainly doesn't require a flag, and editing a wrong answer to make it right seems like inappropriate over-editing in many cases.</p>

<p>But there's no "this post is terrible but that doesn't mean we should do something about it" button. I think the "best" option is to file a bug report, or, if one is feeling more charitable, a feature request.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2728" class = "comment">
				<p>definitely a feature request please.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1418">Record</button>
				<button class="record-stop" id="stop-1418">Stop</button>
				<p id="recording-1418"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>