<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Revisiting answers when new functionality is available e.g. release of iOS 5
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-651" class = "post">
			<h2>Question</h2>
			<div id="vote-651" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
				<h2>Revisiting answers when new functionality is available e.g. release of iOS 5</h2>
<p>I've just been browsing through questions tagged "iPad" and it occurred to me that there are a lot of questions for which there will be better answers once iOS 5 is released. There are a number of questions relating to file sharing, screen mirroring, over-the-air updates and the like where it appears that there will be good solutions built right into the new operating system. And it will become possible to do some things which are not possible now, or not possible to do without jailbreaking.</p>

<p>What is the procedure for handling this? Is there anything I can do when I come across such questions?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-651" class = 'collapse'>
			</div>
				<textarea id = "speech-651" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-651">
					<img id="start_img-651" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-652"  class = "post">
				<h2>Answer</h2>
			<div id="vote-652" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I suggest editing the highest voted answer to indicate it's specific to iOS versions 4.x, and then providing another answer that indicates "this works in iOS 5.x and better.."</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-652">Load Comments</button></br>
			<div id = "commentsection-652" class = 'collapse'>
			<div id = "comment-1170" class = "comment">
				<p>OK, sounds good. I think, though, that we need to wait until iOS 5 has actually been released, because we can never be sure what will actually make it into the release, or how well it will work.</p>
			</div>
			<div id = "comment-1171" class = "comment">
				<p>naturally, but a great idea to start discussing these issues in advance</p>
			</div>
			<div id = "comment-1172" class = "comment">
				<p>A separate answer to the one previously voted highest? In addition to the edition? What if the accepted answer was something other than the highest?</p>
			</div>
			<div id = "comment-1175" class = "comment">
				<p>@graham perrin - don't confuse the exceptions with the rule. We have mods and smart people for that :-) We all can vote and comment and edit to nudge the best answer without having to spell it all out. :-)</p>
			</div>
			<div id = "comment-1178" class = "comment">
				<p>@bmike thank you, just curious about procedure, exceptions and rules :-)</p>
			</div>
			</div>
				<textarea id = "speech-652" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-652">
					<img id="start_img-652" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>