<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Review 1 First Post
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Review 1 First Post</h2>
<p>I clicked the <a href="https://apple.stackexchange.com/review">review tab</a>, it showed there was 1 First Post, and 1 Early Answer to be reviewed.</p>

<p>When I clicked each, there was no task waiting for me to review.</p>

<p>Is this because someone else clicked it right before I did, or is this a bug?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This is a known behavior where others can take review tasks in the time between when you looked and when your request hit the server.</p>

<p>To check on this, you can look at the <a href="https://apple.stackexchange.com/review/first-posts/history">review history</a> for the queue that just has shown no tasks to see who handled the items that were just recently outstanding.</p>

<p>This is far more common on large sites (like Stack Overflow) where dozens of questions arrive each minute and it's not uncommon to have hundreds of reviews happen within a 60 second interval.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>