<html>
	<head>
		<title id = 'pagetitle'>Review "I'm Done" resulted in "No action needed"
		</title>
	<head>
	<body id = 'pagebody'><p>I just did a review and clicked I'm done. The action displays as No Action Needed. 
This is weird, as I put a comment below the review.</p>

<p>What is wrong?</p>

<p><img src="https://i.stack.imgur.com/3SiIt.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>I presume you are referring to this review:</p>

<ul>
<li><a href="https://apple.stackexchange.com/review/first-posts/54954">https://apple.stackexchange.com/review/first-posts/54954</a></li>
</ul>

<p>Even though you've added a comment, it would appear that you selected the No Action Needed option. Even by 'reviewing' the post by adding a comment, the No Action Needed button is still enabled on the review page. It is possible that you may have accidentally clicked the button instead of the I'm Done button.</p>

<p>Even though you didn't click I'm Done, the review still counts towards both your statistics and as a review (i.e. the review is removed from the queue, unlike the Skip option). Your comment is also unaffected.</p>


	</body>
</html>