<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Review 1 First Post
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1927" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::32</h3>
				<h2>Review 1 First Post</h2>
<p>I clicked the <a href="https://apple.stackexchange.com/review">review tab</a>, it showed there was 1 First Post, and 1 Early Answer to be reviewed.</p>

<p>When I clicked each, there was no task waiting for me to review.</p>

<p>Is this because someone else clicked it right before I did, or is this a bug?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1928"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>This is a known behavior where others can take review tasks in the time between when you looked and when your request hit the server.</p>

<p>To check on this, you can look at the <a href="https://apple.stackexchange.com/review/first-posts/history">review history</a> for the queue that just has shown no tasks to see who handled the items that were just recently outstanding.</p>

<p>This is far more common on large sites (like Stack Overflow) where dozens of questions arrive each minute and it's not uncommon to have hundreds of reviews happen within a 60 second interval.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3711" class = "comment">
				<p>I've had similar of these indeed. Always wondered if it was just that, or maybe a glitch. Thanks.</p>
			</div>
			<div id = "comment-4581" class = "comment">
				<p>With regard to the second paragraph, viewing the "full history of actions taken by others in /review by clicking the history tab" [requires 10k](http://apple.stackexchange.com/help/privileges/moderator-tools). OP can only see their *own* reviews in the history page.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>