<html>
	<head>
		<title id = 'pagetitle'>Revise~delete moderator flags
		</title>
	<head>
	<body id = 'pagebody'><p>Is is possible to revise/delete moderator flags? I flagged something yesterday that I should have added a note to instead of just flagging with the canonical flags. If it's not possible, can this be added as a feature?</p>


<h1>ANSWERS</h1>
		<p>I don't think this is possible, and I'm not sure there's a need for it. I use the flagged reason as a guide, but I always look at the original post and see what needs to be done. About the only thing that really helps is if the question is a duplicate, the flagger provides the duplicate in the flag or in the comments on the question.</p>


	</body>
</html>