<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Revisiting answers when new functionality is available e.g. release of iOS 5
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Revisiting answers when new functionality is available e.g. release of iOS 5</h2>
<p>I've just been browsing through questions tagged "iPad" and it occurred to me that there are a lot of questions for which there will be better answers once iOS 5 is released. There are a number of questions relating to file sharing, screen mirroring, over-the-air updates and the like where it appears that there will be good solutions built right into the new operating system. And it will become possible to do some things which are not possible now, or not possible to do without jailbreaking.</p>

<p>What is the procedure for handling this? Is there anything I can do when I come across such questions?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I suggest editing the highest voted answer to indicate it's specific to iOS versions 4.x, and then providing another answer that indicates "this works in iOS 5.x and better.."</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>