<html>
	<head>
		<title id = 'pagetitle'>Reviewing~Approving Post Edits for http -> https
		</title>
	<head>
	<body id = 'pagebody'><p>I'm seeing a lot of 'http -> https' suggested edits show-up in the review queue to be reviewed and approved (<a href="https://apple.stackexchange.com/review/suggested-edits/207693">example</a>).  Almost all of these are several years-old posts that don't have any other changes except for edits to a link.</p>

<p>I went thru 5 of these types of edits just this morning.</p>

<p>I understand the <a href="https://meta.stackexchange.com/questions/292058/network-wide-https-its-time">netword-wide move to https</a> and I don't have any problem with that.  <strong>I'm just wondering if it's a good use or our time to be reviewing/approving dozens of these types of edits each day?</strong>  I know I could just hit <kbd>Skip</kbd> during the review but then I'm just pushing that decision to a different reviewer and that's not fair to them.</p>

<p>I read the meta post about the move to https as well as all, well...most, of the answers &amp; comments there to try to find guidance on this topic. I believe things like this were to be handled on a site-by-site basis so I'm bringing it up here to ask for guidance. </p>


<h1>ANSWERS</h1>
		<p><a href="https://math.meta.stackexchange.com/a/26540/78482">@Glorfindel is going around the tag wikis and moving links to HTTPS.</a></p>

<p>In my opinion, this is mostly fine:</p>

<ul>
<li>the links are tidied in other ways too if necessary</li>
<li>the edits are on tag wikis so no bumping occurs</li>
<li>Ask Different generally has a low number of items in the review queue so it's not preventing other edits from going through (we're nowhere near the queue cap)</li>
</ul>

<p>One could argue this is farming reputation, but I would still say the benefits outweigh this.</p>


<p>I would suggest refraining from any sort of manual cleanup on this. The system cleanup is scripted and unless you are in making a substantive edit and happen to fix http / https you are causing human review effort for something that can / should be automated. </p>

<p>If you find breakage systematically - please raise a bug question here on meta - new questions here summon all moderators with a notification. </p>


	</body>
</html>