<html>
	<head>
		<title id = 'pagetitle'>Sales Figures are Off Topic?
		</title>
	<head>
	<body id = 'pagebody'><p>Here's a question I asked:
<a href="https://apple.stackexchange.com/questions/232549/old-ipod-ipod-mini-sales-figures">https://apple.stackexchange.com/questions/232549/old-ipod-ipod-mini-sales-figures</a></p>

<p>It was put On Hold, with this reason chosen:</p>

<blockquote>
  <p>"Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit to clearly describe your problem and the research done so far to solve it."</p>
</blockquote>

<p>The key part, I assume, is "questions asking to [...] find off-site resources [...] are off-topic for Ask Different as they tend to attract opinionated answers and spam."</p>

<p>There's nothing opinionated about the answer to my question. It's a simple factual question. I tried finding the answer and could not, so I asked.</p>

<p>So far I've only explained why the chosen reason to close is incorrect. I suppose I aught to actually argue that my question does belong. From the Help Center:</p>

<blockquote>
  <p>Ask Different is for users of Apple products. If you have a question about ...</p>
  
  <ul>
  <li>Apple hardware</li>
  <li>[...]</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>The iPod is Apple hardware, so my question is on-topic.</p>


<h1>ANSWERS</h1>
		<p>Off-Topic was probably the wrong reason, but it deserves to be closed (put "On Hold") because Apple has never provided specific sales figures, and also not broken down by iPod type.</p>

<p>It may be on topic, but it's factually unanswerable.</p>


<p>I thought I voted to put a hold on this - but others beat me to the punch. My initial thinking combines two reasons we close questions:</p>

<ol>
<li><p>Asking about how Apple does it's business isn't the core function for the site. We want to be a place to learn <em>how</em> to use Apple's products. If there were a site on how to read financial disclosures or how to find the best paid estimates of sales figures that simply don't get released - perhaps your question would be an awesome one for that site. Boiling down your question - it's not really about using iPod or any other product that Apple sells. It's more meta than that.</p></li>
<li><p>It's also primarily opinion based. You could ask a yes/no question. <strong>Does Apple report sales volume for iPod products?</strong> Some would answer yes, some would answer no. There's not much value to a question like that IMO - but it at least would have some answers people could vote on and you could select one.</p></li>
</ol>

<p>I would also have chosen the former close reason since it asks you explicitly to show some research. Maybe you're a developer looking to do market analysis. Maybe you're asking about X since you think it will answer a related question Y that might be a better fit for the site.</p>


	</body>
</html>