<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Sales Figures are Off Topic?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2764" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::96</h3>
				<h2>Sales Figures are Off Topic?</h2>
<p>Here's a question I asked:
<a href="https://apple.stackexchange.com/questions/232549/old-ipod-ipod-mini-sales-figures">https://apple.stackexchange.com/questions/232549/old-ipod-ipod-mini-sales-figures</a></p>

<p>It was put On Hold, with this reason chosen:</p>

<blockquote>
  <p>"Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit to clearly describe your problem and the research done so far to solve it."</p>
</blockquote>

<p>The key part, I assume, is "questions asking to [...] find off-site resources [...] are off-topic for Ask Different as they tend to attract opinionated answers and spam."</p>

<p>There's nothing opinionated about the answer to my question. It's a simple factual question. I tried finding the answer and could not, so I asked.</p>

<p>So far I've only explained why the chosen reason to close is incorrect. I suppose I aught to actually argue that my question does belong. From the Help Center:</p>

<blockquote>
  <p>Ask Different is for users of Apple products. If you have a question about ...</p>
  
  <ul>
  <li>Apple hardware</li>
  <li>[...]</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>The iPod is Apple hardware, so my question is on-topic.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6093" class = "comment">
				<p>I'm voting +1 on this - the help center might need some better text to help out on the class of "I want to know how Apple operates / I want to gather information that Apple clearly has but doesn't release" since you're clearly thinking closely about the issues here.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2765"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Off-Topic was probably the wrong reason, but it deserves to be closed (put "On Hold") because Apple has never provided specific sales figures, and also not broken down by iPod type.</p>

<p>It may be on topic, but it's factually unanswerable.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6091" class = "comment">
				<p>We have statistics for how many Apple Watches have been sold, even though Apple hasn't officially released numbers. I expect that, similarly, there's probably some less-than-official numbers that are available. IE, maybe in some obscure interview an Apple VP made a passing mention that they had around X sales, or maybe they mentioned that they had twice as many sales one month as another, which is something - more than we have now, which is nothing. We might not know the answer today, but maybe in a few years someone will retire and reveal it. The question is on hold, so we couldn't post.</p>
			</div>
			<div id = "comment-6092" class = "comment">
				<p>@ArtOfWarfare The hold is a temporary situation. The post can be edited and we can also figure out if I missed some aspect of the question and it should be reopened as it stands.</p>
			</div>
			<div id = "comment-6095" class = "comment">
				<p>To put the question on hold "because Apple doesn't publish sales figures" rather reeks of affiliation or inappropriate protectionism. Instead, it can be answered that "Apple doesn't publish sales figures" and that reliable figures might therefore not be found in the public domain.</p>
			</div>
			<br><div id = "ans-2766"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I thought I voted to put a hold on this - but others beat me to the punch. My initial thinking combines two reasons we close questions:</p>

<ol>
<li><p>Asking about how Apple does it's business isn't the core function for the site. We want to be a place to learn <em>how</em> to use Apple's products. If there were a site on how to read financial disclosures or how to find the best paid estimates of sales figures that simply don't get released - perhaps your question would be an awesome one for that site. Boiling down your question - it's not really about using iPod or any other product that Apple sells. It's more meta than that.</p></li>
<li><p>It's also primarily opinion based. You could ask a yes/no question. <strong>Does Apple report sales volume for iPod products?</strong> Some would answer yes, some would answer no. There's not much value to a question like that IMO - but it at least would have some answers people could vote on and you could select one.</p></li>
</ol>

<p>I would also have chosen the former close reason since it asks you explicitly to show some research. Maybe you're a developer looking to do market analysis. Maybe you're asking about X since you think it will answer a related question Y that might be a better fit for the site.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>