<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Same question different tag
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1517" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::22</h3>
				<h2>Same question different tag</h2>
<p>I want to re-ask <a href="https://apple.stackexchange.com/questions/50581/how-to-disable-all-ios-notifications-temporarily">this question</a>, but for iOS 6 (existing question, based on date, is for iOS 5).</p>

<p>What's the best way to proceed?</p>

			</div><h3>Comments</h3>
				<textarea id = "speech-1517" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1517">
					<img id="start_img-1517" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-1518"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The best way is to simply copy all the text and see if it needs editing - if you want to give credit to the original poster, that is nice - so paraphrase things unless you want it to be verbatum and you quote the author. For good form you should link to the old question and explain why you feel iOS 6 is different than iOS 5.</p>

<p>Unless you have a reason to believe the notifications are different, we should generalize the old question by an edit to say explicitly it's for iOS 5 and iOS 6.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2860" class = "comment">
				<p>Did this help? Feel free to commend, edit your question or let us know if we hit or missed the mark on this answer.</p>
			</div>
				<textarea id = "speech-1518" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1518">
					<img id="start_img-1518" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>