<html>
	<head>
		<title id = 'pagetitle'>Same question different tag
		</title>
	<head>
	<body id = 'pagebody'><p>I want to re-ask <a href="https://apple.stackexchange.com/questions/50581/how-to-disable-all-ios-notifications-temporarily">this question</a>, but for iOS 6 (existing question, based on date, is for iOS 5).</p>

<p>What's the best way to proceed?</p>


<h1>ANSWERS</h1>
		<p>The best way is to simply copy all the text and see if it needs editing - if you want to give credit to the original poster, that is nice - so paraphrase things unless you want it to be verbatum and you quote the author. For good form you should link to the old question and explain why you feel iOS 6 is different than iOS 5.</p>

<p>Unless you have a reason to believe the notifications are different, we should generalize the old question by an edit to say explicitly it's for iOS 5 and iOS 6.</p>


	</body>
</html>