<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Scam or clever way of making money
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2292" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::99</h3>
				<h2>Scam or clever way of making money</h2>
<p>I am sure you are aware of this web site that pops up in Google search using the Titles from the Ask Different.</p>

<p><a href="http://help.howproblemsolution.com/" rel="nofollow noreferrer">http://help.howproblemsolution.com/</a></p>

<p>All it does is it shows the copy of the Title or the question, but not the answers.</p>

<p>It is loaded with adds ect..</p>

<p>Just wondering is someone has found a great way to get high web site hits and make lots of money that way?</p>

<p>Maybe it is my Google search but the Tile is definitely the same the time of post is with in a hour and sometimes even the body text is almost the same.</p>

<p>Here are few examples:</p>

<p><img src="https://i.stack.imgur.com/j5q0e.jpg" alt="scam 1"></p>

<p><img src="https://i.stack.imgur.com/TsrrR.jpg" alt="scam 2"></p>

<p>Here</p>

<p><img src="https://i.stack.imgur.com/aH5Ul.jpg" alt="here"></p>

<p>and There</p>

<p><img src="https://i.stack.imgur.com/JEA8N.jpg" alt="There"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4306" class = "post">
				<p>Can you show an actual question from AskDifferent on that site (it seems to get stuff from many sites) as we need to see exactly how it is being done</p>
			</div>
			<div id = "comment-4309" class = "post">
				<p>@Mark see 2 examples of many! I will do a test with some weird title and only post it in here :)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2293"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>If you find a web site that doesn't honor the <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow noreferrer">cc by-sa 3.0</a> license with <a href="http://blog.stackoverflow.com/2009/06/attribution-required/">proper attribution</a>, you can and probably should <a href="https://apple.meta.stackexchange.com/contact">contact a stack exchange employee</a> with the details.</p>

<p>They also monitor <a href="https://apple.stackexchange.com/questions/tagged/support" class="post-tag" title="show questions tagged &#39;support&#39;" rel="tag">support</a> requests here, so you could tag the question thusly as well.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4310" class = "post">
				<p>Done and Done with more info. Clearly it is a copy cat but just for purpose of getting high level of hits to get more money from they adds. Actually very clever way. Can not find the owner of the web site.</p>
			</div>
			<div id = "comment-4559" class = "post">
				<p>@Buscar  I did the same. It's still up and running, sadly :/</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>