<html>
	<head>
		<title id = 'pagetitle'>Score box and question box are misaligned on the flags page
		</title>
	<head>
	<body id = 'pagebody'><p>The score box and the question title box have different heights on the flags page (see image below). Also, if the score is negative, the text wraps inside its box.</p>

<p><img src="https://i.stack.imgur.com/lzUuu.png" alt="enter image description here"></p>

<p>OS: 10.6.8<br>
Browser: Safari 5.1.7<br>
Extensions: Ghostery (But even with it disabled, the bug is still present.)</p>


<h1>ANSWERS</h1>
			</body>
</html>