<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>SE vs iFixit etc
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2385" class = "post">
			<h2>Question</h2>
			<div id="vote-2385" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 27</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>SE vs iFixit etc</h2>
<p>Regarding this answer - <a href="https://apple.stackexchange.com/a/176247/85275">https://apple.stackexchange.com/a/176247/85275</a></p>

<p>Ought we to leave sites like iFixit to the task of full take-aparts &amp; just provide links?</p>

<p>The alternative would be pretty much to copy it verbatim  including 'borrowing' their photographs.</p>

<p>Personally, I feel this is one time where link-only answers are the correct way to handle this type of question.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2385" class = 'collapse'>
			</div>
				<textarea id = "speech-2385" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2385">
					<img id="start_img-2385" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2388"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2388" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I say we should add value and summarize the key points of any external resource. Unless that resource is licensed under a similar creative commons license as the one we use here: <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow">http://creativecommons.org/licenses/by-sa/3.0/</a> then you'll want to attribute anything that's copied more or less verbatim properly.</p>

<p>Also, the subscriber content portion of the "legal" agreement has good guidelines on what and how you choose to submit as an answer.</p>

<blockquote>
  <p><a href="http://stackexchange.com/legal">http://stackexchange.com/legal</a></p>
</blockquote>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2388" class = 'collapse'>
			</div>
				<textarea id = "speech-2388" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2388">
					<img id="start_img-2388" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>