<html>
	<head>
		<title id = 'pagetitle'>SE vs iFixit etc
		</title>
	<head>
	<body id = 'pagebody'><p>Regarding this answer - <a href="https://apple.stackexchange.com/a/176247/85275">https://apple.stackexchange.com/a/176247/85275</a></p>

<p>Ought we to leave sites like iFixit to the task of full take-aparts &amp; just provide links?</p>

<p>The alternative would be pretty much to copy it verbatim  including 'borrowing' their photographs.</p>

<p>Personally, I feel this is one time where link-only answers are the correct way to handle this type of question.</p>


<h1>ANSWERS</h1>
		<p>I say we should add value and summarize the key points of any external resource. Unless that resource is licensed under a similar creative commons license as the one we use here: <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow">http://creativecommons.org/licenses/by-sa/3.0/</a> then you'll want to attribute anything that's copied more or less verbatim properly.</p>

<p>Also, the subscriber content portion of the "legal" agreement has good guidelines on what and how you choose to submit as an answer.</p>

<blockquote>
  <p><a href="http://stackexchange.com/legal">http://stackexchange.com/legal</a></p>
</blockquote>


	</body>
</html>