<html>
	<head>
		<title id = 'pagetitle'>Search all StackExchange Sites
		</title>
	<head>
	<body id = 'pagebody'><p>How do I use the search on AskDifferent to search all stackexchange sites.</p>

<p>Example: I have a question and would like to know if an answer exists in here or on StackOwerflow, Meta StackOwerflow...ect...</p>

<p>I know how to use Google, and how to switch the sites, but wondering if there is time saving approach within the AskDifferent.</p>


<h1>ANSWERS</h1>
		<p>You can use:</p>

<p><a href="http://stackexchange.com/search">http://stackexchange.com/search</a></p>


	</body>
</html>