<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Search for a special character returns no results
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Search for a special character returns no results</h2>
<p>I wanted to search for a special character (<kbd> </kbd>) on Ask Different before answering to a question, but a search returned null results. An answer on <a href="https://apple.stackexchange.com/questions/123568/cant-find-symbol-in-keyboard">Can&#39;t find   symbol in keyboard</a> contains the character and should be returned.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Search ignores non-alphanumeric characters except where those characters have special meaning in advanced search, such as  []  for tag search. This is <a href="/questions/tagged/status-bydesign" class="post-tag moderator-tag" title="show questions tagged &#39;status-bydesign&#39;" rel="tag">status-bydesign</a>.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>