<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Search box visual glitch
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-463" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::69</h3>
				<h2>Search box visual glitch</h2>
<p>The corners of the search box (After the redesign) looks weird on Chrome 10/OSX:
<img src="https://i.stack.imgur.com/T8o7M.jpg" alt="enter image description here"></p>

			</div><h3>Comments</h3>
			<div id = "comment-870" class = "comment">
				<p>confirmed I see it too in Chrome 10 / Win</p>
			</div>
			<div id = "comment-874" class = "comment">
				<p>This is a known problem, but I thought the Chrome team has fixed it. But apparently it hasn't. http://paulirish.com/2011/chrome-inset-box-shadow-bug-fixed/ I'll look into other solutions. If the css method fails, I'll remove it and use a bg image instead.</p>
			</div>
			<div id = "comment-875" class = "comment">
				<p>@Jin Yes, I was looking at your twitter post. According to that, it *should* be already fixed in our versions. (it reports 10.0.628.0) as the fixed version, and latest stable (Mac) is 10.0.648.204, which should be newer? :S</p>
			</div>
			<div id = "comment-876" class = "comment">
				<p>@M I'm waiting for a response from Paul Irish(who originally reported the fix) on Twitter http://bit.ly/dEzo2V I may have to use a bg image instead until this is REALLY fixed. I've been avoiding using an image because that's an extra server request...</p>
			</div>
			<div id = "comment-877" class = "comment">
				<p>@Jin I have experimented with the "fix" but couldn't make it work. However, you should *never* trust me on CSS stuff. C#? Objective-C? Yes. CSS? no ;)</p>
			</div>
			<div id = "comment-3520" class = "comment">
				<p>Can anyone comment on whether this is fixed or reproduced?</p>
			</div>
			<div id = "comment-3540" class = "comment">
				<p>It's fixed (at least in the lastest chrome version at the time) Version 29.0.1547.76</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1841"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I'm going to status declined this since we're on Chrome 29 now and that visual element is long gone from Chrome's chrome.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>