<html>
	<head>
		<title id = 'pagetitle'>Search for a special character returns no results
		</title>
	<head>
	<body id = 'pagebody'><p>I wanted to search for a special character (<kbd> </kbd>) on Ask Different before answering to a question, but a search returned null results. An answer on <a href="https://apple.stackexchange.com/questions/123568/cant-find-symbol-in-keyboard">Can&#39;t find   symbol in keyboard</a> contains the character and should be returned.</p>


<h1>ANSWERS</h1>
		<p>Search ignores non-alphanumeric characters except where those characters have special meaning in advanced search, such as  []  for tag search. This is <a href="/questions/tagged/status-bydesign" class="post-tag moderator-tag" title="show questions tagged &#39;status-bydesign&#39;" rel="tag">status-bydesign</a>.</p>


	</body>
</html>