<html>
	<head>
		<title id = 'pagetitle'>Search box text colour
		</title>
	<head>
	<body id = 'pagebody'><p>Just noticed that the colour of the text displayed on the search results page does not show the search query very clearly until the search box is re-selected.</p>

<p><strong>Blank search box waiting for a query:</strong></p>

<p><img src="https://i.stack.imgur.com/hbQaH.png" alt="Blank search box waiting for query"></p>

<p><strong>Non-selected search box on results page:</strong></p>

<p><img src="https://i.stack.imgur.com/GI8jI.png" alt="Non-selected search box on results page"></p>

<p><strong>Selected search box on results page</strong></p>

<p><img src="https://i.stack.imgur.com/qvjJf.png" alt="Selected search box on results page"></p>

<p>Perhaps the 2nd image (non-selected search box on results page) could at least be made to look like the placeholder text in the 1st image (blank search box), as it is often useful to view and edit a search query to improve results. If users are to be discouraged from editing a query using the top-right search box (and instead it is intended that they modify their query in the search box in the centre of the page above the results) perhaps the top-right search box should revert to just having place-holder text ready to accept a new query. </p>

<p>(Using Safari 5.1.1 on OS-X 10.7.2)</p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next production build.</p>


	</body>
</html>