<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Search for a special character returns no results
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2923" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::19</h3>
				<h2>Search for a special character returns no results</h2>
<p>I wanted to search for a special character (<kbd> </kbd>) on Ask Different before answering to a question, but a search returned null results. An answer on <a href="https://apple.stackexchange.com/questions/123568/cant-find-symbol-in-keyboard">Can&#39;t find   symbol in keyboard</a> contains the character and should be returned.</p>

			</div><h3>Comments</h3>
			<div id = "comment-6352" class = "comment">
				<p>Could you elaborate if this is somehow about how Ask Different the web ap works or are you looking to learn how to find that character on a specific software or hardware? Please edit the post with some details and we'll see about answering it for you.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2923">Record</button>
				<button class="record-stop" id="stop-2923">Stop</button>
				<p id="recording-2923"></p>

<h1>Answers</h1>
			<br><div id = "ans-2924"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Search ignores non-alphanumeric characters except where those characters have special meaning in advanced search, such as  []  for tag search. This is <a href="/questions/tagged/status-bydesign" class="post-tag moderator-tag" title="show questions tagged &#39;status-bydesign&#39;" rel="tag">status-bydesign</a>.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2924">Record</button>
				<button class="record-stop" id="stop-2924">Stop</button>
				<p id="recording-2924"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>