<html>
	<head>
		<title id = 'pagetitle'>Search box visual glitch
		</title>
	<head>
	<body id = 'pagebody'><p>The corners of the search box (After the redesign) looks weird on Chrome 10/OSX:
<img src="https://i.stack.imgur.com/T8o7M.jpg" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>I'm going to status declined this since we're on Chrome 29 now and that visual element is long gone from Chrome's chrome.</p>


	</body>
</html>