<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Search for a special character returns no results
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2923" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::19</h3>
				<h2>Search for a special character returns no results</h2>
<p>I wanted to search for a special character (<kbd> </kbd>) on Ask Different before answering to a question, but a search returned null results. An answer on <a href="https://apple.stackexchange.com/questions/123568/cant-find-symbol-in-keyboard">Can&#39;t find   symbol in keyboard</a> contains the character and should be returned.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6352" class = "post">
				<p>Could you elaborate if this is somehow about how Ask Different the web ap works or are you looking to learn how to find that character on a specific software or hardware? Please edit the post with some details and we'll see about answering it for you.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2924"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Search ignores non-alphanumeric characters except where those characters have special meaning in advanced search, such as  []  for tag search. This is <a href="/questions/tagged/status-bydesign" class="post-tag moderator-tag" title="show questions tagged &#39;status-bydesign&#39;" rel="tag">status-bydesign</a>.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>