<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Secret hats are so secret those who earn them don't know why!
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1896" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::65</h3>
				<h2>Secret hats are so secret those who earn them don't know why!</h2>
<p>So some hats are designated as "secret hats." Some of them are pretty guessable as to how you got them (if you happen to do so), but others are quite a mystery. Is there a way for people who are awarded secret hats to learn how they got the hat or what it means?</p>

			</div><h3>Comments</h3>
			<div id = "comment-3664" class = "comment">
				<p>see also http://meta.stackexchange.com/questions/tagged/winterbash-2013</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1896">Record</button>
				<button class="record-stop" id="stop-1896">Stop</button>
				<p id="recording-1896"></p>

<h1>Answers</h1>
			<br><div id = "ans-1897"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>It seems that the answer is that any secret hats that may or may not exist are secret by design, and that should said hats exist (which they may or may not), part of the fun is to try to guess why you might have received one.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1897">Record</button>
				<button class="record-stop" id="stop-1897">Stop</button>
				<p id="recording-1897"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>