<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Self answer was removed
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2581" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::38</h3>
				<h2>Self answer was removed</h2>
<p>Just wondering if you can have an answer removed here without any indication that it has been removed? No admin comments, no downvotes, nothing. Just an answer disappear?</p>

<p>I answered a couple of my own questions and saw that one got downvoted, so I'm assuming this is a community no-no simply answering your own question?</p>

<p>Another I answered (submitted some time ago), with what I thought to be a concise, useful answer that did not exist anywhere on the site, and it is just gone, with nothing indicating why.</p>

<p>I'm not one to care much about Karma or reputation. I'm more concerned about getting banned or not being able to post for a while.</p>

<p>Thanks,</p>

<p>Chris</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5825" class = "post">
				<p>Okay, it was never removed. It was pushed up the list of answers and I just didn't see it. Sorry for whining!</p>
			</div>
			<div id = "comment-5827" class = "post">
				<p>"I answered a couple of my own questions and saw that one got downvoted, so I'm assuming this is a community no-no simply answering your own question?" -- just wanted to point out that this is *NOT* a no-no on Stack Exchange. Answer away! Even your own questions! There's even a facility to post an answer to a question at the _same time_ you post the question! :D</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2582"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Yes. Posts can simply be deleted. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2583"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Posts, both questions and answers, can be deleted by elected moderators (denoted by the diamond) and those who have the necessary reputation to cast delete votes on posts.</p>

<p>However, these posts aren't actually deleted. The original poster of the question or answer can always view their own deleted posts, even if the post was deleted by a moderator rather than themselves. Furthermore, deleted questions and answers are visible to those who have sufficient reputation and a link to the post.</p>

<p>The posts are hidden from the user profile (except to elected moderators) but you can see your own recently deleted posts by clicking the button at the bottom of the questions/answers tab on your profile activity.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5826" class = "post">
				<p>+1, the wording is awkward, although to the majority of people except those identified in this answer an answer can appear to be deleted, in reality it's just hidden.  It is possible to go one step further and genuinely remove it, this usually requires "destroying" the user and all their content, usually when dealing with SPAM accounts etc.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>