<html>
	<head>
		<title id = 'pagetitle'>Self answer was removed
		</title>
	<head>
	<body id = 'pagebody'><p>Just wondering if you can have an answer removed here without any indication that it has been removed? No admin comments, no downvotes, nothing. Just an answer disappear?</p>

<p>I answered a couple of my own questions and saw that one got downvoted, so I'm assuming this is a community no-no simply answering your own question?</p>

<p>Another I answered (submitted some time ago), with what I thought to be a concise, useful answer that did not exist anywhere on the site, and it is just gone, with nothing indicating why.</p>

<p>I'm not one to care much about Karma or reputation. I'm more concerned about getting banned or not being able to post for a while.</p>

<p>Thanks,</p>

<p>Chris</p>


<h1>ANSWERS</h1>
		<p>Yes. Posts can simply be deleted. </p>


<p>Posts, both questions and answers, can be deleted by elected moderators (denoted by the diamond) and those who have the necessary reputation to cast delete votes on posts.</p>

<p>However, these posts aren't actually deleted. The original poster of the question or answer can always view their own deleted posts, even if the post was deleted by a moderator rather than themselves. Furthermore, deleted questions and answers are visible to those who have sufficient reputation and a link to the post.</p>

<p>The posts are hidden from the user profile (except to elected moderators) but you can see your own recently deleted posts by clicking the button at the bottom of the questions/answers tab on your profile activity.</p>


	</body>
</html>