<html>
	<head>
		<title id = 'pagetitle'>SENotifier, a Stack Exchange inbox notifier for Mac OS X
		</title>
	<head>
	<body id = 'pagebody'><p>I've put together a <a href="https://stackapps.com/questions/3081/senotifier-a-stack-exchange-inbox-notifier-for-mac-os-x">status bar notifier for Stack Exchange sites</a> (inspired by Google Notifier) and I thought I'd ask here to get some feedback on a couple of things.</p>

<p><a href="http://hewgill.com/senotifier/senotifier.png" rel="nofollow noreferrer">screenshot http://hewgill.com/senotifier/senotifier.png</a></p>

<p>I've developed this on Lion and am curious about whether it works on previous releases of OS X (or whether this even matters very much, in practical terms). This is my first Mac OS X app ever, so I'm not even sure what issues are important.</p>

<p>Also, it sort of needs an application icon, so if you're feeling inclined, artwork would get you a mention and a link in the About panel!</p>

<p>Any other comments and suggestions are welcome.</p>


<h1>ANSWERS</h1>
		<p>To answer your question about its compatibility with previous versions of Mac OS X, I encountered an error when trying to run the program on my Panther machine. So it does not work on 10.3.9.</p>


<p>I noticed the layout for OpenID-based logins is a bit weird (tested on OS X 10.7.3):</p>

<p><img src="https://i.imgur.com/IVUQr.png" alt="Screenshot"></p>

<p>Just a heads up.</p>

<p>Thanks for your work on this wonderful app!</p>


	</body>
</html>