<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Serial upvoting reverersal
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1868" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::55</h3>
				<h2>Serial upvoting reverersal</h2>
<p>I spent over a hour helping another user <a href="https://apple.stackexchange.com/q/110265/10733">Localhost Forbidden</a> with his question.</p>

<p>As he had little reputation, he went ahead and upvoted most of my questions and answers after I solved his issue with him.</p>

<p><strong>Is that not allowed?</strong> the user is an independent user and I don't know him outside of ask.different.</p>

<p>Is this automatic or something controlled by the moderators?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1869"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>In the most literal sense, the answer to your question appears to be "no, this is not allowed" in the sense that the many votes you cast yesterday for a single user were invalidated, as were the many votes another user cast for you today. This is an automated part of the voting mechanism; the system sometimes disallows votes based on its (unpublished) criteria, and clearly these votes were not allowed, because if they had been allowed, your score would be higher.</p>

<p>On a more philosophical level, the question remains whether they <em>should</em> be allowed, or <em>why</em> they are not allowed. While anyone with sufficient reputation can click the up arrow on anyone's post but their own up to 40 times a day if they feel so moved, there are some underlying "shoulds" in the way the system is designed. Ideally, users vote for posts based on their content and not on their author. If there is widespread evidence that someone's voting patterns seem to be based on who the author is and not on simply what posts they find helpful, the system is designed in such a way to identify and reverse votes that seem to be based on a pattern of voting for or against a person. The moderators are neither informed about what these patterns are nor do we have any say in intervening in them.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3601" class = "comment">
				<p>Thanks for clarifying. I did not realise the votes I cast yesterday were invalidated, would be nice to know.  Personally I think the criteria should be published.</p>
			</div>
			<div id = "comment-3602" class = "comment">
				<p>I've learned something about the criteria primarily because I've both given and received votes that were later invalidated.</p>
			</div>
			<div id = "comment-3605" class = "comment">
				<p>You can do that, but not all at once. Vote for answers you think are good, and in the process, you'll end up rewarding the users you want to reward. But focus on the answers, not the users, and the system will cooperate with you.</p>
			</div>
			<div id = "comment-3606" class = "comment">
				<p>You really aren't supposed to earn more than 25 points from a single user for answering a question unless they chose to award a bounty: 10 points for the upvote and 15 points for an accepted answer.</p>
			</div>
			<div id = "comment-3607" class = "comment">
				<p>Do you know what the limit is? 10 votes? 15 votes?</p>
			</div>
			<div id = "comment-3608" class = "comment">
				<p>I see. It doesn't look like you've actually answered the question at http://apple.stackexchange.com/q/110265/10733. So technically, you don't earn any reputation for that. Your work was undoubtedly helpful, but the solution is for *you* to post an answer, not the question asker.</p>
			</div>
			<div id = "comment-3610" class = "comment">
				<p>Yes I told him to do that, and we did most of the work in the chat. He wanted me to post the answer, but as he had even lower reputation than me....</p>
			</div>
			<div id = "comment-3611" class = "comment">
				<p>let us [continue this discussion in chat](http://chat.stackexchange.com/rooms/11530/discussion-between-daniel-lawson-and-deesbek)</p>
			</div>
			<br><div id = "ans-1870"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The system is designed to have votes represent only the post at hand - and have nothing to do with the person's other actions on the site.</p>

<ul>
<li>Automatic vote invalidation happens outside the tools and visibility of elected moderators. We know how it works but do not get notified when it triggers. We can check a specific user to see if it has happened to them, but we can not even inspect the algorithm used to detect it. </li>
<li>The site developers are the ones that tune, watch, craft that tool.</li>
</ul>

<p>As you laid out the actions, it seems that the tool stepped in properly to alert you to the mis-use of the votes, but realize this isn't any sort of permanent penalty. Think of it as a warning if you were speeding on the freeway. The "officer" pulled you over and said - "Glad you're having fun with the voting system, but please slow down."</p>

<p>However, we all recognize, that sometimes a token appreciation seems insufficient for a very generous effort.</p>

<p>Officially, the correct way to transfer more reputation to an answerer is to use the <a href="https://apple.stackexchange.com/help/bounty">bounty mechanism</a> as opposed to searching and voting for other content. That is a much more direct and transparent mechanism to reward an outstanding contribution.</p>

<p>The site unofficially has a "pay it forward" feeling due to the creative commons licensing. So, you could also just offer a sincere and well phrased comment about how the answer in question really was awesome (explaining why if it's not obvious) and then seek a chance to answer another user's question where you have excess knowledge to share.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>