<html>
	<head>
		<title id = 'pagetitle'>Serial downvoting on voice dictation questions
		</title>
	<head>
	<body id = 'pagebody'><p>I've just noticed that I got downvoted on my voice dictation questions:</p>

<p><img src="https://i.stack.imgur.com/4O0UW.png" alt="enter image description here"></p>

<p>Are voice dictation questions out of scope here? If not, is there any other issues with my  voice dictation questions?</p>

<ul>
<li><a href="https://apple.stackexchange.com/q/159833/20338">Equivalent of Dragon NaturallySpeaking&#39;s HeardWord function in Dragon Dictate 4</a></li>
<li><a href="https://apple.stackexchange.com/q/159831/20338">No cap after a period in Dragon Dictate 4</a></li>
<li><a href="https://apple.stackexchange.com/q/159829/20338">Voice command to output &quot;\ref{}&quot; in Dragon Dictate 4</a></li>
</ul>


<h1>ANSWERS</h1>
		<p>Those questions are not only on topic, but I view them as good ones. My guess is someone doesn't like questions about third party products.</p>

<p>I'll watch for vote patterns, but so far nothing is in "moderator needs to act" range. If you see two dozens of votes, please flag a post or bump this again and we can see if there is a pattern that would merit intervention.</p>

<p>You are clearly trying to use OS X software and hardware to do some useful automation and voice recognition. I hope a few cranky votes don't put you off on the site.</p>


	</body>
</html>