<html>
	<head>
		<title id = 'pagetitle'>Shadow missing under the info box of the edit queue
		</title>
	<head>
	<body id = 'pagebody'><p>The yellow box informing the users that their edits will be placed in a peer reviewed queue is missing the shadow under the bottom-right corner.</p>

<p><img src="https://i.stack.imgur.com/27BMQ.jpg" alt="enter image description here"></p>


<h1>ANSWERS</h1>
			</body>
</html>