<html>
	<head>
		<title id = 'pagetitle'>Share your posts and spread community knowledge. We'll spread gifts!
		</title>
	<head>
	<body id = 'pagebody'><p>This week the Apple universe is filled with hints about an impending iPad 3 announcement, speculation around what incredible product developments are next, and serene celebrations of Steve Jobs  birthday. Needless to say, it s an exciting time for Apple and Ask Different.</p>

<p>In our own corner of the Apple world, we want to honor you, the community, who dare to take a deeper look. Apple users around the universe continue to resolve their inquiries by referring to the comprehensive body of knowledge you are creating here. We thank you on our behalf and theirs.</p>

<p>This week, people who write 5 posts (questions and/or answers) and share those 5 posts (on Twitter, Google+, or Facebook) will receive Ask Different gift swag (shirts, stickers ) and will be entered into a raffle for an iPod Touch.</p>

<p>Eligibility/details:</p>

<ul>
<li>Posts should have a score of 2 or more.</li>
<li>We can only tracked shared posts that were clicked on at least once</li>
<li>You should use sharing buttons embedded in the question page on the left side or the link below the question (to make sure we can accurately share gifts with everyone who shares their insights!)</li>
<li>Posts should be written and shared between now and 11:59pm UTC on Friday, Feb. 24.</li>
</ul>

<p>Thank you again for continuing to create this incredible community. If you have any input, suggestions or musings about current, past or future site promotions or anything ping me anywhere.</p>


<h1>ANSWERS</h1>
		<p>Congratulations to <a href="https://apple.stackexchange.com/users/12285/timothy-mueller-harder">Timothy Mueller-Harder</a>, <a href="https://apple.stackexchange.com/users/292/ian-c">Ian C</a>, and our esteemed moderator <a href="https://apple.stackexchange.com/users/9388/daniel">Daniel</a> for making and sharing at least 3 new and awesome posts with their friends! These experts get AD shirts and stickers (because we love stickers and free clothes).</p>

<p>(n.b. nobody posted 5 questions or answers and met the rest of the criteria- as we set the bar really high we're still very impressed with everyone's participation)</p>


	</body>
</html>