<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Sharing links, question about which syntax is valid
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1221" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::42</h3>
				<h2>Sharing links, question about which syntax is valid</h2>
<p>A link that I share by copying the URL from the <code>link</code> button looks like </p>

<pre><code>http://apple.stackexchange.com/a/45919/3117
</code></pre>

<p>but a link I share by clicking the banner-like share to Facebook, twitter etc. buttons looks like </p>

<pre><code>http://apple.stackexchange.com/a/45919/3117?stw=1
</code></pre>

<p>Not knowing much about the nuts and bolts of how these things work (you should see my attempt at writing PHP recently), are these different for the purposes of the current competition? Does the first link work for Publicist badges etc. but not for the competition, or are they equivalent?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1222"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Those two links will do the same thing. The part that tracks who shared the link is your user ID at the end of the link (3117 for you).</p>

<p>The <code>?stw=1</code> at the end is so that Stack Exchange can track which links were posted using the sharing buttons. It doesn't effect the performance of the link.</p>

<p><strong>Both links are equivalent and will count towards badges and contest shares.</strong></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2242" class = "post">
				<p>This is correct - thanks for clarifying Nathan.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>