<html>
	<head>
		<title id = 'pagetitle'>Should FAQ#dontask explain "too localized"
		</title>
	<head>
	<body id = 'pagebody'><p>While questions can be reported/closed for being too localized, the FAQ only seems to address overly broad scopes, and not too localized ones.</p>

<p>Should the FAQ be updated to explain these guidelines?</p>


<h1>ANSWERS</h1>
		<p>The FAQ already explains too localized <a href="https://apple.stackexchange.com/faq#close">here</a>: </p>

<blockquote>
  <p>Common reasons a question may be closed include </p>
  
  <p>too localized This question is unlikely to help any future visitors;
  it is only relevant to a small geographic area, a specific moment in
  time, or an extraordinarily narrow situation that is not generally
  applicable to the worldwide audience of the internet.</p>
</blockquote>


	</body>
</html>