<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Should [pf] and [little-snitch] be synonyms of [firewall]?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2955" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::80</h3>
				<h2>Should [pf] and [little-snitch] be synonyms of [firewall]?</h2>
<p>I've recently created the little snitch tag and I observed that it has been made synonym with firewall. Probably to be consistent with the already existing synonym relationship between pf and firewall. <a href="https://apple.stackexchange.com/search?q=little-snitch+is%3Aquestion">Searching for <code>little-snitch is:question</code></a> returns 117 results. Some of these results are questions about little snitch such as :</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/54872/little-snitch-and-different-network-profiles">Little snitch and different network profiles</a></li>
</ul>

<p>and some other questions are not directly about Little Snitch but mention it in the question such as :</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/63540/what-is-gs-loc-apple-com">What is gs-loc.apple.com?</a></li>
</ul>

<p>I think it would be nice to have a Little Snitch tag in order to regroup all questions directly about Little Snitch. The same reasoning can be done about pf.</p>

<p>Now both the Little Snitch tag and the pf tag are synonyms to the firewall tag. I think this situation is not ideal because:</p>

<p>1) pf and Little Snitch are not really synonyms of firewall but rather "instance of" firewall. </p>

<p>2) Little Snitch is an application firewall and has a different usage than firewalls such as pf.</p>

<p>3) better precision could be gained by having stand alone tags for pf and Little Snitch.</p>

<p>I propose to remove the synonym relationship between Little Snitch and firewall and between pf and firewall and let the tags Little Snitch and pf be stand-alone tags.  </p>

			</div><h3>Comments</h3>
			<div id = "comment-6414" class = "comment">
				<p>Thanks for bringing this up on Meta!</p>
			</div>
			<div id = "comment-6415" class = "comment">
				<p>Don't take my answer for the only one, other users may have different opinions :-)</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2955">Record</button>
				<button class="record-stop" id="stop-2955">Stop</button>
				<p id="recording-2955"></p>

<h1>Answers</h1>
			<br><div id = "ans-2956"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>IMHO having less but broad tags is better than getting too fine granular (because the more granular tags get the bigger the risk that people will use the wrong tag or no tag at all). Also the more tags we have the more effort there is to keep usage in line with the tag description (otherwise having the tag will not be of any use).</p>

<p>In the specific case, questions about "pf" and "Little Snitch" should <em>also</em> have the <a href="https://apple.stackexchange.com/questions/tagged/firewall" class="post-tag" title="show questions tagged &#39;firewall&#39;" rel="tag">firewall</a> tag anyway, so the synonym kind of ensures that they get categorized correctly even if that part gets forgotten. And if the question really is about something specific to "Little Snitch" it will be mentioned in the question text and can easily be found (as shown in the query used in the question above).</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6416" class = "comment">
				<p>I understand the argument about granularity but since multi-tagging is supported I'm not sure it applies. I agree with you when you say : 'questions about "pf" and "Little Snitch" should **also** have the firewall tag' but for this the synonym relationship must be removed otherwise "pf" and "Little Snitch" tags are automatically removed. Finally, yes the full text search engine can be used to find "Little Snitch" related questions but the advantage of a tagging system is to explicitly group together related questions without relying on string patterns. Isn't it?</p>
			</div>
			<div id = "comment-6417" class = "comment">
				<p>The meaning here is that any question concerning "pf" or "Little Snitch" should be tagged [tag:firewall], irregardless of whether they are tagged with [tag:pf] or [tag:little-snitch]. Tag usage on AD isn't very consistant (and hardly anybody edits for tags afterwards), so whatever gets assigned initially usually sticks. If users use [tag:pf] or [tag:little-snitch] *without* also using [tag:firewall] we end up in a situation which is worse than before (because the word "firewall" may very well *not* appear in the question so text search will fail).</p>
			</div>
			<div id = "comment-6418" class = "comment">
				<p>In general I consider tags to be supplemental information which *may* help to search for specific things. Having a well-structured tag system in place would require much more maintenance effort than anybody is willing to put into a site like this.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2956">Record</button>
				<button class="record-stop" id="stop-2956">Stop</button>
				<p id="recording-2956"></p>
			<br><div id = "ans-2957"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Let's look at the questions you cited (and thanks for putting specific examples in the question).</p>

<ol>
<li><p><a href="https://apple.stackexchange.com/questions/54872/little-snitch-and-different-network-profiles">Little snitch and different network profiles</a> - This question isn't even getting the correct network / firewall tag. Adding flavors of firewall seem very low hanging fruit when the basic tags that will let people follow things they choose to answer aren't even being used.</p></li>
<li><p><a href="https://apple.stackexchange.com/questions/63540/what-is-gs-loc-apple-com">What is gs-loc.apple.com?</a> - this is tagged well and also shows that additional tags of <a href="https://apple.stackexchange.com/questions/tagged/pf" class="post-tag" title="show questions tagged &#39;pf&#39;" rel="tag">pf</a> or <a href="https://apple.stackexchange.com/questions/tagged/little-snitch" class="post-tag" title="show questions tagged &#39;little-snitch&#39;" rel="tag">little-snitch</a> would not make any improvement in search-ability that I can see.</p></li>
</ol>

<p>Having too many tags is harmful to the site. Until there's a large volume of potential posts and it helps people know how to ask - I'm generally for merging down (with synonyms where it's really needed) as opposed to making tags for specific titles. Keep in mind - we don't have a <a href="https://apple.stackexchange.com/questions/tagged/microsoft-word" class="post-tag" title="show questions tagged &#39;microsoft-word&#39;" rel="tag">microsoft-word</a> or <a href="https://apple.stackexchange.com/questions/tagged/microsoft-excel" class="post-tag" title="show questions tagged &#39;microsoft-excel&#39;" rel="tag">microsoft-excel</a> tag in favor of collecting them under the office umbrella. Please let us know in the comments if there some case where a tag will improve asking or finding questions to answer. I'm open to revisiting the general thinking I've shared here on when to make a synonym or merge vs when to let a tag exist as a stand alone tag.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6420" class = "comment">
				<p>Tags are an improvement in the example I give in my question. It allows to discriminate between questions where Little Snitch is used just as a tool but is not the topic of the question such as in [What is gs-loc.apple.com?](http://apple.stackexchange.com/questions/63540/what-is-gs-loc-apple-com) and between questions where Little Snitch is the main topic of the question such as in [Little snitch and different network profiles](http://apple.stackexchange.com/questions/54872/little-snitch-and-different-network-profiles). This can be generalized to any tag.</p>
			</div>
			<div id = "comment-6421" class = "comment">
				<p>@OrtomalaLokni Can you give examples of specific situations/use cases (from the point of view of a future visitor of the site) where having a [tag:little-snitch] tag would be better than a text search for "Litte Snitch"?</p>
			</div>
			<div id = "comment-6422" class = "comment">
				<p>@patrix, Yes, if a user interested in the Little Snitch application clicks on the little-snitch tag, he will have the list of all questions directly related to the Little Snitch application without all questions where Little Snitch was just use as a tool to solve another unrelated problem. If a user interested in the Little Snitch application search for the Little Snitch string, he will get a list with related and unrelated question. Adding a Little Snitch tag allows the user to have less noise and better precision.</p>
			</div>
			<div id = "comment-6423" class = "comment">
				<p>@OrtomalaLokni Why would a user just be interested in Little Snitch? And if they are, what prevents them from searching for the text instead of the tag? We get a lot of traffic via Google searches (or, in other words, via text searches). And even with the tag: how can we ensure that the tag is applied consistantly?</p>
			</div>
			<div id = "comment-6425" class = "comment">
				<p>Sometimes you are interested in solving a technical problem but sometimes you are interested to gain knowledge in a particular topic or application. The [SO help center](http://stackoverflow.com/help/tagging) says about tags : "Tags are a means of connecting experts with questions they will be able to answer by sorting questions into specific, well-defined categories. Tags can also be used to help you identify questions that are interesting or relevant to you." You cannot be 100% sure that tags are applied consistently but that's the role of the community.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2957">Record</button>
				<button class="record-stop" id="stop-2957">Stop</button>
				<p id="recording-2957"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>