<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should the [osx] tag be renamed to [macos]?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should the [osx] tag be renamed to [macos]?</h2>
<p>With the rename from OS X to macOS, should the tag be renamed too?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Only the newer versions will be called <strong>macOS</strong>, the older ones will still be called <strong>OS X Cat-of-choice</strong>. I would propose to go with a synonom instead of a renaming.</p>

<p>Today (June 2016), the synonym points <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> -> <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> so that we can decide at a later date to flip things around. If there is an answer that makes a strong argument for never merging the two, we might want to undo the synonym so that the <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> questions are distinct.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I think that <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> is a decent tag for the most part. <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> refers to the modern version(s) of Apple's Operating System, which is titled as OS X. Earlier versions, before the 'OS X' line started (named after the big cats), were simply named Mac OS &lt;insert version name and number here> - 'X' was added after Mac OS version 9. As such, I would think that the tag, <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> would refer to legacy Apple Computer software, instead of newer software. Nonetheless, I would welcome the new tag! :)</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p> <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a>   <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a>  </p>

<p>Just like that, all 16.5k <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> questions are now <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> questions! With what I presume was a chat between moderators outside of this meta question, bmike has reversed the synonym, such that <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a>   <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a>. <a href="https://apple.stackexchange.com/help/badges/188/macos?userid=37797">Enjoy the shiny new badges!</a></p>

<p>Also, since this change occurred quite suddenly, it seems like no-one thought about the tag wiki and of course it's now disappeared. I've updated the tag wiki of <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> based on the prior tag wiki.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>