<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Should all badges be attainable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-947" class = "post">
			<h2>Question</h2>
			<h3>Score ::-4</h3>
			<h3>Views ::80</h3>
				<h2>Should all badges be attainable?</h2>
<p>I looked at <a href="https://meta.stackexchange.com/questions/13/should-the-beta-badges-stop-being-awarded-to-users">SO meta</a>, and they have removed the badge for participating in the beta.</p>

<p>I think that all the badges should be attainable for everyone, so badges like Beta and precognative. </p>

<p>I do understand that these are a medal and people are proud to ahve them but can these be incorporated into the profile rather than a badge, as no newer users will ever have the chance of gaining these badges.</p>

			</div><h3>Comments</h3>
			<div id = "comment-1722" class = "comment">
				<p>Oooh, if we down vote the question and up vote the answer enough, will we get a "Reversal" here?</p>
			</div>
			<div id = "comment-1724" class = "comment">
				<p>I'm all for it :-)</p>
			</div>
			<div id = "comment-1743" class = "comment">
				<p>@Daniel Sounds like a good idea to me!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-947">Record</button>
				<button class="record-stop" id="stop-947">Stop</button>
				<p id="recording-947"></p>

<h1>Answers</h1>
			<br><div id = "ans-948"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>There are a number of badges which are practically unattainable for various reasons:</p>

<ul>
<li>"participated in Beta" -> obvious</li>
<li>"Legendary" (Earned 200 daily reputation 150 times) -> maybe in a few years</li>
<li>"Reversal" (Provided answer of +20 score to a question of -5 score) -> how likely is that?</li>
</ul>

<p>So I think one unattainable badge more or less doesn't matter.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1718" class = "comment">
				<p>These can ultimately be achieved over time. The ones i have mentioned are absolutely unattainable from now onwards, there is no point in having them.</p>
			</div>
			<div id = "comment-1719" class = "comment">
				<p>So? Let the beta users have their badge, there are more than enough badges to go for remaining :-)</p>
			</div>
			<div id = "comment-1720" class = "comment">
				<p>have the badge but why list it, if it cannot be achieved?</p>
			</div>
			<div id = "comment-1740" class = "comment">
				<p>@GraemeHutchison, do you mean to list it on people's profiles, but not on the [list of badges](http://meta.apple.stackexchange.com/badges)?</p>
			</div>
			<div id = "comment-1741" class = "comment">
				<p>@Daniel yes, either list it as a badge or as something else, on the profile, and remove it from the list of attainable badges.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-948">Record</button>
				<button class="record-stop" id="stop-948">Stop</button>
				<p id="recording-948"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>