<html>
	<head>
		<title id = 'pagetitle'>Should I delete my question?
		</title>
	<head>
	<body id = 'pagebody'><p>I asked a question on this site that has been answered.</p>

<p><a href="https://apple.stackexchange.com/questions/223495/how-do-i-create-an-automator-to-forward-mail">How do I create an automator to forward mail?</a></p>

<p>I didn't actually have the problem I asked about. Should I delete it?</p>


<h1>ANSWERS</h1>
		<p>You should leave the question. It's a good objective question which has been received well and has good answers which may help other users in the future. Removing it would be viewed negatively by those users who contributed their time and effort into answering the question, especially as those answers were viewed as useful by other users too (indicated by upvotes).</p>

<p>Also, you can't delete the question as it has an upvoted answer, so the question is moot, but that's beside the point. Also, deleting a question pushes you ever closer to a question ban should other questions you ask not be well-received (read: downvoted lots).</p>


	</body>
</html>