<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should I suggest an edit to rollback an edit?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should I suggest an edit to rollback an edit?</h2>
<p>I recently made <a href="https://apple.stackexchange.com/review/suggested-edits/36499">this suggested edit</a> to an answer to fit with the edit that had been made to the question (being specific about Apple's <strong>UK</strong> Support site).</p>

<p><img src="https://i.stack.imgur.com/XsZgJ.png" alt="My suggested edit"></p>

<p>An <a href="https://apple.stackexchange.com/posts/100250/revisions">edit</a> was then made to add the region to the link, however the incorrect region was added (US instead of UK).</p>

<p><img src="https://i.stack.imgur.com/fETCL.png" alt="@bmike&#39;s edit"></p>

<p>As per the guidelines, I should avoid trivial, tiny one-letter edits, and suggested edits must be longer than 6 characters anyway.</p>

<p>Am I overlooking something?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>In this case - false information trumps the general prohibition to make a trivial edit. Sadly, the system won't even let us fix that one typo so we have to change more or use two edits to effect a one character change.</p>

<p>I wouldn't roll back, but just edit it correct going forward. </p>

<p>Great catch. </p>

<p><em>btw - that bmike fellow often is on an iPad and making silly typos when trying to improve a suggested edit</em> </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>