<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should answers which are not forward compatible be edited for compatibility, or new answers created for new versions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2688" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::31</h3>
				<h2>Should answers which are not forward compatible be edited for compatibility, or new answers created for new versions?</h2>
<p>Recent OS X updates (SIP) have rendered some old solutions (especially scripts) broken. Should old answers be updated, or new questions answered in their own right?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2689"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The old solutions are not broken; the new operating systems are :-)</p>

<p>The posted solutions are still quite valid for computers running the operating systems for which the answers were written. I don't see any reason to break the answers for people running Panther or Tiger or Leopard or Snow Leopard or Lion or Mountain Lion or </p>

<p>If one wanted to edit <em>additional</em> information into the answers to make them compatible with these newfangled operating systems that aren't named after cats, I suppose one could do that, but don't break answers that work fine for the systems for which they were intended.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5968" class = "comment">
				<p>That's more or less my thought, though I guess my question was incomplete. Should the new solutions be added to the original answer, or new answers created in new questions for the new OS?</p>
			</div>
			<div id = "comment-5969" class = "comment">
				<p>Either one sounds like a good plan to me.</p>
			</div>
			<div id = "comment-5970" class = "comment">
				<p>Perhaps a quick copy/paste then to keep one question answer as a reference and mark the other one answered</p>
			</div>
			<div id = "comment-5971" class = "comment">
				<p>@agentroadkill I like what daniel said here. Also, if the existing question and answers are great, it's better to edit/curate it. If there are problems with the old question (no user to accept an answer, problematic length-too long, asks several questions, rambles and especially if the answers are off-track mostly) - better to make a new question and link in the body explaining that 10.11 seems to be the time when whatever "broke"</p>
			</div>
			<br><div id = "ans-2690"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>If there is a clearly-winning, correct answer which only changes at for instance El Capitan, my inclination would be to just add something along the lines of  </p>

<p>"<strong>Edit:</strong> after El Capitan you need to do this instead/as well"   </p>

<p>which preserves the original &amp; updates for newer systems <em>and also</em> keeps the right answer for all occasions at the top of the list.</p>

<p>It also keeps the rep points accruing for the person who actually got the right answer in the first place; it wasn't their fault El Capitan broke their elegant solution.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>