<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we flag different on Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should we flag different on Ask Different?</h2>
<p>I flagged an <a href="https://apple.stackexchange.com/revisions/241791/1">original version</a> of a link-only answer as "not an answer" as I have done for hundreds of similar posts on other SE sites. My flag was declined. Then I explained my reasoning and asked about moderator's. This was their response:</p>

<blockquote>
  <p>In this case, no flag at all :-) It clearly is an answer, and salvageable by editing, so what would you expect a mod to do here which you can't do yourself?</p>
</blockquote>

<p><sup>The first part is debatable. It was discussed in numerous meta posts on other sites and the consensus seems to be on the side of "do flag link-only answers as a non-answers" with this nice <a href="https://meta.stackexchange.com/q/225370/305121">infographic</a> as an example.</sup></p>

<p>I am puzzled with the latter part of the response:</p>

<p>So far I thought moderators' attention is required when flagging a post <em>for moderator's attention</em>, as <em>a spam</em>, or as <em>rude-or-offensive</em> (with the latter two flags causing deletion also by majority of votes).</p>

<p>However I had an impression that flagging as <em>low quality</em> or flagging as a <em>non-answer</em> directed such posts to the Low Quality Posts review queue where >2000 rep. users could vote for deletion and publish an automatic comment explaining the rules. On all sites on which I have access to these queues, there is an explicit option "this is a link-only answer and not spam" which is not available when flagging.</p>

<p>I thought that by flagging an answer as <em>non-answer</em> or <em>low-quality</em>, I am bringing it to the attention of the community (which gives opportunity to post predefined suggestions, give author time and put an answer subject to democratic voting) not moderators (at least not in the first place).</p>

<p>Is it different on Ask Different?</p>

<p>Why a moderator here suggests that by flagging this post I might have had any expectations of them ("<em>what would you expect a mod to do here</em>")?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I can't speak for how other sites handle link only flags - but the post you mentioned doesn't seem to meet our standards for general flagging.</p>

<p>If you read <a href="https://apple.stackexchange.com/help/flagging">https://apple.stackexchange.com/help/flagging</a> it explains that the primary reason to flag is when you see something bad.</p>

<p>I see no guidance on the site help here where link only answers are prohibited - just as we don't prohibit wrong answers. Those sort of things are designed to be handled through two processes:</p>

<ol>
<li>Reputation limits make people participate in ways that others will vote and comment when their initial efforts are outside the site norms or objectively not useful. </li>
<li>Closure and voting and peer moderation handle almost all the cases of people figuring out how to contribute when they don't read the help center on how to make a good question or how to show research. Answers live and die by votes and good questions usually have a handful of thoughtful, useful answers to rise above the rest.</li>
</ol>

<p>Specifically on Ask Different, we've tried to explain how NAA flags are moderated in this thread:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1629/why-was-my-flag-for-not-an-answer-declined">Why was my flag for &quot;not an answer&quot; declined?</a>?</li>
</ul>

<p>Going over that, I would expect the moderator looked a the question (if needed) - it looks decent enough to me. The initial text of the answer is certainly not link only. It also appears to be helpful and relevant to the issue at hand. Best of all, it was a new user that got constructive feedback, took that to heart and there's a pretty decent answer now.</p>

<p>Hopefully this makes sense to your question here. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>