<html>
	<head>
		<title id = 'pagetitle'>Should making edits bump a question to the top of the list?
		</title>
	<head>
	<body id = 'pagebody'><p>I noticed today that even a tiny edit like simply removing the word "thanks" form the end of a question can bump it right back to the top of the list of questions.</p>

<p>Whilst this does alert interested users of change, it also bumps the rest of the questions down the way.  When you get a serial editor come along and make dozen of changes on a short period of time, the entire first page of results can be shunted away making space for edits that may not have materially amended the post.  It does seem odd to see a whole load of older posts jump to the front leaving the newer questions way down the page where they are less likely to be spotted.</p>

<p>Would it not be better for edits to be construed as responses to those that have already taken part in the question, without it making them look like new content in the form of an answer?</p>


<h1>ANSWERS</h1>
			</body>
</html>