<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Should I suggest an edit to rollback an edit?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1792" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::38</h3>
				<h2>Should I suggest an edit to rollback an edit?</h2>
<p>I recently made <a href="https://apple.stackexchange.com/review/suggested-edits/36499">this suggested edit</a> to an answer to fit with the edit that had been made to the question (being specific about Apple's <strong>UK</strong> Support site).</p>

<p><img src="https://i.stack.imgur.com/XsZgJ.png" alt="My suggested edit"></p>

<p>An <a href="https://apple.stackexchange.com/posts/100250/revisions">edit</a> was then made to add the region to the link, however the incorrect region was added (US instead of UK).</p>

<p><img src="https://i.stack.imgur.com/fETCL.png" alt="@bmike&#39;s edit"></p>

<p>As per the guidelines, I should avoid trivial, tiny one-letter edits, and suggested edits must be longer than 6 characters anyway.</p>

<p>Am I overlooking something?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1792" class = 'collapse'>
			</div>
				<textarea id = "speech-1792" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1792">
					<img id="start_img-1792" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1793"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>In this case - false information trumps the general prohibition to make a trivial edit. Sadly, the system won't even let us fix that one typo so we have to change more or use two edits to effect a one character change.</p>

<p>I wouldn't roll back, but just edit it correct going forward. </p>

<p>Great catch. </p>

<p><em>btw - that bmike fellow often is on an iPad and making silly typos when trying to improve a suggested edit</em> </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1793">Load Comments</button></br>
			<div id = "commentsection-1793" class = 'collapse'>
			<div id = "comment-3382" class = "comment">
				<p>What should I do about the "*Edits must be at least 6 characters*"?</p>
			</div>
			<div id = "comment-3383" class = "comment">
				<p>The main reason why I suggested a rollback is because of the character requirement for suggested edits.</p>
			</div>
			<div id = "comment-3384" class = "comment">
				<p>I too was hobbled by the character requirement, so I made sure to improve things with some more details that I know to be true (like chat windows are only drawn when people are scheduled to be chatting).</p>
			</div>
			</div>
				<textarea id = "speech-1793" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1793">
					<img id="start_img-1793" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>