<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we perhaps upvote some more?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-156" class = "post">
			<h2>Question</h2>
			<h3>Score ::13</h3>
			<h3>Views ::95</h3>
				<h2>Should we perhaps upvote some more?</h2>
<p>If you're been reading the Stack Overflow blog <a href="http://blog.stackoverflow.com/2010/10/when-will-my-site-graduate/">recently</a>, you might have noticed that Area 51 now has more pronounced (traffic light colour-coded) indicators about how the beta sites are doing.</p>

<p>Here's what it looks like for <a href="http://area51.stackexchange.com/proposals/151/apple"><strong>Apple SE</strong></a>:</p>

<p><img src="https://i.stack.imgur.com/oSDWH.png" alt="alt text"></p>

<p>We're on pace to have <em>0</em> users with 3000+ rep after 90 days of beta, which would mean that the userbase (apart from moderators) couldn't even close questions by voting.</p>

<p>Fortunately, there's a remedy for this (apart from just somehow attracting more new users): actively upvote <strong>any</strong> good questions and answers you see. Or like Jeff Atwood blogged 3 days ago, <a href="http://blog.stackoverflow.com/2010/10/vote-early-vote-often/"><strong>Vote Early, Vote Often</strong></a>.</p>

<p>Of course we could be doing better in other areas too. So, for one thing, don't hesitate to ask even basic Apple questions (that isn't on the site yet), even if it's something easily googlable. And I guess we need more <a href="https://apple.meta.stackexchange.com/questions/89/promoting-apple-se">promotion</a> too, to reach a bit bigger share of the world's Apple-using masses.</p>

<p>Not really a question. :-) Just something active users should probably be aware of. </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-158"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Yes, everyone definitely should. </p>

<p>But the problem for most users is: what do I upvote?</p>

<p>Well, there's an app for that! <a href="http://stackexchange.com/questions/">http://stackexchange.com/questions/</a></p>

<p>Make sure you've added Apple to the hottest questions, this way if there's a question that has been picked up by others (views, votes or general activity), its likely that there's something worth upvoting!</p>

<p>Note: you can also find hot question on your site alone by filtering the Questions by hot, however there might be other SE-sites you follow that need your votes too! So act like Santa and spread some of your voting love!</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>