<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should the admin and administrator tags on the main site be merged?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1864" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::73</h3>
				<h2>Should the admin and administrator tags on the main site be merged?</h2>
<p>I can't really think why this would not be a good idea:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/admin">admin</a> 28 uses (9 this year)</li>
<li><a href="https://apple.stackexchange.com/questions/tagged/administrator">administrator</a> 14 uses (5 this year)</li>
</ul>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3597" class = "comment">
				<p>On first inspection, it looks like a good idea to me.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1865"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I would say, let's first flush out what these tags mean to the site by having someone write a wiki summary for both tags (or at least propose what the tag <em>should</em> mean for the site in an answer here). Unless we have a good reason to keep them, let's just clean up the questions and let the nightly unused tag culling put them both out of their misery.</p>

<p>What sort of questions should be collected under <a href="https://apple.stackexchange.com/questions/tagged/administrator">https://apple.stackexchange.com/questions/tagged/administrator</a> and what sort of questions should be collected under <a href="https://apple.stackexchange.com/questions/tagged/admin">https://apple.stackexchange.com/questions/tagged/admin</a></p>

<p>It's not clear to me that we even need either of the tags and really we could edit the questions / merge them down to point to <a href="https://apple.stackexchange.com/questions/tagged/windows">Windows</a> or <a href="https://apple.stackexchange.com/questions/tagged/osx">OS X</a></p>

<p>We could merge and then clean up later as it appears both tags suffer from vague use patterns.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3598" class = "comment">
				<p>A very quick look suggests some explicitly depen on the admin group or Administrative use so there will be some questions left on the tag</p>
			</div>
			<div id = "comment-3599" class = "comment">
				<p>Also admin is the unix level user but a dialog will say system administrator so I think they will end up being the same</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>