<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Should I receive a notification for my  upvoted" comments?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2479" class = "post">
			<h2>Question</h2>
			<div id="vote-2479" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 26</p>
			</div>
				<h2>Should I receive a notification for my  upvoted" comments?</h2>
<p>If my comment  adds something useful to [a] post , I d simply like to know so - I d like to be notified. I think that such a feature would, in the long run, improve the quality of comments. Thoughts?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2479" class = 'collapse'>
			</div>
				<textarea id = "speech-2479" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2479">
					<img id="start_img-2479" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2480"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2480" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Votes on comments are more similar to favs on Twitter/likes on FB in a way. The only functionality behind comment votes actually is that in case there are a lot of comments on a post, the ones with higher upvotes get displayed by default, not the chronologically oldest.</p>

<p>Question is slightly different than <a href="https://apple.meta.stackexchange.com/questions/2429">What happens with deleted comments</a>, but the answers given there apply to comment "votes" as well. Comments aren't guarateed to persist, so voting on them doesn't impact your reputations etc. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2480">Load Comments</button></br>
			<div id = "commentsection-2480" class = 'collapse'>
			<div id = "comment-5665" class = "comment">
				<p>Thanks for the response. Thoughts: 1) Though the Facebook & Twitter comparison is accurate, the exact difference is that I would receive a notification if someone  liked  or  faved  my comment.  2) The feature would have nothing to do with reputation, or any explicit incentive - I simply think it d be a beneficial that one be notified for a positive contribution to the community, whatever the circumstances. 3) I appreciate the linked to Q&A - it s dispelled some of my previous held notions about the persistence of comments, despite the fact my belief in the feature req. holds. Cheers.</p>
			</div>
			</div>
				<textarea id = "speech-2480" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2480">
					<img id="start_img-2480" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2481"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2481" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>tbh, I'd like a downvote option on comments too; for the truly idiotic, yet not actually offensive ones - to quickly push them out of contention. </p>

<p>Theoretical wild example:-<br>
OP wants to expand a drive partition.<br>
First comment is 'Wipe your drive, reinstall your OS'</p>

<p>It's not offensive; it's not 'strictly wrong', you <em>could</em> do it that way if you were so inclined; but it would be a whole lot more work than a smarter answer.</p>

<p>As an answer it would quickly get down voted, &amp; commented on itself, hopefully before the OP had chance to take up the idea.  </p>

<p>As a comment, there's no 'defence mechanism' for it.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2481">Load Comments</button></br>
			<div id = "commentsection-2481" class = 'collapse'>
			<div id = "comment-5663" class = "comment">
				<p>If anything would get me to install user scripts in my web browser, it would be to collapse all comments. Oh, and I need to see them to moderate. Two things.</p>
			</div>
			<div id = "comment-5664" class = "comment">
				<p>If in doubt, flag. This is valid for comments as well.</p>
			</div>
			<div id = "comment-5666" class = "comment">
				<p>ah, yes - I always forget comment flags are also categorised</p>
			</div>
			</div>
				<textarea id = "speech-2481" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2481">
					<img id="start_img-2481" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>