<html>
	<head>
		<title id = 'pagetitle'>Should jailbreaking questions be allowed?
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/492/asking-jailbreak-related-question">Asking jailbreak-related question</a>  </p>
</blockquote>



<p>Similar to the Hackintosh questions, but given the <a href="https://apple.stackexchange.com/questions/28/sbsettings-wont-hide-ipod-icon">recent question</a> I figured I would ask.</p>

<p>In my opinion, it's like asking why your computer won't start because you screwed with stuff in <code>/etc</code>.</p>


<h1>ANSWERS</h1>
		<p>Yes, we should allow jail breaking questions, since the Library of Congress(?) has just opined that it's legal. </p>

<p>Sure it voids your warrantee, but if the question is just about jail breaking (rather than say, jail breaking for the purpose of pirating videos or music), we should allow discussions and simply encourage responders to indicate what actions might void your warrantee, brick your device, etc.</p>


	</body>
</html>