<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Should I have asked about 3rd party software? (pertains to iPhone and Mac OS X)
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-51" class = "post">
			<h2>Question</h2>
			<div id="vote-51" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 66</p>
			</div>
				<h2>Should I have asked about 3rd party software? (pertains to iPhone and Mac OS X)</h2>
<p>I asked <a href="https://apple.stackexchange.com/questions/260/can-i-get-the-canon-eos-utility-to-stop-bugging-me-when-i-plug-in-my-iphone">this question</a>, which pertains to the interoperability of an iPhone, Canon's software, and Mac OS X, on the main site. I'm very active in the "main Trilogy" of StackExchange, so I'm pretty familiar with their rules and guidelines. However, this particular question -- which has been bugging me since March -- seems to exist in a gray area between this site and SuperUser.</p>

<p>On the one hand, I'm 90% sure that SU would shut it down, since it's (at least largely) about plugging an iPhone into a Mac.</p>

<p>On the other hand, I'm somewhat certain that it's off-topic here as well, as it's about Canon's (likely shoddy) software.</p>

<p>Was I right or wrong to ask it here? Does it belong? If not, can we as a community close it and turn it into an example for other users asking similarly gray-area questions, and perhaps use it as an example to them of what <em>not</em> to do?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-51" class = 'collapse'>
			</div>
				<textarea id = "speech-51" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-51">
					<img id="start_img-51" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-53"  class = "post">
				<h2>Answer</h2>
			<div id="vote-53" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That is a OS X specific thing you're asking about, it's fine here. You're asking how to change what happens when you plug a device in. Same as changing what happens when putting a blank disk in. It's OS specific, you're running OS X, this is Apple.SE, sounds kosher to me.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-53">Load Comments</button></br>
			<div id = "commentsection-53" class = 'collapse'>
			<div id = "comment-59" class = "comment">
				<p>Should be kosher on SU as well - the iPhone in this case is an accessory to the computer.</p>
			</div>
			</div>
				<textarea id = "speech-53" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-53">
					<img id="start_img-53" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>