<html>
	<head>
		<title id = 'pagetitle'>Should we allow crash logs to be posted
		</title>
	<head>
	<body id = 'pagebody'><p>I notice that there is at least one question that has pasted a window of the Apple Crash reporter. However to find the cause it is often needed to see the whole crash log.</p>

<p>For Apple exchange should we be accepting questions that require this much information ie a paste of the crash log or this this too much detail and too specific?</p>


<h1>ANSWERS</h1>
		<p>I say <a href="https://apple.stackexchange.com/questions/1418/how-to-read-a-crash-report-as-a-user">yes</a>. There are certain things you can learn from the crash report and the more information the better someone can answer the question. There will be instances where it will be too localised to answer but I think these will be in the minority.</p>


<p>I have some experience analyzing crash logs, and I'm happy to look at one when provided with a question. I suggest anyone requesting a crash log set expectations and state that the log might not help solve the problem.</p>

<p>As an example, my comment for <a href="https://apple.stackexchange.com/questions/39660/eudora-crashes-under-snow-leopard-when-checking-mail">this Eudora crash question</a> is:</p>

<blockquote>
  <p>Could you include a full crash log in your question? Just be aware
  that it is rare but not impossible that the crash log will indicate
  the problem to someone reading your question.</p>
</blockquote>


	</body>
</html>