<html>
	<head>
		<title id = 'pagetitle'>Should all badges be attainable?
		</title>
	<head>
	<body id = 'pagebody'><p>I looked at <a href="https://meta.stackexchange.com/questions/13/should-the-beta-badges-stop-being-awarded-to-users">SO meta</a>, and they have removed the badge for participating in the beta.</p>

<p>I think that all the badges should be attainable for everyone, so badges like Beta and precognative. </p>

<p>I do understand that these are a medal and people are proud to ahve them but can these be incorporated into the profile rather than a badge, as no newer users will ever have the chance of gaining these badges.</p>


<h1>ANSWERS</h1>
		<p>There are a number of badges which are practically unattainable for various reasons:</p>

<ul>
<li>"participated in Beta" -> obvious</li>
<li>"Legendary" (Earned 200 daily reputation 150 times) -> maybe in a few years</li>
<li>"Reversal" (Provided answer of +20 score to a question of -5 score) -> how likely is that?</li>
</ul>

<p>So I think one unattainable badge more or less doesn't matter.</p>


	</body>
</html>