<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should beta OS questions be on-topic due to NDA changes + widening distribution by Apple
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2537" class = "post">
			<h2>Question</h2>
			<h3>Score ::18</h3>
			<h3>Views ::1173</h3>
				<h2>Should beta OS questions be on-topic due to NDA changes + widening distribution by Apple</h2>
<p>Questions that relate to Apple beta software (for example <a href="https://apple.stackexchange.com/questions/192902/restoring-a-backup-to-an-ios-9-device">https://apple.stackexchange.com/questions/192902/restoring-a-backup-to-an-ios-9-device</a>) are generally not allowed. </p>

<p>My understanding is that the NDA now allows more discussion than things it restricts - <a href="http://oleb.net/blog/2014/06/apple-lifted-beta-nda/" rel="nofollow noreferrer">http://oleb.net/blog/2014/06/apple-lifted-beta-nda/</a></p>

<p>Basically, as long as Apple publicly explains it, discussion is allowed. Screen shots and reverse engineering and discussing things not announced by Apple (whatever a lawyer would assume that means) are still prohibited by the current NDA.</p>

<p>It seems to me that Stack Exchange is the perfect place to discuss working with new Apple tools, and finding work arounds to problems in addition to going elsewhere or to the Apple forums.</p>

<p><strong>Is there some other reason that I'm not aware of that these kind of questions are considered bad form?</strong></p>

<p>NOTE: This relates to <a href="https://apple.meta.stackexchange.com/questions/1712/are-ios-9-and-os-x-el-capitan-questions-ok">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a>, but it seemed worth raising as a separate question.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5745" class = "post">
				<p>The NDA is complicated (and there are 4 different versions of the NDA that I've seen or believe to exist). We will lose some people and we won't get all the questions we might if there were no NDA, but there still is NDA covering aspects of beta software that Apple is providing. We should acknowledge that clearly since some questions will inevitably breach someone's NDA.</p>
			</div>
			<div id = "comment-5761" class = "post">
				<p>Another problem is that questions about Beta software are only valid for tiny windows of time, and are, by their very nature riddled with bugs. It can be just a matter of weeks before a new beta is released, with lots of bug fixes, potentially negating the questions and answers forever.</p>
			</div>
			<div id = "comment-5773" class = "post">
				<p>@bmike you did mean to tag it as \[faq\], not [faqs] :)</p>
			</div>
			<div id = "comment-5774" class = "post">
				<p>@nicael Thank you! Darn auto correct or darn mod powers to make crazy tag names. I've hopefully cleaned up that confusing plural tag.</p>
			</div>
			<div id = "comment-5796" class = "post">
				<p>I'm going to add the "voting" answers of yes - temporarily and no - stay the course so that we can see if there is consensus either way.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2538"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p>NDA is just one of several reasons why questions about non-public beta software don't work well on Ask Different, <a href="https://apple.meta.stackexchange.com/questions/1331/can-i-ask-about-not-yet-publicly-released-os">Can I ask about not-yet-publicly released OS?</a> lists the others. So even with the NDA partially lifted, I still think that questions about iOS 9/OS X El Capitan need to wait until at least public betas are available.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5743" class = "post">
				<p>This is clearly the established answer. I'm actually going to advocate for removing this restriction in an answer. I've been agitating to get someone to ask this question and now that it's up, we can see if it's still a good policy or not.</p>
			</div>
			<div id = "comment-5793" class = "post">
				<p>Is this still a yes - once public beta starts or no - we shouldn't do it?</p>
			</div>
			<div id = "comment-5794" class = "post">
				<p>As far as I can see, both answers here agree on the "public beta" part, so yes :-)</p>
			</div>
			<br><div id = "ans-2541"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::12</h3>
				<p><p>In a nutshell - here are some statements that I hope are fact based and hard to dispute for anyone:</p>

<ul>
<li>We <em>don't police</em> agreements/NDA - we <strong>do strive to produce great answers</strong> to specific questions. The "NDA situation" is complicated (and there are 4 different versions of the NDA that I've seen or believe to exist). We will lose some people and we won't get all the questions we might if there were no NDA, but there still are formal NDAs covering the beta software that Apple is providing. We should acknowledge that clearly since some questions will inevitably breach someone's NDA.</li>
<li>The history of Ask Different comes from the Trilogy (<a href="https://stackoverflow.com">SO</a>/<a href="https://superuser.com">SU</a>/<a href="https://serverfault.com">SF</a>) and inherited specific close reasons designed for those sites and those times - <a href="https://meta.stackexchange.com/questions/4818/what-questions-should-be-closed-with-reason-too-localized">closing questions solely because they are too narrow</a> is <a href="https://meta.stackexchange.com/questions/184154/closing-changes-on-hold-unclear-too-broad-opinion-based-off-topic-reasons">no longer appropriate here (or there)</a></li>
<li>Apple is certainly changing quite rapidly in therms of enrolling thousands and millions of people in their beta programs - this mitigates the main complaint I see against beta questions which is not having enough expertise to get useful or constructive answers. Yes, some people are signing NDA - but all of those NDA are time limited and covering less and less of the product as Apple publicly hours and hours of detailed video as well as <a href="https://forums.developer.apple.com/thread/6876#16139" rel="nofollow noreferrer">publicly opened their extensive developer discussions</a> to the public at large.</li>
<li>Apple forums don't exist for all beta users (just for invited seed participants and paid developers), and we don't close shop on Q/A just because <a href="https://discussions.apple.com/welcome" rel="nofollow noreferrer">Apple Discussions</a> also exists for user questions and answers. </li>
<li>Apple Developer forums are now publicly readable just like the WWDC videos and developer documentation, so in effect, anything posted on these sites is "published" directly by Apple and that could weaken NDA claims on content hosted there in the open.</li>
</ul>

<p>Specifically, Ask Different's active users have had two years of experience with letting extremely narrow, unlikely to be widely applicable questions be asked and I feel the site is better for them. </p>

<hr>

<p>Now for <em>my opinions about the above facts</em> in relation to how I see the site growing and adapting to Apple and to the users of this site's needs today and going forward.</p>

<p>I don't see any harm if people ask a question like <strong>In beta build 15A204h of 10.11 I can't log into FaceTime and don't know which error log to look</strong> or <strong>Is there a way to figure out why this specific app won't run under gatekeeper on beta build 15A204h?</strong></p>

<p>I would like to be able to keep questions like the following open as Apple has thoroughly documented how the beta software works and/or intends to work which makes it concrete, shipping (for some) and answerable without regard to violating an NDA should one even exist between Apple and the OP/Answerers.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/193368/">What is the &quot;rootless&quot; feature in El Capitan, really?</a></li>
<li><a href="https://apple.stackexchange.com/questions/191421/">Can I make my own kernel extensions on El Capitan?</a></li>
<li><a href="https://apple.stackexchange.com/questions/190855/">OS X El Capitan find mouse dosen&#39;t work with external mouse</a></li>
<li><a href="https://apple.stackexchange.com/questions/190826/">How do I use Split View in OS X 10.11 El Capitan?</a></li>
</ul>

<p>All of the above are answerable, clear, useful IMO.</p>

<p>We have all the close reasons to handle vague questions, too broad questions, and basic customer support questions for beta builds as well as we do for normal builds. Adding beta to a bad question still means we will close it with prejudice. However, I believe the quality of questions on the site will rise if we make this change since we are selecting for the most active users of Apple products. I welcome people asking about OS 9 and older technology and want to also welcome people that have legitimate questions about using any Apple product or service. Full stop.</p>

<p>There clearly will be people uncomfortable with potentially violating their NDA and we will probably lose their input, but Apple is clearly putting their beta software in very wide audience. To wit, <a href="https://www.apple.com/iwork-for-icloud/" rel="nofollow noreferrer">Apple's iWork for iCloud</a> is in beta and has been so since June 2013. <strong>We should allow questions on software that people use, and people are using Apple's beta software widely.</strong> No NDA or paid developer account is needed to download Xcode 7, iWork in iCloud, or view any of the WWDC videos from this year. Yes, some people will participate in the <a href="https://appleseed.apple.com/sp/welcome" rel="nofollow noreferrer">iOS and OS X AppleSeed customer seeding</a> or the <a href="https://beta.apple.com/sp/betaprogram/welcome" rel="nofollow noreferrer">Apple Beta Software Program</a> beta seeding program or the <a href="https://developer.apple.com/programs/" rel="nofollow noreferrer">Apple Developer Program</a> and be encumbered with those agreements between them and Apple.</p>

<blockquote>
  <p><strong>Is the public beta software confidential?</strong> Yes, the public beta software is Apple confidential information. Don t install the public
  beta software on any systems you don't directly control or that you
  share with others. Don t blog, post screen shots, tweet, or publicly
  post information about the public beta software, and don't discuss the
  public beta software with or demonstrate it to others who are not in
  the Apple Beta Software Program. If Apple has publicly disclosed
  technical information about the public beta software, it is no longer
  considered confidential.</p>
</blockquote>

<p>So, participants should be totally in the clear if they are only discussing what Apple has publicly disclosed. Yes, people may find it harder to keep track of what is confidential and not - so each person will have to make a choice if they can keep track of things or just want to walk out of the room if they are uncomfortable with the topics being discussed like any adult should always feel empowered to do.</p>

<p>Also, since we have tags and search terms to help us find beta software and flags for people to alert moderators - we can use the typical post notices to ask people to document their words with a public link or face removal.</p>

<p>Also, I'm still going to be voting to close questions about "future" betas, or "future OS" as described well in these two answers</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/a/1115/">Questions about OS X before it is released to the general public?</a></li>
<li><a href="https://apple.meta.stackexchange.com/a/1332/">Can I ask about not-yet-publicly released OS?</a></li>
</ul>

<p>Note that the problems with speculative questions (Will the final version do X, When will Apple do Y, Will this bug get fixed) are not unique to betas therefore allowing good beta questions will not allow bad questions (beta or not) in on this specific coat tail.</p>

<p>I look forward to hearing from any community organizers, interested parties, or past/present moderators if they see any issues with my listing of "facts" as well as my opinions expressed here in favor of "lifting the ban" on beta posts pretty much immediately. I would expect us to all monitor things until later this fall fall to see whether we were too hasty or if this change fits in with both Apple in 2015 and our community of users in 2015.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5746" class = "post">
				<p>I would draw the line between the closed beta (only available to developers) and the public beta (where everybody can apply for). Don't see the benefit of having Q&As on OS versions which only a few have access to (and which age quickly)</p>
			</div>
			<div id = "comment-5747" class = "post">
				<p>What if the same build is seeded in both channels? Developers use software too. Like the llink on SMTP mail setting being borked. My point is it's not just a few people with access now.</p>
			</div>
			<div id = "comment-5749" class = "post">
				<p>If it is seeded through the public channel, it's fine. I just think that for issues with non-public betas, discussions on one place (the Apple forums) might be better because the involved people are fewer and it doesn't help if they are split across several places. Also Apple will most likely not read AD.</p>
			</div>
			<div id = "comment-5750" class = "post">
				<p>Three thoughts. Apple has support forums for shipping software and we don't roll up our carpet. (We are better moderated, clearer and more searchable). Apple does read online forums per Phil Schiller. Beta users don't get a feedback channel. Other users of beta software should still use official feedback channels just like users of "release" software do.</p>
			</div>
			<div id = "comment-5803" class = "post">
				<p>+1. The test should always be this: Why do we NEED to close this question type for the long term goals of serving the most people?  To my view, public beta questions are a no-brainer.  (I'd be open to some private, too, but see both sides there.)   I know it's not apple, but Gmail was in public beta for *five years*.   Also, I have one RIGHT NOW and need help. :)</p>
			</div>
			<br><div id = "ans-2566"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><h1>No - we should not change the site scope.</h1>

<p>iOS 9 and 10.11 should be off-topic as we have done in the past until they are fully released to the public.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5797" class = "post">
				<p>(I'm not voting no - but I wanted a clear answer to let people who feel no is correct to vote this up. It also lets yes people vote this down)</p>
			</div>
			<div id = "comment-5805" class = "post">
				<p>Do you mean this lets no people vote it down?</p>
			</div>
			<div id = "comment-5807" class = "post">
				<p>I'm thinking we can compare the votes on this post to see if no people outweigh yes people.</p>
			</div>
			<div id = "comment-5808" class = "post">
				<p>So we can still down-vote this then?</p>
			</div>
			<br><div id = "ans-2567"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><h1>Yes - change site scope to allow iOS 9 and 10.11 El Capitan questions during their beta release cycle.</h1>

<p>Since this is a change from the past, this is a temporary change and we will gather on meta after both ship (or sooner if bad things happen) to revisit this change.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2572"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p><H2>Yes - Only if it's a public beta version</H2></p>

<p>We should allow OS X and iOS public beta questions only. This is because ANYONE can install public beta OSes but only developers can install the developer preview.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5806" class = "post">
				<p>This is an addition to +bmike's answers. This allows people to say yes to public beta versions only instead of the developer builds as well. This lets more people to answer questurns since anyone can install the public betas. This also lets Apple iron out any issues that may be in the developer build for the public.</p>
			</div>
			<div id = "comment-5819" class = "post">
				<p>So - you are "yes: public beta", "no: apple seeding" and "no:developer" ?</p>
			</div>
			<div id = "comment-5821" class = "post">
				<p>Yes. I think it should be public beta only because then any iOS user can find the answers useful, otherwise for a lot of users the questions will be 'junk' if you know what I mean.</p>
			</div>
			<div id = "comment-5822" class = "post">
				<p>@bmike As long as any user can have access to the iOS/OS X, we should allow it.</p>
			</div>
			<div id = "comment-5823" class = "post">
				<p>Perfectly unclear to me. So any user can have access to OS X if they pay for a Mac and accept the EULA. Any user can have access to beta builds if they pay for a developer account and accept the EULA. Any user can participate in the open beta program if they agree to the EULA. I don't get how "any user" and "can have" work out in practice.</p>
			</div>
			<div id = "comment-5824" class = "post">
				<p>@bmike I think it should be public beta only because this means that Apple allows anyone to install the pb iOS/OSX onto their computer without paying, meaning it is available to everyone (because some people like me don't want to pay the $99 to test iOS and OS X).</p>
			</div>
			<br><div id = "ans-2575"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-1</h3>
				<p><p>I'm on the Appleseed Beta program, and my Beta software seems to differ from genuine paid developer program software.  So there can easily be questions relating to things like "Where's the new iCloud Drive app in the Beta?" by people like me who don't have it, with people answering "Er, on your home screen" by people who do etc.  There's precious little parity for many things, so even is we started using a Beta specific tag that we would then use to locate and destroy upon release, it could still cause some wild confusion and speculation.  So I say NO, let's just not cover it.  The Dev program has a free tier with their own discussion boards, and that is the appropriate place.</p>

<p>However, there are time when you can <em>reference</em> a beta, without having is as the primary point of the question.  As an example, a while ago someone asked how to get a WIFI password that had been forgotten from an iPhone.  At the time, the answer was "You can't", but a valid answer was also "You will be able to after the next release of iOS when Keychain will sync to a Mac if you have one and allow you to read it from there".</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5820" class = "post">
				<p>Note, I am calling for build versions of beta questions so that everyone can be specific enough and know what applies to which build (just like we need to do occasionally on release versions)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>