<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should [energy] be renamed to [energy-impact] or be a synonym of [power-management]?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should [energy] be renamed to [energy-impact] or be a synonym of [power-management]?</h2>
<p><a href="https://apple.stackexchange.com/questions/tagged/energy-saving" class="post-tag" title="show questions tagged &#39;energy-saving&#39;" rel="tag">energy-saving</a> is already a synonym of <a href="https://apple.stackexchange.com/questions/tagged/power-management" class="post-tag" title="show questions tagged &#39;power-management&#39;" rel="tag">power-management</a>, but <a href="https://apple.stackexchange.com/questions/tagged/energy" class="post-tag" title="show questions tagged &#39;energy&#39;" rel="tag">energy</a> is separate. It is used on a variety of questions, mostly in unison with <a href="https://apple.stackexchange.com/questions/tagged/power-management" class="post-tag" title="show questions tagged &#39;power-management&#39;" rel="tag">power-management</a> for general energy questions, or when talking about the Energy Impact.</p>

<p>Is <a href="https://apple.stackexchange.com/questions/tagged/energy" class="post-tag" title="show questions tagged &#39;energy&#39;" rel="tag">energy</a> supposed to be referring to the Energy Impact? The tag has no wiki or excerpt. If so, could the tag be renamed to <a href="https://apple.stackexchange.com/questions/tagged/energy-impact" class="post-tag" title="show questions tagged &#39;energy-impact&#39;" rel="tag">energy-impact</a> to make that clear? If not, could it be a synonym of <a href="https://apple.stackexchange.com/questions/tagged/power-management" class="post-tag" title="show questions tagged &#39;power-management&#39;" rel="tag">power-management</a>?</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>