<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Should I delete my question or keep it?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2817" class = "post">
			<h2>Question</h2>
			<div id="vote-2817" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should I delete my question or keep it?</h2>
<p>Not finding a solution, I posted <a href="https://apple.stackexchange.com/q/243092/19937">this question</a> but now see it is covered by <a href="https://apple.stackexchange.com/q/179150/19937">this one with an answer</a>.</p>

<p>Should I just delete it, or is it better to close as a duplicate?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2817" class = 'collapse'>
			</div>
				<textarea id = "speech-2817" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2817">
					<img id="start_img-2817" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2818"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2818" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Thanks for bringing this up on meta so quickly. As already remarked by <a href="https://apple.stackexchange.com/users/85275/tetsujin">@Tetsujin</a> in the comments:</p>

<blockquote>
  <p>We can keep it &amp; link it as a duplicate - which gives Google a greater chance of finding the answer in future. I'll vote to close as a dupe; it doesn't reflect on the quality of the question, merely links it to an existing one with a highly-voted answer.</p>
</blockquote>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2818">Load Comments</button></br>
			<div id = "commentsection-2818" class = 'collapse'>
			<div id = "comment-6148" class = "comment">
				<p>@Sergei believes it is not a dup and they can answer it, I've asked them to explain so we can reopen.</p>
			</div>
			</div>
				<textarea id = "speech-2818" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2818">
					<img id="start_img-2818" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>