<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should I be changing titles from "How to...?" to "How can I~do I~should I....?"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1042" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::139</h3>
				<h2>Should I be changing titles from "How to...?" to "How can I~do I~should I....?"?</h2>
<p>This was a question that I brought up in the chat room yesterday. I brought the question over here to meta so that all the answers from all the people could be put into one place.  </p>

<p>The question is: Should we be changing titles from "How to...?" to "How can I/do I/should I....?"? I don't like "How to...?" because it is not a real question. When talking to someone, you wouldn't ask them "How to talk to Siri?", rather you'd ask "How do I talk to Siri?" Because I don't like "How to...?", I went on several editing sprees to correct mass numbers of questions with incorrect (according to me) titles. However, I will, in the future constrain myself to only editing questions in mass numbers every once in a while and not too often. Please post an answer. I value your thinking, even if I disagree with it.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1894" class = "comment">
				<p>Please leave a comment if you downvote! Downvotes are ***useless*** without a comment.</p>
			</div>
			<div id = "comment-1895" class = "comment">
				<p>On meta, it just means that someone disagrees. Consider it a 'no'.</p>
			</div>
			<div id = "comment-1896" class = "comment">
				<p>@Nathan Yes, I know that, but it would be more helpful to leave comment/answer rather than just downvoting.</p>
			</div>
			<div id = "comment-1897" class = "comment">
				<p>This seems overly pedantic. While I agree that "the question" is key to the success of a SE site and that titles that are good questions are more likely to attract good answers, I don't think it is necessary for the title to "be" the question so long as its a clear representation of the content.</p>
			</div>
			<div id = "comment-1899" class = "comment">
				<p>I would add that in cases of a "tie", that is to say when edits address preference, not correctness, the words of the original author should be given precedence.</p>
			</div>
			<div id = "comment-1926" class = "comment">
				<p>We need a meta meta site so the down-voting vs. commenting on yes/no questions issue can be properly addressed!</p>
			</div>
			<div id = "comment-1930" class = "comment">
				<p>@TimothyMueller-Harder, it [appears](http://meta.apple.stackexchange.com/questions/1030/should-we-have-posts-on-meta-that-arent-questions-that-can-be-answered#comment1876_1037) that meta *is* the meta meta site (and the meta meta meta site, ad infinitum).</p>
			</div>
			<div id = "comment-1934" class = "comment">
				<p>@Daniel Haha, I'm glad that's been decided! :D</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1043"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::12</h3>
				<p><p>If that's the only thing you're changing, no.</p>

<p>It's an okay edit to be making, and I agree that it's more proper, but 'how to...' isn't bad enough to warrant a whole edit and bumping the question to the top of the homepage.</p>

<p>If you want to go through questions and change their titles, you should make sure that you're also changing something else that is more significant. Whenever you change the title, make sure that you're also changing other things: fix any other spelling/grammar/clarity issues in the question, add a screenshot, etc.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1044"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>If it's the only change, then I consider it trivial, and whilst it may irk you to be using a format that you consider less than perfect, or different to your preference, they you need to suffer in silence.</p>

<p>It's OK to say "Make some other change at the same time", but you need to ensure that the extra change (or changes) would also be valid and non trivial as a standalone edit.  2 trivial edits do not make a suitable edit, <em>especially</em> if one of them was only made to justify the other.</p>

<p>As a rule I am not in favour, as I do not see that any instance of changing "Hot to" to "How do I" as significantly improving the clarity of the question and as such it's chances of being understood and answered.</p>

<p>I would also point out that the title of the question becomes the title of the page, the page consists of more than just the question, but the answers and comments also, and as such a "How to" topic for the page as a whole can be considered more relevant than a "How do I?".  In search results, "How to" implies you will receive instruction, but "How do I" can imply someone seeking help without necessarily implying that they got it.</p>

<p>EDIT: The exception to the rule is if you are providing an answer or other material that would cause a bump to the top anyway.  To be clear whilst the triviality is a concern, my actual problem with it is the unnecessary bump that is associated with it, so if it's going to bump anyway, then edit away!</p>

<p>2p</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1900" class = "comment">
				<p>Up vote for using "whilst".</p>
			</div>
			<div id = "comment-1902" class = "comment">
				<p>Is that even a word?  We use it a lot round here, too much for it not to be!</p>
			</div>
			<div id = "comment-1907" class = "comment">
				<p>Certainly a word. Used correctly in your answer.</p>
			</div>
			<br><div id = "ans-1045"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I think there are three parts to this question.</p>

<p>The first is whether it is desirable for questions to say "How do I" rather than "How to". As a matter of style, I prefer a title lable rather than a complete sentence, but I do recognize that some estemed members of this site encourage complete sentence titles (even if they themselves occasionally use label phrases rather than complete sentences). I think a fuller label is preferable, but don't particularly want the title of the the question to be a complete, gramatically correct question.</p>

<p>If we take as given that my preferences are ideosynchratic (or wrong) and that "How do I" is, in fact, better than "How to" in question titles, the next question is whether this is a sufficiently substantial edit to merit editing a post. I would again argue that the answer is no: if, in the course of making other substantive edits to a post, one also wants to trivially improve the title, go ahead, but it is certainly not sufficient to cross the "substantial" bar necessary to justify editing.</p>

<p>Next, I believe, there is the question of whether a large string of such edits in a short period of time is ever in order. I would most emphatically assert that this is not good for the site. To have the home screen full of questions brought to the surface for a three character edit, thus drowning out the newly asked questions is the very definition of <a href="http://en.wikipedia.org/wiki/Spam_%28Monty_Python%29" rel="nofollow">spam</a>.</p>

<p>Finally, I would say it would be my preference to take this one step further: not only should one <strong>not</strong> change "how to" to "how do I", but <strong><em>any</em></strong> edit that merely changes a clear title into a complete sentence question and does nothing else to clarify the title and contains no substantive edits to the content of the post falls into the category of "too trivial" to deserve an edit. Such edits, I believe, should be avoided.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1898" class = "comment">
				<p>Daniels comments about the title as label are an accurate reflection of the point I was making (or trying to) in my comment to the question.</p>
			</div>
			<br><div id = "ans-1046"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>In my opinion, if an edit improves a question in some way, and someone's willing to make it, they should feel free to make the change. Whether this is fixing a typo or retagging the question, the accumulation of all these tiny improvements will lead to a higher quality post, and a higher quality site.</p>

<p>I also think that, the majority of the time, a question's title should also be a question, as it helps the person asking the question to identify the core focus of their problem, which in turn helps the people looking at the recent questions list get a better idea of what the questions in the list are asking. For people with the same problem in the future, the similar questions search in the "Ask Question" page is based off question titles, and the title is placed in the <code>&lt;title&gt;</code> of the page, which is given additional weight in a Google search. Finally, having the majority of the posts on the site phrased in the form of a question serves to improve consistency, as well as to serve as an example to new users of how to ask their questions.</p>

<p>That said, simply changing "How to" to "How do I" long after the question is asked and answered really only serves that last point as it didn't help the asker, the answerers, and provides no additional keywords for searchers. Still, I don't think that anyone's arguing that changing the title is bad if there's other stuff that needs to be changed in the body and tags of the question as well, which indicates that an edit that changes the title from "How to" to "How do I", taken by itself, is at least not a negative.</p>

<p>The point of contention comes with the fact that there's also a 'cost' to each edit - every time a question or answer is edited it's put back at the top of the active queue, the default sort order for the front page. If lots of edits are done in quick succession, they drowned out the actual open questions making it harder to get questions answered, and to find questions to be answered.</p>

<p>The correct solution to this, in my opinion, is to build in support for non-bumping edits into the system. Wikipedia is a good example here - nobody gets chastised for fixing typos, and there's a <a href="http://en.wikipedia.org/wiki/Help%3aMinor_edit" rel="nofollow">way to mark edits as 'minor'</a>, indicating that the edit does not change the content and does not need to reviewed.</p>

<p>Barring that, however, I agree that edits to older posts should be done no more than a few at a time, and that it's better to use those edits to fix up the posts that really need it rather than to change something minor. I disagree, however, that any edit that improves the post should not be made because it's 'too minor'. The quantity and frequency of the edits is the problem, not the fact that they change comparatively little.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1908" class = "comment">
				<p>+1 for "minor" non bumping mechanism.</p>
			</div>
			<div id = "comment-1915" class = "comment">
				<p>I assume that you support a 'minor edit' mechanism only if people aren't able to cheat it be changing too much? Say... 25 characters or less?</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>