<html>
	<head>
		<title id = 'pagetitle'>Should we discourage shortened links (bit.ly, etc.)?
		</title>
	<head>
	<body id = 'pagebody'><p>I've noticed that people post bit.ly links quite often. I don't notice it as often here as the other SE sites, but it's still a problem, in my opinion. There is no reason to post a bit.ly link at all. Should we be discouraging these links?</p>


<h1>ANSWERS</h1>
		<p>I agree, bit.ly links in questions and answers are pointless and are somewhat harmful - you can't see where the link goes without clicking on it, and it both relies on and provides information to a third-party service. I suggest that all URL shortened links in questions and answers be rewritten with the full URL.</p>

<p>As for comments, there is a character limit, so a shortened URL might be used to stay within the number of allowed characters. This is the only case where bit.ly or other shortened URLs should be acceptable.</p>


	</body>
</html>