<html>
	<head>
		<title id = 'pagetitle'>Should questions about OS X Yosemite be allowed now it is in public beta?
		</title>
	<head>
	<body id = 'pagebody'><p>I know this question has already been asked, but with the public beta release everyone can access and get Yosemite. There will definitely be some bugs and glitches. Could we ask questions on Yosemite on the main site?</p>


<h1>ANSWERS</h1>
		<p>Yes.</p>

<p>The public beta for Yosemite has passed and it is now officially released. Ask away.</p>


	</body>
</html>