<html>
	<head>
		<title id = 'pagetitle'>Should we make a new tag called 'rEFInd' in replacement of 'rEFIt'?
		</title>
	<head>
	<body id = 'pagebody'><p>I have been asking a few questions lately about rEFInd and have had to use the tag <a href="https://apple.stackexchange.com/questions/tagged/refit" class="post-tag" title="show questions tagged &#39;refit&#39;" rel="tag">refit</a>.</p>

<p>Should we make an updated tag for rEFInd since rEFIt is outdated now? If we shouldn't then why?</p>

<p>This will also help to distinguish between the old rEFIt and the new rEFInd.</p>

<p>Here are the links to the questions:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/188190/uninstall-refind-0-8-3-7-on-yosemite">Uninstall rEFInd 0.8-3.7 on Yosemite</a></li>
<li><a href="https://apple.stackexchange.com/questions/188401/install-refind-on-another-partition">Install rEFInd on another partition</a></li>
</ul>


<h1>ANSWERS</h1>
		<p>My vote would be to merge both to <a href="https://apple.stackexchange.com/questions/tagged/efi" class="post-tag" title="show questions tagged &#39;efi&#39;" rel="tag">efi</a> or some other tag further up the hardware chain.</p>

<p>What are your thoughts of tagging these utilities more on what they do (replace/interface with EFI) than what the program du jour is called?</p>


	</body>
</html>