<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Should we try to start killing off the community poll questions with this one?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-903" class = "post">
			<h2>Question</h2>
			<div id="vote-903" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 190</p>
			</div>
				<h2>Should we try to start killing off the community poll questions with this one?</h2>
<p>Jason had a nice comment in the chat room and I'd like to see if there is enough common interest to start killing these unanswerable questions off.</p>

<p><a href="https://apple.stackexchange.com/q/5435/5472">Got any tips or tricks for Terminal in Mac OS X?</a></p>

<p>This question specifically has no answer. Software can do anything our minds can describe and with tools as mature as the Lion terminal with commands like <code>open</code> and <code>pbpaste</code> and pipe etc.... there are really an unlimited number of cool things that you can do in terminal.</p>

<p>What is the practical problem trying to be solved here? What is the "answer".</p>

<p>I think we could pick one question like this and close it with a comment that although it contains great information - it's not in the one Q one A format and encourage people to craft a good question for each specific answer that needs to be copied over. If someone else sees the question before the asker gets a chance to answer - so much the better. In a short amount of time, imagine how many great questions could be around by "mining" these loose form collections for the best tidbits. </p>

<p>Can this site curate great questions from ones like this?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-903">Load Comments</button></br>
			<div id = "commentsection-903" class = 'collapse'>
			<div id = "comment-1648" class = "comment">
				<p>Completely agree, this could be a great way to distance ourselves from the CW-questions. I notice too many one-liner answers that don't bring anything to the question.</p>
			</div>
			<div id = "comment-1649" class = "comment">
				<p>I'm all for community wiki **answers** - [like this one](http://apple.stackexchange.com/questions/23577/how-many-genius-mixes-are-there-in-itunes/23660#23660) - but I'm not even sure we need them with the lower thresholds for editing in place now. I've never gotten why a question needs a community to edit it. Answers, yes - but one or two edits and the question should be good to go for a good long time.</p>
			</div>
			<div id = "comment-1652" class = "comment">
				<p>I like the concept of a collection of tips, although it does not work with the current format in which questions and answers are structured. Sifting through ten pages is cumbersome; it becomes a total mess. It would be excellent if they could be indexed into an easy to browse format, however, it is not.</p>
			</div>
			<div id = "comment-1665" class = "comment">
				<p>As a side note: I think a lot of the *answers* in that [Terminal](http://apple.stackexchange.com/questions/5435/got-any-tips-or-tricks-for-terminal-in-os-x) question (and also in similar [Dropbox](http://apple.stackexchange.com/questions/11859/what-are-some-great-os-x-dropbox-uses) question) are mostly off-topic, ie. not unique to OS X. (and should we start to flag the answers, I think they ought to be deleted more light handedly than regular answers to good old regular questions.)</p>
			</div>
			</div>
				<textarea id = "speech-903" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-903">
					<img id="start_img-903" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-904"  class = "post">
				<h2>Answer</h2>
			<div id="vote-904" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm new on Apple.SE, but I see nothing wrong with such questions on StackOverflow. Why do you want to kill it? Does it clog something up? The community clearly likes it; upvotes imply support. And surely you want the community to stay and bond through questions like that.</p>

<p>If it were voted into the negative then I suppose... But this one clearly doesn't warrant that kind of response, in my opinion.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-904">Load Comments</button></br>
			<div id = "commentsection-904" class = 'collapse'>
			<div id = "comment-1650" class = "comment">
				<p>Wouldn't it be better to have 30 great terminal questions that have these popular tips but are easier to search and keep up to date? I want the content here - but not all in one hot mess. I could easily be in the minority here so I asked :-). It's really good to hear others to realize some feel it's better than splitting it up.</p>
			</div>
			<div id = "comment-1651" class = "comment">
				<p>To see more discussion, take a look at http://meta.apple.stackexchange.com/questions/697/how-to-kill-off-community-wiki-entries</p>
			</div>
			</div>
				<textarea id = "speech-904" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-904">
					<img id="start_img-904" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-905"  class = "post">
				<h2>Answer</h2>
			<div id="vote-905" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I actually kind of like these questions (or rather the answers). The key benefit for me is that they contain a lot of interesting stuff in one place, especially a lot of things I would never have searched for explicitly but are good to know. And for some of them it would be quite difficult to come up with specific questions, e.g. for most of <a href="https://apple.stackexchange.com/questions/11030/ios-developer-tools-utilities-must-haves-and-nice-to-haves">iOS Developer Tools &amp; Utilities (must haves and nice to haves)</a> and similar questions.</p>

<p>Don't know whether this is feasible on SE but could we come up with some extended FAQ like thing for these kind of information?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-905">Load Comments</button></br>
			<div id = "commentsection-905" class = 'collapse'>
			<div id = "comment-1653" class = "comment">
				<p>I agree. I really like them too because there are many answers all collected in one place. I also think we should have a page for all of the CWs like this.</p>
			</div>
			<div id = "comment-1656" class = "comment">
				<p>Would you like to see one community wiki answer where all the tips exist in a single answer or having tens or in some cases, hundreds of "answers"? Also, specifically is the question I singled out a good example of the type you like in general?</p>
			</div>
			</div>
				<textarea id = "speech-905" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-905">
					<img id="start_img-905" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-985"  class = "post">
				<h2>Answer</h2>
			<div id="vote-985" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think it's a good idea to delete those questions. In fact, THIS site is the last one of the SE constellation that still have (and allow) those kind of "List-Question". (Surely one of the reasons why there is the word "different" in his name :-) ) I've tried to argue on different meta about the unafordable great source of information that those questions represent, but I've faced such a religious-minded counter-strike that I was left voiceless. They must be some "Jeff'Fan Boys" talking about the rules of SE as the Rules of Moise.  </p>

<p>I (totally?) agree that the <em>current</em> format of SE Q&amp;A site doesn't fit super nicely, but that's only a technical problem. The content is nice and can not be found elsewhere on the internet.</p>

<p>So for the sake of having good examples of those kind of questions, and the argument of their value just by looking at the number page views (that has certainly attracted tons of new users to the constellation!), I really want those questions to be left on this web site.</p>

<p>In fact, I'm pretty sure that the SE engine will be able soon (or later) to handle those kind of "question without 1 good answer only". Those questions would then migrate to that more suitable look&amp;Feel.</p>

<p>For instance, I'm so sad that a question about "false friend/faux amis" has been deleted from the French SE! There was a superb collection of the "Actually/Actuellement". So sad that this unique source of information has disappeared, just because someone said that "technically" those kind of question are not allloooooooowed.</p>

<p>If Joel &amp; Jeff reaalllly wants to provide better content for the masses on the internet, then they will address this stupid (but yet complex) "format" issue. Do you think PHPBB is better at Collection Type Q&amp;A ? :-P</p>

<p>I hope I'll be read by the Dev team of SE too. Thanks.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-985">Load Comments</button></br>
			<div id = "commentsection-985" class = 'collapse'>
			<div id = "comment-1797" class = "comment">
				<p>I guess for most of us in the "no lists" camp, we'd rather not be awash in questions that instead should be on somebody's blog. Actual problems being faced make the best questions and are why the network was designed as it is today. The "Top Tips" for Terminal could be an AD blog post linking to individual questions with answers. Less clutter on the site and the "list" is preserved for the pack rats. Success!</p>
			</div>
			<div id = "comment-1798" class = "comment">
				<p>Wow - that is a great suggestion. I think the site has the ability to let people propose blog entries and have them reviewed (so it can be quite open to anyone who wishes to author one of these topics). Would you perhaps answer this with a version of your comment and we can think through how this might work / refine the suggestion.</p>
			</div>
			</div>
				<textarea id = "speech-985" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-985">
					<img id="start_img-985" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-987"  class = "post">
				<h2>Answer</h2>
			<div id="vote-987" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe "list" questions and "poll" questions don't serve our network well. StackExchange works best with actual problems faced by end users with discrete answers. Lists, polls, and subjective "Best Of" questions muddy the water and <a href="https://meta.stackexchange.com/a/96237/162175">push worthwhile questions out of the limelight</a> (e.g. ones where people need help on an actual problem).</p>

<p>One potential solution to this problem is to utilize the blog as a means to provide "Best Of" or "Top Tip" lists. The blog format is well suited to subjective discussions without concrete answers. <a href="http://blog.superuser.com/2011/11/09/virtualization-%E2%80%93%C2%A0why-the-hype/" rel="nofollow noreferrer">SuperUser does something similar with their Question of the Week</a>, although I'm not sure what they use to drive their selection.</p>

<p>The community could use Meta to organize the topics prior to submission to the blog, and find the individual questions which should comprise these lists. This would enable those who yearn to read about the "Top 3.1415926... Chicklet Keyboard Keys" to still have an outlet in the community, and would help keep the questions on-topic and constructive.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-987" class = 'collapse'>
			</div>
				<textarea id = "speech-987" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-987">
					<img id="start_img-987" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-989"  class = "post">
				<h2>Answer</h2>
			<div id="vote-989" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Somehow I missed this question after the discussion occurred.</p>

<p>I like some of the CW-lists on the site, and I dislike some of the others. I love the roots of the <a href="https://apple.stackexchange.com/q/5435/5472">Terminal Tips &amp; Tricks</a> question, but the fact that it descended into 'look at all these cool command line programs' turned it into a waste. Many answers can be cleaned up because they don't fit the question. Hence what spawned all of this.</p>

<p>And I REALLY love the '<a href="https://apple.stackexchange.com/questions/17759/what-tiny-thing-in-lion-makes-you-smile-or-has-caught-you-off-guard">new features / caught off guard with Lion</a>' and '<a href="https://apple.stackexchange.com/questions/27761/what-tiny-thing-in-ios-5-makes-you-smile-or-has-caught-you-off-guard">iOS 5</a>' CWs, because there is so much good content that would likely never have been asked about.</p>

<p>With the '<a href="https://apple.stackexchange.com/questions/27761/what-tiny-thing-in-ios-5-makes-you-smile-or-has-caught-you-off-guard">tiny things in iOS 5</a>' question, the highest voted answers would probably have never been asked about. Who is going to ask: "How do I view my photo roll when in Camera.app more quickly?" No one will, because there is a button in the bottom-left that takes you to your Camera Roll.</p>

<p>Could someone ask "How do I view my photos without leaving Camera.app and opening Photos.app?" Absolutely, but it's terribly unlikely. I also think that no one would ask "How can I view a weather forecast instead of the current conditions via the Notification Center?", but the fact that we provide this information is a <em>nice to have</em>. Which was the whole point of the question.</p>

<p>Now, that's not the entire side of the story, and I will completely admit that I would not be surprised to see questions like:</p>

<ul>
<li>"How do I retract the keyboard in Messages.app without having to leave the conversation?"</li>
<li>"How do I pick the specific notification to view from the Lock Screen?"; or</li>
<li>"How do I selectively delete call history?" (As a matter of fact, I seem to recall this question existing prior to iOS 5's release.)</li>
</ul>

<p>But that's just <em>three</em> minor ones out of the first page of 30 answers. There's good content to be saved, and there's bad content to be cleaned up or pruned (both of which have happened, at least by my hands in the iOS 5 question).</p>

<p>There is a very specific line that has to be drawn with these questions, but you won't be able to set a rigid standard that suffices it. It's a case-by-case, community and moderator decision, which is exactly the way it should be. There are <a href="https://apple.stackexchange.com/questions/517/recommendations-for-purchasing-low-cost-but-powerful-macs">some</a> <a href="https://apple.stackexchange.com/questions/634/how-do-you-use-ipad">questions</a> that need to be closed, thankfully they're dead activity wise. Not that we won't see a resurgence when Community &diams; decides it wants to bump them, but here's hoping it decides to pick better low-hanging fruit.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-989" class = 'collapse'>
			</div>
				<textarea id = "speech-989" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-989">
					<img id="start_img-989" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>