<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should the site opt out of Winter Bash 2016?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2899" class = "post">
			<h2>Question</h2>
			<h3>Score ::13</h3>
			<h3>Views ::247</h3>
				<h2>Should the site opt out of Winter Bash 2016?</h2>
<p>Each December, the developers run a game / enhancement / treasure hunt that involves hats on avatars.</p>

<ul>
<li><a href="http://winterbash2016.stackexchange.com" rel="nofollow noreferrer">http://winterbash2016.stackexchange.com</a></li>
</ul>

<p>The event will run from 19 December 2016 up to and including 08 January 2017. The above site will also have a landing page, explaining the rules and other details of the event. </p>

<p>Individual users who don t want to participate, don t want to see hats, and/or are generally anti-hat will have an  I hate hats  option available. And just like last time, at the end of the event, all hats will go back into storage. </p>

<p>The only visual change to the Stack Exchange sites themselves will be the presence of the hats and the  I hate hats  button in the footer.</p>

<p>If anyone has a reason why we should hate hats as a site as opposed to individuals, an answer here is a great place to make that case.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6319" class = "comment">
				<p>I like the hats  :)</p>
			</div>
			<div id = "comment-6326" class = "comment">
				<p>+1 for the question - nicely balanced... but you know the answer - **Nuuuu... we love hats!!** ;)</p>
			</div>
			<div id = "comment-6334" class = "comment">
				<p>I can't figure out who would down-vote this question... It basically asks a simple yes/no question as a community, with a solo opt-out clause. What could possibly deserve a down-vote? If you want or don't want hats, vote on one or more of the answers.</p>
			</div>
			<div id = "comment-6335" class = "comment">
				<p>Don't worry too much @Tetsujin - on meta people down vote things they don't want to see enacted. So a down vote here = an up vote for the no answer.</p>
			</div>
			<div id = "comment-6336" class = "comment">
				<p>Hokay - fair enough. I guess it just seems simpler to vote on the yes/no answers to me ;)</p>
			</div>
			<div id = "comment-6339" class = "comment">
				<p>If I'm reading the "I Am Your Father" hat correctly, then answering or voting on this question that you don't want hats is worth... a hat.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2901"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::42</h3>
				<p><p>Hats are the best and we want hats.</p>

<p>A vote for this answer is a vote for no.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6320" class = "comment">
				<p>Does that include asshats? ;-)</p>
			</div>
			<div id = "comment-6321" class = "comment">
				<p>No one wants more ass unless they specifically ask for it, no?</p>
			</div>
			<br><div id = "ans-2906"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::11</h3>
				<p><p>Why should we opt out Winter Bash? Its always a fun game. Even developers need a little fun some times.</p>

<p>I Love Hats.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6324" class = "comment">
				<p>I couldn't think of a reason, but I wanted to check in case there were some.</p>
			</div>
			<br><div id = "ans-2910"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-4</h3>
				<p><p>Just for some balance on the voting [&amp; not a reflection of my personal opinion] let's see how much activity this one can generate.  </p>

<p>I don't mind down-votes.</p>

<h1>We do not want hats. Please opt-out.</h1>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6331" class = "comment">
				<p>NO FUN ALLOWED! </p>
			</div>
			<div id = "comment-6332" class = "comment">
				<p> (       )  none.</p>
			</div>
			<div id = "comment-6337" class = "comment">
				<p>Users have been proven to pay more hattention to questions during Winter Bash. Which is bad.</p>
			</div>
			<div id = "comment-6338" class = "comment">
				<p>-1 great answer but you don't need so much hattitude</p>
			</div>
			<div id = "comment-6340" class = "comment">
				<p>Taking one for the team :D</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>