<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Shouldn't this Mavericks question have remained open?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Shouldn't this Mavericks question have remained open?</h2>
<p>I resent you closed this issue <a href="https://apple.stackexchange.com/questions/135415/finder-windows-wont-show-after-reinstlling-mavericks-ower-yosemite">Finder windows won&#39;t show after reinstlling Mavericks ower Yosemite</a></p>

<p>How are we supposed to solve our Maverick related issues if we don't get to feedback on this env? </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>We have chosen for several years now to not be a place to host answers about beta and pre-release OS from Apple. </p>

<p>Until such time as consensus
changes, you should find support on Yosemite issues from the vendor or on another site. </p>

<p>See the FAQ for Yosemite in specific: <a href="https://appleseed.apple.com/sp/betaprogram/faq" rel="nofollow">https://appleseed.apple.com/sp/betaprogram/faq</a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>