<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Should we be more active with tag editing?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-363" class = "post">
			<h2>Question</h2>
			<div id="vote-363" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 35</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should we be more active with tag editing?</h2>
<p>I have noticed more and more over the last couple of questions, that most of them only have 1 or 2 tags, and very little further expansion. Since tagging is a very big feature of Stack Exchange, and immensely valuable for the SE regulars, should we be spending more time re-tagging questions and creating tags?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-363" class = 'collapse'>
			</div>
				<textarea id = "speech-363" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-363">
					<img id="start_img-363" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-364"  class = "post">
				<h2>Answer</h2>
			<div id="vote-364" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am agree with you, because these days we have many new members and some of them didn't familiar with any  other of SE sites so they just put one tag for their question. if other users can help to edit tag the site become more useful and clear.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-364" class = 'collapse'>
			</div>
				<textarea id = "speech-364" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-364">
					<img id="start_img-364" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-366"  class = "post">
				<h2>Answer</h2>
			<div id="vote-366" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's sort of a myth that every question has to have tons of tags. </p>

<p>In the early days of SO, we allowed lots of tags and people went a little crazy -- tagging things with 10 - 20 words of almost random stuff.</p>

<p><em>Do not add takes for the sake of doing so</em>; only add tags that are clearly relevant to the question and would help with categorization.</p>

<p>It is perfectly fine for a question to have 2 tags, for example.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-366" class = 'collapse'>
			</div>
				<textarea id = "speech-366" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-366">
					<img id="start_img-366" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>