<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we expand site scope to include iTunes Connect?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should we expand site scope to include iTunes Connect?</h2>
<p>I would like to call for discussion on the scope of this site in light of recent changes by Apple to broaden the audience for the iTunes Connect program.</p>

<p>I understand the initial hesitance to have Developer questions here on the end user forum - especially with Stack Overflow for hard developer questions and audience from coding to the app submission process. However, more and more end users are stepping forward to create iTunes connect accounts. </p>

<p>I don't see any reason to expand the scope to include how to program at this point, but it seems overly restrictive to keep iTunes Connect in the "out of bounds" portion of scope for Apple products and services.</p>

<p>What started as a Service for developers to sell iOS apps has now has served up:</p>

<ul>
<li><a href="http://www.apple.com/pr/library/2013/02/28iTunes-U-Content-Tops-One-Billion-Downloads.html" rel="nofollow">One Billion iTunes U downloads</a></li>
<li><a href="http://www.apple.com/pr/library/2013/02/06iTunes-Store-Sets-New-Record-with-25-Billion-Songs-Sold.html" rel="nofollow">25 Billion iTunes songs sold</a></li>
<li><a href="http://www.apple.com/pr/library/2013/01/07App-Store-Tops-40-Billion-Downloads-with-Almost-Half-in-2012.html" rel="nofollow">40 Billion App store purchases with almost 20 Billion in 2012 alone</a></li>
</ul>

<p>There will be questions about third party tools to manage billing, prepare songs and books for sale, and other topics related to selling or giving away content through the various Apple electronic storefronts. I think we can avoid any NDA issues by insisting that answers be sourced from public resources and be willing to clearly close or answer off-topic questions pointing the asker's to Apple's official channel for support in those cases.</p>

<p>I think the site was served well by initially discouraging iOS developers from asking iTunes connect questions, but now that we are excluding teachers, artists, musicians,  authors and programmers from asking iTunes Connect questions we're missing a large audience of people that use and work with one of Apple's most notable and unique services - their integrated store front for content creators.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I tend to be a conservative about these sorts of things, meaning that if this site is mostly working, the burden of proof lies with a proposal to change its scope. While some site clearly should include this as a topic, in my mind, the proposal needs to answer the question</p>

<h1>Why here?</h1>

<p>Questions about about selling apps, books, music, etc., through Apple's stores are clearly not questions about how to write computer programs.</p>

<p>But they also aren't exactly questions about using Apple products, which is the focus of this site. It seems to me that iTunes Connect questions would fit in better, perhaps, in a site where the audience is content developers of one sort or another rather than a site aimed at end users.</p>

<p>Is there a complementarity between questions about using Apple products and questions about selling content to users of Apple products? Yes, it's Apple-related, but do the questions attract answerers with the same expertise? I think that's the biggest relevant question. If having these questions hosted here would improve the base of answerers for the questions that are currently on-topic, it could be a good idea. If it's just more traffic on a sort-of-related-but-not-quite-overlapping subject, goodness knows it merits a place where it is on-topic, but I rather doubt that place is here.</p>

<p>If the askers are teachers, bands, and writers who want to list their content through iTunes, and want to know how to use Apple's iTunes Connect App, and they are looking for expertise from people familiar with using this app, I believe the answer is</p>

<h1>Yes, these posts belong here.</h1>

<p>I believe that the people who currently answer questions about using Apple apps and hardware can help answer questions about the Apple service known as iTunes connect, and that the questions are related enough and attract a similar enough species of end user that they will fit in nicely with this site.</p>

<h1>I support this proposal.</h1>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Before I seem like I'm completely against this idea, let just start by saying that I have no problem with our site expanding its focus to include iTunes Connect. It's a subject matter that is currently underserved by the rest of the Stack Exchange network, and it would be great to have a place to ask those kinds of questions.</p>

<p>I've often thought that Ask Different should have a sister site for programming for Apple's Mac OS X and iOS platforms, which include both Objective-C as well as iTunes Connect stuff. However, although I've followed a few proposals here and there on Area 51, nothing's managed to get to the commit phase.</p>

<p>So returning to the original question, my reservation about having questions about developer programs is that I'm concerned that most of the questions that can and will be asked are questions about policy, or are questions that only Apple can answer, or even just complaints/rants about the system. And as a personal note, I'm also completely unfamiliar with this side of Apple. Although subject matter expertise isn't a requirement to moderate, sometimes it's necessary to have some basic knowledge in the subject in order to determine if something's a duplicate, not a real question, etc. With the upcoming moderator election, it's possible we'll be getting new moderators more capable of handling these topics, so we can definitely revisit this then.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I really don't think this should be a grey area, or "muddy waters". </p>

<ul>
<li>iTunes Connect is an Apple Service.</li>
<li>The site definition includes "other Apple products or services"</li>
</ul>

<p>Therefore it already fits in the definition of this site. </p>

<p>The problem is someone has added an exception to the definition. I don't see anywhere the community deciding on that exception. So why is it there?</p>

<p>iTunes Connect is just as much an Apple service as iCloud.com is.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Yes, iTunes Connect should be on topic both here and on Web Apps.</p>

<p>While all of the answers here are technically correct, there's another option:</p>

<p>See <a href="http://area51.stackexchange.com/proposals/30702/app-stores">this proposal (link)</a>, which would encompass iTunes Connect and (<em>shudder</em>) Google Play, and other similar services. </p>

<p><strong>Edit:</strong></p>

<p><a href="https://stackoverflow.com/questions/10635046/to-receive-money-from-apple-developer-i-need-multi-currency-bank-account">This question</a> seems off topic on AskDifferent, but would be on topic on App Stores.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>A lot of good things have been written and discussed already, let me throw in my few cents as well.</p>

<h3>Pro</h3>

<ul>
<li><strong>Does it fit in</strong>: In a way iTunes Connect is an Apple service like iCloud and a lot of other stuff. One uses it to sell/publish media of any kind in the iTunes Stores</li>
<li><strong>Isn't it programming</strong>: Not really. There may be borderline issues (e.g. around in-app purchases) but they should be easy to spot</li>
<li><strong>Is there a need</strong>: Appearantly there is, we wouldn't have several questions around iTunes Connect otherwise</li>
</ul>

<h3>Contra</h3>

<ul>
<li><strong>Will the questions be answerable</strong>: The more technical ones for sure but there might also be issues around iTunes Store policies, acceptance criteria, turnaround times and other topics not really fit for a Q&amp;A site</li>
<li><strong>Will there be answers</strong>: Now that is the big question for me. For the usual end user questions the AD community is big enough to have somebody around who is able to answer them (well, at least most of the time). With iTunes Connect that's probably a bit different because I expect the community to be significantly smaller and maybe not so active</li>
</ul>

<p>Overall I'm not so sure whether it is really worth the effort to go down that route. On the other hand we should be able to cope with the drawbacks in a timely manner so maybe we can give it a try for 6 months and see what happens.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I wish to build a case for limited scope increase of <a href="https://apple.stackexchange.com/questions/tagged/itunes-connect" class="post-tag" title="show questions tagged &#39;itunes-connect&#39;" rel="tag">itunes-connect</a>.</p>

<p>Assuming I get a large support in terms of net up votes, we might assume a general consensus to change the [faq] officially to endorse a limited scope of book-selling, music-selling, developer-program related questions.</p>

<hr>

<h1>Here are the sort of questions I'd love to see more of in the future.</h1>

<ul>
<li><p><a href="https://apple.stackexchange.com/q/87711/5472">Submitting to the appstore: Once an app is reviewed by Apple, does it automatically go live on the app store?</a> This question is an honest effort to learn how things work before spending money. It can be definitively answered with public information from an Apple developer page that has detailed information enough to help substantiate my post as valid. It doesn't require anyone to break NDA and helps people understand how the process works to develop an app using an Apple Service (iOS Developer Program in this case).</p></li>
<li><p><a href="https://apple.stackexchange.com/questions/86753/can-i-create-an-itunes-u-course-indepedent-of-an-educational-institution">Can I create an iTunes U course indepedent of an educational institution?</a> This is exactly what I want here. Someone wants to enroll in iTunes U to make content available and publish their knowledge to share with others. Again, no NDA topics are contemplated or needed for the person to learn and decide how to participate in using an Apple Service (iTunes U in this case)</p></li>
</ul>

<hr>

<h1>Here are the sort of questions I'd rather not see here (at least initially):</h1>

<ul>
<li><a href="https://apple.stackexchange.com/questions/83532/after-renewing-ios-developer-membership-my-apps-are-pending-contract">After renewing IOS developer membership, my apps are &quot;pending contract&quot;</a> (In this case, the developer should know about the Developer escalation and discussion boards and get their answer fielded directly via Apple.)</li>
<li><a href="https://apple.stackexchange.com/questions/85206/gambling-license-for-a-game-with-virtual-money-chips">https://apple.stackexchange.com/questions/85206/gambling-license-for-a-game-with-virtual-money-chips</a> (If this were to ask if Apple had publicly disclosed what the rules of the App store are, and this didn't ask for legal advice, I'd be more willing to entertain it. As it stands, it's NDA covered and also not precise enough to ask for experience [<em>e.g. If it asked - what popular apps are live on the store that gamble? or What regions allow gambling on the iOS App Store?</em>] but as worded it should be closed for multiple reasons)</li>
</ul>

<hr>

<h1>Here are some borderline questions:</h1>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/52397/when-do-itunes-connect-stats-update">When do iTunes Connect Stats update?</a> (It's clearly a weak question - yes/no simplicity, but it does ask for reasoned expertise from a peer group and unlikely to be entangled with NDA for other people to gab about when they see their sales numbers update. Perhaps it's rotating, perhaps it changes, there could be potential value to hosting this Q&amp;A here)</p></li>
<li><p><a href="https://apple.stackexchange.com/questions/54376/itunes-connect-can-i-have-one-bank-account-for-every-currency-i-receive">iTunes Connect: Can I have one bank account for every currency I receive?</a> (Again, this is reasonable expertise asking how others are setting up their business and using an Apple Service to sell their work. It applies to Music publishers, iBooks Authors, Newsstand developers, potentially iAd producers and certainly OS X and iOS developers and doesn't smack me as a hornets nest of NDA details since it's really about how people's business is set up and interface with Apple's tools.)</p></li>
</ul>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>