<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should clash of clans and~or other games be valid?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2176" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::20</h3>
				<h2>Should clash of clans and~or other games be valid?</h2>
<p>I lately seen a lot of clash of clans and other games topics here. Should they be related to our topic of apple? I see the games as universal across all platforms (like android) and should not be related purely to apple and they should use another site. </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2177"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>According to the <a href="https://apple.stackexchange.com/help/on-topic">help center</a> </p>

<blockquote>
  <p>Ask Different is for users of Apple products. If you have a question about ...</p>
  
  <ul>
  <li>[...]</li>
  <li>third-party hardware, services and software when associated for use with Apple products.</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>so problems related to software running on Apple hardware are on-topic. Also a lot of these questions are related to the interaction between the game and Game Center which clearly is an Apple-related issues.</p>

<p>OTOH questions purely focusing on in-game issues are off-topic (but I haven't seen many of these here).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>