<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should follow-up advice given in comments be added as an update to an answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should follow-up advice given in comments be added as an update to an answer?</h2>
<p>I provided and answer to <a href="https://apple.stackexchange.com/questions/197514/how-many-partitions-should-i-make-and-what-formatting-schemes-should-be-used-on/197526#197526">this question</a> on the main site, and subsequent to that answer, I had an exchange with the OP in the comments section where I provided additional advice on how I personally handled a similar situation, and the solutions I used. </p>

<p>I think that those answers are more <strong>opinion-based</strong> than the original answer, and don't necessarily answer the original question directly, but more address the OP's follow-up, so I am not sure whether or not they should be incorporated into the Q &amp; A as an update to the originals. </p>

<p><em>So should the Q &amp; A's be updated or is that additional information more correctly left in the comments?</em></p>

<p>I would appreciate any feedback you can give on this situation, so that I know how to handle not only this, but similar situations going forward.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>So long as your answer contains a real and genuine answer, then provided the more fluffy bits round the edges are just extra information, and do not form the primary answer, then they will read better and your post will seem more complete than if you include bits in the answer and bits in comments.  Plus, comments invite further comments, which soon clutter things up diluting the message. In your particular example, then worded correctly I would be happy to see it in the answer, not only does it remove your own comment, but it could remove the previous comments too as their queries are now included in an answer.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>