<html>
	<head>
		<title id = 'pagetitle'>Should products with "Apple" in their name have a dash?
		</title>
	<head>
	<body id = 'pagebody'><p>Should a product name using "Apple" (ex. Apple Watch, Apple Music, Apple TV) have a dash between the word "Apple" and the other word?</p>

<p>I have noticed a difference between the tags <a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a> and <a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a>.</p>

<p>Should we rename <a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a> to <a href="https://apple.stackexchange.com/questions/tagged/applewatch" class="post-tag" title="show questions tagged &#39;applewatch&#39;" rel="tag">applewatch</a> to fit <a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a> or should we rename <a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a> to <a href="https://apple.stackexchange.com/questions/tagged/apple-tv" class="post-tag" title="show questions tagged &#39;apple-tv&#39;" rel="tag">apple-tv</a> to fit <a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a>?</p>


<h1>ANSWERS</h1>
		<p>Throughout the site, spaces in official product names are represented by  -  in tag names, therefore <a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a> should be <a href="https://apple.stackexchange.com/questions/tagged/apple-tv" class="post-tag" title="show questions tagged &#39;apple-tv&#39;" rel="tag">apple-tv</a>, leaving <a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a>/etc as they currently are.</p>


	</body>
</html>