<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should the [osx] tag be renamed to [macos]?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2812" class = "post">
			<h2>Question</h2>
			<h3>Score ::26</h3>
			<h3>Views ::359</h3>
				<h2>Should the [osx] tag be renamed to [macos]?</h2>
<p>With the rename from OS X to macOS, should the tag be renamed too?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2814"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::29</h3>
				<p><p>Only the newer versions will be called <strong>macOS</strong>, the older ones will still be called <strong>OS X Cat-of-choice</strong>. I would propose to go with a synonom instead of a renaming.</p>

<p>Today (June 2016), the synonym points <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> -> <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> so that we can decide at a later date to flip things around. If there is an answer that makes a strong argument for never merging the two, we might want to undo the synonym so that the <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> questions are distinct.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6141" class = "comment">
				<p>Which direction would you suggest for the synonym?</p>
			</div>
			<div id = "comment-6142" class = "comment">
				<p>Looking forward, having `osx` as a synonym for `macOS` is probably the better way (even if it hurts at first :-)</p>
			</div>
			<div id = "comment-6143" class = "comment">
				<p>I agree with Patrix that one tag seems much better for the site. Unless there's a large consensus or some other reasoning we haven't considered, making the swap from mac being a synonym for os to os being a synonym to mac is trivial, instant, and reversible.</p>
			</div>
			<div id = "comment-6146" class = "comment">
				<p>I think that legacy software would need a tag as well (ie. Mac OS 9 and older).</p>
			</div>
			<div id = "comment-6151" class = "comment">
				<p>I agree with the above posts, the new os should be tagged 'macos' not to be confused with 'osx'. I say that keeping in mind that we are likely to encounter a great many things specific to 'macos' that did not affect or exist in 'osx' over the coming years. Even though some overlap will obviously exist between the two. I agree we should also find a tag for legacy mac software, perhaps 'maclegacy' or 'macclassic', or both as I know 'MacOS9 Classic' was often referred to as 'Classic' when running under OS X 10.</p>
			</div>
			<div id = "comment-6152" class = "comment">
				<p>There is http://apple.stackexchange.com/questions/tagged/classic-mac-os already :-)</p>
			</div>
			<div id = "comment-6256" class = "comment">
				<p>I strongly agree that [tag:osx] should be a synonym for [tag:macos] and not the other way around. Apple is starting to retroactively [refer to pre-10.12 releases as macOS](http://apple.stackexchange.com/questions/256088), so I believe that we should follow their lead.</p>
			</div>
			<div id = "comment-6274" class = "comment">
				<p>@patrix when should this change occur (or will it)? It always throws me off to see the `osx` tag! :)</p>
			</div>
			<div id = "comment-6275" class = "comment">
				<p>@SkeletonBow Stay tuned :)</p>
			</div>
			<div id = "comment-6302" class = "comment">
				<p>@patrix It was changed! I just saw the answer (and the tag). Ich danke Euch!</p>
			</div>
			<div id = "comment-6303" class = "comment">
				<p>@SkeletonBow Der Dank geb hrt bmike, der hat die Arbeit schlussendlich gemacht :-)</p>
			</div>
			<br><div id = "ans-2819"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I think that <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> is a decent tag for the most part. <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> refers to the modern version(s) of Apple's Operating System, which is titled as OS X. Earlier versions, before the 'OS X' line started (named after the big cats), were simply named Mac OS &lt;insert version name and number here> - 'X' was added after Mac OS version 9. As such, I would think that the tag, <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> would refer to legacy Apple Computer software, instead of newer software. Nonetheless, I would welcome the new tag! :)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6147" class = "comment">
				<p>@grgarside Thanks for fixing my formatting GrGarside. I missed that...</p>
			</div>
			<div id = "comment-6150" class = "comment">
				<p>I don't think there are any questions here re Mac OS <= 9. Using tacos tag for just these will cause a lot of confusion. Most people won't realise it is for the old OS and most people won't read the tag wiki so no documentation will help. So most things tagged macos will be for the new OS no matter what we do</p>
			</div>
			<div id = "comment-6153" class = "comment">
				<p>@Mark mhmm tacOS :)</p>
			</div>
			<div id = "comment-6154" class = "comment">
				<p>@TopHatProductions115 The X was dropped with macOS 10.12 Sierra, so the macOS tag now refers to OS 9 and 10, depending on the specific version.</p>
			</div>
			<div id = "comment-6155" class = "comment">
				<p>In that case, I suppose that a tag like [tag:osx] can only be used for a small range of Operating System versions. Thanks for the update.</p>
			</div>
			<br><div id = "ans-2887"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p> <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a>   <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a>  </p>

<p>Just like that, all 16.5k <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> questions are now <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> questions! With what I presume was a chat between moderators outside of this meta question, bmike has reversed the synonym, such that <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a>   <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a>. <a href="https://apple.stackexchange.com/help/badges/188/macos?userid=37797">Enjoy the shiny new badges!</a></p>

<p>Also, since this change occurred quite suddenly, it seems like no-one thought about the tag wiki and of course it's now disappeared. I've updated the tag wiki of <a href="https://apple.stackexchange.com/questions/tagged/macos" class="post-tag" title="show questions tagged &#39;macos&#39;" rel="tag">macos</a> based on the prior tag wiki.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6281" class = "comment">
				<p>@bmike was busy on that a few days ago, see https://i.stack.imgur.com/u6IxT.png. Thanks for updating the tag.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>