<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we encourage jailbreak-only solutions when answering questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should we encourage jailbreak-only solutions when answering questions?</h2>
<p>I've noticed that solutions to questions that require jailbreak are only mentioned if specifically requested by the asker. What is the proper way to suggest that Apple.SE becomes increasingly timeless by encouraging all relevant answers to be posted including jailbreak, with the restriction that the first sentence of each answer requiring jailbreak must be "Jailbreak only.\n\n".</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<blockquote>
  <p>I've noticed that solutions to questions that require jailbreak are only mentioned if specifically requested by the asker.</p>
</blockquote>

<p>This certainly isn't by any specific convention we've established on the site. I believe it's because jailbreak users represent a significantly smaller portion of iDevice users than non-jailbreak users.</p>

<p>You're free to suggest solutions that require jailbreaking any time you like. Answers are answers.</p>

<p>Likewise, the community is free to vote up and down answer they believe to best solve the problem being posted.</p>

<p>I will say: if you post a jailbreak solution on a question where the user did not specifically indicate they were comfortable with jailbreaking their phone you should include relevant information on how to jailbreak. It's a process that is completely opaque to most users and requires savvy beyond average to perform and maintain IMO.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>