<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Should we keep ' - Stack Exchange' at the end of our name?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1333" class = "post">
			<h2>Question</h2>
			<div id="vote-1333" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 137</p>
			</div>
				<h2>Should we keep ' - Stack Exchange' at the end of our name?</h2>
<p>Our official name has recently been upgraded to Ask Different (instead of Apple). This is something we've been <a href="https://apple.meta.stackexchange.com/questions/433/please-change-name-of-site-from-apple-to-ask-different">hoping for</a> for a long time, and I'm thrilled that it's happened. I don't want this post to come across as complain-y or ungrateful, it's just a little detail I noticed and wanted to mention.</p>

<p>The change seems to have propagated throughout the site and network now: we're Ask Different in the site's title, the SE sites list, the newsletter, etc.</p>

<p>However, in some places (like the <a href="https://apple.stackexchange.com/about">about page</a>), the name is displayed as 'Ask Different - Stack Exchange'.</p>

<p>This sounds weird to me: Apple - Stack Exchange made sense because 'Apple' was not the site's brand; we were part of the Stack Exchange brand. Now that we officially have the distinct brand 'Ask Different', keeping SE on the end seems a little messy and unnecessary (even without '-SE' it's still clear that we're part of the SE network).</p>

<p>SE's David Fullerton mirrored this observation in his <a href="https://gaming.meta.stackexchange.com/questions/4237/a-new-name-for-gaming-stack-exchange">original post</a> on Arqade:</p>

<blockquote>
  <p>About the only thing we can agree on right now is that  XXXXX Stack Exchange  is not a brand -- it s too long, descriptive, and forgettable.</p>
</blockquote>

<p>I've noticed this on Arqade as well: they are 'Arqade - Stack Exchange' in some places, not just 'Arqade'. Wasn't this one of the reasons (a small one, but a reason nonetheless) for the change in the first place?</p>

<p><strong>Personally, I'm in favor of removing the ' - Stack Exchange' from the end of 'Ask Different'.<br>
Thoughts?</strong></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1333">Load Comments</button></br>
			<div id = "commentsection-1333" class = 'collapse'>
			<div id = "comment-2527" class = "comment">
				<p>I'm utterly indifferent at this point, just releived to be Ask Different and not Apple Stack Exchange. But I'm open to being swayed, if this is something we think is worth agitating for.</p>
			</div>
			<div id = "comment-2528" class = "comment">
				<p>@DanielLawson Don't get me wrong, I feel the same way. I just think, since we're doing this, we should go all the way.</p>
			</div>
			<div id = "comment-2542" class = "comment">
				<p>I raised a similar concern regarding inconsistency with this stuff over at [Meta.Arqade](http://meta.gaming.stackexchange.com/questions/4878/vote-to-close-dialog-needs-some-cleanup-for-the-new-domain). Notable is that all 'named' non-trilogy sites (Arqade, Ask Different, AskUbuntu) share the **Clever Name -- Stack Exchange** notation, which the trilogy lacks. Make of it what you will.</p>
			</div>
			</div>
				<textarea id = "speech-1333" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1333">
					<img id="start_img-1333" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1334"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1334" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><img src="https://i.stack.imgur.com/5ryxG.png" alt="Stack Overflow x3"></p>

<p>Enough said?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1334">Load Comments</button></br>
			<div id = "commentsection-1334" class = 'collapse'>
			<div id = "comment-2529" class = "comment">
				<p>And http://i.imgur.com/3ZbhP.png</p>
			</div>
			<div id = "comment-2530" class = "comment">
				<p>Agreed.........</p>
			</div>
			</div>
				<textarea id = "speech-1334" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1334">
					<img id="start_img-1334" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>