<html>
	<head>
		<title id = 'pagetitle'>Should I edit posts written with HTML formatting rather than Markdown?
		</title>
	<head>
	<body id = 'pagebody'><p>Sometimes I see posts (questions and answers) written in HTML, with &lt;i> and &lt;b> tags for formatting, &lt;a href=  tags for links and one or more &lt;br>s for paragraphing.</p>

<p>Should I edit these posts to use Markdown formatting? I'm debating whether it counts as 'OP&nbsp;style' or just incorrect usage.</p>

<p><sup>I'm referring only to posts that I would edit anyway for other reasons.</sup></p>


<h1>ANSWERS</h1>
		<p>I think it is incorrect formatting and <strong>as long as there are other</strong> edits I would change.   </p>

<p>A reason for this is consistency so that other users only have to learn one set of formatting.</p>

<p>I also suspect usage of &lt;i> and &lt;b> and definitely &lt;sup> shows an article that needs reformatting to simplify. (However thanks for reminding me of HTML entities - so I don't need to put all XML in code blocks.)</p>


<p>Whenever I see HTML formatting on any StackExchange site I wince. Mainly because the tools to assist in formatting are really right in front of you. Yes, there are some formatting codes that are not part of the editor, but raw HTML will always lead to issues. So best to just nip that in the bud when possible.</p>


	</body>
</html>