<html>
	<head>
		<title id = 'pagetitle'>Should OS version be included on OS specific questions?
		</title>
	<head>
	<body id = 'pagebody'><p>Should OS version (E.g. 10.7.3) be included on all standard Operating System questions for future reference? As Operating Systems release updates and/or New Operating systems are released all together, multiple changes occur that may nullify previous answers. By making it mandatory to include the full version on any standard OS question we could ensure the integrity of the answers on apple.stackexchange.com as well as provide opportunities for new answers when updates and new Operating Systems are released.</p>


<h1>ANSWERS</h1>
		<p>This is a modified version of <a href="https://apple.meta.stackexchange.com/a/1144/2220">my answer</a> on <a href="https://apple.meta.stackexchange.com/questions/1141/i-think-system-specifications-should-show-as-signature/1144#1144">I think system specifications should show as signature?</a>.</p>

<p>I've seen similar systems implemented on other sites (like the Apple Discussions).</p>

<p>The current system is to specify the OS in the body of the question and/or in a tag. I think that way works pretty well; it gives users an easy way to include the info and gives us an easy way to organize things.</p>

<p>The idea of making people know and tell us their OS is good, but I don't think it would work well on Ask Different.</p>

<p>(Note: I'm assuming we would require this information for questions tagged with any of the OS tags.)</p>

<ul>
<li><p><strong>Detailed OS info isn't always necessary.</strong> This would force people to include info even when it isn't necessary (not all questions tagged <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> need a version specified).</p></li>
<li><p><strong>Dedicated OS info would frequently be redundant.</strong> We'd run the risk of causing redundancy by requiring people to specify their OS version if they have already specified it in the body of their question or in a tag.</p></li>
</ul>

<p>I don't think that adding system info separately is the right path to take.</p>

<p>What I would like to see, though, is another 'reminder' item shown while posting a question that tells people to be sure to include all relevant hardware and software information.</p>

<p>Of course people wouldn't always follow it, but commenting and asking for info is easy, and people generally respond to it.</p>


<p>Different iterations of iOS and Mac OS X have more in common than they have differences. While OS versions are sometimes very relevant to the answer to a program, frequently they are not. I see no reason whatsoever to require questions to be more specific than necessary.</p>

<p>It is not rare for a question to omit important information. Occasionally, that missing information is the operating system. But this seems like a solution in search of a problem that our community, for the most part, does not have.</p>


	</body>
</html>