<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should I have asked about 3rd party software? (pertains to iPhone and Mac OS X)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-51" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::66</h3>
				<h2>Should I have asked about 3rd party software? (pertains to iPhone and Mac OS X)</h2>
<p>I asked <a href="https://apple.stackexchange.com/questions/260/can-i-get-the-canon-eos-utility-to-stop-bugging-me-when-i-plug-in-my-iphone">this question</a>, which pertains to the interoperability of an iPhone, Canon's software, and Mac OS X, on the main site. I'm very active in the "main Trilogy" of StackExchange, so I'm pretty familiar with their rules and guidelines. However, this particular question -- which has been bugging me since March -- seems to exist in a gray area between this site and SuperUser.</p>

<p>On the one hand, I'm 90% sure that SU would shut it down, since it's (at least largely) about plugging an iPhone into a Mac.</p>

<p>On the other hand, I'm somewhat certain that it's off-topic here as well, as it's about Canon's (likely shoddy) software.</p>

<p>Was I right or wrong to ask it here? Does it belong? If not, can we as a community close it and turn it into an example for other users asking similarly gray-area questions, and perhaps use it as an example to them of what <em>not</em> to do?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-53"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>That is a OS X specific thing you're asking about, it's fine here. You're asking how to change what happens when you plug a device in. Same as changing what happens when putting a blank disk in. It's OS specific, you're running OS X, this is Apple.SE, sounds kosher to me.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-59" class = "post">
				<p>Should be kosher on SU as well - the iPhone in this case is an accessory to the computer.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>