<html>
	<head>
		<title id = 'pagetitle'>Should the site opt out of Winter Bash 2016?
		</title>
	<head>
	<body id = 'pagebody'><p>Each December, the developers run a game / enhancement / treasure hunt that involves hats on avatars.</p>

<ul>
<li><a href="http://winterbash2016.stackexchange.com" rel="nofollow noreferrer">http://winterbash2016.stackexchange.com</a></li>
</ul>

<p>The event will run from 19 December 2016 up to and including 08 January 2017. The above site will also have a landing page, explaining the rules and other details of the event. </p>

<p>Individual users who don t want to participate, don t want to see hats, and/or are generally anti-hat will have an  I hate hats  option available. And just like last time, at the end of the event, all hats will go back into storage. </p>

<p>The only visual change to the Stack Exchange sites themselves will be the presence of the hats and the  I hate hats  button in the footer.</p>

<p>If anyone has a reason why we should hate hats as a site as opposed to individuals, an answer here is a great place to make that case.</p>


<h1>ANSWERS</h1>
		<p>Hats are the best and we want hats.</p>

<p>A vote for this answer is a vote for no.</p>


<p>Why should we opt out Winter Bash? Its always a fun game. Even developers need a little fun some times.</p>

<p>I Love Hats.</p>


<p>Just for some balance on the voting [&amp; not a reflection of my personal opinion] let's see how much activity this one can generate.  </p>

<p>I don't mind down-votes.</p>

<h1>We do not want hats. Please opt-out.</h1>


	</body>
</html>