<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we create a canonical iCloud Q&A question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should we create a canonical iCloud Q&A question?</h2>
<p>We are getting more and more questions about iCloud, and if you go through the <a href="https://apple.stackexchange.com/questions/tagged/icloud" class="post-tag" title="show questions tagged &#39;icloud&#39;" rel="tag">icloud</a> you will find a lot of them relate to people misunderstanding iCloud and how it works, including backup.</p>

<p>On SU we handle these by creating a canonical question which we can use to close all these questions and not have to repeat the answers.</p>

<p>(I have answered a few of these and I often copy and paste from my previous answers)</p>

<p>Thoughts? Ideas? Should we do it?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This might be a good idea for certain components of iCloud, but I think that doing one question for iCloud as a whole might be sub-optimal as iCloud isn't really a single thing but a collection of separate cloud-based services.</p>

<p>So having a canonical question for mail, contacts, and calendar might be nice, and a separate one for documents, and a separate one for App Store and iBookstore, and one for iTunes, etc. might be the best approach.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>