<html>
	<head>
		<title id = 'pagetitle'>Should I delete my question or keep it?
		</title>
	<head>
	<body id = 'pagebody'><p>Not finding a solution, I posted <a href="https://apple.stackexchange.com/q/243092/19937">this question</a> but now see it is covered by <a href="https://apple.stackexchange.com/q/179150/19937">this one with an answer</a>.</p>

<p>Should I just delete it, or is it better to close as a duplicate?</p>


<h1>ANSWERS</h1>
		<p>Thanks for bringing this up on meta so quickly. As already remarked by <a href="https://apple.stackexchange.com/users/85275/tetsujin">@Tetsujin</a> in the comments:</p>

<blockquote>
  <p>We can keep it &amp; link it as a duplicate - which gives Google a greater chance of finding the answer in future. I'll vote to close as a dupe; it doesn't reflect on the quality of the question, merely links it to an existing one with a highly-voted answer.</p>
</blockquote>


	</body>
</html>