<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we have an [ftps] tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-3010" class = "post">
			<h2>Question</h2>
			<h3>Score ::-3</h3>
			<h3>Views ::49</h3>
				<h2>Should we have an [ftps] tag?</h2>
<p>Instead of doing sftp, we can go to Finder and connect to server using <code>ftps://somesite.com</code>.  So <a href="https://apple.stackexchange.com/questions/tagged/ftps" class="post-tag" title="show questions tagged &#39;ftps&#39;" rel="tag">ftps</a> should be a valid tag if the user is inquiring about it.</p>

<p>The question is at: <a href="https://apple.stackexchange.com/questions/278627/after-connecting-to-a-server-using-ftps-somesite-com-the-files-cannot-be-dragg">After connecting to a server using ftps://somesite.com the files cannot be dragged and dropped there?</a></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6523" class = "comment">
				<p>Can you add (either directly in the question or as a comment) links to some questions which would benefit from such a tag?</p>
			</div>
			<div id = "comment-6524" class = "comment">
				<p>yes it has been just added in the question</p>
			</div>
			<div id = "comment-6527" class = "comment">
				<p>To support this I'd want a clear summary in an answer on when ssh / sftp / ftp / ftps tags would be used. Having just ssh and ftp seems right to me, but perhaps I'm missing how the site would benefit from more tags in this area.</p>
			</div>
			<div id = "comment-6528" class = "comment">
				<p>@bmike By "*just* ssh and ftp" are you suggesting that you'd rather the current [tag:sftp] tag be replaced by these two tags, regardless of the introduction (or not) of ftps?</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-3011"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I don't think we need a specific <a href="https://apple.stackexchange.com/questions/tagged/ftps" class="post-tag" title="show questions tagged &#39;ftps&#39;" rel="tag">ftps</a> tag right now. The question you linked just happens to be using FTPS, rather than being about FTPS. There's no questions I can find which are specific to the secure version of FTP   only about FTP in general. The standard tag of <a href="https://apple.stackexchange.com/questions/tagged/ftp" class="post-tag" title="show questions tagged &#39;ftp&#39;" rel="tag">ftp</a> will suffice.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6525" class = "comment">
				<p>doesn't everything have a starting point? with `ftps` coming into existence, there is a starting point of it, with it being a current part of computer technologies</p>
			</div>
			<div id = "comment-6526" class = "comment">
				<p>Hi @ . This is a no answer. Please make your own - "yes" we should have ftps tag. In in, if you could explain when each tag would be used it might help us collectively decide. For now, I'm inclined to agree with George, but please explain how you see starting this would help.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>