<html>
	<head>
		<title id = 'pagetitle'>Should the help page remove the prohibition on hackintosh?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm inclined to edit the <a href="https://apple.stackexchange.com/help/on-topic">help</a> page on what questions are on and off-topic.</p>

<p>The list off-topic items has this category:</p>

<pre><code>Installing or using Apple operating systems on 
non-Apple hardware (and most other 
explicitly unlicensed use of product)
</code></pre>

<p>The second part of this - unlicensed use seems to be adequately covered in the site wide legal agreement that all users presumably agree to be bound. We as community moderators (elected and those that moderate by virtue of reputation) already can vote to close and delete things based on the primary terms of use.</p>

<p>That leaves us with the first part - "using Apple operating systems on non-Apple hardware" - where the prevailing opinion seems to me to be that we should allow these questions on the site:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/2/can-one-ask-hackintosh-questions-on-ask-different">Can one ask Hackintosh questions on Ask Different?</a></li>
</ul>

<p><a href="https://apple.meta.stackexchange.com/users/26/robert-s-ciaccio">Robert S Ciaccio</a> has net of 30 votes for <a href="https://apple.meta.stackexchange.com/a/23/5472">"no reason whatsoever to keep these questions off the site"</a> and I've got net of 10 votes for <a href="https://apple.meta.stackexchange.com/a/521/5472">"there's no evidence that a ban should be in place"</a> <em>(which I wrote well before nominating myself for election as a moderator)</em> and now that I've seen what the workload is, I support being tolerant of good technical questions even if they involve jailbreaking or hackintosh situations.</p>

<p>Is there any reason to keep that entire sentence (or even parts of it)?</p>


<h1>ANSWERS</h1>
		<p>We allow questions around jail breaking iOS. seems fairly hypocritical to not allow hackintosh questions in light of that. Both are of dubious legality. Why make the hard distinction?</p>

<p>I say lose the sentence and leave the general terms of services to cover the legal aspects such as they might arise.</p>


<p>Another aspect to consider is whether accepting hackintosh questions helps improve the quality of Ask Different.</p>

<p>Most of the questions I've seen so far fall into the category <em>"I own XYZ. Haven't tried anything yet but do you think I can install OS X? Where should I start?"</em>.</p>

<p>In general, answers are (necessarily) vague and usually link to other sites. They hardly ever offer first-hand experience and the OP would get similar results by searching Google in the first place. </p>

<p>Of course, you may argue that questions that stubbornly show poor research should be downvoted and eventually closed, <em>regardless of the subject</em>.</p>

<p>Possibly, but as I say, I notice a pattern here and wonder if it's in the interest of Ask Different to allow a topic where the usual interaction is that other users google on behalf of the OP and copy/paste the search result. </p>

<p>Is this enough a reason to ban hackintosh from Ask Different? Probably not. But after adding the legal aspect to the equation I think the scales tip against hackintosh.</p>

<p>As for bmike's suggestion to tolerate it as a topic and let moderators accept good technical questions: I believe the moderators' decision will be certainly well-thought-out, but wouldn't the outcome, from the OP's point of view, be unpredictable and seem arbitrary? Wouldn't it be better to have a clear rule (either for or against it)?</p>


<p>A challenging question. </p>

<p>There's the wish to be inclusive, and supportive towards all fair and reasonable uses of Apple software. I do wish those things, but for Ask Different I believe that the answer to bmike's question must be: </p>

<ul>
<li>no</li>
</ul>

<p>  please, let's maintain the extremely well-formed and predictable relationship between <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> and Apple hardware. </p>

<blockquote>
  <p> <a href="https://apple.meta.stackexchange.com/a/1743/8546">whether accepting hackintosh questions helps improve the quality of Ask Different.</a> </p>
</blockquote>

<p>This is critical, and we should think long-term.</p>

<p>If <a href="http://en.wikipedia.org/wiki/OSx86" rel="nofollow noreferrer">OSx86</a> questions were allowed, then in an ideal world (for some users of Ask Different) we would gain a great range of high quality <a href="https://apple.stackexchange.com/questions/tagged/osx86" class="post-tag" title="show questions tagged &#39;osx86&#39;" rel="tag">osx86</a> questions with high quality answers. In theory that sounds great. </p>

<h1>Workflow, simplicity, ease of use and relevance of content</h1>

<p>At <a href="https://apple.stackexchange.com/questions">https://apple.stackexchange.com/questions</a> a person might choose to <strong>ignore</strong> <a href="https://apple.stackexchange.com/questions/tagged/osx86" class="post-tag" title="show questions tagged &#39;osx86&#39;" rel="tag">osx86</a> but then: </p>

<ul>
<li>a simple search will return results that <strong>include</strong> that tag. </li>
</ul>

<p>There may be other ways to exclude or ignore the tag, but let's focus on ease of use. </p>

<p>Consider: an excellent answer to an OSx86 question might be completely <strong>irrelevant</strong> to a similarly worded question about the OS on Apple hardware. Now imagine hundreds, thousands of OSx86-specific answers over period of time: </p>

<ul>
<li>will there be a negative effect on users who are seeking answers about the OS on Apple hardware? </li>
</ul>

<h2>Thoughts</h2>

<p>Wherever an <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> question is <em>implicitly</em> about Apple hardware, then in the <em>linked</em> and <em>related</em> portlets: other questions that are implicitly about Apple hardware <strong>should or must</strong> be ranked higher than OSx86 questions. Can this be achieved programatically and if so, can/should it be obvious to the end user that there's a <em>sinking</em> of OSx86 content? </p>

<p>That's not meanness towards OSx86. </p>

<p>Simply: sometimes I need to focus on an issue with the OS on Apple hardware   I mean, <strong>really focus</strong>   without the potential white noise of OSx86 content. </p>

<h2>Observation</h2>

<p>Part of the beauty of Ask Different is that it's easy to either: </p>

<ul>
<li>get a great answer quickly; or </li>
<li>quickly realise that getting a great answer might take time. </li>
</ul>

<p>If OSx86 is added to the mix, I fear that we'll lose some of that ease. </p>

<p>Food for thought. Certainly a challenging question  thanks, bmike!</p>

<h3>Beyond Ask Different</h3>

<p>For starters, <a href="http://www.tonymacx86.com/faq.php" rel="nofollow noreferrer">tonymacx86 FAQ</a></p>

<blockquote>
  <p> AMD nor Atom CPUs and NVIDIA, ATI, VIA or SIS desktop chipsets are not supported by the methods and software on this site and will not work. Any post requesting help for or asking about these will be deleted. </p>
</blockquote>

<p>If users of those variants were to appear in Ask Different   alongside users of the things that <em>are</em> supported in the tonymacx86 area  alongside users of the OS on Apple hardware: </p>

<ul>
<li>how easy will it be to tell at a glance what's being used? </li>
</ul>

<p>Before answering yes or no to bmike's question, maybe familiarise yourselves with some of the styles of Q&amp;A in the tonymacx86 area; the styles of Q&amp;A in forums that support other variants from the Apple hardware norm; and so on. </p>


<p>Quick answer I know, but my vote says no.</p>

<p>Hackintosh specific questions are largely user/hardware/software specific. In my opinion, they won't add too much value to the site, they will just be clutter. While it <em>is</em> possible to answer such questions, they aren't going to add a whole lot of long-lasting value.</p>

<p>On the flip side, we will also get huge questions like "How do I build a Hackintosh?", which really can't be answered well in the Q&amp;A format of Ask Different.</p>

<p>Second, the legality of Hackintoshes is still largely debatable.</p>

<p>I say no. Leave the Hackintosh questions to <a href="http://www.insanelymac.com/forum/" rel="nofollow">other</a> <a href="http://www.tonymacx86.com/forum.php" rel="nofollow">established</a> <a href="http://modmyi.com/forums/os-x-86/" rel="nofollow">forums</a> or <a href="http://area51.stackexchange.com/proposals/create?category=technology">create an Area51 proposal.</a></p>


<p>With the points mentioned here, I'm no longer inclined to edit things. The current discussion seems heavily in favor of keeping the wording as is.</p>


<p>I personally think that since this is not legal in the sense that apple does not condone nor support this behavior, I'd say delete <em>all</em> questions from the site having to do with the hackentosh.</p>


	</body>
</html>