<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should FAQ#dontask explain "too localized"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1429" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::24</h3>
				<h2>Should FAQ#dontask explain "too localized"</h2>
<p>While questions can be reported/closed for being too localized, the FAQ only seems to address overly broad scopes, and not too localized ones.</p>

<p>Should the FAQ be updated to explain these guidelines?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1430"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The FAQ already explains too localized <a href="https://apple.stackexchange.com/faq#close">here</a>: </p>

<blockquote>
  <p>Common reasons a question may be closed include </p>
  
  <p>too localized This question is unlikely to help any future visitors;
  it is only relevant to a small geographic area, a specific moment in
  time, or an extraordinarily narrow situation that is not generally
  applicable to the worldwide audience of the internet.</p>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2717" class = "comment">
				<p>Too localized is also something that should be construed with as open a mind as possible. Here is a good starting point for deciding if something is truly too local in a bad sense for the site: [What questions should be closed with reason  too localized ?](http://meta.stackexchange.com/questions/4818/what-questions-should-be-closed-with-reason-too-localized)</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>