<html>
	<head>
		<title id = 'pagetitle'>Should I close a question if someone is asking for mailing them files?
		</title>
	<head>
	<body id = 'pagebody'><p>We've had several questions where someone is asking for mailing and/or sharing of files. Here is the latest:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/173516/how-can-i-extract-the-mail-and-messages-icons-for-iphone-6-plus">https://apple.stackexchange.com/questions/173516/how-can-i-extract-the-mail-and-messages-icons-for-iphone-6-plus</a></li>
</ul>

<p>Should we close these or can they be saved?</p>


<h1>ANSWERS</h1>
		<p>It depends :)</p>

<p>This one I think not because we get into the issue of are these icons under copyright of the supplier (in this case Apple I think) and would they allow this. This needs to be thought out in general (for example macports provides binary downloads in many cases but depending on license it will only provide source in the cases.)</p>

<p>In general on files etc I would say no as in effect the user is asking for a link only answer.</p>

<p>If you can answer in a way such that the user can generate the files then that is OK</p>


<p>There's two main categories that these questions fit that, whilst related, are substantially different and require different resolutions IMO:</p>

<ul>
<li><p>OS X</p>

<p>For OS X, these types of question are more common as files can be deleted or overwritten accidentally or in an attempt to replace them with user-created content and then wish to revert to the original.</p>

<p>With OS X, it is generally not necessary to upload the files for the user as they can extract the file from an install media or use the Recovery HD, as discussed in the canonical Q&amp;A that was created a while ago:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/116611/how-can-i-get-back-a-system-file-after-deleting-it-from-my-mac">How can I get back a system file after deleting it from my Mac?</a></li>
</ul>

<p>This means that an answer along the lines of how to achieve this for the specific file mentioned in a user's question could be provided and a link to the aforementioned question could be provided, or the question could be close-voted as a duplicate of the question.</p>

<p>Either way, this situation is avoided in most cases through guiding the user to recover the file themselves.</p></li>
<li><p>iOS</p>

<p>This is much rarer as iOS doesn't allow a user to accidentally delete core system files, and jailbroken users are <em>generally</em> more careful.</p>

<p>The more common case for this I can imagine is for development purposes. Jailbreaking is the only case I can see for this, as I can't see a case for needing iOS system files for developing App Store apps.</p>

<ul>
<li>If what they are requesting is generally-public information (such as flagship images e.g. app icons), I don't see a problem in providing them.</li>
<li>If they are requesting binaries, I don't think these should be provided by the community.</li>
</ul></li>
</ul>


	</body>
</html>