<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should beta OS questions be on-topic due to NDA changes + widening distribution by Apple
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should beta OS questions be on-topic due to NDA changes + widening distribution by Apple</h2>
<p>Questions that relate to Apple beta software (for example <a href="https://apple.stackexchange.com/questions/192902/restoring-a-backup-to-an-ios-9-device">https://apple.stackexchange.com/questions/192902/restoring-a-backup-to-an-ios-9-device</a>) are generally not allowed. </p>

<p>My understanding is that the NDA now allows more discussion than things it restricts - <a href="http://oleb.net/blog/2014/06/apple-lifted-beta-nda/" rel="nofollow noreferrer">http://oleb.net/blog/2014/06/apple-lifted-beta-nda/</a></p>

<p>Basically, as long as Apple publicly explains it, discussion is allowed. Screen shots and reverse engineering and discussing things not announced by Apple (whatever a lawyer would assume that means) are still prohibited by the current NDA.</p>

<p>It seems to me that Stack Exchange is the perfect place to discuss working with new Apple tools, and finding work arounds to problems in addition to going elsewhere or to the Apple forums.</p>

<p><strong>Is there some other reason that I'm not aware of that these kind of questions are considered bad form?</strong></p>

<p>NOTE: This relates to <a href="https://apple.meta.stackexchange.com/questions/1712/are-ios-9-and-os-x-el-capitan-questions-ok">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a>, but it seemed worth raising as a separate question.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>NDA is just one of several reasons why questions about non-public beta software don't work well on Ask Different, <a href="https://apple.meta.stackexchange.com/questions/1331/can-i-ask-about-not-yet-publicly-released-os">Can I ask about not-yet-publicly released OS?</a> lists the others. So even with the NDA partially lifted, I still think that questions about iOS 9/OS X El Capitan need to wait until at least public betas are available.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>In a nutshell - here are some statements that I hope are fact based and hard to dispute for anyone:</p>

<ul>
<li>We <em>don't police</em> agreements/NDA - we <strong>do strive to produce great answers</strong> to specific questions. The "NDA situation" is complicated (and there are 4 different versions of the NDA that I've seen or believe to exist). We will lose some people and we won't get all the questions we might if there were no NDA, but there still are formal NDAs covering the beta software that Apple is providing. We should acknowledge that clearly since some questions will inevitably breach someone's NDA.</li>
<li>The history of Ask Different comes from the Trilogy (<a href="https://stackoverflow.com">SO</a>/<a href="https://superuser.com">SU</a>/<a href="https://serverfault.com">SF</a>) and inherited specific close reasons designed for those sites and those times - <a href="https://meta.stackexchange.com/questions/4818/what-questions-should-be-closed-with-reason-too-localized">closing questions solely because they are too narrow</a> is <a href="https://meta.stackexchange.com/questions/184154/closing-changes-on-hold-unclear-too-broad-opinion-based-off-topic-reasons">no longer appropriate here (or there)</a></li>
<li>Apple is certainly changing quite rapidly in therms of enrolling thousands and millions of people in their beta programs - this mitigates the main complaint I see against beta questions which is not having enough expertise to get useful or constructive answers. Yes, some people are signing NDA - but all of those NDA are time limited and covering less and less of the product as Apple publicly hours and hours of detailed video as well as <a href="https://forums.developer.apple.com/thread/6876#16139" rel="nofollow noreferrer">publicly opened their extensive developer discussions</a> to the public at large.</li>
<li>Apple forums don't exist for all beta users (just for invited seed participants and paid developers), and we don't close shop on Q/A just because <a href="https://discussions.apple.com/welcome" rel="nofollow noreferrer">Apple Discussions</a> also exists for user questions and answers. </li>
<li>Apple Developer forums are now publicly readable just like the WWDC videos and developer documentation, so in effect, anything posted on these sites is "published" directly by Apple and that could weaken NDA claims on content hosted there in the open.</li>
</ul>

<p>Specifically, Ask Different's active users have had two years of experience with letting extremely narrow, unlikely to be widely applicable questions be asked and I feel the site is better for them. </p>

<hr>

<p>Now for <em>my opinions about the above facts</em> in relation to how I see the site growing and adapting to Apple and to the users of this site's needs today and going forward.</p>

<p>I don't see any harm if people ask a question like <strong>In beta build 15A204h of 10.11 I can't log into FaceTime and don't know which error log to look</strong> or <strong>Is there a way to figure out why this specific app won't run under gatekeeper on beta build 15A204h?</strong></p>

<p>I would like to be able to keep questions like the following open as Apple has thoroughly documented how the beta software works and/or intends to work which makes it concrete, shipping (for some) and answerable without regard to violating an NDA should one even exist between Apple and the OP/Answerers.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/193368/">What is the &quot;rootless&quot; feature in El Capitan, really?</a></li>
<li><a href="https://apple.stackexchange.com/questions/191421/">Can I make my own kernel extensions on El Capitan?</a></li>
<li><a href="https://apple.stackexchange.com/questions/190855/">OS X El Capitan find mouse dosen&#39;t work with external mouse</a></li>
<li><a href="https://apple.stackexchange.com/questions/190826/">How do I use Split View in OS X 10.11 El Capitan?</a></li>
</ul>

<p>All of the above are answerable, clear, useful IMO.</p>

<p>We have all the close reasons to handle vague questions, too broad questions, and basic customer support questions for beta builds as well as we do for normal builds. Adding beta to a bad question still means we will close it with prejudice. However, I believe the quality of questions on the site will rise if we make this change since we are selecting for the most active users of Apple products. I welcome people asking about OS 9 and older technology and want to also welcome people that have legitimate questions about using any Apple product or service. Full stop.</p>

<p>There clearly will be people uncomfortable with potentially violating their NDA and we will probably lose their input, but Apple is clearly putting their beta software in very wide audience. To wit, <a href="https://www.apple.com/iwork-for-icloud/" rel="nofollow noreferrer">Apple's iWork for iCloud</a> is in beta and has been so since June 2013. <strong>We should allow questions on software that people use, and people are using Apple's beta software widely.</strong> No NDA or paid developer account is needed to download Xcode 7, iWork in iCloud, or view any of the WWDC videos from this year. Yes, some people will participate in the <a href="https://appleseed.apple.com/sp/welcome" rel="nofollow noreferrer">iOS and OS X AppleSeed customer seeding</a> or the <a href="https://beta.apple.com/sp/betaprogram/welcome" rel="nofollow noreferrer">Apple Beta Software Program</a> beta seeding program or the <a href="https://developer.apple.com/programs/" rel="nofollow noreferrer">Apple Developer Program</a> and be encumbered with those agreements between them and Apple.</p>

<blockquote>
  <p><strong>Is the public beta software confidential?</strong> Yes, the public beta software is Apple confidential information. Don t install the public
  beta software on any systems you don't directly control or that you
  share with others. Don t blog, post screen shots, tweet, or publicly
  post information about the public beta software, and don't discuss the
  public beta software with or demonstrate it to others who are not in
  the Apple Beta Software Program. If Apple has publicly disclosed
  technical information about the public beta software, it is no longer
  considered confidential.</p>
</blockquote>

<p>So, participants should be totally in the clear if they are only discussing what Apple has publicly disclosed. Yes, people may find it harder to keep track of what is confidential and not - so each person will have to make a choice if they can keep track of things or just want to walk out of the room if they are uncomfortable with the topics being discussed like any adult should always feel empowered to do.</p>

<p>Also, since we have tags and search terms to help us find beta software and flags for people to alert moderators - we can use the typical post notices to ask people to document their words with a public link or face removal.</p>

<p>Also, I'm still going to be voting to close questions about "future" betas, or "future OS" as described well in these two answers</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/a/1115/">Questions about OS X before it is released to the general public?</a></li>
<li><a href="https://apple.meta.stackexchange.com/a/1332/">Can I ask about not-yet-publicly released OS?</a></li>
</ul>

<p>Note that the problems with speculative questions (Will the final version do X, When will Apple do Y, Will this bug get fixed) are not unique to betas therefore allowing good beta questions will not allow bad questions (beta or not) in on this specific coat tail.</p>

<p>I look forward to hearing from any community organizers, interested parties, or past/present moderators if they see any issues with my listing of "facts" as well as my opinions expressed here in favor of "lifting the ban" on beta posts pretty much immediately. I would expect us to all monitor things until later this fall fall to see whether we were too hasty or if this change fits in with both Apple in 2015 and our community of users in 2015.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<h1>No - we should not change the site scope.</h1>

<p>iOS 9 and 10.11 should be off-topic as we have done in the past until they are fully released to the public.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<h1>Yes - change site scope to allow iOS 9 and 10.11 El Capitan questions during their beta release cycle.</h1>

<p>Since this is a change from the past, this is a temporary change and we will gather on meta after both ship (or sooner if bad things happen) to revisit this change.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p><H2>Yes - Only if it's a public beta version</H2></p>

<p>We should allow OS X and iOS public beta questions only. This is because ANYONE can install public beta OSes but only developers can install the developer preview.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'm on the Appleseed Beta program, and my Beta software seems to differ from genuine paid developer program software.  So there can easily be questions relating to things like "Where's the new iCloud Drive app in the Beta?" by people like me who don't have it, with people answering "Er, on your home screen" by people who do etc.  There's precious little parity for many things, so even is we started using a Beta specific tag that we would then use to locate and destroy upon release, it could still cause some wild confusion and speculation.  So I say NO, let's just not cover it.  The Dev program has a free tier with their own discussion boards, and that is the appropriate place.</p>

<p>However, there are time when you can <em>reference</em> a beta, without having is as the primary point of the question.  As an example, a while ago someone asked how to get a WIFI password that had been forgotten from an iPhone.  At the time, the answer was "You can't", but a valid answer was also "You will be able to after the next release of iOS when Keychain will sync to a Mac if you have one and allow you to read it from there".</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>