<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Should we allow recommendations of hardware or software?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-636" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::145</h3>
				<h2>Should we allow recommendations of hardware or software?</h2>
<p><a href="https://apple.stackexchange.com/questions/19873/what-good-waterproof-ipad-2-cases-are-available">So I just got a can of polite and friendly moderation whupass handed to me</a> on this issue (not realising it was one), and think it may be something which we should change.</p>

<p>I <em>am</em> new, and please don't take this is me complaining about "why my question was closed" (because I hope there's a sensible explanation for this rule). It's just that, well, I don't think I'm the only one who's tried to pull this one before.</p>

<p>The rule to which I am referring is thus in the <a href="https://apple.stackexchange.com/faq">FAQ</a>:</p>

<blockquote>
  <p>NOT: a shopping or buying recommendation</p>
</blockquote>

<p>From first principles I'd argue this rule seriously hinders the ability to help others: when someone comes to ask for help, and the best solution is a third party tool, <a href="https://apple.stackexchange.com/questions/19859/disk-space-disappeared-what-happened/19875#19875">shouldn't we recommend it?</a> Any time we come with a question, aren't we indirectly asking for recommendations of other products, if they exist and can help us? By virtue of the question we do not know if they exist.</p>

<p>A hypothetical user asking about some unusual messages from diskutil might be pointed in the direction of <a href="http://www.alsoft.com/diskwarrior/" rel="nofollow noreferrer">DiskWarrior</a>: is that wrong?</p>

<p>Consider also that in other places on meta we seem to have tacitly <a href="https://apple.meta.stackexchange.com/questions/58/tag-for-alternatives-to-windows-only-applications">accepted</a> <a href="https://apple.meta.stackexchange.com/questions/375/are-non-apple-mac-os-x-ios-software-questions-on-topic-is-the-faq-outdated">recommendations</a>. There is even a <a href="https://apple.stackexchange.com/questions/tagged/software-recommendation">software recommendation</a> tag!</p>

<p>Now, I find it highly specious that only software may be recommended, but not hardware. There just seems to be few good reasons for doing so. Likewise if a shopping or buying recommendation is not allowed due to the transaction of money, that would be the worst kind of free software fandom.</p>

<p>At the very least I must be badly misunderstanding the rules, so it would be wonderful if someone could enlighten me. But if this is a genuine inconsistency, per my arguments above, I think we should change the FAQ to <em>remove</em> the quoted rule.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-636" class = 'collapse'>
			</div>
				<textarea id = "speech-636" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-636">
					<img id="start_img-636" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-637"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Covered here:</p>

<p><a href="http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/" rel="nofollow">http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/</a></p>

<blockquote>
  <p>Thus, when it comes to shopping questions, don t ask us what you should buy   <strong>ask us what you need to <em>learn</em> to tell what you should buy.</strong></p>
</blockquote>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-637">Load Comments</button></br>
			<div id = "commentsection-637" class = 'collapse'>
			<div id = "comment-1136" class = "comment">
				<p>That seems valid, thank you! Could we put this in the FAQ to tease out the subtle difference?</p>
			</div>
			<div id = "comment-1152" class = "comment">
				<p>@Thomas I added "for hardware" to the end of the line in the FAQs.</p>
			</div>
			</div>
				<textarea id = "speech-637" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-637">
					<img id="start_img-637" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>