<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we have posts on meta that aren't questions that can be answered?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1030" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::44</h3>
				<h2>Should we have posts on meta that aren't questions that can be answered?</h2>
<p>Most posts on meta seem to invite <em>answers</em>, which is what the SE engine seems to be good at. But there are <a href="https://apple.meta.stackexchange.com/questions/1002/the-ios-challenge-winners">some posts</a> that seem more like announcements and less like anything that can be answered. On the other hand, they <strong>are</strong> useful announcements. Is meta the right place for non-questions to be posted (as opposed to, say, the blog, or some other announcement forum)? Note that these sorts of posts are neither a bug report, feature request, call for  discussion, nor request for support.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1864" class = "comment">
				<p>and yes, this post really belongs on meta.meta.apple.stackexchange.com...</p>
			</div>
			<div id = "comment-1868" class = "comment">
				<p>Something like this may indeed fit better on the blog. There's a little bit of a grey area since site-specific blogs are still so new.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1037"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Yes, meta is the right place for these types of questions, even if they aren't really "questions" per se.</p>

<p>Actually, you're asking in the right place about these things. <a href="http://blog.stackoverflow.com/2009/06/cmon-get-meta/">When Meta was first introduced</a> it was meant to serve as a space for people to discuss the site without discussing the site on the site. (Still with me? Okay!) It was actually one of your mods, Kyle Cronin, who helped fight for and organize a MSO community before MSO was a thing.</p>

<p>Now, as we've grown and our network diversified, meta has become more than discussion-worthy queries -- it's also become a way to rally the community around events, cleanups, and contests. Meta has evolved just as our sites have evolved.</p>

<p>Think of it like this: not all discussions yield answers, and not all answers are responding to questions. Meta is a good place for those questions and answers. :D</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1876" class = "comment">
				<p>So to be absolutely clear and not confusing at all, we don't want to discuss the site on the site, but it's okay to discuss the meta-site on the meta-site? :)</p>
			</div>
			<div id = "comment-1877" class = "comment">
				<p>Hahaha, yes! Crazy as it may seem, you are correct, sir! :D</p>
			</div>
			<div id = "comment-1878" class = "comment">
				<p>/(meta.)+apple.stackoverflow.com/</p>
			</div>
			<div id = "comment-1883" class = "comment">
				<p>Is why there is a Discussion tag I suppose ;)</p>
			</div>
			<div id = "comment-1906" class = "comment">
				<p>Ah yes, good ol http://sof.modos.org/forums/ (broken link). I think using a phpBB forum to discuss Stack Overflow was more than poor Jeff could bear :)</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>