<html>
	<head>
		<title id = 'pagetitle'>Should we keep ' - Stack Exchange' at the end of our name?
		</title>
	<head>
	<body id = 'pagebody'><p>Our official name has recently been upgraded to Ask Different (instead of Apple). This is something we've been <a href="https://apple.meta.stackexchange.com/questions/433/please-change-name-of-site-from-apple-to-ask-different">hoping for</a> for a long time, and I'm thrilled that it's happened. I don't want this post to come across as complain-y or ungrateful, it's just a little detail I noticed and wanted to mention.</p>

<p>The change seems to have propagated throughout the site and network now: we're Ask Different in the site's title, the SE sites list, the newsletter, etc.</p>

<p>However, in some places (like the <a href="https://apple.stackexchange.com/about">about page</a>), the name is displayed as 'Ask Different - Stack Exchange'.</p>

<p>This sounds weird to me: Apple - Stack Exchange made sense because 'Apple' was not the site's brand; we were part of the Stack Exchange brand. Now that we officially have the distinct brand 'Ask Different', keeping SE on the end seems a little messy and unnecessary (even without '-SE' it's still clear that we're part of the SE network).</p>

<p>SE's David Fullerton mirrored this observation in his <a href="https://gaming.meta.stackexchange.com/questions/4237/a-new-name-for-gaming-stack-exchange">original post</a> on Arqade:</p>

<blockquote>
  <p>About the only thing we can agree on right now is that  XXXXX Stack Exchange  is not a brand -- it s too long, descriptive, and forgettable.</p>
</blockquote>

<p>I've noticed this on Arqade as well: they are 'Arqade - Stack Exchange' in some places, not just 'Arqade'. Wasn't this one of the reasons (a small one, but a reason nonetheless) for the change in the first place?</p>

<p><strong>Personally, I'm in favor of removing the ' - Stack Exchange' from the end of 'Ask Different'.<br>
Thoughts?</strong></p>


<h1>ANSWERS</h1>
		<p><img src="https://i.stack.imgur.com/5ryxG.png" alt="Stack Overflow x3"></p>

<p>Enough said?</p>


	</body>
</html>