<html>
	<head>
		<title id = 'pagetitle'>Should answers which are not forward compatible be edited for compatibility, or new answers created for new versions?
		</title>
	<head>
	<body id = 'pagebody'><p>Recent OS X updates (SIP) have rendered some old solutions (especially scripts) broken. Should old answers be updated, or new questions answered in their own right?</p>


<h1>ANSWERS</h1>
		<p>The old solutions are not broken; the new operating systems are :-)</p>

<p>The posted solutions are still quite valid for computers running the operating systems for which the answers were written. I don't see any reason to break the answers for people running Panther or Tiger or Leopard or Snow Leopard or Lion or Mountain Lion or </p>

<p>If one wanted to edit <em>additional</em> information into the answers to make them compatible with these newfangled operating systems that aren't named after cats, I suppose one could do that, but don't break answers that work fine for the systems for which they were intended.</p>


<p>If there is a clearly-winning, correct answer which only changes at for instance El Capitan, my inclination would be to just add something along the lines of  </p>

<p>"<strong>Edit:</strong> after El Capitan you need to do this instead/as well"   </p>

<p>which preserves the original &amp; updates for newer systems <em>and also</em> keeps the right answer for all occasions at the top of the list.</p>

<p>It also keeps the rep points accruing for the person who actually got the right answer in the first place; it wasn't their fault El Capitan broke their elegant solution.</p>


	</body>
</html>