<html>
	<head>
		<title id = 'pagetitle'>Shouldn't this Mavericks question have remained open?
		</title>
	<head>
	<body id = 'pagebody'><p>I resent you closed this issue <a href="https://apple.stackexchange.com/questions/135415/finder-windows-wont-show-after-reinstlling-mavericks-ower-yosemite">Finder windows won&#39;t show after reinstlling Mavericks ower Yosemite</a></p>

<p>How are we supposed to solve our Maverick related issues if we don't get to feedback on this env? </p>


<h1>ANSWERS</h1>
		<p>We have chosen for several years now to not be a place to host answers about beta and pre-release OS from Apple. </p>

<p>Until such time as consensus
changes, you should find support on Yosemite issues from the vendor or on another site. </p>

<p>See the FAQ for Yosemite in specific: <a href="https://appleseed.apple.com/sp/betaprogram/faq" rel="nofollow">https://appleseed.apple.com/sp/betaprogram/faq</a></p>


	</body>
</html>