<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should Civic Duty and Electorate be put between the same hr tags in the Badges list?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1993" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::29</h3>
				<h2>Should Civic Duty and Electorate be put between the same hr tags in the Badges list?</h2>
<p>Perhaps they aren't directly related as the other bronze-silver-gold badge progressions, but it seems like they could be grouped with each other in the list.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3832" class = "comment">
				<p>Are you referring to the section where things are [grouped by function](http://apple.stackexchange.com/help/badges) (these both fall under Moderation) and then listed alphabetically?</p>
			</div>
			<div id = "comment-3834" class = "comment">
				<p>Ah, I didn't pay attention to the alphabetical sorting. So I guess the answer is that they aren't directly related.</p>
			</div>
			<div id = "comment-3843" class = "comment">
				<p>This question appears to be off-topic because it is about genreal stack exchange and should be migrated to meta.stackoverflow</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1996"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>In my eyes they are related, and just a degree of how sustained your moderation efforts on the site relate to the voting buttons.</p>

<p>My hope is that everyone that decides to chase the Electorate badge is then so used to the positive effect of voting, that the site grows people that help moderate what content is featured.</p>

<p>The listing at <a href="https://apple.stackexchange.com/help/badges">https://apple.stackexchange.com/help/badges</a> seems to be organized alphabetically to my eye. ;-)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3835" class = "comment">
				<p>maybe they could be put between the same hr tags then?</p>
			</div>
			<div id = "comment-3836" class = "comment">
				<p>@dwightk If you want to ask that, just edit the question and I'll delete this. Be sure to tag **bug** or **feature-request** and possibly site-design if you feel that last tag fits the bill.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>