<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Should we duplicate some of the most Apple releated popular questions from other SE sites?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-42" class = "post">
			<h2>Question</h2>
			<div id="vote-42" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 116</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should we duplicate some of the most Apple releated popular questions from other SE sites?</h2>
<p>In order to help seed Apple.SE with relevant questions?</p>

<p>Addendum: If the original users have not added their questions from Area 51 is it worth adding them ourselves?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-42">Load Comments</button></br>
			<div id = "commentsection-42" class = 'collapse'>
			<div id = "comment-56" class = "comment">
				<p>Let's hang the decision on this question. If approved then the original askers should be given time to move their questions, or they may be moved in CW.</p>
			</div>
			<div id = "comment-82" class = "comment">
				<p>I will start adding questions from Area51 in CW tomorrow morning if the OP's have not already done so.</p>
			</div>
			<div id = "comment-83" class = "comment">
				<p>Top example questions: [Area51 - Apple](http://area51.stackexchange.com/proposals/151?phase=commitment). And another link to [all on topic questions](http://area51.stackexchange.com/proposals/151?tab=ontopic&phase=definition#tab-top). For those who need them.</p>
			</div>
			<div id = "comment-1359" class = "comment">
				<p>August 2011, no shortage of questions in Ask Different. Is it timely to flag this for a status-completed tag?</p>
			</div>
			</div>
				<textarea id = "speech-42" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-42">
					<img id="start_img-42" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-43"  class = "post">
				<h2>Answer</h2>
			<div id="vote-43" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think that <strong>Yes</strong>, we should :</p>

<p>If we want to create a huge DB of questions, easily searchable with everything in one place, it is a good thing to have the most popular questions form other sites include here; having all in one site is a better idea.</p>

<p>Google will also soon index the site and this will attract here users from all around the web, so they will know it's the right place to ask questions and provide answers.</p>

<p>I think this would be great if we can provide one of the biggest Apple related questions site on the web.</p>

<p><br/></p>

<p>BTW, something I don't know : can we simply <em>add</em> questions with their respective answers with one or two clicks or do we have to manually copy them ?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-43">Load Comments</button></br>
			<div id = "commentsection-43" class = 'collapse'>
			<div id = "comment-55" class = "comment">
				<p>Everything would be manual - there's no way within SE at the moment to move questions from Area51 or another SE site to a beta site.</p>
			</div>
			<div id = "comment-57" class = "comment">
				<p>Remember that this is in private beta at the moment. Also Google will index it and hit Apple.SE with a "duplicate content" mark, which will push it far down in rankings. If that is the goal it's not a good one.</p>
			</div>
			</div>
				<textarea id = "speech-43" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-43">
					<img id="start_img-43" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-47"  class = "post">
				<h2>Answer</h2>
			<div id="vote-47" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>I vote <strong>no</strong>.</h1>

<p><br />
I feel that while it will help "seed" the site, it will do so artificially. There will be many duplicate answers. It would be a complex process to meticulously move them since there is no build in method to do so. </p>

<p>As these questions have already "settled" on other sites there would also be an issue with what happens if someone wants to add to it. They aren't in this private beta for Apple.SE, so they would be unable to add it here. </p>

<p>By taking these questions and confining them to our admittedly small group we would be hurting anyone else who may end up either contributing or needing help that would have been given by the question.</p>

<p>Consider what happens if we do decide to do this. Should people not as on SU because there is an Apple.SE? How would they contribute here? </p>

<p>SU (because it's most applicable for moving questions from) is the "parent" computer hardware / software site. Apple.SE is specifically Apple. That doesn't mean that SU is the wrong place to ask a question that happens to concern Apple hardware or software.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-47" class = 'collapse'>
			</div>
				<textarea id = "speech-47" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-47">
					<img id="start_img-47" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>