<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should products with "Apple" in their name have a dash?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should products with "Apple" in their name have a dash?</h2>
<p>Should a product name using "Apple" (ex. Apple Watch, Apple Music, Apple TV) have a dash between the word "Apple" and the other word?</p>

<p>I have noticed a difference between the tags <a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a> and <a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a>.</p>

<p>Should we rename <a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a> to <a href="https://apple.stackexchange.com/questions/tagged/applewatch" class="post-tag" title="show questions tagged &#39;applewatch&#39;" rel="tag">applewatch</a> to fit <a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a> or should we rename <a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a> to <a href="https://apple.stackexchange.com/questions/tagged/apple-tv" class="post-tag" title="show questions tagged &#39;apple-tv&#39;" rel="tag">apple-tv</a> to fit <a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a>?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Throughout the site, spaces in official product names are represented by  -  in tag names, therefore <a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a> should be <a href="https://apple.stackexchange.com/questions/tagged/apple-tv" class="post-tag" title="show questions tagged &#39;apple-tv&#39;" rel="tag">apple-tv</a>, leaving <a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a>/etc as they currently are.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>