<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should I receive a notification for my  upvoted" comments?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2479" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::26</h3>
				<h2>Should I receive a notification for my  upvoted" comments?</h2>
<p>If my comment  adds something useful to [a] post , I d simply like to know so - I d like to be notified. I think that such a feature would, in the long run, improve the quality of comments. Thoughts?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2480"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Votes on comments are more similar to favs on Twitter/likes on FB in a way. The only functionality behind comment votes actually is that in case there are a lot of comments on a post, the ones with higher upvotes get displayed by default, not the chronologically oldest.</p>

<p>Question is slightly different than <a href="https://apple.meta.stackexchange.com/questions/2429">What happens with deleted comments</a>, but the answers given there apply to comment "votes" as well. Comments aren't guarateed to persist, so voting on them doesn't impact your reputations etc. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5665" class = "post">
				<p>Thanks for the response. Thoughts: 1) Though the Facebook & Twitter comparison is accurate, the exact difference is that I would receive a notification if someone  liked  or  faved  my comment.  2) The feature would have nothing to do with reputation, or any explicit incentive - I simply think it d be a beneficial that one be notified for a positive contribution to the community, whatever the circumstances. 3) I appreciate the linked to Q&A - it s dispelled some of my previous held notions about the persistence of comments, despite the fact my belief in the feature req. holds. Cheers.</p>
			</div>
			<br><div id = "ans-2481"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>tbh, I'd like a downvote option on comments too; for the truly idiotic, yet not actually offensive ones - to quickly push them out of contention. </p>

<p>Theoretical wild example:-<br>
OP wants to expand a drive partition.<br>
First comment is 'Wipe your drive, reinstall your OS'</p>

<p>It's not offensive; it's not 'strictly wrong', you <em>could</em> do it that way if you were so inclined; but it would be a whole lot more work than a smarter answer.</p>

<p>As an answer it would quickly get down voted, &amp; commented on itself, hopefully before the OP had chance to take up the idea.  </p>

<p>As a comment, there's no 'defence mechanism' for it.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5663" class = "post">
				<p>If anything would get me to install user scripts in my web browser, it would be to collapse all comments. Oh, and I need to see them to moderate. Two things.</p>
			</div>
			<div id = "comment-5664" class = "post">
				<p>If in doubt, flag. This is valid for comments as well.</p>
			</div>
			<div id = "comment-5666" class = "post">
				<p>ah, yes - I always forget comment flags are also categorised</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>