<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should I rollback a bad minor edit by the OP?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1969" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::29</h3>
				<h2>Should I rollback a bad minor edit by the OP?</h2>
<p>I recently made a substantial edit to this question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/122400/how-do-i-upload-a-new-version-of-an-app-after-an-app-transfer">How do I upload a new version of an app after an App Transfer?</a></li>
</ul>

<p><img src="https://i.stack.imgur.com/xEEJK.png" alt="My Edit"></p>

<p>The OP then further edited the post to change an <code>I</code> to an <code>i</code>:</p>

<p><img src="https://i.stack.imgur.com/NUhXM.png" alt="OP&#39;s Edit"></p>

<p>It was a very minor edit and the rollback would be equally minor, so should this be rolled back?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3777" class = "comment">
				<p>The OP's edit is very minor indeed but we don't know his/her motivation to do so. I've rolled it back now nevertheless.</p>
			</div>
			<div id = "comment-3855" class = "comment">
				<p>What are the implications of having an edit? Why bother rolling it back if it's an improvement, however small? Do they get rep for every accepted edit?</p>
			</div>
			<div id = "comment-4248" class = "comment">
				<p>@Terry The point was in this case that the edit wasn't an improvement. Of course, if the letter had been lowercase and was changed to uppercase, the edit would have still been minor but wouldn't have been rolled back.</p>
			</div>

<h1>ANSWERS</h1>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>