<html>
	<head>
		<title id = 'pagetitle'>Should we make this question about downgrading iOS more generic?
		</title>
	<head>
	<body id = 'pagebody'><p>The question in question is [revised title] <a href="https://apple.stackexchange.com/questions/102928/downgrading-to-a-previous-ios-version">Can I install any iOS version I wish by picking and choosing which firmware to restore?</a>. I usually just mark anything that has to do with installing different iOS versions as a duplicate of that question. The answer I have on that question covers all scenarios including upgrading and downgrading. However, the question specifically asks for a downgrade.</p>

<p>I come here again asking about this because of the short conversation I had with Mark on this question here that specifically asks for an iOS upgrade <a href="https://apple.stackexchange.com/questions/133322/can-you-update-an-iphone-4-on-ios-6-1-2-to-7-0-6-using-an-ipsw-file">Can you update an iPhone 4 on iOS 6.1.2 to 7.0.6 using an IPSW file?</a>. I tried marking that question as a duplicate of <a href="https://apple.stackexchange.com/questions/102928/downgrading-to-a-previous-ios-version">Can I install any iOS version I wish by picking and choosing which firmware to restore?</a>, but Mark seemed to disagree with me.</p>

<p>The real problem is that all of these questions can be answered with my one answer.</p>

<p>At one point, I did make my own generic question and answered it myself, but the mods marked it as a duplicate of <a href="https://apple.stackexchange.com/questions/102928/downgrading-to-a-previous-ios-version">Can I install any iOS version I wish by picking and choosing which firmware to restore?</a>.</p>

<p>Can we make this question more generic to include all unorthodox installations of iOS? If not, can I make a question that actually is generic and move my answer to it and not have it marked as a duplicate?</p>

<p><strong>Update:</strong> Can we revisit this? We seem to get duplicates of these iOS upgrade/downgrade/reinstall questions three to four times per month.</p>


<h1>ANSWERS</h1>
		<p>I think this one has now answered itself. </p>

<p>With some simple tweaks to the original post &amp; a massively comprehensive set of answers (&amp; protected to stop the 'me too' contributors;-), this has become the <em>go-to</em> dupe over the past year.</p>

<p>I've actually just tweaked the question body itself to genericise it still further - iOS 7 is long-gone now, for most people.</p>


	</body>
</html>