<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should there be a tag 'logic-pro-x'?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should there be a tag 'logic-pro-x'?</h2>
<p>The title has it all...</p>

<h1>My Reason</h1>

<p><em>My reason is slightly silly but if anyone agrees please edit with maybe a better reason however this is it:</em></p>

<p>Well there is a 'garageband' tag so for people who need help with logic pro X why shouldn't there be a tag for that </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I would say no and that the existing <a href="https://apple.stackexchange.com/questions/tagged/logic" class="post-tag" title="show questions tagged &#39;logic&#39;" rel="tag">logic</a> serves to identify questions that someone might want to follow and recognize expertise across the versions and editions of logic.</p>

<p>Is there a specific use case you are looking to assist with?</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>