<html>
	<head>
		<title id = 'pagetitle'>Should we claim http:~~meta.apple?
		</title>
	<head>
	<body id = 'pagebody'><p>I typed in <code>meta.apple</code> into chrome, and rather than googling for Ask Different Meta, it tried to load <code>http://meta.apple</code> and failed.</p>

<p>Should we claim <code>http://meta.apple</code> and have it redirect to <code>http://meta.apple.stackexchange.com/</code>?</p>


<h1>ANSWERS</h1>
		<p>I'm not sure how this would be possible. Apple owns .apple and I doubt they're going to give us a subdomain. Also, I'd presume the main site is more worthwhile for a .apple subdomain than just the meta site.</p>


	</body>
</html>