<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should answers shaped like this be flagged?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2619" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::46</h3>
				<h2>Should answers shaped like this be flagged?</h2>
<p>I noticed a strange answer in the shape of <em>"If you need help, we can help you out at example.com"</em> </p>

<p>Is it in the zone of validity to post such answer? I would possibly flag as spam since it appears to be promoting this persons webpage.</p>

<hr>

<p>The answer can be found here:</p>

<ul>
<li><a href="https://apple.stackexchange.com/a/206953">Problems with downloading iTunes on Windows 7</a> </li>
</ul>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2620"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>That's definitively flag-worthy, as are all other answers which basically lead people offsite for the details.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5882" class = "comment">
				<p>I flagged it as **Spam** since it promotes that webpage</p>
			</div>
			<br><div id = "ans-2622"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Answers which link elsewhere to answer the question should be flagged, but there's a bit more to it than that.</p>

<ul>
<li><p>Answers which answer the question through quoting content from an external link or providing sufficient information such that if the link is removed <em>an</em> answer exists, regardless of quality, don't need flagging. If the content besides the link is thin, a comment may be worthwhile.</p></li>
<li><p>Answers which solely include a link to a page which answers the question, such as example.com/how-to-fix-x/ should be edited to include a quote or summary of the content. If the link is broken, look for a suitable alternative or look for an archived copy.</p></li>
<li><p>Answers which include a link to slightly-related, indirectly-related or unrelated content should be flagged as spam.</p></li>
</ul>

<p>All single instances of self-promotion is fine as long as:</p>

<ul>
<li>your relationship to the product is disclosed</li>
<li>it's actually 100% relevant to the question being asked</li>
<li>it's not a pattern of posting the same links over and over - even if each is correct in isolation.</li>
</ul>

<p>For example, if I've written an extensive article on my site prior to a question being posted, I will include a link to this content in my answer. However, I will also include a summary of the information such that if the link is later unavailable, the answer is still valid.</p>

<p>Self-promotion can be a fine line if you are just parroting marketing copy without regards to customizing it for the question at hand and you don't offer alternatives to your "solution". </p>

<p>Basically, if it's a 1 reputation user blatantly promoting their own content, flags for spam are generally approved since the OP came here only to promote and not to participate. If a 101 reputation user posts a link to their own content, check their network profile to see if they have the dofollow privilege elsewhere, and include a link to the self-promotion help page if you deem it necessary.</p>

<p>You can always ask on meta or flag as "other" and ask for feedback if a post is spam if you're not sure.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>