<html>
	<head>
		<title id = 'pagetitle'>Should questions about the developer's side of the app store be considered on or off topic?
		</title>
	<head>
	<body id = 'pagebody'><p>On one hand, posts about <a href="https://apple.stackexchange.com/questions/5013/japan-tax-form-3-fee-closed">tax forms</a> and the like are pretty narrow in scope and don't fit well with the more general, user-centric questions that this site is intended to get. On the other hand, such questions wouldn't be considered on topic on any other Stack Exchange site, and the word "Apple" at the top of the page rightly leads people to believe that this site covers "all things Apple".</p>

<p>Ideas?</p>


<h1>ANSWERS</h1>
		<p>I'm less worried about the questions being off topic as I about whether there are enough app store developers on here to answer them.  Might be good to poll for those who think they can field these questions (I'm not one of them :P ).</p>


<p>I'm on the fence about this -- so I agree with calavera that the deciding factor should depends on whether or not they can actually get <em>answered</em> here.</p>


<p>I really appreciate the discussion about my topic. Conclusion: where should I ask the question to be ok? </p>


<p>I believe that <em>certain</em> developing questions (regarding Apple products) can be asked (and maybe answered) here, but if it goes too far, maybe <em>SO</em> would be a better place. Developing is an art form on its own and whether it involves apple products or not is certainly not 100% relevant. </p>

<p>What I mean is, developing takes precedence over Apple in those cases. If there were a blackberry.stackexchange.com, developing for the  someday  upcoming RIM Tablet, would probably best suited in SO anyway. </p>


<p>So I've read that there were a few proposals creating a sister site covering these kind of questions. But they are never opened because they don't want to create a sister site on area51 because this site is already there and others putting SO as alternative.</p>

<p>Then I'm back on this site with a question about developing apps and It's not welcome here :-)</p>

<p>So back to SO but it seams to global for me. </p>

<p>I do agree that creating al sorts of small sites is too much.
Like drupal has his own site, questions about drupal are sometimes ported to the drupal site while the response on SO is better.
and then there is also programming which also could be merged with SO IMHO.</p>

<p>I guess what I'm trying to say is that it is too unclear where to post a question and getting down votes on those questions isn't a way to welcome new users...</p>

<p>I'm fine with posting a question on a different site to keep it all clean, but it seams odd to allow some sister sites and disallow others. I vote for one format for all sites so all is clear and confusion avoided. Even if that means disappointing some users.</p>

<p>As a side note I must admit that the "apple" stackexchange site triggered me to post my development question.</p>

<p>Why not let developers use this site as well? 'normal' users can unfollow the developer tag and even get support of developers hanging out here with 'user' questions?</p>


	</body>
</html>