<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Should jailbreaking questions be allowed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-15" class = "post">
			<h2>Question</h2>
			<h3>Score ::10</h3>
			<h3>Views ::215</h3>
				<h2>Should jailbreaking questions be allowed?</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/492/asking-jailbreak-related-question">Asking jailbreak-related question</a>  </p>
</blockquote>



<p>Similar to the Hackintosh questions, but given the <a href="https://apple.stackexchange.com/questions/28/sbsettings-wont-hide-ipod-icon">recent question</a> I figured I would ask.</p>

<p>In my opinion, it's like asking why your computer won't start because you screwed with stuff in <code>/etc</code>.</p>

			</div><h3>Comments</h3>
			<div id = "comment-43" class = "comment">
				<p>what's wrong with asking why your computer won't start because you screwed with stuff in /etc?  Hacking your apple software and asking for help fixing problems that arise seems totally reasonable to me...</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-20"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::15</h3>
				<p><p>Yes, we should allow jail breaking questions, since the Library of Congress(?) has just opined that it's legal. </p>

<p>Sure it voids your warrantee, but if the question is just about jail breaking (rather than say, jail breaking for the purpose of pirating videos or music), we should allow discussions and simply encourage responders to indicate what actions might void your warrantee, brick your device, etc.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-26" class = "comment">
				<p>Agreed. If it was still a legal grey area I'd say absolutely not, but since it's been deemed free and clear then I don't see why we shouldn't allow them. 

We should, however, smack down any questions that are clearly piracy-related (as we, assumedly, would do if an OS X-related question about piracy came up).</p>
			</div>
			<div id = "comment-42" class = "comment">
				<p>+agreed jaydles, +mostly agreed scottie... who defines what is and isn't a legal grey area?  piracy is obviously illegal.  Jailbreaking was not explicitly illegal (by way of law or legal precedent) before the LOC ruling, and is clearly legal now.  Piracy has been proven to be illegal by the courts on many occasions.  This relates directly to the hackintosh "discussion".</p>
			</div>
			<div id = "comment-1927" class = "comment">
				<p>Wait, so there's a grey area as to what exactly the other grey area is? Is the second grey area clearly defined at least?</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>