<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should all badges be attainable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should all badges be attainable?</h2>
<p>I looked at <a href="https://meta.stackexchange.com/questions/13/should-the-beta-badges-stop-being-awarded-to-users">SO meta</a>, and they have removed the badge for participating in the beta.</p>

<p>I think that all the badges should be attainable for everyone, so badges like Beta and precognative. </p>

<p>I do understand that these are a medal and people are proud to ahve them but can these be incorporated into the profile rather than a badge, as no newer users will ever have the chance of gaining these badges.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>There are a number of badges which are practically unattainable for various reasons:</p>

<ul>
<li>"participated in Beta" -> obvious</li>
<li>"Legendary" (Earned 200 daily reputation 150 times) -> maybe in a few years</li>
<li>"Reversal" (Provided answer of +20 score to a question of -5 score) -> how likely is that?</li>
</ul>

<p>So I think one unattainable badge more or less doesn't matter.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>