<html>
	<head>
		<title id = 'pagetitle'>Should there be a tag 'logic-pro-x'?
		</title>
	<head>
	<body id = 'pagebody'><p>The title has it all...</p>

<h1>My Reason</h1>

<p><em>My reason is slightly silly but if anyone agrees please edit with maybe a better reason however this is it:</em></p>

<p>Well there is a 'garageband' tag so for people who need help with logic pro X why shouldn't there be a tag for that </p>


<h1>ANSWERS</h1>
		<p>I would say no and that the existing <a href="https://apple.stackexchange.com/questions/tagged/logic" class="post-tag" title="show questions tagged &#39;logic&#39;" rel="tag">logic</a> serves to identify questions that someone might want to follow and recognize expertise across the versions and editions of logic.</p>

<p>Is there a specific use case you are looking to assist with?</p>


	</body>
</html>