<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we make a new tag called 'rEFInd' in replacement of 'rEFIt'?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2495" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::30</h3>
				<h2>Should we make a new tag called 'rEFInd' in replacement of 'rEFIt'?</h2>
<p>I have been asking a few questions lately about rEFInd and have had to use the tag <a href="https://apple.stackexchange.com/questions/tagged/refit" class="post-tag" title="show questions tagged &#39;refit&#39;" rel="tag">refit</a>.</p>

<p>Should we make an updated tag for rEFInd since rEFIt is outdated now? If we shouldn't then why?</p>

<p>This will also help to distinguish between the old rEFIt and the new rEFInd.</p>

<p>Here are the links to the questions:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/188190/uninstall-refind-0-8-3-7-on-yosemite">Uninstall rEFInd 0.8-3.7 on Yosemite</a></li>
<li><a href="https://apple.stackexchange.com/questions/188401/install-refind-on-another-partition">Install rEFInd on another partition</a></li>
</ul>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5676" class = "comment">
				<p>If you want to link to the questions I could see making both temporarily while we sort out what we'll do eventually.</p>
			</div>
			<div id = "comment-5678" class = "comment">
				<p>@bmike Edited my question to include my links.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2496"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>My vote would be to merge both to <a href="https://apple.stackexchange.com/questions/tagged/efi" class="post-tag" title="show questions tagged &#39;efi&#39;" rel="tag">efi</a> or some other tag further up the hardware chain.</p>

<p>What are your thoughts of tagging these utilities more on what they do (replace/interface with EFI) than what the program du jour is called?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5677" class = "comment">
				<p>I would say that's a good idea since refit and rEFInd are both to do with the EFI boot-loader. Or could we make a boot-loader tag since it is what boots the computer?</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>