<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Should there be a tag 'logic-pro-x'?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2672" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::21</h3>
				<h2>Should there be a tag 'logic-pro-x'?</h2>
<p>The title has it all...</p>

<h1>My Reason</h1>

<p><em>My reason is slightly silly but if anyone agrees please edit with maybe a better reason however this is it:</em></p>

<p>Well there is a 'garageband' tag so for people who need help with logic pro X why shouldn't there be a tag for that </p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2672" class = 'collapse'>
			</div>
				<textarea id = "speech-2672" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2672">
					<img id="start_img-2672" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2673"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I would say no and that the existing <a href="https://apple.stackexchange.com/questions/tagged/logic" class="post-tag" title="show questions tagged &#39;logic&#39;" rel="tag">logic</a> serves to identify questions that someone might want to follow and recognize expertise across the versions and editions of logic.</p>

<p>Is there a specific use case you are looking to assist with?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2673" class = 'collapse'>
			</div>
				<textarea id = "speech-2673" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2673">
					<img id="start_img-2673" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>