<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Should questions about non OS X specific command-line tools be allowed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2714" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::138</h3>
				<h2>Should questions about non OS X specific command-line tools be allowed?</h2>
<p>The question in question is <a href="https://apple.stackexchange.com/questions/222642/extracting-latency-value-from-output-of-ping">Extracting latency value from output of ping</a>.</p>

<p>Should questions like this be considered off-topic? Aren't there other SE sites dedicated to these types of questions?</p>

			</div><h3>Comments</h3>
				<textarea id = "speech-2714" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2714">
					<img id="start_img-2714" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-2715"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::14</h3>
				<p><p>From <a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a>:</p>

<blockquote>
  <p>We do encourage AppleScript, Automator, and UNIX shell scripting questions as well as how to use tools like Xcode for non-language specific tasks</p>
</blockquote>

<p>So yes these kind of questions are absolutely on topic here. </p>

<p>Now, if the question is: Should we allow them in the future? Opinions may differ, but from my point of view it's often rather difficult to differentiate between scripting questions around specific OS X features (e.g. how can I list all connected USB devices) and questions which are generic enough to belong to another site (most probably Unix &amp; Linux). Also, if the question does require a very detailed Unix knowhow not available on AD, we still can migrate it over if it doesn't get answered in due time. In other words: I don't see a pressing need to change the policy here.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6009" class = "comment">
				<p>That makes a lot of sense. Thank you.</p>
			</div>
			<div id = "comment-6032" class = "comment">
				<p>Just as an example: http://apple.stackexchange.com/questions/225026/backward-compatibility-of-shell-scripts is well-suited for both sites but on U&L it would have been not been answered at all or with an answer listing all the subtle differences of bash since before the beginning of time :-)</p>
			</div>
				<textarea id = "speech-2715" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2715">
					<img id="start_img-2715" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-2716"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>Just because command line tools such as these are also used in other OS, often for much longer than they have been in OS X, doesn't mean they are not a part of OS X, provided, supported, licensed and documented from Apple directly.</p>

<p>A lot of the time where this sort of thing could be applicable to many SE sites, it comes down to where the OP feels most comfortable asking. If someone has a question on <code>ping</code> or similar, but they happen to be using a Mac, then I'd feel bad pointing them at SuperUser where they might get savaged (for want of X better phrase)</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6010" class = "comment">
				<p>Also: being BDS-based means OS X's pedigree is quite long, time-wise, as software goes.</p>
			</div>
			<div id = "comment-6031" class = "comment">
				<p>"savaged" = treated normally on SO haha *mostly kidding*</p>
			</div>
				<textarea id = "speech-2716" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2716">
					<img id="start_img-2716" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-2726"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>As a Mac user who mostly "lives" on <a href="https://unix.stackexchange.com/">Unix &amp; Linux stackexchange</a>, I thought I'd provide my viewpoint on this.</p>

<p>Questions about command line tools (that aren't Apple-specific) are perfectly on-topic both here and on Unix &amp; Linux.  Most such questions are also on-topic for superuser.com.  The main difference is the type of answers you're likely to receive.</p>

<p>Realize that a huge percentage of Unix &amp; Linux questions relate to the command line, and frequently active users include many professional sysadmins, not to mention several people who actually <em>write</em> shells.  This means that a well-written question about a command line tool may get a <em>much</em> more in-depth answer than you're likely to find on any other site.</p>

<p>Now, some people (most computer users, actually) aren't interested in really <em>learning</em> the command line; they primarily use a GUI and if they ask a question about the command line at all, what they would actually prefer is a simple command that they can paste into their terminal, which will do what they want, and let them get back to using the GUI.  (This is fine, of course; not everyone needs to learn the command line.  We have those people at Unix &amp; Linux also.)  This isn't the sort of answer that's considered "good" on U&amp;L.  It's probably not considered "good" here, either!  But in-depth answers about the command line are really the <em>norm</em> on U&amp;L.  So if you have a tricky, highly technical command line question, U&amp;L is (in my opinion) the best place possible to ask.</p>

<p>However what goes along with this is <em>possibly</em> less lenience for newbie questions.  It's really hard to describe this, though, because no one is <em>rude</em> about it...I've rewritten this paragraph five times and I still can't quite nail it.</p>

<p>I suppose the closest I could come is to say: imagine the response of a bunch of (polite) doctors who were sitting and chatting if you came in and asked, "I forget, is it the ears or the eyes that are the 'sight' organs?"  They'd answer you, of course, but they would undoubtedly be amused and might even chuckle at your naivet .  :)</p>

<p>So really, ask where you feel comfortable asking, and where you think you will get the best answer.  Either way it's on topic.</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-2726" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2726">
					<img id="start_img-2726" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			<br><div id = "ans-2727"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>My two cents on this, <a href="https://stackoverflow.com/questions/3446231/how-close-are-mac-os-x-and-bsd-related">since Mac OS/X is based on BSD</a> there is enough subtle difference between how commands work in a OS/X Terminal vs. a Linux-derived terminal. Because of this I would recommend allowing general purpose OS/X Terminal command questions here.</p>

<p>Having said that, when I worked for Applecare, first-tier support advisors are NOT allowed to freelance on the command-line, they are only allowed to use terminal commands if they come from an official Apple support doc, and that's rare!</p>

<p>Once I graduated to tier 2 ("Senior Advisor") I thought, woohoo I can solve problems a lot faster! Well there was more freedom (and depends on your manager) but there was still a strong emphasis on solutions the customers could understand that used GUI tools. True, customers get ahead of support agents and can do some damage when they "know enough to be dangerous," so keeping them away from the command line was generally the right thing to do ... until I talked to a customer who I knew was smarter than me :)</p>

<p>Well I only rehash that (no longer work there) to point out <strong>that Apple culture is, as noted in other answers, generally to stay away from the command line.</strong></p>

<p>But having said all that my original point stands, <a href="https://askubuntu.com/questions/484982/what-is-the-difference-between-standard-syntax-and-bsd-syntax">and there is enough difference between BSD and Linux</a> that the content can be reasonably dissimilar. I come from SunOS and still type ps -auxww, thankfully in Linux that still works. <a href="https://unix.stackexchange.com/questions/70762/ping-timeout-differences-between-os-x-and-linux-other-oss">There are whole articles written about the differences in how ping works</a> ... on other SE sites :)</p>

<p>(<a href="https://www.freebsd.org/doc/en/articles/explaining-bsd/comparing-bsd-and-linux.html" rel="nofollow noreferrer">another interesting BSD link here</a>)</p>
</p><br>
			</div><h3>Comments</h3>
				<textarea id = "speech-2727" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2727">
					<img id="start_img-2727" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>