<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Should we allow "useless" tags and what are "useless" tags for Apple.SE?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-4" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::124</h3>
				<h2>Should we allow "useless" tags and what are "useless" tags for Apple.SE?</h2>
<p>What is the list of tags we should not allow? Much like how on most other SE sites tags like <code>homework</code>, <code>subjective</code>, etc. have been disallowed.</p>

<p>For more info check out: <a href="https://meta.stackexchange.com/questions/51627/should-we-permanently-remove-the-subjective-tag">Should we permanently remove the [subjective] tag?</a> on Meta.SO.</p>

			</div><h3>Comments</h3>
			<div id = "comment-3752" class = "comment">
				<p>I'm going to lock this. With two questions, it got the discussion started in 2010 but isn't answerable or continuing the discussion today.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-7"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Why should we not allow <code>[mac]</code> or <code>[apple]</code> tags? </p>

<p>Is there a distinct clutter benefit to not allowing them? </p>

<p>Some tags that I think we should not allow:</p>

<ul>
<li><code>[linux]</code></li>
<li><code>[windows]</code></li>
</ul>

<p>Okay, just a joke. I can't think of any tags that <em>shouldn't</em> be allowed, except for standard subjective questions, questions that are clearly argumentative (<code>windows-vs-mac</code>?) or spiteful (<code>i-can't-google</code>).</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-7" class = "comment">
				<p>As was proposed in the other question on the subject, [apple] as a tag makes a great deal of sense for questions about the company. [osx] for general OS questions seems fine as well. [mac] however, feels very superfluous to me.</p>
			</div>
			<div id = "comment-8" class = "comment">
				<p>@Less: Then submit and answer indicating that. I'm starting to feel the same way however. :)</p>
			</div>
			<div id = "comment-23" class = "comment">
				<p>I didn't have the rep to before!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-12"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>At first I believed they'd add clutter but using <code>[mac]</code> for any Mac based questions, <code>[iphone]</code> for iPhone based questions, etc. will help users categorize the type of Apple question. My initial impressions was wrong but I still believe there will be a list of tags that should not be allowed. The ones I first gave are not them.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-16" class = "comment">
				<p>Can you edit the question & title then? Sounds like a good idea.</p>
			</div>
			<div id = "comment-20" class = "comment">
				<p>@Josh K: Toned down the suck!</p>
			</div>
			<div id = "comment-36" class = "comment">
				<p>+agreed.  I think [apple] is definitely useless as it's the basic premise of the site.  [mac], [osx], [iphone], etc, are very usefull.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-21"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>I think that if we have an <code>[apple]</code> tag, it will be used in a way that doesn't add any value.  Maybe we can use <code>[apple inc]</code> for questions related to the company.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-122" class = "comment">
				<p>Yes, my thoughts exactly when I noticed someone had retagged [this](http://apple.stackexchange.com/questions/715/what-was-the-very-first-apple-product) with [apple]. 
[apple-inc] might indeed be better as it makes it clearer it's about the *company*. If we do keep the [apple] tag, it will certainly be used in completely superfluous ways (like [programming] on Stack Overflow).</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-26"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>[Mac] strikes me as the single most superfluous tag. [OSX] while seemingly useless at a glance, is actually fairly useful for categorizing general system software questions that aren't specific to one version or another. Similarly, [Apple] makes perfect sense as a tag for questions about Apple, The Company, rather than Apple, The Subject - But if folks would rather that tag be [Apple, Inc.], I don't think that's a problem either.</p>

<p>Questions about Mac Hardware, should, for clarity, probably be tagged with the particular product line (i.e. [iMac], [PowerBook], [Mac Mini]), or category ([Notebook], [Desktop]). I can really only count on one hand the sort of questions that could generally be applied to all Macs across that sort of categorization scheme that would actually benefit from a tag of [Mac] and not something else entirely.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1341" class = "comment">
				<p>[Is it OSX or OS X?](http://meta.apple.stackexchange.com/q/609/8546)</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>