<html>
	<head>
		<title id = 'pagetitle'>Should Civic Duty and Electorate be put between the same hr tags in the Badges list?
		</title>
	<head>
	<body id = 'pagebody'><p>Perhaps they aren't directly related as the other bronze-silver-gold badge progressions, but it seems like they could be grouped with each other in the list.</p>


<h1>ANSWERS</h1>
		<p>In my eyes they are related, and just a degree of how sustained your moderation efforts on the site relate to the voting buttons.</p>

<p>My hope is that everyone that decides to chase the Electorate badge is then so used to the positive effect of voting, that the site grows people that help moderate what content is featured.</p>

<p>The listing at <a href="https://apple.stackexchange.com/help/badges">https://apple.stackexchange.com/help/badges</a> seems to be organized alphabetically to my eye. ;-)</p>


	</body>
</html>