<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should I answer an existing old question or ask~answer my own new question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Should I answer an existing old question or ask~answer my own new question?</h2>
<p>Is there a point when a question gets too old to answer it? Before today, there was no easy way to tell if your iOS device is currently jailbroken, but an iOS security analyst has developed an application you can install that will run all the technical checks it needs to determine if you are jailbroken. There is a very old question about telling if your device is jailbroken here: <a href="https://apple.stackexchange.com/questions/70809/how-can-i-find-out-if-my-iphone-is-jailbroken">How can I tell if my iOS device is currently jailbroken?</a></p>

<p>That question has been answered already and has an accepted answer basically saying that you just check to see if Skype works or not (a very old method to check for jailbreaks that hasn't worked for years).</p>

<p>Should I answer this existing question or ask my own? Are there any general guidelines on this sort of thing?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The <a href="https://meta.stackexchange.com/questions/202900/answering-a-duplicate-question-with-a-more-current-answer?">best answer I could find comes from Meta.SE</a>. It basically says that I should post my answer to the older question since it's been around longer and has attention already.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>