<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should we forbid all "Which Mac is the best for..." questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-887" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::121</h3>
				<h2>Should we forbid all "Which Mac is the best for..." questions?</h2>
<p>I noticed lately a lot of "which Mac is the best for..." questions.</p>

<p>Here is a list, and I practically only used the <a href="https://apple.stackexchange.com/questions/tagged/development" class="post-tag" title="show questions tagged &#39;development&#39;" rel="tag">development</a> tag:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/29377/which-macbook-pro-configuration-is-best-suitable-for-iphone-ipad-app-development">Which MacBook Pro configuration is best suitable for Iphone/Ipad App development?</a></li>
<li><a href="https://apple.stackexchange.com/questions/3295/what-are-good-specs-for-a-macbook-to-develop-on-ios-with">What are minimum specs for a MacBook to develop iOS apps?</a></li>
<li><a href="https://apple.stackexchange.com/questions/29245/best-performance-macbook-for-xcode">https://apple.stackexchange.com/questions/29245/best-performance-macbook-for-xcode</a></li>
<li><a href="https://apple.stackexchange.com/questions/28493/is-a-macbook-pro-good-enough-for-software-development-or-is-an-imac-a-better-opt">https://apple.stackexchange.com/questions/28493/is-a-macbook-pro-good-enough-for-software-development-or-is-an-imac-a-better-opt</a></li>
<li><a href="https://apple.stackexchange.com/questions/3365/should-i-get-a-macbook-air-or-pro-for-ruby-on-rails-development-while-traveling">https://apple.stackexchange.com/questions/3365/should-i-get-a-macbook-air-or-pro-for-ruby-on-rails-development-while-traveling</a></li>
<li><a href="https://apple.stackexchange.com/questions/6650/is-the-white-macbook-suitable-for-software-development">Is the white MacBook suitable for software development?</a></li>
</ul>

<p>Some of them are closed, a lot still open. </p>

<p>So we should either <strong>close them</strong> all - in the end, they kind of belong to the <em>shopping</em>-style question - or, like Diago suggested for the iCloud questions, have a <strong>canonical question</strong>, with each MacBook and their specs as a separate answer, so we can close the other questions as a duplicate of this one.</p>

<p>My opinion would be to simply close them, but let's see what the community has to say about this.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-888"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I do like the idea of a canonical question for this one. That way, most can be closed as duplicates, and those whose authors think the canonical question doesn't answer their question can provide more information to distinguish what makes their case different. Then, if their case is different but not too localized, they can be reopened.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-889"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I would say no - don't close them unless they clearly are bad questions.</p>

<p>I was personally dissapointed that the "http://apple.stackexchange.com/questions/29377/which-macbook-pro-configuration-is-best-suitable-for-iphone-ipad-app-development" question got closed and will try to fix it and get it undeleted.</p>

<p>Even when the question is worded poorly (many of these are) and narrowly (the OP obviously is in the process of asking), I think there is a kernel of very important knowledge that is purely objective and should be questioned here to let people provide good technical answers.</p>

<p>Specifically, to develop iOS you have three major tasks:</p>

<ul>
<li>initial design and layout of the app</li>
<li>coding and unit tests</li>
<li>running the iOS simulator</li>
<li>debugging and support</li>
</ul>

<p>Portable macs have specific constraints that make the "design / layout" and "simulator" aspects of development problematic. Specifically, the iOS simulator wants to use 368 by 716 pixels for non retina devices, 690 by 994 pixels for retina devices and 765 by 994 for iPad simulation.</p>

<p>This really limits the effective use of say an 11 inch air unless you will have a monitor when you need to do the "design/layout" or want to edit code and read bug reports on the same screen as the simulator is running if you won't debug your code on an actual device and use the Mac's screen to do the dev half of the work.</p>

<hr>

<p>So - the existing tools (flag, close, edit) work well to close questions that are vague, similar or exact duplicate or don't talk about objective Q/A. </p>

<p>Any hardware recommendation question is prone to uncertainty / fragmentation based on the asker and answer's personal interpretation of:</p>

<ol>
<li>cost ($4k for professional tools is a pittance if you forego $400k for an education. On the other hand, $4k for something that won't make you money for 6-16 months is a lot to spend on <em>anything</em>)</li>
<li>time (students/learners vs professionals)</li>
<li>expertise</li>
<li>timing (do you try to time your purchase or just buy knowing macs hold their resale and you can always get most of your money back if you want a new mac in 3 months time)</li>
</ol>

<p>When these issues are mixed with a technical discussion, the quality of the question seems to devolve rapidly and I don't think a ban will be any more effective than current mod tools.</p>

<p>Thoughts?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1636" class = "post">
				<p>Regarding the closed question, it definitely looks like a duplicate to me, is there some reason that's not the case?</p>
			</div>
			<br><div id = "ans-894"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I favor having a canonical question for them, but until one is created I think that the questions can remain open, provided they aren't duplicates.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>