<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Should questions about OS X Yosemite be allowed now it is in public beta?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2182" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::228</h3>
				<h2>Should questions about OS X Yosemite be allowed now it is in public beta?</h2>
<p>I know this question has already been asked, but with the public beta release everyone can access and get Yosemite. There will definitely be some bugs and glitches. Could we ask questions on Yosemite on the main site?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4166" class = "comment">
				<p>Shouldn't we block all these na ve questions from undercover Apple agents hunting bad guys who broke their NDA?</p>
			</div>
			<div id = "comment-4260" class = "comment">
				<p>This question appears to be off-topic because 10.10 has been released now.</p>
			</div>
			<div id = "comment-4261" class = "comment">
				<p>The question was valid at the point of asking</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2257"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Yes.</p>

<p>The public beta for Yosemite has passed and it is now officially released. Ask away.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>