<html>
	<head>
		<title id = 'pagetitle'>Should we be more active with tag editing?
		</title>
	<head>
	<body id = 'pagebody'><p>I have noticed more and more over the last couple of questions, that most of them only have 1 or 2 tags, and very little further expansion. Since tagging is a very big feature of Stack Exchange, and immensely valuable for the SE regulars, should we be spending more time re-tagging questions and creating tags?</p>


<h1>ANSWERS</h1>
		<p>I am agree with you, because these days we have many new members and some of them didn't familiar with any  other of SE sites so they just put one tag for their question. if other users can help to edit tag the site become more useful and clear.</p>


<p>It's sort of a myth that every question has to have tons of tags. </p>

<p>In the early days of SO, we allowed lots of tags and people went a little crazy -- tagging things with 10 - 20 words of almost random stuff.</p>

<p><em>Do not add takes for the sake of doing so</em>; only add tags that are clearly relevant to the question and would help with categorization.</p>

<p>It is perfectly fine for a question to have 2 tags, for example.</p>


	</body>
</html>