<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Show "Linked section" on the right side above "Related"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1749" class = "post">
			<h2>Question</h2>
			<div id="vote-1749" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 26</p>
			</div>
				<h2>Show "Linked section" on the right side above "Related"</h2>
<p>Stackoverflow, Stackoverflow meta and other StackExchange sites have "Linked section" on the right side above "Related".</p>

<p>However it seems not visible on apple.stackexchange.com. E.g. <a href="https://apple.stackexchange.com/questions/95761/how-to-convert-from-evernote-rich-text-to-markdown-on-ipad">How to convert from evernote rich text to markdown on IPad?</a> has a link to <a href="https://apple.stackexchange.com/questions/13283/is-it-possible-to-copy-rich-text-formatting-on-iphone">Is it possible to copy &#39;rich text&#39; formatting on iPhone?</a>, but no "Linked section".</p>

<p>Don't be different, please show it.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1749">Load Comments</button></br>
			<div id = "commentsection-1749" class = 'collapse'>
			<div id = "comment-3280" class = "comment">
				<p>I don't think we're different. I see a Linked Section in my view of that question you linked to. See: [Imgur](http://i.imgur.com/jho6rKI)</p>
			</div>
			<div id = "comment-3281" class = "comment">
				<p>@IanC, I can see it now, but it wasn't visible  10 minutes later after the question was submitted. It seems that   delay in populating "linked" section is essential</p>
			</div>
			</div>
				<textarea id = "speech-1749" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1749">
					<img id="start_img-1749" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1750"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1750" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The code that detects and draws the linked section executes a bit after a post is submitted, so you may not see that field immediately upon posting a new question or submitting an edit to a question/answer. </p>

<p>The posts you have indicated all have a linked section at present, so perhaps you had a cached copy of those pages or viewed them before the code to assemble the links had been triggered or had finished executing?</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1750" class = 'collapse'>
			</div>
				<textarea id = "speech-1750" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1750">
					<img id="start_img-1750" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>