<html>
	<head>
		<title id = 'pagetitle'>Show "Linked section" on the right side above "Related"
		</title>
	<head>
	<body id = 'pagebody'><p>Stackoverflow, Stackoverflow meta and other StackExchange sites have "Linked section" on the right side above "Related".</p>

<p>However it seems not visible on apple.stackexchange.com. E.g. <a href="https://apple.stackexchange.com/questions/95761/how-to-convert-from-evernote-rich-text-to-markdown-on-ipad">How to convert from evernote rich text to markdown on IPad?</a> has a link to <a href="https://apple.stackexchange.com/questions/13283/is-it-possible-to-copy-rich-text-formatting-on-iphone">Is it possible to copy &#39;rich text&#39; formatting on iPhone?</a>, but no "Linked section".</p>

<p>Don't be different, please show it.</p>


<h1>ANSWERS</h1>
		<p>The code that detects and draws the linked section executes a bit after a post is submitted, so you may not see that field immediately upon posting a new question or submitting an edit to a question/answer. </p>

<p>The posts you have indicated all have a linked section at present, so perhaps you had a cached copy of those pages or viewed them before the code to assemble the links had been triggered or had finished executing?</p>


	</body>
</html>