<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Show "Linked section" on the right side above "Related"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1749" class = "post">
			<h2>Question</h2>
			<h3>Score ::-2</h3>
			<h3>Views ::26</h3>
				<h2>Show "Linked section" on the right side above "Related"</h2>
<p>Stackoverflow, Stackoverflow meta and other StackExchange sites have "Linked section" on the right side above "Related".</p>

<p>However it seems not visible on apple.stackexchange.com. E.g. <a href="https://apple.stackexchange.com/questions/95761/how-to-convert-from-evernote-rich-text-to-markdown-on-ipad">How to convert from evernote rich text to markdown on IPad?</a> has a link to <a href="https://apple.stackexchange.com/questions/13283/is-it-possible-to-copy-rich-text-formatting-on-iphone">Is it possible to copy &#39;rich text&#39; formatting on iPhone?</a>, but no "Linked section".</p>

<p>Don't be different, please show it.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3280" class = "post">
				<p>I don't think we're different. I see a Linked Section in my view of that question you linked to. See: [Imgur](http://i.imgur.com/jho6rKI)</p>
			</div>
			<div id = "comment-3281" class = "post">
				<p>@IanC, I can see it now, but it wasn't visible  10 minutes later after the question was submitted. It seems that   delay in populating "linked" section is essential</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1750"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The code that detects and draws the linked section executes a bit after a post is submitted, so you may not see that field immediately upon posting a new question or submitting an edit to a question/answer. </p>

<p>The posts you have indicated all have a linked section at present, so perhaps you had a cached copy of those pages or viewed them before the code to assemble the links had been triggered or had finished executing?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>