<html>
	<head>
		<title id = 'pagetitle'>Similar Group like "Android Enthusiasts" for Objective-C in Stack Overflow
		</title>
	<head>
	<body id = 'pagebody'><p>I'm an iOS developer and I used to pass a lot of time on <a href="https://stackoverflow.com/">Stack Overflow</a>. Recently I have seen a Stack Exchange site called <a href="https://android.stackexchange.com/">Android Enthusiasts</a> and it seems to me that it's only for "Android Developers" as their community. So I am just wondering </p>

<p><strong>Is there any Group like that (Android Enthusiasts) only for iOS developers who write code in Objective-C?</strong></p>

<p>I also notice that when an Android developer of Stack Overflow signs in that group, he/she suddenly gets 100 bonus reputation in Stack Overflow as an Association bonus. I also got a similar 100 association bonus earlier when signing in to Stack Exchange. Now my question is:</p>

<p><strong>How many "Associate Group" exist around there and from where can I get an association bonus in my Stack Overflow account just like two of these?</strong></p>


<h1>ANSWERS</h1>
		<p>First to note StackExchange works by everyone uses the same rules - so down vote is the only way to show that a question or answer is not good. This question is better asked on a meta site which talks about how StackExchange works (This question will probably me moved to AskDifferent's <a href="http://meta.apple.stackexchange.com">meta</a> site). On these sites a down vote means that a person disagrees with the question. All information is public and direct conversation to a user is not supported.</p>

<p>Android Enthusiasts is not for Android developers from the site's <a href="https://android.stackexchange.com/help/on-topic">help centre</a> </p>

<blockquote>
  <p>Android Enthusiasts Stack Exchange is for enthusiasts, power users, and regular people who use the Android operating system.</p>
</blockquote>

<p>Development code issues are off topic it seems and should ono be on <a href="http://stackoverflow.com">StackOverflow</a> (there is a heavily used android tag)</p>

<p>For iOS devices this site AskDifferent is the equivalent to Android Enthusiasts although we also cover other Apple devices and software. Like the Android site development and especially Objective C issues are off topic here and should be asked on <a href="http://stackoverflow.com">StackOverflow</a></p>

<p>To see what sites Stack Exchange has either look at the bottom of every page or the drop down box at the top left found by clicking on Stack Exchange there.</p>


<p>Welcome to the site!  I'll try to answer your questions.</p>

<p>OK, you have a little misunderstanding about the nature of Stack Exchange sites.  Stack Overflow was the first and original site, and then Stack Exchange was setup to create further sites along different topics.  These days there are SE sites for everything from coding to parenting via philosophy and bicycling.  You can see a <a href="http://stackexchange.com/sites">full list here</a>.</p>

<p>We don't have <em>groups</em>, as such, but each sub-site (usually called sitename.stackexchange.com e.g. apple.stackexchange.com but sometimes with their own redirecting URL such as askdifferent.com for our site etc) is essentially a wholly seperate entity, with their own topics and their own rules for what is on-topic etc.  Clearly asking about nappies on a Ubuntu site is not appropriate! ;)</p>

<p>What can link them, is you - your user account can be linked to many such sites, you have a profile on each site, and nominate one (usually your first) to be your <em>parent profile</em> under which all others are linked.</p>

<p>When you do this, if your reputation score on one SE site is sufficient, you can a 100 <em>association bonus</em>, the purpose of this is to remove the early privilege limitations whereby you need to earn reputation in order to do more than the basics - as the message says when you are awarded the bonus, you are trusted to know how to use an SE site, and don't need to prove that again.  The reputation is added to the profile in the site you just joined, purely to remove the new user restrictions - you can't add it to your rep from another site.  Overall, it is calculated in your total rep across all sites, but you cannot, for example, join 50 sites and get a 5000 bonus on your primary profile...</p>

<p>Now, as for Objective-C programming, the main coding site is still Stack Overflow.  There is an Apple group, as you have found, but programming in anything other than user facing utilities like Automator, AppleScript, and a bit of Terminal is off topic here.  Likewise, a similar restriction applies to the Android site.</p>

<p>The Stack Overflow site is the primary source for all programming questions, regardless of your platform or language of choice.  You can filter by tags to ensure you only see questions which are appropriately tagged with Objective-C or Xcode etc, but they are still all included in the same site.</p>


	</body>
</html>