<html>
	<head>
		<title id = 'pagetitle'>Since future-tech is offtopic, but Siri is a hot topic, is it on topic or off?
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/825/announced-but-not-yet-released-products">Announced but not yet released products</a>  </p>
</blockquote>



<p>Simple enough, yet nuanced. Since future-tech is off-topic, but Siri is a hot topic, is it on-topic or off?</p>

<p>Here's my reasons why it is on-topic:</p>

<ul>
<li>This is going to be asked in the near future as people are ready for the launch of 4S. </li>
<li>The web (or this site) needs a good canonical answer.</li>
<li>It may drive traffic here.</li>
<li>It will be asked again (so says my experience).</li>
</ul>

<p>So, even though the 4S and iOS 5 isn't here yet, is asking what Siri is and how do you pronounce it, etc., on-topic?</p>


<h1>ANSWERS</h1>
		<p>Since the software and the phones are announced and will be shipping next week, it's OK for people to start asking questions about them.</p>


	</body>
</html>