<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Since future-tech is offtopic, but Siri is a hot topic, is it on topic or off?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-828" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::51</h3>
				<h2>Since future-tech is offtopic, but Siri is a hot topic, is it on topic or off?</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/825/announced-but-not-yet-released-products">Announced but not yet released products</a>  </p>
</blockquote>



<p>Simple enough, yet nuanced. Since future-tech is off-topic, but Siri is a hot topic, is it on-topic or off?</p>

<p>Here's my reasons why it is on-topic:</p>

<ul>
<li>This is going to be asked in the near future as people are ready for the launch of 4S. </li>
<li>The web (or this site) needs a good canonical answer.</li>
<li>It may drive traffic here.</li>
<li>It will be asked again (so says my experience).</li>
</ul>

<p>So, even though the 4S and iOS 5 isn't here yet, is asking what Siri is and how do you pronounce it, etc., on-topic?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-829"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Since the software and the phones are announced and will be shipping next week, it's OK for people to start asking questions about them.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>