<html>
	<head>
		<title id = 'pagetitle'>Site traffic -> new users -> an influx of invalid spam flags
		</title>
	<head>
	<body id = 'pagebody'><p>I just wanted to post this as a featured item to let everyone know that we have a lot more traffic than normal which means a lot of new users.</p>

<p>I want to thank everyone who is adding constructive comments and downvotes to the inevitable influx of poor quality posts.</p>

<p>I would encourage people to avoid using spam flags for posts that have zero constructive comments, zero down votes and are not actually commercial promotions or offensive speech.</p>

<p>Furthermore, we're declining more than the usual flags for the <strong>not an answer</strong> reason when the post is clearly an attempt to answer (it's not a me too, or an entirely new question) and it's in some way not the answer an expert might give or it even is a totally wrong answer.</p>

<p>Please try to be patient with new users. Assume they are here to learn and contrite and perhaps use the other flag to explain precisely what you feel is harmful to the site by leaving the post up. We can mark those flags as helpful much easier than if we ding a new account for spam just because they posted a wrong answer. Also, it saves the system from de-prioritizing your future flags since an accumulation of several declined flags puts your input at the bottom of the list.</p>

<p>The majority of the flags are awesome and the vast majority merited some flag - just that severe flags are being used for trivial posts that a simple edit or a helpful comment and some patience will clear up.</p>


<h1>ANSWERS</h1>
		<p><strong>42</strong></p>

<p><sub>(unanswered questions get bumped back to the top later when we least expect it, so to prevent this from happening, I've posted an "answer" to this "question." The question is indeed a timely reminder and a useful use of the <a href="https://apple.stackexchange.com/questions/tagged/featured" class="post-tag" title="show questions tagged &#39;featured&#39;" rel="tag">featured</a> tag. Besides, you can't go wrong with the answer 42.)</sub></p>


	</body>
</html>