<html>
	<head>
		<title id = 'pagetitle'>Site design update
		</title>
	<head>
	<body id = 'pagebody'><p>As you can see, Ask Different community site got a slight design update today. I have moved site's CSS to a newly refactor LESS system, so it's easier for us to fix SE network CSS bugs globally going on forward. Also I've updated site's logo and icons to SVG for retina support. Visually it should "feel" the same as the old site, but with updated Apple aesthetics(yes, I did flatten all the things). I have retired Lucida Sans for Helvetica.</p>

<p>This update should retro-actively fix most of the old CSS bugs. If you see any new ones, or old ones not being fixed, please let me know!</p>

<p>P.S. I can't believe it's been over 4 years since AD launched. Here's the <a href="https://i.imgur.com/H9Q9b7V.png" rel="nofollow noreferrer">original design</a> when the site first launched.</p>


<h1>ANSWERS</h1>
		<p>@mark </p>

<p>create a user style sheet with for example:</p>

<pre><code>tr.comment&gt;td {

    font: 16px Lucida Sans !important; 

}
</code></pre>

<p>---------- Or</p>

<pre><code>tr.comment&gt;td {

    font: 15px Helvetica !important; 

}
</code></pre>

<p>Save the file ( plain text) it as  stackComments.css</p>

<p>And then in the Safari preferences -> Advanced: </p>

<p>Use the <strong>style sheet</strong> drop down option 'other' to navigate and select your style sheet.</p>

<p>This should change the font size and font to whatever you set it to.</p>


<p>The newsletter ad looks a bit outdated now.</p>

<p><img src="https://i.stack.imgur.com/PlUER.jpg" alt="full ad"></p>

<p><img src="https://i.stack.imgur.com/fLjGn.jpg" alt="The image at time of posting"></p>

<p><a href="http://cdn.sstatic.net/apple/img/newsletter-ad.png" rel="nofollow noreferrer">http://cdn.sstatic.net/apple/img/newsletter-ad.png</a></p>


<p>Have to say - I didn't like the new font at all to start with.</p>

<p>Couple of weeks go by &amp; now all the other SE sites actually look a bit fat &amp; bold by comparison.</p>

<p>Nice job - seeing further than I did initially ;-)</p>


<p>Jin - please see if the line spacing can be harmonized on this post (and those like it). I think the edit icon introduced a gap in the last line.</p>

<p><a href="https://apple.stackexchange.com/a/180232/5472">https://apple.stackexchange.com/a/180232/5472</a></p>

<p><img src="https://i.stack.imgur.com/ddnZM.png" alt="enter image description here"></p>

<p>Safari Version 8.0.5 (10600.5.17) - Retina MBP in closed clamshell mode to cinema display (non retina / non big-k)</p>


	</body>
</html>