<html>
	<head>
		<title id = 'pagetitle'>Site works slowly since official launch
		</title>
	<head>
	<body id = 'pagebody'><p>I am not sure if this only happened to me or if anyone else has the same problem, but after the official launch of Ask Different this website has become very slow for me. For example, while scrolling up and down, instead of a continuous loading of the page it is more like frame by frame. And when typing, the characters do not show up as fast as I type.</p>

<p>I'm on Mac OS X 10.6.6, and use firefox 3.6.10. Also, I have a macbook-pro 2010 13" with 4GB 1067MHz DDR3 RAM, and a 2.53 GHz Intel Core 2 Duo.</p>


<h1>ANSWERS</h1>
		<p>If it works OK in Chrome and not Firefox then it points at the browser probably unless this was a widespread issue but so far you seem to be the only person complaining.  I suppose there are a lot of variables but you could try disabling any addons in Firefox temporarily to see if that's the cause and if not then you could submit a bug report to the <a href="https://bugzilla.mozilla.org/" rel="nofollow">Mozilla project</a></p>


<p>I can't repro this. But I've had performance issues with Firefox sometimes, not just with our site. I believe FF has a memory issue, if I have many tabs open and leave them on for a while, all sites I visit become so slow. </p>

<p>Can you check how much memory FF is using in Activity Monitor when you experience performance issue? I've found that sometimes FF can take up gigs of memory. That's why for personal use I have switched to Chrome. I only use FF for development.</p>


<p>The "Lion" redesign removed a lot of the weirder CSS3 on this site; see if that helps!</p>


	</body>
</html>