<html>
	<head>
		<title id = 'pagetitle'>So  how are we doing?
		</title>
	<head>
	<body id = 'pagebody'><p>I realized we re very close to be  evaluated  (when I say  we  I mean all of us, writers/readers/users/moderators/curious/Etc.)</p>

<p>What did we do right/wrong so far? What can we do to make it better (or worse?) </p>


<h1>ANSWERS</h1>
		<p>If you want the site to do better: ask more question!</p>

<p>Specifically, ask more questions you mom would have when using a Mac or somebody coming from Windows, as they are likely to have lots of questions!</p>

<p>But anyway, questions are the life blood of any site, without there's nothing to answer and you can't get a group of avid users. So ask away, I would say!</p>


<p>we need more active user to answer difficult question we have some question with no answer or even with no comment. and I think if superuser's pro come to this site this problem will be solved.</p>


<p>I don't own a Mac, but I do own an iPhone. </p>

<p>Frankly, I dislike that my iPhone questions get drowned in so much Mac "noise". I preferred to have iPhone questions in the now-closed "gadgets" site because it made so much more sense to discuss smartphones in one place (there) and computers in another (here), but the decision was made. Smartphone questions are also being posted on SuperUser but only some of them are closed by the moderators - this inconsistency disturbs me.</p>

<p>Given that this Mac site exists, I also dislike that there are so many Mac questions over at SuperUser. Those aren't getting closed. That's another inconsistency that disturbs me. </p>

<p>Things are too muddy this way.</p>


<p>iOS and Mac OS are pretty different.  I find this community far superior to the other ones online, simply because of the lack of reverence for the platform.  I get good data here, as if Apple made tools, albeit damn good ones, as opposed to being gifts from on high.  IPhones might have a lot of questions, but there are far fewer answers, since you are to use them "in ignorance, by sufferance".   I think it's good data. and moreover, if ubuntu has it's own stackexchange, then so should Apple.  More of a need in fact, this is a closed source unix variant.  You'd think you could just ask, but... taking a look at the lost souls howling their questions into the icy void on the apple forums, with threads marked "closed but no solution"...  There is a future here. </p>

<p>What happens if this gets shut down?  Can we have our answers?  </p>


<p>One of the issues I have with the Q&amp;A so far is how much conjecture is thrown around.  Look at how many Answers start with phrases like "I think",  "I would think",  "I would guess" on Questions that are clearly not subjective.  How do you motivate people to include references or actual data in their Answers?  </p>


	</body>
</html>