<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Social media presence
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Social media presence</h2>
<p>In order to increase the visibility of our site, we may want to start a social media presence. There is now an official <strong><a href="http://twitter.com/#!/StackApple" rel="nofollow">Twitter feed</a></strong> for questions that people can follow and retweet. I've also set up a <strong><a href="http://www.facebook.com/pages/Apple-Stack-Exchange/154758227909964" rel="nofollow">Facebook page</a></strong> for people being able to 'like' the site and share with their friends.</p>

<p>Are there others that would be useful?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>FYI, we are instituting standard Twitter feeds for all (public) sites; this feed will auto-populate with an interesting question from the site every ~3 hours.</p>

<p><s>This will be announced next week on the blog with more details so stay tuned</s></p>

<p><a href="http://blog.stackoverflow.com/2011/01/twitter-question-feeds-for-stack-exchange/" rel="nofollow">http://blog.stackoverflow.com/2011/01/twitter-question-feeds-for-stack-exchange/</a></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This list on wikipedia might be of help to you: <a href="http://en.wikipedia.org/wiki/List_of_social_networking_websites" rel="nofollow">http://en.wikipedia.org/wiki/List_of_social_networking_websites</a></p>

<p>Personally I think integration with LinkedIn might be helpful as well - it's nice to let others know that we are sharing our knowledge, and a lot of the people I'm networked with there know a lot about these kind of topics.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>