<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Social media presence
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-248" class = "post">
			<h2>Question</h2>
			<div id="vote-248" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 101</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Social media presence</h2>
<p>In order to increase the visibility of our site, we may want to start a social media presence. There is now an official <strong><a href="http://twitter.com/#!/StackApple" rel="nofollow">Twitter feed</a></strong> for questions that people can follow and retweet. I've also set up a <strong><a href="http://www.facebook.com/pages/Apple-Stack-Exchange/154758227909964" rel="nofollow">Facebook page</a></strong> for people being able to 'like' the site and share with their friends.</p>

<p>Are there others that would be useful?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-248">Load Comments</button></br>
			<div id = "commentsection-248" class = 'collapse'>
			<div id = "comment-477" class = "comment">
				<p>@kylecronin: great idea, but who would administer these feeds/pages?</p>
			</div>
			<div id = "comment-478" class = "comment">
				<p>@calavera I was thinking the moderators would do it, though they'd probably have to be owned by SO, Inc</p>
			</div>
			<div id = "comment-485" class = "comment">
				<p>@Dori That's what I was planning on. Any suggestions on the best way to set it up?</p>
			</div>
			<div id = "comment-487" class = "comment">
				<p>@Dori Thanks, I've set one up [here](http://twitter.com/#!/AppleStackExchg). Looks like it's working OK. Hopefully we can get control over @askdifferent somehow...</p>
			</div>
			</div>
				<textarea id = "speech-248" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-248">
					<img id="start_img-248" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-248">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-250"  class = "post">
				<h2>Answer</h2>
			<div id="vote-250" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>FYI, we are instituting standard Twitter feeds for all (public) sites; this feed will auto-populate with an interesting question from the site every ~3 hours.</p>

<p><s>This will be announced next week on the blog with more details so stay tuned</s></p>

<p><a href="http://blog.stackoverflow.com/2011/01/twitter-question-feeds-for-stack-exchange/" rel="nofollow">http://blog.stackoverflow.com/2011/01/twitter-question-feeds-for-stack-exchange/</a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-250">Load Comments</button></br>
			<div id = "commentsection-250" class = 'collapse'>
			<div id = "comment-494" class = "comment">
				<p>Looks like I jumped the gun a bit then :) - did you grab @askdifferent?</p>
			</div>
			<div id = "comment-532" class = "comment">
				<p>out of curiosity and without attempting to make you release your super-secret-top-valuable-encrypted algorithm, what constitutes an "interesting question" ?</p>
			</div>
			<div id = "comment-533" class = "comment">
				<p>@martin it's similar to the http://stackexchange.com hot questions algorithm.. no real secret there .. see also http://meta.stackexchange.com/questions/11602/what-formula-should-be-used-to-determine-hot-questions</p>
			</div>
			</div>
				<textarea id = "speech-250" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-250">
					<img id="start_img-250" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-250">Comment</button>
			<br><div id = "ans-265"  class = "post">
				<h2>Answer</h2>
			<div id="vote-265" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This list on wikipedia might be of help to you: <a href="http://en.wikipedia.org/wiki/List_of_social_networking_websites" rel="nofollow">http://en.wikipedia.org/wiki/List_of_social_networking_websites</a></p>

<p>Personally I think integration with LinkedIn might be helpful as well - it's nice to let others know that we are sharing our knowledge, and a lot of the people I'm networked with there know a lot about these kind of topics.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-265" class = 'collapse'>
			</div>
				<textarea id = "speech-265" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-265">
					<img id="start_img-265" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-265">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>