<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Software vs. Applications
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-72" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::61</h3>
				<h2>Software vs. Applications</h2>
<p>We have two tags that barely express the same thing : </p>

<ul>
<li><code>Software</code></li>
<li><code>Applications</code></li>
</ul>

<p>I try to merge most of <code>Applications</code> into <code>Software</code>, but for the last two, I ran into some troubles.</p>

<p>These last two posts concern <a href="https://apple.stackexchange.com/questions/tagged/applications">iOS applications</a> and I can't really retag them to <code>software</code>.</p>

<ol>
<li>Do we keep the <code>applications</code> tag for iOS applications ?</li>
<li>Do we merge <code>applications</code> into <code>software</code> ?</li>
<li>Do we create a special tag for iOS applications ?</li>
</ol>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-72">Record</button>
				<button class="record-stop" id="stop-72">Stop</button>
				<p id="recording-72"></p>

<h1>Answers</h1>
			<br><div id = "ans-74"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Technically, I see Applications as a subset of Software, but that distinction is probably lost on most people.</p>

<p>While I am all for consistency, I wonder how useful these tags are. Most questions are going to be about either software or hardware. I think software-recommendation is a more meaningful tag.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-121" class = "comment">
				<p>That's why I removed `software` where `software-recommendation` was already in place.</p>
			</div>
			<div id = "comment-125" class = "comment">
				<p>agreed Studer, I did the same thing when I first added all the software-recommendation tags.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-74">Record</button>
				<button class="record-stop" id="stop-74">Stop</button>
				<p id="recording-74"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>