<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Software tag vs. hardware tag
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Software tag vs. hardware tag</h2>
<p>Some questions on Ask Different have a tag like <a href="https://apple.stackexchange.com/questions/tagged/iphone" class="post-tag" title="show questions tagged &#39;iphone&#39;" rel="tag">iphone</a>, when they are talking about the software used on it, <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a>.</p>

<p>Should we comment to tell users about this, or just edit it?</p>

<p>Here are some more examples of having both hardware and software tags:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/ipad" class="post-tag" title="show questions tagged &#39;ipad&#39;" rel="tag">ipad</a> and <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ipod-touch" class="post-tag" title="show questions tagged &#39;ipod-touch&#39;" rel="tag">ipod-touch</a> and <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/apple-watch" class="post-tag" title="show questions tagged &#39;apple-watch&#39;" rel="tag">apple-watch</a> and <a href="https://apple.stackexchange.com/questions/tagged/watchos" class="post-tag" title="show questions tagged &#39;watchos&#39;" rel="tag">watchos</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/appletv" class="post-tag" title="show questions tagged &#39;appletv&#39;" rel="tag">appletv</a> and <a href="https://apple.stackexchange.com/questions/tagged/tvos" class="post-tag" title="show questions tagged &#39;tvos&#39;" rel="tag">tvos</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/macbook" class="post-tag" title="show questions tagged &#39;macbook&#39;" rel="tag">macbook</a> and <a href="https://apple.stackexchange.com/questions/tagged/os-x" class="post-tag" title="show questions tagged &#39;os-x&#39;" rel="tag">os-x</a></li>
</ul>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The main issues here are that</p>

<ul>
<li>the tag descriptions don't give enough guidance (if any at all) on how a tag should be used</li>
<li>most users don't really make a difference between the device (hardware) and the OS (software) ("I have a problem with my iPhone, not with iOS")</li>
</ul>

<p>Unless you want to update all the relevant tag descriptions, update hundreds of questions and <em>keep monitoring the site to ensure that new users use the proper tag</em> I don't see how this is going to change. To be honest, I also don't see why this would be necessary as the current use of the tags more or less reflects what people are talking about if they have problems with their devices.</p>

<p>Also, from the tag description of <a href="https://apple.stackexchange.com/questions/tagged/iphone" class="post-tag" title="show questions tagged &#39;iphone&#39;" rel="tag">iphone</a>:</p>

<blockquote>
  <p>iPhone is Apple's smartphone line. This tag can include questions about hardware, software and accessories.</p>
</blockquote>

<p>so at least in this case, using <a href="https://apple.stackexchange.com/questions/tagged/iphone" class="post-tag" title="show questions tagged &#39;iphone&#39;" rel="tag">iphone</a> for software problems is ok. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>