<html>
	<head>
		<title id = 'pagetitle'>Software vs. Applications
		</title>
	<head>
	<body id = 'pagebody'><p>We have two tags that barely express the same thing : </p>

<ul>
<li><code>Software</code></li>
<li><code>Applications</code></li>
</ul>

<p>I try to merge most of <code>Applications</code> into <code>Software</code>, but for the last two, I ran into some troubles.</p>

<p>These last two posts concern <a href="https://apple.stackexchange.com/questions/tagged/applications">iOS applications</a> and I can't really retag them to <code>software</code>.</p>

<ol>
<li>Do we keep the <code>applications</code> tag for iOS applications ?</li>
<li>Do we merge <code>applications</code> into <code>software</code> ?</li>
<li>Do we create a special tag for iOS applications ?</li>
</ol>


<h1>ANSWERS</h1>
		<p>Technically, I see Applications as a subset of Software, but that distinction is probably lost on most people.</p>

<p>While I am all for consistency, I wonder how useful these tags are. Most questions are going to be about either software or hardware. I think software-recommendation is a more meaningful tag.</p>


	</body>
</html>