<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Somewhat inappropriate|distasteful user name - what can be done?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2343" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::65</h3>
				<h2>Somewhat inappropriate|distasteful user name - what can be done?</h2>
<p>Although I'm pretty liberal about most things, a new user, <a href="https://apple.stackexchange.com/users/111822/rectumrectifier">rectumrectifier</a>, has a name which is a little childish, if not mildly pornographic.</p>

<p>How is this approached by the admins on AskDifferent? Is there a standard for usernames?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4393" class = "comment">
				<p>see this Meta Stack Exchange question http://meta.stackexchange.com/questions/1323/flag-abusive-users</p>
			</div>
			<div id = "comment-4394" class = "comment">
				<p>Maybe the questions and answers of this user matter rather than the user name. What would it be if you were not pretty liberal about most things?</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2344"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>If you find that something about a user is offensive or inappropriate outside of any particular post, flag any post from that user with a custom flag.</p>

<p>There is more leeway with what is allowed in the <a href="https://stackoverflow.com/users/52443/welbog">About Me section</a> of a user's profile as this requires a click-through, however avatars and names are subject to removal if deemed inappropriate.</p>

<p><sup>Related on Meta.SE: <a href="https://meta.stackexchange.com/questions/147519/inappropriate-username-and-or-gravatars">Inappropriate username and/or gravatars.</a></sup></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>