<html>
	<head>
		<title id = 'pagetitle'>Some links on meta fade away on mouseover
		</title>
	<head>
	<body id = 'pagebody'><p>Links in the "X people chatting" box and related questions section fade away to an obscure color on mouseover, as if they don't want to be clicked.</p>

<p><img src="https://img.skitch.com/20110928-cqmj4mmy92ck5hgbjk5eqj7cw5.png" /></p>

<p><img src="https://img.skitch.com/20110928-fjb49b2cxf3bm38shk851dja5i.png" /></p>

<p>Perhaps a leftover from <a href="https://apple.meta.stackexchange.com/questions/460/some-design-changes">the old 2-tone background design</a>?</p>

<p>I'm on Google Chrome 14.0 / Safari 5.1, Mac OS X 10.7.1.</p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>