<html>
	<head>
		<title id = 'pagetitle'>Some questions' titles not shown (Safari only)
		</title>
	<head>
	<body id = 'pagebody'><p>Sometimes I see a question that, when seen from the homepage, appears to have no title. You can still click its box and go to the question's page, where the title is visible.</p>

<p>In the below screencap, the effected question is #11664.</p>

<p>This isn't a problem from Chrome, but it is from WebKit nightly builds and Safari.</p>

<p><img src="https://i.stack.imgur.com/14dLx.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
			</body>
</html>