<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Some links on meta fade away on mouseover
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-818" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::49</h3>
				<h2>Some links on meta fade away on mouseover</h2>
<p>Links in the "X people chatting" box and related questions section fade away to an obscure color on mouseover, as if they don't want to be clicked.</p>

<p><img src="https://img.skitch.com/20110928-cqmj4mmy92ck5hgbjk5eqj7cw5.png" /></p>

<p><img src="https://img.skitch.com/20110928-fjb49b2cxf3bm38shk851dja5i.png" /></p>

<p>Perhaps a leftover from <a href="https://apple.meta.stackexchange.com/questions/460/some-design-changes">the old 2-tone background design</a>?</p>

<p>I'm on Google Chrome 14.0 / Safari 5.1, Mac OS X 10.7.1.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-820"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The fix will be in the next deployment.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1513" class = "post">
				<p>Hooray for the next deployment! The animation effect is awesome, just expecting it to go the other way in terms of contrast.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>