<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Some design changes
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-460" class = "post">
			<h2>Question</h2>
			<div id="vote-460" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 162</p>
			</div>
				<h2>Some design changes</h2>
<p>Hi all, as you might have noticed, I made some design tweaks to the site.</p>

<p>Here's the before and after comparison.</p>

<p><img src="https://i.stack.imgur.com/TP9iH.png" alt="Design changes"></p>

<p>The most obvious change is the removal of the 2-tone dark background colors. The other changes are minor, mostly text and link colors changes to go with the new lighter background color.</p>

<p>There are a few reasons why I made the design changes:</p>

<p>1) The old 2-tone background design was pretty painful to implement in CSS. I had to write a lot more extra CSS hacks to get the pages to look right. Even then, some pages still didn't look nice because of the HTML structure. The old design caused the CSS file to be very bloated and hard to maintain, also it's not easily adaptable for new site features/pages in the future.</p>

<p>2) In the old design I used quite a bit of CSS3 elements for the parent container, this caused some browser performance issues(namely scrolling smoothness in Firefox and Safari).</p>

<p><img src="https://i.stack.imgur.com/Deegp.png" alt="OSX Lion UI inspirations"></p>

<p>3) The old design was inspired by iOS Apps look. After the site launched, I felt the dark backgrounds made the site a bit too boxy. Dark trims work on an iOS device because screen size is fixed. I've been looking at the new OSX Lion UI elements and I think they're better fitted for a web site design. </p>

<p>Of course, the new changes may have produced a few newer glitches. Mostly likely text colors. Please let me know if you see any(start a new post please). </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-460">Load Comments</button></br>
			<div id = "commentsection-460" class = 'collapse'>
			<div id = "comment-864" class = "comment">
				<p>Love. It.

Hope it's not an April that will disappear tomorrow ;)</p>
			</div>
			<div id = "comment-865" class = "comment">
				<p>@Lo c I promise you it's not an April Fools Day joke! I love doing CSS, but not THAT much.</p>
			</div>
			<div id = "comment-866" class = "comment">
				<p>Beautiful. And faster, I think. Sweet. Thanks so much for continuing to put so much work into the site, @Jin.</p>
			</div>
			<div id = "comment-867" class = "comment">
				<p>Jin, absolutely gorgeous. Great ideas, thanks for the update! If I could donate rep I would.</p>
			</div>
			<div id = "comment-869" class = "comment">
				<p>Nice work man I have scrolling smoothness problem with last CSS3 design but now the problem was solved :D</p>
			</div>
			</div>
				<textarea id = "speech-460" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-460">
					<img id="start_img-460" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-462"  class = "post">
				<h2>Answer</h2>
			<div id="vote-462" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally I really like it! Its much more..delicate :)</p>

<p>The background color though, it feels a little bit washed-up..</p>

<p>I'm referring to the color of the #content, which it would be better if it was a little bit darker..</p>

<p>A #ebebeb or even a #dedede it would make more contrast, so the question rows would be more easily distinguishable.</p>

<p>More specifically it would help the distinction of the first question row, where there is no top border so it feels like being one element.</p>

<p>I'm not sure if this suggestion should be an answer or a comment though!</p>

<p>Please advise and thank you for listening :)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-462" class = 'collapse'>
			</div>
				<textarea id = "speech-462" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-462">
					<img id="start_img-462" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-464"  class = "post">
				<h2>Answer</h2>
			<div id="vote-464" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Buttons are inconsistent.</p>

<p>Now, answering this question, one answer exists. I can sort answers by "Active", "Oldest", or "Votes". The selected button appears slightly more active, and the deselected a bit inactive, which makes sense, but this is secondary to the primary visual which is that the selected button pops out, and the unselected buttons are pressed in. This is counter-intuitive. The selected button is usually pressed in.</p>

<p>Again, on the main page, "Questions, Tags, Users, Badges..." has the active button pressed in, but just below that "Newest, Featured, FAQ, Votes..." buttons are the opposite. The selected button looks popped out.</p>

<p>In short: I'm confused which UI elements are selected and which are not.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-464">Load Comments</button></br>
			<div id = "commentsection-464" class = 'collapse'>
			<div id = "comment-871" class = "comment">
				<p>When you have 3 options, and one of them stands out, and they are mutually exclusive options, logic stands to reason that the one that stands out is the active option.</p>
			</div>
			<div id = "comment-872" class = "comment">
				<p>@Mankoff then you're going to *love* Lion (sarcasm) ;)</p>
			</div>
			<div id = "comment-878" class = "comment">
				<p>@VxJ OK, out/in doesn't matter, but it should still be consistent.</p>
			</div>
			<div id = "comment-879" class = "comment">
				<p>Where isn't it consistent? (I'm not disagreeing with you, I just haven't noticed.)</p>
			</div>
			<div id = "comment-880" class = "comment">
				<p>"Questions, Tags, Users, Badges..." is Active when In. "Newest, Featured, FAQ, Votes..." is Active when Out. You have to be in list view, not viewing a specific question.</p>
			</div>
			<div id = "comment-881" class = "comment">
				<p>Actually, you can see it here too. Categories up top are indented, vs. comment ordering (active, oldest, votes) are bubbled. I see what you mean, but I still don't think this is really an issue. The "pages" items (Questions, Tags, Users) change where you are. Where the slider style (active, oldest, votes) only changes the order of the content. They're two entirely different "widgets", and they serve two entirely different purposes. Why should they look identical?</p>
			</div>
			<div id = "comment-882" class = "comment">
				<p>identical != consistent.</p>
			</div>
			</div>
				<textarea id = "speech-464" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-464">
					<img id="start_img-464" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>