<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Spam flagging of answer
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1647" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::111</h3>
				<h2>Spam flagging of answer</h2>
<p>I flagged an <a href="https://apple.stackexchange.com/questions/48210/what-options-exist-for-ad-free-web-browsing-on-ios/86184#86184">answer</a> as spam but it was rejected as not helpful.</p>

<p>The spam flag dialog says</p>

<blockquote>
  <p>This answer is effectively an advertisement with no disclosure. It is
  not useful or relevant, but promotional.</p>
</blockquote>

<p>How is this not "effectively an advertisement with no disclosure" the user has only answered the one question and from their profile, not in the question, the home page is for the application advertised?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1648"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I didn't handle that flag, but I agree with the result.</p>

<p>Here is the relevant <a href="https://apple.stackexchange.com/faq#promotion">FAQ</a> on promotion.</p>

<blockquote>
  <p>Post good, relevant answers, and if some (but not all) happen to be about your product or website, so be it. </p>
</blockquote>

<p>In this case, it's a single post and the user name clearly discloses that this is promotional. We will certainly monitor that account to ensure it isn't here to solely post promotional content. Everyone is free to down vote that item if they feel it's not relevant, but for my opinion - this seems like an appropriate promotion where the solution is exactly what the OP is asking for in a software recommendation.</p>

<p>Additionally, when a user posts their first answer ever on a site, it's to be understood that perhaps they haven't read all of the FAQ, let alone the promotional portion so we almost always gently point people to the FAQ until we have a pattern of promotion. With a pattern, other tools are brought to bear and in this case, it would be premature to assume all posts from that account will be solely promotional.</p>

<p>We very much appreciate the flags on spam - but sometimes it takes several posts to ensure we don't censor otherwise well meaning fans of a product of being here to promote one item or agenda.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3076" class = "comment">
				<p>Spam is something unwanted. Promoting a product unsolicited or when it is not desired. If a person makes software that accomplishes a goal you're inquiring about (figurative you), surely anyone can let you know what's out there, not just "normal *"unaffiated"* people"?</p>
			</div>
			<div id = "comment-3077" class = "comment">
				<p>This is even more true in this case where the website linked to isn't even a product, but just a site someone maintains that addresses the particular problem the OP asked about. Telling someone who asks a question "You could jailbreak and update your hosts file, but you'll need to keep changing it to stay on top of shifting patterns" is helpful, but saying that AND adding "and I've got a website where I post a current version of that hosts file" is even more helpful. Far from being spam, it's a good and selfless answer.</p>
			</div>
			<div id = "comment-3092" class = "comment">
				<p>@DanielLawson That user *should* explicitly disclose his/her affiliation with that site in the answer, though. (The username indicates it, but it is not explicitly stated as required by the [promotion policy](http://apple.stackexchange.com/faq#promotion)). I'm not sure why no one has asked them to do so (and then flagged the post if they don't after a couple of days). Maybe the rules are interpreted differently here than on some other SE sites?</p>
			</div>
			<div id = "comment-3094" class = "comment">
				<p>The promotion policy applies to products. This is a dynamically updated answer to the question. Saying "my answer is   but the details change periodically; if you go to http://url you'll find a site where someone keeps the current version of the answer to the question updates" is an awesome answer. If the poster is actually the person who does the work, sure, I'd love to see that explicitly stated, but I don't see "I'm going to answer your question here" as product promotion.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-1834"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I agree with you.  The answer does not comply with <a href="https://apple.stackexchange.com/help/behavior">the StackExchange policy on self-promotion</a>.  As the policy says:</p>

<blockquote>
  <p>Avoid overt self-promotion.</p>
  
  <p>The community tends to vote down overt self-promotion and flag it as spam. Post good, relevant answers, and if some (but not all) happen to be about your product or website, that s okay. However, you must disclose your affiliation in your answers.</p>
</blockquote>

<p>The answer you link to violates those guidelines.  It does not disclose the user's affiliation in the answer.  (If you go to the user's profile, you can discover the affiliation, but almost no one does that.).</p>

<p>In addition, I consider the answer borderline deceptive.  The answer states:</p>

<blockquote>
  <p>I use it and it really works like a charm.</p>
</blockquote>

<p>As a reader, I would interpret that to imply that the person who wrote that is an unaffiliated user of the product.  That just invites the reader to draw inferences that are inaccurate -- and the user who posted the answer should have known better.</p>

<p>I left a comment for the poster.  I'm also reflagging this answer, given how it violates site policies.  We'll see what happens.</p>

<hr>

<p>Update: The answer has now been edited to bring it into compliance with the site policy.  Therefore, I consider this issue to be fixed and to have a happy resolution.   Thank you for your patience and for bringing this to the attention of the community!</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>