<html>
	<head>
		<title id = 'pagetitle'>Spam flagging of answer
		</title>
	<head>
	<body id = 'pagebody'><p>I flagged an <a href="https://apple.stackexchange.com/questions/48210/what-options-exist-for-ad-free-web-browsing-on-ios/86184#86184">answer</a> as spam but it was rejected as not helpful.</p>

<p>The spam flag dialog says</p>

<blockquote>
  <p>This answer is effectively an advertisement with no disclosure. It is
  not useful or relevant, but promotional.</p>
</blockquote>

<p>How is this not "effectively an advertisement with no disclosure" the user has only answered the one question and from their profile, not in the question, the home page is for the application advertised?</p>


<h1>ANSWERS</h1>
		<p>I didn't handle that flag, but I agree with the result.</p>

<p>Here is the relevant <a href="https://apple.stackexchange.com/faq#promotion">FAQ</a> on promotion.</p>

<blockquote>
  <p>Post good, relevant answers, and if some (but not all) happen to be about your product or website, so be it. </p>
</blockquote>

<p>In this case, it's a single post and the user name clearly discloses that this is promotional. We will certainly monitor that account to ensure it isn't here to solely post promotional content. Everyone is free to down vote that item if they feel it's not relevant, but for my opinion - this seems like an appropriate promotion where the solution is exactly what the OP is asking for in a software recommendation.</p>

<p>Additionally, when a user posts their first answer ever on a site, it's to be understood that perhaps they haven't read all of the FAQ, let alone the promotional portion so we almost always gently point people to the FAQ until we have a pattern of promotion. With a pattern, other tools are brought to bear and in this case, it would be premature to assume all posts from that account will be solely promotional.</p>

<p>We very much appreciate the flags on spam - but sometimes it takes several posts to ensure we don't censor otherwise well meaning fans of a product of being here to promote one item or agenda.</p>


<p>I agree with you.  The answer does not comply with <a href="https://apple.stackexchange.com/help/behavior">the StackExchange policy on self-promotion</a>.  As the policy says:</p>

<blockquote>
  <p>Avoid overt self-promotion.</p>
  
  <p>The community tends to vote down overt self-promotion and flag it as spam. Post good, relevant answers, and if some (but not all) happen to be about your product or website, that s okay. However, you must disclose your affiliation in your answers.</p>
</blockquote>

<p>The answer you link to violates those guidelines.  It does not disclose the user's affiliation in the answer.  (If you go to the user's profile, you can discover the affiliation, but almost no one does that.).</p>

<p>In addition, I consider the answer borderline deceptive.  The answer states:</p>

<blockquote>
  <p>I use it and it really works like a charm.</p>
</blockquote>

<p>As a reader, I would interpret that to imply that the person who wrote that is an unaffiliated user of the product.  That just invites the reader to draw inferences that are inaccurate -- and the user who posted the answer should have known better.</p>

<p>I left a comment for the poster.  I'm also reflagging this answer, given how it violates site policies.  We'll see what happens.</p>

<hr>

<p>Update: The answer has now been edited to bring it into compliance with the site policy.  Therefore, I consider this issue to be fixed and to have a happy resolution.   Thank you for your patience and for bringing this to the attention of the community!</p>


	</body>
</html>