<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Stacked Buttons Need Attention on apple.stackexchange.com
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-537" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::96</h3>
				<h2>Stacked Buttons Need Attention on apple.stackexchange.com</h2>
<p>Hey, just wanted to give my 2 cents here - The way that the buttons are all the same shape and relatively the same size on apple.stackexchange.com questions is kind of distracting, visually.<br>
<img src="https://i.stack.imgur.com/ALXZK.png" alt=""></p>

<p>I really like how, at a glance, stackoverflow.com questions' buttons/icons are easily identifiable:</p>

<p><img src="https://i.stack.imgur.com/4Lax8.png" alt="enter image description here"></p>

<p>Maybe it's just me, but again just giving my 2 cents. :) Love the stackexchange sites.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-540"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I disagree that this is a problem, personally. Yes they're consistent, but contextually they flow well. Vote up? Above the vote counter. Vote down? Below the vote counter. And subscribing to the question is "extra" or "additional", naturally placed below the rest of the tools.</p>

<p>And, the Facebook and Twitter buttons follow the same flow, however they ARE visually distinct (smaller and colorful).</p>

<p>Is there a specific idea you have in mind of a different style for these buttons?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-982" class = "comment">
				<p>I'm not saying the vote up/down & favorite buttons should be moved around... their position is fine, I think it's just that they are all round buttons. The "up, 5, down" controls in stackoverflow feel much more tight to me. Maybe removing the round buttons behind the icons might work. It helps a little that facebook & twitter have some color to them, but a) I think it makes the controls feel bottom-heavy, and b) speaking of context, I don't think that's the right spot for tweeting and liking on facebook. Just my 2 cents.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>