<html>
	<head>
		<title id = 'pagetitle'>Starting reputation at 101 vs 1?
		</title>
	<head>
	<body id = 'pagebody'><p>Just wondering why some users start with 101 rep while others start with 1.  Is it to do with activity on Area 51 before the site went to beta?</p>


<h1>ANSWERS</h1>
		<p>When you associated your account with another account on the Stack Exchange network, you receive a 100+ bonus (for your prior experience) to get your started. The associated account has to have at least 200 reputation to get the bonus.</p>


	</body>
</html>