<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Starting reputation at 101 vs 1?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Starting reputation at 101 vs 1?</h2>
<p>Just wondering why some users start with 101 rep while others start with 1.  Is it to do with activity on Area 51 before the site went to beta?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>When you associated your account with another account on the Stack Exchange network, you receive a 100+ bonus (for your prior experience) to get your started. The associated account has to have at least 200 reputation to get the bonus.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>