<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Steal or borrow or use Tag information from other StackExchange sites
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1953" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::25</h3>
				<h2>Steal or borrow or use Tag information from other StackExchange sites</h2>
<p>Last time I've updated a tag synonym I've found the best information and very detailed on SO. The information I found was about the <a href="https://apple.stackexchange.com/questions/tagged/r" class="post-tag" title="show questions tagged &#39;r&#39;" rel="tag">r</a>-tag.</p>

<p>Is it okay to do this? </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1954"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>There are two things to consider:</p>

<ol>
<li>The function of a tag summary and tag wiki</li>
<li>How to properly attribute Creative Commons licensed work. </li>
</ol>

<p>Both of those reasons make me feel we shouldn't just copy other tag content. A tag isn't a dictionary and the same word should have different meanings on different sites by definition. Take "network/networking" as it will be different here as on a workplace site. Even on computer sites like here, Super User and Ask Ubuntu - explaining what types of questions should get tagged as networking can and should be different. </p>

<p>So, if there isn't any controversy or disagreement on use of a tag, the actual words attached to them are of little use in practice. I would say, in the case you mention - we would be served best by merging the r tag into open source since it won't make sense to most of the users of Mac, iOS and Apple Services as well as be more confusing to people typing other tags than the benefit of allowing some people to search for that one open-source software package. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3759" class = "post">
				<p>No for open-source as you could argue that the search people want to use is statistics to find R etc. i.e. the activity you want is important not how you do it.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>