<html>
	<head>
		<title id = 'pagetitle'>Stop the height handle from making the view jump to the cursor
		</title>
	<head>
	<body id = 'pagebody'><p>There is a little yet annoying bug in the site.</p>

<p>I am writing a (big) answer.</p>

<p>In the text area, I have the view at the top. The cursor is at the end.</p>

<p>With the handle, I make the text area taller.</p>

<p><strong>Expected behaviour : </strong> The text area gets taller. And that s it.</p>

<p><strong>Actual behaviour : </strong> The text area gets taller. But the view jumps to the end of the text area.</p>

<p><em>There is also a variant of the bug :</em></p>

<p>In the text area, I have the view at the end. The cursor is at the beginning.</p>

<p>With the handle, I make the text area taller.</p>

<p><strong>Expected behaviour : </strong> The text area gets taller. And that s it.</p>

<p><strong>Actual behaviour : </strong> The text area gets taller. But the view jumps to the beginning of the text area.</p>

<p><em>End of the variant.</em></p>

<p>The native resize handle of Safari for text areas does not have this bug. This bug is especially annoying, because the text areas of the site do not have the native resize handle of Safari   the site overrides it.</p>

<p>The bug also occurs when I am writing a question.</p>

<p>It would be nice to fix this bug. Thank you.</p>

<p>I have Safari 7 Mac.</p>


<h1>ANSWERS</h1>
			</body>
</html>