<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Stop the height handle from making the view jump to the cursor
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2162" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::36</h3>
				<h2>Stop the height handle from making the view jump to the cursor</h2>
<p>There is a little yet annoying bug in the site.</p>

<p>I am writing a (big) answer.</p>

<p>In the text area, I have the view at the top. The cursor is at the end.</p>

<p>With the handle, I make the text area taller.</p>

<p><strong>Expected behaviour : </strong> The text area gets taller. And that s it.</p>

<p><strong>Actual behaviour : </strong> The text area gets taller. But the view jumps to the end of the text area.</p>

<p><em>There is also a variant of the bug :</em></p>

<p>In the text area, I have the view at the end. The cursor is at the beginning.</p>

<p>With the handle, I make the text area taller.</p>

<p><strong>Expected behaviour : </strong> The text area gets taller. And that s it.</p>

<p><strong>Actual behaviour : </strong> The text area gets taller. But the view jumps to the beginning of the text area.</p>

<p><em>End of the variant.</em></p>

<p>The native resize handle of Safari for text areas does not have this bug. This bug is especially annoying, because the text areas of the site do not have the native resize handle of Safari   the site overrides it.</p>

<p>The bug also occurs when I am writing a question.</p>

<p>It would be nice to fix this bug. Thank you.</p>

<p>I have Safari 7 Mac.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4121" class = "comment">
				<p>What makes you think this is a site bug and not Safari behavior?</p>
			</div>
			<div id = "comment-4123" class = "comment">
				<p>@IanC. - I had never seen that in Safari. Safari's native resize handle does not have this behaviour. With Chrome on Window$, I reproduce the bug.</p>
			</div>
			<div id = "comment-4129" class = "comment">
				<p>I am 99.9999% certain that this is browser behavior, not site-dictated behavior.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>