<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Strange layout on the main page with the iPad competition (I think)
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1215" class = "post">
			<h2>Question</h2>
			<div id="vote-1215" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Strange layout on the main page with the iPad competition (I think)</h2>
<p>On the main page there appears to be some "additional content" and it looks as though it is related to an iPad.  However, I can't tell for sure because it looks like this:</p>

<p><img src="https://i.stack.imgur.com/54SHr.png" alt="Main page view"></p>

<p>At first, I put it down to the fact that I'm using FF11 on Linux so clearly the "Ask Different" website would <em>Look Different</em> since no Apple products were harmed in the viewing of this page.</p>

<p>But then I happened to look at it using Safari Mobile on my iPad and it looked the same.</p>

<p>Is this how it ought to look?  There does appear to be something behind the main question bit - that black semi-circle is certainly suggestive of that fact.  Is the site telling me that I shouldn't use Firefox or Linux?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1215" class = 'collapse'>
			</div>
				<textarea id = "speech-1215" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1215">
					<img id="start_img-1215" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1216"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1216" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is intentional, the image is an iPad partially hiding behind the question view. If you click on the iPad you'll see that we're currently holding a contest, where the top contributors can earn iPads.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1216">Load Comments</button></br>
			<div id = "commentsection-1216" class = 'collapse'>
			<div id = "comment-2218" class = "comment">
				<p>Ah, I've now scrolled down a bit further and can see the bottom of the iPad.  I still say that that is completely non-obvious.  Is that the criteria for being in the competition - can you spot that it's an iPad?</p>
			</div>
			<div id = "comment-2219" class = "comment">
				<p>@AndrewStacey I'll admit that it does look like some sort of layout or formatting error to someone that doesn't recognize it, but I imagine most Apple fans will. If I were designing it I might have gone for something slightly different, but I think that it mostly does the job</p>
			</div>
			<div id = "comment-2220" class = "comment">
				<p>Yes, now that I know what it is then I recognise it.  I think it might have been better to go for a black iPad just because the main site is so white-dominated as it is.  I was really just trying to find out if there was something hidden that I wasn't seeing.  From what you say, I conclude that there isn't and so I'll stop worrying about it.  Thanks.</p>
			</div>
			<div id = "comment-2225" class = "comment">
				<p>@AndrewStacey We tried a black one first; it was way too harsh on the eyes (because of the extreme contrast with the rest of the site).</p>
			</div>
			</div>
				<textarea id = "speech-1216" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1216">
					<img id="start_img-1216" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>