<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Strange layout on the main page with the iPad competition (I think)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Strange layout on the main page with the iPad competition (I think)</h2>
<p>On the main page there appears to be some "additional content" and it looks as though it is related to an iPad.  However, I can't tell for sure because it looks like this:</p>

<p><img src="https://i.stack.imgur.com/54SHr.png" alt="Main page view"></p>

<p>At first, I put it down to the fact that I'm using FF11 on Linux so clearly the "Ask Different" website would <em>Look Different</em> since no Apple products were harmed in the viewing of this page.</p>

<p>But then I happened to look at it using Safari Mobile on my iPad and it looked the same.</p>

<p>Is this how it ought to look?  There does appear to be something behind the main question bit - that black semi-circle is certainly suggestive of that fact.  Is the site telling me that I shouldn't use Firefox or Linux?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This is intentional, the image is an iPad partially hiding behind the question view. If you click on the iPad you'll see that we're currently holding a contest, where the top contributors can earn iPads.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>