<html>
	<head>
		<title id = 'pagetitle'>Struggling to create numbered lists
		</title>
	<head>
	<body id = 'pagebody'><p>How do I correctly get numbered lists to work?</p>

<p>I am using Chrome on Mac and have been manually numbering lists of items because I am struggling to get the rich text formatting work. However I was ashamed today to find someone has had to go through and fix all my answers.</p>

<p>Is there a trick to it? How to get auto numbering. When I try I get this:</p>

<ol>
<li>One
Two</li>
<li>List item</li>
</ol>

<p>Three</p>

<ol>
<li>List item</li>
</ol>


<h1>ANSWERS</h1>
		<p>Stack Exchange uses <a href="http://daringfireball.net/projects/markdown/syntax" rel="nofollow">Markdown</a> for its markup language and the Markdown documentation has this to say about <a href="http://daringfireball.net/projects/markdown/syntax#list" rel="nofollow">list items</a>:</p>

<blockquote>
  <p>Ordered lists use numbers followed by periods:</p>
</blockquote>

<pre><code>1.  Bird
2.  McHale
3.  Parish
</code></pre>

<blockquote>
  <p>It s important to note that the actual numbers you use to mark the
  list have no effect on the HTML output Markdown produces. The HTML
  Markdown produces from the above list is:</p>
</blockquote>

<pre><code>&lt;ol&gt;
&lt;li&gt;Bird&lt;/li&gt;
&lt;li&gt;McHale&lt;/li&gt;
&lt;li&gt;Parish&lt;/li&gt;
&lt;/ol&gt;
</code></pre>

<p>So a numbered list is best formed by just doing:</p>

<pre><code>1.  Bird
1.  McHale
1.  Parish
</code></pre>

<p>As for having better formatting within the items in your list, like multiple paragraphs, the documentation says:</p>

<blockquote>
  <p>If list items are separated by blank lines, Markdown will wrap the
  items in &lt;p> tags in the HTML output. For example, this input:</p>
</blockquote>

<pre><code>*   Bird

*   Magic
</code></pre>

<blockquote>
  <p>will turn into:</p>
</blockquote>

<pre><code>&lt;ul&gt;
&lt;li&gt;&lt;p&gt;Bird&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Magic&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<blockquote>
  <p>List items may consist of multiple paragraphs. Each subsequent
  paragraph in a list item must be indented by either 4 spaces or one
  tab:</p>
</blockquote>

<pre><code>1.  This is a list item with two paragraphs. Lorem ipsum dolor
    sit amet, consectetuer adipiscing elit. Aliquam hendrerit
    mi posuere lectus.

    Vestibulum enim wisi, viverra nec, fringilla in, laoreet
    vitae, risus. Donec sit amet nisl. Aliquam semper ipsum
    sit amet velit.

2.  Suspendisse id sem consectetuer libero luctus adipiscing.
</code></pre>

<blockquote>
  <p>To put a blockquote within a list item, the blockquote s > delimiters
  need to be indented.</p>
  
  <p>To put a code block within a list item, the code block needs to be
  indented twice   8 spaces or two tabs.</p>
</blockquote>

<p>If you view the source for this answer you'll see how I used those last two statements above through out this answer to format things.</p>

<p>So if you take your example from above, which has the following Markdown format:</p>

<pre><code> 1. One
Two
 2. List item

Three

 1. List item
</code></pre>

<p>And use the rules from Daring Fireball, the best you can do is:</p>

<pre><code>1. One

   Two

1. List item

   Three

1. List item
</code></pre>

<p>To get the rendered output:</p>

<ol>
<li><p>One</p>

<p>Two</p></li>
<li><p>List item</p>

<p>Three</p></li>
<li><p>List item</p></li>
</ol>

<p>I'm making a bit of a guess on what your expected rendering was, but that's a reasonably advanced example of using lists.</p>


	</body>
</html>