<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Suggested edit confusion
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1800" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::106</h3>
				<h2>Suggested edit confusion</h2>
<p>I have looked back over the <a href="https://apple.stackexchange.com/posts/100577/revisions">revision history</a> to <a href="https://apple.stackexchange.com/questions/100577/imessage-sign-in-not-working-correctly-after-changing-apple-id">this question</a> and I am confused as to what actually happened.</p>

<p>I posted my suggested edit shortly after the question was posted initially (around 15 minutes after posting), yet my edit is not correctly listed and <a href="https://apple.stackexchange.com/review/suggested-edits/36761">was reverted</a> since it seemed to 'mess up' a <em>later</em> suggested edit.</p>

<p><img src="https://i.stack.imgur.com/5WR59.png" alt="Revision History"></p>

<p>For example, it shows that my suggested edit removed the <a href="https://apple.stackexchange.com/questions/tagged/imessage" class="post-tag" title="show questions tagged &#39;imessage&#39;" rel="tag">imessage</a> tag, yet this tag did not exist when I submitted my suggested edit.</p>

<p>The revision history shows that <a href="https://apple.stackexchange.com/users/54484/tubedogg">@tubedogg</a> submitted his edit 2 hours after the original post, considerably later than mine, yet mine also shows 2 hours, and being after his </p>

<p>What's happened, and why did Community not reject one of the edits?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3407" class = "post">
				<p>Hmm, I remember approving the first two edits close after each other which is kind of strange since the system shouldn't let you edit a post where a suggested edit is still pending approval</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1801"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Reading the logs as closely as I can, it would appear that two suggested edits were allowed to be submitted to the same question, which the system ordinarily does not permit. Both were approved, but the second edit was applied on top of the first, which made less sense. As far as I can tell, this is a bug.</p>

<p>The one thing I about this that does make sense to me is that the time posted on suggested edits is the time at which they were approved, not the time at which they were submitted. So 2 hours after the original post is when both of your edits were approved, not when they were submitted.</p>

<p>Community  would not ordinarily reject an edit for that reason; instead, the ability to suggest an edit would be blocked if another suggested edit was pending.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3418" class = "post">
				<p>Is this http://meta.stackexchange.com/questions/195576/reviewing-suggested-edit-of-own-post-after-completing-20-reviews relevant?</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>