<html>
	<head>
		<title id = 'pagetitle'>Suggested Edits now take more than one review?
		</title>
	<head>
	<body id = 'pagebody'><p>I accepted a suggested edit just now ( <a href="https://apple.stackexchange.com/questions/70269/hoew-to-use-a-unix-console-app">How to use a UNIX console app</a> ), but I get a note saying: </p>

<blockquote>
  <p>You have already reviewed this item. It needs more reviews from other users to be completed.</p>
</blockquote>

<p>Is this new? Why is there now extra verification on an edit?</p>


<h1>ANSWERS</h1>
		<p>Yes - it's very new. Site wide, it now takes two to tango (although I hear they are into threesomes on Stack Overflow).</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/151536/it-takes-two-to-tango">It takes two to tango?</a></li>
</ul>

<p>Good eye, jmlumpkin.</p>


	</body>
</html>