<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Suggestion - Possibly Sitewide - Inbox Feed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Suggestion - Possibly Sitewide - Inbox Feed?</h2>
<p>I might be being dense, but I was wondering if there is a RSS feed that displays entries from our 'inbox'? If not, then perhaps a feature suggestion.</p>

<p>I use a RSS reader a lot and it updates constantly in the background - I just thought it'd be cool. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Currently, this feature isn't available.</p>

<p><a href="https://meta.stackexchange.com/questions/85897/is-there-a-rss-to-the-stackexchange-inbox-how-about-to-activity">It's been asked for before, actually.</a></p>

<p>The solution, according to answers to the above post, is that you would have to convert the JSON to RSS yourself. Not hard, but not exactly automatic.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Nathan is correct. For a close approximation, though, try this: <a href="https://apple.stackexchange.com/feeds/user/15589/responses">https://apple.stackexchange.com/feeds/user/15589/responses</a></p>

<p>(substitute your own user number for best results; this one is for the OP)</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I have just added this capability to my website. You can read all of the details <a href="https://meta.stackexchange.com/a/135045/142114">here</a>.</p>

<p>Basically the process goes something like this:</p>

<ol>
<li>Register for an account on my website.</li>
<li>Connect your new account to your Stack Exchange profile.</li>
<li>Authorize my website to access your inbox.</li>
<li>Receive a custom RSS feed URL that contains the contents of your inbox.</li>
</ol>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>