<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Suggested Edits now take more than one review?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Suggested Edits now take more than one review?</h2>
<p>I accepted a suggested edit just now ( <a href="https://apple.stackexchange.com/questions/70269/hoew-to-use-a-unix-console-app">How to use a UNIX console app</a> ), but I get a note saying: </p>

<blockquote>
  <p>You have already reviewed this item. It needs more reviews from other users to be completed.</p>
</blockquote>

<p>Is this new? Why is there now extra verification on an edit?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Yes - it's very new. Site wide, it now takes two to tango (although I hear they are into threesomes on Stack Overflow).</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/151536/it-takes-two-to-tango">It takes two to tango?</a></li>
</ul>

<p>Good eye, jmlumpkin.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>