<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Suitability of Question Regarding iOS Apps?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Suitability of Question Regarding iOS Apps?</h2>
<p>I would like to ask this question or similar on the main site:</p>

<p>Are there iOS apps which are specifically designed for iPhone or iPad only and cannot be used on both iDevices (with the exception of apps for making calls which I think are generally iPhone only - correct me if i'm wrong) eg <a href="http://discovr.info/" rel="nofollow">Discovr for iPhone</a></p>

<p>The example above specifically says for iPhone, but I see no reason for it not to be used on an iPad (or is it just the marketing surrounding this particular app).</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>As phrased, that strikes me as a poor question for the site. </p>

<p>In your case - you are asking a yes/no question.</p>

<p>One answer will be yes - there are apps that only run on one device.</p>

<p>Another answer will be no - there is no way to target apps to run on only one device.</p>

<p>We even entertain wrong answers - so you might get both answers to the same question and have to suss out which makes more sense to you.</p>

<hr>

<p>In this case, what next? What problem are you actually trying to solve. It seems you are falling into the XY problem trap and not describing what you really want to do.</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/183093/editing-questions-to-solve-xy-problems">Editing questions to solve XY problems</a></li>
<li><a href="https://meta.stackexchange.com/questions/66377/what-is-the-xy-problem">What is the XY problem?</a></li>
</ul>

<p>Basically, it reads like a "teach me everything you know about how apps are targeted to hardware" and not a "I have this specific problem that I can't solve and hope an expert would explain X to me"</p>

<hr>

<p>The help guide has some guidance on refining the question.</p>

<p><a href="https://apple.stackexchange.com/help/how-to-ask">https://apple.stackexchange.com/help/how-to-ask</a></p>

<p>What parts of that guide seem to be most likely that you could use to improve that question before asking it?</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>