<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Suitability of Question Regarding iOS Apps?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1830" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::42</h3>
				<h2>Suitability of Question Regarding iOS Apps?</h2>
<p>I would like to ask this question or similar on the main site:</p>

<p>Are there iOS apps which are specifically designed for iPhone or iPad only and cannot be used on both iDevices (with the exception of apps for making calls which I think are generally iPhone only - correct me if i'm wrong) eg <a href="http://discovr.info/" rel="nofollow">Discovr for iPhone</a></p>

<p>The example above specifically says for iPhone, but I see no reason for it not to be used on an iPad (or is it just the marketing surrounding this particular app).</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3500" class = "comment">
				<p>Not really sure what you are intending to ask, can you clarify?  Obviously an iPad only app can never run on an iPhone, are you asking if there are any iPhone apps that will not run on an iPad?  If so, what is the problem you are trying to solve by asking?</p>
			</div>
			<div id = "comment-3512" class = "comment">
				<p>I really appreciate your asking how to ask here. In this case - the best advice I can give is to focus on something you are trying to do. What will other people learn by your asking how apps are designed? This might be a better question for stack overflow - how to code things so that an app only runs on devices that have a telephone. Or here - how do I indicate an app should only run on certain hardware in iTunes Connect. Or - how to tell from the app store description if an app will work on an iPod touch. In all those cases - it's clear what you are actually trying to do.</p>
			</div>
			<div id = "comment-3513" class = "comment">
				<p>@bmike Understand. I was under the impression that all iOS apps were created equal (thats obviously not the case). Don't really want to get too technical about it. I'll think up some suitable questions regarding it. If i'm making sense.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1831"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>As phrased, that strikes me as a poor question for the site. </p>

<p>In your case - you are asking a yes/no question.</p>

<p>One answer will be yes - there are apps that only run on one device.</p>

<p>Another answer will be no - there is no way to target apps to run on only one device.</p>

<p>We even entertain wrong answers - so you might get both answers to the same question and have to suss out which makes more sense to you.</p>

<hr>

<p>In this case, what next? What problem are you actually trying to solve. It seems you are falling into the XY problem trap and not describing what you really want to do.</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/183093/editing-questions-to-solve-xy-problems">Editing questions to solve XY problems</a></li>
<li><a href="https://meta.stackexchange.com/questions/66377/what-is-the-xy-problem">What is the XY problem?</a></li>
</ul>

<p>Basically, it reads like a "teach me everything you know about how apps are targeted to hardware" and not a "I have this specific problem that I can't solve and hope an expert would explain X to me"</p>

<hr>

<p>The help guide has some guidance on refining the question.</p>

<p><a href="https://apple.stackexchange.com/help/how-to-ask">https://apple.stackexchange.com/help/how-to-ask</a></p>

<p>What parts of that guide seem to be most likely that you could use to improve that question before asking it?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3503" class = "comment">
				<p>In the case of the app named in my question, it is specific for iPhone and won't work on iPad ?</p>
			</div>
			<div id = "comment-3504" class = "comment">
				<p>To put it another way there are apps that work on both, just as there are apps that have been designed for one or the other. Is that correct ?</p>
			</div>
			<div id = "comment-3505" class = "comment">
				<p>Now that would be a good question to ask. I tried to download App X on device Y and it failed with this error message. Could someone explain how this works so I know to only buy apps that run on iPads and iPhones?</p>
			</div>
			<div id = "comment-3506" class = "comment">
				<p>Depending on the answer you get - if your understanding of the process is not complete, you could then ask a second question - again to solve a specific gap in your understanding after you did some research, showed that research and then asked for specific help.</p>
			</div>
			<div id = "comment-3507" class = "comment">
				<p>Ah so just because an iOS app may well run on iOS it doesn't give it automatic right to run on both ?</p>
			</div>
			<div id = "comment-3508" class = "comment">
				<p>Um - let's focus on fixing the question. Even if I knew how to answer what I think is your actual question - let's keep meta about how to craft a question and leave the answers to exist on the main site.</p>
			</div>
			<div id = "comment-3509" class = "comment">
				<p>I agree with that. Just a little confused :) But yes I understand what your saying that would have been a comment to an actual answer of the proposed question (I think) !</p>
			</div>
			<div id = "comment-3510" class = "comment">
				<p>So - I asked you a question at the end of my answer above. What part of the guidance from the last link do you think might help you in refining your question? Were the links to the XY question helpful in clarifying your thinking? It seems you have a deeper question here that you haven't crafted yet or honed.</p>
			</div>
			<div id = "comment-3511" class = "comment">
				<p>I'll have to think about it, it gets complex in my head. Good job theres Meta</p>
			</div>
			<div id = "comment-3514" class = "comment">
				<p>Feel free to stop by in Chat, it's often better than trying to chat via comments.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>