<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Suppress or reposition the Mountain Lion Challenge wherever a question is explicitly about a different version of OS X or Mac OS X
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1378" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::30</h3>
				<h2>Suppress or reposition the Mountain Lion Challenge wherever a question is explicitly about a different version of OS X or Mac OS X</h2>
<p>It's nice to have awareness of the challenge.</p>

<p>However, it's potentially <strong>confusing  especially for newcomers</strong>  to have Mountain Lion so prominent <em>below the title</em> of every question that is specifically <strong>not</strong> about Mountain Lion. </p>

<p>Placement in the <strong>midst</strong> of each question is not ideal. </p>

<p>An example: </p>

<p><img src="https://i.stack.imgur.com/voMhS.png" alt="enter image description here"></p>

<p>Answers below assume that it will be possible (and relatively easy) to treat the challenge, or its banner, differently wherever a question:</p>

<ul>
<li><strong>is</strong> <a href="https://apple.stackexchange.com/questions/tagged/leopard" class="post-tag" title="show questions tagged &#39;leopard&#39;" rel="tag">leopard</a>, <a href="https://apple.stackexchange.com/questions/tagged/snow-leopard" class="post-tag" title="show questions tagged &#39;snow-leopard&#39;" rel="tag">snow-leopard</a> or <a href="https://apple.stackexchange.com/questions/tagged/lion" class="post-tag" title="show questions tagged &#39;lion&#39;" rel="tag">lion</a> </li>
<li><strong>and is not</strong> <a href="https://apple.stackexchange.com/questions/tagged/mountain-lion" class="post-tag" title="show questions tagged &#39;mountain-lion&#39;" rel="tag">mountain-lion</a></li>
</ul>

<p> and so on.</p>

<hr>

<p>This is admittedly a late suggestion, if there are only nine days left for this particular banner/challenge/competition, but it could be food for thought before the next banner is placed. </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1379"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h1>Suppress the banner</h1>

<p>Keep it simple. Suppress the wide banner, unrelated to the question, that appears between the title of the question and the body of the question.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1380"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h1>Make better use of the sidebar</h1>

<p>The community bulletin, already in the sidebar, already links to a Mountain Lion '<a href="https://apple.meta.stackexchange.com/questions/1365/mountain-lion-challenge-ask-answer-blog-and-win-apple-products">contest</a>' that ends in a few days. </p>

<p>Adapt the bulletin to link primarily to the Mountain Lion '<a href="http://mountainlionchallenge.com" rel="nofollow noreferrer">challenge</a>'. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1381"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Have there been any comments or links or conversation of this being confusing to actual newcomers? (Or are you placing yourself in their shoes?)</p>

<p>I think this banner is a very good way to ensure everyone who visits knows that we are actively seeking participation from newcomers - especially if they have arrived here for reasons other than Mountain Lion launch. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2641" class = "comment">
				<p>Confusing for me sometimes, and I'm familiar with the site, which is why I began thinking about newcomers. Certainly the banner is a good way of raising awareness but its placement in the **midst** of a question can be troublesome.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>