<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Suppress or reposition the Mountain Lion Challenge wherever a question is explicitly about a different version of OS X or Mac OS X
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1378" class = "post">
			<h2>Question</h2>
			<div id="vote-1378" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 30</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suppress or reposition the Mountain Lion Challenge wherever a question is explicitly about a different version of OS X or Mac OS X</h2>
<p>It's nice to have awareness of the challenge.</p>

<p>However, it's potentially <strong>confusing  especially for newcomers</strong>  to have Mountain Lion so prominent <em>below the title</em> of every question that is specifically <strong>not</strong> about Mountain Lion. </p>

<p>Placement in the <strong>midst</strong> of each question is not ideal. </p>

<p>An example: </p>

<p><img src="https://i.stack.imgur.com/voMhS.png" alt="enter image description here"></p>

<p>Answers below assume that it will be possible (and relatively easy) to treat the challenge, or its banner, differently wherever a question:</p>

<ul>
<li><strong>is</strong> <a href="https://apple.stackexchange.com/questions/tagged/leopard" class="post-tag" title="show questions tagged &#39;leopard&#39;" rel="tag">leopard</a>, <a href="https://apple.stackexchange.com/questions/tagged/snow-leopard" class="post-tag" title="show questions tagged &#39;snow-leopard&#39;" rel="tag">snow-leopard</a> or <a href="https://apple.stackexchange.com/questions/tagged/lion" class="post-tag" title="show questions tagged &#39;lion&#39;" rel="tag">lion</a> </li>
<li><strong>and is not</strong> <a href="https://apple.stackexchange.com/questions/tagged/mountain-lion" class="post-tag" title="show questions tagged &#39;mountain-lion&#39;" rel="tag">mountain-lion</a></li>
</ul>

<p> and so on.</p>

<hr>

<p>This is admittedly a late suggestion, if there are only nine days left for this particular banner/challenge/competition, but it could be food for thought before the next banner is placed. </p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1378" class = 'collapse'>
			</div>
				<textarea id = "speech-1378" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1378">
					<img id="start_img-1378" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1378">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1379"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1379" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>Suppress the banner</h1>

<p>Keep it simple. Suppress the wide banner, unrelated to the question, that appears between the title of the question and the body of the question.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1379" class = 'collapse'>
			</div>
				<textarea id = "speech-1379" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1379">
					<img id="start_img-1379" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1379">Comment</button>
			<br><div id = "ans-1380"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1380" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>Make better use of the sidebar</h1>

<p>The community bulletin, already in the sidebar, already links to a Mountain Lion '<a href="https://apple.meta.stackexchange.com/questions/1365/mountain-lion-challenge-ask-answer-blog-and-win-apple-products">contest</a>' that ends in a few days. </p>

<p>Adapt the bulletin to link primarily to the Mountain Lion '<a href="http://mountainlionchallenge.com" rel="nofollow noreferrer">challenge</a>'. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1380" class = 'collapse'>
			</div>
				<textarea id = "speech-1380" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1380">
					<img id="start_img-1380" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1380">Comment</button>
			<br><div id = "ans-1381"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1381" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have there been any comments or links or conversation of this being confusing to actual newcomers? (Or are you placing yourself in their shoes?)</p>

<p>I think this banner is a very good way to ensure everyone who visits knows that we are actively seeking participation from newcomers - especially if they have arrived here for reasons other than Mountain Lion launch. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1381">Load Comments</button></br>
			<div id = "commentsection-1381" class = 'collapse'>
			<div id = "comment-2641" class = "comment">
				<p>Confusing for me sometimes, and I'm familiar with the site, which is why I began thinking about newcomers. Certainly the banner is a good way of raising awareness but its placement in the **midst** of a question can be troublesome.</p>
			</div>
			</div>
				<textarea id = "speech-1381" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1381">
					<img id="start_img-1381" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1381">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>