<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Suspicous downvoting?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1223" class = "post">
			<h2>Question</h2>
			<div id="vote-1223" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 172</p>
			</div>
				<h2>Suspicous downvoting?</h2>
<p>I was browsing AskDifferent and asking questions when out of nowhere I got 3 downvotes in a very very short span of time.</p>

<p>They were on these questions: <a href="https://apple.stackexchange.com/questions/45946/does-the-unibody-design-of-the-mb-mbp-actually-help-increase-the-strength-of-t">Does the &#39;unibody&#39; design of the MB/MBP actually help increase the strength of the MBP/MB?</a>, <a href="https://apple.stackexchange.com/questions/45751/which-accents-are-impossible-for-siri">https://apple.stackexchange.com/questions/45751/which-accents-are-impossible-for-siri</a>, and <a href="https://apple.stackexchange.com/questions/45765/do-i-really-need-bonjour-on-windows">Do I really need Bonjour on Windows?</a>.</p>

<p>Is this suspicious enough for the system to catch him/her? Are these downvotes purely incidental?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1223" class = 'collapse'>
			</div>
				<textarea id = "speech-1223" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1223">
					<img id="start_img-1223" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1224"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1224" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Voting is how the community gives you reputation and how they take it away. You can't keep the ones you like and not the ones you don't.</p>

<p>As moderators, we all are responsible for watching and do regularly monitor all voting, closing and flagging. Furthermore, the system has built in checks should we miss vote swings that accumulate over short and long time periods. Nothing untoward is happening here other than you have asked a rapid succession of questions of dubious use to the site in general. Many are chatty, discussion oriented, and overly broad and subjective. Your questions are getting broad negative reactions for understandable and correct reasons in our judgement.</p>

<p>We will try to close the worst so you can see which ones are not constructive or otherwise not useful to the site in general.</p>

<p>We will leave some of the ones with down votes where others have given some good input. Again - just relax for any vote swings of less than 10 - especially when you are asking 10 or more questions a day. You are singlehandedly pushing other questions off the front page of the site with your volume of questions.</p>

<p>You have asked for up votes and a moderator needed to edit that out of your question and ask you to not ask for votes. Another moderator (me) has asked you to stop complaining about and/or asking people to not down vote your questions.</p>

<p>Please carefully read the FAQ and respond here with any questions you may have on how the site works. Also - have a read of this article on how the overall site likes to ask users to formally take a break when their behavior is disruptive.</p>

<ul>
<li><a href="http://blog.stackoverflow.com/2009/04/a-day-in-the-penalty-box/">http://blog.stackoverflow.com/2009/04/a-day-in-the-penalty-box/</a></li>
</ul>

<p>We are trying to be a little extra lenient with the contest in play, but would ask you to self-moderate a bit better so we don't have to keep moderating your contributions to the site. Even if you are not clear on how to make your questions better, a slower pace of asking will reduce the chance your questions accumulate down votes and potential for closure.</p>

<p>I apologize if this is blunt, but the reprimand is for your behavior and not the wide group of voters in this case.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1224" class = 'collapse'>
			</div>
				<textarea id = "speech-1224" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1224">
					<img id="start_img-1224" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1225"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1225" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When a post gets a score of -3, it means that three <em>different</em> people have voted against it. Downvoting is rather rare on this site; if three different people make a point of voting against a post, it is certainly not the work of a single "cyber-criminal"; it is the community speaking that a particular post does not belong here.</p>

<p>I speak from experience here: a post of mine got three downvotes earlier this week. While I liked the post, I deleted it; the community had spoken.</p>

<p>If someone votes against a person's posts to go after that person, that is indeed bad for the site. Voting should be about the post, and not about who posted it. But receiving widespread downvotes from many members of the site is the opposite of "cyber-criminal" -- it is how the site works. If a post gets downvotes from a range of voters, don't ask what's wrong with the voters; ask <em>yourself</em> what is wrong with the post. If you ask others for help understanding this and people try to explain, don't argue with them; <strong>listen</strong>.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1225">Load Comments</button></br>
			<div id = "commentsection-1225" class = 'collapse'>
			<div id = "comment-2233" class = "comment">
				<p>If you're deleting posts *frequently*, something's already broken. Deleting unwanted posts is a way to clean up after a problem, but better still to prevent the problem by figuring out what posts *do* belong here *before* posting, particularly before posting 14 questions in two days.</p>
			</div>
			<div id = "comment-2235" class = "comment">
				<p>Yeah, I realized that that's a bad thing; I'm reading as many *good* questions here as I can to see what's considered a good question.</p>
			</div>
			<div id = "comment-2238" class = "comment">
				<p>@JavaAndCSharp That's wonderful!</p>
			</div>
			</div>
				<textarea id = "speech-1225" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1225">
					<img id="start_img-1225" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>