<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Synonym for photos.app to photos
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2455" class = "post">
			<h2>Question</h2>
			<h3>Score ::-3</h3>
			<h3>Views ::32</h3>
				<h2>Synonym for photos.app to photos</h2>
<p>All of the newest questions in the <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> tag refer to the new Apple Photos application. <a href="https://apple.stackexchange.com/questions/tagged/photos.app" class="post-tag" title="show questions tagged &#39;photos.app&#39;" rel="tag">photos.app</a> refers to the same thing. Could someone with enough reputation please make <a href="https://apple.stackexchange.com/questions/tagged/photos.app" class="post-tag" title="show questions tagged &#39;photos.app&#39;" rel="tag">photos.app</a> be a synonym of <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> to group these together?</p>

<p>Admittedly, some older <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> threads are about Aperture or iPhoto, but Apple is the one to have introduced the confusing naming, and Apple Photos does represent the successor application.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2455">Record</button>
				<button class="record-stop" id="stop-2455">Stop</button>
				<p id="recording-2455"></p>

<h1>Answers</h1>
			<br><div id = "ans-2456"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>From the <a href="https://apple.stackexchange.com/tags">tags page</a>:</p>

<blockquote>
  <p><strong>photos</strong> x 590</p>
  
  <p>Photographs and photography</p>
</blockquote>

<p>And:</p>

<blockquote>
  <p><strong>photos.app</strong> x 81</p>
  
  <p>The Apple photo manager and editor and successor to iPhoto and Aperture. Introduced in 2015.</p>
</blockquote>

<p>Making <strong>photos</strong> a synonym of <strong>photos.app</strong> has the potential to mis-tag 590 questions now. Questions that pre-date the existence of the Photos app from Apple and have nothing to do with the tool.</p>

<p>Our convention has been to use <code>.app</code> on tags to denote the Apple product with the noun.</p>

<p>Violating this convention in this particular case does not, in my opinion, sound like a good idea.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-4609" class = "comment">
				<p>Please see my new suggestion (entered as it's own possible answer).</p>
			</div>
			<div id = "comment-4610" class = "comment">
				<p>@dankohn I considered this as well, but I think the harm in linking all photos posts to photos app outweighs the benefits of having people continually mis-tagging posts. Over time, I believe people will get the difference and only tag things photos.app when it's about that app specifically and use the generic tag in most cases.</p>
			</div>
			<div id = "comment-4612" class = "comment">
				<p>@bmike You have too good a view of people - I think most will just hit the first tag that matches e.g. photo - using photography will force them to  make a choice. Most people seem not to spend time learning conventions - in general in computing I jayvee found that conventions work only when backed up with tools or processes to enforce them</p>
			</div>
			<div id = "comment-4613" class = "comment">
				<p>@Mark I was vague - the people that will care are the editors that make the majority of the edits here. No one will change most of the wrong uses, but when a question gets lots of views, that detail will bug someone so much that they make the change and all the high quality/high vote questions about photos.app will get tagged correctly. (IMO of course ;-)</p>
			</div>
			<div id = "comment-4614" class = "comment">
				<p>See this edit http://apple.stackexchange.com/review/suggested-edits/106228 everything correct but Photos.app</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2456">Record</button>
				<button class="record-stop" id="stop-2456">Stop</button>
				<p id="recording-2456"></p>
			<br><div id = "ans-2457"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Based on Ian C.'s response:</p>

<p>Would it be possible to rename <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> to <a href="https://apple.stackexchange.com/questions/tagged/photography" class="post-tag" title="show questions tagged &#39;photography&#39;" rel="tag">photography</a> and then create a new <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> tag that was a synonym to <a href="https://apple.stackexchange.com/questions/tagged/photos.app" class="post-tag" title="show questions tagged &#39;photos.app&#39;" rel="tag">photos.app</a>? That would:</p>

<ol>
<li>Continue the convention of using '.app' for Apple products.</li>
<li>Maintain existing and future photography-related questions with their own tag, that does not conflict with the name of a (new) Apple product.</li>
<li>Enable most new contributors who are likely to just enter <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> to (via a synonym) get their questions tagged correctly.</li>
</ol>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-4611" class = "comment">
				<p>This probably should be a new question or a discussion in the better tags chat room on the site. http://chat.stackexchange.com/rooms/2510/better-tags-for-ask-different</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2457">Record</button>
				<button class="record-stop" id="stop-2457">Stop</button>
				<p id="recording-2457"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>