<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Synonym for photos.app to photos
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Synonym for photos.app to photos</h2>
<p>All of the newest questions in the <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> tag refer to the new Apple Photos application. <a href="https://apple.stackexchange.com/questions/tagged/photos.app" class="post-tag" title="show questions tagged &#39;photos.app&#39;" rel="tag">photos.app</a> refers to the same thing. Could someone with enough reputation please make <a href="https://apple.stackexchange.com/questions/tagged/photos.app" class="post-tag" title="show questions tagged &#39;photos.app&#39;" rel="tag">photos.app</a> be a synonym of <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> to group these together?</p>

<p>Admittedly, some older <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> threads are about Aperture or iPhoto, but Apple is the one to have introduced the confusing naming, and Apple Photos does represent the successor application.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>From the <a href="https://apple.stackexchange.com/tags">tags page</a>:</p>

<blockquote>
  <p><strong>photos</strong> x 590</p>
  
  <p>Photographs and photography</p>
</blockquote>

<p>And:</p>

<blockquote>
  <p><strong>photos.app</strong> x 81</p>
  
  <p>The Apple photo manager and editor and successor to iPhoto and Aperture. Introduced in 2015.</p>
</blockquote>

<p>Making <strong>photos</strong> a synonym of <strong>photos.app</strong> has the potential to mis-tag 590 questions now. Questions that pre-date the existence of the Photos app from Apple and have nothing to do with the tool.</p>

<p>Our convention has been to use <code>.app</code> on tags to denote the Apple product with the noun.</p>

<p>Violating this convention in this particular case does not, in my opinion, sound like a good idea.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Based on Ian C.'s response:</p>

<p>Would it be possible to rename <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> to <a href="https://apple.stackexchange.com/questions/tagged/photography" class="post-tag" title="show questions tagged &#39;photography&#39;" rel="tag">photography</a> and then create a new <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> tag that was a synonym to <a href="https://apple.stackexchange.com/questions/tagged/photos.app" class="post-tag" title="show questions tagged &#39;photos.app&#39;" rel="tag">photos.app</a>? That would:</p>

<ol>
<li>Continue the convention of using '.app' for Apple products.</li>
<li>Maintain existing and future photography-related questions with their own tag, that does not conflict with the name of a (new) Apple product.</li>
<li>Enable most new contributors who are likely to just enter <a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> to (via a synonym) get their questions tagged correctly.</li>
</ol>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>