<html>
	<head>
		<title id = 'pagetitle'>Syntax-highlight activation for tags
		</title>
	<head>
	<body id = 'pagebody'><p>Dear Mods,</p>

<p>Taken in mind the following meta <a href="https://apple.meta.stackexchange.com/questions/466/why-syntax-highlighting-is-visible-only-on-preview-page/467#467">answer</a>, and <a href="https://apple.stackexchange.com/questions/11331/terminal-ps1-and-colors">some</a> <a href="https://apple.stackexchange.com/questions/11243/automatically-delete-a-folder-daily">examples</a> <a href="https://apple.stackexchange.com/questions/10666/why-setting-image-as-its-own-icon-with-sips-result-a-blurred-icon-are-there-any">without</a> <a href="https://apple.stackexchange.com/questions/11219/i-messed-up-my-bash-configuration-on-mac">syntax</a>-<a href="https://apple.stackexchange.com/questions/11016/open-new-terminal-tab-in-the-same-directory-with-the-active-tab">highlight</a>, please enable it for the following tags:</p>

<ul>
<li>applescript</li>
<li>launchd (for their plist/xml files)</li>
<li>terminal</li>
<li>script</li>
<li>bash</li>
<li>shell</li>
</ul>

<p>Thank you :)</p>


<h1>ANSWERS</h1>
		<p>Syntax highlighting has been turned on for the site.  The community moderators will be able to set the language for a tag on its info page.</p>


<p>I've added syntax highlight for the tags you mentioned. It may take a little time to figure out which language to use for AppleScript, and which language is most common for 'script'.</p>

<p>Feel free to comment if there's a problem.</p>


	</body>
</html>