<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag for Bluetooth Low Energy
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Tag for Bluetooth Low Energy</h2>
<p>There should be a tag for <a href="https://en.wikipedia.org/wiki/Bluetooth_low_energy" rel="nofollow">Bluetooth Low Energy</a> (distinct from <a href="https://en.wikipedia.org/wiki/Bluetooth" rel="nofollow">Bluetooth</a>). It should include the synonyms: Bluetooth LE, Bluetooth Smart and BLE.</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>