<html>
	<head>
		<title id = 'pagetitle'>Tag wiki text bug
		</title>
	<head>
	<body id = 'pagebody'><p>I created a couple of tag wikis today but i noticed that if you create the tag wiki, the information in the hover-bubble doesn't display the description text if there are no followers of the tag.  I had to follow and un-follow the tag to activate the text description.</p>


<h1>ANSWERS</h1>
		<p>The data in the hover menu is fed off the wiki post, there is a slight edge condition where the data is cached for an hour. </p>

<p>Also, while your edit is pending you will not be able to see the wiki excerpt in the hover menu. </p>


	</body>
</html>