<html>
	<head>
		<title id = 'pagetitle'>Tag for questions that apply to MacBook, MacBook Pro, PowerBook equally?
		</title>
	<head>
	<body id = 'pagebody'><p>There are some questions on the site that apply to all Apple notebook computers.  These questions tend to be tagged arbitrarily as MacBook or MacBook Pro.  However, a question can also be related very specifically to a MacBook rather than a MacBook Pro and vice-versa.  </p>

<p>Should there be a tag that covers all Apple notebook computers such as <code>[notebook]</code>?</p>


<h1>ANSWERS</h1>
		<p>FYI I did the wikipedia "be bold" thing and created two new tags:</p>

<p><code>[unibody]</code>: for questions that that aren't specific to the MB or MBP, but encompass both versions if they are in unibody cases.</p>

<p><code>[notebook]</code>: for questions that encompass all Apple portable computers with a physical keyboard (i.e. no iPads, iPod Touch, iPhone... just MBP, MB, PowerBooks, etc).</p>

<h2>edit @Dori:</h2>

<p>Why are you rolling back these changes without any discussion?  You haven't posted on here why you think the tags should be kept as is.  So far there is no opposition, and the tags you reverted to are not descriptive of the topic elements in the questions.</p>

<h2>in regards to these particular tags:</h2>

<p>this is obviously open to discussion, so feel free to post your preferred alternative and hopefully some votes can help us reach a consensus. I just created the tags to get the train rolling, but they can be edited if there is a better option</p>


<p>How about using <code>[laptop]</code> for those questions? (I'm adding this as an alternative as calavera suggested.)</p>

<p><sup>See what <a href="http://en.wikipedia.org/wiki/Notebook_%28computer%29" rel="nofollow">Wikipedia prefers</a>. ;-)</sup></p>

<p><strong>Edit</strong>: With the above I meant not using two categories like <code>[unibody]</code> &amp; <code>[notebook]</code>. I am <strong>not</strong> suggesting that any original <code>[macbook]</code> etc. tags should be removed, if that's what some downvoter thought.</p>


<p>Since this is a poo-storm I will add my two cents. </p>

<p>I believe that macbook or macbookpro should be there, as much as macbookair (if it exists), a tag synonym should encompass the same models (i.e. unibody, etc.)</p>

<p>The truth is that tags are nice, but if you go tooooooo specific, it turns against you. If I have a macbook pro 17  problem, I don t think that the (in)existence of that tag would prevent me to find it. I ll just search macbook pro 17  etc. </p>

<p>Apple Laptops are called macbook, macbook pro and macbook air. That s all you need in my humble opinion. Of course Powerbook should be there too, but old models will definitely get less questions. </p>

<p>All other variants (size, etc.) should be grouped into synonyms. </p>

<p><strong>And Unibody stuff?</strong>
Unibody <em>should</em> be its own tags. Mac-minis are unibodies too, so that s an <em>additional</em> and <em>distinctive</em> feature of a particular model. There are Macbook Pros and Unibody Macbook Pros. The tag should exist as such. </p>

<p>In my opinion, (to repeat myself) the current Apple models (macbooks) are more or less the same and a problem that exists on a Macbook Pro 15  will probably be the same on a 17  model and if not, my idea is that Tags are not the right tool to differentiate <em>that</em> particular aspect of the question. </p>


	</body>
</html>