<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag for alternatives to Windows-only applications?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Tag for alternatives to Windows-only applications?</h2>
<p>I created a tag <code>[windows-alternative]</code> to describe a question where the OP is looking for an OS X alternative to an application that is Windows-only.  It doesn't feel quite right though, maybe someone has a suggestion for better tag to describe these types of posts?</p>

<p>FWIW, I also think that for these types of questions, this tag should be used instead of <code>[osx]</code>, since it's implicit that the poster is looking for an osx application</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Maybe <code>[osx-apps]</code> or <code>[osx-application]</code> ? I'm not sold on <code>[windows-alternative]</code> as I feel it's a bit generic, though so are the other two I mentioned. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>What about <code>[software-recommendation]</code> instead?</p>

<p>Of note, there used to be some concern over the length of the tag <a href="https://meta.superuser.com/questions/171/superuser-tagging-question-software-hardware-product-recommendations">last year</a> - I'm not sure what lists Jeff is referring to.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I know I'm a bit late, but if you're concern about the length of the tag, why not try : </p>

<pre><code>[software-advice]       # I prefer this one.
</code></pre>

<p>OR</p>

<pre><code>[software-suggestion]
</code></pre>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>