<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag synonyms page layout bug
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Tag synonyms page layout bug</h2>
<p>The <a href="https://apple.stackexchange.com/tags/wifi/synonyms">tag synonyms page</a> seems like it has a layout bug.  The text in the body is very close to the margin.  See screenshot:  </p>

<p><img src="https://i.stack.imgur.com/U9C6O.png" alt="Tag synonym page screenshot"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The fix will be in the next deployment.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>