<html>
	<head>
		<title id = 'pagetitle'>Tag wikis should not contain "Questions about" or "Concerning"
		</title>
	<head>
	<body id = 'pagebody'><p>A tag, by definition, is for questions about its stated topic. Repeating "questions about" or variants thereof ("concerning", etc) is redundant and looks bad.</p>

<p><img src="https://i.stack.imgur.com/98CjR.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
			</body>
</html>