<html>
	<head>
		<title id = 'pagetitle'>Tag wiki reputation bug
		</title>
	<head>
	<body id = 'pagebody'><p>I assume this is a bug, tag wiki editing now requires 20,000 reputation?</p>

<p><a href="https://apple.stackexchange.com/privileges/edit-tag-wiki">https://apple.stackexchange.com/privileges/edit-tag-wiki</a></p>


<h1>ANSWERS</h1>
		<p>Not a bug, if you don't have 20k rep then suggest an edit and it will be peer reviewed.</p>


	</body>
</html>