<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag for alternatives to Windows-only applications?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-58" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::64</h3>
				<h2>Tag for alternatives to Windows-only applications?</h2>
<p>I created a tag <code>[windows-alternative]</code> to describe a question where the OP is looking for an OS X alternative to an application that is Windows-only.  It doesn't feel quite right though, maybe someone has a suggestion for better tag to describe these types of posts?</p>

<p>FWIW, I also think that for these types of questions, this tag should be used instead of <code>[osx]</code>, since it's implicit that the poster is looking for an osx application</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-59"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Maybe <code>[osx-apps]</code> or <code>[osx-application]</code> ? I'm not sold on <code>[windows-alternative]</code> as I feel it's a bit generic, though so are the other two I mentioned. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-88" class = "comment">
				<p>you helped me figure out why `[windows-alternative]` doesn't feel right... to me it's actually too specific rather than generic.  If someone is asking for a software recommendation I guess it doesn't really matter whether they want an alternative to a windows app or something that just popped into their head.</p>
			</div>
			<br><div id = "ans-60"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>What about <code>[software-recommendation]</code> instead?</p>

<p>Of note, there used to be some concern over the length of the tag <a href="https://meta.superuser.com/questions/171/superuser-tagging-question-software-hardware-product-recommendations">last year</a> - I'm not sure what lists Jeff is referring to.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-87" class = "comment">
				<p>+1, I like that.</p>
			</div>
			<div id = "comment-89" class = "comment">
				<p>same here, nice... editing the tags to use that instead.</p>
			</div>
			<div id = "comment-90" class = "comment">
				<p>/flame-vest-on: I did however use `[software-recommendation]` rather than `[software-rec]`.  I know that's not the same as superuser, but since it's within the range of chars allowed, I figured it was better to be as specific as possible.  /flame-vest-off.... if others think that's stupid, feel free to edit :P</p>
			</div>
			<div id = "comment-91" class = "comment">
				<p>@calavera: I wonder why SU used `[software-rec]` instead of the full name? Using the shortened name always looked odd. Nice job. Edited to reflect this.</p>
			</div>
			<div id = "comment-95" class = "comment">
				<p>+1, less abbreviations the better.</p>
			</div>
			<div id = "comment-107" class = "comment">
				<p>Reverted edits to change it to `[software-rec]` back to `[software-recommendation]`</p>
			</div>
			<div id = "comment-113" class = "comment">
				<p>Jeff thinks that the "recommendation" part is too long. Plus these kind of questions aren't what he wants to see on these sites... due to them being "list of x" type questions. He may rename the tag in the future, so just be warned. There are several threads about this on the meta.webapps.stackexchange.com site. [Here's one](http://meta.webapps.stackexchange.com/questions/54/should-rec-tags-be-added) to get you started.</p>
			</div>
			<br><div id = "ans-64"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I know I'm a bit late, but if you're concern about the length of the tag, why not try : </p>

<pre><code>[software-advice]       # I prefer this one.
</code></pre>

<p>OR</p>

<pre><code>[software-suggestion]
</code></pre>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-109" class = "comment">
				<p>I'm not concerned about the length of the tag... it auto-fills for you so no one should ever have to type the entire tag anyway.</p>
			</div>
			<div id = "comment-111" class = "comment">
				<p>I'm saying this as a complement about the last edition of Chealion referring to comment of Jeff on this http://meta.superuser.com/questions/171/</p>
			</div>
			<div id = "comment-115" class = "comment">
				<p>Understood.  I think if the super-super-user's like Jeff don't like the tag, they are obviously free to change it to whatever they like.  Personally I like the explicit nature of the software-recommendation tag, but if the powers that be want to change it, I'd rather they follow the superuser precedent and switch it back to software-rec.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>