<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>tag synonym reminder -> reminders
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>tag synonym reminder -> reminders</h2>
<p>I think <a href="https://apple.stackexchange.com/questions/tagged/reminder" class="post-tag" title="show questions tagged &#39;reminder&#39;" rel="tag">reminder</a> should be a synonym of <a href="https://apple.stackexchange.com/questions/tagged/reminders" class="post-tag" title="show questions tagged &#39;reminders&#39;" rel="tag">reminders</a> - I didn't find the question mine got duped to because it actually doesn't come up on a search of 'share reminder' - but does on 'share reminders'.  I am not completely sure if this would actually improve that searching, but regardless I think it will help in general.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>There is no <a href="https://apple.stackexchange.com/questions/tagged/reminder" class="post-tag" title="show questions tagged &#39;reminder&#39;" rel="tag">reminder</a> tag on the main site. The source question uses <a href="https://apple.stackexchange.com/questions/tagged/reminders" class="post-tag" title="show questions tagged &#39;reminders&#39;" rel="tag">reminders</a>, and the title uses the word 'reminders' in the title as well. This actually sounds like a bad search heuristic more than anything.</p>

<p>Don't fret about having your question closed :).</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>