<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag wiki text bug
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-355" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::36</h3>
				<h2>Tag wiki text bug</h2>
<p>I created a couple of tag wikis today but i noticed that if you create the tag wiki, the information in the hover-bubble doesn't display the description text if there are no followers of the tag.  I had to follow and un-follow the tag to activate the text description.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-359"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The data in the hover menu is fed off the wiki post, there is a slight edge condition where the data is cached for an hour. </p>

<p>Also, while your edit is pending you will not be able to see the wiki excerpt in the hover menu. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-740" class = "post">
				<p>OK well I've created several wiki entries and this has happened for every one.</p>
			</div>
			<div id = "comment-742" class = "post">
				<p>@Griffo , after they were approved it was still blank for longer than an hour?</p>
			</div>
			<div id = "comment-743" class = "post">
				<p>They didn't require approval as far as I know, but they appeared as soon as I clicked the star to follow the tag.  So it appears that the wiki information was saved when I created it but wasn't linked to the tag unless I clicked the star to follow it.</p>
			</div>
			<div id = "comment-744" class = "post">
				<p>@Griffo, yeah there is at least a 1 hour cache in play. Did they appear 1 hour later if you did not click follow</p>
			</div>
			<div id = "comment-745" class = "post">
				<p>Haven't tested that yet, I'll try one later.  So you're saying that if I create a tag wiki, the description won't show in the hover bubble until the next cache load unless I force it by clicking follow?  What's the reason for that?  Would the hover action not trigger an AJAX request to populate the bubble?  Or was it decided that since they tag wikis don't change regularly that refreshing the cache hourly was sufficient?</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>