<html>
	<head>
		<title id = 'pagetitle'>Tag bug involving auto-chopping of excess words in wiki excerpts
		</title>
	<head>
	<body id = 'pagebody'><p>The Tags page, when showing excerpts, automatically removes some key words from the beginning of excerpts (e.g. "Terminal is" from <a href="https://apple.stackexchange.com/questions/tagged/terminal" class="post-tag" title="show questions tagged &#39;terminal&#39;" rel="tag">terminal</a>). This mostly works fine, except for two things:</p>

<ul>
<li><p><strong>Capitalization inconsistency</strong></p>

<p>It does not then capitalize the first remaining word, so some excerpts begin with "the" and some "The."</p></li>
<li><p><strong>Extra deleted text</strong></p>

<p>At least one tag (<a href="https://apple.stackexchange.com/questions/tagged/backup" class="post-tag" title="show questions tagged &#39;backup&#39;" rel="tag">backup</a>) has extra text removed. See the below screenshots.</p></li>
</ul>

<p>Text displayed on the Tags page:</p>

<p><img src="https://i.stack.imgur.com/xD5WM.png" alt="summary on the tag page"></p>

<p>Text displayed upon hover:</p>

<p><img src="https://i.stack.imgur.com/Xa1VS.png" alt="hovertext"></p>


<h1>ANSWERS</h1>
		<p>This is an intentional feature and not simply a bug. </p>

<p>The reasons for it are enumerated here (as well as the regex used to neuter presumably excessively wordy tag summaries):</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/82700/new-tags-page-mangles-tag-wiki-excerpts">New tags page mangles tag wiki excerpts</a></li>
</ul>

<p>In summary, this looks like a design compromise to fit a portion of the text within the available space.</p>


	</body>
</html>