<html>
	<head>
		<title id = 'pagetitle'>Tag wiki color bug
		</title>
	<head>
	<body id = 'pagebody'><p>The editing pages for tag wikis are not very legible, see screenshot below:<br>
<img src="https://i.stack.imgur.com/qhF6N.png" alt="Tag wiki editing page screenshot"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>