<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag bug involving auto-chopping of excess words in wiki excerpts
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1176" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::62</h3>
				<h2>Tag bug involving auto-chopping of excess words in wiki excerpts</h2>
<p>The Tags page, when showing excerpts, automatically removes some key words from the beginning of excerpts (e.g. "Terminal is" from <a href="https://apple.stackexchange.com/questions/tagged/terminal" class="post-tag" title="show questions tagged &#39;terminal&#39;" rel="tag">terminal</a>). This mostly works fine, except for two things:</p>

<ul>
<li><p><strong>Capitalization inconsistency</strong></p>

<p>It does not then capitalize the first remaining word, so some excerpts begin with "the" and some "The."</p></li>
<li><p><strong>Extra deleted text</strong></p>

<p>At least one tag (<a href="https://apple.stackexchange.com/questions/tagged/backup" class="post-tag" title="show questions tagged &#39;backup&#39;" rel="tag">backup</a>) has extra text removed. See the below screenshots.</p></li>
</ul>

<p>Text displayed on the Tags page:</p>

<p><img src="https://i.stack.imgur.com/xD5WM.png" alt="summary on the tag page"></p>

<p>Text displayed upon hover:</p>

<p><img src="https://i.stack.imgur.com/Xa1VS.png" alt="hovertext"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2857" class = "comment">
				<p>Are you OK with the answer provided? Would you like us to move this to the main meta site since that's where consensus would need to be built to change the system wide design.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1312"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This is an intentional feature and not simply a bug. </p>

<p>The reasons for it are enumerated here (as well as the regex used to neuter presumably excessively wordy tag summaries):</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/82700/new-tags-page-mangles-tag-wiki-excerpts">New tags page mangles tag wiki excerpts</a></li>
</ul>

<p>In summary, this looks like a design compromise to fit a portion of the text within the available space.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2596" class = "comment">
				<p>That's a bizarre algorithm. It it's intentional, someone has odd intentions. I see what they're trying to do, but I believe they're doing it wrong.</p>
			</div>
			<div id = "comment-2856" class = "comment">
				<p>@DanielLawson We can take it up on the [main meta](http://meta.stackoverflow.com/) if you want to see if it could be changed...</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>