<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag wikis should not contain "Questions about" or "Concerning"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-618" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::99</h3>
				<h2>Tag wikis should not contain "Questions about" or "Concerning"</h2>
<p>A tag, by definition, is for questions about its stated topic. Repeating "questions about" or variants thereof ("concerning", etc) is redundant and looks bad.</p>

<p><img src="https://i.stack.imgur.com/98CjR.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1112" class = "post">
				<p>Oops - I'm guilty of at least one of those. Thanks for pointing it out - it was an easy mistake for a new tag editor to make. I bet I'll remember it next time.</p>
			</div>
			<div id = "comment-1197" class = "post">
				<p>I created a bunch of tags where I used the term "Concerning" specifically because I saw so many existing tags that used "Questions about" and I thought "Concerning" was more concise and helpful. Now I've learned that the powers that be frown on both terms. Now I know better.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>