<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag request: safari-9
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2636" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::28</h3>
				<h2>Tag request: safari-9</h2>
<p>To me, there are enough differences with prior versions of Safari  and Safari 9 that a [safari-9] tag is worthwhile.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5912" class = "comment">
				<p>Other than the Cmd-(1,2,3...) stuff and pinned tabs, what changed?</p>
			</div>
			<div id = "comment-5914" class = "comment">
				<p>@IanC. My brain's fuzzy logic circuits are telling me we're going to see a lot more hidden differences come out because Safari updates were an item during the WWDC 2015 Keynote speech. Also, as site traffic increases version segregation will become more important. Official list: https://developer.apple.com/library/prerelease/mac/releasenotes/General/WhatsNewInSafari/Articles/Safari_9.html</p>
			</div>
			<div id = "comment-5915" class = "comment">
				<p>I'm generally well opposed to sub-dividing things along version lines tags like this without _very_ good reasons to do so. It doesn't help with discoverability and it only confuses newer users trying to do the right thing with tags. Unlike operating systems, program rarely get the kind of updates that require separate, versioned tags like this. I've asked the other mods to consider this request as well. We should always have as few tags as possible and not one more.</p>
			</div>
			<div id = "comment-5916" class = "comment">
				<p>Don't see how the changes in Safari 9 validate a dedicated tag (we didn't add one when Safari got extensions and it didn't hurt either). Having version-specific tags on their own will primarily confuse users (most of them probably don't even know which Safari version they are using (hey, even I don't)).</p>
			</div>
			<div id = "comment-5917" class = "comment">
				<p>Fair enough. Sound arguments. I apologize for jumping the gun on this request. I'm used to the volume of questions of Stack Overflow where a version tags for things like Xcode really help find pertinent answers. But I see now that the general [safari] tag only has <2K questions.</p>
			</div>
			<div id = "comment-5918" class = "comment">
				<p>Jeff - +1 from me. Even though the current answer is "no" - it's very good to have discussions here on meta to clarify thinking on tags. (I know a meta down vote means I don't want to see this implemented, but I can't help but encourage discussion here on something actually very needed for people using the site which is community tag curation.)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2637"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-2</h3>
				<p><p>I created the tag. I am mainly a chrome user so I don't know the difference. Please feel free to make the tag edit. It could however be later turned into a tag synonym to [safari]</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/safari-9">https://apple.stackexchange.com/questions/tagged/safari-9</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2639"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I've merged the safari versions all into safari. There's simply not enough traffic to warrant a specific tag for that when we can search for safari 9 in the body of posts.</p>

<p>If it keeps popping up, I'll probably make a synonym so that people realize that we're keeping the safari questions together for now.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>