<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Tag for Bluetooth Low Energy
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1998" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::39</h3>
				<h2>Tag for Bluetooth Low Energy</h2>
<p>There should be a tag for <a href="https://en.wikipedia.org/wiki/Bluetooth_low_energy" rel="nofollow">Bluetooth Low Energy</a> (distinct from <a href="https://en.wikipedia.org/wiki/Bluetooth" rel="nofollow">Bluetooth</a>). It should include the synonyms: Bluetooth LE, Bluetooth Smart and BLE.</p>

			</div><h3>Comments</h3>
			<div id = "comment-3838" class = "comment">
				<p>Hmm - my initial thoughts are that's splitting things a little too finely. What would be the benefit to watering down the pool of questions with two BT tags? Feel free to answer this to make a case or edit it into the question....</p>
			</div>
			<div id = "comment-3839" class = "comment">
				<p>They are distinct technologies that share the same name. Bluetooth LE was adopted by Apple 2 years ago on OS X and iOS, so there are issues that arise with this transition. On Stackoverflow they have distinct tags.</p>
			</div>
			<div id = "comment-3840" class = "comment">
				<p>I'm with @bmike here: What would be the benefit for the users on AD if we have two different tags? Most of them probably don't care to much about the technical difference between BT and BT LE resulting in confussion about which tag to pick.</p>
			</div>
			<div id = "comment-3844" class = "comment">
				<p>@patrix When it comes to technical issues these small differences are important. For people who know the difference they can use the tag to narrow down their problem. There are already a handful of Bluetooth LE questions on Ask Different that could be tagged more accurately. For people that don't know the difference this tag could be educational.</p>
			</div>
			<div id = "comment-3845" class = "comment">
				<p>With Bluetooth LE being marketed as a "better/newer" Bluetooth the technical differences will be totally ignored by the proverbial end user (and rightful so). So the chance of users picking the right tag is slim and cleaning up tags is something which is seldomly done. In additon the current tag definition for Bluetooth is very broad and covers all Bluetooth versions already.</p>
			</div>
			<div id = "comment-3847" class = "comment">
				<p>I accept that the 'Bluetooth' tag would be a superset of the 'Bluetooth LE' tag. That is not a problem. There are the 'osx' and 'osx-10.7' tags, for instance.</p>
			</div>
			<div id = "comment-3848" class = "comment">
				<p>Bluetooth LE has advantages over earlier forms of Bluetooth because it uses less energy, but it is also slower. The target uses are different and the hardware is different.</p>
			</div>
			<div id = "comment-3849" class = "comment">
				<p>Perhaps it isn't done often, but I clean up tags when I determine that there are more appropriate ones to use.</p>
			</div>
			<div id = "comment-3861" class = "comment">
				<p>@ThomasW how does this help a user looking for an answer they will just know Bluetooth and not the differences so their search will be for Bluetooth - also how many of the current tag would be in each category?</p>
			</div>
			<div id = "comment-3862" class = "comment">
				<p>If they are searching by words then this is a non-issue. If they are searching by tags then they'll see both tags. Also, bluetooth low energy items have a chance of also being tagged bluetooth because bluetooth is a superset.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1998">Record</button>
				<button class="record-stop" id="stop-1998">Stop</button>
				<p id="recording-1998"></p>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>