<html>
	<head>
		<title id = 'pagetitle'>Tag corrections
		</title>
	<head>
	<body id = 'pagebody'><p>Proper tagging for questions, use this to determine a baseline format for tags.</p>

<p>Mac OS X => <code>[osx]</code> for example. </p>

<p>All tags should be lowercase, case doesn't matter. Dashes <code>-</code> are used instead of spaces, so <code>[mac-mini]</code>. That could also be just <code>[mini]</code> if we prefer. </p>

<p>Propose tags, making sure to include a general description and why you feel this is the proper "tag" for this. </p>


<h1>ANSWERS</h1>
		<h2><a href="https://apple.meta.stackexchange.com/q/626/8546">FileVault 1 and 2: should we have tags [filevault-1] and [filevault-2] for the two different technologies?</a></h2>

<p>Considering the potential for complication, I created a separate question for that. </p>


<h2>core-storage</h2>

<p><a href="http://chat.stackexchange.com/transcript/message/1498703#1498703">Proposed</a> and <a href="http://chat.stackexchange.com/transcript/38?m=1498713#1498713">created</a> during discussion in Ask Different Chat. Seeing this question now, I realise that process might have been sidestepped, but this particular tag seems non-contentious. </p>

<p>Under <a href="https://apple.meta.stackexchange.com/questions/71/creation-of-wiki-tags/631#631">Creation of wiki tags</a> there's a link to the tag wiki entry. </p>


<h1><a href="https://apple.stackexchange.com/questions/tagged/quicklook" class="post-tag" title="show questions tagged &#39;quicklook&#39;" rel="tag">quicklook</a> => <a href="https://apple.stackexchange.com/questions/tagged/quick-look" class="post-tag" title="show questions tagged &#39;quick-look&#39;" rel="tag">quick-look</a></h1>

<p><img src="https://i.stack.imgur.com/9rzbX.png" alt="Quick Look in Finder"></p>

<p><a href="http://www.apple.com/uk/pro/tips/quicklook.html" rel="nofollow noreferrer">Apple (United Kingdom)   Pro   Tips   Make the Most of Quick Look</a></p>

<p><em>QuickLook</em>   one word  is an abbreviation sometimes, not always, used for developers (example: <a href="http://developer.apple.com/library/mac/#releasenotes/General/MacOSXLionAPIDiffs/QuickLook.html" rel="nofollow noreferrer">QuickLook Changes</a>) but the more common expression, in Finder and elsewhere, is two words: </p>

<ul>
<li><em>Quick Look</em></li>
</ul>


<h1><a href="https://apple.stackexchange.com/questions/tagged/hackintosh" class="post-tag" title="show questions tagged &#39;hackintosh&#39;" rel="tag">hackintosh</a> => <a href="https://apple.stackexchange.com/questions/tagged/osx86" class="post-tag" title="show questions tagged &#39;osx86&#39;" rel="tag">osx86</a> or a synonym</h1>

<p>Forgetting that I recently gained reputation to create tags, I added tags to <a href="https://apple.stackexchange.com/q/8392/8546">What&#39;s the advantage of buying an iMac over building a Hackintosh?</a> (expected the system to respond that there's no such tag; only after the edition was submitted did I remember that I had the privilege to create). Sorry  it wasn't intended to jump the gun without discussion. After making this post I <a href="http://chat.stackexchange.com/transcript/message/1550431#1550431">waved a flag in Ask Different Chat</a>.  </p>

<h2>Consideration</h2>

<p><a href="https://apple.meta.stackexchange.com/q/2/8546">Can one ask Hackintosh questions on Ask Different?</a></p>

<h2>Actions</h2>

<p>Either: </p>

<ul>
<li><p>remove both tags (and I'll remember to not re-use either one until after the meta question above is answered); or</p></li>
<li><p>allow one tag, make the other a synonym.</p></li>
</ul>

<p>From my point of view, absolutely no rush. </p>

<h2>Reference</h2>

<p>For what it's worth, in Wikipedia there's a proposal to merge <a href="http://en.wikipedia.org/wiki/Hackintosh" rel="nofollow noreferrer">hackintosh</a> into <a href="http://en.wikipedia.org/wiki/OSx86" rel="nofollow noreferrer">OSx86</a>. </p>

<p>Of the two pages, the page for OSx86 is vastly more fleshy, and (like <a href="https://apple.meta.stackexchange.com/q/2/8546">Can one ask Hackintosh questions on Ask Different?</a>) includes coverage of legal issues and Apple objections. In Ask Different tag info for OSx86, we could simply refer to the Wikipedia page, and so help to avoid excessive chat in Stack Exchange. So of the two tags, my preference would be <strong>osx86</strong>.</p>


	</body>
</html>