<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Tag usage for iPads now that there are three generations
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Tag usage for iPads now that there are three generations</h2>
<p>I wanted to have some discussion on the tags for iPads.</p>

<p>We currently have a need to tag questions about the hardware being released on March 16, 2012 - and Apple is calling them the new iPad.</p>

<p>Pragmaticatically, we had <a href="https://apple.stackexchange.com/questions/tagged/ipad-3" class="post-tag" title="show questions tagged &#39;ipad-3&#39;" rel="tag">ipad-3</a> questions crop up even before the announcement and later a synonym was defined to map <a href="https://apple.stackexchange.com/questions/tagged/new-ipad" class="post-tag" title="show questions tagged &#39;new-ipad&#39;" rel="tag">new-ipad</a> to <a href="https://apple.stackexchange.com/questions/tagged/ipad-3" class="post-tag" title="show questions tagged &#39;ipad-3&#39;" rel="tag">ipad-3</a>.</p>

<p>Until we have more time to digest how Apple will differentiate between the current <em>new</em> iPad and the original <em>then new but now no longer new</em> iPad with a <a href="http://support.apple.com/kb/HT1353" rel="nofollow noreferrer">canonical support article</a> - I wanted to just open a question here for answers, discussion and comments in general about tagging iPads.</p>

<p>Also - please link to specific issues, discussion or problems in an answer here should you see any problems on the main site with tagging confusion around the names of iPads.</p>

<p>In general - use the iPad tag and only use the new-iPad tag when the question needs the additional qualifier.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I dislike using <code>new-ipad</code> as a tag because it has a built-in expiration date - when the next iPad comes out the current one will no longer be the new one. Because of this, I'd like to use the generation number in the tag, like perhaps <code>ipad-3rd-generation</code>, <code>ipad-2012</code> or even <code>ipad-3</code> and define <code>new-ipad</code> as a synonym for those that we can redefine when a new iPad comes out.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>By all appearances, Apple is moving along the path it uses for iPod (classic and touch) and computers. The new machine is the iPad (Third Generation). Though the predecessor was known as the iPad 2 (likely to make it easier to identify cases and such), it's safe enough to ignore the market nomenclature and think of it as the iPad (Second gen.). Apply the same logic to the original iPad.</p>

<p>I suggest using the tags <code>ipad</code> as the over all category (which likely addreeses most questions at this time, relatively little is model specific, though that will change as the original model nears end of usable life) and the specialized <code>ipad-1</code>, <code>ipad-2</code> and <code>ipad-3</code> if it's necessary to identify specific models.</p>

<p>This seems to be the simplest and most direct classification. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I think there should be no model specific tags at all. All three iPads are virtually identical and there is no need to categorise questions that are specific to an individual model.</p>

<p>We don't have an <code>ipad-wifi</code> tag, or an <code>ipad-16gb</code> tag, even though these are far more significant distinctions than what generation a user has. We also don't have an <code>ipad-1</code> tag by the way.</p>

<p>There are questions tagged <code>ipad-2</code>, <code>ipad-3</code> and <code>new-ipad</code>... I think these should be deleted/merged into just <code>ipad</code>.</p>

<p>Anything in your question that is specific to an individual iPad model should be in the question text or (perhaps) it's title. In these cases, the new model is officially referred to as the 3rd generation iPad.</p>

<p>I just had a look at a whole page full of questions tagged <code>ipad-2</code> and virtually every single one of them was not at all specific to the 2nd generation iPad. They should have been tagged <code>ipad</code> instead.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Apple has shown their cards on how all three generations of the iPad are documented with names when you need to tell them apart.</p>

<p>The official manual lists the iPad as <strong>iPad (3rd generation)</strong> in the <a href="http://manuals.info.apple.com/en_US/ipad_user_guide.pdf" rel="nofollow noreferrer">printed / PDF user's guide</a>. This is the primary consumer facing naming convention since many products get "the new" treatment launch in printed, media, advertising and web sales. At some point "the new" goes away and we are left with the canonical names.</p>

<p>When you browse the store for iPad docks, the <a href="http://store.apple.com/us/product/MC360ZM/A" rel="nofollow noreferrer">MC360ZM/A</a> dock lists compatibility with the iPad 1st generation and the <a href="http://store.apple.com/us/product/MC940ZM/A" rel="nofollow noreferrer">MC940ZM/A</a> dock with the iPad 2 2nd generation and iPad 3rd generation.</p>

<p><img src="https://i.stack.imgur.com/IyyGp.png" alt="enter image description here"></p>

<p>To complicate things <em>(it can never be too easy, can it?)</em>, <a href="http://support.apple.com/manuals/#ipad" rel="nofollow noreferrer">Apple's support web site for manuals</a> changes this terminology a bit. If you are logged in with an Apple ID and browse a few manuals - both the general ones that address iOS 5.1 on the new iPads and specific ones that address radio spectrum power testing and regulatory compliance - you will build up a slightly different list of iPads - akin to the sales names when you buy them from the online store and names need to differentiate between colors, carriers, and 3G/4G radio capabilities.</p>

<p><img src="https://i.stack.imgur.com/fiwTU.png" alt="enter image description here"></p>

<hr>

<p>Now as to what makes sense here, I see two alternatives - the first being do we try to set precedent and use iPad for all general questions as well as for the current device. The downside there is some re-tagging will be needed and some user confusion will ensue. The benefit is one big tag to keep things together and make people with tag reputation goals and badges more likely to arise (by not segmenting the iPad questions). The other alternative is to leave iPad alone and general and to make up a tag for each model as needed. We can use synonyms to group things (say some use of iPad 2 (2nd generation) WiFi + 3G (Verizon) might be better pointing to iPad 2). This will also have some retagging when people don't tag correctly and some user confusion (but different users will be confused here).</p>

<p>Regardless - it looks like we'll need a tag structure something like:</p>

<ul>
<li>iPad</li>
<li>iPad (1st generation)</li>
<li>iPad 2 <strong><em>or</em></strong> iPad 2 (2nd generation)</li>
<li>iPad (3rd generation)</li>
</ul>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I advocate splitting product names and generations into seperate tag.  <code>iPad</code> <code>Gen3</code> is absolutely clear to me, and the only downside would be having <code>Gen3</code> applicable to multiple products but I don't see that as a large issue as no-one will ever search on a tag like that independently without providing scope via a product name.</p>

<p>It depends on how you see Tags as fitting.  Are they for searching, or for categorising for the purpose of trending in profiles?</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>