<html>
	<head>
		<title id = 'pagetitle'>Tag not longer presents
		</title>
	<head>
	<body id = 'pagebody'><p>A few weeks ago, I suggested a new tag related to 4K. The suggestion had been accepted but right now I don't see the tag anymore. </p>

<p>Is this normal? There is some regulation related to the evolution of the tags?</p>


<h1>ANSWERS</h1>
		<p>If I remember correctly, <a href="https://apple.stackexchange.com/review/suggested-edits/151924">this</a> and <a href="https://apple.stackexchange.com/review/suggested-edits/151923">this</a> originally have been the edits for <a href="https://apple.stackexchange.com/questions/tagged/4k" class="post-tag" title="show questions tagged &#39;4k&#39;" rel="tag">4k</a>. I've rejected both because the tag description was incorrect and incomplete.</p>


<p>The <a href="https://apple.stackexchange.com/review/suggested-edits/151881">suggested edit 151881</a> shows that <a href="https://apple.stackexchange.com/questions/tagged/4k" class="post-tag" title="show questions tagged &#39;4k&#39;" rel="tag">4k</a> was the tag that was suggested to be added, but the <a href="https://apple.stackexchange.com/posts/228423/revisions">post revisions</a> shows that <a href="https://apple.stackexchange.com/questions/tagged/retina-display" class="post-tag" title="show questions tagged &#39;retina-display&#39;" rel="tag">retina-display</a> was added. <a href="https://apple.stackexchange.com/questions/tagged/4k" class="post-tag" title="show questions tagged &#39;4k&#39;" rel="tag">4k</a> was merged with <a href="https://apple.stackexchange.com/questions/tagged/retina-display" class="post-tag" title="show questions tagged &#39;retina-display&#39;" rel="tag">retina-display</a>, but <a href="https://apple.stackexchange.com/questions/tagged/retina-display" class="post-tag" title="show questions tagged &#39;retina-display&#39;" rel="tag">retina-display</a> is a synonym of <a href="https://apple.stackexchange.com/questions/tagged/display" class="post-tag" title="show questions tagged &#39;display&#39;" rel="tag">display</a>, and as such <a href="https://apple.stackexchange.com/tags/retina-display/synonyms">/tags/retina-display/synonyms</a> redirects to <a href="https://apple.stackexchange.com/tags/display/synonyms">/tags/display/synonyms</a> which doesn't show <a href="https://apple.stackexchange.com/questions/tagged/4k" class="post-tag" title="show questions tagged &#39;4k&#39;" rel="tag">4k</a> as a synonym, because it isn't. The <a href="/questions/tagged/bug" class="post-tag required-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a> here is that the question shouldn't be able to be tagged with <a href="https://apple.stackexchange.com/questions/tagged/retina-display" class="post-tag" title="show questions tagged &#39;retina-display&#39;" rel="tag">retina-display</a> and <a href="https://apple.stackexchange.com/questions/tagged/display" class="post-tag" title="show questions tagged &#39;display&#39;" rel="tag">display</a> at the same time, as the former is a synonym of the latter.</p>


	</body>
</html>