<html>
	<head>
		<title id = 'pagetitle'>Tag for Bluetooth Low Energy
		</title>
	<head>
	<body id = 'pagebody'><p>There should be a tag for <a href="https://en.wikipedia.org/wiki/Bluetooth_low_energy" rel="nofollow">Bluetooth Low Energy</a> (distinct from <a href="https://en.wikipedia.org/wiki/Bluetooth" rel="nofollow">Bluetooth</a>). It should include the synonyms: Bluetooth LE, Bluetooth Smart and BLE.</p>


<h1>ANSWERS</h1>
			</body>
</html>