<html>
	<head>
		<title id = 'pagetitle'>Tag selector causes scrolling within the page
		</title>
	<head>
	<body id = 'pagebody'><p>The tag selector on this site and its Meta causes the content container to scroll in Chrome/Firefox, which isn't desired:</p>

<p><img src="https://i.stack.imgur.com/8kzOj.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
			</body>
</html>