<html>
	<head>
		<title id = 'pagetitle'>Tag request: safari-9
		</title>
	<head>
	<body id = 'pagebody'><p>To me, there are enough differences with prior versions of Safari  and Safari 9 that a [safari-9] tag is worthwhile.</p>


<h1>ANSWERS</h1>
		<p>I created the tag. I am mainly a chrome user so I don't know the difference. Please feel free to make the tag edit. It could however be later turned into a tag synonym to [safari]</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/safari-9">https://apple.stackexchange.com/questions/tagged/safari-9</a></p>


<p>I've merged the safari versions all into safari. There's simply not enough traffic to warrant a specific tag for that when we can search for safari 9 in the body of posts.</p>

<p>If it keeps popping up, I'll probably make a synonym so that people realize that we're keeping the safari questions together for now.</p>


	</body>
</html>