<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Tag corrections
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-49" class = "post">
			<h2>Question</h2>
			<div id="vote-49" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 103</p>
			</div>
				<h2>Tag corrections</h2>
<p>Proper tagging for questions, use this to determine a baseline format for tags.</p>

<p>Mac OS X => <code>[osx]</code> for example. </p>

<p>All tags should be lowercase, case doesn't matter. Dashes <code>-</code> are used instead of spaces, so <code>[mac-mini]</code>. That could also be just <code>[mini]</code> if we prefer. </p>

<p>Propose tags, making sure to include a general description and why you feel this is the proper "tag" for this. </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-49">Load Comments</button></br>
			<div id = "commentsection-49" class = 'collapse'>
			<div id = "comment-1131" class = "comment">
				<p>For link purposes: [Is it OSX or OS X?](http://meta.apple.stackexchange.com/q/609/8546)</p>
			</div>
			</div>
				<textarea id = "speech-49" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-49">
					<img id="start_img-49" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-633"  class = "post">
				<h2>Answer</h2>
			<div id="vote-633" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2><a href="https://apple.meta.stackexchange.com/q/626/8546">FileVault 1 and 2: should we have tags [filevault-1] and [filevault-2] for the two different technologies?</a></h2>

<p>Considering the potential for complication, I created a separate question for that. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-633" class = 'collapse'>
			</div>
				<textarea id = "speech-633" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-633">
					<img id="start_img-633" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-634"  class = "post">
				<h2>Answer</h2>
			<div id="vote-634" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>core-storage</h2>

<p><a href="http://chat.stackexchange.com/transcript/message/1498703#1498703">Proposed</a> and <a href="http://chat.stackexchange.com/transcript/38?m=1498713#1498713">created</a> during discussion in Ask Different Chat. Seeing this question now, I realise that process might have been sidestepped, but this particular tag seems non-contentious. </p>

<p>Under <a href="https://apple.meta.stackexchange.com/questions/71/creation-of-wiki-tags/631#631">Creation of wiki tags</a> there's a link to the tag wiki entry. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-634" class = 'collapse'>
			</div>
				<textarea id = "speech-634" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-634">
					<img id="start_img-634" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-653"  class = "post">
				<h2>Answer</h2>
			<div id="vote-653" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1><a href="https://apple.stackexchange.com/questions/tagged/quicklook" class="post-tag" title="show questions tagged &#39;quicklook&#39;" rel="tag">quicklook</a> => <a href="https://apple.stackexchange.com/questions/tagged/quick-look" class="post-tag" title="show questions tagged &#39;quick-look&#39;" rel="tag">quick-look</a></h1>

<p><img src="https://i.stack.imgur.com/9rzbX.png" alt="Quick Look in Finder"></p>

<p><a href="http://www.apple.com/uk/pro/tips/quicklook.html" rel="nofollow noreferrer">Apple (United Kingdom)   Pro   Tips   Make the Most of Quick Look</a></p>

<p><em>QuickLook</em>   one word  is an abbreviation sometimes, not always, used for developers (example: <a href="http://developer.apple.com/library/mac/#releasenotes/General/MacOSXLionAPIDiffs/QuickLook.html" rel="nofollow noreferrer">QuickLook Changes</a>) but the more common expression, in Finder and elsewhere, is two words: </p>

<ul>
<li><em>Quick Look</em></li>
</ul>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-653" class = 'collapse'>
			</div>
				<textarea id = "speech-653" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-653">
					<img id="start_img-653" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-659"  class = "post">
				<h2>Answer</h2>
			<div id="vote-659" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1><a href="https://apple.stackexchange.com/questions/tagged/hackintosh" class="post-tag" title="show questions tagged &#39;hackintosh&#39;" rel="tag">hackintosh</a> => <a href="https://apple.stackexchange.com/questions/tagged/osx86" class="post-tag" title="show questions tagged &#39;osx86&#39;" rel="tag">osx86</a> or a synonym</h1>

<p>Forgetting that I recently gained reputation to create tags, I added tags to <a href="https://apple.stackexchange.com/q/8392/8546">What&#39;s the advantage of buying an iMac over building a Hackintosh?</a> (expected the system to respond that there's no such tag; only after the edition was submitted did I remember that I had the privilege to create). Sorry  it wasn't intended to jump the gun without discussion. After making this post I <a href="http://chat.stackexchange.com/transcript/message/1550431#1550431">waved a flag in Ask Different Chat</a>.  </p>

<h2>Consideration</h2>

<p><a href="https://apple.meta.stackexchange.com/q/2/8546">Can one ask Hackintosh questions on Ask Different?</a></p>

<h2>Actions</h2>

<p>Either: </p>

<ul>
<li><p>remove both tags (and I'll remember to not re-use either one until after the meta question above is answered); or</p></li>
<li><p>allow one tag, make the other a synonym.</p></li>
</ul>

<p>From my point of view, absolutely no rush. </p>

<h2>Reference</h2>

<p>For what it's worth, in Wikipedia there's a proposal to merge <a href="http://en.wikipedia.org/wiki/Hackintosh" rel="nofollow noreferrer">hackintosh</a> into <a href="http://en.wikipedia.org/wiki/OSx86" rel="nofollow noreferrer">OSx86</a>. </p>

<p>Of the two pages, the page for OSx86 is vastly more fleshy, and (like <a href="https://apple.meta.stackexchange.com/q/2/8546">Can one ask Hackintosh questions on Ask Different?</a>) includes coverage of legal issues and Apple objections. In Ask Different tag info for OSx86, we could simply refer to the Wikipedia page, and so help to avoid excessive chat in Stack Exchange. So of the two tags, my preference would be <strong>osx86</strong>.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-659">Load Comments</button></br>
			<div id = "commentsection-659" class = 'collapse'>
			<div id = "comment-1185" class = "comment">
				<p>Our FAQ specifically excludes questions about running Apple operating systems on non-Apple hardware (i.e. "Hackintoshes"). To that end, I'd like to avoid having those tags - if people saw them they might, without having checked the FAQ, assume that they were on-topic.</p>
			</div>
			<div id = "comment-1186" class = "comment">
				<p>@Kyle +1 (and my tagging change to http://apple.stackexchange.com/q/8392/8546 has been rolled back, +1). Familiar with FAQ but I wasn't sure whether the "fleshing out" answer to meta question http://meta.apple.stackexchange.com/q/2/8546 meant that an answer to FAQ might be subject to change  </p>
			</div>
			</div>
				<textarea id = "speech-659" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-659">
					<img id="start_img-659" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>