<html>
	<head>
		<title id = 'pagetitle'>tag synonym reminder -> reminders
		</title>
	<head>
	<body id = 'pagebody'><p>I think <a href="https://apple.stackexchange.com/questions/tagged/reminder" class="post-tag" title="show questions tagged &#39;reminder&#39;" rel="tag">reminder</a> should be a synonym of <a href="https://apple.stackexchange.com/questions/tagged/reminders" class="post-tag" title="show questions tagged &#39;reminders&#39;" rel="tag">reminders</a> - I didn't find the question mine got duped to because it actually doesn't come up on a search of 'share reminder' - but does on 'share reminders'.  I am not completely sure if this would actually improve that searching, but regardless I think it will help in general.</p>


<h1>ANSWERS</h1>
		<p>There is no <a href="https://apple.stackexchange.com/questions/tagged/reminder" class="post-tag" title="show questions tagged &#39;reminder&#39;" rel="tag">reminder</a> tag on the main site. The source question uses <a href="https://apple.stackexchange.com/questions/tagged/reminders" class="post-tag" title="show questions tagged &#39;reminders&#39;" rel="tag">reminders</a>, and the title uses the word 'reminders' in the title as well. This actually sounds like a bad search heuristic more than anything.</p>

<p>Don't fret about having your question closed :).</p>


	</body>
</html>