<html>
	<head>
		<title id = 'pagetitle'>Tag synonyms page layout bug
		</title>
	<head>
	<body id = 'pagebody'><p>The <a href="https://apple.stackexchange.com/tags/wifi/synonyms">tag synonyms page</a> seems like it has a layout bug.  The text in the body is very close to the margin.  See screenshot:  </p>

<p><img src="https://i.stack.imgur.com/U9C6O.png" alt="Tag synonym page screenshot"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>