<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Tagging the 2013 MacPro6,1
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2893" class = "post">
			<h2>Question</h2>
			<div id="vote-2893" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 30</p>
			</div>
				<h2>Tagging the 2013 MacPro6,1</h2>
<p>So, the MacPro6,1 doesn't seem to have a tag it belongs to   the <a href="https://apple.stackexchange.com/tags/mac-pro/info">tag wiki for <code>mac-pro</code></a> mentions, by date, all of the models <em>except</em> the new, completely-revised, 2013 model (and with good reason. It's basically an entirely new product line, to be honest. Not a tower, not customizable, no disc drive, no rackmount possibilities   etc etc etc.); which implies to me that it's speaking of the  old form-factor  Mac Pros.</p>

<p>Should we create a new tag for <code>mac-pro-2013</code>, or possibly rename the current one to <code>mac-pro-tower</code> or something like that? If not, the tag-wiki should be updated to make it clear that it also applies to the 2013+ Mac Pro models.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2893" class = 'collapse'>
			</div>
				<textarea id = "speech-2893" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2893">
					<img id="start_img-2893" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2894"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2894" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The tag wiki is also missing the June 2012 Mac Pro. In my opinion, it's just an outdated tag wiki and <a href="https://apple.stackexchange.com/questions/tagged/mac-pro" class="post-tag" title="show questions tagged &#39;mac-pro&#39;" rel="tag">mac-pro</a> should be used for every Mac Pro including the June 2012 and 2013 models not mentioned on the tag wiki.</p>

<p>I don't think a separate tag is really necessary to distinguish between the legacy Mac Pro models and the current design, but I'm also not against the idea. However, I would prefer tagging questions regarding the legacy design with a renamed tag such as <a href="https://apple.stackexchange.com/questions/tagged/mac-pro-legacy" class="post-tag" title="show questions tagged &#39;mac-pro-legacy&#39;" rel="tag">mac-pro-legacy</a> and the current Mac Pro being tagged with <a href="https://apple.stackexchange.com/questions/tagged/mac-pro" class="post-tag" title="show questions tagged &#39;mac-pro&#39;" rel="tag">mac-pro</a>, since I don't think we should be using anything but the product title for current products.</p>

<p>Side note: Hardware tags are misused as it is   briefly checking the first couple of <a href="https://apple.stackexchange.com/questions/tagged/mac-pro" class="post-tag" title="show questions tagged &#39;mac-pro&#39;" rel="tag">mac-pro</a> questions yields things such as "How to make Siri available when I open my MacBook?<br>
<a href="https://apple.stackexchange.com/questions/tagged/macbook" class="post-tag" title="show questions tagged &#39;macbook&#39;" rel="tag">macbook</a><a href="https://apple.stackexchange.com/questions/tagged/mac" class="post-tag" title="show questions tagged &#39;mac&#39;" rel="tag">mac</a><a href="https://apple.stackexchange.com/questions/tagged/sierra" class="post-tag" title="show questions tagged &#39;sierra&#39;" rel="tag">sierra</a><a href="https://apple.stackexchange.com/questions/tagged/mac-pro" class="post-tag" title="show questions tagged &#39;mac-pro&#39;" rel="tag">mac-pro</a><a href="https://apple.stackexchange.com/questions/tagged/siri" class="post-tag" title="show questions tagged &#39;siri&#39;" rel="tag">siri</a>", where all the hardware tags are inappropriate.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2894">Load Comments</button></br>
			<div id = "commentsection-2894" class = 'collapse'>
			<div id = "comment-6304" class = "comment">
				<p>Hm, you make a good point. I *do think* moving the old Mac Pro to a new tag is a good idea; because when *properly* used to tag hardware-specific / hardware-related questions, they're pretty substantially different machines - but it's really not a priority thing, because you're right, they look widely mis-used. /=</p>
			</div>
			<div id = "comment-6322" class = "comment">
				<p>George raises a great point about the tags being deployed very poorly and inefficiently. If we were to do an audit of 25 random questions tagged with a specific tag and most are wrongly used - merging the bad tags to a larger bin might help people know what or when to use them.</p>
			</div>
			</div>
				<textarea id = "speech-2894" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2894">
					<img id="start_img-2894" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2902"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2902" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm the opinion that we should aggressively flatten all tags for hardware. But I'm open to an explanation of how in practice it works well on another site. Or an example where it works well here.</p>

<p>The example I have is MacBook and MacBook Pro and Air and such. Do you tag the generation or the size of the screen or the CPU or if it has SSD or HDD when that was a thing? It ends up taking two to three tags for the precise questions when you can usually search the MacBook tag and then the term for what you really want.</p>

<p>Thinking more deeply, people really don't often want to ask about a MacBook pro itself - it's almost always going to be about upgrade or port or what not and then we could be tagging on the specific item in question for the best locality if you're looking for a narrow tag to follow or search.</p>

<p>The side effect of general tags is that the wikis require less maintenance if they merit a tag wiki or summary at all. The wikis should be about how to use the tag and duplicating usage for MacPro across all the models Apple has and will release seems like a lot of duplication of work for little payoff.</p>

<p>Good question though +1 for raising the discussion. I can see it might not be an easy one to pick an answer for many. Even though I lean one way - I'm open to new inputs or opinions on this topic specifically and generally.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2902" class = 'collapse'>
			</div>
				<textarea id = "speech-2902" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2902">
					<img id="start_img-2902" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>