<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Tags: iCal vs. Calendar, Address Book vs. Contacts
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1385" class = "post">
			<h2>Question</h2>
			<div id="vote-1385" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2893</p>
			</div>
				<h2>Tags: iCal vs. Calendar, Address Book vs. Contacts</h2>
<p>The definition of the <a href="https://apple.stackexchange.com/questions/tagged/ical" class="post-tag" title="show questions tagged &#39;ical&#39;" rel="tag">ical</a> tag is:</p>

<blockquote>
  <p>Apple's calendar application, bundled with every Mac OS X install</p>
</blockquote>

<p>Whereas the <a href="https://apple.stackexchange.com/questions/tagged/calendar" class="post-tag" title="show questions tagged &#39;calendar&#39;" rel="tag">calendar</a> tag is:</p>

<blockquote>
  <p>A calendar is visual representation of time, often charted by months, weeks, or days. Often, a calendar app will help one organize events on a calendar, and sometimes provide alerts or reminders as well.</p>
</blockquote>

<p>However, with the advent of Mountain Lion (and, indeed, even with iOS for a while now), <code>Calendar</code> is the name of the <code>iCal</code> application.  I imagine Apple's intent is to phase out the use of the name <code>iCal</code> as it homogenizes the platforms.</p>

<p>The same is true of the <a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a> tag:</p>

<blockquote>
  <p>Apple's built-in contacts manager software for Mac OS X.</p>
</blockquote>

<p>vs. the <a href="https://apple.stackexchange.com/questions/tagged/contacts" class="post-tag" title="show questions tagged &#39;contacts&#39;" rel="tag">contacts</a> tag:</p>

<blockquote>
  <p>Information stored on a computer about various methods to contact a person, such as e-mail, various chat networks, telephone, physical address, etc.</p>
</blockquote>

<p><code>Contacts</code> is now the name of the <code>Address Book</code> application.</p>

<hr />

<p>I imagine that simply merging the tags isn't a workable solution, as questions previously tagged with <a href="https://apple.stackexchange.com/questions/tagged/calendar" class="post-tag" title="show questions tagged &#39;calendar&#39;" rel="tag">calendar</a> or <a href="https://apple.stackexchange.com/questions/tagged/contacts" class="post-tag" title="show questions tagged &#39;contacts&#39;" rel="tag">contacts</a> aren't guaranteed to actually be referring to the formerly-named <code>iCal</code> or <code>Address Book</code> applications.</p>

<p>Going forward, however, new users on Mountain Lion and iOS devices will probably be less and less familiar with the terms <code>iCal</code> and <code>Address Book</code>.  How should the community address this with the tags?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1385">Load Comments</button></br>
			<div id = "commentsection-1385" class = 'collapse'>
			<div id = "comment-2660" class = "comment">
				<p>I believe the solution is to develop a time machine so all users are familiar with all the old technologies and terms. Apple ][ Forever!</p>
			</div>
			</div>
				<textarea id = "speech-1385" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1385">
					<img id="start_img-1385" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1387"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1387" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The same way it has for <a href="https://apple.stackexchange.com/questions/tagged/mail" class="post-tag" title="show questions tagged &#39;mail&#39;" rel="tag">mail</a> and <a href="https://apple.stackexchange.com/questions/tagged/mail.app" class="post-tag" title="show questions tagged &#39;mail.app&#39;" rel="tag">mail.app</a>.</p>

<p>We create <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a> and <a href="https://apple.stackexchange.com/questions/tagged/calendar.app" class="post-tag" title="show questions tagged &#39;calendar.app&#39;" rel="tag">calendar.app</a>. The tag could be used for both iOS and OS X.</p>

<p>I don't think a synonym should be set between for <a href="https://apple.stackexchange.com/questions/tagged/ical" class="post-tag" title="show questions tagged &#39;ical&#39;" rel="tag">ical</a> => <a href="https://apple.stackexchange.com/questions/tagged/calendar.app" class="post-tag" title="show questions tagged &#39;calendar.app&#39;" rel="tag">calendar.app</a> and <a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a> => <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a>, since Mountain Lion is not the majority OS, yet.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1387">Load Comments</button></br>
			<div id = "commentsection-1387" class = 'collapse'>
			<div id = "comment-2664" class = "comment">
				<p>The .app tags seem sensible, but I don't really see the problem in making a synonym straight away.</p>
			</div>
			<div id = "comment-2684" class = "comment">
				<p>It's worth pointing out the workaround, which is to use two tags.  (mac + calendar) almost certainly refers to whatever the mac calendar app is called, regardless if it's "iCal" or "Calendar".</p>
			</div>
			<div id = "comment-6119" class = "comment">
				<p>I'm going to necropost here by saying that there's also [tag:apple-watch] and [tag:apple-watch.app]</p>
			</div>
			</div>
				<textarea id = "speech-1387" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1387">
					<img id="start_img-1387" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>