<html>
	<head>
		<title id = 'pagetitle'>Tags: iCal vs. Calendar, Address Book vs. Contacts
		</title>
	<head>
	<body id = 'pagebody'><p>The definition of the <a href="https://apple.stackexchange.com/questions/tagged/ical" class="post-tag" title="show questions tagged &#39;ical&#39;" rel="tag">ical</a> tag is:</p>

<blockquote>
  <p>Apple's calendar application, bundled with every Mac OS X install</p>
</blockquote>

<p>Whereas the <a href="https://apple.stackexchange.com/questions/tagged/calendar" class="post-tag" title="show questions tagged &#39;calendar&#39;" rel="tag">calendar</a> tag is:</p>

<blockquote>
  <p>A calendar is visual representation of time, often charted by months, weeks, or days. Often, a calendar app will help one organize events on a calendar, and sometimes provide alerts or reminders as well.</p>
</blockquote>

<p>However, with the advent of Mountain Lion (and, indeed, even with iOS for a while now), <code>Calendar</code> is the name of the <code>iCal</code> application.  I imagine Apple's intent is to phase out the use of the name <code>iCal</code> as it homogenizes the platforms.</p>

<p>The same is true of the <a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a> tag:</p>

<blockquote>
  <p>Apple's built-in contacts manager software for Mac OS X.</p>
</blockquote>

<p>vs. the <a href="https://apple.stackexchange.com/questions/tagged/contacts" class="post-tag" title="show questions tagged &#39;contacts&#39;" rel="tag">contacts</a> tag:</p>

<blockquote>
  <p>Information stored on a computer about various methods to contact a person, such as e-mail, various chat networks, telephone, physical address, etc.</p>
</blockquote>

<p><code>Contacts</code> is now the name of the <code>Address Book</code> application.</p>

<hr />

<p>I imagine that simply merging the tags isn't a workable solution, as questions previously tagged with <a href="https://apple.stackexchange.com/questions/tagged/calendar" class="post-tag" title="show questions tagged &#39;calendar&#39;" rel="tag">calendar</a> or <a href="https://apple.stackexchange.com/questions/tagged/contacts" class="post-tag" title="show questions tagged &#39;contacts&#39;" rel="tag">contacts</a> aren't guaranteed to actually be referring to the formerly-named <code>iCal</code> or <code>Address Book</code> applications.</p>

<p>Going forward, however, new users on Mountain Lion and iOS devices will probably be less and less familiar with the terms <code>iCal</code> and <code>Address Book</code>.  How should the community address this with the tags?</p>


<h1>ANSWERS</h1>
		<p>The same way it has for <a href="https://apple.stackexchange.com/questions/tagged/mail" class="post-tag" title="show questions tagged &#39;mail&#39;" rel="tag">mail</a> and <a href="https://apple.stackexchange.com/questions/tagged/mail.app" class="post-tag" title="show questions tagged &#39;mail.app&#39;" rel="tag">mail.app</a>.</p>

<p>We create <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a> and <a href="https://apple.stackexchange.com/questions/tagged/calendar.app" class="post-tag" title="show questions tagged &#39;calendar.app&#39;" rel="tag">calendar.app</a>. The tag could be used for both iOS and OS X.</p>

<p>I don't think a synonym should be set between for <a href="https://apple.stackexchange.com/questions/tagged/ical" class="post-tag" title="show questions tagged &#39;ical&#39;" rel="tag">ical</a> => <a href="https://apple.stackexchange.com/questions/tagged/calendar.app" class="post-tag" title="show questions tagged &#39;calendar.app&#39;" rel="tag">calendar.app</a> and <a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a> => <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a>, since Mountain Lion is not the majority OS, yet.</p>


	</body>
</html>