<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Technically Inaccurate or Altogether Wrong Answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Technically Inaccurate or Altogether Wrong Answers</h2>
<p>I flagged <a href="https://apple.stackexchange.com/questions/7947/sort-trash-files-by-date-trashed/151837#151837">this answer</a> (note the link now goes nowhere, except maybe higher rep mods can see it?) twice. The answer essentially said "Apple wouldn't have a trash if they didn't intend you to use it, so why are you questioning people using the trash as a backup folder?" It was posted as an answer, but it is pretty clearly a comment to/criticism of <a href="https://apple.stackexchange.com/a/11653/54484">this answer</a>. Both times I flagged it, the flag was declined stating "flags should not be used to indicate technical inaccuracies, or an altogether wrong answer". The second time I wrote about a paragraph explaining that the prior flag was declined, and why I disagreed with it:</p>

<blockquote>
  <p>I previously flagged this and it was rejected stating that technical inaccuracies or altogether wrong answers are not reasons to flag/delete. This answer is not technically inaccurate, or altogether wrong. To be technically inaccurate or wrong, it would have to be an answer. It does not attempt to answer the original question. It instead comments on a statement made in another answer regarding using Trash as a backup folder, and whether that is its intended use.</p>
</blockquote>

<p>I see the answer is now gone, but the point remains that somebody (multiple people?) declined the flag twice when it was (in my opinion) accurate. Even if the consensus was the answer should remain, the reason for declining the flag was clearly wrong/not relevant to the answer.</p>

<p>Am I out in left field here? Was the answer not actually a comment on another answer?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I declined your flag since I try not to delete things that are not actually harmful. In this case, someone had already commented asking the poster to improve the post.</p>

<p>It's sometimes a decision point to leave something up so a new person or the community editing process can fix things and the OP can learn.</p>

<p>It's another thing to remove totally off-topic comments.</p>

<p>In this case I chose to leave that post up in hopes that the first answer by that user would get improved and we don't shut the door on that person.</p>

<p>Also keep in mind, we do not delete posts that are blatantly incorrect. Deletion is for keeping the post on topic and I saw some faint merit in leaving the post up. Apparently the moderator that deleted it felt differently as that can often be the case on marginal posts.</p>

<p>Bringing it up here on meta is the best thing since everyone can see, discuss and learn. For me, the harm in a marginal answer on a question from 2011 wasn't worse than shutting down a new user trying to contribute his first answer - especially when a comment pointed out politely the weakness of the post.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>In my opinion, It's not an answer and it should have been deleted.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>