<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Technically Inaccurate or Altogether Wrong Answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2258" class = "post">
			<h2>Question</h2>
			<div id="vote-2258" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 299</p>
			</div>
				<h2>Technically Inaccurate or Altogether Wrong Answers</h2>
<p>I flagged <a href="https://apple.stackexchange.com/questions/7947/sort-trash-files-by-date-trashed/151837#151837">this answer</a> (note the link now goes nowhere, except maybe higher rep mods can see it?) twice. The answer essentially said "Apple wouldn't have a trash if they didn't intend you to use it, so why are you questioning people using the trash as a backup folder?" It was posted as an answer, but it is pretty clearly a comment to/criticism of <a href="https://apple.stackexchange.com/a/11653/54484">this answer</a>. Both times I flagged it, the flag was declined stating "flags should not be used to indicate technical inaccuracies, or an altogether wrong answer". The second time I wrote about a paragraph explaining that the prior flag was declined, and why I disagreed with it:</p>

<blockquote>
  <p>I previously flagged this and it was rejected stating that technical inaccuracies or altogether wrong answers are not reasons to flag/delete. This answer is not technically inaccurate, or altogether wrong. To be technically inaccurate or wrong, it would have to be an answer. It does not attempt to answer the original question. It instead comments on a statement made in another answer regarding using Trash as a backup folder, and whether that is its intended use.</p>
</blockquote>

<p>I see the answer is now gone, but the point remains that somebody (multiple people?) declined the flag twice when it was (in my opinion) accurate. Even if the consensus was the answer should remain, the reason for declining the flag was clearly wrong/not relevant to the answer.</p>

<p>Am I out in left field here? Was the answer not actually a comment on another answer?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2258" class = 'collapse'>
			</div>
				<textarea id = "speech-2258" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2258">
					<img id="start_img-2258" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2259"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2259" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I declined your flag since I try not to delete things that are not actually harmful. In this case, someone had already commented asking the poster to improve the post.</p>

<p>It's sometimes a decision point to leave something up so a new person or the community editing process can fix things and the OP can learn.</p>

<p>It's another thing to remove totally off-topic comments.</p>

<p>In this case I chose to leave that post up in hopes that the first answer by that user would get improved and we don't shut the door on that person.</p>

<p>Also keep in mind, we do not delete posts that are blatantly incorrect. Deletion is for keeping the post on topic and I saw some faint merit in leaving the post up. Apparently the moderator that deleted it felt differently as that can often be the case on marginal posts.</p>

<p>Bringing it up here on meta is the best thing since everyone can see, discuss and learn. For me, the harm in a marginal answer on a question from 2011 wasn't worse than shutting down a new user trying to contribute his first answer - especially when a comment pointed out politely the weakness of the post.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2259">Load Comments</button></br>
			<div id = "commentsection-2259" class = 'collapse'>
			<div id = "comment-4264" class = "comment">
				<p>I would second that approach. Alienation is not the aim; improvement & learning is. Though I appreciate the original meta question, this provides a good balanced overview of the process.</p>
			</div>
			<div id = "comment-4266" class = "comment">
				<p>Whatever the merits of this particular case, as someone who comes to find good answers more than to provide them, I think failure to remove blatently incorrect posts is not a really positive aspect of the forum.  We already have a bunch over at Apple where nothing, no matter how stupid, is ever removed (unless offensive in some way).</p>
			</div>
			<div id = "comment-4267" class = "comment">
				<p>@TomGewecke The [voting system](http://apple.stackexchange.com/help/why-vote) is designed to hide blatantly wrong content without needing removal. The editing system means that even the most incorrect or marginal post is easily corrected by anyone that cares to submit an edit. We only remove _harmful_ posts and even that is done with great care to ensure an edit can't save the post with a proper disclaimer of the potential harm.</p>
			</div>
			<div id = "comment-4283" class = "comment">
				<p>The voting system (for answers, anyway) is designed to cause blatantly wrong _answers_ to fall to the bottom. It wasn't an answer. If the consensus is that comments posted as answers to get around the reputation barrier should be left (which to me is a textbook reason to flag the answer), then I am unclear for what the flag "this is not an answer" is intended.</p>
			</div>
			<div id = "comment-4285" class = "comment">
				<p>Mike, specifically to your point in your answer - the commenter ("User A") wasn't trying to contribute an answer. User A was calling another user ("User B") out on User B posting an answer to pick on the OP, instead of User B actually trying to answer the OP's question. Given that I'm not sure how much encouragement should be given for User A trying to start an argument on, as you note, a post from 2011.</p>
			</div>
			</div>
				<textarea id = "speech-2259" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2259">
					<img id="start_img-2259" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2260"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2260" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In my opinion, It's not an answer and it should have been deleted.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2260" class = 'collapse'>
			</div>
				<textarea id = "speech-2260" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2260">
					<img id="start_img-2260" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>