<html>
	<head>
		<title id = 'pagetitle'>text-substitution and text-replacement tags
		</title>
	<head>
	<body id = 'pagebody'><p>I'm too low of a reputation to create tags on this StackExchange, yet; and <em>way</em> too low to create synonyms   so would someone perhaps like to create the  text-replacement  tag for iOS (and perhaps synonym  text-substitution , the OS X term for the same thing, to it)?</p>

<p>(If you search for <code>NSUserDictionaryReplacementItems</code>, you'll see that there's plenty of posts on the topic already!)</p>


<h1>ANSWERS</h1>
			</body>
</html>