<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>text-substitution and text-replacement tags
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2657" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::28</h3>
				<h2>text-substitution and text-replacement tags</h2>
<p>I'm too low of a reputation to create tags on this StackExchange, yet; and <em>way</em> too low to create synonyms   so would someone perhaps like to create the  text-replacement  tag for iOS (and perhaps synonym  text-substitution , the OS X term for the same thing, to it)?</p>

<p>(If you search for <code>NSUserDictionaryReplacementItems</code>, you'll see that there's plenty of posts on the topic already!)</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5933" class = "post">
				<p>Why would this tag be helpful?</p>
			</div>
			<div id = "comment-5935" class = "post">
				<p>Personally, I did about four searches for various phrasings of  text substitution , before posting a question myself; and after doing so, I'm *still* not at all convinced that nobody's asked it before. There's dozens of posts on the topic, some duplicates of eachother, and it seems to me they'd be useful centralized.</p>
			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>