<html>
	<head>
		<title id = 'pagetitle'>Text color when editing tags
		</title>
	<head>
	<body id = 'pagebody'><p>The tag editing page for posts seems pretty unreadable to me.  See screenshot below:  </p>

<p><img src="https://i.stack.imgur.com/z4620.png" alt="Tag Editing Page"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>