<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>The page http:~~apple.stackexchange.com~help~on-topic needs to be more prominent.
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1731" class = "post">
			<h2>Question</h2>
			<div id="vote-1731" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
				<h2>The page http:~~apple.stackexchange.com~help~on-topic needs to be more prominent.</h2>
<p>It appears the the <a href="https://apple.stackexchange.com/FAQ">Ask Different FAQ</a> is gone, redirecting to a generic help page. 
I now see that there is <a href="https://apple.stackexchange.com/help/on-topic">a page about what is on-topic for the site</a>, but that page is far less prominent than the old FAQ was.</p>

<p>There's some <em>great</em> explanations of how Stack Exchange works, but it's too hard to find what's specifically appropriate for <em>Ask Different</em>.</p>

<p>The help page is a great resource, but it doesn't mark well enough the function of the first section of the FAQ about what is on-topic here.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1731">Load Comments</button></br>
			<div id = "commentsection-1731" class = 'collapse'>
			<div id = "comment-3243" class = "comment">
				<p>Related? http://meta.apple.stackexchange.com/questions/1719/about-page-site-tour-still-refers-to-faq-and-not-the-help-center</p>
			</div>
			<div id = "comment-3244" class = "comment">
				<p>No. One's about links that say they're to the (now defunct) FAQ. The other is about how the Help Center that replaced the FAQ is set up.</p>
			</div>
			<div id = "comment-3245" class = "comment">
				<p>Yes, my point is the Help Center was set to replace the FAQ. Ergo the FAQ is gone.</p>
			</div>
			<div id = "comment-3246" class = "comment">
				<p>Right. What I was trying to say is that Mike's bug report was that links to the Help Center are still tagged as FAQ. My point is that the Help Center itself should have the on/off topic page more prominent. They're related in that they both are about the Help Center but they aren't the same bug report.</p>
			</div>
			<div id = "comment-3247" class = "comment">
				<p>Ahh. I see now.</p>
			</div>
			<div id = "comment-3277" class = "comment">
				<p>related http://meta.stackexchange.com/questions/186838/why-does-server-faults-new-help-system-de-emphasize-the-professional-audience/186844#186844 seems like non SO sites need the on-topic piece before the general information</p>
			</div>
			<div id = "comment-3278" class = "comment">
				<p>I'll pop in here to note that we're looking at fixing up this aspect. This page has been one of the most useful tools for people across the network and it really needs to be easier to reach and discover, as well as distribute for guidance.</p>
			</div>
			<div id = "comment-3279" class = "comment">
				<p>I'm delighted to hear that, @GraceNote.</p>
			</div>
			</div>
				<textarea id = "speech-1731" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1731">
					<img id="start_img-1731" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1757"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1757" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>On the new /help page, we've added a big featured link to the "What topics can I ask about here?" page. This should help new users who are just browsing to be directed to one of the most important pages.</p>

<p><img src="https://i.stack.imgur.com/99Rah.png" alt="featured link on /help"></p>

<p>If any established user is looking to provide new users with a place to get an overview of the most important parts of the SE model, I recommend linking them to /about rather than /help. Even though the format is very different, it actually achieves what the old FAQ tried to do (i.e., provide an overview of the basic mechanics and rules of the site). </p>

<p>If, on the other hand, you're trying to address a specific issue, link to the specific page in /help that covers that issue. (I'm still working on the last few articles to publish there, but if you feel there's an important topic that's not covered in the help center, please post here about it.)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1757">Load Comments</button></br>
			<div id = "commentsection-1757" class = 'collapse'>
			<div id = "comment-3305" class = "comment">
				<p>Where on the page is the link to about ? Also when will we get the new help page</p>
			</div>
			</div>
				<textarea id = "speech-1757" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1757">
					<img id="start_img-1757" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>