<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>The Ask Different Blog is looking for contributors
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>The Ask Different Blog is looking for contributors</h2>
<p>A few days ago Stack Exchange set up a blog for Ask Different at <a href="http://apple.blogoverflow.com/" rel="nofollow noreferrer">http://apple.blogoverflow.com/</a>, and we're looking for contributors! The topic set is the same as Ask Different - reviews, comparisons, and how-tos with <a href="https://apple.stackexchange.com/faq#questions">Apple hardware/software, etc</a>. You can also write posts about Ask Different itself - how to ask a good question, how to use site features, and featuring excellent questions or answers from the site. And if you have a great idea of something to contribute that I haven't listed, just let us know and we'll let you know if it's something we can put up.</p>

<p>If you haven't already, I suggest looking at the <a href="http://blogoverflow.com/" rel="nofollow noreferrer">other Stack Exchange community blogs</a> to get a sense for what the blog will be like, and to get ideas for potential content to post.</p>

<p>The primary means of communication is our chat room, which is open to the public:</p>

<p><a href="http://chat.stackexchange.com/rooms/1408/ask-different-blog">http://chat.stackexchange.com/rooms/1408/ask-different-blog</a></p>

<p>If this sounds like something you'd be interested in contributing to, either selectively or on a regular schedule, or even if you're just curious and want to know more, please just drop a line either here or in the chat room and we'll get you hooked up with a contributor account on the blog and give you access to our Trello planning board.</p>

<p>Let's make it awesome!</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I'd be willing to write some posts about audio production and/or software development on the Mac. Could keep the audio production posts to GarageBand if people want to play along, or go in to Logic Studio...</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I would love it if someone could write a "VOTE EARLY, VOTE OFTEN" style post.  </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I would like to contribute by reviewing iOS apps, if you think that's in scope for the blog.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'd be willing to review a couple of utility apps that make my "Mac-life" a lot easier, feel free to hook me up.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I can write, but not too often (school...) as long as I have a topic to write about. I don't have Lion, and I don't have an iOS device, so I'm somewhat limited in what I can write about.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I would like to review Mac OS X applications, but not too often.<br>
My main focus will be developer tools, music apps and productivity apps.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'll be happy to contribute! I'm a iOS and Mac OS X developer and designer and I have written for Macworld, iPad and iPhone User, .net Magazine and Tuts+ and would love to write for an Apple blog! I'd love to write about iOS, Mac OS X and reviews of apps and look at Apple-oriented design!</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>