<html>
	<head>
		<title id = 'pagetitle'>The logo for Ask Different is different from the Ask Different blog
		</title>
	<head>
	<body id = 'pagebody'><p>As said in the title, there is a major difference between the logos in the two links:</p>

<ul>
<li><a href="https://apple.stackexchange.com/">Ask Different</a></li>
<li><a href="http://apple.blogoverflow.com" rel="nofollow noreferrer">Ask Different blog</a></li>
</ul>

<p>Can we update the Ask Different blog's logo to match the Ask Different logo?</p>


<h1>ANSWERS</h1>
			</body>
</html>