<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>The bounty expiration shown in the notification message is different from the expiration shown in the question
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-790" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::30</h3>
				<h2>The bounty expiration shown in the notification message is different from the expiration shown in the question</h2>
<p>I logged in early on <em>Ask Different</em>, and I have got a message about the expiration of the bounty I offered. When I clicked on the question link, I noticed the question was reporting the bounty would expire one day earlier.</p>

<p><img src="https://i.stack.imgur.com/qm2lv.png" alt="screenshot"></p>

<p><img src="https://i.stack.imgur.com/F1wFO.png" alt="screenshot"></p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-791"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>In two days your question will cease to be promoted as a bounty question. However, you are given an extra day to select your bounty answer before one is selected automatically.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1450" class = "comment">
				<p>If I understand correctly, the sentence in the question page says "ending in two days" because an answer given after 3 days is not eligible for the bounty, while the bounty effectively expires after 3 days, which means I cannot anymore select to which answer I give the bounty. Is it correct?</p>
			</div>
			<div id = "comment-1451" class = "comment">
				<p>@kiamlaluno from everyone else's perspective, the bounty ends in 2 days, but you have an additional day, so that's why the system was telling you that you had 3 days</p>
			</div>
			<div id = "comment-1453" class = "comment">
				<p>Ooh - that is subtle. The expiration time for me to award the bounty is different than the public promotion period. A very nice touch despite the confusion.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>