<html>
	<head>
		<title id = 'pagetitle'>the number of inform moderator flags remaining can not be read
		</title>
	<head>
	<body id = 'pagebody'><p><img src="https://i.stack.imgur.com/GZx2l.png" alt="screenshot drawing attention to the problem"></p>

<p>The black number partly within, partly without a dark red circle is illegible to me. </p>


<h1>ANSWERS</h1>
		<p>A part of this is fixed, the rest will be after the next build of the site.</p>


	</body>
</html>