<html>
	<head>
		<title id = 'pagetitle'>The "user responses feed" link cover the pager
		</title>
	<head>
	<body id = 'pagebody'><p>When I look at <a href="https://apple.stackexchange.com/users/3598/kiamlaluno?tab=responses">my responses page</a>, the pager is covered by the "user responses feed" link.<br>
I notice this in Firefox 4, and Safari 5.1.</p>

<p><img src="https://i.stack.imgur.com/hApTA.png" alt="screenshot"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>