<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>The new iPad is here - ask different and win one!
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1181" class = "post">
			<h2>Question</h2>
			<h3>Score ::28</h3>
			<h3>Views ::597</h3>
				<h2>The new iPad is here - ask different and win one!</h2>
<p><strong>Edit</strong>: The contest has now officially ended. Congrats to everyone who completed the Levels! </p>

<p>Since we had 10 people complete Level 3 (WOW! You guys are awesome), we have to implement the <a href="https://apple.meta.stackexchange.com/a/1227/13125">tie breaker</a>. Here s how the rankings worked out   the numbers are the combined scores on the top 35 posts each user made during the contest:</p>

<ol>
<li>224 <a href="https://apple.stackexchange.com/users/13414/gentmatt">gentmatt</a></li>
<li>177 <a href="https://apple.stackexchange.com/users/9495/stuffe">stuffe</a></li>
<li>174 <a href="https://apple.stackexchange.com/users/4408/mathias-bynens">Mathias Bynens</a></li>
<li>168 <a href="https://apple.stackexchange.com/users/9388/daniel-l">Daniel L</a></li>
<li>167 <a href="https://apple.stackexchange.com/users/13/kyle-cronin">Kyle Cronin</a></li>
<li>167 <a href="https://apple.stackexchange.com/users/8318/jtbandes">jtbandes</a></li>
<li>157 <a href="https://apple.stackexchange.com/users/3117/adam-eberbach">Adam Eberbach</a></li>
<li>151 <a href="https://apple.stackexchange.com/users/292/ian-c">Ian C.</a></li>
<li>143 <a href="https://apple.stackexchange.com/users/219/adam-davis">Adam Davis</a></li>
<li>123 <a href="https://apple.stackexchange.com/users/218/senseful">Senseful</a></li>
</ol>

<p>The winner of the iPad raffle is <a href="https://apple.stackexchange.com/users/4160/steve-moser">Steve Moser</a>!</p>

<p>Great job everyone. Winners will be contacted over the next couple of days.</p>

<hr>

<p>Apple recently announced the revamped and recharged iPad, and they hit stores today. This new iteration of Apple s tablet features impressive quad core graphics, and state of the art Retina technology for higher def viewing. The new iPad continues to set the standard for elegance in design and advancements in performance and technology. </p>

<p><img src="https://i.imgur.com/6lZHE.png" height="255"></p>

<p>We re impressed. Are you?</p>

<p>In our corner of the Apple universe, we continue to build a comprehensive resource helping those who dare to ask different. To celebrate the new benchmark in tablet computing, we ordered a few for you, in case to you didn t have the chance to.</p>

<p>Because we can t give new iPads to everyone (we wish that we could!), people who participate on Ask Different during the next few weeks to different degrees earn different Apple products. Visit the Ask Different <a href="http://thenewipadishere.com/" rel="nofollow noreferrer">iPad Contest Page</a> for specific details on how these iPads (and iPods) are being given away.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1181">Load Comments</button></br>
			<div id = "commentsection-1181" class = 'collapse'>
			<div id = "comment-2169" class = "comment">
				<p>Although I most likely have a snowballs change in hell of even qualifying for it, what about people in countries where the iPad is not available yet? Will you agree to them covering the shipping cost if reasonable?</p>
			</div>
			<div id = "comment-2178" class = "comment">
				<p>If it's reasonably easy to ship it to you, yes we will work something out. Either we will ship it to you or you can buy it yourself and we can reimburse you. However, there are sometimes cases where it's very difficult or impossible to ship prizes to certain countries - if that happens to be the case we'll do our best to work with you and figure something else out. Can't make any promises though until we know the exact scenario.</p>
			</div>
			<div id = "comment-2189" class = "comment">
				<p>You do realise that the dates on the competition rules aren't 3 weeks apart?</p>
			</div>
			<div id = "comment-2193" class = "comment">
				<p>Yes - sorry, we originally planned on having it last 3 weeks but then changed it to 2.5. The dates are correct.</p>
			</div>
			<div id = "comment-2197" class = "comment">
				<p>@Lauren, the votes on questions, is that the combined up and down votes, or just the up? (basically what stops someone downvoting the others)</p>
			</div>
			<div id = "comment-2198" class = "comment">
				<p>It's the overall score - the combined up and down votes. We purposely want to take into account downvotes in order to keep the site high-quality. Downvoting is a way to let users know that their question isn't a good fit, and since promotions like this tend to bring in new users, we need to keep all the moderation tools available.</p>
			</div>
			<div id = "comment-2336" class = "comment">
				<p>@Lauren thanks for the update. Who won the raffle?</p>
			</div>
			<div id = "comment-2341" class = "comment">
				<p>@R.M Yes, W9s are required for iPod winners. See [this post](http://meta.gaming.stackexchange.com/a/4396/16718) for why: "Whether or not the prize you just won in this contest is up to that amount, if you plan on participating on future promotions, it is simpler to collect the data now than to wait until it does become an issue." Re: your email address, I already emailed you, did you not get it?</p>
			</div>
			<div id = "comment-2343" class = "comment">
				<p>@R.M ok - just so you know, the email address in your profile is what we use to contact you for contests, so try to make sure it's a "real" one!</p>
			</div>
			<div id = "comment-2380" class = "comment">
				<p>@Lauren, has everyone been contacted yet?</p>
			</div>
			<div id = "comment-2383" class = "comment">
				<p>For reference: http://www.thenewipadishere.com/ and for link purposes: [What/Where is the hall of Ask Different inquisitors page?](http://meta.apple.stackexchange.com/q/1271/8546)</p>
			</div>
			<div id = "comment-2386" class = "comment">
				<p>@Lauren my iPod arrived yesterday. Thanks so much!</p>
			</div>
			<div id = "comment-2388" class = "comment">
				<p>Great! Thanks for letting me know. Enjoy :)</p>
			</div>
			<div id = "comment-3770" class = "comment">
				<p>This question is closed since the relevant promotion is over and that code inactive.</p>
			</div>
			</div>
				<textarea id = "speech-1181" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1181">
					<img id="start_img-1181" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1185"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Thanks!</p>

<p>Is this contest open to:</p>

<ul>
<li><p>Moderators elsewhere in the Stack Exchange network? <a href="https://money.stackexchange.com/users/3">(ahem)</a></p></li>
<li><p>And what about <strong>non-U.S. residents</strong>?</p></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1185">Load Comments</button></br>
			<div id = "commentsection-1185" class = 'collapse'>
			<div id = "comment-2164" class = "comment">
				<p>The contest is open to everyone, including moderators on Ask Different and other Stack Exchange sites. Sorry for not making that clear! As for the question about non-US residents, the contest page states: "Everyone is eligible regardless of geographic location. However, if you live outside the USA and we are unable ship your prize to you, you may be asked to purchase your prize and submit your receipt to Stack Exchange to be reimbursed."</p>
			</div>
			<div id = "comment-2165" class = "comment">
				<p>@Lauren Thanks again!</p>
			</div>
			<div id = "comment-2167" class = "comment">
				<p>No prob, thanks for clarifying</p>
			</div>
			</div>
				<textarea id = "speech-1185" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1185">
					<img id="start_img-1185" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1187"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Members who won a previous contest, can they participate in this contest?</p>

<p>And just out of curiosity, which iPad can you win? The WiFi only or the LTE? </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1187">Load Comments</button></br>
			<div id = "commentsection-1187" class = 'collapse'>
			<div id = "comment-2181" class = "comment">
				<p>Yes, you are eligible regardless of whether you won a previous contest. The iPad we'll be giving away is the 16 GB Wi-Fi. Thanks for clarifying!</p>
			</div>
			</div>
				<textarea id = "speech-1187" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1187">
					<img id="start_img-1187" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1188"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I am really excited at how well worded and thought through this contest is. I appreciate the explanation about how the raffle will work and what might happen if more people qualify than prizes are available. I personally dislike open ended raffles where you don't know how long or how many items are intended to be offered as prizes and that cheapens the promotion in my opinion. In this case - having the status update as we ask/answer/share is really making this fun to track progress of everyone.</p>

<p>I have one question. Level one enters you in the raffle. Does level two get you a second entry in the same raffle or perhaps is there a second raffle for just the people that have Level two contributions?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1188">Load Comments</button></br>
			<div id = "commentsection-1188" class = 'collapse'>
			<div id = "comment-2177" class = "comment">
				<p>Good question - there is only one raffle, which will include people who finish both Level 1 and Level 2. Level 2 does not get you a second entry into the raffle - the benefit of finishing Level 2 over Level 1 is that you get an iPod Touch.</p>
			</div>
			<div id = "comment-2183" class = "comment">
				<p>Good stuff - for clarity and as an advocate of Plain English, if you remove the comment about Raffle Entry from Level 2 it tightens everything up, because you cannot get to L2 without already having done L1 anyway, so the comment is redundant and leads to confusion evidenced by this question.</p>
			</div>
			<div id = "comment-2199" class = "comment">
				<p>That's a good point. I don't want to change this one, because I can see people being confused and thinking we are no longer entering Level 2s into the raffle. But I'll work on making it clearer for next time.</p>
			</div>
			</div>
				<textarea id = "speech-1188" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1188">
					<img id="start_img-1188" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1192"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Wow, this looks great and very generous. However, I am curious about the asterisk: "What do you get? A new iPad*!" because I cannot find what that refers to.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1192">Load Comments</button></br>
			<div id = "commentsection-1192" class = 'collapse'>
			<div id = "comment-2171" class = "comment">
				<p>Clicking the Contest Rules button expands more information and explains the asterisk: "*We can give away a maximum of 25 iPod touch devices and a maximum of 6 new iPads (5 for Level 3, and 1 for the raffle). In the event that more than the maximum number of people complete the Levels, the winners with the highest combined score on their contest posts will be chosen."</p>
			</div>
			<div id = "comment-2182" class = "comment">
				<p>The asterisk should totally be on the bottom of the page  and not in that button nonsense.</p>
			</div>
			</div>
				<textarea id = "speech-1192" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1192">
					<img id="start_img-1192" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1193"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I see a contest progress panel on other users' profiles; some are empty, some not. My profile does not show one.  Do I have to do something to make it appear?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1193">Load Comments</button></br>
			<div id = "commentsection-1193" class = 'collapse'>
			<div id = "comment-2173" class = "comment">
				<p>It appears as soon as you have taken any step towards one of the missions, e.g. a post scored 2+ from during the contest time. You could also just cast a vote. That'll make it appear (after a few minutes) and after all also is what makes the site work :)</p>
			</div>
			<div id = "comment-2174" class = "comment">
				<p>Hmm, thought I had done some qualifying actions; I'll have to re-read the rules.  Thanks for the explanation.</p>
			</div>
			<div id = "comment-2266" class = "comment">
				<p>@balpha, I'm in the same boat - I occasionally see it in my profile, but not always. Just wondering if there's something special that triggers it.</p>
			</div>
			<div id = "comment-2275" class = "comment">
				<p>Never mind - it seems that if I click on my avatar picture, I can toggle my progress.</p>
			</div>
			</div>
				<textarea id = "speech-1193" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1193">
					<img id="start_img-1193" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1226"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Here's a quick question (3 atually) on the contest:  Let's assume I win an iPad (Yay me!):</p>

<ul>
<li>Do I get a colour choice?</li>
<li>What if I already have one, can I request something of equivalent value, maybe Apple Vouchers?</li>
<li>What if I want a 32Gb one, can I pay the difference?</li>
</ul>

<p>Thanks!</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1226">Load Comments</button></br>
			<div id = "commentsection-1226" class = 'collapse'>
			<div id = "comment-2236" class = "comment">
				<p>Unfortunately we're not able to do substitutions for this. Sorry! As for color choice, all the iPads we've ordered are black.</p>
			</div>
			<div id = "comment-2237" class = "comment">
				<p>Lucky I want a black one!  I would prefer a 32Gb one, but on the off chance that I do win, I will likely simply return it to store imediately and offer to trade up! :)  Thanks for replying.</p>
			</div>
			</div>
				<textarea id = "speech-1226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1226">
					<img id="start_img-1226" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1257"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>The contest has now officially ended. Congrats to everyone who completed the Levels! Winners will be contacted over the next couple of days.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1257">Load Comments</button></br>
			<div id = "commentsection-1257" class = 'collapse'>
			<div id = "comment-2331" class = "comment">
				<p>Are you going to announce the winners some place?</p>
			</div>
			<div id = "comment-2332" class = "comment">
				<p>The [contest page](http://thenewipadishere.com/) shows the winners. I'll email you about the prizes.</p>
			</div>
			<div id = "comment-2333" class = "comment">
				<p>But L3 has > iPads available in it. Who won the iPads? :)</p>
			</div>
			<div id = "comment-2334" class = "comment">
				<p>Would also be good to see who won the iPad drawing...</p>
			</div>
			<div id = "comment-2344" class = "comment">
				<p>Well congrats to the winners. We need more of these competitions, okay?  I'm going to win one of them eventually. ;)</p>
			</div>
			</div>
				<textarea id = "speech-1257" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1257">
					<img id="start_img-1257" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>