<html>
	<head>
		<title id = 'pagetitle'>The background doesn't change when a question is deleted
		</title>
	<head>
	<body id = 'pagebody'><p>I deleted my own question, <a href="https://apple.stackexchange.com/questions/34705/problems-when-connecting-to-wifi-with-the-ipod">https://apple.stackexchange.com/questions/34705/problems-when-connecting-to-wifi-with-the-ipod</a> (the link is for 10k users), because I discovered that the problem is the wireless router that needs to be replaced.</p>

<p>When I deleted the question, the background didn't change.</p>

<p><img src="https://i.stack.imgur.com/t5LEB.png" alt="screenshot"></p>

<p>I don't think it's a problem with the browser because, when I undeleted the question, the page has been refreshed; the same didn't happen when I have deleted the question. </p>

<p>In the case this makes any difference, I am using Safari 5.1.2 running on Mac OS X 10.7.2 (the computer is a Mac Mini).</p>


<h1>ANSWERS</h1>
		<p>The fix will be deployed in our next production build.</p>


	</body>
</html>