<html>
	<head>
		<title id = 'pagetitle'>The bounty expiration shown in the notification message is different from the expiration shown in the question
		</title>
	<head>
	<body id = 'pagebody'><p>I logged in early on <em>Ask Different</em>, and I have got a message about the expiration of the bounty I offered. When I clicked on the question link, I noticed the question was reporting the bounty would expire one day earlier.</p>

<p><img src="https://i.stack.imgur.com/qm2lv.png" alt="screenshot"></p>

<p><img src="https://i.stack.imgur.com/F1wFO.png" alt="screenshot"></p>


<h1>ANSWERS</h1>
		<p>In two days your question will cease to be promoted as a bounty question. However, you are given an extra day to select your bounty answer before one is selected automatically.</p>


	</body>
</html>