<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>The @mention highlight color in chat is the same as default OS X highlight color
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1126" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::82</h3>
				<h2>The @mention highlight color in chat is the same as default OS X highlight color</h2>
<p>When I'm mentioned in chat, my name in the person's message is highlighted blue. 99CCFF, to be precise. The problem is, that's exactly the same color as the default OS X highlight color, and I always try to click out of the selection.</p>

<p>I understand this is by design, but in my opinion it should be changed.</p>

<p><img src="https://i.stack.imgur.com/fqG1R.png" alt="Screenshot of name highlight and selection highlight"></p>

<p>(Above: name highlight followed by text highlight)</p>

			</div><h3>Comments</h3>
			<div id = "comment-2038" class = "comment">
				<p>It's not [exactly](http://i.stack.imgur.com/fqG1R.png) the same. Close, I agree.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1126">Record</button>
				<button class="record-stop" id="stop-1126">Stop</button>
				<p id="recording-1126"></p>

<h1>Answers</h1>
			<br><div id = "ans-1127"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>If you think it should be changed, you are free to change it at any time you want; you don't need to file a request on meta. Go to <strong>System Preferences</strong>   <strong>General</strong> and change the Highlight color.</p>

<p>Voila: they don't match any more.</p>

<p><img src="https://i.stack.imgur.com/yu2a2.png" alt="enter image description here"></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2040" class = "comment">
				<p>I like having blue as my highlit color, and even if I did change it, it would take months for me to get used to blue *not* being the highlight color. Plus, I'm on other computers all the time, all of which have the default highlight color.</p>
			</div>
			<div id = "comment-2041" class = "comment">
				<p>Oh, okay. I thought your main goal was for them to not match. Personally, I like blue being the color on chat, and it would take months for me to get used to blue *not* being the notification color. Plus I'm on other parts of the chat site all the time, all of which have the blue notification color. I just thought that if you didn't want them to match, it would be easier to change your settings rather than making everyone get used to a new look.</p>
			</div>
			<div id = "comment-2042" class = "comment">
				<p>That's true... maybe it should be a per-user option on Ask Different.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1127">Record</button>
				<button class="record-stop" id="stop-1127">Stop</button>
				<p id="recording-1127"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>