<html>
	<head>
		<title id = 'pagetitle'>The page http:~~apple.stackexchange.com~help~on-topic needs to be more prominent.
		</title>
	<head>
	<body id = 'pagebody'><p>It appears the the <a href="https://apple.stackexchange.com/FAQ">Ask Different FAQ</a> is gone, redirecting to a generic help page. 
I now see that there is <a href="https://apple.stackexchange.com/help/on-topic">a page about what is on-topic for the site</a>, but that page is far less prominent than the old FAQ was.</p>

<p>There's some <em>great</em> explanations of how Stack Exchange works, but it's too hard to find what's specifically appropriate for <em>Ask Different</em>.</p>

<p>The help page is a great resource, but it doesn't mark well enough the function of the first section of the FAQ about what is on-topic here.</p>


<h1>ANSWERS</h1>
		<p>On the new /help page, we've added a big featured link to the "What topics can I ask about here?" page. This should help new users who are just browsing to be directed to one of the most important pages.</p>

<p><img src="https://i.stack.imgur.com/99Rah.png" alt="featured link on /help"></p>

<p>If any established user is looking to provide new users with a place to get an overview of the most important parts of the SE model, I recommend linking them to /about rather than /help. Even though the format is very different, it actually achieves what the old FAQ tried to do (i.e., provide an overview of the basic mechanics and rules of the site). </p>

<p>If, on the other hand, you're trying to address a specific issue, link to the specific page in /help that covers that issue. (I'm still working on the last few articles to publish there, but if you feel there's an important topic that's not covered in the help center, please post here about it.)</p>


	</body>
</html>