<html>
	<head>
		<title id = 'pagetitle'>The new iPad is here - ask different and win one!
		</title>
	<head>
	<body id = 'pagebody'><p><strong>Edit</strong>: The contest has now officially ended. Congrats to everyone who completed the Levels! </p>

<p>Since we had 10 people complete Level 3 (WOW! You guys are awesome), we have to implement the <a href="https://apple.meta.stackexchange.com/a/1227/13125">tie breaker</a>. Here s how the rankings worked out   the numbers are the combined scores on the top 35 posts each user made during the contest:</p>

<ol>
<li>224 <a href="https://apple.stackexchange.com/users/13414/gentmatt">gentmatt</a></li>
<li>177 <a href="https://apple.stackexchange.com/users/9495/stuffe">stuffe</a></li>
<li>174 <a href="https://apple.stackexchange.com/users/4408/mathias-bynens">Mathias Bynens</a></li>
<li>168 <a href="https://apple.stackexchange.com/users/9388/daniel-l">Daniel L</a></li>
<li>167 <a href="https://apple.stackexchange.com/users/13/kyle-cronin">Kyle Cronin</a></li>
<li>167 <a href="https://apple.stackexchange.com/users/8318/jtbandes">jtbandes</a></li>
<li>157 <a href="https://apple.stackexchange.com/users/3117/adam-eberbach">Adam Eberbach</a></li>
<li>151 <a href="https://apple.stackexchange.com/users/292/ian-c">Ian C.</a></li>
<li>143 <a href="https://apple.stackexchange.com/users/219/adam-davis">Adam Davis</a></li>
<li>123 <a href="https://apple.stackexchange.com/users/218/senseful">Senseful</a></li>
</ol>

<p>The winner of the iPad raffle is <a href="https://apple.stackexchange.com/users/4160/steve-moser">Steve Moser</a>!</p>

<p>Great job everyone. Winners will be contacted over the next couple of days.</p>

<hr>

<p>Apple recently announced the revamped and recharged iPad, and they hit stores today. This new iteration of Apple s tablet features impressive quad core graphics, and state of the art Retina technology for higher def viewing. The new iPad continues to set the standard for elegance in design and advancements in performance and technology. </p>

<p><img src="https://i.imgur.com/6lZHE.png" height="255"></p>

<p>We re impressed. Are you?</p>

<p>In our corner of the Apple universe, we continue to build a comprehensive resource helping those who dare to ask different. To celebrate the new benchmark in tablet computing, we ordered a few for you, in case to you didn t have the chance to.</p>

<p>Because we can t give new iPads to everyone (we wish that we could!), people who participate on Ask Different during the next few weeks to different degrees earn different Apple products. Visit the Ask Different <a href="http://thenewipadishere.com/" rel="nofollow noreferrer">iPad Contest Page</a> for specific details on how these iPads (and iPods) are being given away.</p>


<h1>ANSWERS</h1>
		<p>Thanks!</p>

<p>Is this contest open to:</p>

<ul>
<li><p>Moderators elsewhere in the Stack Exchange network? <a href="https://money.stackexchange.com/users/3">(ahem)</a></p></li>
<li><p>And what about <strong>non-U.S. residents</strong>?</p></li>
</ul>


<p>Members who won a previous contest, can they participate in this contest?</p>

<p>And just out of curiosity, which iPad can you win? The WiFi only or the LTE? </p>


<p>I am really excited at how well worded and thought through this contest is. I appreciate the explanation about how the raffle will work and what might happen if more people qualify than prizes are available. I personally dislike open ended raffles where you don't know how long or how many items are intended to be offered as prizes and that cheapens the promotion in my opinion. In this case - having the status update as we ask/answer/share is really making this fun to track progress of everyone.</p>

<p>I have one question. Level one enters you in the raffle. Does level two get you a second entry in the same raffle or perhaps is there a second raffle for just the people that have Level two contributions?</p>


<p>Wow, this looks great and very generous. However, I am curious about the asterisk: "What do you get? A new iPad*!" because I cannot find what that refers to.</p>


<p>I see a contest progress panel on other users' profiles; some are empty, some not. My profile does not show one.  Do I have to do something to make it appear?</p>


<p>Here's a quick question (3 atually) on the contest:  Let's assume I win an iPad (Yay me!):</p>

<ul>
<li>Do I get a colour choice?</li>
<li>What if I already have one, can I request something of equivalent value, maybe Apple Vouchers?</li>
<li>What if I want a 32Gb one, can I pay the difference?</li>
</ul>

<p>Thanks!</p>


<p>The contest has now officially ended. Congrats to everyone who completed the Levels! Winners will be contacted over the next couple of days.</p>


	</body>
</html>