<html>
	<head>
		<title id = 'pagetitle'>The handle to make the text area taller does not work on Safari on iPad
		</title>
	<head>
	<body id = 'pagebody'><p>I was writing a question on <a href="http://apple.stackexchange.com"><em>Ask Different</em></a>. With Safari on iOS&nbsp;8.2 on my iPad.</p>

<p><strong>The text area has a nice handle to make it taller. However, this does not work. It would be nice to make this work on iPad.</strong></p>

<p>Thank you.</p>


<h1>ANSWERS</h1>
			</body>
</html>