<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>The accepted answer is wrong
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1920" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::66</h3>
				<h2>The accepted answer is wrong</h2>
<p>An answer has been marked as "Accepted" but is clearly wrong.
Is there anything that can be done about this?</p>

<p>This is the url:
<a href="https://apple.stackexchange.com/questions/38320/how-to-set-a-default-font-for-outgoing-messages-in-mail-on-lion/38333#38333">How to set a default font for outgoing messages in Mail on Lion</a></p>

<p>Thanks.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1921"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Nothing can be done, although you can downvote the answer (and either answer with the correct answer, providing some reference to the accepted answer, or comment underneath the accepted answer).</p>

<p>Mods cannot override, remove, or nominate accepted answers, only the OP can do that.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3708" class = "comment">
				<p>In the specific case mentioned in the question, there are already comments indicating the fact that the answer is actually wrong.</p>
			</div>
			<div id = "comment-3714" class = "comment">
				<p>Who marked this answer as correct?! ;)</p>
			</div>
			<br><div id = "ans-1922"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>"Accepted" basically means that the asker was happy with the answer (which doesn't necessarily mean it's correct). Usually votes are a better indicator on answer quality/correctness because more eyeballs are involved. So if you run into such a situation you can</p>

<ul>
<li>downvote wrong answers (even if they are accepted)</li>
<li>upvote correct answers (or provide the correct answer if it is missing)</li>
<li>add a comment to the question (so the asker gets notified) or the wrongly accepted answer (referencing the asker with @xyz)</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>