<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>The edit link doesn't appear in a question
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>The edit link doesn't appear in a question</h2>
<p>I noticed that I don't see the edit link in a question asked 2 hours ago, but I see the link in other questions, including the ones asked less than 2 hours ago.</p>

<p><a href="https://apple.stackexchange.com/questions/15271/free-backup-software">Backup software for backing up specific files only</a></p>

<p><img src="https://i.stack.imgur.com/LLyts.png" alt="screenshot"></p>

<p><a href="https://apple.stackexchange.com/questions/15275/how-to-clone-a-harddisk-excluding-some-directories">How do I clone a hard disk excluding some directories?</a></p>

<p><img src="https://i.stack.imgur.com/UFG4U.png" alt="screenshot"></p>

<p><a href="https://apple.stackexchange.com/questions/15276/address-book-is-there-any-way-to-move-the-fields-up-down">Address Book: Is there any way to move the fields up/down?</a></p>

<p><img src="https://i.stack.imgur.com/zLJBT.png" alt="screenshot">
This behavior is not the same I note in other Q&amp;A sites where I don't have the privilege of editing posts.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Anonymous users are limited to suggesting edits for posts more than 8 hours old.</p>

<p>As a registered user with &lt; 2000 rep you should be able to suggest edits on any post, provided </p>

<ul>
<li>the suggested edit queue is not full.</li>
<li>the post does not already have a suggested edit.</li>
</ul>

<p>I am guessing it was #2</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>