<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>The background doesn't change when a question is deleted
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-983" class = "post">
			<h2>Question</h2>
			<div id="vote-983" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>The background doesn't change when a question is deleted</h2>
<p>I deleted my own question, <a href="https://apple.stackexchange.com/questions/34705/problems-when-connecting-to-wifi-with-the-ipod">https://apple.stackexchange.com/questions/34705/problems-when-connecting-to-wifi-with-the-ipod</a> (the link is for 10k users), because I discovered that the problem is the wireless router that needs to be replaced.</p>

<p>When I deleted the question, the background didn't change.</p>

<p><img src="https://i.stack.imgur.com/t5LEB.png" alt="screenshot"></p>

<p>I don't think it's a problem with the browser because, when I undeleted the question, the page has been refreshed; the same didn't happen when I have deleted the question. </p>

<p>In the case this makes any difference, I am using Safari 5.1.2 running on Mac OS X 10.7.2 (the computer is a Mac Mini).</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-983" class = 'collapse'>
			</div>
				<textarea id = "speech-983" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-983">
					<img id="start_img-983" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-983">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-984"  class = "post">
				<h2>Answer</h2>
			<div id="vote-984" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The fix will be deployed in our next production build.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-984" class = 'collapse'>
			</div>
				<textarea id = "speech-984" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-984">
					<img id="start_img-984" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-984">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>