<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>The Ask Different Blog is looking for contributors
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-811" class = "post">
			<h2>Question</h2>
			<div id="vote-811" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 384</p>
			</div>
				<h2>The Ask Different Blog is looking for contributors</h2>
<p>A few days ago Stack Exchange set up a blog for Ask Different at <a href="http://apple.blogoverflow.com/" rel="nofollow noreferrer">http://apple.blogoverflow.com/</a>, and we're looking for contributors! The topic set is the same as Ask Different - reviews, comparisons, and how-tos with <a href="https://apple.stackexchange.com/faq#questions">Apple hardware/software, etc</a>. You can also write posts about Ask Different itself - how to ask a good question, how to use site features, and featuring excellent questions or answers from the site. And if you have a great idea of something to contribute that I haven't listed, just let us know and we'll let you know if it's something we can put up.</p>

<p>If you haven't already, I suggest looking at the <a href="http://blogoverflow.com/" rel="nofollow noreferrer">other Stack Exchange community blogs</a> to get a sense for what the blog will be like, and to get ideas for potential content to post.</p>

<p>The primary means of communication is our chat room, which is open to the public:</p>

<p><a href="http://chat.stackexchange.com/rooms/1408/ask-different-blog">http://chat.stackexchange.com/rooms/1408/ask-different-blog</a></p>

<p>If this sounds like something you'd be interested in contributing to, either selectively or on a regular schedule, or even if you're just curious and want to know more, please just drop a line either here or in the chat room and we'll get you hooked up with a contributor account on the blog and give you access to our Trello planning board.</p>

<p>Let's make it awesome!</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-811">Load Comments</button></br>
			<div id = "commentsection-811" class = 'collapse'>
			<div id = "comment-1519" class = "comment">
				<p>Willing to get involved. How do I sign up?</p>
			</div>
			<div id = "comment-1520" class = "comment">
				<p>@Moshe I added you to the blog as a contributor and to the Trello board. Welcome aboard!</p>
			</div>
			<div id = "comment-1521" class = "comment">
				<p>Got it, thanks. :-D No clue how to edit the boards though...</p>
			</div>
			<div id = "comment-1522" class = "comment">
				<p>@Moshe hmm, I don't see you as a member yet. I think you have to join (the link below the "View Board" button) to be able to edit</p>
			</div>
			</div>
				<textarea id = "speech-811" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-811">
					<img id="start_img-811" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-819"  class = "post">
				<h2>Answer</h2>
			<div id="vote-819" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd be willing to write some posts about audio production and/or software development on the Mac. Could keep the audio production posts to GarageBand if people want to play along, or go in to Logic Studio...</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-819">Load Comments</button></br>
			<div id = "commentsection-819" class = 'collapse'>
			<div id = "comment-1511" class = "comment">
				<p>That would be fantastic! Both Garageband and Logic would be great. And as someone that's had to do some audio editing for the podcast, I look forward to learning more about it. Software development is great too, so long as it focuses on the tools for the Mac and not so much on the actual programming.</p>
			</div>
			<div id = "comment-1512" class = "comment">
				<p>I've added you as a contributor to the blog and sent an invite to our Trello board</p>
			</div>
			</div>
				<textarea id = "speech-819" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-819">
					<img id="start_img-819" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-822"  class = "post">
				<h2>Answer</h2>
			<div id="vote-822" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would love it if someone could write a "VOTE EARLY, VOTE OFTEN" style post.  </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-822">Load Comments</button></br>
			<div id = "commentsection-822" class = 'collapse'>
			<div id = "comment-1518" class = "comment">
				<p>Great idea! Would you be willing to write it? If not I'll add it to our list of potential topics, but if you want the topic it's yours</p>
			</div>
			<div id = "comment-1608" class = "comment">
				<p>Yes!! Please write this!</p>
			</div>
			</div>
				<textarea id = "speech-822" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-822">
					<img id="start_img-822" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-845"  class = "post">
				<h2>Answer</h2>
			<div id="vote-845" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would like to contribute by reviewing iOS apps, if you think that's in scope for the blog.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-845">Load Comments</button></br>
			<div id = "commentsection-845" class = 'collapse'>
			<div id = "comment-1579" class = "comment">
				<p>Absolutely! I've added you as a contributor to the blog and sent an invite for the Trello board. You can author the post in Wordpress, then submit it for publication when you're done. I look forward to reading your reviews!</p>
			</div>
			<div id = "comment-1595" class = "comment">
				<p>@Kalamane, I saw that you have a draft up and I wanted to offer a couple of suggestions for consistency with some of our work so far, and then just a few other requests I'd like you to consider. Could you meet me in the [Ask Different Blog Chat Room](http://chat.stackexchange.com/rooms/1408/ask-different-blog) some time? I'll be in there around standard business hours tomorrow, and of course, a *little bit* later too :).</p>
			</div>
			<div id = "comment-1599" class = "comment">
				<p>@VxJasonxV I'm in the chat now.</p>
			</div>
			</div>
				<textarea id = "speech-845" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-845">
					<img id="start_img-845" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-855"  class = "post">
				<h2>Answer</h2>
			<div id="vote-855" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd be willing to review a couple of utility apps that make my "Mac-life" a lot easier, feel free to hook me up.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-855">Load Comments</button></br>
			<div id = "commentsection-855" class = 'collapse'>
			<div id = "comment-1594" class = "comment">
				<p>Consider yourself hooked up. Looking forward to reading your app reviews!</p>
			</div>
			<div id = "comment-1597" class = "comment">
				<p>When I click the "Accept invite" button on Trello, the page just refreshed and shows me the button again...(tried a couple browsers, some problem)</p>
			</div>
			<div id = "comment-1598" class = "comment">
				<p>Hm, haven't heard of that bug before. I could resend the invite, but I don't think that would do any good</p>
			</div>
			</div>
				<textarea id = "speech-855" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-855">
					<img id="start_img-855" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-871"  class = "post">
				<h2>Answer</h2>
			<div id="vote-871" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can write, but not too often (school...) as long as I have a topic to write about. I don't have Lion, and I don't have an iOS device, so I'm somewhat limited in what I can write about.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-871">Load Comments</button></br>
			<div id = "commentsection-871" class = 'collapse'>
			<div id = "comment-1638" class = "comment">
				<p>This does sort of limit what you can write about, but you have been set up with an account on the blog so feel free to submit stuff for review. As far as topics, if nothing else, you could write about Ask Different itself - how to ask, the importance of voting, or even feature some great questions and/or answers that were posted recently</p>
			</div>
			</div>
				<textarea id = "speech-871" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-871">
					<img id="start_img-871" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-922"  class = "post">
				<h2>Answer</h2>
			<div id="vote-922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would like to review Mac OS X applications, but not too often.<br>
My main focus will be developer tools, music apps and productivity apps.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-922">Load Comments</button></br>
			<div id = "commentsection-922" class = 'collapse'>
			<div id = "comment-1697" class = "comment">
				<p>Sorry for taking so long to get back to you, I sort of dropped the ball around Thanksgiving and I'm in the process of picking it up again. I've created a contributor account on the blog and I've added you to the Trello board, such as it is. Feel free to write something up and ping me or Nathan when it's ready and we'll schedule it.</p>
			</div>
			</div>
				<textarea id = "speech-922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-922">
					<img id="start_img-922" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-942"  class = "post">
				<h2>Answer</h2>
			<div id="vote-942" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'll be happy to contribute! I'm a iOS and Mac OS X developer and designer and I have written for Macworld, iPad and iPhone User, .net Magazine and Tuts+ and would love to write for an Apple blog! I'd love to write about iOS, Mac OS X and reviews of apps and look at Apple-oriented design!</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-942">Load Comments</button></br>
			<div id = "commentsection-942" class = 'collapse'>
			<div id = "comment-1707" class = "comment">
				<p>Excellent! We'd love to have you contribute whatever you can - I've set you up with a contributor account in Wordpress and access to the Trello board we're using for coordination. Feel free to write up posts and ping me or Nathan when they're ready and we'll schedule them. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-942" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-942">
					<img id="start_img-942" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>