<html>
	<head>
		<title id = 'pagetitle'>The 'expand this' arrow in the updated reputation view is missing
		</title>
	<head>
	<body id = 'pagebody'><p>The other SE sites have a little arrow that points to the right, or down if you've expanded the reputation activity for that date, just to the left of the date. But the Apple.SE site is missing this arrow:</p>

<p><img src="https://i.stack.imgur.com/RaDqK.png" alt="Missing arrow"></p>

<p>Versus superuser.com:</p>

<p><img src="https://i.stack.imgur.com/vx2GX.png" alt="Not missing arrow"></p>


<h1>ANSWERS</h1>
		<p>I have updated the sprites. The arrows will be in the next deployment.</p>

<p>Edit: the arrows are on production now. Before to do a hard refresh to load the new sprite image.</p>


	</body>
</html>