<html>
	<head>
		<title id = 'pagetitle'>The @mention highlight color in chat is the same as default OS X highlight color
		</title>
	<head>
	<body id = 'pagebody'><p>When I'm mentioned in chat, my name in the person's message is highlighted blue. 99CCFF, to be precise. The problem is, that's exactly the same color as the default OS X highlight color, and I always try to click out of the selection.</p>

<p>I understand this is by design, but in my opinion it should be changed.</p>

<p><img src="https://i.stack.imgur.com/fqG1R.png" alt="Screenshot of name highlight and selection highlight"></p>

<p>(Above: name highlight followed by text highlight)</p>


<h1>ANSWERS</h1>
		<p>If you think it should be changed, you are free to change it at any time you want; you don't need to file a request on meta. Go to <strong>System Preferences</strong>   <strong>General</strong> and change the Highlight color.</p>

<p>Voila: they don't match any more.</p>

<p><img src="https://i.stack.imgur.com/yu2a2.png" alt="enter image description here"></p>


	</body>
</html>