<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>The iOS Challenge- Winners!
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1002" class = "post">
			<h2>Question</h2>
			<h3>Score ::9</h3>
			<h3>Views ::282</h3>
				<h2>The iOS Challenge- Winners!</h2>
<p>Update: Congratulations to the following people for winning the iOS Challenge!</p>

<ul>
<li>The prize for the <a href="https://apple.stackexchange.com/q/37465/11241">most viewed question</a> goes to jjeaton.</li>
<li>The prize for the <a href="https://apple.stackexchange.com/questions/37684/does-the-iphone-4s-generate-a-spark-or-detectable-electric-signal-of-any-kind-wh">highest scored question</a> goes to Michiel.</li>
<li>The prize for the <a href="https://apple.stackexchange.com/questions/37119/make-my-icloud-me-com-email-my-primary-apple-id">most viewed question</a> asked by a TUAW reader goes to MHartley89.</li>
<li>The prize for the <a href="https://apple.stackexchange.com/questions/37066/sharing-files-and-documents-across-computers-and-devices">highest scored question</a> asked by a TUAW reader goes to Quacker Backer</li>
</ul>

<p>Take the red pill. Okay? Sounds great!</p>

<p>To enter this contest: Ask questions related to <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a> (Apple s operating system for mobile devices). Anything tagged <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a> is eligible for this contest, but make sure you add other tags as well!</p>

<p>Prizes will go to the people who ask 
the <strong>most viewed question</strong> and
the <strong>question with the highest score</strong> (in terms of votes). </p>

<p>If you win, you will have your choice of a 16GB iPod nano (6th Generation) or any Apple accessories of comparable value for your mobile device.</p>

<p><img src="https://i.stack.imgur.com/pgnhZ.jpg" alt="enter image description here"></p>

<p>Dates: The contest begins Monday, January 16th at 10 am and goes until Friday, January 27th at 11:59 pm (EST). Only questions that are asked within that time period will count towards this contest.</p>

<p>For more info, check out the latest Ask Different <a href="http://apple.blogoverflow.com/2012/01/the-ios-challenge/" rel="nofollow noreferrer">blog post</a>.</p>

<p>Take the red pill, <strong><a href="https://apple.stackexchange.com/questions/ask">ask why</a>.</strong></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1851" class = "comment">
				<p>The [first post](http://apple.stackexchange.com/questions/37714/how-can-i-incorporate-latex-into-an-ibook-created-with-ibooks-author), while an excellent question, isn't tagged with [ios]</p>
			</div>
			<div id = "comment-1853" class = "comment">
				<p>@Daniel Thanks. We're still tallying final results. Meta post is updated now.</p>
			</div>
			<div id = "comment-3773" class = "comment">
				<p>This question is closed since the relevant promotion is over and that code inactive.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1027"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Wow, awesome! This is really cool. Thanks for the votes! I'll enjoy my new iPod nano! Thanks you guys!</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>