<html>
	<head>
		<title id = 'pagetitle'>The accepted answer of the Ask Different example question is wrong!
		</title>
	<head>
	<body id = 'pagebody'><p>The <a href="https://apple.stackexchange.com/about">about page</a> for Ask Different uses <a href="https://apple.stackexchange.com/questions/37465/is-it-possible-to-read-ibooks-without-an-ios-device">this question</a>:</p>

<p><img src="https://i.stack.imgur.com/CqsLV.png" alt="screenshot"></p>

<p>The problem is, the answer, as of a few months ago is YES. Apple released iBooks support in the newest version of OS X: Mavericks.</p>

<p><img src="https://i.stack.imgur.com/hqhSw.jpg" alt="Mavericks iBooks"></p>

<p>There is an answer on that page, by Jason S, which is correct, but it only has 2 upvotes and the accepted answer now has 18 upvotes. I think it'd be a good idea to change the question exampled there.</p>

<p><sub><a href="https://meta.stackexchange.com/questions/211188/some-problems-with-about-pages">See also: my question on meta.SO about a bunch of /about problems.</a></sub></p>


<h1>ANSWERS</h1>
		<p>Alright.  I have selected a new question and will ask people to comment here or answer if they would like to nominate another question (or type of question) for the about page. We can't choose any question, but have several dozens to pick. </p>

<p>Additionally, since we liked the question that was being featured enough to feature it, I've placed a bounty to see if we can get a better answer. I probably will bounty the current question to see if we can get a better answer and remind me to check on it in a week to be sure it still shows well on the about page. </p>


	</body>
</html>