<html>
	<head>
		<title id = 'pagetitle'>There must be a better old question for "I lost my iPhone, now what do I do?"
		</title>
	<head>
	<body id = 'pagebody'><p>Upon reaching this new question, <a href="https://apple.stackexchange.com/questions/193199/what-actions-can-be-taken-with-lost-and-locked-phone">"What actions can be taken with lost and locked phone?"</a> I followed the duplicate question link to <a href="https://apple.stackexchange.com/questions/7837/lost-iphone-what-action-to-take">"Lost iPhone, what action to take?"</a> and read the answer and followed the links.</p>

<p>What? Really?  the answer is 4 years old, uses out of date terminology, has a broken apple link, and mobileMe links (that do forward to iCloud.com at least).</p>


<h1>ANSWERS</h1>
			</body>
</html>