<html>
	<head>
		<title id = 'pagetitle'>This site doesn't support LaTex?
		</title>
	<head>
	<body id = 'pagebody'><p>It seems this site doesn't support LaTex
Then how to type math symbol here?
I tried to type $\wedge \vee \neg$,and still nothing happened.</p>


<h1>ANSWERS</h1>
		<p>You are correct; this site does not support LaTeX. </p>

<p>Most <a href="https://meta.stackexchange.com/questions/30559/latex-in-stack-overflow">Stack Exchange sites have opted out of supporting this LaTex extensions</a> since it slows the site access for each and every user of the site whether they need the math rendering or not.</p>

<p>In general, there is little to no demand for this "feature" in the context of a web site answering questions about Apple products.</p>

<p>If you did need to insert special characters (which your question didn't <em>really</em> need to specify; saying "special characters" or "logic symbols" would have worked), the answer to how to insert them on this website is the same as the answer to your question about how to insert them in pages: use the character palate.</p>

<p>In your case, the three symbols are all standard unicode under Math Symbols:</p>

<ul>
<li>\wedge is   - the N-ARY LOGICAL AND character</li>
<li>\vee is   - the N-ARY LOGICAL OR character</li>
<li>\neg is   - the NOT SIGN character</li>
</ul>


	</body>
</html>