<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Thoughts on OPs deleting questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3064" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::53</h3>
				<h2>Thoughts on OPs deleting questions</h2>
<p>I have encountered this a few times recently: A user will ask a question about a problem, the solution to which is generally a one-liner troubleshooting thing posted in the comments (i.e. "Have you tried resetting the SMC?" "Great, it works now!") or something like a the location of a menu item buried somewhere. Every now and then, the user will subsequently delete this question.</p>

<p>I don't like this because I feel that some other users might benefit greatly from reading the question when they are having a similar issue, even if the answer was "easy" for those who are more familiar with the products and troubleshooting techniques.</p>

<p>Am I the only person who feels this way, or do other people agree and, if there is agreement, is there a good way to encourage users not to delete their posts?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-3065"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>The main countermeasure against this is that <a href="https://meta.stackexchange.com/q/5221/222623">Stack Exchange prevents the asker from deleting their question if it has an upvoted answer or if it has multiple answers</a>.</p>

<p>Unfortunately, due to the low voting on this site, it can happen that an answer given wasn't upvoted, which leaves OP free to delete their question. If this happens and you suspect it to be because someone provided their answer, you can bring it up in chat so a moderator can have a look and potentially undelete the question.</p>

<p>If you see a pattern of this with a particular user, that's definitely grounds to flag for a moderator. Should a user regularly delete their questions, <a href="https://meta.stackexchange.com/a/97720/222623">an automatic question ban would be applied anyway</a>.</p>

<p>With regard to deleting questions after an answer was given in comments, this is another reason for answering using the answer box rather than in the comments, so the answer can be upvoted. For the exact transcript you give, I'd still be inclined to raise it in chat as I would if it had been an answer, since it is clear that OP has deleted simply because they have an answer.</p>

<p>In my opinion, this kind of thing happens rarely. I've given over 2.5k answers and only had this happen a couple of times. This is the kind of ratio where moderators can take a look manually, and I don't think anything else needs implementing specifically to deal with this.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>