<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Time to face the [music]?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Time to face the [music]?</h2>
<p>Is the tag <a href="https://apple.stackexchange.com/questions/tagged/music" class="post-tag" title="show questions tagged &#39;music&#39;" rel="tag">music</a> any use when the tags <a href="https://apple.stackexchange.com/questions/tagged/itunes" class="post-tag" title="show questions tagged &#39;itunes&#39;" rel="tag">itunes</a>, <a href="https://apple.stackexchange.com/questions/tagged/music.app" class="post-tag" title="show questions tagged &#39;music.app&#39;" rel="tag">music.app</a> and <a href="https://apple.stackexchange.com/questions/tagged/apple-music" class="post-tag" title="show questions tagged &#39;apple-music&#39;" rel="tag">apple-music</a> exist?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Just pushing this into an answer to get a vote going.</p>

<p>It's time for it to face its final curtain.<br>
No encore, just a swan song.</p>

<p>It's well-covered by the other tags.<br>
It <em>could</em> be useful for instance, perhaps for Garage Band or Logic questions, but a quick scroll down the top 50 questions under the tag reveals the other tags would pretty much have covered them all.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>