<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>To ensure that users read proper manual pages: should we allow hyperlinking of x-man-page:~~ URLs?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1247" class = "post">
			<h2>Question</h2>
			<div id="vote-1247" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 195</p>
			</div>
				<h2>To ensure that users read proper manual pages: should we allow hyperlinking of x-man-page:~~ URLs?</h2>
<h1>Current behaviour</h1>

<p>Example: <a href="http://x-man-page://8/fsck_cs" rel="nofollow noreferrer">x-man-page://8/fsck_cs</a> is misinterpreted as an <code>http://</code> URL.</p>

<h1>Proposal</h1>

<p>Allow <code>x-man-page://</code> URLs to be hyperlinked  </p>

<ul>
<li><a href="http://content.wuala.com/contents/grahamperrin/public/2012/04/01/a/example.html" rel="nofollow noreferrer">examples</a>.</li>
</ul>

<h2>Motivations</h2>

<p><strong>Appropriateness</strong>. Referring to an <code>http://</code> or <code>https://</code> URL for an online copy of the page may present a manual that is <em>too new</em> or <em>too old</em> for the user's system. Linking to an <code>x-man-page://</code> URL will ensure that the page, read in OS X, is proper for the system.</p>

<p><strong>Ease of use</strong>. The settings used by Terminal in response to these URLs are more immediately user-friendly than, say, entering <code>man grep</code> at the command line. Windows such as those below <strong>respond normally</strong> to the close box, to Command-W, down, up, page down and up keys, scrolling and so on: </p>

<p><img src="https://i.stack.imgur.com/5fNOE.png" alt="a screenshot of Terminal using its Man Page settings for intro (1)"></p>

<p><img src="https://i.stack.imgur.com/e86cC.png" alt="a shot of Terminal using its Man Page settings for mdfind (1)"></p>

<h2>Assumptions</h2>

<p>It will be possible to enable this feature discretely, in <em>apple.stackexchange.com</em> areas alone</p>

<ul>
<li>other stacks might be less welcoming of link protocols that are operating system-specific.</li>
</ul>

<p>The reader will use OS X when following a link that is intended to open Terminal.app</p>

<ul>
<li>for this reason, I chose Ask Different for this meta question.</li>
</ul>

<p>Questions of a type that might include <code>x-man-page://</code> URLs are not likely to be migrated to any stack other than Ask Different. </p>

<h2>Risks</h2>

<p><strong>Without OS X</strong>, a reader may be confused by links that their system can not handle. Minimise this risk by use of plain english. With the shortening workaround suggested by Kyle, any one of the following examples might be plain enough: </p>

<ul>
<li><a href="http://is.gd/mddiagnose" rel="nofollow noreferrer">view the manual page for mddiagnose in OS X</a></li>
<li><a href="http://is.gd/mddiagnose" rel="nofollow noreferrer">view the manual page for mddiagnose in Terminal</a></li>
<li><a href="http://is.gd/mddiagnose" rel="nofollow noreferrer">view the manual page for mddiagnose in Terminal.app</a></li>
<li><a href="http://is.gd/mddiagnose" rel="nofollow noreferrer">view the manual page for mddiagnose in Terminal in OS X</a>.</li>
</ul>

<p><a href="https://apple.meta.stackexchange.com/a/1249/8546"><strong>Verbosity and gobbledy-gook</strong></a>. This exists in some man pages, not all. If a person will be daunted by the content of a page, then he or she might prefer to read that content in a web browser (solutions such as Bwana are given in answers elsewhere). </p>

<p>However: most such content relates to use of Terminal, so I argue that there's value in encouraging <strong>uses that can make Terminal less daunting</strong>. Reading a page that can be scrolled and closed with ease is one such use case.  </p>

<h2>References</h2>

<p><a href="https://apple.stackexchange.com/a/24351/8546">https://apple.stackexchange.com/a/24351/8546</a></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1247" class = 'collapse'>
			</div>
				<textarea id = "speech-1247" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1247">
					<img id="start_img-1247" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1248"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1248" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could use a link shortener to link to the x-man-page URLs, like so:</p>

<p><a href="http://is.gd/kP7w5a" rel="nofollow">x-man-page://8/fsck_cs</a></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1248">Load Comments</button></br>
			<div id = "commentsection-1248" class = 'collapse'>
			<div id = "comment-2297" class = "comment">
				<p>Interesting, thanks, but the workaround fails in some browsers </p>
			</div>
			<div id = "comment-2298" class = "comment">
				<p>@GrahamPerrin It works for me in Safari, Chrome, Firefox, and Opera. What browsers does it not work in?</p>
			</div>
			<div id = "comment-2302" class = "comment">
				<p>[OmniWeb](http://www.omnigroup.com/products/omniweb/) 5.11.1 ([pictured](http://www.wuala.com/grahamperrin/public/2012/04/01/b/?mode=gallery)) treats http://is.gd/kP7w5a as a bad URL. In another environment, "the page's address isn't valid.".</p>
			</div>
			</div>
				<textarea id = "speech-1248" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1248">
					<img id="start_img-1248" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1249"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1249" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>All-in-all I like this idea, but I want to raise one point of concern. Generally speaking, a user who needs <em>help</em> accessing a man page has a high likelihood of being a user who will might be a little freaked out when clicking on a link opens a terminal session and causes pages (and pages and pages) of <em>gobbledy-gook</em> to appear. Discuss.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1249">Load Comments</button></br>
			<div id = "commentsection-1249" class = 'collapse'>
			<div id = "comment-2305" class = "comment">
				<p>Understood. Reference to a manual page alone (without Ask Different) is rarely a substitute for more explanatory help (within Ask Different). The intention here is to make the interface to the proper point of reference  when required  more user-friendly. Allowing OS X to use the predefined _Man Page_ settings is a reasonably consistent approach to easing use of Terminal. Concerning the gook and the potential for freakiness, I'll edit the opening question </p>
			</div>
			</div>
				<textarea id = "speech-1249" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1249">
					<img id="start_img-1249" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2172"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2172" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was also thinking that allowing x-man-page links would be convenient, but then I realized there is a major caveat that nobody has considered; if you're using any other operating system then these links become completely useless.</p>

<p>I'm often browsing stackexchange from iOS, or Linux. Without some type of user agent detection to redirect x-man-page links for non OS X users the cons quickly outweigh the pros. Even then the issue becomes needing to provide online man page links in addition to those native to OS X. I love having the ability to use x-man-pages, however, using OS X is not always an option even while I'm on askdifferent.com.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2172" class = 'collapse'>
			</div>
				<textarea id = "speech-2172" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2172">
					<img id="start_img-2172" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2173"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2173" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Linking between globally available web pages is better in the long term. Avoid the exclusive use of <code>x-man-page</code> links.</p>

<h2>Unofficial Scheme</h2>

<p>There are risks associated with any <code>x-</code> prefixed scheme. <code>x-</code> is non-standard and no browser vendor has any long term reason to continue support. If Apple decide that manual pages are deemed too complex for their customers, they can remove support for the <code>x-man-page</code> scheme without consequence. Remember how <code>feed</code> support was removed in OS X 10.9.</p>

<h2>Hyperlinking</h2>

<p>Linking to web pages reinforces the web and the notion of hyperlinked content. Linking between local and hosted content will break the easy crawling and indexing of Ask Different's content.</p>

<p>Linking locally assumes the reader is using a Mac running a specific version of OS X. What happens to those researching answers for others? They may be presented with outdated or too modern manual pages, as easily as we might link to an incorrect version today.</p>

<h2>Versioned Manual Pages</h2>

<p>Apple once hosted versioned manual pages. These pages have since been replaced by copies of only the latest edition of each page.</p>

<p>Is there is a stable host of versioned Mac OS X manual pages that we could link to?</p>

<p>This would address the versioning problem and remove the requirement to be browsing on a Mac with <code>x-man-page</code> scheme support.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2173" class = 'collapse'>
			</div>
				<textarea id = "speech-2173" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2173">
					<img id="start_img-2173" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>