<html>
	<head>
		<title id = 'pagetitle'>Top bar shows more review tasks to be completed than the sum of tasks at ~review
		</title>
	<head>
	<body id = 'pagebody'><p>Can someone explain to me the discrepancy of the displayed number to be reviewed in the top bar and the sum of the actual review tasks to be completed?</p>

<p><img src="https://i.stack.imgur.com/F8tp4.jpg" alt="/review"></p>

<p>The top bar icon shows 4 but when I go to /review, I only find 1.</p>


<h1>ANSWERS</h1>
		<p>There are many reasons why this may occur.</p>

<ul>
<li>If you've handled a post outside of a queue yourself, then you won't be able to handle it inside a queue.</li>
<li>If you've handled a post in a queue that requires someone else (or multiple other people) to handle it too, then you won't see the review task any more but it'll be shown in the count in the top bar, for other users.</li>
<li>For users with &lt;5k, tag wiki suggested edits count towards the number in the top bar but won't be shown to you.</li>
</ul>


<p>[I know this isn't an answer, but just to keep it in one thread - not worth a separate question, I didn't think]</p>

<p>Since I hit my 10k rep, this has become a constant source of irritation to my usually well-under-control OCD.</p>

<p>More than half the times I refresh the main questions page, I see a number of flags.<br>
The number of times this matches the number of issues I can actually see in Review is negligible.</p>

<p>It used to match, before I hit 10k. This was literally an overnight change in behaviour.</p>


	</body>
</html>