<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Top bar shows more review tasks to be completed than the sum of tasks at ~review
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2445" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::28</h3>
				<h2>Top bar shows more review tasks to be completed than the sum of tasks at ~review</h2>
<p>Can someone explain to me the discrepancy of the displayed number to be reviewed in the top bar and the sum of the actual review tasks to be completed?</p>

<p><img src="https://i.stack.imgur.com/F8tp4.jpg" alt="/review"></p>

<p>The top bar icon shows 4 but when I go to /review, I only find 1.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2446"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>There are many reasons why this may occur.</p>

<ul>
<li>If you've handled a post outside of a queue yourself, then you won't be able to handle it inside a queue.</li>
<li>If you've handled a post in a queue that requires someone else (or multiple other people) to handle it too, then you won't see the review task any more but it'll be shown in the count in the top bar, for other users.</li>
<li>For users with &lt;5k, tag wiki suggested edits count towards the number in the top bar but won't be shown to you.</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4586" class = "comment">
				<p>that explains it well</p>
			</div>
			<div id = "comment-4605" class = "comment">
				<p>The usual meta.stackexchange answer is simply "caching" - the number in the top is cached and so will not be exactly correct which is why after you have cleared all queue the number does not go down by the number you reviewed</p>
			</div>
			<div id = "comment-4606" class = "comment">
				<p>@Mark I was aware of the relevant discussions on Meta.SE however I disagree with their conclusion of caching and believe my answer is more accurate. When a new task is presented, the number is increased immediately, and when a task is completed properly, the number is decreased immediately. However, the counter on SO does seem to be cached.</p>
			</div>
			<div id = "comment-4608" class = "comment">
				<p>I do reviews and the review number does not change at all  after I have done them - your comments are also true</p>
			</div>
			<br><div id = "ans-2482"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>[I know this isn't an answer, but just to keep it in one thread - not worth a separate question, I didn't think]</p>

<p>Since I hit my 10k rep, this has become a constant source of irritation to my usually well-under-control OCD.</p>

<p>More than half the times I refresh the main questions page, I see a number of flags.<br>
The number of times this matches the number of issues I can actually see in Review is negligible.</p>

<p>It used to match, before I hit 10k. This was literally an overnight change in behaviour.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5662" class = "comment">
				<p>welcome to the club of "confusionem"</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>