<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Top bar on updated site has some unsharp text in it on a Thunderbolt display
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2378" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::50</h3>
				<h2>Top bar on updated site has some unsharp text in it on a Thunderbolt display</h2>
<p>Overall the update is awesome. I really like the new fonts and the <em>really</em> like the updated look to the Markdown input box for question asking and answering.</p>

<p>I'm noticing, on my Thunderbolt display (which is attached to my 15" rMPB), that the top bar text has a bad case of the jaggies.</p>

<p><img src="https://i.stack.imgur.com/zPc7z.png" alt="Thunderbolt display"></p>

<p>(Direct link: <a href="https://i.stack.imgur.com/zPc7z.png" rel="nofollow noreferrer">http://i.stack.imgur.com/zPc7z.png</a>)</p>

<p>The Thunderbolt display is running at native 2560 x 1440 resolution.</p>

<p>For comparison here's how it looks on the retina display on the MacBook Pro (which is great):</p>

<p><img src="https://i.stack.imgur.com/XywMV.png" alt="Retina MacBook Pro display"></p>

<p>(Direct link: <a href="https://i.stack.imgur.com/XywMV.png" rel="nofollow noreferrer">http://i.stack.imgur.com/XywMV.png</a>)</p>

<p>I'm using Chrome 41.0.2272.76 (64-bit) on OS X 10.2.2 to view the site but it renders equally jaggy in Safari.</p>

<p>Edit: those scaled-down images don't show the problem. Use the direct links to see them at full resolution.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2378">Load Comments</button></br>
			<div id = "commentsection-2378" class = 'collapse'>
			<div id = "comment-4440" class = "comment">
				<p>that's weird. I'm not seeing it on my iMac(non-retina). if you use use chrome inspect on the body tag, you'll see we use -webkit-font-smoothing: antialiased; if you turn it off does it fix the font issue?</p>
			</div>
			<div id = "comment-4456" class = "comment">
				<p>@Jin uh, how do I turn off that option? <sheepish grin></p>
			</div>
			</div>
				<textarea id = "speech-2378" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2378">
					<img id="start_img-2378" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>