<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Top bar on updated site has some unsharp text in it on a Thunderbolt display
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Top bar on updated site has some unsharp text in it on a Thunderbolt display</h2>
<p>Overall the update is awesome. I really like the new fonts and the <em>really</em> like the updated look to the Markdown input box for question asking and answering.</p>

<p>I'm noticing, on my Thunderbolt display (which is attached to my 15" rMPB), that the top bar text has a bad case of the jaggies.</p>

<p><img src="https://i.stack.imgur.com/zPc7z.png" alt="Thunderbolt display"></p>

<p>(Direct link: <a href="https://i.stack.imgur.com/zPc7z.png" rel="nofollow noreferrer">http://i.stack.imgur.com/zPc7z.png</a>)</p>

<p>The Thunderbolt display is running at native 2560 x 1440 resolution.</p>

<p>For comparison here's how it looks on the retina display on the MacBook Pro (which is great):</p>

<p><img src="https://i.stack.imgur.com/XywMV.png" alt="Retina MacBook Pro display"></p>

<p>(Direct link: <a href="https://i.stack.imgur.com/XywMV.png" rel="nofollow noreferrer">http://i.stack.imgur.com/XywMV.png</a>)</p>

<p>I'm using Chrome 41.0.2272.76 (64-bit) on OS X 10.2.2 to view the site but it renders equally jaggy in Safari.</p>

<p>Edit: those scaled-down images don't show the problem. Use the direct links to see them at full resolution.</p>

			</div>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>