<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Trying to create iphone-5s tag
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1812" class = "post">
			<h2>Question</h2>
			<div id="vote-1812" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 65</p>
			</div>
				<h2>Trying to create iphone-5s tag</h2>
<p>I was editing a question and tried to add a "iphone-5s" tag and AD won't let me do it. I have the rep to create new tags, but I guess not if it is too similar to an existing tag.</p>

<p>I was trying to update this question: <a href="https://apple.stackexchange.com/questions/101532">What&#39;s the difference between the battery of iPhone 5s vs iPhone 5?</a></p>

<p>Also, a tag for iPhone-5c will probably be necessary shortly.</p>

<p>Is there a way to create these tags, or do I need to ask the moderators nicely?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1812">Load Comments</button></br>
			<div id = "commentsection-1812" class = 'collapse'>
			<div id = "comment-3439" class = "comment">
				<p>Marking this as a possible bug. Don't know why couldn't create the tag but I made it for you, tagged that question: http://apple.stackexchange.com/questions/tagged/iphone-5s You shouldn't have to ask mods, nicely or otherwise, do to create tags at your rep.</p>
			</div>
			<div id = "comment-3440" class = "comment">
				<p>Overzealous typo prevention, I imagine. That or a check for unnecessary pluralization. (iPhone-5 -> iPhone-5s, keyboard -> keyboards)</p>
			</div>
			<div id = "comment-3453" class = "comment">
				<p>I put in a feature request to fix this in the general case: http://meta.apple.stackexchange.com/questions/1816/plural-guard-registering-false-positives-on-this-site</p>
			</div>
			</div>
				<textarea id = "speech-1812" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1812">
					<img id="start_img-1812" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1813"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1813" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We've established the <a href="https://apple.stackexchange.com/questions/tagged/iphone-5s" class="post-tag" title="show questions tagged &#39;iphone-5s&#39;" rel="tag">iphone-5s</a> and a synonym to <a href="https://apple.stackexchange.com/questions/tagged/iphone5s" class="post-tag" title="show questions tagged &#39;iphone5s&#39;" rel="tag">iphone5s</a> as well as <a href="https://apple.stackexchange.com/questions/tagged/iphone-5c" class="post-tag" title="show questions tagged &#39;iphone-5c&#39;" rel="tag">iphone-5c</a> and its synonym.</p>

<p>Let's use this post to discuss the pros and cons of having separate tags (vs all using iPhone or all using iPhone 5 vs emacs vs vi et.cetera.)</p>

<p>For what it's worth, you ran into the <a href="https://meta.stackexchange.com/questions/187406/is-the-tag-pluralization-filter-working-correctly">tag pluralization filter</a> which was implemented to prevent <a href="https://meta.stackexchange.com/questions/6752/merge-singular-and-plural-tags">bigger messes like this</a> from happening. I believe only site moderators and staff can establish tags that contravene that filter (in this case iPhone-5s was locked since we had a pre-existing tag of iPhone-5).</p>

<p>I see no special privilege that allows this, but we might be able to get one of out 10k users to test creating a tag that would normally be tripped up by the filter to know for sure.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1813">Load Comments</button></br>
			<div id = "commentsection-1813" class = 'collapse'>
			<div id = "comment-3446" class = "comment">
				<p>Why not put up a warning that somebody with enough rep can override? That's what I was expecting.</p>
			</div>
			<div id = "comment-3447" class = "comment">
				<p>@MarkThalman I'm not understanding what you'd like to have happen at this point. I thought you were asking for iPhone-5s and iPhone-5c tags to get created. We've got both now. Perhaps I confused the issue by dragging synonyms into the mix. I can edit that out of my answer if so.</p>
			</div>
			<div id = "comment-3448" class = "comment">
				<p>My initial problem is solved. Thank You. It seems like there should have been a way for me to solve this without switching to meta and asking the moderators for help. That doesn't seem to be keeping with the spirit of the StackExchange sites. If nothing can be done to change this in the future, that is fine. I was hoping when this got flagged as a bug that it would change.</p>
			</div>
			<div id = "comment-3449" class = "comment">
				<p>Aah - I'll update this to mention the filter that you ran up against. It's by design and intentional as opposed to being a bug from what I've learned on the main meta.</p>
			</div>
			<div id = "comment-3450" class = "comment">
				<p>I though it was obvious it was by design. I thought the design could use some improvement.</p>
			</div>
			<div id = "comment-3452" class = "comment">
				<p>In general, when there's a tag "foo", we really don't also want a "foos" tag created. Apple *is* making that pattern not work so well now that they have three times added an S to a model name to indicated is successor. The problem is that this pattern seems to come up a fair bit on this particular site, but the filter is system-wide. I agree with you that this is not optimal, but I'm not sure if the coders who write this site will think it's worth changing the system coding for a tag that seems to be created once every two years.</p>
			</div>
			<div id = "comment-3454" class = "comment">
				<p>Now I understand better. I thought it was just a one character, and character, difference that was triggering the behavior, but it is specifically <existing tag> plus 's' that is triggering it. This makes sense, and if the back end code is shared between all of the SO/SE sites, then Daniel is correct that this is an outlier, that only happens every two years, doesn't make sense to change for all sites running on this web engine. Thanks for all your help and understanding guys!</p>
			</div>
			<div id = "comment-3455" class = "comment">
				<p>We couldn't help if you didn't ask :-) I appreciate the feedback and your action to make the site better. Thanks @MarkThalman</p>
			</div>
			</div>
				<textarea id = "speech-1813" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1813">
					<img id="start_img-1813" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>