<html>
	<head>
		<title id = 'pagetitle'>Trying to create iphone-5s tag
		</title>
	<head>
	<body id = 'pagebody'><p>I was editing a question and tried to add a "iphone-5s" tag and AD won't let me do it. I have the rep to create new tags, but I guess not if it is too similar to an existing tag.</p>

<p>I was trying to update this question: <a href="https://apple.stackexchange.com/questions/101532">What&#39;s the difference between the battery of iPhone 5s vs iPhone 5?</a></p>

<p>Also, a tag for iPhone-5c will probably be necessary shortly.</p>

<p>Is there a way to create these tags, or do I need to ask the moderators nicely?</p>


<h1>ANSWERS</h1>
		<p>We've established the <a href="https://apple.stackexchange.com/questions/tagged/iphone-5s" class="post-tag" title="show questions tagged &#39;iphone-5s&#39;" rel="tag">iphone-5s</a> and a synonym to <a href="https://apple.stackexchange.com/questions/tagged/iphone5s" class="post-tag" title="show questions tagged &#39;iphone5s&#39;" rel="tag">iphone5s</a> as well as <a href="https://apple.stackexchange.com/questions/tagged/iphone-5c" class="post-tag" title="show questions tagged &#39;iphone-5c&#39;" rel="tag">iphone-5c</a> and its synonym.</p>

<p>Let's use this post to discuss the pros and cons of having separate tags (vs all using iPhone or all using iPhone 5 vs emacs vs vi et.cetera.)</p>

<p>For what it's worth, you ran into the <a href="https://meta.stackexchange.com/questions/187406/is-the-tag-pluralization-filter-working-correctly">tag pluralization filter</a> which was implemented to prevent <a href="https://meta.stackexchange.com/questions/6752/merge-singular-and-plural-tags">bigger messes like this</a> from happening. I believe only site moderators and staff can establish tags that contravene that filter (in this case iPhone-5s was locked since we had a pre-existing tag of iPhone-5).</p>

<p>I see no special privilege that allows this, but we might be able to get one of out 10k users to test creating a tag that would normally be tripped up by the filter to know for sure.</p>


	</body>
</html>