<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Trying to make question on El-Capitan and WiFi printer specific
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2686" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::28</h3>
				<h2>Trying to make question on El-Capitan and WiFi printer specific</h2>
<p>I have an issue with my WiFi printer after upgrading my OS. I'm trying to understand/isolate (and ultimately resolve) the issue, however, I am not getting anywhere. The only question to post here that I can come up with, I myself would likely VtC as "Too Broad". But I am struggling with clarifying it.<br>
<strong>Should I ask anyway, or consult a discussion forum instead?</strong></p>

<p>Here's my situation:</p>

<ul>
<li>I use a Brother HL-2270DW printer which connects to the home WiFi.  </li>
<li>Previous to upgrading to OS X El Capitan on my 2009 MacBook, I had no issues using the printer.  </li>
<li>After upgrading the OS, the printer was gone from the list of available printers.  </li>
<li>The only way to add it to the list was specifying the IP address of the printer. Only then was it detected and correctly identified.  </li>
<li>But: I can only ever print once. On any subsequent job, the printer cannot be connected. I can delete it and add it again to the list and it will print - once.  </li>
<li>Adding the printer by inputting the IP address for every single document is too tedious for me.  </li>
</ul>

<p>However, as stated above, I do not know how to tackle this. And asking for trouble-shooting advice appears "too broad". </p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2687"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The recipe for asking about troubleshooting is pretty easy once you've seen it work.</p>

<p>Everything is in the help section on how to ask a good question.</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/how-to-ask">https://apple.stackexchange.com/help/how-to-ask</a></li>
</ul>

<p>Just show your exact search terms on what you looked for and be narrow about the issue. You want to focus people on asking how to determine if a printer supports bonjour or how to set up a printer so that you don't have to use an IP address.</p>

<p>Using chat or a discussion forum might help you winnow down what you really are asking. Also, sometimes just "how can tell if printer XYZ should be discoverable by OS X version ABC" with you documenting what search you did on Apple and Brother's site makes it answerable.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5977" class = "comment">
				<p>Actually using your suggested search phrase brought me to the brother website which had a list of supported printers - and updated drivers. problem solved.</p>
			</div>
			<div id = "comment-5978" class = "comment">
				<p>@Schorsch Excellent. If you wanted to contribute that knowledge here - we do encourage people to ask and then answer questions if they help accumulate specific steps to solve issues.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>