<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Two edit links on the blog's post-meta line in single-post view
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-830" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::42</h3>
				<h2>Two edit links on the blog's post-meta line in single-post view</h2>
<p>While obviously these links are only available to those with sufficient privileges on the blog;</p>

<p><img src="https://i.stack.imgur.com/s9rbl.png" alt="BlogOverflow post screenshot"></p>

<p>I suspect the first Edit is a stray, because the trailing " | Edit" looks much better. Especially considering the otherwise-leading date information on this line.</p>

			</div><h3>Comments</h3>
			<div id = "comment-1553" class = "comment">
				<p>I only see one link. http://i.imgur.com/nJxmX.png</p>
			</div>
			<div id = "comment-1554" class = "comment">
				<p>Aaand, I'm silly. It's there if you actually click on a post. http://i.imgur.com/OaGgu.png</p>
			</div>
			<div id = "comment-1556" class = "comment">
				<p>But, you pointed out that I missed a fairly important detail. Single-post view. Updated title.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-830">Record</button>
				<button class="record-stop" id="stop-830">Stop</button>
				<p id="recording-830"></p>

<h1>Answers</h1>
			<br><div id = "ans-833"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Thanks for pointing this out.  I just deployed a fix.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1916" class = "comment">
				<p>I can't believe I never accepted this. I guess I get to thank [Community  ](http://meta.apple.stackexchange.com/users/-1/community) for bumping it!</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-833">Record</button>
				<button class="record-stop" id="stop-833">Stop</button>
				<p id="recording-833"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>