<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Two edit links on the blog's post-meta line in single-post view
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Two edit links on the blog's post-meta line in single-post view</h2>
<p>While obviously these links are only available to those with sufficient privileges on the blog;</p>

<p><img src="https://i.stack.imgur.com/s9rbl.png" alt="BlogOverflow post screenshot"></p>

<p>I suspect the first Edit is a stray, because the trailing " | Edit" looks much better. Especially considering the otherwise-leading date information on this line.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Thanks for pointing this out.  I just deployed a fix.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>