<html>
	<head>
		<title id = 'pagetitle'>Two edit links on the blog's post-meta line in single-post view
		</title>
	<head>
	<body id = 'pagebody'><p>While obviously these links are only available to those with sufficient privileges on the blog;</p>

<p><img src="https://i.stack.imgur.com/s9rbl.png" alt="BlogOverflow post screenshot"></p>

<p>I suspect the first Edit is a stray, because the trailing " | Edit" looks much better. Especially considering the otherwise-leading date information on this line.</p>


<h1>ANSWERS</h1>
		<p>Thanks for pointing this out.  I just deployed a fix.</p>


	</body>
</html>