<html>
	<head>
		<title id = 'pagetitle'>Typing question~answer via iPhone very slow
		</title>
	<head>
	<body id = 'pagebody'><p>I've just typed an answer on AD and it's way slower than typing a question or answer on this meta for example.</p>

<p>I am using Mobile Safari browser and not enabling the mobile theme - so it's basically the full site css/js on the iOS 7 mobile Safari that is not performing well when typing.</p>

<p>Can the custom font be disabled for the textareas please?</p>

<p><strong>Important edit:</strong> please note I'm not 100% sure it is the font. Both are <strong><em>consolas</em></strong>, but something is causing this. Someone who could troubleshoot this, would be awesome.</p>


<h1>ANSWERS</h1>
			</body>
</html>