<html>
	<head>
		<title id = 'pagetitle'>Typo on the "header" for the site
		</title>
	<head>
	<body id = 'pagebody'><p>Towards the top of the page on the beta site it looks like a typo:</p>

<blockquote>
  <p>got a question about the site <strong>iteself</strong>?
  meta.apple is the place to talk about
  things like what questions are
  appropriate, what tags we should use,
  etc</p>
</blockquote>

<p>Should read:</p>

<blockquote>
  <p>got a question about the site <strong>itself</strong>?
  meta.apple is the place to talk about
  things like what questions are
  appropriate, what tags we should use,
  etc</p>
</blockquote>

<p>Totally not a biggie but thought I'd mention it.  (Give me a schweet shirt please!)</p>


<h1>ANSWERS</h1>
		<p>Fixed, nice catch.</p>


	</body>
</html>