<html>
	<head>
		<title id = 'pagetitle'>Unable to comment on certain questions
		</title>
	<head>
	<body id = 'pagebody'><p>On the iPhone app, when reading a question that does not have any comments from other users one is unable to add a comment.</p>

<p>There is only the option to "add an answer".</p>

<p>For example, on this question: <a href="https://apple.stackexchange.com/q/221633/162909">Several items disabled on iPhone</a>, I am only able to see this:</p>

<p><a href="https://i.stack.imgur.com/Pfw3b.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Pfw3b.jpg" alt="No &quot;comment button&quot;?"></a></p>

<p>However, occasionally, if there is a question that already has a comment on it, I am able to add a comment. I am unable to find an example at the moment.</p>

<p>Is this due to an unknown site mechanic or due to a lack of sufficient rep?</p>

<p><strong>EDIT:</strong> I found an example of the "Add Comment" button appearing:</p>

<p><a href="https://i.stack.imgur.com/364xr.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/364xr.jpg" alt="Here it is"></a></p>

<p>Strangely, it appeared on my question.</p>


<h1>ANSWERS</h1>
		<p>That's actually how the site works:</p>

<ul>
<li>You need a reputation of 50 (see <a href="https://apple.stackexchange.com/help/privileges">https://apple.stackexchange.com/help/privileges</a>) to be able to comment on every post.</li>
<li>You can always comment on your own posts</li>
</ul>


	</body>
</html>