<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Unable to comment on certain questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2705" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::14</h3>
				<h2>Unable to comment on certain questions</h2>
<p>On the iPhone app, when reading a question that does not have any comments from other users one is unable to add a comment.</p>

<p>There is only the option to "add an answer".</p>

<p>For example, on this question: <a href="https://apple.stackexchange.com/q/221633/162909">Several items disabled on iPhone</a>, I am only able to see this:</p>

<p><a href="https://i.stack.imgur.com/Pfw3b.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Pfw3b.jpg" alt="No &quot;comment button&quot;?"></a></p>

<p>However, occasionally, if there is a question that already has a comment on it, I am able to add a comment. I am unable to find an example at the moment.</p>

<p>Is this due to an unknown site mechanic or due to a lack of sufficient rep?</p>

<p><strong>EDIT:</strong> I found an example of the "Add Comment" button appearing:</p>

<p><a href="https://i.stack.imgur.com/364xr.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/364xr.jpg" alt="Here it is"></a></p>

<p>Strangely, it appeared on my question.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2706"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>That's actually how the site works:</p>

<ul>
<li>You need a reputation of 50 (see <a href="https://apple.stackexchange.com/help/privileges">https://apple.stackexchange.com/help/privileges</a>) to be able to comment on every post.</li>
<li>You can always comment on your own posts</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5998" class = "post">
				<p>I seeeee. So that's what the "Comment Everywhere" privilege was about. I must've gotten confused between my U&L profile and the Ask Different one.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>