<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Unlock this question, please. Perhaps allow locks to timeout
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2186" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::46</h3>
				<h2>Unlock this question, please. Perhaps allow locks to timeout</h2>
<p>I encountered this question via an organic search result in Google. Can a mod please unlock it so that I can upvote it? </p>

<p><a href="https://apple.stackexchange.com/questions/16759/how-can-i-make-safari-show-the-url-when-i-hover-over-a-link">How can I make Safari show the URL when I hover over a link?</a></p>

<p>The question has been locked for <strong>7 months</strong>, and the system doesn't trust me that my upvote would be not genuine. A user's combined reputation should be a good indicator that they're not messing around.</p>

<p>This leads to a <strong>feature request</strong>: provide the mods an option to expire the lock after <em>n</em> days.</p>

<p><img src="https://i.stack.imgur.com/eH964.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4158" class = "comment">
				<p>I unlocked it (and undeleted the Ultimate Status Bar answer because that extension does exactly what the question was asking is da bomb). An auto-unlock for mods to set would be a cool feature IMO.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2187"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>You can flag a post for unlocking as well as post on the meta as you did. Thanks for showing up and helping to up vote good content.</p>

<p>There is a feature to lock posts for a time period and then unlock them, however this post had answers that were continually vandalized by a bot performing anonymous edits. It devalued the review queue so I locked the post.</p>

<p>If the bot comes back, we will have to lock it - the good news is there are enough votes for this post to rise to the top of just about any search.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>