<html>
	<head>
		<title id = 'pagetitle'>Unlock this question, please. Perhaps allow locks to timeout
		</title>
	<head>
	<body id = 'pagebody'><p>I encountered this question via an organic search result in Google. Can a mod please unlock it so that I can upvote it? </p>

<p><a href="https://apple.stackexchange.com/questions/16759/how-can-i-make-safari-show-the-url-when-i-hover-over-a-link">How can I make Safari show the URL when I hover over a link?</a></p>

<p>The question has been locked for <strong>7 months</strong>, and the system doesn't trust me that my upvote would be not genuine. A user's combined reputation should be a good indicator that they're not messing around.</p>

<p>This leads to a <strong>feature request</strong>: provide the mods an option to expire the lock after <em>n</em> days.</p>

<p><img src="https://i.stack.imgur.com/eH964.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>You can flag a post for unlocking as well as post on the meta as you did. Thanks for showing up and helping to up vote good content.</p>

<p>There is a feature to lock posts for a time period and then unlock them, however this post had answers that were continually vandalized by a bot performing anonymous edits. It devalued the review queue so I locked the post.</p>

<p>If the bot comes back, we will have to lock it - the good news is there are enough votes for this post to rise to the top of just about any search.</p>


	</body>
</html>