<html>
	<head>
		<title id = 'pagetitle'>Unread Messages~Updates Icon looks exactly like Gmail logo.
		</title>
	<head>
	<body id = 'pagebody'><p>You guys know the little red icon that sits next to your username and lights up whenever you've got updates? I looked at the unread icon when it was lit up and immediately thought of gmail, so then I looked at the gmail icon (especially the favicon) and the two look exactly alike. They look even more alike when the unread icon is lit up and red like the gmail icon. </p>

<p>I was just worried that their might be some sort of legal issue with this. On a different note, I don't really like it because it just makes me think of Gmail. If you made the "M" shaped lines not extra bold it would look perfect.</p>

<p><img src="https://i.stack.imgur.com/qHptF.png" alt="gmail favicon">
<img src="https://i.stack.imgur.com/v2Z6R.png" alt="ase unread icon"></p>


<h1>ANSWERS</h1>
		<p>I made that icon from scratch and didn't think about the Gmail icon. I've seen plenty icon sets that has the mail icon similar to that. After all, it's just an envelope. The reason the unread icon is red is because that's our convention for all SE sites. The mail icon has a different style(flat) from the rest of the icon on the site because it sits on the top bar, should have an engraved looked like the embossed text on there. </p>

<p>I don't think it's a major issue for now, unless more people object to it.</p>


	</body>
</html>