<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Update to FAQ regarding beta and pre-release software
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Update to FAQ regarding beta and pre-release software</h2>
<p>I have updated to the FAQ to include a line about not being able to ask about pre-release and beta software.</p>

<blockquote>
  <p>and it is <strong>not about</strong> ...</p>
  
  <ul>
  <li>pre-release or beta software requiring a non-disclosure agreement (NDA) to use</li>
  </ul>
</blockquote>

<p>Lion and iOS 5 are due to be released, but still not, and the number of questions has gone up recently. <a href="https://apple.stackexchange.com/questions/17366/disable-opening-pdfs-inline-in-safari-5-1">There was a question recently</a> where a couple of users expressed disappointment in not being able to ask Lion questions, and their comments got a few upvotes. We have been closing beta-related questions for a while, and we have never allowed discussion on installing Apple software on non-Apple hardware, so I don't this as really being a big deal to add.</p>

<p>Please let me know if the language is okay or if it needs to be made clearer. Either way, I feel that the beta policy needs to be made clear, and I would be interested to hear any objections to adding this as well.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Agreed; Apple is particularly strict about this, and since anything can change between beta and release it is better -- from an <em>end user perspective</em> -- to not allow it at all.</p>

<p>(I am more sympathetic to developers, who really do need to use and talk about this stuff as it is "final" for them much earlier.)</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Please consider adding some wording to the FAQ.</p>

<p>When you ask a Lion or other NDA protected question, you are asking people to publicly admit that they are using stolen software or have broken their word when they agreed to treat pre-release software under the rules of non-disclosure. If you provide a link to the discussion boards that exist from Apple for these questions, it's a far more forgiving and reasoned "no" than to simply not participate here.</p>

<p>The developers have an awesome resource at <a href="http://developer.apple.com/devforums/" rel="nofollow">http://developer.apple.com/devforums/</a> for discussing pre-release software where little is off the table other than directly criticizing policy or people.</p>

<p>Cheers and thanks for all the work the moderators are doing to close these. It doesn't appear that the community still lacks enough people browsing daily that have the rep to close these through the normal quorum of 5 votes to close.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Agreed; thanks for writing the update.</p>

<p>One thing I would add: Things change quickly in the world of prerelease software.<br>
So, many (if not most) questions about prerelease software will either be answered in a future release, or things will be change enough in the future that the question and/or answers are no longer correct/relevant.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>