<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Update: It's iPhone 4S week!
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-957" class = "post">
			<h2>Question</h2>
			<div id="vote-957" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 460</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Update: It's iPhone 4S week!</h2>
<p>This week, we re kicking off a  Hot Topic of the Week  series.</p>

<p>How it works: One topic is designated each week, and each person who asks a question relating to that topic will be eligible to win a prize. Topics are chosen from your suggestions in the community wiki below.</p>

<p>How to enter: Ask a question relating to the topic of the week, and tag it accordingly (this week, use the <a href="https://apple.stackexchange.com/questions/tagged/iphone-4s" class="post-tag" title="show questions tagged &#39;iphone-4s&#39;" rel="tag">iphone-4s</a> tag). Each question you ask will get you one entry into a random drawing to win an iPhone accessory(s) of your choice ($100 max).</p>

<p>This round will begin today (Dec. 23) and end on Monday (Jan. 2).</p>

<p>Update: <em>Congratulations to <a href="https://apple.stackexchange.com/users/15559/allen-chao">Allen Chao</a> for <a href="https://apple.stackexchange.com/questions/34708/is-my-iphone-model-number-mc922ll-a-unlocked-or-locked">winning this week</a>! Thank you everyone who participated.</em> The weekly hot topic challenge is on hold for the next week. 
Please continue to add suggestions for upcoming weeks below!</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-957">Load Comments</button></br>
			<div id = "commentsection-957" class = 'collapse'>
			<div id = "comment-1744" class = "comment">
				<p>Is everybody eligible or are there geographic restrictions?</p>
			</div>
			<div id = "comment-1745" class = "comment">
				<p>Also: is it possible to advertise this on the site? I've seen small banners on philosophy.sx</p>
			</div>
			<div id = "comment-1748" class = "comment">
				<p>Just an FYI: This holiday weekend has been relatively slow. We'll see if things pick up soon, but you may want to consider extending this 'week' a little longer.</p>
			</div>
			<div id = "comment-1750" class = "comment">
				<p>Just curious: How is are the entries "collected" and how is the drawing done?</p>
			</div>
			<div id = "comment-1752" class = "comment">
				<p>@Agos Everyone is indeed eligible, and there is a community banner ad on the side of the site up.</p>
			</div>
			<div id = "comment-1753" class = "comment">
				<p>@Nathan Greenstein we may extend it, stay tuned for announcements.</p>
			</div>
			<div id = "comment-1754" class = "comment">
				<p>@Moshe entries are sorted by the appropriate tag- one entry is chosen randomly.</p>
			</div>
			</div>
				<textarea id = "speech-957" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-957">
					<img id="start_img-957" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-958"  class = "post">
				<h2>Answer</h2>
			<div id="vote-958" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This sounds like a great idea!</p>

<p>The model would fit perfectly for our site, especially given the wealth of apps and accessories that would make perfect prizes.</p>

<p>I saw what happened on Andorid and was secretly hoping that you guys would offer to do something similar with us :)</p>

<p>I'm posting a separate CW answer for topic ideas.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-958">Load Comments</button></br>
			<div id = "commentsection-958" class = 'collapse'>
			<div id = "comment-1738" class = "comment">
				<p>Glad you like the idea! And thanks for taking the initiative to post the CW.</p>
			</div>
			</div>
				<textarea id = "speech-958" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-958">
					<img id="start_img-958" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-959"  class = "post">
				<h2>Answer</h2>
			<div id="vote-959" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><em>Anyone can edit this! If you've got an idea, add it to the list.</em></p>

<h2>Broad Topic Ideas</h2>

<ul>
<li>iOS 5 <a href="https://apple.stackexchange.com/questions/tagged/ios-5" class="post-tag" title="show questions tagged &#39;ios-5&#39;" rel="tag">ios-5</a></li>
<li>OS X Lion <a href="https://apple.stackexchange.com/questions/tagged/lion" class="post-tag" title="show questions tagged &#39;lion&#39;" rel="tag">lion</a></li>
<li>next iDevice (after the actual product launch, of course), e.g. iPad 3</li>
<li>iCloud <a href="https://apple.stackexchange.com/questions/tagged/icloud" class="post-tag" title="show questions tagged &#39;icloud&#39;" rel="tag">icloud</a></li>
</ul>

<h2>Narrow Topic Ideas</h2>

<ul>
<li>Apps / Software Recommendations <a href="https://apple.stackexchange.com/questions/tagged/apps" class="post-tag" title="show questions tagged &#39;apps&#39;" rel="tag">apps</a> and/or <a href="https://apple.stackexchange.com/questions/tagged/software-recommendation" class="post-tag" title="show questions tagged &#39;software-recommendation&#39;" rel="tag">software-recommendation</a></li>
<li>Macs at work (business use)</li>
<li>Hardware hacks </li>
<li>Music &amp; Media <a href="https://apple.stackexchange.com/questions/tagged/itunes" class="post-tag" title="show questions tagged &#39;itunes&#39;" rel="tag">itunes</a> among other audio* tags.</li>
<li>Command line fu <a href="https://apple.stackexchange.com/questions/tagged/command-line" class="post-tag" title="show questions tagged &#39;command-line&#39;" rel="tag">command-line</a></li>
<li>Using Windows with OS X <a href="https://apple.stackexchange.com/questions/tagged/windows" class="post-tag" title="show questions tagged &#39;windows&#39;" rel="tag">windows</a>, potentially <a href="https://apple.stackexchange.com/questions/tagged/virtualization" class="post-tag" title="show questions tagged &#39;virtualization&#39;" rel="tag">virtualization</a>, <a href="https://apple.stackexchange.com/questions/tagged/parallels" class="post-tag" title="show questions tagged &#39;parallels&#39;" rel="tag">parallels</a>, <a href="https://apple.stackexchange.com/questions/tagged/vmware-fusion" class="post-tag" title="show questions tagged &#39;vmware-fusion&#39;" rel="tag">vmware-fusion</a>, <a href="https://apple.stackexchange.com/questions/tagged/bootcamp" class="post-tag" title="show questions tagged &#39;bootcamp&#39;" rel="tag">bootcamp</a></li>
<li>Gaming on OS X <a href="https://apple.stackexchange.com/questions/tagged/games" class="post-tag" title="show questions tagged &#39;games&#39;" rel="tag">games</a>, <a href="https://apple.stackexchange.com/questions/tagged/steam" class="post-tag" title="show questions tagged &#39;steam&#39;" rel="tag">steam</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-959">Load Comments</button></br>
			<div id = "commentsection-959" class = 'collapse'>
			<div id = "comment-1747" class = "comment">
				<p>Added some tags for the contest ideas. Wasn't sure about  those I left open, hopefully someone will tag them too. I think it's good to add tags for the topics already while suggesting: if the hot week topic can't be properly tagged, how could it be a good topic anyway? (And of course it is more practical for the contest manager to have the tags in advance.)</p>
			</div>
			</div>
				<textarea id = "speech-959" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-959">
					<img id="start_img-959" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>