<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Update FAQ to include Jail-breaking and~or unlocking
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1667" class = "post">
			<h2>Question</h2>
			<div id="vote-1667" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Update FAQ to include Jail-breaking and~or unlocking</h2>
<p>Does anyone else think that the FAQ should include addressing statements of one or <em>both</em>:</p>

<ol>
<li>jailbreaking (still legal in USA)</li>
<li>unlocking (ruled illegal under some circumstances in the USA)</li>
</ol>

<p>1-For jail-breaking the tendency on meta and main site is that it's okay. As such, I think it should be added to the FAQ. Where I went quickly to check. Sure, you can search for whatever you want, but the FAQ is supposed to be a thorough resource as far as I understand it.</p>

<p>2-<a href="http://www.cultofmac.com/213144/unlocking-a-new-iphone-is-now-illegal-but-jailbreaking-is-still-safe-what-it-all-means-for-you/" rel="nofollow">article at cult of mac here with details re: unlocking</a></p>

<p>Basically, according to the article, if your phone was bought after January 26th 2013, you can't use a 'third party' to unlock it, you must use your current carrier.</p>

<p>As far as I know that ruling has not been changed.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1667" class = 'collapse'>
			</div>
				<textarea id = "speech-1667" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1667">
					<img id="start_img-1667" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1667">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1668"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1668" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Legal constraints around jailbreaking/unlocking are different around the globe, so we either allow all or nothing. Personally I would go with the "allow all" option unless there is a strong legal reason that StackExchange Inc will get in trouble that way. </p>

<p>The biggest issue we have with the "unlock" questions is actually the removal of spam answers they seem to attract...</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1668">Load Comments</button></br>
			<div id = "commentsection-1668" class = 'collapse'>
			<div id = "comment-3120" class = "comment">
				<p>Indeed, I put those in parens for precisely that reason. So I'm still interested in seeing this addressed specifically in the FAQ, perhaps with that footnote. However, if having them in the FAQ will indeed increase the footwork for mods, then it's a no-go. Was either in the FAQ previously and caused a suspected spike in such answers/questions? It sounds like this is just a persisting issue that perhaps is too annoying to even risk aggravation?</p>
			</div>
			<div id = "comment-3121" class = "comment">
				<p>I doubt that spammers care about the FAQ, they just pick "unlock" questions and post their standard 'answers'. This should have no influence on whether we put something into the FAQ or not.</p>
			</div>
			<div id = "comment-3122" class = "comment">
				<p>Okay, I guess we'll see what the other mods say. Thanks! And, to be sure, only 392 people besides myself have the analytical badge, teehee  of course, countless others have read only a couple or more sections, not the whole thing.</p>
			</div>
			</div>
				<textarea id = "speech-1668" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1668">
					<img id="start_img-1668" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1668">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>