<html>
	<head>
		<title id = 'pagetitle'>Upgrade related questions appropriate?
		</title>
	<head>
	<body id = 'pagebody'><p>Appropriate to ask for advice on upgrading on this site?</p>

<p>For instance, if a user says "I have this computer was set up a, and $500 to spend, what are the best upgrades to spend my money on?", will this be allowed?</p>


<h1>ANSWERS</h1>
		<p>I'm going to go with "no" here -- it's a shopping question as you phrased it. Any recommendations that involve spending money are highly time-limited.</p>

<p>If you remove the dollars and simply ask:</p>

<blockquote>
  <p>If I was going to upgrade my computer, in what order should I upgrade components to get the most performance for my money?</p>
</blockquote>

<p>That would be slightly less contentious question and probably one I wouldn't vote to close as it will stay true much longer than a I-have-dollars-to-spend question.</p>


	</body>
</html>