<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Upgrade related questions appropriate?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2465" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::11</h3>
				<h2>Upgrade related questions appropriate?</h2>
<p>Appropriate to ask for advice on upgrading on this site?</p>

<p>For instance, if a user says "I have this computer was set up a, and $500 to spend, what are the best upgrades to spend my money on?", will this be allowed?</p>

			</div><h3>Comments</h3>
			<div id = "comment-5628" class = "comment">
				<p>See http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2465">Record</button>
				<button class="record-stop" id="stop-2465">Stop</button>
				<p id="recording-2465"></p>

<h1>Answers</h1>
			<br><div id = "ans-2466"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I'm going to go with "no" here -- it's a shopping question as you phrased it. Any recommendations that involve spending money are highly time-limited.</p>

<p>If you remove the dollars and simply ask:</p>

<blockquote>
  <p>If I was going to upgrade my computer, in what order should I upgrade components to get the most performance for my money?</p>
</blockquote>

<p>That would be slightly less contentious question and probably one I wouldn't vote to close as it will stay true much longer than a I-have-dollars-to-spend question.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5631" class = "comment">
				<p>But it is unanserable as it depends on what you are doing.  If running say VMNs you might need to get the RAM up to a high number if compiling or video editing I'll suspect an SSD. If just compiling then a fusion drive might be best. If games then a video card So it depends And it changes over time</p>
			</div>
			<div id = "comment-5638" class = "comment">
				<p>@Mark yes, I did qualify my rephrasing of the question with the adjective "slightly", did I not? Indeed, I did. I disagree it's unanswerable. It's not a great question. But it's not off topic.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2466">Record</button>
				<button class="record-stop" id="stop-2466">Stop</button>
				<p id="recording-2466"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>