<html>
	<head>
		<title id = 'pagetitle'>Uploading animated GIFS
		</title>
	<head>
	<body id = 'pagebody'><p>How do you upload animated GIFs to a post? I was trying to, but it told me 
<br /><code>"Failed to upload image; the format is not supported"</code></p>

<p>So, are they not supported, or am I just exporting the GIF wrong?</p>


<h1>ANSWERS</h1>
		<p>It definitely works; see here:</p>

<p><a href="https://meta.stackexchange.com/questions/104046/inbox-message-count-animation-too-slow/104176#104176">Inbox message count animation too slow</a></p>

<p>So presumably the format of your image is somehow incorrect.</p>


	</body>
</html>