<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Uploading animated GIFS
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-746" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::44</h3>
				<h2>Uploading animated GIFS</h2>
<p>How do you upload animated GIFs to a post? I was trying to, but it told me 
<br /><code>"Failed to upload image; the format is not supported"</code></p>

<p>So, are they not supported, or am I just exporting the GIF wrong?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-748"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>It definitely works; see here:</p>

<p><a href="https://meta.stackexchange.com/questions/104046/inbox-message-count-animation-too-slow/104176#104176">Inbox message count animation too slow</a></p>

<p>So presumably the format of your image is somehow incorrect.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1373" class = "comment">
				<p>You can grab another one that works in the site from here http://apple.stackexchange.com/questions/17759/what-tiny-thing-in-lion-makes-you-smile-or-has-caught-you-off-guard/18694#18694 and perhaps compare these to your gif that's not yet dancing about (to the dismay of many that wish these die with fire) ...</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>