<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Uploading animated GIFS
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-746" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::44</h3>
				<h2>Uploading animated GIFS</h2>
<p>How do you upload animated GIFs to a post? I was trying to, but it told me 
<br /><code>"Failed to upload image; the format is not supported"</code></p>

<p>So, are they not supported, or am I just exporting the GIF wrong?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-746" class = 'collapse'>
			</div>
				<textarea id = "speech-746" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-746">
					<img id="start_img-746" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-748"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>It definitely works; see here:</p>

<p><a href="https://meta.stackexchange.com/questions/104046/inbox-message-count-animation-too-slow/104176#104176">Inbox message count animation too slow</a></p>

<p>So presumably the format of your image is somehow incorrect.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-748">Load Comments</button></br>
			<div id = "commentsection-748" class = 'collapse'>
			<div id = "comment-1373" class = "comment">
				<p>You can grab another one that works in the site from here http://apple.stackexchange.com/questions/17759/what-tiny-thing-in-lion-makes-you-smile-or-has-caught-you-off-guard/18694#18694 and perhaps compare these to your gif that's not yet dancing about (to the dismay of many that wish these die with fire) ...</p>
			</div>
			</div>
				<textarea id = "speech-748" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-748">
					<img id="start_img-748" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>