<html>
	<head>
		<title id = 'pagetitle'>Upvote results in +3 reputation?
		</title>
	<head>
	<body id = 'pagebody'><p>Not that it matters, but I was just wondering...</p>

<p>I just got +3 reputation for an upvote. But I always thought an upvote is +10, no?</p>

<p><img src="https://i.stack.imgur.com/5VGsT.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>In general, up votes on <strong>answers</strong> are worth +10 and up votes on <strong>questions</strong> are worth +5. There are exceptions. There is a daily reputation cap of 200, and if you hit it at the time you were upvoted, you would only receive the score that brings your total up to 200.</p>


	</body>
</html>