<html>
	<head>
		<title id = 'pagetitle'>Use San Francisco, Helvetica Neue fonts over Arial
		</title>
	<head>
	<body id = 'pagebody'><p>The current CSS design for Ask Different puts Arial first.</p>

<p>I think we should change this CSS to put San Francisco first, without having to license anything or anything like that. Here is my CSS code:</p>

<pre><code>body { font-family: -apple-system, Helvetica Neue, Arial; }
</code></pre>

<p>The only problem with this is that <code>-apple-system</code> is only supported on Apple devices and Safari. However, it can default back to Helvetica Neue.</p>

<p><a href="https://github.com/Usernamer/AskDifferent-SanFrancisco/blob/master/script.user.js" rel="nofollow"><em>I also created a TamperMonkey script with this same behavior</em></a></p>


<h1>ANSWERS</h1>
			</body>
</html>