<html>
	<head>
		<title id = 'pagetitle'>Usercard no longer expands while mousing over it
		</title>
	<head>
	<body id = 'pagebody'><p>I'm sure at some point we've all noticed while mousing over certain users picture/gravatar that extended information pops open about that person. Mine used to do this, although no longer seems to   just curious why it doesn't anymore. </p>


<h1>ANSWERS</h1>
		<p>For the user-info card to be expanded on hover you need more than 1000 rep, and a somewhat meaningful <strong>about me</strong> excerpt (more than 50 chars of text). Your about me isn't being recognized as such, so no hover card for you.</p>


	</body>
</html>