<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Usercard no longer expands while mousing over it
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1905" class = "post">
			<h2>Question</h2>
			<div id="vote-1905" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 36</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Usercard no longer expands while mousing over it</h2>
<p>I'm sure at some point we've all noticed while mousing over certain users picture/gravatar that extended information pops open about that person. Mine used to do this, although no longer seems to   just curious why it doesn't anymore. </p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1905" class = 'collapse'>
			</div>
				<textarea id = "speech-1905" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1905">
					<img id="start_img-1905" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1906"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1906" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For the user-info card to be expanded on hover you need more than 1000 rep, and a somewhat meaningful <strong>about me</strong> excerpt (more than 50 chars of text). Your about me isn't being recognized as such, so no hover card for you.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1906">Load Comments</button></br>
			<div id = "commentsection-1906" class = 'collapse'>
			<div id = "comment-3693" class = "comment">
				<p>Hmm - was this a temporary bug? I'm seeing user cards when I roll over users with 1k on main sites. Is this a new change on child metas or dig child metas have no user cards in the first place?</p>
			</div>
			<div id = "comment-3694" class = "comment">
				<p>I totally misunderstood the first question, due to the context of things that were happening at that time. I've updated my answers, as this has nothing to do with the top bar. To further elaborate, the user info hover cards feature is behind a site setting that can be turned off for each  individual site, but is currently enabled on all sites, so it should work as long as the criteria mentioned above are fulfilled.</p>
			</div>
			</div>
				<textarea id = "speech-1906" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1906">
					<img id="start_img-1906" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>