<html>
	<head>
		<title id = 'pagetitle'>Visual bug with speech bubble on 'Share a link...'
		</title>
	<head>
	<body id = 'pagebody'><p>See screenshot from <a href="https://apple.stackexchange.com/questions/7382/slideshow-display-in-aperture">this question</a> below  </p>

<p>The second bubble is sitting under 'Your Answer'  </p>

<p><img src="https://i.stack.imgur.com/ImeDx.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>This is fixed on dev will be in the next deployment.</p>


	</body>
</html>