<html>
	<head>
		<title id = 'pagetitle'>Visual bugs on user panel with new Lion style
		</title>
	<head>
	<body id = 'pagebody'><p>This <a href="https://apple.meta.stackexchange.com/questions/318/visual-bug-on-activity-tab-on-user-page">old visual</a> glitch seems to have returned: </p>

<p>It's in the responses tab, I also see it on the activity and reputation tabs. (at least for my userid).</p>

<p><img src="https://i.stack.imgur.com/ISMhF.jpg" alt="visual bug"></p>


<h1>ANSWERS</h1>
		<p>the fix will be in the next deployment.</p>


	</body>
</html>