<html>
	<head>
		<title id = 'pagetitle'>Visual bug on 'Activity' tab on user page
		</title>
	<head>
	<body id = 'pagebody'><p>The button 'all' overlays the border on this page.  See the screenshot below.  This happens in Chrome, Firefox and Safari on Mac OS X 10.6.6  </p>

<p><img src="https://i.stack.imgur.com/xnZRM.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment</p>


	</body>
</html>