<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Visual bugs on user panel with new Lion style
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-468" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::93</h3>
				<h2>Visual bugs on user panel with new Lion style</h2>
<p>This <a href="https://apple.meta.stackexchange.com/questions/318/visual-bug-on-activity-tab-on-user-page">old visual</a> glitch seems to have returned: </p>

<p>It's in the responses tab, I also see it on the activity and reputation tabs. (at least for my userid).</p>

<p><img src="https://i.stack.imgur.com/ISMhF.jpg" alt="visual bug"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-889" class = "comment">
				<p>I see this in both Firefox 4 and Safari 5.1.</p>
			</div>
			<div id = "comment-890" class = "comment">
				<p>chrome as well. It's basically everywhere modern, that's why I didn't bother to mention the browser.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-477"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>the fix will be in the next deployment.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>