<html>
	<head>
		<title id = 'pagetitle'>Visual bug on tabs with bounty questions
		</title>
	<head>
	<body id = 'pagebody'><p>When looking at the front page, the Featured tab looks like this:</p>

<p><img src="https://i.stack.imgur.com/G2OQn.png" alt="enter image description here"></p>

<p>When I browse to the Featured tab, it looks like this:</p>

<p><img src="https://i.stack.imgur.com/OOla1.png" alt="enter image description here"></p>

<p>Notice how there are artifacts outside of the red oval.</p>

<p>I'm running Safari 5 on Mac OS X 10.6.7.</p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>