<html>
	<head>
		<title id = 'pagetitle'>Visual bug when viewing your own questions
		</title>
	<head>
	<body id = 'pagebody'><p>I just asked a question and noticed what I think is a bug.</p>

<p>When you view a question that you have asked, you see the "Know someone who can answer..." message at the bottom, as well as the "Would you like to have responses sent to you..." message. You also see the "Answer Your Question" button.</p>

<p><img src="https://i.stack.imgur.com/O34Ai.png" alt="enter image description here"></p>

<p>The bug is that the button is displayed kinda-sorta on the same line as the "Would you like to have" message.<br>
I assume that those are meant to be on different lines (as they are on other sites).</p>


<h1>ANSWERS</h1>
		<p>This is resolved:</p>

<p><img src="https://i.stack.imgur.com/OUzDl.png" alt="enter image description here"></p>


	</body>
</html>