<html>
	<head>
		<title id = 'pagetitle'>Visual bug when see specific TAG
		</title>
	<head>
	<body id = 'pagebody'><p>I think it's not on proper place, or am I wrong?   </p>

<p><img src="https://i.stack.imgur.com/uiwrl.jpg" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>