<html>
	<head>
		<title id = 'pagetitle'>Visual bug on question with pages of answers
		</title>
	<head>
	<body id = 'pagebody'><p>On <a href="https://apple.stackexchange.com/questions/82/os-x-applications-you-cant-live-without">this question</a> there seems to be a bug in the layout of the words 'Your Answer' at the top of the answers section where it drops out of alignment with the pagination control.  See attached image:  </p>

<p><img src="https://i.stack.imgur.com/B9eLm.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>