<html>
	<head>
		<title id = 'pagetitle'>Visual bug on edited post title within reputation list
		</title>
	<head>
	<body id = 'pagebody'><p>On my profile page in the reputation section the title text of a post I edited appears in a larger font.  I thought this might be a bug since it looked a bit out of place.  Screenshot below:  </p>

<p><img src="https://i.stack.imgur.com/UapJ4.png" alt="reputation list screenshot"></p>


<h1>ANSWERS</h1>
		<p>the fix will be in the next deployment.</p>


	</body>
</html>