<html>
	<head>
		<title id = 'pagetitle'>Visual Bug in "Not the answer you're looking for [...]" text.
		</title>
	<head>
	<body id = 'pagebody'><p>When viewing a question with an answer, the "Not the answer you're looking for [...]" text is pushed right of the answer box, and not located entirely underneath.</p>

<p>Here on ASE:<br>
<img src="https://i.stack.imgur.com/ZYdpR.png" alt="ASE Answer Box"></p>

<p>Over on SuperUser:<br>
<img src="https://i.stack.imgur.com/oCNBH.png" alt="Answer box on SU"></p>

<p>I'm using Chrome 8 on Mac.</p>


<h1>ANSWERS</h1>
		<p>This has been fixed. please refresh.</p>


	</body>
</html>