<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Visual bug on question with pages of answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-320" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::52</h3>
				<h2>Visual bug on question with pages of answers</h2>
<p>On <a href="https://apple.stackexchange.com/questions/82/os-x-applications-you-cant-live-without">this question</a> there seems to be a bug in the layout of the words 'Your Answer' at the top of the answers section where it drops out of alignment with the pagination control.  See attached image:  </p>

<p><img src="https://i.stack.imgur.com/B9eLm.png" alt="enter image description here"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-687" class = "comment">
				<p>I'm looking into this now. thanks.</p>
			</div>
			<div id = "comment-688" class = "comment">
				<p>@Jin It also seems like the whole answer box is running behind the answers. See the gap: http://i.imgur.com/L1ofB.png (I'm on Chrome & OS X)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-322"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The fix will be in the next deployment.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>