<html>
	<head>
		<title id = 'pagetitle'>Vote to close doesn't do anything. Chrome. Mac OS X.
		</title>
	<head>
	<body id = 'pagebody'><p>Steps to reproduce:</p>

<p>Close -> Why should this  click "exact duplicate" -> Paste the URL of the "duplicated". If you click VOTE TO CLOSE right there, nothing happens.</p>

<p>You have to press "enter" on the URL text box so the form will "load" the question. </p>

<p>I don't know if this is by design. But I spent a couple of minutes clicking Vote to Close and nothing happened (even after reloading the page).</p>

<p>When I decided to press "enter" it worked.</p>

<p>Chrome 8. OSX 10.6.6.</p>


<h1>ANSWERS</h1>
		<p>Mart n, I'm using Chrome 9.0.597.84 and I'm not able to reproduce this. The duplicate question content loads right away. Or when I pasted an incorrect URL it displays the "Unable to find a question id in your input - please enter a question url or numeric id" message. </p>

<p>How are you pasting the url? Using mouse click or <kbd>cmd+v</kbd> ? If this is an issue with Chrome 10.6.6 only, then we don't support Beta browsers.</p>


	</body>
</html>