<html>
	<head>
		<title id = 'pagetitle'>Voting vs Editing, are they at Odds in the Current System?
		</title>
	<head>
	<body id = 'pagebody'><p>The site encourages editing questions, comments and answers.
The site also encourages to vote, up or down on each of these entry types.
Maybe I do not understand this correctly but what happens in the following scenarios:</p>

<p>There is a simple answer. It may be bad or at least perceived as such. It gets down votes. Now this answer is edited, and hopefully improved. If there was a mistake that is now no longer there, whatever, the negative vote still stands. What was the point in editing it?</p>

<p>There is a simple question. It may be quite well received and some people give good answers to how they understand the question. Question and/or answer get up votes. Now the original poster of the question realises that he was misunderstood, edits the question and the answers given do not really address the newly formulated question. Or the new question would now not be perceived as so interesting or valuable as the previous version. The votes remain the same. What was the point in editing it, now in relation to the votes to no longer fitting answers?</p>

<p>Currently I do not see how this dynamic is addressed.</p>

<p>This was regarding old posts. But it is also applicable to very new entries:
It seems to me that many votes are cast quite quickly, because someone likes or dislikes an answer or a question she just read. 
My current impression: Quick voting is the first phase that accumulates votes fast but also dies down quickly. After the first votes the voting slows down considerably. </p>

<p>This effect is contrary to how the system is explained to work. (Good content raises to the top bad sinks down.)</p>

<p>If the example is a really fresh entry then diligence requires you to refine this (possibly your own) entry, based on comments, suggestions, better insight. But this is currently problematic:</p>

<ol>
<li><p>"Likes or dislikes" is purposely opinion based, I understand. But asking these opinion based questions is discouraged. Technical merit or correctness are not emphasised enough in this voting system. Wit and humour, grammatical prowess, or the lack of both, play a role here. So voting is very largely influenced by opinion. If opinion is mostly discouraged in questions and answers, the it should be minimised in voting.</p></li>
<li><p>If these votes are cast before a fresh and still dynamic Q&amp;A is only half-way settled then the concerns raised above become even more important. These should self-correct automatically (through the system as designed). But they only do if they are still within the attention span of those involved so far. Seems that sometimes the individual attention span or how this site is used by the community aren't really catering to that. This demotivates participants and muffles the discussion.</p></li>
</ol>

<p>So, ideas for improvement or feature requests are:</p>

<ol>
<li><p>Differentiate in the temporal sense votes cast and edits thereafter. Or make an automated request to review votes if (substantial) editing took place. Or introduce a voting quarantine.</p></li>
<li><p>Enable more feedback that encourages editing, improving the existing content. If this site is not only about answering but also about learning, then the feedback has to be more direct. This feedback will likely improve the overall quality on its own.</p></li>
<li><p>Make it easier or explicitly possible to differentiate between likes and votes. The latter being based solely on technical correctness. (I understand that this might be either unwanted or even too late, given the content produced so far.)</p></li>
</ol>


<h1>ANSWERS</h1>
		<p>The editing is mostly a way to avoid a large period of time where people would be inclined to down vote as opposed to remedy past impressions. Ideally, each edit would then ping the voters or come back and revisit their expression - but without that, there s still the chance that everyone else will see the edited post and help right the down votes if the edit fixes whatever issues existed.</p>


	</body>
</html>