<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Vox Populi not awarded
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2014" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::55</h3>
				<h2>Vox Populi not awarded</h2>
<p>I've casted 40 votes on last saturday, and I didn't receive Vox Populi.</p>

<p>How is this possible? I've received the warning I couldn't cast any vote for the next <em>10 hours</em> that saturday.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2015"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Badges can take a while to award. The 10 hours wait lets you know when the daiy script will run and post a badge that gets checked but once a day.</p>

<p>Let us know if it's not happened in a dozen minutes after you can vote again.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3878" class = "post">
				<p>I still don't have the badge</p>
			</div>
			<br><div id = "ans-2025"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>We cannot view your voting page to corroborate your voting numbers - Mods cannot easily see how many times you voted, and certainly not who you voted for.  Once it's more than a day old, the best we can do is see how times you have voted in the current week/month.</p>

<p>In this instance checking your profile page suggests you have made 27 votes this week, but it sounds as though your voting spree took place last week.  Your monthly figure of 127 votes suggests you have made enough votes to potentially receive the badge, but does not confirm that 40 of them were made on the same day.</p>

<p>If you can take a proper look at your own personal voting page at <a href="https://apple.stackexchange.com/users/34561/rob?tab=votes&amp;sort=all&amp;page=2">here</a> and count that you definitely made 40 in 1 day, then we can perhaps look into it as a bug etc, but there's not a lot else we can do to explain why you have not received the badge although it is possible that a vote you cast was essentially "voided" if the post it was one was subsequently removed before the daily badge run completed.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2033"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I think some questions/answers I've down or upvoted have been removed. Because if I count the questions and answers right now, it's missing 4.</p>

<p>I think that's why I didn't get the badge.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>