<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Warning pop-up is difficult to read
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1408" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::41</h3>
				<h2>Warning pop-up is difficult to read</h2>
<p>The colors should be changed. I can't see what is written. That yellow and white color make it impossible to read. It can be read but you need to select the text with your cursor.</p>

<p><img src="https://i.stack.imgur.com/3bC8W.png" alt="warning popup"></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2691" class = "post">
				<p>That color contrast is quite hard to see for me as well. I'll mark this as a bug / design so that the developers can track this request. Anyone who agrees with this suggestion should upvote it so we can know it's a popular request. Thanks all...</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1415"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I completely agree - the next build (> rev 2012.8.20.3730<sup>*</sup>) will change the text color to black to increase legibility.</p>

<p><sup>* this can be found in the bottom right of the page's footer</sup></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>