<html>
	<head>
		<title id = 'pagetitle'>Warning pop-up is difficult to read
		</title>
	<head>
	<body id = 'pagebody'><p>The colors should be changed. I can't see what is written. That yellow and white color make it impossible to read. It can be read but you need to select the text with your cursor.</p>

<p><img src="https://i.stack.imgur.com/3bC8W.png" alt="warning popup"></p>


<h1>ANSWERS</h1>
		<p>I completely agree - the next build (> rev 2012.8.20.3730<sup>*</sup>) will change the text color to black to increase legibility.</p>

<p><sup>* this can be found in the bottom right of the page's footer</sup></p>


	</body>
</html>