<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Was my question deleted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2829" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::44</h3>
				<h2>Was my question deleted?</h2>
<p>I asked a question some time ago about dismissing multiple notifications on OS X. I still have the issue, but my question appears to have been deleted.</p>

<p>It's not showing on my recently deleted questions list - I guess it was probably deleted some time ago as well.</p>

<p>Does it still exist somewhere? Can anyone tell if/why it was deleted? I know I did get a couple of "random" downvotes at one point, so it may have been at -1 - would that, combined with low activity, have been sufficient for it to have been automatically deleted at some point?</p>

<p>EDIT: Here's what I see when I follow <a href="https://apple.meta.stackexchange.com/a/2830/51900">@bmike's</a> link</p>

<p><a href="https://i.stack.imgur.com/TKgzd.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/TKgzd.png" alt="enter image description here"></a></p>

<p>and if I follow the "deleted recent questions" I get</p>

<p><a href="https://i.stack.imgur.com/z5sv7.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/z5sv7.png" alt="enter image description here"></a></p>

			</div><h3>Comments</h3>
			<div id = "comment-6165" class = "comment">
				<p>Tap the deleted recent questions link seen in the bottom of your image. I also edited my answer to provide direct links.</p>
			</div>
			<div id = "comment-6169" class = "comment">
				<p>added another screenshot to show that I get no deleted recent questions when I follow the link</p>
			</div>
			<div id = "comment-6184" class = "comment">
				<p>FYI [When a user has one of his question or answer deleted, why don't you notify him about the deletion, and send the removed content by email?](http://meta.stackexchange.com/q/209694/178179)</p>
			</div>
				<textarea id = "speech-2829" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2829">
					<img id="start_img-2829" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-2830"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Your questions should all be listed at <a href="https://apple.stackexchange.com/users/51900/cupawntae?tab=questions&amp;sort=newest">https://apple.stackexchange.com/users/51900/cupawntae?tab=questions&amp;sort=newest</a></p>

<p>Only two are deleted. Is it one of those? </p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/170642/target-display-imac-steals-thunderbolt-when-i-unplug-and-wont-give-it-back">Target Display iMac steals Thunderbolt when I unplug and won't give it back</a>, deletion reason was <code>RemoveDeadQuestions</code></li>
<li><a href="https://apple.stackexchange.com/questions/154436/is-it-possible-to-close-all-notification-alerts">Is it possible to close all notification alerts?</a>, deletion reason was <code>RemoveAbandonedQuestions</code></li>
</ul>

<p>See <a href="https://apple.stackexchange.com/help/roomba">The Community user deleted my question! What gives?</a> for the definition of the deletion reasons.</p>

<hr>

<p>Also, see <a href="https://meta.stackexchange.com/questions/2645/show-all-of-my-question-answers-to-me-even-if-they-are-deleted">Show all of my question/answers to me even if they are deleted</a> and the related questions on the Linked column at the right of it for a lot of discussions, opinions and decisions on this topic. To keep it short: It is intentional. </p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6164" class = "comment">
				<p>I don't see _any_ deleted questions on that list - only 6 open questions. Is there a rep threshold to see them?</p>
			</div>
			<div id = "comment-6166" class = "comment">
				<p>(pasted screenshot into question)</p>
			</div>
			<div id = "comment-6167" class = "comment">
				<p>See links in the post above :)</p>
			</div>
			<div id = "comment-6168" class = "comment">
				<p>Thanks, yes, I can get to the questions via the direct links, but I can't see them on any list - any idea why?</p>
			</div>
			<div id = "comment-6170" class = "comment">
				<p>No - you need a higher reputation to see all deleted questions, but I was under the impression that any rep account can see their deleted questions. Perhaps you have two accounts or it's a bug.</p>
			</div>
			<div id = "comment-6171" class = "comment">
				<p>Any reputation can see *recently* deleted questions. The deleted questions by @CupawnTae were too old to be shown in the list. All deleted questions are hidden from the questions list in a user's activity except to a moderator. You can view all your own deleted questions of any age once you reach 10k reputation.</p>
			</div>
			<div id = "comment-6172" class = "comment">
				<p>@grgarside is it the recency of deletion or the age of the question that determines it? If it's the latter (which it seems to be, based on the text of the link), it's a bit unfortunate since the questions just suddenly vanish without a trace as far as the user is concerned. I happen to actually still want answers to both of these, so I would have liked the opportunity to reopen-vote them at the very least.</p>
			</div>
			<div id = "comment-6175" class = "comment">
				<p>Notifying the user in case of auto-deletion might be a feature request, I didn't have time yet to look at meta.stackexchange.com whether this has come up before.</p>
			</div>
			<div id = "comment-6176" class = "comment">
				<p>We can undelete the questions if you wish. But keep in mind that the questions have been sitting there for some months (display) or a year (notifiations) without getting a lot of attention, so they might not do better this time. And at least the notification question would require some updates (assuming you are no longer on Yosemite).</p>
			</div>
			<div id = "comment-6177" class = "comment">
				<p>@CupawnTae It shows questions posted in the last 60 days which have been deleted, irrespective of deletion date. patrix has addressed the undeletion.</p>
			</div>
			<div id = "comment-6178" class = "comment">
				<p>Thanks for the info guys. I've updated the notifications Q to include El Capitan. The Thunderbolt one is also still relevant (and the one downvote on it was one of a number that "mysteriously" happened immediately after a disagreement on a completely unrelated topic) - not sure what else I can add to it... I'm aware they probably won't get much attention as they are pretty niche, but I believe them to be valid and on-topic, and at least if they're left open it's vaguely possible that someone will find them via google at some point and I might get an answer.</p>
			</div>
			<div id = "comment-6179" class = "comment">
				<p>(BTW, the only reason I'm not marking this accepted is that it still implies I should be able to see my deleted questions on the list (still not sure what the reasoning is behind hiding them from the author, but that's another discussion))</p>
			</div>
			<div id = "comment-6180" class = "comment">
				<p>@CupawnTae I've updated the answer with a link to the related question on the Meta site.</p>
			</div>
			<div id = "comment-6183" class = "comment">
				<p>@patrix great stuff, thanks again - intentional and highly unpopular by the looks of it.</p>
			</div>
				<textarea id = "speech-2830" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2830">
					<img id="start_img-2830" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>