<html>
	<head>
		<title id = 'pagetitle'>Was a user who posted a comment as answer assisted in commenting by a moderator?
		</title>
	<head>
	<body id = 'pagebody'><p>Recently, I found a user that had a reputation under 50, so he couldn't comment. Instead, he put the comment into an answer, which people shouldn't do. I flagged the answer. After I rechecked, one of the admins or moderators deleted the "answer" and put it into a comment which had the author as the person under 50 reputation. Did a moderator do that? Can moderators do it? Or was it some community admin?</p>


<h1>ANSWERS</h1>
		<p>Yes, moderators can change an answer into a comment and attach it to the question (or any other answer) within the same question thread. Usually we use this exactly in the situation you mention (low rep user asking a clarification question).</p>


	</body>
</html>