<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Was a user who posted a comment as answer assisted in commenting by a moderator?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2443" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::40</h3>
				<h2>Was a user who posted a comment as answer assisted in commenting by a moderator?</h2>
<p>Recently, I found a user that had a reputation under 50, so he couldn't comment. Instead, he put the comment into an answer, which people shouldn't do. I flagged the answer. After I rechecked, one of the admins or moderators deleted the "answer" and put it into a comment which had the author as the person under 50 reputation. Did a moderator do that? Can moderators do it? Or was it some community admin?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4583" class = "comment">
				<p>Thanks for asking here and thanks for noticing the comment that needed maintenance. You're now a moderator of the site too! Just missing some of the advanced tools...</p>
			</div>
			<div id = "comment-4587" class = "comment">
				<p>me? Don't you need to be elected for moderation, or have 20k reputation for some limited moderation?</p>
			</div>
			<div id = "comment-4588" class = "comment">
				<p>[Everyone's a moderator!](http://blog.stackoverflow.com/2009/05/a-theory-of-moderation/)</p>
			</div>
			<div id = "comment-4590" class = "comment">
				<p>Just realized. Flagging, edits are moderation. Though less advanced. More rep, more trust...</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2444"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>Yes, moderators can change an answer into a comment and attach it to the question (or any other answer) within the same question thread. Usually we use this exactly in the situation you mention (low rep user asking a clarification question).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4582" class = "comment">
				<p>Thank you :) Will accept in 9 minutes (because of the delay limit)</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>