<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Weird background icons behind "Not the answer you're looking for?"
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-457" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::45</h3>
				<h2>Weird background icons behind "Not the answer you're looking for?"</h2>
<p>There's a weird arrow behind the "Not the answer you're looking for".</p>

<p>After a few search, it might be related to <a href="https://apple.meta.stackexchange.com/questions/449/the-expand-this-arrow-in-the-updated-reputation-view-is-missing">this question</a>.</p>

<p><img src="https://i.stack.imgur.com/sw7HO.png" alt="enter image description here"></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-457" class = 'collapse'>
			</div>
				<textarea id = "speech-457" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-457">
					<img id="start_img-457" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-458"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The fix will be in the next deployment.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-458" class = 'collapse'>
			</div>
				<textarea id = "speech-458" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-458">
					<img id="start_img-458" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>