<html>
	<head>
		<title id = 'pagetitle'>Weird background icons behind "Not the answer you're looking for?"
		</title>
	<head>
	<body id = 'pagebody'><p>There's a weird arrow behind the "Not the answer you're looking for".</p>

<p>After a few search, it might be related to <a href="https://apple.meta.stackexchange.com/questions/449/the-expand-this-arrow-in-the-updated-reputation-view-is-missing">this question</a>.</p>

<p><img src="https://i.stack.imgur.com/sw7HO.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>The fix will be in the next deployment.</p>


	</body>
</html>