<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What's up with the red on green bubbles?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What's up with the red on green bubbles?</h2>
<p>I'm not colorblind, but these bubbles from the reputation summary / recent changes page are really pushing the envelope into "fugly". Could someone here have a word with the designers and see if they meant to enact this change?</p>

<p>Even yellow/purple or orange/blue is better for people that are colorblind if you really want to use contrasting / opposing colors for this...</p>

<p><img src="https://i.stack.imgur.com/5Csqc.png" alt="red on green "></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This was my fault for assuming the text was white already on the other SE sites when adding this styling.  <a href="https://apple.meta.stackexchange.com/users/6/jin">Jin</a> pushed a CSS update so that the text on these <em>is</em> now white everywhere, it should look much better now.</p>

<p>Edit - it looks MUCH better - so happy it was an oops (and a minor one at that.) Speedy fix FTW.
<img src="https://i.stack.imgur.com/UDgNb.png" alt="enter image description here"></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>