<html>
	<head>
		<title id = 'pagetitle'>What can be done to improve this question?
		</title>
	<head>
	<body id = 'pagebody'><p>I've put a hold on this question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/125358/does-anyone-know-any-good-diagnostic-tools">Does anyone know any good Diagnostic tools?</a></li>
</ul>

<p>It strikes me as something we want on the site, but as worded, it's far too vague to be searchable IMO. </p>

<p>We don't have a specific ban on software-recommendataion questions, but the general advice from Stack Overflow is still helpful to me in deciding when to step in and pause a question:</p>

<blockquote>
  <p>Questions asking us to recommend or find a tool, library or favorite off-site resource are off-topic for Stack Overflow as they tend to attract opinionated answers and spam. Instead, describe the problem and what has been done so far to solve it.</p>
</blockquote>

<p>This question could easily be reopened if there is an actual problem being solved. If so, let's edit it to <strong>describe the problem</strong> and then document <strong>what has been done so far to solve it</strong>.</p>

<p>If it's meant to be a subjective question, it might need some significant tightening of scope. From our help center:</p>

<blockquote>
  <ul>
  <li>every answer is equally valid:  What s your favorite ______? </li>
  <li>your answer is provided along with the question, and you expect more answers:  I use ______ for ______, what do you use? </li>
  <li>there is no actual problem to be solved:  I m curious if other people feel like I do. </li>
  <li>you are asking an open-ended, hypothetical question:  What if ______ happened? </li>
  </ul>
</blockquote>

<p>To relate those words to the post in question. It seems like the following is happening:</p>

<ul>
<li><em>What's your favorite diagnostic tool for Mac?</em></li>
<li>It's not actually stating a tool, but the answers read like what I would expect if someone posted "I use AHT for diagnosing Mac, what do you use?"</li>
<li>I think a more precise statement of what problem needs diagnosis, this could be reopened rapidly with an edit and then cleaning the commentary and answers that are now obsolete / not relating to the actual problem</li>
</ul>

<p>Basically, it seems a community discussion of an open-ended "diagnosis" topic.</p>


<h1>ANSWERS</h1>
		<p>It is not a answer to your specific question, just brainstorming:</p>

<p>I am "still" in favor of a pop up when asking a question, with some basic information to be filled in, ie model, OS, maybe some basic categories like, repair, improve, unknown error ect. that would help with many questions missing that. </p>

<p>This would eliminate many questions from moderators attention for been vague.</p>

<p>In this case it would be not possible to ask a question spanning over the whole family of Apple products, that are usually open ended questions, since only one model can be entered.</p>

<p>Here is another example:</p>

<p><img src="https://i.stack.imgur.com/NRJEp.png" alt="example of bad question"></p>

<p>5 people looked and took the action of voting it down! even a moderator got involved to put it on hold?</p>

<p>Since the user only has 1 point anyway what does that do?</p>

<p>Having some sort of minimum to be filled out (as option) could prevent the fuss.</p>

<p>I do not know the solution, but seen the April joke in working, I wonder if same method could be used.</p>

<p>This will not eliminate the open field for asking questions, but will prevent the bad one.</p>


	</body>
</html>