<html>
	<head>
		<title id = 'pagetitle'>What is the significance of the blue background on some questions?
		</title>
	<head>
	<body id = 'pagebody'><p>This question is a reaction to a hint in a comment on an answer of mine <a href="https://apple.meta.stackexchange.com/questions/638/is-the-pale-blue-of-texts-on-white-pale-blue-and-beige-backgrounds-too-pale/671#671">on this thread</a>.</p>

<p>I'm a new user, and have been surprised not to find any explanation (in the FAQ, for example) of the significance of the blue background which some questions display with. The comment referred to suggests that popularity is a possible consideration, but I would appreciate a definitive explanation.</p>


<h1>ANSWERS</h1>
		<p>The blue background is placed in those questions that are tagged with tags you have selected as favorites. One of my tag favorites is <code>xcode</code> and any question that was tagged with <code>xcode</code> appears with the blue background. It is a way to help you find those questions that are more relevant to your specific interests.</p>


	</body>
</html>