<html>
	<head>
		<title id = 'pagetitle'>What to do with "Code -36" questions
		</title>
	<head>
	<body id = 'pagebody'><p>Today I stumbled upon <a href="https://apple.stackexchange.com/q/212792/81404">this question</a>. Code -36 is a file permissions error on OS X, and resolution is really dependent on what type of file is attempting to be opened. </p>

<p>If it's an app, there's a <a href="https://superuser.com/questions/898124/the-application-someapp-app-can-t-be-opened">Super User post</a>, there's a command-line utility for <a href="http://osxdaily.com/2015/02/21/fix-error-code-36-finder-mac-os-x/" rel="nofollow noreferrer">dot file conflicts</a>, and even an entire <a href="http://www.cnet.com/news/tutorial-what-to-do-when-a-mac-os-x-application-will-not-launch/" rel="nofollow noreferrer">CNET</a> article on the subject. </p>

<p>Should one master question be asked an answered, should the questions be addresses when asked, or what?</p>


<h1>ANSWERS</h1>
		<p>Posting an answer listing everything you've found and the circumstances the findings apply seems to be a good way to proceed in this case (and definitively better than a lot of back and forth in the comments to nail down the cause).</p>


	</body>
</html>