<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>What should be done with questions marked as duplicates of deleted questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1982" class = "post">
			<h2>Question</h2>
			<div id="vote-1982" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
				<h2>What should be done with questions marked as duplicates of deleted questions?</h2>
<p>There are a number of questions that are marked as duplicate of deleted questions:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/9697/will-lion-x-be-downloadable-for-everyone">Will Lion X be downloadable for everyone?</a></li>
<li><a href="https://apple.stackexchange.com/questions/10844/how-to-recover-deleted-files-from-iphone-4ios-4-3">How to recover deleted files from Iphone 4(iOS 4.3)</a></li>
<li><a href="https://apple.stackexchange.com/questions/17646/full-wireless-keyboard-for-imac">full wireless keyboard for iMac</a></li>
<li><a href="https://apple.stackexchange.com/questions/17784/how-do-people-who-recently-bought-a-macbook-pro-get-the-free-upgrade-to-lion">How do people who recently bought a Macbook Pro get the free upgrade to Lion?</a></li>
<li><a href="https://apple.stackexchange.com/questions/23155/multiple-macs-and-the-os-x-lion-hardware-up-to-date-program">Multiple Macs and the OS X Lion Hardware Up-to-Date Program?</a></li>
<li><a href="https://apple.stackexchange.com/questions/79572/new-mac-cannot-read-my-lacie-external-hard-disk-and-cannot-do-backup">https://apple.stackexchange.com/questions/79572/new-mac-cannot-read-my-lacie-external-hard-disk-and-cannot-do-backup</a></li>
<li><a href="https://apple.stackexchange.com/questions/85655/unable-to-update-apps-purchased-earlier-apple-id-changed-recently-not-device">https://apple.stackexchange.com/questions/85655/unable-to-update-apps-purchased-earlier-apple-id-changed-recently-not-device</a></li>
<li><a href="https://apple.stackexchange.com/questions/97465/find-my-iphone-mix-signals">https://apple.stackexchange.com/questions/97465/find-my-iphone-mix-signals</a></li>
</ul>

<p>Should they be reopened? Deleted themselves? Left alone?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1982">Load Comments</button></br>
			<div id = "commentsection-1982" class = 'collapse'>
			<div id = "comment-3797" class = "comment">
				<p>Cool list. You might flag the deleted questions that are savable and flag the questions that are closed as dupe that would be worth reopening. Again, a closed question is just fine if we don't expect it needing any new answers. They are still searchable by anyone and can do good. In the case of the last one, you should have voted for deletion as it's not worth keeping around in a visible state just like the other one. These might need to be handled using the existing tools on a case by case basis...</p>
			</div>
			<div id = "comment-3798" class = "comment">
				<p>@bmike Indeed, I voted to delete the last one as soon as I saw it. I wasn't sure about the others as much as that one and haven't voted to delete any of the others.</p>
			</div>
			<div id = "comment-3811" class = "comment">
				<p>@bmike Your response seems apt. Why don't you post it as a proper answer?</p>
			</div>
			<div id = "comment-3812" class = "comment">
				<p>@RobertCartaino got busy and this fell off my radar. Thanks for the nudge.</p>
			</div>
			</div>
				<textarea id = "speech-1982" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1982">
					<img id="start_img-1982" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1987"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1987" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Systematically, I'm not sure there's a tool / method to handle the abstract idea, however all seem manageable with the existing moderator tools on a case by case basis. </p>

<ul>
<li>Any moderator (user with sufficient reputation) can flag the deleted questions that are savable and flag the questions that are closed as dupe that would be worth reopening. </li>
</ul>

<p>Again, a closed question is a fine state for a question to sit for months or even an indeterminate amount of time if we don't expect it needing any new answers. Closed questions are still visible to all and can do good.</p>

<p>In the case of the last question, a vote for deletion might be a place to start on reviewing these. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1987" class = 'collapse'>
			</div>
				<textarea id = "speech-1987" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1987">
					<img id="start_img-1987" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>