<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What is http:~~osquestions.com~?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2338" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::42</h3>
				<h2>What is http:~~osquestions.com~?</h2>
<p>Just noticed that a question I posted on Ask Different <a href="https://apple.stackexchange.com/questions/169136/sort-contacts-marked-as-company">HERE</a> was ripped off at <a href="http://osquestions.com/osx-ios/169136/sort-contacts-marked-as-company" rel="nofollow noreferrer">osquestions.com found here</a>.  Is this site affiliated with the SE sites or just an RSS grabbing knock off with a ton of SPAM ads?</p>

<p>So, it appears they do "reference" the source at the bottom of the page, however the link back adds a "nyud.net" into the core domain which is probably a hook for them.  So not a true reference back.</p>

<p><img src="https://i.stack.imgur.com/7PYC6.png" alt="enter image description here"></p>

			</div><h3>Comments</h3>
			<div id = "comment-4386" class = "comment">
				<p>http://meta.apple.stackexchange.com/a/2293/9388</p>
			</div>
			<div id = "comment-4387" class = "comment">
				<p>@DanielLawson Do I still need to contact support or does it count that a MOD has seen the post?</p>
			</div>
			<div id = "comment-4388" class = "comment">
				<p>We volunteer mods don't handle this, but I tagged it support so higher ups will see it.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2338">Record</button>
				<button class="record-stop" id="stop-2338">Stop</button>
				<p id="recording-2338"></p>

<h1>Answers</h1>
			<br><div id = "ans-2339"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The content on this site is licensed wih a Creative Commons license with attribution required, meaning that other sites ARE allowed to take content from this site, but they are required to say they got it from here. This site doesn't appear to do that. I tagged your question with the support tag so SE employees will see this to take appropriate action.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-4389" class = "comment">
				<p>So, it appears they do "reference" the source at the bottom of the page, however the link back adds a "nyud.net" into the core domain which is probably a hook for them.  So not a true reference back.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2339">Record</button>
				<button class="record-stop" id="stop-2339">Stop</button>
				<p id="recording-2339"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>