<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What is the `x2` or `x3` next to a tag in my profile?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1975" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::52</h3>
				<h2>What is the `x2` or `x3` next to a tag in my profile?</h2>
<p><img src="https://i.stack.imgur.com/MJ7zm.png" alt="enter image description here"></p>

<p>Or, I guess, what is the difference between that and the number before the tag?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1975" class = 'collapse'>
			</div>
				<textarea id = "speech-1975" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1975">
					<img id="start_img-1975" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1980"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The number to the right of the tag is <strong>the number of times you've posted with that tag</strong>   questions with that tag and answers on questions with that tag. Similarly (yet substantially different) is the number on the left: the sum of votes received on the posts.</p>

<hr>

<p>For example, here is one of the tags from my user page:</p>

<p><img src="https://i.stack.imgur.com/Dcsnv.png" width="129"></p>

<p>The right number is calculated based on the total number of interactions I've had with the tag. In the example above, I have asked <a href="https://apple.stackexchange.com/search?q=user%3A37797+%5Bosx%5D+is%3Aquestion">5 questions tagged with osx</a> and <a href="https://apple.stackexchange.com/search?q=user%3A37797+%5Bosx%5D+is%3Aanswer">178 answers to questions tagged with osx</a>. Therefore, I have interacted with the osx tag 183 times, hence the number shown on the right.</p>

<p>The number on the left is the sum of the votes that I have received for my posts. In the example above, <a href="https://apple.stackexchange.com/search?q=user%3A37797+%5Bosx%5D+is%3Aquestion+score%3A1">4 questions have accumulated 12 votes</a> and <a href="https://apple.stackexchange.com/search?q=user%3A37797+%5Bosx%5D+is%3Aanswer+score%3A1">134 answers have accumulated 301 votes</a>. Therefore, my total score for the osx tag is 313, hence the number shown on the left.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1980">Load Comments</button></br>
			<div id = "commentsection-1980" class = 'collapse'>
			<div id = "comment-3793" class = "comment">
				<p>So is the number to the right only for questions, and the number to the left for both questions and answers? Or do both sides take both Q and A into account?</p>
			</div>
			<div id = "comment-3796" class = "comment">
				<p>@dwightk Edited to add clarification</p>
			</div>
			</div>
				<textarea id = "speech-1980" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1980">
					<img id="start_img-1980" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1983"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>The <code>x</code> is how many times you have used or interacted that tag. Let's say i use the tag <code>recovery</code> like 5 times. It would say <code>recovery x5</code>.</p>

<hr>

<p><img src="https://i.stack.imgur.com/aqY7K.jpg" alt="enter image description here"></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1983" class = 'collapse'>
			</div>
				<textarea id = "speech-1983" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1983">
					<img id="start_img-1983" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>