<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is the star I see under the question down arrow?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What is the star I see under the question down arrow?</h2>
<p>I presume it is some kind of mechanism to help me keep track of things for later revisiting.  I see I can click to change the state of the star.  But I don't think star is the right name for this thing, as I can't find "star" in the help or Meta.  I've looked in my profile too.  </p>

<p>I am most interested in going back to the questions that I have clicked the star in earlier.</p>

<p><a href="https://i.stack.imgur.com/Bu0jB.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Bu0jB.png" alt="screen shot with star highlighted"></a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The star indicates things that are called <strong>favourites</strong> ("or <strong>favorites</strong>") in the documentation and interface.  </p>

<p>The help guide explains how to search within your favorites: <a href="https://apple.stackexchange.com/help/searching">https://apple.stackexchange.com/help/searching</a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>