<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What to do with maps-related tags for ios?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What to do with maps-related tags for ios?</h2>
<p>As of today's release of iOS 6, iOS no longer has a Google Maps-based maps app built in.  However, the best-fitting maps tag I could find for iOS is <a href="https://apple.stackexchange.com/questions/tagged/google-maps" class="post-tag" title="show questions tagged &#39;google-maps&#39;" rel="tag">google-maps</a>.  Should there be a separate <a href="https://apple.stackexchange.com/questions/tagged/apple-maps" class="post-tag" title="show questions tagged &#39;apple-maps&#39;" rel="tag">apple-maps</a>?  Or should the existing tag be migrated to something more generic, maybe <a href="https://apple.stackexchange.com/questions/tagged/maps.app" class="post-tag" title="show questions tagged &#39;maps.app&#39;" rel="tag">maps.app</a>?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This is a level of specificity that doesn't need to exist for tags. I would have no problems adding a synonym for all the tags you mentioned in your post to simply <a href="https://apple.stackexchange.com/questions/tagged/maps" class="post-tag" title="show questions tagged &#39;maps&#39;" rel="tag">maps</a>.</p>

<p>A question tagged <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a> and <a href="https://apple.stackexchange.com/questions/tagged/maps" class="post-tag" title="show questions tagged &#39;maps&#39;" rel="tag">maps</a> is distinct enough to put you in the ballpark of being able to reasonably accurately answer a question.</p>

<p>The detail goes in the question, the (broad) classification goes in the tags.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>