<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What can I do about targeted negative voting?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1984" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::63</h3>
				<h2>What can I do about targeted negative voting?</h2>
<p>I just found out that someone here does not like me.</p>

<p>There was a targeted negative voting, on the same day (2 days ago), for answers I gave like 6 months ago:</p>

<p><img src="https://i.stack.imgur.com/eBLbj.png" alt="enter image description here"></p>

<p>Is there something I can do about it, such as negotiate, make peace? But for that, I would need to know who it is.</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1985"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The first thing to do is wait 24 hours. This allows the serial voting mechanism to undo the votes if you have been a victim of serial voting.</p>

<p>For more information, see this Meta.SO post:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/126829/what-is-serial-voting-and-how-does-it-affect-me">What is serial voting and how does it affect me?</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3805" class = "comment">
				<p>its been 48 hour but nothing happened, well... I forgive him/her and hope it will calm down. I am a very nice person after all.</p>
			</div>
			<div id = "comment-3806" class = "comment">
				<p>I doubt that someone that was hot would stop at only three down votes, but perhaps they had a change of heart after seeing some of your excellent posts?</p>
			</div>
			<div id = "comment-3807" class = "comment">
				<p>@bmike If a user targets a number of users with a few downvotes each, surely the system still flags this, even though it wasn't on a single user?</p>
			</div>
			<div id = "comment-3809" class = "comment">
				<p>The algorithms are a) not disclosed publicly b) likely to change when the developers care to tweak things so any guesses here today might be totally wrong in 6 months or two years. I'm not aware of any requirement to not vote quickly across multiple users. Targeting is when one account targets another. Votes should belong to the exact wording of a post in relation to the guidelines and not to who posted the words.</p>
			</div>
			<div id = "comment-3810" class = "comment">
				<p>@bmike Indeed, yet 'targeted' voting is not an official term that I've encountered like serial voting which appears to not have any requirement on targeting a certain user. Is there a Meta(.SO) post regarding targeted voting?</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-1986"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I would say that only three votes could just be a coincidence and not some campaign. Your java post is clearly controversial - with more than a dozen people disagreeing with your stance that installing java is safe (or even a qualified safe thing to do). </p>

<p>Also, voting is anonymous to all users - even elected moderators, so you won't be able to know who votes unless people offer a comment. Even then, they could comment and be an up-voter or non-voter, so not always are critical comments an indication of voting.</p>

<p>You can rest assured, that if one person continues to down vote your content, that pattern will get raised to the moderation team and we will handle that privately - like we handle all vote irregularity situations.</p>

<p>Here is some documentation on serial and targeted voting. (Where serial is targeted voting within a short time span):</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/126829/what-is-serial-voting-and-how-does-it-affect-me">What is serial voting and how does it affect me?</a></li>
<li><a href="https://meta.stackexchange.com/questions/tagged/serial-voting">https://meta.stackexchange.com/questions/tagged/serial-voting</a></li>
<li><a href="http://blog.stackoverflow.com/2009/03/the-value-of-downvoting-or-how-hacker-news-gets-it-wrong/">http://blog.stackoverflow.com/2009/03/the-value-of-downvoting-or-how-hacker-news-gets-it-wrong/</a></li>
<li><a href="http://blog.stackoverflow.com/2009/03/more-voting-anomalies/">http://blog.stackoverflow.com/2009/03/more-voting-anomalies/</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3808" class = "comment">
				<p>got it, yes only 3 votes but within 2 minutes each and for very old posts. As said, who ever it was, so rest in peace. FYI, if I really want to find out there is a tedious way to find it out, by looking other users profiles and see who got the (-)2 downvote points. But it is not worth doing it this time.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-1988"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>As per your comment on bmikes answer (this is too long for a further comment which is how it started, hence now an answer), there is a <em>sort of possible tedious way</em> of making an educated guess in <em>some circumstances</em>, but it relies on the assumption of at least having a shortlist of who to check based on recent activity, and therefore being able to do the checking immediately after the voting happens, unless you want to monitor everyone's activity at the same time on the fly against your Rep etc which simply isn't practical. I got serially upvoted 5 times in 2 mins not long back and took a stab at rounding it down to 3 or 4 people, but nothing was conclusive.</p>

<p>Unless it's sufficiently targeted for the systems algorithms to pick up (no, don't ask us what they are, we don't know) at which point we get alerted automatically, then no-one can ever conclusively say who voted for who and when.  And this is a good thing, because even if we had the info, what are we going to do about it?  No-one should be forced to explain or justify their participation on an SE site.</p>

<p>I got a downvote on an answer I really liked a while ago, and I'm 100% certain who it was because they left a comment at the same time (be sure, leaving a comment is <em>not</em> a requirement, or even a a polite nicety, but purely optional, just as you can comment without voting); I'd love them to revert it, not because I care about the rep, but because they simply read the answer wrongly and misunderstood it and therefore said it didn't work, which could lead others to think it's a wrong answer too. All I could do was explain as much in a further comment and leave it at that.</p>

<p>You've got close to 4000 rep, therefore you clearly have a lot of posts that someone could downvote.  These 6 points are like not even 0.2% of your Rep.  Each of the answers in question had received at least 1 downvote already, and 1 has had a further on since, so it's reasonable to assume that it's not necessarily a surprise to get them - I suggest you just let it be, and let them go.</p>

<p>My last comment is merely this - if someone downvotes you (the Royal you, i.e. this applies to everyone), please do not comment asking for an explanation, or asking for the voter to own up.  That's not fair, and I would remove any such comments as inappropriate.  Take the rough (there isn't much) with the smooth.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>