<html>
	<head>
		<title id = 'pagetitle'>What is the star I see under the question down arrow?
		</title>
	<head>
	<body id = 'pagebody'><p>I presume it is some kind of mechanism to help me keep track of things for later revisiting.  I see I can click to change the state of the star.  But I don't think star is the right name for this thing, as I can't find "star" in the help or Meta.  I've looked in my profile too.  </p>

<p>I am most interested in going back to the questions that I have clicked the star in earlier.</p>

<p><a href="https://i.stack.imgur.com/Bu0jB.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Bu0jB.png" alt="screen shot with star highlighted"></a></p>


<h1>ANSWERS</h1>
		<p>The star indicates things that are called <strong>favourites</strong> ("or <strong>favorites</strong>") in the documentation and interface.  </p>

<p>The help guide explains how to search within your favorites: <a href="https://apple.stackexchange.com/help/searching">https://apple.stackexchange.com/help/searching</a></p>


	</body>
</html>