<html>
	<head>
		<title id = 'pagetitle'>What's up with the 5 minute limit on editing a comment?
		</title>
	<head>
	<body id = 'pagebody'><p>It is discouraging to type all your work in the comment field, and then have it time out.  It legitimately took me that long because I was doing some research.  </p>

<p>There's no timer or progress bar, so you don't know there's a limit until you're over it. </p>

<p>I understand the need for some sort of timeout, but could it please be a bit longer?  I imagine 5 minutes is difficult for disabled people who have trouble typing rapidly. </p>


<h1>ANSWERS</h1>
		<p>If you really need more than 5 minutes to edit a comment, delete the comment and comment again. The limit is there to prevent people rewriting history, by altering a comment which has already been replied to or to which other action has been taken because of it. The 5 minute limit matches the grace period for post edits that don't cause a revision.</p>


	</body>
</html>