<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>What~Where is the hall of Ask Different inquisitors page?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1271" class = "post">
			<h2>Question</h2>
			<div id="vote-1271" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 197</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What~Where is the hall of Ask Different inquisitors page?</h2>
<p>On the recent <a href="http://www.thenewipadishere.com" rel="nofollow">site-promotion page</a> was the following nugget: </p>

<blockquote>
  <p>everyone who completes Level 1: Use Different and beyond will have
  their gravatars honored in the hall of Ask Different inquisitors page.</p>
</blockquote>

<p>What/Where is this located, or is this just the contest page itself?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1271" class = 'collapse'>
			</div>
				<textarea id = "speech-1271" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1271">
					<img id="start_img-1271" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1291"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1291" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The hall is the main landing page as far as I can tell.</p>

<p><a href="http://www.thenewipadishere.com/" rel="nofollow">http://www.thenewipadishere.com/</a></p>

<p>Stack Exchange bought that domain and it's still up, so <a href="http://en.wikipedia.org/wiki/Q.E.D." rel="nofollow">Q.E.D.</a> or perhaps QEF?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1291">Load Comments</button></br>
			<div id = "commentsection-1291" class = 'collapse'>
			<div id = "comment-2438" class = "comment">
				<p>I don't know enough about the history or organisation of the promotion to vote, but yes  we do see the gravatars of the winners *at* the page that mentions the *hall of Ask Different inquisitors* page. I'd vote for the puzzling wording to be removed from the page.</p>
			</div>
			<div id = "comment-2439" class = "comment">
				<p>It's almost worth registering AskDifferentInquisitors.com...</p>
			</div>
			<div id = "comment-2440" class = "comment">
				<p>It makes us sound like sith and jedi, no?</p>
			</div>
			</div>
				<textarea id = "speech-1291" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1291">
					<img id="start_img-1291" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>