<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What tag should be used for Server on Lion and later?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1902" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::51</h3>
				<h2>What tag should be used for Server on Lion and later?</h2>
<p>Now that server is an app you install from the Mac App store on Lion and later, should I tag questions about server as <a href="https://apple.stackexchange.com/questions/tagged/osx-server">osx-server</a> or <a href="https://apple.stackexchange.com/questions/tagged/server.app">server.app</a>?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1903"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>As of mid 2013, the wiki tags indicate that osx-server is only for Snow Leopard and older server installs. I have been retagging server.app to all Lion and newer questions and removing the osx-server tags when it's not used on 10.6 and earlier.</p>

<p>Perhaps we will want to re-evaluate this and make a synonym to point them all to the same tag and/or re-tag old questions.</p>

<p>The only problem is that old server installs aren't served well by server.app but the number of people that need that distinction will shrink rapidly. Also, I wonder if we can prevent use of the old tag and still link things so the new tag feeds both in terms of badge counts and searching.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3677" class = "comment">
				<p>This sounds like a good policy.</p>
			</div>
			<div id = "comment-3678" class = "comment">
				<p>It's a little bit swimming up stream (so to speak) since many people want to use osx-server tag even now.</p>
			</div>
			<div id = "comment-3679" class = "comment">
				<p>In the end, isn't it still osx-server.  The delivery mechanism of the server installation files shouldn't matter, should it?</p>
			</div>
			<div id = "comment-3680" class = "comment">
				<p>To add, if a person has installation issues regarding a flavor of osx-server, they can further qualify their post with tags like "mac-appstore", or other pertinent tags.</p>
			</div>
			<div id = "comment-3782" class = "comment">
				<p>I was actually doing exact the same thing (reading a lot of questions tagged #osxserver) and got to the point that it is completely wrong to remove the #osxserver tag!</p>
			</div>
			<div id = "comment-3783" class = "comment">
				<p>@hugelshofer Thanks for the great efforts to retag. I have one request, try to fix the posts while you are editing them. Most of the retags you mentioned had pretty obvious problems, so I'd like to empower you to fix multiple things when editing :-)</p>
			</div>
			<div id = "comment-3785" class = "comment">
				<p>@bmike I am not very good at writing. I am better in formatting, structuring and analysing stuff. Text editing takes me a huge effort. But I'll try when I see typos and heavy grammar mistakes.</p>
			</div>
			<div id = "comment-3786" class = "comment">
				<p>@hugelshofer Think of it this way. When the typos literally make it impossible to figure out what's going on or large portions of the text can be cut or formatted properly to clarify the issue - go ahead and make an edit. Simple grammatical errors and typos of an otherwise understandable post probably can be left alone. For a new post, if the title, body and tags only require minor corrections I'll probably edit. For older posts, the bar is even higher on what is a substantial improvement for grammar alone.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>