<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What should I use instead of NARQ?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2202" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::51</h3>
				<h2>What should I use instead of NARQ?</h2>
<p>Some questions just aren't questions, usually meant to be an answer on a question or similar, but there's no NARQ close reason any more.</p>

<p>What should I vote to close such questions as?</p>

<p><sup>This is the question that prompted me to ask this: <a href="https://apple.stackexchange.com/questions/144450/transparent-backed-ios7-status-bar-enjoy">https://apple.stackexchange.com/questions/144450/transparent-backed-ios7-status-bar-enjoy</a></sup></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4201" class = "post">
				<p>Surely Unclear what you are asking as you can;t work out what the question is</p>
			</div>
			<div id = "comment-4202" class = "post">
				<p>@Mark This is what I used for the linked question but I wondered if there was a better alternative? Some sites have an off-topic reason for it.</p>
			</div>
			<div id = "comment-4203" class = "post">
				<p>For lack of NARQ and no doubt this there are long threads on meta stack overflow</p>
			</div>
			<div id = "comment-4204" class = "post">
				<p>@Mark Yes, but none seemed applicable to this site, which is very different to SO.</p>
			</div>
			<div id = "comment-4209" class = "post">
				<p>Rather than asking what close reason corresponds to NARQ, I'd suggest you ask whether the post needs to be closed according to one of the current close reasons; if yes, use that one. If no, don't vote to close it.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2203"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>We had "Not a real question" as a close reason in the past, but some people might see it as offensive (because usually the OP did think it was a question). Voting to close such posts as "Unclear what you are asking" seems a reasonable alternative (and already hints at the fact that the question needs to be improved).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4205" class = "post">
				<p>Yes, I thought that any similar text to the old NARQ in a custom close reason would suffer from the same problem that NARQ did originally.</p>
			</div>
			<div id = "comment-4206" class = "post">
				<p>Which  was one reason for SO removing NARQ as well</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>