<html>
	<head>
		<title id = 'pagetitle'>What is the difference between [mac] and [apple]?
		</title>
	<head>
	<body id = 'pagebody'><p>Should there be a difference? My proposal is that <code>[mac]</code> relates to hardware, <code>[osx]</code> relates to the software, and <code>[apple]</code> relates to the company specifically.</p>


<h1>ANSWERS</h1>
		<p>I think that yes, they should be a difference.</p>

<p>The moto of the site says <em>"Beta Q&amp;A site for power users of Apple hardware and software"</em>.</p>

<p>As they will have questions on iPad, Mac or the company itself, we should make a difference on these tags.</p>


<p>I think that if we have an <a href="https://apple.stackexchange.com/questions/tagged/apple" class="post-tag" title="show questions tagged &#39;apple&#39;" rel="tag">apple</a> tag, it will be used in a way that doesn't add any value. Maybe we can use <a href="https://apple.stackexchange.com/questions/tagged/apple-inc" class="post-tag" title="show questions tagged &#39;apple-inc&#39;" rel="tag">apple-inc</a> for questions related to the company, and ban the use of <a href="https://apple.stackexchange.com/questions/tagged/apple" class="post-tag" title="show questions tagged &#39;apple&#39;" rel="tag">apple</a>.</p>


<p>I agree with KeithB, [apple] is very vague to what it actually refers to in any given situation. [apple inc] is kinda strange, but still better. [mac] is related to hardware questions about all macs. We should of course have [macmini], [imac], etc. for different models. [osx] is regarding the operating system and it's built in functionality, excluding standalone applications like AddressBook, Safari, iCal etc.</p>

<p>As a side note, how about [snow-leopard], [tiger] etc? Is it better or worse than [osx 10.6], [osx 10.5]. And is it possible to alias tags? Like the aforementioned [tiger] &lt;-> [osx 10.4].</p>


<p>Absolutely, I agree Macintosh <em>is</em> just a brand of hardware made by Apple. That's the way of reality.</p>

<p>What's wrong with using the real-world identifiers? How about: [apple] is the name of the company, [macintosh] or [mac] is the name of the computer line, [ios] is software that runs on the i-devices such as iPhones, iPods and iPads, [macos] or [osx] is the software that runs on the Macintoshes.</p>

<p>This is how it is in the real world and not very complicated at all. You can use multiple tags anyway.</p>


	</body>
</html>