<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What would happen if a high-rep user or moderator edited a question, and the OP rolled back constantly?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2602" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::35</h3>
				<h2>What would happen if a high-rep user or moderator edited a question, and the OP rolled back constantly?</h2>
<p>If someone asked a question that was grammatically incorrect or had poor formatting, and someone edited the question to improve it, what would the editor do if the OP would keep re-editing or rolling-back to the first version?</p>

<p>Would the question get deleted, or is there any function to prevent the OP from editing his question? If I had 2k reputation and this would happen, what should I do in that case? </p>

			</div><h3>Comments</h3>
			<div id = "comment-5877" class = "comment">
				<p>Also, most high rep users just walk away from a post where the OP wants to have dictatorial control over the wording. Kind of a "suit yourself" if it's really something that can't be agreed upon. When an OP really doesn't want help - sometimes that's just fine to let them be. Editing posts that should belong to the community is pretty much the only time the OP loses control of the say - and the post can be dissociated from the account if they don't rage quit rather than try to work it out.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2602">Record</button>
				<button class="record-stop" id="stop-2602">Stop</button>
				<p id="recording-2602"></p>

<h1>Answers</h1>
			<br><div id = "ans-2603"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>Edit wars can lead to moderators locking posts from further edits. We'll usually ask warring factions to take it to a chat room to work out their differences and if that can't be facilitated, moderators will keep the lock in place and make a call on what the persistent form of the question or answer should look like.</p>

<p>I should add: edit wars that can't be resolved amicably are exceedingly rare on Ask Different.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5876" class = "comment">
				<p>I would also add, that we moderators check in with each other when we are the subject of flags or discussion about edits. So in general, we recuse ourselves if that helps everyone come to an agreement on a specific post or action. I'd say, I've been aware of maybe 3 times were moderators got edit participants together to chat out differences. It's very rare - less than once a year is what I see.</p>
			</div>
			<div id = "comment-5878" class = "comment">
				<p>It's also worth mentioning that repeated rollbacks causes an automatic moderator flag on the post.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2603">Record</button>
				<button class="record-stop" id="stop-2603">Stop</button>
				<p id="recording-2603"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>