<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What should the Ask Different ads look like?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-646" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::72</h3>
				<h2>What should the Ask Different ads look like?</h2>
<p>[I heard you guys all saying, "gee, I wish there were more meta posts from CHAOS for me to weigh in on," so I thought I'd oblige!]</p>

<p>We are toying with the idea of putting ads for Ask Different on Stack Overflow. Specifically, they'd go on the [osx] and [ios] tag pages, or perhaps on questions with those tags. We'll get <a href="https://meta.stackoverflow.com/users/147574/jin">our awesome designer</a> to put the actual ad together (though he doesn't know it yet...), but before we get to that point, we need some ideas. </p>

<p>The ad can be anything you want. It can be in the same style as the other ads running around the network that contain sample questions...</p>

<p><img src="https://i.stack.imgur.com/wyqLY.png" alt="which look like this"></p>

<p>...or it can be an image with a logo...</p>

<p><img src="https://i.stack.imgur.com/xGlqi.jpg" alt="which looks like this"></p>

<p>...or it can be anything else you guys want.</p>

<p>So! What are your ideas? </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-646">Load Comments</button></br>
			<div id = "commentsection-646" class = 'collapse'>
			<div id = "comment-1167" class = "comment">
				<p>I would LOVE a flash ad with a Steve Jobs surrounded by flashing lights saying "You won a free iPad". Oh, and lots of sound!</p>
			</div>
			</div>
				<textarea id = "speech-646" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-646">
					<img id="start_img-646" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-647"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I would certainly have one or two appeal to people with strong opinions/ windows or linux background. Engaging / inviting them in would be good for the site.</p>

<hr>

<p>Other random ideas in the hat are...</p>

<p>Maybe something like curious about the "mac side of the moon". (with a moon crescent silouette photo / just the words and the Ask Different icon in the corner)</p>

<p>Or a 2001 style rectangular object and a tag line - "My god, it's full of Apple answers"</p>

<p>It would have to be subtle and in good taste (and respectful of trademarks), but something that edged up to "what color is that kool-aid you have in your glass?" might be fun to work on.</p>

<p>Just some crazy half-baked ideas...</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-647">Load Comments</button></br>
			<div id = "commentsection-647" class = 'collapse'>
			<div id = "comment-1163" class = "comment">
				<p>Are you suggesting the 'mac side of the moon' as a way to engage windows/linux folks like you suggested in your first line? Or is that a separate thought?</p>
			</div>
			<div id = "comment-1164" class = "comment">
				<p>They all are independent - the idea of attracting win/Linux is an idea to kick around - then I made three theme suggestions that don't really play on Linux or windows from where I sit...</p>
			</div>
			<div id = "comment-1165" class = "comment">
				<p>roger, was just wondering - "dark side of the moon" could sorta seem like a "come over to the dark side..." idea.</p>
			</div>
			<div id = "comment-1166" class = "comment">
				<p>also: "that's no moon!"</p>
			</div>
			<div id = "comment-1168" class = "comment">
				<p>Ha ha - indeed. The good designer might make it hard to tell which side of the moon was which - or even have it change yin/yang from top to bottom to make a point that perhaps your side isn't so fixed :-)</p>
			</div>
			<div id = "comment-1169" class = "comment">
				<p>I love the 2001 idea. But it's sure to generate complaints that iPhone didn't even exist back then ;-)</p>
			</div>
			<div id = "comment-1195" class = "comment">
				<p>Would love to see some mockups of these if you feel like it. Hint, hint, hint.</p>
			</div>
			</div>
				<textarea id = "speech-647" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-647">
					<img id="start_img-647" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>