<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is the significance of the blue background on some questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What is the significance of the blue background on some questions?</h2>
<p>This question is a reaction to a hint in a comment on an answer of mine <a href="https://apple.meta.stackexchange.com/questions/638/is-the-pale-blue-of-texts-on-white-pale-blue-and-beige-backgrounds-too-pale/671#671">on this thread</a>.</p>

<p>I'm a new user, and have been surprised not to find any explanation (in the FAQ, for example) of the significance of the blue background which some questions display with. The comment referred to suggests that popularity is a possible consideration, but I would appreciate a definitive explanation.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The blue background is placed in those questions that are tagged with tags you have selected as favorites. One of my tag favorites is <code>xcode</code> and any question that was tagged with <code>xcode</code> appears with the blue background. It is a way to help you find those questions that are more relevant to your specific interests.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>