<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What can be done to improve this question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2026" class = "post">
			<h2>Question</h2>
			<div id="vote-2026" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 74</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What can be done to improve this question?</h2>
<p>I've put a hold on this question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/125358/does-anyone-know-any-good-diagnostic-tools">Does anyone know any good Diagnostic tools?</a></li>
</ul>

<p>It strikes me as something we want on the site, but as worded, it's far too vague to be searchable IMO. </p>

<p>We don't have a specific ban on software-recommendataion questions, but the general advice from Stack Overflow is still helpful to me in deciding when to step in and pause a question:</p>

<blockquote>
  <p>Questions asking us to recommend or find a tool, library or favorite off-site resource are off-topic for Stack Overflow as they tend to attract opinionated answers and spam. Instead, describe the problem and what has been done so far to solve it.</p>
</blockquote>

<p>This question could easily be reopened if there is an actual problem being solved. If so, let's edit it to <strong>describe the problem</strong> and then document <strong>what has been done so far to solve it</strong>.</p>

<p>If it's meant to be a subjective question, it might need some significant tightening of scope. From our help center:</p>

<blockquote>
  <ul>
  <li>every answer is equally valid:  What s your favorite ______? </li>
  <li>your answer is provided along with the question, and you expect more answers:  I use ______ for ______, what do you use? </li>
  <li>there is no actual problem to be solved:  I m curious if other people feel like I do. </li>
  <li>you are asking an open-ended, hypothetical question:  What if ______ happened? </li>
  </ul>
</blockquote>

<p>To relate those words to the post in question. It seems like the following is happening:</p>

<ul>
<li><em>What's your favorite diagnostic tool for Mac?</em></li>
<li>It's not actually stating a tool, but the answers read like what I would expect if someone posted "I use AHT for diagnosing Mac, what do you use?"</li>
<li>I think a more precise statement of what problem needs diagnosis, this could be reopened rapidly with an edit and then cleaning the commentary and answers that are now obsolete / not relating to the actual problem</li>
</ul>

<p>Basically, it seems a community discussion of an open-ended "diagnosis" topic.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2026">Load Comments</button></br>
			<div id = "commentsection-2026" class = 'collapse'>
			<div id = "comment-3888" class = "comment">
				<p>He should be more specific what he wants to achieve, it will narrow the "broadness" down. He says he wants something, but not on every device etc. Pretty vague IMO.
Undoubtly he has to try more than one tool to get the result he'd like to see, but that's too broad to answer</p>
			</div>
			</div>
				<textarea id = "speech-2026" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2026">
					<img id="start_img-2026" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2026">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2029"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2029" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is not a answer to your specific question, just brainstorming:</p>

<p>I am "still" in favor of a pop up when asking a question, with some basic information to be filled in, ie model, OS, maybe some basic categories like, repair, improve, unknown error ect. that would help with many questions missing that. </p>

<p>This would eliminate many questions from moderators attention for been vague.</p>

<p>In this case it would be not possible to ask a question spanning over the whole family of Apple products, that are usually open ended questions, since only one model can be entered.</p>

<p>Here is another example:</p>

<p><img src="https://i.stack.imgur.com/NRJEp.png" alt="example of bad question"></p>

<p>5 people looked and took the action of voting it down! even a moderator got involved to put it on hold?</p>

<p>Since the user only has 1 point anyway what does that do?</p>

<p>Having some sort of minimum to be filled out (as option) could prevent the fuss.</p>

<p>I do not know the solution, but seen the April joke in working, I wonder if same method could be used.</p>

<p>This will not eliminate the open field for asking questions, but will prevent the bad one.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2029">Load Comments</button></br>
			<div id = "commentsection-2029" class = 'collapse'>
			<div id = "comment-3891" class = "comment">
				<p>Interesting idea, but please keep in mind that a lot of questions (e.g. all which focus on software issues) are independent of any specific Mac model. Similar problems would come from other "mandatory" information as well making it very difficult to ask questions at all :-)</p>
			</div>
			<div id = "comment-3893" class = "comment">
				<p>@patrix Good point but it does not have to be mandatory, just a friendly reminder, one can just skip or click NONE.</p>
			</div>
			<div id = "comment-3897" class = "comment">
				<p>It will confuse most people, some of them will fill in bad information, some of them will omit saving the questions, in the end it won't be worth the effort. I prefer AD to be a site open for everybody and to have a community clean up what requires improving. Most questions are fairly good anyway.</p>
			</div>
			<div id = "comment-3900" class = "comment">
				<p>here is a perfect example http://apple.stackexchange.com/questions/126133/i-have-mac-os-lion-and-i-messed-up-something-on-my-google-mail  all we did got it down voted till deletion. Using some sort of guided question asking (it could be a optional to use) would help all parties.</p>
			</div>
			<div id = "comment-3901" class = "comment">
				<p>Can you add an answer detailling what you have in mind? Might make it easier to discuss further</p>
			</div>
			<div id = "comment-3902" class = "comment">
				<p>Looking at the example you've added to the answer, how would entering a Mac model help here? Or the other way round: which standard questions *would* help in this case?</p>
			</div>
			</div>
				<textarea id = "speech-2029" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2029">
					<img id="start_img-2029" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2029">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>