<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is the Ask Different etiquette for down-voting new users?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2668" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::72</h3>
				<h2>What is the Ask Different etiquette for down-voting new users?</h2>
<p>On the large Stack Exchange sites there is frequent discussion about the importance of explaining down-votes (e.g. <a href="https://meta.stackoverflow.com/q/250177/575530">this question on Stack Overflow meta</a> or <a href="https://meta.stackexchange.com/q/135/178985">this Meta Stack Exchange question</a>).</p>

<p>What is the tone here?</p>

<p>I was really surprised to find that <a href="https://apple.stackexchange.com/q/214340/142445">this first question</a> by a user new to the entire Stack Exchange network was down-voted twice with no explanation.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2669"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>As on any other SE site, comments to explain down votes are not mandatory. And the two discussions you've linked (as well as several others on various meta sites) list both the pros and cons of enforcing, encouraging or nudging users to comment in case of down votes. That's why users with rep below 2k get displayed a nudge/short note when down voting (which still doesn't make it mandatory though).</p>

<p>OTOH I agree that users would benefit from having down votes explained (in a fashion helping them to improve their posts). But that's up to the individual applying the down vote.</p>

<p>Also - remember that votes are designed to be issued against posts and without regard to the user - so if you can focus on the content of the post and improve it or be kind - that works best for the site and especially so when the poster is a new user.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5941" class = "comment">
				<p>FWIW, the robo-user Community  auto-flags posts it believes to be of low quality, and if the flag is marked useful by a moderator, the Community  user auto-downvotes the post in question. Without a comment.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>