<html>
	<head>
		<title id = 'pagetitle'>What would happen if a high-rep user or moderator edited a question, and the OP rolled back constantly?
		</title>
	<head>
	<body id = 'pagebody'><p>If someone asked a question that was grammatically incorrect or had poor formatting, and someone edited the question to improve it, what would the editor do if the OP would keep re-editing or rolling-back to the first version?</p>

<p>Would the question get deleted, or is there any function to prevent the OP from editing his question? If I had 2k reputation and this would happen, what should I do in that case? </p>


<h1>ANSWERS</h1>
		<p>Edit wars can lead to moderators locking posts from further edits. We'll usually ask warring factions to take it to a chat room to work out their differences and if that can't be facilitated, moderators will keep the lock in place and make a call on what the persistent form of the question or answer should look like.</p>

<p>I should add: edit wars that can't be resolved amicably are exceedingly rare on Ask Different.</p>


	</body>
</html>