<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What is the general consensus here about "thanks" at the end of questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-980" class = "post">
			<h2>Question</h2>
			<div id="vote-980" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 165</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the general consensus here about "thanks" at the end of questions?</h2>
<p>According to <a href="https://meta.stackexchange.com/questions/2950/should-hi-thanks-taglines-and-salutations-be-removed-from-posts">this page on Meta Stack Overflow,</a> salutations, tag lines, thanks, etc. should be removed from posts. If I do that here, are my edits likely to be accepted? Is it okay if I remove those things from questions?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-980" class = 'collapse'>
			</div>
				<textarea id = "speech-980" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-980">
					<img id="start_img-980" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-980">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-981"  class = "post">
				<h2>Answer</h2>
			<div id="vote-981" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, <a href="https://apple.stackexchange.com/faq#signatures">signatures are discouraged</a> and it's completely okay to remove them.</p>

<p>Your edits will be accepted if you remove signatures.<br>
However, when you can, try to find some other things that you can edit to improve the question so it isn't bumped to the top of the Active Questions page just for having the signature removed :)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-981">Load Comments</button></br>
			<div id = "commentsection-981" class = 'collapse'>
			<div id = "comment-1849" class = "comment">
				<p>early on one of my first questiosn had the thanks removed, and a suggestion that an upvote is the accepted way of showing thanks.  The problem is that upvotes remain anonymous to most users, and the removal of please/thankyou from questions and comments etc also removes the human element, making a question look more like a demand for an answer.  Personally I like to see some personality in the posts, as if nothing else it helps to make for a friendly face that ensure the site is welcoming and thus more likely to receive repeat visits.</p>
			</div>
			</div>
				<textarea id = "speech-981" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-981">
					<img id="start_img-981" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-981">Comment</button>
			<br><div id = "ans-1505"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1505" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I tend to Edit out noise in a question or answer and explain why in the edit summary - especially if the flow of the question can be fixed in several places and you aren't just deleting a simple "thanks" that sits at the end of an otherwise good post. If there is a pattern of a user doing just that, you could flag it or just comment once pointing them here or to the [faq].</p>

<p>This includes:</p>

<ul>
<li>times when people put "EDIT" in and don't realize the system already tracks and indicates when and by whom a post has been edited.</li>
<li>times when excessive "I am a beginner, or an expert, or like chocolate ice cream" get in the way of a neat presentation of the question at hand.</li>
<li>overly chatty or repetitive information that in no way can color or enhance an answer or the situation</li>
</ul>

<p>Again, this is something that I hesitate to do on an isolated problem, on a low vote question, from a new user when the question otherwise doesn't also need a title improvement and several details incorporated from a long comment string or help with grammar and spelling. </p>

<p>Edits to just remove one or two things should be a rare item - not something you crank out a handful of trivial edits or more at one time. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1505" class = 'collapse'>
			</div>
				<textarea id = "speech-1505" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1505">
					<img id="start_img-1505" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1505">Comment</button>
			<br><div id = "ans-1507"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1507" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Conflicting issues:</p>

<ol>
<li><p>Edits to reduce clutter are good.</p></li>
<li><p>Many small edits at once to old posts bump current questions off the front page.</p></li>
</ol>

<p>Thus: removing "thanks" is good, but searching for posts with "Thanks" and editing 50 of them in a ten minute period   not good.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1507" class = 'collapse'>
			</div>
				<textarea id = "speech-1507" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1507">
					<img id="start_img-1507" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1507">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>