<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What makes my question so broad or irrelevant?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1394" class = "post">
			<h2>Question</h2>
			<h3>Score ::-1</h3>
			<h3>Views ::78</h3>
				<h2>What makes my question so broad or irrelevant?</h2>
<p>My question "<a href="https://apple.stackexchange.com/questions/59760/software-programs-that-dont-work-in-mountain-lion-and-good-alternatives">Software programs that don't work in Mountain Lion and Good Alternatives</a>" was closed for the reason "It's difficult to tell what is being asked here. This question is ambiguous, vague, incomplete, overly broad, or rhetorical and cannot be reasonably answered in its current form."</p>

<p>I don't see why this question is deemed to vague or broad when other questions like "Whats your favourite feature about this operating system" or "What made you smile about that operating system" are left alone. </p>

<p>I believe the question was relevant and on topic and no doubt many of us will experience this issue over the coming weeks / months as programs are ported to Mountain Lion. It was devised so that people searching (myself included) would be aware of what programs we are now or are going to be missing out on as a consequence of upgrading, especially ones that we may not have thought of.</p>

<p>Could someone please elaborate.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1395"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>This question, set up in a "one program per response" format, is a recipe for disaster. Unless the answers very closely track version numbers, (e.g. Widget.app version 5.0.2 doesn't work with Mountain Lion), it very quickly becomes obsolete, which is worse than not having an answer at all.</p>

<p>Additionally, voting for individual answers doesn't accomplish anything meaningful. If Dragon Express gets two votes and Screenflow 2.1 gets six, does that mean that people miss Screenflow more? People think it's more broken? It happened to be posted first?</p>

<p>On the other hand, setting up the question so it attempts to produce one comprehensive single answer that is a list of all known ML incompatibilities and encourages other posters to add to that answer   that approach would fit into the site format better, but in this case, it's still likely to become outdated very quickly.</p>

<p>While there might be a version of this question that is workable, you haven't found it yet. Which is all the more reason it needs to be closed until it gets edited into workable form   it's much harder to fix it up once there's a stream of answers already in place.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2667" class = "post">
				<p>I'll note as a result of the discussion in chat, closed questions can still be edited. If you, Jamie, find an acceptable form of the question, I have zero qualms in reopening it.</p>
			</div>
			<div id = "comment-2668" class = "post">
				<p>I'm afraid even in the best-case scenario, any answer to this question would be "too localized"   likely to become outdated rather quickly, and thus not useful in the future.</p>
			</div>
			<br><div id = "ans-1396"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The most important part of this question is the following:</p>

<blockquote>
  <p>I believe the question was relevant and on topic and no doubt many of us will experience this issue over the coming weeks / months as programs are ported to Mountain Lion.</p>
</blockquote>

<p>Compatibility issues will disappear if software is updated. And if every answer is eventually deleted, or has the same answer ("update it!") then it doesn't have a lot of value as a question. Not to mention how rapidly these compatibility issues can change.</p>

<p>Since you compared the question to other active CWs:</p>

<blockquote>
  <p>"What's your favorite feature about this operating system"</p>
</blockquote>

<p>In the examples of the actual question of that nature, it is a finite list. Features are unlikely to change within the same release series (<code>10.6.*</code>, <code>10.7.*</code>, <code>10.8.*</code>). It's not simply "your favorite", it's a permanent reference of things that have changed, often (but I admit not always) undocumented.</p>

<blockquote>
  <p>"What made you smile about that operating system"</p>
</blockquote>

<p>See above.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-1397"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Over the course of a long chat session, we've come to terms that Stack Exchange is not the best location for this information, and we will refer to <a href="http://roaringapps.com/" rel="nofollow">Roaring Apps</a> instead.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>