<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is required to approve suggested edits?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2422" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::30</h3>
				<h2>What is required to approve suggested edits?</h2>
<p>Once upon a time, I thought I could approve edits.</p>

<p>Now I get this:</p>

<blockquote>
  <p>This suggestion still needs 1 approve vote from other reviewers. Close this popup (or hit Esc) to continue.</p>
</blockquote>

<p>Did something change (and I missed the memo) or am I just mistaking?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2423"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>You've never been able to single-handedly approve suggested edits (except on your posts).</p>

<p>Suggested edits require two approve or reject votes before being committed. If you are the first reviewer (or second if you disagreed with the first) then another review vote is still required.</p>

<p>With regard to <a href="https://apple.stackexchange.com/review/suggested-edits/101814">your last review</a>, you were the first to approve it and you couldn't have approved it solely yourself as it wasn't suggested on one of your posts. Therefore it required a second person to approve it for it to be approved, which is what occurred.</p>

<p>This isn't the first time you've approved something first; <a href="https://apple.stackexchange.com/review/suggested-edits/38462">this one was approved</a> first by you then by me. In the same vein, <a href="https://apple.stackexchange.com/review/suggested-edits/51182">you rejected this one</a> first, but it wasn't rejected until the second person rejected it.</p>

<p>For more information on suggested edits, see:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/76251">How do suggested edits work?</a></li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4538" class = "post">
				<p>Then till now it was just coincidence that I was the second one and newer saw that message before.</p>
			</div>
			<div id = "comment-4539" class = "post">
				<p>@Buscar There's plenty of examples to the contrary (I've picked two random ones and added them to my answer).</p>
			</div>
			<div id = "comment-4542" class = "post">
				<p>Now that is a good demonstration how to use this site. PS You are right, I saw them before but ignored them till now.</p>
			</div>
			<div id = "comment-4543" class = "post">
				<p>Often I make comments then they disappear when I return to it, and I  kept wondering if I made the comment or not. Maybe there is a way to see that in the history logs as well.</p>
			</div>
			<div id = "comment-4544" class = "post">
				<p>@Buscar Feel free to ask a separate question about that.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>