<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What's up with the red on green bubbles?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-558" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::91</h3>
				<h2>What's up with the red on green bubbles?</h2>
<p>I'm not colorblind, but these bubbles from the reputation summary / recent changes page are really pushing the envelope into "fugly". Could someone here have a word with the designers and see if they meant to enact this change?</p>

<p>Even yellow/purple or orange/blue is better for people that are colorblind if you really want to use contrasting / opposing colors for this...</p>

<p><img src="https://i.stack.imgur.com/5Csqc.png" alt="red on green "></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-558">Load Comments</button></br>
			<div id = "commentsection-558" class = 'collapse'>
			<div id = "comment-994" class = "comment">
				<p>This was not intended. We're fixing it.</p>
			</div>
			</div>
				<textarea id = "speech-558" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-558">
					<img id="start_img-558" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-559"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This was my fault for assuming the text was white already on the other SE sites when adding this styling.  <a href="https://apple.meta.stackexchange.com/users/6/jin">Jin</a> pushed a CSS update so that the text on these <em>is</em> now white everywhere, it should look much better now.</p>

<p>Edit - it looks MUCH better - so happy it was an oops (and a minor one at that.) Speedy fix FTW.
<img src="https://i.stack.imgur.com/UDgNb.png" alt="enter image description here"></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-559">Load Comments</button></br>
			<div id = "commentsection-559" class = 'collapse'>
			<div id = "comment-995" class = "comment">
				<p>Thanks Nick. I'll be tweaking the green to each site's proper green shade this weekend. For now, white text helps as a quick fix.</p>
			</div>
			<div id = "comment-996" class = "comment">
				<p>Very impressed by the speed of resolution. Thanks again to both of you, the apple site colors are very well done. Thanks @nick-craver and @jin</p>
			</div>
			</div>
				<textarea id = "speech-559" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-559">
					<img id="start_img-559" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>