<html>
	<head>
		<title id = 'pagetitle'>What should we do if we misflag a post?
		</title>
	<head>
	<body id = 'pagebody'><p>It was a case of the tap-too-quick, and I selected the wrong flag for a particular question. How should I handle this matter?</p>


<h1>ANSWERS</h1>
		<p>I didn't see any flags by you which seemed odd/wrong, so it probably got handled already. Also, there isn't a big difference between the flag types as far as moderator notification is concerned: we get notified, look at flag <em>and</em> post and try to resolve whatever problem the post may have (at least that's the idea, we all make mistakes now and then).</p>

<p>The answer in <a href="https://apple.meta.stackexchange.com/questions/2369/what-to-do-if-i-mark-the-wrong-flag?rq=1">What to do if I mark the wrong flag?</a> still applies though: If in doubt, post to Meta (as you did).</p>


	</body>
</html>