<html>
	<head>
		<title id = 'pagetitle'>What to do if the answers do not work for the latest OS version?
		</title>
	<head>
	<body id = 'pagebody'><p>I found the question that is exactly what I'm looking for, but it's old and the solutions don't work for my version (Mountain Lion 10.8.4).</p>

<p><a href="https://apple.stackexchange.com/questions/15030/how-can-i-add-a-new-application-to-the-open-with-menu">How can I add a new application to the Open With menu?</a></p>

<p>Should I create a new question?</p>


<h1>ANSWERS</h1>
		<p>That would certainly be one good way to go about it, and honestly the method most likely to get you a useful answer. In your question, be sure to acknowledge the existence of the other question and to explain how your situation is different (that question specifies that it is for 10.7.4; the answers there do not help you) so that your question does not get closed as a duplicate. If your question <em>does</em> get closed as a duplicate, please do not get discouraged; we can re-open it, because it is not, in fact, a duplicate.</p>


	</body>
</html>