<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What should the iBook tag actually be for? Books or laptops?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1483" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::215</h3>
				<h2>What should the iBook tag actually be for? Books or laptops?</h2>
<p>While retagging <a href="https://apple.stackexchange.com/q/58360/8823">this question</a> to remove the 'iBooks' tag (which is clearly associated with Apple's e-book business, not their old iBook laptop line), I noticed that the singular <a href="https://apple.stackexchange.com/questions/tagged/ibook">iBook tag</a> is frequently associated with <em>both</em> the books and laptop.</p>

<p>There are too many questions there (or so it seems to me) to do a quick and obvious reconciliation, so I wanted to ask for consensus: should the <strong>iBook</strong> tag be applied to the eponymous laptop, should it be a synonym for <em>iBooks</em>, both, neither?</p>

<p>I prefer the former option, since the older-model laptops carried the trade name iBook, while I've rarely ever heard an Apple-provided e-book referred to in the singular as an "iBook".</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2795" class = "post">
				<p>Is this question asking for opinion, or do you expect answers to be supported by fact?</p>
			</div>
			<div id = "comment-2815" class = "post">
				<p>@TestSubject528491 This question is tagged "discussion", so: the former. :)</p>
			</div>
			<div id = "comment-2816" class = "post">
				<p>I'm surprised. Questions such as this are usually closed precisely for that reason.</p>
			</div>
			<div id = "comment-2817" class = "post">
				<p>@TestSubject528491 ...On the Meta site, meant for discussion of how apple.stackexchange.com should operate? Are you sure you're not thinking of Ask Different itself?</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1484"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::12</h3>
				<p><p><a href="https://apple.stackexchange.com/questions/tagged/ibooks" class="post-tag" title="show questions tagged &#39;ibooks&#39;" rel="tag">ibooks</a> should apply exclusively to Apple's e-books offering. Maybe it should also be a synonym of the <a href="https://apple.stackexchange.com/questions/tagged/ibookstore" class="post-tag" title="show questions tagged &#39;ibookstore&#39;" rel="tag">ibookstore</a>? Perhaps not.</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/ibook" class="post-tag" title="show questions tagged &#39;ibook&#39;" rel="tag">ibook</a> should apply exclusively to Apple's classic laptop line.</p>

<p>I can't think of a situation in which one would put the <a href="https://apple.stackexchange.com/questions/tagged/ibook" class="post-tag" title="show questions tagged &#39;ibook&#39;" rel="tag">ibook</a> tag to signify a question about a specific e-book.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2787" class = "post">
				<p>I've added a tag wiki to the iBook tag, attempting to make the intended usage clear. I guess we can just clean up the mis-tagged questions as we encounter them?</p>
			</div>
			<br><div id = "ans-1485"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-1</h3>
				<p><p>I agree in theory with @JasonSalaz's solution <a href="https://apple.stackexchange.com/questions/tagged/ibooks" class="post-tag" title="show questions tagged &#39;ibooks&#39;" rel="tag">ibooks</a> for the app and <a href="https://apple.stackexchange.com/questions/tagged/ibook" class="post-tag" title="show questions tagged &#39;ibook&#39;" rel="tag">ibook</a> for the hardware.</p>

<p>Hopwever I think that users will not read the wiki and will carry on misusing the tags.</p>

<p>I think as iBook is now an old machine that a better solution would be to make the tag for the machine to be <a href="https://apple.stackexchange.com/questions/tagged/ibook-laptop" class="post-tag" title="show questions tagged &#39;ibook-laptop&#39;" rel="tag">ibook-laptop</a> and remove an not allow [tag:iBook to be used]. Even then I would not be suprised to see machine related questions being wrongly tagged but this way would lead to the least errors.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2788" class = "post">
				<p>iBook-laptop is clunky and not Apple's terminology (they've long used the term "notebook" and never "laptop"). The solution to people misusing a tag is to edit it so it is correct, not to make tagspace artificially awkward to accommodate people who can't be bothered to read what their tags mean and use them properly.</p>
			</div>
			<div id = "comment-2791" class = "post">
				<p>Good idea, @Mark.</p>
			</div>
			<br><div id = "ans-1488"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I agree that <a href="https://apple.stackexchange.com/questions/tagged/ibooks" class="post-tag" title="show questions tagged &#39;ibooks&#39;" rel="tag">ibooks</a> should refer to the eBooks, but perhaps to avoid confusion, we could use <a href="https://apple.stackexchange.com/questions/tagged/ibook-g4" class="post-tag" title="show questions tagged &#39;ibook-g4&#39;" rel="tag">ibook-g4</a> and <a href="https://apple.stackexchange.com/questions/tagged/ibook-g3" class="post-tag" title="show questions tagged &#39;ibook-g3&#39;" rel="tag">ibook-g3</a> (or similar) as the tags for the hardware? A bit more distinction beyond plural/singular would probably be a useful thing.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2794" class = "post">
				<p>Or maybe the tag would be ibook-laptop to make it clear.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>