<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What are this site's quality standards?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-862" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::71</h3>
				<h2>What are this site's quality standards?</h2>
<p>I am unable to post a question because "it does not meet our quality standards":</p>

<p><img src="https://i.stack.imgur.com/MMuXc.png" alt="It does not meet our quality standards"></p>

<p>Where can I learn about said standards? I see no mention of them in the FAQ.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-863"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>My guess is that the system is rejecting your question because it's too short. Explain why you want to delete your contacts, if you have your contacts set to sync to your computer or an internet service, etc. Also of use is to tell us what you've already tried and what didn't work.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-866"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>From the <strong><a href="https://meta.stackexchange.com/questions/7931/faq-for-stack-exchange-sites">Community FAQ</a></strong></p>

<h3><a href="https://meta.stackexchange.com/questions/92074/what-can-i-do-when-getting-it-does-not-meet-our-quality-standards/92075#92075">What can I do when getting  It does not meet our quality standards ?</a></h3>

<blockquote>
  <blockquote>
    <p>Make sure your question has</p>
    
    <ul>
    <li>a clear title</li>
    <li>a reasonable explanation of what your question is, sharing your research on the matter</li>
    <li>correct use of English and actual sentences</li>
    </ul>
    
    <p>If your question is so brief that it could be looked up in a dictionary or reference book/site trivially, it might not be a good fit on our network. (source: Jeff)</p>
  </blockquote>
  
  <p>Exact details about the algorithm are not being released by the team.</p>
</blockquote>

<p>Answer provided by <a href="https://meta.stackoverflow.com/users/131713/popular-demand">Popular Demand</a>.</p>

<hr>

<p><a href="https://apple.meta.stackexchange.com/questions/862/what-are-this-sites-quality-standards/863#863">Kyle Cronin's answer</a> includes some good practical examples on how to improve your specific question.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1605" class = "comment">
				<p>Checking for quality standards is done by computer, so sometimes it is not too smart!</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>