<html>
	<head>
		<title id = 'pagetitle'>What happens when I reach the daily reputation limit?
		</title>
	<head>
	<body id = 'pagebody'><p>What happens if I reach 200 reputation gained in a day. Does it prevent me from getting reputation from accepted answers, votes, bounties etc. or does it move to another day and then I get the reputation delayed on a different day? I would not like to lose unnecessarily from reaching the daily limit. What exactly happens then?</p>


<h1>ANSWERS</h1>
		<p>From <a href="https://meta.stackexchange.com/questions/32160/what-is-the-daily-reputation-cap-and-how-can-i-hit-it">What is the daily reputation cap and how can I hit it?</a></p>

<blockquote>
  <p>The maximum amount of reputation you can earn in one day from up-votes and approved suggested edits is 200. Any reputation you receive beyond that no longer awards any points [for that day, nor are those points deferred to another day].</p>
  
  <p>You can still earn rep by winning a bounty, accepting an answer, or having one of your answers accepted, and downvotes will still count against you.</p>
</blockquote>


	</body>
</html>