<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What's happened to magic links?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1915" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::76</h3>
				<h2>What's happened to magic links?</h2>
<p>The comment shortcuts (magic links) don't seem to be working </p>

<ul>
<li><p>Current comments</p>

<p><img src="https://i.stack.imgur.com/DgfFo.png" width="600"></p></li>
<li><p>New comments</p>

<p><img src="https://i.stack.imgur.com/paUbA.png" width="300"></p></li>
</ul>

<p>What's happened?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3698" class = "comment">
				<p>Thanks - I saw that once and wrote it off as a slow internet connection as I was in a rush to get to another task. Seems like something more long term is going on.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1918"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Seems like it's fixed now </p>

<p><img src="https://i.stack.imgur.com/RutFO.png"></p>

<hr>

<p>Meta.SE: <a href="https://meta.stackexchange.com/questions/215786/magical-site-hyperlinks-broken">Magical site hyperlinks broken</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>