<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What to do with "Code -36" questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2662" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::37</h3>
				<h2>What to do with "Code -36" questions</h2>
<p>Today I stumbled upon <a href="https://apple.stackexchange.com/q/212792/81404">this question</a>. Code -36 is a file permissions error on OS X, and resolution is really dependent on what type of file is attempting to be opened. </p>

<p>If it's an app, there's a <a href="https://superuser.com/questions/898124/the-application-someapp-app-can-t-be-opened">Super User post</a>, there's a command-line utility for <a href="http://osxdaily.com/2015/02/21/fix-error-code-36-finder-mac-os-x/" rel="nofollow noreferrer">dot file conflicts</a>, and even an entire <a href="http://www.cnet.com/news/tutorial-what-to-do-when-a-mac-os-x-application-will-not-launch/" rel="nofollow noreferrer">CNET</a> article on the subject. </p>

<p>Should one master question be asked an answered, should the questions be addresses when asked, or what?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2662">Record</button>
				<button class="record-stop" id="stop-2662">Stop</button>
				<p id="recording-2662"></p>

<h1>Answers</h1>
			<br><div id = "ans-2663"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Posting an answer listing everything you've found and the circumstances the findings apply seems to be a good way to proceed in this case (and definitively better than a lot of back and forth in the comments to nail down the cause).</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2663">Record</button>
				<button class="record-stop" id="stop-2663">Stop</button>
				<p id="recording-2663"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>