<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What should I use instead of NARQ?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2202" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::51</h3>
				<h2>What should I use instead of NARQ?</h2>
<p>Some questions just aren't questions, usually meant to be an answer on a question or similar, but there's no NARQ close reason any more.</p>

<p>What should I vote to close such questions as?</p>

<p><sup>This is the question that prompted me to ask this: <a href="https://apple.stackexchange.com/questions/144450/transparent-backed-ios7-status-bar-enjoy">https://apple.stackexchange.com/questions/144450/transparent-backed-ios7-status-bar-enjoy</a></sup></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2202">Load Comments</button></br>
			<div id = "commentsection-2202" class = 'collapse'>
			<div id = "comment-4201" class = "comment">
				<p>Surely Unclear what you are asking as you can;t work out what the question is</p>
			</div>
			<div id = "comment-4202" class = "comment">
				<p>@Mark This is what I used for the linked question but I wondered if there was a better alternative? Some sites have an off-topic reason for it.</p>
			</div>
			<div id = "comment-4203" class = "comment">
				<p>For lack of NARQ and no doubt this there are long threads on meta stack overflow</p>
			</div>
			<div id = "comment-4204" class = "comment">
				<p>@Mark Yes, but none seemed applicable to this site, which is very different to SO.</p>
			</div>
			<div id = "comment-4209" class = "comment">
				<p>Rather than asking what close reason corresponds to NARQ, I'd suggest you ask whether the post needs to be closed according to one of the current close reasons; if yes, use that one. If no, don't vote to close it.</p>
			</div>
			</div>
				<textarea id = "speech-2202" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2202">
					<img id="start_img-2202" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2203"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>We had "Not a real question" as a close reason in the past, but some people might see it as offensive (because usually the OP did think it was a question). Voting to close such posts as "Unclear what you are asking" seems a reasonable alternative (and already hints at the fact that the question needs to be improved).</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2203">Load Comments</button></br>
			<div id = "commentsection-2203" class = 'collapse'>
			<div id = "comment-4205" class = "comment">
				<p>Yes, I thought that any similar text to the old NARQ in a custom close reason would suffer from the same problem that NARQ did originally.</p>
			</div>
			<div id = "comment-4206" class = "comment">
				<p>Which  was one reason for SO removing NARQ as well</p>
			</div>
			</div>
				<textarea id = "speech-2203" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2203">
					<img id="start_img-2203" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>