<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What to do with original posters who don't accept correct answers
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What to do with original posters who don't accept correct answers</h2>
<p>Been noticing many questions in the "Unanswered" portion of AskDifferent that have factually correct answers. I've even spotted one frequent offender (105 questions, 61% accept rate).</p>

<p>What do/can/should we do with these people who take advantage of the community without following the norm/protocol of being courteous?</p>

<p>Appreciate advice or links to previous discussion on this.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The reason why the accept rate number is public is to provide those answering the question with the likelihood that the asker will accept an answer, possibly theirs. That withstanding, there's no rule that says that someone <em>must</em> accept answers to their questions.</p>

<p>However, the "Unanswered" tab lists questions with no accepted answer <em>and no positively ranked answers</em>. If you see a correct answer on a question in the Unanswered tab, upvote it. Actually, it's good practice to upvote <em>any</em> good, correct answer you see.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I think some sort of reminder on a monthly basis would go a long way towards users choosing an answer. Life happens and sometimes people just forget to accept an answer. I know I've done it. Something subtle to be sure such as an email to the effect "Hey, it's been a while since you looked at this post, did you want to review for a possible answer."</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>