<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What~Where is the hall of Ask Different inquisitors page?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1271" class = "post">
			<h2>Question</h2>
			<h3>Score ::15</h3>
			<h3>Views ::197</h3>
				<h2>What~Where is the hall of Ask Different inquisitors page?</h2>
<p>On the recent <a href="http://www.thenewipadishere.com" rel="nofollow">site-promotion page</a> was the following nugget: </p>

<blockquote>
  <p>everyone who completes Level 1: Use Different and beyond will have
  their gravatars honored in the hall of Ask Different inquisitors page.</p>
</blockquote>

<p>What/Where is this located, or is this just the contest page itself?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1291"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>The hall is the main landing page as far as I can tell.</p>

<p><a href="http://www.thenewipadishere.com/" rel="nofollow">http://www.thenewipadishere.com/</a></p>

<p>Stack Exchange bought that domain and it's still up, so <a href="http://en.wikipedia.org/wiki/Q.E.D." rel="nofollow">Q.E.D.</a> or perhaps QEF?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2438" class = "comment">
				<p>I don't know enough about the history or organisation of the promotion to vote, but yes  we do see the gravatars of the winners *at* the page that mentions the *hall of Ask Different inquisitors* page. I'd vote for the puzzling wording to be removed from the page.</p>
			</div>
			<div id = "comment-2439" class = "comment">
				<p>It's almost worth registering AskDifferentInquisitors.com...</p>
			</div>
			<div id = "comment-2440" class = "comment">
				<p>It makes us sound like sith and jedi, no?</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>