<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What happens with deleted comments
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2429" class = "post">
			<h2>Question</h2>
			<div id="vote-2429" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 98</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What happens with deleted comments</h2>
<p>Often when I return to a question I find my comment deleted. Yes I know the purpose of the comment field, so no need to lecture me on that.</p>

<p>Most of the time I just think I just forgot (result of getting senile, which is a possibility considering the advanced age), and did not make a comment in first place, but quickly I am coming to a conclusion it was there but it is deleted.</p>

<p>Is there a way to get notified when my comment was deleted. </p>

<p>Is there a common guide when to delete the comments?</p>

<p>Since that can only be done by a moderator it should be easy to be notified and the reason for it, so to improve.</p>

<p>Here is a <a href="https://apple.stackexchange.com/q/179369/46541">sample of most recent comments</a> (none was deleted so far) and yes it contains potential answer. So what is wrong with that if at all?</p>

<p><img src="https://i.stack.imgur.com/UtuJO.jpg" alt="comments"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2429">Load Comments</button></br>
			<div id = "commentsection-2429" class = 'collapse'>
			<div id = "comment-4550" class = "comment">
				<p>Potential duplicate: http://meta.apple.stackexchange.com/q/1243/</p>
			</div>
			<div id = "comment-4557" class = "comment">
				<p>@Daniel potential duplicate yes, solved NO. Look, I have been here for 2 Yr and very active. So I know my 5 mods I am occasional dealing with. I am bringing a serious complaint to address. Since ONLY mods can delete the comment, how about letting someone with 17+k know when Flag is showing, just out of common curtsey and respect! Is that to much to ask ?</p>
			</div>
			<div id = "comment-4560" class = "comment">
				<p>The only way to notify somebody about deleted comments is to add another comment mentioning this somebody. Given the nature of comments and the fact that comments usually get deleted for not being necessary/relevant any longer, this would kind of defeat the whole idea of deleting them in the first place. Also, deleting flagged comments is something we do based on content, not on the user who wrote them. I often don't even look from which user the comment is coming from (it's not relevant at all).</p>
			</div>
			<div id = "comment-4561" class = "comment">
				<p>If you want to dig deeper, there are a bunch of discussions and feature-requests on this on meta.stackexchange.com.</p>
			</div>
			<div id = "comment-4566" class = "comment">
				<p>*"how about letting someone with 17+k know when Flag is showing"* [I believe this comment on Meta.SE](http://meta.stackexchange.com/questions/252690/what-privilege-should-30k-users-get/252703#comment825187_252703) addresses the community consensus on the association between reputation and moderation skills. Such a correlation should never be made.</p>
			</div>
			<div id = "comment-5667" class = "comment">
				<p>Considering the very low popularity I will go ahead and delete this question and consider using the Self Destruct app (at least then I feel like been in control)  http://stackapps.com/q/6316/20391</p>
			</div>
			</div>
				<textarea id = "speech-2429" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2429">
					<img id="start_img-2429" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2429">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2430"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2430" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Yes I know the purpose of the comment field, so no need to lecture me on that.</p>
</blockquote>

<p>I would disagree that this is the case. The question your asking here is proof of that.</p>

<p>Comments are intentionally disposable. From <a href="https://meta.stackexchange.com/questions/19756/how-do-comments-work">How do comments work?</a>:</p>

<blockquote>
  <p>Comments exist so that users can talk about questions and answers
  without posting new answers that do not actually answer their parent
  questions. Comments are often used to ask for clarification on,
  suggest corrections to and provide meta-information about posts.</p>
  
  <p>Comments are intentionally short, having maximum length of 600
  characters, and allow only limited markup. URLs in comments
  automatically become hyperlinks. Each user may post only one comment
  every 15 seconds.</p>
  
  <p>Comments are disposable: unlike posts, there's no revision history,
  and they can be deleted without warning by their authors, by
  moderators, and in response to flags.</p>
</blockquote>

<p>As for why your comments are disappearing, if they weren't deleted by you, they have been flagged by other users or a moderator. Again, from that meta post:</p>

<blockquote>
  <p>Comments that are flagged by multiple users are deleted automatically.
  The number of flags needed is based on the comment's score. It
  currently takes "3 + (Score / 3)" flags to delete a comment.</p>
  
  <p>Moderators can delete any comment, or purge all comments from a post.</p>
</blockquote>

<p>Specifically, from that meta post, I draw your attention to:</p>

<blockquote>
  <p>You should not expect them to be around forever: Once a clarification
  has been made, an edit added to the post to include new information,
  or the issue in the comment is otherwise resolved, it is subject to
  deletion. In reality, many obsolete or chatty comments remain
  untouched due to the high volume of comments posted, but this does not
  mean that they can't or shouldn't be deleted in the future.</p>
</blockquote>

<p>I would characterize your commenting behaviour on the site as being "overly chatty" and thus you see a high number of your comments removed.</p>

<p>In any case, you shouldn't be making comments as a permanent record of anything on Stack Exchange sites. They are to be "used to ask for clarification on, suggest corrections to and provide meta-information about posts" -- not for providing witty remarks, "thank you" type posts or for long-drawn out back-and-forth discussions on questions and answers.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2430">Load Comments</button></br>
			<div id = "commentsection-2430" class = 'collapse'>
			<div id = "comment-4556" class = "comment">
				<p>I am actually spending lots of time cleaning my comments my self. Specially in cases where they exceed the limit due to question and answer. Since you know when my comment was flagged, can I at least get that info, it might help me to constrain my self (or not). I do make a lot of silly ones and have no problem with them been removed, but many others are a surprise to me.</p>
			</div>
			<div id = "comment-4564" class = "comment">
				<p>@Buscar  getting notified when a comment is deleted is a feature request. You should take that to meta.stackexchange.com and ask for it there.</p>
			</div>
			</div>
				<textarea id = "speech-2430" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2430">
					<img id="start_img-2430" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2430">Comment</button>
			<br><div id = "ans-2431"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2431" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I delete a lot of comments. Usually they are flagged for deletion. There's no way I know to track it. It would help us as well - if we ended up deleting 100 comments from one user where there was a pattern, it would be nice to be able to see that and address it head on and with data as opposed to "human recollection" which can be faulty at best. </p>

<ul>
<li>Let's spin your feature request off as a separate question.</li>
</ul>

<p>As to when I recall deleting comments from you in particular - when you are answering the question in a comment - it often goes, especially if that answer has been provided by you or another. Please don't do that going forward - if you are trying to clarify the question - do that in the comments. If the author needs to troubleshoot or you know how to troubleshoot that - make an answer stating that here's how you would troubleshoot the situation.</p>

<p>Since comments are never meant to last - there's no notification of edits or deletions. There's no wiki revision history. If you are putting information into a comment that merits that level of information - that's a good sign you should be asking on meta or chatting or editing the post or just making an answer.</p>

<p>Without looking into specifics it's hard to know if I'm the deleter or if other moderators are also deleting comments.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2431">Load Comments</button></br>
			<div id = "commentsection-2431" class = 'collapse'>
			<div id = "comment-4549" class = "comment">
				<p>p.s. I'm not looking to lecture you or anyone on comments, but I'd disagree with the "I know the purpose of the comment field" since it's often misunderstood and often subjective what's harmful in comments. I think we all use them for entertainment, mockery and disagreement from time to time - especially when we are new users.</p>
			</div>
			<div id = "comment-4551" class = "comment">
				<p>The comments I enjoy most (both writing and reading) and probably the least in accordance with the officially sanctioned purpose of comments.</p>
			</div>
			<div id = "comment-4552" class = "comment">
				<p>That said, it is probably appropriate to delete them.</p>
			</div>
			<div id = "comment-4553" class = "comment">
				<p>@Daniel everything in moderation is a-okay.</p>
			</div>
			<div id = "comment-4554" class = "comment">
				<p>@daniel - well said. I wonder if there's a way to make that official policy. Kind of "adopt" your favorite comment or "this comment" is a meta comment where the normal rules are backwards...</p>
			</div>
			<div id = "comment-4555" class = "comment">
				<p>Let me clarify the "answering the question in comment field". Often I am not 100% sure of the absolute answer. In the effort to clarify the question I make a suggestion to try this or try that. Once I get a positive respond I delete the comment and make it a answer. Looks to me like a clean way to do it.</p>
			</div>
			<div id = "comment-4562" class = "comment">
				<p>@Buscar  That's totally fine (and one of the ideas behind the comment function). Moving discussions to chat (assuming the asking user has enough reputation to join chat) is also an option in this case.</p>
			</div>
			</div>
				<textarea id = "speech-2431" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2431">
					<img id="start_img-2431" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2431">Comment</button>
			<br><div id = "ans-2432"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2432" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>No</h1>

<p>No, there is not a way to get notified when your comment was deleted.</p>

<p>No, there is not a common guide when to delete the comments.</p>

<p>Comments are temporary. They frequently get deleted, and are designed to not endure. If a comment is removed, that dos not necessarily mean you did something wrong (although sometimes it does). Comments are like the grass of the fields. The grass withers, the flowers fade. <em>Sic transit gloria mundi</em>.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2432">Load Comments</button></br>
			<div id = "commentsection-2432" class = 'collapse'>
			<div id = "comment-4558" class = "comment">
				<p>I will accept your answer to close this (knowing that only mods can delete the comments).</p>
			</div>
			<div id = "comment-4563" class = "comment">
				<p>@Buscar  this is incorrect. See my answer below. Your comment can be deleted by the system if it is flagged by community members. Three flags on a comment with no up votes and it's gone.</p>
			</div>
			<div id = "comment-4567" class = "comment">
				<p>@Buscar This distinction by Ian is very important as certain comments with certain phrases can be insta-deleted with a single flag.</p>
			</div>
			</div>
				<textarea id = "speech-2432" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2432">
					<img id="start_img-2432" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2432">Comment</button>
			<br><div id = "ans-2490"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2490" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So this topic kept nagging me, and I found a solution to have some control over my comments.</p>

<p>->As I was told, they can be deleted by the mods (without clear reasoning).</p>

<p>->As I was told, they can be delete by Flags ? I agree if the comments are worth flagging.</p>

<p>To quote: Comments are temporary. They frequently get deleted, and are designed to not endure.</p>

<p>I found and installed the "Self-destructing comments" made by the creative fellow users  .</p>

<p>What a relief, now I feel like I have some control over how long my comments stay alive, and will help me keeping it clean.</p>

<p>Here is a example how it looks now (note the self destruct)</p>

<p><img src="https://i.stack.imgur.com/68qxZ.jpg" alt="sd"></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2490" class = 'collapse'>
			</div>
				<textarea id = "speech-2490" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2490">
					<img id="start_img-2490" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2490">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>