<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What can I do if a useless answer is about to receive a bounty?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1403" class = "post">
			<h2>Question</h2>
			<h3>Score ::-2</h3>
			<h3>Views ::44</h3>
				<h2>What can I do if a useless answer is about to receive a bounty?</h2>
<p>I have a question with a bounty and a <a href="https://apple.stackexchange.com/a/40440/4395">leading answer that's useless</a> and appears not even to have understood the question. Is there anything I can do to prevent the bad answer from receiving the bounty?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1404"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>You could award the bounty to an answer you find more helpful. Otherwise, no.  Do note that an answer that <em>you</em> find useless might help someone else. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2679" class = "comment">
				<p>So other than selecting one of the other answers, I'm stuck with the bad one, correct?</p>
			</div>
			<div id = "comment-2680" class = "comment">
				<p>In this case I'm pretty sure that what's gong in is that people aren't completely testing the answer. I have the same behavior as the answer describes, but over time, the "solution" wears off. If it's "helping", it's actually misleading.</p>
			</div>
			<br><div id = "ans-1405"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>The bounty is spent to get premium attention and nothing more.</p>

<p>You get to choose among any of the answers to award the bounty and you can choose to not award it. The choice is yours.</p>

<p>Do note that if you fail to award the bounty (which it totally separate than voting up or down any answer and also is decoupled from accepting an answer), it may go to the highest voted (but must have +2 or more net votes) answer that came <em>after</em> you added the bounty. </p>

<p>Don't worry if there is no recent answer with enough votes as in this case, no answer will even get the "half share" of bounty if the system can award it according to the process.</p>

<p>More details on this are here:</p>

<ul>
<li><a href="https://apple.stackexchange.com/privileges/set-bounties">https://apple.stackexchange.com/privileges/set-bounties</a></li>
</ul>

<p>So, by definition - no useless answer can ever get bounty if you award it to another answer and the system will deem a +2 answer useful and award half points if no other answer is better and the points are still unawarded at the end of your 24 hour grace period to award the points once the promotion period ends.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2681" class = "comment">
				<p>Also - I find that when I disagree with an answer - keeping my response simple and clear rather than lots of comments makes it easier for other people to vote down bad answers. In the end, it's not really possible to directly affect voting other than being gracious and understanding that there are many points of view and sometimes you'll need to take the feedback and edit the question a month down the road and clarify what you are seeking (or just ask a new question that more clearly sets down your particular use case.)</p>
			</div>
			<div id = "comment-2682" class = "comment">
				<p>Yes, I guess patience is in order (clearly my frantic commenting isn't doing much good).</p>
			</div>
			<div id = "comment-2683" class = "comment">
				<p>It's good to be passionate - but sometimes too much passion can hide the bare facts. There's a lot of chance to using a bounty - but you've also got experience now so you can be more happy with it the next time you want to promote a question.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>