<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What is the correct response to cross-posted questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2157" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::40</h3>
				<h2>What is the correct response to cross-posted questions?</h2>
<p>I occasionally see questions that have been cross-posted. For example, <a href="https://apple.stackexchange.com/questions/135259/disable-discrete-gpu-in-single-user-mode-install-partition">this question</a> was <a href="https://superuser.com/questions/769826/disable-discrete-gpu-in-single-user-mode-osx-10-10-install-partition">also posted on SU</a> at approximately the same time.</p>

<p>In the past, I usually flag such cross-posts with a custom reason, but is this the best way to deal with it? Recently, I've been adding comments to the effect of </p>

<blockquote>
  <p>Please don't cross post :) If you don't get the response desired from [xpost], request a moderator migrate it rather than reposting the question yourself.</p>
</blockquote>

<p>How should cross posts be dealt with?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2157" class = 'collapse'>
			</div>
				<textarea id = "speech-2157" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2157">
					<img id="start_img-2157" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2158"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>In general commenting and flagging are both valid options in these situations.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2158" class = 'collapse'>
			</div>
				<textarea id = "speech-2158" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2158">
					<img id="start_img-2158" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>