<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What are this site's quality standards?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-862" class = "post">
			<h2>Question</h2>
			<div id="vote-862" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 71</p>
			</div>
				<h2>What are this site's quality standards?</h2>
<p>I am unable to post a question because "it does not meet our quality standards":</p>

<p><img src="https://i.stack.imgur.com/MMuXc.png" alt="It does not meet our quality standards"></p>

<p>Where can I learn about said standards? I see no mention of them in the FAQ.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-862" class = 'collapse'>
			</div>
				<textarea id = "speech-862" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-862">
					<img id="start_img-862" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-863"  class = "post">
				<h2>Answer</h2>
			<div id="vote-863" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My guess is that the system is rejecting your question because it's too short. Explain why you want to delete your contacts, if you have your contacts set to sync to your computer or an internet service, etc. Also of use is to tell us what you've already tried and what didn't work.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-863" class = 'collapse'>
			</div>
				<textarea id = "speech-863" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-863">
					<img id="start_img-863" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-866"  class = "post">
				<h2>Answer</h2>
			<div id="vote-866" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the <strong><a href="https://meta.stackexchange.com/questions/7931/faq-for-stack-exchange-sites">Community FAQ</a></strong></p>

<h3><a href="https://meta.stackexchange.com/questions/92074/what-can-i-do-when-getting-it-does-not-meet-our-quality-standards/92075#92075">What can I do when getting  It does not meet our quality standards ?</a></h3>

<blockquote>
  <blockquote>
    <p>Make sure your question has</p>
    
    <ul>
    <li>a clear title</li>
    <li>a reasonable explanation of what your question is, sharing your research on the matter</li>
    <li>correct use of English and actual sentences</li>
    </ul>
    
    <p>If your question is so brief that it could be looked up in a dictionary or reference book/site trivially, it might not be a good fit on our network. (source: Jeff)</p>
  </blockquote>
  
  <p>Exact details about the algorithm are not being released by the team.</p>
</blockquote>

<p>Answer provided by <a href="https://meta.stackoverflow.com/users/131713/popular-demand">Popular Demand</a>.</p>

<hr>

<p><a href="https://apple.meta.stackexchange.com/questions/862/what-are-this-sites-quality-standards/863#863">Kyle Cronin's answer</a> includes some good practical examples on how to improve your specific question.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-866">Load Comments</button></br>
			<div id = "commentsection-866" class = 'collapse'>
			<div id = "comment-1605" class = "comment">
				<p>Checking for quality standards is done by computer, so sometimes it is not too smart!</p>
			</div>
			</div>
				<textarea id = "speech-866" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-866">
					<img id="start_img-866" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>