<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What should we do if we misflag a post?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2785" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::14</h3>
				<h2>What should we do if we misflag a post?</h2>
<p>It was a case of the tap-too-quick, and I selected the wrong flag for a particular question. How should I handle this matter?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2786"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I didn't see any flags by you which seemed odd/wrong, so it probably got handled already. Also, there isn't a big difference between the flag types as far as moderator notification is concerned: we get notified, look at flag <em>and</em> post and try to resolve whatever problem the post may have (at least that's the idea, we all make mistakes now and then).</p>

<p>The answer in <a href="https://apple.meta.stackexchange.com/questions/2369/what-to-do-if-i-mark-the-wrong-flag?rq=1">What to do if I mark the wrong flag?</a> still applies though: If in doubt, post to Meta (as you did).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>