<html>
	<head>
		<title id = 'pagetitle'>What happened to the bounty on this question?
		</title>
	<head>
	<body id = 'pagebody'><p>I've not had much to do with bounties (though I've read the <a href="https://apple.stackexchange.com/help/bounty">bounty docs</a>), and would like to understand better...</p>

<p>The following question that I once asked <a href="https://apple.stackexchange.com/questions/91501/how-to-disable-default-alt-left-alt-right-keyboard-shortcuts-for-numbers-app">How to disable default alt-left / alt-right keyboard shortcuts for Numbers.app</a> had a bounty applied after quite some time with the note that the answers were 'no longer correct' or 'out of date' (sorry can't remember the wording), so I added an updated answer.  </p>

<p>This question on meta seems relevant: <a href="https://apple.meta.stackexchange.com/questions/2278/bounty-expired-without-good-answers-so-did-some-digging-and-found-the-correct-a">Bounty expired without good answers, so did some digging and found the correct answer. Now what?</a>, but in my case, I added a new answer in response to the bounty. I would have thought the bounty would have been auto awarded.</p>

<p>I saw the bounty expire, but can't see it having been awarded to either of the answers. Can someone explain the process here?</p>


<h1>ANSWERS</h1>
		<p>The bounty started January 31 and ran the normal time. No answers after the bounty period qualified and the person issuing the bounty didn't award it manually. </p>

<p>If a bounty expires (including the 24 hour grace period) and no answer has two upvotes or more, the bounty will expire without any points being awarded (the bountier will not recoup any of the points either). If one of the answers has more two upvotes or more, it will receive half of the bounty points if the bounty expires without being awarded.</p>

<p>As per <a href="https://apple.stackexchange.com/help/bounty">these docs</a>.</p>


	</body>
</html>