<html>
	<head>
		<title id = 'pagetitle'>What sort of promotions and~or sponsorships and~or other stuff would you guys like to see?
		</title>
	<head>
	<body id = 'pagebody'><p>This week, Ask Different is sponsoring the Daring Fireball RSS feed. This means Gruber will run a little ad for Ask Different in the <a href="http://daringfireball.net/index.xml" rel="nofollow">RSS feed</a>. I believe there will also be a plug live on the <a href="http://daringfireball.net/" rel="nofollow">Daring Fireball homepage</a> on Friday, but don't quote me on that. </p>

<p>John Gruber is just one guy who likes to talk and write about Mac stuff on the internet. There are loads more out there. Stack Exchange has a budget to do this kind of sponsorship and promotion for the satellite sites, but we need you guys to tell us where it'd be best spent. </p>

<p>So! Help me help you help people on the internet figure out how to do cool stuff with Apple products, folks! Let me know what your ideas are.</p>

<p>Edit: I just want to clarify - we are not doing a Big Marketing And Sponsoring Stuff Push at this time. Ideas you guys post here will go in our back pocket and be trotted out one at a time now and then, when budgets and other resources allow. That said, I'm not just pretending to ask for suggestions so I can ignore them! Promise. </p>


<h1>ANSWERS</h1>
		<p>I would absolutely reach out to Dan Benjamin to see what his rates are for sponsoring some part of his podcasts. I am partial to build and analyze (or back to work) but I'm sure he and his staff could guide you to two or three shows that might be a good fit and be looking for episodes.  I'm ignorant of the costs involved, but perhaps hitting a few shows / weeks apart would be a nice spread out effort to raise awareness.</p>


<p><a href="http://decknetwork.net/" rel="nofollow">http://decknetwork.net/</a> might be more expensive than finding individual blogs for ad placement - perhaps you can have one buy there in wide rotation and select a few of the individual sites for a weekly spot.</p>

<p>It's top notch / fairly exclusive in my opinion.</p>


<p>Ric Ford on <a href="http://macintouch.com" rel="nofollow">http://macintouch.com</a> has been covering Apple since the mid 90's and I'd put him up with <a href="http://tidbits.com" rel="nofollow">TidBITS</a> which started in the late 80's for having a large proportion of people that have been around apple for quite some time.</p>

<p><a href="http://www.macintouch.com/advertising.html" rel="nofollow">http://www.macintouch.com/advertising.html</a></p>


	</body>
</html>