<html>
	<head>
		<title id = 'pagetitle'>What are the dotted lines in between chat messages?
		</title>
	<head>
	<body id = 'pagebody'><p>I was chatting earlier and noticed dotted lines in between chat messages:
<img src="https://i.stack.imgur.com/vuYI7.png" alt="Lines in chat"><br>
What do they do?</p>


<h1>ANSWERS</h1>
		<p>They appear when that chatroom screen has lost focus at the last message you read before going to another program or chatroom.  When you come back, the line shows you where you left off reading so you don't have to figure out what was said while you were doing something else.</p>


	</body>
</html>