<html>
	<head>
		<title id = 'pagetitle'>What happened to the "beta ban"?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm sure  I think  there was a ban on beta release questions - but I can no longer find it in the Help section, only this link in Meta - <a href="https://apple.meta.stackexchange.com/questions/573/update-to-faq-regarding-beta-and-pre-release-software">Update to FAQ regarding beta and pre-release software</a></p>

<p>Do we have a current stance? Is it delineated at private vs public beta, or does it remain at <em>all betas</em></p>

<p>This is my prompt - <a href="https://apple.stackexchange.com/questions/221899/time-capsule-backup-consistently-fails">Time Capsule backup consistently fails</a></p>


<h1>ANSWERS</h1>
		<p>The latest meta question on beta is <a href="https://apple.meta.stackexchange.com/questions/2537/should-beta-os-questions-be-on-topic-due-to-nda-changes-widening-distribution?lq=1">here</a></p>

<p>The most upvoted answer (although not very many votes) says</p>

<blockquote>
  <p>NDA is just one of several reasons why questions about non-public beta software don't work well on Ask Different, Can I ask about not-yet-publicly released OS? lists the others. So even with the NDA partially lifted, I still think that questions about iOS 9/OS X El Capitan need to wait until at least public betas are available.</p>
</blockquote>


<p>The general beta software ban was lifted in August of 2015 after discussing it in chat and on beta. The FAQ is up to date:</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a></li>
</ul>

<p><strong>Developer betas, seeding betas, other odd builds from Apple shouldn't be the only reason to close a post on Ask Different</strong>. Beta should no longer a reason to close any question on the site.</p>

<p>See the blog post:</p>

<ul>
<li><a href="http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/" rel="nofollow noreferrer">http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/</a></li>
</ul>

<p>Meta has lots of answers and discussions, but in general we aren't closing anything due to beta status of hardware, software or services. We are asking for more details on beta releases. For instance - saying El Capitan wasn't enough when it was in beta - we asked for build versions and where you got the beta in the cases where it mattered if you were a seed participant or open beta participant or paid developer. Some things changed based on <em>how</em> you got the beta and were germane to the question meeting quality standards.</p>

<p>Please note, this also doesn't mean any question about beta should remain open. Since it's beta, knowing the exact build version is imperative - we should be a little more strict about closing vague beta questions if they fail the other guidelines about being clear, practical, and have some research done on the problem to be solved.</p>

<h1>We should vote to hold and close subjective, opinionated, excessively broad bad questions because of those specific flaws and not because they are running a beta build of an App or an OS.</h1>


	</body>
</html>