<html>
	<head>
		<title id = 'pagetitle'>What should our logo and site design be like?
		</title>
	<head>
	<body id = 'pagebody'><p>This should also be brought up at some point, so I'll do it now. :-) <strong>Does anyone have ideas about what visual elements our Apple SE should have?</strong></p>


<h1>ANSWERS</h1>
		<p><img src="https://i.stack.imgur.com/QVJpP.png" alt="command key cloverleaf"></p>

<p>The Startups SE is simply using the power button symbol, and that's where I got the idea to use the ubiquitous cloverleaf. Keep it a solid color, either the black that trims our iPads and iPhones, or the gray color that is the Apple logo on startup in Mac OS X, and it will work in any format.</p>


<p>Based on Dori's ideas:</p>

<p><strong>draft a:</strong></p>

<p><img src="https://i.stack.imgur.com/K6Ymo.png" alt="Apple.SE logo"></p>

<p><strong>draft b:</strong></p>

<p><img src="https://i.stack.imgur.com/UeUBU.png" alt="alt text"></p>

<p>I hope you get the idea. The silver shiny logo would be nice too.</p>


<p>Please try not to laugh too hard... I had an idea while I was reading the comments regarding the site title and logo design.  I am obviously not a graphic designer, but the SuperUser site combined with the Finder gave me this idea.  I tried to make it look pretty by using my monospace fonts all blown up in Vim, then editing it in Seashore, which resulted in this disaster:</p>

<p><img src="https://i.stack.imgur.com/jpnYs.png" alt="alt text"></p>

<p>I am so crappy at doing that kind of stuff that I ended up just drawing it with the pencil tool to at least give a rough idea of what was in my head :)</p>

<p><img src="https://i.stack.imgur.com/oNDzx.png" alt="alt text"></p>

<p>I have no idea whether this is legally acceptable or not, but there it is.</p>


<p>I was just reminded of this classic Macintosh icon - <a href="http://www.storybytes.com/view-moof/articles/mim.html" rel="nofollow">Clarus the Dogcow</a>:</p>

<p><img src="http://junk.mdm3.com/clarus-20080205-075411.png" alt="moof!"></p>

<p>It might be a bit too obscure, but it could definitely serve as a "secret handshake" of sorts. </p>


<p>I am no designer - but how about something simple (ie not the rainbow suggestions), with an apple-ish Logo in a stack-exchange box? Which would represent the Mac, iPod, iPhone, iPad etc. This in simple monochrome.</p>


<h1>View the Ask Different world through Apple coloured spectacles</h1>

<p>  all your site design problems solved!</p>

<p><img src="https://i.stack.imgur.com/XLw2X.jpg" alt="enter image description here"></p>

<p><img src="https://i.stack.imgur.com/FCyRS.jpg" alt="Apple Logo Sunglasses   custom made for Steve Wozniak"></p>

<p>Hint: I do <strong>not</strong> expect an up-vote for this ;-)</p>

<hr>

<p>Spectacles found in recently posted <a href="http://www.spex4less.com/eyewear/2011/06/apple-glasses/" rel="nofollow noreferrer">Apple Glasses</a>; <a href="http://homepage.mac.com/cliff_huston/.public/Offering/Glasses/Glasses.html" rel="nofollow noreferrer">spectacles on Wozniak</a> and various other images <a href="http://www.tineye.com/search/show_match/b1f8d2004e298edd7034dbdfd4ad014a03a0998f/43b73ee060f580a02a9ba77baf560358a07b5688ba23eee309a17854a81787ad?m13=0.103811&amp;m21=-0.000213307&amp;m22=0.499475&amp;m23=0.216566&amp;m11=0.499475&amp;m12=0.000213307" rel="nofollow noreferrer">found via Tin Eye</a>.</p>


	</body>
</html>