<html>
	<head>
		<title id = 'pagetitle'>What should our FAQ contain?
		</title>
	<head>
	<body id = 'pagebody'><p><strong>update:</strong> Due to our imminent launch, I've published the FAQ</p>

<p>Quite simply, what should it contain?</p>

<p>Answers: Put headings in either <strong>bold</strong> or</p>

<h3>Third level heading format</h3>

<p>with answers as normal.</p>


<h1>ANSWERS</h1>
		<p>Here's the Super User FAQ:</p>

<blockquote>
  <p>Super User is for computer enthusiasts and power users. If you have a question about ...</p>
  
  <ul>
  <li>computer hardware</li>
  <li>computer software</li>
  </ul>
  
  <p>and it is not about ...</p>
  
  <ul>
  <li>videogames or consoles</li>
  <li>websites or web services like Facebook, Twitter, and WordPress</li>
  <li>electronic devices, media players, cell phones or smart phones, except insofar as they interface with your computer</li>
  <li>a shopping or buying recommendation</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>We could just use this as a guide with tweaks for our site. Here's an example:</p>

<blockquote>
  <p>Apple Stack Exchange is for Apple enthusiasts and power users. If you have a question about ...</p>
  
  <ul>
  <li>Apple hardware</li>
  <li>Apple software</li>
  <li>other Apple products or services</li>
  </ul>
  
  <p>and it is not about ...</p>
  
  <ul>
  <li>Apple Developer Programs or programming, with the exception of AppleScript and Automator</li>
  <li>installing or using Apple operating systems on non-Apple hardware</li>
  <li>a shopping or buying recommendation</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>We need to flesh out the two sections a bit more, but it's a start.</p>


<h3>Summarise the overlap/distinction between Ask Different and Super User</h3>

<p>To seasoned users of both stacks, the overlap/distinction may be obvious. </p>

<p>Newcomers might appreciate a more upfront one-line summary (amongst FAQ) helping them to deciding which stack will be most appropriate for their question. </p>

<p><strong>Notes</strong></p>

<p>At <a href="http://chat.stackexchange.com/transcript/message/1491219#1491219">http://chat.stackexchange.com/transcript/message/1491219#1491219</a></p>

<blockquote>
  <p>I guess that I should <em>promote</em> Ask Different, whilst <em>maintaining awareness</em> of Super User and the overlap.</p>
</blockquote>

<p>Adapted from my line at <a href="http://chat.stackexchange.com/transcript/message/1491276#1491276">http://chat.stackexchange.com/transcript/message/1491276#1491276</a> </p>

<blockquote>
  <p>A user might view iPad as a <em>computer</em>, but Super User (<a href="https://superuser.com/faq">for <em>computer</em> enthusiasts and power users</a>) prefers iPad questions elsewhere, because iOS was primarily <em>phone</em>-oriented.</p>
</blockquote>

<p><a href="https://apple.meta.stackexchange.com/q/589/8546">How can I help promote Ask Different as a new version of OS X is released?</a> (2011-07-20) encourages questions "no matter how silly", which is, I guessed aimed at seasoned users who know <a href="https://apple.stackexchange.com/faq#dontask">where to draw the line</a> with silliness :-)</p>


	</body>
</html>