<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What should I do if I answer my own question I put a bounty on?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-762" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::20</h3>
				<h2>What should I do if I answer my own question I put a bounty on?</h2>
<p>I eventually solved my own problem after I put up a bounty and now don't know what to do to cancel it or give it to myself.</p>

<p>Here's the post: <a href="https://apple.stackexchange.com/questions/21573/how-can-i-initiate-a-modem-connection-from-the-command-line/23691#23691">How can I initiate a modem connection from the command line?</a></p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-763"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Ask, but typically not through here, instead just flag it for moderation.</p>

<p>I have removed the bounty and it got automagically refunded to you.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>