<html>
	<head>
		<title id = 'pagetitle'>What shall we do with duplicate answers?
		</title>
	<head>
	<body id = 'pagebody'><p>I have <a href="https://apple.stackexchange.com/questions/36453/is-it-possible-to-upgrade-a-macbook-processor">asked a question</a>, and have some pretty incomplete answers, <a href="https://apple.stackexchange.com/questions/36453/is-it-possible-to-upgrade-a-macbook-processor/36462#36462">one answer</a> duplicates the point of the so far only good answer (thanks Matt) and is not at all constructive as it doesn't go into any detail, where the similar answer posted way before the duplacate has plenty of aditional information to strengthen its point.</p>

<p>Should they be deleted? flagged? commented on?</p>


<h1>ANSWERS</h1>
		<p>I'd suggest that you accept the most useful answer, upvote any that offer helpful suggestions, and ignore the rest. If they actually suggest things that are wrong, you can downvote them if you want. Answers that are incomplete but do answer some part of the question shouldn't be flagged. There's nothing wrong with duplicate answers, either; upvote any or all you think are good, and accept the best.</p>


	</body>
</html>