<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What to do about totally absurd answer
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1931" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::56</h3>
				<h2>What to do about totally absurd answer</h2>
<p>What should you do to an answer that is "No I'm no canfarm wifi bulothot" ? </p>

<p>Should I mark it down as well as flag it? It's not <strong>really</strong> spam.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3712" class = "post">
				<p>Please only flag obvious and genuine spam as spam - behind the scenes stuff uses those flags to auto delete stuff, and care should be taken not to incorrectly flag spam for fear of corrupting it's decision making processes in the future ;)</p>
			</div>
			<div id = "comment-3713" class = "post">
				<p>I flagged it as "Other"</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1932"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>The important step in these cases is to flag the post so the moderator team is aware of it. Flagging gives you several options. In cases like the one mentioned in the question</p>

<ul>
<li>"it is not an answer" </li>
<li>"it is very low quality"</li>
</ul>

<p>seem to be appropriate (and you can always use the "other" option of course). </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>