<html>
	<head>
		<title id = 'pagetitle'>What to do about totally absurd answer
		</title>
	<head>
	<body id = 'pagebody'><p>What should you do to an answer that is "No I'm no canfarm wifi bulothot" ? </p>

<p>Should I mark it down as well as flag it? It's not <strong>really</strong> spam.</p>


<h1>ANSWERS</h1>
		<p>The important step in these cases is to flag the post so the moderator team is aware of it. Flagging gives you several options. In cases like the one mentioned in the question</p>

<ul>
<li>"it is not an answer" </li>
<li>"it is very low quality"</li>
</ul>

<p>seem to be appropriate (and you can always use the "other" option of course). </p>


	</body>
</html>