<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is on-topic and off-topic here?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-114" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::125</h3>
				<h2>What is on-topic and off-topic here?</h2>
<p>One of the essential components of the FAQ will be the list of on-topic and off-topic subjects for questions. </p>

<p>Following the model used at <a href="https://english.meta.stackexchange.com/questions/273/what-is-on-topic-and-off-topic-here">this English L&amp;U meta question</a>, let's use this question to vote on what topics should be on and off topic at Apple SE.</p>

<p>In other words, post answers that are of the form:</p>

<blockquote>
  <p><strong>{On-topic}</strong>  </p>
  
  <p>One subject area you suggest to be considered on-topic</p>
</blockquote>

<p>-- <strong>or</strong> --</p>

<blockquote>
  <p><strong>{Off-topic}</strong></p>
  
  <p>One subject area you suggest to be considered off-topic</p>
</blockquote>

<p>Then upvote and downvote any answers as you see fit.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-115"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p><strong>{Off-topic}</strong></p>

<p>Stock performance and financial outlook of Apple Inc.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-116"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p><strong>{On-topic}</strong></p>

<p>End-user level problems/dilemmas with OS X</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-117"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p><strong>{On-topic}</strong></p>

<p>[Features of / problems with] Apple hardware and devices<br>
(E.g. Mac Pro, iBook, iPod shuffle, Magic Trackpad)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>