<html>
	<head>
		<title id = 'pagetitle'>What happened to ' not about Apple hardware or software' as a Close reason?
		</title>
	<head>
	<body id = 'pagebody'><p>Question pretty much says it all - I was sure there used to be a close reason of 'not about Apple hardware or software'</p>

<p>Am I going completely barmy, or did it vanish in the recent rejig, same time as 'Basic Support' was added to the list?</p>


<h1>ANSWERS</h1>
		<p>We can only have 4 close reason choices and we opted to drop that one in favour the new customer support reason. You can still use "Other..." I believe and enter the text there.</p>


<p>Also. Too broad or unclear often apply when someone asks what seems to be a PC or android question. Once you close it as unclear, it can quickly be deleted or edited if there is some relation to Apple products. </p>


	</body>
</html>