<html>
	<head>
		<title id = 'pagetitle'>What tag should be used for Server on Lion and later?
		</title>
	<head>
	<body id = 'pagebody'><p>Now that server is an app you install from the Mac App store on Lion and later, should I tag questions about server as <a href="https://apple.stackexchange.com/questions/tagged/osx-server">osx-server</a> or <a href="https://apple.stackexchange.com/questions/tagged/server.app">server.app</a>?</p>


<h1>ANSWERS</h1>
		<p>As of mid 2013, the wiki tags indicate that osx-server is only for Snow Leopard and older server installs. I have been retagging server.app to all Lion and newer questions and removing the osx-server tags when it's not used on 10.6 and earlier.</p>

<p>Perhaps we will want to re-evaluate this and make a synonym to point them all to the same tag and/or re-tag old questions.</p>

<p>The only problem is that old server installs aren't served well by server.app but the number of people that need that distinction will shrink rapidly. Also, I wonder if we can prevent use of the old tag and still link things so the new tag feeds both in terms of badge counts and searching.</p>


	</body>
</html>