<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is the community wiki?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-146" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::79</h3>
				<h2>What is the community wiki?</h2>
<p>This <a href="https://apple.stackexchange.com/questions/3168/killer-features-of-the-new-mac-os-x">question</a> has been closed, and says something about the "community wiki"... What is it?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-148"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Community Wiki posts are questions/answers that are now owned by the community - votes up or down do not affect the original user's reputation. They are also editable by more users (only requires 100 reputation instead of 1000). The primary goal is to allow a question or a question to be easily updated by everyone involved.</p>

<p>For all the details check out the faq question on MSO: <a href="https://meta.stackexchange.com/questions/11740/what-are-community-wiki-posts">What are &quot;Community Wiki&quot; posts?</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-248" class = "comment">
				<p>A recent change to the system has removed the CW feature for activation by users. It is now a moderator only feature and can be activated by requesting a moderator to make the change.</p>
			</div>
			<div id = "comment-254" class = "comment">
				<p>Well, that was lame. What if the moderators can't or won't keep up with the flow of subjective questions?</p>
			</div>
			<div id = "comment-255" class = "comment">
				<p>@Philip Regan: Flag the post for moderator attention</p>
			</div>
			<div id = "comment-256" class = "comment">
				<p>@Chealion: I do whenever I catch them. That's where the "*won't* keep up with the flow" came from, or rather (and probably better), *can't*.</p>
			</div>
			<div id = "comment-257" class = "comment">
				<p>@Philip Regan: Fair enough. Moderators should be on the site more often - as it's part of the job they signed up for. I've been busy lately but have been checking in two or three times a day to check on alerts.</p>
			</div>
			<div id = "comment-258" class = "comment">
				<p>@Chealion: I'm not casting blame on anyone here. This is a volunteer gig for everyone, so other priorites come first (I'm only here while the Blue Bar of Time is running across my screen, which happens to be a lot). I just disagree with the policy change because I thought the community was policing itself just fine, and moderators have more important issues to deal with than marking clearly subjective posts as community wiki. Bad tactical decision on the part of SE, AFAIC.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>