<html>
	<head>
		<title id = 'pagetitle'>What should I use instead of NARQ?
		</title>
	<head>
	<body id = 'pagebody'><p>Some questions just aren't questions, usually meant to be an answer on a question or similar, but there's no NARQ close reason any more.</p>

<p>What should I vote to close such questions as?</p>

<p><sup>This is the question that prompted me to ask this: <a href="https://apple.stackexchange.com/questions/144450/transparent-backed-ios7-status-bar-enjoy">https://apple.stackexchange.com/questions/144450/transparent-backed-ios7-status-bar-enjoy</a></sup></p>


<h1>ANSWERS</h1>
		<p>We had "Not a real question" as a close reason in the past, but some people might see it as offensive (because usually the OP did think it was a question). Voting to close such posts as "Unclear what you are asking" seems a reasonable alternative (and already hints at the fact that the question needs to be improved).</p>


	</body>
</html>