<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is wrong with this hardware question for Ask Different and is there a better way to ask it?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What is wrong with this hardware question for Ask Different and is there a better way to ask it?</h2>
<p>Here is the question <a href="https://apple.stackexchange.com/questions/41969/what-input-devices-do-you-find-to-be-an-indespensable-part-of-using-your-mac">https://apple.stackexchange.com/questions/41969/what-input-devices-do-you-find-to-be-an-indespensable-part-of-using-your-mac</a></p>

<p>The question is not intended to be about shopping recommendations? After seeing other questions such as <a href="https://apple.stackexchange.com/questions/82/which-os-x-applications-do-you-find-indispensable">Which OS X Applications do you find indispensable?</a> I though it would be useful for such a question to exist for hardware input devices and the things people are doing with those devices to make make an impact on their user experience.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I believe this type of question will be down-voted since it's an open-ended question and it's doubtful there could be one correct answer. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>While I can't speak directly for the sub-culture of the Ask Different site, I don't feel that <em>either</em> question is suitable for the site.</p>

<p>Both of these questions are nothing more than lists (or requests for lists) and badly maintained ones at that.  Specifically, the question you refer to which is still open:</p>

<p><a href="https://apple.stackexchange.com/questions/82/which-os-x-applications-do-you-find-indispensable">Which OS X Applications do you find indispensable?</a></p>

<p>Is "Not Constructive".  How many of you really have all 210 applications installed on your Mac? Furthermore, what is indispensable for one is almost certainly not for another. The problem where a majority of answers to the question are not selectable as being right. A handful of well intentioned answers can be read and digested in a short period of time. You can see how hard it is to get even through the first page of answers. The rest are effectively buried. Well intentioned or not, these large questions have problems of scale that don't afflict small targeted questions.</p>

<p>On top of that, <a href="https://apple.stackexchange.com/a/354">the highest voted answer, DropBox</a> <em>isn't even an application</em>, it's a website which has an application for the platform.</p>

<p>Both of them should be closed as "Not Constructive".  Like the book list questions that are very contentious on Stack Overflow (to say the least), they might be valuable, and they might have a place on the Internet, but that place isn't <strong>here</strong>.</p>

<p>Questions of this sort simply <em>do not</em> fit the format or vision of this site.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>There was a time when Ask Different had more list-style questions open. I've even written some of them myself, and some were closed and others stayed open. Compared to other Stack Exchange sites, we still have more than average, but we're moving in a direction where the general expectation is that a question asked expecting that there will be a single best answer that can be accepted for the question. While there might still be occasional list questions, they're the exception, not the rule, and the list generated needs to be <em>very</em> <strong>very</strong> useful.</p>

<p>I think you already see how your question is different than the typical question on the site. The general expectation is that a question should be an attempt to solve a particular real-world problem. So if you were looking to do something particular (use a computer with a particular disability, for instance, or enter numbers quickly, or run a slide show from the other side of the room from your computer but also be able to jump to arbitrary slides), asking what input device someone recommends could be a very good question. But "hey, what input devices do you use and why do you like them?" is a direction we've been trying to move the site away from.</p>

<p>It's not a bad thing to wonder about, and frankly, I'd be interested in reading the answer to a poll like that, but it's not a constructive question for our Q&amp;A problem-solving format here.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>My biggest concern about your post is that this is very <em>unspecific</em> question and <em>unlikely</em> to be helpful to the community on the <em>long run</em>:</p>

<ul>
<li>It's not a real problem you face. </li>
<li>Most answers will probably be valid for any computer enthousiast - no matter if he's using Windows, Linux or OSX. </li>
<li><h3>Hardware does not get updated, but upgraded</h3>

<p>We need to be aware of that a hardware upgrade is a replacement of hardware.  Why do I mean mention this? Software does not change it's name over time. When it get's a major update, the version number changes.</p>

<p>With hardware, a name is closely related to a unique product. <strong>But the product becomes unavailable or outdated over time.</strong> Hence, the list of answers will become very bloated in time and require steady clean-up.</p></li>
</ul>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>What sorts of answers was the "what devices are indispensable" were you hoping to get? What problem were you trying to solve? I feel the question would be better if you asked that deeper question and not the warm-up "list all awesome input devices ever" question.</p>

<p>A question that allows any answer to be equally valid makes for a noisy mess.</p>

<p>Who can do without a keyboard or a mouse - there's two banner answers without thinking past a millisecond.</p>

<p>Now - if you had a practical problem. Say what hardware is indispensable for someone with cerebral palsy? By listing a specific condition everyone can gain value from the information, expertise and answers. I don't know if a magic mouse or a trackpad is better for someone with that level of motor skill. By having a real problem, the question becomes on topic.</p>

<p>Do read up on these links for background (most of the mods have had a lot of time to think over these issues and are thusly quick to jump on questions that are likely going to run afoul of the guidelines) and let me know in the comments if any of this makes sense to your particular question here. It still can be edited into shape and reopened - just will need some consensus built about what and how it will exist given the goals of the site.</p>

<ul>
<li><a href="http://blog.stackoverflow.com/2010/09/good-subjective-bad-subjective/">http://blog.stackoverflow.com/2010/09/good-subjective-bad-subjective/</a></li>
<li><a href="http://blog.stackoverflow.com/2012/01/the-trouble-with-popularity/">http://blog.stackoverflow.com/2012/01/the-trouble-with-popularity/</a></li>
<li><a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/697/how-to-kill-off-community-wiki-entries">How to kill off &#39;community wiki&#39; entries</a></li>
</ul>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>