<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>What is the significance of the blue background on some questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-684" class = "post">
			<h2>Question</h2>
			<div id="vote-684" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 84</p>
			</div>
				<h2>What is the significance of the blue background on some questions?</h2>
<p>This question is a reaction to a hint in a comment on an answer of mine <a href="https://apple.meta.stackexchange.com/questions/638/is-the-pale-blue-of-texts-on-white-pale-blue-and-beige-backgrounds-too-pale/671#671">on this thread</a>.</p>

<p>I'm a new user, and have been surprised not to find any explanation (in the FAQ, for example) of the significance of the blue background which some questions display with. The comment referred to suggests that popularity is a possible consideration, but I would appreciate a definitive explanation.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-684">Load Comments</button></br>
			<div id = "commentsection-684" class = 'collapse'>
			<div id = "comment-1215" class = "comment">
				<p>While at it, and not wishing to submit a further question, may I say that it was only through observation that I realised the significance of the green box against which some answer indications appear (my interpretation being that these are answers which have been accepted by the question poser).</p>
			</div>
			</div>
				<textarea id = "speech-684" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-684">
					<img id="start_img-684" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-685"  class = "post">
				<h2>Answer</h2>
			<div id="vote-685" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The blue background is placed in those questions that are tagged with tags you have selected as favorites. One of my tag favorites is <code>xcode</code> and any question that was tagged with <code>xcode</code> appears with the blue background. It is a way to help you find those questions that are more relevant to your specific interests.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-685">Load Comments</button></br>
			<div id = "commentsection-685" class = 'collapse'>
			<div id = "comment-1223" class = "comment">
				<p>So you're saying it's viewer dependent? That others don't see blue where I do? I ask because I'm only a newbie here, and have yet to select tag favourites. Taking a closer look, it seems more as if the blue is added to questions which feature tags which I've used in my questions. You have certainly steered me in the right direction. Thanks for that.</p>
			</div>
			<div id = "comment-1225" class = "comment">
				<p>It is viewer-dependent. It wouldn't surprise me if they had a mechanism to highlight questions if someone hasn't selected any favorites.</p>
			</div>
			<div id = "comment-1397" class = "comment">
				<p>Awesome! Thanks for sharing that. I was thinking that's what it was, but wasn't sure.</p>
			</div>
			</div>
				<textarea id = "speech-685" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-685">
					<img id="start_img-685" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>