<html>
	<head>
		<title id = 'pagetitle'>What is the correct way to inform an Asker their answer is on another SE site?
		</title>
	<head>
	<body id = 'pagebody'><p>I gave an answer to this question: <a href="https://apple.stackexchange.com/questions/173841/install-xcode-without-admin/176141">Install Xcode without admin</a></p>

<p>But the answer mostly amounts to "Your question was answered at SO here: <a href="https://stackoverflow.com/questions/1837889/authorize-a-non-admin-developer-in-xcode-mac-os">https://stackoverflow.com/questions/1837889/authorize-a-non-admin-developer-in-xcode-mac-os</a>"</p>

<p>But it's not considered correct to answer a question with someone else's answer. What should I have done here? Just skipping the question didn't seem like a good idea since it's over 2 weeks old now and only had about 20 views.</p>

<p>The answer here, <a href="https://apple.meta.stackexchange.com/questions/2157/what-is-the-correct-response-to-cross-posted-questions">What is the correct response to cross-posted questions?</a>, doesn't help me because I do not yet have permission to comment or flag posts.</p>


<h1>ANSWERS</h1>
		<p>My question which you linked to is with regard to cross-posting: where the same user posts the same question to multiple sites across Stack Exchange. In this case, it's simply that the site scope of both sites allows the question to be on-topic in both places and has been asked on one site by one user and then on another site by a different user. This is <em>not</em> as a case for flagging as no moderator action is required in this situation.</p>

<p>In general, it is fine to copy a suitable answer from the original question and provide it as an answer to the second question. Use quote formatting to indicate that this is not your own work and provide a link to the source.</p>


<p>Kudos for asking so constructively.  I think your reaction/approach was entirely reasonable.</p>

<p>In general we tend not to like link-only answers.  There are several reasons.  For instance, links often die.  However, those reasons probably don't apply here.  For instance, it seems hard to imagine a situation where Stackoverflow disappears from the Internet but Ask Different remains.  That said, it never hurts to supplement your answer by adding a summary of the main idea from the other answer you are linking to, so the best solution is probably to provide a link to the detailed answer on Stackoverflow and add a short summary to your answer here.</p>

<p>It is OK to copy from someone else's answer, as long as you provide suitable attribution and link to that other answer.</p>

<p>The only place where I disagree with <a href="https://apple.meta.stackexchange.com/a/2391/24154">grgarside's excellent answer</a> -- and I admit it's a small nit -- is that I think there's no need to mark your answer as community wiki.  Community wiki is only appropriate in those very rare cases where <a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">massive collaboration from the community is needed</a>; this is extremely rare and I don't see why it would apply to your situation.  I would suggest you leave your answer as an ordinary answer (don't make it community wiki) -- I think your answer is helpful, and I'd prefer to be able to upvote it and have you receive the rep for your useful, well-written, well-researched answer.  If you want to remove community wiki status, you can flag your answer for moderator attention and ask them to remove the community wiki status.</p>

<p>Thank you for your valuable contributions to Ask Different.  I hope you will keep contributing!</p>


	</body>
</html>