<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What to do with 'answer plague'?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2760" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::56</h3>
				<h2>What to do with 'answer plague'?</h2>
<p>I was going to use a slightly less-polite term, but I thought better of it.</p>

<p>How do we deal with such as this<br>
<a href="https://apple.stackexchange.com/questions/49381/dont-want-my-email-contacts-in-my-contact-list">Don&#39;t want my email contacts in my contact list</a><br>
where there are 25 answers, almost all pretty low quality, that are essentially all the same answer in varyingly-intelligible forms?</p>

<p>Go down them hitting -1 on the worst &amp; hope they eventually reach -3 &amp; vanish to low rep users?</p>

<p>Or...?</p>

			</div><h3>Comments</h3>
			<div id = "comment-6089" class = "comment">
				<p>*"eventually reach -3 & vanish to low rep users"* They're faded but still visible to all reputation levels?</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2760">Record</button>
				<button class="record-stop" id="stop-2760">Stop</button>
				<p id="recording-2760"></p>

<h1>Answers</h1>
			<br><div id = "ans-2761"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Protecting the question (as you did) or flagging it for moderator attention (for people with less reputation points) are probably the best way of action here. Downvoting also helps, but I would still recommend to look at each answer on its own and only downvote those which you would either also downvote if they were the only answer or if the answer really is a duplicate of an existing one (see also <a href="https://apple.meta.stackexchange.com/questions/990/what-shall-we-do-with-duplicate-answers?rq=1">What shall we do with duplicate answers?</a> on this).</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2761">Record</button>
				<button class="record-stop" id="stop-2761">Stop</button>
				<p id="recording-2761"></p>
			<br><div id = "ans-2762"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I wonder if we would do better by assembling a list of 10 or so example questions and then deciding if the problem is actually not closing the source of the "plague" - It's harder to balance the "not everything needs fixing/let's change everything" value judgement with the "we're open for anyone to participate" in single cases.</p>

<p>That question itself has some serious problems with either incomplete information or wrong information and has aged poorly.</p>

<ol>
<li>Which contact app is being used?</li>
<li>How many contact sync options are engaged (you could sync over iTunes to Mac, iTunes to PC, cloud to a handful of custom or standard services).</li>
<li>What version of iOS?</li>
</ol>

<p>I would say - if you wanted to help out that problem - explaining why it needs to be closed in a comment or working up consensus here or in chat to get a few people to agree it's actively harming the site and/or see if it can be linked to a better canonical question.</p>

<p>All that being said - that question has likely helped a lot of people even with the tons of answers (that's a signal that the problem isn't a simple as it seems) and none have risen to the top indicating that the thread in question isn't a good resource for getting a problem documented or solved.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2762">Record</button>
				<button class="record-stop" id="stop-2762">Stop</button>
				<p id="recording-2762"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>