<html>
	<head>
		<title id = 'pagetitle'>What is the proper way to review a late answer from a new user that doesn't add anything?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm new to reviewing and in relation to that I have a question regarding how to handle an answer to an <a href="https://apple.stackexchange.com/questions/58141/disable-saving-to-icloud-in-mountain-lion">old question</a> with an already accepted answer like this one:</p>

<p><img src="https://i.stack.imgur.com/bI3zW.png" alt=""></p>

<p>It's an answer to a question from 2012. The answer is <em>technically</em> not wrong but it doesn't really add any value. Since it's a new user she might just not entire grasp the StackExchange system yet.</p>

<p>Do I:</p>

<ul>
<li>Helpfully comment that it might be inappropriate?</li>
<li>Ignore it?</li>
<li>Down-vote?</li>
<li>Flag it?</li>
<li>Something else?</li>
</ul>

<p>Tried browsing meta to see if I could find an answer but with no luck.</p>

<p>Any guidance would be greatly appriciated!</p>


<h1>ANSWERS</h1>
		<p>New answers to old questions can be anything from spam to gem, so it's kind of difficult to give a simple answer on that. But in general the same rules apply both for current and for old topics</p>

<ul>
<li>if it is inappropriate or out of line -> flag</li>
<li>if it is just wrong, incomplete or confusing -> downvote</li>
<li>if you think the OP can/should improve it, add a comment with some followup questions</li>
</ul>

<p>In the case you mentioned it seems to have been meant as a comment to the accepted answer, something which is actually helpful because Mavericks brought some very welcome changes regarding iCloud document syncing. So flagging it for moderator attention would be a good way to handle that.</p>


	</body>
</html>