<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What to do about mindless acceptance of inappropriate edits?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What to do about mindless acceptance of inappropriate edits?</h2>
<p>So I come to see my answer was edited in the way it absolutely changed original meaning.
There were three reviews of that edit with two accepted and one rejected it. So the edit now accepted. But it is wrong.</p>

<p><a href="https://apple.stackexchange.com/posts/55385/revisions">https://apple.stackexchange.com/posts/55385/revisions</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You should have the option to rollback any edits done to your posts in the revision history (the link you've included above). In your case, just click on the "rollback" label on version 2.</p>

<p>If you're not comfortable or sure how to engage the people you wish to discuss things with, flag the post and ask for moderator assistance in knowing what to do and/or help in facilitating a conversation with another user.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>