<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What should we do with MacTech?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-827" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::80</h3>
				<h2>What should we do with MacTech?</h2>
<p><a href="http://www.mactech.com/" rel="nofollow">MacTech</a> runs a <a href="http://www.mactech.com/conference/about" rel="nofollow">conference</a> next month, and we have been invited to potentially participate. Basically, we want to put together some kind of small event that will let the people at the conference spend 15-20 minutes really engaging with the users on the site. We have had two ideas so far:</p>

<ul>
<li><p>We could run a sort of "Stump the Programmer" style game that would be played at the MacTech Conference next month. Individuals would ask questions in the Ask Different chat, where a pre-planned group of awesome Ask Different users would already be congregating. The chat room's task is then to wow the crowd back at the conference with their skill and know-how by finding great answers quickly. </p></li>
<li><p>The other idea is similar in that it would have an organized, coordinated chat effort, but it would involve some kind of competition between the chat team(s) and the in-person team(s) at the conference. </p></li>
</ul>

<p>What do you guys think of these ideas? Are these coordinated chat efforts something you would be interested in? What other ideas do you have in terms of ways we can integrate with MacTech?</p>

			</div><h3>Comments</h3>
			<div id = "comment-1545" class = "comment">
				<p>Is this their first conference? Or is there someone here on Ask Different that could chime in with their experiences about something like this, having done it before?</p>
			</div>
			<div id = "comment-1555" class = "comment">
				<p>@VxJasonxV This is not their first conference by far. The magazine's been running for 30-odd years, and the conference at least for 5, maybe more.</p>
			</div>
			<div id = "comment-1557" class = "comment">
				<p>Is this question still relevant?</p>
			</div>
			<div id = "comment-1560" class = "comment">
				<p>@Kyle yes - it's not off the table yet.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-827">Record</button>
				<button class="record-stop" id="stop-827">Stop</button>
				<p id="recording-827"></p>

<h1>Answers</h1>
			<br><div id = "ans-832"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I'm a bit skeptical of anything that relies on our chat being active at any particular time, and it would be a <em>lot</em> of pressure if we were expected to "wow the crowd" at being able to find answers quickly, especially in front of a crowd of "IT and developer professionals". Yikes.</p>

<p>Honestly, I don't know what we should do. My only thought is we should send two or three people from SE and/or the community to put together a little presentation about the site, with an open invitation at the end to ask questions and post answers on the site. That way people can evaluate the site individually.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-832">Record</button>
				<button class="record-stop" id="stop-832">Stop</button>
				<p id="recording-832"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>