<html>
	<head>
		<title id = 'pagetitle'>What to do if I mark the wrong flag?
		</title>
	<head>
	<body id = 'pagebody'><p>I accidently marked the wrong flag for a <a href="https://apple.stackexchange.com/questions/174266/i-cant-transfer-my-coc-account-from-android-to-an-ipad-mini">clash of clans</a> question. I truly have no idea what it flagged, but I meant to put it as a low-quality question.</p>

<p>If I flag a question with the wrong flag, what should I do or say?</p>


<h1>ANSWERS</h1>
		<p>This works for notifying us the best.</p>

<p>Thanks for the flag and the note - all is good and the flag was handled already.</p>


	</body>
</html>