<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What can we do about such behaviour?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1775" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::61</h3>
				<h2>What can we do about such behaviour?</h2>
<p>I've recently added a question about a <a href="https://apple.stackexchange.com/questions/98546/mac-os-x-microphone-auto-mute">microphone issue on the mac</a>. A user answered to the question or lets say, commented on it, after that the scoop of the question changed.  </p>

<p>First it was a game related issue, then I noticed it is not game related anymore and removed the original statement related to the game.  </p>

<p>Now I noticed that the question got one -1 vote and was rolled back to the original version which was game related. This correlates with the given answer of the specific user in this case, which is the only answer by the way.  </p>

<p>Nothing negative intended but I'm the author of the question and I know it is not game related.  </p>

<p>What can we do about such stupid rollback and downvote behaviour?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1776"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Lets deal with the downvote issue first. One downvote is one person somewhere on the Internet didn't like what you wrote. It can hurt, but when you realize that posts sit up for years, there will be lots of time for others to appreciate what you wrote. Now 3 to 5 downvotes and it might be you that needs to change something....</p>

<p>As for the edits, that's what rollbacks are here for: to undo changes coming from misunderstandings, misinterpretations or plainly wrong edits. </p>

<p>Thanks for raising the issue here on meta. Trying to ask why downvotes happen on the main site works quite poorly in practice.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3337" class = "post">
				<p>Hey again @patrix, yes thats correct but the behaviour and downvoting is really really annoying:(</p>
			</div>
			<div id = "comment-3338" class = "post">
				<p>I understand your problem and it deserves a longer answer. But I'm at work the whole day (same timezone as you are probably) so it has to wait for tonight. Maybe somebody else will throw in some thoughs as well in the meantime.</p>
			</div>
			<div id = "comment-3339" class = "post">
				<p>Nah it's OK, since the computer is at home to it can wait :) Thank you!</p>
			</div>
			<br><div id = "ans-1777"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>In general @patrix answer is correct, however in this case the original question really emphasised and was built round the game issue and thus was the part of the question that was to be answered so that I can see why the answer was given and the rollback of the question as you radically changed the question, and we see misediting occur so it was a reasonable assumption that the original game point was correct,</p>

<p>However as you were the original asker it makes sense for you to restate the issue and so rollback even though it invalidated the answer.</p>

<p>I think this is just one of these things that happens and not much can be done as I don't think anyone took a definitely wrong action. The question now explains your problem better as as removed the red herring and so we can consider this afresh.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3340" class = "post">
				<p>This is stated sooo well. Thank you</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>