<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>What is the average helpful~declined flag rate?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2046" class = "post">
			<h2>Question</h2>
			<div id="vote-2046" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the average helpful~declined flag rate?</h2>
<p>Having just surpassed 500 helpful flags (and got a wonderful gold badge!) I'm wondering how my accuracy in flagging is compared to the average user.</p>

<p><strong>Where can I look for average percentages of declined to helpful flags for the various categories of flag?</strong></p>

<p>In case numbers can't be disclosed, here is my current flagging history to allow for comments such as 'high'/'low':</p>

<p><img src="https://i.stack.imgur.com/tCVWR.png" width="206"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2046">Load Comments</button></br>
			<div id = "commentsection-2046" class = 'collapse'>
			<div id = "comment-3920" class = "comment">
				<p>If I keep forgetting that incorrect answers shouldn't be flagged I'll catch you on moderator attention flags declined long before I get up to 400+ helpful (I have 4 declined out of 67)</p>
			</div>
			</div>
				<textarea id = "speech-2046" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2046">
					<img id="start_img-2046" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2047"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2047" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Short Answer: You can't.</p>

<p>Long Answer: I'm afraid you can't ;)</p>

<p>Flags is like votes, you can see your own, we can't.  You have access to the raw data, and can compile stats from it, but there's no handy page, not even for a Mod, that will do it.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2047">Load Comments</button></br>
			<div id = "commentsection-2047" class = 'collapse'>
			<div id = "comment-3919" class = "comment">
				<p>Ah, that's a shame :(</p>
			</div>
			<div id = "comment-3921" class = "comment">
				<p>Not even on a data export?</p>
			</div>
			<div id = "comment-4208" class = "comment">
				<p>Doing some digging on Meta.SE you can't get a user's flag history [even with a direct link](http://apple.stackexchange.com/users/flag-summary/37797)? (previous link should 404 except   and me?)</p>
			</div>
			<div id = "comment-4210" class = "comment">
				<p>Mods can see that link, yes, but that per user, not per flag type.</p>
			</div>
			</div>
				<textarea id = "speech-2047" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2047">
					<img id="start_img-2047" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>