<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What should we do with closed questions about pre-release~beta software after the software has been released?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-580" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::115</h3>
				<h2>What should we do with closed questions about pre-release~beta software after the software has been released?</h2>
<p><a href="https://apple.stackexchange.com/questions/17456/how-will-the-osx-lion-upgrade-affect-my-win-7-bootcamp-setup">A user had mentioned to another in the comments of one of the Lion questions</a> that most, if not all, questions about Lion will be re-opened once it is released. This was news to me, although I would like to see where that decision was made. </p>

<p>I don't see re-opening all of the closed Lion questions as being an easy thing to do for all of the obvious reasons: the question may no longer be applicable since things will most likely have changed between the beta and release, and, honestly, who is really going to sit there and comb through all of those questions. I suppose we could ask one of the SE gods to do something in the back-end, but I don't feel that is appropriate for the first reason that things will have changed.</p>

<p>So, what do we do? Cut our losses and just move forward with what we have, or go back and reopen the Lion questions <em>en masse</em>? People are going ask since we have been trumpeting their being off-topic until Lion is released, so I feel as though we ought to settle this now. The same issue is going to apply all pre-release or beta software like iOS 5.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-581"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Short Version: <strong>I think that, given the high volume of questions that won't be worth reopening, we shouldn't try to reopen them.</strong></p>

<p>If someone really wants an answer to a Lion-specific question (and the question is still relevant), they can re-ask it.</p>

<p>Honestly, of the Lion-related questions I've closed, almost all have been "Will Lion support [x]?" and "Does Lion have [x]?".<br>
Those will be answered for the askers as soon as they install Lion, so they won't want to maintain a question on the site.<br>
And the few questions that are still relevant can be re-asked. No harm there, I think.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-582"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Many question closures are a step on the eventual road to deletion.</p>

<p>see: </p>

<ul>
<li><a href="http://blog.stackoverflow.com/2009/04/the-stack-overflow-question-lifecycle/" rel="nofollow">http://blog.stackoverflow.com/2009/04/the-stack-overflow-question-lifecycle/</a></li>
<li><a href="http://blog.stackoverflow.com/2009/01/adventures-in-delclusionism/" rel="nofollow">http://blog.stackoverflow.com/2009/01/adventures-in-delclusionism/</a></li>
</ul>

<p>The primary exception is duplicates where you need the alternately worded alternate as a signpost (and search target) to the other question.</p>

<p>In this case, I think many of these can possibly be deleted...</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-583"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I think the good questions will get asked at the appropriate time (assuming the Apple documentation doesn't make many of the issues clear)</p>

<p>Why risk reopening something that didn't make the cut or was only relevant for a beta version of Lion?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-597"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I flagged a <a href="https://apple.stackexchange.com/questions/16905/vnc-server-bug-in-os-x-lion">question</a> for a problem I'm having now (July 22, two days post-Lion), asking it to be reopened, and the flag was marked invalid - does it really make more sense for me to post my own question?</p>

<p>That question has over 500 views, so I hardly think I'm alone. Why can't individual questions be reopened on a case-by-case basis?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1066" class = "post">
				<p>You are correct to point out that case-by-case is fair. I have, however, re-opened your question. There was another question I re-opened because the user wasn't able to re-post the question due it possibly being a duplicate the system was catching. That was odd, so I let it fly. But wholesale re-opening is not reasonable because things might have changed from when the question was posted and Lion was officially released and we have no way of knowing if the question is even still valid.</p>
			</div>
			<div id = "comment-1067" class = "post">
				<p>I think this is great - vote to reopen the ones that are great on a case by case basis, but don't seek them out or wholesale reopen them all.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>