<html>
	<head>
		<title id = 'pagetitle'>What is rollback?
		</title>
	<head>
	<body id = 'pagebody'><p>I was reading through the badge descriptions and was wondering what the Cleanup badge was for. It says "First rollback", but what does rollback mean here?</p>


<h1>ANSWERS</h1>
		<p>If someone edits one of your questions or answers, and you don't like the changes, you can revert the content to the original.  That.</p>


	</body>
</html>