<html>
	<head>
		<title id = 'pagetitle'>What happens with deleted comments
		</title>
	<head>
	<body id = 'pagebody'><p>Often when I return to a question I find my comment deleted. Yes I know the purpose of the comment field, so no need to lecture me on that.</p>

<p>Most of the time I just think I just forgot (result of getting senile, which is a possibility considering the advanced age), and did not make a comment in first place, but quickly I am coming to a conclusion it was there but it is deleted.</p>

<p>Is there a way to get notified when my comment was deleted. </p>

<p>Is there a common guide when to delete the comments?</p>

<p>Since that can only be done by a moderator it should be easy to be notified and the reason for it, so to improve.</p>

<p>Here is a <a href="https://apple.stackexchange.com/q/179369/46541">sample of most recent comments</a> (none was deleted so far) and yes it contains potential answer. So what is wrong with that if at all?</p>

<p><img src="https://i.stack.imgur.com/UtuJO.jpg" alt="comments"></p>


<h1>ANSWERS</h1>
		<blockquote>
  <p>Yes I know the purpose of the comment field, so no need to lecture me on that.</p>
</blockquote>

<p>I would disagree that this is the case. The question your asking here is proof of that.</p>

<p>Comments are intentionally disposable. From <a href="https://meta.stackexchange.com/questions/19756/how-do-comments-work">How do comments work?</a>:</p>

<blockquote>
  <p>Comments exist so that users can talk about questions and answers
  without posting new answers that do not actually answer their parent
  questions. Comments are often used to ask for clarification on,
  suggest corrections to and provide meta-information about posts.</p>
  
  <p>Comments are intentionally short, having maximum length of 600
  characters, and allow only limited markup. URLs in comments
  automatically become hyperlinks. Each user may post only one comment
  every 15 seconds.</p>
  
  <p>Comments are disposable: unlike posts, there's no revision history,
  and they can be deleted without warning by their authors, by
  moderators, and in response to flags.</p>
</blockquote>

<p>As for why your comments are disappearing, if they weren't deleted by you, they have been flagged by other users or a moderator. Again, from that meta post:</p>

<blockquote>
  <p>Comments that are flagged by multiple users are deleted automatically.
  The number of flags needed is based on the comment's score. It
  currently takes "3 + (Score / 3)" flags to delete a comment.</p>
  
  <p>Moderators can delete any comment, or purge all comments from a post.</p>
</blockquote>

<p>Specifically, from that meta post, I draw your attention to:</p>

<blockquote>
  <p>You should not expect them to be around forever: Once a clarification
  has been made, an edit added to the post to include new information,
  or the issue in the comment is otherwise resolved, it is subject to
  deletion. In reality, many obsolete or chatty comments remain
  untouched due to the high volume of comments posted, but this does not
  mean that they can't or shouldn't be deleted in the future.</p>
</blockquote>

<p>I would characterize your commenting behaviour on the site as being "overly chatty" and thus you see a high number of your comments removed.</p>

<p>In any case, you shouldn't be making comments as a permanent record of anything on Stack Exchange sites. They are to be "used to ask for clarification on, suggest corrections to and provide meta-information about posts" -- not for providing witty remarks, "thank you" type posts or for long-drawn out back-and-forth discussions on questions and answers.</p>


<p>I delete a lot of comments. Usually they are flagged for deletion. There's no way I know to track it. It would help us as well - if we ended up deleting 100 comments from one user where there was a pattern, it would be nice to be able to see that and address it head on and with data as opposed to "human recollection" which can be faulty at best. </p>

<ul>
<li>Let's spin your feature request off as a separate question.</li>
</ul>

<p>As to when I recall deleting comments from you in particular - when you are answering the question in a comment - it often goes, especially if that answer has been provided by you or another. Please don't do that going forward - if you are trying to clarify the question - do that in the comments. If the author needs to troubleshoot or you know how to troubleshoot that - make an answer stating that here's how you would troubleshoot the situation.</p>

<p>Since comments are never meant to last - there's no notification of edits or deletions. There's no wiki revision history. If you are putting information into a comment that merits that level of information - that's a good sign you should be asking on meta or chatting or editing the post or just making an answer.</p>

<p>Without looking into specifics it's hard to know if I'm the deleter or if other moderators are also deleting comments.</p>


<h1>No</h1>

<p>No, there is not a way to get notified when your comment was deleted.</p>

<p>No, there is not a common guide when to delete the comments.</p>

<p>Comments are temporary. They frequently get deleted, and are designed to not endure. If a comment is removed, that dos not necessarily mean you did something wrong (although sometimes it does). Comments are like the grass of the fields. The grass withers, the flowers fade. <em>Sic transit gloria mundi</em>.</p>


<p>So this topic kept nagging me, and I found a solution to have some control over my comments.</p>

<p>->As I was told, they can be deleted by the mods (without clear reasoning).</p>

<p>->As I was told, they can be delete by Flags ? I agree if the comments are worth flagging.</p>

<p>To quote: Comments are temporary. They frequently get deleted, and are designed to not endure.</p>

<p>I found and installed the "Self-destructing comments" made by the creative fellow users  .</p>

<p>What a relief, now I feel like I have some control over how long my comments stay alive, and will help me keeping it clean.</p>

<p>Here is a example how it looks now (note the self destruct)</p>

<p><img src="https://i.stack.imgur.com/68qxZ.jpg" alt="sd"></p>


	</body>
</html>