<html>
	<head>
		<title id = 'pagetitle'>What is the best way to handle this Scam
		</title>
	<head>
	<body id = 'pagebody'><p><img src="https://i.stack.imgur.com/iI4uV.png" alt="scam"></p>

<p>Just Reject, since there is no Delete option ?</p>


<h1>ANSWERS</h1>
		<p>"Reject" means "Delete the edit" in this case, so yes, "Reject" is the right thing to do.</p>


	</body>
</html>