<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What things from WWDC can we ask about here?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2809" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::68</h3>
				<h2>What things from WWDC can we ask about here?</h2>
<p>With the <a href="https://developer.apple.com/wwdc/schedule/#/" rel="nofollow">annual developer conference WWDC</a> starting today for 2016 - Apple is announcing new things. </p>

<p>Where can we ask / talk / learn more about the live stream of WWDC 2016 on Ask Different?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2809">Load Comments</button></br>
			<div id = "commentsection-2809" class = 'collapse'>
			<div id = "comment-6144" class = "comment">
				<p>Possible duplicate of [Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?](http://meta.apple.stackexchange.com/questions/1712/are-ios-10-macos-10-12-watchos-3-or-tvos-10-beta-questions-ok)</p>
			</div>
			<div id = "comment-6145" class = "comment">
				<p>@Mark No - this was a required post to announce chat during WWDC. The linked question is specifically about asking a main site question. This is about use of chat rooms for gathering and discussing a live stream.</p>
			</div>
			</div>
				<textarea id = "speech-2809" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2809">
					<img id="start_img-2809" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2810"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Anything that isn't covered by the NDA, that's public knowledge, can be asked about on Ask Different.</p>

<p><a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">Ask Different Chat</a> is available for things that don't work as practical questions. Chat is also the best place to discuss the live stream since that part of community doesn't work well as practical Q/A on the main site.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2810">Load Comments</button></br>
			<div id = "commentsection-2810" class = 'collapse'>
			<div id = "comment-6138" class = "comment">
				<p>Note that many people who have agreed to the NDA believe they can't respond and so the knowledge of the answers will be less than usual</p>
			</div>
			</div>
				<textarea id = "speech-2810" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2810">
					<img id="start_img-2810" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2811"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>However is it worth answering anything here. In general we don't know at it is liable to change. </p>

<p>It would be much easier to simply say we don't know and close it.</p>

<p>e.g this <a href="https://apple.stackexchange.com/questions/242601/cannot-use-icloud-photo-library-wrong-disk-format">question</a> and we get comments that are based on partial information</p>

<p>It is just wasting time to read let alone answer.</p>

<p>Also in a beta expect to have to reformat your disk. If you have to ask how to get data back you should not run a beta. So really any more questions on this is lack of research which is a reason to down vote</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2811" class = 'collapse'>
			</div>
				<textarea id = "speech-2811" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2811">
					<img id="start_img-2811" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>