<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What are the dotted lines in between chat messages?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1212" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::87</h3>
				<h2>What are the dotted lines in between chat messages?</h2>
<p>I was chatting earlier and noticed dotted lines in between chat messages:
<img src="https://i.stack.imgur.com/vuYI7.png" alt="Lines in chat"><br>
What do they do?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2214" class = "comment">
				<p>http://meta.stackexchange.com/questions/109251/what-is-the-meaning-of-the-catchup-marker-in-chat</p>
			</div>
			<div id = "comment-2222" class = "comment">
				<p>@balpha Thanks!!</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1214"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>They appear when that chatroom screen has lost focus at the last message you read before going to another program or chatroom.  When you come back, the line shows you where you left off reading so you don't have to figure out what was said while you were doing something else.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2221" class = "comment">
				<p>Ah. Thanks so much!</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>