<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What happened to ' not about Apple hardware or software' as a Close reason?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2544" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::89</h3>
				<h2>What happened to ' not about Apple hardware or software' as a Close reason?</h2>
<p>Question pretty much says it all - I was sure there used to be a close reason of 'not about Apple hardware or software'</p>

<p>Am I going completely barmy, or did it vanish in the recent rejig, same time as 'Basic Support' was added to the list?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2545"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>We can only have 4 close reason choices and we opted to drop that one in favour the new customer support reason. You can still use "Other..." I believe and enter the text there.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5752" class = "comment">
				<p>ah - didn't know there were only 4 possibles. Makes sense,... & yes, I just did type one in 'other' which was what prompted me to ask. Thanks.</p>
			</div>
			<div id = "comment-5753" class = "comment">
				<p>Actually - if we had 5 reasons, the 5th ought to be "If you didn't have backup, tough!"</p>
			</div>
			<div id = "comment-5754" class = "comment">
				<p>@Tetsujin If you wish to use the exact original text of the prior close reason in the custom field, it was `Questions about **non-Apple computing hardware and software** are off-topic here, but can be asked on [Super User](http://superuser.com/about).` This custom close reason was deactivated on 2014-01-12.</p>
			</div>
			<div id = "comment-5771" class = "comment">
				<p>Stack Overflow has 5 + belongs on another site + Other</p>
			</div>
			<div id = "comment-5772" class = "comment">
				<p>Where is the meta question/discussion  on the new reason?</p>
			</div>
			<div id = "comment-5779" class = "comment">
				<p>There was no meta discussion IIRC. It was a moderator-led decision.</p>
			</div>
			<div id = "comment-6098" class = "comment">
				<p>@IanC.We only have 3 close reasons + Other - Other sites e.g. SuperUser have 4 + Other.. Did someone miscount or has the list changed?</p>
			</div>
			<br><div id = "ans-2549"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Also. Too broad or unclear often apply when someone asks what seems to be a PC or android question. Once you close it as unclear, it can quickly be deleted or edited if there is some relation to Apple products. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>