<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What's the point of voting to delete?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What's the point of voting to delete?</h2>
<p>I've just reached 20k and got the ability to <a href="https://apple.stackexchange.com/help/privileges/trusted-user">vote to delete posts that are -1 or below</a>.<br>
I don't understand the purpose of this, or how I should be using it.</p>

<p>Currently, when I see an answer by a new user that is NAA, I flag as such and add a comment explaining where they've gone wrong and what they should do instead. Then, once a moderator comes along, the flag is seen and the answer is deleted.</p>

<p>Now, according to the privileges page, I should vote to delete when </p>

<blockquote>
  <p>The answer doesn't attempt to answer the question; it may be a comment or a separate question altogether.</p>
</blockquote>

<p>Therefore, as far as I know, I should be voting to delete such answers, which is fine. However, this means I have to downvote the answer   should I be doing this? I haven't been doing this before for new users' NAAs as I thought it'd put them off participating further, yet voting to delete requires the answer must be downvoted.</p>

<p>Also, should I be voting to delete <em>instead</em> of flagging as NAA, or <em>as well as</em>? Flags go into the flag queue which are immediately noticeable on the top bar, yet voting to delete goes to a relatively hidden part of the 10k tools. Do   moderators see delete votes differently to how the 10k tools hides them?</p>

<p><strong>Finally, taking a step back, what's the point of all this?</strong> There are currently 4 other users with 20k, one of which has binding votes anyway. It takes 3 delete votes to delete an answer, therefore it needs 3 of us to be online at some point, open the 10k tools, go to the pending deletion votes and take action, or <a href="https://apple.stackexchange.com/review/low-quality-posts/stats">be active in the Low Quality Post review queue</a> all before one of the many excellent timely moderators swoops in and kills the post anyway.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I'll try to address what I see as the main thrust is that the Stack Exchange idea is that the community and not elected moderators should be able to handle the majority of the moderation.</p>

<p>Yes, the site had a period where we didn't have enough users to vote to close without a binding vote by a moderator (elected or employee). Now we're at the stage where that happens without a moderator needing to act. As the high rep user base grows, the deletion will also follow to be something that can happen without needing a flag or a moderator to cast a binding vote.</p>

<p>Looking at forest and not the trees - delete content that is so bad that you feel no normal user should even have to see it.</p>

<p>Posts that should be deletes are where the only content is:</p>

<ul>
<li>offensive (racist, homophobic, juvenile, curse)</li>
<li>in no way on topic (astrology adverts, soccer match, handbag sales, etc...)</li>
<li>completely redundant and inferior to an existing answer/post</li>
</ul>

<p>If you can remove the problem parts of a post by editing, that is the way to go and not deletion. Also, since the deletion tools put the items in the delete queue, it's probably better for you to use that instead of flagging since we know a high rep user can only cast a delete vote, but when we're processing NAA queues, it's more mixed in with anything that could be flagged.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>If you vote to delete at 20k, I think it just deletes it as if you were a Mod (is this right?).  In my mind there is no need to down vote if you are deleting, but I would always comment why you are deleting, and where possible use a generic templates response that shows the OP what happened without it looking like you got personal.  Here's my default response, which OSX and iOS expands when I type "<em>rnaa</em>":</p>

<p><em>Hi, I removed this as it is not an answer to the question. Answers that are discussion/commentary/another question/me too/thanks etc are against the sites posting policy in order to maintain a focus on high quality answers.</em></p>

<p>Others use similar versions (If your vote isn't immediately binding, I could have that wrong, then adjust your language accordingly), it doesn't matter what but do try to include something to let the OP know.  Some of us tailor the response, but I find that can result in discussion, so I leave if for them to work out what's wrong with it - self education generally works better ;) :</p>

<p>"<em>Your post is another question</em>"</p>

<p>"<strong>No it isn't, it's just asking for clarification because my X is similar to his Y</strong>"</p>

<p>If you use this, don't double mod the post by flagging too.  This is flagging of a sort, just specialised.</p>

<p>As to the point?  Well, often the other sites that have a more rigorous Mod team involvement leave this sort of stuff to the high rep non mods to sort out, and only step in for the more serious offenders, luckily we don't really have any issues or at least enough of them often enough to make the Mods need to ring fence their time to operate on the worst cases, so we often dip into the normal review queues and hit stuff with the mod hammer before waiting for user vote accumulation, which as you say may take a while because we are also historically a low voting and hence low rep site.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>