<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is the `x2` or `x3` next to a tag in my profile?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What is the `x2` or `x3` next to a tag in my profile?</h2>
<p><img src="https://i.stack.imgur.com/MJ7zm.png" alt="enter image description here"></p>

<p>Or, I guess, what is the difference between that and the number before the tag?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The number to the right of the tag is <strong>the number of times you've posted with that tag</strong>   questions with that tag and answers on questions with that tag. Similarly (yet substantially different) is the number on the left: the sum of votes received on the posts.</p>

<hr>

<p>For example, here is one of the tags from my user page:</p>

<p><img src="https://i.stack.imgur.com/Dcsnv.png" width="129"></p>

<p>The right number is calculated based on the total number of interactions I've had with the tag. In the example above, I have asked <a href="https://apple.stackexchange.com/search?q=user%3A37797+%5Bosx%5D+is%3Aquestion">5 questions tagged with osx</a> and <a href="https://apple.stackexchange.com/search?q=user%3A37797+%5Bosx%5D+is%3Aanswer">178 answers to questions tagged with osx</a>. Therefore, I have interacted with the osx tag 183 times, hence the number shown on the right.</p>

<p>The number on the left is the sum of the votes that I have received for my posts. In the example above, <a href="https://apple.stackexchange.com/search?q=user%3A37797+%5Bosx%5D+is%3Aquestion+score%3A1">4 questions have accumulated 12 votes</a> and <a href="https://apple.stackexchange.com/search?q=user%3A37797+%5Bosx%5D+is%3Aanswer+score%3A1">134 answers have accumulated 301 votes</a>. Therefore, my total score for the osx tag is 313, hence the number shown on the left.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>The <code>x</code> is how many times you have used or interacted that tag. Let's say i use the tag <code>recovery</code> like 5 times. It would say <code>recovery x5</code>.</p>

<hr>

<p><img src="https://i.stack.imgur.com/aqY7K.jpg" alt="enter image description here"></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>