<html>
	<head>
		<title id = 'pagetitle'>What is required to approve suggested edits?
		</title>
	<head>
	<body id = 'pagebody'><p>Once upon a time, I thought I could approve edits.</p>

<p>Now I get this:</p>

<blockquote>
  <p>This suggestion still needs 1 approve vote from other reviewers. Close this popup (or hit Esc) to continue.</p>
</blockquote>

<p>Did something change (and I missed the memo) or am I just mistaking?</p>


<h1>ANSWERS</h1>
		<p>You've never been able to single-handedly approve suggested edits (except on your posts).</p>

<p>Suggested edits require two approve or reject votes before being committed. If you are the first reviewer (or second if you disagreed with the first) then another review vote is still required.</p>

<p>With regard to <a href="https://apple.stackexchange.com/review/suggested-edits/101814">your last review</a>, you were the first to approve it and you couldn't have approved it solely yourself as it wasn't suggested on one of your posts. Therefore it required a second person to approve it for it to be approved, which is what occurred.</p>

<p>This isn't the first time you've approved something first; <a href="https://apple.stackexchange.com/review/suggested-edits/38462">this one was approved</a> first by you then by me. In the same vein, <a href="https://apple.stackexchange.com/review/suggested-edits/51182">you rejected this one</a> first, but it wasn't rejected until the second person rejected it.</p>

<p>For more information on suggested edits, see:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/76251">How do suggested edits work?</a></li>
</ul>


	</body>
</html>