<html>
	<head>
		<title id = 'pagetitle'>What exactly is "change" in the rep leagues?
		</title>
	<head>
	<body id = 'pagebody'><p>As seen in this screenshot:</p>

<p><a href="https://i.stack.imgur.com/o8USA.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/o8USA.png" alt=""></a></p>

<p>I have more "change" than I have "total reputation". What is this "change", and why is it so much higher than my total reputation?</p>


<h1>ANSWERS</h1>
		<p>This is your change in rank, not in reputation. </p>

<p>You can confirm this by changing the Sort Order to by Rank Change and seeing that number is the one in order.</p>


	</body>
</html>