<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>What are the rules~time-limits to adding a bounty to your question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-754" class = "post">
			<h2>Question</h2>
			<div id="vote-754" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 36</p>
			</div>
				<h2>What are the rules~time-limits to adding a bounty to your question?</h2>
<p>How long do I have to wait before the "Start bounty" button appears on one of my questions? I have a question that hasn't been answered yet and I would like to put a bounty on it, but the button hasn't shown up yet? Are there other rules that apply to when the bounty button appears?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-754" class = 'collapse'>
			</div>
				<textarea id = "speech-754" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-754">
					<img id="start_img-754" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-755"  class = "post">
				<h2>Answer</h2>
			<div id="vote-755" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From <a href="https://apple.stackexchange.com/faq#bounty">the FAQ</a>:</p>

<blockquote>
  <p>There are a few other rules around bounties:</p>
  
  <ul>
  <li>Questions must be at least 2 days old to be eligible for a bounty.</li>
  <li>Users must have at least 75 reputation to offer a bounty.</li>
  <li><strong>There can only be 1 active bounty</strong> per question and <strong>per user</strong> at any given time.</li>
  <li>Once initiated, the bounty period lasts 7 days.</li>
  <li>After starting a bounty, you must wait 1 day before awarding it.</li>
  <li>If you do not award your bounty within 7 days, the highest voted answer created after the bounty started with at least 2 upvotes will be awarded half the bounty amount.</li>
  </ul>
</blockquote>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-755">Load Comments</button></br>
			<div id = "commentsection-755" class = 'collapse'>
			<div id = "comment-1377" class = "comment">
				<p>Thanks, but my question is older than 2 days, and there's no button to add bounty to it.</p>
			</div>
			<div id = "comment-1378" class = "comment">
				<p>@daviesgeek which question is it?</p>
			</div>
			<div id = "comment-1379" class = "comment">
				<p>http://apple.stackexchange.com/questions/22625/problem-with-keyframing-in-final-cut-express-4</p>
			</div>
			<div id = "comment-1380" class = "comment">
				<p>@daviesgeek ah, you can only have 1 bounty at a time http://apple.stackexchange.com/users/7833/daviesgeek?tab=bounties</p>
			</div>
			<div id = "comment-1381" class = "comment">
				<p>Thanks! I was wondering what was happening there! Can you add that to your answer please?</p>
			</div>
			<div id = "comment-1382" class = "comment">
				<p>@daviesgeek Well it was in the list, but I've edited to change the highlighting</p>
			</div>
			</div>
				<textarea id = "speech-755" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-755">
					<img id="start_img-755" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-785"  class = "post">
				<h2>Answer</h2>
			<div id="vote-785" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Adding to what reported by Kyle Cronin, <a href="https://meta.stackexchange.com/questions/54315/why-cant-a-user-have-simultaneous-bounties-any-more/104813#104813">users can now have a maximum of 3 active bounties</a> at any given time. There still the limit of one bounty per question, but you can have three bounties on three different questions, where nobody else offered a bounty already.</p>

<p>The <a href="https://apple.stackexchange.com/faq#bounty">FAQ</a> has been changed to reflect this.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-785" class = 'collapse'>
			</div>
				<textarea id = "speech-785" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-785">
					<img id="start_img-785" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>