<html>
	<head>
		<title id = 'pagetitle'>What is the correct response to cross-posted questions?
		</title>
	<head>
	<body id = 'pagebody'><p>I occasionally see questions that have been cross-posted. For example, <a href="https://apple.stackexchange.com/questions/135259/disable-discrete-gpu-in-single-user-mode-install-partition">this question</a> was <a href="https://superuser.com/questions/769826/disable-discrete-gpu-in-single-user-mode-osx-10-10-install-partition">also posted on SU</a> at approximately the same time.</p>

<p>In the past, I usually flag such cross-posts with a custom reason, but is this the best way to deal with it? Recently, I've been adding comments to the effect of </p>

<blockquote>
  <p>Please don't cross post :) If you don't get the response desired from [xpost], request a moderator migrate it rather than reposting the question yourself.</p>
</blockquote>

<p>How should cross posts be dealt with?</p>


<h1>ANSWERS</h1>
		<p>In general commenting and flagging are both valid options in these situations.</p>


	</body>
</html>