<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>What is the difference between "Ask Different" and "SuperUser" Stackexchange sites?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1425" class = "post">
			<h2>Question</h2>
			<div id="vote-1425" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between "Ask Different" and "SuperUser" Stackexchange sites?</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/859/when-should-i-ask-here-and-when-should-i-ask-at-super-user">When should I ask here, and when should I ask at Super User?</a>  </p>
</blockquote>



<p>I see questions pertaining to Apple environments where they questioner is being told to ask in Superuser. Which questions go where? I tried to find guidance on this in the About page, but could not find it.</p>

<p>Superuser is defined as "for computer enthusiasts". Ask Different is for "apple hardware and software."</p>

<p>What about shell commands? That seems to me it fulfills both definitions. </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1425">Load Comments</button></br>
			<div id = "commentsection-1425" class = 'collapse'>
			<div id = "comment-2711" class = "comment">
				<p>If you want to link to specific advice or questions - we can address them as well, but I'll give you an overview answer that covers the basics.</p>
			</div>
			</div>
				<textarea id = "speech-1425" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1425">
					<img id="start_img-1425" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1426"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1426" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are absolutely correct that there is significant overlap between sites.</p>

<p>We share a large coverage overlap between:</p>

<ul>
<li>Stack Overflow (for the programming questions we do entertain as well as using developer tools, shell scripting, open source)</li>
<li>Server Fault (for the server side of things)</li>
<li>Super User (for all the computer topics that are on topic here)</li>
<li>Arquade (for questions about Mac games)</li>
<li>Unix, Security, DBA to a lesser extent...</li>
</ul>

<p>When there is overlap, we simply ask you pick one site to ask your question and be patient if it doesn't get an immediate answer. If you have promoted the question on site A and want to flag it for migration to site B - that is always considered when there is a good reason to move it (unanswered - clearly asked when not aware of another site where there may be more expertise on the specific question). It's more about the unique community that each site has developed that makes the difference where someone might ask a question that is on topic in several sites.</p>

<p>As to specific differences between Ask Different and Super User - the latter is objectively larger, higher traffic and more mature (older). It clearly doesn't want any questions on devices like the iPad, iOS, iPhone, Android, Windows Phone - so a site like this is better when you're looking for that audience. Also hanging out in the chat rooms of both sites will quickly let you gauge the feeling of both communities.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1426">Load Comments</button></br>
			<div id = "commentsection-1426" class = 'collapse'>
			<div id = "comment-2712" class = "comment">
				<p>While I can understand the concepts of some overlap but some differences, I don't understand how it seems that people get a spanking for choosing the wrong site. Especially if the question seems that it is in the overlap.</p>
			</div>
			<div id = "comment-2713" class = "comment">
				<p>There shouldn't be any contention - ideally. Also - it's up to the asker to pick the site - not the potential answerers. Feel free to flag anything to get a moderator attention on either site if you see spanking - there are edit buttons we're happy to wield if someone strayed to the other side of the "niceness" line.</p>
			</div>
			<div id = "comment-2715" class = "comment">
				<p>Good to know. The "spank" factor has put me off somewhat. In the future, should it occur in what appears to me to be unjust, I will avail myself of the moderators.</p>
			</div>
			</div>
				<textarea id = "speech-1426" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1426">
					<img id="start_img-1426" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>