<html>
	<head>
		<title id = 'pagetitle'>What's up with the red on green bubbles?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm not colorblind, but these bubbles from the reputation summary / recent changes page are really pushing the envelope into "fugly". Could someone here have a word with the designers and see if they meant to enact this change?</p>

<p>Even yellow/purple or orange/blue is better for people that are colorblind if you really want to use contrasting / opposing colors for this...</p>

<p><img src="https://i.stack.imgur.com/5Csqc.png" alt="red on green "></p>


<h1>ANSWERS</h1>
		<p>This was my fault for assuming the text was white already on the other SE sites when adding this styling.  <a href="https://apple.meta.stackexchange.com/users/6/jin">Jin</a> pushed a CSS update so that the text on these <em>is</em> now white everywhere, it should look much better now.</p>

<p>Edit - it looks MUCH better - so happy it was an oops (and a minor one at that.) Speedy fix FTW.
<img src="https://i.stack.imgur.com/UDgNb.png" alt="enter image description here"></p>


	</body>
</html>