<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is the difference between "Ask Different" and "SuperUser" Stackexchange sites?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What is the difference between "Ask Different" and "SuperUser" Stackexchange sites?</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/859/when-should-i-ask-here-and-when-should-i-ask-at-super-user">When should I ask here, and when should I ask at Super User?</a>  </p>
</blockquote>



<p>I see questions pertaining to Apple environments where they questioner is being told to ask in Superuser. Which questions go where? I tried to find guidance on this in the About page, but could not find it.</p>

<p>Superuser is defined as "for computer enthusiasts". Ask Different is for "apple hardware and software."</p>

<p>What about shell commands? That seems to me it fulfills both definitions. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You are absolutely correct that there is significant overlap between sites.</p>

<p>We share a large coverage overlap between:</p>

<ul>
<li>Stack Overflow (for the programming questions we do entertain as well as using developer tools, shell scripting, open source)</li>
<li>Server Fault (for the server side of things)</li>
<li>Super User (for all the computer topics that are on topic here)</li>
<li>Arquade (for questions about Mac games)</li>
<li>Unix, Security, DBA to a lesser extent...</li>
</ul>

<p>When there is overlap, we simply ask you pick one site to ask your question and be patient if it doesn't get an immediate answer. If you have promoted the question on site A and want to flag it for migration to site B - that is always considered when there is a good reason to move it (unanswered - clearly asked when not aware of another site where there may be more expertise on the specific question). It's more about the unique community that each site has developed that makes the difference where someone might ask a question that is on topic in several sites.</p>

<p>As to specific differences between Ask Different and Super User - the latter is objectively larger, higher traffic and more mature (older). It clearly doesn't want any questions on devices like the iPad, iOS, iPhone, Android, Windows Phone - so a site like this is better when you're looking for that audience. Also hanging out in the chat rooms of both sites will quickly let you gauge the feeling of both communities.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>