<html>
	<head>
		<title id = 'pagetitle'>What do I do if I have a series of smaller questions?
		</title>
	<head>
	<body id = 'pagebody'><p>Let's say that for instance I have a series of very short questions with an average of 5-10 words each. Do I normally ask a question for every? Or can I ask small questions in one question? Or should I perhaps ask little questions in comments on a question with relevance to the short question I ask in the comments?</p>


<h1>ANSWERS</h1>
		<p>I doubt very much that an entire question can be sufficiently detailed in 5 to 10 words. Make sure you describe the question fully and accurately, describing exactly what the problem is and what you wish the intended outcome to be. Feel free to ask for help with describing a specific problem on meta or in chat before asking the question.</p>

<p>Speaking of chat, if your question is informal and brief, and an answer would also be so, it might be good to ask in chat.</p>

<p>Questions which ask too many questions in a single question will be closed as too broad or edited to remove extra questions. You should always have one question per each question as this allows for searching and comprehension whereby each answer answers the entire question fully, rather than one answer answering half of a question and another answering the other half.</p>


<p>Great question - Lets pick apart just one of the short questions. Some short questions are so clear and so useful that they work excellently. Could you ask a second question here on meta with the exact wording of one of these "short questions" if my general help below isn't useful to your needs.</p>

<p>Most often, questions that short need to be put on hold for details to be added.  Look at the [help] center and specifically <a href="https://apple.stackexchange.com/help/how-to-ask">How to ask</a> for detailed guidance on what makes a good question and why 5 word ones usually fail to show enough research and detail to be good as a class.</p>


	</body>
</html>