<html>
	<head>
		<title id = 'pagetitle'>What tag should I use for a question about the original iPhone?
		</title>
	<head>
	<body id = 'pagebody'><p>There are specific tags for iPhone 4, iPhone 3gs, iPhone 3g, but why not the original iPhone? </p>


<h1>ANSWERS</h1>
		<p>Just use the <kbd>iphone</kbd> tag, but make sure to indicate in the title and body of your question that you have a first generation/"original" iPhone.</p>


	</body>
</html>