<html>
	<head>
		<title id = 'pagetitle'>What are the little questions~comments that I see attached to some questions and answers?
		</title>
	<head>
	<body id = 'pagebody'><p><img src="https://i.stack.imgur.com/KfG9l.png" alt="enter image description here"></p>

<p>It seems to be a basic StackExchange feature that I just can't understand.  I feel I am being bone-headed in some way.  I have looked through the help, and tried clicking everyting I can find in the browser.  </p>

<p>I don't know what they are called, and I wonder how they are made.</p>


<h1>ANSWERS</h1>
		<p>The answer is more hidden than it should be. You aren't being bone-headed.</p>

<p>They're called comments. Once you earn <a href="https://apple.stackexchange.com/privileges/comment">50 reputation points</a> you gain the ability to write them.</p>

<p>You can't find the link to do it yet because you haven't accumulated sufficient reputation points on this site, but once you do, you'll find them much less confusing!</p>


	</body>
</html>