<html>
	<head>
		<title id = 'pagetitle'>What's wrong with a question asking for alternatives to Adobe CS in the cloud?
		</title>
	<head>
	<body id = 'pagebody'><p>A question very similar to others was asked and is already getting some flags, so I wanted to have a short discussion here to discuss the merits of re-opening this question:</p>

<p><a href="https://apple.stackexchange.com/questions/90768/adobe-creative-cloud-mac-app-alternatives">Adobe Creative Cloud: Mac App Alternatives?</a></p>

<p>As a moderator, I closed it since it:</p>

<ol>
<li>Appears to be not focused on a practical problem - instead it's asking for lots of opinions and value decision trade offs</li>
<li>Is very broad. Adobe has 12 products in CS 6, 4 major bundles of each product, some products have a Pro and non-Pro version, and the pricing is all over the board. Student, Educator, Pro, Volume. Even if you asked which of these you should buy is a major decision and possibly too broad unless the person asking has done some serious work to explain what they need.</li>
<li>As asked, people looking for specific recommendations for the lesser products won't find this question or any gem answers that are provided. <em>(look at the last 5 pages of some of the other popular wiki questions on the site. There are great answers that came late and never will get any votes since no one can find them. By asking smaller questions, these great answers get the attention they deserve to rise and be seen whereas one monster question drowns out all answers that fall off the first page and start out below the fold)</em></li>
</ol>

<p>I see it better for the site to have several questions asking specific questions, but also realize that many like these questions so I wanted to hear from both sides rather than handle flags and votes one off on the main site.</p>


<h1>ANSWERS</h1>
		<p>I would tend to agree that you are entering into two issues allowing this question:</p>

<ol>
<li>Very broad. There are over a dozen (I think?) apps in Creative Cloud.</li>
<li>Opinion based. Let's not start a flame war reminiscent of the EMACS wars of the 90's on Usenet.</li>
</ol>

<p>I can certainly see a place for recommendations for alternatives. Especially for people who have used both and can say what one does that the other does not.</p>

<p>But again you run the risk of having moderators spend a lot of time either editing responses to take out the opinion or just killing answers left and right.</p>

<p>It's a slippery slope and not one I feel comfortable saying <em>"This is how it should be."</em></p>


	</body>
</html>