<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What tag should I use for a question about the original iPhone?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-503" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::69</h3>
				<h2>What tag should I use for a question about the original iPhone?</h2>
<p>There are specific tags for iPhone 4, iPhone 3gs, iPhone 3g, but why not the original iPhone? </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-925" class = "post">
				<p>Perhaps because the original iPhone was simply called the "iPhone"? I suppose an [iphone-2g] tag could be used if it must be explicitly defined.</p>
			</div>
			<div id = "comment-926" class = "post">
				<p>I did end up using the iphone tag, but I observed it is also used on many iphone questions that are not regarding the original iphone.  It feels more like an "any kind of iphone" tag as opposed to an "original v1 iphone" tag.  And since the procedures and software used for popular tasks like jailbreaking are different and have different limitations on the original iphone, it would seem to merit its own tag</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-504"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>Just use the <kbd>iphone</kbd> tag, but make sure to indicate in the title and body of your question that you have a first generation/"original" iPhone.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>