<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What's up with the 5 minute limit on editing a comment?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2985" class = "post">
			<h2>Question</h2>
			<div id="vote-2985" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 30</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What's up with the 5 minute limit on editing a comment?</h2>
<p>It is discouraging to type all your work in the comment field, and then have it time out.  It legitimately took me that long because I was doing some research.  </p>

<p>There's no timer or progress bar, so you don't know there's a limit until you're over it. </p>

<p>I understand the need for some sort of timeout, but could it please be a bit longer?  I imagine 5 minutes is difficult for disabled people who have trouble typing rapidly. </p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2985" class = 'collapse'>
			</div>
				<textarea id = "speech-2985" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2985">
					<img id="start_img-2985" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2985">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2986"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2986" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you really need more than 5 minutes to edit a comment, delete the comment and comment again. The limit is there to prevent people rewriting history, by altering a comment which has already been replied to or to which other action has been taken because of it. The 5 minute limit matches the grace period for post edits that don't cause a revision.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2986">Load Comments</button></br>
			<div id = "commentsection-2986" class = 'collapse'>
			<div id = "comment-6474" class = "comment">
				<p>In fact, I used the workaround you suggest. And the text I had typed was still available to copy and paste. So it's not fatal if you think of that -- just annoying.</p>
			</div>
			</div>
				<textarea id = "speech-2986" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2986">
					<img id="start_img-2986" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2986">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>