<html>
	<head>
		<title id = 'pagetitle'>What is the Ask Different etiquette for down-voting new users?
		</title>
	<head>
	<body id = 'pagebody'><p>On the large Stack Exchange sites there is frequent discussion about the importance of explaining down-votes (e.g. <a href="https://meta.stackoverflow.com/q/250177/575530">this question on Stack Overflow meta</a> or <a href="https://meta.stackexchange.com/q/135/178985">this Meta Stack Exchange question</a>).</p>

<p>What is the tone here?</p>

<p>I was really surprised to find that <a href="https://apple.stackexchange.com/q/214340/142445">this first question</a> by a user new to the entire Stack Exchange network was down-voted twice with no explanation.</p>


<h1>ANSWERS</h1>
		<p>As on any other SE site, comments to explain down votes are not mandatory. And the two discussions you've linked (as well as several others on various meta sites) list both the pros and cons of enforcing, encouraging or nudging users to comment in case of down votes. That's why users with rep below 2k get displayed a nudge/short note when down voting (which still doesn't make it mandatory though).</p>

<p>OTOH I agree that users would benefit from having down votes explained (in a fashion helping them to improve their posts). But that's up to the individual applying the down vote.</p>

<p>Also - remember that votes are designed to be issued against posts and without regard to the user - so if you can focus on the content of the post and improve it or be kind - that works best for the site and especially so when the poster is a new user.</p>


	</body>
</html>