<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What is "the OP"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-747" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::113</h3>
				<h2>What is "the OP"?</h2>
<p>I've heard "OP" used on several SE sites. I <strong>think</strong> it refers to the person asking the question. Is that right? Where do those abbreviations come from? Is there a specific FAQ type page that contains a list of these abbreviations?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-749"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p><a href="http://en.wikipedia.org/wiki/Internet_forum#Thread" rel="nofollow">http://en.wikipedia.org/wiki/Internet_forum#Thread</a></p>

<blockquote>
  <p>A thread (sometimes called a topic) is a collection of posts, usually displayed from oldest to latest, although this is typically configurable: options for newest to oldest and for a threaded view (a tree-like view applying logical reply structure before chronological order) can be available. <strong>A thread is defined by a title, an additional description that may summarize the intended discussion, and an opening or original post (common abbreviation OP, which can also mean original poster) which opens whatever dialogue or makes whatever announcement the poster wished.</strong> A thread can contain any number of posts, including multiple posts from the same members, even if they are one after the other.</p>
</blockquote>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1370" class = "comment">
				<p>So...are there other abbreviations?</p>
			</div>
			<div id = "comment-1372" class = "comment">
				<p>Per the quote, OP carries a contextually-driven meaning. It can mean the Original Post (most common, IMO), and Original Poster, referencing the user specifically. I can't think of any other abbreviations at this moments, but there are many more relational terms, such as;

The parent (the commenter/poster one level above), grand-parent (two levels above), and occasionally but not-often, sister/brother/sibling. Note that most of these relationship terms are only used on sites that have threaded comments such as Slashdot, Reddit, and some blog systems. Not so much SE.</p>
			</div>
			<div id = "comment-1389" class = "comment">
				<p>A somewhat less common but perhaps more clear term would be TC, for thread/topic creator. It removes the ambiguity of referring to the post or poster, but at least as far as SE is concerned, OP seems to be the more widely used term.</p>
			</div>
			<div id = "comment-2136" class = "comment">
				<p>Just for comparison, I ve been using OP to mean Original Poster since around 1995 and I never noticed anyone use it to mean Original Post, specifically, but in many cases it works either way, so I wouldn t know if I interpreted it differently from the author.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>