<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What do I do if I want to have a discussion with the community?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What do I do if I want to have a discussion with the community?</h2>
<p>I want to have a discussion with the community, but I believe that is not allowed. </p>

<p>Please don t say I would have to go somewhere else, as I believe the StackExchange community is more refined. Also don t say chat, not many people come there.</p>

<p>How do I have a discussion?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Stack Exchange-proper is not a discussion forum. The design, flow, and purpose behind the site actively dissuades from having extended discussions. You have sufficient rep to join <a href="http://chat.stackexchange.com">any public chat room</a>.</p>

<p>Yes, chat is often quiet. You're also at a disadvantage as a result of living outside of the US. Stack Exchange is English/US-Centric (with exceptions), and chat very heavily reflects this.</p>

<p>Much of the general reason that chat is quite is because there isn't any meaningful subject of conversation taking place. If we have a reason to talk/answer, we often do. Having said that, it's somewhat of a surprise that the iPhone 5/iOS 6 bump has only barely re-invigorated the chat room. I'm sure that will change as soon as they're released and in people's hands.</p>

<p>We can't promise an answer, but also know chat is asynchronous and well integrated. If you say something when people aren't around, and someone replies to you when they come back to the chat room, you will be notified via your inbox in the top left hand side of nearly all Stack Exchange network pages.</p>

<p>Chat can be asynchronous, and with it's reply tracking you can usually catch up on a conversation and context without too much difficulty.</p>

<p><a href="http://chat.stackexchange.com">Chat</a> is the best answer you're going to get on this network. <a href="http://chat.stackexchange.com">Chat</a> facilitates what it's name suggests. It was created and hosted in the SE network for exactly this reason.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>