<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What to do with a bounty when the problem is solved but not by one of the given answers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1032" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::39</h3>
				<h2>What to do with a bounty when the problem is solved but not by one of the given answers?</h2>
<p>I've got a bounty on <a href="https://apple.stackexchange.com/questions/34552/why-doesnt-airport-reconnect-after-sleep-or-shutdown">this question</a> that I used to draw additional attention to it.  I've since solved the issue, but the solution wasn't one of the given answers.  What should I do with the bounty?  Let it expire?  Answer my own question and give myself the bounty (which I assume would result in no net change in my rep)?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1032" class = 'collapse'>
			</div>
				<textarea id = "speech-1032" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1032">
					<img id="start_img-1032" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1034"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>The bounty should not be a factor in providing a reasonable answer, and as per the Meta question just raised about answering your own questions, feel free to add your own and if you feel it is substantively better than those offered by other users, then also feel free to accept it.  It's not as though you are in some way gaming the system, you won't be any better off than if you never asked it.</p>

<p>Think of the three separate ideas:</p>

<ol>
<li>You spent bounty to have the question featured - plain and simple. If, and, or when it gets answered is detached from the actual payment of bounty. You are paying to be featured and that is all.</li>
<li>You should always answer to your best ability if you have a good answer. That way people can edit, see, learn and perhaps come up with an even better answer once they see yours (especially if they didn't understand he question fully until they see your answer).</li>
<li>In the end - award the bounty as you see fit. That question will be marked as bounty and as long as someone else answered, they will get the credit as a thanks.</li>
</ol>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1034">Load Comments</button></br>
			<div id = "commentsection-1034" class = 'collapse'>
			<div id = "comment-1914" class = "comment">
				<p>I don't remember typing the last half of that, but I agree ;)</p>
			</div>
			</div>
				<textarea id = "speech-1034" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1034">
					<img id="start_img-1034" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>