<html>
	<head>
		<title id = 'pagetitle'>What does the logo for AskDifferent and the symbol for command stand for?
		</title>
	<head>
	<body id = 'pagebody'><p>Is it a flower? Indian symbol? I know that Jobs was a hippie in the 70s so maybe it comes from that times. Don't get me wrong, to me it looks like a svastika on steroids. But I am looking forward for some official meaning from you guys.</p>


<h1>ANSWERS</h1>
		<p>Its origin is the Saint John's Arms (or the Bowen knot) has been used throughout history in many Scandinavian countries. In Sweden it is used on maps to denote special places of interest.</p>

<p>When working on the Macintosh, Steve Jobs wasn't happy with using the Apple logo throughout the UI to indicate modifier keys, so the team around Andy Hertzfeld and Susan Kare came up with this. You can read this story here: <a href="http://www.folklore.org/StoryView.py?project=Macintosh&amp;story=Swedish_Campground.txt" rel="nofollow">Swedish Campground</a> or in more detail on <a href="http://en.wikipedia.org/wiki/Command_key" rel="nofollow">Wikipedia</a>.</p>


	</body>
</html>