<html>
	<head>
		<title id = 'pagetitle'>What does the Gold Badge next to a name on a duplicate post notice mean?
		</title>
	<head>
	<body id = 'pagebody'><p>Recently, I found this when I was editing:
<img src="https://i.stack.imgur.com/FEPAt.jpg" alt="marked as duplicate by grgarside">
What does the gold circle in the shape of a badge mean? Gold Badges don't appear on all marked as duplicate post notices.</p>


<h1>ANSWERS</h1>
		<p>It is a tag badge. There is a silver, gold and bronze tag badge. You get one for each tag depending on the score you earn on each. For example. a gold osx badge shows this gold badge symbol when marking as duplicate. It gives the user elevated privileges to better handle tag moderation.</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/254765/add-gold-tag-badge-privileges-to-a-users-privileges-page">Add gold tag badge privileges to a user&#39;s Privileges page</a></li>
</ul>


<p> <img src="https://i.stack.imgur.com/g6FKg.png" width="334"></p>


	</body>
</html>