<html>
	<head>
		<title id = 'pagetitle'>What should be done with questions marked as duplicates of deleted questions?
		</title>
	<head>
	<body id = 'pagebody'><p>There are a number of questions that are marked as duplicate of deleted questions:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/9697/will-lion-x-be-downloadable-for-everyone">Will Lion X be downloadable for everyone?</a></li>
<li><a href="https://apple.stackexchange.com/questions/10844/how-to-recover-deleted-files-from-iphone-4ios-4-3">How to recover deleted files from Iphone 4(iOS 4.3)</a></li>
<li><a href="https://apple.stackexchange.com/questions/17646/full-wireless-keyboard-for-imac">full wireless keyboard for iMac</a></li>
<li><a href="https://apple.stackexchange.com/questions/17784/how-do-people-who-recently-bought-a-macbook-pro-get-the-free-upgrade-to-lion">How do people who recently bought a Macbook Pro get the free upgrade to Lion?</a></li>
<li><a href="https://apple.stackexchange.com/questions/23155/multiple-macs-and-the-os-x-lion-hardware-up-to-date-program">Multiple Macs and the OS X Lion Hardware Up-to-Date Program?</a></li>
<li><a href="https://apple.stackexchange.com/questions/79572/new-mac-cannot-read-my-lacie-external-hard-disk-and-cannot-do-backup">https://apple.stackexchange.com/questions/79572/new-mac-cannot-read-my-lacie-external-hard-disk-and-cannot-do-backup</a></li>
<li><a href="https://apple.stackexchange.com/questions/85655/unable-to-update-apps-purchased-earlier-apple-id-changed-recently-not-device">https://apple.stackexchange.com/questions/85655/unable-to-update-apps-purchased-earlier-apple-id-changed-recently-not-device</a></li>
<li><a href="https://apple.stackexchange.com/questions/97465/find-my-iphone-mix-signals">https://apple.stackexchange.com/questions/97465/find-my-iphone-mix-signals</a></li>
</ul>

<p>Should they be reopened? Deleted themselves? Left alone?</p>


<h1>ANSWERS</h1>
		<p>Systematically, I'm not sure there's a tool / method to handle the abstract idea, however all seem manageable with the existing moderator tools on a case by case basis. </p>

<ul>
<li>Any moderator (user with sufficient reputation) can flag the deleted questions that are savable and flag the questions that are closed as dupe that would be worth reopening. </li>
</ul>

<p>Again, a closed question is a fine state for a question to sit for months or even an indeterminate amount of time if we don't expect it needing any new answers. Closed questions are still visible to all and can do good.</p>

<p>In the case of the last question, a vote for deletion might be a place to start on reviewing these. </p>


	</body>
</html>