<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is the difference between [mac] and [apple]?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1" class = "post">
			<h2>Question</h2>
			<h3>Score ::13</h3>
			<h3>Views ::247</h3>
				<h2>What is the difference between [mac] and [apple]?</h2>
<p>Should there be a difference? My proposal is that <code>[mac]</code> relates to hardware, <code>[osx]</code> relates to the software, and <code>[apple]</code> relates to the company specifically.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-1" class = "comment">
				<p>and is the site specifically for mac hardware or does it include other apple hardware (iphone, ipad, time capsule, etc) as well?</p>
			</div>
			<div id = "comment-2" class = "comment">
				<p>I would assume any hardware.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-8"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I think that yes, they should be a difference.</p>

<p>The moto of the site says <em>"Beta Q&amp;A site for power users of Apple hardware and software"</em>.</p>

<p>As they will have questions on iPad, Mac or the company itself, we should make a difference on these tags.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-22"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::15</h3>
				<p><p>I think that if we have an <a href="https://apple.stackexchange.com/questions/tagged/apple" class="post-tag" title="show questions tagged &#39;apple&#39;" rel="tag">apple</a> tag, it will be used in a way that doesn't add any value. Maybe we can use <a href="https://apple.stackexchange.com/questions/tagged/apple-inc" class="post-tag" title="show questions tagged &#39;apple-inc&#39;" rel="tag">apple-inc</a> for questions related to the company, and ban the use of <a href="https://apple.stackexchange.com/questions/tagged/apple" class="post-tag" title="show questions tagged &#39;apple&#39;" rel="tag">apple</a>.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2378" class = "comment">
				<p>+1  everything in Ask Different is, or should be, Apple-related.</p>
			</div>
			<br><div id = "ans-29"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>I agree with KeithB, [apple] is very vague to what it actually refers to in any given situation. [apple inc] is kinda strange, but still better. [mac] is related to hardware questions about all macs. We should of course have [macmini], [imac], etc. for different models. [osx] is regarding the operating system and it's built in functionality, excluding standalone applications like AddressBook, Safari, iCal etc.</p>

<p>As a side note, how about [snow-leopard], [tiger] etc? Is it better or worse than [osx 10.6], [osx 10.5]. And is it possible to alias tags? Like the aforementioned [tiger] &lt;-> [osx 10.4].</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-44" class = "comment">
				<p>You can alias tags (tag synonyms) but no one has over 2000 reputation to do this yet. See http://blog.stackoverflow.com/2010/08/tag-folksonomy-and-tag-synonyms/</p>
			</div>
			<div id = "comment-45" class = "comment">
				<p>@Chealion: No rep, and not in the top 20 or 100 upvotes.</p>
			</div>
			<div id = "comment-46" class = "comment">
				<p>I still prefer `[apple]` for the company. `[snow-leopard]` => `[10.6]` are good, though `[10.6]` should be synonymous with SL.</p>
			</div>
			<div id = "comment-2379" class = "comment">
				<p>I see [tag:imac] and [tag:mac-mini] but there are so many different types of each model, I don't find value in that level of detail.</p>
			</div>
			<br><div id = "ans-1632"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-1</h3>
				<p><p>Absolutely, I agree Macintosh <em>is</em> just a brand of hardware made by Apple. That's the way of reality.</p>

<p>What's wrong with using the real-world identifiers? How about: [apple] is the name of the company, [macintosh] or [mac] is the name of the computer line, [ios] is software that runs on the i-devices such as iPhones, iPods and iPads, [macos] or [osx] is the software that runs on the Macintoshes.</p>

<p>This is how it is in the real world and not very complicated at all. You can use multiple tags anyway.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3041" class = "comment">
				<p>apple is too confusing as covers everything on this site and the tag will not be used just for company related questions - anyway this is a very old question look at the tag wikis for how they are used now which is as per @GlennNilsson's answer</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>