<html>
	<head>
		<title id = 'pagetitle'>What is on-topic and off-topic here?
		</title>
	<head>
	<body id = 'pagebody'><p>One of the essential components of the FAQ will be the list of on-topic and off-topic subjects for questions. </p>

<p>Following the model used at <a href="https://english.meta.stackexchange.com/questions/273/what-is-on-topic-and-off-topic-here">this English L&amp;U meta question</a>, let's use this question to vote on what topics should be on and off topic at Apple SE.</p>

<p>In other words, post answers that are of the form:</p>

<blockquote>
  <p><strong>{On-topic}</strong>  </p>
  
  <p>One subject area you suggest to be considered on-topic</p>
</blockquote>

<p>-- <strong>or</strong> --</p>

<blockquote>
  <p><strong>{Off-topic}</strong></p>
  
  <p>One subject area you suggest to be considered off-topic</p>
</blockquote>

<p>Then upvote and downvote any answers as you see fit.</p>


<h1>ANSWERS</h1>
		<p><strong>{Off-topic}</strong></p>

<p>Stock performance and financial outlook of Apple Inc.</p>


<p><strong>{On-topic}</strong></p>

<p>End-user level problems/dilemmas with OS X</p>


<p><strong>{On-topic}</strong></p>

<p>[Features of / problems with] Apple hardware and devices<br>
(E.g. Mac Pro, iBook, iPod shuffle, Magic Trackpad)</p>


	</body>
</html>