<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What do I do if I have a series of smaller questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2449" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::29</h3>
				<h2>What do I do if I have a series of smaller questions?</h2>
<p>Let's say that for instance I have a series of very short questions with an average of 5-10 words each. Do I normally ask a question for every? Or can I ask small questions in one question? Or should I perhaps ask little questions in comments on a question with relevance to the short question I ask in the comments?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2449">Record</button>
				<button class="record-stop" id="stop-2449">Stop</button>
				<p id="recording-2449"></p>

<h1>Answers</h1>
			<br><div id = "ans-2450"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I doubt very much that an entire question can be sufficiently detailed in 5 to 10 words. Make sure you describe the question fully and accurately, describing exactly what the problem is and what you wish the intended outcome to be. Feel free to ask for help with describing a specific problem on meta or in chat before asking the question.</p>

<p>Speaking of chat, if your question is informal and brief, and an answer would also be so, it might be good to ask in chat.</p>

<p>Questions which ask too many questions in a single question will be closed as too broad or edited to remove extra questions. You should always have one question per each question as this allows for searching and comprehension whereby each answer answers the entire question fully, rather than one answer answering half of a question and another answering the other half.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2450">Record</button>
				<button class="record-stop" id="stop-2450">Stop</button>
				<p id="recording-2450"></p>
			<br><div id = "ans-2451"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Great question - Lets pick apart just one of the short questions. Some short questions are so clear and so useful that they work excellently. Could you ask a second question here on meta with the exact wording of one of these "short questions" if my general help below isn't useful to your needs.</p>

<p>Most often, questions that short need to be put on hold for details to be added.  Look at the [help] center and specifically <a href="https://apple.stackexchange.com/help/how-to-ask">How to ask</a> for detailed guidance on what makes a good question and why 5 word ones usually fail to show enough research and detail to be good as a class.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-4589" class = "comment">
				<p>Ok thanks. i meant things like: "What happens if...", "Is it safe to..." etc. Asking them on chat seems reasonable? like @grgarside said</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2451">Record</button>
				<button class="record-stop" id="stop-2451">Stop</button>
				<p id="recording-2451"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>