<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What does the logo for AskDifferent and the symbol for command stand for?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1356" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::74</h3>
				<h2>What does the logo for AskDifferent and the symbol for command stand for?</h2>
<p>Is it a flower? Indian symbol? I know that Jobs was a hippie in the 70s so maybe it comes from that times. Don't get me wrong, to me it looks like a svastika on steroids. But I am looking forward for some official meaning from you guys.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2569" class = "post">
				<p>Belongs on meta.</p>
			</div>
			<div id = "comment-2572" class = "post">
				<p>This almost belongs in both places, but since it seems. Ore about the site and why it was chosen lets keep it here as currently worded.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1357"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p>Its origin is the Saint John's Arms (or the Bowen knot) has been used throughout history in many Scandinavian countries. In Sweden it is used on maps to denote special places of interest.</p>

<p>When working on the Macintosh, Steve Jobs wasn't happy with using the Apple logo throughout the UI to indicate modifier keys, so the team around Andy Hertzfeld and Susan Kare came up with this. You can read this story here: <a href="http://www.folklore.org/StoryView.py?project=Macintosh&amp;story=Swedish_Campground.txt" rel="nofollow">Swedish Campground</a> or in more detail on <a href="http://en.wikipedia.org/wiki/Command_key" rel="nofollow">Wikipedia</a>.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2570" class = "post">
				<p>What has command common with special places of interest?</p>
			</div>
			<div id = "comment-2571" class = "post">
				<p>@Derfder Susan Kare thought the symbol looked good, so they picked it. There's not supposed to be any meaningful relation.</p>
			</div>
			<div id = "comment-2580" class = "post">
				<p>The Apple ][ had an apple symbol for this key.  When Mac was being developed, and they added an apple menu to the GUI, it was thought that apple menu and apple key would be confused.  So they found another symbol (and name) for this key.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>