<html>
	<head>
		<title id = 'pagetitle'>What is the community wiki?
		</title>
	<head>
	<body id = 'pagebody'><p>This <a href="https://apple.stackexchange.com/questions/3168/killer-features-of-the-new-mac-os-x">question</a> has been closed, and says something about the "community wiki"... What is it?</p>


<h1>ANSWERS</h1>
		<p>Community Wiki posts are questions/answers that are now owned by the community - votes up or down do not affect the original user's reputation. They are also editable by more users (only requires 100 reputation instead of 1000). The primary goal is to allow a question or a question to be easily updated by everyone involved.</p>

<p>For all the details check out the faq question on MSO: <a href="https://meta.stackexchange.com/questions/11740/what-are-community-wiki-posts">What are &quot;Community Wiki&quot; posts?</a></p>


	</body>
</html>