<html>
	<head>
		<title id = 'pagetitle'>What is planned for Apple's fall 2013 press event?
		</title>
	<head>
	<body id = 'pagebody'><p>Invitations for Apple's fall (in the northern hemisphere) 2013 press event have been sent:</p>

<ul>
<li><a href="http://www.loopinsight.com/2013/09/03/apple-announces-special-event-for-september-10/" rel="nofollow">http://www.loopinsight.com/2013/09/03/apple-announces-special-event-for-september-10/</a></li>
</ul>

<p>The pithy summary for this post above is: <em>It is widely expected that Apple will introduce a new iPhone at the event.</em></p>

<p>I have posted a community event for <a href="http://everytimezone.com/#2013-9-10,300,1zz" rel="nofollow">10 AM Pacific Time</a> that links to this discussion thread so people can share their ideas to help promote either the site or this event.</p>


<h1>ANSWERS</h1>
		<p>Well, we should have a chat room event for a start, a place to hang out and share useful livestreams and other info etc, maybe open it early and let people rip with the rumours in a controlled space ;)</p>


	</body>
</html>