<html>
	<head>
		<title id = 'pagetitle'>What to do when iTunes answer is PC-specific
		</title>
	<head>
	<body id = 'pagebody'><p>I came across an answer that is <a href="https://apple.stackexchange.com/a/61867/26522">obviously directed at Windows users</a> of iTunes. Is that okay? What can be done to improve the answer, even if my personal PC knowledge is lacking?</p>


<h1>ANSWERS</h1>
		<p>iTunes for Windows is very much on-topic for this site. iTunes is an Apple product, and many of its users use the Windows version.</p>

<p>If a question asks about iTunes for Mac and the answer comes in about iTunes for Windows, that is obviously a less-helpful answer. Similarly if the question is about iTunes for Windows but the answer is Mac-centric.</p>

<p>The real trick is when the question doesn't specify platform. Many users on this site (myself included) will give Mac-centric answers to a generic question (not on principle but because we forget iTunes for Windows exists!), but that isn't always what the original poster actually wants. So if you're more knowledgable about the Windows version of iTunes, please do contribute to answers that help Windows users.</p>

<p>Otherwise, you (specifically as someone who knows more about Windows than Mac) can do two things to improve the answer:</p>

<ol>
<li><p>help improve the QUESTION by commenting to find out if the OP (original poster) is actually looking for a Mac or PC solution</p></li>
<li><p>use the expertise make the Windows-side answers as good as possible, and let people who are more familiar with the Mac side of things do the same.</p></li>
</ol>


	</body>
</html>