<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What should our logo and site design be like?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-107" class = "post">
			<h2>Question</h2>
			<h3>Score ::15</h3>
			<h3>Views ::583</h3>
				<h2>What should our logo and site design be like?</h2>
<p>This should also be brought up at some point, so I'll do it now. :-) <strong>Does anyone have ideas about what visual elements our Apple SE should have?</strong></p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-306" class = "comment">
				<p>So this is completely random, but I had a dream last night that Apple.SO had been outfitted with all the final graphics, and the logo was something that didn't even slightly resemble Apple. It was ugly and dull.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-129"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::18</h3>
				<p><p><img src="https://i.stack.imgur.com/QVJpP.png" alt="command key cloverleaf"></p>

<p>The Startups SE is simply using the power button symbol, and that's where I got the idea to use the ubiquitous cloverleaf. Keep it a solid color, either the black that trims our iPads and iPhones, or the gray color that is the Apple logo on startup in Mac OS X, and it will work in any format.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-225" class = "comment">
				<p>For those who didn't know, some further info about the symbol: [Saint John's Arms](http://en.wikipedia.org/wiki/Saint_John's_Arms)</p>
			</div>
			<div id = "comment-1145" class = "comment">
				<p>The Apple Logo   [may not be used](http://www.apple.com/legal/trademark/guidelinesfor3rdparties.html) [except pursuant to an express written trademark license from Apple](http://diigo.com/0iqub). ** ** might be not visible in some other Apple products and services, but next to   I believe that ** ** *is* the **second most widely recognisable symbol** of *an Apple device*. Many such devices are used with Mac hardware   [NumberKey](http://itunes.apple.com/gb/app/numberkey/id291672903) is a more exotic example; most associations between Mac and non-Mac devices are subliminal. I vote ** **</p>
			</div>
			<div id = "comment-2810" class = "comment">
				<p>Found this discussion because I was wondering why this unused symbol is still the logo of this blog. I think Apple isn't using it anymore since 2007/2008. So it will disappear. So maybe we should look for another one...</p>
			</div>
			<br><div id = "ans-180"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Based on Dori's ideas:</p>

<p><strong>draft a:</strong></p>

<p><img src="https://i.stack.imgur.com/K6Ymo.png" alt="Apple.SE logo"></p>

<p><strong>draft b:</strong></p>

<p><img src="https://i.stack.imgur.com/UeUBU.png" alt="alt text"></p>

<p>I hope you get the idea. The silver shiny logo would be nice too.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-278" class = "comment">
				<p>Why does this get -1?</p>
			</div>
			<br><div id = "ans-218"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Please try not to laugh too hard... I had an idea while I was reading the comments regarding the site title and logo design.  I am obviously not a graphic designer, but the SuperUser site combined with the Finder gave me this idea.  I tried to make it look pretty by using my monospace fonts all blown up in Vim, then editing it in Seashore, which resulted in this disaster:</p>

<p><img src="https://i.stack.imgur.com/jpnYs.png" alt="alt text"></p>

<p>I am so crappy at doing that kind of stuff that I ended up just drawing it with the pencil tool to at least give a rough idea of what was in my head :)</p>

<p><img src="https://i.stack.imgur.com/oNDzx.png" alt="alt text"></p>

<p>I have no idea whether this is legally acceptable or not, but there it is.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-418" class = "comment">
				<p>But  don t we all hate the Finder? :))</p>
			</div>
			<div id = "comment-422" class = "comment">
				<p>@Martin: hah I guess that's true.  Maybe I should try the Path Finder logo? :)</p>
			</div>
			<div id = "comment-2811" class = "comment">
				<p>Good idea. Because when you type "Mac" in Google Image search, the first symbol that is not showing an apple is the Finder symbol... 1 Up!</p>
			</div>
			<br><div id = "ans-220"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>I was just reminded of this classic Macintosh icon - <a href="http://www.storybytes.com/view-moof/articles/mim.html" rel="nofollow">Clarus the Dogcow</a>:</p>

<p><img src="http://junk.mdm3.com/clarus-20080205-075411.png" alt="moof!"></p>

<p>It might be a bit too obscure, but it could definitely serve as a "secret handshake" of sorts. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-413" class = "comment">
				<p>I miss Clarus. We could go really obscure and use Mister Macintosh.</p>
			</div>
			<br><div id = "ans-242"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>I am no designer - but how about something simple (ie not the rainbow suggestions), with an apple-ish Logo in a stack-exchange box? Which would represent the Mac, iPod, iPhone, iPad etc. This in simple monochrome.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-639"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><h1>View the Ask Different world through Apple coloured spectacles</h1>

<p>  all your site design problems solved!</p>

<p><img src="https://i.stack.imgur.com/XLw2X.jpg" alt="enter image description here"></p>

<p><img src="https://i.stack.imgur.com/FCyRS.jpg" alt="Apple Logo Sunglasses   custom made for Steve Wozniak"></p>

<p>Hint: I do <strong>not</strong> expect an up-vote for this ;-)</p>

<hr>

<p>Spectacles found in recently posted <a href="http://www.spex4less.com/eyewear/2011/06/apple-glasses/" rel="nofollow noreferrer">Apple Glasses</a>; <a href="http://homepage.mac.com/cliff_huston/.public/Offering/Glasses/Glasses.html" rel="nofollow noreferrer">spectacles on Wozniak</a> and various other images <a href="http://www.tineye.com/search/show_match/b1f8d2004e298edd7034dbdfd4ad014a03a0998f/43b73ee060f580a02a9ba77baf560358a07b5688ba23eee309a17854a81787ad?m13=0.103811&amp;m21=-0.000213307&amp;m22=0.499475&amp;m23=0.216566&amp;m11=0.499475&amp;m12=0.000213307" rel="nofollow noreferrer">found via Tin Eye</a>.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>