<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What are the meaning of question to earn reputation?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2758" class = "post">
			<h2>Question</h2>
			<h3>Score ::-2</h3>
			<h3>Views ::41</h3>
				<h2>What are the meaning of question to earn reputation?</h2>
<p>Sorry if the title is not so clear. </p>

<p>Should we remove the questions that are made for the purpose of earn only reputation points? I'm referring to question like these two: <a href="https://apple.stackexchange.com/questions/231835/what-are-the-differences-between-the-iphone-se-6s-and-6s-plus?noredirect=1#comment283184_231835">1</a>, <a href="https://apple.stackexchange.com/questions/231833/what-are-the-differences-between-the-9-7-and-12-9-ipad-pros">2</a>.</p>

<p>I mean, are those really necessary for the community? They look like spam to me. Especially because the answer arrive from the person who made the question in only 6 minutes. </p>

<p>Some of you expert can provide me some explanation in order to keep questions like that?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6081" class = "post">
				<p>Ultimately every action where you post content on an SE site is done to "earn reputation". Whether that's primary or secondary to learning something or sharing some knowledge is up to the individual and the circumstances when they post here.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2759"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>If you disagree with a question you can always flag it for closing. The flags will be reviewed by the moderators and the community users. If enough people agree a question should be closed the system will take care of it; no humans need intervene.</p>

<p>That being said, over time, we've gotten pretty good as a community at recognizing the common questions that occur post-Apple announcement of new products and heading off those questions from very low-rep users with existing self-answered questions.</p>

<p>This is an accepted practice here on Ask Different.</p>

<p>You've provided to examples but they're both slightly different.</p>

<p>In the case of <a href="https://apple.stackexchange.com/questions/231835/what-are-the-differences-between-the-iphone-se-6s-and-6s-plus">What are the differences between the iPhone SE, 6s, and 6s plus?</a> -- the user asked a pretty straight-forward question and self-answered. Nothing wrong with that and it's something that's done post-Apple announcement with some frequency here. There's good prior art for this sort of thing on the site.</p>

<p>And a slight diversion here: answering your own questions is not only okay, it's <em>encouraged</em> by the Stack Exchange system. You have an "answer your own question" box right below the "ask your question" box when you're creating a new question. Stack Exchange exists to capture questions and answers with as few rules as possible. Sometimes people know the question <em>and</em> the answer and why wouldn't we want them to share this knowledge with the world?</p>

<p>However, for the second question you linked to, <a href="https://apple.stackexchange.com/questions/231833/what-are-the-differences-between-the-9-7-and-12-9-ipad-pros">What are the differences between the 9.7  and 12.9  iPad Pros?</a> -- the asker did not provide an answer. It needs an answer. And it's a legit question. We will see people asking what the differences are between the two models.</p>

<p>The simplicity of a question or the ease with which an answer can be obtained aren't good measures for whether a question should be asked here or not. We certainly don't mind simple or easy-to-answer questions!</p>

<p>I will say that your answer on the "What are the differences between the 9.7  and 12.9  iPad Pros?" is not a good answer. We strongly discourage "read the text behind a link" answers here. Links rot, which means the text behind them gets lots. Pull the relevant details in to your answer in addition to providing the link would make it a stronger answer. As written, it will attract down votes.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6082" class = "post">
				<p>Thanks for your answer. I have a clear idea now about the opinion of the community about this thing. Anyway, I personally disagree! Maybe it should be better to discuss bout new features in the chat.</p>
			</div>
			<div id = "comment-6083" class = "post">
				<p>@Mattia yes, if you want to discuss this further we can take it to the chat room for this site.</p>
			</div>
			<div id = "comment-6084" class = "post">
				<p>Never mind, I was saying that people that want to discuss about new features that Apple developed, like in the question I flagged, should do that in the chat instead of post questions with answers that doesn't help but provide just material to create discussions!</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>