<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What can I do if a useless answer is about to receive a bounty?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What can I do if a useless answer is about to receive a bounty?</h2>
<p>I have a question with a bounty and a <a href="https://apple.stackexchange.com/a/40440/4395">leading answer that's useless</a> and appears not even to have understood the question. Is there anything I can do to prevent the bad answer from receiving the bounty?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You could award the bounty to an answer you find more helpful. Otherwise, no.  Do note that an answer that <em>you</em> find useless might help someone else. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>The bounty is spent to get premium attention and nothing more.</p>

<p>You get to choose among any of the answers to award the bounty and you can choose to not award it. The choice is yours.</p>

<p>Do note that if you fail to award the bounty (which it totally separate than voting up or down any answer and also is decoupled from accepting an answer), it may go to the highest voted (but must have +2 or more net votes) answer that came <em>after</em> you added the bounty. </p>

<p>Don't worry if there is no recent answer with enough votes as in this case, no answer will even get the "half share" of bounty if the system can award it according to the process.</p>

<p>More details on this are here:</p>

<ul>
<li><a href="https://apple.stackexchange.com/privileges/set-bounties">https://apple.stackexchange.com/privileges/set-bounties</a></li>
</ul>

<p>So, by definition - no useless answer can ever get bounty if you award it to another answer and the system will deem a +2 answer useful and award half points if no other answer is better and the points are still unawarded at the end of your 24 hour grace period to award the points once the promotion period ends.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>