<html>
	<head>
		<title id = 'pagetitle'>What is "the OP"?
		</title>
	<head>
	<body id = 'pagebody'><p>I've heard "OP" used on several SE sites. I <strong>think</strong> it refers to the person asking the question. Is that right? Where do those abbreviations come from? Is there a specific FAQ type page that contains a list of these abbreviations?</p>


<h1>ANSWERS</h1>
		<p><a href="http://en.wikipedia.org/wiki/Internet_forum#Thread" rel="nofollow">http://en.wikipedia.org/wiki/Internet_forum#Thread</a></p>

<blockquote>
  <p>A thread (sometimes called a topic) is a collection of posts, usually displayed from oldest to latest, although this is typically configurable: options for newest to oldest and for a threaded view (a tree-like view applying logical reply structure before chronological order) can be available. <strong>A thread is defined by a title, an additional description that may summarize the intended discussion, and an opening or original post (common abbreviation OP, which can also mean original poster) which opens whatever dialogue or makes whatever announcement the poster wished.</strong> A thread can contain any number of posts, including multiple posts from the same members, even if they are one after the other.</p>
</blockquote>


	</body>
</html>