<html>
	<head>
		<title id = 'pagetitle'>What are the rules~time-limits to adding a bounty to your question?
		</title>
	<head>
	<body id = 'pagebody'><p>How long do I have to wait before the "Start bounty" button appears on one of my questions? I have a question that hasn't been answered yet and I would like to put a bounty on it, but the button hasn't shown up yet? Are there other rules that apply to when the bounty button appears?</p>


<h1>ANSWERS</h1>
		<p>From <a href="https://apple.stackexchange.com/faq#bounty">the FAQ</a>:</p>

<blockquote>
  <p>There are a few other rules around bounties:</p>
  
  <ul>
  <li>Questions must be at least 2 days old to be eligible for a bounty.</li>
  <li>Users must have at least 75 reputation to offer a bounty.</li>
  <li><strong>There can only be 1 active bounty</strong> per question and <strong>per user</strong> at any given time.</li>
  <li>Once initiated, the bounty period lasts 7 days.</li>
  <li>After starting a bounty, you must wait 1 day before awarding it.</li>
  <li>If you do not award your bounty within 7 days, the highest voted answer created after the bounty started with at least 2 upvotes will be awarded half the bounty amount.</li>
  </ul>
</blockquote>


<p>Adding to what reported by Kyle Cronin, <a href="https://meta.stackexchange.com/questions/54315/why-cant-a-user-have-simultaneous-bounties-any-more/104813#104813">users can now have a maximum of 3 active bounties</a> at any given time. There still the limit of one bounty per question, but you can have three bounties on three different questions, where nobody else offered a bounty already.</p>

<p>The <a href="https://apple.stackexchange.com/faq#bounty">FAQ</a> has been changed to reflect this.</p>


	</body>
</html>