<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What things from WWDC can we ask about here?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What things from WWDC can we ask about here?</h2>
<p>With the <a href="https://developer.apple.com/wwdc/schedule/#/" rel="nofollow">annual developer conference WWDC</a> starting today for 2016 - Apple is announcing new things. </p>

<p>Where can we ask / talk / learn more about the live stream of WWDC 2016 on Ask Different?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Anything that isn't covered by the NDA, that's public knowledge, can be asked about on Ask Different.</p>

<p><a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">Ask Different Chat</a> is available for things that don't work as practical questions. Chat is also the best place to discuss the live stream since that part of community doesn't work well as practical Q/A on the main site.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>However is it worth answering anything here. In general we don't know at it is liable to change. </p>

<p>It would be much easier to simply say we don't know and close it.</p>

<p>e.g this <a href="https://apple.stackexchange.com/questions/242601/cannot-use-icloud-photo-library-wrong-disk-format">question</a> and we get comments that are based on partial information</p>

<p>It is just wasting time to read let alone answer.</p>

<p>Also in a beta expect to have to reformat your disk. If you have to ask how to get data back you should not run a beta. So really any more questions on this is lack of research which is a reason to down vote</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>