<html>
	<head>
		<title id = 'pagetitle'>What should I do if I answer my own question I put a bounty on?
		</title>
	<head>
	<body id = 'pagebody'><p>I eventually solved my own problem after I put up a bounty and now don't know what to do to cancel it or give it to myself.</p>

<p>Here's the post: <a href="https://apple.stackexchange.com/questions/21573/how-can-i-initiate-a-modem-connection-from-the-command-line/23691#23691">How can I initiate a modem connection from the command line?</a></p>


<h1>ANSWERS</h1>
		<p>Ask, but typically not through here, instead just flag it for moderation.</p>

<p>I have removed the bounty and it got automagically refunded to you.</p>


	</body>
</html>