<html>
	<head>
		<title id = 'pagetitle'>What to do with questions where repair~replacement is obviously the only answer?
		</title>
	<head>
	<body id = 'pagebody'><p>Every once in a while I see a question along the lines of:</p>

<blockquote>
  <p>My iPhone got run over by a train, then my friend threw the pieces in a thermite fire, and the ashes were accidentally encased in concrete then shot directly into the sun. What do I do?? Help!!!</p>
</blockquote>

<p>Where the immediately obvious only answer is "So... go buy a new one" or (not in the case of the above example, of course) "Well I guess you better take it to a repair center". I can't imagine what kind of results an asker would expect by asking such a question online, other than sympathy.</p>

<p>What is the standard practice around here for questions like this? Ignore them? Down vote? Flag / close (what reason)? Comment? Answer? I don't spend a lot of time on this site and I'm not sure how you guys like to treat these types of questions, or if they're even a problem. To me, it doesn't seem like they belong.</p>


<h1>ANSWERS</h1>
		<p>Flag to close would be my preference for dealing with these types of questions. For a reason you can say, "Unclear what you're asking" because, really, what <em>are</em> they asking for here? A repair center? Condolences? A mocking?</p>


<p>I'm with Ian - down vote and then vote to close questions that are looking for an off-site resource without documenting the proper research the site asks for:</p>

<ul>
<li><p>Consider helping us help you. Take a pass at editing this after you've read the <a href="https://apple.stackexchange.com/help/how-to-ask">help guide</a> on how to be specific and show how your research didn't help you solve this dilemma. </p></li>
<li><p>"Questions asking to <a href="https://meta.stackoverflow.com/questions/254393/">recommend or find a Mac, book, tool, tutorial or other off-site resource</a> are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit this question to <a href="https://apple.stackexchange.com/help/how-to-ask">describe the problem and what research has been done</a> so far to solve it."   bmike</p></li>
</ul>

<p>Also - keep in mind that <strong>"they don't belong"</strong> should always be enforced ruthlessly only on questions that don't clearly demonstrate some effort to be useful. We want to <strong>include everyone</strong>, even if they are struggling to learn the ropes - so <strong><em>be gracious and helpful to people, critical and clear about specific posts</em></strong> when you can call out specifically what's wrong with them and link to resources anyone can use to fix the poor posts.</p>


	</body>
</html>