<html>
	<head>
		<title id = 'pagetitle'>What is the number next to the "review answer~question" button?
		</title>
	<head>
	<body id = 'pagebody'><p>What's the number next the "review answer/question" button?</p>

<p><img src="https://i.stack.imgur.com/7eqVU.png" alt="Number next to review answer button"><br>
Is it the number of people who have reviewed the question/answer?</p>


<h1>ANSWERS</h1>
		<p>It's the quality of the post; the number of users who already reviewed it is not shown.</p>

<p>The quality number can be a negative or a positive number; the highest number I have seen is 79 (in the "low quality posts" tab for the review page), and the lowest is  7. As negative numbers are used, I think that the higher the number is, the higher is the post's quality.</p>


	</body>
</html>