<html>
	<head>
		<title id = 'pagetitle'>What is the appropriate method for requesting the removal of a bad-answer banner?
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/a/63938/1629">This answer</a> has the "citation needed" banner and I think it doesn't need it. (There's a link to a Verge article that has all the relevant information and even a quote from Verizon.)</p>

<p>What is the proper procedure for requesting the banner's removal? In the past I've flagged the answer, but I don't want to spam the flag queue. </p>


<h1>ANSWERS</h1>
		<p>Moderators control notices so you could post a link in the chat room, pinging us or simply by flagging the post.</p>

<p>Meta questions also alert us - but in your case - documenting this on meta is awesome. Thanks for the flag and the question. Our flag volume is manageable and this is a good use of the system, even if we were backed up with many to handle.</p>


	</body>
</html>