<html>
	<head>
		<title id = 'pagetitle'>What to do about a particular Spam Only user
		</title>
	<head>
	<body id = 'pagebody'><p>I noticed this morning that a new user, <a href="https://apple.stackexchange.com/users/85896/">user85896</a>, which was created "today", has posted three answers that are obviously spam and one that I flagged as link-only, which should probably have been spam as well.</p>

<p>I don't have the rep to do anything about this, but I'm posting it here so someone with a decent amount of rep can take the appropriate action, if it is warranted.</p>


<h1>ANSWERS</h1>
		<p>Status: Completed. Thanks for the heads up.</p>


	</body>
</html>