<html>
	<head>
		<title id = 'pagetitle'>What~Where is the hall of Ask Different inquisitors page?
		</title>
	<head>
	<body id = 'pagebody'><p>On the recent <a href="http://www.thenewipadishere.com" rel="nofollow">site-promotion page</a> was the following nugget: </p>

<blockquote>
  <p>everyone who completes Level 1: Use Different and beyond will have
  their gravatars honored in the hall of Ask Different inquisitors page.</p>
</blockquote>

<p>What/Where is this located, or is this just the contest page itself?</p>


<h1>ANSWERS</h1>
		<p>The hall is the main landing page as far as I can tell.</p>

<p><a href="http://www.thenewipadishere.com/" rel="nofollow">http://www.thenewipadishere.com/</a></p>

<p>Stack Exchange bought that domain and it's still up, so <a href="http://en.wikipedia.org/wiki/Q.E.D." rel="nofollow">Q.E.D.</a> or perhaps QEF?</p>


	</body>
</html>