<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is planned for Apple's fall 2013 press event?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What is planned for Apple's fall 2013 press event?</h2>
<p>Invitations for Apple's fall (in the northern hemisphere) 2013 press event have been sent:</p>

<ul>
<li><a href="http://www.loopinsight.com/2013/09/03/apple-announces-special-event-for-september-10/" rel="nofollow">http://www.loopinsight.com/2013/09/03/apple-announces-special-event-for-september-10/</a></li>
</ul>

<p>The pithy summary for this post above is: <em>It is widely expected that Apple will introduce a new iPhone at the event.</em></p>

<p>I have posted a community event for <a href="http://everytimezone.com/#2013-9-10,300,1zz" rel="nofollow">10 AM Pacific Time</a> that links to this discussion thread so people can share their ideas to help promote either the site or this event.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Well, we should have a chat room event for a start, a place to hang out and share useful livestreams and other info etc, maybe open it early and let people rip with the rumours in a controlled space ;)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>