<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>What is the number next to the "review answer~question" button?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-929" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::41</h3>
				<h2>What is the number next to the "review answer~question" button?</h2>
<p>What's the number next the "review answer/question" button?</p>

<p><img src="https://i.stack.imgur.com/7eqVU.png" alt="Number next to review answer button"><br>
Is it the number of people who have reviewed the question/answer?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-929" class = 'collapse'>
			</div>
				<textarea id = "speech-929" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-929">
					<img id="start_img-929" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-945"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>It's the quality of the post; the number of users who already reviewed it is not shown.</p>

<p>The quality number can be a negative or a positive number; the highest number I have seen is 79 (in the "low quality posts" tab for the review page), and the lowest is  7. As negative numbers are used, I think that the higher the number is, the higher is the post's quality.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-945">Load Comments</button></br>
			<div id = "commentsection-945" class = 'collapse'>
			<div id = "comment-1709" class = "comment">
				<p>So, what does that exactly mean? So a post w/ 73 is better/worse than a post w/ 100?</p>
			</div>
			<div id = "comment-1713" class = "comment">
				<p>I expanded the answer: A post with a quality of 100 is better than a post with a quality of 73.</p>
			</div>
			<div id = "comment-1714" class = "comment">
				<p>Thanks! How did you figure that out?</p>
			</div>
			<div id = "comment-1733" class = "comment">
				<p>How is the quality number calculated? Why isn't voting up/down enough?</p>
			</div>
			<div id = "comment-1736" class = "comment">
				<p>@daviesgeek I keep reading on Meta Stack Overflow. `:-)`</p>
			</div>
			<div id = "comment-1737" class = "comment">
				<p>@Matt As a matter of fact, there are some answers that are marked as low quality, and that are perfectly fine for the question being asked; they are one-line answers, but their presence could mean the question is not acceptable. Suppose somebody replies with "Yes." It could be the answer should be expanded, or it could be that is the only answer possible for the question; in the latter case, it is probable the question should be closed. As far as I know, how the quality is calculated is not known. Maybe there are posts/comments about that, but not detailed.</p>
			</div>
			</div>
				<textarea id = "speech-945" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-945">
					<img id="start_img-945" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>