<html>
	<head>
		<title id = 'pagetitle'>What's happened to magic links?
		</title>
	<head>
	<body id = 'pagebody'><p>The comment shortcuts (magic links) don't seem to be working </p>

<ul>
<li><p>Current comments</p>

<p><img src="https://i.stack.imgur.com/DgfFo.png" width="600"></p></li>
<li><p>New comments</p>

<p><img src="https://i.stack.imgur.com/paUbA.png" width="300"></p></li>
</ul>

<p>What's happened?</p>


<h1>ANSWERS</h1>
		<p>Seems like it's fixed now </p>

<p><img src="https://i.stack.imgur.com/RutFO.png"></p>

<hr>

<p>Meta.SE: <a href="https://meta.stackexchange.com/questions/215786/magical-site-hyperlinks-broken">Magical site hyperlinks broken</a></p>


	</body>
</html>