<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What would happen if a high-rep user or moderator edited a question, and the OP rolled back constantly?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2602" class = "post">
			<h2>Question</h2>
			<div id="vote-2602" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 35</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What would happen if a high-rep user or moderator edited a question, and the OP rolled back constantly?</h2>
<p>If someone asked a question that was grammatically incorrect or had poor formatting, and someone edited the question to improve it, what would the editor do if the OP would keep re-editing or rolling-back to the first version?</p>

<p>Would the question get deleted, or is there any function to prevent the OP from editing his question? If I had 2k reputation and this would happen, what should I do in that case? </p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2602">Load Comments</button></br>
			<div id = "commentsection-2602" class = 'collapse'>
			<div id = "comment-5877" class = "comment">
				<p>Also, most high rep users just walk away from a post where the OP wants to have dictatorial control over the wording. Kind of a "suit yourself" if it's really something that can't be agreed upon. When an OP really doesn't want help - sometimes that's just fine to let them be. Editing posts that should belong to the community is pretty much the only time the OP loses control of the say - and the post can be dissociated from the account if they don't rage quit rather than try to work it out.</p>
			</div>
			</div>
				<textarea id = "speech-2602" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2602">
					<img id="start_img-2602" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2602">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2603"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2603" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Edit wars can lead to moderators locking posts from further edits. We'll usually ask warring factions to take it to a chat room to work out their differences and if that can't be facilitated, moderators will keep the lock in place and make a call on what the persistent form of the question or answer should look like.</p>

<p>I should add: edit wars that can't be resolved amicably are exceedingly rare on Ask Different.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2603">Load Comments</button></br>
			<div id = "commentsection-2603" class = 'collapse'>
			<div id = "comment-5876" class = "comment">
				<p>I would also add, that we moderators check in with each other when we are the subject of flags or discussion about edits. So in general, we recuse ourselves if that helps everyone come to an agreement on a specific post or action. I'd say, I've been aware of maybe 3 times were moderators got edit participants together to chat out differences. It's very rare - less than once a year is what I see.</p>
			</div>
			<div id = "comment-5878" class = "comment">
				<p>It's also worth mentioning that repeated rollbacks causes an automatic moderator flag on the post.</p>
			</div>
			</div>
				<textarea id = "speech-2603" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2603">
					<img id="start_img-2603" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2603">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>