<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>What is http:~~osquestions.com~?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>What is http:~~osquestions.com~?</h2>
<p>Just noticed that a question I posted on Ask Different <a href="https://apple.stackexchange.com/questions/169136/sort-contacts-marked-as-company">HERE</a> was ripped off at <a href="http://osquestions.com/osx-ios/169136/sort-contacts-marked-as-company" rel="nofollow noreferrer">osquestions.com found here</a>.  Is this site affiliated with the SE sites or just an RSS grabbing knock off with a ton of SPAM ads?</p>

<p>So, it appears they do "reference" the source at the bottom of the page, however the link back adds a "nyud.net" into the core domain which is probably a hook for them.  So not a true reference back.</p>

<p><img src="https://i.stack.imgur.com/7PYC6.png" alt="enter image description here"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The content on this site is licensed wih a Creative Commons license with attribution required, meaning that other sites ARE allowed to take content from this site, but they are required to say they got it from here. This site doesn't appear to do that. I tagged your question with the support tag so SE employees will see this to take appropriate action.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>