<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>When `code` is included in a link, it is not highlighted in blue
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1700" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::55</h3>
				<h2>When `code` is included in a link, it is not highlighted in blue</h2>
<p>While typing the title I was directed to <a href="https://apple.meta.stackexchange.com/q/623/23545">this question</a> from 2011 (it was even edited by Jeff Atwood!), but there are no answers or comments, and the issue still exists:</p>

<p>When making an inline link using the <code>[link title](http://url.of.link.com)</code> format, if any code (enclosed in backticks ``) is included as part of the link title, it is not highlighted in blue along with the rest of the link text. When you mouse over the link, the underline shows up under the code as it should, indicating that it actually is part of the link. However, if the entire link text is surrounded in backticks, you cannot tell that it is a link unless you mouse over it.</p>

<p>For an example, check out <a href="https://apple.stackexchange.com/a/92887/23545">my recent answer</a> in the last 4 or 5 lines. The phrase "install <code>pip</code> again" is a single link, yet it looks like "install" is a link, <code>pip</code> is not, and "again" is perhaps a different link. Same thing with the "the setuptools version" phrase/link.</p>

<p>This <a href="http://www.example.com" rel="nofollow noreferrer">kind <code>of</code> behavior</a> (&lt;- a single link to example.com) also apparently shows up on Meta.</p>

<p>StackOverflow doesn't have this issue, so hopefully it won't be too difficult to correct as the working code already exists :)</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>