<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>When to edit the tag list of a question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1292" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::30</h3>
				<h2>When to edit the tag list of a question?</h2>
<p>A question was submitted with a choosen set of tags by the originator
of the question.</p>

<p>When writing an answer, it became clear to me that the question would
receive a much appropriate set of answers with another tag
(ex.: <code>networking</code>   <code>networking</code> <code>security</code>).</p>

<p>How may I edit the set of tags of:</p>

<ul>
<li>my submitted questions,</li>
<li>other's questions?</li>
</ul>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1293"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Yes - the site design is for everyone to suggest edits.</p>

<p>The how is simple - click the edit button and you will have a window to make changes. There is context based help explaining how to edit and how to work the tools.</p>

<p>Once you've proposed an edit, it goes into a queue. There is a review process where people that haven't gained the reputation to make solitary edits require someone else to green light the edits.</p>

<p>You will find the chat room a great place to link to questions for learning how to edit as well as gaining confidence that someone will approve them.</p>

<p>For now - jump in and propose some edits you feel will make the site better and see how they are received. Like anything, start slow and build up your confidence about what works and what doesn't. As you gain reputation, the site will link you to the guides on how to edit - but for now as a new user, just try a few and we'll see how it goes.</p>

<hr>

<p>The only time I've seen edits be problematic is when there is back and forth where two people have differing tastes or when someone makes a lot of edits in a short time - driving the other changed content from the recent activity tab.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2446" class = "post">
				<p>Thank you. I simply didn't try to access this function through the `edit` button.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>