<html>
	<head>
		<title id = 'pagetitle'>When should I ask here, and when should I ask at Super User?
		</title>
	<head>
	<body id = 'pagebody'><p>So what's the difference (assuming i'm asking an apple related question)?</p>


<h1>ANSWERS</h1>
		<p>If it's a Mac question, you may ask on whichever site you prefer. If it's not a Mac question, or if it involves other Apple devices with your Mac, you should ask it here.</p>


<p>The main rule at SuperUser is device questions have to be related to how they interface with the desktop. So ask your iOS-only questions here if it doesn't involve that.</p>

<p>Otherwise, since you can ask other questions either place really the question is </p>

<blockquote>
  <p>When is it <strong>best</strong> to ask at SuperUser vs. asking at AskDifferent?</p>
</blockquote>

<p>Since SuperUser is right now the more populous and active site (150k visits daily to our 30k visits), I'd recommend....</p>

<ul>
<li><p>Ask at SuperUser when it's the kind of question that would benefit from being seen/answered by a lot of people, and is <strong>not</strong> a question that requires much Apple-specific expertise.</p></li>
<li><p>Ask at SuperUser when it involves using Windows or Linux with something Apple, in particular if the "expert" part of the question needs a Windows or Linux expert more than it needs an Apple one.</p></li>
<li><p>Ask at AskDifferent when you need more technical Apple expertise, when your question would be answered by a "right" answer as opposed to a crowd-sourced list, or when your question is  so keenly focused on Apple hardware/software/OS that this is the best place to get a good answer.</p></li>
</ul>

<p>In short...</p>

<blockquote>
  <p>Ask where you think you're most likely to get a good answer.</p>
</blockquote>


<p>From a Super User point of view: <strong>You can ask any question about computer hardware and software. This includes questions about your Mac, about Mac OS X, about Apple software, about software for Mac OS X, etc.</strong> Several users on SU are active in the related topics, so it's not like there's nobody to answer these questions.</p>

<p><em>Electronic devices</em> are considered off topic, which includes all iOS devices and iPods, <strong>unless</strong> it's a <em>home networking question</em> or about <em>interfacing with your computer</em>. This means that, for example, Time Capsule and AirPort Express/Extreme are <em>on topic</em>, and questions about syncing your iPhone with your Mac, or backing up iOS data <em>to your computer</em> are fine. The line might be a bit blurry there, but the worst thing that can happen is that the question will be migrated here.</p>

<p>Another possible issue, and I have no idea how it's handled on Ask Different: <em>Super User moderators don't really like software recommendation questions</em>. If you just want to know what Twitter clients are available on OS X, and it's obvious you have not even bothered to use Google, the question will be closed quickly. My advice is to <strong>not</strong> ask "What software can do X", but instead ask "I have problem Y. How do I solve it on a Mac?"</p>

<hr>

<p>Some people say that there are some topics where SU is better suited, and others where Ask Different is better suited, even though they are on topic on both sides. While this might be the case, <strong>you can freely choose which site you want to post on</strong>.</p>

<p>If a question doesn't get an answer on your chosen site for a few days, you can always request that a moderator moves it to another site. From my experience, these requests are always acted on quickly.</p>


	</body>
</html>