<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>When should I protect questions before Community ?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2174" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::54</h3>
				<h2>When should I protect questions before Community ?</h2>
<p>The FAQ states:</p>

<blockquote>
  <ul>
  <li>Do protect questions that are attracting a lot of non-answers or very poor answers (spam, etc.) from new users.</li>
  </ul>
</blockquote>

<p> but Community  would protect the question anyway if this occurred. (3 by &lt;10 rep deleted?)</p>

<p>Therefore, when should <em>I</em> be protecting questions rather than leaving it to Community ?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2175"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Tough one :-) In generell Community is doing a good job in protecting automatically and protecting "helps" against new users without any reputation anyway. Situations where I (sometimes) protect manually include</p>

<ul>
<li>a spam-like answer to one of the many "video conversion" questions which isn't protect yet (because just having one of these questions bumped up on the main page seems to attract follow-up spam)</li>
<li>a low-quality answer or question-posted-as-answer on an older topic which already has a bunch of of good answers which cover the whole topic</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>