<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>When did we become a scriptwriting service?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2780" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::42</h3>
				<h2>When did we become a scriptwriting service?</h2>
<p><em>NB: This is probably not the first time a question of this nature has been asked, but I could not find anything similar.</em></p>

<p>While scrolling through the front page/review today, I noticed a trend that seems to be increasing in frequency: "please help me write this script"-type of questions. Today alone, there were questions <a href="https://apple.stackexchange.com/questions/236772/can-someone-help-me-to-translate-this-automator-workflow-to-applescript">1</a>, <a href="https://apple.stackexchange.com/questions/236770/automate-creation-of-twice-encrypted-backups-copy-to-amazon-cloud-drive">2</a> and <a href="https://apple.stackexchange.com/questions/236724/unlock-external-locked-encrypted-disk-with-applescript-command-by-filling-dialog">3</a> all requesting some form of script <em>be written for them</em> (although the third example has other problems with the improbability of the brute-forcing a locked disk).</p>

<p>These questions usually do not show any evidence of the (most often, new) users trying to solve this script problem themselves, and treat the site like a "single-use, quick-answer-that-works, copy-paste" platform.</p>

<p>This trend, unfortunately, also plagues other sites like <a href="http://stackoverflow.com">Stack Overflow</a> and <a href="http://unix.stackexchange.com">Unix &amp; Linux</a>.</p>

<p>What would be an appropriate response to questions like these? Should we write scripts (which risks more questions like these) or flag/hold/off-topic/leave unanswered these questions (risks making people unhappy)?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2781"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Basically, questions about scripting solutions based on Bash, AppleScript, Automator etc. (aka everything included in OSX by default) are on-topic. But we also expect askers to show some kind of research and at least an attempt to solve the problem on their own (to avoid "do my homework for me" questions). From a first look, not all of the questions you've listed qualify on that angle.</p>

<p>OTOH, I neither see these questions as a plague nor as a problem. If somehow (maybe just for the fun of it) provides an answer, great, the value of the site just increased. If nobody bothers (because the problem is too obscure, the boundaries not defined very well or the OP doesn't respond to comments asking for clarification), the question will slowly sliver into oblivion which is fine as well.</p>

<p>So basically, IMHO we should treat them like any other question and</p>

<ul>
<li>ask for clarification if the question is unclear</li>
<li>flag as whatever if necessary</li>
<li>answer if we can</li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6100" class = "comment">
				<p>You mention, "...we also expect askers to show some kind of research and at least an attempt to solve the problem on their own": what about the users who do some form of research, put it into the question leave it at that and ask "please help me write so and so"?</p>
			</div>
			<div id = "comment-6101" class = "comment">
				<p>Ask for clarification and details (and also look at the answer provided by @grgarside). There is no obligation to answer questions here, so if the asker doesn't seem to put much effort into it him/herself, just let it be.</p>
			</div>
			<br><div id = "ans-2782"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>If there's clearly no research taken place and the question is asking specifically for a script to be written for them, I usually comment or (custom) vote to close with the following, tailored if necessary.</p>

<blockquote>
  <p>Questions asking for code must demonstrate a minimal understanding of the problem being solved. Include attempted solutions, why they didn't work, and the expected results.</p>
</blockquote>

<p>This is different to if someone is looking for where to start in writing a script, I'll try to answer to point them in the right direction. A quote from the AppleScript dictionary or similar usually helps people who can't find or don't know the existence of a feature, for example.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>