<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>When should I use the tag for the OS version?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-776" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::41</h3>
				<h2>When should I use the tag for the OS version?</h2>
<p>On Stack Overflow, a version tag (e.g. "c#-4.0") is used when the question is about a feature specific for that version.<br>
Is the same true for the OS tags used on <em>Ask Different</em>, or should I use the OS tags only to report the OS I am using?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-780"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Our version-specific OS tags use the 'big cat' name of the OS release.</p>

<pre><code>10.4 -&gt; tiger  
10.5 -&gt; leopard  
10.6 -&gt; snow-leopard  
10.7 -&gt; lion
</code></pre>

<p><strong>Use one of these when you have a question that's OS-specific.<br>
When your question is not OS-specific, use the generic <code>osx</code> tag.</strong></p>

<p><strong>Tags should not be used just to tell us what version of the OS you're using; add that to the question itself.</strong></p>

<p>Examples:</p>

<p><em>"How can I rename Desktops in Lion?"</em><br>
Desktops (Spaces) changed a lot in Lion; this is a very Lion-specific question.<br>
[lion]</p>

<p><em>"Error when connecting to my Mac with SSH"</em><br>
This is a general troubleshooting question. While it may be useful to know the OS, it isn't a question specifically about that OS.<br>
[osx], version info in the question.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1416" class = "comment">
				<p>I was referring to those. The question is when they should be used: Should I use them when I ask something that is specific for an OS version, or just to report I am using a specific OS version?</p>
			</div>
			<div id = "comment-1417" class = "comment">
				<p>Ah, I understand now. Updated.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>