<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>When do my privileges take effect
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-333" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::37</h3>
				<h2>When do my privileges take effect</h2>
<p>Just wondering when my privileges will take effect now I've passed 1000 rep. I don't see up/down votes, i still just see one number</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-700" class = "post">
				<p>You improve your rep so fast, congratulation man.</p>
			</div>
			<div id = "comment-703" class = "post">
				<p>Thanks, been spending waaaay too much time here this week!  ;o)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-335"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I just re-calc'd your rep to verify that it was over 1K, and it is.</p>

<p>I get the impression that you're expecting to see something different on pages with votes, and that's not actually the case. If you take a look at the <a href="https://apple.stackexchange.com/privileges/view-vote-counts">privilege page</a>, you see this figure:</p>

<p><img src="https://i.stack.imgur.com/3iJAd.png" alt="show vote figure"></p>

<p>When the page loads, you see the picture on the left. If you click on the vote count, it will <em>then</em> display the breakdown.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-699" class = "post">
				<p>Ah! Thank you very much</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>