<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>When and how should I write two answers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2063" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::147</h3>
				<h2>When and how should I write two answers?</h2>
<p>For certain questions, there may be multiple ways of doing something. This is the question that persuaded me to write this:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/127716/fastest-way-to-get-a-photo-from-iphone-to-mac">Fastest way to get a photo from iPhone to Mac?</a></li>
</ul>

<p>My existing answer is a way to get the photo to the Mac over Photo Stream using a folder. However, I also have a second way, completely unrelated to Photo Stream yet still a very quick way to transfer photos.</p>

<p>How should I include this second answer? Should I edit my existing answer to include a second answer, in this way:</p>

<blockquote>
  <h3>Photo Stream method</h3>
  
  <p>[content]</p>
  
  <h3>App method</h3>
  
  <p>[content]</p>
</blockquote>

<p>Alternatively, should I write a second answer?</p>

<blockquote>
  <p>[content mentioning Photo Stream method]</p>
</blockquote>



<blockquote>
  <p>[content mentioning app method]</p>
</blockquote>

<p> and if so, should I introduce the answers with a title?</p>

<blockquote>
  <h3>Photo Stream method</h3>
  
  <p>[content]</p>
</blockquote>



<blockquote>
  <h3>App method</h3>
  
  <p>[content]</p>
</blockquote>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2064"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>In short, don't sweat it.  I have used both methods.  Sometimes I choose which is most appropriate based on the particular wording of the question, so in this instance is says "What's the fastest way", well if I have two ways, only one can be fastest <em>to me</em>, but someone else may find the other one faster.  In this case I might present multiple answers.  If it was worded <em>is there a fast way to..</em> then I might include them both in one.</p>

<p>There's no hard and fast rule, it's just what you feel is appropriate.  If, for example I have an answer that has votes, and maybe even an accept, and I come up with an alternate way some time down the line, it's a little disingenuous to edit it in to the existing answer, so I would normally add another, for example.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3966" class = "comment">
				<p>That seems reasonable   I'll add another answer then</p>
			</div>
			<div id = "comment-5685" class = "comment">
				<p>Does that means one can have 4 answers to the same question ? or would that be considered Spam ? see example here http://apple.stackexchange.com/q/189006/46541 maybe you need to be bit more clear on this, since some obviously misunderstand it.</p>
			</div>
			<div id = "comment-5689" class = "comment">
				<p>By adding 4 answers aren't you blocking visibility of other answers which might be good ? @Buscar SD has a point. In [this](http://apple.stackexchange.com/questions/189006/mouse-pointer-locator) question you could have easily combined all the answers into one.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>