<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Where could I publish my own technical articles?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Where could I publish my own technical articles?</h2>
<p>Not sure this is the right place to ask this (where else?).
I'm doing some research on iPhone software and hardware and have learnt some stuff that I couldn't find anywhere else.  I thought I'd like to share this information with the general public. </p>

<p>Is there any website where anyone can publish their articles?.  I've been looking at some such as Techradar, appleinsider, etc. and they seem to just have their own tech people for that.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This question and sort of question doesn't do well on the main site. It's basically asking about an off-site resource or recommendation and only tangentially has to do with Apple.</p>

<p>I'm also not sure why the question remains open here on meta unless it's to discuss the merits of my opinion above that the question itself isn't suited for the main site or this meta site.</p>

<p>For any question - we ask that you "show your research" so I would posit - since GitHub pages is a free platform to publish your work on the web in an open / collaborative environment - what makes you not just self publish and if your work is good - it will rapidly get noticed and someone will want to ask you to work to provide content for their site.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>