<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Where will discussion on the Spring 2016 Apple Event be hosted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2756" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::102</h3>
				<h2>Where will discussion on the Spring 2016 Apple Event be hosted?</h2>
<p>Apple's 10 a.m. PDT event will be streamed to a handful of OS/browser combinations. Is there anyplace on Ask Different where people will discuss things both live and after the event?</p>

<ul>
<li><a href="http://www.apple.com/apple-events/march-2016/" rel="nofollow">http://www.apple.com/apple-events/march-2016/</a></li>
</ul>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2757"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The primary place to discuss things will be in the main chat room:</p>

<ul>
<li><a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">http://chat.stackexchange.com/rooms/38/ask-different-chat</a></li>
</ul>

<p>If people would like to add feeds of other coverage below or in a different answer, edits and posts are most welcome!</p>

<p>Apple's stream is hosted at <a href="http://www.apple.com/apple-events/march-2016/" rel="nofollow">http://www.apple.com/apple-events/march-2016/</a> and requires an Apple TV app or specific browser:</p>

<ul>
<li>Safari on iOS 7.0 or later, a Mac with Safari 6.0.5 or later on OS X v10.8.5 or later</li>
<li>a PC with Microsoft Edge on Windows 10</li>
<li>Apple TV (2nd or 3rd generation) with software 6.2 or later or an Apple TV (4th generation)</li>
</ul>

<p>Press live coverage is announced at:</p>

<ul>
<li><a href="http://live.arstechnica.com/apples-march-2016-event/" rel="nofollow">http://live.arstechnica.com/apples-march-2016-event/</a></li>
<li><a href="https://www.macstories.net/tag/march-21/" rel="nofollow">https://www.macstories.net/tag/march-21/</a></li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>