<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>where should questions about the developer program be asked?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1305" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::36</h3>
				<h2>where should questions about the developer program be asked?</h2>
<p>I had a question about what happens to my apps if the development program is not extended.</p>

<p>Then my question was voted down and closed since this was not the place to ask this question according to the FAQ of this site.</p>

<p>But where should questions like these be asked?
I also think that the answer of this question should be included in the FAQ of askdifferent.</p>

<p>I've read <a href="https://apple.meta.stackexchange.com/questions/213/should-questions-about-the-developers-side-of-the-app-store-be-considered-on-or">this</a> question on meta askDifferent but that question is more about if the question is on topic or not.</p>

			</div><h3>Comments</h3>
			<div id = "comment-2483" class = "comment">
				<p>You could ask questions about Apple's developer programs on Apple's developer forums.</p>
			</div>
			<div id = "comment-2484" class = "comment">
				<p>so there is no stack overflow site where I can ask question involving apple development program, iOS development and such?</p>
			</div>
			<div id = "comment-2485" class = "comment">
				<p>you've stumbled into an unresolved question here about whether this site should be the place for such discussions. Can I ask what led you here and made you think of this as the place to ask it? This could be helpful to us in figuring out whether to amend the FAQ to make these questions on-topic here.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1305">Record</button>
				<button class="record-stop" id="stop-1305">Stop</button>
				<p id="recording-1305"></p>

<h1>Answers</h1>
			<br><div id = "ans-1306"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>This site is the place where questions about using Apple products and all apple programs <strong><em>except for iTunes Connect</em></strong>.</p>

<p>I personally want to build consensus (if there is actual consensus) to broaden that scope to allow iTunes connect questions <a href="https://apple.stackexchange.com/questions/51084/iphone-app-now-is-pending-contract-will-it-be-removed-from-the-itunes-store">like the one you asked</a>.</p>

<p>Your question isn't complicated, is covered in Apple's FAQ that isn't something under NDA (although much of the mechanics of developing is under NDA - and most developers do not hang out here).</p>

<p>The only place I see for you to ask this topic currently is on Stack Overflow - but again, it's not a great fit in my eyes. I believe they prefer hard programming questions - not soft program and policy questions.</p>

<hr>

<p>In any event - as a developer, you have email, phone and web support from Apple - so even if your account has lapsed, you can sign up for a free tier of access and still have a point to ask them about the mechanics of the program.</p>

<p>Please do weigh in on the discussion over here and in the chat room if you want to change things here (either for or against changing the FAQ)</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/213/should-questions-about-the-developers-side-of-the-app-store-be-considered-on-or">Should questions about the developer&#39;s side of the app store be considered on or off topic?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/1038/what-would-happen-if-we-expanded-the-scope-of-this-site-to-include-itunes-connec">Should we expand site scope to include iTunes Connect?</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2486" class = "comment">
				<p>thanks I totally agree with you. although management seams to think different than us. ( not so related to this question: I agree in not cluttering al new sites on stack overflow but there doesn't seam a good place for it ) Yes I could consult the official apple FAQ but simply had forgotten about it and didn't think I would have found my question there.</p>
			</div>
			<div id = "comment-2487" class = "comment">
				<p>Luckily the management is us. Anyone who steps up in meta gets a voice - the moderators just try to keep an eye on things - perhaps nudge things in one direction or the other. Asking great questions and more importantly answering them is what will change the site for the better.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1306">Record</button>
				<button class="record-stop" id="stop-1306">Stop</button>
				<p id="recording-1306"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>