<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Where should questions that point out flaws of shortcomings of Apple products be posted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Where should questions that point out flaws of shortcomings of Apple products be posted?</h2>
<p>Questions that highlight shortcomings or flaws in Apple's products, especially recently as the usability and performance of Apple's software has declined, are often down-voted or voted closed, suggesting that Ask Different is not the place to ask such questions.</p>

<p>Is there an appropriate place to ask them?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I feel Ask Different is an excellent place to criticize Apple (or any other company) as long as you follow the rules for asking a good question. The <a href="https://apple.stackexchange.com/help/how-to-ask">How to Ask portion of the help guide</a> explains how to research your issue, document that research and relate it to a practical problem you face.</p>

<p>For example, if your post asks basically for opinions why Apple did X - it should be closed.</p>

<p>If your post asks "How do I do X given that here is how things work and this is the documentation on how it works and it's preventing me from doing Y" then it belongs and also deserves lots of votes up.</p>

<p>Also, keep in mind that <a href="https://apple.stackexchange.com/help/on-topic">things like hardware shopping, code level programming and general whining are off topic</a>. Specific whining is on-topic as long as the rest of the quality guidelines for the question are met successfully and it's <a href="https://apple.stackexchange.com/help/be-nice">polite and not rude, abusive, or otherwise inappropriate</a> </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>A question shouldn't be critical of anything. If a question sounds like a rant, it doesn't belong here.</p>

<p>If you are having a problem with a product, a question about how to solve the problem is certainly in order. Complaining about the product is not.</p>

<p>The <a href="https://apple.stackexchange.com/q/186511/4395">first example you linked</a> is currently open and has a positive score; it seems to be well received. You are trying to solve a problem of making your apps launch faster. The question could be a hidden rant ("This is too slow! Apple Watch suxx!"), but if you are actually interested in answers, this is totally a legit and on-topic question here.</p>

<p>In <a href="https://apple.stackexchange.com/q/186694/4395">this example</a>, it is unclear whether the intent of the post is to determine whether user identity detection is a feature of Apple Watch (and the consensus among the answers is that it is not), or to complain that the language of the ad is misleading. If the first is the purpose of the post, the post isn't "critical of an Apple product"; it's just trying to find information.</p>

<p>If the purpose of the post is really to complain that the ad uses imprecise language, no one here comes to the site to hear people whine. If users think that's what a question is for, they will often vote against it.</p>

<p>The fact that you categorize the aforelinked post as "critical of an Apple product" (or actually of the ad for an Apple product) tells me that you might have the intent to rant here.</p>

<p>There's no problem with not liking Apple products (or Microsoft products, or Google products, or ), but this site isn't the place to complain or praise; it's a place to look for solutions.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>