<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Where is the list of canonical questions stored for Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2418" class = "post">
			<h2>Question</h2>
			<h3>Score ::22</h3>
			<h3>Views ::423</h3>
				<h2>Where is the list of canonical questions stored for Ask Different?</h2>
<p>Where can we store a list of questions that are considered canonical?</p>

<p>Canonical means that it's asked frequently enough to warrant an excellent clear and detailed answer that the site edits and maintains so that it's broad, clear and helps many people troubleshoot or solve a common issue or misunderstanding.</p>

<p>Rather than blame people for coming and asking the same question over and over, the intent is to organize and realize that this will never and and instead have an efficient manner to link these to canonical answers.</p>

<p>That way, if the new asker actually has a different question, it will be easier for them to edit the post and get it reopened. It also will signal to the community that the answers are going to be heavily used and that it's worth it to keep them current, clear, and exemplary so that they can shoulder the burden of answering many questions on the same core topic.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2419"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::13</h3>
				<p><h1>The list of existing canonical questions is here:</h1>

<h3>iTunes Store</h3>

<ul>
<li>How can I change regions?</li>
<li><a href="https://apple.meta.stackexchange.com/questions/2464/">Can someone help with sorting / merging questions about transferring iTunes store balances?</a>  </li>
<li><a href="https://apple.stackexchange.com/questions/100955/">How do you use an existing AppleID on iOS App Store without providing a credit card number?</a></li>
<li><a href="https://apple.stackexchange.com/questions/187286/">How can I use a pre-existing AppleID with Mac App Store without a billing address?</a></li>
</ul>

<h3>iOS</h3>

<ul>
<li><a href="https://apple.stackexchange.com/questions/182966/">Forgotten iCloud email ID and password</a></li>
<li><a href="https://apple.stackexchange.com/questions/291055/">Got a new iPhone - where am I supposed to receive the verification code?</a></li>
<li><a href="https://apple.stackexchange.com/questions/114985/how-can-i-bypass-activation-lock">How can I bypass Activation Lock?</a></li>
<li>What is all this "Other" space on my iPhone/iPad?</li>
<li><a href="https://apple.stackexchange.com/questions/116623/">iTunes sometimes doesn&#39;t recognize connected device</a></li>
<li><a href="https://apple.stackexchange.com/questions/102928/can-i-install-any-ios-version-i-wish-by-picking-and-choosing-which-firmware-to-r">Can I install any iOS version I wish by picking and choosing which firmware to restore?</a></li>
<li><a href="https://apple.stackexchange.com/questions/104888/">How secure is Activation Lock on iOS 7 (and later)?</a> or <a href="https://apple.stackexchange.com/questions/116010/">Our iPad is locked and we&#39;re not sure of the Apple ID / iCloud password</a> or <a href="https://apple.stackexchange.com/questions/114985/">How can I bypass Activation Lock?</a> These cover locked iOS devices whether you have the iCloud account to unlock it or have to resort to proving ownership to Apple to release the lock.</li>
</ul>

<h3>Game Center</h3>

<ul>
<li>How can I fix my Clash of Clans Villages or online account?</li>
</ul>

<h3>Mac / OS X</h3>

<ul>
<li>How can I download an older version of OS X?</li>
<li>How can I change PATH in Terminal and make it stick?</li>
<li><a href="https://apple.stackexchange.com/questions/30552/os-x-computer-name-not-matching-what-shows-on-terminal">OS X computer name not matching what shows on terminal</a></li>
<li>Memory management and usage (<em>do I need to say more?</em>)</li>
<li>Are Kernel Panics harmful? - <a href="https://apple.stackexchange.com/questions/74209/">How serious are occasional kernel panics?</a>  </li>
<li><a href="https://apple.stackexchange.com/questions/14869/">How can I troubleshoot Kernel Panics on my iMac</a>  </li>
<li><a href="https://apple.stackexchange.com/q/5353/88313">How can I figure out what&#39;s slowly eating my HD space?</a></li>
<li><a href="https://apple.stackexchange.com/questions/116611/how-can-i-get-back-a-system-file-after-deleting-it-from-my-mac">How can I get back a system file after deleting it from my Mac?</a> (with a meta post <a href="https://apple.stackexchange.com/questions/116482/usr-bin-codesign-from-mac-10-9/116483#comment136260_116483">discussing this file recovery method</a>)</li>
<li><a href="https://apple.stackexchange.com/questions/74209/how-serious-are-occasional-kernel-panics">How serious are occasional kernel panics?</a></li>
<li><a href="https://apple.stackexchange.com/q/236741/88313">Single application not showing up in Spotlight</a></li>
<li><a href="https://apple.stackexchange.com/questions/288995">Loss of Internet while on VPN on Mac</a> (VPN split tunnel isn t allowed)</li>
<li><a href="https://apple.stackexchange.com/questions/20889/how-do-i-write-to-ntfs-drives-in-os-x">How do I write to NTFS drives in OS X?</a></li>
</ul>

<h3>Development for iOS</h3>

<ul>
<li><a href="https://apple.stackexchange.com/questions/15092/is-it-possible-to-develop-an-ipad-or-iphone-app-without-an-ipad-or-iphone">Is it possible to develop an iOS app without a test device?</a></li>
<li><a href="https://apple.stackexchange.com/questions/3295/">What are minimum specs for a MacBook to develop iOS apps?</a> (and possibly <a href="https://apple.stackexchange.com/questions/6650/">Is the white MacBook suitable for software development?</a> or <a href="https://apple.stackexchange.com/questions/7495/">Which Mac to develop iPhone apps?</a> )</li>
</ul>

<h3>Development or iTunes Connect</h3>

<ul>
<li><a href="https://apple.stackexchange.com/questions/102961/how-to-upgrade-individual-developer-account-to-a-company-account">How to upgrade Individual Developer Account to a Company Account?</a></li>
<li><a href="https://apple.stackexchange.com/questions/294421/what-happens-when-a-distribution-certificate-expires-or-revoked">What happens when a distribution certificate expires or revoked?</a></li>
</ul>

<h3>Daemons</h3>

<ul>
<li><a href="https://apple.stackexchange.com/questions/57514/what-is-assistantd">What is assistantd?</a></li>
<li><a href="https://apple.stackexchange.com/questions/294666/what-is-hidd">What is &quot;hidd&quot;?</a></li>
<li><a href="https://apple.stackexchange.com/questions/178895/what-is-nfsd-on-macos">What is nfsd on macOS?</a></li>
<li><a href="https://apple.stackexchange.com/questions/266989/what-is-parsecd">What is parsecd?</a></li>
<li><a href="https://apple.stackexchange.com/questions/159809/what-is-secd">What is &quot;secd&quot;?</a></li>
<li><a href="https://apple.stackexchange.com/questions/294291/what-is-touristd">What is touristd?</a></li>
<li><a href="https://apple.stackexchange.com/questions/212970/what-is-usernoted-and-why-is-it-eating-my-cpu">What is &quot;usernoted&quot; and why is it eating my CPU?</a></li>
</ul>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4531" class = "post">
				<p>I don't think the "What are minimum specs for a MacBook to develop iOS apps? " question is answerable - you have picked a 2011 question and the answers then would not be correct now. One suggesting that a certain amount of RAM (depending on Xcode version) and then SSD rather than HDD for speed could be done</p>
			</div>
			<div id = "comment-4532" class = "post">
				<p>@mark Great feedback - this is exactly what I had hoped to achieve. Many eyes making the selection / edits / choices here. Lets open a new meta question to discuss that point and link to it in the body of this answer. Once we have consensus, we can edit this post.</p>
			</div>
			<div id = "comment-4533" class = "post">
				<p>Another one I just spotted on from page http://apple.stackexchange.com/questions/178656/how-much-space-is-left-on-my-hard-drive - and derivatives where the answer is GrandPerspective OmniDIskSweeper etc</p>
			</div>
			<div id = "comment-5684" class = "post">
				<p>For $PATH I think the answer in http://apple.stackexchange.com/a/121021/237 looks simplest and correct. For canonical status I think it needs to include terminal stating starts bash (explaining why the files are included) and possibly path_helper - However are there any other answers we could start from or should we create a new one?- Also we need a question how to set in GUI</p>
			</div>
			<div id = "comment-6008" class = "post">
				<p>Right now I'm struggling to try track down the definitive "Can I update iOS to not the latest?" - one of which was honed recently. If anyone can find it & add to this list, that would be nice.</p>
			</div>
			<div id = "comment-6307" class = "post">
				<p>I know @Mark suggested a different answer, but here's a very good answer for "What's using disk space on my macOS?" http://apple.stackexchange.com/a/5360/88313</p>
			</div>
			<div id = "comment-6311" class = "post">
				<p>With the change in Sierra of the [Gatekeeper behaviour](https://apple.stackexchange.com/questions/243687/allow-applications-downloaded-from-anywhere-in-macos-sierra), it may be a good idea to turn one of those into a canonical question. Thoughts?</p>
			</div>
			<div id = "comment-6655" class = "post">
				<p>Why are some of these not links?</p>
			</div>
			<div id = "comment-6671" class = "post">
				<p>@wildcard Usually because there is no canonical answer for the topic yet</p>
			</div>
			<div id = "comment-6704" class = "post">
				<p>@patrix would it be a good idea to make some of these into actual questions?</p>
			</div>
			<div id = "comment-6705" class = "post">
				<p>@Jackson1442 Sure, if you find a suitable question and a good answer for it, just go ahead</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>