<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Where should questions that point out flaws of shortcomings of Apple products be posted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2469" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::71</h3>
				<h2>Where should questions that point out flaws of shortcomings of Apple products be posted?</h2>
<p>Questions that highlight shortcomings or flaws in Apple's products, especially recently as the usability and performance of Apple's software has declined, are often down-voted or voted closed, suggesting that Ask Different is not the place to ask such questions.</p>

<p>Is there an appropriate place to ask them?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-5632" class = "post">
				<p>Can you link to any? In general, rants are not well received here; if the point of the "question" is to highlight shortcomings or flaws in anything, it's not really a question. If you are having a problem with an Apple product and you are looking for a way to solve that problem, that's very on topic here. If you're looking to complain, that doesn't really belong on any Stack Exchange site.</p>
			</div>
			<div id = "comment-5633" class = "post">
				<p>@Daniel: Yes, sorry: [here's one](http://apple.stackexchange.com/q/186511/4395), voted to close. It's an honest question describing a real experience I'm having.</p>
			</div>
			<div id = "comment-5634" class = "post">
				<p>@Daniel: And the reference to Apple's website is not a rant or out of context: the front quick interactions as a core feature (and their own apps seem to deliver it for the most part); but third-party apps are (for me, and other's I've spoke to, at least) are certainly not. This could be simply because (a) developers are not using the API correctly; or (b) that I need to configure something to improve performance; or (c) it is a limitation of the (1.0) platform that is well known   or something else. Ask Different really should be the place to find out.</p>
			</div>
			<div id = "comment-5635" class = "post">
				<p>I'm going to vote to close that as well. It's not clear you are seeking user level things you can control as opposed to how to program a specific app how to load faster. If it's the latter, you will need to explain that you're not looking for code level assistance and instead seeking to understand how the iPhone and Watch Apps work in conjunction to be perform certain tasks in certain wall clock times. Also, I don't see that as out of line and quite mild if it's in fact a criticism of Apple or their products. Also, be specific, what is "my apps" in your post and avoid being too broad.</p>
			</div>
			<div id = "comment-5636" class = "post">
				<p>broad being what if the optimization for App A makes App B even slower? You are implicitly assuming that the cause of delay is identical in all when it might not be the case.</p>
			</div>
			<div id = "comment-5637" class = "post">
				<p>@bmike: I've listed several examples, but it is the case really for *all* of my apps. And I don't thing you are treating this question the way you would one that was not critical of Apple. The criticisms you raise could be applied to just about any of the many useful and accepted questions here. Is it really not clear that I'm asking whether there's some setting I ought to change; or that a possible answer is "that doesn't happen to any of my apps", or "I have that problem the apps you list but not others", etc.?</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2470"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I feel Ask Different is an excellent place to criticize Apple (or any other company) as long as you follow the rules for asking a good question. The <a href="https://apple.stackexchange.com/help/how-to-ask">How to Ask portion of the help guide</a> explains how to research your issue, document that research and relate it to a practical problem you face.</p>

<p>For example, if your post asks basically for opinions why Apple did X - it should be closed.</p>

<p>If your post asks "How do I do X given that here is how things work and this is the documentation on how it works and it's preventing me from doing Y" then it belongs and also deserves lots of votes up.</p>

<p>Also, keep in mind that <a href="https://apple.stackexchange.com/help/on-topic">things like hardware shopping, code level programming and general whining are off topic</a>. Specific whining is on-topic as long as the rest of the quality guidelines for the question are met successfully and it's <a href="https://apple.stackexchange.com/help/be-nice">polite and not rude, abusive, or otherwise inappropriate</a> </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5648" class = "post">
				<p>How about [this](http://apple.stackexchange.com/q/186706/4395)? It's a very straightforward question about which of the intrinsic data sources used by Health provide the most accurate measurements of steps taken and distance walked, and yet it has 3 close votes and a downvote. To me this clearly speaks to something wrong with the community here.</p>
			</div>
			<div id = "comment-5649" class = "post">
				<p>@raxacoricofallapatorius You showed no research so people are free to down vote if they feel that or if they feel it's not useful. You're welcome to your opinion of the community here, but perhaps you're taking things personally. Also, if people comment constructively and then receive retaliatory down votes, they will be less likely to comment going forward and instead just vote or refrain from commenting.</p>
			</div>
			<div id = "comment-5650" class = "post">
				<p>What would "research" look like for this question? It's a straightforward question about the measurable objective capabilities of the data sources for specific activities. (And "retaliatory down votes" is coming from where?)</p>
			</div>
			<div id = "comment-5651" class = "post">
				<p>@raxacoricofallapatorius Research (for instance) would be linking to the Apple Watch and iPhone user manuals and explaining you looked if there is a calibration or accuracy setting. Basically, document what you did to try and solve the issue yourself. Votes would be from you against commenters or answerers. It's odd that no one is trying to help you with comments and just voting to close and down vote your posts. I was trying to guess why you are not getting support from the community. Forgive me if you felt bad by the suggestion.</p>
			</div>
			<div id = "comment-5652" class = "post">
				<p>You've provided yet another example of this issue with [your recent edit](http://apple.stackexchange.com/posts/186706/revisions). It *is* "oddly circular" to have the Heath app as a datasource for the Health app. What can that mean? Explaining that is clearly an essential part of any complete answer to that question. Think about it: without such a clarification a valid answer might me "The Health app is the best source (for data used by the Heath app)". In the absence of an explanation of the apparent circularity, what would that mean and how would such an answer be helpful?</p>
			</div>
			<div id = "comment-5653" class = "post">
				<p>But I do think your edit puts a finer on it: there are users here for whom any implication that something might be off with Apple's products causes an allergic reaction, so that a perfectly clear and simple and widely useful question provides an allergic reaction because of one word: "oddly".</p>
			</div>
			<div id = "comment-5654" class = "post">
				<p>@raxacoricofallapatorius My opinion is you don't explain yourself well in questions. You have detailed comments as to how others are wrong. How would I differentiate you from a troll based on your actions the last few days on the site? (n.b I'm not convinced you are here to troll, just observing the behavior patterns I'm seeing and the worry I begin to have) I'd like you to have fair access, but the net votes on your last 16 posts isn't encouraging for a user with your reputation and length of engagement with the site.</p>
			</div>
			<div id = "comment-5655" class = "post">
				<p>I'll see what I can accomplish with questions that spell things out more, but  I don't have issues like this on other SE sites or other Web fora, and users here seem to have no difficulty drawing the necessary implications from other concise questions that don't spell every thing out in detail.</p>
			</div>
			<div id = "comment-5656" class = "post">
				<p>As for the recent spike in negative votes, that's simply a consequence of the recent release of two products (Photos and Watch) that   I'm far from the only person with this view  have a lot of issues.</p>
			</div>
			<div id = "comment-5657" class = "post">
				<p>Here's [another example](http://apple.stackexchange.com/q/186694/4395): an even more straightforward question with a completely straightforward answer with one flaw: it is critical of an Apple product.</p>
			</div>
			<div id = "comment-5696" class = "post">
				<p>And [another](http://apple.stackexchange.com/q/190018/4395). Someone doesn't like me, I think.</p>
			</div>
			<br><div id = "ans-2478"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>A question shouldn't be critical of anything. If a question sounds like a rant, it doesn't belong here.</p>

<p>If you are having a problem with a product, a question about how to solve the problem is certainly in order. Complaining about the product is not.</p>

<p>The <a href="https://apple.stackexchange.com/q/186511/4395">first example you linked</a> is currently open and has a positive score; it seems to be well received. You are trying to solve a problem of making your apps launch faster. The question could be a hidden rant ("This is too slow! Apple Watch suxx!"), but if you are actually interested in answers, this is totally a legit and on-topic question here.</p>

<p>In <a href="https://apple.stackexchange.com/q/186694/4395">this example</a>, it is unclear whether the intent of the post is to determine whether user identity detection is a feature of Apple Watch (and the consensus among the answers is that it is not), or to complain that the language of the ad is misleading. If the first is the purpose of the post, the post isn't "critical of an Apple product"; it's just trying to find information.</p>

<p>If the purpose of the post is really to complain that the ad uses imprecise language, no one here comes to the site to hear people whine. If users think that's what a question is for, they will often vote against it.</p>

<p>The fact that you categorize the aforelinked post as "critical of an Apple product" (or actually of the ad for an Apple product) tells me that you might have the intent to rant here.</p>

<p>There's no problem with not liking Apple products (or Microsoft products, or Google products, or ), but this site isn't the place to complain or praise; it's a place to look for solutions.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5658" class = "post">
				<p>That categorization is an interpretation that seems to be being imposed on the questions I'm asking, rather that the intent of the questions. In the example you cite, the purpose is really exactly what the question is asking: to find out if the watch recognizes me. It's not a trap, any more than [this question](http://programmers.stackexchange.com/q/258012) is. Here, I fear the latter would have been perceived as some kind oblique attempt to "whine" about or "criticize" Apple products.</p>
			</div>
			<div id = "comment-5659" class = "post">
				<p>If it is not the intent of your questions to rant about bad products, but rather to solve actual problems you face (including by bad products), then your issue is half solved. You just need to make sure the wording of your questions focuses on the problem you want to solve and doesn't sound like you're complaining but not really looking for a solution.</p>
			</div>
			<div id = "comment-5660" class = "post">
				<p>If a question is seeking a solution to an actual problem, even if it gets closed, if it gets edited to make the actual problem clear, it will be reopened. People are, of course, free to vote as they wish, but there's no problem with questions that end up pointing out flaws in Apple products (and I know there are many!).</p>
			</div>
			<div id = "comment-5661" class = "post">
				<p>Don't worry, I'm not imagining that there is some kind of conspiracy or malice here, I just see a pattern. I will do what I can to clarify my questions, but it does feel a bit like one has to walk  eggshells here to avoid questions that are perceived as "critical", or "whining", or even "trolling"   and now "ranting".</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>