<html>
	<head>
		<title id = 'pagetitle'>Where are the iPad Mini and iPad 4th-generation tags?
		</title>
	<head>
	<body id = 'pagebody'><p>I just noticed <a href="https://apple.stackexchange.com/questions/71672/what-is-the-net-weight-and-outside-size-of-the-ipad-mini-box-when-new">a question</a> specific to the iPad Mini had been tagged as <a href="https://apple.stackexchange.com/questions/tagged/ipad-3" class="post-tag" title="show questions tagged &#39;ipad-3&#39;" rel="tag">ipad-3</a>. While retagging I noticed there don't seem to be tags for the newest (4th-generation) iPad or the iPad Mini.</p>

<p>Someone should probably create these (I don't believe I have the rep). Further, since it appears the iPads won't bear numbers in their trade names the way iPhones do, is it effective / worthwhile to continue making separate <em>ipad-4, ipad-5, ipad-mini-2, etc.</em> tags for each, or should we treat them more like Macs, which don't receive a separate tag-per-generation?</p>


<h1>ANSWERS</h1>
		<p>I've created an <a href="https://apple.stackexchange.com/questions/tagged/ipad-mini" class="post-tag" title="show questions tagged &#39;ipad-mini&#39;" rel="tag">ipad-mini</a> tag and will watch it so see things are going smoothly. If you want to make a new question (or an edit here) linking to some questions that need <a href="https://apple.stackexchange.com/questions/tagged/ipad-4" class="post-tag" title="show questions tagged &#39;ipad-4&#39;" rel="tag">ipad-4</a> I'll gladly do the same.</p>

<p>As to the utility of generational tags, we have a chat room to bang out ideas and can always schedule a meeting if people wish. Anyone can also ask here to form community consensus about merging existing tags / make the case for or against having separate tags for each generation.</p>

<p>In general, tagging things with iPad (and only iPad) lets people find and answer questions and the iPad 4 LTE / AT&amp;T sub model specifics almost always are discoverable and searchable via the text of the question or the presence of auxiliary tags like <a href="https://apple.stackexchange.com/questions/tagged/cellular-data" class="post-tag" title="show questions tagged &#39;cellular-data&#39;" rel="tag">cellular-data</a> or <a href="https://apple.stackexchange.com/questions/tagged/lte" class="post-tag" title="show questions tagged &#39;lte&#39;" rel="tag">lte</a> in conjunction with the <a href="https://apple.stackexchange.com/questions/tagged/ipad" class="post-tag" title="show questions tagged &#39;ipad&#39;" rel="tag">ipad</a>.</p>


	</body>
</html>