<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Where should we announce our official launch?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-257" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::148</h3>
				<h2>Where should we announce our official launch?</h2>
<p>With our launch (theoretically) right around the corner, we should try and see if we can get the official site launch announced and/or covered. Here's a list of places I've thought about:</p>

<ul>
<li>Reddit</li>
<li>Hacker News</li>
<li>TechCrunch</li>
<li>LifeHacker</li>
<li><a href="https://superuser.com/users/4102/the-how-to-geek">The How-To Geek</a></li>
<li>Daring Fireball</li>
<li>marco.org (we might have a decent chance here, Marco is on the SO <a href="https://stackoverflow.com/about/management#advisors">board of advisors</a>)</li>
</ul>

<p>We could also announce it ourselves on the forums of:</p>

<ul>
<li>MacRumors</li>
<li>TiPb</li>
<li>AppleInsider</li>
</ul>

<p>Any ideas for other sites to announce it on? Any idea what the wording of the announcement should be?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-258"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I think it's great to announce, but I'd also encourage simple organic linking and sharing of relevant questions and answers.</p>

<p>In other words, instead of posting an announcement, find someone that has a problem addressed in the Q&amp;A here, and answer something like:</p>

<blockquote>
  <p>I too had this problem, and I found the solution on Apple Stack Exchange</p>
  
  <p><a href="http://example.com/questions/12345/how-to-fix-your-busted-itunes" rel="nofollow">http://example.com/questions/12345/how-to-fix-your-busted-itunes</a></p>
</blockquote>

<p>Related:<br>
<a href="http://blog.stackoverflow.com/2010/09/announcer-booster-and-publicist-badges/" rel="nofollow">http://blog.stackoverflow.com/2010/09/announcer-booster-and-publicist-badges/</a><br>
<a href="http://blog.stackoverflow.com/2010/08/a-recipe-to-promote-your-site/" rel="nofollow">http://blog.stackoverflow.com/2010/08/a-recipe-to-promote-your-site/</a>  </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-522" class = "comment">
				<p>Oh definitely, that's [been our approach all along](http://meta.apple.stackexchange.com/questions/89/promoting-apple-se/93#93)</p>
			</div>
			<div id = "comment-614" class = "comment">
				<p>now that the site is live, can you set up askdifferent.com to redirect properly?</p>
			</div>
			<div id = "comment-621" class = "comment">
				<p>@kyle putting it in the sysadmin room now..</p>
			</div>
			<br><div id = "ans-288"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>I've submitted it to <a href="http://news.ycombinator.com/item?id=2153660" rel="nofollow noreferrer">Hacker News</a>, <a href="http://www.reddit.com/r/apple/comments/fazm2/ask_different_a_stack_overflow_site_for_apple/" rel="nofollow noreferrer">Reddit</a>, <a href="http://www.reddit.com/r/reddit.com/comments/fazl8/ask_different_a_stack_overflow_site_for_apple/" rel="nofollow noreferrer">Reddit again</a>, <a href="http://forums.macrumors.com/showthread.php?p=11806439#post11806439" rel="nofollow noreferrer">MacRumors</a>, <a href="http://forums.appleinsider.com/showthread.php?p=1796131#post1796131" rel="nofollow noreferrer">AppleInsider</a>. If you have accounts on those sites, feel free to comment and/or vote up, where applicable.</p>

<p>We've been featured on <a href="http://www.macstories.net/news/ask-different-apple-stack-exchange-out-of-beta/?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+macstoriesnet+%28MacStories%29" rel="nofollow noreferrer">MacStories</a>:</p>

<blockquote>
  <p>The Apple specific question forum as a part of the Stack Exchange community has gone live this afternoon, harboring a community of experts willing to share knowledge on all things iPad, Mac, and iOS development. The collaborate question and answer site has implemented a lovely interface fit for any MacBook or iMac you may be visiting the exchange from, and you can visit Stack Exchange s most recent launch at apple.stackexchange.com.</p>
</blockquote>

<p>Great press, the only thing is that we don't do development questions.</p>

<p>Also, a mention on <a href="http://brooksreview.net/2011/01/stack-exchange/" rel="nofollow noreferrer">The Brooks Review</a>:</p>

<blockquote>
  <p><a href="https://apple.stackexchange.com/">Ask Different</a></p>
  
  <p>A new site from Stack Exchange for Apple related questions and answers.</p>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>