<html>
	<head>
		<title id = 'pagetitle'>Where do we draw the legal line?
		</title>
	<head>
	<body id = 'pagebody'><p>I've seen my fair share of 'shady' per-se questions on here, and am looking for input on where we draw the line. </p>

<p>There are several places that we could draw this metaphorical line:</p>

<ul>
<li>Jailbreak related questions (violates Apple EULA) like this:<br>
<a href="https://apple.stackexchange.com/questions/288157/cydia-unable-to-load-server-certificate-invalid">Cydia Unable to Load (server certificate invalid)</a></li>
<li>Hackintoshes (violates Apple EULA, potentially DMCA?) like this:<br>
<a href="https://apple.stackexchange.com/questions/118014/hackintosh-vmware-amd-7950-chipset">Hackintosh / VMWare AMD 7950 Chipset</a></li>
<li>Piracy related questions (violates Apple, StackExchange EULA, is <em>actually</em> illegal) like this:<br>
<a href="https://apple.stackexchange.com/questions/292762/quicktime-player-wont-record-iphone-hotstar-or-amazon-prime-videos-any-more">QuickTime Player won&#39;t record iPhone Hotstar or Amazon Prime videos any more</a></li>
</ul>

<p>What should we allow? It can be using one of these points, or even something in between. </p>


<h1>ANSWERS</h1>
		<p>I believe that we should <strong>allow</strong> jailbreak related questions. There's a big enough community - and as long as they aren't questions like <em>When will an iOS 11.0.4 jailbreak come out</em> they are fine. Might as well add in a jailbreak tag. Oh, wait - we already have one: <a href="https://apple.stackexchange.com/questions/tagged/jailbreak" class="post-tag" title="show questions tagged &#39;jailbreak&#39;" rel="tag">jailbreak</a></p>

<p>I also believe that we should <strong>disallow</strong> hackintosh questions. Since these are already going to be highly technical, they may confuse some of the newcomers, and can also detract from the community. They will be asking about non-apple parts, and that can get a little messy. Also, the hackintosh community's a little too small for this right now.</p>

<p>Finally, I think we should <strong>disallow</strong> questions about piracy because that's straight-up <strong>illegal</strong>, and we're actually forbidden from posting about it on StackExchange, from what I've determined from the <a href="/legal">ToS</a> and <a href="/legal/content-policy">content policy</a></p>

<h2>Summary:</h2>

<p>Should we allow...  </p>

<ul>
<li>Jailbreak: <strong>YES</strong>  </li>
<li>Hackintosh: <strong>NO</strong>  </li>
<li>Piracy: <strong>NO</strong></li>
</ul>


	</body>
</html>