<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Where did privileges go on the main site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1438" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::33</h3>
				<h2>Where did privileges go on the main site?</h2>
<p>I was looking to see what my next level of privileges was, but could not find the <a href="https://apple.stackexchange.com/privileges">Privileges</a> page linked from anywhere (I had to resort to a Google search)</p>

<p>Have I missed it, or is it truly missing?</p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1438">Record</button>
				<button class="record-stop" id="stop-1438">Stop</button>
				<p id="recording-1438"></p>

<h1>Answers</h1>
			<br><div id = "ans-1439"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>If you hover the mouse pointer over your name, a menu pops up; one of the items on that menu is a link to the Privileges page. Not exactly intuitive, but yes, it's still present. Note that this only works on the <strong>Main</strong> site, not the <strong>Meta</strong> site. If you try it right after you read this answer, it won't work!</p>

<p>You'll note that the URL for you is as follows:</p>

<p><a href="https://apple.stackexchange.com/privileges/user/16529">https://apple.stackexchange.com/privileges/user/16529</a></p>

<p>You can plug in anyone's account number on the main site to see the privileges they are currently allowed due to reputation.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2729" class = "comment">
				<p>it's easily missed, personally I think it should be available within the site profile somewhere also.</p>
			</div>
			<div id = "comment-2730" class = "comment">
				<p>I don't disagree. You could open up another meta post as a feature request.</p>
			</div>
			<div id = "comment-2731" class = "comment">
				<p>I would suggest opening it up on [MSO](http://meta.stackoverflow.com), since it is very much a network-wide feature.</p>
			</div>
			<div id = "comment-2754" class = "comment">
				<p>I found that MSO already has a few threads open on this; it used to be in the Reputation area, and was then removed.  There's another open thread where this has been requested to be but back (and agreed btw) but it has not yet actually happened.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1439">Record</button>
				<button class="record-stop" id="stop-1439">Stop</button>
				<p id="recording-1439"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>