<html>
	<head>
		<title id = 'pagetitle'>Which sites should be in our primary migration paths?
		</title>
	<head>
	<body id = 'pagebody'><p>When you select "off topic" as a reason to close a post on most of the other established Stack Exchange sites, you're presented with a menu similar to this:</p>

<p><img src="https://i.stack.imgur.com/F1eo7.png" alt=""></p>

<p>As you can see, there are a few pre-selected sites that you can vote for a question to be migrated to instead of simply closing the question.</p>

<p>However, even though Ask Different has been a public site for a while, we still don't have any primary migration paths, other than our own meta site:</p>

<p><img src="https://i.stack.imgur.com/DwV3u.png" alt=""></p>

<p>This means that any time a question needs to be migrated off our site it needs to be flagged for moderator attention, as moderators can migrate to any site in the network. To get a sense of where some of our questions have gone, here are the stats for questions migrated away from our site in the past 90 days:</p>

<p><img src="https://i.stack.imgur.com/ADWxm.png" alt="enter image description here"></p>

<p>Nothing too unsurprising here - we occasionally get questions about programming we migrate to Stack Overflow and Programmers, and the occasional computer-related question that doesn't involve Apple that we migrate to Super User.</p>

<p>So I think it makes sense for <strike>these three sites</strike> Stack Overflow and Super User to be in our migration paths. Does anyone have any objection to the sites I've listed? We have one more spot, is there another site that should also be included?</p>

<p><strong>edit:</strong> Taking a closer look at those questions that we migrated to Programmers, one post has been deleted for moderation reasons, one has been removed by its author, and the other has a score of -3. So, no Programmers route then.</p>


<h1>ANSWERS</h1>
		<p>Meta Ask Different, for pretty obvious reasons.</p>

<p>Stack Overflow due to scope, no ObjC programming question on this site.</p>

<p>Super User, I've had this done a few times due to lacking expertise on this site.</p>

<p>Server Fault, same as Super User.</p>


	</body>
</html>