<html>
	<head>
		<title id = 'pagetitle'>Which area is my question right for?
		</title>
	<head>
	<body id = 'pagebody'><p>I have a question about the advantages/disadvantages of using Drobo or Synology with my Mac media server setup. I asked the question on SuperUser and someone closed it because it was too much of a "shopping question". Is this something that's ok to post in the Apple Stack Exchange?</p>


<h1>ANSWERS</h1>
		<p>Hardware recommendations are off topic here. It looks to me like <a href="https://superuser.com/questions/378010/drobo-or-synology">your question</a> is pretty much a hardware recommendation, so it would not be on topic here.</p>

<p>If you have a question about a specific piece of hardware (e.g., 'Can I use Plex to play files on my Drobo?'), you can ask it here.</p>

<p>See this <a href="http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/">Stack Exchange Blog post</a> for info on shopping recommendation questions, and our <a href="https://apple.stackexchange.com/faq">FAQs</a> for info on what is on topic specifically on Ask Different.</p>


	</body>
</html>