<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Which of these questions should remain open?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1943" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::1722</h3>
				<h2>Which of these questions should remain open?</h2>
<p>We have had several questions about people buying second hand phones and some have been closed as duplicate.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/114985/how-can-i-bypass-activation-lock">How can I bypass Activation Lock?</a></li>
<li><a href="https://apple.stackexchange.com/questions/116606/how-to-open-iphone-5c-locked-with-an-icloud-account">How to open iPhone 5c locked with an iCloud account?</a></li>
<li><a href="https://apple.stackexchange.com/questions/117806/apple-hardware-only">https://apple.stackexchange.com/questions/117806/apple-hardware-only</a></li>
<li><a href="https://apple.stackexchange.com/questions/120678/iphone-5-locked-out-from-previous-user">iPhone 5 locked out from previous user</a></li>
</ul>

<p>I'm now convinced that we should have at least two questions, possibly three with good votes and great answers to avoid having lots of duplicate posts on this issue. What do people see as a good solution to solve this?</p>

<p>My three canonical questions would be:</p>

<ul>
<li>How secure is Activation Lock?</li>
<li>I know the person (or am the person) that controls the iCloud account that's now locking my device (or one I sold / gave away / donated)?</li>
<li>I don't know the person that controls the iCloud account locking my device?</li>
</ul>

<p>Can someone answer or help find / ask these canonical questions on the site and confirm that my thinking is sound here?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3733" class = "comment">
				<p>I thought the SO potion on duplicates is to leave all them open so more likely to catch all the google hits but make them point to questions with good answers</p>
			</div>
			<div id = "comment-3735" class = "comment">
				<p>@mark I'm not proposing deletion, merging or anything other the close which keeps them in google and other search indexes.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1944"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>I agree with the three situations as canonical questions:</p>

<blockquote>
  <ul>
  <li>How secure is Activation Lock?</li>
  </ul>
</blockquote>

<p><a href="https://apple.stackexchange.com/questions/104888/how-secure-is-activation-lock-on-ios-7">How secure is Activation Lock on iOS 7 (and later)?</a></p>

<blockquote>
  <ul>
  <li>I know the person (or am the person) that controls the iCloud account that's now locking my device (or one I sold / gave away / donated)?</li>
  </ul>
</blockquote>

<p><a href="https://apple.stackexchange.com/questions/114985/how-can-i-bypass-activation-lock">How can I bypass Activation Lock?</a></p>

<p> however, I think the title could be clarified a bit, as it doesn't appear to focus on the fact that the Activation Lock was activated by the 'previous owner' and therefore doesn't fit the third scenario.</p>

<blockquote>
  <ul>
  <li>I don't know the person that controls the iCloud account locking my device?</li>
  </ul>
</blockquote>

<p>This seems very much like the previous scenario and I believe could be answered by the existing answer to the above question.</p>

<p>Personally, I'd like <a href="https://apple.stackexchange.com/questions/114985/how-can-i-bypass-activation-lock">How can I bypass Activation Lock?</a> to be reopened, but with a new title that clarifies the focus on 'previous owner'.</p>

<p>There has been a situation where it's not a previous owner but themselves that don't have access to the Apple ID any more. This question could suit that situation nicely: <a href="https://apple.stackexchange.com/questions/116010/our-ipad-is-locked-and-were-not-sure-of-the-apple-id-icloud-password">Our iPad is locked and we&#39;re not sure of the Apple ID / iCloud password</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3732" class = "comment">
				<p>I reopened the one you requested. Let's let someone other than you edit it though. It may feel less like you running that one question if someone else does the edit.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>