<html>
	<head>
		<title id = 'pagetitle'>Who should the moderators be?
		</title>
	<head>
	<body id = 'pagebody'><h2><a href="https://webmasters.meta.stackexchange.com/questions/153/moderator-nominations">Guidelines</a></h2>

<ul>
<li>Use this thread. Each nomination should be a separate answer. Link the name to the user's profile so we can see their activity.</li>
<li>The nominee should indicate their acceptance by commenting on (or indeed editing) the answer.</li>
<li>Vote on users you feel will make <strong><a href="http://blog.stackoverflow.com/2009/05/a-theory-of-moderation/">good Moderator candidates</a></strong>. <strong>Please be civil and respectful.</strong></li>
</ul>

<p>We are looking for members who are deeply engaged in the community development; members who:</p>

<ul>
<li>Are currently a registered user in good standing.</li>
<li>Have a reasonably high reputation score to indicate active, consistent participation.</li>
<li>Exhibit patience and fairness at all times in their questions, answers, and comments.</li>
<li>Lead by example, showing respect for their fellow community members in everything they write.</li>
<li>Want the responsibility. Moderators volunteer a lot of time and work. Its can be hugely rewarding experience but it isn't always a popularity contest.</li>
</ul>

<p>Bonus points for:</p>

<ul>
<li>Being the site proposer or heavily involved in the proposal process.</li>
<li>Members who referred a lot of followers/committees on Area 51.</li>
<li>Members with participation in <em>both</em> meta and the parent site (i.e. interest in both community building and expertise in the field).</li>
</ul>

<p>These users will be contacted and three of them will be selected to act as Moderators until the formal elections.</p>

<p>They will:</p>

<ul>
<li>Have access to the tools to perform the duties of Moderation</li>
<li>Have access to a special chat room where they will collectively work through the challenges of moderation and community self-policing with the Stack Exchange team</li>
<li>Drive the process of selecting the site's attributes (domain names, design issues, the FAQ, etc.)</li>
<li>Help get publicity for their sites and organize their communities</li>
</ul>

<p>Basically, <strong>they will have the ear of the Stack Exchange team for anything they can do to help this site succeed.</strong> They will act as a liaison&thinsp;&mdash;&thinsp;a job that "links" Stack Overflow with this community.</p>

<p>Moderators solve a basic scalability problem. The SE team can't be in each site, identifying the issues and helping each community grow. That's where Moderators come in; they make sure communities are enabled to solve these problems where they can and elicit help when necessary.</p>


<h1>ANSWERS</h1>
		<p>I know he's not even here yet, but Kyle Cronin might be a good candidate.  He was the original site proposer, and has been active on other sites, including SuperUser, specifically in the Mac space:
<a href="https://superuser.com/users/6/kyle-cronin">https://superuser.com/users/6/kyle-cronin</a></p>


<p>I did it on gaming, I'll do it here too: I'm putting my hat in the ring. I'd be happy to help, but also just fine deferring to whomever the community nominates.</p>


<p>I nominate Chealion.  He/she (doesn't specify in their user profile, but I'll use he from here on out based on an educated statistical guess :) ) seems to be pretty open-minded, active, and easy-going.  He provides good answers, and doesn't seem to spam for points (most of his answers have been upvoted multiple times or accepted outright).  </p>

<p>He also makes good comments, and provides lots of votes, which I think is a good sign of someone who would make a great moderator.</p>


	</body>
</html>