<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Who is this character with the   and the  , running around editing all these posts? (An introduction.)
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-606" class = "post">
			<h2>Question</h2>
			<div id="vote-606" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 380</p>
			</div>
				<h2>Who is this character with the   and the  , running around editing all these posts? (An introduction.)</h2>
<p>I'm just dropping in to introduce myself. My name's Abby (you may have gathered this already), and I work for Stack Exchange as a member of their brand new CHAOS team. I've been given temporary moderator privileges on Ask Different for a special project. My assignment is to use these privileges to improve the titles of a bunch of the questions on this site to make it look friendly and manageable to new users who stop in. </p>

<p>So, over the next few days, I will be running around and whacking questions with the editing stick. CHAOS has a set of guidelines to follow when improving questions, but we aren't out to step on anyone's toes. In general, we are just editing for spelling, grammar, and overall clarity. But if I edit your question (or a question you've already edited) and you don't agree with the changes I've made, please feel free to roll them back. </p>

<p>I won't be editing questions here in meta, but I will be dropping in now and then to say hi and see what's going on - so feel free to let me know if you have any questions (or concerns, or complaints, or if you're wondering what I had for lunch yesterday, or whatever)!</p>

<p>Little update:<br>
While I'm actively editing titles (usually for a few hours at a time during the US East Coast work day), I generally hang out in the <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">Ask Different Chat</a>. It's probably your best bet if you want to get in touch with a CHAOS person and grill me about what we do. Or distract me from endless title editing. (Seriously, we're each working with a list of 1000 questions. Chat-related distractions would be heartily encouraged!)</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-606">Load Comments</button></br>
			<div id = "commentsection-606" class = 'collapse'>
			<div id = "comment-1085" class = "comment">
				<p>Now that you mention it, I am curious what you had for lunch yesterday</p>
			</div>
			<div id = "comment-1086" class = "comment">
				<p>Meatloaf and quiche and like a thousand Coke Zeroes.</p>
			</div>
			<div id = "comment-1087" class = "comment">
				<p>Interesting combination. I wonder what meatloaf quiche would taste like...</p>
			</div>
			<div id = "comment-1088" class = "comment">
				<p>I feel like it would be amazing, like some kind of ground beef quiche or something. Yum.</p>
			</div>
			<div id = "comment-1098" class = "comment">
				<p>Awesome. A welcome and needed service to the site for sure.</p>
			</div>
			</div>
				<textarea id = "speech-606" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-606">
					<img id="start_img-606" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-608"  class = "post">
				<h2>Answer</h2>
			<div id="vote-608" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li><p>You don't appear to have been a member of Stack Exchange until a few weeks ago. How did you come to be part of the CHAOS team?</p></li>
<li><p>I know you guys want to maintain an air of mystery, but what exactly does/will CHAOS do?</p></li>
<li><p>This is somewhat nit-picky, but why are you <a href="https://apple.stackexchange.com/about">listed as a moderator for the site</a> and not a Stack Exchange employee?</p></li>
</ol>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-608">Load Comments</button></br>
			<div id = "commentsection-608" class = 'collapse'>
			<div id = "comment-1089" class = "comment">
				<p>1. I was a user of the site under a not-my-real-name username for a while, but wanted to start over with my real name when I started here. I like to keep that username and the name on my resume separated.</p>
			</div>
			<div id = "comment-1090" class = "comment">
				<p>2. Our team's incomplete yet, and I think when it's completed there'll be a blog post or some other kind of announcement about what we do. Basically, we are "Cheerful Happy Advocates Of StackExchange" - a team whose express purpose is to target and reach out to people who have potential to Do It Rite on SE sites, and make friends with them.</p>
			</div>
			<div id = "comment-1091" class = "comment">
				<p>3. Because of an oversight! Thanks for pointing it out. I requested to have someone with those sorts of powers get us off the mod lists on FAQs - we have no business being there. [Sorry for annoying 3-comment format. I've been an SE user previously like I said, but I'm new to metas - should this all just be in a separate answer?]</p>
			</div>
			<div id = "comment-1092" class = "comment">
				<p>@Abby Thanks for the info. The CHAOS team is bigger than I thought it would be - so far I've been able to identify 8 accounts with  , 6 of which are definitely CHAOS (not sure about the other 2). Commenting to answer is both fine and preferred - metas are less strict than normal SE sites when it comes to what goes where.</p>
			</div>
			<div id = "comment-1093" class = "comment">
				<p>Good to know. There are 6 of us on the team so far. Our names are Abby, Aarthi, Sam, Brett, Laura, and Lauren. I think we all use our real names, so we should be easy to identify. Would you mind linking me to the other two   users? Editing one's username to include a   isn't difficult so I'd like to see if there are impostors we need to address.</p>
			</div>
			<div id = "comment-1094" class = "comment">
				<p>@Abby http://stackoverflow.com/users/109749 and http://stackoverflow.com/users/439233</p>
			</div>
			<div id = "comment-1095" class = "comment">
				<p>They aren't with us. I'll make a note of it. I'm sure these aren't the last impostors we'll see before we come up with a better system. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-608" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-608">
					<img id="start_img-608" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-611"  class = "post">
				<h2>Answer</h2>
			<div id="vote-611" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Joel just <a href="https://meta.stackexchange.com/questions/100137/what-is-the-meaning-of-chaos-is-it-related-to-the-psi-character">posted on Meta.SO</a> about who we are and what we're up to - in case anyone's still wondering. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-611" class = 'collapse'>
			</div>
				<textarea id = "speech-611" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-611">
					<img id="start_img-611" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-612"  class = "post">
				<h2>Answer</h2>
			<div id="vote-612" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Nice icon Abby!</p>

<p>Yah - I have some serious unicode envy. I'd love to sport a sexy   after my name - maybe next year.</p>

<p>p.s. huge welcome to the group - the influx of new people is really incredible looking from the outside..</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-612" class = 'collapse'>
			</div>
				<textarea id = "speech-612" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-612">
					<img id="start_img-612" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>