<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Who owns @askdifferent on twitter?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Who owns @askdifferent on twitter?</h2>
<p>There is a <a href="http://twitter.com/#!/askdifferent" rel="nofollow">twitter account</a> with our name that has no tweets or followers and isn't following anyone. My fervent hope is that someone in the Ask Different community is squatting on it in case a use for it arises. </p>

<p>Ask Different's <a href="http://twitter.com/#!/stackapple" rel="nofollow">current twitter account</a> is bundled with the accounts for all of the rest of the SE sites. Configuring and implementing a new function for the Stack exchange twitter accounts is going to take a lot of time and discussion, but a good first step is at least to make the name of the twitter account consistent with Ask Different's branding.</p>

<p>If the owner of the account is not in our community, we will go through twitter's proper channels to claim the account. But that's the hard way. I'm hoping it'll be easy. </p>

<p>So: do you own @askdifferent or know who does? </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Update: we were able to find and acquire the twitter handle <a href="https://twitter.com/#!/askdifferent" rel="nofollow">@askdifferent</a>! From now on, we will be using @askdifferent instead of @stackapple, so remember that if you want to @ reply or mention us. </p>

<p>Psst - if you don't follow @askdifferent already, feel free to do so :-)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>