<html>
	<head>
		<title id = 'pagetitle'>Who is Anonimous User
		</title>
	<head>
	<body id = 'pagebody'><p>I find this person appearing and doing edits, mostly turning them in to garbage.</p>

<p>Who is it ?</p>

<p><img src="https://i.stack.imgur.com/5exzR.png" alt="anonim"></p>

<p>The latest sample (not so bad as previous ones), where your system actualy tells me it thinks this is a scam!
<a href="https://apple.stackexchange.com/review/suggested-edits/58367">https://apple.stackexchange.com/review/suggested-edits/58367</a></p>


<h1>ANSWERS</h1>
		<p>The site allows people to perform some actions without logging in. Anonymous means a user that wasn't logged in made that action.</p>


	</body>
</html>