<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Who is this character with the   and the  , running around editing all these posts? (An introduction.)
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Who is this character with the   and the  , running around editing all these posts? (An introduction.)</h2>
<p>I'm just dropping in to introduce myself. My name's Abby (you may have gathered this already), and I work for Stack Exchange as a member of their brand new CHAOS team. I've been given temporary moderator privileges on Ask Different for a special project. My assignment is to use these privileges to improve the titles of a bunch of the questions on this site to make it look friendly and manageable to new users who stop in. </p>

<p>So, over the next few days, I will be running around and whacking questions with the editing stick. CHAOS has a set of guidelines to follow when improving questions, but we aren't out to step on anyone's toes. In general, we are just editing for spelling, grammar, and overall clarity. But if I edit your question (or a question you've already edited) and you don't agree with the changes I've made, please feel free to roll them back. </p>

<p>I won't be editing questions here in meta, but I will be dropping in now and then to say hi and see what's going on - so feel free to let me know if you have any questions (or concerns, or complaints, or if you're wondering what I had for lunch yesterday, or whatever)!</p>

<p>Little update:<br>
While I'm actively editing titles (usually for a few hours at a time during the US East Coast work day), I generally hang out in the <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">Ask Different Chat</a>. It's probably your best bet if you want to get in touch with a CHAOS person and grill me about what we do. Or distract me from endless title editing. (Seriously, we're each working with a list of 1000 questions. Chat-related distractions would be heartily encouraged!)</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<ol>
<li><p>You don't appear to have been a member of Stack Exchange until a few weeks ago. How did you come to be part of the CHAOS team?</p></li>
<li><p>I know you guys want to maintain an air of mystery, but what exactly does/will CHAOS do?</p></li>
<li><p>This is somewhat nit-picky, but why are you <a href="https://apple.stackexchange.com/about">listed as a moderator for the site</a> and not a Stack Exchange employee?</p></li>
</ol>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Joel just <a href="https://meta.stackexchange.com/questions/100137/what-is-the-meaning-of-chaos-is-it-related-to-the-psi-character">posted on Meta.SO</a> about who we are and what we're up to - in case anyone's still wondering. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Nice icon Abby!</p>

<p>Yah - I have some serious unicode envy. I'd love to sport a sexy   after my name - maybe next year.</p>

<p>p.s. huge welcome to the group - the influx of new people is really incredible looking from the outside..</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>