<html>
	<head>
		<title id = 'pagetitle'>Who is the creator of a tag if a question is edited to include a new one?
		</title>
	<head>
	<body id = 'pagebody'><p>Per the <a href="https://apple.stackexchange.com/help/badges/11/taxonomist">Taxonomist badge page</a>, the requirement for obtaining the badge is:</p>

<blockquote>
  <p>Created a tag used by 50 questions.</p>
</blockquote>

<p>If I were to edit a post to add a new tag, would I be accredited with the tag's creation or would the system attribute this to the question owner?</p>


<h1>ANSWERS</h1>
			</body>
</html>