<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why does Meta award badges and inherit reputation?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why does Meta award badges and inherit reputation?</h2>
<p>I understand that you don't get reputation in Meta as it's a part of AskDifferent, and meta.stackoverflow is a bigger "independent" site which does.</p>

<p>But why doesn't it show badges from main site here?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Badges on Meta mean different things   for example, the answer badges on Meta means that you've answered a question regarding how the site functions, not the site itself. This is substantially different due to the difference in subject matter.</p>

<p><sup>As an aside, <a href="https://apple.meta.stackexchange.com/help/badges/25/mortarboard">reputation is tracked independently on Meta</a>, just not shown.</sup></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>My view is that the badges do depend on the meta or non meta site so can be split up - the rep does not give any extra privileges to the meta site so there is no point in a separate reputation here.</p>

<p>I would note that meta.stackoverflow is getting changed so that there will be a site for StackOverflow and an overall site for all Stackexchange sites </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>