<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Why don't "up-votes" received for a comment contribute to reputation scores?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2130" class = "post">
			<h2>Question</h2>
			<div id="vote-2130" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 111</p>
			</div>
				<h2>Why don't "up-votes" received for a comment contribute to reputation scores?</h2>
<p>Take <a href="https://apple.stackexchange.com/questions/131467/missing-a-lot-of-options-from-finders-right-click-context-menu">this question</a> for example. It's a good question, but there's no definitive answer without going through some of the initial troubleshooting steps I point out in my comments in order to isolate the problem. </p>

<p>We are encouraged only to <strong>answer</strong> questions in our replies, rather than respond with speculations as to the problem - but in this case, and in many cases, isolating the problem using the comment section is crucial to actually delivering an answer. Should there not be a "reward?"</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2130">Load Comments</button></br>
			<div id = "commentsection-2130" class = 'collapse'>
			<div id = "comment-4054" class = "comment">
				<p>For this specific question one option you have is to go back and add an answer based on the comments to offer all troubleshooting tips together.</p>
			</div>
			<div id = "comment-4055" class = "comment">
				<p>If this is a feature request, can you make it more like a feature request? I.e. rather than asking why they don't provide reputation, say why you think they *should* provide reputation. I've removed the feature-request tag for now. Also, see this Meta.SE post: [Reputation for comments?](http://meta.stackexchange.com/questions/296/reputation-for-comments)</p>
			</div>
			<div id = "comment-4056" class = "comment">
				<p>@grgarside perfectly reasonable. i've marked as answered. **stuffe's** response was on point, and **patrix** made a great point about answering the question after the fact. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-2130" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2130">
					<img id="start_img-2130" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2131"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2131" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Because comments are transitory, and should be used to indicate clarification etc. An upvote on a comment is further evidence to the OP that it's a good one that may allow them to amend their question/answer.  If that results in an improvement etc, then the vote should be applied to the question/answer (if that's not already been done), not the comment, which should then be removed.</p>

<p>Essentially, comments are post it notes.  In the ideal world, they all get binned once they have served their purpose to further the efforts to improve a contribution.  Comments can spill over into chat if too many are created, and as such it's just like starring a chat comment - it signifies it adds something, but it isn't a formal part of the q or a.</p>

<p>On extremely busy posts, votes push up the best comments while the rest are hidden from view, so votes on comments aren't in the same rep giving class as actual posts. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2131">Load Comments</button></br>
			<div id = "commentsection-2131" class = 'collapse'>
			<div id = "comment-4057" class = "comment">
				<p>Also worth noting that you cannot downvote a comment, just like you can't dislike a comment on Facebook, or anti-favourite a tweet etc.  Think of up votes on comments more as *likes* or *favourites*, just a little something to let the poster know it was well received without people competing to get rep through them which would probably result in an increase of crap ones</p>
			</div>
			</div>
				<textarea id = "speech-2131" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2131">
					<img id="start_img-2131" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>