<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why does Ask Different have such a low voting percentage?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why does Ask Different have such a low voting percentage?</h2>
<p>Ask Different seems to be one of the larger and more popular SE sites, yet the voting is on par with some of the smallest in-beta sites. Other than the hyper-popular "your favorite tip/trick" type question, it looks like most questions get between 0-3 votes and seems like answers get that as well. Even many accepted answers seem to only 1 or 2 votes.</p>

<p>Is there a way to encourage people to vote more often to encourage better answers and more competition among answers?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>One standing problem comes to mind;</p>

<p>I honestly feel that too little expertise visits this site. One of many reasons for this is that it's all cooped up in Super User. The subject matter of Ask Different and Super User overlaps, at least with regard to Desktops, and there are many many more users over there.</p>

<p>I need not say that plenty of talent exists here, but they are too few in number to reach the scope of as many questions we get, not for lack of trying.</p>

<p>There is a standing issue on this topic. Apple questions about Desktop functions (as opposed to iOS) will remain on Super User, because they are not off topic. Users do often vote/flag to move any/all Apple questions to Ask Different, and iOS questions are automatically (iOS, like Android/WebOS/Windows Phone 7, are all off-topic at Super User).</p>

<p>For a number of reasons; rep, history, etc. Too many users remain at Super User. Questions have moved there (and once to Server Fault, for a OS X Server question) because there was no suitable answer here on Ask Different.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Remember that voting requires 15 rep, though users with 1 rep can accept answers on their questions.</p>

<p>If you want to encourage voting, remember that voting starts at home! </p>

<ul>
<li><p><a href="http://blog.stackoverflow.com/2010/10/vote-early-vote-often/">http://blog.stackoverflow.com/2010/10/vote-early-vote-often/</a></p></li>
<li><p><a href="https://apple.stackexchange.com/users?tab=voters">https://apple.stackexchange.com/users?tab=voters</a></p></li>
</ul>

<p>Don't forget questions either; you get a max of 40 votes per day if you vote on at least 10 questions too:</p>

<p><a href="http://blog.stackoverflow.com/2011/05/vote-for-this-question-or-the-kitten-gets-it/">http://blog.stackoverflow.com/2011/05/vote-for-this-question-or-the-kitten-gets-it/</a></p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I consider myself a Mac expert in general, and I'm often not inclined to answer for a variety of reasons. The "very basic, marginally researched, often duplicates" stuff @bmike said is one. Some of that is new-user laziness, and I don't know what can be done on that.</p>

<p>The super-tweaky "How do I do this incredibly arcane thing in Terminal" questions put me off, because I'm not a command-line guy. Related are the answers that unnecessarily recommend a command-line approach (the "I've got a hammer called Terminal, and I shall use it to strike every nail" approach). I think those command-line Q's and A's tend to put off most Mac users, who have no interest in using Terminal, <em>ever in their lives</em>. I don't mean to offend you Terminal jockeys, really. But my 27 years of Mac experience tells me that people generally become Mac users because they don't want to deal with that kind of stuff.</p>

<p>There are certainly questions over on SuperUser that should be over here on Ask Different. That's an issue that I think is in SE employee's bailiwick (no, I'm not speaking for Dori here). I feel there is some cherry-picking of questions by the mods there, and they are holding onto questions that would find a good home here. </p>

<p>By the way, I've only started doing the "vote questions up that I answer" thing on a regular basis recently, partly because it seemed to me that it was a kind of logrolling, and I wasn't clear that it was not only permitted, but encouraged behavior.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Part of the problem as I see it is being stuck in a "low-vote" trap. If good answers tend to get 1 or 2 votes, people won't vote them up after that. Same with good questions. It requires some consistency in trying to set new standards for good with questions and answers getting 10+ votes if they are well researched and presented.</p>

<p>It is really frustrating for new people stopping by (including me) to take the top to write out an answer and get no feedback, sometimes not even from original poster who never bothers to check back.</p>

<p>And I agree with trying to cull the low quality questions, some days it seems as if over 25-50% of the questions could be answered with a simple google search.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I've seen a few comments which could have been answers.  When I see these in future I'll leave a reply comment suggesting the comment be turned into an answer, and offering a +1.</p>

<p>It might be useful to start commenting and voting on more questions - "+1 for <em>example example example</em>" which should encourage voting and let people see what kind of thing gets voted on.</p>

<p>That should really only be a short term thing, just to get the voting started.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>As a brand new user I have definitely felt there is less voting activity here than I expected. I thought that with all the attention around Apple products right now that any decent questions would get a lot of attention and votes.</p>

<p>I asked a question that I think is pretty relevant to many of users, is not obvious in documentation, and is very answerable by somebody who uses the feature more than I do:</p>

<p><a href="https://apple.stackexchange.com/questions/28457/exactly-what-are-the-limitations-of-geofenced-reminders-in-ios5">Exactly what are the limitations of geofenced reminders?</a></p>

<p>For a while it sat with no votes, though over time it is slowly collecting a few. I guess my assumption is that a lot of people just use this as a resource and don't feel like they owe something to the community. Hard to determine/fix that though - and maybe it is too early for me to know...</p>

<p>Another surprise is that nobody has answered the question quickly. On another (private) stackexchange site I use any time somebody posts a question that could be answered in a straight forward way by doing a bit of testing - people pounce on it for the opportunity to gain rep!</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I don't use the other SE sites much, at leat not the technical ones, but if they are anything like my experience with many other forums it's very common to see multiple people offering the same answer.  This is particularly common where there is some reward on offer for providing answers, in the guise of reputation points or whatever.  I don't personally see this as a good thing, as people will often reply to the questions directly without checking to see if someone has already provided the same answer as you.  This is as bad to me as the OP not googling what should be a simple questions.</p>

<p>I'm not sure what the etiquette is on the other sites, or if I do things wrongly on here, but if I see an interesting question, and find that it has already been substantively answered along the lines of what I might have said, I won't bother with replying, but would just upvote the existing reply.  This might explain the lower answer rate on here, but not the lower vote rate (if this really exists, surely someone can provide metrics to prove it's not just anecdotal).</p>

<p>As for questions, I generally upvote ones that I can't answer and would like to know the answer to, even if it's just out of curiosity, but if it's something either daft, duplicate, simple or just plain edge case and of little interest to me, I won't upvote it, even if it's perfectly valid for the OP and meets the site rules.</p>

<p>Overall, I would hazard a guess that the users of this site are generally just a little less interested in ego stroking, and vote on a stricter criteria, and as such are voted on by like minded posters.  I don't care about my score, but I do like it when I have an answer accepted, even if no-one else upvotes it.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>