<html>
	<head>
		<title id = 'pagetitle'>Why did I lose one reputation for downvoting an answer?
		</title>
	<head>
	<body id = 'pagebody'><p>Before we get started, I do not care that I lost the reputation. I'm trying to figure out why the reputation was taken away.</p>

<p>The answer that I downvoted did not answer the OP's question, hence the downvote. An answer should answer the question, which it simply did not do. So why exactly did I lose reputation for taking part in the community?</p>

<p>Picture for reference:</p>

<p><a href="https://i.stack.imgur.com/sKiTh.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/sKiTh.png" alt="picture of losing reputation"></a></p>

<p>The answer I downvoted is <a href="https://apple.stackexchange.com/questions/218844/how-can-i-mount-microsoft-onedrive-as-a-network-drive-in-osx/237669#237669">How can I mount Microsoft OneDrive as a network drive in OSX?</a></p>


<h1>ANSWERS</h1>
		<p>As documented in <a href="https://apple.stackexchange.com/help/whats-reputation">https://apple.stackexchange.com/help/whats-reputation</a>:</p>

<blockquote>
  <p>You lose reputation when:</p>
  
  <ul>
  <li>your question is voted down:  2</li>
  <li>your answer is voted down:  2</li>
  <li>you vote down an answer:  1</li>
  <li>you place a bounty on a question:   full bounty amount</li>
  <li>one of your posts receives 6 spam or offensive flags:  100</li>
  </ul>
</blockquote>

<p>The reason downvotes impacts your reputuation is to prevent revenge or mass dowvotes against others. In addition it also emphasis the goal of AD (and SE sites in general) of getting <em>good</em> answers (which for instance means that instead of downvoting a bad answer it might be better both for you and for others to <em>up</em>vote good answers).</p>


	</body>
</html>