<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why were these too chatty flags declined on some +1 comments?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3103" class = "post">
			<h2>Question</h2>
			<h3>Score ::11</h3>
			<h3>Views ::147</h3>
				<h2>Why were these too chatty flags declined on some +1 comments?</h2>
<p>Similar to <a href="https://apple.meta.stackexchange.com/q/2433/217210">this situation</a>, I've had 7 recent comment flags declined on noisy comments.</p>

<p>These comments are just of the '+1' or 'Thanks' type:</p>

<blockquote>
  <p>Huge "THANKS!". :)</p>
</blockquote>

<p></p>

<blockquote>
  <p>+100 to <code>apachectl configtest</code></p>
</blockquote>

<p></p>

<blockquote>
  <p>+10 for "Scrollen und Zoomen"</p>
</blockquote>

<p>When you go to post a comment, you see this:</p>

<p><a href="https://i.stack.imgur.com/rh88N.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/rh88N.png" alt="see blockquote below"></a></p>

<blockquote>
  <p>Use comments to ask for more information or suggest improvements. <strong>Avoid comments like "+1" or "thanks".</strong> (emphasis mine)</p>
</blockquote>

<p>And <a href="https://meta.stackexchange.com/a/15292/294691">Jeff Atwood said to flag these</a>.</p>

<p>So... why did I have these flags declined? I know that 9 declined flags out of 521 total isn't bad, but still... why were they declined?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3103">Load Comments</button></br>
			<div id = "commentsection-3103" class = 'collapse'>
			<div id = "comment-6664" class = "comment">
				<p>Just because Jeff Atwood says something doesn't mean we all agree :-/</p>
			</div>
			</div>
				<textarea id = "speech-3103" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3103">
					<img id="start_img-3103" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3104"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::9</h3>
				<p><p>I'm the 'culprit', so to speak, for declining the three comments you're asking about. </p>

<p>In summary:</p>

<p>The <code>Huge "THANKS!". :)</code> comment <em>should</em> have been deleted (I think that was a case of me hitting the wrong option). My apologies for that one.</p>

<p>As for the other two, for me they were 50/50 and I could have gone either way. The reasons I opted to leave them were as follows:</p>

<ul>
<li>The community had upvoted these comments (one has 6, the other 5) which is relatively high, so for me this was an indication they were <em>valued</em> in some way.</li>
<li>They added a sense of <em>confirmation</em> that the answer (or something in the answer) was useful/correct.</li>
<li>They're relatively old (one is over 4 yrs old), so there was probably nothing to gain by deleting them.</li>
</ul>

<p>Now, if the comments were posted today, I would have:</p>

<ul>
<li>deleted the <code>+10 for "Scrollen und Zoomen"</code> comment as it wouldn't have had the votes and doesn't really add anything significant to the answer.</li>
<li>left the <code>+100 to apachectl configtest</code> comment alone on the basis that many users are 'nervous' when it comes to using Terminal, so for those users this comment adds some weight to what was suggested in the answer. </li>
</ul>

<p>Finally, it's quite possible (even probable) that I was over thinking all of this since it was my first day as a Mod, so I'll be checking with the others on their view of this as well. I appreciate you taking the time to ask the question in meta and sincerely hope this doesn't discourage you from flagging posts in future.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3104">Load Comments</button></br>
			<div id = "commentsection-3104" class = 'collapse'>
			<div id = "comment-6665" class = "comment">
				<p>(sorry for the delay, it's kind of hard to remember to check every meta) [About the upvotes (slight language warning)](https://chat.stackexchange.com/transcript/message/37458690#37458690). :/</p>
			</div>
			</div>
				<textarea id = "speech-3104" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3104">
					<img id="start_img-3104" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-3105"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Right on cue - a long discussion on how the  too chatty  standard was loose and unhelpful - <a href="https://meta.stackexchange.com/questions/292011/drop-not-constructive-combine-noisy-reword-rude-and-other-comment-flag">we ve done away with that flag across all sites effective immediately.</a></p>

<p><a href="https://i.stack.imgur.com/GxUfW.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/GxUfW.png" alt="rude or abusive, no longer needed, in need of moderator intervention"></a></p>

<h1>The problem</h1>

<p>Comments are terrible; no one agrees on what they're for, or how long they should be kept. Comment flags are equally terrible, because if no one's on the same page as far as what should be posted in the first place then no one can agree on what should be removed either. On top of that, we have this confusing set of flags where two mean "noise", one means "vile", one means "moderator, help!" and one means nothing at all - the end result is that it's all but impossible to even analyze comment flagging.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3105">Load Comments</button></br>
			<div id = "commentsection-3105" class = 'collapse'>
			<div id = "comment-6663" class = "comment">
				<p>And the other difficult thing about comments is that we can't always look at them in isolation (except of course for the 'rude or abusive' ones). What I mean is a comment may be too chatty etc, but then deleting it could remove some of the context surrounding the other comments. It certainly doesn't make our job easier.</p>
			</div>
			</div>
				<textarea id = "speech-3105" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3105">
					<img id="start_img-3105" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>