<html>
	<head>
		<title id = 'pagetitle'>Why can't I upvote a post from the Low Quality Posts moderation queue?
		</title>
	<head>
	<body id = 'pagebody'><p>Once in a blue moon there is a good question in the Low Quality Posts moderation queue. Why can't I upvote them without opening the question in a new tab? Am I just missing something? It seems like on this site especially we need to be encouraging MORE upvotes, not making them difficult.</p>


<h1>ANSWERS</h1>
		<p>This gives preferential treatment to good, short posts by giving them more exposure, which would introduce extra voting on shorter posts, encouraging users to post shorter posts so that they are upvoted in the queue.</p>

<p>I don't think this is something that should be implemented.</p>


	</body>
</html>