<html>
	<head>
		<title id = 'pagetitle'>Why are the positive bonus rep red in the reputation tab?
		</title>
	<head>
	<body id = 'pagebody'><p>I noticed that (un)accepts...</p>

<p><img src="https://i.stack.imgur.com/mHGvZ.png" alt=""></p>

<p>...and bounties...</p>

<p><img src="https://i.stack.imgur.com/WPQjp.png" alt=""></p>

<p>are red there. Why are all the rep received from bonuses RED?! </p>

<p>I understand unaccepts - they give negative rep gain and therefore logically made red (on any SE site).</p>

<p>But why do accepts have a red background? It should be green, that's the wonderful color which is used for accepts everywhere on SE. Also bounties: why red again? Why not blue, the known color of bounties?</p>


<h1>ANSWERS</h1>
		<p>Red, or #ab2020, is the accent colour used throughout this site for highlighting.</p>

<ul>
<li>.review-indicator span</li>
<li>h3 a:hover</li>
<li>.bounty-indicator</li>
<li>.bounty-indicator-tab</li>
<li>.bounty-award</li>
<li>.bounty-vote-off</li>
</ul>

<p>Ask Different isn't the only site to use red (or a shade of red) for this.<br>
For example, <a href="https://gaming.stackexchange.com/?tab=featured">Arqade uses red for bounties</a> and Webmasters uses orange (these were just the first two graduated sites I tried).</p>


	</body>
</html>