<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why is this site's URL not the same as its name?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why is this site's URL not the same as its name?</h2>
<p>I have seen both <a href="https://apple.meta.stackexchange.com/questions/1318/why-is-this-site-called-ask-different">this</a> and <a href="https://apple.meta.stackexchange.com/questions/286/ask-different-really-surely-ask-apple">this</a>, and I am asking "the other side of the coin", in a way. What I was wondering is: why didn't we make the play on the Think Different campaign in the URL as well as in the site? It is strange to have a site called AskDifferent whose URL is apple.stackexchange.com  Why not askdifferent.com? After all, SO has stackoverflow.com, not .stackexchange.com, and same goes for AskUbuntu's askubuntu.com </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I'll hazard some thought as I was around when this was discussed with the moderators at that moment in time. I have speculation and opinions, but they are just that other than links to other posts.</p>

<hr>

<p>The people that run the site registered <a href="http://askdifferent.com">http://askdifferent.com</a> and point it to the name apple.stackexchange.com and the why is for them to answer. I think it had to do with not setting more precedent in making a custom name other than the original trilogy or a preference to market/brand things consistently for web market share numbers or appearances in building the reputation of the network. Having a custom domain necessarily weakens the link to the branding of the company and some process or some one made that call a while back.</p>

<p>The community has voted pretty overwhelmingly to have things the other way around - have the site served out of a custom name and have requests from the apple.stackexchange.com resolve to the custom name, but those are just internet votes and not anyone that has actual authority to make any change.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/9/domain-name-suggestions/24#24">Domain name suggestions</a></li>
</ul>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>This is covered (for all SE sites) in <a href="http://blog.stackoverflow.com/2010/10/domain-names-the-wrong-question/">this blog post</a>.</p>

<p>I believe SO, SU, AskUbuntu, and any others have those names purely for historical reasons. SO because it's SO; I <em>think</em> AU was independent before it joined SE; not sure about SU, maybe just because it's old enough to have slipped through.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>