<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was this question downvoted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why was this question downvoted?</h2>
<p>I'm a reasonably seasoned user over on on Stack Overflow, so I know a single downvote is no big deal, and people can vote however they like and have no obligation to explain why; that's fine. But I'm a relative novice on Ask Different.</p>

<p>With that in mind, having put quite a lot of effort into a question here, I was quite surprised to see it downvoted, and so I wonder if I'm missing something about what's on-topic/expected here.</p>

<p>Am I? Could I improve the question to make it more appropriate? Or should I remove it as off-topic?</p>

<p>The question: <a href="https://apple.stackexchange.com/questions/194347">When I click and delete a message, how does Mail.app decide which to select next?</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It's a perfectly fine question in my opinion. It's definitely on-topic and you've covered all the points necessary for a question, even including screenshots to help understand what you're explaining.</p>

<p>The only reason I can think for an explanation for the downvote is that some users regard questions asking why Apple has done what they have done can only be answered by Apple themselves, and therefore is not appropriate for a site for Apple users.</p>

<p>That's of course presuming that the downvote was of 'good intention'. Other causes vary in possibility, from a downvote in 'spite' from the user who's answer you stated didn't answer the question, to someone mis-clicking. Not to mention the random <a href="http://chat.stackexchange.com/transcript/message/22549890#22549890">downvote sprees</a>.</p>

<p>Don't worry about a single random downvote the net score is still positive.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>