<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why is it SO hard to get reputation to start using this site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why is it SO hard to get reputation to start using this site?</h2>
<p>I can't comment, can't do jack until i've gained rep, but can't gain rep because can't do anything. Surely a captcha would do the job as well?</p>

<p>For example: I can't talk in the meta forums. This requires 5 reputation. Yet the smallest reputation award i can next get is from posting in the meta forum. I feel caught in an insane Catch-22.</p>

<p>Can someone describe to me a simple path to be allowed to use this site in an interactive fashion?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Cut-and-paste wholesale from the excellent answer to: <a href="https://meta.stackexchange.com/a/214174/151364">Why do I need 50 reputation to comment? What can I do instead?</a></p>

<hr>

<h1>Why does this limit exist?</h1>

<p>We realize that new users may have valuable comments, and that we may lose some of those contributions by requiring 50 reputation points to unlock the feature. </p>

<p>However, history and experience have shown that the downsides of allowing <em>everyone</em> to comment are far greater than a few good-quality comments:</p>

<ul>
<li><p>There are big problems with spam. Automated filters cannot catch all of it.</p></li>
<li><p>Even among the real comments, most would either say "I have the same problem" or "I agree". Such comments do not add any value, and have to be manually removed. </p></li>
<li><p>Comments are very painful to moderate. Stack Exchange sites have a process of community moderation (voting, flagging, review queues) that works great for questions and answers, but not so much for comments. Comments cannot be downvoted or closevoted, nor searched (nor do we want that).</p></li>
<li><p>Comments are second class citizens on the Stack Exchange network, not designed to hold information for all eternity. They may get cleaned up at any time. Generally, <strong>truly important information should be incorporated into an answer of its own anyway</strong>. <strong>[Ed.: THIS IS VERY IMPORTANT IN MY OPINION!]</strong></p></li>
</ul>

<p>Providing good answers will get you 50 rep points in no time. Alternatively, you can <a href="https://meta.stackexchange.com/questions/76251/how-do-suggested-edits-work">suggest edits</a> that improve existing questions and answers. Each of those will gain you 2 reputation points.</p>

<h1>But I want to contribute  now. What should I do instead?</h1>

<h2>Can I put my comment in an answer?</h2>

<p><strong>No.</strong></p>

<p>Asking and answering, the core actions on the Stack Exchange network of sites, are open to all users regardless of reputation. </p>

<p>However, this is not meant as a workaround to the comments barrier. <strong>Comments posted as an answer are subject to removal.</strong> </p>

<p>To make requests for clarification, or mere responses to other answers, you need to wait until you have the comment privilege.</p>

<h2>How do I write a good answer?</h2>

<p>If you are sure you can provide a real <em>answer</em>, then you are of course welcome to go ahead, but make sure it's <strong>a <a href="https://meta.stackexchange.com/a/214174/151364">full, valid answer to the question</a></strong>. If you saw something wrong with an existing answer, do mention it and its flaws, but make sure you provide an alternative solution <strong>that can stand on its own.</strong> Do not just copy and paste your original comment into the "answer" field.</p>

<h2>But I can't write a good answer without more information!</h2>

<p>Answers don't have to be exhaustive or infallible, they just need to <em>try</em> to answer the question. It's perfectly fine to post an answer saying, for example, "I'm not sure what the cause of your problem is, but if it's <em>X</em>, you can solve it by doing <em>Y</em>. If that doesn't help, try <em>Z</em> and let me know what it says."  Also, if further information does become available, you can edit your answer later to make it more precise. This is a good habit to get into <em>even if you <strong>can</strong> comment!</em> </p>

<p>Welcome to the community, and good luck!</p>

<h1>How do I gain reputation?</h1>

<p>Another cut-and-paste from this meta question and answer: <a href="https://meta.stackexchange.com/questions/17204/six-simple-tips-to-get-stack-overflow-reputation-fast">Six simple tips to get Stack Overflow reputation fast</a></p>

<p>Aww heck I can summarize it: <strong>ANSWER QUESTIONS WELL</strong>. <a href="https://meta.stackexchange.com/a/17250/151364">But you should really read the top-voted answer because it's excellent</a>.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>Very simple.</p>

<p>Just ask questions - like this :)</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>It doesn't seem like it, but it is easy to get 50 reputation to comment. All you have to do is make good quality answers that get upvotes and accepts. For example: Today I answered a question simply but surely, and I got 2 upvotes (20 reputation). When it gets accepted, I get additional 15 reputation. </p>

<p>Also, ask well. You can get upvotes worth 5 on your questions. Be specific, on-topic and try not to make duplicates. Also, throw in a bunch of edits for grammar, spelling, formatting. 1 edit gives you 2 reputation.</p>

<p>You can stay tuned at Questions > Newest to find new questions and be the first to answer</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>