<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why were a whole bunch of users just awarded the Vox Populi badge on meta?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why were a whole bunch of users just awarded the Vox Populi badge on meta?</h2>
<p>I've only cast three votes on meta this week, and yet I was just awarded the Vox Populi badge. I see there was a spate of awarding this particular badge, but I haven't noticed a spate of meta voting.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>We just deployed a change that affects the voting badges.  This is why you see a number of these badges being awarded.</p>

<p>For more information about this change, you can see <a href="https://meta.stackexchange.com/a/123048/140548">this answer</a>.</p>

<p>Note that there was a bug with Vox Populi only that awarded too many of them (beyond the expected more for retroactive awards) and a fix has been deployed.  The erroneous awards have been cleaned up.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>