<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why don't we have an actual question on our About page?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2054" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::29</h3>
				<h2>Why don't we have an actual question on our About page?</h2>
<p>I was looking at Ask Different's About page and saw the following question as our example:</p>

<p><img src="https://i.stack.imgur.com/UhQto.png" width="529"></p>

<p>Why don't we have a 'proper' question? I'm sure we used to, right?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2055"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I don't know why it got de-selected, but I have chosen a new question from the ones we get to pick. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3933" class = "comment">
				<p>Great! I presumed you got to pick any question   out of interest, what's the criteria for a question to be allowed on that page?</p>
			</div>
			<div id = "comment-3934" class = "comment">
				<p>I think there was some older discussion here and certainly on the main meta - http://meta.stackexchange.com/questions/211190/ and I even [asked for moderators to get notified](http://meta.stackexchange.com/questions/164516/please-ping-moderators-whenever-the-sites-about-page-gets-modified) when things changed, but there likely wasn't enough value seen for that to be coded.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>