<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why can't I answer a question that requires a reputation level less than mine?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2792" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::19</h3>
				<h2>Why can't I answer a question that requires a reputation level less than mine?</h2>
<p>I not able to post an answer to <a href="https://apple.stackexchange.com/questions/123570/create-a-bootable-windows-usb-from-a-os-x-to-work-on-a-pc">Create a Bootable Windows USB from a OS X to work on a PC</a>? It states "posting an answer now requires 10 reputation," but I have a reputation of 101.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6110" class = "comment">
				<p>http://meta.apple.stackexchange.com/questions/2772/cant-answer-a-protected-question-despite-having-sufficient-reputation</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2793"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The rep you earned linking your SE account doesn't count, unfortunately. You need to earn 10 rep points <em>on Ask Different organically</em> to be able to answer that question. You can get those points through voting, answering non-protected questions, asking questions, editing posts, etc.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6117" class = "comment">
				<p>Thanks Ian. I didn't realize (or remember) that those points were from linking accounts. I also don't think the difference was made clear in the notice or the "reputation" link. Might be an opportunity to improve the site.</p>
			</div>
			<div id = "comment-6118" class = "comment">
				<p>I agree. We'll look into editing the site text to make it clearer.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>