<html>
	<head>
		<title id = 'pagetitle'>Why no one view this question?
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/questions/124269/why-sometimes-my-launchpad-does-not-show-application-icons">My question</a> has just 4 views, I think my problem will be very common, but it just got 4 views, how could it be?</p>


<h1>ANSWERS</h1>
		<p>Please take in mind some users just follow certain tags. If you asked your question along with several users asking a question at the same time, your question might not hit the top of the page. Personally I look at the top and scroll down a bit - but yes, it's possible to miss questions.</p>

<p>If you want to draw more attention, you can <strong>start a Bounty</strong>.</p>


<p>The site only guarantees that new users posts get looked at. </p>

<p>In specific, your question is going to be extremely hard for someone to search for. It is tagged MacBook Air but it has nothing to do with the MacBook Air - that detail is secondary to the real issue you face. </p>

<p>I would tag it troubleshooting because you haven't documented any amount of troubleshooting and you might need that help the most. The next tag would be the specific component it's not working for you, LaunchPad. I would probably remove the MacBook air tag and replace it with OS X. </p>

<p>At that point someone only looking at tags for unanswered questions might eventually see your question. You would want to share a link to your question on Facebook or some social media and ask your friends to help you out. (See the share button next to the edit button for your post). </p>

<p>If then after a week, you are still not getting views then you might try to solve the problem yourself. You could edit how you try to solve the problem into the question and maybe someone would then be able to understand what little tidbit of advice they could offer to help you get closer to the solution. </p>


<p>Sometimes you have to self-promote to get an answer!</p>

<p>You have promotion options available from within the question to help get more visibility on it. Just below the body of the question, before the comments on the question itself start, you'll see:</p>

<blockquote>
  <p>share edit close delete flag</p>
</blockquote>

<p>Clickable text links like that. Click the 'share' link and you'll be given a direct link to the question that you can use to promote it on social media sites. There's also fast sharing icons for Google+, Twitter and Facebook available to quickly share the question on those social media sites.</p>

<p>I've had great luck driving answers to some of my tougher questions by promoting them on App.Net and Twitter. It helps if you have a reasonable following of Mac-savvy people on your social media outlets.</p>


	</body>
</html>