<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was my answer down voted, and most importantly why did it not require the user to leave a comment?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why was my answer down voted, and most importantly why did it not require the user to leave a comment?</h2>
<p>I am new here and am a little confused. Why are you allowed to down vote an answer without leaving a comment? That provides me with no information as to how to improve my answer. </p>

<p><a href="https://apple.stackexchange.com/questions/266556/is-this-safe-place-to-download/266559#266559">Is this safe to download and use Gutenprint driver for Mac from their site?</a></p>

<p>Any help is appreciated.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The down vote process asks people to consider leaving constructive criticism, but it isn't required. Sometimes there's nothing significant about a vote other than someone, somehwere on the internet didn't like the post. </p>

<p>or a cat is operating someone's browser and can't figure out how to take the down vote back:</p>

<p><a href="https://i.stack.imgur.com/lxx2G.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/lxx2G.jpg" alt="oh noes, what has I done?"></a></p>

<p>Other times, there's an obvious link to:</p>

<p>A) not enough research shown<br>
B) not enough specificity<br>
C) several questions being asked<br>
D) just not a useful question in one person's eyes</p>

<p>I don't think your answer is nearly as bad as the question. Maybe people felt virus total is spammy?</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>