<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why are my flags declined?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why are my flags declined?</h2>
<p>I flagged several comments under a legacy question but all the flags were declined.  I was under the impression, under SE guidelines, +1 and thanks were to be removed.  As a new member to this SE site I wanted to start contributing but it seems the rules are different.  Can a moderator shed some light on this topic?  Are thanks and +1 supposed to removed or not?</p>

<p>Reference: <a href="https://meta.stackexchange.com/questions/279449/should-1-and-thanks-comments-be-a-declined-flag">Should +1 and thanks comments be a declined flag?</a></p>

<p>Denied flags:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-macos-features-or-tips-and-tricks/6267#comment1376_414">Holy crap. That is seriously a hidden gem.</a></li>
<li><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-macos-features-or-tips-and-tricks/6267#comment1069_414">I didn't know about the "space" aspect -- very nice!</a></li>
<li><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-macos-features-or-tips-and-tricks/6267#comment3970_568">WOW!!!! I never knew this trick, thanks!!!</a> </li>
<li><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-macos-features-or-tips-and-tricks/6267#comment256352_568">Wow I had NO idea and I've owned macs for 6 years!</a></li>
<li><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-macos-features-or-tips-and-tricks/6267#comment305962_568">Woah, I never knew this worked for brightness, too! Thanks, @Florin!</a></li>
<li><a href="https://apple.stackexchange.com/questions/400/please-share-your-hidden-macos-features-or-tips-and-tricks/6267#comment12201_568">I think I love you.</a> </li>
</ul>

<p>I believe all but one are at least two years old.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>In general - comment flags for too chatty ar highly subjective. We don't have a large comment problem, so we're generally more lenient that large sites.</p>

<p>See <a href="https://apple.meta.stackexchange.com/questions/3103/why-were-these-too-chatty-flags-declined-on-some-1-comments">Why were these too chatty flags declined on some +1 comments?</a> for some recent discussion on this.</p>

<p>If you want to list some specific flags or hop in a chat room - we can look at specifics. Just @ me here or in the chat. The problem with robot flagging all comments that match a pattern is that there's benefit on sites where the proportion of users are new to the SE model is that they help explain how voting and accepting answers work. </p>

<p>If we were to take a strict "there shall be no chat, no thanks, no meta discussion in comments" my experience is that causes more harm than good, but I'm willing to look over some specifics. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I declined some of the flags raised on comments on this one question and its answers. As @bmike already pointed out we don't get so many comments on AD so we aren't that strict with removing them over time. And comments with upvotes (even they aren't worth anything) somehow raised enough interest Songhai people considered them worthy in a way. Also, and that applies especially to old questions and to CW type of questions/answers a lot of these comments add some small aspect of human exchange to the posts, which makes this long threaded Q&amp;As a lot easier to read (and throws a light on things which a lot of Apple users don't/didn't know a few years past). </p>

<p>In general flagging a comment as too chatty should IMHO only be used in really extrem cases (e.g. a user adding a lot of thank you comments or similar). Otherwise it just means that both the flagget and the mod handling the flag use a significant amount of time to flag posts/commands and evaluating these flags respectively, time which may also be used in improving the wording of an answer for instance. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>