<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Why does Ask Different have such a low voting percentage?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-783" class = "post">
			<h2>Question</h2>
			<div id="vote-783" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">24</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 311</p>
			</div>
				<h2>Why does Ask Different have such a low voting percentage?</h2>
<p>Ask Different seems to be one of the larger and more popular SE sites, yet the voting is on par with some of the smallest in-beta sites. Other than the hyper-popular "your favorite tip/trick" type question, it looks like most questions get between 0-3 votes and seems like answers get that as well. Even many accepted answers seem to only 1 or 2 votes.</p>

<p>Is there a way to encourage people to vote more often to encourage better answers and more competition among answers?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-783">Load Comments</button></br>
			<div id = "commentsection-783" class = 'collapse'>
			<div id = "comment-1431" class = "comment">
				<p>On a related note, I feel this is also related to the fact that we have just 2 10K+ users, and why we drop below 1K on the second page of users, not to mention the fact that we get to the 1-2K range on the first page.</p>
			</div>
			<div id = "comment-1432" class = "comment">
				<p>One guideline to go by when using any of the SE sites is that if the question was good enough for you to answer it, then it was worthy of a vote up. If those who answered a question would vote up a question, I think the numbers would look very different.</p>
			</div>
			<div id = "comment-1436" class = "comment">
				<p>It is the same problem we have on _Drupal Answers_, where high reputation users are less than in sites like _Stack Overflow_, or _Super User_.</p>
			</div>
			<div id = "comment-1441" class = "comment">
				<p>I agree, but it is not just the questions. Even answers on most questions seem to have 1 or 2 votes a lot of the time.</p>
			</div>
			<div id = "comment-1456" class = "comment">
				<p>I agree, I see many, many question that go un-voted, with several answers that are upvoted, but _no one has upvoted the question!!_ And @Philip people need to know more about that! (If the question was good enough for you to answer it, upvote it!)</p>
			</div>
			<div id = "comment-1505" class = "comment">
				<p>As a relatively new user of the site, I didn't realize that was a "best practice". Will start to do so from now on.</p>
			</div>
			</div>
				<textarea id = "speech-783" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-783">
					<img id="start_img-783" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-784"  class = "post">
				<h2>Answer</h2>
			<div id="vote-784" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One standing problem comes to mind;</p>

<p>I honestly feel that too little expertise visits this site. One of many reasons for this is that it's all cooped up in Super User. The subject matter of Ask Different and Super User overlaps, at least with regard to Desktops, and there are many many more users over there.</p>

<p>I need not say that plenty of talent exists here, but they are too few in number to reach the scope of as many questions we get, not for lack of trying.</p>

<p>There is a standing issue on this topic. Apple questions about Desktop functions (as opposed to iOS) will remain on Super User, because they are not off topic. Users do often vote/flag to move any/all Apple questions to Ask Different, and iOS questions are automatically (iOS, like Android/WebOS/Windows Phone 7, are all off-topic at Super User).</p>

<p>For a number of reasons; rep, history, etc. Too many users remain at Super User. Questions have moved there (and once to Server Fault, for a OS X Server question) because there was no suitable answer here on Ask Different.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-784">Load Comments</button></br>
			<div id = "commentsection-784" class = 'collapse'>
			<div id = "comment-1433" class = "comment">
				<p>Is there really a wealth of Mac expertise on Super User?</p>
			</div>
			<div id = "comment-1435" class = "comment">
				<p>http://superuser.com/questions/tagged/osx

It always seems like it.</p>
			</div>
			<div id = "comment-1437" class = "comment">
				<p>I've been trying to watch the questions tagged OSX (and all the Lion / SL / etc...) on SU and here. I don't really see a qualitative difference of the questions being asked or answered. Most questions are very basic, marginally researched, often duplicates. I don't know what the volume of mac questions is between the sites for the last three months, but I don't see much expert involvement in either place due to the quality of the questions. Until the "experts" step up to the plate, it's hard to know where they lurk.</p>
			</div>
			<div id = "comment-1440" class = "comment">
				<p>If that's the case, why not close them to enforce a "higher bar" for asking questions?</p>
			</div>
			<div id = "comment-1443" class = "comment">
				<p>I would certainly like to see the mods here take a stronger, more timely, and more proactive line on weeding out and closing poor-quality questions.</p>
			</div>
			<div id = "comment-1445" class = "comment">
				<p>I admit that I hate flagging for low quality reasons, so that bar for me is ridiculously low. It just seems insulting, with some sympathy points given to non-english users.

But on the flip side, I've found myself avoiding the site because I have to wade through the low-rep, tiny, no detail questions.

I guess I'll start flagging these things with less hesitation. Mods can always ignore (decline?) the flag.</p>
			</div>
			<div id = "comment-1446" class = "comment">
				<p>I don't see much down side to flagging and closing more marginal questions. The author gets _direct_ feedback on why it's not answerable/useful in the larger scheme. It still can be improved, seen in search, and reopened once it's been refined or otherwise dialed in. Especially on second or thirds marginal questions when I can leave a comment pointing out specific areas that could make it better... In the end - it matters not if SU has more expertise or we do - we can still curate new questions more carefully with the tools present today.</p>
			</div>
			<div id = "comment-1447" class = "comment">
				<p>Wait, can closed questions be edited? I love trying to salvage unclear questions, but I didn't realize that questions can be improved once they had been closed.</p>
			</div>
			<div id = "comment-1449" class = "comment">
				<p>What about questions like:

http://apple.stackexchange.com/questions/25019/how-to-simulate-right-click-in-apple-macbook-pro

I mean simply googling "right click mac" will give one more than enough information about a topic like that.</p>
			</div>
			<div id = "comment-1467" class = "comment">
				<p>@lemonginger That question was IMHO a perfect example of the "very basic, marginally researched, often duplicates" question referenced above. Yet it gets 6 upvotes and 4 answers. Sheesh.</p>
			</div>
			<div id = "comment-1901" class = "comment">
				<p>Allowing cross-posting of questions between Ask Different and Super User would be a great feature.</p>
			</div>
			</div>
				<textarea id = "speech-784" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-784">
					<img id="start_img-784" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-786"  class = "post">
				<h2>Answer</h2>
			<div id="vote-786" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Remember that voting requires 15 rep, though users with 1 rep can accept answers on their questions.</p>

<p>If you want to encourage voting, remember that voting starts at home! </p>

<ul>
<li><p><a href="http://blog.stackoverflow.com/2010/10/vote-early-vote-often/">http://blog.stackoverflow.com/2010/10/vote-early-vote-often/</a></p></li>
<li><p><a href="https://apple.stackexchange.com/users?tab=voters">https://apple.stackexchange.com/users?tab=voters</a></p></li>
</ul>

<p>Don't forget questions either; you get a max of 40 votes per day if you vote on at least 10 questions too:</p>

<p><a href="http://blog.stackoverflow.com/2011/05/vote-for-this-question-or-the-kitten-gets-it/">http://blog.stackoverflow.com/2011/05/vote-for-this-question-or-the-kitten-gets-it/</a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-786" class = 'collapse'>
			</div>
				<textarea id = "speech-786" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-786">
					<img id="start_img-786" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-789"  class = "post">
				<h2>Answer</h2>
			<div id="vote-789" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I consider myself a Mac expert in general, and I'm often not inclined to answer for a variety of reasons. The "very basic, marginally researched, often duplicates" stuff @bmike said is one. Some of that is new-user laziness, and I don't know what can be done on that.</p>

<p>The super-tweaky "How do I do this incredibly arcane thing in Terminal" questions put me off, because I'm not a command-line guy. Related are the answers that unnecessarily recommend a command-line approach (the "I've got a hammer called Terminal, and I shall use it to strike every nail" approach). I think those command-line Q's and A's tend to put off most Mac users, who have no interest in using Terminal, <em>ever in their lives</em>. I don't mean to offend you Terminal jockeys, really. But my 27 years of Mac experience tells me that people generally become Mac users because they don't want to deal with that kind of stuff.</p>

<p>There are certainly questions over on SuperUser that should be over here on Ask Different. That's an issue that I think is in SE employee's bailiwick (no, I'm not speaking for Dori here). I feel there is some cherry-picking of questions by the mods there, and they are holding onto questions that would find a good home here. </p>

<p>By the way, I've only started doing the "vote questions up that I answer" thing on a regular basis recently, partly because it seemed to me that it was a kind of logrolling, and I wasn't clear that it was not only permitted, but encouraged behavior.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-789">Load Comments</button></br>
			<div id = "commentsection-789" class = 'collapse'>
			<div id = "comment-1448" class = "comment">
				<p>Personally, I have no problems with arcane Terminal questions. While people that like the Unix based underpinnings of OSX may not be the majority of Mac users, they are a significant part and tend to have high quality questions and high quality answers (and can help on the "easier" questions, so attracting them and keeping them seems like a good thing to do.)</p>
			</div>
			<div id = "comment-1452" class = "comment">
				<p>I love that you are calling out answers that "go terminal" more because it's the best in the view of the answerer and not necessarily what the OP wants. I've personally fallen into that trap several times where I end up with a great answer - but not to the question asked so I have to go find that question (or ask it myself) rather than spew something that is correct in it's own merits, but _still wrong in relation to the specific question at hand._ To get my vote, a good answer has to be "correct by itself" and "appropriate for the asker's situation / frame of reference".</p>
			</div>
			<div id = "comment-1465" class = "comment">
				<p>@bmike Would you please consider running for mod sometime in the future? I like the cut of your jib.</p>
			</div>
			<div id = "comment-1466" class = "comment">
				<p>@lemonginger Please note that I'm not saying Terminal related questions shouldn't be welcome here. I'm saying that as a longtime Mac user (and a "super user" at that), they put me off. And I suspect that to new users who have never seen Terminal, they are even more off-putting.</p>
			</div>
			<div id = "comment-1468" class = "comment">
				<p>Thanks! I'm still new to the whole SE as anything but an occasional lurker. Thanks to voters, I've got a fair amount of the moderator tools already on this Apple corner of things.</p>
			</div>
			<div id = "comment-1482" class = "comment">
				<p>@bmike If there are two ways to answer a question (Terminal and GUI) I would prefer to include both approaches. This is because I prefer to think of two audiences when answering questions: the original asker and anyone else who may have a similar question. There will more than likely be someone from both camps in the audience for any general question.</p>
			</div>
			</div>
				<textarea id = "speech-789" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-789">
					<img id="start_img-789" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-796"  class = "post">
				<h2>Answer</h2>
			<div id="vote-796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Part of the problem as I see it is being stuck in a "low-vote" trap. If good answers tend to get 1 or 2 votes, people won't vote them up after that. Same with good questions. It requires some consistency in trying to set new standards for good with questions and answers getting 10+ votes if they are well researched and presented.</p>

<p>It is really frustrating for new people stopping by (including me) to take the top to write out an answer and get no feedback, sometimes not even from original poster who never bothers to check back.</p>

<p>And I agree with trying to cull the low quality questions, some days it seems as if over 25-50% of the questions could be answered with a simple google search.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-796">Load Comments</button></br>
			<div id = "commentsection-796" class = 'collapse'>
			<div id = "comment-1516" class = "comment">
				<p>If a person decided to answer some of those low-quality questions (not the awful help-vampire ones, just the not so awful ones) is it worth giving hints and tips; like people would answer a homework question?  Rather than just giving the answer, maybe just giving example search terms, or an idea of what preference pane to look at?</p>
			</div>
			</div>
				<textarea id = "speech-796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-796">
					<img id="start_img-796" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-821"  class = "post">
				<h2>Answer</h2>
			<div id="vote-821" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've seen a few comments which could have been answers.  When I see these in future I'll leave a reply comment suggesting the comment be turned into an answer, and offering a +1.</p>

<p>It might be useful to start commenting and voting on more questions - "+1 for <em>example example example</em>" which should encourage voting and let people see what kind of thing gets voted on.</p>

<p>That should really only be a short term thing, just to get the voting started.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-821">Load Comments</button></br>
			<div id = "commentsection-821" class = 'collapse'>
			<div id = "comment-1708" class = "comment">
				<p>This is an ironic post</p>
			</div>
			</div>
				<textarea id = "speech-821" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-821">
					<img id="start_img-821" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-877"  class = "post">
				<h2>Answer</h2>
			<div id="vote-877" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As a brand new user I have definitely felt there is less voting activity here than I expected. I thought that with all the attention around Apple products right now that any decent questions would get a lot of attention and votes.</p>

<p>I asked a question that I think is pretty relevant to many of users, is not obvious in documentation, and is very answerable by somebody who uses the feature more than I do:</p>

<p><a href="https://apple.stackexchange.com/questions/28457/exactly-what-are-the-limitations-of-geofenced-reminders-in-ios5">Exactly what are the limitations of geofenced reminders?</a></p>

<p>For a while it sat with no votes, though over time it is slowly collecting a few. I guess my assumption is that a lot of people just use this as a resource and don't feel like they owe something to the community. Hard to determine/fix that though - and maybe it is too early for me to know...</p>

<p>Another surprise is that nobody has answered the question quickly. On another (private) stackexchange site I use any time somebody posts a question that could be answered in a straight forward way by doing a bit of testing - people pounce on it for the opportunity to gain rep!</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-877" class = 'collapse'>
			</div>
				<textarea id = "speech-877" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-877">
					<img id="start_img-877" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1025"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1025" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't use the other SE sites much, at leat not the technical ones, but if they are anything like my experience with many other forums it's very common to see multiple people offering the same answer.  This is particularly common where there is some reward on offer for providing answers, in the guise of reputation points or whatever.  I don't personally see this as a good thing, as people will often reply to the questions directly without checking to see if someone has already provided the same answer as you.  This is as bad to me as the OP not googling what should be a simple questions.</p>

<p>I'm not sure what the etiquette is on the other sites, or if I do things wrongly on here, but if I see an interesting question, and find that it has already been substantively answered along the lines of what I might have said, I won't bother with replying, but would just upvote the existing reply.  This might explain the lower answer rate on here, but not the lower vote rate (if this really exists, surely someone can provide metrics to prove it's not just anecdotal).</p>

<p>As for questions, I generally upvote ones that I can't answer and would like to know the answer to, even if it's just out of curiosity, but if it's something either daft, duplicate, simple or just plain edge case and of little interest to me, I won't upvote it, even if it's perfectly valid for the OP and meets the site rules.</p>

<p>Overall, I would hazard a guess that the users of this site are generally just a little less interested in ego stroking, and vote on a stricter criteria, and as such are voted on by like minded posters.  I don't care about my score, but I do like it when I have an answer accepted, even if no-one else upvotes it.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1025" class = 'collapse'>
			</div>
				<textarea id = "speech-1025" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1025">
					<img id="start_img-1025" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>