<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why this question was down-voted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why this question was down-voted?</h2>
<p><strong><a href="https://apple.stackexchange.com/q/45386/128">Is there any indication that Apple/iCloud will offer a  photo collection hosting  service, comparable to Picasa Web Albums?</a></strong></p>

<p>Why this question was down voted two times? I think it is a legitimate question! 
Or is it a bad question, because actually no real answer exists (because nobody know if Apple provides a photo hosting in the future again)?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This is a open-ended question, not based on an actual problem.
Answers will rather reflect a debate than come to conclusions.
This is not the aim of the stackexchange network and such questions do not fit the Q&amp;A format.</p>

<p>Like the <a href="https://apple.stackexchange.com/faq">FAQ</a> says,</p>

<blockquote>
  <p>If your motivation for asking the question is  I would like to
  participate in a discussion about ...."., then you should not be
  asking here. However, if your motivation is  I would like others to
  explain .... to me , then you are probably OK.</p>
</blockquote>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>The increase in questions of lower quality brought about by the iPad promotion has everone's shields up so the down voting may be more rigorous than it was previously. </p>

<p>You nailed the reason for the down votes of this one <em>there is no objective answer</em>. Matt's response and the FAQ should fill in the blanks but a <em>litmus test</em> that I sometimes like to apply is that on <strong>Ask Different</strong> we want you to tell us what you <em>know</em>, not what you <em>think</em>.</p>

<p>Granted this test isn't black and white. Some questions do leave room for opinion, and sometimes there are different <em>correct</em> (or at least <em>workable</em>)solutions that might be subject to valid debate. However, the more subjective (or worse still, <em>speculative</em>) a resulting answer is likely to be, the less likely the question will meet the test for <strong>quality</strong>.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>