<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why is the edit link displayed but is uneditable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1565" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::48</h3>
				<h2>Why is the edit link displayed but is uneditable?</h2>
<p>Recently returned to active participation in Ask Different so bear with me if rules have changed.</p>

<p>Saw this post <a href="https://apple.stackexchange.com/questions/80135/help-i-need-help-here">Restoring a jailbroken iPhone</a> which IMO needed editing.
Though the edit link is displayed, it's unclickable. Only share is allowed.</p>

<p>Why?</p>

			</div><h3>Comments</h3>
			<div id = "comment-2934" class = "comment">
				<p>Interesting.. The 'edit' option is disabled on this question as well (not that I was going to edit it). Have they just disabled it?</p>
			</div>
			<div id = "comment-2937" class = "comment">
				<p>Possible Duplicate:  http://meta.apple.stackexchange.com/questions/999/why-dont-i-see-an-edit-link-below-the-post-on-this-page</p>
			</div>
			<div id = "comment-2938" class = "comment">
				<p>Daniel, it's a duplicate but Mark's answer is better (concise and helpful). Possible to merge both questions for future reference?</p>
			</div>
			<div id = "comment-2954" class = "comment">
				<p>@Phorce It says "Suggested edits are not allowed on non-tag-wiki posts on meta sites" when you hover it on meta, so I guess that makes sense.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1565">Record</button>
				<button class="record-stop" id="stop-1565">Stop</button>
				<p id="recording-1565"></p>

<h1>Answers</h1>
			<br><div id = "ans-1566"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The question had a pending edit by a user with low reputation (&lt;2000). This has to be approved by two users with reputation >=2000.</p>

<p>As both @Globalnomad and @Phorce have &lt; 2000 you cannot edit or approve it so you have to wait until the pending edit is approved. (I have approved it so only one more needed now)</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2935" class = "comment">
				<p>Ah ok, thanks for answering. Much appreciated.</p>
			</div>
			<div id = "comment-2936" class = "comment">
				<p>I've cleared the edit queue, so @Globalnomad or others can fix it the rest of the way.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1566">Record</button>
				<button class="record-stop" id="stop-1566">Stop</button>
				<p id="recording-1566"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>