<html>
	<head>
		<title id = 'pagetitle'>Why are some flags not highlighted in red?
		</title>
	<head>
	<body id = 'pagebody'><p>I noticed today that most of the posts in my "Flagged Posts" tab are highlighted in a light red shade but one of them weren't highlighted.</p>

<p>Does it mean anything or it is a site bug?</p>

<p><img src="https://i.stack.imgur.com/QLK3E.png" alt=""></p>


<h1>ANSWERS</h1>
		<p>Posts highlighted in red have been deleted. Posts not highlighted are still visible to ordinary users on the site.</p>


	</body>
</html>