<html>
	<head>
		<title id = 'pagetitle'>Why do some users have a "x% accept rate" displayed by their name when they ask a question and others don't?
		</title>
	<head>
	<body id = 'pagebody'><p>I've noticed on pages like <a href="https://apple.stackexchange.com/questions/24378/is-it-save-to-delete-my-first-project-rcproject-file-in-the-imovie-projects-f">this one</a> or <a href="https://apple.stackexchange.com/questions/24415/legality-of-itunes-sharing">this one</a> that the person asking the question has a message stating "x% accept rate", but on other pages like <a href="https://apple.stackexchange.com/questions/24409/startup-items-no-longer-load-in-lion">this one</a> or <a href="https://apple.stackexchange.com/questions/24376/preview-often-does-not-allow-import-from-ipad">this one</a> there is no such message. What determines whether the accept rate is posted?</p>


<h1>ANSWERS</h1>
		<p>The site wants to wait until enough of a sample is present.</p>

<p><a href="http://blog.stackoverflow.com/2009/08/new-question-asker-features/">The official criteria of accept rate display</a> is a little involved, but basically you need a few quality questions (after some question types are filtered out) before it shows your rate.</p>


	</body>
</html>