<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why don't I see an "edit" link below the post on this page?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-999" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::57</h3>
				<h2>Why don't I see an "edit" link below the post on this page?</h2>
<p>This question:
<a href="https://apple.stackexchange.com/questions/36760/cant-authorise-computer-to-play-itunes-songs">Can&#39;t authorize computer to play iTunes songs</a></p>

<p>could use some editing, but I don't see an "edit" link below the question as I see on other questions.</p>

<p>I tried editing the URL to match the URL I see when editing an article (<a href="https://apple.stackexchange.com/posts/36760/edit">https://apple.stackexchange.com/posts/36760/edit</a>) but I get a "Page Not Found" error for that URL.</p>

<p>What happened with this question? Is it a website error, or am I not allowed to edit it for some reason?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1000"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>There was already a pending edit. I have approved it and you should be able to submit your own edit now.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-1814" class = "post">
				<p>Ahh, thank you. I didn't realize the edit link would be hidden due to pending edits.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>