<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why aren't these two questions considered duplicates?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-523" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::75</h3>
				<h2>Why aren't these two questions considered duplicates?</h2>
<p>I flagged a question for moderator attention today because I was 90% sure it was a duplicate of another question on Super User, but the flag was marked "invalid".  Could you explain why these two questions are not considered duplicates?</p>

<p>Original question @ Super User:</p>

<p><a href="https://superuser.com/questions/143703/is-it-possible-to-somehow-hide-growl-and-herald-when-vlc-runs-fullscreen">Is it possible to somehow hide Growl and Herald when VLC runs fullscreen?</a></p>

<p>New question @ Ask Different:</p>

<p><a href="https://apple.stackexchange.com/questions/13878/disable-growl-notification-when-a-certain-app-is-running">Disable Growl Notification When a Certain App is Running</a></p>

<p>The newer question is slightly less specific in the title, but in the text of the question, the user says: <code>I don't want to get the notifications while watching a movie.</code>  So ultimately, the answer will be the same.</p>

<p>I'm not trying to be argumentative -- I just want to know why this is not considered a duplicate so I can flag better in the future.  But also let me know if you <em>do</em> think the second question is a duplicate.</p>

<p>On a related note, if you are a moderator, how closely do you inspect flagged questions before making a decision?  In this case, would a cursory glance at the two question titles be enough for you to declare them not duplicates?</p>

<p>Thanks!</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-524"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>If both questions were on Ask Different then, yes, they're similar enough that one would likely be closed as a duplicate of the other. However, in this case, as the two questions are on separate sites, it's not possible to close one as a duplicate of the other.</p>

<p>Even though the two sites are in the same network, Ask Different functions completely separately from Super User, which means that some content duplication is not only inevitable but desirable, as it means that people won't have to search all across the network for answers to their questions.</p>

<p>With that in mind, I hope that in the event that you notice duplicate questions here on Ask Different that you will continue to let moderators know.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-947" class = "comment">
				<p>That clears it up -- thanks, Kyle!</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>