<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why do I need 50 rep to post a comment?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2767" class = "post">
			<h2>Question</h2>
			<div id="vote-2767" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do I need 50 rep to post a comment?</h2>
<p>I think it doesn't make any sense, if there are question that have already been answered but I'm not fully satisfied I would like to post a comment to receive further explaining, but I can't. I think it's ridicolous</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2767" class = 'collapse'>
			</div>
				<textarea id = "speech-2767" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2767">
					<img id="start_img-2767" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2767">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2768"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2768" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The reputation system works to balance the moderation load with allowing new people to learn the ropes by performing the easier tasks of asking and answering as they start to use the sites.</p>

<p>There have been many requests to change this limit. Some have asked for it to be made more restrictive. I'm guessing you would like it to be less restrictive. This is the place to make a concrete proposal if you wish once people weigh in on discussion of the current implementation.</p>

<hr>

<p>As I see it - the restriction is working perfectly. If you are not satisfied with a current answer, the best course of action is to ask a new question - linking to the existing answer and elaborating specifically why your problem isn't solved.</p>

<p>If you asked for clarification in the comments or need further explaining - doing that in comments is generally a poor way to request details. It can work on occasion - but generally runs into issues and back and forth and leaves the comments noisy with side discussion.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2768" class = 'collapse'>
			</div>
				<textarea id = "speech-2768" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2768">
					<img id="start_img-2768" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2768">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>