<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Why can't I upvote a post from the Low Quality Posts moderation queue?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2557" class = "post">
			<h2>Question</h2>
			<div id="vote-2557" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why can't I upvote a post from the Low Quality Posts moderation queue?</h2>
<p>Once in a blue moon there is a good question in the Low Quality Posts moderation queue. Why can't I upvote them without opening the question in a new tab? Am I just missing something? It seems like on this site especially we need to be encouraging MORE upvotes, not making them difficult.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2557">Load Comments</button></br>
			<div id = "commentsection-2557" class = 'collapse'>
			<div id = "comment-5769" class = "comment">
				<p>I've turned this into a feature request, it's something I miss as well now and then.</p>
			</div>
			<div id = "comment-5770" class = "comment">
				<p>@patrix That is a duplicate http://meta.stackexchange.com/questions/191276/upvoting-on-low-quality-posts-in-review-tasks and I'll be there will be more ones SE have rejected</p>
			</div>
			</div>
				<textarea id = "speech-2557" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2557">
					<img id="start_img-2557" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2558"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2558" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This gives preferential treatment to good, short posts by giving them more exposure, which would introduce extra voting on shorter posts, encouraging users to post shorter posts so that they are upvoted in the queue.</p>

<p>I don't think this is something that should be implemented.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2558" class = 'collapse'>
			</div>
				<textarea id = "speech-2558" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2558">
					<img id="start_img-2558" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>