<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was the gadgets site merged into this one?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-118" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::120</h3>
				<h2>Why was the gadgets site merged into this one?</h2>
<p>I have a feeling this will be somewhat controversial, but to be perfectly frank it seems like the Apple.SE site and the community that was forming around it was quite OS X centered.  Now with the huge influx of iOS related questions, the site seems disjointed and less focused. </p>

<p>Personal opinion: A lot of OS X users don't have much interest in iphone or ipod, and generally ignore these questions, but it's hard when so many are suddenly about these devices.</p>

<p>Why did the sites need to be merged in the first place? </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-213" class = "post">
				<p>+1 for wondering about merging OSX and iOS! I have an iPhone but no Mac. In my view, the iOS questions kind of drown in the OSX "noise" here. `OSX != iOS` !</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-119"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I believe there wasn t much activity going on on Gadgets anyway and most were iPhones/iPods/iPads.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-190" class = "post">
				<p>A lot (most?) of the questions were about Apple gear and Android gear. (Obviously, only *Apple questions* were merged here.) Reasons why they decided to close it are [detailed in the blog](http://blog.stackoverflow.com/2010/09/pruning-season/).</p>
			</div>
			<div id = "comment-264" class = "post">
				<p>@Jonik: your comment is really the true answer to this question :)</p>
			</div>
			<br><div id = "ans-120"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p>I think it was a pretty logical thing to do to migrate iPhone, iPad, and other Apple gadget questions here after the Gadgets site was <a href="http://blog.stackoverflow.com/2010/09/pruning-season/">closed</a>. Why? <strong>This is the only SE site where they are on-topic</strong>.</p>

<p>If we go back and look at the <a href="http://area51.stackexchange.com/proposals/151?phase=definition">Apple site proposal</a> at Area 51, there is nothing there that defines this site as "OS X only" or "OS X mostly" (although it <em>is</em> true that the top on-topic examples are Mac/OS X ones). (Also, if Apple SE actually was "Mac / OS X only", that would mean there was no need for it in the first place, as Mac and OS X are perfectly on-topic at <a href="https://superuser.com/">Super User</a>.)</p>

<p>If you consider <a href="http://stackoverflow.com">Stack Overflow</a>, is it becoming "disjointed" with the huge influx of questions on Ruby or Python that the average C# programmer really doesn't have much interest in? By the way, <a href="http://blog.stackoverflow.com/2010/09/merging-season/">Spolsky discusses</a> the SE scope issue in the latest blog entry; interesting read.</p>

<p>Bottom line: if you don't care much about iOS related questions, you can easily ignore them. (You can tweak your prefs so that you don't even <em>see</em> those questions, if you want to.) I don't think merging in those questions does harm to the community, at least in the long run.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-193" class = "post">
				<p>I 100% agree with you :D</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>