<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why was my flag for "not an answer" declined?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1629" class = "post">
			<h2>Question</h2>
			<div id="vote-1629" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">23</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 724</p>
			</div>
				<h2>Why was my flag for "not an answer" declined?</h2>
<p>I've been declining a lot of flags about "not an answer" and wanted to ask a straw question to explain why. Pretend I just had my flag declined and am here to ask WTF!?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1629">Load Comments</button></br>
			<div id = "commentsection-1629" class = 'collapse'>
			<div id = "comment-3031" class = "comment">
				<p>If I understand you correctly, we should focus on improving (perceived) bad questions and answers with down votes instead of first resorting to flagging for e.g. as "not an answer"?</p>
			</div>
			<div id = "comment-3032" class = "comment">
				<p>@Globalnomad In many cases - yes. Answer down votes to cost you -1 so I understand if people refrain from that except for supremely poor examples of a post, but unuseful and vague / confusing questions can be voted without any reutation penalty. You can look at the mods as we regularly comment (hopefully in a constructive manner) on poor posts if you want to try your hand at that option.</p>
			</div>
			<div id = "comment-3033" class = "comment">
				<p>@bmike will do. Thanks. As a newbie, I'm still learning the correct way (i.e. not one that leave mess for others to clean up) so any help is appreciated.</p>
			</div>
			</div>
				<textarea id = "speech-1629" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1629">
					<img id="start_img-1629" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1630"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1630" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">22</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>TL;DR - moderators generally don't delete posts until they have several down votes or constructive comments if there's even a hint of an answer contained in the post.</h2>

<p>I'm seeing a lot of "not an answer" flags when there are bad answers, answers that lack a reference, wrong answers, or answers that people <em>presumably</em> disagree with or have a pet peeve with certain words.</p>

<p>In a nutshell:</p>

<ul>
<li>Don't flag if you don't like the answer</li>
<li>Don't flag if the post is an answer, but it's wrong</li>
<li>Don't flag if some small part of the answer seems to indicate "me too" since a small edit can fix that and reinforce the part of the answer that is relevant.</li>
</ul>

<p>Instead:</p>

<ul>
<li>Vote down rather than flagging it</li>
<li>Do comment or edit wrong posts to make it right or call out <em>politely</em> why you feel it's wrong. Edit when the wrong is subjective and/or minor, comment for clarification when the wrongness is subjective or opinion-based. </li>
</ul>

<hr>

<p>On the moderation side, here is how we tend to process things:</p>

<p>Before handling a flag of "not an answer", we pause to look critically and assess the question. Since we want to optimize for questions that allow for (or perhaps even demand) good answers - everyone should be more <a href="https://apple.stackexchange.com/a/90704/5472">interested in fixing the question</a> if that's the real problem. Rather than delete an answer that points out the question needs help, let's use the tools to fix a question or guide someone that is attempting to move the discussion forward and only delete an answer if it truly is not of better quality than the question itself.</p>

<p>As moderators, we try to keep some order in terms of deleting things that are actually offensive, mean spirited or blatant spam <em>(spam - n. advertising that is either repetitive or totally not relating to the question)</em> . And we are also here to ensure that criticism of specific choices or functions is constructive as opposed to be unsubstantiated accusations or blowing off steam at someone else's expense, so be sure to use the correct flag if that's your primary complaint with a specific post.</p>

<p>Here's a great post that should be flagged as not an answer.</p>

<p><img src="https://i.stack.imgur.com/MFfyN.png" alt="enter image description here"></p>

<p>The only way that would be an answer is if someone asked an off-topic question and we would want a flag on the question since I can't really blame the answerer for a mis-placed question.</p>

<p>Here is what a moderator sees when declining a flag when "not an answer" is in play:</p>

<p><img src="https://i.stack.imgur.com/yq85f.png" alt="enter image description here"></p>

<p>So, as you can see, <strong>even if an answer is totally wrong</strong>, that's <em>not enough for us to delete it in almost all cases</em>. It has to be unsaveable by an edit and we like to see that the bad answer has a down vote or two and hopefully a constructive comment before we like to step in and summarily delete an answer. Even totally wrong answers with a polite, concrete rebuttal is of great use to the community. </p>

<p><strong>Think how many people with a similar wrong answer in their mind</strong> could be helped if we kept all the wrong answers online, searchable, but properly down-voted and explained as to how and why the post is incorrect.</p>

<p>Since our site has so few trusted users, the reopen queue is not maintained well, and when a moderator deletes something, it's extremely rare that anyone will see it, let alone have a chance to fix it.</p>

<p>The next time you flag something as "not an answer" - do a check to see if it can instead be voted / commented if the poster has clearly tried to move the discussion forward. Not all answers are right from the get-go, but we need to give new users and the collaborative editing process a chance for some answers rather than just deleting them outright. If a post shows any effort to help others learn, it should not be flagged or deleted.</p>

<p>If you're reading to this point, realize that when you don't comment and don't vote and don't edit before you flag a post as not an answer, you haven't shown any care and just tossed your perceived problem to the moderator team to handle. Moderating is what we signed up to do as volunteers, but the reality is that when 30 flags for NAA lack any effort at community moderation, your flag however well intentioned, can become a problem. </p>

<p>We'd like to avoid patterns of flagging things as NAA without performing any moderation of the posts in question. Try to not load the flag queue with things that you can start to resolve if the community has given you enough reputation to start moderating these posts via vote, comment and edit privileges.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1630">Load Comments</button></br>
			<div id = "commentsection-1630" class = 'collapse'>
			<div id = "comment-3034" class = "comment">
				<p>Are these directly from flags or the review queues "Recommend for Deletion" ?</p>
			</div>
			<div id = "comment-3035" class = "comment">
				<p>This is from the combined flagging queue and not from any review queue. Now, the contrived example in the post would have shown up in the normal review queue since it was a first post by a new user and was so short as to be flagged for systematic review, but the point of the post was to address intentional flags for "not an answer" by site users.</p>
			</div>
			<div id = "comment-3055" class = "comment">
				<p>Must... resist... urge... to ironically flag this answer...</p>
			</div>
			<div id = "comment-3056" class = "comment">
				<p>Performance art is tolerated much better on meta so why not scratch your flagging itch.</p>
			</div>
			<div id = "comment-3137" class = "comment">
				<p>@bmike - should't that answer NOT be flagged as "not an answer" but as "spam"</p>
			</div>
			<div id = "comment-3138" class = "comment">
				<p>@mark Yes - spam is a subset of not an answer and depending on how often that poster is answering with the same item and whether they have disclosed their relationship with the product. It's more easy to delete these when it's truly not an answer, since that needs no other qualifiers that spam does have. Also, spam has additional sanctions to the poster whereas not an answer just gets deleted if it's not attempting to move the question forward with some relevant details.</p>
			</div>
			<div id = "comment-6033" class = "comment">
				<p>Could you explain why my flag for this one has not had any result?  I think the only way to fix it is to put the answer with the question it belongs to, which is really totally different than the one it is under now.   http://apple.stackexchange.com/questions/2794/is-there-a-list-somewhere-of-all-the-special-characters-i-can-type-using-the-opt/121294?noredirect=1#comment275007_121294</p>
			</div>
			<div id = "comment-6034" class = "comment">
				<p>@bmike seeing the screen in the other answer http://meta.apple.stackexchange.com/a/2013/237 spam should definitely not be flagged as not an answer but as spam int is not a subset of not an answer</p>
			</div>
			<div id = "comment-6036" class = "comment">
				<p>What happens if I flag this answer as "not an answer"? Will the whole Stack Exchange break?</p>
			</div>
			</div>
				<textarea id = "speech-1630" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1630">
					<img id="start_img-1630" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2013"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2013" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As a counterpoint (I would just comment, but I can't put images in comments):</p>

<p>This is what we see on the flagging page:</p>

<p><img src="https://i.stack.imgur.com/7J5Pq.png" alt="enter image description here"></p>

<p>Under "it is not an answer" we see "It should possibly be an edit, a comment, another question, or deleted altogether". It sounds like you are considering all the flags as requests for deletion when the flagging page mentions 3 other options. </p>

<p>I will try to start commenting and voting rather than flagging (except for spam) but I am confused about the phrasing the flagging interface offers.</p>

<p>I think a tangential confusion stems from new users not being able to comment and so they go to the answer field (or maybe they don't even see the comment option, but even if they did it isn't an option)</p>

<p><sub> and yes, this should probably be flagged because it isn't an answer :D</sub></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2013">Load Comments</button></br>
			<div id = "commentsection-2013" class = 'collapse'>
			<div id = "comment-3870" class = "comment">
				<p>This is tagged discussion and meta is very different - your posting here is awesome and perfectly intended / expected. I would say - we might need to have a discussion about _when_ to flag something as opposed to just voting / commenting / or voting to close a question. Let's see if you can post some items to chat where you're not certain how (or if) to flag and we can see if discussing those specific instances helps you put the guidelines into action (and also helps us moderators be sure we're on the same page handling flags).</p>
			</div>
			</div>
				<textarea id = "speech-2013" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2013">
					<img id="start_img-2013" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-2424"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2424" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I tend to drop a line into the 'other' category if there is some doubt, if the post needs simply a more experienced eye cast over it for confirmation, or if it definitely needs migrating to the question body itself; a task I'm assuming only mods can do. </p>

<p>I do wish there was a sub-heading for 'not an answer' to split the 3 possibilities -  comment, new question, delete - because 'not an answer' in itself is a tad vague.<br>
I'm fully aware that being a lousy answer doesn't qualify it for deletion, so I tend to down-vote &amp;/or post a comment on those; but some of them are frankly far less clear than a question we would have all flagged to close within an hour.</p>

<p>Also, being an 'answer' there's no <em>close</em> or equivalent voting available, unless [I think] it was already in the LQP review queue (correct me if I'm wrong on that), so the only option sometimes is to throw it into the mod queue.  </p>

<p>I constantly keep my copy/paste cheat-sheet of the 'close options' open on my desktop to throw into some of the more obvious disasters ;-)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2424" class = 'collapse'>
			</div>
				<textarea id = "speech-2424" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2424">
					<img id="start_img-2424" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>