<html>
	<head>
		<title id = 'pagetitle'>Why has my flag weight turned to decimal points?
		</title>
	<head>
	<body id = 'pagebody'><p>I just looked at my flag weight and it has a weird number:</p>

<p><img src="https://i.stack.imgur.com/F8Fin.png" alt="Decimal flag weight"><br>
Is it supposed to be a decimal number? Or is this a bug?</p>


<h1>ANSWERS</h1>
		<p>This is normal. To quote a <a href="https://meta.stackexchange.com/questions/80170/what-is-flag-weight/80178#80178">MSO post</a>:</p>

<blockquote>
  <p>Because flag weight above 500 does not increase in a linear fashion, decimal places are shown for precision purposes and to show you how your flag weight is changing.</p>
</blockquote>


	</body>
</html>