<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why doesn't AskDifferent Reviews have tests?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1569" class = "post">
			<h2>Question</h2>
			<div id="vote-1569" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why doesn't AskDifferent Reviews have tests?</h2>
<p>I have stopped by the review page on StackOverflow a few times, and noticed that they give test questions and answers for the reviewer to catch - typically flag - correctly. </p>

<p>This particular one was in the Late Answer review queue:
<img src="https://i.stack.imgur.com/U9jAC.png" alt="Late Answers test"></p>

<p>Obviously, it is a post worthy of a moderator flag. I saw that and clicked to flag it, but then was told that I passed the test. </p>

<p>I think this is a really nice feature: would it be possible to have on AskDifferent as well, or have I just never been tested for some reason?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1569">Load Comments</button></br>
			<div id = "commentsection-1569" class = 'collapse'>
			<div id = "comment-2942" class = "comment">
				<p>The main stack overflow has slightly different rules for review as well as orders of magnitude more traffic, flags, posts, etc... so some things we see on a blue moon happens daily or even hourly on Stack Overflow. Since this is something more geared to the site owners, we might need to wait for them to answer even if it's a vague - we're not going to document exactly how tests work to prevent gaming them.</p>
			</div>
			</div>
				<textarea id = "speech-1569" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1569">
					<img id="start_img-1569" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1569">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1570"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1570" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As @bmike says each site does this differently. In Stack Overflow the tests were added because there were many users trying to get review badges by just clicking Looks Good even when the question was obviously bad or vice versa, These questions attempt to catch those doing this. See several Meta Stack Overflow questions</p>

<p>In Ask Different we do not have enough reviews for people to get the higher review badges (ie requiring more that one review so there is no incentive to game the system by just pressing the button without actually reviewing.</p>

<p>Also I haven't seen any complaints in Ask Different about incorrect reviews.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1570">Load Comments</button></br>
			<div id = "commentsection-1570" class = 'collapse'>
			<div id = "comment-2944" class = "comment">
				<p>That makes sense. Thanks for the info.</p>
			</div>
			<div id = "comment-2945" class = "comment">
				<p>We are working to point out things that we catch when looking at the review history - especially if there is a pattern of people choosing to close a question as "too localized" for instance when that reason doesn't really apply. I agree we don't have large problems, but our reviews could be better in some cases.</p>
			</div>
			</div>
				<textarea id = "speech-1570" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1570">
					<img id="start_img-1570" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1570">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>