<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was my co-workers answer deleted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1486" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::55</h3>
				<h2>Why was my co-workers answer deleted?</h2>
<p>A co worker (who sits in front of me at work) signed into apple.stackexchange.com and posted an answer here: <a href="https://apple.stackexchange.com/q/18733/1337">Can the Kinect be used as a control interface for Mac OS X?</a></p>

<p>His answer is no longer present.  I'm not sure if his account is still a member either.</p>

<p>My question is: Why was his answer removed?  I'm trying to encourage him to become an active user of this site.</p>

<p>Did I loose any rep for this?  I made an edit to his answer to include a picture but that was removed too.  If I was marked as a spammer in the past then I would suffer an "invsible" rep loss that won't appear in my history.  This happened once on StackOverflow.</p>

<p>I'm just asking for the mods to look into this and let me know (since I'm trying to be a good user)</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2789" class = "comment">
				<p>Thank you for helping others find the site. There is no invisible rep or even a lag in showing when someone's reputation changes, so perhaps your past experience was due to the scheduled nature of reputation adjustments and bugs in the system.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1487"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>The only deleted "answer" on the question is this one:</p>

<blockquote>
  <p>I'm interested in seeing this but I don't have enough reputation to +1 this.
  Just found this perusing the web. Looks very much like Kinect for Mac.
  [link]</p>
</blockquote>

<p>This isn't an answer to the question. Things posted as answers that aren't answers get deleted. I don't see anything with a picture. Your friend should be able to answer again, and this time, you can post a link to either their account or to the answer / edits and we can see what might have happened. Is there any chance you are linking to the incorrect question?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2790" class = "comment">
				<p>It's OK I thought there was a better answer there ...  Thanks</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>