<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why are AskDifferent and AskDifferentMeta not retinafied yet?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1553" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::112</h3>
				<h2>Why are AskDifferent and AskDifferentMeta not retinafied yet?</h2>
<p>Being sites for Apple related questions, you would think that AskDifferent and AskDifferentMeta would be retinafied by now. But they aren't. And they look terrible on retina MacBook Pros! </p>

<p>Are there plans to do this any time soon?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2901" class = "comment">
				<p>I do know all 94 http://stackexchange.com sites are designed and maintained by one designer. Even if this is on the roadmap, it might be out a ways yet. The site owners see questions on this meta, so an answer more recent than this [comment from May 12](http://meta.stackexchange.com/questions/131045/optimise-stack-exchange-user-flair-for-retina-displays) or whether the [job opening for a product designer](http://blog.stackoverflow.com/2012/10/join-the-stack-exchange-team-were-hiring/) to work with [Jin](http://stackexchange.com/users/21721/jin) has been filled might let them schedule this work</p>
			</div>
			<div id = "comment-2902" class = "comment">
				<p>Also, would you consider listing some specific items you would like to see scaled for retina? I'm going to edit the language since I see things as being able to look better and more precise to match the text since terrible is in the eye of the beholder. Some people love low resolution artwork :)</p>
			</div>
			<div id = "comment-2907" class = "comment">
				<p>I am not happy with the edit but... okay.</p>
			</div>
			<div id = "comment-2908" class = "comment">
				<p>Feel free to revert my edit, but also have a look at the FAQ - this site is very much community edited and some of the specifics about your assumptions didn't fit for everyone here.</p>
			</div>
			<div id = "comment-2909" class = "comment">
				<p>Even so the first rule of edits is "respect the original author". That implies not diluting or changing the sentiment of the question.</p>
			</div>
			<div id = "comment-2910" class = "comment">
				<p>If you had said "I would expect" instead of implying that everyone here "you would expect" I wouldn't have chosen to change the sentiment and tone of your question. Seriously - just edit it back if you feel you want a more cranky tone and are deprived of that voice.</p>
			</div>
			<div id = "comment-2911" class = "comment">
				<p>"You would think/expect" is just an idiom; not to be taken literally. I am reverting the edit.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1554"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>It is on my todo list for this year. When I do it'd be rolling out for all sites at once.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2904" class = "comment">
				<p>Awesome! Thanks for the confirmation that it's on the plate for sometime in 2013.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>