<html>
	<head>
		<title id = 'pagetitle'>Why is the top edge rainbowed?
		</title>
	<head>
	<body id = 'pagebody'><p>Is it because Tim Cook is gay or LGBT awareness month? Or is it for the old Apple logo.
<a href="https://i.stack.imgur.com/Pxhns.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Pxhns.png" alt="Rainbow Header"></a></p>


<h1>ANSWERS</h1>
		<p>I'm not the designer (and certainly won't speak for them), but it could be many reasons starting with Apple's logo from 1977. I actually hope it's many reasons - but does it even matter why?</p>

<p><a href="https://i.stack.imgur.com/cad8s.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/cad8s.png" alt="enter image description here"></a></p>

<p><a href="https://en.wikipedia.org/wiki/Apple_Inc.#Logo" rel="nofollow noreferrer">https://en.wikipedia.org/wiki/Apple_Inc.#Logo</a></p>


	</body>
</html>