<html>
	<head>
		<title id = 'pagetitle'>Why can't you @reply more than one user?
		</title>
	<head>
	<body id = 'pagebody'><p>Why can't you @reply more than one user? It seems like I should be able to @reply at least two users. I've run into this problem several times now. Is there a reason why you can only @reply one user?</p>


<h1>ANSWERS</h1>
		<p>From <a href="https://meta.stackexchange.com/questions/43019/how-do-comment-replies-work">this</a> Meta SO answer</p>

<blockquote>
  <p>You can explicitly notify one (1) other commenter or editor, by using @name, where name is the username with all spaces removed.</p>
</blockquote>

<p>It contains most of the details behind the system, however the short answer is that it is related to the lack of display names, and it was really a system put in place as an afterthought, since it is not a defining feature of SE. </p>


<p>This would be useful on occasion, I can't deny...</p>

<p>But the <em>rationale</em> is simply that comments aren't meant for tangential discussion. The author of the post you're commenting on is always notified, regardless of whether he's "@-replied" to explicitly in a comment. Responding to one of these comments requires only a single @-reply. Allowing comments to notify multiple people could result in obnoxious behavior or harassment.</p>

<p>As Diago notes, this has been discussed several times over on MetaSO - <a href="https://meta.stackexchange.com/questions/45273/allow-more-than-one-name-notification-per-comment">this is a good example</a>. </p>

<p>It's worth contrasting the design of comment @-notifications with those of <a href="http://chat.stackexchange.com/">chat</a>, where you <em>can</em> notify multiple users in a single message:</p>

<ul>
<li>Comments always notify the post-author, regardless of @... Chat messages appear to anyone in the room.</li>
<li>Comments can @-notify anyone who has ever commented / edited the post... Chat messages can notify anyone who has been in the room <em>recently</em>.</li>
<li>Comment notifications persist in your global SE inbox... Chat notifications produce a small indicator <em>within chat</em>, with an entry in the SE inbox only if you don't respond.</li>
<li>You can only leave one comment every 15 seconds... You can post multiple chat messages within that timespan.</li>
</ul>

<p>In short, chat messages will only notify people who are probably expecting them, having recently joined a chat room for the purpose of chatting. Comments might notify people who've long ago forgotten about the topic. Making it easier to mass-notify multiple users via comments has a much larger "harassment" potential.</p>


	</body>
</html>