<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why don't you ask Dell?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2897" class = "post">
			<h2>Question</h2>
			<h3>Score ::7</h3>
			<h3>Views ::150</h3>
				<h2>Why don't you ask Dell?</h2>
<p>These questions get rather tiresome after a while...</p>

<p><a href="https://apple.stackexchange.com/questions/261859/is-it-possible-to-connect-the-new-dell-31-5-inch-monitor-up3216q-at-3840x2160">Is it possible to connect the new DELL 31.5-inch monitor (UP3216Q) at 3840x2160 to the new macbook pro (late 2016)?</a></p>

<p>The chances of someone else on Ask Different having exactly the same setup with a brand new Mac &amp; monitor are so remote as to be infinitesimal.  </p>

<p>EveryMac, the usual go-to for these questions, doesn't cover every single possible plug &amp; socket on every possible Mac/monitor configuration. It just gives maximum resolutions.</p>

<p>We're left with, <em>"Why don't you ask Dell?"</em></p>

<p>I'm tempted to start closing them as Basic Customer Support.</p>

<p>Any opinions either way?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6312" class = "comment">
				<p>Can we find a canonical answer to use for these types of questions?  I thought one such answer was already pointed out on a different Meta question, so I'll go look for that.</p>
			</div>
			<div id = "comment-6313" class = "comment">
				<p>@fsb not really we can give a question saying will a monitor supporting Displayport 1.2 work - but in this case the questioner does not know that this matters so really it is ask Dell or give an answer for every different monitor</p>
			</div>
			<div id = "comment-6316" class = "comment">
				<p> The chances of someone else on Ask Different having exactly the same setup with a brand new Mac & monitor are so remote as to be infinitesimal.    *[citation needed]* Surely those chances increase with time, as more people buy that Mac and that monitor.</p>
			</div>
			<div id = "comment-6317" class = "comment">
				<p>I disagree with this. A monitor that supports certain input format and a macbook that supports certain output format can be matched together if these two are known. I would be fairly confident with answering the above question in the affirmative, because recent macbook pros can drive 4K dell monitors. I have done it on many occasions with a wide range of different monitors. You don't need the exact setup to answer this question. Hardware is designed to work to standards. All hardware manufacturers need to use standards to ensure their stuff is compatible</p>
			</div>
			<div id = "comment-6318" class = "comment">
				<p>yeah, I mean, just wait until someone happens along with the right set-up... great way to get some points if you are trying to become a helpful poster.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2898"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-2</h3>
				<p><p>Next time, just link to the dell support website for that monitor ;-)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2900"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>Unless the asker is engaged in a pattern of themselves asking many questions like that - it's best to take the high road and judge that post purely based on that one post and not in relation to many previous posts by other people.</p>

<ul>
<li>Why don't you ask Apple</li>
<li>Why don't you ask Dell</li>
<li>Why don't you ...</li>
</ul>

<p>All three of the above could be used to shut down just about any question here so I try to dismiss that thought and instead focus on if a question meets the quality standards of the site in general and in specific.</p>

<p>I personally wouldn't down vote <a href="https://apple.stackexchange.com/questions/261859/is-it-possible-to-connect-the-new-dell-31-5-inch-monitor-up3216q-at-3840x2160">your example question it if it had one clear question</a> <em>(n.b. the initial version didn't have one clear question)</em>. Furthermore, if that initial version were closed as basic customer support and the OP edited it to have just one question instead of three - I'd be inclined to cast a binding reopen vote. <em>(which may have come to pass since the original version)</em></p>

<p>In this case - it's really a candidate for closing since it asks three questions. Two of which are bad but not forbidden. (the two bad questions are the yes/no questions on anyone trying it and the basic will it work).</p>

<p>There's a nugget of a good question, so rather than close it now - I'll edit it to surface what I see is it's best form. A question on how to read specs and determine compatibility.</p>

<p>Note - not everyone needs to save a marginal question. It's fine to down vote and forget it. It's fine to leave a comment asking the OP to edit down to one question. It's fine to vote as basic CS to vote as too broad or vote as unclear and move on.</p>

<p>Only moderators or people that cast a single binding close vote should analyze things as deeply as we are here splitting the needle. It's not a great question, but if we can be a little too generous or too kind on one off or first questions - that's not a bad thing.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>