<html>
	<head>
		<title id = 'pagetitle'>Why are AskDifferent and AskDifferentMeta not retinafied yet?
		</title>
	<head>
	<body id = 'pagebody'><p>Being sites for Apple related questions, you would think that AskDifferent and AskDifferentMeta would be retinafied by now. But they aren't. And they look terrible on retina MacBook Pros! </p>

<p>Are there plans to do this any time soon?</p>


<h1>ANSWERS</h1>
		<p>It is on my todo list for this year. When I do it'd be rolling out for all sites at once.</p>


	</body>
</html>