<html>
	<head>
		<title id = 'pagetitle'>Why was this exchange in comments removed?
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/questions/152735/did-apple-drop-the-keyword-server-from-the-mac-mini-category/">Did Apple drop the keyword &#39;Server&#39; from the Mac Mini category?</a></p>

<p><img src="https://i.stack.imgur.com/YADoZ.png" alt=""></p>

<p>In my opinion, to have the Q&amp;A stand as it is not an improvement over the previous version, especially by removing the comment that points out the technical inaccuracy of the accepted answer. Is it the case that acrimonious comments are all removed regardless of the informational value of each?</p>


<h1>ANSWERS</h1>
		<p>Comments are ephemeral. Especially if they turn into a long exchange, we delete them. Notice the warning telling you to avoid extended discussions in comments. Either edit the answer if the answer's poster is on board, or propose a new answer.</p>


	</body>
</html>