<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Why are some iOS7 questions closed and others left open?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1716" class = "post">
			<h2>Question</h2>
			<div id="vote-1716" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
				<h2>Why are some iOS7 questions closed and others left open?</h2>
<p>We currently have a window where Apple has released some details about a new OS and some people get to install it, but the general public has scant details and no opportunity to run the OS.</p>

<p>As a policy, we have from the beginning had a community rule to close questions about beta software as off-topic for this site. To help the site moderate itself (and help guide people in deciding to cast a close or re-open vote) I wanted to go over some decisions we have made thus far in the iOS 7 release cycle.</p>

<p>We have several questions - some open, some closed, all tagged <a href="https://apple.stackexchange.com/questions/tagged/ios7" class="post-tag" title="show questions tagged &#39;ios7&#39;" rel="tag">ios7</a>: <a href="https://apple.stackexchange.com/questions/tagged/ios7">https://apple.stackexchange.com/questions/tagged/ios7</a></p>

<p>Closed:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/93872/how-do-i-rate-songs-in-ios-7">https://apple.stackexchange.com/questions/93872/how-do-i-rate-songs-in-ios-7</a></li>
<li><a href="https://apple.stackexchange.com/questions/93716/what-are-some-of-the-hidden-features-or-changes-have-you-found-in-ios-7">https://apple.stackexchange.com/questions/93716/what-are-some-of-the-hidden-features-or-changes-have-you-found-in-ios-7</a></li>
<li><a href="https://apple.stackexchange.com/questions/93665/after-restoring-ios-from-a-backup-made-on-an-earlier-version-some-apps-are-stuc">https://apple.stackexchange.com/questions/93665/after-restoring-ios-from-a-backup-made-on-an-earlier-version-some-apps-are-stuc</a></li>
</ul>

<p>Open:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/93625/downgrading-from-ios-7-beta-to-a-recent-full-backup-of-ios-6-1-3">Downgrading from iOS 7 to a recent full backup of iOS 6.1.3</a></li>
<li><a href="https://apple.stackexchange.com/questions/93809/can-i-undo-the-upgrade-to-ios-7-by-restoring-to-ios-6-1-3">Can I undo the upgrade to iOS 7 by restoring to iOS 6.1.3?</a></li>
<li><a href="https://apple.stackexchange.com/questions/84179/is-airdrop-possible-between-ipad-iphone-and-macbook">Is AirDrop possible between iPad, iPhone and MacBook?</a></li>
</ul>

<p>I have run across a few questions in the past about why some questions were accepted and others closed and wanted to ask the hypothetical question, "Why?"</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1716" class = 'collapse'>
			</div>
				<textarea id = "speech-1716" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1716">
					<img id="start_img-1716" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1717"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1717" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My intent isn't to fix any of these questions, but if that happens and they get reopened, that's totally fine and people can look at the revisions to understand why / when close and open happens.</p>

<p>The open questions really aren't about iOS 7 at all. The AirDrop one is a long standing question about a feature that is concrete and well documented. It just so happens that Apple publicly announced to the world that the feature will be in iOS 7, so I tagged it iOS7 and left it open.</p>

<p>The other two open ones are more about someone that jailbroke (or was a legitimate developer) and they need to get back to the released / supported configuration. Yes, iOS 7 made a peripheral, perhaps key part in their situation, but the question isn't really about iOS 7 - it's just part of the lead-up.</p>

<p>The closed questions are really about using iOS 7 now - before it's released to the public. That's the sort of question the prohibition on pre-release and beta software was designed to make out of scope. Some of these will be good questions, reopened promptly when iOS 7 is released, others have problems with other criteria for a good question, so they might need edits or changes before they get opened - even after iOS 7 is released. But the focus on iOS 7 is reason now to close them.</p>

<p>Hopefully this helps and also provides a place to discuss this should other examples arise or edits change the questions referenced here.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1717">Load Comments</button></br>
			<div id = "commentsection-1717" class = 'collapse'>
			<div id = "comment-3222" class = "comment">
				<p>Mike, would it help if we assign a specific tag (e.g. "wait-for-ios7") to the "to be reopened" questions  when we close them? Would make it easier to communicate the intent (and also help us to find them again in fall).</p>
			</div>
			<div id = "comment-3223" class = "comment">
				<p>It's trivial to find them with search, and abusing the tag system that way seems more counterproductive than just dealing with the light work to close now and comment why. Once the OS is released, it's easy work to add a second comment explaining why the question is still closed and many questions get reopened by site members in my experience without even needing moderators to do any work.</p>
			</div>
			</div>
				<textarea id = "speech-1717" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1717">
					<img id="start_img-1717" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>