<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why was my co-workers answer deleted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1486" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::55</h3>
				<h2>Why was my co-workers answer deleted?</h2>
<p>A co worker (who sits in front of me at work) signed into apple.stackexchange.com and posted an answer here: <a href="https://apple.stackexchange.com/q/18733/1337">Can the Kinect be used as a control interface for Mac OS X?</a></p>

<p>His answer is no longer present.  I'm not sure if his account is still a member either.</p>

<p>My question is: Why was his answer removed?  I'm trying to encourage him to become an active user of this site.</p>

<p>Did I loose any rep for this?  I made an edit to his answer to include a picture but that was removed too.  If I was marked as a spammer in the past then I would suffer an "invsible" rep loss that won't appear in my history.  This happened once on StackOverflow.</p>

<p>I'm just asking for the mods to look into this and let me know (since I'm trying to be a good user)</p>

			</div><h3>Comments</h3>
			<div id = "comment-2789" class = "comment">
				<p>Thank you for helping others find the site. There is no invisible rep or even a lag in showing when someone's reputation changes, so perhaps your past experience was due to the scheduled nature of reputation adjustments and bugs in the system.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1486">Record</button>
				<button class="record-stop" id="stop-1486">Stop</button>
				<p id="recording-1486"></p>

<h1>Answers</h1>
			<br><div id = "ans-1487"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>The only deleted "answer" on the question is this one:</p>

<blockquote>
  <p>I'm interested in seeing this but I don't have enough reputation to +1 this.
  Just found this perusing the web. Looks very much like Kinect for Mac.
  [link]</p>
</blockquote>

<p>This isn't an answer to the question. Things posted as answers that aren't answers get deleted. I don't see anything with a picture. Your friend should be able to answer again, and this time, you can post a link to either their account or to the answer / edits and we can see what might have happened. Is there any chance you are linking to the incorrect question?</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2790" class = "comment">
				<p>It's OK I thought there was a better answer there ...  Thanks</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-1487">Record</button>
				<button class="record-stop" id="stop-1487">Stop</button>
				<p id="recording-1487"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>