<html>
	<head>
		<title id = 'pagetitle'>Why can't I answer a question that requires a reputation level less than mine?
		</title>
	<head>
	<body id = 'pagebody'><p>I not able to post an answer to <a href="https://apple.stackexchange.com/questions/123570/create-a-bootable-windows-usb-from-a-os-x-to-work-on-a-pc">Create a Bootable Windows USB from a OS X to work on a PC</a>? It states "posting an answer now requires 10 reputation," but I have a reputation of 101.</p>


<h1>ANSWERS</h1>
		<p>The rep you earned linking your SE account doesn't count, unfortunately. You need to earn 10 rep points <em>on Ask Different organically</em> to be able to answer that question. You can get those points through voting, answering non-protected questions, asking questions, editing posts, etc.</p>


	</body>
</html>