<html>
	<head>
		<title id = 'pagetitle'>Why did Apple.SE visitors count drop so fast?
		</title>
	<head>
	<body id = 'pagebody'><p>Last month Apple.SE had 1k views/day on average but this week it has decreased to 500. Does anyone knows the reason?</p>


<h1>ANSWERS</h1>
		<p>I suspect part of it is that it's currently the weekend - there is always a noticeable drop in views on Saturday and Sunday.</p>

<p>However the addition of all the gadgets questions has complicated matters:</p>

<blockquote>
  <p>views_per_day there is the sum of all views (as determined by unique IP visits within a reasonable interval) on all questions (including deleted, closed, migrated, etc.) over <strong>the number of days the site has existed (as determined by the creation date of the oldest question)</strong>.</p>
</blockquote>

<p>Now that we have much older questions on Apple.SE we have 50 or 60 days at present of very, very few views that previously did not exist at all.</p>

<p>Source: <a href="https://meta.stackexchange.com/questions/64863/how-is-views-day-calculated">How is views/day calculated?</a> on MSO as I believe they adjusted it over this past week.</p>


	</body>
</html>