<html>
	<head>
		<title id = 'pagetitle'>Why syntax highlighting is visible only on preview page?
		</title>
	<head>
	<body id = 'pagebody'><p><strong>Preview on edit question</strong></p>

<p><img src="https://i.stack.imgur.com/tQSBx.png" alt="Edit Preview"></p>

<p><strong>Question Page</strong></p>

<p><img src="https://i.stack.imgur.com/MyNyz.png" alt="Question Page"></p>


<h1>ANSWERS</h1>
		<p>Syntax highlighting on final questions is performed based on the tags on the question.</p>

<p>The community moderators determine which tags have syntax highlighting and which do not; this setting is editable for community moderators at the bottom of the tag info page.</p>


	</body>
</html>