<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why are some flags not highlighted in red?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why are some flags not highlighted in red?</h2>
<p>I noticed today that most of the posts in my "Flagged Posts" tab are highlighted in a light red shade but one of them weren't highlighted.</p>

<p>Does it mean anything or it is a site bug?</p>

<p><img src="https://i.stack.imgur.com/QLK3E.png" alt=""></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Posts highlighted in red have been deleted. Posts not highlighted are still visible to ordinary users on the site.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>