<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was this question with 9 upvotes closed as ""Basic Customer Support or questions asking to recommendation"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2826" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::46</h3>
				<h2>Why was this question with 9 upvotes closed as ""Basic Customer Support or questions asking to recommendation"?</h2>
<p>I found out that the question <a href="https://apple.stackexchange.com/q/159833/20338">Equivalent of Dragon NaturallySpeaking&#39;s HeardWord function in Dragon Dictate 4</a> got closed two months ago (since no comment was left, I didn't receive any notification).</p>

<p>The question is clearly about Apple software, was upvoted 9 times, starred twice and had 300 views.</p>

<p>The mentioned reason is vague:</p>

<blockquote>
  <p>"Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit to clearly describe your problem and the research done so far to solve it."   patrix</p>
</blockquote>

<p>The question is clearly not about basic customer support (see number of upvotes and number of answers), and it is not asking for a recommendation.</p>

<p>So why was this question closed?</p>

<hr>

<p>Here was a copy of the question:</p>

<blockquote>
  <p>Title: Equivalent of Dragon NaturallySpeaking's HeardWord function in
  Dragon Dictate 4</p>
  
  <p>In Dragon NaturallySpeaking's Advanced Scripting Command on Windows,
  <a href="http://nuance.custhelp.com/app/answers/detail/a_id/6141/~/using-the-heardword-function-in-advanced-scripting-commands" rel="nofollow noreferrer">HeardWord</a>
  is a function that enables Dragon NaturallySpeaking to behave as if
  the specified word, word sequence, or voice command was received by
  the recognizer. HeardWord can be used to create a command that
  executes a series of other commands, or that has the same function as
  an existing command but a different name.</p>
  
  <p>Here is an example to type a closing remark, in bold type, at the end
  of a document.</p>

<pre><code>HeardWord "go", "to", "bottom"
HeardWord "set", "font", "bold"
Wait 1
SendDragonKeys "{Enter 2}" + "This document was dictated using Dragon NaturallySpeaking."
</code></pre>
  
  <p>In <a href="http://www.nuance.com/for-individuals/by-product/dragon-for-mac/dragon-dictate/index.htm" rel="nofollow noreferrer">Dragon Dictate
  4</a>,
  is there any way to write a voice command that calls other voice
  commands (e.g. a voice command that would call the built-in command
  "Cap")?</p>
</blockquote>

<p><a href="https://i.stack.imgur.com/RiAgc.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/RiAgc.png" alt="enter image description here"></a></p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2827"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-3</h3>
				<p><p>Given Dragon is multi-platform and the question is about the software I think the question would be better suited for SuperUser.com -- there doesn't appear to be anything Apple-specific about the question.</p>

<p>I can migrate it if you'd like.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6159" class = "post">
				<p>Thanks, but the question is specific to Mac OS X, as DragonDictate (OS X) is very different from Dragon NaturallySpeaking (Microsoft Windows). Aside from the ASR engine, they have pretty much nothing in common.</p>
			</div>
			<br><div id = "ans-2828"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-1</h3>
				<p><p>I put the question on hold because it basically covers a topic which can (and IMHO) should be addressed to Dragon's support team (or forum) first.</p>

<p>From <a href="https://apple.meta.stackexchange.com/a/2509/9058">this answer</a> to <a href="https://apple.meta.stackexchange.com/questions/2508/why-were-not-customer-support-for-company-x-or-product-y?rq=1">Why we&#39;re not customer support for [company X or product Y]</a>:</p>

<blockquote>
  <p><strong>We're not here to act as customer support on any company's behalf.</strong></p>
  
  <p>That's not our mission. We're here to help you learn how to interpret vague or conflicting behaviors once you've <strong>exhausted the normal support channels</strong> and <strong><em>documented that effort in your question</em></strong>. Your post here will live here for years - useful posts will drown amongst thousands of "help me please" posts with no detail and no effort to troubleshoot documented in them.</p>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6160" class = "post">
				<p>Shouldn't you close most questions if you apply this rule to everyone as strictly as you did on my question?</p>
			</div>
			<div id = "comment-6161" class = "post">
				<p>Yes and no :-) Let's just that I tend to be a bit more strict in case of software which is hardly mentioned inAD question and which has a product-specific forum (http://nuance-community.custhelp.com/hives/5ac2abfd57/summary) where the chance for success might actually be a lot higher.</p>
			</div>
			<div id = "comment-6162" class = "post">
				<p>The two main issues with that forum is lack of activity and durability (I would expect it to disappear sooner than Stack Exchange). Many other questions on Apple Stack Exchange could have been also asked on official forums.</p>
			</div>
			<div id = "comment-6163" class = "post">
				<p>I've just reopened your question from the reopen queue, let's see what comes up.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>