<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why is there a Google Plus ad on the main Ask Different site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-927" class = "post">
			<h2>Question</h2>
			<h3>Score ::-1</h3>
			<h3>Views ::221</h3>
				<h2>Why is there a Google Plus ad on the main Ask Different site?</h2>
<p>Is the google plus ad a community promotion advertisement or something else?</p>

<p>I clicked it but nothing shows if I don't log into google - what is this?</p>

<pre><code>https://accounts.google.com/ServiceLogin?service=webupdates&amp;passive=1209600&amp;continue=https://m.google.com/app/contacts/mp/144/continue/?unauth%3D1%26login%3D1&amp;followup=https://m.google.com/app/contacts/mp/144/continue/?unauth%3D1%26login%3D1&amp;btmpl=mobile&amp;ltmpl=mobilex
</code></pre>

<p><img src="https://i.stack.imgur.com/162wm.png" alt="enter image description here"></p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-928"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I ended up at <a href="https://plus.google.com/101120115153580954446/posts" rel="nofollow">https://plus.google.com/101120115153580954446/posts</a> when I clicked the ad (same destination and largely identical content whether I am logged into a Google account or not).</p>

<p>The above-linked page seems to be a Google+ account for  Stack Exchange  to post various things:  interesting  questions from various SE sites (similar the <a href="http://twitter.com/stackexchange" rel="nofollow">SE Twitter account</a>), but also podcast episode notifications, and some other SE-related news. It seems very similar to the <a href="http://www.facebook.com/stackexchange" rel="nofollow">SE page on Facebook</a>.</p>

<p>Joel Spolsky recently <a href="https://twitter.com/spolsky/status/141912830462005248" rel="nofollow">tweeted that  You can also follow Stack Exchange on Google+ </a> with a link to a <a href="https://plus.google.com/u/0/s/Stack%20Exchange" rel="nofollow">Google+ search for  Stack Exchange </a> (this was right after he <a href="https://twitter.com/spolsky/status/141911133505335296" rel="nofollow">tweeted</a> about the symmetry of SE on Facebook and Facebook on SE: facebook.com/stackexchange, facebook.stackoverflow.com).</p>

<p>The ad itself seems to be just one of the SE-promoting ads that SE injects into its sites (questions from other SE sites, site proposals from Area 51,  Join us on Facebook ,  Join us on G+ , et cetera).</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-1683" class = "comment">
				<p>The link you have above resolves to this for me - you sure you're not logged in to google? https://accounts.google.com/ServiceLogin?service=webupdates&passive=1209600&continue=https://m.google.com/app/contacts/mp/144/continue/?unauth%3D1%26login%3D1&followup=https://m.google.com/app/contacts/mp/144/continue/?unauth%3D1%26login%3D1&btmpl=mobile&ltmpl=mobilex</p>
			</div>
			<div id = "comment-1684" class = "comment">
				<p>@bmike: I originally just did a simple  logout  in my normal browser (Safari). Since you asked, I tried my first URL in two browsers (Chrome, Firefox) that I usually do not use (and with which I have never logged into a Google account). I got the same result as a plain logout: the G+ page for Stack Exchange with no user-specific content. Further, under a brand new OS-user-account (freshly created for this test) two browsers (Safari and Firefox) also gave the same result.</p>
			</div>
			<div id = "comment-1685" class = "comment">
				<p>Awesome - and head scratchingly odd. Thanks for the above and beyond testing.</p>
			</div>
			<div id = "comment-1686" class = "comment">
				<p>The `m.google.com` and `mobilex` bits of your URL might indicate that Google is trying to serve you some kind of mobile adaptation. The page rendered when I visit your URL (a login page) certainly looks like it might be  small screen optimized  (minimal styling and content, with everything in a narrow column).</p>
			</div>
			<div id = "comment-1687" class = "comment">
				<p>Reproduced: If I  sign out  of Google, have Safari set its User-Agent to an iPhone variant, and then load my first URL, I end up at a URL very much like yours (`852` instead of `144`). When I am signed in to Google (with the UA set to be like an iPhone), I do get a mobilified G+ Stack Exchange page. I guess G+ is not quite mobile-ready (or they just do not want to render otherwise public pages for visitors that are not signed into Google).</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>