<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why is there no Delete Profile link anymore?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why is there no Delete Profile link anymore?</h2>
<p><a href="https://i.stack.imgur.com/0FDKl.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/0FDKl.png" alt=""></a></p>

<p>Under "Edit Profile" should've been an option for leaving the community.</p>

<p>Am I looking in the wrong place?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>You can only self-delete your profile if the profile has <strong>never voted</strong> and has <strong>posted at most once</strong> in the history of the account. If this is not true, the Delete Profile link will not be shown.</p>

<p>To delete a profile which does not meet this criteria, use the <a href="https://apple.stackexchange.com/contact">contact us</a> link and choose  I need to delete my user profile .</p>

<p>Practically, it's simpler to just anonymize your profile if that's what you want - deletion just automates the anonymization of your posts and profile. If you're asking about linking accounts - that's a different path: <a href="http://stackexchange.com/users/218740/bmike?tab=accounts">http://stackexchange.com/users/218740/bmike?tab=accounts</a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>