<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was my "rude or abusive" flag on a gibberish answer declined?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2849" class = "post">
			<h2>Question</h2>
			<h3>Score ::19</h3>
			<h3>Views ::331</h3>
				<h2>Why was my "rude or abusive" flag on a gibberish answer declined?</h2>
<p>I flagged <a href="https://apple.stackexchange.com/questions/221565/siri-can-not-activate-some-alarms-on-iphone-6s-plus-with-ios-9-2/249610#249610">this answer</a> (now deleted, <a href="https://metasmoke.erwaysoftware.com/post/37412" rel="nofollow noreferrer">metasmoke link for &lt;10kers</a>) as "rude or abusive". It was declined with a comment:</p>

<blockquote>
  <p>Please use other. Abusive is to track intentional malice towards people and not simple vandalism,</p>
</blockquote>

<p>But <a href="https://meta.stackexchange.com/questions/58032/what-are-the-spam-and-rude-or-abusive-offensive-flags-and-how-do-they-wor/58035#58035">FAQ answer on What are the  spam  and  rude or abusive  (offensive) flags, and how do they work?</a> says that posts that contains only gibberish should be flagged as "rude or abusive".</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-6207" class = "comment">
				<p>Oddly enough, it looks like the same author wrote two reasonably understandable (though not particularly complete) posts in the minutes leading up to this. No responses or activity since. Wonder if this was literally a cat on a keyboard...</p>
			</div>
			<div id = "comment-6217" class = "comment">
				<p>Cat on a keyboard, or "typing with your nose" (aka falling asleep while trying to type.)  But in either case, who clicked on the submit button?  (I notice the user account no longer exists.)</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2850"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::23</h3>
				<p><p>I have had a look at your links and you clearly flagged that post correctly. I handled the flag incorrectly - for that I apologize.</p>

<p>Worse, I had dismissed some other similar flags to yours - I'm not sure when/how I got the idea that rude and abusive needed a personal aspect, but it's pretty clear that <a href="https://meta.stackexchange.com/questions/58032/what-are-the-spam-and-rude-or-abusive-offensive-flags-and-how-do-they-wor/58035#58035">gibberish should be flagged as abuse</a>.</p>

<p>Thanks for pointing out my error so I don't keep making it.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>