<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why is the "new" label so hard to read?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why is the "new" label so hard to read?</h2>
<p>I suspect some CSS rule is being incorrectly applied to the "new" feature notifier.</p>

<p>I'm talking about the "new" block that appears when a new navigation or other site element is added. It showed up most recently on the main site when the blog link was added.</p>

<p><img src="https://i.stack.imgur.com/NSkNu.png" alt="It&#39;s NEW!"></p>

<p>The e is nearly solid, and the rest of the text just looks... off. Any ideas why?</p>

<p>Additionally, as provided by @stuffe, As well as being blocky, it's not aligned to the text baseline.</p>

<p><img src="https://i.stack.imgur.com/ITuJx.jpg" alt="Text baseline example"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p><img src="https://i.stack.imgur.com/TmgHr.png" alt="Screenshot of Jin&#39;s text comment. (Yes, really.)"></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>