<html>
	<head>
		<title id = 'pagetitle'>Why is a specific, non-customer support question on hold as basic customer support?
		</title>
	<head>
	<body id = 'pagebody'><p>I asked <a href="https://apple.stackexchange.com/questions/268215/">this question</a> on Ask Different:</p>

<blockquote>
  <p>I'm looking for one of these types of stylish MacBook keyboard skins [see image in original], but I don't want any of the keys marked. I just want blank keys, without letters/symbols. Do any such products exist?</p>
</blockquote>

<p>In my opinion, this question is not at all related to customer support (it's directly related to Apple hardware) and it's not opinion-based (it's not as if I'm asking for the <em>prettiest</em> keyboard skin), yet it's on hold for being a basic customer support question.  Yet now it's on hold:</p>

<blockquote>
  <p>Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit to clearly describe your problem and the research done so far to solve it.</p>
</blockquote>

<hr>

<p>I feel like both my problem and research done so far are clearly described, and I know this question isn't going to generate opinionated answers; how can a "this product exists, here is proof" answer be opinionated?</p>


<h1>ANSWERS</h1>
		<p>The close reason used here has two parts. For your question the second part </p>

<blockquote>
  <p>[...] or questions <strong>asking to recommend or find off-site resources</strong> (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam</p>
</blockquote>

<p>is more applicable than the customer support part. Based on experience from similar questions in the past, such questions <em>will</em> attract opinionated (aka non-fact based) answers (and potentially spam) and, in the end, most of the answers will just be links to product web sites (making the answers look like the result of a Google search).</p>

<p>AskDifferent (as any other SE site) works best for questions which have clear, fact-based answers. It doesn't work so well for questions where a lot of answers are possible without a clear way to determine their individual merit.</p>


<p>I disagree with this question being closed and I voted to  leave open  when I saw the question in the closure queue. Not only have I expressed my distaste for that specific close reason before, I think your question is suitable for the site.</p>

<p>Hardware recommendations, just like software recommendations, can be on-topic on Ask Different, providing they have a clear focus, which your question does. Your question meets all the requirements set out for such questions in the tag wiki, and I don't see how the question can't be objectively answered.</p>


	</body>
</html>