<html>
	<head>
		<title id = 'pagetitle'>Why not incorporate a "thank you" button for helpful edits to your post?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm thinking along the lines of <a href="http://www.quora.com/Thanks-Quora-feature" rel="nofollow noreferrer">what Quora does.</a></p>

<p><img src="https://i.stack.imgur.com/bMVb9.png" alt="enter image description here"></p>

<p>For two reasons:</p>

<ol>
<li>Out of common decency. If someone edits the content of my post so that it substantively improves my answer, I'd like to just say thanks. </li>
<li>So those who do so can be recognized somehow for providing excellent edits. </li>
</ol>

<hr>

<p><strong>Notes:</strong> </p>

<p>Since editing badges just reflect volume of edits, I'm not sure (2) is satisfied to the same extent as an explicit thank you. </p>

<p>With that said <strong><em>(1) is my primary focus in this request</em></strong>. - it's not a "why edit?" question - what I'm asking, simple and trivial as it may be, boils down to: <em>"why can't I thank you for doing so?"</em></p>


<h1>ANSWERS</h1>
		<p>For sub-2000 rep users I'll argue that the "thank you" comes by way of the edit being approved.</p>

<p>You have to remember that, under the terms and conditions of the site, you assign ownership of the answer to the community when you submit. It's not really "your answer" any more, it's the community's answer, so you personally thanking someone for the edit is not really important to the idea that is StackExchange.</p>

<p>In the case of <a href="https://apple.stackexchange.com/help/privileges/edit">+2k rep members who don't require approval for edits</a>, I'd hope that they understand the way the whole Stack Exchange model works well enough to not seek "thank you" notices for their edits.</p>

<p><strong>You edit because it makes the world a better place, not because someone will thank you for that edit.</strong></p>

<p>Your second request is covered by the Editor, Strunk &amp; White and Copy Editor badges. Approved edits are counted and used to earn those badges. Badges represent excellence in editing (to some degree).</p>


	</body>
</html>