<html>
	<head>
		<title id = 'pagetitle'>Why don't I see an "edit" link below the post on this page?
		</title>
	<head>
	<body id = 'pagebody'><p>This question:
<a href="https://apple.stackexchange.com/questions/36760/cant-authorise-computer-to-play-itunes-songs">Can&#39;t authorize computer to play iTunes songs</a></p>

<p>could use some editing, but I don't see an "edit" link below the question as I see on other questions.</p>

<p>I tried editing the URL to match the URL I see when editing an article (<a href="https://apple.stackexchange.com/posts/36760/edit">https://apple.stackexchange.com/posts/36760/edit</a>) but I get a "Page Not Found" error for that URL.</p>

<p>What happened with this question? Is it a website error, or am I not allowed to edit it for some reason?</p>


<h1>ANSWERS</h1>
		<p>There was already a pending edit. I have approved it and you should be able to submit your own edit now.</p>


	</body>
</html>