<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why is this site's URL not the same as its name?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2697" class = "post">
			<h2>Question</h2>
			<h3>Score ::12</h3>
			<h3>Views ::190</h3>
				<h2>Why is this site's URL not the same as its name?</h2>
<p>I have seen both <a href="https://apple.meta.stackexchange.com/questions/1318/why-is-this-site-called-ask-different">this</a> and <a href="https://apple.meta.stackexchange.com/questions/286/ask-different-really-surely-ask-apple">this</a>, and I am asking "the other side of the coin", in a way. What I was wondering is: why didn't we make the play on the Think Different campaign in the URL as well as in the site? It is strange to have a site called AskDifferent whose URL is apple.stackexchange.com  Why not askdifferent.com? After all, SO has stackoverflow.com, not .stackexchange.com, and same goes for AskUbuntu's askubuntu.com </p>

			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2697">Record</button>
				<button class="record-stop" id="stop-2697">Stop</button>
				<p id="recording-2697"></p>

<h1>Answers</h1>
			<br><div id = "ans-2698"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I'll hazard some thought as I was around when this was discussed with the moderators at that moment in time. I have speculation and opinions, but they are just that other than links to other posts.</p>

<hr>

<p>The people that run the site registered <a href="http://askdifferent.com">http://askdifferent.com</a> and point it to the name apple.stackexchange.com and the why is for them to answer. I think it had to do with not setting more precedent in making a custom name other than the original trilogy or a preference to market/brand things consistently for web market share numbers or appearances in building the reputation of the network. Having a custom domain necessarily weakens the link to the branding of the company and some process or some one made that call a while back.</p>

<p>The community has voted pretty overwhelmingly to have things the other way around - have the site served out of a custom name and have requests from the apple.stackexchange.com resolve to the custom name, but those are just internet votes and not anyone that has actual authority to make any change.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/9/domain-name-suggestions/24#24">Domain name suggestions</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2698">Record</button>
				<button class="record-stop" id="stop-2698">Stop</button>
				<p id="recording-2698"></p>
			<br><div id = "ans-2703"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This is covered (for all SE sites) in <a href="http://blog.stackoverflow.com/2010/10/domain-names-the-wrong-question/">this blog post</a>.</p>

<p>I believe SO, SU, AskUbuntu, and any others have those names purely for historical reasons. SO because it's SO; I <em>think</em> AU was independent before it joined SE; not sure about SU, maybe just because it's old enough to have slipped through.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5996" class = "comment">
				<p>Ask Ubuntu is named because Canonical has an ownership stake, so it's eligible to use the Trademark.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2703">Record</button>
				<button class="record-stop" id="stop-2703">Stop</button>
				<p id="recording-2703"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>