<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why can't I make line breaks in my questions~answers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1622" class = "post">
			<h2>Question</h2>
			<div id="vote-1622" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 230</p>
			</div>
				<h2>Why can't I make line breaks in my questions~answers?</h2>
<p>When
I'm
writing
something, I naturally use a lot of line breaks. Unfortunately, when I press return once to make a linebreak, it
just
adds
a
space.
I
have
to
press
return
again
for
a
break
to
appear,
and
even
then
only
a
paragraph
break
appears.</p>

<p>In fact, for demonstrative purposes, in the above paragraph, I used 'linebreaks' instead of spaces:<img src="https://i.stack.imgur.com/3pCqU.png" alt="enter image description here"></p>

<p>I realise I can use <code>&lt;br /&gt;</code> to add line breaks, but this soon becomes cumbersome.</p>

<p>Might I request that:</p>

<ul>
<li>if this is a bug, please fix it?</li>
<li>if this is a missing feature, please could it be added?</li>
</ul>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1622" class = 'collapse'>
			</div>
				<textarea id = "speech-1622" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1622">
					<img id="start_img-1622" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1623"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1623" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you <strong><em>add two spaces</em></strong> after a word and enter a line break/return, the markdown engine will insert a line break automagically. This disables the rewrapping that is designed into the editing system.</p>

<p>So
if 
you
enter
lines
like
this, they wrap.</p>

<p>But<br>
if<br>
you<br>
double<br>
space, then they don't wrap.</p>

<p>(click the <a href="https://apple.meta.stackexchange.com/posts/1623/revisions">history link</a> to see my source)</p>

<p>This is documented in the <a href="https://apple.stackexchange.com/editing-help">advanced editing help</a> section, which you can get to from any editing frame by clicking the blue circle around the question mark to the right of the edit toolbar.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1623">Load Comments</button></br>
			<div id = "commentsection-1623" class = 'collapse'>
			<div id = "comment-3013" class = "comment">
				<p>That makes sense, though the 'edit' link is greyed out for me so I can't see the source...</p>
			</div>
			<div id = "comment-3014" class = "comment">
				<p>OK, perhaps the revision history will work, but you should be able to test this on your posts. Just use a second space (or more) and see how wrapping changes.</p>
			</div>
			<div id = "comment-3037" class = "comment">
				<p>Does this work or does it time-out (session-specific?) http://meta.apple.stackexchange.com/revisions/019a3bc0-8d9e-4bc3-9654-a1f4d04875a7/view-source</p>
			</div>
			<div id = "comment-3061" class = "comment">
				<p>It's no longer necessary, but it doesn't time-out, no. I can still read it, 15 days later, so it must be fine :)</p>
			</div>
			</div>
				<textarea id = "speech-1623" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1623">
					<img id="start_img-1623" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>