<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why are my comment flags (obsolete) declined?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2960" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::71</h3>
				<h2>Why are my comment flags (obsolete) declined?</h2>
<p><a href="https://apple.stackexchange.com/questions/134598/is-it-possible-to-use-macbook-with-0-health/134600#134600">Is it possible to use Macbook with 0% health?</a></p>

<p>The first is </p>

<blockquote>
  <p>what you mean by "accu" ?</p>
</blockquote>

<p>and the second </p>

<blockquote>
  <p>The battery. I thought it was a word in English, my bad </p>
</blockquote>

<p>I have use flag for both with "obsolete". Cause there is not word "accu" anymore there. It was replaced more than 2 years before I have flagged it. </p>

<p>Aren't this comments obsolete?
Why are the flags declined?</p>

			</div><h3>Comments</h3>
			<div id = "comment-6429" class = "comment">
				<p>I can't speak for the person who declined the flags, but there are no strict rules regarding processing of comment flags. And one could probably argue that in the case mentioned above the discussion about the meaning of words was worth keeping even after the OP edited the answer.</p>
			</div>
			<div id = "comment-6430" class = "comment">
				<p>@patrix I disagree completely that those comments were worth keeping. The edit was made and saved in the revision history, no need to keep the comments.</p>
			</div>
			<div id = "comment-6431" class = "comment">
				<p>@grgarside Comments are, well, comments, and honestly, as long as a comments aren't rude, abusive or spam I think time is better spent at improving answers than at flagging them (or discussing declined comment flags).</p>
			</div>
			<div id = "comment-6432" class = "comment">
				<p>@patrix if you (as moderator) think this way - why don't you try to vote for disable flagging comments that are not rude, abusive or spam?</p>
			</div>
			<div id = "comment-6433" class = "comment">
				<p>I try to flag sometimes obsolete comments to make the answers more clear for other users to read.</p>
			</div>
			<div id = "comment-6434" class = "comment">
				<p>I don't mind people flagging comments, and I process comment flags as careful as any other flag (or required mod action). And usually flags on one comment below a post are a good reason to cleanup *all* flags on the post (or even in the whole thread). So by all means, if you want to flag comments, do so, it's how the site works.</p>
			</div>
			<div id = "comment-6435" class = "comment">
				<p>OTOH time is limited, so if you want to spend 15 minutes a day improving the site it's usually better spent by answering questions and improving existing posts than by flagging comments.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2960">Record</button>
				<button class="record-stop" id="stop-2960">Stop</button>
				<p id="recording-2960"></p>

<h1>Answers</h1>
			<br><div id = "ans-2963"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I believe I declined your flags. In general, comments moderate themselves and for posts more than 90 days old, a comment standing by itself (as we see in the screen when we handle them) needs to be really bad for me to cast a binding delete vote. </p>

<p>In general, a question with dozens of votes might merit the time to go to the post, look at why the comment might be obsolete and might need to be cleaned up is worth the time. </p>

<p>Comments also show how edits make posts better - I'm on the fence if they do more good than harm in the case of the flags you raised. Please comment here if I missed something harmful about the two posts. I'm open to re-evaluating them if needed. </p>

<p>To incorporate your excellent comments below - there are discussions similar to ours on the main meta:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/207962/could-we-have-some-consensus-on-how-to-flag-bunches-of-obsolete-comments">Could we have some consensus on how to flag bunches of obsolete comments?</a></li>
<li><a href="https://meta.stackexchange.com/questions/182684/flagging-obsolete-comment-conversations">Flagging obsolete comment conversations</a></li>
<li><a href="https://meta.stackexchange.com/questions/261009/cmon-please-give-us-a-hint-how-authoritative-is-that-obsolete-comment-flag">C&#39;mon, please give us a hint: how authoritative is that &quot;obsolete comment&quot; flag?</a></li>
<li><a href="https://meta.stackexchange.com/questions/252844/make-comment-flags-less-stupid">Make comment flags less stupid</a></li>
</ul>

<p>The first two share your confusion / dis-satisfaction on the process and you are not alone / wrong from my standpoint. The second two discuss the moderation side - where <a href="https://meta.stackexchange.com/a/261071/165931">one quote is <strong>"I'm skeptical that these flags are the right way to handle these comments period: they require entirely too much work for the potential benefit in most cases."</strong></a></p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6436" class = "comment">
				<p>"In general, comments moderate themselves". Its your point of view. Tell me please why do we have the opportunity to flag comment as obsolete?</p>
			</div>
			<div id = "comment-6437" class = "comment">
				<p>"Please comment here if I missed something harmful about the two posts." They were not harmful - they were obsolete.</p>
			</div>
			<div id = "comment-6438" class = "comment">
				<p>If you decline obsolete comments - you can simply ignore such a flags (on comments). If you think the opportunity to flag some comment obsolete - is obsolete itself :) So we don't need it. We can discuss it on meta and maybe its time to forbid such a flag.</p>
			</div>
			<div id = "comment-6439" class = "comment">
				<p>I agree with you @MikroDel -  I would vote for / support a proposal on the main meta to remove the obsolete flag from comments based on my experience moderating this site. I believe that code is common to all sites, so any change to that code would get discussed on http://meta.stackexchange.com</p>
			</div>
			<div id = "comment-6440" class = "comment">
				<p>I've updated my post with some relevant discussions on the moderation aspects of comments. To be clear, the problem isn't with your use of the flags - it's with other people that flag wrongly or want to suppress someone's comment that isn't really obsolete and the human nature of people that handle the flags (i.e. I'm part of the problem.). Comment flags about not constructive (when the comment is actually constructive) are huge false positive. Comment flags about rude are very often not rude. So the obsolete flags arrive in the same flag workflow where false positive is high.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2963">Record</button>
				<button class="record-stop" id="stop-2963">Stop</button>
				<p id="recording-2963"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>