<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why are we including prices in software suggestions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why are we including prices in software suggestions?</h2>
<p>I'm noticing a new trend regarding posting software prices alongside their titles.  I'm not sure how it started, or where it came from, but why in Jobs' name would we want to do this??  </p>

<p>Prices are constantly changing, and it makes the site look irrelevant and obsolete quicker than just about any other trend I've seen.  People use different formatting, and lets not even get into the problems associated with USD vs EUR vs Yen, etc.</p>

<p>I see no need for this considering the convention is to provide a link to the software developers page anyway, which would contain the most up to date pricing.</p>

<p>Can we please stop this before it permeates too many threads?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>This is unenforceable. Deleting the prices would require us to review every single answer to every product-related question. Given everything else that goes on around here with the moderator flags, this is a niche problem that would be nice to manage but doesn't harm the site overall.</p>

<p><strong>UPDATE per comment:</strong>
If the high-rep community members are willing to step up and update or delete prices from answers, the mods (or at least I will be) more than happy to approve any edits the community agrees upon. </p>

<p>Otherwise, nice to manage is vastly different than actually managing it. Back to my original point, I don't see prices in answers as being all that significant relative to the other issues that crop up on a regular basis, so this isn't anything that I will actively address except to approve others' edits.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I understand your concern, but it just allows a quick comparison of one product to another. Software competes on features, usability, convenience, and price. One of the many reasons why the app store became so popular was because the last two were so right. </p>

<p>I don't think it is a big enough deal to mess with in general, and while prices change, are we going to reject all questions about old iTunes software or non-lion(this answer now will be dated when the next newest version of OS X comes out) OS X questions?</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>