<html>
	<head>
		<title id = 'pagetitle'>Why is the link to Ask Different Chat sometimes missing from Ask Different meta?
		</title>
	<head>
	<body id = 'pagebody'><p>In <a href="https://apple.meta.stackexchange.com/questions/88/apple-chat-room/728#728">an answer</a> to <strong>Apple Chat Room</strong>: </p>

<blockquote>
  <p>The link to Ask Different Chat is sometimes <strong>missing</strong> from the right hand column of Ask Different meta.</p>
</blockquote>

<p><img src="https://i.stack.imgur.com/Kl5mf.jpg" alt="enter image description here"></p>

<p>In the meta page to the left of that screenshot: </p>

<ul>
<li>no link. </li>
</ul>

<p>Reloading the pages does not resolve the inconsistency. I'll upload a movie to the following folder: </p>

<ul>
<li><a href="http://www.wuala.com/%23%23Apple-support/members/grahamperrin/2011/08/19/a/" rel="nofollow noreferrer">http://www.wuala.com/%23%23Apple-support/members/grahamperrin/2011/08/19/a/</a></li>
</ul>

<p>Please, is the randomness by design? Or is there some other explanation?</p>

<p>Whatever the reason: the inconsistency around a key feature is disorienting, smells a little buggy.</p>


<h1>ANSWERS</h1>
		<p>The sidebar ad will not appear on questions until questions have more than 1 answer.</p>

<p>This is to</p>

<ul>
<li><p>focus on the question</p></li>
<li><p>prevent the sidebar from becoming absurdly tall, much taller than the central area of the page itself</p></li>
</ul>


	</body>
</html>