<html>
	<head>
		<title id = 'pagetitle'>Why do I need 50 rep to post a comment?
		</title>
	<head>
	<body id = 'pagebody'><p>I think it doesn't make any sense, if there are question that have already been answered but I'm not fully satisfied I would like to post a comment to receive further explaining, but I can't. I think it's ridicolous</p>


<h1>ANSWERS</h1>
		<p>The reputation system works to balance the moderation load with allowing new people to learn the ropes by performing the easier tasks of asking and answering as they start to use the sites.</p>

<p>There have been many requests to change this limit. Some have asked for it to be made more restrictive. I'm guessing you would like it to be less restrictive. This is the place to make a concrete proposal if you wish once people weigh in on discussion of the current implementation.</p>

<hr>

<p>As I see it - the restriction is working perfectly. If you are not satisfied with a current answer, the best course of action is to ask a new question - linking to the existing answer and elaborating specifically why your problem isn't solved.</p>

<p>If you asked for clarification in the comments or need further explaining - doing that in comments is generally a poor way to request details. It can work on occasion - but generally runs into issues and back and forth and leaves the comments noisy with side discussion.</p>


	</body>
</html>