<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why was this low activity question "protected"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1999" class = "post">
			<h2>Question</h2>
			<h3>Score ::11</h3>
			<h3>Views ::118</h3>
				<h2>Why was this low activity question "protected"?</h2>
<p>I asked <a href="https://apple.stackexchange.com/questions/113160/how-can-i-make-you-tube-full-screen-on-my-ipad-when-using-safari">this question</a> a while ago and it has garnered no upvotes and a single upvoted answer.  The answer is correct and useful so I accepted it.  </p>

<p>Today I happened back onto this question and see that it was "protected" to prevent answers by users with &lt; 10 rep.  My understanding of the use of "protection" is to prevent pile-on when questions go viral.</p>

<p>Why would such a low activity question get protected?</p>

			</div><h3>Comments</h3>
				<textarea id = "speech-1999" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1999">
					<img id="start_img-1999" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>

<h1>Answers</h1>
			<br><div id = "ans-2000"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::13</h3>
				<p><p>The question has attracted a bunch of "me too" answers which have been deleted (and which you can't see). The software behind AskDifferent automatically sets a topic to "protected" if the ratio between deleted and non-deleted questions gets too high.</p>

<p>I've unprotected it again for the moment, if it keeps attracting "me too" answers it will get procted again automatically.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-3841" class = "comment">
				<p>That's interesting.  Thanks for the explanation.</p>
			</div>
			<div id = "comment-3876" class = "comment">
				<p>What is a "me too" answer? a-I have the same problem, or b-too many similar proposed solutions. I gave what I thought was a possible solution this morning (early morning CET) and now all traces have vanished. There were no visible previous answers so if "me too" == option b above there was no way of knowing. This is confusing.</p>
			</div>
			<div id = "comment-3877" class = "comment">
				<p>"me too" is "I have the same problem". Your answer still seems to be around: http://apple.stackexchange.com/questions/125479/im-locked-out-of-machine-as-will-not-accept-password-as-i-shut-down-while-using/125522#125522</p>
			</div>
				<textarea id = "speech-2000" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2000">
					<img id="start_img-2000" src="/mic.gif" alt="Start">
				</button>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>