<html>
	<head>
		<title id = 'pagetitle'>Why is my migrated question not linking to my account?
		</title>
	<head>
	<body id = 'pagebody'><p>I mistakenly <a href="https://apple.meta.stackexchange.com/q/2817/19937">posted a question on meta.superuser instead of here</a>, it was migrated here, but for some reason, it is not linked to my account and I cannot accept the answer.</p>

<p>Can someone fix this please?</p>


<h1>ANSWERS</h1>
		<p>Merging accounts is self service. Use the contact us link at the bottom of any page - link to the two (or more) accounts and indicate which is to be the master account. Linking to the question that's not linked can also help sometimes reinforce which accounts the stack exchange employees will merge.</p>


	</body>
</html>