<html>
	<head>
		<title id = 'pagetitle'>Why doesn't AskDifferent Reviews have tests?
		</title>
	<head>
	<body id = 'pagebody'><p>I have stopped by the review page on StackOverflow a few times, and noticed that they give test questions and answers for the reviewer to catch - typically flag - correctly. </p>

<p>This particular one was in the Late Answer review queue:
<img src="https://i.stack.imgur.com/U9jAC.png" alt="Late Answers test"></p>

<p>Obviously, it is a post worthy of a moderator flag. I saw that and clicked to flag it, but then was told that I passed the test. </p>

<p>I think this is a really nice feature: would it be possible to have on AskDifferent as well, or have I just never been tested for some reason?</p>


<h1>ANSWERS</h1>
		<p>As @bmike says each site does this differently. In Stack Overflow the tests were added because there were many users trying to get review badges by just clicking Looks Good even when the question was obviously bad or vice versa, These questions attempt to catch those doing this. See several Meta Stack Overflow questions</p>

<p>In Ask Different we do not have enough reviews for people to get the higher review badges (ie requiring more that one review so there is no incentive to game the system by just pressing the button without actually reviewing.</p>

<p>Also I haven't seen any complaints in Ask Different about incorrect reviews.</p>


	</body>
</html>