<html>
	<head>
		<title id = 'pagetitle'>Why was this Spam or Offensive? Can this be reversed?
		</title>
	<head>
	<body id = 'pagebody'><p>I just noticed that this <a href="https://apple.stackexchange.com/a/257932/205310">post</a> was deleted as spam or offensive. I understand the deletion because it's not an "answer", but this was NOT SPAM or OFFENSIVE!</p>

<p><strong>Can someone please reverse this, as it affects my reputation and credibility</strong> </p>

<p>I may only be a newbie and still finding my feet but I can't see why this was considered spam or offensive?</p>


<h1>ANSWERS</h1>
		<p>I've edited the post to make it look less like a subtle advert for wondershare and moved it to comments. That's not a normal thing, but you have a reasonable comment and it might help the site get a better answer to the question you linked. </p>

<p>Going forward, try to find some other questions to answer. Once you've gotten a few positive posts (answers specifically) voted - any temporary down side to deleted posts will be a distant memory.</p>


	</body>
</html>