<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why do people answer questions in the comment box?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3003" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::45</h3>
				<h2>Why do people answer questions in the comment box?</h2>
<p><a href="https://apple.stackexchange.com/questions/278369/mac-os-10-11-6-no-activity-monitor">mac os 10.11.6 no activity monitor</a></p>

<p>A very simple question with a very simple answer, yet for some reason, both answers are being provided in the question comments. Both users have a ton of rep (5k and 8k). </p>

<p>Why not just give the answer the usual way? I see this happen a lot, and I'm tempted to just drop a duplicate in the answer box just to boost the all important score. Bad form or..?</p>

			</div><h3>Comments</h3>
			<div id = "comment-6520" class = "comment">
				<p>Related: https://apple.meta.stackexchange.com/questions/2159/to-answer-or-comment-the-plight-of-the-troubleshoot-when-faced-with-ambiguity?rq=1, https://apple.meta.stackexchange.com/questions/2966/old-unanswered-questions-and-comments-as-answers?rq=1</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-3003">Record</button>
				<button class="record-stop" id="stop-3003">Stop</button>
				<p id="recording-3003"></p>

<h1>Answers</h1>
			<br><div id = "ans-3004"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I can't speak for others, but I know I do this when I I am not positive that the answer I give will yield a result. Basically whenever I am suggesting steps to attempt to solve the solution. Sometimes those steps resolve the problem, and thus, I've provided an answer in a comment.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-3004">Record</button>
				<button class="record-stop" id="stop-3004">Stop</button>
				<p id="recording-3004"></p>
			<br><div id = "ans-3005"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>The question you link to is rather unclear actually: is the user not finding Activity Monitor (as the first sentence implied) or are they looking for ways to solve the actual problem of the computer running hot? So it's kind of understandable that people use the comment section to get basic issues out of the way and then focus on the actual problem in the answer.</p>

<p>In other words: Answers in the comment section are a good indicator that the question needs to be improved by editing.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-6519" class = "comment">
				<p>As show by the very good answer that very proably is nothing to do with the OPs issue</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-3005">Record</button>
				<button class="record-stop" id="stop-3005">Stop</button>
				<p id="recording-3005"></p>
			<br><div id = "ans-3006"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>I made my suggestion in the comments and also included a link to an Apple support page because I wasn't sure what the OP's actual problem was.  I was trying to help the OP learn where to find resources to answer their questions (the unedited question stated they were new to Mac).</p>

<p>Should I have asked more probing questions to get a better handle on the question?  Maybe I should've done that and it's a good learning point for me.</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-3006">Record</button>
				<button class="record-stop" id="stop-3006">Stop</button>
				<p id="recording-3006"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>