<html>
	<head>
		<title id = 'pagetitle'>Why no mobile view?
		</title>
	<head>
	<body id = 'pagebody'><p>Being intrinsically Apple-centric, why does apple.stackexchange.com not have a mobile view for my iPhone?</p>

<p>The likelyhood of an Apple user coming to this site is high right? So why would you not want a mobile version of apple.stackexchange.com, explicitly optimised for iOS devices?</p>


<h1>ANSWERS</h1>
		<p>You should check out this application for iPhone: <a href="http://itunes.apple.com/us/app/six-to-eight/id384094708?mt=8" rel="nofollow">Six to Eight</a></p>


<p>Check <a href="http://stackapps.com">http://stackapps.com</a> for iOS and OS X apps.</p>

<p>Beyond that, we do have a rudimentary mobile theme at the moment that was just deployed. Browse from iPhone to see it.</p>


	</body>
</html>