<html>
	<head>
		<title id = 'pagetitle'>Why we're not customer support for [company X or product Y]
		</title>
	<head>
	<body id = 'pagebody'><p>Why do many questions asking for customer support get closed on Ask Different:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/890/help-my-computer-doesnt-work">Help! My computer doesn&#39;t work</a></li>
<li><a href="https://apple.stackexchange.com/questions/276062/how-long-to-recover-an-apple-account">https://apple.stackexchange.com/questions/276062/how-long-to-recover-an-apple-account</a></li>
<li><a href="https://apple.stackexchange.com/questions/112033/">How do I do X to my clash of clans village?</a></li>
<li><a href="https://apple.stackexchange.com/questions/151177/">I forgot my password for my Apple ID?</a></li>
<li><a href="https://apple.stackexchange.com/questions/114567/">Help me unlock this iPhone I just "happened to find"?</a></li>
<li><a href="https://apple.stackexchange.com/questions/191179/">My iPad does not work when it's camera time!</a></li>
<li><a href="https://apple.stackexchange.com/questions/191872/">I can't create a specific Apple ID</a></li>
</ul>

<p>Similar questions to mine are open or answered but mine got closed!  </p>

<p><em>Why?</em></p>


<h1>ANSWERS</h1>
		<p>Several sites in the Stack Exchange network have <a href="https://meta.stackoverflow.com/questions/255745/">an out-right prohibition of customer support questions</a>.</p>

<p>Ask Different can be quite choosy about ensuring a "CS" question that gets closed is of high quality <a href="https://apple.stackexchange.com/help/editing">by getting edited while it is closed</a> and <a href="https://apple.stackexchange.com/help/closed-questions">then reopened for answers</a>.</p>

<p>The <strong>why not</strong> reasons are typically:</p>

<p><strong>We're not here to act as customer support on any company's behalf.</strong></p>

<p>That's not our mission. We're here to help you learn how to interpret vague or conflicting behaviors once you've <strong>exhausted the normal support channels</strong> and <strong><em>documented that effort in your question</em></strong>. Your post here will live here for years - useful posts will drown amongst thousands of "help me please" posts with no detail and no effort to troubleshoot documented in them.</p>

<p>Furthermore, we don't set policy, we don't have telephone lines, confirmation code generators, internal knowledge base articles and status pages or any authority to make decisions on your behalf. </p>

<p>We can't track changes to policy except by anecdote and hearsay, so the answers we give you today are likely going to be wrong tomorrow, if not already wrong today. If the company documents service status and policy publicly on the web, then your web search engine of choice is a far better resource than a carefully curated and updated post here can ever be.</p>

<p><strong>Closed customer support questions are often vague.</strong></p>

<p>Good customer support involves some form of 20 questions. Most simple requests need 15 minutes of back and forth to be sure everyone is on the same page. Spreading that discovery process across hours or days with multiple people on the internet is an unsound option at best. If your question shows that you've already put that amount of thought into isolating your problem, it's less likely to be closed. </p>

<p><strong>But question X is just like mine and it's not closed.</strong></p>

<p>That's the nature of a community moderated resource. Please edit other bad questions and/or vote to close or link duplicate questions. We strive to concentrate knowledge and learning and not host the same tired question 15 times. Even though we often fail to clean things up when a question is initially asked, we hope for the majority of posts, this happens bit by bit for all bad questions.</p>

<p><strong>But <a href="https://www.youtube.com/watch?v=xIFJLMyUwrg" rel="nofollow noreferrer">I REALLY NEED HELP NOW!!!</a></strong> </p>

<p>That's fine and most of us really do empathize with your plight. Help us help you by getting <strong>a friend to copy edit your post</strong> and <em>ask you some obvious questions</em> like:</p>

<ul>
<li>What company supports this product?</li>
<li>Do they have phone support for urgent needs?</li>
<li>Is your frustration or urgency clouding the issue?</li>
<li>Does company X have articles that explain how to troubleshoot this or set it up?</li>
<li>Are there similar questions on this site or the vendor forums that will help narrow the scope of the issue?</li>
</ul>

<p>Then, you can take concrete steps to improve your question by <a href="https://apple.stackexchange.com/help/editing">editing out any venting/frustration/extraneous data and editing in specific details and research</a> to show what sort of knowledge you need to solve the problem. </p>

<p>The <a href="https://apple.stackexchange.com/help/how-to-ask">help guide</a> has great advice on how to post specific, well researched text to allow us to help you solve your urgent dilemma once it is detailed enough to then help many others because it is clear, well researched, and complete.</p>


	</body>
</html>