<html>
	<head>
		<title id = 'pagetitle'>Why does my question have the Create a Bounty link even though I accepted an answer?
		</title>
	<head>
	<body id = 'pagebody'><p>I asked a question and accepted an answer the same day. Why does the question show the start a bounty link?</p>

<p><img src="https://i.stack.imgur.com/4V5v8.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
		<p>It's simple. The site is for anyone to promote your question and anyone (you included) can always put a bounty on a question.</p>

<p>Bounties can be issued to reward a particularly good answer, to invite a better, more complete, better documented, or more generalized answer even if the question has been answered correctly, or to encourage more people to look at the question if you want to be sure the accepted answer really is correct.</p>

<p>I use it often to bring attention to a question where the wrong answer is selected. </p>

<p>The site wide design is to always allow a bounty on questions once it's passed the initial waiting period to be answered without a bounty.</p>


	</body>
</html>