<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why we're not customer support for [company X or product Y]
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2508" class = "post">
			<h2>Question</h2>
			<h3>Score ::19</h3>
			<h3>Views ::1437</h3>
				<h2>Why we're not customer support for [company X or product Y]</h2>
<p>Why do many questions asking for customer support get closed on Ask Different:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/890/help-my-computer-doesnt-work">Help! My computer doesn&#39;t work</a></li>
<li><a href="https://apple.stackexchange.com/questions/276062/how-long-to-recover-an-apple-account">https://apple.stackexchange.com/questions/276062/how-long-to-recover-an-apple-account</a></li>
<li><a href="https://apple.stackexchange.com/questions/112033/">How do I do X to my clash of clans village?</a></li>
<li><a href="https://apple.stackexchange.com/questions/151177/">I forgot my password for my Apple ID?</a></li>
<li><a href="https://apple.stackexchange.com/questions/114567/">Help me unlock this iPhone I just "happened to find"?</a></li>
<li><a href="https://apple.stackexchange.com/questions/191179/">My iPad does not work when it's camera time!</a></li>
<li><a href="https://apple.stackexchange.com/questions/191872/">I can't create a specific Apple ID</a></li>
</ul>

<p>Similar questions to mine are open or answered but mine got closed!  </p>

<p><em>Why?</em></p>

			</div><h3>Comments</h3>
			<div id = "comment-5735" class = "comment">
				<p>Those questions all are removed, are there archived versions or something?</p>
			</div>
			<div id = "comment-5738" class = "comment">
				<p>@HaroenViaene I've undeleted the two questions that were hidden from people without 10k reputation. Nothing on Ask Different is removed and everything is archived. It's a matter of reputation that renders "deleted" questions and posts. Even deleted comments are viewable with the right log in and reputation combination.</p>
			</div>
			<div id = "comment-5748" class = "comment">
				<p>ah, interesting</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-2509"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::28</h3>
				<p><p>Several sites in the Stack Exchange network have <a href="https://meta.stackoverflow.com/questions/255745/">an out-right prohibition of customer support questions</a>.</p>

<p>Ask Different can be quite choosy about ensuring a "CS" question that gets closed is of high quality <a href="https://apple.stackexchange.com/help/editing">by getting edited while it is closed</a> and <a href="https://apple.stackexchange.com/help/closed-questions">then reopened for answers</a>.</p>

<p>The <strong>why not</strong> reasons are typically:</p>

<p><strong>We're not here to act as customer support on any company's behalf.</strong></p>

<p>That's not our mission. We're here to help you learn how to interpret vague or conflicting behaviors once you've <strong>exhausted the normal support channels</strong> and <strong><em>documented that effort in your question</em></strong>. Your post here will live here for years - useful posts will drown amongst thousands of "help me please" posts with no detail and no effort to troubleshoot documented in them.</p>

<p>Furthermore, we don't set policy, we don't have telephone lines, confirmation code generators, internal knowledge base articles and status pages or any authority to make decisions on your behalf. </p>

<p>We can't track changes to policy except by anecdote and hearsay, so the answers we give you today are likely going to be wrong tomorrow, if not already wrong today. If the company documents service status and policy publicly on the web, then your web search engine of choice is a far better resource than a carefully curated and updated post here can ever be.</p>

<p><strong>Closed customer support questions are often vague.</strong></p>

<p>Good customer support involves some form of 20 questions. Most simple requests need 15 minutes of back and forth to be sure everyone is on the same page. Spreading that discovery process across hours or days with multiple people on the internet is an unsound option at best. If your question shows that you've already put that amount of thought into isolating your problem, it's less likely to be closed. </p>

<p><strong>But question X is just like mine and it's not closed.</strong></p>

<p>That's the nature of a community moderated resource. Please edit other bad questions and/or vote to close or link duplicate questions. We strive to concentrate knowledge and learning and not host the same tired question 15 times. Even though we often fail to clean things up when a question is initially asked, we hope for the majority of posts, this happens bit by bit for all bad questions.</p>

<p><strong>But <a href="https://www.youtube.com/watch?v=xIFJLMyUwrg" rel="nofollow noreferrer">I REALLY NEED HELP NOW!!!</a></strong> </p>

<p>That's fine and most of us really do empathize with your plight. Help us help you by getting <strong>a friend to copy edit your post</strong> and <em>ask you some obvious questions</em> like:</p>

<ul>
<li>What company supports this product?</li>
<li>Do they have phone support for urgent needs?</li>
<li>Is your frustration or urgency clouding the issue?</li>
<li>Does company X have articles that explain how to troubleshoot this or set it up?</li>
<li>Are there similar questions on this site or the vendor forums that will help narrow the scope of the issue?</li>
</ul>

<p>Then, you can take concrete steps to improve your question by <a href="https://apple.stackexchange.com/help/editing">editing out any venting/frustration/extraneous data and editing in specific details and research</a> to show what sort of knowledge you need to solve the problem. </p>

<p>The <a href="https://apple.stackexchange.com/help/how-to-ask">help guide</a> has great advice on how to post specific, well researched text to allow us to help you solve your urgent dilemma once it is detailed enough to then help many others because it is clear, well researched, and complete.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-5695" class = "comment">
				<p>With a little rewording, this could work for every SE site.</p>
			</div>
			<div id = "comment-5814" class = "comment">
				<p>But may questions are customer support and we do answer them (i.e. use of Mac etc) I agree that sometimes the answer is go to their customer support but most times we can answer better then they can</p>
			</div>
			<div id = "comment-5816" class = "comment">
				<p>Providing a pointer to the first troubleshooting article is often a useful answer. If either the only way then is contact them e.g. the Apple ID password or else not followed the steps there then close If don;t know where the support is or the steps need explaining then on topic - but we need the pointer here</p>
			</div>
			<div id = "comment-5818" class = "comment">
				<p>@Mark Since you have great insight, please consider adding a new answer with your take on what should not be closed as basic CS with examples! Great questions have focus and show research and we love them. Customer support literally embraces one instance of a human having problems getting something done when they can't ask the precise question or look up the document that explains how to X. I think that's the goal here we are striving to set with a bar for not being customer support. It relates to the amount of self-help and usefulness of the potential answers IMO.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>