<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why was my question about watching videos on iPad voted down?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1400" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::55</h3>
				<h2>Why was my question about watching videos on iPad voted down?</h2>
<p>I've tried to the best of my knowledge to contribute to the StackExchange community with each question, thinking that the answer may help a countless number of other users in the future. I can't tell you how many times I've run across a StackExchange question in a Google search that gave me the exact answer to the problem I was having. It's certainly an invaluable service and I like to think that I'm giving something back by asking questions and helping others while I'm waiting for the answer.</p>

<p>That being said, I haven't had any questions voted down until this one. I thought I had a legitimate question about an iPad video issue. My problem was that I wanted to watch a video of a certain program on my iPad, but the video was only available in Flash format. I wanted to know if there were any apps or websites that would support this video on iPad. I thought other users with the same experience would be able to give me a tip on another place to look.</p>

<p>In any case, I'd like to avoid asking bad questions in the future, so please give me a few tips on why my question may have been voted down -- and how to improve similar questions in the future. Thanks for any pointers.</p>

<p>My Question: <a href="https://apple.stackexchange.com/questions/60210/how-can-i-watch-old-episodes-of-nova-on-my-ipad">How can I watch old episodes of Nova on my iPad?</a></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1400">Load Comments</button></br>
			<div id = "commentsection-1400" class = 'collapse'>
			<div id = "comment-2674" class = "comment">
				<p>"flash" http://www.apple.com/hotnews/thoughts-on-flash/</p>
			</div>
			</div>
				<textarea id = "speech-1400" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1400">
					<img id="start_img-1400" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1401"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::5</h3>
				<p><p>Unless someone that voted down your answer sees this question (statistically uncommon), you're not likely to get a straight answer.</p>

<p>My two cents from skimming over the question;</p>

<p>The general quality and tone of it is fine. Minus a few grammar gripes (two periods), the quality of the question itself is perfectly acceptable.</p>

<p>Maybe the question comes off as a bit of a rant? "$3.99 per episode is too expensive". When a single song is $0.99, surely TV content should be more, but not too much more. I don't disagree with you, except to recommend you see if they have a season pass which could offer you a nice discount. Plus, iTunes is commonly the cheapest you'll find this content for, anywhere. (Barring maybe Amazon? Not sure.)</p>

<p>It might have also been voted down as a knee jerk response to the voter assuming "this guy is asking for links to free downloads of the series". I'm perfectly aware that this is not the case, but I'm just guessing what other people might have thought.</p>

<p>Combine the above with your low rep and lack of a username, and people tend to jump on the "this new person doesn't know how this site works yet" bandwagon.</p>

<p>Don't be distraught. If you get a better answer to your question, perfect. If you don't? I'll just be glad to continue seeing you around the site. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1401">Load Comments</button></br>
			<div id = "commentsection-1401" class = 'collapse'>
			<div id = "comment-2673" class = "comment">
				<p>I second the sentiment to encourage you to engage with the site and keep asking questions to see which are useful to others (in addition to being of use to you). The beauty of the site is that even unpopular questions are allowed and kept when answers are made that get support. There is no suppression of questions in search until they get deleted. Even closed questions are visible in search results while they have a chance to get edited and re-opened.</p>
			</div>
			<div id = "comment-2676" class = "comment">
				<p>Thanks for your answer. I initially thought I was breaking a rule or doing something wrong when I received the four down votes. (The $3.99 comment was just in comparison to the programs being available for free on the Nova website.) I think feedback in any form is helpful, but just wish they had left a response if they thought there was a way I could improve the question.</p>
			</div>
			<div id = "comment-2677" class = "comment">
				<p>Breaking a rule would result in question closure/deletion.</p>
			</div>
			</div>
				<textarea id = "speech-1401" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1401">
					<img id="start_img-1401" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1402"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>I think Jason has covered 90% of the potential for downvotes, but I could also see people down voting on the usefulness of the question for future visitors.</p>

<p>Questions that are scavenger hunts or lists tend to do poorly since they don't involve the answerer getting into "why" and instead just point to "there it is".</p>

<p>In this case Nova spends a lot of money making content and has chosen a certain distribution model. You are implying that you don't value the content in the same way as them and seek an end/around in how you worded the question.</p>

<p>In the end - several possible answers are possible to a question like the one you have asked:</p>

<ol>
<li>You weren't aware of an alternate official source of the content and someone points you to it.</li>
<li>You weren't aware of public statement of plans to release the content in the manner you wish to see it and someone points you to it.</li>
<li>Someone re-encodes the content and makes it available and someone (else) points you to it.</li>
<li>An answer shows you how to re-encode the files and you DIY.</li>
</ol>

<p>Only the last scenario seems to involve knowledge that typically gets up votes. Your question clearly isn't a bad one, but it may not become a popular one. Since voting is anonymous, even moderators can only see the total vote count so at present it's +2/-4 and without a comment the reason for the voting can only be guessed. </p>

<p>In this specific case, perhaps if you had contacted Nova and asked them if they have plans and summarized that response here - people would find that of more use than the question as it currently is worded...</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1402">Load Comments</button></br>
			<div id = "commentsection-1402" class = 'collapse'>
			<div id = "comment-2675" class = "comment">
				<p>Great points and I appreciate the feedback. My question originally had a -4 which is what prompted me to ask this forum. I'll take your advice into consideration for my next questions.</p>
			</div>
			<div id = "comment-2678" class = "comment">
				<p>Certainly stay with it - once people see a few questions and answers in your voice, I believe you will find this a very welcoming place open to many ways to look at an issue.</p>
			</div>
			</div>
				<textarea id = "speech-1402" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1402">
					<img id="start_img-1402" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>