<html>
	<head>
		<title id = 'pagetitle'>Why can't I embed images at exactly 10 reputation?
		</title>
	<head>
	<body id = 'pagebody'><p>I have an image that makes <a href="https://apple.stackexchange.com/questions/20462/why-do-i-see-two-sizes-for-storage-space-available">Why do I see two sizes for storage space available?</a> immediately clear, but I cannot embed it inline. I'm given the error message "We're sorry, but as a spam prevention mechanism, new users aren't allowed to post images. Earn more than 10 reputation to post images.", but according to <a href="https://apple.stackexchange.com/privileges/user/9335">https://apple.stackexchange.com/privileges/user/9335</a>, I should be good to go.</p>

<p>Do I need 11 reputation to embed images? If so, why does the list of privileges mislead users like that?</p>


<h1>ANSWERS</h1>
		<p>It is a bit inconsistent, but we want it to be 11 in this case. Remember all users start out with 1 rep, so a single answer upvote +10 or two question upvotes +5 +5 will get you to 11 total.</p>


	</body>
</html>