<html>
	<head>
		<title id = 'pagetitle'>Why is this site called "ask different"?
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/286/ask-different-really-surely-ask-apple">Ask Different, really? Surely Ask Apple</a>  </p>
</blockquote>



<p>I'm using a Mac right now to post this. And I'm not "different".</p>

<p>So why is this site called "Ask Different"?  In my opinion, it kind of sounds like you think Mac users are somehow "different", and this is alienating, in a way.</p>

<p>Plus what if the Mac user market shot up to 25% over a few years, for some weird reason?  Would we be "asking different" then, or "asking mainstream?"</p>

<p>I just don't think it's nice to call Mac users "Different".  Different from what? The mainstream?  Do you have to highlight it this way?  May be viewed as <em>marginally</em> offensive. </p>


<h1>ANSWERS</h1>
		<p>Ask Different is a play on the <a href="http://en.wikipedia.org/wiki/Think_different" rel="nofollow noreferrer">Think Different</a> ad campaign that Apple ran in the '90s.</p>

<p><img src="https://i.stack.imgur.com/nX47O.png" alt="enter image description here"></p>

<p>The Ask part just represents one of the site's core functions, asking.</p>

<p>The goal is in no way to label Apple users as somehow different; it's just a bit of nostalgia.</p>


	</body>
</html>