<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why did Apple.SE visitors count drop so fast?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-112" class = "post">
			<h2>Question</h2>
			<h3>Score ::4</h3>
			<h3>Views ::212</h3>
				<h2>Why did Apple.SE visitors count drop so fast?</h2>
<p>Last month Apple.SE had 1k views/day on average but this week it has decreased to 500. Does anyone knows the reason?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-112">Load Comments</button></br>
			<div id = "commentsection-112" class = 'collapse'>
			<div id = "comment-211" class = "comment">
				<p>It's back to ~1K...</p>
			</div>
			</div>
				<textarea id = "speech-112" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-112">
					<img id="start_img-112" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-113"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>I suspect part of it is that it's currently the weekend - there is always a noticeable drop in views on Saturday and Sunday.</p>

<p>However the addition of all the gadgets questions has complicated matters:</p>

<blockquote>
  <p>views_per_day there is the sum of all views (as determined by unique IP visits within a reasonable interval) on all questions (including deleted, closed, migrated, etc.) over <strong>the number of days the site has existed (as determined by the creation date of the oldest question)</strong>.</p>
</blockquote>

<p>Now that we have much older questions on Apple.SE we have 50 or 60 days at present of very, very few views that previously did not exist at all.</p>

<p>Source: <a href="https://meta.stackexchange.com/questions/64863/how-is-views-day-calculated">How is views/day calculated?</a> on MSO as I believe they adjusted it over this past week.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-113">Load Comments</button></br>
			<div id = "commentsection-113" class = 'collapse'>
			<div id = "comment-185" class = "comment">
				<p>Nice catch  migrating questions from Gadgets definitely accounts for a big part of the drop. Oh well, some more [promoting](http://meta.apple.stackexchange.com/questions/89/promoting-apple-se) needed :)</p>
			</div>
			<div id = "comment-188" class = "comment">
				<p>Of note, the migration of the questions resulted in Apple.SE dropping from 1k to ~513. Whereas Android starts off at a paltry 79 views/day because of it.</p>
			</div>
			<div id = "comment-191" class = "comment">
				<p>then what we can do to increase it again? must report to development team or something else?</p>
			</div>
			<div id = "comment-192" class = "comment">
				<p>@Am1rr3zA Just get more visitors and eventually over time the "penalty" will lessen.</p>
			</div>
			<div id = "comment-194" class = "comment">
				<p>The problem has been fixed! See the linked MSO question for details on how "views per day" is now calculated.</p>
			</div>
			</div>
				<textarea id = "speech-113" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-113">
					<img id="start_img-113" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>