<html>
	<head>
		<title id = 'pagetitle'>Why is my account on Ask Different more restrictive than my account on SO?
		</title>
	<head>
	<body id = 'pagebody'><p>I'm just coming over here from Stack Overflow, and the controls on who can answer a question or comment are much, much too restrictive. </p>

<p>Is there a reason for this? </p>

<p>I had to start a <a href="https://apple.stackexchange.com/questions/113143/will-someone-upvote-this-question-so-i-can-contribute">question</a> just to get enough rep to answer <a href="https://apple.stackexchange.com/questions/108333/osx-keeps-switching-to-the-first-space">this other question</a>, and it actually helped someone out, but he had to put his reply as an answer because it takes less rep to do that than to comment, and then I couldn't comment on his answer because I don't have enough rep, so I was faced with either making another answer, or commenting on my own answer in the hope that he sees it.</p>


<h1>ANSWERS</h1>
		<p>There is actually no difference in reputation required for commenting on StackOverflow or AskDifference. </p>

<p>On both sites:</p>

<ul>
<li>you need a reputation of 50 to be able to comment on posts other than your own. </li>
<li>you need a reputation of 10 to answer protected posts (search for protected:1 to see those on either site)</li>
<li>some posts get locked and no one can comment or answer them. </li>
</ul>

<p>Asking in meta is the best manner to figure out things - kudos for that. You could also flag a post and explain to a moderator why you want a lock removed if a restriction is really preventing an honest effort to contribute a needed and quality answer. </p>

<p>You do have a reputation of 167 (as of now) on StackOverflow so you are past that point there.</p>

<p>Also (from <a href="https://apple.stackexchange.com/help/whats-reputation">What is reputation</a>):</p>

<blockquote>
  <p>If you are an experienced Stack Exchange network user with 200 or more reputation on at least one site, you will receive a starting +100 reputation bonus to get you past basic new user restrictions. This will happen automatically on all current Stack Exchange sites where you have an account, and on any other Stack Exchange sites at the time you log in.</p>
</blockquote>

<p>The reason why you initially couldn't add an answer to <a href="https://apple.stackexchange.com/questions/108333/osx-keeps-switching-to-the-first-space">this question</a> was because it was protected to prevent any further me too/garbage answers (which have been deleted already so you can't see them). I've converted both your answer and the one from the user responding to it to comments now.</p>

<p>The best thing to do is find things you can either improve with an edit or answer well and you'll have gotten past most of the new user restrictions in short order.</p>


	</body>
</html>