<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why isn't askdifferent.com used?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why isn't askdifferent.com used?</h2>
<p><a href="http://askdifferent.com">http://askdifferent.com</a> is registered, but it redirects to <a href="http://apple.stackexchange.com">http://apple.stackexchange.com</a> instead. Why is that?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I believe the canonical sites that are not on the trilogy (and the newly promoted arquade) all are intended to be branded with the stack exchange name for several reasons.</p>

<ul>
<li>less work (there are like 82 sites all told)</li>
<li>better cohesiveness in search engine eyes as well as overall site traffic</li>
<li>less cost for software / naming that goes by domain</li>
</ul>

<p>Search on the <a href="https://meta.stackoverflow.com/">main meta</a> and here for more of the back story...</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>All of the non-trilogy sites use .SE domains. In a <a href="http://blog.stackoverflow.com/2012/06/welcome-to-the-arqade/">post</a> on the SO blog, these reasons are listed (emphasis mine):</p>

<blockquote>
  <p>There are a lot of benefits to being associated with the Stack
  Exchange network! That s why Arqade, Ask Different, and Seasoned
  Advice (among others) all redirect to a ___.stackexchange.com
  subdomain, even though they have their own brands.  <strong>For one, search
  rank is improved for our entire network.  Additionally, many people
  recognize Stack Exchange as a brand, and might be more likely to visit
  some of the smaller sites because of that.</strong></p>
</blockquote>

<p>That said, I don't think that having the established, uniquely-branded sites on their in domains would necessarily be a bad idea.</p>

<p>Also see:<br>
<a href="https://apple.meta.stackexchange.com/questions/308/new-domain-redirection-vs-new-location">New Domain: Redirection vs New Location</a><br>
<a href="https://apple.meta.stackexchange.com/questions/433/please-change-name-of-site-from-apple-to-ask-different">Please change name of site from &quot;Apple&quot; to &quot;Ask Different&quot;</a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>