<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why can't I suggest edits here on Meta?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1109" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::63</h3>
				<h2>Why can't I suggest edits here on Meta?</h2>
<p>I've been trying to edit a post here on Meta Ask Different, but the link is just not there.</p>

<blockquote>
  <p><img src="https://i.stack.imgur.com/s5qpX.png" alt="enter image description here"></p>
</blockquote>

<p>How can I edit a post then? Why can't I do it? It works fine on the main site.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2001" class = "comment">
				<p>Your own post, or someone else's?</p>
			</div>
			<div id = "comment-2005" class = "comment">
				<p>Anyone else's. I'm talking about suggested edits.</p>
			</div>
			<div id = "comment-2007" class = "comment">
				<p>I went looking for the reputation threshold needed to suggest an edit and only came up with this [reputation requirements compared](http://meta.stackexchange.com/questions/58587/reputation-requirements-compared). I'll keep looking...</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1112"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::4</h3>
				<p><p>This is something that the site design currently does not allow.</p>

<p><a href="https://meta.stackexchange.com/questions/78223/per-site-metas-dont-have-ability-of-suggested-edits">Per-site metas don&#39;t have ability of suggested-edits</a></p>

<p>I checked with several other moderators and the low traffic nature of this site (and really all the metas except for the main one that actually carries reputation on its own) means that it's something that would add another place for moderators to check for very few questions needing an edit. </p>

<p>Does this answer your question? Perhaps we can chat over the changes you'd like to make in a chat room?</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2008" class = "comment">
				<p>Fair enough, I didn't know that. It doesn't make a lot of sense to me why one shouldn't be able to to it   it's not much of an overhead. I don't have any specific edit to make, but thanks for the offer!</p>
			</div>
			<div id = "comment-2009" class = "comment">
				<p>Neither did I know it until you asked. It's code to write, test, maintain and another queue for moderators to look at. For 86 sites to have a second edit queue, perhaps the overhead is significant.</p>
			</div>
			<div id = "comment-2010" class = "comment">
				<p>@bmike they could always just integrate the queues so there's only one place to check per site</p>
			</div>
			<div id = "comment-2014" class = "comment">
				<p>Indeed - when faced with that question, the answer at the time was no - SE's not going to integrate things. I could see it needing to be revisited if sites grow enough and site metas never get reputation as a stand alone thing. Perhaps the answer is for sites where the mods want this could lobby for full reputation - same meta handling as MSO.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>