<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why are the positive bonus rep red in the reputation tab?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2324" class = "post">
			<h2>Question</h2>
			<h3>Score ::10</h3>
			<h3>Views ::230</h3>
				<h2>Why are the positive bonus rep red in the reputation tab?</h2>
<p>I noticed that (un)accepts...</p>

<p><img src="https://i.stack.imgur.com/mHGvZ.png" alt=""></p>

<p>...and bounties...</p>

<p><img src="https://i.stack.imgur.com/WPQjp.png" alt=""></p>

<p>are red there. Why are all the rep received from bonuses RED?! </p>

<p>I understand unaccepts - they give negative rep gain and therefore logically made red (on any SE site).</p>

<p>But why do accepts have a red background? It should be green, that's the wonderful color which is used for accepts everywhere on SE. Also bounties: why red again? Why not blue, the known color of bounties?</p>

			</div><h3>Comments</h3>
			<div id = "comment-4376" class = "comment">
				<p>Blue for bounties and bounties awarded is a good idea.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2324">Record</button>
				<button class="record-stop" id="stop-2324">Stop</button>
				<p id="recording-2324"></p>

<h1>Answers</h1>
			<br><div id = "ans-2325"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Red, or #ab2020, is the accent colour used throughout this site for highlighting.</p>

<ul>
<li>.review-indicator span</li>
<li>h3 a:hover</li>
<li>.bounty-indicator</li>
<li>.bounty-indicator-tab</li>
<li>.bounty-award</li>
<li>.bounty-vote-off</li>
</ul>

<p>Ask Different isn't the only site to use red (or a shade of red) for this.<br>
For example, <a href="https://gaming.stackexchange.com/?tab=featured">Arqade uses red for bounties</a> and Webmasters uses orange (these were just the first two graduated sites I tried).</p>
</p><br>
			</div><h3>Comments</h3>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
				<button class="record-start" id="start-2325">Record</button>
				<button class="record-stop" id="stop-2325">Stop</button>
				<p id="recording-2325"></p>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>