<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why is the edit link displayed but is uneditable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why is the edit link displayed but is uneditable?</h2>
<p>Recently returned to active participation in Ask Different so bear with me if rules have changed.</p>

<p>Saw this post <a href="https://apple.stackexchange.com/questions/80135/help-i-need-help-here">Restoring a jailbroken iPhone</a> which IMO needed editing.
Though the edit link is displayed, it's unclickable. Only share is allowed.</p>

<p>Why?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The question had a pending edit by a user with low reputation (&lt;2000). This has to be approved by two users with reputation >=2000.</p>

<p>As both @Globalnomad and @Phorce have &lt; 2000 you cannot edit or approve it so you have to wait until the pending edit is approved. (I have approved it so only one more needed now)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>