<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why don't "up-votes" received for a comment contribute to reputation scores?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why don't "up-votes" received for a comment contribute to reputation scores?</h2>
<p>Take <a href="https://apple.stackexchange.com/questions/131467/missing-a-lot-of-options-from-finders-right-click-context-menu">this question</a> for example. It's a good question, but there's no definitive answer without going through some of the initial troubleshooting steps I point out in my comments in order to isolate the problem. </p>

<p>We are encouraged only to <strong>answer</strong> questions in our replies, rather than respond with speculations as to the problem - but in this case, and in many cases, isolating the problem using the comment section is crucial to actually delivering an answer. Should there not be a "reward?"</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Because comments are transitory, and should be used to indicate clarification etc. An upvote on a comment is further evidence to the OP that it's a good one that may allow them to amend their question/answer.  If that results in an improvement etc, then the vote should be applied to the question/answer (if that's not already been done), not the comment, which should then be removed.</p>

<p>Essentially, comments are post it notes.  In the ideal world, they all get binned once they have served their purpose to further the efforts to improve a contribution.  Comments can spill over into chat if too many are created, and as such it's just like starring a chat comment - it signifies it adds something, but it isn't a formal part of the q or a.</p>

<p>On extremely busy posts, votes push up the best comments while the rest are hidden from view, so votes on comments aren't in the same rep giving class as actual posts. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>