<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why is this site called "ask different"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1318" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::169</h3>
				<h2>Why is this site called "ask different"?</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/286/ask-different-really-surely-ask-apple">Ask Different, really? Surely Ask Apple</a>  </p>
</blockquote>



<p>I'm using a Mac right now to post this. And I'm not "different".</p>

<p>So why is this site called "Ask Different"?  In my opinion, it kind of sounds like you think Mac users are somehow "different", and this is alienating, in a way.</p>

<p>Plus what if the Mac user market shot up to 25% over a few years, for some weird reason?  Would we be "asking different" then, or "asking mainstream?"</p>

<p>I just don't think it's nice to call Mac users "Different".  Different from what? The mainstream?  Do you have to highlight it this way?  May be viewed as <em>marginally</em> offensive. </p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-1319"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::10</h3>
				<p><p>Ask Different is a play on the <a href="http://en.wikipedia.org/wiki/Think_different" rel="nofollow noreferrer">Think Different</a> ad campaign that Apple ran in the '90s.</p>

<p><img src="https://i.stack.imgur.com/nX47O.png" alt="enter image description here"></p>

<p>The Ask part just represents one of the site's core functions, asking.</p>

<p>The goal is in no way to label Apple users as somehow different; it's just a bit of nostalgia.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2557" class = "comment">
				<p>Just says that we want people who used computers in the 90s - iPad and iPhone users have no concept of Apple users like that</p>
			</div>
			<div id = "comment-6122" class = "comment">
				<p>And I guess in this case it's acceptable to follow Apples poor grammar.  It **really** should be __**differently**__ ;}</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>