<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why do I occasionally get a big rainbow in the top banner?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-3033" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::32</h3>
				<h2>Why do I occasionally get a big rainbow in the top banner?</h2>
<p>So, the question is not so much about the rainbow itself (I see it as a reminder of the old Apple logo I grew up with), but more about why it appears sometimes and not other times?</p>

<p>Below is a screenshot of what I mean:</p>

<p><a href="https://i.stack.imgur.com/MT4YN.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/MT4YN.png" alt="enter image description here"></a></p>

<p>And, as you can see, it's totally different to what I <em>usually</em> see:</p>

<p><a href="https://i.stack.imgur.com/7Qq4j.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/7Qq4j.jpg" alt="enter image description here"></a></p>

<p>In the second screenshot above you do see a very thin rainbow, so is the first screenshot just indicative of some rendering problem with the browser?</p>

<p>I have noticed this in multiple browsers, so I know it's not browser specific. And on multiple machines, although I must admit I haven't tracked this (i.e. I juggle multiple devices, browsers and operating systems, and  haven't kept a record of when the big rainbow appears).</p>

<p>Is this just a rendering problem? Or is something else at play here?</p>

<p><strong>Note:</strong> In the absence of a more appropriate tag, I've used the 'bug' tag for this question although it's probably not really a bug.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-3034"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The rainbow is always there and the black gets drawn on top. My hunch is something is happening on the network or in the browser to drop the connection when you don't get the whole page rendered.</p>

<p>This brings to mind a saying I'll paraphrase poorly:</p>

<blockquote>
  <p>I never learn things when things work. It's only when they break that you can easily peek inside and see what connects where, how the whole is assembled and how it was designed to work together as one. Be sure to pay attention when things break, because that's when the learning comes more easily.</p>
</blockquote>

<p>Also, hopefully someone with more expertise can come in and illuminate my broken answer. There's probably a great explanation for how the page is built other than "probably network since you have multiple devices / browsers" seeing the same breakage. You could also ask on the main site how to inspect the page to pick apart what resources / scripts do what. The steps are a little different based on Safari/Chrome or particular OS in play.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-6578" class = "comment">
				<p>Thanks for this. Just out of curiosity, have you ever experienced the same issue? I might actually start tracking it for a few weeks just to see if I can isolate it down to particular circumstances.</p>
			</div>
			<div id = "comment-6579" class = "comment">
				<p>@Monomeeth Not in a long while - we had horrible buffer bloat one weekend on the internet - tons of lost packets, etc.. Basically the network was in bad shape.</p>
			</div>
			<div id = "comment-6634" class = "comment">
				<p>I still see the rainbow header whenever opening apple.stackexchange.com. Any way to get rid of this? I tried clearing the browser cache, but it did not help...</p>
			</div>
			<div id = "comment-6637" class = "comment">
				<p>@nwinkler if the issue persists on multiple days or multiple browsers a follow on question with the browser / os specifics would let the developers know to look into it.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>