<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why didn't my 100 reputation bonus get applied?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-182" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::116</h3>
				<h2>Why didn't my 100 reputation bonus get applied?</h2>
<p>Obviously this belongs on <a href="https://apple.meta.stackexchange.com/">https://apple.meta.stackexchange.com/</a> instead of here, but I can't ask a question there without a 5 reputation here on <a href="https://apple.stackexchange.com/">https://apple.stackexchange.com/</a> first!</p>

<p>When I created my account here, I linked it with my other StackExchange accounts (15 others). When I did this upon creating the other SE accounts, I got a +100 reputation bonus, allowing me to upvote/comment/etc. </p>

<p>Why didn't I get that rep bonus here?</p>

<p>I see from <a href="https://apple.meta.stackexchange.com/questions/62/starting-reputation-at-101-vs-1/63#63">Starting reputation at 101 vs 1?</a> that you only get the bonus with a 200 rep on the other sites. While I don't have much rep on most sites, I do have it on StackOverflow.</p>

<p>What's up with this?</p>

<p>Tried to tag this: frustration stackexchange reputation should-be-on-meta</p>

<p>Unfortunately, I don't have the 150 rep required to do that either.</p>

<p>Apparently I need to give it an existing tag now too. Great. SO used to be easy/fun to use. If I had to start over from scratch like this on each SE site, I'd never come back. </p>

<p>Tagging this: settings because nothing is really appropriate.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-182" class = 'collapse'>
			</div>
				<textarea id = "speech-182" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-182">
					<img id="start_img-182" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-183"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Sorry for the trouble you're having. I'm not sure why you didn't get the association bonus at first, but it appeared when I unassociated/reassociated your accounts. You now have 101 rep.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-183">Load Comments</button></br>
			<div id = "commentsection-183" class = 'collapse'>
			<div id = "comment-283" class = "comment">
				<p>Thanks! I almost tried to "Clear All Associations" but that seemed permanent and it wasn't clear whether I could reassociate the accounts after that. (Plus, if I'd tried that it would hinder someone from looking into the issue.) Thanks again!</p>
			</div>
			<div id = "comment-284" class = "comment">
				<p>@BJQ glad I could help :-)</p>
			</div>
			<div id = "comment-285" class = "comment">
				<p>Not sure if it's relevant, but I'll share this in case it helps fix the issue for someone else. When logging in for the first time to Apple.SE, I left the myOpenID option "Include information from profile:" set to "New Persona" (the default). Every other time I'd associated an account, I'd changed this to "Send no information."</p>
			</div>
			</div>
				<textarea id = "speech-183" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-183">
					<img id="start_img-183" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>