<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why don't "up-votes" received for a comment contribute to reputation scores?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2130" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::111</h3>
				<h2>Why don't "up-votes" received for a comment contribute to reputation scores?</h2>
<p>Take <a href="https://apple.stackexchange.com/questions/131467/missing-a-lot-of-options-from-finders-right-click-context-menu">this question</a> for example. It's a good question, but there's no definitive answer without going through some of the initial troubleshooting steps I point out in my comments in order to isolate the problem. </p>

<p>We are encouraged only to <strong>answer</strong> questions in our replies, rather than respond with speculations as to the problem - but in this case, and in many cases, isolating the problem using the comment section is crucial to actually delivering an answer. Should there not be a "reward?"</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4054" class = "post">
				<p>For this specific question one option you have is to go back and add an answer based on the comments to offer all troubleshooting tips together.</p>
			</div>
			<div id = "comment-4055" class = "post">
				<p>If this is a feature request, can you make it more like a feature request? I.e. rather than asking why they don't provide reputation, say why you think they *should* provide reputation. I've removed the feature-request tag for now. Also, see this Meta.SE post: [Reputation for comments?](http://meta.stackexchange.com/questions/296/reputation-for-comments)</p>
			</div>
			<div id = "comment-4056" class = "post">
				<p>@grgarside perfectly reasonable. i've marked as answered. **stuffe's** response was on point, and **patrix** made a great point about answering the question after the fact. Thanks.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2131"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>Because comments are transitory, and should be used to indicate clarification etc. An upvote on a comment is further evidence to the OP that it's a good one that may allow them to amend their question/answer.  If that results in an improvement etc, then the vote should be applied to the question/answer (if that's not already been done), not the comment, which should then be removed.</p>

<p>Essentially, comments are post it notes.  In the ideal world, they all get binned once they have served their purpose to further the efforts to improve a contribution.  Comments can spill over into chat if too many are created, and as such it's just like starring a chat comment - it signifies it adds something, but it isn't a formal part of the q or a.</p>

<p>On extremely busy posts, votes push up the best comments while the rest are hidden from view, so votes on comments aren't in the same rep giving class as actual posts. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4057" class = "post">
				<p>Also worth noting that you cannot downvote a comment, just like you can't dislike a comment on Facebook, or anti-favourite a tweet etc.  Think of up votes on comments more as *likes* or *favourites*, just a little something to let the poster know it was well received without people competing to get rep through them which would probably result in an increase of crap ones</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>