<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why can't I embed images at exactly 10 reputation?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-680" class = "post">
			<h2>Question</h2>
			<h3>Score ::3</h3>
			<h3>Views ::81</h3>
				<h2>Why can't I embed images at exactly 10 reputation?</h2>
<p>I have an image that makes <a href="https://apple.stackexchange.com/questions/20462/why-do-i-see-two-sizes-for-storage-space-available">Why do I see two sizes for storage space available?</a> immediately clear, but I cannot embed it inline. I'm given the error message "We're sorry, but as a spam prevention mechanism, new users aren't allowed to post images. Earn more than 10 reputation to post images.", but according to <a href="https://apple.stackexchange.com/privileges/user/9335">https://apple.stackexchange.com/privileges/user/9335</a>, I should be good to go.</p>

<p>Do I need 11 reputation to embed images? If so, why does the list of privileges mislead users like that?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-680">Load Comments</button></br>
			<div id = "commentsection-680" class = 'collapse'>
			<div id = "comment-1207" class = "comment">
				<p>This doesn't answer your question, but try it now! :P</p>
			</div>
			<div id = "comment-1208" class = "comment">
				<p>Aren't we clever!</p>
			</div>
			<div id = "comment-1455" class = "comment">
				<p>I was wondering the same thing, because several people have this problem.</p>
			</div>
			</div>
				<textarea id = "speech-680" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-680">
					<img id="start_img-680" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1013"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>It is a bit inconsistent, but we want it to be 11 in this case. Remember all users start out with 1 rep, so a single answer upvote +10 or two question upvotes +5 +5 will get you to 11 total.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1013" class = 'collapse'>
			</div>
				<textarea id = "speech-1013" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1013">
					<img id="start_img-1013" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>