<html>
	<head>
		<title id = 'pagetitle'>Why was my question closed asking why Apple didn t implement a hardware feature in a specific device?
		</title>
	<head>
	<body id = 'pagebody'><p><a href="https://apple.stackexchange.com/questions/277800/why-does-the-larger-ipad-pro-support-fewer-lte-bands-than-the-smaller-one">Why does the larger iPad pro support fewer LTE bands than the smaller one?</a></p>

<p>This was VTC'd despite not being "based on opinion, rather than facts, references, or specific expertise." In specific, the accepted answer <strong>which was accepted before the last two close votes came in</strong>, is purely factual and not opinion based in any way.</p>

<p>I take issue with the idea of a discussion about hardware design, something that's as concrete as it gets, being closed in this fashion, especially when the answer boils down to "it's an older device". Also acceptable would have been size/battery life/etc concerns, but you'll note that neither of those are opinion based either.</p>


<h1>ANSWERS</h1>
		<p>"Why does Apple do this or that" kind of questions are off-topic because nobody outside Apple knows for sure and any answer given is a speculation (or sometimes a lucky guess) and therefore an opinion. Even the answer to your now-closed question suggests that only Apple knows for sure.</p>

<p>Sometimes these kind of questions can be rewritten in a form which doesn't rely on insider information from Apple to given an answer. I can only encourage everybody asking a "why does Apple do things the way they do" to consider that approach. In your case this could be something like asking for specific differences in the the models which influence the number of supported bands, or asking for limiting factors regarding of number of bands. </p>


<p><a href="https://apple.stackexchange.com/review/close/200176">I voted to leave this question open in the queue</a> and have voted to reopen again now. I disagree that this question is opinion-based and when I saw the question in the review queue I was going to answer with something similar to the answer that was given. The question <em>can</em> be read as asking why Apple made some design decision, which is likely opinion-based, however this question is not written like this.</p>


<p>I voted to close the question as primarily opinion based.</p>

<p>When I reviewed the question, I saw that you pointed out two iPads with 'theoretical maximums' and asked 'why is the larger unit restricted?'.</p>

<p>My reading of that was that it could only be answered by someone who participated in the design and development of those devices.  That would be Apple.  As such, the question was considered off-topic because questions regarding why Apple does/doesn't do this as well as why they do what they do can only be answered by Apple.</p>


<p>Just rephrase it as "Are there any objective reasons why the larger iPad Pro would support fewer LTE bands than the smaller one?" Then it's immune to being closed as subjective or opinion-based, since you've ruled out that kind of answer.</p>


<p>I posted the answer and I agree with the closing. In re-reading my answer even it was opinion-based due to the opinion-based nature of the question. When I have to couch an answer with, "only Apple knows for sure," it's a pretty clear flag it's opinion based.</p>


	</body>
</html>