<html>
	<head>
		<title id = 'pagetitle'>Why does Meta award badges and inherit reputation?
		</title>
	<head>
	<body id = 'pagebody'><p>I understand that you don't get reputation in Meta as it's a part of AskDifferent, and meta.stackoverflow is a bigger "independent" site which does.</p>

<p>But why doesn't it show badges from main site here?</p>


<h1>ANSWERS</h1>
		<p>Badges on Meta mean different things   for example, the answer badges on Meta means that you've answered a question regarding how the site functions, not the site itself. This is substantially different due to the difference in subject matter.</p>

<p><sup>As an aside, <a href="https://apple.meta.stackexchange.com/help/badges/25/mortarboard">reputation is tracked independently on Meta</a>, just not shown.</sup></p>


<p>My view is that the badges do depend on the meta or non meta site so can be split up - the rep does not give any extra privileges to the meta site so there is no point in a separate reputation here.</p>

<p>I would note that meta.stackoverflow is getting changed so that there will be a site for StackOverflow and an overall site for all Stackexchange sites </p>


	</body>
</html>