<html>
	<head>
		<title id = 'pagetitle'>Why isn't there a link to the moderator tools in the menu bar?
		</title>
	<head>
	<body id = 'pagebody'><p>I recently hit the 10K privilege of <a href="https://apple.stackexchange.com/help/privileges/moderator-tools">mod tools</a>, and I'm wondering why there isn't a link in the toolbar at the top to the moderator tools. Is there supposed to be?</p>

<p><img src="https://i.stack.imgur.com/KIJUX.jpg" alt=""></p>


<h1>ANSWERS</h1>
		<p>The moderation tools are really the review queue - except you have single action in some cases rather than needing collaborating votes to take action.</p>

<p>I have 10k on StackOverflow and my toolbar looks like yours when there are no items needing moderation / review. When the edit queue goes to 0 its number disappears, and the same with the flag queue.</p>

<p><img src="https://i.stack.imgur.com/monjk.png" alt="enter image description here"></p>

<p>Based on your screenshot, I suspect that Ask Different's 10k people keep up with the requests (and continue to do so when you look), so the 10k tool queue is empty.</p>

<p>To get the 10k moderation tools, first choose review and choose Tools or bookmark this: <a href="https://apple.stackexchange.com/tools/flagged">https://apple.stackexchange.com/tools/flagged</a></p>

<p><img src="https://i.stack.imgur.com/ix9uw.png" alt="enter image description here"></p>


	</body>
</html>