<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was my edit removing code formatting reverted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2361" class = "post">
			<h2>Question</h2>
			<h3>Score ::8</h3>
			<h3>Views ::200</h3>
				<h2>Why was my edit removing code formatting reverted?</h2>
<p>I recently made <a href="https://apple.stackexchange.com/revisions/171874/2">an edit</a> to this answer:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/171863/apple-mail-keeps-crashing-frequently-after-ram-problem/171874#171874">Apple Mail keeps crashing frequently after RAM problem</a></li>
</ul>

<p>I removed the code formatting from the text, except the shell commands as these are code.</p>

<p>My edit was then <a href="https://apple.stackexchange.com/posts/171874/revisions">reverted</a>. Given that I make hundreds of edits across SE of this type, and this is the first time I've had one reverted that I can recall, I do want to understand why this occurred given that no custom edit summary was provided.</p>

<p>Code formatting misuse has been discussed <a href="https://apple.meta.stackexchange.com/questions/2197/markup-of-reserved-words/2199#2199">here before</a>, yet nothing was said to the contrary at the time; of course, Meta.SE has many discussions on this topic which I linked to in the aforementioned answer.</p>

<p>Why was my edit rolled back?</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2362"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::-4</h3>
				<p><p>The edit was purely for formatting and IMO didn't make it significantly better. Secondly, the author of the post disagreed with the specific edit.</p>

<p>That's two strikes, so a moderator rolled back the edit.</p>

<hr>

<p>Editing is one of the aspects that include multiple guidelines which are often at conflict. I get it's a pet peeve to "mis use" certain formatting items, but if you print the original answer out on paper, or look at it in any standard web browser - it's in no way unclear or unuseful.</p>

<p>You are correct that standard formatting is asked for in [help] but there's also an aspect of allowing the original poster to have a little more weight in things that are style as opposed to substance in many cases.</p>

<p>Guidelines:</p>

<ol>
<li>The OP used valid markdown - <a href="https://apple.stackexchange.com/help/formatting">https://apple.stackexchange.com/help/formatting</a></li>
</ol>

<p><a href="https://apple.stackexchange.com/help/editing">Editing Guidelines</a>:</p>

<p>Edits are expected to be substantial and to leave the post better than you found it. Common reasons for edits include:</p>

<ul>
<li>To fix grammar and spelling mistakes</li>
<li>To clarify the meaning of the post (without changing that meaning)</li>
<li>To include additional information only found in comments, so all of the information relevant to the post is contained in one place</li>
<li>To correct minor mistakes or add updates as the post ages</li>
<li>To add related resources or hyperlinks</li>
</ul>

<p>Clearly, substantial is a <a href="https://www.youtube.com/watch?v=pWdd6_ZxX8c" rel="nofollow noreferrer">matter of opinion</a> in many cases. Basically, When I reviewed the post after you asked on meta, I saw George's edits as failing to meet any of these criteria. I understand many feel that using "code blocks" is a "mistake" however, when you point that out to the OP and they say they intentionally formatted it that way - we're not into opinion and judgement.</p>

<p>If you wish to make a second answer with the formatting of your choice, that might be the best avenue if you really feel the post <strong>needs</strong> correcting and if you comment and the OP declines your help with the edit. In that case, the moderation will arrange a chat room for the editor and the OP to discuss things in hopes of coming to a mutual agreement. Only if that fails would a moderator step in and perhaps lock the post in one state.</p>

<p>We're not there - we're just at the "one edit was made and then rolled back" stage.</p>

<p>Thanks for all the comments and down votes - it's nice knowing that people really care about the small things. I ask that everyone keep "the big picture" in mind - the site exists to allow great answers. Why antagonize one poster with minutia like changing their emphasis style when nothing else is wrong with their answer and a ton of things are right with the answer.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4410" class = "post">
				<p>The edit made it better as reading formatted empahsis is not nice or easy - see the many Meta SE entries where I think the overwhelming option is to remove using code formatting for emphasis</p>
			</div>
			<div id = "comment-4411" class = "post">
				<p>@Mark I agree - however when there is a dispute between the poster and the editor - we usually allow the poster to prevail. It's best to comment and chat with the person directly to see if they can be convinced to accept the edit and flag a moderator if you can't reach agreement.</p>
			</div>
			<div id = "comment-4412" class = "post">
				<p>I'm puzzled.  This was not rolled back by the original poster.  The original poster doesn't seem to have objected to the edit (based on the comments I can see).  Instead, the edit was just rolled back by a moderator.  I think this is taking your guidelines too far, and I urge you to reconsider your approach to these kinds of edits.  The edit made the answer better and I don't see a good reason to roll it back in these circumstances.   (cont.)</p>
			</div>
			<div id = "comment-4413" class = "post">
				<p>Frankly, even if the OP *had* objected, the OP doesn't get a veto on this.  As [site policy states](http://apple.stackexchange.com/help/editing), "If you are not comfortable with the idea of your contributions being collaboratively edited by other trusted users, this may not be the site for you."  But from what I can see this looks like a situation where there's not even a dispute -- grgarside made an edit that improved the answer, and it was rolled back on the speculation that the OP might object.  And even if the OP had objected, he doesn't get a veto.</p>
			</div>
			<div id = "comment-4414" class = "post">
				<p>If the edit was rejected as too minor and bumping an old thread, I'd understand that more.  That said, this is not an old thread -- it was already on the front page, so it didn't bump an old thread to the front -- so I'm not sure that applies here.</p>
			</div>
			<div id = "comment-4415" class = "post">
				<p>I understand what bmike is saying here, but @D.W. makes some very good points. My edit was 44 seconds ([I'm pretty fast!](http://data.stackexchange.com/apple/query/79305/fastest-answers-in-all-tags)) after the answer was posted the bump was the rollback. I disagree that it was a minor edit and I would have made the edit even if I didn't have full edit privileges. I have no incentive to edit (having surpassed 2k reputation a long time ago and obviously don't receive +2 for my edits) other than improving the quality of written communication throughout this site.</p>
			</div>
			<div id = "comment-4422" class = "post">
				<p>@dw Thanks. The OP did ask explicitly for moderator to review the edit. Some conversations about moderation are between the team and that user. Also, "improved" is a matter of taste here. There are conflicting guidelines and there was no review due to the editing and rollback of the post by trusted users and trusted moderators. P.S. look at the post history and you can see both who and when they made changes. It's best to be specific rather than saying "you" (and @ george - I've edited my answer to address thoughts in well upvoted comment - I do sincerely appreciate all the comments!)</p>
			</div>
			<div id = "comment-4423" class = "post">
				<p>I really appreciate everything said by all parties in this discussion. It is very interesting to see the community views on this and I have considered all the points made. When I wrote my other answer on this subject ~6 months ago, I was unaware of just how much of a problem this was and I think my choice of vocabulary at the time doesn't reflect my current view this has now been rectified. I'm not sure I understand what  conflicting guidelines  you are referring to by; do you mind providing a link to  both sides  *per se*? [cont.]</p>
			</div>
			<div id = "comment-4424" class = "post">
				<p>I know no review took place on my edit, but had it been reviewed and been rejected, I'd still be here on meta! I don't make edits that I think would be rejected if it the edit had been a suggested edit. The edit was not solely cosmetic as it changes both the markup of the page and causes screen readers (etc.) to 'see' it differently. I encourage the community to question any of my current or past actions in chat or meta.</p>
			</div>
			<div id = "comment-4425" class = "post">
				<p>@grgarside I don't think anyone is criticizing this action or any of yours. I appreciate edits and in most cases don't roll them back. This was an unusual case but not something I was inclined to revert or roll back a second time. If there is truly a screen reader failure - let's open that as a new request on meta and get the SE engineers involved.</p>
			</div>
			<div id = "comment-4426" class = "post">
				<p>It is not uncommon on *this specific SE site* to use code formatting for menu actions. It has been that way since site inception. All other edits made to that post were incredibly minor and brought no value to the answer. Mountains out of mole hills here.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>