<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was this answer low quality?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why was this answer low quality?</h2>
<p>The <a href="https://apple.stackexchange.com/review/low-quality-posts/61228">answer below</a> was marked a low quality. Why? It's one of the most complete answers..</p>

<p><img src="https://i.stack.imgur.com/dj7A6.png" alt="enter image description here"></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>The exact algorithm used to denote whether a post is low quality has not been released publicly to prevent gaming the system.</p>

<p>However, from the little information released on Meta.SE, it seems each post is given a score based on its content. Good things increase the score and bad things decrease it. The old 10k tools used to show this raw score directly, however as the 10k flags have been obliterated, it's no longer possible to see (except diamond mods).</p>

<p>With the above answer, I'd hypothesise that it was just on the boundary, with titles that didn't start with capitals, multiple links and 'advertising' of a 30 day trial.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>