<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Why do silent changes made by  Community   show up in the front page?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2056" class = "post">
			<h2>Question</h2>
			<div id="vote-2056" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 31</p>
			</div>
				<h2>Why do silent changes made by  Community   show up in the front page?</h2>
<p>I have often seen, on the front page, a question from years ago showing up as  Active  due to an update made by  Community  . Specifically, <a href="https://apple.stackexchange.com/questions/94156/iphone-3gs-turning-off-randomly-while-being-used/?lastactivity">this question</a> does not show any activity with <code>?lastactivity</code> (accessible from the front page by clicking the link that looks like  24m ago ).</p>

<p>The revision histories of <a href="https://apple.stackexchange.com/posts/75005/revisions">the question</a> and <a href="https://apple.stackexchange.com/posts/75006/revisions">both</a> <a href="https://apple.stackexchange.com/posts/83937/revisions">answers</a> show nothing indicating an edit.</p>

<p>I don't know why it shows up in the  Active  section if the changes made are silent.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2056" class = 'collapse'>
			</div>
				<textarea id = "speech-2056" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2056">
					<img id="start_img-2056" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2057"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2057" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Questions with no or no upvoted answers (as the one referenced in the question) will get reinfected into the front page a few times automatically to get more attention. As no user is involved the user is shown as "community". </p>

<p>Like many users, community has a profile page that explains what they like to do on the site. In this case, community is a robot that randomly pokes these questions:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/-1/community">https://apple.stackexchange.com/users/-1/community</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2057">Load Comments</button></br>
			<div id = "commentsection-2057" class = 'collapse'>
			<div id = "comment-3936" class = "comment">
				<p>@grgarside Whether it shows "Community" or the actual user of the deleted post depends on your reputation. If you are allowed to see deleted posts (>10k) you see the user. Otherwise you see "Community".</p>
			</div>
			<div id = "comment-3937" class = "comment">
				<p>Was this a recent change? On other sites where I have <10k I think I still see the user for deleted content   feel free to rollback though :)</p>
			</div>
			<div id = "comment-3938" class = "comment">
				<p>Even if you can't see the deleted answer? Hmm, you're probably right then :-)</p>
			</div>
			<div id = "comment-3941" class = "comment">
				<p>I am far below 10K and see the actual user when answers are deleted. It is occasionally confusing (more so when I first started noticing it)</p>
			</div>
			</div>
				<textarea id = "speech-2057" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2057">
					<img id="start_img-2057" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	</body>
</html>