<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was my question closed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why was my question closed?</h2>
<p>So I woke up this morning and decided to go check on my most popular question with 5 upvotes, <a href="https://apple.stackexchange.com/questions/45715/does-ichat-block-content-in-china">located here</a>. I was hoping for an answer, as it's a question I'd really like answered - it's very interesting to me.</p>

<p>So I opened up the question and lo and behold, it got 2 downvotes and was closed. This is a yes or no question that pertains to the usage of Apple devices in China.</p>

<p>See this part of the unedited question: {bolded for emphasis, original question has no bold}</p>

<blockquote>
  <p>Example: I send a message to person 1 in China saying 'Down with the
  government! Tank Man! Tibet! Liu Xiaobo! Tiananmen Square protests of
  1989!' <strong>Does Person 1 get the message or not?</strong></p>
</blockquote>

<p>An answer to the question would look something like this:</p>

<h1>No.</h1>

<p>After extensive research and personal testing with my 1500 friends in geographically diverse regions of China who all were using iChat when I saw this question, I have proven this to be a no because the grarblydsquoop servers operated by the Chinese government do not filter iChat messages because iChat messages use the er90i protocol.</p>

<p>In other words: <strong>Why was my question closed and could it please be reopened?</strong></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Your question is a perfect example of a question that is closed to make it better so it can be reopened.  </p>

<p>Two things conspired to have me flag two of your questions for another moderator to review.</p>

<ol>
<li>You asked 7 questions in a 10 hour period - most of which were decent, but two seemed bad fits for our Q&amp;A site.</li>
<li>The one that Daniel closed after agreeing with my flag and <a href="https://apple.stackexchange.com/questions/45749/is-the-ios-homescreen-bug-a-bug-or-a-feature">this one</a></li>
</ol>

<p>Would you read over the FAQ for the main site on why questions that are a simple yes/no are less desirable (it's in the guide to good subjective / bad subjective) and we want to optimize for questions that have long answers and explain why an answer is yes or no. Please pay attention to the concept of shared space on the home page and drives away attention from other's questions. </p>

<p>Did you read my comment and think about refining the question? Have you done any research how blocking might occur so that someone who knows the answer can decide how best to explain the reality of why a message may or may not get blocked?</p>

<p>Your question here is a good way to start getting feedback, but I would recommend linking the question in the chat room to see if you can get some help from the user base. The users can and will help edit, vote to close or reopen and I'll gladly take a look as soon as its edited to see if it should've reopened. </p>

<p>We will actively close off questions of marginal use to the site just to keep the home page balanced. We want a mix of easy, hard, answered and not answered so sometimes it's bad timing for a marginal question. The good news is close isn't a permanent thing - there will usually be specific feedback as well as this meta to get more info on why / how.</p>

<p>Would you take a pass at either simplifying the question or explaining the research you have done and where your roadblock lies in understanding the iChat blocking idea? An alternate method would be to ask on chat for people to help edit it and/or vote to reopen as is. The community at large can also help on this.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>