<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why was my question closed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1218" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::76</h3>
				<h2>Why was my question closed?</h2>
<p>So I woke up this morning and decided to go check on my most popular question with 5 upvotes, <a href="https://apple.stackexchange.com/questions/45715/does-ichat-block-content-in-china">located here</a>. I was hoping for an answer, as it's a question I'd really like answered - it's very interesting to me.</p>

<p>So I opened up the question and lo and behold, it got 2 downvotes and was closed. This is a yes or no question that pertains to the usage of Apple devices in China.</p>

<p>See this part of the unedited question: {bolded for emphasis, original question has no bold}</p>

<blockquote>
  <p>Example: I send a message to person 1 in China saying 'Down with the
  government! Tank Man! Tibet! Liu Xiaobo! Tiananmen Square protests of
  1989!' <strong>Does Person 1 get the message or not?</strong></p>
</blockquote>

<p>An answer to the question would look something like this:</p>

<h1>No.</h1>

<p>After extensive research and personal testing with my 1500 friends in geographically diverse regions of China who all were using iChat when I saw this question, I have proven this to be a no because the grarblydsquoop servers operated by the Chinese government do not filter iChat messages because iChat messages use the er90i protocol.</p>

<p>In other words: <strong>Why was my question closed and could it please be reopened?</strong></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1218" class = 'collapse'>
			</div>
				<textarea id = "speech-1218" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1218">
					<img id="start_img-1218" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1219"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>Your question is a perfect example of a question that is closed to make it better so it can be reopened.  </p>

<p>Two things conspired to have me flag two of your questions for another moderator to review.</p>

<ol>
<li>You asked 7 questions in a 10 hour period - most of which were decent, but two seemed bad fits for our Q&amp;A site.</li>
<li>The one that Daniel closed after agreeing with my flag and <a href="https://apple.stackexchange.com/questions/45749/is-the-ios-homescreen-bug-a-bug-or-a-feature">this one</a></li>
</ol>

<p>Would you read over the FAQ for the main site on why questions that are a simple yes/no are less desirable (it's in the guide to good subjective / bad subjective) and we want to optimize for questions that have long answers and explain why an answer is yes or no. Please pay attention to the concept of shared space on the home page and drives away attention from other's questions. </p>

<p>Did you read my comment and think about refining the question? Have you done any research how blocking might occur so that someone who knows the answer can decide how best to explain the reality of why a message may or may not get blocked?</p>

<p>Your question here is a good way to start getting feedback, but I would recommend linking the question in the chat room to see if you can get some help from the user base. The users can and will help edit, vote to close or reopen and I'll gladly take a look as soon as its edited to see if it should've reopened. </p>

<p>We will actively close off questions of marginal use to the site just to keep the home page balanced. We want a mix of easy, hard, answered and not answered so sometimes it's bad timing for a marginal question. The good news is close isn't a permanent thing - there will usually be specific feedback as well as this meta to get more info on why / how.</p>

<p>Would you take a pass at either simplifying the question or explaining the research you have done and where your roadblock lies in understanding the iChat blocking idea? An alternate method would be to ask on chat for people to help edit it and/or vote to reopen as is. The community at large can also help on this.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1219">Load Comments</button></br>
			<div id = "commentsection-1219" class = 'collapse'>
			<div id = "comment-2226" class = "comment">
				<p>Sure. I asked it on chat, and now I can see your reason for flagging it, even if I disagree with your reasoning. I have done some research on the blocking, but I have not found much. Thus the question. I'll try to get the question fixed and reopened ASAP.</p>
			</div>
			<div id = "comment-2227" class = "comment">
				<p>Awesome - the biggest fix would be to remove the joke link and perhaps ask more broadly how chat could be filtered and not whether iChat or apple is doing the filtering.</p>
			</div>
			<div id = "comment-2229" class = "comment">
				<p>I think that the "joke link" is credible enough. Imagine if a user on SO had the name "Charlie Sheen". Plus, it doesn't seem as bad as some other Y! answers.</p>
			</div>
			<div id = "comment-2230" class = "comment">
				<p>Stack Exchange has a policy of _explicitly banning_ accounts that impersonate another in name or likeness so I'm not sure if your example holds much water. We aim to be the best Q&A site on the internet which is why people have reputation and moderators are elected and empowered to ask that some questions get improved from time to time. :-) :-)</p>
			</div>
			<div id = "comment-2231" class = "comment">
				<p>yeah, I guess Charlie Sheen might not exist *here*. But still: I've seen some funny names around here. See the Many Memes of Meta question.</p>
			</div>
			</div>
				<textarea id = "speech-1219" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1219">
					<img id="start_img-1219" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	</body>
</html>