<html>
	<head>
		<title id = 'pagetitle'>Why don't we have an actual question on our About page?
		</title>
	<head>
	<body id = 'pagebody'><p>I was looking at Ask Different's About page and saw the following question as our example:</p>

<p><img src="https://i.stack.imgur.com/UhQto.png" width="529"></p>

<p>Why don't we have a 'proper' question? I'm sure we used to, right?</p>


<h1>ANSWERS</h1>
		<p>I don't know why it got de-selected, but I have chosen a new question from the ones we get to pick. </p>


	</body>
</html>