<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why no mobile view?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-404" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::85</h3>
				<h2>Why no mobile view?</h2>
<p>Being intrinsically Apple-centric, why does apple.stackexchange.com not have a mobile view for my iPhone?</p>

<p>The likelyhood of an Apple user coming to this site is high right? So why would you not want a mobile version of apple.stackexchange.com, explicitly optimised for iOS devices?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-796" class = "post">
				<p>This should be on Meta. Duplicate: http://meta.apple.stackexchange.com/questions/278/ase-mobile-site</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-405"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>You should check out this application for iPhone: <a href="http://itunes.apple.com/us/app/six-to-eight/id384094708?mt=8" rel="nofollow">Six to Eight</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-406"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Check <a href="http://stackapps.com">http://stackapps.com</a> for iOS and OS X apps.</p>

<p>Beyond that, we do have a rudimentary mobile theme at the moment that was just deployed. Browse from iPhone to see it.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-798" class = "post">
				<p>just tried apple.stackexchange.com on the mobile. no change?</p>
			</div>
			<div id = "comment-799" class = "post">
				<p>Works for me, it's just a simplified UI with less fuss. Better performance on my phone</p>
			</div>
			<div id = "comment-803" class = "post">
				<p>It's not working for me now.. not sure they reverted the changes from mobile view or not ?</p>
			</div>
			<div id = "comment-807" class = "post">
				<p>@garik I see it on my iPhone 4, what device are you using? Note that we no longer consider iPad a mobile device (more correctly..)</p>
			</div>
			<div id = "comment-808" class = "post">
				<p>mine is iPhone 3GS</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>