<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why is it SO hard to get reputation to start using this site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2234" class = "post">
			<h2>Question</h2>
			<h3>Score ::12</h3>
			<h3>Views ::353</h3>
				<h2>Why is it SO hard to get reputation to start using this site?</h2>
<p>I can't comment, can't do jack until i've gained rep, but can't gain rep because can't do anything. Surely a captcha would do the job as well?</p>

<p>For example: I can't talk in the meta forums. This requires 5 reputation. Yet the smallest reputation award i can next get is from posting in the meta forum. I feel caught in an insane Catch-22.</p>

<p>Can someone describe to me a simple path to be allowed to use this site in an interactive fashion?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4229" class = "comment">
				<p>It is actually rather simple. Just use your knowledge and answer few questions. In no time you will be able to comment, add photos ect.. (that is after you have proven to be a worthy member allowing you more and more capabilities in here.</p>
			</div>
			<div id = "comment-4230" class = "comment">
				<p>You can, indeed, do much more than jack: **you can answer questions**. And answering questions is the fastest route to gaining reputation on any Stack Exchange site.</p>
			</div>
			<div id = "comment-4231" class = "comment">
				<p>I've only been here 43 days, and I've earnt 164 reputation during that time. All I've done is answer the questions that I know I can answer.</p>
			</div>
			<div id = "comment-4237" class = "comment">
				<p>2 months, 3,340 rep, across different forums - can't be **that** hard if even I can do it ;-)</p>
			</div>
			<div id = "comment-4241" class = "comment">
				<p>You can also suggest edits to answers/questions. If an edit is accepted, you will get 2 reputation points. Do that a couple of times and you will have some of the basic privileges in no time.</p>
			</div>
			<div id = "comment-4242" class = "comment">
				<p>There's also something to be said for the health of this site; coming from TeX.SX, this site is a little... slow :)</p>
			</div>
			<div id = "comment-4263" class = "comment">
				<p>Also if you accept an answer to this question you also gain some reputation.</p>
			</div>
			<div id = "comment-4297" class = "comment">
				<p>ok. this is my question. and i'd love to accept an answer but...</p>
			</div>
			<div id = "comment-4298" class = "comment">
				<p>also, it might seem unusual, but mostly i'm coming to a site to find answers to my current problems. this isn't my first place of call either. so i tend to arrive in the middle of a discussion about a problem that i too am experiencing and then find myself unable to engage in that conversation. not cool.</p>
			</div>
			<div id = "comment-4299" class = "comment">
				<p>so it seems that i must first trawl the site to find unanswered questions before i can really use the site. like paying a fee or something? a captcha WQOULD be better.</p>
			</div>
			<div id = "comment-4303" class = "comment">
				<p>@flowin your mistake is hidden in the use of the phrase "engage in the conversation" -- this isn't a chat board, it's a Q&A site and it is set up to minimize conversation, cut away the cruft, and get down to questions and answers. Conversations are best had on Discourse boards, of course. :) And you'll see below that there are actions beyond answering that will gain your rep: voting for example. And asking good questions.</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2235"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::8</h3>
				<p><p>Cut-and-paste wholesale from the excellent answer to: <a href="https://meta.stackexchange.com/a/214174/151364">Why do I need 50 reputation to comment? What can I do instead?</a></p>

<hr>

<h1>Why does this limit exist?</h1>

<p>We realize that new users may have valuable comments, and that we may lose some of those contributions by requiring 50 reputation points to unlock the feature. </p>

<p>However, history and experience have shown that the downsides of allowing <em>everyone</em> to comment are far greater than a few good-quality comments:</p>

<ul>
<li><p>There are big problems with spam. Automated filters cannot catch all of it.</p></li>
<li><p>Even among the real comments, most would either say "I have the same problem" or "I agree". Such comments do not add any value, and have to be manually removed. </p></li>
<li><p>Comments are very painful to moderate. Stack Exchange sites have a process of community moderation (voting, flagging, review queues) that works great for questions and answers, but not so much for comments. Comments cannot be downvoted or closevoted, nor searched (nor do we want that).</p></li>
<li><p>Comments are second class citizens on the Stack Exchange network, not designed to hold information for all eternity. They may get cleaned up at any time. Generally, <strong>truly important information should be incorporated into an answer of its own anyway</strong>. <strong>[Ed.: THIS IS VERY IMPORTANT IN MY OPINION!]</strong></p></li>
</ul>

<p>Providing good answers will get you 50 rep points in no time. Alternatively, you can <a href="https://meta.stackexchange.com/questions/76251/how-do-suggested-edits-work">suggest edits</a> that improve existing questions and answers. Each of those will gain you 2 reputation points.</p>

<h1>But I want to contribute  now. What should I do instead?</h1>

<h2>Can I put my comment in an answer?</h2>

<p><strong>No.</strong></p>

<p>Asking and answering, the core actions on the Stack Exchange network of sites, are open to all users regardless of reputation. </p>

<p>However, this is not meant as a workaround to the comments barrier. <strong>Comments posted as an answer are subject to removal.</strong> </p>

<p>To make requests for clarification, or mere responses to other answers, you need to wait until you have the comment privilege.</p>

<h2>How do I write a good answer?</h2>

<p>If you are sure you can provide a real <em>answer</em>, then you are of course welcome to go ahead, but make sure it's <strong>a <a href="https://meta.stackexchange.com/a/214174/151364">full, valid answer to the question</a></strong>. If you saw something wrong with an existing answer, do mention it and its flaws, but make sure you provide an alternative solution <strong>that can stand on its own.</strong> Do not just copy and paste your original comment into the "answer" field.</p>

<h2>But I can't write a good answer without more information!</h2>

<p>Answers don't have to be exhaustive or infallible, they just need to <em>try</em> to answer the question. It's perfectly fine to post an answer saying, for example, "I'm not sure what the cause of your problem is, but if it's <em>X</em>, you can solve it by doing <em>Y</em>. If that doesn't help, try <em>Z</em> and let me know what it says."  Also, if further information does become available, you can edit your answer later to make it more precise. This is a good habit to get into <em>even if you <strong>can</strong> comment!</em> </p>

<p>Welcome to the community, and good luck!</p>

<h1>How do I gain reputation?</h1>

<p>Another cut-and-paste from this meta question and answer: <a href="https://meta.stackexchange.com/questions/17204/six-simple-tips-to-get-stack-overflow-reputation-fast">Six simple tips to get Stack Overflow reputation fast</a></p>

<p>Aww heck I can summarize it: <strong>ANSWER QUESTIONS WELL</strong>. <a href="https://meta.stackexchange.com/a/17250/151364">But you should really read the top-voted answer because it's excellent</a>.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4236" class = "comment">
				<p>The network effect is really strong across Stack Exchange. If you manage to accrue 200 reputation on one site, you can get an automatic 100 rep on any new site you start on, which gives you access to meta, chat, etc.</p>
			</div>
			<div id = "comment-4301" class = "comment">
				<p>to muzzle users until they provide enough good answers is just stupid, imho. you are going to miss out on tons of experience from people with skills because they can't be bothered to jump through the hoops of trawling for places to give answers that are not already covered. for example, you have lost me, as i'm blocking stackexhange from my google results.</p>
			</div>
			<div id = "comment-4302" class = "comment">
				<p>@flowin this couldn't be further from the truth. First, no one is muzzled. You can post questions and answer questions with no rep. If you have expertise, you can apply it freely. If you have a question, you can ask freely. The only thing you can't do is comment. And this is blocked because statistically speaking, new users abuse comments and try to treat Stack Exchange sites like forums, with a back-and-forth exchange. And that's not how the format works. Requiring users to invest a little time understanding the format before unlocking features is far from onerous. Sorry you think it is.</p>
			</div>
			<br><div id = "ans-2254"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Very simple.</p>

<p>Just ask questions - like this :)</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-4257" class = "comment">
				<p>Unfortunatly this question will not get you reputation on the main site but yes asking **good** questions will get some rep and is probably easier here than on SO where all the beginner question have been asked</p>
			</div>
			<div id = "comment-4262" class = "comment">
				<p>Because this is a meta question it won't count towards earning rep, but a few good questions on main will do the trick.</p>
			</div>
			<div id = "comment-5731" class = "comment">
				<p>And answering questions, like this one.</p>
			</div>
			<br><div id = "ans-2527"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::0</h3>
				<p><p>It doesn't seem like it, but it is easy to get 50 reputation to comment. All you have to do is make good quality answers that get upvotes and accepts. For example: Today I answered a question simply but surely, and I got 2 upvotes (20 reputation). When it gets accepted, I get additional 15 reputation. </p>

<p>Also, ask well. You can get upvotes worth 5 on your questions. Be specific, on-topic and try not to make duplicates. Also, throw in a bunch of edits for grammar, spelling, formatting. 1 edit gives you 2 reputation.</p>

<p>You can stay tuned at Questions > Newest to find new questions and be the first to answer</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>