<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Why haven't some of my shares been recorded?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-1254" class = "post">
			<h2>Question</h2>
			<h3>Score ::-1</h3>
			<h3>Views ::136</h3>
				<h2>Why haven't some of my shares been recorded?</h2>
<p>I had everything I needed to qualify for Level 2 in the contest - the 20 required questions with 2 upvotes each, the votes, and even the sharing.</p>

<p>I posted a picture on my website with the text "Ask and answer questions about Macs! Click to see more!", which my users quickly ate up. They click on <em>anything</em>.</p>

<p>The links were tracked with a URL shortener, which let me see exactly how many clicks I had. After a short amount of time, my quota was filled (I looked at the URL shortener's stats and I saw for each of the 11 {just to be safe} ads, at least 15 clicks on each one). One of my users even signed up and made an account.</p>

<p>Thus, I was feeling pretty confident that my place was secured. Knowing that the site had probably some lag, I wasn't surprised when the share progress bar told me I had 7 - it was 5 a few minutes ago. I knew, thanks to the shortened URLs, that I was in the 'way past safe' category.</p>

<p>This all made it a complete surprise to me that I didn't get into Level Two. See <a href="http://thenewipadishere.com/" rel="nofollow">http://thenewipadishere.com/</a>; as of now, I'm still not listed.</p>

<p>Is it possible for a moderator or someone at Stack Exchange to take a look at the links I posted and investigate whether they should have been counted towards the contest?</p>

			</div><h3>Comments</h3>
			<div id = "comment-2317" class = "comment">
				<p>Did you use the sharing feature to share a link to a question or answer?</p>
			</div>
			<div id = "comment-2318" class = "comment">
				<p>@Kyle Cronin: I believe that I linked to questions (that had at least at 4 upvotes)</p>
			</div>
			<div id = "comment-2319" class = "comment">
				<p>This same thing happened to bmike.</p>
			</div>
			<div id = "comment-2320" class = "comment">
				<p>@Andrew Larsson: But he's listed as a Level 2er! How did his problem get resolved? Could someone do what they did with bmike to me?</p>
			</div>
			<div id = "comment-2321" class = "comment">
				<p>@JavaAndCSharp No, he's supposed to be in Level 3 according to my calculations.</p>
			</div>
			<div id = "comment-2322" class = "comment">
				<p>@Andrew Larsson: And will anyone put him into Level 3?</p>
			</div>
			<div id = "comment-2323" class = "comment">
				<p>Regrettably, when the contest period ended, bmike had fewer than 20 shares, so he did not qualify for Level 3.</p>
			</div>
			<div id = "comment-2326" class = "comment">
				<p>The sharing part of this competition is a bit screwy, you needed to use the links that have your user ID at the end. But of course it didnt actually say this anyway in the rules.</p>
			</div>
			<div id = "comment-2328" class = "comment">
				<p>@Jonathan.Yes, it does. Go to the contest page, click the Contest Ruies button, and look at the second bullet point. Everything is laid out there.</p>
			</div>
			<div id = "comment-2330" class = "comment">
				<p>I could have looked over some factors when I was checking out bmike's shares. There are so many variables to consider.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-1255"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Which link style did you use:</p>

<p><code>http://meta.apple.stackexchange.com/q/1254/219</code></p>

<p>or</p>

<p><code>http://meta.apple.stackexchange.com/questions/1254/what-happened-with-the-link-sharing</code></p>

<p>The second type doesn't count, it has to have your user number at the end of the link as with the first style.</p>

<p>If you want to make the contest administrator's jobs easier, provide a list of the URLs you advertised that you believe were clicked at least 5 times.  I imagine this information is still in your URL tracking service.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2324" class = "comment">
				<p>The first one. I clicked the G+ link button. Also, I'll try to find what URLs I used - I'll post them shortly (maybe tomorrow, it's a little late now for me)</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-1256"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>Some things to note:</p>

<ul>
<li>As mentioned, links must be in the correct format (ending with your
user ID, 6730).</li>
<li>You must have 10 unique links. Posting a link to the same post
multiple times can only count towards one share.</li>
<li>To count as a share, each link (or all links to a specific post
combined) must be clicked by at least 5 unique IP addresses. Even if the URL shortener reports that a link has been clicked many times, it's possible that it has been clicked multiple times by the same person.</li>
<li>I'm not 100% sure, but it's my guess, that links to closed or deleted
questions aren't counted.</li>
</ul>

<p>In general, the link tracking systems here are pretty reliable. They're not a new feature and are used for things other than contests.<br>
Realistically, it is more likely that the URL shortener is reporting a different metric than Stack Exchange is recording (or misreporting altogether) than it is that Stack Exchange's tracking isn't working.</p>

<p>Moderators have no more access to link information or influence on contest results than you do; Stack Exchange will have to be the ones to investigate further.</p>

<p>Sorry that things aren't working out as expected!</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2325" class = "comment">
				<p>Yeah, I'm pretty sure that the questions I used/shared had all of the characteristics that you mention. The mystery deepens...</p>
			</div>
			<div id = "comment-2329" class = "comment">
				<p>@JavaAndCSharp In that case, you'll have to post which links you shared for us to be able to help you.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			<br><div id = "ans-1258"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::13</h3>
				<p><p>Your mission progress counts seven out of ten shares; these are the seven posts that meet the sharing requirements:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/17929/how-can-i-disable-animation-when-switching-desktops-in-lion">How can I disable animation when switching desktops in Lion?</a></li>
<li><a href="https://apple.stackexchange.com/questions/27274/how-does-imessage-know-that-the-recipient-is-an-ios-5-device">How does iMessage know that the recipient is an iOS 5 device?</a></li>
<li><a href="https://apple.stackexchange.com/questions/45715/does-ichat-block-content-in-china">Does iChat block content in China?</a></li>
<li><a href="https://apple.stackexchange.com/questions/46046/is-there-a-keyboard-shortcut-to-move-the-position-of-the-dock">Is there a keyboard shortcut to move the position of the Dock?</a></li>
<li><a href="https://apple.stackexchange.com/questions/46143/is-it-possible-to-drag-the-dock-around-the-screen">Is it possible to drag the Dock around the screen?</a></li>
<li><a href="https://apple.stackexchange.com/questions/46165/can-i-move-the-top-menu-bar">Can I move the top menu bar?</a></li>
<li><a href="https://apple.stackexchange.com/questions/46175/can-i-use-adblock-adblock-plus-to-block-ads-in-games-that-are-not-in-a-browser">Can I use Adblock/Adblock Plus to block ads in games that are not in a browser?</a></li>
</ul>

<p>To be sure that there's nothing wrong here, I looked at the server access logs, which record <em>all</em> requests to your shared URLs, not just those that eventually counted as a valid referral.</p>

<p>In looking at the logs, I made these two observations about a vast (!) majority of the requests:</p>

<ol>
<li><p>They came in bunches. The requests didn't come naturally in a "hey, this looks interesting, I'll check it out" pattern; instead they look like a "here's a bunch of links, all of which I shall now click within quick succession, maybe even twice for good measure."</p></li>
<li><p>They either came very obviously from you, or the reqesting IP address belonged to one of these groups:</p>

<ul>
<li>registered to an institution that you seem to have ties to,</li>
<li>registered to dedicated hosting providers,</li>
<li>well-known proxy.</li>
</ul></li>
</ol>

<p>I am therefore inclined to consider the assumption that you didn't meet the sharing requirements to be correct.</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-2335" class = "comment">
				<p>Yeah, this seems correct. My website lists tips to be not tracked online for students. I did some investigating, and the two school buildings have just 2 IPs between them. This may have been my fault - I *did* tell someone  'there's this contest, I put this image on my website as a share link, I wonder if I'll win' - and  he went and hit them up a lot. After inspecting my URL shortening logs, I can now see that this is what he did. I guess telling him did more harm than good. Thanks. Now, time to go yell at him. (well, he meant good anyway)</p>
			</div>
			<div id = "comment-2337" class = "comment">
				<p>@JavaAndCSharp While i'm sorry that you didn't make it, I have to admit that there's some humor in getting people to click a tracked url on a website that *"lists tips to be not tracked online for students."* ;-P</p>
			</div>
			<div id = "comment-2339" class = "comment">
				<p>@Adam Davis: Only a few people actually use the tips. Half of them think that they'll be protected by browsing my website.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>