<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Why does the FAQ say "asking how~why Apple does <some thing XYZ>" is off-topic?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2608" class = "post">
			<h2>Question</h2>
			<div id="vote-2608" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
				<h2>Why does the FAQ say "asking how~why Apple does <some thing XYZ>" is off-topic?</h2>
<p>I just asked a question about "Why Apple doesn't support android gear watches?" and did a lot of research on how they could support them.</p>

<p>Other similar questions have been closed (or edited or simply left open):</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/81451/">How long did it take to create iOS?</a></li>
<li><a href="https://apple.stackexchange.com/questions/100109/">Why did Apple Decide not to install Command Line Tools as default?</a></li>
<li><a href="https://apple.stackexchange.com/questions/152735/">Did Apple drop the keyword &#39;Server&#39; from the Mac Mini category?</a></li>
<li><a href="https://apple.stackexchange.com/questions/204554/">How can Apple produce new iPhone 6s if iOS9 is not yet ready</a></li>
</ul>

<p><sup>Be sure to check revisions of the question if they are edited at a date later than this post.</sup></p>

<p>Why was my question closed as "not a practical" question?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2608" class = 'collapse'>
			</div>
				<textarea id = "speech-2608" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2608">
					<img id="start_img-2608" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2609"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2609" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here are some guidelines to help people decide to cast close/reopen votes as well as help you if your question was placed on temporary hold and remains closed.</p>

<ol>
<li>First - look at whether the question is really about opinions or debate or discussion. We close questions that are primarily opinion based, so "Why did Apple X" are historically quintessential questions that are opinion based.</li>
<li>Look for the practical use case being presented. If the question is critical or even ranty, that can be edited out if needed.</li>
</ol>

<p>In both cases above, edits are only needed if language is truly offensive or if your post has <a href="https://en.wikipedia.org/wiki/Straw_man" rel="nofollow noreferrer">straw men</a> or if by removing the debate language and arguments allows a real issue to be surfaced. Polite criticism is always welcome here. I enjoy seeing <a href="https://twitter.com/monteiro/status/640296000293236737" rel="nofollow noreferrer">withering shade being cast</a> within the bounds of proper etiquette, so when you want to rip someone or something publicly, <a href="https://en.wikipedia.org/wiki/Damning_with_faint_praise" rel="nofollow noreferrer">do it with style</a>, please. </p>

<p>However, that criticism has to set the stage for a real problem that a real user of Apple products is facing. If the question is merely hypothetical and lacks compelling practical application, then it should be closed until it can be edited. Adding research about what Apple has or has not done helps, but in the end open questions need to state clearly the <strong>problem that is to be solved</strong> Otherwise, discussions should be <a href="http://chat.stackexchange.com">held in chat</a> or on another internet user forum of some sort as opposed to this narrowly focused Question and Answer platform.</p>

<p>Here are guidelines that can help you add documented research and clarify a practical question so that we can reopen questions that will allow reasoned answers to be offered.</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/dont-ask">https://apple.stackexchange.com/help/dont-ask</a></li>
<li><a href="https://apple.stackexchange.com/help/how-to-ask">https://apple.stackexchange.com/help/how-to-ask</a></li>
</ul>

<p>In a nutshell, here is a template for fixing all the above close reasons if a question you like has been labeled "not practical" or "opinion based" or "off topic":</p>

<ol>
<li>I am angry/confused/delighted because: document clearly what Apple has done, has announced, has not done, has not announced.</li>
<li>Document your efforts to solve your dilemma. (n.b. saying you searched everywhere and tried everything you know isn't documentation. It's lack of effort and shows how little time and thought you spent on organizing your search strategy)</li>
<li>Frame in some detail what precisely you expect to be able to do with the knowledge you seek. Give numbers, facts, timelines so that this doesn't look like you asking for opinions and instead asking for experience and facts to move your problem a step or two towards resolution if it cannot be solved in a few paragraphs.</li>
</ol>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2609" class = 'collapse'>
			</div>
				<textarea id = "speech-2609" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2609">
					<img id="start_img-2609" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>