<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why are my comment flags (obsolete) declined?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why are my comment flags (obsolete) declined?</h2>
<p><a href="https://apple.stackexchange.com/questions/134598/is-it-possible-to-use-macbook-with-0-health/134600#134600">Is it possible to use Macbook with 0% health?</a></p>

<p>The first is </p>

<blockquote>
  <p>what you mean by "accu" ?</p>
</blockquote>

<p>and the second </p>

<blockquote>
  <p>The battery. I thought it was a word in English, my bad </p>
</blockquote>

<p>I have use flag for both with "obsolete". Cause there is not word "accu" anymore there. It was replaced more than 2 years before I have flagged it. </p>

<p>Aren't this comments obsolete?
Why are the flags declined?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>I believe I declined your flags. In general, comments moderate themselves and for posts more than 90 days old, a comment standing by itself (as we see in the screen when we handle them) needs to be really bad for me to cast a binding delete vote. </p>

<p>In general, a question with dozens of votes might merit the time to go to the post, look at why the comment might be obsolete and might need to be cleaned up is worth the time. </p>

<p>Comments also show how edits make posts better - I'm on the fence if they do more good than harm in the case of the flags you raised. Please comment here if I missed something harmful about the two posts. I'm open to re-evaluating them if needed. </p>

<p>To incorporate your excellent comments below - there are discussions similar to ours on the main meta:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/207962/could-we-have-some-consensus-on-how-to-flag-bunches-of-obsolete-comments">Could we have some consensus on how to flag bunches of obsolete comments?</a></li>
<li><a href="https://meta.stackexchange.com/questions/182684/flagging-obsolete-comment-conversations">Flagging obsolete comment conversations</a></li>
<li><a href="https://meta.stackexchange.com/questions/261009/cmon-please-give-us-a-hint-how-authoritative-is-that-obsolete-comment-flag">C&#39;mon, please give us a hint: how authoritative is that &quot;obsolete comment&quot; flag?</a></li>
<li><a href="https://meta.stackexchange.com/questions/252844/make-comment-flags-less-stupid">Make comment flags less stupid</a></li>
</ul>

<p>The first two share your confusion / dis-satisfaction on the process and you are not alone / wrong from my standpoint. The second two discuss the moderation side - where <a href="https://meta.stackexchange.com/a/261071/165931">one quote is <strong>"I'm skeptical that these flags are the right way to handle these comments period: they require entirely too much work for the potential benefit in most cases."</strong></a></p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>