<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why didn't my 100 reputation bonus get applied?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why didn't my 100 reputation bonus get applied?</h2>
<p>Obviously this belongs on <a href="https://apple.meta.stackexchange.com/">https://apple.meta.stackexchange.com/</a> instead of here, but I can't ask a question there without a 5 reputation here on <a href="https://apple.stackexchange.com/">https://apple.stackexchange.com/</a> first!</p>

<p>When I created my account here, I linked it with my other StackExchange accounts (15 others). When I did this upon creating the other SE accounts, I got a +100 reputation bonus, allowing me to upvote/comment/etc. </p>

<p>Why didn't I get that rep bonus here?</p>

<p>I see from <a href="https://apple.meta.stackexchange.com/questions/62/starting-reputation-at-101-vs-1/63#63">Starting reputation at 101 vs 1?</a> that you only get the bonus with a 200 rep on the other sites. While I don't have much rep on most sites, I do have it on StackOverflow.</p>

<p>What's up with this?</p>

<p>Tried to tag this: frustration stackexchange reputation should-be-on-meta</p>

<p>Unfortunately, I don't have the 150 rep required to do that either.</p>

<p>Apparently I need to give it an existing tag now too. Great. SO used to be easy/fun to use. If I had to start over from scratch like this on each SE site, I'd never come back. </p>

<p>Tagging this: settings because nothing is really appropriate.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Sorry for the trouble you're having. I'm not sure why you didn't get the association bonus at first, but it appeared when I unassociated/reassociated your accounts. You now have 101 rep.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>