<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was this question downvoted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-2553" class = "post">
			<h2>Question</h2>
			<h3>Score ::5</h3>
			<h3>Views ::54</h3>
				<h2>Why was this question downvoted?</h2>
<p>I'm a reasonably seasoned user over on on Stack Overflow, so I know a single downvote is no big deal, and people can vote however they like and have no obligation to explain why; that's fine. But I'm a relative novice on Ask Different.</p>

<p>With that in mind, having put quite a lot of effort into a question here, I was quite surprised to see it downvoted, and so I wonder if I'm missing something about what's on-topic/expected here.</p>

<p>Am I? Could I improve the question to make it more appropriate? Or should I remove it as off-topic?</p>

<p>The question: <a href="https://apple.stackexchange.com/questions/194347">When I click and delete a message, how does Mail.app decide which to select next?</a></p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2554"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::6</h3>
				<p><p>It's a perfectly fine question in my opinion. It's definitely on-topic and you've covered all the points necessary for a question, even including screenshots to help understand what you're explaining.</p>

<p>The only reason I can think for an explanation for the downvote is that some users regard questions asking why Apple has done what they have done can only be answered by Apple themselves, and therefore is not appropriate for a site for Apple users.</p>

<p>That's of course presuming that the downvote was of 'good intention'. Other causes vary in possibility, from a downvote in 'spite' from the user who's answer you stated didn't answer the question, to someone mis-clicking. Not to mention the random <a href="http://chat.stackexchange.com/transcript/message/22549890#22549890">downvote sprees</a>.</p>

<p>Don't worry about a single random downvote the net score is still positive.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-5762" class = "comment">
				<p>Thanks. I didn't really mean it to be a "why" - I couldn't see the pattern in the behaviour or predict what would happen next, and it turns out there was an answer to that, yay - but I can see how it might have come across as a "Whyyyyy?" at first glance. It's net positive now, but when I posted this meta question it was at -1, which is always discouraging :-)</p>
			</div>
			<div id = "comment-5763" class = "comment">
				<p>@CupawnTae Indeed, I hoped that my first paragraph answered the question, but I felt that just two lines of an answer was a bit curt. I upvoted the question FWIW.</p>
			</div>
			<div id = "comment-5764" class = "comment">
				<p>Interestingly, two of my three other questions on this site have now been downvoted in quick succession, months after I asked them with very little activity since... This is starting to feel personal.</p>
			</div>
			<div id = "comment-6229" class = "comment">
				<p>+1, but the "user whose answer he stated didn't answer the question" had (and still has) only 101 rep, not enough to have done the downvote. So that particular suggestion isn't possible.</p>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>