<html>
	<head>
		<title id = 'pagetitle'>Why did the minimum reputation for review first-posts got changed?
		</title>
	<head>
	<body id = 'pagebody'><p>Till last week, I reviewed both first-post and late-answers. today, I can't. It says that <em>the users with 500 reputation can only review</em>.</p>

<p>When did this happen?</p>


<h1>ANSWERS</h1>
		<p>The why was apparently decided during a close look at all the privileges that happened last week on a network wide basis. </p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/186373/propose-a-privilege-to-sit-in-the-500-reputation-mark">Propose a privilege to sit in the 500 reputation mark</a></li>
</ul>

<p>There was some discussion that this review would be better placed at 1k or even higher, but on sites like ours with lower voting - the bump to 500 removed a larger fraction of total reviewers than on sites like stack overflow. </p>


	</body>
</html>