<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why was this answer down-voted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why was this answer down-voted?</h2>
<p>User asked a question about a specific problem, I gave him a specific answer based on my experience and it got voted down?</p>

<p><a href="https://apple.stackexchange.com/a/28446/12418">https://apple.stackexchange.com/a/28446/12418</a></p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>It was probably downvoted because - at first glance - it looks irrelevant. Your point on interference is entirely correct, but going on about RF interference <em>is</em> irrelevant, as Apple Remotes use infrared. </p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>At first glance, I would have flagged your answer as "not an answer". Here's why:</p>

<p>You ask a bunch of questions within your post. That is a definite flag as a bad post. You also have irrelevant information included within your post, such as the point about your Wi-Fi dropping.</p>

<p>That being said, your answer <em>is</em> a good answer (you'll now find it has a score of 1). My best suggestion would be to condense your answer and remove irrelevant info.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>It was down-voted because somebody with at least 125 reputation points decided to cast a downvote. Really, that's all we can know.</p>

<p>Voting is anonymous, and voters don't need to explain their votes. Voting against an answer removes two reputation points from the person who receives the vote and removes one reputation point from the person who casts the vote, so whoever decides to vote against an answer is sacrificing some of their own reputation to do so.</p>

<p>Your answer could have been down-voted because someone thought your content was irrelevant. It could have been down-voted because someone wanted to up-vote it, but clicked the wrong button. It could have been down-voted because someone was having a bad day and took it out on your post. Because votes are anonymous, unless the voter choses to explain her/his vote, we don't know more than that.</p>

<p>There are many down-votes with which I disagree, but even the moderators don't see who casts them or know why they were cast.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>