<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Why are my comment flags declined?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Why are my comment flags declined?</h2>
<p>I recently flagged 19 comments as too chatty or obsolete and have had all of them declined.</p>

<p>The comments were of the following nature:</p>

<ul>
<li><blockquote>+1 for the explanation.</blockquote></li>
<li><blockquote>I guess you mean the shift key? Also, link-only answers are not very helpful if the link ever stops working!<br>
@LarsEbert OMG what a spell error :)<br>
Much better now +1</blockquote></li>
<li><blockquote>Thank you, finally the problem is solved.<br>
+1. Excellent answer!</blockquote></li>
</ul>

<p>Why were these comment flags declined? The comments are completely superfluous and as comments are ephemeral why should these comments not be removed?</p>

<p>My post flag accuracy is over 98% with almost 1500 flags, but my comment flag accuracy is only 35% with only 80 flags.</p>

<p>Why are my comment flags declined? At one point, I had a few flags declined for comments on the same post, which were then removed anyway later.</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Primarily because I didn't pay attention and hit the "dismiss" link instead of the "delete" link. Sorry about that.</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>