<html>
	<head>
		<title id = 'pagetitle'>Why are some posts "highlighted"?
		</title>
	<head>
	<body id = 'pagebody'><blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/684/what-is-the-significance-of-the-blue-background-on-some-questions">What is the significance of the blue background on some questions?</a>  </p>
</blockquote>



<p>Why are some posts "highlighted" blue on the main page?
<img src="https://i.stack.imgur.com/tExhX.png" alt="enter image description here"></p>


<h1>ANSWERS</h1>
			</body>
</html>