<html>
	<head>
		<title id = 'pagetitle'>Will there be any site events for the Apple Watch live stream?
		</title>
	<head>
	<body id = 'pagebody'><p>On March 9 - 10 AM PDT, Apple has a live event.</p>

<p><a href="http://www.apple.com/live/2015-mar-event/" rel="nofollow">http://www.apple.com/live/2015-mar-event/</a></p>


<h1>ANSWERS</h1>
		<p>Why yes - <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">our chat room</a> is a good place to follow along. </p>

<p>In addition, these resources are covering the event:</p>

<ul>
<li><a href="http://www.apple.com/live/2015-mar-event/" rel="nofollow noreferrer">http://www.apple.com/live/2015-mar-event/</a></li>
<li><p>Apple TV - look for Apple Events using this icon:</p>

<p><img src="https://i.stack.imgur.com/Gs6VF.png" width="320"></p></li>
<li><p><a href="http://liveblog.macobserver.com/" rel="nofollow noreferrer">http://liveblog.macobserver.com/</a></p></li>
</ul>


	</body>
</html>