<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>With regard to the iPad contest, what do you mean by "share a post"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1236" class = "post">
			<h2>Question</h2>
			<h3>Score ::2</h3>
			<h3>Views ::105</h3>
				<h2>With regard to the iPad contest, what do you mean by "share a post"?</h2>
<p>In the explanation of how to participate in the contest, you make several references to "Share a post", but you don't explain what that means. What do you mean by that? Share with whom, and how, and where?</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2257" class = "comment">
				<p>Related to this is http://meta.apple.stackexchange.com/questions/1221/sharing-links-question-about-which-syntax-is-valid</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1237"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>When someone arrives to this site from a URL that was generated from your logged in session, that counts as one share.</p>

<p>Here is my URL for this here question of yours (with an X prepended to bypass the site's link substitution algorithm)</p>

<p>Xhttp://meta.apple.stackexchange.com/q/1236/5472</p>

<p>From clicking on your users link I see that you're assigned number is 9292 so you might generate a share like</p>

<p>Xhttp://meta.apple.stackexchange.com/q/1236/9292</p>

<p>Post the link to your "link" button for the question and we will likely see the /5472 identifies me as the sharer where your user number will be different. The part before that resolves to the question itself with no credit to anyone for sharing. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2255" class = "comment">
				<p>What about using the Facebook, Twitter and Google + buttons next to a question?</p>
			</div>
			<div id = "comment-2256" class = "comment">
				<p>My recollection is a /stw?1 or something is added after the /[user_number] part. What does your testing show?</p>
			</div>
			<div id = "comment-2258" class = "comment">
				<p>Yes, fine, but now I have a second question: Does using the Facebook, Twitter or Google + buttons on a question's page count as a "share" according to the contest rules?</p>
			</div>
			<div id = "comment-2261" class = "comment">
				<p>@WheatWilliams Yes, as long as five other people click on your link.  Then that link will count as one shared link for the purposes of the contest.  I've been sharing them with another forum I visit, and on twitter.  I know others are using facebook and g+.  The key point is that you have to use your special URL with your usernumber at the end, and get 5 other people to click on it for each share you want to complete.</p>
			</div>
			<div id = "comment-2262" class = "comment">
				<p>@WheatWilliams You'll find that sending links for the very popular poll style questions, like best ipad and iphone apps, and for questions involving newly released products, like the new ipad, or even thunderbolt info, will yield many more clicks than generic question.  Further, many people will actually be interested in that information, rather than feel like you're spamming them just to win a contest.</p>
			</div>
			<div id = "comment-2263" class = "comment">
				<p>This is a whole new realm for me. I've been active on Ask Different and elsewhere on StackExchange for seven months, but I have never "shared" anything outside of this site, or posted about anything on this site anywhere else. I suppose that's one of the purposes of the contest--to get people making posts about Ask Different elsewhere. To be honest with you, the idea of "sharing a post" from Ask Different has never occurred to me before.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>