<html>
	<head>
		<title id = 'pagetitle'>With regard to the iPad contest, what do you mean by "share a post"?
		</title>
	<head>
	<body id = 'pagebody'><p>In the explanation of how to participate in the contest, you make several references to "Share a post", but you don't explain what that means. What do you mean by that? Share with whom, and how, and where?</p>


<h1>ANSWERS</h1>
		<p>When someone arrives to this site from a URL that was generated from your logged in session, that counts as one share.</p>

<p>Here is my URL for this here question of yours (with an X prepended to bypass the site's link substitution algorithm)</p>

<p>Xhttp://meta.apple.stackexchange.com/q/1236/5472</p>

<p>From clicking on your users link I see that you're assigned number is 9292 so you might generate a share like</p>

<p>Xhttp://meta.apple.stackexchange.com/q/1236/9292</p>

<p>Post the link to your "link" button for the question and we will likely see the /5472 identifies me as the sharer where your user number will be different. The part before that resolves to the question itself with no credit to anyone for sharing. </p>


	</body>
</html>