<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Wondering which FAQ guideline this question violates?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1463" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::95</h3>
				<h2>Wondering which FAQ guideline this question violates?</h2>
<p>I asked the following question recently:
<a href="https://apple.stackexchange.com/questions/66192/small-case-for-mac-book-air-that-will-hold-charger-and-mouse#comment78237_66192">Small case for mac book air that will hold charger and mouse?</a></p>

<p>and was curious why it was closed.</p>

<p>One person mentioned that he considered it a shopping question and that's why he thought it was shut down.  I had assumed since I wasn't asking for a place to buy a product or where I can find good prices, that this would not be considered a shopping question, but maybe I'm wrong.</p>

<p>Are questions about whether there exists equipment that meets specific requirements not appropriate for the Apple SE site? Any guidance for future questions welcome.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-2765" class = "post">
				<p>Thank you very much for asking this - several people have asked questions similar to yours and it will be very good to discuss things here as to why and what this site means by "no shopping questions".</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1464"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>From <a href="https://apple.stackexchange.com/faq">the FAQ</a>, emphasis added:</p>

<blockquote>
  <p>Ask Different is for Apple enthusiasts and power users 
  
  <p><ul>    <li>Apple hardware</li>    <li>Apple software</li>    <li>other Apple products or services</li>   <li>third-party hardware
  and software for Apple products</li>   </ul> 
        <p>... then you're in the right place to ask your question!</p> </p>
  
  <p><p>However, a few exceptions to the general scope exist.    Please
  refrain from asking about...</p> 
       <ul>    <li>Apple Developer Programs or iTunes Connect (including iAd and the iBookstore) </li>   <li>programming, with the exception of
  AppleScript and Automator</li>    <li>installing or using Apple
  operating systems on non-Apple hardware</li>    <li><strong><em>a shopping or
  buying recommendation for hardware or accessories like bags and
  cases</em></strong></li>   <li>pre-release or beta software (We consider versions
  not available to the public to be in this category)</li><br>
  <li>obtaining or using pirated software or media    </ul> </p>
</blockquote>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-2764" class = "post">
				<p>I want to point out that I [added the text ***or accessories like bags and cases*** to the FAQ](http://apple.stackexchange.com/posts/5788/revisions) after Abe's question was originally asked. Several people have asked quite reasonable questions about accessories so I wanted to clarify what a shopping question was.</p>
			</div>
			<div id = "comment-2766" class = "post">
				<p>Thanks Kyle, I've seen that line. I guess I'm asking for clarification on what the difference is between a "shopping or buying recommendation" and a question about whether something exists.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>