<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<title id = 'pagetitle'>Would someone add "unibody" and "non-unibody" tags?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-496" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::125</h3>
				<h2>Would someone add "unibody" and "non-unibody" tags?</h2>
<p>Many hardware questions are really improved by knowing the exact model but that is really hard to manage. It sure would be good to at least demarcate the huge hardware differences between a unibody portable and a non-unibody model.</p>

<p>The battery care and lifespans are drastically different. General assumptions on graphics, chipsets and motherboard features can be generalized better with more detail on the models.</p>

<p>Just a thought and a request to consider those tags to help the site.</p>

			</div><h3>Comments</h3>
			<div id = "comment-912" class = "comment">
				<p>Question: what kind of questions would be tagged *only* "unibody"? Or *only* "non-unibody"?</p>
			</div>
			<div id = "comment-913" class = "comment">
				<p>It would really help a question about MacBook batteries. It would be obvious if it was removable or non-user servicable. If would help with glass trackpad, port locations, video out connector type, SD card slot availability just to name a few more differences.</p>
			</div>
			<div id = "comment-914" class = "comment">
				<p>*Describing* the issue should be in the question itself. Tags *define* and *categorize* the question, ie. question tagged "unibody" should be a question about the unibody, not e.g. battery. "macbook-unibody" could be an option, but are unibodies from 2008 and 2010 comparable? Should there be a "macbook-2010" tag? Or both? IMO just "unibody" is ambiguous and "non-unibody" plain wasteful.</p>
			</div>
			<div id = "comment-920" class = "comment">
				<p>Yes - the unibodies are far more comparable than they are different. That's why having that one distinction adds much more value than simply tagging every hardware model that gets bumped yearly. Of course - I much prefer the exact details being added or edited, but the value of tags is to distill and categorize for easy searching and clarification.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>

<h1>Answers</h1>
			<br><div id = "ans-500"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This question was asked before I realized tags are edited collaboratively by everyone that has reached a certain level and not something hard coded. I was going to close it, but leave that for someone else to decide. Perhaps others will have the same question as a newcomer to SE. I've known about the sites for a long time, but decided to step up and participate when an apple site was made.</p>

<p>I'll go through some of the best questions that I feel merit these tags and start tagging. We'll see where it goes based on the views of people that can edit and reassign tags...</p>
</p><br>
			</div><h3>Comments</h3>
			<div id = "comment-921" class = "comment">
				<p>I don't think these tags are a good idea. As koiyu correctly pointed out, a tag must be workable as the *only* tag on a question.. these are not.</p>
			</div>
			<div id = "comment-928" class = "comment">
				<p>What? (and hey jeff) Where is this concept documented where tags should be the only workable in isolation. I don't see any objection to a tag "iOS 4.2.1" or "iOS 4.2" or "iOS 4" - why would you eliminate a specific tag just because other questions are better tagged with a more general tag.</p>
			</div>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/><br>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		var content = $('.content').html();
		populateResources(content)
	</script>
	</body>
</html>