<html>
	<head>
		<title id = 'pagetitle'>Would questions about the iPad 2 Smart Cover be acceptable?
		</title>
	<head>
	<body id = 'pagebody'><p>Would questions about the Smart Cover be considered on topic? It is an Apple product, but isn't really a computer hardware piece, more of just an accessory. </p>


<h1>ANSWERS</h1>
		<p>Yes, questions about the Smart Cover are on topic.</p>


	</body>
</html>