<html>
	<head>
		<title id = 'pagetitle'>Would someone add "unibody" and "non-unibody" tags?
		</title>
	<head>
	<body id = 'pagebody'><p>Many hardware questions are really improved by knowing the exact model but that is really hard to manage. It sure would be good to at least demarcate the huge hardware differences between a unibody portable and a non-unibody model.</p>

<p>The battery care and lifespans are drastically different. General assumptions on graphics, chipsets and motherboard features can be generalized better with more detail on the models.</p>

<p>Just a thought and a request to consider those tags to help the site.</p>


<h1>ANSWERS</h1>
		<p>This question was asked before I realized tags are edited collaboratively by everyone that has reached a certain level and not something hard coded. I was going to close it, but leave that for someone else to decide. Perhaps others will have the same question as a newcomer to SE. I've known about the sites for a long time, but decided to step up and participate when an apple site was made.</p>

<p>I'll go through some of the best questions that I feel merit these tags and start tagging. We'll see where it goes based on the views of people that can edit and reassign tags...</p>


	</body>
</html>