<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Would removing the reputation limit on commenting eliminate the "bumping old questions" problem?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2645" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::41</h3>
				<h2>Would removing the reputation limit on commenting eliminate the "bumping old questions" problem?</h2>
<p>I've noticed that plenty of really old questions get bumped to the top of the page by answers of "I have this problem too. Please help!" or "That answer worked. Thanks!", and even when the mods delete those answers, the questions stay bumped. We tell people that such remarks should be reserved for the comments, but the people writing the answers are new users with only 1 reputation.</p>

<p>Wouldn't letting anyone comment anywhere give new users a non-answer way to give input on posts? Granted, we'd have to seriously monitor flagged comments, but I think it'd still be better than filling up the homepage with resurrected old questions.</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-2646"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::7</h3>
				<p><p>This is a fair question and one worth asking from time to time. </p>

<p>Being someone who gets to see many of the bad comments and many of the bad answers as well as many of the bad questions  I would say that the site would be worse off by implementing your suggestion. </p>

<p>When someone goes to answer a question, especially a new user, the site actively discourages them from posting by offering help. The comments interface does not offer this discouragement.  I think we would have a bigger problem since new users are struggling with following basic directions as opposed to finding the comment button and wielding it properly. </p>

<p><a href="https://i.stack.imgur.com/Klqp9.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Klqp9.png" alt="enter image description here"></a></p>

<p>If we were a discussion site, like <a href="http://discourse.org/" rel="nofollow noreferrer">discourse</a>, then making comments easier would be a good thing. Since we want to be a highly focused, highly regimented, specific place to ask and answer -  The reputation system and the graduation process to certain privileges helps reinforce that notion that we want anybody to be able to ask or answer and that you earn your moderation/review/commenting privileges as you receive votes from the community. </p>

<p>However, I could be wrong so if enough people would like to vote to try this, I'd be willing to undergo that experiment if the developers would change the limits for us to try this out. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2649"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>As far as I'm aware, there's no legal way to fix 'stupid'  ;)</p>

<p>Rather than allow people who didn't make the slightest effort to read the large yellow 'Your Answer' section before posting their "Me too!!" access to comments earlier [where they are far less likely to receive any guidance], I'd be more inclined to ask the devs to structure it so that once a non-answer has been deleted, the post drops back to its original position in the timeline.</p>

<p>I have no clue as to whether that would actually be practicable.</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<br><div id = "ans-2654"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>Resurrected old questions also have their good aspects sometimes, especially if the resurrection brings attention to a topic which is still unresolved/unanswered. So at least for the "me too" kind of non-answers it increases the chances of the question actually getting answered (which in a way helps the user posting the "me too" as well).</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>