<html>
	<head>
		<title id = 'pagetitle'>Would you ask about 3rd-party iOS apps here?
		</title>
	<head>
	<body id = 'pagebody'><p>If you had a question about a 3rd-party app for iOS, would you ask it here?</p>

<p>Here are some examples of iOS apps:</p>

<ul>
<li>Momento</li>
<li>Twitter for iOS</li>
<li>Day One Journal</li>
</ul>


<h1>ANSWERS</h1>
		<p>Yes - using iOS makes questions on topic for any use of that device. Whether it's a third party or first party device, it's still about a user of an Apple product.</p>

<p>Now - questions covering "on topic" subjects are closed for lots of reasons that make them low quality questions. If yours is too vague, too broad, lacks any sort of basic troubleshooting, it will be closed in short order in most cases.</p>

<p>For example - How do I set up Twitter for iOS will likely be lacking any research on how to use iOS settings or twitter app settings and a candidate for closing. If someone asked that "I followed this article explaining how to set up my twitter account and got error XYZ?" - that would be a great question and one I wouldn't expect to see closed.</p>


	</body>
</html>