<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Wrong  correction  of the title
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Wrong  correction  of the title</h2>
<p>Please have a look here :</p>

<p><a href="https://apple.stackexchange.com/questions/113100/how-to-have-safari-open-links-with-the-eviltarget-blank-open-in-the-same-tab">How to have Safari open links with the evil&#160;target attribute open in the same tab?</a></p>

<p>These curly quotes in the title of my question are totally wrong ! This sort of  correction  smells of Micro$oft Word. I have written correctly target="_blank".</p>

<p>Can you please correct your  correction ?</p>

<p>I have tried ``the backtick trick<code>\</code>   to no avail. </p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>My initial analysis is the correct characters are stored in the database, yet the rendered code strips html entities and changes the standard quote into smart (or dumb depending on your outlook) quotes. </p>

<p>My guess is this transformation of text in question titles is intentional and might even have a technical reason relating to URL encoding or other database / security concerns. </p>

<p>Let's see what the site developers say when they see this bug report. </p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>