<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Wrong  correction  of the title
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-1885" class = "post">
			<h2>Question</h2>
			<h3>Score ::6</h3>
			<h3>Views ::58</h3>
				<h2>Wrong  correction  of the title</h2>
<p>Please have a look here :</p>

<p><a href="https://apple.stackexchange.com/questions/113100/how-to-have-safari-open-links-with-the-eviltarget-blank-open-in-the-same-tab">How to have Safari open links with the evil&#160;target attribute open in the same tab?</a></p>

<p>These curly quotes in the title of my question are totally wrong ! This sort of  correction  smells of Micro$oft Word. I have written correctly target="_blank".</p>

<p>Can you please correct your  correction ?</p>

<p>I have tried ``the backtick trick<code>\</code>   to no avail. </p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-3638" class = "comment">
				<p>What exact character do you want to put into the title? Have you ruled out your browser as changing the text?</p>
			</div>
			<div id = "comment-3639" class = "comment">
				<p>Now I have edited the title of my question, to circumvent the auto- correction . The site wrongly transforms target="_blank" into target= _blank ,   la Microsoft.</p>
			</div>
			<div id = "comment-3640" class = "comment">
				<p>@bmike Please see my previous comment   we have crossed each other. Yes, I have made sure that the bug is in the site and not in my browser.</p>
			</div>
			<div id = "comment-3642" class = "comment">
				<p>I've marked this as [reproducible on mobile Safari iOS 7](http://meta.apple.stackexchange.com/q/1886/5472). It appears the question text is parsed. I suspect a developer or someone more expect at HTML May weigh in to let us know how to escape the quotes to avoid the substitution.</p>
			</div>
			<div id = "comment-4088" class = "comment">
				<p>@bmike Thank you. But your link gives a Peugeot 404, saying that this question was removed from Ask Different Meta for reasons of moderation . Some people seem to like moderation very much.</p>
			</div>
			<div id = "comment-4089" class = "comment">
				<p>Yes - however 10k users and site developers can still see my repro case, so let's leave it for them to work on should they decide to fix this...</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-1888"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::2</h3>
				<p><p>My initial analysis is the correct characters are stored in the database, yet the rendered code strips html entities and changes the standard quote into smart (or dumb depending on your outlook) quotes. </p>

<p>My guess is this transformation of text in question titles is intentional and might even have a technical reason relating to URL encoding or other database / security concerns. </p>

<p>Let's see what the site developers say when they see this bug report. </p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<div id = "comment-3645" class = "comment">
				<p>In linguistics, we call that hypercorrection.</p>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>