<html>
	<head>
		<title id = 'pagetitle'>Wrong titlebar text
		</title>
	<head>
	<body id = 'pagebody'><p>I assume the <code>&lt;title&gt;</code> of the page should be "Ask Different" instead of "Apple", since that's how <a href="https://askubuntu.com/">Ask Ubuntu</a> did it</p>


<h1>ANSWERS</h1>
		<p>This is actually incorrect.</p>

<p>We don't make that change except in the rare case where the URL is formally something other than</p>

<blockquote>
  <p>topic.stackexchange.com</p>
</blockquote>

<p>That is why you will see it on <a href="http://askubuntu.com">http://askubuntu.com</a> -- but not <a href="http://cooking.stackexchange.com">http://cooking.stackexchange.com</a> which has an alias of <a href="http://seasonedadvice.com">http://seasonedadvice.com</a>.</p>

<p>That said the alias</p>

<h1><a href="http://askdifferent.com">http://askdifferent.com</a></h1>

<p>should work to get you here!</p>


	</body>
</html>