<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Wrong titlebar text
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div class = "content">
			<div id = "ques-289" class = "post">
			<h2>Question</h2>
			<h3>Score ::1</h3>
			<h3>Views ::61</h3>
				<h2>Wrong titlebar text</h2>
<p>I assume the <code>&lt;title&gt;</code> of the page should be "Ask Different" instead of "Apple", since that's how <a href="https://askubuntu.com/">Ask Ubuntu</a> did it</p>

			</div>

<h1>COMMENTS</h1>

<h1>ANSWERS</h1>
			<br><div id = "ans-300"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::1</h3>
				<p><p>This is actually incorrect.</p>

<p>We don't make that change except in the rare case where the URL is formally something other than</p>

<blockquote>
  <p>topic.stackexchange.com</p>
</blockquote>

<p>That is why you will see it on <a href="http://askubuntu.com">http://askubuntu.com</a> -- but not <a href="http://cooking.stackexchange.com">http://cooking.stackexchange.com</a> which has an alias of <a href="http://seasonedadvice.com">http://seasonedadvice.com</a>.</p>

<p>That said the alias</p>

<h1><a href="http://askdifferent.com">http://askdifferent.com</a></h1>

<p>should work to get you here!</p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			</div>
			<div class = "resourcestab">
				<h2>RESOURCES</h2>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>