<html>
	<head>
		<title id = 'pagetitle'>Xcode questions
		</title>
	<head>
	<body id = 'pagebody'><p>we are seeing some Xcode questions. Some are about the code being written and so are off topic here. However some are about keys to use e.g. <a href="https://apple.stackexchange.com/questions/85766/is-there-a-hand-tool-for-xcodes-storyboard-scrolling-without-scrollbars-pdf-s">here</a> and so are on topic here. However there are more Xcode users on Stack Overflow should we migrate these questions to Stack Overflow?</p>


<h1>ANSWERS</h1>
		<p>If a question is on-topic here, it remains open. If it is off-topic, it gets closed. On-topic or off-topic, nothing gets migrated unless the OP requests is.</p>

<p>There are a number of questions that would be on-topic at more than one SE site. This is not a bug. If a question is asked here and it is on-topic here, here it is.</p>


<p>Broadly speaking Xcode is Apple software so any questions relating to the use of Xcode (key combinations, window handling etc.) clearly are on-topic enough to have a place in AD. There are enough developers hanging out here to help in answering these kind of questions.</p>

<p>This also means that for questions about Xcode usage both SO and AD might be the "right" place to ask. I don't think this will lead to any problems though, it's up to the asker to put the question onto whatever site he prefers (and hopefully not on both at once).</p>


	</body>
</html>