<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/commons.js"></script>
		<script src="/createlinks.js"></script>
		<title id = 'pagetitle'>Xcode questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1642" class = "post">
			<h2>Question</h2>
			<div id="vote-1642" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 176</p>
			</div>
				<h2>Xcode questions</h2>
<p>we are seeing some Xcode questions. Some are about the code being written and so are off topic here. However some are about keys to use e.g. <a href="https://apple.stackexchange.com/questions/85766/is-there-a-hand-tool-for-xcodes-storyboard-scrolling-without-scrollbars-pdf-s">here</a> and so are on topic here. However there are more Xcode users on Stack Overflow should we migrate these questions to Stack Overflow?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1642">Load Comments</button></br>
			<div id = "commentsection-1642" class = 'collapse'>
			<div id = "comment-3062" class = "comment">
				<p>How does SO react to tool use questions? I'm not experienced enough with SO to know. If they're inclined to close tool use questions because they're not strictly about **programming** I'd say no, leave them here (assuming they're getting the care and attention they need here of course).</p>
			</div>
			<div id = "comment-3063" class = "comment">
				<p>@IanC. Tool use questions are explicitly on topic for StackOverflow - see the FAQ which says "software tools commonly used by programmers"</p>
			</div>
			<div id = "comment-3064" class = "comment">
				<p>I'd only migrate something if it wasn't getting attention here, otherwise it's on topic and a-okay to stay here.</p>
			</div>
			</div>
				<textarea id = "speech-1642" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1642">
					<img id="start_img-1642" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1643"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1643" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If a question is on-topic here, it remains open. If it is off-topic, it gets closed. On-topic or off-topic, nothing gets migrated unless the OP requests is.</p>

<p>There are a number of questions that would be on-topic at more than one SE site. This is not a bug. If a question is asked here and it is on-topic here, here it is.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1643">Load Comments</button></br>
			<div id = "commentsection-1643" class = 'collapse'>
			<div id = "comment-3065" class = "comment">
				<p>If off topic could the mods please also note that they will migrate it if asked not just close it.</p>
			</div>
			<div id = "comment-3066" class = "comment">
				<p>No. Migration is not a feature I'm interested in advertising. I moderate this site, and don't particularly know or care what's on topic on other sites.</p>
			</div>
			<div id = "comment-3067" class = "comment">
				<p>So a user will cut and paste a question from here to another so we get two questions - surely that is not an outcome we want</p>
			</div>
			<div id = "comment-3068" class = "comment">
				<p>If someone requests migration, I'm willing to migrate, but as I said, I don't know or care what's on topic on sites other than Ask Different, so I'm not about to suggest migration to a site where I don't know what they want. From your account information, @Mark, it's clear you understand Super User and Stack Overflow. You're welcome to suggest migration where it's appropriate. I'm not qualified to do that. Also, more often than not, a question closed as off-topic here wouldn't be a good fit AS ASKED on other sites; while off-topic is an easy close reason, such questions usually need more work.</p>
			</div>
			<div id = "comment-3082" class = "comment">
				<p>@Mark - In general, closing a question can sometimes result in migration, but not always. As a mod on another site, I always prefer it when other sites *ask us* before migrating a question; it sometimes saves us having to close a bad question when it arrives, which can be somewhat dizzying for new users.</p>
			</div>
			</div>
				<textarea id = "speech-1643" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1643">
					<img id="start_img-1643" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			<br><div id = "ans-1644"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1644" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Broadly speaking Xcode is Apple software so any questions relating to the use of Xcode (key combinations, window handling etc.) clearly are on-topic enough to have a place in AD. There are enough developers hanging out here to help in answering these kind of questions.</p>

<p>This also means that for questions about Xcode usage both SO and AD might be the "right" place to ask. I don't think this will lead to any problems though, it's up to the asker to put the question onto whatever site he prefers (and hopefully not on both at once).</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1644" class = 'collapse'>
			</div>
				<textarea id = "speech-1644" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1644">
					<img id="start_img-1644" src="/mic.gif" alt="Start">
				</button>
				<button>Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>