<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Yosemite... & lack of backup
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "ques-2208" class = "post">
			<h2>Question</h2>
			<h3>Score ::0</h3>
			<h3>Views ::41</h3>
				<h2>Yosemite... & lack of backup</h2>
<p>Is there some prescribed response to "I put a beta on my machine, with no backup at all &amp; now I broke it" ... other than giggling, of course.</p>

			</div>

<h1>COMMENTS</h1>
			<div id = "comment-4217" class = "comment">
				<p>Only giggling? that is a restrained response</p>
			</div>

<h1>ANSWERS</h1>
			<br><div id = "ans-2209"  class = "post">
				<h2>Answer</h2>
				<h3>Score ::3</h3>
				<p><p>The prescribed response is to flag it for closure for being about pre-release software and/or hardware.</p>

<p>And you can point them to: <a href="https://apple.stackexchange.com/questions/135677/can-i-downgrade-to-mavericks-after-installing-yosemite">Can I downgrade to Mavericks after installing Yosemite (beta/developer preview)?</a></p>
</p><br>
				<input type = 'text'/>
				<input type = 'button' value = 'Comment'/>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>