<html>
	<head>
		<title id = 'pagetitle'>Yosemite... & lack of backup
		</title>
	<head>
	<body id = 'pagebody'><p>Is there some prescribed response to "I put a beta on my machine, with no backup at all &amp; now I broke it" ... other than giggling, of course.</p>


<h1>ANSWERS</h1>
		<p>The prescribed response is to flag it for closure for being about pre-release software and/or hardware.</p>

<p>And you can point them to: <a href="https://apple.stackexchange.com/questions/135677/can-i-downgrade-to-mavericks-after-installing-yosemite">Can I downgrade to Mavericks after installing Yosemite (beta/developer preview)?</a></p>


	</body>
</html>