<html>
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<title id = 'pagetitle'>Your opinion on the "volume" tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href="#" style = "float:right;">About</a>
				<a href="#" style = "float:right;">Preferences</a>
				<a href="#" style = "float:right;">Profile Link</a>
			</div>
			<div id = "post-ques" class = "post">
				<h2>Your opinion on the "volume" tag?</h2>
<p>The <a href="https://apple.stackexchange.com/questions/tagged/volume" class="post-tag" title="show questions tagged &#39;volume&#39;" rel="tag">volume</a> tag is currently applied to nine questions:</p>

<ul>
<li>Four of them use it to describe mounted disks</li>
<li>Five of them use it to describe audio sound levels</li>
</ul>

<p>Tags with multiple meanings are barely more useful than no tag at all.</p>

<p>Any suggestions on which of these should be renamed, and to what?</p>

<hr>

<p><em>Update:</em></p>

<p>I don't think we need a <a href="https://apple.stackexchange.com/questions/tagged/data-volume" class="post-tag" title="show questions tagged &#39;data-volume&#39;" rel="tag">data-volume</a> tag, as it looks like <a href="https://apple.stackexchange.com/questions/tagged/disk-space" class="post-tag" title="show questions tagged &#39;disk-space&#39;" rel="tag">disk-space</a> is sufficient.</p>

<p>I went through the posts and made some edits:</p>

<ul>
<li>Where <code>volume</code> referred to audio levels, I added the already-existing <a href="https://apple.stackexchange.com/questions/tagged/audio" class="post-tag" title="show questions tagged &#39;audio&#39;" rel="tag">audio</a> tag</li>
<li>Where <code>volume</code> referred to mounted disks, I added the already-existing <a href="https://apple.stackexchange.com/questions/tagged/hard-drive" class="post-tag" title="show questions tagged &#39;hard-drive&#39;" rel="tag">hard-drive</a> tag</li>
</ul>

<p>Once I'd done that, it appeared that Jeff was right that we may not need the <code>volume</code> tag at all, so I removed it from each.</p>

<p>Should <a href="https://apple.stackexchange.com/questions/tagged/volume" class="post-tag" title="show questions tagged &#39;volume&#39;" rel="tag">volume</a> be added to the blacklist?</p>

			</div>

<h1>ANSWERS</h1>
			<div id = "post-ans" class = "post">
				<p>Perhaps break it out to...</p>

<ul>
<li><code>audio-volume</code> (Maybe <code>sound-volume</code> is more common?).</li>
<li><code>disk-volume</code>, which isn't very common, but I've seen it used here and there.</li>
<li><code>data-volume</code>, which can be used for questions about managing hard drive space.</li>
</ul>

<p>It would be nice if there was a default we could place via the tag wikis, but 4/5 is too close to call</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>I'm not sure this tag needs to exist at all. Would anyone browse just questions with <a href="https://apple.stackexchange.com/questions/tagged/volume" class="post-tag" title="show questions tagged &#39;volume&#39;" rel="tag">volume</a> ? For what purpose? Under what circumstances?</p>

<p>I think <a href="https://apple.stackexchange.com/questions/tagged/disk" class="post-tag" title="show questions tagged &#39;disk&#39;" rel="tag">disk</a> and <a href="https://apple.stackexchange.com/questions/tagged/audio" class="post-tag" title="show questions tagged &#39;audio&#39;" rel="tag">audio</a> are better general tags.</p>

			</div><br>
			<div id = "post-ans" class = "post">
				<p>What are the down sides to allowing 'volume' to be used both ways?  If am looking for audio-style volume, then I can search for 'volume'.  Then I see that it is ambiguous when I see the results, and I add another tag "audio" to further limit the scope.  I hope it's not a knee-jerk reaction that a tag should not have two different but specific meanings (think homonym)</p>

			</div><br>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	</body>
</html>