div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 1em;
    color: white;
    background-color: 92817A;
    clear: left;
    text-align: left;
    font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
footer {
    padding: 1em;
    color: white;
    background-color: 92817A;
    clear: left;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
 }

 div.container input {
	height: 2.5em;
	/*visibility: hidden;*/
}

div.container label {
	background: #f9f9f9;  /* Fondo de las pestañas */
	border-radius: .25em .25em 0 0;
	color: #888;  /* Color del texto de las pestañas */
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;  /* Tamaño del texto de las pestañas */
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

div.container input:hover + label {
	background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
	color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

div.container input:checked + label {
	background: #f1f1f1;  /* Fondo de las pestañas al presionar */
	color: #444; /* Color de las pestañas al presionar */
	position: relative;
	z-index: 6;
	/*
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	*/
}

#content {
	background: #f1f1f1;  /* Fondo del contenido */
	border-radius: 0 .25em .25em .25em;
	/*min-height: 20em;*/  /* Alto del contenido */
	position: relative;
	width: 100%;
	z-index: 5;
}

#content div {
	
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;
	/*
	transition: all linear 0.1s;
	*/
}

div.container input#tab-1:checked ~ #content #content-1,
div.container input#tab-2:checked ~ #content #content-2,
div.container input#tab-3:checked ~ #content #content-3 {
    opacity: 1;
    z-index: 100;
}

input.visible {
  visibility: visible !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.post-home a:link{
    color:48372C;
    font-weight: bold;
    font-size: 135%;
}

.post a:link{
    color:blue;
    font-weight: bold;
    font-size: 120%;
}

.post{
    color:48372C;
    font-size: 120%;
    border: 2px solid gray;
}