<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>"Ask Different" logged me in with a different account
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-525" class = "post">
			<h2>Question</h2>
			<div id="vote-525" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 74</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>"Ask Different" logged me in with a different account</h2>
<p>I created another user account on my computer, and visited <em>Ask Different</em>. I logged in using the same username I normally use (and I am using now), but despite I used the same ClaimID OpenID account, it shows me as <a href="https://apple.stackexchange.com/users/6434/kiamlaluno">user6474</a>.</p>

<p>I tried from my other Mac, using the similar user account I have on my Mac Mini, but I am still logged in as user6474.</p>

<p>To show that it's an account to which I have access, I am going to rename the account, and use kiamlaluno also on the new account.</p>

<p><strong>Update:</strong> I tried logging in on <em>Stack Overflow</em> from the other computer, and it reports the following message:</p>

<blockquote>
  <p>This OpenID is new to Stack Overflow:<br>
  ClaimID (kiamlaluno)</p>
  
  <p>However, it is know to 1 other sites in the Stack Exchange Network</p>
</blockquote>

<p>To try logging in on <em>Stack Overflow</em>, I have used Google Chrome, instead of Safari, and I don't understand why I get that message.<br>
I should not see that message, as I am using the same OpenID account I am using on this computer. I don't understand the reason why SE thinks it's a new account when I use it from a different computer and a different local user account.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-525" data-toggle = "popover">
				<p>user name : kiamlaluno</p>
				<p> user reputation : 2594</p>
				<p class = "tagcontent" id = "usertaginfo-525">{'openid': 0, 'None': 9, 'editing': 0, 'users': 0, 'tags': 4, 'support': 9, 'community-wiki': 1, 'status-completed': 6, 'answers': 7, 'notifications': 3, 'design': 5, 'feature-request': 1, 'questions': 4, 'bounty': 3, 'flagging': 3, 'user-accounts': 0, 'bug': 5, 'discussion': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-525">Load Comments</button></br>
			<div id = "commentsection-525" class = 'collapse'>
			<div id = "comment-951" class = "comment">
				<p>Of course, I could not add the email address, as it's the same I am already using for my normal account.</p>
			</div>
			<div id = "comment-952" class = "comment">
				<p>I updated the user profile link, as it was not correct anymore, since I have set kiamlaluno as showed name. I still have to understand why using a different Mac account to log in on SE would cause any problem, but that is what happens.</p>
			</div>
			</div>
				<textarea id = "speech-525" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-525">
					<img id="start_img-525" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-525">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-526"  class = "post">
				<h2>Answer</h2>
			<div id="vote-526" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Hm, from what I can tell they really are both using the same OpenID. This is likely a bug in Stack Exchange. If you're looking to regain access to your original account, I suggest using <a href="https://apple.stackexchange.com/users/account-recovery">email account recovery</a> for the time being.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-526" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-526">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-526">Load Comments</button></br>
			<div id = "commentsection-526" class = 'collapse'>
			<div id = "comment-953" class = "comment">
				<p>It doesn't work; it reports me the ClaimID account I am using, and then tells me to log in, but I am still being logged in with the wrong account. I will try deleting any cookies on the other computer, to see if it works.</p>
			</div>
			<div id = "comment-954" class = "comment">
				<p>@kiamlaluno If that doesn't work, there are basically two options - you can contact the SE team directly (team+apple@stackexchange.com) and see what they can do for you, or I can merge your old account into your new account.</p>
			</div>
			<div id = "comment-955" class = "comment">
				<p>I will try contacting them; you could merge the accounts, but I could still have the same problem when I try to log in from the other computer. I will try to copy the cookies between the accounts, if there is a way to do that on a Mac. Thank you for helping.</p>
			</div>
			<div id = "comment-958" class = "comment">
				<p>@Kyle Cronin It seems I have resolved my issue; may you delete the account #6434?</p>
			</div>
			<div id = "comment-959" class = "comment">
				<p>@kiamlaluno OK, done</p>
			</div>
			<div id = "comment-960" class = "comment">
				<p>@Kyle Cronin Thank you.</p>
			</div>
			<div id = "comment-961" class = "comment">
				<p>the issue is that claimid supports two forms of their OpenID -- they are not the same from our perspective, they are different strings. You can search meta.so for more detail, etc</p>
			</div>
			</div>
				<textarea id = "speech-526" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-526">
					<img id="start_img-526" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-526">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>