<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>"Thermal Imaging" with Arduino and~or Lego Mindstorm NXT 2.0?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8140" class = "post">
			<h2>Question</h2>
			<div id="vote-8140" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 173</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>"Thermal Imaging" with Arduino and~or Lego Mindstorm NXT 2.0?</h2>
<p>I'm trying to build a robot that can be sent into rooms/buildings and detect people using nxt and/or Arduino. In addition to this I would like to be able to view what my robot is "seeing" in real-time on my PC as an infrared image. The sensors I've shortlisted for this are:</p>

<ol>
<li><p><a href="http://www.generationrobots.com/en/401177-thermal-infrared-nxt-sensor-dexter-industries.html" rel="nofollow">Thermal Infrared NXT Sensor from Dexter industries -  44</a></p></li>
<li><p><a href="http://www.robotshop.com/uk/roboard-rm-g212-thermal-array-sensor.html#reviewBox" rel="nofollow">RoBoard RM-G212 16X4 Thermal Array Sensor -  94</a></p></li>
<li><p><a href="http://uk.farnell.com/omron-d6t-mems-thermal-ir-sensor" rel="nofollow">Omron D6T MEMS Thermal IR Sensor -  31</a></p></li>
</ol>

<p>I believe the RoBoard and Omron sensors are capable of thermography, so I was wondering if anyone here has experience with these sensors and give me some advice.</p>

<p>I was also thinking about using an idea from this project: www.robotc.net/blog/tag/dexter-industries.<br>
In this case I'd use the data read from the sensor to plot a graph showing different temperatures.   </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8140" data-toggle = "popover">
				<p>user name : SageDO</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8140">{'mobile-robot': 0, 'None': 0, 'sensors': 0, 'nxt': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8140">Load Comments</button></br>
			<div id = "commentsection-8140" class = 'collapse'>
			<div id = "comment-12984" class = "comment">
				<p>I'm not sure I follow - what is your question?</p>
			</div>
			<div id = "comment-12986" class = "comment">
				<p>I'm asking if I can use the sensors listed to produce infrared images. I'd attach the sensors to a lego nxt robot and try to detect someone</p>
			</div>
			<div id = "comment-12987" class = "comment">
				<p>You have answered your own question with the robotc blog link that you provided. It shows how to use a pan/tilt rig to use the sensor to create an image. Since the other sensors are arrays rather than a single point, you could use them to create a higher resolution image in the same amount of time.</p>
			</div>
			<div id = "comment-12988" class = "comment">
				<p>The robotc blog mentions a .net app to produce the images. I was wondering if the sensors can produce thermal images themselves or if I could use other methods to generate the images. I don't know about .net apps</p>
			</div>
			</div>
				<textarea id = "speech-8140" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8140">
					<img id="start_img-8140" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8140">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8166"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8166" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since you are using an Arduino a .NET app isn't going to be much help unless you can get the source code and use that as a reference.  .NET can be used on Arduinos but you are probably going to get stuck, because there will be less examples.  (The source code will probably be in either C# or VB and if you can read Arduino C you can read them)</p>

<p>"Do the sensors create an image?"  Yes and no.  From what I can see from the data sheets you have a number of pixels that have analog values.  These values are stored in memory on the sensor and you use I2C to read from that memory.<br>
There are I2C libraries for an Arduino.  There is probably an I2C library to interface with the memory chip.  There might even be a library to talk to the sensor.  However the most difficult part will be converting the pixel values into something that allows your Robot to 'see' a heat source, this will take some research on how to do it.</p>

<p>The sensors have different numbers of pixels.  Having 64 pixels is fine, but how long will it take an Arduino to read 64x16bit numbers over an I2C interface and then evaluate the data and make a decision on which direction to move.  I think you should be looking at a multi-microprocessor system.</p>

<p>Which sensor is better? Personally I would go with the Omron mounted horizontally.  My reasoning isn't just  the cost, the RoBoard wants 2.5-2.7V and that is going to be harder to regulate than the 4.5-5.5V that the Omron wants when you are running on batteries.  The 1x8 sensor only has a 6 degree vertical angle, but it has much higher resolution that the 4x4.  One possible option might be to have one of each and perform a gross search with the 4x4 and the focus in with the 8x1 sensor.
You are probably going to want to have the ability to rotate the sensor and pan it vertically to allow the robot to look around the room. Then stich the data together to get the bigger picture. </p>

<p>Hope that helps</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8166" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-8166">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8166" class = 'collapse'>
			</div>
				<textarea id = "speech-8166" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8166">
					<img id="start_img-8166" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8166">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>