<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>"Time-varying" and "nonautonomous" dynamical systems and their Lyapunov analysis
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6642" class = "post">
			<h2>Question</h2>
			<div id="vote-6642" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 187</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>"Time-varying" and "nonautonomous" dynamical systems and their Lyapunov analysis</h2>
<p>It is possible to distinguish the properties "time-varying" and "nonautonomous" in dynamical systems regarding Lyapunov stability analysis?</p>

<p>Does it make a difference if the system depends explicitly on $t$ or indirectly on $t$ due to a time-varying parameter?</p>

<p>I want to explain the problem in detail:</p>

<p>Let a dynamical system denoted by $\dot x = f$, with state $x$.
We say that a dynamical system is nonautonomous if the dynamics $f$ depend on time $t$, i.e. $$\dot x = f(t,x).$$</p>

<p>For instance the systems $$ \dot x = - t x^2 $$ and $$ \dot x = -a(t)x,$$ are nonautonomous. Let $a(t)$ be a bounded time-varying parameter, i.e. $||a(t)||&lt;a^+$ and strictly positive, i.e. $a(t) &gt; 0$. </p>

<p>Particularly, the second example is more likely denoted as a time-varying linear system, but of course it is nonautonomous. </p>

<p>In Lyapunov stability analysis autonomous and nonautonomous systems must be strongly distinguished to make assertions about stability of the system, and the Lyapunov analysis for nonautonomuos systems is much more difficult.</p>

<p>And here for me some questions arise. When i want to analize stability of the second example must i really use the Lyapunov theory for nonautonomous systems? </p>

<p>It follows for the candidate $V = 1/2 x^2$</p>

<p>$$\dot V = -a(t)x^2,$$</p>

<p>which is negative definite. Is the origin really asymptotically stable, as i suppose, or must i take the nonautomous characteristic into account in this case?</p>

<p>I would suppose it makes a difference if a system depends explicitly on $t$ as in the first example or just indirect due to a time-varying parameter, since $t$ approaches infinity, but a parameter does not.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6642" data-toggle = "popover">
				<p>user name : Carlos</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-6642">{'control': 8, 'None': 0, 'dynamics': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6642">Load Comments</button></br>
			<div id = "commentsection-6642" class = 'collapse'>
			<div id = "comment-19862" class = "comment">
				<p>here is a thesis dealing with those systems. Maybe a reformulated definition and stability analysis would help understand https://github.com/stonier/thesis/blob/master/thesis.pdf</p>
			</div>
			</div>
				<textarea id = "speech-6642" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6642">
					<img id="start_img-6642" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6642">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11015"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11015" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is no difference between the two types that you mention. In fact my problem is understanding why you are able to distinguish them in your mind (honestly I don't understand, sorry for this), since there is no mathematical difference between them.</p>

<p>True that nonautonomous systems can be made autonomous by adding some variables (some equations) but you need to know what you are doing because often adding these equations (it need not be $t'=1$ the type of stability changes).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11015" data-toggle = "popover">
				<p>user name : John B</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-11015">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11015" class = 'collapse'>
			</div>
				<textarea id = "speech-11015" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11015">
					<img id="start_img-11015" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11015">Comment</button>
			<br><div id = "ans-11021"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11021" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have the definition of "nonautonomous" incorrect. Please consult authoritative  references on control theory such as one by Sastry, Khalil or Slotine and Li</p>

<p><strong><a href="https://math.stackexchange.com/questions/2003462/time-varying-and-nonautonomous-dynamical-systems-and-their-lyapunov-analysis/2004607#2004607">Here is a brief summary of the terms</a> as copied from math stackexchange</strong></p>

<p>A system is <strong>time invariant</strong> if the system parameters does not depend on time</p>

<p>These systems are represented by:</p>

<p>$$\dot x = f(x,u), \dot x = f(x)$$ or when the system is linear $$\dot x = Ax + Bu, \dot x = Ax$$</p>

<p>A system is <strong>time varying</strong> if the system parameters does depend on time</p>

<p>These systems are represented by:</p>

<p>$$\dot x = f(x,u,t)$$ or $$\dot x = A(t) x + B(t)u$$</p>

<p>For a RLC circuit, $A(t)$ could represent the matrix containing time varying capacitance, inductance or resistance. Similarly, for a mass-spring-damper system, $A(t)$ could represent time varying damping, friction, and mass. Of course, all real system are time varying albeit on the scale of hours, years, or even millennia.</p>

<p>A (time invariant) system is <strong>autonomous</strong> if the input $u$ is a function of the state:</p>

<p>These systems are represented by:</p>

<p>$$\dot x = f(x,u(x)) = f(x)$$ or $$\dot x = Ax + Bu(x) = (A-BK)x$$ Supposing that we are using feedback $u = -Kx$. Any state feedback systems are autonomous, because your input $u$ is a function of your state. </p>

<p>And you might have guessed it, a (time invariant) <strong>non-autonomous</strong> system is when your input is not a function of the state </p>

<p>These systems are represented by:</p>

<p>$$\dot x = f(x,u)$$ or $$\dot x = Ax + Bu$$</p>

<p>For example, $u$ could be the irradiation of the sun hitting a solar panel, where as $x$ encapsulates the states of the solar panel. The solar panel is not going to affect sunshine or the sun for that matters, or the cloud passing the sun. </p>

<p><strong>For your question, you (most likely)* cannot use the Lyapunov function as proposed for your system, namely:</strong></p>

<p>Using $$V(x) = \dfrac{1}{2}x^2$$</p>

<p>to prove stability of origin for</p>

<p>$$\dot x = -a(t)x$$</p>

<p>Because your system has time varying parameters. It is autonomous, and time varying.</p>

<p>What you need to do is to construct a <strong>time varying Lyapunov function</strong>, and in the process you will encounter when a  <a href="http://www.cds.caltech.edu/~murray/courses/cds101/fa02/caltech/mls93-lyap.pdf" rel="nofollow noreferrer">Lyapunov function</a> () is said to be descrescent, etc. Those are not a part of the classical Lyapunov theory, which deals with time-invariant, autonomous system. Your best reference is the control theory text of Slotine and Li.</p>

<ul>
<li>Note: I am not that familiar with time varying Lyapunov functions</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11021" data-toggle = "popover">
				<p>user name : Brad Pitt</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-11021">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11021" class = 'collapse'>
			</div>
				<textarea id = "speech-11021" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11021">
					<img id="start_img-11021" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11021">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>