<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>"Typing Fingers" is in need of cleanup
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2635" class = "post">
			<h2>Question</h2>
			<div id="vote-2635" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>"Typing Fingers" is in need of cleanup</h2>
<p>I found a question here that needs cleanup when I was reviewing.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/90066/app-or-webapp-for-learning-touch-type-on-ios-with-apple-wireless-keyboard">https://apple.stackexchange.com/questions/90066/app-or-webapp-for-learning-touch-type-on-ios-with-apple-wireless-keyboard</a></li>
</ul>

<p>It got protected by Community about 3 minutes before I posted this question. It contains a surprising amount of answers in the shape of "This app is good. I tried it" that the answer thread now looks like a chat room.</p>

			</div>
			<div id = "userinfo-2635" style = "float:right">
				<p>user name : TheBro21</p>
				<p> user reputation : 1527</p>
				<p> user tag wise history : {'None': 0, 'flagging': 7, 'moderators': 3, 'support': 38, 'formatting': 4, 'suggested-edits': 8, 'comments': 8, 'closed-questions': 6, 'close-reasons': 3, 'moderation': 12, 'reputation': 3, 'asking-questions': 4, 'questions': 4, 'editing': 12, 'discussion': 11, 'editor': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2635" class = 'collapse'>
			</div>
				<textarea id = "speech-2635" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2635">
					<img id="start_img-2635" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2635">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2638"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2638" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>All five answers that were posted by the one reputation users are spam.</p>

<ul>
<li><a href="https://apple.stackexchange.com/a/209032">https://apple.stackexchange.com/a/209032</a></li>
<li><a href="https://apple.stackexchange.com/a/209035">https://apple.stackexchange.com/a/209035</a></li>
<li><a href="https://apple.stackexchange.com/a/209037">https://apple.stackexchange.com/a/209037</a></li>
<li><a href="https://apple.stackexchange.com/a/209038">https://apple.stackexchange.com/a/209038</a></li>
<li><a href="https://apple.stackexchange.com/a/209041">https://apple.stackexchange.com/a/209041</a></li>
</ul>

<p>Downvote, flag them as spam and move on. You don't need to ask a meta question for things like this as a quick message in chat will suffice, <a href="http://chat.stackexchange.com/transcript/message/24502416#24502416">as was already done</a>.</p>
</p><br>
			</div>
			<div id = "userinfo-2638" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2638">Load Comments</button></br>
			<div id = "commentsection-2638" class = 'collapse'>
			<div id = "comment-5913" class = "comment">
				<p>Spam  users destroyed. Thanks for flagging.</p>
			</div>
			</div>
				<textarea id = "speech-2638" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2638">
					<img id="start_img-2638" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2638">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>