<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>$p(m|x_t, u_t, x_{t-1})$ What does Thrun mean with the "map probability"?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14010" class = "post">
			<h2>Question</h2>
			<div id="vote-14010" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 16</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>$p(m|x_t, u_t, x_{t-1})$ What does Thrun mean with the "map probability"?</h2>
<p>Different question from the last one since I still struggle with the concept.</p>

<p>In his book "Probabilistic Robotics", Thrun has the following equation: <a href="https://books.google.de/books?id=2Zn6AQAAQBAJ&amp;lpg=PA140&amp;ots=vHnEODAD_A&amp;dq=probabilistic%20robotics%205.48&amp;pg=PA142#v=onepage&amp;q=probabilistic%20robotics%205.48&amp;f=false" rel="nofollow noreferrer">(Context here)</a> (5.49)</p>

<p>$p(x_t|u_t,x_{t-1},m) = \eta p(m|x_t,u_t,x_{t-1})p(x_t|u_t,x_{t-1})   $</p>

<p>I can't really wrap my head around any probability that involves $p(m)$ or  $p(m|...)$. What is the probability of a map? Isn't it always 1, because i have just one map? How do I have to imagine $p(m|x_t,u_t,x_{t-1}$)? In his book, he kind of just handwaves it...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14010" data-toggle = "popover">
				<p>user name : Thomas</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-14010">{'None': 0, 'probability': 1, 'localization': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14010">Load Comments</button></br>
			<div id = "commentsection-14010" class = 'collapse'>
			<div id = "comment-22857" class = "comment">
				<p>In localization, the probability of the map is one this means the location of map is provided with 100% certainty; however, in SLAM, it is not the case.</p>
			</div>
			</div>
				<textarea id = "speech-14010" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14010">
					<img id="start_img-14010" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14010">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14013"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14013" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>How do I have to imagine $p(m|x_t,u_t,x_{t-1}$)? In his book, he kind
  of just handwaves it...</p>
</blockquote>

<p>In SLAM, you need to build two entities, the robot's state (i.e. position and direction) and the map. In deterministic approaches, the probability of both robot's state and the map is one, meaning you know these entities with an absolute true (<em>i.e.</em> zero uncertainty). In probabilistic approaches, you can't know the robot's state and the map with an absolute true that is because sensors have noise, therefore, the probability principle is the right choice to handle this kind of problems. Now what is this probability $p(m|x_t,u_t,x_{t-1}$)? This is a conditional probability, the inputs are the previous state of the robot, the current state of the robot, and the current control input that drives the robot whereas the output is the probability of the map. Remember the probability here reflects the certainty of the knowledge about the map. For example, if the probability is 0.9, it means we are 90% sure about the location of the map and 10% is the uncertainty. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14013" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-14013">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14013" class = 'collapse'>
			</div>
				<textarea id = "speech-14013" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14013">
					<img id="start_img-14013" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14013">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>