<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>'Ghost' inbox message
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2083" class = "post">
			<h2>Question</h2>
			<div id="vote-2083" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>'Ghost' inbox message</h2>
<p>I just got this message in my inbox that there had been a comment that I should be aware of.</p>

<p><img src="https://i.stack.imgur.com/0TK1F.png" alt="comment"></p>

<p>When I click on it, it leads me to the <a href="https://apple.stackexchange.com/questions/128757/contacts-have-unsolicited-entries">right question</a>, but there is no comment there?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2083" data-toggle = "popover">
				<p>user name : Buscar </p>
				<p> user reputation : 26972</p>
				<p class = "tagcontent" id = "usertaginfo-2083">{'search': 1, 'voting': -5, 'suggested-edits': 0, 'spam': -6, 'support': 5, 'moderation': -4, 'None': 1, 'comments': -6, 'closed-questions': -3, 'moderators': -7, 'reputation': -2, 'answers': -1, 'inbox': 1, 'bounty': -2, 'user-accounts': 0, 'flagging': -7, 'discussion': -15, 'review-page': 0, 'accepted-answer': -1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2083" class = 'collapse'>
			</div>
				<textarea id = "speech-2083" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2083">
					<img id="start_img-2083" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2083">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2084"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2084" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The comment has been deleted after your message was sent and before you got a chance to check it out.  The system isn't clever enough to recall or cancel the message, so it sends you to where is was, even if it's gone.</p>

<p>I've deleted your subsequent reply as is is now out of context.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2084" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-2084">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2084">Load Comments</button></br>
			<div id = "commentsection-2084" class = 'collapse'>
			<div id = "comment-4014" class = "comment">
				<p>I was suspecting that, just wondering what the <br/> was in it ?</p>
			</div>
			<div id = "comment-4015" class = "comment">
				<p>probably someone trying to insert a newline into a comment, as it's not possible.</p>
			</div>
			<div id = "comment-4017" class = "comment">
				<p>while we are on the topic, is there a way to inform me when my comment is deleted ?? I know I made a comment to that question but it is no longer there?</p>
			</div>
			<div id = "comment-4018" class = "comment">
				<p>No idea, might be worth a separate meta question on SO</p>
			</div>
			<div id = "comment-4019" class = "comment">
				<p>OK, just clarifying it was not one of the moderators, since obviously you can do that :(</p>
			</div>
			</div>
				<textarea id = "speech-2084" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2084">
					<img id="start_img-2084" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2084">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>