<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>.launch file associated while using a sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12561" class = "post">
			<h2>Question</h2>
			<div id="vote-12561" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 17</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>.launch file associated while using a sensor</h2>
<p>What is the general <em>structure</em> of <strong>.launch</strong> file for using a sensor?</p>

<p><em>For example:</em></p>

<p>1.Following code is example for using a JoyStick to control TurtleSim</p>

<pre><code>&lt;launch&gt;
  &lt;node pkg="turtlesim" type="turtlesim_node" name="sim"/&gt;
  &lt;node pkg="chapter4_tutorials" type="example1" name="example1" /&gt;
  &lt;param name="axis_linear" value="1" type="int" /&gt;
  &lt;param name="axis_angular" value="0" type="int" /&gt;
  &lt;node respawn="true" pkg="joy"type="joy" name="teleopJoy"&gt;
    &lt;param name="dev" type="string" value="/dev/input/js0" /&gt;
    &lt;param name="deadzone" value="0.12" /&gt;
  &lt;/node&gt;
&lt;/launch&gt;
</code></pre>

<p>2.Using a Laser Range finder</p>

<pre><code>&lt;launch&gt;
  &lt;node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node"/&gt;
  &lt;node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find chapter4_tutorials)/example2.vcg"/&gt;
  &lt;node pkg="chapter4_tutorials" type="example2" name="example2" /&gt;
&lt;/launch&gt;
</code></pre>

<p>What exactly is the <strong>syntax</strong>?</p>

<p>Why do we have two <strong><code>&lt;node pkg&gt;</code></strong>?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12561" data-toggle = "popover">
				<p>user name : Akhil Kathi</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-12561">{'sensors': 0, 'None': 0, 'ros': 0, 'inverse-kinematics': 1, 'first-robotics': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12561">Load Comments</button></br>
			<div id = "commentsection-12561" class = 'collapse'>
			<div id = "comment-22024" class = "comment">
				<p>http://answers.ros.org is the best place to ask this.</p>
			</div>
			</div>
				<textarea id = "speech-12561" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12561">
					<img id="start_img-12561" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12561">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12562"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12562" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The first node, hokuyo_node, is the driver for the sensor.
The second node, rviz, is for visualizing the data coming from the hokuyo_node.
The third node is the tutorial program. </p>

<p>The <a href="http://wiki.ros.org/roslaunch" rel="nofollow noreferrer">launch file</a>  format is well documented. However it assumes that you understand the basic organization of ROS, what nodes are, and how they interact.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12562" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-12562">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12562">Load Comments</button></br>
			<div id = "commentsection-12562" class = 'collapse'>
			<div id = "comment-22026" class = "comment">
				<p>Where can I find documentation for launch file format?</p>
			</div>
			<div id = "comment-22027" class = "comment">
				<p>Both Google search, and the search tool of wiki.ros.org give good results.</p>
			</div>
			</div>
				<textarea id = "speech-12562" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12562">
					<img id="start_img-12562" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12562">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>