<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>12V Arduino Dual Bridge to supply at least 5A
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4533" class = "post">
			<h2>Question</h2>
			<div id="vote-4533" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 546</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>12V Arduino Dual Bridge to supply at least 5A</h2>
<p>I am looking for a 12V Dual Motor Controller that can supply at least 5A per channel for two 12V motors, and that can be used with an arduino. Do you know of any product with those specs?</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4533" data-toggle = "popover">
				<p>user name : Pototo</p>
				<p> user reputation : 43</p>
				<p class = "tagcontent" id = "usertaginfo-4533">{'control': 0, 'stepper-driver': 1, 'None': 0, 'noise': 2, 'circuit': 0, 'arduino': 1, 'wheeled-robot': 1, 'microcontroller': 1, 'driver': 2, 'h-bridge': 0, 'current': 1, 'differential-drive': 5, 'imu': 2, 'motor': 1, 'actuator': 1, 'ros': 7, 'navigation': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4533">Load Comments</button></br>
			<div id = "commentsection-4533" class = 'collapse'>
			<div id = "comment-7169" class = "comment">
				<p>Unfortunately, shopping questions are [off topic](http://robotics.stackexchange.com/help/on-topic)</p>
			</div>
			</div>
				<textarea id = "speech-4533" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4533">
					<img id="start_img-4533" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4533">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4538"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4538" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This one may be a nice board for you
<a href="http://www.pololu.com/product/2502" rel="nofollow">http://www.pololu.com/product/2502</a></p>

<p>they say it is unavailable, but you may find something..</p>

<p>or just take two of them:
<a href="http://www.pololu.com/product/1451" rel="nofollow">http://www.pololu.com/product/1451</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4538" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4538">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4538">Load Comments</button></br>
			<div id = "commentsection-4538" class = 'collapse'>
			<div id = "comment-7180" class = "comment">
				<p>I purchased the MC33926 Motor Shield, but for some reason I cannot read the current of my motors. It gives me garbage. I used the demo file from Pololu. Is there any special activation that needs to be done on one of the pins?

I am using this library:

https://github.com/pololu/dual-mc33926-motor-shield</p>
			</div>
			<div id = "comment-7181" class = "comment">
				<p>No, the demo file should work without any changes.
What do you mean by "garbage"?</p>
			</div>
			</div>
				<textarea id = "speech-4538" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4538">
					<img id="start_img-4538" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4538">Comment</button>
			<br><div id = "ans-4550"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4550" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, there are several products that can independently drive two DC motors at 12 V and 5 A, which can be used with an Arduino.</p>

<p><a href="http://www.opencircuits.com/motor_driver" rel="nofollow noreferrer">OpenCircuits has a list of motor drivers</a>, some of which meet your criterial.</p>

<p><a href="https://www.sparkfun.com/categories/179" rel="nofollow noreferrer">Sparkfun carries many motor drivers</a> that meet your criteria, including the "Monster Moto Shield", the "T'Rex Robot/Motor Controller", and several Pololu drivers.</p>

<p><a href="http://www.robotpower.com/catalog/" rel="nofollow noreferrer">Robot Power carries many motor drivers</a> that meet your criteria.</p>

<p>Have you heard that shopping questions are <a href="https://robotics.stackexchange.com/help/on-topic">off-topic</a> on this site?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4550" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-4550">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4550">Load Comments</button></br>
			<div id = "commentsection-4550" class = 'collapse'>
			<div id = "comment-7178" class = "comment">
				<p>yes, I've heard.</p>
			</div>
			</div>
				<textarea id = "speech-4550" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4550">
					<img id="start_img-4550" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4550">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>