<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>12V compressor and air pressure control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4635" class = "post">
			<h2>Question</h2>
			<div id="vote-4635" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2739</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>12V compressor and air pressure control</h2>
<p>I am trying to make a simple robot with few functionality for someone, one of these functionality is inflating a balloon inside the robot, I know how to control a compressor using Arduino but the problem is that the requested task is bit different here:
There must be an air exit and it must be controllable through arduino, so he can inflate the balloon to a certain pressure, and depress the air from another exit if needed (I don't know if it is possible to have a depression through the same pressure-in valvle.</p>

<p>I think that it can be done somehow using a solenoid 3/2 valve or something but I am bit unfocused these days and I need some hints.</p>

<p>Any thoughts?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4635" data-toggle = "popover">
				<p>user name : Jihed Jaouabi</p>
				<p> user reputation : 68</p>
				<p class = "tagcontent" id = "usertaginfo-4635">{'None': 0, 'localization': 8, 'arduino': 5, 'battery': 8, 'valve': 5, 'wheeled-robot': 13, 'mechanism': 5, 'wireless': 8, 'industrial-robot': 5, 'sensors': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4635" class = 'collapse'>
			</div>
				<textarea id = "speech-4635" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4635">
					<img id="start_img-4635" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4635">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4638"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4638" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Whether a single 3-way, 2-position pneumatic valve (typically with a work port, an input port, and an exhaust port   see page 3 of <a href="http://www.nationalpneumatic.com/img/PDF/Anglais/Technical%20notes/TOPRING/Topring-Understanding-air-control-valves.pdf" rel="nofollow">nationalpneumatic.com's pdf about valves</a>) will suffice depends on information not given in the question.  For example, if you can turn the compressor on or off at will, and if it will hold pressure when off, you can attach the balloon to the work port, the compressor to the input port, and leave the exhaust port open (or put an exhaust silencer or rate control on the exhaust port).</p>

<p>If, however, you are using a reservoir and need three settings   balloon fill, balloon hold, and balloon exhaust   you will need to use either a 5-way, 3-position valve with center off (see eg <a href="http://www.youtube.com/watch?v=vY_bguSNgSc" rel="nofollow">youtube.com about Closed Center Valves</a>), or a pair of 3-2 or 5-2 valves.  (The 5-2 valves would be used as overqualified 3-2 valves, with extra ports either blocked or left open as necessary.)  Using two 3-2 valves X and Y, on valve X attach the balloon to the work port and leave the exhaust port open (or silenced, etc).  Connect X's input port to Y's work port.  Connect Y's  input port to the compressor, and block Y's exhaust port.</p>

<p>The   <a href="http://www.robotshop.com/en/viair-12v-120-psi-air-compressor.html" rel="nofollow">VIAIR 12V 120 psi Air Compressor</a>  mentioned in a comment is an oilless single-piston compressor.  As well as being sold at the robotshop.com site, it is marketed as part of a roughly twice-as-expensive air system, on <a href="http://rads.stackoverflow.com/amzn/click/B002915HVK" rel="nofollow">Amazon</a> and <a href="http://www.suspensionconnection.com/10000-compressor.html" rel="nofollow">other sites</a>.  A single 3-way, 2-position pneumatic valve should work ok for balloon air control if used per paragraph 1.</p>

<p>Somewhat-less-expensive compressors that will work ok for initial experiments or for light duty production include Harbor Freight models <a href="http://www.harborfreight.com/12v-100-psi-high-volume-air-compressor-61788.html" rel="nofollow">61788</a>, <a href="http://www.harborfreight.com/12v-100-psi-high-volume-air-compressor-69284.html" rel="nofollow">69284</a>, and <a href="http://www.harborfreight.com/12-volt-250-psi-compact-air-compressor-4077.html" rel="nofollow">4077</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4638" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-4638">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4638">Load Comments</button></br>
			<div id = "commentsection-4638" class = 'collapse'>
			<div id = "comment-7308" class = "comment">
				<p>Thaks for the answer, in fact, I can turn on and off the compressor at will, I am wondering what is the simplest way to hold pressure when off?</p>
			</div>
			<div id = "comment-7309" class = "comment">
				<p>@JihedJaouabi, if the compressor has pistons it should hold pressure when off; but if it's basically a fan, probably not. (Please edit question and indicate make and model number of compressor.)  In latter case, 2nd paragraph of answer applies.  When filling balloon, switch X input to X work and Y input to Y work.  To hold balloon, switch Y exhaust (which is blocked) to Y work.  To deflate balloon,  switch X exhaust to X work.</p>
			</div>
			<div id = "comment-7341" class = "comment">
				<p>Actually, the copressor used is a fan [from here](http://www.robotshop.com/en/viair-12v-120-psi-air-compressor.html)</p>
			</div>
			<div id = "comment-7365" class = "comment">
				<p>@JihedJaouabi, see edit</p>
			</div>
			</div>
				<textarea id = "speech-4638" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4638">
					<img id="start_img-4638" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4638">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>