<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>2 wheeled, 2 motor robot control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6493" class = "post">
			<h2>Question</h2>
			<div id="vote-6493" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 605</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2 wheeled, 2 motor robot control</h2>
<p>I decided to work on a 2 wheeled robot position mapping problem. For that I have 2 DC motors with encoders from pololu.
I have the following two questions:</p>

<ol>
<li><p>Do I need to know the model of each motor in order to tune a controller?</p></li>
<li><p>What are the steps/approach used to get a good mapping (let's say 1 mm maximum error)?</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-6493" data-toggle = "popover">
				<p>user name : Med.ali</p>
				<p> user reputation : 34</p>
				<p class = "tagcontent" id = "usertaginfo-6493">{'control': -1, 'odometry': 1, 'None': 0, 'noise': 5, 'motor': 1, 'arduino': 1, 'pid': 1, 'wheeled-robot': 1, 'kalman-filter': 3, 'sensors': 0, 'gyroscope': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6493" class = 'collapse'>
			</div>
				<textarea id = "speech-6493" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6493">
					<img id="start_img-6493" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6493">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6497"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6497" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You say that you are trying a "position mapping problem", I think by this you mean that you want to track the position and orientation relative to the starting location of the robot. This is known as relative localisation. A mapping problem is quite different.</p>

<p>Unless the terrain you are on is high-friction and flat with good wheel contact, and your mechanics in your robot are very high tolerance, I think it will not be possible to get any kind of accuracy close to 1mm for say a 2m path.</p>

<p>If you want to try anyway here are the answers to your questions:</p>

<p>1) Do you need to know the <strong>Dynamic Model</strong> of the motors? Yes, if you want very high accuracy. In addition you will need the dynamic model of the entire robot's mobility system; all in all this is a difficult task. I would try this without the dynamic model first, using only a kinematic model. You can have a PID controller on each of the motors to achieve closed-loop speed control using the encoders.</p>

<p>2) The only sensor measurements you have available to you are encoders on the wheels, which cannot observe the absolute position of the robot, but can estimate the velocity (plus noise). Such an approach (without absolute measurements of position/orientation) is known as Dead Reckoning, and is subject to drift in the estimate as the robot continues to move. As such, if your path is infeasibly short (5-10cm), you could in theory achieve a 1mm accuracy, however moving another 5-10cm will increase your error further.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6497" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-6497">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6497">Load Comments</button></br>
			<div id = "commentsection-6497" class = 'collapse'>
			<div id = "comment-9359" class = "comment">
				<p>Any suggestion on how to get the dynamic model of each motor?</p>
			</div>
			</div>
				<textarea id = "speech-6497" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6497">
					<img id="start_img-6497" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6497">Comment</button>
			<br><div id = "ans-6499"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6499" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As Gouda mentioned, you cannot get any reasonable accuracy without knowing exactly how the control inputs translate to wheel movement. </p>

<p>This is a very hard problem: Imagine knowing only that approximately 6 volts are being applied to each motor, but not knowing anything about the efficiency of the motors in converting this to torque, the friction of the gears which translate that torque to the wheel, or the friction of the wheels and the floor in translating that torque to movement. This goes on an on. I have <em>never</em> heard of this working, or even being attempted. </p>

<p>Instead, encoders are used to measure the effect of the control inputs on the wheels, but counting how much the wheel rotates. This is called using odometry to estimate the path of the robot, and was answered <a href="https://robotics.stackexchange.com/a/134/163">here</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6499" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-6499">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6499" class = 'collapse'>
			</div>
				<textarea id = "speech-6499" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6499">
					<img id="start_img-6499" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6499">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>