<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>2.4GHz helicopter hack [Edited]
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11724" class = "post">
			<h2>Question</h2>
			<div id="vote-11724" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2.4GHz helicopter hack [Edited]</h2>
<p>I bought a little toy helicopter, namely the Revell Control 23982. After flying a few batteries I was wondering whether I could hack it in such a way, that my Arduino Uno can control/manipulate the signals from the transmitter to the receiver on board. However, to me it seems like I have big trouble getting started on the right path.
Can anyone spot out my mistakes?</p>

<h2>Hardware hack</h2>

<p>My first attempt was to bridge the potentiometers in the transmitter with the Arduino, this did not work at all. I think this is because the Arduino is using PWM and no true DC. Also I do not understand how the potentiometer (shown in the picture) works, where two of the three terminals are connected to each other.</p>

<p><a href="https://i.stack.imgur.com/4dLuU.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4dLuU.jpg" alt="Bottom side of PCB"></a><br>
NOTE: The soldered cable is a result of some unsuccessful hardware soldering.</p>

<h3>EDIT</h3>

<p>Here is further information according to @combos comment.</p>

<p><a href="https://i.stack.imgur.com/P3hZO.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/P3hZO.png" alt="Excerpt"></a>  </p>

<p>NOTE: The diagram is missing a connection between the line that connects all potentiometers and a 3v pin on the IC. Sorry for that.</p>

<p>This is a simple excerpt of the actual PCB, however, it should be the one which is important for my question. It is true that two terminals of the potentiometers are connected, and all the potentiometers are additionally soldered to ground via their housing. I was not able to find any information about the IC labelled "???". It contains the transmitter, that is clear.</p>

<p>A test with my multi-meter showed, that there is a maximum current flow of three volts on the single line of each potentiometer, and the connection between all of them is 3v consistent.</p>

<h2>Software hack</h2>

<p>My second attempt was trying to reverse engineer the 2.4GHz transmission via an nrf24l01 module, as some other people on the internet have been successful doing this with some other toys. I tried to scan the frequency bands, however with no successful outcome. I have no clue which transmitter module is being used on the board.</p>

<h2>TL;/DR;</h2>

<p>My questions:</p>

<ul>
<li>Is it even possible to achieve what I want?</li>
<li>If yes, what do I need to do?</li>
<li>If not, what did others do to achieve this kind of behaviour?</li>
<li>Which circuit do I need to convert digital PWM in analog? </li>
</ul>

<p>If you need any additional information please let me know!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11724" data-toggle = "popover">
				<p>user name : Teecup</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11724">{'radio-control': 1, 'None': -1, 'electronics': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11724">Load Comments</button></br>
			<div id = "commentsection-11724" class = 'collapse'>
			<div id = "comment-20925" class = "comment">
				<p>Yes I think replacing the remote with an arduino is possible, but I think you have some legwork to do.  I would start by drawing out a schematic of the remote control - it is a single-layer board so it should be pretty straightforward. Use a multimeter to get resistance/voltage values (especially for the potentiometers).  You can use PWM to replace a potentiometer, but you will want to use a capacitor to convert the digital signal into an analog one, and be sure to match the voltages which the potentiometer on the board gives.  If you post the schematic then we can give more specific advice :)</p>
			</div>
			<div id = "comment-20931" class = "comment">
				<p>@combo Thank you for your answer, I edited my question according to your recommendation. Hope you can help me more now!</p>
			</div>
			<div id = "comment-20934" class = "comment">
				<p>That's helpful! You have maximum voltages, the last pieces of the puzzle is to figure out whether you have an exponential or linear response, what the minimum value is, and whether the circuit cares about voltage or resistance.  Then you could either use a [pwm driven](https://provideyourown.com/2011/analogwrite-convert-pwm-to-voltage/) system or a [digital potentiometer](https://www.sparkfun.com/products/10613). Note that you will need to disconnect the current potentiometers, the simplest/least damaging way is probably to use a knife to cut the 3V lines to each of the potentiometers.</p>
			</div>
			<div id = "comment-20935" class = "comment">
				<p>Also since your RC controller is 3V, it's a good idea to use a 3V microcontroller (most arduinos are 5V).</p>
			</div>
			<div id = "comment-20936" class = "comment">
				<p>Thank you for your fast response! Could you explain to me where the PWM driven system needs to be connected? Wouldn't be desoldering the current potentiometers enough?</p>
			</div>
			<div id = "comment-20937" class = "comment">
				<p>Typically you want to control the voltage of the middle pin. Desoldering without destroying the parts tends can be tricky, but yes that would work too.</p>
			</div>
			<div id = "comment-20938" class = "comment">
				<p>Initially that was my thought too, but wouldn't that influence every other potentiometer on the board too, since all the middle pins are connected?</p>
			</div>
			<div id = "comment-20954" class = "comment">
				<p>I took a closer look at your board - it seems like the potentiometers are actually driving a _current_ rather than a voltage. I think you can get away with just using a digital potentiometer in parallel with the potentiometers on the board. You can test this by wiring up an analog potentiometer and seeing if you can control the copter using the new pot.</p>
			</div>
			<div id = "comment-21603" class = "comment">
				<p>On stack exchange, comments are not intended for extended discussions, for that use [chat], when you have [chat privileges](https://robotics.stackexchange.com/help/privileges/chat). Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. Comments should be considered ephemeral, any comment which no longer actively helps to improve a question or answer may be deleted at any time to *tidy up* a post.</p>
			</div>
			</div>
				<textarea id = "speech-11724" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11724">
					<img id="start_img-11724" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11724">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11745"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11745" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As @combo pointed out, the solution to my problem was that the potentiometers are driving <em>current</em> rather than voltage! I just connected another one in parallel and the hack was done. 
Thanks!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11745" data-toggle = "popover">
				<p>user name : Teecup</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11745">{'radio-control': 1, 'None': -1, 'electronics': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11745">Load Comments</button></br>
			<div id = "commentsection-11745" class = 'collapse'>
			<div id = "comment-21604" class = "comment">
				<p>Welcome to *Robotics* Teecup. While we are happy for people to answer their own questions, we are looking for comprehensive answers that provide some explanation and context. One or two line answers cannot do this, so please edit your answer to explain why it is right, ideally with citations. Also, since comments may be deleted at any time, answers which rely on the contents of comments could easily become useless, so please edit your answer to include all relevant information from combo's comments.</p>
			</div>
			</div>
				<textarea id = "speech-11745" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11745">
					<img id="start_img-11745" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11745">Comment</button>
			<br><div id = "ans-11965"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11965" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I guess this uses PWM (from what I understand from the question's description). Almost all standard flight-controllers use PWM values ranging from 1000 microseconds to 2000 microseconds refreshed at 50 Hz.
Regarding potentiometer, it is used to control voltage (and some people do use it to drive current; But, it has drawbacks which I'll discuss later). The Vin and the ground are the top and bottom pins while a <a href="https://en.wikipedia.org/wiki/Voltage_divider" rel="nofollow noreferrer">potential divider</a> circuit creates a potential (w.r.t ground) which is proportional to the variable resistance between Vout and ground while total resistance of both resistances remains same due to resistance strip. More info on Wikipedia: <a href="https://en.wikipedia.org/wiki/Potentiometer#Theory_of_operation" rel="nofollow noreferrer">https://en.wikipedia.org/wiki/Potentiometer#Theory_of_operation</a> and <a href="http://lmgtfy.com/?q=potentiometer" rel="nofollow noreferrer">http://lmgtfy.com/?q=potentiometer</a> .</p>

<p>Regarding the potentiometer, it is used because it is intuitive for us to use; We just use potentiometer angle as a measure of proportional linear actuation metric. (instead of 1 millisecond to 2 millisecond PWM train of 20 milliseconds as in standard OverrideRC methods which are counter-intuitive <a href="http://answers.ros.org/question/197109/how-does-mavros-rc-override-work/" rel="nofollow noreferrer">http://answers.ros.org/question/197109/how-does-mavros-rc-override-work/</a>) You can connect potentiometer to arduino or so and then use PWM as output of Arduino and input of flight controller. But, if you use this to <strong>drive</strong> current, then, the potential divider calculations must be done for <strong>three</strong> resistors including the load resistance and thus, this resistance in parallel causes a non-linear relation with the input potentiometer angle.</p>

<p>I would have probably answered better if I were to have known <strong>both</strong> sides of the PCB as I could not gather much info online apart from some vague description like <a href="https://www.amazon.fr/Revell-Control-23982-Commande-H%C3%A9licopt%C3%A8re/dp/B00E9S1G7K" rel="nofollow noreferrer">this one on Amazon</a>. +1 for the hack and attempt.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11965" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-11965">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11965" class = 'collapse'>
			</div>
				<textarea id = "speech-11965" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11965">
					<img id="start_img-11965" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11965">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>