<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>2011 Moderator Election - Town Hall Chat:  2am UTC on Wednesday ~ 9pm EST on Tuesday - now!
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-396" class = "post">
			<h2>Question</h2>
			<div id="vote-396" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 130</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2011 Moderator Election - Town Hall Chat:  2am UTC on Wednesday ~ 9pm EST on Tuesday - now!</h2>
<p>In connection with the moderator elections, we will be holding a Town Hall Chat session with the candidates.  This will be an opportunity for members of the community to pose questions to the candidates on the topic of moderation.  Participation is completely voluntary.  I am working with the candidates to find a time that allows the most participation.</p>

<p><strong>The Town Hall Chat will take place Wednesday the 2nd at 2am UTC, or 9pm EST <em>on the 1st.</em></strong></p>

<p><a href="http://www.timeanddate.com/worldclock/fixedtime.html?month=3&amp;day=2&amp;year=2011&amp;hour=2&amp;min=0&amp;sec=0&amp;p1=0" rel="nofollow">(view in other timezones)</a></p>

<p><a href="http://chat.stackexchange.com/rooms/322/ask-different-town-hall-chat">click here to join</a></p>

<p>Here are the details so far:</p>

<ul>
<li>I have coordinated with the candidates and done the best I could with a best fit match. <s>I would like to schedule this towards the beginning of the election phase, so I am looking at the 28th-3rd.  As soon as I coordinate with the existing moderators and candidates, I will edit this post with details on the "when".</s></li>
<li>The Town Hall Chat will be a one-hour event using our <a href="http://chat.stackexchange.com/?tab=site&amp;sort=active&amp;host=apple.stackexchange.com">chat platform</a>.  You can register for the event <a href="http://chat.stackexchange.com/rooms/info/322/ask-different-town-hall-chat?tab=schedule">here</a>.</li>
<li>The format will be an open discussion.  Users are encouraged to pose questions to the candidate regarding their thoughts on moderation.</li>
<li>After the chat session, the transcript and a summary will be available.</li>
</ul>

			</div>
			<div id = "userinfo-396" style = "float:right">
				<p>user name : Rebecca Chernoff</p>
				<p> user reputation : 173</p>
				<p> user tag wise history : {'None': 13, 'discussion': 8, 'election': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-396">Load Comments</button></br>
			<div id = "commentsection-396" class = 'collapse'>
			<div id = "comment-810" class = "comment">
				<p>And I completely missed on the calendar math for the day and now I'm a day late (but not a dollar short so things aren't all that bad). I was never good at calendar math. Ah, well...</p>
			</div>
			</div>
				<textarea id = "speech-396" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-396">
					<img id="start_img-396" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-396">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-398"  class = "post">
				<h2>Answer</h2>
			<div id="vote-398" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As with the other town hall chats, I will be creating a "digest" version for the Ask Different Town Hall Chat. This will be posted as one large Meta question. The digest will contain all the questions and their answers, with none of the other conversation from the room.</p>

<p>For more information, please see <a href="https://meta.stackexchange.com/questions/77831/how-can-we-improve-the-town-hall-digests">the meta post about Town Hall Digests</a>. Or for an example, look at the <a href="http://meta.askubuntu.com/questions/948/2011-moderator-election-town-hall-chat-digest">AskUbuntu Town Hall Digest</a> or the <a href="https://gaming.meta.stackexchange.com/q/1759/2252">Gaming Town Hall Digest</a>.</p>

<p>You can also discuss these digests with me in chat, in <a href="http://chat.meta.stackoverflow.com/rooms/352/town-hall-discussion">the Town Hall Discussion room</a>.</p>

<h3><a href="https://apple.meta.stackexchange.com/q/408/1521">Here is the Town Hall Digest</a></h3>
</p><br>
			</div>
			<div id = "userinfo-398" style = "float:right">
				<p>user name : Josh</p>
				<p> user reputation : 4457</p>
				<p> user tag wise history : {'None': 33, 'discussion': 4, 'election': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-398" class = 'collapse'>
			</div>
				<textarea id = "speech-398" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-398">
					<img id="start_img-398" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-398">Comment</button>
			<br><div id = "ans-401"  class = "post">
				<h2>Answer</h2>
			<div id="vote-401" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately the chat is at 4am local time for me. Should anyone have questions for me please feel free to @ me during the chat and I will respond when I log in during the morning.</p>
</p><br>
			</div>
			<div id = "userinfo-401" style = "float:right">
				<p>user name : BinaryMisfit</p>
				<p> user reputation : 5873</p>
				<p> user tag wise history : {'None': 57, 'tags': 3, 'discussion': 24, 'reputation': 17, 'questions': 3, 'editing': 3, 'site-promotion': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-401">Load Comments</button></br>
			<div id = "commentsection-401" class = 'collapse'>
			<div id = "comment-800" class = "comment">
				<p>Let me know when you answer any questions, I will include them in the digest.</p>
			</div>
			<div id = "comment-802" class = "comment">
				<p>@Josh. Done. I've answered all the questions in bold.</p>
			</div>
			</div>
				<textarea id = "speech-401" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-401">
					<img id="start_img-401" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-401">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>