<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>2017 Community Moderator Election Results
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3098" class = "post">
			<h2>Question</h2>
			<div id="vote-3098" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">24</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 161</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2017 Community Moderator Election Results</h2>
<p>Ask Different's <a href="https://apple.stackexchange.com/election/4">4th moderator election</a> has come to a close, the votes have been tallied, and the 3 new moderators are:</p>

<p><a href="https://apple.stackexchange.com/users/37797"><img src="https://apple.stackexchange.com/users/flair/37797.png" alt="grgarside"></a> <a href="https://apple.stackexchange.com/users/168832"><img src="https://apple.stackexchange.com/users/flair/168832.png" alt="Monomeeth"></a> <a href="https://apple.stackexchange.com/users/121968"><img src="https://apple.stackexchange.com/users/flair/121968.png" alt="Glorfindel"></a> </p>

<p>They'll be joining <a href="https://apple.stackexchange.com/users?tab=moderators">the existing crew</a> shortly   please thank them for volunteering, and share your assistance and advice with them as they learn the ropes!</p>

<p>For details on how the voting played out, you can download the election results <a href="https://apple.stackexchange.com/election/4">here</a>, or <a href="https://www.opavote.com/results/5636392960917504/0" rel="nofollow noreferrer">view a summary report online</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3098" data-toggle = "popover">
				<p>user name : Shog9</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-3098">{'None': 39, 'discussion': 35, 'election': 35}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3098">Load Comments</button></br>
			<div id = "commentsection-3098" class = 'collapse'>
			<div id = "comment-6652" class = "comment">
				<p>Thanks to everyone who voted making this the highest turnout for any Ask Different election! Congratulations to the new moderators and I look forward to continue working with you all over the coming years.</p>
			</div>
			<div id = "comment-6653" class = "comment">
				<p>Thank you all for your confidence! I'm happy to be part of the team and I'm looking forward to moderate the site together with you *and* all the non-  users. A special thought goes out to Jackson, who made the election possible, and I'm sure he will continue to be a valuable member of this community.</p>
			</div>
			<div id = "comment-6654" class = "comment">
				<p>Awesome, guys! Thanks for volunteering and welcome aboard!</p>
			</div>
			<div id = "comment-6658" class = "comment">
				<p>Congratulations to everyone who nominated and/or voted. Your involvement and engagement is what helps make this site what it is! :) Congratulations also to grgarside and Glorfindel for their election. As for me personally, this is an honour and a privilege and I promise to give it my best, to engage all users, and to learn from whatever mistakes I make along the way. Let's work together to make Ask Different even better than what it already is! :)</p>
			</div>
			<div id = "comment-6659" class = "comment">
				<p>Thanks for volunteering your time and good luck to you all! :)</p>
			</div>
			<div id = "comment-6660" class = "comment">
				<p>Congratulations to all our new 'diamond geezers' ! :)</p>
			</div>
			<div id = "comment-6662" class = "comment">
				<p>Congrats everyone!</p>
			</div>
			</div>
				<textarea id = "speech-3098" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3098">
					<img id="start_img-3098" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3098">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>