<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>24v dc to 12vdc converter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2594" class = "post">
			<h2>Question</h2>
			<div id="vote-2594" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 138</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>24v dc to 12vdc converter</h2>
<p>I have built a r/c car that runs on 2 30AH 12V DC deep cycle batteries. The motors are 24v motors that will each draw around 15A at full power. My  motor controller can handle this, as well as reclaiming braking energy. </p>

<p>This is my way of saying that i have a 24v power system. Now my issue is that I want to run a 12v device on this 24v service. I do not want to have the hassle of another battery to maintain so i would like to power it off the main batteries. All the BECs and other converters that i have found only supply around 1 amp while the device i am looking at powering will take around 4-5A 12v DC. Does anyone know of a device that will do this.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2594" data-toggle = "popover">
				<p>user name : sww1235</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-2594">{'bec': 3, 'None': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2594">Load Comments</button></br>
			<div id = "commentsection-2594" class = 'collapse'>
			<div id = "comment-4938" class = "comment">
				<p>Could you clarify a bit? If you have 2 x 12V batteries to give a 24V system then you already have a 12V supply on board which you can use. Or is the question really to do with finding a 5A 12V BEC?</p>
			</div>
			<div id = "comment-4952" class = "comment">
				<p>https://www.google.com/search?q=dc+to+dc+24v+to+12v I get an ad from Vicor on top.  Vicor is one of the major DC to DC convertor vendors.  There are just about endless options.</p>
			</div>
			<div id = "comment-4953" class = "comment">
				<p>For example: http://www.vicorpower.com/documents/datasheets/ds_24vin-micro-family.pdf different modules up to 12.5A 12VDC output...</p>
			</div>
			<div id = "comment-5028" class = "comment">
				<p>the vicor ones look good. I will take a look at finding a distributor and seeing how much they cost</p>
			</div>
			</div>
				<textarea id = "speech-2594" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2594">
					<img id="start_img-2594" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2594">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2616"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2616" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you already have two separate 12V batteries then it makes no sense to convert 24V down to 12V which you already have. As the two of your batteries are coupled together to form 24V, just draw a wire from the place where the two batteries meet and you'll have 12V there (with respect to the ground).</p>

<p>If by some strange reason you really want to convert those 24V to 12V, take a look at some switch-mode power supplies (like LM2576, it can output 3A but there are better ones, you should have no problem finding them), they are more efficient than linear voltage regulators (like 7805) and can give higher output current.</p>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2616" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2616">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2616">Load Comments</button></br>
			<div id = "commentsection-2616" class = 'collapse'>
			<div id = "comment-4951" class = "comment">
				<p>do you have any links to those switching mode power supplies. The reason I want to convert 24 to 12v is to keep the drain on both batteries constant.</p>
			</div>
			<div id = "comment-4957" class = "comment">
				<p>http://www.ti.com/lit/ds/symlink/lm2576.pdf Here is the datasheet of the one I mentioned. It gives you 3A output current, so you can either take two of them and connect them in parallel or find a similar one which gives you a higher current on their own. These are highly efficient (over 95% efficiency) as they use PWM to lower the voltage instead of heat dissipation like linear voltage regulators do.</p>
			</div>
			<div id = "comment-4959" class = "comment">
				<p>Be careful putting voltage regulators in parallel. Each reg will have a slightly different output and the loads will not be balanced. The reg with the higher output will end up working at maximum capacity and the lower lower output reg will pick up the excess demand. At the very least there will be an imbalance in the load on the regulators, potentially this could lead to the failure of one component.

It might be fine as I've never tried it (having been warned off) but it's a consideration</p>
			</div>
			<div id = "comment-5029" class = "comment">
				<p>these look good. I will take a look at finding a distributor and seeing how much they cost. I think i saw, from my brief look at the data sheet that they come in a higher amperage version, so I will check these out. Thanks everyone</p>
			</div>
			</div>
				<textarea id = "speech-2616" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2616">
					<img id="start_img-2616" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2616">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>