<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>2D Map representation of GPS coordinates in degrees
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2701" class = "post">
			<h2>Question</h2>
			<div id="vote-2701" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 306</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2D Map representation of GPS coordinates in degrees</h2>
<p>I want to implement my own GPS navigation for a quad-copter.
I can calculate and filter the GPS coordinates (latitude and longitude in degrees). </p>

<p>I believe the easiest approach for me would be, to calculate the change of the heading of the quad-copter from the current attitude to the destination point and let it fly straight on after turning. </p>

<p>However I am not sure about the 2D representation of the latitude/longitude-GPS coordinates (for a round earth to a 2D map system when calculating the heading change). How big is the expected error? Or is there none?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2701" data-toggle = "popover">
				<p>user name : dgrat</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-2701">{'quadcopter': 14, 'magnetometer': 1, 'None': 0, 'ardupilot': 4, 'orientation': 0, 'accelerometer': 4, 'arduino': 2, 'multi-rotor': 7, 'c++': 1, 'mavlink': 1, 'calibration': 1, 'compass': 1, 'sensors': 5, 'navigation': 3, 'gyroscope': 1, 'gps': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2701">Load Comments</button></br>
			<div id = "commentsection-2701" class = 'collapse'>
			<div id = "comment-5068" class = "comment">
				<p>Have a look at [world geodetic systems](http://en.wikipedia.org/wiki/World_Geodetic_System) (especially WGS84). Also, on a somewhat related note, you can use [USGS's earth explorer portal](http://earthexplorer.usgs.gov/) to download anything from satellite imagery to digital elevation models (free registration required though).</p>
			</div>
			</div>
				<textarea id = "speech-2701" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2701">
					<img id="start_img-2701" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2701">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2703"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2703" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If the expected range of your quadcopter's journeys is under 10 miles, the error between spherical and flat geometry is less than the GPS's poistion error...assuming you are using normal GPS, not dGPS. As a rough rule of thumb, 2D mapping works to the horizon!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2703" data-toggle = "popover">
				<p>user name : Mhz4.77</p>
				<p> user reputation : 475</p>
				<p class = "tagcontent" id = "usertaginfo-2703">{'None': 30}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2703">Load Comments</button></br>
			<div id = "commentsection-2703" class = 'collapse'>
			<div id = "comment-5069" class = "comment">
				<p>Very interesting way of thinking about GPS errors and errors induced when converting between spherical/flat. Could you however perhaps elaborate a bit more on what you mean by 2D mapping works to the horizon.</p>
			</div>
			<div id = "comment-5075" class = "comment">
				<p>I was just asking this question myself yesterday and was thinking how to calculate the error.</p>
			</div>
			<div id = "comment-5077" class = "comment">
				<p>Sorry, the horizon remark was in the nature of a joke: the horizon is 'visible' because its where the curvature of the earth has become 'visible'</p>
			</div>
			<div id = "comment-5091" class = "comment">
				<p>I believe this page covers the problems and answers in much greater detail than I ever could: http://www.cs.nyu.edu/visual/home/proj/tiger/gisfaq.html In particular, note Bob Chamberlain's message on range errors part way down the page.</p>
			</div>
			</div>
				<textarea id = "speech-2703" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2703">
					<img id="start_img-2703" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2703">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>