<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>2D Robot Motion
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8758" class = "post">
			<h2>Question</h2>
			<div id="vote-8758" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 95</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2D Robot Motion</h2>
<p>Good day,</p>

<p>I have a robot with an IMU that tells Yaw Rate, and Magnetic heading. It also tells Xvelocity and YVelocity at that instance of the vehicle, on the vehicle frame. (So irrespective of heading, if the robot moved forward, yvelocity would change for example)</p>

<p>Assuming my robot starts at position (0,0) and Heading based on the Magnetic heading, I need to calculate the next position of the robot based on some world frame. How can I do this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8758" data-toggle = "popover">
				<p>user name : raaj</p>
				<p> user reputation : 134</p>
				<p class = "tagcontent" id = "usertaginfo-8758">{'None': 0, 'robotic-arm': 1, 'slam': 3, 'sensor-fusion': 1, 'kalman-filter': 1, 'mobile-robot': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8758" class = 'collapse'>
			</div>
				<textarea id = "speech-8758" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8758">
					<img id="start_img-8758" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8758">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8760"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8760" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use the basic formula's:</p>

<p>$x_t = x_0+v_x*t+\frac{1}{2}*a_x*t^2$</p>

<p>$y_t = y_0+v_y*t+\frac{1}{2}*a_y*t^2$</p>

<p>This way you can calculate all your $x$ and $y$ positions as long as your time steps are small enough so $v$ and $a$ don't change too much during each time step.</p>

<hr>

<p>Edit:</p>

<p>Since the magnetic heading ($\theta$) is known from the sensor, the values for $v_x$ and $v_y$ can be calculated:</p>

<p>$v_x = v_1*cos(\theta) +v_2*sin(\theta)$</p>

<p>$v_y = v_2*cos(\theta) -v_1*sin(\theta)$</p>

<p>In which $v_1$ is x-direction of your robot frame, $v_2$ is y-direction of your robot frame. $v_x$ is x-direction in world frame, $v_y$ is y-direction in world frame.</p>

<hr>

<p>Edit 2:</p>

<p>If your sensor outputs angular velocity instead of magnetic heading, you can calculate the heading like it is an angular position, so in the same way you would calculate position:</p>

<p>$\theta_t = \theta_0 + \dot{\theta}*t+\frac{1}{2}*\ddot{\theta}*t^2$</p>

<p>Here $\theta_0$ is your heading at the start (this should be known). $\dot{\theta}$ is your angular velocity and $\ddot{\theta}$ is your angular acceleration.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8760" data-toggle = "popover">
				<p>user name : DrDonut</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-8760">{'control': 1, 'None': 6, 'algorithm': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8760">Load Comments</button></br>
			<div id = "commentsection-8760" class = 'collapse'>
			<div id = "comment-14341" class = "comment">
				<p>I need to incorporate the angular rotation</p>
			</div>
			<div id = "comment-14342" class = "comment">
				<p>ok, thats a good start, but..one small thing. There are instances where my sensor doesnt output magnetic heading, but it outputs the angular velocity instead. how can i incorporate that into my equation?</p>
			</div>
			<div id = "comment-14449" class = "comment">
				<p>Shouldn't the calculation of $v_y$ have its $v_1$ component multiplied by **negative** $sin(\theta)$?</p>
			</div>
			<div id = "comment-14455" class = "comment">
				<p>You're right, changed the formula. Also, thanks for the formatting!</p>
			</div>
			<div id = "comment-14461" class = "comment">
				<p>@DrDonut, sure! Take a minute to learn the basics of tex math though, it's very useful. Also, no big deal, but I liked the previous order of expressions for $v_y$, because you could more easily see the underlying rotation-matrix-multiplication. I guess I'm writing this more for future visitors to understand where those formulas came from.</p>
			</div>
			</div>
				<textarea id = "speech-8760" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8760">
					<img id="start_img-8760" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8760">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>