<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>2DOF arm with quick movement: Stepper, servo, or DC motor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10755" class = "post">
			<h2>Question</h2>
			<div id="vote-10755" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 620</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2DOF arm with quick movement: Stepper, servo, or DC motor?</h2>
<p>To make a two degree of freedom arm capable of speeds needed to play <a href="https://en.wikipedia.org/wiki/Air_hockey" rel="nofollow noreferrer">air hockey</a>, how should the arm be controlled? I'm wondering about speed vs accuracy.</p>

<p>The following image is from a <a href="http://2dofpenplotter.blogspot.com/2014/02/2-dof-articulated-pen-plotter-beng.html#more" rel="nofollow noreferrer">project involving a 2DOF drawing arm</a>:
<a href="https://i.stack.imgur.com/Me3Yp.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Me3Yp.png" alt="enter image description here"></a></p>

<p>For this air hockey project, the general mechanics of that arm seem appropriate. it can move the "hand" around a 2D plane. I also like how both motors are at the base of the arm, instead of having the 2nd motor at the elbow (which adds weight to the arm and slows it).<br>
However, the drawing robot is slow. </p>

<ul>
<li><p>Steppers:<br>
I understand that in general, steppers are 'slow'.<br>
But, steppers have accurate positioning, which is very important in a game of air hockey. I also know that the steppers can be geared-up, but then they lose torque. The steppers would need to handle the inertia of quick, back-and-forth arm movement.</p></li>
<li><p>Hobby servos:<br>
I've used <a href="https://en.wikipedia.org/wiki/Servo_(radio_control)" rel="nofollow noreferrer">small servos</a> for other projects, but the accuracy was poor. Most don't have a way to read the angle externally, and those that do, have noisy signals. I'm not sure how strong the hobby servos are, and if they can be accurate enough for this project. I understand that using <a href="http://www.robotplatform.com/knowledge/servo/servo_faq.html" rel="nofollow noreferrer">digital servos improve dead band issues</a>.</p></li>
<li><p>DC motors with external feedback:<br>
The only other method I can think of for controlling the arm would be to use DC motors with sensors like as <a href="https://en.wikipedia.org/wiki/Rotary_encoder" rel="nofollow noreferrer">rotary encoders</a>. I think I would need an <a href="https://en.wikipedia.org/wiki/Rotary_encoder#Absolute_rotary_encoder" rel="nofollow noreferrer"><em>absolute</em> rotary encoder</a>.  But they seem to be around \$50-$1000, which is a bit much for a solution I'm not sure will even work out. Perhaps there are cheaper solutions to motor angle measurement. I could just use a potentiometer, but then I'm worried about noise again.</p></li>
</ul>

<p>It's worth noting that I don't know of any easy or affordable way to design my own drivetrain. All I have is a drill, and I don't know how I would mount shafts/bearings and such, even if the gears themselves were affordable.<br>
This means that if I need to gear-up or down, I don't think I can unless it's cheap and involves simple tools.</p>

<p>So for the arm: DC motors with external feedback, servos, steppers, something else?...<br>
Which method would be the best in terms of speed, and which for accuracy? I'm wondering which would cost less as well, but I understand that is a grey area.</p>

<p>I'm leaning towards servos out of simplicity. I'm may try digital servos with ball-bearings, in the hope they that will move quick enough, but be strong enough to handle the inertia of the arm.</p>

<p>(Note that a 2DOF arm is desired, and not something else like a 3D-printer x-y belt system.)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10755" data-toggle = "popover">
				<p>user name : Bort</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-10755">{'None': 0, 'motor': 4, 'kinematics': 4, 'robotic-arm': 4, 'stepper-motor': 4, 'servos': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10755">Load Comments</button></br>
			<div id = "commentsection-10755" class = 'collapse'>
			<div id = "comment-19371" class = "comment">
				<p>The servos you used are more general and are poorly manufactured. Try full rotation metal geared servos that come with higher speed.</p>
			</div>
			</div>
				<textarea id = "speech-10755" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10755">
					<img id="start_img-10755" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10755">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10760"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10760" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Servo mechanisms are not the "popular" RC-Servos (not-only). Servo is a closed-loop control, not only for motors. Even Steppers could or not be servo-motors. RC-servos are in major cases a DC brushed motor, with reduction gear and a potentiometer for position feedback, and electronic control.</p>

<p>This is a common RC Servo. The fact that it has no ball bearings does not
directly to bad precision, there's plenty of high precision products that don't use ball bearings, they are better lubricated and more strong.</p>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Disassembled_RC_servomechanism.jpg/214px-Disassembled_RC_servomechanism.jpg" alt="RC Servo motor"></p>

<p><sup>By Gophi (Own work) [GFDL (<a href="http://www.gnu.org/copyleft/fdl.html" rel="nofollow">http://www.gnu.org/copyleft/fdl.html</a>) or CC BY-SA 4.0-3.0-2.5-2.0-1.0 (<a href="http://creativecommons.org/licenses/by-sa/4.0-3.0-2.5-2.0-1.0)]" rel="nofollow">http://creativecommons.org/licenses/by-sa/4.0-3.0-2.5-2.0-1.0)]</a>, via Wikimedia Commons</sup></p>

<p>So you can use a <em>DC brushed, brush-less, steeper motor, AC induction motor, and still add servo-mechanism (closed loop)</em>.</p>

<hr>

<p>But what is common for staring designer on robotic arms, is a big interest in motor and actuators, and a low research on the mechanic itself. <em>If the structure is much flexible</em>, using high precision actuators would not help so much.</p>

<p>So you need to design the arm itself to be strong under the weight, forces, acceleration and deceleration (be it or not with ball bearing), and then with the dimensions, you can start selecting the actuators.</p>

<p>Rought speaking, the bigger the number of poles, the more torque the motor will have and less the speed (this is very variable). The question is, if the motor is directing driving the arm you would want high-torque and less speed. If you gearing, you can use a low pole, high-speed, medium to high torque motor, and have the gearbox match the speed and torque for your application.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10760" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-10760">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10760">Load Comments</button></br>
			<div id = "commentsection-10760" class = 'collapse'>
			<div id = "comment-19410" class = "comment">
				<p>"If the structure is much flexible, using high precision actuators would not help so much." Choose your words carefully. In robotics, there are plenty of flexible mechanisms and structures driven by high quality motors (some series elastic actuators are examples). It's often hysteresis, backlash and other badly modellable non-linear friction effects that ruin precision, not simply "flexibility".</p>
			</div>
			<div id = "comment-19411" class = "comment">
				<p>Sure, it's not my native language, but I think it's clear for the less complex option of the question.</p>
			</div>
			</div>
				<textarea id = "speech-10760" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10760">
					<img id="start_img-10760" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10760">Comment</button>
			<br><div id = "ans-10794"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10794" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Servos don't really have the punch power I think you are looking for, you mentioned stepper motors being geared up but low torque - there are many steppers available that do exactly the opposite e.g. high RPM internally but thanks to a gear head fitted directly to the motor cylinder the actual drive shaft has a much lower RPM with high torque.  You haven't mentioned if the arm is just to go from point A to point B or you want it to be fully articulated and controllable similar to the drawing arm in your diagram and you also have not mentioned your control device e.g. is it computer controlled or manual (such as a joystick). You also have not mentioned the most obvious choice for arm control which is pneumatic, have you ruled this out for a specific reason?  Finally, does it have to be an arm or just a mechanism to hit the puck as you could use simple x/y axis control e.g. left/right backward/forward this is the type of mechanism you would find in a plotter printer or controlling the crane arm in those arcade machines where you have to grab the toy!  a servo where X &amp; Y meet could control the angle of the surface that hits the puck giving even more control and accuracy.  If you come back to me with more specific requirements I'll try and give a more specific answer!  Good luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10794" data-toggle = "popover">
				<p>user name : Lee Wilson</p>
				<p> user reputation : 9</p>
				<p class = "tagcontent" id = "usertaginfo-10794">{'control': 2, 'wireless': 2, 'None': -1, 'circuit': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10794">Load Comments</button></br>
			<div id = "commentsection-10794" class = 'collapse'>
			<div id = "comment-19421" class = "comment">
				<p>Hello and welcome to Stackexchange. As a heads up, this is a Q&A site, not a forum. Discussion is not encouraged unless it is to clarify Q&As (though it's okay in the chat rooms). I asked this question because I'm not sure about the trade off for RPM vs torque, both are important. Good point though about the path of movement. Also, I didn't mention the control being via joystick or computer because they are really the same thing. I don't see that being relevant to the choice of motor. Also note that the very last sentence of my question states that I do not want an X/Y belt system!</p>
			</div>
			<div id = "comment-19430" class = "comment">
				<p>"*Servos don't really have the punch power*" that's not true in general at all. Servos come in various different sizes and strengths. As feedback and a closed control loop is likely necessary for the task in question, chances are the solution will effectively always be a servo motor in one way or another.</p>
			</div>
			</div>
				<textarea id = "speech-10794" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10794">
					<img id="start_img-10794" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10794">Comment</button>
			<br><div id = "ans-11767"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11767" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>any times when people say "servo motor" they are talking about the model airplane style square black plastic box.   That is not what you want here.   You would be looking at the industrial type servo.  These are larger sized DC motors when optical encoders on the motor shaft.</p>

<p>You do NOT need absolute position sensors.  All you need is a quadrature sensor and you keep count of the "ticks" in each direction.   At some place in th system there is a "home" switch.  On power on you slowly move until the home switch is tripped then the count is reset to zero.   From there you count.  As long as you don't miss a coubtthe position is accurate.</p>

<p>Cost can be nearly zero if you salvage parts from broken ink jet printers or copy machines.   They are a good source of encoders, and optical limit switches and motors and gears.   Old inline skates are a good source of ball bearings.  Can make arms from wood.</p>

<p>Path planning is th hardest part of the controller.   You need to accelerate the motors and arms so that the X motor and Y motor each reach their target position and velocity at eat same time.  Typically this solution is re-computed using feedback many times per second.</p>

<p>A good drive system if you can't use gears or timing belts is to wrap kevlar cord or steel cable around a driven drum then around a second drum and then connect the ends of the cord with a spring.   As long as you keep the spring between the drums </p>

<p>Also for air hockey 2 DOF is not enough.  You You need to control the X, Y position and also the ANGLE of the paddle.  Unless you are using a disk shaped paddle like hitting a puck with a puck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11767" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-11767">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11767" class = 'collapse'>
			</div>
				<textarea id = "speech-11767" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11767">
					<img id="start_img-11767" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11767">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>