<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>2Nm small motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7315" class = "post">
			<h2>Question</h2>
			<div id="vote-7315" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 216</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>2Nm small motor</h2>
<p>Currently designing a spherical wrist, I want to manipulate a 300gr payload.
the design has a 200mm span, so I'm guessing at a 1.1Nm (considering the weight of structure &amp; motors).
<img src="https://i.stack.imgur.com/WTicB.png" alt="spherical wrist"></p>

<p>I've looked at Maxon, Faulhaber, but can't find any motor+gearbox+encoder under a 100gr.
Any suggestion ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7315" data-toggle = "popover">
				<p>user name : nairyo</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-7315">{'actuator': 1, 'None': 0, 'torque': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7315" class = 'collapse'>
			</div>
				<textarea id = "speech-7315" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7315">
					<img id="start_img-7315" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7315">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7325"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7325" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use a servomotor like some Dynamixal, the MX 28AR meets your listed requirements pretty good.
More then 2Nm torque with 77g weight.</p>

<p>There are other models from dynamixal or other suppliers.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7325" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-7325">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7325" class = 'collapse'>
			</div>
				<textarea id = "speech-7325" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7325">
					<img id="start_img-7325" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7325">Comment</button>
			<br><div id = "ans-7328"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7328" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>First</h1>

<p>I would like to caution your choice of motor torque. I don't know how you generated the drawing of your wrist, but CAD packages like Inventor or Solidworks can easily generate masses and moments of inertia if you select the correct material. </p>

<p>For looking solely at <em>holding</em> torque, the torque required to <strong>not move</strong>, you need a torque that supports the load's weight at the distance from the joint to the center of mass of the load as well as the arm's weight between the joint and the load (and associated motors, gearboxes, etc.) at the distance from the joint to the center of mass of the arm.</p>

<p>$$
\tau_{holding} = x_{center.of.mass_{load}} (m_{load} g) + x_{center.of.mass_{arm}} (m_{arm} g)
$$</p>

<p>where $\tau_{holding}$ is the holding torque, in Nm, $x$ is the distance from the joint axis to the respective center of mass, <strong>in meters</strong>, $m$ is the mass of the respective component, <strong>in kg</strong>, and $g$ is the gravitational constant; $9.81 m/s^2$. </p>

<p>The <em>accelerating</em> torque, or torque required to <strong>move</strong> your part, depends on the moment of inertia. If you're not actuating at the center of mass of both the arm and the load (you're not; you can't!) then you need the parallel axis theorem to find the moment of inertia at the joint. </p>

<p>$$
I_{end.effector} = I_{load} + m_{load} x^2_{center.of.mass_{load}} + I_{arm} + m_{arm} x^2_{center.of.mass_{arm}}
$$</p>

<p>where inertias $I$ are in $kg-m^2$, and again, $m$ is in kg and $x$ is in meters. :EDIT: When I say end effector here, I'm referring to the everything after the wrist joint, up to and including the load. When I talk about the "arm" in this context, I mean all of the robot after the wrist joint, excluding the load. The center of mass of the 'arm' is the center of mass of the linkage(s) between the wrist joint and the load. :\EDIT:</p>

<p>The torque required to accelerate the load is then given by:</p>

<p>$$
\tau_{accelerating} = I_{end.effector} \alpha_{desired}
$$</p>

<p>where torque $\tau$ is in Nm and angular acceleration $\alpha$ is in <strong>$rad/s$</strong>.</p>

<p>If you don't care about a particular acceleration you can rearrange the above equation to determine what your acceleration will be, given a particular moment of inertia and motor torque:</p>

<p>$$ 
\alpha_{achievable} = \frac{\tau_{motor}}{I_{end.effector}}
$$</p>

<p>If your end effector (the robot arm between the wrist and the load) had no moment of inertia through its center of mass (it was just a point mass), the moment of inertia through the wrist joint would reduce to $mx^2$. This is also true of the load. However, because it and the load are both real objects, they will have size, which also implies they will have a nonzero moment of inertia through their centers of mass. </p>

<p>All of this is to say, <em>if you don't account for moments of inertia, you may find that your wrist is incapable of accelerating your load</em>. If it can't accelerate, it won't be able to position well if at all. </p>

<h1>Second</h1>

<p>I would like to caution your choice of units. 'gr' is the symbol for <em>grain</em>, which is a unit of mass, like gram, but one grain is equal to approximately 0.065 grams. If you mean gram, 'g' is the (SI) symbol you should use. If you would like to avoid confusion between the gram symbol and the gravitational constant, you should use kilograms instead 'kg'. </p>

<p>Most equations are predicated on SI base units, which means kilograms and meters, not grams and millimeters. If you would like to express precision to the millimeter or gram level, use trailing zeros as trailing zeros after a decimal are considered <a href="http://en.wikipedia.org/wiki/Significant_figures" rel="nofollow">significant figures</a>.</p>

<h1>Third</h1>

<p>To your question, I would suggest using servomotors for positioning unless you need to have positive feedback that you have reached your destination or unless you're trying to do some form of external PID control on the joint. </p>

<p>Note that all servos run on some sort of internal PID control with internal position feedback. You don't get access to their position encoder (potentiometer, typically), but they DO run closed-loop and can be expected to reach the position you've requested <strong>provided they have sufficient torque, see the First note above</strong>. </p>

<p>If you DO need position feedback (CNC quality control or something else), you could search <a href="http://www.digikey.com/product-search/en/sensors-transducers/encoders/1966131?stock=1" rel="nofollow">Digikey</a> for encoders to get exactly what you need or you could search for 'rotary encoders' online. I have experience with rotary encoders for larger applications, but at a glance the miniature offerings from <a href="http://www.nemicon.com/hollow.htm" rel="nofollow">Nemicon</a> and <a href="http://www.usdigital.com/products/encoders" rel="nofollow">US Digital</a> look nice. </p>

<p>If you are looking specifically for a gearbox and motor (search: gearmotor), then <a href="https://www.pololu.com/category/22/motors-and-gearboxes" rel="nofollow">Pololu</a> has some nice miniature offerings. </p>

<p>As a final note, I'm not affiliated with any of the companies I've linked to. I have offered them as examples of what you may be interested in and what they're called; sometimes the hardest part of finding something is figuring out what to put into the search box.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7328" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7328">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7328">Load Comments</button></br>
			<div id = "commentsection-7328" class = 'collapse'>
			<div id = "comment-10476" class = "comment">
				<p>Thanks for your reply, 
in your I_endEffector I don't understand the difference between Iload and mLoad + distance^2 isnt't it the same ?
Same for Acceleration Torque , the desired acceleration is in rad/s^2 right ?</p>
			</div>
			<div id = "comment-10489" class = "comment">
				<p>Shape matters as much as mass when it comes to evaluating loads. Get a broom stick, hold it at one end, and try these experiments: 1 - holding it at one end, using only your wrist, try to move it up and down as quickly as you can in a "chopping" motion. 2 - again, holding at one end, using only your wrist, try twisting it as quickly as you can, like using a doorknob. You will find 2 to be much easier, even though the mass of the broom doesn't change. The moment of inertia takes into account the *distribution* of mass.</p>
			</div>
			<div id = "comment-10490" class = "comment">
				<p>#1 is the image on the right (holding at the end), #2 is the image on the left. 

http://tinyurl.com/kahdbj4

So, as I said, based on the *shape* of the load, the inertia will vary where the mass does not. Once you find the inertia of the load, which you typically find through the center of mass, you need to use the parallel axis theorem to account for the fact that you're (probably) not manipulating the load through its center of mass.</p>
			</div>
			</div>
				<textarea id = "speech-7328" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7328">
					<img id="start_img-7328" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7328">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>