<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>3 way check valve
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9256" class = "post">
			<h2>Question</h2>
			<div id="vote-9256" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 133</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>3 way check valve</h2>
<p>I am working on a micro dispensing system, using syringe pump. The design involves a syringe on top to be moved by stepper motor. There would be one liquid reservoir form which the syringe would pull liquid from, and push it to eject liquid from other end. </p>

<p>When we pull the syringe, the liquid is sucked into the syringe, while the other opening is shut. When the syringe is pushed, the liquid is ejected from the other end.</p>

<p>The quantity of liquid to be dispensed would be very small (400mg) so i am using small syringe of 1 or 2 ml .. as per my measurement, after every 100 dispensing operations, 1 ml syringe would be empty and we would need to pull liquid from the reservoir into the syringe, and do the dispensing again. </p>

<p>My question is, I am unsure about the check valve here. Is there a 'Single' check valve available which would allow this kind of flow to happen ?<a href="https://i.stack.imgur.com/TWKZy.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/TWKZy.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9256" data-toggle = "popover">
				<p>user name : Muzammil</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-9256">{'None': 0, 'design': 0, 'motor': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9256" class = 'collapse'>
			</div>
				<textarea id = "speech-9256" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9256">
					<img id="start_img-9256" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9256">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9257"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9257" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The <a href="http://www.syringepump.com/syringes%20and%20plumbing%20supplies.php#ee" rel="nofollow">dual check valve here</a> should work. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9257" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9257">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9257" class = 'collapse'>
			</div>
				<textarea id = "speech-9257" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9257">
					<img id="start_img-9257" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9257">Comment</button>
			<br><div id = "ans-9258"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9258" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Two comments:</p>

<p>One, you don't need a double/dual check valve; one on the inlet line and one on the outlet would work. See the image below. You haven't explained why two distinct check valves are less desirable than an all-in-one solution, so I'm suggesting it in the event it was overlooked. </p>

<p>Two, I'm not sure how your measurements add up. You state, </p>

<blockquote>
  <p>"The quantity of liquid to be dispensed would be very small (400mg)" </p>
</blockquote>

<p>and then later you state</p>

<blockquote>
  <p>after every 100 dispensing operations, 1 ml syringe would be empty.</p>
</blockquote>

<p>Assuming the dispensing liquid is anywhere close to water, it will have a density of approximately 1g/cm3, or 1g/mL. So, a 400mg dispensing quantity means your 1mL syringe is empty after 2.5 doses. If you're going to get 100 doses of 400mg in a 1mL syringe, then that means that you've got 100*400 = 40,000mg, or 40g, in the 1mL syringe. That's 40g/mL, or about <a href="https://en.wikipedia.org/wiki/Lead" rel="nofollow noreferrer">four times the density of lead</a>. </p>

<p><a href="https://i.stack.imgur.com/UMgJt.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UMgJt.png" alt="Two check valves"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9258" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9258">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9258">Load Comments</button></br>
			<div id = "commentsection-9258" class = 'collapse'>
			<div id = "comment-16390" class = "comment">
				<p>1. the liquid to be dispensed is mercury ...
2. I haven't checked but as the outlet of liquid would be small, I am guessing would there be any issues of error in filling by multiple check valves? Furthermore, which kind of check valves be implemented .. size wise ? Everytime we'd have to dispense around 29uL ..</p>
			</div>
			<div id = "comment-16394" class = "comment">
				<p>@Muzammil - They would have to be small enough that the pressure required to lift the valve internals wouldn't over-discharge. I think you may find precise dosing of quantities that small through check valves to be difficult. 29uL is very small (but still - 100 doses of 0.029mL is still almost 3mL). Have you considered maybe using a [peristaltic pump](https://en.wikipedia.org/wiki/Peristaltic_pump) instead of what you're trying to design, which is effectively a very small [reciprocating positive displacement pump](https://www.youtube.com/watch?v=kKpESDDJQso)?</p>
			</div>
			<div id = "comment-16395" class = "comment">
				<p>Also, I believe peristaltic pumps are currently what is in use in the medical field for [precision dosing of IV drugs](http://www.medicalexpo.com/prod/iradimed-corporation/product-81492-546747.html), and apparently also for [aquarium chemistry maintenance](https://www.youtube.com/watch?v=TXrf9oC6VOw).</p>
			</div>
			<div id = "comment-16396" class = "comment">
				<p>I actually considered those pumps .. but was worried about two factors .. 1 would peristaltic pump be that precise .. secondly .. IV drugs aren't usually that dense .. would peristaltic pump be able to drive a dense liquid like mercury without a huge error .. (small error margin are ofcourse acceptable)</p>
			</div>
			<div id = "comment-16406" class = "comment">
				<p>@Muzammil - I guess it depends on how quickly you want an accurate dose, though this would apply to any dispensing mechanism. The literature I read makes it seem like 1mL/hr is the lowest dose rate the IV machines will go, which means it would dispense 29uL in (29/1000) of an hour, or about 104 seconds. You could get faster dosing by using higher flow rates, but then fluid inertia might carry extra out of the tube.</p>
			</div>
			<div id = "comment-16407" class = "comment">
				<p>Regarding density, peristaltic pumps are positive *displacement*, not positive *suction*, so it would have trouble sucking mercury from a reservoir, but you could resolve that by putting the reservoir above the pump (like an IV bag). But all of the information you've provided should by included in your question for other people to respond to, and I can then update my answer to include all I've said. I feel like we're going off on tangents here.</p>
			</div>
			<div id = "comment-16456" class = "comment">
				<p>yeah, i realized the same .. will keep in mind in future..
for dosing, i wouldn't want a lot of dosing time .. I would prefer it to be quick .. 
Do you know of any peristaltic pumps which can be used in this case? any recommendation, if you have experienced</p>
			</div>
			<div id = "comment-16457" class = "comment">
				<p>@Muzammil - Nope, I'm not familiar with IV systems. I *can* tell you that 1mL/hr is the *slowest* rate several units advertised. Going faster shouldn't be an issue. I don't know what you're using mercury for, but I would advise you to be careful and check permeability in whatever tubing you decide to use. I think this will be my last comment on the matter until the question and answers are revised to include everything we've said - this is now more a conversation. You're welcome to go to Robotics Chat - I'll talk at length there with you, but comments are for *comments*.</p>
			</div>
			</div>
				<textarea id = "speech-9258" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9258">
					<img id="start_img-9258" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9258">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>