<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>360 degree ultrasonic beacon sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2105" class = "post">
			<h2>Question</h2>
			<div id="vote-2105" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2558</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>360 degree ultrasonic beacon sensor</h2>
<p>Basically, I want to detect an ultrasonic beacon in a radius around the robot.
The beacon would have a separate ultrasonic emitter while the robot would have the spinning receiver.</p>

<p>Are there any existing ultrasonic sensors that would meet this use case or am I stuck hacking one together myself?</p>

<p>Is ultrasonic even the best choice? I was hoping that the beacon would be kept in a pocket, so I figured optical sensors were out.</p>

<p>Edit: The beacon and robot will both be mobile so fixed base stations are not an option.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2105" data-toggle = "popover">
				<p>user name : cmgriffing</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-2105">{'None': 1, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2105">Load Comments</button></br>
			<div id = "commentsection-2105" class = 'collapse'>
			<div id = "comment-4193" class = "comment">
				<p>Do you need to measure the distance to the beacon, or simply detect the heading?</p>
			</div>
			<div id = "comment-4195" class = "comment">
				<p>Yes distance and top-down relative location are what I am trying to get from this. I also added that both the beacon and the robot will be mobile so, fixed base stations are not an option.</p>
			</div>
			<div id = "comment-4196" class = "comment">
				<p>Another option would be a 2.4GHz transmitter, and a little Yaggi antenna on the robot.</p>
			</div>
			</div>
				<textarea id = "speech-2105" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2105">
					<img id="start_img-2105" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2105">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2113"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2113" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you were to place 3 ultrasonic microphones/sensors in a triangle layout you should be able to determine the direction of the beacon based on the time difference the ping arrives at each sensor with some straightforward trigonometry. They'd all have to be facing in the same direction (probably upwards) and you may have to find some way to make them omnidirectional. The further apart you can space the sensors, the more accurate the calculation will be.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2113" data-toggle = "popover">
				<p>user name : David Hernandez</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-2113">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2113">Load Comments</button></br>
			<div id = "commentsection-2113" class = 'collapse'>
			<div id = "comment-4200" class = "comment">
				<p>Here's a 3D model for an omnidirectionalizer (hehe): http://www.thingiverse.com/thing:29775</p>
			</div>
			<div id = "comment-4210" class = "comment">
				<p>That receiver antenna you linked is great. Longshot question but do you know of an omnidirectional ultrasonic transmitter sensor/antenna? If I had more rep I would upvote this answer, but I don't know if it is **the** answer yet.</p>
			</div>
			<div id = "comment-4219" class = "comment">
				<p>I don't know of any, but that's the point of the antenna I think. I saw some in my googling but I think they were for talking to dolphins or something. They cost a lot of money.</p>
			</div>
			<div id = "comment-4220" class = "comment">
				<p>In an open-air environment there would be no guarantee that a directional transmitter would find an omnidirectional receiver. In an enclosed area the bounce would probably be effective enough, though the travel distance of the signal would no longer be accurate and you would have to rely on some type of signal encoding.</p>
			</div>
			<div id = "comment-4221" class = "comment">
				<p>I'm beginning to think that RF will be more suitable for my use-case. Even then, I think a receiver that scans in a circle (like sonar screens) would be most effective. My initial plan was to rig a directional sensor to a slow-spinning(slow as in 100-400 rpm) motor. _Maybe even as fast as 800rpm if possible. The faster the better for scanning fidelity._ Now I'm thinking it could be a series of sensors/antennae setup cylindrically and polled at the needed rate. I still don't know the proper keywords to search for something like that, does either version exist or am I stuck hacking it together?</p>
			</div>
			<div id = "comment-4247" class = "comment">
				<p>I really don't think anything spinning will help your case. It wouldn't solve the reflections problem for instance. Switching to RF would only make things harder since the waves would be traveling at a much greater speed - speed of light vs speed of sound. You'd need to vastly increase your sampling rate to compensate.</p>
			</div>
			<div id = "comment-4248" class = "comment">
				<p>How wouldn't a spinning sensor eliminate the reflections? It would be able to read the signal from every direction, the strongest point in the rotation is the direction it is coming from. Anyway, I have decided a motor would be too much battery draw. I found a sensor that will do omnidirectional transmitting/receiving: http://www.metrolog.net/transdutores/piezofilm/ultra40k.php?lang=en</p>
			</div>
			<div id = "comment-4254" class = "comment">
				<p>maybe I misunderstood. When you say it's an "ultrasonic beacon", you mean it will be a constant noise or a repeating "ping". My answer was given with the assumption it was a ping.</p>
			</div>
			<div id = "comment-4255" class = "comment">
				<p>I hadn't quite decided yet if a ping or constant is best so I have been thinking about both. I will have to test the battery life both ways. Even then, with a ping, if the signal were encoded the receiver would be able to tell an original ping from a bounce. I'm not certain, just speculating. I have already decided that  the receiver will need 3 receiver sensor/omni-antenna setups for triangulation. The sensor I linked might work as well instead of hacking an omni antenna onto a directional microhphone. Either way, I greatly appreciate your input and had already marked this the answer.</p>
			</div>
			<div id = "comment-4256" class = "comment">
				<p>For the signal encoding, someone on the electrical engineering stackexchange pointed me to this library: [VirtualWire](http://www.airspayce.com/mikem/arduino/) I havent used it or read the docs yet, just going off recommendation.</p>
			</div>
			<div id = "comment-4281" class = "comment">
				<p>hmm. i'm not positive how encoding will address signal reflection; you have any link that explains how that works? good luck man!</p>
			</div>
			<div id = "comment-4283" class = "comment">
				<p>Why do you need a link? All you need is a unique ID encoded into the beacon signal at specific intervals. The receiver would keep a sufficiently sized list of recently processed signal id's. With an omnidirectional transmitter, you simply read the earliest received instance of the signal as the original and any subsequent signals with the same ID will be reflections. Of course, this method is easiest with a ping type beacon, but with a continuous signal the logic stays similar and just depends on the interval at which the ID changes.</p>
			</div>
			</div>
				<textarea id = "speech-2113" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2113">
					<img id="start_img-2113" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2113">Comment</button>
			<br><div id = "ans-2144"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2144" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not going to mark this as the answer unless others agree it is the answer, but I found an omnidriectional ultrasonic transmitter/receiver: <a href="http://www.metrolog.net/ultra40k.php?lang=en" rel="nofollow">http://www.metrolog.net/ultra40k.php?lang=en</a></p>

<p>I haven't used it or tested it yet, but it seems promising.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2144" data-toggle = "popover">
				<p>user name : cmgriffing</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-2144">{'None': 1, 'sensors': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2144">Load Comments</button></br>
			<div id = "commentsection-2144" class = 'collapse'>
			<div id = "comment-13775" class = "comment">
				<p>The link is dead.</p>
			</div>
			<div id = "comment-18008" class = "comment">
				<p>I just updated the comment with the new address since the supplier updated their website and url structure. Thanks for letting me know the link was dead so that I could update it.</p>
			</div>
			</div>
				<textarea id = "speech-2144" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2144">
					<img id="start_img-2144" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2144">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>