<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>3D Magnetometer calibration algorithm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5110" class = "post">
			<h2>Question</h2>
			<div id="vote-5110" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 860</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>3D Magnetometer calibration algorithm</h2>
<p>I want to calibrate my compass, which is installed on a board which inherits a GPS module. Because the GPS antenna is up-side-down the compass is 180  inverted. The easiest way to correct the problem would be to invert the rotation matrix 180 . </p>

<p>However I got interested how a general approach to calibrate a compass would look like. I found some approaches like <a href="http://www.varesano.net/blog/fabio/freeimu-magnetometer-and-accelerometer-calibration-gui-alpha-version-out" rel="nofollow">this</a>. They seem to collect magnetometer readings an project them on a sphere. But what is actually the point in this? </p>

<p>Does someone know how a general calibration algorithm of a 3D magnetometer looks like?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5110" data-toggle = "popover">
				<p>user name : dgrat</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-5110">{'quadcopter': 14, 'magnetometer': 1, 'None': 0, 'ardupilot': 4, 'orientation': 0, 'accelerometer': 4, 'arduino': 2, 'multi-rotor': 7, 'c++': 1, 'mavlink': 1, 'calibration': 1, 'compass': 1, 'sensors': 5, 'navigation': 3, 'gyroscope': 1, 'gps': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5110" class = 'collapse'>
			</div>
				<textarea id = "speech-5110" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5110">
					<img id="start_img-5110" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5110">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5117"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5117" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We always need a reference for calibration to which we calibrate our sensor. For example in case of 3D accelerometer we use gravity as a reference which is assumed vertically downwards at a place. </p>

<p>For magnetometer calibration we use Earth's magnetic field  as   a reference. But we dont know the direction of resultant magnetic field vector at the place unlike gravity in case of accelerometer. Hence we need to implement sphere fitting calibration method in order to calibrate our magnetometer.</p>

<p>This method is explained in this <a href="https://chionophilous.wordpress.com/2012/09/01/implementing-the-gauss-newton-algorithm-for-sphere-fitting-1-of-3/" rel="nofollow">blogpost</a> as well as this <a href="http://www.sailboatinstruments.blogspot.in/2011/08/improved-magnetometer-calibration.html" rel="nofollow">blogpost</a>. You can also download a <a href="https://sites.google.com/site/sailboatinstruments1/home" rel="nofollow">tool</a> which can calibrate if you feed the data. You can also have a look at implementation in C <a href="https://sites.google.com/site/sailboatinstruments1/c-language-implementation" rel="nofollow">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5117" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-5117">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5117" class = 'collapse'>
			</div>
				<textarea id = "speech-5117" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5117">
					<img id="start_img-5117" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5117">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>