<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>3D Mapping from a quadcopter with KINECT
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-873" class = "post">
			<h2>Question</h2>
			<div id="vote-873" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 5408</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>3D Mapping from a quadcopter with KINECT</h2>
<p>I have a quadcopter robot that has a KINECT on it and i want to do 3D mapping with it. </p>

<ol>
<li>Is KINECT reliable on a moving robot (i.e., can it give me stable images and maps with this movement)?</li>
<li>Is there an SDK for producing 3D maps from KINECT data?  Will SLAM algorithms work?</li>
<li>Is the arduino board on the copter (ATmega 2560) powerful enough to handle this?</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-873" data-toggle = "popover">
				<p>user name : Preetham Hegde</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-873">{'quadcopter': -3, 'None': 0, 'arduino': -3, 'kinect': 1, 'slam': -3, 'ros': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-873">Load Comments</button></br>
			<div id = "commentsection-873" class = 'collapse'>
			<div id = "comment-2160" class = "comment">
				<p>Hi Preetham Hegde, welcome to robotics.stackexchange!  To help us better answer your question, you'll have to clarify it a little bit.  It looks like you're saying that you have a quadcopter robot, and it already has a KINECT and an Arduino attached to it.  Is that accurate?</p>
			</div>
			<div id = "comment-2171" class = "comment">
				<p>Yeah it has a KInect for Windows attached to it and also it has an ATmega 2560 board on it that can be programmed via Arduino.</p>
			</div>
			<div id = "comment-2173" class = "comment">
				<p>This is exactly the kind of question that should be asked once, so everyone can see: (i) how to not ask a question. (ii) how to avoid doing research first. (iii) How to use stackexchange as a sanity check instead of doing your own 2 minutes of thinking.</p>
			</div>
			<div id = "comment-2175" class = "comment">
				<p>Stop editing questions after answers are posted please.</p>
			</div>
			<div id = "comment-2198" class = "comment">
				<p>@Spiked - It is part of the nature of a stack exchange site that questions and answers on [this site are collaboratively edited](http://robotics.stackexchange.com/faq#editing). Both of Ians edits improve the question, so please don't try to discourage anyone from behaviour which is expected and encouraged on every stack exchange site.</p>
			</div>
			</div>
				<textarea id = "speech-873" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-873">
					<img id="start_img-873" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-873">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-874"  class = "post">
				<h2>Answer</h2>
			<div id="vote-874" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think what you are asking is on the edge of what is doable. </p>

<p>To specifically answer your questions;</p>

<p>You should probably use the ROS package <a href="http://www.ros.org/news/2011/01/ros-3d-entries-rgbd-slam.html" rel="nofollow">RGBD Slam</a> made for this exact process.</p>

<p>Yes, it uses SLAM.</p>

<p>No, an arduino is probably not sufficient, or appropriate. It will take a fairly powerful PC class computer to process 3D SLAM data, and that would be independent of any Autonomous processing - so it might actually need 2 full function PCs before it flies. Plus an arduino for flight control.</p>

<p>Being autonomous is an open concept. You have to write software that does something. SLAM will allow you to estimate where you are, and what your environment looks like, but you have to program the instructions to do anything within that environment. There is no general purpose "let's be autonomous" program.</p>

<p>The Kinect is part of a toy. It is reliable enough for experiments, you should at no time use a Kinect in any place where there is potential danger to life or property, such as on an unrestricted 'copter'. </p>

<p>The 'copter' will have to either have remote processing, which would involve some fairly high bandwidth transmission equipment, or be able to lift 2 decent size computers, plus a kinect in either case.  The rule of thumb for 'copters' is 2 to 1 thrust to weight ratio, so you are looking at a fairly robust platform with eight motors (typical), costing several thousand dollars. I'm not sure a $10,000 <a href="http://www.quadrocopter.com/CineStar-8-Basic-Kit-_p_414.html" rel="nofollow">cinestar</a> would even be up to it, more and likely something custom beyond that. </p>

<p>Just as reference as to whether or not it is doable, I found a <a href="http://diydrones.com/profiles/blogs/quadcopter-with-kinect-doing" rel="nofollow">video</a> showing it (a year ago, and we've gotten a little better since then).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-874" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-874">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-874" class = 'collapse'>
			</div>
				<textarea id = "speech-874" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-874">
					<img id="start_img-874" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-874">Comment</button>
			<br><div id = "ans-875"  class = "post">
				<h2>Answer</h2>
			<div id="vote-875" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With respect to the Arduino + Kinect, see my answer to <a href="https://robotics.stackexchange.com/a/343/308">Start making robots with Kinect</a> (short version: not happening without something with more CPU power than a Raspberry Pi, which you then have to carry onboard with sufficient additional battery power).</p>

<p>The other obstacle in your case is that the specifications of the Kinect are not well-suited for any sort of aircraft. The effective range of the depth sensor is 1.2 - 3.5 meters. It won't be able to detect a wall right next to it or recognize it from a distance. Your copter would have to be able to react quickly enough to avoid obstacles in that 1.2 - 3.5 meter viewing range. Even then, it could get blindsided by something too close to ever be detected in the first place. You would have to add additional sensors for obstacle avoidance and only use the Kinect for mapping when you know it's safe to do so.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-875" data-toggle = "popover">
				<p>user name : Joe Baker</p>
				<p> user reputation : 477</p>
				<p class = "tagcontent" id = "usertaginfo-875">{'None': 33}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-875" class = 'collapse'>
			</div>
				<textarea id = "speech-875" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-875">
					<img id="start_img-875" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-875">Comment</button>
			<br><div id = "ans-880"  class = "post">
				<h2>Answer</h2>
			<div id="vote-880" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is absolutely not feasible. The Arduino cannot handle the data rate from the Kinect. It <em>requires</em> usb 2.0 (full speed) and a lot of power (full USB bus x2). Arduino would be swamped, especially given that the Kinect <em>requires a dedicated and optimized library</em> to interface. Such a library does not exist for the Arduino. The Kinect is not an appropriate sensor for controlling a copter, due to limited range, high power requirements, high weight, and huge processing requirements.</p>

<p>Yes, you will have to use SLAM algorithms, of course. What you describe is exactly the job SLAM addresses.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-880" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-880">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-880" class = 'collapse'>
			</div>
				<textarea id = "speech-880" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-880">
					<img id="start_img-880" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-880">Comment</button>
			<br><div id = "ans-904"  class = "post">
				<h2>Answer</h2>
			<div id="vote-904" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After reviewing the original post and the posted answers, I agree, the task is absolutely infeasible in real-time with Arduino.  Don't even bother - Arduino is off by orders of magnitude. </p>

<p>Have you considered strapping a larger USB stick/flash drive on board, and then simply using the copter as a "sensor"?  Fly the craft around, gather your 3D data, store it in flash, bring it home, and then aggregate/register/process your data offline. Very, very cool in my opinion.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-904" data-toggle = "popover">
				<p>user name : Throwback1986</p>
				<p> user reputation : 281</p>
				<p class = "tagcontent" id = "usertaginfo-904">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-904">Load Comments</button></br>
			<div id = "commentsection-904" class = 'collapse'>
			<div id = "comment-2223" class = "comment">
				<p>Thanks for the suggestion. Its ounds the simplest solution, but my question is if its really possible to do that?? How can i move the kinect data onto the USB or any other storage device? In that case i can store the files(probably in .xed format) and then process it in ROS on Ubuntu.</p>
			</div>
			</div>
				<textarea id = "speech-904" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-904">
					<img id="start_img-904" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-904">Comment</button>
			<br><div id = "ans-1600"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1600" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In answer to your q1 Kinect mapping quadcopter has been done:
<a href="http://www.engadget.com/2010/12/06/kinect-used-as-a-quadrocopter-radar-video/" rel="nofollow">http://www.engadget.com/2010/12/06/kinect-used-as-a-quadrocopter-radar-video/</a></p>

<p>In answer to your q2 you can read from some of the online analyses of the project (<a href="http://aeroquad.com/archive/index.php/t-1503.html?s=eb7c86f8f916e82c4d8bb7476a68f608" rel="nofollow">http://aeroquad.com/archive/index.php/t-1503.html?s=eb7c86f8f916e82c4d8bb7476a68f608</a>) the onboard computer was a 1.6GHz Intel Atom CPU, which is significantly more powerful than arduino.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1600" data-toggle = "popover">
				<p>user name : Peter Scheyer</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1600">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1600" class = 'collapse'>
			</div>
				<textarea id = "speech-1600" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1600">
					<img id="start_img-1600" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1600">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>