<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>404 Image Nominations
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-233" class = "post">
			<h2>Question</h2>
			<div id="vote-233" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 312</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>404 Image Nominations</h2>
<p>According to the <a href="http://blog.stackoverflow.com/2010/07/the-7-essential-meta-questions-of-every-beta/">Top 7</a>, we need to select a 404 image - an image that will be displayed when users try to bring up a page that does not exist.</p>

<p>Please quote the source so the team can negotiate rights if necessary.</p>

<p><sub>* this post is a verbatim copy of the one on meta.unix.stackexchange.com... I'm not particularly creative but we should start thinking about this: <a href="https://unix.meta.stackexchange.com/questions/120/404-image-nominations">https://unix.meta.stackexchange.com/questions/120/404-image-nominations</a></sub></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-233" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-233">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-233" class = 'collapse'>
			</div>
				<textarea id = "speech-233" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-233">
					<img id="start_img-233" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-233">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-234"  class = "post">
				<h2>Answer</h2>
			<div id="vote-234" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here's my shot at it:</p>

<p><img src="https://i.stack.imgur.com/qNidL.png" alt="alt text"></p>

<p>Yanked from <a href="http://macamour.com/blog/wp-content/uploads/2008/05/macosx_kernel_panic.png" rel="nofollow noreferrer">http://macamour.com/blog/wp-content/uploads/2008/05/macosx_kernel_panic.png</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-234" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-234">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-234">Load Comments</button></br>
			<div id = "commentsection-234" class = 'collapse'>
			<div id = "comment-436" class = "comment">
				<p>Nice, this definitely should be one of the images used, though this might work better as a 503 than a 404.</p>
			</div>
			<div id = "comment-437" class = "comment">
				<p>@Kyle Cronin: ya you're right, it would be perfect for a 503 (which hopefully won't happen very often).</p>
			</div>
			<div id = "comment-441" class = "comment">
				<p>The problem is that some  less computer savvy  users might actually restart their computer  ;)</p>
			</div>
			<div id = "comment-445" class = "comment">
				<p>Yeah, what Mart n said. The image and style (translated text) would be great. But the actual text needs to be changed...</p>
			</div>
			<div id = "comment-457" class = "comment">
				<p>Clever, but for any usage I think we would need all of the non-English languages translated. Google Translate doesn't count.</p>
			</div>
			<div id = "comment-495" class = "comment">
				<p>I can have it perfectly translated to Spanish, Italian and German. I have a french friend who would be able to do the French part. Good luck with the  japanese?</p>
			</div>
			<div id = "comment-496" class = "comment">
				<p>Why translate it?  It's the way the kernel panic screen looks and is a huge part of the gag.  It doesn't have to have every language in the workd on it, that's not the way the real one looks.</p>
			</div>
			</div>
				<textarea id = "speech-234" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-234">
					<img id="start_img-234" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-234">Comment</button>
			<br><div id = "ans-235"  class = "post">
				<h2>Answer</h2>
			<div id="vote-235" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We could use the image that a Mac uses when it can't find the startup drive:</p>

<p><img src="http://www.cultofmac.com/wordpress/wp-content/uploads/2010/07/mac-queston-mark2.jpg" alt=""></p>

<p>It's a little small, but we could scale it/pad it with gray.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-235" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-235">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-235">Load Comments</button></br>
			<div id = "commentsection-235" class = 'collapse'>
			<div id = "comment-706" class = "comment">
				<p>I'm sure Jin could riff on that theme and come up with something appropriate that would work with the site's style.</p>
			</div>
			</div>
				<textarea id = "speech-235" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-235">
					<img id="start_img-235" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-235">Comment</button>
			<br><div id = "ans-236"  class = "post">
				<h2>Answer</h2>
			<div id="vote-236" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><img src="http://img.thedailywtf.com/images/mark/errord/072310/apiepicfail.png" alt=""></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-236" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-236">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-236">Load Comments</button></br>
			<div id = "commentsection-236" class = 'collapse'>
			<div id = "comment-442" class = "comment">
				<p>APIEpicFail is amazing :) I had seen that sshot once.</p>
			</div>
			</div>
				<textarea id = "speech-236" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-236">
					<img id="start_img-236" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-236">Comment</button>
			<br><div id = "ans-261"  class = "post">
				<h2>Answer</h2>
			<div id="vote-261" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think a picture of bill gates 
<a href="http://upload.wikimedia.org/wikipedia/commons/2/2a/Bill_Gates_in_WEF_%2C2007.jpg" rel="nofollow">http://upload.wikimedia.org/wikipedia/commons/2/2a/Bill_Gates_in_WEF_%2C2007.jpg</a>
Or a windows logo will be good. 
That or one of those Windows error messages that says something like "error: process completed successfully".  </p>

<p>(yes I do realise this is apple.SE but apple things <em>never</em> go wrong ;) )</p>

<p>EDIT: or something similar to this picture <a href="http://cdn.ghacks.net/wp-content/uploads/2009/11/win-eating-apple.jpg" rel="nofollow">http://cdn.ghacks.net/wp-content/uploads/2009/11/win-eating-apple.jpg</a> or in reverse. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-261" data-toggle = "popover">
				<p>user name : Jonathan.</p>
				<p> user reputation : 2344</p>
				<p class = "tagcontent" id = "usertaginfo-261">{'None': 16, 'discussion': 33}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-261">Load Comments</button></br>
			<div id = "commentsection-261" class = 'collapse'>
			<div id = "comment-528" class = "comment">
				<p>That's actually kind of funny since the SE servers are Windows based I think :)</p>
			</div>
			</div>
				<textarea id = "speech-261" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-261">
					<img id="start_img-261" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-261">Comment</button>
			<br><div id = "ans-262"  class = "post">
				<h2>Answer</h2>
			<div id="vote-262" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><img src="https://i.stack.imgur.com/qIYpH.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-262" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-262">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-262" class = 'collapse'>
			</div>
				<textarea id = "speech-262" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-262">
					<img id="start_img-262" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-262">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>