<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>4dof or 5dof robot arm with stepper motors tool-chain for an hobbyist
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8229" class = "post">
			<h2>Question</h2>
			<div id="vote-8229" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 304</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>4dof or 5dof robot arm with stepper motors tool-chain for an hobbyist</h2>
<p>In the past I built some simple robot arms at home, using RC servo motors or stepper motors (till 3dof). I would like to build a new arm with 4dof or 5dof with the steppers. Until now I used Arduino and A4988 stepper drivers and Gcode.
For calculating inverse kinematics in real time for a 4dof or 5dof I think the Arduino is not enough powerful. So I'm searching for a new tool-chain Gcode Interpreter + inverse kinematics calculation + stepper controller.
I see LinuxCNC + beaglebone black + cnc cape. Not too expensive for an hobbyist.
But this is the only possibility I found. There are other possibilities for an hobbyist to implement a 4dof or 5dof robot arm working with the stepper motors?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8229" data-toggle = "popover">
				<p>user name : Alessandro</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-8229">{'None': 0, 'stepper-motor': 2, 'arm': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8229">Load Comments</button></br>
			<div id = "commentsection-8229" class = 'collapse'>
			<div id = "comment-13160" class = "comment">
				<p>You could also ask yourself whether you really need to calculate inverse kinematics in real time. For most applications, e.g. trajectory following, it is not at all necessary.</p>
			</div>
			<div id = "comment-13177" class = "comment">
				<p>I would build a drawing robot arm. I think the real time inverse kinematics is necessary.</p>
			</div>
			</div>
				<textarea id = "speech-8229" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8229">
					<img id="start_img-8229" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8229">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8694"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8694" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, I doubt you will be able to do much inverse kinematics on an Arduino.  You will probably want a 32 bit processor that can handle floating point math a little easier.  </p>

<p>As JJM pointed out, depending on what you are doing, you might not need IK.  Nevertheless, for a fast IK library, check out <a href="http://openrave.org/docs/latest_stable/openravepy/ikfast/#ikfast-compiler" rel="nofollow">ikfast</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8694" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8694">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8694">Load Comments</button></br>
			<div id = "commentsection-8694" class = 'collapse'>
			<div id = "comment-14199" class = "comment">
				<p>Floating point is not mandatory. You could use hard coded tables for sine or other functions and put the table in the flash of the micro controller.</p>
			</div>
			<div id = "comment-14214" class = "comment">
				<p>True.  I found this fixed point math library ([libfixmath](https://code.google.com/p/libfixmath/)) a while ago.  I have never had cause to use it yet, but it might be worth checking out.</p>
			</div>
			</div>
				<textarea id = "speech-8694" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8694">
					<img id="start_img-8694" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8694">Comment</button>
			<br><div id = "ans-8697"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8697" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could use the Arduino for the input/output to your motors and sensors, but do the actual calculation on a raspberry pi. They can communicate trough the I2C bus.</p>

<p>For the raspberry pi this I2C bus is implementend on the gpio pins. How to communicate trough this bus from the os i do not know (I haven't tried) but I am sure that others have, so you should be able to find resources for that. This will give you the extra computer power you need to do your IK calculations.</p>

<p>Or do you really want to keep your calculations on your arduino?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8697" data-toggle = "popover">
				<p>user name : DrDonut</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-8697">{'control': 1, 'None': 6, 'algorithm': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8697" class = 'collapse'>
			</div>
				<textarea id = "speech-8697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8697">
					<img id="start_img-8697" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8697">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>