<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>6 DOF Robotic Arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3102" class = "post">
			<h2>Question</h2>
			<div id="vote-3102" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 316</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>6 DOF Robotic Arm</h2>
<p>We are building a 6 DOF robotic arm as a college project and we've almost finished the designs. The problem is with the controls. We still havent thought on how to control the arm, as in , software gui interfaces , etc. Any suggestions on this ? Also, is there any simulation software for Simulating and testing robotic arms ? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3102" data-toggle = "popover">
				<p>user name : Haresh K Miriyala</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-3102">{'control': 1, 'None': 0, 'arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3102" class = 'collapse'>
			</div>
				<textarea id = "speech-3102" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3102">
					<img id="start_img-3102" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3102">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3103"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3103" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think Matlab suits your needs. About the control input, once you got the dynamic equation of your manipulator,
\begin{equation}
M(q) \ddot{q} + C(q, \dot{q})q + G(q) = u \qquad (1)
\end{equation}</p>

<p>then you need to specify the input $u$ of the dynamic equation (1). There are many control input algorithms. The simplest one is PID control which specifies the input as the error.
\begin{equation}
u = K_{p} \tilde{q} + K_{i} \int_0^t{\tilde{q}dt} + K_{d} \frac{d}{dt} \tilde{q}
\end{equation}</p>

<p>where $u(t) = [u_{1},..., u_{n}]^{T}$ the input, $\tilde{q}(t) = q(t) - q_{d}(t)$ which represents the error $e(t)$. $q_{d}(t)$ is the desired trajectory and $K_{p}, K_{d}$ and $K_{i}$ are the gain matrices, the proportional, derivative, and integral respectively.</p>

<p>Also, the inverse dynamics and Lyapunov-based design algorithms are good ones. The problem with the last two algorithms is that they require the parameters of the system to be given accurately, so you should start with PID controller. In GUI, you might want the user to specify the desired trajectory whether tracking or regulation trajectories. Also, you might want the user to adjust the Gain of PID. </p>

<p>As a start point, you should implement two arms in Matlab. The kinematic and dynamic equations of two arms are given in the majority of manipulator books. Pick one and try to test the aforementioned algorithms. Start with regulation problem in which the desired trajectory is a constant value and see how well your manipulator approaches the desired trajectory as time approaches infinity. Also, try to plot the errors which are the difference between the current trajectory and the desired one. They must approach zero when time approaches infinity. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3103" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-3103">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3103" class = 'collapse'>
			</div>
				<textarea id = "speech-3103" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3103">
					<img id="start_img-3103" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3103">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>