<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>6DOF Robot Dynamics from Newton-Euler Iterative Algorithm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12642" class = "post">
			<h2>Question</h2>
			<div id="vote-12642" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>6DOF Robot Dynamics from Newton-Euler Iterative Algorithm</h2>
<p>I don't know if someone can help me with this but I'm calculating the dynamics of a 6DOF robot using the Newton-Euler iterative dynamics algorithm. I'm following the recursive method (inwards and outwards) explained in the book <em>Introduction to Robotics Mechanics and Control</em> (Pages 175-176). After putting down on MATLAB the calculations, I started to check if the gravity compensation, <em>g</em> term, made sense. I had calculated the gravity term from the Lagrange approach before so I knew the set of torques had to be the same for a specific pose. Although the values are almost similar (one actuator has some considerable deviation, still unknown to me as to why). Now, here's the thing: the robot is the Kinova JACO v2 arm, and if one assumes that only the gravity effect is taking place,  no torque is assumed for the first actuator (its associated link is at the base). Indeed this is visually clear, and the Lagrangian approach based on the potential energy corroborates that, giving me a torque vector with no torque being sent to the first actuator. </p>

<p>My problem is just that... The Newton-Euler iterative algorithm is based on the balance of the forces between the links. And since the contributions of the forces are summed up (when performing the outwards calculations) the torque sent for the actuator 1 is not zero and has actually the value that would be sent to the actuator 2. Basically a "shift" was made, and the torque for actuator 1 should've been for actuator 2, and so on.</p>

<p>I don't know if you can get any insight from this... But I've tried to recheck my calculations and I can't seem to find any problem with them... Please if you have any suggestions I'll be grateful.</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12642" data-toggle = "popover">
				<p>user name : Miguel M.</p>
				<p> user reputation : 20</p>
				<p class = "tagcontent" id = "usertaginfo-12642">{'control': 2, 'None': 0, 'manipulator': 1, 'c': 1, 'c++': 1, 'robotic-arm': 3, 'jacobian': 0, 'dynamics': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12642">Load Comments</button></br>
			<div id = "commentsection-12642" class = 'collapse'>
			<div id = "comment-22161" class = "comment">
				<p>Welcome to *Robotics*, MiguelM. As hauptmech mentioned below, all you do in this question is speculate what your problem could be without providing any of the algorithms you are using to generate your problem. This site is designed for *specific, answerable questions based on problems you actually face*, so your question, however long it *needs* to be, is a perfect fit *if you include all the relevant information.* Again, as hauptmech said, I can guarantee that the iterative algorithm and the Lagrange method both work, so it's an implementation problem somewhere.</p>
			</div>
			<div id = "comment-22162" class = "comment">
				<p>I'm going to put this question *on hold* to give you time to *edit your question* to include the information required to give you an answer: a diagram of your robot showing how your frames, axes, and joints are arranged and enough code to reproduce your problem. Once you have supplied the required information we can reopen the question, but until then there simply isn't enough to give meaningful feedback.</p>
			</div>
			</div>
				<textarea id = "speech-12642" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12642">
					<img id="start_img-12642" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12642">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12644"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12644" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since you include no equations, all we can say is that yes, the Newton-Euler algorithm works and the fact that you are not getting the expected results means that you implemented the algorithm incorrectly.</p>

<p>Sounds like either a labeling/indexing problem. Perhaps you are extracting the actuator torque incorrectly from wrong set of resultant forces.</p>

<p>Try writing the equations and free-body diagram for a 1dof robot and compare that to what your algorithm does. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12644" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-12644">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12644">Load Comments</button></br>
			<div id = "commentsection-12644" class = 'collapse'>
			<div id = "comment-22157" class = "comment">
				<p>Hm, yes I could've included the equations, it would've become a lengthy post though.

I've tested with the first 2 actuators to see if I could find the problem between the calculations, and I'm certainly missing something since I've found nothing. I have a slight doubt... I don't know if you have the book, but the thing that I might have calculated wrongly could be the $P^{i}_{i+1}$. Aren't they the distance between the references of the links obtained from the DH parameters?</p>
			</div>
			<div id = "comment-22160" class = "comment">
				<p>If by distance you mean the position vector of frame i+1 in frame i, yes.</p>
			</div>
			</div>
				<textarea id = "speech-12644" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12644">
					<img id="start_img-12644" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12644">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>