<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>A few questions about my first quadcopter build
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2652" class = "post">
			<h2>Question</h2>
			<div id="vote-2652" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>A few questions about my first quadcopter build</h2>
<p>I'm planning to order parts for my first quadcopter build and I had a few questions. <a href="https://docs.google.com/document/d/1jJsP1noISRmEyQZirJVCQK5455tRXtAwk2ZPOVDElxk/edit?usp=sharing" rel="nofollow">Here</a> is my parts list. I'm crossing my fingers that they are all compatible, and I'm pretty sure they are. I have two questions:</p>

<ol>
<li>Do I need a Power Distribution Board and if so, what does it do?</li>
<li>Where on my flight controller do I attach my radio receiver? </li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-2652" data-toggle = "popover">
				<p>user name : user2200321</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-2652">{'quadcopter': 3, 'radio-control': 1, 'None': 0, 'microcontroller': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2652" class = 'collapse'>
			</div>
				<textarea id = "speech-2652" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2652">
					<img id="start_img-2652" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2652">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2654"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2654" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since your frame is about (530g + other parts' weight), you need to make sure that your 4 motors give you a combined thrust of at least 100 g more than, just to get off the ground and maneuver. Anything greater than that is good. (<a href="http://aeroquad.com/showthread.php?1048-Calculating-motor-thrust" rel="nofollow">Thrust Calculator</a>).</p>

<p>You battery amps * burst C / constant C should be greater than the motor amp pull * 4.</p>

<p>Propellers look OK. Make sure their inner diameter matches motor shaft diameter, else buy adapters.</p>

<p>Motor controller board is also good.</p>

<p>Your radio receiver output should control the ALE, THR, ELE, RUD (Aileron, Thrust, Elevation, Rudder). Which means the radio receiver output (the CHx output pins) should be the input (the 4 above) of the controller board.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2654" data-toggle = "popover">
				<p>user name : Anshul</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-2654">{'None': 10, 'irobot-create': 2, 'microcontroller': 0, 'openni': 1, 'kinect': 2, 'ros': 1, 'arm': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2654">Load Comments</button></br>
			<div id = "commentsection-2654" class = 'collapse'>
			<div id = "comment-5014" class = "comment">
				<p>Awesome, thank you so much!</p>
			</div>
			<div id = "comment-5015" class = "comment">
				<p>Where can I get the details about those equations you linked me to?</p>
			</div>
			<div id = "comment-5016" class = "comment">
				<p>That was just a random google search that I linked. When I built mine I found out that there is a relation between the wattage (W), the rpms (kV) and the thrust generated by the motor (depending on the props).</p>
			</div>
			</div>
				<textarea id = "speech-2654" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2654">
					<img id="start_img-2654" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2654">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>