<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>A moderator closed my question and asked me to edit~rework it, so what should I do?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1669" class = "post">
			<h2>Question</h2>
			<div id="vote-1669" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 96</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>A moderator closed my question and asked me to edit~rework it, so what should I do?</h2>
<p>Let's assumed I've asked a question which got quite a number of comments by other AD users trying to help me in narrowing down my problem and/or resolving it. I've partially answered the follow-up questions directly in the comments and partially edited my question to add additional information.</p>

<p>After a lot of back and forth, a moderator joined the discussion, temporarily closed the question and asked me to rework the question to reflect the newly gathered information before reopening it.</p>

<ul>
<li>Why is he doing that?</li>
<li>What should I as an asker do now?</li>
<li>Could there be better ways to handle such situations?</li>
</ul>

<p>PS: This was inspired by <a href="https://apple.stackexchange.com/questions/89184/using-the-ipad-as-an-audio-slave">this question</a> but also is valid for similar issues we had in the past (and will have in the future).</p>

			</div>
			<div id = "userinfo-1669" style = "float:right">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p> user tag wise history : {'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1669">Load Comments</button></br>
			<div id = "commentsection-1669" class = 'collapse'>
			<div id = "comment-3127" class = "comment">
				<p>I (obviously) have an opinion here, so the question is asked primarily to give other moderators and users an opportunity to raise their voice.</p>
			</div>
			<div id = "comment-3128" class = "comment">
				<p>It ia all down to the concept of close and how people see it as final but it is not on SO - see several meta.stackexchnage posts. Also is this not covered in meta.stackexchnage - should we be repeating the debates from there?</p>
			</div>
			</div>
				<textarea id = "speech-1669" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1669">
					<img id="start_img-1669" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1669">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1680"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1680" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the perspective I can relate to that moderator, I believe your question was not clear enough. For this reason most of the material posted to it (comments, answers etc.) took up unnecessary space in the database(s) of Stack Exchange. Had your question been asked/posted clearly without needing additional clarifications (through comment-answer pairs), material posted would be much more valuable - to you and to other users with a similar question/problem.</p>

<p>What happened has happened, so asking you to edit your question to clarify your issue would not help save the already consumed space in the database because comments have already peen saved. However, if still your question does not seem clear enough, closing the question makes sense. The message I get from this action is: Revise your question in a way that it won't need additional clarification derived from the confusion that obscure or missing information will cause.</p>
</p><br>
			</div>
			<div id = "userinfo-1680" style = "float:right">
				<p>user name : inhan</p>
				<p> user reputation : 106</p>
				<p> user tag wise history : {'None': -3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1680">Load Comments</button></br>
			<div id = "commentsection-1680" class = 'collapse'>
			<div id = "comment-3161" class = "comment">
				<p>I'm pretty sure nobody cares about taking up a few kilobytes in the database...</p>
			</div>
			<div id = "comment-3162" class = "comment">
				<p>@daviewales chances are, a few KB's times number of users = some GB's so I'm not sure about it.</p>
			</div>
			<div id = "comment-3163" class = "comment">
				<p>Answers are supposed to be backed up with facts, not opinions. I suppose what I'm getting at here is, do you have facts to back up your position, and if you don't, why are you posting it as an answer? =P</p>
			</div>
			</div>
				<textarea id = "speech-1680" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1680">
					<img id="start_img-1680" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1680">Comment</button>
			<br><div id = "ans-1707"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1707" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The point of questions is to attract good answers. Questions that are poorly formulated are unlikely to attract good answers.</p>

<p>Questions that look like they have some hope of being fixed should be promptly closed so they can be edited into shape <em>while no answers can be posted</em>. This is designed to be helpful both to the original poster of the question, the answerers, and future readers.</p>

<p>The alternative is that the question remains open while it is being edited. The danger there is that the question will attract answers that do not address the question as it finally is after editing. These answers may well be sincere attempts at answering the question in its early, ambiguous form, but do not help solve the actual problem.</p>

<p>Dealing with these answers fairly and efficiently is difficult. Leaving them around is confusing and clutters the question. Deleting them is unfair to their posters, who put effort into answering a question as asked and may have earned reputation points in the process before the question was reformulated.</p>

<p>If a question is unclear, it should be promptly closed to be fixed. If a question has comments that change its meaning, it should be closed until that information is edited into the body of the question (comments are ephemeral and could go away at any time).</p>
</p><br>
			</div>
			<div id = "userinfo-1707" style = "float:right">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p> user tag wise history : {'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1707" class = 'collapse'>
			</div>
				<textarea id = "speech-1707" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1707">
					<img id="start_img-1707" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1707">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>