<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>A robotics computer with graphics card, lots of computation power, battery, no screen, no keyboard?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4840" class = "post">
			<h2>Question</h2>
			<div id="vote-4840" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 169</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>A robotics computer with graphics card, lots of computation power, battery, no screen, no keyboard?</h2>
<p>I'm working on a robotics platform and we need an on-board Ubuntu machine to run ROS image recognition.</p>

<p>Does anyone know of a good set of computer hardware that has</p>

<ul>
<li>NO screen</li>
<li>NO keyboard</li>
<li>Built-in battery (for charging separate from the robot)</li>
<li>Quite a bit of compute power (i5+, 4+ GB ram)</li>
</ul>

<p>I thought about using a laptop, but the keyboard and screen are a lot of extra weight/volume I don't want to carry around. Something like an Intel NUC is appealing, but has no battery.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4840" data-toggle = "popover">
				<p>user name : Kukanani</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-4840">{'None': 0, 'driver': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4840">Load Comments</button></br>
			<div id = "commentsection-4840" class = 'collapse'>
			<div id = "comment-7533" class = "comment">
				<p>How about an Intel NUC attached to a laptop (or whatever) battery?</p>
			</div>
			<div id = "comment-7546" class = "comment">
				<p>Welcome to *robotics* Kukanani, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-4840" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4840">
					<img id="start_img-4840" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4840">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4842"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4842" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes the Gigabyte Brix or the Intel NUC are the platforms you're searching for:
<a href="http://www.gigabyte.com/products/list.aspx?s=47&amp;ck=104" rel="nofollow">http://www.gigabyte.com/products/list.aspx?s=47&amp;ck=104</a>
<a href="http://www.intel.com/content/www/us/en/nuc/overview.html" rel="nofollow">http://www.intel.com/content/www/us/en/nuc/overview.html</a></p>

<p>I've looked extensively for computer for robots 2 months ago, I don't know if there is anything new since, but I don't know of any small computers with internal battery. You might have to make the power circuit yourself, or ask someone to make it.</p>

<p>ARM processors/computers are getting better everyday but you wont find anywhere near the support you'll find on an Intel based computer. Intel is tried and tested, plug and play.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4842" data-toggle = "popover">
				<p>user name : goncalo luis</p>
				<p> user reputation : 324</p>
				<p class = "tagcontent" id = "usertaginfo-4842">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4842" class = 'collapse'>
			</div>
				<textarea id = "speech-4842" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4842">
					<img id="start_img-4842" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4842">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>