<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>A sensor that can see glass~transparent objects and surfaces
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11785" class = "post">
			<h2>Question</h2>
			<div id="vote-11785" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 189</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>A sensor that can see glass~transparent objects and surfaces</h2>
<p>I am currently thinking about making a robot that will autonomously drive around the place. The place I want this robot to drive in however contains quite a few glass walls. When mapping the area I would need to be able to see the glass. For this reason I am in need of a sensor that can see the glass, and not see through it. What kind of sensor would be the best for me? I need it to have a maximum range of about 2-10 meters and a minimum range of about 0.25 meters (preferably as small as possible). I was thinking about maybe using ultrasonic, but I was told that a laser-based sensor would probably be best. I could however only find industrial grade laser sensors that could see glass/transparent objects.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11785" data-toggle = "popover">
				<p>user name : John Bow</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-11785">{'None': 0, 'laser': 4, 'mapping': 4, 'slam': 4, 'sensors': 4, 'ultrasonic-sensors': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11785">Load Comments</button></br>
			<div id = "commentsection-11785" class = 'collapse'>
			<div id = "comment-21009" class = "comment">
				<p>Thermal sensors, while expensive see glass as an opaque surface. You might get similar results using infrared lamps and detectors.</p>
			</div>
			<div id = "comment-21015" class = "comment">
				<p>@Octopus considering it will be on a moving robot in a regular environment, I doubt that using infrared lamps and detectors would work. Having to put up detectors all over the place is kind of out of the question. I will however have a look at thermal sensors. Thanks for the input!</p>
			</div>
			<div id = "comment-21017" class = "comment">
				<p>@Octopus I can't seem to find any information on Thermal Sensors that can tell me how far away the glass would be. I might have missed mentioning this in the post, but to avoid collisions with the glass, I ofcourse need to know the distance between the robot and the glass.</p>
			</div>
			<div id = "comment-21025" class = "comment">
				<p>Sorry, I didn't mean to imply that a thermal sensor can be used to measure range, it would be too complex and expensive anyhow, but that since thermal sensors see glass as opaque, then I imagine a basic IR proximity sensor probably would, too.</p>
			</div>
			</div>
				<textarea id = "speech-11785" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11785">
					<img id="start_img-11785" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11785">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11791"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11791" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unless you need very good resolution or a very tight detection pattern, I would go with an ultrasonic sensor. They can be very cheap and easily meet your detection range specs, for the very low end look at something like the <a href="https://www.sparkfun.com/products/13959" rel="nofollow noreferrer">HC-SR04</a>, and for more serious applications <a href="http://www.maxbotix.com/" rel="nofollow noreferrer">Maxbotix</a> offers a wide range of sensors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11791" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-11791">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11791">Load Comments</button></br>
			<div id = "commentsection-11791" class = 'collapse'>
			<div id = "comment-21016" class = "comment">
				<p>Thankyou. This is very useful. Do you maybe have some examples of laser-based sensors too? So I can compare them?</p>
			</div>
			<div id = "comment-21029" class = "comment">
				<p>Sure, the biggest one that comes to mind is the Lidar Lite V3 but it cannot detect surfaces that are reflective or clear, same for all LIDAR units that I know of in the lower than $1200 range. For the 0-10m range I think that Ultrasonic sensors are best, and for less than that IR proximity sensors will work well.</p>
			</div>
			</div>
				<textarea id = "speech-11791" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11791">
					<img id="start_img-11791" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11791">Comment</button>
			<br><div id = "ans-11810"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11810" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm pretty sure that a <a href="http://denkovi.com/infrared-proximity-sensor-20-150cm?CurrencyID=CAD&amp;gclid=CI37--i9x9ICFQx_fgod9PcI_Q" rel="nofollow noreferrer">very basic IR proximity sensor</a> would do the trick. Glass is opaque to all but visible light. IR (as well as UV) will not penetrate the glass and you ought to be getting reliable distance measurements to the glass's surface.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11810" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-11810">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11810">Load Comments</button></br>
			<div id = "commentsection-11810" class = 'collapse'>
			<div id = "comment-21033" class = "comment">
				<p>Aha, this is what I was looking for. I'll have to look around for one with a decent range, since I need it to be able to measure to at least 2 meters from the sensor, but that will probably be doable just fine. Shame a LIDAR won't work. Since that uses laser instead of IR right? LIDAR seems very appropriate for mapping, just not when glass is involved.</p>
			</div>
			<div id = "comment-21039" class = "comment">
				<p>This was indeed the answer I was looking for, since I needed another option to compare my default option of an ultrasonic sensor with. I will however in the end use an ultrasonic sensor. This is due to the issues Infrared sensors can have with sunlight, and the fact that ultrasonic sensors generally have a longer range. Thanks again for your input!</p>
			</div>
			</div>
				<textarea id = "speech-11810" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11810">
					<img id="start_img-11810" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11810">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>