<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>A simple function plotter project
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9097" class = "post">
			<h2>Question</h2>
			<div id="vote-9097" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 66</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>A simple function plotter project</h2>
<p>To plot any curve or a function on a paper we need points of that curve, so to draw a curve, I will store a set of points in the processor and use motors, markers and other mechanism to draw straight lines attaching these points and these points are so close to each other that the resultant will look an actual curve.</p>

<p>So I am going to draw the curve with a marker or a pen.</p>

<ol>
<li>Yes to do this project I need motors which would change the position of a marker but which one?</li>
</ol>

<p>With my knowledge stepper motor and servo motors are appropriate but not sure whether they are appropriate since I have never used them, so will they work?</p>

<p>The dimension of paper on which I will be working on is 30x30 cms.</p>

<p>I have two ideas for this machine </p>

<p>a. A rectangular one as shown <a href="https://i.stack.imgur.com/CplxN.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CplxN.jpg" alt="enter image description here"></a></p>

<p>I would make my marker holder movable with help of rack and pinion mechanism but I am not sure that this would be precise and I may have to alter to some other mechanism and if you know such then that can really help me.</p>

<p>b. A cylindrical one <a href="https://i.stack.imgur.com/Q4ytj.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Q4ytj.jpg" alt="enter image description here"></a></p>

<p>Here I would roll a paper on this cylinder and this paper will get unrolled as the cylinder rotates and even the marker holder is movable but only in X direction and the rolling of paper is nothing but change of Y position.</p>

<ol start="2">
<li><p>Which one of the above two methods is good?</p></li>
<li><p>I know about microcontrollers and I want to control the motors using them so I decided to go with Atmega 16 microcontroller. But here i might need microstepping of signals how would I be able to do that with microcontrollers?</p></li>
</ol>

<p>If you know the answer to atleast one of the questions then those answers are always welcomed. 
If you need any clarifications about these then please leave a comment.</p>

<p>Thankyou for your time.</p>

<p>Your sincerely,
Jasser</p>

<p>Edit : To draw lines of particular slope I would have to know the slope between two points and the depending on the slope I would rotate motors with particular speed so that marker will move in a straight fashion with that slope.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9097" data-toggle = "popover">
				<p>user name : Jasser</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-9097">{'servomotor': 0, 'None': 0, 'microcontroller': 0, 'stepper-motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9097">Load Comments</button></br>
			<div id = "commentsection-9097" class = 'collapse'>
			<div id = "comment-15034" class = "comment">
				<p>-1 One question per question please.</p>
			</div>
			<div id = "comment-15036" class = "comment">
				<p>I suppose those are not very big questions so they might look better at one place @BendingUnit22</p>
			</div>
			<div id = "comment-15037" class = "comment">
				<p>I knew someone would do this but it would be much better if all related smaller questions of a particular topic are at one place. Also If I made different questions navigation would be irritating and I would have to explain the same thing again and again in every question. I apologize for this but I think you people understand and also it would be much better if continuation of such smaller questions are at one place @Bending Uniy 22</p>
			</div>
			</div>
				<textarea id = "speech-9097" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9097">
					<img id="start_img-9097" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9097">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9098"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9098" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li><p>For the range of motion you are talking about, I would recommend stepper motors. Motion control will be easier to implement because they move a fixed distance per step.</p></li>
<li><p>Assuming the drum (idea B) is larger than the gear/pulley you would use for idea A, then I would say idea A is better. This is because the motor you use will turn some finite angle $\theta$, which means the carriage or drum will traverse a distance $r\theta$ - whichever device has a shorter radius (pulley or drum) will result in smaller motions, giving you a smoother curve. Also, putting paper correctly indexed on the drum (and holding it there!!) will be considerably more difficult than laying it flat in a frame. For example, if your stepper motor has a step size of 1.8 deg (0.0314 rad), and you use it on a pulley for a carriage where the pulley radius is 1cm, then your minimum motion on that axis is (0.0314 * 1)cm = 0.314mm. However, if your drum is big enough to hold the 30x30cm paper (perimeter = 30cm), then the drum radius is about 4.75cm, so your new minimum motion is (0.0314*4.75)cm = 1.5mm, or almost 5 times the distance between points! </p></li>
<li>Typically you won't controller the stepper motors directly from the microcontroller; you'll use a <a href="https://www.sparkfun.com/products/12779" rel="nofollow">stepper driver</a> to run the motors. The microcontroller then tells the driver what size steps to take (full, half, quarter, etc.) and how many steps to take and the driver does all of the power electronics and phasing for you. </li>
</ol>

<p>As a reminder - you'll need a mechanism to raise and lower the pen or your entire drawing will be one connected line. </p>

<h2>:EDIT:</h2>

<p>Finding a mechanism to raise and lower the pen frame is outside the scope of this site [shopping recommendation], but I would try a spring-loaded pen attached to a servo motor. </p>

<p>Regarding micro-stepping, I'm not sure what your question is. For the driver I <a href="https://cdn.sparkfun.com/datasheets/Robotics/A3967-Datasheet.pdf" rel="nofollow">linked above</a>, you set two bits for full [0,0], half [1,0], quarter [0,1] or eighth [1,1] stepping. That's it. You would use GPIO pins to do this, wired to the MS2 and MS1 pins on the stepper driver. When you want to take a step, you send a pulse to the STEP pin on the driver. The driver takes care of everything else.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9098" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9098">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9098">Load Comments</button></br>
			<div id = "commentsection-9098" class = 'collapse'>
			<div id = "comment-15038" class = "comment">
				<p>1. As for question 1 Yes I need easier implementation since I am a beginner so I am going to use a stepper motor, 2. Yes I don't have a number 2 and I am going to edit the question, 3. Yes the math will be harder and I can overcome it but also the overhead of indexing the paper exists so I am going with idea a, 4. Yes I know that I would need a driver but how can I do microstepping with MCU. Please explain this part in more detail. For full quarter, half it is easy to just connect pins of MCU and program it to achieve the result. But how would I achieve step angles as low as 1.8 degrees.</p>
			</div>
			<div id = "comment-15039" class = "comment">
				<p>It will be very nice of you if you also help me in finding a mechanism to lower or raise the pen frame.</p>
			</div>
			<div id = "comment-15047" class = "comment">
				<p>Ok so the driver turns my digital signal from MCU into a nice analog signal which are then given to motors. So it is all the driver which would do the job.... I see it now.</p>
			</div>
			<div id = "comment-15048" class = "comment">
				<p>@Jasser - Well... essentially, yes, the driver takes care of the "magic" of interfacing with the motors, but they're stepper motors, so there's not really an analog signal per se like there is with a typical DC motor. But for all intents and purposes, yes, it works like that.</p>
			</div>
			<div id = "comment-15050" class = "comment">
				<p>Oh yes its not an analog signal and thankyou for the #2 part too.</p>
			</div>
			<div id = "comment-15052" class = "comment">
				<p>Ill handle the pen raising and lowering manually..... Servo's some other time....</p>
			</div>
			</div>
				<textarea id = "speech-9098" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9098">
					<img id="start_img-9098" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9098">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>