<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Absolute positioning without GPS
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-172" class = "post">
			<h2>Question</h2>
			<div id="vote-172" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">20</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 8383</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Absolute positioning without GPS</h2>
<p>Using an IMU a robot can estimate its current position relative to its starting position, but this incurs error over time. GPS is especially useful for providing position information not biased by local error accumulation. But GPS cannot be used indoors, and even outdoors it can be spotty.</p>

<p>So what are some methods or sensors that a robot can use to localize (relative to some frame of reference) without using GPS? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-172" data-toggle = "popover">
				<p>user name : Robz</p>
				<p> user reputation : 954</p>
				<p class = "tagcontent" id = "usertaginfo-172">{'pid': 8, 'embedded-systems': 0, 'slam': 20, 'sensor-error': 8, 'accelerometer': 5, 'kinematics': 7, 'mechanism': 1, 'differential-drive': 8, 'imu': 12, 'kalman-filter': 28, 'actuator': 21, 'gyroscope': 5, 'gps': 20, 'magnetometer': 5, 'None': 25, 'noise': 5, 'power': 0, 'localization': 20, 'microcontroller': 0, 'brushless-motor': 13, 'sensors': 41, 'quadcopter': 13, 'navigation': 7, 'sensor-fusion': 21, 'sonar': 8, 'servos': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-172">Load Comments</button></br>
			<div id = "commentsection-172" class = 'collapse'>
			<div id = "comment-211" class = "comment">
				<p>Added SLAM (Simultaneous Localization And Mapping) tag, as both first two answers refer to it</p>
			</div>
			</div>
				<textarea id = "speech-172" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-172">
					<img id="start_img-172" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-172">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-173"  class = "post">
				<h2>Answer</h2>
			<div id="vote-173" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Primarily, dead reckoning is used along with some other technique, generally SLAM-like. The robot builds a map, and then tries to localize within that map. For example, using laser range scanners, and based on dead reckoning, the robot has an idea of where it is. By comparing the laser range data to the map, it can improve its estimate.</p>

<p>Relevant resources are:</p>

<ul>
<li><a href="http://en.wikipedia.org/wiki/Indoor_positioning_system">Indoor positioning system</a> on Wikipedia.</li>
<li>H. Liu, H. Darabi, P. Banerjee and J. Liu. <a href="http://www.sis.pitt.edu/~dtipper/2011/Survey1.pdf">Survey of Wireless Indoor Positioning Techniques and Systems</a>. IEEE TRANSACTIONS ON SYSTEMS, MAN, AND CYBERNETICS, page 1067.</li>
<li><a href="http://www.sensorplatforms.com/tracking-position-indoors-moving-from-hype-to-reality">Tracking Position Indoors: moving from Hype to Reality</a>.</li>
</ul>

<p>Methods include:</p>

<ul>
<li>SLAM (or at least localization) with
<ul>
<li>laser</li>
<li>vision (cameras, stereo-vision)</li>
<li>structured environments</li>
</ul></li>
<li>cellular signals</li>
<li>wifi signals</li>
<li>RF (radio frequency) beacons and triangulation (more information at <a href="http://www.wpi.edu/Images/CMS/PPL/ITT.pdf">http://www.wpi.edu/Images/CMS/PPL/ITT.pdf</a>).</li>
<li>camera tracking systems (optical tracking of markers within a space)</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-173" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-173">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-173">Load Comments</button></br>
			<div id = "commentsection-173" class = 'collapse'>
			<div id = "comment-208" class = "comment">
				<p>To expand on ronalchn, basically you need either some form of beacons at known locations to get a relative fix from or a map and a way of sensing known objects (such as walls or doors). The beacons can be specific to your robot or dual use (known wifi routers, cell tower locations, etc.)</p>
			</div>
			</div>
				<textarea id = "speech-173" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-173">
					<img id="start_img-173" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-173">Comment</button>
			<br><div id = "ans-176"  class = "post">
				<h2>Answer</h2>
			<div id="vote-176" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your goal is to have a georeferenced localization, you <em>will</em> have to use GPS at some point. The other techniques (dead reckoning, SLAM, ...) will only be useful to "bridge" spotty GPS/indoor absolute positioning reception.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-176" data-toggle = "popover">
				<p>user name : sylvain.joyeux</p>
				<p> user reputation : 363</p>
				<p class = "tagcontent" id = "usertaginfo-176">{'None': 20, 'kalman-filter': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-176" class = 'collapse'>
			</div>
				<textarea id = "speech-176" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-176">
					<img id="start_img-176" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-176">Comment</button>
			<br><div id = "ans-207"  class = "post">
				<h2>Answer</h2>
			<div id="vote-207" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I understand you problem is to find different means to GPS to find your position within a given reference frame. This problem in isolation is called localization, and there are many ways to perform that. Firstly you will have to differentiate between relative methods, so measurements which provide a change in position to a previously known position. This method has the problem, that any errors are obviously accumulated, and will grow unbounded. </p>

<ul>
<li><p>Dead reckoning is likely one of the oldest ways of relative localization. If you use heading, speed and time (so estimating the distance traveled) you can sum up you position changes from a starting position. </p></li>
<li><p>In addition to using dead reckoning you can also not landmarks and track them in a map. Finding those landmarks again will allow you to reduce your relative position error. This is the Simultaneous Localization and Mapping (SLAM) problem. It is still relative navigation.</p></li>
</ul>

<p>Now coming to your actual question on absolute navigation. All that GPS does is provide you with distance estimations to Landmarks with a known position information in your reference frame (in this case geocentric). GPS receivers will take these information and generate a position solution, which also has an error. The good thing though is that this error is bounded within your frame of reference. This it what makes it an absolute positioning system. So whether its indoors or outdoors and regardless of your desired reference frame, all you need for absolute positioning systems are measurements that put you in relation to some known landmark position within your reference frames. Some of those methods have been given in a <a href="https://robotics.stackexchange.com/a/173/127">previous answer</a>. Although, as I said, SLAM is not an absolute method. </p>

<ul>
<li><p>The simplest form is direct landmark recognition. If you see an Eiffel-Tower you should have a good notion of your absolute position (at least with an absolute error bound) within the earth fixed frame (if you know the position of the Eiffel-Tower). You may have to do some <a href="http://en.wikipedia.org/wiki/Paris_Las_Vegas" rel="nofollow noreferrer">disambiguation</a>, though.</p></li>
<li><p>If you want to improve your absolute position error, you can use multiple landmarks at the same time. Classical <a href="http://en.wikipedia.org/wiki/Triangulation" rel="nofollow noreferrer">Triangulation</a> is such an example. Another one is using craters for a lunar descent vehicle. Landmarks don't have to be visual, and you can use things like RF signal strength for known signals like in WiFi or Cellular localization. </p></li>
<li><p>All of the above methods needed landmarks, which need to be identified and uniquely associated. If this is a problem, you can also use different methods, like the <a href="http://www.control.isy.liu.se/research/reports/2001/2333.pdf" rel="nofollow noreferrer">terrain profile</a>. This have for example been applied for early <a href="http://adsabs.harvard.edu/abs/1982guco.conf...71L" rel="nofollow noreferrer">cruise missile navigation</a>. I've also used this method for localization on an elevation map <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=6181273&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6181273" rel="nofollow noreferrer">without visual</a> or range sensing. </p></li>
</ul>

<p>With all of the above methods: as long as any of your map material has Geo-referenced information associated, you can obviously Geo-reference yourself without the use of GPS. The most important factor to differentiate the methods is their error characteristics. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-207" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-207">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-207" class = 'collapse'>
			</div>
				<textarea id = "speech-207" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-207">
					<img id="start_img-207" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-207">Comment</button>
			<br><div id = "ans-315"  class = "post">
				<h2>Answer</h2>
			<div id="vote-315" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're asking how to use an acceleration sensor to make better position measurements.  As you've correctly pointed out, these accumulate error over time.</p>

<p>One way to improve this is to have periodic absolute-position updates, like from GPS, or from the techniques in many of the answers here.</p>

<p>However, don't overlook any abilities you may have to get absolute-velocity updates.  Any speed-over-ground sensor, or just the raw position/velocity data from the wheels (if you have wheels) can improve your dead reckoning accuracy.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-315" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-315">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-315" class = 'collapse'>
			</div>
				<textarea id = "speech-315" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-315">
					<img id="start_img-315" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-315">Comment</button>
			<br><div id = "ans-325"  class = "post">
				<h2>Answer</h2>
			<div id="vote-325" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.locatacorp.com/" rel="nofollow">http://www.locatacorp.com/</a> might be the solution you are looking for. They offer technology  to create a local constellation indoor. It emulates the satellites for indoor GPS applications. I believe it can use GPS receivers indoor without the need for additional hardware on the robots.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-325" data-toggle = "popover">
				<p>user name : Lord Loh.</p>
				<p> user reputation : 317</p>
				<p class = "tagcontent" id = "usertaginfo-325">{'None': 2, 'accelerometer': 8, 'inverse-kinematics': 5, 'line-following': 12, 'artificial-intelligence': 12, 'deduced-reckoning': 8, 'reinforcement-learning': 26, 'machine-learning': 17, 'sensors': 8, 'pwm': 9, 'navigation': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-325" class = 'collapse'>
			</div>
				<textarea id = "speech-325" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-325">
					<img id="start_img-325" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-325">Comment</button>
			<br><div id = "ans-7785"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7785" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Optical flow sensors (such as those used in computer mouses) are good for this situation. Most will give output in terms of translation.</p>

<p>Alternatively, you can just use a basic camera and run some optical flow algorithms on the data. This will give you the same basic information. It might be easier when doing it this way, to adapt an algorithm that will offer rotational motion as well as translation.</p>

<p>Some optical flow ICs do have the ability to give you the image data (eg the ADNS-3080), which you can further analyse for rotational information.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7785" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-7785">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7785" class = 'collapse'>
			</div>
				<textarea id = "speech-7785" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7785">
					<img id="start_img-7785" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7785">Comment</button>
			<br><div id = "ans-7801"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7801" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Recent advances in monocular vision based SLAM (ORB_SLAM, LSD_SLAM, SVO) have made it possible to determine a camera's pose w.r.t. an arbitrarily scaled and rotated initial frame. If you combine this information with an IMU and EKF system such as the one from ETH (ethzasl_msf) you can obtain a position estimate even when there is no GPS available. Even better, you can combine a number of pose/position/attitude/etc. sensors in the MSF. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7801" data-toggle = "popover">
				<p>user name : Marc</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7801">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7801" class = 'collapse'>
			</div>
				<textarea id = "speech-7801" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7801">
					<img id="start_img-7801" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7801">Comment</button>
			<br><div id = "ans-7805"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7805" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I know this is an old question but I will just add a bit to the currently existing answers. First, this is a very complex problem that everyone is trying to tackle, including google with their <a href="https://www.google.com/atap/project-tango/" rel="nofollow">Tango project</a>. In general, to localise indoor you either need to rely on your internal sensors, or get assistances from a indoor infrastructure deployed to assist you locating yourself. </p>

<ul>
<li>Relying on onboard sensors:

<ul>
<li>Using sensors like LIDAR/Lasers, cameras, RGBD sensors, IMUs</li>
<li>Perform complex algorithmic sensor fusion to perform some sort of accurate iterative localisation. SLAM (Simultaneous Localisation and Map building) is commonly used. I previously developed a method called <a href="http://playerstage.sourceforge.net/doc/Player-svn/player/group__driver__mricp.html" rel="nofollow">MRICP</a> (Map Reference Iterative Closest Point) to perform a simple, but error prone localisation. Plenty of literature to look at on that front, including the recent monocular and stereoscopic visual odometry which is quite promising (check vi sensor from <a href="http://skybotix.com/" rel="nofollow">skybotix</a> or <a href="https://github.com/uzh-rpg/rpg_svo" rel="nofollow">svo</a>). </li>
</ul></li>
<li>Rely on infrastructure:

<ul>
<li>Beacons (bluetooth, ultraband, Wireless ...)</li>
<li>Mocap (motion capture cameras: vicon, visualeyez ...)</li>
<li>Encoded positioning in light bulbs (philips is recently experimenting with this)</li>
</ul></li>
</ul>

<p>In general it really depends on what accuracy you are trying to achieve. In mobile robotics, from my experience, you really need to focus on globally consistent maps, and locally accurate positioning. This means you need to roughly know where you are from a high-level topological manner (this room is connected to the other room on the left, vs the next room on the left is 2.323m away), but locally you should have an accurate position estimation (lasers + IMUs can do this accurately).</p>

<p>Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7805" data-toggle = "popover">
				<p>user name : blackcoder</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-7805">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7805" class = 'collapse'>
			</div>
				<textarea id = "speech-7805" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7805">
					<img id="start_img-7805" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7805">Comment</button>
			<br><div id = "ans-10539"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10539" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here is a solution for Indoor "GPS": <a href="http://www.marvelmind.com/" rel="nofollow">http://www.marvelmind.com/</a> - it works indoor and gives +-2cm accuracy.</p>

<p>Here are a few demos:
<a href="http://www.marvelmind.com/#video" rel="nofollow">http://www.marvelmind.com/#video</a>:</p>

<ul>
<li>robot driving fully autonomously</li>
<li>robot driving fully autonomously</li>
<li>copter traced indoor</li>
<li>demo showing accuracy of positioning</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10539" data-toggle = "popover">
				<p>user name : Marvelmind Robotics</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10539">{'None': -5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10539">Load Comments</button></br>
			<div id = "commentsection-10539" class = 'collapse'>
			<div id = "comment-18965" class = "comment">
				<p>Please read [What kind of behavior is expected of users?](http://robotics.stackexchange.com/help/behavior) and [How not to be a spammer](http://robotics.stackexchange.com/help/promotion). The way this was written, it looks less like an answer and more like an advert for your product.</p>
			</div>
			</div>
				<textarea id = "speech-10539" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10539">
					<img id="start_img-10539" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10539">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>