<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Acceptance rate gone?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1561" class = "post">
			<h2>Question</h2>
			<div id="vote-1561" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 147</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Acceptance rate gone?</h2>
<p>I have noticed today that my (and other users) acceptance rate is non-existent anymore. Usually gave me motivation to go ahead and solve my own questions to keep it above 90%.</p>

<p>Is it permanently removed ? What's the deal ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1561" data-toggle = "popover">
				<p>user name : Render</p>
				<p> user reputation : 2645</p>
				<p class = "tagcontent" id = "usertaginfo-1561">{'None': 0, 'discussion': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1561">Load Comments</button></br>
			<div id = "commentsection-1561" class = 'collapse'>
			<div id = "comment-2930" class = "comment">
				<p>IIRC acceptance rate is only shown if it's "poor". Like, 60% or lower? Somewhere near that.</p>
			</div>
			<div id = "comment-2931" class = "comment">
				<p>It seems to be gone even for users with poor acceptance rates.</p>
			</div>
			</div>
				<textarea id = "speech-1561" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1561">
					<img id="start_img-1561" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1561">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1563"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1563" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As off 2 days ago the accept rate has been removed across the network as per the following feature request: <a href="https://meta.stackexchange.com/questions/136951/lets-stop-displaying-a-users-accept-rate">Let&#39;s stop displaying a user&#39;s accept rate</a>. </p>

<p>On the bigger sites it was generating more noise then what was required, and it was mostly demotivating to most users. Since the focus should be on good answers, and not reputation gain.</p>

<p>You might be interested in following or contributing thoughts to this thread on how to build on activities like voting, flagging and accepting in this proposal:</p>

<p><a href="https://meta.stackexchange.com/questions/165179/replace-accept-rate-with-citizenship-level">Replace accept rate with citizenship level</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1563" data-toggle = "popover">
				<p>user name : BinaryMisfit</p>
				<p> user reputation : 5873</p>
				<p class = "tagcontent" id = "usertaginfo-1563">{'None': 57, 'tags': 3, 'discussion': 24, 'reputation': 17, 'questions': 3, 'editing': 3, 'site-promotion': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1563">Load Comments</button></br>
			<div id = "commentsection-1563" class = 'collapse'>
			<div id = "comment-2932" class = "comment">
				<p>Great, helpful answer, even if I disagree wholeheartedly with the policy change behind it.</p>
			</div>
			</div>
				<textarea id = "speech-1563" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1563">
					<img id="start_img-1563" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1563">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>