<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Accepting An Answer When More Than One Answer Is Deemed Suitable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1794" class = "post">
			<h2>Question</h2>
			<div id="vote-1794" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Accepting An Answer When More Than One Answer Is Deemed Suitable?</h2>
<p>If more than one answer is deemed suitable as "the correct answer" for a given question such as this:</p>

<p><a href="https://apple.stackexchange.com/questions/100258/is-it-possible-to-use-desktop-mac-apps-on-an-ipad/100261#100261">Is It Possible To Use Desktop Mac Apps On An iPad?</a></p>

<p>Obviously you cannot tick all as correct, so what is the view to adopt in regards to selecting one answer?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1794" data-toggle = "popover">
				<p>user name : Simon</p>
				<p> user reputation : 3280</p>
				<p class = "tagcontent" id = "usertaginfo-1794">{'blog': 1, 'None': 0, 'support': 12, 'discussion': 20}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1794">Load Comments</button></br>
			<div id = "commentsection-1794" class = 'collapse'>
			<div id = "comment-3385" class = "comment">
				<p>Can you link to a for-instance post or two to show where this problem exists? Often it's a sign of a question that could be improved or split into two questions.</p>
			</div>
			<div id = "comment-3386" class = "comment">
				<p>@bmike http://apple.stackexchange.com/questions/100258/is-it-possible-to-use-desktop-mac-apps-on-an-ipad/100261#100261</p>
			</div>
			<div id = "comment-3387" class = "comment">
				<p>@bmike I'm inclined to go for Dave's answer over mine, but both seem reasonable.</p>
			</div>
			<div id = "comment-3392" class = "comment">
				<p>That question is a very hard one to ask well. Rather than make a long comment thread, I'll try to answer and clarify my thoughts...</p>
			</div>
			</div>
				<textarea id = "speech-1794" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1794">
					<img id="start_img-1794" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1794">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1795"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1795" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Pick the one you find <strong>most</strong> helpful. You can vote for multiple answers, but only one can get the checkmark. If you really want to reward a particularly great answer, you could start a bounty.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1795" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1795">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1795">Load Comments</button></br>
			<div id = "commentsection-1795" class = 'collapse'>
			<div id = "comment-3395" class = "comment">
				<p>Yes but, with regards to the link in the comment I made above, I find both mine & Dave's answer to be helpful.</p>
			</div>
			<div id = "comment-3396" class = "comment">
				<p>If one answer is your own, the system provides incentives that might encourage one to accept the answer that is now one's own: accepting your own answer generates no reputation, but accepting someone else's gives you 2 points and the other person 15.</p>
			</div>
			<div id = "comment-3398" class = "comment">
				<p>I was thinking about accepting the other person's answer, as my recommendation has only just launched (so is not proven as such).</p>
			</div>
			</div>
				<textarea id = "speech-1795" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1795">
					<img id="start_img-1795" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1795">Comment</button>
			<br><div id = "ans-1796"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That's one of the problems with <code>software-recommendation</code> questions. Several good answers might come back over time and you only can accept one of them. Now there are several things to note:</p>

<ul>
<li>It's not mandatory to accept any answer at all. So you can just upvote the recommendations you liked and go on with your life</li>
<li>If you are going to accept an answer, it would probably best to accept the one you followed up on at the end (e.g. by installing/using the recommended software). </li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1796" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-1796">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1796">Load Comments</button></br>
			<div id = "commentsection-1796" class = 'collapse'>
			<div id = "comment-3393" class = "comment">
				<p>Your answer makes alot of sense, especially the 2nd point you raise. In terms of your 1st point is it common for answers to remain unaccepted (or rather that should be unticked I guess).</p>
			</div>
			</div>
				<textarea id = "speech-1796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1796">
					<img id="start_img-1796" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1796">Comment</button>
			<br><div id = "ans-1797"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1797" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My experience is when it's hard to select an answer, that's a sign that the question itself needs improvement. Now, not all questions need to be improved - that one you linked to could easily have a check mark awarded, some up votes awarded and then after you've digested the options, come back and ask a knock-out, awesome, good-subjective question explaining how exactly to get one app to work well from Mac to iPad.</p>

<p>The rest of this answer is more for looking forward and general ideas on how to decide how to answer, but I'll also relate it to the question at hand.</p>

<p>First, Let's look at the guidelines on asking:</p>

<p><a href="https://apple.stackexchange.com/help/how-to-ask">https://apple.stackexchange.com/help/how-to-ask</a></p>

<p>The question that was linked failed to do three things:</p>

<ol>
<li>Show the research that was done to try and solve the question.</li>
<li>Provide context</li>
<li>Lacks any way to judge which answer is the best answer</li>
</ol>

<p>The guidelines on what not to ask help with the last criteria:</p>

<p><a href="https://apple.stackexchange.com/help/dont-ask">https://apple.stackexchange.com/help/dont-ask</a></p>

<p>Since the question seems more about discussion a general theme than asking for an expert to explain one specific thing it's turning into a poll of options as opposed to a plan to address a documented need.</p>

<p>Since those two links above are very dry, condensed and - dare I say - a bit lacking in specificity, here is a story explaining how these rules came to be.</p>

<p><a href="http://blog.stackoverflow.com/2011/01/real-questions-have-answers/">http://blog.stackoverflow.com/2011/01/real-questions-have-answers/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1797" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1797">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1797">Load Comments</button></br>
			<div id = "commentsection-1797" class = 'collapse'>
			<div id = "comment-3394" class = "comment">
				<p>This is an alternative way to look at it in comparison with Patrix answer. Haha they are both good answers but which one gets ticked lol :)</p>
			</div>
			</div>
				<textarea id = "speech-1797" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1797">
					<img id="start_img-1797" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1797">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>