<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Accelerometer calibration - how to get cross-axis sensitivities
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1579" class = "post">
			<h2>Question</h2>
			<div id="vote-1579" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1023</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Accelerometer calibration - how to get cross-axis sensitivities</h2>
<p>I've already <a href="https://robotics.stackexchange.com/questions/1570/accelerometer-bias-removal">asked a related question (accelerometer bias removal)</a> here on robotics and got a bit better results on corrected accelerometer output. To get even better results I found the <a href="http://www.vectornav.com/support/library?id=86" rel="nofollow noreferrer">calibration equations (7th &amp; 8th paragraph)</a> from Vectornav which are just a bit enhanced than the solution in the linked question:</p>

<p><img src="https://i.stack.imgur.com/ZlbWs.png" alt="enter image description here"> </p>

<p>However, six more variables are needed:</p>

<blockquote>
  <p>Sensitivity of sensor X-axis to Y-axis inputs ($M_{xy}$)</p>
  
  <p>Sensitivity of sensor X-axis to Z-axis inputs ($M_{xz}$)</p>
  
  <p>Sensitivity of sensor Y-axis to X-axis inputs ($M_{yx}$)</p>
  
  <p>Sensitivity of sensor Y-axis to Z-axis inputs ($M_{yz}$)</p>
  
  <p>Sensitivity of sensor Z-axis to X-axis inputs ($M_{zx}$)</p>
  
  <p>Sensitivity of sensor Z-axis to Y-axis inputs ($M_{zy}$)</p>
</blockquote>

<p>Below it is also stated:</p>

<blockquote>
  <p>IEEE-STD-1293-1998 [...] provides a detailed test procedure for
  determining each of these calibration parameters</p>
</blockquote>

<p>However, after searching through the <a href="https://docs.google.com/file/d/0B8zqB-WeBKRBTUN4OU0weEV0eVE/edit" rel="nofollow noreferrer">1293-1998 standard</a> (especially page 201 in Google Docs) I didn't find any clue on how to calculate the $M$ values. Also, $B_{d}$ and $V_x$ values from Vectornav equations is not explained anywhere. Can someone point me further?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1579" data-toggle = "popover">
				<p>user name : Primo  Kralj</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-1579">{'None': 0, 'errors': 4, 'accelerometer': 12, 'calibration': 12, 'design': 8, 'electronics': 8, 'sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1579">Load Comments</button></br>
			<div id = "commentsection-1579" class = 'collapse'>
			<div id = "comment-3299" class = "comment">
				<p>Added some excerpts, but not from 1293-1998 standard, since I don't know where the explanation is.</p>
			</div>
			<div id = "comment-3302" class = "comment">
				<p>Great stuff, thanks @Primo Kralj that makes the question much more stand-alone.</p>
			</div>
			</div>
				<textarea id = "speech-1579" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1579">
					<img id="start_img-1579" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1579">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1580"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1580" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>OK.  I'm too lazy to read the document, but in general you can model the sensor response as</p>

<p>$$\alpha_m = S \alpha + b$$</p>

<p>where $\alpha$ is the actual acceleration in three dimensions with respect to the accelerometer body (including the acceleration due to gravity), $\alpha_m$ is the measured acceleration from the accelerometer, $b$ is an offset, and $S$ is a $3\times3$ sensitivity matrix.</p>

<p>$S$ and $b$ can be derived from the equations you give in your question above: $S$ is the product of your two $3\times3$ matrices, while $b$ is the product of $S$ and their $B$ and $V$ vectors.  We're all saying the same thing; I'm just compressing the math a bit.</p>

<p>If you know $S$, $b$, and $\alpha_m$ then you can solve the above equation for $\alpha$ to get
$$\hat{\alpha}=S^{-1}\left(\alpha_m - b \right)$$</p>

<p>So if you don't assume that $S$ is symmetrical (I don't think it needs to be) then you have 12 unknowns (nine in $S$ and three in $b$).  </p>

<p>If you mount your accelerometer into a cube whose sides are more accurate than the calibration you're trying to make, and you set it on a table that is as accurate as the cube, and measure the acceleration at each of the six faces of the cube, then you'll get 18 equations, three for the three axes, times the six faces of the cube.  There should be sufficient information there to extract your 12 unknowns by linear algebra.</p>

<p>Serious aerospace companies do this job with rotary tables, but that gets kinda spendy.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1580" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1580">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1580">Load Comments</button></br>
			<div id = "commentsection-1580" class = 'collapse'>
			<div id = "comment-3300" class = "comment">
				<p>How about $M$ coefficients? And $B_d$?</p>
			</div>
			<div id = "comment-3301" class = "comment">
				<p>And $V_x$? (couldn't edit last comment).</p>
			</div>
			<div id = "comment-3303" class = "comment">
				<p>The question has now been updated Tim, so you might want to consider revising your answer. Thanks,</p>
			</div>
			</div>
				<textarea id = "speech-1580" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1580">
					<img id="start_img-1580" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1580">Comment</button>
			<br><div id = "ans-8388"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8388" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I realize this question is 2 years old, but I have direct recent experience with this.  The way I did this is with 6 rotated cube positions with 1000 points at each position, so a total of 6000 samples.</p>

<p>I'm assuming Matlab/numpy nomenclature, where NxM means N rows and M columns.</p>

<p>I assume an equation like Ax = B where B is the measured values matrix (6000x4, with right column all ones) and B is the "real" values matrix (also 6000x4, which has six 1000-value sections, with 1000 copies each of [1,0,0,1], [-1,0,0,1],[0,1,0,1], [0,-1,0,1], [0,0,1,1], [0,0,-1,1], corresponding to Xup, Xdown, Yup, Ydown, Zup, Zdown.  x is a 4x4 matrix where the upper left 3x3 components are the gain and cross-axis sensitivities, and the right 3x1 components are the offsets; the bottom row is all zeros.  By using a 4x4 matrix we can do everything in linear math and avoid the separate offset computation.</p>

<p>I then let numpy compute x as the least squares division of B/A.  I think in Matlab it would be B\A.  I'm not sure how least squares works in this case, but the result is a 4x4 matrix that minimizes the errors and averages out all the samples.  Conceivably you could also do this with only two positions, where each axis is diagonal to gravity, then upside down from there, and you adjust the expected "ideal" values accordingly.</p>

<p>The result is a 4x4 matrix that fixes scale, offset, and cross axis errors, which also means it corrects for any rotation error you have between the sensor and the reference edge hardware.</p>

<p>Here is the python code, assuming numpy:</p>

<pre><code>def least_squares_fit(A, B):
    """Does least squares fit to find x of Ax = B.  Returns best guess of original distortion
     matrix x and its inverse.  A is ideal values.  B is distorted values.  Use inverse to
     correct real data back to ideal data."""

    # Need to extend A and B
    A = np.hstack((A, np.ones(len(A)).reshape(-1, 1)))
    B = np.hstack((B, np.ones(len(B)).reshape(-1, 1)))

    X, res, rank, s = np.linalg.lstsq(A, B)
    X = X.T # Not sure why we need T
    Xi = np.linalg.inv(X)
    return (np.asmatrix(X), np.asmatrix(Xi), np.sum(res))
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8388" data-toggle = "popover">
				<p>user name : Sonicsmooth</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-8388">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8388" class = 'collapse'>
			</div>
				<textarea id = "speech-8388" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8388">
					<img id="start_img-8388" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8388">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>