<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Accelerometers error (BMA020 and BMA180)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1978" class = "post">
			<h2>Question</h2>
			<div id="vote-1978" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 253</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Accelerometers error (BMA020 and BMA180)</h2>
<p>Recently I am working with two accelerometers: BMA020 and BMA180. I will try to explain my problem using BMA020 as example because it is less accurate therefore problem is more visible. When I hold my Acc in neutral position I get correct average result: -1G. Now I turn my Acc upside down but this time my average result is +0,91G. The same problem occurs for other axis. For BMA180 problem is less visible (-1G in normal position and +0.98G upside down). Do you know why accelerometer behaves like this ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1978" data-toggle = "popover">
				<p>user name : Arkadiusz Wojcik</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1978">{'None': 0, 'accelerometer': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1978" class = 'collapse'>
			</div>
				<textarea id = "speech-1978" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1978">
					<img id="start_img-1978" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1978">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2014"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2014" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have to calibrate the accelerometer to compensate for this. Usually, calibrating an accelerometer consists of finding a scaling factor and an offset vector. So the calibrated measurement vector Z can be written as:</p>

<p>Z = aX + B, where a is the scaling factor, B the offset vector and X is the 'raw' measurement vector.</p>

<p>If you mount the accelerometer on a device, the accelerometer axis system should be aligned with the device body axis system. If this is not the case, for example if the pcb is rotated or upside down, the calibrated measurement Z should be converted to the body axis system using a rotation matrix. You can combine the rotation matrix with the scaling factor a, so you get:</p>

<p>Z = AX + B. </p>

<p>A is now a 3x3 matrix. Z is the calibrated measurent in the device body axis system.
The values of the 3x3 matrix A and the 3-element vector B are found by putting the device in a number of known, fixed orientations, so you know Z. By measuring X, you get a set of linear equations that you can solve to find A and B.</p>

<p>Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2014" data-toggle = "popover">
				<p>user name : Marco Cox</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-2014">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2014" class = 'collapse'>
			</div>
				<textarea id = "speech-2014" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2014">
					<img id="start_img-2014" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2014">Comment</button>
			<br><div id = "ans-2015"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2015" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This behavior is usually specified in the datasheet. For example, in table 1 of the datasheet of the BMA020 accelerometer you have the entry "Sensitivity". Probably you are operating your sensor with a 2g range. If your sensor has a temperature of 25 C, according to the datasheet the raw output of your sensor is typically 256 LSB if it is exposed to a acceleration of 1.0 g. As specified in the datasheet, this is only the typical value. Each manufactured sensor is a little bit different and thus the "min" and "max" columns define other possible values, depending on your specific sensor. </p>

<p>In your question you talk about measurements in g units and not in LSB. Thus, the code operating your accelerometer already converts the raw measurements to g units. The conversion algorithm can range from very simple algorithms to very sophisticated algorithms. An ideal conversion algorithm would incorporate all errors your sensor makes due to production variations and due to the current operation conditions. To compensate for the production variations this conversion algorithm should make use of calibration values which you found for your specific accelerometer or which are known from factory calibration (expensive sensors). Additionally, if you look at your datasheet again, you see that the sensitivity of your accelerometer depends on the operation temperature. Thus, if the defined error due to temperature change is too high for your application, you need to add an temperature sensor and your conversion algorithm should use the temperature to correct for this error too. There are also additional error sources defined in the datasheet and the algorithm for converting your raw measurements to g units can get very sophisticated. </p>

<p>Thus, the reason why your sensors don't output 1 g is simply that you're using some conversion algorithm to get from the raw sensor readings to g units and this algorithm probably neither uses any calibrated values specific to your sensor nor does it incorporate the current environment conditions. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2015" data-toggle = "popover">
				<p>user name : user2189</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2015">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2015" class = 'collapse'>
			</div>
				<textarea id = "speech-2015" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2015">
					<img id="start_img-2015" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2015">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>