<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Accounting for error in multiple electric motors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6351" class = "post">
			<h2>Question</h2>
			<div id="vote-6351" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 95</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Accounting for error in multiple electric motors</h2>
<p>Our goal is to drive an autonomous robot with a differential locomotion system using two identical electric motors and an Arduino Uno (1 for each wheel). From our understanding, over time the motors can lose accuracy and may result in one motor rotating more than the other.
Is there a way to account for possible error in the speeds of the motors so that the robot can end up in a very precise location?</p>

<p>Our thoughts were to have an indicator which would allow us to count the number of rotations of each motor and compensate if a noticeable difference began to appear.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6351" data-toggle = "popover">
				<p>user name : Nolan Rempe</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-6351">{'mobile-robot': 2, 'None': 0, 'two-wheeled': 2, 'ultrasonic-sensors': 2, 'arduino': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6351">Load Comments</button></br>
			<div id = "commentsection-6351" class = 'collapse'>
			<div id = "comment-9218" class = "comment">
				<p>This is very close to being a duplicate of [Approach to using PID to get a differential robot driving straight](http://robotics.stackexchange.com/q/1711/37) and [How can I use the Arduino PID library to drive a robot in a straight line?](http://robotics.stackexchange.com/q/1232/37) as the answers on these questions are pretty much a superset of the answers here.</p>
			</div>
			</div>
				<textarea id = "speech-6351" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6351">
					<img id="start_img-6351" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6351">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6353"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6353" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're describing an encoder. It will give you a signal every time the wheel turns a some amount of degrees. </p>

<p><a href="http://www.bot-thoughts.com/2011/03/avc-bot-wheel-encoders.html" rel="nofollow">http://www.bot-thoughts.com/2011/03/avc-bot-wheel-encoders.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6353" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-6353">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6353">Load Comments</button></br>
			<div id = "commentsection-6353" class = 'collapse'>
			<div id = "comment-9180" class = "comment">
				<p>Concise and correct.</p>
			</div>
			</div>
				<textarea id = "speech-6353" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6353">
					<img id="start_img-6353" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6353">Comment</button>
			<br><div id = "ans-6354"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6354" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a classic robotics problem not only will motors not rotate at the same speed given the same power, but one wheel might slip more than the other. This is why you almost always see precise robots with some sort of external reference, be it a camera, gps, line sensor. </p>

<p>An encoder will tell you whenever the shaft you attach it to has moved x degrees where x is dependent on the encoder. <a href="https://en.wikipedia.org/wiki/Rotary_encoder" rel="nofollow">https://en.wikipedia.org/wiki/Rotary_encoder</a> be careful of the difference between an absolute encoder and a relative one. </p>

<p>Edit: apparently I am being down voted because you are all assuming robots are driven on hard surfaces. Most commercial grade robots are not <a href="http://www.popsci.com/disney-designs-robot-draw-pictures-sand" rel="nofollow">http://www.popsci.com/disney-designs-robot-draw-pictures-sand</a> <a href="http://www.irobot.com/For-the-Home/Vacuum-Cleaning/Roomba.aspx" rel="nofollow">http://www.irobot.com/For-the-Home/Vacuum-Cleaning/Roomba.aspx</a> <a href="http://www.robomow.com/en-USA/" rel="nofollow">http://www.robomow.com/en-USA/</a> <a href="http://www.nasa.gov/mission_pages/msl/" rel="nofollow">http://www.nasa.gov/mission_pages/msl/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6354" data-toggle = "popover">
				<p>user name : Sam</p>
				<p> user reputation : 217</p>
				<p class = "tagcontent" id = "usertaginfo-6354">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6354">Load Comments</button></br>
			<div id = "commentsection-6354" class = 'collapse'>
			<div id = "comment-9177" class = "comment">
				<p>The word slip is confusing (and often used incorrectly). Seldom does one wheel slip more than the other, slip is actually how it turns. Google slip angle.</p>
			</div>
			<div id = "comment-9178" class = "comment">
				<p>@Spiked3, slip is defined as"slide unintentionally for a short distance", which wheels do all the time, rarely on a macro scale. Don't imply it I am using it incorrectly when you are not clear on what I am talking about.</p>
			</div>
			<div id = "comment-9183" class = "comment">
				<p>Perhaps you need to look into vehicle dynamics then (milliken comes to mind). All pressure points of a tire except the exact center have to slip in order for a turn to occur. In racing we use tire slip data.</p>
			</div>
			<div id = "comment-9185" class = "comment">
				<p>Your definition of slip is exactly what I meant by using it incorrectly. That may be one definition of slip, but it is not the definition of the slip a robot encounters.</p>
			</div>
			<div id = "comment-9189" class = "comment">
				<p>What? "You have creds to exceed that?" you mean my degree in robotics?</p>
			</div>
			<div id = "comment-9200" class = "comment">
				<p>No, your totally right, robots [only](http://www.popsci.com/disney-designs-robot-draw-pictures-sand) [ever](http://www.irobot.com/For-the-Home/Vacuum-Cleaning/Roomba.aspx) [drive](http://www.robomow.com/en-USA/) [on concrete](http://www.nasa.gov/mission_pages/msl/).</p>
			</div>
			<div id = "comment-9215" class = "comment">
				<p>I only will, and will continue to return in kind. see how it started an where it went. But thanks for the censorship! shows real integrity.</p>
			</div>
			<div id = "comment-9219" class = "comment">
				<p>Point taken. I was just pointing out that I made a suggestion as nicely as possible and the other party elevated it. But you are right, and I will take the advice. delete these as well.</p>
			</div>
			<div id = "comment-9233" class = "comment">
				<p>Sam, it might be worth mentioning the different meanings of the word *slip* in a robotics context. I certainly use it in the same sense as you do in [my answer](http://robotics.stackexchange.com/a/1234/37) to a related question, but it could easily be confused with *slip* in terms of steering too, as Spiked3 suggests. As such, a clarification could help make your answer better and get people to reverse the down votes.</p>
			</div>
			</div>
				<textarea id = "speech-6354" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6354">
					<img id="start_img-6354" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6354">Comment</button>
			<br><div id = "ans-6362"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6362" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"Is there a way to account for possible error in the speeds of the motors so that the robot can end up in a very precise location?"</p>

<p>The other answers describe the approximate solution (encoders). It depends on what you define 'precise' as. For an Arduino budget project, it is probably precise enough. But typically, say you direct your Arduino robot to move in a 1 meter square, you can expect it to be off by several cm when it returns to the start point. That is usually fine for an Arduino robot, but imagine something 100 times bigger (a car) being off by 100 times as much, now you have problems.</p>

<p>This problem is overcome by adding additional sensors. Each one can add additional accuracy until required precision is reached.</p>

<p>A gyro helps by giving more accurate short term turning information, as encoders depends on mechanical solutions that have slippage.</p>

<p>A compass works by giving more long term heading information, but is subject to disturbances.</p>

<p>A GPS, if available, can provide periodic 'corrections' to overall location information.</p>

<p>A SLAM algorithm, often laser range finder based, can triangulate on detected objects to help improve accuracy.</p>

<p>Lately the use of images, especially stereo, can also provide triangulation information. This is often referred to as optical odometry.</p>

<p>All of these additional measurements, separate or in some combination, is 'fused'. Very often with some form of a Kalman filter. The filter helps prioritize which signals to use dynamically.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6362" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6362">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6362">Load Comments</button></br>
			<div id = "commentsection-6362" class = 'collapse'>
			<div id = "comment-9179" class = "comment">
				<p>One technical comment: KF is the way all those sensors are fused. SLAM is just sensor fusion + some global position sensor (like a map / landmarks /features /gps). It is not specific to any sensor set. I would have said, "A SLAM algorithm can fuse all of these sensors to provide a more precise estimate than any one sensor by itself."</p>
			</div>
			<div id = "comment-9184" class = "comment">
				<p>Good point. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-6362" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6362">
					<img id="start_img-6362" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6362">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>