<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Accurate Wheeled Robot Odometry
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8255" class = "post">
			<h2>Question</h2>
			<div id="vote-8255" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 161</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Accurate Wheeled Robot Odometry</h2>
<p>I'm looking for a "good" algorithm/model for wheeled odometry estimation. We have encoders on the two back wheels of the tricycle robot, and IMU on the controller board. Currently we use MEMS gyro for angular velocity estimation and encoders for linear velocity, then we integrate them to get the pose. But it's hard to calibrate gyro properly and it drifts (due to temperature or just imperfect initial calibration). How can we improve the pose estimation? <strong>Should we consider model that incorporates both encoders and gyro for heading estimation? Model slippage, sensor noise? Is there some nice standard model? Or should we just use more/better gyro?</strong> Not considering the visual odometry.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8255" data-toggle = "popover">
				<p>user name : DikobrAz</p>
				<p> user reputation : 216</p>
				<p class = "tagcontent" id = "usertaginfo-8255">{'odometry': 2, 'None': 10, 'wheeled-robot': 2, 'kinect': 1, 'kalman-filter': 2, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8255" class = 'collapse'>
			</div>
				<textarea id = "speech-8255" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8255">
					<img id="start_img-8255" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8255">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8259"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8259" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First, you can try adding encoders - you don't need to buy anything to do this. Only remember to perform <a href="http://www-personal.umich.edu/~johannb/Papers/umbmark.pdf" rel="nofollow">UMBmark</a> procedure first. It will allow you to get much more reliable odometry from encoders alone. </p>

<p>If adding encoders is not enough, try to add magnetometer. It will get you absolute heading relative to magnetic north. Unfortunately, these devices are very sensitive to interference from running motors, so try to keep them away.</p>

<p>As a last step I would go for a better gyro.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8259" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-8259">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8259">Load Comments</button></br>
			<div id = "commentsection-8259" class = 'collapse'>
			<div id = "comment-13226" class = "comment">
				<p>Magnetometer measurement are too bad for indoor environments, we've encoders as you might have seen in a question.</p>
			</div>
			</div>
				<textarea id = "speech-8259" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8259">
					<img id="start_img-8259" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8259">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>