<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Accurate 3D Printing W~Sketchup
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-878" class = "post">
			<h2>Question</h2>
			<div id="vote-878" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 87</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Accurate 3D Printing W~Sketchup</h2>
<p>I have 3D printers at my school, but unfortunately they are not super high quality. I want to try 3D printing a model I made on google sketchup, but I would like for it to be fairly accurate.</p>

<p>What measures can I take to prevent error in the model? I understand that I need to export the file as an STL; is there anything I can do to the model before hand to ensure accuracy? </p>

<p>What can I do to calibrate a 3D printer for best results?  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-878" data-toggle = "popover">
				<p>user name : OneChillDude</p>
				<p> user reputation : 218</p>
				<p class = "tagcontent" id = "usertaginfo-878">{'None': 2, '3d-printing': 1, 'kit': 13, 'design': 4, 'mobile-robot': 4, 'dynamics': 4, 'uav': 13}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-878">Load Comments</button></br>
			<div id = "commentsection-878" class = 'collapse'>
			<div id = "comment-2168" class = "comment">
				<p>What kind of 3D printer is it?</p>
			</div>
			<div id = "comment-2174" class = "comment">
				<p>I wish I had more details on the specs. I will know more tomorrow</p>
			</div>
			<div id = "comment-2227" class = "comment">
				<p>You might want to check out 123D (http://www.123dapp.com/).  It is a lightweight CAD package and set of tools for rapid prototyping (i.e. 3D printing) oriented for non-engineers.</p>
			</div>
			<div id = "comment-2341" class = "comment">
				<p>When exporting to .stl a resolution can be set, it is effectively the number of triangles/subdivisions. Dunno about Sketchup though.</p>
			</div>
			</div>
				<textarea id = "speech-878" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-878">
					<img id="start_img-878" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-878">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-931"  class = "post">
				<h2>Answer</h2>
			<div id="vote-931" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What I've found 3d printing with SketchUp:</p>

<ul>
<li><p>Use good geometry. Free Drawing should pretty much <strong>never</strong> be used. Make sure all of your arcs &amp; angles are clean.</p></li>
<li><p>You can <strong>not</strong> have unclosed areas. Some programs are very good about this. Sketchup is <strong>not</strong>. Lines that go no where should be removed, and all lines should be connected to the model.</p></li>
<li><p>Pick a good ruby script for exporting as an STL. There are many free scripts available, and any of them should work if you do what is mentioned above.</p></li>
</ul>

<p>Good Luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-931" data-toggle = "popover">
				<p>user name : OneChillDude</p>
				<p> user reputation : 218</p>
				<p class = "tagcontent" id = "usertaginfo-931">{'None': 2, '3d-printing': 1, 'kit': 13, 'design': 4, 'mobile-robot': 4, 'dynamics': 4, 'uav': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-931" class = 'collapse'>
			</div>
				<textarea id = "speech-931" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-931">
					<img id="start_img-931" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-931">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>