<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Accurate technique to locate position?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8818" class = "post">
			<h2>Question</h2>
			<div id="vote-8818" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 66</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Accurate technique to locate position?</h2>
<p>What is the most accurate way to locate the position and orientaion of the body during some motion (rotation and translation)?</p>

<p>I need to track the body very precisely, the required accuracy is 100-200 microns, and with rather high frequency - at least 1kHz. The body has one rotation axis. This axis can translate along the path. Normally the track has ellipse like shape, but translation path can change, that's why I need to track the body. The limit of motion is 50 cm on any direction. Maximum velocity is 5 m/s. </p>

<p>Requirments about sensors: it's possible to place any sensor on the surface, but it's impossible to change the construction. So it's impossible to use encoders at the rotation axis to measure the angle. </p>

<p>I tried to do it with MEMS 9DOF sensors, but because of the noise it's very difficult to understand when there is a motion and when it's a noise.
Another idea is to use magnet and magnetomemter, but how is it possible to measure the resolution in this way? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8818" data-toggle = "popover">
				<p>user name : Eugene</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-8818">{'navigation': 1, 'None': 0, 'kinematics': 1, 'tracks': 1, 'orientation': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8818">Load Comments</button></br>
			<div id = "commentsection-8818" class = 'collapse'>
			<div id = "comment-14494" class = "comment">
				<p>"During some motion" - What are your positional constraints? Is the total range of motion +/- 1cm or +/- 1km? What is your rotational accuracy? Are you looking for absolute or relative encoders? You tag this with accelerometers and magnetometers - are you allowed to touch the body with linear and rotary encoders? **If you explain more about your application you're more likely to get a quality answer.** How to measure *some*thing accurately is easy - use a micrometer, or a caliper, or a dial indicator, or any of the other precision measurement instruments that exist. *Your* thing may be harder.</p>
			</div>
			<div id = "comment-14495" class = "comment">
				<p>Your requirement of 100 microns is strangly particular while the rest of your question is along the lines of "I had noise with some sensor". Calling the question vague would be an understatement. Your question needs improvement. Please be more precise. Voting to close...</p>
			</div>
			<div id = "comment-14498" class = "comment">
				<p>I appreciate that you updated the question, but it's really not any clearer. If it's not possible to change the construction, how can you place any sensor on the surface? If you can't measure the rotation at the rotation axis, you *could* belt a rotary encoder to the axis of rotation. *What is the rotational accuracy*? Of course it's hard to distinguish between signal and noise - that's one of the great challenges in engineering. I'm not voting to close this question yet because you do seem to be trying, but **a picture is worth a thousand words.**</p>
			</div>
			<div id = "comment-14502" class = "comment">
				<p>What filtering did you try on your signal? I would suggest Kalman filtering. Also, you need spectacular accuracy, so maybe it's needed to use a combination of different sensors?</p>
			</div>
			<div id = "comment-14503" class = "comment">
				<p>"it's possible to place any sensor on the surface, but it's impossible to change the construction. So it's impossible to use encoders at the rotation axis to measure the angle."  Encoders could still be attached if they are, say, an optical encoder (Gray coded?).  Or a synchro (rotating transformer) might be possible if there is enough clearance in the mechanism.  But without measurements or pictures it's impossible to be sure.</p>
			</div>
			</div>
				<textarea id = "speech-8818" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8818">
					<img id="start_img-8818" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8818">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>