<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Acrylic~plastic cutting services
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2981" class = "post">
			<h2>Question</h2>
			<div id="vote-2981" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 58</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Acrylic~plastic cutting services</h2>
<p>I want to cut acrylic pieces that will be assembled into the body of a robot. What are some recommendations for acrylic/plastic cutting services? Does laser cutting produce the best results?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2981" data-toggle = "popover">
				<p>user name : Prasad Silva</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-2981">{'None': 0, 'manufacturing': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2981" class = 'collapse'>
			</div>
				<textarea id = "speech-2981" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2981">
					<img id="start_img-2981" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2981">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2984"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2984" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just signed up to answer the question!</p>

<p>I have always found I get the best results laser cutting when using acrylic, would highly recommend it. Have made robots from some solid 6mm accrylic before. It looks nice, it's strong, pretty light, quick to cut, and it's easy to make more robots later!</p>

<p>I would also recommend using acrylic glue to hold the body together:
<a href="http://www.cutlasercut.com/resources/tips-and-advice/bonding-and-glueing-acrylic-and-plastics" rel="nofollow">http://www.cutlasercut.com/resources/tips-and-advice/bonding-and-glueing-acrylic-and-plastics</a></p>

<p>I managed to get hold of some which was UV cured, and only took about 20 minutes to dry in the sun. This stuff is pretty toxic, would recommend using it outside anyway.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2984" data-toggle = "popover">
				<p>user name : Pikey</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-2984">{'None': 4, 'lidar': 0, 'kinect': 0, 'slam': 0, 'mobile-robot': 0, 'ros': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2984">Load Comments</button></br>
			<div id = "commentsection-2984" class = 'collapse'>
			<div id = "comment-5502" class = "comment">
				<p>Thanks for the comment! Any specific recommendations for (online) laser cutting services?</p>
			</div>
			<div id = "comment-5510" class = "comment">
				<p>Have always done it locally, I live in New Zealand and have had access to laser cutters for the last few years through uni, work, and friends. What thickness acrylic are you looking to use. If you can find someone with a cheapish desktop laser printer, it should do the trick. Can pick them up very cheap from China these days: [link](http://www.aliexpress.com/item/CO2-Laser-Engraving-Machine-Cutting-printer-220V-40W-laser-cutter-engraving-printing-Mini-Laser-Cutting-Machine/1761629383.html)</p>
			</div>
			</div>
				<textarea id = "speech-2984" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2984">
					<img id="start_img-2984" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2984">Comment</button>
			<br><div id = "ans-2994"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2994" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We use a laser in our robotics program and they work well, but may sometimes aesthetically scar the edges a bit on transparent pieces. Also, for the most durable robot, I would reccomend lexan polycarbonate instead of acryllic or plexiglass. You can hit lexan with a hammer and it won't shatter and you can cut it using tin snips if need be. A band saw is also a good way to cut plastics.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2994" data-toggle = "popover">
				<p>user name : user2201182</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-2994">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2994" class = 'collapse'>
			</div>
				<textarea id = "speech-2994" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2994">
					<img id="start_img-2994" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2994">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>