<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Actuator to control steam valve
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2362" class = "post">
			<h2>Question</h2>
			<div id="vote-2362" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 272</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Actuator to control steam valve</h2>
<p>I have a steam radiator at home and it has a valve similar to the picture below.</p>

<p><img src="https://i.stack.imgur.com/Ukvhd.jpg" alt="enter image description here"></p>

<p>Please note that the valve doesn't have grooves on top to attach things to.</p>

<p>I want to build something to turn it on and off depending on the temperature at certain points in the room.</p>

<p>I have that taken care of but cannot find a way to attach a actuator(actuator is the right word in the context I guess?) to turn the valve in both directions.</p>

<p>Also It is a rented apartment so I would like to avoid making any modifications to the radiator itself.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2362" data-toggle = "popover">
				<p>user name : SteveIrwin</p>
				<p> user reputation : 92</p>
				<p class = "tagcontent" id = "usertaginfo-2362">{'None': 0, 'power': 2, 'valve': 2, 'stepper-driver': 2, 'actuator': 2, 'mobile-robot': 3, 'stepper-motor': 2, 'sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2362">Load Comments</button></br>
			<div id = "commentsection-2362" class = 'collapse'>
			<div id = "comment-4614" class = "comment">
				<p>There's no screw on the valve that lets you change the manipulator on the top? Normally that valves require a high torque, and so the mechanical join should be up to that torque.</p>
			</div>
			<div id = "comment-4630" class = "comment">
				<p>Sorry for the late reply but I just checked and yes the manipulator can be removed!!Also the valve seems to be fairly free and requires very less effort to open and close.Even with the manipulator removed, what am I supposed to replace it with?</p>
			</div>
			<div id = "comment-4631" class = "comment">
				<p>well that's good, I added an answer then.</p>
			</div>
			<div id = "comment-4634" class = "comment">
				<p>If you don't have the ability to machine a part to fit, a hacky way is to buy a similar manipulator in a plumbing/hw shop and glue a gear or a pulley to it.  You can then mount the entire "assembly" on.  If this isn't clear I can try to draw it up...</p>
			</div>
			<div id = "comment-4649" class = "comment">
				<p>@GuySirton I have the ability to machine simple parts.I would like to see that assembly drawing you mentioned here.Thanks.</p>
			</div>
			<div id = "comment-4723" class = "comment">
				<p>How many degrees rotation does this valve need from full-on to full-off?</p>
			</div>
			<div id = "comment-4738" class = "comment">
				<p>It's more than 360 degrees.</p>
			</div>
			</div>
				<textarea id = "speech-2362" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2362">
					<img id="start_img-2362" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2362">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2364"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2364" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>If the valve has enough traction with a rubber band<sup>1</sup></strong>, you can use one to control the valve as in the image below.</p>

<p><img src="https://i.stack.imgur.com/881Bl.png" alt="enter image description here"></p>

<p>To make sure the rubber band doesn't start falling over time due to gravity, you could attach a half-circular plate under the valve, so the rubber band wouldn't slowly slide down as it would rest on that plate. Note that the amount of the pressure on the plate should be very small, since the rubber band is quite stretched to provide enough stretch for rotation, so a not so strong glue might do the trick for that plate.</p>

<p><sup>1</sup> This both depends on the material it's made of and quite importantly, how much torque is required to turn the valve.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2364" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-2364">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2364">Load Comments</button></br>
			<div id = "commentsection-2364" class = 'collapse'>
			<div id = "comment-4620" class = "comment">
				<p>Well, I think that is really difficult for these valves. I don't know these, but by the OP post, I think they require a large amount of torque. Also my suggestion to the drawing: The motor should be put in smaller diameter than the manipulator of the valve and near it, this would put more rubber on the circumference of the valve. Also too much lateral force and the valve could wear fast.</p>
			</div>
			<div id = "comment-4622" class = "comment">
				<p>@DiegoCNascimento, thanks for the pointers. I'm actually a software programmer, so my knowledge of mechanics is rather limited.</p>
			</div>
			</div>
				<textarea id = "speech-2364" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2364">
					<img id="start_img-2364" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2364">Comment</button>
			<br><div id = "ans-2368"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2368" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, being the manipulator removable, so you can attach other thing to the valve shaft, you have so much options.</p>

<h1>Mechanical coupling</h1>

<p>You could use a coupled rotary actuator to the shaft by the means of a shaft coupler. There's many types, this is a <a href="https://c10645061.ssl.cf2.rackcdn.com/product/icongo/icg_39276_motorshaftcoupler.jpg" rel="nofollow noreferrer">simple one</a>, but you probably would not get the actuator axle full aligned with the valve shaft, so a coupler that permits some misalignment is desirable, like these:</p>

<p><a href="http://www.abssac.co.uk/uploads/products/cat_pp651_coupling%20jaw%202.jpg" rel="nofollow noreferrer">rubber shaft coupler http://www.abssac.co.uk/uploads/products/cat_pp651_coupling%20jaw%202.jpg</a></p>

<p>Every coupler has its specifications and types of misalignment it will support.</p>

<p>You can use a belt or chain transmission too. Then you need to attach a pulley or sprocket to the valve axle.</p>

<p><strong>Chain and sprocket transmission</strong>
<br><img src="https://www.excelcalcs.com/images/repository/Chain%20Sprocket%20to%20Sprocket%20Center%20Distance.png" alt="chain and sprocket transmission"></p>

<p><strong>Synchronous belt transmission</strong>
<br><img src="https://1.bp.blogspot.com/-wR4ZIpSVgik/ThOS7lOlUpI/AAAAAAAAAC0/1GU_5Tc5qsU/s1600/7-5-2011%2B4-26-04%2BPM.png" alt="Synchronous belt transmission"></p>

<p>A possible problem with these two option is the lateral force the transmission could put on the valve shaft, as it has not made to support this, it probably will wear. <sup>One way to overcome this is to use a shaft coupler to a bearing with the transmission, so the lateral force will be supported by the bearing.</sup></p>

<h1>Electro-mechanical actuator</h1>

<p>For actuating the valve, you can use a couple of options.</p>

<ul>
<li>A stepper motor.</li>
<li>A DC brushed-motor with a reduction gearbox like this</li>
</ul>

<p><a href="http://www.precisionmicrodrives.com/uploads/media_items/12mm-geared-motor.260.210.r.s.jpg" rel="nofollow noreferrer">DC brushed-motor with gearbox show http://www.precisionmicrodrives.com/uploads/media_items/12mm-geared-motor.260.210.r.s.jpg</a>
<br><sup>The gears are show for illustration purposes, they are normally enclosed.</sup></p>

<p>There's many types of reduction gearbox too, I will not extend into this on this answer.</p>

<p>You probably need some way of knowing the position of the valve shaft (feedback). It can be a multi-turn potentiometer for simple analog output.</p>

<h1>RC servo motor</h1>

<p>If the valve needs less than 1 turn you can try to use an <strong>RC servo-motor</strong>, they have a DC-brushed motor, a reduction gearbox, a potentiometer for feedback, and a control circuit. You then feed with the angle position in a signal modulated by a technique know as PWM. Along the fact that the valve will operate at less than a 360  angle, you need to be sure the torque of the <strong>RC servo motor</strong> will be superior to the needed. Also metal gears and shaft will provide a more robust system, considering the torque.</p>

<h1>Assembly</h1>

<p><img src="https://i.stack.imgur.com/TSwRl.gif" alt="assembly">
<br><sup>@DiegoCNascimento the image can be used with credits</sup></p>

<p>Here's a final assembly possibility. You should be sure the pipe could support the forces involved with a safety margin, if not, use the <em>wall mount</em> supports.</p>

<hr>

<p>Note: some valves main axles will go up or down when rotated, if this is the case the mechanical coupler should support this.</p>

<p><strong>I do not assume any responsibility by any damage or injure in the mounting of this, the user should have plenty attention he/she is working with high-temperature and high-pressure parts that can pose danger.</strong></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2368" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-2368">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2368">Load Comments</button></br>
			<div id = "commentsection-2368" class = 'collapse'>
			<div id = "comment-4633" class = "comment">
				<p>Great ideas.  I would avoid the coupling due to alignment issues, as you mention.  You can also use a largeish gear and a smaller drive gear.  Do you have some ideas though about how the OP can mount his motor?</p>
			</div>
			<div id = "comment-4638" class = "comment">
				<p>@GuySirton thanks. I tried to use images for the transmission that showed the reduction in the sprocket or pulley :) Maybe a bit more clear. Anyway I will try to avoid this because of lateral force on the valve axis, so I think a coupler will be more interessing, I don't think aligning it will be dificult, just making a support that can be adjusted, but there's one thing I forget at writing I will add later, that is some valves axis tend to go up or down, if it the case a shaft coupler that tolerate this misalignment would solve the issue. I will try to add a idea for the support later.</p>
			</div>
			<div id = "comment-4648" class = "comment">
				<p>@DiegoCNascimento Excellent answer.However I searched online but couldn't find a coupler.Perhaps a link would be great.Also I would like to know more about adding a support for the motor.I have access to a small workshop and can machine simple parts.Thanks for helping out though.</p>
			</div>
			<div id = "comment-4650" class = "comment">
				<p>@Stevelrwin well I search for _shaft coupler_ will return lots of options, should not be difficult to get one. I will try to post anything about the support</p>
			</div>
			<div id = "comment-4652" class = "comment">
				<p>Well, now there is a sketch of the assembly.</p>
			</div>
			<div id = "comment-4653" class = "comment">
				<p>@DiegoCNascimento That is just perfect.I have a high torque stepper motor lying around.Along with a pot , this assembly is going to be perfect!Thanks a lot for the meticulous sketch and answer.+1 for the disclaimer :)</p>
			</div>
			<div id = "comment-4722" class = "comment">
				<p>You might consider a bevel or worm gear, they appear to fit this problem better, http://www.fi.edu/time/Journey/Time/Escapements/geartypes.html</p>
			</div>
			<div id = "comment-4724" class = "comment">
				<p>A rack and pinion gear could allow you to 'hide' the assembly behind the radiator, a hypoid gear would allow offset from the center, and the harmonic drive could be mounted outside your valve for a clean assembly, http://en.wikipedia.org/wiki/Gear</p>
			</div>
			<div id = "comment-4725" class = "comment">
				<p>@ChuckCottrill did you read about the harmonic drive? Look at their cost and the small number of manufacturers. I think there's just two. Also making the gearing itself doesn't seems a more easy way, this requires access to good materials, and specialized machinery. The more realistic you said is the worm gear, if it has a motor with it then it could use, but they are less efficient than planetary ones.</p>
			</div>
			</div>
				<textarea id = "speech-2368" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2368">
					<img id="start_img-2368" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2368">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>