<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Adding an Actuator or Force to a (Featherstone) Articulated Rigid Body Model
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7278" class = "post">
			<h2>Question</h2>
			<div id="vote-7278" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 215</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Adding an Actuator or Force to a (Featherstone) Articulated Rigid Body Model</h2>
<p>I'm working on a project where I need to model a system that is essentially comprised of a series of ball-and-socket joints attached to a base, which is attached in turn to a prismatic joint (rail). </p>

<p>I've read Roy Featherstone's <em>Rigid Body Dynamics Algorithms</em> cover-to-cover, and I've also read the <em>Dynamics</em> section from the <em>Springer Handbook of Robotics</em> (also written by Featherstone). </p>

<p>It took me a long time to get acclimated to using his "spatial vector" and "spatial matrix" notation, but after re-creating all of his notation by hand as an exercise it works out to just be a nice way of concatenating 3x3 and 3x1 matrices and vectors into 6x6 and 6x1 matrices and vectors. The maths he invents to perform operations can be a bit tedious to read as he hijacks some standard notation, but overall everything is very compact, very easy to implement in MATLAB. </p>

<p><strong>My problem is this:</strong> How do I add actuators to the model? He walks through explicitly configuring the joint definitions, link definitions, etc., but when it comes to actuators or applied forces he says something like, "Just add a $\tau_a$ here and Bob's your uncle!" - it's not discussed at all. In the <em>Handbook of Robotics</em> he suggests introducing a false acceleration to the fixed base to add the gravitational force term, but doesn't show how to add it in local coordinates nor does he mention how to add the actuator input. </p>

<p>Any help would be greatly appreciated. I've considered starting over with a different book, but it's going to be a great expense of my time to re-acclimate myself to a different set of notation. I'd like to move forward with this, but I feel like I'm just a few inches shy of the finish line. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7278" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7278">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7278" class = 'collapse'>
			</div>
				<textarea id = "speech-7278" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7278">
					<img id="start_img-7278" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7278">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7527"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7527" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you haven't come across the <a href="http://rbdl.bitbucket.org/df/d65/modeling_page.html" rel="nofollow">Rigid Body Dynamics Library (RBDL)</a> you might want to look at how they implement it, and/or contact the author Martin Felis.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7527" data-toggle = "popover">
				<p>user name : Barrett Ames</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-7527">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7527">Load Comments</button></br>
			<div id = "commentsection-7527" class = 'collapse'>
			<div id = "comment-10835" class = "comment">
				<p>Barrett, I found the RBDL some weeks ago and while I've gone back and forth at times trying to glean information, it's written in C++ with methods that make it hard to follow the code. For example, there's a line in the kinematics code that reads `G.block(0,q_index,6,1) = base_to_body.apply(model.X_base[j].inverse().apply(model.S[j]));`. So, what does the function `apply` do? Well, I have to go to the header file for whatever class `base_to_body` is, but is that a joint or a body? Also, things like `model.base[j].inverse().apply(model.S[j])` aren't especially clear either.</p>
			</div>
			<div id = "comment-10836" class = "comment">
				<p>Which doesn't mean that it hasn't been useful at times, but for me to gain understanding from the RBDL takes a lot of effort.</p>
			</div>
			<div id = "comment-10875" class = "comment">
				<p>Welcome to *robotics* Barrett Ames, thanks for your answer but we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content does rot. If you add more context from the link, it is more likely that people will find your answer useful.</p>
			</div>
			</div>
				<textarea id = "speech-7527" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7527">
					<img id="start_img-7527" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7527">Comment</button>
			<br><div id = "ans-7561"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7561" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h3>Actuators Forces</h3>

<p>Do I get this right: you have a theoretical model of a rigid multibody system and would like to perform rigid body dynamics computations. You have implemented the model and now would like to compute how the model behaves when driven by an actuator.</p>

<p>However what is an actuator for you? Is it simply a force acting at that joint? Is it a DC motor model? Is it a PID controller?</p>

<p>The dynamics algorithms in the book are described in terms of generalized positions $q$, generalized velocities $\dot{q}$, generalized velocities $\ddot{q}$, and generalized forces $\tau$. If you have a prismatic joint whose's translation is described by $q_i$ then the linear force at that joint is described by $\tau_i$. If you have a revolute (hinge) joint whose's rotation is described by $q_j$ then $\tau_j$ represents a torque at that joint.</p>

<p>It is up to your understanding of an actuator how $\tau$ is computed. If you simply want to apply forces or torques then put the values into the corresponding values of $\tau$. Once you have that they serve as an input to the forward dynamics algorithms to compute the systems response to the applied forces.</p>

<p><em>Note beside:</em> Featherstone uses $\tau^a$ to denote the active loop closure forces. From your model description there does not seem to be any kinematic loops and therefore $\tau^a$ does not apply.</p>

<h3>Gravitational Acceleration:</h3>

<p>Featherstone applies the gravitational acceleration at the base and lets it propagate by the algorithms through the tree. This is done in the RNEA, Table 5.1 in the line</p>

<p>$a_0 = -a_g$.</p>

<p>Instead of doing that you can also modify the line</p>

<p>$f_i^B = I_i a_i + v_i \times^* I_i v_i$</p>

<p>to </p>

<p>$f_i^B = I_i (a_i - {}^iX_0a_g) + v_i \times^* I_i v_i$</p>

<p>to apply the gravitational effects individually on each body. This introduces additional computations and I do not see any benefits in doing so.</p>

<h3>Spatial Algebra vs. Concatenation of 3-D Vectors</h3>

<p>Spatial Algebra is not just concatenation of 3-D vectors. The former expresses rigid body motions at a fixed coordinate frame, whereas the latter is expressed at points that move with the body. As a result spatial accelerations are the time derivatives of spatial velocities. In the classical notation using two 3-D equations this is not the case (Section 2.11 of Featherstone's book):</p>

<p>If a body has a constant angular velocity $\omega$ then all points on that body that are not on the axis of rotation have an acceleration towards the axis of rotation (center of rotation in the planar case). In Spatial Algebra this body has zero spatial acceleration <em>independent of the frame the acceleration is expressed in</em>.</p>

<p>Spatial velocity describes linear and angular velocity of the body point that currently coincides with the origin of the (fixed) reference frame. If that frame is expressed at the center of mass and oriented with the global reference frame then it appears to be a simple concatenation of 3-D linear and angular velocity, however this is only the case for this specific choice of reference frame. Expressed at a different frame you get different values but it still represents the same spatial velocity.</p>

<p>Spatial acceleration describes the <em>flow</em> of the linear and angular velocity of the point that coincides with origin. "Flow" here means how the vector quantities (linear and angular velocity) change over time.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7561" data-toggle = "popover">
				<p>user name : Martin Felis</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-7561">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7561">Load Comments</button></br>
			<div id = "commentsection-7561" class = 'collapse'>
			<div id = "comment-10911" class = "comment">
				<p>I've been working hard to implement this algorithm, but I've tried to be as methodical as I can along the way, ensuring even the most basic aspects work exactly as expected every time. To that end, I've set up a number of experiments where I can calculate the exact solution so I can compare the simulated solution.</p>
			</div>
			<div id = "comment-10912" class = "comment">
				<p>The last aspect I've been working on has been the spherical joint - getting the quaternion representation and accelerations. For this experiment I'm attempting to simulate a Foucault pendulum by modeling the earth and putting a pendulum with a spherical joint on the surface. In doing so, my fixed base is the center of the earth, about which the Earth rotates. Then, from the rotating center of the Earth, I can rotate up/down to any latitude, translate to the surface, where I place my spherical joint pendulum.</p>
			</div>
			<div id = "comment-10913" class = "comment">
				<p>I needed a way to add gravity because I couldn't just put it on the z-axis on my fixed base; this would have gravity work correctly only at the North Pole. Essentially, I don't care about forces below the surface of the earth, I just care about the precession of the pendulum.</p>
			</div>
			<div id = "comment-10917" class = "comment">
				<p>I've [asked a related question](http://robotics.stackexchange.com/questions/7573/how-to-handle-a-fixed-joint-in-a-featherstone-articulated-rigid-body-model) about how I should handle fixed joints.</p>
			</div>
			</div>
				<textarea id = "speech-7561" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7561">
					<img id="start_img-7561" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7561">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>