<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Adding reverse function to a brushed motor electronic speed controller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4657" class = "post">
			<h2>Question</h2>
			<div id="vote-4657" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 592</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Adding reverse function to a brushed motor electronic speed controller</h2>
<p>This is for a Hobby-weight (5.44 Kg) battle robot.</p>

<p>I bought two ESCs for my drive motors but the ESCs do not have a reverse function (or brake for that matter).</p>

<p>Is there any simple way I can achieve this through maybe either: </p>

<ol>
<li><p>The R/C settings (setting middle position of joystick as stopped, top-wards as forward and bottom-wards as reverse?) </p></li>
<li><p>Or could I maybe achieve this using Arduino? I have a card with relay switches that I can use with the Arduino so am not worried about high voltage or current but I am worrying it could get messy..</p></li>
</ol>

<p>I could just buy two new ESCs with the above features but they cost quite a bit more than the ones I already have so I would prefer to try a few tricks first - if there are any!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4657" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4657">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4657" class = 'collapse'>
			</div>
				<textarea id = "speech-4657" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4657">
					<img id="start_img-4657" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4657">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4661"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4661" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your ESC does not provide reverse functionality, it will never do.</p>

<p>The "reverse" mode can be achieved in general by swapping any two motor cables. I would do this with the arduino setup in combination with your R/C settings.
Arduino can easily get the RC information from a receiver. </p>

<p>Now it depends on your relays, you may achieve it with 2 relays, but if the relays are not the right ones you need 4 of them</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4661" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4661">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4661">Load Comments</button></br>
			<div id = "commentsection-4661" class = 'collapse'>
			<div id = "comment-7281" class = "comment">
				<p>This sounds crude but seems like it might be more (conceptually) straightforward for a newbie like myself. I do have boards with 2, 4 and even 8 relays so I should be able do do it this way. Probably I could activate the reverse function with a radio control switch connected to a pin on Arduino. However in the meantime I ordered two new controllers with reverse and braking so for the moment the problem is solved (assuming the controllers arrive in time). Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-4661" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4661">
					<img id="start_img-4661" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4661">Comment</button>
			<br><div id = "ans-4664"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4664" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To enable reverse, a popular design is to use an <a href="http://en.wikipedia.org/wiki/H_bridge" rel="nofollow noreferrer">H-bridge</a> (essentially a circuitry version of manually flipping the polarity of the wires) placed between your ESC and the motor.  According to <a href="https://electronics.stackexchange.com/a/103040/45292">this answer</a>, H-bridges are a normal part of an ESC output stage -- that your ESC appears to lack.  </p>

<p>Although it could be built with relays, it may be better for your ESC and/or motors to select an appropriate semiconductor-based H-bridge.  There are ICs available specifically for this purpose.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4664" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4664">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4664" class = 'collapse'>
			</div>
				<textarea id = "speech-4664" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4664">
					<img id="start_img-4664" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4664">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>