<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Adding Rotary Encoders to an Electronic Wheel Chair
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-819" class = "post">
			<h2>Question</h2>
			<div id="vote-819" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1335</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Adding Rotary Encoders to an Electronic Wheel Chair</h2>
<p>We have an electric wheel chair, and are looking to add a rotary encoder to each wheel.  We don't want to hack the motor itself, so want to add the encoder without harming the motor-to-wheel connection.  We will be using an arduino to read the signal.</p>

<p>Does anyone have any experience adding rotary encoders to already assembled wheel assemblies?  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-819" data-toggle = "popover">
				<p>user name : Toozinger</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-819">{'control': 5, 'quadcopter': 5, 'None': 1, 'arduino': 12, 'microcontroller': 6, 'servomotor': 5, 'esc': 5, 'sensors': 1, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-819" class = 'collapse'>
			</div>
				<textarea id = "speech-819" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-819">
					<img id="start_img-819" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-819">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-820"  class = "post">
				<h2>Answer</h2>
			<div id="vote-820" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An <a href="https://www.google.com/search?q=optical%20encoder%20disk&amp;hl=en&amp;tbo=u&amp;tbm=isch&amp;source=univ&amp;sa=X&amp;ei=hvv8UKSBEMraigLkg4GQBA&amp;ved=0CFkQsAQ&amp;biw=1524&amp;bih=1088" rel="nofollow noreferrer">optical encoder</a> is fairly simple to add to an existing wheel.</p>

<p><img src="https://i.stack.imgur.com/GDZKa.png" alt="enter image description here"></p>

<p>Essentially you mount a photosensor that can detect notches or patches on a disk as it rotates with the wheel. You could use through hole light detection as well.</p>

<p>The circuit design is fairly straight foward
<img src="https://i.stack.imgur.com/TIfWj.png" alt="enter image description here"></p>

<p>And your arduino program counts the number of pulses it receives. Knowing the number of ticks per revolution, and wheel size, you can get accurate odometry.</p>

<p>Another solution that may work for you is add on encoders for DC motors. Their original intent is to make a regular motor a Servo motors, but would work great for this task as well. The only real difference being that a servo motor uses the information in a closed loop to position the motor, as opposed to just keeping track of it.</p>

<p><img src="https://i.stack.imgur.com/iPUKQ.jpg" alt="enter image description here"></p>

<p>And one other solution I thought of - if your wheel chair has spokes like a bicycle, then a magnet like <a href="http://www.ebay.com/itm/Universal-Cat-Eye-Wheel-Spoke-Magnet-Speed-Sensor-CatEye-4-ANY-Bicycle-Computer-/150765504458" rel="nofollow noreferrer">this</a> would be easy to attach, and a magnetic sensor, very similar to the above light detection circuit could be located on the chair/frame. That would probably be the least intrusive to implement. If you needed more than 1 per revolution accuracy, just add more magnets to more spokes, as long as they are distributed evenly.</p>

<p><img src="https://i.stack.imgur.com/Atj2x.jpg" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-820" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-820">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-820" class = 'collapse'>
			</div>
				<textarea id = "speech-820" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-820">
					<img id="start_img-820" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-820">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>