<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Additional Power to DC Motor via Second Power Source
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1324" class = "post">
			<h2>Question</h2>
			<div id="vote-1324" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 179</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Additional Power to DC Motor via Second Power Source</h2>
<p>How can I provide more power to a DC motor that is in series behind a receiver circuit hacked out of a cheap RC car without burning up the receiver board? The board runs off two AAs at about 3V. I'm replacing the stock motor with a slightly larger one (12V, taken from a printer) and remounting it on a chassis for a homebrew robotics project... just messing around to learn more. I imagine I could go safely to 4.5V or even 6V with the receiver but I don't want to go much higher since half the stuff is epoxied and I can't really tell what's in there.</p>

<p>What I'd like to be able to do is add an additional two AA batteries behind the receiver to run the receiver system at 6V but add another two 3V 123A batteries to have the motor at 12V with the ability to run with the higher current draw due to the heavier load the motor will handle on its fancy new chassis... but without pulling that current through the receiver circuit.</p>

<p>My first thought is to simply connect my 123As negative to the motor and positive to a common ground... but I'm really not sure and I want to be careful to not damage the circuit or batteries. My next thought is to simply build a single power supply out of my 123As and use a current divider but I've only read about them and never actually tried so.</p>

<p>I've been doing some of those kiddie "electronic playgrounds," a few books and probably cost Google an extra few bucks in energy costs and I'm still kinda at a loss.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1324" data-toggle = "popover">
				<p>user name : sraboy</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-1324">{'None': 0, 'power': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1324" class = 'collapse'>
			</div>
				<textarea id = "speech-1324" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1324">
					<img id="start_img-1324" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1324">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1326"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1326" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is safest to isolate the power supply for the motors from the electronics.</p>

<p>Normally, there is a single top-level power supply, eg. at 12V. This can supply the motors and other actuators directly. Because electronics normally run at 5V or 3V, a voltage regulator is often used to decrease the voltage (it taps into the 12V supply, and outputs a regulated 5V for the electronics). This is good, because the current motors draw can change quickly and may sometimes affect the power supply. In this case, if the voltage regulator is insufficient, capacitors may be added across the 12V supply, but this is not often required.</p>

<p>In your case, supposing you don't want to use a voltage regulator, you should have separate battery cells supply your electronics (at 3V), and another stack of cells at 12V to run your motors. You can then connect the ground of each circuit to each other to provide a common reference for your motor control signals. This setup again prevents the motors from affecting the voltage supplied to your electronics (assuming they draw a relatively constant, low current, won't require voltage regulation, although you might add a few capacitors to help with this - especially when you have op-amps or other switching electronics). Also, each cell in each battery stack will have the same current drawn from it. This avoids the some batteries in a stack having more charge than others, or having more current drawn.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1326" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-1326">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1326" class = 'collapse'>
			</div>
				<textarea id = "speech-1326" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1326">
					<img id="start_img-1326" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1326">Comment</button>
			<br><div id = "ans-6552"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6552" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I cannot comment yet; this is a supplement to ronalchn's answer.</p>

<p>Using an opto-isolator between the logic output and the motor control input 100% isolates the two circuits from each other and makes [multiply-]split-supplies trivial.</p>

<p>DGND > Digital > Opto &lt; Analog &lt; AGND</p>

<p>Under extreme demands, a second opto could engage an entirely different set of batteries, charged to a higher voltage. You would want to be careful not to turn both on at the time time...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6552" data-toggle = "popover">
				<p>user name : Jon</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-6552">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6552" class = 'collapse'>
			</div>
				<textarea id = "speech-6552" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6552">
					<img id="start_img-6552" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6552">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>