<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Advanced Line Following Robot of Maze Solving
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8293" class = "post">
			<h2>Question</h2>
			<div id="vote-8293" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 614</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Advanced Line Following Robot of Maze Solving</h2>
<p>I know how to make a line follower. But in <a href="https://www.youtube.com/watch?v=5At_u5rnh2U" rel="nofollow">this video</a> what have they done exactly? They are giving the source and destination in the map but how the robot moves based on the instruction given in map?</p>

<p>What is the procedure to do it? They have mapped the path. Please do watch the video.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8293" data-toggle = "popover">
				<p>user name : Karthik</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-8293">{'None': 0, 'wheeled-robot': 0, 'mapping': 0, 'line-following': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8293">Load Comments</button></br>
			<div id = "commentsection-8293" class = 'collapse'>
			<div id = "comment-13273" class = "comment">
				<p>Can you please clarify your question? I can't tell what exactly you need help with.</p>
			</div>
			<div id = "comment-13274" class = "comment">
				<p>I know how to make a line follower. But in this video what have they done exactly? They are giving the source and destination in the map but how the robot moves based on the instruction given in map?</p>
			</div>
			<div id = "comment-13275" class = "comment">
				<p>I believe I understand what he means as I've done this project before. I'll edit his question to make it clear when I'm home (in about 4 hours). Don't delete it yet. He means he wants to calculate which direction the robot has to go if only the route is calculated.</p>
			</div>
			<div id = "comment-13276" class = "comment">
				<p>Can't get you sir, Fine if you have done this project just explain me the procedures in answer sir please.</p>
			</div>
			</div>
				<textarea id = "speech-8293" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8293">
					<img id="start_img-8293" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8293">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8297"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8297" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>See <a href="https://robotics.stackexchange.com/q/7739/9720">this similar question</a> and <a href="https://robotics.stackexchange.com/a/7743/9720">my answer to it</a>. The question I linked asks for how to handle an unknown starting position, but it seems similar in that you and the other OP are both asking "how do I go from Dijkstra's algorithm to implementation?" </p>

<p>Essentially, Dijkstra's algorithm only requires to you give a <a href="https://en.wikipedia.org/wiki/Directed_graph" rel="nofollow noreferrer">digraph</a> with a set of distances or "costs" between the two points. Dijkstra's algorithm gives you the series of <a href="https://en.wikipedia.org/wiki/Waypoint" rel="nofollow noreferrer">waypoints</a> that will get you/your vehicle from any one arbitrary point to another arbitrary point at the lowest cost, <em>based on the cost information you provided</em>. If you don't give it correct cost information it won't give you the optimal route; this is akin (actually) a map routing program that might send you on a back road because it only looked at distance and not distance at a given speed limit, or through a downtown area in rush hour because it doesn't account for traffic. </p>

<p>So it is up to you to calculate the distances between points and to know the physical relationship between two points. (read:<a href="https://en.wikipedia.org/wiki/Course_(navigation)#Aircraft_heading" rel="nofollow noreferrer">heading</a>) </p>

<p>So, for example, if you store all of the coordinates for the points in addition to the digraph and distances, you could try:</p>

<pre><code>currentWaypoint = [x0,y0];
nextWaypoint = [x1,y1];
currentHeading = theta0;

nextHeadingAbsolute = atan2( (y1-y0) , (x1-x0) );
nextHeadingRelative = nextHeadingAbsolute - currentHeading;

driveDistance = sqrt( (x1-x0)^2 + (y1-y0)^2 );

turnRobot(nextHeadingRelative);
driveRobot(drivieDistance);
</code></pre>

<p>This snippet/example assumes that you measure heading as 0 <em>radians</em> as the +x-axis, with angle increasing in a counter-clockwise direction. You can make any other axis be the zero by adding an offset, and can convert to degrees if you desire. </p>

<p>Basically you just find the angle between the coordinates relative to the global x/y axes, then subtract your current heading from that. Drive distance would then be along the hypotenuse, which you can calculate using the Pythagorean Theorem.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8297" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8297">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8297">Load Comments</button></br>
			<div id = "commentsection-8297" class = 'collapse'>
			<div id = "comment-13277" class = "comment">
				<p>No sir, I don't want about Dijkstra. I know about that algorithm. What is that I need is have they mapped the path? If so how did they map? And how do they pass information for automation based on the map?</p>
			</div>
			<div id = "comment-13278" class = "comment">
				<p>@Karthik - As I mentioned in my answer, the easiest way would be to have the coordinates for all of the points. You tell the Dijkstra algorithm where to start and end and the algorithm then tells every step along the way. Get the coordinates for the step you are on and the next step along the path and use the code snippet I wrote to get the angle to turn and the distance to drive.</p>
			</div>
			<div id = "comment-13279" class = "comment">
				<p>Sir, I have updates my need in the previous. Need answer for that. These answers seems to get no value for the questions.</p>
			</div>
			<div id = "comment-13280" class = "comment">
				<p>@Karthik - Please update your question then; I don't know what you need help with. I thought you wanted to know how to determine to turn and how far to drive.</p>
			</div>
			<div id = "comment-13281" class = "comment">
				<p>Yes, here I have edited sir. Can you see the video sir? How they transfer the instruction with help of mapped image?</p>
			</div>
			<div id = "comment-13282" class = "comment">
				<p>@Karthik They are very likely to generate a array with instructions like: `(("left",100),("right",10),("forward",20)) probably over bluetooth or wifi. The robot will then execute these commands by driving left for 100cm, driving right for 10cm and driving forward for 20cm.</p>
			</div>
			</div>
				<textarea id = "speech-8297" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8297">
					<img id="start_img-8297" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8297">Comment</button>
			<br><div id = "ans-8298"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8298" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like there are 3 main components to the demonstration in this video.  </p>

<h3>1. Creating the map</h3>

<p>Navigation requires a map of the robot's environment -- it looks like this was done manually.  It doesn't matter whether you create the digital map based on the real-world map, or a real-world map based on a contrived digital map.  But the maps must match.</p>

<h3>2. Computing the path</h3>

<p>As mentioned in <a href="https://robotics.stackexchange.com/a/8297/350">Chuck's answer</a>, <a href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm" rel="nofollow noreferrer">Dijkstra's algorithm</a> can compute a path through a map -- one of many methods of doing so, but probably the most appropriate for this problem.  However, you need a bit more than Dijkstra here; the final path is not just the list of nodes you will travel through, but what direction you need to turn at each node (i.e. how many lines the line sensor will need to cross over) in order to be on the line leading to the next node in the path. </p>

<p>I would imagine that the instructions set to the robot are just a simple list of how many paths to rotate over at each intersection.  Like <code>[-1, -1, 1, 1, 0]</code>.  This assumes a known starting point and orientation.</p>

<h3>3. Following the path</h3>

<p>This seems like a straightforward application of a line-following robot.  It looks like this robot is also able to detect the intersections.</p>

<p>In their video, they provide a huge piece of manual assistance: placing the robot at a known starting location.  All that the robot does is follow the lines, and at each detected intersection executes a turn according to the list of turns it received as instructions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8298" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-8298">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8298" class = 'collapse'>
			</div>
				<textarea id = "speech-8298" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8298">
					<img id="start_img-8298" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8298">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>