<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>affordable and easy to use one dimensional force sensor or load-cell
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14090" class = "post">
			<h2>Question</h2>
			<div id="vote-14090" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 19</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>affordable and easy to use one dimensional force sensor or load-cell</h2>
<p>In our lab we mostly use ATI 6DOF force sensors, but they are so difficult that I just want to kill myself every time I have to use them. The reasons I don't like them are:</p>

<ol>
<li>For the version I have (<a href="http://www.ati-ia.com/products/ft/ft_models.aspx?id=Mini45" rel="nofollow noreferrer">Mini45</a>), I have to use a NI DAQ to read data from and NI DAQmx drivers are only x86 and mostly windows, not compatible with mac, <a href="https://arduino.stackexchange.com/questions/43990/how-to-read-data-from-an-ni-daq/44015?noredirect=1#comment86883_44015">Arduino</a> or <a href="https://raspberrypi.stackexchange.com/questions/71614/how-to-read-data-from-an-ni-daq-usb-6259">Rasperry pi</a> which I use to control experimental setups.</li>
<li>I could have used one of those <a href="http://www.ati-ia.com/products/ft/ft_NetFT.aspx" rel="nofollow noreferrer">NetBoxes</a>, but I have to pay a couple of thousands to buy one, probably a couple of thousands to calibrate the sensor, and wait a couple of month to get it calibrated and etc.</li>
<li>They are so difficult to use. They have this GUI (only windows) which you have to install (which BTW reminds me of the kind of software we used to use in 90s) and most of the time it just does not work. They have also some LabView examples which does not work either. Not to mention those LabView examples are way too complicated to get around!</li>
<li>Even when you get them to work the signal is horribly noisy and you have to do all kind of magic filtering to get something useful. </li>
<li>they are very sensitive. For example if they are in contact with a cold metal or there is air blowing at them (which in my experiments including pneumatics happening a lot), they just give wrong measurements.</li>
<li>They are so delicate that if you bend the cable too much or screw them to your structure too hard they are broken and you have to pay a couple of thousands to send them back and fix!</li>
<li>the whole sensor+driver+DAQ is like a whole table full of cables and boxes! </li>
<li>customer service is bad. They are just like chatbots giving you pre-prepared answers!</li>
<li>no forum or user community (to my knowledge)</li>
</ol>

<p>I just don't know why everyone keep using them. I'm really tired of all that wasting my time and resources. I was wondering if you could give me some suggestions. What I need</p>

<ol>
<li>one dimensional force sensor</li>
<li>5V analogue output which I can measure with for example Arduino. Or a USB serial port which I can read with PuTTy for example.</li>
<li>up to 1200N</li>
<li>resolution is not that important. If I use an Arduino to read then 300/1023 is the maximum resolution I can read anyway.</li>
<li>It must be affordable. not more than 100  lets say</li>
<li>available here in Europe. with good local customer service</li>
<li>with good examples and tutorials and good user community</li>
</ol>

<p>I did google first, but there seems to be way too much options that I'm confused which one to choose. Thought maybe you can share experience and give me some insights.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14090" data-toggle = "popover">
				<p>user name : Foad</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-14090">{'force-sensor': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14090" class = 'collapse'>
			</div>
				<textarea id = "speech-14090" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14090">
					<img id="start_img-14090" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14090">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>