<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Air hockey with a robot as an opponent
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7972" class = "post">
			<h2>Question</h2>
			<div id="vote-7972" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 84</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Air hockey with a robot as an opponent</h2>
<p>I'm not sure if this is the right place to post this but here goes.</p>

<p>So, as the title states, I'm planning on building a desk that doubles as an air hockey table which has a robot on the other side.</p>

<p>The robot would be mounted on a rail which should be able to go left and right using a linear actuator. It should be able to "attack" the puck using two servos.</p>

<p>The real problem is how should I detect the puck's location?</p>

<p><strong>My idea:</strong></p>

<p>Since the table would have tiny holes in the corners of a every square(0.5inx0.5in), I could fit in a laser on the bottom part of the table, a laser for ever 1in so a 1inx1in square, the same location would be reflected on the "ceiling" of the table but instead of laser diodes, they would be replaced by an ldr. </p>

<p>So I'm planning on doing a matrix and reading the signals of the ldr's columns and rows then performing some logic to locate the center of the puck.</p>

<p><strong>PROBLEMS:</strong></p>

<p>While I don't see any performance flaws in my plan, I see <strong>tons</strong> of flaws when done imperfectly even to the tiniest bit.</p>

<ol>
<li>I have to be exactly accurate regarding the laser diode's position,
it has to be on the center of the holes, right below the z-axis.
This should be easy if I'm just going to place 4 or 5. But I'm not.</li>
<li>According to my estimations, I'm going to have to use 300-700 laser
diodes, depending on if I'm planning on putting the lasers only on
the opponent's side or on the entire board. It would definitely be
costly. Imagine 300...</li>
<li>This isn't really a huge problem, more like a hassle. Wiring 300 of
these. Forget the pcbs, the project area is just to large.</li>
</ol>

<p>I have thought of numerous way to lessen these, like using a color sensor to get the x-axis location and a laser situated on a negative x-axis pointing to the positive x-axis to locate the puck's y location, but I'm still comparing ideas.</p>

<p><strong>Advantages:</strong></p>

<p>I could get a 3d-like graphical representation with 3d-like controls (3d-like in reality but technically 2d since the lasers are only plotted in the x and y axis though facing the z-axis). </p>

<p>Since this project is going to be my room desk, situated in an automated room, I was thinking of making "desk modes" which should toggle between a game that takes advantage of the lasers and their controls, A control desk for my room, ordinary desk mode, and an air hockey mode.</p>

<p><strong>My question: (More like a request)</strong></p>

<p>Does anyone have <em>another</em> idea regarding how I should be able to locate the puck's x and y location accurately in real time?</p>

<p>EDIT: The table is roll-able and stored underneath a loft bed which has an under-area height of 5'4". Which means I can't go grande on the a vertical solution.</p>

<p>EDIT #2: Thanks to the helpful people here, I have come to the conclusion of using a camera.</p>

<p>The camera will be that of a smartphone's, I'll create an app that tracks an object by color and a has fixed size comparison to identify the distance of the robot from the puck. The phone will then process this and send signals via bluetooth.</p>

<p>The phone is anchored at the end of the robot's moving part so the camera is reminiscent of those games with a first-person view.</p>

<p>Incoming problems: I'm looking forward to some delay, given the delay in processing.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7972" data-toggle = "popover">
				<p>user name : kdyz</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-7972">{'None': 1, 'laser': 4, 'microcontroller': 4, 'design': 4, 'sensors': 4, 'electronics': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7972" class = 'collapse'>
			</div>
				<textarea id = "speech-7972" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7972">
					<img id="start_img-7972" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7972">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7973"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7973" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A well lit, perfectly circular object on a contrasting background, like a puck on an air hockey table, is pretty much the ideal use for <a href="http://youtube.com/watch?v=QkI9AFsBcMk" rel="nofollow">webcam object tracking</a>.</p>

<p>A classic air hockey table has a light bar/score indicator across the middle of the table - just put the camera in there looking down. </p>

<p>Check out the OpenCV library and webcam tracking tutorials online. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7973" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7973">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7973">Load Comments</button></br>
			<div id = "commentsection-7973" class = 'collapse'>
			<div id = "comment-11704" class = "comment">
				<p>I don't have much head room, the table will be underneath a loft bed(though roll-able). So if I placed a webcam, I have to make sure at least the robot's side is included in the cam's vision. Nice suggestion though. (I'm sorry I forgot to add in the problem that I don't have much head room, I'll edit it now.)</p>
			</div>
			<div id = "comment-11705" class = "comment">
				<p>I think, I might go with your idea but with a detachable or fold-able camera mount. I'll just wait for other ideas before choosing yours.</p>
			</div>
			</div>
				<textarea id = "speech-7973" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7973">
					<img id="start_img-7973" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7973">Comment</button>
			<br><div id = "ans-7978"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7978" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In addition to Chuck's answer: <br>
I recommend using opencv or any other Computer Vision library. <br>
But you do not need to go the simple way. Do not place the camera directly above the table. You can place it everywhere you want, in any orientation you want. Because you do know your table, the cameras position and its attitude, you can use some easy trigonometrics to calculate the position of the puck. You know have a 3-Dimentional problem to solve, instead of the 2D Problem, which you have with a straight orientation, But it can be done easily by a computer. It is also possible to place multiple cameras, if they have a bad angle.</p>

<p>Another possibility (I will just mention this one, I do not recommend it) is using light barriers in the borders of your table, at all four. There are pretty long ones with multiple sensing points (resulotion is about 1 inch). At the end you still need some software which is estimating the current position and velocity of the puck from the information you get from light barrier. The disadvantage is that this light barriers cost a fortune. They easily cost more then a complete airhockey table. If you are interested in this solution look for light barriers used in automation industry for safety purposes in the handling area.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7978" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-7978">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7978">Load Comments</button></br>
			<div id = "commentsection-7978" class = 'collapse'>
			<div id = "comment-11710" class = "comment">
				<p>I agree that the camera can be anywhere, but every air hockey table I've ever played on looks [pretty much like this](http://www.ericadhouse.com/wp-content/uploads/2012/11/2012-11-16-20.31.40.jpg), so the suggestion to mount the camera under the scoreboard was simply to point out that you could use a camera and mount it easily.</p>
			</div>
			<div id = "comment-11711" class = "comment">
				<p>Sure I totally agree with you, but the threadcreator seem to have problem with the height, therefore my additonal answer</p>
			</div>
			<div id = "comment-11722" class = "comment">
				<p>The light barrier option is a nice approach, and it may be less expensive than it'd seem.  Only 1 beam needs to be placed between the human and the robot, pointing from side to side, not human to robot or from robot to human; using 2 beams here will give direction: traveling to the robot or away.  Then a few beams could be placed on the robot's baseline and within the goal.  It's a nice, hardware-intense & camera-free approach.</p>
			</div>
			<div id = "comment-11723" class = "comment">
				<p>It is definetly a viable solution. The company I'm working for is placing them at all handling points of our tool and must follow some pretty strict safety rules, therefore they might be pretty expensive. I do not know if there are cheaper possibilities of such devices; you definetly dont need a light barrier with safety standards. But I suggest not "saving beams" this will reduce your resolution and accuracy dramatically.</p>
			</div>
			</div>
				<textarea id = "speech-7978" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7978">
					<img id="start_img-7978" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7978">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>