<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Algebraic and geometric in inverse kinematic
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2135" class = "post">
			<h2>Question</h2>
			<div id="vote-2135" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 459</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Algebraic and geometric in inverse kinematic</h2>
<p>I'm just wondering that is there any case that when algebraic way can't solve the problem while the geometric can ? Cause I'm working on a 2DOF robotics arm <a href="http://www.quanser.com/Products/2dof_serial_flexible_joint" rel="nofollow">This one</a>, I know the length of L1 and L2, location that I want for the end effector, then I tried calculating the angles by using algebraic but it gave me cos(alpha) > 1, but when I tried solving with geometric, I can find the solution, so is it because I use a wrong way in algebraic ? 
<br>Thank you very much.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2135" data-toggle = "popover">
				<p>user name : Xitrum</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-2135">{'None': 0, 'kinematics': 6, 'inverse-kinematics': 3, 'robotic-arm': 6, 'localization': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2135">Load Comments</button></br>
			<div id = "commentsection-2135" class = 'collapse'>
			<div id = "comment-4242" class = "comment">
				<p>Perhaps this is an answer to your question: [How can the inverse kinematics problem be solved?](http://robotics.stackexchange.com/a/308/40)</p>
			</div>
			</div>
				<textarea id = "speech-2135" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2135">
					<img id="start_img-2135" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2135">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2516"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2516" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yup, I guess you are. But there are tradeoffs you see in the methods you pick to solve a problem. Algebraic is alright if you want to solve things analytically and if there are atleast 3DOF. You don't wanna be doing for something as trivial as a 2DOF arm because, you'll just be wasting effort in trying to come up with crazy equations. Geometric on the other hand is alright until 2DOF, 3DOF a little bit more complex and then from there onwards you have to brainstorm quite a bit. But then again, it's come down to your preference as well. You see, I don't like either of the methods. I like to use the Exponential Coordinates method, you can find in a book called "A Mathematical Introduction to Robotics Manipulation - Zhexiang Li, S.Sastry and R.Murray". It's an amazing book but anyways again, its upto you. For another example, one of my tutors for Robotics, she uses the algebraic method for everything she does no matter the DOF. So as I say its upto you. But if you say that you don't get the answer with one method and not the other then you're doing it wrong :D Have fun....^<em>_</em>^</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2516" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-2516">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2516" class = 'collapse'>
			</div>
				<textarea id = "speech-2516" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2516">
					<img id="start_img-2516" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2516">Comment</button>
			<br><div id = "ans-2538"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2538" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For the 2 DOF system you show, the algebraic and geometric really should give the same answers...usually a cos(alpha) > 1 means that your desired point is outside of the workspace (i.e, trying to reach a point 10 feet away with an 8 foot arm.)</p>

<p>Personally, I find that I make fewer mistakes using the geometric method. I actually make a fair number of mistakes with algebraic, which usually results in me giving up and using geometric. I would hazard a guess that your algebraic approach probably has mistake similar in nature to the ones I make.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2538" data-toggle = "popover">
				<p>user name : DrRobotNinja</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-2538">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2538" class = 'collapse'>
			</div>
				<textarea id = "speech-2538" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2538">
					<img id="start_img-2538" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2538">Comment</button>
			<br><div id = "ans-4567"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4567" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Absolutely not! If the geometric method yields a solution, so should the algebraic method or any other method for that matter, if done correctly.</p>

<p>The problem posed here is the inverse kinematics of a 2R serial robot. This is a trivial example solved in many books in different ways.  I would recommend <a href="http://www.ed.iitm.ac.in/~sandipan/files/serialkinematicsv2.pdf" rel="nofollow">this article</a> for an exposition on obtaining the solution to this problem (and more) in different ways.</p>

<p>The question of defining a "<em>better</em>" method is better left alone and depends on the problem at hand. Algebraic methods are more generic and can be applied to any mechanism, whereas geometric methods are easy to visualize and so seem simple but are prone to errors as the mechanism at hand gets complicated (imagine solving spatial robots of more than <em>3</em>-degrees of freedom or a general 6R robot geometrically!).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4567" data-toggle = "popover">
				<p>user name : mechmath</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-4567">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4567" class = 'collapse'>
			</div>
				<textarea id = "speech-4567" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4567">
					<img id="start_img-4567" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4567">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>