<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Alternative to BeagleBone Black for Node.js based remote control project?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9052" class = "post">
			<h2>Question</h2>
			<div id="vote-9052" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 141</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Alternative to BeagleBone Black for Node.js based remote control project?</h2>
<p>I am working on a remote control project that involves using Node.js and Socket.io to transmit joystick data from a webpage to my BeagleBone Black.</p>

<p>However, I am somewhat disappointed with the BeagleBone - it seems like what should be such simple tasks such as connecting to Wi-Fi can be quite tricky...</p>

<p>My question is: Are there alternative boards I should be looking at? Boards that also have Node.js libraries with PWM support, could stream video from a webcam, but are easier to set up and have a larger developer community?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9052" data-toggle = "popover">
				<p>user name : user11770</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-9052">{'control': 4, 'None': 0, 'microcontroller': 4, 'beagle-bone': 4, 'pwm': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9052" class = 'collapse'>
			</div>
				<textarea id = "speech-9052" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9052">
					<img id="start_img-9052" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9052">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9053"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9053" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You will find only two boards with a larger developer community and one of them is supporting node.js, PWMs and USB-interfaces. It is the raspberry Pi.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9053" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-9053">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9053" class = 'collapse'>
			</div>
				<textarea id = "speech-9053" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9053">
					<img id="start_img-9053" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9053">Comment</button>
			<br><div id = "ans-9064"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9064" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In addition to the RPi, as <a href="https://robotics.stackexchange.com/questions/9052/alternative-to-beaglebone-black-for-node-js-based-remote-control-project#answer-9053">TobiasK suggests</a>, the <a href="https://www.arduino.cc" rel="nofollow noreferrer">Arduino boards</a> have:</p>

<ul>
<li><a href="https://www.arduino.cc/en/Tutorial/PWM" rel="nofollow noreferrer">PWM support</a>;</li>
<li>USB support is possible with the addition of an <a href="https://www.arduino.cc/en/Main/ArduinoUSBHostShield" rel="nofollow noreferrer">inexpensive USB shield</a>, and;</li>
<li><p>node.js is possible, see:</p>

<ul>
<li><a href="http://node-ardx.org/" rel="nofollow noreferrer">Arduino Experimenter's Guide for NodeJS</a>;</li>
<li><a href="http://adilmoujahid.com/posts/2015/07/practical-introduction-iot-arduino-nodejs-plotly/" rel="nofollow noreferrer">A Practical Introduction to IoT using Arduino, Node.js and Plotly</a>, and;</li>
<li><a href="http://www.sitepoint.com/controlling-a-motorbot-using-arduino-and-node-js/" rel="nofollow noreferrer">Controlling a Motorbot Using Arduino and Node.js</a></li>
</ul></li>
</ul>

<p>to mention but a few links.</p>

<hr>

<p>However, before you abandon your BeagleBone, have you looked at:</p>

<ul>
<li><a href="https://briancode.wordpress.com/2015/01/06/working-with-pwm-on-a-beaglebone-black/" rel="nofollow noreferrer">Working with PWM on a BeagleBone Black</a>;</li>
<li><strong>Can the Beagle OTG port work in host mode?</strong> on the <a href="http://beagleboard.org/support/faq#usb" rel="nofollow noreferrer">USB FAQ</a></li>
<li>the <a href="http://beagleboard.org/support/bonescript" rel="nofollow noreferrer">BoneScript Library</a> for node.js?</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9064" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-9064">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9064" class = 'collapse'>
			</div>
				<textarea id = "speech-9064" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9064">
					<img id="start_img-9064" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9064">Comment</button>
			<br><div id = "ans-9071"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9071" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could also consider the ESP8266. It can be programmed directly with the Arduino Developers Kit (see <a href="http://www.esp8266.com/viewforum.php?f=25&amp;sid=24ca052583f1ef798e84923f1fb42da4" rel="nofollow">ESP8266 Arduino</a>). In that sense the developer community overlaps heavily with that of the Arduino family. The way it integrates into the Arduino SDK basically makes it just another flavor of Arduino, although the pinouts aren't physically compatible.</p>

<p>The ESP8266 even when on a breakout board is a smaller than a typical arduino and does have PWM support as well as digital IO and ADC.</p>

<p>The advantage of the ESP8266 is that it has builtin wifi and can act as wifi host and client simultaneously. Getting a simple web page running from the ESP8266 has proven to be quite easy. Many examples are included in the SDK that is specific to the ESP8266 which are really just specifically tailored Arduino sketches.</p>

<p>Also, given the answer from greenonline that NodeJS can run on Arduino, I believe that the instructions at the link he provided should also work with the ESP8266. I'm not positive if Node.JS can run concurrently with the web sketches.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9071" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-9071">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9071" class = 'collapse'>
			</div>
				<textarea id = "speech-9071" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9071">
					<img id="start_img-9071" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9071">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>