<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Alternatives to Kalmam Filter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11633" class = "post">
			<h2>Question</h2>
			<div id="vote-11633" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 213</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Alternatives to Kalmam Filter</h2>
<p>I am currently working on a self balancing robot project. I am going to use a MPU6050 to get data from both the accelerometer and the gyroscope. Since I need to get accurate data in a very small amount of data I need to filter the raw data I get. So many people have suggested me to use the Kalman Filter but I could not comprehend it (the maths behind it). Are there any other types of filters I can use in my project?</p>

<p>Thanks in advance.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11633" data-toggle = "popover">
				<p>user name : Huzo</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-11633">{'filter': 3, 'None': 0, 'balance': 3, 'kalman-filter': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11633">Load Comments</button></br>
			<div id = "commentsection-11633" class = 'collapse'>
			<div id = "comment-20827" class = "comment">
				<p>A complementary filter can sometimes be used in these situations.</p>
			</div>
			<div id = "comment-20832" class = "comment">
				<p>So you've giving up one of the best filters (i.e. it is an **optimal** filter ) that ever been invented just because you don't understand its math?! I don't agree with your logic yet the math of Kalman is trivial. You don't need to understand its derivation though.</p>
			</div>
			<div id = "comment-20833" class = "comment">
				<p>@CroCo you are right. But I just could not find a source that explains it well for me to comprehend. I have checked many websites. All I want to know is what I should do with the data I get from mpu.</p>
			</div>
			<div id = "comment-20834" class = "comment">
				<p>Applied Optimal Estimation by Gelb is a good practical book.</p>
			</div>
			<div id = "comment-20848" class = "comment">
				<p>@CroCo okay. I am going to try the Kalman filter. With my code, I get 3 values (Yaw, pitch, roll) from my MPU6050. Is it possible to apply the filter by using these 3 dependent variables only? (There is no GyroX GyroY GyroZ AccX AccY AccZ variables in my code. The MPU6050_6Axis_MotionApps20 library helps my with that.)</p>
			</div>
			<div id = "comment-20851" class = "comment">
				<p>You don't need any sensor fusion algorithm if you have already the attitude from a sensor fusion library. The Kalman filter could be used, if you want to get (Yaw, Pitch, Roll) from (GyroX, GyroY, GyroZ, AccX, AccY, AccZ).</p>
			</div>
			<div id = "comment-20852" class = "comment">
				<p>@HansPeterLoft oh really? Thanks! This made me happy because I do not have much time to spend time on filtering.</p>
			</div>
			<div id = "comment-20858" class = "comment">
				<p>@Huzo if you already have data fusion library doing it for you, and you have a roll/pitch/yaw output, you simply close the loop on pitch with your motor driver.</p>
			</div>
			</div>
				<textarea id = "speech-11633" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11633">
					<img id="start_img-11633" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11633">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11635"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11635" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Particle filters (epecially in <a href="https://en.wikipedia.org/wiki/Monte_Carlo_localization" rel="nofollow noreferrer">Monte Carlo localization</a>) always seemed easy to intuitively understand to me. You basically simulate bunch of possible states of your robot, rank them with probabilities and occasionally you throw away the improbable ones.</p>

<p>There's obviously more to it (and more math), but this should be enough to make a small working test.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11635" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-11635">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11635">Load Comments</button></br>
			<div id = "commentsection-11635" class = 'collapse'>
			<div id = "comment-20831" class = "comment">
				<p>Will check it out!</p>
			</div>
			<div id = "comment-20859" class = "comment">
				<p>are you saying that a particle filter should be used to estimate the pitch of the robot?</p>
			</div>
			<div id = "comment-20863" class = "comment">
				<p>Should? No. It's just another tool. Particle filters _could_ be used to estimate it. They would likely end up slower than comparable Kalman filter, but they can handle more complicated inputs and are really dead simple to visualize.</p>
			</div>
			</div>
				<textarea id = "speech-11635" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11635">
					<img id="start_img-11635" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11635">Comment</button>
			<br><div id = "ans-11636"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11636" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A good choice for sensor fusion with the MPU6050 is a second order complementary filter, which I used for the orientation estimation in a project. The complementary filter is computational cheap and so a good choice for a microcontroller. A paper about the implementation you can find here:</p>

<p><a href="http://www.academia.edu/6261055/Complementary_Filter_Design_for_Angle_Estimation_using_MEMS_Accelerometer_and_Gyroscope" rel="noreferrer">http://www.academia.edu/6261055/Complementary_Filter_Design_for_Angle_Estimation_using_MEMS_Accelerometer_and_Gyroscope</a> </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11636" data-toggle = "popover">
				<p>user name : HansPeterLoft</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-11636">{'None': 8, 'cameras': 0, 'imu': 0, 'inverse-kinematics': 0, 'motor': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11636" class = 'collapse'>
			</div>
				<textarea id = "speech-11636" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11636">
					<img id="start_img-11636" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11636">Comment</button>
			<br><div id = "ans-11644"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11644" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check this website <a href="http://blog.tkjelectronics.dk/2012/09/a-practical-approach-to-kalman-filter-and-how-to-implement-it/" rel="nofollow noreferrer">pratical approach to kalman filter</a> it will give you a comprehensive description of kalman filter for a balancing robot (like yours) both theoritical and pratical (you have the code as well). And it runs on an Arduino !</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11644" data-toggle = "popover">
				<p>user name : fabrice</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-11644">{'None': 3, 'laser': 0, 'inverse-kinematics': 8, 'humanoid': 8, 'robotic-arm': 6, 'path-planning': 1, 'gazebo': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11644" class = 'collapse'>
			</div>
				<textarea id = "speech-11644" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11644">
					<img id="start_img-11644" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11644">Comment</button>
			<br><div id = "ans-11646"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11646" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Want to get orientations from accelerometers and gyroscopes? </p>

<p>Use the <a href="http://x-io.co.uk/open-source-imu-and-ahrs-algorithms/" rel="nofollow noreferrer">Madgwick filter</a>.</p>

<p>From the <a href="http://x-io.co.uk/res/doc/madgwick_internal_report.pdf" rel="nofollow noreferrer">paper</a>, "Results indicate the filter achieves levels of accuracy exceeding that of the Kalman-based algorithm." </p>

<p>As @CroCo mentioned, the Kalman filter <em>is</em> the optimal estimator.... for a linear system signal in the presence of <em>zero-mean, Gaussian noise</em>. Accelerometers and gyroscopes have a non-zero bias, and they also experience bias drift which means that, even if you could measure and offset the bias, the bias isn't stable and changes over time. </p>

<p>The Madgwick filter is free, and even better, there are already efficient implementations of the filter already written in C, C#, and Matlab. You can learn the math if you want, but again the math has already been done and the finished product - the filter - is free to download and use. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11646" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11646">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11646" class = 'collapse'>
			</div>
				<textarea id = "speech-11646" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11646">
					<img id="start_img-11646" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11646">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>