<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Aluminum vs Carbon Fiber
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1344" class = "post">
			<h2>Question</h2>
			<div id="vote-1344" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 833</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Aluminum vs Carbon Fiber</h2>
<p>So building a quadrocopter from scratch HAS a lot of decision making, and I need some input on the material choice. </p>

<p>I have short listed Aluminum and Carbon Fiber for the Arms and support of the Quadrocopter. 
I am a little short on cash to experiment with both of them. </p>

<p>So considering that I have enough money to buy either of those, and assuming that I have access to general tools like a Table Saw, Horizontal Band Saw, CNC Router and a Water jet. </p>

<p>What would be a better material to work with</p>

<p>EDIT:<br>
I will be deciding the specs around the frame so as to allow me some design liberty. So right now, my goal is to assemble a very durable, as-light-as possible frame, which can withstand a lot of experimentation on the electrical side.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1344" data-toggle = "popover">
				<p>user name : Chandough</p>
				<p> user reputation : 455</p>
				<p class = "tagcontent" id = "usertaginfo-1344">{'quadcopter': 23, 'None': 15, 'design': 1, 'multi-rotor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1344">Load Comments</button></br>
			<div id = "commentsection-1344" class = 'collapse'>
			<div id = "comment-2941" class = "comment">
				<p>How large will it be, and how much will it weigh?  Do you have battery/motor/propeller specs?</p>
			</div>
			</div>
				<textarea id = "speech-1344" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1344">
					<img id="start_img-1344" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1344">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1345"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1345" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you considered balsa or similar woods from the model airplane world?</p>

<p>There are a LOT of balsa model airplanes flying.  Some of them are pretty big, and very strong.  (There's a picture of a 1/4 scale Piper J-3 Cub skeleton, pre-covering, with an elementary school kid sitting on the wing box, straddling the forward fuselage.  The airplane survived this particular elephant test just fine.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1345" data-toggle = "popover">
				<p>user name : John R. Strohm</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1345">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1345" class = 'collapse'>
			</div>
				<textarea id = "speech-1345" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1345">
					<img id="start_img-1345" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1345">Comment</button>
			<br><div id = "ans-1347"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1347" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Based on the experience others have had, it would appear that carbon fibre is a much better choice, because it is much lighter.</p>

<p>Because you need motors which can hold up the quadrocopter, weight is a primary consideration. By lightening it, you do not need as powerful motors, and you can carry less batteries - which of course, helps to lighten it further.</p>

<p>The main part of the frame, are the arms holding the rotors, so using carbon fibre for those would help significantly. I believe there are carbon fibre rods and tubes which can be purchased. The hollow tubes allow wiring through the centre.</p>

<p>However, using carbon fibre may change the way things are mounted. In particular, drilling holes for mounting may be problematic - potentially causing cracking in the material. A good solution is to rely on clamping parts to the structure instead.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1347" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-1347">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1347" class = 'collapse'>
			</div>
				<textarea id = "speech-1347" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1347">
					<img id="start_img-1347" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1347">Comment</button>
			<br><div id = "ans-1364"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1364" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My choice is Carbon Fiber for sure. It has some advantages and some disadvantages.
OT: Using carbon fiber your robot will look much more professional and you will feel good looking at it.</p>

<p>Advantages:</p>

<ol>
<li>Much Lighter.</li>
<li>Much Stronger</li>
</ol>

<p>Disadvantages:</p>

<ol>
<li>More expensive</li>
<li>Slightly harder to work with (cutting, ...)</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1364" data-toggle = "popover">
				<p>user name : Miro Markaravanes</p>
				<p> user reputation : 323</p>
				<p class = "tagcontent" id = "usertaginfo-1364">{'control': 12, 'None': 8, 'i2c': 2, 'motor': 6, 'power': 6, 'pwm': 7, 'microcontroller': 2, 'mechanism': 0, 'avr': 7, 'circuit': -5, 'electronics': 6, 'soccer': 12, 'software': -3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1364" class = 'collapse'>
			</div>
				<textarea id = "speech-1364" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1364">
					<img id="start_img-1364" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1364">Comment</button>
			<br><div id = "ans-1366"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1366" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your goal is to experiment, then use the cheapest option possible -- it will give you the freedom to make more mistakes.  Carbon fiber would be great if your design is in a fairly final state, but are you 100% assured that you correctly determined all the thicknesses, mounting holes, wiring guides, etc?  Are you good enough working with carbon fiber to successfully build what you designed?  These are serious things to consider if you are on a budget.</p>

<p>Balsa wood is a fairly cheap way to get started, and there are plenty of others (for example, if it's light enough then you may be able to use a sheet of foam).</p>

<p>Will it look pretty?  No.  But that's a prototype for you; if you're too heavily invested in the appearance/workmanship of the first draft, you'll fail to make newer &amp; better drafts.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1366" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1366">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1366" class = 'collapse'>
			</div>
				<textarea id = "speech-1366" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1366">
					<img id="start_img-1366" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1366">Comment</button>
			<br><div id = "ans-1398"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1398" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Aluminum. Simply because you're going to want to make improvements and design changes. I assume cost is a major consideration else you probably would not ask this question. You're free to get creative, adaptive and constantly make changes if you go with a cheaper material. It would be a shame to inhibit creativity because of budget constraints.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1398" data-toggle = "popover">
				<p>user name : Michael M gge</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1398">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1398" class = 'collapse'>
			</div>
				<textarea id = "speech-1398" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1398">
					<img id="start_img-1398" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1398">Comment</button>
			<br><div id = "ans-1452"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1452" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would say, that it depends on how you fly it, if you think you are going to crash it a lot, and if you make a lot of changes/improvements. Aluminum is pretty damn cheap, and it has, depending on how you fly/crash, one big advantage, it's flexible. Sudden high G-forces don't crack aluminum, carbon fiber on the other hand is very rigid.</p>

<p>So if you are a professional R/C pilot, that build's it right the first time, and doesn't crash a lot, I would say Carbon fiber.</p>

<p>If you make a lot of changes, are not a very good pilot, or think you are going to stress it a lot, I would say Aluminum. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1452" data-toggle = "popover">
				<p>user name : Thom Kouwen</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-1452">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1452" class = 'collapse'>
			</div>
				<textarea id = "speech-1452" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1452">
					<img id="start_img-1452" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1452">Comment</button>
			<br><div id = "ans-2318"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2318" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>CF is lighter but you definitively need to know your source, many of the inexpensive tubes are quite brittle. In any case I do not recommend drilling holes in the tube use clamps.
Aluminium is somewhat heavier and will transmit vibration (balance your motors and props) but is readily available cheaper and easier to work with. For a smaller craft I would use aluminium anything over 550 quality carbon </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2318" data-toggle = "popover">
				<p>user name : user2622</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2318">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2318" class = 'collapse'>
			</div>
				<textarea id = "speech-2318" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2318">
					<img id="start_img-2318" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2318">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>