<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Ambiguous definition of Error-State (Indirect) Kalman Filter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6325" class = "post">
			<h2>Question</h2>
			<div id="vote-6325" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1977</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ambiguous definition of Error-State (Indirect) Kalman Filter</h2>
<p>I am confused by what precisely the term "Indirect Kalman Filter" or "Error-State Kalman Filter" means.</p>

<p>The most plausible definition I found is in Maybeck's book [1]:</p>

<blockquote>
  <p>As the name indicates, in the total state space (direct) formulation, total states
  such as vehicle position and velocity are among the state variables in the filter,
  and the measurements are INS accelerometer outputs and external source
  signals. In the error state space (indirect) formulation, the errors in the INS-
  indicated position and velocity are among the estimated variables, and each
  measurement presented to the filter is the difference between INS and external
  source data.</p>
</blockquote>

<p>20 years later Roumeliotis et al. in [2] write:</p>

<blockquote>
  <p>The cumbersome modeling of the specific vehicle and its interaction with a dynamic environment is avoided by selecting gyro modeling instead. The gyro signal appears in the system (instead of the measurement) equations and <strong>thus the formulation of the problem requires an Indirect</strong> (error-state) Kalman filter approach.</p>
</blockquote>

<p>I cannot understand the bold part, since Lefferts et al. in [3] write much earlier:</p>

<blockquote>
  <p>For autonomous spacecraft the use of inertial reference units as a model
  replacement permits the circumvention of these problems.</p>
</blockquote>

<p>And then proceed to show different variants of EKFs using gyro modeling that are clearly direct Kalman Filters according to Maybeck's definition: The state only consists of the attitude quaternion and gyro bias, not error states. In fact, there is no seperate INS whose error to estimate with an error-state Kalman filter. </p>

<p>So my questions are:</p>

<ul>
<li><p>Is there a different, maybe newer definition of indirect (error-state) Kalman Filters I am not aware of?</p></li>
<li><p>How are gyro modeling as opposed to using a proper dynamic model on the one hand and the decision whether to use a direct or indirect Kalman filter on the other hand related? I was under the impression that both are independent decisions.</p></li>
</ul>

<p>[1] Maybeck, Peter S. Stochastic models, estimation, and control. Vol. 1. Academic press, 1979.</p>

<p>[2] Roumeliotis, Stergios I., Gaurav S. Sukhatme, and George A. Bekey. "Circumventing dynamic modeling: Evaluation of the error-state kalman filter applied to mobile robot localization." Robotics and Automation, 1999. Proceedings. 1999 IEEE International Conference on. Vol. 2. IEEE, 1999.</p>

<p>[3] Lefferts, Ern J., F. Landis Markley, and Malcolm D. Shuster. "Kalman filtering for spacecraft attitude estimation." Journal of Guidance, Control, and Dynamics 5.5 (1982): 417-429.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6325" data-toggle = "popover">
				<p>user name : sebsch</p>
				<p> user reputation : 404</p>
				<p class = "tagcontent" id = "usertaginfo-6325">{'control': 6, 'quadcopter': 2, 'None': 15, 'sensor-error': 4, 'sensor-fusion': 4, 'localization': 16, 'ekf': 9, 'pose': 1, 'errors': 8, 'kalman-filter': 17, 'mobile-robot': 8, 'sensors': 4, 'navigation': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6325" class = 'collapse'>
			</div>
				<textarea id = "speech-6325" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6325">
					<img id="start_img-6325" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6325">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6333"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6333" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Hi and welcome to the wide, ambiguous, sometimes confusing world of research. But seriously, looking at 20 years of papers will sometimes produce these confusions.
Let's look at what's going on. In the first reference, what they are saying is:</p>

<blockquote>
  <p>An INS/Gyro is nice, but has an error in it. That error changes (drifts) over time. Therefore, the error in the INS is really a part of the state of the system.</p>
</blockquote>

<p>The markov assumption used in the Kalman filter assumes that the current estiamte encapsulates all of the state of the system, and all of the <em>previous</em> states of the system. The update step of the EKF/FK assumes that the sensors measure the state of the system directly, and <em>without bias</em>. However, an INS <em>has</em> a bias (the error), and that bias changes. So our <em>measurable</em> state (the measurement from the INS / Gyro) is </p>

<p>$$z(t)=x^\star(t) + b^\star(t)+n$$ </p>

<p>for bias vector $b^\star$ and noise $n$. Vector $b^\star$, unfortunately, is unknown, time-varying, and not zero-mean. Vector $n$ is assumed to be zero-mean noise (e.g., unbiased). So if we <em>knew</em> $b^\star(t)$, we could subtract it from $z$ to get an unbiased measurement of the state. This is useful. So an estimate of $b^\star(t)$ is kept as part of the state.</p>

<p>An error-state kalman filter makes a <em>new</em> state vector,</p>

<p>$$ 
\begin{bmatrix}
x(t) \\
b(t)
\end{bmatrix}
=
\begin{bmatrix}
x(t)^\star \\
b(t)^\star
\end{bmatrix}
+n
$$
where again $x^\star$ is the true state and $b^\star$ is the true bias.</p>

<p>Ok, moving on to reference two, they seem to say that the gyro signal (which has measurements of the form $z(t)=x^\star + b(t) + n$ again) is used instead of assuming the gyro is measuring the state directly. That fits with what I know about Prof Roumeliotis' research as well as the definition of error-state KF and ref 1.</p>

<p>Now ref 3 is worded slightly bad. I wasn't able to acquire a PDF to review quick. What I think it means is they are using the common assumption that a good model of the system dynamics are not available for a <em>prediction</em> (or propagation) step. Instead, they are assuming that the INS measurements are a decent estimate of the system's state, and then using <em>other</em> sensors to update the estimate of the state. </p>

<p>This is akin to <a href="https://robotics.stackexchange.com/a/134/163">using odometry instead of modelling how control inputs produce a change of state in a wheeled robot</a>. Yes, the forward-propogated estimate will have the bias of the INS in it, but the measurements should correct it. In fact, the introduction to that paper states the same thing we've summarized here, that bias in gyro should be a part of the system to be estimated.</p>

<p>This is sort of a high-level summary, which is the best I can do at this point. If there are specific concerns, I can edit as needed. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6333" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-6333">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6333">Load Comments</button></br>
			<div id = "commentsection-6333" class = 'collapse'>
			<div id = "comment-9148" class = "comment">
				<p>I wanna just understand what is going here. The problem here is that the noise is bias, so one of the Kalman Filter's requirements is broken and it is not applicable to use it directly with gyro. This is why they need another way to get around. Is this the problem? Thanks for the answer.</p>
			</div>
			<div id = "comment-9161" class = "comment">
				<p>Yes, I'll update the answer to be more clear as well.</p>
			</div>
			</div>
				<textarea id = "speech-6333" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6333">
					<img id="start_img-6333" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6333">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>