<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>An easy way to exert desired load on a motor shaft?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7148" class = "post">
			<h2>Question</h2>
			<div id="vote-7148" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 602</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>An easy way to exert desired load on a motor shaft?</h2>
<p>I am trying to exert a desired load of 0.07 N.m on a BLDC motor shaft whose length is 0.750in and diameter is 0.3125in (0.008m). I can go to a machine shop and get a small adjustable cylindrical coupling made for my shaft. But I need it to exert close to desired torque at a speed of 2100 rpm (220 rad/s). I tried doing some calculations, according to the formula </p>

<p>Torque = speed * mass * (radius)^2</p>

<p>If I solve this equation with T = 0.07 N.m, speed = 220 rad/sec, radius = 0.004 m, I get around 20 kg for mass, which is huge!!!. It is more than the mass of the motor. Can you please suggest a convenient way to load the motor. Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7148" data-toggle = "popover">
				<p>user name : Adeel Sabir</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-7148">{'brushless-motor': 2, 'control': 1, 'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7148">Load Comments</button></br>
			<div id = "commentsection-7148" class = 'collapse'>
			<div id = "comment-10176" class = "comment">
				<p>We could help you more if we knew what you were trying to do!</p>
			</div>
			<div id = "comment-10177" class = "comment">
				<p>I am actually trying to test speed regulation characteristics of the BLDC motor drive, under a PI type control. I have the motor and the driving circuit. But I do not have anything to load the motor with. So all I need is something that will act as a mechanical load on the shaft. I hope it clarifies.</p>
			</div>
			</div>
				<textarea id = "speech-7148" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7148">
					<img id="start_img-7148" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7148">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7151"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7151" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a couple ways you could test this with a constant load:</p>

<ul>
<li><p>do what you said by applying a load, you could use a spool 2cm in diameter with a string holding a 1kg mass down giving .09Nm of force (you could fine tune the mass or pulley diameter) this has the advantage of subtly changing components (mass of string/diameter of pulley) allowing you to more thoroughly test your PI controller, but the disadvantage of a limited time of function depending on the length of string and the desired rotation speed (the rotation rate has no effect on the torque unless it is changing and the pulley has a non neginlabal rotational inertia.</p></li>
<li><p>You could put vanes on the motor and put them them in a tub of water, which will produce torque but this will be dependent on the rotation speed of the vanes and will be hard to predict and will need to be measured and tested. However this has several advantages, practically unlimited run time and very constant torque at speeds slow enough that nothing weird happens to the water (excessive waves/cavitation ect...) but, this will require experimentation and a test stand setup. </p></li>
<li><p>Another option would be to spin a wheel with a brake pad attached with a known or measured coefficient of friction this will allow you to apply precise repeatable force on the wheel by easily adjusting the mass that of the object sitting on top of the wheel. You can calculate it using the following formula, 
<img src="https://latex.codecogs.com/gif.latex?%5Ctau%20%3Dmg%5Cmu%20r" alt="formula"> where <img src="https://latex.codecogs.com/gif.latex?%5Ctau" alt="tau"> is the torque desired, <img src="https://latex.codecogs.com/gif.latex?m" alt="m"> is the mass, <img src="https://latex.codecogs.com/gif.latex?g" alt="g"> is the acceleration of gravity <img src="https://latex.codecogs.com/gif.latex?%5Cmu" alt="mu"> is the measured or calculated coefficient of kinetic friction and <img src="https://latex.codecogs.com/gif.latex?r" alt="r"> is the radius of thew wheel. This all assumes the friction force is directed straight down (e.g. resting on top of the wheel). This is probably the best solution as you can easily vary the friction force and ius is very repeatable and accurate, additionally allowing unlimited run time limited only by the wear of the materials (which  could be non negligible depending on the speed and the materials used.</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7151" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7151">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7151">Load Comments</button></br>
			<div id = "commentsection-7151" class = 'collapse'>
			<div id = "comment-10189" class = "comment">
				<p>Thank you Mark. These are great ideas, especially the one with vanes immersed in water.</p>
			</div>
			</div>
				<textarea id = "speech-7151" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7151">
					<img id="start_img-7151" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7151">Comment</button>
			<br><div id = "ans-7155"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7155" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You may find the <a href="http://en.wikipedia.org/wiki/Dynamometer" rel="nofollow">wikipedia Dynamometer article</a> useful.  The  <a href="http://en.wikipedia.org/wiki/Dynamometer#Types_of_dynamometers" rel="nofollow">Types of Dynamometers</a>  section lists eight kinds of dynamometers.  (Mark Omo's answer corresponds to two or three of the several types.)</p>

<p>If you have several sizes of power resistors available, you could connect a DC generator (or a DC motor used as a generator) to a resistor and use that system as a load on the motor under test.  Resistor substitutions or a  high-wattage rheostat can make the load variable.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7155" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-7155">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7155">Load Comments</button></br>
			<div id = "commentsection-7155" class = 'collapse'>
			<div id = "comment-10190" class = "comment">
				<p>I actually have another BLDC with comparable ratings. I got mounting manufactured for the two BLDC's. Now if, instead of a DC generator, I want to use a three phase BLDC, I am guessing that I'll have to connect my load in star or delta configuration in order to load all three phases, correct? Also, if the three phase load is unbalanced, will the torque not be uniform? (It may be too many questions... sorry)</p>
			</div>
			<div id = "comment-10191" class = "comment">
				<p>An uncharacterized motor won't work out well as the load portion of a dynamometer system.  But see an [instructables thread](http://www.instructables.com/answers/Windmill-Generator-why-wont-a-small-brush-less-/), about BLDCs as generators.   I think a cheap, brushed DC motor might do.  For formula links, please see [my answer](http://robotics.stackexchange.com/a/5217/478) to [question #5209](http://robotics.stackexchange.com/q/5209/how-high-of-a-gear-ratio-can-a-motor-have).   Old exercise equipment is a cheap source of loading devices, eg eddy current absorbers, band or caliper brakes, etc.</p>
			</div>
			</div>
				<textarea id = "speech-7155" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7155">
					<img id="start_img-7155" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7155">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>