<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>An option to turn off the skin (revert to something like the default "beta" skin for sites)
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-374" class = "post">
			<h2>Question</h2>
			<div id="vote-374" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 78</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>An option to turn off the skin (revert to something like the default "beta" skin for sites)</h2>
<p>The skin here is really messing with my eyes, and I'm having trouble understanding what I see when on this SE site, when compared to others.</p>

<p>I'd like to request an option to turn off the skin and revert to a default, un-skinned site (maybe similar to the beta sites)</p>

			</div>
			<div id = "userinfo-374" style = "float:right">
				<p>user name : blueberryfields</p>
				<p> user reputation : 381</p>
				<p> user tag wise history : {'None': 0, 'feature-request': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-374" class = 'collapse'>
			</div>
				<textarea id = "speech-374" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-374">
					<img id="start_img-374" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-374">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-379"  class = "post">
				<h2>Answer</h2>
			<div id="vote-379" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use browser add-ons to over write site's styles. For example: <a href="https://addons.mozilla.org/en-US/firefox/addon/stylish/" rel="nofollow">https://addons.mozilla.org/en-US/firefox/addon/stylish/</a></p>

<p>To revert back to the Beta theme, you can grab the CSS file from any of the current Beta sites, for example: <a href="http://sstatic.net/guitars/all.css" rel="nofollow">http://sstatic.net/guitars/all.css</a> Please keep in mind once the Beta site launches officially the .CSS file content will change. You'll need to grab a CSS file from another Beta site.</p>
</p><br>
			</div>
			<div id = "userinfo-379" style = "float:right">
				<p>user name : Jin</p>
				<p> user reputation : 200</p>
				<p> user tag wise history : {'None': 87, 'design': 107, 'discussion': 89}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-379">Load Comments</button></br>
			<div id = "commentsection-379" class = 'collapse'>
			<div id = "comment-763" class = "comment">
				<p>Oy. That's a cludge. Besides not working with my ipad, it means I'll have to manually add each site to the configuration, and synch across all the computers I use. I'd rather have a checkbox that fixes the problem once, forever - and I don't think that's something I can do myself</p>
			</div>
			</div>
				<textarea id = "speech-379" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-379">
					<img id="start_img-379" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-379">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>