<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Analogue video to digital
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9069" class = "post">
			<h2>Question</h2>
			<div id="vote-9069" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Analogue video to digital</h2>
<p>I have FPV camera which outputs analog video (RCA, PAL).</p>

<p>I want to capture video and do image processing, therefore I need some way to convert the analog video to digital.</p>

<p>Can some one recommend me how to do it? Is there advice or a shield which can assist?</p>

<p>Please note:</p>

<ol>
<li>I want to convert the frames with minimum latency, because it is a real time flying drone.</li>
<li>I don't need to convert the image to some compressed format (which encoding/ decoding may take time), if I can get the RGB matrix straight, it is preferred.</li>
<li>I thought about digital output camera, but I need one which weighs few grams and I haven't found yet.</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-9069" data-toggle = "popover">
				<p>user name : Udi</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9069">{'quadcopter': 1, 'None': 0, 'cameras': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9069">Load Comments</button></br>
			<div id = "commentsection-9069" class = 'collapse'>
			<div id = "comment-15028" class = "comment">
				<p>Welcome to *robotics* Udi, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. Also, in general it is better ask *How do I solve this problem?* than *What do I need to buy to solve my problem in this way?* as you may preclude answers providing better solutions.</p>
			</div>
			<div id = "comment-15061" class = "comment">
				<p>Mark, please read my question again. ("Can some one recommend me how to do it? Is there advice or a shield which can assist?")</p>
			</div>
			<div id = "comment-15062" class = "comment">
				<p>[*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question. If you edit your question to fit our community guidelines, flag it for moderator attention and we can reopen it for you.</p>
			</div>
			</div>
				<textarea id = "speech-9069" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9069">
					<img id="start_img-9069" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9069">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9070"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9070" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You will need to have on-board processing if you plan to go with real time processing and the low latency premise. There is no other way around it, since transmitting the signal will introduce sizable latency of an order of 200-500ms.
Consequently, I don't see how you can avoid loading your whole robotic vision system on top of your quad.</p>

<p>I believe that getting 1) and raw video isn't possible in an on-board format. Your best bet is something like <a href="http://www.ebay.com/itm/USB-2-0-Video-Frame-Grabber-W-Composite-RCA-BNC-S-Video-Inputs-/190595996183" rel="nofollow">this</a> and you still don't get neither raw video nor guaranteed low latency.</p>

<p>I think your best bet is to combine a companion computer with a compatible camera. Consider the following combos:</p>

<ol>
<li>Get a raspberry pi with its <strong>very small</strong> digital camera</li>
<li>Use the <a href="http://www.hardkernel.com/main/products/prdt_info.php?g_code=G137517754892" rel="nofollow">Odroid counterpart</a></li>
<li>Do the same as the above in a <a href="https://solarianprogrammer.com/2014/04/21/opencv-beaglebone-black-ubuntu/" rel="nofollow">BBB</a></li>
</ol>

<p>The choice boils down to your hardware of choice, where you feel more comfortable programming.</p>

<p><strong>Be warned though</strong>: Attitude control and split-second obstacle avoidance is not possible with today's board PCs and low FPS cameras. Very custom solutions are required to get the job done.</p>

<p><strong>Edit:</strong> If you still want to go with Analog->Video conversion, something like <a href="http://www.ebay.com/itm/2015-new-USB2-0-VHS-to-DVD-Converter-convert-analog-video-to-digital-format-/191651526896" rel="nofollow">this</a> would be the hobbyist's option. PCI frame grabbers cost $$$. Still, I haven't used this particular product, so please do your own market research.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9070" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-9070">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9070">Load Comments</button></br>
			<div id = "commentsection-9070" class = 'collapse'>
			<div id = "comment-14941" class = "comment">
				<p>I'll try to sharpen my question, I have a light weight drone, carrying a small analog output camera and RF transmitter.
On the ground I have a receiver. I need to convert the captured frames to digital format for processing (no need to save them for latter use).
 I need it with minimum latency.</p>
			</div>
			<div id = "comment-14954" class = "comment">
				<p>Have you measured your camera -> receiver latency? Have you measured your ground computer -> quadrotor motors latency? Don't forget that the control loop must travel a two-way trip! Is the sum of those two lower than your latency requirements?</p>
			</div>
			<div id = "comment-14979" class = "comment">
				<p>no doubt, that it add a delay, but this delay is kind of given in my system.</p>
			</div>
			<div id = "comment-14994" class = "comment">
				<p>Added a link with a product hint.</p>
			</div>
			</div>
				<textarea id = "speech-9070" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9070">
					<img id="start_img-9070" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9070">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>