<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Analytic evaluation of discrete LQR expected reward
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10809" class = "post">
			<h2>Question</h2>
			<div id="vote-10809" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 20</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Analytic evaluation of discrete LQR expected reward</h2>
<p>The discrete LQR problem seeks to control a linear system:</p>

<p>$$
x_{k+1} = A x_k + Bu_k + v_k
$$</p>

<p>for zero-mean Gaussian noise $v$.</p>

<p>The control is chosen to minimize the cost $J = \sum_{k=0}^K x^TQ x + u^T R u + 2x^T N u$. Solutions to the optimal control problem are well known.</p>

<p>Are there analytical expressions for the expected cost? For example, in the case where the initial state follows a Gaussian $x_o \sim \mathcal{N}(\mu, \Sigma)$?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10809" data-toggle = "popover">
				<p>user name : Mageek</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-10809">{'control': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10809">Load Comments</button></br>
			<div id = "commentsection-10809" class = 'collapse'>
			<div id = "comment-19451" class = "comment">
				<p>I believe when you want to minimize such a quadratic cost function one would use [LQG](https://en.m.wikipedia.org/wiki/Linear-quadratic-Gaussian_control) instead of LQR.</p>
			</div>
			<div id = "comment-19464" class = "comment">
				<p>Hmm. Okay. You can calculate the mean and variance of the LQG cost function. I guess if one assumes perfect observations one recovers this formulation. Here is a reference I found for the continuous case: https://arxiv.org/abs/1602.02524</p>
			</div>
			</div>
				<textarea id = "speech-10809" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10809">
					<img id="start_img-10809" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10809">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>