<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Android phone + ADK + Arducopter APM 2.5 for autonomous quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2424" class = "post">
			<h2>Question</h2>
			<div id="vote-2424" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1752</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Android phone + ADK + Arducopter APM 2.5 for autonomous quadcopter</h2>
<p>for a project for a robotic lab, i'd like to build an automous quadcopter able to follow a path and land on its own. I'd like to use an onboard android phone to do the image processing and recognition part, so that I avoid to send the video stream to a control station, process it and send back the commands.</p>

<p>As I need to use it in an indoor environment (so no GPS coordinate), I need the phone to guide the quadcopter giving it relative directions like FORWARD and after 1 sec STOP. This is something a normal pilot would do via the RC radio.</p>

<p>I already have a arducopter APM 2.5 and an arduino mega ADK and I was thinking to connect the phone to the ADK and then the ADK to the APM to guide the copter.</p>

<p>I think I have 2 options: either having the ADK to generate PPM/PWM signals as a RC receiver would do or use the mavlink protocol.</p>

<p>Which is the best/easiest solution?</p>

<p>Other info:</p>

<p>-I have already read checked some UAV related websites, but I couldn't find something close to what I want. In most of them, try to build a new type of controller, or use only ab Android phone + ADK. I'd like to stick to something already tested and known to work (as the APM &amp; arducopter software) and I don't want to use the phone as IMU as i don't trust its sensors</p>

<p>-I already have built the quad (a hexa actually)</p>

<p>-I have already set up the connection and protocol between the phone and the adk so i'm able to send commands like, i.e. forward, turn, hover etc...</p>

<p>-I have already checked the andro-copter project and similar ones.</p>

<p>-I might consider other platforms than the APM 2.5 if there's something easier to use</p>

<p>-It'd be nice to keep the RC receiver in the loop to regain control of the quad if something goes wrong.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2424" data-toggle = "popover">
				<p>user name : J Mac</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2424">{'control': 2, 'quadcopter': 2, 'None': 0, 'ardupilot': 2, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2424">Load Comments</button></br>
			<div id = "commentsection-2424" class = 'collapse'>
			<div id = "comment-7474" class = "comment">
				<p>I'm doing a similar project to yours using a Nexus 5, Seeeduino ADK and APM 2.5. Did you ever get to stabilize your Quad?</p>
			</div>
			<div id = "comment-7686" class = "comment">
				<p>Hi, my drone wasn't very stable and I couldn't work well. At the end I bought an iris+ quad from 3d robotics, with a pixhawk controller, which seems very stable. Then I wrote a simple android program to control it (as in telling where to go and get info from the quad, not really the stabilizing loop, which is done by the pixhawk indipendently). The code uses the core libraries of droidplanner application, you can find it on github. The android phone is connected to the quad via a telemetry link which transmits the mavlink commands.</p>
			</div>
			</div>
				<textarea id = "speech-2424" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2424">
					<img id="start_img-2424" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2424">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2503"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2503" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have done something similar to this. I used a Samsung Galaxy onboard an APM2.6-based quadcopter. As a starting point, I used <a href="https://github.com/DroidPlanner/droidplanner" rel="nofollow">DroidPlanner</a> and it was a pretty simple matter to use the same libraries it does. Then I used another Galaxy with a screen-mirroring application over wifi to run the app.</p>

<p>It's good that you realize the importance of keeping RC receiver control available -- this is important for safety. You should set up your code so that it runs in "auto" mode and have switches on your receiver set up so that you can change the flight mode back to stabilize easily.</p>

<p>It's worth noting that APM's mavlink implementation is very incomplete. It simply ignores some of the parameters of some of the commands. For example, when you send a waypoint, it ignores the yaw parameter. Here's a <a href="https://github.com/diydrones/ardupilot/pull/554" rel="nofollow">pull request</a> (never got into trunk) I submitted that fixes this and might be useful for you if you want to modify APM's mavlink implementation. Still, I think this is probably a better solution than generating PWM with the ADK.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2503" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-2503">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2503">Load Comments</button></br>
			<div id = "commentsection-2503" class = 'collapse'>
			<div id = "comment-4881" class = "comment">
				<p>Thanks for your answer. Eventually, i was able to have the APM talk to the ADK via serial port and Mavlink messages and the ADK connect to an onboard android phone via usb. I'll try to publish a more detailed description and some code as soon as I find it stable enough</p>
			</div>
			<div id = "comment-4890" class = "comment">
				<p>Cool. By the way, I've been making my own Mavlink messages which turned out to be less of a headache than I expected; let me know if you need any help with that. Also, a gentle reminder that upvoting is a good way to say thank you ;-)</p>
			</div>
			<div id = "comment-4902" class = "comment">
				<p>Hello I'm the main developer of DroidPlanner, if you guys need any help in using DP just mail me.</p>
			</div>
			</div>
				<textarea id = "speech-2503" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2503">
					<img id="start_img-2503" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2503">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>