<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Angular Velocity from dual tri axial accelerometers
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10642" class = "post">
			<h2>Question</h2>
			<div id="vote-10642" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 54</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Angular Velocity from dual tri axial accelerometers</h2>
<p>Can anyone throw some light on using accelerometers to measure  angular acceleration and hence angular velocity. This approach is to avoid gyroscopes due to drifting errors. Any links for this also would be very helpful.</p>

<p>Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10642" data-toggle = "popover">
				<p>user name : Nithin G A</p>
				<p> user reputation : 64</p>
				<p class = "tagcontent" id = "usertaginfo-10642">{'None': 0, 'accelerometer': 11, 'algorithm': 2, 'calibration': 1, 'integration': 3, 'gyroscope': 5, 'orientation': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10642">Load Comments</button></br>
			<div id = "commentsection-10642" class = 'collapse'>
			<div id = "comment-19188" class = "comment">
				<p>http://hyperphysics.phy-astr.gsu.edu/hbase/rotq.html</p>
			</div>
			<div id = "comment-19205" class = "comment">
				<p>Thanks a lot...instead of revising my basics, I was pondering over some research papers.</p>
			</div>
			</div>
				<textarea id = "speech-10642" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10642">
					<img id="start_img-10642" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10642">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12101"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12101" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Gyros measure angular velocity without the insane drift that comes from integrating accelerometer data. Integrating accelerometers for velocity or position is not a good idea because any noise gets integrated. In theory if the noise was perfectly random this wouldn't be a problem but the noise almost never is.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12101" data-toggle = "popover">
				<p>user name : EngineeringStudent</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-12101">{'stereo-vision': 0, 'None': 12, 'computer-vision': 0, 'localization': 1, 'mapping': 2, 'lidar': 2, 'mobile-robot': 2, 'ros': 0, 'navigation': 0, 'gps': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12101" class = 'collapse'>
			</div>
				<textarea id = "speech-12101" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12101">
					<img id="start_img-12101" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12101">Comment</button>
			<br><div id = "ans-12588"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12588" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An accelerometer triad measures the non-field specific force vector ($\mathbf{f}$) at it's location. If it is located at the centre of mass of the body, it will measure 
$$
\mathbf{f} = \mathbf{\dot{v}} - \mathbf{g}
$$
where $\mathbf{\dot{v}}$ is the translational acceleration of the body and $\mathbf{g}$ is the acceleration due to gravity.</p>

<p>To be able to measure angular acceleration around the centre of mass, the accelerometer triad needs to be displaced a distance $\mathbf{\rho}$ from the centre of mass.  In that case it will measure 
$$
\mathbf{f'} = \mathbf{f} + \mathbf{\dot{\omega}\times\rho} +\mathbf{\omega\times}(\mathbf{\omega\times\rho}) 
$$
where $\mathbf{\omega}$ is the angular velocity of the body.  So, to be able to use the accelerometer to (indirectly) measure angular acceleration, you will need to measure the acceleration of the centre of mass as well.  This can be done by having two accelerometer triads mounted to the body.  Then, you have to solve the equation given above to obtain $\mathbf{\dot{\omega}}$ and integrate it to obtain $\mathbf{\omega}$.</p>

<p>Gyroscopes do drift, yes.  But accelerometers also have biases, they are very noisy, and will also measure vibrations in your system.  These biases and noises will, of course, be integrated. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12588" data-toggle = "popover">
				<p>user name : Christo</p>
				<p> user reputation : 351</p>
				<p class = "tagcontent" id = "usertaginfo-12588">{'None': 19}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12588" class = 'collapse'>
			</div>
				<textarea id = "speech-12588" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12588">
					<img id="start_img-12588" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12588">Comment</button>
			<br><div id = "ans-12591"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12591" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Accelerometers (not gyroscopes) are by far the most common way of <a href="https://www.digikey.com/en/articles/techzone/2011/may/using-an-accelerometer-for-inclination-sensing" rel="nofollow noreferrer">sensing inclination</a>, in other words the rotation angle relative to "down", and adjusting the mobile phone screen and camera to "portrait mode" or "landscape mode".</p>

<p>Unlike gyroscopes, this method of measuring pitch and roll generally does not have long-term drift (although it often does have a lot of short-term errors).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12591" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-12591">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12591" class = 'collapse'>
			</div>
				<textarea id = "speech-12591" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12591">
					<img id="start_img-12591" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12591">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>