<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Angular momentum of rimless wheel in Passive Dynamic Walking
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9826" class = "post">
			<h2>Question</h2>
			<div id="vote-9826" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 123</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Angular momentum of rimless wheel in Passive Dynamic Walking</h2>
<p>In Tad McGeer's work, <a href="https://www.google.com.tw/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjz9KOX5NTMAhWEj5QKHbauD9YQFgggMAA&amp;url=http%3A%2F%2Fruina.tam.cornell.edu%2Fresearch%2Fhistory%2Fmcgeer_1990_passive_dynamic_walking.pdf&amp;usg=AFQjCNG1l9gbWCJgcd5mlARdYvOcD123cg&amp;sig2=cE3ne4MxgyCi_9lnRHT3Bw" rel="nofollow">Passive Dynamic Walking</a>, in 1990, he mentions the rimless wheel model, which is used to approximate the bipedal locomotion. I can't understand why the angular momentum is written as follows.</p>

<p>$H^-=(\cos 2\alpha_0+r^2_{gyr})ml^2\Omega^-$</p>

<p>I have the following questions:</p>

<ol>
<li><p>Isn't the angular momentum be $I*\omega$, $m^2l\Omega$ as the paper's notation?</p></li>
<li><p>If $\alpha_0$ is $\frac{\pi}{2}$ and $r_{gyr}$ approaches to 0, shouldn't the angular momentum before impact, $H^-$, be negative? Then how the conservation goes?</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-9826" data-toggle = "popover">
				<p>user name : lucasKoTW</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-9826">{'wheel': 4, 'None': 0, 'walking-robot': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9826">Load Comments</button></br>
			<div id = "commentsection-9826" class = 'collapse'>
			<div id = "comment-17510" class = "comment">
				<p>@Chuck sorry about the wrong year, it's the 1990 paper. I've edited the post with the link.</p>
			</div>
			</div>
				<textarea id = "speech-9826" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9826">
					<img id="start_img-9826" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9826">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9837"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9837" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are some fundamental problems with your questions. </p>

<p>First, $\alpha_0$ and $r_{gyr}$ are fixed parameters that depend on the passive walker. </p>

<p>Second, the equation $$H^-=I*\omega=(cos(2 \alpha_0)+r_{gyr}^2)m l^2 \Omega$$ implies that $$I=(cos(2 \alpha_0)+r_{gyr}^2)m l^2 \neq m l^2.$$</p>

<p>Lastly, I'm not sure that $\alpha_0=\pi/2$ makes sense physically because it is the angle of the leg at support transfer. See Figure 5 in the paper. The gait of each leg is out of phase as expected. $\alpha_0=\pi/2$ would mean that the weight transfers when the leg is perpendicular with the ground, which, I am confident, would not be a smooth walking gait.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9837" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-9837">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9837">Load Comments</button></br>
			<div id = "commentsection-9837" class = 'collapse'>
			<div id = "comment-17556" class = "comment">
				<p>Thank you, @NBCKLY. But I still can't understand how does the $cos(2\alpha_0)+r^2_{gyr}$ come along. I suppose that $m$ represents the center of mass of the rimless wheel.</p>
			</div>
			</div>
				<textarea id = "speech-9837" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9837">
					<img id="start_img-9837" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9837">Comment</button>
			<br><div id = "ans-9902"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9902" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In McGeer's 1990 work on Passive Dynamic Walking, the angular momentum equation that you have posted is the angular momentum of the system <em>just</em> before the impact of the swing foot, about the impending impact point. It consists of two parts: </p>

<ul>
<li><p>the angular momentum due to the velocity of the center of mass about the impact point, given by $\cos(2\alpha_0) ml^2 \Omega_-$; and </p></li>
<li><p>the angular momentum due to the velocity of the rotational inertia about the center of mass, given by $r^2_{gyr} ml^2 \Omega_-$.</p></li>
</ul>

<p>To answer question 1, the equation is already in the form $H = I*\omega + ml^2\Omega$, as you would expect. The challenge comes in because of two factors. </p>

<ul>
<li><p>First, the overall rotational inertia $I$ about the impact point is defined using a radius of gyration, since the system is rotationally symmetric about the center of mass: $I = r^2_{gyr} ml^2$. </p></li>
<li><p>Second, the angular velocity $\Omega_-$ is about the foot of the supporting leg, some of which is lost due to the impact of the swinging foot with the ground. This means the required $\Omega$ to find the angular momentum about the impact point is actually equal to $cos(2\alpha_0) \Omega_-$, leading to the equation as written in McGeer's work.</p></li>
</ul>

<p>To answer question 2, both $\alpha_0$ and $r_{gyr}$ are constants for a rimless wheel (as @NBCKLY said in his answer):</p>

<ul>
<li><p>$\alpha_0$ is the angle between legs, given by $\alpha_0 = 2\pi/n$ (where $n$ is the number of legs). This means that in order to have $\alpha_0 = \pi/2$, there would need to be 4 legs on the wheel and the majority of the energy will be lost at every step (not a likely scenario).</p></li>
<li><p>$r_{gyr}$ is the radius of gyration, a proxy for the constant rotational inertia of the model about the center of mass. Since the distribution of mass of the model does not change, this value also will not change.</p></li>
</ul>

<p>There has been lots of work done more recently on the concepts that you are exploring in passive dynamic walking and underactuated robotics which I would invite you to investigate using your preferred research platform.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9902" data-toggle = "popover">
				<p>user name : Brandon J DeHart</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-9902">{'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9902">Load Comments</button></br>
			<div id = "commentsection-9902" class = 'collapse'>
			<div id = "comment-17726" class = "comment">
				<p>Happy to help! I've been working with the rimless wheel for a while now, so figured I'd share what I know about it.</p>
			</div>
			</div>
				<textarea id = "speech-9902" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9902">
					<img id="start_img-9902" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9902">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>