<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Answers telling people to email them
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1936" class = "post">
			<h2>Question</h2>
			<div id="vote-1936" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Answers telling people to email them</h2>
<p>Just a questions about editing. </p>

<p>In a post such as <a href="https://apple.stackexchange.com/posts/120147/revisions">this where the person answering</a> gives out their email address.</p>

<p>I did not edit this out because I did not want to offend but if standard practice is to remove such invitations, I will remove them, to avoid double editing such as patrix had to do in the above case.</p>

<p>Is it standard practice to remove such invitations.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1936" data-toggle = "popover">
				<p>user name : Deesbek</p>
				<p> user reputation : 2137</p>
				<p class = "tagcontent" id = "usertaginfo-1936">{'None': 1, 'voting': 6, 'support': 6, 'discussion': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1936" class = 'collapse'>
			</div>
				<textarea id = "speech-1936" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1936">
					<img id="start_img-1936" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1936">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1937"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1937" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is standard practice to remove these as well as any other signature parts like Thanks and the writers name.</p>

<p>There are many threads on <a href="http://meta.stackexchange.com">http://meta.stackexchange.com</a> setting out the reasons including this question as a <a href="https://meta.stackexchange.com/questions/5029/are-taglines-signatures-disallowed">FAQ</a>
and according to that the following should be in our FAQ(however I can't find the FAQ)</p>

<blockquote>
  <p><strong>Can I use a signature or tagline?</strong></p>
  
  <p>Please don't use signatures or taglines in your posts. Every post you make is already "signed" with your standard user card, which links directly back to your user page. Your user page belongs to you   fill it with interesting information about your interests, cool stuff you've worked on, or whatever else you like!</p>
</blockquote>

<p>for email addresses alone see this <a href="https://meta.stackexchange.com/questions/148394/should-real-e-mail-addresses-be-forbidden-in-questions-answers">question</a></p>

<blockquote>
  <p>...The goal of Stack Overflow is to create a resource of knowledge to help people for years to come, and this means the focus is squarely on questions and answers.</p>
  
  <p>If I post a question and then ask people to email me the answers, this doesn't help future visitors. If I'm a spammer posting an email address so I can sell you my service, this creates a lot of noise that detracts from excellent Q&amp;A. If I post my email address, at minimum, I'm opening the door for spammers to obtain my email address.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1937" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 16790</p>
				<p class = "tagcontent" id = "usertaginfo-1937">{'None': 93, 'synonym': 7, 'tags': 6, 'site-scope': 10, 'support': 9, 'canonical-questions': 4, 'status-completed': 6, 'bug': 13, 'closed-questions': 1, 'close-reasons': 1, 'hyperlinks': 1, 'feature-request': 8, 'status-bydesign': 8, 'editing': 1, 'discussion': 39}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1937" class = 'collapse'>
			</div>
				<textarea id = "speech-1937" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1937">
					<img id="start_img-1937" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1937">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>