<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Anthropomorphic Arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9535" class = "post">
			<h2>Question</h2>
			<div id="vote-9535" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 161</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Anthropomorphic Arm</h2>
<p>I developed an anthropomorphic arm (structure in aluminium) with 6 DOF (3 plus spherical wrist) for direct kinematic. </p>

<p>I chose magnetic rotary encoders to measure angles but I am not satisfied, due to them causing noise on angle measurements. </p>

<p>What do you advise me? </p>

<ul>
<li>To add another sensor and perform a sensor fusion? </li>
<li>To replace magnetic encoders with optical ones? </li>
<li>or... what else?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-9535" data-toggle = "popover">
				<p>user name : diego</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-9535">{'None': 0, 'manipulator': 5, 'arm': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9535">Load Comments</button></br>
			<div id = "commentsection-9535" class = 'collapse'>
			<div id = "comment-16855" class = "comment">
				<p>What resolution is your encoder? What resolution do you need? Do you have any data you can link?</p>
			</div>
			<div id = "comment-16860" class = "comment">
				<p>Thank you Chuck. my encoder resolution is 0.03% of the maximum measure (360 ). i'd like a submillimetric resolution in the tracking of end effector in the workspace. Unfortunely now i've not any data, i can have them again only on monday.</p>
			</div>
			<div id = "comment-16862" class = "comment">
				<p>You give an angular resolution on the encoder and a distance resolution for what you need - what are the kinematic relationships of your arm? How far is it from each joint to each other joint and the end effector?</p>
			</div>
			</div>
				<textarea id = "speech-9535" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9535">
					<img id="start_img-9535" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9535">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9541"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9541" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was going to add this as a comment, but it's more detailed than one so I'll post it as an answer. </p>

<p>You might be able to <em>measure</em> to the sub-millimeter level, but you will find it <strong>very, very difficult</strong> to <em>control</em> to that level. This is because every mechanical structure has some form of resonance - everything shakes. </p>

<p>If your robot were just a chunk of aluminum, you'd probably be fine. But, because you want something <em>functional</em>, you put joints in the robot. Those joints need to be flexible to be functional, but they also need to be rigid enough (when commanded) to support the weight of the arm plus whatever payload you have. </p>

<p>The fact that a robot <em>moves</em> to a commanded position means that there will be some <em>momentum</em> in the arm. When you bring the arm to a stop there is a <a href="https://en.wikipedia.org/wiki/Jerk_(physics)" rel="nofollow">jerk</a> that mechanically excites the arm, starting vibration. You can measure the motion of the arm, but controlling the vibration with an actuator, to the level you're talking about, is very difficult. </p>

<p>Regarding measurement accuracy, you haven't given any dimensions for your arm, so it's not possible to give a hard spec on your encoder resolution requirement, but I'll wager that what you have is insufficient. </p>

<p>If your arm is 1 foot long (305mm), then motion of 0.1mm at the end of that arm is equivalent to </p>

<p>$dx = r\sin{(\theta)}$</p>

<p>$\theta = \mbox{asin}{(dx/r)}$</p>

<p>$\theta = 0.018 \mbox{deg}$</p>

<p>You state that your encoder measures to 0.03% of 360 degrees, which means is measures to 30% of 0.36 degrees, or about 0.1 degree. This means that you need <strong>10 times</strong> the resolution on your encoder <em>if</em> your arm, from center of the joint to the end of the end effector, is ~300 mm. </p>

<p>Whenever you <em>do</em> get data, you can quickly check for resonance by <a href="https://en.wikipedia.org/wiki/Correlogram" rel="nofollow">plotting</a> the <a href="https://en.wikipedia.org/wiki/Autocorrelation" rel="nofollow">autocorrelation</a> of data. Resonance generally some sinusoidal function; this would be pretty apparent in the plot. </p>

<p>If you get an encoder that has <em>exactly</em> the resolution you think you need, then sometimes you can get "noise" where the value being measured is on the edge of a bit threshold. For this reason, I typically try to get an encoder a couple bits higher than what I think I need. I thought there was a thumb rule for this but I can't find it in a cursory search online and I don't have my measurement text with me.</p>

<p>Hopefully this gives you some guidance; if you can <em>update your question</em> (please don't post as a comment) a link to your data along with the dimensions of your arm then it would be possible to give you a more thorough answer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9541" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9541">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9541" class = 'collapse'>
			</div>
				<textarea id = "speech-9541" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9541">
					<img id="start_img-9541" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9541">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>