<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Any books or web resources for robotics mechanical design?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9382" class = "post">
			<h2>Question</h2>
			<div id="vote-9382" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Any books or web resources for robotics mechanical design?</h2>
<p>I plan to build a mechanism with multiple axis, which is similar to a robot. To start, I need to define some specifications such as repeatable precision, speed, acceleration, and payload. Then the motor and structure is selected and designed based on these parameters. After that, I need to choose methods to manufacture these components. I would like to consult experienced experts in this forum that is there any suggested books, textbooks, or website resources I can learn these knowledge? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9382" data-toggle = "popover">
				<p>user name : Superuser</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-9382">{'None': 0, 'manufacturing': 0, 'microcontroller': 1, 'c': 2, 'mechanism': 0, 'simulation': 2, 'books': 0, 'matlab': 2, 'robotic-arm': 2, 'real-time': 1, 'ros': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9382">Load Comments</button></br>
			<div id = "commentsection-9382" class = 'collapse'>
			<div id = "comment-16617" class = "comment">
				<p>Have you considered standards also?</p>
			</div>
			<div id = "comment-16687" class = "comment">
				<p>Welcome to *Robotics*, Superuser. As it stands, I think your question is too broad. You ask for references on setting specifications and manufacture. Determining aspects of mechanisms such as limiting speeds, accelerations, weights, etc. is typically the subject of quite a few collegiate courses - physics, statics, dynamics, mechanical system dynamics, and, debatably, kinematics and structural analysis. If you could provide one aspect of a specific scenario then maybe someone here could help, but with the scope you seek, your best resource would be your local university.</p>
			</div>
			<div id = "comment-16692" class = "comment">
				<p>Stack exchange is not a discussion forum, it is a place to ask *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. If you wish to discuss robotics you can use [chat]. Please take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-9382" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9382">
					<img id="start_img-9382" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9382">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9428"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9428" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could look at three books.</p>

<ul>
<li><a href="http://www.cds.caltech.edu/~murray/books/MLS/pdf/mls94-complete.pdf" rel="nofollow">A Mathematical Introduction to Robotic Manipulation - S.Sastry, X.Li and R.Murray</a> provides a theoretical foundation to the kinematics, dynamics and control aspects of robotic manipulators. The only downside to this book is that it lacks in algorithmic content like that available in <a href="http://www.probabilistic-robotics.org/" rel="nofollow">Probabilistic Robotics - Sebastian Thrun</a></li>
<li><a href="http://rads.stackoverflow.com/amzn/click/0134687523" rel="nofollow">Robotic Engineering An Integrated Approach</a> deals with the A to Z of designing a robotic manipulator. It gives you a theoretical overview of the fundamental concepts. In terms of design it takes you from requirements through implementation and practical considerations while choosing actuators, computing systems etc. The downside for this book is the same as the previous book.</li>
<li><a href="http://www.amazon.co.uk/Mechanical-Design-Robots-Eugene-Rivin/dp/0070529922" rel="nofollow">Mechanical Design of Robots</a> covers mechanical engineering topics such as stresses, strains, structures, linkages etc. It is a book to help you design a robotic system from a functionality standpoint. The author maintains that design of robots should not necessarily compromise on aesthetic values by always going by the worst case scenario.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9428" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-9428">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9428">Load Comments</button></br>
			<div id = "commentsection-9428" class = 'collapse'>
			<div id = "comment-16768" class = "comment">
				<p>Thank you very much for your sharing. It is helpful. I will start to study them.</p>
			</div>
			</div>
				<textarea id = "speech-9428" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9428">
					<img id="start_img-9428" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9428">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>