<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Any image transfer protocol for wireless serial transfer?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2555" class = "post">
			<h2>Question</h2>
			<div id="vote-2555" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1375</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Any image transfer protocol for wireless serial transfer?</h2>
<p>I want to send image over wireless serial communication. I am planning to capture images using either raspberry pi or stm32 mcu using DCMI and then transfer image using wireless serial communication module such as <a href="https://www.sparkfun.com/products/10419" rel="nofollow">Xbee</a> or <a href="http://store.3drobotics.com/products/3dr-radio" rel="nofollow">3DR radio</a> which can provide air data rate upto 250Kbps at baud rate of 115200</p>

<p>I would like to know if there is any protocol which can send a jpeg compressed image as a wireless serial data.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2555" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-2555">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2555">Load Comments</button></br>
			<div id = "commentsection-2555" class = 'collapse'>
			<div id = "comment-4912" class = "comment">
				<p>The answer is "yes, there are many such protocols".  Can you be more specific about your needs?</p>
			</div>
			<div id = "comment-9946" class = "comment">
				<p>I'm wanting to do the same thing where i can use two Linux systems and for one to continuously send motion-activated .jpeg images to the other but can't seem to find any documentation on how to do it. Anyone's help would me much appreciated. Thanks</p>
			</div>
			</div>
				<textarea id = "speech-2555" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2555">
					<img id="start_img-2555" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2555">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2558"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2558" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The only way I know is using FTP protocol.
YOu have to make your system connect to the internet using Ethernet Shield/ Wifi Shield/ 3G-GPRS (GSM) Shield. Then, using FTP protocol to upload the image to the local host. There are dozens of hosts that support the FTP protocol.
Then, you can easily re-download the image from anywhere else connected to the host.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2558" data-toggle = "popover">
				<p>user name : Adel Bibi</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-2558">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2558">Load Comments</button></br>
			<div id = "commentsection-2558" class = 'collapse'>
			<div id = "comment-4992" class = "comment">
				<p>Welcome to R.SE... FTP is OK if *file* are being transferred, but he's talking about a captured image (presumably in memory).  I suspect a custom protocol will be required</p>
			</div>
			<div id = "comment-4993" class = "comment">
				<p>Thanks for your comment. I have managed myself to upload an Image to a local host using the FTP protocol. Of course, it took around 7-8 seconds for a relatively small sized image, but in theory it works.</p>
			</div>
			</div>
				<textarea id = "speech-2558" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2558">
					<img id="start_img-2558" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2558">Comment</button>
			<br><div id = "ans-2561"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2561" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Once you have the image stored as a file, you can transfer that using <em>any</em> one of dozens of <a href="http://en.wikipedia.org/wiki/list_of_file_transfer_protocols" rel="nofollow noreferrer">file transfer protocols</a>, as long as it is supported by <em>both</em> ends of the link.</p>

<p>We would really <a href="https://robotics.stackexchange.com/help/how-to-ask">like to help</a>, but it's impossible for anyone to <a href="https://meta.stackexchange.com/questions/18584/how-to-ask-a-smart-question">read your mind</a> and see what you put on <em>both</em> ends of the link.
And I certainly would like to help someone building a robot that can use a double crossover merging interchange (DCMI).
(Hint: it's not too late to edit your question and add a few more details).</p>

<p>If, hypothetically, you have lots of RF noise and you're trying to transfer a file between two Raspberry Pi machines over an XBee connection,
you might want to try the <a href="http://en.wikipedia.org/wiki/ZMODEM" rel="nofollow noreferrer">ZMODEM</a> protocol.
ZMODEM was designed to reliably transfer files over high-noise, high-latency, slow dial-up links.
(I did a quick search and turned up this <a href="http://ijiet.com/wp-content/uploads/2013/12/6.pdf" rel="nofollow noreferrer">Zmodem on Raspberry Pi tutorial</a>; you can probably find a better tutorial with a little more search time).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2561" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-2561">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2561" class = 'collapse'>
			</div>
				<textarea id = "speech-2561" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2561">
					<img id="start_img-2561" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2561">Comment</button>
			<br><div id = "ans-6972"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6972" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you need realtime imagery, you should look at the many analog cameras and transmitters on the market.  The FPV folks use them all the time and have really worked them out.</p>

<p>Obviously you'll have to deal with analog noise and conversion to digital on the other end, but it is the only thing that will give you any real range (0.5km at least) and realtime performance.</p>

<p>Here's one I use: <a href="http://www.readymaderc.com/store/index.php?main_page=product_info&amp;products_id=266" rel="nofollow">http://www.readymaderc.com/store/index.php?main_page=product_info&amp;products_id=266</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6972" data-toggle = "popover">
				<p>user name : abarry</p>
				<p> user reputation : 66</p>
				<p class = "tagcontent" id = "usertaginfo-6972">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6972" class = 'collapse'>
			</div>
				<textarea id = "speech-6972" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6972">
					<img id="start_img-6972" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6972">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>