<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Any globally unique signature in Ardupilot hardware, or Arduino in general?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1755" class = "post">
			<h2>Question</h2>
			<div id="vote-1755" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 141</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Any globally unique signature in Ardupilot hardware, or Arduino in general?</h2>
<p>I have several <a href="http://store.3drobotics.com/products/apm-2-5-kit">APM 2.5 boards</a> and need to identify them based on some globally unique hardware signature that does not change with programming.</p>

<p>Arduinos and atmel AVR chips in general <a href="http://forum.arduino.cc/index.php?topic=45104.0">do not have</a> (also <a href="http://forum.arduino.cc/index.php?topic=45060.0">this thread</a>) an accessible serial number.</p>

<p>However, it seems that the Ardupilot has so many integrated sensors and other ICs that one of them must have something unique I can use ( <a href="http://stuff.storediydrones.com/APM_v252_RELEASE.zip">see schematic</a> )!</p>

<p>I will be checking datasheets for MPU-6000, HMC5883L-TR and MS5611, but in the meantime, if someone has already figured this one out, please answer.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1755" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1755">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1755" class = 'collapse'>
			</div>
				<textarea id = "speech-1755" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1755">
					<img id="start_img-1755" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1755">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1760"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1760" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, I'll be darned. A serial number shows up in dmesg when you plug the thing in. I checked two boards that the number was different, so hopefully these are globally unique.</p>

<pre><code>me@mycompy:~/arducopter/MissionPlanner$ dmesg|tail                                                                                                                                                   
[26581.627967] iwlwifi 0000:03:00.0: fail to flush all tx fifo queues
[26583.020822] usb 1-1.2: new full-speed USB device number 27 using ehci-pci
[26583.115672] usb 1-1.2: New USB device found, idVendor=2341, idProduct=0010
[26583.115682] usb 1-1.2: New USB device strings: Mfr=1, Product=2, SerialNumber=220
[26583.115689] usb 1-1.2: Product: Arduino Mega 2560
[26583.115696] usb 1-1.2: Manufacturer: Arduino (www.arduino.cc)
[26583.115702] usb 1-1.2: SerialNumber: 64033353830351A0B122
[26583.116485] cdc_acm 1-1.2:1.0: ttyACM0: USB ACM device
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1760" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1760">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1760" class = 'collapse'>
			</div>
				<textarea id = "speech-1760" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1760">
					<img id="start_img-1760" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1760">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>