<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Any ideas for a robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1924" class = "post">
			<h2>Question</h2>
			<div id="vote-1924" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 95</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Any ideas for a robot?</h2>
<p>I am in the FLL (First Lego League), and while we are waiting for the competitions, we want to work on a robot. Anyone have any ideas?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1924" data-toggle = "popover">
				<p>user name : Scribblenautical</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-1924">{'None': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1924">Load Comments</button></br>
			<div id = "commentsection-1924" class = 'collapse'>
			<div id = "comment-3946" class = "comment">
				<p>i couldnt find a tag. Someone put a tag to fit in to this question!!</p>
			</div>
			<div id = "comment-3947" class = "comment">
				<p>Hi JerryRox: It appears your question was put on hold for being too broad. You should consider changing it to something like what types of projects could I do to practice for FLL? How can my FLL team improve?</p>
			</div>
			</div>
				<textarea id = "speech-1924" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1924">
					<img id="start_img-1924" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1924">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1926"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1926" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have worked as a robot design judge at my local qualifiers and regional events for 3 years now. There are several major areas where successful teams tend to excel. Following are a few in no particular order:</p>

<ul>
<li>Sensors: Learning to use sensors is simultaneously the hardest and best thing you can do to improve performance. Using sensors well can increase reliability and repeatability when performing tasks. In other words it can improve the performance of the robot by making it more accurate. Start with something simple like learning how to use bump sensors. Then try something a little more complicated like learning how to use color sensors considering how their output changes given different lighting conditions. If you are really up for a challenge then you can learn how to do <a href="http://www.nxtprograms.com/line_follower/index.html" rel="nofollow">line following</a>. The most successful teams I have seen make line following a core component.</li>
<li>Programming: Many tasks require the same functionality. For instance, you can use line following to get from home base to the various challenges. You can either put this functionality into each of your programs directly or you can use <em><a href="http://www.nxtprograms.com/help/MyBlocks/tutorial.html" rel="nofollow">My Blocks</a></em> to build the functionality once and use it over and over in your programs. Doing so has the added benefit of making your code more reliable because once it has been written and tested you know it works. It has the added benefit of making your programs smaller allowing you to fit more programs. This can be great for testing. But be careful, too many programs can make switching programs during a challenge time consuming.</li>
<li>Attachments: Changing attachments during the competition is a major time sink. Learning to design attachments that can be used to perform multiple tasks saves time and helps score many points. Try making different types of attachments and focus on learning how to make them rigid and strong.</li>
<li>Stability: Tipping over during a challenge can cost you points as a result of touching the robot while it's away from home base. Practice building chassis that avoiding tipping when the robot turns and interacts with objects in the environment.</li>
<li>Team: FLL emphasizes team building for a reason. A good team can divide the numerous tasks necessary to be successful and can help each other when challenges arise. Learn how to communicate with your team members especially when you disagree. This will show through when you are in the various judging rooms which can earn you a prize in-and-of-itself.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1926" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1926">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1926" class = 'collapse'>
			</div>
				<textarea id = "speech-1926" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1926">
					<img id="start_img-1926" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1926">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>