<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>APM Planner on Linux~Ubuntu "open from file" not working
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5126" class = "post">
			<h2>Question</h2>
			<div id="vote-5126" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 153</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>APM Planner on Linux~Ubuntu "open from file" not working</h2>
<p>I can't open parameter list with APM Planner.</p>

<p>Moreover I can't find anyone with same problem.
I run it on Ubuntu/trusty 14.04</p>

<p>It does not see files with any extensions including <code>param</code> and <code>txt</code> downloaded from internet or created with my version of APM Planner.</p>

<p>Any ideas how can I fix it?</p>

<p><img src="https://i.stack.imgur.com/nZXI0.png" alt="enter image description here"></p>

<p><strong>PS</strong> <code>ls -la</code> from terminal</p>

<pre><code>user@laptop:~/apmplanner2/parameters$ ls -la
total 16
drwxrwxr-x 2 user user 4096 Dec  9 12:57 .
drwxrwxr-x 7 user user 4096 Dec  9 21:05 ..
-rw-rw-r-- 1 user user 6881 Dec  9 12:57 paramter.param
</code></pre>

<p>I have <code>param</code>, <code>txt</code> files in Downloads folder also.</p>

<p><strong>PS</strong></p>

<p><img src="https://i.stack.imgur.com/XRgAA.png" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5126" data-toggle = "popover">
				<p>user name : Max</p>
				<p> user reputation : 104</p>
				<p class = "tagcontent" id = "usertaginfo-5126">{'None': 0, 'ardupilot': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5126">Load Comments</button></br>
			<div id = "commentsection-5126" class = 'collapse'>
			<div id = "comment-7885" class = "comment">
				<p>Are you sure those files are there and they are not hidden? If you put `*.*` in `File name:` field, does it show the files? Can you post what you would see if you go to the terminal, go to that directory and do an `ls`?</p>
			</div>
			<div id = "comment-7898" class = "comment">
				<p>Yes. I am sure. I was able to upload from Mac version. On Ubuntu QGroundControl is able to upload. I was not able to see `param`, `txt` files downloaded from internet or saved from APM Planner.</p>
			</div>
			<div id = "comment-7899" class = "comment">
				<p>It's strange. What happens if you type `paramter.param` in the "File name:" field and just hit "Open"? Does it open the file correctly?</p>
			</div>
			<div id = "comment-7913" class = "comment">
				<p>Open button is inactive. I will add screenshot that I typed it correctly.</p>
			</div>
			<div id = "comment-7915" class = "comment">
				<p>Did you run and install the program with the right _rights_ (_user_, **root**)?!?!</p>
			</div>
			<div id = "comment-7917" class = "comment">
				<p>Yes. I installed it from `.deb` and it is not possible to install it without sudoing.</p>
			</div>
			</div>
				<textarea id = "speech-5126" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5126">
					<img id="start_img-5126" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5126">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>