<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>APM Mission Planner 2.0.18 Install Firmware Failure Mac OS X 10.11
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9500" class = "post">
			<h2>Question</h2>
			<div id="vote-9500" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 721</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>APM Mission Planner 2.0.18 Install Firmware Failure Mac OS X 10.11</h2>
<p>I installed Multiple versions of <code>APM</code> (2.0.7, 2.0.17, 2.0.18) on Windows 7, Ubuntu 14.04, and OSX 10.11. I could connect to my <code>ArduPilot</code> but could not install firmware. Here's the error I would get:</p>

<pre><code>Started downloading http://firmware.diydrones.com/Copter/stable/apm2-hexa/ArduCopter.hex
Finished downloading /var/folders/r4/s_j4c02s3wvcx6wy41__rnwh0000gp/T/APM Planner.uq1800
Opening firmware file...
Unable to open file: /var/folders/r4/s_j4c02s3wvcx6wy41__rnwh0000gp/T/APM Planner.uq1800
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-9500" data-toggle = "popover">
				<p>user name : Jacksonkr</p>
				<p> user reputation : 220</p>
				<p class = "tagcontent" id = "usertaginfo-9500">{'quadcopter': 2, 'None': 6, 'ardupilot': 0, 'imu': 2, 'localization': 1, 'battery': 0, 'arduino': 4, 'precise-positioning': 1, 'uav': 3, 'kinect': 0, 'microcontroller': 3, 'mobile-robot': 1, 'ultrasonic-sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9500" class = 'collapse'>
			</div>
				<textarea id = "speech-9500" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9500">
					<img id="start_img-9500" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9500">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9501"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9501" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For hours I've been dealing with this and <em>no one</em> has documented the same issue online. I tried the following with no success:</p>

<ul>
<li>Changed permissions of parent folder <code>/var/folders/r4/s_j4c02s3wvcx6wy41__rnwh0000gp/T</code></li>
<li>Ran APM as sudo</li>
<li>Multiple versions of APM</li>
<li>Multiple operating systems</li>
</ul>

<p>I had to get a bit creative to come up with a workable solution:</p>

<h1>Solution</h1>

<p>When APM tried to download the firmware, you could see the temp file until you clicked "OK" in regard to the firmware failure. What I did was copied that file and found the following html in there:</p>

<pre><code>&lt;!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN"&gt;
&lt;html&gt;&lt;head&gt;
&lt;title&gt;302 Found&lt;/title&gt;
&lt;/head&gt;&lt;body&gt;
&lt;h1&gt;Found&lt;/h1&gt;
&lt;p&gt;The document has moved &lt;a href="http://firmware.ardupilot.org/Copter/stable/apm2-hexa/ArduCopter.hex"&gt;here&lt;/a&gt;.&lt;/p&gt;
&lt;hr&gt;
&lt;address&gt;Apache/2.4.7 (Ubuntu) Server at firmware.diydrones.com Port 80&lt;/address&gt;
&lt;/body&gt;&lt;/html&gt;
</code></pre>

<p>Obviously this is a server issue so here's what I did to get around it:</p>

<ul>
<li>Downloaded the file mentioned in the html (<code>http://firmware.ardupilot.org/Copter/stable/apm2-hexa/ArduCopter.hex</code>) to my desktop</li>
<li>Changed the file format from <code>txt</code> to <code>hex</code></li>
<li>Set APM Planner to advanced mode via <code>File</code> > <code>Advanced Mode</code></li>
<li>In <code>Initial Setup</code> > <code>Install Firmware Menu</code> I selected <code>Firmware Options</code> > <code>Custom</code></li>
<li>Chose the hex file I had downloaded</li>
</ul>

<h1>Viol </h1>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9501" data-toggle = "popover">
				<p>user name : Jacksonkr</p>
				<p> user reputation : 220</p>
				<p class = "tagcontent" id = "usertaginfo-9501">{'quadcopter': 2, 'None': 6, 'ardupilot': 0, 'imu': 2, 'localization': 1, 'battery': 0, 'arduino': 4, 'precise-positioning': 1, 'uav': 3, 'kinect': 0, 'microcontroller': 3, 'mobile-robot': 1, 'ultrasonic-sensors': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9501" class = 'collapse'>
			</div>
				<textarea id = "speech-9501" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9501">
					<img id="start_img-9501" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9501">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>