<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Applying MoCap data to real life robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9349" class = "post">
			<h2>Question</h2>
			<div id="vote-9349" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 92</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Applying MoCap data to real life robot</h2>
<p>I have a Kinect Sensor, and <a href="http://ipisoft.com/" rel="nofollow">iPi software</a> I use to create motion capture data to use in film editing. I am looking at creating a small, Raspberry Pi driven bipedal robot just for fun, and I was wondering if it was possible to use the MoCap to control the robot? It will only be 20-30 cm tall, with six servos (hips, knees, ankles). Is it possible to apply the movement from these six joints on the human body to my robot, like having a string directly from my left knee joint to its left knee servo? It could either be in real-time, like following my actions, or using pre-recorded data.</p>

<p>(NOTE: If needed, I can plug it directly to my Apple/Windows computer, if the Pi could not support this. Also, it will have no upper torso <em>at the moment</em>.)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9349" data-toggle = "popover">
				<p>user name : Woodman</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9349">{'mobile-robot': 1, 'None': 0, 'motion-planning': 1, 'servos': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9349" class = 'collapse'>
			</div>
				<textarea id = "speech-9349" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9349">
					<img id="start_img-9349" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9349">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9363"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9363" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, you could control the legs, but no, you're probably not going to get the effect I think you're after. The legs will probably not walk on their own just because they're miming what your motion capture system recorded. </p>

<p>First, a human leg has more than six degrees of freedom. The hip can <a href="https://en.wikipedia.org/wiki/Anatomical_terms_of_motion" rel="nofollow">flex and extend</a>, abduct and adduct, and rotate laterally and medially. That's three axes of motion for the first joint. The knee and flex and extend (fourth axis of motion), and the ankle also has three axes, like the hip - flex/extend, abduct/adduct, and rotation. That's seven axes of motion. </p>

<p>Second, toes do a great deal to <a href="http://www.ncbi.nlm.nih.gov/pubmed/18932241" rel="nofollow">help balance</a>. If you don't have any way to control toe motion (or capture it - they're like force actuators instead of position actuators), then you won't be able to achieve the same control as someone with toes.</p>

<p>Third, you are unlikely to get the same dynamic response as human muscle with (what sounds like) hobby servos. If the servo can't move with the same speed and force as human muscle, then the servo's mechanical response is prone to act as a low-pass filter, which means it could be unable to replicate faster balance/control actions. </p>

<p>Fourth, and biggest - the human, who is being captured, has a different set of dynamic parameters that they are trying to regulate for their motion. Their height, weight, center of gravity, moment of inertia, will all be different than the robot's, especially if the robot is missing a torso.</p>

<p>None of this means specifically that it won't work at all - you have the freedom to design shorter limbs, larger feet, etc., that can attempt to make up for the lack of fidelity in recreating the person. You'll just have to take care to understand that, with fewer degrees of freedom than a person, you may not be able to replicate all motion, and you may have some (severe) trouble getting the robot to balance correctly. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9363" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9363">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9363">Load Comments</button></br>
			<div id = "commentsection-9363" class = 'collapse'>
			<div id = "comment-16676" class = "comment">
				<p>Thanks heaps Chuck. Your answer was perfect, precise and to the point, even for a relative 'noob' like myself! Cheers!</p>
			</div>
			</div>
				<textarea id = "speech-9363" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9363">
					<img id="start_img-9363" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9363">Comment</button>
			<br><div id = "ans-9364"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9364" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://robotics.stackexchange.com/a/9363/350">Chuck's answer</a> is correct; applying motion capture to a robot will make its legs move in a walking motion, but won't guarantee that the entire setup will remain upright.  </p>

<p><a href="https://i.stack.imgur.com/RjNBE.gif" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/RjNBE.gif" alt="floor spinning"></a></p>

<p>One simple fix for that would be to just use the legs for propulsion only, and use a set of wheels for balance.</p>

<p><a href="https://www.youtube.com/watch?v=rz1xEu52UbM" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ijNUGm.png" alt="walking pants"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9364" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9364">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9364" class = 'collapse'>
			</div>
				<textarea id = "speech-9364" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9364">
					<img id="start_img-9364" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9364">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>