<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>apple-music tag != music.app tag
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2576" class = "post">
			<h2>Question</h2>
			<div id="vote-2576" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 185</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>apple-music tag != music.app tag</h2>
<p>I asked this question recently:</p>

<p><a href="https://apple.stackexchange.com/questions/194038/music-collection-is-not-sorted-by-album-on-ios-8-4">Music collection is not sorted by Album on iOS 8.4</a></p>

<p>And I noticed that an edit was approved to remove <a href="https://apple.stackexchange.com/questions/tagged/music.app" class="post-tag" title="show questions tagged &#39;music.app&#39;" rel="tag">music.app</a> tag and add <a href="https://apple.stackexchange.com/questions/tagged/apple-music" class="post-tag" title="show questions tagged &#39;apple-music&#39;" rel="tag">apple-music</a> tag.</p>

<p>My question has nothing to do with Apple Music.  Apple Music is a streaming service, where the Music App is what comes pre-installed on Apple Devices.  I was having a playlist issue and that is specific to the Music App.</p>

<p>I don't have enough rep to reject the edit, but I also don't want to just edit again and change the tag, which will prompt the original editors to just retag, etc. etc </p>

<p>Is Apple Music the new Music App?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2576" data-toggle = "popover">
				<p>user name : Tim Reddy</p>
				<p> user reputation : 247</p>
				<p class = "tagcontent" id = "usertaginfo-2576">{'None': 0, 'discussion': 7, 'tags': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2576">Load Comments</button></br>
			<div id = "commentsection-2576" class = 'collapse'>
			<div id = "comment-6123" class = "comment">
				<p>The Music app CAN be used to access Apple Music, but in this case you are not accessing Apple Music, just local music, so you don't need the Apple Music tag.</p>
			</div>
			</div>
				<textarea id = "speech-2576" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2576">
					<img id="start_img-2576" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2576">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2577"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2577" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That edit should have been rejected. <a href="https://apple.stackexchange.com/questions/tagged/apple-music" class="post-tag" title="show questions tagged &#39;apple-music&#39;" rel="tag">apple-music</a> is not an appropriate tag here as this is nothing to do with Apple Music, the music streaming service. Unfortunately, no-one reads the tag wiki excerpts, let alone tag wikis, and <a href="https://apple.meta.stackexchange.com/questions/2238/new-users-dont-tag-questions-correctly">I've been there</a>. <a href="https://apple.stackexchange.com/questions/tagged/music.app" class="post-tag" title="show questions tagged &#39;music.app&#39;" rel="tag">music.app</a> tag is the appropriate tag here and I've edited the question to use that tag.</p>

<p>By the way, you don't need more reputation to review suggested edits to your own posts. Opening the suggested edit from the inbox notification will allow you to approve/reject the suggested edit should it have not already been approved/rejected.</p>

<p>I've left a note in the revision history pointing to this meta post and commented to ping the editor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2577" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2577">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2577" class = 'collapse'>
			</div>
				<textarea id = "speech-2577" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2577">
					<img id="start_img-2577" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2577">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>