<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Appropriate control scheme for gripper end-effector
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10948" class = "post">
			<h2>Question</h2>
			<div id="vote-10948" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Appropriate control scheme for gripper end-effector</h2>
<p>I want to use a gripper end-effector (3 fingers, single actuator tendon-driven with force sensors in fingers) to grip and hold fragile objects such as an egg. I can not seem to figure out which control scheme would be most appropriate for the situation. Would using an impedance control with negligible dynamic interaction be effective or a hybrid control with force/position control?</p>

<p>My idea was to simply tense the tendon (slowly) encompassing the object until the force sensor gives a feedback that contact has been made (+ a little grip force), what category of control scheme would that fall into?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10948" data-toggle = "popover">
				<p>user name : user3516142</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-10948">{'control': 1, 'force-sensor': 1, 'None': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10948" class = 'collapse'>
			</div>
				<textarea id = "speech-10948" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10948">
					<img id="start_img-10948" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10948">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10949"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10949" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have a simple controller (e.g. force control or position control) the factor which decides what kind of controller is it is the reference signal which has to correspond to the feedback signal. </p>

<blockquote>
  <p>My idea was to simply tense the tendon (slowly) encompassing the object until the force sensor gives a feedback that contact has been made (+ a little grip force), what category of control scheme would that fall into ?</p>
</blockquote>

<p>If tensing the tendon is through a force signal then this is force control. If you do it by position or velocity (since you mentioned slowly) then it is position control. This idea will most probably be simple to implement and will work (but this is an opinion based remark). You will find many examples for using impedance control for gripping in the scientific literature. It is generally a good idea to start with something simple (incrementing tension until a threshold) and develop that further to impedance control if ti doesn't perform good enough. </p>

<p>Hybrid control has probably many different definitions, the one if which is commonly used in robotics, which is position control in on dimension, force control in a different dimension. (i.e. writing on a white board with the robot controlling the marker, keep force contact perpendicular to the position controlled heading direction).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10949" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10949">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10949" class = 'collapse'>
			</div>
				<textarea id = "speech-10949" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10949">
					<img id="start_img-10949" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10949">Comment</button>
			<br><div id = "ans-10967"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10967" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Impedance control is some kind of analog control. It can be implemented on memory based circuits from the 1950s. That was state-of-the-art before the NASA was on the moon. Some authors has extended this control schema with reinforcement learning. A better possibility for controlling a robohand is to use digitalcomputer only. That means, no mathematical formulas or analog circuits are the way to go, but algorithms, software-engineering and programmable computers. A good starting point is to implement a randomized algorithm (perhaps in matlab) which uses a behavior tree to "reach", "pregrasp" and "grasp" an object. The parameters which are difficult to calculate like the grasppoint or the direction of the gripper can be leave out as random. The algorithm works because after 10 or more repetitions the gripper uses the right parameters via luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10967" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10967">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10967">Load Comments</button></br>
			<div id = "commentsection-10967" class = 'collapse'>
			<div id = "comment-19743" class = "comment">
				<p>OP asked about a category of control. This answer doesn't address the question.</p>
			</div>
			<div id = "comment-19744" class = "comment">
				<p>Impedance control is still relevant and widely used in graspinig. Reach, pre-grasp and grasp say nothing about the used control algorithms, in many cases the grasp phase (or behaviour) uses impedance control. "via luck" is not scientific nor technical. Stochastic methods, which you may be refering to are more then pure luck.</p>
			</div>
			</div>
				<textarea id = "speech-10967" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10967">
					<img id="start_img-10967" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10967">Comment</button>
			<br><div id = "ans-10969"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10969" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe the term you're looking for is <a href="http://ieeexplore.ieee.org/document/7182329/" rel="nofollow noreferrer">compliant control</a>. In a compliant control system, there is a position reference and a force reference, and essentially each is allowed to actuate the joint until either achieves the reference. </p>

<p>So, if you had a position reference of 10 and a force reference of 1, then both the force and position controllers would want to move in the "+" direction. If an obstacle is encountered in the environment, then the position controller is essentially "paused" because the force output of the actuator achieved its goal of 1. As soon as the obstacle clears, the force output drops (because nothing is resisting any more) and the motion resumes until either force or position goals are achieved.</p>

<p>There are a variety of ways compliance is achieved - series elastic actuators, torque/force limits (clamping), parallel control loops, etc., but everything that utilizes the concept of a force-limited position control system is called "compliant".</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10969" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10969">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10969">Load Comments</button></br>
			<div id = "commentsection-10969" class = 'collapse'>
			<div id = "comment-19745" class = "comment">
				<p>Is compliatn control different from cascaded postion-velocity-torqe (standard for most industrial drives) control with a saturation on the torque controller?</p>
			</div>
			<div id = "comment-19746" class = "comment">
				<p>I meant difference to your explanation in the post, not the article you referenced.</p>
			</div>
			<div id = "comment-19747" class = "comment">
				<p>@50k4 - I'm not familiar with that style of control, but I think it would qualify as compliant as long as it avoids windup of the position and speed regulators when drive torque saturates. I believe "compliance" is used more frequently when robots are operating in the vicinity of humans, or for trajectory planning in unknown or complex environments (grippers, etc.) but, generally speaking, the force-limiting aspect of compliance is used to prevent/minimize an overreaction in the presence of a snag or other failure to achieve a target position, so it would also be useful at industrial scale.</p>
			</div>
			<div id = "comment-19748" class = "comment">
				<p>Ok, thanks for the info!</p>
			</div>
			</div>
				<textarea id = "speech-10969" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10969">
					<img id="start_img-10969" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10969">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>