<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arc welder for 3d printing
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1944" class = "post">
			<h2>Question</h2>
			<div id="vote-1944" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 496</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arc welder for 3d printing</h2>
<p>Has anybody experimented with <a href="http://en.wikipedia.org/wiki/Gas_metal_arc_welding" rel="nofollow">GMAW</a> for additive manufacturing? The thing is, welding wire is so much cheaper than ABS or PLA filaments and, well, it is steel you are printing in, not some flimsy plastic! I imagine the arc deposition printhead would be constructed similarly to one used in plastic filament printers, except there is no need for the heating element (so, even simpler). Welding often requires fast Z speed (to finely control the arc) so i think Delta (<a href="http://www.wired.com/design/2013/02/deltamaker-3d-printer/" rel="nofollow">DeltaMaker</a>) chassis would work best. GMAW calls for some sort of inert gas to insulate heated metal from oxygen. It would make sense to seal off most of the interior of the printer and fill it with heavier than air inert gas during printing. </p>

<p>I would highly appreciate any pointers on existing 3d printer designs employing this deposition method as well as flaws in design i outlined here.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1944" data-toggle = "popover">
				<p>user name : Andrew Butenko</p>
				<p> user reputation : 35</p>
				<p class = "tagcontent" id = "usertaginfo-1944">{'actuator': 5, 'None': 0, '3d-printing': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1944">Load Comments</button></br>
			<div id = "commentsection-1944" class = 'collapse'>
			<div id = "comment-12888" class = "comment">
				<p>take a look at this.
http://www.maneyonline.com/doi/full/10.1179/1743284715Y.0000000073 we are doing a lot of research here at Cranfield with the view of making the technology easy enough to be accessible by everyone</p>
			</div>
			</div>
				<textarea id = "speech-1944" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1944">
					<img id="start_img-1944" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1944">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1945"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1945" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe this is in very active development.  Here's an article with a few videos on that subject:</p>

<p><a href="http://www.extremetech.com/extreme/143552-3d-printing-with-metal-the-final-frontier-of-additive-manufacturing" rel="nofollow">3D printing with metal: The final frontier of additive manufacturing</a></p>

<blockquote>
  <p>The real breakthrough that has enabled 3D printing for the masses has been the laser. Spray welding is a technique that has been used for decades to build up worn motor shafts, but it is far too crude for controlled additive printing. Spray welding uses a gravity-fed powdered metal dispenser integrated into a special oxygen-acetylene torch head which melts the powder as it is dispensed. Swapping the torch for a laser gave us the powerful construction tool we have today. A powdered metal feedstream, confined and protected against oxidation with a surrounding jet of inert shielding gas, fused by a laser piped through a central bore in the head is now the state of the art technology. </p>
</blockquote>

<p>There is also a room-temperature extrusion method that seems to work, using gallium:</p>

<p><a href="http://hackaday.com/2013/07/09/3d-printing-with-liquid-metals/" rel="nofollow">3D printing with liquid metals</a></p>

<blockquote>
  <p>The medium the team is using for their metallic 3D prints is an alloy of 75% gallium and 25% indium. This alloy is liquid at room temperatures, but when exposed to an oxygen atmosphere, a very thin layer of oxide forms on a small metal bead squeezed out of a syringe. Tiny metal sphere by tiny metal sphere, the team can build up metallic objects out of this alloy, stacking the beads into just about any shape imaginable.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1945" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1945">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1945" class = 'collapse'>
			</div>
				<textarea id = "speech-1945" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1945">
					<img id="start_img-1945" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1945">Comment</button>
			<br><div id = "ans-1962"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1962" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Look at Electron Beam welding technology.  Businesses like <a href="http://www.sciaky.com/products_EB.html" rel="nofollow">Sciaky's Additive Manufacturing</a> have found a niche market by using 3D printing techniques in metal applications.  They have a 2 min video on <a href="https://www.youtube.com/watch?v=A10XEZvkgbY" rel="nofollow">Youtube</a></p>

<p>Specifically with GMAW you will want to use a wire with very little manganese and other "cleaner" elements.  This wire will cause the formation of a silica slag (glass) on the top of the weld.  This slag will act as an insulator and prevent the next successive arc on that spot from establishing.  </p>

<p>Read the literature that comes with the wire you select.  Often straight CO2 gas will work more economically that an Argon gas mix.  Also factor in temperature / gas expansion when you design your enclosure or consider pre and post flow gas timing when considering your output speed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1962" data-toggle = "popover">
				<p>user name : ellisthewelder</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-1962">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1962" class = 'collapse'>
			</div>
				<textarea id = "speech-1962" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1962">
					<img id="start_img-1962" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1962">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>