<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino Motor control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-815" class = "post">
			<h2>Question</h2>
			<div id="vote-815" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 454</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino Motor control</h2>
<p>I'm working on a rather low budget project, and need some way to control four or more motors using one Arduino. I've looked at motor shields a little, but I have a shield on top of it already, It does have female input on the top though, so a motor shield may work. Any suggestions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-815" data-toggle = "popover">
				<p>user name : Dylan Katz</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-815">{'control': 6, 'rcservo': 2, 'None': 0, 'microcontroller': 17, 'power': 6, 'accelerometer': 2, 'arduino': 24, 'wifi': 3, 'c': 3, 'c++': 2, 'motor': 6, 'input': 11, 'sensors': 2, 'electronics': 0, 'serial': 2, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-815">Load Comments</button></br>
			<div id = "commentsection-815" class = 'collapse'>
			<div id = "comment-2118" class = "comment">
				<p>What sort of motors do you want to drive? [stepper](http://en.wikipedia.org/wiki/Stepper_motor)? [brushed DC](http://en.wikipedia.org/wiki/Brushed_DC_electric_motor)? [brushless DC](http://en.wikipedia.org/wiki/Brushless_DC_electric_motor)? The control strategy will be very different depending on which you are using.</p>
			</div>
			</div>
				<textarea id = "speech-815" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-815">
					<img id="start_img-815" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-815">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-816"  class = "post">
				<h2>Answer</h2>
			<div id="vote-816" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You'll have to determine yourself whether a motor controller shield <a href="http://www.freetronics.com/pages/stacking-arduino-shields">is compatible and can be stacked on your existing shield</a>.  </p>

<p>In some cases, you can use Arduino's <a href="http://arduino.cc/en/Reference/SPI">SPI</a>.  In other cases, you'll need to check whether the pins that your shield uses would conflict with the pins needed by a motor controller.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-816" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-816">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-816" class = 'collapse'>
			</div>
				<textarea id = "speech-816" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-816">
					<img id="start_img-816" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-816">Comment</button>
			<br><div id = "ans-833"  class = "post">
				<h2>Answer</h2>
			<div id="vote-833" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've had luck using <a href="https://www.sparkfun.com/products/9479" rel="nofollow">these</a> motor driver units.  They can be speed-controlled with the PWM outputs, and motor direction can be provided with digital inputs.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-833" data-toggle = "popover">
				<p>user name : John Walthour</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-833">{'radio-control': 3, 'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-833" class = 'collapse'>
			</div>
				<textarea id = "speech-833" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-833">
					<img id="start_img-833" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-833">Comment</button>
			<br><div id = "ans-853"  class = "post">
				<h2>Answer</h2>
			<div id="vote-853" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For a good budget solution used 2 L298D Motor Controller IC chips. Each chip can control 2 motors. They implement an H-Bridge and so can drive motors in forward or reverse and incorperate diodes for current protection and so are safer than implementing a DIY H-Bridge with transistors.</p>

<p>They are simple to use and you could make your own motor board for a fraction of the cost of the motor shields.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-853" data-toggle = "popover">
				<p>user name : Kevin Sadler</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-853">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-853" class = 'collapse'>
			</div>
				<textarea id = "speech-853" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-853">
					<img id="start_img-853" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-853">Comment</button>
			<br><div id = "ans-1816"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1816" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you worried that the Arduino may not have enough pins to control 4 different motors plus the stuff on that other shield?</p>

<p>It is possible to control any number of motors using 4 digital pins from the Arduino.</p>

<p>The STMicroelectronics L6470 stepper motor driver chip is designed to be daisy-chained so 4 digital pins from the Arduino can control any number of motors.
(If you know of any other motor driver that can be daisy-chained to control any number of motors using less than 10 pins from the Arduino, please comment and mention its name).
I built a prototype using the Sparkfun <a href="https://www.sparkfun.com/products/10859" rel="nofollow">L6470 breakout board</a>.
Apparently several people have made other <a href="http://reprap.org/wiki/Stepper_motor_driver#Stepper_driver_chips" rel="nofollow">open-source hardware boards for the L6470</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1816" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-1816">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1816">Load Comments</button></br>
			<div id = "commentsection-1816" class = 'collapse'>
			<div id = "comment-17029" class = "comment">
				<p>How do you select the chip to target in a daisy chain? I see a "chip select" pin on some boards, which seems to imply 1 selector pin per motor. I suspect this is not the case, though.</p>
			</div>
			<div id = "comment-17033" class = "comment">
				<p>@crishoj: Would it answer your question (and improve this answer) if I added a link to ["Albert's ice cream parlor"](http://electronics.stackexchange.com/questions/141894/74hc595n-shift-register-error/153341#153341) and ["Getting Started with the AutoDriver"](https://learn.sparkfun.com/tutorials/getting-started-with-the-autodriver)?</p>
			</div>
			</div>
				<textarea id = "speech-1816" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1816">
					<img id="start_img-1816" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1816">Comment</button>
			<br><div id = "ans-1817"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1817" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is the problem that the off-the-shelf motor shields all look like they mechanically interfere with the other shield you want to use?
Perhap you're seeing the "both shields want to be the top shield, so they can't stack" problem?
It's pretty simple to control servo motors with simple wire connections.</p>

<p>Standard off-the-shelf servo motors have a 3-wire cable for <a href="https://en.wikipedia.org/wiki/servo_control" rel="nofollow">servo control</a>.</p>

<p>Many shields -- in addition to their "main" circuit -- throw in a "power connection" and a few servo connections.<a href="http://www.scienceprog.com/testing-arduino-motor-shield-with-servo-motor/" rel="nofollow">(a)</a>, <a href="http://arduino-info.wikispaces.com/SensorShield" rel="nofollow">(b)</a>, <a href="http://www.robotshop.com/dual-stepper-motor-driver-shield-arduino.html" rel="nofollow">(c)</a>, etc.
They connect the 3 servo wires connected -- the GND (G) and Power (+) wires connected to the appropriate power supply, and the Arduino GND and the power supply GND connected.
Typically the signal wire (S) is connected to one of the six special <a href="http://arduino-info.wikispaces.com/Arduino-PWM-Frequency" rel="nofollow">Arduino PWM pins</a>.
(This method can drive a maximum of 6 motors -- or less if that other shield needs some of these pins).</p>

<p>If you make the same connections between the Arduino and the servo with simple wire connections, it works just as well.
<a href="http://www.adafruit.com/blog/2012/12/18/tutorial-arduino-lesson-14-servo-motors/" rel="nofollow">(a)</a>, <a href="http://forum.arduino.cc/index.php?topic=111690.msg838987#msg838987" rel="nofollow">(b)</a>, <a href="http://www.instructables.com/id/Controlling-an-RC-Servo-motor-with-an-Arduino-and-/" rel="nofollow">(c)</a>, etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1817" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-1817">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1817" class = 'collapse'>
			</div>
				<textarea id = "speech-1817" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1817">
					<img id="start_img-1817" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1817">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>