<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino Nano + Raspberry Pi = UAV Ground Station?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-891" class = "post">
			<h2>Question</h2>
			<div id="vote-891" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1983</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino Nano + Raspberry Pi = UAV Ground Station?</h2>
<p>I'm a programmer by trade, and an amateur aerospace nut, with some degree-level training in both fields. I'm working on a UAV project, and while the good people over at <a href="http://www.diydrones.com/">DIY Drones</a> have been very helpful, this question is a little less drone-related and a little more general robotics/electronics. Essentially, I'm looking at options for ground stations, and my current rough plan is something like this:</p>

<p>I have a PC joystick with a broken sensor in the base, which I plan to dismantle, separate the handle from the base, insert an Arduino Nano into the (mostly hollow) handle and hook it up to all the buttons and the hat thumbstick. Then, where the hole is that used to accept the stem to the base, I fit a bracket that runs horizontally to hold a smallish touchscreen (think <a href="http://cdn11.mobilemag.com/wp-content/uploads/2012/12/Razer-Fiona.jpg">Razer's Project Fiona tablet</a> with only one stick), behind which is mounted a Raspberry Pi. The Nano talks to the RPi over USB as a HID input. The RPi will be running some custom software to display telemetry and other data sent down from the UAV.</p>

<p>My main question whether that Nano would have enough power to run the XBee that provides the telemetry link without causing lag in the control inputs. It's worth mentioning that the UAV will be doing fly-by-wire moderation, so slight stutters won't result in wobbly flying, but serious interruptions will still be problematic - and annoying. It's also worth mentioning that this will only be used as a simplified "guiding hand" control; there will ALWAYS be a regular remote control available (not least because of EU flight regulations) so this is just for when I don't want to use that. If that Nano won't do, what are my options? My first thought is to get a second Nano and get that to drive the XBee (the RPi has two USB ports after all) but there may well be a better way.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-891" data-toggle = "popover">
				<p>user name : anaximander</p>
				<p> user reputation : 181</p>
				<p class = "tagcontent" id = "usertaginfo-891">{'control': 5, 'None': 0, 'raspberry-pi': 5, 'arduino': 5, 'radio-control': 5, 'uav': 5, 'slam': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-891">Load Comments</button></br>
			<div id = "commentsection-891" class = 'collapse'>
			<div id = "comment-2190" class = "comment">
				<p>Please add some pictures to the question if possible, it definitely helps in understanding what you want.</p>
			</div>
			<div id = "comment-2203" class = "comment">
				<p>Will add a system diagram soon.</p>
			</div>
			</div>
				<textarea id = "speech-891" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-891">
					<img id="start_img-891" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-891">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-893"  class = "post">
				<h2>Answer</h2>
			<div id="vote-893" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Arduino Nano should be able to interface with the XBee no problem. </p>

<p>If all you are using the Arduino for is forwarding a message that comes from the RPi, you might as well just use an <a href="https://www.sparkfun.com/products/8687" rel="nofollow">XBee Explorer</a> board (basically a <a href="http://www.ftdichip.com/Products/ICs/FT232R.htm" rel="nofollow">FTDI Chip</a> with a socket fit for an XBee). After configuration, all you need to do is to write to a serial port to get the XBee to send a message... All processing is done in-chip.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-893" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-893">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-893">Load Comments</button></br>
			<div id = "commentsection-893" class = 'collapse'>
			<div id = "comment-2202" class = "comment">
				<p>I also need something to handle inputs from five buttons, a slider and a thumbstick and pass them to the XBee. The RPi should also get to see these inputs, although it doesn't really matter whether that's in series or parallel.</p>
			</div>
			<div id = "comment-2243" class = "comment">
				<p>Concur.  You'll get better real time characteristics by far off an Arduino running a well defined control loop than off a Raspberry Pi running a full Linux stack.</p>
			</div>
			</div>
				<textarea id = "speech-893" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-893">
					<img id="start_img-893" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-893">Comment</button>
			<br><div id = "ans-895"  class = "post">
				<h2>Answer</h2>
			<div id="vote-895" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If I'm understanding your architecture (from joystick to UAV) correctly, it is this:</p>

<p>${[\text{joystick}]-\text{wires}- \atop [\text{RPi}]-\text{USB HID}-}-[\text{Nano}]-\text{XBee}-[\text{UAV}]$ </p>

<p>You're considering laying it out like this:</p>

<p>$[\text{joystick}]-\text{wires}-[\text{Nano}]-\text{USB HID}-[\text{Rpi}]-\text{USB HID}-[\text{Nano}]-\text{XBee}-[\text{UAV}]$ </p>

<p>The Nano should be more than powerful enough to run the XBee and the controls.  Even if it wasn't fast enough, I doubt that you could improve it by adding the latency introduced by two USB HID links and the processing onboard the RPi.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-895" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-895">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-895">Load Comments</button></br>
			<div id = "commentsection-895" class = 'collapse'>
			<div id = "comment-2219" class = "comment">
				<p>That's more or less it. The first is what I had originally, but then I started wondering whether the Nano would have the power to handle all three routes (joystick -> XBee, joystick -> RPi, RPi -> XBee) without introducing lag into any of them. I guess the easiest way is to wire it all up an the bench and test it; if it turns out to be slow then I can look into other options.</p>
			</div>
			</div>
				<textarea id = "speech-895" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-895">
					<img id="start_img-895" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-895">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>