<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino project: Turning with a fixed front wheel axis
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8820" class = "post">
			<h2>Question</h2>
			<div id="vote-8820" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 435</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino project: Turning with a fixed front wheel axis</h2>
<p>I am working on an Arduino robot project. This project requires a base with 4 wheels where the back wheels are attached to two DC motors that can be controlled independently of each other. I am thinking that the robot will turn by giving power to just one of the motors but I am having trouble with how the front axis should look like. Would it be possible to have a solid front axis with 2 wheels and still possible for the robot to turn or would the friction be too great?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8820" data-toggle = "popover">
				<p>user name : samtob</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8820">{'brushless-motor': 0, 'None': 0, 'wheeled-robot': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8820" class = 'collapse'>
			</div>
				<textarea id = "speech-8820" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8820">
					<img id="start_img-8820" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8820">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8821"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8821" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Without articulation, a rigid front axle will almost certainly not let your vehicle maneuver the way you want. Even with articulation, if you don't have a way to steer, again I don't think you'll get the performance you want. </p>

<p>If the front end has to have wheels, I would suggest you look at swivel caster wheels, but these will also give you trouble if you intend on turning without moving forward as the caster wheels will want to flip direction. </p>

<p>If you <em>must</em> power the vehicle and turn with two different motors (this is called "differential steering"), and you just need the front end supported, I would suggest you look at ball casters. This is what other vehicles like micro mice use. </p>

<p>I would suggest you use one motor to steer and one to drive, but I also understand some projects can have odd requirements. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8821" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8821">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8821" class = 'collapse'>
			</div>
				<textarea id = "speech-8821" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8821">
					<img id="start_img-8821" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8821">Comment</button>
			<br><div id = "ans-8826"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8826" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you really need to have four wheels, I would suggest you either motorize them all or only two, but diagonal. The first way will work like this: if you want to turn left lets say, the two left wheels will go backwards and the two on the right will go forward. The second way in detail is this: you will motorize either front-left and back-right wheels, or back-left and front-right wheels and they must work as in the first way. Note that both ways will be better working with some good servos, because they run slower wich makes turning easier and produce the same amount of power in any case. This will be useful in ecountering frictions.</p>

<p>Still i would strongly recommend you only used two front wheels and a swivel caster wheel at the back. In any other way, you will have to find and use other methods of movement, as Chuck suggested. Try tearing apart a rc car to get some ideas.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8826" data-toggle = "popover">
				<p>user name : Chris Tsiakoulas</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-8826">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8826" class = 'collapse'>
			</div>
				<textarea id = "speech-8826" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8826">
					<img id="start_img-8826" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8826">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>