<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino or Raspberry Pi?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10092" class = "post">
			<h2>Question</h2>
			<div id="vote-10092" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 717</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino or Raspberry Pi?</h2>
<p>I want to make a <strong>object tracking quadcopter</strong> for a project. While I'm using the <strong>Arduino Mega 2560</strong> as the <strong>flight controller</strong>, I was thinking of using an <strong>additional offboard microcontroller/board</strong> for getting data from the onboard camera,which would then send an appropriate command to the onboard Arduino.</p>

<p>I was hoping someone could <strong>provide clarification on the advantages/disadvantages of doing object tracking with either choice.</strong></p>

<p>Thanks!   </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10092" data-toggle = "popover">
				<p>user name : Sandesh</p>
				<p> user reputation : 52</p>
				<p class = "tagcontent" id = "usertaginfo-10092">{'quadcopter': 1, 'None': 4, 'raspberry-pi': 1, 'arduino': 1, 'brushless-motor': 0, 'esc': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10092">Load Comments</button></br>
			<div id = "commentsection-10092" class = 'collapse'>
			<div id = "comment-17948" class = "comment">
				<p>What camera are you using, if you have selected one yet? (I ask because it will need to be compatible with the additional controller that you choose.)</p>
			</div>
			<div id = "comment-17951" class = "comment">
				<p>I haven't really decided, but I was thinking of using the Raspberry Pi Camera OV5647 if i went for the latter option. For Arduino, I would go with a CCD image sensor (OV7670). But it all depends on what board allows me to easily wrote code to achieve object tracking in a moving camera scenario.</p>
			</div>
			<div id = "comment-17952" class = "comment">
				<p>"... with either choice." Do you mean Arduino or Raspberry Pi? You ask in the title but not in the question body. You say you're "getting data from the onboard camera" - are you just getting image frames or are you attempting to do image processing? What generates the "appropriate command" for the flight controller? There's a large difference between image acquisition and computer vision.</p>
			</div>
			<div id = "comment-17954" class = "comment">
				<p>Sorry for the ambiguity Chuck. I'm attempting to do image processing using an external, offboard board that has code to determine the direction the quadcopter should move in. The external board is master to the onboard flight controller.</p>
			</div>
			<div id = "comment-17989" class = "comment">
				<p>No,not necessary. The offboard processor only requires the input from the image sensor mounted on the drone, which it processes and sends an appropriate command to the onboard Arduino.</p>
			</div>
			<div id = "comment-18006" class = "comment">
				<p>If the off-board system doesn't need to be mobile, just use a laptop or desktop computer. You are artificially making the problem more difficult than it is if you are relying on the Pi to process images.</p>
			</div>
			<div id = "comment-18010" class = "comment">
				<p>Well,I never thought of it that way. I was thinking of using ROS on the Pi since it has possible application in object recognition and tracking. What would I need to do to achieve the same on a laptop? (Programming wise/application design, etc?)</p>
			</div>
			</div>
				<textarea id = "speech-10092" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10092">
					<img id="start_img-10092" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10092">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10100"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10100" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For interfacing with a camera, I would recommend the Pi. The reason is that the AVR in the Arduino is an ordinary processor, whereas the Broadcom SoC in the Pi was originally designed for multimedia. Besides the ARM processor, it contains video encoding/decoding hardware that you won't find in the Arduino.</p>

<p>Of course, you would need to learn how to use that extra hardware.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10100" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 321</p>
				<p class = "tagcontent" id = "usertaginfo-10100">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10100" class = 'collapse'>
			</div>
				<textarea id = "speech-10100" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10100">
					<img id="start_img-10100" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10100">Comment</button>
			<br><div id = "ans-10134"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10134" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The only issue with having the off-board controller is that the commands to the quad-rotor might lag, because of 1. range to controller or 2. the complexity of image processing code. With that said I wouldn't say use an Arduino only, because it probably won't be fast enough to do image processing + stabilization from accelerometers and gyroscopes. Instead use a raspberry pi and arduino in tandem, maybe the arduino is connected via serial. That way the arduino can do normal flight stabilization, and the raspberry pi can do image processing and send maneuvers to the arduino for appropriate action to the quad-rotor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10134" data-toggle = "popover">
				<p>user name : Sachin Konan</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-10134">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10134">Load Comments</button></br>
			<div id = "commentsection-10134" class = 'collapse'>
			<div id = "comment-18016" class = "comment">
				<p>i have been trying the same thing , the problem is using transmitter receiver for flight control</p>
			</div>
			</div>
				<textarea id = "speech-10134" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10134">
					<img id="start_img-10134" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10134">Comment</button>
			<br><div id = "ans-10143"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10143" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One point that hasn't been addressed, which is admittedly outside the scope of the prompt, is whether or not a Pi should be used at all as the off-board component. Unless you are trying to develop on the Pi for a specific reason (possibly cost), you will be losing out on serious computational power that can be achieved with a laptop or desktop computer. Other posts highlight the fact that image processing will be computationally expensive, especially if it is needed in real-time. If you can keep everything on-board, then the following doesn't hold, but if you need to do off-board processing, I would advise you to develop on a "larger" linux box (or VM/dual-boot with Windows) first.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10143" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-10143">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10143">Load Comments</button></br>
			<div id = "commentsection-10143" class = 'collapse'>
			<div id = "comment-18067" class = "comment">
				<p>Onboard processing won't be possible only with the Arduino, even if its the Mega I'm using. The reason I thought of using the Pi was that I could allow transfer of information between the Pi and Arduino easily. I agree, I would be better off using a laptop to accomplish image processing. But I'm not too sure about how the laptop will communicate with the flight controller. Any suggestions?</p>
			</div>
			<div id = "comment-18068" class = "comment">
				<p>You have to use RF to communicate with the quadcopter regardless of your off-board computer. Depending on the range, you will need an appropriate transceiver. If you are inside, you might be able to get away with communicating over WiFi, which would be good for testing because it is likely readily available.</p>
			</div>
			</div>
				<textarea id = "speech-10143" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10143">
					<img id="start_img-10143" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10143">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>