<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>ArduIMU noisy output in Quadrotor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1614" class = "post">
			<h2>Question</h2>
			<div id="vote-1614" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 566</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>ArduIMU noisy output in Quadrotor</h2>
<p>We are using <a href="http://code.google.com/p/ardu-imu/" rel="nofollow noreferrer">ArduIMU (V3)</a> as our Quadrotor's inertial measurement unit. (we have a separate board to control all motors, not with ArduIMU itself). </p>

<p>Now we have a problem with ArduIMU's sensors output. When we put our quadrotor steady on the ground with motors on, instead of getting 0 degree in roll and pitch we have a noisy output something like the image below( -6 to 6 degree error ):</p>

<p><img src="https://i.stack.imgur.com/cd62D.png" alt="enter image description here"></p>

<p>delta_t = 0.2s</p>

<p>We are sure that this isn't a mechanical problem, because we checked the mechanical joints and everything.</p>

<p>I should mention that with motors off everything is going well. Also we checked that if we vibrate the device slowly on yaw axis or any other axis, it still shows the noisy output.</p>

<p>We are using DCM filter inside ArduIMU, also we tested with Kalman filter but no difference.</p>

<p>We also tested FRI low-pass filter, results is good but there is about 3 seconds delay in the output.</p>

<p>We also checked that if we separate the ArduImu's power from our circuit, it still no difference.</p>

<p>What's the problem with ArduIMU and how we can get rid off this noisy output ?</p>

<p><strong>Update:</strong> 
We think that the problem with our PID controller is because of these noises ... Is this a true assumption ? We can't tune our PID parameters ( using Ziegler Nichols method ) when we have noisy data. We tested Ziegler Nichols method when we have low rate noises and we successfully tuned our PID but when noise appears we are unable to tune PIDs. Is there anyway for us for tuning our PID in such situation ? Is this problem is because of the noises or the PID itself can get rid of them ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1614" data-toggle = "popover">
				<p>user name : Michel Gokan</p>
				<p> user reputation : 211</p>
				<p class = "tagcontent" id = "usertaginfo-1614">{'quadcopter': 10, 'None': 6, 'noise': 2, 'arduino': 9, 'pid': 7, 'ardupilot': 2, 'imu': 7, 'esc': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1614">Load Comments</button></br>
			<div id = "commentsection-1614" class = 'collapse'>
			<div id = "comment-3351" class = "comment">
				<p>What problems are being caused by the noisy output?</p>
			</div>
			<div id = "comment-3352" class = "comment">
				<p>Really good point dear @lan , the problem is we can't tune our PID controller's parameteres. We think that the problem with our PID controller is because of these noises ... Is this a true assumption ? We can't tune our PID parameters ( using Ziegler Nichols method ) when we have noisy data. We tested Ziegler Nichols method when we have low rate noises and we successfully tuned our PID but when noise appears we are unable to tune PIDs. Is there anyway for us for tuning our PID in such situation ? Is this problem is because of the noises or the PID itself can get rid of them ?</p>
			</div>
			<div id = "comment-3356" class = "comment">
				<p>What is the time scale in that graph?  1 = 1second?</p>
			</div>
			<div id = "comment-3357" class = "comment">
				<p>You might want to see if you can isolate whether the problem is electrical noise from the motors or vibration.  If you can rig up a motor and speed control that's completely independent of the quad copter and wave it over the IMU while it's running and the copter motors aren't, then you can get an idea of whether the ArduIMU is susceptible to radiated noise from the motor or driver.</p>
			</div>
			<div id = "comment-3359" class = "comment">
				<p>the problem is the vibration ... because when i vibrate imu manually with my hands(with motors off) , still no difference</p>
			</div>
			<div id = "comment-3360" class = "comment">
				<p>Thanks for the clarifications Michel, but could you edit this information into your question please? That way the comments can be tidied up (deleted) so that they don't distract people from the question itself. Thanks,</p>
			</div>
			<div id = "comment-3379" class = "comment">
				<p>@MarkBooth done</p>
			</div>
			<div id = "comment-3382" class = "comment">
				<p>@TimWescott 0.2 millisecond</p>
			</div>
			<div id = "comment-3383" class = "comment">
				<p>@Michel: To echo Mark -- please put that 0.2 ms figure into your question!</p>
			</div>
			<div id = "comment-3393" class = "comment">
				<p>@TimWescott : done</p>
			</div>
			<div id = "comment-3394" class = "comment">
				<p>@Michel: You say in your comment 0.2millisecond (200 microsecond), but you say in the text 0.2 second (200 milliseconds).  If it's 200 us, you can profitably filter out the noise.  If it's 200 ms, then by the time you get the noise filtered your control loop will be way too slow.</p>
			</div>
			<div id = "comment-3399" class = "comment">
				<p>@TimWescott , How can i filter my noise out ? (it's 200ms its my typing mistake, but my IMU's frequency is 170hz about 6ms)</p>
			</div>
			<div id = "comment-3400" class = "comment">
				<p>Are you sure that your airframe isn't moving that much?  Does it rock when the motors are turning?  If so then you're not seeing noise -- you're seeing valid signal.</p>
			</div>
			<div id = "comment-3401" class = "comment">
				<p>@TimWescott ... Its vibrating really really in a small degree ... its not 10 degree of movement ... in this diagram its moving between 5 to -5 degree. hmm ... let me check it again.</p>
			</div>
			<div id = "comment-3402" class = "comment">
				<p>@TimWescott Dear tim,we read the whole article of yours and did exactly what you wrote there.I can say that we got much better result than Zigler-nichols method.But we are unable to find out exact PID gains to hover as fast as enough on one axis.But it works!we also solved IMU noises a bit by using a basic low pass filter on both gyros and accels by current value and last value (just average of last 2 values).Now we are able to tune our PID gains and make our quadrotor almost stable. But the settling time is too much. we also have vibration problem,I think thats because of incorrect PID gains.</p>
			</div>
			<div id = "comment-3406" class = "comment">
				<p>@Michel: These may also be helpful: http://wescottdesign.com/articles/zTransform/z-transforms.html and http://wescottdesign.com/articles/FreqMeas/freq_meas.html.  You'll be getting in pretty deep at that point, so you may want this, if you think you're up to it: http://wescottdesign.com/actfes/actfes.html.</p>
			</div>
			<div id = "comment-3407" class = "comment">
				<p>@Michel: That seems like just enough low pass filtering to cause problems with delay, but not enough to help.  But each problem is unique.  I'd check that IMU carefully -- either the noise is higher than you think, or there's something going on with the IMU.  I'd consider either shock mounting it, or if you have access to another one, trying that other one and see if it's better.</p>
			</div>
			<div id = "comment-3415" class = "comment">
				<p>@TimWescott , Dear Tim, We'are sure the IMU is working well. We have planned to tune our PID gains with genetic algorithm ( ecj software package ) to find the exact gains. We think that the high settling time is because of incorrect PID gains. We'll also shock-mount our IMU as you said and let you know the results. Thanks dear Tim for your kind helps. I'll read your book and article and let you know the results.</p>
			</div>
			</div>
				<textarea id = "speech-1614" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1614">
					<img id="start_img-1614" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1614">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1626"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1626" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>This answer is incorrect (TaW)</strong> It is based on IMU noise that's about 1000 times faster than it really is, based on a typo in the discussion following the original question.</p>

<p>I'm not a big fan of the Ziegler-Nichols method.  It's an ad-hoc method that is not only not guaranteed to stabilize all plants, it comes with a guarantee that there will be some plants that it cannot stabilize.  Furthermore, it has a history of coughing up an underdamped system.  Its only advantage seems to be that it comes up often in web searches.</p>

<p>I would suspend the copter on one of the horizontal axes, parallel to the IMU, and I would tune the PID controller using the usual seat of the pants method (derivative, then proportional, then integral).  Then I'd go back and measure the frequency response of the thing (still tethered), and tune the PID properly.</p>

<p>Then I would repeat for the vertical axis.</p>

<p>Only then would I cross my fingers, hold my breath, and go fly.</p>

<p>For some reason, I seem to think that this is a good description of the seat of the pants PID tuning method:</p>

<p><a href="http://www.embedded.com/design/prototyping-and-development/4211211/PID-without-a-PhD" rel="nofollow">http://www.embedded.com/design/prototyping-and-development/4211211/PID-without-a-PhD</a></p>

<p>With that much noise in the IMU output would bandlimit my differentiator.  That'll limit the bandwidth of your control loop, but if you don't do it then your differentiator will swamp out any other control signals.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1626" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1626">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1626">Load Comments</button></br>
			<div id = "commentsection-1626" class = 'collapse'>
			<div id = "comment-3391" class = "comment">
				<p>Dear Tim, We did exactly what you mentioned here. We built a cage for tuning our quadrotor in each 2 axis. Now let me read your great article and come back again say the results. Really thanks for your time.</p>
			</div>
			</div>
				<textarea id = "speech-1626" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1626">
					<img id="start_img-1626" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1626">Comment</button>
			<br><div id = "ans-1691"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1691" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We build a new version and its now available for download:</p>

<p><a href="http://code.google.com/p/ardu-imu/downloads/detail?name=arduimu_vD" rel="nofollow">http://code.google.com/p/ardu-imu/downloads/detail?name=arduimu_vD</a>....</p>

<p>The problem completely gone in this version. Read comments in arduimu_vd.ino for more info.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1691" data-toggle = "popover">
				<p>user name : Michel Gokan</p>
				<p> user reputation : 211</p>
				<p class = "tagcontent" id = "usertaginfo-1691">{'quadcopter': 10, 'None': 6, 'noise': 2, 'arduino': 9, 'pid': 7, 'ardupilot': 2, 'imu': 7, 'esc': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1691" class = 'collapse'>
			</div>
				<textarea id = "speech-1691" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1691">
					<img id="start_img-1691" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1691">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>