<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino depth sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5189" class = "post">
			<h2>Question</h2>
			<div id="vote-5189" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2689</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino depth sensor</h2>
<p>I'm looking for an arduino compatible depth sensor NOT for water. What I need is a sensor very similar to an Xbox kinect (but much smaller) that will tell me what is in front of the sensor and also the shape of the object. For example, if I place a cylindrical water bottle in front of the sensor I would like to be able to figure out how far away the bottle is and also the shape of the object (in 2d, I don't need to know whether it is actually a cylinder only the general shape). The sensor only needs to be accurate at most 1 meter away. Does this exist and if so where can I purchase one. If it does not exist wholly what pieces do I need to buy to put it together? Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5189" data-toggle = "popover">
				<p>user name : zeni</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-5189">{'kinect': 2, 'None': 0, 'sensors': 2, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5189">Load Comments</button></br>
			<div id = "commentsection-5189" class = 'collapse'>
			<div id = "comment-7962" class = "comment">
				<p>The Kinect is a particular brand of RGB-D camera.  You might be able to find a smaller one elsewhere.</p>
			</div>
			<div id = "comment-10087" class = "comment">
				<p>Most inexpensive solutions are going to require a computer. A cheaper and simpler solution is to put a narrow band Ultrasonic sensor on a servo to get you ~255 steps of resolution in 180 deg (approx .7 deg resolution).</p>
			</div>
			</div>
				<textarea id = "speech-5189" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5189">
					<img id="start_img-5189" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5189">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5197"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5197" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am not sure the Arduino has the "horse power" for this.  You might be better off going with a RaspberryPi, BeagleBone, or some other embedded board that can run a real operating system...  </p>

<p>For 2D depth sensors, the main contenders are <a href="http://www.sick.com/us/en-us/home/products/product_portfolio/laser_measurement_systems/Pages/measure_and_detect.aspx" rel="nofollow">SICK</a> and <a href="http://www.hokuyo-aut.jp/02sensor/07scanner/utm_30lx.html" rel="nofollow">Hokuyo</a>.  The interface for these is typically USB.  But i know older model SICKs used RS232 which might actually work with an 8 bit microcontroller.  </p>

<p>Other types of depth sensors that typically play nicer with microcontrollers are <a href="http://www.robotshop.com/en/ultrasonic-range-finders.html" rel="nofollow">ultrasonic rangers</a>, and <a href="https://www.sparkfun.com/categories/139" rel="nofollow">infrared proximity sensors</a>.  However, these have a much wider beam, are much more noisy, and can adversely interact with each other if you try to make an array out of them.  (For example, an ultrasonic pinger will hear the response of the one next to it if they are turned on at the same time.)</p>

<p>Lastly, another option that is not Arduino compatible, but is cheap and might work with your system depending on what you want to do, is to use a camera and a laser line for structured light.  You can do some image processing and determine the depth to the line.  This paper: "<a href="http://www.stanford.edu/~ellenrk7/Papers/icra09-3dSensingMobileManipulation.pdf" rel="nofollow">High-Accuracy 3D Sensing for Mobile Manipulation: Improving Object Detection and Door Opening</a>" has more info.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5197" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5197">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5197" class = 'collapse'>
			</div>
				<textarea id = "speech-5197" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5197">
					<img id="start_img-5197" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5197">Comment</button>
			<br><div id = "ans-7093"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7093" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your trying to get the most for your money I would buy used 1st gen Kinect (you can get them really cheap) and take it apart from it's housing to reduce size and weight.</p>

<p>Another option is Asus Xtion which is similar to Kinect only smaller and does not require external power supply.</p>

<p>And you could always just use 2 identical cameras (maybe webcams) for stereo vision.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7093" data-toggle = "popover">
				<p>user name : Denis Vitez</p>
				<p> user reputation : 7</p>
				<p class = "tagcontent" id = "usertaginfo-7093">{'quadcopter': 0, 'None': 0, 'arduino': 0, 'wheeled-robot': 0, 'mapping': 0, 'mobile-robot': 0, 'ros': 0, 'navigation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7093" class = 'collapse'>
			</div>
				<textarea id = "speech-7093" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7093">
					<img id="start_img-7093" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7093">Comment</button>
			<br><div id = "ans-7338"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7338" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Arduino or other microcontrollers is not enough for image or video processing. So you can try it with scanners (like LIDAR) or <strong>sensor arrays like this <a href="https://coolarduino.wordpress.com/2014/08/10/virtual-touch-screen-3d-ultrasonic-radar/" rel="nofollow">link</a></strong>. The <a href="https://coolarduino.wordpress.com/2014/08/10/virtual-touch-screen-3d-ultrasonic-radar/" rel="nofollow">link</a> contains only 4 sensors but you can increase the number of sensor for increase measuring angle( angle of HC SR04 is 15 degree) </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7338" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7338">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7338" class = 'collapse'>
			</div>
				<textarea id = "speech-7338" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7338">
					<img id="start_img-7338" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7338">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>