<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino Vin Current Limit
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-616" class = "post">
			<h2>Question</h2>
			<div id="vote-616" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2614</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino Vin Current Limit</h2>
<p>I've found that Arduino (Duemilanove) has a current limit of 40mA per pin. Does this include the V<sub>in</sub> pin? Or does the V<sub>in</sub> pin have some sort of work around in place on the board to allow for higher currents?</p>

<p>If this is the limit on the V<sub>in</sub>, is there good way of using still using the power supply jack on the board and allowing other sources to draw on that supply without it needing to pass through the chip first?</p>

<p>Thank you much.</p>

<p>EDIT: For the second part, what should I do if I wanted to get up to something like 2 amps?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-616" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-616">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-616">Load Comments</button></br>
			<div id = "commentsection-616" class = 'collapse'>
			<div id = "comment-711" class = "comment">
				<p>I think i read somewhere on the Arduino page that the current limits are **not** for any of the power supply pins (which should include Vin).</p>
			</div>
			<div id = "comment-713" class = "comment">
				<p>@AshRj: If you have the source for this it would be helpful.</p>
			</div>
			<div id = "comment-714" class = "comment">
				<p>Its somewhere on the main site, i ll link if i find it.</p>
			</div>
			</div>
				<textarea id = "speech-616" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-616">
					<img id="start_img-616" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-616">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-617"  class = "post">
				<h2>Answer</h2>
			<div id="vote-617" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to <a href="http://arduino.cc/forum/index.php/topic,27480.0.html" rel="nofollow">this discussion on the Arduino forums</a>, you can draw about 1 amp through the V<sub>in</sub> pin before frying the "polarity protection" diode that sits between the power supply and the pin. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-617" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-617">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-617">Load Comments</button></br>
			<div id = "commentsection-617" class = 'collapse'>
			<div id = "comment-712" class = "comment">
				<p>For the second part of my question then, what if I wanted to go higher. Say 2 amps?</p>
			</div>
			<div id = "comment-715" class = "comment">
				<p>Something is powering your Arduino... what is preventing you from using that same source to power all your "high current" components?</p>
			</div>
			<div id = "comment-717" class = "comment">
				<p>Right now I'm just testing using a wall jack. The motors I'm using can draw more than 2 amps. So I hoping to still use the simple power jack on the Arduino, but let the current flow to the motors without passing through the chip.</p>
			</div>
			<div id = "comment-727" class = "comment">
				<p>@golmschenk -- Not sure I understand what you want exactly, but you could just solder your motor controller power wires to the pins of the input jack directly *in front of* the protection diode. This would use the DC input jack, but bypass the diode and other current limited components.</p>
			</div>
			<div id = "comment-731" class = "comment">
				<p>@DrFriedParts: Yeah, that's kind of the discussion I was looking for. I think Kyle outlined it nicely.</p>
			</div>
			</div>
				<textarea id = "speech-617" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-617">
					<img id="start_img-617" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-617">Comment</button>
			<br><div id = "ans-618"  class = "post">
				<h2>Answer</h2>
			<div id="vote-618" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The 40mA current limit is the Absolute Maximum that an I/O pin on the <a href="http://www.atmel.com/Images/doc8161.pdf" rel="nofollow noreferrer">ATmega328P</a> can supply. V<sub>cc</sub> on the ATmega can draw up to 200mA.</p>

<p>From page 313 of the datasheet:</p>

<p><img src="https://i.stack.imgur.com/4LNpY.png" alt="absolute maximums"></p>

<p>The 5V that connects to V<sub>cc</sub> and powers your chip comes from one of two places. Either the USB connection, which in most cases is limited to supplying 500mA. Or an external power supply (wall wort or otherwise) which can supply as much current as is labeled on package.</p>

<p>V<sub>in</sub> is your external power supply if connected. USBVCC is your USB power if connected. +5V is whichever has a higher voltage.</p>

<p>You seem to be interested in using an external power supply to run your Arduino and a motor. No problem. You just need to branch off of V<sub>in</sub> <em>before</em> the regulator that turns V<sub>in</sub> into +5V and powers your chip.</p>

<p>Have a look at this <a href="http://www.ladyada.net/make/mshield/use.html" rel="nofollow noreferrer">Motor Shield tutorial by Adafruit</a>. In the below diagram, they are powering a motor off of a +9V V<sub>in</sub>. In this diagram they are branching off <em>before</em> IC1 which is a 78L05Z. On your <a href="http://arduino.cc/en/uploads/Main/arduino-duemilanove-schematic.pdf" rel="nofollow noreferrer">Duemilanove</a>, this should be IC4, an MC33269.</p>

<p><img src="https://i.stack.imgur.com/QjjOZ.png" alt="motor shield connection"></p>

<p>This way the motor can take as much current as it wants from your external supply. And the AVR microcontroller can take as much current as it wants and be protected from any nasty spikes the motor puts on the line by the MC33269 voltage regulator.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-618" data-toggle = "popover">
				<p>user name : embedded.kyle</p>
				<p> user reputation : 1469</p>
				<p class = "tagcontent" id = "usertaginfo-618">{'None': 124}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-618" class = 'collapse'>
			</div>
				<textarea id = "speech-618" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-618">
					<img id="start_img-618" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-618">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>