<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino Uno R3 or Roboduino ATMega168 or Arduino Mega 2560 R3 which board is better for small robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2018" class = "post">
			<h2>Question</h2>
			<div id="vote-2018" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1277</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino Uno R3 or Roboduino ATMega168 or Arduino Mega 2560 R3 which board is better for small robots</h2>
<p>I am new in robotics. May be this question looks like too naive but i want to know which is a better board among Arduino Uno R3 or Roboduino ATMega168 or Arduino Mega 2560 R3 for my purpose mention below - </p>

<ol>
<li>A simple robot with wheels, can move around.</li>
<li>Can have IR sensors and camera.</li>
<li>Is powerful enough to deal with computer vision computations.</li>
</ol>

<p>Arduino Mega 2560 R3 looks more powerful than the other too, I just want to know if my purpose can be solved with other two boards too?</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2018" data-toggle = "popover">
				<p>user name : Moazzam Khan</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-2018">{'None': 0, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2018">Load Comments</button></br>
			<div id = "commentsection-2018" class = 'collapse'>
			<div id = "comment-4166" class = "comment">
				<p>not much image processing in arduino boards... they're way too weak... try Raspberry Pi or a Beagleboard...</p>
			</div>
			</div>
				<textarea id = "speech-2018" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2018">
					<img id="start_img-2018" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2018">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2019"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2019" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Mega is a great board, I use it for my robot. If your robot is small and space is limited, the size of the Mega could be an issue...
Hopefully, SeeedStudio has made and Seeeduino Mega which is almost the size of an Arduino UNO.</p>

<p>For computer vision though, I'm not sure the Mega will be powerfull enough. And if it is, it won't be able to do anything else during the computation (because of the way the Arduino works).</p>

<p>So maybe you should take a look at the Raspberry Pi. It has great camera modules you can use and is powerful enough for some computation. There are shields avalaible to connect and easily use Arduino shields for your motors.</p>

<p>Hope it helps! :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2019" data-toggle = "popover">
				<p>user name : ladislas</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-2019">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2019">Load Comments</button></br>
			<div id = "commentsection-2019" class = 'collapse'>
			<div id = "comment-4061" class = "comment">
				<p>Thank you, But I am not sure how I would use raspberry PI, do you any tutorial or any resource to start with Raspberry PI</p>
			</div>
			<div id = "comment-4063" class = "comment">
				<p>The RPi website if full of ressources. I you just want to make a small robot, go for the Arduino. Once you're robot is rolling, you can add computer vision and use a RPi. Then you'll find what you need because you will know what you really want.</p>
			</div>
			</div>
				<textarea id = "speech-2019" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2019">
					<img id="start_img-2019" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2019">Comment</button>
			<br><div id = "ans-2020"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2020" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure you can achieve computer vision on any of those chips. 
Way to go is to stream video to distributed PC, make calculations, stream commands to arduino. That could probably work, but there is also a question of how much frames you could grab from camera with Arduino.</p>

<p>Raspberry Pi would give you around 9fps in OpenCV while recognizing faces. Maybe you could achieve around 15-20 top if you just need movement detection...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2020" data-toggle = "popover">
				<p>user name : Gossamer</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-2020">{'None': 18}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2020">Load Comments</button></br>
			<div id = "commentsection-2020" class = 'collapse'>
			<div id = "comment-4062" class = "comment">
				<p>Thank you, But I am not sure how I would use raspberry PI, do you any tutorial or any resource to start with Raspberry PI?</p>
			</div>
			<div id = "comment-4198" class = "comment">
				<p>@MoazzamKhan The general idea with the Raspi is to write code to interface with GPIO.  I haven't done it yet, so I can't tell you how, but that's the search term to use...</p>
			</div>
			</div>
				<textarea id = "speech-2020" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2020">
					<img id="start_img-2020" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2020">Comment</button>
			<br><div id = "ans-2082"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2082" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Choosing which board/chip to use would also depend on the number of Input/Output ports you are going to need.<br>
Uno has analogue 6 in / 0 out, digital IO 14/ 6 do PWM, 1 serial port (tx,rx)<br>
Mega 2560 has 16 analogue / 0 out ports, digital IO 54/ 15 do PWM, 4 serial ports.<br>
The robodunio ATMega168 has the same spec as the UNO but the clock speed is lower; It's also based upon the freedunio.<br>
<a href="http://arduino.cc/en/Products.Compare" rel="nofollow">http://arduino.cc/en/Products.Compare</a> </p>

<p>You will find it hard to process video feed with each of these chips. You could process the video on a Pi as all ready suggested or use other hardware to to process the video feed then pass the resulting information to the arduino's to enable movement processing or some other action needed.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2082" data-toggle = "popover">
				<p>user name : OricTosh</p>
				<p> user reputation : 86</p>
				<p class = "tagcontent" id = "usertaginfo-2082">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2082" class = 'collapse'>
			</div>
				<textarea id = "speech-2082" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2082">
					<img id="start_img-2082" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2082">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>