<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino Power Supply
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4413" class = "post">
			<h2>Question</h2>
			<div id="vote-4413" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino Power Supply</h2>
<p>I want to power my Arduino Uno and I know I can do that either by connecting it with USB to PC or with DC power supply.But I want to connect it with a battery source(kindly see the image below) and I know its a silly question but how do I do it? The battery connector is not the regular DC jack but the one that's found in RC toys. So how do I power my Arduino with that battery? 
And also how do I connect it with a DC power supply adapter to charge it once its discharged? Please also mention the specifications of the DC power supply adapter that is to be used while charging this battery.
<img src="https://i.stack.imgur.com/IFA2O.jpg" alt="Battery Image"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4413" data-toggle = "popover">
				<p>user name : Divyansh</p>
				<p> user reputation : 20</p>
				<p class = "tagcontent" id = "usertaginfo-4413">{'battery': 1, 'None': 0, 'line-following': 2, 'motor': 2, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4413" class = 'collapse'>
			</div>
				<textarea id = "speech-4413" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4413">
					<img id="start_img-4413" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4413">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4416"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4416" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two main ways to power an Arduino: with 5 volts and with 6.5 to 12. Since your case falls under the 6.5 to 12 option there are two main ways you can get power into an arduino. The barrel jack can be plugged into a 6.5/12v source which works well. I have a habit of chopping the connectors off wall warts then I use the power supplies for other things (or sentence them to a life collect dust). If you take this route make sure the center pin is being fed positive voltage and the outside is ground. 
The easier option here is probably to feed your 6.5/12v into the pin labeled vin. It is right next to one of the grounds, and is electrically connected to the barrel jack. </p>

<p>If your battery's JST connector is the right size you might be able to use .1 inch headers to plug it into your arduino (unlikely but possible). Otherwise I suggest you buy a JST breakout board. You said that you want to be able to take out and charge your battery which rules out soldering stuff to it. Unless you want to put a barrel jack on your battery, I suggest investing in a JST breakout. </p>

<p>The battery it's self looks like a LiPo (lithium-ion polymer) or Li-ion (lithium-ion), which means that you need to buy a charger for it. Lithium batteries have a bad habit of exploding when mistreated, so DIY chargers are for the suicidal. Just from the picture it looks like a Li-ion , but that's just a guess. You should really figure out what type of battery it is before going further with it. When you do figure out what type it is, buy a charger for it. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4416" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-4416">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4416" class = 'collapse'>
			</div>
				<textarea id = "speech-4416" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4416">
					<img id="start_img-4416" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4416">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>