<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino with two Linear Actuators, two ACS714 Current Sensors, and an L298N Motor Driver setup
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4299" class = "post">
			<h2>Question</h2>
			<div id="vote-4299" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 649</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino with two Linear Actuators, two ACS714 Current Sensors, and an L298N Motor Driver setup</h2>
<p>I am using the L298N motor driver to drive two HAD1 linear actuators (12V each and a no-load drive current of ~950mA each)</p>

<p><strong>Linear Actuator</strong>: <a href="http://www.alibaba.com/showroom/mini-linear-actuator-had1.html" rel="nofollow">http://www.alibaba.com/showroom/mini-linear-actuator-had1.html</a></p>

<p><strong>Motor Driver</strong>: is a L298N dual-h-bridge motor-driver controller board-module for arduino robot</p>

<p>I am also using a current sensor per motor to get feedback of what the motor is doing (only sensors I have available, but I can detect of the motors are moving or stopped). I am using two ACS714 current sensors. The supply voltage for each is 4.5V to 5.5V and Supply Current is 10mA to 13ma:</p>

<p><strong>Current Sensor</strong>: is an ACS714 current sensor.</p>

<p>And Here is the circuit diagram that I made for my actual setup (an Arduino UNO, two current sensors, to linear actuators, and one motor drive):</p>

<p><strong>Circuit Diagram</strong>: 
<img src="https://www.dropbox.com/s/ouxfrcutw5lcj6a/Actuator.jpeg?dl=1" alt=""></p>

<p>Will this setup work? Will I have enough current/power coming out of the 5V of the arduino to power both the L298N logic and the two ACS714 sensors?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4299" data-toggle = "popover">
				<p>user name : Pototo</p>
				<p> user reputation : 43</p>
				<p class = "tagcontent" id = "usertaginfo-4299">{'control': 0, 'stepper-driver': 1, 'None': 0, 'noise': 2, 'circuit': 0, 'arduino': 1, 'wheeled-robot': 1, 'microcontroller': 1, 'driver': 2, 'h-bridge': 0, 'current': 1, 'differential-drive': 5, 'imu': 2, 'motor': 1, 'actuator': 1, 'ros': 7, 'navigation': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4299">Load Comments</button></br>
			<div id = "commentsection-4299" class = 'collapse'>
			<div id = "comment-6846" class = "comment">
				<p>Do you have a link to the L298N board you plan to use or a schematic?</p>
			</div>
			<div id = "comment-6848" class = "comment">
				<p>http://www.sainsmart.com/vanilla/discussion/109#Item_4</p>
			</div>
			<div id = "comment-6925" class = "comment">
				<p>What constitutes "working" and what constitutes "not working"?  What you've drawn here looks like a very straightforward setup.</p>
			</div>
			<div id = "comment-6963" class = "comment">
				<p>"working" means the arduino will not burn to death, and the two 12V linear actuators will be able to move without overheating the 5A 12V rated motor controller. So far it seems to be working and nothing is overheating, so it's a good sign.</p>
			</div>
			</div>
				<textarea id = "speech-4299" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4299">
					<img id="start_img-4299" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4299">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4349"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4349" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, that looks like it will work. Keep in mind that the arduino io pins aren't powering any logic. Most Arduinos can provide more than 500 mA from their 5v pin assuming that they are connected to a power supply other than usb (not that you want to draw much current from it). The io pins on atmega328 based boards can provide 40 mA, so powering anything more than an led from them is generally not a good idea.</p>

<p>The one thing I would worry about is that the ACS714 is rated at 30 amps, and it has a resolution of 66 mV/amp. The atmega328's 10bit adc has a theoretical resolution of 4mV. While this sounds like it should be enough, I personally doubt the adc would be reliably accurate below 39 mV when noise is taken into account (3 LSBs). This doesn't take thermal drift and other factors into account. It would still probably work fine, but don't expect much from the current sensors. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4349" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-4349">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4349" class = 'collapse'>
			</div>
				<textarea id = "speech-4349" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4349">
					<img id="start_img-4349" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4349">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>