<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arduino triggers a camera to start recording
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7349" class = "post">
			<h2>Question</h2>
			<div id="vote-7349" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 126</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arduino triggers a camera to start recording</h2>
<p>I've already made an Arduino device which detects the trigger event, but now I want it to trigger the recording and storage of video when this event occurs.  If the camera could be wirelessly triggered a few feet away from the Arduino unit, that would be optimal, but I can settle for running wires if need be.</p>

<p>I'm looking for suggestions because I'm on a limited budget for this project. I want to avoid reinventing the wheel and ordering parts which I can't get to work with an Arduino.</p>

<p>I'm considering the use of this camera.
<a href="https://www.sparkfun.com/products/11418" rel="nofollow">https://www.sparkfun.com/products/11418</a></p>

<p>This is my first Arduino project.  Any help is very welcome.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7349" data-toggle = "popover">
				<p>user name : Eric</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-7349">{'wireless': 1, 'None': 0, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7349">Load Comments</button></br>
			<div id = "commentsection-7349" class = 'collapse'>
			<div id = "comment-11608" class = "comment">
				<p>Welcome to Robotics Eric, could you explain why this is a [robotics.se] question, and not a question for [arduino.se]?</p>
			</div>
			</div>
				<textarea id = "speech-7349" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7349">
					<img id="start_img-7349" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7349">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7354"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7354" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sticking with SparkFun, here are some fairly east to use, fairly cheep parts that can help accomplish what I believe you are trying to do.</p>

<p>It would appear as if triggering the camera is a simple as a digital pulse from the Arduino - next step is to figure out when to make that pulse.</p>

<p>If you are looking to build a remote control device, might I suggest something as simple as SF's 434MHz transmitter / receiver pair?</p>

<p><a href="https://www.sparkfun.com/products/10534" rel="nofollow">Transmitter</a><br/>
<a href="https://www.sparkfun.com/products/10532" rel="nofollow">Receiver</a></p>

<p>The transmitter would be your remote control device, which would send a broadcast on button press. The receiver on the camera wold pick up this broadcast, and trigger the camera.</p>

<p>Now these modules are serial communication, so you would need an Arduino on the remote to command the transmitter - but you could easily build your own small remote for pretty cheap if you opt to buy just an <a href="https://www.sparkfun.com/products/9061" rel="nofollow">ATMEGA328</a>, the processor of the Arduino.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7354" data-toggle = "popover">
				<p>user name : Matt Clark</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-7354">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7354" class = 'collapse'>
			</div>
				<textarea id = "speech-7354" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7354">
					<img id="start_img-7354" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7354">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>