<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are propellers dangerous?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2559" class = "post">
			<h2>Question</h2>
			<div id="vote-2559" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4135</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are propellers dangerous?</h2>
<p>Aren't all propellers super dangerous? How are these startups like Hex and Pocket Drone selling drones as 'kid-friendly' to consumers? What happens if a kid puts his finger in a propeller's movement space while its flying? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2559" data-toggle = "popover">
				<p>user name : dude</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-2559">{'quadcopter': 8, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2559">Load Comments</button></br>
			<div id = "commentsection-2559" class = 'collapse'>
			<div id = "comment-4908" class = "comment">
				<p>Having sustained nasty cuts from plastic propellers of quadrotors spinning at considerably low RPM, I can assure you that Drones are not very safe around kids. Unless they have a proper feedback mechanism and control, like A.R.Drone 2.0, which stops spinning as soon as the props hit something. If you're building/programming your own drone, you have to veryyyyyyy  careful.</p>
			</div>
			</div>
				<textarea id = "speech-2559" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2559">
					<img id="start_img-2559" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2559">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2562"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2562" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, they are dangerous. I've cut myself multiple times. Once through the nail. The small toy helicopters are apparently some cause for increased eye injury, although <a href="http://www.ncbi.nlm.nih.gov/pubmed/22846260">studies</a> suggest the injuries are usually not severe. Larger helicopters though seem to have caused <a href="http://www.pcmag.com/article2/0,2817,2424072,00.asp">fatal injuries</a> in the past.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2562" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-2562">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2562" class = 'collapse'>
			</div>
				<textarea id = "speech-2562" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2562">
					<img id="start_img-2562" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2562">Comment</button>
			<br><div id = "ans-2574"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2574" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Aren't all propellers super dangerous?</p>
</blockquote>

<p>Depends on the RPM and propeller size. Low RPM with very small diameter, may just result in cuts or bruises. </p>

<blockquote>
  <p>How are these startups like Hex and Pocket Drone selling drones as 'kid-friendly' to consumers?</p>
</blockquote>

<p>Quads are not kid-friendly. Pocket drone uses collapsible propellers that may reduce the force of the impact, but it will hurt. </p>

<blockquote>
  <p><img src="https://i.stack.imgur.com/Dcw2Dm.jpg" alt=""></p>
</blockquote>

<p>Hex uses pretty small propellers which reduces the area around it in which it will be dangerous.</p>

<blockquote>
  <p>What happens if a kid puts his finger in a propeller's movement space while its flying?</p>
</blockquote>

<p>Nothing good. Quads are dangerous and need to be handled extremely carefully.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2574" data-toggle = "popover">
				<p>user name : asheeshr</p>
				<p> user reputation : 255</p>
				<p class = "tagcontent" id = "usertaginfo-2574">{'quadcopter': 4, 'None': 8, 'pid': 9, 'ugv': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2574" class = 'collapse'>
			</div>
				<textarea id = "speech-2574" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2574">
					<img id="start_img-2574" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2574">Comment</button>
			<br><div id = "ans-2577"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2577" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Small quads that use brushed pager motors aren't too bad.  Typical quads that used brushless motors easily cut through flesh.  These shots were from an RC Groups thread where people were submitting their accident pictures.  Be careful!</p>

<p>For some  truly gruesome pictures (amputated fingers, severed tendons, etc), you can see this French language thread: <a href="http://chrismeme11.over-blog.com/article-36258812.html" rel="nofollow noreferrer">http://chrismeme11.over-blog.com/article-36258812.html</a></p>

<p><img src="https://i.stack.imgur.com/AGmQ7.jpg" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2577" data-toggle = "popover">
				<p>user name : Mark Harrison</p>
				<p> user reputation : 183</p>
				<p class = "tagcontent" id = "usertaginfo-2577">{'quadcopter': 1, 'mobile-robot': 5, 'None': 5, 'differential-drive': 5, 'power': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2577" class = 'collapse'>
			</div>
				<textarea id = "speech-2577" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2577">
					<img id="start_img-2577" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2577">Comment</button>
			<br><div id = "ans-9789"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9789" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yeeeees!!!
They r very dangerous, I was building a quadcopter, when I finished I was calibrating the esc, during the process, you have to leave the transmitter throttle on max and press few buttons. My quad malfunctioned then went full throttle then attacked my wrist. It was millimetres away from my nerves and tendon. I am only 14 years old. For this accident, I went into surgery and I had 13 stitches!</p>

<p>To conclude, Propellors are extremely dangerous. THEY CAN KILL!!! Never misuse a drone.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9789" data-toggle = "popover">
				<p>user name : SidS</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-9789">{'quadcopter': 3, 'None': 5, 'power': 1, 'motor': 4, 'electric': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9789">Load Comments</button></br>
			<div id = "commentsection-9789" class = 'collapse'>
			<div id = "comment-20594" class = "comment">
				<p>...and this why all the documentation on ESC calibration tells you to first remove your propellers.</p>
			</div>
			</div>
				<textarea id = "speech-9789" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9789">
					<img id="start_img-9789" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9789">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>