<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are power and torque required related in some way?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-913" class = "post">
			<h2>Question</h2>
			<div id="vote-913" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 571</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are power and torque required related in some way?</h2>
<p>I am designing a new platform for outdoor robotics and I need to calculate the power and/or torque that is needed to move the platform. I have calculated that I need about 720 W of total power to move it (360W per motor), but I don't know how to calculate the torque that I need. </p>

<p>Is it really just about having the required power and ignoring the torque or is there a way to calculate it easily?</p>

<p>Already known parameters of the platform are:</p>

<ul>
<li>Weight of the whole platform: 75 kg.</li>
<li>Number of wheels: 4.</li>
<li>Number of powered wheels: 4.</li>
<li>Diameter of wheels: 30 cm.</li>
<li>Number of motors: 2.</li>
<li>Wanted speed: 180 RPM (3 m/s).</li>
<li>Wanted acceleration: > 0.2 m/s^2</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-913" data-toggle = "popover">
				<p>user name : Plecharts</p>
				<p> user reputation : 331</p>
				<p class = "tagcontent" id = "usertaginfo-913">{'mobile-robot': 8, 'None': 15, 'design': 8, 'motor': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-913">Load Comments</button></br>
			<div id = "commentsection-913" class = 'collapse'>
			<div id = "comment-16607" class = "comment">
				<p>Plugging in your numbers, for a 20  slope ~55Nm using this http://www.robotshop.com/blog/en/drive-motor-sizing-tool-9698</p>
			</div>
			</div>
				<textarea id = "speech-913" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-913">
					<img id="start_img-913" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-913">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-914"  class = "post">
				<h2>Answer</h2>
			<div id="vote-914" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A good presentation on how to size your motors for a mobile robot is <a href="http://www.scribd.com/doc/38698/Sizing-Electric-Motors-for-Mobile-Robotics" rel="nofollow">Sizing Electric Motors for Mobile Robotics</a> from the <a href="http://www.circpeoria.org/" rel="nofollow">Central Illinois Robotics Club</a>.</p>

<p>The general procedure outlined there includes the following steps:</p>

<ul>
<li>Step One: Determine total applied force at worst case</li>
<li>Step Two: Calculate power requirement</li>
<li>Step Three: Calculate torque and speed requirement</li>
<li>Step Four: Find a motor that meets these requirements</li>
<li>Step Five: Plot motor characteristics</li>
</ul>

<p>Since you also have an acceleration requirement, you will also need to factor that in as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-914" data-toggle = "popover">
				<p>user name : freeman01in</p>
				<p> user reputation : 66</p>
				<p class = "tagcontent" id = "usertaginfo-914">{'None': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-914">Load Comments</button></br>
			<div id = "commentsection-914" class = 'collapse'>
			<div id = "comment-2208" class = "comment">
				<p>Thank You for this link, never found it using Google :).
The robot is mainly for competition, but I also want to test some things that are not possible using smaller platforms, like LIDAR (if I get to own one). The reason I want platform this big is because the rules specify that the robot must be fully self-contained while running.</p>
			</div>
			<div id = "comment-2240" class = "comment">
				<p>Is it for the NASA Robo-Ops competition?</p>
			</div>
			<div id = "comment-2254" class = "comment">
				<p>No, I wish. It is mainly built for [Robotour](http://robotika.cz/competitions/robotour/en).</p>
			</div>
			</div>
				<textarea id = "speech-914" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-914">
					<img id="start_img-914" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-914">Comment</button>
			<br><div id = "ans-916"  class = "post">
				<h2>Answer</h2>
			<div id="vote-916" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While the answer by <a href="https://robotics.stackexchange.com/a/914/37">freeman01in</a> references a <a href="http://www.scribd.com/doc/38698/Sizing-Electric-Motors-for-Mobile-Robotics" rel="nofollow noreferrer">useful presentation</a> (<a href="http://in.docsity.com/en-docs/Sizing+Electric+Motors+for+Mobile+Robotics-Robotics-Lecture+Slides" rel="nofollow noreferrer">alternative source</a>) on the practical application aspect of your question, it is probably worth answering the specific question in the title too, in terms of first principles.</p>

<p>From the <a href="http://en.wikipedia.org/wiki/Power_%28physics%29" rel="nofollow noreferrer">Wikipedia Power</a> page:</p>

<blockquote>
  <p>In physics, <strong>power</strong> is the rate at which energy is transferred, used, or transformed. The unit of power is the joule per second (J/s), known as the watt ...</p>
  
  <p>Energy transfer can be used to do work, so power is also the rate at which this work is performed. The same amount of work is done when carrying a load up a flight of stairs whether the person carrying it walks or runs, but more power is expended during the running because the work is done in a shorter amount of time. The output power of an electric motor is the product of the torque the motor generates and the angular velocity of its output shaft. The power expended to move a vehicle is the product of the traction force of the wheels and the velocity of the vehicle.</p>
  
  <p>The integral of power over time defines the work done. Because this integral depends on the trajectory of the point of application of the force and torque, this calculation of work is said to be "path dependent."</p>
</blockquote>

<p>Meanwhile, from the <a href="http://en.wikipedia.org/wiki/Torque" rel="nofollow noreferrer">Wikipedia Torque</a> page:</p>

<blockquote>
  <p>Torque, moment or moment of force (see the terminology below), is the tendency of a force to rotate an object about an axis,<a href="https://robotics.stackexchange.com/a/914/37">1</a> fulcrum, or pivot. Just as a force is a push or a pull, a torque can be thought of as a twist to an object. Mathematically, torque is defined as the cross product of the lever-arm distance and force, which tends to produce rotation.</p>
  
  <p>Loosely speaking, torque is a measure of the turning force on an object such as a bolt or a flywheel. For example, pushing or pulling the handle of a wrench connected to a nut or bolt produces a torque (turning force) that loosens or tightens the nut or bolt.</p>
  
  <p>The symbol for torque is typically $\boldsymbol{\tau}$, the Greek letter tau. When it is called moment, it is commonly denoted $M$.</p>
  
  <p>The magnitude of torque depends on three quantities: the force applied, the length of the lever arm connecting the axis to the point of force application, and the angle between the force vector and the lever arm. ...</p>
  
  <p>The SI unit for torque is the newton metre (N m).</p>
</blockquote>

<p>And from <a href="http://en.wikipedia.org/wiki/Torque#Relationship_between_torque.2C_power.2C_and_energy" rel="nofollow noreferrer">Relationship between torque, power, and energy</a> you get the formula: </p>

<blockquote>
  <p>Power is the work per unit time, given by $$P = \boldsymbol{\tau} \cdot \boldsymbol{\omega}$$ where $P$ is power, $\boldsymbol{\tau}$ is torque, $\boldsymbol{\omega}$ is the angular velocity, and $\cdot$ represents the scalar product.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-916" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-916">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-916" class = 'collapse'>
			</div>
				<textarea id = "speech-916" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-916">
					<img id="start_img-916" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-916">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>