<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are joint state vectors limited?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8831" class = "post">
			<h2>Question</h2>
			<div id="vote-8831" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are joint state vectors limited?</h2>
<p>Are joint-state vectors $q$, which define the position and orientation of a set of joints, limited somehow? </p>

<p>I know they are used for the rotation part of the transformation matrix => therefore I would think they were limited within 0 and 2$\pi$</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8831" data-toggle = "popover">
				<p>user name : Carlton Banks</p>
				<p> user reputation : 102</p>
				<p class = "tagcontent" id = "usertaginfo-8831">{'control': 1, 'None': 0, 'inverse-kinematics': 11, 'frame': 2, 'joint': 1, 'visual-servoing': 1, 'kinematics': 2, 'robotic-arm': 5, 'jacobian': 5, 'rotation': 0, 'motion-planning': 2, 'forward-kinematics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8831">Load Comments</button></br>
			<div id = "commentsection-8831" class = 'collapse'>
			<div id = "comment-14508" class = "comment">
				<p>Can you be more specific with what you're asking about? Are you referring to $q$ as in generalized joint parameters?</p>
			</div>
			<div id = "comment-14509" class = "comment">
				<p>yes... I notice my book states that R_z(q) would be possible , or that at T_ref.</p>
			</div>
			<div id = "comment-14549" class = "comment">
				<p>Welcome to *robotics* dfh, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it is a good idea to include details of what what you would like to achieve, what you have tried, what you expected to see and what you actually saw. Take a look at [ask] and [about] for more information on how stack exchange works. If you edit your question to make it more clear, flag it for moderator attention and we can reopen it for you.</p>
			</div>
			</div>
				<textarea id = "speech-8831" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8831">
					<img id="start_img-8831" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8831">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8836"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8836" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For generalized joint parameters, there are no explicit limits on the value of $q$, regardless of the joint type. </p>

<p>This is done because more complex joints can be created by a group of relatively simple joints, so it's best to have a library of joints that use the generalized parameter with no bounds. </p>

<p>Consider a rack and pinion. The pinion might rotate an angle $q$ radians, but the rack then translates a distance of $rq$, where r is the effective diameter of the pinion gear. In this case, assuming $0 &lt;= q &lt; 2\pi$ means that the rack can only translate a distance of $2\pi r$.</p>

<p>Screws are similar, where the rotation may be $q$, but the axial translation is based on the pitch and total degree of rotation, $h = qp$, where $p$ is the pitch. </p>

<p>If you would like to evaluate a joint angle as though it were bounded, I would suggest creating a virtual sensor that taps into the joint parameter and performs the bounding operation, but I would definitely leave the actual joint parameter alone. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8836" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8836">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8836">Load Comments</button></br>
			<div id = "commentsection-8836" class = 'collapse'>
			<div id = "comment-14510" class = "comment">
				<p>To be clear, by virtual sensor I just mean something like $q_{\mbox{sensed}} = q$, then performing the bounding, $ q_{\mbox{sensed}} = q_{\mbox{sensed}} - 2\pi(\mbox{floor}(q_{\mbox{sensed}}/(2\pi)))$ etc.</p>
			</div>
			</div>
				<textarea id = "speech-8836" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8836">
					<img id="start_img-8836" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8836">Comment</button>
			<br><div id = "ans-8837"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8837" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Additionally to what Chuck said, from a purely mathematical point of view, the rotation matrix is defined as:
$$R(\theta) = \left[
\begin{array}[cc] \\
\cos(\theta) &amp; -\sin(\theta) \\
\sin(\theta) &amp; \cos(\theta) \\
\end{array}
\right]
$$</p>

<p>Thus, $R(\theta) = R(\theta+2\pi) $, thus you do not need to wrap the angle argument.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8837" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8837">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8837" class = 'collapse'>
			</div>
				<textarea id = "speech-8837" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8837">
					<img id="start_img-8837" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8837">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>