<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are LiPo really 100 times more energy dense than model rockets?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7234" class = "post">
			<h2>Question</h2>
			<div id="vote-7234" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 95</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are LiPo really 100 times more energy dense than model rockets?</h2>
<p>Lately I've been interested in comparing the energy density of <a href="http://www.estesrockets.com/rockets/engines/standard/1613-c6-3" rel="nofollow">model rocket engines</a> to lithium polymer batteries (attached to motors and propellers) for propelling things upwards.</p>

<p>To get a feel for this, I decided to compare an Estes C6-5 motor to a 3DR Iris + quadcopter.</p>

<p>Estes C6-5 has initial mass of 25.8g, and produces 10 N s total impulse. So, the "Impulse density" is about 10 N s / 25.8g = 0.38 N s g^-1.</p>

<p>3DR Iris+ weighs 1282g without battery. 3.5ah battery weighs 250g and will power hover for about 20 minutes (so about 10.5a draw). Thrust produced to hover on Earth is 9.8N kg^-1 * 1.532 kg = 14.7N. "Impulse density" is 14.7N * 1200s / 250g = 70.6 N s g^-1 .</p>

<p>So, according to my math here, the LiPo is about 0.38/70.6 = 186 times more energy dense than the model rocket engine.</p>

<p>Of course, the model rocket engine will lose 12.48g of propellant by the end of the flight so it will be effectively a little lighter, but that's not going to affect things by a factor of 100.</p>

<p>Does this seem right to you? Am I missing anything?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7234" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-7234">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7234">Load Comments</button></br>
			<div id = "commentsection-7234" class = 'collapse'>
			<div id = "comment-10523" class = "comment">
				<p>How are you measuring the impulse of the model rocket engine?</p>
			</div>
			<div id = "comment-10529" class = "comment">
				<p>Didn't measure it -- read it off the datasheet. The link in the question also takes you to the product page where you can see the datasheet. Incidentally, a friend of mine has actually measured them for a class project though, and found them to match the datasheets very closely.</p>
			</div>
			</div>
				<textarea id = "speech-7234" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7234">
					<img id="start_img-7234" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7234">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7239"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7239" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think the main difference is that the energy in the rocket engine is (probably, I'm not a rocket scientist) far less effectively used than the one of the LiPo. Also, the actual weight of the fuel in the rocket engines might be way lower than the weight of the engine (so your masses are not consistent, one is only the battery/"fuel", one includes the motor).</p>

<p>It would be interesting comparing the weight of a LiPo/Motor/Quadcopter with a Rocket engine with similar thrust, to see how size effects play into this.</p>

<p>For a "similar" comparison of a zippo vs a phone battery, look <a href="https://what-if.xkcd.com/128/" rel="nofollow">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7239" data-toggle = "popover">
				<p>user name : Luke35</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7239">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7239">Load Comments</button></br>
			<div id = "commentsection-7239" class = 'collapse'>
			<div id = "comment-10281" class = "comment">
				<p>The two in my question do have similar thrust -- one provides 10N and the other 14.7N. Also, I did discuss the loss of propellant mass in my question -- 12.8g of the 25.8g motor is propellant. Interesting about the zippo. However, this doesn't answer my question.</p>
			</div>
			<div id = "comment-10283" class = "comment">
				<p>Oh, sry, I somehow missed that. If only 12.8g is propellant then that's what you want to divide the impulse through, I think. I guess a lot of the energy of the rocket motor goes into heating the air and other losses, whereas the Quadcopter could be more efficient.</p>
			</div>
			</div>
				<textarea id = "speech-7239" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7239">
					<img id="start_img-7239" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7239">Comment</button>
			<br><div id = "ans-7370"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7370" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is "Yes", Rocket motors are less energy dense because they are built to expend that energy more quickly, while Lithium Ion Polymer batteries are designed to work longer.  However saying that they are "100 times" cannot always be correct.</p>

<p>The reasoning being that not all Lithium Ion Polymer batteries are made equal.   You have different C rates, cell density (affects C AND mAh), and different mAh.   For example the Zippy 3S 20C/40C 3000 mAh battery weighs about the same as the Mutistar 3S 10C/20C 5200mAh.  In general it would be correct to say that LiPo batteries store more energy than model rocket engines, this because of the different run times of the two fuel sources.  A capacitor may discharge more voltage and amperage than a battery, but the battery can generally run longer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7370" data-toggle = "popover">
				<p>user name : GJH105775</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-7370">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7370">Load Comments</button></br>
			<div id = "commentsection-7370" class = 'collapse'>
			<div id = "comment-10520" class = "comment">
				<p>Fair point that rockets would effectively have a very high equivalent C rating. To improve your answer, you can calculate this. Energy density (assuming that's what you mean by "cell density") is capacity / mass and a higher discharge (C) rating tends to mean lower energy density. It seems your argument should start with "The short answer is 'yes'". Rocket motors are less energy dense because they are built to expend that energy more quickly.</p>
			</div>
			<div id = "comment-10524" class = "comment">
				<p>Energy density and cell density are different cell density is how tightly packed the cation, anion, and the insulators are packed.  This affects a lot of other factors.</p>
			</div>
			<div id = "comment-10530" class = "comment">
				<p>Can you provide a reference for this idea of "cell density"? It's not standard lipo terminology as far as I know.</p>
			</div>
			</div>
				<textarea id = "speech-7370" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7370">
					<img id="start_img-7370" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7370">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>