<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are there any advantages to using a LIDAR for SLAM vs a standard RGB camera?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10695" class = "post">
			<h2>Question</h2>
			<div id="vote-10695" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1706</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are there any advantages to using a LIDAR for SLAM vs a standard RGB camera?</h2>
<p>I've been thinking about building a small UAV with an onboard LIDAR, just for fun. I'm interested in SLAM and autonomous flight indoors and thought that I would need a lidar to get a 3D map of the environment. Now, I've spent some more time looking into SLAM techniques and have seen very impressive results with simple RGB cameras, not even necessarily stereo setups. For instance, <a href="http://vision.in.tum.de/research/vslam/lsdslam" rel="nofollow">these</a> <a href="http://vision.in.tum.de/research/vslam/dso" rel="nofollow">results</a> of the CV group of TU Muenchen. They are capable of constructing 3D pointclouds from simple webcams, in real-time on a standard CPU.</p>

<p>My question: are there cases where you'd still need a LIDAR or can this expensive sensor be replaced with a standard camera? Any pros/cons for either sensors?</p>

<p>I'm going to list some pros/cons that I know/can think of:</p>

<ul>
<li><p>LIDARs are better at detecting featureless objects (blank walls) whereas a vision-based SLAM would need some features. </p></li>
<li><p>Using LIDARs would be computationally less intensive than reconstructing from video</p></li>
<li><p>The single RGB camera 3D reconstruction algorithms I found need some movement of the camera to estimate depth whereas a LIDAR does not need any movement.</p></li>
<li><p>Using a single camera for SLAM would be cheaper, lighter and possibly have a better resolution than a LIDAR.</p></li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-10695" data-toggle = "popover">
				<p>user name : lucab</p>
				<p> user reputation : 78</p>
				<p class = "tagcontent" id = "usertaginfo-10695">{'computer-vision': 4, 'stereo-vision': 4, 'None': 4, 'slam': 4, 'lidar': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10695" class = 'collapse'>
			</div>
				<textarea id = "speech-10695" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10695">
					<img id="start_img-10695" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10695">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10698"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10698" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>My question: are there cases where you'd still need a LIDAR or can
  this expensive sensor be replaced with a standard camera? ...</p>
</blockquote>

<p>A each one of them has its advantages/disadvantages. Thus in some cases it would be more suitable to choose a lidar instead of a camera and vice-versa.</p>

<ol>
<li><p>A LIDAR doesn't require light to perceive the environment whereas a camera won't be useful in the absence of light.</p></li>
<li><p>A LIDAR would fail to detect walls made of glass, since the rays would pass through the walls. In the case of a single camera, I have no I idea how good/bad the results would be but also it would see through the glass (not sure about this part as I have not tested a monocular slam in case there are glass walls/facades, but with a laser it would fail).</p></li>
<li><p>Price which is very important and you've mentioned it.</p></li>
</ol>

<blockquote>
  <p>Using LIDARs would be <strong>computationally less intensive</strong> than
  reconstructing from video</p>
</blockquote>

<p>It depends how many points a LIDAR measures, and how many of them you use to construct the map the computational requirements vary a lot. (have a look at velodyne lidars and check how many points/sec they measure). </p>

<blockquote>
  <p>Using a single camera for SLAM would be cheaper, lighter and
  <strong>possibly have a better resolution than a LIDAR</strong>.</p>
</blockquote>

<p>The resolution depends on the LIDAR and camera you use, so you cannot generalize and say one is better than the other.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10698" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10698">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10698">Load Comments</button></br>
			<div id = "commentsection-10698" class = 'collapse'>
			<div id = "comment-19265" class = "comment">
				<p>Hi @Paul 
I'm pretty new here, how do you make the fancy yellow quoting thing ?</p>
			</div>
			<div id = "comment-19266" class = "comment">
				<p>"*a lidar would fail to detect walls made of glass*" I think this depends on the frequency (color) of the laser. I'd say there are lasers that cannot go through glass and which would consider it a solid wall.</p>
			</div>
			<div id = "comment-19267" class = "comment">
				<p>as far as I remember, you cannot ping editors with the @ in comments so Paul won't get notified. To get the quote formatting, insert a > at the beginning of the line. Always remember: pretty much everything here can be edited by everybody. To see the "source code" of a question or answer, just click [edit] underneath it.</p>
			</div>
			<div id = "comment-19268" class = "comment">
				<p>my response is based on my so-far humble experience with few lidars</p>
			</div>
			<div id = "comment-19269" class = "comment">
				<p>@BendingUnit22 thanks for the response, I know about the editing feature, but not the coloring one which is pretty useful.</p>
			</div>
			<div id = "comment-19270" class = "comment">
				<p>The editor also has a button for quotes which should insert the appropriate formatting syntax. Check out all the formatting tricks [here](http://robotics.stackexchange.com/help/formatting)</p>
			</div>
			<div id = "comment-19274" class = "comment">
				<p>Thanks for your input! I forgot to mention that obviously cameras do not see in the dark, which might be a very good reason to have a lidar.</p>
			</div>
			</div>
				<textarea id = "speech-10698" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10698">
					<img id="start_img-10698" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10698">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>