<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are robot's codes usually compiled or interpreted?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14062" class = "post">
			<h2>Question</h2>
			<div id="vote-14062" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 34</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are robot's codes usually compiled or interpreted?</h2>
<p>I would bet that usually these are compiled for better performance, and of lawful reasons (make it harder for any user to save code without decompiling), though I'm not sure.</p>

<p>In any case, I believe performance is the major consideration (I'm very new to programming and cannot tell how data processing of robots is different, say, than that of high-end PC games or heavy PC software and if performance considerations will be usually similar or how different).</p>

<p>Are robot's codes usually installed when compiled from source code in an external computer or as pure source codes interpreted by some engine installed on the robots operating system?</p>

<p>(please example on JavaScript and Raspberry pi if possible at the moment).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14062" data-toggle = "popover">
				<p>user name : Benia</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-14062">{'None': 0, 'raspberry-pi': 0, 'power': 0, 'data-association': 0, 'programming-languages': 0, 'electronics': 0, 'movement': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14062">Load Comments</button></br>
			<div id = "commentsection-14062" class = 'collapse'>
			<div id = "comment-22917" class = "comment">
				<p>Did you mean "compile or interpreted"?</p>
			</div>
			<div id = "comment-22919" class = "comment">
				<p>I meant in the context of compiling your program code as for example, when you buy a PC game and you open its EXE file in a notepad, you see machine code and in none of the files you will find source code, usually.</p>
			</div>
			<div id = "comment-22920" class = "comment">
				<p>Let me be clearer.  Did you mean to say "interpreted" everywhere you said "decompiled (sourced)"?</p>
			</div>
			<div id = "comment-22927" class = "comment">
				<p>I don't think so because even though I'm new in programming, I know that a source code could be either interpreted or compiled each time it is executed and just once by the human programmer.</p>
			</div>
			<div id = "comment-22931" class = "comment">
				<p>"...compiled each time it is executed..." Code that is compiled and put into something like a robot is never compiled again.  Let me try again, I think you are confusing people and may not be getting the answers you are looking for because the term "decopiled (sourced)" should be replaced with "interpreted".</p>
			</div>
			<div id = "comment-22932" class = "comment">
				<p>I've edited the whole passage. Suggest comment deletion.</p>
			</div>
			<div id = "comment-22937" class = "comment">
				<p>I understand it's enough-accurate now.</p>
			</div>
			<div id = "comment-22939" class = "comment">
				<p>Good.  By the way, I didn't say anything about JavaScript in my answer so as not to confuse you or anyone who searches and finds this question.  That is because compiling JavaScript is likely never going to happen.  It has been discussed [in other threads / groups if you like to take a look](https://softwareengineering.stackexchange.com/questions/138521/is-javascript-interpreted-by-design).</p>
			</div>
			</div>
				<textarea id = "speech-14062" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14062">
					<img id="start_img-14062" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14062">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14063"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14063" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Robots tend to be portable devices powered by batteries.  Portable battery operated devices tend to use embedded processors with limited power and memory. Compiled code has several advantages over interpreted code in such applications:</p>

<ul>
<li>Compiled code usually takes up less space.  So you can have more code
in the same amount of space.</li>
<li>Compiled code usually execute faster.  So batteries last longer.</li>
<li>An interpreter does not need to be installed into the robot's limited
memory.  This frees up more space for code or data storage.</li>
<li>As compiled code usually requires less resources on the mobile
platform, the mobile platform can be made with less expensive
parts.</li>
</ul>

<p>That said, it is not necessarily true that compiling code obfuscates it.  If enough effort is invested, nearly any compiled code can be understood.  It then becomes a matter of which is more efficient.  Replicating the features or backward engineering the compiled code.</p>

<p>Why most people tend to use interpretive languages such a Python on a Raspberry Pi is confusing.  (The Raspberry Pi is fast becoming a complete computer.)  This is likely because interpretive languages tend to be less confusing to use.  Where compiling code adds steps to the development process, interpretive code is simply run after specifying the interpreter.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14063" data-toggle = "popover">
				<p>user name : st2000</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-14063">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14063" class = 'collapse'>
			</div>
				<textarea id = "speech-14063" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14063">
					<img id="start_img-14063" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14063">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>