<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Are questions like "what's this app?" allowed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1651" class = "post">
			<h2>Question</h2>
			<div id="vote-1651" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are questions like "what's this app?" allowed?</h2>
<p>So I was just going to ask a question about the app on Apple's homepage, and I realized it could be off-topic or not constructive or whatever.</p>

<p>I was going to provide a photo like this, and ask for the name of the app in the right side.
<img src="https://i.stack.imgur.com/T8Gxe.jpg" alt="A photo taken from Apple TW"></p>

<p>Anyway, is this kind of questions allowed here?</p>

			</div>
			<div id = "userinfo-1651" style = "float:right">
				<p>user name : Shane Hsu</p>
				<p> user reputation : 1535</p>
				<p> user tag wise history : {'unanswered-questions': 1, 'None': 0, 'discussion': 8, 'tags': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1651">Load Comments</button></br>
			<div id = "commentsection-1651" class = 'collapse'>
			<div id = "comment-3084" class = "comment">
				<p>I'll answer, but feel free to edit into this post "What next?" The initial version of this could be a dead end if there were no more requirements than "what is this app?" but it also could set the stage for an awesome question.</p>
			</div>
			</div>
				<textarea id = "speech-1651" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1651">
					<img id="start_img-1651" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1651">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1652"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1652" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, things like that are strongly discouraged.</p>

<p>It's basically a variation of <a href="http://blog.stackoverflow.com/2012/02/lets-play-the-guessing-game/">The Guessing Game</a> and all the reasons set forth for the problems with guessing apply in this case.</p>

<p>To evaluate this (and any other) question where we're wondering if "A post like X" would be a good fit, here is the most important criteria for judging any question:</p>

<ol>
<li>Is it clear enough for many people - expert and novice to understand what exactly is being asked.</li>
<li>Is the question likely to allow space for an <strong>excellent answer</strong> - one that teaches, one that relates experience or learning that can be applied to our world wide audience?</li>
<li>Does it invite meaningful contributions (as opposed to a simple one line answer or a simple yes/no answer) to solve a problem for both the asker and the audience.</li>
</ol>

<p>In this case, it passes the first criteria but severely lacks in the second two. The answer is going to be trivial and unuseful in most cases. Now, if you had a back story and could add that - it might make a most excellent question.</p>

<p>If you had a story explaining what next, then you might have a great question. So crop out the letterpress so it doesn't distract, and tell what you want that app on the right to do for you. I am looking for a three-way slide show application that supports not only english localization but works in mainland china with their internet restrictions and firewall.</p>

<p>Better if you listed your research for an app and linked to what the firewall situation in China is when you asked so that someone could come back to the question in 18 months and know that those restrictions are tighter, loosened, or irrelevant.</p>

<p>As always, you can just ask and we'll help shape, flag, edit, close - but hopefully this somewhat long winded post helps you understand the positives and negatives to asking "What's the software that looks like this?"</p>
</p><br>
			</div>
			<div id = "userinfo-1652" style = "float:right">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p> user tag wise history : {'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1652" class = 'collapse'>
			</div>
				<textarea id = "speech-1652" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1652">
					<img id="start_img-1652" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1652">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>