<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are there any open source path planning libraries that implement Voronoi diagram techniques?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11725" class = "post">
			<h2>Question</h2>
			<div id="vote-11725" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 107</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are there any open source path planning libraries that implement Voronoi diagram techniques?</h2>
<p>I've been looking into path planning for a non-holonomic robot with 3 DOF in a 2D plane and recently learned about Voronoi diagrams but I cannot find any open source planning libraries that use this technique. Are there any open source implementations of using Voronoi diagrams (preferably in C++)? If yes, then where? If not, then why? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11725" data-toggle = "popover">
				<p>user name : Klik</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-11725">{'nxt': 3, 'None': 0, 'motion': 0, 'troubleshooting': 1, 'motor': 0, 'path-planning': 3, 'mobile-robot': 3, 'motion-planning': 3, 'navigation': 3, 'robotc': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11725">Load Comments</button></br>
			<div id = "commentsection-11725" class = 'collapse'>
			<div id = "comment-20917" class = "comment">
				<p>Are you looking for something like this? https://github.com/ptroja/voronoi  

If you just want to use Voronoi diagrams as a representation of 'frontiers', sampling based planners like RRT etc. exploit their Voronoi bias to quickly sample a 2D space and compute a possibly optimal path. Unless there's something specific you have in mind for why you need Voronoi diagrams.</p>
			</div>
			<div id = "comment-20918" class = "comment">
				<p>If you're using voronoi regions as obstacle avoidance, I would _highly_ recommend another approach.  The voronoi approach leads to very conservative paths</p>
			</div>
			<div id = "comment-20919" class = "comment">
				<p>@HighVoltage As I understand it, sampling based algorithms like RRT develop Voronoi bias because the Voronoi lines will lie in open (mostly) collision free areas. The bias just comes about as a result and not by pre computing. I found [this paper](http://msl.cs.uiuc.edu/~lavalle/papers/LinLav04.pdf) to be very interesting regarding the subject.</p>
			</div>
			<div id = "comment-20920" class = "comment">
				<p>@combo could you elaborate as to why you would recommend another approach? It's part of my question to ask why I don't see a Voronoi diagram approach in open source libraries. I'm not aware of any fatal flaws.</p>
			</div>
			<div id = "comment-20924" class = "comment">
				<p>@Klik I was referring to a planner which forms a Voronoi diagram using obstacles as centers, and then plans paths on the edges of the resulting diagram (such as [this](http://users.metu.edu.tr/e159540/pages/classes/cs548/cs548_hmw4.html)). This planner will go _very far_ out of its way to avoid an obstacle, so if you have any wide open spaces you will likely be disappointed by the resulting behavior. I am less familiar with using voronoi bias, but given that it is an old paper by a good author which has gotten little traction, I am skeptical. Have you considered kinoRRT or kinoFMT?</p>
			</div>
			<div id = "comment-20926" class = "comment">
				<p>I see what you're saying about the Voronoi diagrams though... It is probably more suitable for larger complex environments and it would benefit from local optimization. I'm not familiar with kinoRRT, is the term synonymous with k-RRT? Does it have an open source implementation like OMPL?</p>
			</div>
			</div>
				<textarea id = "speech-11725" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11725">
					<img id="start_img-11725" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11725">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>