<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are there any aerodynamics modeling~simulation software that is capable to consume a SolidWorks model and to interface with MATLAB~Simulink?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8292" class = "post">
			<h2>Question</h2>
			<div id="vote-8292" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 303</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are there any aerodynamics modeling~simulation software that is capable to consume a SolidWorks model and to interface with MATLAB~Simulink?</h2>
<p>Currently I am developing a control system for an aircraft of a unique design (something in between a helicopter and a dirigible). At this moment I can model only the dynamics of this vehicle without any aerodynamic effects taken into account. For this I use the following work-flow:</p>

<p>Mechanical model in SolidWorks -> MSC ADAMS (Dynamics) &lt;--> MATLAB/Simulink (Control algorithms)</p>

<p>Thus, the dynamics of the vehicle is modeled in ADAMS and all control algorithms are in MATLAB/Simulink. Unfortunately, ADAMS can not simulate any aerodynamic effects. As a result, I can not design a control system that is capable to fight even small wind disturbances.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8292" data-toggle = "popover">
				<p>user name : Alex Bokov</p>
				<p> user reputation : 30</p>
				<p class = "tagcontent" id = "usertaginfo-8292">{'control': 5, 'None': 0, 'rocket': 5, 'simulator': 0, 'uav': 0, 'matlab': 0, 'simulation': 0, 'automatic': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8292">Load Comments</button></br>
			<div id = "commentsection-8292" class = 'collapse'>
			<div id = "comment-13296" class = "comment">
				<p>Alex, the question is not related to this topic. It has nothing to do with control or robot design. You can rephrase your question to ask about how to design autopilot for a specific plant model. Then, other users could answer and point you in the right direction. As it stands, you are asking for a CFD software but in fact what you need is methodology to define the linear and nonlinear of your vehicle. Which doesn't have to be software to software integration.</p>
			</div>
			<div id = "comment-13304" class = "comment">
				<p>Actually, I need a virtual environment where I can launch my aircraft and see how it behaves without fear to crash it, because the real prototype is too fragile for taking any risks. And I need something where I have to define only the geometry of an aircraft, its inertial characteristics and joints whereas all system equations would be generated automatically and linked with control algorithms in MATLAB.</p>
			</div>
			<div id = "comment-13338" class = "comment">
				<p>then I suggest that you try x-plane. Which helps you define a custom geometry with custom control surfaces and custom propulsion. however, I strongly suggest that you (or someone) takes a close look at your mathematical representation of the aircraft, and that you take extra precautions for the first flight. good luck.</p>
			</div>
			</div>
				<textarea id = "speech-8292" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8292">
					<img id="start_img-8292" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8292">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8295"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8295" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Matlab has a package called <a href="http://www.mathworks.com/products/simscape/" rel="nofollow">Simscape</a> that you can use for modeling physical systems in general. I would just caution you up front that Simscape is almost more like a plugin manager in that it enables other modules and doesn't offer a terrific amount of content on its own. This means you get to buy Simscape, then buy whatever other toolboxes you want that require Simscape. That said, if you're using Solidworks, you/your company is probably no stranger to paying good money for (great) software tools. </p>

<p>Once you have Simscape, you can purchase/install a package called <a href="http://www.mathworks.com/products/simmechanics/" rel="nofollow">SimMechanics</a>. This package has the capability to <a href="http://www.mathworks.com/help/physmod/smlink/ref/linking-and-unlinking-simmechanics-link-software-with-solidworks.html" rel="nofollow">interface with Solidworks</a>; see the videos <a href="http://www.mathworks.com/videos/importing-and-merging-cad-models-into-simmechanics-68841.html" rel="nofollow">here</a> and <a href="http://www.mathworks.com/videos/importing-a-cad-suspension-assembly-into-simmechanics-89612.html?type=shadow" rel="nofollow">here</a> (the second video is embedded in <a href="http://www.mathworks.com/products/simmechanics/features.html#importing-cad-models" rel="nofollow">this page</a> in case you have trouble accessing it).</p>

<p>Lastly, there's an <a href="http://www.mathworks.com/help/aeroblks/index.html" rel="nofollow">Aerospace Blockset</a> for Simulink that helps you <a href="http://www.mathworks.com/help/aeroblks/wind.html" rel="nofollow">model wind</a>, but I'm not an aero guy and haven't used this set, so I can't comment on how useful it may be. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8295" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8295">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8295" class = 'collapse'>
			</div>
				<textarea id = "speech-8295" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8295">
					<img id="start_img-8295" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8295">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>