<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are inverse kinematics and reinforcement learning competitive techniques?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-369" class = "post">
			<h2>Question</h2>
			<div id="vote-369" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 560</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are inverse kinematics and reinforcement learning competitive techniques?</h2>
<p>Are <a href="http://en.wikipedia.org/wiki/Inverse_kinematics" rel="nofollow">inverse kinematics</a> and <a href="http://en.wikipedia.org/wiki/Reinforcement_learning" rel="nofollow">reinforcement learning</a> techniques contending techniques to solve the same problem viz. movement of robotic manipulators or arm?</p>

<p>By a glance through the wikipedia article, it appears that inverse kinematics seems to attempt to achieve a <a href="http://en.wikipedia.org/wiki/Equation_solving" rel="nofollow">solution</a>  as opposed to reinforcement learning which attempts to <a href="http://en.wikipedia.org/wiki/Optimization" rel="nofollow">optimizes</a> the problem. Have I misunderstood anything?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-369" data-toggle = "popover">
				<p>user name : Lord Loh.</p>
				<p> user reputation : 317</p>
				<p class = "tagcontent" id = "usertaginfo-369">{'None': 2, 'accelerometer': 8, 'inverse-kinematics': 5, 'line-following': 12, 'artificial-intelligence': 12, 'deduced-reckoning': 8, 'reinforcement-learning': 26, 'machine-learning': 17, 'sensors': 8, 'pwm': 9, 'navigation': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-369" class = 'collapse'>
			</div>
				<textarea id = "speech-369" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-369">
					<img id="start_img-369" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-369">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-370"  class = "post">
				<h2>Answer</h2>
			<div id="vote-370" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From what I understand of your question, you'd like to know if inverse kinematics and reinforcement learning are trying to solve the same problem in the particular case of robotic manipulation. Of course both of these techniques can be applied outside of this particular realm, but let's focus on robot manipulation for now.</p>

<p>You're right that inverse kinematics is trying to find a solution, although this can be a family of solutions. You'd like to pose the end effector of your manipulator in a particular position and you have to find out the state of the rest of the arm in order to perform the motions that will achieve your goal.</p>

<p>Reinforcement learning is also trying to find a solution to the problem, and it's trying to optimize its solution with respect to a cost function. Imagine, for example, that there's a minimal set of movements that would get your end effector in the required position (e.g. by attaching a cost to actuating each of the manipulator's joints, you could learn the optimal way of achieving your goal with respect to power consumed).</p>

<p>Instead of considering the techniques to be at odds with each other, you could use inverse kinematics to find the family of solutions to your problem and reinforcement learning to search this space and find an optimal solution with respect to some cost/reward criteria of your choosing.</p>

<p>If you're intent on choosing one technique over the other, by posing the reinforcement learning problem as an optimization that rewards, say, how fast you reach the goal state of the end effector, you could still find a solution. However, there's a chance that you'd like to use some notion of the manipulator's kinematics to inform how you search the space of its movements.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-370" data-toggle = "popover">
				<p>user name : fgb</p>
				<p> user reputation : 374</p>
				<p class = "tagcontent" id = "usertaginfo-370">{'None': 22}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-370" class = 'collapse'>
			</div>
				<textarea id = "speech-370" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-370">
					<img id="start_img-370" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-370">Comment</button>
			<br><div id = "ans-404"  class = "post">
				<h2>Answer</h2>
			<div id="vote-404" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you consider e.g. a robotic arm, the inverse kinematics tell you how to choose the arm's joint angles to move the arm to some position and orientation where you want it to be. </p>

<p>In contrast to determining the forward kinemactics of some mechanism, determining it's <em>inverse kinematics</em> is usually hard and sometimes, there isn't even an analytic solution. Industrial robots, however, are often designed in such a way that they have an analytic solution for the inverse kinematics. This can be achieved by e.g. clever alignment of joint axes. </p>

<p><em>Reinforcement Learning</em>, on the other hand, is a machine learning technique. Like any other machine learning technique or algorithm, it can be used to determine a function which you don't know - given that you choose a good reward function that is related to the problem you want to solve. </p>

<p>So, in a nutshell: you can use Reinforcement Learning to determine the inverse kinematics of a robot (if there is no analytical solution or determining one would be ridiculously hard). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-404" data-toggle = "popover">
				<p>user name : Daniel Eberts</p>
				<p> user reputation : 546</p>
				<p class = "tagcontent" id = "usertaginfo-404">{'None': 32, 'particle-filter': 17, 'localization': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-404">Load Comments</button></br>
			<div id = "commentsection-404" class = 'collapse'>
			<div id = "comment-9292" class = "comment">
				<p>Reading your answer one can have the strong impression that RL is preferable over standard IK: that's not true, definitively. RL yields very slow convergence and produces inaccurate outcomes, while IK relying on nonlinear optimization techniques are fast and robust and used in industrial so as research domains. Then, to compensate for uncertainties in the CAD model of the manipulator used by IK (we do that in research not in industrial settings) we tend to rely on different ML approaches rather than RL (e.g. SVM, GP ...).</p>
			</div>
			</div>
				<textarea id = "speech-404" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-404">
					<img id="start_img-404" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-404">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>