<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are questions about App Review on-topic?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2861" class = "post">
			<h2>Question</h2>
			<div id="vote-2861" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 17</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are questions about App Review on-topic?</h2>
<p>Today I encountered <a href="https://apple.stackexchange.com/questions/251233/apple-rejected-my-app-twice-citing-a-very-grey-area-violation-but-already-hav">this question</a> pertaining to "unfair treatment" by the App Store Review, and whether the OP should "appeal" the decision for his app to be rejected.</p>

<p>Is this kind of question on- or off-topic on this site?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2861" data-toggle = "popover">
				<p>user name : Munesawagi</p>
				<p> user reputation : 1245</p>
				<p class = "tagcontent" id = "usertaginfo-2861">{'site-scope': 2, 'None': 0, 'discussion': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2861">Load Comments</button></br>
			<div id = "commentsection-2861" class = 'collapse'>
			<div id = "comment-6234" class = "comment">
				<p>Great question and good link. The first thing [we need to do is a light edit for generality and get the right tags on the post](http://apple.stackexchange.com/posts/251233/revisions) - iTunes-connect is the service that should be tagged on all those questions.</p>
			</div>
			</div>
				<textarea id = "speech-2861" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2861">
					<img id="start_img-2861" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2861">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2864"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2864" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"Somebody treated me such-and-such, what should I do" is practically always off-topic. OTOH, the linked question can be turned into a "what options do I have if this-and-this fails" question with a small edit which is on-topic usually.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2864" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2864">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2864">Load Comments</button></br>
			<div id = "commentsection-2864" class = 'collapse'>
			<div id = "comment-6231" class = "comment">
				<p>That's what I tried to do with my answer, provide options and direction for both the OP and others who might feel the same.  I hope that was the correct thing to do.</p>
			</div>
			<div id = "comment-6236" class = "comment">
				<p>I liked your answer :-)</p>
			</div>
			</div>
				<textarea id = "speech-2864" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2864">
					<img id="start_img-2864" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2864">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>