<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are there surface texture sensors for integration in circuits?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4897" class = "post">
			<h2>Question</h2>
			<div id="vote-4897" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 228</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are there surface texture sensors for integration in circuits?</h2>
<p>I have a project in mind for a robot which is able to recognize surfaces, and thought about including the following sensors:</p>

<ul>
<li>a temperature sensor</li>
<li>a colour sensor, or a complex of electronic components to determine a colour</li>
<li>and a texture sensor, or, as above, a complex of components to fulfill the purpose</li>
</ul>

<p>Now, I did some research on finding a(preferably small) texture sensor for soldering into an electronic circuit, similar to those little temperature sensors one can buy.
I already thought that "small" would probably turn out to be not small at all before I searched.
But my research has been fruitless.
Not just fruitless like in "I can't find exactly what I want." but fruitless like in "I cannot find anything similar to what I want."...</p>

<p>Most things that turned up either were scientific papers about whole devices, or whole devices for purchase.
Some company even choose "Structure Sensor" as the name of their iPad-compatible 3D scanner, which made the search utterly depressing as every second article I found is about buying some pre-built iPad device.</p>

<p>All I need is the electronic component, nothing else.
So hope that any of you people can spare me some research time and recommend me a company/site/whatever which sells such texture sensors.</p>

<p>(Btw., I do know that surface sensors are probably a bit way more complex than temperature sensors, and my hope for getting what I want is low, but just because I cannot find something, ot does not mean that it doesn't exist.)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4897" data-toggle = "popover">
				<p>user name : Merlin</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-4897">{'servomotor': 1, 'None': 0, 'sensors': 5, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4897" class = 'collapse'>
			</div>
				<textarea id = "speech-4897" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4897">
					<img id="start_img-4897" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4897">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4898"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4898" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Texture sensing is hard.  Can you be more specific on your requirements?  I think texture is typically inferred from dynamics.  For example, holding your finger still on a texture doesn't give you much information.  You have to move your finger around on the surface to start to feel what the texture is like.  You are probably feeling the friction from sheer forces, and vibrations in your finger.</p>

<p>You might want to check out this paper: 
<a href="http://www.mit.edu/~kimo/publications/microgeometry/" rel="nofollow">Microgeometry Capture using an Elastomeric Sensor</a>.  They have a "portable" version which is is an 8 inch long, 3 inch diameter tube.</p>

<p>Some more robot tactile sensors: <a href="http://www.takktile.com/" rel="nofollow">Takktile</a>, <a href="http://www.syntouchllc.com/" rel="nofollow">SynTouch</a>, <a href="http://optoforce.com/" rel="nofollow">OptoForce</a>.  They each use different sensing modalities and will have different characteristics in terms of normal forces, sheer forces, and dynamic range.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4898" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4898">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4898">Load Comments</button></br>
			<div id = "commentsection-4898" class = 'collapse'>
			<div id = "comment-7606" class = "comment">
				<p>I don't have any necessary requirements, at the moment I'll be happy with any information I can get. I was indeed thinking about the sensor sitting at the end of the robots arm, so it can sense over the surface. Size wise, what I have been wishing for before I researched, would be in the range of a 3x1.5x0.5cm , but I am already pretty sure that this won't be possible. Thanks for the links, I'll make sure to read up to them.</p>
			</div>
			<div id = "comment-7618" class = "comment">
				<p>I can highly recommend the Syntouch Biotac. It can reliably distinguish between many types of surface, e.g. glass, metal, wood, leather, cloth, carpet, etc. However, it's *expensive*.</p>
			</div>
			<div id = "comment-7637" class = "comment">
				<p>It indeed is...considering this is just a hobby project, it probably would be overkill...even though I must admit it would be an interesting as hell overkill...</p>
			</div>
			</div>
				<textarea id = "speech-4898" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4898">
					<img id="start_img-4898" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4898">Comment</button>
			<br><div id = "ans-4919"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4919" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might try a simple microphone. They're available in tiny surface mount packages:</p>

<p><img src="https://i.stack.imgur.com/gSIkD.jpg" alt="SMD microphone"></p>

<p>You'll need to rub it across the surface, and you should be able to recognise different surface textures by the sound they make.</p>

<p><img src="https://i.stack.imgur.com/Pz6zC.jpg" alt="Surface sounds"></p>

<p>Do a <a href="http://en.wikipedia.org/wiki/Fourier_transform" rel="nofollow noreferrer">Fourier transform</a> on it, and you should be able to tell something about the scale of the surface textures.</p>

<p>You might not want to rub the microphone itself on the surface. Rather rub something else, and listen to the sound. Try dropping a blob of silicone rubber over the hole, and let it set. When the silicone rubs on a surface, the vibrations should transmit fairly efficiently into the microphone.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4919" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4919">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4919">Load Comments</button></br>
			<div id = "commentsection-4919" class = 'collapse'>
			<div id = "comment-7620" class = "comment">
				<p>+1 for Fourier transform of a microphone signal.  That should be a great way to distinguish textures.</p>
			</div>
			<div id = "comment-7638" class = "comment">
				<p>The problem I see there is, that e.g. in two equally rough pieces of plastic the...dispersion(?) of highs and lows would still be different between both, so different sound patterns would be created...I think? Still, I guess this could be solved by moving the microphone over a bigger area, to see how much of the sound pattern equals the ones in the database... But the same problem would probably exist when using the mouse sensor...</p>
			</div>
			</div>
				<textarea id = "speech-4919" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4919">
					<img id="start_img-4919" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4919">Comment</button>
			<br><div id = "ans-4927"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4927" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a complete shot in the dark, but what about the sensor from an optical mouse? I mean--they are always coupled with a processor that just gives you displacement in the x and y directions, but if you interface directly with the sensor, it's essentially a low resolution camera that focuses immediately in front of it.</p>

<p><strong>Edit:</strong> This link might help: <a href="http://spritesmods.com/?art=mouseeye" rel="nofollow">http://spritesmods.com/?art=mouseeye</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4927" data-toggle = "popover">
				<p>user name : krs013</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-4927">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4927">Load Comments</button></br>
			<div id = "commentsection-4927" class = 'collapse'>
			<div id = "comment-7636" class = "comment">
				<p>That probably wouldn't be that accurate as the camera is only laid out for making the pictures just clear enough to notice movement... But it might be possible to make a database of clearly differing common surfaces(wood, glass, fabric, rough plastic) and make the computer compare the current pictures to the ones in its database...that seems like an interesting approach for the start, I'll give it further thought...</p>
			</div>
			<div id = "comment-7642" class = "comment">
				<p>I added a link to a project where Sprite_tm does essentially what I mentioned. I don't know if all optical mouse sensors use CCDs like the one mentioned, but some do!</p>
			</div>
			<div id = "comment-7647" class = "comment">
				<p>Pretty interesting, I think I'll try that out some time, thank you! :)</p>
			</div>
			</div>
				<textarea id = "speech-4927" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4927">
					<img id="start_img-4927" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4927">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>