<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are Artificial Intelligence and Robotics Different?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2264" class = "post">
			<h2>Question</h2>
			<div id="vote-2264" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 10751</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are Artificial Intelligence and Robotics Different?</h2>
<p>I need help in differentiating between AI and Robotics. Are AI and Robotics two different fields or is robotics a subject in AI?</p>

<p>I want to pursue a career in AI and Robotics. So I need your valuable suggestion. I searched the web and also some universities that I want to apply and I cannot find any such thing that I am searching for.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2264" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-2264">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2264">Load Comments</button></br>
			<div id = "commentsection-2264" class = 'collapse'>
			<div id = "comment-4391" class = "comment">
				<p>Not all robots require AI and not all AI are implemented in robots. Robotics regards the design of robots, which does not necessarily require AI. A robot can be an automaton that performs a task using preprogrammed logic, such as a robotic vacuum cleaner that cleans whilst detecting obstacles. AI is a different matter, it regards artificial intelligence - a computer program capable of 'learning'. Whilst both are often highly linked they are separate topics.</p>
			</div>
			<div id = "comment-4393" class = "comment">
				<p>Unfortunately I can't suggest any good universities for it, so technically it's only half an answer.</p>
			</div>
			<div id = "comment-4394" class = "comment">
				<p>This question appears to be off-topic because it should be directed to cs.stackexchange.com</p>
			</div>
			<div id = "comment-4395" class = "comment">
				<p>I would argue that AI is purely software, teaching a piece of complex circuitry _to reason_, whereas robotics is a inter-disciplinary field that has components of mechatronics (that is mechanical and electronics engineering) as well as some piece of software to govern that piece of hardware. Essentially robots don't need to reason (consider the robotic arms in an assembly line), they merely need to do execute the commands. Although it is an attractive (common in sci-fi) concept to develop reasoning robots.</p>
			</div>
			<div id = "comment-4396" class = "comment">
				<p>Also the main question here has nothing to do with academia</p>
			</div>
			<div id = "comment-16760" class = "comment">
				<p>Without the *university recommendation* aspect, this looks like a valid question.</p>
			</div>
			</div>
				<textarea id = "speech-2264" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2264">
					<img id="start_img-2264" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2264">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2265"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2265" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>AI means different things to different people and encapsulates a large number of sub-domains: vision, natural language processing, knowledge representation and engineering, machine learning, etc.  Many, if not all, areas of AI have applications to robotics; however, doing AI research does not mean that you directly, or in any way, work with robots.  Working with robots does not necessarily mean that you do artificial intelligence research, either.</p>

<p>Off the top of my head, here are a few good programs (my opinion, which was based off of my research and interests): <a href="http://www.robotics.gatech.edu/">Georgia Tech</a>, <a href="http://www.eecs.mit.edu/">MIT</a>, <a href="http://www.ri.cmu.edu/">CMU</a>, <a href="http://ai.stanford.edu/">Stanford</a>, <a href="http://cs.brown.edu/research/areas.html">Brown</a>, <a href="https://www.lcsr.jhu.edu/Main_Page">Johns Hopkins</a>, etc. </p>

<p><strong>NB:</strong><br> It may be different for a master's degree, but if you're looking to do research, you shouldn't be judging schools based off the general reputation of a particular sector of the CS department.  Instead, you should be looking for specific professors with whom you would like to conduct research.  Being at a well known school is wonderful, but if the professors aren't doing what you're interested in, then you're doing yourself a disservice.   </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2265" data-toggle = "popover">
				<p>user name : Steve P.</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-2265">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2265" class = 'collapse'>
			</div>
				<textarea id = "speech-2265" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2265">
					<img id="start_img-2265" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2265">Comment</button>
			<br><div id = "ans-2266"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2266" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want to understand the difference between robotics vs AI, you can roughly think about it as creatures vs brain (more precisely, nerve system).</p>

<p>First off, not all creatures have a brain. They may have nerves that allow them to act reflexively. They are equivalent to robots with no AI (note: definition of AI is not <em>that</em> precise).</p>

<p>There are some creatures with a brain, but a brain that is quite dumb (in the sense that it can do complex tasks, but it can't learn new ways for it). Those are robots with more complex algorithms, but still no learning, which some consider as no AI and some consider as a specific kind of AI.</p>

<p>The interesting ones are the ones that have brains they use to learn (e.g. humans, cats, dolphins, elephants etc). They are like robots with AI.</p>

<p>In summary, robotics is a whole set of sciences; mathematics, physics, mechanics, electronics, materials, control, geometry, artificial intelligence and many others. However, each of those sciences by itself goes beyond robotics.</p>

<p>If you go after learning AI, you <em>may</em> end up applying it in robotics or not, depending on your own decisions later. If you go after learning robotics, you <em>may</em> end up working on its AI or not, depending on your own decisions later.</p>

<p>My recommendation would therefore be to think of possibilities. For example, if you are interested in AI in robotics now, what would happen if you lose interest in it in the future? If you are generally interested in algorithmic software, choose AI. If you change your mind about robotics, you still have something to focus on. If you are particularly interested in building real things, go with robotics. If you change your mind about AI later, you can still work on robots.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2266" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-2266">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2266" class = 'collapse'>
			</div>
				<textarea id = "speech-2266" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2266">
					<img id="start_img-2266" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2266">Comment</button>
			<br><div id = "ans-2267"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2267" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>They are different.  They are often used together, but the two are not specifically related.</p>

<p>Artificial Intelligence is a branch of computer science that focuses on solving problems that are traditionally difficult for computers -- tasks that become exponentially or <a href="http://en.wikipedia.org/wiki/Factorial">factorially</a> more complex for each incremental increase in the input.  An example of this would be the <a href="https://xkcd.com/173/">XKCD movie seating problem</a>, which has 120 options for 5 people but 2,432,902,008,176,640,000 options for 20 people.  Another example would be processing the many thousands of points you'd see in a <a href="http://en.wikipedia.org/wiki/Lidar">LiDAR</a> image (like <a href="http://www.neonnotes.org/wp-content/uploads/2012/05/manhattan-lidar092701.jpg">this one</a>) in order to build a plan for navigating through an area.  The field of Artificial Intelligence attempts to find decent shortcuts to getting acceptable solutions to these types of problems; it would take far too long to evaluate each possible solution separately then pick the best one.</p>

<p>Robotic systems are simply mechanical systems that can measure and react to their environment in the pursuit of some goal.  This could be as simple as <a href="http://www.youtube.com/watch?v=Hm3p3yFuS6w">balancing an inverted pendulum</a>, which requires no AI.  Alternatively, it could be as complicated as <a href="http://www.youtube.com/watch?v=gy5g33S0Gzo">recognizing folding towels</a>, which requires AI to sort out things like "which objects are towels", "how do I pick them up", "how do I move in order to fold them", etc.</p>

<p>In short, AI is one of many tools that a robotics engineer might integrate into a robotic system.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2267" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2267">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2267" class = 'collapse'>
			</div>
				<textarea id = "speech-2267" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2267">
					<img id="start_img-2267" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2267">Comment</button>
			<br><div id = "ans-2332"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2332" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Both, robotics and artificial intelligence, are strongly overlapping fields. But none of them is the subset of the other.</p>

<p>For example, robotics cover hardware design, which normally* does not involve artificial intelligence. On the other hand, artificial intelligence covers a lot of big data fields that aren't connected to robotics, like predicting weather or stock markets. Shared fields of both disciplines are computer vision, natural language processing, path finding, behavior planning, decision making.</p>

<p>I am interested in a robotics career, too. The advice I got many times is to dive into artificial intelligence as it is the biggest challenge in robotics today. In most robotic projects, mechanical or electronic design is not the border, but software is.</p>

<p>Human kind already solved most hardware problems. Research is still needed for optimizations but in artificial intelligence, there might happen a breakthrough. Even though such a breakthrough is controversial, it still is the more evolving field.</p>

<p><sub>* Using artificial intelligence in hardware design would be interesting though. I don't know if someone already did that.</sub></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2332" data-toggle = "popover">
				<p>user name : danijar</p>
				<p> user reputation : 196</p>
				<p class = "tagcontent" id = "usertaginfo-2332">{'wheel': 2, 'brushless-motor': 11, 'None': 1, 'power': 3, 'microcontroller': 3, 'wheeled-robot': 2, 'motion': 2, 'control': 3, 'chassis': 2, 'cnc': 2, 'motor': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2332">Load Comments</button></br>
			<div id = "commentsection-2332" class = 'collapse'>
			<div id = "comment-16689" class = "comment">
				<p>There's been plenty of research using what is currently called 'AI' or 'machine learning' but used to be called 'optimisation techniques' in platform design, e.g. http://people.nas.nasa.gov/~pulliam/mypapers/AIAA-2001-2473.pdf  but then you have to decide whether a UAV is a robot or not. There also has been some use of 'classical AI' or 'expert systems' and 'inference engines' in system engineering.</p>
			</div>
			</div>
				<textarea id = "speech-2332" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2332">
					<img id="start_img-2332" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2332">Comment</button>
			<br><div id = "ans-2375"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2375" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Use of a classification system:</strong></p>

<ul>
<li>For input the robot would gauge, sense/sensor, and trip through methodology. (Standard logic studies).</li>
<li>For input the AI would gauge, sense/sensor, and apply logical methodology. (Advanced robotics and high level programming). </li>
<li>For input the human would gauge, sense, and react through methodology. (Awareness studies).</li>
</ul>

<p><strong>Continue</strong>
(For output... Continue).
(For process... Continue).
(For memory... Continue).
(For feedback... Continue).
(For control... Continue).</p>

<hr>

<p><em>Living examples:</em>
Ants although having life would generally trip through methodology too - a little robotic.
Animals having intelligence would generally apply a set of traits - slightly artificial. The baboon with the hand stuck in the tree when the farmer comes with the gun is a logical exploitation showing incorrect informers being used to master the required reaction. Lower IQ humans can display similar difficulties. At low points in a day you may notice similar difficulties emerging. </p>

<p><em>About Results</em>
Humans are not all-powerful, and so could equally be outmaneuvered by lesser or higher complexity. The results are therefore organic when a variety of complexities are instantiated into a progression of activity. e.g. Ant's plot out strange pathways!</p>

<p><em>Extensible Usage of the Academic/Semantic Paradigm</em>
A robotic construct could be extended into a bigger set of activities, but doesn't automatically prove itself advanced enough to be considered any kind of intelligence. It is (a topic) noted for large organizational studies, and in studies for comparisons to insect organizations. Simple exploitation not being enough to satisfy the development of higher order intelligence. </p>

<p>*Not considered in this answer: is the evolved design. As studied in plants and art (for example). </p>

<hr>

<p><strong>Research</strong></p>

<p>Questioning intelligence: <a href="http://media.johnwiley.com.au/product_data/excerpt/40/11183378/1118337840-238.pdf" rel="nofollow">http://media.johnwiley.com.au/product_data/excerpt/40/11183378/1118337840-238.pdf</a></p>

<p>Examples of complexity defeated by lower order intelligence:
...hal.archives-ouvertes.fr/hal-00917542/</p>

<p>Studying evolved performance in limited individuals:
.../trends/neurosciences//retrieve/pii/S0166223613000039?cc=y </p>

<p>Pretty much find anything by searching: "behavior intelligence + {keyword/specialty}":
<a href="http://scholar.google.com/scholar?q=behavior+intelligence+robot&amp;btnG=&amp;hl=en&amp;as_sdt=0%2C5&amp;as_ylo=2013" rel="nofollow">http://scholar.google.com/scholar?q=behavior+intelligence+robot&amp;btnG=&amp;hl=en&amp;as_sdt=0%2C5&amp;as_ylo=2013</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2375" data-toggle = "popover">
				<p>user name : Brett Johnston</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-2375">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2375" class = 'collapse'>
			</div>
				<textarea id = "speech-2375" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2375">
					<img id="start_img-2375" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2375">Comment</button>
			<br><div id = "ans-2431"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2431" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A Basic Robot Model
<img src="https://i.stack.imgur.com/hdBBg.png" alt=""></p>

<p><strong>Perception:</strong></p>

<p>gathers input Data from Environment using Sensors(Like Laser Scanners and Cameras).</p>

<p><strong>Plan:</strong></p>

<p>This is the part where <strong>AI</strong> comes into play( as the robot with respect to the input coming from sensors makes intelligent decesions like: where in the world he is called <strong>Localization</strong> or where to go in order  to find a goal etc.</p>

<p><strong>Action:</strong></p>

<p>Action is the output means the commands given to the Actuators(like motors and servos).This comes under the field of control theory &amp; <strong>Control Systems</strong> .Use of intensive mathematics Linear Algebra.and control systems also involve perception (both External and Internal Sensory)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2431" data-toggle = "popover">
				<p>user name : Neo</p>
				<p> user reputation : 119</p>
				<p class = "tagcontent" id = "usertaginfo-2431">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2431" class = 'collapse'>
			</div>
				<textarea id = "speech-2431" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2431">
					<img id="start_img-2431" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2431">Comment</button>
			<br><div id = "ans-9467"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9467" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Background:</strong></p>

<p>Robotics is 4 things essentially - Design (Dn), Mechanical Engineering (ME), Electrical/Electronic Engineering (EEE) and Computer Science (CS). Now depending on which university you choose the composition of these four subjects will vary drastically. I am Robotics graduate from the University of the West of England where the focus is entirely on EEE + CS. Now because there is only so much that can be covered in 3 years, the Computer Science component is made up of AI, Software Design Principles and Programming (starts with C, then MATLAB and for AI any PL of interest).</p>

<p><strong>Artificial Intelligence (AI):</strong></p>

<p>When it comes to AI, the subjects covered include (not exhaustive),</p>

<ul>
<li>Knowledge Representation, Problems, Search Spaces and Techniques.</li>
<li>AI Paradigms in Robotics (Behavioral, Reactive, Deliberative etc.)</li>
<li>Advanced AI - Machine Learning, Genetic Algorithms, Optimization Techniques (Swarms, Particles etc.), Fuzzy Logic, Neural Networks, Adaptive Neuro Fuzzy Inference Systems etc.</li>
<li>Computer Vision.</li>
</ul>

<p>You cannot have Robotics separate from AI. To truly say that a course is Robotics it needs to have the four elements in some composition I mentioned at the start else it is everything but Robotics.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9467" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-9467">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9467" class = 'collapse'>
			</div>
				<textarea id = "speech-9467" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9467">
					<img id="start_img-9467" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9467">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>