<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Are there any Lithium Ion battery monitors designed for hobbyists (quadcopters)?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8786" class = "post">
			<h2>Question</h2>
			<div id="vote-8786" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 100</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Are there any Lithium Ion battery monitors designed for hobbyists (quadcopters)?</h2>
<p>I have a friend who is getting into quadcopters and being the good techie buddy, I'm trying to find the right technology for battery monitoring so his expensive machine does not fall out of the sky unexpectedly. </p>

<p>So far the only technology for hobbyists that I am seeing is voltage monitors, which aren't really useful for this battery chemistry. With the flat voltage curve LiIon has I'd expect a voltage monitor to falsely report a low battery when you draw extra current and indeed I'm seeing exactly this when my buddy does fast maneuvers mid flight.</p>

<p>In my day job we use charge counting battery monitors (BMS) for this battery chemistry. Usually custom designed for the battery pack (just like for laptop batteries, etc). Sometimes built into the <a href="http://www.bren-tronics.com/batteries/rechargeable/bt-70791ck.html" rel="nofollow">battery pack</a>, or sold by <a href="http://www.batteryspace.com/Smart-Battery-Systems-SBS-with-SmBus-V1.1-support-for-14.8V-6.4Ah/10Ah.aspx" rel="nofollow">cell suppliers</a>.</p>

<p>Have I missed a product for electric aircraft? Are hobbyists in the battery dark ages?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8786" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8786">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8786">Load Comments</button></br>
			<div id = "commentsection-8786" class = 'collapse'>
			<div id = "comment-14404" class = "comment">
				<p>It looks like 3D robotics has a [smart battery](http://copter.ardupilot.com/wiki/smart-battery/) that might be using proper tech.</p>
			</div>
			<div id = "comment-14405" class = "comment">
				<p>Modern batteries used in smartphones have a builtin Battery Management System (BMS). If you have access to an Android device, open a terminal and check the values in `/sys/class/power_supply/*battery/*`.</p>
			</div>
			<div id = "comment-14406" class = "comment">
				<p>@ott-- Are you saying that hobbyists are wiring their android phones to quadcopters somehow?</p>
			</div>
			<div id = "comment-14411" class = "comment">
				<p>The idea is to use a Li-Ion battery with a builtin BMS. In the Android source you could check how to extract the values.</p>
			</div>
			<div id = "comment-14414" class = "comment">
				<p>@ott-- Ah, I get you now. Use the System Management Bus. Yes, I do this with a research UGV I designed using the 2590 packs I linked above. At $350 a pack they are a bit pricy for a hobby and I haven't seen any indication that hobbyists are using them. The 3D robotics smart battery linked above is the same. I have not checked if DJI's smart battery (or the 3D robotics one) use a security protocol....</p>
			</div>
			</div>
				<textarea id = "speech-8786" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8786">
					<img id="start_img-8786" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8786">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8788"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8788" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Texas Instruments makes a line of "battery fuel gage" IC's. I don't know that they come in a standalone solution, but it shouldn't be too big of a deal to poll it with the microcontroller that runs the flight controls. </p>

<p>Read more <a href="http://www.ti.com/product/BQ27742-G1" rel="nofollow">here</a>, but highlights include:</p>

<blockquote>
  <p>The fuel gauge provides information such as remaining battery capacity (mAh), state-of-charge (%), runtime to empty (minutes), voltage (mV), current (mA), and temperature ( C), as well as recording vital parameters throughout the lifetime of the battery. The device also supports interrupts to the host to indicate detection of a variety of important battery conditions to the system.</p>
</blockquote>

<p>I think the link I posted is to one particular chip, but there's a family of them. The one you (your friend) will need specifically depends on capacity, current, etc. Hope this helps! </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8788" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8788">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8788">Load Comments</button></br>
			<div id = "commentsection-8788" class = 'collapse'>
			<div id = "comment-14403" class = "comment">
				<p>Yup, I know the ti chipsets pretty well. this is what we use professionally. But what do hobbyists do?</p>
			</div>
			<div id = "comment-14407" class = "comment">
				<p>@hauptmech - I'm not sure what more you're looking for. I would say that a "hobbyist" either uses an off-the-shelf aircraft and gets whatever comes with it (undervoltage low battery warning like your friend has) or they build their own circuit with chips like the ones I linked. Otherwise, how would you update that you replaced a battery, or update parameters like chemistry, capacity, nominal voltage, etc.? To answer your question exactly, hobbyists wait for the low battery indicator to alarm.</p>
			</div>
			<div id = "comment-14415" class = "comment">
				<p>What seems to be available are [raw cells](http://www.hobbyking.com/hobbyking/store/__1230__85__Batteries_Accessories-Battery_Voltage_Indicators.html) (which I knew) and [voltage monitors](http://www.hobbyking.com/hobbyking/store/__1230__85__Batteries_Accessories-Battery_Voltage_Indicators.html) which are not very useful when there is power fluctuation.  I'm not seeing any indication that boards for hobbyists using a battery fuel gauge like you linked exist. No generic smart batteries. No raw PCB's. (The BMS PCB stays with the battery, not the main system, re updating parameters).</p>
			</div>
			</div>
				<textarea id = "speech-8788" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8788">
					<img id="start_img-8788" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8788">Comment</button>
			<br><div id = "ans-8794"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8794" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Proper Lithium Ion battery fuel gauging and management is not really used in the hobby world. System specific batteries (3DR Solo, DJI Phantom) exist but generic components for people building their systems from components do not.</p>

<p>Probably not worth the cost for mini-quad racing type stuff. Possibly a business opportunity for prosumer systems.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8794" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8794">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8794">Load Comments</button></br>
			<div id = "commentsection-8794" class = 'collapse'>
			<div id = "comment-14499" class = "comment">
				<p>If you think this is the best answer, you can accept it as correct.</p>
			</div>
			</div>
				<textarea id = "speech-8794" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8794">
					<img id="start_img-8794" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8794">Comment</button>
			<br><div id = "ans-8819"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8819" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Depending on the cost of your aircraft and the installed autopilot, there may be an approach, though, as @hauptmech mentions, industry doesn't have come down to a feasible solution, regarding the remaining charge in a Li-Ion battery.</p>

<p>For example, if your aircraft uses the Pixhawk or APM autopilot, they include a <a href="https://store.3drobotics.com/products/apm-power-module-with-xt60-connectors" rel="nofollow">battery module</a> which has a current sensor.</p>

<p>If you calibrate the current sensor adequately, you may use the reported mAh consumed to estimate the remaining battery life. Keep in mind, though, that as the battery ages, the total mAh it can store are reduced.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8819" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8819">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8819" class = 'collapse'>
			</div>
				<textarea id = "speech-8819" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8819">
					<img id="start_img-8819" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8819">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>