<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Area coverage of autonomous underwater robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10822" class = "post">
			<h2>Question</h2>
			<div id="vote-10822" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 120</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Area coverage of autonomous underwater robot</h2>
<p>I'm currently working on an autonomous underwater cleaning robot and would like your input on some navigation algorithms</p>

<h3>Problem:</h3>

<p>Wash the inside of big, open and filled tank, e.g. water storage tank (Figure 1), with an autonomous robot. The inside of the tank is divided in sections, such that the robot has a limited washing area. The washing are can be square, rectangular, parallelogram or other shapes. The inside of the tank may have unknown obstacles, e.g. inlets and outlets.
Since the robot will function under water, there are a few limitations when it comes to sensors.</p>

<h3>Available sensors:</h3>

<ul>
<li>Wheel encoders</li>
<li>Distance measurements, e.g. ultrasonic, sonar, for obstacle avoidance</li>
<li>Boundary detection</li>
<li>Bumper with mechanical switch for collisions</li>
<li>Pressure sensor</li>
<li>Camera. Not necessary clean water so low visibility is an issue, i.e. difficult/impossible with visual odometry</li>
</ul>

<h3>Non-available sensors:</h3>

<ul>
<li>INS</li>
<li>GPS</li>
</ul>

<h3>Current solutions:</h3>

<ul>
<li>Random walk within boundaries (Figure 2). Either driving in straight lines (Figure 2), spirals (Figure 7) or a combination of lines and spirals (Figure 6)</li>
<li>Parallel swaths with 30% overlap (Figure 3). Requires cm precision on position estimate to guarantee coverage. Figure 4 shows an identical simulation but with one wheel radius 0.5mm larger than the other. This shows that it is not sufficient to only rely on wheel encoders for positioning as it will drift. With perfect positioning the parallel swath algorithm is 2x more efficient than random walk</li>
</ul>

<p>One possibility is to add an acoustic navigation system, but it would be too expensive.</p>

<p>This problem is similar to the lawn mower and vacuuming robots. However, it seems like most of the products use random walk or a similar approach. Does anyone know a more efficient algorithm to cover the area based on the information provided?</p>

<p>For all the simulations, the red line represents the robot s movement and the black is washed area. </p>

<p>Looking at other similar questions I couldn't find the answers I've been looking for:</p>

<ul>
<li><a href="https://robotics.stackexchange.com/questions/7564/how-to-localise-a-underwater-robot">How to localise a underwater robot?</a>  </li>
<li><a href="https://robotics.stackexchange.com/questions/8186/robot-wire-follower-how-to-position-on-wire/8193#8193">Robot wire follower + how to position on wire</a>  </li>
<li><a href="https://robotics.stackexchange.com/questions/1349/working-of-autonomous-lawn-moweralm-in-an-unbounded-area-without-a-perimeter-w/1384#1384">Working of Autonomous Lawn mower(ALM) in an unbounded area without a perimeter wire</a>  </li>
<li><a href="https://robotics.stackexchange.com/questions/628/what-algorithm-should-i-implement-to-program-a-room-cleaning-robot/630#630">What algorithm should I implement to program a room cleaning robot?</a>  </li>
</ul>

<h3>Figure numbering:</h3>

<p>1 2<br>
3 4<br>
5 6<br>
7</p>

<p><a href="https://i.stack.imgur.com/3ryY9.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/3ryY9.jpg" alt="Figures 1-7"></a></p>

<p>References:</p>

<ul>
<li><a href="https://estudogeral.sib.uc.pt/bitstream/10316/27429/1/OmniClimbers.pdf" rel="nofollow noreferrer">OmniClimbers: Omni-directional magnetic wheeled climbing robots
for inspection of ferromagnetic structures</a></li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-10822" data-toggle = "popover">
				<p>user name : user2594166</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-10822">{'mobile-robot': 3, 'None': 0, 'coverage': 3, 'algorithm': 3, 'underwater': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10822">Load Comments</button></br>
			<div id = "commentsection-10822" class = 'collapse'>
			<div id = "comment-19492" class = "comment">
				<p>Do you have a single question? It seems a very open-ended problem at the moment. Also, it's not entirely clear what the wheels are for - is the machine denser than water so it sits on the bottom? If so does it need to clean the tank sides?</p>
			</div>
			<div id = "comment-19493" class = "comment">
				<p>The robot will use magnetic wheels, so that it is also possible to clean the sides, e.g. [this kind of robot](https://estudogeral.sib.uc.pt/bitstream/10316/27429/1/OmniClimbers.pdf).  
My main objective is to find an coverage algorithm that is as efficient as possible with the limited sensor alternatives as mentioned in the post (at least more efficient than random walk)</p>
			</div>
			<div id = "comment-19520" class = "comment">
				<p>Welcome to *Robotics* user2594166. On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			</div>
				<textarea id = "speech-10822" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10822">
					<img id="start_img-10822" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10822">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10823"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10823" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you can't localize, you can't do anything that requires localizing.</p>

<p>If you can't use wheel encoders accurately enough to do a rectangular fill (parallel lines) then, by the same reasoning, you can't use them to do any other shaped fill pattern either (concentric circles, spirals, etc.).</p>

<p>I only see one real solution here (that's not random walk), but its success depends on the physical construction of your vehicle and the sensors you're using. </p>

<p>Use the pressure sensor to indicate depth, then build a PID controller around the pressure sensor to steer the vehicle. Your x/y coordinates of the "rectangular" path you're trying to traverse aren't actually x/y coordinates. You're in a cylinder; they're cylindrical coordinates. Really you have h/$\theta$ coordinates. </p>

<p>You're still left with the problem that you can't localize, so you have no absolute $\theta$ coordinate, so you'll never be able to guarantee any coverage in a particular $\theta$ range. </p>

<p>What I would suggest you consider instead of rectangular regions, if you're attempting to make a "cleaning crew" that will work cooperatively to clean the whole structure, is to use cylindrical regions. </p>

<p>So, let's say you have four robots. You could have each robot clean the entire height (0 to h) and a quarter of the circumference (0 to $\pi$/2, etc.). But you <em>can't</em> do this, because there are (presumably) no features by which you could localize in the tank. Every $d\theta$ looks like every other $d\theta$, so you can't assign <em>any</em> robot a particular range in the $\theta$ dimension.</p>

<p>What I'm suggesting you do instead is to have each robot clean the entire <em>circumference</em> (0 to 2$\pi$), then segment by <em>height</em>. Each robot has a pressure sensor and <em>can</em> tell that they are in their correct height band. </p>

<p>Now all you need to do is know that your wheel encoders are accurate <em>enough</em> to detect that you've traversed the circumference plus some overlap tolerance. </p>

<p>This solution requires your ability to resolve your depth accurately. How accurate? I would say you should be at least half the width of the cleaning instrument. If your brush is a foot wide, then you should be able to determine depth accurate to +/- 6 inches. This ensures you're still cleaning in the desired band if you go off-target. This is the <em>minimum</em> resolution; ideally you'll get something much better. </p>

<p>You'll probably want to overlap by (brushWidth - depthAccuracy) to ensure complete coverage where you went off-track during a normal sweep. So, again, if your band is (brushWidth = 1 foot), and you go off-track by -0.5 feet, then the upper +0.5 foot of the band was not cleaned in that segment. Therefore you'd want to overlap (1 foot - 0.5 foot) = 0.5 feet to ensure the whole band was cleaned. </p>

<p>So, your algorithm flow would look something like:</p>

<pre><code>desiredHeight = 0;
finishHeight = h/4;

brushWidth = 1; % Foot
depthAccuracy = 0.5 % Feet

speed = 1; % Percent
circumferenceOverlap = 1.1;

while (desiredHeight &lt;= finishHeight)
    while (deadReckoning &lt; circumference*circumferenceOverlap)
        actualHeight = PressureSensor();
        steerDifferential = PID(desiredHeight-actualHeight);
        LeftWheel.Speed(speed - steerDifferential);
        RightWheel.Speed(speed + steerDifferential);
        deadReckoning = deadReckoning + (LeftWheel.Distance() + RightWheel.Distance())/2;
    end
    deadReckoning = 0;
    desiredHeight = desiredHeight + brushWidth - depthAccuracy;
end
</code></pre>

<p>So, briefly again, just keep a running count of how far you've traveled with the wheel encoders. Once you've gone a full circumference plus some tolerance, then increment the height and clean another circumference. This solution leverages the fact that the tank is a cylinder, and that (start = end) on the $\theta$ dimension. </p>

<p>Now, if there are sparse obstacles that maybe you couldn't use to localize everywhere (couldn't see for example), you can setup an avoidance subroutine to go around it. But this should clean the entire tank efficiently. You'll want to tune the PID controller to keep the vehicle on track, but that performance will again be determined by the resolution on the depth sensor. </p>

<p>A word of caution: the pressure sensor corresponds to a <strong>depth</strong>, as in below the <em>water line</em>, not a <strong>height</strong>. You should be able to detect the surface of the water by an ultrasound reflection at the air/water interface, and likewise should be able to detect the bottom of the tank by the reflection at the water/tank interface. You should take this into account if you're planning on cleaning the <em>entire</em> tank and not just the <em>submerged</em> portion of the tank. </p>

<p>Also, any flow in the tank will affect pressure readings, which will cause false depth measurements.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10823" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10823">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10823">Load Comments</button></br>
			<div id = "commentsection-10823" class = 'collapse'>
			<div id = "comment-19564" class = "comment">
				<p>Thank you for your answer! You successfully described the many thoughts I have on this project :) I really like your solution, but in this case the level of fluid varies, so as you pointed at the flow will affect the pressure readings and cause false depth measurement. In addition, the tank has not necessary straight sides, so in some cases it would not be possible to measure the distance to the bottom of the tank or water line. The plan is to attach relevant sensors to a prototype and manually drive the robot to collect data. Then post-process the data to see which sensor is applicable.</p>
			</div>
			<div id = "comment-19565" class = "comment">
				<p>@user2594166 - Well, I would just point out that the absolute **height** doesn't matter *too* much. Say you have your system designed for four robots, each cleaning a swath (h/4) tall. Now assume the cylinder is only half full. The "top" robot is looking to clean from depth (0) to depth (-h/4). This region actually exists, but it's not (h) to (3/4 h), it's (1/2 h) to (1/4 h). But the robot doesn't know how full the cylinder is, so it starts cleaning that surface, 0.25-0.5h. Similarly, the second robot cleans the (1/4 h) to (0) height band, because that region also exists.</p>
			</div>
			<div id = "comment-19566" class = "comment">
				<p>Robots three and four cannot get deep enough to clean their band. If you had an ultrasonic sensor that detects the "floor" of the cylinder, then you could just have them stop looking once they got so deep that they found the floor. At that point, robots 3 and 4 stop searching and thus just become obstacles for robot 2 to drive around. Now also, because they are at the bottom, as the water tank fills, at some point robot 3 will detect that it's at the depth associated with its assigned band and can auto-resume cleaning. Likewise again for robot 4.</p>
			</div>
			<div id = "comment-19567" class = "comment">
				<p>Essentially, the optimum use of the robots would be to have each robot be assigned to a quarter of the **depth** band, not the height band, but if you can't determine on-the-fly how deep the water is, then an easy routine would be to have each robot assigned to a depth range *based on the height*, and have the robots sequentially go to a "sleep" mode when they find bottom and still are unable to get to their assigned depth. As the tank fills, the sensed depth increases and the robots "wake" again and resume cleaning.</p>
			</div>
			</div>
				<textarea id = "speech-10823" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10823">
					<img id="start_img-10823" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10823">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>