<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Arm to disassemble and assemble notebook at home?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7297" class = "post">
			<h2>Question</h2>
			<div id="vote-7297" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 139</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Arm to disassemble and assemble notebook at home?</h2>
<p>Suppose I have perfect AI to control robotic arm. </p>

<p>What characteristics should it fulfill to be able to take such common tools as screwdriver and linesman's and disassemble and then assemble conventional notebook computer?</p>

<p>Are there such models available?</p>

<p>Is seems to me, that such arms as OWI-535 are only toys, i.e. they can just relocate lightweight objects and that's all. Am I right?</p>

<p><strong>UPDATE</strong></p>

<p>Also suppose that my AI can look at assembly area with multiple HD cameras and can perfectly "understand" what is sees.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7297" data-toggle = "popover">
				<p>user name : Dims</p>
				<p> user reputation : 110</p>
				<p class = "tagcontent" id = "usertaginfo-7297">{'actuator': 0, 'None': 0, 'motor': 0, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7297">Load Comments</button></br>
			<div id = "commentsection-7297" class = 'collapse'>
			<div id = "comment-10376" class = "comment">
				<p>I'm not sure what you're asking here.  Are you just looking for a robot arm that would be capable of disassembling a notebook?  If so, this may not be the proper forum for that sort of question.</p>
			</div>
			<div id = "comment-10385" class = "comment">
				<p>Using normal hand tools with a robot is an interesting subject - there have been papers in the past on categorising the various possible human hand grips and so on.  Even using a screwdriver needs several fingers to control the tool and to hold the screw.  Something may be possible with current industrial or research arms (at least two would be needed), but the OWI- arm is a very low-spec device with not enough force/torque to handle a simple tool (I have one).</p>
			</div>
			<div id = "comment-10390" class = "comment">
				<p>@Andy, that is a good answer, please answer questions in the answer form instead of in a comment.</p>
			</div>
			</div>
				<textarea id = "speech-7297" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7297">
					<img id="start_img-7297" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7297">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7624"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7624" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, the <a href="http://www.owirobots.com/store/index.php" rel="nofollow">OWI Robot arm</a> is just a toy and doesn't have nearly enough accuracy, repeatability, sensor feedback, etc. to be able to do any sort of "real" assembly task.  I'm sure you are aware of industrial arm like Kuka, ABB, etc.  However, these arms are not suited to fine assembly either.  A new class of robot arm is becoming more popular, one that is "human safe" and designed for assembly tasks with some human involvement.  These are things like <a href="http://www.universal-robots.com/en/products/" rel="nofollow">Universal Robotics</a>, <a href="http://www.rethinkrobotics.com/sawyer-intera-3/" rel="nofollow">Rethink Robotics Sawyer</a>, and <a href="http://new.abb.com/products/robotics/yumi" rel="nofollow">ABB YuMi</a>.  </p>

<p>Also, even with "perfect AI control", a robotic arm needs a certain about of good sensor feedback to do anything useful.  One example of this is demonstrated in an old experiment where a woman's hand was completely numbed and she was asked to light a match.  It took about 45 seconds of fumbling with the match before she was successful.  With an un-numbed hand she can light the match in just a few seconds on the first try.  The point being that even with arguably the most powerful computer on the planet (the human brain), without good tactile sensing we are unable to do fine manipulation.  (I was unable to locate the video of said experiment, but it is also mentioned in <a href="http://www.upenn.edu/pennnews/current/node/3447" rel="nofollow">this</a> article.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7624" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7624">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7624">Load Comments</button></br>
			<div id = "commentsection-7624" class = 'collapse'>
			<div id = "comment-11325" class = "comment">
				<p>You can safely remove the Rethink-Robots from your list. The position error is orders of magnitude to high for such tasks.</p>
			</div>
			</div>
				<textarea id = "speech-7624" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7624">
					<img id="start_img-7624" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7624">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>