<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Artificial Intelligence Software Packages: Professionals, University education is oft' a step behind. What's actually being used?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7416" class = "post">
			<h2>Question</h2>
			<div id="vote-7416" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Artificial Intelligence Software Packages: Professionals, University education is oft' a step behind. What's actually being used?</h2>
<p>Currently using Windows 8, what software packages for artificial intelligence programming (robotics branch) are used in today's professional environment as standard. Lots of internet suggestions, but companies seem to keep this a closely guarded secret. And are the internet rumors true? Would switching to Ubuntu offer me more in terms of depth.</p>

<p>Context: Educational field: Computer Science and Artificial Intelligence, current focus (though obviously experience in others) in programming languages stands at c++, C and Python. Looking to build, program and develop a human-like bot (NOT aiming for singularity at this point ;))and am asking this question in order to build my toolbox a little. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7416" data-toggle = "popover">
				<p>user name : cyb3rm0d</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7416">{'programming-languages': -2, 'None': 0, 'artificial-intelligence': -2, 'design': -2, 'software': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7416">Load Comments</button></br>
			<div id = "commentsection-7416" class = 'collapse'>
			<div id = "comment-10588" class = "comment">
				<p>Windows is an operating system targeted at the average Joe. You can never go wrong with switching to Linux if you are a programmer. It also helps you stay sane not having to deal with Windows' terrible API.</p>
			</div>
			<div id = "comment-10632" class = "comment">
				<p>Understood, working on a research paper that's limited until I've developed an actual build to run a few tests so that's a little of my week planned!</p>
			</div>
			</div>
				<textarea id = "speech-7416" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7416">
					<img id="start_img-7416" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7416">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7417"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7417" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am not sure which end of the AI work you intended, so this may not apply. If you are working disconnected from hardware one might be better off with straight MATLAB / Octave.</p>

<p>If you are planning to demonstrate on hardware, the widest robotics control architecture / middleware is ROS which was the DARPA funded Player/Stage / Gazebo. There are many middlewares based on CORBA as the main alternatives. It has interfaces for all your language preferences.  <a href="http://playerstage.sourceforge.net/" rel="nofollow">http://playerstage.sourceforge.net/</a></p>

<p>ROS has sort of won the OS wars in robotics.  People clung to ACE TAO/ MIRO/ OROCOS / CORBA middlewares until they - mostly - accepted that ORBs are flexible but bloated producing bloated cores. The telling feature of all this collected effort is ROS' widest device driver array for sensors and robot chassis you will find:</p>

<p><a href="http://wiki.ros.org/Sensors" rel="nofollow">http://wiki.ros.org/Sensors</a></p>

<p>It might be better to dual boot that machine to Ubuntu and slowly acclimatize. ROS has native Ubuntu .apts.  I dual-booted my first machine in 2003 and have never looked back. Nor rebooted the Windows partition either... Best of luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7417" data-toggle = "popover">
				<p>user name : daemondave</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-7417">{'quadcopter': 0, 'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7417">Load Comments</button></br>
			<div id = "commentsection-7417" class = 'collapse'>
			<div id = "comment-10630" class = "comment">
				<p>Fantastic response, I understand that to list every possible option would be "too long for this format" according to the stack exchange guardians but your understanding response highlighted a couple of branching doors I could go and open. Thank you so much!</p>
			</div>
			<div id = "comment-10653" class = "comment">
				<p>I'm happy to help!</p>
			</div>
			</div>
				<textarea id = "speech-7417" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7417">
					<img id="start_img-7417" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7417">Comment</button>
			<br><div id = "ans-7418"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7418" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most professionals would be researching in particular subfields.</p>

<p>When you say:<br>
Bot, I'll assume robot and not a natural language processing and response system. (You posted in robotics after all.) </p>

<p>Human-Like: 
Looks? Synthetic Skin <br> 
Motion?  mechanical engineering <br> 
Intelligence? Mind? neural networks, planning, machine learning, psychology <br> 
capabilities? data processing <br></p>

<p>You leave way too many open questions for an intelligent response. <br> 
All of these things are open enough that any tool could lead to an advance, while no particular tool gives you much advantage in all places. </p>

<p>Plus when you go for the singularity, you can program it in Basic, and then it will work its own way forward to reprogram itself fast enough that it wouldn't matter. </p>

<p>I hope this helps a tiny bit. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7418" data-toggle = "popover">
				<p>user name : Frank</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-7418">{'None': 8, 'design': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7418">Load Comments</button></br>
			<div id = "commentsection-7418" class = 'collapse'>
			<div id = "comment-10631" class = "comment">
				<p>Hi, I understand how the design of the Robot would leave me with a variety of choices for tools and not specifying could lead to too generalised a response. Pointing that out helped me sharpen my own questioning. Thank you for leaving a comment!</p>
			</div>
			</div>
				<textarea id = "speech-7418" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7418">
					<img id="start_img-7418" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7418">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>