<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Ask Different turns one year old
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-725" class = "post">
			<h2>Question</h2>
			<div id="vote-725" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">25</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 252</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ask Different turns one year old</h2>
<p><img src="https://i.stack.imgur.com/SSRdv.jpg" alt="enter image description here"></p>

<h2>On August 17, 2010, exactly one year ago today, Ask Different (then called Apple) launched into private beta.</h2>

<p><strong>In the past year we ve seen phenomenal growth. We now have:</strong></p>

<ul>
<li>7k questions</li>
<li>13.5k answers</li>
<li>9k users</li>
<li>13.5k visits per day (average)</li>
</ul>

<p>I just wanted to say a big  thanks  to everyone that has helped us get here today, from the people that believed in the potential of this site when it was only an <a href="http://area51.stackexchange.com/proposals/151/apple">Area 51 proposal</a>, to those early adopters that helped make our private and public betas successful, culminating in our launch as a full, permanent part of Stack Exchange earlier this year, to <a href="https://apple.stackexchange.com/users/6/jin">Jin</a>, our site designer who perfectly captured the balance between Apple s and Stack Exchange s design aesthetic, and finally to our loyal users, who have been tirelessly helping to answer nearly any question thrown their way.</p>

<h3>Here s to many years to come!</h3>

<p>p.s. - you early adopters should start to see your <a href="https://apple.stackexchange.com/badges/52/yearling">yearling</a> badges soon!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-725" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-725">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-725">Load Comments</button></br>
			<div id = "commentsection-725" class = 'collapse'>
			<div id = "comment-1321" class = "comment">
				<p>I will admit, a better place to post this would have been our own blog.</p>
			</div>
			<div id = "comment-1322" class = "comment">
				<p>LET US EAT CAKE!!! (err - I think that's good, no?)</p>
			</div>
			<div id = "comment-1323" class = "comment">
				<p>Man, I wish I'd found this place when it first started. I missed the first 5 months!</p>
			</div>
			<div id = "comment-1324" class = "comment">
				<p>There is still time for a blog post. I don't see why we couldn't get a blog post up in less than 24 hours if we had more interest in starting a blog. http://meta.apple.stackexchange.com/questions/666/is-anyone-interested-in-starting-managing-and-or-writing-for-an-ask-different-bl</p>
			</div>
			<div id = "comment-1325" class = "comment">
				<p>Good job ladies and gents, especially to those corralling and fixing up the community while we use it. Thanks!</p>
			</div>
			<div id = "comment-1326" class = "comment">
				<p>Where's the Facebook LIKE button?</p>
			</div>
			<div id = "comment-1327" class = "comment">
				<p>@Martin Hm, not sure why the twitter and Facebook buttons aren't on meta</p>
			</div>
			<div id = "comment-1328" class = "comment">
				<p>Facebook (Like), Twitter (tweet/retweet), Google (+1)</p>
			</div>
			<div id = "comment-1329" class = "comment">
				<p>@Steve I hope we do get more people interested in contributing, enough so we can get started.</p>
			</div>
			<div id = "comment-1332" class = "comment">
				<p>I think we can all live without the social media buttons every once in a while (writes the curmudgeon who doesn't see the point and therefore doesn't use them).</p>
			</div>
			<div id = "comment-1333" class = "comment">
				<p>@Steve and Kyle, a [community promotion ad](http://meta.apple.stackexchange.com/questions/455/community-promotion-ads-1h-2011) might be a good way to encourage people who don't hang out in meta to consider participating in the blog.</p>
			</div>
			<div id = "comment-1337" class = "comment">
				<p>it's been a year already? grats!</p>
			</div>
			</div>
				<textarea id = "speech-725" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-725">
					<img id="start_img-725" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-725">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-727"  class = "post">
				<h2>Answer</h2>
			<div id="vote-727" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Kyle--</p>

<p>I just want to say congratulations on founding what has turned out to be an absolutely wonderful site, one that I feel follows Stack Exchange's ideals. I know we are all proud to help carry this site from beta to live, but you should be more so for having having the foresight and gumption to get everything started. Thank you for your lasting (and hopefully permanent) contribution to the Apple community as a whole.</p>

<p>I look forward to working with you, the mods, and the community on the continued growth of the site.</p>

<p>We rule.</p>

<p>Philip Regan  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-727" data-toggle = "popover">
				<p>user name : Philip Regan</p>
				<p> user reputation : 5775</p>
				<p class = "tagcontent" id = "usertaginfo-727">{'None': 95, 'site-scope': 5, 'moderators': 1, 'discussion': 11, 'moderation': 1, 'lion': 5, 'closed-questions': 5, 'beta': 5, 'new-users': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-727">Load Comments</button></br>
			<div id = "commentsection-727" class = 'collapse'>
			<div id = "comment-1331" class = "comment">
				<p>Thanks, this site has definitely exceeded all my hopes and expectation. I'm glad I could make a lasting contribution to the Stack Exchange community and I hope to be around here for a good long while.</p>
			</div>
			<div id = "comment-1336" class = "comment">
				<p>Oh, and I also want to thank you for all your help moderating the site. I'm really glad that there's a great amount of teamwork between our moderators, something which isn't always present on other sites.</p>
			</div>
			</div>
				<textarea id = "speech-727" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-727">
					<img id="start_img-727" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-727">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>