<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Ask Different, really? Surely Ask Apple
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-286" class = "post">
			<h2>Question</h2>
			<div id="vote-286" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">33</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 871</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ask Different, really? Surely Ask Apple</h2>
<p>What exactly does Ask Different have to do with Apple? Ask<b>Apple</b> surely?</p>

<ul>
<li>It doesn't fit with the URL</li>
<li>It doesn't fit the names of other stackexchange sites, which are pretty much the same from beta to non-beta.</li>
<li>Ask Ubuntu is a good name, its where you ask about Ubuntu</li>
<li>Ask Different, ask different to what</li>
<li>How many people actually know about the ad campaign</li>
<li>The legal issue is not with having "Apple" in the title, it's with the use of the Apple Logo, this post isn't about changing the logo (cmd button)</li>
</ul>

<p>5 votes up, so that's almost half of the 13 votes for Ask Different. Please upvote the answer in this thread if you think the site title should be changed: <a href="https://apple.meta.stackexchange.com/questions/205/official-site-title/301#301">Official Site Title</a></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-286">Load Comments</button></br>
			<div id = "commentsection-286" class = 'collapse'>
			<div id = "comment-615" class = "comment">
				<p>The use of 'Apple' and the possible trademark infringements is discussed in this meta thread where input on the site name solicited http://meta.apple.stackexchange.com/questions/205/official-site-title</p>
			</div>
			<div id = "comment-622" class = "comment">
				<p>But apple is used during the beta and is innthe site URL?</p>
			</div>
			<div id = "comment-636" class = "comment">
				<p>The discussion of the use of "Apple" centered around the use of the logo not the name. The name has been used on numerous websites discussing Apple for years ("As The Apple Turns" anyone?) with no public complaint from Apple, Inc.</p>
			</div>
			<div id = "comment-643" class = "comment">
				<p>So use the name ask apple with the current logo???</p>
			</div>
			<div id = "comment-705" class = "comment">
				<p>@Jonathan, if apple was actually here and participating, sure, but they hardly participate in some of their own forums... so I doubt that's going to happen.</p>
			</div>
			<div id = "comment-707" class = "comment">
				<p>@cabbey, But as pointed out earlier by Philip Regan, Apple is used in other websites' titles. So Apple doesn't have to be here.</p>
			</div>
			<div id = "comment-711" class = "comment">
				<p>@Jonathan, my point was "Ask Apple" implies that Apple is actually here, participating. I don't care about if other sites used the word in some way. I care about what the tagline implies about this site.</p>
			</div>
			<div id = "comment-1096" class = "comment">
				<p>I agree with @cabbey in that Ask Apple implies you're asking Apple Inc directly. As far as trademarks and possible violations, there are many sites out there using the "Mac" and "Apple" terms with no problems (as well as brick and mortar Mac repair shops). I can think of AppleInsider, MacRumors, MacTech, MacHeist, The Unofficial Apple Weblog, Macworld, etc. I think we could still use the "Mac" term safely as those other sites do. Perhaps something that plays to StackExchange and Mac, like MacExchange, MacOverflow, MacQuestions... As much as I liked the Think Different campaign, it is outdated.</p>
			</div>
			<div id = "comment-1161" class = "comment">
				<p>With respect: *Ask Apple* could be too misleading. If my first visit to a site labelled *Ask the BBC* revealed viewers and listeners but no-one from the BBC, I would take a dim view and probably not revisit.</p>
			</div>
			<div id = "comment-1418" class = "comment">
				<p>It's quite difficult to understand when there is a copyright infringement when the used word is a common noun. For example, if I called a company _Pear_, I could not talk of copyright infringement every time somebody writes an article about pears. I am not use common nouns can be copyrighted, in the same way numbers cannot be copyrighted.</p>
			</div>
			<div id = "comment-2545" class = "comment">
				<p>Could a name be "Ask about Apple" ?</p>
			</div>
			<div id = "comment-4008" class = "comment">
				<p>Totally in agreement. ASkDifferent is very unusual for an exchange name. It's borderline esoteric, it's undescriptive of the content in the exchange, and is misleading to google'ers/passer-bys. Naming the exchange after a single ad campaign is just silly, not everyone knows it. Also, the current name is like a giant advertisement for Apple... which should be frowned upon (no exchange should promote any single vendor, just focus on questions and answers).</p>
			</div>
			</div>
				<textarea id = "speech-286" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-286">
					<img id="start_img-286" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-286">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-287"  class = "post">
				<h2>Answer</h2>
			<div id="vote-287" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">40</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Think Different was a hugely successful ad campaign by Apple:</p>

<p><img src="http://upload.wikimedia.org/wikipedia/commons/3/3a/Apple_logo_Think_Different.png" alt=""></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-287">Load Comments</button></br>
			<div id = "commentsection-287" class = 'collapse'>
			<div id = "comment-623" class = "comment">
				<p>I just wonder how man people actually connect the two seeing as it *was* an ad. Surely this suffers from the same legal issues as using the apple name.</p>
			</div>
			<div id = "comment-624" class = "comment">
				<p>and how long ago was the ad? and has it ever related to iPhones and iPads?</p>
			</div>
			<div id = "comment-635" class = "comment">
				<p>Apple has not had a company-wide slogan since "Switch" around 2003. A lot of product-specific slogans, but nothing that encompasses the company as a whole. Basing the name of the site on "Think Different", arguably one of Apple's most popular campaigns, was voted on by the community a while ago.</p>
			</div>
			<div id = "comment-642" class = "comment">
				<p>It has less than 20 votes. So it can be assumed that's the 20 most apple switched on people of this site as there are many more users who haven't voted. When things like the title are being decided on it needs a banner at the top of the main site with a link to the topic to make people more aware</p>
			</div>
			<div id = "comment-695" class = "comment">
				<p>@Jonathon: The discussions over the title and design were publicly available for months the meta site is busy with all sorts of other topics about site management, some arguably more important than this. I'm sorry you don't like the branding of the site, but it's not as though nobody was allowed to comment and vote.</p>
			</div>
			<div id = "comment-708" class = "comment">
				<p>The site title is quite a big thing, and only a small percentage of people visit meta sites, and a smaller amount of people think that they are worthy to affect decisions like this. The Topic that chooses the site title should be put in a banner at the top of the main site.</p>
			</div>
			<div id = "comment-709" class = "comment">
				<p>There are 3200 apple users and only 270 meta.apple users</p>
			</div>
			<div id = "comment-710" class = "comment">
				<p>@Jonathon: At the risk of sounding rude, but what's your point? Meta (for all of the SE sites) is a clear link near the top right of almost every page on the site. If people can't be bothered to go to Meta and take an interest in how the community is to run, that's really isn't anybody's fault but their own. There is only so much that can be done with a bunch of volunteers to make this place run smoothly (and it is run very smoothly). I'm sorry you don't like the name, but what's done is done.</p>
			</div>
			<div id = "comment-713" class = "comment">
				<p>@Philip LOL at your 'Jonathon'. @Jonathan I like the name. And I don't want to sound rude but you have been a member for 5 months yet you have barely participated except for the last few days. The question in meta (in which you added your opinion) has been there for a long time.</p>
			</div>
			<div id = "comment-1162" class = "comment">
				<p>@Mark re: iPhone, iPad etc: many non-Mac devices are used with Mac hardware   [NumberKey](http://itunes.apple.com/gb/app/numberkey/id291672903) is a more exotic example; most **associations between Mac and non-Mac devices are subliminal**.</p>
			</div>
			<div id = "comment-2415" class = "comment">
				<p>ahhh I get it now!</p>
			</div>
			</div>
				<textarea id = "speech-287" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-287">
					<img id="start_img-287" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-287">Comment</button>
			<br><div id = "ans-338"  class = "post">
				<h2>Answer</h2>
			<div id="vote-338" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Like Kyle said, "Think Different" was (and technically still is) Apple's motto and slogan. They have used it since 1984, I believe, and it has become a staple of their corporation's identity. Honestly I would say that 90% of Apple's users over the age of 18 would recognize this slogan immediately, and the play on it is perfect for this site. I think that it ads a touch of elegance to it, and I also think that it gives those of us who know way too much about Apple some sort of nostalgia/sense of being (I can't really place the proper word for this but I'm sure some of you out there are feeling the same as me).</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-338">Load Comments</button></br>
			<div id = "commentsection-338" class = 'collapse'>
			<div id = "comment-764" class = "comment">
				<p>What? Think Different was NOT used since 1984, it came around in the late 90s ('97, I believe). And it is not "technically" still their slogan. The campaign ended years ago. That said, I personally like the name Ask Different :)</p>
			</div>
			<div id = "comment-766" class = "comment">
				<p>Do you remember the 1984 ad (or at least seeing it), the parody of the movie/book 1984? The lady shattered the screen that forced everybody to think the same. That was when the aptly named campaign started, which was in 1984. I think that it is technically still their slogan. Just because you stop advertising it doesn't make it obsolete, and they haven't replaced it with another company-wide slogan. They also still have it on products/signs in their corporate campus and store last time I was there. That said, I too like the phrase Ask Different!</p>
			</div>
			<div id = "comment-2546" class = "comment">
				<p>How many iPhone and iPad users know about this slogan?For most of people name of the site doesn't make sense.</p>
			</div>
			</div>
				<textarea id = "speech-338" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-338">
					<img id="start_img-338" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-338">Comment</button>
			<br><div id = "ans-2771"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2771" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found this site in the SE community list. I had to visit the site because the name wasn't descriptive enough to tell me what it was about, and when I did, I was half expecting to end up on a site about alternative lifestyles. </p>

<p>The argument from SeniorShizzle that "90% of Apple's users over the age of 18 would recognize [the <em>Think Different</em>] slogan immediately" is dubious at best, and at worst it excludes entire geographic regions where the ad was not campaigned, new users, users of Apple products that were not advertised with the "think different" slogan, and generations of users to come. I'd argue that the name is esoteric. And while there are problems with the name "Ask Apple" as discussed in the comments, that doesn't mean there is not a problem with the name "Ask Different".</p>

<p>That being said, I'm not here to support a name change, I'm just offering my two cents on this topic. And while I haven't been a member for very long, I have a different theory as to why the name might have stuck (and why it might be a good match), according to something I remember being told by an old business professor I once had.</p>

<p>According to him, Apple's success has always been fueled by those evangelist users who embrace the fact that Apple is not Microsoft, and historically has never been "mainstream". These users want to be different and feel like they're exercising their right to choose. Perhaps they perceive themselves as the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes.</p>

<p>And that's why "Ask Different" is arguably a pretty good name choice for the community here.</p>

<p>But alas, I'm just a passerby.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2771">Load Comments</button></br>
			<div id = "commentsection-2771" class = 'collapse'>
			<div id = "comment-6096" class = "comment">
				<p>There is nothing like reliving a 4-year old conversation as vividly as this site allows. Well worded, Bizorke.</p>
			</div>
			</div>
				<textarea id = "speech-2771" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2771">
					<img id="start_img-2771" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2771">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>