<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Ask Different Chat Room
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-88" class = "post">
			<h2>Question</h2>
			<div id="vote-88" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 117</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ask Different Chat Room</h2>
<p>We do have <a href="http://chat.stackexchange.com/rooms/38/apple-chat">a room</a> on the new Stack Exchange chat system for anyone who wants to join. To enter, you must:</p>

<ul>
<li>Have at least 20 reputation on Stack Exchange</li>
</ul>

<p>The room is for discussing anything and everything about our site. Its also a neat place to meet and talk to the people who have been answering your questions, yell at the moderators or just lurk. Hopefully we also discuss things surrounding the site.</p>

<p><a href="https://webmasters.meta.stackexchange.com/questions/220/pro-webmasters-chat-room">Original text ripped from Pro Webmasters</a></p>

			</div>
			<div id = "userinfo-88" style = "float:right">
				<p>user name : Chealion</p>
				<p> user reputation : 6376</p>
				<p> user tag wise history : {'None': 56, 'tags': 6, 'discussion': 28, 'chat': 4, 'beta-essentials': 10, 'site-promotion': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-88">Load Comments</button></br>
			<div id = "commentsection-88" class = 'collapse'>
			<div id = "comment-249" class = "comment">
				<p>The chatroom seems to be frozen </p>
			</div>
			<div id = "comment-259" class = "comment">
				<p>I don't have the rep to edit, but note that this room has now been migrated to chat.SE</p>
			</div>
			<div id = "comment-260" class = "comment">
				<p>@Marc Gravell: Fixed!</p>
			</div>
			</div>
				<textarea id = "speech-88" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-88">
					<img id="start_img-88" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-88">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-728"  class = "post">
				<h2>Answer</h2>
			<div id="vote-728" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>For those who are relatively new to the sites</h1>

<p>The link to Ask Different Chat is in the right hand column of Ask Different:</p>

<ul>
<li>sometimes visible without scrolling down</li>
<li>sometimes out of sight (beneath advertisements).</li>
</ul>

<p>The link to Ask Different Chat is sometimes <a href="https://apple.meta.stackexchange.com/q/729/8546"><strong>missing</strong> from the right hand column of Ask Different meta</a>. </p>

<p>To switch from Ask Different meta to Ask Different: </p>

<ul>
<li>click <code>main</code></li>
</ul>

<p>Alongside <code>main</code> for Ask Different, the <code>chat</code> is <strong>not</strong> Ask Different Chat. </p>
</p><br>
			</div>
			<div id = "userinfo-728" style = "float:right">
				<p>user name : Graham Perrin</p>
				<p> user reputation : 4827</p>
				<p> user tag wise history : {'None': 30, 'tags': 7, 'support': 7, 'status-completed': 2, 'bug': 3, 'design': 6, 'feature-request': 18, 'status-bydesign': 5, 'discussion': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-728" class = 'collapse'>
			</div>
				<textarea id = "speech-728" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-728">
					<img id="start_img-728" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-728">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>