<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Asking jailbreak-related question
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-492" class = "post">
			<h2>Question</h2>
			<div id="vote-492" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 299</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Asking jailbreak-related question</h2>
<p>Can I ask iPhone jailbreak related question on this site?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-492" class = 'collapse'>
			</div>
				<textarea id = "speech-492" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-492">
					<img id="start_img-492" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-492">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-493"  class = "post">
				<h2>Answer</h2>
			<div id="vote-493" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, you can ask them, as long as they're not related to something illegal, like pirating apps, etc.</p>

<p>NB: I am not affiliated with the site (I don't work for Stack Exchange and I'm not a moderator), but it's the general trend I've seen around here.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-493">Load Comments</button></br>
			<div id = "commentsection-493" class = 'collapse'>
			<div id = "comment-907" class = "comment">
				<p>is jailbreaking not illegal?</p>
			</div>
			<div id = "comment-908" class = "comment">
				<p>@jitendra in the US, the court ruled that jailbreaking is in fact not illegal</p>
			</div>
			<div id = "comment-910" class = "comment">
				<p>It only modifies four bytes (afaik) of the file system.</p>
			</div>
			<div id = "comment-911" class = "comment">
				<p>@Radek The number of bytes modified is irrelevant to the legality (just like the number of dollars stolen is irrelevant to whether theft is legal). That the court specifically ruled that it is legal is what makes it legal.</p>
			</div>
			</div>
				<textarea id = "speech-493" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-493">
					<img id="start_img-493" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-493">Comment</button>
			<br><div id = "ans-494"  class = "post">
				<h2>Answer</h2>
			<div id="vote-494" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">16</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>see fairly canonical answer at</p>

<p><a href="https://meta.superuser.com/questions/2212/is-discussion-of-techniques-for-removing-drm-permitted">https://meta.superuser.com/questions/2212/is-discussion-of-techniques-for-removing-drm-permitted</a></p>

<h3>Unless it is a clear call for warez, discussion of DRM should be given the benefit of the doubt.</h3>

<p>Per Joel:</p>

<blockquote>
  <p>I would hate for us to censor legitimate, technical discussion just because what we're talking about happens to be illegal in some jurisdictions. We should have the same standards as universities: we should defend people's rights to free speech.</p>
  
  <p>I think it's VERY MUCH DEBATABLE whether breaking DRM for the purpose of making backups is even illegal. It would be unhealthy if our diamond mods were running around being as strict as the Disney Corporation Inc. on DRM. It is hard to argue that there's anything even remotely socially unacceptable about breaking DRM for the purpose of backing up something you legitimately own.</p>
  
  <p>And we're not even doing it, we're just <em>talking</em> about it.</p>
</blockquote>

<p>Therefore, unless the post looks egregiously illegal, assume it is being asked in good faith about removing DRM on things you own, for your own fair use.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-494" class = 'collapse'>
			</div>
				<textarea id = "speech-494" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-494">
					<img id="start_img-494" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-494">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>