<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>asking for the suitabletype of motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13960" class = "post">
			<h2>Question</h2>
			<div id="vote-13960" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 12</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>asking for the suitabletype of motor</h2>
<p>I am making a infrared type bot with some modifications like blower on it,
What type of motor must i use to use to gain maximum speed??
I searched and found that higher rpm may lead to some error and our IR sensor also 
needs to be in sync with it, What exactly can be the correct combination ? 
sorry for such immature questions , i am a newbie</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13960" data-toggle = "popover">
				<p>user name : vaibnak</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-13960">{'line-following': 0, 'None': 0, 'wheeled-robot': 0, 'sensors': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13960">Load Comments</button></br>
			<div id = "commentsection-13960" class = 'collapse'>
			<div id = "comment-22887" class = "comment">
				<p>Welcome to *Robotics*, vaibnak. Could you please *edit your question* to clarify what you're asking about? What do you mean when you say that the IR sensor needs to be able to sync with the motor? Maximum speed generally means maximum *linear* speed, which is angular speed times the wheel circumference - your options are to either increase the circumference (bigger wheels) or increase the angular speed (faster motors). What source stated that a faster motor would lead to "some error," and what is the error?</p>
			</div>
			</div>
				<textarea id = "speech-13960" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13960">
					<img id="start_img-13960" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13960">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>