<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Assigning Frames and Deriving Link Parameters
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1083" class = "post">
			<h2>Question</h2>
			<div id="vote-1083" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 759</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Assigning Frames and Deriving Link Parameters</h2>
<p>The textbook I'm using doesn't have the answers to the practice questions, so I'm not sure how I'm doing. Are the following DH parameters correct given the frames I assigned?</p>

<p>The original question is as follows:
The arm with 3DOF shown below is like the one in example 3.3, except that joint 1's axis is not parallel to the other two. Instead, there is a twist of 90 degrees in magnitude between axes 1 and 2. Derive link parameters and the kinematic equations for $^bT_w$ (where b means base frame and w means wrist frame).</p>

<p><a href="https://i.stack.imgur.com/tuo7v.jpg" rel="nofollow noreferrer">Link Parameters:</a></p>

<p>$$\begin{array}{ccc}
  &amp; const.        &amp; and      &amp;     &amp;               \\
  &amp; angle         &amp; distance &amp;     &amp;               \\
i &amp; \alpha_{i-1}  &amp; a_{i-1}  &amp; d_i &amp; \bf{\theta_i} \\
\\
1 &amp; 0             &amp; 0        &amp; 0   &amp; \theta_1      \\
2 &amp; -90           &amp; L_1      &amp; 0   &amp; \theta_2      \\
3 &amp; 0             &amp; L_2      &amp; 0   &amp; \theta_3      \\
\end{array}$$</p>

<p>Frame Assignments: <img src="https://i.stack.imgur.com/I6XKZ.jpg" alt="Frame Assignments"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1083" data-toggle = "popover">
				<p>user name : Grace</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-1083">{'forward-kinematics': 14, 'None': 0, 'kinematics': 14, 'inverse-kinematics': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1083">Load Comments</button></br>
			<div id = "commentsection-1083" class = 'collapse'>
			<div id = "comment-2519" class = "comment">
				<p>Can you convert your image to a latex-formatted table?</p>
			</div>
			<div id = "comment-2521" class = "comment">
				<p>If you want to follow Ian's suggestion (it's a good one) you might want to use [Ian's edit](http://robotics.stackexchange.com/posts/940/revisions) to your [other question](http://robotics.stackexchange.com/q/940/37) as a template.</p>
			</div>
			</div>
				<textarea id = "speech-1083" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1083">
					<img id="start_img-1083" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1083">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2116"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2116" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For the i =2, with alpha(i-1), it should be 0 if Z1 and Z2 are parallel </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2116" data-toggle = "popover">
				<p>user name : Xitrum</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-2116">{'None': 0, 'kinematics': 6, 'inverse-kinematics': 3, 'robotic-arm': 6, 'localization': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2116">Load Comments</button></br>
			<div id = "commentsection-2116" class = 'collapse'>
			<div id = "comment-4233" class = "comment">
				<p>Could you elaborate?</p>
			</div>
			</div>
				<textarea id = "speech-2116" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2116">
					<img id="start_img-2116" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2116">Comment</button>
			<br><div id = "ans-2513"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2513" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Seems like you are using the Proximal convention. It's always good practice to have an extra frame called {X0,Y0,Z0} at the base. It makes visualizing so much easier. <img src="https://i.stack.imgur.com/srlXd.png" alt="It&#39;s your picture modified a bit to make it easy"></p>

<p>Anyways, from the image below, I know, it's not good, but hey common, I made it using a mouse. Alright, so I'll Z0 is the base frame and Z1 is parallel to it because, its the rotating Joint1 and Z2 is coming out of the screen, because it is Joint2 and obviously since, Z2 and Z1 are perpendicular to each other X1 will be perpendicular to the plane created by Z1 and Z2. Since, Z2 and Z3 are parallel, X2 will be towards Z3, that is Joint3. Now, Z3 and Ze are perpendicular since, Joint4 is a wrist joint. X3 will be perpendicular to the plane made by Ze and Z3. Finally X4 can be placed arbitrarily but I placed it parallel to X3 since, again, its easier that way. Now shoot off your rules of measuring the DH parameters using the Proximal Convention and boom you are off. :D Have fun.. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2513" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-2513">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2513" class = 'collapse'>
			</div>
				<textarea id = "speech-2513" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2513">
					<img id="start_img-2513" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2513">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>