<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Assigning parameters in perpendicular axes: D-H is a must
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10826" class = "post">
			<h2>Question</h2>
			<div id="vote-10826" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 104</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Assigning parameters in perpendicular axes: D-H is a must</h2>
<p>So I was given a course assignment to assign frames and write D-H parameters for this robot <strong>using only 5+1 frames (with Frame $\{5\}$ at $P$ and Frame $\{0\}$ at $O$)</strong>.</p>

<p><a href="https://i.stack.imgur.com/q9Frp.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/q9Frp.png" alt="Original figure"></a></p>

<p>And I assigned them like this:</p>

<p><a href="https://i.stack.imgur.com/kaKk4.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/kaKk4.png" alt="My frames"></a></p>

<p>My question is:
<strong>From Frame $\{1\}$ to Frame $\{2\}$, what are joint distances $a$ and $d$?</strong></p>

<p>The best answer I could get was 0. But obviously it should be zero for one axis and $a_1$ for the other. What's wrong?</p>

<p>I have read a similar question <a href="https://robotics.stackexchange.com/questions/4610/forward-kinematics-d-h-parameters-for-perpendicular-joint-axes">here</a>. But the answer points me to another method which is impossible for me.</p>

<p><strong>Edit:
No matter I put $a_1$ in $a$
$$(\alpha,a,d,\theta)=(-90^\circ,a_1,0,\theta_2-90^\circ)$$
or in $d$
$$(\alpha,a,d,\theta)=(-90^\circ,0,a_1,\theta_2-90^\circ)$$
The joint distance $a_1$ does not appear in $z$.
What it gave out is
$$\left( \begin{array}{cccc}
\sin{\theta_2} &amp; \cos{\theta_2} &amp; 0 &amp; a_1 \\
0 &amp; 0 &amp; 1 &amp; 0 \\
\cos{\theta_2} &amp; -\sin{\theta_2} &amp; 0 &amp; 0 \\
0 &amp; 0 &amp; 0 &amp; 1
\end{array}\right)
\text{    or    }
\left( \begin{array}{cccc}
\sin{\theta_2} &amp; \cos{\theta_2} &amp; 0 &amp; 0 \\
0 &amp; 0 &amp; 1 &amp; a_1\\
\cos{\theta_2} &amp; -\sin{\theta_2} &amp; 0 &amp; 0 \\
0 &amp; 0 &amp; 0 &amp; 1
\end{array}\right)$$
Obviously, $a_1$ should appear in $Z$-translation instead!</strong></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10826" data-toggle = "popover">
				<p>user name : user2513881</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-10826">{'None': 0, 'dh-parameters': 1, 'frame': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10826">Load Comments</button></br>
			<div id = "commentsection-10826" class = 'collapse'>
			<div id = "comment-19504" class = "comment">
				<p>I am aware of the steps in D-H convention. Just that I could not get a answer that sounds reasonable to me. See Edit.</p>
			</div>
			</div>
				<textarea id = "speech-10826" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10826">
					<img id="start_img-10826" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10826">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10830"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10830" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Each parameter is for a simple transform such that when all 4 are combined you go from one frame to the next. It can be helpful to understand each of the 4 simple transforms, and you should do that if you haven't already. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10830" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10830">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10830" class = 'collapse'>
			</div>
				<textarea id = "speech-10830" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10830">
					<img id="start_img-10830" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10830">Comment</button>
			<br><div id = "ans-10831"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10831" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found this <a href="https://www.youtube.com/watch?v=rA9tm0gTln8" rel="nofollow">video</a> helpful when learning about the DH method.</p>

<p>DH is all about describing the differences between coordinate systems using rotation and translation about/along the X and Z components of the coordinate system.</p>

<p><strong>EDIT</strong></p>

<p>It seems that your frames {0} and {1} are not in the correct location if your wanting to follow the DH convention. When your on a rotation (pivoting) joint (such as the first joint), you should move up the coordinates to the next joint. That should make joint distances a and d be 0, allowing the DH convention to sufficiently describe the differences in frames.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10831" data-toggle = "popover">
				<p>user name : AustinTronics</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-10831">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10831">Load Comments</button></br>
			<div id = "commentsection-10831" class = 'collapse'>
			<div id = "comment-19503" class = "comment">
				<p>Yes I have read this video. However, I could not find a correct answer, see the above edit.</p>
			</div>
			<div id = "comment-19505" class = "comment">
				<p>I am anticipaing "It is 0 traveling in one axis and a1 for traveling in the other because you need to travel 0 in the x axis for frame {1} to get to frame {2} and a1 in the z axis for frame {1} to get to frame {2}." but the result I derived is not.</p>
			</div>
			<div id = "comment-19506" class = "comment">
				<p>Ahh, I think I found out what the issue was, I have revised my answer.</p>
			</div>
			<div id = "comment-19509" class = "comment">
				<p>So, when expressed in $\{0\}$, origins of $\{1\}$ is $(0,0,a_1)$, $\{2\}$ is $(0,a_2,a_1)$ and so on (if the joints are at initial positions as shown)?</p>
			</div>
			<div id = "comment-19511" class = "comment">
				<p>No. Both origin {0} and origin {1} would be at the origin of {2}. When I say rotation joint, I'm taking about looking at if from a 2D perspective. If looking at it head on, the first joint would be a rotation joint (or pivot point if you prefer).</p>
			</div>
			<div id = "comment-19512" class = "comment">
				<p>But frame 0 is set by question.</p>
			</div>
			<div id = "comment-19513" class = "comment">
				<p>Usually to have less parameters to count for, frame 0 should be wherever your frame 1 is. However, I think the DH convention will still be followed if you just move frame 1 to where frame 2 is. This will now make frame 0 to frame 1 have a d=a1.</p>
			</div>
			<div id = "comment-19517" class = "comment">
				<p>Oh wait. What about frame 2 and 3?  a2 is neither a or d again.</p>
			</div>
			<div id = "comment-19518" class = "comment">
				<p>Have never solved for a robotic arm quite like this one, but try sliding frame 2 to where frame 3 is. As a general rule of thumb, If there is joint along the axis of rotation of another joint, you can probably put the frame one joint up, or one joint back depending on your configuration. Don't be disinclined in shifting the frames in this manner to see if it will work.

Sometimes I feel that selecting the frames is more of an art then anything else. :p</p>
			</div>
			<div id = "comment-19519" class = "comment">
				<p>I will try your recommendation. For God's sake, I like manual computation much more.</p>
			</div>
			</div>
				<textarea id = "speech-10831" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10831">
					<img id="start_img-10831" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10831">Comment</button>
			<br><div id = "ans-10832"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10832" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here are the step that are in my course for using D-H convention:</p>

<h1>Step 1</h1>

<p>Define the z axis of every joint</p>

<h1>Step 2</h1>

<p>Define the origin frame R0 (O<sub>0</sub>, x<sub>0</sub>, y<sub>0</sub>, z<sub>0</sub>)</p>

<h1>Step 3</h1>

<p>For i in [1, n] (<em>n=number of joint</em>)</p>

<h3>Step 3.1</h3>

<p>Define O<sub>i</sub> that belongs to z<sub>i</sub>, and to the common normal to z<sub>i-1</sub> and z<sub>i</sub></p>

<h3>Step 3.2</h3>

<p>Define x<sub>i</sub> such as x<sub>i</sub> is normal to the plan formed by z<sub>i-1</sub> and z<sub>i</sub></p>

<h3>Step 3.3</h3>

<p>Define y<sub>i</sub> such as x<sub>i</sub>, y<sub>i</sub>, z<sub>i</sub> form a right handed coordinate frame</p>

<h2>Step 3.4</h2>

<p>Define the frame of the tool (or the ending point of your arm)</p>

<h3>Step 3.5</h3>

<p>Find the parameters:</p>

<ul>
<li>Q<sub>i</sub> is at the intersection of x<sub>i</sub> and z<sub>i-1</sub></li>
<li>&alpha;_i is the angle between z<sub>i-1</sub>) and z<sub>i</sub> around x<sub>i</sub> axis</li>
<li>a<sub>i</sub> is the distance |Q<sub>i</sub>,O<sub>i</sub>|</li>
<li>d<sub>i</sub> is the distance |O<sub>i-1</sub>, Q<sub>i</sub>| along z<sub>i-1</sub> axis</li>
</ul>

<p>Hope this helps</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10832" data-toggle = "popover">
				<p>user name : ejalaa12</p>
				<p> user reputation : 66</p>
				<p class = "tagcontent" id = "usertaginfo-10832">{'wheel': 5, 'None': 4, 'two-wheeled': 5, 'interrupts': 5, 'arduino': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10832">Load Comments</button></br>
			<div id = "commentsection-10832" class = 'collapse'>
			<div id = "comment-19530" class = "comment">
				<p>This is a nice set of steps. 3.2 needs improvement I think, since a common plane for $z_{i-1}$ and $z_i$ is a degenerate (though often seen) case.</p>
			</div>
			</div>
				<textarea id = "speech-10832" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10832">
					<img id="start_img-10832" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10832">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>