<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Assumptions about the nature of landmarks in SLAM algorithms
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4449" class = "post">
			<h2>Question</h2>
			<div id="vote-4449" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 194</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Assumptions about the nature of landmarks in SLAM algorithms</h2>
<p>I'm trying to understand the role of landmarks in SLAM algorithms.  I've glanced over a few books concerning landmark based SLAM algorithms and I've come up with a rudimentary understanding which I believe is <strong>flawed</strong>.</p>

<p><strong><em>How I think SLAM works:</em></strong></p>

<p>As I understand it, landmarks are a set of points in a map whose locations are known <strong>a priori</strong>.   Furthermore, the number of landmarks in a map is fixed.  The number of landmarks detected at any one time may change, but the number of landmarks that exist in the map remains static at all times.  </p>

<p>My understanding is that SLAM algorithms exploit the fact that these points are both <strong>uniquely identifiable</strong> and <strong>known a priori</strong>.   That is, when a robot senses a landmark, it knows exactly which landmark it detected and thus knows the exact location of that landmark.  Thus, a slam algorithm uses the (noisy) distance to the detected landmarks (with known location) to estimate its position and map.  </p>

<p><strong><em>Why I think I'm wrong</em></strong>  </p>

<p>In my <em>naive</em> understanding, the usefulness of SLAM would be limited to controlled environments (i.e. with known landmarkds) and completely useless in unknown environments with no a priori known landmarks.  I would presume that some sort of feature detection algorithm would have to dynamically add landmarks as they were detected.  However, this fundamentally changes the assumption that the number of given landmarks must be static at all times.  </p>

<p>I know I'm wrong in my understanding of feature based SLAM, but I'm not sure which of my assumptions is wrong:  </p>

<p>Do feature based SLAM algorithms assume a static number of landmarks?  </p>

<p>Do the landmarks need to be known a priori?  Can they be detected dynamically?  And if so, does this fundamentally change the algorithm itself?</p>

<p>Are there special kinds of SLAM algorithms to deal with unknown environments with an unknown total number of landmarks in it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4449" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-4449">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4449" class = 'collapse'>
			</div>
				<textarea id = "speech-4449" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4449">
					<img id="start_img-4449" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4449">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4452"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4452" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are right in your assumption that your understanding is wrong. SLAM stands for Simultaneous Localisation and Mapping. The map can be anything that associates locations with things that are at those locations. One example of a map is where you have landmarks for which the positions are known.</p>

<p>If you assume that you already have this map. This is not a SLAM problem anymore. Its just localisation. Wanting to know where you  (or your agent) is within this map.</p>

<p>The nature of a landmark or feature based SLAM is that the location, number and identification of features is usually not known. This is why you do mapping. The result of your algorithm is then the estimated position of those features that you have detected and the estimated position of yourself. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4452" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-4452">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4452">Load Comments</button></br>
			<div id = "commentsection-4452" class = 'collapse'>
			<div id = "comment-7024" class = "comment">
				<p>Is it correct to say that ALL SLAM algorithms begin with an empty list of landmarks and build the list of landmarks incrementally as the robot moves?  Or do some SLAM algorithms require a pre-defined list of landmarks?</p>
			</div>
			<div id = "comment-7030" class = "comment">
				<p>I have never seen a SLAM algorithm that requires a set of landmarks.</p>
			</div>
			<div id = "comment-7032" class = "comment">
				<p>Consider the [GraphSLAM algorithm in this Udacity video](http://youtu.be/uEElLi1Ob_g?t=44s), along with [its solution](http://youtu.be/ByOt_lrBFss).  It seems that the number of "landmarks" is predefined.</p>
			</div>
			<div id = "comment-7051" class = "comment">
				<p>The number of landmarks in the video is for the data generation part, which is essentially a simulation of a robot. GraphSLAM does not need a fixed number of landmarks.</p>
			</div>
			</div>
				<textarea id = "speech-4452" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4452">
					<img id="start_img-4452" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4452">Comment</button>
			<br><div id = "ans-4454"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4454" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The technique you're looking for is called <strong>landmark extraction</strong>.  </p>

<p>The magic of SLAM comes from being able to automatically decide what counts as a landmark among the "<a href="http://en.wikipedia.org/wiki/Feature_vector" rel="nofollow">features</a>" that the sensors pick up.</p>

<p>In the early days of SLAM, this was fairly simple: just count every geometric feature detected by the sensors as its own landmark.  This is not scalable, but it academically proved the functionality of SLAM.  As you'd expect, you need to have enough landmarks to get good navigation.  But from a practical standpoint, you need to keep the CPU/memory usage within reason.  </p>

<p>Keeping that balance is an open problem -- there are many papers that focus solely on how to get landmarks from features quickly / space-efficiently / in a domain-specific way.  The <a href="http://ocw.mit.edu/courses/aeronautics-and-astronautics/16-412j-cognitive-robotics-spring-2005/projects/1aslam_blas_repo.pdf" rel="nofollow">SLAM for Dummies</a> whitepaper from MIT has some good introductory text on that topic.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4454" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4454">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4454">Load Comments</button></br>
			<div id = "commentsection-4454" class = 'collapse'>
			<div id = "comment-7029" class = "comment">
				<p>Is landmark extraction a component of all SLAM algorithms, or only some of them?</p>
			</div>
			<div id = "comment-7033" class = "comment">
				<p>By definition, landmark extraction -- mapping -- is part of all of SLAM algorithms.</p>
			</div>
			<div id = "comment-7064" class = "comment">
				<p>It could be argued if there is a landmark extraction part in e.g. ICP based GraphSLAM.</p>
			</div>
			<div id = "comment-7071" class = "comment">
				<p>I'm unsure of what you're referring to when you say "It could be argued".  What could be?</p>
			</div>
			</div>
				<textarea id = "speech-4454" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4454">
					<img id="start_img-4454" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4454">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>