<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>At what frequency should I input and read values?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7226" class = "post">
			<h2>Question</h2>
			<div id="vote-7226" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 52</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>At what frequency should I input and read values?</h2>
<p>I am at the moment trying to identify a system using frequency sweep. I have been using Mathematica and have created a frequency sweep as such.</p>

<pre><code>g[t_] := 0.799760*Sin[2 Pi (3 t/333.3 + 1) t];
Plot[g[t], {t, 0, 1000000000000000000000000000000}]
g[#] &amp; /@ Range[0, 5, 0.001]
</code></pre>

<p>The max frequency is 10 Hz, I sample the data using 1000 Hz. But at what rate should I input it to the system, and what rate should I read from it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7226" data-toggle = "popover">
				<p>user name : klj</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7226">{'control': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7226">Load Comments</button></br>
			<div id = "commentsection-7226" class = 'collapse'>
			<div id = "comment-10475" class = "comment">
				<p>What sensors and actuators are using using? Can you provide more information about your system? Maybe this question should be migrated to SE.Mathematica?</p>
			</div>
			</div>
				<textarea id = "speech-7226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7226">
					<img id="start_img-7226" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7226">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7357"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7357" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://en.m.wikipedia.org/wiki/Nyquist_frequency" rel="nofollow">Nyquist sampling theory</a> says you are <strong>required</strong> to sample at least 2x the <em>highest frequency of interest</em> in order to prevent <a href="http://en.m.wikipedia.org/wiki/Aliasing" rel="nofollow">aliasing</a>. </p>

<p>You want to sweep (chirp) the system, so for inputs to the system you want to provide the samples at a rate greater than or equal to twice the highest frequency of interest. For your sweep the highest frequency is 10Hz, so you have to sample at least 20Hz, but some extra margin is generally desirable, so I would go for 25Hz.</p>

<p>Regarding outputs, the sampling rate is a different story. You haven't said what the system is or what you're expecting, so nobody here can comment on an appropriate output sampling rate. </p>

<p>For example, your input could be a PWM signal to a servo - input needs to be very fast, but the output (servo motion) is generally very slow by comparison. Or you could be sending a sync to a high speed process, where the process output is happening significantly faster than the input. In terms of actuators, two motors of otherwise similar construction but with different numbers of poles will operate at different speeds given the same inputs. Same goes for gearing, etc. etc. You have to identify a frequency of interest in the output to know what to choose as a sampling rate. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7357" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7357">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7357" class = 'collapse'>
			</div>
				<textarea id = "speech-7357" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7357">
					<img id="start_img-7357" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7357">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>