<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>At which stage should filtering be applied to the sensors data?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1097" class = "post">
			<h2>Question</h2>
			<div id="vote-1097" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 203</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>At which stage should filtering be applied to the sensors data?</h2>
<p>Shall I filter (kalman/lowpass) after getting the raw values from a sensor or after converting the raw values to a usable data? Does it matter? If so, why? </p>

<p>Example:
Filter after getting raw values from IMU
or 
filter after converting raw values to a usable data eg. flight dynamics parameters.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1097" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1097">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1097" class = 'collapse'>
			</div>
				<textarea id = "speech-1097" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1097">
					<img id="start_img-1097" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1097">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1103"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1103" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Filter the raw data.</p>

<p>Filtering weeds out (hopefully) most noise and errors. Raw data usually is not so useful.</p>

<p>Gyros drift, compasses has a lot of noise. Kalman can remove both.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1103" data-toggle = "popover">
				<p>user name : Nis</p>
				<p> user reputation : 302</p>
				<p class = "tagcontent" id = "usertaginfo-1103">{'None': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1103">Load Comments</button></br>
			<div id = "commentsection-1103" class = 'collapse'>
			<div id = "comment-2541" class = "comment">
				<p>Kalman conditions the senor readings on the robot pose, then updates the robot pose. You can't filter just sensor data without knowing robot pose. Otherwise you are just smoothing the data. While smoothing _is_ filtering, Kalman filtering is _not_ smoothing.</p>
			</div>
			</div>
				<textarea id = "speech-1103" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1103">
					<img id="start_img-1103" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1103">Comment</button>
			<br><div id = "ans-1104"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1104" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The KF estimates the robot pose based on all sensor inputs <em>and the sensor correlation</em>. If you do an EKF on the compass data, you'd really need the robot pose to determine how likely a given compass reading <em>is</em>. Without that, you are 
just low-pass filtering (not using a probabilistic filter like the KF).</p>

<p>If you filter before you put everything in the same frame, then I don't know what information you'd have to do filtering <em>on</em>.
Since I don't know exactly what you mean by "usable" I assume you have converted all sensor data into the coordinate frame of the robot. In that case, filtering is very easy since you can put all the sensor readings directly into one EKF. In fact, this is the "normal" way to do filtering, that I'm familiar with.</p>

<p><strong>Example</strong>:
Let's say your IMU is attached to a robot. The IMU will be used in estimating the pose of the robot. It doesn't matter what <em>units</em> you use as long as the IMU is telling you something about how the robot is moving. Then you can use the <em>corellation</em> of the IMU to other things that measure movement, such as the compass or odometers. That is what the KF is for. The KF is <em>not</em> a sensor filter like a bandpass filter or something.</p>

<p>There is a very relevant answer <a href="https://robotics.stackexchange.com/q/277/163">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1104" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1104">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1104">Load Comments</button></br>
			<div id = "commentsection-1104" class = 'collapse'>
			<div id = "comment-2544" class = "comment">
				<p>I have a hard time understanding your answer. Lets say I have to convert the raw values from an IMU to Euler's Angle. So I should filter the raw data before I convert? right?</p>
			</div>
			<div id = "comment-2545" class = "comment">
				<p>Let's say your IMU is attached to a robot. the IMU will be estimating the pose of the robot. It doesn't matter what _units_ you use as long as the IMU is telling you something about how the robot is moving. Then you can use the _corellation_ of the IMU to other things that measure movement, such as the compass or odometers. That is what the KF is for. The KF is _not_ a sensor filter like a bandpass filter or something.</p>
			</div>
			<div id = "comment-2546" class = "comment">
				<p>Ahhhh! Great answer Josh! :) I got it now. Thank you!</p>
			</div>
			</div>
				<textarea id = "speech-1104" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1104">
					<img id="start_img-1104" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1104">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>