<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Atlas Robot Reference
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2596" class = "post">
			<h2>Question</h2>
			<div id="vote-2596" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 358</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Atlas Robot Reference</h2>
<p>Boston Dynamics keeps making great robots, however, I dont see any papers that they publish.  Although now I can find papers on people using the ATLAS robot, I can not find an original paper detailing the robot or its mechanics designs.  Is there a reference for the robot, should I use youtube videos?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2596" data-toggle = "popover">
				<p>user name : user1938107</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-2596">{'dh-parameters': 0, 'None': 0, 'design': 2, 'humanoid': 2, 'mechanism': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2596" class = 'collapse'>
			</div>
				<textarea id = "speech-2596" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2596">
					<img id="start_img-2596" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2596">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2617"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2617" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Not really a solid answer, but...</p>

<p>Boston Dynamics does publish papers, though the only one I could find was the one for the BigDog: <a href="http://www.bostondynamics.com/img/BigDog_IFAC_Apr-8-2008.pdf" rel="nofollow">http://www.bostondynamics.com/img/BigDog_IFAC_Apr-8-2008.pdf</a></p>

<p>As for the ATLAS robot, it is nowhere to be found, but I believe that as soon as they publish it (if they ever do), it will be on their website <a href="http://www.bostondynamics.com" rel="nofollow">http://www.bostondynamics.com</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2617" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2617">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2617" class = 'collapse'>
			</div>
				<textarea id = "speech-2617" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2617">
					<img id="start_img-2617" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2617">Comment</button>
			<br><div id = "ans-2792"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2792" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What kind of "reference" do you want?  Some bibtex to reference in your paper?  Or detailed schematics?</p>

<p>If it is a paper reference, i'd probably just point to either BD's website above or this: <a href="http://www.theroboticschallenge.org" rel="nofollow">http://www.theroboticschallenge.org</a> or this: <a href="http://www.theroboticschallenge.org/files/ATLAS-Datasheet_v15_DARPA.PDF" rel="nofollow">http://www.theroboticschallenge.org/files/ATLAS-Datasheet_v15_DARPA.PDF</a>.  </p>

<p>If you want to look at their mechanics, take a look at the ROS URDF and gazebo models.  They can be downloaded from OSRF's bitbucket site: <a href="https://bitbucket.org/osrf/drcsim" rel="nofollow">https://bitbucket.org/osrf/drcsim</a>.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2792" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-2792">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2792" class = 'collapse'>
			</div>
				<textarea id = "speech-2792" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2792">
					<img id="start_img-2792" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2792">Comment</button>
			<br><div id = "ans-9261"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9261" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm sure they publish, and I bet you can't find anything because they're sponsored by the military. When I was in college, any research that was paid for by the military typically came with a rider that our theses and dissertations had to be made private for 1 year, and that was the longest the university would allow them to be withheld. I'm sure if they could have gotten more time they would have demanded it. </p>

<p>That said, Boston Dynamics is a company, and I'm sure they are competing for funding,  so I don't know that they are as comfortable demanding a short time line as a public university would be. </p>

<p>My advice would be to file freedom of information act requests to see if you can get any papers, if you're really that interested. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9261" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9261">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9261" class = 'collapse'>
			</div>
				<textarea id = "speech-9261" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9261">
					<img id="start_img-9261" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9261">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>