<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Attaching a M5 screw shaft to a cog wheel
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8775" class = "post">
			<h2>Question</h2>
			<div id="vote-8775" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 62</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Attaching a M5 screw shaft to a cog wheel</h2>
<p>Does anyone know of a good (low profile) way to attach the threaded (chamfered) end of a M5 screw shaft to a 30MM (30T 1M) plastic cog wheel? Would it be a good idea to widen the shaft hole and just let the threads grip the hole?</p>

<p><strong>EDIT</strong> The torque will be around 6kg-cm and the plastic I'm looking at is POM.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8775" data-toggle = "popover">
				<p>user name : WKleinberg</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-8775">{'gearing': 4, 'None': 0, 'torque': 4, 'mechanism': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8775" class = 'collapse'>
			</div>
				<textarea id = "speech-8775" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8775">
					<img id="start_img-8775" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8775">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8776"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8776" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A full answer depends on what plastic and what the load will be.  Having a depth of 30 mm does give you a lot of options.  </p>

<p>You can drill and tap ABS just fine, and I've had success drilling and tapping acrylic as long as I kept the tool slow so as not to overheat and warp.  We have also used self-tapping screws for Delrin and UHMW with good results (and some Loctite plastic bonder).  For plastics which are too brittle or too soft for direct threading, a very standard method is to place a threaded insert into a through-hole in the plastic.  Helicoil, Dodge, Acme, and others make these inserts.  The method of adhering the insert to the plastic depends on the process.  Look at the expansion inserts on pages 24 &amp; 25 of this Dodge catalog:  <a href="http://www.afi.cc/contentonly.aspx?file=images/vendors/DodgeInserts.pdf" rel="nofollow">http://www.afi.cc/contentonly.aspx?file=images/vendors/DodgeInserts.pdf</a>   Those seem like they would work well for you, as would the self-threading ones on page 28.</p>

<p>EDIT (load identified):  The 6 kg cm value is approximately 0.59 N m.  PEM's data for their M5 press-in threaded insert (pages 15 and 18 of <a href="http://www.pemnet.com/fastening_products/pdf/sidata.pdf" rel="nofollow">http://www.pemnet.com/fastening_products/pdf/sidata.pdf</a>) lists a torque limit of 4.02 N m for insertion into a polycarbonate plastic.  That is plenty of margin.  Given the large margin you could likely eliminate the Loctite step altogether. </p>

<p>EDIT 2 (plastic identified):  With POM you can use brass threaded inserts.  It is also a good candidate for direct drilling and tapping since it has low creep.  If you have cyclic loading I would go with the threaded brass inserts to ensure the threads remain consistent over the device's life.  If you are simply fastening items, and just need them to hold for your 6 kg cm torque load without other significant stresses, you should be fine with using thread-forming screws or the drill and tap method.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8776" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-8776">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8776">Load Comments</button></br>
			<div id = "commentsection-8776" class = 'collapse'>
			<div id = "comment-14374" class = "comment">
				<p>The torque for my application is around 6kg-cm. If I tap a hole in the plastic gear and turn the shaft in, will the Loctite hold? It'll just be Loctite that will be holding the shaft in place.</p>
			</div>
			<div id = "comment-14375" class = "comment">
				<p>Could you also edit your question to show what plastic material you are using?</p>
			</div>
			<div id = "comment-14377" class = "comment">
				<p>I've updated the OP now.</p>
			</div>
			</div>
				<textarea id = "speech-8776" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8776">
					<img id="start_img-8776" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8776">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>