<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>augmenting room magnetic field for smartphone sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9969" class = "post">
			<h2>Question</h2>
			<div id="vote-9969" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>augmenting room magnetic field for smartphone sensors</h2>
<p>is it possible to enhance (or redirect) the earth's magnetic field in a room or house so that one can write a small program that makes smartphones with hall-effect sensors detect more reliably in which direction they are pointing?</p>

<p>I presume a fridge magnet won't do the job...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9969" data-toggle = "popover">
				<p>user name : ivo Welch</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-9969">{'None': 0, 'sensors': 0, 'hall-sensor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9969">Load Comments</button></br>
			<div id = "commentsection-9969" class = 'collapse'>
			<div id = "comment-17791" class = "comment">
				<p>Welcome to *Robotics* ivoWelch, but I'm afraid that questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. Also, the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question. If you edit your question to fit our community guidelines we can reopen it for you.</p>
			</div>
			<div id = "comment-17792" class = "comment">
				<p>As it stands, the answer to your question is, "Yes, it's probably possible to make a stronger magnetic field in a room." Whether or not it's practical, the cost, how you would do it - all the things I think you're looking for - are all part of an unbounded, speculative design question. If that's the case, that's fine, but please ask it in [chat](http://chat.stackexchange.com/rooms/6221/asimovs-corner).</p>
			</div>
			<div id = "comment-17802" class = "comment">
				<p>ok.  makes sense.  for me, this question seemed halfway between robotics (there are hall effect sensors for arduinos, for example) and physics.</p>
			</div>
			</div>
				<textarea id = "speech-9969" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9969">
					<img id="start_img-9969" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9969">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9976"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9976" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This question might be better suited to <a href="https://physics.stackexchange.com/">the Physics StackExchange</a>, but the back-of-the-envelope calculation goes like this:</p>

<p>The Earth's magnetic field is 31.869  T, and a refrigerator magnet is 5000 T.  So the refrigerator magnet will very readily affect the magnetometer (not usually called a hall-effect sensor) on a smartphone.  </p>

<p>However, you will run into two very serious problems</p>

<ol>
<li><p>The strength of a magnet follows the inverse square law -- it drops off rapidly with distance.  You can verify this with a handheld compass: see how close your magnet needs to be in order for it to pull the needle away from magnetic north.</p></li>
<li><p>The magnetic field curves around the magnet.  For the earth, this is not a major concern because you are (more or less) standing on the surface where the lines run (more or less) straight from north to south.</p></li>
</ol>

<p>For your room-sized magnetic field to work, you would need to establish a magnet far enough away that its field lines would have minimal curvature through the area that you want to measure, and strong enough that those field lines would have enough strength to dominate the 31.869  T provided by Earth's magnetic field.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9976" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9976">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9976" class = 'collapse'>
			</div>
				<textarea id = "speech-9976" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9976">
					<img id="start_img-9976" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9976">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>