<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Automatic sliding window shutter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8462" class = "post">
			<h2>Question</h2>
			<div id="vote-8462" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 93</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Automatic sliding window shutter</h2>
<p>I want to build an automatic sliding window shutter and need help
with part selection and dimensioning.</p>

<p>Some assumptions: </p>

<ul>
<li>window width 1.4 m</li>
<li>sliding shutter weight 25 kg</li>
<li>max speed 0.07 m/s</li>
<li>max acceleration 0.035 m/s^2</li>
<li>pulley diameter 0.04m.</li>
</ul>

<p>Leaving out friction I need a motor with about 0.02 Nm of torque and a rated speed of 33 rpm.</p>

<p>What I would like to use:</p>

<ul>
<li><a href="http://electromen.com/en/products/item/motor-controllers/dc-motor-below-10A/EM-140A" rel="nofollow">motor controller</a> with soft-start and jam protection,</li>
<li><a href="https://www.maedler.de/product/1643/1331/1979/1349/stirnrad-kleingetriebemotoren-sf-24-v-bis-2-nm" rel="nofollow">dc motor 24V</a>,</li>
<li><a href="https://www.maedler.de/product/1643/1616/986/zahnriemenraeder-t25-fuer-riemenbreite-10-mm-aus-aluminium" rel="nofollow">Pulleys and timing belts</a>.</li>
</ul>

<p>Would you suggest other components or a different setup?
How do I connect motor and pulleys (clamping set?)?
Do I need additional <a href="https://www.maedler.de/product/1643/1629/stehlager" rel="nofollow">bearings</a> because of the radial load?</p>

<pre><code>M=P
M=B=P
M=P=B
M=B=P=B
</code></pre>

<p>(M motor, P pulley, B bearing, = shaft)</p>

<p>If so I have to extend the motor shaft. What would I use for that (clamp collars, couplings?)?
What width do I need for the belts? Which belt profile (T, AT, HDT) should I use?</p>

<p><strong>Update</strong></p>

<p>The construction I am aiming for resembles the one which can be seen on page 6 (pdf numbering) <a href="http://www.baier-gmbh.de/media/docs/schiebeladen/Schiebeladen-e.pdf" rel="nofollow">here</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8462" data-toggle = "popover">
				<p>user name : tauran</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-8462">{'None': 0, 'microcontroller': 2, 'design': 2, 'motor': 2, 'automation': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8462">Load Comments</button></br>
			<div id = "commentsection-8462" class = 'collapse'>
			<div id = "comment-15083" class = "comment">
				<p>Hi tauran.  At the moment, this question seems a bit too broad -- you're asking about a varied mix of big and small system components.  It's also unclear what the mechanical constraints are; would a garage door opening system work?  Would the motor from an automotive power window system work?  Why or why not?</p>
			</div>
			<div id = "comment-15087" class = "comment">
				<p>This is a question for [engineering.se] or [diy.se]. Not everything that has a motor is a robot.</p>
			</div>
			</div>
				<textarea id = "speech-8462" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8462">
					<img id="start_img-8462" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8462">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9109"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9109" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"Leaving out friction I need a motor with about 0.02 Nm [of torque] and [a rated speed of] 33 rpm." </p>

<p>No offense, but verifying your numbers based on your spec's:</p>

<blockquote>
  <p>window width 1.4 m</p>
  
  <p>sliding shutter weight 25 kg</p>
  
  <p>max speed 0.07 m/s</p>
  
  <p>max acceleration 0.035 m/s^2</p>
  
  <p>pulley diameter 0.04m.</p>
</blockquote>

<p>The max linear speed is equal to $r\omega$, where $\omega$ is the angular velocity in radians per second. Your pulley diameter is 0.04m, so your radius is 0.02m. This means that:</p>

<p>$$
v = r\omega \\
0.07 \mbox{m/s} = 0.02\mbox{m}*\omega \\
\omega = \frac{0.07}{0.02} \mbox{rad/s} \\
\omega = \frac{3.5 \mbox{rad/s}}{1}*\frac{60\mbox{s}}{1\mbox{m}}*\frac{1\mbox{rev}}{2\pi\mbox{rad}} \\
\omega = 33.4\mbox{rpm}
$$</p>

<p>So, your rated speed checks out. Now, the torque. If you ignore friction, then the only purpose for torque is to accelerate:</p>

<p>$$
\tau = I\alpha \\
$$</p>

<p>where $I$ is the moment of inertia, $\alpha$ is the angular acceleration is $\mbox{rad}/s^2$, and $\tau$ is the motor torque. Again, $a=r\alpha$, like $v = r\omega$, so $\alpha = a/r$. As the weight of the shutter is going to the pulley, you can consider it a point mass at radius $r$, meaning the moment of inertia $I = mr^2$. </p>

<p>So:</p>

<p>$$
\tau = I\alpha \\
\tau = (mr^2)(a/r) \\
\tau = r(ma) \\
\tau = (0.02\mbox{m})(25*0.035\mbox{kg m/s}^2) \\
\tau = 0.0175 \mbox{Nm} \\
$$</p>

<p>BUT - if this is for a <em>vertical</em> shutter, the motor has to support the weight of the shutter while it's accelerating it, so the moment of inertia is now $mgr$, or $25*9.81*0.02 = 4.9\mbox{Nm}$ - this dwarfs your acceleration requirement. </p>

<p>The required torque is small enough that I would suggest double checking your assumption that friction is negligible. That said, you have a rated speed and a rated torque, now you just need a rated power. For rotating systems:</p>

<p>$$
P = \tau\omega \\
$$</p>

<p>Where the previously calculated values torque and speed are $\omega = 3.5 \mbox{rad/s}$ and $\tau = 0.0175 \mbox{Nm}$, so:</p>

<p>$$
P = (3.5)(0.0175) \mbox{Nm/s} \\
P = 61\mbox{mW} \\
$$</p>

<p>So, based on your problem description, nearly any motor you can find will work, with the exception of the very smallest hobby motors. For instance, <a href="http://rads.stackoverflow.com/amzn/click/B00B1KZ8UU" rel="nofollow">this motor</a> has a rated speed of 120rpm, a rated torque of 0.6Nm, which is over 30x your requirement, for a rated mechanical power of about 7.5W. </p>

<p>A couple notes of caution, though:</p>

<p>These calculations make the assumptions that there is no friction <em>and</em> that there is no inertia between the motor and the shutter. Regarding bearings, I would probably use <em>bushings</em>, which are basically wear parts but are significantly less expensive and smaller than true bearings for light loads. I would definitely consider using at least one bushing to help minimize bending forces and wear on the output shaft bearing in the motor. </p>

<p>Without a better description (read: picture) of what your intended setup is I can't comment any further than this. In general, though, find the torque, speed, and power rating for the motor and add some performance margin and then just search the Internet. <em>You</em> have to finish the design before anyone here can comment specifically on it. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9109" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9109">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9109">Load Comments</button></br>
			<div id = "commentsection-9109" class = 'collapse'>
			<div id = "comment-15110" class = "comment">
				<p>Thanks Chuck for the nice and accurate calculation. I hope my update clarifies the intended design.</p>
			</div>
			</div>
				<textarea id = "speech-9109" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9109">
					<img id="start_img-9109" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9109">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>