<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>autonomous obstacle detecting quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4303" class = "post">
			<h2>Question</h2>
			<div id="vote-4303" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 634</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>autonomous obstacle detecting quadcopter</h2>
<p>Is it possible to build a quadcopter which can detect obstacles and thereby avoiding them in order to reach its destination?
If so,how could it avoid the obstacles and how can the destination be set</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4303" data-toggle = "popover">
				<p>user name : Charles Benny</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-4303">{'quadcopter': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4303" class = 'collapse'>
			</div>
				<textarea id = "speech-4303" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4303">
					<img id="start_img-4303" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4303">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4304"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4304" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is quite a broad question. I will just skim the surface assuming you were interested in the software aspect, and will describe the software architecture. From the software perspective you need localization, navigation/planning, and control modules at minimum. </p>

<p>The localization determines where the quadcopter and the obstacle are. It reads the positional sensor information, i.e. visual, sonic, GPU. Localization synthesizes the sensor information to produce an internal state of the world - the location and speed of the UAV and its surroundings at any given moment.</p>

<p>Navigation/planning takes the internal state and decides what the UAV should do next. There are number of ways to do this, from good-old hard-coding, to motion planning, reinforcement learning, etc. For autonomous obstacle-avoidance, methods like Probabilistic Roadmaps (PRMa)[1] and Rapidly exploring Random Trees (RRTs)[2] are popular and there is tons of work that use these methods. </p>

<p>After you have a path or a trajectory a controller in a closed-feedback loop sends the torque inputs to the UAVs motors that moves the UAV. The localization observes the next state, planning/navigation optionally adjusts the trajectory, and the controller sends the input again. And this process repeats.</p>

<p>As far as specifying the goal, the easiest is to provide coordinates, but in general there is no consensus. </p>

<p>If you want to see a movie of quadcopter autonomously avoiding obstacles, check out:
<a href="https://www.youtube.com/user/sandraorionnm/" rel="nofollow">https://www.youtube.com/user/sandraorionnm/</a> and take a look at [3].</p>

<p>[1] L. E. Kavraki, P.  Svestka, J. C. Latombe, and M. H. Overmars. Probabilistic roadmaps for path planning in high-dimensional configuration spaces. IEEE Trans. Robot. Automat., 12(4):566 580, August 1996.</p>

<p>[2] J.J. Kuffner and S.M. LaValle. RRT-connect: An efficient approach to singlequery
path planning. In IEEE International Conference on Robotics and Automation,
volume 2, pages 995  1001 vol.2, 2000.</p>

<p>[3] Aleksandra Faust, Ivana Palunko, Patricio Cruz, Rafael Fierro, and Lydia
Tapia. Automated aerial suspended cargo delivery through reinforcement
learning. Technical Report TR13-001, Department of Computer Science, University of New Mexico, August 2013</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4304" data-toggle = "popover">
				<p>user name : afaust</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-4304">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4304">Load Comments</button></br>
			<div id = "commentsection-4304" class = 'collapse'>
			<div id = "comment-6843" class = "comment">
				<p>thank you for your reply but i intend to complete this in a cost effective way.So it would be very greatful of you if you could suggest a way to reduce the cost.I plan on doing the above mentioned topic for my final year project.And by the way thankyu for your reply.</p>
			</div>
			<div id = "comment-6844" class = "comment">
				<p>@CharlesBenny You need to be more specific. Final year project for your master thesis, something else? Do you have anything to start with? The topic, as you asked, is way too general and complex. You should talk to your professor about it. With that said, hardware is expensive, writing software doesn't cost you a dime. Buy off-the-shelf parrot drone. They are few hundred dollars. Start building your software on top of the open source that is available for them.</p>
			</div>
			</div>
				<textarea id = "speech-4304" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4304">
					<img id="start_img-4304" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4304">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>