<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Autonomous Navigation without Distance Sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10334" class = "post">
			<h2>Question</h2>
			<div id="vote-10334" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 296</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Autonomous Navigation without Distance Sensors</h2>
<p>I'm doing a project with the iRobot Create 2. I want it to be able to map out a room and navigate to a point for example. My problem is that the robot doesn't have any distance sensors. What it can do is detect if there is an obstacle ahead of it or not (0 or 1) and it can measure how far it has traveled in millimeters. Any good techniques out there or best to buy an IR sensor?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10334" data-toggle = "popover">
				<p>user name : user2880566</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10334">{'mobile-robot': -1, 'None': 0, 'irobot-create': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10334">Load Comments</button></br>
			<div id = "commentsection-10334" class = 'collapse'>
			<div id = "comment-18528" class = "comment">
				<p>Does it have any physical "bump" sensors (switches)?  If so it may be possible to extend flexible "feelers" ahead of the main body. It might be a bit kludgy though.</p>
			</div>
			<div id = "comment-18529" class = "comment">
				<p>If we don't know what sensors it has we cannot help. Have you looked at [this?](http://www.irobot.com/About-iRobot/STEM/Create-2/Projects.aspx)</p>
			</div>
			<div id = "comment-18677" class = "comment">
				<p>Does the odometry account for wheels slipping?  In other words, if the vehicle is pressed up against an obstacle and the wheels are spinning, will the sensor tell you that you are making forward progress?</p>
			</div>
			</div>
				<textarea id = "speech-10334" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10334">
					<img id="start_img-10334" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10334">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10339"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10339" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With footslam or actionslam it is possible to locate pedestrian and smartphones even they have no distance-sensor. It is an advanced stochastic technic which is derived from classical "sebastian thrun slam" but uses less input data. The precision is low and thats the reason why footslam is often used together with other localisation techniques like satellite GPS. But, a "footslam only" implementation is possible.  Most research on this topic is done by DLR (Deutschen Zentrums f r Luft- und Raumfahrt) which also has invented lots of similar algorithms like MagSlam oder WISLAM.</p>

<p>According to <a href="https://robotics.stackexchange.com/questions/7648/irobot-create-2-sensors">iRobot Create 2 sensors</a> the irobot Create 2 has a "light bumper" as a sensor. To use this in a stochastic model the following sources may help:</p>

<ol>
<li>Hassan A. Karimi: Indoor Wayfinding and Navigation, 2015, page 125-139</li>
<li>Dmytro Bobkov: Simultaneous Localisation and Mapping for 3D Pedestrian </li>
<li>Michael Hardegger, Michael: Navigation based on FootSLAM using Inertial Sensors, 2012</li>
<li>ActionSLAM on a Smartphone: At-Home Tracking with a Fully Wearable System, 2013</li>
</ol>

<p>According my knowledge, there is no ready-to-run footslam-implementaton on github which can be used via out-of-the-box. But under the term "indoor mapping" there are a lots of opensource projects which are used together with smartphones.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10339" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10339">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10339">Load Comments</button></br>
			<div id = "commentsection-10339" class = 'collapse'>
			<div id = "comment-18619" class = "comment">
				<p>Would you please expand your answer with a source or some math? This is an interesting problem, and OP might be able combine the FootSlam with localization using the Create 2 dock, which projects a cross on the ceiling of the room using IR.</p>
			</div>
			<div id = "comment-18620" class = "comment">
				<p>I see your point. According to a google search with "site:http://robotics.stackexchange.com footslam" there is no other answer before which explaines what footslam is. So a litte bit further information are necessary.</p>
			</div>
			<div id = "comment-18621" class = "comment">
				<p>@ManuelRodriguez - Even if other answers existed on this site, all answers should ideally be fully documented. If you were to have found another answer that *did* explain the method, and you didn't want to re-explain it, you can link to that answer (with context).</p>
			</div>
			</div>
				<textarea id = "speech-10339" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10339">
					<img id="start_img-10339" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10339">Comment</button>
			<br><div id = "ans-10422"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would suggest you better used some ultrasonic sensors. iRobot is compatible with both arduino and raspberry pi. There are lots of good and cheap sensors, for both platforms, along with some good examples on the net. You have to find a way to save the data though. That means two things: 1. you need extra space to save those (if in arduino) and 2. find a formula to create them. What you suggested with the travel per millimeters should definitely be into consideration. Sensors are to declare what and where is an obstacle. Another problem is making your robot "unerstand" in which point of the mapped area is it moving at a given time, so that it won't have to check again what an obstacle looks like. Last but not least, it has to know when to stop mapping a room. Start by letting it calculate the dimensions of the area it will be moving into (going round the walls).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10422" data-toggle = "popover">
				<p>user name : Chris Tsiakoulas</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-10422">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10422" class = 'collapse'>
			</div>
				<textarea id = "speech-10422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10422">
					<img id="start_img-10422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10422">Comment</button>
			<br><div id = "ans-10541"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10541" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One solution might be our <a href="http://www.marvelmind.com" rel="nofollow">Indoor "GPS" product</a> which works indoors and gives +-2cm accuracy.</p>

<p>Here is a demo on a small robot moving fully autonomously: <a href="https://youtu.be/TBTw1njQ7QY" rel="nofollow">https://youtu.be/TBTw1njQ7QY</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10541" data-toggle = "popover">
				<p>user name : Marvelmind Robotics</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10541">{'None': -5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10541">Load Comments</button></br>
			<div id = "commentsection-10541" class = 'collapse'>
			<div id = "comment-18962" class = "comment">
				<p>Welcome to *Robotics* Marvelmind Robotics, but please read [What kind of behavior is expected of users?](http://robotics.stackexchange.com/help/behavior) and [How not to be a spammer](http://robotics.stackexchange.com/help/promotion). The way this was written, it looks less like an answer and more like an advert for your product, which explains why it has been flagged as spam. I've tidied it up a little, but to make it a useful answer in it's own right, you should also mention the pros and cons of 'indoor gps' and why you think this would solve the problems posed in the question.</p>
			</div>
			</div>
				<textarea id = "speech-10541" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10541">
					<img id="start_img-10541" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10541">Comment</button>
			<br><div id = "ans-10572"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10572" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"I want it to be able to <strong>map out a room</strong> and navigate to a point for example."</p>

<p>to map the room you need to localize the robot (thus you have to implement SLAM algorithm), unless you have a mean of recuperating the position of the robot (localizing it)</p>

<p>Navigation is another problem, I suggest you start working on the SLAM problem to map the environment later on you could tackle the navigation problem</p>

<p>" My problem is that the robot doesn't have any distance sensors."</p>

<p>you don't necessarily need a distance sensor (LIDAR for example), you can use a web cam and implement a kind of SLAM known as monocular SLAM</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10572" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10572">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10572" class = 'collapse'>
			</div>
				<textarea id = "speech-10572" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10572">
					<img id="start_img-10572" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10572">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>