<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Automatic agricultural robot using 8051
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6648" class = "post">
			<h2>Question</h2>
			<div id="vote-6648" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 112</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Automatic agricultural robot using 8051</h2>
<p>I want to build a automatic agricultural robot for my final year diploma project. The basic idea is to program 8051 to drive the robot in a fixed path in farm for ploughing the farm which i am planning to do by setting a particular distance till which it will go straight and then take a U turn and plough in next lane. Width of the farm will also be set so when it completes full farm it'll stop and go back to starting point. the only catch is to reprogram it as per size of the farm of the person who uses it. So i want to add a number pad with which he can set the length and width of the farm as well as width of each lane as per his needs without professional help. Can this be done using 8051 or should i go for AVR or PIC microcontrollers. I have just started studying programming and interfacing of 8051 so I am not that good in programming. If its possible how do i do it. can someone please help me with circuit diagram for this project. After everything i said i need in my project if i still get an empty port in microcontroller I would love to add a fertilizer sprayer or water irrigation system and a GSM module so that a farmer can simply ask the robot to start working using his mobile phone. As I am making just a prototype i want it to be as small as possible. Suggestions are welcomed.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6648" data-toggle = "popover">
				<p>user name : devansh</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-6648">{'None': 0, 'microcontroller': 1, 'wheeled-robot': 1, 'electronics': 1, 'artificial-intelligence': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6648" class = 'collapse'>
			</div>
				<textarea id = "speech-6648" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6648">
					<img id="start_img-6648" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6648">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6669"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6669" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Because you want your prototype to be as small as possible, it would be important to pick a "job" for the farmer that is well suited to a small platform. Tillage is going to require lots of horsepower and is, therefore, perhaps not the best match. There is considerable interest currently in weeds, for example. Perhaps give your prototype some boundary within which to work and have it search for weeds? Generally speaking, we find that the perfect rectangular field is less common than might be expected, so I'd keep that in mind as you develop a coverage algorithm.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6669" data-toggle = "popover">
				<p>user name : kbares</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6669">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6669" class = 'collapse'>
			</div>
				<textarea id = "speech-6669" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6669">
					<img id="start_img-6669" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6669">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>