<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Autonomous car steering using IR sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1974" class = "post">
			<h2>Question</h2>
			<div id="vote-1974" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1134</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Autonomous car steering using IR sensors</h2>
<p>I want to steer a RC car in a straight line.The car has 4 sharp IR sensors on each corner of the car to help it steer the corridor.The corridor is irregular and looks something similar to the picture below.</p>

<p>The car needs to be stay exactly at the middle(shown by lighter line) and take help of the IR sensors to correct its path.</p>

<p>The car has a servo on the front wheel to steer and another that controls the speed.</p>

<p>I tried running it using a algorithm where it summed the values on each side of the car and took the difference.THe difference was then fed to a pid control the output of which went to steer the car.The greater the value from the pid (on either sides), the greater the value of the steering angle till it reaches the middle.</p>

<p>It works for the part where the walls are at similar distance from the center and even then it oscillates a lot around the center and fails miserably around the bumps in the corridor.</p>

<p>I need to make changes to the algorithm and need some help in steering me  in the right direction.</p>

<p>The IR sensors are too finicky and is there a way to filter out the noise and make the readings more stable?</p>

<p>Any help regarding the changes that needs to be implemented is much appreciated.</p>

<p>Currently the car only uses 4 IR sensors to guide.I can also use 2 ultrasonic sensors.</p>

<p><img src="https://i.stack.imgur.com/sXdUT.png" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1974" data-toggle = "popover">
				<p>user name : SteveIrwin</p>
				<p> user reputation : 92</p>
				<p class = "tagcontent" id = "usertaginfo-1974">{'None': 0, 'power': 2, 'valve': 2, 'stepper-driver': 2, 'actuator': 2, 'mobile-robot': 3, 'stepper-motor': 2, 'sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1974">Load Comments</button></br>
			<div id = "commentsection-1974" class = 'collapse'>
			<div id = "comment-4018" class = "comment">
				<p>It would help to know more about your setup. Does your robot have other sensors? Do you have a map of the environment? Do you have a model of how your control inputs effect the state of your robot?</p>
			</div>
			<div id = "comment-4020" class = "comment">
				<p>Welcome to *Robotics* Stevelrwin, that's an interesting question. I don't have enough knowledge of the techniques to answer properly, buy you might want to read up on Kalman Filters. See the [Kalman Filter](http://en.wikipedia.org/wiki/Kalman_filter) Wikipedia page and question in the [tag:kalman-filter], [tag:imu] and [tag:navigation] tags. The important thing here is that the walls are parallel to the path you want to take and you should be able to follow them if you disregard the step changes (bumps) and missing data (side passage).</p>
			</div>
			<div id = "comment-4031" class = "comment">
				<p>Based on the image you have, I'm unclear as to how the robot is expected to know the "correct" path (the center line) when it passes the corridor followed immediately by the recessed wall at the bottom of the map.  Without a compass, how do you expect to tell the difference between a change in wall depth and a change in orientation?</p>
			</div>
			</div>
				<textarea id = "speech-1974" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1974">
					<img id="start_img-1974" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1974">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1977"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1977" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have a map, then you can use a Kalman filter with a motion update based on odometry and a sensor update based on the actual IR sensor readings and the expected sensor readings given your current position and the map. The PID control you implemented will only be able to make the vehicle drive in the actual center of the hallway, which would be a curved path based on the bumps in the hallway.</p>

<p>HOWEVER, the simplest things you should try are as follows: 1) Implement an averaging filter on the IR sensor readings...aka take the average of n IR readings as the input to your control algorithm. This simulates a low pass filter and can eliminate high frequency noise. 2) Implement a threshold filter on the IR sensors...if the readings are greater than some range value, then DON'T use that sensor in your control loop. Combined, an averaging filter and threshold filter should mean that your PID loop is only controlling to the center of the walls that you want. In the image below, the algorithm would only control based off readings from the red walls, ignoring any readings from the black walls. If you don't find any walls within your range threshold (i.e. the hallway is open on both sides, you can try just maintaining your current heading). </p>

<p><img src="https://i.stack.imgur.com/j336U.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1977" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-1977">{'None': 54}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1977">Load Comments</button></br>
			<div id = "commentsection-1977" class = 'collapse'>
			<div id = "comment-4036" class = "comment">
				<p>Hey Steve, if you're the one that voted up my answer, please select it as the accepted answer. Thanks in advance.</p>
			</div>
			</div>
				<textarea id = "speech-1977" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1977">
					<img id="start_img-1977" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1977">Comment</button>
			<br><div id = "ans-1988"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1988" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could have it keep track of the last distance read from the IR sensors and if it changes more than a certain amount (2%? not sure what would work for you) calculate the difference between the measured distance and the expected distance. Save that difference as an offset, which you apply to the reading from that IR sensor until it returns to normal. If the sensor reads 'infinity' you could ignore the actual reading entirely and just give the PID loop the "expected" value. This is entirely untested.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1988" data-toggle = "popover">
				<p>user name : user1091954</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-1988">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1988" class = 'collapse'>
			</div>
				<textarea id = "speech-1988" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1988">
					<img id="start_img-1988" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1988">Comment</button>
			<br><div id = "ans-1993"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1993" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I had problems with servo jitter and power surges when the motors where running which reset the Arduino I was uisng.
I sorted the problem by using capacitors on my servo &amp; main power rails. My thinking is that you have the same type of noise affecting the IR sensors.
Take a look at these posts on Let's Make Robots which should help you track down the source of the noise. <br>
<a href="http://letsmakerobots.com/node/23297" rel="nofollow">http://letsmakerobots.com/node/23297</a> <br>
<a href="http://letsmakerobots.com/node/5549" rel="nofollow">http://letsmakerobots.com/node/5549</a>  <br>
<a href="http://letsmakerobots.com/node/3880" rel="nofollow">http://letsmakerobots.com/node/3880</a>  <br><br>
If you use the ultrasonic sensors there is a good library for the Arduino called NewPing which has good function within as it can be set a maximum distance to scan for. So if you know the width of the corridor you could half it then set a flag when reading within or outside that range       </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1993" data-toggle = "popover">
				<p>user name : OricTosh</p>
				<p> user reputation : 86</p>
				<p class = "tagcontent" id = "usertaginfo-1993">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1993" class = 'collapse'>
			</div>
				<textarea id = "speech-1993" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1993">
					<img id="start_img-1993" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1993">Comment</button>
			<br><div id = "ans-7374"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7374" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a new interpretation of Grey Walter's Tortoise.</p>

<p><a href="http://en.wikipedia.org/wiki/William_Grey_Walter" rel="nofollow">http://en.wikipedia.org/wiki/William_Grey_Walter</a></p>

<p>Try a BEAM robotics approach of a very simple control system that reacts to 
nearing obstacle by steering the opposite direction.  Look at a subsumption / augemented finite state machine (<a href="http://people.csail.mit.edu/brooks/papers/AIM-1091.pdf" rel="nofollow">enter link description here</a>) to layer the higher goal of driving onto near term obstacle avoidance.</p>

<p>This is a solved problem. But I caution you to consider bumper switches as well in case the reflectant geometry misses nearby objects to give you another layer of safety.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7374" data-toggle = "popover">
				<p>user name : daemondave</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-7374">{'quadcopter': 0, 'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7374" class = 'collapse'>
			</div>
				<textarea id = "speech-7374" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7374">
					<img id="start_img-7374" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7374">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>