<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Autonomous Indoor Positioning System Robot based on CV approach
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9545" class = "post">
			<h2>Question</h2>
			<div id="vote-9545" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 268</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Autonomous Indoor Positioning System Robot based on CV approach</h2>
<p>I have some questions regarding an IPS autonomous robot system,</p>

<p>Configuration: </p>

<ul>
<li>Mounting a camera to the ceiling of a room</li>
<li>Assume the room is a cube of 5mx5mx5m (LxWxH)</li>
<li>Assume the camera is Microsoft LifeCam Studio (CMOS sensor technology, Sensor Resolution: 1920 X 1080, 75  diagonal field of view, Auto focus from 0.1m to   10m, Up to 30 frames per second, Frequency Response: 100 Hz   18 kHz)</li>
<li>A rover</li>
</ul>

<p>Objectives:</p>

<ul>
<li>By putting the rover in an unknown location (x,y) in the room, the system should localize the rover's position</li>
<li>After the rover's coordinates will be known, Navigation will be the next step</li>
<li>We want the rover to navigate from the known coordinates (x1,y1) (let's say point A) to another point B on the map (x2,y2)</li>
<li>Control signals will be sent to the rover's servos to complete the navigation task</li>
</ul>

<p>Methodology:</p>

<ul>
<li>Camera will capture the environment in real time</li>
<li>Environment will be represented as cells (occupancy grid mapping)</li>
<li>Assume each cell represents 5 cm in the environment</li>
<li>Rover will be localized by the system point A</li>
<li>Determine the navigation to point B</li>
<li>Determine the path of the rover in the grid map (ex: go x cells horizontal then y cells vertical)</li>
<li>Control Signal will be sent to rover's servos</li>
</ul>

<p>Questions:</p>

<ul>
<li>Can I use this camera for this task or I need another type of cameras ?</li>
<li>What are the factors affecting the system accuracy ?
(ex: Sensor Resolution - FOV - FPS - Frequency Response - Distance of the camera in the ceiling)</li>
<li>What's is the most important factor to consider to increase the accuracy ?</li>
<li>I would appreciate any opinions regarding the project</li>
</ul>

<p>King Regards,
Thank you</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9545" data-toggle = "popover">
				<p>user name : Joenn</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-9545">{'None': 0, 'computer-vision': 2, 'localization': 2, 'mapping': 2, 'slam': 2, 'mobile-robot': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9545" class = 'collapse'>
			</div>
				<textarea id = "speech-9545" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9545">
					<img id="start_img-9545" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9545">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9546"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9546" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The camera should work fine as long as you can easily find the rover in the environment. An easy way to accomplish this is to place two different colored markers on the rover. By finding the markers in the image you can get position and orientation. </p>

<p>You'll need to calibrate the camera to get focal lengths and the optical center. This is easily done with the ros package camera_calibration though there are many similar packages out there that would work. As long as you've done a decent job calibrating the camera and can accurately find the markers on the vehicle you should have a very accurate estimate of the rover's position.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9546" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-9546">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9546">Load Comments</button></br>
			<div id = "commentsection-9546" class = 'collapse'>
			<div id = "comment-16874" class = "comment">
				<p>I am willing to use LabVIEW with robotics module, and it has the ros toolkit although, I was just asking about the camera because most of the SLAM system uses stereoscopic cameras, + I didn't find many IPS systems using the CV approach, most of the approaches are ultrasound,RF</p>
			</div>
			<div id = "comment-16875" class = "comment">
				<p>what is an IPS system?</p>
			</div>
			<div id = "comment-16876" class = "comment">
				<p>it doesnt matter how you get the camera parameters, i was just suggesting an approach that i know works.</p>
			</div>
			<div id = "comment-16877" class = "comment">
				<p>I believe i have answered your question</p>
			</div>
			<div id = "comment-16881" class = "comment">
				<p>IPS = Indoor Positioning System, Yea, thank you. I was just commenting on your answer</p>
			</div>
			</div>
				<textarea id = "speech-9546" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9546">
					<img id="start_img-9546" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9546">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>