<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Autonomous boat obstacle avoidance
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11576" class = "post">
			<h2>Question</h2>
			<div id="vote-11576" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 74</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Autonomous boat obstacle avoidance</h2>
<p>I am currently considering joining the MicroTransat challenge and develop an autonomous boat able to survive the harsh Ocean environment.
However, as for security and to ensure the boat doesn't sink due to collisions, I am looking for possible ways to implement a basic obstacle avoidance system. <br>The prototype will harvest power from solar panels (and maybe a Stirling engine) and will run a Raspberry Pi as route planner.</p>

<p>Up to now I have come up with the following:<br></p>

<ul>
<li>AIS receiver: can be useful to track ships above 300t and simple receivers don't use too much power;</li>
<li>Hydrophones array: may sense boat engines and the sound origin, very unreliable as a system;</li>
<li>Lidar/ultrasonic rangefinder: not suitable for marine environment;</li>
<li>Computer vision: difficult to implement but highly reliable, I guess sea waves will be a issue.</li>
</ul>

<p>Ideally, the boat should keep away from other boats, floating objects and rocks, yet just ship avoidance would be very helpful.<br>
Which one(s) do you believe can be included to offer a basic obstacle avoidance ability?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11576" data-toggle = "popover">
				<p>user name : Anelito</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-11576">{'control': 0, 'None': 0, 'automation': 0, 'ros': 0, 'navigation': 0, 'research': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11576">Load Comments</button></br>
			<div id = "commentsection-11576" class = 'collapse'>
			<div id = "comment-20734" class = "comment">
				<p>How big is your boat going to be? What do you mean by "floating objects" - is it a plastic bag, or dead tree? Why rocks? Can't you just pick a a route that after leaving a port keeps a distance of couple km to the closest land?</p>
			</div>
			<div id = "comment-20745" class = "comment">
				<p>@mactro it's going to be around 2m hull line. Floating objects are all the possible threats to the boat, such as dead trees and other vessels. The ultimate goal is to cross the Atlantic, thus the overall idea is to create a reliable obstacle avoidance system.</p>
			</div>
			</div>
				<textarea id = "speech-11576" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11576">
					<img id="start_img-11576" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11576">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11578"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11578" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you considered forward-looking <a href="http://en.wikipedia.org/wiki/sonar" rel="nofollow noreferrer">active sonar</a> ?</p>

<p>Perhaps using off-the-shelf <a href="http://en.wikipedia.org/wiki/fishfinder" rel="nofollow noreferrer">fishfinder</a> hardware?</p>

<p>My understanding is that active sonar sensitive enough to detect (relatively soft) fish a hundred feet away can detect icebergs,  large boats, rocks, <a href="http://ieeexplore.ieee.org/document/1151206/" rel="nofollow noreferrer">shoreline</a>, etc. over a mile away, because they are harder and so more reflective to the sonar.
(My understanding is that the <a href="http://en.wikipedia.org/wiki/Fessenden_oscillator" rel="nofollow noreferrer">first successful acoustic echo ranging device</a> was specifically created for obstacle detection -- to detect icebergs in response to the RMS <em>Titanic</em> disaster of 1912).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11578" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-11578">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11578">Load Comments</button></br>
			<div id = "commentsection-11578" class = 'collapse'>
			<div id = "comment-20732" class = "comment">
				<p>usually sonars are employed to reduce the risks of underwater collisions and groundings but in the Ocean I would be more concerned about floating objects and other boats. Maybe a radar would be more suited</p>
			</div>
			<div id = "comment-20733" class = "comment">
				<p>@Anelito: The first link in this answer says 1914 sonar can detect one kind of floating object "at two miles (3 km) range". I suspect sonar is better at detecting wood and fiberglass boats, while I suspect radar is better at detecting metal boats.</p>
			</div>
			<div id = "comment-20768" class = "comment">
				<p>I am still unsure about power requirements for this kind of sonar detection as it needs to be very sensitive and look after a quite wide surface.</p>
			</div>
			<div id = "comment-20775" class = "comment">
				<p>It sounds like you want to know "I'm developing a solar-powered autonomous boat. How much power is required for a sonar that can detect other boats?" That sounds like an excellent question to ask as a top-level question, rather than being buried in a comment. ( "[Ask the user to create a new question after being asked in comments](http://meta.stackoverflow.com/questions/318267/ask-the-user-to-create-a-new-question-after-being-asked-in-comments)" ).</p>
			</div>
			</div>
				<textarea id = "speech-11578" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11578">
					<img id="start_img-11578" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11578">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>