<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Automated high-precision weighing of individual parts
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10618" class = "post">
			<h2>Question</h2>
			<div id="vote-10618" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Automated high-precision weighing of individual parts</h2>
<p>I'm trying to automate a process wherein individual small parts must be weighed one after another for identification / sorting.</p>

<p>The parts would be fed to the scale using a conveyor. A mechanism is in place to feed the parts one at a time (i.e. sufficient spacing between the parts).</p>

<p>I know that it is possible to have weighing idlers on industrial conveyors but their precision and repeatability seem to be inadequate for precision weighing. The parts range in weight from 100mg to 30g so the only type of scale that I've found that has sufficient precision (10mg or better) are precision/laboratory scales. For example: <a href="http://www.torbalscales.com/precision-scales.html" rel="nofollow">Torbal Precision Scales</a>.</p>

<p>I can imagine a solution wherein a lightweight flat surface (e.g. plexiglass) could be laid atop the scale plater upon which the feed conveyor would deposit the parts to be weighed. Then, after a stable weight has been read by computer via the integrated RS-232 port, a motor controlled "sweeping mechanism" could brush off the part from the plexiglass plater onto a discharge conveyor system for routing into one of many possible part bins.</p>

<p>Given this, I have two questions:</p>

<ol>
<li>Is there a technology that I'm unaware of that could achieve individual small part weighing that would be simpler than stated solution?</li>
<li>Would the plexiglass platter (used to create a larger flat surface) cause too much pre-loading to the load cells, thereby affecting the scales performance / durability in any way?</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-10618" data-toggle = "popover">
				<p>user name : Dragonspell</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10618">{'None': 0, 'mechanism': 1, 'automation': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10618">Load Comments</button></br>
			<div id = "commentsection-10618" class = 'collapse'>
			<div id = "comment-19071" class = "comment">
				<p>Can you separate your objects visually? (Size, Color) Or with other tools (magnetometer) ?</p>
			</div>
			<div id = "comment-19073" class = "comment">
				<p>I have seen computer vision used for similar tasks. The simplicity of weighting parts is hard to beat, but if two parts are too similar in weight or even equal (like two parts with mirrored geometry), you will run into problems if you want to differentiate between them. Double check your requirements if a solution solely based on weight is sufficient.</p>
			</div>
			<div id = "comment-19106" class = "comment">
				<p>how precise should be the measurements. how massive are the parts. up to 0.01g looks like or, way to go. After that need to prevent air disturbances to affect measurements, I guess.</p>
			</div>
			<div id = "comment-19110" class = "comment">
				<p>Is the objective to determine the weights of unknown parts or to identify known parts? If you already know the parts, consider Bending Unit 22's comment.</p>
			</div>
			<div id = "comment-19112" class = "comment">
				<p>The objective is to identify known parts. There are a few hundred part types to identify. Most parts are small and light and the closest ones vary in weight by only 30/40 mg. Therefore, I was hoping that a 10mg scale resolution would be sufficient. I agree that computer vision could be used, however that is not a field that I know much about and I was hoping to keep it as a last resort.</p>
			</div>
			</div>
				<textarea id = "speech-10618" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10618">
					<img id="start_img-10618" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10618">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>