<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>automatic sorting with barcode identification inside a refrigerator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1489" class = "post">
			<h2>Question</h2>
			<div id="vote-1489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 253</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>automatic sorting with barcode identification inside a refrigerator</h2>
<p>I'm endeavoring to prototype a challenging sorting mechanism inside a fridge and would appreciate any constructive tips on how to get from the specs to a plausible design.</p>

<h3>Problem</h3>

<p>The aim of the game is to identify and sort food items in the limited space of a fridge
-   such that a user would push their unsorted shopping into a chamber at the top of the enclosure
-   and the machine inside would then try to identify the contents with help of bar-codes (first big problem)
-   and then sort and move the items according to their identities into different chambers below (second big problem). </p>

<h3>Solution?</h3>

<p>Are there any existing devices that already serve such functions (automatic bar-coding and sorting), the designs of which could perhaps inform the mechanics of the device I'm planning to construct?</p>

<ul>
<li>I'm thinking maybe manufacturing plants</li>
<li>or packing factories with conveyor belts etc may use systems that already solve such problems? </li>
<li>Or filtering mechanisms in candy dispensers,</li>
<li>mechanized lifting forks? </li>
<li>Textbook engineering mechanisms?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-1489" data-toggle = "popover">
				<p>user name : Cel</p>
				<p> user reputation : 102</p>
				<p class = "tagcontent" id = "usertaginfo-1489">{'None': 0, 'cameras': -2, 'sensors': -2, 'motor': -2, 'arduino': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1489">Load Comments</button></br>
			<div id = "commentsection-1489" class = 'collapse'>
			<div id = "comment-3145" class = "comment">
				<p>What is your specific question? It sounds like you're asking someone to invent a product for you.</p>
			</div>
			<div id = "comment-3146" class = "comment">
				<p>the question is Are there any existing devices that already serve such functions (automatic bar-coding and sorting)? Im actually trying to not reinvent the wheel and hoping that there is a specific device out there that already solves one or both of these problems?</p>
			</div>
			<div id = "comment-3147" class = "comment">
				<p>@Jean-Baptiste Welcome to _Robotics.SE_, I converted your answer to a comment since you don't have the necessary rep points yet.</p>
			</div>
			<div id = "comment-3148" class = "comment">
				<p>If I understand the big picture correctly, you want to use the barcodes as a shortcut to retrieving the dimensions of the products in the shopping basket.  Then, you would solve the problem of packing the refrigerator.  Is that accurate?</p>
			</div>
			<div id = "comment-3153" class = "comment">
				<p>@Ian yes, but the identity of the products is needed for moving different foods into different chambers later as well; could use some kind of optical recognition or RFIDs, too, but each has its own problems</p>
			</div>
			<div id = "comment-3157" class = "comment">
				<p>The short answer is "yes" -- any mail or package delivery system will have devices for sorting boxes based on machine-readable codes.  However, this question as written is offtopic for this site.</p>
			</div>
			<div id = "comment-3161" class = "comment">
				<p>If you google for *Mechatronic solutions provider* you will find hundreds of companies around the world which specialise in building automated systems of this kind. Making decisions based on barcodes read from packaging is standard industry practice and much too wide an area to be covered in a lowly stack exchange question.</p>
			</div>
			<div id = "comment-3162" class = "comment">
				<p>Sigh, multiposted to [*Electrical Engineering*](http://electronics.stackexchange.com/q/74256/3774) and [other](http://www.physicsforums.com/showthread.php?p=4428276#post4428276) places [too](http://www.mechanical-engineering.in/index.php/index.html).</p>
			</div>
			</div>
				<textarea id = "speech-1489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1489">
					<img id="start_img-1489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1489">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1491"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1491" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Moving it around requires, apart the mechanics, always a free and therefore unused space. Wouldn't you rather like to know, <em>what</em> is in <em>which</em> position? And for the barcode: it can become unreadable by ice. I'm thinking of using RFID for a similar project for about 10 fridges with each 30 boxes in it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1491" data-toggle = "popover">
				<p>user name : ott--</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-1491">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1491">Load Comments</button></br>
			<div id = "commentsection-1491" class = 'collapse'>
			<div id = "comment-3159" class = "comment">
				<p>thanks! im interested in your project more, especially as to how you intend to achieve the identification, id be happy to chat more about it by email or chat here etc?</p>
			</div>
			<div id = "comment-3165" class = "comment">
				<p>@Cel Add contact info to your profile (like a website).</p>
			</div>
			<div id = "comment-3166" class = "comment">
				<p>i put in my linkedin details, please add / ping me there so we can have a further conversation</p>
			</div>
			</div>
				<textarea id = "speech-1491" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1491">
					<img id="start_img-1491" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1491">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>