<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Auto Stabilising Flight
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10599" class = "post">
			<h2>Question</h2>
			<div id="vote-10599" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 37</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Auto Stabilising Flight</h2>
<p>At the moment this project is purely hypothetical but my friend and I were looking to make a model airplane which could stabilize its flight to be a straight line. Basically, we want there to a button on the controller or a separate transmitter which, when activated, would cause the plane to fly in a straight, horizontal line in whichever direction it was facing. The instrumentation we believe we would need is a three axis accelerometer, so that it can level the plane to fly horizontally with the ground and keep the roll and yaw steady. My question is, would this work? When I talked it over with my dad (who does a lot of this kind of thing) he suggested that we might need a Kalman filter to keep the instrumentation from gradually drifting off course but, being a high school student, that sounds a little intimidating. Any comments on feasibility or improvements would be greatly appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10599" data-toggle = "popover">
				<p>user name : Ulthran</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-10599">{'None': 3, 'kalman-filter': 0, 'automation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10599">Load Comments</button></br>
			<div id = "commentsection-10599" class = 'collapse'>
			<div id = "comment-19040" class = "comment">
				<p>Do you only want to use a accelerometer or could you also add GPS? Also you want the plane to keep facing in the same direction, or keep  its velocity pointing in the same direction (wind from the side can make these two different)?</p>
			</div>
			<div id = "comment-19041" class = "comment">
				<p>A GPS could be added, and I think that is in our plans now. The idea would be to have it pointing to the same geographical location all the time so yes, wind would have to be accounted for.</p>
			</div>
			</div>
				<textarea id = "speech-10599" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10599">
					<img id="start_img-10599" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10599">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10600"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10600" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>1- it would be better if you use a 9 DOF IMU (gyro, accelerometer, compass) and fuse the data to get a better estimate of the state of your model airplane</p>

<p>2- Then I would suggest that you study what is a PID controller so that you could control the variable of interest</p>

<p>3- The kalman filter your dad mentioned would be used to fuse the data of the IMU (point 1), it is indispensable as it would improve the state estimate </p>

<p>4- You could start without the kalman filter with a model that is not very stable and gradually improve it to employ a kalman filter (later you could even delve into particle filters)</p>

<p>5- It requires some work, as flight control is a bit tricky, but I think with some research you can do it (even though it is a little bit more advanced than high school level)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10600" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10600">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10600">Load Comments</button></br>
			<div id = "commentsection-10600" class = 'collapse'>
			<div id = "comment-19042" class = "comment">
				<p>Thanks. This is just what I'm looking for. When you say "control the variable of interest" though, what do you mean by that?</p>
			</div>
			<div id = "comment-19043" class = "comment">
				<p>@Ulthran The variable of interest would be whatever your goal is - to fly on a compass heading (maintain a direction/bearing), or as one of your comments implies, to fly towards a geographical location while correcting for wind (which is a bit more complex to define - does it circle when it reaches there?).</p>
			</div>
			<div id = "comment-19045" class = "comment">
				<p>Exactly as @Andy said. For example if you want your airplane to follow a certain path, you would have to control several parameters (roll, pitch, etc.) in order to go from point A to point B (number of variables depends on the constraints you impose on the system, for example you may want the speed to be constant also). Thus the variable of interest would be the roll, pitch etc. (you would have more than one variable for an airplane as it is not a very simple system).</p>
			</div>
			</div>
				<textarea id = "speech-10600" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10600">
					<img id="start_img-10600" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10600">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>