<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Autodesk Inventor 2013: Rounding only at specific edge
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3164" class = "post">
			<h2>Question</h2>
			<div id="vote-3164" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 44</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Autodesk Inventor 2013: Rounding only at specific edge</h2>
<p>I am using Autodesk Inventor 2013 and I need to round a component of a device. I want to round the green marked edges, but not the red marked. But when I click "round", then the bottom edge will always be added to the rounding and I cannot de-select it. Any hints how to solve this problem?</p>

<p><img src="https://i.stack.imgur.com/nR3wW.png" alt="Rounding problem in AutoDesk Inventor 2013"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3164" data-toggle = "popover">
				<p>user name : Daniel Marschall</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-3164">{'None': 0, 'design': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3164" class = 'collapse'>
			</div>
				<textarea id = "speech-3164" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3164">
					<img id="start_img-3164" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3164">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3175"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3175" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem is the fillet is reaching the long edge by following the smooth curve around your previously-filleted edges.  The solution is to undo or delete features to get rid of the existing fillets on the left and right sides, then do all the fillets on those sides at once.</p>

<p>Often you need to be strategic in choosing the <strong>order</strong> of chamfering and filleting.  This can get complicated for a real project with lots of different intersecting features!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3175" data-toggle = "popover">
				<p>user name : Orion Lawlor</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-3175">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3175" class = 'collapse'>
			</div>
				<textarea id = "speech-3175" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3175">
					<img id="start_img-3175" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3175">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>