<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Automatically capitalizing: 'ithing' and 'Ithing' to 'iThing'
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-444" class = "post">
			<h2>Question</h2>
			<div id="vote-444" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 171</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Automatically capitalizing: 'ithing' and 'Ithing' to 'iThing'</h2>
<p>When I'm editing a post, one of the most common things that I end up doing* is fixing the capitalization of the names Apple's products, like in this question's title.</p>

<p><strong>How would people feel about automatically changing all instances of 'iname' or 'Iname' to 'iName'?
<br>I don't imagine that SE has this functionality built in, so consider this a feature request.</strong></p>

<p>*I don't feel compelled to edit posts <em>just</em> to fix product name capitalization, but I do it if I'm in the neighborhood/</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-444" data-toggle = "popover">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p class = "tagcontent" id = "usertaginfo-444">{'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-444">Load Comments</button></br>
			<div id = "commentsection-444" class = 'collapse'>
			<div id = "comment-852" class = "comment">
				<p>iNteresting but possibly iRritating</p>
			</div>
			<div id = "comment-859" class = "comment">
				<p>And here I was hoping Apple would get tired sooner than later of their iProduct names...</p>
			</div>
			<div id = "comment-860" class = "comment">
				<p>It's a brand. They won't drop this entity until John Sculley takes over Apple again.</p>
			</div>
			</div>
				<textarea id = "speech-444" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-444">
					<img id="start_img-444" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-444">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-445"  class = "post">
				<h2>Answer</h2>
			<div id="vote-445" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think in the short term, a userscript would be wonderful for this.</p>

<p>And in the long term, it's a great customization for the site, perhaps even the network as a whole. And it's really just a fixed set of strings.</p>

<p>iMac, iPhone, iPod, iPad, MacMini, MacPro, Mac OSX, and ummm, a few more :). The latter half of those are less "Special" than the iSeries are.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-445" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-445">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-445">Load Comments</button></br>
			<div id = "commentsection-445" class = 'collapse'>
			<div id = "comment-840" class = "comment">
				<p>Actually, the s in Xserve is lowercase. See Apple's page: http://www.apple.com/support/xserve/</p>
			</div>
			<div id = "comment-841" class = "comment">
				<p>Well imagine that. A name that conforms to standard english rules...</p>
			</div>
			</div>
				<textarea id = "speech-445" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-445">
					<img id="start_img-445" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-445">Comment</button>
			<br><div id = "ans-446"  class = "post">
				<h2>Answer</h2>
			<div id="vote-446" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h3>Mac:</h3>

<ul>
<li>iMac</li>
<li>Mac mini</li>
<li>Mac Pro</li>
<li>MacBook</li>
<li>MacBook Pro</li>
<li>MacBook Air</li>
</ul>

<h3>iPod, iPhone, and iPad</h3>

<ul>
<li>iPhone</li>
<li>iPhone 3G</li>
<li>iPhone 3GS</li>
<li>iPhone 4</li>
<li>iPod</li>
<li>iPod shuffle</li>
<li>iPod nano</li>
<li>iPod classic</li>
<li>iPod touch</li>
<li>iPad</li>
<li>iPad 2</li>
</ul>

<h3>Misc</h3>

<ul>
<li>AirPort Express</li>
<li>AirPort Extreme</li>
<li>Apple TV</li>
</ul>

<h3>Software:</h3>

<ul>
<li>Mac OS X <em>or</em> OS X</li>
<li>iLife<br /></li>
<li>iMovie<br /></li>
<li>iPhoto<br /></li>
<li>iTunes<br /></li>
<li>iChat<br /></li>
<li>iDVD<br /></li>
<li>FaceTime<br /></li>
<li>GarageBand<br /></li>
<li>iCal<br /></li>
<li>QuickTime<br /></li>
<li>TextEdit<br /></li>
<li>Xcode<br /></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-446" data-toggle = "popover">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p class = "tagcontent" id = "usertaginfo-446">{'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-446">Load Comments</button></br>
			<div id = "commentsection-446" class = 'collapse'>
			<div id = "comment-846" class = "comment">
				<p>Does Xcode really need to be auto-cap'ed? I mean, it's a noun with a capital first letter, and lowercase rest.</p>
			</div>
			<div id = "comment-850" class = "comment">
				<p>Yes, it does. Not for reasons of uppercase, but for reasons of lowercase. XCode -> Xcode. Right... should have realized that.</p>
			</div>
			<div id = "comment-854" class = "comment">
				<p>you forgot the iMac ;)</p>
			</div>
			</div>
				<textarea id = "speech-446" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-446">
					<img id="start_img-446" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-446">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>