<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Axis of rotation via IMU
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7950" class = "post">
			<h2>Question</h2>
			<div id="vote-7950" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 218</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Axis of rotation via IMU</h2>
<p>Using an IMU (gyro, accelerometer and magnetometer), as found in most smartphones, can I detect the differences between tilting the device, say forward, along different (parallel) axis positions? </p>

<p>To clarify, if the axis of rotation is far from the sensor, the the motion contains a translational component.</p>

<p>Can the distance and position of this axis be extracted from the IMU data and if so how?<br>
Is there some data fusion algorithm that can do all this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7950" data-toggle = "popover">
				<p>user name : Adi Shavit</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-7950">{'magnetometer': 2, 'None': 4, 'imu': 2, 'gyroscope': 2, 'accelerometer': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7950" class = 'collapse'>
			</div>
				<textarea id = "speech-7950" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7950">
					<img id="start_img-7950" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7950">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7956"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7956" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, in theory, from the gyro information. The accelerometers will give you orientation information, but won't help you interpret where the axis has been translated to.</p>

<p>Keep in mind though, that data from the gyros are time based and you will only have accurate information for the moments that you actually sample the data. I believe it will be difficult to get accurate enough info without using a very high sampling rate, but theoretically it is possible.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7956" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-7956">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7956">Load Comments</button></br>
			<div id = "commentsection-7956" class = 'collapse'>
			<div id = "comment-11696" class = "comment">
				<p>Is there some data fusion algorithm that can do all this robustly? How would I integrated the gyro data to make the distinction and calculate the axis location?</p>
			</div>
			</div>
				<textarea id = "speech-7956" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7956">
					<img id="start_img-7956" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7956">Comment</button>
			<br><div id = "ans-7987"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7987" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think that you will be able to do this, given the limitations of an IMU. The main limitation being any kind of position or translation data. </p>

<p>With angluar rotations you have the equations shown in the included image (<a href="http://hyperphysics.phy-astr.gsu.edu/hbase/rotq.html" rel="nofollow noreferrer">image from here</a>)</p>

<p>From the IMU, you can get angle $\theta$ and you can get angular velocity $\omega$ through some calculations. But to go from there to radius ($r$-this is want you want I believe) or linear velocity $v$ you would need to know arc length $S$. Unfortunately, this is a piece of translation data and that is difficult (at best) to get. </p>

<p>Overall, it seems quite common for users to try and figure out a way to get any kind of positional/translation information from an IMU, but it just isn't the right tool for that job. </p>

<p>EDIT (More details based on comment):</p>

<p>$\theta$ about an axis of rotation is the same no matter how far away (radius $r$) you are from said axis of rotation. </p>

<p>You have two equations available for $\theta$,</p>

<p>$\theta$ = $\omega$ * $t$ (this you can get with the gyro reading and time)</p>

<p>and</p>

<p>$\theta$ = $S$/$r$ (you can directly read $\theta$ from the accelerometers)</p>

<p>Setting those equations equal,</p>

<p>$\omega$ * $t$ = $S$/$r$</p>

<p>Now you only have one equation, but two unknowns. That is not solvable without making an assumption or knowing something else about the system. </p>

<p><a href="https://i.stack.imgur.com/PNa4w.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/PNa4w.jpg" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7987" data-toggle = "popover">
				<p>user name : Matt Brown</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-7987">{'None': 16, 'wheeled-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7987">Load Comments</button></br>
			<div id = "commentsection-7987" class = 'collapse'>
			<div id = "comment-11729" class = "comment">
				<p>The gyro data tells me the rate of angular change ($\omega$ above?), and the accelerometer the tilt ($\theta$). At least in principle, shouldn't these match only at a particular radius $S$?</p>
			</div>
			</div>
				<textarea id = "speech-7987" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7987">
					<img id="start_img-7987" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7987">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>