<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Baby Child Following Robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11982" class = "post">
			<h2>Question</h2>
			<div id="vote-11982" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Baby Child Following Robot</h2>
<p>I am Planning to make a crawling bot which will follow a baby,having a pillow on the board.The Problem with the project is:
Suppose a case when the baby falls, the bot should come exactly at the place where the baby's head will hit the ground?
Any idea of how i can make the bot move to that point before the baby's head hit the ground ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11982" data-toggle = "popover">
				<p>user name : Sarthak Mishra</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-11982">{'None': 0, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11982">Load Comments</button></br>
			<div id = "commentsection-11982" class = 'collapse'>
			<div id = "comment-21261" class = "comment">
				<p>Your robot needs to be fast and will be aiming towards the head of your toddler. Are you really sure that you want to built something like that?</p>
			</div>
			<div id = "comment-21265" class = "comment">
				<p>i am planning to use brushless motors for fast movement but problem comes when there is prediction is to be made</p>
			</div>
			</div>
				<textarea id = "speech-11982" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11982">
					<img id="start_img-11982" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11982">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11987"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11987" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Start first with a robot that can "come exactly at the place" where you throw a ball.
Once you have that, you will gain experience necessary to create the other phase of the project (going towards the baby).
Start simple, then make it more complicated.
Start with a four-wheeled robot (or maybe three-wheeled).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11987" data-toggle = "popover">
				<p>user name : AJ.</p>
				<p> user reputation : 53</p>
				<p class = "tagcontent" id = "usertaginfo-11987">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11987" class = 'collapse'>
			</div>
				<textarea id = "speech-11987" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11987">
					<img id="start_img-11987" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11987">Comment</button>
			<br><div id = "ans-11995"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11995" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Let's first assume that the baby can move in all directions but fall only backwards. Under this assumption, the robot would need to track two things (1) the position of the baby (2) the direction of movement (so that it could always position itself behind the baby</p>

<p>Next it would need to be able to recognise when the baby is losing balance and predict where exactly the baby would fall. Finally it would have to carry out some basic inverse kinematics to get its end-effector to put the pillow in the right position.</p>

<p>To accomplish this you would probably need to use a visual tracking library like OpenCV. To process the data you would need a reasonably fast, lightweight computer such as a Raspberry Pi and finally a microcontroller like an Arduino to command the wheels and the servo actuators. </p>

<p>If on the other hand, the baby is allowed to fall in ANY direction, then there is no way of accomplishing this with ANY robot that does not SURROUND the baby at all times. </p>

<p>But most importantly, I think putting human babies and electronics/ wiring/ high power batteries/ metal frames in close proximity is not a very good idea.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11995" data-toggle = "popover">
				<p>user name : vu2aeo</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-11995">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11995" class = 'collapse'>
			</div>
				<textarea id = "speech-11995" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11995">
					<img id="start_img-11995" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11995">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>