<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Balancing a plate with an IMU offset from the center
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8220" class = "post">
			<h2>Question</h2>
			<div id="vote-8220" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 116</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Balancing a plate with an IMU offset from the center</h2>
<p>I recently bought a IMU . I am new at this. </p>

<p>My question: Does the positioning of the IMU matter? Are there any differences between placing it at the center of the plate or if it is offset from the center?</p>

<p>I am still learning about this topic. So any help would be greatly appreciated.</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8220" data-toggle = "popover">
				<p>user name : goddar</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-8220">{'control': 3, 'None': 2, 'power': 0, 'arduino': 0, 'battery': 2, 'microcontroller': 0, 'wheeled-robot': 0, 'imu': 1, 'sensor-fusion': 1, 'mobile-robot': 4, 'electronics': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8220">Load Comments</button></br>
			<div id = "commentsection-8220" class = 'collapse'>
			<div id = "comment-13161" class = "comment">
				<p>What do you mean by balancing a plate? Balancing it on its side like an inverted pendulum? Balancing it on a ball?</p>
			</div>
			<div id = "comment-13170" class = "comment">
				<p>I have actuators under the plate to stabilize it. Sometimes the plate is affected by external factors, so I have to correct the orientation to make the plate surface horizontal again.</p>
			</div>
			<div id = "comment-13184" class = "comment">
				<p>So, the plate is horizontal, but it still isn't clear what system you are considering. Proper sensor placement largely depends on the system that you consider and the goal you pursue; a sketch would be appropriate.</p>
			</div>
			<div id = "comment-13305" class = "comment">
				<p>Hi, sorry for taking too long to reply.  I'm still considering to play around with either a tricopter or a pole climbing robot, but I'm still searching for more information. From my research, the sensor is usually placed at the center.  It just makes me wonder why aren't there systems with IMU placed off center.</p>
			</div>
			</div>
				<textarea id = "speech-8220" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8220">
					<img id="start_img-8220" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8220">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8221"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8221" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Basically it does not matter. <br>
But you have to be carefull if the plate is rotating fast, because the rotation of the plate around its center point, with the IMU placed out of center, will cause the accelerometer to measure centrifugal forces.</p>

<p>If your task is to stabalize the platform, this won't be an issue for you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8221" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-8221">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8221">Load Comments</button></br>
			<div id = "commentsection-8221" class = 'collapse'>
			<div id = "comment-13169" class = "comment">
				<p>Owh yes, thats a good point. Thanks. Besides the effect of centrifugal force,  do you think vibrations will affect the IMU's readings? I mean, will the IMU still gives out the same readings at the same orientation before and after experiencing vibrations? Of course the imu is calibrated before hand.</p>
			</div>
			<div id = "comment-13171" class = "comment">
				<p>During the vibration-phase the accelerometer might produce non sense. Depends on the amplitude of the vibration. Basically vibrations do not alter the IMU sensor if they are under a certain threshold. You can find this value in datasheets usually. If you hit the sensor with a force which is exceeding the acceleration limit, then the sensor's measurement can be changed. But we are talking about the range of 100,000 m/s  for MEMS.</p>
			</div>
			<div id = "comment-13173" class = "comment">
				<p>Alright I will check it out. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-8221" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8221">
					<img id="start_img-8221" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8221">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>