<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Ball and plate possible sensors use
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6624" class = "post">
			<h2>Question</h2>
			<div id="vote-6624" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 198</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ball and plate possible sensors use</h2>
<p>I am looking  for sensors to give me the position of a ball  on a plate in order to make a ball and plate problem  .</p>

<p>What came to my mind is to use image processing but since i never did some serious image processing i don't know if it is a good idea.</p>

<p>Eventually can you please help me to find some 'cheap' sensors in order to get the position of the ball on the plate.</p>

<p>Thank you for your attention.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6624" data-toggle = "popover">
				<p>user name : Med.ali</p>
				<p> user reputation : 34</p>
				<p class = "tagcontent" id = "usertaginfo-6624">{'control': -1, 'odometry': 1, 'None': 0, 'noise': 5, 'motor': 1, 'arduino': 1, 'pid': 1, 'wheeled-robot': 1, 'kalman-filter': 3, 'sensors': 0, 'gyroscope': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6624" class = 'collapse'>
			</div>
				<textarea id = "speech-6624" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6624">
					<img id="start_img-6624" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6624">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6626"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6626" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Image processing is a valid solution to the ball on a plate problem. It will give you a very accurate estimate of the position of the ball. You should be able to do this with a raspberry pi. With regard to sensors, any cheap webcam should do the trick.</p>

<p>The vision processing involved will be trivial if you are familiar with python or c++.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6626" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-6626">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6626">Load Comments</button></br>
			<div id = "commentsection-6626" class = 'collapse'>
			<div id = "comment-9535" class = "comment">
				<p>I'll leave this answer, but I believe Matt's solution is better.</p>
			</div>
			</div>
				<textarea id = "speech-6626" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6626">
					<img id="start_img-6626" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6626">Comment</button>
			<br><div id = "ans-6628"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6628" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might want to look at using a Resistive Touch Panel.</p>

<p><img src="https://i.stack.imgur.com/nG2YY.jpg" alt="enter image description here"></p>

<p>These are the kinds of touchscreens used on older devices that can only accept a single point of input. They work by returning a resistance of x, and of y, to determine the position on the screen.</p>

<p>Using one of these would require significantly less code, and processing power then using vision processing. The ball could simple sit on this plate, and as it rolls around, you will be able to determine the exact XY coordinate of the ball.</p>

<p>By doing a simple Google search and find hundreds, of all sizes, with or without an LCD attached.</p>

<p>Here is an example of what I imagine you are trying to do. The position of this ball is measured by a Resistive touch panel. <a href="https://www.youtube.com/watch?v=j4OmVLc_oDw" rel="nofollow noreferrer">YouTube Link</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6628" data-toggle = "popover">
				<p>user name : Matt Clark</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-6628">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6628" class = 'collapse'>
			</div>
				<textarea id = "speech-6628" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6628">
					<img id="start_img-6628" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6628">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>