<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Base for home robot of a bigger size
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10587" class = "post">
			<h2>Question</h2>
			<div id="vote-10587" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Base for home robot of a bigger size</h2>
<p>I am trying to build a robot. But a bigger robot than a Raspberry Pi connected to some tiny something as big as a can of black Coke. I am planning to build a robot of a size 1.2-1.5m. I already have chosen some torso, arms and so, but, the problem is the base (bigger wheels, able to cope with weight of 10kg minimum).</p>

<p>I was thinking about using iRobot Create 2 platform, but it is not that robust and cannot pass a bit higher doorsteps. I want it let it go outdoors eventually. Do you know of some product or similar project? Every base which is sold in shop is very small, which can be used on a table and not something which could serve as a good robust mechanism with wheels, servos and everything...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10587" data-toggle = "popover">
				<p>user name : Martin</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-10587">{'None': 0, 'wheeled-robot': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10587">Load Comments</button></br>
			<div id = "commentsection-10587" class = 'collapse'>
			<div id = "comment-19023" class = "comment">
				<p>You use the term "base" as if it is some standard part you just need a bigger version of when in fact that term has no clear definition. It would be helpful if you [edit] your question to include the functionality that you expect from that base. For me, a base might be just a piece of metal that components get attached to. For you, it seems to include motors, wheels and the overall functionality to move the robot around. Please clarify what you want and need. Thanks</p>
			</div>
			<div id = "comment-19025" class = "comment">
				<p>At this size I would build something. Build a base of about the right size, out of metal (aluminium or steel angle bolted together) or simply wood if a cheap prototype. Bolt on two heavy duty geared motors (with encoders built in if desired) and find suitable high current motor drivers.  An off the shelf robot base at this sort of size would be quite expensive to buy ready-made.</p>
			</div>
			<div id = "comment-19027" class = "comment">
				<p>I decided to build it, you are right. I will go for motors from electronic wheelchair, 24V akku and base with rounded shape. The third wheel will be as support (as Johnny 5 had).</p>
			</div>
			<div id = "comment-19034" class = "comment">
				<p>Welcome to *Robotics* Martin, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-10587" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10587">
					<img id="start_img-10587" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10587">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10591"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10591" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check this one: <a href="https://www.dfrobot.com/index.php?route=product/product&amp;product_id=63" rel="nofollow">https://www.dfrobot.com/index.php?route=product/product&amp;product_id=63</a></p>

<p>It's more expensive than iRobot, but is much more customizable.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10591" data-toggle = "popover">
				<p>user name : Dmitri</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10591">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10591">Load Comments</button></br>
			<div id = "commentsection-10591" class = 'collapse'>
			<div id = "comment-19026" class = "comment">
				<p>Please include a description of the product. If this link breaks, so does your answer.</p>
			</div>
			<div id = "comment-19028" class = "comment">
				<p>The HCR Mobile Robot Kit is a two wheel drive mobile robot platform with three levels (if you want, you can use only the parts you need, or make a two level robot). The kit contains two motors, two wheels, an omni-directional wheel, and hardware accessories such as metal plates. Its support structure includes servos and sensors, with special interfaces for a mini - ITX motherboard.

SPECIFICATION:
    Orange coated aluminum finish;
    Size: 33 x 33 x 65 cm / 13 x 13 x 25.6inches;
    Three-level structure;
    Wheel size: 13 cm (5.1") in diameter;
    Payload : 10kg;</p>
			</div>
			<div id = "comment-19032" class = "comment">
				<p>Welcome to *Robotics* Dmitri. On stack exchange, it is better to edit your answer to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			</div>
				<textarea id = "speech-10591" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10591">
					<img id="start_img-10591" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10591">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>