<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Battery system with and without mains voltage attached
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2700" class = "post">
			<h2>Question</h2>
			<div id="vote-2700" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 74</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Battery system with and without mains voltage attached</h2>
<p>I'm working on a project where mains voltage will sometimes be disconnected, and the system will have to run on battery for as long as possible before doing a (safe) shutdown.  The desired behavior is exactly like a laptop battery system:</p>

<ol>
<li>When mains voltage is connected, charge the battery and power the system from mains</li>
<li>When mains voltage is disconnected, power the system from the battery</li>
<li>Prevent the battery system from supplying current when the batteries are discharged below a certain voltage (to prevent damage).</li>
</ol>

<p>Is there a name for this type of system, or a name for the feature(s) that I should be looking for when I look at chargers?  (If it matters, this system will be 12V, so I'm looking at 14.8V Lithium battery options.)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2700" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2700">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2700">Load Comments</button></br>
			<div id = "commentsection-2700" class = 'collapse'>
			<div id = "comment-5095" class = "comment">
				<p>are you looking for a complete working system or e.g. an IC?  Most modern ICs allow charging the battery while it is under load (e.g. look here: http://para.maximintegrated.com/results.mvp?fam=batt_chrg&168=Li-Ion|Li-Polymer ).  As far as names I think what you're looking for is called a battery management system or simply a battery charger.</p>
			</div>
			<div id = "comment-5096" class = "comment">
				<p>I'm not looking for any system in particular, just the terminology that's used to indicate "you can charge it while it's under load and no smoke will come out".  I'm assuming that for such a system, the input voltage, output voltage, and positive battery terminal must be connected to 3 separate pins on the IC.  Is that true?  What are those pins called?</p>
			</div>
			<div id = "comment-5097" class = "comment">
				<p>follow through the link I posted and look at the application notes.  The typical arrangement is that the same output is fed to your system *and* the battery but the charging current is measured on the battery...</p>
			</div>
			</div>
				<textarea id = "speech-2700" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2700">
					<img id="start_img-2700" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2700">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2709"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2709" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It appears to me that you are looking for some sort of UPS (uninterruptible power supply). You should look for "load sharing" controllers.</p>

<p>Maybe one of these will suit your needs?
<a href="http://www.mini-box.com/micro-UPS-load-sharing" rel="nofollow">http://www.mini-box.com/micro-UPS-load-sharing</a></p>

<p>Regards,
Damjan</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2709" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2709">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2709">Load Comments</button></br>
			<div id = "commentsection-2709" class = 'collapse'>
			<div id = "comment-5074" class = "comment">
				<p>I thought about UPS stuff, but they seem mostly focused on lead-acid batteries where there is no real battery management component.  Does load sharing work in systems with lithium ion / lithium polymer batteries?</p>
			</div>
			<div id = "comment-5076" class = "comment">
				<p>I see no reason why it wouldn't work. Those are no different from other power supplies in this context. http://www.microchip.com/wwwproducts/Devices.aspx?dDocName=en536670 This one for example explicitly mentions Li-Ion and LiPo. Of course, check with manufacturer when in doubt.</p>
			</div>
			</div>
				<textarea id = "speech-2709" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2709">
					<img id="start_img-2709" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2709">Comment</button>
			<br><div id = "ans-2816"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2816" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found the name of the component: <a href="http://en.wikipedia.org/wiki/Power_management_IC" rel="nofollow">PMIC, or Power Management IC</a>.</p>

<p>To quote from <a href="http://www.linear.com/products/pmic_%28dc-dc,_powerpath_and_battery_charger%29" rel="nofollow">this example</a>: </p>

<blockquote>
  <p>PMICs seamlessly manage power flow from various power sources (wall adapters, USB and batteries) to power loads (device systems and the charging battery), while maintaining current limits where required (such as that specified for USB). To this end, PMICs typically feature built-in PowerPath control, DC/DC conversion and battery charging functions.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2816" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2816">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2816" class = 'collapse'>
			</div>
				<textarea id = "speech-2816" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2816">
					<img id="start_img-2816" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2816">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>