<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Battery damaged?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10367" class = "post">
			<h2>Question</h2>
			<div id="vote-10367" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 83</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Battery damaged?</h2>
<p>Could you please see the attached battery images and tell me if it is safe to continue using this battery or should I discard it?</p>

<p><a href="https://i.stack.imgur.com/1VaJe.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/1VaJe.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10367" data-toggle = "popover">
				<p>user name : ali</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-10367">{'battery': 3, 'quadcopter': 0, 'None': 0, 'lithium-polymer': 3, 'multi-rotor': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10367" class = 'collapse'>
			</div>
				<textarea id = "speech-10367" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10367">
					<img id="start_img-10367" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10367">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10370"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10370" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If the battery cost less than the thing you're powering, then you should probably discard the battery. </p>

<p>If you're stubborn (or very strapped for cash) <strong>and</strong> the battery didn't catch fire when the original damage happened, then it might perform okay, but I'd say there's a moderate chance of fire, especially at high currents. </p>

<p>Check battery voltage with a multimeter, then come back and check it again after a few hours. You're looking for a high self-discharge rate, which would indicate the battery is internally shorted out. </p>

<p>If the battery voltage drops noticeably after a few hours (or even a day), then you should trash the battery. </p>

<p>The terminal voltage on a lithium battery only drops about a quarter of a volt from 80% to 20% state of charge, so anything more than a hundredth of a volt or two and I'd call that significant. Every hundredth is about 2.4 percent of total battery capacity in that range, so 0.02V is roughly 5% of battery capacity.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10370" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10370">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10370" class = 'collapse'>
			</div>
				<textarea id = "speech-10370" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10370">
					<img id="start_img-10370" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10370">Comment</button>
			<br><div id = "ans-10396"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10396" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Assessing damage from a picture isn't going to tell you anything concrete.  If you're already considering discarding this battery, you might as well test its electrical properties (and physical properties) against an intact replacement.  </p>

<p>At a minimum, you should check whether the damaged battery has more internal resistance (i.e. can't supply as much current), runs hotter, has more self-discharge, and/or has less capacity than an intact battery.</p>

<p>The safest thing to do is discard it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10396" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-10396">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10396" class = 'collapse'>
			</div>
				<textarea id = "speech-10396" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10396">
					<img id="start_img-10396" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10396">Comment</button>
			<br><div id = "ans-10433"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10433" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm 14, please pardon me for any rookie sentences...</p>

<p>As far as my knowledge goes with Lithium Polymer batteries(not very far), they don't explode with a Hollywood style explosion, where flames go everywhere and everyone dies. </p>

<p>Instead, LiPo's start to smoke and the plastic cover on the outside layer of the LiPo will start to expand, when it cracks it releases hot steamy gas...</p>

<p>Judging by the damage, it looks like you dropped it... I don't this it's life threatening to use it... but I suggest you dispose it off, if you care about the electronics that are being powered by it...</p>

<p>Because the LiPo is 3 cell (11.1V) you can salvage working (undamaged) cells out. you will be able to use the undamaged cells for something else... you could also salvage the protective circuit (if the LiPo has it).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10433" data-toggle = "popover">
				<p>user name : SidS</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-10433">{'quadcopter': 3, 'None': 5, 'power': 1, 'motor': 4, 'electric': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10433">Load Comments</button></br>
			<div id = "commentsection-10433" class = 'collapse'>
			<div id = "comment-18788" class = "comment">
				<p>I would advise against harvesting undamaged cells. They may not explode with concussive force, but if they catch, there will be fire, and it will be too hot and burn too quickly to really put out. And lithium is not something to play with, since it reacts with oxygen. All it would take is nicking one of the cells as you try to extract it, and the whole thing would start to burn.

Just buy a new battery instead - it is cheaper than an ER visit, home insurance premiums, and reconstructive surgeries.</p>
			</div>
			</div>
				<textarea id = "speech-10433" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10433">
					<img id="start_img-10433" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10433">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>