<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Battery system for a robot with a RaspberryPi or microcontroller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6345" class = "post">
			<h2>Question</h2>
			<div id="vote-6345" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 435</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Battery system for a robot with a RaspberryPi or microcontroller</h2>
<p>I'm building a robot which is actually a rotating ball. All my circuitry will be inside this ball. I'm using a Raspberry Pi as the brains. Apart from Raspberry Pi, I've an H-bridge IC (L298N), a 6-axis Accelerometer + Gyroscope (MPU6050), and probably some more additional digital components. These will work with a 5V or 3.3V supply. Another set of components are electromechanical devices like a 9kg torque servo and 2 1000RPM DC motors.</p>

<p><strong>Here are my questions:</strong></p>

<ol>
<li>Everything will work on battery. I can get a 3.3V and 5V supply from a 9V battery using L1117-3.3V and 7805 regulators respectively. I know that it's not at all reliable to share the power source of the control circuitry with high load devices like motors and servos. Should I have a dedicated separate supplies for electromechanical components and the control circuitry?</li>
<li>Servo will run on 6V supply and motor will run on a 12V supply. How should I go about this one? Again, separate batteries for servo and motors?</li>
<li>Can of this work on a single high capacity battery, somewhat like 10000mAh?</li>
</ol>

<p><strong>Here are some of my calculations:</strong></p>

<p><strong><em>Servo current (6V):</em></strong> <strong>at no load:</strong> ~450mA, <strong>at around 6kg load:</strong> ~800mA</p>

<p><strong><em>Motor current (12V):</em></strong> <strong>at no load:</strong> ~500mA, <strong>at around 6kg load:</strong> ~950mA</p>

<p><strong><em>RaspberryPi and other digital circuitry (5V + 3.3V):</em></strong> ~600mA (that includes an Xbee)</p>

<p>Thus, the overall current at a 6kg load (with two motors) comes around ~3.3A</p>

<p>It would be really awesome if this thing gets done with a maximum of 2 batteries. Else, it may get messy while placing the batteries inside the ball. Space is limited!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6345" data-toggle = "popover">
				<p>user name : Tejas Jadhav</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6345">{'battery': 2, 'None': 0, 'servos': 2, 'power': 2, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6345">Load Comments</button></br>
			<div id = "commentsection-6345" class = 'collapse'>
			<div id = "comment-9228" class = "comment">
				<p>Would it be prohibitively expensive to just get the batteries and run some tests?</p>
			</div>
			<div id = "comment-9331" class = "comment">
				<p>Actually, yes. We're short on budget and time as well.</p>
			</div>
			</div>
				<textarea id = "speech-6345" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6345">
					<img id="start_img-6345" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6345">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6352"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6352" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are right that there <strong>are</strong> issues in having an "unclean" power supply running into your RaspberryPi. If you are drawing tons of power, things get very hairy very fast. However, there <em>are</em> ways to "convert" and "clean" a supply to isolate the voltage (and therefore making it suitable for input to the Raspberry Pi). How much cleaning will depend on your specific motors and use case.</p>

<p>While you can use a single battery for <em>everything</em>, I would only recommend it if you have some very good switching DC to DC converters, as you'll lose a ton of power in the conversion otherwise. Most regulators (including the one you mention for the 3.3VDC) "burn off" the extra voltage to get the voltage you want. So, in your case of converting 12VDC to 6VDC and drawing on order of an amp would mean you would be <em>burning</em> 6 Watts (which would be converted to heat).</p>

<p>This is fine for electronics like the Raspberry Pi, but not so fine for powering motors.</p>

<h1>My recommendation therefore is either 1) Get a High efficiency DC to DC switching converter or 2) Have two separate voltage supplies, +6VDC and +12VDC.</h1>

<p>As far as powering the Raspberry Pi, there is a better solution:</p>

<h2>Powering the Raspberry Pi</h2>

<p>Unless you have specific electronics that need +5VDC, there is no advantage to supplying +5VDC to the Pi. Instead, I recommend directly powering +3.3VDC to the Pi via a Voltage regulator w/ some protection electronics. You can do this either by hacking the board, or by supplying +3.3VDC to both the +5VDC &amp; +3.3VDC of the GPIO header (bypassing the on-board voltage regulator). Details on how to do so are here:</p>

<p><a href="http://www.daveakerman.com/?page_id=1294" rel="nofollow">http://www.daveakerman.com/?page_id=1294</a></p>

<p><strong>WARNING</strong> this puts your Raspberry Pi at risk if you don't do a good job conditioning your input power!! There are a myriad of ways to clean up power, but at a minimum you should look up "flyback diode" and plan to use one in conjunction to a largish capacitor for each motor driver.</p>

<p>Hope this helps...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6352" data-toggle = "popover">
				<p>user name : Aerophilic</p>
				<p> user reputation : 196</p>
				<p class = "tagcontent" id = "usertaginfo-6352">{'None': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6352">Load Comments</button></br>
			<div id = "commentsection-6352" class = 'collapse'>
			<div id = "comment-9332" class = "comment">
				<p>Thanks a lot for your answer. One more question, can you suggest some DC-DC Switched converters? AFAIK switched regulators are quite noisy. Is it fine for Pi?</p>
			</div>
			<div id = "comment-9903" class = "comment">
				<p>Without knowing more about your specific app, I couldn't give you specifics. However, you can find quite a selection from Digikey: http://www.digikey.com/product-search/en/power-supplies-board-mount/dc-dc-converters/4325599?k=dc-dc%20converter. BTW: Please mark this question as answered if you are happy with the response.</p>
			</div>
			</div>
				<textarea id = "speech-6352" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6352">
					<img id="start_img-6352" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6352">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>