<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Battery pack discharged
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1329" class = "post">
			<h2>Question</h2>
			<div id="vote-1329" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Battery pack discharged</h2>
<p>I used a <a href="http://www.hobbyking.com/hobbyking/store/__8934__Turnigy_2200mAh_3S_25C_Lipo_Pack.html" rel="nofollow">Turnigy 2200mAh 3S 25C Lipo</a> battery pack with <a href="http://www.hobbyking.com/hobbyking/store/__7637__Turnigy_balancer_Charger_2S_3S.html" rel="nofollow">Turnigy balancer &amp; Charger 2S-3S</a> for about a month. Yesterday I left the battery plugged into four ESCs of my quadrocopter. Today I've found the battery totally discharged. When I tried to charge it, the charger showed it as faulty. After replugging it to the charger it showed it as fully charged.</p>

<p>How can I charge it now?</p>

<p>P.S. I've got a multimeter, but I do not know what and how to measure... The battery pack has two plugs: one is connected to the charger and the other to the ESCs...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1329" data-toggle = "popover">
				<p>user name : Kolyunya</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-1329">{'battery': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1329" class = 'collapse'>
			</div>
				<textarea id = "speech-1329" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1329">
					<img id="start_img-1329" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1329">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1330"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1330" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have to be very careful with those packs as they don't usually have under-voltage protection for themselves. You're pack is likely fine but the charger isn't seeing the minimum voltage required to begin charging and so it won't.</p>

<p>I found myself in nearly the same situation not too long ago and managed to bring the battery back to a visible voltage by charging it with a Pb charge algorithm of similar voltage for a few minutes.</p>

<p>The multiple plugs are because there are multiple cells in the pack and each one requires individual charging (in parallel - not in series). They all have a common ground so you put the black end of the multimeter in the 4 pin black hole and put the red end in each of the 3 other colored wires. You will get 3 different, but probably close voltages.</p>

<p>I have this exact charger which is what I used to revive a similar pack: <a href="https://www.sparkfun.com/products/10473" rel="nofollow">https://www.sparkfun.com/products/10473</a></p>

<hr>

<p>Edit:
If you wanted to get a littler risky with the battery, a NiMH charger could be used for a short period as you mentioned. It charges at an acceptably low rate but the cells differ a lot more than they do between Pb and Li. A multi-cell NiMH for instance can have all of it's cells charged at once while this is generally not possible for Pb/Li. This means that a 12v NiMH charger is not going to work for a 12v Li battery since each Li cell needs to be charged individually.</p>

<p>If you happen to have an NiMH AA charger, you would retrofit that to be a 3v Li cell booster provided it slow-charges by putting two 1.5v terminals in series with the Li cell.</p>

<p>I would highly suggest getting an inexpensive smart charger as it's uses are nearly endless and it could save you many headaches that dumb chargers often create.</p>

<p>Additionally, you may want to build in a low-voltage cutoff circuit into your design to prevent this issue in the future.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1330" data-toggle = "popover">
				<p>user name : Enigma</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-1330">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1330">Load Comments</button></br>
			<div id = "commentsection-1330" class = 'collapse'>
			<div id = "comment-2922" class = "comment">
				<p>Thanks for an answer. But unfortunately I do not have any advanced charger... I'll try to ask someone around to charge my pack...</p>
			</div>
			<div id = "comment-2923" class = "comment">
				<p>I've read that it can help to charge my pack with a Nimh charger for a while.</p>
			</div>
			<div id = "comment-2924" class = "comment">
				<p>Yes that could work also provided the voltage is close. I believe it needs to be around 3.6-4v for it to work properly however which is not a common NiMH type. Also, you would need to charge each cell individually if not using a smart multi-cell charger. A Pb charge algorithm meshes better with a li-po.</p>
			</div>
			<div id = "comment-2925" class = "comment">
				<p>I've been able to overcome similar situation by trickle charging the battery as a NiMH or NiCad for a few moments and then switching the charger back to LiPO.</p>
			</div>
			</div>
				<textarea id = "speech-1330" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1330">
					<img id="start_img-1330" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1330">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>