<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>battery question for DW558 Explorer (small quadrocopter)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10379" class = "post">
			<h2>Question</h2>
			<div id="vote-10379" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>battery question for DW558 Explorer (small quadrocopter)</h2>
<p>I recently bought a DW558 Quadrocopter (<a href="http://www.gearbest.com/rc-quadcopters/pp_110531.html" rel="nofollow">http://www.gearbest.com/rc-quadcopters/pp_110531.html</a>).</p>

<p>After few minutes, the battery is dead. Which is understandable since the battery is so tiny. It is a 3.7V 250mAh battery, included with the Quadrocopter. I was thinking about buying spare batteries for it, and I have few questions about this:</p>

<ul>
<li>1: Can I buy any kind of battery 3.7V 250mAh of the same size or is there any other property I have to pay attention?</li>
<li>2: Can I buy batteries of 3.7V and 350mAh (100 more than the included battery) and expect my Quadrocopter to be more "energic"? Is it bad to buy batteries with more mAh ?</li>
<li>2b: If I buy few 3.7V 350mAh batteries, will I be able to charge them with the same charger I got with my 3.7V 250 mAh batteries or do I have to buy a specific charger for these too?</li>
</ul>

<p>(these are the batteries I want to buy, any comment is greatly appreciated: 350mAh batteries x5 <a href="http://www.gearbest.com/rc-quadcopter-parts/pp_196991.html" rel="nofollow">http://www.gearbest.com/rc-quadcopter-parts/pp_196991.html</a> and/or 4x 250mAh batteries + charger <a href="http://www.gearbest.com/rc-quadcopter-parts/pp_331372.html" rel="nofollow">http://www.gearbest.com/rc-quadcopter-parts/pp_331372.html</a>)</p>

<p>Thank you very much for your input. I think I just discovered my new hobby and I can't wait to have my spare batteries!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10379" data-toggle = "popover">
				<p>user name : MrYoshiji</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-10379">{'quadcopter': 1, 'battery': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10379" class = 'collapse'>
			</div>
				<textarea id = "speech-10379" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10379">
					<img id="start_img-10379" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10379">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10386"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10386" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Looking at the links you gave, the 350mAh is slightly larger dimensions than the 250mAh and seems to have the same connector.</p>

<ul>
<li>As long as it fits and has the same connector then you can put in anything you want. So long as it is still a Li-Po.</li>
<li>The "energic"ness of the quad will depend on the C rating of the battery, which is the current rating. A higher C rating battery will react faster to changes in load and hence provide a more snappy response. Although I doubt it will make much difference with such a small quad.</li>
<li>You should be able to charge them with the same charger, it will just take slightly longer. Since battery chargers work on the voltage and current draw of the battery while charging they will work irrespective of the capacity of the battery.</li>
</ul>

<p>So just make sure it fits the battery compartment and it should be fine.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10386" data-toggle = "popover">
				<p>user name : TechAUmNu</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-10386">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10386">Load Comments</button></br>
			<div id = "commentsection-10386" class = 'collapse'>
			<div id = "comment-18658" class = "comment">
				<p>Thanks for your answer! I also find out that my quad is unstable, one of the rotor (top right) seems to be less effective than the 3 others, which lead the quad to go forth and right at the same time and I can't manage to fly it with ease... I tried to add some weight on the opposite side but it is not very effective. Is there something else I can do about it?</p>
			</div>
			<div id = "comment-18661" class = "comment">
				<p>You can use the rocker switches below and to the side of the control sticks to trim out a drift like that. [This might help](http://uavcoach.com/how-to-fly-a-quadcopter-guide/)</p>
			</div>
			<div id = "comment-18662" class = "comment">
				<p>Oh I feel so dumb! English is not my native language and I couldn't understand this "trim" function in the english documentation... Thank you so much !!</p>
			</div>
			</div>
				<textarea id = "speech-10386" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10386">
					<img id="start_img-10386" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10386">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>