<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Beaglebone Black power draw
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1618" class = "post">
			<h2>Question</h2>
			<div id="vote-1618" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1241</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Beaglebone Black power draw</h2>
<p>What is the minimum amount of power that a beaglebone needs to start up? This would be with no   peripherals attached besides host usb. The getting started guide claims that it can run off of a computer's usb power, but makes no mention of how many amps are actually needed. I saw a mention of older kernels limiting current draw to .5 amps when working off of usb, although that was all I could find. </p>

<p>Could one start a BeagleBone Black off of .3 amps? If not, how many?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1618" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-1618">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1618" class = 'collapse'>
			</div>
				<textarea id = "speech-1618" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1618">
					<img id="start_img-1618" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1618">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1621"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1621" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If the getting started guide claims you can run it of a computers USB port, it will work at about .5 amps. A normal computer power supply limits the current to a USB port to .5 amps. Doing some research on the Beaglebone Black's site <a href="http://beagleboard.org/Support/FAQ" rel="nofollow">http://beagleboard.org/Support/FAQ</a>, I found this:</p>

<p><em>When powered up over USB, the regulators are somewhat limited in what they can supply the system. Power over USB is sufficient as long as the software and system running perform some management to keep it under the USB current limit threshold.</em></p>

<p>and</p>

<p><em>The recommended supply current is at least 1.2A (or 6W), but at least 2A (or 10W) is recommended if you are going to connect up anything over the USB. The actual power consumption will vary greatly with changes on the USB load.</em> </p>

<p>So it seems like the .5 amps from the computers USB port, is about as low as it gets.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1621" data-toggle = "popover">
				<p>user name : Thom Kouwen</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-1621">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1621">Load Comments</button></br>
			<div id = "commentsection-1621" class = 'collapse'>
			<div id = "comment-3392" class = "comment">
				<p>Why is it put on hold? He might want to use it in his robot (if he has one, or is going to make one) and wants to know what kind of battery/regulator he needs. Just my thoughts.</p>
			</div>
			</div>
				<textarea id = "speech-1621" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1621">
					<img id="start_img-1621" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1621">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>