<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Beaglebone not accessible through LAN?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6980" class = "post">
			<h2>Question</h2>
			<div id="vote-6980" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 293</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Beaglebone not accessible through LAN?</h2>
<p>Since the day I bought it I always use ethernet over USB connection, now I need to use RJ45 LAN cable to connect Beaglebone from my laptop, but my laptop can't even detect LAN connection from it, what could go wrong? Do I need straight or crossover cable? Do I need to configure something first on my BeagleBone?</p>

<blockquote>
  <p>UPDATE: Managed to connect it through Crossover cable and assign it IP
  address by running DHCP server on my laptop.</p>
</blockquote>

<p><img src="https://i.stack.imgur.com/X3e16.png" alt="enter image description here"></p>

<blockquote>
  <p>As seen above my laptop assign IP 169.254.223.76, but when I tried to
  connect to that IP using puTTY it gives me connection refused.</p>
</blockquote>

<p><img src="https://i.stack.imgur.com/LUNAe.png" alt="enter image description here">
Please help.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6980" data-toggle = "popover">
				<p>user name : Nur</p>
				<p> user reputation : 122</p>
				<p class = "tagcontent" id = "usertaginfo-6980">{'brushless-motor': 0, 'mobile-robot': 2, 'None': 0, 'beagle-bone': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6980" class = 'collapse'>
			</div>
				<textarea id = "speech-6980" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6980">
					<img id="start_img-6980" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6980">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7107"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7107" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can configure it with a static ip address, and assign your laptop a (different) static ip address. <a href="http://derekmolloy.ie/set-ip-address-to-be-static-on-the-beaglebone-black/" rel="nofollow">Here</a> is a link to a guide to setting a static ip address.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7107" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7107">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7107" class = 'collapse'>
			</div>
				<textarea id = "speech-7107" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7107">
					<img id="start_img-7107" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7107">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>