<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>beaglebone black doesn't autoboot when powered over jack or vdd pins
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6462" class = "post">
			<h2>Question</h2>
			<div id="vote-6462" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 454</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>beaglebone black doesn't autoboot when powered over jack or vdd pins</h2>
<p>I have a BBB and it works quite well however when I power it over the Barrel connector or over the vdd pins rather then use the usb connection it doesn't automatically boot. When I put the barrel connector and usb in at the same time and then remove the usb it continues running. This is running on ubuntu arm. I have tested that the power supply is between 4.95 and 5.04 V and is capable of sustaining this to just over 1 Ampere</p>

<p>Edit it appear the BBB does boot when supplied with 4.7 V lab power supply at ~0.4A power consumption. So that suggest something is wrong with the power supply. But how do I test it seeing I was able to verify that it can supply 1A at 5V.</p>

<p>This power supply works by feeding a 12V battery into a step down to convert it down to 5V if that matters.
power-supply power linux beaglebone-black beagleboard</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6462" data-toggle = "popover">
				<p>user name : Thijser</p>
				<p> user reputation : 203</p>
				<p class = "tagcontent" id = "usertaginfo-6462">{'control': 1, 'None': 1, 'manipulator': 0, 'usb': 7, 'power': 6, 'simulator': 0, 'communication': 1, 'arduino': 3, 'c++': 4, 'simulation': 0, 'servomotor': 1, 'kinematics': 0, 'servos': 1, 'beagle-bone': 13, 'linux': 4, 'serial': 2, 'ros': 3, 'gazebo': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6462">Load Comments</button></br>
			<div id = "commentsection-6462" class = 'collapse'>
			<div id = "comment-9314" class = "comment">
				<p>What's the amperage of your non-usb power supply? (Barrel and Vdd)</p>
			</div>
			<div id = "comment-9315" class = "comment">
				<p>max 1A/ 4.95-5.05 V</p>
			</div>
			<div id = "comment-9316" class = "comment">
				<p>I'd recommend trying a 2A power supply.</p>
			</div>
			<div id = "comment-9317" class = "comment">
				<p>But the BBB doesn't normally use more then 0.6A maximum and can be powered over usb (max 0.5A)</p>
			</div>
			</div>
				<textarea id = "speech-6462" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6462">
					<img id="start_img-6462" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6462">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6468"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6468" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Why do so many people keep <a href="http://www.smpstech.com/undest.htm" rel="nofollow">"Underestimating the complexity of power supply design"</a>?</p>

<p>I'm sure that you already know that <em>every</em> digital electronic device pulls a very brief (transient) surge of power when it is first plugged in and turned on -- at much higher current and power levels than the steady-state current and steady-state power during normal operation.</p>

<p>I'm guessing that your 12V to 5V power supply limits its output current.</p>

<p>Switching-mode power supplies, such as the one on the BeagleBone that converts that 5V to the even lower voltage used by its CPU, often <a href="http://www.smpstech.com/latch000.htm" rel="nofollow">interact badly (latch up)</a> with current-limited power supplies during the start-up transient.</p>

<p>Have you looked at the <a href="http://beagleboard.org/support/faq" rel="nofollow">BeagleBoard FAQ</a>, which says "The power adapter is required to provide 5V ... at least 2A (or 10W) is recommended"?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6468" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-6468">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6468" class = 'collapse'>
			</div>
				<textarea id = "speech-6468" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6468">
					<img id="start_img-6468" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6468">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>