<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>beaglebone black power supply for hexapod
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6327" class = "post">
			<h2>Question</h2>
			<div id="vote-6327" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 204</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>beaglebone black power supply for hexapod</h2>
<p>I am trying to build a <em>hexapod</em> with camera interfacing using a <strong>beaglebone black</strong> for college project. I'm not sure what <strong>power supply</strong> to give so it can power up to <em>bot,</em> having in mind that it should be <strong>portable (mobile)</strong> and it should power about <em>18 servo motors</em> along with the <em>camera</em>, <em>wifi</em> and the <em>processor</em>. Your help is needed very badly as i'm nearing the <em>deadline</em> for the project.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6327" data-toggle = "popover">
				<p>user name : Karthikeyan R</p>
				<p> user reputation : 5</p>
				<p class = "tagcontent" id = "usertaginfo-6327">{'control': 0, 'None': 0, 'power': 0, 'programming-languages': 0, 'beagle-bone': 0, 'linux': 0, 'hexapod': 0, 'servos': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6327">Load Comments</button></br>
			<div id = "commentsection-6327" class = 'collapse'>
			<div id = "comment-9139" class = "comment">
				<p>What type of servos are you using (a link would be helpful)? Also, by mobile I assume you mean battery powered and not a small wall adapter (?)</p>
			</div>
			</div>
				<textarea id = "speech-6327" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6327">
					<img id="start_img-6327" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6327">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6337"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6337" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>18 servos is a lot of power no matter their size but you are going to need to be more specific with what kind of servos you are talking about. That said, this <a href="https://robotics.stackexchange.com/questions/416/what-is-the-best-way-to-power-a-large-number-27-servos-at-5-v?rq=1">What is the best way to power a large number (27) servos at 5 V?</a> is a good answer to your question. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6337" data-toggle = "popover">
				<p>user name : Sam</p>
				<p> user reputation : 217</p>
				<p class = "tagcontent" id = "usertaginfo-6337">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6337" class = 'collapse'>
			</div>
				<textarea id = "speech-6337" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6337">
					<img id="start_img-6337" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6337">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>