<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Best power solution for my robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8787" class = "post">
			<h2>Question</h2>
			<div id="vote-8787" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 194</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Best power solution for my robot</h2>
<p>I've built quadruped robot which is using 12 servos (TowerPro SG90 Servo) and Raspberry Pi (model B 1). Right now I'm "feeding" it with 5V 2.5A charger. </p>

<p>How can I make it un-tethered? What should I look out for when selecting batteries? Also, I think that I need to separate powering of RPi and servos because power is "jumping" when it moves and that isn't good for RPi.  </p>

<p>A little video - <a href="https://www.youtube.com/watch?v=o63akKmY07w" rel="nofollow">Testing Walking Algorithm</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8787" data-toggle = "popover">
				<p>user name : sssemil</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-8787">{'None': 0, 'walking-robot': 3, 'raspberry-pi': 3, 'power': 3, 'battery': 3, 'mobile-robot': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8787">Load Comments</button></br>
			<div id = "commentsection-8787" class = 'collapse'>
			<div id = "comment-14451" class = "comment">
				<p>As can be seen by the two very different answers, this would have been much better as two separate questions, "How can I prevent power load caused by my motors affecting my electronics?" and "What should I look for when selecting batteries for my quadruped robot?" Asking for specific battery recommendations would be a *shopping question* and would most likely get closed however.</p>
			</div>
			</div>
				<textarea id = "speech-8787" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8787">
					<img id="start_img-8787" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8787">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8796"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I had the same problem when I made my first RC boat completely by myself. From my point of view, you can use two small-sized Li-Po batteries, one for each device. For the Raspberry, I would choose one with about 1000mAh, 5V, with the highest discharge rate possible. You can use the battery you already have for the servos, or get another one 5V, with lots of mAh and a high discharge rate, too. Or use the one you have for the Raspberry and get one for the servos.</p>

<p>PS: That's why I care for the discharge rate: <a href="https://www.commonsenserc.com/page.php?page=c_ratings_explained.html" rel="nofollow">What's in a "C" rating?</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8796" data-toggle = "popover">
				<p>user name : Chris Tsiakoulas</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-8796">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8796">Load Comments</button></br>
			<div id = "commentsection-8796" class = 'collapse'>
			<div id = "comment-14479" class = "comment">
				<p>I have just rejected an edit with the comment "The RPi doesn't need a high discharge battery." which changed "highest discharge rate possible" to "lowest discharge rate possible" as it seems to conflict with the original authors intent. Chris, could you please clarify why you suggest a high discharge rate battery in this case?</p>
			</div>
			<div id = "comment-14482" class = "comment">
				<p>Of course. Discharge rate practically is how fast the battery goes dry. This is measured by the C (capacity) of the battery and it's the maximum safe continuous discharge rate of a pack. Higher the number, higher the load the battery can handle. But if the load is lower than that maximum, the battery will be capable of working for more hour.</p>
			</div>
			<div id = "comment-14485" class = "comment">
				<p>The link on my answer above explains this with some more physics.</p>
			</div>
			<div id = "comment-14486" class = "comment">
				<p>On stack exchange, it is better to edit your answer to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			<div id = "comment-14487" class = "comment">
				<p>Also we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content does rot. If you add more context from the link, it is more likely that people will find your answer useful.</p>
			</div>
			<div id = "comment-14492" class = "comment">
				<p>Thanks for the useful advice. I will keep that in mind! I hope you clearly understood my point at the end of the day :)</p>
			</div>
			</div>
				<textarea id = "speech-8796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8796">
					<img id="start_img-8796" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8796">Comment</button>
			<br><div id = "ans-8806"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8806" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Regarding the battery requirements, LiPo batteries are probably the way to go, but they do require looking after in order to prevent any nasty accidents from occurring. I looked into this a few months back, you might want to take a quick look at <a href="https://gr33nonline.wordpress.com/2015/08/13/service-please/" rel="nofollow">Service, Please!</a> and <a href="https://gr33nonline.wordpress.com/2015/08/15/power-up/" rel="nofollow">Power Up!</a>. </p>

<p>Isolating the power supplies, as you suggest, is probably also a good idea. </p>

<hr>

<p>Note: I shall add more info tomorrow, when I get a bit more time</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8806" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-8806">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8806" class = 'collapse'>
			</div>
				<textarea id = "speech-8806" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8806">
					<img id="start_img-8806" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8806">Comment</button>
			<br><div id = "ans-8813"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8813" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree with @Greenonline 's recommendation regarding LiPo batteries along with his warnings on battery care. It seems you will need a fairly small battery, considering your current requirements (about a 1000-2000mAh 2S LiPo).</p>

<p>However, you also need to add 2 5V BECs (5V regulators in RC lingo) to power your circuits; The 7.4 or 11.1V provided by the battery isn't very useful.
You can find more on BECs on @Greenonline's <a href="https://gr33nonline.wordpress.com/2015/08/15/power-up/" rel="nofollow">link</a>. Especially the youtube channel RCModelReviews provides good info.</p>

<p>I suggest having 2 BEC to avoid servo noise on the RPi power rail, as you mentioned. Servos and motors apply intermittent loads on power supplies. Most of the time (especially on cheap power supplies), this causes severe voltage ripples on the power supply line. If sensitive (from a power supply point of view) microcontrollers or ratiometric sensors are to be used in the system, it's best to attach them on a separate regulator and leave the battery to act as a "buffer" from the servo ripples</p>

<p>I'm not familiar with e-bay sellers, but something <a href="http://www.hobbyking.com/hobbyking/store/__18789__5V_5A_UBEC_2_5S_Lipoly_7_2_21v_.html" rel="nofollow">like</a> this would be adequate. If you prefer paying an extra buck than taking chances with Chinese products (I do take chances usually), you can also look at <a href="https://www.adafruit.com/products/1385" rel="nofollow">this product</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8813" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8813">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8813">Load Comments</button></br>
			<div id = "commentsection-8813" class = 'collapse'>
			<div id = "comment-14484" class = "comment">
				<p>Thanks for the welcome, @MarkBooth! This will (hopefully) be my last "untidy" comment. One question: Is it better in this case to add "edit" flags in my answer (for the requester to find the additional content) or just embed it in the rest of the text?</p>
			</div>
			<div id = "comment-14488" class = "comment">
				<p>That's the ideal sort of question to ask over on [meta]. Generally speaking, I would only add an "Edit:" heading if I added a significant extra self contained block. If the edit is better in-line with existing content, I will edit in-line. I also sometimes use the "Update:" heading if things have changed significantly over time.</p>
			</div>
			</div>
				<textarea id = "speech-8813" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8813">
					<img id="start_img-8813" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8813">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>