<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Best UGV platform?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4994" class = "post">
			<h2>Question</h2>
			<div id="vote-4994" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 752</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Best UGV platform?</h2>
<p>My lab is interested in a good all-terrain UGV that can also be used indoors. We are particularly interested in the Clearpath Husky, Clearpath Jackal, and the Robotnik Summit XL (or XL HL), though we would welcome any other suggestions. Does anyone happen to have experience with more than one of these, and can speak to their pros and cons?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4994" data-toggle = "popover">
				<p>user name : TheWumpus</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-4994">{'magnetometer': 1, 'None': 2, 'ekf': 2, 'platform': 0, 'imu': 1, 'kalman-filter': 18, 'ugv': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4994">Load Comments</button></br>
			<div id = "commentsection-4994" class = 'collapse'>
			<div id = "comment-7759" class = "comment">
				<p>Why do you want an *indoor* all-terrain vehicle?</p>
			</div>
			<div id = "comment-7760" class = "comment">
				<p>I'm interested in an all-terrain vehicle that *can also* be used indoors, e.g., is small enough to fit through a standard doorway and doesn't weigh 600 pounds. Like many labs, we have projects that involve both indoor and outdoor navigation, and it would be convenient and cost-effective to have a robot that can work well in either environment.</p>
			</div>
			</div>
				<textarea id = "speech-4994" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4994">
					<img id="start_img-4994" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4994">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4997"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4997" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>TL;DR: the Clearpth Husky is a solid machine that <strong>will</strong> pull it's weight, but expect to get a few laughs from their complete lack of quality control.</p>

<p>I can speak to the Clearpath Husky since my lab has two of them and I've worked with them quite a bit. It's a solid vehicle, great for mounting sensors on, works well indoors and outdoors. On the software side, it comes pre-installed with ROS, and has out-of-the-box for all the sensors it ships with (unless they mounted the IMU sideways...). That said I have had really bad experiences with Clearpath (and have heard similar stories from other labs). Their robots are clearly made to look good in a photograph, but on closer inspection, especially when you pop open the panels, it tells a different story. The battery only lasts about 1 hour when new and degrades to 20 mins within a year; there are stress fractures around the sheet metal bends, covered up by paint; when we opened the panels we found structural bolts with no nuts on them, they were just sitting loose in the hole; and the wiring / soldering job looked like it was done by a complete amature (I mentor FIRST Robotics and I would not have accepted that from even my grade 10's) This was especially bad on their Kingfisher USV boat which we bought this summer (which incidentally was delivered 3 months late) where the layout of the electronics was so bad that we had to mash in a GPIO header in order to get the door back on.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4997" data-toggle = "popover">
				<p>user name : Mike Ounsworth</p>
				<p> user reputation : 218</p>
				<p class = "tagcontent" id = "usertaginfo-4997">{'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4997">Load Comments</button></br>
			<div id = "commentsection-4997" class = 'collapse'>
			<div id = "comment-7757" class = "comment">
				<p>One more question: when did you get your Husky?</p>
			</div>
			<div id = "comment-7758" class = "comment">
				<p>Umm, I think spring of 2013.</p>
			</div>
			</div>
				<textarea id = "speech-4997" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4997">
					<img id="start_img-4997" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4997">Comment</button>
			<br><div id = "ans-5007"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5007" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might also try <a href="http://robotics.coroware.com/List.aspx?WebPage=7" rel="nofollow">CoroWare</a>.  They can be used outdoors, but are much smaller than the Husky.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5007" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5007">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5007">Load Comments</button></br>
			<div id = "commentsection-5007" class = 'collapse'>
			<div id = "comment-7763" class = "comment">
				<p>Interesting, thanks!</p>
			</div>
			</div>
				<textarea id = "speech-5007" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5007">
					<img id="start_img-5007" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5007">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>