<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Best localization method?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5039" class = "post">
			<h2>Question</h2>
			<div id="vote-5039" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1047</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Best localization method?</h2>
<p>I am making a robot that is supposed to roam inside my house and pick up trash using openCV. I plan to send information from my arduino mega to my arduino nano connected to window pc using radio transceivers. I also plan to send video feed from raspberry pi camera over WiFi to the windows PC. The windows PC then uses openCV and processes other information from the sensors and sends command back to arduino mega.</p>

<p>I have right now:</p>

<ul>
<li>Arduino mega</li>
<li>raspberry pi + usb camera + wifi dongle</li>
<li>Xbox 360 kinect </li>
<li>wheel encoders</li>
<li>sonar distance sensor</li>
<li>arduino nano</li>
<li>windows PC</li>
</ul>

<p>I want to know how to keep track of the robot like the room it is. I think what I am trying to do is SLAM, but I just need to make the map once because the rooms don't change much. I am open to ideas.  Cost is a factor.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5039" data-toggle = "popover">
				<p>user name : Harpreet Singh</p>
				<p> user reputation : 68</p>
				<p class = "tagcontent" id = "usertaginfo-5039">{'mobile-robot': 1, 'None': 6, 'localization': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5039" class = 'collapse'>
			</div>
				<textarea id = "speech-5039" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5039">
					<img id="start_img-5039" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5039">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5040"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5040" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Looking at your hardware, only the wheel encoders are suitable for environment-independent localization, which is not enough in most cases. The localization method using the wheel encoders called "<b>odometry</b>". The other sensors you have are suited more for known environments and map-based navigation. The camera could be used for markers detection and mapping, the distance sensor can be used for matching the location to a map (<b>Particle Filter</b> is the thing). In any case, I would add some inertial sensors(gyro, accelerometer or integrated IMU) to your system, to improve the localization performance.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5040" data-toggle = "popover">
				<p>user name : Eugene Sh.</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-5040">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5040">Load Comments</button></br>
			<div id = "commentsection-5040" class = 'collapse'>
			<div id = "comment-7791" class = "comment">
				<p>I also have a kinnect if that can be used with raspberry pi</p>
			</div>
			<div id = "comment-7792" class = "comment">
				<p>Potentially, Kinect is just enough for the localization purposes if we are talking about sterile closed space. But it should be mounted not on your moving robot, but statically and observe the robot moving. If you set up good markers on your robot, you will actually be able to track the robot's 3D position until it is in the sight of the sensor.</p>
			</div>
			<div id = "comment-7793" class = "comment">
				<p>I would like the robot to move in multiple rooms</p>
			</div>
			<div id = "comment-7828" class = "comment">
				<p>Why do you say that the kinect and sonar sensor would be unsuitable for localization?</p>
			</div>
			<div id = "comment-7829" class = "comment">
				<p>@Ian Kinect wasn't there initially as far as I remember. See comments afterwards.</p>
			</div>
			</div>
				<textarea id = "speech-5040" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5040">
					<img id="start_img-5040" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5040">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>