<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Best sensor to determine "up" versus "down"
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9565" class = "post">
			<h2>Question</h2>
			<div id="vote-9565" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Best sensor to determine "up" versus "down"</h2>
<p>I want to start designing an Arduino project and have telemetry readings that indicate tilt or angle of placement. </p>

<p>Would an accelerometer be the best for determining tilt? Are there good tutorials? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9565" data-toggle = "popover">
				<p>user name : user13363</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9565">{'mobile-robot': 0, 'None': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9565" class = 'collapse'>
			</div>
				<textarea id = "speech-9565" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9565">
					<img id="start_img-9565" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9565">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9566"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9566" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>if you aren't moving, the accelerometer will give you the direction of gravity. if you are moving and hoping to use this orientation data for control you'll need to incorporate at least one more sensor. The extra sensor is needed because you have no method separating the acceleration of gravity and the acceleration of the sensor. The other drawback is that the accelerometer has no way to measure heading. </p>

<p>A magnetometer would also give you a measurement of orientation but the calibration process can be a little intimidating. It makes up for the deficiencies of the accel.</p>

<p>If you're looking for a weekend project I recommend using a three axis accelerometer. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9566" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-9566">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9566">Load Comments</button></br>
			<div id = "commentsection-9566" class = 'collapse'>
			<div id = "comment-16910" class = "comment">
				<p>Could you elaborate on why you would need another sensor if in motion?  Also, what would this ideal "other sensor" be and why?</p>
			</div>
			<div id = "comment-16915" class = "comment">
				<p>It's maybe worth mentioning that a basic tilt sensor could be sufficient to distinguish between up and down.</p>
			</div>
			<div id = "comment-16920" class = "comment">
				<p>I was unaware of those. It doesn't look like you could get an angle measurement out of one which may be a problem. Maybe if there was an array with small steps in angle offset between sensors...</p>
			</div>
			</div>
				<textarea id = "speech-9566" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9566">
					<img id="start_img-9566" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9566">Comment</button>
			<br><div id = "ans-9656"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9656" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From my understanding a simple accelerometer and magnetometer works.</p>

<p>Currently I use a 9DOF grove IMU. It has an I2C connection and contains both of those plus a gyroscopic sensor.</p>

<p>They've got this github for examples too, see <a href="https://github.com/Seeed-Studio/Grove_IMU_9DOF" rel="nofollow">Seeed-Studio/Grove_IMU_9DOF</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9656" data-toggle = "popover">
				<p>user name : ShiftyBot</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9656">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9656" class = 'collapse'>
			</div>
				<textarea id = "speech-9656" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9656">
					<img id="start_img-9656" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9656">Comment</button>
			<br><div id = "ans-9694"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9694" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree with holmeski's suggestion that an accelerometer is the way to go for static projects, but if you need more sophisticated measurements, an accelerometer/gyroscope combo will be necessary.</p>

<p>The MPU-6050 is a chip that contains a 3-axis MEMs accelerometer and gyroscope with a very small footprint. I have personally used the GY-521 breakout board, and I was impressed with the performance given the low price (~$5). Furthermore, there is documentation for the MPU-6050 on the Arduino website, which migh help for your project (<a href="http://playground.arduino.cc/Main/MPU-6050" rel="nofollow">http://playground.arduino.cc/Main/MPU-6050</a>).</p>

<p>One caveat to the MPU-6050 is that you will have to put some thought into filtering the measurements. Accelerometers suffer from low frequency noise, while gyroscopes suffer from high frequency noise. When I used the MPU-6050, I used a complimentary filter to combine the measurements from the accelerator and gyroscope into a single measurement for angle, which worked well. In retrospect, it would have been better to implement a Kalman Filter instead. Both will not only enable you to complete your project with the MPU-6050, but you will get to implement software filters, which is a good experience.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9694" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-9694">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9694" class = 'collapse'>
			</div>
				<textarea id = "speech-9694" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9694">
					<img id="start_img-9694" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9694">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>