<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Biped Robot not getting on one foot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11874" class = "post">
			<h2>Question</h2>
			<div id="vote-11874" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 84</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Biped Robot not getting on one foot</h2>
<p>I am creating a biped robot with an arduino and I have the lower part of the body complete, the legs and hip joints. Before I am going to 3D print the top part of the body I wanted to make sure that it would walk. So when I started the walking tests I could not get the robot to go onto one foot no matter what I tried. The foot would just raise up the body and not lift the other foot here is a picture of what is happening:<a href="https://i.stack.imgur.com/ZIo2Y.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZIo2Y.jpg" alt="What is happening"></a></p>

<p>and this is what I want to happen:</p>

<p><a href="https://i.stack.imgur.com/02Ll0.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/02Ll0.jpg" alt="What I want to happen"></a></p>

<p>Does it just need more weight on the top or is there a specific sequence of movements that I can do? I have two hip servo that moves left and right, a knee servo and a foot servo that move side to side.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11874" data-toggle = "popover">
				<p>user name : Loanb222</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-11874">{'None': 0, 'walking-robot': 1, 'arduino': 1, 'servomotor': 1, 'mobile-robot': 1, 'servos': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11874" class = 'collapse'>
			</div>
				<textarea id = "speech-11874" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11874">
					<img id="start_img-11874" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11874">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11876"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11876" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You got the second picture by physically manipulating the robot to get the center of mass above the rotated foot. What you need to do is to get the robot to shift its own center of mass in a similar fashion. </p>

<p>You should do some research into <a href="https://en.wikipedia.org/wiki/Support_polygon" rel="nofollow noreferrer">support polygons</a>. The center of mass of the robot is not above the polygon made by the contact area between the foot and ground. In order to shift the center of mass that far, I think you'll find that you need to move the hip joints and ankle joints in tandem to shift the floor-leg-hip-leg quadrilateral from a rectangle to a parallelogram, or you'll need to make one leg shorter (e.g., bend the knee) to shift the same quadrilateral to a trapezoid. </p>

<p>Once the center of mass is above the foot, then you can take corrective/restorative action to finish in the pose you desire. For example, you would roll one ankle out and adduct the hip on the same leg, while simultaneously rolling the other ankle in and abducting that hip. Once the center of mass is over the foot, put the hips back in position, then put the other ankle back in position. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11876" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11876">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11876" class = 'collapse'>
			</div>
				<textarea id = "speech-11876" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11876">
					<img id="start_img-11876" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11876">Comment</button>
			<br><div id = "ans-11883"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11883" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might be able to use the the opposite foot to begin the rotation of your chassis, but it will be dependent on your chassis and foot geometry.</p>

<p>Using your photos for reference, the left foot would push up beginning the chassis rotation, while the right foot would rotate simultaneously.  At some point the center-of-gravity (CoG) would shift enough so that the remainder of the chassis rotation could be done only on the right root.</p>

<p>I have a similar robot. It has an extra DoF, but if you ignore the knee joint, it is similar to your design.  These pictures show the basic idea.</p>

<p>Exaggerated rotation of opposite foot only:</p>

<p><a href="https://i.stack.imgur.com/7zry8.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/7zry8.png" alt="Exaggerated Pose"></a></p>

<p>Rotation of both feet simultaneously:</p>

<p><a href="https://i.stack.imgur.com/Z9XtL.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Z9XtL.png" alt="Normal Pose"></a></p>

<p>Whether or not this will work for you is dependent on a few things:</p>

<ol>
<li>If your legs are too far apart (hip too wide), then this might not work because the opposite foot will never be able to help shift CoG enough that the primary foot can take over and keep balance.</li>
<li>Your foot joint location and geometry must be such that it can initiate enough of the rotation. 

<ul>
<li>Consider that you can rotate the opposite foot in either direction to start the shift, and if the joint is not centered on the foot, then the direction you rotate the foot will change the amount of much leverage available to that foot.</li>
</ul></li>
<li>Your opposite foot servo must have enough power to begin the chassis rotation by lifting a portion of the machine.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11883" data-toggle = "popover">
				<p>user name : kaliatech</p>
				<p> user reputation : 472</p>
				<p class = "tagcontent" id = "usertaginfo-11883">{'None': 28, 'microcontroller': 5, 'serial': 5, 'rs232': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11883" class = 'collapse'>
			</div>
				<textarea id = "speech-11883" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11883">
					<img id="start_img-11883" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11883">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>