<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>biped walking using Genetic Algorithm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4724" class = "post">
			<h2>Question</h2>
			<div id="vote-4724" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 323</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>biped walking using Genetic Algorithm</h2>
<p>I am working on a project but I lack advanced programming knowledge, especially about genetic algorithms. I am developing a prototype using WEBOTS 7.4.3 for the simulation. The project is to use genetic algorithms to evolve the gait of a biped robot. I have developed a physical model, but I am still uncertain about the motor choice. For the algorithm part, I find it hard to understand how to set the algorithm parameters and how to determine the fitness function. Could you please suggest a fitness function?</p>

<p>Thank you for your help and efforts.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4724" data-toggle = "popover">
				<p>user name : Atoy</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-4724">{'legged': 1, 'None': 0, 'machine-learning': 1, 'algorithm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4724">Load Comments</button></br>
			<div id = "commentsection-4724" class = 'collapse'>
			<div id = "comment-7379" class = "comment">
				<p>I understand what your project is about, but I don't understand your question.</p>
			</div>
			<div id = "comment-7386" class = "comment">
				<p>sorry, in this project my task is to develop the algorithm. Can you explain or give suggestion about the parameter and fitness for biped robot.</p>
			</div>
			<div id = "comment-7387" class = "comment">
				<p>I have answered about the fitness function. The algorithm parameters depend on the genetic representation of your solution domain. Are you going for a neural network?</p>
			</div>
			<div id = "comment-7388" class = "comment">
				<p>Well I'am new here, could you give a link that you answers or  make discussion here would be nice. 
Actually, this project just focusing on genetic algorithm. If you could giving answer for neural network would be better for the comparison in our project</p>
			</div>
			<div id = "comment-7389" class = "comment">
				<p>I don't feel it is possible to answer the question without doing the whole project for you :) I suggest you learn about genetic algorithms and neural networks, there are plenty of equally good resources on the net so a specific recommendation might be superfluous.</p>
			</div>
			<div id = "comment-7390" class = "comment">
				<p>By the way a neural network is one way to represent the solution domain so that the gait can be evolved genetically. Even if your project is only about the genetic algorithm you need one way to represent the solution domain, neural networks or something else.</p>
			</div>
			<div id = "comment-7391" class = "comment">
				<p>Thank's for your feedback.
I do learn about GA and ANN, and I'm not mechanical engineering student. It hard for me to understand about the calculation of mechanism in robots. 
I will research about superfluous, thanks.</p>
			</div>
			<div id = "comment-7392" class = "comment">
				<p>"superflous" is not a research topic! I just meant you can research "genetic algorithms" and "neural networks" without me giving you specific links. There are many good links on the net.</p>
			</div>
			<div id = "comment-7393" class = "comment">
				<p>hahaha sorry about vocab</p>
			</div>
			<div id = "comment-7394" class = "comment">
				<p>Possibly relevant research: http://vimeo.com/79098420</p>
			</div>
			</div>
				<textarea id = "speech-4724" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4724">
					<img id="start_img-4724" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4724">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4733"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4733" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you're only trying to walk forward the fitness function could be the distance covered by the biped. If you're also trying to control the heading, you could define a slightly more complex function which correlates the covered distance and the heading input.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4733" data-toggle = "popover">
				<p>user name : marcv81</p>
				<p> user reputation : 408</p>
				<p class = "tagcontent" id = "usertaginfo-4733">{'None': 22, 'pid': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4733">Load Comments</button></br>
			<div id = "commentsection-4733" class = 'collapse'>
			<div id = "comment-7440" class = "comment">
				<p>I would love to know the reason why this answer was downvoted please. That way I could make the next answers better!</p>
			</div>
			</div>
				<textarea id = "speech-4733" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4733">
					<img id="start_img-4733" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4733">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>