<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Blade 180QX :What does this red wire do?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7764" class = "post">
			<h2>Question</h2>
			<div id="vote-7764" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 200</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Blade 180QX :What does this red wire do?</h2>
<p>I have a Blade 180QX quadrotor / quadcopter and I had to move a red wire shoved under the circuit board when I fixed a broken power wire. Now the red wire shown out straight from the circuit board is not in the right configuration - or at least as it was. If I understood what it was for I might know how to place it. Is this a horizon sensor (temperature)?
Ever since I had to move this wire, the quadrotor goes unstable when flying. The only appreciable change is the wire POSITION.
The red wire was not attached anywhere else on the board. It was shoved under the circuit board inside the battery holder.
<a href="https://i.stack.imgur.com/81yCR.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/81yCR.jpg" alt="Updated Blade 180QX image with red wire highlighted"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7764" data-toggle = "popover">
				<p>user name : daemondave</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-7764">{'quadcopter': 0, 'None': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7764">Load Comments</button></br>
			<div id = "commentsection-7764" class = 'collapse'>
			<div id = "comment-11267" class = "comment">
				<p>So everyone is clear, I think OP is referring to the very thin red wire in the bottom left of the pic. I initially thought this was in reference to the servo wiring.</p>
			</div>
			<div id = "comment-11269" class = "comment">
				<p>Thanks Chuck, I have updated the photo. As you can see, they burn off IC markings so it's a bit of a mystery.</p>
			</div>
			<div id = "comment-11270" class = "comment">
				<p>The red wire is a solid copper length which makes me suspect it is an antenna wire or a sensor wire.</p>
			</div>
			<div id = "comment-11305" class = "comment">
				<p>It is the antenna for the radio receiver. The one end is correctly not soldered to anything.</p>
			</div>
			<div id = "comment-16464" class = "comment">
				<p>If you feel that your question has been answered, could you mark one of the answers as the accepted answer, in order to take it out of the unanswered questions list? Thx :-)</p>
			</div>
			</div>
				<textarea id = "speech-7764" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7764">
					<img id="start_img-7764" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7764">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7771"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7771" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Do you have a picture of the other side of the board? Typically, when you have a broken wire like this, either (1) the wire pulls out of a <a href="https://softsolder.files.wordpress.com/2009/07/cimg2401-tinytrak3-cold-solder-joints.jpg" rel="nofollow">cold solder joint and leaves a hole</a>, or (2) the wire breaks and leaves a little piece of wire embedded in a (good) solder joint. </p>

<p>Given the fact that there is so little bare wire exposed, I think that you're in case (2), where I would bet the wire broke off at whatever joint in which it was originally soldered. If this is the case, you should see a little copper-colored bit sticking out of a solder blob or a <a href="http://imall.itead.cc/media/wysiwyg/PCB/buried_blind_via.jpg" rel="nofollow">via in the circuit board</a>. I don't see this, or the hole from case (1), anywhere on the surface of the board you've shown, which, coupled with the fact that the other end of the wire being under the board, leads me to believe your problem point is on the bottom of the board. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7771" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7771">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7771">Load Comments</button></br>
			<div id = "commentsection-7771" class = 'collapse'>
			<div id = "comment-11271" class = "comment">
				<p>The red wire was shoved under the board and not attached anywhere else on the circuit board. It was in the battery bay.</p>
			</div>
			<div id = "comment-11272" class = "comment">
				<p>What do you mean "shoved under the board"? Clearly it is not under the board, it is protruding from the board. It may not have been "shoved" under there, it may have been soldered somewhere. Can you not get a picture of the other side? It looks like it's just four screws.</p>
			</div>
			<div id = "comment-11273" class = "comment">
				<p>The other end of the wire might also be damaged, or you could have damaged something pulling the wire out. Also, any pictures of the repairs you made to the broken power wire?</p>
			</div>
			</div>
				<textarea id = "speech-7771" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7771">
					<img id="start_img-7771" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7771">Comment</button>
			<br><div id = "ans-9278"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9278" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That's not a wire, it is the antenna, which hangs loose from the side of the quad. Only one end of the antenna is soldered to the board.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9278" data-toggle = "popover">
				<p>user name : Rob</p>
				<p> user reputation : 7</p>
				<p class = "tagcontent" id = "usertaginfo-9278">{'None': -1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9278">Load Comments</button></br>
			<div id = "commentsection-9278" class = 'collapse'>
			<div id = "comment-16441" class = "comment">
				<p>Welcome to *robotics* Rob. On Stack Exchange we are are looking for comprehensive answers that provide some explanation and context. One-line answers cannot do this, so please consider editing your answer to explain why it is right. Answers which don't include explanations, especially if they are unclear for other reasons may be removed.</p>
			</div>
			</div>
				<textarea id = "speech-9278" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9278">
					<img id="start_img-9278" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9278">Comment</button>
			<br><div id = "ans-9292"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9292" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The red wire is the antenna. It can be seen sticking out of the board if you google for other images of "Blade 180QX board". It should only be connected at one end. </p>

<p>This <a href="http://www.rcgroups.com/forums/showthread.php?t=1954185" rel="nofollow noreferrer">thread</a> recommends that you stick it out the side rather than putting it under the board, which is what would generally be the advice for antenna.</p>

<p><a href="https://i.stack.imgur.com/xEHDW.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/xEHDW.jpg" alt="enter image description here"></a></p>

<p>It might be that by repositioning it you have introduced some interference, but the new position should introduce less interference, so it's possible that something else is causing your unstability.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9292" data-toggle = "popover">
				<p>user name : Pete Kirkham</p>
				<p> user reputation : 357</p>
				<p class = "tagcontent" id = "usertaginfo-9292">{'None': 19}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9292" class = 'collapse'>
			</div>
				<textarea id = "speech-9292" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9292">
					<img id="start_img-9292" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9292">Comment</button>
			<br><div id = "ans-9293"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9293" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Whilst not wishing to detract from <a href="https://robotics.stackexchange.com/questions/7764/blade-180qx-what-does-this-red-wire-do#answer-9278">Rob's answer</a>, and following on from <a href="https://robotics.stackexchange.com/questions/7764/blade-180qx-what-does-this-red-wire-do#answer-9292">Pete's suggestion of googling for other images</a>, if you go to the manufacturer's website, <a href="http://www.bladehelis.com/" rel="nofollow noreferrer">Bladehelis</a>, for <a href="http://www.bladehelis.com/180QX/" rel="nofollow noreferrer">that particular product</a>, and look at the <a href="http://www.bladehelis.com/Products/RelatedParts.aspx?ProdID=BLH7400A&amp;Category=Parts%20Listing" rel="nofollow noreferrer">replacement parts link</a>, you will see the controller board listed, the <a href="http://www.bladehelis.com/Products/Default.aspx?ProdID=BLH7401" rel="nofollow noreferrer">5-in-1 Ctrl Unit, RX/ESC/Mix/Gyros/Ch6: 180 QX HD</a>. On that page there is an <a href="http://www.bladehelis.com/ProdInfo/BLH/250/BLH7401-250.jpg" rel="nofollow noreferrer">image</a>, albeit not a particularly good one, that clearly shows the red wire/antenna:</p>

<blockquote>
  <p><a href="https://i.stack.imgur.com/Np7gK.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Np7gK.jpg" alt="5-in-1 Ctrl Unit, RX/ESC/Mix/Gyros/Ch6: 180 QX HD"></a></p>
</blockquote>

<p>Without wishing to go into the mechanics of antennas (for this, take a look at <a href="https://electronics.stackexchange.com/questions/73998/how-antenna-radiateshow-currents-flows-through-wire/">How antenna radiates(how currents flows through wire)</a>), it is sufficient to say that antennas only require to be connected to the PCB at one end, and so, you have not damaged your device, nor have you accidently disconnected the other end of the red wire, as it is meant to be "loose" anyway.</p>

<p>The <a href="http://www.bladehelis.com/ProdInfo/Files/BLH7400-Manual.pdf" rel="nofollow noreferrer">manual</a>, unfortunately, is of no help at all, with regards to this matter.</p>

<hr>

<p>As an aside, if you want to have a look at a good blog about this copter, then take a look at <a href="http://www.diysoup.com/do-it-yourself/remote-control-helicopters/blade-180-qx-hd-quadcopter/" rel="nofollow noreferrer">Blade 180 QX HD Quadcopter Breakdown</a>, on diysoup. There are plenty of photos of the PCB there, as well as a wealth of other information.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9293" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-9293">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9293" class = 'collapse'>
			</div>
				<textarea id = "speech-9293" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9293">
					<img id="start_img-9293" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9293">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>