<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Bounty expired without good answers, so did some digging and found the correct answer. Now what?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2278" class = "post">
			<h2>Question</h2>
			<div id="vote-2278" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Bounty expired without good answers, so did some digging and found the correct answer. Now what?</h2>
<p>I would like to request some help on a bounty. I am not seeing options that seem right for the community. In summary, it looks like my only choice is to award a bounty to an unsatisfactory answer. I would like to have more options. Below are the details.</p>

<p>I put a bounty on <a href="https://apple.stackexchange.com/questions/106809/expand-symlinked-directory-in-finder">this question</a> in the hopes that it would attract more attention, but the question did not get any new answers or updates.</p>

<p>The <a href="https://apple.stackexchange.com/questions/106809/expand-symlinked-directory-in-finder/154560#154560">answer which existed before I placed the bounty</a> does not answer the question; it only provides a work-around.</p>

<p>Only after the bounty expired, without any new answers, did I find <a href="https://apple.stackexchange.com/questions/106809/expand-symlinked-directory-in-finder/154560#154560">a satisfactory answer</a>.</p>

<p>The question was a stumper. There was no 'happy' answer to solve the problem. Still, in my opinion, it serves the community better to say "The answer to the question is 'no' and here are some references that back it up". Doing so "admits defeat" in some sense, but at least it moves the discussion forward. After that admission, then it is fine to add "Given that, perhaps you can use a work-around such as X" and/or "Perhaps you would like to file a bug report with Apple." In short, I think it is key to respect the original poster's question and answer it as specified. It would be misleading and incorrect to give the bounty to anything less.</p>

<p>So, I would like to either:</p>

<ul>
<li>Award the points to my answer. I don't like that this is self-serving, but my answer (actually based on someone else's research) is currently the best answer.</li>
<li>Delete the bounty. I don't need the points. I'd be happy losing them.</li>
</ul>

<p>My goal is to promote knowledge. I don't care about getting the points myself. In either case, I think it is wrong to give the bounty to an incorrect answer.</p>

<p>Is what I'm asking possible? Can someone help?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2278" data-toggle = "popover">
				<p>user name : David J.</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-2278">{'None': 0, 'support': 1, 'discussion': 1, 'questions': 1, 'bounty': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2278" class = 'collapse'>
			</div>
				<textarea id = "speech-2278" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2278">
					<img id="start_img-2278" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2278">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2279"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2279" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You do not have to award the bounty to anyone. You cannot award the bounty to yourself.</p>

<p>The point of the bounty is to "buy" exposure and attention for the question. That's what you paid for; that's what you got. If it results in a great answer, awesome. In this case, you determine that it did not generate a sufficient answer from someone other than you (and you get to make that call - you paid for the bounty). You don't have to award the points.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2279" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-2279">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2279">Load Comments</button></br>
			<div id = "commentsection-2279" class = 'collapse'>
			<div id = "comment-4296" class = "comment">
				<p>Thanks. Based on the email I got from the system, I thought the bounty would automatically be awarded. This didn't actually happen, so I'm a little confused about how the system works.</p>
			</div>
			</div>
				<textarea id = "speech-2279" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2279">
					<img id="start_img-2279" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2279">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>