<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Brush-less motor specs vs efficiency for multi-copters
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4722" class = "post">
			<h2>Question</h2>
			<div id="vote-4722" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 52</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Brush-less motor specs vs efficiency for multi-copters</h2>
<p>I am looking for some figures surrounding the specs of brushless motors and their relative efficiency (in power usage terms) for multi-copter use. </p>

<p>There are 4 basic specs for motors themselves:
 - Motor width (EG 28mm)
 - Motor height (EG 30mm)
 - "KV" - RPM per volt supplied (EG 800KV)
 - wattage (eg 300w)</p>

<p>This would then be a 28-30 800kv 300w motor. </p>

<p>What i am looking for is a chart containing:
 - Motor spec
 - pack voltage (eg 14.8v)
 - Amps drawn @ various % throttle (10% to 100% say)
 - static thrust from various propellers (11x5, 12x6 etc etc)</p>

<p>Does such information exist?
I know its a BIT subjective as prop and motor designs vary slightly, but a baseline would be a start.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4722" data-toggle = "popover">
				<p>user name : Digital Lightcraft</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-4722">{'brushless-motor': 6, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4722">Load Comments</button></br>
			<div id = "commentsection-4722" class = 'collapse'>
			<div id = "comment-7399" class = "comment">
				<p>To say that it's a bit subjective to prop choice would be an understatement...</p>
			</div>
			<div id = "comment-7403" class = "comment">
				<p>exactly, so it would have to be based on the same prop design.</p>
			</div>
			</div>
				<textarea id = "speech-4722" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4722">
					<img id="start_img-4722" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4722">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4821"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4821" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use the <a href="http://www.ecalc.ch/xcoptercalc.php?ecalc&amp;lang=en" rel="nofollow">eCalc Multicopter Calculator</a>. You select a set of motors, propellers and battery size and the program will output lots of data: Thrust, Motor efficiency at hover, Current and Voltage at hover, Motor efficiency at maximum power, Current and Voltage at maximum power, etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4821" data-toggle = "popover">
				<p>user name : Romain</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-4821">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4821" class = 'collapse'>
			</div>
				<textarea id = "speech-4821" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4821">
					<img id="start_img-4821" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4821">Comment</button>
			<br><div id = "ans-4823"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4823" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The programm you are searching for is <a href="http://www.drivecalc.de/" rel="nofollow">http://www.drivecalc.de/</a></p>

<p>They have all the common motors with lot of data... some "special" motors you won't find there</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4823" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4823">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4823" class = 'collapse'>
			</div>
				<textarea id = "speech-4823" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4823">
					<img id="start_img-4823" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4823">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>