<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Brushless DC motor - Electronic Speed Control - Quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7633" class = "post">
			<h2>Question</h2>
			<div id="vote-7633" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 847</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Brushless DC motor - Electronic Speed Control - Quadcopter</h2>
<p>I'm a student who is doing electrical and electronics engineering. I'm currently doing my final project which is a quadcopter. One of my objectives in that is to make a <strong>Electronic Speed Controller (ESC) for the brushless motors</strong> that are being used. </p>

<p>I made a design for the ESC using proteus and I made the PCB also. I have attached the schematic. I used <strong>PIC16F628A</strong> for the ESC and wrote a small code in <strong>mikroC</strong> for the ESC to work when powered up. Unfortunately it didn't work properly. I tried <strong>sensorless control</strong> of brushless motors without getting any feedback.</p>

<p>Can I know how much of current that I should provide for the motor? According to some articles that I read the brushless DC (BLDC) motor requires around 10A at the startup for around 20 ms. I have posted the code also. I used two codes to run the motor. One with PWM and other without PWM (100% duty cycle). </p>

<p>I am a rookie to the subject of BLDC motor controlling. I am very grateful if anybody can help me to clear out the doubts and figure out the mistakes in my design to make it work properly. </p>

<p>Below given is the code that I tried. Please help me to figure out the right way to program the chip.</p>

<pre><code>    const delay = 7000;

void main() {
 TRISB = 0x00;
 PORTB = 0x00;

 while(1)
 {
   PORTB = 0x24;
  delay_us(delay);

  PORTB = 0x36;
  delay_us(delay);

  PORTB = 0x12;
  delay_us(delay);

  PORTB = 0x1B;
  delay_us(delay);

  PORTB = 0x09;
  delay_us(delay);

  PORTB = 0x2D;
  delay_us(delay);
 }


}
</code></pre>

<p>When I uploaded the above given code and when I set the delay to around 3000 &mu;s, the motor spun but at each time one of the MOSFETs got heated up until I cannot touch it anymore. Here is the <a href="https://drive.google.com/open?id=0B1...jBROGk4QXFJR3c" rel="nofollow">video of this scenario</a>.</p>

<p>This is the other code (PWM);</p>

<pre><code>const delay1 = 2000;
const delay2 = 1000;
int count = 0;
int cnt;
int arr[6] = {0x24, 0x36, 0x12, 0x1B, 0x09, 0x2D};
int i = 0;
int x =  0x32;


 void init(void)
 {
  TRISB = 0x00;
 PORTB = 0x00;
 //OPTION_REG = 0x87;
 //INTCON = 0xA0;
 CCP1CON = 0;
 CMCON = 0x07;
 }



void main() {
   init();
   while(1){

   for (cnt = 0; cnt &lt; 10; cnt++)
       {
         PORTB = arr[i];
         delay_us(2);
         PORTB = 0x07;
         delay_us(2);

        }

     i++;

         if (i == 6)
         {
         i =0;
         }

   };


 }
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-7633" data-toggle = "popover">
				<p>user name : Sahan Atulugama</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7633">{'quadcopter': 0, 'brushless-motor': 0, 'None': 0, 'esc': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7633">Load Comments</button></br>
			<div id = "commentsection-7633" class = 'collapse'>
			<div id = "comment-11062" class = "comment">
				<p>Where is the schematic?</p>
			</div>
			</div>
				<textarea id = "speech-7633" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7633">
					<img id="start_img-7633" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7633">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7637"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7637" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First thing first: you can't observe your rotor's location at 0 speed, because at 0 speed, you've got no <a href="https://en.wikipedia.org/wiki/Counter-electromotive_force" rel="nofollow">back EMF</a>. You must make your motor ramp to a speed that allows you to observe it electronically. This is done <a href="https://en.wikipedia.org/wiki/Open-loop_controller" rel="nofollow">open-loop</a>.</p>

<p>To perform your ramp, you need to generate a voltage slightly above the BEMF at the ramping speed. Slightly above means that you probably don't need 100% duty cycle. Using 100% duty cycle on a stalled motor means that you put one phase (10 mOhms) on the output of your power supply (12V ?), so you basically try to put 1000A in your motor. You'll just make either or both your ESC and/or your motor burn.</p>

<p>Your motor supplier should indicate the characteristics of your motor. Look for one called Kv (in RPM/V). It allows you to know what duty cycle you should use at each step of your ramp.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7637" data-toggle = "popover">
				<p>user name : Jacen</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-7637">{'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7637">Load Comments</button></br>
			<div id = "commentsection-7637" class = 'collapse'>
			<div id = "comment-11055" class = "comment">
				<p>The motor that Im using is A2212/13T 1000Kv. how can I generate a ramp a little higher than the backemf? Thanks</p>
			</div>
			<div id = "comment-11056" class = "comment">
				<p>I'd be very grateful if you could tell me place that i could refer to learn about this method. Thanks for helping</p>
			</div>
			<div id = "comment-11057" class = "comment">
				<p>If your first step is 100rpm, your BEMF will be 0.1V. Due to various losses, let's make a 0.2V power supply. if you runs at 12V, 2% duty cycle gives you 0.24V, it's enough. You should be able to detect 0-crossing with 1V BEMF, so ramp to 1000rpm, with 1% duty cycle + 1.5% per 100rpm (1% per 100rpm should be enough). Power efficiency won't be good while ramping, but 1s should be enough, so it's a very little loss at start.
I don't have any reference on this topic.</p>
			</div>
			<div id = "comment-11058" class = "comment">
				<p>Jacen, what is the PWM frequency and the switching frequency that I should use? Thanks for the replies. Is this known as arming the bldc motor?</p>
			</div>
			<div id = "comment-12782" class = "comment">
				<p>Hi Jacen, Thank you very much for the replies. I got the motor rotating at around 1250 rpm. Thereafter can I increase the speed using the duty cycle? You have said that 1% duty cycle at the beginning, will it be enough to drive the motor startup?</p>
			</div>
			<div id = "comment-12783" class = "comment">
				<p>If you make your motor spin at 1250 rpm, you should be able to observe 0-crossings on the phase you don't drive. This means you can stop ramping in open loop and use the 0-crossing to know the best time to switch the phases you drive. Once you switch to this mode, the speed automatically scales to the PWM: if you increase PWM, you observe 0-crossing sooner, and switch to the next step earlier, thus your motor speeds up. Regarding switching frequency, it's a question on its own. Usually, something between 20kHz and 100kHz is fine.</p>
			</div>
			<div id = "comment-12784" class = "comment">
				<p>Hi Jacen, Thanks for helping me out. I think my PWM frequency is less than 5 KHz. Will that be a problem for the motor to work fine? And I can identify the zero crossings but I cannot figure out how to switch to the closed loop mode. Kindly please help me to solve this problem. Thanks! :)</p>
			</div>
			<div id = "comment-12785" class = "comment">
				<p>Unless you've got very high inductance, less than 5kHz will probably decrease the efficiency of your controller. This should work anyway. To go closed loop, just use 0-crossings as trigger for the sector change, instead of the timer you were using in open loop. If you have a specific question about that, open a new topic</p>
			</div>
			<div id = "comment-12786" class = "comment">
				<p>Thanks a lot for the help Jacen. :)  I made managed to get a PWM around 100kHz. Is it ok if I start a new topic on changing over to closed loop mode? I have a few questions on that too..</p>
			</div>
			</div>
				<textarea id = "speech-7637" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7637">
					<img id="start_img-7637" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7637">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>