<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>BS2 inconsistant pin state when connected to wire?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3162" class = "post">
			<h2>Question</h2>
			<div id="vote-3162" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 18</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>BS2 inconsistant pin state when connected to wire?</h2>
<p>I have a BS2 mounted on a Parallax Board of Education Rev D.
I was trying to use a wire to determine whether a control was pressed. 
however, whenever there's a wire connected the state seems to fluctuate between 1 and 0 instead of staying one or the other. when connected to the desired button it still exhibits this behavior but has the added quality of switching to zero when the button is pressed. ideally it will stay zero while the buttons pressed and 1 when it's not, but instead it flickers between 1 and 0 when unpressed. 
what causes this behavior and why does it occur even when the wire is not connected to anything except the bus?
the code used to get the state is </p>

<pre><code>DO
DEBUG CRSRXY,0,3,
"P5:", BIN1 IN5,
LOOP
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-3162" data-toggle = "popover">
				<p>user name : user16973</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-3162">{'None': 0, 'microcontroller': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3162" class = 'collapse'>
			</div>
				<textarea id = "speech-3162" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3162">
					<img id="start_img-3162" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3162">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3187"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3187" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you're in need of a <a href="http://en.wikipedia.org/wiki/Pull-up_resistor" rel="nofollow">pull-up resistor</a>.  This will help keep the input fixed at one value when disconnected.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3187" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-3187">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3187" class = 'collapse'>
			</div>
				<textarea id = "speech-3187" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3187">
					<img id="start_img-3187" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3187">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>