<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Bug does not count upvotes
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1006" class = "post">
			<h2>Question</h2>
			<div id="vote-1006" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 53</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Bug does not count upvotes</h2>
<p>I noticed that all upvotes (in total four) between 10:28pm and 11:48pm where not counted for my account.</p>

<ul>
<li>one question: all upvotes are ignored</li>
<li>second question: one upvote is ignored</li>
</ul>

<p><img src="https://i.stack.imgur.com/0n32h.jpg" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1006" data-toggle = "popover">
				<p>user name : gentmatt</p>
				<p> user reputation : 32773</p>
				<p class = "tagcontent" id = "usertaginfo-1006">{'None': 37, 'discussion': 3, 'blog': 3, 'reputation': 0, 'status-bydesign': 0, 'bug': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1006">Load Comments</button></br>
			<div id = "commentsection-1006" class = 'collapse'>
			<div id = "comment-1833" class = "comment">
				<p>unless this can be demonstrated to be a network-wide problem, this bug report should stay here</p>
			</div>
			<div id = "comment-1834" class = "comment">
				<p>@KyleCronin Ok. I'd be nice to get some feedback on bug posts, tough. Otherwise, I have no confirmation that someone responsible has taken a look at it. Something like your commment would be enough.</p>
			</div>
			</div>
				<textarea id = "speech-1006" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1006">
					<img id="start_img-1006" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1006">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1015"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1015" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have hit the daily reputation cap on that day. From the <a href="https://apple.stackexchange.com/faq#reputation">FAQ</a>:</p>

<blockquote>
  <p>You can earn a maximum of <strong>200</strong> reputation per day. Please note that votes for posts marked  community wiki  do not generate any reputation, while accepted answers and bounty awards are not subject to the daily reputation limit.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1015" data-toggle = "popover">
				<p>user name : balpha</p>
				<p> user reputation : 100</p>
				<p class = "tagcontent" id = "usertaginfo-1015">{'None': 26}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1015">Load Comments</button></br>
			<div id = "commentsection-1015" class = 'collapse'>
			<div id = "comment-1836" class = "comment">
				<p>Sorry, but I don't get this :(.  If I can earn a maximum of 200 reputation per day, how come I've crossed that maximum already several times before? The posts that did not get any rep for are not wiki posts.</p>
			</div>
			<div id = "comment-1837" class = "comment">
				<p>"accepted answers and bounty awards are not subject to the daily reputation limit" -- the reputation limit mainly refers to reputation *earned from upvotes*</p>
			</div>
			<div id = "comment-1838" class = "comment">
				<p>Ah, sorry! I skipped that part when skimming the text. :)</p>
			</div>
			</div>
				<textarea id = "speech-1015" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1015">
					<img id="start_img-1015" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1015">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>