<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building a balancing robot with differential drive
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1037" class = "post">
			<h2>Question</h2>
			<div id="vote-1037" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 541</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building a balancing robot with differential drive</h2>
<p>I've already built a two wheeled balancing robot using some continuous rotation servos and an accelerometer/gyroscope.  I upgraded the servos to some geared DC motors with 8-bit encoders with the goal having the robot drive around while balancing.   </p>

<p>I'm kind of stuck on how to program it to drive around while still balancing.  I think one way would be to just have the control input to the motors act sort of like pushing it.  So the robot would be momentarily unbalanced in the direction I want it to travel.  That seems kind of clumsy to me though.  There must be a better way of doing?  I think I need to combine the dynamic model for the balancer with the differential drive but this is a bit beyond the control theory that I know.  </p>

<p><strong>Update</strong> 
From Anorton's answer I have a good looking state matrix now. </p>

<p>Now about pole placement:  The A matrix will will have to be 4x4 based on the new state vector.  And B will then have to be a 4x2 matrix since I can only control the left/right wheel torque (u = 2x1 vector).  </p>

<p>I may need to read more about this but is there a systematic way to determine the A matrix by pole placement?  It seems to me for this example and even more complicated examples, determining A by guess and check would be very difficult.  </p>

<p><strong>Update #2</strong>
After a bit of reading I think I understand it now.  I still need the dynamics of the robot to determine the A matrix.  Once I have that I can do the pole placement using matlab or octave.   </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1037" data-toggle = "popover">
				<p>user name : JDD</p>
				<p> user reputation : 130</p>
				<p class = "tagcontent" id = "usertaginfo-1037">{'control': 8, 'None': 0, 'roomba': 9, 'localization': 6, 'pid': 2, 'mobile-robot': 8, 'dynamics': 8, 'ros': 9, 'irobot-create': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1037">Load Comments</button></br>
			<div id = "commentsection-1037" class = 'collapse'>
			<div id = "comment-2428" class = "comment">
				<p>What type of approach are you using/what control theory do you know?  I can write up one approach, but it could be super basic or super advanced, depending on your background... :)</p>
			</div>
			<div id = "comment-2429" class = "comment">
				<p>Thanks! for the old design with the servos I was calculating the inclination angle using data from the gyro/acceleromter.  Sending that to a Kalman filter and then a PID for the servo position.  I'm good with differential equations and okay with linear algebra.  I'm still pretty new to controls so maybe the basic one?  Or both if you're willing.  I'm always interested in learning more :)</p>
			</div>
			<div id = "comment-2430" class = "comment">
				<p>I only have one approach, so my prior comment was really saying it could be taken both ways (either super advanced if you were just starting off with robots, or super basic if you have some knowledge of controls)...  Based on your prior comment, I have a feeling I'm outranked. `:)`  My controls knowledge is very slim, but I'll throw my $0.02 worth in there...</p>
			</div>
			<div id = "comment-2448" class = "comment">
				<p>Welcome to *Robotics* JDD, it's better to edit additional information into your question rather than adding it as a comment, that way comments can be tidied up (deleted) later and they will stop distracting readers from the question itself.</p>
			</div>
			</div>
				<textarea id = "speech-1037" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1037">
					<img id="start_img-1037" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1037">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1041"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1041" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Disclaimer: I have never done this myself, but only have seen a description of it being done through Georgia Tech's "Control of Mobile Robotics" on Coursera.  My knowledge of controls is spotty, too.  Thus... take this with a grain of salt. <code>:)</code></p>

<p>To keep the robot upright (and still), you're trying to stabilize (send to $0$) the state $x$, where:
$$x=\left[\begin{array}{c}\text{leftVelocity} \\ \text{rightVelocity} \\ \text{angle from vertical}\end{array}\right]$$</p>

<p>However, when this system is stable, the left and right wheel velocities will be $0$.  So, we want an offset for the target speed:</p>

<p>$$x_{new}=\left[\begin{array}{c}\text{leftVelocity}-\delta_L \\ \text{rightVelocity}-\delta_R \\ \text{angle from vertical}\end{array}\right]$$
Where $\delta$ is the target speed for either side.</p>

<p>When this system is stabilized, the robot will be upright, and will have each wheel rotating at a desired speed.</p>

<p>This is the basic approach/outline.  I'll edit this with some more details tomorrow (and actual math, etc.), but I wanted to at least post the general idea now.  (It's late in my time zone, and I have an early class to get to.)</p>

<p><strong>EDITED:</strong>
Oh goodness.  So, I just looked back at the slides relating to this in the Coursera course (Section 4, slide 29).  You may want to go and enroll in that class just to download that slide set... <code>:)</code></p>

<p>The hard part is computing the $A$ and $B$ matrices (it's a big linearization mess).  Anyway, you want to make your state matrix as follows (not as above--my memory wasn't exactly right):</p>

<p>$$x=\left[\begin{array}{c}v \\ \omega \\ \phi \\ \dot \phi\end{array}\right]$$</p>

<p>Where $v$ is the velocity of the segway, $\omega$ is the rotational velocity (how fast the robot is pivoting) and $\phi$ is the angle from vertical.</p>

<p>We want to have a desired velocity, so let's define a new state vector:
$$\begin{align}\tilde x &amp;= x - \left[\begin{array}{c}v_d \\ \omega_d \\ 0 \\ 0 \end{array}\right]\\
&amp;= x - \delta
\end{align}$$</p>

<p>Where $\delta$ is the desired velocity and rotational quantity (as seen above).</p>

<p>Differentiating:
$$\dot{\tilde x} = \dot x - \dot \delta \underset{\text{$\delta$ is constant}}{=} \dot x$$</p>

<p>Thus, we have
$$\dot{\tilde x} = Ax + Bu$$</p>

<p>Where $A$ is the standard coeff matrix $B$ is the input matrix, and $u$ is the control vector.  We can then say:</p>

<p>$$\dot{\tilde x} = A(x - \delta) + Bu + A\delta$$
But, based on the solution for $A$ (from Coursera), $A\delta = 0$.  Thus:
$$\dot{\tilde x} = A\tilde x+ Bu$$</p>

<p>Now you can use pole placement to determine the correct eigenvalues, etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1041" data-toggle = "popover">
				<p>user name : apnorton</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-1041">{'control': 7, 'mobile-robot': 7, 'None': 19, 'arm': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1041">Load Comments</button></br>
			<div id = "commentsection-1041" class = 'collapse'>
			<div id = "comment-2431" class = "comment">
				<p>Awesome thanks!  I did that same Coursera class too we're probably not too far off in controls knowledge.  This is turning out to be a much harder project than I though it was going to be.  I like your state matrix so far though.</p>
			</div>
			<div id = "comment-2443" class = "comment">
				<p>Eek!  It appears that I'm not answering this tonight!  I was on spring break last week, and forgot about something that was due, so that kept me busy today.  I'll edit it tomorrow...</p>
			</div>
			<div id = "comment-2461" class = "comment">
				<p>No problem.  I blew up my last h-bridge yesterday trying to get it put together so I'll have to wait for a replacement.</p>
			</div>
			<div id = "comment-2466" class = "comment">
				<p>Thanks a lot Anorton for the help.  I think I'm understanding how to do this a lot more now.  I updated my original question.  How to determine the A and B matrices is still confusing me though.</p>
			</div>
			</div>
				<textarea id = "speech-1041" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1041">
					<img id="start_img-1041" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1041">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>