<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building my first quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7206" class = "post">
			<h2>Question</h2>
			<div id="vote-7206" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building my first quadcopter</h2>
<p>I am trying to build a quadcopter from scratch. I have selected few parts but I have no idea whether the quadcopter will come together and fly.</p>

<p>I would appreciate your feedback on whether the parts I have selected are compatible (<a href="http://www.hobbyking.com/hobbyking/store/__15205__Hobby_King_30A_ESC_3A_UBEC.html" rel="nofollow">UBEC</a>, <a href="http://www.hobbyking.com/hobbyking/store/__15193__HobbyKing_Donkey_ST3007_1100kv_Brushless_Motor.html" rel="nofollow">Motor</a>). If not, I would appreciate suggestions.</p>

<p>The frame for my quadcopter is in the X configuration and I am making my own. I am expecting the average weight of the quad to be around 800g. I hope the motors and prop combination can hover it well.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7206" data-toggle = "popover">
				<p>user name : Alienoid</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-7206">{'None': 0, 'multi-rotor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7206">Load Comments</button></br>
			<div id = "commentsection-7206" class = 'collapse'>
			<div id = "comment-10251" class = "comment">
				<p>your link shows your cart. please fix the link. ttp://www.hobbyking.com/hobbyking/store/uh_showCart.asp</p>
			</div>
			<div id = "comment-10252" class = "comment">
				<p>Hello, doesn't the cart show the list of things i have ordered?, i cant post separate links for all my parts because i don't have enough reputation points. Thanks!!!</p>
			</div>
			<div id = "comment-10253" class = "comment">
				<p>i updated and added links for motors and ESC heres the prop link http://www.hobbyking.com/hobbyking/store/__43848__9x4_5E_Nylon_Multi_Rotor_Propellers_L_H_and_R_H_Rotation_2_pairs_.html</p>
			</div>
			</div>
				<textarea id = "speech-7206" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7206">
					<img id="start_img-7206" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7206">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7209"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7209" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So generally for Quadcopter design you want the hover throttle (the point where the weight is balanced with the thrust produced) should be 50%. So if you look at the product page for the motor you posted you will see some measured thrust values</p>

<blockquote>
  <p>10x4.7 - 11.1v - 21A - 1150g Thrust</p>
  
  <p>9050 - 11.1v - 18A - 900g Thrust</p>
  
  <p>1060 (3 blade) - 11.1v - 23A - 1200g Thrust</p>
</blockquote>

<p>with a 9x4.5 prop  your going to get a hair less than the rated thrust for a 9050 (9x5) prop, with four motors you will probably get around 3000g of thrust or, based on a 800g frame a 26% hover throttle, as you can see the motor is capping out at 18A meaning you could go with a 20A esc to save weight. This data is based on a 3s battery so with a hover current draw of 18A*4*.26=18.7A you could get around 7mins of flight time with a 2.2Ah battery (2.2Ah/18.75A)</p>

<ul>
<li><p>4 x motors 304g</p></li>
<li><p>4 x props 36g</p></li>
<li><p>4 x 30A esc 128g</p></li>
<li><p>1 x <a href="http://www.hobbyking.com/hobbyking/store/uh_viewItem.asp?idProduct=21346" rel="nofollow">2.2Ah 3S battery</a> 163g</p></li>
</ul>

<p>this is already 632g pretty close to 800g this is without a flight controller or misc connectors receiver frame etc... is it possible? yes but expect it to be a little heavier.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7209" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7209">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7209">Load Comments</button></br>
			<div id = "commentsection-7209" class = 'collapse'>
			<div id = "comment-10261" class = "comment">
				<p>So i am assuming even if the weight of my quad increases it should be fine right? as you said hover throttle should be 50%  and if max thrust produced is around 3000g then for it to hover well the frame weight should be less than 1500g. I am using open pilot CC3D atom as flight controller(30g?) and turnigy 9x TX and RX...with 4000mA 3s 30c. I also would you suggest getting afro 30A ESC or the ones i have selected are fine? Thank you soo much it helped a lot!!!!!!</p>
			</div>
			<div id = "comment-10264" class = "comment">
				<p>The ESCs you have selected are just fine, the lower the hover throttle the longer the flight time will be so you always want to shoot for the lowest possible weight. It looks like the CC3D weight ~10g depending on model/case and a turnigy RX weighs around 20g giving you a final weight of around 662g, plenty of weight left over for a lightweight frame. You can work out the equations for your larger/heavier battery to estimate your flight time. [ecalc](http://ecalc.ch) is my favorite calculator it can give more specific performance data about your configuration.</p>
			</div>
			<div id = "comment-10279" class = "comment">
				<p>Thanks mark i shall proceed and get my parts and start building..hope it turns out fine!!!!</p>
			</div>
			</div>
				<textarea id = "speech-7209" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7209">
					<img id="start_img-7209" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7209">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>