<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building a quadcopter, what motors, props and what are the calculations?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8988" class = "post">
			<h2>Question</h2>
			<div id="vote-8988" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 251</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building a quadcopter, what motors, props and what are the calculations?</h2>
<p>Before I start, I am a 13 year old, I would like to apologise because I am a beginner to all this and I wouldn't really understand any professional talk, I am only doing this for a hobby.</p>

<p>I am building a quadcopter,</p>

<ul>
<li>Flight controller: KK 1.2.5</li>
<li>ESC: Q Brain 25amp</li>
<li>Frame: KK 260 / FPV 260</li>
<li>Frame Addon: KK/FPV 250 Long Frame Upgrade Kit</li>
<li>Tx &amp; Rx: HobbyKing 6ch tx rx (Mode 2)</li>
<li>Battery: Turnigy Nano-Tech 2200 mAh 3S</li>
</ul>

<p>I am not sure about what motor and propellers I should use.
All I know is: for the frame the motor mounts are: 16mm to 19mm with M3 screws
I am not sure what 1806 and 2208 means.</p>

<p>Here are my questions:</p>

<ol>
<li>What calculations should I do to find out how much thrust the quad needs to produce / any other useful calculations</li>
<li>Using the calculations what would be the best and CHEAPEST motors I could have</li>
<li>And finally, what propeller would be best suited for the motor.</li>
</ol>

<p>p.s: I am looking for a durable and really cheap motors also, I live in London, so shipping might be a problem if there is an immense bill.</p>

<p>Thanks a lot for your time,
Sid</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8988" data-toggle = "popover">
				<p>user name : SidS</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-8988">{'quadcopter': 3, 'None': 5, 'power': 1, 'motor': 4, 'electric': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8988" class = 'collapse'>
			</div>
				<textarea id = "speech-8988" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8988">
					<img id="start_img-8988" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8988">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8996"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8996" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You've got most of the needed parts right however, since you are a begginner I would recommend you just buy ARF (Almost Ready to fly kits from HobbyKing or Amazon). An example is the DJI F450 kit with e300/e305 tuned propulsion system. The motors and propellers are already tuned so you do not need to balance them and the motors that come with either of these kits are designed to work seamlessly with the ESC's they come with. These also work with your KK flight controller. The recommended takeoff weight for this kit is 1.2 kgs which is enough for most applications. I've also seen people doing their thesis projects using this kit including me.</p>

<p>If you want to pursue building you own (Which I think you shouldn't do), you should first take into consideration the weight you are expecting. </p>

<ol>
<li><p>Get the weight of your frame and all the peripherals you would mount such as the flight controller, the camera and the frame that you are going to use. Take into consideration the maximum weight capacity of your frame while doing this. You should also leave allowances for the addition of motors, propellers and esc's and the battery. </p></li>
<li><p>Once you've got the weight, its time to select motors. You should select motors based on their recommended take off weight (you can check this on their specs). If your the weight you've calculated plus the weight of the motors you've selected fits into the recommended take off weight then your good. Take note I said recommended take off weight, not maximum weight/thrust. </p></li>
<li><p>I'm not that familiar when it comes to selecting propellers though. You can check this link instead. He gives a better explaination: <a href="http://blog.oscarliang.net/how-to-choose-motor-and-propeller-for-quadcopter/" rel="nofollow">http://blog.oscarliang.net/how-to-choose-motor-and-propeller-for-quadcopter/</a> </p></li>
<li><p>When selecting batteries you can use this calculator to check your estimated flight time. <a href="http://multicopter.forestblue.nl/lipo_need_calculator.html" rel="nofollow">http://multicopter.forestblue.nl/lipo_need_calculator.html</a></p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8996" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-8996">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8996">Load Comments</button></br>
			<div id = "commentsection-8996" class = 'collapse'>
			<div id = "comment-14818" class = "comment">
				<p>Thanks for the help, I did make it fly using EMax 2800 kv motors and some SimonK esc. But the problem was that the motor burnt out. I soldered all the parts perfectly, I used 3.5 mm bullet connectors.</p>
			</div>
			<div id = "comment-14819" class = "comment">
				<p>Did you measure the weight you are trying to carry? Because on their site, they indicated that the maximum thrust per motor is 130g only, that's only 520 grams of thrust (4x130=520) all in all for four motors (Quadcopter). That should enable you to only lift 260g of weight (1/2 of 560 for a safety margin). The battery you've selected is already 188g leaving you with only 72 grams which is not enough. I think you've chosen the wrong motor :(</p>
			</div>
			<div id = "comment-14820" class = "comment">
				<p>Building your own quad does take a lot of trial and error so, I suggest trying a bit more research. I do wish you the best :) God bless :) Try looking for lower KV motors :)</p>
			</div>
			<div id = "comment-14826" class = "comment">
				<p>Yeah, I think I need to do more research, thanks for all the help guys! :-)</p>
			</div>
			</div>
				<textarea id = "speech-8996" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8996">
					<img id="start_img-8996" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8996">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>