<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building an open loop controller for a simple DC motor position problem
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6523" class = "post">
			<h2>Question</h2>
			<div id="vote-6523" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 659</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building an open loop controller for a simple DC motor position problem</h2>
<p>In order to identify the dynamics of my DC motor, I am trying to command it with Xcos using the Arduino tool box. The problem that I am facing is how to give the motor an input command such that I get some given angle position as output. I can only control the input voltage to the motor via PWM.</p>

<p>I have been thinking about converting the angle to voltage but I can't figure it out.
Can somebody help me?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6523" data-toggle = "popover">
				<p>user name : Med.ali</p>
				<p> user reputation : 34</p>
				<p class = "tagcontent" id = "usertaginfo-6523">{'control': -1, 'odometry': 1, 'None': 0, 'noise': 5, 'motor': 1, 'arduino': 1, 'pid': 1, 'wheeled-robot': 1, 'kalman-filter': 3, 'sensors': 0, 'gyroscope': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6523" class = 'collapse'>
			</div>
				<textarea id = "speech-6523" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6523">
					<img id="start_img-6523" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6523">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6525"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6525" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You would need to construct a model of the motor's performance, and use that model to solve for the input that would give you the output you wanted.</p>

<p>In the simplest case, you could measure the motor's acceleration and deceleration -- the position of the motor over time -- and end up with 2 functions.  Then you'd find the right amount of time to spend applying voltage so that the predicted position (after coming to a stop) is closest to your target position. </p>

<p>In graphical terms, you'd have a velocity-vs-time graph of acceleration that slopes up, and a velocity-vs-time graph of deceleration that slopes down.  If you overlay them, they should cross.  Now slide the deceleration graph left or right until the <strong>area</strong> underneath the 2 lines is equal to the position that you want.  The point where they intersect indicates the time where you should stop applying voltage.</p>

<p>Without a position sensor, the quality of your result is only as good as the quality of your model.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6525" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-6525">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6525">Load Comments</button></br>
			<div id = "commentsection-6525" class = 'collapse'>
			<div id = "comment-9378" class = "comment">
				<p>I do have an encoder for position and velocity in the motor.Sorry but i don t see  the why i should measure velocity,acceleration and deceleration</p>
			</div>
			<div id = "comment-9387" class = "comment">
				<p>If you have an encoder for position and velocity, then why do you want to do open loop control instead of closed loop control?</p>
			</div>
			</div>
				<textarea id = "speech-6525" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6525">
					<img id="start_img-6525" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6525">Comment</button>
			<br><div id = "ans-6527"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6527" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Why do you want to go for an open-loop approach when you have position and velocity feedback at your disposal? In fact, only <strong>closed-loop controllers</strong> can provide desirable properties such as <strong>convergence</strong>, <strong>robustness</strong>, resilience to <strong>uncertainties</strong> in the model.</p>

<p>There is no static relation between voltage and angle position, simply because at steady-state a constant voltage yields a constant motor speed. Therefore, it's only how you vary the voltage over time that has influence in terms of final angle position (the integral of the speed), as <a href="https://robotics.stackexchange.com/users/350/ian">Ian</a> has tried to <a href="https://robotics.stackexchange.com/a/6525/6941">explain</a>.</p>

<p>Under some wide conditions the relation between the voltage and the position can be described by a transfer function with two real poles: one in the origin and one negative pole accounting for the mechanical response of the motor (we can neglect the fastest electrical pole). The transfer function is simple and can be suitably identified by injecting special voltage waveforms (e.g. step-wise, train of pulses, chirps) and measuring back the position profiles.</p>

<p>Once the model is found, you have then to come up with a methodology to shape the input voltage $V$ in order to reach for the target position $\theta_d$.</p>

<p>In closed-loop it is very easy to select $V=PID(\theta_d-\theta)$, where $\theta$ is the position read from the encoder and $PID(\cdot)$ stands for the <em>Proportional-Integral-Derivative</em> control function, which ensures converge towards $\theta_d$ for a given set of control gains, so as robustness of the control action against variation of model parameters. In its simplest form, $PID(\cdot)$ can be just a multiplication by a coefficient $K$. In short, you are pretty sure that you reach the target.</p>

<p>By contrast, in open-loop you need to design a sort of input shaping of the voltage with resort to e.g. trapezoidal waveforms or other graphical methods (see Ian's answer), given the target to attain. Importantly, you have no guarantee that you will get on the target at the end, because of the uncertainties in the model that open-loop cannot compensate for.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6527" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-6527">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6527">Load Comments</button></br>
			<div id = "commentsection-6527" class = 'collapse'>
			<div id = "comment-9382" class = "comment">
				<p>In fact ,i was trying to do that to identify 'the plant'.Since it is easier to identify velocity in closed loop ,i am gonna try this.Thank you for your answer.</p>
			</div>
			<div id = "comment-9384" class = "comment">
				<p>Beware of closed-loop identification: you must pay attention to that, since it differs significantly from open-loop identification. See for example this [answer](http://robotics.stackexchange.com/a/6431/6941).</p>
			</div>
			</div>
				<textarea id = "speech-6527" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6527">
					<img id="start_img-6527" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6527">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>