<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building Robotic arm joint
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-869" class = "post">
			<h2>Question</h2>
			<div id="vote-869" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2346</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building Robotic arm joint</h2>
<p>I am very new to robotic design and I need to determine what parts I will need to assemble an arm joint.  The joint will contain one timing belt pulley which a remote motor will be turning, a forearm that the pulley will be rotating and an upper-arm piece that will actually be two parallel arms that will grip the pulley on top and bottom in order to brace the pulley from off axis torque from the timing belt.</p>

<p>I am kind of at a lost as to how to mount all of these together.  I would like to mount the forearm directly to the pulley and then the two parallel arms (comprising the upper-arm) sandwich the top of the pulley and the lower part of the forearm.  This would be attached using a turn table.  Any ideas on how a shaft would mount to these?  Or how to attach the pulley to the arms themselves?</p>

<p>Any kind of direction or links would be greatly appreciated, I don't even know the names of the parts I would be looking for.</p>

<p>In this ASCII art model the dashed lines (-) are the arms.  The arm on the left is the forearm and the two arms on the right are the two parallel parts of the upper arm.  The stars are the belt and the bars (||) are the pulleys at the elbow |E| and shoulder |S|.  </p>

<pre><code>              -----------------
              |E|***********|S|
-----------------
              -----------------
</code></pre>

<p>I am thinking of mounting the pulley to the left arm directly (a bushing?) and then maybe using turntables to mount the pulley to the top arm and another turn table to mount the left arm to the bottom arm.</p>

<p>Here is a picture of the design to help you visualize:</p>

<p><a href="https://imgur.com/ci9BuKL" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/qyAQ9.png" alt="Double Joint Arm assembly"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-869" data-toggle = "popover">
				<p>user name : user912447</p>
				<p> user reputation : 45</p>
				<p class = "tagcontent" id = "usertaginfo-869">{'joint': 6, 'None': 0, 'design': 8, 'arm': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-869">Load Comments</button></br>
			<div id = "commentsection-869" class = 'collapse'>
			<div id = "comment-2158" class = "comment">
				<p>Welcome to *robotics* user912447, any chance that you could draw a quick sketch of your current design? It would help us visualise your problem a little better.</p>
			</div>
			<div id = "comment-2186" class = "comment">
				<p>Are either of these images representative of what you're trying to do? [image 1](http://www.emeraldinsight.com/content_images/fig/0330240405003.png) [image 2](http://www.emeraldinsight.com/content_images/fig/0330240405004.png)</p>
			</div>
			<div id = "comment-2187" class = "comment">
				<p>Those very similar but where there is a second belt extending down the second arm, we will only have the second arm (notice only one line of *).  Also above that belt on the first arm in that picture there will be another support arm to prevent off-axis torque when the belt pulls.</p>
			</div>
			</div>
				<textarea id = "speech-869" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-869">
					<img id="start_img-869" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-869">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-890"  class = "post">
				<h2>Answer</h2>
			<div id="vote-890" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This looks very much like a simplification of a traditional <a href="http://en.wikipedia.org/wiki/SCARA" rel="nofollow">SCARA</a> robot design.</p>

<p>It is a nice simple design in which the weight bearing axes are all nicely horizontal, which means these axes behave similarly irrespective of the load weight. The only downside of this design is that the some positions can only be accessed from a left handed configuration, some can only be accessed from a right handed configuration and some can be accessed from either (which can cause problems with the higher level control).</p>

<p>The normal nomenclature for these joints are that the upper arm is between the shoulder axis and the elbow, so that is what I will call these joints below.</p>

<p>If you want the elbow pulley to turn the lower arm then you need to use either a fixed shaft or drive shaft:</p>

<ul>
<li>With a drive shaft you bolt the pulley and the lower arm to the shaft and set the shaft in bearings on the end of the upper arms. Torque is transmitted from the belt to the lower arm through the drive shaft.
<ul>
<li>This route is easier, since both pulley and arm are probably designed to do this.</li>
</ul></li>
<li>With a fixed shaft you bolt the shaft rigidly between the upper arms, mount both the lower arm and the pulley on bearings, then fix the pulley to the lower arm directly.
<ul>
<li>This design could allow the upper arm to be much more rigid, which might be a concern if you are worried about the strength of your upper arm.</li>
</ul></li>
</ul>

<p>The shoulder joint has similar options, but is complicated by the fact that you not only need to transmit torque to the lower arm, but you also have to turn the upper arm too. Now you have several options:</p>

<ul>
<li>Use the shoulder shaft as a drive shaft, fix it to both halves of the upper arm, and use the shaft rotation to drive the upper arm, then use a fixed shaft mechanism to drive the lower arm pulley (this extra joint will be freely rotating on the upper arm drive shaft).
<ul>
<li>This is probably the easiest option.</li>
</ul></li>
<li>Use the shoulder shaft as a drive shaft, but fix it to the lower arm pulley, and use the shaft rotation to drive the lower arm, then use a fixed shaft mechanism to mount and drive the upper arm.
<ul>
<li>The problem with this option is that unless you add a fixed shaft shoulder mechanism for both halves of the upper arm, you may end up twisting the arm when you apply torque to one half but not the other, a problem which is even more likely if you opted for a drive shaft elbow mechanism.</li>
</ul></li>
<li>Fix the shoulder shaft to the base, and use a fixed shaft mechanism to drive both upper and lower arms.
<ul>
<li>Again, this might give you a slightly stronger robot overall, but has the same problem with regard to driving both halves of the upper arm.</li>
</ul></li>
</ul>

<p>It is this extra complexity which is why a single heavier duty upper arm might be preferable to increasing the strength of the upper arm by doubling up two lighter arms which are allowed to move (slightly) independently of each other.</p>

<p>Another alternative to remove the need to transmit the elbow torque through the shoulder axis is to mount the lower arm motor <em>on the upper arm</em>. Thus you can treat upper and lower arms as mechanically independent systems, and your design decision for one won't have ramifications for the other.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-890" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-890">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-890">Load Comments</button></br>
			<div id = "commentsection-890" class = 'collapse'>
			<div id = "comment-2207" class = "comment">
				<p>Wow, thank you for such a detailed answer.  I am really surprised to get such a response and have it answer my question so well.  Definitely giving the check to you sir.</p>
			</div>
			<div id = "comment-2210" class = "comment">
				<p>That's Ok @user912447 - I'm happy to be a help. Note that it's not always obvious, but it's good practice on stack exchange sites to click on the 'This answer is useful' *up-arrow* for all answers that you find useful and only after a few days select your 'accepted answer'. This gives others a chance to provide an even better answer. Even though you can change your accepted answer at any time, accepting an answer too soon can discourage others from posting their answer.</p>
			</div>
			</div>
				<textarea id = "speech-890" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-890">
					<img id="start_img-890" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-890">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>