<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building a non rotating persistence of vision device
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1515" class = "post">
			<h2>Question</h2>
			<div id="vote-1515" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 871</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building a non rotating persistence of vision device</h2>
<p>I'm looking for a way to create a non-rotating persistence of vision device. I have all the electronics set up but I'm stumped with the mechanical design.
I tried these two designs:<img src="https://i.stack.imgur.com/Xvb5l.png" alt="enter image description here"><br>
But these didn't work so well. Everything shakes violently and it doesn't go nearly as fast as I need (about 20 swipes per second)
Any ideas on how I can build this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1515" data-toggle = "popover">
				<p>user name : shoosh</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1515">{'None': 0, 'mechanism': 4, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1515">Load Comments</button></br>
			<div id = "commentsection-1515" class = 'collapse'>
			<div id = "comment-3180" class = "comment">
				<p>Take a look at the details of an automobile's motor, especially at the crank and the plunger. http://en.wikipedia.org/wiki/Piston_motion_equations#Example_graph_of_piston_motion the image below the diagram.</p>
			</div>
			<div id = "comment-3181" class = "comment">
				<p>@ott-- this is very similar to the drawing on the left. The problem is that it's very difficult to balance this to run fast.</p>
			</div>
			<div id = "comment-3182" class = "comment">
				<p>http://de.wikipedia.org/wiki/Hubkolbenmotor This is a better image (the page is in german, but it's only the image). It's clearly to see why the piston cannot shake around.</p>
			</div>
			<div id = "comment-3183" class = "comment">
				<p>@ott-- I mean the whole thing shakes since the rotation is not balanced</p>
			</div>
			<div id = "comment-3184" class = "comment">
				<p>You need a more solid base plate of a certain weight. Try 10 kg first.</p>
			</div>
			<div id = "comment-3187" class = "comment">
				<p>Is the problem that you want a different mechanism, or that you need help balancing one of the mechanisms you mentioned above?  I would imagine that the simplest way to balance these is just to add a dummy arm that's $180^\circ$ out of phase with the first arm.</p>
			</div>
			<div id = "comment-3191" class = "comment">
				<p>I considered trying to balance it with a symmetric art on the other side but that proved mechanically challenging since there isn't enough place both for the motor and the another arm</p>
			</div>
			<div id = "comment-4747" class = "comment">
				<p>@shoosh you are simple getting the hard way to balance this type of mechanism, that's one of the subjects how the continuous rotation is preferred. But even a simple wheel depending on weight, size and speed, will need very precise balancing other wise they will tend to exhibit centrifugal forces so great that can simple "explode" or have big mechanical vibration. Also, with this mechanism, the arm will produce a sinusoidal like speed (considering the wheel at a fixed speed), so it will be more fast in the middle of travel.</p>
			</div>
			</div>
				<textarea id = "speech-1515" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1515">
					<img id="start_img-1515" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1515">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1672"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1672" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><em>I'm looking for a way to create a non-rotating persistence of vision device.</em></p>

<p>It seems to me that the two designs that you propose yourself, at least rely on rotation.</p>

<p>I would suggest getting rid of rotation entirely. In particular since you say you have problems swinging these arms around.</p>

<p>One way to go about this, is by using magnets, springs and electro magnets. Actually, instead of me explaining this, go look at a loud speaker unit, and apply that same principle to your challenge. You want it to move further though, so use some soft springs to suspend your moving  component between, so you can get some good range on it.</p>

<pre><code>          &lt;fixed electro magnet&gt;               L
&lt;spring&gt;--&lt;free moving magnet&gt;--&lt;electronics&gt;--E--&lt;spring&gt;
          &lt;fixed electro magnet&gt;               D
</code></pre>

<p>The middle line can move from side to side, the electromagnet is curled around the sliding assembly</p>

<p>You would likely need to drive the electro magnet in both directions (reversing the poles) to get some good speed too.</p>

<p>The benefit of this, is that the suspended electronics, can be really light, so you dont need some really heavy weights to keep the vibrations down. And the two springs of either end, could carry the power to the moving electronics.</p>

<p><strong>EDIT:</strong>
I got inspired by rocketnagnet's graphics, so i stole some of it, to clarify just a little bit, just to give a hint as to how my ascii graphics was intended.
<img src="https://i.stack.imgur.com/Jju2a.png" alt="vertical led strip vibrating horizontally along the axis of the solenoid"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1672" data-toggle = "popover">
				<p>user name : Zuu</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1672">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1672" class = 'collapse'>
			</div>
				<textarea id = "speech-1672" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1672">
					<img id="start_img-1672" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1672">Comment</button>
			<br><div id = "ans-1801"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1801" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think Zuu's answer was very good, but I'd like to add some more detail to it.</p>

<p><img src="https://i.stack.imgur.com/YAjtC.png" alt="Persistence of Vision oscillator"></p>

<p>The idea of using a spring is very good. From the start this creates the oscillating movement you want. I would suggest using a steel leaf spring. This is good for two reasons:</p>

<ul>
<li>It restricts the movement to just left-right.</li>
<li>It allows you to add solenoids to drive the movement.</li>
</ul>

<p>Firstly, set up your spring system. The PCB with LEDs is mounted somehow on the end of the leaf spring. As well as the LEDs, the PCB should also have an accelerometer to measure the movement of the PCB.</p>

<p>Pull back the PCB with LEDs and let it oscillate. Look at the output of the accelerometer to measure the frequency of oscillation. Adjust the length of the spring until the oscillation frequency is about 20 swipes per second. </p>

<p>You're almost there. Now you need to drive the oscillation using the solenoids. Use the accelerometer to synchronise energising the solenoids. </p>

<hr>

<p>Added:</p>

<p>The reason this is an improvement over Zuzu's answer is that, while solenoids are great for short sharp movements, they are terrible for long smooth movements. The travel you get from them will be too short to make an interesting display.</p>

<p>What you need is some mechanism that allows the solenoids to work over a short distance, while the LEDs move a large distance. Hence allowing the stick to bend at the leaf spring. Whether you consider this to be a 'rotating' mechanism depends on whether you consider bending to be a type of rotating.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1801" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-1801">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1801">Load Comments</button></br>
			<div id = "commentsection-1801" class = 'collapse'>
			<div id = "comment-4743" class = "comment">
				<p>If your intention here was to "add more detail to Zuu's answer", then i think my answer was misunderstood. The image you show is very similar to the OPs first image, of a bar that rotates around its bottom end. My answer does not have anything rotating about anything. its basically a piston that vibrates back and forth.</p>
			</div>
			<div id = "comment-4744" class = "comment">
				<p>I borrowed some of your graphics to give a better hint as to what my idea could look like.</p>
			</div>
			</div>
				<textarea id = "speech-1801" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1801">
					<img id="start_img-1801" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1801">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>