<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building industrial-like robotic arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7109" class = "post">
			<h2>Question</h2>
			<div id="vote-7109" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 510</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building industrial-like robotic arm</h2>
<p>I would like to build a 70cm articulated robotic arm (not a scara one) that can lift between 10kg and 15kg (10kg would be awesome already, this payload includes the weight of the arm+gripper) and moves at 1 m/s (dreaming again :)). The goal is to make it similar to an human arm since I want to control it "remotely", so the joint should not be able to rotate more than my arm ^^</p>

<p>So I know that I cannot uses servos available (like the overpriced dynamixel ones..)  with that payload. I also already excluded common linear actuators and less common ones like the pneumatic actuators (because of latency).</p>

<p>From what I read arms like the baxter ones uses elastic series actuators, so I guess that I should go that way, but there aren't a lot of details on how that works (getting a lot of 100x100 photos where you see nothing) and I have a lot of questions. 
The only thing I could understand is that it uses 2 motors and a spring.</p>

<p>Do they use brushed or brushless motors? DC motors or steppers ? I read that steppers aren't that good to handle collisions and have difficulties when used at their limits.</p>

<p>Also, how is the spring mounted on the motor ?</p>

<p>To sum up, I'm collecting any experience, diagrams, intel, or documents that you have on that topic :)</p>

<p>PS : my budget can't exceed +/- 1500$ for that arm.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7109" data-toggle = "popover">
				<p>user name : LiohAu</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-7109">{'None': 0, 'motor': 1, 'mechanism': 0, 'servomotor': 1, 'design': 0, 'robotic-arm': 1, 'actuator': 1, 'stepper-motor': 1, 'ultrasonic-sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7109" class = 'collapse'>
			</div>
				<textarea id = "speech-7109" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7109">
					<img id="start_img-7109" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7109">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7113"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7113" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A series elastic actuator is really just a motor/gearbox with passive compliance built in (hence the spring).  A google search finds <a href="http://ihmc.us/groups/sea/" rel="nofollow">http://ihmc.us/groups/sea/</a> (with links to some specs and information) and an older thesis, <a href="http://groups.csail.mit.edu/lbr/hrg/1995/mattw_ms_thesis.pdf" rel="nofollow">http://groups.csail.mit.edu/lbr/hrg/1995/mattw_ms_thesis.pdf</a></p>

<p>So the motors &amp; gearboxes you use will still have to be pretty high in performance, regardless of whether they have elastic elements.  (Sorry but I think your budget is far too low for this torque requirement.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7113" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-7113">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7113" class = 'collapse'>
			</div>
				<textarea id = "speech-7113" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7113">
					<img id="start_img-7113" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7113">Comment</button>
			<br><div id = "ans-7115"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7115" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A <a href="http://machinedesign.com/springs/exclusive-interview-gill-pratt-how-compliant-actuators-revolutionized-robotics" rel="nofollow">machinedesign.com article</a>,   Exclusive interview: Gill Pratt on how compliant actuators revolutionized robotics , includes a close-up picture of an SEA (series elastic actuator) mechanism developed by a <a href="http://mech.vub.ac.be/multibody_mechanics.htm" rel="nofollow">robotics research group at Vrije</a> in Brussels, and a picture of a Baxter arm, captioned  In the larger red circle is one of Baxter's many compliant actuators, which give the robot a yielding motion that in turn allows for force-feedback control.   The article suggests using affordable gearmotors, plus SEAs for compliance and energy conservation.  It also mentions some alternatives to SEAs.</p>

<p>A <a href="http://spectrum.ieee.org/automaton/robotics/humanoids/iit-coman-humanoid-robot" rel="nofollow">spectrum.ieee.org article</a>,  This Humanoid Robot Gets Pushed Around But Stays on Its Feet , describes a robot with numerous SEAs and has close-up pictures of springs in the joints.</p>

<p><em>Comment 1.</em> Industrial robots exist that can meet the requirements listed in the question, but they typically cost 10 to 100 times as much as the amount mentioned.  If you can build such an arm for $1500, you probably can make a lot of money selling them!</p>

<p><em>Comment 2.</em> I presume you have a particular industrial application in mind for the specified robotic arm.  You may do better asking how to meet the needs of the application instead of asking how to make an arm.  For example, it may be that a light-weight articulated boom could be quickly moved to a target location, then have its joints locked (a locked joint typically can support a larger load than a movable joint) and an overhead support cable tensioned up.  Then the 10-15 kg load would be towed along a line to the end of the boom.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7115" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-7115">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7115">Load Comments</button></br>
			<div id = "commentsection-7115" class = 'collapse'>
			<div id = "comment-10099" class = "comment">
				<p>No I don't have a specific application in mind, buying an arm would be completely useless for me since the goal is to learn how to build one, not get one. In the 10-15kg payload I was including the weight of the arm itself and the hand/hook/gripper at the end of it. Since I don't know that much about the actuators I will use, I assumed the arm would weight around 10kg.</p>
			</div>
			</div>
				<textarea id = "speech-7115" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7115">
					<img id="start_img-7115" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7115">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>