<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building a controllable "knob"
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-777" class = "post">
			<h2>Question</h2>
			<div id="vote-777" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1771</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building a controllable "knob"</h2>
<p>I am trying to build a semi-analog timer. Something like those old egg timers that you rotate the face of. I want a knob that I can turn that can be read by a microcontroller, and I also want the microcontroller to be able to position the knob. I'd like to implement "stops" by letting the microcontroller push the knob towards certain positions. As it runs down, the knob should turn. This is my first project of this kind; I've built small robots in the past, but it's been many years.</p>

<p>I've considered <a href="http://forums.trossenrobotics.com/tutorials/how-to-diy-128/get-position-feedback-from-a-standard-hobby-servo-3279/">hacking a servo motor</a> to read its position, but the small hobby servos I've tried are too hard to turn, very noisy, and pick up too much momentum when turned. They don't act like a good knob.</p>

<p>I'm now considering a rotary encoder connected to a motor, but after hunting at several sites (SparkFun, ServoCity, DigiKey, Trossen, and some others), I haven't been able to find anything that seemed appropriate. I'm not certain how to find a motor that's going to have the right kind of low torque.</p>

<p>This seems like it shouldn't be a really uncommon problem. Is there a fairly normal approach to creating a knob that can be adjusted both by the user and a microcontroller?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-777" data-toggle = "popover">
				<p>user name : Rob Napier</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-777">{'None': 0, 'servos': 6, 'motor': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-777">Load Comments</button></br>
			<div id = "commentsection-777" class = 'collapse'>
			<div id = "comment-2216" class = "comment">
				<p>I found exactly what you're describing in the volume control of an old CD player. When you turned the knob, it would turn the potentiometer directly. When you pushed a button on the remote, a motor attached thru a clutch would turn the knob and the potentiometer. The clutch would prevent the motor from turning and making noise when the knob was turned manually. Perhaps you can salvage this kind of mechanism from a CD player or similar device?</p>
			</div>
			</div>
				<textarea id = "speech-777" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-777">
					<img id="start_img-777" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-777">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-778"  class = "post">
				<h2>Answer</h2>
			<div id="vote-778" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know if there is a normal approach to this, but you should definitely check out a video I found years ago and still blows my mind: <a href="http://www.youtube.com/watch?v=zE5PGeh2K9k" rel="nofollow">The Secret Knock Detecting Lock</a>. Basically the guy built an Arduino-based device you can hook up to your door and setup a secret knock that will trigger it to open... Awesome!</p>

<p>I'm sure just the video would be pretty good for inspiration (it's the first thing that came to my mind as I read the title of your question), but after a quick Google search I also found the <a href="http://www.instructables.com/id/Secret-Knock-Detecting-Door-Lock/" rel="nofollow">instructable page</a> that explains it all.</p>

<p>This is a part of the instructable page where he says the motor he uses and gives out some recommendations:</p>

<blockquote>
  <p>1  5v Gear reduction motor.  The higher torque the better.  <a href="https://solarbotics.com/product/gm22/" rel="nofollow">Here</a>'s a
  good one. (14-16mm diameter is ideal because it fits inside of 1/2"
  PVC pipe.) I recommend one with at least 15oz/in (11 N-cm) of torque
  at 5v to turn a basic lock.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-778" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-778">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-778" class = 'collapse'>
			</div>
				<textarea id = "speech-778" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-778">
					<img id="start_img-778" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-778">Comment</button>
			<br><div id = "ans-779"  class = "post">
				<h2>Answer</h2>
			<div id="vote-779" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have a couple of options for you.</p>

<h2>Option 1, build your own servomechanism</h2>

<p>As you only need a very low torque to move a knob, a very small motor should do the job nicely. You will probably need to add some friction so that it it doesn't move <em>too</em> easily, or use a small stepper motor with a decent <a href="http://en.wikipedia.org/wiki/Stepper_motor#Detent_torque" rel="nofollow noreferrer">detent torque</a> and a little gearing.</p>

<p>A very cheap way of getting your position feedback is to find an old <a href="http://en.wikipedia.org/wiki/Mouse_%28computing%29#Mechanical_mice" rel="nofollow noreferrer">opto-mechanical mouse</a>.</p>

<p><a href="http://en.wikipedia.org/wiki/File:Mouse_mechanism_diagram.svg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4DwT7.png" alt="opto-mechanical mouse - The copyright holder of this file allows anyone to use it for any purpose, provided that the copyright holder is properly attributed. Redistribution, derivative work, commercial use, and all other use is permitted."></a> Opto-mechanical mouse</p>

<p>Connect up the shaft to your motor/knob shaft and then either roll your own <a href="http://en.wikipedia.org/wiki/Rotary_encoder#Incremental_rotary_encoder" rel="nofollow noreferrer">quadrature encoder</a> (taking the A/B phase inputs directly into your microcontroller) or reuse the entire circuit board and hook up the 'mouse' to a serial port and read back the X or Y mouse position through software.</p>

<p>The article <a href="http://members.shaw.ca/swstuff/mouse.html" rel="nofollow noreferrer">Recycle PS/2 Mice into Rotary Pulse Generators</a> is a nice example of someone doing this.</p>

<h2>Option 2, persevere with the RC servo</h2>

<p>The reason why your <a href="http://en.wikipedia.org/wiki/Servomechanism#RC_servos" rel="nofollow noreferrer">RC servo</a>'s are hard to turn is that they have a high ratio gear train to give them the torque they need, and this makes them difficult to <em>backdrive</em>. Take a look at this exploded diagram from the wikipedia <a href="http://en.wikipedia.org/wiki/Servomechanism" rel="nofollow noreferrer">Servomechanism</a> page:</p>

<blockquote>
  <p><a href="http://en.wikipedia.org/wiki/File:Servo.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZgqPf.jpg" alt="Exploded RC servo - This work has been released into the public domain by its author, Sonett72 at the wikipedia project."></a> Small R/C servo mechanism</p>
  
  <ol>
  <li><p><a href="http://en.wikipedia.org/wiki/Electric_motor" rel="nofollow noreferrer">electric motor</a></p></li>
  <li><p>position feedback <a href="http://en.wikipedia.org/wiki/Potentiometer" rel="nofollow noreferrer">potentiometer</a></p></li>
  <li><p>reduction <a href="http://en.wikipedia.org/wiki/Gear" rel="nofollow noreferrer">gear</a></p></li>
  <li><p><a href="http://en.wikipedia.org/wiki/Actuator" rel="nofollow noreferrer">actuator</a> arm</p></li>
  </ol>
</blockquote>

<p>A small turn of the actuator shaft of this RC servo would result in a large (many turn) movement of the motor, if you could get it to move without stripping the gears.</p>

<p>Again, since in your application you only need enough torque to turn the knob, you may be able to get rid of that gearing and use the motor position directly. By removing or reducing the gearing, you should find the motor moves very freely indeed. In fact, you may need to add some friction (or leave some gearing in place) in order to prevent the motor being very jittery.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-779" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-779">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-779">Load Comments</button></br>
			<div id = "commentsection-779" class = 'collapse'>
			<div id = "comment-1017" class = "comment">
				<p>Thanks for all this, it's really helped. My son and I took apart one of our servos yesterday and learned a lot playing with it. I think I may have some old PS/2 mice laying around to experiment with as well.</p>
			</div>
			<div id = "comment-1022" class = "comment">
				<p>@RobNapier - I'm glad that I could help. As a kid I loved taking things to pieces, I even (mostly) managed to put them back together and learned lots in the process. So many things these days are *no user servicable parts inside* that I wonder what techie oriented kids *do* these days.</p>
			</div>
			<div id = "comment-2139" class = "comment">
				<p>BTW, I've continued work on this with a servo. The secret I believe is to add a belt to allow slippage between the motor and the pot.</p>
			</div>
			<div id = "comment-2142" class = "comment">
				<p>@RobNapier - Thanks for the update, feel free to answer your own question with what you tried and what you eventually found worked, you'll get at least a up vote from me. *8')</p>
			</div>
			</div>
				<textarea id = "speech-779" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-779">
					<img id="start_img-779" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-779">Comment</button>
			<br><div id = "ans-787"  class = "post">
				<h2>Answer</h2>
			<div id="vote-787" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>How about using a <code>stepper motor</code>, you will be able to control the position exactly.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-787" data-toggle = "popover">
				<p>user name : ATOzTOA</p>
				<p> user reputation : 163</p>
				<p class = "tagcontent" id = "usertaginfo-787">{'mobile-robot': 12, 'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-787">Load Comments</button></br>
			<div id = "commentsection-787" class = 'collapse'>
			<div id = "comment-1011" class = "comment">
				<p>Welcome to R.SE - perhaps you could expand your answer, to give supporting reasons?</p>
			</div>
			<div id = "comment-2050" class = "comment">
				<p>Currently this answer only addresses half of the question. If the knob is turned by hand, are there any tricks you can use to read back the new position from the motor without also having an encoder? Can you, for instance, use some sort of sensing on the motor coil wires to detect that the stepper motor has been turned by hand?</p>
			</div>
			</div>
				<textarea id = "speech-787" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-787">
					<img id="start_img-787" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-787">Comment</button>
			<br><div id = "ans-809"  class = "post">
				<h2>Answer</h2>
			<div id="vote-809" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use a rotatory potentiometer. Interface it to an ADC pin of your micro-controller, and depending on the resolution, you can get anywhere between 256 to 65536 values, which you can then use to set "stops".</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-809" data-toggle = "popover">
				<p>user name : Tejovanth N</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-809">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-809">Load Comments</button></br>
			<div id = "commentsection-809" class = 'collapse'>
			<div id = "comment-2051" class = "comment">
				<p>Currently this answer only answers half of the question. This would allow you to sense the current position of the knob, but not move the knob from the controller.</p>
			</div>
			</div>
				<textarea id = "speech-809" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-809">
					<img id="start_img-809" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-809">Comment</button>
			<br><div id = "ans-861"  class = "post">
				<h2>Answer</h2>
			<div id="vote-861" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The industry standard for solving this problem is with <a href="https://www.google.com/search?q=moving+faders&amp;hl=en&amp;tbo=u&amp;tbm=isch&amp;source=univ&amp;sa=X&amp;ei=Pg4KUfqlI-r7iwKmpYDYCQ&amp;ved=0CH4QsAQ&amp;biw=1710&amp;bih=1145" rel="nofollow noreferrer">moving faders</a>.</p>

<p><img src="https://i.stack.imgur.com/ktnSQ.jpg" alt="enter image description here"></p>

<p>They are readily available inexpensive components that do exactly what you ask for, except the being round part. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-861" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-861">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-861" class = 'collapse'>
			</div>
				<textarea id = "speech-861" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-861">
					<img id="start_img-861" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-861">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>