<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building parts, and keeping laser alignment steady
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7737" class = "post">
			<h2>Question</h2>
			<div id="vote-7737" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 71</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building parts, and keeping laser alignment steady</h2>
<p>I am building a laser gun for pentathlon targets (also doing one).
I would like to know how build a part of the gun and if I can count on a steady laser if it is attached to a motor.</p>

<p>The question is about the laser. I want it maybe attached to a small-(servo)motor to try to implement some cheat just for fun. Assuming the motor has a good torque, can I assume that the laser will not move (not the sightliest bit) when the motor is turned off? (I don't have any to test)
This is for precision shooting, so small vibrations and a moving pointer would be really prejudicial.
In case it does, what can I do to minimize the problem? Is it all about ordering the motor with the highest torque?</p>

<p>I also have a second question which is slightly off-topic, yet related, and robotics people usually have solutions for such problems.
I also need to build the sights. Here's a gun:
<a href="https://i.stack.imgur.com/7iKYW.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/7iKYW.png" alt="enter image description here"></a></p>

<p>As you can tell, its sights are a fixed plastic point in the front, and an adjustable large back. There are two bolts, one on each side. One makes the sight higher or lower, and the other makes it point more to the right or left.
How can such part be built with simple tools?</p>

<p>Thanls</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7737" data-toggle = "popover">
				<p>user name : SOMN</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-7737">{'stability': 1, 'None': 0, 'laser': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7737">Load Comments</button></br>
			<div id = "commentsection-7737" class = 'collapse'>
			<div id = "comment-11249" class = "comment">
				<p>How are you planning to attach the laser to the motor? An electric servo will probably be too big to fit inconspicuously into the gun. Could you please provide a view of the front of the gun, or schematics/drawings?</p>
			</div>
			<div id = "comment-11250" class = "comment">
				<p>When you say  its sights   and  the sight , are you referring to an optical sight, or to a laser-dot used for sighting?  Does turning the bolts at each side move only the optical sight, or does it move the laser's aim-point as well?  Is the general idea to get the laser aim-point to match the optical sight's aim-point, or is there some other idea?</p>
			</div>
			<div id = "comment-11254" class = "comment">
				<p>@wyverniv I'll try to get one here, I have some but not here. From what I could find in the internet here are some small photos(only ones i could find): Gun by side: http://www.eko-aims.com/binary/file/-/fid/248/ Back of the sights: http://www.eko-aims.com/binary/file/-/fid/249/ Space in which everything fits up in "hybrid guns" (under the barrel): http://www.eko-aims.com/binary/file/-/fid/88/.   I described in a comment to G rkan's answer how the gun is physically.</p>
			</div>
			<div id = "comment-11255" class = "comment">
				<p>@jwpat7 I mean the building the optical sight from where the shooter aims. But referring to the motor I mean getting a motor in the laser itself, which is not a sight in this sport, its the "ammunition".</p>
			</div>
			<div id = "comment-11256" class = "comment">
				<p>Sorry for having a question without much material and appropriate datasheets but as I said I don't have my photos here, and laser shooting is a pretty unknown sport in most countries and also there are only a few small companies building things for it, with almost no photos.</p>
			</div>
			<div id = "comment-11257" class = "comment">
				<p>Cl udio, please edit that information (from your comments here and below) into the question, so that the question is complete in itself.  (Information that's needed to answer the question should be in the question, rather than in comments.)</p>
			</div>
			</div>
				<textarea id = "speech-7737" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7737">
					<img id="start_img-7737" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7737">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7746"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7746" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The two questions are quite unrelated so it would be best to ask two questions. Otherwise responds will probably fall short on one of them.</p>

<p>About Q1: I understand that you are looking at using a servo (RC controlled?) to shift the laser boresight so the laser will shoot a bit up-down or left-right when commanded and, when not commanded, it will shoot normal, all without giving a hint that the laser is moving.</p>

<p>A servo would probably work in this sense, maybe a DC motor + gears could also work; you're not trying to paint art with the laser. Fitting the servo, the RC receiver, and the battery into the gun would be a challenge. And also, because the gun gets heavier, your friend could tell the joke if he touches a second one or if the extra weight is easily recognized.</p>

<p>About Q2: The question needs more data (material, dimensions, 2d drawings, schematics). Manufacturing is not my expertise.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7746" data-toggle = "popover">
				<p>user name : G rkan  etin</p>
				<p> user reputation : 284</p>
				<p class = "tagcontent" id = "usertaginfo-7746">{'None': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7746">Load Comments</button></br>
			<div id = "commentsection-7746" class = 'collapse'>
			<div id = "comment-11252" class = "comment">
				<p>Sorry for getting them both in the same. I don't think Q2 would fit a question alone, also there's no SE for building things from what I saw.
I was thinking about either a stepper or a servo, but a servo is usually bigger than a small stepper.
I have a 64:1 servo here (not sure if its adequate to use it), and it seems pretty firm, but im not sensible enough to tell if it does spin the sightliest bit when off.

Also those guns have extra weight attached in the barrel or a metal barrel. A normal gun weights about 1Kg, I could get there 2/3 steppers unnoticed if I cut the artificial weight.</p>
			</div>
			<div id = "comment-11253" class = "comment">
				<p>I have a lot of photographs I took of a gun to measure it. I don't have them now, but the gun is like 4-5cm wide, 25 long and 15 tall.
The front tip is about half cm wide and 3/4 cm tall, and the adjustable part is slightly wider than the gun, and half a centimetre taller than the gun.
It is made of metal, but I have no idea on how does it go up/down or to the sides. Im was unable to understand what are the screws connected to.</p>
			</div>
			<div id = "comment-11268" class = "comment">
				<p>Would using a mechanical latch + cables & gears be palatable to you? Electric motors will almost always make a little bit of noise even when they're just holding position, and they will change the weight of the gun significantly. I don't think you will be able to fit a stepper motor inside the gun.</p>
			</div>
			</div>
				<textarea id = "speech-7746" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7746">
					<img id="start_img-7746" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7746">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>