<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building a Autonomous pesticide spraying system using swarm robotics based on odor (volatile Organic Compounds) detection
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1350" class = "post">
			<h2>Question</h2>
			<div id="vote-1350" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 243</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building a Autonomous pesticide spraying system using swarm robotics based on odor (volatile Organic Compounds) detection</h2>
<p>Visible worms, pests, and diseased parts of plants emit a unique odor (Volatile Organic compounds with different concentrations). I understand that sensors which can quantitatively detect these compounds development are being developed. My idea is to build a swarm of robots which can spray pesticides by detecting VOCs on three targets present on plants across the fields.</p>

<ol>
<li>Target 1: Visible worms, pests, larvae. May these can be mechanically eliminated </li>
<li>Target 2: Invisible pathogens on certain areas of a plant </li>
<li>Target 3: Areas where pesticides have to be sprayed to prevent disease </li>
</ol>

<p>For these targets, pesticide has to be administered in the correct concentration 
This idea can optimize the use of pesticides and treat the plant properly 
Questions:</p>

<ol>
<li>Is swarm robotics still sci-fi or Did any one implement it?</li>
<li>Are the  any specific scenarios where implemented swarm robotic systems  are coming to help and establish the ease?   </li>
<li>Which is the implemented system or idea in conception that can help in formation of solution for the above problem? </li>
<li>How much time is required approximately to realize this idea?</li>
</ol>

<p>Hope this question does not sound sci-fi and is practical and the intention is to solve a definite problem 
How can i work by following some steps to further  make this idea concrete</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1350" data-toggle = "popover">
				<p>user name : user1394</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-1350">{'None': 2, 'motion-planning': 2, 'sensors': 2, 'research': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1350">Load Comments</button></br>
			<div id = "commentsection-1350" class = 'collapse'>
			<div id = "comment-2944" class = "comment">
				<p>Start with http://en.wikipedia.org/wiki/Aroma</p>
			</div>
			<div id = "comment-2947" class = "comment">
				<p>Welcome to *robotics* user1394, but from our [faq]: *You should only ask practical, answerable questions based on actual problems that you face. Chatty, open-ended questions diminish the usefulness of our site*. Check out [ask] and [about] for a good introduction for how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-1350" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1350">
					<img id="start_img-1350" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1350">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>