<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Build an WiFi IP camera with webcam
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1707" class = "post">
			<h2>Question</h2>
			<div id="vote-1707" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3515</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Build an WiFi IP camera with webcam</h2>
<p>I have a USB webcam and a WiFi module which it can convert Serial data to WiFi and vice versa.</p>

<p>The question is can I simply convert the data coming from the webcam to serial with a USB to Serial IC (like FT232R ) and then hand it over to my WiFi Module?</p>

<p><strong>Update:</strong></p>

<p>The WiFi module DataSheet is <a href="http://www.uplooder.net/cgi-bin/dl.cgi?key=1bbc1bb2c5731ba520a0a206664ba57b" rel="nofollow">here</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1707" data-toggle = "popover">
				<p>user name : Mehrdad Kamelzadeh</p>
				<p> user reputation : 104</p>
				<p class = "tagcontent" id = "usertaginfo-1707">{'None': 0, 'cameras': 0, 'usb': 0, 'wifi': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1707">Load Comments</button></br>
			<div id = "commentsection-1707" class = 'collapse'>
			<div id = "comment-3570" class = "comment">
				<p>Can you post model numbers (and links, if possible) for the equipment you're referring to?</p>
			</div>
			<div id = "comment-3571" class = "comment">
				<p>@Ian see my Update and let me know if you need more information</p>
			</div>
			<div id = "comment-3581" class = "comment">
				<p>Welcome to *robotics* Mehrdad Kamelzadeh, if you could edit your question to explain how this is a *robotics* problem, including details of your robot, then this question would become on-topic. If you do edit and I don't re-open it, let me know by flagging for moderator attention.</p>
			</div>
			</div>
				<textarea id = "speech-1707" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1707">
					<img id="start_img-1707" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1707">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1708"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1708" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you're asking whether you can use a USB-to-serial adapter to enable you to connect a USB webcam to a serial-to-wifi converter.  The answer to that is no, unfortunately.</p>

<p>USB defines a hardware interface and a communications protocol.  Your webcam driver communicates with the physical webcam by sending image data over USB, and your USB-to-serial adapter sends RS232 data over USB.  The video stream and the RS232 stream are not compatible.  (And even if your webcam somehow sent data over RS232, USB devices communicate with the operating system, not each other.)</p>

<p>What you are looking for is a bridge -- a way to send USB data over wifi.  There are other consumer products which perform this function, <em>e.g.</em> <a href="http://www.gizmag.com/iogear-wireless-4-port-usb-sharing-station/19471/" rel="nofollow">this one</a> or <a href="http://www.icron.com/products/icron-brand/legacy/usb-wi-ranger/" rel="nofollow">this one</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1708" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1708">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1708">Load Comments</button></br>
			<div id = "commentsection-1708" class = 'collapse'>
			<div id = "comment-3573" class = "comment">
				<p>WOW that's a good device @Ian But you know I want to put my webcam on a robot. and my robot wants to move around my house and I want to see the webcam images with my computer. so I want to somehow convert my webcam to a WiFi IP camera. the thing you suggest is exactly what I want. But it should be much smaller and I prefer to build such a thing myself if it is possible and easy.</p>
			</div>
			<div id = "comment-3575" class = "comment">
				<p>It's certainly possible to build one yourself, but I can't imagine that it's trivial.  Do you think you could build it smaller than the industry-designed & manufactured option?</p>
			</div>
			</div>
				<textarea id = "speech-1708" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1708">
					<img id="start_img-1708" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1708">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>