<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building a mobile camera platform
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2363" class = "post">
			<h2>Question</h2>
			<div id="vote-2363" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 400</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building a mobile camera platform</h2>
<p>I have zero experience with robotics, but I need to build a mobile platform for a streaming camera. The idea is that I'll plug in my Android phone into the pan/tilt unit on my wheeled robot and then drive and look around via WiFi. I have already solved all of the software, interface and controller issues, but I would appreciate some advice on how to build the wheeled platform.</p>

<p>My initial idea was to buy a cheap RC car, remove all electronics and replace them with my own. This approach almost worked. I purchased this New Bright F-150 Truck.  The size is good and there is plenty of storage space:</p>

<p><a href="https://i.stack.imgur.com/rofI9.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/rofI9m.jpg" alt="New Bright F-150 Truck"></a>
<a href="https://i.stack.imgur.com/QAlFU.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/QAlFUm.jpg" alt="enter image description here"></a></p>

<p>However, I quickly ran into a problem with this thing. I assumed that the front wheel would be turned by some kind of servo. Instead I found this nonsense:
<img src="https://i.stack.imgur.com/LFdWC.jpg" alt="enter image description here">
<img src="https://i.stack.imgur.com/9Ouzy.jpg" alt="enter image description here"></p>

<p>That small gear shaft is not driven by a servo - it's a conventional motor, which spins until it is jammed at the extremes of travel. The wheels are straightened when power is removed by a small spring on the other side. This means that there is only one angle at which the wheels can be turned, and that angle is way too small for what I need. So using this RC car will not work.</p>

<p>Before I start buying more things, I would like to hear some opinions from more experienced people. Am I on the right track? Do I simply need to get a better RC car, or are they all designed like this? Perhaps there are other options that would be more suitable for what I am doing?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2363" data-toggle = "popover">
				<p>user name : Val Blant</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-2363">{'mobile-robot': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2363">Load Comments</button></br>
			<div id = "commentsection-2363" class = 'collapse'>
			<div id = "comment-4615" class = "comment">
				<p>From what I know, they use what you have said, an **RC Servo** to do the steering. Be in mind that adding a feed-back to that mechanism (well designed, nothing non-sense) will turn it into a servo. If you don't want to build your own platform, then yes, the more costly one should use a **RC Servo** to steering, just be sure before buy. You could add one to that, but its not clear if the angle is too small by the actuator mechanism or by the king pin itself.</p>
			</div>
			<div id = "comment-4684" class = "comment">
				<p>I second what Diego says, but if you're willing to purchase some extra hardware, why not buy a mobile robotic kit, a Lego Mindstorm or perhaps a Parallax Boebot would serve your purpose elegantly.</p>
			</div>
			<div id = "comment-4699" class = "comment">
				<p>@metsburg well its says it wanted a cheap one :) I used much Lego when I was a kid (theres no mindstorm in my time we used small brushed DC motor with rubber pulleys), but I don't think they will perform good as a educational for professional projects, as this is the case you encounter with professional projects. With Lego you get a piece and has the correct mounting, in real hardware you need to machine things to work, and is not always easy.</p>
			</div>
			<div id = "comment-4707" class = "comment">
				<p>Yes, all economy robotic kits will be a bit shaky, things may not be very professional... I agree. I would suggest Pioneer 3DX, if available... but they're not cheap.</p>
			</div>
			</div>
				<textarea id = "speech-2363" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2363">
					<img id="start_img-2363" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2363">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2377"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2377" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You may replace tgis with an RC servo, but be sure to have enough torque and prefer metal gear.</p>

<p>The steering will involves a lot of mechanic constraints.</p>

<p>Anyway, Diego advice is good and you could also keep the actual mechanism.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2377" data-toggle = "popover">
				<p>user name : TitiMoby</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2377">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2377" class = 'collapse'>
			</div>
				<textarea id = "speech-2377" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2377">
					<img id="start_img-2377" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2377">Comment</button>
			<br><div id = "ans-2406"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2406" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Depending on the strength of the spring, you may be able to convert the power to the steering motor to a PWM solution.  That would allow you to vary the overall voltage going to the motor, and (hopefully) allow you adjust the balance between the motor force and the spring force -- resulting in an adjustable steering angle.  </p>

<p>This would be less preferable than a servo-based steering design, but might be a good last-ditch effort before upgrading to a more capable platform.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2406" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2406">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2406" class = 'collapse'>
			</div>
				<textarea id = "speech-2406" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2406">
					<img id="start_img-2406" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2406">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>