<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Building a stationary robot which can talk
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9459" class = "post">
			<h2>Question</h2>
			<div id="vote-9459" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 62</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Building a stationary robot which can talk</h2>
<p>I am a Computer Science major and I only have basic ideas on Robotics. I am planning to build a stationary cubical AI. </p>

<p>The main purpose of this bot will be that, it will have a sensor to check if the door has been opened and immediately asks a question "who has opened the door?" I also want it to recognize the correct words to interact the word, I am not talking about voice recognition but word recognition so that who ever speaks the correct words(words in bot's memory) can interact with it. Depending on who opens the door(prolly my family) I want it to speak out different things. I want it to respond to simple questions like, "what is the date and time?" , " a random qoute or a fact or a joke". </p>

<p>Is this too hard to achieve? Could anyone give me a basic idea on how to approach this project? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9459" data-toggle = "popover">
				<p>user name : Saujan Uprety</p>
				<p> user reputation : 9</p>
				<p class = "tagcontent" id = "usertaginfo-9459">{'communication': 1, 'None': 0, 'sensors': 1, 'first-robotics': 1, 'speech-processing': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9459">Load Comments</button></br>
			<div id = "commentsection-9459" class = 'collapse'>
			<div id = "comment-16725" class = "comment">
				<p>Welcome to *Robotics*, Saujan Uprety. As your project doesn't pertain to robotics (beyond being an object people interact with), and instead appears to be a strictly software-related question, I voted to move it from this site to one where you would be more likely to get a proper answer, like Computer Science. Topics like speech recognition are beyond the scope of this site.</p>
			</div>
			<div id = "comment-16735" class = "comment">
				<p>Cross-posted on CS.SE: http://cs.stackexchange.com/q/54761/755. Please [do not post the same question on multiple sites](http://meta.stackexchange.com/q/64068). Each community should have an honest shot at answering without anybody's time being wasted.</p>
			</div>
			<div id = "comment-16736" class = "comment">
				<p>Hey @Chuck, may I make a suggestion? If you're going to suggest another site, it'd help to tell people not to cross-post: suggest that they delete this copy and post it elsewhere.  Cross-posting is forbidden, and suggesting people post it elsewhere just leads them down a path that will have an unsatisfying experience.  Also, it's probably best to be careful about recommending a site that you're not active with. [This question seems a bit broad/unfocused for CS.SE in its current form](http://cs.stackexchange.com/questions/54761/building-a-door-sensor-ai?noredirect=1#comment115222_54761).</p>
			</div>
			<div id = "comment-16741" class = "comment">
				<p>@D.W. - When I consider whether a question is suitable for this site or should be moved to another, I try to ignore how qualitatively good/bad the question is. This is specifically because, as you point out, I am *not* active with the CS.SE. That is, I don't know what *would* qualify as a good or bad question for your site; what is too broad or isn't, etc. I know that, by voting to move it, I'm voting to *close* it on this site.</p>
			</div>
			<div id = "comment-16742" class = "comment">
				<p>Only questions about Robotics Stack Exchange should be migrated to meta.</p>
			</div>
			</div>
				<textarea id = "speech-9459" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9459">
					<img id="start_img-9459" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9459">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9471"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9471" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Is this too hard to achieve?</p>
</blockquote>

<p>No</p>

<blockquote>
  <p>Could anyone give me a basic idea on how to approach this project?</p>
</blockquote>

<p>Get familiar with the basics and start writing code. Here are few links for you to study:</p>

<p><a href="http://ros.org" rel="nofollow">Robot operating system</a> </p>

<p><a href="http://wiki.ros.org/pocketsphinx" rel="nofollow">CMUSphinx in ROS</a></p>

<p>Try to follow the examples as is first, that will give you a basic understaning, then you can extend the example to fit your needs.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9471" data-toggle = "popover">
				<p>user name : Nikolay Shmyrev</p>
				<p> user reputation : 99</p>
				<p class = "tagcontent" id = "usertaginfo-9471">{'None': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9471" class = 'collapse'>
			</div>
				<textarea id = "speech-9471" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9471">
					<img id="start_img-9471" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9471">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>