<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Bullet vs ODE to simulate robotic arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10953" class = "post">
			<h2>Question</h2>
			<div id="vote-10953" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 118</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Bullet vs ODE to simulate robotic arm</h2>
<p>For a research project at university I have been tasked with simulating a "robot arm". The simulation is to be compared with the real life version for accuracy. The arm will be lifting other objects and building simple structures in the demonstration.</p>

<p>My supervisor has asked that we build this simulator from scratch so I am currently selecting a physics engine. </p>

<p>In this <a href="http://bulletphysics.org/Bullet/phpBB3/viewtopic.php?f=9&amp;t=5033&amp;start=0" rel="nofollow">link</a>, it seems bullet is not accurate enough, albeit this was in 2010, for the original poster's needs in robotic simulation.</p>

<p>This <a href="http://blog.wolfire.com/2010/03/Comparing-ODE-and-Bullet" rel="nofollow">comparison</a> believes bullet is better in general but says that documentation is lacking, which is important to me as this is my first time using a physics engine such as this.</p>

<p>so thoughts on these or any other physics engine that may be more suitable?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10953" data-toggle = "popover">
				<p>user name : Duchain</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10953">{'None': 0, 'robotic-arm': 1, 'simulator': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10953">Load Comments</button></br>
			<div id = "commentsection-10953" class = 'collapse'>
			<div id = "comment-19714" class = "comment">
				<p>Welcome to *Robotics*, user15152. As it stands, you don't ask an **answerable** question. You say, "thoughts on these or any other physics engine that may be more suitable?" Well, what is suitable? Your supervisor wants a simulator built from scratch - **Why**? What defines "from scratch"? You're in academia - why not use [Matlab's physics simulator](https://www.mathworks.com/products/simmechanics/)? You haven't given any scope or criteria for what you're looking for or why, so it's not possible to provide a critique of how one package is more or less suited than another.</p>
			</div>
			<div id = "comment-19715" class = "comment">
				<p>I think, if you had a set of specifications you were looking for, then a question of, "Can software package ___ meet need X?" *might* be an okay question to ask here, but the people that could answer that question best are the people that made the software package. If you provide specifications and then want to "poll the audience" and get lists of possible software packages, then that question is off-topic and should be asked in [chat] instead.</p>
			</div>
			<div id = "comment-19716" class = "comment">
				<p>So, I'm going to put the question on hold to give you an opportunity to revise your question to include some criteria. What defines scratch? Why re-invent the wheel? *What is the goal of the project?* Please edit the question to address these points.</p>
			</div>
			</div>
				<textarea id = "speech-10953" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10953">
					<img id="start_img-10953" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10953">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10954"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10954" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The accuracy of the physics engine will most likely not be a problem. Differences between real world systems and their models are a much larger factor of errors then the slight differences between physics engines so you can use any physics engine you like.</p>

<p>You will not be able to have accurate models (geometry imprecisions, mass characteristic imprecisions, imprecisions in friction constants, etc.)</p>

<p>To my knowledge OpenRAVE can do dynamics and it is meant for robotics, so you will find lots of examples on modelling robots. If you have to start from scratch you can use its API. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10954" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10954">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10954">Load Comments</button></br>
			<div id = "commentsection-10954" class = 'collapse'>
			<div id = "comment-19706" class = "comment">
				<p>OpenRAVE internally uses a physics engine as well. Both Bullet and ODE are available. http://openrave.org/docs/0.8.2/interface_types/#interface-physicsengine</p>
			</div>
			</div>
				<textarea id = "speech-10954" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10954">
					<img id="start_img-10954" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10954">Comment</button>
			<br><div id = "ans-10956"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10956" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Isn't using a physics engine cheating if your advisor wants you to start from scratch?</p>

<p>I would choose simbody over those two. It has great documentation and was designed for simulation instead of video games.</p>

<p>What exactly are you trying learn (or predict, or compare) from the simulator? If you want a useful simulation it matters a lot.</p>

<p>The history of robotics is full of simulation projects that died useless because the researcher was not really sure what they were simulating or why.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10956" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10956">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10956">Load Comments</button></br>
			<div id = "commentsection-10956" class = 'collapse'>
			<div id = "comment-19707" class = "comment">
				<p>This would depend on what is meant by "from scratch". Using ODE or Bullet directly would be much more involved than just setting up GAZEBO.</p>
			</div>
			</div>
				<textarea id = "speech-10956" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10956">
					<img id="start_img-10956" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10956">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>