<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Burninate [hackintosh]?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2751" class = "post">
			<h2>Question</h2>
			<div id="vote-2751" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 98</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Burninate [hackintosh]?</h2>
<p>The <a href="https://apple.stackexchange.com/questions/tagged/hackintosh" class="post-tag" title="show questions tagged &#39;hackintosh&#39;" rel="tag">hackintosh</a> tag refers to using Apple operating systems on non-Apple hardware.  Since this is explicitly off-topic on Ask Different, I would like to propose that <a href="https://apple.stackexchange.com/questions/tagged/hackintosh" class="post-tag" title="show questions tagged &#39;hackintosh&#39;" rel="tag">hackintosh</a> be burninated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2751" data-toggle = "popover">
				<p>user name : PSDuckie</p>
				<p> user reputation : 57</p>
				<p class = "tagcontent" id = "usertaginfo-2751">{'None': 0, 'discussion': 3, 'tags': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2751">Load Comments</button></br>
			<div id = "commentsection-2751" class = 'collapse'>
			<div id = "comment-6072" class = "comment">
				<p>Let's use the tags tag for now to discuss burninate requests.</p>
			</div>
			<div id = "comment-6073" class = "comment">
				<p>Sounds like a plan.</p>
			</div>
			</div>
				<textarea id = "speech-2751" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2751">
					<img id="start_img-2751" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2751">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2752"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2752" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://apple.stackexchange.com/questions/tagged/hackintosh" class="post-tag" title="show questions tagged &#39;hackintosh&#39;" rel="tag">hackintosh</a> is gone, <a href="/questions/tagged/status-completed" class="post-tag moderator-tag" title="show questions tagged &#39;status-completed&#39;" rel="tag">status-completed</a>!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2752" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2752">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2752">Load Comments</button></br>
			<div id = "commentsection-2752" class = 'collapse'>
			<div id = "comment-6076" class = "comment">
				<p>That seems premature to act on a question unilaterally like that so quickly. I wish you had not.</p>
			</div>
			<div id = "comment-6079" class = "comment">
				<p>@Daniel There were three upvotes on the question indicating support and only two questions tagged with [tag:hackintosh], one of which was closed and the other shouldn't have had the tag in the first place on its own merits. I've responded to the points you made in your answer as a comment on your answer.</p>
			</div>
			<div id = "comment-6109" class = "comment">
				<p>For things which are not time-critical, please give the community a bit more time to reach an consensus than 2.5 hours. Upvoting a question doesn't imply support for the proposal described, we usually create a "yes" and a "no" answer for this (sometimes after a lengthy discussion) and have people vote on that.</p>
			</div>
			</div>
				<textarea id = "speech-2752" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2752">
					<img id="start_img-2752" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2752">Comment</button>
			<br><div id = "ans-2753"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2753" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm usually the one arguing for tags to go away, but in this case, I'd rather see the hackintosh tag stay.</p>

<ul>
<li><p>if all posts on the topic are indeed off-topic, the tag will only appear on off-topic posts. If such posts persist in the site, seeng they all have a common theme can help people know what is and is not off-topic</p></li>
<li><p>if off-topic posts are naturally deleted over time, the tag will die on its own when no surviving posts remain</p></li>
<li><p>our definition of on- and off-topic can change over time, and if posts are tagged as hackintosh, if the site later decides it wants to answer these, the tag marks them as a candidate for potential reopening.</p></li>
</ul>

<p>Manually removing the tag from posts on which it belongs strikes me as a bad idea.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2753" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-2753">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2753">Load Comments</button></br>
			<div id = "commentsection-2753" class = 'collapse'>
			<div id = "comment-6077" class = "comment">
				<p>I understand your arguments, but I do still think that burninating [tag:hackintosh] was the right decision.  All of the posts on the topic were indeed off-topic, and I don't see any reason why the off-topic posts should stay.  They also didn't look like they would naturally go away over time.  If [tag:hackintosh]-related questions become on-topic, then I could see the tag coming back.  As it is, I agree with @grgarside that burnination was the proper choice.</p>
			</div>
			<div id = "comment-6078" class = "comment">
				<p>There should not be off-topic questions posted on the site regardless of how they are tagged. Question askers can ask on meta using [asking-questions] for discussion regarding a potential question. Having a tag  just in case  someone posts an off-topic question is poor practice. The tag *has* died on its own as its use on the two questions that I removed it from used it inappropriately or was closed. Using the tag as a  marker  for later re-opening is  meta-tagging , and such questions shouldn't be posted for the potential that they are later re-opened *if* the site scope changes.</p>
			</div>
			</div>
				<textarea id = "speech-2753" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2753">
					<img id="start_img-2753" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2753">Comment</button>
			<br><div id = "ans-2790"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2790" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think this is a big enough topic and different enough to include things that may be considered off-topic in AskDifferent, that it warrants it's own StackExchange.</p>

<p>And so, I present my proposal  <a href="http://area51.stackexchange.com/proposals/98549/hackintosh">Hackintosh Exchange</a> (name pending)</p>

<p>Please come, vote, and contribute to the discussion.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2790" data-toggle = "popover">
				<p>user name : tutuDajuju</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-2790">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2790" class = 'collapse'>
			</div>
				<textarea id = "speech-2790" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2790">
					<img id="start_img-2790" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2790">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>