<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Burninate the "pc" tag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2078" class = "post">
			<h2>Question</h2>
			<div id="vote-2078" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Burninate the "pc" tag?</h2>
<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/pc" class="post-tag" title="show questions tagged &#39;pc&#39;" rel="tag">pc</a>   37 tagged, 15 this year</p>

<blockquote>
  <p><em>no tag wiki/excerpt</em></p>
</blockquote></li>
</ul>

<p>As far as I see, it serves no purpose and seems to be randomly tagged on <a href="https://apple.stackexchange.com/questions/tagged/pc">a wide variety of questions</a> that already seem suitably tagged without the need for the "pc" tag.</p>

<p>Should it be burninated?</p>

			</div>
			<div id = "userinfo-2078" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2078" class = 'collapse'>
			</div>
				<textarea id = "speech-2078" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2078">
					<img id="start_img-2078" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2078">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2079"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2079" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm all in favor of killing it (and adding a requirement that new tags can only be created by people with >15k rep), but my main concern about killing off tags is the bump to the top of the queue of all the edited posts. I'm utterly convinced that we're better off without that tag, though.</p>
</p><br>
			</div>
			<div id = "userinfo-2079" style = "float:right">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p> user tag wise history : {'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2079">Load Comments</button></br>
			<div id = "commentsection-2079" class = 'collapse'>
			<div id = "comment-4001" class = "comment">
				<p>If we manually edit a post to remove a tag, it gets a bump.  If the tag is removed, or renamed, does the resultant bump actually happen?  I'm not sure.</p>
			</div>
			<div id = "comment-4002" class = "comment">
				<p>I agree with killing it but the rep requirement for new tags is much too high even if there should be one - should be around a few hundred if any. We just need to review new tags more quickly there aren't many</p>
			</div>
			<div id = "comment-4003" class = "comment">
				<p>@Mark The current requirement is [300 rep for new tags](http://apple.stackexchange.com/help/privileges/create-tags). IMO this is fine since there are so many new tags that it goes past the 10k tools list.</p>
			</div>
			<div id = "comment-4004" class = "comment">
				<p>@grgarside I agree that rep level that seems reasonable</p>
			</div>
			<div id = "comment-4124" class = "comment">
				<p>Is there any progress on this? I would retag manually but the questions seem appropriately tagged otherwise  cc @stuffe</p>
			</div>
			<div id = "comment-4125" class = "comment">
				<p>We need an answer on bumping.  If binning a tag doesn't bump, then I say bin it.  If it does, then it's worth ignoring on the basis it's just untidy, but not a real problem.</p>
			</div>
			<div id = "comment-4132" class = "comment">
				<p>@GeorgeGarside as far as I know, no, we can't do that.</p>
			</div>
			</div>
				<textarea id = "speech-2079" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2079">
					<img id="start_img-2079" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2079">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>