<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cable routing in theta, x, y motion control system. Better inside or outside?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-689" class = "post">
			<h2>Question</h2>
			<div id="vote-689" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 179</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cable routing in theta, x, y motion control system. Better inside or outside?</h2>
<p>I'm building a motion control platform with 3 DoF: 1 axis of rotation (theta) and 2 cartesian (x,y). In most applications, like wrist actuation, you have an X-Y stage with a rotating servo as the stage's payload. This configuration works well since little of the power and data wiring needs to transit to the non-linear moving portion of the platform. </p>

<p>For my inverted application, the stackup is reversed. The rotating axis comes first (from the mounting plane) with the stage connected as the rotating platform's payload. Now nearly all of the wiring (power, command, sensor, and otherwise) must be routed to the non-linearly moving section.</p>

<p>I can see two broad approaches: </p>

<ol>
<li><p>The inside track, I route the cabling through the center of rotation.</p></li>
<li><p>The outside track, I route the cabling around outside the outer diameter of the rotating platform.</p></li>
</ol>

<p>Mathematically, I can see that (1) results in minimum cable length, but maximum torsional loading, while (2) results in maximum cable length, but minimum torsional loading on the wires.</p>

<p>Having limited experience with cable routing (and the associated carriers, strategies, and products) in non-linear applications, my question is...</p>

<h3>...which approach is better in practice?</h3>

<p>Cost isn't really the issue here. I'm more interested in reliability, ease of construction, availability of commercial components (says something about the popularity of the technique), etc...</p>

<p>e.g. the generic concepts behind why you pick one over the other. </p>

<p>...of course, if you have some part numbers for me I wouldn't be upset &lt;-- I know I'm not supposed ask that here ;-)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-689" data-toggle = "popover">
				<p>user name : DrFriedParts</p>
				<p> user reputation : 583</p>
				<p class = "tagcontent" id = "usertaginfo-689">{'control': 7, 'motion': 7, 'None': 40, 'wiring': 7, 'routing': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-689">Load Comments</button></br>
			<div id = "commentsection-689" class = 'collapse'>
			<div id = "comment-873" class = "comment">
				<p>Interesting question, I've stumbled across this problem quite a few times. Frustrating, but it's a learning experience :) I'll see if I can collect my thoughts into a good answer later.</p>
			</div>
			<div id = "comment-874" class = "comment">
				<p>I don't think the route is what affects cable torsion - rather the slack in the cables will determine how much torsional force is applied to the cables - the option probably depends on your setup, as to which is easier to accomplish (space available vs number of cables and whether it will fit)</p>
			</div>
			<div id = "comment-876" class = "comment">
				<p>Either way, make sure you buy cable that is specifically designed for "high-flex" operations, this will last much longer.</p>
			</div>
			<div id = "comment-889" class = "comment">
				<p>This is neither an answer nor a criticism, but if you have any diagram of your X/Y/$\theta$ setup then please add it.  Even though the core of your question is about cabling, being able to better visualize the problem will add more context to the solution.</p>
			</div>
			<div id = "comment-890" class = "comment">
				<p>Thanks. I really wanted to. I'm working on a model. I'll get it uploaded as soon as I can. Apologies for the delay.</p>
			</div>
			<div id = "comment-893" class = "comment">
				<p>I'd honestly recommend phoning up an application engineer.  My gut feel says you want the wires on the outside.  Regardless, you will also want cables designed for motion, something like this: http://www.kabelschlepp.com/cables.htm</p>
			</div>
			</div>
				<textarea id = "speech-689" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-689">
					<img id="start_img-689" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-689">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-717"  class = "post">
				<h2>Answer</h2>
			<div id="vote-717" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've seen a number of systems in this configuration and most went for an outside track solution. Part of the reason for this is control of bend radius. With an outside track, the bend is obvious at all positions and it is clear when you <em>run out of track</em>.</p>

<p>If you are bothered about cabling complexity, you could put more of the electronics on the rotated stage, so instead of having motor, encoder and other cables all running down the energy chain, you would just have power and data lines, with everything else done by remote i/o.</p>

<p>Taking this to the extreme, I've worked at a place where this technique was used with slip rings for a continuously revolving robot. It had two scara arms and all of the control electronics for them mounted on a revolving platform. The data slip rings were horribly noisy, so the data connection had to have more ECC than normal, but it all worked well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-717" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-717">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-717">Load Comments</button></br>
			<div id = "commentsection-717" class = 'collapse'>
			<div id = "comment-908" class = "comment">
				<p>The other problem with slip rings is that they introduce small changes in resistance that can cause the capacitors in your motor controller to fail.</p>
			</div>
			</div>
				<textarea id = "speech-717" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-717">
					<img id="start_img-717" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-717">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>