<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Calculating the efficiency of Mecanum wheels
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-65" class = "post">
			<h2>Question</h2>
			<div id="vote-65" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 5319</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Calculating the efficiency of Mecanum wheels</h2>
<p>I'm part of a <a href="http://usfirst.org" rel="nofollow noreferrer">FIRST Robotics</a> team, and we're looking into using <a href="http://en.wikipedia.org/wiki/Mecanum_wheel" rel="nofollow noreferrer">Mecanum wheels</a> for our robot.</p>

<p>What are the advantages and disadvantages of using Mecanum wheel versus regular ones? From looking through Google, it looks like Mecanum wheels give more mobility but don't have as much traction. Are there any other advantages or disadvantages?</p>

<p>Compared to regular wheels, are Mecanum wheels less efficient or more efficient in any way? And if so, is there a quantifiable way to determine by how much?</p>

<p>Are there equations I can use to calculate efficiency (or inefficiency) and/or speed of moving forwards, sideways, or at arbitrary angles?</p>

<p><em>A picture of a robot with mecanum wheels:</em></p>

<p><img src="https://i.stack.imgur.com/kLSuG.png" alt="robot using mecanum wheels"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-65" data-toggle = "popover">
				<p>user name : Michael0x2a</p>
				<p> user reputation : 210</p>
				<p class = "tagcontent" id = "usertaginfo-65">{'wheel': 11, 'None': 0, 'first-robotics': 11, 'wheeled-robot': 10, 'stability': 10, 'design': 21, 'mobile-robot': 21, 'movement': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-65">Load Comments</button></br>
			<div id = "commentsection-65" class = 'collapse'>
			<div id = "comment-84" class = "comment">
				<p>Fantastic first question @Michael0x2a, I've always been fascinated by these wheels and I'd love to know more about how well they work in practice.</p>
			</div>
			</div>
				<textarea id = "speech-65" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-65">
					<img id="start_img-65" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-65">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-74"  class = "post">
				<h2>Answer</h2>
			<div id="vote-74" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have some experience with using mecanum wheels, both indoors and outdoors (on grass, sand and dirt no less).</p>

<p>Obvious advantage is holonomic movement.  Disadvantages are weight (commercially available wheels are ridiculously heavy) and cost.  For a given tread material traction will be along the lines of 65-70% that of a regular wheel due to the smaller contact area and 45% rollers.</p>

<p>Compared to skid steer, mecanum wheels have no additional friction when turning which is an advantage.</p>

<p>Mecanum wheels will be simpler and perhaps more reliable than a swerve/crab drive system.</p>

<p>Everything is always about tradeoffs.  If I compared an ideal mecanum system to an ideal swerve drive system (full 360 degree rotation, extremely fast wheel orientation) the swerve wins in performance because it has full traction.</p>

<p>An ideal swerve system will be expensive and difficult to implement compared to mecanum wheels though.</p>

<p>Efficiency is a loaded question.  An ideal mecannum wheel will be equivalent to any other system when moving in any direction, and will turn better than a skid steer system.
In reality the rollers have reasonable friction so going sideways will be less efficient than going forwards.</p>

<p>Getting exact numbers would require a lot of fairly accurate measurements which isn't practical.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-74" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-74">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-74" class = 'collapse'>
			</div>
				<textarea id = "speech-74" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-74">
					<img id="start_img-74" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-74">Comment</button>
			<br><div id = "ans-107"  class = "post">
				<h2>Answer</h2>
			<div id="vote-107" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Efficiency isn't the right thing to compare due to various advantages and disadvantages of each type of wheel. Comparing the efficiency of the different types of wheels is like comparing apples and oranges.</p>

<p>However, comparing speed and force can give a good comparison of the different types of wheels. Here is a table that offers a quick and simple comparison (<strong><em>Note that this assumes fictionless bearings and equal traction!</em></strong>):</p>

<p><img src="https://i.stack.imgur.com/FBWEI.gif" alt="wheel comparison chart"></p>

<p>Trying to take into account slipage gets hairy. From the paper "Kinematic Analysis of Four-Wheel Mecanum Vehicle" which is at the top of <a href="http://www.chiefdelphi.com/media/papers/2390" rel="nofollow noreferrer">this list of papers</a>:</p>

<blockquote>
  <p>This problem, in general, has no solution, since it represents an 
  overdetermined system of simultaneous linear equations. The  physical
  meaning of this is: if four arbitrary rotational  velocities are
  chosen for the four wheels, there is in general no  vehicle motion
  which does not involve some wheel "scrubbing"  (slipping) on the
  floor. However, a matrix [F] which generates a  "best fit" least
  squares solution can be found</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-107" data-toggle = "popover">
				<p>user name : embedded.kyle</p>
				<p> user reputation : 1469</p>
				<p class = "tagcontent" id = "usertaginfo-107">{'None': 124}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-107">Load Comments</button></br>
			<div id = "commentsection-107" class = 'collapse'>
			<div id = "comment-300" class = "comment">
				<p>I had to look up [Omni wheels](http://en.wikipedia.org/wiki/Omni_wheel) but otherwise a great answer. [This image](http://upload.wikimedia.org/wikipedia/commons/e/ee/Robot_omnidirectional_drive.PNG) is in the public domain, if you want to use it to illustrate the difference between mecanum and omni wheels.</p>
			</div>
			</div>
				<textarea id = "speech-107" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-107">
					<img id="start_img-107" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-107">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>