<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Calculate covariance matrix from x,y,z data
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2031" class = "post">
			<h2>Question</h2>
			<div id="vote-2031" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1250</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Calculate covariance matrix from x,y,z data</h2>
<p>In <strong>ROS</strong> I've recorded a bag file from a custom robot (in real world) that does not provide covariance matrix and I want to use <code>/odom</code> to feed an <strong>EKF</strong>, but covariance matrix is 0. How can I calculate it?</p>

<p><strong>Note</strong>:
Covariance matrix is needed by EKF to estimate position.</p>

<p>It's a sample of <code>/odom</code>:</p>

<pre><code>pose: 
  pose: 
    position: 
      x: 0.082
      y: 0.507
      z: 0.0
    orientation: 
      x: 0.0
      y: 0.0
      z: -0.789272088731
      w: 0.614043622188
  covariance: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
twist: 
  twist: 
    linear: 
      x: 0.104
      y: 0.0
      z: 0.0
    angular: 
      x: 0.0
      y: 0.0
      z: 0.0663225115758
  covariance: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-2031" data-toggle = "popover">
				<p>user name : Maysam</p>
				<p> user reputation : 185</p>
				<p class = "tagcontent" id = "usertaginfo-2031">{'odometry': 3, 'None': 0, 'localization': 12, 'particle-filter': 7, 'slam': 2, 'mobile-robot': 5, 'ros': 12, 'navigation': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2031" class = 'collapse'>
			</div>
				<textarea id = "speech-2031" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2031">
					<img id="start_img-2031" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2031">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2033"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2033" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, you <em>can't</em> estimate the covariance from the state.  You need the equations used to <em>find</em> the state.  </p>

<p>This is because the covariance (along with the markov assumption) represents <em>how</em> the robot got to the state.   A robot at location (10,5,1) does not always have the same covariance matrix, right? You need to know what actions brought it to that state.</p>

<p>Barring any ros-based solution (are you sure the SLAM / EKF nodes can't do this for you?) you'll have to do this:</p>

<ol>
<li>Find the kinematics model for the robot (differential drive, ackerman, whatever)</li>
<li>Read in the odometery and control command, and use the kinematics equations and control inputs as the <em>u</em> and <em>f()</em> for the EKF (using <a href="https://en.wikipedia.org/wiki/Extended_Kalman_filter#Discrete-time_predict_and_update_equations" rel="nofollow">this</a>) as a reference.</li>
<li>Find the Jacobian of the kinematics equations with respect to each state element</li>
<li>Feed the Jacobian and control / odometery into the EKF as the <em>F</em> term (using <a href="https://en.wikipedia.org/wiki/Extended_Kalman_filter#Discrete-time_predict_and_update_equations" rel="nofollow">this</a>) as a reference.</li>
</ol>

<p>In case you are wondering, yes this effectively reproduces the work done by the /odom node, since the output of the kinematics equations is precisely what /odom reports. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2033" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-2033">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2033" class = 'collapse'>
			</div>
				<textarea id = "speech-2033" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2033">
					<img id="start_img-2033" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2033">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>