<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Calculating screw breakaway torque
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10923" class = "post">
			<h2>Question</h2>
			<div id="vote-10923" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 310</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Calculating screw breakaway torque</h2>
<p>I'm trying to use <a href="http://www.orientalmotor.com/support/motor-sizing.html" rel="nofollow">motor-sizing</a> tool developed by oriental motor to choose good servo motor for my cnc</p>

<p>The tool requires breakaway torque of my screw as input, I searched online but I got people measuring it using wrench.</p>

<p>I'm working on simulating the machine before I buy anything so I don't have the screw to test anything on i.</p>

<p><a href="http://store.fut-electronics.com/collections/lead-screw/products/lead-screw-30-cm" rel="nofollow">This</a> is the screw I want to use and all the specs are available in the link, I need to calculate the breakaway torque mathematically so is there any way?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10923" data-toggle = "popover">
				<p>user name : Ammar Atef</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-10923">{'control': 1, 'None': 2, 'arduino': 0, 'torque': 1, 'servomotor': 1, 'matlab': 1, 'pwm': 0, 'cnc': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10923" class = 'collapse'>
			</div>
				<textarea id = "speech-10923" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10923">
					<img id="start_img-10923" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10923">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10926"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10926" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can approximate the breakaway torque by considering static friction only. From the static friction coefficient of the lead screw (by knowing the maximum load on the spindle, coming from the application) you can calculate the static friction torque of the nut on the lead screw. </p>

<p>You should do the same with all linear guides and/or bearings that you have and sum them up. That will be your breakaway torque. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10926" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10926">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10926">Load Comments</button></br>
			<div id = "commentsection-10926" class = 'collapse'>
			<div id = "comment-19665" class = "comment">
				<p>So what is the formula?</p>
			</div>
			<div id = "comment-19666" class = "comment">
				<p>For the lead screw:
F = c*N where F is the static friction force, c is the static friction constant and N is the normal force. In this case you have to convert the Force to Torque Torque = Force x Lead /2pi. Or the lead screw manufacturer might give directly the constant which links static friction constant to torque.</p>
			</div>
			</div>
				<textarea id = "speech-10926" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10926">
					<img id="start_img-10926" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10926">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>