<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Calculate required motor torque through Harmonic Drive
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7521" class = "post">
			<h2>Question</h2>
			<div id="vote-7521" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 540</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Calculate required motor torque through Harmonic Drive</h2>
<p>I have a term project which is controlling a two-link manipulator with harmonic drive installed at each joint.
To control, i used Computed control method to determine the torque needed for each joints based on the formula: 
 $$\tau_i =M(\theta)(\ddot{\theta_i}+K_d\dot{e}+K_pe)+V+G  $$<br>
To calculate the torque that each motor needs to produce through harmonic drive, i use: 
$$\tau_{motor} =(J_m+J_g)\rho\ddot{\theta_i}+\frac{\tau_i}{\rho\eta_g}$$
where:
 $\rho$ and $\eta_g$ are gear ratio and efficiency of the harmonic drive. $J_m$ and $J_g$ are the motor and gear inertia, respectively. </p>

<p>after these calculation, i can see the effect of harmonic drive in the system by comparing input torque from motor in the model with harmonic drive ($\tau_{motor}$) to that torque in the model without harmonic drive ($\tau_i$) </p>

<p>But my professor doesn't agree the formula $\tau_{motor}$ i used. He want me to include the stiffness $k$ of the harmonic drive.</p>

<p>This is <a href="https://danangcity45.wordpress.com/2015/06/17/computed-torque-control-of-two-link-manipulator/" rel="nofollow">what i have done</a></p>

<p>P/S: This model which consists of two-link manipulator+harmonic drive at each joint is built in MATLAB.  </p>

<p>Can anyone suggest me the formula about it? </p>

<p>Thank you so much.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7521" data-toggle = "popover">
				<p>user name : Phan</p>
				<p> user reputation : 53</p>
				<p class = "tagcontent" id = "usertaginfo-7521">{'None': 1, 'manipulator': 2, 'simulator': 1, 'simulation': 5, 'matlab': 5, 'actuator': 2, 'gazebo': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7521" class = 'collapse'>
			</div>
				<textarea id = "speech-7521" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7521">
					<img id="start_img-7521" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7521">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7525"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7525" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.researchgate.net/profile/Hamid_Taghirad/publication/2428266_Robust_Torque_Control_of_Harmonic_Drive_Systems/links/546f5eba0cf216f8cfa9d93a.pdf" rel="nofollow noreferrer">Page 50 of Hamid D Taghirad's 1997 PhD dissertation from McGill University</a> gives a series of equations for harmonic drive torques, and the top of page 51 gives the following fantastic model for the harmonic drive:</p>

<p><img src="https://i.stack.imgur.com/FhVrK.png" alt="harmonic drive model"></p>

<p>WG is the wave generator (input); fs is the flexispline (output); N is the gear ratio, then the springs and dampers are deflection and friction losses at various stages in the harmonic drive. If you neglect the input/output frictional losses ($T_{f1}$, $T_{f2}$, and $T_{f3}$), then you're left with what I believe your professor was looking for,</p>

<p>$$
I_{drive} \tau_{drive} = -k_{fs}*(\frac{1}{N} \theta_{input} - \theta_{output}) - b_{fs}(\frac{1}{N} \dot{\theta}_{input} - \dot{\theta}_{output})
$$</p>

<p>where again, fs is the flexispline. Essentially the major components of the drive forces are due to structural damping and springiness of the flexispline deforming while the input rotates. Note that here I'm using the gear ratio as <code>input : output</code>, as harmonic drives are reducers. If $N = \frac{50}{1}$, then the input divided by the gear ratio gives the reduced input angular position or speed. If you define gear ratio as the inverse of how I've used it then you would multiply by N instead of divide by it. </p>

<p><a href="http://www.me.berkeley.edu/ME239/restricted/hardware_help/Harmonic_Drives.pdf" rel="nofollow noreferrer">Here are some great design tips</a> for selecting harmonic drives, too, if anyone's interested. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7525" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7525">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7525" class = 'collapse'>
			</div>
				<textarea id = "speech-7525" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7525">
					<img id="start_img-7525" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7525">Comment</button>
			<br><div id = "ans-7551"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7551" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Thank for your nice answer.  But i still have questions.
Applying this equation to my system, I see that: </p>

<ol>
<li>$\theta_{output}$ and $\dot{\theta}_{output}$ are $\theta_i$ and $\dot{\theta}_i$ I calculated from manipulator. 
However, $\theta_{input}$ and $\dot{\theta}_{input}$ are from motor, but where can i get them($\theta_{input}$ and $\dot{\theta}_{input}$) to determine $\tau_{drive}$?</li>
<li>I look at a catalog of a harmonic drive to look for $k_{fs}$ and $b_{fs}$ [for example this HD: <a href="http://harmonicdrive.de/produkte/media/catalog/category/2014_12_ED_1019640_CobaltLine-2UH_1.pdf" rel="nofollow">link</a>], i only find $k_fs$ but  there are 3 values of stiffness in catalog ($k_1$,$k_2$,$k_3$), which one should i choose? and where can i get $b_{fs}$</li>
</ol>

<p>Sorry about this kind of question. I'm a newbie in Harmonic Drive.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7551" data-toggle = "popover">
				<p>user name : Phan</p>
				<p> user reputation : 53</p>
				<p class = "tagcontent" id = "usertaginfo-7551">{'None': 1, 'manipulator': 2, 'simulator': 1, 'simulation': 5, 'matlab': 5, 'actuator': 2, 'gazebo': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7551">Load Comments</button></br>
			<div id = "commentsection-7551" class = 'collapse'>
			<div id = "comment-10880" class = "comment">
				<p>You can get $\theta_{input}$ and $\dot{\theta}_{input}$ from an encoder on the motor. Page 56 of the PDF you linked shows why there are three different stiffness values - there is a nonlinear relationship between torque and torsion (twist). The nonlinear relationship can be approximated by three different stiffness values. If you can't find a damping value ($b$) then you can probably assume that the damping effect is negligible. You can compare your model to empirical testing.</p>
			</div>
			<div id = "comment-10881" class = "comment">
				<p>This model is built in Matlab so I can't get $\theta_{input}$ and $\dot{\theta}_{input}$ from encoder. Is there another solution for this one?</p>
			</div>
			<div id = "comment-10882" class = "comment">
				<p>If it's a model I'm not sure what the problem is. What do you do with the torque values you calculate? Wouldn't you send them to the motor? In your equation you have $\ddot{\theta_i}$. If you're only working in accelerations just integrate the acceleration twice.</p>
			</div>
			<div id = "comment-10884" class = "comment">
				<p>What I want to know is how much torque  I should give to the model through harmonic drive, then compare this input torque in the model with Harmonic drive to the input torque in the model without harmonic drive.</p>
			</div>
			<div id = "comment-10885" class = "comment">
				<p>Please add the contents of what you've written above to your question and I'll answer more in my answer.</p>
			</div>
			<div id = "comment-10890" class = "comment">
				<p>I added more information in the question. Thank you for your help!</p>
			</div>
			</div>
				<textarea id = "speech-7551" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7551">
					<img id="start_img-7551" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7551">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>