<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Calculating Required Torque
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7796" class = "post">
			<h2>Question</h2>
			<div id="vote-7796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1085</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Calculating Required Torque</h2>
<p>Say I had an object with 4 motors/wheels attached (in a fairly standard arrangement).</p>

<p>I need to calculate the amount of torque required from the motors to be able to move the object of x kilograms consistently (without skipping any steps) at a velocity of y, travelling up a slope of angle z.</p>

<p>I'm guessing this would also depend on factors like the grip of the tyre and such?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7796" data-toggle = "popover">
				<p>user name : Alec Dorrington</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-7796">{'motion': 4, 'wheel': 4, 'None': 0, 'torque': 4, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7796" class = 'collapse'>
			</div>
				<textarea id = "speech-7796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7796">
					<img id="start_img-7796" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7796">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7799"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7799" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a standard dynamics problem. Let's use this figure I drew:</p>

<p><a href="https://i.stack.imgur.com/VQ0si.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/VQ0si.png" alt="Corrected car going up incline."></a></p>

<p>Some definitions:</p>

<p>$$
\begin{align}
m &amp; \mbox{, the mass of the vehicle in kg.} \\
\mu_{\mbox{rolling}} &amp; \mbox{, the rolling friction coefficient of your tires.} \\
\theta &amp; \mbox{, the incline of the plane in radians.}\\
g &amp; \mbox{, the gravitational constant, 9.81 } m/s^2 \\
r_{\mbox{tire}} &amp; \mbox{, the radius of the tire in m.}
\end{align}
$$</p>

<p>The normal force of the vehicle against the incline is going to be
$$
f_{\mbox{normal}} = mg \cos{\theta} \\
$$
The normal force is going to play into your frictional force in that 
$$
f_{\mbox{friction}} = \mu_{\mbox{rolling}} f_{\mbox{normal}} \\
$$</p>

<p>The force opposing the vehicle, trying to cause it to roll down the slope, is
$$
f_{\mbox{opposing}} = m g \sin{\theta} \\
$$</p>

<p>Now, keep in mind that the opposing force and the frictional forces are both <em>at the point of contact between the wheel and the surface</em>. Also note that frictional coefficients are constant for a given force <a href="http://www.physlink.com/Education/AskExperts/ae140.cfm" rel="nofollow noreferrer">regardless of contact surface area</a>, so as long as all four tires are equal and evenly loaded, you don't need to worry about the per-tire information <strong>yet</strong>. </p>

<p>So, you have your forces to overcome; opposing and friction. Now you need to convert those to torques:</p>

<p>$$
\tau = f r_{\mbox{tire}} \sin{\phi} 
$$</p>

<p>Where here I've used $\phi$ to help distinguish between the applied force angle and the incline angle $\theta$. Anyways, the force is being applied at a right angle, $\sin{90} = 1$, so you can leave that term off and you're left with</p>

<p>$$
\begin{align}
\tau_{\mbox{ losses}} &amp;= (f_{\mbox{opposing}} + f_{\mbox{rolling friction}}) r_{\mbox{tire}} \\
 &amp;= (mg( \sin{\theta}+\cos{\theta}  \mu_{\mbox{rolling}})) r_{\mbox{tire}} \\
\end{align}
$$</p>

<p>Now your speed comes into play, with the formula:</p>

<p>$$
P_{\mbox{rotating}} = \tau_{\mbox{applied}} \omega \\
$$ 
where $P_{\mbox{rotating}}$ is the rotational power output in Watts, $\tau_{\mbox{applied}}$ is the torque applied in Nm, and $\omega$ is the rotational velocity in rad/s. Your vehicle's linear speed, in $\frac{m}{s}$, is given by:</p>

<p>$$
v = r_{\mbox{tire}} \omega \\
$$
so
$$
\omega = \frac{v}{r_{\mbox{tire}}} \\
$$</p>

<p>Putting it all together:</p>

<p>$$
\begin{align}
P_{\mbox{rotating}} &amp;= (mg (\sin{\theta} + \cos{\theta} \mu_{\mbox{rolling}})) r_{\mbox{tire}} \frac{v}{r_{\mbox{tire}}} \\
 &amp;= v m g(\sin{\theta} +\cos{\theta} \mu_{\mbox{rolling}})) \\
\end{align}
$$ </p>

<p>Now, finally, this is the rotating power required to move the entire vehicle. At this point, however many (equally sized and loaded) tires you use needs to contribute a corresponding fraction of this power; 4 tires = each one needs to deliver at least 1/4 of the power given above. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7799" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7799">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7799">Load Comments</button></br>
			<div id = "commentsection-7799" class = 'collapse'>
			<div id = "comment-11340" class = "comment">
				<p>@Bending Unit 22 - thanks for the edit. I'm still new to Latex.</p>
			</div>
			<div id = "comment-11344" class = "comment">
				<p>[This is a nice reference on math meta](http://meta.math.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference)</p>
			</div>
			<div id = "comment-11572" class = "comment">
				<p>sin  changes to cos  at the end here, is this a mistake, or am I missing something? Protating=(mgsin (1+ rolling))rtirevrtire=vmg(sin +cos rolling))</p>
			</div>
			<div id = "comment-11578" class = "comment">
				<p>@Alec Dorrington - you are correct. I revised the equation. Sorry I normally post from my phone so the equations can get a little muddled on my end.</p>
			</div>
			</div>
				<textarea id = "speech-7799" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7799">
					<img id="start_img-7799" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7799">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>