<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Calibrate a 2d scanner mounted on a rotary axis
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-907" class = "post">
			<h2>Question</h2>
			<div id="vote-907" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 364</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Calibrate a 2d scanner mounted on a rotary axis</h2>
<p>A 2d laser scanner is mounted on a rotary axis. I wish to determine the transformation matrix from the center of the axis to the center of the scanner, using only the input from the scanner and the angle of rotation.</p>

<p><img src="https://i.stack.imgur.com/bygWj.png" alt="enter image description here"></p>

<p>The 2d scanner itself is assumed to be calibrated, it will accurately measure the position of any object inside the plane of the laser, in regards to the scanner origin.</p>

<p>The rotary axis is calibrated as well, it will accurately measure the angle of its own movement.</p>

<p>The scanner is aligned and mounted close to the center of rotation, but the exact offset is unknown, and may drift over time.</p>

<p>Assume it is impractical to measure the position and orientation of the scanner directly. 
I am looking for a way to determine the exact values for the 6 degrees of offset the scanner may have in relation to the axis, determined solely on the 2d information from the scanner and the rotation angle from the axis.</p>

<p><img src="https://i.stack.imgur.com/JtBDH.png" alt="enter image description here"></p>

<p>I am mainly interested in the 4 offsets depicted here, since the other two do not matter in regard to generating a consistent 3d point cloud from the input data.</p>

<p>By scanning a known calibration object, it should be possible to determine these offsets. What are the mathematical formulas for this? </p>

<p>What sort of calibration information is required at a minimum?
Is it for example possible to determine all parameters simply by scanning a flat surface, knowing nothing about the surface except that it is flat?</p>

<p>(The transformation matrix from rotation axis to world is unknown as well, but that one is trivial to determine once the transformation from axis to camera is known.)</p>

<hr>

<p><strong>Example</strong></p>

<p><img src="https://i.stack.imgur.com/TQh9z.png" alt="enter image description here"></p>

<p>On the left the camera is placed exactly on the rotational axis.  The camera scans a planar object with reference points A B and C. Based on the laser distance measurements and the angle of the axis, this planar object can be reconstructed.</p>

<p>On the right, the camera has an unknown offset to the axis. It scans the same object. If the point cloud is constructed without knowing this offset, the planar surface maps to a curved surface. </p>

<p>Can I calculate the offset based on the surface curvature?</p>

<p>If I know the real-world distances and angles between A, B and C, how can I calculate the camera offsets from that? What would be the minimum number of reference points I need for all 4 offsets?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-907" data-toggle = "popover">
				<p>user name : HugoRune</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-907">{'None': 0, 'inverse-kinematics': 9, 'localization': 9, 'calibration': 7, 'joint': 5, 'industrial-robot': 14, 'kinematics': 9, 'motion-planning': 14}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-907" class = 'collapse'>
			</div>
				<textarea id = "speech-907" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-907">
					<img id="start_img-907" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-907">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-911"  class = "post">
				<h2>Answer</h2>
			<div id="vote-911" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you can afford to have a small portion of your field of view obscured, you may want to consider having a <a href="http://en.wikipedia.org/wiki/Fiduciary_marker" rel="nofollow">fiducial object</a> somewhere in view.</p>

<p>With a suitable fiducial object, scanning it as your axis rotates, you should be able to calculate the four offsets you desire.</p>

<p>If you cannot afford to have any of your field of view obscured under normal operation, then you may need to place your fiducial on an actuator of it's own, bringing it into view when you want to calibrate and taking it out for normal operation. The only issue here is that you limit the accuracy of your calibration by the accuracy of your fiducial actuator.</p>

<p>Note that if some part of your field of view is already obscured by another part of your robot, and it may be suitable to use as a fiducial, or at the very least as a mounting point for one.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-911" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-911">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-911">Load Comments</button></br>
			<div id = "commentsection-911" class = 'collapse'>
			<div id = "comment-2206" class = "comment">
				<p>My problem is not placing a fiducial object, that is simple enough. My problem is calculating the offsets. As you say, it *should* be possible to calculate the four offsets based on a calibration object, but how? Let's say I scan a cube of known dimensions. I can easily see that my offsets are wrong if that cube is mapped to a non-planar, non-rectangular point cloud. But how do I get the correct offsets from that?</p>
			</div>
			<div id = "comment-2209" class = "comment">
				<p>Thanks for the clarification @HugoRune - if you could edit your question to include this information then hopefully the next person to answer will be able to provide a better answer. I've only ever done this sort of calibration having already simplified the problem down to 2D, so I can only give general advice.</p>
			</div>
			</div>
				<textarea id = "speech-911" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-911">
					<img id="start_img-911" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-911">Comment</button>
			<br><div id = "ans-944"  class = "post">
				<h2>Answer</h2>
			<div id="vote-944" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The simplest method in this case is to essentially brute force the problem but to brute force it in an intelligent manner.</p>

<p>What you will need is a set of data from the scanner while it is scanning an object, preferably a mathematically simple object like a cube or a sphere and the exact offset position or offset of that object relative to the mount of this scanner.</p>

<p>If you have these two pieces of information the next trick is essentially testing various combinations scanner offsets (what I would typically call calibration values) until you find offsets that cause the scanner data to accurately represent your object. For this you can either randomly guess values which can take forever and not get anywhere (but in theory would eventually get you the right answer) or you can use an <a href="http://en.wikipedia.org/wiki/Mathematical_optimization" rel="nofollow">optimization method</a></p>

<p>To use an optimization method you will need to develop some sort of metric to say whether a particular set of offsets works better than another set. Then whatever optimization method you are using will use that score to say whether to adjust the values in a particular direction. Eventually it will settle on a particular set of values that seem to work best.</p>

<p>This is a pretty brief and poor description of a very in depth topic but hopefully it will get you pointed in a direction. If you would like a more detailed description of anything leave a comment.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-944" data-toggle = "popover">
				<p>user name : ApockofFork</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-944">{'control': 1, 'None': 15, 'motor': 1, 'kalman-filter': 6, 'localization': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-944" class = 'collapse'>
			</div>
				<textarea id = "speech-944" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-944">
					<img id="start_img-944" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-944">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>