<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Camera pose estimation using opencv C++, SolvePnP function
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13922" class = "post">
			<h2>Question</h2>
			<div id="vote-13922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 16</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Camera pose estimation using opencv C++, SolvePnP function</h2>
<p>I am trying to measure the pose of a camera and I have done the following.</p>

<ol>
<li>Mark world 3-D(Assuming z=0, since it is flat) points on corners of a square on a flat surface and assume a world coordinate system.(in cms)</li>
</ol>

<p>Have taken the top left corner of the square as my origin and given the world points in the following order(x,y)or(col,row):
(0,0),(12.8,0),(12.8,12.8),(0,12.8)   - in cms</p>

<ol start="2">
<li><p>Detect those points in my image.(in pixels)
The image points and world points are in the same order.</p></li>
<li><p>I have calibrated my camera for <strong>intrinsic matrix</strong> and <strong>distortion coefficients</strong>.</p></li>
<li><p>I use <strong>SolvePnP</strong> function to get rvec and tvec.</p></li>
<li><p>I use <strong>Rodrigues</strong> function to get rotation matrix.</p></li>
<li><p>To check if rvec and tvec is correct, I project back the 3-D points(z=0) using <strong>ProjectPoints</strong> into the image plane and I get the points correctly on my image with an error of 3 pixels on X- axis.</p></li>
<li><p>Now I go ahead and calculate my camera position in the world frame using the formula:</p></li>
</ol>

<p><strong>cam_worl_pos = - inverse(R) * tvec</strong>. (This formula I have verified in many blogs and also this makes sense) </p>

<ol start="8">
<li>But my <strong>cam_worl_pos</strong> x,y, and z in cms do not seem to be correct.</li>
</ol>

<p>My doubt is, if I am able to project back the 3-D world point to image plane using rvec and tvec with (<strong>3 pixel error on X-axis and almost no error on Y axis, hope it is not too bad</strong>), then why am I not getting the camera position in world frame right.</p>

<p>Also, I have a doubt on SolvPnP rvec and tvec solution, they might be one of the multiple solutions, but not the one which I want.</p>

<p>How do I get the right rvec and tvec from SolvPnp or any other suggestions to get rvec and tvec would also be helpful.</p>

<p><strong>EDITS</strong> : </p>

<p><strong>Image Size</strong> - 720(row) * 1280(col)</p>

<p><strong>camera parameters</strong></p>

<pre><code>cameraMatrix_Front=[908.65   0     642.88
                     0     909.28   364.95
                     0        0        1]

distCoeffs_Front=[-0.4589, 0.09462, -1.46*10^-3, 1.23*10^-3]
</code></pre>

<p><strong>OpenCV C++ code</strong>:</p>

<pre><code>vector&lt;Point3f&gt; front_object_pts;
Mat rvec_front;
Mat tvec_front;
Mat rotation_front;
Mat world_position_front_cam;


//Fill front object points(x-y-z order in cms)
//It is square of side 12.8cms on Z=0 plane
front_object_pts.push_back(Point3f(0, 0, 0));
front_object_pts.push_back(Point3f(12.8, 0, 0));
front_object_pts.push_back(Point3f(12.8,12.8,0));
front_object_pts.push_back(Point3f(0, 12.8, 0));


//Corresponding Image points detected in the same order as object points
front_image_pts.push_back(points_front[0]);
front_image_pts.push_back(points_front[1]);
front_image_pts.push_back(points_front[2]);
front_image_pts.push_back(points_front[3]);

//Detected points in image matching the 3-D points in the same order
//(467,368)
//(512,369)
//(456,417)
//(391,416)

//Get rvec and tvec using Solve PnP
solvePnP(front_object_pts, front_image_pts, cameraMatrix_Front,
         Mat(4,1,CV_64FC1,Scalar(0)), rvec_front, tvec_front, false, CV_ITERATIVE);

//Output of SolvePnP
//tvec=[-26.951,0.6041,134.72]  (3 x 1 matrix)
//rvec=[-1.0053,0.6691,0.3752]  (3 x 1 matrix)


//Check rvec and tvec is correct or not by projecting the 3-D object points to image
vector&lt;Point2f&gt;check_front_image_pts
projectPoints(front_object_pts, rvec_front, tvec_front, 
             cameraMatrix_Front, distCoeffs_Front, check_front_image_pts);


//Here to note that I have made **distCoefficents**, 
//a 0 vector since my   image points are detected after radial distortion is removed

//Get rotation matrix
Rodrigues(rvec_front, rotation_front);

//Get rotation matrix inverse
Mat rotation_inverse;
transpose(rotation_front, rotation_inverse);

//Get camera position in world cordinates
world_position_front_cam = -rotation_inverse * tvec_front;
</code></pre>

<blockquote>
  <p>//Actual location of camera(Measured manually)</p>
  
  <p>X=47cm</p>
  
  <p>Y=18cm</p>
  
  <p>Z=25cm</p>
  
  <p>//Obtained location</p>
  
  <p>X=110cm</p>
  
  <p>Y=71cm</p>
  
  <p>Z=-40cm</p>
</blockquote>

			</div>
			<div class = "userinfosection"  id = "userinfo-13922" data-toggle = "popover">
				<p>user name : Nithin</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-13922">{'None': 0, 'computer-vision': 2, 'pose': 1, 'calibration': 1, 'geometry': 0, 'cameras': 6, 'opencv': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13922">Load Comments</button></br>
			<div id = "commentsection-13922" class = 'collapse'>
			<div id = "comment-22779" class = "comment">
				<p>Welcome to *Robotics*, Nithin. As it stands, this is a question more about OpenCV than about robotic systems. I saw that you started an identical question, which I'm assuming you did because you're frustrated at having received no response here. As this question is about *software trouble* you're having, and because you're not getting answers quickly here, I'm going to migrate this question to [so].</p>
			</div>
			</div>
				<textarea id = "speech-13922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13922">
					<img id="start_img-13922" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13922">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>