<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Camera Calibration fails to run on ROS
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8196" class = "post">
			<h2>Question</h2>
			<div id="vote-8196" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 409</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Camera Calibration fails to run on ROS</h2>
<p>I am running ROS Indigo on Ubuntu 14.04. I am doing a mono-camera calibration and trying to follow the <a href="http://wiki.ros.org/camera_calibration" rel="nofollow">camera calibration tutorial</a> on the ROS Wiki.</p>

<p>I give the following command:</p>

<blockquote>
  <p>rosrun camera_calibration cameracalibrator.py --size 8x6 --square
  0.108 image:=/my_camera/image camera:=/my_camera</p>
</blockquote>

<p>I get the following error:</p>

<blockquote>
  <p>ImportError: numpy.core.multiarray failed to import Traceback (most
  recent call last): File
  "/opt/ros/indigo/lib/camera_calibration/cameracalibrator.py", line 47,
  in  import cv2 ImportError: numpy.core.multiarray failed to
  import</p>
</blockquote>

<p>I thought it was to do with updating <code>numpy</code> and did a <code>rosdep</code> update but no difference.</p>

<p>What is a possible way to solve this problem?</p>

<p><strong>UPDATE:</strong>
I uninstalled and reinstalled ROS completely from scratch. I still get the same error. Should I have to look somewhere outside ROS?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8196" data-toggle = "popover">
				<p>user name : Nagsaver</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-8196">{'None': 0, 'ros': 0, 'cameras': 1, 'pose': -1, 'calibration': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8196" class = 'collapse'>
			</div>
				<textarea id = "speech-8196" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8196">
					<img id="start_img-8196" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8196">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8197"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8197" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you doing stereo or mono camera calibration?  Can you post more code? (Please update the question, don't post code in a comment on this answer)</p>

<p>I ask because there's a few things to check. Highlights from the tutorial:</p>

<blockquote>
  <p>Start by getting the dependencies and compiling the driver.</p>
</blockquote>

<pre><code>$ rosdep install camera_calibration

$ rosmake camera_calibration
</code></pre>

<blockquote>
  <p>Make sure that your monocular camera is publishing images over ROS. List the topics to check that the images are published:</p>
</blockquote>

<pre><code>$ rostopic list
</code></pre>

<blockquote>
  <p>This will show you all the topics published, check to see that there is an image_raw topic. The default topics provided by most ROS camera drivers are:
  /camera/camera_info
  /camera/image_raw
  If you have multiple cameras or are running the driver in its own namespace, <em>your topic names may differ</em>.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8197" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8197">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8197">Load Comments</button></br>
			<div id = "commentsection-8197" class = 'collapse'>
			<div id = "comment-13106" class = "comment">
				<p>Hi. So I am doing a mono-camera calibration. There is no more code to post since I am using the default ROS node. You are right about the topic names  since uvc_camera pulishes in the topic /image_raw but that will not solve the error and does not as I checked it. Regarding repos, they are up to date.</p>
			</div>
			<div id = "comment-13107" class = "comment">
				<p>@Nagsaver - What is the namespace of the camera you are using? Does it match the definition you are using? (camera:=\my_camera) What do you get when you list topics? Do you get any errors when you install/make camera_calibration?</p>
			</div>
			<div id = "comment-13109" class = "comment">
				<p>I get /image_raw and /camera_info as the topics when I do rostopic list. I tried with the new topic names and it gives the same error as expected because the error is related to numpy. Regarding the camera_calibration package,it builds successfully without any errors when I do rosmake.</p>
			</div>
			</div>
				<textarea id = "speech-8197" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8197">
					<img id="start_img-8197" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8197">Comment</button>
			<br><div id = "ans-8627"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8627" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Did you try updating numpy directly? rosdep does not care about pip packages.</p>

<pre><code>sudo pip install numpy -U
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8627" data-toggle = "popover">
				<p>user name : HighVoltage</p>
				<p> user reputation : 398</p>
				<p class = "tagcontent" id = "usertaginfo-8627">{'stereo-vision': 2, 'probability': 10, 'multi-agent': 4, 'planning': 10, 'manipulator': 2, 'cameras': 1, 'matlab': 1, 'kalman-filter': 7, 'None': 19, 'noise': 3, 'inverse-kinematics': 2, 'localization': 8, 'pose': 4, 'mapping': 0, 'rotation': 1, '3d-reconstruction': 0, 'computer-vision': 8, 'algorithm': 3, 'c++': 3, 'slam': 2, 'exploration': 0, 'path-planning': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8627" class = 'collapse'>
			</div>
				<textarea id = "speech-8627" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8627">
					<img id="start_img-8627" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8627">Comment</button>
			<br><div id = "ans-8723"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8723" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Install OpenCV-Python, it will solve the <code>import cv2</code> error.</p>

<p>You can refer the following link for installation, <a href="http://docs.opencv.org/master/d5/de5/tutorial_py_setup_in_windows.html" rel="nofollow">Install OpenCV-Python in Windows</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8723" data-toggle = "popover">
				<p>user name : Tanay Shah</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-8723">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8723" class = 'collapse'>
			</div>
				<textarea id = "speech-8723" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8723">
					<img id="start_img-8723" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8723">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>