<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Camera selection for long range stereo vision system (up to 100 meters)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11839" class = "post">
			<h2>Question</h2>
			<div id="vote-11839" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 327</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Camera selection for long range stereo vision system (up to 100 meters)</h2>
<p>I want to implement a real-time stereo vision system for long range (up to 100m) depth estimation. I know that there are some general considerations as described in this <a href="https://robotics.stackexchange.com/questions/896/how-to-select-cameras-for-a-stereo-vision-system?rq=1">SOV post</a>. I have seen some typical cameras such as zed stereo cameras which has limited range (max. 20m).</p>

<p>Maximum allowable baseline distance between cameras is 0.5m and about field of view, i think that a camera with 8mm (or 12 or 16) focal length can provide reasonable FOV. I need depth resolustions at 100m to be 1% or maybe lower. </p>

<p>Are ip cameras proper for such applications? If no, Can anyone please suggest proper cameras for application in long range stereo vision system?</p>

<p>I will be grateful for any information you can provide.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11839" data-toggle = "popover">
				<p>user name : ObjectOrientedMan</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11839">{'stereo-vision': 1, 'None': 0, 'errors': 1, 'cameras': 1, 'rangefinder': 1, 'real-time': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11839">Load Comments</button></br>
			<div id = "commentsection-11839" class = 'collapse'>
			<div id = "comment-21066" class = "comment">
				<p>Welcome to *Robotics*, ObjectOrientedMan. Questions like this ("What X do I need for Y?") are generally off-topic because they are [shopping questions](https://stackoverflow.blog/2010/11/23/qa-is-hard-lets-go-shopping/). Any products we list here (especially digital cameras) are unlikely to be relevant or even sold as time progresses, so the question will be of little use to future visitors. The better question is, "How can I determine if a particular camera is suitable for my application?" *That* question is relevant for future visitors, because it explains what characteristics to look for.</p>
			</div>
			<div id = "comment-21068" class = "comment">
				<p>The [post to which you linked](http://robotics.stackexchange.com/a/927/9720) does a fair job at going over how particular characteristics are related to stereo system performance. You ask for a recommended camera for a particular distance, but *what are your limitations and requirements*? This is what will drive the camera selection. For instance, what is your maximum allowable baseline distance between cameras? What is your depth resolution requirement? What is your required field of view? Even if it were on-topic, you need to nail down what you want before anyone can give recommendations.</p>
			</div>
			<div id = "comment-21069" class = "comment">
				<p>I'm closing the question (off-topic as described above), but if you'd like to *discuss* your problem, please join us in [chat]. If you have a question about how to determine a particular performance specification, then *those* are the kinds of questions we would love to see!</p>
			</div>
			<div id = "comment-21071" class = "comment">
				<p>Thank you @Chuck . I have edited question considering your critique. I just have asked a general question about cameras for long range stereo vision system not for providing a specific product. A question is opinion-based when there are lots of available answers, but  I don't think that it would be true for question.</p>
			</div>
			</div>
				<textarea id = "speech-11839" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11839">
					<img id="start_img-11839" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11839">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11855"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11855" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I still think this is off-topic, but it seems I need more space than a comment to show (answer?) why that is so. </p>

<p>You are starting from some performance specifications and are looking to get to a set of features you need in your camera. </p>

<p><a href="http://zone.ni.com/reference/en-XX/help/372916P-01/nivisionconceptsdita/guid-10d358bd-3dcd-4ccd-a73c-672e48aed39a/" rel="nofollow noreferrer">Here is a post from NI about stereo vision</a> that gives a formula for depth resolution:</p>

<p>$$
\Delta z = \frac{z^2}{fb}\Delta d \\
$$</p>

<p>where $z$ is the depth of the object from the stereo system, $\Delta d$ is the depth resolution, $f$ is the focal length of the camera, $b$ is the baseline, and $d$ is the image disparity. </p>

<p>So, you want 1% depth resolution at 100 meters, or a depth resolution of 1 meter. A focal length of 8 millimeters, or 0.008 m, and a baseline of 0.5 m.</p>

<p>Rearranging the equation, it looks like you'll need a camera capable of registering a disparity of:</p>

<p>$$
\Delta d = \Delta z \frac{fb}{z^2} \\
\Delta d = 1 \frac{(0.008)(0.5)}{100^2} \\
\Delta d = 4 x 10^-7 m \\
\Delta d = 0.4 \mu m \\
$$</p>

<p>Assuming pixel accuracy (not sub-pixel accuracy), you'll want one pixel to be 0.4 $\mu$m or smaller, so the 0.4 $\mu$m disparity is registered as a one pixel shift between cameras. </p>

<p><a href="https://en.wikipedia.org/wiki/Image_sensor_format#Table_of_sensor_formats_and_sizes" rel="nofollow noreferrer">Here's a list of sensor formats and sizes</a>. I'm assuming these cameras all do "full HD", at a resolution of 1920x1080. Looking at the 2/3" format, the sensor width is 8.8 mm. </p>

<p>You need to register 0.4 $\mu$m, how does that compare to the 2/3" format? Well, at a width of 0.0088 m, with 1920 pixels across that width, the 2/3" format has a pixel width of $0.0088/1920 = 4.58\mu m$. So, off by a factor of 10. You need the pixel width to be about 11 times smaller. </p>

<p>So let's look at the 1/3" format - as in the iPhone 6. There the width is 4.8mm, so about half as wide, meaning you still need the pixels to be about 5-6 times smaller than the camera sensor in the iPhone.</p>

<p>This is also assuming you want to use every pixel in a full HD format - this will result in a high computation time. Most of the stereo vision projects I've seen have used cameras with lower resolutions or downsampled the image to a format like 640x480, but of course that means that the pixels are much (3x) larger.</p>

<p>You ask if "IP Cameras" are "proper," but IP cameras come in lots of styles. </p>

<p>Hopefully this will help you as a guide for your iterations. Plainly speaking, I don't think you'll ever find anything (that is reasonably affordable) that would do the depth resolution at the baseline you're talking about. I would imagine the baseline would be more on the range of 5-10 meters to get what you need. At 10 meters, fyi, the pixel size becomes 8 $\mu$m. At that point, most/all of the HD cameras should be able to do what you want, but again HD is computationally expensive because there are so many pixels to correlate. </p>

<p>This will be an iterative process. Work forward and backward and forward and backward until you get the design that meets your needs. You'll find you need to make tradeoffs along the way, and that's the core of engineering - finding the "optimal" balance of specifications. Cost, performance, size, cost, weight, interface, lead time, cost, cost, cost.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11855" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11855">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11855">Load Comments</button></br>
			<div id = "commentsection-11855" class = 'collapse'>
			<div id = "comment-21082" class = "comment">
				<p>+1 I upvoted because the efforts are nice although the question could have been clearer with OP asking about his actual project requirements and why.</p>
			</div>
			<div id = "comment-21111" class = "comment">
				<p>Thank you @Chuck. Excuse me for the late reply. I thought that the post is closed. I have a question about your answer. Why you have assumed one pixel accuracy? I think that if I use algorithms with 1/10 sub-pixel matching accuracy,  d becomes a reasonable value. In this link (link.springer.com/chapter/10.1007/978-3-319-10605-2_7), authors have shown that with sub-pixel matching accuracy (0.25 to 1/20), we can achieve reasonable errors at long ranges. Can I overcome the hardware limitations with implementing optimized algorithms with sub-pixel matching accuracy? Again thank for your answer.</p>
			</div>
			<div id = "comment-21113" class = "comment">
				<p>@ObjectOrientedMan - I took a look at the paper; note that they state in at section 4.1, "We consider disparities between 9 and 3 pixels." I'm no stereo vision expert, but I don't know that you can do sub-pixel disparity mapping if you don't have at least some pixel-level disparity.</p>
			</div>
			</div>
				<textarea id = "speech-11855" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11855">
					<img id="start_img-11855" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11855">Comment</button>
			<br><div id = "ans-11856"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11856" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'll try to explain this in terms of software. Firstly, it is just next to impossible to have 100 metres (practically, 3 metres is like the best depth accuracy) and we need to be sure that the cameras are capturing images properly with all practical features (vibration-free and even under sunlight or rain)! (Else features will be lost and we end up with almost 'plain' features resulting in poor mapping) While it has to deal largely with resolution, color, focal length etc, it is definitely practically impossible with normal IP camera and some specialised stereo-vision cameras may have to be employed as mentioned in Chuck's answer (0.4 micrometer?).</p>

<p>So, I would suggest the use of Stereo-vision or Laser scan for reinforcement learning (links not hyper-referenced deliberately).</p>

<ol>
<li><p>"High Speed Obstacle Avoidance using Monocular Vision and Reinforcement Learning" <a href="http://www.cs.cornell.edu/~asaxena/rccar/icml_obstacleavoidance.pdf" rel="nofollow noreferrer">http://www.cs.cornell.edu/~asaxena/rccar/icml_obstacleavoidance.pdf</a> </p></li>
<li><p>"Depth Estimation using Monocular and Stereo Cues"<br>
<a href="https://pdfs.semanticscholar.org/4953/1103099c8d17ea34eb09433688e84de4f35f.pdf" rel="nofollow noreferrer">https://pdfs.semanticscholar.org/4953/1103099c8d17ea34eb09433688e84de4f35f.pdf</a></p></li>
</ol>

<p>These describe detecting features and associating depth-information with every feature and training it continuously for better and even better results. First paper uses LIDAR and that can be a bit costly for you. As 2D LIDAR is being used, the features of the image are sampled in columns and those features are mapped to image-kernels and the depth is thus estimated. In second case, stereo-vision is being used to train (note: this is high quality data as this is used for training) and as we have complete 3D information, features are being trained in a similar fashion as deep-nets and depth information is being obtained by comparing layers of information in image. These techniques can identify upto <a href="http://www.cs.cornell.edu/~asaxena/learningdepth/ijcv_monocular3dreconstruction.pdf" rel="nofollow noreferrer">50m or so</a> effectively.</p>

<p>Also, I would suggest OP about asking a single question instead of asking duplicates like <a href="https://robotics.stackexchange.com/questions/11770/real-time-stereo-vision-system-for-long-range-up-to-100m-depth-estimation">this</a>.</p>

<p>Summary: It is practically next to impossible to get 100m depth with off-shelf cameras and no additional softwares.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11856" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-11856">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11856">Load Comments</button></br>
			<div id = "commentsection-11856" class = 'collapse'>
			<div id = "comment-21085" class = "comment">
				<p>"Summary: It is practically next to impossible to get 100m depth with off-shelf cameras and no additional softwares." I agree completely, *at the baseline OP wants*. If you set the baseline to 50m, then finding depth at a range of 100m isn't too hard, but a 50m wide vehicle may be less than useful.</p>
			</div>
			</div>
				<textarea id = "speech-11856" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11856">
					<img id="start_img-11856" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11856">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>