<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Camera Pose Estimation Cost Function
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11796" class = "post">
			<h2>Question</h2>
			<div id="vote-11796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 21</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Camera Pose Estimation Cost Function</h2>
<p>What I actually have is more a terminology question in regards to some visual odometry equations.</p>

<p>From Hartley and Zisserman's Multiple View Geometry we are given multiple different cost functions for least squares method. Among them is the transfer error:</p>

<p>$\sum d(x_{t}^{'},Tx_{t-1}^{'})^{2}$</p>

<p>x' is a measured point and T is rigid body transform. The only parameter estimated is T.</p>

<p>and the re-projection error</p>

<p>$\sum d(x_{t-1}^{'},x_{t-1})^{2} + d(x_{t}^{'},Tx_{t-1})$</p>

<p>where x' is the measured point, x is the estimated point and T is again the rigid body transform. In this equation both T and x are the estimated parameters.</p>

<p>I know I am missing the camera calibration parameters in these equations.</p>

<p>Now in almost all the papers I have found on visual odometry they mention that they minimize the reprojection error.(E.g <a href="http://webdiis.unizar.es/~jcivera/papers/pire_etal_iros15.pdf" rel="nofollow noreferrer">SPTAM</a> ,<a href="http://rpg.ifi.uzh.ch/docs/ICRA14_Forster.pdf" rel="nofollow noreferrer">SVO</a>,<a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjG39ye-sTSAhVJ_IMKHWMhAUsQFggfMAA&amp;url=http%3A%2F%2Fwww.zemris.fer.hr%2F~ssegvic%2Fpubs%2Fkreso15visapp.pdf&amp;usg=AFQjCNGUGh0cdQs4terohW119gw3QMV2ZQ" rel="nofollow noreferrer">VO_Paper3</a> and whole bunch of others)</p>

<p>However, in almost all of them they only minimize the transform, rather than both the transform and the point position which to me signifies that they are minimizing the transfer error, and not the re-projection error. So I am just wondering if I am misunderstanding the differences between the cost functions as given by Hartley and Zisserman, or if just everyone in the visual odometry community is using the term reprojection error in a different manner.</p>

<p>A couple of bonus questions if you have time.</p>

<p>1) When calculating the residuals is it better to have the residual be 1 number or a vector? So for the transfer error is it better to have just one residual with the distance between the points, or to split it up into two residuals with one having distance in the x direction, and the other the distance in the y.</p>

<p>2) Why could there be a case where powells dog leg method is able to solve a problem, but levenberg marquadt can not?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11796" data-toggle = "popover">
				<p>user name : edwinem</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-11796">{'geometry': 2, 'None': 1, 'computer-vision': 2, 'monocular': 2, 'visual-odometry': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11796" class = 'collapse'>
			</div>
				<textarea id = "speech-11796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11796">
					<img id="start_img-11796" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11796">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>