<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can ReplicatorG or MatterControl drive a RepRap RAMBo motherboard?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6408" class = "post">
			<h2>Question</h2>
			<div id="vote-6408" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 147</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can ReplicatorG or MatterControl drive a RepRap RAMBo motherboard?</h2>
<p>I'm fairly new to 3D printing. I'm considering motherboards I might use to control my printer. I'm hoping to find a board that I can easily control using either:</p>

<ul>
<li>ReplicatorG</li>
<li>MatterControl</li>
</ul>

<p>I like these programs because they seem reasonably current, mature and straight-forward for beginners.</p>

<p>My question is <strong>can I control a Rambo V1.2 board from either of these programs?</strong> These programs don't include explicit support for the RAMBo as far as I can see, but maybe I'm missing how printing software works at this point?</p>

<hr>

<h1>What is a RAMBo?</h1>

<p>The RAMBo V1.2 board is a creative-commons/open source design. It integrates an Arduino, Stepper-Motor drivers, Heater &amp; Fan controls, Power Management and more.</p>

<p>An example implementation looks like this:
<img src="https://i.stack.imgur.com/bJ6KR.jpg" alt="RepRap Rambo V1.2G"></p>

<p>For more background info on what a RAMBo board is, you may read about it on the <a href="http://reprap.org/wiki/Rambo" rel="nofollow noreferrer">RepRap community wiki</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6408" data-toggle = "popover">
				<p>user name : James T Snell</p>
				<p> user reputation : 95</p>
				<p class = "tagcontent" id = "usertaginfo-6408">{'reprap': -3, 'None': 0, '3d-printing': -3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6408">Load Comments</button></br>
			<div id = "commentsection-6408" class = 'collapse'>
			<div id = "comment-9261" class = "comment">
				<p>Welcome to *robotics* Doc, but would you expand on what your [practical, answerable question](http://robotics.stackexchange.com/help/dont-ask) is here? What specific problems are you having? Is it connector pin-outs? Software? Something else? If you could try to explain what you need help with, that would be good. Thanks,</p>
			</div>
			<div id = "comment-9263" class = "comment">
				<p>For a Robotics form, you sound disappointingly human. (*digitally weeps*). I've rewritten my question, hopefully it's more human-answerable now?</p>
			</div>
			<div id = "comment-9267" class = "comment">
				<p>Thanks Doc, the question is now better, but it is a good idea with questions of this type to say what you've tried, what happened and what you expected to happen. But this is difficult to do when you are dealing with hypotheticals.</p>
			</div>
			<div id = "comment-9268" class = "comment">
				<p>Incidentally, never call any Stack Exchange site a forum, you will come in for a world of criticism. *8')</p>
			</div>
			<div id = "comment-9274" class = "comment">
				<p>I'm honestly confused how this is ambiguous. I want to know if a specific piece of hardware is supported by specific software. I should think it's obvious I've had a look at documentation already. I'm sure it's in there, but after a couple hours of surfing I decided to post the question. And I'm inclined to keep calling stackexchange a forum system, cause trolling is a light hobby of mine. Forum Forum Forum. Have a nice day ^_^</p>
			</div>
			<div id = "comment-9275" class = "comment">
				<p>This question is off-topic because we are not the pre-sales support for the Rambo V1.2 board.</p>
			</div>
			<div id = "comment-9276" class = "comment">
				<p>If you want help, and are prepared to work to understand the culture here on stack exchange, feel free to stick around. If you're here for the lulz however, people have better things to do with their freely given time. Sorry.</p>
			</div>
			<div id = "comment-9281" class = "comment">
				<p>My question is no different than asking about an Arduino, a BeagleBoard or a Raspberry Pi. Your pre-sales comment to me implies you're unfamiliar with what a RAMBo board is. Not to worry, I was in a similar boat not long before my original question. Anyway, I still think it's valid question.</p>
			</div>
			<div id = "comment-9309" class = "comment">
				<p>Here's a general algorithm for solving "Does board $X$ talk to board $Y$ correctly?" questions.  First, look at the available interfaces for board $X$. Then look at the available interfaces for board $Y$. If there is some intersection, (e.g., they both have a serial port, UART, CAN-bus, I2C, etc), the answer is likely yes. Then you'll have to look up how each interface is used by both board $X$ and $Y$. This site is not a good fit for those types of questions, since it requires 1. Google, 2. Datasheets, 3. Code. But maybe someone can help. I recommend *you* read about the board and report back</p>
			</div>
			<div id = "comment-9311" class = "comment">
				<p>I RTFMed before coming here. I think the comments I've received here have all come from people entirely unfamiliar with 3D-printing and their weird assortment of hardware, firmwares and application combinations. It's a genuine shame there isn't a 3D-printing SE site. :\</p>
			</div>
			<div id = "comment-9807" class = "comment">
				<p>We did have a 3D-printiing stack exchange briefly @Doc. I proposed it and got it to beta [but it was shut down through lack of interest](http://area51.stackexchange.com/proposals/41850/digital-fabrication). Still, the problem is that this sort of question here is not likely to be useful for future visitors. I'm glad that you managed to find your own answer though.</p>
			</div>
			</div>
				<textarea id = "speech-6408" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6408">
					<img id="start_img-6408" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6408">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6411"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6411" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>These programs don't include explicit support for the RAMBo as far as
  I can see</p>
</blockquote>

<p>Turns out the reason for that is because Host software has evolved to declare support for specific firmware interfaces. The industry as evolved so that <a href="http://reprap.org/wiki/List_of_Firmware" rel="nofollow">there are several popular firmwares available</a>. These firmwares they tend to support various motherboard designs including the RAMBo and RAMPS specs (RAMBo is a refinement of RAMPS). Some even support very early RepRap boards such as the Gen3 through Gen6 boards as were found on early MakerBots, for example.</p>

<hr>

<h1>The Answer</h1>

<p>YES, MatterControl will drive a RAMBo board, provided it's flashed with a supported firmware. <a href="http://reprap.org/wiki/List_of_Firmware#Marlin" rel="nofollow">Marlin</a>, for example, is a firmware that MatterControl supports.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6411" data-toggle = "popover">
				<p>user name : James T Snell</p>
				<p> user reputation : 95</p>
				<p class = "tagcontent" id = "usertaginfo-6411">{'reprap': -3, 'None': 0, '3d-printing': -3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6411" class = 'collapse'>
			</div>
				<textarea id = "speech-6411" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6411">
					<img id="start_img-6411" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6411">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>