<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can i charge a lipo nano tech battery over imax b3 charger
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7930" class = "post">
			<h2>Question</h2>
			<div id="vote-7930" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 157</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can i charge a lipo nano tech battery over imax b3 charger</h2>
<p>Can i charge a lipo nano tech battery over imax b3 charger. 2650mah 35/70c 3s is the battery</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7930" data-toggle = "popover">
				<p>user name : Sulaiman Ayub</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7930">{'quadcopter': -2, 'None': 0, 'battery': 0, 'pid': -2, 'lithium-polymer': 0, 'balance': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7930">Load Comments</button></br>
			<div id = "commentsection-7930" class = 'collapse'>
			<div id = "comment-11623" class = "comment">
				<p>What do you mean "Lipo nano tech battery"? Do you have a part number for the battery and charger, or better, can you link to the datasheet for each?</p>
			</div>
			<div id = "comment-11625" class = "comment">
				<p>From first looks, the imax b3 charger only outputs ~0.7A for 3 cells, which means it's going to take quite a while to charge a single 2650mAh Lipo. Hobbyking claims you can charge the 2650mAh 35C 3S battery at 8A, so it might be worth while to look for a charger that can supply more current.  A safe rule of thumb is to charge at 1C for Lipos, so 2.65A here.  iMax B6 might be a good charger to look at.</p>
			</div>
			<div id = "comment-11626" class = "comment">
				<p>@JMarple - sounds like a good answer, so could you put it in an answer?</p>
			</div>
			<div id = "comment-11640" class = "comment">
				<p>Will imaxb3 charger damage that battery.</p>
			</div>
			<div id = "comment-11650" class = "comment">
				<p>On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			<div id = "comment-11659" class = "comment">
				<p>I mark you as off topic. @booth</p>
			</div>
			</div>
				<textarea id = "speech-7930" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7930">
					<img id="start_img-7930" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7930">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7935"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7935" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Disclaimer: I have never actually used the B3 so trust this only 90% ;)</p>

<p>The iMax B3 is specifically marketed towards 2/3 cell Lipo Batteries and reviews suggest it works ok, so the B3 should be fine to use. As I mentioned in the comments, it can only supply 0.7A for 3 cells, so a 2.65Ah battery is going to take a very long time to charge.  Can the B3 damage the battery?  As long as you dont get faulty hardware (which is true for all chargers), and the fact you certainty won't have overcharging problems, it'll be completely safe.  </p>

<p>I suggest investing in the iMax B6 as you can charge at a much faster rate and those will last you a decent amount of time (I've had mine for 2 years no problem)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7935" data-toggle = "popover">
				<p>user name : JMarple</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-7935">{'None': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7935" class = 'collapse'>
			</div>
				<textarea id = "speech-7935" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7935">
					<img id="start_img-7935" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7935">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>