<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can too much input current destroy my motor driver?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9978" class = "post">
			<h2>Question</h2>
			<div id="vote-9978" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 134</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can too much input current destroy my motor driver?</h2>
<p>I have a 18 V rated driver I'm using to drive two 12 V DC gear motors using my Arduino. I bought a new battery pack which is rated 3300 mAh 25C, 11.1V making the total current input 82.5 A. My driver is rated for 7 V min and 18 V max, no current rating is given.</p>

<p>My motors are 12V max current under load is 9.5 A.</p>

<p>So just to be sure, can using this battery destroy my motor driver?</p>

<p>This is the <a href="https://onedrive.live.com/redir?resid=EEABAA7CDCB08F75!40200&amp;authkey=!AGgKQkCY0LNj7v8&amp;ithint=file%2Cpdf" rel="nofollow">datasheet</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9978" data-toggle = "popover">
				<p>user name : YaddyVirus</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-9978">{'brushless-motor': 0, 'None': 2, 'raspberry-pi': 1, 'arduino': 1, 'battery': 2, 'rcservo': 0, 'current': 1, 'motor': 2, 'ultrasonic-sensors': 0, 'navigation': 0, 'steering': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9978">Load Comments</button></br>
			<div id = "commentsection-9978" class = 'collapse'>
			<div id = "comment-17803" class = "comment">
				<p>One number missing is - the maximum current the motors will take when in your application. But I doubt that will be anywhere near enough to damage a 25C battery. You should try to check the maximum current of the driver though. Do you know what chip/transistors it's based on? That might give a clue what the current rating is.</p>
			</div>
			<div id = "comment-17804" class = "comment">
				<p>Do you have a datasheet for those motor drivers?</p>
			</div>
			<div id = "comment-17805" class = "comment">
				<p>@BenceKaulics yes I have, link in the post</p>
			</div>
			<div id = "comment-17808" class = "comment">
				<p>@BendingUnit22 I'm very sorry I was in the process of updating my question when my internet connection was dropped, now that it is back, the question is updated. Apologies...</p>
			</div>
			</div>
				<textarea id = "speech-9978" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9978">
					<img id="start_img-9978" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9978">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9980"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9980" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are approaching the problem from wrong side. Current capability of a battery (25C) has nothing to do with that how much current will it actually source. It is the load (motors in that case) what defines the current, not the battery. You could use 10C, 25C, 50C battery, and the current flowing through the motors would be (approximately) the same, as long as it does not exceed the maximum current allowed for the battery (82 Amps in your case)</p>

<p>As a side note - I find it hard to believe, that there is no maximum current defined in the motor driver datasheet. It is the key information. Please post te link to the datasheet, or just a part number.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9980" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-9980">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9980">Load Comments</button></br>
			<div id = "commentsection-9980" class = 'collapse'>
			<div id = "comment-17809" class = "comment">
				<p>My motor driver can give output of max 20 amps, that's why I chose it to run those motors as they draw max 9.5 amps under load. Link to the datasheet added.</p>
			</div>
			<div id = "comment-17814" class = "comment">
				<p>Exactly this. @YaddyVirus, try thinking of Ohm's Law as $I=V/R$. Current is always the output, and depends on resistance and voltage. As long as you aren't over-volting the device or shorting the output it should be fine.</p>
			</div>
			<div id = "comment-17819" class = "comment">
				<p>Exactly, and since the motors will not draw more than 9.5 amps at any given time, the max current that flows in the motor driver is 9.5 amps which is much less than the 20 amp output limit, which means the battery is safe to use and will last quite a long time per charge. Thanks! @Chuck</p>
			</div>
			</div>
				<textarea id = "speech-9980" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9980">
					<img id="start_img-9980" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9980">Comment</button>
			<br><div id = "ans-9993"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9993" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If I might add to the previous answers: I noticed in the referenced datasheet that the 20A maximum current rating for this driver is limited to less than 10 seconds and the maximum current is further limited to 10A for less than 60 seconds. Maximum continuous current ( >60 sec.) is then given as 5A without heatsinks but with, I'm assuming, decent cooling airflow. I don't see any maximum current ratings with heatsinks but I would guess they would be somewhat better with sufficient cooling air.</p>

<p>Given that the maximum load draw of 9.5A is close to the maximum 10A/10 second rating and almost double the 5A continuous current rating and if in the application that these motors are used they draw that much current for any significant amount of time it could be possible that the controller would be overloaded.</p>

<p>So no, as previously pointed out, your battery will not damage your driver. But your motors, or more specifically your application, might burn up your driver, depending on actual use.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9993" data-toggle = "popover">
				<p>user name : wchundak</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-9993">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9993">Load Comments</button></br>
			<div id = "commentsection-9993" class = 'collapse'>
			<div id = "comment-17828" class = "comment">
				<p>Well I've been using the controller with those motors for quite a while now, and I didn't notice any problem. Yes, airflow is decent, its mounted on an open, flat surface, and that's probably why its stil fine</p>
			</div>
			<div id = "comment-17829" class = "comment">
				<p>Then you're probably OK. I'd keep an eye on the mosfet temps and if they're getting very hot to the touch it would probably help to extend their lifetime by glueing on some heatsinks.</p>
			</div>
			<div id = "comment-17830" class = "comment">
				<p>Sure I'll keep that in mind. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-9993" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9993">
					<img id="start_img-9993" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9993">Comment</button>
			<br><div id = "ans-9996"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9996" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Datasheet which you gave on the very first page the current rating of the motor is given that is <strong>20A</strong>.</p>

<p><a href="https://i.stack.imgur.com/jFN1W.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/jFN1W.png" alt="enter image description here"></a></p>

<p><strong>It does not mean that you can run 20A all the time</strong>
<a href="https://i.stack.imgur.com/lBf5A.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/lBf5A.png" alt="enter image description here"></a></p>

<p>Secondly There will be no problem of current unless there is high load on the motors. 
I like to tell somethings about battery.
What I am trying to say is that when you use a battery of 3300 mAh it means that if you can draw <strong>3300 mA current</strong> from that battery this battery will last for an <strong>hour</strong>. Similarly if you drawing <strong>1650 mA current</strong> it will last for <strong>2 hours</strong>.</p>

<p>Now about motors drivers, motor drivers may fail due to battery for two reasons</p>

<p>1- When you apply more voltage to motor driver than it mend to withhold.( Which in your case you are aware of and it is not a problem).</p>

<p>2- When you run a motor through driver and the load of the motor has exceeded and is drawing more current. For example <strong>when you try to stop a running motor</strong> manually then motor will try to draw <strong>more current</strong>. Now if it happens your motor driver will not blow instantaneously but it will take some time. That is mentioned in the second image. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9996" data-toggle = "popover">
				<p>user name : Abhijeet Kumar Srivastava</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9996">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9996" class = 'collapse'>
			</div>
				<textarea id = "speech-9996" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9996">
					<img id="start_img-9996" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9996">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>