<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I use ROS with a Roomba?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-693" class = "post">
			<h2>Question</h2>
			<div id="vote-693" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1199</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I use ROS with a Roomba?</h2>
<p>Is there anything different between a iRobot Roomba and the Create?  I want go start building my own turtlebot and playing with ROS but with the cost of all the parts I'm going to have to do it piece by piece.  It's pretty easy to find cheap used Roombas.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-693" data-toggle = "popover">
				<p>user name : JDD</p>
				<p> user reputation : 130</p>
				<p class = "tagcontent" id = "usertaginfo-693">{'control': 8, 'None': 0, 'roomba': 9, 'localization': 6, 'pid': 2, 'mobile-robot': 8, 'dynamics': 8, 'ros': 9, 'irobot-create': 9}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-693" class = 'collapse'>
			</div>
				<textarea id = "speech-693" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-693">
					<img id="start_img-693" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-693">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-694"  class = "post">
				<h2>Answer</h2>
			<div id="vote-694" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can you use a Roomba with ROS? <a href="http://www.ros.org/wiki/Robots/Roomba">Absolutely</a>.</p>

<p>Can you use a Roomba with the existing turtlebot code? Most likely but it may depend on model of the Roomba since older models have a slightly different API. Of course even if there are API differences that haven't been accounted for it should not be too difficult to adjust the code to handle them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-694" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-694">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-694">Load Comments</button></br>
			<div id = "commentsection-694" class = 'collapse'>
			<div id = "comment-882" class = "comment">
				<p>Thanks.  Do you think it would be recommended for a beginner to start with a Roomba?  Or is it going to complicate things too much.</p>
			</div>
			<div id = "comment-887" class = "comment">
				<p>A Roomba would be a fine choice IMHO. iRobot has always done a good job of making their equipment approachable to hobbyists so even if you use an older model it should not be terribly difficult.</p>
			</div>
			<div id = "comment-20509" class = "comment">
				<p>Here is a recent tutorial published by iRobot that will help! http://www.irobotweb.com/~/media/MainSite/PDFs/About/STEM/Create/Create2_PrimeSense.pdf</p>
			</div>
			</div>
				<textarea id = "speech-694" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-694">
					<img id="start_img-694" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-694">Comment</button>
			<br><div id = "ans-724"  class = "post">
				<h2>Answer</h2>
			<div id="vote-724" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, there is a difference between the Create and an off-the-shelf Roomba.  The Create doesn't have a vacuum motor or any of the cleaning brushes.  And there is an empty payload bay where all of the cleaning stuff used to be.  Additionally, the Create has an added microcontroller on it that you can push code onto.  </p>

<p>But both the create and the Roomba let you control the robot directly over a serial interface.  I think this API is the same between the Create and the 500 series Roomba.  I am not sure about the 600 or 700 series Roombas, but i kind of doubt it changed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-724" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-724">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-724">Load Comments</button></br>
			<div id = "commentsection-724" class = 'collapse'>
			<div id = "comment-921" class = "comment">
				<p>Do I need the added micro that the create has to use it with ROS?  I think all the ROS code for the turtle bot is kept on the onboard laptop and it just sends serial commands to the Roomba.  I got used 560 series and just need to get a serial cable for it now.</p>
			</div>
			<div id = "comment-5498" class = "comment">
				<p>No, you don't need the added micro in the "command module" to use the Create with ROS.  The ROS interface uses the serial interface to the Roomba itself.</p>
			</div>
			<div id = "comment-9972" class = "comment">
				<p>UPDATE: My above post talks about the old Create.  The new [Create 2](http://www.irobot.com/About-iRobot/STEM/Create-2.aspx) doesn't even come with a command module and is based on the Roomba 600.</p>
			</div>
			</div>
				<textarea id = "speech-724" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-724">
					<img id="start_img-724" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-724">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>