<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can high voltage power lines provide a super highway for drones?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11449" class = "post">
			<h2>Question</h2>
			<div id="vote-11449" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 130</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can high voltage power lines provide a super highway for drones?</h2>
<p>Is there a way to convert the EM field that surrounds high voltage power lines for direct usable electricity for drones to travel along without stopping?</p>

<p>Added: Yes could the EM field be used for a guide as well?</p>

<p><a href="https://electronics.stackexchange.com/questions/280558/can-high-voltage-power-lines-provide-a-super-highway-for-drones">https://electronics.stackexchange.com/questions/280558/can-high-voltage-power-lines-provide-a-super-highway-for-drones</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11449" data-toggle = "popover">
				<p>user name : Muze</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-11449">{'quadcopter': 2, 'None': 0, 'sensors': 2, 'power': 2, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11449" class = 'collapse'>
			</div>
				<textarea id = "speech-11449" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11449">
					<img id="start_img-11449" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11449">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11450"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11450" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sure, a drone can land on a powerline. That's a standard task like the "peg in hole problem" for robotarms. The aim is to maneuver a UAV near to a highvoltage line and eating all the energy. The earliest paper was written in 2009 and has a nice plotchart of the Electro-Magnetic Field on page 8 <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.719.650&amp;rep=rep1&amp;type=pdf" rel="nofollow noreferrer">Powerline perching with a fixed-wing UAV</a> for directing the UAV in 2D space.</p>

<p>A little bit more tricky is the question of how to program such a device, that it can lands autonomously. A behaviortree which is implemented as a Python thread would be a good starting point. Some routines for goalfinding, fallback handling and number of trials has to be implemented.</p>

<p>In pseudocode the landing procedure is:</p>

<pre><code>class BehaviortreePerching():
  def __init__(self):
    pass
  def BTstart(self):
    t = threading.Thread(target=self.taskmain)
    t.start()
  def taskmain(self):
    if self.landing()==success: self.harvesting()
    else self.retry()
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11450" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-11450">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11450" class = 'collapse'>
			</div>
				<textarea id = "speech-11450" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11450">
					<img id="start_img-11450" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11450">Comment</button>
			<br><div id = "ans-11451"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11451" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think yes it can but how? My options are here:</p>

<ol>
<li><p><strong>Static system</strong> for conventional systems</p>

<ul>
<li>It should stand or hang to line/pole/special place like birds. Please watch video for an example: <a href="https://www.youtube.com/watch?v=MvRTALJp8DM" rel="nofollow noreferrer">https://www.youtube.com/watch?v=MvRTALJp8DM</a></li>
</ul></li>
<li><p><strong>Dynamic system</strong></p>

<ul>
<li>Harmless/secure distance present day wireless charging methods: use low energy harvesting drone or an alternative design like blimp-drone and use wireless charging along the line.</li>
</ul></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11451" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-11451">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11451" class = 'collapse'>
			</div>
				<textarea id = "speech-11451" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11451">
					<img id="start_img-11451" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11451">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>