<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can we use this line sensor as a proximity sensor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4540" class = "post">
			<h2>Question</h2>
			<div id="vote-4540" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 163</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can we use this line sensor as a proximity sensor?</h2>
<p>I have <a href="http://www.allsensor.in/ProductDetails.aspx?CID=qcj0eWfX11k%3d&amp;Counter=0&amp;SEOType=BSuwhmB9Ll4%3d&amp;PID=OlyqUUQ3npg%3d&amp;CType=ZgDIC937E8s%3d" rel="nofollow">an RSL Line Sensor</a> which is designed to distinguish black and white lines. It detects white surface and gives me digital <em>1</em> as output, with <em>0</em> in case of black, but the surface needs to be close to it.</p>

<p>As it uses infra-red-sensors, I wanted to use this sensor as a proximity sensor, to tell me if there is a white surface <em>near</em> it. Is it possible to do this?</p>

<p>I think the only problem here is that we need to increase it's range of giving <em>1</em>. Currently, it gives <em>1</em> only when white surface is too close to the sensors. I want 1 even if the white surface is there at a bit more distance.</p>

<p>Also there is an adjustable screw there to adjust something, under which POT is written. I am working with an Arduino.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4540" data-toggle = "popover">
				<p>user name : nishantbhardwaj2002</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-4540">{'mobile-robot': 5, 'None': 0, 'sensors': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4540">Load Comments</button></br>
			<div id = "commentsection-4540" class = 'collapse'>
			<div id = "comment-7145" class = "comment">
				<p>Just out of interest, why do you particularly want to use this sensor as a proximity sensor? You can buy sensors which do what you want, like the [Sharp GP2Y0A21YK](https://www.sparkfun.com/products/242) (and its cheaper).</p>
			</div>
			<div id = "comment-7146" class = "comment">
				<p>i had a competetion and we were given this particular sensor. i was just wondering if i can use this sensor to detect walls at a distance. it's over now!!</p>
			</div>
			<div id = "comment-7168" class = "comment">
				<p>Does the sensor produce something other than 0 or 1 if the surface is not close enough?</p>
			</div>
			<div id = "comment-7343" class = "comment">
				<p>Anyway it's too late: you CAN'T use it in other way that line sensor (it just won't be reliable).</p>
			</div>
			<div id = "comment-7344" class = "comment">
				<p>This is not very good answer. "reliable" needs to be qualified.  I don't see any reason why a 0/1 sensor can't be used this way, assuming sensitivity can be increased as stated. A technical rebuttal or some insights would be a much better way to answer.</p>
			</div>
			</div>
				<textarea id = "speech-4540" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4540">
					<img id="start_img-4540" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4540">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4557"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4557" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The sensors which you using as got just an comparator with a variable resistor to adjust the threshold to differentiate black and white line... Sensors with filters can you configured to find the distance from an obstacle which can be used as a proximity sensors .. Anyways proximity sensors are IR based sensors (you can verify using phones camera)... </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4557" data-toggle = "popover">
				<p>user name : Harsha M</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-4557">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4557" class = 'collapse'>
			</div>
				<textarea id = "speech-4557" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4557">
					<img id="start_img-4557" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4557">Comment</button>
			<br><div id = "ans-6747"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6747" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This would not be a good idea. As you can see in the specs of your sensor, it has a maximum range of 50mm. It's going to give you lots of faulty outputs if you try to use it for larger distances. My suggestion is to use a line sensor as a line sensor.</p>

<p>Three types of sensors are widely used as proximity sensors:</p>

<ol>
<li><p><strong>IR sensors:</strong> Omits IR pulses and receives the reflection. The distance is calculated based on triangulation.</p>

<ul>
<li><p><em>Pros</em>:</p>

<ul>
<li>Very Affordable.</li>
</ul></li>
<li><p><em>Cons</em>:</p>

<ul>
<li>Not a good option for outdoors, because of high IR level in sunlight.</li>
<li>It has a noticeable lower range. For example, <a href="https://www.sparkfun.com/datasheets/Components/GP2Y0A21YK.pdf" rel="nofollow">GP2Y0D21YK</a> does not see obstacles closer than 10 cm.</li>
</ul></li>
</ul></li>
<li><p><strong>Sonar(ultrasonic) sensors:</strong> Sends sound pulses and receives the echo. The distance is calculated based on time of travel.</p>

<ul>
<li><p><em>Pros</em>:</p>

<ul>
<li>Affordable.</li>
<li>Can be used in outdoor environment.</li>
<li>More accurate than IR sensor with less noise.</li>
</ul></li>
<li><p><em>Cons</em>:</p>

<ul>
<li>Does not work very well with sound absorbing objects.</li>
<li>Might see ghost objects, because of receiving response after multiple reflections of the sound wave.</li>
</ul></li>
</ul></li>
<li><p><strong>LiDAR (laser range finder):</strong> Sends near IR, visible, or UV light pulses and measures the time of travel. The sensors come in one, two, and three dimensional.</p>

<ul>
<li><p><em>Pros</em>:</p>

<ul>
<li>Very Accurate.</li>
<li>Works with a wide range of surfaces, outdoor or indoor.</li>
</ul></li>
<li><p><em>Cons</em>:</p>

<ul>
<li>Not as affordable as the other two.</li>
</ul></li>
</ul></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6747" data-toggle = "popover">
				<p>user name : BarzinM</p>
				<p> user reputation : 316</p>
				<p class = "tagcontent" id = "usertaginfo-6747">{'None': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6747" class = 'collapse'>
			</div>
				<textarea id = "speech-6747" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6747">
					<img id="start_img-6747" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6747">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>