<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I use IMUs to improve the position~posture measurement of fingers in a "data glove"?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-390" class = "post">
			<h2>Question</h2>
			<div id="vote-390" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1341</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I use IMUs to improve the position~posture measurement of fingers in a "data glove"?</h2>
<p>I have been using the Cyberglove to control a humanoid robot hand, but found it disappointing as it doesn't measure the posture of the human hand very accurately.</p>

<p><img src="https://i.stack.imgur.com/T7TYQ.png" alt="Cyberglove"></p>

<p>I have been wondering about the possibility of using Inertial Measurement Units (<a href="http://en.wikipedia.org/wiki/Inertial_measurement_unit" rel="nofollow noreferrer">IMU</a>s) mounted on the fingers to track position and measure posture. But I'm not sure how feasible it is.</p>

<ul>
<li>Would an IMU return enough data to make tracking reliable in all circumstances?</li>
<li>Would it be possible to fool the system into incorrectly tracking the fingers?</li>
<li>Might it be possible to get away with using simple 3-axis accelerometers, or would it need 9-axis (accelerometer, gyro, and magnetometer)?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-390" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-390">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-390">Load Comments</button></br>
			<div id = "commentsection-390" class = 'collapse'>
			<div id = "comment-464" class = "comment">
				<p>Generally speaking, to help with site accessibility, it's good practice to define acronyms which might not be widely known. That way people can more easily learn something from your question, even though they can't help you with an answer.</p>
			</div>
			</div>
				<textarea id = "speech-390" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-390">
					<img id="start_img-390" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-390">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-393"  class = "post">
				<h2>Answer</h2>
			<div id="vote-393" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Simple 3-axis accelerometers will give you an estimate of pitch. However, this will be very noisy, especially when the hand is moving from one pose to another. This is because the direction of acceleration is directly used to estimate the direction of gravity. Thus, <strong>this option would only be useful if the hand is not moving</strong>.</p>

<p>Gyroscopes allow the direction of gravity to be stabilized. <strong>This allows the data to remain useful during movement.</strong> Drift/bias is not a problem, so long as you correct for this. This can be done by using a Kalman filter, with a model of gyroscopic drift. The drift is corrected by comparing the derivative of the long term estimate of the direction of gravity compared to the gyroscopic data. Some IMUs correct for drift automatically, for example, the <a href="http://www.vectornav.com/products/vn100-rug" rel="nofollow noreferrer">VN-100 from VectorNav</a>. </p>

<p>Magnetometers provides a global estimate of the remaining angular direction (yaw). This simply <strong>adds further useful data</strong>.</p>

<p>If you only place the IMUs on the fingertips, the data is insufficient to estimate pose. Remember that IMUs only measure <strong>attitude</strong> (also known as orientation) in space. Can you imagine cases where the fingertip may remain in the same orientation, yet the hand pose is different?</p>

<p><img src="https://i.stack.imgur.com/cUbSv.jpg" alt="Hand pose"></p>

<p>Observe that the index fingertip orientation does not change, however, the position (pose) has changed.</p>

<p>Therefore, you can see that IMU data on the fingertips is not enough to estimate pose. However, additional data can improve the estimate of hand pose, if you fuse the IMU data with your existing data using a Kalman filter.</p>

<p>It is theoretically <strong>possible</strong> for <strong>IMU data alone</strong> to be sufficient to estimate pose. However, this would require an IMU for each and every <strong>independently movable</strong> part of the hand. Since I cannot independently move the top two segments of each finger, we would only need 2 IMUs per finger (one on the fingertip, and one on the segment just after the knuckle, ie. segments 1 and 3 on the finger), plus 2 for the hand, and another for the end of the arm (to get the wrist motion). Therefore, you need a total of <strong>13 IMUs</strong> to get all the data required.</p>

<p>I do not know that much about the price of tiny IMUs, however, I would guess that it is not that cheap to get that many IMUs (I don't know your budget). Normally, a single IMU is used for a rigid body. IMUs vary in price (a list at <a href="http://damien.douxchamps.net/research/imu/" rel="nofollow noreferrer">http://damien.douxchamps.net/research/imu/</a>), but say, the VN-100 IMU might be able to give you 0.1 degree accuracy in optimal conditions. If you get a cheaper IMU, the accuracy may not be as good and/or they may lack an integrated Kalman Filter. Getting 13 VN-100 IMUs, costing thousands would probably break the bank (although the VN-100 at 20x20x2mm may not be appropriate if you want an IMU with a smaller form factor).</p>

<p>My suggestion is to consider other data sources which may be obtained more cheaply. For example:</p>

<ul>
<li><strong>camera-based systems</strong>, after image processing, you can get data about the position of different parts of the hand. Image processing can be aided by using some sort of reflective markers.</li>
<li>sensors embedded in the fabric of the glove

<ul>
<li>strain gauges</li>
<li>SMA wire</li>
<li>...</li>
</ul></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-393" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-393">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-393">Load Comments</button></br>
			<div id = "commentsection-393" class = 'collapse'>
			<div id = "comment-452" class = "comment">
				<p>Thanks ronalchn. You mentioned magnetometers. Wouldn't a 9-axis IMU (with magnetometer, like the [MPU-9150](http://www.invensense.com/mems/gyro/mpu9150.html) ) be able to detect the difference between the poses shown in your photos?</p>
			</div>
			<div id = "comment-453" class = "comment">
				<p>if you only put the IMU on the fingertip, then only the position has changed (no change in attitude), as mentioned later, you would need an IMU on the segment just after the knuckle. I edited to clarify.</p>
			</div>
			<div id = "comment-454" class = "comment">
				<p>@Rocketmagnet, when I say the data from 13 IMUs only is sufficient, I should clarify that they need to include the magnetometers.</p>
			</div>
			</div>
				<textarea id = "speech-393" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-393">
					<img id="start_img-393" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-393">Comment</button>
			<br><div id = "ans-395"  class = "post">
				<h2>Answer</h2>
			<div id="vote-395" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While <a href="https://robotics.stackexchange.com/a/393/127">ronalchn</a> already provided a pretty good answer, I would actually like to take the stance that it should be possible. It would essentially work the same as the <a href="http://www.xsens.com/en/general/mvn" rel="nofollow noreferrer">full-body tracking</a> devices that XSens is selling. In these applications you perform model fitting, based on the orientation data from your imu. I am not sure how many sensing nodes you would need, but e.g. you could use something like this integrated <a href="https://www.sparkfun.com/products/10937" rel="nofollow noreferrer">6DOF IMU</a> sensor. Using 13 sensors wouldn't be all that implausible anymore, even from a price point of view. I guess you could also do it with just accelerometers, and one full IMU on the wrist, but it would be quite involved. In the end it comes down to the accuracy that you require.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-395" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-395">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-395" class = 'collapse'>
			</div>
				<textarea id = "speech-395" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-395">
					<img id="start_img-395" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-395">Comment</button>
			<br><div id = "ans-432"  class = "post">
				<h2>Answer</h2>
			<div id="vote-432" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is yes, this can work.  The long answer is "Yes, but you need to do a lot of sensor fusion".  </p>

<p>The technology you're after was conceived about 5 years ago, the academic work is here:
<a href="https://people.csail.mit.edu/wojciech/MoCap/index.html" rel="nofollow noreferrer">https://people.csail.mit.edu/wojciech/MoCap/index.html</a>
<img src="https://people.csail.mit.edu/wojciech/MoCap/teaser.jpg" alt="Motion capture in the real world"></p>

<p>They combined the accelerometer data with ultrasonic ranges between the joints to improve the position estimation.  In this case, it was for full-body motion capture but doing it for just fingers should be a similar problem.</p>

<p>This project immediately became a company that began making motion capture devices (for 3D movies, video games, etc), but I can't remember the company name.  A google search led me to "animazoo", but I don't think that's what it was called before.  Maybe it's the same company with a new name.  In either case, those are the only relevant resources I know of but they seem to support your idea.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-432" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-432">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-432" class = 'collapse'>
			</div>
				<textarea id = "speech-432" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-432">
					<img id="start_img-432" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-432">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>