<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can ESC be programmed to run full throttle only on one side of a quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7607" class = "post">
			<h2>Question</h2>
			<div id="vote-7607" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 72</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can ESC be programmed to run full throttle only on one side of a quadcopter?</h2>
<p>Can ESC in quads be programmed in such a way that only one side has throttle and no throttle at all on the other? This would cause the quad to flip I suppose? </p>

<p>With that, is there a way we can program the controller to like trigger a switch when we want the quad to flip? Because I was thinking of doing a waterproof quad. So initially, it flies in the air normally with the 4 channel, and then I set it to float on water. After that, I was thinking of maybe triggering a switch on the controller so that this time it's just going to flip and nothing else. After it flips, I would trigger the switch back to normal operation. Is that possible?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7607" data-toggle = "popover">
				<p>user name : Fikri</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7607">{'quadcopter': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7607">Load Comments</button></br>
			<div id = "commentsection-7607" class = 'collapse'>
			<div id = "comment-11000" class = "comment">
				<p>Of course. Why not? What issues do you anticipate this would cause?</p>
			</div>
			</div>
				<textarea id = "speech-7607" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7607">
					<img id="start_img-7607" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7607">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7608"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7608" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, you can do this, but you don't need a switch to do so; just command the quad copter to <a href="https://www.youtube.com/watch?t=92&amp;v=VIkqqVr_u9U&amp;t=1m20s" rel="nofollow">fly inverted</a>. That video demos variable pitch rotors specifically, but <a href="http://hackaday.com/2013/11/26/quadcopters-go-inverted-by-reversing-their-motors/" rel="nofollow">those aren't required</a> for inverted flight. You can <a href="http://www.rcdronearena.com/2015/05/31/udi-u27-free-loop-quadcopter-launch-price/" rel="nofollow">buy off the shelf units</a> capable of flying upside down for relatively cheap and modify as you see fit. </p>

<p>Alternatively, if you're just looking to be able to fly in the air or float, you can just build the quad copter with the <a href="http://diydrones.com/forum/topics/can-quadcopter-motors-be-mounted-upside-down" rel="nofollow">motors pointing down to begin with</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7608" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7608">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7608" class = 'collapse'>
			</div>
				<textarea id = "speech-7608" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7608">
					<img id="start_img-7608" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7608">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>