<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can the rate of peristaltic pump's flow be accurate across changes in fluid viscosity?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1167" class = "post">
			<h2>Question</h2>
			<div id="vote-1167" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3964</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can the rate of peristaltic pump's flow be accurate across changes in fluid viscosity?</h2>
<p>I'm building an arduino controlled pump system to be able to move fluids around. I need this to be fairly accurate, but extreme precision isn't required. Since there will be a variety of liquids moved through the pump, I've determined a peristaltic pump the best fit. But I don't think I fully understand them, and had a few questions..</p>

<ol>
<li><p>Since I'll need to purge the system... Can a peristaltic pump push air? Let's assume you have a 2m of tubing, and you pump a bunch of water through it. Can you remove the tube from the water reservoir so it is open to the air, and effectively purge the system of any remaining water?</p></li>
<li><p>Since I want to fairly accurately measure flow, could I simply count milliseconds instead of using a flowmeter? ... Will a peristaltic pump ALWAYS pump at a constant rate, regardless of the viscosity of the fluid? That is, will maple syrup come out at the same rate as water?</p></li>
<li><p>Shopping question, ignore I suppose ... Anyone know where I may find a fast/high flow peristaltic pump? I'm looking to be able to pump, at a minimum, .5oz/sec</p></li>
<li><p>Would be determinant upon #3 ... What sort of relay would I want for toggling this on/off with an arduino?</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-1167" data-toggle = "popover">
				<p>user name : Kabir Sarin</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-1167">{'None': 0, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1167">Load Comments</button></br>
			<div id = "commentsection-1167" class = 'collapse'>
			<div id = "comment-2655" class = "comment">
				<p>You are more likely to get good answers if you keep to a single well defined question rather than create a question with many sub parts. As it stands this is rather difficult to answer, 4. very much depends on what pump you select, 3. is a [shopping question](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/) so not a good fit for any stack exchange site and 1. depends on the arrangement of your tubes (sumps etc). If you could edit your question to include details of what you are trying to achieve and ask how you might do that, it might be easier for us to help.</p>
			</div>
			<div id = "comment-2656" class = "comment">
				<p>I guess I wasn't really sure where to put this question. What I'm building is basically an arduino watering/pump system, but it will pump more than just water. That's why I want a peristaltic pump. I'd rather not deal with flow measurement, so that's why I asked 2.
I understand that 4 depends on the type of pump, that's why I asked 3 first.
If I knew the answers to 1 and 2, I guess I could figure out 3 and 4 myself, or at that point phrase a new question.
Can you elaborate on your comment to 1? Thanks</p>
			</div>
			<div id = "comment-20684" class = "comment">
				<p>2: it works by displacing a fluid (moving your stuff). Therefore, it's volume that's the issue. The only differences I can see are differences in the density of the fluid, since it has to move that stuff around, and also the orientation of your pump.</p>
			</div>
			</div>
				<textarea id = "speech-1167" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1167">
					<img id="start_img-1167" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1167">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1169"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1169" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The answers to "will it work" and "will viscosity affect flow rate" is really "it depends".  </p>

<p><a href="http://www.wmcpumps.com/series_810.htm" rel="nofollow">Peristaltic pumps that push air</a> exist.</p>

<p>All pumps work by using low pressure to pull in fluid and high pressure to push it out.  In this case, the low pressure is the suction created when the flexible tube tries to retain its shape after being pressed by the roller.  The high pressure is created by the roller moving forward, like you would do with a tube of toothpaste.</p>

<p>Here's where it gets interesting.</p>

<p>Completely flattening the tube is a foolproof way to pump, but it shortens the life of the tube.  So, a lot of pumps take advantage of the <strong>viscosity</strong> of the fluid (the slowing down of the fluid near the walls of the tube).  All the rollers really need to do is make it easier for the fluid to flow forward than backwards.</p>

<p>So, the pump is actually balancing the following factors:</p>

<ul>
<li>The ability of the tubing to regain its shape (springy-ness of the tube, affected by the fluid viscosity)</li>
<li>The pressure of the fluid at the pump exit</li>
<li>The resistance of the fluid to flowing backwards through the restricted tube (fluid viscosity, affected by the extent that the tube is constricted by the roller)</li>
</ul>

<p>You'll have to find out whether your pump is completely flattening the tube, or just relying on water's higher viscosity in order to increase the life of the tubing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1169" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1169">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1169">Load Comments</button></br>
			<div id = "commentsection-1169" class = 'collapse'>
			<div id = "comment-2659" class = "comment">
				<p>From your link "The 810 peristaltic pump can handle a wide variety of viscosities, from air to gases to heavy slurries, with a consistent positive displacement. Each revolution of the roller assembly delivers a precise amount of product." I assume that this means it is completely flattening the tube? Very interesting/informative post. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-1169" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1169">
					<img id="start_img-1169" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1169">Comment</button>
			<br><div id = "ans-1975"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1975" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I will try to answer 2 and 3.</p>

<h1>2</h1>

<p>I am pretty sure the cheap ones won't and I doubt expensive ones would.</p>

<p>In addition, The viscosity isn't the only thing you have to take into account when it comes to accuracy. Distance, height, wear of the tubes, wear of the motor, liquids that can potentially accumulate in the tube, etc, etc. </p>

<p>Having that said, I wouldn't design the solution expecting constant rate. I would rather provide an easy interface to calibrate the pumps to a particular situation. Also, I would recommend the user to check calibration in a regular basis (something like 6 months, by experience).</p>

<h1>3</h1>

<p>It doesn't really matter, you can use a simple relay, a solid state relay or a mosfet. 
A professional level custom circuit would use a mosfets, as it is silent, small and fits better in a PCB. 
Personally, I would rather use a relay board for DIY stuff, which is surprisingly cheaper and easier to find in single units these days. Also, it requires no soldering and doesn't require you to learn how to use the mosfet.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1975" data-toggle = "popover">
				<p>user name : Franklin Dattein</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1975">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1975" class = 'collapse'>
			</div>
				<textarea id = "speech-1975" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1975">
					<img id="start_img-1975" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1975">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>