<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Can I ask this question related to Steve Jobs in the main site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-743" class = "post">
			<h2>Question</h2>
			<div id="vote-743" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 145</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I ask this question related to Steve Jobs in the main site?</h2>
<p>Can I ask a question in the main site to users about their best quote or memories from <strong><em>Steve Jobs</em></strong>. This would be way off-topic from the approved list of topics in the site. </p>

<p>I wanted to double check since we are talking about <strong><em>Steve Jobs</em></strong> here :) </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-743" data-toggle = "popover">
				<p>user name : Sairam</p>
				<p> user reputation : 2126</p>
				<p class = "tagcontent" id = "usertaginfo-743">{'None': 1, 'discussion': 8, 'status-completed': 6, 'reputation': 1, 'status-bydesign': 1, 'flagging': 6, 'bug': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-743">Load Comments</button></br>
			<div id = "commentsection-743" class = 'collapse'>
			<div id = "comment-1368" class = "comment">
				<p>Are the down voters upset that this is being asked (or the form of the question) or just voting instead of answering no to the question? I thought the practice is to up vote a relevant question even if the answer to that question is no.</p>
			</div>
			</div>
				<textarea id = "speech-743" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-743">
					<img id="start_img-743" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-743">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-744"  class = "post">
				<h2>Answer</h2>
			<div id="vote-744" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Main Site:</h2>

<p>This question isn't really asking a question about Apple hardware and software, so it's inherently off-topic.</p>

<p>What's more, it would have to be a Community Wiki since there is no one 'right answer'.<br>
The current attitude about CW is generally against (see <a href="https://apple.meta.stackexchange.com/questions/697/how-to-kill-off-community-wiki-entries">How to kill off 'community wiki' entries</a> and <a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">The future of community wiki</a>).</p>

<p>Since this wouldn't be a particularly educational CW, nor relevant to the core of this site (questions about Apple hardware and software), I personally don't think it should be posted on the main site.</p>

<h2>Meta Site:</h2>

<p>Since this isn't, in any way, a question about the main site itself, it should not be posted on Meta.</p>

<h2>Other Option:</h2>

<p>I think that this would be  an interesting post. However, I don't believe that it would be a good fit for our Q&amp;A site.</p>

<p>If you're interested in getting the Ask Different community to discuss Steve Jobs, I think your best option is to <strong>create a chat room for it</strong>.<br>
Chat rooms have much looser scope than the rest of the site, and are especially designed for discussion.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-744" data-toggle = "popover">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p class = "tagcontent" id = "usertaginfo-744">{'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-744">Load Comments</button></br>
			<div id = "commentsection-744" class = 'collapse'>
			<div id = "comment-1464" class = "comment">
				<p>+1 for chat room suggestion.</p>
			</div>
			</div>
				<textarea id = "speech-744" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-744">
					<img id="start_img-744" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-744">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>