<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can GPS modules work inside plastic enclosures?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1687" class = "post">
			<h2>Question</h2>
			<div id="vote-1687" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1822</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can GPS modules work inside plastic enclosures?</h2>
<p>I'm going to be embarking on an autonomous robot project and I was going to be using GPS to navigate to waypoints (I'm aware of the margin of error when it comes to localization with GPD but I live in a lovely area with many open fields). </p>

<p>I was going to use Adafruit's Ultimate GPS Breakout board with my RaspberryPi, and I was wondering how I should protect or mount the GPS to protect it from the elements. Do all GPS units need to be face up and unobstructed (ex. wood or plastic) in order to work? If so, how can I still protect a GPS unit from the outdoors?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1687" data-toggle = "popover">
				<p>user name : Monte Carlo</p>
				<p> user reputation : 157</p>
				<p class = "tagcontent" id = "usertaginfo-1687">{'None': 0, 'coverage': 2, 'battery': 6, 'microcontroller': 2, 'protection': 2, 'motor': 6, 'gps': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1687">Load Comments</button></br>
			<div id = "commentsection-1687" class = 'collapse'>
			<div id = "comment-3588" class = "comment">
				<p>Welcome to robotics.SE. If you accept an answer as having solved your problem (using the tick mark), it's usually customary to up vote as well by clicking the up arrow next to the answer. You can up vote as many answers as you like (indicating they all helped you in some way) but only accept one. For more detail see [Why vote?](http://robotics.stackexchange.com/help/why-vote) in our [help].</p>
			</div>
			</div>
				<textarea id = "speech-1687" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1687">
					<img id="start_img-1687" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1687">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1688"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1688" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, it works fine in a plastic (or wood) case. I've used the PA6H GPS from Adafruit in a <a href="http://www.mouser.com/Search/ProductDetail.aspx?R=1553BRDBKvirtualkey54600000virtualkey546-1553BRDBK" rel="nofollow noreferrer">Hammond 1553B</a> plastic case with no issues.</p>

<p><img src="https://i.stack.imgur.com/j4Edm.jpg" alt="enter image description here"></p>

<p>Mostly what you want to avoid is any sort of conductor that might block a signal. This includes copper and iron.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1688" data-toggle = "popover">
				<p>user name : srlm</p>
				<p> user reputation : 361</p>
				<p class = "tagcontent" id = "usertaginfo-1688">{'None': 23}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1688">Load Comments</button></br>
			<div id = "commentsection-1688" class = 'collapse'>
			<div id = "comment-3544" class = "comment">
				<p>Some plastic cases have conductive skins to kill EMI.  If you're scrounging for surplus and you get a case that's silver-colored on the inside, test your GPS before you go and commit a bunch of effort into using that case.</p>
			</div>
			</div>
				<textarea id = "speech-1688" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1688">
					<img id="start_img-1688" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1688">Comment</button>
			<br><div id = "ans-1696"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1696" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a variety of GPS units available that use plastic cases to protect against the elements, and they are all plastic.  </p>

<p>For example, <a href="https://www.google.com/search?q=garmin+puck&amp;tbm=isch" rel="nofollow noreferrer">these Garmin units</a>.</p>

<p>It sounds like you're really asking about what enclosure materials will keep the weather out but let the signal in.  For this, you just need to make sure that you aren't using a conductive shield:</p>

<blockquote>
  <p><a href="https://electronics.stackexchange.com/a/2370">the conductor used as a shield has to be thicker than the "skin depth" of the metal at the frequencies you're trying to block out. [...] 1 micron is enough in practice.</a></p>
</blockquote>

<p>This <a href="https://en.wikipedia.org/wiki/Electromagnetic_shielding" rel="nofollow noreferrer">shielding</a> could be in the form of a metal, a paint, or even a fabric.  So, your enclosure can be anything that does not have a lining made with one of these materials.  Unpainted plastic is a good option.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1696" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1696">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1696" class = 'collapse'>
			</div>
				<textarea id = "speech-1696" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1696">
					<img id="start_img-1696" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1696">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>