<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can mapping be done in real life applications without also solving the localization problem at the same time (i.e. SLAM)?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5193" class = "post">
			<h2>Question</h2>
			<div id="vote-5193" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 137</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can mapping be done in real life applications without also solving the localization problem at the same time (i.e. SLAM)?</h2>
<p>I know that Occupancy Grid Mapping requires the assumption that the robots' pose is always known when generating a map.  However, I also know that in reality, position and orientation usually treated as uncertain in practical applications.  Assuming that my target mapping environment is inside a home, is there a way I can overcome inherent robot pose uncertainty in a real world application of Occupancy Grid Mapping without resorting to implementing a SLAM?  That is, what is a low-cost way to increase the certainty about my pose?  </p>

<p>Or is Occupancy Grid Mapping only useful in theory and not in practice?  </p>

<p><strong><em>Update</em></strong>:</p>

<p>It is clear to me, from the responses given, that occupancy grid mapping is just one possible way to represent a map, not a method in and of itself.  The heart of what I really want to know is:  <strong><em>Can mapping be done without also solving the localization problem at the same time (i.e. SLAM) in real life applications?</em></strong>   </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5193" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-5193">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5193">Load Comments</button></br>
			<div id = "commentsection-5193" class = 'collapse'>
			<div id = "comment-9350" class = "comment">
				<p>when you say " the robots' pose is always known", do you mean 100 percent?</p>
			</div>
			<div id = "comment-9351" class = "comment">
				<p>@CroCo: I assume that is what is meant when solving a pure Mapping problem (no localization involved).  But I guess that's part of my confusion:  How much uncertainty can we tolerate in order to reasonably solve a pure Mapping problem without having to localize at the same time in a real life application (i.e. not just in a simulation or theory)?</p>
			</div>
			</div>
				<textarea id = "speech-5193" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5193">
					<img id="start_img-5193" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5193">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6485"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6485" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I wonder if your question is stated in the right way. You can have a mapping problem, then your aim is to create the most likely map given the assumption that your poses are good. You can do it incrementally and then it is an incremental mapping. Occupancy grid is more a representation that you choose, a special kind of discrete map. You can update the values inside this data structure by using an incremental approach. However it seems that you also want to localise yourself. Then or you first do a map assuming the robot is odometry is good enough and then you use that static map for localisation, or you do some sort of refinement every now and then, or you do slam.
At least this is my opinion.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6485" data-toggle = "popover">
				<p>user name : Mallo</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-6485">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6485">Load Comments</button></br>
			<div id = "commentsection-6485" class = 'collapse'>
			<div id = "comment-9346" class = "comment">
				<p>The key point is this:  If a robot's pose is ALWAYS uncertain in real applications, how can one ***only*** solve the *mapping*  problem without also solving the *localization* problem at the same time?</p>
			</div>
			<div id = "comment-9348" class = "comment">
				<p>I would say that math is different from engineering. It is uncertain, true, but how much? Maybe driving in a room in your house make so little uncertainty, if you do a nice filtering of IMU and encoders, that doing mapping if enough. Then if you let the robot drive 10 hours a circle in your room, the odometry error will for sure build up and the robot crash on a precious Ming vase. Therefore a localisation algorithm using your previously created map might be employed</p>
			</div>
			</div>
				<textarea id = "speech-6485" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6485">
					<img id="start_img-6485" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6485">Comment</button>
			<br><div id = "ans-6702"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6702" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First off, occupancy grid mapping is just one possible representation of a map. I think your question really applies many map representations. Here are my thoughts.</p>

<p><strong>Mapping without SLAM</strong></p>

<p>Whether or not you can build a map from your sensor measurements without fully implementing SLAM depends on a couple things:</p>

<ul>
<li><p>Do you have <em>absolute</em> sensors for localization? For example, you could drive all day, and if GPS is always available, your localization error will not grow. Or if you are indoors, external camera systems (i.e., not on your robot and in known positions) can serve the same purpose. If you do have absolute sensors, the accuracy of your map can only be as accurate as the uncertainty of your absolute localization sensor compounded by the uncertainty of your mapping sensor.</p></li>
<li><p>If you only have relative localization sensors (e.g., wheel encoders, IMU, camera mounted on the robot), you will have dead-reckoning error. The error in your pose estimate will grow over time. Then you have to ask yourself: is it growing at a small enough rate that I can produce a good enough map before the pose is too uncertain? Note that this approach is almost never used (you would implement SLAM instead).</p></li>
</ul>

<p>In general, you need to answer these questions: What sensors do I have available? How accurate does my map need to be for its application? You asked about a low cost way to improve your pose estimate. Well the lowest cost of them all is to implement SLAM! In particular, if you "close the loop" (i.e., revisit earlier landmarks), you can drastically curtail the effects of dead-reckoning. But to answer your question with an actual sensor, take a look at setting up cheap stationary cameras that can triangulate the pose of the robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6702" data-toggle = "popover">
				<p>user name : kamek</p>
				<p> user reputation : 775</p>
				<p class = "tagcontent" id = "usertaginfo-6702">{'None': 48}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6702">Load Comments</button></br>
			<div id = "commentsection-6702" class = 'collapse'>
			<div id = "comment-9619" class = "comment">
				<p>This is exactly the kind of answer that I was looking for!  So, if one has an absolute position sensor (despite potential noise in the sensor readings), one can map without solving localization.  And if one only has relative position sensors, SLAM is necessary.  Am I understanding you correctly?</p>
			</div>
			<div id = "comment-9621" class = "comment">
				<p>Yes, but keeping in mind the limitations to both approaches that I mentioned. Note also that you can still do SLAM when you have absolute sensors and you'll get a better map. SLAM (and especially graph-based SLAM) finds the most likely solution given your noisy measurements.</p>
			</div>
			</div>
				<textarea id = "speech-6702" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6702">
					<img id="start_img-6702" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6702">Comment</button>
			<br><div id = "ans-10569"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10569" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As kamek said, you can do mapping without localization.</p>

<p>and it would be much easier if you have the locations and you just need to build a map.</p>

<p>note: dead reckoning alone is divergent even if you have very good models, however, its use in conjunction with other sensors is very helpful</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10569" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10569">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10569" class = 'collapse'>
			</div>
				<textarea id = "speech-10569" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10569">
					<img id="start_img-10569" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10569">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>