<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I control iRobot Create 2 with NI myRIO and LabVIEW codes?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9139" class = "post">
			<h2>Question</h2>
			<div id="vote-9139" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 116</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I control iRobot Create 2 with NI myRIO and LabVIEW codes?</h2>
<p>I need to know if the iRobot Create 2 can be controlled with a NI myRIO that has been programmed through LabVIEW. </p>

<p>The goal is to program an autonomous robot for real-time tracking using a Kinect sensor. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9139" data-toggle = "popover">
				<p>user name : Chanel Johnson</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-9139">{'mobile-robot': 3, 'None': 0, 'irobot-create': 3, 'labview': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9139" class = 'collapse'>
			</div>
				<textarea id = "speech-9139" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9139">
					<img id="start_img-9139" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9139">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9140"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9140" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately, there is no "single" answer to your question. There is no USB port on the NI myRIO, so just using the cable provided by iRobot as-is is not really an option. The good news is the iRobot Create (and Roombas in general) take all of their commands via the serial 7DIN interface that is mounted on-top of Roomba. The Create 2 should have some re-programmable capabilities, Roombas will not - you need to 'live push/pull' instructions/data to/from them using an attached device like an arduino, RasPi, Tegra TK1/TX1, etc. So if you can get the NI myRIO to generate the appropriate serial commands from LabView code - something that shouldn't be too difficult - then it should be possible to control the Create/Roomba and program the Create 2. As for exactly how to do this, I am unfamiliar with the NI myRIO. It is a relatively new system, and I am not sure it really offers any benefit over something like an Arduino, RasPi, or Tegra. I can only be sure that you will need to design your own interface, as it seems like the myRIO was designed to make use of 'bare' motors and sensors, not ones already sitting behind a micro-controller.</p>

<p>In this particular case, I would advise against the NI myRIO and suggest you use either the <a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16813190005&amp;cm_re=nvidia_tk1-_-13-190-005-_-Product" rel="nofollow">nVidia Tegra TK1</a> or <a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16813190006&amp;cm_re=nvidia_tx1-_-13-190-006-_-Product" rel="nofollow">nVidia Tegra TX1</a>. They are specifically designed to do live image processing on a mobile platform, and the drivers for using a kinect sensor has already been developed for the TK1/TX1. You can also use ROS for these boards, and that again will make your life much more simple. It still won't be a simple "put all the pieces together and press 'go" project, but you won't have to write all the code and drivers on your own. In robotics - unless the point is to do it 'new' - re-using existing code and drivers is in your best interest.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9140" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9140">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9140">Load Comments</button></br>
			<div id = "commentsection-9140" class = 'collapse'>
			<div id = "comment-15147" class = "comment">
				<p>Thank you for this. Unfortunately, using the myRIO is not optional, as it is a constraint of the project.</p>
			</div>
			<div id = "comment-15151" class = "comment">
				<p>In such a case, you can probably get the myRIO controlling the create, but I highly doubt you'll get it to do the image processing necessary to use the kinect sensor - unless I am misunderstanding the processing capabilities of the myRIO.</p>
			</div>
			<div id = "comment-16602" class = "comment">
				<p>FYI, the Create2 does not have any "re-programable capabilities".  Like the Roomba, all commands must be sent through the serial interface.</p>
			</div>
			</div>
				<textarea id = "speech-9140" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9140">
					<img id="start_img-9140" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9140">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>