<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I use QT to communicate with a Lego NXT robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4937" class = "post">
			<h2>Question</h2>
			<div id="vote-4937" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 195</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I use QT to communicate with a Lego NXT robot?</h2>
<p>QT has native bluetooth support, but can it be used to communicate with the Lego NXT robot?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4937" data-toggle = "popover">
				<p>user name : Klik</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-4937">{'nxt': 3, 'None': 0, 'motion': 0, 'troubleshooting': 1, 'motor': 0, 'path-planning': 3, 'mobile-robot': 3, 'motion-planning': 3, 'navigation': 3, 'robotc': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4937" class = 'collapse'>
			</div>
				<textarea id = "speech-4937" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4937">
					<img id="start_img-4937" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4937">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4938"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4938" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sure it can. The NXT provides a bluetooth serial port, so you don't actually have to do anything with bluetooth in Qt. All of the Bluetooth stuff will be handled by your OS.</p>

<p>Instead, to communicate to the NXT from Qt, you will need to open the serial port for reading and writing, then send commands to the NXT over this connection. You can find out more about the available commands using the <a href="http://www.lego.com/en-us/mindstorms/downloads/software/nxt-hdk/" rel="nofollow">NXT Hardware Developer Kit</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4938" data-toggle = "popover">
				<p>user name : David Lechner</p>
				<p> user reputation : 173</p>
				<p class = "tagcontent" id = "usertaginfo-4938">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4938">Load Comments</button></br>
			<div id = "commentsection-4938" class = 'collapse'>
			<div id = "comment-7670" class = "comment">
				<p>You mean I don't have to do anything special with Qt to get it to work? Have you had any trouble getting Qt to talk with NXT?</p>
			</div>
			<div id = "comment-7677" class = "comment">
				<p>I have never put the two together, but I have used the information in the NXT Hardware Developer Kit in other programing languages. I have also used Qt for other things, so I know that it has what is needed (i.e. a serial port class). You will have to implement the protocol your self though as I imagine it has not been done in Qt before.</p>
			</div>
			<div id = "comment-7678" class = "comment">
				<p>Might I ask which software you've used? I'm finding it very difficult to use the Qt bluetooth classes. The documentation doesn't provide very many examples and the ones that there are (all three of them) don't seem to work.</p>
			</div>
			<div id = "comment-7683" class = "comment">
				<p>I used C#.

The Qt [Bluetooth Chat](http://qt-project.org/doc/qt-5/qtbluetooth-btchat-example.html) example should get you started. The NXT is the server, so you just need to implement the client part. Of course, the NXT will only respond to messages formatted as specified in the NXT Hardware Developer kit that I linked.</p>
			</div>
			<div id = "comment-7684" class = "comment">
				<p>For some reason I cannot get the bluetooth Qt examples to work. I'm running Windows 7. Even in the bluetooth scanner example, my device is not being located.</p>
			</div>
			</div>
				<textarea id = "speech-4938" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4938">
					<img id="start_img-4938" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4938">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>