<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I use the RaspberryPi to receive the GameCube remote's RF signals?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1160" class = "post">
			<h2>Question</h2>
			<div id="vote-1160" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1124</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I use the RaspberryPi to receive the GameCube remote's RF signals?</h2>
<p>I have an old gamecube that doesn't work and I want to gut it and fill it with Arduino boards and/or Raspberry Pi if necessary.  I want the project to eventually have some kind of AI aspect, but I'm also toying with the idea of using a <a href="http://en.wikipedia.org/wiki/WaveBird_Wireless_Controller" rel="nofollow">wireless GameCube remote and wavebird</a> to issue commands at the push of a button.  </p>

<p>I guess this would be mostly good for testing purposes, but I'm mostly curious if and how I would go about making my RaspberryPi understand Gamecube remote input.  Furthermore, would this kind of idea be feasible?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1160" data-toggle = "popover">
				<p>user name : Daniel Ferguson</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-1160">{'control': 3, 'None': 0, 'raspberry-pi': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1160" class = 'collapse'>
			</div>
				<textarea id = "speech-1160" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1160">
					<img id="start_img-1160" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1160">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1161"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1161" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, it's definitely feasible. I realize this won't be a "complete" answer according to the rules here, but either way here's some links to point you in the (hopefully) right direction:</p>

<p><a href="http://www.raphnet.net/electronique/gc_n64_usb/index_en.php" rel="nofollow">Rather complete tutorial on making a GameCube controller to USB converter</a></p>

<p><a href="http://www.raphnet-tech.com/products/gc_n64_usb_adapters/index.php" rel="nofollow">The same adapter ready to go for $30CAD</a></p>

<p><a href="http://forum.allaboutcircuits.com/showthread.php?t=41524" rel="nofollow">Short forum discussion about GameCube serial interface</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1161" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-1161">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1161" class = 'collapse'>
			</div>
				<textarea id = "speech-1161" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1161">
					<img id="start_img-1161" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1161">Comment</button>
			<br><div id = "ans-1162"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1162" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you can convert the GameCube interface to be a USB game controller, this should go fairly smoothly.  I used to buy used USB Xbox and Playstation2 controllers to control our underwater vehicles, and use <a href="http://www.pygame.org/docs/ref/joystick.html" rel="nofollow noreferrer">Python's pygame library for joystick support</a> to read the input from it.  </p>

<p><a href="https://i.stack.imgur.com/AX8JM.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/AX8JMm.jpg" alt="joysticking in the ocean"></a>
<a href="https://i.stack.imgur.com/qZWuz.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/qZWuzm.jpg" alt="joysticking with live video"></a></p>

<p>Pygame makes it pretty easy.  For example, <a href="http://rosettacode.org/wiki/Joystick_position#Python" rel="nofollow noreferrer">this script to show joystick position</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1162" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1162">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1162" class = 'collapse'>
			</div>
				<textarea id = "speech-1162" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1162">
					<img id="start_img-1162" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1162">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>