<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I only use four images for camera calibration?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13961" class = "post">
			<h2>Question</h2>
			<div id="vote-13961" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 17</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I only use four images for camera calibration?</h2>
<p>I am using Zhenzhou zhang's method from OpenCV to perform camera calibration. As we know, at least three images of are required. In Zhang's paper Flexible Camera Calibration By Viewing a Plane From Unknown Orientations , the author discussed the performance with regard to the number of planes and the orientation of the model plane.</p>

<p>I have one question how can I obtain good enough performance with a few images(3 or 4). How should I capture the images to obtain as good performance as possible? In other word, I hope to choose the way of capturing a few images(3 or 4) to obtain as good performance as possible. Maybe change the orientation of the chessboard or the position of chessboard in the FOV.</p>

<p><a href="https://i.stack.imgur.com/91uXX.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/91uXX.png" alt="enter image description here"></a></p>

<p>I  think I can use 4 images and each covers about 1/4 of the entire FOV as the figure shows with different orientations. In principle, is this plausible? How can I improve the performance further? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13961" data-toggle = "popover">
				<p>user name : Jogging Song</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-13961">{'stereo-vision': 7, 'None': 0, 'computer-vision': 1, 'calibration': 7, 'cameras': 8, 'opencv': 1, 'matlab': 0, '3d-reconstruction': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13961" class = 'collapse'>
			</div>
				<textarea id = "speech-13961" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13961">
					<img id="start_img-13961" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13961">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>