<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can ultrasonic and button sensors be run in a VEX analog port?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-810" class = "post">
			<h2>Question</h2>
			<div id="vote-810" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 247</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can ultrasonic and button sensors be run in a VEX analog port?</h2>
<p>I'm running out of digital ports, and have no sensors that fit the definition 'analog'. Would it be possible to run a <a href="http://www.robotc.net/support/vex/WebHelpCortex/index.htm#page=functions_vex/sensors/VEX_2.0_Cortex_-_Sensors.htm">touch sensor, a quadrature encoder, or an ultrasonic sensor on an analog port?</a> </p>

<p>I'm thinking not, but I didn't run across anything that said otherwise.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-810" data-toggle = "popover">
				<p>user name : Mia</p>
				<p> user reputation : 155</p>
				<p class = "tagcontent" id = "usertaginfo-810">{'sensors': 5, 'None': 0, 'robotc': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-810" class = 'collapse'>
			</div>
				<textarea id = "speech-810" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-810">
					<img id="start_img-810" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-810">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-811"  class = "post">
				<h2>Answer</h2>
			<div id="vote-811" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The underlying microcontroller in the VEX Cortex is some sort of STM32F1 or STM32F2. I'm not sure which model exactly (just that it's a ST-made Cortex M3), but they all do have digital I/O capabilities on the pins used for analog inputs. Given the bare microcontroller, you could do so.</p>

<p>However, the VEX Cortex is not the bare microcontroller. According to the <a href="http://www.vexforum.com/wiki/index.php/VEX_Cortex_Microcontroller" rel="nofollow">documentation</a>, the controller board has been designed to add a much higher input impedance to the analog inputs which would likely interfere with digital operation:</p>

<blockquote>
  <p>Input Impedance: Analog - The 8 analog inputs each consist of a 470K pull-up to +5V, a series resistance of 10K and a 20K pull-down resistance to the uP.</p>
</blockquote>

<p>You can see the difference in the circuit connections on page 13 of the <a href="http://content.vexrobotics.com/docs/VEXnet_Cortex_UserGuide_081811.pdf" rel="nofollow">User's Guide (PDF)</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-811" data-toggle = "popover">
				<p>user name : Joe Baker</p>
				<p> user reputation : 477</p>
				<p class = "tagcontent" id = "usertaginfo-811">{'None': 33}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-811">Load Comments</button></br>
			<div id = "commentsection-811" class = 'collapse'>
			<div id = "comment-2082" class = "comment">
				<p>As an aside, if anyone knows what Cortex M3 they're using that they have 5V-tolerant analog inputs I would very much like to know.</p>
			</div>
			</div>
				<textarea id = "speech-811" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-811">
					<img id="start_img-811" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-811">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>