<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I use a PWM HHO Controller to control a brushless DC motor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6592" class = "post">
			<h2>Question</h2>
			<div id="vote-6592" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1298</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I use a PWM HHO Controller to control a brushless DC motor?</h2>
<p>I'm an electronics newbie.</p>

<p>The part I'm talking about is <a href="http://www.ebay.in/itm/221636836855?ssPageName=STRK:MEWNX:IT&amp;_trksid=p3984.m1439.l2649" rel="nofollow">this</a>:</p>

<pre><code>DC 10-50v 12V 24V 48V 3000W 60A amps DC Motor Speed Control PWM HHO Controller
</code></pre>

<p>My question is, can this type of part be used to control brushless DC motors?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6592" data-toggle = "popover">
				<p>user name : Parv Sharma</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6592">{'brushless-motor': 0, 'None': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6592">Load Comments</button></br>
			<div id = "commentsection-6592" class = 'collapse'>
			<div id = "comment-9510" class = "comment">
				<p>What does "HHO" stand for?</p>
			</div>
			</div>
				<textarea id = "speech-6592" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6592">
					<img id="start_img-6592" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6592">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6602"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6602" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Practically all brushless motors require 3 independent power connections, each one at the appropriate frequency and 3 different phases. Those 3 power cables are typically connected to a <a href="http://en.wikipedia.org/wiki/electronic_speed_control" rel="nofollow noreferrer">brushless ESC</a>.</p>

<p>Practically all DC motor speed controllers (including DC electronic speed controllers for brushed DC motors), including the one you link to, only have 2 output power connections. </p>

<p>The 2 outputs of a DC motor speed controller are not enough to drive the 3 inputs of a brushless motor</p>

<p><img src="https://i.stack.imgur.com/g4nUy.jpg" alt="image of brushless motor, showing the 3 thick cables coming out of the motor"></p>

<p>(photo from <a href="http://blog.mbuynow.com/rc-hobby-mysteries-what-is-brushless-motor/" rel="nofollow noreferrer">"RC Hobby Mysteries: What is Brushless Motor?"</a>)</p>

<p><img src="https://i.stack.imgur.com/bouZM.jpg" alt="enter image description here"></p>

<p>(diagram from <a href="https://www.eskyhelicopters.com/faq/brushless-motors.php" rel="nofollow noreferrer">"Esky Helicopters FAQ: Brushed vs Brushless Motors"</a>)</p>

<p>DC motor speed controllers -- with 2 output power connections -- work with brushed DC motors that have 2 power connections.</p>

<p>Brushless ESCs -- with 3 output power connections -- work with brushless motors that have 3 power connections.</p>

<p>As far as I can tell, any other connection between any two of a DC motor speed controller, a brushless ESC, a brushed DC motor, and a brushless motor, won't do anything useful.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6602" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-6602">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6602" class = 'collapse'>
			</div>
				<textarea id = "speech-6602" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6602">
					<img id="start_img-6602" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6602">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>