<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can we disable the  H "Heading" shortcut?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1358" class = "post">
			<h2>Question</h2>
			<div id="vote-1358" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 255</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can we disable the  H "Heading" shortcut?</h2>
<p>As the question/answer editor currently stands, <kbd> </kbd><kbd>H</kbd> inserts <code>## Heading ##</code>.</p>

<p>I often want to use the Hide shortcut while editing, so is there any way I could disable it? Otherwise, would people mind if we changed it for everyone?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1358" data-toggle = "popover">
				<p>user name : timothymh</p>
				<p> user reputation : 7731</p>
				<p class = "tagcontent" id = "usertaginfo-1358">{'None': 5, 'editing': 4, 'design': 1, 'discussion': 33, 'tags': 4, 'answers': 4, 'editor': 19, 'notifications': 0, 'formatting': 3, 'inbox': 0, 'comments': 4, 'chat': 1, 'status-bydesign': 3, 'rss': 0, 'bug': 3, 'feature-request': 20}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1358">Load Comments</button></br>
			<div id = "commentsection-1358" class = 'collapse'>
			<div id = "comment-2573" class = "comment">
				<p>Alternatively, could we change it to, say, shift-cmd-H?</p>
			</div>
			<div id = "comment-2574" class = "comment">
				<p>+1, yes please. Same with `cmd`+`l`; I would love to allow that to focus the URL bar and use `cmd`+`k` for links (which is standard anyway).</p>
			</div>
			<div id = "comment-2575" class = "comment">
				<p>Why do browsers let web pages trap browser keyboard commands? That seems like a security hole.</p>
			</div>
			<div id = "comment-2576" class = "comment">
				<p>Alternatively, you could just press **TAB**, ** +H**. That would get you out of the textarea, thus allowing for ** +H** to hide your browser. Also, why isn'tt `<kbd>` allowed in comments?</p>
			</div>
			<div id = "comment-2577" class = "comment">
				<p>This isn't specific to Ask Different and there's already several [requests like this](http://meta.stackexchange.com/questions/100349/on-mac-browsers-command-l-should-select-the-address-bar) on Meta Stack Overflow.</p>
			</div>
			<div id = "comment-2578" class = "comment">
				<p>It isn't specific to Ask Different, but it does affect users of *Apple* products differently than users of other computers, so it might find more of them here (then again, it might not)</p>
			</div>
			<div id = "comment-2579" class = "comment">
				<p>It certainly seems that browsers ought to give users control over who gets first dibs on each relevant key combo: sites, or the browser...</p>
			</div>
			<div id = "comment-2587" class = "comment">
				<p>PLEASE!!!!! I *hate* having to minimize Chrome in the middle of writing a post rather than hiding it. Alternatively, could we get a checkbox placed on the page when posting that says something like: "Turn keyboard shortcuts on" or something like that?</p>
			</div>
			<div id = "comment-2597" class = "comment">
				<p>Just realized I forgot to include another one that annoys me: `ctrl` + `k` adds an inline code block instead of cutting the rest of the current paragraph.</p>
			</div>
			<div id = "comment-5936" class = "comment">
				<p>Hello  this is still an annoyance years later. :(</p>
			</div>
			</div>
				<textarea id = "speech-1358" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1358">
					<img id="start_img-1358" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1358">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1696"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1696" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't have an answer or ETA on whether the developers here would ever make such a change site wide (or Ask Different wide if possible), but this might make a fabulous question on the main site to ask if it's possible to tweak Safari to ensure <kbd> </kbd>+<kbd>H</kbd> goes to Finder/Safari as opposed to Safari's window contents (in this case javascript code executing in the mini editor environment).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1696" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1696">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1696">Load Comments</button></br>
			<div id = "commentsection-1696" class = 'collapse'>
			<div id = "comment-3276" class = "comment">
				<p>Well if no one else will take up your suggestion, I will. :-) http://apple.stackexchange.com/questions/95331/can-i-ensure-keyboard-commands-dont-get-trapped-by-browser-scripts</p>
			</div>
			</div>
				<textarea id = "speech-1696" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1696">
					<img id="start_img-1696" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1696">Comment</button>
			<br><div id = "ans-1769"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1769" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think that this shortcut collision can't be dealed with at the last coming level alone (which is here the text editor window).</p>

<p>If a user can't know which application, or which application level is
listening to his keyboard, then this will lead to 2 kinds of problems:</p>

<ol>
<li>Error due to call of the wrong level of function.</li>
<li>Use of this hidden function from the user standpoint to trap him on executing another function within his web browser, his Finder or MacOS X.</li>
</ol>

<p>This knowledge of which application and which application subwindow is
obeying to the keyboard must be provided by the OS, i.e. MacOS X.
If an application want to remap the <kbd>cmd  </kbd>+<kbd>H</kbd> shortcut, then the system should display clearly this input control change.
For example, if an embedded editor, as is the case with the StackExchange one,
decide to change some shortcut (and hence the behaviour of my keyboard),
I'd like to see this event displayed clearly in the upper most corner of the menu
bar :</p>

<pre><code>Firefox   StackExchange editor
</code></pre>

<p>If sufficiently many others think that this security function might be an improvment to MacOS X, the correct line of action is to <a href="http://www.apple.com/feedback/macosx.html" rel="nofollow">feed Apple with a security improvment of UI</a>.</p>

<hr>

<p>In the mean time, and if this is possible at the StackExchange interface level, I'd suggest to highlight the border of the window which does have the
focus and changed the keyboard mapping.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1769" data-toggle = "popover">
				<p>user name : daniel Azuelos</p>
				<p> user reputation : 5814</p>
				<p class = "tagcontent" id = "usertaginfo-1769">{'status-reproduced': 4, 'None': 6, 'support': 4, 'formatting': 4, 'feature-request': 4, 'best-practices': 7, 'bug': 4, 'discussion': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1769" class = 'collapse'>
			</div>
				<textarea id = "speech-1769" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1769">
					<img id="start_img-1769" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1769">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>