<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can someone explaine to me this code?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8153" class = "post">
			<h2>Question</h2>
			<div id="vote-8153" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can someone explaine to me this code?</h2>
<pre><code>static void set_default_param(DPMTTICParam&amp; param)
{

    param.overlap = 0.4;
    param.threshold = -0.5;
    param.lambda = 10;
    param.num_cells = 8;
}
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-8153" data-toggle = "popover">
				<p>user name : assam alzookery</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8153">{'control': -1, 'None': 0, 'statistics': -1, 'localization': -1, 'cameras': -1, 'c++': -1, 'opencv': -1, 'sensors': -1, 'ros': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8153">Load Comments</button></br>
			<div id = "commentsection-8153" class = 'collapse'>
			<div id = "comment-12998" class = "comment">
				<p>I voted to close this question because it's unclear what you're asking. What is this code for? Where did you find it? What program is it being used in? As it stands, it looks like the best answer I can tell you is that it sets overlap, threshold, lambda, and number of cells in a parameter structure. Those values are hard coded though, and the function doesn't return a value, so again, without some *context*, I don't think anyone is going to be able to tell you what the code is used for.</p>
			</div>
			<div id = "comment-12999" class = "comment">
				<p>What is this code for?  This code for object detection.........................Where did you find it? i found it here https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/detection/packages/cv_tracker/nodes/dpm_ttic/dpm_ttic.cpp</p>
			</div>
			<div id = "comment-13001" class = "comment">
				<p>What is this code for? This code For object Detection ..........Where did you find it? i found it here [link](https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/detection/packages/cv_tracker/nodes/dpm_ttic/dpm_ttic.cpp)</p>
			</div>
			<div id = "comment-13020" class = "comment">
				<p>This should be migrated to Stack Overflow.</p>
			</div>
			</div>
				<textarea id = "speech-8153" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8153">
					<img id="start_img-8153" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8153">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8154"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8154" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It seems to belong to this software:
<a href="https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/detection/lib/image/dpm_ttic/include/dpm_ttic/dpm_ttic.hpp" rel="nofollow">https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/detection/lib/image/dpm_ttic/include/dpm_ttic/dpm_ttic.hpp</a></p>

<p>So - I assume that is just a case where someone is using that software, and it is showing how to set some default parameters.</p>

<p>I would suggest you ask the developers of that software directly though, if you want to use it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8154" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-8154">{'None': 59}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8154">Load Comments</button></br>
			<div id = "commentsection-8154" class = 'collapse'>
			<div id = "comment-13002" class = "comment">
				<p>I have already contacted the developers for more explanation, but i didn't get  any answer, so I'm trying to understand this code. In addition, ,this code for the object detection for the autonomous vehicle. Can you please give me any explanation if you could understand any of the code ? Click here for Link https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/detection/packages/cv_tracker/nodes/dpm_ttic/dpm_ttic.cpp</p>
			</div>
			<div id = "comment-13005" class = "comment">
				<p>I'll never know for sure, but if you're going to use that software you would use a piece of code like that to set default values for the sensitivity of the camera, and things like that. You would have to read through all the code on their page to **really** understand what these mean though... Not recommended if you're a beginner at this sort of programming, for example.</p>
			</div>
			<div id = "comment-13006" class = "comment">
				<p>I'm a student at the University of Michigan, And I just would like to get some help from someone like you, if you could explain few line of code for me that will be very helpful.THANK YOU</p>
			</div>
			</div>
				<textarea id = "speech-8154" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8154">
					<img id="start_img-8154" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8154">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>