<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I make a simple Bluetooth receiver?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-650" class = "post">
			<h2>Question</h2>
			<div id="vote-650" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4501</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I make a simple Bluetooth receiver?</h2>
<p>I can control a relay from an Android smartphone using Arduino and Bluetooth as seen <a href="http://bellcode.wordpress.com/2012/01/02/android-and-arduino-bluetooth-communication/" rel="nofollow">here</a>.</p>

<p>However, it seems too costly to be using Arduino and a Bluetooth receiver for driving a switch. As long as Bluetooth is a radio frequency, is it possible to make a <strong>simple</strong> Bluetooth receiver which can output 1 or 0 to drive a relay? If yes, how tough that is going to be?</p>

<p>The main factor here is the <strong>cost</strong>, which should be \$1-$5. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-650" data-toggle = "popover">
				<p>user name : eagleye</p>
				<p> user reputation : 91</p>
				<p class = "tagcontent" id = "usertaginfo-650">{'None': 0, 'sensors': -6, 'circuit': -6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-650">Load Comments</button></br>
			<div id = "commentsection-650" class = 'collapse'>
			<div id = "comment-801" class = "comment">
				<p>This is not a good question for the robotics SE. The reason being 1) it's not really specific to robotics, rather it's about using bluetooth. 2) it's not well posed, and doesn't show a lot of research. "Since bluetooth is a radio frequency" doesn't make a lot of sense. Bluetooth is a communications protocol (like TCP), which is made to be transmitted over specific radio frequencies. Is your question about the BT protocol, driving a relay, or an arduino solution?</p>
			</div>
			<div id = "comment-803" class = "comment">
				<p>Your question seems focused on bluetooth specifically, but it sounds like you're really asking for a cheap way to wirelessly control a relay.  Is that accurate?</p>
			</div>
			<div id = "comment-805" class = "comment">
				<p>Yes that's right I didn't do much research, I was just checking the possibilities and feasibility. Yes I am asking for a cheap way to wirelessly control a relay via bluetooth.</p>
			</div>
			</div>
				<textarea id = "speech-650" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-650">
					<img id="start_img-650" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-650">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-652"  class = "post">
				<h2>Answer</h2>
			<div id="vote-652" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The question is a bit vague, but I would say that you at least need to spend ~$16 in a Bluetooth receiver. I have experience with roving networks modules, such as the <a href="http://www.rovingnetworks.com/products/RN_42" rel="nofollow">RN42</a>, which are easy to set up as wireless serial ports (you can talk to them via <a href="http://pyserial.sourceforge.net/" rel="nofollow">pyserial</a> or the like).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-652" data-toggle = "popover">
				<p>user name : fgb</p>
				<p> user reputation : 374</p>
				<p class = "tagcontent" id = "usertaginfo-652">{'None': 22}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-652">Load Comments</button></br>
			<div id = "commentsection-652" class = 'collapse'>
			<div id = "comment-806" class = "comment">
				<p>I saw this RN42 but I am not going to do extensive work using bluetooth like large amount of data transfer etc. Suppose I need to control 10 switches in different locations, for that if I need to use 10 RN42 devices that isn't feasible. I need to do it using a less costly bluetooth receiver (custom made?)</p>
			</div>
			<div id = "comment-807" class = "comment">
				<p>I don't think that this is a realistic scenario. For a chip to be certified Bluetooth, it has to support the whole communications stack, which is what drives the complexity and the cost up. Assuming you do find an inexpensive Bluetooth chip to do your biding, you'll then realize that these have fairly large power consumption and you'll have to start thinking about custom boards with 802.15.4/ZigBee modules.</p>
			</div>
			</div>
				<textarea id = "speech-652" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-652">
					<img id="start_img-652" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-652">Comment</button>
			<br><div id = "ans-657"  class = "post">
				<h2>Answer</h2>
			<div id="vote-657" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm in agreement with <a href="https://robotics.stackexchange.com/a/652/37">@movrev</a> but wanted to expand beyond the scope of a comment.  RN-42 is slick.  I'm coding for it now, and I think it is an excellent BT choice.</p>

<p>Low cost and multiple receivers (switches) appear to be mutually exclusive.  You might consider the RN-42 as a BT receiver to preserve smartphone interface.  Then, you might consider an 802.15 (Zigbee) mesh-like solution to distribute a switch command from the RN-42 "master" receiver to the "slave" switches.  The Microchip MRF24J40 is a reasonable 802.15 solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-657" data-toggle = "popover">
				<p>user name : Throwback1986</p>
				<p> user reputation : 281</p>
				<p class = "tagcontent" id = "usertaginfo-657">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-657" class = 'collapse'>
			</div>
				<textarea id = "speech-657" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-657">
					<img id="start_img-657" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-657">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>