<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can a Moderator Designate a Question as Answered?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1787" class = "post">
			<h2>Question</h2>
			<div id="vote-1787" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 72</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can a Moderator Designate a Question as Answered?</h2>
<p>There are dozens of questions on here that have viable answers, yet the asker never bothers to go back and assign an answer to the question. Many of them are quite obvious. Yet, as far as I can tell, there is no mechanism to assign an answer unless the assigner is the one who asked the original question. Is there a way to have a moderator or other designee answer a question that has an obvious answer, where the originator simply has not bothered to assign an answer?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1787" data-toggle = "popover">
				<p>user name : Dave</p>
				<p> user reputation : 6351</p>
				<p class = "tagcontent" id = "usertaginfo-1787">{'unanswered-questions': 5, 'None': 0, 'feature-request': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1787">Load Comments</button></br>
			<div id = "commentsection-1787" class = 'collapse'>
			<div id = "comment-3368" class = "comment">
				<p>This is really a site-wide feature request, not an Ask Different one, so it belongs on meta.stackoverflow.com, except it's been proposed and resolutely decided against several times.</p>
			</div>
			<div id = "comment-3369" class = "comment">
				<p>My mistake. I only participate on Ask Different, so this was the logical place for me to put it. Thanks for letting me know.</p>
			</div>
			<div id = "comment-3370" class = "comment">
				<p>It's totally fine to ask site wide feature requests here. Developers do look on all meta for bugs and features. However, when a feature request gains traction on the main meta site - it's far more likely to get implemented.</p>
			</div>
			<div id = "comment-3371" class = "comment">
				<p>I'd actually like to see this feature myself; I just wanted you to know that this battle has been fought, and decisively lost, several times before.</p>
			</div>
			<div id = "comment-3372" class = "comment">
				<p>I've seen the arguments against it (that it is too arbitrary; that people would get angry when their answer wasn't the accepted one), but personally, a group of moderators should plausibly be able to decide whether or not an answer should be accepted. As I've combed over this site for the last few weeks, I have found numerous questions that are in this condition. Also, as a participant, it wastes my time when I go to answer a question that has an answer, but it simply wasn't accepted by the OP. Anyway, that's just my rant for the day.</p>
			</div>
			<div id = "comment-3373" class = "comment">
				<p>OK, if you know what you're getting into, we'll re-open this and see if it goes anywhere.</p>
			</div>
			<div id = "comment-3376" class = "comment">
				<p>Dave - do post links to questions where you found an answer and went to answer it and let's see if there is consensus or something we can do in the current framework.</p>
			</div>
			<div id = "comment-3377" class = "comment">
				<p>See http://meta.stackexchange.com/questions/18312/moderators-accepting-answers-on-users-behalf-after-a-certain-time-period and http://meta.stackexchange.com/questions/100763/forcing-acceptance et al</p>
			</div>
			<div id = "comment-3378" class = "comment">
				<p>One issue is that moderation is not meant to deal with the knowledge os the question/answer this definitely applies to SO but here we might have more coverage of detailed knowledge</p>
			</div>
			<div id = "comment-3379" class = "comment">
				<p>And raised again http://meta.stackexchange.com/questions/194561/could-high-ranking-users-mark-answers-for-other-questions</p>
			</div>
			<div id = "comment-3423" class = "comment">
				<p>Hi @DanielLawson, Just a quick administrative note   There's no need to redirect feature requests like this. We no longer try to divide support between "Ask Differnt questions" and "network-wide questions." This is the AskDifferent support site, and we don't expect users to understand (nor care) about the nuance of what meta SO is versus this site. On a rare, rare occasion a particularly intriguing question might truly benefit from the larger exposure of the network community, but routine stuff like this should just live wherever they are asked. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-1787" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1787">
					<img id="start_img-1787" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1787">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1788"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1788" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Right now - no one but the asker (and presumably the site developers / DBA) can exercise the "checkbox" to mark an answer as accepted.</p>

<p>From a community moderation standpoint, the voting feature is intended designate the best answer and in cases where the OP does not tick the answered flag on any answers - that is the most prominently displayed answer.</p>

<p>Of course, someone can choose to sort by activity or newness in the answer section of a question and get different sorting, but the site already makes a voted answer the most visible answer by default.</p>

<p>Secondly, the site is community moderated. Everyone that can vote and edit is "moderating" indirectly and let's look at the role of the "elected moderators" from the help pages:</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/site-moderators">https://apple.stackexchange.com/help/site-moderators</a></li>
</ul>

<p>The main item I see elected moderators is to step in when the normal tools are too slow to act or there are things that are highly damaging to the site. I haven't seen a place where a good answer missing the "accepted" mark is actively harmful or not something normal voting can't handle. In fact, wouldn't the moderators stepping in to tick the "answer" mark make it less desirable for the people that care enough about their question to accept an answer to do so in the future?</p>

<p>I could be wrong so if you want to add some examples of questions where you feel the site would be better if an answer were accepted, let's post them and discuss them to see if in fact, moderator input might help the site.</p>

<p>Another mechanism where users can feature an answer is by awarding a bounty - so that is what I use when my one vote doesn't seem good enough to recognize an answer that somehow didn't get the asker's acceptance as "the correct" answer to the question posed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1788" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1788">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1788" class = 'collapse'>
			</div>
				<textarea id = "speech-1788" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1788">
					<img id="start_img-1788" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1788">Comment</button>
			<br><div id = "ans-1818"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1818" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Please make sure to read prior discussion of this, especially <a href="https://meta.stackexchange.com/a/18318/160917">https://meta.stackexchange.com/a/18318/160917</a>.  Our moderators are impressively knowledgeable, but I don't think it would make sense to have them select which answers should be accepted.  One of the principles of this site is that the wisdom of the community is, in aggregate, far greater than the wisdom of any one person (even one of our esteemed moderators).  Therefore, it makes more sense to reserve moderators for process issues -- not to substitute their judgement on substantive issues for that of the community.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1818" data-toggle = "popover">
				<p>user name : D.W.</p>
				<p> user reputation : 2144</p>
				<p class = "tagcontent" id = "usertaginfo-1818">{'None': 18}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1818">Load Comments</button></br>
			<div id = "commentsection-1818" class = 'collapse'>
			<div id = "comment-3473" class = "comment">
				<p>Well, some of our moderators are pretty close to [all-knowing, omniscient experts on everything related to Apple](http://apple.stackexchange.com/users/5472/bmike).</p>
			</div>
			<div id = "comment-3474" class = "comment">
				<p>OK, @DanielLawson, fair enough!</p>
			</div>
			<div id = "comment-3475" class = "comment">
				<p>And I certainly don't mean me!</p>
			</div>
			</div>
				<textarea id = "speech-1818" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1818">
					<img id="start_img-1818" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1818">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>