<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Can one ask Hackintosh questions on Ask Different?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2" class = "post">
			<h2>Question</h2>
			<div id="vote-2" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">43</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1365</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can one ask Hackintosh questions on Ask Different?</h2>
<p>Hackintosh or OSx86 is Mac OS X running on non-Apple hardware. But since the software is still by Apple (most of it), is one allowed to ask questions pertaining to a Hackintosh here?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2" data-toggle = "popover">
				<p>user name : Jungle Hunter</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-2">{'osx': 43, 'None': 0, 'support': 1, 'poo-storm': 43, 'moderators': 6, 'reputation': 1, 'voting': 6, 'discussion': 49}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2">Load Comments</button></br>
			<div id = "commentsection-2" class = 'collapse'>
			<div id = "comment-39" class = "comment">
				<p>shouldn't this be like a community wiki or something?  How does one person get to ask and accept an answer that could affect the entire userbase?</p>
			</div>
			<div id = "comment-63" class = "comment">
				<p>@calavera: We take our cues from parent sites. Also they can "accept" any answer they want, it doesn't change the fact that the answer comes (almost directly) from precedent set on SU.</p>
			</div>
			<div id = "comment-69" class = "comment">
				<p>First of all, SuperUser is not the "parent" site of this site.  Second, you're right, they can "accept" any answer they want, but it doesn't change the fact that a precedent set on SU doesn't necessarily apply to this site.</p>
			</div>
			<div id = "comment-1184" class = "comment">
				<p>Can we change the title of this question to use the expression *Ask Different* instead of *Apple (beta)*? Whilst there's an accepted answer, it's not [status-completed](http://meta.apple.stackexchange.com/tags/status-completed/info) and the question **is** a very useful point of reference in questions such as [What's the advantage of buying an iMac over building a Hackintosh?](http://apple.stackexchange.com/q/8392/8546). Thanks. Side note: would [status-completed] ever apply to a question such as this?</p>
			</div>
			<div id = "comment-1187" class = "comment">
				<p>@Graham Perrin: Done.</p>
			</div>
			<div id = "comment-6024" class = "comment">
				<p>How does the pro-Hackintosh consensus on this question relate to the [Help page](http://apple.stackexchange.com/help/on-topic) saying  Installing or using Apple operating systems on non-Apple hardware (and most other explicitly unlicensed use of product)  was off-topic?</p>
			</div>
			</div>
				<textarea id = "speech-2" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2">
					<img id="start_img-2" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't believe questions that put the answers or askers into a legal quandary are acceptable. </p>

<p>This is an <em>Apple</em> Q / A site. If it's not Apple it is off topic. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3" data-toggle = "popover">
				<p>user name : Josh K</p>
				<p> user reputation : 1615</p>
				<p class = "tagcontent" id = "usertaginfo-3">{'None': 45, 'tags': 19, 'site-scope': 7, 'discussion': 46, 'status-bydesign': 1, 'bug': 1, 'beta-essentials': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3">Load Comments</button></br>
			<div id = "commentsection-3" class = 'collapse'>
			<div id = "comment-4" class = "comment">
				<p>[Pystar](http://en.wikipedia.org/wiki/Psystar) sells Hackintoshes. And it plans to appeal a recent judgement. I'm not sure if it is legally illegal. But whatever the community says. =)</p>
			</div>
			<div id = "comment-6" class = "comment">
				<p>i don't think that there is any consensus one way or another on whether installing osx non-apple hardware is actually illegal.</p>
			</div>
			<div id = "comment-11" class = "comment">
				<p>@Ashish: Just because they are appealing doesn't mean what they are doing is legal.</p>
			</div>
			<div id = "comment-27" class = "comment">
				<p>@Josh K: there have not been any legal cases that i am aware of involving home users installing os x on non-apple hardware.  There is no legal precedent to my knowledge that makes this illegal.  Selling non-apple hardware containing apple software for profit is a whole different beast from personal and fair use application.</p>
			</div>
			<div id = "comment-30" class = "comment">
				<p>@calavera: It's against the EULA. That means it's not legal. Simply because Apple isn't chasing people down for doing it (like, uh, RIAA) doesn't make it any more supportable or legal.</p>
			</div>
			<div id = "comment-34" class = "comment">
				<p>@Josh K: an EULA is not law, and  uses that go against the EULA are not illegal.  In fact, a company or individual can put ANYTHING they want into an EULA.  They could say that by using the software you are giving them the right to take your first born son into slavery, but it doesn't give it any more legality than if they walked up to you on the street and told you the same.  What makes an EULA enforceable is law and or legal precedent.</p>
			</div>
			<div id = "comment-62" class = "comment">
				<p>@calavera: Yeah, and Pystar lost. ;)</p>
			</div>
			<div id = "comment-68" class = "comment">
				<p>@Josh: Did you read what I wrote?  Once again... I'm not talking about for-profit undertakings, I'm talking about fair use.  Unless you were implying you work for the RIAA and already have an opinion on the subject.</p>
			</div>
			<div id = "comment-72" class = "comment">
				<p>@calavera: I'm simply pointing out that there *is* legal precedent for this. Also, I don't understand how where I work (not for the RIAA) would matter *in the slightest* about my opinions on fair use, or where you could even conceive the notion I would imply that they did.</p>
			</div>
			<div id = "comment-73" class = "comment">
				<p>@Josh: Yet your legal precedent has nothing to do with fair use.  You brought the RIAA into this context. The RIAA lawsuits don't even slightly resemble what we're talking about here. The RIAA goes after PIRATES. If you can show me one case where the RIAA went after somebody for moving their music from one media to another for their own personal use without distributing it, then you may have a point. Second, it appears that you're still talking about Psystar, which is a for-profit enterprise that was selling hardware running software which they were not licensed to sell in that manner.</p>
			</div>
			<div id = "comment-74" class = "comment">
				<p>Take these two cases for example. Case 1: person buys used lawnmower engine. Person puts said engine in a go kart and drives it around the block on weekends.  Case 2: person buys 1000 lawnmower engines. Person refits the engines into a whole different set of lawnmowers, then sells said lawnmowers to consumers without the permission of the original lawnmower manufacturer.  Are you starting to see the difference yet?</p>
			</div>
			<div id = "comment-78" class = "comment">
				<p>@calavera: Yes, they are not longer driving Brand X lawnmowers.</p>
			</div>
			<div id = "comment-80" class = "comment">
				<p>I'm glad you now see the light.  BRAND Y FTW :P</p>
			</div>
			<div id = "comment-81" class = "comment">
				<p>@calavera: Lol. Well this is a Brand X SE site. ;)</p>
			</div>
			<div id = "comment-84" class = "comment">
				<p>I'm not even really sure what we're talking about anymore :)</p>
			</div>
			<div id = "comment-1181" class = "comment">
				<p>Thank God X someone finally admitted it ;) oh, and no matter how many times I look up meanings of *FTW* I'm never sure what it means, in context  </p>
			</div>
			<div id = "comment-2515" class = "comment">
				<p>I'd love someone to flesh out this "no" answer with some more logic on how we might implement this. What laws should govern? Who will know what is unlawful? If you are going to prose that people moderate on the basis of legality - we will need some serious thinking to consider how this might happen (assuming there is community interest in this point of view of course).</p>
			</div>
			<div id = "comment-4615" class = "comment">
				<p>The site is about Apple hardware and software. If the hardware isn't Apple, the software certainly is.</p>
			</div>
			<div id = "comment-4619" class = "comment">
				<p>From the first comment - Pystar lost so badly I don't even think it's worth considering as an argument any more.</p>
			</div>
			<div id = "comment-4620" class = "comment">
				<p>This is such an old answer I'm not sure it can be improved given current dynamics. I think a good line to draw would be what _is_ supported and encouraged in terms of content and questions and leave everything else as a subjective case-by-case basis.</p>
			</div>
			<div id = "comment-6228" class = "comment">
				<p>The second question could be applicable to installing 3rd party video cards in a Mac Pro.</p>
			</div>
			</div>
				<textarea id = "speech-3" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3">
					<img id="start_img-3" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3">Comment</button>
			<br><div id = "ans-10"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Hackintosh questions are a legal grey area and because of that they are not allowed on Super User anymore. For the same reason I believe they should not be allowed on Apple.SE either.</p>

<hr>

<p>EDIT: This really needs to be hashed out more as to what kind of Hackintosh questions should be allowed and not (These are my opinions and are subject to change):</p>

<ul>
<li><p>If you're running an Hackintosh and you have a question about OS X it shouldn't matter. Figuring out how to get a piece of hardware to work - I don't know as it has a lot of merits but at the same time the chance of a lot of unanswered too localized questions is high - I say let them be for now.</p></li>
<li><p>Howto questions aren't acceptable and I've found the majority <strong>far</strong> too localized to be useful. Apple.SE should not be the place for them.</p></li>
<li>What about running Mac OS X on unsupported <strong>Apple</strong>-branded computers (eg. Apple TV or older models)? I think this is fine - the internet ends up being the unsupported's support but it's not a far jump to any hardware and normal Hackintoshes.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10" data-toggle = "popover">
				<p>user name : Chealion</p>
				<p> user reputation : 6376</p>
				<p class = "tagcontent" id = "usertaginfo-10">{'None': 56, 'tags': 6, 'discussion': 28, 'chat': 4, 'beta-essentials': 10, 'site-promotion': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10">Load Comments</button></br>
			<div id = "commentsection-10" class = 'collapse'>
			<div id = "comment-9" class = "comment">
				<p>I wasn't aware Super User had gotten rid of them. In that case there isn't point in discussing something someone has already discussed. =)</p>
			</div>
			<div id = "comment-12" class = "comment">
				<p>@Ashish: I wasn't aware until I found out on chat.meta today. Turns out it's been that way for 3 or 4 months.</p>
			</div>
			<div id = "comment-25" class = "comment">
				<p>@Chealion can you provide a link to this?</p>
			</div>
			<div id = "comment-28" class = "comment">
				<p>@calavera: See Diago's comment on http://superuser.com/questions/110963/a-little-macos-10-6-hackintosh-help-closed</p>
			</div>
			<div id = "comment-31" class = "comment">
				<p>@Chealion: thanks, I checked it out.  One thing I noticed, however, is that there a many questions on the "related" section to the right that have not been closed or moderated, and ones that were closed or moderated were for reasons other than "legal grey area".  As far as I know, this is a "we the people" kind of site, as long as the site owners do not object.</p>
			</div>
			<div id = "comment-35" class = "comment">
				<p>@calavera: A lot of them are older and the moderation on it is not very consistent if only because SU doesn't really have any moderators that use the osx tag until Diago came back.</p>
			</div>
			<div id = "comment-76" class = "comment">
				<p>@Calvera Also be aware that policy changes aren't retroactively applied. If the policy changes today, questions will only be addressed when they become visible. Sometimes the time required to go back and apply the policy is way to complex and hard.</p>
			</div>
			<div id = "comment-77" class = "comment">
				<p>@Diago: I'm glad you joined the discussion :)  So where does this policy come from, and is it applicable to this site?</p>
			</div>
			<div id = "comment-99" class = "comment">
				<p>@calvera It was more a warning and a protection of the site rather then a policy. Among other things the validity of the site needs to be protected, and the last thing needed is Apple taking on SE because of a violation of some agreement no one knows about. Hackintoshes fall in a grey area, so the though was to stay out of it.</p>
			</div>
			<div id = "comment-131" class = "comment">
				<p>@Chealion What makes Hackintoshs illegal?</p>
			</div>
			<div id = "comment-132" class = "comment">
				<p>@Brian Bolton: Depending on where you live - breaking an EULA may be classified as illegal. Regardless you're breaking the license agreement between you and Apple. Whether that's legally enforceable or not adds the moral issue as well - I consider it like asking how to make a hackintosh questions like asking questions on where to download music, movies, etc. because the downloading of those products is a legal grey area and one most more reputable areas just plain avoid. This just isn't the place for that question. It may very well play out the community wants these too localized questions.</p>
			</div>
			<div id = "comment-133" class = "comment">
				<p>I think bringing the download issue into it again clouds the issue.  Downloading music, movies, retail software, etc, is NOT a legal grey area.  It's obviously illegal, people have been prosecuted for it.</p>
			</div>
			<div id = "comment-134" class = "comment">
				<p>@calavera: Some geographical areas it is a legal grey area (eg. Canada when it comes to downloading music and only music). Other areas (eg. the US) it's quite definitive. It's not meant to equate one with the other. In the end I see them both (howtos for Hackintoshes and pirating) as examples of questions that just aren't suited for Apple.SE.</p>
			</div>
			<div id = "comment-138" class = "comment">
				<p>@Chealion in response to your latest edit: I think we're pretty much in agreement.  I don't want a bunch of questions like "Howz do I makez a hakintosh lol"...  I think the points you make here are pretty similar to what I was trying to say in my answer.</p>
			</div>
			<div id = "comment-205" class = "comment">
				<p>How is a Hackintosh  different from an unlocked iPhone or iPod? As long as questions and answers are generally applicable to most video cards/mobos/etc. they should be fine.  As for legality, we'll all be in real trouble when EULA's are regarded as actually enforceable by law. Those things are ridiculously verbose, mostly unenforceable, and you're better off not reading them unless you're trying to sell something like hacked Apple software.</p>
			</div>
			<div id = "comment-3126" class = "comment">
				<p>@Chealion Do you think their should be a dedicated SE site for the Hackintosh Community instead ?</p>
			</div>
			<div id = "comment-6263" class = "comment">
				<p>LOL, yeah, I'm pretty sure Hackintosh questions are not allowed on [Apple.SE](http://apple.se/) :)</p>
			</div>
			</div>
				<textarea id = "speech-10" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10">
					<img id="start_img-10" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10">Comment</button>
			<br><div id = "ans-11"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Like Josh K said, answering questions on topics that are not supported by Apple id not a good thing and, moreover, they are illegal.</p>

<p>For these two points, I don't thing we should answer them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11" data-toggle = "popover">
				<p>user name : Studer</p>
				<p> user reputation : 6218</p>
				<p class = "tagcontent" id = "usertaginfo-11">{'wiki': 4, 'None': 2, 'tags': 17, 'discussion': 22, 'guideline': 1, 'questions': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11">Load Comments</button></br>
			<div id = "commentsection-11" class = 'collapse'>
			<div id = "comment-10" class = "comment">
				<p>If your answer essentially contains an opinion held in another answer, commend and upvote.</p>
			</div>
			<div id = "comment-14" class = "comment">
				<p>@Josh K: I agree. Oh, wait, I should up-vote your comment instead. :P
Now I did.</p>
			</div>
			<div id = "comment-29" class = "comment">
				<p>so does this mean we should ban all hacking related questions?  how about software that is not endorsed by apple?  is that within scope?  (not being sarcastic, I'm really trying to get to the bottom of this debate)</p>
			</div>
			<div id = "comment-65" class = "comment">
				<p>@calavera: None apple endorsed applications? What are you talking about? This is a general question about running OS X on non-apple hardware, not apple endorsed applications or anything like that. Hacking questions? Define a "hacking question" and we'll let you know.</p>
			</div>
			<div id = "comment-67" class = "comment">
				<p>read Studer's answer again and then you might understand my response.  I'm responding to Studer's answer, not the OP's question.</p>
			</div>
			</div>
				<textarea id = "speech-11" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11">
					<img id="start_img-11" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11">Comment</button>
			<br><div id = "ans-23"  class = "post">
				<h2>Answer</h2>
			<div id="vote-23" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">45</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think that unless there is specifically a law or a legal precedent against installing OS  X on non-Apple hardware for personal use, there is no reason whatsoever to keep these questions off the site.  </p>

<p>However, if the question relates to the hardware more specifically than the software, I think it starts falling out of scope.  Take these two questions for example:</p>

<ul>
<li><p>Q: When installing Snow Leopard on a PC, should I use the GUID partitioning scheme or MBR?</p></li>
<li><p>Q: What kext or injector should I use to get my NVIDIA xxxx card working in Snow Leopard on my Dell computer?</p></li>
</ul>

<p>The first question is generally related to running Snow Leopard, and has little to do with non-Apple software or hardware.  The second question is really asking "How do I get x piece of hardware that is explicitly unsupported by Apple to work on my PC running OS X?"  While I don't agree that the second question is asking how to do something illegal, I just think it's outside the scope of the site.</p>

<p>I think making a blanket ban of OSX86 related questions is pretty over the top unless someone can provide some proof that these types of questions are either:</p>

<ul>
<li>Completely disallowed on Stack Exchange by the owners</li>
<li>Related to acts that are either explicitly illegal or have been shown to be illegal by court precedent</li>
</ul>

<p>If either of the above can be shown, then I would totally agree with a blanket ban...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-23" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-23">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-23">Load Comments</button></br>
			<div id = "commentsection-23" class = 'collapse'>
			<div id = "comment-32" class = "comment">
				<p>Stack Exchange is owned by the community FWIW.</p>
			</div>
			<div id = "comment-37" class = "comment">
				<p>@Chealion: then it's really up to us then isn't it?  I strongly disagree with casting a blanket ban.  The scope should just be limited IMHO.</p>
			</div>
			<div id = "comment-38" class = "comment">
				<p>FWIW, pc users who decide to attempt installation of OS X on their machines can only lead to positive growth in the Apple community.  These users are smart and motivated, and they are learning a great deal about the internals of OS X by undertaking such an effort.  I don't see how turning away these users could be a benefit to the site or the community at large.</p>
			</div>
			<div id = "comment-41" class = "comment">
				<p>@calavera: Personally I agree with not allowing Hackintosh questions. The majority of the Hackintosh questions are how do I install Mac OS X on my [insert manufacturer and model number or virtualization product of choice]? They're neither helpful or are the users looking to learn about Mac OS X. I don't think we'll see a blanket ban in reality. Just anything explicitly asking how to make a Hackintosh and such should not be allowed.</p>
			</div>
			<div id = "comment-75" class = "comment">
				<p>This is a good point and is much more relevant than discussing the legality of something that no one has ever been brought to court for.  The influx of dumb questions would be obnoxious.  However, I want to make sure that a well stated question that is relevant to the community should not be summarily dismissed simply because it happens that the poster is running OS X on hardware that Apple didn't intend it to run on.</p>
			</div>
			<div id = "comment-92" class = "comment">
				<p>@calavera For what it's worth I agree with your last comment entirely.</p>
			</div>
			<div id = "comment-93" class = "comment">
				<p>@chealion: SE isn't owned by the community, its owned by a commercial entitity and ultimately they will intervene with the communities decisions if something doesn't fit into their direction.</p>
			</div>
			<div id = "comment-94" class = "comment">
				<p>@gfr: Clarification: The data and most often the direction (on the sites themselves) is owned by the community. The community is what "makes" (content wise) the sites.</p>
			</div>
			<div id = "comment-150" class = "comment">
				<p>I second calavera. Questions should be judged on their individual merit, not by the fact if they suit Apple Inc (legal problems notwithstanding). Very specialized questions about computer models to hackintosh are not insightful the same way as the 100th question about everyones preferred iPhone app. But a lot can learned when you try to do things outside the way Apple wants you to tread.</p>
			</div>
			<div id = "comment-155" class = "comment">
				<p>ZOMG THANK YOU.  I was beginning to think I was the only one here who didn't assume that whatever Apple says should be taken with a kind of holy admiration :)</p>
			</div>
			<div id = "comment-768" class = "comment">
				<p>A bit late to the draw here, but absolutely agree with you calavera - a good question is a good question, regardless of hardware or anything else. Thanks for fighting the good fight!</p>
			</div>
			<div id = "comment-873" class = "comment">
				<p>I support calavera, but I would like to see an official position from the SE owners regarding this. If they have guts they should state this clear. So far all I see it that calavera answer has 10+ points but the approved answer has only ~1.</p>
			</div>
			<div id = "comment-1484" class = "comment">
				<p>@daviesgeek: read my response to your answer.</p>
			</div>
			<div id = "comment-2518" class = "comment">
				<p>`I think that unless there is specifically a law or a legal precedent against installing OS X on non-Apple hardware for personal use` -  Except that there *is* specifically a law against installing OS X on non-Apple hardware, thanks to the non-circumvention clauses found in the DMCA and it's various international equivalents. Whether that's sufficient reason to not deal with Hackintosh questions, I'll stay out of, but 'it's not illegal' is not a good starting point.</p>
			</div>
			<div id = "comment-3098" class = "comment">
				<p>@LessPop_MoreFizz Actually that only applies to builds that modify protected parts of the OS; if one does a vanilla install it should be legal. *from what I've read on pro-hackintosh sites granted</p>
			</div>
			</div>
				<textarea id = "speech-23" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-23">
					<img id="start_img-23" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-23">Comment</button>
			<br><div id = "ans-521"  class = "post">
				<h2>Answer</h2>
			<div id="vote-521" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">17</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't see how technically worded questions about how low level OS processes work is necessarily a bad thing. Running Mac OS X on non mac hardware seems to be equally against Apple's published licensing terms as is jailbreaking an iOS device. The legality of an action gets sorted out when a judge weighs all of the conflicting laws. The law starts to "solidify" when judges publish precedent and intentionally state that some rulings are to be considered broad rather than an isolated finding in some narrow case <em>Moe vs. Larry</em> </p>

<p>Many questions here will fall in gray areas where there is no precedent but simply a bunch conflicting laws and hundreds of years of case history that may or may not apply to a shrink wrapped, non-negotiated, un-signed EULA between parties of radically unequal bargaining power. Add in the worldwide nature of this site and trying to set a bar based on one (or even a plurality of) jurisdiction(s) seems to make it extremely hard to say which if any set of laws should govern our attempts to control information. </p>

<p>Discussing darwin open source OS and how Mac OS X differs isn't guaranteed to be legal in all places or situations, but exercising prior restraint of discussion on how things work seems quite draconian for a site that intends to be a collection of knowledge. </p>

<p>I'm not going to pretend that everyone asking these questions is a university researcher, but would we turn the same away if they wanted to discuss things here that are in fact legal and/or ethical in the eyes of professionals?</p>

<p>The plus side of not blanket banning these is:</p>

<ol>
<li>Assume that people with intelligent, answerable questions will do just that</li>
<li>Reinforces the trust given to <a href="http://blog.stackoverflow.com/2009/05/a-theory-of-moderation/">our human exception handlers</a> to handle bad questions in this area just like they do with all other bad questions.</li>
</ol>

<p>If our moderators are letting us know </p>

<ul>
<li>The vast majority of these questions are worthless</li>
<li>They can't keep up with proper work due to the load of culling these bad questions</li>
</ul>

<p>I think it's too soon to tell if a ban discussion is worth having. We don't know yet what good might be thrown out with the bad.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-521" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-521">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-521">Load Comments</button></br>
			<div id = "commentsection-521" class = 'collapse'>
			<div id = "comment-1182" class = "comment">
				<p>Nice post, nice 2009 blog post. Now, as then: amongst the presets for flagging, the word *legal* does not appear. Without sailing elsewhere for answers/comments (I don't plan to travel so far), I guess that the absence of the word does not signal carelessness. To me: its absence simply means that any Stack Exchange site in public beta, or beyond, includes **moderators who have skills** appropriate for dealing with **each post on its merit**. Moreover, the Stack Exchange approach to collaborative edition etc. should make **very** rare any need for moderation that is *complex* or *contentious*.</p>
			</div>
			<div id = "comment-2516" class = "comment">
				<p>I'm not particularly interested in whether a particular practice is legal in any particular jurisdiction (as long as the *discussion* thereof doesn't get this site shut down). That which is off-topic is off-topic because we chose to make it off-topic. I want the community to arbitrate what question they want to answer; what a particular jurisdiction permits the residents thereof to do is utterly irrelevant.</p>
			</div>
			</div>
				<textarea id = "speech-521" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-521">
					<img id="start_img-521" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-521">Comment</button>
			<br><div id = "ans-2791"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2791" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If anyone is interested, I've proposed a Hackintosh SE site.</p>

<p> <a href="http://area51.stackexchange.com/proposals/98549/hackintosh">Hackintosh Exchange</a> (name pending)</p>

<p>Please come, vote, and contribute to the discussion</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2791" data-toggle = "popover">
				<p>user name : tutuDajuju</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-2791">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2791" class = 'collapse'>
			</div>
				<textarea id = "speech-2791" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2791">
					<img id="start_img-2791" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2791">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>