<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I control more than 18 servo motor with a Raspberry Pi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7475" class = "post">
			<h2>Question</h2>
			<div id="vote-7475" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2082</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I control more than 18 servo motor with a Raspberry Pi</h2>
<p>I'm trying to make an hexapod with 18 servo motors and i'm asking how to control them with a Raspberry Pi. (Never used it). I saw lot's of stuff to control 1, but 18, 20...</p>

<p>Currently I'm working on an <a href="http://www.arduino.cc/en/Main/arduinoBoardMega" rel="nofollow">Arduino Mega</a>, and a <a href="http://www.lynxmotion.com/p-395-ssc-32-servo-controller.aspx" rel="nofollow">SSC-32</a> board, but I found the result to slow and jerky.</p>

<p>At this end, I want to add a camera and processing the image, I know an Arduino can't handle that process but a Raspberry Pi can ?</p>

<p>Thank for all information about that subject :) </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7475" data-toggle = "popover">
				<p>user name : Arthur</p>
				<p> user reputation : 85</p>
				<p class = "tagcontent" id = "usertaginfo-7475">{'servomotor': 3, 'None': 0, 'cameras': 3, 'raspberry-pi': 3, 'arduino': 4, 'artificial-intelligence': 2, 'wireless': 1, 'programming-languages': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7475" class = 'collapse'>
			</div>
				<textarea id = "speech-7475" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7475">
					<img id="start_img-7475" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7475">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7476"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7476" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Raspberry Pi has only one hardware PWM channel and Linux distribution it runs is not a <a href="http://en.wikipedia.org/wiki/Real-time_operating_system" rel="nofollow">real time system</a>, so software PWM may be very unstable. You are not guaranteed, that your program will be executed at exact frequency you want, so you will have trouble getting precise timing required to drive servos. </p>

<p>If you already have Arduino Mega and SSC-32, I would suggest to make all the computations on the RPi, and just send the results to the servo controller via serial. I imagine your system like this: you have a central controller (RPi) that processes images from camera, detects obstacles, calculates positions for robot's legs and sends them to servo controller. These tasks can be done in various intervals - even if you have 100ms delay, nothing bad happens, because real-time part (requiring exact timing like driving servos) is handled by servo controller, which has hardware features that make it much more suitable for such a task.</p>

<p>Alternatively, to make system more compact, you could use dedicated <a href="https://www.adafruit.com/products/2327" rel="nofollow">RPi servo shield</a>, or make your own basing on chips like <a href="http://www.nxp.com/documents/data_sheet/PCA9685.pdf" rel="nofollow">PCA9685</a>, which is PWM driver controlled via I2C. You can chain these chips to control more channels than 16.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7476" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-7476">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7476">Load Comments</button></br>
			<div id = "commentsection-7476" class = 'collapse'>
			<div id = "comment-10696" class = "comment">
				<p>Thank you for this reply, but i'm a newby and i don't understand all what you say. You say Raspberry Pi are slow and unstable and you talk about my Arduino Mega, but you give me some stuff for the RaspberryPi. What is the best choice ? RaspberryPi or Arduino ?</p>
			</div>
			<div id = "comment-10699" class = "comment">
				<p>@Arthur I made edits, that I hope will help you understand. To sum up: Raspberry is fast in complex computational tasks, but not very reliable when directly driving hardware pins at exact frequencies. For that, Arduino, or other dedicated servo controllers are better choice. You can make Raspberry talk to these controller via serial or I2C and send them commands, how to drive the servos.</p>
			</div>
			<div id = "comment-10712" class = "comment">
				<p>Okay now I understand why you talking about RaspberryPi are slow. But I don't understand, you say the best composition will be a RaspberryPi on main controller, send legs informations to servo controller (The Arduino Mega + SCC-32 ? Or the Adafruit PCA9685 ?). If i'm right, and you talk about the Adafruit, I'll be able to specify each servo position from the RPi (with maybe 100ms lag) and the servo controller will manage correctly servo until receive a new order from RPi ? I get it ?</p>
			</div>
			<div id = "comment-10716" class = "comment">
				<p>I also saw I can connect directly the SSC-32 board to the RPi, this is a good solution ? 
I also thinking about a LED chase, or some other thing external to the servo control, the RPi can handle that ? Or the delays will be a problem and it's preferable to do it with Arduino ?</p>
			</div>
			<div id = "comment-10730" class = "comment">
				<p>@Arthur You can use SSC-32 or Arduino or Adafruit module. I think that the easiest for controlling only servos would be SSC, the most universal and expandable would be Arduino, while chaining PCA9685 would allow you to drive the most servos at once. LED chase will probably work on RPi, just give it a try.</p>
			</div>
			</div>
				<textarea id = "speech-7476" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7476">
					<img id="start_img-7476" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7476">Comment</button>
			<br><div id = "ans-7479"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7479" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need a controller like this that can address them individually over I2C.  These can be chained together to control more than you'll likely ever need:</p>

<p>Adafruit 16-Channel 12-bit PWM/Servo Driver - I2C interface - PCA9685
<a href="https://www.adafruit.com/products/815" rel="nofollow">https://www.adafruit.com/products/815</a></p>

<p>How to use them with a Raspberry Pi:
<a href="https://learn.adafruit.com/adafruit-16-channel-servo-driver-with-raspberry-pi" rel="nofollow">https://learn.adafruit.com/adafruit-16-channel-servo-driver-with-raspberry-pi</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7479" data-toggle = "popover">
				<p>user name : TomSchober</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-7479">{'actuator': 4, 'None': 6, 'raspberry-pi': 0, 'arduino': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7479">Load Comments</button></br>
			<div id = "commentsection-7479" class = 'collapse'>
			<div id = "comment-10697" class = "comment">
				<p>Thank you TomSchober, I already saw this Adafruit composent but didn't give attention cause I was thinking it's working only with 16 Channel (not 18+). But you say I can chain it to use 32, or even 48 servomotors ? 
It seems to be a shield on the RaspberryPi, how can I put 2 on it ? And for the servomotor control, can I send a different order for each one in the same time ?</p>
			</div>
			<div id = "comment-10698" class = "comment">
				<p>Also check out pololu's maestro line. They have servo controllers that can handle 6, 12, 18 or 24 servos at a time. You would communicate between maestro and rpi via serial or i2c. It is easy to chain multiple controllers on a single i2c bus.</p>
			</div>
			<div id = "comment-10700" class = "comment">
				<p>@Arthur - the Adafruit board linked uses a [communication protocol called I2C](http://en.wikipedia.org/wiki/I C) to send the signals from your controller to the PWM driver. I2C uses addresses to select which device is being spoken to. The board linked has 6 bits that you can use to set an address, so you could theoretically have 2^6 = 64 PWM drivers connected to one controller, with each driver running 16 servos, so you could run (16x64)= 1,024 servos. Theoretically.</p>
			</div>
			<div id = "comment-10711" class = "comment">
				<p>@Octopus Thank you for the maestro 24 channels, very usefull. Chuck, very nice, i'll be able to create an army with only one Raspberry Pi ! I'm a programmer and I have just the base on electronic. So i'll try to use the I2C protocol to communicate with servo, it's will be fun !</p>
			</div>
			</div>
				<textarea id = "speech-7479" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7479">
					<img id="start_img-7479" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7479">Comment</button>
			<br><div id = "ans-14098"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14098" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can you please share how to access nth device channels?  </p>

<p>For me, the First device channel values are duplicated on second PCA9685 device.</p>

<p>(Sorry I couldn't add comment to Tom's answer)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14098" data-toggle = "popover">
				<p>user name : Omkar Nisal</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-14098">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14098" class = 'collapse'>
			</div>
				<textarea id = "speech-14098" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14098">
					<img id="start_img-14098" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14098">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>