<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can we simulate a actuator with a very strong torque with a PID controller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9437" class = "post">
			<h2>Question</h2>
			<div id="vote-9437" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 383</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can we simulate a actuator with a very strong torque with a PID controller</h2>
<p>I use gazebo to simulate a robot arm. To control its joints, I use PID controllers. As you might know, PID are sometimes pretty hard to tune and this is the case for a robotic arm. To avoid any tuning, and because I don't need the PID values to be realistic, I set to zero the derivative and integral parameters, increase a lot the proportional gain and add a lot of damping in my joints. By doing this, I can get a well working arm but only if I disable the gravity. </p>

<p>My question is the following. Do you have an idea how I could simulate a very strong actuator with not necessarily realistic parameters?</p>

<p>EDIT 1: Setting the integral and derivative gain is stupid. The integral gain helps in correcting the effect of the gravity. The derivative gain counters the loss of stability and speed due to the integral gain. </p>

<p>This question somehow leads to another. Do you know what tuning do the robotic arm manufacturer (big arms for car industry for example). I guess that this arm use actuators with a very strong torque and a low maximum speed which reduces the need of tuning.  </p>

<p>EDIT 2: More info on my setup. I use gazebo 6, with ODE. The robot description is in SDF. I control the robot with a model plugin. As a PID controler I use the PID class from the common library of gazebo and get directly the JointControler associated to the model. </p>

<p>Let say that I would like actuators very robust without any tuning needed. This way I could have a simulation WITH dynamics (by opposition to the SetPosition method). Do you think it is possible ?    </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9437" data-toggle = "popover">
				<p>user name : debzsud</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-9437">{'control': 0, 'None': 0, 'power': 3, 'pid': 3, 'servomotor': 3, 'joint': 3, 'design': 0, 'robotic-arm': 0, 'actuator': 0, 'gazebo': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9437">Load Comments</button></br>
			<div id = "commentsection-9437" class = 'collapse'>
			<div id = "comment-16699" class = "comment">
				<p>Would the offline programming techniques suit what you're after?  For example:  http://www.easy-rob.com/uploads/media/rds.pdf</p>
			</div>
			<div id = "comment-16701" class = "comment">
				<p>Your question does not make much sense. The gazebo motor simulation is likely a simulation of an ideal motor (a torque source only) unless you have intentionally added a more complex one in. Perhaps some more information on what you are trying to accomplish would help.</p>
			</div>
			<div id = "comment-16710" class = "comment">
				<p>@hauptmech: What gazebo motor simulation are you talking about. The only way to actuate a joint is to use PID Controller. And if you want it to work, you need to tune it.</p>
			</div>
			<div id = "comment-16712" class = "comment">
				<p>@SteveO: interesting paper, I'll check a deeper sight on it. The implementation of the realistic dynamic simulation looks however pretty hard.</p>
			</div>
			<div id = "comment-16720" class = "comment">
				<p>@debzsud There's a lot of ways to use gazebo. More info on what API's you are using or anything like that will get you a better answer.</p>
			</div>
			<div id = "comment-16733" class = "comment">
				<p>@hauptmech done !</p>
			</div>
			</div>
				<textarea id = "speech-9437" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9437">
					<img id="start_img-9437" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9437">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9442"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9442" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>I can get a well working arm but only if I disable the gravity.</p>
</blockquote>

<p>It seems to me you are not using <a href="https://en.wikipedia.org/wiki/Feedback_linearization" rel="nofollow">feedback linearizing</a> approach with your PID controller. Remember PD and PID work only with linear models. If you have no uncertainties in your model which is what you are looking for by saying "<strong>an ideal motor</strong>", then PD works very well. Once you add uncertainties in your model then you need to utilize PID to overcome the steady state error. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9442" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-9442">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9442">Load Comments</button></br>
			<div id = "commentsection-9442" class = 'collapse'>
			<div id = "comment-16711" class = "comment">
				<p>Well, good point. The integral gain actually prevents the arm to fall down. I still have problems to tune it, or the joints converge much to slow to their targets, or the arm stops before reaching the targets. My question is more: is there a way to mathematically/programmatically cheat (using unrealistic values or chunck of code) and be sure to get actuators that converge fast enough and precisely to their targets?</p>
			</div>
			<div id = "comment-18456" class = "comment">
				<p>I got your point CroCo, but I'd rather tone down your sentence "_Remember PD and PID work only with linear models_". That's not true: PID work great with nonlinear plants too. That has been their fortune in many applications. This happens because the high open-loop gain helps reduce the effects of nonlinearities and uncertainties in the closed-loop system, allowing even a linear compensator to deliver acceptable performance when applied to nonlinear plants. Just say that  feedback linearization and/or I term will help PID work better.</p>
			</div>
			<div id = "comment-18470" class = "comment">
				<p>@Ugo, thanks for the info. I will double check it but it seems to me even though increasing gains will reduce errors, it is impractical due to saturation phenomenon.</p>
			</div>
			<div id = "comment-18472" class = "comment">
				<p>@CroCo you're definitely right about saturation, something that is always there 'cause purely linear plants do not exist in nature, actually. Further, high gains will drive the system more toward instability, of course. My argument was thus only very general to highlight that even though nature is nonlinear, a linear controller does its job pretty well - in the operative conditions we can profitably determine.</p>
			</div>
			</div>
				<textarea id = "speech-9442" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9442">
					<img id="start_img-9442" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9442">Comment</button>
			<br><div id = "ans-9455"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9455" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Industrial robot controllers (and most "real" robot arm controllers) will have a feedforward term to remove the effect of gravity. Often called gravity compensation. You noticed how necessary this is when you disabled gravity...</p>

<p>Check your chain of libraries for an artificial limit being set on the joint effort (torque). </p>

<p>You might take a look at <a href="http://moveit.ros.org/" rel="nofollow">moveit!</a> to see if it helps you. Otherwise you are going to have to take the time to learn a bit of robotics (and controls) math. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9455" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9455">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9455">Load Comments</button></br>
			<div id = "commentsection-9455" class = 'collapse'>
			<div id = "comment-18457" class = "comment">
				<p>Sometimes there's no shorter paths to the goal: you ought to read a book, debzsud ;)</p>
			</div>
			</div>
				<textarea id = "speech-9455" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9455">
					<img id="start_img-9455" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9455">Comment</button>
			<br><div id = "ans-10318"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10318" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you're asking for cannot be accomplished with a PID controller. As I understand your question, you want to be able to choose PID gains that would always produce a "good" trajectory, without tuning. You said it's alright if the motor output is unrealistic, i.e. the motors are "very strong" therefore can produce unlimited torque. However, you cannot escape the fact the your system has inherent dynamics. The response of the joint will always be affected by its inertia and damping, so unless you set those values to zero your response will change as they change. Since a robotic arm with more than 1 joint is nonlinear, inertia and apparent damping due to centrifugal and Coriolis effects will be changing constantly.</p>

<h1>More Explanation</h1>

<p>First, you seem to have some misunderstanding of how a PID controller works. A really simplistic description would be, given you want to get to some position $x_d$ and speed $v_d$:</p>

<ul>
<li>the proportional term: the farther I am from $x_d$, the harder I push toward $x_d$</li>
<li>the derivative term: the slower/faster I am than $v_d$, the harder I push to speed up/slow down</li>
<li>the integral term: gee, all this pushing I've been doing hasn't gotten me much closer to $x_d$, I should push harder in that direction</li>
</ul>

<p>Yes, the derivative term <em>can</em> help to reduce the oscillations introduced by the integral term, but that is not its purpose.</p>

<p>PID controllers are a great example of classical control, and are very useful because they can be tuned experimentally without knowing the exact mathematical model of the system you want to control. With some clever tuning you can make it so that the PID controller gives you a reasonable response for a small range of parameters, allowing them to work with nonlinear systems or linear time-variant systems, but there are two qualifying statements there: the parameter range has to be <em>small</em> and the controller has to be <em>tuned</em>. The parameter variation for multi degree of freedom robotic arms can be quite large (e.g. your inertia could double or halve in value) so achieving what you want without tuning at all is very difficult.</p>

<h1>Possible Solutions</h1>

<ol>
<li><p>Turn off gravity and move your arm really slowly (i.e. large derivative gain relative to your proportional gain). The nonlinearities of robotic arms mostly come from dynamic coupling between joints, moving slowly should keep them really small.</p></li>
<li><p>Manually program the trajectories of each joint in the sim (fudging the dynamics). Let's say you're starting from angular position $\theta_0$ and you want to get to $\theta_d$. You could program the joints so that when they get a command to move to $\theta_d$ they follow a specific trajectory, for example $\theta(t) = \theta_0 + (\theta_d - \theta_0)(1 - e^{-t/\tau})(1 + t/\tau))$ will give you a smooth trajectory with no overshoot from the initial to the final position. Just adjust $\tau$ until it's as fast or slow as you like. The only problem with this method is that if you interrupt it during its motion it will look weird due to discontinuity.</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10318" data-toggle = "popover">
				<p>user name : BarbalatsDilemma</p>
				<p> user reputation : 208</p>
				<p class = "tagcontent" id = "usertaginfo-10318">{'None': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10318" class = 'collapse'>
			</div>
				<textarea id = "speech-10318" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10318">
					<img id="start_img-10318" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10318">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>