<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can inverse dynamics control be regarded as a function?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2499" class = "post">
			<h2>Question</h2>
			<div id="vote-2499" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 87</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can inverse dynamics control be regarded as a function?</h2>
<p>I know that inverse kinematics ($p \rightarrow q$, p: desired pose of the end-effector, q: joint angles) is not a function because there might be multiple joint angle vectors q that result in the same pose p.</p>

<p>By inverse dynamics control I mean the mapping $(q, \dot{q}, \ddot{q}) \rightarrow u$ (u: required torques. I am not very experienced with these kind of problems. Is the mapping a function, i.e. for each triple $(q, \dot{q}, \ddot{q})$ there is a <em>unique</em> solution u? My intuition says it is. But I am not sure. If there is not, would it always be possible to obtain a solution by averaging two or more solutions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2499" data-toggle = "popover">
				<p>user name : alfa</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-2499">{'None': 0, 'dynamics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2499">Load Comments</button></br>
			<div id = "commentsection-2499" class = 'collapse'>
			<div id = "comment-4843" class = "comment">
				<p>Is this *inverse* dynamics?  i don't think so.  mapping joint positions, velocities, and accelerations to the required joint torques is low level control.</p>
			</div>
			<div id = "comment-4844" class = "comment">
				<p>At least in this paper it seems like it is: http://robot-learning.de/pmwiki/uploads/Publications/NguyenTuong_ACC2008.pdf</p>
			</div>
			</div>
				<textarea id = "speech-2499" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2499">
					<img id="start_img-2499" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2499">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2502"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2502" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you are confusing 2 issues.  <em>Inverse dynamics</em> is the process of mapping end effector position, velocity, and acceleration to joint torques.  as described in this book, page 298: <a href="http://books.google.com/books?id=jPCAFmE-logC&amp;lpg=PR2&amp;pg=PA298#v=onepage&amp;q=inverse%20dynamics&amp;f=false" rel="nofollow">http://books.google.com/books?id=jPCAFmE-logC&amp;lpg=PR2&amp;pg=PA298#v=onepage&amp;q=inverse%20dynamics&amp;f=false</a></p>

<p>But the paper you posted is simply modeling and calibrating their robot's non-geometric parameters.  </p>

<p>So i think there can be multiple solutions to the inverse dynamics problem as i define above.  because when only given the end effector parameters, the arm can potentially be in different configurations to realize this.  a simple example is a 2 link planar arm where the elbow can be on either side.  as seen in figure 2.31, page 93: <a href="http://books.google.com/books?id=jPCAFmE-logC&amp;lpg=PR2&amp;pg=PA93#v=onepage&amp;q=two-link%20planar%20arm&amp;f=false" rel="nofollow">http://books.google.com/books?id=jPCAFmE-logC&amp;lpg=PR2&amp;pg=PA93#v=onepage&amp;q=two-link%20planar%20arm&amp;f=false</a></p>

<p>but i still think the problem as you describe, mapping joint position, velocity, and acceleration to joint torques is a low-level control problem and probably has a unique solution.  however, when factoring in nonlinearities like friction can probably make the answer non-unique.  for example, imagine a joint with lots of friction.  a range of joint torques will be sufficient to hold the joint at a given angle.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2502" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-2502">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2502">Load Comments</button></br>
			<div id = "commentsection-2502" class = 'collapse'>
			<div id = "comment-4846" class = "comment">
				<p>OK, thanks for clarification. I was not able to come up with such a simple example that obviously results in multiple solutions. However, for me it is important that the average of two or more solutions is a solution, too. But that would be guaranteed in your example. Thanks!</p>
			</div>
			<div id = "comment-4847" class = "comment">
				<p>By the way, I edited the question a little bit. Maybe it sounds a little bit more correct now. ;)</p>
			</div>
			<div id = "comment-8005" class = "comment">
				<p>Ben, if you read carefully the Sciavicco's book you'll find out how the inverse dynamics is not concerned about what you said. In general, indeed, inverse dynamics problem is regarded with the solution of the dynamic equation of the manipulator $M(q)\ddot{q}+h(q,\dot{q})=u_c$ with the aim of seeking the torque $u_c$ that drives the system to make $(\ddot{q},\dot{q},q)$ follow some reference $(\ddot{q}_r,\dot{q}_r,q_r)$. In case you have non-null end-effector force $h_e$ you have to consider it in the equation.</p>
			</div>
			</div>
				<textarea id = "speech-2502" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2502">
					<img id="start_img-2502" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2502">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>