<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can i connect the arduino usb to laptop after the arduino is started
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8127" class = "post">
			<h2>Question</h2>
			<div id="vote-8127" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 279</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can i connect the arduino usb to laptop after the arduino is started</h2>
<p>I have some sensors attached to arduino uno r3 and an esc. I start the Motor attached to esc through ardiuno with no usb connected to laptop. It starts correctly. There is a must that i will have to start the arduino from non usb supply so that esc is correctly started, means that my motor doesnt start with usb connected to pc. Now how can i get the sensor values to laptop. If i connect the usb to pc after starting the motor, will this work.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8127" data-toggle = "popover">
				<p>user name : Bilal Ayub</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-8127">{'quadcopter': 6, 'None': 0, 'arduino': 4, 'pid': 5, 'stability': 2, 'esc': 3, 'balance': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8127">Load Comments</button></br>
			<div id = "commentsection-8127" class = 'collapse'>
			<div id = "comment-13066" class = "comment">
				<p>Be advised that directly connecting USB to an Arduino that is directly controlling a motor raises the chance of frying your computer's USB port due to ground-terminal currents or back-currents. If possible, isolate one of these connections with optoisolators (easier) and try to keep power sources separate (harder).</p>
			</div>
			</div>
				<textarea id = "speech-8127" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8127">
					<img id="start_img-8127" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8127">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8143"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8143" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What exactly is the question?
I'm not sure, so I'll describe one system I have, and hope you find your answer somewhere in this description.</p>

<p>I connect my Arduino USB cable to my laptop all the time, both before and after applying main motor power.</p>

<h1>power</h1>

<p>"How do I start the Arduino before inserting the USB cable?"</p>

<p>Many people find it easier to plug a AC-to-DC adapter into the wall, which sends 7 V to 12 V to a barrel plug, and then they plug that barrel plug into the barrel jack of the Arduino.
On my system, I connect power to an Arduino shield, and that shield sends that power into the Vin pin of the Arduino board.
See
<a href="http://www.ladyada.net/learn/arduino/lesson0.html#9vpower" rel="nofollow noreferrer">"Arduino Tutorial: Power up!"</a>; 
<a href="http://www.forkrobotics.com/2011/11/powering-an-arduino/" rel="nofollow noreferrer">"Powering an Arduino"</a>;
<a href="http://forum.arduino.cc/index.php?topic=22132.0" rel="nofollow noreferrer">"If I have my Arduino connected to a 9V DC supply and then connect the Arduino to a computer with a USB cable, what happens exactly?"</a></p>

<p>As soon as power is connected to the Arduino, the Arduino starts running the setup() function.</p>

<h1>reset</h1>

<p>"What happens when the Arduino is running off external 12 VDC power, and I later plug in the USB cable? What do I do about that reset?"</p>

<p>On my (unmodified) Arduino, like most Arduinos, plugging in the USB cable resets my Arduino.</p>

<p>There are 2 ways to deal with this:</p>

<ul>
<li>Accept that it's going to reset occasionally. Design the rest of the system to tolerate resets. Or,</li>
<li>Add some hardware to prevent that reset.</li>
</ul>

<p>I prefer the "tolerate resets" approach, because that also makes the system more robust against the inevitable power glitches.
People who design systems that can't tolerate resets usually end up with a system that can't tolerate power glitches either, so they have to put in some sort of battery backup system.</p>

<p>Every time my Arduino resets or powers up, it forgets where it was before and starts my program from the beginning -- the setup() function.</p>

<p>My program does exactly the same thing after it powers up, whether or not the USB cable is plugged into it.</p>

<p>My main loop() prints some debug information out its USB port using the <a href="https://www.arduino.cc/en/Reference/Serial" rel="nofollow noreferrer">Serial library</a>.
Usually nothing is plugged into that Arduino's USB port, so that information is simply lost, but sometimes I plug in a USB cable to my laptop, and that information shows up in the <a href="https://learn.adafruit.com/adafruit-arduino-lesson-5-the-serial-monitor/overview" rel="nofollow noreferrer">serial monitor window</a>.</p>

<p>My main loop() uses the <a href="http://playground.arduino.cc/ComponentLib/Servo" rel="nofollow noreferrer">Servo library</a> to repeatedly tell each servo where to go based on the current values in an array.
(Those values are slowly incremented or decremented elsewhere in my program based on other sensors).</p>

<p>Because my setup() function initializes that array to all zeros,
when I first power up my system, all my servos reset and suddenly snap back to the zero position (centered). Then they start slowly wandering around.</p>

<p>Because my setup() function initializes that array to all zeros,
when I plug in my USB cable after the system is already powered on, all all my servos reset (again) and (again) suddenly snap back to the zero position (centered).
Then they start moving normally, slowly wandering around, and I start getting data on my laptop serial monitor.</p>

<p>For my particular system, this sudden motion is a harmless quirk.</p>

<h1>How do I prevent this reset?</h1>

<p>If you <em>don't</em> want your Arduino to reset every time you plug in the USB cable,
you might want to look at
<a href="http://playground.arduino.cc/Main/DisablingAutoResetOnSerialConnection" rel="nofollow noreferrer">"Disabling Auto Reset On Serial Connection"</a>;
<a href="https://arduino.stackexchange.com/questions/439/why-does-starting-the-serial-monitor-restart-the-sketch">"Why does starting the serial monitor restart the sketch?"</a>;
<a href="https://stackoverflow.com/questions/16224816/preventing-reset-on-serial-monitor-connect">"Preventing reset on serial monitor connect?"</a>;
etc.</p>

<h1>How do I make a system that tolerates reset?</h1>

<p>Many Arduino systems have no long-term state.
They do exactly the same thing every time through the main loop,
whether it's the first time through the loop when powered on,
or it's been running for months.
A person can design such a system to tolerate reset relatively easily.</p>

<p>If you want to collect data while the USB cable is unplugged,
then later send that data through the USB port,
you might consider storing that data on a SD or MMC card
using the <a href="https://learn.adafruit.com/adafruit-micro-sd-breakout-board-card-tutorial" rel="nofollow noreferrer">Arduino SD library</a>,
or perhaps storing that data in EEPROM
using the <a href="http://playground.arduino.cc/Code/EEPROMWriteAnything" rel="nofollow noreferrer">Arduino EEPROM library</a>.</p>

<p>If you want to send commands to the Arduino while the USB cable is plugged in,
and you want the Arduino to continue to act on those commands even after the USB cable is plugged back in a second time, you might consider storing the result of those commands in a SD or MMC card or in the Arduino EEPROM using those same libraries.
Then both immediately after storing, and also in the setup() routine that runs every time the Arduino resets or is re-connected to power, call a function that reads that non-volatile memory and does the appropriate things.</p>

<p>That stored data is part of the "long-term state",
so we put it in non-volatile memory.
The normal volatile SRAM memory is zeroed out every time the Arduino powers up or is reset.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8143" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-8143">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8143">Load Comments</button></br>
			<div id = "commentsection-8143" class = 'collapse'>
			<div id = "comment-12989" class = "comment">
				<p>I actually want to use laptop to send data to arduino to control the servos. but I will have to use external power to start arduino.</p>
			</div>
			<div id = "comment-12995" class = "comment">
				<p>Yes, you can send data from the laptop to the Arduino, even if you plug in the USB cable after you power up the Arduino. Did you know you are more likely to get a good answer on this site if you use question mark symbols?</p>
			</div>
			<div id = "comment-12997" class = "comment">
				<p>but the arduino restarts if i plug in the usb cable</p>
			</div>
			<div id = "comment-13024" class = "comment">
				<p>Yes, I already said that "plugging in the USB cable resets my Arduino.". That's not a problem in my application, but other people have found that it is a problem in their application, and found ways to prevent that reset -- ways that I've already linked to in this answer. What exactly is your question? Asking good questions is surprisingly difficult, and I hope you and I both get better at asking good questions.</p>
			</div>
			<div id = "comment-13026" class = "comment">
				<p>I want to start the arduino before inserting the usb (and using it). Tell me the method for this. that is my question.</p>
			</div>
			<div id = "comment-13045" class = "comment">
				<p>I'm guessing maybe you want to know "How do I start the Arduino before inserting the USB cable?". So I added that to this answer. Have you gone through the [Arduino Tutorial](http://www.ladyada.net/learn/arduino/) ? You probably already know most of that stuff, but it sounds like maybe there's one little thing that's causing you great frustration. If we only knew what that one thing was, we could improve that tutorial to help you *and* help many other people frustrated by the same thing.</p>
			</div>
			</div>
				<textarea id = "speech-8143" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8143">
					<img id="start_img-8143" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8143">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>