<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can triangulation by measuring angles to 3 beacons to find location work over a large outdoor area
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4972" class = "post">
			<h2>Question</h2>
			<div id="vote-4972" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1137</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can triangulation by measuring angles to 3 beacons to find location work over a large outdoor area</h2>
<p>To determine an outdoor location I think that I need to measure the angles between at least 3 beacons and take into account the order I sweep the beacons.  Is this a workable solution to get positional accuracy of about 30cm in a house block sized area?</p>

<p>Rewrite of question, note no distance measurement is suggested only angle measurements.
I am proposing that it might be possible to have a minimum of 3 local rf beacons and a robot device that sweeps an antenna through a circle identifying the angles between these beacons and to use this information and the order that the beacons are seen to find an absolute location.  I tried to prove this geometrically and it seems that with the 3 beacons there is 2 unique solutions without knowing the order and 1 solution if the order is known.  There would (I believe) be no need to try to find the distance to the beacons.  My question is, could this be implemented for a reasonable cost with some nRF24L01 based transcievers and some sort of rotating antenna?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4972" data-toggle = "popover">
				<p>user name : qpit3a</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-4972">{'None': 0, 'localization': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4972">Load Comments</button></br>
			<div id = "commentsection-4972" class = 'collapse'>
			<div id = "comment-7725" class = "comment">
				<p>If GPS can work with 4 satellites, I don't think you would have a problem localizing yourself with 4 beacons in a city block (Note the 4. I don't know about 3).</p>
			</div>
			<div id = "comment-7728" class = "comment">
				<p>I was just thinking about triangulation so I only know angles not the time of flight (distance) GPS doesn't know the angles of the satellites (I believe).</p>
			</div>
			</div>
				<textarea id = "speech-4972" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4972">
					<img id="start_img-4972" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4972">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4976"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4976" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The theoretical answer is: yes. The pragmatic answer is: no.</p>

<p>If you know the location (xyz coordinate) of the three beacons in your inertial (fixed) reference frame, then all that is needed to determine the location of the device you would like to track is the straight-line distance from your device to each of the three beacons. More correctly, the distance information would narrow down the position of your device to exactly two locations. </p>

<p>Depending on the transmission technology of your beacons (RF, sonar, light), and the surrounding environment, it may or may not be practical to calculate the straight-line distance. </p>

<p>It is difficult with both sonar and RF to get reliable distance calculations because of reflections from the surrounding environment. Distance calculations using time-of-flight are very reliable and accurate. However, you need line-of-sight. </p>

<p>Take a look at this technology. It is the closest that I have encountered for practical location over a large area: <a href="http://www.ubisense.net/en/" rel="nofollow">http://www.ubisense.net/en/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4976" data-toggle = "popover">
				<p>user name : klsoren</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-4976">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4976" class = 'collapse'>
			</div>
				<textarea id = "speech-4976" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4976">
					<img id="start_img-4976" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4976">Comment</button>
			<br><div id = "ans-5176"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5176" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You haven't said whether you need 2D or 3D positioning, but if you have only 3 beacons you will need to stick to 2D.  Let's assume you know the XY position of the beacons and that the robot's sensor and the beacon emitters are at about the same height.</p>

<p>Geometrically, yes it can be done, with some limitations.  Take a pair of beacons B1 and B2; suppose your robot sees them as A12 degrees apart.  Now imagine that the beacons are pins stuck in a corkboard, and you have a cardboard triangle with one corner A12 degrees wide.  You can press the cardboard between the pins and rotate while keeping the triangle edges against the pins. - marking where the point lies.  Interestingly, this forms a circular arc between the pins (actually two arcs, forward and backward.</p>

<p>Now conceptually draw the equivalent with B2 and B3 and angle B23 - more circular arcs, which will intersect.  And for good measure use B3 and B1 and angle B31 - it doesn't really give you more information, but it acts as an error check.</p>

<p>You'll find a few places where these arcs intersect.  You can reduce the ambiguities using the order of the beacons as you scan (eg: clockwise sequence).</p>

<p>Besides the ambiguities, sometimes the arcs intersect close to right angles and give a sharp intersction point, but other times they are closer to tangent with each other which means that small errors in the angle result in large errors in position.</p>

<p>However, your proposed implementation is not going to work very well.  The antennas for a nRF24L01 are not going to give a very sharp directionality.  The patterns will almost certainly have multiple irregular but somewhat broad lobes that give you only a very loose sense of direction with additional ambiguities - and multipath reception will make that worse.  If there are any obstacles that absorb RF, that will make it worse.</p>

<p>If you have unobstructed line of sight, you could do better with optical sensors - that's the appoach I've played with, on paper.  Actually my original inspiration was how to tell where a photo was taken if it shows several towers on hillsides.  If you can determine the location of each tower, and you can calibrate the camera's pixels with angles, then this becomes the same problem as you raise - but with far better angular resolution.  </p>

<p>For robotics in a smaller space, you could use visible or infrared emitters and a camera on the robot; there is some complication in spinning the camera and combining several less-than-360 degree views to get large angles, but the geometry issue is the same.</p>

<p>And if you have more than 3 beacons, you can improve your accuracy: they are less likely to all be obscured, some combinations will more likely have good intersection angles, you can remove many of the ambiguities, and you can average multiple solutions using different triplets to reduce the errors.</p>

<p>I recall working out the circular arcs traced by the tip of the triangle algebraically some while ago (I was expecting something more complex and loved that it came out so beautifully simple), but I don't have that proof handy and would have to recreate it.  However if you know that the location arc is circular, it's easy to compute the center and radius of the arcs from the location of two beacons and the angle between them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5176" data-toggle = "popover">
				<p>user name : Zeph</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-5176">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5176">Load Comments</button></br>
			<div id = "commentsection-5176" class = 'collapse'>
			<div id = "comment-7945" class = "comment">
				<p>Welcome to Robotics.SE, zeph! Awesome answer. You could make it even more awesome with a couple of drawings! ([inkscape](https://inkscape.org/en/) is a good option)</p>
			</div>
			<div id = "comment-7948" class = "comment">
				<p>Thanks for the answer. The idea is to replace the nRF antenna on the robot with a rotating tin can design of wifi antenna. The intent is to mount this on a weighted platform so that the axis of rotation is vertical so as to allow for undulating terrain.   Might try infrared experiments also.</p>
			</div>
			</div>
				<textarea id = "speech-5176" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5176">
					<img id="start_img-5176" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5176">Comment</button>
			<br><div id = "ans-5179"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5179" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's a lovely theorem in mathematics: given three points $A, B, C$ on a circle, the angle $BAC$ subtended at $A$ by the arc $BC$ is exactly half the angle subtended by the arc $BC$ from the circle's center (i.e., the "angle between $B$ and $C$, as seen from the circle center"). </p>

<p>Thus as @Zeph observes, knowing the angle between any pair of towers places you on a circle of a particular radius that contains these towers at a certain angular distance from each other on the circle... but there are two such circles. If you know the <em>signed</em> angle (i.e., "As I sweep counterclockwise, I see $B$ and then $C$, with the angle between them less than 180"), then you actually know which of the two circles you're on. </p>

<p>If you look in Bowditch's <em>American Practical Navigator</em>, you'll find that this technique has been known for some time. (Closely related: "doubling the angle on the bow"). </p>

<p>The sensitivity of the computed position to angular noise is not pretty. If your three towers are very far apart (hundreds of miles), but distributed at 120 degrees angles around the center of your region of interest, then the angles measured from any point in your region will be very close to 120...so determining the exact location will be tough. If, at the other extreme, your three beacons are very near the center of your region, then the three angles will again tend to be almost equal from all points of view, so the computed position will be very sensitive to angle again. In the ideal case -- which is probably to have the beacons placed on a circle that's perhaps twice the size of your region of interest -- you can probably do OK...but you'll do hugely better if you put 15 beacons out there, and use something like a Kalman filter to update your position estimate at each moment. Greg Welch at UNC did something like this for tracking in virtual reality systems, back in about 1991 or 1992, I believe, but I could be off by a year or two. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5179" data-toggle = "popover">
				<p>user name : John</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-5179">{'control': 7, 'None': 0, 'power': 7, 'motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5179">Load Comments</button></br>
			<div id = "commentsection-5179" class = 'collapse'>
			<div id = "comment-7949" class = "comment">
				<p>Thanks.  I hoped the technique would be known because my method of proof was to draw dots on tracing paper and then attempt to find multiple solutions.  Seem to have forgotten what geometry I ever knew..</p>
			</div>
			<div id = "comment-7952" class = "comment">
				<p>BTW, I completely approve of your accepting @Zeph's answer instead of mine...but you still might want to look at Welch's work.</p>
			</div>
			<div id = "comment-7953" class = "comment">
				<p>Oh, I see that I can only accept one answer. (thought i'd accepted both). Will look into Welch.</p>
			</div>
			</div>
				<textarea id = "speech-5179" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5179">
					<img id="start_img-5179" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5179">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>