<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can ROS run on a Raspberry Pi?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-230" class = "post">
			<h2>Question</h2>
			<div id="vote-230" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">24</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 9139</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can ROS run on a Raspberry Pi?</h2>
<p>Can <a href="http://www.ros.org/wiki/">ROS</a> run on a Raspberry Pi?</p>

<p>ROS is resigned to run on a network of machines, with different machines, even different cores on the same machine doing different jobs. Can one of those machines be a Raspberry Pi?</p>

<p>I am considering using an R-Pi as the <a href="http://en.wikipedia.org/wiki/EtherCAT">EtherCAT</a> master on a mobile robot, communicating with the main PC over WiFi, using a dongle.</p>

<ul>
<li>Can an R-Pi even run ROS at all?</li>
<li>Would an R-Pi have enough processing power to do some 1kHz servoing?</li>
<li>Would it be possible to run some servoing on the host through the WiFi connecion?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-230" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-230">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-230" class = 'collapse'>
			</div>
				<textarea id = "speech-230" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-230">
					<img id="start_img-230" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-230">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-232"  class = "post">
				<h2>Answer</h2>
			<div id="vote-232" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The official RaspberryPi operating system is a version of Debian, but there's also an ArchLinux version on <a href="http://www.raspberrypi.org/downloads" rel="nofollow noreferrer">their website</a>.</p>

<p>Despite ROS's claim of being cross-platform, they only officially support Ubuntu at the moment. However, experimental installations have been made for the following OSes, according to <a href="http://www.ros.org/wiki/ROS/Installation" rel="nofollow noreferrer">ros.org</a>:</p>

<ul>
<li>OS X (Homebrew)</li>
<li>Fedora</li>
<li>Gentoo</li>
<li>OpenSUSE</li>
<li><strong>Debian</strong></li>
<li><strong>Arch Linux</strong></li>
<li>Windows</li>
</ul>

<p>While I don't have any first-hand experience (my two Pis are shamefully sitting in the corner), ros.org has a quick and dirty <a href="http://www.ros.org/wiki/ROSberryPi/Setting%20up%20ROS%20on%20RaspberryPi" rel="nofollow noreferrer">setup guide</a>.</p>

<p>There are similar instructions on <a href="http://answers.ros.org/question/34501/how-to-setting-up-ros-on-raspberrypi/" rel="nofollow noreferrer">answers.ros.org</a>.</p>

<p>In case you run into any problems, the <a href="http://www.raspberrypi.org/phpBB3/viewtopic.php?f=37&amp;t=6552" rel="nofollow noreferrer">RaspberryPi forums</a> might also be of some help. And, of course, SE's got it's very own <a href="https://raspberrypi.stackexchange.com/">PI.SE</a> (Thanks to @Jivings and @ppumkin for the reminder).</p>

<p>Otherwise, just google "ros raspberry pi" and you should find plenty more information.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-232" data-toggle = "popover">
				<p>user name : ThomasH</p>
				<p> user reputation : 612</p>
				<p class = "tagcontent" id = "usertaginfo-232">{'None': 41, 'gazebo': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-232">Load Comments</button></br>
			<div id = "commentsection-232" class = 'collapse'>
			<div id = "comment-283" class = "comment">
				<p>IMO, Debian is the better choice for the Raspberry Pi. I believe you'll find it easier and a better supported from a community perspective as oppose other flavors of the Linux Kernel.</p>
			</div>
			<div id = "comment-396" class = "comment">
				<p>@DogEatDog I disagree, Arch is also very well supported. Also, shameless plug here; Any Raspberry Pi issues from this question will be gratefully received at [RaspberryPi.SE] as well as the official forums.</p>
			</div>
			<div id = "comment-414" class = "comment">
				<p>@Jivings I can't believe I forgot to check RaspberryPi.SE ... Though a quick search for ROS does not throw up any results so far ;-)</p>
			</div>
			<div id = "comment-416" class = "comment">
				<p>@ThomasH - Do you think that you could add to your answer a link to come over to [PI.SE](http://raspberrypi.stackexchange.com/) We got allot of answers there and possibly some solutions.I don't just want to edit your answers as it is correct.</p>
			</div>
			<div id = "comment-420" class = "comment">
				<p>Because ROS runs under BSD - It is not supported until the newest release of FreeBSD- And off course ROS source will have to run on the newest BSD code too. It all to-do with hard float and some driver updates for that specific ARM made by BroadCom (PS - The video driver from BCM is going opensource so there should be allot more support in the future)</p>
			</div>
			</div>
				<textarea id = "speech-232" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-232">
					<img id="start_img-232" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-232">Comment</button>
			<br><div id = "ans-236"  class = "post">
				<h2>Answer</h2>
			<div id="vote-236" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This question was <a href="https://robotics.stackexchange.com/a/232/37">well-answered by ThomasH</a>, but in addition I just want to suggest the possibility of <em>wireless tethering</em> the quadcopter to a laptop. That is, just write a nice-and-fast wireless (wifi?, bluetooth?) communication protocol for the quadcopter, then do the heavy CPU stuff on a laptop, while transmitting the instructions and sensor queries to the R-PI. We tried many implementations, and settled on a similar setup for all our small robots. Also almost every jaw-dropping quadcopter implementation is set up in this way. It makes life easy, and allows you to use the big-hitter libraries without sacrificing speed. </p>

<p>Let's be honest here, that quadcopter is very likely not going to get outside wireless range of your laptop anyway.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-236" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-236">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-236">Load Comments</button></br>
			<div id = "commentsection-236" class = 'collapse'>
			<div id = "comment-246" class = "comment">
				<p>To be clear, when you say "heavy CPU stuff" here, you mean high-level controls that involve lots of number crunching, such as SLAM or computer vision.

Low-level flight control will have to occur in real-time and at high enough frequencies that it won't be feasible over a wireless connection.</p>
			</div>
			<div id = "comment-248" class = "comment">
				<p>The flight control, as in servo outputs, will have to be generated by on-board electronics, yes. But the flight commands, like desired rotor speeds and such _can_ be generated by a tethered pc (bluetooth is amazing for this), but there's no reason to if you can run those on the R-Pi. If that's the case, then yes, "heavy CPU stuff" refers to high-level planning,  multi-vehicle coordination, SLAM, CV, etc.</p>
			</div>
			</div>
				<textarea id = "speech-236" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-236">
					<img id="start_img-236" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-236">Comment</button>
			<br><div id = "ans-241"  class = "post">
				<h2>Answer</h2>
			<div id="vote-241" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would check out the <a href="http://www.ros.org/wiki/rosserial" rel="nofollow">rosserial</a> project. Basically, it generates some code for Arduino for communicating over serial to a ROS node on the computer. I bet you can convert it to the Raspberry Pi, so that you can use some other protocol to communicate between the Pi and the host computer. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-241" data-toggle = "popover">
				<p>user name : Chris Mansley</p>
				<p> user reputation : 464</p>
				<p class = "tagcontent" id = "usertaginfo-241">{'odometry': 15, 'None': 24, 'kalman-filter': 15, 'localization': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-241" class = 'collapse'>
			</div>
				<textarea id = "speech-241" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-241">
					<img id="start_img-241" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-241">Comment</button>
			<br><div id = "ans-314"  class = "post">
				<h2>Answer</h2>
			<div id="vote-314" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Robotics is hard enough as it is when all your dependencies are working.  The last thing you need are additional problems coming from incompatible components or unsupported combinations.</p>

<p>I looked into this a little and here was my progression:</p>

<p>Raspberry Pi doesn't support Ubuntu because it's ARM CPU uses an older instruction set (ARM v6 I believe?) and the Ubuntu team dropped support for this back in like 2009.</p>

<p>Beaglebone is similar to a Raspberry Pi in many ways and has a newer instruction set so it will run Ubuntu.  However the 'best' Ubuntu ARM distribution is coming out of the Linaro project and they dropped support for the Beaglebone a few revisions back (last was Linaro 12.03) because it's using an older TI OMAP 3 processor (welcome to the wonderful world of rapid smartphone progress).</p>

<p>My next step was to look at the TI Pandaboard which uses the newer OMAP 4 processor that is currently supported, but it costs closer to the $200 range.</p>

<p>But now Ubuntu officially released for the Nexus 7.  At 200 dollars, the Nexus 7 gets you everything a Raspberry Pi offers plus a lot more.  Keep in mind that even with a Raspberry Pi, once you add in the charger, wifi adapter, storage card, and cables you're creeping up closer to 100 dollars than 35 dollars so imho the Nexus 7 is a much better deal.</p>

<p>Lastly, don't try and output a 1 khz signal out of a non real time OS.  Attach yourself a cheap microcontroller like the PJRC Teensy (Arduino clone) and let it handle the simple real time tasks for you.  This way you dedicate the inexpensive CPU to these simple time sensitive tasks.  At 16 MHz with support for multiple timers, a little AVR MCU can handle a half dozen tasks like this without issue.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-314" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-314">{'None': 68}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-314">Load Comments</button></br>
			<div id = "commentsection-314" class = 'collapse'>
			<div id = "comment-394" class = "comment">
				<p>Running your robot with Ubuntu on a Nexus 7, cool idea! By chance, do you know of any robotics projects using the nexus in this way?</p>
			</div>
			</div>
				<textarea id = "speech-314" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-314">
					<img id="start_img-314" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-314">Comment</button>
			<br><div id = "ans-329"  class = "post">
				<h2>Answer</h2>
			<div id="vote-329" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.ros.org/wiki/ROSberryPi/Setting%20up%20ROS%20on%20RaspberryPi" rel="nofollow">Yes it does</a>, but installing ROS on Debian is do-able, yet not trivial.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-329" data-toggle = "popover">
				<p>user name : joq</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-329">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-329" class = 'collapse'>
			</div>
				<textarea id = "speech-329" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-329">
					<img id="start_img-329" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-329">Comment</button>
			<br><div id = "ans-1189"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1189" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An experimental repository has just been populated with ROS Groovy packages for Raspbian (wheezy), instructions to use it can be found here:</p>

<p><a href="http://www.ros.org/wiki/groovy/Installation/Raspbian" rel="nofollow">http://www.ros.org/wiki/groovy/Installation/Raspbian</a></p>

<p>The repository has 350+ packages and the core ROS packages can be installed in a matter of minutes on a fresh Raspbian install.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1189" data-toggle = "popover">
				<p>user name : Paul M</p>
				<p> user reputation : 49</p>
				<p class = "tagcontent" id = "usertaginfo-1189">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1189" class = 'collapse'>
			</div>
				<textarea id = "speech-1189" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1189">
					<img id="start_img-1189" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1189">Comment</button>
			<br><div id = "ans-6375"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6375" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>yes,</p>

<p>find the download here: </p>

<p><a href="http://answers.ros.org/question/200504/raspbian-jessie-ros-indigo-download-image/" rel="nofollow">http://answers.ros.org/question/200504/raspbian-jessie-ros-indigo-download-image/</a></p>

<p>including framebuffer driver for C-Berry TFT display</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6375" data-toggle = "popover">
				<p>user name : Martin</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6375">{'None': -2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6375">Load Comments</button></br>
			<div id = "commentsection-6375" class = 'collapse'>
			<div id = "comment-9269" class = "comment">
				<p>Sorry Martin, but link only answers aren't really very helpful on Stack Exchange, if you quote the relevant information from the page (it is CC-BY-SA licensed) your answer would be much more useful, and your down votes might get reversed.</p>
			</div>
			</div>
				<textarea id = "speech-6375" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6375">
					<img id="start_img-6375" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6375">Comment</button>
			<br><div id = "ans-7577"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7577" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is a project called <a href="http://wiki.ros.org/ROSberryPi/Setting%20up%20ROS%20on%20RaspberryPi" rel="nofollow">ROSpberry Pi</a>
you can check out.  And a company in Pasadena called <a href="https://acrobotic.com/rpi-00005" rel="nofollow">Acrobotic</a> is now selling SD images of ROSpberry pre-installed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7577" data-toggle = "popover">
				<p>user name : Brian Dolan</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-7577">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7577" class = 'collapse'>
			</div>
				<textarea id = "speech-7577" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7577">
					<img id="start_img-7577" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7577">Comment</button>
			<br><div id = "ans-7844"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7844" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In contrast to what has been said in the other (rather outdated) answers, I've <em>successfully</em> tried running ROS on either <strong>Raspbian</strong> or <strong>Ubuntu</strong> with a <a href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b/" rel="nofollow">Raspberry Pi 2 Model B</a>.</p>

<p>After some back and forth, I'll stick with Ubuntu:
While I didn't managed to access the Raspberry camera module with Ubuntu, I see major advantages in its superior package management and compatibility with ROS. You need some odd new ROS feature? Just <code>sudo aptitude install</code> the package and you're all set.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7844" data-toggle = "popover">
				<p>user name : Falko</p>
				<p> user reputation : 119</p>
				<p class = "tagcontent" id = "usertaginfo-7844">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7844" class = 'collapse'>
			</div>
				<textarea id = "speech-7844" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7844">
					<img id="start_img-7844" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7844">Comment</button>
			<br><div id = "ans-12397"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12397" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>yes. Sure. We've been doing this long time.<br>
ROS is not a "OS" and it's not big. It's just "middleware" which runs well in "raspbian".<br>
We just burn with the official raspbian(so we hope it can make us work on a "stable" environment) and compile the ROS with source. here's the step-by-step link(for Kinetic): <br><a href="http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Kinetic%20on%20the%20Raspberry%20Pi" rel="nofollow noreferrer">http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Kinetic%20on%20the%20Raspberry%20Pi</a>  <br>
you can try ros_comm or desktop.  <br>
I tried ros_comm and then add other packages later. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12397" data-toggle = "popover">
				<p>user name : Nick Qian</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-12397">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12397">Load Comments</button></br>
			<div id = "commentsection-12397" class = 'collapse'>
			<div id = "comment-21798" class = "comment">
				<p>Why don't you use Ubuntu Mate and simply install ROS from the packages?</p>
			</div>
			<div id = "comment-21806" class = "comment">
				<p>because Ubuntu Mate runs slow on the ARM chip on raspberry, both Pi2 and Pi3. Raspbian is lite debian and runs really good on the ARM chip. @FooBar</p>
			</div>
			<div id = "comment-21808" class = "comment">
				<p>Any source for that? I haven't experienced any speed problems.</p>
			</div>
			<div id = "comment-21810" class = "comment">
				<p>I didn't try more after I choosed raspbian. maybe now Ubuntu Mate dist for raspberry is better and smoothly to use. I have interest to try it again because in ubuntu the software management is good. But how about the GPIO? maybe ubuntu new bersion also has gpio support, i don't know....</p>
			</div>
			<div id = "comment-21813" class = "comment">
				<p>So why do you say that it's slow if you haven't tested?</p>
			</div>
			<div id = "comment-21853" class = "comment">
				<p>i didn't "do test". I just used 2 years ago and then changed to raspbian and feel smoothly to use. I didn't pay more attention on which OS to use from that time. maybe things has changed.</p>
			</div>
			<div id = "comment-21854" class = "comment">
				<p>So as a result you have no ideas if Ubuntu Mate runs slowly on the Pi3 because you have never used it?</p>
			</div>
			</div>
				<textarea id = "speech-12397" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12397">
					<img id="start_img-12397" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12397">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>