<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Can we get an early Data Explorer update for Ask Different, for playing with contest data?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1232" class = "post">
			<h2>Question</h2>
			<div id="vote-1232" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can we get an early Data Explorer update for Ask Different, for playing with contest data?</h2>
<p>The <a href="http://data.stackexchange.com/apple/queries" rel="nofollow">Ask Different data</a> on Data Explorer was last updated before the contest opened. Is there a chance it could be updated sooner than next month, so we can worry ourselves sick trying to interpret and test the fine points of the rules? :)</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1232" class = 'collapse'>
			</div>
				<textarea id = "speech-1232" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1232">
					<img id="start_img-1232" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1232">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1233"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1233" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It would be interesting as a single point for data, but it wouldn't be that helpful unless it was updated daily for the full next week.  </p>

<p>Besides, those that are really interested in playing the game can just go to each competitor's user page and do the work by hand.</p>

<p>I'm interested in seeing the slope of each's reputation, since that's what will matter by the end of the contest, as both level 2 and 3 will have more winners than prizes.</p>

<p>On the other hand, the stack exchange API would be able to provide that information for the interested programmer...</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1233">Load Comments</button></br>
			<div id = "commentsection-1233" class = 'collapse'>
			<div id = "comment-2246" class = "comment">
				<p>Good luck divining my slope :-) also, bounties</p>
			</div>
			<div id = "comment-2247" class = "comment">
				<p>@bmike http://apple.stackexchange.com/users/5472/bmike?tab=reputation Tada!  Your slope is steeper than mine, so as long as you get your act together and start sharing links, you'll be more likely to get an ipad than I will.</p>
			</div>
			<div id = "comment-2306" class = "comment">
				<p>Pretty much this. Using the API would be your best bet for up-to-date information.</p>
			</div>
			</div>
				<textarea id = "speech-1233" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1233">
					<img id="start_img-1233" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1233">Comment</button>
			<br><div id = "ans-1250"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1250" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can't you use the API? The documentation for the API includes a reasonably user friendly console for you to retrieve data, although the response is in JSON.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1250">Load Comments</button></br>
			<div id = "commentsection-1250" class = 'collapse'>
			<div id = "comment-2309" class = "comment">
				<p>Yes, I realized this later on. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-1250" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1250">
					<img id="start_img-1250" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1250">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>