<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can I make an automatically-parking robot car with IR sensor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4734" class = "post">
			<h2>Question</h2>
			<div id="vote-4734" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 727</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can I make an automatically-parking robot car with IR sensor?</h2>
<p>It would be easy to understand if you imagine a robotic vacuum cleaner. (For some models) It goes back to a specific place automatically to recharge. Like this, I want to make a robot which automatically goes to the place where a specific signal(like infrared ray) is emitting. 
Following is the scenario that i've imagined.</p>

<p>1.Set the IR emitter in a specific place of a room. It always emits Infrared ray.</p>

<p>2.I connect 4 IR receiver to my 4WD robot car - front, left, right, and back side.</p>

<p>3.They receive IR from the emitter. I earn the distance from the emitter to each receiver with the intensity of IR.</p>

<p>4.With these values, Arduino find out which receiver is closest from the emitter and choose the direction to go.</p>

<p>But I could't know this will be possible. Because IR is a kind of light ray, so I can't get the distance with the difference of arrival time(like Ultrasonic). I searched several kinds of IR sensors, but they were only for sensing the possibility of collision. </p>

<p>So my question is these..</p>

<ol>
<li><p>Can I get the distance and the direction from IR emitter to my arduino device with an IR receiver? </p></li>
<li><p>If I can, then how many IR receivers do I need? And if I can't, what can I use to substitute IR emitters and receivers?</p></li>
<li><p>I guess IR can be interrupted because of sunlight or other light. So I guess I need some daylight filter. Do you think it's essential?? </p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-4734" data-toggle = "popover">
				<p>user name : jungyh0218</p>
				<p> user reputation : 109</p>
				<p class = "tagcontent" id = "usertaginfo-4734">{'None': 0, 'wheeled-robot': 1, 'sensors': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4734">Load Comments</button></br>
			<div id = "commentsection-4734" class = 'collapse'>
			<div id = "comment-7942" class = "comment">
				<p>Having looked at using IR for other projects I believe there is substantial conflict in the information that is returned to the sensor due to natural IR (the Sun).</p>
			</div>
			</div>
				<textarea id = "speech-4734" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4734">
					<img id="start_img-4734" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4734">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4735"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4735" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use time of flight to calculate the distance of an object using infrared; this is very commonly done. Some good, cheap IR sensors are sold by Sharp. You'll have to linearize the output to compute the actual distance as shown here: <a href="http://www.acroname.com/articles/linearizing-sharp-ranger.html" rel="nofollow">http://www.acroname.com/articles/linearizing-sharp-ranger.html</a>. </p>

<p>You can operate the IR emitter used to find the parking spot at a different frequency than the IR emitters used for computing distances and then band-pass filter both to make sure there is no interference.</p>

<p>You should be able to drive towards the parking spot with just a single IR, turning in order to maximize the signal strength. Two would probably work better, where you turn in order to make the IR intensity on both equal (these would be placed in the front of the vehicle, probably similar to where headlights would be placed).</p>

<p>I believe the Sharp IR rangers already do some filtering, but I'm not sure as to what extent. In terms of sunlight, there's a ton of discussion about this topic if you just google it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4735" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-4735">{'None': 54}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4735" class = 'collapse'>
			</div>
				<textarea id = "speech-4735" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4735">
					<img id="start_img-4735" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4735">Comment</button>
			<br><div id = "ans-4736"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4736" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you use several IR receivers (say, 9 of them) spaced out over a $90^\circ$ arc at regular intervals, you will have constructed a makeshift sensor for detecting the angle of a remote IR emitter.  Between that and moving (and/or rotating) known distances with your vehicle, you should be able to <a href="http://en.wikipedia.org/wiki/Triangulation" rel="nofollow">triangulate</a> the location of the nearest IR source.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4736" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4736">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4736">Load Comments</button></br>
			<div id = "commentsection-4736" class = 'collapse'>
			<div id = "comment-9164" class = "comment">
				<p>They could use just one sensor and periodically spin 360 deg to measure the direction to the emitter. They would probably need encoders on the wheels as well.</p>
			</div>
			<div id = "comment-9227" class = "comment">
				<p>That's very true.  This project seems designed for simplicity, so I suggested the option with fewer moving parts.  But a mechanically-scanning version would certainly provide greater accuracy.</p>
			</div>
			</div>
				<textarea id = "speech-4736" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4736">
					<img id="start_img-4736" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4736">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>