<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Can DHCP be removed as Tag Synonym for Networking?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1952" class = "post">
			<h2>Question</h2>
			<div id="vote-1952" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can DHCP be removed as Tag Synonym for Networking?</h2>
<p>Networking is very general and large, DHCP will narrow it much down. </p>

<p>As DHCP is a dynamically created range of IP which will be automatically assigned to a device.
Networking on the other hand is very large.</p>

<p>If a user decides to enter the Tag DHCP it will be a much easier subject to handle than just Networking.</p>

<p>I'll add an excerpt and other information if it can be done.</p>

<hr>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/networking" class="post-tag" title="show questions tagged &#39;networking&#39;" rel="tag">networking</a> (1121 tagged)</p>

<blockquote>
  <p>Questions about configuring, troubleshooting or using connections that one device uses to talk to another.</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/dhcp" class="post-tag" title="show questions tagged &#39;dhcp&#39;" rel="tag">dhcp</a> (synonym, 2 renames)</p></li>
</ul>

			</div>
			<div id = "userinfo-1952" style = "float:right">
				<p>user name : Rob</p>
				<p> user reputation : 5701</p>
				<p> user tag wise history : {'None': 17, 'editing': 4, 'status-completed': 1, 'tags': -2, 'discussion': 11, 'answers': 3, 'bug': 8, 'close-reasons': 0, 'reputation': 3, 'design': 6, 'accepted-answer': 3, 'chat': 5, 'flagging': 3, 'status-bydesign': 3, 'status-declined': -2, 'review-page': 9, 'support': 11, 'badges': 4, 'feature-request': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1952">Load Comments</button></br>
			<div id = "commentsection-1952" class = 'collapse'>
			<div id = "comment-3750" class = "comment">
				<p>What would splitting the tags do that can't be accomplished by simply searching for DHCP in the first place? Basically, could you elaborate on why this would be good or what benefit accrues if the change were made?</p>
			</div>
			<div id = "comment-3751" class = "comment">
				<p>I tought of DHCP being a bigger part, but I assume finding for networking will do as grgarside answered.  Time to accept it and move on.</p>
			</div>
			<div id = "comment-3753" class = "comment">
				<p>It's a good question, thanks for asking it - I didn't mean to shut down discussion if here was more to the thought or you want to expand on it later. I should have answered yes, the synonym can be split and building a rationale why here is the best way to do it.</p>
			</div>
			<div id = "comment-3754" class = "comment">
				<p>I understand it, but I tought of a person knowing a bit more of DHCP than any other "default" networking question it would be nice to split it up. But grgarside point is valid enough for me.</p>
			</div>
			<div id = "comment-3760" class = "comment">
				<p>If you know enough about dhcp I suspect you would be looking (and definitely if you are asking) on ServerFault</p>
			</div>
			</div>
				<textarea id = "speech-1952" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1952">
					<img id="start_img-1952" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1952">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1955"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1955" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Personally I disagree with this, since every question tagged <em>dhcp</em> should be tagged <em>networking</em> anyway and if someone tags with <em>dhcp</em> but not <em>networking</em> then the question may be missed by those that are following the <em>networking</em> tag (this would mean that one would have to follow two tags) and would probably lead to the question being edited to add the <em>networking</em> tag.</p>
</p><br>
			</div>
			<div id = "userinfo-1955" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1955">Load Comments</button></br>
			<div id = "commentsection-1955" class = 'collapse'>
			<div id = "comment-3815" class = "comment">
				<p>I'll add: It's also very likely that any question about DHCP would have already mentioned that term specifically, so a tag adds little, whereas a question about DHCP might not have mentioned the word "networking", so that tag is additive.</p>
			</div>
			</div>
				<textarea id = "speech-1955" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1955">
					<img id="start_img-1955" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1955">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>