<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can i use DC Brushed motors for building a drone?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8879" class = "post">
			<h2>Question</h2>
			<div id="vote-8879" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1596</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can i use DC Brushed motors for building a drone?</h2>
<p>I want to make a drone. But my budget is very low. Brushless motors are very expensive. I want use the Brushed CHEAP ones. can i us them ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8879" data-toggle = "popover">
				<p>user name : user3099225</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-8879">{'quadcopter': 0, 'brushless-motor': 0, 'None': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8879" class = 'collapse'>
			</div>
				<textarea id = "speech-8879" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8879">
					<img id="start_img-8879" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8879">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8880"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8880" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most cheap small multirotors use use brushed motors.</p>

<p>Some examples:</p>

<ul>
<li><a href="http://www.banggood.com/Cheerson-CX10-CX10-Mini-24G-4CH-6-Axis-LED-RC-Quadcopter-RTF-p-926614.html" rel="nofollow">http://www.banggood.com/Cheerson-CX10-CX10-Mini-24G-4CH-6-Axis-LED-RC-Quadcopter-RTF-p-926614.html</a></li>
<li><a href="http://www.banggood.com/Eachine-H8-Mini-Headless-Mode-2_4G-4CH-6-Axis-RC-Quadcopter-RTF-p-975808.html" rel="nofollow">http://www.banggood.com/Eachine-H8-Mini-Headless-Mode-2_4G-4CH-6-Axis-RC-Quadcopter-RTF-p-975808.html</a></li>
</ul>

<p>The drawback with brushed motors is that they are much less efficient and can produce less torque. Thus, they have to run at a much higher RPM in order to produce sufficient power.
I think you will find that it will be harder to manage crisp control of your multirotor with brushed motors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8880" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8880">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8880">Load Comments</button></br>
			<div id = "commentsection-8880" class = 'collapse'>
			<div id = "comment-18642" class = "comment">
				<p>If you look up the specs for the Nano brushed motors you will see they have a nominal 5 hour life. https://micro-motor-warehouse.com/collections/all-motors/products/cl-0615-14 >> lifetime rating 5-6 hours. Cheap costs more in the long run.</p>
			</div>
			</div>
				<textarea id = "speech-8880" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8880">
					<img id="start_img-8880" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8880">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>