<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can't connect to BeagleBone Webserver?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6833" class = "post">
			<h2>Question</h2>
			<div id="vote-6833" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1100</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can't connect to BeagleBone Webserver?</h2>
<p>I'm following this <a href="http://beagleboard.org/getting-started" rel="nofollow">getting started</a> tutorial, connected the board to USB and it's detected as mass storage, got the driver installed (Win 64), and at the third step I wasn't able to connect to BeagleBone webserver at 192.168.7.2, anything I did wrong? Please help.</p>

<p>Here is some troubleshooting info from Getting Started page, I've followed them all. I'm using Chrome, tried the node-webkit based application, not in a Virtual Machine, not using SSH just trying to access the webserver.</p>

<blockquote>
  <p><strong>Troubleshooting</strong></p>
  
  <p>Do not use Internet Explorer.</p>
  
  <p>One option to browse your board is to use this node-webkit based
  application (currently limited to Windows machines):
  beaglebone-getting-started.zip.</p>
  
  <p>Virtual machines are not recommended when using the direct USB
  connection. It is recommended you use only network connections to your
  board if you are using a virtual machine.</p>
  
  <p>When using 'ssh' with the provided image, the username is 'root' and
  the password is blank.</p>
  
  <p>Visit beagleboard.org/support for additional debugging tips.</p>
</blockquote>

<p>UPDATE:
- I tried to install Ubuntu on my machine and connect the BeagleBone, it need not any driver and I can immediately access the webserver after ejecting the mass storage, enabling the 'USB-to-Ethernet Interface'. However in Windows ejecting the mass storage still does nothing. Still trying to make it connect in Windows.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6833" data-toggle = "popover">
				<p>user name : Nur</p>
				<p> user reputation : 122</p>
				<p class = "tagcontent" id = "usertaginfo-6833">{'brushless-motor': 0, 'mobile-robot': 2, 'None': 0, 'beagle-bone': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6833">Load Comments</button></br>
			<div id = "commentsection-6833" class = 'collapse'>
			<div id = "comment-9774" class = "comment">
				<p>Can you ping it?</p>
			</div>
			<div id = "comment-9775" class = "comment">
				<p>I can't. I have made some progress by connecting via Linux instead of Windows, I'll update the post. Please take a look at the post.</p>
			</div>
			<div id = "comment-9777" class = "comment">
				<p>Can you please elaborate more about the issues you are encountering in the third step.  When you connect the board, do you see the green banner at the top of the webpage stating "Your board is connected!"?</p>
			</div>
			<div id = "comment-9779" class = "comment">
				<p>I don't see any green bar, is it in the getting started page? Even in Linux which is my BB is accessible there is no green bar.</p>
			</div>
			<div id = "comment-9782" class = "comment">
				<p>Yes, the green bar should be on the top of the getting started page.  You're running a 64-bit windows, right? Also what revision of the beaglebone do you have?</p>
			</div>
			<div id = "comment-9790" class = "comment">
				<p>Yes it's Windows 8.1 64 bit, still I can't see the green bar. It's Rev A6 in the box, is it outdated?</p>
			</div>
			<div id = "comment-9924" class = "comment">
				<p>It works out of the blue now :/</p>
			</div>
			<div id = "comment-9925" class = "comment">
				<p>It doesn't work again I'm at loss..</p>
			</div>
			<div id = "comment-10162" class = "comment">
				<p>The latest version of Debian image fixed my problem.</p>
			</div>
			</div>
				<textarea id = "speech-6833" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6833">
					<img id="start_img-6833" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6833">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>