<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Can't Read current on Pololu Dual MC33926 Motor Driver Shield for Arduino
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4577" class = "post">
			<h2>Question</h2>
			<div id="vote-4577" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 516</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Can't Read current on Pololu Dual MC33926 Motor Driver Shield for Arduino</h2>
<p>I purchased a <a href="http://www.pololu.com/product/2503" rel="nofollow">Pololu Dual MC33926 Motor Driver Shield for Arduino</a>, and for some reason I cannot read current from the motor controller. On the Serial.println() it just prints weird data (garbage), and when I use ROS (Robot Operating System) I only see -0.0 (minus zero) value for both motors.</p>

<p>All I've done is plug the shield on my Arduino UNO R3 model, and run the demo that comes with the sample library --
<a href="http://github.com/pololu/dual-mc33926-motor-shield" rel="nofollow">http://github.com/pololu/dual-mc33926-motor-shield</a> .</p>

<p>How can I fix this issue?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4577" data-toggle = "popover">
				<p>user name : Pototo</p>
				<p> user reputation : 43</p>
				<p class = "tagcontent" id = "usertaginfo-4577">{'control': 0, 'stepper-driver': 1, 'None': 0, 'noise': 2, 'circuit': 0, 'arduino': 1, 'wheeled-robot': 1, 'microcontroller': 1, 'driver': 2, 'h-bridge': 0, 'current': 1, 'differential-drive': 5, 'imu': 2, 'motor': 1, 'actuator': 1, 'ros': 7, 'navigation': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4577">Load Comments</button></br>
			<div id = "commentsection-4577" class = 'collapse'>
			<div id = "comment-7183" class = "comment">
				<p>Maybe a silly question:
but do you have chosen the right baut-rate?
In the example code they use 115200.
Not the default 9600</p>
			</div>
			<div id = "comment-7200" class = "comment">
				<p>What do you see when you use a multimeter to measure the voltage at the holes labeled M1FB and M2FB relative to GND?</p>
			</div>
			<div id = "comment-7201" class = "comment">
				<p>Does the demo make your motors turn, or does running the demo have no visible effect?</p>
			</div>
			</div>
				<textarea id = "speech-4577" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4577">
					<img id="start_img-4577" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4577">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4581"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4581" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When there is miscommunications between the microcontroller and a chip, assuming the electronics are not damaged, there could be a couple of things that can go wrong. Of course, further diagnosis is required. Typical things that could go wrong are (generally, not just in your particular case):</p>

<ol>
<li>Connections: Is the chip connected to the correct power supply? Is it soldered correctly? Did you connect the right pins together?

<ul>
<li>A <a href="https://en.wikipedia.org/wiki/Multimeter" rel="nofollow noreferrer">tester (multimeter)</a> along with the datasheets are helpful to verify that the connections are alright.</li>
</ul></li>
<li>Bus requirements: Are all requirements of the bus fulfilled? Some buses (e.g. <a href="https://en.wikipedia.org/wiki/CAN_bus" rel="nofollow noreferrer">CAN</a>) need terminating resistors. Some have limitations on the the length.

<ul>
<li>The microcontroller datasheets usually have information and even useful example pictures that show how the bus must be connected.</li>
</ul></li>
<li>Noise: Assuming no external noise, on high frequencies the bus has to meet other criteria. For example <a href="https://en.wikipedia.org/wiki/Microstrip#Bends" rel="nofollow noreferrer">90 degree bends cause reflection</a>.

<ul>
<li>An oscilloscope helps here. If there are reflections, you would see noise over your signal. If the noise makes the signal go as far as reaching the middle voltage (between logical 0 and 1), there is a good chance the hardware would misread the bit. This is especially bad on the clock bus, if any.</li>
</ul></li>
<li>Configuration: Are the pins and peripherals of the microcontroller correctly configured?

<ul>
<li>Read the datasheets very carefully and pay attention to every single line. Don't take one line "notes" lightly, they often contain information that if missed would make the peripheral not work. Look at the errata of the microcontroller as well for possible hardware bugs.</li>
</ul></li>
</ol>

<p>Since your bus is UART, I'd say number 2 and 3 are likely not an issue. After checking the connections, I would verify that the configuration is ok. As <a href="https://robotics.stackexchange.com/questions/4577/cant-read-current-on-pololu-dual-mc33926-motor-driver-shield-for-arduino#comment7183_4577">kinkilla commented</a>, it could very well be that you configured the wrong baud rate for your bus.</p>

<p>If you still cannot figure out what the problem is, it is best to attach an oscilloscope and see what signals are actually on the wires.  There are very good oscilloscopes that are expensive (but you may have access to if your lab or work environment has one), but there are also very cheap ones that attach to the computer with USB and all the software runs there. The cheap ones cannot measure with as much detail as the expensive ones, but with UART speeds that is not at all an issue.</p>

<p>That said, you can check with oscilloscope what signal is on the wire. If the signal has a bad shape and is coming from a chip you didn't configure (so we can assume it should work correctly out of the box), it could be that the bus is shorted with another or the microcontroller is badly configured (so there are more than one person driving the bus. If the signal is coming from the microcontroller, there could be similar reasons as well as bad configuration. If the signal is ok, then you are receiving it badly. If the bus is correctly connected to the microcontroller, then the cause is most likely the configuration of the microcontroller.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4581" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-4581">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4581" class = 'collapse'>
			</div>
				<textarea id = "speech-4581" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4581">
					<img id="start_img-4581" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4581">Comment</button>
			<br><div id = "ans-5270"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5270" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sensitivity of the sensor is approx. 525 mV/A. I was trying the same motor Driver - MC33926 and when there was a very low load of the motor, the 0 as the output was correct, because it was drawing very small current.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5270" data-toggle = "popover">
				<p>user name : user7804</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-5270">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5270" class = 'collapse'>
			</div>
				<textarea id = "speech-5270" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5270">
					<img id="start_img-5270" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5270">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>