<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cant see Kinect Data in ROS
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1025" class = "post">
			<h2>Question</h2>
			<div id="vote-1025" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3722</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cant see Kinect Data in ROS</h2>
<p>I am working on this project that involves using the Kinect for XBOX 360S with ROS.</p>

<p>I did all the steps mentioned in the ROS Tutorials to have Openni Installed and the Prime sense and other drivers. and when i go to Openni samples i see a output. But in ROS i do a roscore and in another terminal do a roslaunch openni_launch openni.launch. And it loads with the regular calibration warnings and service already registered errors. Then in another terminal i open Rviz which gives a error /.rviz/display_config does not exist. And even though i accept the error and go ahead i see a black window which shows no output ,even if i do all tasks mentioned at the RVIZ Tutorials. Also i tried running "rosrun image_view image_view image:=/camera/rgb/image_color" and it shows up a blank window with no output. How do i resolve this and get ros to show my kinect data??</p>

<p>I need to run RGBDSLAM and use this kinect later.</p>

<p>I am on Ubuntu 12.04 and ROS-Fuerte.</p>

<p>Well when i launch the openni.launch it starts as usual except for the errors  Tried to advertise a service that is already advertised in this node.</p>

<p>And when i run a rostopic it just says subscribed to the /camera/depth_registered/points and cursor keeps blinking.
Even subscribing to the rectified topics just says subscribed and nothing more happens.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1025" data-toggle = "popover">
				<p>user name : Preetham Hegde</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-1025">{'quadcopter': -3, 'None': 0, 'arduino': -3, 'kinect': 1, 'slam': -3, 'ros': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1025">Load Comments</button></br>
			<div id = "commentsection-1025" class = 'collapse'>
			<div id = "comment-2409" class = "comment">
				<p>roslaunch will start a core if one does not already exist. I wonder whether starting roscore before executing roslaunch is causing trouble. Try executing roslaunch without first executing roscore.</p>
			</div>
			<div id = "comment-2444" class = "comment">
				<p>Using roslaunch with roscore open should not cause a problem. I'd suggest running 'roswtf' and 'rxgraph' to make sure nodes are connected as they should be for a first pass. Also check this out to see if this is your problem. [http://answers.ros.org/question/50730/rviz-start-up-error/](http://answers.ros.org/question/50730/rviz-start-up-error/)</p>
			</div>
			<div id = "comment-2446" class = "comment">
				<p>@brnd4n On running roswtf i get 17 Errors "Communication with /camera/depth/metric/ failed.</p>
			</div>
			<div id = "comment-2447" class = "comment">
				<p>And on running rxgraph i get a graph in which all paths are pointing an arrow towards/rosout.</p>
			</div>
			<div id = "comment-2471" class = "comment">
				<p>To get a little more help with this, try posting your rxgraph and some other information.</p>
			</div>
			</div>
				<textarea id = "speech-1025" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1025">
					<img id="start_img-1025" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1025">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1434"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1434" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Try <a href="http://ros.org/wiki/freenect_stack" rel="nofollow">freenect</a>, there are some problems with OpenNI solution.</p>

<p>Firt, install freenect by</p>

<pre><code>sudo apt-get install ros-fuerte-freenect-stack
</code></pre>

<p>After installation, connect your kinect (in USB 2.0 port) and run freenect </p>

<pre><code>roslaunch freenect_launch freenect.launch
</code></pre>

<p>Then run Rviz and set Fixed frame to /camera_link, you can now add PointCloud2 window and select the right topic to view the input.</p>

<pre><code>rosrun rviz rviz
</code></pre>

<p>Hope you enjoy ROS!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1434" data-toggle = "popover">
				<p>user name : Po-Jen Lai</p>
				<p> user reputation : 158</p>
				<p class = "tagcontent" id = "usertaginfo-1434">{'None': 4, 'slam': 3, 'sensors': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1434" class = 'collapse'>
			</div>
				<textarea id = "speech-1434" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1434">
					<img id="start_img-1434" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1434">Comment</button>
			<br><div id = "ans-1631"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1631" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First of all, I know this is not an answer, however since I am a new user I cannot comment on Preetham's question.</p>

<p>I have a very similar problem, however, when I first run roswtf, I get no errors but when I wait a bit after using rviz or trying to record a bagfile, the openni.launch terminal itself gives me this error:</p>

<p>terminate called after throwing an instance of 'openni_wrapper::OpenNIException'
  what():  virtual void openni_wrapper::OpenNIDevice::startImageStream() @ /tmp/buildd/ros-groovy-openni-camera-1.8.8-0precise-20130418-2203/src/openni_device.cpp @ 224 : starting image stream failed. Reason: Xiron OS got an event timeout!
[camera_nodelet_manager-2] process has died [pid 3788, exit code -6, cmd /opt/ros/groovy/lib/nodelet/nodelet manager __name:=camera_nodelet_manager __log:=/home/rosbotics/.ros/log/16b63744-e043-11e2-ac16-080027486aa8/camera_nodelet_manager-2.log].
log file: /home/rosbotics/.ros/log/16b63744-e043-11e2-ac16-080027486aa8/camera_nodelet_manager-2*.log</p>

<p>and roswtf  displays:</p>

<p>unknown network error contacting node: timed out</p>

<p>Warning These nodes have died:</p>

<ul>
<li>camera_nodelet_manager-2</li>
</ul>

<p>found 2 errors</p>

<p>ERROR The following nodes should be connected but aren't:</p>

<ul>
<li><p>/camera_base_link1->/camera_nodelet_manager (/tf)</p></li>
<li><p>/camera_base_link->/camera_nodelet_manager (/tf)</p></li>
<li><p>/camera_base_link3->/camera_nodelet_manager (/tf)</p></li>
<li><p>/camera_base_link2->/camera_nodelet_manager (/tf)</p></li>
</ul>

<p>ERROR Errors connecting to the following services: (then it displays a lot of services)</p>

<p>At first After looking around a bit I thought it was a problem with openni and tried using freenect instead, however that too gave a black screen. Then I tried using something completely unrelated to ros, freenect-glview, however that too gave me a black screen.</p>

<p>lsusb shows that all 3 parts of the kinect are connected and I've been able to control the kinect's motor through ubuntu so I know that there is at least a connection established between both.</p>

<p>I am using ubuntu 12.04 and ROS-Groovy.</p>

<p>I would appreciate anyone's help on the matter.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1631" data-toggle = "popover">
				<p>user name : Y R</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-1631">{'kinect': 5, 'None': 1, 'ros': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1631">Load Comments</button></br>
			<div id = "commentsection-1631" class = 'collapse'>
			<div id = "comment-3414" class = "comment">
				<p>Welcome to StackExchange and thanks for contributing. Read the "About" link near the search bar for a badge.</p>
			</div>
			</div>
				<textarea id = "speech-1631" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1631">
					<img id="start_img-1631" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1631">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>