<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cascading PID DC Motor Position & Velocity Controllers
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4318" class = "post">
			<h2>Question</h2>
			<div id="vote-4318" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2235</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cascading PID DC Motor Position & Velocity Controllers</h2>
<p>I'm trying to build a robot with a differential drive powered by two DC Motors. First I implemented a PID Controller to control the velocity of each motor independently. Estimated the TF using the MATLAB's System Identification Toolbox, of the open loop system by the acquiring the velocity of each wheels encoder in function of the PWM signal applied by an Arduino microcontroller. All went well and i successfully dimensioned the PID gains for this controller.</p>

<p>What I'm trying to accomplish now is to control the exact (angular) position of the DC Motor. I thought in cascading a PID controller in the input of the other already implemented. So this way, I can give a position to the first controller, which will be capable of generate an output reference to the second (velocity) controller so it generates the appropriate PWM value signal to drive the DC Motor accordingly.</p>

<p>Will it work? Is that a good approach? Or should I try to implement a different controller which outputs the PWM signal in response to a position reference signal?</p>

<p>Many thanks for your attention and I hope somebody can help me with these doubts.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4318" data-toggle = "popover">
				<p>user name : Ricardo Frederico Leote Mota</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-4318">{'control': 6, 'None': 0, 'arduino': 6, 'pid': 6, 'microcontroller': 6, 'wheeled-robot': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4318">Load Comments</button></br>
			<div id = "commentsection-4318" class = 'collapse'>
			<div id = "comment-6875" class = "comment">
				<p>Yes.  It will work well and is pretty standard in commercial motion controllers.  If your velocity loop is working well on a single motor you can put a position loop over it.  Having a position controller "fight" with your velocity controller (both controlling the PWM) will not work at all.</p>
			</div>
			<div id = "comment-6889" class = "comment">
				<p>@GuySirton - I don't think he's talking about fighting controllers.</p>
			</div>
			<div id = "comment-11077" class = "comment">
				<p>I am having a very difficult time controlling velocity and position of a servo motor with encoder feedback. I implemente the pid but i can not find suitable gains for it. Can anyone share some code for velocity control? please? Arsh</p>
			</div>
			<div id = "comment-11078" class = "comment">
				<p>If you have a new question, please ask it by clicking the [Ask Question](http://robotics.stackexchange.com/questions/ask) button. Include a link to this question if it helps provide context.</p>
			</div>
			<div id = "comment-11079" class = "comment">
				<p>Welcome to *robotics* Arsh, but on Stack exchange *answers* need to answer the question. If you have a question, it should be asked as a new question (ideally referencing the original question if it related to another one). Take a look at [ask] and [about] for more information on how stack exchange works. Before asking a question though, make sure that it hasn't already been asked and answered: [What are good strategies for tuning PID loops?](http://robotics.stackexchange.com/q/167/37).</p>
			</div>
			</div>
				<textarea id = "speech-4318" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4318">
					<img id="start_img-4318" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4318">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4322"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4322" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm a little confused, are you trying to control each wheel's exact position or the overall position of the robot. For the former, a cascaded structure makes sense where the robot position control loop defines desired velocities for each motor.</p>

<p>For the latter (which sounds a little strange to me), you should just be able to treat the velocity as the 'D' part of your position controller, and not do a separate velocity controller. </p>

<p>$$
\begin{align}
  u = - k_p (p - p^d) - k_d (v - v^d) - k_i \int_0^t (p(t) - p^d(t)) dt
\end{align}
$$
where $p$ and $v$ are the measure position and velocity respectively, and $\cdot^d$ indicates the desired value.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4322" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-4322">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4322">Load Comments</button></br>
			<div id = "commentsection-4322" class = 'collapse'>
			<div id = "comment-6873" class = "comment">
				<p>I'm actually trying to control each wheel's exact position. I've already implemented the PID controller, but I'm having some troubles tuning it... I've used an 'deadband' limit to which I consider the wheel is in the position required - because my encoders have a big resolution (7800 'ticks'/revolution) and is difficult to stop it on an exact reference 'tick'. However I need to use a pretty large deadband so that the motor doesn't keep oscillating back and forth on the goal position (200 ticks), so I still have a pretty bad resolution, maybe if I can tune the PID better... ?</p>
			</div>
			<div id = "comment-6874" class = "comment">
				<p>Tuning, in general, is a separate issue. As a starting point, though, make sure you have no integrator and tune P and D until it looks good, but maybe has a constant offset. Then slowly increase the integrator until it starts to look bad and then cut it in half. Also, generally using a deadband like you're doing should be avoided (though sometimes it may be needed).</p>
			</div>
			</div>
				<textarea id = "speech-4322" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4322">
					<img id="start_img-4322" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4322">Comment</button>
			<br><div id = "ans-4334"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4334" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have done this myself, controlling the exact position of a brushless DC motor as its velocity ramps up and down. And I did it using a position controller only. Sounds obvious, but it worked extremely well.</p>

<p>The integral term of the controller is key to this. Since you want the position error to be as close to zero as possible the whole time, but you need a large output from the controller to drive the motor, most of this comes from the I term.</p>

<p>The other thing you need to add is a feed forward term, which feeds some of the demanded acceleration to the output. This will give the controller the extra power it needs to track rapid velocity changes. We could call this an FPID controller. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4334" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4334">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4334">Load Comments</button></br>
			<div id = "commentsection-4334" class = 'collapse'>
			<div id = "comment-6892" class = "comment">
				<p>This can work but the more standard approach is profile generation->position loop->velocity loop ... This would work better than just trying to close the loop on position.  And yes, feed-forward is also pretty standard and makes a huge difference.  The better your feed-forward the less work your control loop has.</p>
			</div>
			<div id = "comment-6901" class = "comment">
				<p>Hi @Rocketmagnet, I've already implemented the position controller and cascaded it with velocity controller, but I'm having some difficulties trying to tune the (as I explained in my previous comment to @ryan0270), maybe you can help me on that? :\</p>
			</div>
			</div>
				<textarea id = "speech-4334" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4334">
					<img id="start_img-4334" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4334">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>