<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>CC3D PWM control signal characteristic (to be simulated by Raspberry PI)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10241" class = "post">
			<h2>Question</h2>
			<div id="vote-10241" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 498</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>CC3D PWM control signal characteristic (to be simulated by Raspberry PI)</h2>
<p>My goal is to control drone by Raspberry PI. The Raspberry PI uses camera and OpenCV, sends control commands to AVR microcontroller which will generate the PWM control signal. Meaning that it will simulate pilot with transmitter-receiver setup.</p>

<p>In other words (to make it more clear). Raspberry tells the Atmega8 that the drone needs to go more forward. Atmega8 generates custom PWM signals on 8 pins. Those signals are sent directly to CC3D pins responsible for roll, pitch etc. Atmega8 replaces controller receiver in this setup. It generates signal not based on user input but on what Raspberry tells it.</p>

<p>In order to do that I need the parameters (period, voltage etc.) of the PWM signal that CC3D accepts to properly simulate it. I have found this topic:</p>

<p><a href="https://robotics.stackexchange.com/questions/8965/cc3d-replacing-rc-emitter-with-an-rpi?newreg=1af0c139fc9f44bab93b847d3d906fdf">CC3D - Replacing RC emitter with an RPi</a></p>

<p>He has the same problem as I do and he found the solution. Unfortunately I can't send pm and I can't comment because I'm new to the site... so basically there is no way for me to contact him.</p>

<p>So any help would be appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10241" data-toggle = "popover">
				<p>user name : MrOneTwo</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-10241">{'quadcopter': 1, 'None': 1, 'raspberry-pi': 1, 'arduino': 1, 'avr': 1, 'uav': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10241">Load Comments</button></br>
			<div id = "commentsection-10241" class = 'collapse'>
			<div id = "comment-18292" class = "comment">
				<p>Welcome to *Robotics* MrOneTwo, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to **include details of what you want to achieve, what you tried, what you saw & what you expected to see**. Please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			<div id = "comment-18293" class = "comment">
				<p>For starters, in [Fig 3-13 of the manual](http://www.geeetech.com/Documents/CC3D%20flight%20control%20board.pdf) (the only manual I could find; the openpilot site seems to be down), it shows "Min 1000, Mid 1500, Max 2000". This would seem to be in-line with [standard hobby servo timing](http://electronics.stackexchange.com/q/129961/76598). Have you tried this? What did you get?</p>
			</div>
			<div id = "comment-18387" class = "comment">
				<p>@Chuck - I tried to make it more clear. Hopefully it's good enough now. Also thank you for those links. I wrote a program for AVR microcontroller which generates signals like that. I will hopefully test it soon (wasn't able to perform any proper tests yet) and will keep this question updated for others.</p>
			</div>
			<div id = "comment-18389" class = "comment">
				<p>@MrOneTwo even i am trying to do the same thing...i tried contacting him...commented also...but looks like he is no more active here.. :(</p>
			</div>
			</div>
				<textarea id = "speech-10241" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10241">
					<img id="start_img-10241" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10241">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10319"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10319" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ok I actually was able to make it work.</p>

<p>First of all in the beginning of the testing I used my own program which generated PWM signals. I wanted to make them 50Hz with 1.5ms of duty cycle being neutral position (of stick of the controller for example), 2ms max and 1ms min. Unfortunately when I connected my microcontroller to the CC3D I wasn't able to get through calibration of the controller reliably.</p>

<p>So you could understand everything: I wrote a program in Python which reads keyboard buttons presses and sends data packet to microcontroller. By default the data sent from computer to AVR micro controller connected to CC3D looks as follows:</p>

<p>a500b500c500d500e500f500g</p>

<p>When I press one of the keys defined in Python program it would send:</p>

<p>a500b900c500d500e500f500g</p>

<p>The micrcontroller breaks down this message and uses the numerical values between letters to modify the PWM duty cycle.</p>

<p>I tested it again and again and sometimes I could get through calibration in LibrePilot (program to configure CC3D) but after the program showed really crazy behaviour of the sticks and buttons on the controller.</p>

<p>THE SOLUTION:
Actually the solution is simple. <strong>Just use servo library for Arduino</strong> (I'm using Atmega8 with external 16Mhz and Arduino bootloader). It generates almost perfect 50Hz (my program couldn't generate as good of a custom PWM). With signal like that LibrePilot calibrates properly. Also worth pointing out is that you don't have to have those values of 1.5ms, 1ms, and 2ms set on the microcontroller. If the values are reasonable the LibrePilot's calibration process will be able to use the duty cycle you signal generates and bind it to max, min, neutral.</p>

<p>Below you can see how my hardware looks like. I hope I described everything clearly.</p>

<p><a href="https://i.stack.imgur.com/Ld0Nw.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Ld0Nw.jpg" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10319" data-toggle = "popover">
				<p>user name : MrOneTwo</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-10319">{'quadcopter': 1, 'None': 1, 'raspberry-pi': 1, 'arduino': 1, 'avr': 1, 'uav': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10319" class = 'collapse'>
			</div>
				<textarea id = "speech-10319" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10319">
					<img id="start_img-10319" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10319">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>