<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>CC3D connector cable connection with receiver
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13967" class = "post">
			<h2>Question</h2>
			<div id="vote-13967" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 18</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>CC3D connector cable connection with receiver</h2>
<p>I am trying to make my First Quadcopter but having problem with cc3d connection, The CC3D cable seems extremely complicated. I would have figured the pin out would have started with a red/black/white for the power/ground/signal for the first port of the receiver but the colors are all weird. They are in order:</p>

<p>Black
Red
Blue
Yellow
White
Green
Blue
Yellow</p>

<p>The duplicate colors and the white in the middle is throwing me off. I've searched openpilot.org but can't seem to find a wiring diagram or a pin out diagram to tell whats what. Just wondering if someone can help me out. How should I connect these in Flysky FS-i6 Receiver?</p>

<p>cable sequence is below</p>

<p><a href="https://i.stack.imgur.com/4wOv7.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4wOv7.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13967" data-toggle = "popover">
				<p>user name : Abhishek Tandon</p>
				<p> user reputation : 114</p>
				<p class = "tagcontent" id = "usertaginfo-13967">{'control': 2, 'quadcopter': 0, 'None': 0, 'radio-control': 0, 'microcontroller': 2, 'wheeled-robot': 2, 'mechanism': 2, 'robotic-arm': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13967" class = 'collapse'>
			</div>
				<textarea id = "speech-13967" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13967">
					<img id="start_img-13967" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13967">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-13978"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13978" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Got it.</p>

<p>Some connectors comes with same color for some wires.</p>

<p>Try to follow the connection from left to right, as shown on the pictures on the course.</p>

<p>The first cable that goes to the receives has 3 wires, the rest are only one. Follow according to the position,
first cable on first channel of the receiver and so on. Ignore the collors and follow the picture:
<a href="https://i.stack.imgur.com/hqDVY.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/hqDVY.png" alt="CC3D wire diagram"></a></p>

<p>Throttle is channel 1, Roll is channel 2 and so on.</p>

<p>Btw, on the receiver follow the correct polarity for the first cable. Black wire goes outside. The other wires (the alone ones) should be in the same position as the white whire of the first channel.</p>

<p>This could be the problem.</p>

<p>Hope that helps! </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13978" data-toggle = "popover">
				<p>user name : Silvio Gollega Jr.</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-13978">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13978" class = 'collapse'>
			</div>
				<textarea id = "speech-13978" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13978">
					<img id="start_img-13978" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13978">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>