<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>CC3D OpenPilot - Communication port
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8888" class = "post">
			<h2>Question</h2>
			<div id="vote-8888" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 406</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>CC3D OpenPilot - Communication port</h2>
<p>I am building a quadrotor with a CC3D (OpenPilot) and a RPi. </p>

<p>My first idea is trying to communicate the CC3D with the RPi using the main port of the first one but I can't find any information about how to communicate the board with any device (or other information about the commands or serial configuration).</p>

<p>Anybody knows whether this is possible and where to find that info??</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8888" data-toggle = "popover">
				<p>user name : osuarez</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-8888">{'control': 5, 'stereo-vision': 2, 'beginner': 3, 'pid': 3, 'uav': 5, 'slam': 3, 'robotic-arm': 0, 'mobile-robot': 7, 'forward-kinematics': 0, 'cameras': 2, 'kinect': 0, 'visual-servoing': 2, 'matlab': 1, 'motion-planning': 4, 'movement': 1, 'odometry': 1, 'None': 2, 'inverse-kinematics': 0, 'raspberry-pi': 7, '3d-reconstruction': 2, 'quadcopter': 9, 'computer-vision': 6, 'geometry': 3, 'c++': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8888">Load Comments</button></br>
			<div id = "commentsection-8888" class = 'collapse'>
			<div id = "comment-17585" class = "comment">
				<p>Which main port are you referring to? The one to rc receiver? Or the motor port? Sry for posting question here, mobile version doesnt allow me to add comment</p>
			</div>
			<div id = "comment-17586" class = "comment">
				<p>I mean the Flexi port and the Main port. I am also trying to send PWM signals from the RPi to the CC3D using the port for the Rc Receiver, but the quadcopter doesn't move. I am not sure why.</p>
			</div>
			<div id = "comment-17587" class = "comment">
				<p>Aaha, in arduino you cannot just use pwm to mimic rc receiver, you will need to use pulseout function instead, do you have the same for rpi?</p>
			</div>
			<div id = "comment-17588" class = "comment">
				<p>I never used Arduino before, so I am not sure what pulseout makes at an output pint. What is the difference between make a PWM with and without using pulseout?</p>
			</div>
			<div id = "comment-17589" class = "comment">
				<p>On stack exchange, it is better to edit your question to add  requested information, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			</div>
				<textarea id = "speech-8888" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8888">
					<img id="start_img-8888" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8888">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>