<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Changing STM32 Nucleo Board's Microcontroller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8348" class = "post">
			<h2>Question</h2>
			<div id="vote-8348" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 112</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Changing STM32 Nucleo Board's Microcontroller</h2>
<p>I have a STM32F072RB Nucleo Board which has a 64Pin Microcontroller.</p>

<p>For my application I chose the sTM32F103RG which has a bigger RAM size and Flash size too.</p>

<p>Can i Remove an F072R from a Nucleo board put a F103R on top of it?</p>

<p>I am testing my code with a F103C, but the flash and ram size is not meeting my requirement. I have a F072R Nucleo Board lying around so for a quick developmental test could I swap it for the 103R ? The R series is Pin Compatible!</p>

<p>Anyone Has done microcontroller swapping before? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8348" data-toggle = "popover">
				<p>user name : user2967920</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-8348">{'None': 2, 'microcontroller': 9, 'beagle-bone': 0, 'power': 0, 'battery': 1, 'wifi': 2, 'c': 2, 'wireless': 1, 'imu': 5, 'circuit': 1, 'electronics': 1, 'i2c': 1, 'serial': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8348" class = 'collapse'>
			</div>
				<textarea id = "speech-8348" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8348">
					<img id="start_img-8348" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8348">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8349"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8349" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From my experience I would not recommend it.</p>

<p>If you look into the datasheets:<br>
<a href="http://www.st.com/st-web-ui/static/active/en/resource/technical/document/datasheet/DM00090510.pdf" rel="nofollow">STM32F0</a> @ Page 33 <br>
<a href="http://www.st.com/st-web-ui/static/active/en/resource/technical/document/datasheet/CD00253742.pdf" rel="nofollow">STM32F1</a> @ Page 28 <br>
They look quite Pin compatible, but you change not from one chip to a similar one, you change the complete architecture. From a Cortex M0 to a Cortex M3. There are huge differences internally. Including even the Frequency of the CPU, register arangement (I do not know how the mBed chip will like this). The instruction set is extended by the factor of ~3 .<br>
If I may recommend something change the nucleo board. Maybe a F401RE which uses a Cortex-M4 and is listed as a highperformance module or a L152RE ( a M3 and low performance) both have lot more Flash and Ram then the F072RB. <br> If you want to stick to smaller MCU then take the F091RC, simialar to your board but doubled flash/ram.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8349" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-8349">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8349">Load Comments</button></br>
			<div id = "commentsection-8349" class = 'collapse'>
			<div id = "comment-13404" class = "comment">
				<p>So i Put in the STM32F103RGT7.</p>
			</div>
			<div id = "comment-13405" class = "comment">
				<p>I don't see the point in soldering around the chips. Buy a new board. You will only have problems with the changed chip</p>
			</div>
			<div id = "comment-13406" class = "comment">
				<p>So i Put in the STM32F103RGT7.
I am aware of the architecture change and everything. And yes they are pin compatible. I also saw on STM's website that all the Nucleo board's schematics are the same. And the F072's Board has the Same BoM.</p>
			</div>
			<div id = "comment-13407" class = "comment">
				<p>My Application was coded for a F103, But the dev board i had was a 103C8. I had a Nucleo board lying around that was based on the F072RB. Now my p\roduction PCBs are not yet ready and i really need that 20kB+ RAM, The main controller is a F103RG with 1MB Flash and 96kB RAM. And the guy did a really good job on the Removal and Soldering the new Chip in place.</p>
			</div>
			</div>
				<textarea id = "speech-8349" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8349">
					<img id="start_img-8349" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8349">Comment</button>
			<br><div id = "ans-8352"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8352" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So i Upgraded to a STM32F103RGT7. 
STLink Recognized the device as a F10X Family!.
I am aware of the architecture change and everything. And yes they are pin compatible. I also saw on STM's website that all the Nucleo board's schematics are the same. And the F072's Board has the Same BoM. 
<a href="https://i.stack.imgur.com/URfhJ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/URfhJ.jpg" alt="STM32F103RGT7"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8352" data-toggle = "popover">
				<p>user name : user2967920</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-8352">{'None': 2, 'microcontroller': 9, 'beagle-bone': 0, 'power': 0, 'battery': 1, 'wifi': 2, 'c': 2, 'wireless': 1, 'imu': 5, 'circuit': 1, 'electronics': 1, 'i2c': 1, 'serial': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8352" class = 'collapse'>
			</div>
				<textarea id = "speech-8352" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8352">
					<img id="start_img-8352" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8352">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>