<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Charging multiple LiFePO4 batteries at the same time?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1011" class = "post">
			<h2>Question</h2>
			<div id="vote-1011" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2729</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Charging multiple LiFePO4 batteries at the same time?</h2>
<p>I'm looking to use 4 of <a href="http://www.batteryspace.com/lifepo426650cell32v3300mah16.5arate10whunapproved.aspx" rel="nofollow noreferrer">these 3.2V LiFePO4 batteries</a>. I intend to have 2 pairs of 2 in series in parallel. So two 6.4V battery packs in parallel. Because my setup will be run off of this, it will also be easiest to recharge the batteries using the same setup. To accomplish this, I'm looking to charge all the batteries at once using <a href="http://www.batteryspace.com/Smart-Charger-0.7-A-for-6.4V-2-cells-LiFePO4-Battery-Pack-100-240VAC.aspx" rel="nofollow noreferrer">this 6.4V LiFePO4 smart charger</a>. From a simplistic standpoint, the resulting voltage should be correct and this should work fine. However, I know (from a <a href="https://robotics.stackexchange.com/questions/634/how-to-charge-a-lifepo4-battery">previous question</a>) that LiFePO4 battery chargers are a bit more complex then a basic voltage supply and check. Would the setup I've described work correctly? And in general, will a LiFePO4 smart charger be able to charge several batteries of the correct voltage at the same time so long as it doesn't try to charge them at too high an amperage? Or does a LiFePO4 battery also have a minimum amperage cutoff point to charge such that trying to charge more than one battery at a time will cause problems? Any other issues I didn't mention? Thank you much!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1011" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-1011">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1011" class = 'collapse'>
			</div>
				<textarea id = "speech-1011" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1011">
					<img id="start_img-1011" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1011">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1012"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1012" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Basically for charging LiPo/LiFe, you will need charger with balancer which measure each cell voltage level, as they tend to overheat or get damaged or even burst into a flame when handling carelessly. Lipo/life doesn't like trickle charge as NiMh or NiCd and also you will need constant current output at different voltage levels. But there are smart chargers that can handle this. I guess you will need to connect all 4 cells to balancer as they are separated battery packs...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1012" data-toggle = "popover">
				<p>user name : Gossamer</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-1012">{'None': 18}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1012">Load Comments</button></br>
			<div id = "commentsection-1012" class = 'collapse'>
			<div id = "comment-2375" class = "comment">
				<p>Welcome to *robotics* Gossamer. A partial answer is still an answer, and there *is* useful information here. If you carry on you will have the rep for commenting soon enough.</p>
			</div>
			<div id = "comment-2389" class = "comment">
				<p>Yes, it is only a part of the information I needed, as Mark said, there is useful information.</p>
			</div>
			<div id = "comment-4033" class = "comment">
				<p>How do you use  charge with balancer when i have yet to see a LifePo4 pack with the tabs to balance.</p>
			</div>
			</div>
				<textarea id = "speech-1012" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1012">
					<img id="start_img-1012" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1012">Comment</button>
			<br><div id = "ans-1017"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1017" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you're planning to create a 2&times;2 configuration of individual cells, which is a common configuration:
<a href="http://img.diytrade.com/cdimg/113732/22434825/0/1310733466/lifepo4_lithium_battery_6_4v_1ah.jpg" rel="nofollow noreferrer">4 pack 6.4V lithium battery http://img.diytrade.com/cdimg/113732/22434825/0/1310733466/lifepo4_lithium_battery_6_4v_1ah.jpg</a></p>

<p>The 6.4V charger is designed for a pair of 3.2V cells in series, so you should be able to add as many parallel stacks of these as you like.  They will simply take longer to charge.</p>

<p>At one of my previous jobs, we had a homemade 1.5kW battery that was made of 648 (yes, six hundred and forty eight) LiPoly 18650 cells: 24 supercells in series, each cell being 27 batteries in parallel.  <strong>I do not recommend this setup.</strong>  The cells within each supercell will charge evenly because they are in parallel, but the series cells do not.  Here's an example of what the supercell charges looked like when we serviced the battery and each supercell was equally charged (ours were 3.7V min, 4.2V max):</p>

<p><a href="https://1.bp.blogspot.com/_Hgp1nzunDXk/Ss-ltn0RyWI/AAAAAAAAAUo/9jzuvjOXeCw/s1600-h/chart_battery_recharge_456.png" rel="nofollow noreferrer"><img src="https://1.bp.blogspot.com/_Hgp1nzunDXk/Ss-ltn0RyWI/AAAAAAAAAUo/9jzuvjOXeCw/s320/chart_battery_recharge_456.png" alt="Mission 456"></a></p>

<p>As you can see, they mostly discharge and charge together -- you can see the point at which we plugged in the charger.  A few testing days later, one of the cells began drifting apart:</p>

<p><a href="https://4.bp.blogspot.com/_Hgp1nzunDXk/SuVxTh3O4AI/AAAAAAAAAX4/lIHVyUZ-8ZU/s1600-h/chart-batteryvoltage-546.png" rel="nofollow noreferrer"><img src="https://4.bp.blogspot.com/_Hgp1nzunDXk/SuVxTh3O4AI/AAAAAAAAAX4/lIHVyUZ-8ZU/s320/chart-batteryvoltage-546.png" alt="Mission 546"></a></p>

<p>Eventually, they look like this (what it looked like before servicing):</p>

<p><a href="https://4.bp.blogspot.com/_Hgp1nzunDXk/SrOZSPKes0I/AAAAAAAAAQY/0DH79FlrRD0/s1600-h/Battery+Voltages+Recharging.png" rel="nofollow noreferrer"><img src="https://4.bp.blogspot.com/_Hgp1nzunDXk/SrOZSPKes0I/AAAAAAAAAQY/0DH79FlrRD0/s320/Battery+Voltages+Recharging.png" alt="Mission 394"></a></p>

<p>The moral of the story is that using many cells in series doesn't guarantee even charging, because each cell has a slightly different capacity.  Using cells in parallel is better because it keeps their voltages equal.</p>

<p>For your particular case: if you don't charge all 4 cells in parallel, make sure that you monitor the voltage of each set of cells in the series -- one parallel pair will have a higher voltage than the other parallel pair.  Don't discharge them below the minimum rated voltage of the low pair, and don't charge them above the maximum rated voltage of the higher pair.  The difference in voltage between the two sets of cells will impact your available operating time, so it will make sense to manually balance the voltages (using 3.2V parallel charging) every so often.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1017" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1017">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1017">Load Comments</button></br>
			<div id = "commentsection-1017" class = 'collapse'>
			<div id = "comment-2390" class = "comment">
				<p>So just to double check, based on what you're saying, a regular 3.2V smart charger ([such as this](http://www.batteryspace.com/Smart-Charger-0.7-A-for-3.2V-1-cells-LiFePO4-Battery-Pack-100-240VAC.aspx)) will not have any problem charging the 4 batteries at the same time if they are all in parallel?</p>
			</div>
			<div id = "comment-2410" class = "comment">
				<p>Correct.  You can safely charge $n$ batteries in parallel, and they will all charge at $1/n$ the rate.  Note that initially connecting the batteries in parallel can be mildly unsafe if their voltages are not roughly equal -- you'll be creating a short circuit from the higher-charged battery to the lower-charged battery.  You can prevent that by using current-limiting resistors in the appropriate places.</p>
			</div>
			<div id = "comment-2411" class = "comment">
				<p>To answer the question that I think you're getting at: "is there a minimum safe charging current?" -- no.  You can cause damage by charging with too much current, but not with too little current.</p>
			</div>
			<div id = "comment-2412" class = "comment">
				<p>Yes, I was looking for the information in both those comments. Great, and thank you.</p>
			</div>
			</div>
				<textarea id = "speech-1017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1017">
					<img id="start_img-1017" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1017">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>