<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Chassis materials for Hobby-weight (5.44Kg) battle robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4930" class = "post">
			<h2>Question</h2>
			<div id="vote-4930" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 199</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Chassis materials for Hobby-weight (5.44Kg) battle robot</h2>
<p>I have sorted out all the internals for my robot (drive systems and weaponry) and now I need to put it all together in a chassis which will be about 40 cm wide by 35 cm long by 7 cm high. I have examined different options, including Perspex, Acrylic and Polycarbonate as well as aluminum, in a number of thicknesses. However I have excluded Perspex and Acrylic because, unlike Polycarbonate, they tend to shatter if bent.</p>

<p>So now it is down to Polycarbonate and/or Aluminum.</p>

<p>So here is the problem, up for discussion or a solution.. but first I must point out (a) that the overall weight limitation in turn imposes chassis weight limitations (b) that this is my first ever robot wars entry, and (c) I am likely to be up against cutting and tearing devices. </p>

<p>I already have the weights of the different materials in hand, so all of the following options are possible in terms of weight.</p>

<p>Option 1: Do it all in 6 mm Polycarbonate.</p>

<p>Option 2: Combine a thin (2 mm aluminum) outer shell with an underlying 3 mm polycarbonate one to get a good mix of the properties of both (rigid and hard, thin and heavy + flexible and strong, thick and light. </p>

<p>Option 3: As Option 2 but the other way round - 3mm Polycarbonate on the outside and 2 mm Aluminum on the inside.</p>

<p>Should I go with Option 1, 2, 3 or something else altogether that maybe I am not seeing? (Note: having it all in 3 mm aluminum is not possible as it will be too heavy - I checked)</p>

<p>Should I have the aluminum on the outside as a heavy duty shell or on the inside as a "last resort" layer? (Note: In my mind these layers would be held together with nuts and bolts with washers to spread any impact loads; but even here should the nuts and bolts be tightened for rigidity or left slightly loose for impact absorption?)</p>

<p>Any advice, especially from people seasoned in the art of robot warfare please?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4930" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4930">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4930">Load Comments</button></br>
			<div id = "commentsection-4930" class = 'collapse'>
			<div id = "comment-7645" class = "comment">
				<p>I have no experience with this, but if you went for the hard shell and strong inside layer, wouldn't it be better to use steel (probably thinner, 1mm or even less), instead of aluminium? It is going to be harder. Also gluing the layers might be stronger than screwing them together and will leave a smoother surface that is harder to damage (imho).</p>
			</div>
			<div id = "comment-7817" class = "comment">
				<p>I eventually went with most of the chassis made out of 3mm polycarbonate sheeting, reinforced in places with 3mm angle aluminum for rigidity. I also used the drive motor mounts for this purpose (making the structure rigid). We'll see how it goes at the competition and then I will be able to share any lessons learnt.</p>
			</div>
			</div>
				<textarea id = "speech-4930" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4930">
					<img id="start_img-4930" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4930">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>