<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cheap and efficient 3D sensor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7190" class = "post">
			<h2>Question</h2>
			<div id="vote-7190" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1337</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cheap and efficient 3D sensor?</h2>
<p>I'm searching for a <strong>cheap (under 100$) and efficient</strong> 3D sensor, which detects obstacles and moving objects, for robot applications like quadrotor navigation, swarm robotics, etc. Can you suggest a sensor that can be either a commercial product or a "do it yourself" project?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7190" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7190">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7190" class = 'collapse'>
			</div>
				<textarea id = "speech-7190" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7190">
					<img id="start_img-7190" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7190">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7191"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7191" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Honestly it depends what you want, I will cover some options from cheapest to most expensive</p>

<ul>
<li><p>Ultrasonic sensor on a servo 5-50$ depending on the model. It can be fairly accurate with around 1cm accurcy and 255 steps on a full circle, but it can have poor performance in dusty environments and can have poor results with curved items.</p></li>
<li><p>Ir distance sensor, 10-100$ depending on model. More accurate than ulatrosonic sensor (around .5cm accuracy). Preforms better with round objects, sensitive to dust, but can be placed in clear enclosures to protect them.</p></li>
<li><p>1d lidar/laser raingefinder on servo, 80-300$ <a href="http://pulsedlight3d.com/" rel="nofollow">some</a> <a href="http://www.lightware.co.za/shop/en/rangefinders-and-altimeters/7-sf02f.html" rel="nofollow">examples</a> they work over longer ranges and collect data faster potentially allowing two axis collection to get a "3d" point cloud, but are more expensive and will require a more sophisticated controller to take advantage of them.</p></li>
<li><p>inexpensive 2d lidar sensor (possibly on a servo for 3d capture) <a href="http://www.robotshop.com/en/rplidar-360-laser-scanner.html" rel="nofollow">example</a> alloes for true 2d capture and can be moved up and down to allow for a 3d point cloud, more expensive and required even more procssing power probably no less than a Raspberry Pi or Intel Edison</p></li>
<li><p>Stereoscopic cameras, 400$+ my favorite is the <a href="https://www.stereolabs.com/" rel="nofollow">ZED</a> these provide "true" 3d and can be fairly accurate at around 10 centimeters but give you a real 3d point cloud in addition to being cameras that you can use to do object recognition and detection on, the only problem is that they require significant horsepower no less than an Nvidia k1 which could restrict some mobile applications</p></li>
<li><p>True LIDAR sensors, 1000$+ allowing for very robust 2d point clouds  <a href="http://www.robotshop.com/en/hokuyo-urg-04lx-ug01-scanning-laser-rangefinder.html" rel="nofollow">example</a> and are designed to be oscillated up and down to provide full 3d mapping, they can ve very expense up to 10k+ and will require an embedded computer to run</p></li>
<li><p>True 3d LIDAR sensors, 50,000$+ dollars are very accurate and can provide immense amounts of data but are very expensive heavy and require lots of processing power in order to use</p></li>
</ul>

<p>If you provide more specifics on your application I can give a more specific answer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7191" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7191">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7191">Load Comments</button></br>
			<div id = "commentsection-7191" class = 'collapse'>
			<div id = "comment-10234" class = "comment">
				<p>My project is doing a quadrotor with 3d sensors, obstacle avoidance and recognizing moving object like tennis ball. sensor must scan a 3d scene very quickly. After this project I will try to do a quadrotor swarm. total project fund is about 5,000 usd. I have to do 5 quadrotor. so max bill of a quadrotor and sensor is 1,000usd. may be ZED ok but 500 is expensive</p>
			</div>
			<div id = "comment-10235" class = "comment">
				<p>I am not sure that is feasible at 1000$ a quadrocopter, possibly with a homebrew stereoscopic camera setup i.e. 2 webcams on a stick, but you will still need something to process the images on and it is quite intensive I normally use a [JETSON TK1](http://www.newegg.com/Product/Product.aspx?Item=N82E16813190005) but they are quite pricy by themselves and a little large/power hungry. Possibly you could have a base station to track the objects/quadcopters and command them to move?</p>
			</div>
			</div>
				<textarea id = "speech-7191" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7191">
					<img id="start_img-7191" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7191">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>