<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cheap web to buy robotic pieces from
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-26" class = "post">
			<h2>Question</h2>
			<div id="vote-26" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 135</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cheap web to buy robotic pieces from</h2>
<p>I love computer programming, and if I can interact with the world programming, it's even better. I used to steal them from school, and make little robots that bounce when collided with a wall, but I want to go further, but I don't have the needed pieces, and I don't know any good place to buy pieces , like servos, etc. either.</p>

<p>Also, I'm Spanish, so if the page can sell to places in Spain, even better.</p>

<p>I would highly appreciate your help,</p>

<p>Aritzh</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-26" data-toggle = "popover">
				<p>user name : Aritz Lopez</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-26">{'None': 0, 'servos': -12}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-26">Load Comments</button></br>
			<div id = "commentsection-26" class = 'collapse'>
			<div id = "comment-27" class = "comment">
				<p>I don't believe that the robotics stack exchange is a good place to ask "shopping" questions.  They tend to be fairly regional or temporal in nature, and not necessarily relevant to the community as a whole.</p>
			</div>
			<div id = "comment-29" class = "comment">
				<p>Let's remember [Q&A is Hard, Let s Go Shopping!](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)</p>
			</div>
			<div id = "comment-31" class = "comment">
				<p>Ah, that's the post I was thinking of! Thanks @MarkBooth</p>
			</div>
			<div id = "comment-46" class = "comment">
				<p>OK, I voted to delete it, feel free to do it. I didn't know this and just wanted to help this community, because I'm not very good at robotics and I just thought this would help both the comunity and me.</p>
			</div>
			<div id = "comment-61" class = "comment">
				<p>@Aritzh This closure is not a critique of you or your abilities, we promise.  Keeping the initial questions solid is a priority, as questions that are not a good fit (not necessarily objectively "bad") will serve as precedent for future askers.  Look around at some of the other questions for a better idea of what's on-topic, and take another swing at it if you're up for it.</p>
			</div>
			<div id = "comment-114" class = "comment">
				<p>@jonsca OK, I haven't thought that the first questions were important. OK, I'll try and help with what I can (sadly, not much...)</p>
			</div>
			</div>
				<textarea id = "speech-26" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-26">
					<img id="start_img-26" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-26">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-29"  class = "post">
				<h2>Answer</h2>
			<div id="vote-29" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've bought plenty of pieces off <a href="http://ebay.com/" rel="nofollow">Ebay</a>. I'f you don't care about long shipping lots of stuff can be had for a few dollars.</p>

<p>You could also try <a href="http://dx.com/" rel="nofollow">Deal Extreme</a>.</p>

<p><a href="http://www.seeedstudio.com/depot/" rel="nofollow">Seedstudio</a> also has a lot of nice Open Source hardware.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-29" data-toggle = "popover">
				<p>user name : Nis</p>
				<p> user reputation : 302</p>
				<p class = "tagcontent" id = "usertaginfo-29">{'None': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-29">Load Comments</button></br>
			<div id = "commentsection-29" class = 'collapse'>
			<div id = "comment-34" class = "comment">
				<p>Thanks! I haven't thought of Ebay, but Seedstudio seems really nice! Deal Extreme, however, looks like it's just for PC parts, but I'll have a look at it later.</p>
			</div>
			<div id = "comment-37" class = "comment">
				<p>I've just ordered a set of screwdrivers from DX.com. But you're right, they are not solely for the kind of items you are looking for.</p>
			</div>
			<div id = "comment-42" class = "comment">
				<p>Seedstudio even has a distributor in Spain! You're the man, Nis!</p>
			</div>
			<div id = "comment-51" class = "comment">
				<p>Perfect! I'm glad I could help.</p>
			</div>
			</div>
				<textarea id = "speech-29" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-29">
					<img id="start_img-29" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-29">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>