<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cheapest 3D printer for gears?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2034" class = "post">
			<h2>Question</h2>
			<div id="vote-2034" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 319</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cheapest 3D printer for gears?</h2>
<p>It would be incredibly useful if I could print my own gearing solutions, <em>even if I have to print the gears one at a time.</em>  However, I do not know how the market's cheapest printers will accommodate this task.</p>

<p>--The gears need be 2-3 inches in diameter, and they will bear only a very light load (much less than 1 foot pound), so the material need not be strong or machinable. </p>

<p>--The tolerances need only be sufficient for the teeth to mate robustly, preventing any hang.  <em>Unfortunately, I do not have a sense of what tolerances will allow gears to mate properly.</em></p>

<p>--(If the machine is precise enough to print a hole to statically mate with a shaft of a specified dimensions due to friction, excellent.  If not, I can probably improvise a tiny shaft hole with adhesive.)</p>

<p>--Because this may be used in close proximity to pavement, a melting temperature in excess of 100F is desirable but not required.  </p>

<p>--Because any given element will interact kinetically only with other elements that have also been 3D printed (except a metallic shaft), compatibility with external resources is not required.  </p>

<p>I would be grateful to anyone who could shed some light on this issue!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2034" data-toggle = "popover">
				<p>user name : user1833028</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-2034">{'None': 0, 'wheeled-robot': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2034">Load Comments</button></br>
			<div id = "commentsection-2034" class = 'collapse'>
			<div id = "comment-4089" class = "comment">
				<p>Hi user1833028, and welcome to *Robotics.SE*.  Your question is a little too vague to receive a good answer, since our goal is to back up our answers with facts.  Can you add some information to the question, like how large the gears will be, how strong they need to be, what tolerances are acceptable, etc?</p>
			</div>
			<div id = "comment-4091" class = "comment">
				<p>I've done my best to comply with your suggestions.</p>
			</div>
			</div>
				<textarea id = "speech-2034" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2034">
					<img id="start_img-2034" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2034">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2037"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2037" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I run a rep-rap (Mendel Max) 3d printer ~ $1500AUD (built from scratch). </p>

<p>I can't really comment on the print quality of other printers, but my statements about materials will hold for other printers.</p>

<p>I have printed usable gears down to about 1/2 inch diameter.</p>

<p>PLA has a melting point of about 150 Celsius and starts softening at about 60 Celsius, you could also print in ABS which has a slightly higher melting point but it gives of more toxic gases when heated for printing.</p>

<p>PLA is surprisingly strong, I've stood on a 40mm cube with out it breaking. I recently glued some PLA to a piece of MDF, when separating the materials the MDF broke - NOT the PLA.</p>

<p>There are various gear libraries on thingy-verse which make it easy to create meshing gears of the desired size.</p>

<p>Realistically if you build a 3d printer your self as I did, it will be months before you are printing usable gears.</p>

<p>You can quite reliably print the hole in the center of the gear to take a shaft, as well as printing bearing mounts.</p>

<p>There is a serious learning curve if you build your own 3d printer, that's not a bad thing - just be prepared for it!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2037" data-toggle = "popover">
				<p>user name : Robert Sutton</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-2037">{'None': 6, 'roomba': 2, 'irobot-create': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2037">Load Comments</button></br>
			<div id = "commentsection-2037" class = 'collapse'>
			<div id = "comment-4096" class = "comment">
				<p>+1. http://reprap.org/wiki/gear_design has a lot of useful information (and many links to further information) about printing plastic gears on a 3d printer. It says a placement accuracy of 0.1 mm is more than adequate for making the plastic gears for something like a http://reprap.org/wiki/Greg%27s_Hinged_Extruder .</p>
			</div>
			<div id = "comment-4144" class = "comment">
				<p>Thank you for the answer and the comment.  I would not have considered those design tips left to my own devices!</p>
			</div>
			</div>
				<textarea id = "speech-2037" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2037">
					<img id="start_img-2037" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2037">Comment</button>
			<br><div id = "ans-6876"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6876" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The printrbot jr was voted the best quality printer for its price in Makezine: 3D printer guide. It is only around $300-500. I use the printrbot jr, and its quality is good most of the time. Since it is made like it is, it can't do well with large overhangs. It builds up layer by layer, so you have to orient it to build up without overhangs. To make a solid gear about 5 inches in diameter and with a height of about 3 inches would take around an hour, since it is difficult to fill solid, but there are settings to make it hollow or even honeycomb, which is sturdy and takes less time. The printrbot jr is also compared to a hot glue gun, since its filament is pushed out so close it spreads out, which makes small holes sometimes get filled in and nice smooth sides a little rough, but it is good with a quick nail file to it. Hope this helps.</p>

<p>BTW: if you order a printrbot jr, it comes in two ways, build your self and premade. The premade is an extra $100, but <strong>IT'S WORTH IT!!!</strong> The build yourself one is insanely difficult to put together and some pieces don't fit.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6876" data-toggle = "popover">
				<p>user name : MakerMan</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6876">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6876" class = 'collapse'>
			</div>
				<textarea id = "speech-6876" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6876">
					<img id="start_img-6876" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6876">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>