<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Check collision between robot and environment in OpenRAVE
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9167" class = "post">
			<h2>Question</h2>
			<div id="vote-9167" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 292</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Check collision between robot and environment in OpenRAVE</h2>
<p>I have a robot arm in an environment. How can I check for collision between this robot arm and the environment?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9167" data-toggle = "popover">
				<p>user name : vacky</p>
				<p> user reputation : 140</p>
				<p class = "tagcontent" id = "usertaginfo-9167">{'control': 8, 'None': 0, 'computer-vision': 6, 'algorithm': 8, 'monocular': 6, 'python': 3, 'pose': 0, 'wheeled-robot': 7, 'visual-odometry': 6, 'opencv': 0, 'slam': 6, 'robotic-arm': 18, 'mobile-robot': 12, 'motion-planning': 19, 'navigation': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9167" class = 'collapse'>
			</div>
				<textarea id = "speech-9167" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9167">
					<img id="start_img-9167" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9167">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9193"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9193" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's really easy.</p>

<pre><code>env = openravepy.Environment()
env.StopSimulation()
env.Load('_ArmFileName'_.xml') #Whatever .xml file you're using
robot = env.GetRobots()[0]
manip = robot.SetActiveManipulator('left_arm') #whatever arm you're using
robot.SetDOFValues(joint_values, manip.GetArmIndices())
env.CheckCollision(robot)
</code></pre>

<p>where joint_values is the an array of the joint values that you want. For example, if I was working on the Baxter robot, then I'd make an array of length 7 (7 DOF arm) with each value being values within Baxter's min/max joint values. Also note that you need to specify in the xml that your robot has the appropriate arm.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9193" data-toggle = "popover">
				<p>user name : Iche</p>
				<p> user reputation : 114</p>
				<p class = "tagcontent" id = "usertaginfo-9193">{'planning': 1, 'None': 6, 'computer-vision': 1, 'mobile-robot': 1, 'inverse-kinematics': 4, 'localization': 2, 'python': 0, 'forward-kinematics': 0, 'cameras': 1, 'kinect': 2, 'joint': 0, 'slam': 1, 'kinematics': 0, 'matlab': 0, 'robotic-arm': 3, 'jacobian': 0, 'dh-parameters': 0, 'motion-planning': 1, 'gazebo': 2, 'rrt': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9193">Load Comments</button></br>
			<div id = "commentsection-9193" class = 'collapse'>
			<div id = "comment-16244" class = "comment">
				<p>Ohh yes.... It was really simple I thought it would be like env.CheckCollision(robot,environment). Thanks a lot for your reply.</p>
			</div>
			</div>
				<textarea id = "speech-9193" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9193">
					<img id="start_img-9193" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9193">Comment</button>
			<br><div id = "ans-9223"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9223" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is how I do it:</p>

<pre><code># return True if in collision, False if no collision
# pass in joint angles q to test configuration other than current
def inCollision(q=None):
    with env:
        if q == None:
            return env.CheckCollision(robot) or robot.CheckSelfCollision()
        else:
            initq = robot.GetDOFValues()
            robot.SetDOFValues(q)
            ret = env.CheckCollision(robot) or robot.CheckSelfCollision()
            robot.SetDOFValues(initq)
            return ret
</code></pre>

<p>NOTE: OpenRave uses ODE as its collision checker by default.  And for some reason, the default build of ODE for Ubuntu does not enable cylinder-cylinder collision checking.  You can use Bullet instead if you like, but I have found it to be slower than ODE.  Use these lines to change which collision checker OpenRave uses:</p>

<pre><code>collisionChecker = RaveCreateCollisionChecker(env, 'bullet')
env.SetCollisionChecker(collisionChecker)
</code></pre>

<p>Or you can just download the ODE source and recompile.  These are the steps I follow:</p>

<ol>
<li>Download the latest ODE (<a href="https://bitbucket.org/odedevs/ode/downloads/ode-0.13.1.tar.gz" rel="nofollow">https://bitbucket.org/odedevs/ode/downloads/ode-0.13.1.tar.gz</a>)</li>
<li><code>./configure --enable-double-precision --enable-libccd --disable-demos --disable-asserts --enable-shared</code></li>
<li><code>make -j8</code></li>
<li><code>sudo make install</code></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9223" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-9223">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9223" class = 'collapse'>
			</div>
				<textarea id = "speech-9223" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9223">
					<img id="start_img-9223" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9223">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>