<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choice of a motor for robotic arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10056" class = "post">
			<h2>Question</h2>
			<div id="vote-10056" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 184</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choice of a motor for robotic arm</h2>
<p>This is my first post here, so hello all. I really hope I can learn a lot from you guys.</p>

<p>I am trying to build a robotic arm to carry an object and put it inside of different boxes that are placed in different fixed locations.</p>

<p>I found a few robotic arms that can do it, but I am still trying to find the right motor for the job. I read a lot on-line about the different motors, but I am not sure which on to pick. Since the boxes are located in fixed places, the motors have to move in a precise way, so, according to my research, Servo motors are the ones I should use.  </p>

<p>Since it is a low budget project (I am college student), I wasn't sure which motor to choose (there are a lot of servo motors out there). I found several Servo motors on-line, for example , <a href="https://www.adafruit.com/products/1404?gclid=CjwKEAjwp-S6BRDj4Z7z2IWUhG8SJAAbqbF35BtbqoBtiPJUrmAZsWO4AWTCzDTnAvgGPHldha_-nBoC237w_wcB" rel="nofollow">Analog Feedback Servo</a>, and I was wondering what is the best servo motor I can buy for a really low cost project? I think I can spend about 10-20$ per motor (I need 5 motors).</p>

<p>I already have an Rpi and I know that pin 18 is the PWM pin that controls the motor's precision movement, but before I purchase a PWM controller and additional motors I need to run some testing to find how precise the motor is.</p>

<p>By the way, how can I calculate the amount of weight the motor can handle?</p>

<p>Any ideas and information will be greatly appreciated.</p>

<p>Thank you</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10056" data-toggle = "popover">
				<p>user name : Almog Boanos</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10056">{'servomotor': 2, 'python': 2, 'None': 0, 'raspberry-pi': 2, 'robotic-arm': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10056">Load Comments</button></br>
			<div id = "commentsection-10056" class = 'collapse'>
			<div id = "comment-17892" class = "comment">
				<p>Don't rule out stepper motors for that application. A stepper has quantifiable and repeatable accuracy, whereas those model-airplane servos are all over the place in terms of both accuracy and repeatability.</p>
			</div>
			</div>
				<textarea id = "speech-10056" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10056">
					<img id="start_img-10056" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10056">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10083"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10083" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The choice of motors is a trade off between cost/power/ease of implementation/etc. that only you can make.  But hobby servos like you linked to are a common choice for low-cost, low-power, hobby arms.</p>

<p>Simple max-torque calculations for a robot arm are pretty straight forward.  (<a href="http://www.robotshop.com/blog/en/robot-arm-torque-tutorial-7152" rel="nofollow">This</a> is a simple tutorial).  But there are a few online calculators to help: <a href="http://www.societyofrobots.com/robot_arm_calculator.shtml" rel="nofollow">[1]</a>, <a href="http://www.robotshop.com/blog/en/robot-arm-torque-calculator-9712" rel="nofollow">[2]</a>.  </p>

<p>You might also benefit from <a href="http://www.societyofrobots.com/robot_arm_tutorial.shtml" rel="nofollow">this</a> robot arm tutorial.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10083" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-10083">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10083" class = 'collapse'>
			</div>
				<textarea id = "speech-10083" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10083">
					<img id="start_img-10083" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10083">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>