<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choosing the right Mecanum wheel
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9683" class = "post">
			<h2>Question</h2>
			<div id="vote-9683" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 237</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choosing the right Mecanum wheel</h2>
<p>I am part of my college robotics team which is preparing for Robocon 2017.</p>

<p>We have used Mecanum wheels in last Robocon competition, but we have faced huge slip and vibration. I have looked for all kinematic and dynamic formulas and all stuff about Mecanum wheels, but still can't get to a conclusion for my problem.</p>

<p><a href="https://drive.google.com/file/d/0BwdLwLAVvVLGdFBLS3RSdlN4dXc/view" rel="nofollow">Video of the problem</a></p>

<p>The robot is around 25 kg and the Mecanum wheel diameter is about 16 cm with 15 rollers (single type). Please help me why it happened like that!?</p>

<p>Also suggest me what to do now - Should I design a new Mecanum wheel or bring it from market? </p>

<p>If I should design, what parameters should I consider, and please help me how to design in CAD software like SolidWorks? And then, shall I give it to 3D printing?</p>

<p>If I should buy directly from market, where should I buy?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9683" data-toggle = "popover">
				<p>user name : Ryder</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-9683">{'wheel': 1, 'None': 0, 'design': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9683">Load Comments</button></br>
			<div id = "commentsection-9683" class = 'collapse'>
			<div id = "comment-17178" class = "comment">
				<p>So your question is if you should reinvent the wheel? Also: "*why it happened like that!?*" you ask that as if you actually explained anything, but you did not. You provided very little information about the system and no objectively quantiviable thresholds for properties that it exceeds. Asking what currently hyped manufacturing process to choose appears to be a rather random thought.</p>
			</div>
			<div id = "comment-17180" class = "comment">
				<p>I agree completely with @BendingUnit22 , and I'll add too that, if this is a *college robotics competition*, the point is probably to get *you* to do the analysis. That said, as Bender mentioned, you don't actually provide **any** data. You had "huge slip and vibration" - that is entirely expected with a mecanum wheel. Did you do any analysis before hand to ballpark what you should expect? **What were those numbers?** Did you record data showing what you got? **What were *those* numbers?**</p>
			</div>
			<div id = "comment-17182" class = "comment">
				<p>This seems like a fair question, if I'm reading it right: while attempting to move forward, the individual rollers are slipping -- causing a vibration as the weight shifts from roller to roller.  To me, it sounds like this question is about how to match the weight of the vehicle with the roller size, wheel diameter, roller material, etc.  @Ryder, is that correct?</p>
			</div>
			<div id = "comment-17189" class = "comment">
				<p>@Ian - Wouldn't that require the motor to slip? If, for instance, the wheels were attached to stepper motors, I don't think the rollers can go anywhere as they're mechanically fastened to the wheel/hub, which is fastened to the motor shaft.</p>
			</div>
			<div id = "comment-17202" class = "comment">
				<p>Yes, you are correct Ian. And sorry all members, my bad that I didn't add required information. Please someone tell me what all information should I provide and then I will edit it as required. By slipping, I meant our robot had poor maneuverability & controlling. I mentioned "huge" coz our robot was not running as smooth as other ones with mecanum.The worst part is we didn't do calculations!So,we r not committing that mistake this time & doing calculations.so,help me with what calculations should I do to get right mecanum wheel. Just tell me the all req info, I'll upload it. Thanks all!</p>
			</div>
			<div id = "comment-17203" class = "comment">
				<p>@Chuck I'm explaining it badly, I think. I'm describing a loss of traction, not something in the drivetrain. A diagram or video would make this easier to visualize.</p>
			</div>
			<div id = "comment-17211" class = "comment">
				<p>Thanks @Ian, you really got my point-how to match the weight of the vehicle with the roller size, wheel diameter, roller material, etc. . And please tell me what to do to achieve it ? Create new in CAD or buy one from market?

Here's the video link, its not of final robot(still load on bot to be added), but still you can see how bot reacts when it is in motion:
[test video](https://drive.google.com/open?id=0BwdLwLAVvVLGdFBLS3RSdlN4dXc)</p>
			</div>
			</div>
				<textarea id = "speech-9683" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9683">
					<img id="start_img-9683" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9683">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9693"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9693" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem appears to be that your drive motors are <a href="https://en.wikipedia.org/wiki/Wheelspin" rel="nofollow noreferrer">providing too much torque</a>.</p>

<p>In other words, there isn't enough friction between the wheels and the floor to counteract the force that the motors are exerting on the wheels.  To determine whether this is actually the problem, try adding weight to the vehicle (directly above the wheels, if possible); this should balance the forces by increasing the static friction.</p>

<p>Of course, adding weight to your vehicle is not a good long term solution.  The proper fix would be to configure your motor controllers to <a href="https://physics.stackexchange.com/q/38707">limit the torque</a> produced by the motors. This might also be expressed as a current limit, depending on your setup.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9693" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9693">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9693">Load Comments</button></br>
			<div id = "commentsection-9693" class = 'collapse'>
			<div id = "comment-17213" class = "comment">
				<p>You maybe correct@Ian. But doing enough research,I have come to a conclusion that diameter of our wheel is too large.this large diameter did not allow us to have enough traction on the surface.  But still, I am with the question - how to decide the correct mecanum wheel parameters for our new bot in a systematic way?And yes, if I have to design, how to design it?  Ian, you seem to be more helpful to me, can you give any your contact info so that I can contact you if any problem comes?</p>
			</div>
			<div id = "comment-17232" class = "comment">
				<p>This site is full of helpful people, and I make mistakes as often as anyone else. If you continue to post new questions on this site, you'll get everyone's responses instead of just mine.</p>
			</div>
			<div id = "comment-17233" class = "comment">
				<p>How did you come to the conclusion that you will get more traction with a smaller wheel?</p>
			</div>
			<div id = "comment-17244" class = "comment">
				<p>**force (exerted by the wheel on the surface) = torque (of the motor) / radius (of the wheel)**

For a wheeled robot to move or climb an incline, the wheel exerts a horizontal force on the surface. If you need to exert a high force (because your robot is heavy), then you need to increase either the torque or decrease the radius of the wheel. Increasing the torque is usually expensive,& increasing the radius usually means a heavier wheel, requiring more torque, but also reducing the maximum speed (since they have to rotate faster).</p>
			</div>
			</div>
				<textarea id = "speech-9693" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9693">
					<img id="start_img-9693" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9693">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>