<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choosing motor and battery for a robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1581" class = "post">
			<h2>Question</h2>
			<div id="vote-1581" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 305</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choosing motor and battery for a robot</h2>
<p>I have a project which requires a robot to move around a room with a flat surface (concrete floor).</p>

<p>The robot must carry a laptop. I estimated that the total weight would be 6-7kg (including motors, battery, laptop, motor controller board and other mics items). I would like it to move at about the same speed as a Roomba moves. The robot will have two motors and a castor.</p>

<p>I have tried doing the calculation to determine the type of motor to use, but I'm very confused.</p>

<p>Can someone advise me on the type of motor and type of battery (Lipo/SLA) to use?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1581" data-toggle = "popover">
				<p>user name : Anura</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-1581">{'battery': 3, 'None': 0, 'wheeled-robot': 3, 'motor': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1581">Load Comments</button></br>
			<div id = "commentsection-1581" class = 'collapse'>
			<div id = "comment-3305" class = "comment">
				<p>What is the Roomba's speed?</p>
			</div>
			<div id = "comment-3317" class = "comment">
				<p>See my answer here: http://electronics.stackexchange.com/a/58075/9862 you easily add gearing into the consideration.</p>
			</div>
			</div>
				<textarea id = "speech-1581" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1581">
					<img id="start_img-1581" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1581">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1585"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1585" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Roombas move slowly, below a walking pace, right?</p>

<p>If that's so, then you probably want a geared DC motor.  I'm guessing that on concrete you can get away with a motor that's 100W or less, particularly if it's geared down a whole bunch.  You might want to figure out the highest incline or steepest step that you want to negotiate, figure out what force you need to surmount that obstacle, multiply by two, and go from there.</p>

<p>To figure out the gear ratio (or to buy a gearbox-motor combination), decide on a wheel diameter and a top speed.  Then figure out the wheel speed that gets you that top speed.  Then go buy a pair of gear motor that are rated for that RPM as a unit, or select a motor with a known RPM and a gearbox with the right ratio to bring the RPM down.</p>

<p>As far as batteries -- SLA will be way cheaper, LiPo will be more expensive for both batteries and support equipment, but will hold more charge for the weight.  You makes your choice and you pays your money...</p>

<p>If this is a one-off then just buy a pair of wheel units made for robots.  Whatever you get you're just about guaranteed to be wrong somehow, so the most important thing to do is to start making the mistakes that you'll correct in Robot, Mark II.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1585" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1585">{'None': 107}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1585" class = 'collapse'>
			</div>
				<textarea id = "speech-1585" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1585">
					<img id="start_img-1585" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1585">Comment</button>
			<br><div id = "ans-4879"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4879" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Or you could just do what I have done and scavenge two DC motors plus gearboxes from used cordless drillers. Mine are from 14.4v drillers and I am operating them using 3S LIPOs (11.1v). The LIPOs are not that expensive if you buy them rated at say 2200mAh (more current capacity = more cost). You don't even need a very high "C" rating. 20 "C" would probably do fine. But of course since you have no weight limitation you could easily use the Nicd batteries that came with the cordless driller itself, plus you get a free charger too.</p>

<p>You will need to remove the chuck (unscrew the centre screw within the chuck by turning in the opposite direction as it is a reverse thread, and then put an allen key in the chuck, unscrew it all the way, and hit the key hard counter clockwise and the chuck will come off)  and then remove the little ball-bearings and insert (self-tap them) grub screws in the holes where the bearings were in order to block the clutch. </p>

<p>Then if you wish you can just put the chuck back on and attach any shaft and wheel! You can easily get controllers for the motors and connect them to an r/c receiver.</p>

<p>The point is that these motors and gearbox combos are made for a good torque and speed compromise and are quite hardy in use. They are of course brushed and in my experience won't draw much over maybe 10 Amps each and that only if stalled.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4879" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4879">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4879" class = 'collapse'>
			</div>
				<textarea id = "speech-4879" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4879">
					<img id="start_img-4879" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4879">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>