<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choosing correct power supply for Stepper Motors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2042" class = "post">
			<h2>Question</h2>
			<div id="vote-2042" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4725</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choosing correct power supply for Stepper Motors</h2>
<p>I am building a machine and need 2 Stepper Motor for that.
The motors are driven using by a 3.3v arm device.</p>

<p>I have made the following selections regarding the stepper motor, stepper motor driver and the power supply.</p>

<p><a href="http://www.circuitspecialists.com/12-volt-3.5-amp-power-supply.html" rel="nofollow">Power Supply 12 Volt Power Supply - 3.5 Amp Single Output</a></p>

<p><a href="http://www.pololu.com/product/1200" rel="nofollow">Stepper Motors Stepper Motor: Unipolar/Bipolar, 200 Steps/Rev, 42 48mm, 4V, 1.2 A/Phase</a></p>

<p><a href="http://www.pololu.com/product/2133" rel="nofollow">Stepper Motor Driver DRV8825 Stepper Motor Driver Carrier, High Current</a></p>

<p>I tried my best to research the compatibility and came up with these.</p>

<p>Is this a good selection considering the fact that the Power Supply will be driving 2 of these motors.</p>

<p>I will be running the motors at 1/16 step for high resolution.As far as the speed is concerned,it's going to be pretty slow but they will be running continuously for hours in end.Basically what I am trying to do here is make a V-Plotter.As far I can tell, there will be loads of start stop motion in the motors though.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2042" data-toggle = "popover">
				<p>user name : SteveIrwin</p>
				<p> user reputation : 92</p>
				<p class = "tagcontent" id = "usertaginfo-2042">{'None': 0, 'power': 2, 'valve': 2, 'stepper-driver': 2, 'actuator': 2, 'mobile-robot': 3, 'stepper-motor': 2, 'sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2042">Load Comments</button></br>
			<div id = "commentsection-2042" class = 'collapse'>
			<div id = "comment-4099" class = "comment">
				<p>How fast are you planning to run the motors?  What sort of motion profiles are you running on these motors?  Are both constantly running?</p>
			</div>
			<div id = "comment-4100" class = "comment">
				<p>edited the question!</p>
			</div>
			</div>
				<textarea id = "speech-2042" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2042">
					<img id="start_img-2042" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2042">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2046"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2046" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As long as the steppers are running relatively slowly, let's say a few hundred steps per second, you should be fine.  </p>

<p>Your driver uses PWM to control the current through the motor windings.  In microstepping mode the driving waveform at the motor terminals looks like a sine and cosine (sines offset by 90 degrees) and the driver modulates the outputs to maintain the current to the windings.</p>

<p>The 1.2A appears to be peak current.  So at standstill we're talking 1.2A*4V = 4.8W max per phase (though a microstepping driver will never drive those two phases "fully" simultaneously).  At any rate, at very slow speeds/standing we're talking about ~13W for the two motors vs. your 40W power supply.  So no problem.</p>

<p>As you start speeding things up two things happen: </p>

<ol>
<li>The motors starts acting as a generator producing counter-EMF (and we don't know the Ke constant for those motors).  Now to maintain the same current your driver has to overcome this counter-EMF.  This is why you want the highest voltage you can get if you're planning to run your motors at speed.</li>
<li>We are going through the microstepping waveform and really start caring more about the RMS current (So we can effectively divide by ~1.4 since the power supply doesn't care about peak current as much over very short durations).  So about 0.86A RMS per phase.  That adds up to ~3.42A which is still lower (though not by much, than your 3.5A supply).</li>
</ol>

<p>So as long as you're well below a speed where your back-EMF is ~8V you're fine.  If you plan to go to this point or above it you'll run out of voltage and you're also left with relatively small margins on power.  It also depends on how much power you need for the rest of your system.  Unfortunately I'm not quite sure how to calculate the back-EMF constant (Ke) from your motor parameters.  Looking at the pulling torque curve (given with a 24V supply) I would guess that up to 1000-2000pps you'll still be OK and it looks like the torque is dropping by ~25% over ~1500pps so it's probably in the range of 6V/1500pps (very rough guess).  Since we know the inductance maybe someone can show us how to calculate back-EMF constant (I'd be interested in learning)...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2046" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-2046">{'None': 75}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2046">Load Comments</button></br>
			<div id = "commentsection-2046" class = 'collapse'>
			<div id = "comment-4102" class = "comment">
				<p>Amazing answer.I was planning on including some acceleration and deceleration to the motors to speed up the drawing .Based on your information,I think using a 24V 4.5Amp power supply would be a better bet for quick action.What do you think?</p>
			</div>
			<div id = "comment-4114" class = "comment">
				<p>@SteveIrwin As the vendor curves are shown for 24V you can get a pretty good idea of where you'll be with 24V.</p>
			</div>
			</div>
				<textarea id = "speech-2046" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2046">
					<img id="start_img-2046" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2046">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>