<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choosing motor for a tricopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4463" class = "post">
			<h2>Question</h2>
			<div id="vote-4463" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1267</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choosing motor for a tricopter</h2>
<p>I'm a newbie in RC field..I am planning to construct my first Tricopter ever.  Can anyone help me to find the power rating to select the motor for a tricopter?</p>

<p>I am at the beginning stage of construction.  Arm length of frame: 50cm each.  I need a thrust of about 2Kg -- nearly 666 gms for each motor.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4463" data-toggle = "popover">
				<p>user name : Shiv Ram</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-4463">{'None': 1, 'esc': 2, 'motor': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4463">Load Comments</button></br>
			<div id = "commentsection-4463" class = 'collapse'>
			<div id = "comment-7036" class = "comment">
				<p>Welcome!  That, surely will depend on a number of design criteria, which you haven't mentioned - weight, size, power-source etc.  Could you elaborate teh question, please?</p>
			</div>
			<div id = "comment-7047" class = "comment">
				<p>Thanks..I have added the details above. I just need the formula to calculate the power required to lift my tricopter.</p>
			</div>
			</div>
				<textarea id = "speech-4463" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4463">
					<img id="start_img-4463" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4463">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4501"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4501" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This depends on what you want to do with your copter.</p>

<p>Hovering:                              100-150 Watt/kg <br>
ScaleFlight:                           200-300 Watt/kg <br>
Some chilling acrobatic flight:        350-400 Watt/kg <br>
3D acrobatics                          500+ Watt/kg <br>
Hardcore 3D                            1000 Watt/kg <br></p>

<p>Just take the real weight of your copter, calculate the total power and divide it by 3 (in your case)</p>

<p>I also have a source for this but i know only a German one:
<a href="http://www.heli-planet.de/index.php?section=auslegung_von_e_motoren" rel="nofollow">http://www.heli-planet.de/index.php?section=auslegung_von_e_motoren</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4501" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4501">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4501" class = 'collapse'>
			</div>
				<textarea id = "speech-4501" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4501">
					<img id="start_img-4501" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4501">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>