<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choose and connect a camera to a robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9518" class = "post">
			<h2>Question</h2>
			<div id="vote-9518" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 135</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choose and connect a camera to a robot</h2>
<p>There are tons of cameras in devices around us these days. There are used photo cameras, smartphones, tablets at my home gathering dust.</p>

<p>I wonder, what the easiest way could be to get a camera module from some device, connect it to my robot project with a soldering iron and make it work from the software point of view. I am planning to use something like Arduino, an STM32 platform, or probably Intel Edison.</p>

<p>May be some camera modules are easier to solder and program for a custom  project? Or shouldn't I look this way and better find a camera module that is specially designed for custom projects?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9518" data-toggle = "popover">
				<p>user name : Sergei Basharov</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-9518">{'quadcopter': 1, 'None': 0, 'cameras': 1, 'mechanism': 1, 'uav': 1, 'robotic-arm': 1, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9518">Load Comments</button></br>
			<div id = "commentsection-9518" class = 'collapse'>
			<div id = "comment-16824" class = "comment">
				<p>It sounds like you haven't chosen a camera module yet.  It also sounds like you haven't chosen a hardware platform yet.  Which pair of camera and processor to use is a fairly subjective choice, based on the information you provided.</p>
			</div>
			<div id = "comment-16826" class = "comment">
				<p>I voted to close this question because it's too broad. You have "cameras", and you want to connect them to "microcontrollers" to make a "robot project". Without anything specific, nobody can give you a definitive answer.</p>
			</div>
			<div id = "comment-16838" class = "comment">
				<p>Welcome to *robotics* Sergei Basharov, but I'm afraid that questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. Also, the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question. If you edit your question to fit our community guidelines we can reopen it for you.</p>
			</div>
			</div>
				<textarea id = "speech-9518" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9518">
					<img id="start_img-9518" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9518">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9519"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9519" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sorry to pour water on your fire... while it is certainly possible, whether it is worth the effort is debatable.</p>

<p>While different tablets/smartphones/cameras will employ different optical devices, they will be more or less the same.</p>

<p>This question has been asked before on SE Arduino, <a href="https://arduino.stackexchange.com/questions/19019/re-use-smartphone-tablets-parts-like-a-camera">Re-use smartphone/tablets parts like a camera</a>. <a href="https://arduino.stackexchange.com/questions/19019/re-use-smartphone-tablets-parts-like-a-camera#answer-19026">jwpat7's answer</a> goes into specifics for a particular Samsung tablet. You don't specify which tablet/phones you have, so I can not provide any further detailed information, but open up the device and see if it has <code>HRS</code> on the connector.</p>

<p>Note that <a href="https://arduino.stackexchange.com/questions/19019/re-use-smartphone-tablets-parts-like-a-camera#answer-19107">cortices' answer</a> advises against doing so, due to propriety signals, and the difficulty in decoding them.</p>

<p>A link to the Arduino forum is also provided, <a href="http://forum.arduino.cc/index.php?topic=269272.0" rel="nofollow noreferrer">How to reuse quality camera from old / broken phone</a>, which, more or less, also recommends against the idea due to the effort required in <a href="https://reverseengineering.stackexchange.com/search?q=camera">reverse engineering</a>.</p>

<p>It would probably be far simpler to use a Raspberry Pi, which has an actual camera interface (CSI port) for use with the <a href="https://www.raspberrypi.org/help/camera-module-setup/" rel="nofollow noreferrer">camera module</a>. You can then use the Python package, <a href="https://picamera.readthedocs.org/" rel="nofollow noreferrer">picamera</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9519" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-9519">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9519" class = 'collapse'>
			</div>
				<textarea id = "speech-9519" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9519">
					<img id="start_img-9519" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9519">Comment</button>
			<br><div id = "ans-9526"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9526" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have an unused smartphone with a camera, your best bet may be to simply use that for the robot.  </p>

<p>Many results came up in my brief google search for smartphone robots and smartphone-based robotics software.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9526" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9526">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9526" class = 'collapse'>
			</div>
				<textarea id = "speech-9526" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9526">
					<img id="start_img-9526" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9526">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>