<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choosing path planning and obstacle avoidance algorithm for 2D space
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1955" class = "post">
			<h2>Question</h2>
			<div id="vote-1955" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1667</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choosing path planning and obstacle avoidance algorithm for 2D space</h2>
<p>I am working on a 2D space where my robot needs to follow a trajectory while avoiding some obstacles.</p>

<p>I've read recently about methods for path planning as "Vector Field Histogram" and the "Dynamic window approach".</p>

<p>Is it worth to use these kind of algorithms for a 2D space or should I go with something as Potential Fields or Rapidly-Exploring Random Trees?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1955" data-toggle = "popover">
				<p>user name : Spyros</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-1955">{'mobile-robot': 5, 'None': 0, 'motion-planning': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1955">Load Comments</button></br>
			<div id = "commentsection-1955" class = 'collapse'>
			<div id = "comment-4000" class = "comment">
				<p>Does this imply that you have some sort of map that's known in advance that you must combine with obstacles that you encounter in real time (in which case you must re-plan your trajectory)?</p>
			</div>
			<div id = "comment-4003" class = "comment">
				<p>For the moment I have a map where I will put an obstacle in a known position. After thet I would like to make the obstacle dynamic. But first I have to begin from the non-moving known obstacle.</p>
			</div>
			<div id = "comment-4004" class = "comment">
				<p>Fair, but changing the problem changes the solution. Each of these algorithms exists for a specific purpose, and right now your question is too broad to say which might be appropriate. The more details you can provide on the problem (how fast the vehicle needs to react to changes in the environment, how quickly it needs to generate plans, etc), the more accurate of an answer we can give.</p>
			</div>
			</div>
				<textarea id = "speech-1955" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1955">
					<img id="start_img-1955" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1955">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1956"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1956" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In a 2D space, you could probably get away with something much simpler to begin with like Breadth-first search, Dijkstra's or A-Star. Combine it with an occupancy grid as a map based on LIDAR data and you'd be good to go. RRT's work well and I've used them in the past, but for much higher dimensional search spaces. In general I would recommend starting out with the simplest solution. If it turns out it doesn't perform fast/well enough, then you upgrade to something more complicated. There's no need to build a formula-1 car to drive to the grocery store XD.</p>

<p>It really depends on your application, and since I know nothing about it, it's hard to give you the best answer.</p>

<p>Edit: RRT* (read: RRT star) is also very nice.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1956" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-1956">{'None': 54}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1956" class = 'collapse'>
			</div>
				<textarea id = "speech-1956" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1956">
					<img id="start_img-1956" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1956">Comment</button>
			<br><div id = "ans-2226"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2226" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As you can reduce the path planning and collision avoidance of aircraft down to 2D if you do not include separation by height, I will use aerospace as the example. One school of thought is that collision avoidance is different from path planning, because in high level path planning you can assume that you have complete knowledge of the other aircraft or obstacles that
you are avoiding. In collision avoidance you
are limited by the sensors available. The levels of mission planning are shown in the Figure:- <a href="https://i.stack.imgur.com/UrJBA.png" rel="nofollow noreferrer">Planning Hierarchy with Spatial Decomposition</a>, collision avoidance is most
applicable to the safety or low level trajectory planning. Also shown in this figure
are the time requirements for data from each
of the systems. Collision avoidance is the
point at which, if you do not alter course
you will crash. The two places where this
can be observed are in controlled airspace
within the terminal region (airports) and where
the airways intersect. Rules of the Air dictate a set of rules, which if followed prevent this happening. Pilots are not very
good at see-and avoid as they are required
to perform stability and control, communications and high level mission planning. This
means that collisions are not detected as early
as they should be and then become a critical last second maneuver.</p>

<p>In large aircraft, Traffic Collision Avoidance System (TCAS) is used to make the pilots aware of
where approaching aircraft are. TCAS is a co-operative system, which works on the assumption
that both aircraft will have TCAS. If only one aircraft has TCAS, for example a large aircraft 
flying
towards a micro-light, a collision will occur. The large aircraft may turn in one direction, and the
micro-light (who has had no communication with the aircraft) may turn in the same direction. As
mentioned above the issue is with small aircraft, which are unable to carry the large, power hungry
TCAS systems. Larger gliders carry a FLARM system (The name is inspired from Flight Alarm),
which broadcasts its own position and speed vector; but this does not communicate with TCAS, it
just senses the approaching aircraft (only it has FLARM also, leaving the same problem mentioned
with the micro-light).</p>

<p>These systems, which will be on most aircraft in the next ten to fifteen years, have in
influenced many experts in this field, to assume that the position of all aircraft within the operating area will be known. Though it should be noted that, whilst this would be a logical conclusion to draw in controlled airspace, in uncontrolled airspace this cannot be definitively said, because it does not account for the aforementioned small aircraft that are unable to carry such systems.</p>

<p>In order to deal with the situations described above in uncontrolled airspace there are three types
of collision detection sensors:</p>

<ul>
<li>Cooperative : That tell you where they are (e.g. ADS-B)  </li>
<li>Passive : Take data in (e.g. Camera's)  </li>
<li>Active : Send out signals to receive
information back (e.g. Radar/Sonar or Lasers)</li>
</ul>

<p>After the sensor data is acquired, in order to work out where to go, the sensor data is analysed
using Collision Avoidance Algorithms:</p>

<ul>
<li>Potential Fields : Real time obstacle avoidance method. `Robot
motion can be considered as a particle that moves in a gradient
vector field generated by positive and negative electric particles'
The advantage is that it is simple. The disadvantage is the local
minima condition where the robot can get stuck between two walls or
obstacles.</li>
<li>Vortex Potential Field : In order to reduce the problem of the local minima, a vortex can be added to the potential field, the disadvantage of this is that it forces the vehicle one way round the obstacle and this can lead to a sub-optimal path.</li>
<li>Bug Algorithms : Simple to find optimal leave points, the 'simplicity    of these algorithms leads to a number of shortcomings. None of these    algorithms take into account robot kinematics which is a severe    limitation.'</li>
<li>Roadmap : Captures the connectivity of the robots free space into one
dimensional curves 'If more than one continuous paths can be found,
the shortest patch might be selected according to Dijstra's algorithm
or the A* algorithm' Drawbacks are `time and storage complexities
when the environment is complex'</li>
<li>3D Geometric : 'does not require the solution of any programming
problem, thus resulting suitable for real time applications'</li>
<li>Azimuth Approach : Using passive camera video feeds and image
processing techniques to spot the aircraft and detects a collision
based on change in azimuth angle. This method can be very processor
intensive.</li>
<li>Collision Cone : Transforms the velocities of both aircraft into
relative velocities. A safety region is drawn around the obstacle
aircraft and a cone is used to connect the region to the avoiding
aircraft. A potential collision is detected when the relative
velocities are within the cone.</li>
</ul>

<p>A number of path planning algorithms have been discussed in the other answers so I will not repeat them here.</p>

<p>In conclusion you need to fully understand the problem you are dealing with before you can design a collision avoidance algorithm or path planning algorithm to suit the purpose. Many collision avoidance algorithms and path planning algorithms are compared using a simple bicycle model which may or may not be representative of your final application. If the model is not representative then its like tuning a controller for one system then implementing it on another.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2226" data-toggle = "popover">
				<p>user name : Tom Bamber</p>
				<p> user reputation : 303</p>
				<p class = "tagcontent" id = "usertaginfo-2226">{'kinect': 3, 'mobile-robot': 5, 'None': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2226" class = 'collapse'>
			</div>
				<textarea id = "speech-2226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2226">
					<img id="start_img-2226" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2226">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>