<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choosing suitable simulator for a swarm of AUVs
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4873" class = "post">
			<h2>Question</h2>
			<div id="vote-4873" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 280</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choosing suitable simulator for a swarm of AUVs</h2>
<p>Which of the following simulators is the best choice for simulating a swarm of AUVs working together to perform a mission? Please clarify your reason and if you know any better choice, I would greatly appreciate it if you kindly help me. Please consider the need for doing Hardware-In-The-Loop(HIL) simulation. </p>

<ol>
<li>Webots</li>
<li>V-REP</li>
<li><a href="https://savage.nps.edu/AuvWorkbench/" rel="nofollow">AUV Workbench</a></li>
<li>Gazebo</li>
<li>UWSim</li>
<li><a href="http://homepages.laas.fr/afranchi/robotics/?q=node/120" rel="nofollow">SwarmSimX</a> </li>
</ol>

<p>In addition, notice that capability to connect to the middle-wares like ROS is really important. </p>

<p>The other option is using a game engine like Blender but I think it needs a lot of developing effort and is time-consuming! Would you recommend this approach be used? If not, why not? And what would you recommend instead?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4873" data-toggle = "popover">
				<p>user name : Hossein</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-4873">{'None': 0, 'simulator': 2, 'multi-agent': 5, 'swarm': 5, 'auv': 2, 'mobile-robot': 4, 'ros': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4873">Load Comments</button></br>
			<div id = "commentsection-4873" class = 'collapse'>
			<div id = "comment-7591" class = "comment">
				<p>Welcome to *robotics* Hossein, but I'm afraid that this kind of question isn't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. If you explain what problem you are trying to solve, what you have tried and what problems you had, we might be better able to help.</p>
			</div>
			</div>
				<textarea id = "speech-4873" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4873">
					<img id="start_img-4873" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4873">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4881"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4881" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We are using for the AUV-Avalon a simulation called Mars</p>

<p><a href="http://rock-robotics.org/master/documentation/simulation/index.html" rel="nofollow">http://rock-robotics.org/master/documentation/simulation/index.html</a></p>

<p>Unfortunately there is no ROS integration, but a Rock integration.
Rock supports HIL in general.</p>

<p>For AUVs there are multiple integrations available which are collected in the mars-core package <a href="https://github.com/rock-simulation/orogen-mars_core" rel="nofollow">https://github.com/rock-simulation/orogen-mars_core</a> </p>

<p>Mars does not provide hydrodynamic calculation, but the mars-core package provide a fossen-based model for auv motion-simulation.</p>

<p>The documentation therefore is (unfortunately) not finished yet but you can take a look to: <a href="https://gitorious.org/rock-tutorials/orogen-auv_simulation" rel="nofollow">https://gitorious.org/rock-tutorials/orogen-auv_simulation</a></p>

<p>The main advantage is the same interface for simulated and real systems. Rock also provides a lot of (auv) tooling.</p>

<p>But in the end the question is what exactly do you want to simulation, mission-planning, sensors, motion estimation. I think you have to specify this to find a good answer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4881" data-toggle = "popover">
				<p>user name : Matthias Goldhoorn</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-4881">{'None': 11, 'syskit': 1, 'rock': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4881" class = 'collapse'>
			</div>
				<textarea id = "speech-4881" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4881">
					<img id="start_img-4881" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4881">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>