<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choosing motor type for high reliability for many cycles
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9400" class = "post">
			<h2>Question</h2>
			<div id="vote-9400" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 43</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choosing motor type for high reliability for many cycles</h2>
<p>I am designing a multi modal stent testing machine which will bend, twist, and compress stents (very thin, light, and fragile cylindrical meshes for in arteries) in a tube. The machine will operate at maximum 3.6 Hz for months at a time (> 40 million cycles). As the machine will be in a lab with people, the noise should be minimal. I am choosing actuators for my design but was overwhelmed by the range of products available.</p>

<p>For rotating the stents around their axis, I will need a rotary actuator with the following specs:</p>

<ul>
<li>torque: negligible max angle: 20 deg</li>
<li>angular velocity needed: max 70 deg/s</li>
<li>hollow shafts are a plus</li>
</ul>

<p>For compressing the stents, I will need a linear actuator with the following specs:</p>

<ul>
<li>force: low (&lt;1N)</li>
<li>max stroke: 20mm but if possible 70mm for allowing different stent lengths </li>
<li>stroke velocity needed: max 120mm/s</li>
</ul>

<p>Price of these motors is not the driving factor.</p>

<p>I looked into stepper motors, servo motors, and piezoelectric motors. There seems to be s huge selection that fits my requirements. If all motor types have a reliability that suits my needs, which characteristics/advantages/disadvantages should I consider that determine the selection of suitable actuators? I do know what the difference is between the motor types, but there is a lot of overlap. Concrete suggestions are welcome.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9400" data-toggle = "popover">
				<p>user name : Achille</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-9400">{'ros': 1, 'actuator': 1, 'None': 0, 'reliability': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9400" class = 'collapse'>
			</div>
				<textarea id = "speech-9400" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9400">
					<img id="start_img-9400" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9400">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9402"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9402" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Brushless (AC) permanent magnet motors are a reliable technology that has good controllability. </p>

<p>Look for companies whose controllers suite you. Many will have a basic motion environment that is enough to set up your tests without any custom programming.</p>

<p><a href="http://maxonmotor.com" rel="nofollow">Maxon</a> and <a href="http://www.faulhaber.com/en/global/" rel="nofollow">Faulhaber</a> are good sources for small motors and controllers. Faulhaber has direct drive linear motors.</p>

<p>If your hollow shaft is for wiring, and you end up using a hollow shaft motor, make sure you do some stress calculations for the wires. You may find that bending stress (coming in from the side) is better than torsional. Make sure you have wire break detection or use something capable of the fatigue like beryllium copper for the flexing wiring.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9402" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9402">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9402" class = 'collapse'>
			</div>
				<textarea id = "speech-9402" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9402">
					<img id="start_img-9402" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9402">Comment</button>
			<br><div id = "ans-9404"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9404" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Certainly, as @Hauptmech says, a brushless motor is preferred for long-term reliability testing.  I would select between BLAC and BLDC based on the required smoothness of the acceleration profile.   From your description it sounds like that isn't a key performance indicator, so a BLDC motor might be just fine (the difference being whether a trapezoidal or a sinusoidal profile is used to drive the motor).  You could implement a stepper motor, also, which is really just a high pole count brushless motor.   That would be simple to control and would provide the same reliability as any other brushless motor.  </p>

<p>Another mechanical aspect to consider is that of bearing spacing and the ability to withstand off-axis loads (for rotary motors), and off-axis moments (for your linear drives).   The bearings are by far the most likely mechanical item to go bad during your reliability test, so I would compare the specs for those items, assuming all else is equal.  </p>

<p>Since you stated in your question that many technologies would seem to meet your requirements, I would also focus on how easy it would be to maintain the test system, and on how easy it will be to set up.   The main issues I would look at for maintainability are fairly trivial items - going with a company that has a support person in your area, ensuring you can source any required replacement items locally (even though specs say something will last for 5M cycles, not every one will), and being able to get the ancillary components (drives, power supplies, etc) if any of them go bad.   For ease of setup, I would look for a company that has quality applications engineers, and for technologies that your company has used in the past.   If both a stepper and a BLDC motor meet your reliability requirements, and your company has used BLDC motors but not steppers in the past, it would make sense to go with the technology you have experience with.  </p>

<p>There are so many good options for you.  I also suggest that you rationalize a strategy for making this decision, and then make it.   Your testing won't be any better if it takes you three months to decide than it would if you came up with a solution this week :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9404" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9404">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9404" class = 'collapse'>
			</div>
				<textarea id = "speech-9404" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9404">
					<img id="start_img-9404" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9404">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>