<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Choosing motors for 2 wheel drive robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-504" class = "post">
			<h2>Question</h2>
			<div id="vote-504" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2474</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Choosing motors for 2 wheel drive robot</h2>
<p>I am making a 2 wheel drive robot.</p>

<p>Suppose I know that my robot is going to weight x kg when finished and I know the diameter of the wheels y (geared motors will be connected directly to the wheels). I can choose from several geared motors and I know the peak torque of each motor and the idling speed.</p>

<p>How can I calculate the load that a specific motor can take? I.e. will a motor with a given torque be able to move my robot without being too overloaded? What rpm will the motor have when it has load?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-504" data-toggle = "popover">
				<p>user name : JuliusG</p>
				<p> user reputation : 283</p>
				<p class = "tagcontent" id = "usertaginfo-504">{'None': 17, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-504" class = 'collapse'>
			</div>
				<textarea id = "speech-504" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-504">
					<img id="start_img-504" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-504">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-508"  class = "post">
				<h2>Answer</h2>
			<div id="vote-508" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would say you should use the diameter of the wheel (and any gearing embedded in the motor) to calculate how much force each motor can provide in the point of contact, and estimate the amount of friction your wheel would have against the expected surface your robot would be moving around on.</p>

<p><strong>Note that this isn't exactly trivial to estimate</strong>, so usually what people do as far as I know is either choose a motor that is obviously much stronger than what would be necessary or prototype until they reach a sweet spot. <strong>Open-source projects</strong> are also a great way to become more aware of the realistic needs of your robot.</p>

<p>I will also add another point that wasn't included in your question but is mighty important: <strong>if you plan to use DC motors, make sure they have encoders</strong>. That way, you will be able to perform closed-loop control and your robot will be able to walk in a straight line. Also, if its possible, <strong>try to use current sensing</strong> so you can detect overloading conditions when your robot is stalled.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-508" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-508">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-508" class = 'collapse'>
			</div>
				<textarea id = "speech-508" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-508">
					<img id="start_img-508" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-508">Comment</button>
			<br><div id = "ans-663"  class = "post">
				<h2>Answer</h2>
			<div id="vote-663" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are really nice on-line <a href="http://www.societyofrobots.com/calculator.shtml" rel="nofollow">calculators on societyofrobots</a> including a <a href="http://www.societyofrobots.com/RMF_calculator.shtml" rel="nofollow">robot motor factor calculator</a> that could be helpful for you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-663" data-toggle = "popover">
				<p>user name : rics</p>
				<p> user reputation : 551</p>
				<p class = "tagcontent" id = "usertaginfo-663">{'kinect': 32, 'multi-agent': 3, 'None': 25, 'sensors': 32}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-663" class = 'collapse'>
			</div>
				<textarea id = "speech-663" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-663">
					<img id="start_img-663" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-663">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>