<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>clarity in understanding the moment of inertia matrix D and Coriolisis and centripetal matrix C as per attached equations
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13912" class = "post">
			<h2>Question</h2>
			<div id="vote-13912" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 27</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>clarity in understanding the moment of inertia matrix D and Coriolisis and centripetal matrix C as per attached equations</h2>
<p>Would appreciate if anyone could help me understand the how if equation 6 and 7 are derived. Helping with any one D22 and C32 would suffice.</p>

<p><a href="https://i.stack.imgur.com/YVswN.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/YVswN.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13912" data-toggle = "popover">
				<p>user name : GKY1980</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-13912">{'control': 3, 'None': 0, 'kinematics': 0, 'matlab': 3, 'dynamics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13912">Load Comments</button></br>
			<div id = "commentsection-13912" class = 'collapse'>
			<div id = "comment-22704" class = "comment">
				<p>The definitions of D and C are given in equation 4 of that text.   Are you having trouble computing them, or do you want more information about what they represent?</p>
			</div>
			<div id = "comment-22707" class = "comment">
				<p>I have issue in understanding how those equations are arrived at. I seek clarity in understanding how the Ixx, Iyy, Izz elements of the inertia tensor matrix are derived.</p>
			</div>
			</div>
				<textarea id = "speech-13912" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13912">
					<img id="start_img-13912" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13912">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-13917"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13917" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Where did this example come from? It looks like maybe a class handout or similar. I don't agree with all of the formulas given, but I'll try to explain where I think they <em>should</em> be coming from. </p>

<p>The $\bf{D}$ matrix is pretty straightforward - the key here is to understand the <a href="https://en.wikipedia.org/wiki/Parallel_axis_theorem#Mass_moment_of_inertia" rel="nofollow noreferrer">parallel axis theorem</a>, which is a formula for finding the moment of inertia at one point given the moment of inertia at the center of mass and the mass:</p>

<p>$$
I_{\mbox{new}} = I_{\mbox{center of mass}} + mr^2 \\
$$</p>

<p>The linkages form a <a href="https://en.wikipedia.org/wiki/Kinematic_chain" rel="nofollow noreferrer">kinematic tree</a>, where each joint "feels" the mass of its "downstream" link and the effective masses of all links attached after it as well. </p>

<p>So, start with the last term in the matrix - $\bf{D}_{44}$:</p>

<p>$$
D_{44} = I_{bu} + M_{bu}r_4^2 \\
$$</p>

<p>This is exactly the parallel axis theorem. You transfer the moment of inertia from the center of mass of the bucket to the stick-bucket joint, because that's where you're rotating. The next step is a little tricky because everything has already been reduced. I'll walk through the derivation of $\bf{D}_{33}$ and then hand-wave the rest saying the method is similar. </p>

<p>The distance from $O_2$ to $O_3$ is $a_3$. The distance from $O_3$ to $G_4$ is $r_4$. </p>

<p>If you wanted to get the distance from $O_2$ to $G_4$, then you could use the Pythagorean theorem, but <em>that's only applicable for right triangles</em>, so what you have to use instead is the <a href="https://en.wikipedia.org/wiki/Law_of_cosines" rel="nofollow noreferrer">law of cosines</a>, which is a generalization of the Pythagorean theorem that applies to <em>all</em> triangles:</p>

<p>$$
c^2 = a^2 + b^2 - 2ab\cos{\gamma} \\
$$
Where $\gamma$ is the angle between $a$ and $b$. Side note: for right triangles, they're "right" because the angle between $a$ and $b$ is a right angle (90 degrees), so the cosine of 90 is zero, so that term drops off and you're left with the Pythagorean theorem. </p>

<p>So, for your example, you need not just the angle of the stick-bucket joint, but also the angle from that joint to the center of mass. </p>

<p>The angle of the stick-bucket joint is $\pi + \theta_4$, per the drawing, and now you need the angle from the $O_3 - O_4$ joint to the center of mass of the bucket; this is given as $\alpha_4$.</p>

<p>Now, going back to the parallel axis theorem, if you wanted the moment of inertia for the <em>bucket</em> about the stick-boom joint, you need the moment of inertia for the bucket <em>at the bucket's center of mass</em>, and then you need the <em>straight-line distance</em> from the bucket-stick joint out to the center of mass of the boom. </p>

<p>Call that distance $c$, call the distance from the boom-stick (<a href="https://www.youtube.com/watch?v=pFriRcIwqNU&amp;t=29s" rel="nofollow noreferrer">joke</a>) joint to the stick-bucket joint $a$, and the distance from the stick-bucket joint to the bucket center of mass $b$, then what you get is:</p>

<p>$$
I_{\mbox{bucket about boom-stick joint}} = I_bu + M_{bu}c^2 \\
$$</p>

<p>$$
c^2 = a^2 + b^2 - 2ab\cos{\left(\mbox{joint angle} + \mbox{center of mass angle}\right)} \\
$$</p>

<p>$$
c^2 = a_3^2 + r_4^2 - 2a_3r_4\cos{\left(\left(\pi + \theta_4\right) + \left(\alpha_4\right)\right)} \\
$$</p>

<p>Now a little regrouping in the cosine term:</p>

<p>$$
c^2 = a_3^2 + r_4^2 - 2a_3r_4\cos{\left(\pi +\left(\theta_4 + \alpha_4\right)\right)} \\
$$</p>

<p>And finally a <a href="https://en.wikipedia.org/wiki/List_of_trigonometric_identities#Shifts_and_periodicity" rel="nofollow noreferrer">period shift identity</a>:</p>

<p>$$
\cos(\pi + \theta) = -\cos{\theta} \\
$$</p>

<p>And you get:</p>

<p>$$
c^2 = a_3^2 + r_4^2 - 2a_3r_4\left(-\cos{\left(\theta_4 + \alpha_4\right)}\right) \\
$$</p>

<p>Distribute the negative:</p>

<p>$$
c^2 = a_3^2 + r_4^2 + 2a_3r_4\cos{\left(\theta_4 + \alpha_4\right)} \\
$$</p>

<p>NOW FINALLY plug this $c^2$ back into the shifted moment of inertia equation:</p>

<p>$$
\begin{array}{ccl}
I_{\mbox{bucket about boom-stick joint}} &amp; = &amp; I_{bu} + M_{bu}c^2 \\
&amp; = &amp; I_{bu} + M_{bu}(a_3^2 + r_4^2 + 2a_3r_4\cos{\left(\theta_4 + \alpha_4\right)}) \\
&amp; = &amp; I_{bu} + M_{bu}r_4^2 + M_{bu}(a_3^2 + 2a_3r_4\cos{\left(\theta_4 + \alpha_4\right)}) \\
\end{array}
$$</p>

<p>Now recognize that $D_{44} = I_{bu} + M_{bu}r_4^2$, meaning that:</p>

<p>$$
I_{\mbox{bucket about boom-stick joint}} = D_{44} + M_{bu}(a_3^2 + 2a_3r_4\cos{\left(\theta_4 + \alpha_4\right)}) \\
$$</p>

<p>So that's the moment of inertia of the <em>bucket</em> about the boom-stick joint, now you also need to add the moment of inertia of the stick about the boom-stick joint, </p>

<p>$$
I_{\mbox{stick about boom-stick joint}} = I_{st} + M_{st}r_3^2 \\
$$</p>

<p>Put it all together and get:
$$
\begin{array}{ccl}
I_{33} = D_{33}&amp; = &amp; I_{\mbox{stick about boom-stick joint}} + I_{\mbox{bucket about boom-stick joint}} \\
&amp; = &amp; I_{st} + M_{st}r_3^2 + D_{44} + M_{bu}(a_3^2 + 2a_3r_4\cos{\left(\theta_4 + \alpha_4\right)}) \\
&amp; = &amp; \boxed{D_{44} + I_{st} + M_{st}r_3^2 + M_{bu}(a_3^2 + 2a_3r_4\cos{\left(\theta_4 + \alpha_4\right)})} \\
\end{array}
$$</p>

<hr>

<h2>Short P.S. -</h2>

<p>The trouble with calculating the Coriolis force (why I'm not willing to do it at the moment) is that it's a <em>cross-product</em>. You're looking at a singular plane, but it looks like the axes are flipping for some reason; $O_3$ and $O_4$ seem to be rotated about the y-axis? Or maybe the y- and x-axes? I can't tell if that's a typo or not. </p>

<p>Anyways, you should take the cross-product and then keep the terms about the axes you care about; the forces about the axes in the plane don't affect the solution. </p>

<p>But, there are a lot of typos in the document; </p>

<ul>
<li>$D_{44} = I_{bu} + M_{bu}R_4^2$ should be $D_{44} = I_{bu} + M_{bu}r_4^2$, </li>
<li>$D_{24} = D_{42} + D_{34} + (...)$ should probably be $D_{24} = D_{42} = D_{34} + (...)$,</li>
<li>I <em>think</em> that the signs are wrong on the off-diagonal $D$ terms, but I'm not willing to study the problem hard enough to verify,</li>
<li>there are $\dot{\theta}_{234}$ terms that aren't defined, etc. </li>
</ul>

<p>I would definitely question the source/author of the paper you've acquired. Generally speaking, the method is as I've described above. Start where the only force is the local one, then work your way up (or down) the kinematic chain. Subsequent forces are the new <em>local</em> forces plus all of the <em>previous</em> forces <strong>expressed relative to the local frame</strong>. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13917" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-13917">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13917">Load Comments</button></br>
			<div id = "commentsection-13917" class = 'collapse'>
			<div id = "comment-22711" class = "comment">
				<p>I've got to run at the moment, but this should be enough to get you started. The Coriolis forces should work the same, but I'm a little confused in that I would have expected them to go the "other direction" down the kinematic chain. The Coriolis "force" is a fictitious force that exists to "explain" how an object moves because of rotations elsewhere, like how a bullet "curves" because the Earth is rotating. I'm not sure then how $C_{44} = 0$; I would have expected $C_{22} = 0$.</p>
			</div>
			<div id = "comment-22716" class = "comment">
				<p>Hi, Thanks a ton for enlightening me. I owe my respect and gratitude to this community and contributors for being instantaneous and courteous to help. Honestly, I have been battling with this for about 3 weeks. I would go through the discussions and revert on questions if any. The paper reference is  https://www.researchgate.net/publication/225972318_Modelling_and_Remote_Control_of_an_Excavator</p>
			</div>
			</div>
				<textarea id = "speech-13917" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13917">
					<img id="start_img-13917" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13917">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>