<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>classify if two adjacent surfaces belong to same object
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1666" class = "post">
			<h2>Question</h2>
			<div id="vote-1666" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 166</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>classify if two adjacent surfaces belong to same object</h2>
<p>I have a box (cuboid) lying on floor or table. So there are 6 surfaces of the box and 1 surface of the floor. If I take each pair of surface such that the surfaces are "adjacent" to each other, I get two kind of pairings:</p>

<p>1) two surfaces of the box: the surface normals of the surfaces diverge from each other.</p>

<p>2) 1 surface of the box + surface of the floor : the surface normals converge and intersect at an angle of 90 degrees. ( 8o to 100 degrees, if we want to add some tolerance).</p>

<p>I want to distinguish these two cases by representing through a function? What function can distinguish between these two situations?</p>

<p>In both cases, the the normalized dot product of the surface normals is 0, since the angle b/w them is 90 degrees. So this is not the right solution...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1666" data-toggle = "popover">
				<p>user name : Swagatika</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-1666">{'stereo-vision': 1, 'None': 0, 'computer-vision': 14, 'algorithm': 7, 'kinect': 14, 'books': 0, 'machine-learning': 5, 'forward-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1666">Load Comments</button></br>
			<div id = "commentsection-1666" class = 'collapse'>
			<div id = "comment-3501" class = "comment">
				<p>Can you clarify this a bit?  Are you looking for a function that can generate surface normals for each surface, or a function to determine whether two surface normals intersect within a given range of angles?</p>
			</div>
			<div id = "comment-3512" class = "comment">
				<p>1st, I have the surface normals. My aim is not to generate them. 2nd thing, the two situations I mentioned, the two surfaces are perpendicular. So the dot product b/w the corr. surface normals is 0 and hence the angle can be found out as 90 degrees. So thats not the concern. The concern is to find a function where the surface normals really intersect at 90 degrees vs the surface normals do not intersect although angle b/w them may be 90 degrees... Hope it is clear now...</p>
			</div>
			</div>
				<textarea id = "speech-1666" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1666">
					<img id="start_img-1666" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1666">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1692"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1692" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It actually makes sense that the dot product in both cases is the same (zero) because the dot product of two vectors does not consider the vectors' origins.  Or in other words the math for the dot product places the two vectors at the same origin. In this sense there is no way to distinguish converging or diverging vectors.</p>

<p>I think what you need to do is to consider a midpoint for your surfaces as well as their normals and then you should have a convergence or a divergence. Or try taking a dot product of one surface's normal with the other surface's position or vice versa. You will probably find that positive vs negative numbers in this regard will get the answer you seek. </p>

<p>Or maybe you can use the delta position from one to the other against a normal. See the following sketch.</p>

<p><img src="https://i.stack.imgur.com/3IqXt.jpg" alt="enter image description here"></p>

<p>By delta position I mean P1-P2. I hope the diagram helps to clarify. I've drawn two cases: case #1 on the left and case #2 on the right. Calculate the dot product of the two blue vectors or the two red vectors. So, for example:</p>

<pre><code>answer = dot( N[blue], P[red]-P[blue] )
</code></pre>

<p>These vectors won't be perpendicular, but the answer will tell you if the one surface is in front of the other or behind it. For case #1 the dot products will be positive. For case #2 the dot products will be negative.  In fact, this method will tell you if any two arbitrarily positioned surfaces that meet at a common edge are convex or concave (divergent or convergent). They don't have to be perpendicular.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1692" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-1692">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1692">Load Comments</button></br>
			<div id = "commentsection-1692" class = 'collapse'>
			<div id = "comment-3547" class = "comment">
				<p>Thanks :) Let me rephrase what you have said in 2nd paragraph: 1) surface1 has : midpoint1 and normal1. surface2 has : midpoint2 and normal2. 2) dotpdt(midpoint1, normal2) and dotpdt(midpoint2,   normal1) .  3) I should watch the sign of the dotpdts.  Is this what you mean?  I  guess, for perpendicular surfaces, this dot product will give value +/- 1. I am not able to figure out how it will help... Can you please explain a bit more? Also, I did not understand the 3rd paragraph...</p>
			</div>
			<div id = "comment-3551" class = "comment">
				<p>@Swagatika, I added a diagram and hopefully some clarification.</p>
			</div>
			<div id = "comment-3553" class = "comment">
				<p>hmm...Thanks again :) This seems good ... I will implement it and hopefully it will work...</p>
			</div>
			</div>
				<textarea id = "speech-1692" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1692">
					<img id="start_img-1692" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1692">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>