<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cloth (non-rigid body) manipulation with computer vision?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11506" class = "post">
			<h2>Question</h2>
			<div id="vote-11506" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cloth (non-rigid body) manipulation with computer vision?</h2>
<p>I am currently working on a prototype device to <strong><em>automate cloth ironing task</em></strong>. So basically the mechanical design involves 4 manipulators and a separate manipulator arm with a <strong><em>hot pad (iron)</em></strong>  to manipulate a given cloth to perform the ironing task. I understand its a very complicated task and I have come up with the following steps to potentially go about solving this problem. <strong><em>I would appreciate any kind input on the plausibility of this idea (mechanical and software challenges).</em></strong></p>

<p><strong><em>For my first EB (Engineering build), I'm solely focusing on solving this problem for a T-shirt</em></strong>, probably extend this solution to other cloth types with modifications. </p>

<ol>
<li><p>From a pile of clothes, choose a certain cloth for ironing using background subtraction and colour based image segmentation (already programmed this part and its working!)</p></li>
<li><p>Classify or recognise the chosen cloth into one of any known classes using CNN (Convoluted neural networks). <strong><em>I personally think this part is quite achievable given that I have enough training data to train my network.</em></strong> </p></li>
<li><p>This is where the problem begins!. <strong><em>After classifying the given cloth, find coordinates of points of interest to manipulate the cloth in a certain 'predetermined' mechanical movement to facilitate the manipulation of cloth</em></strong>. What I mean by points of interest here is, for example, in the case of a T-shirt (see image below); <strong><em>the algorithm should localise the locations</em></strong> the following parts
1) Midpoint of T-shirt hem (see image for details)
2) Corner point of T-shirt hem (see image for details)
2) Start of yoke
3) End of the yoke</p></li>
</ol>

<p><strong><em>I believe (through my mental visualisation) that these are the key points to place the T-shirt flat on the surface (a known STATE)</em></strong>. When the T-shirt is flat on the surface, it could be stretched just enough to make the cloth wrinkle free to facilitate ironing through some kind of force sensing mechanism (Haven't really though about it, but I presume its not huge challenge).</p>

<ol start="4">
<li>When the cloth is in a known STATE, proceed to ironing using path planning algorithms. </li>
</ol>

<p><a href="https://i.stack.imgur.com/OWWpO.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/OWWpO.jpg" alt="enter image description here"></a></p>

<p>I do  understand that this is a very complex problem, just want to get some inputs to see if I am on the right path. <strong><em>I am really not sure if STEP 4 is mechanically achievable since non-rigid body manipulation is a huge problem for robots.</em></strong> <strong><em>I am quite confident on the software aspect of the project, I believe a large enough data set and well tested algorithm will help me identify the afore-mentioned points of interest in a test cloth. But I would like hear the mechanical challenges and plausibility of this project from design engineers standpoint. Hope I'm clear about my query.</em></strong></p>

<p>Any input is appreciated.
Thank you so much and cheers :)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11506" data-toggle = "popover">
				<p>user name : Vino</p>
				<p> user reputation : 75</p>
				<p class = "tagcontent" id = "usertaginfo-11506">{'control': 1, 'robotic-arm': 1, 'pid': 1, 'slam': 0, 'motor': 1, 'linux': 5, 'mobile-robot': 0, 'ros': 5, 'forward-kinematics': 5, 'manipulator': 1, 'robotics-library': 0, 'mechanism': 1, 'opencv': 0, 'cnc': 2, 'machine-learning': 0, 'None': 2, 'inverse-kinematics': 5, 'artificial-intelligence': 0, 'automation': 1, 'industrial-robot': 0, 'quadcopter': 0, 'computer-vision': 2, 'c++': 5, 'circuit': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11506">Load Comments</button></br>
			<div id = "commentsection-11506" class = 'collapse'>
			<div id = "comment-20651" class = "comment">
				<p>Welcome to *Robotics*, VinokanthVelu. Unfortunately, questions like this fall into a group of questions that are "open-ended design questions." Question about how to accomplish or achieve something don't have a clear, concise answer because there are so many factors to consider. Are all the shirts you are going to work with uniform in nature? Are they all T-shirts, as you've depicted, or do you need to work with buttoned shirts as well? Do any have pockets? What material are they made of? The list goes on.</p>
			</div>
			<div id = "comment-20652" class = "comment">
				<p>Generally, when you get to a high-level flow chart, ironing a shirt really is just find the shirt, ID the shirt, lay it flat, then iron it. The problem you're going to face is that the shirts are in a pile. What if it's inside-out? Finding the seams may or may not be terribly difficult, if you have a good enough algorithm with enough test data. That is really what all your "points of interest" are - side *seam*, hem *seam*, collar *seam*, etc. For manipulating the fabric, you need to pull hard enough to get the wrinkles out, but not so hard you tear or stretch it. Look up compliant control.</p>
			</div>
			<div id = "comment-20653" class = "comment">
				<p>So, like I mention above, your question, *as it stands*, is currently *off-topic*. If you'd like to *chat* about your project, please join us in [chat]. If you could narrow this down from, "Am I on the right track?" to something that is *specific* and *answerable*, then please edit your question to reflect that. As I said, *generally speaking*, yes you find the shirt, lay it flat, and iron it. When you have *specific* problems trying to implement that logic, *those* are the questions suitable for the Q&A format.</p>
			</div>
			<div id = "comment-20657" class = "comment">
				<p>@Chuck Hello bro, thank you so much for your kind and insightful comment. As you advised, I have modified the question with sufficient details. Thank you :)</p>
			</div>
			</div>
				<textarea id = "speech-11506" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11506">
					<img id="start_img-11506" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11506">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>