<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>CNCing an injection mold
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-835" class = "post">
			<h2>Question</h2>
			<div id="vote-835" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 101</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>CNCing an injection mold</h2>
<p>I want to injection-mold several thousand of a part that fits in a 6" x 6" x 2" bed.</p>

<p>I would like to be able to use only tooling that I can make myself, so I can rapidly iterate on the tooling as production problems are discovered.</p>

<p>I know that typical injection-mold "hard tooling" is created using <a href="http://en.wikipedia.org/wiki/Electrical_discharge_machining" rel="nofollow">electrical discharge machining</a>, which requires first CNCing a carbon positive and then using that as an electrode to spark-burn out a negative mold from hard steel.</p>

<p>However, I do not have the equipment for EDM. Instead, I would prefer to directly CNC the negative mold. I know that a soft enough steel to be CNCed will not last very long as an injection mold, but like I said, my run size is tiny, and I am ok with making a new mold every 500 units or so if necessary.</p>

<p>I am open to buying an endmill that is diamond-tipped, to work with harder steel, but then the limitation will probably be how much torque the CNC can produce on the endmill.</p>

<p>What are some recommendations or links to helpful resources? In particular, what is a good CNC with enough torque, and what blend of steel should I use? Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-835" data-toggle = "popover">
				<p>user name : AlcubierreDrive</p>
				<p> user reputation : 248</p>
				<p class = "tagcontent" id = "usertaginfo-835">{'None': 8, 'manufacturing': 5, 'cnc': 2, '3d-printing': 5, 'arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-835">Load Comments</button></br>
			<div id = "commentsection-835" class = 'collapse'>
			<div id = "comment-2085" class = "comment">
				<p>Interesting question but I don't believe there is yet a relevant site to ask it on. This is probably off topic here, maybe it should be migrated to the proposed Digital Fabrication should it reach beta?</p>
			</div>
			<div id = "comment-2086" class = "comment">
				<p>The long list of CNC mills at http://reprap.org/wiki/MillStrap surely has at least a few suitable machines.</p>
			</div>
			<div id = "comment-2087" class = "comment">
				<p>I'm struggling to see how this is on-topic here...</p>
			</div>
			<div id = "comment-2092" class = "comment">
				<p>@Andrew: (a) people who make robots often use CNC machines to make robots, and more importantly, (b) CNC machines themselves are a kind of robot.</p>
			</div>
			<div id = "comment-2095" class = "comment">
				<p>I agree with @DavidCary that CNC machines are robots and roboticists frequently use CNC machines to make parts for their robots. However I don't see any robotics related questions. All the questions appear to be manufacturing related. As such I argue that this question is off-topic here.</p>
			</div>
			<div id = "comment-2096" class = "comment">
				<p>CNC related questions are not directly on- or off-topic... but this question appears related to tooling rather than any robotics aspect.

My comment was more of a hint to make it better - if I was decided I'd have closed it. I didn't (yet) but there are Votes...</p>
			</div>
			<div id = "comment-2098" class = "comment">
				<p>While it's not a great fit for here, I don't see anywhere better on the SE network at the moment. Not every question needs to find a home on SE, true, but it is still tangentially related, so I'd let it stand for the moment. But I'd encourage you to go and support the [digital fabrication](http://area51.stackexchange.com/proposals/41850/digital-fabrication) Area 51 proposal, and we can migrate the question once their beta goes live</p>
			</div>
			<div id = "comment-2105" class = "comment">
				<p>@JoeBaker - I created the [Digital Fabrication](http://area51.stackexchange.com/proposals/41850/digital-fabrication?referrer=HAU0BHc85WMAKpA7nTzd4Q2) proposal as an attempt to see if a more [vertical](http://en.wikipedia.org/wiki/Vertical_market) site could succeed where several more general *robotics* proposals had failed. Since this site went into *beta* I've come to the conclusion that many of the CNC, automation & 3d printer questions there would fit just as well here on robotics, now we have launched.</p>
			</div>
			<div id = "comment-2106" class = "comment">
				<p>Having said that, this question would be better if it weren't summarised at the end as if it were a [shopping question](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/) however.</p>
			</div>
			<div id = "comment-2109" class = "comment">
				<p>@MarkBooth Yeah, it's definitely the most on-topic place we have right now to post it given the options. Maybe borrow it as a proposed question for Digital Fabrication?</p>
			</div>
			<div id = "comment-2115" class = "comment">
				<p>@JoeBaker - Feel free, I used up my 5 questions long ago. *8')</p>
			</div>
			<div id = "comment-2116" class = "comment">
				<p>@JoeBaker Yeah go for it. I would love for Digital Fabrication to come into its own.</p>
			</div>
			</div>
				<textarea id = "speech-835" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-835">
					<img id="start_img-835" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-835">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-836"  class = "post">
				<h2>Answer</h2>
			<div id="vote-836" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Answer from my MechE friend Sam who doesn't have an account:</p>

<blockquote>
  <p>First, I don't think you're going to have trouble with any CNC not
  having enough torque</p>
  
  <p>Second I don't think you'll need diamond tipped. Tungsten carbide max.</p>
  
  <p>I would look into using aluminum I believe it is viable for some
  molding.</p>
  
  <p>And mild steel should definitely hold up. Easier to machine as well.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-836" data-toggle = "popover">
				<p>user name : AlcubierreDrive</p>
				<p> user reputation : 248</p>
				<p class = "tagcontent" id = "usertaginfo-836">{'None': 8, 'manufacturing': 5, 'cnc': 2, '3d-printing': 5, 'arm': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-836" class = 'collapse'>
			</div>
				<textarea id = "speech-836" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-836">
					<img id="start_img-836" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-836">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>