<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Code control your arduino with keyboard
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5302" class = "post">
			<h2>Question</h2>
			<div id="vote-5302" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 645</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Code control your arduino with keyboard</h2>
<p>I've seen lots of examples on how to communicate from Arduino to the computer, but the few that talked about computer to Arduino communications were very hard to understand.</p>

<p>My question is: <em>What code can I use to control my arduino Uno with my keyboard</em></p>

<p>if it helps, I'm trying to set up a WASD steering behavior.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5302" data-toggle = "popover">
				<p>user name : Vince Scalia</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-5302">{'gearing': 2, 'None': 0, 'arduino': 2, 'mechanism': 2, 'servomotor': 2, 'programming-languages': 2, 'legged': 2, 'motion-planning': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5302">Load Comments</button></br>
			<div id = "commentsection-5302" class = 'collapse'>
			<div id = "comment-9357" class = "comment">
				<p>Should we move this question to http://arduino.stackexchange.com/ ?</p>
			</div>
			<div id = "comment-9358" class = "comment">
				<p>uhhhh... I asked the same thing there. so if you moved it they might mark as duplicate. you didn't move it within a week so I assumed it wouldn't ever be moved.</p>
			</div>
			</div>
				<textarea id = "speech-5302" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5302">
					<img id="start_img-5302" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5302">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5303"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5303" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://playground.arduino.cc/Main/PS2Keyboard" rel="nofollow">http://playground.arduino.cc/Main/PS2Keyboard</a></p>

<p>The extended version <a href="http://playground.arduino.cc/Main/PS2KeyboardExt2" rel="nofollow">http://playground.arduino.cc/Main/PS2KeyboardExt2</a></p>

<p>This example will show you how to read data from keyboard.The library will let you process keys in real time.From there simple if statement can be used to get the desired effect.I hope that the links will answer any other questions you have.</p>

<p>I hope I have helped but,these question will be better answered in the arduino section vs the robotics section.Comment for any clarification needed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5303" data-toggle = "popover">
				<p>user name : Harpreet Singh</p>
				<p> user reputation : 68</p>
				<p class = "tagcontent" id = "usertaginfo-5303">{'mobile-robot': 1, 'None': 6, 'localization': 1, 'arduino': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5303">Load Comments</button></br>
			<div id = "commentsection-5303" class = 'collapse'>
			<div id = "comment-8080" class = "comment">
				<p>Oh. hah. didn't even see the  arduino stack exchange. Thanks for the links. I'll look into them.</p>
			</div>
			<div id = "comment-8081" class = "comment">
				<p>OK let me know if you need any help in it</p>
			</div>
			<div id = "comment-8082" class = "comment">
				<p>Yeah. About that. I want to be able to control it with my keyboard, via computer. I'd just use the regular USB plugin. I'm brand new so all I have so far is *Serial.begin(9600);*</p>
			</div>
			<div id = "comment-8083" class = "comment">
				<p>take a look at second link.The way they print the arrow can be change to make a motor move instead like byte c=keyboard.read() if(c=='w'){ //move left and right motors foward}</p>
			</div>
			<div id = "comment-8085" class = "comment">
				<p>+1, does that only work with a certain type of keyboard?</p>
			</div>
			<div id = "comment-8086" class = "comment">
				<p>It says one of two interrupts. what is the first?</p>
			</div>
			</div>
				<textarea id = "speech-5303" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5303">
					<img id="start_img-5303" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5303">Comment</button>
			<br><div id = "ans-6340"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6340" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is probably not an answer you are looking for but it helps simplifying the problem. You need first to pick up the right tools to achieve this simple project. First of all, you need a way to detect a keyboard event. In C/C++, there are many APIs for this purpose. For example, GLUT is an old friendly API for this stuff. For this simple project, I recommend using it because it is very simple. After that you need another API for supporting serial communication protocol which allows you to send and receive data from COM port. Windows supports serial communication. If you know C/C++ then this is a piece of cake. Since you didn't mention which language you are using, you might not get a code for your problem. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6340" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-6340">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6340">Load Comments</button></br>
			<div id = "commentsection-6340" class = 'collapse'>
			<div id = "comment-9313" class = "comment">
				<p>Even simpler than GLUT (and much cleaner, and better designed) is [SDL](http://libsdl.org/).</p>
			</div>
			</div>
				<textarea id = "speech-6340" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6340">
					<img id="start_img-6340" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6340">Comment</button>
			<br><div id = "ans-6461"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6461" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I did similar thing using bluetooth module. I connected the bluetooth module to board, for board it was serial1 port, I paired my computer with the bluetooth module and used this library to communicate from PC. <a href="https://code.google.com/p/java-simple-serial-connector/" rel="nofollow">https://code.google.com/p/java-simple-serial-connector/</a>. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6461" data-toggle = "popover">
				<p>user name : Ruturaj</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6461">{'opencv': 0, 'None': 0, 'computer-vision': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6461" class = 'collapse'>
			</div>
				<textarea id = "speech-6461" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6461">
					<img id="start_img-6461" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6461">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>