<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cognitive Architectures: how do you perform qualitative and quantitative comparisons?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7457" class = "post">
			<h2>Question</h2>
			<div id="vote-7457" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 98</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cognitive Architectures: how do you perform qualitative and quantitative comparisons?</h2>
<p>I couldn't find a sub stackexchange for artificial intelligence, but I think robotics comes close, and so I'm posting here.</p>

<p>I recently saw TED talks on <a href="https://www.ted.com/topics/ai" rel="nofollow">AI</a> and the Google car, with these being the most interesting to me:</p>

<ol>
<li><a href="https://www.ted.com/talks/hod_lipson_builds_self_aware_robots" rel="nofollow">Hod Lipson - Building "self-aware" robots</a> </li>
<li><a href="https://www.ted.com/talks/juan_enriquez_shares_mindboggling_new_science?language=en" rel="nofollow">Juan Enriquez - The next species of human</a></li>
<li><a href="https://www.ted.com/talks/ray_kurzweil_get_ready_for_hybrid_thinking" rel="nofollow">Ray Kurzweil - Get ready for hybrid thinking</a></li>
</ol>

<p>The third one led me to the <a href="http://en.wikipedia.org/wiki/How_to_Create_a_Mind#Analysis" rel="nofollow">'criticism' section</a> (labeled <code>Analysis</code> on that wiki article, though it certainly at least partially reads as a criticism section as well) of Kurzweil 'theory' of the brain, namely <a href="http://en.wikipedia.org/wiki/How_to_Create_a_Mind#Pattern_Recognition_Theory_of_Mind" rel="nofollow">"Pattern Recognition Theory of Mind" (PRTM)</a>.  After some link surfing on the people who have performed analysis of PRTM and their respective academic contributions, I came to learn about <a href="http://en.wikipedia.org/wiki/Cognitive_architecture" rel="nofollow">Cognitive Architecture</a>:</p>

<blockquote>
  <p>"A cognitive architecture can refer to a theory about the structure of
  the human mind. One of the main goals of a cognitive architecture is
  to summarize the various results of cognitive psychology in a
  comprehensive computer model. However, the results need to be in a
  formalized form so far that they can be the basis of a computer
  program. By combining the individual results are so for a
  comprehensive theory of cognition and the other a commercially usable
  model arise. Successful cognitive architectures include ACT-R
  (Adaptive Control of Thought, ACT), SOAR and OpenCog."</p>
</blockquote>

<p>It appears that there are several interesting architectures, including the 3 mentioned above.  I read a bit about <a href="http://en.wikipedia.org/wiki/ACT-R" rel="nofollow">ACT-R</a>, <a href="http://en.wikipedia.org/wiki/Soar_(cognitive_architecture)" rel="nofollow">SOAR</a>, <a href="http://en.wikipedia.org/wiki/OpenCog" rel="nofollow">OpenCog</a>, <a href="http://en.wikipedia.org/wiki/DUAL_(cognitive_architecture)" rel="nofollow">DUAL</a>, <a href="http://en.wikipedia.org/wiki/CHREST" rel="nofollow">CHREST</a>, and <a href="http://en.wikipedia.org/wiki/CLARION_(cognitive_architecture)" rel="nofollow">CLARION</a>.  The list is not comprehensive.  It also appears that there are two main types of such architectures: <a href="http://en.wikipedia.org/wiki/Connectionism" rel="nofollow">Connectionism</a> and <a href="http://ai.eecs.umich.edu/cogarch2/prop/symbolism.html" rel="nofollow">Symbolic</a>.</p>

<p>Though I have many questions, my main question is this:
<strong>What are some quantitative metrics and qualitative properties to measure and compare between the two architecture types?</strong></p>

<p>Other questions</p>

<ul>
<li>Can all architectures be categorized as one, the other, or some
combination of the two, or is there a third, fourth, etc? </li>
<li>How are two main types alike? How are they different?</li>
<li>What are some recommended further readings on this topic. </li>
<li>What centres and organizations are leading development in this?</li>
<li>What are some of the computer programming languages, related skill-sets, and
cross-domain knowledge set utilized in R&amp;D and product offerings of
such systems?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-7457" data-toggle = "popover">
				<p>user name : SaSha</p>
				<p> user reputation : 109</p>
				<p class = "tagcontent" id = "usertaginfo-7457">{'None': 0, 'artificial-intelligence': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7457">Load Comments</button></br>
			<div id = "commentsection-7457" class = 'collapse'>
			<div id = "comment-10649" class = "comment">
				<p>**First**, OP stands for "Original Poster" - the person that asked the question. This is you. **Second**, questions that should be asked here are questions that are closed-ended, in that they should have 1 correct answer. The only question you have asked that meets this criteria is 1.3 - Is there a way to benchmark architecture types. I would ask that you edit your question to only ask that one, and take all of the other questions to [the Robotics chat room.](http://chat.stackexchange.com/rooms/6221/asimovs-corner)</p>
			</div>
			<div id = "comment-10715" class = "comment">
				<p>Welcome to *robotics* Saad Shakil, but I'm afraid that open ended questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-10736" class = "comment">
				<p>I've asked the question that meets the criteria in a less open-ended manner.  Does it qualify to be taken off hold now? I believe it does 'inspire answers that explain  why  and  how ', it will likely 'tend to have long, not short, answer', I certainly think it has a 'constructive, fair, and impartial tone', I look fwd to knowing 'experiences over opinions', certainly all of it 'backed up with facts and references', and certainly 'more than just mindless social fun'.</p>
			</div>
			<div id = "comment-10764" class = "comment">
				<p>I still feel that it is too broad, as it probably falls under the category of needing a book to fully explain, but I'll reopen it as an experiment, to see if anyone can have a go at answering it.</p>
			</div>
			<div id = "comment-10777" class = "comment">
				<p>There are more than two architecture types. Are you looking for benchmarking *any* two architecture types, or are you looking to compare approaches? You linked to connectionism, can you link to symbolic as well?</p>
			</div>
			<div id = "comment-20531" class = "comment">
				<p>BTW - there now *is* a separate AI stack exchange: http://ai.stackexchange.com/</p>
			</div>
			</div>
				<textarea id = "speech-7457" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7457">
					<img id="start_img-7457" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7457">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>