<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Combustion engine controlled with a remote
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8612" class = "post">
			<h2>Question</h2>
			<div id="vote-8612" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Combustion engine controlled with a remote</h2>
<p>How can one control a combustion engine using a remote control.
Or how would you make a car controlled using a remote.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8612" data-toggle = "popover">
				<p>user name : sohaib shaikh</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-8612">{'quadcopter': -1, 'None': 0, '3d-printing': -1, 'arduino': 3, 'first-robotics': 1, 'mechanism': -1, 'research': 0, 'stepper-driver': 4, 'robotic-arm': 5, 'stepper-motor': 1, 'software': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8612">Load Comments</button></br>
			<div id = "commentsection-8612" class = 'collapse'>
			<div id = "comment-16954" class = "comment">
				<p>This question is very broad, and could probably use some refinement. Also, it is miss tagged  `first-robotics` is meant for use with FIRST robotics competition questions.</p>
			</div>
			<div id = "comment-18488" class = "comment">
				<p>Welcome to *Robotics* sohaibshaikh, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to **include details of what you want to achieve**, what you tried, what you saw & what you expected to see. Please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			<div id = "comment-18489" class = "comment">
				<p>A combustion engine typically uses a [Bowden cable](https://en.wikipedia.org/wiki/Bowden_cable) between the throttle (pedal/lever) and the [throttle body](https://en.wikipedia.org/wiki/Throttle#Throttle_body) or [carburetor](https://en.wikipedia.org/wiki/Carburetor)- is this what you're asking for? If so, the answer is a servo or stepper motor. If you're asking for something different (steering, braking, etc.) then please edit your question to reflect that and I'll re-open it.</p>
			</div>
			</div>
				<textarea id = "speech-8612" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8612">
					<img id="start_img-8612" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8612">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8613"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8613" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I will assume that you going to make everything from scratch.</p>

<p>For computing unit I would recomend to use STM32 microcontroller (use Discovery or Nucleo  board) however if you have never programmed before Arduino would be simple but a bit less powerful.
For testing when transmiter with big range is needless you can use bluetooth module (HC-05) this will allow you to control from your laptop and see all needed feedback.</p>

<p>Depending on mechanical steering system you have choosen you need different solutions but assuming that you going to use <a href="https://en.wikipedia.org/wiki/Ackermann_steering_geometry" rel="nofollow">Ackermann steering geometry</a> you need one servomotor for controlling stering weels.</p>

<p>In my projects always i've been using electrical engines but according to my general knowledge about combustion engines, you have to control throttle so this give you need for one more servomotor. Encoder on shaft could give good feedback information. If you want know speed of your car you need encoder on at least one wheel</p>

<p>For start this is good idea to build it with full remote control but later if you become more aware of sotware and mechanics you can implement sensors and algorythms for better sterability or some autonomous maneuvers. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8613" data-toggle = "popover">
				<p>user name : unitatem</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-8613">{'control': 1, 'None': 1, 'imu': 1, 'gyroscope': 1, 'accelerometer': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8613">Load Comments</button></br>
			<div id = "commentsection-8613" class = 'collapse'>
			<div id = "comment-14050" class = "comment">
				<p>I plan to go with  WiFi connection  and an arduino  board .I would like to have the joystick to keep the manual option.</p>
			</div>
			<div id = "comment-14051" class = "comment">
				<p>I'm using arduino coz its simpler and I don't feel the need for advanced features in the start.</p>
			</div>
			<div id = "comment-14052" class = "comment">
				<p>I have seen there is very less information on making a joystick controlled combustion engine car.There are plenty for electric cars.                                           What do you think is another option we have.I would prefer going for an alternative if than making the whole thing from scratch.</p>
			</div>
			<div id = "comment-14053" class = "comment">
				<p>If you have worked on an electric car controlled using a joystick and a computer could you give me the link. I have seen plenty of Rd cars .But one with an actual working car would be benificial.</p>
			</div>
			<div id = "comment-14055" class = "comment">
				<p>You should use technique called divide and conquer. First consider way of controlling the internal combustion engine, Did you choose any model? Think about power which you need (it's related to acceleration and max speed) and then think about way of implementing control via joystick.</p>
			</div>
			</div>
				<textarea id = "speech-8613" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8613">
					<img id="start_img-8613" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8613">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>