<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Community wiki checkbox
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-191" class = "post">
			<h2>Question</h2>
			<div id="vote-191" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 14</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Community wiki checkbox</h2>
<p>I thought I remembered there being a community wiki checkbox when creating a question or editing an existing one.  I created a question with the intention of making it community wiki but can not find a way to convert it.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-191" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-191">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-191" class = 'collapse'>
			</div>
				<textarea id = "speech-191" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-191">
					<img id="start_img-191" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-191">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-192"  class = "post">
				<h2>Answer</h2>
			<div id="vote-192" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>nevermind, I found the answer:</p>

<p><a href="https://meta.stackexchange.com/questions/392/should-the-community-wiki-police-be-shut-down/7183#7183">Should the community wiki police be shut down?</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-192" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-192">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-192" class = 'collapse'>
			</div>
				<textarea id = "speech-192" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-192">
					<img id="start_img-192" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-192">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>