<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Compensating for Yaw in Lateral Quadcopter Movement
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2371" class = "post">
			<h2>Question</h2>
			<div id="vote-2371" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 593</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Compensating for Yaw in Lateral Quadcopter Movement</h2>
<p>I'm trying to make a quadcopter move laterally at a certain angle. I've been able to find the proper roll and pitch angles for this (that work with a yaw of 0 ); how would I adjust these values to compensate for a different yaw?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2371" data-toggle = "popover">
				<p>user name : gtmtg</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-2371">{'quadcopter': 0, 'None': 0, 'dynamics': 0, 'gyroscope': 0, 'movement': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2371" class = 'collapse'>
			</div>
				<textarea id = "speech-2371" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2371">
					<img id="start_img-2371" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2371">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2372"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2372" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is just basic trigonometry; you'll covert your world-relative calculations of roll and pitch ($\phi$ and $\theta$) into vehicle-relative values, based on yaw ($\psi$).</p>

<p>Just so we're on the same page, I'm assuming measurements like the following, with roll, pitch, and yaw being zero when levelly flying North:</p>

<p><img src="https://i.stack.imgur.com/8yUpq.gif" alt="Roll, pitch, and yaw on an airplane"></p>

<p>$$\phi_{vehicle} = \phi_{world}\cos(\psi) - \theta_{world}\sin(\psi)$$
$$\theta_{vehicle} = \phi_{world}\sin(\psi) + \theta_{world}\cos(\psi)$$</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2372" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2372">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2372">Load Comments</button></br>
			<div id = "commentsection-2372" class = 'collapse'>
			<div id = "comment-4645" class = "comment">
				<p>Hey, actually, I'm not sure that's correct. For example, won't this always make   (the pitch) 0 when   (the yaw) is 0 ?</p>
			</div>
			<div id = "comment-4663" class = "comment">
				<p>It's possible that I've swapped a sign or a sine.  Since different fields use yaw differently (unit circle vs compass heading), I'll re-write this to be more clear.</p>
			</div>
			</div>
				<textarea id = "speech-2372" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2372">
					<img id="start_img-2372" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2372">Comment</button>
			<br><div id = "ans-2381"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2381" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Think of it this way, if you had 90$^\circ$ yaw you would swap roll and pitch, and maybe switch the sign depending on your coordinate system definition. Once you think through that, you just use the yaw angle to interpolate for arbitrary yaw angles.</p>

<p>$$
\begin{align}
\phi' &amp;= \cos(\psi) \phi + \sin(\psi) \theta
\\
\theta' &amp;= -\sin(\psi) \phi + \cos(\psi) \theta
\end{align}
$$</p>

<p>The $\pm$ signs might be off, but you get the idea.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2381" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-2381">{'None': 133}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2381" class = 'collapse'>
			</div>
				<textarea id = "speech-2381" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2381">
					<img id="start_img-2381" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2381">Comment</button>
			<br><div id = "ans-2384"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2384" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Don't think roll and pitch.  think of the level flight case where the vertical axis of the 'copter is vertical.  Now if you want to move in any direction at all create a plane that contains your vertical axis (so this is a vertical plane) and also contains your desired new direction.  two line now define a plane.   You need to tip the 'copter's vertical axis while keeping ti on that plane</p>

<p>Looking down on this plane from high up on your z-axis the plane looks line a line drawn on the x,y plane pointing to your desired new heading.  The line is has some angle which equals the change in heading you want call it theta. </p>

<p>the rotation will have a pitch and roll component and you must distribute the total amount of tilt between pitch and roll.   that is sin(theta) and cos(theta)
Does this make sense?  Try it: what if you want to turn 90 degrees then sin(90)=1 and cos(90)=0 this means to so "due left" you roll.   To move forward is is pitch one because sin(0)=0 and cos(0) = 1.    At 45 degree heading sin(45)=cos(45) so equal amount of pitch and roll.    </p>

<p>Now you can go any direction take the total rotation and proportion it between pitch and roll be multiplying by (total rotation)(sin(theta)) and cos for roll.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2384" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-2384">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2384">Load Comments</button></br>
			<div id = "commentsection-2384" class = 'collapse'>
			<div id = "comment-4786" class = "comment">
				<p>Did you switch sine and cosine? You said that pitch maps to sine and roll maps to cosine, but shouldn't it be the other way around, because if you want to move forward pitch should be one (ie. cos(0)) and roll should be zero (ie. sin(0))?</p>
			</div>
			</div>
				<textarea id = "speech-2384" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2384">
					<img id="start_img-2384" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2384">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>