<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Compatibilty of my setup?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7944" class = "post">
			<h2>Question</h2>
			<div id="vote-7944" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 120</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Compatibilty of my setup?</h2>
<p>I'm building my first quadcopter, and these are the components I intend to buy:</p>

<ol>
<li>Motor: <a href="http://store.fut-electronics.com/collections/brushless-motors/products/brushless-motor-1400-kv" rel="nofollow">EMAX BL2212 1400 KV Brushless Outrunner Motor</a> around 0.9 kg thrust: </li>
<li>Flight Controller: <a href="http://store.fut-electronics.com/collections/sensors-controls/products/multiwii-v2-5-flight-controller" rel="nofollow">Multiwii V2.5 Flight Controller</a> </li>
<li>Propellers: I don't know which one to get: <a href="http://store.fut-electronics.com/collections/propellers" rel="nofollow">fut-electronics propellers collection</a>  </li>
<li>GPS: <a href="http://store.fut-electronics.com/products/skylab-uart-gps-module-skm58-small-form-factror" rel="nofollow">Skylab UART GPS Module SKM58</a>   (Small Form Factor)</li>
<li>Radio Communication: <a href="http://store.fut-electronics.com/collections/telemetry/products/radio-telemetry-915-mhz-3dr" rel="nofollow">Radio Telemetry 915 Mhz (3DR)</a>, is there an affordable alternative to buying a radio telemetry maybe using Wi-Fi?  </li>
<li>ESCs: <a href="http://store.fut-electronics.com/collections/esc/products/4x1-esc-4x25a-speed-controller-for-quadcopter" rel="nofollow">4x1 ESC (4x25A) - Speed Controller for Quadcopter</a> </li>
<li>Battery: I don't know <a href="http://store.fut-electronics.com/collections/battery-chargers" rel="nofollow">which one to choose</a></li>
</ol>

<p>My questions are:</p>

<ul>
<li>Are the components compatible?</li>
<li>What battery to choose?</li>
<li>If I'm not planning to do GPS planned missions, would the GPS be important for anything else?</li>
</ul>

<p>By the way I intend to attach a camera or a smart-phone to it for video capturing I think it is about an extra 200 grams.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7944" data-toggle = "popover">
				<p>user name : user10476</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7944">{'quadcopter': 2, 'None': 0, 'uav': 2, 'multi-rotor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7944">Load Comments</button></br>
			<div id = "commentsection-7944" class = 'collapse'>
			<div id = "comment-11678" class = "comment">
				<p>There are online tools that can help to figure out where to start. I like [ecalc](http://ecalc.ch/xcoptercalc.php?ecalc&lang=en). It should help you figure out how to match these parts.</p>
			</div>
			<div id = "comment-22176" class = "comment">
				<p>Seems good but a few points to note: The thrust rating is generally specified as Thrust@PropSize. A datasheet for the same spec motor [here](https://robu.in/product/a2212-1400kv-brushless-motor-30a-esc-1045-propeller-set/) tells you it's safe with a 10*45 prop. And, as pointed in the answer, you need a 5 Channel RC Tx and Rx for testing purposes.</p>
			</div>
			</div>
				<textarea id = "speech-7944" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7944">
					<img id="start_img-7944" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7944">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10905"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10905" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The website that you have used seems to be down, however looking at the specs announced on banggood, it looks compatible.
You would need some 8*4 props and a 3S battery, I'd advise getting a 3000mAh one that can handle full power (200W per motor so 800W total for a 12V*3Ah battery=>36Wh so that's 800/36=22C) so a 3S 3000mAh 25C constant LiPo would be perfect to achieve the performance needed
Also for the transmitter and the receiver what are you going to use, because telemetry won't pilot the quadcopter
Btw, telemetry won't be of any use for your first quadcopter, same goes for the GPS, you'll first pilot in stabilized and then accro and if you are willing to do some stabilized photography and video, you can add a GPS for the quad to fly by GPS (that means that it will move geographically according to your commands and it's GPS position)
Also if you are kinda new on quadcopters I'd advise you to get a KK2.1.5 as a flight controller to begin with, the good thing about it is that you can change your PID, channel settings on the go, though it doesn't support GPS and a lot of other features that multiwii's have</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10905" data-toggle = "popover">
				<p>user name : R3D34THR4Y</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10905">{'quadcopter': 0, 'None': 0, 'serial': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10905" class = 'collapse'>
			</div>
				<textarea id = "speech-10905" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10905">
					<img id="start_img-10905" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10905">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>