<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Comparison of the efficiency of DC motor current limiting ~ control methods?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4955" class = "post">
			<h2>Question</h2>
			<div id="vote-4955" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 88</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Comparison of the efficiency of DC motor current limiting ~ control methods?</h2>
<p>I am using the wheels and motors of an RC toy car as a simple robotics platform. The car has 2 motors, one drives the back wheels, the other steers the front wheels. The steering motor is stalled by design when steering, it is blocked at a fixed angle by the plastic chassis. It draws 0.85 A when stalled (i.e. anytime when steering).  </p>

<p>Due to this marvel of toy engineering I have to use an oversized motor driver IC (L293B   1A continuous) and this motor draws about 3W of power (0.85A x 3.6V). I m using this IC to control the other ( normally rotating ) motor as well, which appears to be the same type: 0.85A stall current, around 100mA no-load, and 250-400mA at normal loads. </p>

<p>Testing with various series resistors I have found out that 0.3A are sufficient to turn the steering wheels and keep them in position. Using a resistor might allow me to use a driver IC with a lower Amp rating (L293D   0.6 A), however the same energy is still wasted, only as heat. While this is not a serious issue with this toy setup, I am planning to build bigger robots with significantly more power, so energy conservation and current control will be important in the long run, and motors may also stall accidentally.</p>

<p>Looking into DC motor current limiting, I ve found the following approaches:</p>

<ol>
<li><p>Series resistor   simple, cheap, bidirectional, wastes energy, dissipates heat</p></li>
<li><p>Current source with 2-3 transistors and sensing resistor   relatively simple, however I ve only found unidirectional circuits, which would get shorted when switching motor direction. Is there a way to use this method bidirectionally? (and/or with a 2-channel H-bridge IC?  - I cannot place it before the ICs common supply, because the 2 motors draw different currents). </p></li>
<li><p>Chopper circuits/PWM   Will this reliably protect the IC from overload? Is it energy-efficient? </p></li>
<li><p>Are there other other methods I am unaware of? Something on the principles of switching supplies?</p></li>
<li><p>Would it be simpler in my application to use 2 separate drivers/h-bridges and place a voltage divider between them, so that a lower voltage is provided for the inefficient stalling motor and more to the one that moves the robot?</p></li>
</ol>

<p>So how do the above  methods compare in terms of efficiency and simplicity of design? What is the preferred method in robotics/other DC motor applications?  Also, is it standard practice to limit DC motor current, or a motor is most efficient if allowed to draw as much current as it needs? Is it acceptable to use a DC motor that is mechanically stalled by design, or is this only used in cheap crap toy cars?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4955" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-4955">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4955" class = 'collapse'>
			</div>
				<textarea id = "speech-4955" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4955">
					<img id="start_img-4955" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4955">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6551"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6551" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Of the choices you presented, PWM + BJT/FET is most efficient. An H-Bridge is a prime example of that.</p>

<p>-BJT's dissipate heat in proportion to their "on-ness"<br>
-FET's dissipate heat based on their (very low) on-state resistance, plus a small loss during the actual switching.</p>

<p>By PWM'ing, you are approximating an analog voltage in proportion to the BJT/FET duty-cycle.</p>

<p>In practice, you will want to employ (non-plastic) feedback. With feedback, all of your motors know when they have done what you told them, and will correct themselves without having to be told again. Current-sense resistors, PIDs, steppers, servos, encoders are a few examples you should explore. The simplest method would be to have the motor or assembly activate a switch when it has reached the intended limit of its' range.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6551" data-toggle = "popover">
				<p>user name : Jon</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-6551">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6551" class = 'collapse'>
			</div>
				<textarea id = "speech-6551" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6551">
					<img id="start_img-6551" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6551">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>