<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Comparison of lifting systems
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8598" class = "post">
			<h2>Question</h2>
			<div id="vote-8598" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 226</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Comparison of lifting systems</h2>
<p>What kind of systems can be used to make a torso lifting system like the one used by this robot (the black part) :</p>

<p><a href="https://i.stack.imgur.com/r6okd.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/r6okd.jpg" alt="enter image description here"></a></p>

<ul>
<li>Rack and pinion</li>
<li>lead screw</li>
<li>scissor lift</li>
<li>can a triple tree help ? </li>
</ul>

<p>What are the pro and cons of each system ?
How do they ensure stability ?
And finally, is there a way to draw current when lowering instead of drawing current when lifting ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8598" data-toggle = "popover">
				<p>user name : LiohAu</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-8598">{'None': 0, 'motor': 1, 'mechanism': 0, 'servomotor': 1, 'design': 0, 'robotic-arm': 1, 'actuator': 1, 'stepper-motor': 1, 'ultrasonic-sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8598" class = 'collapse'>
			</div>
				<textarea id = "speech-8598" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8598">
					<img id="start_img-8598" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8598">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8599"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8599" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So this is summary...Open to discussions or edits...</p>

<pre><code>| Mechanism          | Precision | Friction | Max length | Max force |
|--------------------| ----------|----------|------------|-----------|
| rack and pinion    | low       | high     | unlimited  | high      |
| lead screw         | high      | mid      | limited    | high      |
| ball screw         | high      | low      | limited    | high      |
| scissor lift       | mid       | low      | limited    | high      |
| linear direct drive| high      | low      | unlimited  | mid       |
| 4-bar mechanism    | high      | low      | limited    | high      |
|--------------------|-----------|----------|------------|-----------|
</code></pre>

<p>It may worth noting:</p>

<ul>
<li><p>that the scissor and 4-bar mechanisms have a non-linear dependency between input and output velocity</p></li>
<li><p>not all 4 bar mechanism's motions are linear</p></li>
<li><p>the scissor mechanism (if designed like <a href="https://en.wikipedia.org/wiki/Scissors_mechanism#/media/File:TL_2000_scissor_lift.jpg" rel="nofollow">this</a>) provides a good lateral stiffness, all others would need some form of <a href="http://www.skf.com/my/products/linear-motion/linear-guides-and-tables/index.html" rel="nofollow">linear motion guide</a> to cope with lateral forces that bend the structure. </p></li>
</ul>

<p>You can use a spring (mech/pneu/hydro) to invert the direction of effort, or a simple counterweight.</p>

<p>You may want to use a non-backdrivable gearbox to drive these (not the linear direct drive of course)...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8599" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8599">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8599">Load Comments</button></br>
			<div id = "commentsection-8599" class = 'collapse'>
			<div id = "comment-14017" class = "comment">
				<p>You can use a pulley and counterbalance to invert the direction of effort.  You can also use 4-bar mechanisms (crank-slider, etc) to accomplish the motion.</p>
			</div>
			<div id = "comment-14018" class = "comment">
				<p>good point, might be better then a spring...</p>
			</div>
			<div id = "comment-14021" class = "comment">
				<p>There are 4-bars that provide exact straight-line motion over their entire range (such as a crank-slider).  You just need to design the right type.  See Wiki's https://en.wikipedia.org/wiki/Straight_line_mechanism and its references.</p>
			</div>
			<div id = "comment-14022" class = "comment">
				<p>I wouldn't call a crank slider a four bar mechanism... but others in the link migh be considered 4 bar mechanisms...hence the edit...</p>
			</div>
			<div id = "comment-14023" class = "comment">
				<p>That edit works.  A crank-slider (or slider-crank) is one of the primary types of 4-bars.  See Hall's book or the wiki page for four-bar linkage.  But this is tangential to the OP's question so I think it's good how you have it.</p>
			</div>
			<div id = "comment-14024" class = "comment">
				<p>Yes, wikipedia says so too...Somehow I associated only revolute joints to four bar mechanisms...so...I learned at least one thing today</p>
			</div>
			<div id = "comment-14030" class = "comment">
				<p>Thanks for your answer which is a good start, but you did not talk about the stability. This robot torso + arm + head + payload is probably > 40kg, so how do you make a "telescopic" mechanical structure stable ? For instance, you cannot use a cross-brace structure as in a crane. Is everything based on linear guides and blocks ?</p>
			</div>
			<div id = "comment-14031" class = "comment">
				<p>I assume you mean stiffenss by stability, right? Os yr you interested in the small motions bacause of mecahnical toleracnes?</p>
			</div>
			<div id = "comment-14032" class = "comment">
				<p>@50k4 yes I meant stiffness.</p>
			</div>
			<div id = "comment-14034" class = "comment">
				<p>I edited the responce</p>
			</div>
			<div id = "comment-14035" class = "comment">
				<p>Thanks, what would you think about a structure composed of 4 linear motion shaft arranged in square (the 4 corners) with linear bearings on them driven by a the nut of a lead screw that would be in the center of the square ?</p>
			</div>
			<div id = "comment-14036" class = "comment">
				<p>Linear motion shafts have can support a high radial load. Did you calculate the radial loads? Do you have to spread them among 4? I would try spreading them among 2 shatfs, Make them form a triangle with the lead screw, e.g. at the middlepoint of 2 parallel sides and leave the lead screw at the middle of a perpendicular side of the square you mentioned...They do not come cheap, if two is enough...i would double check if 2+lead screw are enough, or 3 in a triangle form, before using 4.</p>
			</div>
			<div id = "comment-14037" class = "comment">
				<p>If you form a triangle with the lead screw, make sure that the radial load of the lead screw is under its allowed limit.</p>
			</div>
			<div id = "comment-14038" class = "comment">
				<p>Also using two carriages on one linear shaft can increase stiffness but shortens maxiumum travel range</p>
			</div>
			<div id = "comment-14039" class = "comment">
				<p>Ok, I guess radial loads will be too high for only 2 supports, but i'll calculate it to confirm. And you're right for the triangle idea., it's probably enough. About the distance, that's what I had in mind, but it maybe be limited by the part that links the lead screw nut and the linear bearings (there's probably a compromise to find).</p>
			</div>
			</div>
				<textarea id = "speech-8599" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8599">
					<img id="start_img-8599" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8599">Comment</button>
			<br><div id = "ans-8604"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8604" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Regarding the lift mechanism, I suggest you look at the semiconductor wafer-handling robots.  You can see the insides of one version here:  <a href="https://www.ifixit.com/Teardown/Hine+Design+Inc.+Automated+Wafer+Handling+Unit+Teardown/1651" rel="nofollow">https://www.ifixit.com/Teardown/Hine+Design+Inc.+Automated+Wafer+Handling+Unit+Teardown/1651</a>  </p>

<p>In that robot they used a lead screw vertical drive mechanism along with (it looks like) two cylindrical shafts for stability and linearity.  When I've built systems using parallel rails or shafts, it is very difficult to keep them collinear, so we would usually fix both ends of one rail, and only one end of the second rail.  The other end could float over a small range.  That way we would prevent binding due to misalignment issues.</p>

<p>That industry has made vertical lift mechanisms for robots out of everything from pneumatics, to linear motors, to ball screws, and more.  All of their designs require compactness and cleanliness, so some of the designs are very clever.  You can search for patents by companies such as Genmark, PRI Automation, Brooks Automation, Applied Materials, KLA Tencor, Hine Design, and Adept to find good examples.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8604" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-8604">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8604">Load Comments</button></br>
			<div id = "commentsection-8604" class = 'collapse'>
			<div id = "comment-14042" class = "comment">
				<p>But they do not seem to have the same constraints as this robot. What's the weight of a wafer ? probably not that heavy... And the load is always the same, while In that robot, the arm may grab various object (having different weights) even if the weight of the torso+arm+head of the robot makes this negligible.</p>
			</div>
			<div id = "comment-14043" class = "comment">
				<p>Absolutely the design constraints are different.  But the design concepts relate.   I am not suggesting you copy, but rather study those designs.</p>
			</div>
			</div>
				<textarea id = "speech-8604" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8604">
					<img id="start_img-8604" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8604">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>