<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Comprehensive comparison of SLAM algorithms
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4424" class = "post">
			<h2>Question</h2>
			<div id="vote-4424" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 164</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Comprehensive comparison of SLAM algorithms</h2>
<p>I'm looking for a research paper or series of papers that compare the performance of various simultaneous localization and mapping algorithms for rovers in a variety of real world environments.  In particular, i'm looking for computational speed, accuracy (compared to the real world environment) and memory &amp; power efficiency metrics.  Is there a journal that regularly publishes experimental performance comparisons?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4424" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-4424">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4424" class = 'collapse'>
			</div>
				<textarea id = "speech-4424" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4424">
					<img id="start_img-4424" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4424">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4425"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4425" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The <a href="http://www.journalfieldrobotics.org/Home.html" rel="nofollow">Journal of Field Robotics</a> is likely the closest to what you are asking for. Its one of the highest ranked journals in robotics, and requires the articles to have a significant part of field experiments. I don't recall a comprehensive SLAM survey article, though. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4425" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-4425">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4425" class = 'collapse'>
			</div>
				<textarea id = "speech-4425" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4425">
					<img id="start_img-4425" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4425">Comment</button>
			<br><div id = "ans-4574"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4574" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This might be useful  </p>

<p><a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6719348&amp;tag=1" rel="nofollow">An evaluation of 2D SLAM techniques available in Robot Operating System</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4574" data-toggle = "popover">
				<p>user name : nayab</p>
				<p> user reputation : 224</p>
				<p class = "tagcontent" id = "usertaginfo-4574">{'odometry': 4, 'None': 4, 'laser': 3, 'probability': 2, 'occupancygrid': 1, 'localization': 10, 'mapping': 1, 'particle-filter': 4, 'slam': 8, 'mobile-robot': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4574" class = 'collapse'>
			</div>
				<textarea id = "speech-4574" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4574">
					<img id="start_img-4574" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4574">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>