<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Computation of Coriolis Matrix
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12147" class = "post">
			<h2>Question</h2>
			<div id="vote-12147" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Computation of Coriolis Matrix</h2>
<p>I am controlling a 6-DOF robot. For this, I want to compute the Coriolis Matrix. From my study of examples, I understand there are several ways of going about it. At the moment, I am using the theory based on, "A Lie group formulation of Robot dynamics" [p. 615] by Park et al. But this is not computationally efficient as my simulations are very slow.
Based on my study of several projects on Github, I understand many people choose symbolic approach. I was also considering numerical differentiation to get the Christoffel symbols.</p>

<p>I would like seek some guidance regarding the pros and cons of the different methods. I would really appreciate any references that I can use to study.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12147" data-toggle = "popover">
				<p>user name : Mishra Hrishik</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-12147">{'control': 3, 'None': 0, 'dynamics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12147">Load Comments</button></br>
			<div id = "commentsection-12147" class = 'collapse'>
			<div id = "comment-21497" class = "comment">
				<p>Welcome to *Robotics*, MishraHrishik. As it stands, this is kind of a vague and open-ended question. It appears that you're assuming your slow simulations are due to your calculation of the Coriolis matrix. What simulation software are you using? Matlab/Simulink? Are you using any toolboxes or a homebrew simulator? Have you timed all the sections of your code? Can you post the code you're using to run the simulation? Is there a reason you cannot use a symbolic approach?</p>
			</div>
			<div id = "comment-21498" class = "comment">
				<p>If you would like "pros and cons of different methods," please identify the methods you're interested in and what it is you are not sure of about those methods. I know this is a challenging topic, but you need to explain more about what you know, what you've done, and what's giving you trouble. A detailed answer to "Please explain pros and cons of different methods of calculating a 6DOF Coriolis matrix" is [probably a textbook.](http://www.cds.caltech.edu/~murray/mlswiki/index.php/Robot_Dynamics_and_Control)</p>
			</div>
			<div id = "comment-21521" class = "comment">
				<p>Also, please state clearly if you are interested only in the Coriolis Matrix or generally in modelling dynamics. The (Recursive) Newton-Euler rmethod is computationally more efficitent then Lagrange. For a detailed explanation you can check https://books.google.de/books/about/Robotics_Control_Sensing_Vis.html?id=_oYYRzSohJgC&redir_esc=y</p>
			</div>
			<div id = "comment-21585" class = "comment">
				<p>For computational efficiency it's best to stay away from symbolic representations.</p>
			</div>
			</div>
				<textarea id = "speech-12147" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12147">
					<img id="start_img-12147" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12147">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>