<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>composition of rotation matrices
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8045" class = "post">
			<h2>Question</h2>
			<div id="vote-8045" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 66</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>composition of rotation matrices</h2>
<p>I am the moment learning about rotation matrices.  It seems confusing how it could be that  $R_A^C=R_A^BR_B^C$ is the rotation from coordinate frame <s>A to C</s> C to A, and A,B,C are different coordinate frames.</p>

<p>$R_A^C$ must for a 2x2 matrix be defined as 
$$
R_A^C=
\left(
\begin{matrix}
xa xb  &amp;  xa xb \\
ya yb &amp;  ya yb
\end{matrix}
\right)
$$</p>

<p>$x_a, y_a and x_b,y_b$ are coordinates for points given in different coordinate frame.
I don't see how, using this standard, the multiplication stated above will give the same matrix as for $R_A^C$. Some form for clarification would be helpful here.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8045" data-toggle = "popover">
				<p>user name : Carlton Banks</p>
				<p> user reputation : 102</p>
				<p class = "tagcontent" id = "usertaginfo-8045">{'control': 1, 'None': 0, 'inverse-kinematics': 11, 'frame': 2, 'joint': 1, 'visual-servoing': 1, 'kinematics': 2, 'robotic-arm': 5, 'jacobian': 5, 'rotation': 0, 'motion-planning': 2, 'forward-kinematics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8045">Load Comments</button></br>
			<div id = "commentsection-8045" class = 'collapse'>
			<div id = "comment-12811" class = "comment">
				<p>user25778, I made some minor edits for clarity, and one major change, that the rotation is from coordinate frame C to A instead of A to C.  If that part of the edit is wrong, please edit it yourself and fix it.</p>
			</div>
			<div id = "comment-12819" class = "comment">
				<p>user25778, as  Chuck pointed out in a comment, that  $R_A^C=R_A^B R_B^C$ product is a matrix product, not a dot product.</p>
			</div>
			</div>
				<textarea id = "speech-8045" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8045">
					<img id="start_img-8045" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8045">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8046"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8046" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure what you mean by:</p>

<blockquote>
  <p>$R_A^C$ must for a 2x2 matrix be defined as $[xa \cdot xb , xa \cdot xb ; ya \cdot yb , ya \cdot yb]$</p>
</blockquote>

<p>because I don't know where you are getting the names or formulas from. If you have:</p>

<p>$$
R_A^B = \left[ \begin{array}{ccc}
a &amp; b \\
c &amp; d \end{array} \right] \\
R_B^C = \left[ \begin{array}{ccc}
e &amp; f \\
g &amp; h \end{array} \right] \\
$$</p>

<p>Then in multiplying the two you get:</p>

<p>$$
R_A^C = R_A^B R_B^C = \left[ \begin{array}{ccc}
(ae + bg) &amp; (af + bh) \\
(ce + dg) &amp; (cf + dh) \end{array} \right] \\
$$</p>

<p>A 2x2 rotation matrix has the form:</p>

<p>$$
R_A^B = R(\alpha) = \left[ \begin{array}{ccc}
\cos{\alpha} &amp; -\sin{\alpha} \\
\sin{\alpha} &amp; \cos{\alpha} \end{array} \right] \\
R_B^C = R(\beta) = \left[ \begin{array}{ccc}
\cos{\beta} &amp; -\sin{\beta} \\
\sin{\beta} &amp; \cos{\beta} \end{array} \right] \\
$$</p>

<p>If you go through two successive rotations:</p>

<p>$$
R_A^C = R(\alpha + \beta) = R(\alpha)R(\beta) = R_A^B R_B^C \\
R_A^C = \left[ \begin{array}{ccc}
(\cos{\alpha} \cos{\beta} + (-\sin{\alpha} \sin{\beta})) &amp; ((-\cos{\alpha} \sin{\beta}) + (-\sin{\alpha} \cos{\beta})) \\
(\sin{\alpha} \cos{\beta} + \cos{\alpha} \sin{\beta}) &amp; ((-\sin{\alpha} \sin{\beta}) + \cos{\alpha} \cos{\beta}) \end{array} \right] \\
$$</p>

<p>Using the angle sum identities:</p>

<p>$$
\sin{(\alpha + \beta)} = \sin{\alpha}\cos{\beta} + \cos{\alpha}\sin{\beta} \\
\cos{(\alpha + \beta)} = \cos{\alpha}\cos{\beta} - \sin{\alpha}\sin{\beta} \\
$$</p>

<p>You can simplify the result of the matrix multiplication:
$$
R_A^C = \left[ \begin{array}{ccc}
(\cos{\alpha} \cos{\beta} + (-\sin{\alpha} \sin{\beta})) &amp; ((-\cos{\alpha} \sin{\beta}) + (-\sin{\alpha} \cos{\beta})) \\
(\sin{\alpha} \cos{\beta} + \cos{\alpha} \sin{\beta}) &amp; ((-\sin{\alpha} \sin{\beta}) + \cos{\alpha} \cos{\beta}) \end{array} \right] \\
$$
$$
R_A^C = \left[ \begin{array}{ccc}
(\cos{\alpha} \cos{\beta} - \sin{\alpha} \sin{\beta}) &amp; -(\cos{\alpha} \sin{\beta} + \sin{\alpha} \cos{\beta}) \\
(\sin{\alpha} \cos{\beta} + \cos{\alpha} \sin{\beta}) &amp; (-\sin{\alpha} \sin{\beta} + \cos{\alpha} \cos{\beta}) \end{array} \right] \\
$$
$$
R_A^C = \left[ \begin{array}{ccc}
\cos{(\alpha + \beta)} &amp; -\sin{(\alpha + \beta)} \\
\sin{(\alpha + \beta)} &amp; \cos{(\alpha + \beta)} \end{array} \right] \\
$$</p>

<p>And that's how you get $R_A^C = R_A^B R_B^C$. It works out because the matrix multiplication results in angle additions. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8046" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8046">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8046">Load Comments</button></br>
			<div id = "commentsection-8046" class = 'collapse'>
			<div id = "comment-12812" class = "comment">
				<p>Chuck, I edited question for clarity, which mostly has no effect on your answer.  However, the from-and-to for matrices in the question may be unclear.  For going C to A, it's as you show in your answer.  For A to C, the order of matrices on the right hand side needs to be reversed</p>
			</div>
			<div id = "comment-12814" class = "comment">
				<p>Thank you for the answer.
One thing that still confuses me is how you in the last line define $R_A^C$ to be that.. I am missing the proof that states the equality..  what you have stated is the multiplication of 2 matrices.</p>
			</div>
			<div id = "comment-12817" class = "comment">
				<p>@jwpat7 - I wrote the answer on a desktop computer earlier today, but I'm phone only until Monday and I'm not going to attempt that Latex on my phone. Feel free to make whatever edits you want and I'll accept them if you don't have edit privilege.</p>
			</div>
			<div id = "comment-12818" class = "comment">
				<p>@user25778 - My point at the beginning is that I think you may be confused about the operation. The successive rotations **is** a matrix multiplication. In re-reading your question earlier it looks like you're trying to use a dot product between the matrices to do the successive rotations, which is incorrect. The point of my post is to show that, with matrix multiplication, successive rotations winds up giving you the sum of the rotation angles.</p>
			</div>
			<div id = "comment-12820" class = "comment">
				<p>Chuck, answer is ok as is so I won't edit it.  (It doesn't specify if the overall rotation is A to C or C to A but that doesn't affect your demonstration, using angle sum identities, that the matrix product represents a composition of rotations.) (Also, although 2x2 in general don't commute, rotation matrices do commute.)</p>
			</div>
			</div>
				<textarea id = "speech-8046" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8046">
					<img id="start_img-8046" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8046">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>