<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Compact design - building from off-the-shelf components
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4316" class = "post">
			<h2>Question</h2>
			<div id="vote-4316" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Compact design - building from off-the-shelf components</h2>
<p>I want to build a small cylindrical arm, with a main 360  angular servo on the longitudinal axis, and a secondary angular servo with variable speed in a trasversal axis that rotates with the main angular one. The secondary needs to receive data and power from a slip ring across the main servo, since it must be able to rotate freely and must not be binded by wirings. The width of the cylindrical arm must be below 0.4 cm</p>

<p>I've reviewed the market for off-the-shelf servos and there are a few that could fit the bill for the main servo, I know where to obtain the slip ring required, but it beats me where to obtain the secondary servo, since the space limitations demand that it is really small (&lt; 0.2 cm) and the smallest I've been able to find on internet are 0.5 cm</p>

<p>Any suggestions are greatly welcome!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4316" data-toggle = "popover">
				<p>user name : lurscher</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-4316">{'servomotor': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4316">Load Comments</button></br>
			<div id = "commentsection-4316" class = 'collapse'>
			<div id = "comment-6866" class = "comment">
				<p>What are the real dimensions you're limited to? I'm surprised you found a 5mm wide servo (rather than one with a 5mm diameter arm), let alone a 2mm wide one.</p>
			</div>
			<div id = "comment-6867" class = "comment">
				<p>If you can't find a motor that fits in that location, you might consider putting a motor closer to the base and using some sort of [cables](http://forums.trossenrobotics.com/robots.php?project_id=38) or [belts](http://harmonicdrive.net/reference/applicationhandbook/display.php?id=sce_whrpa) or (coaxial?) [rotating shafts](http://www.soleillapierre.ca/projects/lego/arm2/index.php) transfer the motion from the motor to the moving part.</p>
			</div>
			<div id = "comment-6868" class = "comment">
				<p>a few tiny motors: ["How small can I make my robot tree?"](http://letsmakerobots.com/content/how-small-can-i-make-my-robot-tree-stepper-motor-vs-regular-servo); ["Tiny Pager Motor (TPM2)"](http://solarbotics.com/product/tpm2/); ["Tiny DC Motors"](http://www.hobbyengineering.com/CatMTINY.html); ["SQUIGGLE micro motor"](http://www.newscaletech.com/technology/squiggle-motors.php); etc.</p>
			</div>
			</div>
				<textarea id = "speech-4316" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4316">
					<img id="start_img-4316" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4316">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>