<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Computer vision with single camera vs. distance sensors for obstacle detection
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6515" class = "post">
			<h2>Question</h2>
			<div id="vote-6515" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2083</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Computer vision with single camera vs. distance sensors for obstacle detection</h2>
<p>I am going to start a new project consisting in implementing an autonomous driving RC car.
The car as it is now, has a camera installed on each side of the car, i.e. 4 cameras in total. They are connected to a board which is able to read and process the video input.</p>

<p>I have been researching about obstacle detection using a single camera (without stereo cameras, e.g. <a href="https://robotics.stackexchange.com/questions/1348/single-camera-vision-and-mapping-system">Single camera vision and mapping system</a> ) and although it seems possible it also seems quite complex. Modifying the cameras set-up is not an option. I already have some video processing algorithms, like dense optical flow, which might help me, but I am not sure whether I might me able to implement the system in the time I have (4 months). I also don't know how reliable would be the final solution.</p>

<p>If the first approach is not feasible, as an alternative option I also could install distance sensors in the car to detect obstacles. It seems that usually the most preferred choice is to use ultrasonic sensors. I would need to install them and I would not take advantage of the cameras, but it seems that the final complexity would be lower.</p>

<p>Is the first approach feasible? What are the pros and cons of each approach? If I implemented the second option, how many sensor would I need?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6515" data-toggle = "popover">
				<p>user name : kender6</p>
				<p> user reputation : 25</p>
				<p class = "tagcontent" id = "usertaginfo-6515">{'None': 0, 'computer-vision': 1, 'wheeled-robot': 3, 'mobile-robot': 3, 'sensors': 4, 'ultrasonic-sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6515">Load Comments</button></br>
			<div id = "commentsection-6515" class = 'collapse'>
			<div id = "comment-9374" class = "comment">
				<p>This would make a good research paper, however you might want to separate your question into more specific questions to increase your chances of high quality answers.</p>
			</div>
			</div>
				<textarea id = "speech-6515" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6515">
					<img id="start_img-6515" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6515">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6517"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6517" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Using a single camera it's not possible to measure distance. At best you can say that object B is twice as far away as object A, but you still don't know if object A is 1m or 10m away. The only way to resolve this is to add extra information e.g. from another calibrated camera, a distance sensor, or knowing the size of some things in the scene.</p>

<p>Depending on the obstacles you are expecting, sonar is probably your best bet since it's straightforward and simple to use. It won't detect as many obstacles as vision can but given your time constraints I would recommend using it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6517" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-6517">{'None': 133}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6517" class = 'collapse'>
			</div>
				<textarea id = "speech-6517" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6517">
					<img id="start_img-6517" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6517">Comment</button>
			<br><div id = "ans-6518"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6518" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need the depth information, that is the distance, for the obstacle avoiding.</p>

<p>well, actually I'm wondering if your camera is a RGBD camera but you don't know. It is quite strange there is only a single camera in each side of your car.</p>

<p>Besides RGBD camera, another option is using two camera to find the distance like this:<img src="https://i.stack.imgur.com/72ktW.jpg" alt="enter image description here"></p>

<p>Optical flow will not help you, it is used to detect moving objects while in your camera everything will be moving.</p>

<p>So from my point, you can not take advantage of the cameras in your project.
Ultrasonic is a cheap and easy way for obstacle avoiding.
Or you can try some IR sensor. And if you want a higher accuracy, buy a laser rangefinder</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6518" data-toggle = "popover">
				<p>user name : lanyusea</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-6518">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6518">Load Comments</button></br>
			<div id = "commentsection-6518" class = 'collapse'>
			<div id = "comment-10932" class = "comment">
				<p>The cameras are not RGBD, otherwise the answer on how to calculate depth would be straightforward.</p>
			</div>
			</div>
				<textarea id = "speech-6518" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6518">
					<img id="start_img-6518" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6518">Comment</button>
			<br><div id = "ans-6537"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6537" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are going to be operating on strictly flat surfaces, single camera optical flow can be used, although it's not an optimal solution. By knowing the camera intrinsics and extrinsics, you can predict expected optical flow for features that lay on the ground, and any grouping of flow vectors that violate that potentially indicate obstacles that rise above the ground. You won't get range information or scale information, however.</p>

<p>This is not an ideal method at all - just something that is possible.</p>

<p>See <a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.33.1606" rel="nofollow">http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.33.1606</a> for details.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6537" data-toggle = "popover">
				<p>user name : Parag Batavia</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6537">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6537" class = 'collapse'>
			</div>
				<textarea id = "speech-6537" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6537">
					<img id="start_img-6537" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6537">Comment</button>
			<br><div id = "ans-6545"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6545" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Honestly, I don't think you should use the cameras just because you have them. The ultrasonic sensor is a way simpler and more effective solution. There are ways to tell depth with one camera, but they are far from effective in most cases. If you want to try it, I would say play around it when you don't have a deadline if you're interested in the learning experience. As far as whether you could get it working in 4 months or not, it depends on how familiar you are with this kind of application.</p>

<p>If you really want to use the cameras, it might be easier to get another camera and mount it so that it's facing forward somehow, either on top of the car or somewhere else. This might be more effort than it's worth, though. I would go this route if you really want to use cameras for personal reasons.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6545" data-toggle = "popover">
				<p>user name : user40171</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-6545">{'None': 1, 'serial': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6545" class = 'collapse'>
			</div>
				<textarea id = "speech-6545" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6545">
					<img id="start_img-6545" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6545">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>