<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Compound vision system or Megapixel camera reduction
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5188" class = "post">
			<h2>Question</h2>
			<div id="vote-5188" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 66</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Compound vision system or Megapixel camera reduction</h2>
<p>Are any commercially available compound vision sensors available?
Not a simple 8 sensor system using photo-diodes but a genuine sensor that can provide a >32x32 compound matrix. Would some form of reduction in the granularity of a megapixel camera be a better option? The real purpose is to reduce processing time to a minimum, while extracting the maximum basic information. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5188" data-toggle = "popover">
				<p>user name : Neomada</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-5188">{'None': 5, 'computer-vision': 1, 'localization': 0, 'mapping': 0, 'slam': 0, 'motion-planning': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5188">Load Comments</button></br>
			<div id = "commentsection-5188" class = 'collapse'>
			<div id = "comment-9709" class = "comment">
				<p>Is there a problem with simply using a regular camera and resizing the image down to 32 32 pixels?</p>
			</div>
			<div id = "comment-9710" class = "comment">
				<p>@Ian; I was looking for a compound vision sensor, but did ask if a reduction in a standard camera resolution would be better</p>
			</div>
			<div id = "comment-9723" class = "comment">
				<p>I'm asking if there's a specific reason why you wouldn't want to use the camera, since you seem to be having trouble finding the exact vision sensor you want.</p>
			</div>
			<div id = "comment-9734" class = "comment">
				<p>@Ian; I would have liked to try a compound camera to enable some bio-emulation/understanding, but I will be using a camera (possibly limiting the number of pixels processed or merging blocks of pixels).Thanks</p>
			</div>
			</div>
				<textarea id = "speech-5188" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5188">
					<img id="start_img-5188" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5188">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6771"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6771" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The following people have used a compound eye for the development of their insect inspired rotor craft to demonstrate panoramic optical flow methods without the use of accelerometers.</p>

<p><a href="http://iopscience.iop.org/1748-3190/10/2/026003/pdf/1748-3190_10_2_026003.pdf" rel="nofollow"><strong>Flying over uneven moving terrain based on optic-flow cues without
any need for reference frames or accelerometers</strong></a></p>

<p>The sensors are described here; <a href="http://www.curvace.org/" rel="nofollow"><strong>Curvace</strong></a></p>

<p>Paper here; <a href="http://www.pnas.org/content/110/23/9267" rel="nofollow"><strong>Miniature curved artificial compound eyes</strong></a></p>

<p>Video here; <a href="https://www.youtube.com/watch?feature=player_embedded&amp;v=xKi5wSpslPE" rel="nofollow">https://www.youtube.com/watch?feature=player_embedded&amp;v=xKi5wSpslPE</a></p>

<p>With a detailed description of the fabrication here;
<a href="http://www.pnas.org/content/suppl/2013/05/17/1219068110.DCSupplemental/pnas.201219068SI.pdf" rel="nofollow"><strong>Supporting Information</strong></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6771" data-toggle = "popover">
				<p>user name : Neomada</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-6771">{'None': 5, 'computer-vision': 1, 'localization': 0, 'mapping': 0, 'slam': 0, 'motion-planning': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6771" class = 'collapse'>
			</div>
				<textarea id = "speech-6771" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6771">
					<img id="start_img-6771" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6771">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>