<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Compliance control for a single link robot in matlab
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2671" class = "post">
			<h2>Question</h2>
			<div id="vote-2671" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 546</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Compliance control for a single link robot in matlab</h2>
<p>What exactly is active compliance control in robotics joint? 
Why Is it used ? 
How can I write a program to simulate the compliance control in matlab for a single robotic link or single robotic joint ?
I have to develop an algorithm for torque control.
I have to sense the torque and give feedback to BLDC motor which is supposed to apply some controlled torque. 
I also have some unclear understanding of few things: Lets say I have single joint two link systems, How would this system behave when I have applied the compliance control algorithm at the joint? How will I test it? I mean if I apply some external torque what should it do so that I understand that it is in compliance control mode.
Here is a related paper.
<a href="http://www.thehandembodied.eu/pdf/ICCAS.pdf" rel="nofollow">http://www.thehandembodied.eu/pdf/ICCAS.pdf</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2671" data-toggle = "popover">
				<p>user name : user3217310</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-2671">{'control': 3, 'None': 0, 'robotic-arm': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2671">Load Comments</button></br>
			<div id = "commentsection-2671" class = 'collapse'>
			<div id = "comment-5040" class = "comment">
				<p>If you don't know what it is, why do you want to simulate it?</p>
			</div>
			</div>
				<textarea id = "speech-2671" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2671">
					<img id="start_img-2671" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2671">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2737"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2737" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was hoping you would elaborate your question because it is pretty vague.  There are two kinds of robot arm compliance: passive and active.  </p>

<p>Passive compliance is a property of the physical system.  For example a soft end-effector, a spring in line with the motor (aka series elastic actuation), or a flexible link.  If you know all the parameters of the arm such as masses, moments of inertia, spring, and damper coefficients, you can determine various characteristics of the arm.  For example, how the arm will behave when given a step input.  This is a standard control problem.  </p>

<p>Active compliance uses sensing in the arm and/or end-effector to sense external forces on the arm, then move the joints accordingly.  This is closely related to force control.  In the industrial world, this could be applying the right amount of force during some machining operation.  For arms in human environments, this could be moving out of the way when a user pushes the arm.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2737" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-2737">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2737">Load Comments</button></br>
			<div id = "commentsection-2737" class = 'collapse'>
			<div id = "comment-5104" class = "comment">
				<p>What's the use in human environment? Just moving out of the way when it is pushing ? This normally happens with anything apply force things (joints) will move out of the way, what s the difference in this case ?</p>
			</div>
			<div id = "comment-5105" class = "comment">
				<p>Also Thanks a lot. am I clear now ? So I have to work in the active compliance area, and make algorithm for the torque control for the joint of two link robot.</p>
			</div>
			<div id = "comment-5106" class = "comment">
				<p>Typically, robot joints are very strong and a user pushing on the arm won't make it budge at all without the robot "wanting" to move.  Of course if you have a small, light, and weak arm (possibly made from hobby servos for example), you will be able to easily overpower it.  But i think this is the exception.  In this case, the weak motors may be thought of as a type of passive compliance.</p>
			</div>
			<div id = "comment-5107" class = "comment">
				<p>Is it like when it is not in contact with the human i.e nobody is applying force, the joint will stay in the position the human last left it in ( single joint two link) and compensate for gravity, but the gravity can not move the joint ? I mean what is equilibrium state of such joint, will it be decided according to gravity ? or the last position where somebody left it?</p>
			</div>
			<div id = "comment-5109" class = "comment">
				<p>That is completely up to you and your compliant arm control code. :)</p>
			</div>
			</div>
				<textarea id = "speech-2737" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2737">
					<img id="start_img-2737" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2737">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>