<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Comparing industrial robot arms
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7731" class = "post">
			<h2>Question</h2>
			<div id="vote-7731" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 679</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Comparing industrial robot arms</h2>
<p>I'd like to study the capabilities of industrial robot arms. For example, to answer the question how does price vary with precision, speed, reach and strength?</p>

<p>Is there a database of industrial robot arms including information like the price, precision, speed, reach and strength of each model?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7731" data-toggle = "popover">
				<p>user name : Jon Harrop</p>
				<p> user reputation : 99</p>
				<p class = "tagcontent" id = "usertaginfo-7731">{'None': 0, 'industrial-robot': -2, 'robotic-arm': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7731">Load Comments</button></br>
			<div id = "commentsection-7731" class = 'collapse'>
			<div id = "comment-11231" class = "comment">
				<p>I'm voting to close this because I don't feel that there's any "right" answer - everything could probably be found out with an online search. That is, I feel that the answers are all going to be "primarily opinion-based".</p>
			</div>
			<div id = "comment-11234" class = "comment">
				<p>@Chuck: The right answer than I am looking for is a link to a database that provides this information.</p>
			</div>
			</div>
				<textarea id = "speech-7731" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7731">
					<img id="start_img-7731" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7731">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7732"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7732" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>For example, how does price vary with precision, speed, reach and
  strength?</p>
</blockquote>

<p>The price vary a lot, from a couple of hundreds of bucks to hundreds of thousands of dollars ( <a href="http://www.gizmag.com/pr2-robot-commercially-available/16306/" rel="nofollow">Willow Garage's the one-armrobot PR2 costs \$285,000  and The two-armed  costs  \$400,000 </a>), it goes up- as you can guess- whenever the robot arm is precise, fast, long, strong, collaborative (i.e. designed to interact with its environment), or have more DoF's (Degrees of Freedom). Also, take into account the flanges, tools, the palette of software they come with, certifications, etc. It really depends.</p>

<blockquote>
  <p>Is there a database of industrial robot arms including information
  like the price, precision, speed, reach and strength of each model?</p>
</blockquote>

<p>I don't know of such a database, but you can find all these information (except prices, these companies are pretty secretive, they usually reveal it to potential customers. I work on KUKA's robots in my company, I didn't know about their price until our PR told me about the deal) on the Robot's manuals available on the companies' websites.
If you want to narrow down your choices, check what's available on the applications you want your robot to perform (if the robot will do repetitive work inside a confined space, there's no need to buy an expensive collaborative robot). I think, the big guys in the industry like Kuka, ABB, or Fanuc have a complete range of robots for different applications and at different sizes.
Check this link out:</p>

<p><a href="http://blog.robotiq.com/bid/63528/What-are-the-different-types-of-industrial-robots" rel="nofollow">http://blog.robotiq.com/bid/63528/What-are-the-different-types-of-industrial-robots</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7732" data-toggle = "popover">
				<p>user name : El Zo</p>
				<p> user reputation : 88</p>
				<p class = "tagcontent" id = "usertaginfo-7732">{'None': 6, 'c++': 2, 'robotic-arm': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7732">Load Comments</button></br>
			<div id = "commentsection-7732" class = 'collapse'>
			<div id = "comment-11235" class = "comment">
				<p>"except prices". Yeah, the price is the thing I'm really struggling with. It seems the only robot vendors who advertise prices are those competing on price such as the Baxter robot from Rethink Robotics. Interesting you say that collaborative robots are expensive when Baxter and the Universal Robotics UR series are relatively cheap. Do you mean collaborative robots from the likes of KUKA, FANUC and ABB?</p>
			</div>
			<div id = "comment-11246" class = "comment">
				<p>Most of the sophisticated robot arms are not destined for personal use that's why they seem very expensive, but rather to industrial one.  They perform routine, repetitive and tedious works 24h/7 in production lines, so they replace many humans while eliminating human errors, which is cost saving if you are a Car Manufacturer like WV or Mercedes.</p>
			</div>
			<div id = "comment-11247" class = "comment">
				<p>What I mean by " collaborative robots" are the ones that interact with humans without hurting them. The one I know about is KUKA's LBR iiwa http://www.kuka-robotics.com/germany/en/products/industrial_robots/sensitiv/lbr_iiwa_7_r800/start.htm  that has torque sensors on each axis, so it can detect any collision or contact with humans.</p>
			</div>
			<div id = "comment-11251" class = "comment">
				<p>Yeah, the KUKA LBR iiwa is $200k.</p>
			</div>
			<div id = "comment-11265" class = "comment">
				<p>I don't think it's $200k, in Europe it's around  55k</p>
			</div>
			</div>
				<textarea id = "speech-7732" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7732">
					<img id="start_img-7732" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7732">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>