<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Compiling Code for EY-80
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2089" class = "post">
			<h2>Question</h2>
			<div id="vote-2089" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 95</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Compiling Code for EY-80</h2>
<p>I recently purchased at EY-80 from electrodragon: <a href="http://www.electrodragon.com/?product=all-in-one-9-axis-motion-sensor-gyroscope-accelerometer-magnetometer-barometer" rel="nofollow noreferrer">EY-80 All in one 9-Axis Motion Sensor (Gyro + Acceler + Magneto + Baro)</a></p>

<p>I am having a hard time compiling the <a href="https://github.com/Edragon/Arduino_sketch/wiki" rel="nofollow noreferrer">example code</a> on my arduino:</p>

<p><img src="https://i.stack.imgur.com/C7xKr.png" alt="enter image description here"></p>

<p>This is what is happening.  So far, I am only copy and pasting the code.  Any help? (I am somewhat new to programming, so don't fully understand all of the code)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2089" data-toggle = "popover">
				<p>user name : Toozinger</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-2089">{'control': 5, 'quadcopter': 5, 'None': 1, 'arduino': 12, 'microcontroller': 6, 'servomotor': 5, 'esc': 5, 'sensors': 1, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2089">Load Comments</button></br>
			<div id = "commentsection-2089" class = 'collapse'>
			<div id = "comment-4182" class = "comment">
				<p>Welcome to *Robotics* Toozinger. It is better to copy and paste the text of an error message than to take a screenshot, since we can't see the whole of the error message. Without more information we can't really help you, but I would initially suggest that you start by compiling the whole project as is, and only start cutting and pasting code from the project once you are familiar with compiling it.</p>
			</div>
			<div id = "comment-4184" class = "comment">
				<p>Thanks for the tip.  I did get it working after correcting my library errors.</p>
			</div>
			</div>
				<textarea id = "speech-2089" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2089">
					<img id="start_img-2089" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2089">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2095"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2095" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After talking to a friend, I found out what I did wrong.</p>

<ol>
<li>I needed to include all of the #include libraries.</li>
<li>I downloaded one of the libraries in html, instead of raw .h format which was messing up the program, so I downloaded the correct version.</li>
</ol>

<p>The program is now working, and collecting data well!</p>

<p>If you find your readings to be off, change the update delay from 500ms to 20ms and the readings will drastically improve.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2095" data-toggle = "popover">
				<p>user name : Toozinger</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-2095">{'control': 5, 'quadcopter': 5, 'None': 1, 'arduino': 12, 'microcontroller': 6, 'servomotor': 5, 'esc': 5, 'sensors': 1, 'gyroscope': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2095" class = 'collapse'>
			</div>
				<textarea id = "speech-2095" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2095">
					<img id="start_img-2095" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2095">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>