<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Conceptual problem regarding electronic shutters
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7244" class = "post">
			<h2>Question</h2>
			<div id="vote-7244" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 84</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Conceptual problem regarding electronic shutters</h2>
<p>I have been looking at CCD and CMOS sensors and cameras to decide which one to use in the process of automatic control of a printing process. By now I am getting the grips on almost all the essential numbers and abbreviations but there remains a problem with shutters.</p>

<p>I understand that there are different types of shutters, both mechanical and electronic, and I can understand how they work. My problem concerns shutter speed. If I use a mechanical shutter, well then the maximum shutter speed depends on that particular element in the assembly, but how does it work for electronic shutters? I have never read "Max shutter speed" in any specs. The only thing I usually see floating around are frames per second. But those do usally not pass a limit of about 120 fps. Depending on how the sensor it is built one could think that the maximum shutter speed therefore is 1/120 or 1/240 if it uses half frames.</p>

<p>Can this be right? It seems really slow. I will be faced with the task of recording crisp and clear images of paper which moves at about 17 m/s. That is never possible with shutter speeds that slow. Will I be forced to use a mechanical shutter or am I misunderstanding something?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7244" data-toggle = "popover">
				<p>user name : Cyianor</p>
				<p> user reputation : 48</p>
				<p class = "tagcontent" id = "usertaginfo-7244">{'None': 0, 'computer-vision': 9, 'cameras': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7244">Load Comments</button></br>
			<div id = "commentsection-7244" class = 'collapse'>
			<div id = "comment-10298" class = "comment">
				<p>Perhaps http://photo.stackexchange.com/ might be a better place to post this question?</p>
			</div>
			<div id = "comment-10364" class = "comment">
				<p>I will try it. Thanks for the recommendation.</p>
			</div>
			</div>
				<textarea id = "speech-7244" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7244">
					<img id="start_img-7244" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7244">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7375"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7375" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe that in the electronic world, the main determinant will be processing power. Your speed (or fps) will be limited by two factors:</p>

<ol>
<li>the length of exposure required for a given ISO setting and lighting levels</li>
<li>between each exposure, the electronics will need to process the data from the sensor and store it</li>
</ol>

<p>The amount of time it takes for those two things to happen at once will dictate your framerate. So, its not really a specification of the sensor itself, but depends on the supporting electronics and software.</p>

<p>Technically speaking, the sensor itself doesn't have an ISO setting, rather that depends on the software and it is about <em>SNR</em> or <em>signal to noise ratio</em> (see this <a href="http://cdn.metricmarketing.ca/www.machinevision.ca/files/Support_Documents_and_Downloads/Camera_Sensitivity-v2_4.pdf?this=that" rel="nofollow">article</a>).</p>

<p>Another thing to consider when filming your high speed scenes is that a CMOS sensor will use a rolling shutter. This can give some strange stroboscopic effects because of the way it only gathers info from one part of the sensor at a time and <em>rolls</em> through all of the rows (or columns) in the sensor successively.  CCD may be the better choice to minimise that artifact.</p>

<p>Here's a couple videos that demonstrate the effect of rolling shutters in CMOS cameras:</p>

<ul>
<li><a href="https://www.youtube.com/watch?v=pVcuntWruuY" rel="nofollow"><em>A strange effect</em></a> </li>
<li><a href="https://www.youtube.com/watch?v=LVwmtwZLG88" rel="nofollow"><em>curious stroboscopic effect</em></a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7375" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-7375">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7375">Load Comments</button></br>
			<div id = "commentsection-7375" class = 'collapse'>
			<div id = "comment-10662" class = "comment">
				<p>Thank you for your answer. Today most CMOS sensors for high speed applications have global shutters, thus eliminating the problem you named. Sensor and camera manufactures are really quite about shutter speeds though. I do not quite know why. I got some answers from companys and they have maximum shutter speeds in their data sheets. But by far not all of them.</p>
			</div>
			</div>
				<textarea id = "speech-7375" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7375">
					<img id="start_img-7375" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7375">Comment</button>
			<br><div id = "ans-7643"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7643" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Shutter speed is a <a href="https://photo.stackexchange.com/questions/27573/whats-the-difference-between-exposure-and-shutter-speed">synonym for exposure time</a>. Exposure time is linked to the frames per second (FPS):</p>

<p>$t_{exposure} + t_{readout} \leq 1 / {FPS}$</p>

<p>So the answer to your question is: no. FPS is usually the more limiting factor because of the readout speed and the bandwidth to transmit the data. 
The FPS you select provides an upper limit for the exposure time, but not a lower limit. You can make your exposure time much shorter. How short depends on your camera model, but usually much shorter than a millisecond.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7643" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-7643">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7643">Load Comments</button></br>
			<div id = "commentsection-7643" class = 'collapse'>
			<div id = "comment-11064" class = "comment">
				<p>Thank you for the answer! This is pretty much what I learned from other sources too now. But shouldn't it be $t_{exposure} + t_{readout} \leq 1 / FPS$?</p>
			</div>
			<div id = "comment-11075" class = "comment">
				<p>Probably depends if you take FPS literal, or interpret it as a frequency in Hz. But agreed, I guess it is more confusing to keep it there.</p>
			</div>
			<div id = "comment-11094" class = "comment">
				<p>Now that I read my question again I realize that I meant to ask something else. The way it is posted though you definitely answered my question.</p>
			</div>
			</div>
				<textarea id = "speech-7643" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7643">
					<img id="start_img-7643" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7643">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>