<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connecting multiple different voltage servos to the same controller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1018" class = "post">
			<h2>Question</h2>
			<div id="vote-1018" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 249</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connecting multiple different voltage servos to the same controller</h2>
<p>I am using the <a href="http://www.pololu.com/file/0J37/ssc03a_guide.pdf" rel="nofollow noreferrer">Pololu Micro Serial Servo Controller</a> connected to an Arduino and multiple other servos (4 total) to make a robot arm.  Two of the four servos require 4-6 volts, while the other 2 require 7-10 volts, so I am planning on powering all the servos separate from the Pololu.</p>

<p>I have the Arduino and Pololu connecting to each other correctly (flashing green led), but the servo(s) don't move when plugged in to the control pins.  All the servos work correctly when plugged into a servo-tester.</p>

<p>I think that this problem could be fixed by connecting the grounds of the servos to the ground of the Pololu, but would like advice because I am not sure if it will work, or will end up frying one of the parts (We already fried a pololu).</p>

<p>Would connecting the grounds of the batteries to the ground of the Pololu help, or damage the parts?</p>

<p><img src="https://i.stack.imgur.com/Gf2t4.jpg" alt="Wiring Diagram">, but I couldn't figure out how to show the micro serial servo controller.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1018" data-toggle = "popover">
				<p>user name : EAKAE</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-1018">{'None': 2, 'rcservo': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1018">Load Comments</button></br>
			<div id = "commentsection-1018" class = 'collapse'>
			<div id = "comment-2379" class = "comment">
				<p>A Fritzing diagram would be useful to see the servo power wiring setup. You don't have enough reputation to post an image yet (I think you need 10?), but if you upload it somewhere and link it, someone can edit the picture in for you.</p>
			</div>
			<div id = "comment-2387" class = "comment">
				<p>I added an image, but it isn't displaying properly on my computer (probably because of the firewall).  I think it worked.</p>
			</div>
			</div>
				<textarea id = "speech-1018" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1018">
					<img id="start_img-1018" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1018">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1028"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1028" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have a floating signal of servo ctrl, because they are not on the same common. 
Output from arduino (if not on the same common as servo) will be on the different potential level than input on servos. So servo will see it as a floating potential between his ground and his vcc potential.
(i hope you did understand what i wanted to say, its hard for me to explain it on English :) )</p>

<p>I guess your diagram is not connected like you have posted, because you have connected +5 and gnd from arduino to digital 3 and inputs from both servos are connected.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1028" data-toggle = "popover">
				<p>user name : Gossamer</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-1028">{'None': 18}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1028">Load Comments</button></br>
			<div id = "commentsection-1028" class = 'collapse'>
			<div id = "comment-2413" class = "comment">
				<p>I'm using a pololu micro serial servo to convert the arduino's serial signal to the signals for the servo.  I couldn't find a Fritzing image that was close, so I put in a breadboard instead.  I just figured out why it wasn't working, and I'm going to post an answer now.</p>
			</div>
			</div>
				<textarea id = "speech-1028" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1028">
					<img id="start_img-1028" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1028">Comment</button>
			<br><div id = "ans-1030"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1030" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I fixed the servos by connecting the ground of the external batteries to the ground of the pololu and arduino circuit boards, then spent an hour to realize that a wire was loose.  :S</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1030" data-toggle = "popover">
				<p>user name : EAKAE</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-1030">{'None': 2, 'rcservo': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1030" class = 'collapse'>
			</div>
				<textarea id = "speech-1030" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1030">
					<img id="start_img-1030" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1030">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>