<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>connecting MPU-9250 GY-9250 SENSOR MODULE to arduino uno
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8394" class = "post">
			<h2>Question</h2>
			<div id="vote-8394" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1013</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>connecting MPU-9250 GY-9250 SENSOR MODULE to arduino uno</h2>
<p>i am using this sensor to make self balancing robot.At first i have soldered the header(only to vcc,gnd,scl,sda ) on the imu borad at the opposite side where there is no component mounted.then connecting it to arduino uno r3(vcc to vcc 3.3v/5v,gnd to 1 of 3 gnd,scl to scl and sda to sda(first time at those next to AREF, second time A5,A4) ) i uploaded the sketch <a href="https://github.com/adafruit/Adafruit_ADXL345/blob/master/examples/sensortest/sensortest.pde" rel="nofollow noreferrer">https://github.com/adafruit/Adafruit_ADXL345/blob/master/examples/sensortest/sensortest.pde</a> then when i opened the serial monitor i got</p>

<blockquote>
  <p>Accelerometer Test</p>
  
  <p>FF Ooops, no ADXL345 detected ... Check your wiring!</p>
</blockquote>

<p>i thought may be i have soldered the header in wrong direction(as in picture and videos at internet,they are so) so i desolder(with solder iron,no other technique) the header,but there were still some solder around the hole which i could not remove.then while checking the continuity between pins with multimiter(in resistance mode) i found the resistance to be 20k(scl-sda),220k(scl-gnd),220k(sda-gnd),between vcc and 3 other pins multimieter shows 1(range 2000k). then i soldered it on opposit side(this time where other components are mounted).the serial monitor still shows same output,and so does the muiltimeter.so where is the problem? is it with soldering ?do i need to disolder the header again and clean left out solder(with Chip Quik type desoldering technique ) on the opposite side(no component mounted)?is there any hope that i won't need to buy it again?</p>

<p><a href="https://i.stack.imgur.com/skSN2.jpg" rel="nofollow noreferrer">picture of opposite side where no component is mounted and this is after desoldering and resoldering</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8394" data-toggle = "popover">
				<p>user name : Fringe Emanuel</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8394">{'None': 0, 'imu': 0, 'gyroscope': 0, 'accelerometer': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8394">Load Comments</button></br>
			<div id = "commentsection-8394" class = 'collapse'>
			<div id = "comment-16928" class = "comment">
				<p>Have you got it working once without soldering, just with cabling it?</p>
			</div>
			</div>
				<textarea id = "speech-8394" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8394">
					<img id="start_img-8394" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8394">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9573"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9573" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know the details of the ADXL345 or the MPU-9250, but I wouldn't expect a MPU-9250 to respond to the Arduino running a program for the ADXL345.  So my first suggestion is to search for the right program for your board.</p>

<p>Secondly I think you are using I2C to connect to the board.  The SCL and SDA lines need pull up resistors, so place a 4.7K resistor between SDA and VCC and another between SCL and VCC.  </p>

<p>Both the chips you mentioned are 3.3V chips, the boards might handle 5V but you need to check the data sheets. If they can't hand 5V then you will need a logic level shifter.</p>

<p>You might have problems getting a good connection on the two holes, but that's only a problem if you need them and I don't think with I2C you will.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9573" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-9573">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9573" class = 'collapse'>
			</div>
				<textarea id = "speech-9573" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9573">
					<img id="start_img-9573" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9573">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>