<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connecting a CC3D board with Raspberry Pi to get telemetry data
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9103" class = "post">
			<h2>Question</h2>
			<div id="vote-9103" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1191</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connecting a CC3D board with Raspberry Pi to get telemetry data</h2>
<p>I want to get telemetry data in my Raspberry Pi that will be connected to a <a href="http://www.openpilot.org/product/coptercontrol/" rel="nofollow">CC3D board</a> either via USB cable or Serial communication. How can I get the data? I plan to have wifi communication between the Pi and my Laptop. Also <a href="http://www.openpilot.org/product/oplink-rf-modems/" rel="nofollow">OPLink modems</a> will be used both in the Pi and the CC3D for the telemetry. Does anyone have a python example that may help to build an interface or output in the Linux shell to get raw telemetry data in RPi? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9103" data-toggle = "popover">
				<p>user name : user3280465</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-9103">{'communication': 1, 'None': 0, 'serial': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9103" class = 'collapse'>
			</div>
				<textarea id = "speech-9103" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9103">
					<img id="start_img-9103" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9103">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9104"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9104" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am trying to do the same project. </p>

<p>I asked this question in the LibrePilot forum (the new community which gives support to the OpenPilot project) and they told me about the UAVTalk protocol, an object oriented protocol that is used to exchange telemetry data.</p>

<p>I give you some links about the protocol and also some modules programmed in Python to use it as interface with the protocol. 
By now I haven't test those modules but they seems to work properly.</p>

<p>If you achieve something, please let me know.
Here are the links</p>

<p><a href="https://bitbucket.org/alessiomorale/librepilot/commits/812babc4406e8063f04997e9f5214efe66ca4cac?at=next" rel="nofollow">https://bitbucket.org/alessiomorale/librepilot/commits/812babc4406e8063f04997e9f5214efe66ca4cac?at=next</a></p>

<p><a href="https://librepilot.atlassian.net/wiki/display/LPDOC/UavTalk" rel="nofollow">https://librepilot.atlassian.net/wiki/display/LPDOC/UavTalk</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9104" data-toggle = "popover">
				<p>user name : osuarez</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-9104">{'control': 5, 'stereo-vision': 2, 'beginner': 3, 'pid': 3, 'uav': 5, 'slam': 3, 'robotic-arm': 0, 'mobile-robot': 7, 'forward-kinematics': 0, 'cameras': 2, 'kinect': 0, 'visual-servoing': 2, 'matlab': 1, 'motion-planning': 4, 'movement': 1, 'odometry': 1, 'None': 2, 'inverse-kinematics': 0, 'raspberry-pi': 7, '3d-reconstruction': 2, 'quadcopter': 9, 'computer-vision': 6, 'geometry': 3, 'c++': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9104">Load Comments</button></br>
			<div id = "commentsection-9104" class = 'collapse'>
			<div id = "comment-15101" class = "comment">
				<p>Welcome to *robotics* user3280465. On Stack exchange *answers* need to answer the question. Stack exchange is not a discussion forum, it is a place to ask questions and get answers. If you wish to discuss a question or answer you can use [chat]. If you have a suggestion as to how a question or answer can be improved, you can comment when you have [comment everywhere](http://robotics.stackexchange.com/help/privileges/comment) privileges. Please take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-9104" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9104">
					<img id="start_img-9104" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9104">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>