<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connecting multiple servos to a robotic arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4959" class = "post">
			<h2>Question</h2>
			<div id="vote-4959" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 669</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connecting multiple servos to a robotic arm</h2>
<p>I am computer programmer and it's really been long since I have done electronics. I need help on connecting my servos to an Arduino to power my robotic arm. <a href="http://jjshortcut.wordpress.com/2010/04/19/my-mini-servo-grippers-and-completed-robotic-arm/" rel="nofollow noreferrer">This</a> is the robotic arm that I am trying to build.</p>

<p>I have come up with the connections as shown in the below diagram with my basic knowledge and browsing the internet. I have omitted the signal wires for clarity.</p>

<p><img src="https://i.stack.imgur.com/CEFam.png" alt="Robot Arm Power Connection"></p>

<p>What I would like to know is </p>

<ul>
<li>Will this work?</li>
<li><p>Is this a good/decent design? I think it isn't as I have 4 battery packs.</p>

<p>I would like to have a single power source that would save me the trouble of maintaining so many batteries. To do this I have thought of using a voltage regulator but I am concerned about how this would perform if one servo starts drawing too much load. It might suck up all most the power leaving very little for the other servos.</p></li>
</ul>

<p>Any suggestions would be greatly helpful.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4959" data-toggle = "popover">
				<p>user name : Tanmay</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-4959">{'None': 0, 'servos': 1, 'robotic-arm': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4959">Load Comments</button></br>
			<div id = "commentsection-4959" class = 'collapse'>
			<div id = "comment-7703" class = "comment">
				<p>Is there some reason you can't use multiple motors with one battery pack, or put the battery packs in parallel?</p>
			</div>
			</div>
				<textarea id = "speech-4959" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4959">
					<img id="start_img-4959" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4959">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4974"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4974" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li><p>It's will work depending on the characteristics of your batteries and servo motors (draw current and voltage). If you draw more current than the battery capacity you'll damage your batteries (overload or overdischarge) and probably your servos. I suggest to you to use NIMH battery they are more reliable than the AAA batteries</p></li>
<li><p>Why you want to use single porwer ssource, 4 batteries pack in parallel are more reliable for your servos. If one servo drawing to much current, its will effect one battery and the other servos they are safe. In the other case (one sngle battery), the others servos may damaged by the failing servo. If you use one single battery, you need the arduino to control the current and voltage of the servos and BMS to your battery.</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4974" data-toggle = "popover">
				<p>user name : R Djorane</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-4974">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4974" class = 'collapse'>
			</div>
				<textarea id = "speech-4974" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4974">
					<img id="start_img-4974" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4974">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>