<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connecting USB Xbox Controller to National Instruments cRIO
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7097" class = "post">
			<h2>Question</h2>
			<div id="vote-7097" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 116</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connecting USB Xbox Controller to National Instruments cRIO</h2>
<p>I have a FIRST Robotics spec National Instruments cRIO.  I would like to connect a USB wireless Xbox controller to it in order to control it from a distance with minimal extra hardware (which is why I am not using the more traditional WiFi radio method).  To this point I have been able to find either</p>

<p>A. A sidecar for the cRIO which allows it to act as a USB host or</p>

<p>B. A method that does not use NI specific hardware to connect the two together</p>

<p>If someone who is knowledgeable on the subjects of industrial system and robot control could provide some assistance that would be greatly appreciated, thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7097" data-toggle = "popover">
				<p>user name : carpenma</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-7097">{'control': 0, 'None': 0, 'usb': 0, 'first-robotics': 0, 'wireless': 0, 'industrial-robot': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7097" class = 'collapse'>
			</div>
				<textarea id = "speech-7097" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7097">
					<img id="start_img-7097" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7097">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7098"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7098" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So you can line the Xbox controller to the FIRST dashboard software as a joystick, this would be the easiest solution, If you want to attach it directly you could use the serial port on the Crio with a <a href="http://www.arduino.cc/en/Main/ArduinoUSBHostShield" rel="nofollow">USB host shield</a> and an arduino (similar to <a href="http://scuola.arduino.cc/courses/lessons/cover/wXd2go1" rel="nofollow">this</a>) and configure the arduino to translate the data to serial and then read it. the second option is to connect the SPI lines on the shield directly to the GPIO on the digital sidecar and use the included SPI interface in the WPI library. Additional modules for the Crio will not be supported in the FIRST configuration, requiring to write your own libraries and FPGA implementation from the ground up to support more than just the offical modules, along with the fact that they are very expensive.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7098" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7098">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7098">Load Comments</button></br>
			<div id = "commentsection-7098" class = 'collapse'>
			<div id = "comment-10188" class = "comment">
				<p>Thanks!  I've decided to go with an Arduino Uno and the USB host shield you mentioned.  This will do everything I need without even having to use the cRIO!</p>
			</div>
			</div>
				<textarea id = "speech-7098" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7098">
					<img id="start_img-7098" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7098">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>