<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connect to video stream with Java app instead of console and mplayer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5031" class = "post">
			<h2>Question</h2>
			<div id="vote-5031" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 502</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connect to video stream with Java app instead of console and mplayer</h2>
<p>I'm building a quadcopter using Raspberry Pi. There is the Pi Camera connected to the Raspberry Pi which is streaming the captured video. I can connect to this stream via Wi-Fi on my notebook (Linux) by using the console command "nc" and then show it by "mplayer".</p>

<p>What I want to do though is avoid the console commands and connect to this stream directly through my Java application. The reason is I want to do some image processing operations with this video so I need to have it in my application.</p>

<p>Is there anyone able to help me?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5031" data-toggle = "popover">
				<p>user name : user285066</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-5031">{'quadcopter': 2, 'None': 0, 'cameras': 2, 'raspberry-pi': 2, 'linux': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5031">Load Comments</button></br>
			<div id = "commentsection-5031" class = 'collapse'>
			<div id = "comment-19634" class = "comment">
				<p>Welcome to *Robotics* user285066, but I'm afraid that as it stands, this looks like a library recommendation question. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-19635" class = "comment">
				<p>In the meantime however, you may want to browse questions in the [tag:computer-vision] and [tag:opencv] tags.</p>
			</div>
			</div>
				<textarea id = "speech-5031" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5031">
					<img id="start_img-5031" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5031">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5050"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5050" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should check it out OpenCV (open computer vision) it suport bindings for java and stream and it has very powerfull image processing tools! Hope it helps... <a href="https://stackoverflow.com/questions/15835424/opencv-2-4-4-java-grab-webcam-picture-stream-osx">OpenCV java stream <em>stackoverflow</em></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5050" data-toggle = "popover">
				<p>user name : urosjarc</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-5050">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5050">Load Comments</button></br>
			<div id = "commentsection-5050" class = 'collapse'>
			<div id = "comment-7813" class = "comment">
				<p>It is possible but it seems to much complicated to use OpenCV in Jave when there is library in Java supporting operations needed. There must be way how connect to the stream directly from Java.</p>
			</div>
			<div id = "comment-7814" class = "comment">
				<p>Well you can make stream directry from java library but  in OpenCV is much nicer and its not so complicated :)</p>
			</div>
			<div id = "comment-7979" class = "comment">
				<p>Well finally I use OpenCV 2.4.9 and it's working nice and easy. Unfortunatelly JavaCV isn't working.</p>
			</div>
			<div id = "comment-7981" class = "comment">
				<p>Well then don't give up try with python my friend :D you will have less problems, the python should be already installed on linux os, and its super easy :D</p>
			</div>
			<div id = "comment-8000" class = "comment">
				<p>Man... I have enaugh troubles with some example OpenCV codes written nonsensly in Python instead of C++. Any non-C/C++/Java/C# PL needed at all especially on C/C++ based linux - I don't see reason for that. There is so much lacking of some quality C++ libraries - why add troubles with Python.</p>
			</div>
			<div id = "comment-8003" class = "comment">
				<p>Your choice. :)</p>
			</div>
			</div>
				<textarea id = "speech-5050" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5050">
					<img id="start_img-5050" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5050">Comment</button>
			<br><div id = "ans-5066"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5066" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Alternatively, you could embrace the console commands instead of avoiding them, and still have it interact with your java program.  This would have the advantage of continuing to deliver the video stream to the notebook even if the java program fails.</p>

<p>I'd look at <a href="http://linux.die.net/man/3/mkfifo" rel="nofollow">mkfifo</a>, which will make a special file on your system that the java program could open for processing.</p>

<p>To put data into that file, use the <a href="http://linux.die.net/man/1/tee" rel="nofollow">tee</a> command to copy the input data from STDIN to both STDOUT and the FIFO file you created.</p>

<p>e.g. </p>

<pre><code>bash# mkfifo /path/to/myOutputFifo
bash# nc | tee /path/to/myOutputFifo | mplayer
</code></pre>

<p>Then, point your java program at <code>/path/to/myOutputFifo</code> for input.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5066" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-5066">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5066">Load Comments</button></br>
			<div id = "commentsection-5066" class = 'collapse'>
			<div id = "comment-7964" class = "comment">
				<p>Thanks this is a good to know but it not solve my problem. How can I decode that videostream in java appliaction?</p>
			</div>
			<div id = "comment-7977" class = "comment">
				<p>That depends entirely on the nature of the video stream that you're decoding, and it sounds like a question for a different StackExchange site.</p>
			</div>
			</div>
				<textarea id = "speech-5066" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5066">
					<img id="start_img-5066" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5066">Comment</button>
			<br><div id = "ans-10163"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10163" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think this should be possible. You could still run nc on the pi side, and use a socket connection in your java application.</p>

<p>One important aspect is the encoding of the stream. It would probably be easiest to use mjpeg here. Mjpeg is just a concatenation of single jpeg images, and decoding jpegs is much easier than h.264 (the other alternative in the raspivid as far as I recall).</p>

<p>The server could e.g. be</p>

<pre><code>raspivid -t 0 -w 300 -h 300 -hf -fps 20 -codec MJPEG -o - | nc -l 4000
</code></pre>

<p>On the client side you could look for example at this <a href="https://github.com/gskjold/mjpeg-viewer" rel="nofollow">mjpeg-viewer</a> to get you started.</p>

<p>The support for MJPEG in the raspivid seems to be recent. I don't know if this will work.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10163" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-10163">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10163" class = 'collapse'>
			</div>
				<textarea id = "speech-10163" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10163">
					<img id="start_img-10163" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10163">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>