<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connecting Wifi bee with Xbee USB adapter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2563" class = "post">
			<h2>Question</h2>
			<div id="vote-2563" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 433</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connecting Wifi bee with Xbee USB adapter</h2>
<p>I started to follow "Get started with the Wifi Bee" tutorial in <a href="http://www.dfrobot.com/wiki/index.php/WiFi_Bee_V1.0_%28SKU%3aTEL0067%29" rel="nofollow">Wifi bee v1.0 wiki page</a>. 
I am using Xbee USB adapter v2.0,Wifi Bee-RN-XV,mini USB cable as listed in <strong>Tools needed</strong>.
When i conneted the Xbee USB adapter v2 to my computer via mini USB cable Wifi bee didn't light up (but USB adapter did light up). Then i followed all the steps till number 4, which is " Send AT command $$$ to the wifi Bee and it will reply "CMD" to indicate that it enter the command mode properly". When i sent command, it didn't reply anything. I typed other commands like <strong>show net</strong> and  <strong>scan</strong>, it didn't reply either.</p>

<p>When i tried <strong>Arduino Server example</strong> in the wiki page, Wifi bee lighted up. But it gave me some strange ip address with port 200, and when i entered that ip address to my browser address, browser couldn't find the page.</p>

<p>So my question is does Xbee Usb adapter need some extra power sources? Or it just doesn't fit with Wifi Bee? I don't think the problem is with usb cable, 'cause my computer found the device. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2563" data-toggle = "popover">
				<p>user name : Zerde</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2563">{'None': 0, 'wifi': 1, 'usb': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2563">Load Comments</button></br>
			<div id = "commentsection-2563" class = 'collapse'>
			<div id = "comment-5223" class = "comment">
				<p>can you ping that ip address? what OS are you using?</p>
			</div>
			</div>
				<textarea id = "speech-2563" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2563">
					<img id="start_img-2563" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2563">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>