<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connecting More Than Six Analog Input Pins to arduino
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1227" class = "post">
			<h2>Question</h2>
			<div id="vote-1227" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 17527</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connecting More Than Six Analog Input Pins to arduino</h2>
<p>I'm in the planning stages for a project using the Arduino Uno to control 8 distance sensors, and have run into a little road block, the Uno only has six input pins. So I'm wondering, is there any way for this to work? If so, how?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1227" data-toggle = "popover">
				<p>user name : Dylan Katz</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-1227">{'control': 6, 'rcservo': 2, 'None': 0, 'microcontroller': 17, 'power': 6, 'accelerometer': 2, 'arduino': 24, 'wifi': 3, 'c': 3, 'c++': 2, 'motor': 6, 'input': 11, 'sensors': 2, 'electronics': 0, 'serial': 2, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1227" class = 'collapse'>
			</div>
				<textarea id = "speech-1227" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1227">
					<img id="start_img-1227" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1227">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1228"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1228" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Whenever you have more signals than appropriate inputs in a digital system, you likely need a multiplexer or simply mux. An M-to-N mux is a circuit that enables you to select which of M input signals you want to output to N mux outputs, usually using digital pins to make that selection.</p>

<p>Googling quickly, I found this solution for the Arduino Uno: a <a href="http://mayhewlabs.com/products/mux-shield-2">Mux Shield</a>. Hope that helps!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1228" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-1228">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1228" class = 'collapse'>
			</div>
				<textarea id = "speech-1228" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1228">
					<img id="start_img-1228" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1228">Comment</button>
			<br><div id = "ans-1240"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1240" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's more than one way to do it (<a href="http://en.wikipedia.org/wiki/There%27s_more_than_one_way_to_do_it">TMTOWTDI</a>).</p>

<p>There are a several ways to connect 8 analog inputs to an Arduino.</p>

<ul>
<li>Add an analog multiplexer, as georgebrindeiro suggested. Such as: <a href="http://shieldlist.org/appliedplatonics/analoginput">(a)</a>, <a href="http://shieldlist.org/mayhewlabs/mux">(b)</a>, <a href="http://shieldlist.org/criticalvelocity/monstermux">(c)</a>, <a href="http://blueberryde.com/shop/24-channel-analog-expander-shield/">(d)</a>, etc.</li>
<li>Replace the Arduino with one that has enough analog inputs already built-in. Such as the Arduino Mini with 8 analog inputs, the Arduino Due with 12 analog inputs <a href="http://arduino.cc/en/Main/ArduinoBoardDue">(b)</a>, <a href="http://arduino.cc/en/Main/ArduinoBoardMini">(a)</a> the Arduino Mega with 16 analog inputs <a href="http://arduino.cc/en/Main/arduinoBoardMega">(b)</a>, the Teensy 3.0 with 14 analog inputs <a href="http://forum.jeelabs.net/node/1429.html">(c)</a>, etc.</li>
<li>Add one or more external ADCs, and connect it to digital pins of your CPU. Such as: Arduino 4-20mA Shield with 16-bit ADC <a href="http://erdosmiller.com/products/arduino-4-20ma-shield">(a)</a>; ADS1115 16-Bit ADC -- with 4 of these boards, 2 digital pins from the Arduino are used to read 16 analog inputs <a href="http://learn.adafruit.com/adafruit-4-channel-adc-breakouts">(b)</a>; MCP3208 8 channel 12 bit SPI ADC <a href="http://arduino.cc/forum/index.php/topic,18827.0.html">(c)</a>; 8-channel 16-bit Raspi analog board <a href="http://hackaday.com/2012/09/14/a-truly-professional-raspi-analog-input/">(d)</a>; Arduino and the LTC2440 24bit ADC <a href="http://blog.arduino.cc/2012/07/11/arduino-and-the-ltc2440-24bit-adc/">(e)</a> <a href="http://blog.arduino.cc/2010/11/29/tired-of-a-10-bit-res-hook-up-a-better-analog-to-digital-converter/">(f)</a>; "The Brick" 8 Single Ended 16 Bit Analog Inputs <a href="http://arduino.cc/forum/index.php?topic=69358.0">(g)</a>; etc.</li>
</ul>

<p>p.s.: Multiplexing analog inputs requires an "analog multiplexer" -- most multiplexers are "digital muxes" which won't work with analog inputs.</p>

<p>p.p.s.:
All the ultrasonic distance sensors I've used only require digital I/O pins.
What kind of distance sensors are you using?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1240" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-1240">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1240">Load Comments</button></br>
			<div id = "commentsection-1240" class = 'collapse'>
			<div id = "comment-2829" class = "comment">
				<p>Of course! your right, they only need i/o, thanks!</p>
			</div>
			</div>
				<textarea id = "speech-1240" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1240">
					<img id="start_img-1240" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1240">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>