<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connecting an Arduino uno with a beaglebone black over USB
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5138" class = "post">
			<h2>Question</h2>
			<div id="vote-5138" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4853</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connecting an Arduino uno with a beaglebone black over USB</h2>
<p>I have an arduino uno and a BeagleBone black and would like them to talk with eachother. Both the beagleBone and the arduino have their own 5V power supplies so no need for power to be transferred over usb. The used communication line we would like to use is the direct serial line. Preferably in such a way that the arduino can just call Serial.read() in order to get the bytes it needs (there won't be many). How do I get this to work on the BeagleBoneBlack? I suspect we can call the serial.write somewhere inside the BBB(we mainly program in C++). But how do we achieve this? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5138" data-toggle = "popover">
				<p>user name : Thijser</p>
				<p> user reputation : 203</p>
				<p class = "tagcontent" id = "usertaginfo-5138">{'control': 1, 'None': 1, 'manipulator': 0, 'usb': 7, 'power': 6, 'simulator': 0, 'communication': 1, 'arduino': 3, 'c++': 4, 'simulation': 0, 'servomotor': 1, 'kinematics': 0, 'servos': 1, 'beagle-bone': 13, 'linux': 4, 'serial': 2, 'ros': 3, 'gazebo': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5138">Load Comments</button></br>
			<div id = "commentsection-5138" class = 'collapse'>
			<div id = "comment-7904" class = "comment">
				<p>Isn't BeagleBone running Linux? Can't you write to serial port the same way you would do in Linux everywhere?</p>
			</div>
			<div id = "comment-7905" class = "comment">
				<p>The beagleBone is running ubuntu-ARM but so far I have only writen to serial using the build in tools inside the arduino ID so how would I do this?</p>
			</div>
			<div id = "comment-7906" class = "comment">
				<p>Would [this](http://stackoverflow.com/q/25196697/912144) help?</p>
			</div>
			</div>
				<textarea id = "speech-5138" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5138">
					<img id="start_img-5138" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5138">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5144"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5144" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Beaglebone USB</h2>

<p>When you plug a USB cable between the USB B plug of the Arduino Uno and the USB A plug of the Beaglebone Black, the Beaglebone should be able to talk and listen to it the same way any other Linux distribution talks and listens to any other CDC class USB peripheral.</p>

<p>On the Beaglebone, a CDC class USB peripheral can be read an written to through "/dev/ttyUSB0" or "/dev/ttyACM0" or something similar.</p>

<pre><code># warning: untested code
import serial
serial_port = serial.Serial( port="/dev/ttyUSB0", baudrate=9600, timeout=1 )
while True:
    serial_port.write("Hey.")
    print hex(ord(serial_port.read()))
</code></pre>

<ul>
<li><a href="http://recursive-labs.com/blog/2012/06/20/ez430chronos-beaglebone/" rel="nofollow noreferrer">"EZ430 Chronos and the BeagleBone"</a></li>
<li><a href="http://rimuboddy.blogspot.com/2013/03/usb-serial-gps-reader-with-pyserial.html" rel="nofollow noreferrer">"USB (serial) GPS Reader with pyserial, Redis, Ubuntu 12.10 on Beaglebone"</a></li>
</ul>

<p>The Arduino uses Serial.read() and Serial.write().
Any of the <a href="http://arduino.cc/en/reference/serial" rel="nofollow noreferrer">Arduino serial demo scripts</a> that read and write to the Arduino serial monitor when the USB cable is plugged into a "big" computer
should work just fine when that same cable is plugged into a Beaglebone instead.</p>

<h2>Beaglebone UARTs</h2>

<p>p.s.:
You may find it easier to wire one of <a href="http://beaglebone.cameon.net/home/serial-ports-uart" rel="nofollow noreferrer">the six BeagleBone UARTs</a> directly to the Arduino UART ("<a href="http://hipstercircuits.com/enable-serialuarttty-on-beaglebone-black/" rel="nofollow noreferrer">Enable serial/UART/tty on BeagleBone Black</a>"; "<a href="https://stackoverflow.com/questions/21148655/python-pyserial-with-auto-rts-through-half-duplex-rs-485-breakout-board-using-be">Python PySerial ... using Beaglebone Black</a>"),
rather than trying to stick the more complicated USB in the middle somewhere.</p>

<ul>
<li><a href="http://bradsmc.blogspot.com/2013/05/example-serial-communication-between.html" rel="nofollow noreferrer">"Serial Communication between an Arduino &amp; a Beaglebone Black"</a>.</li>
<li><a href="https://learn.adafruit.com/setting-up-io-python-library-on-beaglebone-black/uart" rel="nofollow noreferrer">"Adafruit: setting up IO Python Library on BeagleBone Black: UART"</a> </li>
<li><a href="http://www.gigamegablog.com/2012/01/22/beaglebone-coding-101-using-the-serial-and-analog-pins/" rel="nofollow noreferrer">"Beaglebone Coding 101: Using the Serial and Analog Pins"</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5144" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-5144">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5144">Load Comments</button></br>
			<div id = "commentsection-5144" class = 'collapse'>
			<div id = "comment-9153" class = "comment">
				<p>This dues write to Serial however the data arrives malformed and the print causes the code to crash once it runs out of serial data to read.</p>
			</div>
			</div>
				<textarea id = "speech-5144" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5144">
					<img id="start_img-5144" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5144">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>