<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Connected battery, esc and motor does not power up the arduino
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10970" class = "post">
			<h2>Question</h2>
			<div id="vote-10970" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 315</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Connected battery, esc and motor does not power up the arduino</h2>
<p>I am currently doing my first arduino project and i am having trouble finishing it.</p>

<p>I have a 3s lipo battery connected with an esc (120A) that is connected to a motor (270KV). From the esc i am connecting two jumper cables that goes to GND and pin 9.
I do not have a jumper cable on the red wire from the ESC.</p>

<p>This is how it looks:</p>

<p><a href="https://i.stack.imgur.com/NTNuU.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/NTNuU.jpg" alt="enter image description here"></a></p>

<p>Below you can see a link to a sketch that I found online. The only difference compared to my schematic is that I have an Arduino Uno.</p>

<p><a href="https://i.stack.imgur.com/lo5ey.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/lo5ey.png" alt="enter image description here"></a></p>

<p>When I insert the battery and switch the ESC to "on" the ESC starts up correctly and the fan starts to go. But the arduino does not get any power. It is still "OFF".</p>

<p>I also noticed that my motor has 4 cables. 3 "bigger" cables that goes to the ESC's 3 big cables. And then a 4th one hanging loose right now because i do not quite know what to do with it. I also noticed there is a hole in the ESC where I can insert this. The hole has 6 "inputs" however where as the loose wire from the motor has 5. Therefor I am a bit concerned if that should be connected there or not.</p>

<p>So to summarize, the problem is that the Arduino does not turn "ON" with my current schematic. 
Any help, tips is very appreciated!!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10970" data-toggle = "popover">
				<p>user name : MarkEngineer</p>
				<p> user reputation : 9</p>
				<p class = "tagcontent" id = "usertaginfo-10970">{'None': 0, 'esc': 1, 'motor': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10970" class = 'collapse'>
			</div>
				<textarea id = "speech-10970" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10970">
					<img id="start_img-10970" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10970">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10971"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10971" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>your arduino is off because you are not powering it. you need to power the arduino. </p>

<p>The battery in the drawing is used exclusively to power the motor. The arduino needs its own separate power supply. </p>

<p>To power the arduino off of a battery you will need something like <a href="https://www.maxamps.com/castle-creations-bec-switching-regulator?gclid=CjwKEAjw-uDABRDPz4-0tp6T6lMSJADNoyPbadT9YuZfhsCDr9EWPdA3gswE0N9dkseq533KjnOnrxoC1gLw_wcB" rel="nofollow noreferrer">this</a>.</p>

<p>you can set the output voltage via a usb connection.</p>

<p>If you have additional questions please start a new thread. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10971" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-10971">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10971">Load Comments</button></br>
			<div id = "commentsection-10971" class = 'collapse'>
			<div id = "comment-19751" class = "comment">
				<p>Could I use the middle 5V cable from the ESC to the 5v input of the arduino and power it that way? Or is that dangerous? I have seen some threads where they say you shouldn't do that, but perhaps that is when you are working an BEC which I am not.</p>
			</div>
			<div id = "comment-19752" class = "comment">
				<p>Or is my only option to buy a BEC? (If i want to run it without USB connection of course)</p>
			</div>
			<div id = "comment-19755" class = "comment">
				<p>Yes, you can powet your Arduino via middle 5V, but check if it really has 5V before you plug it in.</p>
			</div>
			<div id = "comment-19756" class = "comment">
				<p>Okok. I bought it from alibaba and of course they have removed the product so I cannot see the specs. Is there any other way to find out? Or do I need to contact the seller? The only thing i know is that it is a 120A Brushless ESC</p>
			</div>
			<div id = "comment-19757" class = "comment">
				<p>Found it! 
https://www.alibaba.com/product-detail/RC-car-brushless-ESC-120A-splash_60440374394.html
Is BEC-Output what i should look for? if so it says 6V3A</p>
			</div>
			<div id = "comment-19765" class = "comment">
				<p>I'd check this with multimeter - measure voltage between red and black wire. If it's 6V you should plug it into Vin pin. Otherwise if voltage is about 5V, connect this to your 5V line.</p>
			</div>
			<div id = "comment-19773" class = "comment">
				<p>Ok! Thanks a lot for the help. Just a quick question. Is a multimeter the only way to measure this? I do not have one at home currently but if that is the case then I will go buy one asap. I am very new with electornics and arduino so pardon my knowledge!</p>
			</div>
			<div id = "comment-19780" class = "comment">
				<p>Mark, please do not use the comment section for additional questions. If you have a question that was not in your original post, please start a new thread for the new question.</p>
			</div>
			<div id = "comment-19781" class = "comment">
				<p>This is questions regarding my post though right? I am looking for a solution. You gave me one, and now I am asking for other solutions to this similiar problem. Szczepen gave me one answer, a multimeter which I have ordered. And the follow-up question is still about this subject.</p>
			</div>
			<div id = "comment-19783" class = "comment">
				<p>"I am asking for other solutions"</p>
			</div>
			<div id = "comment-19784" class = "comment">
				<p>you need to start a new thread.</p>
			</div>
			<div id = "comment-19785" class = "comment">
				<p>I am looking for other solutions to this question? :P There are often different solutions to one question</p>
			</div>
			</div>
				<textarea id = "speech-10971" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10971">
					<img id="start_img-10971" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10971">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>