<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Cons and pros of wireless technologies for rescue robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2357" class = "post">
			<h2>Question</h2>
			<div id="vote-2357" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 311</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Cons and pros of wireless technologies for rescue robot</h2>
<p>robotics enthusiasts!</p>

<p>I'm a member of a team which has to develop a mobile rescue robot to cooperate with firemen (e.g. on earthquake sites).</p>

<p>The problem we have is connection of a commander post with the robot. The robot has to enter buildings, so it is desirable that the connection can go through several decimeters of walls and have a reach 50-100 meters. On the other hand, we need to send a lot of data (camera images, point clouds, maps) which can easily eat 10 Mbps or more.</p>

<p>At this time we use 2.4 GHz WiFi for this connection. As for the speed, with direct visibility it seems to be sufficient, but only when a single robot is operating (we can use up to 3 non-overlapping channels, so in theory 3 robots can work together; but usually you have the environment messed up with home routers). We need at least 5 robots to be operating simultaneousely.</p>

<p>We have tried 5 GHz WiFi, but it has problems with penetrating walls, so it can only be used for UAVs.</p>

<p>My idea was to use some mobile connection technology like LTE. I found that LTE can be run on 800 MHz, which could be great for the wall penetration performance. I also found that the LTE's theoretical upload speeds (for clients) are 70 Mbps, but nobody says if it is on 2.6 GHz and how would it be changed when running LTE on 800 MHz.</p>

<p>Moreover, we cannot rely on some provider's coverage. I have found that you can build your own LTE transmitter for about  2000, which seems to be interesting to us. Maybe it is possible to build it even cheaper. But we think both 2.6 GHz and 800 MHz are regulated frequencies. However, the cooperation with firefighters could persuade local regulators to give an exception to us to setup our own small LTE base station.</p>

<p>And now to the question: do you think such setup would give better results than using WiFi? Or do you know of any other technologies that would help us to either increase the bandwidth or the wall penetration performance? What are their cons and pros?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2357" data-toggle = "popover">
				<p>user name : peci1</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-2357">{'wireless': 5, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2357">Load Comments</button></br>
			<div id = "commentsection-2357" class = 'collapse'>
			<div id = "comment-4592" class = "comment">
				<p>Just a side note: one parallel approach you could be thinking about is compression to reduce amount of data that needs to be transferred. Alternatively, some degree of autonomy would let the robot use some of the data without having to transmit it, or perhaps just transmitting a summary to let you know it has successfully utilized the data and what important thing it learned from it.</p>
			</div>
			<div id = "comment-4593" class = "comment">
				<p>@Shahbaz: you're absolutely correct and that is what we are also doing :) But at this time, the robot's hardware is not powerful enough to do online 3D mapping, so we need to transmit 360  camera images and point clouds over the network to do the mapping externally, and then transmit the resulting octomap back to it (and possibly share it with others). But a HW upgrade is coming, so there are bright prospects of lowering the bandwidth usage.</p>
			</div>
			<div id = "comment-5123" class = "comment">
				<p>@peci1 AFAIK there are some fairly advanced non-expensive image compression methods out there that you might be able to use to compress your camera images before sending them across the network. But you'd have to ask on stackoverflow or one of the other SE sites for particulars.</p>
			</div>
			</div>
				<textarea id = "speech-2357" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2357">
					<img id="start_img-2357" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2357">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2358"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2358" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to <a href="https://www.ic.gc.ca/eic/site/smt-gst.nsf/vwapj/smse-005-11-bell-apndix3.pdf/$FILE/smse-005-11-bell-apndix3.pdf" rel="nofollow noreferrer">this report</a>, there is a fairly predictable measurement of penetration loss in buildings as a function of radio frequency:
 <a href="https://i.stack.imgur.com/uRV10.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uRV10.png" alt="Measured building penetration loss versus frequency for residential buildings"></a></p>

<p>Based on that, here's a chart I made that lists the wireless technologies found in <a href="http://books.google.com/books?id=lRa9AQAAQBAJ" rel="nofollow noreferrer">Integration of ICT in Smart Organizations</a> (specifically, the chart on page 207):</p>

<p><a href="https://i.stack.imgur.com/53nIU.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/53nIU.png" alt="Chart of wireless penetration and data rates"></a></p>

<p>You will probably want a technology toward the upper-right of the chart, but the decision to favor greater speed or greater signal penetration will be yours to make.</p>

<p>Another useful resource might be the <a href="http://en.wikipedia.org/wiki/Spectral_efficiency#Comparison_table" rel="nofollow noreferrer">spectral efficiency comparison table on wikipedia</a>, which gives a more basic value of "kbps per MHz".  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2358" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2358">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2358">Load Comments</button></br>
			<div id = "commentsection-2358" class = 'collapse'>
			<div id = "comment-4617" class = "comment">
				<p>Wow, thanks for this great answer! But I still miss some technologies listed, like the LTE, CDMA, or HSPA+, amateur radio (using HSMM) and so on...</p>
			</div>
			<div id = "comment-4641" class = "comment">
				<p>I've added more technologies to this chart, but you should really do your own research and make your own chart -- this is based solely off what I was able to find on the Internet and lacks any verification that the speeds listed for these technologies are typical.   I'm just trying to illustrate the process of how you'd choose the most appropriate technology for your application.</p>
			</div>
			<div id = "comment-4647" class = "comment">
				<p>Great info, thanks for it. Based on the links you provided I think we will be able to select the right technology for our use-case. I was afraid there would be nothing like a predictable dependency of max. data rate/wall penetration performance on the frequency and bandwidth, but apparently it seems so :) The real (practical) values will be of course lower, but it is nice just to have an idea ;)</p>
			</div>
			<div id = "comment-4665" class = "comment">
				<p>I'm not sure whether it's on-topic for this site, but a good follow-up question might be how you could use less bandwidth for the application you're attempting.</p>
			</div>
			<div id = "comment-4666" class = "comment">
				<p>@lan: Yes, what you propose is definitely a parallel way we have to search, but having a strong and reliable connection is a practical thing no matter how much data you need to send. If you are interested, the most of the large data are consumed by sending camera images and point clouds to an external computer to do mapping, since our robot's HW configuration is not sufficient for that. But we're planning a general HW upgrade now, and that's why I try to also get info about the possible wireless improvements.</p>
			</div>
			</div>
				<textarea id = "speech-2358" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2358">
					<img id="start_img-2358" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2358">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>