<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Constrained Second Angle Double Pendulum
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11400" class = "post">
			<h2>Question</h2>
			<div id="vote-11400" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 109</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Constrained Second Angle Double Pendulum</h2>
<p>If I am trying to model the dynamics of a double-pendulum (on a horizontal plane without the effects of gravity), in which the second angle is constrained to range between values of [-10 deg, 10 deg], how would I derive the equations of motion? I'm having trouble identifying whether I would use some method involving solving the Lagrangian with holonomic or non-holonomic constraints. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11400" data-toggle = "popover">
				<p>user name : a023kt80</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11400">{'None': 0, 'dynamics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11400">Load Comments</button></br>
			<div id = "commentsection-11400" class = 'collapse'>
			<div id = "comment-20567" class = "comment">
				<p>What would constrain a real pendulum to that range? Resiliency of the material (how hard/soft/elastic it is) plays a big role in what the outcome of the simulation would be. Is the impulse at the end stops a large force over a short duration or vice-versa? Do you care how a real system would behave?</p>
			</div>
			</div>
				<textarea id = "speech-11400" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11400">
					<img id="start_img-11400" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11400">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11404"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11404" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think you need to worry about the constraint. You can derive the non linear equation using Lagrangian. Once you have the non linear model, you will have to linearize it at the equilibrium point which is simply valid only for angle around 0 deg. This condition is much more strict then your mechanical limitations. Therefore you don't need to consider the limitations that you have mentioned. And I assume you will modeling the friction as a viscous damper which is a linear model. This assumption makes the system holonomic.</p>

<p>Here I assume that you will use linear model to control the system. However, if you want to use non linear control then you will probably need to worry about the constraints.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11404" data-toggle = "popover">
				<p>user name : shekhar gupta</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-11404">{'control': 4, 'kuka': 1, 'None': 3, 'robotic-arm': 4, 'motor': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11404" class = 'collapse'>
			</div>
				<textarea id = "speech-11404" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11404">
					<img id="start_img-11404" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11404">Comment</button>
			<br><div id = "ans-11444"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11444" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The derivation of double pendulum system is indeed trivial but tedious because of computing some derivatives. The first step is to tackle the problem from a geometric perspective. My drawing of double pendulum is shown in the following picture:</p>

<p><a href="https://i.stack.imgur.com/nrD2v.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/nrD2v.png" alt="enter image description here"></a></p>

<p>From the preceding figure, we can write down some equations. The derivatives of these equations are needed subsequently, therefore, we compute them as well. The independent time variable is omitted for the sake of simplicity. 
$$
\begin{array}
xx_1 = a_1 \sin\theta, &amp;
\qquad y_1  = -a_1 \cos\theta, \\
\dot{x}_1  = a_1 \dot{\theta} \cos\theta, &amp;
\qquad \dot{y}_1  =  a_1 \dot{\theta} \sin\theta, \\
%####################################################
x_2 = x_1 + a_2 \sin\phi, &amp;
\qquad y_2 = y_1 - a_2 \cos\phi, \\
\dot{x}_2 = \dot{x}_1 + a_2 \dot{\phi} \cos\phi, &amp;
\qquad \dot{y}_2 = \dot{y}_1 + a_2 \dot{\phi} \sin\phi,
\end{array}
$$
To derive the dynamics equation of the system, I will use the Lagrangian approach. We need the kinetic and potential energies of masses. Let's start off with the kinetic energy. </p>

<p>The kinetic energy of $m_1$ is computed as follows:</p>

<p>$$
\begin{align}
\mathcal{K}_1 &amp;= \frac{1}{2}m_1 v^2_1 \\
              &amp;= \frac{1}{2}m_1 (\dot{x}^{2}_1+\dot{y}^{2}_1) \\
              &amp;= \frac{1}{2}m_1 (a^{2}_1 \dot{\theta}^{2} \cos^{2}\theta+a^{2}_1 \dot{\theta}^{2} \sin^{2}\theta) \\
&amp;= \frac{1}{2}m_1 [a^{2}_1 \dot{\theta}^{2} (\cos^{2}\theta+ \sin^{2}\theta)] \\
&amp;= \frac{1}{2}m_1 a^{2}_1 \dot{\theta}^{2} 
\end{align}
$$</p>

<p>The kinetic energy of $m_2$ is computed as follows:</p>

<p>$$
\begin{align}
\mathcal{K}_2 &amp;= \frac{1}{2}m_2 v^2_2 \\
              &amp;= \frac{1}{2}m_2 (\dot{x}^{2}_2+\dot{y}^{2}_2) \\
 &amp;= \frac{1}{2}m_2 [(\dot{x}_1 + a_2 \dot{\phi} \cos\phi)^{2}+(\dot{y}_1 + a_2 \dot{\phi} \sin\phi)^{2}] \\
%===============================================
&amp;= \frac{1}{2}m_2 [(\dot{x}^{2}_1 + 2a_2 \dot{\phi} \cos\phi \dot{x}_1 + a^{2}_2 \dot{\phi}^{2} \cos^{2}\phi) + \\  &amp; \qquad \ \ \  \quad  (\dot{y}^{2}_1 + 2a_2 \dot{\phi} \sin\phi \dot{y}_1 + a^{2}_2 \dot{\phi}^{2} \sin^{2}\phi)] \\
%===============================================
&amp;= \frac{1}{2}m_2 [(a^{2}_1 \dot{\theta}^{2} \cos^{2}\theta + 2a_2 \dot{\phi} \cos\phi a_1 \dot{\theta} \cos\theta + a^{2}_2 \dot{\phi}^{2} \cos^{2}\phi) + \\  &amp; \qquad \ \ \  \quad  (a^{2}_1 \dot{\theta}^{2} \sin^{2}\theta + 2a_2 \dot{\phi} \sin\phi a_1 \dot{\theta} \sin\theta + a^{2}_2 \dot{\phi}^{2} \sin^{2}\phi)] \\
%===============================================
&amp;= \frac{1}{2}m_2 [a^{2}_1 \dot{\theta}^{2} [\cos^{2}\theta+\sin^{2}\theta] + 2a_2 a_1 \dot{\phi} \dot{\theta}[ \cos\theta \cos\phi  + \sin\theta \sin\phi ] + \\  &amp; \qquad \qquad a^{2}_2 \dot{\phi}^{2}[ \cos^{2}\phi+\sin^{2}\phi] ] \\
%===============================================
&amp;= \frac{1}{2}m_2 [a^{2}_1 \dot{\theta}^{2}  + 2a_2 a_1 \dot{\phi} \dot{\theta} \cos(\theta-\phi) +  a^{2}_2 \dot{\phi}^{2} ]  
\end{align}
$$
The kinetic energy of the whole system is then:
$$
\begin{align}
\mathcal{K} &amp;= \mathcal{K}_1 + \mathcal{K}_2 \\
&amp;= \frac{1}{2}m_1 a^{2}_1 \dot{\theta}^{2} + 
\frac{1}{2}m_2 [a^{2}_1 \dot{\theta}^{2}  + 2a_2 a_1 \dot{\phi} \dot{\theta} \cos(\theta-\phi) +  a^{2}_2 \dot{\phi}^{2} ]
\end{align}
$$</p>

<p>The second step is to compute the potential energy of the whole system. We start off with the potential energy of $m_1$ which is computed as follows:
$$
\begin{align}
\mathcal{P}_1 &amp;= m_1 y_1 g \\ &amp;= m_1(-a_1 \cos\theta)g \\ &amp;= -a_1 m_1 g \cos\theta
\end{align}
$$</p>

<p>The potential energy of $m_2$ is  computed as follows:
$$
\begin{align}
\mathcal{P}_2 &amp;= m_2 y_2 g \\ &amp;= m_2(y_1 - a_2 \cos\phi)g \\ 
&amp;= m_2(-a_1 \cos\theta - a_2 \cos\phi)g \\
&amp;= -a_1 m_2 g \cos\theta - a_2 m_2 g \cos\phi  
\end{align}
$$</p>

<p>The potential energy of the whole system is then:
$$
\begin{align}
\mathcal{P} &amp;= \mathcal{P}_1 + \mathcal{P}_2 \\
&amp;= -a_1 m_1 g \cos\theta -a_1 m_2 g \cos\theta - a_2 m_2 g \cos\phi 
\end{align}
$$</p>

<p>To construct the Lagrangian equation, we take the difference between the kinetic $\mathcal{K}$ and potential $\mathcal{P}$ energies of the whole system, hence:</p>

<p>$$
\begin{align}
\mathcal{L} &amp;= \mathcal{K} - \mathcal{P} 
\end{align}
$$</p>

<p>At this moment, we will compute dynamics equation of the double pendulum system. Remember this system has two degrees of freedom, therefore, we need two differential equations to describe the motion of the system. Let's start off with the first equation (i.e. the equation for $\theta$). This can be done by determining the following equations:
$$
\frac{\partial \mathcal{L}}{\partial \dot{\theta} }, \ \  
\frac{d}{dt} \left( \frac{\partial \mathcal{L}}{\partial \dot{\theta} } \right)
\text{and}
\frac{\partial \mathcal{L}}{\partial \theta}.
$$
For the second equation of dynamics equation, we do the following:
$$
\frac{\partial \mathcal{L}}{\partial \dot{\phi} }, \ \  
\frac{d}{dt} \left( \frac{\partial \mathcal{L}}{\partial \dot{\phi} } \right)
\text{and}
\frac{\partial \mathcal{L}}{\partial \phi}.
$$</p>

<p>I will leave the rest as an exercise. Once you came up with the dynamics equation, you can use some controllers to limit the range of the second pendulum. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11444" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-11444">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11444" class = 'collapse'>
			</div>
				<textarea id = "speech-11444" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11444">
					<img id="start_img-11444" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11444">Comment</button>
			<br><div id = "ans-11931"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11931" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>At first it is important to understand the double pendulum problem as a hybrid system. To solve these kinds of task a combination of a finite state machine plus mathematical equations are the best way. On page 26 of <a href="https://deepblue.lib.umich.edu/bitstream/handle/2027.42/43263/11044_2005_Article_269.pdf?sequence=1&amp;isAllowed=y" rel="nofollow noreferrer">On-Line Symbolic Constraint Embedding for Simulation of Hybrid Dynamical Systems</a> is a automaton given which consists of three modes: double-pendulum, slider-crank and stuck. Additional sourcecode in Matlab are not given, but this paper is the way to go.</p>

<p>A sourcecode for a simpler version (the single pendulum problem) is the following:</p>

<pre><code>def fsmstart(self):
  # strategy: if pole is on 180 Degree, move in other direction
  for i in range(10000):
    a1=self.angPole()
    pygame.time.wait(50)
    a2=self.angPole()
    middle=False
    if a1&gt;160 and a1&lt;200: middle=True
    direction="left"
    if a2&lt;a1: direction="right"
    if middle==True: 
      print direction
      if direction=="right": self.setspeed(0, .7) # move left
      if direction=="left": self.setspeed(0, -.7) # move right
      pygame.time.wait(500)
      self.setspeed(0, 0) 
def angPole(self):
  return self.getangle(4)
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11931" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-11931">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11931" class = 'collapse'>
			</div>
				<textarea id = "speech-11931" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11931">
					<img id="start_img-11931" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11931">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>