<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Control method of large linear actuator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12335" class = "post">
			<h2>Question</h2>
			<div id="vote-12335" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 37</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Control method of large linear actuator</h2>
<p>I have a Large linear actuator from Hiwin, the serial number is LAS3-1-1-500-24GE. the data sheet for the LAS3 can be seen on page 18 of the following link: <a href="http://www.hiwin.com/pdf/linear_actuators.pdf" rel="nofollow noreferrer">http://www.hiwin.com/pdf/linear_actuators.pdf</a> .</p>

<p>I would like to be able to use this to generate some small sinusoidal motion in the actuator. The speed of this does not matter. </p>

<p>I am looking to control this using an arduino uno and an H-bridge along with a power supply. For an example of the H-bridge: <a href="https://www.amazon.co.uk/gp/product/B00M1JZ7HY/ref=ox_sc_act_title_1?smid=AONS7HEF348I5&amp;psc=1" rel="nofollow noreferrer">https://www.amazon.co.uk/gp/product/B00M1JZ7HY/ref=ox_sc_act_title_1?smid=AONS7HEF348I5&amp;psc=1</a></p>

<p>What would be the most convenient method of generating this sinusoidal motion? is an arduino and the linked H-bridge appropriate?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12335" data-toggle = "popover">
				<p>user name : Nathan Higgins</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-12335">{'control': 0, 'actuator': 0, 'None': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12335">Load Comments</button></br>
			<div id = "commentsection-12335" class = 'collapse'>
			<div id = "comment-21744" class = "comment">
				<p>Welcome to *Robotics* Nathan Higgins, but I'm afraid that since there are many ways to solve a given design problem, questions which ask whether a specific product is suitable for your application are considered off topic. We prefer *[Practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)*, so please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](https://robotics.meta.stackexchange.com/q/1302/37) to edit your question to fit our guidelines.</p>
			</div>
			</div>
				<textarea id = "speech-12335" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12335">
					<img id="start_img-12335" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12335">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12339"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12339" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The LAS3 actuator draws a current of 2.5 Amps @ 24Volts and has a DC motor, so the H-Bridge in the link can be used to control it. It is even a bit overdimensioned. You can link the Ardunio to the H Bridge. The PWM pin should be a PWM output of the Arduino and the Dir pin should be a digital output of the arduino. </p>

<p>Having a sinusoidal motion on the actuator is as simple as giving a pwm with a sinusoidal duty cycle (in absolute value, no negative values) form the arduino  and switching the direction output at the end of each sinus half period. You can read more about the Arduino PWM <a href="https://www.arduino.cc/en/Tutorial/PWM" rel="nofollow noreferrer">here</a>.</p>

<p>It seems that your actuator is equipped with a linear optical sensor. To make a closed loop control, you need to downstep the signal voltages to the TTL  (arduino 5V) level and decode those signals in an arduino sketch. You can find more information here about decoding an encoder signal <a href="http://playground.arduino.cc/Main/RotaryEncoders" rel="nofollow noreferrer">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12339" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-12339">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12339">Load Comments</button></br>
			<div id = "commentsection-12339" class = 'collapse'>
			<div id = "comment-21728" class = "comment">
				<p>Nice answer @50k4.   Good references too.</p>
			</div>
			<div id = "comment-21731" class = "comment">
				<p>Thanks! it is easy to find good references for Arduino...</p>
			</div>
			</div>
				<textarea id = "speech-12339" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12339">
					<img id="start_img-12339" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12339">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>