<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Controlling a conveyor belt with a time based motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1630" class = "post">
			<h2>Question</h2>
			<div id="vote-1630" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 864</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Controlling a conveyor belt with a time based motor</h2>
<p>I have some crude time based motors taken from a robot arm that we upgraded to proper servos. I want to be able to power a conveyor belt with one of them and I was wondering how I would go about the following setup:</p>

<p>A ball drops through a hole onto the conveyer belt hitting a lever switch on its way through. This switch triggers the motor to start. When the ball gets to the top of the belt and falls off it hits another lever switch that turns the motor off.</p>

<p>I could handle this logic by hooking it up to my raspberry pi and using python to start and stop the motor depending on which GPIO pin received input (top or bottom lever). Or I could use a single lever and set a constant time interval to stop the motor. I would prefer to use both to handle any change in scale/construction.</p>

<p>I was wondering however if this could be done with the breadboard alone, using logic gates or similar?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1630" data-toggle = "popover">
				<p>user name : Titan</p>
				<p> user reputation : 180</p>
				<p class = "tagcontent" id = "usertaginfo-1630">{'h-bridge': 2, 'raspberry-pi': 9, 'accelerometer': 7, 'rcservo': 11, 'None': 0, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1630" class = 'collapse'>
			</div>
				<textarea id = "speech-1630" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1630">
					<img id="start_img-1630" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1630">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1632"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1632" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To control the motor with logic gates, you could make a circuit with a monostable multivibrator (or   one-shot ), an R-S flipflop (or R-S latch), and an AND gate or an OR gate to combine the one-shot and latch outputs.  You would use an AND if you want the motor to run when both the latch and the one-shot are active, <em>vs</em> an OR to make the motor run when either of them is active.  Whether to use AND or OR depends on what error conditions you want to detect or handle.</p>

<p>An <a href="http://en.wikibooks.org/wiki/Electronics/Flip_Flops#RS_Flip_Flop" rel="nofollow">R-S flipflop</a> is easily made using two NAND gates, <em>ie</em> half of the gates in the quad NAND 74LS00.  A one-shot also can be made <a href="http://www.electronics-tutorials.ws/sequential/seq_3.html" rel="nofollow">using  two NANDs</a> (see  Simple NAND Gate Monostable Circuit  at about 1/3 thru page), or you can use a 74121, 74221, etc.  The 555 also is often used as a <a href="http://www.circuitstoday.com/555-timer-as-monostable-multivibrator" rel="nofollow">monostable multivibrator</a>, and can also be <a href="http://www.edaboard.com/thread142724.html" rel="nofollow">used as an R-S flipflop</a>.</p>

<p>So, you could use two 7400 packages for the circuit, or could use one 7400 and one 556 (which is a dual 555).  Circuits with NAND gates can be simulated by hand or in <a href="http://www.neuroproductions.be/logic-lab/" rel="nofollow">online simulators</a>. <a href="https://www.circuitlab.com/circuit/e38756/555-timer-as-astable-multivibrator-oscillator/" rel="nofollow">Some simulators</a> also simulate 555's.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1632" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1632">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1632">Load Comments</button></br>
			<div id = "commentsection-1632" class = 'collapse'>
			<div id = "comment-3396" class = "comment">
				<p>Thank you for the information! Some of my a-level electronics is flooding back to me thanks to your explanation. I think I've got it working with a JK Flip-flop, bottom single press turns it on, top single press turns it off: http://al3x.me/QN3B</p>
			</div>
			</div>
				<textarea id = "speech-1632" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1632">
					<img id="start_img-1632" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1632">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>