<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Controlling a quadrotor from a PC
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1427" class = "post">
			<h2>Question</h2>
			<div id="vote-1427" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4173</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Controlling a quadrotor from a PC</h2>
<p>I need to control quadrotor from a PC, without using a joystick.</p>

<p>I have got a mini-beetle <a href="http://www.banggood.com/Wholesale-WLtoys-V929-Beetle-4-Axis-Dexterous-Mini-UFO-BNF-p-46046.html" rel="nofollow noreferrer">quad V929 Beetle 4-Axis</a>  and also have this <a href="http://www.ebay.in/itm/281061946755?ssPageName=STRK:MEWNX:IT&amp;_trksid=p3984.m1439.l2648" rel="nofollow noreferrer">NRF24L01+ Wireless Transceiver Module Chip</a> (2.4&nbsp;GHz transceiver)
Is it possible to write an Arduino program to make them speak to each other?</p>

<p>I did some research and found that the quad V929 model uses FlySky protocol and only works with A7105 NRF24L01 2.4&nbsp;GHz transmitter chip not the one which I mentioned above.</p>

<p>Are there any other better ways of controlling the quad from PC or Arduino board?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1427" data-toggle = "popover">
				<p>user name : debianmaster</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1427">{'quadcopter': 4, 'radio-control': 4, 'None': 0, 'arduino': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1427">Load Comments</button></br>
			<div id = "commentsection-1427" class = 'collapse'>
			<div id = "comment-3136" class = "comment">
				<p>Can you edit your question to include more background information, *e.g.*: What is the wireless receiver on the vehicle?  Where is the documentation on the flysky protocol?  What are the differences between the 2 chips that makes one work but not the other?</p>
			</div>
			</div>
				<textarea id = "speech-1427" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1427">
					<img id="start_img-1427" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1427">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1485"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1485" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you're open to purchasing a new quadrotor, take a look at the Crazyflie from Bitcraze. It operates exactly this way via USB dongle attached to a PC.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1485" data-toggle = "popover">
				<p>user name : Crunchy</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-1485">{'legged': 5, 'None': 1, 'servos': 5, 'electronics': 5, 'power': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1485" class = 'collapse'>
			</div>
				<textarea id = "speech-1485" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1485">
					<img id="start_img-1485" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1485">Comment</button>
			<br><div id = "ans-1499"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1499" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's a non-starter to try and send flysky data from a computer, since it is a closed-source protocol designed to be sent from r/c transmitters.</p>

<p>You really want a separate data radio with a serial-type connection, using wifi, xbee, or similar.</p>

<p>I would recommend using <a href="http://qgroundcontrol.org/mavlink/start#autopilots_using_mavlink" rel="nofollow">one of the many quadcopter flight controllers</a> that speaks the standard <a href="http://qgroundcontrol.org/mavlink" rel="nofollow">MAVlink</a> protocol. Then you can use many programs, such as qgroundcontrol, andropilot, or APM planner to control your quad. You can also use pymavlink to control your quad from python, and you have complete flexibility to set it up with any sort of interface you like with a little programming.</p>

<p>If you're looking for a pre-made micro quad, you may be able to use the new walkera qr-w100, which has wifi. So far they have only created an iphone app, but I hope someone will reverse engineer their wifi command protocol so that we can use a computer or android phone.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1499" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1499">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1499" class = 'collapse'>
			</div>
				<textarea id = "speech-1499" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1499">
					<img id="start_img-1499" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1499">Comment</button>
			<br><div id = "ans-4339"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4339" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can easily remove A7105 module from your transmitter and connect it to Arduino (take care because it uses 3.3v levels).</p>

<p>You can get this library for Arduino based TX module:
<a href="http://www.cloud-rocket.com/2014/07/reverse-engineering-wltoys-v929v911protocol/" rel="nofollow">http://www.cloud-rocket.com/2014/07/reverse-engineering-wltoys-v929v911protocol/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4339" data-toggle = "popover">
				<p>user name : Miro</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-4339">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4339" class = 'collapse'>
			</div>
				<textarea id = "speech-4339" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4339">
					<img id="start_img-4339" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4339">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>