<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Controlling Pepper using ROS
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13959" class = "post">
			<h2>Question</h2>
			<div id="vote-13959" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Controlling Pepper using ROS</h2>
<p>I am trying to implement FastSLAM 1.0 and I am using sensory and control data acquired from Pepper via ROS to evaluate my implementation. However I am having major issues when I try and control Pepper's movement via ROS.</p>

<p>I am using Ubuntu 16.04 and ROS kinetic.</p>

<p>I set up my NAOqi bridging using the NAOqi driver command</p>

<pre><code>$ roslaunch naoqi_driver naoqi_driver.launch nao_ip:=&lt;MY_ROBOT_IP&gt; roscore_ip:=localhost network_interface:=wlp1s0
</code></pre>

<p>(I was originally using the pepper_bringup package to set up the brigde, however ran into errors stating I had not set up the PYTHONPATH to the NAOqi API properly</p>

<pre><code>$ roslaunch pepper_bringup pepper_full_py.launch nao_ip:=&lt;yourRobotIP&gt; roscore_ip:=&lt;roscore_ip&gt;)
</code></pre>

<p>I then run RViz, having sourced my setup.bash</p>

<pre><code>$ rosrun rviz rviz
</code></pre>

<p>I then find and load pre-configured RViz configuration in my catkin workspace into RViz</p>

<pre><code>src/pepper_robot/pepper_description/config/pepper.rviz
</code></pre>

<p>From there I am able to see Pepper in RViz along with the camera images and sonar .</p>

<p>Then I set up moveit so I can control Pepper with the commands</p>

<pre><code>$ export NAO_IP=&lt;YOUR_ROBOT_IP&gt;

$ roslaunch pepper_dcm_bringup pepper_bringup.launch

$ roslaunch pepper_moveit_config moveit_planner.launch
</code></pre>

<p>This starts the Moveit RViz GUI where I start my planning of the route I want Pepper to execute, following <a href="https://github.com/ros-naoqi/pepper_moveit_config" rel="nofollow noreferrer">this documentation</a>.</p>

<p>However whenever I execute it, it always fails and the error message I get from the terminal says that it cannot access any controls, (I thought I had a screen shot saved of the message, however I don't, but will be working on Pepper again tomorrow, so can acquire one then)</p>

<p>Has anyone got experience controlling Pepper using ROS and Moveit and may have had similar issues which they managed to resolve?</p>

<p>Otherwise has anyone any tips on how to control Pepper through other means? I have found documentation on ways to control it with a joystick, again if anyone has tried this and been successful, I would be grateful for some advise on how they managed to get it working.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13959" data-toggle = "popover">
				<p>user name : apples92</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-13959">{'ros': 1, 'None': 0, 'slam': 0, 'navigation': 1, 'c++': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13959">Load Comments</button></br>
			<div id = "commentsection-13959" class = 'collapse'>
			<div id = "comment-22796" class = "comment">
				<p>Did you follow [the tutorial](https://github.com/ros-naoqi/pepper_moveit_config/blob/master/README.rst)? Specifically, did you `Wait until it is ready` between the `pepper_dcm_bringup` and `pepper_moveit_config` commands? What IP address are you using?</p>
			</div>
			<div id = "comment-22797" class = "comment">
				<p>I'll caution you too that this is *Robotics*; you may be better off asking this question at [so].</p>
			</div>
			</div>
				<textarea id = "speech-13959" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13959">
					<img id="start_img-13959" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13959">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>