<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Continous rotation with cables
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4857" class = "post">
			<h2>Question</h2>
			<div id="vote-4857" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 122</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Continous rotation with cables</h2>
<p>A motor needs to spin n*360 degrees. On top of the motor there are distance sensor which scan the room. I.e. lidar. What options do I have for implementing a continous rotation while having cables which are in the way?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4857" data-toggle = "popover">
				<p>user name : Esk</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-4857">{'None': 23, 'chassis': 2, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4857">Load Comments</button></br>
			<div id = "commentsection-4857" class = 'collapse'>
			<div id = "comment-7825" class = "comment">
				<p>Are the cables that need the n*360 degree rotation going to carry the current for the motor?</p>
			</div>
			</div>
				<textarea id = "speech-4857" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4857">
					<img id="start_img-4857" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4857">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4858"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4858" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a problem I've thought a lot about, but haven't yet come up with a good solution.  The only ideas I've had thus far are:</p>

<ul>
<li><strong>Custom turntable</strong>: if it's only a few wires, a custom turntable could have a brush/copper contact system.  This might have a problem with noise, however.</li>
<li>Create a <strong>separate control system</strong> for the head (include battery, microcontroller, etc.) and wirelessly connect to the main robot.  This is probably what I'd do if I were making a really big/expensive robot, but for small sizes or budgets it's just not feasible.</li>
<li><strong>Avoid the issue</strong>: Don't spin more than +/-180 degrees at any time, and simply oscillate back and forth really fast.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4858" data-toggle = "popover">
				<p>user name : apnorton</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-4858">{'control': 7, 'mobile-robot': 7, 'None': 19, 'arm': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4858" class = 'collapse'>
			</div>
				<textarea id = "speech-4858" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4858">
					<img id="start_img-4858" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4858">Comment</button>
			<br><div id = "ans-4861"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4861" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is also ready to use commercial solution from Adafruit, called "slip ring" <a href="http://www.adafruit.com/products/736">http://www.adafruit.com/products/736</a></p>

<p>The only problem is the max speed, which is only 300rpm, but probably you won't get any better with a custom solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4861" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-4861">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4861">Load Comments</button></br>
			<div id = "commentsection-4861" class = 'collapse'>
			<div id = "comment-7561" class = "comment">
				<p>The adafruit quality is not the best, if you want to transmit data over it, you will fail.
There are more professional ones, for example the company maccon in germany provides some slip-rings for industrial applications. We use them in your company and we haven't made any bad experience with them.</p>
			</div>
			<div id = "comment-7563" class = "comment">
				<p>This is quite cool.  I didn't know what to call my "custom turntable" idea, since I had never encountered a slip ring before.  +1</p>
			</div>
			</div>
				<textarea id = "speech-4861" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4861">
					<img id="start_img-4861" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4861">Comment</button>
			<br><div id = "ans-5065"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5065" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ul>
<li>For fast rotations, you can turn to <strong>transmitting information using wireless protocols or light</strong>. e.g. a turret with laser for detection purpose, can have its own separate circuit and power on a rotating plane, while information is sent using a LED to its base that have a light receiver.</li>
<li>For slow rotations, use a <a href="https://en.wikipedia.org/wiki/Slip_ring" rel="nofollow"><strong>Slip Ring</strong></a>. Be careful as this solution is not very good for long-lasting devices, as the mechanism deteriorate with time.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5065" data-toggle = "popover">
				<p>user name : Alexandre Willame</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-5065">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5065" class = 'collapse'>
			</div>
				<textarea id = "speech-5065" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5065">
					<img id="start_img-5065" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5065">Comment</button>
			<br><div id = "ans-5094"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5094" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your number <em>n</em> is small enough then there are simpler and more durable ways to hook things up.</p>

<p>Car steering wheel style: these wheels turn ~ 5 times from steering lock to lock,  I understand they use coiled flat flex cable that coils around the steering shaft with 90degree bends/turns on the ends to mate to connectors on the steering wheel and the static point of the steering column. If you have the volume this is neat, tidy and simple.  Try scavenging cables from inkjet printers, heads for some low friction stuff.</p>

<p>If you have a long distance between the rotating part and the farthest no rotating part, try stuffing excess cable in a tube between the two place. No special connectors necessary.  Some cables can take a lot of turns before kinking to the point of damage if set up this way.  I have heard this is the easiest way to get power from a wind generator down a pole to ground; it works because random wind patterns usually cancel the twists out and regular maintenance takes care of biases.</p>

<p>Both of these only work for small <em>n</em> with little construction fuss.</p>

<p>Have fun building your toys!</p>

<pre><code>   Albert.
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5094" data-toggle = "popover">
				<p>user name : Albert den Haan</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-5094">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5094" class = 'collapse'>
			</div>
				<textarea id = "speech-5094" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5094">
					<img id="start_img-5094" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5094">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>