<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Controlling digital servos
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2921" class = "post">
			<h2>Question</h2>
			<div id="vote-2921" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2480</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Controlling digital servos</h2>
<p>Many websites say that analog servo motors work on 50Hz and digital servo motors work on 300Hz. My question is, does this difference apply only to the inner control loop of the servo or does the user of the digital servo actually provide 300Hz PWM signal? To rephrase, are all (most) servos including digital ones controlled with 50Hz PWM, or are digital ones specifically controlled with 300Hz PWM? Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2921" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2921">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2921" class = 'collapse'>
			</div>
				<textarea id = "speech-2921" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2921">
					<img id="start_img-2921" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2921">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2922"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The difference between digital and analog servo is analog servo is controlled by custom logic chip and digital servo is controlled by micro controllers. Custom logic chips can control motor (inside servo) at 50Hz while micro controllers can control at up to 300Hz. Both of them take same user input which is generally pwm pulse ranging from 800ms-2200ms. The difference is inside servo. Higher motor update rate gives more precise and fast control. You can also refer <a href="http://www.futaba-rc.com/servos/digitalservos.pdf" rel="nofollow">here</a>.</p>

<p>Update Rate for user input pwm can go upto 300Hz in case of digital servo and 50Hz in case of analog servo. One should be careful as over driving this pwm frequency may create jitters and sometimes fry your servo.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2922" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-2922">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2922">Load Comments</button></br>
			<div id = "commentsection-2922" class = 'collapse'>
			<div id = "comment-5341" class = "comment">
				<p>I assume that by ms you mean microseconds?
Yes, I saw that link as well as many others, but they either do not mention the signal that the user provides or they do not clearly enough state it.
Thanks for clearing this out for me.

I'll wait for other answers a bit if there appear any, if there are no conflicts you get the checkmark.</p>
			</div>
			<div id = "comment-5348" class = "comment">
				<p>I know that an analog servo receives that 800-2200ms signal 50 times a second, hence the 50Hz. A digital servo could theoretically receive an 800-2200ms  signal at 300Hz, but does it? You didn't address that part of the question. Can you elaborate on that? Can it receive that signal at any rate up to a limit of 300 times a second?</p>
			</div>
			<div id = "comment-5360" class = "comment">
				<p>I have edited my answer. I hope it should explain your query.</p>
			</div>
			</div>
				<textarea id = "speech-2922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2922">
					<img id="start_img-2922" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2922">Comment</button>
			<br><div id = "ans-2938"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2938" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Digital servos accept the same pulse width and pulse repetition rate as regular analog servos.
<a href="http://letsmakerobots.com/content/digital-servos" rel="nofollow">a</a>
<a href="http://www.sailservo.co.uk/anvdig.html" rel="nofollow">b</a></p>

<p>With many RC servos -- both digital and analog -- as long as the "frame rate" (how many times per second the pulse is sent over the control wires to the servo, aka the pulse repetition rate) is in a range of 40 Hz to 200 Hz,
the exact value of the frame rate is irrelevant.
<a href="http://bobblick.com/techref/projects/sv2pwm/sv2pwm.html" rel="nofollow">b</a>
<a href="http://www.societyofrobots.com/actuators_servos.shtml" rel="nofollow">c</a>
<a href="http://www.pololu.com/blog/17/servo-control-interface-in-detail" rel="nofollow">d</a>
<a href="http://www.basicx.com/Products/robotbook/servo%20intro.pdf" rel="nofollow">e</a>
<a href="http://ebldc.com/?p=48" rel="nofollow">f</a>
<a href="http://wearcam.org/ece385/lecturelab6/servos.htm" rel="nofollow">g</a>
<a href="http://www.4qdtec.com/pwpm.html" rel="nofollow">h</a>
<a href="http://mechatronics.mech.northwestern.edu/design_ref/actuators/servo_motor_drive.html" rel="nofollow">i</a></p>

<p>The RC radio receiver or Arduino or whatever is sending the pulses to the RC servo can send the pulses at any frequency in that range (and in many cases well outside that range), and the servo will Do the Right Thing.
The frequency listed by the servo manufacturer and the reseller for a servo (<a href="http://www.ronlund.com/rcheli/HELP_SERVO_PULSE.html" rel="nofollow">j</a>) is not the frequency that must be used; it is the maximum of the range of frequencies that the servo is guaranteed to respond properly.</p>

<p>In particular, many people take a servo that is designed to respond to frame rates up to 200 Hz, and stick it in an airplane with a RC radio receiver that sends a frame to that servo 50 times per second, and the airplane flies just fine.</p>

<p>Many digital servos have a higher limit on the input pulse frame rate than many analog servos, but that's not what makes digital servos different from analog servos.</p>

<p>A few people -- such as people installing the tail servo of a small single-rotor helicopter <a href="http://www.spartan-rc.com/resources/faq/faq.php?topic=1&amp;category=3" rel="nofollow">(k)</a>, and people building quadcopters -- really need a servo or ESC that can support some frame rate much faster than 50 Hz.
They need to look at the specs and pick a servo with a supported frequency at least as high or higher than the update rate they need.
For example,
ArduCopter drives the stabilization loop at 100Hz <a href="http://diydrones.com/forum/topics/pwm-frequency-for-driving-escs" rel="nofollow">(l)</a> <a href="http://diydrones.com/forum/topics/main-loop-speed" rel="nofollow">(m)</a> <a href="http://copter.ardupilot.com/wiki/glossary/" rel="nofollow">(n)</a>,
so people using it must pick a servo or ESC that supports frequencies of at least 100 Hz.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2938" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-2938">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2938" class = 'collapse'>
			</div>
				<textarea id = "speech-2938" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2938">
					<img id="start_img-2938" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2938">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>