<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Control a 2.4 Ghz AR Drone from the computer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4627" class = "post">
			<h2>Question</h2>
			<div id="vote-4627" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 13152</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Control a 2.4 Ghz AR Drone from the computer</h2>
<p>I had a Doyusha Nano Spider R/C mini-copter, it's controlled by a 4ch joystick 2.4 Ghz.</p>

<p>I look for a low cost method to control it from the computer. The software is not a problem, but how can I transform the WIFI or the Bluetooth signal of the computer to an R/C signal compatible with the mini-copter receptor?</p>

<p>Or is there another solution that is low cost?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4627" data-toggle = "popover">
				<p>user name : Amine Horseman</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-4627">{'control': 1, 'quadcopter': 1, 'None': 14, 'wireless': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4627">Load Comments</button></br>
			<div id = "commentsection-4627" class = 'collapse'>
			<div id = "comment-7362" class = "comment">
				<p>Not all 2.4Ghz signals are made equal: you cannot drive your copter with a wifi or bluetooth device, the hardware cannot support it.</p>
			</div>
			<div id = "comment-19683" class = "comment">
				<p>I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works, and the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) for details of how to write a good question.</p>
			</div>
			</div>
				<textarea id = "speech-4627" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4627">
					<img id="start_img-4627" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4627">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4636"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4636" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The simplest way to do this, is to buy a more advanced PPM transmitter that has a trainer port, and use <a href="http://www.endurance-rc.com/pctx.php" rel="nofollow">this PCTx device</a> to control it from your PC through USB. They provice a simple library and some sample code to get your started. The control signals go from your </p>

<pre><code>software -&gt; through the PCTx device -&gt; PPM transmitter -&gt; over RF to your copter
</code></pre>

<p>Compatible transmitters are listed on that link.</p>

<p>I'm not familiar with your particular brand of mini-copter, but im assuming it uses standard 4 channel RC-PPM control signals. If it doesn't, the above solution will not work.</p>

<p>You can also, if you are so inclined roll out your own PC based PWM transmitter. This would involve writing software to implement the PPM signal, which can get a bit involved. You might even need some sort of an oscilloscope or a signal analyzer to debug issues. Some people have created Arduino based solutions. Examples:
<a href="http://flitetest.com/articles/custom-arduino-2-4ghz-rc-transmitter" rel="nofollow">1</a></p>

<p>Again, the assumption is that your copter uses standard RC-PWM. If it doesn't you'll have to first figure out what protocol it uses and then try to emulate that using software and an RF Tx module.</p>

<p>Since your copter receives 2.4Ghz radio signals, there is no drop-in solition to directly use WiFi or Bluetooth.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4636" data-toggle = "popover">
				<p>user name : RaGe</p>
				<p> user reputation : 168</p>
				<p class = "tagcontent" id = "usertaginfo-4636">{'None': 5, 'pwm': 3, 'rcservo': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4636">Load Comments</button></br>
			<div id = "commentsection-4636" class = 'collapse'>
			<div id = "comment-7261" class = "comment">
				<p>Thanks for the useful information, yes I have a 4 channel RC controller, so I need just a PCTx device to interface it with a computer or an arduino?</p>
			</div>
			<div id = "comment-7264" class = "comment">
				<p>does your controller have a trainer port?</p>
			</div>
			<div id = "comment-7265" class = "comment">
				<p>I don't know, how can I verify this?</p>
			</div>
			<div id = "comment-19675" class = "comment">
				<p>Thanks for the useful information, yes I have a 6 channel RC controller, so I need just a PCTx device to interface it with a computer or an arduino?</p>
			</div>
			<div id = "comment-19676" class = "comment">
				<p>If you have a new question, please ask it by clicking the [Ask Question](http://robotics.stackexchange.com/questions/ask) button. Include a link to this question if it helps provide context. - [From Review](/review/low-quality-posts/6783)</p>
			</div>
			<div id = "comment-19677" class = "comment">
				<p>Welcome to *Robotics* @SouravGhosh. On Stack exchange *answers* need to answer the question. If you have a related question, it should be asked as a new question (ideally referencing this one). Note that we prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Please take a look at [ask] and [about] for more information on how stack exchange works. For advice on how to write a good question, see the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37).</p>
			</div>
			</div>
				<textarea id = "speech-4636" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4636">
					<img id="start_img-4636" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4636">Comment</button>
			<br><div id = "ans-4851"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4851" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In my university lab we hacked the radio controller with an arduino that receives the inputs from the computer and outputs to the controller. The arduino only substitutes the joysticks. So we still use the 2.4GHz controller to control the drone but matlab is sending control signals to the arduino which sends them to the original 2.4GHz controller, which sends them to the drone. It works! We've can control the drones position within 3cm in a 3x3x3[m] area just by using a PID controller and a stereo camera as the sensor. And this was done in a 20  plastic quadcopter.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4851" data-toggle = "popover">
				<p>user name : goncalo luis</p>
				<p> user reputation : 324</p>
				<p class = "tagcontent" id = "usertaginfo-4851">{'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4851">Load Comments</button></br>
			<div id = "commentsection-4851" class = 'collapse'>
			<div id = "comment-19682" class = "comment">
				<p>Goncalo, I'm trying to do something pretty similar to what you have done in your lab, but I'm quite new to this subject. So I wanted to know if you used any other flight controller aboard your drone?
Because as far as I know, the flight controllers handle the control task by themselves; They just need high level commands (i.e. throttle level, etc.). I can't understand which part of the control algorithm had you handled with the PID (implemented in Matlab) and which part was done on the on-board controller. Could you please shed some light on this matter?</p>
			</div>
			</div>
				<textarea id = "speech-4851" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4851">
					<img id="start_img-4851" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4851">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>