<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Controlling a 400W motor with 24V 16A batteries with an arduino board
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4853" class = "post">
			<h2>Question</h2>
			<div id="vote-4853" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 238</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Controlling a 400W motor with 24V 16A batteries with an arduino board</h2>
<p>I want to build a robotic vacuum. I have a 400W 24V vacuum motor that I want to switch on automatically at a set time every night. The batteries I will be using will be 2x12V 80aH deep cycle gel batteries connected in series. I want the Arduino to switch the motor on and off. So my first real question I guess is will the 5V supplied from the Arduino be able to switch on a motor that big? The second question is a mosfet the answer? My apologies I'm pretty new to all this but love it..</p>

<p>Can I control a 400W motor with 24V 16A batteries with an Arduino board and a mosfet? What type of mosfet would I use?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4853" data-toggle = "popover">
				<p>user name : Mark Brady</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-4853">{'None': 0, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4853">Load Comments</button></br>
			<div id = "commentsection-4853" class = 'collapse'>
			<div id = "comment-7553" class = "comment">
				<p>There are a lot of correct answers to this, because there are a lot of control circuits you could be talking about.  Can you be much much more specific about what type of circuit design you are planning to implement?</p>
			</div>
			</div>
				<textarea id = "speech-4853" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4853">
					<img id="start_img-4853" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4853">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4869"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4869" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since you don't need to "control" the motor beyond simply turning it on and off (i.e., you don't need to adjust the speed and you don't need to run it in reverse), I think what you are describing is a <a href="http://en.wikipedia.org/wiki/Solid-state_relay" rel="nofollow">solid state relay (SSR)</a>.  </p>

<p>SSRs are usually made using MOSFETs, and given that you are "pretty new to all this", you should consider buying the SSR as a component instead of building your own.  Or, depending on price, just buy a mechanical relay.</p>

<p>You'll need to look for an SSR that's rated for "inductive loads" (i.e. your motor).</p>

<p>$\frac{400\text{ Watts}}{24 \text{Volts}} = 16.666 \text{ Amps}$</p>

<p>So you want something that has an input voltage of 5V (for the arduino to be able to control it), and it should be rated for a 24+ Volt and 17+ Amp inductive load.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4869" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4869">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4869" class = 'collapse'>
			</div>
				<textarea id = "speech-4869" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4869">
					<img id="start_img-4869" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4869">Comment</button>
			<br><div id = "ans-4920"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4920" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you only want to turn it on and off, a mechanical relay is a simpler and cheaper solution. You will need a common transistor to turn on and off the relay, which in turn turns on and off the motor. Just google "arduino relay transistor".</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4920" data-toggle = "popover">
				<p>user name : Dave</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-4920">{'None': 1, 'motor': 0, 'arduino': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4920" class = 'collapse'>
			</div>
				<textarea id = "speech-4920" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4920">
					<img id="start_img-4920" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4920">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>