<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Control circuit of humanoid robot: is it worth to learn and use ROS?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5034" class = "post">
			<h2>Question</h2>
			<div id="vote-5034" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 254</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Control circuit of humanoid robot: is it worth to learn and use ROS?</h2>
<p>I am building the upper body of a humanoid robot for my M.Sc thesis project with 24 DC motors and multiple sensors (something like i-cub or Nao). I have basic knowledge of communication protocols and I have worked with micros before but I have no knowledge and experience on working with ROS. The question I have is whether or not it is worthy and practical for me to learn ROS and use this for my robot or should I stick with what I already know.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5034" data-toggle = "popover">
				<p>user name : Ehsan</p>
				<p> user reputation : 20</p>
				<p class = "tagcontent" id = "usertaginfo-5034">{'control': 1, 'None': 0, 'communication': 1, 'microcontroller': 1, 'driver': 0, 'humanoid': 0, 'servomotor': 0, 'motor': 0, 'hall-sensor': 2, 'sensors': 2, 'ros': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5034" class = 'collapse'>
			</div>
				<textarea id = "speech-5034" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5034">
					<img id="start_img-5034" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5034">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5035"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5035" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>ROS is good for when you start writing code to run on a PC.  It lets you write independent modules that interface through standard messages and service calls.  Furthermore, it has a large user base with lots of off-the-shelf tools, drivers, and higher-level behaviors.</p>

<p>What ROS is not good for is inter-microcontroller communication.  (ROS's communication is Ethernet based).  The overhead required for a microcontroller to "talk" ROS is not worth it in my opinion.</p>

<p>So what I would recommend (what I have done numerous times in the past), is to write your own inter-microcontroller communication using whatever you are comfortable with.  Then the micros will need to interface with a computer.  This can be some embedded thing like a Gumstix, RaspberryPi, etc.  Or it can be over a serial or bluetooth link to a standard PC.  In either case, you define that protocol as well.  Now on the PC, you write a ROS node to expose the functionality of your hardware.  For a very custom robot, you will probably have to define your own messages for control as well as sensor feedback.  But then you can start to interface with all of the ROS ecosystem.</p>

<p>One of the first things i do is to create a <a href="http://wiki.ros.org/urdf" rel="nofollow">URDF</a> file.  Then write a node to publish the <a href="http://docs.ros.org/api/sensor_msgs/html/msg/JointState.html" rel="nofollow">joint_state message</a> to interface with the <a href="http://wiki.ros.org/robot_state_publisher" rel="nofollow">robot_state_publisher</a>.  Now you have an excellent 3d visualization of your robot in <a href="http://wiki.ros.org/rviz" rel="nofollow">rviz</a>.  From there, you can <a href="http://wiki.ros.org/rviz/DisplayTypes/Map" rel="nofollow">overlay maps</a>, display sensor data, and <a href="http://wiki.ros.org/rviz/DisplayTypes/InteractiveMarker" rel="nofollow">interact</a> with the robot in power full ways.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5035" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5035">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5035" class = 'collapse'>
			</div>
				<textarea id = "speech-5035" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5035">
					<img id="start_img-5035" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5035">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>