<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Controlling multiple Arduinos wirelessly
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4612" class = "post">
			<h2>Question</h2>
			<div id="vote-4612" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 504</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Controlling multiple Arduinos wirelessly</h2>
<p>I am designing a experiment of controlling 6 small wind turbines wirelessly. For each wind turbine, I need to measure power time series (or voltage or current time series) from the generator, and control blade pitch angle, yaw angle, and generator load (using variable resistance). The control input will be all PWM signal.</p>

<p>I am planning to put an Arduino UNO with a ZigBee wireless module to each wind turbine, making it measure the power time series and transmit to the central node, as well as receive the control input from the central node and command the control input to servo motors. The central node will be additional Arduino UNO.</p>

<p>Here are my questions:</p>

<p>Is it possible for each Arduino to send time series signal to central node wirelessly without interference with other Arduino? (6 wind turbines transmitting time series to a central server). If it is possible, How can I implement such network ? recommending a source for learning would be also greatly helpful.</p>

<p>Interface between the central node and the computer software: The algorithm in the computer need to process the received power time series and determine the optimum control input for 6 wind turbines. Then these control input should be transmitted to wirelessly to 6 wind turbines. In such case, what is the good option to interface the algorithm and the Arduino connected to the computer? Currently the algorithm is written in Matlab. I heard there is the sketch interfacing Arduino and Matlab, is it efficient enough for such project?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4612" data-toggle = "popover">
				<p>user name : Jinkyoo Park</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-4612">{'None': 0, 'serial': 2, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4612" class = 'collapse'>
			</div>
				<textarea id = "speech-4612" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4612">
					<img id="start_img-4612" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4612">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4613"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4613" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well first answer is "yes"
The ZigBee-Standard allows multiple slaves in one network. The master or coordinator can send the specific xbees or send broadcasts...
you have to figure out which one is easier. both methods are possible...</p>

<p>the interface will be a problem. The zigbees are connected with the uart interface to your arduino but the arduino uno uses the same interface to the computer (if you use the usb-port)</p>

<p>You need there two different uart interfaces on your board (arduino mega or arduino due)</p>

<p>There are two possible ways to interface matlab with your arduino.</p>

<ul>
<li>using the matlab interface <a href="http://www.mathworks.de/de/help/supportpkg/arduinoio/examples/getting-started-with-matlab-support-package-for-arduino-hardware.html?prodcode=ML" rel="nofollow">matlab interface</a></li>
<li>exporting simulink code directly to the board (this can run on it's own)</li>
</ul>

<p>This depends on the computation power which is needed. If you export the simulink code, then i strongly recommend buying the due, 'cause of his great computation power</p>

<p>If you want to read more about the matlab interface <a href="http://playground.arduino.cc/Interfacing/Matlab" rel="nofollow">link</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4613" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4613">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4613" class = 'collapse'>
			</div>
				<textarea id = "speech-4613" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4613">
					<img id="start_img-4613" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4613">Comment</button>
			<br><div id = "ans-4614"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4614" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For your problem , </p>

<p>Yes every arduino can connect the central node without connecting to the other Arduino </p>

<p>I recommend to use a good high speed Arduino version for the central node like Due or Teensy </p>

<p>Also for communication handling I prefer to check out Arduino Wireless Sensor Network systems like <a href="https://code.google.com/p/arduinode/" rel="nofollow">https://code.google.com/p/arduinode/</a> or this www.youtube.com/watch?v=dsiae9x2Ckk </p>

<p>For Computer Interface , a good GUI application using C# or python with Serial communication module to handle requests from /to central Node, you can also use Processing to handle such a case </p>

<p>Note: I'm sure you are using Xbee module not "Zigbee" ...... </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4614" data-toggle = "popover">
				<p>user name : RoboMan</p>
				<p> user reputation : 84</p>
				<p class = "tagcontent" id = "usertaginfo-4614">{'servomotor': 4, 'None': 6, 'accelerometer': 3, 'pid': 6, 'brushless-motor': 4, 'imu': 3, 'motor': 4, 'sensors': 3, 'gyroscope': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4614" class = 'collapse'>
			</div>
				<textarea id = "speech-4614" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4614">
					<img id="start_img-4614" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4614">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>