<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Converting product of exponentials from base frame to end-effector frame
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14017" class = "post">
			<h2>Question</h2>
			<div id="vote-14017" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 16</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Converting product of exponentials from base frame to end-effector frame</h2>
<p>This is a homework question from edx course <a href="https://courses.edx.org/courses/SNUx/SNU446.345.2x/2T2014/course/" rel="nofollow noreferrer">Robot Mechanics and Control, Part II</a></p>

<p>Given the following
<a href="https://i.stack.imgur.com/KXbuK.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/KXbuK.png" alt="Figure"></a>
and expressing its forward kinematics as $T = e^{[S_1]\theta_1} ... e^{[S_6]\theta_6}M$</p>

<p>It is can be found (and also shown in the answer) that</p>

<p>$$ [S_2] = 
        \begin{bmatrix}
        0 &amp; 0 &amp; 0 &amp; 0 \\
        0 &amp; 0 &amp; -1 &amp; -2L \\
        0 &amp; 1 &amp; 0 &amp; 0 \\
        0 &amp; 0 &amp; 0 &amp; 1 \\
        \end{bmatrix}
$$ and
$$ M = 
        \begin{bmatrix}
        0 &amp; 1 &amp; 0 &amp; 0 \\
        1 &amp; 0 &amp; 0 &amp; 3L \\
        0 &amp; 0 &amp; -1 &amp; -2L \\
        0 &amp; 0 &amp; 0 &amp; 1 \\
        \end{bmatrix}
$$</p>

<hr>

<p>Part 4b) requires expressing the forward kinematics in the form of $T = Me^{[B_1]\theta_1} ... e^{[B_n]\theta_n}$ and finding $[B_2]$</p>

<p>I wanted to try deriving the answer using the following property (as found in the <a href="http://robotics.snu.ac.kr/edX/2014-1/lecturenotes/SNUx_Chapter_5.pdf" rel="nofollow noreferrer">lecture notes</a> page 20 and in the <a href="https://www.youtube.com/watch?v=3AMX59sex4M" rel="nofollow noreferrer">lecture</a> around 3:00, basically using property $Pe^A = e^{PAP^{-1}}P$ for any invertible $P$):</p>

<p>$$e^{[S_1]\theta_1} ... e^{[S_n]\theta_n}M = Me^{[B_1]\theta_1} ... e^{[B_n]\theta_n}$$ where $$[B_i] = M^{-1}[S_i]M$$</p>

<p>I get
$$ M^{-1} = 
        \begin{bmatrix}
        0 &amp; 1 &amp; 0 &amp; -3L \\
        1 &amp; 0 &amp; 0 &amp; 0 \\
        0 &amp; 0 &amp; -1 &amp; -2L \\
        0 &amp; 0 &amp; 0 &amp; 1 \\
        \end{bmatrix}
$$</p>

<p>Using the property $$[B_i] = M^{-1} [S_i] M$$ to calculate $B_2$ and I get
$$
[B_2] = 
        \begin{bmatrix}
        0 &amp; 0 &amp; 1 &amp; -3L \\
        0 &amp; 0 &amp; 0 &amp; 0 \\
        -1 &amp; 0 &amp; 0 &amp; -5L \\
        0 &amp; 0 &amp; 0 &amp; 1 \\
        \end{bmatrix}
$$</p>

<p>which is obviously wrong.  What am I doing incorrectly?</p>

<p>Thanks in advance</p>

<p>The correct answer is</p>

<p>$$ 
[B_2] = 
        \begin{bmatrix}
        0 &amp; 0 &amp; 1 &amp; 0 \\
        0 &amp; 0 &amp; 0 &amp; 0 \\
        -1 &amp; 0 &amp; 0 &amp; -3L \\
        0 &amp; 0 &amp; 0 &amp; 1 \\
        \end{bmatrix}
$$</p>

<hr>

<p>Full question with answers below:
<a href="https://i.stack.imgur.com/xbKat.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/xbKat.jpg" alt="Full question"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14017" data-toggle = "popover">
				<p>user name : Woofas</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-14017">{'product-of-exponentials': 0, 'None': 0, 'forward-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14017">Load Comments</button></br>
			<div id = "commentsection-14017" class = 'collapse'>
			<div id = "comment-22896" class = "comment">
				<p>Welcome to *Robotics*, Woofas. The last section of your image post gives an explanation of how/why the $B_2$ matrix was calculated using *their* method. You posted a procedure - $[B_i]=M^{ 1}[S_i]M$ - could you please link to a derivation of that property? I suspect that's where your problem is. I would imagine that there's another step in the procedure, like a summation, or a multiplication, etc., but I can't personally find any details on the step you posted. Please *edit your question* to include the link to the procedure.</p>
			</div>
			<div id = "comment-22914" class = "comment">
				<p>Hi, thanks for helping, I've attached the source (lecture notes and lecture) for said equation.  Hope it helps you help me!  Thanks a lot!</p>
			</div>
			</div>
				<textarea id = "speech-14017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14017">
					<img id="start_img-14017" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14017">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>