<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>convert toolframe coordinate to world frame coordinates?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9871" class = "post">
			<h2>Question</h2>
			<div id="vote-9871" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 163</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>convert toolframe coordinate to world frame coordinates?</h2>
<p>I am not sure how i should explain this, I am looking for a way to plot the trajectory an robot arm.  An object is seen from the toolFrame frame, but how do I plot the position of each joint, such that the frame they uses are the same.</p>

<p>One way would be to use the world frame as reference, but how would i plot the position of the object related to the world frame?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9871" data-toggle = "popover">
				<p>user name : James potter</p>
				<p> user reputation : 226</p>
				<p class = "tagcontent" id = "usertaginfo-9871">{'stereo-vision': 3, 'visualization': 1, 'None': 0, 'inverse-kinematics': 11, 'algorithm': 5, 'c++': 4, 'kinematics': 5, 'matlab': 1, 'robotic-arm': 18, 'jacobian': 3, 'motion-planning': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9871">Load Comments</button></br>
			<div id = "commentsection-9871" class = 'collapse'>
			<div id = "comment-17567" class = "comment">
				<p>What environment are you drawing in? Matlab? Is there a mathematical model of the robot available in that environment?</p>
			</div>
			<div id = "comment-17568" class = "comment">
				<p>Matlab.. 
I have a mathmatical model, but not coded in matlab. At  the moment  I just multply different transformation matrices to get the point i want the desired transformation</p>
			</div>
			<div id = "comment-17569" class = "comment">
				<p>"*An object is seen from the toolFrame frame*" this is what makes it a little unclear to me what you want exactly. Do you want to visualize the trajectories in the tool frame?</p>
			</div>
			<div id = "comment-17570" class = "comment">
				<p>The position of the object is given relative to the tool frame.</p>
			</div>
			<div id = "comment-17571" class = "comment">
				<p>I would like to visualize trajectory of the whole robot arm, each joint..</p>
			</div>
			</div>
				<textarea id = "speech-9871" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9871">
					<img id="start_img-9871" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9871">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9874"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9874" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Assuming you have solved the inverse kinematics (IK) problem already...</p>

<p>I suppose you have a transformation matrix for each joint, build up from one line in the DH table (if you used DH to describe the robot).
Form the IK you have obtained</p>

<p>$Q = [q_1, q_2, q_3, q_4, q_5, q_6]$</p>

<p>Having all Q values you can now write:</p>

<p>$H_{0,1} = A_1(q_1)$</p>

<p>$\Rightarrow$ $H_{0,1}(1:3, 4)$ will give you the $x$, $y$ and $z$ Coordinates of joint 1</p>

<p>$H_{0,2} = H_{0,1}*A_2(q_2)$</p>

<p>$\Rightarrow$ $H_{0,2}(1:3, 4)$ will give you the $x$, $y$ and $z$ Coordinates of joint 2</p>

<p>$H_{0,3} = H_{0,2}*A_3(q_3)$</p>

<p>$\Rightarrow$ $H_{0,3}(1:3, 4)$ will give you the $x$, $y$ and $z$ Coordinates of joint 3</p>

<p>$H_{0,4} = H_{0,3}*A_4(q_4)$</p>

<p>$\Rightarrow$ $H_{0,4}(1:3, 4)$ will give you the $x$, $y$ and $z$ Coordinates of joint 4</p>

<p>$H_{0,5} = H_{0,4}*A_5(q_5)$</p>

<p>$\Rightarrow$ $H_{0,5}(1:3, 4)$ will give you the $x$, $y$ and $z$ Coordinates of joint 5</p>

<p>$H_{0,6} = H_{0,5}*A_6(q_6)$</p>

<p>$\Rightarrow$ $H_{0,6}(1:3, 4)$ will give you the $x$, $y$ and $z$ Coordinates of joint 6</p>

<p>$H_{0,tool} = H_{0,6}*A_{tool}$</p>

<p><strong>where</strong></p>

<ul>
<li>$A_i$ is the DH-transformation matrix associated with joint $i$.</li>
<li>the index $_0$ represents the world frame</li>
<li>the intex $_{tool}$ represents the tool frame</li>
<li>$H_{i,j}$ represent the transformation matrix from frame $i$ to frame $j$</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9874" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-9874">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9874">Load Comments</button></br>
			<div id = "commentsection-9874" class = 'collapse'>
			<div id = "comment-17572" class = "comment">
				<p>What about the position of the object related to the world?</p>
			</div>
			<div id = "comment-17573" class = "comment">
				<p>I don't know if thats wasn't clear, but my problem is the axis is misalligned,  as the position of objected is logged according to the tool</p>
			</div>
			<div id = "comment-17574" class = "comment">
				<p>If you solved the inverse kinematics then it does not matter...that is why the answer starts with "asuming you have solved the IK"</p>
			</div>
			<div id = "comment-17575" class = "comment">
				<p>did you solve the IK?</p>
			</div>
			<div id = "comment-17576" class = "comment">
				<p>I've solved the invkin for the robot</p>
			</div>
			<div id = "comment-17577" class = "comment">
				<p>Then you have all the q values, just use them as above and the final H matrix should correspond to the pose of the tool, expressed in world frame.</p>
			</div>
			<div id = "comment-17578" class = "comment">
				<p>but how about the ball?...</p>
			</div>
			<div id = "comment-17579" class = "comment">
				<p>I am not sure i understand how you want me to plot it?? it seems to me that you are mixing multiple frames?</p>
			</div>
			<div id = "comment-17581" class = "comment">
				<p>If I understand correctly, you have all the joint angles ($Q$). Those define the pose of the robot regardless of any other frames. Those are always expressed in their local frames. The transition from world frame to frame of joint 1 is $A_1$. The transition is dependent on joint angle and robot geometry only. You transition by multiplication and plot the frame origin (x, y and z). Then you go to the next joint and plot the frame origin and so on until you reach the end-effector. At the end you will get the location of each joint in world frame. connect the lines and you can draw your robot.</p>
			</div>
			</div>
				<textarea id = "speech-9874" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9874">
					<img id="start_img-9874" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9874">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>