<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Converting a linear acceleration command into a DC motor command?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6706" class = "post">
			<h2>Question</h2>
			<div id="vote-6706" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 268</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Converting a linear acceleration command into a DC motor command?</h2>
<p>I'm constructing a 2 wheels balancing robot which uses a PID controller.  I've tuned my parameters on numerical simulations based on a continuous inverted pendulum system so that the simulated inverted pendulum balances by controlling the horizontal (linear) cart acceleration $\ddot{x}$.</p>

<p>Now that I've done this, I want to take the next step and turn my PID control commands into electrical commands onto a DC motor to give the desired linear acceleration $\ddot{x}$. However I'm not sure how exactly to do this for my specific robot's motors.  Are there experimental tests should I run to determine how to convert PID commands into DC motor acceleration commands? Or is there a formula to do this based on the motor's specifications?</p>

<p><strong><em>Update</em></strong></p>

<p>The non-linear dynamic equation I'm using is</p>

<p>$$L\ddot{\theta}=gsin(\theta)+\ddot{x}(t)cos(\theta)+Ld(t)$$</p>

<p>where $\ddot{x}(t)$ is the linear acceleration, $g$ is the acceleration due to gravity, and $\ddot{\theta}$ is the angular acceleration, and $d(t)$ is an external disturbance to the system. To simplify things, I've linearized the equations around $\theta\approx0$, yielding</p>

<p>$$L\ddot{\theta}=g\theta+\ddot{x}(t)+Ld(t)$$</p>

<p>I've assumed that the only control input is the cart's linear acceleration $\ddot{x}(t)$, and chose this control command as $\ddot{x}(t)=K_1\theta(t) + K_2\int_0^t\theta(t) dt + K_3\dot{\theta}$, where $K_i$ are the PID gains.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6706" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-6706">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6706">Load Comments</button></br>
			<div id = "commentsection-6706" class = 'collapse'>
			<div id = "comment-9627" class = "comment">
				<p>Acceleration is proportional to force and force is proportional to the motor's torque. Which is in turn proportional to the motor's current. So the acceleration is linearly proportional to the motor current.</p>
			</div>
			<div id = "comment-9629" class = "comment">
				<p>The acceleration is proportional to the overall sum of external forces acting on a system, whose motor's torque is just one force. Therefore, I wouldn't say that acceleration is proportional to the torque. Nonlinearities do emerge also in the remaining part of the chain.</p>
			</div>
			<div id = "comment-9630" class = "comment">
				<p>For curiosity, you said you did rely on simulation to tune your parameters, hence what kind of dynamic model did you employ to simulate the system whose input is the original PID output and whose output is the linear acceleration?</p>
			</div>
			<div id = "comment-9631" class = "comment">
				<p>@ugo:  what exactly are you referring to by "the remaining part of the chain"?</p>
			</div>
			<div id = "comment-9633" class = "comment">
				<p>I was referring to the parts going from the torque to the current.</p>
			</div>
			</div>
				<textarea id = "speech-6706" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6706">
					<img id="start_img-6706" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6706">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6717"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6717" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First comment, the equation you gave for your PID seems a bit weird. The PID normally acts to steer an error, let's say $e_{\theta}=\theta_d-\theta$, to zero, where $\theta_d\left(t\right)$ is your set-point, possibly varying, and $\theta\left(t\right)$ is the current feedback.</p>

<p>If we always assume $\theta_d=0$ - is this your task? -, then you have to consider the right sign for the feedback, i.e. $-\theta$, since usually the PID gains are deemed to be positive. This way though, you'll prevent yourself from having fun while trying to stabilize the pole in non-upright positions (i.e. $\theta_d \neq 0$, wherein the linearization does not hold).</p>

<p>What is missing is to make the dynamic equation of linear motion explicit, that is something like $\ddot{x}=f\left(x,u,d_x,t\right)$, where $u$ is the motor torque and $d_x$ are other type of disturbances (e.g. friction forces) acting on the system. You could plug this second equation in the first one coming up with a new PID whose output is directly $u$ and no longer $\ddot{x}$, changing thus the input to the system.</p>

<p>You might describe the function $f\left(\cdot\right)$ in terms of what you know about the system (e.g. wheels geometry to transform torque into force, motors' parameters to deal with transformation of voltage/current into mechanical torque), providing therefore a <strong>feed-forward term</strong> to help the PID do its job or even let the PID work alone in the closed-loop.</p>

<p>Another possibility is to replace the single PID scheme with a cascade of a <strong>inner loop</strong> where you control $\ddot{x}$ through the first PID (you have somehow to measure/estimate the linear acceleration), and an <strong>outer loop</strong> that finally controls the angular position of the pole by means of a second PID. Anyway, two PIDs means more gains to fine tune. You may also want to identify $f$ via proper identification techniques.</p>

<p>As a side note, one effective way to deal with all the disturbances and uncertainties you have in the real system that are not taken into account in the model is to resort to <strong>sliding mode</strong> control.</p>

<p>Finally, I'd really suggest you to search in literature: there are plenty of methods and models out of the box for you to read and use for such a classical control problem.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6717" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-6717">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6717">Load Comments</button></br>
			<div id = "commentsection-6717" class = 'collapse'>
			<div id = "comment-9635" class = "comment">
				<p>Indeed, my goal was to obtain balance by restricting my set-point to the zero angle.  Clearly, the case with $\theta_{d}\ne0$ is more interesting, but I wanted to work with the simplest case first before branching outward.  I'm really interested in determining $f(x,u,d_x,t)$.  Do you have any references with examples on how to accomplish this specifically for  cart-pole systems?  If I can see one worked out example, I'm sure I can extrapolate it to my specific case.</p>
			</div>
			<div id = "comment-9636" class = "comment">
				<p>Do you know of any useful tutorials on how to work with the $\theta_d\ne0$ case?</p>
			</div>
			<div id = "comment-9637" class = "comment">
				<p>A quick search gives the following [reference](https://smartech.gatech.edu/bitstream/handle/1853/44897/castro_arnoldo_201208_mast.pdf?sequence=1): look at page 25-26. I'm pretty sure there exist simpler models, though. However, as I said, you could even avoid relying on such detailed descriptions of $f$, since PID controllers work quite well in closed loop.</p>
			</div>
			<div id = "comment-9638" class = "comment">
				<p>Here's a better [reference](http://www.it.uu.se/edu/course/homepage/styrsystem/vt09/Nyheter/Grupper/Rapport_group6.pdf).</p>
			</div>
			</div>
				<textarea id = "speech-6717" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6717">
					<img id="start_img-6717" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6717">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>