<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Correctly calculating free acceleration given NED referenced orientation quaternion and sensor referenced acceleration data
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12862" class = "post">
			<h2>Question</h2>
			<div id="vote-12862" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 37</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Correctly calculating free acceleration given NED referenced orientation quaternion and sensor referenced acceleration data</h2>
<p>I have a sensor outputting correct, calibrated North-East-Down referenced quaternions describing the orientation of the sensor. It also outputs raw, sensor referenced acceleration data, <strong>inclusive</strong> of gravity. I want NED free acceleration, without gravity. </p>

<p>What I have been doing is rotating the acceleration data by the quaternion, and subtracting gravity from the z axis. this doesnt really make sense to me.</p>

<p>I think it should be something more like </p>

<ol>
<li>Rotate acceleration data by the quaternion (brings data to some strange frame?</li>
<li>Subtract gravity from z axis</li>
<li>Inverse rotation (back to sensor frame?)</li>
<li>Second inverse rotation? (goes to NED frame??)</li>
</ol>

<p>Any explanation would be appreciated</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12862" data-toggle = "popover">
				<p>user name : Mauvai</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-12862">{'None': 0, 'imu': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12862" class = 'collapse'>
			</div>
				<textarea id = "speech-12862" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12862">
					<img id="start_img-12862" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12862">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12867"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12867" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you have the concept down. I'm not sure what the "some strange frame" would be, or how you would have a transform to that frame. </p>

<p>You know, by physics, that gravity points down in the world frame. You know, by your sensor's orientation quaternion, how the sensor is oriented relative to the world.</p>

<p>So, as you mention:</p>

<ol>
<li>Rotate acceleration data by the quaternion <strong>from</strong> the sensor frame <strong>to</strong> the world frame. </li>
<li>Subtract gravity from the down axis (typically z or y - be sure to read the sensor's data sheet!)</li>
<li>Rotate the acceleration data <strong>from</strong> the world frame <strong>to</strong> the sensor frame. </li>
</ol>

<p>I'm not positive why you would want that last step though, unless you were doing something <strong>strictly</strong> in the local frame. Generally you would care about how an object is oriented or how it moves <em>with regards to an arbitrary start location in the world frame.</em></p>

<p>That is, once you rotate the acceleration data to the world frame, you can remove gravity, and then perform your single and double integrations to get speed and position <em>with respect to the world frame.</em> I'm not sure what you get by going <em>back</em> to the sensor frame after removing gravity. </p>

<p>Maybe this is your fourth point? </p>

<blockquote>
  <p>Second inverse rotation? (goes to NED frame??)</p>
</blockquote>

<p>Right, because again you care about how the object moves <em>with respect to the world</em>. If you don't care about that relationship then you're in a pretty small minority of IMU applications, and I personally can't really imagine the scenario you're working with. </p>

<p>But, if you look, your points three and four cancel and you're left with one and two - rotate to world frames, remove gravity. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12867" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-12867">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12867">Load Comments</button></br>
			<div id = "commentsection-12867" class = 'collapse'>
			<div id = "comment-22584" class = "comment">
				<p>Thanks for answering, but im still not quite getting this - if i have sensor frame accelerometer data to start, and i do a forward rotation by the quaternion, how does that bring it to the world frame? in my mind that would bring it further from the world frame.</p>
			</div>
			<div id = "comment-22585" class = "comment">
				<p>@Mauvai - It depends on how the quaternion is defined, and you should check the data sheet for the sensor to be sure. It might be that the quaternion is the sensor's orientation with respect to the world frame, in which case you *do* want the inverse, or it could be that it's the orientation with respect to the **starting** orientation, which is dangerous because your starting orientation is not necessarily (is not normally) aligned with the world frame, so you need to know the relationship between starting and world frames, and again you need to use an inverse transform.</p>
			</div>
			<div id = "comment-22594" class = "comment">
				<p>So assuming I do have a world frame referenced quaternion, what is my procedure? Inverse rotation subtract gravity, and finished? Could you explain why most papers seem to only do a forward rotation, but also have a world frame quaternion?</p>
			</div>
			<div id = "comment-22596" class = "comment">
				<p>@Mauvai - `Most papers seem to` - Can you link one of the papers? I'll point out too that generally I've seen quaternions get converted to rotation matrices to do the actual transforming of coordinates. There's a trick to that, too - the *inverse* of a 3x3 rotation matrix is the same as the *transpose* of the same 3x3 rotation matrix. So, where you might expect an inverse transform to be more explicitly signaled, like $R^{-1}$, it might be "hidden" with the transpose apostrophe $R'$ - the end result is the same. Again, please link a paper that shows what you're talking about.</p>
			</div>
			<div id = "comment-22597" class = "comment">
				<p>By hidden I mean that it's easy to overlook the apostrophe there on the rotation matrix. Depending on the font type and size it tends to run together with the R notation: Compare $R$ and $R'$.</p>
			</div>
			<div id = "comment-22605" class = "comment">
				<p>i dont have one to hand and im not in college so i dont have access. I am aware of the euler matrices thing, but i need to stcik in quaternions. from my previous comment - do I need to be doing an inverse rotation?</p>
			</div>
			<div id = "comment-22606" class = "comment">
				<p>You need to rotate from the *sensor* frame to the *world* frame. If your rotation representation gives you the *sensor* with respect to the *world*, then you need to take the inverse rotation to get your local acceleration back to the world frame. It should all be in the data sheet. If you're unsure, try it both ways and see which one is correct. You can also just look up the [Madgwick filter](http://x-io.co.uk/open-source-imu-and-ahrs-algorithms/); it's already written, proven, and optimized. Again though, try both ways and see which one is correct.</p>
			</div>
			<div id = "comment-22607" class = "comment">
				<p>Its not written on the data sheet, hence the issue. im sure il figure it out. thanks</p>
			</div>
			</div>
				<textarea id = "speech-12867" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12867">
					<img id="start_img-12867" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12867">Comment</button>
			<br><div id = "ans-12870"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12870" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Accelerometer frames are kind of tricky.  They treat the sign differently for gravity and regular accelerations.  This is the equation they use:
$$
a_{accelerometer} = a_{sensorFrame} - g 
$$</p>

<p>See this question for more info:
<a href="https://robotics.stackexchange.com/questions/1858/why-do-3-axis-accelerometers-seemingly-have-a-left-handed-coordinate-system">Why do 3-axis accelerometers seemingly have a left-handed coordinate system?</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12870" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-12870">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12870">Load Comments</button></br>
			<div id = "commentsection-12870" class = 'collapse'>
			<div id = "comment-22595" class = "comment">
				<p>This doesnt really answer my question in any way....</p>
			</div>
			</div>
				<textarea id = "speech-12870" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12870">
					<img id="start_img-12870" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12870">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>