<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Could the voted~unvoted button artwork be further differentiated on meta.apple?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1029" class = "post">
			<h2>Question</h2>
			<div id="vote-1029" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 52</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Could the voted~unvoted button artwork be further differentiated on meta.apple?</h2>
<p>The selected and unselected states of the vote-up and vote-down buttons here on Ask Different Meta aren't distinct enough for me to understand the difference. I'm including a screenshot that I just took:</p>

<p><img src="https://i.stack.imgur.com/3Wn8f.png" alt="Voted up; not voted down artwork example"></p>

<p>This appeared next to a meta answer that I voted up, but it is hard for me to determine what black means and what gray means. I don't visit the meta side very often, so I'm likely to forget which is which.</p>

<p>Can the selected vote button have some more color (distinct from grayscale), either in the arrow segment, the outer circle, or both?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1029" data-toggle = "popover">
				<p>user name : bneely</p>
				<p> user reputation : 3207</p>
				<p class = "tagcontent" id = "usertaginfo-1029">{'None': 1, 'support': 4, 'meta': 2, 'feature-request': 12, 'graphics': 2, 'status-bydesign': 2, 'discussion': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1029">Load Comments</button></br>
			<div id = "commentsection-1029" class = 'collapse'>
			<div id = "comment-1862" class = "comment">
				<p>Agreed that the distinction is minimal.  I'd be more interested to know why you would want to see any further distinction tho.  It's only useful to see if you have voted - if you haven't, you still can, and if you have, and try to again, it will tell you, so the only scenario where you might need this information clearer is if you can't remember if you have voted or not, in which case just try voting and see what happens.  Having said that, a small green/red ring around rather than a slightly darker arrow might actually look nicer on pure aesthetics but I don't think it would add functionality</p>
			</div>
			<div id = "comment-1863" class = "comment">
				<p>Hmm, addition to the above, I only just realised it was different on the main site, with the arrow being slightly blue instead of a darker grey.  And as such, I'm with you purely on a point of consistency.  Make them the same, but while we are at it, why not try to use a bit of colour instead :)</p>
			</div>
			<div id = "comment-1867" class = "comment">
				<p>The meta sites are always supposed to be "mute". They are a greyscale / mute pallete of the main site. Go look at any site's main and meta, it follows this convention. I can't speak to any kind of visual impairment/accessibility if that is the argument here, but to me, the dark button (like a lit elevator call button), plus the 'depressed' vs. 'embossed' style makes it obvious to me which way I voted here on meta.</p>
			</div>
			</div>
				<textarea id = "speech-1029" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1029">
					<img id="start_img-1029" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1029">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1031"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1031" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a design choice we made deliberately. If you look at any site's meta (from <a href="http://meta.stackoverflow.com">Meta Stack Overflow</a> to <a href="http://meta.parenting.stackexchange.com">Meta.Parenting</a> to <a href="http://meta.scifi.stackexchange.com">Meta.SciFi</a> to this site's meta) the design choices are clear: take the main site design and strip out most (but not necessarily all) of the color, imbuing the site with the greyscale look you see before you. </p>

<p>It's a deliberate design choice, one that we reflect across the network.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1031" data-toggle = "popover">
				<p>user name : Aarthi</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-1031">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1031">Load Comments</button></br>
			<div id = "commentsection-1031" class = 'collapse'>
			<div id = "comment-1904" class = "comment">
				<p>This explains *why* this problem exists, but that doesn't mean it can't be fixed. The bicycles meta site uses a different graphic for the header, surely a similar change could be made for the buttons here?</p>
			</div>
			<div id = "comment-1913" class = "comment">
				<p>I make no promises, @KyleCronin, but I'll ask. :)</p>
			</div>
			<div id = "comment-1925" class = "comment">
				<p>Surely in any design functionality must take preference over consistency - here the consistent design just does not work as you cannot see the difference (yes my eyesight is not 20/20)</p>
			</div>
			<div id = "comment-2062" class = "comment">
				<p>I agree with @KyleCronin: it's an explanation, but it doesn't address the flaw. A higher contrast would suffice. Lets you keep the greyscale but not hurt usability. Also: glad I'm not the only one who has a hard time telling them apart...</p>
			</div>
			</div>
				<textarea id = "speech-1031" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1031">
					<img id="start_img-1031" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1031">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>