<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Could my question(s) be reopened?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2822" class = "post">
			<h2>Question</h2>
			<div id="vote-2822" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 27</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Could my question(s) be reopened?</h2>
<p>I made a small goof.</p>

<p>I asked two hardware questions about Keyboards and Mice.  The questions are very similar and, accidentally, I typed in the same title for both (referencing keyboards.)</p>

<p>These questions managed to get put on hold and flagged as duplicates.  I've updated the questions and fixed my errors.  Could I have them re-opened?</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/245126/best-keyboard-for-a-windows-developer-who-uses-os-xparallels">https://apple.stackexchange.com/questions/245126/best-keyboard-for-a-windows-developer-who-uses-os-xparallels</a></li>
<li><a href="https://apple.stackexchange.com/questions/245127/best-mouse-for-a-windows-developer-who-uses-os-xparallels">Best mouse for a Windows Developer who uses OS X+Parallels</a></li>
</ul>

			</div>
			<div id = "userinfo-2822" style = "float:right">
				<p>user name : RLH</p>
				<p> user reputation : 398</p>
				<p> user tag wise history : {'closed-questions': 0, 'None': 0, 'support': 0, 'questions': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2822" class = 'collapse'>
			</div>
				<textarea id = "speech-2822" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2822">
					<img id="start_img-2822" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2822">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2823"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2823" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>These questions will, unfortunately, remain closed, for two reasons:</p>

<ol>
<li>Both are shopping questions and <a href="https://apple.stackexchange.com/help/on-topic">shopping questions are off topic for Ask Different</a>. You're asking for a purchase recommendation in both questions. Shopping or buying recommendations. Questions that are mainly about price/time/supply constraints are considered "shopping" questions.</li>
<li>Both are asking for "best" options. While you do give some criteria for filtering purchase options, "best" is ultimately <em>very</em> subjective in these cases and as such there's no, real, canonical answer that can be given and that's not what Stack Exchange is about when it comes to Q&amp;A.</li>
</ol>

<p>Ultimately these questions are better suited for a traditional discussion forum format. You can find something akin to this in <a href="http://chat.stackexchange.com/rooms/38/ask-different-chat">our chat room</a> or take advantage of an existing forum like <a href="https://www.reddit.com/r/apple" rel="nofollow noreferrer">https://www.reddit.com/r/apple</a>.</p>
</p><br>
			</div>
			<div id = "userinfo-2823" style = "float:right">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p> user tag wise history : {'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2823">Load Comments</button></br>
			<div id = "commentsection-2823" class = 'collapse'>
			<div id = "comment-6156" class = "comment">
				<p>My definition of "best" isn't subjective, really.  I think the implicationnis clear, is there hardware that functiona best in both environments.  I'll remove the parts about pricing when I get a chance.</p>
			</div>
			<div id = "comment-6157" class = "comment">
				<p>A standard keyboard works *best* in both environments, as does a plain vanilla mouse :-) Or in other words: without a clear indication about what "best" means for you and how you want to measure it, "best" always is subjective.</p>
			</div>
			</div>
				<textarea id = "speech-2823" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2823">
					<img id="start_img-2823" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2823">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>