<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Could a motor shaft be swapped for a threaded shaft?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8742" class = "post">
			<h2>Question</h2>
			<div id="vote-8742" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 226</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Could a motor shaft be swapped for a threaded shaft?</h2>
<p>I'm looking at the <a href="http://g01.a.alicdn.com/kf/HTB1i3odKpXXXXcgXpXXq6xXFXXXq/N20-DC-6V-74rpm-Micro-gear-Motor-with-Metal-Gear-Box-Low-speed-Motor-Flip-type.jpg" rel="nofollow">N20 DC motor</a> which is fairly popular. Does anyone know if the shaft could be swapped out for a threaded shaft?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8742" data-toggle = "popover">
				<p>user name : Kar</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-8742">{'stability': 0, 'None': 0, 'linear-bearing': 4, 'torque': 1, 'gearing': 1, 'tracks': 4, 'motor': 6, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8742">Load Comments</button></br>
			<div id = "commentsection-8742" class = 'collapse'>
			<div id = "comment-14314" class = "comment">
				<p>You could remove the shaft yourself and pay an engineer to cut a thread on it for you... however a flat shaft like that would normally be used with  a gear or wheel that is fitted with set screws.  That is the simplest method.</p>
			</div>
			</div>
				<textarea id = "speech-8742" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8742">
					<img id="start_img-8742" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8742">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8746"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8746" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Do you mean a threaded shaft <a href="http://m.aliexpress.com/item/32572201892.html" rel="nofollow">like this</a> or <a href="http://m.banggood.com/N20-DC-6V-55RPM-Gear-Motor-M3-20mm-Threaded-Shaft-Reduction-Gear-Motor-p-1010696.html" rel="nofollow">this</a>?</p>

<p>If you wanted to use the folded reduction gear set you linked but have a threaded output shaft then you could either try to get someone to make you a shaft ($$$) or you could buy one of the motors I linked to and swap the shaft out. This assumes that the gear attached to the shaft is the same size. </p>

<p>Regarding how - look around the shaft where it exits the reduction gear set. On the motors I linked there are two screws, which should be the same on yours. Take a lot of pictures before you remove them, remove them with the whole motor over a plate or pan, and expect all of the gears to fall out when you remove the screws. </p>

<p>Then it's just a matter of pulling the old shaft out, putting the new one in, and trying to get all the gears in place. For that last step, try putting some extra grease on the gear shafts. The viscosity of the grease will act kind of like glue to hold them in place until you get the end plates reinstalled. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8746" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8746">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8746">Load Comments</button></br>
			<div id = "commentsection-8746" class = 'collapse'>
			<div id = "comment-14337" class = "comment">
				<p>Actually, are there parts that are essentially threaded tubes that could fit over the shaft (like couplers)? That way, I could effectively add threads to the shaft - perhaps? I'm looking for M4 threads.</p>
			</div>
			<div id = "comment-14371" class = "comment">
				<p>@Kar Isn't the shaft 4mm diameter? such a tube would have to have an inner diameter larger than its outer diameter. You could make an extension which had a larger diameter coupling then a m4 threaded section, or you could ( for some applications, assuming it's not too hard steel ) tap the shaft</p>
			</div>
			</div>
				<textarea id = "speech-8746" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8746">
					<img id="start_img-8746" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8746">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>