<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Could anyone complete my challenge?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11299" class = "post">
			<h2>Question</h2>
			<div id="vote-11299" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Could anyone complete my challenge?</h2>
<p>Earlier while writing by hand, I was wondering if anyone could build a pen holder, that could write for me? Maybe you could make some good business from them. Thanks for your time.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11299" data-toggle = "popover">
				<p>user name : Jameson Dennelly</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11299">{'None': 0, 'wifi': -1, 'wheeled-robot': -1, 'line-following': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11299">Load Comments</button></br>
			<div id = "commentsection-11299" class = 'collapse'>
			<div id = "comment-20439" class = "comment">
				<p>Welcome to Robotics! I think it is possible, but in a current format your question is way too broad to give any good answers. Good question should consider a specific issue, a problem that you encountered.</p>
			</div>
			</div>
				<textarea id = "speech-11299" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11299">
					<img id="start_img-11299" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11299">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11303"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11303" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, robotic arms or other devices could write for you.</p>

<p>They can even be more prolific than Shakespeare.</p>

<p>But probably the poetry they write is not your desideratum.</p>

<p>If you plant numerous electrodes in your head to monitor the spikes your neurons generate, the robotic arm may have a chance to share your thoughts thereby writing for you as you wish. However, I do not encourage you to try that. Because currently we do not have the technology at such an applicable level.</p>

<p>In short, the robotic arm doesn't know your heart.</p>

<p>So this is inevitably a heartbreaking story. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11303" data-toggle = "popover">
				<p>user name : AiEngineer</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-11303">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11303">Load Comments</button></br>
			<div id = "commentsection-11303" class = 'collapse'>
			<div id = "comment-20441" class = "comment">
				<p>I have my 1000 monkeys for that. I'm talking about a small device that would be able to transmit a word document to a page, and roll between the lines while pressing the pen down at the right times to form words.</p>
			</div>
			<div id = "comment-20449" class = "comment">
				<p>@Jameson Dennelly  Your idea is great. It's similar to a mini printer, but more smart and convenient. The pen could connect to computer or phone wirelessly to get the document. Or you can even embed a small camera in the pen to scan any document.</p>
			</div>
			<div id = "comment-20493" class = "comment">
				<p>Thank you, it's a shame I as of yet have no knowledge on how to code. I hope someone steals my idea.</p>
			</div>
			<div id = "comment-20529" class = "comment">
				<p>@Jameson Dennelly it's definitely not a shame. Good ideas and designs are always in short supply. But your question is not very easy to understand so people don't know how to give you an answer. I suggest you change the title of the question (such as Build an Automatic Pen) and describe how the pen works specifically. Then people may be able to help you, at least offer some advice.</p>
			</div>
			</div>
				<textarea id = "speech-11303" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11303">
					<img id="start_img-11303" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11303">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>