<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Could Community  not bump questions without accepted answers on meta?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1050" class = "post">
			<h2>Question</h2>
			<div id="vote-1050" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 82</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Could Community  not bump questions without accepted answers on meta?</h2>
<p>So we've <a href="https://apple.meta.stackexchange.com/questions/1030/should-we-have-posts-on-meta-that-arent-questions-that-can-be-answered">established</a> that it's appropriate for meta to contain questions that aren't really answerable. Which suggests that the algorithm whereby Community  randomly bumps questions without accepted answers to the top of the list might not be a particularly good idea in meta.</p>

<p>Case in point: podcast #2 was just bumped to the top of meta. Really?
<img src="https://i.stack.imgur.com/wF2aV.png" alt="enter image description here"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1050">Load Comments</button></br>
			<div id = "commentsection-1050" class = 'collapse'>
			<div id = "comment-1923" class = "comment">
				<p>I don't know whether this is a bug, a feature request, or a "feature" removal request.</p>
			</div>
			<div id = "comment-1929" class = "comment">
				<p>Feature request, IMO. [Community  ](http://apple.stackexchange.com/users/-1/) is doing it's intended behavior, behavior I don't think it should have on any meta site. (At least not by default. If someone thinks it should be on a meta, that should be their exception, not the rule.)</p>
			</div>
			<div id = "comment-2100" class = "comment">
				<p>Where is the list of what and how http://apple.stackexchange.com/users/-1/ (aka [Community  ](http://apple.stackexchange.com/users/-1/)) does it's tasks? Sometimes I'd ask it to just go calculate the square root of it's user number and come back when it has an answer.</p>
			</div>
			<div id = "comment-2101" class = "comment">
				<p>It just has to use its imagination, @bmike, and the answer's easy.</p>
			</div>
			<div id = "comment-2105" class = "comment">
				<p>Someone downvoted this -- if you just think this isn't a priority, great, but if you have an argument why it's actually desirable to randomly bump unanswered posts on meta, please do respond; I'd love to hear the argument.</p>
			</div>
			<div id = "comment-3544" class = "comment">
				<p>If no one ever answers this, it can be performance art by @community</p>
			</div>
			</div>
				<textarea id = "speech-1050" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1050">
					<img id="start_img-1050" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1050">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>