<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Covariance Check?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10505" class = "post">
			<h2>Question</h2>
			<div id="vote-10505" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 148</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Covariance Check?</h2>
<p>I have a localization data estimated and GPS_truth and generated [3x3] covariance matrix along with them. </p>

<p>What i would like to do is to see if the covariance is correct or not? </p>

<p>Can we check it by plotting the covariance? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10505" data-toggle = "popover">
				<p>user name : Rohit Dhakate</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10505">{'visualization': 2, 'None': 0, 'slam': 2, 'uav': 0, 'localization': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10505">Load Comments</button></br>
			<div id = "commentsection-10505" class = 'collapse'>
			<div id = "comment-18901" class = "comment">
				<p>You can plot the 2 and 3 $\sigma$ gates around the means to see if it visually and intuitively makes sense. If you have access to the raw data before it was filtered, you can calculate the residuals and follow http://robotics.stackexchange.com/questions/6639/how-to-plot-pm-3-sigma-of-a-landmark-in-ekf-slam/6666</p>
			</div>
			<div id = "comment-18906" class = "comment">
				<p>Good answer @Gouda.  Why don't you make it a real answer so we can upvote it?</p>
			</div>
			<div id = "comment-18944" class = "comment">
				<p>Is this localisation in 2D or 3D?</p>
			</div>
			<div id = "comment-18947" class = "comment">
				<p>It is a 3D localization of a UAV obtained through SLAM</p>
			</div>
			</div>
				<textarea id = "speech-10505" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10505">
					<img id="start_img-10505" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10505">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10531"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10531" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can plot the 2 and 3   gates around the means to see if it visually and intuitively makes sense.</p>

<p>If you have access to the raw data before it was filtered, you can calculate the residuals and follow <a href="https://robotics.stackexchange.com/questions/6639/how-to-plot-pm-3-sigma-of-a-landmark-in-ekf-slam/6666">how to plot $\pm 3 \sigma$ of a landmark in EKF-SLAM</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10531" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-10531">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10531">Load Comments</button></br>
			<div id = "commentsection-10531" class = 'collapse'>
			<div id = "comment-19068" class = "comment">
				<p>Im really sorry to open  this question again, But as you suggested i tried plotting   and 3  around the mean to visualize whether the ground_truth is well within the limits (which is well outside). 
but as the value of  std. deviation ( ) is very low is really difficult to even see the difference between  +  and  -  
http://imgur.com/a/qMgX1</p>
			</div>
			<div id = "comment-19099" class = "comment">
				<p>Did you forget to take the square root of the diagonal elements of the position covariance matrix? That would change the size considerably. You should plot $\mu \pm 3\sigma$.</p>
			</div>
			<div id = "comment-19105" class = "comment">
				<p>well i did take the sqrt of the diagonal elements 

the matrix is, 

$$
        \begin{bmatrix}
        0.000266161 & 8.05408*10^-5 & -8.42415*10^-5 \\
        8.05408*10^-5 & 0.000604004 & -0.00037067 \\
        -8.42415*10^-5 &  -0.00037067 & 0.000388194 \\
        \end{bmatrix}
$$

so the values i get are  
 
$$\sigma _x  = 0.0163144 $$
$$\sigma _y = 0.0245764 $$
$$\sigma _z = 0.0197026 $$</p>
			</div>
			<div id = "comment-19113" class = "comment">
				<p>Those sigmas look like good precision for a SLAM solution. The next step in validation is to check the sigmas of the measurements and make sure they match the covariance parameters of your SLAM. Can you tell us more on: How is your ground truth measured?  What other sensors are used for the SLAM estimate? And also look at the RMS error between the estimates and the ground truth. An image of the plot would help too.</p>
			</div>
			<div id = "comment-19138" class = "comment">
				<p>The ground truth is the localization information obtained from GPS.  For SLAM the sensors used are IMU, Laser range finder and a Monocular camera.    

The RMS error is 3.690156

Trajectory Plots:
VSLAM vs. GPS (x): http://imgur.com/i5z8G2N      
VSLAM vs. GPS (y): http://imgur.com/BYzayrY    
VSLAM vs. GPS (z): http://imgur.com/zChgxOA    
VSLAM vs. GPS (3D): http://imgur.com/hLLQMam</p>
			</div>
			<div id = "comment-19139" class = "comment">
				<p>This is a tricky failure mode. Your filter clearly starts to drift around t=150 and gets really bad after t=225. If at least one sensor is causing SLAM to generate landmarks (traditionally either the camera or the laser range finder will do this) then it should work as long as there is at some point a correct loop closure. Can you plot the points in time there are a loop closure? I suspect there are none due to the shape of this trajectory. Also given the obvious errors these sigmas are too small, this might indicate that the measurement covariances are too small, try 10 times as large.</p>
			</div>
			<div id = "comment-19140" class = "comment">
				<p>No there is no loop closure, and i forgot to mention one thing that the simulation is initialized with the GPS and a dropout is set after 150 frames</p>
			</div>
			<div id = "comment-21080" class = "comment">
				<p>Hello again, i do know that i already asked this question, but i tried to plot the covariance and i would like to know your opinion about it, the resilts i am getting are not what i was expecting. Please go through the link below and check the data provided. I will be grateful for your help.

http://robotics.stackexchange.com/questions/11854/covariance-analysis</p>
			</div>
			</div>
				<textarea id = "speech-10531" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10531">
					<img id="start_img-10531" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10531">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>