<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>covariance matrix in EKF?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2365" class = "post">
			<h2>Question</h2>
			<div id="vote-2365" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1534</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>covariance matrix in EKF?</h2>
<p>I'm struggling with the concept of covariance matrix. 
$$
\Sigma
= 
\begin{bmatrix}
\sigma_{xx} &amp; \sigma_{xy} &amp; \sigma_{x \theta} \\
\sigma_{yx} &amp; \sigma_{yy} &amp; \sigma_{y \theta} \\
\sigma_{\theta x} &amp; \sigma_{\theta y} &amp; \sigma_{\theta \theta} \\
\end{bmatrix}
$$
Now, my understanding for $\sigma_{xx}$, $\sigma_{yy}$, and $\sigma_{\theta \theta}$ that they describe the uncertainty. For example, for $\sigma_{xx}$, it describes the uncertainty of the value of x. Now, my question about the rest of sigmas, what do they represent? What does it mean if they are zeros? I can interpret that if $\sigma_{xx}$ is zero, it means I don't have uncertainty about the value of x. </p>

<hr>

<p>Note, I'm reading <a href="http://mitpress.mit.edu/books/principles-robot-motion">Principles of Robot Motion - Theory, Algorithms, and Implementations</a> by Howie Choset et. al., which states that</p>

<blockquote>
  <p>By this definition $\sigma_{ii}$ is the same as $\sigma_{i}^{2}$ the variance of $X_{i}$. For $i   j$, if $\sigma_{ij} = 0$, then $X_{i}$ and $X_{j}$ are independent of each other.</p>
</blockquote>

<p>This may answer my question if the rest of sigmas are zeros however, I'm still confused about the relationship between these variables for example $x$ and $y$. When does this happen? I mean the correlation between them. Or in other words, can I assume them to be zeros?</p>

<p>Another book namely <a href="http://www.amazon.ca/FastSLAM-Scalable-Simultaneous-Localization-Robotics/dp/3540463992">FastSLAM: A Scalable Method ...</a> by Michael and Sebastian which states </p>

<blockquote>
  <p>The off-diagonal elements of the covariance matrix of this
  multivariate Gaussian encode the correlations between pairs of state
  variables.</p>
</blockquote>

<p>They don't mention when the correlation might happen and what does it mean?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2365" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-2365">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2365" class = 'collapse'>
			</div>
				<textarea id = "speech-2365" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2365">
					<img id="start_img-2365" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2365">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2378"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2378" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To get a feeling for the covariance matrix - without getting into the math details here - its best to start with a 2x2 matrix. Then remember that the covariance matrix is an extension of the concept of variance into the multivariate case. In the 1D case, variance is a statistic for a single random variable. If your random variable has a Gaussian distribution with zero mean, its variance can precisely define the probability density function. </p>

<p>Now, if you extend this to two variables instead of one, you can differentiate between two cases. If your two variables are independent, which means the outcome of one value has no relation to the other value, its basically the same as in the 1D case. Your $\sigma_{xx}$ and your $\sigma_{yy}$ give the variance of the $x$ and $y$ part of your random variable, and $\sigma_{xy}$ will be zero. </p>

<p>If your variables are dependent this is different. Dependent means that there is a relation between the outcome of $x$ and $y$. For example you could have that whenever $x$ is positive, $y$ is in general more likely to also be positive. This is given by your covariance value $\sigma_{xy}$.</p>

<p>Giving an example for a robot in a 2D case without orientation is a bit contrived, but lets say you have a random component along the travel direction on the $x$-axis and you know that this component also generates a drift on your lateral axis ($y$). This could for example be a faulty wheel. This will result in a rotated uncertainty ellipse. Now for e.g. when you later have something that measures your actual $x$ position, you can estimate the uncertainty distribution on your $y$ component. </p>

<p>A more relevant example is in the 3D case, where usually you have a different uncertainty along the transversal direction compared to the lateral direction. When you rotate your system (so changing $\theta$) this will also rotate your uncertainty ellipse. Note that the actual representation is usually some banana shape, and the Gaussian is only an approximation. In the EKF case its a linearization around the mean.</p>

<p>One really good way to visualize this is to use the concept of the uncertainty ellipse. It basically shows the $1 \sigma$ boundary for a multivariate Gaussian distribution, and can be used to visualize a Covariance matrix. A quick search brought up <a href="http://demonstrations.wolfram.com/EllipseRepresentingTheConfidenceRegionOfACovarianceMatrix/" rel="nofollow">this demo</a> which will also provide you with some additional insight into how the covariance is built. In essence, the diagonal entries define the extents of the axis, while the off-diagonal entries relate to the rotation of the entire ellipse. </p>

<p>This is also true in the 3D case. I would love to get more mathematical here, but maybe some time later.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2378" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-2378">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2378">Load Comments</button></br>
			<div id = "commentsection-2378" class = 'collapse'>
			<div id = "comment-4656" class = "comment">
				<p>thanks for the reply. In reality, when does the correlation happen? Let's at least talk about a robot that moves in 2D (which the $\Sigma$ in my post represents the covariance matrix for this robot). How might the value of $x$ affect the value of $y$? I don't have problem with the diagonal elements since they clearly represent the uncertainty for each element.</p>
			</div>
			<div id = "comment-4670" class = "comment">
				<p>@CroCo I think the example that you are asking for is described in the fourth paragraph of the answer.</p>
			</div>
			</div>
				<textarea id = "speech-2378" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2378">
					<img id="start_img-2378" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2378">Comment</button>
			<br><div id = "ans-2380"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2380" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here is one toy case where off-diagonal elements are non-zero.</p>

<p>Consider a state vector that includes the position of both the left and right wheels instead of just a single position for the robot. Now if the left wheel has a position of 100m then you know the right wheel will also have a position of roughly 100m (depending on the axle length). As the left wheel increases position so will the right wheel, in general. It's not an exact 1:1 correlation, e.g. it doesn't hold exactly when the robot is turning, but overall it holds.</p>

<p>So here the off-diagonal entry between left wheel x-position and right wheel x-position would be close to 1.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2380" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-2380">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2380">Load Comments</button></br>
			<div id = "commentsection-2380" class = 'collapse'>
			<div id = "comment-4668" class = "comment">
				<p>Ok, if my model is represented as a point that moves in a planar environment (e.i. 2D), so the off-diagonal elements are zeros since there is no such correlations between the diagonal elements. Is this assumption correct? And what about in case this point detects a landmark that has two coordinates (e.i. $x, y$), can I also assume the correlation zeros?</p>
			</div>
			<div id = "comment-4673" class = "comment">
				<p>To your first question, yes you can leave the off-diagonal elements zero. For the second, it kind of depends on how you handle it. If you just use the landmark to estimate your current position there are no correlations. If you add the landmark positions to the state vector (as is common in SLAM) then they will start to develop correlations between themselves.</p>
			</div>
			</div>
				<textarea id = "speech-2380" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2380">
					<img id="start_img-2380" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2380">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>