<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Create 2 CAD files
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8457" class = "post">
			<h2>Question</h2>
			<div id="vote-8457" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 182</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Create 2 CAD files</h2>
<p>I found CAD files for the Create on the <a href="http://download.ros.org/downloads/turtlebot/" rel="nofollow">ROS TurleBot download page</a> (<a href="http://download.ros.org/downloads/turtlebot/TurtleBot-Hardware-2011-07-23.zip" rel="nofollow">.zip</a>),
and shells on the <a href="https://bitbucket.org/osrf/gazebo_models/src/e024fe922c810f468e2a7ab277750354465478cd/create/?at=default" rel="nofollow">gazebo sim page</a>. </p>

<p>Any ideas where the files for the Create 2 could be found?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8457" data-toggle = "popover">
				<p>user name : phreed</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-8457">{'None': 0, 'design': 0, 'irobot-create': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8457">Load Comments</button></br>
			<div id = "commentsection-8457" class = 'collapse'>
			<div id = "comment-13702" class = "comment">
				<p>Did you try asking iRobot over email?</p>
			</div>
			<div id = "comment-14671" class = "comment">
				<p>I asked but I got no response.</p>
			</div>
			<div id = "comment-14672" class = "comment">
				<p>When I reach a dead end searching for CAD models I just make one myself as Steve suggested in his answer.</p>
			</div>
			</div>
				<textarea id = "speech-8457" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8457">
					<img id="start_img-8457" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8457">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8460"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8460" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The CAD you pointed out is for the Turtlebot, and includes electromechanical CAD for that assembly. I only spot-checked a few files, but the only Create-relevant CAD in that package I found was an STL of the robot's outer dimensions. The Create 2 manual should have enough information for someone to produce a solid model of similar precision, but I do not believe iRobot has released a shell for the robot, yet. Maybe you should make one and put it on a site like Thingiverse? There are other designs by iRobot that can be found there for various parts of the robot, like the bin.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8460" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-8460">{'None': 50}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8460">Load Comments</button></br>
			<div id = "commentsection-8460" class = 'collapse'>
			<div id = "comment-13703" class = "comment">
				<p>iRobot's Thingiverse page can be found here (http://www.thingiverse.com/irobot/designs); I imagine that if they were to release any other CAD, it would appear there, too.</p>
			</div>
			</div>
				<textarea id = "speech-8460" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8460">
					<img id="start_img-8460" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8460">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>