<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Create 2 kill switch?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11611" class = "post">
			<h2>Question</h2>
			<div id="vote-11611" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 26</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Create 2 kill switch?</h2>
<p>Any ideas on ways to install a kill switch on the Create 2?  I saw how the battery attaches to the main board with springs, so that blocks me from using a plain old battery switch.  Are there any test points that can be grounded to shut down when in full mode?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11611" data-toggle = "popover">
				<p>user name : roomba roommate</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11611">{'None': 0, 'irobot-create': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11611">Load Comments</button></br>
			<div id = "commentsection-11611" class = 'collapse'>
			<div id = "comment-20806" class = "comment">
				<p>See also: [Add hardware reset button for Create2](http://robotics.stackexchange.com/questions/8001/add-hardware-reset-button-for-create2)</p>
			</div>
			</div>
				<textarea id = "speech-11611" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11611">
					<img id="start_img-11611" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11611">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11616"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11616" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Something I've always wanted to try (but never have) is to use two pieces of copper tape, back-to-back (with something thin and insulating like packing tape between them) to interrupt the connection between the one of the spring terminals and one of the battery contacts. Then, this thin conductor sandwich could be brought out to somewhere more convenient to install a kill switch. (You could solder wires to the copper tape once you're somewhere less constrained.) Let us know how it goes!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11616" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-11616">{'None': 50}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11616">Load Comments</button></br>
			<div id = "commentsection-11616" class = 'collapse'>
			<div id = "comment-20801" class = "comment">
				<p>I guess it would be an insulator sandwich; the copper tape conductors would be the bread. But I digress.</p>
			</div>
			</div>
				<textarea id = "speech-11616" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11616">
					<img id="start_img-11616" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11616">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>