<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Create 2 light red~green
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9305" class = "post">
			<h2>Question</h2>
			<div id="vote-9305" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Create 2 light red~green</h2>
<p>I am working on a project with the Create 2. Just recently I have run into a problem with the battery state. The Create 2 has been charging all night so its clean light shows green. However, when I unplug it and press the clean button, it shows red and will not consistently run commands from my Arduino that I have hooked up to it. </p>

<p>What could be the problem?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9305" data-toggle = "popover">
				<p>user name : robotCoder</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9305">{'battery': 1, 'None': 0, 'irobot-create': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9305">Load Comments</button></br>
			<div id = "commentsection-9305" class = 'collapse'>
			<div id = "comment-16478" class = "comment">
				<p>How old is your robot / battery?</p>
			</div>
			<div id = "comment-16483" class = "comment">
				<p>Not quite the same issue, but take a look at my answer to [iRobot Create: Making Noise and Flashing Red Light While Charging](http://robotics.stackexchange.com/questions/9206/irobot-create-making-noise-and-flashing-red-light-while-charging/9207#9207). As Ben implies, it sounds like the battery is dead or dying...</p>
			</div>
			<div id = "comment-16567" class = "comment">
				<p>Check what the battery charge is when "fully charged" via OI sensor packet 25.
Also try resetting the robot and letting it charge again.</p>
			</div>
			</div>
				<textarea id = "speech-9305" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9305">
					<img id="start_img-9305" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9305">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9493"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9493" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Red means that your battery is either truly dead, or the Create mistakenly thinks it is. To figure out which it is:</p>

<ol>
<li>Remove the battery and put it back in after about 30 seconds.</li>
<li>Run the motors (you can just press Clean to start a demo) until the battery is fully drained. </li>
<li>Charge it overnight. </li>
</ol>

<p>At this point the battery's true state should be reflected in the LED color. If it's still red, then you will need a new battery.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9493" data-toggle = "popover">
				<p>user name : Andrea</p>
				<p> user reputation : 209</p>
				<p class = "tagcontent" id = "usertaginfo-9493">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9493" class = 'collapse'>
			</div>
				<textarea id = "speech-9493" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9493">
					<img id="start_img-9493" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9493">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>