<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Create 2: Wheel interface board replacement
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8816" class = "post">
			<h2>Question</h2>
			<div id="vote-8816" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Create 2: Wheel interface board replacement</h2>
<p><a href="http://www.irobotweb.com/~/media/MainSite/PDFs/About/STEM/Create/Create_2_Wheel_Hack.pdf?la=en" rel="nofollow">http://www.irobotweb.com/~/media/MainSite/PDFs/About/STEM/Create/Create_2_Wheel_Hack.pdf?la=en</a></p>

<p>Scroll to page 3.</p>

<p>I'm trying to interface the Roomba's preloaded navigation system with a pair of motors not attached to the roomba itself- however, to do this I need an interface board of the same dimensions as the one pictured in the above document. It has 0.050" (1.27) contact centers, which don't seem to be commercially available. Can anyone provide any help locating PCBs of this size?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8816" data-toggle = "popover">
				<p>user name : Bakesril</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8816">{'roomba': 4, 'None': 0, 'navigation': 4, 'irobot-create': 4, 'electronics': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8816" class = 'collapse'>
			</div>
				<textarea id = "speech-8816" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8816">
					<img id="start_img-8816" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8816">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8829"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8829" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here are a few ideas:</p>

<ol>
<li>Buy 0.050" spacing prototyping board. For example, here are some possible boards that could work on <a href="http://www.digikey.com/product-search/en?pv89=329&amp;pv89=337&amp;FV=fff40024%2Cfff800d4&amp;k=vector&amp;mnonly=0&amp;newproducts=0&amp;ColumnSort=0&amp;page=1&amp;quantity=0&amp;ptm=0&amp;fid=0&amp;pageSize=25" rel="nofollow">Digi-Key</a>.</li>
<li>Use a PCB prototyping service and fabricate the board you're looking for; this would have the advantage that you could add other circuits to the panel that you may need for your project.</li>
<li>Remove the boards from the wheel modules and use those. iRobot sells new ones on their website; you might also be able to get them from broken robots on eBay, or perhaps someone at iRobot could help if you e-mail them.</li>
</ol>

<p>Hope this helps!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8829" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-8829">{'None': 50}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8829" class = 'collapse'>
			</div>
				<textarea id = "speech-8829" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8829">
					<img id="start_img-8829" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8829">Comment</button>
			<br><div id = "ans-8839"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8839" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have any old PCI Bus cards on hand, eg an old modem, with a jeweler's saw you can trim off a bit of the card edge connector for use as an interim connector.  Here's a drawing (part of a picture from <a href="http://www.multi-circuit-boards.eu/en/pcb-design-aid/design-parameters/pc-pci-boards.html" rel="nofollow noreferrer">PC PCI boards</a> at multi-circuit-boards.eu)   </p>

<p><a href="https://i.stack.imgur.com/gpWbB.gif" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/gpWbB.gif" alt="dimensions - PCI"></a> <a href="https://i.stack.imgur.com/LKMuC.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/LKMuC.jpg" alt="picture of card edge"></a></p>

<p>The important detail in that drawing is that the card edge connector fingers are spaced 1.27 mm, or 0.050", apart.   The smaller picture shows a small section of a PCI board, similar to what you can cut out from an old modem.  If you don't have a jeweler's saw (which is like a small coping saw, but with a fine-tooth blade, eg 50 TPI) use whatever means you like to cut a piece out, then smooth its edges with sandpaper or a file.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8839" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8839">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8839" class = 'collapse'>
			</div>
				<textarea id = "speech-8839" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8839">
					<img id="start_img-8839" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8839">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>