<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>create2 reading sensor date does not always work
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7189" class = "post">
			<h2>Question</h2>
			<div id="vote-7189" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 214</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>create2 reading sensor date does not always work</h2>
<p>I noticed that the create2 does not always provide sensor data while it's moving. Am I supposed to stop the robot, request sensor data then start it again? or am I missing something? it seems to work most of the time but once in a while I get no data back. I am trying to make it move from one point to another by starting it and then reading distance to see how far it travels every .1 seconds but sometimes it I just keeping getting no data.</p>

<p>I noticed this using python and C code as well.</p>

<p>I am using the USB port with the bit rate they recommend (115200).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7189" data-toggle = "popover">
				<p>user name : Jack</p>
				<p> user reputation : 24</p>
				<p class = "tagcontent" id = "usertaginfo-7189">{'c': -1, 'python': 1, 'None': 0, 'c++': -1, 'irobot-create': 4, 'software': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7189">Load Comments</button></br>
			<div id = "commentsection-7189" class = 'collapse'>
			<div id = "comment-10233" class = "comment">
				<p>Does it have the problem when you change the serial bps from the default to a slower value (eg 19200 bps or 38400) ?</p>
			</div>
			<div id = "comment-10241" class = "comment">
				<p>I use what they recommend (115200). does it work at all at lower than this reliably?</p>
			</div>
			<div id = "comment-10243" class = "comment">
				<p>Page 4 of create_2_Open_Interface_Spec.pdf lists two ways to switch from 115200 to 19200 without involving use of serial communication.  Page 8 tells how to select other rates via OI opcode 129.  I'm not suggesting you should change over to 19200 wholesale, just that if the problem goes away at a slower rate you could drop to 38400 or 57600.  Slower rates give the Roomba more time to handle each character</p>
			</div>
			<div id = "comment-10247" class = "comment">
				<p>Are you getting data that is 0s, or actually no data?</p>
			</div>
			<div id = "comment-10254" class = "comment">
				<p>actually no data  at all</p>
			</div>
			<div id = "comment-10326" class = "comment">
				<p>On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			<div id = "comment-10338" class = "comment">
				<p>can you post some simple code that demonstrates the problem?</p>
			</div>
			</div>
				<textarea id = "speech-7189" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7189">
					<img id="start_img-7189" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7189">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>