<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Create a canonical Q&A for installing a blank OS without MAS with a link to a hosted copy of the installers
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2950" class = "post">
			<h2>Question</h2>
			<div id="vote-2950" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 37</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Create a canonical Q&A for installing a blank OS without MAS with a link to a hosted copy of the installers</h2>
<p>I have been seeing a lot of questions like: "I want to install El Capitan, but I never got it from the App Store. How can I do this?"</p>

<p>The best option for this is "Get a friend with the installer." I have installers going back to Mavericks. Would it be useful and legal for me to create a Google Drive account where I could post these installers? The idea would be that I could create a canonical question/answer so that each time a question like this comes up, we can mark it as a duplicate of the question with a link to all of the installers.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2950" data-toggle = "popover">
				<p>user name : NoahL</p>
				<p> user reputation : 1867</p>
				<p class = "tagcontent" id = "usertaginfo-2950">{'None': 4, 'spam': 8, 'discussion': 13, 'canonical-questions': -3, 'closed-questions': 8, 'questions': 8, 'flagging': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2950">Load Comments</button></br>
			<div id = "commentsection-2950" class = 'collapse'>
			<div id = "comment-6404" class = "comment">
				<p>How would anyoine know they did not have trojans or viruses added?</p>
			</div>
			<div id = "comment-6405" class = "comment">
				<p>@Mark Is there not a way to verify the apps? Either because they are signed by Apple or by having an antivirus scan them while they are in Google Drive? I know that they do not contain viruses (being that I own them and have used them regularly), but I want to be able to prove it to anyone who wants to download them.</p>
			</div>
			<div id = "comment-6406" class = "comment">
				<p>Alternatively, I could put a disclaimer on the question, noting that anyone should run an antivirus scan on the file before opening it.</p>
			</div>
			<div id = "comment-6407" class = "comment">
				<p>Which anti virus scan - and are any 100% OK - basic rulew is only download from the author and even then check</p>
			</div>
			<div id = "comment-6408" class = "comment">
				<p>@Mark I understand the security concerns. I also understand that people have a hard time getting their hands on these installers. I'm trying to provide easy access to these installers without sacrificing security. Can you think of any good ways to do this? Also, is the fact that the app is signed by Apple (and its checksum returns ok) an ok indicator that it hasn't been tampered with?</p>
			</div>
			</div>
				<textarea id = "speech-2950" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2950">
					<img id="start_img-2950" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2950">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2951"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2951" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Getting an illegal copy off a random person is <strong>not</strong> the best way. One should use the official links from Apple to obtain a copy, or there are alternative methods such as Internet Recovery.</p>

<p>Any such questions can be marked as duplicate of the existing questions with viable questions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2951" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2951">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2951" class = 'collapse'>
			</div>
				<textarea id = "speech-2951" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2951">
					<img id="start_img-2951" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2951">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>