<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Creating an xbox remote that replaces spectrum dx3c or dx3e without wifi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6488" class = "post">
			<h2>Question</h2>
			<div id="vote-6488" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 35</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Creating an xbox remote that replaces spectrum dx3c or dx3e without wifi</h2>
<p>Hello I'm a new rc enthusiast, </p>

<p>Is anyone interested in rc's controlled through xbox remotes? The project is to use an xbox one or xbox 360 remote to either hijack a dx3e or dx3c remote or create a transmitter compatible with the spectrum receiver out of the xbox remotes. I've seen applications that use wifi but I'm not sure thats the route I'm looking for. From what I've read there is limited range and signal loss through the wifi network plus It may create a lag larger than what would be desirable in racing. The rc is a losi scte short course race truck. I'm not to savvy with electronic jargon but will study and learn what I can. Thanks for your thoughts.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6488" data-toggle = "popover">
				<p>user name : user8999</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-6488">{'brushless-motor': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6488" class = 'collapse'>
			</div>
				<textarea id = "speech-6488" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6488">
					<img id="start_img-6488" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6488">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6490"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6490" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Look at using the trainer port. The 3C and 3E do not have them, but 4channel aircraft radios will.  You can send PWM to that trainer port to achieve the functionality you seek.</p>

<p>Of course you can take the more difficult step of wiring in replacements for the radios internal joysticks, but that is a destructive mod, ie the radio can not be used stock again.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6490" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6490">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6490">Load Comments</button></br>
			<div id = "commentsection-6490" class = 'collapse'>
			<div id = "comment-9361" class = "comment">
				<p>Thanks I will look into the PWM. I am willing to reconfigure the radio out of stock. The xbox are analog if I'm not mistaken. I'm not sure how to convert analog to the radio yet. I'm not to savvy with electronics yet but have to start somewhere. Have any tips or thoughts on that? Reading the manual there is an sd card slot on the radio and what looks like an 8 pin connection under the the grip of the dx3c. There is also an 8 pin in the dx3e but slightly diff. Any thoughts on those? I will have to tear it down to see what they connect to but I'm on the road now.</p>
			</div>
			<div id = "comment-9362" class = "comment">
				<p>No sorry. I have dx3r-pro but it hasnt even been charged in 3 years. Sounds like you recognize the fist step, figure out how the current radio trigger / wheel work. If it is digital it still should easy to make a ATTiny or something like that read analog and emulate digital. Good luck.</p>
			</div>
			</div>
				<textarea id = "speech-6490" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6490">
					<img id="start_img-6490" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6490">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>