<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Crimp or Solder to LiPo Battery?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2794" class = "post">
			<h2>Question</h2>
			<div id="vote-2794" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 343</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Crimp or Solder to LiPo Battery?</h2>
<p>So, I'm planning out my second hobby robot(I'm 15). I am planning on using a 7.4V LiPo battery and my idea is to solder on a 3-pin header to connect to the electronics. Anyways, should I solder to crimp terminals and then attach it to the pack? Or should I solder directly to the battery leads Keep in mind I have a decent background in hobby electronics and am just starting with robotics. My soldering skills are also decent!</p>

<p>Thanks!!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2794" data-toggle = "popover">
				<p>user name : Zack Frost</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-2794">{'battery': 2, 'mobile-robot': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2794" class = 'collapse'>
			</div>
				<textarea id = "speech-2794" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2794">
					<img id="start_img-2794" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2794">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2795"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2795" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I find it's always cleaner to use connectors rather than soldering directly to leads, no matter what component you're trying to attach to your robot. You have to think about things in terms of maintenance. If a battery goes kaput (technical term :D) and you soldered directly to the leads, you'll have to desolder and solder again. If you used a connector, you simply pop out the battery and replace it with a new one. </p>

<p>If you want to take your designs to the next level, you should start planning where your wires will be routed through the chassis, covering them with wire loom, spiral wraps, cable carrier, cable ducts or even just cable ties w/ cable tie holders (google wire management products and you'll find even more options). The ideal situation is when the wiring throughout your chassis is static and never replaced or moved (except when a wire is the point of failure). To replace any part or to work/modify it, all you should have to do is unplug connectors.</p>

<p>As a final note, ALWAYS color code your wires: Red = +12V, Black = Gnd, Orange = +5V, Yellow = +3.3V, Green = Sensor Signals, Blue = Communication lines...you get the picture. You can define them any way you'd like (although I'd recommend to stick w/ red = power, black = gnd) as long as you're consistent. On the other hand, NEVER assume someone else has color coded their wiring. This has bitten me in the rear because I had assumed red would be power and black would be ground, but I was mistaken. The extra time you take in the beginning to do things cleanly will save you hours if not days later on in the project.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2795" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-2795">{'None': 54}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2795">Load Comments</button></br>
			<div id = "commentsection-2795" class = 'collapse'>
			<div id = "comment-5178" class = "comment">
				<p>I should mention that connectors of course increase the size of your robot, so when space is a major constraint, soldering directly to leads may be the better option.</p>
			</div>
			<div id = "comment-5179" class = "comment">
				<p>So, in that case... Can I use "Quick-Connect" terminals for that purpose?</p>
			</div>
			<div id = "comment-5180" class = "comment">
				<p>I would Google Molex connectors. They're pretty popular and have a huge selection of options. Quick connects are certainly valid, but you might want something with a clip to lock your power connection to ensure it doesn't separate for some reason. This may or may not be a concern depending on your robots application</p>
			</div>
			</div>
				<textarea id = "speech-2795" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2795">
					<img id="start_img-2795" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2795">Comment</button>
			<br><div id = "ans-2796"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I must agree with Andrew Capodieci in that you should use a connectors and 1 mm headers (or whatever the balance lead is). There is a good chance that at some point you will want to remove the battery to replace it/inspect it for damage or whatnot.</p>

<p>If I had to do one of the two, then I would crimp for low current applications, and solder for high current. Crimping is probably fine for small robots, but I wouldn't dream of it for anything that wouldn't fit in a 20 cm cube or especial anything aerial. However, using a connector would be the best option in both situations. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2796" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-2796">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2796" class = 'collapse'>
			</div>
				<textarea id = "speech-2796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2796">
					<img id="start_img-2796" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2796">Comment</button>
			<br><div id = "ans-2797"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2797" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Really, the decision of whether to crimp or to solder comes from the thickness of the wire.  Thin wire is too brittle to be crimped, and must be soldered.  However, iff the wire is too thick then a soldering iron can't apply heat faster than the wire dissipates it (and the jacket will melt long before your solder does). At that point, your options are to use a torch (like in pipe soldering) or to crimp the connections.  </p>

<p>For our batteries, we spot-welded nickel plates to the tops and bottoms of Li-ion 18650 cells to make battery packs, and then added crimp terminals to the connections between packs.</p>

<p>Crimp connections done properly are very reliable -- most residential wiring uses some form of a crimp connector.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2797" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2797">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2797" class = 'collapse'>
			</div>
				<textarea id = "speech-2797" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2797">
					<img id="start_img-2797" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2797">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>