<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Damping vs Friction
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10029" class = "post">
			<h2>Question</h2>
			<div id="vote-10029" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 262</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Damping vs Friction</h2>
<p>I am using a physics simulator to simulate a robot arm. For a revolute joint in the arm, there are two parameters which need to be specified: damping, and friction. If a torque is applied to the joint, both the damping and the friction seem to reduce the resultant force on the torque. But what is the difference between the damping and the friction?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10029" data-toggle = "popover">
				<p>user name : Karnivaurus</p>
				<p> user reputation : 328</p>
				<p class = "tagcontent" id = "usertaginfo-10029">{'control': 10, 'walking-robot': 4, 'simulator': 0, 'torque': 4, 'slam': 0, 'robotic-arm': 20, 'mobile-robot': 0, 'dynamics': 17, 'forward-kinematics': 7, 'manipulator': 10, 'accelerometer': 4, 'kinematics': 29, 'jacobian': 16, 'policy': 1, 'actuator': 4, 'None': 0, 'inverse-kinematics': 18, 'localization': 0, 'mapping': 0, 'sensors': 4, 'simulation': 0, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10029" class = 'collapse'>
			</div>
				<textarea id = "speech-10029" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10029">
					<img id="start_img-10029" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10029">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10030"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10030" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Friction would be your standard "sliding friction", and exerts a force opposing the motion, proportional to the load (or the normal-force of the load, when talking about your classic sliding), but independent of velocity.</p>

<p>I suspect that "damping" is referring to viscous friction, which is not independent of velocity. Viscous friction would exert a force opposing the motion, typically independent of the load, but increasing with velocity. In a rotary joint, it is typically caused by the packing grease in the bearings.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10030" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 321</p>
				<p class = "tagcontent" id = "usertaginfo-10030">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10030" class = 'collapse'>
			</div>
				<textarea id = "speech-10030" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10030">
					<img id="start_img-10030" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10030">Comment</button>
			<br><div id = "ans-10031"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10031" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A force balance equation is typically written as:</p>

<p>$$
m\ddot{x} + b\dot{x} + k{x} = F \\
$$</p>

<p>where $F$ is an applied force, $x$ is position, $\dot{x}$ is velocity (first <a href="https://en.wikipedia.org/wiki/Derivative">derivative</a> of position), and $\ddot{x}$ is acceleration (second derivative of position). $m$ is <a href="https://en.wikipedia.org/wiki/Newton%27s_laws_of_motion">mass</a>, $k$ is a <a href="https://en.wikipedia.org/wiki/Hooke%27s_law">spring constant</a>, and $b$ is a <a href="https://en.wikipedia.org/wiki/Damping">viscous damping</a> term. </p>

<p>This force balance is one of the fundamental equations hammered into all mechanical engineers. Each term represents a particular force contribution, and the derivative terms in the equation dictate an <a href="https://en.wikipedia.org/wiki/Oscillation#Mechanical">oscillatory</a> or <a href="https://en.wikipedia.org/wiki/Simple_harmonic_motion">harmonic solution</a>.</p>

<p>Friction forces (also called <a href="https://en.wikipedia.org/wiki/Friction#Dry_friction">"dry" or "Coulomb" friction</a>) aren't listed explicitly here; they're generally lumped into the "applied force" term ($F$). Generally, from physics, $F_{\mbox{friction}} = \mu(mg)$, which is read to mean that friction force is some <a href="https://en.wikipedia.org/wiki/Friction#Coefficient_of_friction">factor $\mu$</a> that "keeps" a fraction of the weight (a force) of the object being affected by friction. </p>

<p>Unlike springs, damping and friction are losses because there's essentially no way to mechanically recover the energy lost to those terms. There's no energy storage with dampers and friction like there is with a spring, so none of that energy is restored. </p>

<p>So, to summarize, </p>

<ol>
<li>Friction coefficient gives a force based on how heavy the object is. </li>
<li>Damping coefficient gives a force based on how <em>fast</em> an object is moving.</li>
</ol>

<p>Consider the energy terms, where everything takes the same path ($\Delta x$). If you calculate energy $E = \int F dx$ (using constant speeds, etc.) then you get:</p>

<p>$$
E_{\mbox{friction}} = \mu (mg) \Delta x \\
E_{\mbox{damping}} = b\dot{x} \Delta x \\
$$</p>

<p>So the only way to reduce friction losses is to reduce the weight or to reduce the friction coefficient. This is typically done with wheels, low-friction materials, etc. </p>

<p>The only way to reduce damping losses is to reduce speed or to reduce the damping coefficient. This is typically done by changing fluids - it's a lot harder to run through water than it is to run through air, but there's very little difference when you move slowly. </p>

<p>Determining these coefficients for a rotating system based only on kinematics and free body diagrams is not easy. If you have a device in front of you, you could try to calculate the rotating the joint at different speeds and plotting the energy losses versus speed. </p>

<p>Assuming the joint is the only load, the speed should stabilize at a point where internal losses equal the applied power. As you change speed the friction losses stay constant, but the viscous losses increase. When you plot applied torque (or input power divided by speed) versus speed for the unloaded system, the friction losses will be the y-intercept and the damping (viscous losses) will be the slope.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10031" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10031">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10031">Load Comments</button></br>
			<div id = "commentsection-10031" class = 'collapse'>
			<div id = "comment-17869" class = "comment">
				<p>This answer is an order of magnitude better than mine . . .</p>
			</div>
			<div id = "comment-17871" class = "comment">
				<p>@Mark - Your answer is very to-the-point; you exactly answered OP's question. Kudos for being concise! I added some more detail to help explain a little more background, but that also made it a bit of a wall of text.</p>
			</div>
			</div>
				<textarea id = "speech-10031" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10031">
					<img id="start_img-10031" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10031">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>