<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dc motor pid -position control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13901" class = "post">
			<h2>Question</h2>
			<div id="vote-13901" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 20</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dc motor pid -position control</h2>
<p>will this motor give me a good accuracy with high torque for position control.
i am doing this for a 4 legged robot,the robot will weight about 30 kg.
i want to know if the motor might vibrate or overheat with load,and will it keep accuracy with high loads?
12 V 25 mm 100 Rpm with encoder 99:1 gear ratio DC Motor -PL 3219.
Operation Voltage: 12V
Speed: 100 Rpm
Free-run Current: 300mA
Stall Current: 5.6A
Reduction Diameter: 25mm
Shaft: 4mm D Shaft
Shaft Length: 12.5mm
Stall Torque: 21 kg-cm
In its sheet they are saying the Stall Torque: is 21- kg/cm.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13901" data-toggle = "popover">
				<p>user name : Abdull</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-13901">{'control': 0, 'None': 1, 'robotic-arm': 0, 'pid': 0, 'microcontroller': 1, 'precise-positioning': 0, 'legged': 0, 'servomotor': 1, 'motor': 0, 'mobile-robot': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13901" class = 'collapse'>
			</div>
				<textarea id = "speech-13901" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13901">
					<img id="start_img-13901" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13901">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>