<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>DC motor shaft and gear installation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8728" class = "post">
			<h2>Question</h2>
			<div id="vote-8728" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 765</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DC motor shaft and gear installation</h2>
<p>I'm hoping to use a DC motor to drive a cog bar horizontally along a track. AFAIK, I'd need to install a (plastic) cog on the motor shaft, which itself grips on the (plastic) cog bar. Does anyone know how to prevent the cog from shifting on the shaft? The shaft is 10mm long and I'd like to make sure the cog cog sits at 5mm, where the cog bar is.</p>

<p>Any help will be appreciated.</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8728" data-toggle = "popover">
				<p>user name : Kar</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-8728">{'stability': 0, 'None': 0, 'linear-bearing': 4, 'torque': 1, 'gearing': 1, 'tracks': 4, 'motor': 6, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8728">Load Comments</button></br>
			<div id = "commentsection-8728" class = 'collapse'>
			<div id = "comment-14302" class = "comment">
				<p>There are a few different techniques for attaching gears to motor shafts and different gears tend to be designed for a specific technique. A picture or link would help.</p>
			</div>
			</div>
				<textarea id = "speech-8728" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8728">
					<img id="start_img-8728" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8728">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8730"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8730" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The term I'd use for cog-bar and cog is <a href="https://en.wikipedia.org/wiki/Rack_and_pinion" rel="nofollow">rack and pinion</a>.</p>

<p>Plastic pinions are usually press-fit if they are very small or use set screws if they are just small. </p>

<p>I assume you are asking the question because the pinion is sliding on the motor shaft. Use epoxy. Use one that takes some time to cure so that you can position the pinion without worry. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8730" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8730">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8730">Load Comments</button></br>
			<div id = "commentsection-8730" class = 'collapse'>
			<div id = "comment-14307" class = "comment">
				<p>Thanks. Apologies for the misuse of terminology. Usually, should a pinion like [this](http://teamnovak.com/shop/images/5116_mod1_5mm_22T_gear500px.jpg) be used which has a screw hole? Should the smaller end be pushed all the way to the inside end of the shaft? If so, wouldn't the pinion rub against the gearbox plate?</p>
			</div>
			<div id = "comment-14310" class = "comment">
				<p>A pinion with a set screw like you show should work fine. Your bigger challenge will be to mount the motor pinion assembly so that it remains aligned with the rack.</p>
			</div>
			<div id = "comment-14311" class = "comment">
				<p>Could the pinion touch the outside of the gearbox or should there be a gap? Indeed, is there a standard approach to aligning the rack with the pinion?</p>
			</div>
			<div id = "comment-14313" class = "comment">
				<p>No gap will be OK but watch out for friction from the pinion touching the motor frame. There is not really any standard approach.</p>
			</div>
			</div>
				<textarea id = "speech-8730" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8730">
					<img id="start_img-8730" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8730">Comment</button>
			<br><div id = "ans-8743"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8743" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If the pinion will be close to the gearbox plate, use a washer or <a href="https://en.wikipedia.org/wiki/Thrust_bearing" rel="nofollow noreferrer">thrust bearing</a> between the pinion and plate.  The washer can be made from teflon or polyethylene sheet, or you could use thin steel washers.  <a href="https://en.wikipedia.org/wiki/Shaft_collar" rel="nofollow noreferrer">Shaft collars</a> also can be used to keep the pinion from shifting in and out, but a pinion with a setscrew (as pictured below) would be more compact.  An <a href="http://www.aliexpress.com/item/N20-DC6V-100RPM-Gear-Motor-Miniature-High-Torque-Gear-Box-Motor/32337727477.html?spm=2114.01020208.3.64.a8rHF5&amp;ws_ab_test=searchweb201556_2,searchweb201644_4_79_78_77_82_80_62_81,searchweb201560_8" rel="nofollow noreferrer">N20 gear motor</a> apparently has a 3 mm diameter shaft; one of the shaft collars below is 3 mm. The pictured thrust bearing is 2.5 mm bore.</p>

<p><a href="https://i.stack.imgur.com/VG8zd.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/VG8zd.png" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8743" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8743">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8743" class = 'collapse'>
			</div>
				<textarea id = "speech-8743" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8743">
					<img id="start_img-8743" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8743">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>