<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>DC Motor to open a door
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8844" class = "post">
			<h2>Question</h2>
			<div id="vote-8844" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 187</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DC Motor to open a door</h2>
<p>I want to open a door using a DC motor. I've estimated that the required power in the worst case would be around 35-40W (considering a ~80% efficiency). The whole is controlled by a <a href="https://docs.particle.io/datasheets/photon-datasheet/" rel="nofollow">Particle Photon</a>.</p>

<p>I was thinking to use a <a href="https://www.sparkfun.com/products/9479" rel="nofollow">L298N</a> to control the output of current to the motor. However, when I looked for powerful enough motors, they would all consume too much current when stalling (> 4A part of the L298N datasheet).</p>

<p>Do you have ideas of how to overcome this? Maybe there's another dual-bridge that can handle more current, maybe there exists a DC motor that is ok for a L298N, or maybe I need to have simultaneous DC motors?</p>

<p>Edit: this part should be a question by itself. I'll keep it here so that future visitors know what the sub-question was about, but please ignore it from now on if answering.</p>

<blockquote>
  <p>As a sub-question, would it be better to use a brushed or a brushless DC motor?</p>
</blockquote>

			</div>
			<div class = "userinfosection"  id = "userinfo-8844" data-toggle = "popover">
				<p>user name : jonathanGB</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-8844">{'None': 0, 'protection': 2, 'h-bridge': 3, 'motor': 5, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8844">Load Comments</button></br>
			<div id = "commentsection-8844" class = 'collapse'>
			<div id = "comment-14550" class = "comment">
				<p>Your sub-question should really be a new question in it's own right.</p>
			</div>
			<div id = "comment-14557" class = "comment">
				<p>Yep that's true. Sorry.</p>
			</div>
			<div id = "comment-14559" class = "comment">
				<p>Feel free to ask a "How should I chose between a brushed or brushless motor?" question and add a reference to it in this question to keep them linked together, then we can ask jwpat7 to move their subsidiary answer to your new question.</p>
			</div>
			<div id = "comment-14560" class = "comment">
				<p>Incidentally, I would have given a very different answer to jwpat7, so it would definitely be worth asking the question. *8')</p>
			</div>
			<div id = "comment-14561" class = "comment">
				<p>I've edited the question. @mark do you have thoughts on the first question though?</p>
			</div>
			</div>
				<textarea id = "speech-8844" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8844">
					<img id="start_img-8844" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8844">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8847"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8847" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While there <em>are</em> other H-bridges that handle higher current and it might be cost-effective to just buy a higher-amperage pre-packaged ESC (electronic speed controller), you might also consider using higher-voltage motors (<a href="http://www.jameco.com/1/1/48659-ms5n-07500b-r-m-6440c367-24vdc-motor-2475-rpm-dc-direct-drive.html" rel="nofollow">1</a>, <a href="http://www.jameco.com/1/1/2528-gh35gh241640y-00-r-24v-dc-plastic-reversible-gear-head-motor.html" rel="nofollow">2</a>).  Adjust the voltage up or down as the H-bridge amperage limit allows.  </p>

<p>Also consider using a <a href="https://www.google.com/search?hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1404&amp;bih=881&amp;q=slip+clutch&amp;oq=slip+clutch&amp;gs_l=img.3..0l4j0i5i30j0i8i30l2j0i24l3.1240.1240.0.2434.1.1.0.0.0.0.158.158.0j1.1.0....0...1ac..64.img..0.1.157.aReU-8d9CCc" rel="nofollow">slip clutch</a> between the motor and the door operator.  It would allow the motor to keep running, instead of stalling, if door motion is blocked.  For trying the idea out, you could salvage the clutch or torque-control parts from an old battery-operated screwdriver.</p>

<p><em>Edit:</em></p>

<p>Regarding use of a brushed motor vs a brushless motor, I don't see this as an important issue unless you are going to build a significant number of door-openers, rather than a one-off.  But generally for a given amount of motor power, I'd expect lower cost, higher weight, and shorter life from brushed motors than from brushless motors.  </p>

<p>A brushless motor would require use of an ESC (<a href="http://www.digikey.com/en/articles/techzone/2013/mar/an-introduction-to-brushless-dc-motor-control" rel="nofollow">3</a>), while a typical brushed DC motor can just be switched on and off.  Both types of motors can be controlled by PWM signals.</p>

<p>If you use a gear motor, then gear train wear and tear (which doesn't a priori depend on motor type, but may depend on motor speed) may be more of a limiting factor than is motor life.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8847" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8847">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8847">Load Comments</button></br>
			<div id = "commentsection-8847" class = 'collapse'>
			<div id = "comment-14525" class = "comment">
				<p>Thanks, do you have an opinion on the sub-question (aka brushed vs brushless motor)</p>
			</div>
			<div id = "comment-14531" class = "comment">
				<p>@Jonathan, see edit</p>
			</div>
			<div id = "comment-14568" class = "comment">
				<p>Great points about voltage and pre-built motor controllers. Everything I was going to put in an answer, *and* you advised OP to get a clutch, in the fair assumption that the door will bind at some point.</p>
			</div>
			<div id = "comment-14571" class = "comment">
				<p>@jwpat7 what do you think of that? http://www.amazon.ca/gp/product/B0182CQVFU?psc=1&redirect=true&ref_=ox_sc_act_title_1&smid=A2FP0VHBLQJ6IF</p>
			</div>
			</div>
				<textarea id = "speech-8847" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8847">
					<img id="start_img-8847" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8847">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>