<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>DC Motors for a ROV?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8271" class = "post">
			<h2>Question</h2>
			<div id="vote-8271" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 794</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DC Motors for a ROV?</h2>
<p>I am planning to build a homemade ROV, and I wanted to know a couple of things about the motors.  First is: Will it be Ok, if I use a brushed DC motor,  instead of a brushless motor, and is there any major disadvantages ? Second : What RPM DC motor should I aim for ? High RPM or low RPM ? Will 600rpm be enough ? The specific motor that I am talking about is    <a href="http://www.ebay.ca/itm/37mm-12V-DC-600RPM-Replacement-Torque-Gear-Box-Motor-New-/320984491847?hash=item4abc2aa747:m:mEBEQXXpqmNg4-vxmFaZP5w" rel="nofollow">http://www.ebay.ca/itm/37mm-12V-DC-600RPM-Replacement-Torque-Gear-Box-Motor-New-/320984491847?hash=item4abc2aa747:m:mEBEQXXpqmNg4-vxmFaZP5w</a></p>

<p>Will this be a good motor for the propellers of the ROV.  I am planning to have 4 motors / propellers. Two for upward and downward thrusting,  and 2 for forward and side thrusting. The propellers that I plan to use, are basic plastic 3 blade propellers,  with diameter,  between 40mm and 50mm. </p>

<p>My main question is, what RPM and torque should I aim for when choosing the DC motor ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8271" data-toggle = "popover">
				<p>user name : Viktor Raspberry</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-8271">{'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8271">Load Comments</button></br>
			<div id = "commentsection-8271" class = 'collapse'>
			<div id = "comment-13242" class = "comment">
				<p>Are you sure 4 thrusters are enough? You should be able to get away with 4 to do up/down and forward/backward plus yawing and rolling, but not up/down, forward/backward _and_ left/right sideways.</p>
			</div>
			</div>
				<textarea id = "speech-8271" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8271">
					<img id="start_img-8271" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8271">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8275"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8275" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The main differences between brushed and brushless DC motors are cost, efficiency, and complexity. Brushless motors don't have brushes (surprise!) so they don't wear down as fast as brushed motors and are more efficient. However, brushless motors are more complex both in terms of construction, but also in terms of operation. That makes them more expensive and means more sophisticated electronics and software if you want precise position and torque control. (See <a href="http://electronicdesign.com/electromechanical/what-s-difference-between-brush-dc-and-brushless-dc-motors" rel="nofollow">this page</a> for more information).</p>

<p>For an ROV thruster you can probably get away with brushed motors but if you have the funding then you might want brushless instead.</p>

<p>As for the motor specifications, you are really talking about the initial sizing for the ROV itself. From an engineering perspective you will want to figure out what torque, power, and RPM requirements you are expecting based on the propeller design and expected thrust and in-flow, then choose a motor that meets those requirements (maximizing efficiency at the expected operating condition).</p>

<p>If you can get access to <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?reload=true&amp;arnumber=6632937" rel="nofollow">this article</a>, I have included most of the equations you would need in section III-C (page 7).</p>

<p>I suggest taking a look at <a href="http://www.homebuiltrovs.com/rovforum/" rel="nofollow">this forum</a>, you can probably find good suggestions for particular motors, propellers, or complete off-the-shelf thrusters.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8275" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8275">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8275">Load Comments</button></br>
			<div id = "commentsection-8275" class = 'collapse'>
			<div id = "comment-13243" class = "comment">
				<p>Brushless motors can operate when full of water. Is this also true for brushed?</p>
			</div>
			<div id = "comment-13246" class = "comment">
				<p>[This thread](http://www.homebuiltrovs.com/rovforum/viewtopic.php?f=3&t=352) on the Homebuilt ROV Forum that I previously linked to suggests brushed motors can operate unsealed underwater (at least some).</p>
			</div>
			<div id = "comment-13247" class = "comment">
				<p>@BrianLynch Thank You for the respond,  a lot of stuff I got cleared out.  Would you be able to recommend me any books on this topic, and what courses / books do I need to read in order to learn the aspects of building an efficent ROV, and to be able to make all the calculations for the motors and all other aspects of the ROV.</p>
			</div>
			<div id = "comment-13249" class = "comment">
				<p>Hey Viktor, to be honest I would just be searching on Google for reading material so I will let you do that yourself! For example, a search of "rov thruster equations" brought me to [this article](http://cdn.intechopen.com/pdfs/44850/InTech-Thruster_modelling_for_underwater_vehicle_using_system_identification_method.pdf). If you are a student then you can access research articles through the library website -- that is my primary source of information.</p>
			</div>
			<div id = "comment-13250" class = "comment">
				<p>Ok thank you for the information,  I will be doing google searches.</p>
			</div>
			<div id = "comment-13251" class = "comment">
				<p>Take a look around and if you are still having trouble then I can expand my answer with some more equations. That forum I mentioned seems to have lots of great resources.</p>
			</div>
			</div>
				<textarea id = "speech-8275" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8275">
					<img id="start_img-8275" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8275">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>