<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dead reckoning on a car-like robot with a gyro and only one encoder
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2834" class = "post">
			<h2>Question</h2>
			<div id="vote-2834" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 226</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dead reckoning on a car-like robot with a gyro and only one encoder</h2>
<p>Recently I began to build a car-like robot and I stumbled upon dead reckoning. I use one motor for steering and one for traction. I want to be able to get the position of the robot. From what I have read 2 encoders should be used. But I am curious if you can use only one encoder on the motor shaft to get distance  and a gyro + accelerometer to get the orientation of the robot.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2834" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-2834">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2834" class = 'collapse'>
			</div>
				<textarea id = "speech-2834" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2834">
					<img id="start_img-2834" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2834">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2844"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2844" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Dead reckoning is not a measurement, it's a form of estimation.  It is by definition inaccurate, and accumulates error over time.  We use it when more precise forms of position measurement aren't available (because it's better than nothing) and only to the extent that the accumulated error stays below a desired bound.  In other words: after your error reaches a certain threshold, you're better off <em>not</em> using the estimate than relying on something that you know is wrong.</p>

<p>To keep the accumulated error as low as possible, you'll want to use as much sensor data as you can.  This is the opposite of what you're attempting to do (eliminating one of the encoders).  So the answer to your question is "yes", you can use only one encoder... <em>but your estimates will suffer for it</em>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2844" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2844">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2844">Load Comments</button></br>
			<div id = "commentsection-2844" class = 'collapse'>
			<div id = "comment-5247" class = "comment">
				<p>Well i can't fit a high precision encoder on the wheels. I can get only 30 tick/rev, which is very low and will yield large errors in orientation. From my understanding small error in heading give small errors in position. So i plan to use a gyro + accelerometer. To be more precise i intend to use the MPU-6050 (which seems to measure accurately the orientation angle up to +-0.5 deg)</p>
			</div>
			<div id = "comment-5250" class = "comment">
				<p>Every dead reckoning estimation is different, depending on the sensors available to you.  Given the error bounds on the individual sensors you choose (and the calculations you do to guess your position), you'll have to work out how much time can pass before your estimates are no longer meaningful.</p>
			</div>
			<div id = "comment-5289" class = "comment">
				<p>Small heading error will accumulate to a larger position error pretty quickly by a factor of 2*tan(errAngle/2), meaning that after going "straight" 5 meters and being wrong about the heading for 5 degrees, you'll be around 20cm away from where you think you are.</p>
			</div>
			</div>
				<textarea id = "speech-2844" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2844">
					<img id="start_img-2844" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2844">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>