<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dead Reckoning: Obtaining Position Estimation from Accelerometer Acceleration Integration
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9755" class = "post">
			<h2>Question</h2>
			<div id="vote-9755" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 299</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dead Reckoning: Obtaining Position Estimation from Accelerometer Acceleration Integration</h2>
<p>Good day,</p>

<p>I have been reading papers about position integration from accelerometer readings.</p>

<p>I have consulted <a href="http://perso-etis.ensea.fr/~pierandr/cours/M1_SIC/AN3397.pdf" rel="nofollow noreferrer">this paper from freescale</a> on how that is achievable and <a href="http://diydrones.com/forum/topics/multi-rotors-the-altitude-yoyo-effect-and-how-to-deal-with-it" rel="nofollow noreferrer">this article regarding leaky integrators</a> to help in preventing accumulation of errors from integration.</p>

<p>I was testing this algorithm by moving the imu by approximately 0.1 meter. The algorithm does get it right at the instant it arrives at approx 0.1 meter however when left still at that position, the integrated position goes to zero.</p>

<p>It turns out the velocity readings become negative at a certain period after reaching 0.1 meters.</p>

<blockquote>
  <p>Does anyone have any suggestions in dealing with this error?</p>
</blockquote>

<p><strong>Plots</strong> (Red is the position, Blue is the velocity.)</p>

<p>The imu(accelerometer) was moved alternating positions 0 meters and 0.1 meters with a stop of approximately 3-5 seconds in between before moving to the next position</p>

<ol>
<li><p>Actual Data
<a href="https://i.stack.imgur.com/bioEh.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/bioEh.png" alt="enter image description here"></a>
<a href="https://i.stack.imgur.com/iJMmi.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/iJMmi.png" alt="enter image description here"></a></p></li>
<li><p>Desired Data output (Green - Desired position integration)
<a href="https://i.stack.imgur.com/C85lq.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/C85lq.png" alt="enter image description here"></a></p></li>
</ol>

<p><strong>Code:</strong></p>

<pre><code>// Get acceleration per axis
float AccX = accelmagAngleArray.AccX;
float AccY = accelmagAngleArray.AccY;
float AccZ = accelmagAngleArray.AccZ;

AccX -= dc_offsetX;
AccY -= dc_offsetY;
AccZ -= dc_offsetZ;

//Calculate Current Velocity (m/s)
float leakRateAcc = 0.99000;
velCurrX = velCurrX*leakRateAcc + ( prevAccX + (AccX-prevAccX)/2 ) * deltaTime2;
velCurrY = velCurrY*leakRateAcc + ( prevAccY + (AccY-prevAccY)/2 ) * deltaTime2;
velCurrZ = velCurrZ*0.99000 + ( prevAccZ + (AccZ-prevAccZ)/2 ) * deltaTime2;
prevAccX = AccX;
prevAccY = AccY;
prevAccZ = AccZ;

//Discrimination window for Acceleration
if ((0.12 &gt; AccX) &amp;&amp; (AccX &gt; -0.12)){
  AccX = 0;
}

if ((0.12 &gt; AccY) &amp;&amp; (AccY &gt; -0.12)){
  AccY = 0;
}

//Count number of times acceleration is equal to zero to drive velocity to zero when acceleration is "zero"
//X-axis---------------
if (AccX == 0){ //Increment no of times AccX is = to 0
    counterAccX++;    
}
else{ //Reset counter
    counterAccX = 0;
}

if (counterAccX&gt;25){ //Drive Velocity to Zero
velCurrX = 0;
    prevVelX = 0;
    counterAccX = 0;
}

//Y-axis--------------
if (AccY == 0){ //Increment no of times AccY is = to 0
    counterAccY++;    
}
else{ //Reset counter
    counterAccY = 0;
}

if (counterAccY&gt;25){ //Drive Velocity to Zero
    velCurrY = 0;
    prevVelY = 0;
    counterAccY = 0;
}

//Print Acceleration and Velocity
cout &lt;&lt; " AccX = " &lt;&lt; AccX ;// &lt;&lt; endl;
cout &lt;&lt; " AccY = " &lt;&lt; AccY ;// &lt;&lt; endl;
cout &lt;&lt; " AccZ = " &lt;&lt; AccZ &lt;&lt; endl;

cout &lt;&lt; " velCurrX = " &lt;&lt; velCurrX ;// &lt;&lt; endl;
cout &lt;&lt; " velCurrY = " &lt;&lt; velCurrY ;// &lt;&lt; endl;
cout &lt;&lt; " velCurrZ = " &lt;&lt; velCurrZ &lt;&lt; endl;

//Calculate Current Position in Meters
float leakRateVel = 0.99000;
posCurrX = posCurrX*leakRateVel + ( prevVelX + (velCurrX-prevVelX)/2 ) * deltaTime2;
posCurrY = posCurrY*leakRateVel + ( prevVelY + (velCurrY-prevVelY)/2 ) * deltaTime2;
posCurrZ = posCurrZ*0.99000 + ( prevVelZ + (velCurrZ-prevVelZ)/2 ) * deltaTime2;
prevVelX = velCurrX;
prevVelY = velCurrY;
prevVelZ = velCurrZ;

//Print X and Y position in meters
cout &lt;&lt; " posCurrX = " &lt;&lt; posCurrX ;// &lt;&lt; endl;
cout &lt;&lt; " posCurrY = " &lt;&lt; posCurrY ;// &lt;&lt; endl;
cout &lt;&lt; " posCurrZ = " &lt;&lt; posCurrZ &lt;&lt; endl;
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-9755" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-9755">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9755">Load Comments</button></br>
			<div id = "commentsection-9755" class = 'collapse'>
			<div id = "comment-17358" class = "comment">
				<p>See also, http://robotics.stackexchange.com/q/172/350</p>
			</div>
			</div>
				<textarea id = "speech-9755" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9755">
					<img id="start_img-9755" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9755">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9769"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9769" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am now able to get position from the accelerometer.<a href="https://i.stack.imgur.com/oKXTa.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/oKXTa.png" alt="enter image description here"></a>
Plot (Green - Acc, Blue -Vel, Red - Pos)</p>

<p>I was able to get the propper values through disabling the leaky integrator (setting the factor from 0.99 to 1). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9769" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-9769">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9769">Load Comments</button></br>
			<div id = "commentsection-9769" class = 'collapse'>
			<div id = "comment-18557" class = "comment">
				<p>I was able to do this with the quadcopter at the table and sliding it around, however it proved to be unreliable inflight</p>
			</div>
			</div>
				<textarea id = "speech-9769" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9769">
					<img id="start_img-9769" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9769">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>