<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Deburring Robot (Plastic Box)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2119" class = "post">
			<h2>Question</h2>
			<div id="vote-2119" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 214</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Deburring Robot (Plastic Box)</h2>
<p>For a university course I have been asked to design a rough "specification" for a system that will deburr a plastic box that appears in a workspace. Due to irregularities in the boxes edges I cannot use simple position control and must use force control.</p>

<p>I have so far decided on;</p>

<p>Using an IR sensor to detect the box has appeared in the workspace.</p>

<p>Use an Epson 2 axis robot to move around the work piece</p>

<p>Use an ATI 6 axis force sensor to maintain a constant force against the edge of the box as the deburrer/robot moves around it.</p>

<p>Is there a simple means of detecting the end of each side of the box ?
A 0N force value would indicate reaching the edge of a box but it could also mean a breakage in the box which was also specified. How can I distinguish between the two ?</p>

<p>Also does my work so far sound sensible ?</p>

<p>Thanks for any help</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2119" data-toggle = "popover">
				<p>user name : David</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2119">{'control': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2119" class = 'collapse'>
			</div>
				<textarea id = "speech-2119" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2119">
					<img id="start_img-2119" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2119">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2120"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2120" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Supposing all the boxes (or all the boxes being run in a batch) are the same size, and that they have rectangular cross-sections, consider fastening an L-shaped fixture to the workspace surface, at a location somewhat aside from the point where the box usually appears.  When the box does appear, push it against the L stop via a moving L-shaped fixture that is spring-loaded and has a fair amount of travel.  Upon detecting that the springs have compressed enough (or upon activation of limit switches, etc.) latch the moving L into place.  Now the box's  orientation (that is, which of four possible rotations has occurred) can be tested using force sensors, limit switches, or optical sensors.  </p>

<p>Even with the box in a known location and orientation, it appears (from your mention of box-edge irregularities) that use of force sensors still is necessary, but presumably you will know where the end-product edges should be, so can keep deburring until the force sensors indicate close-enough results.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2120" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-2120">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2120">Load Comments</button></br>
			<div id = "commentsection-2120" class = 'collapse'>
			<div id = "comment-4214" class = "comment">
				<p>Thanks for the reply. I will definitely incorporate the L shape into the design to ensure orientation. In regards to the force sensor how would I be able to distinguish between a broken box or the end of the work piece side ? I have been prohibited from using vision at any point.</p>
			</div>
			</div>
				<textarea id = "speech-2120" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2120">
					<img id="start_img-2120" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2120">Comment</button>
			<br><div id = "ans-2137"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2137" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use the robot to hold and index the plastic box and use flame to deburr the plastic.
I owned a machine shop and deburred plastic for a living.
No force necessary just the correct flame and speed.
Good luck</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2137" data-toggle = "popover">
				<p>user name : fontana</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2137">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2137" class = 'collapse'>
			</div>
				<textarea id = "speech-2137" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2137">
					<img id="start_img-2137" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2137">Comment</button>
			<br><div id = "ans-2160"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2160" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your force sensor is sliding along the inside of the box, the end of each side will be felt by the change in the wall's orientation. If you are feeling along the outside of the box, when the 'finger' loses contact, have the finger sweep a circle. If its a hole in the box, then picking the right radius circle will re-establish contact with the box wall. If its a corner, then contact will be re established at an angle - typically +/- 90 degrees from the course the finger was following before it lost contact. I presume the deburrer is operating in concert with the contact sensor, but if the box is secured against movement, and time is not an issue, the box edge could be mapped before a deburring pass initiated. Also, the touch sensor may be able to detect the irregularity of the burr, not only to signal end of deburr, but being able to modify the deburring technique to match the burr's heaviness.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2160" data-toggle = "popover">
				<p>user name : Mhz4.77</p>
				<p> user reputation : 475</p>
				<p class = "tagcontent" id = "usertaginfo-2160">{'None': 30}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2160" class = 'collapse'>
			</div>
				<textarea id = "speech-2160" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2160">
					<img id="start_img-2160" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2160">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>