<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Deducing single wing plane transfer function Aka Transfer function estimation through set of points
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4608" class = "post">
			<h2>Question</h2>
			<div id="vote-4608" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 109</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Deducing single wing plane transfer function Aka Transfer function estimation through set of points</h2>
<p>I'm trying to control a plane via roll  using PID controller , </p>

<p>I had a problem finding the transfer function thus I used the following method :- </p>

<blockquote>
  <p>Fix the plane in an air tunnel </p>
  
  <p>change the motor that controls the roll in fixed steps and check the
  roll </p>
  
  <p>thus I will have a table of roll/motor degree </p>
  
  <p>next is to deduce the nonlinear function using wolfram alpha or
  approximation neural network  .</p>
</blockquote>

<p>Is this a correct method or should I try another method ? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4608" data-toggle = "popover">
				<p>user name : RoboMan</p>
				<p> user reputation : 84</p>
				<p class = "tagcontent" id = "usertaginfo-4608">{'servomotor': 4, 'None': 6, 'accelerometer': 3, 'pid': 6, 'brushless-motor': 4, 'imu': 3, 'motor': 4, 'sensors': 3, 'gyroscope': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4608" class = 'collapse'>
			</div>
				<textarea id = "speech-4608" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4608">
					<img id="start_img-4608" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4608">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4623"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4623" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not an expert concerning aerodynamics, but I guess you are using kind of aileron to get the right roll. <br> So your setpoint is the roll (in degrees or something similar) and your input is the motor position (in degrees, too). <br> Your method was only about measuring the open-loop gain. <br> This won't help you in designing the PID.</p>

<p>Now you have a Look-up-table with lot of different values. You can just look up your motor position for your target roll, BUT you cannot control the roll, therefor you need to measure the complete step-answer.</p>

<p>IF you set your motor to a specific position your plane will not have the target roll instantaneously. The plane will roll other a period of time. This period of time may be short but it is measurable and you are interested (as a control designer) to see how the system reacts in this dynamic state.</p>

<p>You should change your method! <br>
One possible solution (there are others) is identifying the system with the step-answer
You just need to measure your roll in degrees as a function of time, when you turn your motor from 0 to a specific position.
Then you can carry on with mathematica or matlab </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4623" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4623">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4623">Load Comments</button></br>
			<div id = "commentsection-4623" class = 'collapse'>
			<div id = "comment-7263" class = "comment">
				<p>what I understood is to take all points specially the points when changing the position , what about air speed ?</p>
			</div>
			<div id = "comment-7270" class = "comment">
				<p>Airspeed can be considered as another parameter (like Ian wrote in his answer).
Your target should be getting the step answer of the system dependent of different input variables (target angle , airspeed,....)</p>
			</div>
			</div>
				<textarea id = "speech-4623" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4623">
					<img id="start_img-4623" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4623">Comment</button>
			<br><div id = "ans-4624"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4624" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're correct that measurement and modeling is the right way to go about this.</p>

<p>For your PID to work properly, you need to be able to make a somewhat linear conversion of error (desired roll vs actual roll) into corrective force (in this case, provided by the <a href="http://en.wikipedia.org/wiki/Flight_control_surfaces" rel="nofollow">control surfaces</a> -- the <a href="http://en.wikipedia.org/wiki/Aileron" rel="nofollow">aileron</a> angle, influenced by air speed and other factors). </p>

<p>The $k_d$ term of your PID should account for the inertia of the plane in rolling from side to side, so don't worry about that in your measurements.</p>

<p>What you <em>should</em> measure in your wind tunnel tests is the torque on the longitudinal axis of the plane, in response to airspeed (in both X and Y axes, if you have on-board sensors for that) and aileron angle.  That will provide data on the following relationship:</p>

<p>$$
\tau_{actual} = f(\theta_{\text{aileron}}, \text{airspeed}_x, \text{airspeed}_y, \text{[other measurable factors]})
$$</p>

<p>You are going to approximate the inverse of that function -- finding $\theta_{\text{aileron}}$ given $\tau_{desired}$.  Whether you do that with a neural network, wolfram alpha, multivariate regression, or a  good knowledge of physics is up to you.  In the end, you want to produce a modeling function in this form:
$$
\theta_{\text{aileron}} = f(\tau_{desired}, \text{airspeed}_x, \text{airspeed}_y, \text{[other measurable factors]})
$$</p>

<p>The PID will give you $\tau_{desired}$, and your sensors will give you the other factors to plug into this function.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4624" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4624">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4624">Load Comments</button></br>
			<div id = "commentsection-4624" class = 'collapse'>
			<div id = "comment-7262" class = "comment">
				<p>Can you explain more ? more details</p>
			</div>
			<div id = "comment-7266" class = "comment">
				<p>Details on how the PID works, or on how to write the modeling function?</p>
			</div>
			<div id = "comment-7267" class = "comment">
				<p>Modeling function , I understand PID very well , what I don't get is the test you mentioned above and expected results 
Thanks for your time !</p>
			</div>
			<div id = "comment-7271" class = "comment">
				<p>You were on the right track in your original question -- you would use a neural network or some other kind of multivariate regression to find the function that produces your desired aileron angle.  Your experimental setup and torque measurements will produce data according to this function: $\tau_{actual} = f(\theta_{\text{aileron}}, \text{airspeed}_x, \text{airspeed}_y, etc)$. You are going to approximate the inverse of that function -- finding $\theta_{\text{aileron}}$ given $\tau_{desired}$.</p>
			</div>
			</div>
				<textarea id = "speech-4624" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4624">
					<img id="start_img-4624" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4624">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>