<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Definition of payload for industrial robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11076" class = "post">
			<h2>Question</h2>
			<div id="vote-11076" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 152</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Definition of payload for industrial robots</h2>
<p>I'm currently looking for an industrial robot for a depalletizing application. I had a look at some datasheets but I'm not quite sure how the maximum payload is defined. e.g. the <a href="http://www.kuka-robotics.com/canada/en/products/industrial_robots/small_robots/kr6_r900_sixx/start.htm" rel="nofollow noreferrer">Kuka Agilus</a> weighs 52kg and looks rather strong, but is listed with only 6kg. Is this really the highest weight that the robot can lift or is this the heaviest object that the robot can move with its maximal velocity and I can move heavier stuff at lower speeds?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11076" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-11076">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11076" class = 'collapse'>
			</div>
				<textarea id = "speech-11076" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11076">
					<img id="start_img-11076" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11076">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11077"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11077" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you only consider the simple physics of the problem you are completely right, it should be able to move lower payloads at lower velocities and accelerations. </p>

<p>However, the maximum payload can only be used as a rule of thumb to dimension a robot. In order to do a proper dimensioning you need the center of gravity, the mass and the inertia of the payload. Kuka has a free tool to verify the dimensioning properly called <a href="http://www.kuka-robotics.com/germany/en/downloads/software.htm" rel="nofollow noreferrer">KukaLoad</a>. I would recommend giving that a try to see if you hit an overload condition with your load and motion specifications. </p>

<p>Since you did not give any information on the application, besides that is depalitizin, if we are talking about the europallet sizes pallets, the Agilus line is definetly too small for that task. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11077" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11077">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11077" class = 'collapse'>
			</div>
				<textarea id = "speech-11077" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11077">
					<img id="start_img-11077" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11077">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>