<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Defining frames for 5DOF robotics arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2117" class = "post">
			<h2>Question</h2>
			<div id="vote-2117" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 121</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Defining frames for 5DOF robotics arm</h2>
<p>For examples if i have this robotic arm:
<a href="http://www.youtube.com/watch?v=bKafht51Juw" rel="nofollow">Example</a>, for the base rotation (5th DOF in the clip at 0:58), we know that the Z axis for that joint will be the same as the Z axis for the base frame{0}, but I don't know about Y and Z axises of the base rotation respects to the base frame, should they be the same or not ?</p>

<p>And one more thing, for defining the frame of the base rotation (at 0:58 in the clip), the vertical arm pitch (at 0.47 in the clip) and the horizontal arm pitch (at 0:46 in the clip), it's pretty easy, but I don't know how to continue for defining the frame of wrist roll (at o.12 in the clip) and wrist pitch (0.23 in the clip) since the angle between the Z axis of wrist roll and the wrist pitch is now 90o.
<br> Thank you very much.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2117" data-toggle = "popover">
				<p>user name : Xitrum</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-2117">{'None': 0, 'kinematics': 6, 'inverse-kinematics': 3, 'robotic-arm': 6, 'localization': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2117">Load Comments</button></br>
			<div id = "commentsection-2117" class = 'collapse'>
			<div id = "comment-4218" class = "comment">
				<p>I've no idea what you're on about but my 2p is, my triangle insect will trounch your infertile worm... super dudes ;)</p>
			</div>
			</div>
				<textarea id = "speech-2117" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2117">
					<img id="start_img-2117" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2117">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2123"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2123" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Follow the <a href="http://en.wikipedia.org/wiki/Denavit%E2%80%93Hartenberg_parameters" rel="nofollow">Denavit-Hartenburg</a> parameters, and you'll get easy equations for the transformation matrices between each frame.</p>

<ul>
<li>The $z_n$-axis is in the direction of the $(n+1)^{th}$ joint axis</li>
<li>The $x_n$-axis is collinear to the common normal: $x_n = z_n   z_{n-1}$ If there is no unique common normal (parallel $z$ axes), the direction of $x_n$ is from $z_{n-1}$ to $z_n$.</li>
<li>The $y$-axis follows from the $x$- and $z$-axis by choosing it to be a right-handed coordinate system.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2123" data-toggle = "popover">
				<p>user name : joshkarges</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-2123">{'industrial-robot': 5, 'None': 3, 'inverse-kinematics': 5, 'robotic-arm': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2123" class = 'collapse'>
			</div>
				<textarea id = "speech-2123" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2123">
					<img id="start_img-2123" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2123">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>