<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Degree of Freedom
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7694" class = "post">
			<h2>Question</h2>
			<div id="vote-7694" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 115</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Degree of Freedom</h2>
<p>A robotic arm should pick a cuboid up of a table, rotate it around its vertical axis and put it down on all possible positions. How many degrees of freedom are at least necessary?
(All coordinates, that should be reached by the robotic arm, are in its workspace. It is not allowed to put the cuboid down and pick it up, once the robot has it )</p>

<ul>
<li>The answer is  4 (3 translatory and 1 rotatory).</li>
</ul>

<p>But I don t understand why. I thouhgt that it should be 3.
2 prismatic joints:  1 to pick the cuboid up,  and another one to move it anywhere on the table.
1 revolute joint to rotate the cuboid around its vertical axis. => 2 translatory and 1 rotatory. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7694" data-toggle = "popover">
				<p>user name : Cindy</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-7694">{'None': 0, 'robotic-arm': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7694" class = 'collapse'>
			</div>
				<textarea id = "speech-7694" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7694">
					<img id="start_img-7694" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7694">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7695"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7695" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The answer is four. The arm needs to be able to move up and down, left and right, forward and backward, and rotate. The robot will need 3 translatory degrees of freedom and 1 rotatory. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7695" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-7695">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7695" class = 'collapse'>
			</div>
				<textarea id = "speech-7695" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7695">
					<img id="start_img-7695" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7695">Comment</button>
			<br><div id = "ans-7696"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7696" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You specified that you need to be able to <code>pick a cuboid up [off] a table</code><strong>(1 dof)</strong>, <code>rotate it around its vertical axis</code> <strong>(1 dof)</strong>, and <code>put it down on all possible positions</code> - assuming this means, <em>"put it down at any (x,y) coordinate"</em>, then you need two more degrees of freedom - one for $x$, one for $y$. Note the implementation may vary - you could use Cartesian (x,y) actuators or you could use Polar (r,$\theta$), but whatever the combination you still wind up with two degrees of freedom. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7696" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7696">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7696">Load Comments</button></br>
			<div id = "commentsection-7696" class = 'collapse'>
			<div id = "comment-11170" class = "comment">
				<p>This is close but not entirely correct logic.  Lifting the object does not necessarily require its own DOF.  Consider a human-like arm: this is capable of foreward/reverse motion as well as up/down depending on the angles.  @holmeski's answer, below, is correct.</p>
			</div>
			<div id = "comment-11171" class = "comment">
				<p>But a human arm also uses three DOFs for this task: The should is has 2dof and the ellbow adds another one. Although the arm (without a hand or wrist) only has to joints, it has three dof.</p>
			</div>
			<div id = "comment-11174" class = "comment">
				<p>@Ryan - I'm not sure if you realize you're arguing against yourself. How does the shoulder manage to be able to go up and down AND forward and reverse? It's not "depending on the angles", it's that it is constrained to a sphere of radius `armLength` and the up/down motion,  like forward/backward motion,  are *projections* of the spherical motion.</p>
			</div>
			<div id = "comment-11175" class = "comment">
				<p>For the lifting task this is arguably acceptable, but the shoulder does not allow **placement** of the cube anywhere along the forward/backward path because that path is not along the plane of the table - you would be *dropping* the object because the shoulder lacks the degree of freedom to lower the object. Could you get by with one shoulder and one elbow? Yes. How many degrees of freedom is that? 3 for the shoulder + 1 for the elbow = 4.</p>
			</div>
			<div id = "comment-11176" class = "comment">
				<p>This is an exercise to get new engineering students to stop think about one particular solution and start thinking about the problem. The problem is how do you move the cube. Define the degrees of freedom, then look at what methods exist that provide those degrees of freedom. Spherical/rotary,  spherical/linear, 4 x rotary, etc. Some of the things to consider are one dof joints you wouldn't ordinarily consider right away,  like screws, rack and pinion,  etc.</p>
			</div>
			<div id = "comment-11179" class = "comment">
				<p>the shoulder is the base. it doesn't move up and down. the combination of l1 and l2 will, however, allow for upward movement so long as l1 moves along the YZ-place, not the XZ-plane.</p>
			</div>
			<div id = "comment-11180" class = "comment">
				<p>You're referencing l1 and l2 and I'm not sure what those mean. Do you have a graphic?</p>
			</div>
			<div id = "comment-11181" class = "comment">
				<p>Hi Chuck. you and I are just talking about different configurations.  both arguments are valid given these configs.  Also, L# just refers to the portion of a robotic limb with the lowest number at the base and the highest at the end effector.  Thanks, Ryan</p>
			</div>
			<div id = "comment-11183" class = "comment">
				<p>Anyway, @Chuck I hope my point made it across that lifting the object does not necessitate its own DOF.  Lift can be accomplished, as you mentioned, via any number of creative configurations.  Have a good one.  Ryan</p>
			</div>
			</div>
				<textarea id = "speech-7696" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7696">
					<img id="start_img-7696" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7696">Comment</button>
			<br><div id = "ans-7700"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7700" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Good answers already, so I just thought I'd address this bit:</p>

<blockquote>
  <p>But I don t understand why. I thought that it should be 3. 2 prismatic joints: 1 to pick the cuboid up, and another one to move it anywhere on the table. 1 revolute joint to rotate the cuboid around its vertical axis. => 2 translatory and 1 rotatory. </p>
</blockquote>

<p>Not quite correct: though it seems from your question that only three would be required, in reality you need a fourth to rotate the "gripper" to pick up the item.  UNLESS you have some sort of magnetic pickup, or a specially shaped item like a cylinder - then three might work as a special case, but that would no longer be a general purpose manipulator.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7700" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-7700">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7700" class = 'collapse'>
			</div>
				<textarea id = "speech-7700" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7700">
					<img id="start_img-7700" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7700">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>