<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Denavit Hartenberg parameters
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8372" class = "post">
			<h2>Question</h2>
			<div id="vote-8372" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 323</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Denavit Hartenberg parameters</h2>
<p>Can anybody help figure out HD parameters for the case where two links with a revolute joint are in the same plane, thus that the variable angle is 0, but the twist is not 0. This is a simple drawing. I think that x-axis that is perpendicular to both z-axis, points away and goes through the intercection of z-axis. The link length is 0, the twist is a and the offset is d. Whould it be correct?
Thanks.
<a href="https://i.stack.imgur.com/8QJXS.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/8QJXS.png" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/igWtY.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/igWtY.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8372" data-toggle = "popover">
				<p>user name : guest</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8372">{'None': 0, 'dh-parameters': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8372">Load Comments</button></br>
			<div id = "commentsection-8372" class = 'collapse'>
			<div id = "comment-13447" class = "comment">
				<p>Your question needs a lot of clarification. Each individual link in a manipulator has its own joint -- so two links have two joints. Do you mean the two links have revolute joints whose axes are parallel? If that is the case then the relevant $\alpha$ transformation should be 0 ("twist angle"?). Meanwhile, $\theta$ is the joint angle and can be any value within the limits of the joint ("variable angle"?). Your drawing has no x-axes or z-axes, so your reference to them is confusing. Also, $d$ and $a$ are themselves DH parameters already, so you shouldn't use them for new dimensions.</p>
			</div>
			<div id = "comment-13448" class = "comment">
				<p>The links lie in the plane of the drawing I would call it xy-plane, but it would be confusing cause it would look like z-axis lies in the xy-plane. The second joint is revolute, but imagine that the first link is welded at a certain angle that differs from the right angle. Thus the axis are not parallel, they intersect at the point where i would put an vertical x-axis. The directions of the joints are represented by the short thik lines at the ends of the links. The third one would be parallel to the second one, but i am asking about the first and second ones.</p>
			</div>
			<div id = "comment-13449" class = "comment">
				<p>If the first "link" is welded and fixed then it is not a link. Are you saying that $\alpha$ is not 0 for the first link? So the joint axes are not parallel? Please replace your diagram with something in 3D that is more clear.</p>
			</div>
			<div id = "comment-13450" class = "comment">
				<p>A link is always welded to a joint, it is a joint that does all DOFs and a link is just attached to it, I said "welded". This configuration lies in the plane of the drawing. If it was the right angle this would be an ordinary revolute joint.</p>
			</div>
			<div id = "comment-13451" class = "comment">
				<p>Don't confuse "joint" with the parts that rotate and "link" with the parts attached to that. In terms of a DH manipulator configuration, a link is a single degree-of-freedom that is attached to a previous link through a joint. The first link is attached to some kind of base, but we need not consider that in the model since it is usually fixed in the world. See [this diagram](https://en.wikipedia.org/wiki/Denavit%E2%80%93Hartenberg_parameters#/media/File:Classic-DHparameters.png).</p>
			</div>
			<div id = "comment-13452" class = "comment">
				<p>Thanks for the updated diagram, are those cylinders representing the joint axes?</p>
			</div>
			</div>
				<textarea id = "speech-8372" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8372">
					<img id="start_img-8372" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8372">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8380"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8380" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use dummy transformations when the DH parameterization cannot get you from one axis to the other. Think of it as two succesive DH transformations where the first one does not have a moving joint. It is just there to get to the other joint the the second DH transformation</p>

<p>EDIT:</p>

<p>to complete the answer with reference:</p>

<p><a href="http://petercorke.com/doc/rtb_dh.pdf" rel="nofollow">http://petercorke.com/doc/rtb_dh.pdf</a></p>

<p>If your previous Z axis is not intersecting the next X axis and/or they are not perpendicular, you will not be able to use one DH transformation matrix from one coordiante system to the other</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8380" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8380">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8380">Load Comments</button></br>
			<div id = "commentsection-8380" class = 'collapse'>
			<div id = "comment-13475" class = "comment">
				<p>I dont quite understand what you mean. It is an ordinary revolute joint. If two consecutive joints had the same direction for z-axes, it would be no problem to find the parameters, cause they are parallel and you can get a perpendicular line to both of them. But if those z-axes intersect one another the perpendicular line (x-axis) can be put only like in the drawing. The twist - a rotation from one z-axis to another about x-axis can seem to be found easily - it is represented by a, r-parameter seem to be zero and I am not sure what I would call d in this case.</p>
			</div>
			<div id = "comment-13477" class = "comment">
				<p>The point is this: DH parameters allow you to transform from one joint to another using a common set of rotations and translations (see [this video](https://www.youtube.com/watch?v=rA9tm0gTln8) for clarification). Your particular configuration may need a modified version of DH parameters -- namely a y-component for the link length (usually has only x- and z-components, $a$ and $d$, respectively). This is because the new rotation axis for a joint should rotate about the previous x-axis, but your configuration cannot be defined as such.</p>
			</div>
			<div id = "comment-13479" class = "comment">
				<p>As Brian Lynch pointed out, the DH transformation matrix has only 4 parameters, so you can only do 4 "motions" from one coordinate system to the next one. In your case it seems that with one DH transformation you cannot get from where you are to where you want to be. In these cases, if you still want to use the DH convention, you can use two DH transformations Use the first one just to rotate the coordinate system in the first joint to an orientaion the allows you to use a second DH transofmration to transittion to the desired coordinate system at your joint in queston.</p>
			</div>
			<div id = "comment-13481" class = "comment">
				<p>To Brian Lynch: I saw this video. It deals with the convenient case I can deal with without the video. Is there a formal formulation for this y-parameter and does it mean that HD parameters can not deal with all cases because actually just slitest deviation from a right angle when z-axes are not parallel but lie in the same plane means I can not use the standard HD parameters?</p>
			</div>
			<div id = "comment-13482" class = "comment">
				<p>To 50k4: >>if you still want to use the DH convention.   What would be another set of parameters or another convention that I could use insted?</p>
			</div>
			<div id = "comment-13483" class = "comment">
				<p>Please refer to the asnwers given to this question: http://robotics.stackexchange.com/questions/7763/why-do-we-generally-prefer-dh-parameters-over-other-kinematic-representations-of n also, you can parametrize the robot however you choose. If you get the IK right and you do no t plan to collaborate with anyone used to the DH convention formalism of the parameters does not matter</p>
			</div>
			</div>
				<textarea id = "speech-8380" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8380">
					<img id="start_img-8380" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8380">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>