<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Denavit-Hartenberg convention or the product of exponentials formulation, when dealing with the manipulator kinematics?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6586" class = "post">
			<h2>Question</h2>
			<div id="vote-6586" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 339</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Denavit-Hartenberg convention or the product of exponentials formulation, when dealing with the manipulator kinematics?</h2>
<p>Though, Denavit-Hartenberg notation is commonly used to describe the kinematics of robot manipulator, some researcher prefer the product of exponential instead; and even the claim that it's better.</p>

<p>Which one should I use, and which one is generally better; is final solution same for both kinematics and dynamics?</p>

<p>Any suggestions?
<a href="https://www.researchgate.net/go.Deref.html?url=http%3A%2F%2Fwww.cds.caltech.edu%2F%7Emurray%2Fbooks%2FMLS%2Fpdf%2Fmls94-complete.pdf" rel="nofollow">A mathematical introduction to robotic manipulation</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6586" data-toggle = "popover">
				<p>user name : AlFagera</p>
				<p> user reputation : 99</p>
				<p class = "tagcontent" id = "usertaginfo-6586">{'control': 5, 'product-of-exponentials': 3, 'None': 4, 'manipulator': 0, 'inverse-kinematics': 0, 'torque': 1, 'pid': 2, 'simulation': 1, 'servomotor': 1, 'industrial-robot': 6, 'dh-parameters': 2, 'matlab': 2, 'robotic-arm': 10, 'jacobian': 0, 'kinematics': 2, 'dynamics': 5, 'forward-kinematics': 1, 'robotc': 1, 'input': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6586">Load Comments</button></br>
			<div id = "commentsection-6586" class = 'collapse'>
			<div id = "comment-10023" class = "comment">
				<p>You posted a link to the "standard" PoE textbook.  Here are some other good textbooks that use the DH convention.  Spong, Hutchinson, and Vidyasagar: [Robot Dynamics and Control](http://smpp.northwestern.edu/savedLiterature/Spong_Textbook.pdf).  Siciliano, Sciavicco, Villani, and Oriolo: [Robotics - Modeling, Planning, and Control](http://www.kramirez.net/Robotica/Material/Libros/Robotics%20-%20Modelling,%20Planning%20and%20Control.pdf)</p>
			</div>
			</div>
				<textarea id = "speech-6586" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6586">
					<img id="start_img-6586" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6586">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6594"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6594" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>They are two different ways of getting the same thing. Correctly set D-H parameters will give the exact same kinematics and dynamics as correctly set POE parameters. There are well-defined (although tedious) ways to convert between the two.</p>

<p>So "better" or not purely  is up to user preference. Some people prefer D-H because for many setups they give a unique set of parameters to describe the system. There are some configurations, though, for which D-H parameters are not unique.</p>

<p>The big advantage of POE is you just define the 6-DOF relationship between two joints. Often this ends up being more intuitive than using D-H parameters. The downside is two different people might define that differently. The resulting dynamics are exactly the same, though.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6594" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-6594">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6594">Load Comments</button></br>
			<div id = "commentsection-6594" class = 'collapse'>
			<div id = "comment-9484" class = "comment">
				<p>How about the Jacobian matrix, is it same? Because I saw that, in POE, once you've the Jacobian, then the dynamics is ready (straight forward); this may be an advantage over DH !!</p>
			</div>
			<div id = "comment-9487" class = "comment">
				<p>I can't say for sure; if the definition of output coordinate frame and actuator input is the same then you'll get the same Jacobian. I'm not sure, but it might be possible to define things such that coordinate frames are different which would change the specifics of the Jacobian, but in both cases they would still describe the same physical dynamics. Since the dynamics have to be the same, go ahead and use the POE Jacobian matrix if you find it easier (that's also my preference).</p>
			</div>
			</div>
				<textarea id = "speech-6594" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6594">
					<img id="start_img-6594" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6594">Comment</button>
			<br><div id = "ans-7044"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7044" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I recently worked with DH parameters to define kinematics of my Dual Arm Robot. As per my knowledge and experience, for kinematics I can say that DH Param will be good to use it since that gives you exact location and orientation (provided the table you made is correct) of each link of the robot. I had to work for collision detection between both the arms of the robot. So using Forward Kinematics, I calculated Cartesian location of each joint and compared all joints of one arm to the other's. You can calculate it with matrix multiplication in a sequence starting from the base of the manipulator to the end. 
At last, you will need to identify the Coordinate axes of Manipulator and the one in your analysis, and take values accordinngly.
Also, there is a freeware called <strong>"<a href="http://www.roboanalyzer.com/" rel="nofollow">Roboanalyzer</a>"</strong> . Use that software, you will understand the application of DH parameters to calculate matrices. Though there are minor flaws, but it is awesome for basic understanding.<br>
Hope it will help you a bit.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7044" data-toggle = "popover">
				<p>user name : B.Joshi</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-7044">{'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7044" class = 'collapse'>
			</div>
				<textarea id = "speech-7044" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7044">
					<img id="start_img-7044" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7044">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>