<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Denavit-Hartenberg Humanoid robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11641" class = "post">
			<h2>Question</h2>
			<div id="vote-11641" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 100</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Denavit-Hartenberg Humanoid robot</h2>
<p>In humanoid robot, Which way we determine DH Parameter:</p>

<ol>
<li>DH parameter for each leg separability.</li>
<li>Or, DH-Parameter for two leg together.</li>
</ol>

<p>and if I can calculate from any way, what about trunk how can insert it in DH calculation?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11641" data-toggle = "popover">
				<p>user name : Nour Khashan</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-11641">{'None': 0, 'humanoid': 1, 'dh-parameters': 1, 'mobile-robot': 1, 'forward-kinematics': 1, 'robotc': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11641" class = 'collapse'>
			</div>
				<textarea id = "speech-11641" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11641">
					<img id="start_img-11641" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11641">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11643"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11643" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have no idea about where to start the best is to google Nao + DarwinOP + HUBO2 + DH and you will have lot of pdf articles and reports coming out that you may read. For each humanoid robot you will have a description of kinematic chains and DH modeling.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11643" data-toggle = "popover">
				<p>user name : fabrice</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-11643">{'None': 3, 'laser': 0, 'inverse-kinematics': 8, 'humanoid': 8, 'robotic-arm': 6, 'path-planning': 1, 'gazebo': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11643" class = 'collapse'>
			</div>
				<textarea id = "speech-11643" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11643">
					<img id="start_img-11643" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11643">Comment</button>
			<br><div id = "ans-11650"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11650" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When establishing a set of kinematic frames for a humanoid robot, it's common to use a frame on the torso as the base frame and then branch out to the limbs from there. So there is a tree of kinematic frames. The base frame is a floating frame.</p>

<p>DH parameterization of the kinematics can be useful for drawings and showing or communicating the relative positioning of joints, but you will probably find that it's easier to work with full SE3 transforms between frames instead of trying to use DH parameters. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11650" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-11650">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11650" class = 'collapse'>
			</div>
				<textarea id = "speech-11650" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11650">
					<img id="start_img-11650" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11650">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>