<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Denavit Hartenberg parameters - 3DOF articulated manipulator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8426" class = "post">
			<h2>Question</h2>
			<div id="vote-8426" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1505</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Denavit Hartenberg parameters - 3DOF articulated manipulator</h2>
<p>I am trying to solve a forward kynematics problem for a 3DOF manipulator.</p>

<p>I am working with the Robotics Toolbox for MatLab created by Peter Corke and after calculte the DH parameters and introduce them into MatLab to compute the fordward kynematics the plotted robot is not what it should be.</p>

<p>I guess I made some mistakes calculating the DH parameters.</p>

<p>Attached is the file where you can see what are the DH frames calculated for each joint and the DH parameters for each frame.</p>

<p>Anyone could give me a clue whether this is the correct answer?</p>

<p>Here is the image with the frames calculated by me.
<a href="https://i.stack.imgur.com/I3wow.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/I3wow.jpg" alt="enter image description here"></a></p>

<p>And here the robot I get from Matlab (using the Robotics Toolbox by P.Corke)
<a href="https://i.stack.imgur.com/lS4Td.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/lS4Td.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8426" data-toggle = "popover">
				<p>user name : osuarez</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-8426">{'control': 5, 'stereo-vision': 2, 'beginner': 3, 'pid': 3, 'uav': 5, 'slam': 3, 'robotic-arm': 0, 'mobile-robot': 7, 'forward-kinematics': 0, 'cameras': 2, 'kinect': 0, 'visual-servoing': 2, 'matlab': 1, 'motion-planning': 4, 'movement': 1, 'odometry': 1, 'None': 2, 'inverse-kinematics': 0, 'raspberry-pi': 7, '3d-reconstruction': 2, 'quadcopter': 9, 'computer-vision': 6, 'geometry': 3, 'c++': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8426">Load Comments</button></br>
			<div id = "commentsection-8426" class = 'collapse'>
			<div id = "comment-13616" class = "comment">
				<p>Are these all rotational joints? Are you trying to solve for YZ?</p>
			</div>
			<div id = "comment-13618" class = "comment">
				<p>yes, they are all rotational joints. The red frames were calculated by me as a solution, but I think something is wrong there...    What do you mean solve for YZ?</p>
			</div>
			<div id = "comment-13620" class = "comment">
				<p>I meant XYZ...............</p>
			</div>
			<div id = "comment-13629" class = "comment">
				<p>What I am trying to do is draw the frames for the 3 joints and calculate from them the theta, d, a and alfa parameters. I am still not sure what you mean solving it for XYZ, sorry!</p>
			</div>
			<div id = "comment-13630" class = "comment">
				<p>What coordinates of the end-effector would you like to control? X Y and Z or some combination of position and orientation?</p>
			</div>
			<div id = "comment-13631" class = "comment">
				<p>Sorry, my bad for some reason I had the impression you are trying to do inverse kineamtics...</p>
			</div>
			<div id = "comment-13632" class = "comment">
				<p>By now I am trying to obtain DH parameters to solve then the forward kynematics and inverse kynematics problem. But I am not sure whether I have drawn the frames (the red ones) in their right position. Thanks!</p>
			</div>
			<div id = "comment-13633" class = "comment">
				<p>The frames seem be ok but the tabel did not match them...</p>
			</div>
			<div id = "comment-13659" class = "comment">
				<p>You can't represent this with DH parameters because $z_2$ cannot be generated by rotating about $x_1$. You could add a fake unactuated joint or modify the DH transformation for link 2 so that you have a y-component $L_1$ instead of the typical x-component ($a$).</p>
			</div>
			<div id = "comment-13676" class = "comment">
				<p>I can't see why you can't rotating about x_1 to obtain z_2. First rotate S_1 about z_1, displace L_2 and then rotate about x_1 to obtain z_2. Isn't that right?</p>
			</div>
			</div>
				<textarea id = "speech-8426" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8426">
					<img id="start_img-8426" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8426">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8435"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8435" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Try these:</p>

<pre><code>Theta = [pi/2, -pi/2, -pi/2];
D     = [L0,    L2,    L1  ];
A     = [0,     0,     L3  ];
Alfa  = [pi/2, -pi/2,  0   ];
</code></pre>

<p>with</p>

<pre><code> T = [cos(theta) -sin(theta)*cos(alpha) sin(theta)*sin(alpha) a*cos(theta); 
      sin(theta) cos(theta)*cos(alpha) -cos(theta)*sin(alpha) a*sin(theta);
      0          sin(alpha)             cos(alpha)            d;
      0          0                      0                     1];
</code></pre>

<p>i added the matrix to make sure the differences do not come from the differences in the DH and modified DH paramters.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8435" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8435">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8435">Load Comments</button></br>
			<div id = "commentsection-8435" class = 'collapse'>
			<div id = "comment-13635" class = "comment">
				<p>Thanks for the help! Can you try your parameters with the Robotics Toolbox by Peter Corke? I have similar results when I create a SerialLink with yours. The robot plotted no resembles the one in the picture, and I am not sure why. (I choosed L1, L2, and L3 = 1).</p>
			</div>
			<div id = "comment-13636" class = "comment">
				<p>Sorry, I do not have Robotics Toolbox installed. Do you use the 'standard' parameter when you define the links?</p>
			</div>
			<div id = "comment-13637" class = "comment">
				<p>yes. I use the stdDH. I attached at the first message an image with the robot I get from Matlab with my parameters. The one get using yours, is quite similar.</p>
			</div>
			<div id = "comment-13638" class = "comment">
				<p>Do you have to initialize with the Dh parameters? can you initialize using the transformation matrix I have copy pasted?</p>
			</div>
			<div id = "comment-13639" class = "comment">
				<p>Assuming that the global fram is displayed in the image, it seems that you are building up the robot in an inverted order. The first joint connected to the XYZ frame is translated in two dimentions, but the table only has two translateion (a and d) for the last frame...</p>
			</div>
			<div id = "comment-13640" class = "comment">
				<p>I think the links are connected right. I have made some experiments trying to introduce them in an inverted order but the robot I get is different from the image too. Are you sure that the frames are ok?? I am not sure about the second frame... this is the first robot with that shape I try to solve using DH parameters, and seeing a frame "floating" in the air is an strange thing for me...</p>
			</div>
			<div id = "comment-13641" class = "comment">
				<p>Frame 2 floating in the air is fine. Seems strange however, that the first frame attached to the world coordinate system in the matlab image has both an a and a d offset. In the table there is only a d offset...</p>
			</div>
			<div id = "comment-13642" class = "comment">
				<p>Try replacing L3 with a larger number e.g. 10 to see which element on the image corresponds to it</p>
			</div>
			<div id = "comment-13645" class = "comment">
				<p>q3 corresponds with the las joint, the one which forms an L at the end of the manipulator. In the Matlab plot there is only "d" for the first frame, that is the length from the base until the second joint (L0).</p>
			</div>
			<div id = "comment-13657" class = "comment">
				<p>Why do you have 4 sets of DH parameters for a 3 DOF manipulator?</p>
			</div>
			<div id = "comment-13658" class = "comment">
				<p>First one I used to plot my world frame in matlab and I forgot about it...Sorry, made the change</p>
			</div>
			</div>
				<textarea id = "speech-8435" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8435">
					<img id="start_img-8435" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8435">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>