<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Denavit-Hartenberg parameters for SCARA manipulator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4364" class = "post">
			<h2>Question</h2>
			<div id="vote-4364" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4387</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Denavit-Hartenberg parameters for SCARA manipulator</h2>
<p>I'm going through the textbook Robot Modeling and Control, learning about the DH convention and working through some examples. </p>

<p>I have an issue with the following example. Given below is an image of the problem, and the link parameter table which I tried filling out myself. I got the same answers, except I believe there should be a parameter d1 representing the link offset between frames 1 and 2. This would be analogous to the d4 parameter. </p>

<p><img src="https://i.stack.imgur.com/jc3Ax.png" alt="enter image description here"></p>

<p>If anyone could explain why I might be wrong, or confirm that I have it right, that would be great. I hate it when it's me against the textbook lol. </p>

<p>Cheers.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4364" data-toggle = "popover">
				<p>user name : JDS</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-4364">{'servomotor': 0, 'None': 1, 'force': 1, 'motor': 10, 'power': 3, 'servos': 0, 'torque': 5, 'gearing': 5, 'industrial-robot': 4, 'dh-parameters': 6, 'robotic-arm': 17, 'actuator': 4, 'rotation': 2, 'forward-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4364">Load Comments</button></br>
			<div id = "commentsection-4364" class = 'collapse'>
			<div id = "comment-9306" class = "comment">
				<p>This book is not really that good. It does not even show a good diagram for the scara robot with clear indication of link and joint numbering and labels. Looking at the diagram you show, it does not even show `d1` on the diagram. I think these diagram were made in Latex/Tickz, and may be it was hard for them to add many notations on the diagrams, so they are missing many details. I like diagrams that are close to physical shape of robots, like this ![Mathematica graphics](http://i.stack.imgur.com/PxuSc.png)  in the MLS book</p>
			</div>
			<div id = "comment-9557" class = "comment">
				<p>It depends on where the origin of the first joint is. In the book, the origin is chosen so D1 is 0.</p>
			</div>
			</div>
				<textarea id = "speech-4364" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4364">
					<img id="start_img-4364" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4364">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4411"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4411" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are right he made a mistake there. </p>

<p>This is probably one of many typos in this preprint of <strong>Mark Spong</strong>. You should rather turn to other good books, such as the mathematically more elegant book of Richard Murray,Zexiang Li and Sankar Sastry, <strong>A Mathematical Introduction to Robotics Manipulation</strong> (MLS94). The mathematics they use is consistent in other of their books such as Yi Ma, etal <strong>An Invitation to 3D-Vision</strong>. <strong>screw theory</strong> and <strong>Lie group theory</strong> instead of Denavit and Hartenberg's minimal approach are used in the book. It is much more superior than the D-H approach, and is widely adopted in the academia (the industry is another story). </p>

<p>Finally, a bonus is that the book MLS94 is completely free to download (under an agreement with the publisher CRC press). It also did a terrific job in systematic treatment from kinematics to dynamics to control.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4411" data-toggle = "popover">
				<p>user name : Troy Woo</p>
				<p> user reputation : 306</p>
				<p class = "tagcontent" id = "usertaginfo-4411">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4411">Load Comments</button></br>
			<div id = "commentsection-4411" class = 'collapse'>
			<div id = "comment-6977" class = "comment">
				<p>First of all, thank you for confirming... these little things drive me mad. Second of all, thank you for the other reference (MLS94). I will definitely check it out. Coming from a slightly more mature mathematical background, I find stuff like D-H conventions to be... archaic.</p>
			</div>
			<div id = "comment-6978" class = "comment">
				<p>@JDS If you are really mathematically sophisticated, you should not put too much in robotics kinematics and dynamics. There is really nothing left for you (unless you are willing to spend years on solving open problems). Try some CS oriented direction instead :-).</p>
			</div>
			<div id = "comment-6980" class = "comment">
				<p>Just looking to get myself up to speed on the basic physics. Though my interests lie more in control and path planning.</p>
			</div>
			</div>
				<textarea id = "speech-4411" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4411">
					<img id="start_img-4411" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4411">Comment</button>
			<br><div id = "ans-7011"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7011" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If the axes zi 1 and zi are parallel,A common method for choosing oi
is to choose the normal that passes through oi 1 as the xi axis; oi is then the
point at which this normal intersects zi. In this case, di would be equal to zero.
Once xi is fixed, yi is determined, as usual by the right hand rule. Since the
axes zi 1 and zi are parallel, i will be zero in this case.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7011" data-toggle = "popover">
				<p>user name : sajjad</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7011">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7011" class = 'collapse'>
			</div>
				<textarea id = "speech-7011" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7011">
					<img id="start_img-7011" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7011">Comment</button>
			<br><div id = "ans-11260"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11260" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm a Chinese college student and also find this problem when learning industral robot. 
If you clearly identify the motion of the SCARA robot, you'll find that the distance of each joint is stable, for example the distance of joint 1 and 2 is always the b1. So just review the definition of bi: the joint offect. I think you're correct. 
Please find the Page 110 5.17- from the book , written by SAHA. There is clear dipict of sturature about SCARA robot.
Any commutation, welcome to e-mail me. 
sailong.wu@gmail.com</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11260" data-toggle = "popover">
				<p>user name : sailong.wu</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11260">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11260" class = 'collapse'>
			</div>
				<textarea id = "speech-11260" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11260">
					<img id="start_img-11260" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11260">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>