<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Depth image sensor for integration into robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7095" class = "post">
			<h2>Question</h2>
			<div id="vote-7095" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 298</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Depth image sensor for integration into robot</h2>
<p>I know there are lots of consumer depth image sensors: kinect, primesense, structure.io, leap motion, ... But I'm looking for something that is more suitable for integration into robot, something without case or with proper mount, compact and available for at least next five years if robot is going to production. Something similar to the sensors used in this drone <a href="https://www.youtube.com/watch?v=Gj-5RNdUz3I" rel="nofollow">https://www.youtube.com/watch?v=Gj-5RNdUz3I</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7095" data-toggle = "popover">
				<p>user name : DikobrAz</p>
				<p> user reputation : 216</p>
				<p class = "tagcontent" id = "usertaginfo-7095">{'odometry': 2, 'None': 10, 'wheeled-robot': 2, 'kinect': 1, 'kalman-filter': 2, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7095">Load Comments</button></br>
			<div id = "commentsection-7095" class = 'collapse'>
			<div id = "comment-10101" class = "comment">
				<p>Thanks for the question. I need same thing. A cheap 3d sensor which can sense obstacles and moving objects. I serach many commerical products but non of them suitable for robots than I decide to use hybrit of stereo vision and omnidirectional vision</p>
			</div>
			</div>
				<textarea id = "speech-7095" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7095">
					<img id="start_img-7095" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7095">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7108"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7108" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What kind of processing power are you hoping to carry to do the depth sensing/processing? I would recommend the <a href="https://www.stereolabs.com/" rel="nofollow">ZED camera</a> when paired with an Nvidia K1 it works great for mobile vision processing, it is not environmentally sealed so it can only operate in good weather. It works from about 2-30m for most applications. if you are looking for bigger objects (like building sized) it can work a little further, around 50m. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7108" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7108">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7108">Load Comments</button></br>
			<div id = "commentsection-7108" class = 'collapse'>
			<div id = "comment-10095" class = "comment">
				<p>We'll probably have some relatively powerful x86 system. But I don't like stereo cameras, their depth is too unreliable, at least for indoor applications.</p>
			</div>
			<div id = "comment-10096" class = "comment">
				<p>Ya with the zed I get around 5cm accurcy, I don't really know of a solution like the one your asking for</p>
			</div>
			</div>
				<textarea id = "speech-7108" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7108">
					<img id="start_img-7108" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7108">Comment</button>
			<br><div id = "ans-7126"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7126" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want a low cost vision sensor that does all the work for you I sugest you look here -> <a href="http://www.cmucam.org/projects/cmucam5" rel="nofollow noreferrer">Pixy Cam</a></p>

<p>From here you can work with two cameras and build your application using stereo vision to achieve 3D. You will have some work, because you have to use some kind of controller (arduino, netduino, whatever), build your own algorithm, build a case, etc... but it's cheap and it works fine.</p>

<p>Also, look here -> <a href="https://robotics.stackexchange.com/questions/7050/questions-regarding-3d-scanning-and-camera-choice">Question regarding 3d scanning and camera choice</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7126" data-toggle = "popover">
				<p>user name : J natas Br s</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-7126">{'stereo-vision': 2, 'None': 2, 'microcontroller': 2, 'cameras': 2, 'robotic-arm': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7126">Load Comments</button></br>
			<div id = "commentsection-7126" class = 'collapse'>
			<div id = "comment-10119" class = "comment">
				<p>Thanks for the link, but i'm looking for depth camera.</p>
			</div>
			<div id = "comment-10129" class = "comment">
				<p>Any 3D system is a depth system.</p>
			</div>
			</div>
				<textarea id = "speech-7126" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7126">
					<img id="start_img-7126" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7126">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>