<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Design in the robotics world
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10014" class = "post">
			<h2>Question</h2>
			<div id="vote-10014" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 44</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Design in the robotics world</h2>
<p>Apologies if this isn't really the right place to be asking, but I was wondering whether third party design firms are ever contracted to design industrial and or consumer robots? </p>

<p>If not is it something that is usually done in house, and who within an org would usually take care of this process?</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10014" data-toggle = "popover">
				<p>user name : matt</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10014">{'None': 0, 'design': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10014">Load Comments</button></br>
			<div id = "commentsection-10014" class = 'collapse'>
			<div id = "comment-17862" class = "comment">
				<p>I'm voting to close this question as off-topic because it is about business practices.</p>
			</div>
			<div id = "comment-17875" class = "comment">
				<p>Welcome to *robotics* matt, but I'm afraid that questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. Also, the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question.</p>
			</div>
			<div id = "comment-17876" class = "comment">
				<p>Do a google search for "mechatronic solutions provider" and you will get lots of hits for SME's which specialise in designing and building robotic systems.</p>
			</div>
			</div>
				<textarea id = "speech-10014" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10014">
					<img id="start_img-10014" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10014">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10015"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10015" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ul>
<li><p>Robots are often made multi-purpose.
They're usually not redesigned for every other application, that'd cost quite a lot.</p></li>
<li><p>A company that would like to use a robot, (let's say a packaging company) often doesn't have the knowledge (or experience) in designing and manufacturing robots.</p></li>
<li><p>The company that would like to use a robot, often doesn't even have the knowledge to program/implement it into their workflow.</p></li>
</ul>

<p>Let's say there is a company that's selling bottles of water, called WaterB. Pretty straight forward. Since they do not design robots on a daily basis, they're unlikely to have personnel that can design and "create" a robot efficiently. It will not be cost effective to design a robot for a one-off, and it will have some "quirks" since it's the first version of a company with no experience.</p>

<p>The WaterB company now has a choice, hire another company to design a completely new robot, buy an existing model (and implement it themselves) or hire an "system integrator" (company).</p>

<p>Usually, they'll hire a system integrator, they'll go over the benefits and problems that robots may have and check if there are points in the bottling proces where robots can be used efficiently.</p>

<p>WaterB (or if used, the system integrator) will then most likely buy an existing model of robot, and program it to "palletize" the water bottles.</p>

<p>So yes, there are companies that design and manufacture robots (obviously), but it's often not really something you do "in-house". Due to the long design, development, testing and certification proces.</p>

<p>Designing/developing a robot usually only pays back when you're going to sell multiple of them. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10015" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-10015">{'None': 6, 'robotic-arm': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10015" class = 'collapse'>
			</div>
				<textarea id = "speech-10015" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10015">
					<img id="start_img-10015" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10015">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>