<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Designing a 5 bar linkage robot: Plot Clock
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8331" class = "post">
			<h2>Question</h2>
			<div id="vote-8331" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1206</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Designing a 5 bar linkage robot: Plot Clock</h2>
<p>I am a beginner at robotics. 
I recently stumbled across this <a href="https://www.youtube.com/watch?v=iOLFP90DneY" rel="nofollow">robotic clock on youtube</a>.</p>

<p>I am an electrical engineering student and am interested in submitting it as my minor project.</p>

<p>I have studied the basics on forward and inverse kinematics, Greubler's Equation, four bar linkage but this robot seems to be a 5 bar linkage. I want to know how to implement it in a 5 bar linkage.</p>

<p>How to use the inverse kinematics solutions described in <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.456.7665&amp;rep=rep1&amp;type=pdf" rel="nofollow">Combined synthesis of five-bar linkages and non-circular gears for precise path
generation</a>, to make the robot follow desired trajectory?</p>

<p>I have been stuck at this for days... any sort of help would be appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8331" data-toggle = "popover">
				<p>user name : Piyush Menghani</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-8331">{'first-robotics': 3, 'None': 0, 'beginner': 3, 'robotic-arm': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8331" class = 'collapse'>
			</div>
				<textarea id = "speech-8331" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8331">
					<img id="start_img-8331" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8331">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8334"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8334" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Not to completely ignore your direct questions, but I think you are overthinking the problem.  I don't believe any linkage math or even inverse kinematics are required.  The main reason is that the set of actions that the robot must perform (10 different characters at 4 locations) is small and the workspace never changes (a plane that is fixed to the robot).  That's not to say that this isn't a great project, and there should still be some interesting engineering problems to solve.</p>

<p>Since hobby servos like these are backdrivable, I think the best thing to do would be for you to simply write each character by hand and record the trajectory.  (Record the joint angles at some time increment and/or when the joints move some distance).  Then simply write some control code to follow this trajectory.  Like i said before, because the robot's workspace is completely fixed, you can get away with doing everything in joint-space.  Going in and out of Cartesian space with FK / IK really doesn't buy you much.</p>

<p>Now, if you were to make a mobile system that was supposed to write on <em>any</em> whiteboard surface in it's workspace, then you would start to need some forward / inverse kinematics...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8334" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8334">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8334">Load Comments</button></br>
			<div id = "commentsection-8334" class = 'collapse'>
			<div id = "comment-13518" class = "comment">
				<p>Thanks for the answer. It is right that coding required in it is limited to certain characters and it is already available in the online code. I was actually hoping to implement drawing sketches or atleast writing alphabets with it. Also as the angles used in this are 0-90 degrees for each servo its range can be further extended.Please mention any other interesting project that might be on your mind :)</p>
			</div>
			</div>
				<textarea id = "speech-8334" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8334">
					<img id="start_img-8334" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8334">Comment</button>
			<br><div id = "ans-8336"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8336" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Both the forward kinematics and inverse kinematics aren't too difficult, but always a little tricky for parallel manipulators like this one. Consider the configuration in this diagram.</p>

<p><a href="https://i.stack.imgur.com/4em8U.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4em8U.png" alt="enter image description here"></a></p>

<p>The forward kinematics first involve solving for the position of the joint where you hold the pen from each motor joint separately and then equating the two.</p>

<p>$\begin{bmatrix} a - b \cos \theta_2 - c \cos \beta \\ a \sin \theta_2 + c \sin \beta \end{bmatrix} = \begin{bmatrix} e \cos \theta_1 + d \cos \alpha \\ e \sin \theta_1 + d \sin \alpha \end{bmatrix}$</p>

<p>This gives you two equations in two unknowns, $\alpha$ and $\beta$. After you solve for those angles, simply substitute them back into one of the sides of the above equation and you have the position of the pen given the input motor angles $\theta_1$ and $\theta_2$.</p>

<p>For the inverse kinematics, you start with the known position of your pen (the blue dot in the image), then you compute the lengths of the red lines, $f$ and $g$. Since you know all other lengths you can also solve for the angles in triangles $def$ and $gcb$. From that geometry you can then get the angles $\theta_1$ and $\theta_2$.</p>

<p>So then you can turn each of your desired clock characters into an x-y path for the pen, convert the x-y path into $\theta_1$-$\theta_2$ trajectories, and control your motors accordingly. It looks like the entire linkage is then mounted on another joint that pushes the pen away from the surface between characters, but the logic behind that should be pretty easy to implement.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8336" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8336">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8336" class = 'collapse'>
			</div>
				<textarea id = "speech-8336" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8336">
					<img id="start_img-8336" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8336">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>