<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Design and construction of universal robotic arm (5kg, 1m)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7091" class = "post">
			<h2>Question</h2>
			<div id="vote-7091" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1238</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Design and construction of universal robotic arm (5kg, 1m)</h2>
<p>i am working on my master's thesis about design and construction of universal robotic arm. 
Goal of my work is to design 5 DOF robotic arm. Something like on the picture: <img src="https://i.stack.imgur.com/RqzaB.jpg" alt="enter image description here"></p>

<p>I need it to be able to lift a weight about 5kg. It has to move in "action radius" 1m. Rotation speed should be about 1m/s. The conclusion of my work should be like: "You can buy ABB robotic arm or you can but this..it can lift that much, can turn that speed and weighs that much". Basic construction should be done too. Maybe with some simulation.</p>

<p>First of all - i picked really bad master's thesis for me, i know that know.
Second - i have like month to finish it.
I would like to ask someone how to proceed. 
I know that first step is to pick servos/actuators/gearboxes, but which one?
What is realistic weight of the whole arm which should lift another 5 kg of weight? How strong motors should i pick or with what gearboxes? </p>

<p>Is anyone able to help me via maybe emails? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7091" data-toggle = "popover">
				<p>user name : V t Hude ek</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-7091">{'actuator': 1, 'None': 0, 'servos': 1, 'arm': 1, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7091">Load Comments</button></br>
			<div id = "commentsection-7091" class = 'collapse'>
			<div id = "comment-10060" class = "comment">
				<p>You have a month to finish your entire MSc thesis? No offence, but that probably will not happen, and you should mentally prepare yourself for the outcome. For servos, you will need high torque ones if you want to lift up 5kg - HobbyKing carries plenty, but shipping will take a while, you can use HK as a starting point though. Look for some with metal gears in them, as nylon ones are kind of easy to strip accidentally. With radius of 1m, the circumference of the turning circle is ~6.3, so you want it to rotate at ~60 degrees/sec, look for that spec on the servos (most of them will do it).</p>
			</div>
			<div id = "comment-10062" class = "comment">
				<p>Well. I do not need to build it. Just need to have some SW models for that. I picked Siemens 1F7062 with 28:1 gearbox. But it is quiete big motor with that gearbox. Do you know about something else? For the second rotation. Base rotation will figure out later.</p>
			</div>
			<div id = "comment-10063" class = "comment">
				<p>Which second rotation are you talking about? Like the bending of the arm itself (kind of elbow/wrist area)? It would be the same idea when calculating rotation speed. I haven't been able to find any servos with that part number. In one of my old labs we had a robotic arm, but it was focused more on high-speed rather than lifting a lot. Nevertheless, the servo used was HS-805. That's not a great choice for you because of the nylon gears. Alternative (that I have in a hexapod) is something like TGY-1501MG, which have metal gears.</p>
			</div>
			<div id = "comment-10064" class = "comment">
				<p>You have to make a model (or at least a sketch) of your arm and calculate torque around the joints to make sure the servos can handle it without stalling/dying/stripping gears. You also need to consider power consumption and how you would power that arm. The thing is, there are lots of robotic arms on the market (hobbyist and industrial quality), so how is yours going to be better? What is the "selling point" of your thesis?</p>
			</div>
			<div id = "comment-10067" class = "comment">
				<p>This one https://mall.industry.siemens.com/mall/en/WW/Catalog/Product/?mlfb=1FK7062-2AC7.-....  . Those you send me are so small..they would not ift such weight, would they?
I am not trying to build something better - i have a job and school is just slowing me down and pissing me off so i just have to "sell" something to pass State Final Examination (if you have the same thing at the end). I hope you understand</p>
			</div>
			</div>
				<textarea id = "speech-7091" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7091">
					<img id="start_img-7091" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7091">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7100"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7100" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To answer your questions about the motors/gearing:</p>

<p>To lift 5Kg at 1 metre distance - the "shoulder" torque needs to be 500 Kg.cm or about 5000 N.cm.</p>

<p>This is far above the torque of most model servos, so forget them; robots of this sort of performance generally use a specialist motor, much more than 12V and a purpose built gearing arrangement that probably more costly than the motor.  (Often harmonic drives, though a more conventional spur gearing arrangement will work for less performance and more backlash.)</p>

<p>Motor power to get a reasonable speed can be calculated from the torque and the rotational speed you're designing for - at least several hundred watts.  This would assumes the arm itself has zero mass by the way, so would be a wild underestimate.</p>

<p>Actual weight is impossible to estimate without first making an initial mechanical design; it depends where the other motors are located and how heavy they are, since the robot must lift its own weight.  Robots I've learned on in the past (very old PUMA robots, quite well known) are far heavier than the 5Kg payload you want to lift; maybe 30-50Kg or so for the whole arm and rotation axis?</p>

<p>(This is much more than a month of work, I'm sorry to say.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7100" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-7100">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7100" class = 'collapse'>
			</div>
				<textarea id = "speech-7100" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7100">
					<img id="start_img-7100" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7100">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>