<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Detect physical touch~hit
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10130" class = "post">
			<h2>Question</h2>
			<div id="vote-10130" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 208</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Detect physical touch~hit</h2>
<p>I'm making a target to an outdoor robot competition.</p>

<p>The target should detect if some of the robot got touched or got an hit   automatically. and the target can get hit 360 degree. </p>

<p>I'm searching for the perfect sensor to detect an hit, without get false positive from a wind.</p>

<p>My option right now are:
1- ultrasonic sensor (bad coverage)
2- tilt sensor  (bad FP rate)
3- wooden conductive </p>

<p>I would like to know if someone has other ideas (that affordable - less than 30$ dollar per target might be o.k)</p>

<p>Edit: the target is static, and just waiting to a robot to touch it.</p>

<p>Edit: The specs are:</p>

<p>1- The target dimension is 1 meter height, 0.5 meter width , 0.3 depth.</p>

<p>2- To trigger the target ,the robot should be around 10 centimeter long to any point of the target surface.</p>

<p>3-To trigger the target the robot needs to get close up to 10 centimeter or even press with around 1 Newton force. the robot might even throw an object that satisfy the previous condition.</p>

<p>4-Detection must be only from intentional touch.</p>

<p>5-Wooden conductive is trigger because a human is Electrically conductive. this might not be the option when we throw an object.</p>

<p>6- Target will be placed outdoor, so the sensor need to be wind-resistance (not extreme wind condition- just around 20-25 km/h)</p>

<p>7- I  prefer a sensor that detect touch (more than proximity)because it might make my solution more cheap and reliable(in factor of amount sensors as i estimate).</p>

<p>Thanks.
Guy</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10130" data-toggle = "popover">
				<p>user name : user1387682</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10130">{'force-sensor': 0, 'None': 0, 'sensors': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10130">Load Comments</button></br>
			<div id = "commentsection-10130" class = 'collapse'>
			<div id = "comment-18071" class = "comment">
				<p>What do you mean at point 5, "Wooden conductive is trigger because a human is Electrically conductive. this might not be the option when we throw an object"?</p>
			</div>
			<div id = "comment-18076" class = "comment">
				<p>How is the target supposed to differentiate between "intentional press", "intentional proximity", and accidentally entering the target zone?</p>
			</div>
			</div>
				<textarea id = "speech-10130" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10130">
					<img id="start_img-10130" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10130">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10133"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10133" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just an idea, I have used this Doppler radar module: <a href="http://rads.stackoverflow.com/amzn/click/B00FFW4AZ4" rel="nofollow">https://www.amazon.com/SMAKN-Microwave-10-525GHz-Doppler-Detector/dp/B00FFW4AZ4</a>, for velocity estimation and presence detection. I don't completely understand what the scenario is, but in theory if a target was moving towards your robot, you could measure that by looking at the output of the Doppler radar. If a target moves towards you then the frequency of the output signal would increase, if it moves away the frequency would decrease. Good alternative to an ultrasonic because of larger range, but you would probably need one on the front and back for full 360 coverage. Also you may have issues if the target is too small, but again I don't fully understand your scenario.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10133" data-toggle = "popover">
				<p>user name : Sachin Konan</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-10133">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10133" class = 'collapse'>
			</div>
				<textarea id = "speech-10133" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10133">
					<img id="start_img-10133" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10133">Comment</button>
			<br><div id = "ans-10138"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10138" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Why don't just use bumpers? <a href="http://www.dfrobot.com/index.php?route=product/product&amp;product_id=63#.V2fWIbiLTIU" rel="nofollow">HCR robot</a> is a nice example of a platform that uses this method.  The only downside is that they require some force to be pushed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10138" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-10138">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10138">Load Comments</button></br>
			<div id = "commentsection-10138" class = 'collapse'>
			<div id = "comment-18040" class = "comment">
				<p>Can you give me a precise reference to those bumpers?</p>
			</div>
			</div>
				<textarea id = "speech-10138" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10138">
					<img id="start_img-10138" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10138">Comment</button>
			<br><div id = "ans-10152"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10152" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One option could be to use the MPU6050 IMU, or some other accelerometer. These sensors are cheap, so they will come in under your budget. </p>

<p>With acceleration measurements, you can detect impulses caused by striking the target surface. If you are assuming light wind, then you can probably just set a threshold that on the magnitude of the impulse, classifying measurements as hits only if they exceed a certain value. If you expect significant wind, you can do some sort of filtering.</p>

<p>It is hard to say more because your description is somewhat nebulous. Perhaps adding a diagram would help.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10152" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-10152">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10152" class = 'collapse'>
			</div>
				<textarea id = "speech-10152" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10152">
					<img id="start_img-10152" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10152">Comment</button>
			<br><div id = "ans-10181"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10181" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could use a micro-switch if you're looking for touch sensing rather than proximity. Check this link out for more info (Its an example):
<a href="https://www.arduino.cc/en/tutorial/switch" rel="nofollow">https://www.arduino.cc/en/tutorial/switch</a></p>

<p>The advantage (and disadvantage) of this switch is that it requires very little force to activate. Which also means that application of large force can cause the switch to get stuck or break. But with the description of the problem you've provided, I think this will help you out.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10181" data-toggle = "popover">
				<p>user name : Sandesh</p>
				<p> user reputation : 52</p>
				<p class = "tagcontent" id = "usertaginfo-10181">{'quadcopter': 1, 'None': 4, 'raspberry-pi': 1, 'arduino': 1, 'brushless-motor': 0, 'esc': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10181" class = 'collapse'>
			</div>
				<textarea id = "speech-10181" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10181">
					<img id="start_img-10181" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10181">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>