<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Determine what the rotation axis is given a rotation matrix
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7724" class = "post">
			<h2>Question</h2>
			<div id="vote-7724" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 73</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Determine what the rotation axis is given a rotation matrix</h2>
<p>How do I find out around which axis the coordinate system has to rotate, if the rotation matrix is given?</p>

<p>$ {^{a}R_{b} } $ = $ \left(\begin{matrix} 0 &amp; 1 &amp; 0 \\ -1 &amp; 0 &amp; 0 \\ 0 &amp; 0 &amp; 1 \\\end{matrix}\right)$ </p>

<p>$ {^{a}R_{c} } $ = $ \left(\begin{matrix} 0 &amp; 0 &amp; 1 \\ 1 &amp; 0 &amp; 0 \\ 0 &amp; 1 &amp; 0 \\\end{matrix}\right)$ </p>

<p>For $ {^{a}R_{b} } $ I thought, that it has to be a rotation around the z-axis, because 
$R(z,\theta) =  \left(\begin{matrix} cos(\theta) &amp; -sin(\theta) &amp; 0 \\ sin(\theta) &amp; cos(\theta) &amp; 0 \\ 0 &amp; 0 &amp; 1 \\\end{matrix}\right)$ </p>

<p>the values at the positions $a_{13}, a_{23},a_{33},a_{32},a_{31}$ of $ {^{a}R_{b} } $ and $R(z,\theta)$ are identical.</p>

<p>So I solved $cos(\theta) = 0$ =>$\theta = 90  $ => 90  rotation around z-axis.</p>

<p>But how do I solve it, if there is more than 1 rotation, like for $ {^{a}R_{c} } $?  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7724" data-toggle = "popover">
				<p>user name : cindy</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-7724">{'joint': 5, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7724">Load Comments</button></br>
			<div id = "commentsection-7724" class = 'collapse'>
			<div id = "comment-11226" class = "comment">
				<p>See the answer to [this question](http://math.stackexchange.com/questions/155078/closed-form-for-eigenvectors-of-rotation-matrix).</p>
			</div>
			</div>
				<textarea id = "speech-7724" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7724">
					<img id="start_img-7724" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7724">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7725"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7725" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For starters, the product of rotation matrices are not unique. </p>

<blockquote>
  <p>Any orientation can be achieved by composing three elemental rotations.<a href="http://personal.maths.surrey.ac.uk/st/T.Bridges/SLOSH/3-2-1-Eulerangles.pdf" rel="nofollow">1</a></p>
</blockquote>

<p>To recover a set of rotation angles you'll need to start with the full rotation matrix and then work backwards. Let's look at a 3-2-1 rotation. </p>

<p>$ {R_{321} } $ = $ \left(\begin{matrix} 
cos\theta cos\phi &amp; cos\theta sin\psi &amp; -sin\theta \\ 
sin\phi sin cos cos\phi sin  &amp; sin\phi sin sin + cos\phi cos  &amp; sin\phi cos  \\ 
cos\phi sin cos + sin\phi sin  &amp; cos\phi sin sin sin\phi cos  &amp; cos\phi cos  \\
\end{matrix}\right)$ </p>

<p>We can now solve for $\theta$. This can be used to solve for $\psi$ and $\phi$. Looking at your $^aR_c$ matrix, we can find the $\theta$ is $-\frac{\pi}{2}$, $\psi$ is $-\frac{\pi}{2}$, and $\phi$ is 0. </p>

<p>__</p>

<p><a href="http://personal.maths.surrey.ac.uk/st/T.Bridges/SLOSH/3-2-1-Eulerangles.pdf" rel="nofollow">More on recovering euler rotations</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7725" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-7725">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7725" class = 'collapse'>
			</div>
				<textarea id = "speech-7725" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7725">
					<img id="start_img-7725" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7725">Comment</button>
			<br><div id = "ans-7726"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7726" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the <a href="https://en.wikipedia.org/wiki/Rotation_formalisms_in_three_dimensions#Rotation_matrix_.E2.86.94_Euler_axis.2Fangle" rel="nofollow">Wikipedia article on conversion between the rotation matrix and Euler axis/angle</a>:</p>

<p>Given a rotation matrix:
$$
\
R 
= \begin{bmatrix}    
r_{11} &amp; r_{12} &amp; r_{13}\\
r_{21} &amp; r_{22} &amp; r_{23}\\
r_{31} &amp; r_{32} &amp; r_{33}
\end{bmatrix}
\\
$$</p>

<p>You can get the rotation angle:
$$
\theta = \cos^{-1} \left[ 0.5(r_{11} +r_{22} + r_{33} - 1) \right] \\
n_x = \frac{r_{32} - r_{23}}{2 \sin(\theta)} \\
n_y = \frac{r_{13} - r_{31}}{2 \sin(\theta)} \\
n_z = \frac{r_{21} - r_{12}}{2 \sin(\theta)} \\
$$</p>

<p>So, given your first problem:
$$
R 
= \begin{bmatrix}    
0 &amp; 1 &amp; 0\\
-1 &amp; 0 &amp; 0\\
0 &amp; 0 &amp; 1
\end{bmatrix}
\\
$$</p>

<p>$$
\theta = \cos^{-1} \left[ 0.5(0 +0 +1 - 1) \right] \\
\theta = 1.57 \mbox{rad} = 90^{\circ} \\
n_x = \frac{0 - 0}{2 \sin(90^{\circ})} \\
n_y = \frac{0 - 0}{2 \sin(90^{\circ})} \\
n_z = \frac{-1 - 1}{2 \sin(90^{\circ})} \\
n_x = 0 \\
n_y = 0 \\
n_z = -1 \\
$$
So you can see here that, for your first problem, you rotate 90 degrees about the -z axis, or equivalently, you rotate -90 degrees about the +z axis. </p>

<p>Similarly, for your second problem:
$$
R 
= \begin{bmatrix}    
0 &amp; 0 &amp; 1\\
1 &amp; 0 &amp; 0\\
0 &amp; 1 &amp; 0
\end{bmatrix}
\\
$$</p>

<p>$$
\theta = \cos^{-1} \left[ 0.5(0 +0 + 0 - 1) \right] \\
\theta = 2.09\mbox{rad} = 120^{\circ} \\
n_x = \frac{1 - 0}{2 \sin(120^{\circ})} \\
n_y = \frac{1 - 0}{2 \sin(120^{\circ})} \\
n_z = \frac{1 - 0}{2 \sin(120^{\circ})} \\
n_x = 0.577 \\
n_y = 0.577 \\
n_z = 0.577 \\
$$</p>

<p>Here you have an axis of rotation that is x=y=z=0.577 (but could be scaled to, say, x=y=z=1, just for thinking about the nature of the rotation), and then you rotate +120 degrees about that axis.</p>

<p>Hope this helps; please comment if I've left something unclear. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7726" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7726">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7726" class = 'collapse'>
			</div>
				<textarea id = "speech-7726" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7726">
					<img id="start_img-7726" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7726">Comment</button>
			<br><div id = "ans-10737"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10737" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For solving individual cases, if you do not want to script yourself, you can enter the matrix in this <a href="http://www.andre-gaschler.com/rotationconverter/" rel="nofollow">Online Calculator for 3D Rotation Formats</a>, switch the output to degrees, and see the axis-angle output. </p>

<p>In case your of ${}^aR_c$, it outputs a 120 degrees rotation around the axis [0.5773503, 0.5773503, 0.5773503].</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10737" data-toggle = "popover">
				<p>user name : SpamBot</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-10737">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10737" class = 'collapse'>
			</div>
				<textarea id = "speech-10737" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10737">
					<img id="start_img-10737" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10737">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>