<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Determining position from a 2D map and LIDAR
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10523" class = "post">
			<h2>Question</h2>
			<div id="vote-10523" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 795</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Determining position from a 2D map and LIDAR</h2>
<p>We need to determine the 2D position of my robot. To do so, we have a LIDAR at a known high, with an horizontal plane, which gives us the distance to the nearest point for each angular degree (so 360 points for one rotation). The environment is known, so I have a map of the position of every object that the LIDAR is susceptible to hit.</p>

<p>My question is, based on the scatter plot that the LIDAR is returning, how can we retrieve the position of my robot in the map ? We would need the <code>x</code>, <code>y</code> position in the map frame and also the <code>theta</code> angle from the map frame to my robot frame.</p>

<p>We have tried to match objects on map with groups of points based on their distance between each other and by identifying those objects and the way the LIDAR "sees" them to retrieve the robot position. But it is still unsuccessful.</p>

<p>To put it in a nutshell, we want to make <code>SLAM</code> without the mapping part. How is it possible, and with what kind of algorithms ?</p>

<p>A first step could be to stop the robot while acquiring data if it seems easier to process.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10523" data-toggle = "popover">
				<p>user name : EngelOfChipolata</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-10523">{'None': 1, 'lidar': 4, 'precise-positioning': 4, 'particle-filter': 0, 'localization': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10523">Load Comments</button></br>
			<div id = "commentsection-10523" class = 'collapse'>
			<div id = "comment-18926" class = "comment">
				<p>Is the robot moving while taking the LIDAR sensor reading? If so, did you take this into account?</p>
			</div>
			<div id = "comment-18927" class = "comment">
				<p>Yes, the robot is moving, but a first step is to make it stop during the data acquiring. Furthermore, if the LIDAR rotation speed is greater than the displacement speed, we think we could process the data as if the robot is stopped.</p>
			</div>
			<div id = "comment-18928" class = "comment">
				<p>"The environment is known" if this is the case then you don't need SLAM. It is localization problem which is simpler than SLAM.</p>
			</div>
			<div id = "comment-18929" class = "comment">
				<p>Exactly, this is what I intended to say using the last but one sentence. But even if it seems simpler, we can't figure out how to do it properly. I completely agree that in SLAM you don't have to "match" to a known environment, so I did not put the `SLAM` tag.</p>
			</div>
			</div>
				<textarea id = "speech-10523" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10523">
					<img id="start_img-10523" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10523">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10528"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10528" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your problem is called localization. A simple approach would be to use a <a href="https://en.wikipedia.org/wiki/Point_set_registration" rel="nofollow">point set registration algorithm</a> such as <a href="https://en.wikipedia.org/wiki/Iterative_closest_point" rel="nofollow">ICP</a> with a map represented as a point cloud, where the real-world position of every point is known. To localize, you would then run the point set registration algorithm to find the best match for the LIDAR scan you just acquired in the map. The algorithm will return a 2D transform that will give you the position and orientation of your robot (strictly speaking your lidar, assuming it is at the origin of your point cloud).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10528" data-toggle = "popover">
				<p>user name : lucab</p>
				<p> user reputation : 78</p>
				<p class = "tagcontent" id = "usertaginfo-10528">{'computer-vision': 4, 'stereo-vision': 4, 'None': 4, 'slam': 4, 'lidar': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10528">Load Comments</button></br>
			<div id = "commentsection-10528" class = 'collapse'>
			<div id = "comment-18934" class = "comment">
				<p>The thing is, my map will not be entirely discovered, and so, the LIDAR points cloud will overlap just a part of the map. Is the ICP still working in that case ? Furthermore, it is possible to generate a point cloud that could be matched from every position of the robot (e.g. more points on an obstacle if the robot is close to it, but the number of points in the map will stay the same) ?</p>
			</div>
			<div id = "comment-18935" class = "comment">
				<p>Don't quote me on that, but I think the "basic" ICP algorithm works with partial matches. I do know that not all ICP variants are robust to noise (which is what the varying point density would look like to the registration algorithm), but there certainly are some variants that work for your case. Maybe have a look at [this paper by Rusinkiewicz and Levoy](https://www.cs.princeton.edu/~smr/papers/fasticp/fasticp_paper.pdf) that presents and compares variants of ICP. Also, you can consider other algorithms than ICP. The wikipedia page I linked in my response is a good starting point.</p>
			</div>
			<div id = "comment-18945" class = "comment">
				<p>By reading a bit about it, it seems that since ICP is least square based, perfect matching is not needed. If the noise or the non matching parts are not similar to another part of the map (luck...), the good place should be the lowest least square value. Thank you so much !</p>
			</div>
			<div id = "comment-18950" class = "comment">
				<p>To deal with multiple potential matches (what the lidar sees is not enough to uniquely identify your position), I would look into using a particle filter. This filter will allow you to keep track of the multiple possible positions and, as new information gets available (e.g. through movement), improve your position estimate.</p>
			</div>
			<div id = "comment-18956" class = "comment">
				<p>I think we will make the matching search space smaller than the whole map, because we already have a good estimation of the position through odometry, but as we are not that good at mechanics, it drifts a lot...</p>
			</div>
			</div>
				<textarea id = "speech-10528" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10528">
					<img id="start_img-10528" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10528">Comment</button>
			<br><div id = "ans-10571"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10571" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>1- Of course you don't have perfect matches</p>

<p>2- ICP is not used for localization, it is used to calculate the transformation  the robot's pose has undergone (T+R)</p>

<p>3- To localize your robot, you would have to use a particle filter as lucab has said</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10571" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10571">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10571" class = 'collapse'>
			</div>
				<textarea id = "speech-10571" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10571">
					<img id="start_img-10571" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10571">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>