<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Detecting the presence of a person in a room
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7535" class = "post">
			<h2>Question</h2>
			<div id="vote-7535" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1447</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Detecting the presence of a person in a room</h2>
<p>I am working on my first hobby project and I'm not very familiar with sensors yet. I am trying to build a system which detects the presence of a person in a small room with a single entrance/exit door.</p>

<p>The idea is when the first person enters the room, the lights turn on and any following person doesn't affect state of the lights. After the last person leaves, the lights should turn off. In a programmatic sense, the lights should turn on when present person count is greater than 0.</p>

<p>I have explored my options and found out that infrared sensors are usually used for this type of problem. What I am not sure is how to detect whether person has entered or left, so I would like to ask for some help with this.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7535" data-toggle = "popover">
				<p>user name : Marko Gre ak</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-7535">{'None': 0, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7535" class = 'collapse'>
			</div>
				<textarea id = "speech-7535" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7535">
					<img id="start_img-7535" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7535">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7536"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7536" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think that most instances of a project like this use a <a href="https://www.adafruit.com/products/189" rel="nofollow">motion sensor</a> to detect if people are in the room rather than trying to count the number of people in the room as that would require knowing if someone was entering or leaving the room. The problem with a motion sensor to drive the lights that a person who enters and then becomes still (at a computer, TV, asleep, etc.) can cause the motion sensor to fail to detect a person in the room, causing the lights to turn off. </p>

<p>You could try to count people in the room, but, as mentioned, this requires knowing not just that someone passed the threshold but also knowing the direction they were going. This could be done with a really simple <a href="https://en.wikipedia.org/wiki/Light_curtain" rel="nofollow">light curtain</a> on either side of the door and then watching to see which sensor triggers first. </p>

<p>The light curtain doesn't need to be complicated; you can use one IR transmitter and one IR photocell for each "curtain". When the received intensity drops below some threshold you trigger an event. Outside then inside is someone entering and vice versa is someone leaving. </p>

<p>You can also use <a href="http://rads.stackoverflow.com/amzn/click/B001QC98RC" rel="nofollow">pressure mat</a>, where again you put one inside and one outside. </p>

<p>Don't forget to take the door into account! If you use IR light curtain you'll have to set up one sensor unit far enough away that the door won't trigger (and thus block) the sensor. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7536" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7536">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7536">Load Comments</button></br>
			<div id = "commentsection-7536" class = 'collapse'>
			<div id = "comment-10839" class = "comment">
				<p>Thanks for the answer! As you've pointed out, motion sensor would mean there has to be movement, which isn't always true in my case and waving your hand so lights don't turn off is *very* annoying. Light curtain seems like simple and effective solution.</p>
			</div>
			</div>
				<textarea id = "speech-7536" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7536">
					<img id="start_img-7536" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7536">Comment</button>
			<br><div id = "ans-7555"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7555" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Expanding on the motion sensor idea: you could combine that with a door open/shut sensor or basically just a switch that detects when the door is open. After an open/shut event, you could detect if there is motion or not. If there is, set a flag that a person is in the room. That gets rid of the issue where the person may become motionless.  I'm assuming that the state of person present/absent can only change during the open/shut event and I'm also assuming that if there are people inside the room, at least one of them will likely be moving directly following the open/shut event.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7555" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-7555">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7555">Load Comments</button></br>
			<div id = "commentsection-7555" class = 'collapse'>
			<div id = "comment-10888" class = "comment">
				<p>I have been thinking about concept like this and it seems nice, but I would need to built in this sensor into the door and also have another motion detection sensor inside the room. I have ordered few of latter and I will first try the idea of having one on each side of the door and using the activation time difference as means to determine direction. If this works, it also saves me doing any modification to the door. The chance of accidental activation is in my opinion very small, some tweaks to sensor range should make it almost nonexistent.</p>
			</div>
			</div>
				<textarea id = "speech-7555" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7555">
					<img id="start_img-7555" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7555">Comment</button>
			<br><div id = "ans-9138"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9138" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A human inside a room can be identified by using temperature sensors. Every object has its own temperature, i.e. a human also has a certain body temperature - using this we can find the find the presence of human being inside a room.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9138" data-toggle = "popover">
				<p>user name : gowtham</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9138">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9138">Load Comments</button></br>
			<div id = "commentsection-9138" class = 'collapse'>
			<div id = "comment-15143" class = "comment">
				<p>To be specific, I think @gowtham means IR sensors (as opposed to a thermometer). IR sensors can only detect surface temperatures, though, so it may be possible to "fool" an IR sensor by standing in extreme temperatures (outside of the expected band) or by wearing thick clothing.</p>
			</div>
			</div>
				<textarea id = "speech-9138" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9138">
					<img id="start_img-9138" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9138">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>