<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Determining the graspable range of a robot arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10415" class = "post">
			<h2>Question</h2>
			<div id="vote-10415" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Determining the graspable range of a robot arm</h2>
<p>I have a 6 DOF robot arm, and I want to do some object grasping experiments. Here, the robot is rigidly mounted to a table, and the object is placed on a different adjacent table. The robot must pick up the object with its gripper parallel to the normal of the object's table, such that it is pointing directly downwards at the point of grasping.</p>

<p>Now, the two tables have adjustable heights. For any given height difference between them. there will be a fixed range of positions over which the robot arm can achieve this perpendicular pose. What I am trying to figure out, is what the optimum relative distance of the tables is such that this range of positions is maximum.</p>

<p>Is there a way to compute this analytically given the robot arm kinematics? Or is there a solution which applies to all robot arms (e.g. it is optimum when the tables are at the same height)?</p>

<p>If it is important, the arm is the Kinova MICO: <a href="https://www.youtube.com/watch?v=gUrjtUmivKo" rel="nofollow">https://www.youtube.com/watch?v=gUrjtUmivKo</a>.</p>

<p>Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10415" data-toggle = "popover">
				<p>user name : Karnivaurus</p>
				<p> user reputation : 328</p>
				<p class = "tagcontent" id = "usertaginfo-10415">{'control': 10, 'walking-robot': 4, 'simulator': 0, 'torque': 4, 'slam': 0, 'robotic-arm': 20, 'mobile-robot': 0, 'dynamics': 17, 'forward-kinematics': 7, 'manipulator': 10, 'accelerometer': 4, 'kinematics': 29, 'jacobian': 16, 'policy': 1, 'actuator': 4, 'None': 0, 'inverse-kinematics': 18, 'localization': 0, 'mapping': 0, 'sensors': 4, 'simulation': 0, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10415">Load Comments</button></br>
			<div id = "commentsection-10415" class = 'collapse'>
			<div id = "comment-18737" class = "comment">
				<p>can you calculate valid distances of the object to the robot base as a function of relative table height?</p>
			</div>
			</div>
				<textarea id = "speech-10415" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10415">
					<img id="start_img-10415" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10415">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10435"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10435" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think this is fundamentally a question of maximizing manipulability of a closed kinematic chain (the chain is closed by the object being grasped). </p>

<p>The good news is that others have asked and tried to answer this question. The bad news is that it's far from trivial and there's no easy analytic solution. This paper came to mind when I read the question:
<a href="https://dx.doi.org/10.1115/1.2829312" rel="nofollow">https://dx.doi.org/10.1115/1.2829312</a>. (You can find a pdf if you search online.)</p>

<p>Since you're not choosing any other kinematic parameters other than table height, it'd probably be easiest to just find a good spot with some trial and error.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10435" data-toggle = "popover">
				<p>user name : DXM</p>
				<p> user reputation : 66</p>
				<p class = "tagcontent" id = "usertaginfo-10435">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10435" class = 'collapse'>
			</div>
				<textarea id = "speech-10435" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10435">
					<img id="start_img-10435" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10435">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>