<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Detect polyethylene
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6990" class = "post">
			<h2>Question</h2>
			<div id="vote-6990" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 189</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Detect polyethylene</h2>
<p>First of all, I am in high school[to tell you that I am a newbie and lack knowledge]</p>

<p>What I want to achieve for now is a thing that can differentiate between poly bags[polyethylene] and other stuffs. Or a thing that could detect polyethylene.</p>

<p>I have to built a robot and therefore we have only a few method accessible.</p>

<p>Anyway any knowledge or suggestion or external links provided by you, about this topic would be welcomed by me.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6990" data-toggle = "popover">
				<p>user name : iamSiddharthYadav</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-6990">{'mobile-robot': 2, 'None': 0, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6990">Load Comments</button></br>
			<div id = "commentsection-6990" class = 'collapse'>
			<div id = "comment-9958" class = "comment">
				<p>Some more information maybe needed. Is the sensor going to touch the sample material or should it detect from a distance and what constitutes "stuff" There is a post on chemistry on how to detect polyethylene using infrared spectral imaging http://chemistry.stackexchange.com/questions/28457/detect-polyethylene. This company manufactures a sensor that can detect PET bottles using light polarization levels http://www.ia.omron.com/products/family/1897/ https://www.digikey.com/Web%20Export/Supplier%20Content/OmronIndustrialAutomation_236/PDF/omron-ab-e3z-b-sensor.pdf?redirected=1</p>
			</div>
			<div id = "comment-9959" class = "comment">
				<p>Sensor should not touch the sample material.</p>
			</div>
			<div id = "comment-9960" class = "comment">
				<p>And the link you provided "Detects 'transparent' objects made by PET, resin, and glass", only... It's great except it only works for transparent one.</p>
			</div>
			<div id = "comment-9964" class = "comment">
				<p>Think of it this way. A sensor has to sense something from the source material to detect it. What can a sensor detect from polyethylene from a distance? PE bags are not volatile and doesn't give odors, emit EMR, etc. I don't think there are specific sensors that can detect it at a distance.</p>
			</div>
			<div id = "comment-9997" class = "comment">
				<p>Perhaps you can approach closely and then volatilize some of the sample with a laser and then use a gas analyzer to determine the composition.  That would be OK if the samples are going to be recycled but not so good if they are valuable art objects.</p>
			</div>
			<div id = "comment-10048" class = "comment">
				<p>@KalleMP thanks.. But I don't think it could fit the purpose. Think of a robot that volatize a part of any thing tat comes in it's way.</p>
			</div>
			<div id = "comment-10049" class = "comment">
				<p>@Ali Yup! I will research more. Thanks for ut valuable inputs.</p>
			</div>
			<div id = "comment-10057" class = "comment">
				<p>@iamSiddharthYadav Your question is too vague to give better answers.  IR Raman spectroscopy can easily do what you want at a distance.  They use it to detect the types of paint pigment in antique paintings without touching.  (price of gear may upset you though).</p>
			</div>
			<div id = "comment-10851" class = "comment">
				<p>Detecting polyethylene is very marginally (not to say by no means) related to robotics.</p>
			</div>
			<div id = "comment-10877" class = "comment">
				<p>Since this question is related to a sensor for a Robot @Ugo I think it's fine here.</p>
			</div>
			<div id = "comment-10878" class = "comment">
				<p>Welcome to Robotics iamSiddharthYadav. It is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			<div id = "comment-10879" class = "comment">
				<p>I've seen this question posted by the same author on the Chemistry channel: http://chemistry.stackexchange.com/questions/28457/detect-polyethylene. I don't like when the same question gets posted multiple times on different channels; but it's a personal opinion. The author should have then the care to share the results among them.</p>
			</div>
			<div id = "comment-11533" class = "comment">
				<p>The answer to this is going to depend very heavily on what the "other stuffs" are.  You could probably differentiate between polyethylene and water using a humidity sensor.  You could differentiate between polyethylene and iron by using a magnet.  What "other stuffs" will you be working with?</p>
			</div>
			<div id = "comment-11627" class = "comment">
				<p>@iamSiddharthYadav Just as a question, do you actually need to detect the *chemical* signature? While still very hard, you may be able to at least do this cheaper/get a first approximation by simply recognizing something as a "bag"/"non-bag". Either way, please update your post with more details as to what you are hoping to achieve.</p>
			</div>
			<div id = "comment-13340" class = "comment">
				<p>Check out https://users.ics.aalto.fi/praiko/papers/SBS14.pdf and http://www.eaglevizion.com/plastics-sorting and http://www.treehugger.com/clean-technology/robot-with-laser-vision-sorts-plastics-boosts-recycling.html</p>
			</div>
			</div>
				<textarea id = "speech-6990" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6990">
					<img id="start_img-6990" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6990">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7065"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7065" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could measure the change of capacitance when you put a sheet of plastic between 2 metal plates but it then does depend on the thickness of the sheet of plastic as well as its type.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7065" data-toggle = "popover">
				<p>user name : SeanOCVN</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7065">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7065" class = 'collapse'>
			</div>
				<textarea id = "speech-7065" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7065">
					<img id="start_img-7065" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7065">Comment</button>
			<br><div id = "ans-7323"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7323" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might be able to do something with <a href="http://en.wikipedia.org/wiki/Hyperspectral_imaging" rel="nofollow">hyperspectral imaging</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7323" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7323">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7323" class = 'collapse'>
			</div>
				<textarea id = "speech-7323" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7323">
					<img id="start_img-7323" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7323">Comment</button>
			<br><div id = "ans-8300"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8300" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Mentioned this as a comment, but getting no response I'm turning it into an answer:</p>

<p>This is going to depend very heavily on what the "other stuffs" are. You could probably differentiate between polyethylene and water using a humidity sensor. You could differentiate between polyethylene and iron by using a magnet. </p>

<p>In other words, if you are comparing polyethylene against other materials for which there is an existing sensor, then it might be reasonable to just set up the sensor for each of those other materials and assume that a negative detection for all those sensors is a positive detection of polyethylene.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8300" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-8300">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8300" class = 'collapse'>
			</div>
				<textarea id = "speech-8300" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8300">
					<img id="start_img-8300" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8300">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>