<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Detect Nao robot in Kinect
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-148" class = "post">
			<h2>Question</h2>
			<div id="vote-148" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 418</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Detect Nao robot in Kinect</h2>
<p>I am not sure if this has been tried before but I am trying to use <a href="http://en.wikipedia.org/wiki/Kinect" rel="nofollow noreferrer">Kinect</a> and detect gestures made by the <a href="http://en.wikipedia.org/wiki/Nao_%28robot%29" rel="nofollow noreferrer">Nao robot</a>.</p>

<p>I have made a Kinect application, <a href="http://youtu.be/v8SumS-I1qo" rel="nofollow noreferrer">a gesture based picture viewer</a> and it detects humans fine(Obviously it does!) What I wanted to try was (lazy as I am), to see if I could use some (say, voice) command to tell the Nao to do a Swipe Right gesture and have my application identify that gesture. The Nao can easily identify my command and do some gesture. The problem however is, when I put the Nao in front of the Kinect sensor, the Kinect does not track it. </p>

<p>What I want to know is, are there some basics behind Kinect's human body motion tracking that essentially fails when a robot is placed in front of it instead of a human?</p>

<p>PS: I have kept the Nao at the right distance from the sensor. I have also checked if the entire robot is in the field of view of the sensor.</p>

<p>EDIT: This has been posted <a href="https://stackoverflow.com/q/13068945/1473556">on stackoverflow</a> and <a href="http://social.msdn.microsoft.com/Forums/en-US/kinectsdk/thread/723a1072-f637-466f-a721-196984e7763a/#723a1072-f637-466f-a721-196984e7763a" rel="nofollow noreferrer">on msdn</a> by me so as to target a large audience as this problem has not been encountered by anyone in the past.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-148" data-toggle = "popover">
				<p>user name : Karan Thakkar</p>
				<p> user reputation : 40</p>
				<p class = "tagcontent" id = "usertaginfo-148">{'kinect': 7, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-148">Load Comments</button></br>
			<div id = "commentsection-148" class = 'collapse'>
			<div id = "comment-165" class = "comment">
				<p>I've found no reference to anyone trying this, mostly because the search results get buried within people using the kinect to track human gestures for the Nao to copy. BUt as an aside, while [cross-posting to no SE-sites](http://social.msdn.microsoft.com/Forums/en-US/kinectsdk/thread/723a1072-f637-466f-a721-196984e7763a) is not explicitly discouraged (as far as I am aware), it would be nice to mention this and link to the other post so that posters here are also aware of the suggestions you already got.</p>
			</div>
			<div id = "comment-172" class = "comment">
				<p>I posted this at the same time yesterday. I am editing my post right now to make sure all the cross posts I made are linked.</p>
			</div>
			<div id = "comment-185" class = "comment">
				<p>Note that generally speaking multi-posts are frowned upon. If this were done outside of *private beta* it would probably be stomped on as sooon as someone noticed the multi-post.</p>
			</div>
			<div id = "comment-207" class = "comment">
				<p>I know that which was why I wasnt sure if I should share those links or whether I should multi-post.</p>
			</div>
			</div>
				<textarea id = "speech-148" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-148">
					<img id="start_img-148" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-148">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-181"  class = "post">
				<h2>Answer</h2>
			<div id="vote-181" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should read the paper published by Microsoft research on the actual algorithm behind the human motion tracking.</p>

<p>Real-Time Human Pose Recognition in Parts from a Single Depth Image, Shotton et. al,
<a href="http://research.microsoft.com/apps/pubs/default.aspx?id=145347">http://research.microsoft.com/apps/pubs/default.aspx?id=145347</a></p>

<p>It relies on large labeled training data from the human body. That is why the Nao cannot just be tracked with the same method out of the box. To achieve that, you would need to re-train the algorithm with labeled data from the Nao in different poses.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-181" data-toggle = "popover">
				<p>user name : jean</p>
				<p> user reputation : 66</p>
				<p class = "tagcontent" id = "usertaginfo-181">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-181" class = 'collapse'>
			</div>
				<textarea id = "speech-181" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-181">
					<img id="start_img-181" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-181">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>