<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Developing for 8-bit AVR-s, what are the current, open and free libraries out there?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-94" class = "post">
			<h2>Question</h2>
			<div id="vote-94" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 127</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Developing for 8-bit AVR-s, what are the current, open and free libraries out there?</h2>
<p>I would be very interested to ask for a list of repos of free open code, applicable to 8-bit avr-s and having relation to robotics - object avoidance, process controllers, battery management, etc. This would be of huge help for me, preventing me from wasting weeks and months to invent the wheel.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-94" data-toggle = "popover">
				<p>user name : Vorac</p>
				<p> user reputation : 92</p>
				<p class = "tagcontent" id = "usertaginfo-94">{'None': 1, 'microcontroller': -6, 'software': -6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-94">Load Comments</button></br>
			<div id = "commentsection-94" class = 'collapse'>
			<div id = "comment-101" class = "comment">
				<p>I think it would be better to ask a more specific question - ie. what code you want to use.</p>
			</div>
			<div id = "comment-102" class = "comment">
				<p>Please elaborate. Well-maintained open source libraries for those small buddies doesn't seem to be all that common (or my google-fu is terrible). My major concern is what should be the quality threshold - as there are plenty of example projects, but the latter are not really readily reusable.</p>
			</div>
			<div id = "comment-107" class = "comment">
				<p>I wonder whether this question isn't more suited to the StackOverflow site or the Electronics StackExchange, than Robotics?</p>
			</div>
			<div id = "comment-238" class = "comment">
				<p>It's still a list question, in my opinion, and making it community wiki doesn't solve that. I vote to close</p>
			</div>
			<div id = "comment-442" class = "comment">
				<p>I agree that this is a list question.</p>
			</div>
			</div>
				<textarea id = "speech-94" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-94">
					<img id="start_img-94" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-94">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-95"  class = "post">
				<h2>Answer</h2>
			<div id="vote-95" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ul>
<li><a href="http://www.fourwalledcubicle.com/LUFA.php" rel="nofollow">Lightweight USB Framework for AVRs</a>   this seems to be a giant in its field. I have not used it, however, and cannot comment on it. </li>
<li><a href="http://www.atmel.com/Images/doc2558.pdf" rel="nofollow">Atmel's PID implementation</a>   I can't seem to find the source files at the moment. This is a small and fast integer-arithmetic module, really simple to use. However, choosing the P, I and D coefficients is the real challenge. </li>
<li>Modules from <a href="http://www.siwawi.arubi.uni-kl.de/avr_projects/tempsensor/index.html" rel="nofollow">this project</a> can be used for USART and for Dallas <a href="http://www.atmel.com/dyn/resources/prod_documents/doc2579.pdf" rel="nofollow">one-wire</a> communication. I am not sure about the license&nbsp;  the authors do not apper to claim anything.</li>
<li><a href="https://github.com/H2CO3/libavrutil" rel="nofollow">libavrutil</a>   haven't used this. Copileft license. Covers all basic hardware: ADC-s, PWM-s, USART etc. C and C++ interface.</li>
<li>Arduino libraries for <a href="http://www.arduino.cc/en/Reference/Servo" rel="nofollow">RC servos</a></li>
<li><a href="https://github.com/rickygu/openBMS" rel="nofollow">openBMS</a> Lithium ion Battery Management System for Electric Vehicle</li>
<li>The <a href="http://reprap.org" rel="nofollow">RepRap project</a> has a bunch of open-source stepper-motor-control code that runs on an AVR</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-95" data-toggle = "popover">
				<p>user name : Vorac</p>
				<p> user reputation : 92</p>
				<p class = "tagcontent" id = "usertaginfo-95">{'None': 1, 'microcontroller': -6, 'software': -6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-95">Load Comments</button></br>
			<div id = "commentsection-95" class = 'collapse'>
			<div id = "comment-99" class = "comment">
				<p>Try to give more than just a link in the answer, include a summary as well, since links can get broken over time.</p>
			</div>
			<div id = "comment-100" class = "comment">
				<p>I'm expanding it - give me some time. Thanks for the pointer!</p>
			</div>
			<div id = "comment-110" class = "comment">
				<p>Sorry - didn't see it was a community wiki answer :)</p>
			</div>
			<div id = "comment-261" class = "comment">
				<p>Does arduino code run on a bare avr cpu, or is the whole board required?</p>
			</div>
			</div>
				<textarea id = "speech-95" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-95">
					<img id="start_img-95" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-95">Comment</button>
			<br><div id = "ans-460"  class = "post">
				<h2>Answer</h2>
			<div id="vote-460" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can say from my own experience three libraries are awesome to use with 8-bit AVR microcontrollers:</p>

<ol>
<li><p><a href="http://www.nongnu.org/avr-libc/" rel="nofollow">AVR Libc</a> is the standard C library for AVR programming. It is very low-level in the sense that you really need to know your hardware down to the register level, but it gives you great freedom to do <strong>exactly</strong> what you want. </p>

<p>Even if you don't want to dive so deep, you should become somewhat familiar with it since every now and then Arduino users end up using bits of it to surpass the capabilities of the standard Arduino API. An interesting fact is that you can use AVR Libc snippets within your Arduino code since the Arduino API is based on the AVR GNU Toolchain.</p></li>
<li><p><a href="https://github.com/dreamiurg/avr-liberty" rel="nofollow">AVR Liberty</a> is currently my favorite library to develop with. It is both very straightforward and very powerful, so I feel I get the best of both worlds: I don't have to reinvent the wheel as with AVR Libc, but I also don't have to be agnostic of everything that goes on with the hardware as with the Arduino API. I <strong>strongly</strong> recommend it.</p></li>
<li><p>The <a href="http://www.arduino.cc" rel="nofollow">Arduino API</a> can be used in the Arduino boards, in breadboard versions<a href="http://arduino.cc/en/Main/Standalone" rel="nofollow">[1]</a><a href="http://arduino.cc/en/Tutorial/ArduinoToBreadboard" rel="nofollow">[2]</a> of the Arduino board, or even in standalone microcontrollers using a programmer such as the <a href="http://www.fischl.de/usbasp/" rel="nofollow">USBasp</a>.</p>

<p>I like to use Arduino boards for quick prototyping, but I find its API to be somewhat limiting at times. However, they have <a href="http://arduino.cc/en/Reference/Libraries" rel="nofollow">many specific libraries</a> that extend the standard API's functionality. </p>

<p><strong>The Arduino board can also be used with any other AVR library</strong> as long as you understand how to upload your code (either through the bootloader or a programmer), so it is definitely a dev board worth buying to get started.</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-460" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-460">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-460" class = 'collapse'>
			</div>
				<textarea id = "speech-460" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-460">
					<img id="start_img-460" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-460">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>