<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Developing a Quadrotor using ROS
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4885" class = "post">
			<h2>Question</h2>
			<div id="vote-4885" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2591</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Developing a Quadrotor using ROS</h2>
<p>I
 suppose who know <a href="http://wiki.ros.org/ROS/Tutorials" rel="nofollow">ROS</a> and how it works (at least most of you)
I have some question regarding the implementation of a quadrotor in that
 framework.</p>

<ol>
<li><p><strong>3D movements:</strong> A quadrotor has 6DOF and moves in a 3D 
environment. Looking at the various ROS packages I could not find any 
package that allows to drive a "robot" in the 3D space. The package 
<strong>/move_base</strong> for instance allows only 2D. Make sense to use this 
package for such a project? I thought to use 2D navigation projecting 
the "shadow" of a quadrotor on the ground...</p></li>
<li><p><strong>MoveIt:</strong> it seems a real interesting and promising package, but I
read that it is for robotic arms and not expressly indicate for 
quadrotor. Maybe one can use the possibility to create a virtual 
floating joints in <strong>MoveIt</strong> to let the quadrotor any movement in a 3D 
environment...that's ok, but I cannot understand whether is "too much" 
and not useful for a flying robot.</p></li>
<li><p><strong>Trajectories:</strong> The possibility to create a 3D trajectory in the 
space seems to be not a standard package of ROS. I found <strong>Octomap</strong> 
which allows the creation of 3D maps from sensor datas. Very interesting
and for sure very useful. But...I don't think it could be useful for 
creating 3D trajectories.  Should I in that case create an extra package
to compute 3D trajectories to be feed into the quadrotor? Or there 
already something like that?</p></li>
</ol>

<p>There is already an existing project <em>hector_quadrotor</em> which seems to 
acclaim a good success ans it is very considered in the field. Most 
people refer to that project when speaking or answering question 
regarding quadrotors in ROS. I saw many times that project...since 
weeks. And due to the total lack of documentation I didn't try anymore 
to understand how it works. Really too difficult. 
Another interesting project, ArDrone, has comments in the source 
code...in Russian!!! @_@</p>

<p>Could you me give any good suggestions? Or point me in the right direction 
please?
It would help me to understand how to focus my searches and which 
package I can/cannot use.</p>

<p><strong>UPDATE:</strong> my goal is to let the quadrotor flying and using gmapping to localize itself. I've heard and read al lot of stuff about that but I found all this tutorials very hard to understand. I cannot get a <em>global</em> vision of the software and sometime I run in problems like: "is there a package for this task, or should I invent it from scratch?"</p>

<p>Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4885" data-toggle = "popover">
				<p>user name : Dave</p>
				<p> user reputation : 294</p>
				<p class = "tagcontent" id = "usertaginfo-4885">{'control': 10, 'quadcopter': 11, 'None': 6, 'pid': 13, 'uav': 3, 'matlab': 0, 'mobile-robot': 0, 'ros': 2, 'movement': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4885">Load Comments</button></br>
			<div id = "commentsection-4885" class = 'collapse'>
			<div id = "comment-7614" class = "comment">
				<p>You are right that most of ROS is geared toward mobile manipulation robots.  This is because Willow Garage's primary platform was the PR2 robot.  Could you describe in more detail what you are trying to do with your quadrotor?  Do you need ROS for your flight controls, user inputs, mapping, navigation, path planning, etc?</p>
			</div>
			<div id = "comment-14113" class = "comment">
				<p>Mavlink isn't the best designed protocol but it's a better choice than ros if you want to use existing infrastructure rather than create your own. I like the pixhawk hardware/software stack. Gmapping is probably not appropriate for what you want to do. However,it and many other slam algo's are available at openslam without the ros baggage.</p>
			</div>
			</div>
				<textarea id = "speech-4885" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4885">
					<img id="start_img-4885" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4885">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4909"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4909" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.ros.org/news/2010/08/robots-using-ros-cityflyer-ccnys-asctec-quadrotors.html" rel="nofollow">CCNY</a> seems to have a pretty good UAV ROS library.  </p>

<p>You might also want to try your question on ROS's question/answer site: <a href="http://answers.ros.org" rel="nofollow">http://answers.ros.org</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4909" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4909">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4909">Load Comments</button></br>
			<div id = "commentsection-4909" class = 'collapse'>
			<div id = "comment-7955" class = "comment">
				<p>You are on ROS Q&A too!!!
Anyway the ROS library made by CCNY is really not what I want.</p>
			</div>
			</div>
				<textarea id = "speech-4909" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4909">
					<img id="start_img-4909" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4909">Comment</button>
			<br><div id = "ans-6520"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6520" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>come on, man</p>

<p>Of course things will be hard, but please tell us what you have read and what is your problem then we can answer you.</p>

<p>Don't use <code>hard</code> as excuse and go face papers you have found. There will not be easier way to achieve the goal, cause there is something you must learn and understand.</p>

<p>What you need to implement is the high-level algorithm. ROS is just a platform for you to handle data communication, don't put your eye only on ROS.</p>

<p>From my experience,</p>

<p>using ROS on ARM: </p>

<p><a href="https://github.com/epsilonorion/roscopter" rel="nofollow">https://github.com/epsilonorion/roscopter</a></p>

<p>SLAM and localization: </p>

<p>scholar.google.com.hk/citations?view_op=view_citation&amp;hl=en&amp;user=u8Q0_xsAAAAJ&amp;citation_for_view=u8Q0_xsAAAAJ:u5HHmVD_uO8C</p>

<p>www.ra.cs.uni-tuebingen.de/publikationen/2013/schauwecker_icuas2013.pdf</p>

<p>www.inf.ethz.ch/personal/pomarc/pubs/HengICRA11.pdf</p>

<p>and one amazing demo in the ICRA last year:</p>

<p><a href="https://github.com/uzh-rpg/rpg_svo" rel="nofollow">https://github.com/uzh-rpg/rpg_svo</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6520" data-toggle = "popover">
				<p>user name : lanyusea</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-6520">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6520" class = 'collapse'>
			</div>
				<textarea id = "speech-6520" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6520">
					<img id="start_img-6520" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6520">Comment</button>
			<br><div id = "ans-8652"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8652" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To control the UAV Quadrotor, you can use <a href="http://wiki.ros.org/mavros" rel="nofollow">MAVROS</a> y you have any autopilot which support <a href="https://en.wikipedia.org/wiki/MAVLink" rel="nofollow">MAVLink</a> protocol (i.e AR. parrot, navio+, etc). I'm working to control the uav in a simulatior in mavproxy and now I can takeoff, arming, change mode and move it, the issue I found is rotation on yaw angle. I hope this help you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8652" data-toggle = "popover">
				<p>user name : user11306</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8652">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8652" class = 'collapse'>
			</div>
				<textarea id = "speech-8652" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8652">
					<img id="start_img-8652" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8652">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>