<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Device to roll a mat
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4357" class = "post">
			<h2>Question</h2>
			<div id="vote-4357" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Device to roll a mat</h2>
<p>I'm looking for some direction on how to create a device that does the following:
Imagine you have a yoga mat, I want a device that can roll it up and unroll it without a human intervening in the rolling process.
I reliable this is a robotics forums but there doesn't appear to be a section for mechanical engineering so I'm posting my question here.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4357" data-toggle = "popover">
				<p>user name : user2708543</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-4357">{'None': 0, 'mechanism': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4357">Load Comments</button></br>
			<div id = "commentsection-4357" class = 'collapse'>
			<div id = "comment-7102" class = "comment">
				<p>Can you explain the scenario a little more. Are you talking about a robot which can detect the mat, navigate towards it, pick it up, roll it up and take it away? Or something simpler?</p>
			</div>
			<div id = "comment-7105" class = "comment">
				<p>You want to build something on your own, or do you search a commercial product?</p>
			</div>
			<div id = "comment-7143" class = "comment">
				<p>Ok let me explain in little more detail what I am trying to accomplish here. I have a steep driveway. I want to roll a traction mat so my car doesn't slip and slide when the driveway is icy (yea I could spray melting salt but I am an engineer and I think everything has a solution). There are traction mats out there but I don't want to leave it out when I go to work. I want a device that will unroll the mat (like a red carpet) and roll it back up</p>
			</div>
			<div id = "comment-7283" class = "comment">
				<p>I've seen similar things on a larger scale for unrolling mats onto swimming pools. The mats serve to reduce moisture and thermal loss but the concept is the same. They have the advantage that the covers float on the water as they are rolled out but you might be able to find a commercial product to use for inspiration</p>
			</div>
			</div>
				<textarea id = "speech-4357" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4357">
					<img id="start_img-4357" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4357">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4358"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4358" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some inspiration from this leading robot</p>

<p><a href="http://www.youtube.com/watch?v=MeBBVAKv5zI" rel="nofollow">PR2 Autonomously Folding A Tshirt</a></p>

<p><a href="https://www.google.com/search?q=pr2%20robot%20folding%20laundry&amp;safe=off&amp;tbm=isch&amp;tbo=u&amp;source=univ&amp;sa=X&amp;ei=0XngU8vYBtfp8AWzuIDgCg&amp;ved=0CD4QsAQ&amp;biw=1313&amp;bih=853" rel="nofollow">PR2 Handling other tasks too</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4358" data-toggle = "popover">
				<p>user name : EEd</p>
				<p> user reputation : 359</p>
				<p class = "tagcontent" id = "usertaginfo-4358">{'None': 16, 'laser': 3, 'pid': 1, 'motor': 1, 'untagged': 0, 'pwm': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4358">Load Comments</button></br>
			<div id = "commentsection-4358" class = 'collapse'>
			<div id = "comment-6931" class = "comment">
				<p>That looks cool but Im looking for something simpler. Think of a motorized paper towel holder. The challenge I can think of right away is what mechanism would you use to "unroll" the paper towel.</p>
			</div>
			</div>
				<textarea id = "speech-4358" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4358">
					<img id="start_img-4358" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4358">Comment</button>
			<br><div id = "ans-4686"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4686" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Could you start the rolling with some sort of scraping action, and use rollers to control it from there?  </p>

<p>For example: <a href="http://www.youtube.com/watch?v=5xhbctEcAAA#t=90" rel="nofollow">http://www.youtube.com/watch?v=5xhbctEcAAA#t=90</a></p>

<p>The challenge would be making sure you stay oriented left/right to the mat being rolled.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4686" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4686">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4686" class = 'collapse'>
			</div>
				<textarea id = "speech-4686" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4686">
					<img id="start_img-4686" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4686">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>