<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>DH parameters of a PUMA-type manipulator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12378" class = "post">
			<h2>Question</h2>
			<div id="vote-12378" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 48</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DH parameters of a PUMA-type manipulator</h2>
<p>I'm struggling to find the DH parameters for this PUMA-type manipulator that yield the same results as the author (1):
<a href="https://i.stack.imgur.com/HzYxf.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/HzYxf.png" alt="enter image description here"></a></p>

<p>The way I'm checking if the parameters I have are correct is by comparing the resulting J11, J21 &amp; J22 matrices with the author. These sub-matrices are the constituents of the wrist Jacobian matrix (Jw).</p>

<p>I tried many different combinations of the DH parameters including:</p>

<p>&#945;
=[0,90,0,-90,90,-90]<br>
 &#952;
=[0,0,0,0,0,0]<br>
a=[0,0,a2,-a3,0,0]<br>
d=[d1,-d2,0,-d4,0,0]</p>

<p>Which result in the same matrices as the author except for some minor differences. The general wrist Jacobian matrix and the sub-matrices obtained by the author are given by:  </p>

<p><a href="https://i.stack.imgur.com/K0vvn.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/K0vvn.png" alt="enter image description here"></a>  </p>

<p>Whereas the result I got for J11 was:</p>

<p>$$
\left[
\begin{array}{ccc}
 -d_2 c_1-s_1 (a_2 c_2-a_3 c_{23}+d_4 s_{23}) &amp; c_1 (d_4 c_{23}-a_2 s_2+a_3 s_{23}) &amp; c_1 (d_4 c_{23}+a_3 s_{23}) \\
 c_1 (a_2 c_2-a_3 c_{23}+d_4 s_{23})-d_2 s_1 &amp; s_1 (d_4 c_{23}-a_2 s_2+a_3 s_{23}) &amp; s_1 (d_4 c_{23}+a_3 s_{23}) \\
 0 &amp; a_2 c_2-a_3 c_{23}+d_4 s_{23} &amp; d_4 s_{23}-a_3 c_{23} \\
\end{array}\right]
$$</p>

<p>And for the J22 matrix I got:</p>

<p>$$
\left[
\begin{array}{ccc}
 -c_1 s_{23} &amp; c_4 s_1+c_1 c_{23} s_4 &amp; s_1 s_4 s_5-c_1 (c_3 (c_5 s_2+c_2 c_4 s_5)+s_3 (c_2 c_5-c_4 s_2 s_5)) \\
 -s_1 s_{23} &amp; c_{23} s_1 s_4-c_1 c_4 &amp; -c_5 s_1 s_{23}-(c_2 c_3 c_4 s_1-c_4 s_2 s_3 s_1+c_1 s_4) s_5 \\
 c_{23} &amp; s_{23} s_4 &amp; c_{23} c_5-c_4 s_{23} s_5 \\
\end{array}\right]
$$
And the same J12 matrix as the author.</p>

<p>Perhaps the most pronounced difference here is that every Sin
  [
  
   &#952;2
   +
   &#952;3
  
  ]
 
 is replaced with  Cos
  [
  
   &#952;2
   +
   &#952;3
  
  ]
 
 and vice versa, in addition to some sign differences.  </p>

<p>Where am I going wrong here?</p>

<p><em>(1) Wenfu Xu, Bin Liang, Yangsheng Xu, "Practical approaches to handle the singularities of a wrist-partitioned space manipulator".</em> </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12378" data-toggle = "popover">
				<p>user name : Tarek Ibrahim</p>
				<p> user reputation : 25</p>
				<p class = "tagcontent" id = "usertaginfo-12378">{'None': 1, 'manipulator': 0, 'dh-parameters': 0, 'dynamics': 1, 'robotic-arm': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12378">Load Comments</button></br>
			<div id = "commentsection-12378" class = 'collapse'>
			<div id = "comment-21845" class = "comment">
				<p>Which book or paper are you referencing?</p>
			</div>
			<div id = "comment-21865" class = "comment">
				<p>@Ben "Practical approaches to handle the singularities of a wrist-partitioned space manipulator".</p>
			</div>
			<div id = "comment-21867" class = "comment">
				<p>@TarekIbrahim - I edited your matrices to mirror the style of the images you posted. This was mostly replacing entries like $\sin(\theta_2)$ with $s_2$, etc.</p>
			</div>
			<div id = "comment-21893" class = "comment">
				<p>@Chuck Thank you it looks much better! :)</p>
			</div>
			</div>
				<textarea id = "speech-12378" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12378">
					<img id="start_img-12378" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12378">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12427"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12427" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In looking at your matrices, I would guess that you (or the author!) have made a mistake somewhere in your alpha $\alpha$ terms. Recall the <a href="https://en.wikipedia.org/wiki/List_of_trigonometric_identities#Shifts_and_periodicity" rel="nofollow noreferrer">period shift</a> identity that states:</p>

<p>$$
\sin{\left(\theta + \pi/2 \right)} = +\cos{\theta} \\
\cos{\left(\theta + \pi/2 \right)} = -\sin{\theta} \\
$$
So, if you (or again, the author) were off by 90 degrees ($\pi/2$), then that would explain the fact that you appear to have some sines and cosines swapped and some sign errors, too. </p>

<p>I don't have the time at the moment to go through each step by hand and try to evaluate where you've gone wrong, but I would imagine that you should be able to compare individual joint transforms and find the ones that don't match. Try changing the $\alpha$ values for that joint by $\pm \pi/2$ and see if what you have matches what the author has. </p>

<p>Authors can and do make mistakes, and if you're positive the author made a mistake then the professional thing to do would be to contact that author and/or the journal that published the paper and alert them to the mistake. I would just double- and triple-check that the author was incorrect before taking that step, though (run it by your professors, etc.) </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12427" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-12427">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12427">Load Comments</button></br>
			<div id = "commentsection-12427" class = 'collapse'>
			<div id = "comment-21894" class = "comment">
				<p>I am doing all the calculations using Wolfram Mathematica and I have checked the code I'm using multiple times so I think it's unlikely that there's a mistake at my end. I have also tried all possible combinations of the **$\alpha$** values but to no avail. The reason I'm hesitant to contact the authors with what I have is the fact that they have published the same results in several other papers of theirs, not just this one. Also, I have no idea about the method by which they do their calculations.</p>
			</div>
			</div>
				<textarea id = "speech-12427" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12427">
					<img id="start_img-12427" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12427">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>