<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>DH parameters solution for forward kinematics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13930" class = "post">
			<h2>Question</h2>
			<div id="vote-13930" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 107</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DH parameters solution for forward kinematics</h2>
<p>I am stuck at a problem of solving DH parameters for a simple test mechanism. I know that the given mechanism is a structure but just for pure academic purposes assume that it's a real system. I only want to know the correct way to solve a system with DH parameters, when there is only one active joint and more than one passive joints that depend totally on the command of the actuated joint.</p>

<p>-- Joints (All joints are Revolute): J1 (Actuated by some motor)
        J2 (Passive)
        J3 (Passive)</p>

<p>-- Links: L1,L2 (Rigid Links)
The link 1 and link 2 are not directly connected at joint J2 but there is a small link that connects link L1 with joint J2. It is not visible in top view but it allows the system to work in real life. But please just ignore it for this example!</p>

<p>-- The images are the top view with the z axis for each joint coming out of the paper.</p>

<p>-- Assuming clockwise rotation as positive for this problem.</p>

<p><img src="https://preview.ibb.co/jyfjfQ/IMG_20170730_075747.jpg" alt="Page#1">
![Page#1] 
[edit]I realize that the transformations below are wrong and not done by following the DH convention. I should have but instead I followed the standard method. But once I apply DH coordinate axis, I should use the DH method. But this still does not change the real question in the last picture. Thank you
<img src="https://preview.ibb.co/dZRCZk/IMG_20170730_080135.jpg" alt="Page#2">
![Page#2]</p>

<p>@Chuck:</p>

<p>Problem: J1 is the only active joint in the system. j2 and J3 are passive joints. I want to find the kinematic equations of the system(basically, I want to find the Joint angle of J3(Pitch) as a function of Joint angle of J1). I have shown the DH coordinate axis in the first picture. I can only measure J1 angle with an encoder but J2 and J3 are passive, so I have to find their relation with J1 to get their value for the transformation matrix. Since the choice of first joints x axis is arbitrary in DH method, I chose x0 axis parallel to link L2 and then found theta2 as a function of theta1. I want to know, is this the correct way to find the passive joints angle as a function of an active joint?</p>

<p>If my solution of joint paramter Theta2 = 180 - Theta1 is not correct, then how would you find the joint parameter Theta2 as a function of Theta1, since you can not measure Theta2(for it is passive), you can only find Theta2 mathematically and its very important to find Theta2 to get the transformation matrix from J3 coordinate system to J1 coordinate system(The goal)... </p>

<p>I expect the system to move like this when the Joint 1 motor is actuated in clockwise direction
<img src="https://i.imgur.com/wbe0g2F.jpg" alt="Page#3">
![Page#3]</p>

<p><strong>EDIT</strong></p>

<p>Hey chuck, As the following sketch shows, the motor housing is fixed on the box, it rotates with the same angle as the box about joint J4. The blue dot in the previous image is the motor axis of rotation which I called J1 because it links the motor shaft with the link L12. </p>

<p>If the motor shaft is rotated anti-clockwise by an angle Pfi, it makes the whole box move with it but not with the same angle. I have to find the box rotation about joint J4 as a result of this rotation of motor shaft about J1 by Phi..</p>

<p>As you explained, I can solve the 4 bar mechanism but how can this motors angle of rotation be related to the 4 bar mechasim's four angles Theta12,Theta23,Theta34 and Theta41 ?</p>

<p><img src="https://i.imgur.com/6OzCjmK.jpg" alt="Page#4">
![Page#4]</p>

<p>After anti clockwise rotation..</p>

<p><img src="https://i.imgur.com/cRMNB7W.jpg" alt="Page#5">
![Page#5]</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13930" data-toggle = "popover">
				<p>user name : Robotics nerd</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-13930">{'None': 0, 'dh-parameters': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13930">Load Comments</button></br>
			<div id = "commentsection-13930" class = 'collapse'>
			<div id = "comment-22738" class = "comment">
				<p>Welcome to *Robotics*, Roboticsnerd. As it stands, it's not clear what you're asking. What do you mean when you say you want to "solve the system with DH parameters?" You're either looking for a *kinematic* solution, which means *you have to pick* what the joint angles are, or you're looking for a *dynamic* solution, which means you need a lot more information, such as moments of inertia and masses of the links, etc. Could you please give the *problem statement* for the problem you are trying to solve?</p>
			</div>
			<div id = "comment-22756" class = "comment">
				<p>@Chuck, Hello! Thank you for the welcome. I have made an edit at the end of the post, please take a look :))</p>
			</div>
			<div id = "comment-22758" class = "comment">
				<p>If it's kinematics, then none of the joints are a function of any of the other joints. The only exception is if you had a kinematic loop, like a four bar mechanism, or a rocker, or a crank. But in your problem statement, you have a kinematic *chain* and there are no constraints on the "passive" joints, so *there's nothing to solve here.*</p>
			</div>
			<div id = "comment-22759" class = "comment">
				<p>If that's the case, how can I find Theta2? I need it for the transformation matrix from Joint3 coordinate system to Joint1 coordinate system?, I added another picture for the desired or expected motion from this linkage..</p>
			</div>
			<div id = "comment-22760" class = "comment">
				<p>What system are you modelling? What is the project you are working on? If the joint isn't actuated, then it's either (1) fixed, or it's (2) free to move **as part of a dynamic simulation.** Either way, you have to know some starting value. You pick a starting value, or you measure a starting value, and that's what the value is. This is what I asked above - are you trying to get a *kinematic* analysis or a *dynamic* analysis. If you don't actuate the joint, it stays however you left it *until acted on by a non-zero net torque*, but again, that's all part of a *dynamic* simulation.</p>
			</div>
			<div id = "comment-22762" class = "comment">
				<p>I am modeling a pitching movement of a box. The Joint J1 is to be actuated by a motor. When it rotates a force is applied on the J3 by the movement of Link L2 and the whole box should rotate about the joint J4. I need to find the pitching angle of J4 as a function of actuated joint angle J1. Please check the latest picture I added to the post</p>
			</div>
			</div>
				<textarea id = "speech-13930" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13930">
					<img id="start_img-13930" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13930">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-13946"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13946" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ah ha! From my comment earlier - </p>

<blockquote>
  <p>If it's kinematics, then none of the joints are a function of any of the other joints. The only exception is if you had a kinematic loop, like a four bar mechanism, or a rocker, or a crank.</p>
</blockquote>

<p>What you have is a <a href="https://en.wikipedia.org/wiki/Four-bar_linkage#Design_of_four_bar_mechanisms" rel="nofollow noreferrer">four bar mechanism</a>, and it has probably been giving you trouble because:</p>

<ol>
<li>It's just a hard problem to begin with, and</li>
<li>You haven't been drawing the complete diagram for your analysis. </li>
</ol>

<p>There are four links (or "bars") and they form a kinematic loop. Two are obvious, one is a little less obvious, and the last one is disguised. Your links are:</p>

<ol>
<li>The link from J1 to J2,</li>
<li>The link from J2 to J3,</li>
</ol>

<p>those you already have and have been giving for the problem statement, BUT you also have:</p>

<ol start="3">
<li>The wall, which acts as a link between J3 and J4, and</li>
<li>The box itself, which acts as a link between J4 and J1.</li>
</ol>

<p>You can see that the links go J1 -> J2 -> J3 -> J4 -> J1, and so they form the loop.</p>

<p>I'm on mobile for the rest of the night, so it'll be tomorrow before I can give a fuller answer (at the earliest), but you should look up the "Freudenstein equation" as a starting point for the solution. Springer has a decent paper on it, but you have to pay for it, of course. </p>

<p>The gist is to label all of your angles, theta 1 through 4, and then to work your way top to bottom using and terms like <code>L1 sin(theta1) + ... + L4 sin(theta4) = 0</code> and similarly with cosine from left to right. The key concept here is that you're forming a closed LOOP, so you <strong>must</strong> end where you started when you add together all the vertical (or horizontal) components of each link. </p>

<p>The biggest pain there is to be really consistent with your notation, but that's true of all engineering, isn't it? You may find that the vertical component of a link might involve a cosine term, and vice versa, depending on how you defined the datums (data) and positive conventions, etc.</p>

<p>I'll draw a picture later, but hopefully that's enough to get you started. </p>

<h2>:EDIT:</h2>

<p>Okay, some drawings to go with the answer. </p>

<p>First, re-draw the problem with all the links. </p>

<p><a href="https://i.stack.imgur.com/OaRZz.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/OaRZz.jpg" alt="Step 1"></a></p>

<p>Then, <strong>be consistent</strong> with notation. In my method of solving, I assume +y is up and +x is to the right. Then I use the right hand rule that the angle should be positive in a counter-clockwise direction (right hand rotation about +z axis, which points "up out of the page.")</p>

<p><a href="https://i.stack.imgur.com/n593R.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/n593R.png" alt="Step 2"></a></p>

<p>With the picture above, you can make a couple equations. First, combine all of the vertical components of the linkages:</p>

<p>$$
L_{12}\sin{\theta_{12}} + L_{23}\sin{\theta_{23}} + L_{34}\sin{\theta_{34}} + L_{41}\sin{\theta_{41}} = 0 \\
$$</p>

<p>Then, do the same for the horizontal components: </p>

<p>$$
L_{12}\cos{\theta_{12}} + L_{23}\cos{\theta_{23}} + L_{34}\cos{\theta_{34}} + L_{41}\cos{\theta_{41}} = 0 \\
$$</p>

<p>So, two equations and two unknowns - you need at least one more. For that, look at the interior angles. To do that, try to "rephrase" the interior angles in terms of the angles as already defined.</p>

<p>First, use the alternate interior angles: </p>

<p><a href="https://i.stack.imgur.com/C216L.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/C216L.png" alt="Step 3"></a></p>

<p>Then, "clip" the other angles in preparation for using THEIR alternate interior angles:</p>

<p><a href="https://i.stack.imgur.com/4zZsC.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4zZsC.png" alt="Step 4"></a></p>

<p>Now you have a good setup to getting the interior angles:</p>

<p><a href="https://i.stack.imgur.com/Eglh9.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Eglh9.png" alt="Step 5"></a></p>

<p><a href="https://i.stack.imgur.com/uJotL.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uJotL.png" alt="Step 6"></a></p>

<p>And now, finally, you get the formulas for the interior angles:</p>

<p>$$
\begin{array}{ccc}
\theta_{{J_1}_{\mbox{interior}}} &amp; = &amp; \theta_{12} - \left(\theta_{41} - \pi \right) \\
\theta_{{J_2}_{\mbox{interior}}} &amp; = &amp; \left(\theta_{23} - \pi \right) - \theta_{12} \\
\theta_{{J_3}_{\mbox{interior}}} &amp; = &amp; \left(\theta_{23} - \pi \right) - \theta_{34}\\
\theta_{{J_4}_{\mbox{interior}}} &amp; = &amp; \left(\theta_{41} - \pi \right) - \theta_{34}\\
\end{array}
$$</p>

<p>The last step now is to recognize that the sum of interior angles, $\theta_{J_1} ... \theta_{J_4}$ is 360 degrees, or $2\pi$:</p>

<p>$$
\theta_{J_1} + \theta_{J_2} + \theta_{J_3} + \theta_{J_4} = 2\pi \\
$$</p>

<p>This now gives you three equations and four unknowns, which means you can now express any one of the angles $\theta_{J_2} .. \theta_{J_4}$ in terms of the actuated joint $\theta_{J_1}$. </p>

<p><strong>NOTE THAT</strong> my expression for $\theta_{J_1}$, or $\theta_{41}$, is <em>not</em> the same as your $\theta_1$ and is not necessarily the same as the DH representation for the joint either. You'll have to re-express the joint angles (again), but hopefully I've outlined the process for you.</p>

<p>Final note - you might not be able to get a "clean" solution to this set of equations because they are nonlinear (thanks, trig -.-). You are likely to need a numeric solver to get the answer for the joint angles. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13946" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-13946">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13946">Load Comments</button></br>
			<div id = "commentsection-13946" class = 'collapse'>
			<div id = "comment-22763" class = "comment">
				<p>Indeed it helps alot. This has narrowed down my search for a possible solution to a 4 bar mechanism. I will start learning the details of the 4 bar mechanism and look at the Freudenstein equation and try to apply it to this case in particualar. Great! A picture would be nice too for more clarification from your side. Could this thread be left open for any future questions regarding this topic? thank you chuck : ))</p>
			</div>
			<div id = "comment-22765" class = "comment">
				<p>@Roboticsnerd `Could this thread be left open for any future questions regarding this topic?` No. First, this isn't a thread (this site isn't a forum), it's a question. Second, if you have more questions, just ask new questions! If you think the question is related, just link to this question. You can get a small URL for this question by clicking the "share" button under the question. You can ask as many questions as you want.</p>
			</div>
			<div id = "comment-22776" class = "comment">
				<p>saved :) , thank you for your insight and time. I will use your solution as a way point and make my own : )</p>
			</div>
			<div id = "comment-22798" class = "comment">
				<p>I solved based on your method, all good, just 2 corrections, The internal angle of J4 would be Thera34 - (Theta-41 - pi) and when you find the couple equations, you mentioned "2 equations and 2 unknows" shouldn't it be 2 equations and 3 unknowns ? we know 1 angle and all 4 link lenghts. After all set and done, I can only measure the motor angle from the encoder. How can I find Theta41 or ThetaJ1 from the motor angle? any ideas? The link L12 connects the motor shaft with the joint J2. I have spent the whole day thinking about this but no solution till now..</p>
			</div>
			<div id = "comment-22799" class = "comment">
				<p>@Roboticsnerd - Yeah, those were a couple typos I noticed re-reading earlier. The diagram isn't especially clear, which is how I botched the $J_4$ equation. And you're right, what I should have said was 2 equations and 3 unknowns. I'm not sure what you mean about the motor angle - the motor needs a means for counter-torque. If you refer back to your Page 3 diagram in the question, you have a $J_1$, which appears to be "pinned" to the box. You also have a blue dot, which looks like maybe the motor input? But they can't *both* be pinned to the box. How would the blue dot actuate?</p>
			</div>
			<div id = "comment-22800" class = "comment">
				<p>I assumed that it was something mis-drawn and assumed the motor joint as $J_1$ in the drawing; you can kind of see that in the first drawing in my answer. The motor can't mount on link $L_{12}$ and still be able to twist the "blue dot." It also can't mount on the box and twist the blue dot *if* there really is a joint $J_1$ that attaches $L_{12}$ to the box, because then you have the motor and $J_1$ attaching link $L_{12}$ to the box, which would fix $L_{12}$ and prevent it from rotating. This would probably be clearer if you could build a cardboard mockup or similar.</p>
			</div>
			<div id = "comment-22801" class = "comment">
				<p>I made a small edit in the end of the question, please take a look.</p>
			</div>
			<div id = "comment-22802" class = "comment">
				<p>Nice details  @Chuck</p>
			</div>
			<div id = "comment-22808" class = "comment">
				<p>@Chuck, I think it would be too much to ask but could you please make a drawing of the alignment of axis of  41 and the motor. I can see that the x axes of  12 and the motor joint align but not  41.. Thank you for your time and help :))</p>
			</div>
			<div id = "comment-22809" class = "comment">
				<p>@Roboticsnerd - Sorry again, you're correct. Deleted my comment :-[</p>
			</div>
			<div id = "comment-22810" class = "comment">
				<p>all good chuck, I will try to figure out the motor angle part, thank you so much, hopefully one day I would be in a position to help others like you helped me <3</p>
			</div>
			<div id = "comment-22811" class = "comment">
				<p>@Roboticsnerd - If you're interested, try finding First Lego League competitions in your area. You can volunteer, mentor, judge, etc. Super rewarding to help out the kids :)</p>
			</div>
			<div id = "comment-22818" class = "comment">
				<p>@Chuck, thank you for the tip, didn't know about the lego leagues :), The quadrilateral in my question is a crossed/ complex quadrilateral, in this case the sum of 4 internal angles you mentioned does not sum up to 360.. what about the angle at the crossing ?</p>
			</div>
			</div>
				<textarea id = "speech-13946" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13946">
					<img id="start_img-13946" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13946">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>