<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>DH Parameters of RRP planar manipulator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12388" class = "post">
			<h2>Question</h2>
			<div id="vote-12388" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 81</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DH Parameters of RRP planar manipulator</h2>
<p>I have been learning forward kinematics and having some trouble with coordinate systems and dh parameters with prismatic joints. Trying to work through this question.<a href="https://i.stack.imgur.com/6Laqb.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6Laqb.png" alt=""></a> Trying to work this out I ended up with this system.<a href="https://i.stack.imgur.com/OxvYx.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/OxvYx.jpg" alt="enter image description here"></a>
 However running through matlab it appears to be wrong. If anyone is able to point out my mistake, or help point me in the right direction, would be appreciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12388" data-toggle = "popover">
				<p>user name : jwk</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-12388">{'dh-parameters': 0, 'None': 0, 'forward-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12388" class = 'collapse'>
			</div>
				<textarea id = "speech-12388" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12388">
					<img id="start_img-12388" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12388">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12393"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12393" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Frame 3 (transform from 2 to 3) does not match the parameters in column 2. DH parameters cannot describe the transform you sketched. </p>

<p>See if the frames below help. Remember that DH is a mathematical way to reduce the number of parameters for when you need to manipulate the equations by hand. Frames that fit the DH parameterization for a given kinematic topology don't necessarily match the frames that humans might choose.</p>

<p>Pro-tip. Don't use DH if you are doing numerical analysis. People (designers) tend to think of robot kinematic neutral positions along orthogonal directions. As such, writing the transform matrix directly, augmented with a parameterization along Z, is easy to do, and lets you put the link frames wherever you like without problem.</p>

<p><a href="https://i.stack.imgur.com/NeSnW.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/NeSnW.jpg" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12393" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-12393">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12393">Load Comments</button></br>
			<div id = "commentsection-12393" class = 'collapse'>
			<div id = "comment-21790" class = "comment">
				<p>Thanks for this. These frames make more sense and end up with a correct solution.</p>
			</div>
			</div>
				<textarea id = "speech-12393" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12393">
					<img id="start_img-12393" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12393">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>