<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>DH- Parameters of BCN3D Arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13941" class = "post">
			<h2>Question</h2>
			<div id="vote-13941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 36</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DH- Parameters of BCN3D Arm</h2>
<p>Consider the following Arm:</p>

<pre><code>https://www.bcn3dtechnologies.com/en/bcn3d-moveo-the-future-of-learning/
</code></pre>

<p>I looked for the DH-Parameters of this arm and I found this:</p>

<pre><code>https://github.com/BCN3D/BCN3D-Moveo/issues/15
</code></pre>

<p><a href="https://i.stack.imgur.com/rZbRf.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/rZbRf.png" alt="enter image description here"></a></p>

<p>Although I don't think that this is correct because I think that the first Alpha should not be 0.</p>

<p>P.S: A clear photo of the arm:
<a href="https://i.stack.imgur.com/9xZm6.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/9xZm6.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13941" data-toggle = "popover">
				<p>user name : Achraf Ahmed Belkhiria</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-13941">{'dh-parameters': 0, 'None': 0, 'kinematics': 0, 'arm': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13941">Load Comments</button></br>
			<div id = "commentsection-13941" class = 'collapse'>
			<div id = "comment-22749" class = "comment">
				<p>Welcome to *Robotics*, AchrafAhmedBelkhiria. Can you please *edit your question* to clarify what your problem is? Please also include a diagram of the robot with the joints clearly labeled, including the axis/frame definitions. As it stands, it's not clear how your joint diagram relates to the picture you posted.</p>
			</div>
			<div id = "comment-22750" class = "comment">
				<p>Sorry but I don't have a 3D concept of the arm or a labeled diagram for the joints. I thought by seeing this photo someone could help me with guessing the right DH-Parameters. I tried myself to find them on my own with the help of wikipedia but I can tell I did not succeed.
Although, the DH-Paramters I posted from Github are probably wrong, because the alpha of j1 is 0 and we can clearly see that they don't have the same axis of rotation.</p>
			</div>
			<div id = "comment-22751" class = "comment">
				<p>If you don't have a model for the robot, then I'm not sure I understand what the point of the exercise is. Why calculate DH parameters for a robot you don't have? Also, it's not clear to me what the joints are; I think I only see 5 joints in the picture - an azimuth, two elevation, an azimuth, and an elevation, for lack of more descriptive terminology. Your ASCII joint diagram shows a link 1 `L1` between `J1` and... what? Also, you posted a link to the GitHub page where the DH parameters were found; *why not just ask the person that created them?*</p>
			</div>
			</div>
				<textarea id = "speech-13941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13941">
					<img id="start_img-13941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13941">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-13999"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13999" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two conventions followed while deciding DH parameters.
1) Where the parameters are calculated with respect to the ith and the (i+1)th link <a href="http://www.roboanalyzer.com/uploads/2/5/8/8/2588919/dhparams.pdf" rel="nofollow noreferrer">(Excerpt from Chapter 5 of the book  Introduction to Robotics  by S.K. Saha,
Tata McGraw-Hill, New Delhi, 2008)</a></p>

<p>2) Where the parameters are calculated with respect to the (i-1)th and the ith link <a href="http://nptel.ac.in/courses/112108093/module2/lecture.pdf" rel="nofollow noreferrer">(slide no. 38)</a></p>

<p>Cross check the methods to ensure you are using the same convention followed by the Github user. </p>

<p>The final answer remains the same while only the formulation of the transformation matrix changes.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13999" data-toggle = "popover">
				<p>user name : Priyanka Rao</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-13999">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13999" class = 'collapse'>
			</div>
				<textarea id = "speech-13999" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13999">
					<img id="start_img-13999" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13999">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>