<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Differential Drive Robot on uneven surfaces
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2829" class = "post">
			<h2>Question</h2>
			<div id="vote-2829" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 369</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Differential Drive Robot on uneven surfaces</h2>
<p>So I am building a differential drive robot and I want it to autonomously drive in a straight line on an uneven surface. I know I need a position and velocity PID. As of now, I am deciding on which sensors to buy. Should I use optical encoders, accelerometers, or something else?</p>

<p>I wanted to go with accelerometers due to the error encoders would face due to slippage, but I am not sure.</p>

<p>Some enlightenment would help!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2829" data-toggle = "popover">
				<p>user name : mechaman</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-2829">{'control': 3, 'None': 0, 'accelerometer': 0, 'pid': 3, 'differential-drive': 3, 'sensors': 2, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2829">Load Comments</button></br>
			<div id = "commentsection-2829" class = 'collapse'>
			<div id = "comment-5232" class = "comment">
				<p>Do you have any source of guide, e.g. are you following a line on the ground?  Neither encoders nor accelerometers would be sufficient to follow a perfectly straight line without some sort of locating device.</p>
			</div>
			<div id = "comment-5236" class = "comment">
				<p>My robot is moving down a straight path that has incline surfaces on each side. I am finding the distance to a point on the incline surface with ultrasonic (ping) sensors. What do you think?</p>
			</div>
			</div>
				<textarea id = "speech-2829" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2829">
					<img id="start_img-2829" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2829">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2840"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2840" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Get a good IMU you can communicate with over i2c.  Make sure it has an accelerometer and a gyroscope.  Use these two sensors to calculate your heading, and then correct accordingly to make sure you are heading straight.   </p>

<p>Here's an example of a nice IMU: <a href="https://www.sparkfun.com/products/10121" rel="nofollow">https://www.sparkfun.com/products/10121</a></p>

<p>Sparkfun has created an arduino library for that particular sensor that will make calculating heading easy peasy.  Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2840" data-toggle = "popover">
				<p>user name : nanogru</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-2840">{'gps': 3, 'None': 10, 'localization': 3, 'sensors': 3, 'arduino': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2840">Load Comments</button></br>
			<div id = "commentsection-2840" class = 'collapse'>
			<div id = "comment-6684" class = "comment">
				<p>Thank you nanogru! Sorry for the delayed response, but I have been able to produce something that works. Thanks :)</p>
			</div>
			<div id = "comment-18418" class = "comment">
				<p>gyro+accel is not enough for correct headings</p>
			</div>
			</div>
				<textarea id = "speech-2840" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2840">
					<img id="start_img-2840" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2840">Comment</button>
			<br><div id = "ans-3004"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3004" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>nanogru is right, you will need definatley need an IMU, not just an accelerometer. The one he recommended looks pretty good. </p>

<p>Would also recommend going down the Ardiuno track, it will make life much easier and cheaper. </p>

<p>I normally use encoders too. There is a good Arduino library for encoders:
<a href="http://www.pjrc.com/teensy/td_libs_Encoder.html" rel="nofollow">http://www.pjrc.com/teensy/td_libs_Encoder.html</a></p>

<p>Have had good success with optical quadrature encoders. Can be read using digital or interrupt inputs. If you want the best performance, you will want to use at least a Mega to have enough interrupts.</p>

<p>You could also upgrade your robot with a laptop, Kinect, Linux, and ROS (if your robot can handle the payload).</p>

<p>This stuff is pretty easy to set up these days for 6DOF SLAM and autonomous navigation, especially with new tools like MoveIt:
<a href="http://moveit.ros.org/robots/" rel="nofollow">http://moveit.ros.org/robots/</a></p>

<p>What do you plan on doing with the position data? Is it for autonomous navigation?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3004" data-toggle = "popover">
				<p>user name : Pikey</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-3004">{'None': 4, 'lidar': 0, 'kinect': 0, 'slam': 0, 'mobile-robot': 0, 'ros': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3004" class = 'collapse'>
			</div>
				<textarea id = "speech-3004" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3004">
					<img id="start_img-3004" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3004">Comment</button>
			<br><div id = "ans-10283"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10283" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You will need BOTH.  Use encoder sensors on the wheels one for each side.  These will allow a PID controller to maintain wheel speed even with the variable mechanical loads on an uneven terrain.</p>

<p>The heading sensor (IMU) will need gyros too and maybe a magnetic compass to correct for drift in the gyros.  You will need a PID controllerl that looks at the difference between commanded heading and the heading as measured by the IMU this PID will adjust the target speeds of the two wheel PIDs</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10283" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-10283">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10283" class = 'collapse'>
			</div>
				<textarea id = "speech-10283" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10283">
					<img id="start_img-10283" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10283">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>