<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Different Particle Filter min and max particle numbers give almost the same result
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3088" class = "post">
			<h2>Question</h2>
			<div id="vote-3088" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 109</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Different Particle Filter min and max particle numbers give almost the same result</h2>
<p>I'm using <a href="http://wiki.ros.org/amcl" rel="nofollow noreferrer">amcl</a> package in <a href="http://wiki.ros.org" rel="nofollow noreferrer">ROS</a> to localize a mobile robot. I've changed <code>min_particles</code> and <code>max_particles</code> several times then calculated the output difference with odomotry to evaluate these parameters. The table below demonstrate results; As you see, there is no notable change in the output and if you ignore the first row of the table, output variance is small. 
<img src="https://i.stack.imgur.com/NMSy8.jpg" alt="enter image description here">
<br/>And this is the Particle Filter output on the map:<br/>
<img src="https://i.stack.imgur.com/tiD4j.jpg" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3088" data-toggle = "popover">
				<p>user name : Maysam</p>
				<p> user reputation : 185</p>
				<p class = "tagcontent" id = "usertaginfo-3088">{'odometry': 3, 'None': 0, 'localization': 12, 'particle-filter': 7, 'slam': 2, 'mobile-robot': 5, 'ros': 12, 'navigation': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3088" class = 'collapse'>
			</div>
				<textarea id = "speech-3088" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3088">
					<img id="start_img-3088" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3088">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3089"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3089" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is not completely clear what your question is, but I assume you wanted to ask: Why does the output not change with the number of particles above a certain number of particles?</p>

<p>By allowing amcl to use more samples, you decrease the errors (or inaccuracies) that are caused by the fact that the particle filter <strong>approximates</strong> your probability distributions using Monte Carlo sampling. Above a certain number of samples, these errors from Monte Carlo approximation are so small that they are negligible compared to other sourceof uncertainty, e.g. measurement, system, or odometry uncertainty.</p>

<p>Thousands of particles are in my experience many more than you need for local localization in 2D (when the robot has a rough estimate of where it is already). You will likely only need so many particles for global localization, i.e. when the robot does not know anything (for example during initialization).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3089" data-toggle = "popover">
				<p>user name : sebsch</p>
				<p> user reputation : 404</p>
				<p class = "tagcontent" id = "usertaginfo-3089">{'control': 6, 'quadcopter': 2, 'None': 15, 'sensor-error': 4, 'sensor-fusion': 4, 'localization': 16, 'ekf': 9, 'pose': 1, 'errors': 8, 'kalman-filter': 17, 'mobile-robot': 8, 'sensors': 4, 'navigation': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3089" class = 'collapse'>
			</div>
				<textarea id = "speech-3089" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3089">
					<img id="start_img-3089" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3089">Comment</button>
			<br><div id = "ans-3094"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3094" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Once you have enough particles to resolve your position, the effect of adding more particles shrinks to zero.  You are likely seeing the best possible results that your particle filter can achieve.</p>

<p>It looks like the smallest adequate number of particles for your simulation is somewhere between 120 and 1200, and my guess is that if you plotted the Odom difference vs <code>max_particles</code>, you would see a curve that was near-vertical at <code>max_particles = 1</code>, decreasing past 172 at <code>max_particles = 120</code>and near-horizontal at 149 by the time <code>max_particles</code> got to 1200.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3094" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-3094">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3094" class = 'collapse'>
			</div>
				<textarea id = "speech-3094" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3094">
					<img id="start_img-3094" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3094">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>