<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Difference between SLAM and "3D reconstruction"?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10429" class = "post">
			<h2>Question</h2>
			<div id="vote-10429" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 779</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Difference between SLAM and "3D reconstruction"?</h2>
<p>I'm reading this paper: <a href="http://arxiv.org/abs/1310.2053" rel="nofollow">http://arxiv.org/abs/1310.2053</a> (<strong>The role of RGB-D benchmark datasets: an overview</strong>) and see the following words:</p>

<blockquote>
  <p>Thanks to accurate depth data, currently published papers could
  present a broad range of RGB-D setups addressing well-known problems
  in computer vision in which the Microsoft Kinect ranging from SLAM
  [10, 12, 19, 17, 35, 11] over 3d reconstruction [2, 33, 38, 32, 1]
  over realtime face [18] and hand [30] tracking to motion capturing and
  gait analysis [34, 41, 8, 7, 4]</p>
</blockquote>

<p>I thought of the term <strong>SLAM</strong> and <strong>3D Reconstruction</strong> being the same thing, while the paper says the opposite with a bunch of citations (which still haven't tell the two apart).</p>

<p>In my opinion, <strong>M</strong>apping in <strong>SLAM</strong> is the same term as <strong>3D Reconstruction</strong>, while <strong>L</strong>ocalization is the essential part for <strong>M</strong>apping. So I don't find a difference between <strong>SLAM</strong> and <strong>3D Reconstruction</strong>, am I wrong (or is the author misclassfying)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10429" data-toggle = "popover">
				<p>user name : zhangxaochen</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-10429">{'odometry': 5, 'None': 0, 'errors': 0, 'localization': 1, 'pose': 5, 'kinect': 1, 'slam': 9, '3d-reconstruction': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10429" class = 'collapse'>
			</div>
				<textarea id = "speech-10429" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10429">
					<img id="start_img-10429" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10429">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10430"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10430" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are right about the sameness of SLAM and 3D reconstruction. At the same time I don't think the author is misclassifying.</p>

<p>The english is a little non-standard. The author could have better said it as:</p>

<blockquote>
  <p>...ranging from SLAM to 3D reconstruction to realtime face and hand tracking to ...</p>
</blockquote>

<p>I think the paper lists both separately to better organize their references more than to highlight the differences.</p>

<p>The differences depend on what your viewpoint is. If you consider navigating an archeological site with a vehicle versus recording data about the site for historical preservation, they are different. Differences in sensors and real-time vs offline processing, and what algorithms work best in each situation.</p>

<p>Perhaps the main difference to consider is that in 3D reconstruction, the path of the sensors is not part of the goal and is discarded (or not estimated) at will. Meanwhile, in SLAM, the actual geometry and content of the environment is not as important as it's topology and your ability to localize within it.</p>

<p>The algorithms you mention, Kinfu, ElasticFusion, etc, call themselves SLAM, dense maps of the environment, and perhaps represent an evolution in the technology where the processing power and sensing available means that one need not optimize towards one goal (reconstruction) or the other (navigation). So you can look at it as the two categories, SLAM and 3D reconstruction, converging. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10430" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10430">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10430">Load Comments</button></br>
			<div id = "commentsection-10430" class = 'collapse'>
			<div id = "comment-18769" class = "comment">
				<p>Thx~ Is your point mostly on *realtime vs. offline*? I'm particularly curious about RGB-D SLAM algorithms(Kinfu, Kintinuous, RGBDMapping, ElasticFusion, DynamicFusion etc.) which are all aim to reconstruct the dense map of the scene with camera trajectory meanwhile. SLAM or 3D-recon, which class do you prefer them being categorized?</p>
			</div>
			<div id = "comment-18778" class = "comment">
				<p>In my opinion the category is not important. You just need to be aware that there are two groups of people (those that do SLAM and those that do 3D reconstruction) whose problem domains overlap a lot. If you are navigating the scene with a robot, SLAM, if you are storing the scene for science, history, or film, 3D reconstruction.</p>
			</div>
			<div id = "comment-18779" class = "comment">
				<p>I refined my answer based on your comment.</p>
			</div>
			<div id = "comment-18780" class = "comment">
				<p>thx again for your kindly explanation ;)</p>
			</div>
			</div>
				<textarea id = "speech-10430" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10430">
					<img id="start_img-10430" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10430">Comment</button>
			<br><div id = "ans-10431"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10431" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The difference is largely intent. SLAM is largely used to describe the mapping procedure used when navigating an unknown environment. This is done online so the most recent state estimates are available to the navigator. 3D reconstruction is often a post processing procedure to create a 3D map of some environment. </p>

<p>Or put another way: slam is an iterative process that creates an updated map with each new estimates while 3D reconstruction is a batch process that is run after all measurements have been collected.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10431" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-10431">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10431">Load Comments</button></br>
			<div id = "commentsection-10431" class = 'collapse'>
			<div id = "comment-18770" class = "comment">
				<p>Thx~ By pointing *batch process* you emphasize *offline process*, right? I'm particularly curious about RGB-D SLAM algorithms(Kinfu, Kintinuous, RGBDMapping, ElasticFusion, DynamicFusion etc.) which are all aim to reconstruct the dense map of the scene with camera trajectory meanwhile. SLAM or 3D-recon, which class do you prefer them being categorized?</p>
			</div>
			<div id = "comment-18775" class = "comment">
				<p>im not sure what you're asking. Could you rephrase the question? Also, I am far from being an expert on SLAM and 3D reconstruction.</p>
			</div>
			<div id = "comment-18777" class = "comment">
				<p>I mean I reckon the KinectFusion etc. algorithms being SLAM as well as 3D-reconstruction task. What you highlighted **iterative vs. batch process**(I understand it as realtme vs. offline process) as a main difference confuses me a bit...</p>
			</div>
			</div>
				<textarea id = "speech-10431" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10431">
					<img id="start_img-10431" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10431">Comment</button>
			<br><div id = "ans-10442"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10442" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>SLAM is jointly estimating the sensor pose and a map, based on a sensor model and sometimes a model for the pose change. The map can be represented in many different ways (e.g. landmark positions, occupancy grids, pointclouds).</p>

<p>3D reconstruction is used to estimate a 3D representation of the environment based on sensor data. There are many different ways to do this. SLAM <em>can</em> be part of the processing chain, but does not have to be. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10442" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-10442">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10442" class = 'collapse'>
			</div>
				<textarea id = "speech-10442" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10442">
					<img id="start_img-10442" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10442">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>