<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Differential GPS or Simple GPS for Robot navigation and odometry?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10609" class = "post">
			<h2>Question</h2>
			<div id="vote-10609" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 182</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Differential GPS or Simple GPS for Robot navigation and odometry?</h2>
<p>I am building a rover which can navigate autonomously. I do not want to use wheel encoders for generating robot odometry since it causes drifts due to slippage etc. 
I want to use GPS for generating odometry. Will it be useful for me to use the differential GPS approach or shall I use a simple GPS?
I am thinking of using DGPS because it enhances the accuracy to great extent, But at the same time, I think that in generating odometry, absolute gps values are not of importance. Instead, relative gps values are important to find for example, the distance covered by the robot.</p>

<p>Any suggestions on this ? Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10609" data-toggle = "popover">
				<p>user name : b2meer</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10609">{'odometry': 1, 'None': 0, 'navigation': 1, 'gps': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10609" class = 'collapse'>
			</div>
				<textarea id = "speech-10609" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10609">
					<img id="start_img-10609" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10609">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10610"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10610" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Do not give up on encoders. They are a great complement to GPS. I don't know what precision you want to reach, or what terrain your robot will operate in, but wherever it will be, encoders will give you good information about momentary position changes. Of course it will have some error, but when measured over small time period (i.e. 1s) it will be typically much smaller than accuracy of even DGPS. </p>

<p>The problem is encoder error will accumulate over time, so eventually your robot will end up in a completely different position than it should. That's why you should use your GPS data to correct data from encoders (possibly using <a href="https://en.wikipedia.org/wiki/Kalman_filter" rel="nofollow noreferrer">Kalman filter</a>). Check out this great answer about a <a href="https://robotics.stackexchange.com/a/386/7360">sensor fusion</a>.</p>

<p><strong>Benefits of using GPS + encoders:</strong></p>

<ul>
<li>GPS signal may be lost (indoors, tall buildings nearby, tunnels, etc.) - how will you know where are you then?</li>
<li>Even when you lay down your GPS receiver on a table, the position will slowly drift around some central point - data from encoders may be used to correct for that. This is also the reason why you can't use GPS data to calculate distance covered by the robot (not with a ~1m accuracy at least)</li>
<li>encoders are useful to controlling robot speed, and making sure that it drives straight (which is very hard using open loop PWM)</li>
</ul>

<p><strong>GPS vs DGPS</strong></p>

<p>Remember that accuracy of i.e. +/- 2m doesn't mean that you will have a constant offset from real position to the north, or any other direction. The readings will float around some position. That's why I would suggest going for higher precision modules</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10610" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-10610">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10610">Load Comments</button></br>
			<div id = "commentsection-10610" class = 'collapse'>
			<div id = "comment-19080" class = "comment">
				<p>Thanks for the detailed explanation. The rover will always be working outdoors like in parks etc. So, GPS signal loss won't be problem in my case. 
All that I need is that the GPS should give the same value at a specific point. The value at the same point should not vary in different iterations.

Secondly, If I move from point A to point B, then the calculated distance using gps values at both points should match the actual distance covered on ground. 

Based on above reqs, is DGPS is a solution for this, or do I only need a simple high precision gps with no need of dgps implementation.</p>
			</div>
			<div id = "comment-19087" class = "comment">
				<p>@b2meer What I'm saying is: whatever GPS you will use, the position it returns will float around true position. The only difference is how big the oscillations will be. Anyhow, you won't get exactly the same readings of the same position between iterations, when using only GPS data. Of course if you get high precision module the error might be small enough to ignore it.</p>
			</div>
			<div id = "comment-19091" class = "comment">
				<p>Alright. Can you recommend any high precision module with high frequency update rate as well ?</p>
			</div>
			</div>
				<textarea id = "speech-10610" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10610">
					<img id="start_img-10610" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10610">Comment</button>
			<br><div id = "ans-10612"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10612" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your budget is large (>\$ 5000) then use an off-the-shelf RTK GPS and you will get a precision of around 1.5cm $\sigma$.
You will also need a RTK subscription and internet connection, or set up your own base station to provide atmospheric corrections (valid for 20-30km).</p>

<p>Alternatively there is <a href="https://emlid.com/reach/" rel="nofollow">this low-cost RTK unit</a>.</p>

<p>However I have previously used a low cost (&lt; \$300USD) setup with a L1 GPS, IMU and camera (making observations of landmarks) using an extended Kalman filter in order to get &lt;7cm $\sigma$ accuracy. I say accuracy rather than precision because I did a simulation using the sensor specs and so I knew the ground truth. I didn't use encoders but I would highly recommend it.
From memory it took me around 4 days to implement and debug the filter.</p>

<p>See also GPS + odometry + camera/laser SLAM algorithms which may solve your problem.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10612" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-10612">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10612">Load Comments</button></br>
			<div id = "commentsection-10612" class = 'collapse'>
			<div id = "comment-19081" class = "comment">
				<p>Thanks a lot for your response. Right now, I am looking into the low cost RTK unit link you have provided. It seems to serve my purpose. I am wondering how much accuracy or precision (roughly) it could provide.</p>
			</div>
			<div id = "comment-19090" class = "comment">
				<p>Also, if you have used it, can you tell me what is its update frequency? I cannot find it in the documentation.</p>
			</div>
			<div id = "comment-19098" class = "comment">
				<p>The FAQ says: If you have a base station with known coordinates and a good antenna, you can expect horizontal accuracy down to 1-2cm and vertical accuracy down to 2-4cm. I don't know about the frequency but I would expect it to be configurable up to around 40Hz.</p>
			</div>
			<div id = "comment-19115" class = "comment">
				<p>Well this seems to be perfect then. I guess I am going to use the Reach RTK Kit for my project. Thank you very much for your help :)</p>
			</div>
			</div>
				<textarea id = "speech-10612" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10612">
					<img id="start_img-10612" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10612">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>