<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Differential drive trajectory following control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2604" class = "post">
			<h2>Question</h2>
			<div id="vote-2604" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 572</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Differential drive trajectory following control</h2>
<p>I have a robot platform with differential drive which knows it's position and orientation.
Lets say that the space through which the robot moves is known and it has only static obstacles. The task is to move the robot from point A and heading alpha (on which it currently stands) to point B and heading beta on the map.</p>

<p>Lets also say that I can obtain a reasonable trajectory (in relation to the turning abilities of the robot). As both the robot and the sensors are inert, what are some general approaches for controlling such a robot to follow the path? It should of course be kept in mind that the final task is to reach the point B without colliding with the obstacles and not the perfect trajectory following.</p>

<p>I hope the question is not too general.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2604" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2604">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2604">Load Comments</button></br>
			<div id = "commentsection-2604" class = 'collapse'>
			<div id = "comment-4946" class = "comment">
				<p>What do you mean by saying that "the robot and the sensors are inert"?</p>
			</div>
			<div id = "comment-4948" class = "comment">
				<p>They do not have instant response, robot is physically inert while the sensor data come from the fusion of low-frequency component of one sensor and high-frequency component of another sensor which introduces a certain delay and oscillations.</p>
			</div>
			<div id = "comment-4955" class = "comment">
				<p>Can you rephrase the question?  Do you know the path you want to take and just want to drive the robot on that path or are you looking for a planning algorithm of some sorts?  If this is just driving a path then you're looking at some sort of a closed loop controller, what feedback do you have? (sensors etc?)</p>
			</div>
			<div id = "comment-4956" class = "comment">
				<p>Yes, I only wish to follow the path. I know I need a closed loop controller, I'm just having trouble figuring out which one. Lets say I have sensors that give me the position and orientation of the robot (with some possible delay and noise of course).
I'm having trouble designing the control law because following the path is not the main objective, it is getting to the goal point.</p>
			</div>
			</div>
				<textarea id = "speech-2604" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2604">
					<img id="start_img-2604" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2604">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2607"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2607" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Pure pursuit</strong> is the standard method for following a trajectory with a differential drive (or ackerman steering) robot.  It is a very simple technique.  You should be able to search for it and find some (very old) papers describing it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2607" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-2607">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2607">Load Comments</button></br>
			<div id = "commentsection-2607" class = 'collapse'>
			<div id = "comment-4949" class = "comment">
				<p>I will mark this as the answer, but please (both you and others), add some more approaches you might be familiar with. Thanks.</p>
			</div>
			<div id = "comment-4966" class = "comment">
				<p>Well, I think all approaches will use some sort of carrot following technique.  i.e. find the point on the trajectory that is closest to the robot, then find some point on the trajectory ahead of that, then aim your robot there.  You can do this with PID control if you'd like.  Pure pursuit is an easy way to do all this.</p>
			</div>
			<div id = "comment-4967" class = "comment">
				<p>Also note that if you had a holonomic drive robot (with omni wheels for example), that can drive and orient itself separately, this problem is more difficult.  Because you need to decide how much you want to translate onto the path, and how much you want to rotate the robot to face the direction of travel.  Pure pursuit will not work in this instance and you need to set up some control laws...</p>
			</div>
			<div id = "comment-17738" class = "comment">
				<p>Does this method allow the user to generate a path between given start and end configuration $(x_1, y_1, \theta_1)$ and $(x_2, y_2, \theta_2)$? I saw the MATLAB documentation for `robotics.PurePursuit` and it seems to me that you specify the intial **pose** and final **location** (not the pose) whereas what the OP is asking for is the case when both poses (locations and heading directions) are given.</p>
			</div>
			<div id = "comment-17743" class = "comment">
				<p>No, pure pursuit only follows a given trajectory.  It simply gives you the instantaneous steering angle you should use.  If you have start and end configurations, you can simply create a [cubic bezier curve](https://en.wikipedia.org/wiki/B%C3%A9zier_curve#Cubic_B.C3.A9zier_curves) between them, then follow that.  Pure pursuit was formulated assuming ackerman steering, so that implies your heading is tangent to the path.</p>
			</div>
			</div>
				<textarea id = "speech-2607" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2607">
					<img id="start_img-2607" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2607">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>