<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Differences between Ackermann steering and standard bi~tricycles concerning kinematics?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-763" class = "post">
			<h2>Question</h2>
			<div id="vote-763" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2010</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Differences between Ackermann steering and standard bi~tricycles concerning kinematics?</h2>
<p>I got the following homework question:</p>

<blockquote>
  <p>What are the general differences between robots with Ackermann steering and standard bicycles or tricycles concerning the kinematics?</p>
</blockquote>

<p>But, I don't see what differences there should be, because a car-like robot (with 2 fixed rear wheels and 2 <strong>dependent</strong> adjustable front wheels) can be seen as a tricycle-like robot (with a single adjustable front wheel in the middle).</p>

<p>Then, if you let the distance between the two rear wheels approach zero, you get the bicycle.</p>

<p>So, I can't see any difference between those three mobile robots. Is there something I am missing?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-763" data-toggle = "popover">
				<p>user name : Daniel Jour</p>
				<p> user reputation : 195</p>
				<p class = "tagcontent" id = "usertaginfo-763">{'None': 0, 'two-wheeled': 8, 'theory': 10, 'kinematics': 18, 'motion': 8, 'design': 10, 'mobile-robot': 18, 'forward-kinematics': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-763">Load Comments</button></br>
			<div id = "commentsection-763" class = 'collapse'>
			<div id = "comment-990" class = "comment">
				<p>Not to me (you are not missing anything). I too would think the kinematics are identical. Traditionally Ackermann may have more (or less) caster and camber, but that is not a rule. If you got down to the super details, there are some differences (ask any NASCAR crew chief about tire slip data) but I don't think that would be a robotics homework question. I suspect (as I guess you do also) that the question should have been to compare differential steering to ackermann which would indeed have different kinematics.</p>
			</div>
			<div id = "comment-993" class = "comment">
				<p>@Mark Booth because his question was almost "do I have a legit question?" And I agree he doesn't. No question, no answer :)</p>
			</div>
			<div id = "comment-997" class = "comment">
				<p>ackerman kinematics aka the bicycle model[https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CDIQFjAA&url=http%3A%2F%2Fciteseerx.ist.psu.edu%2Fviewdoc%2Fdownload%3Fdoi%3D10.1.1.41.7363%26rep%3Drep1%26type%3Dpdf&ei=FfLtUN7IKoe5igK3loGADw&usg=AFQjCNEj20VNHnRRCJVEvP4DIGIsZA3xnw&sig2=InHSQ3zekKHP-NRoKtYx0A&bvm=bv.1357700187,d.cGE]</p>
			</div>
			</div>
				<textarea id = "speech-763" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-763">
					<img id="start_img-763" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-763">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-766"  class = "post">
				<h2>Answer</h2>
			<div id="vote-766" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're making two mistakes that I can see, both related to the idea of "shrinking" the set of front or back wheels into a single wheel.  </p>

<p>Rather than thinking of Ackermann steering as (conceptually) a single wheel, imagine expanding the single front wheel of a tricycle into 2 wheels.  At first, the tire gets wider, then splits into two tires, then they get further apart &mdash; but the axles of the two wheels remain on the same line.  In other words, you end up with a "steerable front beam axle" like you'd find on a toy wagon &mdash; <strong>not</strong> an Ackermann system:</p>

<p><img src="https://i.stack.imgur.com/XjorZ.jpg" alt="radio flyer wagon"></p>

<p>You could think of an Ackermann system as two bicycles welded together side by side, noting that connecting the front wheels is not solved by simply forcing their steering angles to be equal.  Instead, you might look at techniques like <a href="http://en.wikipedia.org/wiki/Burmester&#39;s_theory" rel="nofollow noreferrer">Burmester's theory</a> to design the proper kinematic linkage between them.  (In the Ackermann solution, it's a 4-bar linkage.)</p>

<p>For the rear wheels, you're ignoring the ability to lean. In other words, a bicycle is not simply a tricycle with zero spacing between its back wheels; leaning is an integral part of maintaining stability with only two contact points.</p>

<p><a href="https://i.stack.imgur.com/Ixo0L.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Ixo0Lm.jpg" alt="tricycle leaning"></a> <a href="https://i.stack.imgur.com/ZdrQ1.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZdrQ1m.png" alt="bicycle leaning"></a>
(shifting weight to remain stable, via "<a href="http://www.easystreetrecumbents.com/articles/tag/greenspeed/" rel="nofollow noreferrer">Tricycle Steering</a>"), (leaning to turn, via <a href="http://www.phys.lsu.edu/faculty/gonzalez/Teaching/Phys7221/vol59no9p51_56.pdf" rel="nofollow noreferrer">The stability of the bicycle</a>)</p>

<p>Leaning is more of a dynamic discussion than a kinematic one, but worth noting since it affects the tires &mdash; bicycle/motorcycle tires have a rounded cross section to accomodate that lean, while car/motor-trike tires have a flatter cross section.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-766" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-766">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-766">Load Comments</button></br>
			<div id = "commentsection-766" class = 'collapse'>
			<div id = "comment-998" class = "comment">
				<p>Thank you for your very good answer! The example with the toy wagon really helped a lot. But if you, instead of "enlarging" the front wheel, replace the front wheel with two wheels (with different angles, such that all three angles satisfy the ackerman condition) things would be different, right? In this case I would have made a "ackerman" car from a tricycle - as far as I understand.</p>
			</div>
			<div id = "comment-1001" class = "comment">
				<p>I've updated the answer to talk about the similarity between car steering and a pair of bicycles.</p>
			</div>
			</div>
				<textarea id = "speech-766" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-766">
					<img id="start_img-766" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-766">Comment</button>
			<br><div id = "ans-767"  class = "post">
				<h2>Answer</h2>
			<div id="vote-767" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are correct in that there is no Kinematic difference. </p>

<p><a href="http://en.wikipedia.org/wiki/Kinematics" rel="nofollow">Kinematics</a> do not consider why things happen - ie dynamic stability.</p>

<p>There are obvious physical differences, but when the math is worked out for kinematics, it should be the same. This of course implies a certain realistic cap on the level of kinematics. For example it has been pointed out a bicycle leans to steer, but that only occurs once a certain velocity is reached. Until then the kinematics are different. And once that velocity is reached <a href="http://en.wikipedia.org/wiki/Precession" rel="nofollow">Gyroscopic precession</a> also becomes involved. One has to choose where reasonableness is satisfied. If you think all the physics can be modeled, I have some contacts at Yamaha motorcycle racing I'd like to introduce you to.</p>

<p>I found a <a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;sqi=2&amp;ved=0CDIQFjAA&amp;url=http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.41.7363&amp;rep=rep1&amp;type=pdf&amp;ei=JgHuUP_-DqOSiALdtIDACw&amp;usg=AFQjCNEj20VNHnRRCJVEvP4DIGIsZA3xnw&amp;sig2=Nl3MEaEfABs3E9KYsQMjGQ&amp;bvm=bv.1357700187,d.cGE" rel="nofollow">PDF</a> that describes the math in detail. The Kinematic math for ackerman is known as the bicycle model. Unless that's a crued joke, I would say it implies the correct answer to your question.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-767" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-767">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-767">Load Comments</button></br>
			<div id = "commentsection-767" class = 'collapse'>
			<div id = "comment-999" class = "comment">
				<p>So I could say that I could "simplify" a car (with two wheels) to describe its behaviour like the one of a tri/bicycle (in terms of kinematics). I.e. use only one angle to represent the two (different and dependend) angles?</p>
			</div>
			<div id = "comment-1000" class = "comment">
				<p>As far as i know yes. The bicycle model is based on two wheels below the speed at which leaning becomes a factor, and assumes balanced by something unknown (is not modeled by kinematics). In racing, there is various amounts of ackerman that affect it so that one wheel may turn more than the other, but again, tire slip data and a whole lot of other more advanced factors come into play than I would expect from a robotics question.</p>
			</div>
			</div>
				<textarea id = "speech-767" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-767">
					<img id="start_img-767" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-767">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>