<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>difference between sabertooth motor controller and rc esc?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12127" class = "post">
			<h2>Question</h2>
			<div id="vote-12127" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 99</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>difference between sabertooth motor controller and rc esc?</h2>
<p>i am building a rc/robot mower.</p>

<p>most of the youtube videos show the sabertooth motor controllers being used to connect the rc receiver to the dc motors. </p>

<p>But here in Australia, the sabertooth i need cost about 200 dollars. RC esc sell for about 10 dollars. </p>

<p>What is the difference between the esc and the sabertooth and can i use an esc instead? </p>

<p>the specs i have on the motor and battery are 12v 10amp normal, 35amp stall. and my rc is a flysky</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12127" data-toggle = "popover">
				<p>user name : Anton</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-12127">{'None': 0, 'esc': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12127" class = 'collapse'>
			</div>
				<textarea id = "speech-12127" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12127">
					<img id="start_img-12127" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12127">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12128"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12128" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Sabertooth Motor Controller is for driving DC motors, where most RC escs are for driving AC (brushless) motors. If the motor you have is a DC motor there are plenty of other motor drivers out there that can supply the 35A stall current, that you might find cheaper in your country.</p>

<p>I have listed some below</p>

<ul>
<li><a href="https://www.vexrobotics.com/vexpro/motors-electronics/217-9090.html" rel="nofollow noreferrer">Victor</a></li>
<li><a href="https://www.pololu.com/product/2397" rel="nofollow noreferrer">RoboClaw 2x45A</a></li>
<li><a href="http://www.robotshop.com/en/cytron-single-10--45v-40a-brushed-dc-motor-controller.html" rel="nofollow noreferrer">Cytron 40A</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12128" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-12128">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12128">Load Comments</button></br>
			<div id = "commentsection-12128" class = 'collapse'>
			<div id = "comment-21482" class = "comment">
				<p>thanks for the list Mark. i will check them out.  although victor and cytron look to be single, so have to double up on them.   this esc is for brushed motors and is $10.  http://www.ebay.com.au/itm/320A-Brushed-Speed-Controller-ESC-f-1-8-1-10-RC-Electric-Car-Truck-Buggy-Boat-CX/222417846902</p>
			</div>
			</div>
				<textarea id = "speech-12128" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12128">
					<img id="start_img-12128" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12128">Comment</button>
			<br><div id = "ans-12574"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12574" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>i have ended up using 2 RC ESCs they can easily handle the 35 amps and 12v.  the flysky remote also allows mixing so that the 2 motors/escs can handle skid steering on one stick of the remote.  So much cheaper</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12574" data-toggle = "popover">
				<p>user name : Anton</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-12574">{'None': 0, 'esc': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12574" class = 'collapse'>
			</div>
				<textarea id = "speech-12574" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12574">
					<img id="start_img-12574" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12574">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>