<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>differences between SCARA arm design
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8350" class = "post">
			<h2>Question</h2>
			<div id="vote-8350" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 312</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>differences between SCARA arm design</h2>
<p>I am currently interested in SCARA arm designs and I have few, beginner questions for which I didn't find answers yet. </p>

<p>1/ While comparing professional arms (made by epson, staubli...) I noticed that the actuator used for the translation on the Z axis is at the end of the arm. On "hobby" arms like the makerarm project on kickstarter they use a leadscrew with the actuator at the beginning of the arm.
I thought it was smarter to put the actuator handling this DoF at the begining of the arm (because of its weight) and not at the end, but I assume that these companies have more experience than the company behind the makerarm. So I'm probably wrong, but I would like to understand why :)</p>

<p>2/ Also I would like to understand what kind of actuators are used in these arms. The flx.arm (also a kickstarter project) seems to be using stepper motors but they also say they are using closed loop control, so they added an encoder on the stepper motors right?</p>

<p>Wouldn't it be better to not use stepper and, for instance, use DC brushless motors or servos instead ?</p>

<p>3/ I also saw some of these arms using belts for the 2nd Z axis rotation, what is the advantage ? it only allows to put the actuator at the begining of the arm ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8350" data-toggle = "popover">
				<p>user name : LiohAu</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-8350">{'None': 0, 'motor': 1, 'mechanism': 0, 'servomotor': 1, 'design': 0, 'robotic-arm': 1, 'actuator': 1, 'stepper-motor': 1, 'ultrasonic-sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8350" class = 'collapse'>
			</div>
				<textarea id = "speech-8350" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8350">
					<img id="start_img-8350" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8350">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8351"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8351" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>1) Yes, you are correct that moving the actuator closer to the joint increases the arm's capabilities. The reason that some arms do not use this configuration is to keep the robot simple. Adding gears, belts, screws, etc. increases complexity and mass, adds extra friction and backlash, and leads to more wear and tear. Another benefit is that it is much easier to estimate the torque/force at the end-effector/tool if there are fewer mechanisms in-between.</p>

<p>2) Stepper motors are popular because they have position feedback integrated into the motor. They precisely "step" through discrete movements and so you don't need an encoder. Using stepper motors works well for simple applications where the arm needs to follow trajectories while respecting torque limits on the joints. However, if you want to implement more sophisticated compliance and force control methods then DC motors will work much better.</p>

<p>3) The answer to this is the same as 1), and yes, it allows you to move the actuator closer to the joint.</p>

<p>A particularly interesting manipulator is the <a href="http://www.barrett.com/products-arm.htm" rel="nofollow">Barrett WAM arm</a>, which has the first 4 DOF's actuated by motors in the base and using a low-friction cable system to transmit the motion. The optional wrist connector adds another 3 DOF's that were contained in the wrist itself. It is not a SCARA configuration, but still might be of interest to you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8351" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8351">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8351">Load Comments</button></br>
			<div id = "commentsection-8351" class = 'collapse'>
			<div id = "comment-13412" class = "comment">
				<p>Thanks for you answer. What kind of DC motor would you recommend to replace the steppers ? brushless ones?</p>
			</div>
			<div id = "comment-13416" class = "comment">
				<p>It depends on your application. What are you using it for? If you are switching from stepper motors to DC motors then brushed vs. brushless is an entire different question. Basically, brushless are more expensive and complicated but last longer and are more efficient (so you can probably get away with brushed).</p>
			</div>
			<div id = "comment-13418" class = "comment">
				<p>Well the point is to make the vertical axis of a scara arm (the "shoulder") from zero. So I did not choose any component or technology yet. For example I'm still trying to determine if I should use a leadscrew, ballscrew, or rack and pinion drive (well i'm almost sure that it won't be this one), but I already know that it will measure around 35cm. And I would like to be able to raise few kg (2 would be awesome + the weight of the arm parts that I would like to add later)</p>
			</div>
			<div id = "comment-13422" class = "comment">
				<p>Think of it like this: stepper motors are often used with open-loop control and simply making sure the torque is maintained below the limits of the motor. If your manipulator is performing some repeatable predicted motion like moving an object on an assembly line, then you can probably get away with a simple stepper motor setup. If you want to use the manipulator to do more complex tasks where it interacts with objects and the environment a lot then you might want to precisely control the motors for both position _and_ torque, which may call for DC motors with encoders.</p>
			</div>
			<div id = "comment-13423" class = "comment">
				<p>The mechanisms you talk about for transmitting power are selected based on how your design evolves. If you can make your manipulator with motors that drive the joints directly without any gears or leadscrews then that would be the best. But obviously there are reasons why you have to use those things, like keeping the weight closer to the previous joint, or gearing down the motors to get more torque, etc.</p>
			</div>
			<div id = "comment-13424" class = "comment">
				<p>About your 1st comment, rou're confirming what I'm currently reading on the web, DC motors with encoders would be the best choice (i'm not doing repeatable things in a known environment). For the mecanism part, well it's the scara principle to use a linear motion for the translation on the Z axis, right? So I don't see how I could direct drive a linear motion with a motor oO</p>
			</div>
			<div id = "comment-13425" class = "comment">
				<p>Let us [continue this discussion in chat](http://chat.stackexchange.com/rooms/30894/discussion-between-liohau-and-brian-lynch).</p>
			</div>
			</div>
				<textarea id = "speech-8351" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8351">
					<img id="start_img-8351" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8351">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>