<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Differential Drive Robot Control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2868" class = "post">
			<h2>Question</h2>
			<div id="vote-2868" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 877</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Differential Drive Robot Control</h2>
<p>Edited: I have a differential drive robot that needs to drive down a hall and stay in the center. I have 4 ultra sonic sensors, 2 on each side. Currently, I thought of implementing pure pursuit and having a lookahead distance etc. but I am not sure if this is the correct approach. I have all the lower level PIDs for motor control working, I just need some help in choosing a path planning algorithm? Will pure pursuit work to my needs? OR do people have any suggestions.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2868" data-toggle = "popover">
				<p>user name : mechaman</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-2868">{'control': 3, 'None': 0, 'accelerometer': 0, 'pid': 3, 'differential-drive': 3, 'sensors': 2, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2868">Load Comments</button></br>
			<div id = "commentsection-2868" class = 'collapse'>
			<div id = "comment-5277" class = "comment">
				<p>can you elaborate more? What type of sensors you are using for controlling?
Probably you need to have a look at how PID works:

P depends on the present error, I on the accumulation of past errors, and D is a prediction of future errors, based on current rate of change</p>
			</div>
			<div id = "comment-5279" class = "comment">
				<p>I understand the fundamentals of PID... I just am unsure about how to go about the system... For sensors I have two ultrasonic sensors in each side of the robot facing the walls...</p>
			</div>
			<div id = "comment-5286" class = "comment">
				<p>You should start with only the proportional term and see how it goes. If it oscillates, add the derivative term to the controller.
Integral term will be most useful for the error caused by asymmetry of motors/sensors. So you will almost certainly need it as well.</p>
			</div>
			<div id = "comment-5312" class = "comment">
				<p>I edited my question... and once again I understand the requirements for PID and how to tune it. That is not my question... Mine is on the higher level... more of a what is my error? Heading error? lateral error? etc.</p>
			</div>
			<div id = "comment-5370" class = "comment">
				<p>Is the goal of this robot to go down the hall as fast as possible or to minimize the time spent off of the center line?  Do you assume that the hallway is perfectly straight and smooth, or do you expect to adjust your path based on the presence of doorways?</p>
			</div>
			<div id = "comment-5472" class = "comment">
				<p>@user2253546, I hate it when this happens. Even if I put in bold a hundred times in a post that "I'm not asking about X", people still keep responding "for X, you should do Y".</p>
			</div>
			</div>
				<textarea id = "speech-2868" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2868">
					<img id="start_img-2868" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2868">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2923"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2923" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>error = distance to left - distance to right, goal (set point) is 0.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2923" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-2923">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2923">Load Comments</button></br>
			<div id = "commentsection-2923" class = 'collapse'>
			<div id = "comment-5440" class = "comment">
				<p>I would suggest elaborating a bit more. One-liners are not very beneficial since they are often very unclear.</p>
			</div>
			<div id = "comment-5471" class = "comment">
				<p>It was specifically responding to the comment "I understand the requirements for PID and how to tune it. That is not my question... Mine is on the higher level... more of a what is my error? Heading error? lateral error? etc" Hope that helps.</p>
			</div>
			<div id = "comment-6798" class = "comment">
				<p>Questions and answers will be read by many people, not just the original asker. By providing fully fledged answers with context, stackexchange sites become a resource for others with similar questions in the future.</p>
			</div>
			<div id = "comment-6803" class = "comment">
				<p>I could draw pretty flowers too, if that will help.</p>
			</div>
			</div>
				<textarea id = "speech-2923" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2923">
					<img id="start_img-2923" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2923">Comment</button>
			<br><div id = "ans-4258"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4258" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>At the foundation of PID control, there is the assumption that the quantity you are measuring (and using to compute your error) has a direct linear relationship with the quantity you are controlling.</strong></p>

<p>In practice, people frequently bend this rule without things going horribly wrong. In fact this resiliency to modeling error--when our assumptions (our "model") do not match exactly to the real system--is one of the reasons PID control is such a popular and commonly used technique.</p>

<p>In your case, what you are measuring is distances between your robot and the walls, and what you are controlling is the speed of your motors. So your question really boils down to <strong>"How can we describe a (hopefully) linear relationship between these quantities?"</strong></p>

<p>First off, we have to deal with the fact that we have at least six different numbers floating around (four sensor measurements and at least two motor speeds), when we'd really like to have just one, to make a simple SISO (Single Input Single Output) PID controller.</p>

<p>For the motors, one way we can accomplish that is by choosing to use the <em>difference</em> between the motor speeds as our control quantity. We will have to control overall speed separately, but it makes steering a lot easier this way.</p>

<p>$\omega = R_\text{wheel speed}-L_\text{wheel speed}$</p>

<p>Next, for combining the range sensor inputs we have a number of different options to choose from. Which one is best for a given situation will depend a lot on the geometry of the robot and where the sensors are pointing. For now, let's just assume we can boil it down to a DISTANCE_LEFT and DISTANCE_RIGHT that tells us how far away the walls are on either side. We can then take the <em>difference</em> and use that as our "error" measurement. Minimizing this error makes the distance to either wall equal and keeps us centered in the hall. So far, so good.</p>

<p>error = RIGHT_DISTANCE - LEFT_DISTANCE</p>

<p><img src="https://i.stack.imgur.com/ADPvY.png" alt="enter image description here"></p>

<p>Now for the part where we bend the rules. When we chose to use the difference between left and right motor speeds as our control variable, what we were in effect doing is controlling the <em>angular rate</em> of our robot. The relationship between angular rate and us being centered in the hallway goes something like this:</p>

<blockquote>
  <p>angular rate --> {<em>integration over time</em>} --> robot heading angle -->
  {<em>cosine of heading angle</em> * <em>forward movement speed</em>} --> movement speed
  toward or away from the hallway center --> {<em>integration over time</em>} -->
  robot position in the hallway</p>
</blockquote>

<p>Yikes! That does not look linear. What do we do? Well, we can do what all good engineers do when faced with a complex math problem. We approximate. ;)</p>

<p>For example, if the robot is facing in roughly the direction down the hall that we would like it to go, we can make the claim that our robot's heading (for small heading angles) is (approximately) linearly proportional to it's movement speed toward or away from the hallway center. Now we have:</p>

<blockquote>
  <p>angular rate --> {<em>integration over time</em>} --> robot heading angle -->
  {<em>approx. linear</em>} --> movement speed toward or away from the hallway
  center --> {<em>integration over time</em>} --> robot position in the hallway</p>
</blockquote>

<p>Better, but we're not there yet. We still have those integration operations to deal with. This is where it gets complicated. I'll see about filling out this answer more later, but for now I'll say that the reason this PID controller (might) still work has to do with (a.) the integral and derivative terms in the controller and (b.) interaction between the controller and the dynamic equations governing the motion of the robot itself.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4258" data-toggle = "popover">
				<p>user name : Sean</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-4258">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4258">Load Comments</button></br>
			<div id = "commentsection-4258" class = 'collapse'>
			<div id = "comment-6871" class = "comment">
				<p>I really liked your post. It was clear and gave good insight into the relationship between PID input and output. Thank you a lot for your post. :)</p>
			</div>
			<div id = "comment-6998" class = "comment">
				<p>Yeah, except its hugely overkill. Bringing motor speed into it serves no purpose other than confuse the reader. No where in the question do I even see the mention of motor encoders for rotational velocity, other than to say it is already working, someway.  Just goes to show, pretty pictures is what sells on robotics stack exchange, not answers. This posted 2 months after the correct explanation was given.</p>
			</div>
			</div>
				<textarea id = "speech-4258" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4258">
					<img id="start_img-4258" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4258">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>