<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Digital servo shaking
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1853" class = "post">
			<h2>Question</h2>
			<div id="vote-1853" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 596</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Digital servo shaking</h2>
<p>i need your advice if someone experienced something similar. I try using digital servo but when i tried to connect it to board by this tutorial <a href="https://blogs.oracle.com/hinkmond/entry/connect_robot_servo_to_rpi3" rel="nofollow">https://blogs.oracle.com/hinkmond/entry/connect_robot_servo_to_rpi3</a><br>
servo motor only shakes for first ten cycles but after that turns normally. I have no idea why is that but in every article i read that controlling digital servo is same as analog with no need to program them after unboxing.
Thanks for any idea</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1853" data-toggle = "popover">
				<p>user name : dukatmar</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-1853">{'None': 0, 'servos': 3, 'raspberry-pi': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1853" class = 'collapse'>
			</div>
				<textarea id = "speech-1853" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1853">
					<img id="start_img-1853" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1853">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1854"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1854" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The tutorial is using software pwm from java code. If the PI is otherwise busy or the jvm pauses for garbage collection, the pwm signals to the servo will be erratic. Which could be causing your problems.</p>

<p>I have to admit to only looking at the first page of the tutorial.... The other problem I encountered which was very confusing was erratic behaviour caused by the servo drawing more powerr than the PI can supply... Yes I was powering my servo from the pi's 5 volt rail.</p>

<p>By far the most likely answer is that java does lots of small garbage collections for a while until it adjusts its settings and settles into a much longer garbage collection cycle causing your program to pause repeatedly.</p>

<p>When java does a garbage collection your code stops, therefore so does the pwm and this would cause the strange behavior your are describing.</p>

<p>For my servos I'm using the adafruit 16 Channel pwm board, it has it's own clock, you talk to it via i2c and it leaves your code free to do other stuff.</p>

<p>You should probably do some reading about java garbage collection, java and real-time processing don't go together so well. As long as you understand that you can only get near to real-time processing out of java, all is good.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1854" data-toggle = "popover">
				<p>user name : Robert Sutton</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-1854">{'None': 6, 'roomba': 2, 'irobot-create': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1854">Load Comments</button></br>
			<div id = "commentsection-1854" class = 'collapse'>
			<div id = "comment-3811" class = "comment">
				<p>Thanks for answer. I used external power source (+5V) with no effect. What baffles me is that shaking stops after cca minute and after that works great. So my question was about digital/analog servo differences cause it looks like the servo cannot process the signal at first (maybe weak signal for digital processer) and i cannot find reason for it anywhere</p>
			</div>
			<div id = "comment-3826" class = "comment">
				<p>I've edited my original answer</p>
			</div>
			</div>
				<textarea id = "speech-1854" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1854">
					<img id="start_img-1854" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1854">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>