<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Directional hearing for Linux robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3021" class = "post">
			<h2>Question</h2>
			<div id="vote-3021" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 49</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Directional hearing for Linux robot?</h2>
<p>I want to give my Linux robot the ability to locate a sound source and drive towards it. I am reading a <a href="http://cdn.intechopen.com/pdfs-wm/10567.pdf" rel="nofollow">paper</a> on sound localization that seems to cover the theory well enough, but I'm at a loss as to how do I implement it. Specifically I would like to know:</p>

<ol>
<li>How do I connect two microphones to a Linux PC?</li>
<li>How do I record from two microphones simultaneously?</li>
<li>Is there any library of sound processing algorithms (similar to how OpenCV is a library of computer vision algorithms) available for Linux?</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-3021" data-toggle = "popover">
				<p>user name : xperroni</p>
				<p> user reputation : 386</p>
				<p class = "tagcontent" id = "usertaginfo-3021">{'None': 19, 'inverse-kinematics': 3, 'algorithm': 2, 'speech-processing': 2, 'rangefinder': 2, 'linux': 3, 'mobile-robot': 8, 'sensors': 2, 'digital-audio': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3021">Load Comments</button></br>
			<div id = "commentsection-3021" class = 'collapse'>
			<div id = "comment-5540" class = "comment">
				<p>Does the sound processing need to be done in software instead of in hardware?  To break left/right ambiguity, you would need at least 3 microphones.</p>
			</div>
			<div id = "comment-5542" class = "comment">
				<p>I'd rather not use custom hardware if possible. And I'm OK with the robot having to turn and wait for further input in order to resolve any ambiguous cases.</p>
			</div>
			<div id = "comment-13256" class = "comment">
				<p>Even without custom hardware, each audio input will require its own hardware parts - specifically, additional audio processor PCI cards or USB converters. There are numerous open source audio processing applications (many for music mixing) that can record audio from multiple sources. As for the libraries, I am unaware of any. The best solution will likely be a custom, external one.</p>
			</div>
			<div id = "comment-18438" class = "comment">
				<p>Just in case you don't know this little fellow http://www.mykeepon.com/.</p>
			</div>
			</div>
				<textarea id = "speech-3021" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3021">
					<img id="start_img-3021" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3021">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>