<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Discussion Topic: Increase In Questions That Are Simply Solved With Google Search
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2596" class = "post">
			<h2>Question</h2>
			<div id="vote-2596" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 68</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Discussion Topic: Increase In Questions That Are Simply Solved With Google Search</h2>
<p>I don't know whether it is the start of the school year, but I feel like I am seeing more and more questions that could very easily be answered by the OP with a simple Google search. </p>

<p>An example was an OP that experienced "Error Code -36" when attempting to move a directory from one drive to another. </p>

<p>I did the Google search <strong>error code 36 finder</strong> and the first article returned had a solution for the problem from OS X Daily.</p>

<p>In a way I almost feel like we are doing a disservice to the OPs with providing them an answer that is more detailed than:</p>

<p><strong>The answer to this can be found by performing the Google search ______</strong></p>

<p>While this may be a bit snarky, it also may get them in the habit of going to Google and typing in what we have written, sort of in the spirit of Zed Shaw's "Learn The Hard Way" series. I don't even think that we should provide a hyperlink. If this gets them into the mindset of "I'll do a few Google searches on my own before I ask," it may help them not only by making them more autonomous users but may also help to improve the quality of the questions that are actually asked and reduce the moderation effort to keep the site properly curated.</p>

<p>I am less inclined to ignore the questions as there are people who genuinely don't know what is going on or that their problem isn't unique and there are resources that can be found with one or two well thought out search terms. It is also easy to panic when you encounter an error and that tends to reduce some people's ability to problem solve. The problem becomes that it is difficult to determine those from the people who just rush here to ask everything while putting no thought into it.</p>

<p>I would be interested in hearing what other's thoughts are, as it starts becoming discouraging rather quickly when you try to provide helpful answers, but realize the same answer could have just as easily been found by the OP with a simple search engine query in far less time.</p>

<p>And if I need to make a proposal, it would be that when a question is posed that only requires a simple search that we resolve to answer, in the comments, with something similar to  what I highlighted above.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2596" data-toggle = "popover">
				<p>user name : AMR</p>
				<p> user reputation : 1052</p>
				<p class = "tagcontent" id = "usertaginfo-2596">{'etiquette': 0, 'None': 0, 'flagging': 1, 'tags': 7, 'discussion': 12, 'moderation': 1, 'answers': 4, 'moderators': 1, 'comments': 4, 'questions': 4, 'editing': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2596">Load Comments</button></br>
			<div id = "commentsection-2596" class = 'collapse'>
			<div id = "comment-5867" class = "comment">
				<p>Ultimately most knowledge is just one, correct Google search away. But that doesn't mean the Stack Overflow model is obsolete. Curating good quality questions and answers is important because...surprise!...they _improve_ Google search results! If you ever find yourself contemplating a "Just Google it Answer" my suggestion is to take a break from Ask Different. Perspective is everything.</p>
			</div>
			<div id = "comment-5868" class = "comment">
				<p>I am not saying that the model is obsolete, I am saying that there are certain questions that warrant a thoughtful, detailed, well researched, and referenced answer which will serve as a helpful reference for others and some that are questions that no real thought went into. It is like when I was in elementary and high school and I would ask my parents how to spell a word or what the definition was, and they would respond "You have a dictionary, look it up."</p>
			</div>
			<div id = "comment-5869" class = "comment">
				<p>If you think answering a question is beneath you: move on. Some low-hanging fruit for newer users is nice to have. We are not your parents and no one here should be saying "just look it up".</p>
			</div>
			<div id = "comment-5870" class = "comment">
				<p>@IanC. Look at my answer and comment record on my profile before you make an accusation like that. You will see that those are the majority of the question I am trying to help with... I have plenty of zero vote answers because I answered first timers that no one else is providing answers to. Not because the answers aren't thorough and good, but because first timers usually never follow up or take an active role in the site.</p>
			</div>
			<div id = "comment-5871" class = "comment">
				<p>I'm not accusing you of anything, I'm merely commenting on your stated belief that certain questions don't "warrant a thoughtful, detailed, well researched, and referenced answer" -- if you happen upon a question like that, you don't need to answer it. Certainly no answer is better than "just google it". If it's unanswerable in the form it's in, some edits are worthwhile and if it cannot be rescued, flag it for closing.</p>
			</div>
			</div>
				<textarea id = "speech-2596" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2596">
					<img id="start_img-2596" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2596">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2597"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2597" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I see several reasons why people come to Ask Different instead of searching via Google/Bing/Duckduckgo></p>

<ul>
<li>not everybody is very used to doing Google searches, especially for more complex topics. Searching for "OS X error code -36" will not give you anything useful because the - omits the 36 from the search</li>
<li>people do get overwhelmed by the various search results which may point to old and slightly outdated discussions of the topic or to sites with a less than helpful representation of the topic (discussions.apple.com for instance)</li>
<li>AskDifferent has a good signal/noise ratio and shows up in search results a lot, so it's only natural that people also use the site for apparenatly simple questions</li>
</ul>

<p>I know that the FAQ expects people to do some basic research themselves, and we tend to close questions if they don't show any such effort at all (and/or the OP doesn't come back to clarify the question based on feedback received in the comments). OTOH nothing is lost if you answer such questions with an answer in the like of</p>

<blockquote>
  <p>A simple Google query brought me to this page (link) which recommends
  to <em>include enough information to make your answer stay on its own</em>.</p>
</blockquote>

<p>This way you indicate in a rather nice fashion that googling might have helped as well, while still providing a useful answer, gather some reputation and increase the value of the site.</p>

<p>PS: Depending on the question, a search for an already existing answer on AD (and subsequently a flag for closing as duplicate) might be helpful as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2597" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2597">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2597" class = 'collapse'>
			</div>
				<textarea id = "speech-2597" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2597">
					<img id="start_img-2597" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2597">Comment</button>
			<br><div id = "ans-2598"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2598" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm a strong believer in asking simple questions simply. Even if your question can be found by a google search, I feel it's totally on topic here.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/126916/what-versions-of-os-x-are-affected-by-heartbleed">What versions of OS X are affected by Heartbleed?</a></li>
<li><a href="https://apple.stackexchange.com/questions/67031/isnt-inactive-memory-a-waste-of-resources/67048#67048">Isn&#39;t Inactive memory a waste of resources?</a></li>
<li><a href="https://apple.stackexchange.com/questions/24066/how-to-simulate-slow-internet-connections-on-the-mac/24078#24078">How to simulate slow internet connections on the mac</a></li>
</ul>

<p>The links above are gold-standard simple questions. Short, clear and they really don't need a whole litany of <em>What version?</em>, <em>What did you try?</em> to be effective. Heck - even grammar doesn't really matter. Mac vs mac in the title - <strong>who cares, let's get on with the learning</strong> :-)</p>

<p>If the person asking (the OP) can't make a clear case for the issue or they can't distinguish between asking for help troubleshooting vs asking others to do all the work to solve the OP's vaguely composed problem - there's the line I use to identify a question that needs to be put on hold to meet the documented quality standards we expect.</p>

<p>The immense value I see in Stack Exchange is three fold with respect to simple questions:</p>

<ol>
<li>Searchability - google indexes us and we have an excellent tag system to get the correct keywords exposed to people, internal search and external search.</li>
<li>Reputation - people can quickly see a number and know if the poster has been given/earned rep or not</li>
<li>Curation - the SE tools for editing, voting, cleaning up, deleting bad posts is second to none in my opinion.</li>
</ol>

<h1><em>The <strong>curation aspect</strong> is why I volunteer so much time here.</em></h1>

<p>Apple Discussions, vendor forums, about.com and others when faced with a  "simple google it question" are, pardon my bluntness, a total shit show.</p>

<p>I'm not saying everything they do is crappy, but that in the case where you mention "a simple search" + "adequate knowledge" = easy answer, they really fall short and don't measure up to my expectations.</p>

<p>People can be angry, irritated, lazy, unfocused, and downright mean. I know of no other on-line system that is capable of meaningfully removing that noise and let the signal of a great question and more importantly a great answer rise above the muck.</p>

<p>So - even though I quite often personally don't choose to answer simple "just google it" questions, that doesn't mean I don't encourage and approve of them. Heck, sometimes I even down vote them with what I hope is received as constructive criticism in the comments pointing out how I'd like to see the question improved if I feel there is value in getting a clearer question. Other times, I'll use a soft question as a place to put a heavily researched, hopefully useful summation of knowledge based on years of experience in hopes that it reaches hundreds of people as well as helping the person that came here to ask instead of just googling it.</p>

<p>As long as a question has enough context to let someone take a good stab at helping, I feel it belongs here.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2598" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2598">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2598">Load Comments</button></br>
			<div id = "commentsection-2598" class = 'collapse'>
			<div id = "comment-5865" class = "comment">
				<p>I agree with you about Apple Discussions, even though I will look there on occasion. I usually skip Apple Discussions though and look at the Mac World, OS X Daily, How to Geek, Mac Life, etc. entries returned. Then again finding the answers on my own I guess comes naturally to me. I forget that almost 35 years of experience with computers means that for much of that time, it was DIY with few resources or experts to turn to. Being relatively new to Macs, I have had to do the searches more often recently, but I guess the experience I bring makes me better at evaluating the usable answers.</p>
			</div>
			<div id = "comment-5866" class = "comment">
				<p>@AMR Well said. What I love here is that people can focus on answering the questions _they_ personally feel are helpful. Not everyone can or wants to be a [Graham Perrin](http://apple.stackexchange.com/q/126588/5472) and do superb research on asking. http://apple.stackexchange.com/q/176815/5472</p>
			</div>
			</div>
				<textarea id = "speech-2598" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2598">
					<img id="start_img-2598" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2598">Comment</button>
			<br><div id = "ans-2599"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2599" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not expecting much in the way of upvotes for this simple, all-encompassing statement,<br>
but here goes...</p>

<p><strong>Some people's Google-Fu just isn't that good, &amp; nothing we do or say will ever improve that.</strong></p>

<p>So we do the Googling for them &amp; by honing sharp, crisp, accurate answers to their vague questions can actually improve the chances that others with only a white belt in Google-Fu can find that answer for themselves; because Stack Exchange answers are frequently near the top of some quite vague Google searches.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2599" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2599">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2599">Load Comments</button></br>
			<div id = "commentsection-2599" class = 'collapse'>
			<div id = "comment-5872" class = "comment">
				<p>I prefer Google Ninja.</p>
			</div>
			</div>
				<textarea id = "speech-2599" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2599">
					<img id="start_img-2599" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2599">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>