<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Discontinuity in device orientation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8642" class = "post">
			<h2>Question</h2>
			<div id="vote-8642" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 141</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Discontinuity in device orientation</h2>
<p>Why is there a discontinuity in the quaternion representation of my device orientation?</p>

<p>I'm using a <a href="http://www.pnicorp.com/products/sentral-mm/" rel="nofollow noreferrer">SENtral+PNI RM3100+ST LSM330</a> to track orientation. I performed the following test:</p>

<ol>
<li>Place the device in the center of a horizontal rotating plate ("lazy susan").</li>
<li>Pause for a few seconds.</li>
<li>Rotate the plate 360  clockwise.</li>
<li>Pause for a few seconds.</li>
<li>Rotate the plate 360  clockwise again.</li>
</ol>

<p>I got this output, which appears discontinuous at sample #1288-1289.
<a href="https://i.stack.imgur.com/B4BQA.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/B4BQA.png" alt="enter image description here"></a></p>

<p>Sample #1288 has  <code>(Qx,Qy,Qz,Qw) = (0.5837, 0.8038, 0.0931, 0.0675)</code>, but sample #1289 has <code>(Qx,Qy,Qz,Qw) = (0.7079, -0.6969, -0.0807, 0.0818)</code>.</p>

<p>Plugging in the formulas on page 32 of <a href="http://www.pnicorp.com/wp-content/uploads/Sentral-MandM-Technical-Datasheet_rG.pdf" rel="nofollow noreferrer">this document</a>, this corresponds to a change in orientation from <code>(Heading, Pitch, Roll) = (108 , 0 , 142 )</code> to <code>(Heading, Pitch, Roll) = (-89 , 0 , 83 )</code>.</p>

<p>The <a href="https://i.imgur.com/ZQLhDVg.png" rel="nofollow noreferrer">graph of (Heading, Pitch, Roll)</a> is also not continuous mod 90 .</p>

<p>Does this output make sense? I did not expect a discontinuity in the first plot, since the unit quaternions are a covering space of SO(3). Is there a hardware problem, or am I interpreting the data incorrectly?</p>

<p><strong>Edit:</strong> The sensor code is in <a href="http://pastebin.com/raw/sT2F7f5g" rel="nofollow noreferrer">central.c</a> and <a href="http://pastebin.com/raw/qu8RFx4z" rel="nofollow noreferrer">main.c</a>. It is read with this <a href="http://pastebin.com/raw/7QXJ00cq" rel="nofollow noreferrer">Python script</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8642" data-toggle = "popover">
				<p>user name : tba</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-8642">{'orientation': 4, 'None': 0, 'sensors': 4, 'calibration': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8642">Load Comments</button></br>
			<div id = "commentsection-8642" class = 'collapse'>
			<div id = "comment-14110" class = "comment">
				<p>What is the repeatability of this? Once per power up? Always at the same time or position?</p>
			</div>
			<div id = "comment-14257" class = "comment">
				<p>It seems 100% repeatable once per powerup. The glitch always happens for the first few seconds.</p>
			</div>
			<div id = "comment-14267" class = "comment">
				<p>Your code suggests that the problem is within the sensor.  Why is `Quat_x` bouncing from negative to positive slope in that sample?  Also, your code is doing a lot of [big-endian to little-endian conversion](https://en.wikipedia.org/wiki/Endianness) that would be better left to [a built-in function](http://www.gta.ufrj.br/ensino/eel878/sockets/htonsman.html) or even a [macro](http://stackoverflow.com/a/6961239/2063546).</p>
			</div>
			</div>
				<textarea id = "speech-8642" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8642">
					<img id="start_img-8642" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8642">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8643"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8643" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>yaw has a range of +/- 180 degrees. There is going to be a discontinuity when you reach that limit. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8643" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-8643">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8643">Load Comments</button></br>
			<div id = "commentsection-8643" class = 'collapse'>
			<div id = "comment-14108" class = "comment">
				<p>My question is about the quaternion output, which does not have a reason for discontinuity. In addition, the graph of (Heading, Pitch, Roll) is not even continuous mod 90 .</p>
			</div>
			</div>
				<textarea id = "speech-8643" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8643">
					<img id="start_img-8643" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8643">Comment</button>
			<br><div id = "ans-8647"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8647" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are right, the quaternion should be without discontinuities. </p>

<p>It could be a bad implementation of your algorithm, but I believe your discontinuity may come from the magnetometer in your setup. Magnetometers have to be <a href="http://www.vectornav.com/support/library/magnetometer" rel="nofollow">calibrated</a> properly in order to map the magnetic field reading to an orientation. If it is not, it can lead to effects where small changes in the actual orientation of the device lead to large changes in the interpretation of the orientation from the magnetic reading.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8647" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-8647">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8647" class = 'collapse'>
			</div>
				<textarea id = "speech-8647" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8647">
					<img id="start_img-8647" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8647">Comment</button>
			<br><div id = "ans-8650"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8650" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Something's not right, either with your test, your conversion, or with the device itself. If you look at your graph of heading, pitch, and roll, you can see that heading rotates through 360 degrees, which is expected, but roll changes almost 180 degrees in one direction, then 180 degrees back. If your device is loose and rolling around on the turntable then maybe that's correct, but otherwise you've got something else going on. </p>

<p><strong>Can you provide your initialization code?</strong> Notice that you can't just power-on this device an use it - from <a href="http://www.pnicorp.com/wp-content/uploads/Sentral-MandM-Technical-Datasheet_rG.pdf" rel="nofollow">page 16 of the manual</a>:</p>

<blockquote>
  <p><strong>Note:</strong> It is necessary to set the MagRate, AccelRate, AND GyroRate registers to non-zero values for the SENtral algorithm to function properly and to obtain reliable orientation and scaled sensor data. If a [Sensor]Rate register is left as 0x00 after power-up, or is changed to 0x00, this effectively disablesthat sensor within the SENtral algorithm. Also, the CalStatus, MagTransient, and AlgorithmSlow bits become undefined.</p>
</blockquote>

<p><strong>Are you getting any errors?</strong> Page 17, step (d) states you are to read the event register and then process the bits in the priority order specified in Figure 4-3 (at the top of that page), which means you are to check and act on an error bit <em>before</em> checking the sensor data available bits. </p>

<p>Finally, <strong>Can you provide your sensor read code?</strong> Your sample data with the discontinuity shows values in the range of -1 to 1, but Page 19 clearly states that Full Scale Output for the quaternions are 0-1, or $\pm \pi$. All of your data appears to be bounded at +1 on the high end, which makes me believe that you are not operating at the $\pm \pi$ band, so maybe you are reconstructing the bytes incorrectly upon receipt. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8650" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8650">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8650">Load Comments</button></br>
			<div id = "commentsection-8650" class = 'collapse'>
			<div id = "comment-14256" class = "comment">
				<p>Thanks for your answer. The sensor code is in these two files: http://pastebin.com/raw/sT2F7f5g and http://pastebin.com/raw/qu8RFx4z . It is read with this python script: http://pastebin.com/raw/7QXJ00cq . Do you see anything clearly wrong?</p>
			</div>
			</div>
				<textarea id = "speech-8650" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8650">
					<img id="start_img-8650" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8650">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>