<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>DIscussion: Flags
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2612" class = "post">
			<h2>Question</h2>
			<div id="vote-2612" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 43</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DIscussion: Flags</h2>
<p>I am really getting tired of flags getting rejected when they are clearly in the scope of what the flag was intended for.</p>

<p>For example:</p>

<p>Not An Answer:</p>

<p>This was posted as an answer, but it does not attempt to answer the question. It should possibly be an edit, <strong>a comment</strong>, another question, or deleted altogether.</p>

<p>If the "Answer" takes the form of "Hey I tried it, and it worked" or even "Hey I tried it, it didn't work for me but this did" then it should be a comment to the original answer, and not an answer.</p>

<p>These usually take the form of first posts or late answers, which generally means that the user doesn't have the reputation to comment. That doesn't mean that a valid flag should be rejected just so that they can get around the reputation restriction.</p>

<p>And the use of "Flags should not be used to point out technical inaccuracies" is absolutely the wrong approach to take. Answers on SE are supposed to be Peer Reviewed, meaning that the presumption is that answers that are left standing have been found to be accurate. Not addressing flags for Technical inaccuracies, especially for First Posts, where there is likely no hope that the poster will return to make suggested changes, is tantamount to circumventing the Peer Review process.</p>

<p>If there is something redeeming about the answer and it warrants and edit, then an edit is more appropriate, but if the edit would add nothing to the discussion or would only have to reiterate and answer already given, then a flag to delete should be honored.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2612">Load Comments</button></br>
			<div id = "commentsection-2612" class = 'collapse'>
			<div id = "comment-5880" class = "comment">
				<p>Have you looked over http://meta.apple.stackexchange.com/questions/1629/why-was-my-flag-for-not-an-answer-declined ?</p>
			</div>
			<div id = "comment-5886" class = "comment">
				<p>I think it would improve the quality of the discussion if you could give a specific example or two.  Can you link to an example that you flagged as NAA, and your flag was declined, and you think it should not have been?  If the answer no longer exists, can you quote the entire text of the answer?  Also I think you should separate "Hey I tried it and it worked" from "Flags should not be used to point out technical inaccuracies".  Those are two separate issues.  The former sounds like something that could be discussed, depending on the specifics, but the second isn't how Stack Exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-2612" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2612">
					<img id="start_img-2612" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2612">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2613"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2613" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No.</p>

<p>It is true that some people post comments as answers, but my experience shows that those posts usually do get deleted.</p>

<p>If something answers a question, it should not be flagged as not an answer.</p>

<p>Redundant answers are still answers, and could possibly be worded more clearly than the answers they duplicate.</p>

<p>Wrong answers are still answers, and it not moderators' jobs to identify wrong answers.</p>

<p>If an answer, read by itself as if no other answer were posted, can reasonably be constructed as an answer to the question, flags identifying it as "not an answer" should be, often are, and will continue to be denied.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2613" class = 'collapse'>
			</div>
				<textarea id = "speech-2613" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2613">
					<img id="start_img-2613" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2613">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>