<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Distance calculation with two robots and two obstacles
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9963" class = "post">
			<h2>Question</h2>
			<div id="vote-9963" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 182</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Distance calculation with two robots and two obstacles</h2>
<p>I have a problem with two robots and two obstacles in a space. Each robot can communicate its measurements to the other and can measure angles and distances.
The two obstacles in the environment are identical to each other.</p>

<p>Each robot can see both obstacles but not each other. Therefore have angle theta 1 and 2 combined with distance 1 and 2. Can the distance between the two robots be calculated?</p>

<p><a href="https://i.stack.imgur.com/QvtCP.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/QvtCP.jpg" alt="Problem Set up"></a></p>

<p>So far I have placed circles with radius of the measured distance over each landmark (triangles in my workings), this provides 4 possible positions for each robot. Red and black circles correspond to robot 1 and blue and green to robot 2. Using the relative size of the angle measurements I can discount two of these positions per robot.
This still leaves me with two possible positions for each robot shown with the filled or hashed circles.
<a href="https://i.stack.imgur.com/a6xPJ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/a6xPJ.jpg" alt="Workings so far"></a></p>

<p>Is it possible to calculate which side the robot is to the landmarks and the distance between each other?</p>

<p>Robot 1 only has the two measurements of angle and distance and can therefore assign an id to each obstacle, but when information is transmitted to robot 2, robot 2 does not know which obstacle will have been designated an id of 1 or 2.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9963" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-9963">{'None': 0, 'kinematics': 2, 'localization': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9963">Load Comments</button></br>
			<div id = "commentsection-9963" class = 'collapse'>
			<div id = "comment-17767" class = "comment">
				<p>@Andrew If the comment is about your question it's better to improve the question than respond in the comments. I adjusted your edit to reflect that.</p>
			</div>
			</div>
				<textarea id = "speech-9963" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9963">
					<img id="start_img-9963" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9963">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9964"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9964" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Is it possible to calculate which side the robot is to the landmarks and the distance between each other?</p>
</blockquote>

<p>No, because the whole thing is point symmetric around the point in the middle between both obstacles. Each robot could be on either side, which gives 2 possible values for the distance between them, either for both being on the same side or being on opposite sides.</p>

<p>Some solutions could represent both robots colliding with each other and you could rule those out if they are not colliding, but in general, you don't know which solution is correct.</p>

<blockquote>
  <p>Each robot can see both obstacles but not each other.</p>
</blockquote>

<p>Whatever property of the obstacles is used to identify them could possibly be added to each robot, which could then be detected by the other one.</p>

<blockquote>
  <p>Each robot can communicate its measurements to the other and can measure angles and distances.</p>
</blockquote>

<p>In theory, you could measure the time this communication takes. Either by </p>

<ol>
<li>having synchronized clocks and sending a time stamp or</li>
<li>having each robot throw the message received back at the other robot immediately to let the signal travel the distance twice.</li>
</ol>

<p>From that time and the speed you can calculate the distance. In practice, if the signal speed is very high, you need very precise timers to do this properly.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9964" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-9964">{'None': 93}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9964" class = 'collapse'>
			</div>
				<textarea id = "speech-9964" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9964">
					<img id="start_img-9964" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9964">Comment</button>
			<br><div id = "ans-9975"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9975" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you consider the system to be completely static (as you have drawn it), there is no way to know.  </p>

<p><strong>However</strong>, if the system you are describing is not limited to 2 obstacles and one precise moment in time, then your robots can discover where they are by moving around.  It sounds like the full set of data that your robot has access to -- at every timeslice -- is the following:</p>

<ul>
<li>Unordered set of (distance, angle) pairs, indicating the obstacles it sees</li>
<li>Unordered set of (distance, angle) pairs, indicating the obstacles the other robot sees</li>
</ul>

<p>Distances and angles to landmarks are the raw inputs for the SLAM algorithm.  So in the most extreme case, each robot would be able to run SLAM for both itself and the other robot (based on reported positions), <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=1250630&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D1250630" rel="nofollow">merge the two maps</a>, and then calculate the distance between the localized positions of each robot on that map.</p>

<p>There may be a simpler way to do it that I'm completely overlooking.  However, based on the assumption that the obstacle IDs are not shared between robots, I'm not sure how that might work.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9975" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9975">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9975">Load Comments</button></br>
			<div id = "commentsection-9975" class = 'collapse'>
			<div id = "comment-17789" class = "comment">
				<p>How does this break the symmetry of the problem?</p>
			</div>
			<div id = "comment-17790" class = "comment">
				<p>I assumed that the problem was not limited to only two identical obstacles in an infinite space.  If that is indeed the problem, then (as the first line says) there's no way to know -- trilateration will give you 2 equally possible solutions.  If the problem _does_ include other obstacles or boundaries outside the scope of the diagram, the SLAM approach is one way you might solve the problem.</p>
			</div>
			</div>
				<textarea id = "speech-9975" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9975">
					<img id="start_img-9975" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9975">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>