<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do "nano bots" (that can fit inside the human body) actually exist?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-788" class = "post">
			<h2>Question</h2>
			<div id="vote-788" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3208</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do "nano bots" (that can fit inside the human body) actually exist?</h2>
<p>I was wondering, do we have real nano bots, like the ones in the movies? </p>

<p>I think we have bots which can move through the blood vessels, am I right?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-788" data-toggle = "popover">
				<p>user name : ATOzTOA</p>
				<p> user reputation : 163</p>
				<p class = "tagcontent" id = "usertaginfo-788">{'mobile-robot': 12, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-788">Load Comments</button></br>
			<div id = "commentsection-788" class = 'collapse'>
			<div id = "comment-1021" class = "comment">
				<p>What movies? Might help clarify what characteristics you are looking for.</p>
			</div>
			<div id = "comment-1024" class = "comment">
				<p>Like "Transformers" and "Aeon Flux"...</p>
			</div>
			<div id = "comment-16277" class = "comment">
				<p>@JoshVanderHook A movie that comes to my mind is `Fantastic Voyage` - https://en.wikipedia.org/wiki/Fantastic_Voyage - really scifi.</p>
			</div>
			</div>
				<textarea id = "speech-788" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-788">
					<img id="start_img-788" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-788">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-789"  class = "post">
				<h2>Answer</h2>
			<div id="vote-789" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.iris.ethz.ch/msrl/publications/files/Peyer_IROS2012.pdf">Movement of Artificial Bacterial Flagella in Heterogeneous Viscous
Environments at the Microscale</a><sup>&dagger;</sup> is a recent article from ETH Z rich that discusses the movement possibilities of an artificial bacteria in the blood stream or in the eye. Swim tests were performed in different methyl cellulose concentrations. </p>

<p>I do not think so that such methods can be used in human body in the near future because of the existing technological constraints.</p>

<p>It is still not clear how to </p>

<ul>
<li>create such small machines from non-allergic material</li>
<li>with effective motors</li>
<li>and small battery storing enough energy for the duration of the job  </li>
<li>that can move inside the body without making any 
harm e.g. blocking the blood stream</li>
<li>and that can deliberately move to the planned location</li>
<li>recognize the destination </li>
<li>and perform its job there </li>
<li>and finally that could leave the body after the job is done,</li>
<li>all reliable and stoppable if necessary, even with the possibility to track
the progress.</li>
</ul>

<p><sup>&dagger; by Kathrin E. Peyer, Famin Qiu, Li Zhang, and Bradley J. Nelson (978-1-4673-1735-1/12/S31.00  2012 IEEE)</sup></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-789" data-toggle = "popover">
				<p>user name : rics</p>
				<p> user reputation : 551</p>
				<p class = "tagcontent" id = "usertaginfo-789">{'kinect': 32, 'multi-agent': 3, 'None': 25, 'sensors': 32}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-789">Load Comments</button></br>
			<div id = "commentsection-789" class = 'collapse'>
			<div id = "comment-1012" class = "comment">
				<p>could you expand a bit more on your thought? What constraints are you talking about? Is it the manufacturing technology of robots that size? Is it the distrust of those robots used in a human body?</p>
			</div>
			<div id = "comment-1013" class = "comment">
				<p>I have added some thoughts about the sub-problems that needs to be solved. I think that there are some progress in some of them but neither is ready to be used and as a complex they are far from applicable.</p>
			</div>
			<div id = "comment-1014" class = "comment">
				<p>haha, so basically _nothing_ is clear!</p>
			</div>
			<div id = "comment-1020" class = "comment">
				<p>You assume a very narrow definition of robot.</p>
			</div>
			</div>
				<textarea id = "speech-789" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-789">
					<img id="start_img-789" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-789">Comment</button>
			<br><div id = "ans-793"  class = "post">
				<h2>Answer</h2>
			<div id="vote-793" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes! Yes we do have robots which can swim through the bloodstream! </p>

<p><a href="https://robotics.stackexchange.com/a/789/37">rics</a> did a good job of summarizing the difficulties in producing a completely autonomous nano robot. Something like a Mars rover, with more autonomy, but tiny. <strong>This is not the only type of robot.</strong> While this is definitely beyond the capabilities of our current-day researchers / engineers, there is another thread in this domain that is worth mentioning: nano manipulators. </p>

<p>Traditionally, robots have been automated manipulators. In the case of robotic manipulators, most of the processing and localization challenges are offloaded, and the robot just carries out the task of delivering part A to location B.   </p>

<p><img src="https://i.stack.imgur.com/Sdnn7.jpg" alt="enter image description here"></p>

<p>This closely matches the job description of a nano robot: deliver drug A to organ B, or take sample A, etc.  In this case, a very small magnetic manipulator can be inserted into the body and moved, turned, etc, by use of magnetic fields from <em>outside</em> the body. So the robot ends up being a small piece of innocuous metal. </p>

<p><a href="http://www.iris.ethz.ch/msrl/research/current/helical_swimmers/images/swimmer_robot.png" rel="nofollow noreferrer">A swimmer bot in the boodstream http://www.iris.ethz.ch/msrl/research/current/helical_swimmers/images/swimmer_robot.png</a></p>

<p>Think of it as the "hand." The magnetic fields are the "arms," an MRI is the "eyes," and a computer somewhere is the "brain."  Its not fully embedded, but it is technically a nano-scale robotic manipulator.</p>

<p>If you are interested in this (who wouldn't be?) Check out the following. There are plenty of awesome videos ahead:</p>

<ul>
<li><p>The key guy in this field is Brad Nelson. He gave a keynote talk at
ICRA 2012, in Saint Paul, MN. It is available freely
<a href="http://techtalks.tv/talks/robotics-in-the-small/55951/" rel="nofollow noreferrer">here</a>. Have
a look. </p></li>
<li><p>More information (including the above reference paper), can be found on his webpage,
<a href="http://www.iris.ethz.ch/msrl/research/current/index.php" rel="nofollow noreferrer">http://www.iris.ethz.ch/msrl/research/current/index.php</a>  </p></li>
<li><p>One of <em>the coolest</em> takeaways from the talk was his work on "swimmer" robots. More info (and videos!) here:
<a href="http://www.iris.ethz.ch/msrl/research/current/helical_swimmers/" rel="nofollow noreferrer">http://www.iris.ethz.ch/msrl/research/current/helical_swimmers/</a></p></li>
<li><p>There are two types of manipulators he is researching, but both are inserted, tracked using MRI, moved / manipulated using magnetic
fields, and then removed via a simple needle. </p></li>
<li><p>The two types are based on size. A larger manipulator is easier to move using magnets, but a smaller one can be more precise.</p></li>
</ul>

<p>My impression after the keynote talk was this technology is quickly approaching human trials. They have tested in cow eyes and other biological organs. I'm interested to see what they produce this year.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-793" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-793">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-793">Load Comments</button></br>
			<div id = "commentsection-793" class = 'collapse'>
			<div id = "comment-1026" class = "comment">
				<p>So we MAY have robots which can swim through the human bloodstream this year?</p>
			</div>
			<div id = "comment-2025" class = "comment">
				<p>@josh, wait, doesn't MRI blow you up if you have metal inside you?</p>
			</div>
			<div id = "comment-2028" class = "comment">
				<p>@rics We have robots which can swim through the bloodstream, but they are not approved for human bloodstreams yet.</p>
			</div>
			<div id = "comment-2029" class = "comment">
				<p>@Shabaz, I have no idea about MRI, etc. Its outside my domain, but the link above clearly states that they are tracking their nano robots using MRI.</p>
			</div>
			<div id = "comment-3753" class = "comment">
				<p>*"So the robot ends up being a small piece of innocuous metal."*  This is not quite true.  The robot is the piece of metal inside the body, **plus** all the apparatus needed to locate and manipulate that piece of metal -- which is located outside the body.</p>
			</div>
			<div id = "comment-16261" class = "comment">
				<p>Recently developed helical robots which are actuated magnetically that can enhance sperm's motion: http://www.wired.co.uk/news/archive/2016-01/18/spermbot-cyber-sperm</p>
			</div>
			<div id = "comment-16263" class = "comment">
				<p>The link to the swimmer bot image has died... :-(</p>
			</div>
			<div id = "comment-18716" class = "comment">
				<p>All links referring to talks, papers and more info have died. :(</p>
			</div>
			<div id = "comment-18721" class = "comment">
				<p>Hm. I'll repair what I can. I wonder if there's a better way to do this?</p>
			</div>
			</div>
				<textarea id = "speech-793" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-793">
					<img id="start_img-793" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-793">Comment</button>
			<br><div id = "ans-796"  class = "post">
				<h2>Answer</h2>
			<div id="vote-796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The branch of science that most closely resembles "nano bots" is <a href="http://en.wikipedia.org/wiki/Capsule_endoscopy" rel="nofollow noreferrer">Capsule Endoscopy</a>.  </p>

<p><img src="https://i.stack.imgur.com/S6htU.jpg" alt="Camera Pill"></p>

<p>The first generation of these were just "edible" video cameras with cameras inside, which passively recorded one's digestive tract.   The most recent round of development is focusing on making them smaller and more maneuverable.</p>

<p>They are still not small enough to pass through blood vessels (at least, not safely).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-796" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-796">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-796">Load Comments</button></br>
			<div id = "commentsection-796" class = 'collapse'>
			<div id = "comment-16267" class = "comment">
				<p>I wouldn't call that neiter a nano nor a micro bot. It could be a mini bot.</p>
			</div>
			<div id = "comment-16268" class = "comment">
				<p>If you can find a picture of an existing self-contained micro- or nano-bot, it would be a welcome answer to the the original question.</p>
			</div>
			</div>
				<textarea id = "speech-796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-796">
					<img id="start_img-796" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-796">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>