<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do "toy" robots move technology forwards?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-790" class = "post">
			<h2>Question</h2>
			<div id="vote-790" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 340</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do "toy" robots move technology forwards?</h2>
<p>Over the last month, I saw many robots that don't have any real purpose, which made me ask myself: "Does this have any value?" I saw dancing robot on CES, advanced lego based robots and also robots combined for very limited purpose. I saw ten year old children playing with robots, and competitions for them. Someone has told me that this is just for education and logic spreading. </p>

<p>In other cases, there were arguments like, "this is for informing people that everything is going forwards". I know that people will buy robotic vacuum cleaners because they think that they'll save some time, but these robotic cleaners are not very reliable and I see it only as marketing. </p>

<p>Do these things (children's education, dancing robots, and other instances of <a href="http://en.wikipedia.org/wiki/Pig_in_a_poke">selling a pig in a poke</a>) have any value in terms of robotics, and are really advancing the field as manufacturers say?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-790" data-toggle = "popover">
				<p>user name : user35443</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-790">{'None': 0, 'research': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-790">Load Comments</button></br>
			<div id = "commentsection-790" class = 'collapse'>
			<div id = "comment-1025" class = "comment">
				<p>What is the correct way to treat questions with invalid assumptions? "vacuum cleaners .... robotic cleaners are not very reliable and I see it only as deception of people." This one appears to also have some native language issues. "do these things (children edication, dancing robots and selling a pig in a poke) have any sense and are robotics really moving forwards ..."
Kind of suck to have a fancily edited answer get 5 upvotes and acceptance when the question should not have even gotten through.</p>
			</div>
			<div id = "comment-2024" class = "comment">
				<p>@Spiked3, I hear you. I see many of such questions (that even get closed as duplicate or not constructive) that get answers (again duplicates) that get many upvotes before the question gets closed in stackoverflow.com. I came to accept that this is the behavior in such communities, so I live with it.</p>
			</div>
			<div id = "comment-2042" class = "comment">
				<p>@Spiked3 Shahbaz Why so picky? If you don't confirm with the questioner's opinion, just state that in an answer or comment. And I don't really see an issue with the language (your "suck" is no proper wording either :-P). But lan 's edit helped to quickly learn a new saying/idom. Thanks</p>
			</div>
			</div>
				<textarea id = "speech-790" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-790">
					<img id="start_img-790" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-790">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-792"  class = "post">
				<h2>Answer</h2>
			<div id="vote-792" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It certainly does. Ever since they started writing fiction about robots, they imagined robots as intelligent beings among ourselves. No one thought of robots as mechanical arms that replace your jobs. So first of all, there is no reason to think why the humans <em>wouldn't</em> want to make useless robots.</p>

<p>You may have heard of the <a href="http://en.wikipedia.org/wiki/Karakuri_ningy%C5%8D" rel="nofollow noreferrer">karakuri dolls</a> from the 17<sup>th</sup> century, that serve tea (pretty useless, huh?):</p>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/4/45/KarakuriBritishMuseum.jpg" alt=""></p>

<p>Or the <a href="http://en.wikipedia.org/wiki/Digesting_Duck" rel="nofollow noreferrer">digesting duck</a> from the 18<sup>th</sup> century (even worse):</p>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Vaucanson_duck1.jpg" alt=""></p>

<p>that you would argue that they don't make sense and they did not bring the technology forward, but that is not entirely correct.</p>

<p>There are many aspects why such robots are useful:</p>

<ul>
<li><strong>Psychological effect</strong>: As a human, you would probably be creeped out if you suddenly start seeing humanoids walking around. Useless robots (as well as fictional books) help the transition from our current life to one with robots.</li>
<li><strong>Technological effect</strong>: The useless robot could well be (and probably often is) the testbed for a new technology. The dancing robot may indeed be a prototype on which a system that keeps the robot in balance is being tested. Since dancing is more difficult than walking or running, the balance system on a robot that can dance can very well perform on one that merely walks.</li>
<li><strong>Cultural effect</strong>: In this subject, the Japanese come to mind. I am not thoroughly familiar with the Japanese culture, but they certainly seem to have a knack for robots that mimic a human. By your definition of "useless", we humans all more or less are useless, so it is ok for them for the robots to be that way, too.</li>
</ul>

<hr>

<p>On the second part of your question:</p>

<blockquote>
  <p>are robotics really moving forwards as manufacturers say?</p>
</blockquote>

<p>I would again say yes. Most of the advances in technology (robotics included) is not made public, and by public I don't mean engineers and scientists, but your average teenage girl. You would probably never even hear in the news that they had made a super fantastic <code>&lt;whatever&gt;</code> for robots. All you <em>would</em> probably see is the <em>fun</em> robots that people would enjoy watching.</p>

<p>I merely work in a lab and hear every now and then who does what, and I certainly believe that robotics is being developed quite fast!</p>

<hr>

<p>To answer your comment:</p>

<blockquote>
  <p>But what about using new technlogoies[sic] as deception of customer when saying this will help you; and it finally won't in most of cases.</p>
</blockquote>

<p>I'm afraid we live in a world of greed and lies. You hear all sorts of advertisements on all sorts of useless junk every day from companies that want to get more and more money.  And you should note that any company that mass produces robots (or any other thing) has only one goal: <em>sell those robots</em>. It's not just robotics, so any effect such false advertising would have on people, you should ask psychologists rather than roboticists.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-792" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-792">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-792">Load Comments</button></br>
			<div id = "commentsection-792" class = 'collapse'>
			<div id = "comment-1015" class = "comment">
				<p>But what about using new technlogoies as deception of customer when saying this will help you; and it finally won't in most of cases. Is this moving technology forward? According to things you've written, there will be psychological effect, but it'll be negative 'cause the people which trusted advertisements will have negative experience with new technologies. And this can also cause probles in future. In fact, it can move technology back because of finance absence from customer side.</p>
			</div>
			<div id = "comment-1016" class = "comment">
				<p>@user35443, I added another section to the answer regarding your comment. Indeed, taking advantage of a "new thing" to make money is not a new thing in itself. They of course have not much connection to the people who actually make advances in the technology.</p>
			</div>
			<div id = "comment-1019" class = "comment">
				<p>I like this answer, but it could use a little addendum about how these "useless" robots are used to discover uses for robots, which then drive the robot manufacturers to design a more "useful" useless robot. In short: You buy a robot, see if it can do useful task A, then suggest ways to make it more useful. That's essentially robotics research.</p>
			</div>
			<div id = "comment-2043" class = "comment">
				<p>@user35443 (Please change your name! :-D) has a point. Many people - developers, financers and customers - are eagerly awaiting noticeable progress in Robotics already for years. Noticeable in the way, that products other than only vacuum cleaners are finally getting useful, such as robots robustly recognising and picking up everyday objects in normal environments. Here, companies and researchers have played an important part in raising expectations year after year and still are lacking behind in delivering the promised. But I also think that is kind of normal when it comes to new technology.</p>
			</div>
			<div id = "comment-3993" class = "comment">
				<p>@bit-pirate, I believe an important issue that no one wants to become responsible for is safety. If a robot is intended to do serious work, it should have serious power, and with serious power, it should be extremely safe. I believe no one yet wants to release a robot into the wilderness, only to get sued because a child got trampled underfoot (yes, that's a reference ;). That's also why robots are so common in workplace (where applicable), yet still always stayed clear off.</p>
			</div>
			</div>
				<textarea id = "speech-792" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-792">
					<img id="start_img-792" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-792">Comment</button>
			<br><div id = "ans-825"  class = "post">
				<h2>Answer</h2>
			<div id="vote-825" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, toy robots probably face fewer challenges, except in human safety. I'd imagine that they don't usually advance the knowledge base themselves.</p>

<p>HOWEVER, I think it's beyond question that our crop of engineers and scientists will be larger and more competent if they're exposed early and often to technologies and sciences such as, in this example, robotics. The tinkering culture is known to facilitate and produce innovators more than who has memorized the most mathematical formulae or protein folding shortcuts.</p>

<p>The FIRST Robotics Competition also doesn't "move technology forwards", but I dare people to claim that it isn't important for our overall success of our technology sector. There's little technological advancement in playing with Lego, but the creativity and persistence in problem solving that gets reinforced by playing with Lego is absolutely essential.</p>

<p>So to answer your question: his statement is mostly true, in that things like what they're selling are sparks for the engine, but that particular company isn't directly pushing technology forward.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-825" data-toggle = "popover">
				<p>user name : rsegal</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-825">{'kinect': 2, 'None': 12, 'ros': 2, 'openni': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-825" class = 'collapse'>
			</div>
				<textarea id = "speech-825" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-825">
					<img id="start_img-825" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-825">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>