<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do DH parameters change for a scaled robot 3d model?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10507" class = "post">
			<h2>Question</h2>
			<div id="vote-10507" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 104</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do DH parameters change for a scaled robot 3d model?</h2>
<p>I have the actual <strong>DH parameters</strong> of a robot:</p>

<pre><code>d1 = 0.4865 m
d2 = 0.600 m
d3 = 0.065 m
a1 = 0.150 m
a2 = 0.475 m
</code></pre>

<p>all other di's and ai's are zero.</p>

<p>Can I use <strong><em>these</em></strong> for an inverse kinematics analytic closed form computation or should I measure the <strong><em>virtual distances</em></strong> in the 3d environment?</p>

<p>I am <em>actually</em> asking if the theta angles that will be yeld after the computations <strong>are dependent on the scale</strong> of those distances.</p>

<p>EDIT: Scale factor is unknown</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10507" data-toggle = "popover">
				<p>user name : hey</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-10507">{'3d-model': 5, 'None': 0, 'dh-parameters': 3, 'inverse-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10507">Load Comments</button></br>
			<div id = "commentsection-10507" class = 'collapse'>
			<div id = "comment-18903" class = "comment">
				<p>or you could say i am asking that if some dh parameters work for a 3d robot model, would they work the exactly the same on another bigger or smaller one? I guess the desired transform of the end effector should be different, but what else?</p>
			</div>
			</div>
				<textarea id = "speech-10507" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10507">
					<img id="start_img-10507" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10507">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10509"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10509" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You will need to provide target coordinates (x,y,z, etc) to your inverse kinematics equations. As long as they have the same scale as your DH parameters, the joint angles calculated will be the same. But since you don't know the scale factor, you don't know how to scale your inputs.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10509" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10509">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10509">Load Comments</button></br>
			<div id = "commentsection-10509" class = 'collapse'>
			<div id = "comment-18904" class = "comment">
				<p>Exactly this. How does the end effector get to a Cartesian coordinate if you don't know how long any of the linkages are?</p>
			</div>
			<div id = "comment-18915" class = "comment">
				<p>I wanted to see if there is any other problem aside the transform of the end effector, thanks for your responses</p>
			</div>
			</div>
				<textarea id = "speech-10509" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10509">
					<img id="start_img-10509" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10509">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>