<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do I need the 5V to 3.3V level shifter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10753" class = "post">
			<h2>Question</h2>
			<div id="vote-10753" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 289</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do I need the 5V to 3.3V level shifter?</h2>
<p>I would like to follow the instructions <a href="http://roombots.mx.com/make_your_own" rel="nofollow noreferrer">here</a>, to allow myself to control the Create2 with a Raspberry Pi 3. </p>

<p>However, this <a href="http://www.irobot.com/~/media/MainSite/PDFs/About/STEM/Create/RaspberryPi_Tutorial.pdf" rel="nofollow noreferrer">source</a>, says that I need a level shifter to protect my Pi's circuitry from the Create's serial logic signal.</p>

<p><a href="https://i.stack.imgur.com/QcFwP.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/QcFwP.png" alt="enter image description here"></a></p>

<p>I'm fairly certain that I don't need the level shifter, since it looks like it's more just used to integrate the camera with the Create 2. But I am not in a rush to burn out either of these devices, so I'd like some verification.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10753" data-toggle = "popover">
				<p>user name : L.P.</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-10753">{'path-planning': 0, 'serial': 1, 'None': 0, 'irobot-create': 1, 'raspberry-pi': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10753">Load Comments</button></br>
			<div id = "commentsection-10753" class = 'collapse'>
			<div id = "comment-19543" class = "comment">
				<p>Thanks a lot for the help guys. I ended up getting the level shifter for future projects, but I didn't need it- the USB-Serial conversion works just fine without it.</p>
			</div>
			</div>
				<textarea id = "speech-10753" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10753">
					<img id="start_img-10753" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10753">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10754"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10754" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think we need 5-3.3 bidirectional voltage shifter (not for camera) to communicate between raspberry pi and create controller, since serial communication protocols for Create uses 0-5 voltage range and Raspberry Pi uses 0-3.3 volt range. This dissimilarity might result in <strong>signal distortion</strong> between the two devices. For instance, raspberry pi might send 2.5V as high signal but in create logic that might not recognize that as  high signal. As you stated,5V might be dangerous for raspberry pi circuit that runs on 3.3V. Also, for <strong>better communication</strong>, I suggest you should build the voltage shifter.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10754" data-toggle = "popover">
				<p>user name : Bharat Joshi</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-10754">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10754" class = 'collapse'>
			</div>
				<textarea id = "speech-10754" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10754">
					<img id="start_img-10754" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10754">Comment</button>
			<br><div id = "ans-10757"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10757" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>just buy a level shifter, it's not worth a fried pi</p>

<p><a href="https://www.sparkfun.com/products/12009" rel="nofollow">https://www.sparkfun.com/products/12009</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10757" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-10757">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10757" class = 'collapse'>
			</div>
				<textarea id = "speech-10757" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10757">
					<img id="start_img-10757" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10757">Comment</button>
			<br><div id = "ans-10776"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10776" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Roombots example you posted does not use a level shifter because they are using the Create USB cable to talk to the robot. If you are planning to use this cable, you do not need the level shifter. If you are <em>not</em> planning to use this cable and instead will be interfacing directly to the Raspberry Pi serial pins (on the GPIO header), then the answer below applies:</p>

<p>Yes, you should use a level shifter between the iRobot Create and the Raspberry Pi, and you <strong>must</strong> use one on the <em>input</em> to the Raspberry Pi. The Create uses 5V logic levels, while the Raspberry Pi uses 3.3V logic levels. The Raspberry Pi output high (3.3V) is high enough for the Create to "see" it as a "high" input, so you don't necessarily need a logic level shifter for the Create inputs. However, a Create output high (5.0V) is higher than the processor on the Raspberry Pi can handle for long, and sustained use will cause the serial port on the Raspberry Pi to fail. The circuit in the drawing is indeed bidirectional, but only one of those directions (Create TX to Pi RX) is being used; you could just as easily replace the FET with a Schottky diode from source to drain and eliminate R2.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10776" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-10776">{'None': 50}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10776" class = 'collapse'>
			</div>
				<textarea id = "speech-10776" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10776">
					<img id="start_img-10776" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10776">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>