<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do multiple LIDAR systems in same area interfere?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10770" class = "post">
			<h2>Question</h2>
			<div id="vote-10770" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 929</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do multiple LIDAR systems in same area interfere?</h2>
<p><a href="https://en.wikipedia.org/wiki/Lidar" rel="nofollow">LIDAR</a>s use a pulse of light to measure distance, usually from the time of flight to reflection and back. With a collection of these measurements they can determine their surroundings in two or three dimensions. LIDARs are used as one of the sensor systems for self-driving cars, in addition to cameras and other radar systems.</p>

<p>Robotic cars are still in the testing phase, but at some point in the future we can expect a busy intersection filled with them, trying to navigate their way through it. With multiple scanners per car, and possibly multiple beams per scanner, interfering signal sources could go over a hundred even in smaller stages.</p>

<p>When time of flight is used to measure the distance to the reflection, the interfering signals would produce multiple "distances", and it would most likely require multiple scans of the same point to average some kind of a reliable value from all the noise.</p>

<p>How do LIDAR systems differentiate their own signals from other sources? With the example of robotic cars, could this interference lead to an error state where traffic could gridlock from lack of valid data? Or is this even a problem?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10770" data-toggle = "popover">
				<p>user name : Hrulga</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-10770">{'None': 0, 'sensors': 2, 'lidar': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10770" class = 'collapse'>
			</div>
				<textarea id = "speech-10770" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10770">
					<img id="start_img-10770" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10770">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10771"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10771" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One could use lasers with slightly different wave length - just as different channels for Wi-Fi signal. Also there could be used some kind of wave modulation... but I don't think LIDARs use such solutions, since laser point is so small, that case of interference with other sensor is... kinda, rare event.</p>

<p>I experienced interference of distance sensors, but with ultrasonic measurement, when 3 robots with multiple (12) sensors were working in distance of ~3 meters between each other. Never had this problem with LIDARs, though. </p>

<p>Is this even a problem in robotic cars? It should'nt be. Error correction and having high quality enviroment maps are the main reasons of putting multiple LIDARs and camera systems on intelligent cars. Distance measurement fail of one sensor, or interference with other car's LIDAR system (which is, as written before, a rare event) should not cause system to collapse.</p>

<p>As You wrote, <strong>robotic cars are still in testing phase</strong>, so any interference between multiple sensors working on giant intersection, are yet to be (or hopefully not) problems and sensor engineers will have to face them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10771" data-toggle = "popover">
				<p>user name : Szczepan</p>
				<p> user reputation : 164</p>
				<p class = "tagcontent" id = "usertaginfo-10771">{'mobile-robot': 1, 'None': 11, 'pid': 1, 'research': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10771">Load Comments</button></br>
			<div id = "commentsection-10771" class = 'collapse'>
			<div id = "comment-19385" class = "comment">
				<p>I guess only the manufacturers know if there is an issue with large scale use, those things are a bit expensive to test that properly. Though there's some nice technology on the drawing board, those next gen devices will probably have that managed as well.</p>
			</div>
			<div id = "comment-19404" class = "comment">
				<p>I don't find this answer convincing. In particular, you haven't answered the question: "How do LIDAR systems differentiate their own signals from other sources?" Furthermore, your statement that testing of multiple LIDAR systems has not been considered is completely unfounded.</p>
			</div>
			<div id = "comment-19461" class = "comment">
				<p>I doubt your experience with ultrasonic interference can help with a LiDAR question. The technologies have very different characteristics. In particular LiDAR is highly directional - it rejects light not bounced directly back along the outgoing beam path. It is incredibly unlikely that even if the beam of another system was exactly on that path, and at the same frequency, pulse length and rep. rate that it would interfere for more than one sample, of which there are probably 100's of thousands a second. Deliberate jamming is another matter entirely.</p>
			</div>
			</div>
				<textarea id = "speech-10771" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10771">
					<img id="start_img-10771" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10771">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>