<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Do questions on the Game Center belong on here or Gaming.SE?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-629" class = "post">
			<h2>Question</h2>
			<div id="vote-629" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do questions on the Game Center belong on here or Gaming.SE?</h2>
<p>There is no tag for the iOS Game Center.</p>

<p>Should any questions on it be asked here, or on <a href="https://gaming.stackexchange.com/">https://gaming.stackexchange.com/</a> or elsewhere?</p>

<p>Or should cross-posting be allowed in this instance?</p>

			</div>
			<div id = "userinfo-629" style = "float:right">
				<p>user name : StuperUser</p>
				<p> user reputation : 135</p>
				<p> user tag wise history : {'None': 0, 'discussion': 1, 'tags': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-629" class = 'collapse'>
			</div>
				<textarea id = "speech-629" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-629">
					<img id="start_img-629" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-629">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-632"  class = "post">
				<h2>Answer</h2>
			<div id="vote-632" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Game Center would be on-topic here since it is Apple software.</p>

<p>However, if you're asking about programming or developing for/with Game Center, that would be off-topic since this site is not about development. That kind of a question should go on Stack Overflow.</p>

<p><strong>If you've got a question about Game Center that doesn't involve development/programming, go ahead and ask it here. I can easily make you a <code>[game-center]</code> tag.</strong></p>
</p><br>
			</div>
			<div id = "userinfo-632" style = "float:right">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p> user tag wise history : {'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-632">Load Comments</button></br>
			<div id = "commentsection-632" class = 'collapse'>
			<div id = "comment-1129" class = "comment">
				<p>Plus, there's also http://gamedev.stackexchange.com/</p>
			</div>
			<div id = "comment-1130" class = "comment">
				<p>This question is not to do with development, but this is quite in-depth for Game Center - http://apple.stackexchange.com/questions/19774/possible-to-force-a-sync-of-game-center-achievements-already-gained, it might be solved by individual apps, so cross-posting might be valid?</p>
			</div>
			</div>
				<textarea id = "speech-632" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-632">
					<img id="start_img-632" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-632">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>