<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do servo motor specifications take into account the gear ratio inside?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2570" class = "post">
			<h2>Question</h2>
			<div id="vote-2570" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 165</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do servo motor specifications take into account the gear ratio inside?</h2>
<p>I am looking at buying a servo motor for a an application that must be able to lift 4-5 lb at a rotational speed of approximately 1rpm. The servo motor listed here <a href="http://www.robotshop.com/ca/en/hitec-hs755mg-servo.html">http://www.robotshop.com/ca/en/hitec-hs755mg-servo.html</a> states a stalling torque of 200 oz-in. Is this torque rating at the horn of the servo motor or the torque rating of the actual motor before any gear reduction is done?</p>

<p>Is this motor sufficiently strong for my application?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2570" data-toggle = "popover">
				<p>user name : user1084113</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-2570">{'servomotor': 5, 'None': 0, 'servos': 5, 'motor': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2570">Load Comments</button></br>
			<div id = "commentsection-2570" class = 'collapse'>
			<div id = "comment-5113" class = "comment">
				<p>If the rating is given for a product containing internal gear reduction, the ratings should be for the definite output, after any gear reductions. However, you can't always trust what manufacturers say...</p>
			</div>
			</div>
				<textarea id = "speech-2570" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2570">
					<img id="start_img-2570" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2570">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2572"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2572" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>the torque rating is AFTER the gear reduction.</p>

<p>you can calculate the maximum load by the following equation</p>

<p>Torque = Force * Radius</p>

<p>if you try to lift 1.8-2.2kg load with this servo, you need to attach the load no farther than 6 cm away from the center of the horn.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2572" data-toggle = "popover">
				<p>user name : Urill</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-2572">{'None': 0, 'sensors': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2572">Load Comments</button></br>
			<div id = "commentsection-2572" class = 'collapse'>
			<div id = "comment-5114" class = "comment">
				<p>Be careful, you are mixing standard and metric here...</p>
			</div>
			</div>
				<textarea id = "speech-2572" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2572">
					<img id="start_img-2572" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2572">Comment</button>
			<br><div id = "ans-2743"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2743" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Is this torque rating at the horn of the servo motor or the torque
  rating of the actual motor before any gear reduction is done</p>
</blockquote>

<p>For reputable manufactures and vendors, the ratings will include all internal gear reduction, or external in the case of gear-head motors.</p>

<blockquote>
  <p>Is this motor sufficiently strong for my application?</p>
</blockquote>

<p>That depends more on the details of your application. 200 oz-in of torque means the servo <em>should</em> be able to lift <strong><em>up to</em></strong> 200 oz within one inch of its center shaft. That means it can work on <strong><em>up to</em></strong> [ 200 oz / 16 oz/lb ] = 12.5 pounds within that inch.</p>

<p>To get 4 - 5 pounds out of it, your rotational radius must be within:</p>

<p><em>12.5 lb-in / 4.5 lb = 2.78 inches.</em></p>

<p>However, operating the motor continuously under a full load will most likely cause it to fail fairly quickly. It will also slow down the rotational speed.</p>

<hr>

<p>Speaking of speed, the servo is given at 0.23 seconds / 60 degrees. That means it will rotate 60 degrees in 0.23 seconds. a Full circle is 360 degrees, so 4 * 0.23 = 0.92 seconds for a full rotation. </p>

<p><strong>However</strong>, (and correct me if I am wrong) no where in the listing does it mention continuous rotation. A traditional RC servo motor cannot rotate all the way around unless it specifically states it can or is manually altered (voiding any warranties). It will typically only rotate a maximum of 140 to 180 degrees.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2743" data-toggle = "popover">
				<p>user name : Kurt E. Clothier</p>
				<p> user reputation : 371</p>
				<p class = "tagcontent" id = "usertaginfo-2743">{'None': 21}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2743" class = 'collapse'>
			</div>
				<textarea id = "speech-2743" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2743">
					<img id="start_img-2743" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2743">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>