<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do servos stop at their limits automatically?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1607" class = "post">
			<h2>Question</h2>
			<div id="vote-1607" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 181</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do servos stop at their limits automatically?</h2>
<p>I'm moving from controlling a robot arm with basic time based motors controlled using a raspberry pi and python to a more advanced robotic arm that has servos (e.g <a href="http://dlnmh9ip6v2uc.cloudfront.net/datasheets/Robotics/Hitec-HS-425BB-Servo-Specsheet.pdf" rel="nofollow">HS-425BB</a>). With the time based motors I must constantly keep track of the arms position (guess work) and make sure it doesn't over turn.</p>

<p>Do servos automatically stop if you give them a position that is outside of their boundaries rather than grinding the gears?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1607" data-toggle = "popover">
				<p>user name : Titan</p>
				<p> user reputation : 180</p>
				<p class = "tagcontent" id = "usertaginfo-1607">{'h-bridge': 2, 'raspberry-pi': 9, 'accelerometer': 7, 'rcservo': 11, 'None': 0, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1607" class = 'collapse'>
			</div>
				<textarea id = "speech-1607" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1607">
					<img id="start_img-1607" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1607">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1608"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1608" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most PWM servos (including the one you indicated, the HS-425BB) do stop at their limits automatically. This can be useful for initial calibration as it allows you to move the servo to a known point.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1608" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1608">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1608">Load Comments</button></br>
			<div id = "commentsection-1608" class = 'collapse'>
			<div id = "comment-3342" class = "comment">
				<p>Great thanks! And if I give it an angle to move to (say 105), it knows where it is and can move there from any other angle on its own? Also is it possible to read the current angle of the servo?</p>
			</div>
			</div>
				<textarea id = "speech-1608" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1608">
					<img id="start_img-1608" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1608">Comment</button>
			<br><div id = "ans-1609"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1609" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, servos don't stop unless you command them to (remove power). I'm not familiar with this model and the spec sheet is not clear.</p>

<p>hope you get a better answer soon.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1609" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1609">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1609" class = 'collapse'>
			</div>
				<textarea id = "speech-1609" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1609">
					<img id="start_img-1609" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1609">Comment</button>
			<br><div id = "ans-1619"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1619" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have worked with quite a few servos (Industrial and RC) and from my experience they don't come with a limit switch that actually takes the current off the motor when they hit a limit. They are however limited in rotation by the PWM signal you send them and are as such limited to a rotation safe area. </p>

<p>It does become a bit more complicated when you link several servos into a robot arm as there is a chance that individual arm segments might hit each other or the ground or... . </p>

<p>For a reference feedback i recommend measuring the internal voltage over the servo reference potentiometer as outlined in the following link:</p>

<p><a href="http://forums.trossenrobotics.com/tutorials/how-to-diy-128/get-position-feedback-from-a-standard-hobby-servo-3279/" rel="nofollow">http://forums.trossenrobotics.com/tutorials/how-to-diy-128/get-position-feedback-from-a-standard-hobby-servo-3279/</a></p>

<p>This analog voltage gives you an indication of the actual servo position. This voltage can be sampled from eg. an Arduino board or any other board with an analog/digital converter.</p>

<p>I have done something similar with a hexapod robot, and it worked perfectly.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1619" data-toggle = "popover">
				<p>user name : Sigurd V</p>
				<p> user reputation : 139</p>
				<p class = "tagcontent" id = "usertaginfo-1619">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1619">Load Comments</button></br>
			<div id = "commentsection-1619" class = 'collapse'>
			<div id = "comment-3384" class = "comment">
				<p>This matches my experience.  Older (and probably new, cheaper) servos will go into the stops and bind if you give them an out-of-bounds command.  Most servos will stop if the command stops, but some will glitch a considerable distance before they stop.</p>
			</div>
			</div>
				<textarea id = "speech-1619" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1619">
					<img id="start_img-1619" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1619">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>