<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do these motors really have enough torque to lift 130 pounds
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8968" class = "post">
			<h2>Question</h2>
			<div id="vote-8968" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 108</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do these motors really have enough torque to lift 130 pounds</h2>
<p>I was looking at these dc motors and I converted the torque to force at a meter distance and I got that two of them should be able to lift over 130 pounds, is this right? <a href="http://www.active-robots.com/high-torque-dc-servo-motor-10rpm-with-step-dir-drive" rel="nofollow">http://www.active-robots.com/high-torque-dc-servo-motor-10rpm-with-step-dir-drive</a> There has to be some catch i am not seeing</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8968" data-toggle = "popover">
				<p>user name : user65909</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-8968">{'None': 0, 'beginner': 3, 'rcservo': -1, 'arduino': 0, 'torque': 0, 'motor': 0, 'mobile-robot': -1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8968" class = 'collapse'>
			</div>
				<textarea id = "speech-8968" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8968">
					<img id="start_img-8968" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8968">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8969"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8969" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Where did you get that number? </p>

<p>The first page of the <a href="https://www.active-robots.com/fileuploader/download/download/?d=0&amp;file=custom%2Fupload%2FFile-1440705232.pdf" rel="nofollow">datasheet posted on the page you linked</a> states, "Max 15VDC and 7A" (near the top).</p>

<p>So the maximum input power for the motor is $P=IV$, or $P=(7)(15)=105\mbox{W}$.</p>

<p>Mechanical rotating power can be calculated by $P=\tau \omega $, where $\tau$ is torque in Nm and $\omega $ is rotational speed in rad/s.</p>

<p>The motor's top speed is 10 rpm. Multiply by 2$\pi$ to get to rad/m, then divide by 60 to convert to seconds and you get $\omega=10*(6.28/60) = 1.047 \mbox{rad/s} $.</p>

<p>Now, divide input power by rotational speed to get the theoretical maximum torque: $\tau = 105/1.047 = 100\mbox{Nm} $.</p>

<p>Note that this is <em>Newton</em> meters; a Newton is about a quarter of a pound, so the maximum force is about 25 pounds. </p>

<p>However, an electric motor is generally only about 80% efficient, so I wouldn't expect more than 20 pounds at 1m, <em>max</em>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8969" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8969">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8969">Load Comments</button></br>
			<div id = "commentsection-8969" class = 'collapse'>
			<div id = "comment-14792" class = "comment">
				<p>I would also add that the electrical numbers looked kind of more like an absolute rating that an operating/continuous rating, so I would expect actual torque to be even lower. But again, I didn't see an actual torque given anywhere in the datasheet.</p>
			</div>
			<div id = "comment-14794" class = "comment">
				<p>Here is a quote from the product details: "Motor is a Industrial grade 10RPM high torque motor with a massive torque of 120kgcm" that's where I got my number from, yours makes a lot more sense though</p>
			</div>
			<div id = "comment-14796" class = "comment">
				<p>Using the result @Chuck posted, you could add a gear train of about 10:1 (with margin built in for inefficiencies) if you really need to lift 130 lbs using that stepper motor.  Nema 23 gear reducers are readily available from multiple sources.</p>
			</div>
			<div id = "comment-14797" class = "comment">
				<p>@user65909 - multiply your rating, 120kg-cm, by gravitational constant 9.81 to get to Ncm, then divide by 100 to get from cm to meters. This converts the number from 120kg-cm to 11.7Nm. This is far, far lower than my estimate. The theoretical maximum from the input power is 100Nm, so you're burning about 88% of the input power. Maybe the motor torque you state is for the motor before reducing gears?</p>
			</div>
			</div>
				<textarea id = "speech-8969" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8969">
					<img id="start_img-8969" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8969">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>