<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do you have to stop first when switching direction for proper encoding readings?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9937" class = "post">
			<h2>Question</h2>
			<div id="vote-9937" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 64</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do you have to stop first when switching direction for proper encoding readings?</h2>
<p>Since the encoder is square wave not quadrature, do you have to stop first before changing directions for proper measurements?</p>

<p>In other words, if you are commanding along in one direction at some low speed like 50mm/s or less and want to change direction to -50mm/s, would you first need command it to zero and wait for the encoder to read 0 speed, and then command the reverse direction, in order to get as accurate as possible encoder readings?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9937" data-toggle = "popover">
				<p>user name : Kirk Lennard</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-9937">{'None': 0, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9937">Load Comments</button></br>
			<div id = "commentsection-9937" class = 'collapse'>
			<div id = "comment-17705" class = "comment">
				<p>Does [this answer](http://robotics.stackexchange.com/a/7246/37) to the question [iRobot Create 2: Encoder Counts](http://robotics.stackexchange.com/q/7229/37) help answer your question?</p>
			</div>
			<div id = "comment-17711" class = "comment">
				<p>That post is what made my question. Is there a difference internally with the encoder between being commanded immediately to reverse direction and the wheels being forced backwards by hand?</p>
			</div>
			<div id = "comment-17736" class = "comment">
				<p>I would just like to point out that going slower will typically always increase accuracy.  This applies to pretty much all types of robots from differential drive robots like Roomba to industrial robot arms.</p>
			</div>
			</div>
				<textarea id = "speech-9937" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9937">
					<img id="start_img-9937" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9937">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9943"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9943" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the OI Spec (encoder count sensors):</p>

<blockquote>
  <p>NOTE: These encoders are square wave, not quadrature, so they rely on
  the robot s commanded velocity direction to know when to count
  up/down. So if the robot is trying to drive forward, and you force the
  wheels to spin in reverse, the encoders will count up, (and
  vice-versa). Additionally, the encoders will count up when the
  commanded velocity is zero and the wheels spin.</p>
</blockquote>

<p>If you manually move the wheel while it is at rest, it will always assume it was moved forward.</p>

<p>So when driving forward, you may get slightly more accuracy if you stop briefly and let the robot settle, If you are moving backwards, it may be best to set it to, say -1 mm/s, for a brief time then 0.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9943" data-toggle = "popover">
				<p>user name : Jonathan</p>
				<p> user reputation : 177</p>
				<p class = "tagcontent" id = "usertaginfo-9943">{'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9943">Load Comments</button></br>
			<div id = "commentsection-9943" class = 'collapse'>
			<div id = "comment-17737" class = "comment">
				<p>So if I have this correct, command velocity is absolute for encoder accuracy. If you can the sign of the command velocity, if that is 500mm/s to -500mm/s, or 50mm to -50mm or 1mm/s to -1m/s the square wave nature encoder will immediately act like it is counting in the that direction. You have to command it to decelerate to 0 and then switch command signs for good accuracy when changing directions.</p>
			</div>
			<div id = "comment-17784" class = "comment">
				<p>Yes, the encoder counts in whatever direction the wheel is commanded. A velocity of '0' also counts as being commanded forward.</p>
			</div>
			</div>
				<textarea id = "speech-9943" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9943">
					<img id="start_img-9943" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9943">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>