<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Do you have to have a rate controller for a Quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6673" class = "post">
			<h2>Question</h2>
			<div id="vote-6673" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 313</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Do you have to have a rate controller for a Quadcopter?</h2>
<p>Most academic papers characterise the rate of rotation along the x axis as  "=(1/Jx) . As far as I cant tell, this characterises the rate and not the actual angle   itself and yet the PID controllers academics use to control this takes  setpoint- measured as its error signal. Should the error signal not be  "setpoint- "measured (using gyro values) instead. Why are they using the euler angle instead of its second derivative to control the rate?</p>

<p>Is it possible to stabilise a quadcopter using euler angles only?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6673" data-toggle = "popover">
				<p>user name : Ozymandias</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-6673">{'quadcopter': 7, 'control': 4, 'None': 6, 'tuning': 1, 'accelerometer': 1, 'arduino': 3, 'battery': 0, 'pid': 4, 'brushless-motor': 0, 'kinematics': 6, 'imu': 1, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6673" class = 'collapse'>
			</div>
				<textarea id = "speech-6673" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6673">
					<img id="start_img-6673" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6673">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6679"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6679" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Second derivatives are rarely used to control rates.</p>

<p>It is not possible to control a quadrotor without using rates in control.</p>

<p>Rates from the gyro are generally not the same as euler angle rates. This is true when roll and pitch are zero, so this may be an okay assumption to make in your case but you should know it is an assumption.</p>

<p>I did not say you only need rates. I recommend reading control system design book. Should convert the rates from the gyro into euler angle rates. Use that in the derivative term in you PID controller.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6679" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-6679">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6679">Load Comments</button></br>
			<div id = "commentsection-6679" class = 'collapse'>
			<div id = "comment-9647" class = "comment">
				<p>So if I use gyro values (first derivative of euler angles) on a PID I can stabilise it without using euler angles. What I don't understand is how the quad will return to hover. If I use gyro values, I will get a reading of zero if the quad is holding an angle of x degrees. Would the integral term cause it to return to zero degrees on its roll and pitch axis since integrating the gyro values will give the angle instead of the rate?</p>
			</div>
			<div id = "comment-9657" class = "comment">
				<p>what is your background?</p>
			</div>
			<div id = "comment-9658" class = "comment">
				<p>Electrical and electronic engineering</p>
			</div>
			</div>
				<textarea id = "speech-6679" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6679">
					<img id="start_img-6679" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6679">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>