<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dock command does not seem to work
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6853" class = "post">
			<h2>Question</h2>
			<div id="vote-6853" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 238</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dock command does not seem to work</h2>
<p>We bought a new Create2 robot and started using it. But when we issue the dock command the robot moves for a bit and does not go back to the base.</p>

<p>The base is not hidden or obstructed and the create2 is just a couple of feet away. we need help to figure out why it does not see the base.</p>

<p>Just to clarify that even using the DOCK button on the create2 does not make the create2 go back to the base</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6853" data-toggle = "popover">
				<p>user name : Jack</p>
				<p> user reputation : 24</p>
				<p class = "tagcontent" id = "usertaginfo-6853">{'c': -1, 'python': 1, 'None': 0, 'c++': -1, 'irobot-create': 4, 'software': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6853">Load Comments</button></br>
			<div id = "commentsection-6853" class = 'collapse'>
			<div id = "comment-9803" class = "comment">
				<p>If you press the dock button on the Roomba itself, does it dock properly?</p>
			</div>
			<div id = "comment-9804" class = "comment">
				<p>that is correct the dock button does not send the robot to base</p>
			</div>
			</div>
				<textarea id = "speech-6853" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6853">
					<img id="start_img-6853" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6853">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6871"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6871" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The dock command and pressing the dock button on the robot enable the same behavior. The robot does not go directly to the dock, because it does not know where the dock is. Instead, it drives around until it happens to encounter the dock's infrared beams, which extend about 10 feet in front of the dock. Once Roomba encounters the dock beams, it will line up with the charging base and dock.</p>

<p>If you place the robot in front of the dock, facing it, and press the dock button, it should go directly onto the dock. If the robot starts somewhere else, it may take several minutes to find the dock. This is normal.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6871" data-toggle = "popover">
				<p>user name : Andrea</p>
				<p> user reputation : 209</p>
				<p class = "tagcontent" id = "usertaginfo-6871">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6871" class = 'collapse'>
			</div>
				<textarea id = "speech-6871" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6871">
					<img id="start_img-6871" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6871">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>