<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Does the current competition bring out the worst in users?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1240" class = "post">
			<h2>Question</h2>
			<div id="vote-1240" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">17</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 316</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Does the current competition bring out the worst in users?</h2>
<p>Firstly, I do think the current competition is brilliant, and actively wanted to participate, however I stopped for 2 specific reasons.</p>

<ul>
<li>Since the start of the competition, an incredible amount of low quality questions has been asked, and in some cases, just the rate at which some users ask questions, it clearly showed it was only being asked to gain votes for the competition.</li>
<li>Copy and paste of duplicate answer, just to train and gain votes. I have no objection to answer posted at the same time, but like <a href="https://apple.stackexchange.com/questions/46471/how-can-i-do-a-dictionary-look-up-without-the-trackpad">this</a> example, a fairly high rep users posted a duplicate of my answer, sole difference with a screenshot, 2 minutes after mine. To what end?</li>
<li>I have also noticed a the rate of voting has actively dropped. Which is the opposite of what the competition is trying to encourage.</li>
</ul>

<p>I find these type of situation extremely demotivating, especially since the bulk of these users generally disappear once the competition is over, and secondly, it becomes a rude game of having to improve an answer for no reason just to try and get a legitimate vote.</p>

<p>The issue for me is not with new users, since they still need to learn the system, however watching established, long term and fairly decent reputation holding users of this site specifically, post some of the most over the top questions, or actively duplicating answers, is really disappointing to see.</p>

<p>I've also seen incidents of users asking for reputation, and other unacceptable methods to try and gain extra votes. </p>

<p>Is this truly the purpose or behaviour SE wants for it's sites? </p>

<p><sub>Please note, there is some users that I am very glad to see in Level 2 and Level 3 that deserve it, and in one or two cases I actively tried to find content to upvote to help them closer to the prize. My issue however is with the percentage of users that will win using some unacceptable methods, leaving some real potential winners demotivated. Also, personally, if there was a way from opting out of the competition, I would, since I am not interested in any prize, either way.</sub></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1240">Load Comments</button></br>
			<div id = "commentsection-1240" class = 'collapse'>
			<div id = "comment-2269" class = "comment">
				<p>related: http://meta.apple.stackexchange.com/questions/1197/how-do-we-keep-the-exciting-promotion-from-reducing-the-quality-of-the-site</p>
			</div>
			<div id = "comment-2270" class = "comment">
				<p>@KyleCronin I should have searched. Do you want to close this as a duplicate? Or should I just delete it?</p>
			</div>
			<div id = "comment-2271" class = "comment">
				<p>If you feel it's a duplicate, you can delete and post an answer on the original</p>
			</div>
			<div id = "comment-2272" class = "comment">
				<p>@KyleCronin I am not entirely sure, they are related. I will leave it to the community to decide if they consider it a duplicate.</p>
			</div>
			<div id = "comment-2281" class = "comment">
				<p>To address one of your points: "I have also noticed a the rate of voting has actively dropped." This is not true. The amount of new posts has roughly doubled since the contest started; the amount of voting has increased by about ~150% (IOW more than doubled). So on average, a post is voted on 25% more often than previously.</p>
			</div>
			<div id = "comment-2282" class = "comment">
				<p>@balpha Fair enough. I was going on the perception I have comparing the current voting to previous voting, however I had no statistics to back up the claim.</p>
			</div>
			<div id = "comment-2295" class = "comment">
				<p>An interesting tactic was used today.  9 hours after a question was posted, and I received 10 votes on an answer, the current leading winner of the competition started a close as duplicate vote on the question, which was joined by at least one other participant.  It is a valid close (though I wish it were merged, rather than closed), but it makes me wonder if I should spend some time looking hard at the leader's highest voted posts and see if they are duplicates, and flagging if they are.</p>
			</div>
			<div id = "comment-2296" class = "comment">
				<p>I do want people to understand that I'm not unhappy about this (and no, I'm not going to go around flagging dupes).  It's just an interesting *possible* issue to be considered for future contests. (I've already given up on the iPad - 40+ upvotes over a weekend is just not gonna happen for me...)</p>
			</div>
			<div id = "comment-2303" class = "comment">
				<p>The back story on the dupe: I'd started my answer on an iPad, then decided I wanted a screen shot and moved downstairs to my desk, logged in, cleaned desktop, created screenshot,  etc. Never received notice that an answer had been posted though that notice *was* on my iPad when I returned to it several hours later. Left my answer as an *experiment* in the power of screenshots. An experiment that didn't prove the hypothesis in this case. Regardless, my answer is retracted.</p>
			</div>
			<div id = "comment-2304" class = "comment">
				<p>@jaberg My apologies, I didn't mean to pick on you specifically and do regret that decision. It was more a case of it happening often then that particular scenario, and I made the mistake of highlighting the instance, which I shouldn't have.</p>
			</div>
			<div id = "comment-2308" class = "comment">
				<p>I just came across this - sorry for the delayed response. I tried to address most of these concerns [here](http://meta.apple.stackexchange.com/a/1200/13125) (same question Kyle linked to). If you have suggestions for how to improve contest format I'd love to hear them. Unfortunately, it seems like any promotion that increases content will just require more community attention to moderate.</p>
			</div>
			<div id = "comment-2398" class = "comment">
				<p>proving your own point.</p>
			</div>
			</div>
				<textarea id = "speech-1240" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1240">
					<img id="start_img-1240" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1240">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1241"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1241" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>These thoughts and more have been actively discussed in Chat for over a week now, so drop in any time if you want to discuss anything further.  Many people are in agreement in many ways, you'll see who by looking at Chat or the existing Meta questions and answers.</p>

<p>I think that you chose an unfortunate example to prove your point, as adding a screenshot can take added time which makes the question take longer to complete.  But I see that the slightest hint of impropriety has got peoples backs up, and there's no reason why you should react any differently.  However, it can be a coincidence, and I myself have come across the exact same scenario <a href="https://apple.stackexchange.com/questions/46077/how-to-use-the-new-ipad-3rd-gen-as-a-second-screen/46080#46080">on this question</a> although I know it to be completely innocent.  Somewhere in Chat this is discussed, and more than once I have suggested that when you get the "another answer has been posted" you should just ignore it and carry on with your own.</p>

<p>Also, full disclosure and all, it's just not something @Jaberg would actually do purposefully, and to be frank he has been one of the harshest critics of the competition for the exact same reasons as you - you'd get along well ;)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1241">Load Comments</button></br>
			<div id = "commentsection-1241" class = 'collapse'>
			<div id = "comment-2292" class = "comment">
				<p>As a note, being the other similar answer there, I did not get a warning that another answer had been posted.</p>
			</div>
			<div id = "comment-2293" class = "comment">
				<p>I don't actually knish of us was first, and I don't much mind to know, the point being it happens, quite a lot, we know our stuff on here and that wasn't a tough question</p>
			</div>
			<div id = "comment-2294" class = "comment">
				<p>agreed. I have seen it pop up a few times though, and usually refresh in another tab to see if it was what I was doing, and then make a decision on completing, or just upvoting and commenting.</p>
			</div>
			</div>
				<textarea id = "speech-1241" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1241">
					<img id="start_img-1241" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1241">Comment</button>
			<br><div id = "ans-1246"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1246" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Since the start of the competition, an incredible amount of low quality questions has been asked</p>
</blockquote>

<p>I think some examples are in order.  Yes, we've got more questions, but are they truly low quality?  </p>

<blockquote>
  <p>in some cases, just the rate at which some users ask questions, it clearly showed it was only being asked to gain votes for the competition.</p>
</blockquote>

<p>Well, that was one of the main goals of the competition, to generate new content and expand the knowledge base.  I don't think that this point is a bad thing, unless the additional content has a negative effect, as your first point suggests.</p>

<blockquote>
  <p>Copy and paste of duplicate answer, just to train and gain votes. </p>
</blockquote>

<p>I've seen duplicate answers, but in each case I saw that they were added within minutes of each other, and since it takes me more than a few minutes to write a post then I see it simply as two people with essentially the same answer.</p>

<p>What I have noticed is that once people see their answer is duplicate, often they'll delete their own unless it's substantially better than the other answer.  This isn't happening here, and while it's not ideal, it's not a bad thing - it's just duplicate information.</p>

<p>balpha gave enough information to show that voting was actually up, so I don't think that's an issue anymore.</p>

<p>So the only issue remaining is whether the new posts are low quality or not.</p>

<p>It has been my experience that a community won't shy away from downvoting low quality posts, and yet I've seen very few questions and answers downvoted.  Either the whole community is accepting them, generally (and it's a big community) or people are being nice to avoid angering people for the contest.</p>

<p>I think this can only be resolved if you bring 5-10 examples of such posts here so we can discuss their merit.</p>

<p>For my part, I have been asking questions I wouldn't normally ask. Many of them could be discovered with 20-30 minutes of research on my part.  However that doesn't make them a bad question, to my way of thinking.  Since only one of my questions was downvoted, I'm assuming the community is fine with them.</p>

<p>I'd suggest people start downvoting and commenting on low quality questions.  If it's a serious problem that needs to be cleaned up, get the community active in calling people out on it.</p>

<p>I'm reminded of the early days of Stack Overflow.  We had a lot of relatively simple questions, but there were two surprising outcomes:</p>

<ol>
<li>We became the canonical reference from google, and those questions, as simple as they are, draw in thousands of users trying to figure them out themselves.</li>
<li>We found that sometimes the simple questions had interesting complex answers, and once you got past the surface layer they revealed complexity in subjects many people take for granted.</li>
</ol>

<p>I don't know that either will apply here, but I wouldn't encourage people to treat simple questions as low quality, and to answer them seriously rather than via simple google search.  Even experts might be surprised at what they find when they dig deep into a seemingly simple question.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1246">Load Comments</button></br>
			<div id = "commentsection-1246" class = 'collapse'>
			<div id = "comment-2290" class = "comment">
				<p>I have to admit, though, I feel *almost* bad about asking for recommendations here.  They are anathema on all the other SE sites I visit, and I feel like I'm taking advantage of a loophole because they are explicitly allowed here.  Still, I've learned a lot from my recommendation questions.</p>
			</div>
			<div id = "comment-2291" class = "comment">
				<p>Anecdotally I am in agreement with the low quality thing by and large.  But I feel that bringing examples to the table is not possible without implicit criticism of the participant, which is an area I feel should remain untrod.</p>
			</div>
			</div>
				<textarea id = "speech-1246" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1246">
					<img id="start_img-1246" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1246">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>