<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Does an electronic compass work underwater
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6750" class = "post">
			<h2>Question</h2>
			<div id="vote-6750" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 772</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Does an electronic compass work underwater</h2>
<p>I'm building a submersible ROV, so I need a way to navigate. So using a compass would help but this brings up the question, does an electronic compass work underwater?</p>

<p>My thoughts are the water might act as a faraday cage, and therefore interfere with the magnetic field. Therefore it might not even work. Maybe a gyroscope might be a better solution.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6750" data-toggle = "popover">
				<p>user name : Dane Bouchie</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-6750">{'quadcopter': 1, 'brushless-motor': 1, 'None': 0, 'sensors': 5, 'compass': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6750">Load Comments</button></br>
			<div id = "commentsection-6750" class = 'collapse'>
			<div id = "comment-9809" class = "comment">
				<p>You might want to mention what sort of compass you were thinking of using. The answer may be rather different for a traditional magnetic thumb compass, a solid state compass (megnetometer based), a GPS compass or a Gyrocompass.</p>
			</div>
			<div id = "comment-9810" class = "comment">
				<p>Yup...it will work...try it......u tried</p>
			</div>
			</div>
				<textarea id = "speech-6750" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6750">
					<img id="start_img-6750" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6750">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6751"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6751" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A compass will work just fine under water, I am an avid scuba diver and a compass is a standard piece of kit for navigating.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6751" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-6751">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6751" class = 'collapse'>
			</div>
				<textarea id = "speech-6751" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6751">
					<img id="start_img-6751" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6751">Comment</button>
			<br><div id = "ans-6762"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6762" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It actually works very good to a level that you can use fluxgate sensors for <a href="http://en.wikipedia.org/wiki/Magnetic_anomaly" rel="nofollow">magnetic anomaly</a> mapping. As far as I know, it has been <a href="http://www.bartington.com/Literaturepdf/Case%20Studies/Mag648%20in%20Underwater%20Glider%20Navigation.pdf" rel="nofollow">done for Slocam</a> (underwater glider) before. The map can be used for relative navigation of underwater systems. In your case, you can <a href="https://www.researchgate.net/publication/261155923_Study_on_the_Design_and_Algorithm_of_INSMCPDR_Integrated_Navigation_Method_for_Underwater_Glider" rel="nofollow">combine a magnetometer and an IMU for underwater navigation</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6762" data-toggle = "popover">
				<p>user name : BarzinM</p>
				<p> user reputation : 316</p>
				<p class = "tagcontent" id = "usertaginfo-6762">{'None': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6762" class = 'collapse'>
			</div>
				<textarea id = "speech-6762" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6762">
					<img id="start_img-6762" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6762">Comment</button>
			<br><div id = "ans-6781"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6781" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A compass will work fine.  However, you will find that without a way to measure your velocity (speed-over-ground) in both forward and sideways directions, you will have a tough time keeping track of where you are.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6781" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-6781">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6781" class = 'collapse'>
			</div>
				<textarea id = "speech-6781" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6781">
					<img id="start_img-6781" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6781">Comment</button>
			<br><div id = "ans-6785"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6785" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Any magnetic compass absolutely <em>will</em> work underwater. </p>

<p>Several companies (e.g., PNI, OceanServer) build and sell electronic compass modules based on flux-gate technology specifically for underwater applications. </p>

<p>Buoyancy gliders and small AUVs or ROVs usually rely on flux gate compasses to sense heading because they are small, relatively inexpensive, and consume little power. Larger, more expensive vehicles often have a magnetic compass for backup, but use a gyrocompass (RLG or FOG) as the primary orientation sensor because it is more accurate than a magnetic compass and is not susceptible to local magnetic disturbances (like the vehicle's motors or batteries). </p>

<p>The accuracy of your compass is important because if you are trying to navigate by dead reckoning -- or by inertial navigation -- any errors in your orientation estimate make errors in your position estimate grow quickly. To improve the data rate and accuracy of a magnetic compass, and to make it less susceptible to local magnetic disturbances, you can combine angular rates from a gyro with the angles from a compass using a complementary filter or a Kalman filter. But trying to use <em>only</em> a gyro, you will run into trouble as you integrate to get angle -- over long periods, your integration will drift. That's why the complementary filter solution works -- the magnetic compass is a bit noisy, but stable over the long term, while the gyro is accurate and fast over the short term, but drifts unbounded in the long term.</p>

<p>As Ian mentioned, if you are trying to track your robot's position, you will also need a velocity estimate for dead reckoning. If you are in stationary body of water, like a pool, you can probably get away with "counting propeller turns", but you would need to calibrate your propeller. In the field, most vehicles will use a <a href="http://en.wikipedia.org/wiki/Acoustic_Doppler_current_profiler#Bottom_tracking" rel="nofollow">Doppler velocity log (DVL)</a> to measure speed relative to the seafloor. That is an expensive sensor to add, but well worth it if your application requires precision navigation.</p>

<p>Refer to <a href="https://scholar.google.com/scholar?cluster=18101485865476627367&amp;hl=en&amp;as_sdt=0,5" rel="nofollow">this article</a> for a fairly recent survey on underwater navigation technology.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6785" data-toggle = "popover">
				<p>user name : bluesquall</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6785">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6785" class = 'collapse'>
			</div>
				<textarea id = "speech-6785" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6785">
					<img id="start_img-6785" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6785">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>