<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Does it matter if my electronic speed controllers are close to my brushless motors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3013" class = "post">
			<h2>Question</h2>
			<div id="vote-3013" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1496</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Does it matter if my electronic speed controllers are close to my brushless motors?</h2>
<p>I have built several quadcopters, hexacopters, and octacopters. This means that between the flight controller (I use 3DR APM2.6 or Pixhawk) and the motors there are heavy duty power wires as well as a servo-style cable carrying a PWM control signal for the ESC. Three short heavy-duty wires then connect the motor to the ESC, one for each phase.</p>

<p>Several times I've heard or read people saying that the electronic speed controllers (ESCs) should be mounted far away from the flight controller (FMU seems to be the abbreviation en vogue) and close to the motors. I think the idea is that this cuts down on interference (I'm not sure what sort) that could be emitted by the long ESC -> motor wires that would be required if you have the ESCs all at the center of the aircraft. Another consideration is that ESCs can be cooled by propellers if they are right under the rotor wash, as mine usually are.</p>

<p>So, I've always mounted ESCs close to motors, but realized that design could be much simpler if ESCs are mounted centrally. So, my question is: what are the pros and cons of mounting ESCs close to the motor versus close to the FMU?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3013" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-3013">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3013" class = 'collapse'>
			</div>
				<textarea id = "speech-3013" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3013">
					<img id="start_img-3013" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3013">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3014"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3014" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First, you can look at <a href="http://www.mikrokopter.de/en/products/flightsystems" rel="nofollow">Mikrokopter</a> as an example of quad with centrally mounted ESCs.</p>

<p>As for the various engineering reasons for ESC location, here is some rationale behind the two you mentioned</p>

<p>1) Interference/noise. Non-steady state current running through wire can induce current to flow in nearby conductors. Practically speaking, this means that if you have power lines wires next to signal wires, the changing current in the power wires will create noise on the signal wires. </p>

<p>However, this effect degrades with both distance and non-parallelism of the wires (ideal perpendicular wires don't have this coupling effect). So as long as you don't run signal wires right next to your power wires, you should be fine.</p>

<p>2) Cooling. ESCs contain power electronics that need to be cooled. Certainly having them under the forced air coming from the spinning rotors helps but at the theoretical cost of reduced aerodynamic efficiency. If you can keep your ESCs cool enough elsewhere , then no problems. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3014" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-3014">{'None': 133}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3014" class = 'collapse'>
			</div>
				<textarea id = "speech-3014" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3014">
					<img id="start_img-3014" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3014">Comment</button>
			<br><div id = "ans-3042"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3042" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would guess that the real "interference" you'd see would be magnetic interference.  Motors draw quite a bit of current, and that will affect your compass reading.<br>
<a href="http://onlinephys.com/magnetism.html" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/PgB1N.jpg" alt="Compasses affected by electric current"></a></p>

<p>Of course, the same applies to the ESCs that feed the motors -- the supply of current from the battery to the ESCs should also be kept away from the flight controller (which presumably has a compass).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3042" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-3042">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3042">Load Comments</button></br>
			<div id = "commentsection-3042" class = 'collapse'>
			<div id = "comment-9717" class = "comment">
				<p>It sounds like you're saying that magnetic interference is irrelevant to the question because you have the same current on both sides of the ESC. Is the fact that the motor side is switched going to have any influence on the magnetic field?</p>
			</div>
			<div id = "comment-9720" class = "comment">
				<p>I've never worked on a vehicle whose ESCs were close enough to the compass to say whether there is interference from the actual component.  You may want to do some experiments for yourself, putting the compass on a table and pulsing the motor (through the ESC) in various positions to see if the compass reading changes.</p>
			</div>
			<div id = "comment-9721" class = "comment">
				<p>But to answer your question more directly, the ESC is going to draw a small amount of current to do its job in addition to the current that the motor draws.  So the "switched" current is going to be present on both sides.</p>
			</div>
			<div id = "comment-9724" class = "comment">
				<p>But clearly the current draw from the ESC logic itself is negligible compared to the motor current in this situation. Obviously the servo wires to the ESC are negligible. The power wires to the ESC are essentially DC and the wires to the motor are essentially AC. BTW, I have experimented with this stuff since 2010... witnessed the birth and death of Ardupilot's compassmot procedure, etc. In all those years I still haven't seen a convincing answer to my question.</p>
			</div>
			<div id = "comment-9725" class = "comment">
				<p>But... it's not really AC since the current never reverses, right? It's just DC pulses. So maybe wire on both sides of the ESC induce about the same amount of magnetism.</p>
			</div>
			<div id = "comment-9736" class = "comment">
				<p>The power to the motor can be reversed (unlike the DC draw to the ESC), but I wouldn't go so far as to say it's AC.</p>
			</div>
			<div id = "comment-9737" class = "comment">
				<p>In any case, the thing to remember is that current sources affect compass readings.  The ESC represents a point in the design through which a significant amount of current flows, but it is unremarkable beyond that.</p>
			</div>
			<div id = "comment-9739" class = "comment">
				<p>Maybe I'm missing something, but as far as I can tell, you haven't addressed the question in your answer or any of your comments. It still seems to me that from a magnetic point of view, it doesn't matter whether the ESCs are on the FMU side or on the motor side.</p>
			</div>
			<div id = "comment-9742" class = "comment">
				<p>Just to chime in with respect to the AC comment ... it doesn't matter whether it AC or DC current. Any time the current *changes* it will create changing magnetic fields.</p>
			</div>
			<div id = "comment-9754" class = "comment">
				<p>I was focusing specifically on the question of whether there is interference from the ESCs, and my answer (based on limited experience) is "no more interference than the wires themselves would create".  As others have pointed out, there are considerations like heat dissipation to worry about and the question of [proper weight distribution](http://robotics.stackexchange.com/q/235).</p>
			</div>
			</div>
				<textarea id = "speech-3042" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3042">
					<img id="start_img-3042" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3042">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>