<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Does RRT* guarantee asymptotic optimality for a minimum clearance cost metric?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-649" class = "post">
			<h2>Question</h2>
			<div id="vote-649" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 387</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Does RRT* guarantee asymptotic optimality for a minimum clearance cost metric?</h2>
<p>The optimal sampling-based motion planning algorithm $\text{RRT}^*$ (described <a href="http://sertac.scripts.mit.edu/web/wp-content/papercite-data/pdf/karaman.frazzoli-ijrr11.pdf" rel="nofollow">in this paper</a>) has been shown to yield collision-free paths which converge to the optimal path as planning time increases. However, as far as I can see, the optimality proofs and experiments have assumed that the path cost metric is Euclidean distance in configuration space. Can $\text{RRT}^*$ also yield optimality properties for other path quality metrics, such as maximizing minimum clearance from obstacles throughout the path?</p>

<p>To define minimum clearance: for simplicity, we can consider a point robot moving about in Euclidean space. For any configuration $q$ that is in the collision-free configuration space, define a function $d(q)$ which returns the distance between the robot and the nearest C-obstacle. For a path $\sigma$, the minimum clearance $\text{min_clear}(\sigma)$ is the minimum value of $d(q)$ for all $q \in \sigma$. In optimal motion planning, one might wish to <strong>maximize</strong> minimum clearance from obstacles along a path. This would mean defining some cost metric $c(\sigma)$ such that $c$ increases as the minimum clearance decreases. One simple function would be $c(\sigma) = \exp(-\text{min_clear}(\sigma))$.</p>

<p>In the <a href="http://sertac.scripts.mit.edu/web/wp-content/papercite-data/pdf/karaman.frazzoli-rss10.pdf" rel="nofollow">first paper</a> introducing $\text{RRT}^*$, several assumptions are made about the path cost metric so that the proofs hold; one of the assumptions concerned additivity of the cost metric, which doesn't hold for the above minimum clearance metric. However, in the more recent <a href="http://sertac.scripts.mit.edu/web/wp-content/papercite-data/pdf/karaman.frazzoli-ijrr11.pdf" rel="nofollow">journal article</a> describing the algorithm, several of the prior assumptions weren't listed, and it seemed that the minimum clearance cost metric might also be optimized by the algorithm.</p>

<p>Does anyone know if the proofs for the optimality of $\text{RRT}^*$ can hold for a minimum clearance cost metric (perhaps not the one I gave above, but another which has the same minimum), or if experiments have been performed to support the algorithm's usefulness for such a metric?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-649" data-toggle = "popover">
				<p>user name : giogadi</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-649">{'None': 20, 'motion-planning': 24, 'rrt': 24, 'theory': 11, 'algorithm': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-649">Load Comments</button></br>
			<div id = "commentsection-649" class = 'collapse'>
			<div id = "comment-797" class = "comment">
				<p>I'm not familiar with the minimum clearance cost metric, though by its name I get the general idea. Is it a specific function or a class of functions?</p>
			</div>
			<div id = "comment-799" class = "comment">
				<p>Good question: since the metric varies depending on the robot, let's assume that we're looking at a holonomic point robot moving about in Euclidean space. At any configuration q, we have a function d(q) which returns the distance between the point robot and the closest C-obstacle. Therefore, for a path in configuration space, the minimum clearance of the entire path is the minimum value of d(q) for all q in the path.</p>
			</div>
			<div id = "comment-828" class = "comment">
				<p>Meta-question: when is it recommended for me to edit the original question with clarifications that have been spelled out in comments and other answers?</p>
			</div>
			<div id = "comment-830" class = "comment">
				<p>This is a good meta-question and would get more response in the [Robotics meta](http://meta.robotics.stackexchange.com/?cb=1) SE. ;) However, it's generally good to edit the question for clarity. I especially recommend doing so when the answers elicited aren't inline with the intended question.</p>
			</div>
			</div>
				<textarea id = "speech-649" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-649">
					<img id="start_img-649" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-649">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-661"  class = "post">
				<h2>Answer</h2>
			<div id="vote-661" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>*Note, $a|b$ is the concatenation of paths $a$ and $b$. Then $c(\cdot)$ defined as the minimum clearance implies $c(a|b)=min(c(a),c(b))$</p>

<p>You refer to (in reference 1):</p>

<blockquote>
  <p><strong>Theorem 11: (Additivity of the Cost Function.)</strong>
  For all
  $\sigma_1$,$\sigma_2$ $\in X_{free}$
  , the cost function c satis es the following:
  $c(\sigma_1|\sigma_2) = c(\sigma_1) + c(\sigma_2)$</p>
</blockquote>

<p>Which has become (in reference 3, Problem 2): </p>

<blockquote>
  <p>The cost function is assumed to be monotonic, in the sense that
  for all $\sigma_1,\sigma_2\in\Sigma:c(\sigma_1)\leq c(\sigma_1|\sigma_2)$</p>
</blockquote>

<p>Which is still not the case for minimum clearance distance. </p>

<p><strong>Update:</strong> Given the relaxed restriction on path costs, your suggested exp(-min_clearance) seems fine.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-661" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-661">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-661">Load Comments</button></br>
			<div id = "commentsection-661" class = 'collapse'>
			<div id = "comment-826" class = "comment">
				<p>Your answer made me realize that the metric as I've described it is actually ill-posed. We typically want to MAXIMIZE minimum-clearance over a path, so in fact the cost of a path should INCREASE as the minimum clearance of a path DECREASES. The first cost function I have in mind for this is c(sigma) = 1/min_clearance(sigma), but this leaves the function undefined at obstacle boundaries, and I believe RRT* requires Q_free to be closed in order for the proofs to work. Barring the boundary issue, this new cost function would be monotonic as the proof requires.</p>
			</div>
			<div id = "comment-829" class = "comment">
				<p>I suppose a simple cost function that avoids the boundary issue could be c(sigma) = -min_clearance(sigma), but I'm not sure what having a negative metric might do to other parts of the RRT* proof...</p>
			</div>
			<div id = "comment-831" class = "comment">
				<p>The paper explicitly assumes cost $\geq$ zero. You can expand the configuration space by some $\epsilon > 0$ to address the singularity of touching the boundary, but the paper also assumes $\delta$-clearance, and that might cause a conflict with altering $X_{free}$. I think you are trying to answer a different question now, and this might involve some discussion, which isn't easy in this format.</p>
			</div>
			<div id = "comment-832" class = "comment">
				<p>Another possible metric: c(sigma) = exp(-min_clear(sigma))</p>
			</div>
			<div id = "comment-833" class = "comment">
				<p>I like the exponential cost function best.</p>
			</div>
			</div>
				<textarea id = "speech-661" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-661">
					<img id="start_img-661" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-661">Comment</button>
			<br><div id = "ans-762"  class = "post">
				<h2>Answer</h2>
			<div id="vote-762" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In a <a href="https://robotics.stackexchange.com/a/661/13">previous answer</a>, we came to agree that a cost function defined as</p>

<p>$c(\sigma) = \text{exp}(-\text{min_clear}(\sigma))$</p>

<p>would satisfy the properties required for RRT* to yield asymptotic optimality under this metric.</p>

<p>However, upon reviewing the IJRR article which describes RRT*, this cost function does <em>not</em> technically satisfy the assumptions made in the article. Specifically, this cost function violates the <em>boundedness</em> property, defined as:</p>

<p>$\exists k_c \quad c(\sigma) \leq k_c\text{TV}(\sigma), \forall \sigma \in \Sigma$</p>

<p>where $\text{TV}(\sigma)$ is the <em>total variation</em> of a path, which is essentially the path's Euclidean length. Under this boundedness assumption, a path of length 0 must also have a cost of 0.</p>

<p>Let's define a path $\sigma_0$ to consist of a single configuration $q$, meaning the length of $\sigma_0$ is 0. Our path cost is therefore $c(\sigma_0) = \text{exp}(-d(q)) &gt; 0$, which violates the boundedness assumption. Therefore, this cost function does not meet the requirements set in the IJRR article to yield asymptotic optimality.</p>

<p>I wonder if RRT* simply will not yield asymptotically optimal solutions under such a cost function, or if it still might but perhaps those assumptions simplified the optimality proofs in the paper.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-762" data-toggle = "popover">
				<p>user name : giogadi</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-762">{'None': 20, 'motion-planning': 24, 'rrt': 24, 'theory': 11, 'algorithm': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-762" class = 'collapse'>
			</div>
				<textarea id = "speech-762" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-762">
					<img id="start_img-762" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-762">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>