<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Does a vehicle with defferential gear still move straight?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1682" class = "post">
			<h2>Question</h2>
			<div id="vote-1682" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 218</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Does a vehicle with defferential gear still move straight?</h2>
<p>I am in the concept phase of a driving robot. The two wheels on the front axle will be powered, while the rear will be dragged along. The rear is also responsible for steering but this has noting to do with my question.</p>

<p>Since the robot is required to make relatively sharp turns at high speed. Therefore I have two options to compensate the different speeds on both sides. On the one hand, a differential gear in the front axle could be used. It would be powered by one motor then. On the other hand, I could simply use two motors directly powering each a front wheel. This way I could simulate the differentiation in software.</p>

<p>I'd like to go for the first approach, using the hardware differential. But I have the one concern with it. Would a robot vehicle with differential gear still move straight, without explicit steering applied?</p>

<p>My imagination is that, with those wheels not being solidly connected, the robot would move in random curves which I'd have to compensate with a lot of steering then. I know that for real cars, differential gears are standard and do their work, but now I am talking about a small robot measuring about 6 inches.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1682" data-toggle = "popover">
				<p>user name : danijar</p>
				<p> user reputation : 196</p>
				<p class = "tagcontent" id = "usertaginfo-1682">{'wheel': 2, 'brushless-motor': 11, 'None': 1, 'power': 3, 'microcontroller': 3, 'wheeled-robot': 2, 'motion': 2, 'control': 3, 'chassis': 2, 'cnc': 2, 'motor': 13}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1682">Load Comments</button></br>
			<div id = "commentsection-1682" class = 'collapse'>
			<div id = "comment-3527" class = "comment">
				<p>Is it possible to use 2 motors so that both axles will be powered? You could always say "front is where I'm driving towards" then. You could connect both axles with a hinge so that 90 deg driving is possible. You wouldn't need hinges for a single wheel, too.</p>
			</div>
			<div id = "comment-3538" class = "comment">
				<p>This question is not about the steering concept, but thanks anyway. I already have a solution for the back axle, which has only one point resting on the floor. But I won't go into detail here. The question is whether I'll use two motors in the front, or one motor and a differential.</p>
			</div>
			</div>
				<textarea id = "speech-1682" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1682">
					<img id="start_img-1682" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1682">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1683"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1683" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If I understand your question, you are asking whether a vehicle balancing on two wheels (or two wheels and one <a href="http://en.wikipedia.org/wiki/Caster" rel="nofollow">caster</a>) will be able to move straight, or at least predictably, if both wheels were driven from the same motor and used a differential.  </p>

<p>The answer is yes, but only if you have a way to equalize the forces of friction affecting each wheel.  For example, by applying a brake individually to each wheel, you could alter the balance of force between the left and right.  It would be crude, but certainly possible to control the steering in this way.  In fact, many <a href="http://en.wikipedia.org/wiki/Tractor#Pedals" rel="nofollow">tractors use independent left and right brake pedals</a> to accomplish this.</p>

<p>Without actively braking (or some other method), your intuition is correct: the amount of rotation of each wheel would depend on an unpredictable set of forces, and the robot would make seemingly random turns.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1683" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1683">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1683">Load Comments</button></br>
			<div id = "commentsection-1683" class = 'collapse'>
			<div id = "comment-3539" class = "comment">
				<p>It is not balancing, there is something like a caster in the back. Does your answer still apply to this case? And is it realistically to simulate the differential in software when directly powering the two front wheels by each a motor?</p>
			</div>
			<div id = "comment-3543" class = "comment">
				<p>@danijar, you contradict yourself.  In your question you say that the rear wheel is there for steering, but unpowered, which implies that it is steered with a servo or something.  Here, you say that it casters, i.e., it follows whatever steering comes to it, and is not attached to any servo or whatever.  Which is the case?</p>
			</div>
			<div id = "comment-3545" class = "comment">
				<p>@TimWescott Kind of both. Actually, it is an [omni wheel](http://en.wikipedia.org/wiki/Omni_wheel) attached transversal to driving direction. It casters and steers at the same time. Only an omni wheel can do that, I guess.</p>
			</div>
			<div id = "comment-3548" class = "comment">
				<p>Can you update your question with a picture or drawing of the wheel configuration?</p>
			</div>
			<div id = "comment-3552" class = "comment">
				<p>@danijar: I sincerely hope that we are suffering a terminology collision, because if you're holding the axis of that omniwheel steady I wouldn't call what it's doing "castering".  At any rate, from what you describe, you must be steering the robot by driving the omni-wheel.  Thus, if you hold the omni-wheel steady it will enforce straight-line motion on the robot, and if you rotate the omni-wheel it will enforce rotation on the robot, proportional to its drive speed.  In this case, then you want a differential on your drive axis, so that the drive wheels aren't trying to enforce steering.</p>
			</div>
			<div id = "comment-3557" class = "comment">
				<p>@TimWescott Okay, it might not be called *castering*, English is not my first language. What I meant is that it doesn't rotate on the normal wheel axis. I haven't thought about the fact that holding the omni wheel would force straight motion. Do you think that this enforcement is strong enough to really get a straight movement with a differential in the front axle?</p>
			</div>
			<div id = "comment-3563" class = "comment">
				<p>@danijar If your omniwheel works like the omniwheels in Wikipedia, yes.  But you need a wheel that gets traction (meaning: what touches the ground is rubber not smooth plastic, or at least has as much grip as the driving wheels), and you do need the differential -- without it, you'll have too many things trying to steer and they'll just get into a fight.</p>
			</div>
			</div>
				<textarea id = "speech-1683" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1683">
					<img id="start_img-1683" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1683">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>