<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Does Inverse Kinematics need the current joint angles?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12505" class = "post">
			<h2>Question</h2>
			<div id="vote-12505" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Does Inverse Kinematics need the current joint angles?</h2>
<p>I had a discussion with a study colleague about the IK solver. The question was: Does IK need the current joint values to calculate the requested position.</p>

<p>I think it doesn't need it. From my understanding, IK only needs a translation and rotation respected to the e.g. base frame, but no information about the current joint values or e.g. gripper frame for the calculation itself. My study colleague argue that we always give the IK Solver the current joint values through our .msg file and that's right. However, I'm sure that the IK solver doesn't use it for the calculation. Maybe, in case of optimization if it finds more than one possible solution.</p>

<p>Would be nice if anyone can help</p>

<p>Greetings</p>

<p>R.Devel</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12505" data-toggle = "popover">
				<p>user name : R.Devel</p>
				<p> user reputation : 20</p>
				<p class = "tagcontent" id = "usertaginfo-12505">{'None': 0, 'inverse-kinematics': 3, 'kinematics': 3, 'robotic-arm': 1, 'rotation': 1, 'ros': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12505" class = 'collapse'>
			</div>
				<textarea id = "speech-12505" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12505">
					<img id="start_img-12505" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12505">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12506"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12506" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It depends on the method that you use for computing an IK solution. If you have an analytic formula for IK solutions then you do not need the current joint values of the robot. You just plug in the translation and rotation of the end-effector to the formula and you get a solution (or a set of solutions). (Sometimes knowing the current joint angles is better, though, because you might want to select which IK solutions you want based on your current joint angles.)</p>

<p>However, when using iterative methods such as differential IK, you will need an initial point to start with. The algorithm will kind of <em>drive</em> the robot from the initial joint values towards your desire end-effector position. That's when the current joint values come into play.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12506" data-toggle = "popover">
				<p>user name : Petch Puttichai</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-12506">{'None': 29, 'manipulator': 6, 'inverse-kinematics': 0, 'industrial-robot': 6, 'redundant-robots': 0, 'kinematics': 3, 'robotic-arm': 6, 'singularity': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12506">Load Comments</button></br>
			<div id = "commentsection-12506" class = 'collapse'>
			<div id = "comment-21972" class = "comment">
				<p>Perfect thank you =) I assume KDL, IKFast are iterative ?</p>
			</div>
			<div id = "comment-21976" class = "comment">
				<p>No problem! I have never used KDL so I have no idea about that. But for IKFast, it is analytic.</p>
			</div>
			</div>
				<textarea id = "speech-12506" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12506">
					<img id="start_img-12506" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12506">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>