<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Does a controlling system need to be more complex than the system being controlled?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9472" class = "post">
			<h2>Question</h2>
			<div id="vote-9472" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 111</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Does a controlling system need to be more complex than the system being controlled?</h2>
<p>Is there any theoretical principle, or postulate, that states that the controlling system has to be more complex than the system being controlled, in any formal sense of the notion "complex"?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9472" data-toggle = "popover">
				<p>user name : Student4K</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9472">{'control': 0, 'None': 0, 'theory': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9472">Load Comments</button></br>
			<div id = "commentsection-9472" class = 'collapse'>
			<div id = "comment-16740" class = "comment">
				<p>none that im familiar with but that's not the kind of material i work on.</p>
			</div>
			<div id = "comment-16759" class = "comment">
				<p>I voted to close this question as unclear what you're asking - see SteveO's answer and my comments on that below. You have not defined control or complexity, so it's not clear what kind of an answer you're trying to get.</p>
			</div>
			</div>
				<textarea id = "speech-9472" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9472">
					<img id="start_img-9472" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9472">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9473"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9473" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Consider these two items:</p>

<ul>
<li><p>With pole placement controller design, you can alter a controllable, $n^{th}$ order, system's characteristic equation to get the desired behavior.  You still have $n$ eigenvectors for your system with this method.</p></li>
<li><p>Using state space control, for a system with $n$ states, your system matrix $A$ is of rank $n \ $x$\  n$.  Your input matrix $B$ is $n \ $x$\ p$ ($p$ inputs).  Your output matrix $C$ is $q \ $x$\ n$ ($q$ outputs).</p></li>
</ul>

<p>I'm not certain which of the formal meanings of "complex" you're considering, but does the above refute it?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9473" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9473">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9473">Load Comments</button></br>
			<div id = "commentsection-9473" class = 'collapse'>
			<div id = "comment-16745" class = "comment">
				<p>I would argue that the pole placement only affects/controls the system to modify the system dynamics such that it drives the output to zero. Reference tracking, which is what I believe the lay person may take to mean "control", is typically done with integral control around a state space controller - this adds a state, increasing the size of $A$ by 1 in each direction.</p>
			</div>
			<div id = "comment-16746" class = "comment">
				<p>I don't agree, @Chuck.  Pole placement sets the system response to whatever behavior is desired so it will follow the inputs with whatever Eigen-behavior is determined.  The wiki page on Full State Feedback shows this okay (https://en.wikipedia.org/wiki/Full_state_feedback).  More importantly, though, is that the controller itself doesn't have to have higher complexity than the plant.  Think of dissipative elements which stabilize some industrial systems so that only proportional control is required.  Yes, there are highly complex controllers, but I would not say such a postulate is correct.</p>
			</div>
			<div id = "comment-16747" class = "comment">
				<p>What is the control signal in a state feedback controller? Classically, $u=-Gx$. Where is the reference input $r$ in that equation? Well, you can add a feed-forward gain $N$ to the reference input to "scale" it to fit the controller, such that $u = Nr - Gx$, but this is a [poor method](http://www.cds.caltech.edu/~murray/courses/cds110/wi03/feedfwd-16jan03.pdf) of reference tracking. I guess there could be an argument made about what constitutes "functional" control, but that's a long argument to have. I mean, technically proportional control could be used for anything, right?</p>
			</div>
			<div id = "comment-16748" class = "comment">
				<p>Any element of $u$ can be the reference input.</p>
			</div>
			<div id = "comment-16749" class = "comment">
				<p>Maybe my answer treats the question too literally.   Many controllers will be complex. But they don't *have* to be.</p>
			</div>
			</div>
				<textarea id = "speech-9473" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9473">
					<img id="start_img-9473" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9473">Comment</button>
			<br><div id = "ans-9479"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9479" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Complexity is not a word that's used in control theory but I think I know what you mean. The short answer would be no.</p>

<p>Complexity in systems to be controlled is usually looked at in terms of how many state variables are needed to fully describe what's happening or, more often, how many Degrees of Freedom exist.</p>

<p>There is a theorem that says whether a Linear Time Invariant (LTI) system is controllable, and if you look at it right it might fit what you are thinking, but LTI systems are a subset of the systems control theory works with.</p>

<p>As soon as you move from only math to the real world, a couple things become quickly apparent.</p>

<p>1) The whole point of most of control theory is to control a system that is more complex than the controller. If not for disturbances and non-linearities, we'd just write an equation for the perfect control input rather than use techniques like PID.</p>

<p>2) Underactuated control is a whole sub-field of control dedicated controlling systems that have not only disturbances, but also fewer controlled degrees of freedom than actuated degrees of freedom.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9479" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9479">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9479" class = 'collapse'>
			</div>
				<textarea id = "speech-9479" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9479">
					<img id="start_img-9479" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9479">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>