<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Don t migrate cross-posts
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-700" class = "post">
			<h2>Question</h2>
			<div id="vote-700" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 47</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Don t migrate cross-posts</h2>
<p>I flagged <a href="https://apple.stackexchange.com/questions/21576/highlighting-color-nstableview-cocoa">this question</a> as being off-topic, and later I noticed that the same question had been <a href="https://stackoverflow.com/questions/7038060/highlighting-color-nstableview-cocoa">cross-posted to Stack Overflow</a>. I then added a comment to the Ask Different question stating it was a cross-post:</p>

<p><img src="https://i.stack.imgur.com/DD91b.png" alt="enter image description here"></p>

<p>Even with this comment, the question ended up being migrated to Stack Overflow, resulting in a duplicate there:</p>

<ul>
<li>Original cross-post on Stack Overflow: <a href="https://stackoverflow.com/questions/7038060/highlighting-color-nstableview-cocoa">https://stackoverflow.com/questions/7038060/highlighting-color-nstableview-cocoa</a></li>
<li>Migrated question from Ask Different, resulting in a duplicate question on Stack Overflow: <a href="https://stackoverflow.com/questions/7038709/change-highlighting-color-in-nstableview-in-cocoa">https://stackoverflow.com/questions/7038709/change-highlighting-color-in-nstableview-in-cocoa</a></li>
</ul>

<p>Is there some other workflow that d make it more obvious to Ask Different moderators that a question is a cross-post and shouldn t be migrated at all?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-700" data-toggle = "popover">
				<p>user name : Bavarious</p>
				<p> user reputation : 892</p>
				<p class = "tagcontent" id = "usertaginfo-700">{'None': 0, 'discussion': 1, 'migration': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-700" class = 'collapse'>
			</div>
				<textarea id = "speech-700" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-700">
					<img id="start_img-700" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-700">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-701"  class = "post">
				<h2>Answer</h2>
			<div id="vote-701" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In this case, it was a matter of crossed signals. I loaded the page before you posted your comment, you posted the comment, and then I migrated it (8 seconds later) without knowing about the duplicate. And unfortunately, there's no way to un-migrate from this end - it has to be dealt with on Stack Overflow.</p>

<p>If I see that there's a cross-post on another site I won't migrate. The issue here was that I didn't see it and it clearly was a programming question, so I just moved it over.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-701" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-701">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-701">Load Comments</button></br>
			<div id = "commentsection-701" class = 'collapse'>
			<div id = "comment-1250" class = "comment">
				<p>Or, simply don't cross-post and let the community and mods sort it out.</p>
			</div>
			<div id = "comment-1257" class = "comment">
				<p>Did you flag the SO question?  Popping into the Teacher's Lounge is also a quick way to get stuff like this handled.</p>
			</div>
			<div id = "comment-1279" class = "comment">
				<p>Hah, eight seconds!</p>
			</div>
			<div id = "comment-1280" class = "comment">
				<p>@Bavarious Actually I did the math wrong, it was 12 seconds.</p>
			</div>
			</div>
				<textarea id = "speech-701" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-701">
					<img id="start_img-701" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-701">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>