<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Double~Triple inverted pendulum always on a cart?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10048" class = "post">
			<h2>Question</h2>
			<div id="vote-10048" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Double~Triple inverted pendulum always on a cart?</h2>
<p>All of the examples of keeping a double/triple inverted pendulum balanced using a PID controller I've seen seem to be on a cart. Like this one <a href="https://www.youtube.com/watch?v=cyN-CRNrb3E" rel="nofollow">https://www.youtube.com/watch?v=cyN-CRNrb3E</a></p>

<p>How come the PID controller always controls a cart rather than a servo that holds the first pendulum? The second/third pendulum could be connected loosely on the first pendulum and the PID controller controls the first pendulum. Is it because servos tend to be too slow or are there other reasons?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10048" data-toggle = "popover">
				<p>user name : John Munroe</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-10048">{'brushless-motor': 0, 'None': 0, 'accelerometer': 1, 'rcservo': 0, 'torque': 1, 'servomotor': 0, 'mechanism': 5, 'gearing': 5, 'motor': 4, 'mobile-robot': 1, 'sensors': 1, 'servos': 0, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10048" class = 'collapse'>
			</div>
				<textarea id = "speech-10048" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10048">
					<img id="start_img-10048" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10048">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10051"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10051" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's no reason why you couldn't do it with a servo on the first pendulum, but the problem is very different. Instead of motion constrained on a line (cart), motion is constrained along an arc. The dynamics change dramatically due to both vertical and horizontal motion along the arc, but that's not to say that it couldn't be done. As far as I know, it's just more complicated and not as well studied a problem as the cart problem. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10051" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-10051">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10051" class = 'collapse'>
			</div>
				<textarea id = "speech-10051" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10051">
					<img id="start_img-10051" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10051">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>