<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Downgrade ROS from Jade to Indigo
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9590" class = "post">
			<h2>Question</h2>
			<div id="vote-9590" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 325</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Downgrade ROS from Jade to Indigo</h2>
<p>Is it possible to downgrade from ROS Jade to Indigo?</p>

<p>For those who are not yet familiar with Robot Operating System (ROS), here: <a href="http://ros.org" rel="nofollow">ROS</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9590" data-toggle = "popover">
				<p>user name : aradhak</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-9590">{'None': 0, 'ros': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9590">Load Comments</button></br>
			<div id = "commentsection-9590" class = 'collapse'>
			<div id = "comment-16957" class = "comment">
				<p>You can have Jade and Indigo installed on the same system and use each one individually with different projects. Do you mean downgrade in the sense of "I'm using Jade and want to switch to Indigo" or in the sense of "I have a package of software programmed using Ros Jade and I want to port the software to work with Indigo" ?</p>
			</div>
			<div id = "comment-16958" class = "comment">
				<p>Thanks for the reply. I have Jade on my system but it appears that in order to use turtlebot_simulator, I would need Indigo. When I did an apt-get install of turtlebot_simulator on Jade, I got an error "Unable to locate package ros-jade-turtlebot-simulator". Is there any other workaround for the issue? Also, I have a few packages which I am still working on, hence starting from scratch is not an option.</p>
			</div>
			</div>
				<textarea id = "speech-9590" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9590">
					<img id="start_img-9590" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9590">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9591"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9591" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can have Jade and Indigo installed in parallel on the same system and use each one individually with different projects.</p>

<p>Ask on <a href="http://answers.ros.org" rel="nofollow">answers.ros.org</a>. Don't forget to tell them what OS &amp; OS version you are using. Installing Indigo in parallel via manual installation should not present any problems. apt style installation depends on your OS &amp; version.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9591" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9591">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9591">Load Comments</button></br>
			<div id = "commentsection-9591" class = 'collapse'>
			<div id = "comment-17867" class = "comment">
				<p>All you would need after installing both of them is to load the correct `setup.sh` or something like that in your `.bashrc`.</p>
			</div>
			<div id = "comment-17870" class = "comment">
				<p>Yes, good point. I have two bash functions in my .bashrc, 'indigo' and 'jade' that I run to prepare the shell for working with one or the other.</p>
			</div>
			</div>
				<textarea id = "speech-9591" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9591">
					<img id="start_img-9591" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9591">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>