<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Driving a non-circular timing belt
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7339" class = "post">
			<h2>Question</h2>
			<div id="vote-7339" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 205</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Driving a non-circular timing belt</h2>
<p>I'd like to create a camera slider similar to <a href="http://www.davidhunt.ie/motorised-time-lapse-rail-with-raspberry-pi/2/" rel="nofollow noreferrer">this one</a>.
<img src="https://i.stack.imgur.com/9aq9s.jpg" alt="enter image description here"></p>

<p>The only part I'm not sure on is how to setup the camera drive.  It looks like I can buy a similar <a href="https://www.servocity.com/html/xl_timing_belt___foot.html#.VWFNmWRVhHx" rel="nofollow noreferrer">timing belt here</a>, but I'm not sure how to set up the servo to drive the slider.  Particularly how to keep the belt in contact with the drive pulley. </p>

<p>My fabrication skills are very limited so I need a simple or out of the box solution.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7339" data-toggle = "popover">
				<p>user name : NSjonas</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-7339">{'None': 0, 'servos': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7339" class = 'collapse'>
			</div>
				<textarea id = "speech-7339" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7339">
					<img id="start_img-7339" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7339">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7340"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7340" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As can be seen in the following two photos from pages 1 and 3 of <a href="http://www.davidhunt.ie/motorised-time-lapse-rail-with-raspberry-pi/2/" rel="nofollow noreferrer">David Hunt's article mentioned in question</a>, the timing belt forms a U-bend as it passes the motor's drive pulley.   Sets of bearings support the back of the belt on each side of the drive pulley.  It looks like the centerline of the drive pulley is in line with the rest of the belt.  A deeper U than is shown probably would be a good idea.</p>

<p>As is clear from descriptions and the circuits shown on <a href="http://www.davidhunt.ie/motorised-time-lapse-rail-with-raspberry-pi/3/" rel="nofollow noreferrer">page 3 of David Hunt's article</a>, the drive motor is an ordinary DC motor operated open-loop rather than being operated as a servo motor.  For example, the description says  Sending a pulse of 12v for 150ms to the motor drives the dolly about 3mm .  To move the platform 10 inches, one would pulse the motor 80 times.  If you sent one 150 ms pulse every 45 seconds, the platform would move about 10 inches in an hour.</p>

<p><img src="https://i.stack.imgur.com/FY9DY.jpg" alt="upper view of bare drive">
<img src="https://i.stack.imgur.com/bfET3.jpg" alt="lower view of drive pulley"></p>

<p><em>Edit re  Is there any advantages to using the "DC open loop motor" vs a servo?  :</em>  Generally, using a plain DC motor or gearmotor will be less expensive than using a servomotor.  Servomotors typically have an encoder built in or attached on (see pictures at <a href="http://www.tigertek.com/servo-motor-resources/incremental-absolute-encoders.html" rel="nofollow noreferrer">tigertek.com</a> or <a href="http://www.orientalmotor.com/technology/articles/servo-motor-overview.html" rel="nofollow noreferrer">orientalmotor.com</a>, for example) and typically are driven by servoamplifiers.  (Hobby or RC servos can be controlled without using a separate servoamplifier.)</p>

<p>If high-speed or high-accuracy positioning are required, a servo probably would be a better choice than a non-servoed motor.  But otherwise, using a plain motor or gearmotor costs less and leaves you with more latitude for choice.</p>

<p>Regarding stepper motors vs servomotors or plain DC motors, (1) stepper motors will cost more per watt of power output, (2) stepper motors generally rotate slower, (3) stepper motors typically need more-complex driving sequences. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7340" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-7340">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7340">Load Comments</button></br>
			<div id = "commentsection-7340" class = 'collapse'>
			<div id = "comment-10456" class = "comment">
				<p>Thanks, I couldn't tell there was a U from the photo and I must have missed that bit when reading.  Is there any advantages to using the "DC open loop motor" vs a servo?</p>
			</div>
			<div id = "comment-10462" class = "comment">
				<p>@NSjonas, see edited answer</p>
			</div>
			</div>
				<textarea id = "speech-7340" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7340">
					<img id="start_img-7340" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7340">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>