<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Driver Board to Control 16 Brushed DC Motors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6807" class = "post">
			<h2>Question</h2>
			<div id="vote-6807" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 59</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Driver Board to Control 16 Brushed DC Motors</h2>
<p>I am building a humanoid robot with DC motor actuated fingers. There are 16 brushed DC motors to be position controlled with help of hall effect sensors implanted at the joints of each fingers. I need a developed driver board to control these 16, 3 watt, 12 v,DC motors.
Also each motor is equipped with an incremental encoder for speed control. </p>

<p>thank you</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6807" data-toggle = "popover">
				<p>user name : Ehsan</p>
				<p> user reputation : 20</p>
				<p class = "tagcontent" id = "usertaginfo-6807">{'control': 1, 'None': 0, 'communication': 1, 'microcontroller': 1, 'driver': 0, 'humanoid': 0, 'servomotor': 0, 'motor': 0, 'hall-sensor': 2, 'sensors': 2, 'ros': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6807">Load Comments</button></br>
			<div id = "commentsection-6807" class = 'collapse'>
			<div id = "comment-9757" class = "comment">
				<p>My counter-question is: do you really need **so many motors**? Wouldn't a **single motor per hand** be enough to close all the 5 fingers (I had a toy, when I was a child which used a single "band" to close 4 fingers - the thumb was fixed)? Think about. You might **save on some motors**.  Saving money, weight and complexity (both hardware and software).</p>
			</div>
			</div>
				<textarea id = "speech-6807" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6807">
					<img id="start_img-6807" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6807">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6812"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6812" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Given that the brushed DC motors you are using can output a maximum power of 3 watts and are rated for 12 volts maximum, the max current will be 0.25 amps or 250 milliamps.  So you need to find something that can handle those specs.  </p>

<p>In the most straightforward approach you have two options.  Either you can opt to use a dedicated driver board (e.g. like the <a href="http://www.adafruit.com/products/1438" rel="nofollow">adafruit motor shield</a>) or you can use a dedicated IC that can serve the same function but at a fraction of a cost.  Given that you need to control 16 brushed DC motors, the IC route would probably be the most cost-effective.  </p>

<p>Personally I have used the <a href="http://www.ti.com/lit/ds/symlink/sn754410.pdf" rel="nofollow">SN754410NE Quad Half-H Driver</a>.  The interesting thing about this IC driver is you can control 2 DC motors in either direction and with supply voltages of up 36 volts and drive currents of up to 1 amp, which is suitable for your application.  If you're going to control brushless DC motors, then that's a different story.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6812" data-toggle = "popover">
				<p>user name : jrcatbagan</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-6812">{'None': 6, 'kinematics': 2, 'inverse-kinematics': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6812">Load Comments</button></br>
			<div id = "commentsection-6812" class = 'collapse'>
			<div id = "comment-9758" class = "comment">
				<p>And what about the good old **L293**? It can also drive 2 DC motors in both directions.</p>
			</div>
			<div id = "comment-9761" class = "comment">
				<p>Nothing wrong with the L293.  I was just simply implying that using an IC driver would probably be more cost-effective as opposed to using a dedicated driver board in the OP's context.</p>
			</div>
			<div id = "comment-9762" class = "comment">
				<p>I completely agree. And it's easier than building your own transistor bridges. Even if the latters could be made using high power transistors.</p>
			</div>
			</div>
				<textarea id = "speech-6812" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6812">
					<img id="start_img-6812" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6812">Comment</button>
			<br><div id = "ans-6815"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6815" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've had good experience with pololu motor drivers. They have a decently wide selection of brushed DC motor controllers <a href="https://www.pololu.com/category/10/brushed-dc-motor-controllers" rel="nofollow">here</a>. And in Particular I think <a href="https://www.pololu.com/product/1110" rel="nofollow">this one</a> would suffice according to your specs. Its one of their light weight controllers and it is still capable of handling up to 3A peak current per motor channel or 1A continually. That seems plenty more than you'd need as your setup only demands 0.25A per motor. A single controller would handle two motor channels so you'd need a few of those.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6815" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-6815">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6815" class = 'collapse'>
			</div>
				<textarea id = "speech-6815" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6815">
					<img id="start_img-6815" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6815">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>