<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Driving sensorless three phase BLDC motor with Arduino and IMU
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10853" class = "post">
			<h2>Question</h2>
			<div id="vote-10853" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 290</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Driving sensorless three phase BLDC motor with Arduino and IMU</h2>
<p>I have started to work on a little project of mines, which consists in implementing the stabilization a single axis gimbal using Arduino.</p>

<p>The gimbal is driven by a sensorless three phase brushless DC (BLDC) motor, while on it's shaft there is a generic payload provided with an IMU board (3 axes gyros + 3 axes accelometers), which can give feedback to the Arduino about the angular rates and accelerations.</p>

<p><a href="https://i.stack.imgur.com/NI00H.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/NI00H.png" alt="enter image description here"></a></p>

<p>I have googled a bit about this topic and there are so many solutions out there, the only thing I really do not understand is about the control of the BLDC motor.</p>

<ol>
<li>Can I use a sensorless control of the motor, by sensing the back EMF
even if the motor is spinning very low?</li>
<li>How can I energize properly the phases of the BLDC motor if it is sensorless?</li>
<li>Can I use the IMU for finding out how to spin the BLDC motor properly without counter rotations?</li>
</ol>

<p>Could you give me any help, please?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10853" data-toggle = "popover">
				<p>user name : starScream</p>
				<p> user reputation : 28</p>
				<p class = "tagcontent" id = "usertaginfo-10853">{'control': 4, 'None': 0, 'two-wheeled': 1, 'arduino': 4, 'wheeled-robot': 1, 'brushless-motor': 4, 'differential-drive': 1, 'kinematics': 1, 'motor': 4, 'mobile-robot': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10853" class = 'collapse'>
			</div>
				<textarea id = "speech-10853" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10853">
					<img id="start_img-10853" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10853">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10871"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10871" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>consider coupling the motor with an encoder that has enough resolution to tell you precisely when to ramp up current to a particular phase. this will give you precise feedback to develop a control loop that should give maximum torque for a given voltage.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10871" data-toggle = "popover">
				<p>user name : user15033</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10871">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10871">Load Comments</button></br>
			<div id = "commentsection-10871" class = 'collapse'>
			<div id = "comment-19577" class = "comment">
				<p>Actually, I don't want to use any encoder as it introduces extra costs to the whole system.</p>
			</div>
			<div id = "comment-19583" class = "comment">
				<p>i found this paper: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3231115/</p>
			</div>
			</div>
				<textarea id = "speech-10871" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10871">
					<img id="start_img-10871" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10871">Comment</button>
			<br><div id = "ans-11083"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11083" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you opposed to adding components to the power circuit? If you add in a portion that measures current being drawn by the motor, you can get some decent feedback about what the motor is doing and how much of a mechanical load is being applied to it. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11083" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-11083">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11083">Load Comments</button></br>
			<div id = "commentsection-11083" class = 'collapse'>
			<div id = "comment-19978" class = "comment">
				<p>It isn't that I'm opposed in adding components, the point is that I would like to achieve my goal by using what I currently have. Maybe in the future I would add current sensors.</p>
			</div>
			<div id = "comment-19979" class = "comment">
				<p>That's reasonable. I'm just a big fan of the current sensing method to get a quick 'status' of a motor.</p>
			</div>
			</div>
				<textarea id = "speech-11083" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11083">
					<img id="start_img-11083" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11083">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>