<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Drone targeting
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1219" class = "post">
			<h2>Question</h2>
			<div id="vote-1219" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 308</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Drone targeting</h2>
<p>Imagine a "drone" and a target point on a 2d plane. Assuming the target is stationary, there are eight parameters:</p>

<pre><code>P = my position
Q = target's position
V = my velocity
I = my moment of inertia
w = my angular velocity
s = my angular position
T = max thrust
U = max torque
</code></pre>

<p>The drone's job is to get to the target as fast as possible, obeying max torque and max thrust. There are only two ways to apply the torque, since this is only in a 2d plane. Thrust is restricted to only go in one direction relative to the orientation of the craft, and cannot be aimed without rotating the drone. Neglect any resistance, you can just pretend it is floating around in 2d outer space. Let's say the drone checks an equation at time interval <code>t</code> (maybe something like every .01 seconds), plugs in the parameters, and adjusts its torque and thrust accordingly.</p>

<ul>
<li>What should the equations for thrust and torque be?</li>
</ul>

<h3>What have we tried?</h3>

<p>We know that the time it takes for the drone to reach the target in the x-direction has to be the same for the same time in the y-direction. There is going to have to be some integral over time in each dimension to account for the changing thrust based on total thrust, and total thrust in each direction given the changing angular position. I have no idea how to tie the torque and thrust together in a practical way where a function can just be called to give what thrust and torque should be applied over the interval <code>t</code> unless there is some other technique.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1219" data-toggle = "popover">
				<p>user name : Gus</p>
				<p> user reputation : 138</p>
				<p class = "tagcontent" id = "usertaginfo-1219">{'kinematics': 7, 'None': 0, 'design': 7, 'navigation': 7, 'algorithm': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1219">Load Comments</button></br>
			<div id = "commentsection-1219" class = 'collapse'>
			<div id = "comment-2763" class = "comment">
				<p>There isn't much we can say here. Obviously there is not much to go on so the answers will not be very helpful.</p>
			</div>
			<div id = "comment-2784" class = "comment">
				<p>One parameter is missing: mass. Unless your thrust is simply in terms of acceleration directly. In which case torque could be in terms of angular acceleration directly and then you wouldn't need moment of Inertia.</p>
			</div>
			<div id = "comment-2800" class = "comment">
				<p>Is the drone able to hover?  The answer to this will depend on whether the vehicle is a holonomic or non-holonomic system.</p>
			</div>
			</div>
				<textarea id = "speech-1219" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1219">
					<img id="start_img-1219" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1219">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1238"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1238" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need to do a bit of Calculus.</p>

<p><strong>First a note about your input parameters:</strong></p>

<p>Actually acceleration depends on Force and mass. You don't specify what units your max. thrust is in so let's assume your max. thrust <em>is</em> your acceleration. We can do the same thing with your max. torque then and assume that it is also your acceleration (angular) and forget about moment of inertia. Actually you would divide torque by moment of inertia to get your angular acceleration, </p>

<p>So you can simplify by giving your drone two static properties:</p>

<pre><code> thrust as max acceleration
 and torque as max angular acceleration
</code></pre>

<p>instead of giving it four properties</p>

<pre><code>Force and mass
and Torque and MoI.
</code></pre>

<p><strong>And now crunch the numbers:</strong></p>

<p>Now you have your drone's Position: Px, Py, S -- it's first derivative, velocity: Vx, Vy, W -- and it's second derivative, acceleration: Ax, Ay, U</p>

<p>Actually Ax, Ay will be calculated from S (angular position) and T (acceleration) by:</p>

<pre><code>Ax = T    cos(S)
Ay = T   -sin(S)
</code></pre>

<p>That should get you a good way towards generating your formulas. Now you want to project a line from P that intersects Q in the least amount of time. Of course, it'll be a curve, not a straight line, so you'll have to use Calculus.  </p>

<p>You could try asking the same question on <a href="http://math.stackexchange.com">math.stackexchange.com</a> for specific formulas.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1238" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-1238">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1238" class = 'collapse'>
			</div>
				<textarea id = "speech-1238" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1238">
					<img id="start_img-1238" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1238">Comment</button>
			<br><div id = "ans-1255"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1255" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The solution is actually not quite linear. There are at least two cases:
1) The fastest solution does not require maximum turning at all times.
2) The fastest solution does require maximum turning at all times.</p>

<p>For an example of 1), consider the goal is straight ahead of the drone.
For an example of 2), consider the goal is very close, but straight behind the drone; the fastest solution is a circle-like path.</p>

<p>Finally, the problem is somewhat under-specified, unless you also add desired velocity/spin at the time of arrival.</p>

<p>So, the problem, as stated (even with adding mass), requires solving discontinuous differential equations in an underspecified problem system. There may exist a closed form solution to this, but when I've had to do this (in simulation systems, not real-world systems) I've ended up using simple planners and PID-type beahviors, rather than finding the "optimal" solution.</p>

<p>For example, one simple planner could be to first apply torque in a closed form to turn to face the desired target point at spin zero (this is a simple quadratic equation) and then turn on max thrust; you will get to the point (at a pretty high velocity.)
If you want to get to the point with velocity 0, then you have to reverse thrust at the middle of the trajectory.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1255" data-toggle = "popover">
				<p>user name : Jon Watte</p>
				<p> user reputation : 645</p>
				<p class = "tagcontent" id = "usertaginfo-1255">{'None': 43, 'cooling': 7, 'servos': 7, 'heat-management': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1255" class = 'collapse'>
			</div>
				<textarea id = "speech-1255" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1255">
					<img id="start_img-1255" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1255">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>