<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Drones and camera streaming
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6701" class = "post">
			<h2>Question</h2>
			<div id="vote-6701" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1362</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Drones and camera streaming</h2>
<p>How do you stream video feed from a camera on a drone? I would think that at high altitudes Wi-Fi won't work. </p>

<p>So what would you usually do, and how?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6701" data-toggle = "popover">
				<p>user name : drone</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6701">{'quadcopter': 2, 'None': 0, 'cameras': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6701">Load Comments</button></br>
			<div id = "commentsection-6701" class = 'collapse'>
			<div id = "comment-9698" class = "comment">
				<p>A bit of research before asking a question would get you a long way :) If using the video stream for real-time navigation Wifi is not an option even at short ranges because of the digital codecs lag. What do you intend to do?</p>
			</div>
			</div>
				<textarea id = "speech-6701" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6701">
					<img id="start_img-6701" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6701">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6704"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6704" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It all depends on the video quality that you require. The short answer is to use a 3G or 4G transmitter, assuming that you are in an area with <em>mobile coverage</em>, to either a local device (Mobile phone) or a cloud based service. </p>

<p>Other options exist, including the use of <em>XBee</em> networks. XBee networks (depending on the series used and protocol, and whether you employ a regular or pro device) can offer ranges from a couple of dozen meters up to 16Kms or more (using a 900 MHz XBee Pro (in the US), or a 868 MHz XBee Pro (in the EU)). However, the data rate of an XBee will probably not be sufficient to carry video<sup>1</sup>.</p>

<p>However, Wi-Fi <em>can</em> be used for fairly large distances. The range of a Wi-Fi signal, can range from 300 to 2000 meters, depending on equipment and conditions. The range will varies due to a number of factors:</p>

<ul>
<li>Power of the transmitter. The bigger the antenna the further the
signal will radiate, with less attenuation;</li>
<li>The antenna used.  In ascending order of power Whip (or wire), Chip,
PCB, or external (via a U.FL or RPSMA connector);</li>
<li>The frequency used. Generally the lower the frequency the further the signal can travel. A 5GHz network has a shorter range than 2.4 GHz;</li>
<li>The environment. Nearby trees, buildings, direct line of sight,
atmospheric conditions, etc. can all negatively affect the range of
the Wi-Fi signal. A direct line of sight on a clear day is obviously
a better environment than in a forest on a foggy day.</li>
</ul>

<p>Don't forget that the quality of the stream will be less than if you were to record directly to an on-board storage (i.e. SD card).</p>

<hr>

<p><sup>1</sup> From <a href="http://diydrones.com/forum/topics/xbee-for-video-transmission" rel="nofollow">x-bee for video transmission?</a></p>

<blockquote>
  <p>The data rate is a non-starter. Xbee is designed for serial communications at a max of 230kbps. That's too slow for any kind of decent video</p>
</blockquote>

<p>and</p>

<blockquote>
  <p>2.4 GHz Xbee products as well as 800 MHz products have data rates below 250kbps.</p>
</blockquote>

<p>Mind you, this, again, all depends on the video quality that you require. The thread <a href="http://www.electro-tech-online.com/threads/can-you-use-xbee-to-transmit-video.98276/" rel="nofollow">Can you use XBee to transmit video?</a> points to a <a href="https://en.wikipedia.org/wiki/Bit_rate#Video" rel="nofollow">Wikipedia</a> article, which states:</p>

<blockquote>
  <p><strong>Video</strong></p>
  
  <ul>
  <li>16 kbit/s   videophone quality (minimum necessary for a consumer-acceptable "talking head" picture using various video compression schemes). </li>
  </ul>
</blockquote>

<p>Another <a href="http://www.societyofrobots.com/robotforum/index.php?topic=5463.0" rel="nofollow">thread</a>, notes that the XBee's 250kps is half duplex, so that actual data rate is only ~125kbps. So, it would depend on the data rate of the camera that you wish to use.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6704" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-6704">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6704" class = 'collapse'>
			</div>
				<textarea id = "speech-6704" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6704">
					<img id="start_img-6704" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6704">Comment</button>
			<br><div id = "ans-6752"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6752" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Common solutions are from those who fly FPV (First Person View), they use simple analog cameras connected to 900 MHz, 2.4 GHz, and 5 GHz the lower the frequency generally the longer the transmission distance. With a 1 W 900 MHz transmitter with a cloverleaf antenna (a common antenna type), and a 18 dB gain patch antenna directed at your craft you can easily get 5+ miles line of site. </p>

<p>If your asking about large commercial UAV systems, e.g. the predator, they use satellites to transmit and receive telemetry and video.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6752" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-6752">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6752">Load Comments</button></br>
			<div id = "commentsection-6752" class = 'collapse'>
			<div id = "comment-16772" class = "comment">
				<p>Does that also mean that lower frequency (longer distance) can only transmit lower quality images?</p>
			</div>
			<div id = "comment-16775" class = "comment">
				<p>@Paul, you ought to ask that as a new question for best results, but typically analog FPV signals are only about 240 scan lines of resolution, so 900MHz is plenty.</p>
			</div>
			<div id = "comment-16776" class = "comment">
				<p>I was thinking of improving the answer.  But it's indeed interesting to know which frequency to fit with which camera. I'm not looking to buy one so I'm not actually asking it, but I wondered and tought it might help the question asker. (But most will come with the right transmitter? Or can it save a lot to buy separate?)</p>
			</div>
			</div>
				<textarea id = "speech-6752" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6752">
					<img id="start_img-6752" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6752">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>