<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Drone Battery Question
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7765" class = "post">
			<h2>Question</h2>
			<div id="vote-7765" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 105</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Drone Battery Question</h2>
<p><strong>Background:</strong></p>

<ol>
<li>6 propeller drone w 20C 3s 6400 mAh 11.1 liPO battery</li>
<li>4 propeller drone w 25C 2s 5000 mAh 7.40 liPO battery</li>
</ol>

<p><strong>Behavior:</strong></p>

<ul>
<li><p>Drone 1 flies with ease</p></li>
<li><p>Drone 2 struggles hover 2-3 inches above ground</p></li>
</ul>

<p><strong>Question:</strong></p>

<p>The microcontroller, all props, ESCs, and motors are the same. I'm thinking the reason the drones are flying so differently is because of the difference in batteries. IF the batteries are the reason, what would be the property that is most responsible for the difference in flight?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7765" data-toggle = "popover">
				<p>user name : Jacksonkr</p>
				<p> user reputation : 220</p>
				<p class = "tagcontent" id = "usertaginfo-7765">{'quadcopter': 2, 'None': 6, 'ardupilot': 0, 'imu': 2, 'localization': 1, 'battery': 0, 'arduino': 4, 'precise-positioning': 1, 'uav': 3, 'kinect': 0, 'microcontroller': 3, 'mobile-robot': 1, 'ultrasonic-sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7765">Load Comments</button></br>
			<div id = "commentsection-7765" class = 'collapse'>
			<div id = "comment-11303" class = "comment">
				<p>Since you are running the quad with a lower voltage, the motor rpm will be lower. Try putting larger props on those ones. Lower rpm + larger diameter will give you roughly the same lift per motor.</p>
			</div>
			</div>
				<textarea id = "speech-7765" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7765">
					<img id="start_img-7765" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7765">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7767"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7767" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <h2>Power Law:</h2>
  
  <p>Power = Current x Voltage</p>
</blockquote>

<p>The voltage of the batteries plays a huge difference in whether electronics function properly. </p>

<p>Each of them is built to run using a particular voltage - 3.3V, 5V, 6V, 7.2V, 11.1V, 12V, 19V and 24V are some common operating voltages for electronics. Some devices have a <em>voltage regulator</em> that shift input voltages to a safe level. This allows you to use a higher voltage power supply to power your robot/computer/sensor. For example, the Arduino Uno has a voltage regulator that accepts voltages between 7-30V and converts them to the 5V that the microprocessor runs at.</p>

<p>From a motor standpoint, decreased voltage means lower power output, which means that either your motors won't turn as fast or they won't be able to output as much torque. </p>

<p><strong>The best thing for you to do right now is look up the datasheets online for your quadcopter or the individual components and find out what voltage each of the parts run at.</strong> If your second quadcopter needs anything higher than 7.2V, then there's your problem. If you have trouble deciphering the datasheets, you're welcome to edit your post to include the links and we'll try to help you understand them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7767" data-toggle = "popover">
				<p>user name : wyverniv</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-7767">{'quadcopter': 1, 'None': 10, 'power': 1, 'humanoid': 1, 'simulation': 1, 'design': 1, 'matlab': 1, 'mobile-robot': 1, 'dynamics': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7767" class = 'collapse'>
			</div>
				<textarea id = "speech-7767" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7767">
					<img id="start_img-7767" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7767">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>