<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dropping PWM on Ardrone Parrot 2.0
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-953" class = "post">
			<h2>Question</h2>
			<div id="vote-953" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 793</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dropping PWM on Ardrone Parrot 2.0</h2>
<p>I am having some issues with the <a href="http://ardrone2.parrot.com/usa/">ARDrone Parrot 2.0</a> and hope someone else may be running into the same thing.</p>

<p>While hovering, the drone is (seemingly) randomly losing altitude then recovering . It is doing so while not being commanded any velocity inputs and should hold altitude. </p>

<p>We are using the drivers from the <a href="https://github.com/AutonomyLab/ardrone_autonomy/tree/dev-unstable">ardrone_autonomy (dev_unstable branch) on github</a>. We are able to watch the PWM outputs being sent to the motor and they are dropping from the hover command do a small value before exponentially returning to the hover value when this drop occurs.</p>

<p>The issue could be a communication between the IMU and the onboard controller or on our software control implementation.</p>

<p>Has anyone seen a similar problem or suggestions to test/troubleshoot what is happening?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-953" data-toggle = "popover">
				<p>user name : Daman</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-953">{'quadcopter': 6, 'None': 0, 'ros': 6, 'pwm': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-953">Load Comments</button></br>
			<div id = "commentsection-953" class = 'collapse'>
			<div id = "comment-2259" class = "comment">
				<p>Are you using the ARDrone indoors or outdoors? Inferred from the previous question what terrain are you trying to hover over? Some terrains can cause issues with hovering. Have you tested in various environments? What control strategy are you using in your software control implementation? PID? Are you holding height using the onboard ultrasound sensor?</p>
			</div>
			</div>
				<textarea id = "speech-953" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-953">
					<img id="start_img-953" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-953">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-956"  class = "post">
				<h2>Answer</h2>
			<div id="vote-956" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have not used the ARDrone but have experience with height hold on another autopilot.</p>

<p>Without the further information, a quick google search found a possible firmware issue with ARDrone in <a href="http://forum.parrot.com/ardrone/en/viewtopic.php?id=17" rel="nofollow noreferrer">this thread</a>.</p>

<p>If you are using the onboard ultrasound sensor then as I mentioned in my post on <a href="https://robotics.stackexchange.com/questions/946/how-can-i-detect-the-edge-of-a-table">How can I detect the edge of a table?</a>. The ultrasound sensors can jump to zero sporadically for part of a second and this could cause the ARDrone to change altitude and then jump back to the real value.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-956" data-toggle = "popover">
				<p>user name : Tom Bamber</p>
				<p> user reputation : 303</p>
				<p class = "tagcontent" id = "usertaginfo-956">{'kinect': 3, 'mobile-robot': 5, 'None': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-956">Load Comments</button></br>
			<div id = "commentsection-956" class = 'collapse'>
			<div id = "comment-2280" class = "comment">
				<p>Tom,  We are using the drone indoors currently. We are in our lab which is a carpet floor and using high contrast colored tiles for the vision system to lock on to. We have not been able to test much in other environments due to our current lab setup at the university.</p>
			</div>
			<div id = "comment-2282" class = "comment">
				<p>So as for a control strategy, we are using an xbox controller to fly using a ROS node to read the inputs. The ROS files we are getting is from the ARdrone_autonomy github. The command is being sent to the onboard control of the drone which seems to be a PID. We have better narrowed down our issue since my first post. The ROS has a topic from the internal navigation data that gives the motor information. It shows the PWM values that are being sent to the motor as well as an internal integral term for the altitude PID controller. We are seeing that is being reset from 60 to 0 when the quad falls</p>
			</div>
			<div id = "comment-2351" class = "comment">
				<p>To confirm the PWM signals being sent to the motor are resetting from 60 to zero when the quad falls? If this is the case then one would need to trace back and determine where the mathematical error is coming from. I think the problem is coming from way your sensor data is used in the height hold, you cant tune your PID with that sort of error occuring.</p>
			</div>
			</div>
				<textarea id = "speech-956" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-956">
					<img id="start_img-956" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-956">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>