<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>DX100 controller communication protocol
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11807" class = "post">
			<h2>Question</h2>
			<div id="vote-11807" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 49</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>DX100 controller communication protocol</h2>
<p>I have a motoman robot for use in a pick and place application. It has a DX100 controller which has an ethernet interface which could be used to control a slave device using the Modbus TCP protocol. </p>

<p>The DX100 controller also supports Ethernet/IP and DeviceNet.
I know Modbus can be quite complex for first timers and I have little experience when it comes to programming these devices. </p>

<p>I would like to know, if someone here has ever worked with this controller, which communication protocol they used and why.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11807" data-toggle = "popover">
				<p>user name : ardv92</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-11807">{'communication': 0, 'None': 0, 'microcontroller': 0, 'serial': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11807" class = 'collapse'>
			</div>
				<textarea id = "speech-11807" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11807">
					<img id="start_img-11807" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11807">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11808"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11808" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I did not work with Motoman controllers, but I did work with other robots, Modbus and DeviceNet. </p>

<p>Modbus TCP is probably the easiest to use from the client side. On the DX100 Side you need to check which modbus address coresponds to the functionalites you would prefer. If you want to move the robot along the X axis, you need to check in the documentation which Modbus register(s) you need to write to make the robot move. (Please note that since I do not know the Motoman controller it is not sure that moving the robot via modbus is possible.)</p>

<p>After you have identified the needed registers, you can connect a freely available modbus slave (or master, depending on configuration) running on a normal PC to see if the robot moves when you write the registers. You can find a number of programs capable of doing this <a href="http://www.modbus.org/tech.php" rel="nofollow noreferrer">here</a>.</p>

<p>I assume it is needed that the robot is not connected to a PC but to a PLC via Modbus. If you have correctly identified the required registers via the PC software, you can cofigure the PLC to do the same, read/write the required Modbus registers and you are done. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11808" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11808">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11808" class = 'collapse'>
			</div>
				<textarea id = "speech-11808" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11808">
					<img id="start_img-11808" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11808">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>