<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dynamic model of a tank like robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7198" class = "post">
			<h2>Question</h2>
			<div id="vote-7198" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 129</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dynamic model of a tank like robot</h2>
<p>I am planning a tank like robot for hobby purpose. I have control engineering background, however I never applied on robotics. 
I would like to test different control theory, namely MPC. I saw a lot of publications regarding the kinematics and inverse kinematics of such a robot, however I am wondering if somebody can point out regarding the dynamics modelling of such a system,taking into account the forces, mass etc?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7198" data-toggle = "popover">
				<p>user name : OHL L </p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-7198">{'None': 0, 'wheeled-robot': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7198">Load Comments</button></br>
			<div id = "commentsection-7198" class = 'collapse'>
			<div id = "comment-10248" class = "comment">
				<p>you might consider asking two different questions. first is related to deriving the mathematical model (dynamics of the tank) and the second is related to sensors in a tank-like-robot and is a different topic.</p>
			</div>
			<div id = "comment-10265" class = "comment">
				<p>As @G rkan etin said I would suggest splitting your question to make it easier to answer, as for the positioning the accuracy depends on what you need, do you need 10m accuracy? do you need centimeter accuracy? what is your target application for this robot?</p>
			</div>
			<div id = "comment-10266" class = "comment">
				<p>I edited the question. I found the answer for the second one, hence I kept the first only.</p>
			</div>
			<div id = "comment-10268" class = "comment">
				<p>The question is currenly asking for parameter estimation, and not system identification. I suppose, for hobby purposes, parameter estimation might be a bit overkill. if you do not wish to have a perfect performing, speed holding tank. Tuning the control loops with tests might be more efficient. (_resultant tank hardware and software / time and effort committed_) I have not come across a good article or web source, so I started drafting something, but it will take too long and I've got no background on tanks. previous PID tuning discussions might be worth checking.</p>
			</div>
			<div id = "comment-10333" class = "comment">
				<p>Can you explain a bit more what problem you are trying to solve?  In other words, what are you trying to accomplish by modelling the system?</p>
			</div>
			<div id = "comment-12870" class = "comment">
				<p>I think that a quasi-static model of a robotic tank suffices. These things are often slow and suffer from a lot of friction.</p>
			</div>
			</div>
				<textarea id = "speech-7198" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7198">
					<img id="start_img-7198" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7198">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8074"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8074" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For building a dynamic model from scratch of any differential drive mobile robot (i.e., a tank), the best resource I've found so far is a paper by Dhaouadi and Hatab (<a href="http://www.omicsgroup.org/journals/dynamic-modelling-of-differentialdrive-mobile-robots-using-lagrange-and-newtoneuler-methodologies-a-unified-framework-2168-9695.1000107.pdf" rel="nofollow">PDF link</a>) titled "Dynamic Modelling of Differential-Drive Mobile Robots using Lagrange and Newton-Euler Methodologies: A Unified Framework". It even includes some discussion of how to do the dynamic modeling of the actuators.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8074" data-toggle = "popover">
				<p>user name : Brandon J DeHart</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-8074">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8074" class = 'collapse'>
			</div>
				<textarea id = "speech-8074" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8074">
					<img id="start_img-8074" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8074">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>