<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dynamic programming algorithm aka Bellman equation in Robotics?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1148" class = "post">
			<h2>Question</h2>
			<div id="vote-1148" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 320</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dynamic programming algorithm aka Bellman equation in Robotics?</h2>
<p>The dynamic programming algorithm refers to the <a href="http://en.wikipedia.org/wiki/Bellman_equation" rel="nofollow noreferrer">Bellman equation</a>. An open-loop control decides movement at the initial point while a closed-loop control decides control during the movement. Now most robotic application looks like closed-loop control: in every point, it checks how it is doing with respect to some reward function, this is my thinking. Now most participants in threads such as <a href="https://robotics.stackexchange.com/questions/128/how-mature-is-real-time-programming-in-robotics">How mature is real-time programming in robotics?</a> do not differentiate their scope, perhaps they haven't thought about it. Anyway, I am interested to know:</p>

<p><strong>How is dynamic programming used in robotics? Is there any research about DP usage in robotics?</strong></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1148" data-toggle = "popover">
				<p>user name : hhh</p>
				<p> user reputation : 166</p>
				<p class = "tagcontent" id = "usertaginfo-1148">{'dynamic-programming': 2, 'None': 1, 'logic-control': 9, 'design': 9, 'research': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1148">Load Comments</button></br>
			<div id = "commentsection-1148" class = 'collapse'>
			<div id = "comment-2615" class = "comment">
				<p>How is "dynamic programming" related to "real-time programming"?</p>
			</div>
			<div id = "comment-2622" class = "comment">
				<p>@Shahbaz *"Dynamic programming"* is a term invented by Bellman, a specific mathematical thing used in academia. The *"real-time programming"* may be or may not be related to it, I don't know. It looks like a term used by some people not understanding some applied mathematics. Can you explain me what you mean by real-time programming? It looks like closed-loop optimization problem.</p>
			</div>
			<div id = "comment-2624" class = "comment">
				<p>[Real-time computing](http://en.wikipedia.org/wiki/Real-time_computing) is not a term used by people who don't understand applied mathematics. Real-time computing/programming is a part of computer science related to implementing and scheduling tasks that have a deadline. In particular, hard real-time tasks should _not_ miss their deadlines under any circumstances. Real-time is often mistaken for "fast", which is an orthogonal concept. Closed-loop control is a very simple example of a real-time task. Dynamic program is a completely unrelated subject.</p>
			</div>
			</div>
				<textarea id = "speech-1148" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1148">
					<img id="start_img-1148" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1148">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1149"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1149" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I won't answer directly how Bellman equation is used in robotics but DP is used in many areas, see the below. Even though we have a dynamic system with velocity/acceleration, we can still use linear-approximation like linear-programming algorithms <a href="http://www.ensta-bretagne.fr/jaulin/robotetas.pdf" rel="nofollow">here</a>. I provide below some material and lectures about Dynamic programming and robotics. This is pretty interdisciplinary area so hard to find concise description. </p>

<p><strong>Areas</strong></p>

<blockquote>
  <ul>
  <li>path-planning</li>
  <li>vision such as stereo-vision</li>
  <li><a href="http://en.wikipedia.org/wiki/Constraint_satisfaction_problem" rel="nofollow">CSP</a> and VCSP problems (see the cognitive robotics below)</li>
  </ul>
</blockquote>

<p><strong>Alert about terminology!</strong></p>

<blockquote>
  <p>The term <em>"dynamic programming"</em> is a special term referring to special class of mathematical problems. The term <em>"dynamic"</em> system in physics refers to problems in continuum mechanics where objects are not in rest or in constant motion but they can accelerate. Then again <a href="http://en.wikipedia.org/wiki/Statics" rel="nofollow">Statics</a> considers problems in stable equilibrium.</p>
  
  <p>The term <em>"dynamic programming"</em> is programming for historical reasons but the basic idea is to break the large problem into small problems. It has analogues to fields such as Economics (for example sub-game-perfect equilibrium in game-theory).</p>
</blockquote>

<p><strong>Material</strong></p>

<blockquote>
  <p><strong>Path-planning</strong></p>
  
  <ul>
  <li><p><a href="http://www.cc.gatech.edu/fac/Chris.Atkeson/legs/xmorimo.pdf" rel="nofollow">http://www.cc.gatech.edu/fac/Chris.Atkeson/legs/xmorimo.pdf</a></p></li>
  <li><p><a href="http://www.cs.ubc.ca/~mitchell/Papers/publishedCDC08.pdf" rel="nofollow">http://www.cs.ubc.ca/~mitchell/Papers/publishedCDC08.pdf</a></p></li>
  <li><p><a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=1104317&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D1104317" rel="nofollow">http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=1104317&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D1104317</a></p></li>
  <li><p><a href="http://ramp.ensc.sfu.ca/fmmtutorial/slides/mitchell.pdf" rel="nofollow">http://ramp.ensc.sfu.ca/fmmtutorial/slides/mitchell.pdf</a></p></li>
  </ul>
  
  <p><strong>Vision, Stereo vision and Dynamic programming</strong></p>
  
  <ul>
  <li><p><a href="http://www.cipprs.org/papers/VI/VI1999/pp117-124-Gonzalez-et-al-1999.pdf" rel="nofollow">http://www.cipprs.org/papers/VI/VI1999/pp117-124-Gonzalez-et-al-1999.pdf</a></p></li>
  <li><p>[popularly citated paper] <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=4767639&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D4767639" rel="nofollow">http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=4767639&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D4767639</a></p></li>
  </ul>
  
  <p><strong><a href="http://search.mit.edu/search?site=ocw&amp;client=mit&amp;getfields=%2a&amp;output=xml_no_dtd&amp;proxystylesheet=http%3A%2F%2Focw.mit.edu%2Fsearch%2Fgoogle-ocw.xsl&amp;proxyreload=1&amp;as_dt=i&amp;oe=utf-8&amp;departmentName=web&amp;courseName=&amp;q=robotics+dynamic+programming&amp;btnG.x=-595&amp;btnG.y=-267" rel="nofollow">Lectures</a></strong></p>
  
  <ul>
  <li><p>Underactuated robotics in MIT <a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-832-underactuated-robotics-spring-2009/" rel="nofollow">here</a>
  -- this lecture <a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-832-underactuated-robotics-spring-2009/video-lectures/lecture-5-numerical-optimal-control-dynamic-programming/" rel="nofollow">here</a>
  about DP</p></li>
  <li><p>Cognitive robotics has some tasks about DP <a href="http://ocw.mit.edu/courses/aeronautics-and-astronautics/16-412j-cognitive-robotics-spring-2005/assignments/ps2.pdf" rel="nofollow">here</a></p></li>
  </ul>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1149" data-toggle = "popover">
				<p>user name : hhh</p>
				<p> user reputation : 166</p>
				<p class = "tagcontent" id = "usertaginfo-1149">{'dynamic-programming': 2, 'None': 1, 'logic-control': 9, 'design': 9, 'research': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1149" class = 'collapse'>
			</div>
				<textarea id = "speech-1149" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1149">
					<img id="start_img-1149" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1149">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>