<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dynamic simulation of compliant elements in quadruped robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8471" class = "post">
			<h2>Question</h2>
			<div id="vote-8471" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 155</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dynamic simulation of compliant elements in quadruped robot</h2>
<p>I have a preliminary design for a legged robot that uses compliant elements in the legs and in parallel with the motors for energy recovery during impact as well as a pair of flywheels on the front and back that will oscillate back and forth to generate angular momentum. I'd like to create a dynamic simulation of this robot in order to be able to test a few control strategies before I build a real model. What simulation package should I be using and why? </p>

<p>I have heard good things about MSC Adams, namely that it is slow to learn, but has a lot of capability, including integration with matlab and simulink. I have also heard about the simmechanics toolbox in matlab, which would be nice to use since I already am decent with CAD and know the matlab language. I am not yet familiar with simulink, but have used Labview before.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8471" data-toggle = "popover">
				<p>user name : wyverniv</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-8471">{'quadcopter': 1, 'None': 10, 'power': 1, 'humanoid': 1, 'simulation': 1, 'design': 1, 'matlab': 1, 'mobile-robot': 1, 'dynamics': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8471" class = 'collapse'>
			</div>
				<textarea id = "speech-8471" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8471">
					<img id="start_img-8471" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8471">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8482"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8482" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Matlab Simulink has a blockset called Simmechanics. It is very well suited for robotic simulation (it is ment for multibody mechanics simulations). It is a bit tricky to set it up for mobile robots (get the force reaction from the ground) but you can find demos and examples to do that. Like <a href="http://www.ntu.edu.sg/home/mffyap/web/docs/buggy.pdf" rel="nofollow">this</a>. </p>

<p>Compliance is however more tricky. If you want to simulate it exaclty, you will need to used a Finite Element Analysis software (e.g Ansys, CosmosWorks for SolidWorks, ...). If you are fine with very very rough approximations of the compliance simulation you can set up additional joints in SimMechanics with a spring damper actutation which will act as a comliant joint. Like <a href="http://www.mathworks.com/company/newsletters/articles/modeling-flexible-bodies-in-simmechanics-and-simulink.html" rel="nofollow">this</a>.</p>

<p>I have never worked with Adams, but I assume in your case it does not offer any additional functionality when compared to SimMechanics. However it might be easier to implement mobile robots in Adams. I do not know if Adams can also do finite element simulations. </p>

<p>I am a bit worried about simulating the oscillations with any multibody simulations tool. Normally in multibody simultations a sample time of 1ms is enough. In your case the sample time will very much influence how precisly the oscilations will be simulatied and a 1 ms sample time might make your model unusable (if you have 1khz oscilations, you would have 1 sample from each oscillation, which is unusable).Pease make sure to colerate the sample time with the oscilations, as a rule of thumb I would recommend 10 samples per oscilation (I think the Nyquist theorem recommends at least 2)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8482" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8482">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8482" class = 'collapse'>
			</div>
				<textarea id = "speech-8482" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8482">
					<img id="start_img-8482" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8482">Comment</button>
			<br><div id = "ans-8881"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8881" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As I understand from your case is I think you need to do multibody dynamics (major part for any robot simulation) and some flexible body simulation in dynamics (for compliant parts)
You have learnt write about MSC Adams capabilites.
Follow this link:
<a href="http://www.mscsoftware.com/product/flexible-multibody-systems-adams" rel="nofollow">http://www.mscsoftware.com/product/flexible-multibody-systems-adams</a>
Your concept can be simulated with Adams View and Flex. The only downside for beginners is Adams's vastness.</p>

<p>MatLAB has very limited features for your case.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8881" data-toggle = "popover">
				<p>user name : Dhrupal R Shah</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-8881">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8881">Load Comments</button></br>
			<div id = "commentsection-8881" class = 'collapse'>
			<div id = "comment-14644" class = "comment">
				<p>I notice that Adams seems to be a very pricey solution for the needs of a maker. Does it really contain necessary utilities not found in other libraries?</p>
			</div>
			<div id = "comment-18859" class = "comment">
				<p>Adams is like u can simulate any multi-body dynamics. Other solutions now a days is Autodesk Simulation, FEA and Multibody dynamics engine in Inventor or Solidworks simulation. Both of this solves purpose of CAD design as well as some simulation. But the features are limited. For small problems, they are very good.
Yes, MSC Adams is very costly. Small companies or makers cannot afford it.</p>
			</div>
			</div>
				<textarea id = "speech-8881" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8881">
					<img id="start_img-8881" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8881">Comment</button>
			<br><div id = "ans-8886"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8886" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check out this <a href="http://royfeatherstone.org/spatial/index.html" rel="nofollow">link</a>.</p>

<p>It is about a Matlab Toolbox by Roy Featherstone, author of the book Rigid Body Dynamics Algorithms. </p>

<p>It can be used for robot with contacts, like in your case. I don't know if it can be extended to compliant elements.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8886" data-toggle = "popover">
				<p>user name : charles</p>
				<p> user reputation : 266</p>
				<p class = "tagcontent" id = "usertaginfo-8886">{'None': 9, 'ekf': 3, 'frame': 3, 'slam': 3, 'imu': 4, 'kalman-filter': 3, 'mobile-robot': 4, 'gyroscope': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8886" class = 'collapse'>
			</div>
				<textarea id = "speech-8886" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8886">
					<img id="start_img-8886" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8886">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>