<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dynamically detect changing obstacles
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6944" class = "post">
			<h2>Question</h2>
			<div id="vote-6944" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dynamically detect changing obstacles</h2>
<p>So the idea is that there would be one robot acting as overwatch, which would detect all of the obstacles in an area (which are not necessarily static), and then send the data about the obstacles' positions to another robot that would navigate around the obstacles to a goal.</p>

<p>My initial thought was to have the overwatch robot be in an elevated position in the centre of the area, then sweep around using an ultrasonic sensor. This way, it could keep track of the obstacles in a set of polar coordinates (distance, angle). But then I realised that this method doesn't account for collinear obstacles.</p>

<p>So the question is, what is the best way to detect a bunch of non-static obstacles within an area?</p>

<p>As a side note, I have seen a system similar to this, where there was a robot detecting obstacles (in that case, a crowd of people) and another robot pathfinding around the obstacles (the people), but I'm unsure exactly how that system was detecting the obstacles.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6944" data-toggle = "popover">
				<p>user name : HotelCalifornia</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-6944">{'sonar': 0, 'None': 0, 'computer-vision': 0, 'sensors': 0, 'ultrasonic-sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6944">Load Comments</button></br>
			<div id = "commentsection-6944" class = 'collapse'>
			<div id = "comment-9911" class = "comment">
				<p>As this is the first time I've used this site, I'm not really sure what tags this fits under :s</p>
			</div>
			<div id = "comment-9913" class = "comment">
				<p>It sounds like what you want is object detection and tracking.  This is much more easily done using a camera and image processing techniques.  If you're limiting yourself to a 2D map, then you may find this tutorial by StudentDave helpful: https://youtu.be/8RbD4X8y65A</p>
			</div>
			<div id = "comment-9915" class = "comment">
				<p>Interesting, I hadn't thought about using actual image processing</p>
			</div>
			<div id = "comment-9916" class = "comment">
				<p>The main drawback is that still cameras only work if they are high enough to capture the entire 2D space.  This might not work for your application.</p>
			</div>
			<div id = "comment-9917" class = "comment">
				<p>Well, in a small test environment I could just mount the camera apparatus to the ceiling</p>
			</div>
			</div>
				<textarea id = "speech-6944" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6944">
					<img id="start_img-6944" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6944">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10424"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10424" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use ultrasonic sensor or IR sensor. Ultra sonic sensor is bit complicated but its very useful for your project and it could also help you in your future projects. there are various websites that will help and some of them are listed below. 
<a href="http://www.instructables.com/id/Ultrasonic-Range-detector-using-Arduino-and-the-SR/" rel="nofollow">http://www.instructables.com/id/Ultrasonic-Range-detector-using-Arduino-and-the-SR/</a> </p>

<p><a href="https://www.youtube.com/watch?v=PG2VhpkPqoA" rel="nofollow">https://www.youtube.com/watch?v=PG2VhpkPqoA</a></p>

<p>GOOD LUCK.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10424" data-toggle = "popover">
				<p>user name : Rakesh</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10424">{'None': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10424" class = 'collapse'>
			</div>
				<textarea id = "speech-10424" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10424">
					<img id="start_img-10424" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10424">Comment</button>
			<br><div id = "ans-10851"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10851" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Having an overhead camera (like a single low cost webcam if needed). Ultrasonics is meant to be directional while cameras are not meant to be. The downward facing camera placed at a height and horizontally centered over the area can detect robot and obstacles in Cartesian coordinates and that information can be transferred to the moving robot using Bluetooth or similar methods. If the camera cannot be mounted overhead, inverse perspective transform can be applied or rotation matrices can be employed. If occlusion occurs, more number of cameras can be used generally using data fusion. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10851" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-10851">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10851" class = 'collapse'>
			</div>
				<textarea id = "speech-10851" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10851">
					<img id="start_img-10851" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10851">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>