<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Dynamic torque simulation for a 6 DOF robotic arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10256" class = "post">
			<h2>Question</h2>
			<div id="vote-10256" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 762</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Dynamic torque simulation for a 6 DOF robotic arm</h2>
<p>I am working on a 6 DOF robotic arm(industrial manipulator). I have the basic structural specs (dimensions, weights etc) for the links and joints with me. </p>

<p>Basically, I want to simulate both <em>static torque</em>(Due to the weight of the arm) and <em>dynamic torque</em>(due to the accelerating joint's motion) <strong>Torque</strong> that the joints will need to bear for a given set of motions. </p>

<p>I have looked on the web and found tools like the ROS-MoveIt Visualiser, Gazebo, V-REP which let me visually see a robotic arm and simulate the position logic and external factors like collisions etc. But I have been unable to simulate/calculate dynamic torque values from these tools.</p>

<p>Ideally, I'd want to define a fixed motion of the end effector(i.e. move the robot between 2 positions) and measure the Torque(both static and dynamic) during that particular move.</p>

<p>These torque values are essential for selecting the optimum motors and gearboxes for my design and payload.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10256" data-toggle = "popover">
				<p>user name : Tarang Shah</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-10256">{'current': 2, 'None': 0, 'manipulator': 1, 'motor': 2, 'torque': 3, 'simulation': 1, 'brushless-motor': 2, 'robotic-arm': 3, 'dynamics': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10256" class = 'collapse'>
			</div>
				<textarea id = "speech-10256" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10256">
					<img id="start_img-10256" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10256">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10257"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10257" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In order to simulate dynamics you need a multi-body dynamics simulation software. Matlab-Simulink has  SimMechanics toolbox to do this, but many CAD software used to carry out the mechanical design of the robot can aolso do the simulation. SolidWorks for example has a simulation component calld Simulation. </p>

<p>If you are interested in wiring the dynamic equations and calculating the torques you can use the iterative newton-euler method. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10257" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10257">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10257">Load Comments</button></br>
			<div id = "commentsection-10257" class = 'collapse'>
			<div id = "comment-18368" class = "comment">
				<p>SimMechanics is now called [Simscape Multibody](http://www.mathworks.com/products/simmechanics/), fyi.</p>
			</div>
			</div>
				<textarea id = "speech-10257" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10257">
					<img id="start_img-10257" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10257">Comment</button>
			<br><div id = "ans-10258"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10258" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The dynamics of robotic arms are fairly complex, especially when there are more than three joints to consider. The problem is that the movement of each joint moves all the links beyond it, which can induce torques at other joints. You have to consider how the movement of all links affects each individual joint.</p>

<p>There is software that can automatically compute the dynamics based on the geometry you provide (MATLAB + SimMechanics comes to mind, although that is an expensive option). I don't have any knowledge of free simulators, but I'm sure they exist. You may have to search around to see what simulator is right for your application.</p>

<p>Another option is to program your own simulation. The mathematics behind the dynamics of serial link robots are covered in many different textbooks. In order to do this part from scratch you would need to be familiar with using matrices, plus some understanding of differential equations. I can give some of the basics here, to give you an idea of what you would have to program.</p>

<p>You can calculate the torque required to move a serial-link robotic arm using the following nonlinear matrix equation:</p>

<p>$\boldsymbol{\tau} = \boldsymbol{M}(\boldsymbol{q})\ddot{\boldsymbol{q}} + \boldsymbol{C}(\boldsymbol{q},\dot{\boldsymbol{q}})\dot{\boldsymbol{q}} + \boldsymbol{G}(\boldsymbol{q})$</p>

<p>where</p>

<p>$\boldsymbol{\tau}$ is the (6x1) vector of joint torques</p>

<p>$\boldsymbol{q}$ is a (6x1) vector of joint angles</p>

<p>$\dot{\boldsymbol{q}}, \ddot{\boldsymbol{q}}$ are the (6x1) joint angular velocity vector and joint angular acceleration vector, respectively</p>

<p>$\boldsymbol{M}(\boldsymbol{q})$ is the (6x6) inertia matrix of the robot, which is a function of the joint angles</p>

<p>$\boldsymbol{C}(\boldsymbol{q},\dot{\boldsymbol{q}})$ is the (6x6) centrifugal and Coriolis effect matrix, which is a function of the joint angles and angular velocities</p>

<p>$\boldsymbol{G}(\boldsymbol{q})$ is the (6x1) gravitational torque vector, which is a function of joint position</p>

<p>Notice that this equation includes both the dynamic and static loads on each joint. If you set the joint angular velocity and acceleration to zero, you would have the static equation by itself.</p>

<p>You may be able to find expressions for the $M$, $C$, and $G$ matrices online, but you can also try to derive them for your application using the Euler-Lagrange method.</p>

<p>So, the steps you would have to take are:</p>

<ol>
<li>Derive the dynamic matrices associated with your application.</li>
<li>Derive the equations that convert the motion (position, velocity, acceleration) of the end-effector to the motion of the joints (the inverse kinematics).</li>
<li>Write a program that

<ul>
<li>Converts an end-effector trajectory to a set of joint trajectories (position, velocity, and acceleration).</li>
<li>Computes the required torque using the dynamic equation for each point along that trajectory.</li>
</ul></li>
</ol>

<p>This is all possible (in fact I have done this myself for a 3 DOF manipulator) but it might be too much work for an enthusiast.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10258" data-toggle = "popover">
				<p>user name : BarbalatsDilemma</p>
				<p> user reputation : 208</p>
				<p class = "tagcontent" id = "usertaginfo-10258">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10258">Load Comments</button></br>
			<div id = "commentsection-10258" class = 'collapse'>
			<div id = "comment-18369" class = "comment">
				<p>Please notice the $C$ matrix in @BarbalatsDilemma's answer.  Unlike in the question, where you call out dynamic torque to be due to accelerating the robot's joints, you also need to account for the torque required just to compensate for Coriolis and centrifugal forces.  For some motion profiles these values exceed the other torque requirements.</p>
			</div>
			</div>
				<textarea id = "speech-10258" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10258">
					<img id="start_img-10258" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10258">Comment</button>
			<br><div id = "ans-10260"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10260" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you may be going about this problem wrong. If you find a simulator that reports joint torques, then what? Are you going to iterate through every possible start and end location? </p>

<p>You should only need to evaluate the worst-case motion. Worst case static torque would be with the arm straight out carrying maximum load, and worst case dynamic torque would probably be whatever the largest range of motion would be while fighting gravity.</p>

<p>Evaluate the worst-case scenarios (not necessarily the same for each joint, by the way!) and you're done.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10260" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10260">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10260" class = 'collapse'>
			</div>
				<textarea id = "speech-10260" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10260">
					<img id="start_img-10260" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10260">Comment</button>
			<br><div id = "ans-10263"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10263" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://openrave.org/" rel="nofollow">OpenRave</a> is another good library that will calculate dynamic torques.  Use the <a href="http://openrave.org/docs/latest_stable/coreapihtml/classOpenRAVE_1_1KinBody.html#a9a94b930b993ed73c69b366f681f2e73" rel="nofollow">ComputeInverseDynamics</a> function.  Here is a python example:</p>

<pre><code>robot.SetDOFValues(dofvalues)
robot.SetDOFVelocities(dofvelocities)
torques = robot.ComputeInverseDynamics(dofaccelerations)
</code></pre>

<p>or</p>

<pre><code>torqueconfiguration, torquecoriolis, torquegravity = robot.ComputeInverseDynamics(dofaccelerations,None,returncomponents=True)
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10263" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-10263">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10263" class = 'collapse'>
			</div>
				<textarea id = "speech-10263" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10263">
					<img id="start_img-10263" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10263">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>