<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Easiest way to submit a longer non standard character string via MAVLink
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7002" class = "post">
			<h2>Question</h2>
			<div id="vote-7002" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 100</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Easiest way to submit a longer non standard character string via MAVLink</h2>
<p>I want to submit my gains for the PID regulator via MAVLink. 
Unfortunately, I am not very used to MAVLink and there are several functions which may be used for that purpose (I think). My string is currently JSON formatted and I was directly sending it to the serial port before. </p>

<p>Is there a straight forward way to submit the data like it is (see below) with MAVLink, or is it better not to transfer a JSON string with MAVLink and submit each single value? If yes, what is the function of choice. </p>

<p>So far I noticed that for most of the sensors, there are already MAVLink function defined. For the PID gains I found not so much.</p>

<pre><code>AP_HAL::UARTDriver *pOut = uartX == UART_C ? hal.uartC : hal.uartA;
pOut-&gt;printf( "{\"t\":\"pid_cnf\","
              "\"p_rkp\":%.2f,\"p_rki\":%.2f,\"p_rkd\":%.4f,\"p_rimax\":%.2f,"
              "\"r_rkp\":%.2f,\"r_rki\":%.2f,\"r_rkd\":%.4f,\"r_rimax\":%.2f,"
              "\"y_rkp\":%.2f,\"y_rki\":%.2f,\"y_rkd\":%.4f,\"y_rimax\":%.2f,"
              "\"p_skp\":%.2f,\"r_skp\":%.2f,\"y_skp\":%.4f}\n",
              static_cast&lt;double&gt;(pit_rkp), static_cast&lt;double&gt;(pit_rki), static_cast&lt;double&gt;(pit_rkd), static_cast&lt;double&gt;(pit_rimax),
              static_cast&lt;double&gt;(rol_rkp), static_cast&lt;double&gt;(rol_rki), static_cast&lt;double&gt;(rol_rkd), static_cast&lt;double&gt;(rol_rimax),
              static_cast&lt;double&gt;(yaw_rkp), static_cast&lt;double&gt;(yaw_rki), static_cast&lt;double&gt;(yaw_rkd), static_cast&lt;double&gt;(yaw_rimax),
              static_cast&lt;double&gt;(pit_skp), static_cast&lt;double&gt;(rol_skp), static_cast&lt;double&gt;(yaw_skp) );
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-7002" data-toggle = "popover">
				<p>user name : dgrat</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-7002">{'quadcopter': 14, 'magnetometer': 1, 'None': 0, 'ardupilot': 4, 'orientation': 0, 'accelerometer': 4, 'arduino': 2, 'multi-rotor': 7, 'c++': 1, 'mavlink': 1, 'calibration': 1, 'compass': 1, 'sensors': 5, 'navigation': 3, 'gyroscope': 1, 'gps': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7002">Load Comments</button></br>
			<div id = "commentsection-7002" class = 'collapse'>
			<div id = "comment-9969" class = "comment">
				<p>static_cast is a C++ feature, not C.  please modify the list of tags to indicate C++ and not C</p>
			</div>
			</div>
				<textarea id = "speech-7002" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7002">
					<img id="start_img-7002" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7002">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7103"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7103" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need to use the mavlink parameter protocol, which is a coordinated set of mavlink messages between the ground control station and the vehicle (a bit trickier than just sending strings over the serial port, unfortunately).  The protocol is documented here: <a href="http://qgroundcontrol.org/mavlink/parameter_protocol" rel="nofollow noreferrer">http://qgroundcontrol.org/mavlink/parameter_protocol</a></p>

<p>The following diagrams shows the flow of messages (replace "QGroundControl" with your application and "MAV Component" with your vehicle):</p>

<p><img src="https://i.stack.imgur.com/h60s2.png" alt="enter image description here"></p>

<p>(You might also want to double check the parameter names for the particular flight controller/vehicle you're using, e.g. here are the parameters for ArduCopter/APM:Copter: <a href="http://copter.ardupilot.com/wiki/configuration/arducopter-parameters/" rel="nofollow noreferrer">http://copter.ardupilot.com/wiki/configuration/arducopter-parameters/</a>)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7103" data-toggle = "popover">
				<p>user name : John Wiseman</p>
				<p> user reputation : 138</p>
				<p class = "tagcontent" id = "usertaginfo-7103">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7103" class = 'collapse'>
			</div>
				<textarea id = "speech-7103" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7103">
					<img id="start_img-7103" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7103">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>