<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Editing profile on meta
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-935" class = "post">
			<h2>Question</h2>
			<div id="vote-935" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 31</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Editing profile on meta</h2>
<p>I cannot edit my profile on the Ask different Meta.</p>

<p>I had an issue (<a href="https://meta.stackexchange.com/questions/114958/merged-accounts-and-have-now-lost-over-600-rep">posted on Stackexchange meta</a>) with merged accounts and loss of info and rep. This has now been fixed.</p>

<p>I am now having an issue where I have edited my profile and clicked 'Copy profile to all stack exchange accounts' </p>

<p>This did not copy to the Ask different meta, nor can I edit the account on here.</p>

<p>Is this a bug many people are having or is it just my profile?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-935" data-toggle = "popover">
				<p>user name : Graeme Hutchison</p>
				<p> user reputation : 5627</p>
				<p class = "tagcontent" id = "usertaginfo-935">{'None': 0, 'site-scope': 19, 'support': 0, 'profile-page': 0, 'feature-request': 8, 'discussion': 28}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-935" class = 'collapse'>
			</div>
				<textarea id = "speech-935" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-935">
					<img id="start_img-935" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-935">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-938"  class = "post">
				<h2>Answer</h2>
			<div id="vote-938" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Meta is synced with the main site every hour, and cannot be edited from meta itself. The copy profile will update your primary site profile, and then this will be synced with Meta at the next sync.</p>

<p>The only exception is Meta.SO which is not linked to SO in the same way. Currently both your profiles are showing the same information.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-938" data-toggle = "popover">
				<p>user name : BinaryMisfit</p>
				<p> user reputation : 5873</p>
				<p class = "tagcontent" id = "usertaginfo-938">{'None': 57, 'tags': 3, 'discussion': 24, 'reputation': 17, 'questions': 3, 'editing': 3, 'site-promotion': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-938">Load Comments</button></br>
			<div id = "commentsection-938" class = 'collapse'>
			<div id = "comment-1701" class = "comment">
				<p>I did check back and saw that the Meta info had changed, this answers why it did not change like the others, and also why it changed when I revisited, Thanks</p>
			</div>
			</div>
				<textarea id = "speech-938" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-938">
					<img id="start_img-938" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-938">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>