<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Education sources for robot building?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7203" class = "post">
			<h2>Question</h2>
			<div id="vote-7203" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 132</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Education sources for robot building?</h2>
<p>I teach FTC robotics to high school students, and while I'm a proficient programmer and can teach them coding fairly well, my mechanical skills are a bit soft.  I'm looking for good sources for myself and the students to go through that gets a little more in depth than "this is a gear, this is a chain, this is gear ratio, etc.," but maybe not quite the level of building professional / industrial robots.  </p>

<p>I've used the Vex Robotics Curriculum as a starting reference - <a href="http://curriculum.vexrobotics.com/curriculum">http://curriculum.vexrobotics.com/curriculum</a> - but it doesn't go through some more advanced topics (for example, how to drive a single gear / drive shaft with multiple motors to achieve more power without having to gear down and lose speed.)</p>

<p>Are there any good intermediate sources like this?  Do I need to just bit the bullet and get a college level mechanics text?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7203" data-toggle = "popover">
				<p>user name : FTC Coach</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-7203">{'None': 0, 'mechanism': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7203" class = 'collapse'>
			</div>
				<textarea id = "speech-7203" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7203">
					<img id="start_img-7203" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7203">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7204"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7204" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I feel that depending on the student's level of knowledge on entry to your program, the VEX curriculum might be sufficient, as it goes in depth on how torque is applied, systems with mutabal gears etc. I don't necessarily think that directly teaching concepts like </p>

<blockquote>
  <p>how to drive a single gear / drive shaft with multiple motors to achieve more power without having to gear down and lose speed</p>
</blockquote>

<p>as they can be inferred from the sections on compound gears, and torque. The VEX curriculum also goes in depth on systems building and integration, in my opinion much more useful and basic concepts that can be hard to master in high school, especially when building the elements separately and then integrating them i.e. having a team build the drive and another building the actuator, This opposed to having the group just "build it" which inevitably leads to a very small group of people dominating the process . </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7204" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7204">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7204" class = 'collapse'>
			</div>
				<textarea id = "speech-7204" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7204">
					<img id="start_img-7204" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7204">Comment</button>
			<br><div id = "ans-7207"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7207" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm using Springer <strong>Handbook of Robotics</strong> written by <strong>Bruno Siciliano</strong> (Editor) is a great source and I think easy to understand. It includes almost all contents about robotics. Also you can look video courses from <a href="https://www.coursera.org/course/conrob" rel="nofollow"><strong>coursera</strong></a> and <a href="https://www.edx.org/course/autonomous-mobile-robots-ethx-amrx" rel="nofollow"><strong>edx</strong></a> </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7207" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7207">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7207" class = 'collapse'>
			</div>
				<textarea id = "speech-7207" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7207">
					<img id="start_img-7207" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7207">Comment</button>
			<br><div id = "ans-7214"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7214" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Books</h2>

<p>FIRST and VEX are fairly large competitions, so it should come as no surprise that people have literally written books on how to participate.  My favorite book aimed at FTC is <a href="http://rads.stackoverflow.com/amzn/click/1492763950" rel="nofollow">FTC Robotics: Tips, Tricks, Strategies, and Secrets</a>.  They've made several editions of this book; although it's not a structured curriculum, it is a great guide and a must have for a team.</p>

<p>If you're looking for <em>inspiration</em>, but not necessarily a guidebook, the FIRST Robotics: Behind the Design books (editions for <a href="http://rads.stackoverflow.com/amzn/click/1592533663" rel="nofollow">Aim High</a> and <a href="http://rads.stackoverflow.com/amzn/click/1592534112" rel="nofollow">Rack 'N' Roll</a>), which document the designs of world-championship bots from those years.  It's not detailed enough of a description to <em>copy</em> their work, per se, but they do present some very interesting concepts.</p>

<p>Some non-FTC/VEX specific books can be helpful, too.  For instance, I found <a href="http://rads.stackoverflow.com/amzn/click/0071408509" rel="nofollow">Building Robot Drive Trains</a> to be a helpful book, and should be reachable by any highschooler with a working knowledge of trig.  A detailed-but-good book is <a href="http://www.amazon.com/Constructing-Robot-Bases-Tab-Electronics/" rel="nofollow">Constructing Robot Bases</a> that describes different methods of chassis construction.  Some of it is not so applicable because it assumes you have access to any and all materials.</p>

<h2>Online Curriculum/Classes</h2>

<p>You've already found the VEX curriculum; another great resource are the CMU curricula.  Since I'm VEX-centric, I know about the <a href="http://education.rec.ri.cmu.edu/products/cortex_video_trainer/" rel="nofollow">Cortex Video Trainer</a>.  I'm sure there's something similar for the TETRIX platform.</p>

<p>Another answer mentioned Coursera's <a href="https://www.coursera.org/course/conrob" rel="nofollow">Control of Mobile Robotics</a> course from Georgia Tech.  This is an <em>incredible</em> course (I took it my senior year in high school, and have actually met the professor who created it), but a working knowledge of the basics of differential equations is pretty much a requirement to understand <em>all</em> of it... so that's most likely out of reach of <em>most</em> high schoolers.  Some of the early videos could be helpful to your programmers, but it doesn't discuss construction/design at all.  I can't speak to the edx course (I haven't taken it, but might now that I've heard of it), but I'd assume it's probably in the same vein of prerequisites.</p>

<h2>Team Websites</h2>

<p>One of the best ways to learn how to build competition robots is to read blogs and websites made by competitors.  For a taste of blatant self-promotion, <a href="http://wp.robodesigners.com/wordpress/?page_id=198" rel="nofollow">my team's website</a> has a series of tutorials on how to certain VEX components.  Xander Soldaat's blog, <a href="http://botbench.com/blog/about/" rel="nofollow">BotBench</a>, is <strong><em>the</em></strong> source for a lot of ROBOTC related content.  Find out who won the World Championships for FTC last year, and look up their websites; the best teams often share their secrets.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7214" data-toggle = "popover">
				<p>user name : apnorton</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-7214">{'control': 7, 'mobile-robot': 7, 'None': 19, 'arm': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7214" class = 'collapse'>
			</div>
				<textarea id = "speech-7214" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7214">
					<img id="start_img-7214" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7214">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>