<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Effectiveness of a Mobile Robot In Relation To Mass
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-262" class = "post">
			<h2>Question</h2>
			<div id="vote-262" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 495</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Effectiveness of a Mobile Robot In Relation To Mass</h2>
<p>Do mobile and/or autonomous robots become more or less effective the bigger they get? For example, a bigger robot has bigger batteries, and thus bigger motors, whereas a smaller robot has the exact opposite, making it need less energy, but also have smaller motors. Is there any known theorem that models this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-262" data-toggle = "popover">
				<p>user name : OneChillDude</p>
				<p> user reputation : 218</p>
				<p class = "tagcontent" id = "usertaginfo-262">{'None': 2, '3d-printing': 1, 'kit': 13, 'design': 4, 'mobile-robot': 4, 'dynamics': 4, 'uav': 13}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-262" class = 'collapse'>
			</div>
				<textarea id = "speech-262" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-262">
					<img id="start_img-262" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-262">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-263"  class = "post">
				<h2>Answer</h2>
			<div id="vote-263" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://en.wikipedia.org/wiki/Square-cube_law" rel="nofollow">http://en.wikipedia.org/wiki/Square-cube_law</a></p>

<p>The square-cube law essentially states that larger robots are more fragile.</p>

<blockquote>
  <p>"You can drop a mouse down a thousand-yard mine shaft and, on arriving
  at the bottom, it gets a slight shock and walks away. A rat is killed,
  a man is broken, a horse splashes."   J.B.S. Haldane, biologist</p>
</blockquote>

<p>Note that this only applies in a very generic mechanical sense.  You can't really make rules involving robot size since robots are so diverse.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-263" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-263">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-263">Load Comments</button></br>
			<div id = "commentsection-263" class = 'collapse'>
			<div id = "comment-308" class = "comment">
				<p>The [2010 Royal Institution Christmas Lectures](http://www.rigb.org/contentControl?action=displayContent&id=00000004333) were on this very subject and as always with the RICL's the science was very well presented and accessible.</p>
			</div>
			</div>
				<textarea id = "speech-263" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-263">
					<img id="start_img-263" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-263">Comment</button>
			<br><div id = "ans-265"  class = "post">
				<h2>Answer</h2>
			<div id="vote-265" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a sweeping generalization that I'd be very cautious about. Engineering is about tradeoffs. But there are two things that I'd be comfortable generalizing, from my own personal biases.</p>

<p>I'm 99% serious when I say robots become more effective as the amount of money you are willing to invest becomes higher. This is because you can eventually custom-make all components and algorithms, and get the best possible solution for your job. But this significantly increases the engineering <em>time</em> ...</p>

<p>Second, I'd say increases in power storage translate directly to increasing capabilities for autonomous, mobile robots. The power is almost always the bottleneck for long-term autonomy. (notice: My lab works on long term-autonomy from a power-efficiency standpoint, so I'm biased).</p>

<p>That's about all. Other than that, the size of the robot is dependent on the task it is required to do. A larger robot is awful for invasive surgery, and a smaller robot is a terrible long-range terrestrial rover: It'd get stuck on the first tree root. Consider this: What's the best size for a flying robot? </p>

<p>Answer: The size that allows the perfect tradeoff of fuel capacity, lift capacity, processing power, speed, stability, and all other factors, subject to the task, cost, material, policy, and time constraints imposed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-265" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-265">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-265">Load Comments</button></br>
			<div id = "commentsection-265" class = 'collapse'>
			<div id = "comment-281" class = "comment">
				<p>Very good answer. I agree that energy storage is the biggest problem in mobile robots.</p>
			</div>
			</div>
				<textarea id = "speech-265" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-265">
					<img id="start_img-265" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-265">Comment</button>
			<br><div id = "ans-266"  class = "post">
				<h2>Answer</h2>
			<div id="vote-266" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Aside from the square-cube law for measuring the strength of the bot <a href="https://robotics.stackexchange.com/a/263/126">mentioned by user65</a>, you have a few more effects. I don't know of any theorem for this, though.</p>

<p>Firstly, note that "bigger batteries" doesn't mean "bigger motors". And "bigger motors" doesn't mean "stronger motors" or "more powerful motors". If we're talking about the same type of battery, then we <em>can</em> say that a bigger battery is generally more powerful{*}. </p>

<p>One thing the weight of the bot changes a lot is the friction. See, with a heavy bot, friction increases proportionately. This means we need proportionally stronger motor to be able to climb inclines (otherwise the bot just gets stuck, or starts rolling down). The friction doesn't really make a difference while moving on a flat surface, though. This is an easy principle to put down on paper--for a given weight increase, we need a proportional increase in torque. To obtain that, we may either use a motorwith a proportionately lower rpm (but that reduces the speed), or use a proportionately more powerful battery.  So in the end, this evens out nicely, since the power of a battery depends upon its size, keeping the type fixed. When the bot is moving on a flat surface, its inertia needs to be counteracted whenever one wants to turn. For this, we need high friction (which we already have), and a proportionately stronger motor. Again, this evens out nicely, So really, we should look at the power requirements of the <em>other</em> components and choose size/power, and the motors will take care of themselves (I don't mean you neglect the motors entirely, I'm just saying that the motor issue is easily straightened out after the bot size has been decided. </p>

<p>Another thing a larger size gives you is more capacity to store energy. You can always stuff some extra Li-Po's on a large (autonomous or RC) bot , and increase its lifetime. </p>

<p>Due to all this, it's really saner to just say that the size/weight of the bot has no direct relation to its effectiveness. It really depends on what the bot is supposed to <em>do</em>.  There are just too many other factors to decide--you need to know what strength you want, what power auxiliary mechanisms need, if the auxiliary mechanisms need couterbalancing, the maximum angle incline the bot is subject to, required stability, required response time, lifetime, etc. Choosing a size/weight requires one take all these factors into account while designing the bot. Some bots are better designed small, some bots are better designed large. No formula to it :)</p>

<p><sup>*On the other hand, one can replace a Pb-acid battery with a bunch of Li-Po batteries of the same net weight and size, and get a much powerful "battery". </sup></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-266" data-toggle = "popover">
				<p>user name : Manishearth</p>
				<p> user reputation : 1068</p>
				<p class = "tagcontent" id = "usertaginfo-266">{'underwater': 30, 'None': 53, 'protection': 64, 'motor': 64, 'auv': 30, 'actuator': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-266" class = 'collapse'>
			</div>
				<textarea id = "speech-266" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-266">
					<img id="start_img-266" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-266">Comment</button>
			<br><div id = "ans-270"  class = "post">
				<h2>Answer</h2>
			<div id="vote-270" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The square cube law mentioned by user65 is a good one. In fact, these kind of laws are fundamental when looking at machines of various sizes. For mobile robots, as Josh mentioned, power is a serious problem, and so I'd say that one of the most important laws regarding mobile robots is that the energy storage capacity goes up with the cube of the length of the robot (assuming roughly equal proportions). Thus larger robots benefit enormously from longer battery life.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-270" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-270">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-270" class = 'collapse'>
			</div>
				<textarea id = "speech-270" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-270">
					<img id="start_img-270" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-270">Comment</button>
			<br><div id = "ans-305"  class = "post">
				<h2>Answer</h2>
			<div id="vote-305" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Many rules of thumb and other scaling laws applicable to robots involve the mass of all or some part of the robot.
I look forward to other answers pointing out more of them.
One of the most surprising rules I've seen:</p>

<p><strong>The batteries should weigh roughly the same as everything else on the airframe combined.</strong></p>

<p>With a given aircraft -- everything known except for the mass of the batteries --
the absolute maximum flight time occurs when the weight of the batteries is twice as much as the weight of everything else on the airframe combined.
Reference: Andres 2011. <a href="http://api.ning.com/files/aFMLPsgnHmZXdNMAY8PM0KekqE4uAQSMx2C%2ausF6KDpKiqpO4L9-hrUKYBsS-xtRMqo-K4GR5TPsM2Isq56oMw__/battery_capacity.pdf" rel="nofollow">Optimal Battery Capacity</a>.
via <a href="http://www.heino.com/?page_id=24443" rel="nofollow">Heino R. Pull</a>.</p>

<p>This rule of thumb applies to all kinds of battery-powered aircraft -- fixed-wing, quadcopters, helicopters etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-305" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-305">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-305" class = 'collapse'>
			</div>
				<textarea id = "speech-305" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-305">
					<img id="start_img-305" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-305">Comment</button>
			<br><div id = "ans-320"  class = "post">
				<h2>Answer</h2>
			<div id="vote-320" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Practical point of view: Traction of wheel</p>

<p>Traction of the wheel (friction between wheel and surface) is proportional to the mass of the robot. Small mobile robots with low mass can have low wheel traction, and can easily slip on the surface, friction co-efficient of the wheel and surface area of contact between wheel and surface. Even if the wheel slippage is not too much, even small slippage can make big difference in accumulating odometer error.</p>

<p>Summarizing, higher the mass of the robot, better is the traction of wheel with surface.</p>

<p>The type of wheel/tire will be one of the important design consideration as the mass of robot varies. </p>

<p>I wasted lots of time trying to make a mobile robot (differential drive with 2 driven wheels + caster wheel, size around 10x15cm, mass &lt; 1 kg) follow specified trajectory, and get proper odometer data. It had hard plastic wheel with rubber band tire. In normal operation slippage was barely noticeable and used slip at every small variation on floor. It also used to get stuck easily at small obstacles. Even though the motor had lots of torque, wheels used to just spin in place, due to lack of sufficient traction. At one point I added lots of deadweight to improve the traction.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-320" data-toggle = "popover">
				<p>user name : subot24</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-320">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-320" class = 'collapse'>
			</div>
				<textarea id = "speech-320" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-320">
					<img id="start_img-320" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-320">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>