<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Effective motor type for robotic arm?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1835" class = "post">
			<h2>Question</h2>
			<div id="vote-1835" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 950</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Effective motor type for robotic arm?</h2>
<p>I am trying to build an arm that will have about 5 by 5 by maybe 7 or so centimeters of room for a rotary motor capable of lifting it. The joint will basically allow the arm to rotate in a single degree of freedom in a circle that is perpendicular to the ground.The rest of the arm will probably be around 64 centimeters long and weigh around a minimum of 9 kilograms before it lifts anything. </p>

<p>What kind of motor type would give it the best chance of lifting the arm quickly<sup>&dagger;</sup> and reasonably accurately<sup>&ddagger;</sup>? </p>

<p><sup>&dagger; Raising from straight down to out 90 degrees in around 1 to .5 seconds maximum.</sup><br>
<sup>&ddagger; At least a centimeter at the end of the arm which means probably at the very least 300 positions for the motor.</sup></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1835" data-toggle = "popover">
				<p>user name : user1936</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1835">{'None': 0, 'robotic-arm': 2, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1835">Load Comments</button></br>
			<div id = "commentsection-1835" class = 'collapse'>
			<div id = "comment-3769" class = "comment">
				<p>Please edit question to answer following. Does  5 by 5 centimeters of room for a motor  mean the motor face can be 5x5, and motor length is unconstrained?  How many degrees of freedom?  Is motion rotary, hinge, or what?  Eg does arm rotate on a base, or move more like an elbow?</p>
			</div>
			<div id = "comment-3770" class = "comment">
				<p>@jwpat7 That is a very good point, I will add that now</p>
			</div>
			<div id = "comment-3781" class = "comment">
				<p>I don't think there is enough information in this question for an objective answer, to the point where it might have to be put on hold.  How fast does the arm need to move in order to meet your needs?  How accurate does it need to be?  From that, you can calculate the needs of your motor -- and from *that*, you can see whether you have any options in the size you are hoping to find.</p>
			</div>
			<div id = "comment-3787" class = "comment">
				<p>What Ian says.  The key words here are "quickly" and "accurately".  Your "quick" may be my "dead slow", or visa versa.  Ditto, your "reasonably accurate" may be my "intolerably sloppy", and visa versa.  For speed, try visualizing how you want it to rise, and then count of seconds.  For accuracy, think of the most precise task you want the thing to undertake, and either describe that task to us or figure out the accuracy that it will need to succeed at that task.</p>
			</div>
			<div id = "comment-3824" class = "comment">
				<p>Probably raising from straight down to out 90 degrees in around 1 to .5 seconds maximum and accuracy of at least a centimeter at the end of the arm which means probably at the very least 300 positions for the motor.</p>
			</div>
			<div id = "comment-3859" class = "comment">
				<p>@user1936 - Generally speaking, it is better to answer questions in comments by editing your question rather than answering with another comment. that way comments can be tidied up (deleted) later and stop distracting people from your question.</p>
			</div>
			<div id = "comment-4432" class = "comment">
				<p>See my answer for [this question](http://robotics.stackexchange.com/questions/284/which-type-of-actuator-will-be-suitable-for-a-very-strong-robot-arm/2281#2281).</p>
			</div>
			</div>
				<textarea id = "speech-1835" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1835">
					<img id="start_img-1835" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1835">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1871"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1871" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So you want to lift 9kg of mass, which means a force of around 90N, that's on an arm that's 64cm long, in one second.</p>

<p>$\frac{\left(90N\right)\left(0.64m\right)}{1s}\simeq58W$</p>

<p>So, that's probably doable.</p>

<p>You don't say anything at all about gearing -- how do you propose to take the high-speed, low-torque power that comes from most motors and turn it into the low-speed, high-torque (or high-force) power that you need for the arm?  Do you have space allocated for that, or were you planning on attaching your motor output directly to the arm?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1871" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1871">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1871">Load Comments</button></br>
			<div id = "commentsection-1871" class = 'collapse'>
			<div id = "comment-3866" class = "comment">
				<p>Preferably coming straight from the motor to the arm or at least having the gearing fit into the space I had allocated for the motor.</p>
			</div>
			<div id = "comment-4431" class = "comment">
				<p>9Kg is the mass of the robot arm this doesn't include load right?</p>
			</div>
			</div>
				<textarea id = "speech-1871" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1871">
					<img id="start_img-1871" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1871">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>