<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>EKF localization known correspondences
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3104" class = "post">
			<h2>Question</h2>
			<div id="vote-3104" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 112</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>EKF localization known correspondences</h2>
<p>I'm facing problems with this <a href="http://rads.stackoverflow.com/amzn/click/0262201623" rel="nofollow">book</a> and it is the only book that discusses localization in depth. The results that I'm getting makes no sense. I've read a lot of papers, majority of them copy the localization algorithm from this book. My question here is why $\bar{\mu}$ and $\bar{\Sigma}$ are being changed every iteration?? I'm using them to get the predicted measurements in lines 11- 13, so they should be fixed. </p>

<p>9. for all observed features $z^{i}  = [r^{i} \ \phi^{i} \ s^{i}]^{T} $ do </p>

<p>10. &nbsp; $j = c^{i}$ </p>

<p>11. &nbsp; &nbsp; &nbsp; &nbsp; $q = (m_{x} - \bar{\mu}_{x})^{2} + (m_{y} - \bar{\mu}_{y})^{2}$</p>

<p>12. &nbsp; &nbsp; &nbsp; &nbsp; $\hat{z}^{i} = \begin{bmatrix}
\sqrt{q} \\ 
atan2(m_{y} - \bar{\mu}_{y}, m_{x} - \bar{\mu}_{x} ) - \bar{\mu}_{\theta} \\ 
m_{s} \\ \end{bmatrix}$</p>

<p>13. &nbsp; &nbsp; &nbsp; &nbsp; $ \hat{H}^{i} = \begin{bmatrix} 
h_{11} &amp; h_{12} &amp; h_{13} \\
h_{21} &amp; h_{22} &amp; h_{23} \\
h_{31} &amp; h_{32} &amp; h_{33} \\ \end{bmatrix}  $</p>

<p>14. &nbsp; &nbsp; $\hat{S}^{i} = H^{i} \bar{\Sigma} [H^{i}]^{T} + Q $</p>

<p>15. &nbsp; &nbsp; $K^{i} = \bar{\Sigma} [H^{i}]^{T} [S^{i}]^{-1}$</p>

<p>16. &nbsp; &nbsp; $\bar{\mu} = \bar{\mu} + K^{i}(z^{i}-\hat{z}^{i}) $</p>

<p>17. &nbsp; &nbsp; $\bar{\Sigma} = (I - K^{i} H^{i}) \bar{\Sigma} $</p>

<p>18. endfor</p>

<p>19. $\mu = \bar{\mu}$ </p>

<p>20. $\Sigma = \bar{\Sigma}$</p>

<p>Please suggest me other books that discuss EKF localization in depth. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3104" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-3104">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3104" class = 'collapse'>
			</div>
				<textarea id = "speech-3104" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3104">
					<img id="start_img-3104" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3104">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3107"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3107" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The underlying assumption seems to be that if all observed features you measure at the same time are independent, you can apply the EKF correction step several times: Once for each observed feature. (I am currently not completely sure whether this is valid.)</p>

<p>This is what the above algorithm does. It is an optimization of the naive solution, which would work like this:</p>

<p>You can also combine the measurement vectors of all observed features to a full measurement vector $z$ by stacking them on top of each other:</p>

<p>$z = (z_0^T, z_1^T, z_2^T, ...)^T$</p>

<p>You will get the full Jacobian by stacking all Jacobians accordingly. The full measurement covariance matrix $Q$ is the block-diagonal matrix which contains all individual measurement covariances $Q$ as blocks on its diagonal.</p>

<p>This way, you can use the original EKF algorithm which modifies $\bar\mu$ and $\bar\Sigma$ only once.</p>

<p><strong>But:</strong> This naive solution is computationally more expensive, which is why you should use the method described in Probabilistic Robotics. Using the naive method, you have to invert one much bigger matrix $H \bar\Sigma H^T + Q$ instead of several much smaller versions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3107" data-toggle = "popover">
				<p>user name : sebsch</p>
				<p> user reputation : 404</p>
				<p class = "tagcontent" id = "usertaginfo-3107">{'control': 6, 'quadcopter': 2, 'None': 15, 'sensor-error': 4, 'sensor-fusion': 4, 'localization': 16, 'ekf': 9, 'pose': 1, 'errors': 8, 'kalman-filter': 17, 'mobile-robot': 8, 'sensors': 4, 'navigation': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3107">Load Comments</button></br>
			<div id = "commentsection-3107" class = 'collapse'>
			<div id = "comment-6631" class = "comment">
				<p>this is not answering my question. I'm asking here about the predicted measurements. Why $\bar{\mu}$ and $\bar{\Sigma}$ are being modified every iteration? To me, this affects the innovation step ($z^{i} - \hat{z}^{i}$). $z^{i}$ is acquired from the actual pose, and thus $\hat{z}^{i}$ should be acquired from the estimated pose.</p>
			</div>
			</div>
				<textarea id = "speech-3107" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3107">
					<img id="start_img-3107" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3107">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>