<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Electronic noses for detecting dog urine
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2350" class = "post">
			<h2>Question</h2>
			<div id="vote-2350" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 472</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Electronic noses for detecting dog urine</h2>
<p>I have very limited experience with sensors or robotic components at all, and I hope you will excuse the lack of detail in this Question. </p>

<p>I want to set up posts around my yard with electronic noses that detect dog urine. I want to use this information to make a map of my yard from a dogs perspective. Is it possible with todays technology? What would it cost? There may be information that is very relevant to me, but that I'm not requesting. This is because of lacking insight. If there is something you think I should consider or research, please say so. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2350" data-toggle = "popover">
				<p>user name : user2979713</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-2350">{'None': 0, 'sensors': 6, 'electronics': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2350">Load Comments</button></br>
			<div id = "commentsection-2350" class = 'collapse'>
			<div id = "comment-4577" class = "comment">
				<p>I'm not sure what kind of map you have in mind, but maybe you could do away with putting something in the dog's collar that you can then detect its position and keep track of where the dog goes at all times?</p>
			</div>
			</div>
				<textarea id = "speech-2350" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2350">
					<img id="start_img-2350" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2350">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2352"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2352" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is it possible? Certainly. Is it worthwhile? Depends on how sensitive you need it to be.</p>

<p>Dog urine has a strong ammonia component (or maybe it's just my dogs that stink so bad) that could be used as the primary analyte to look for. Unfortunately, calibrated electronic ammonia sensors are expensive. I was actually looking into this just a week ago because I raise chickens and I wanted to measure ammonia levels in my chicken coop. </p>

<p>Now, there are some inexpensive gas sensors that claim to detect ammonia such as <a href="http://winsensor.en.alibaba.com/product/469905318-215871181/MQ137_Ammonia_Sensor.html" rel="nofollow">this one</a>. If you're not concerned about accuracy of the sensor, then it may work. I haven't tried them out yet since I suspect they won't work for my purposes.</p>

<p>What it would cost depends on how much you're willing to learn. The cheap sensors themselves are around \$30 each and can be read with about \$5 worth of parts. However, you would have to spend a fair amount of time learning electronics and interfacing to sensors.</p>

<p>The industrial ammonia meters are upwards of \$500 each and require replacement of the sensor element frequently. I think one of the poultry farming articles I read on the subject suggested an average yearly total cost of about \$900 per instrument.</p>

<p>I don't know what other easily detectable components of dog urine there are, so it's possible that there is a simpler way to detect it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2352" data-toggle = "popover">
				<p>user name : lyndon</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-2352">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2352">Load Comments</button></br>
			<div id = "commentsection-2352" class = 'collapse'>
			<div id = "comment-4688" class = "comment">
				<p>It's not just your dog. That is why cleaning up an in-house accident with common household cleaners (which are mostly ammonia-based) will only make the dog pee there again ... :)</p>
			</div>
			</div>
				<textarea id = "speech-2352" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2352">
					<img id="start_img-2352" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2352">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>