<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Electronic circuit for heating nylon fishing line muscle
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8461" class = "post">
			<h2>Question</h2>
			<div id="vote-8461" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1284</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Electronic circuit for heating nylon fishing line muscle</h2>
<p>I'm trying to make artificial muscles using nylon fishing lines (see <a href="http://io9.com/scientists-just-created-some-of-the-most-powerful-muscl-1526957560" rel="nofollow">http://io9.com/scientists-just-created-some-of-the-most-powerful-muscl-1526957560</a> and <a href="http://writerofminds.blogspot.com.ar/2014/03/homemade-artificial-muscles-from.html" rel="nofollow">http://writerofminds.blogspot.com.ar/2014/03/homemade-artificial-muscles-from.html</a>)</p>

<p>So far, I've produced a nicely coiled piece of nylon fishing line, but I'm a little confused about how to heat it electrically.</p>

<p>I've seen most people say they wrap the muscle in copper wire and the like, pass current through the wire, and the muscle acuates on the dissipated heat given the wire resistance.</p>

<p>I have two questions regarding the heating:</p>

<p>1) isn't copper wire resistance extremely low, and thus generates very little heat? what metal should I use? </p>

<p>2) what circuit should I build to heat the wire (and to control the heating)? Most examples just "attach a battery" to the wire, but afaik that is simply short-circuiting the battery, and heating the wire very inneficiently (and also may damage the battery and it could even be dangerous). So what's a safe and efficient way to produce the heat necessary to make the nylon muscle react? (I've read 150 centigrads, could that be correct?) for example with an arduino? or a simple circuit in a breadboard?</p>

<p>thanks a lot!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8461" data-toggle = "popover">
				<p>user name : jotadepicas</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-8461">{'None': 0, 'arduino': 4, 'simulator': 0, 'mechanism': 0, '3d-model': 0, 'design': 0, 'actuator': 4, 'electronics': 4, 'software': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8461">Load Comments</button></br>
			<div id = "commentsection-8461" class = 'collapse'>
			<div id = "comment-13705" class = "comment">
				<p>Why don't you just use Nitinol shape memory alloy wire?</p>
			</div>
			<div id = "comment-13706" class = "comment">
				<p>@BrianLynch cost, availability and curiosity</p>
			</div>
			</div>
				<textarea id = "speech-8461" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8461">
					<img id="start_img-8461" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8461">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8469"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8469" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>1) isn't copper wire resistance extremely low, and thus generates very little heat? what metal should I use? </p>
</blockquote>

<p>Yes plain copper wire does have very low resistance, so I guess you would need a power supply which has a low voltage and high current to do this. (And a suitable high current controller to do the actual switching, unless you're starting with just a manual switch.)</p>

<p>Alternatively you could perhaps look at nichrome wire which has a higher resistance and is commonly used for lots of heating wires.</p>

<p>Whichever heating wire you use, beware of hot wire touching the nylon directly and cutting or otherwise damaging it. I assume these "muscles" work by heating the nylon to some specified, fairly low temperature but I haven't seen any real detail about how they arrange the heating...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8469" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-8469">{'None': 59}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8469">Load Comments</button></br>
			<div id = "commentsection-8469" class = 'collapse'>
			<div id = "comment-13717" class = "comment">
				<p>Yes, the nylon has to be heated to a low temperature, a hair dryier in fact could work. If I go with the nichrome wire, could you provide the schematics or guidelines for an electronic circuit to heat it? Thanks!</p>
			</div>
			<div id = "comment-13718" class = "comment">
				<p>I can't give really good advice for the circuit itself except this will probably be high current/low voltage. I guess I'd start with a good battery (low voltage but capable of a few amps) in series with a **power resistor** to limit the current and prevent the battery/power supply getting overloaded. Note heaters can be unstable as their resistance can change at high temp causing the wire to overheat! So you might need to experiment with different power resistor values to get something that works and is stable.</p>
			</div>
			</div>
				<textarea id = "speech-8469" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8469">
					<img id="start_img-8469" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8469">Comment</button>
			<br><div id = "ans-8485"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8485" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As far as how to heat the nylon muscles, one of the articles that you have linked to provides a number of methods for doing so. The two most promising from an experimental perspective are submersing the muscle in water or a flow of air, which you then heat/cool (e.g. with a pool pump or hair dryer), or using silver-coated nylon sewing threads, which integrates the heating element and nylon together.</p>

<p>As far as a circuit for simply heating a wire (like the second option above), I have personally had pretty good success with shape memory alloys by using high-power DC/DC converters to generate a low voltage/high current signal, which can be switched on and off using high current MOSFETs controlled by logic-level outputs (e.g., from an Arduino).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8485" data-toggle = "popover">
				<p>user name : Brandon J DeHart</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-8485">{'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8485">Load Comments</button></br>
			<div id = "commentsection-8485" class = 'collapse'>
			<div id = "comment-13758" class = "comment">
				<p>Thanks for your answer. One (probably newbie) question. Isn't hight current like, extremely dangerous? Should I take extra precaucions?</p>
			</div>
			<div id = "comment-13783" class = "comment">
				<p>As discussed [here](http://www.allaboutcircuits.com/textbook/direct-current/chpt-3/ohms-law-again/): Although high current can be dangerous, the inherent resistance of your body means you also need a moderately high voltage to induce a high current in your body. Since you are using a low voltage source, the heat of the wire burning your fingers will be more of an issue than the current.</p>
			</div>
			<div id = "comment-13796" class = "comment">
				<p>great article on electric safety!</p>
			</div>
			</div>
				<textarea id = "speech-8485" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8485">
					<img id="start_img-8485" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8485">Comment</button>
			<br><div id = "ans-8490"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8490" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For a heating element you <em>want</em> lower resistance -- remember $V = I R$, so high resistance means lower current, and that in turn means lower power for the same applied voltage since $P = \frac{V^2}{R}$. Resistive heating (or <a href="https://en.wikipedia.org/wiki/Joule_heating" rel="nofollow">Joule heating</a>) is therefore best achieved with lower resistance elements rather than higher resistance elements (see <a href="http://www.explainthatstuff.com/heating-elements.html" rel="nofollow">this explanation</a>). As pointed out in Andy's answer, the preferred metal for resistive heating is nichrome. </p>

<p>However, you might be able to get away with using copper wire if you put it in series with two resistors (one on each end). You want to select resistors so that the voltage across the copper wire heating segment is high enough to generate the heat you want but not so high that you draw too much current.</p>

<p>Take a look at an AWG wire chart to figure out the maximum current for your copper wire gauge, and use that as a ballpark for starting a design. Of course make sure your resistors are also rated for their expected power based on the current.</p>

<p>Considering a circuit with a DC source (say a battery), a resistor, your heating element wire (which is just a resistor too), and another resistor, you have the following equation for the voltage:</p>

<p>$V_{applied} = 2 V_R + V_H$</p>

<p>Where $V_{applied}$ is the voltage of your power supply or battery, $V_R$ is the voltage across each of the two resistors, and $V_H$ is the voltage across the copper wire heating element. Since all the components are in series, we can write:</p>

<p>$V_{applied} = \left( 2 R + R_H \right) I$</p>

<p>Where $R$ is the resistor resistance, $R_H$ is the heating element resistance, and $I$ is the current.</p>

<p>So, if you know your applied voltage and your heating element resistance (easy to compute for a given length of copper wire), you can find the necessary resistor resistance $R$ for a desired current.</p>

<p>$R = \frac{1}{2} \left( \frac{V_{applied}}{I} - R_H \right)$</p>

<p>That desired current will be chosen so that you don't exceed the limit of the wire -- hopefully that gets hot enough. Then select resistors that have the necessary resistance and are rated for the applied power:</p>

<p>$P_R = I^2 R$</p>

<p>This has all been suggested assuming that you can regulate the applied voltage as you desire. In order to do that you'll want some kind of switch and I also suggest using an Arduino as you mention and as pointed out by Brandon J DeHart.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8490" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8490">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8490">Load Comments</button></br>
			<div id = "commentsection-8490" class = 'collapse'>
			<div id = "comment-13790" class = "comment">
				<p>@jotadepicas -- Please let me know if you try this and get it to work, I would be interested since smart materials are a research interest of mine.</p>
			</div>
			<div id = "comment-13795" class = "comment">
				<p>I will, thanks! I've changed the accepted answer to a recently posted one that in my opinion covers the issues more boradly. Yours however is also great.</p>
			</div>
			</div>
				<textarea id = "speech-8490" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8490">
					<img id="start_img-8490" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8490">Comment</button>
			<br><div id = "ans-8524"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8524" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>what metal should I use?</p>
</blockquote>

<p>Copper wire works better than nichrome wire, according to
<a href="http://writerofminds.blogspot.com/2014/05/homemade-artificial-muscles-iv.html" rel="nofollow">Homemade Artificial Muscles IV</a>.
That says</p>

<blockquote>
  <p>Nichrome is used in places like your toaster mainly because it can get
  very hot without melting or oxidizing. But I don't need or want the
  heating elements in my artificial muscles to be red-hot. I would like
  to be able to use them in low-voltage systems, say 5-6V. The amount of
  resistive heat you can get out of a wire is proportional to the amount
  of power you pump into it. And since P = V^2/R, increasing resistance
  when voltage is fixed will decrease your power. All else being equal
  (same power supply, same length and diameter of wire, same
  environment), a copper wire will produce more heat, faster, than a
  nichrome wire. Copper also has better thermal conductivity than
  nichrome, meaning it will cool more quickly after the power is turned
  off.</p>
</blockquote>

<p>To answer your question,</p>

<blockquote>
  <p>1) isn't copper wire resistance extremely low,</p>
</blockquote>

<p>Not the kind of copper wire used in artificial muscles.</p>

<p>Common copper in-wall power cables are often 10 AWG copper wire, with a resistance of about 3 milliohms per meter, which is extremely low.
Common wire-wrap wire (30 AWG copper wire) has a resistance of 339 milliohms per meter, which is two orders of magnitude more resistance.</p>

<p>People who build artificial muscles use much thinner strands of copper, which have much more resistance per meter -- often a single strand pulled from <a href="http://en.wikipedia.org/wiki/litz_wire" rel="nofollow">litz wire</a> or <a href="http://en.wikipedia.org/wiki/tinsel_wire" rel="nofollow">tinsel wire</a>.</p>

<blockquote>
  <p>and thus generates very little heat?</p>
</blockquote>

<p>Power supplies are typically designed to set a fixed voltage.
Once the voltage has been fixed, a <em>lower</em> load resistance generates <em>more</em> heat.</p>

<p>On the other hand, when you wire up your heater circuit, every element of the circuit -- the heater strand itself, as well as the wire from each end of the heater strand back to the power supply -- has the current through it.
Because of conservation of electrons, the same number of electrons per second go through each element.
For a given current, a <em>higher</em> load resistance generates <em>more</em> heat.
Therefore, you want the connection wire between your power supply and the heater strand to be much lower resistance and therefore much thicker than the heater strand, so heater strand is the only element that gets noticeably warmer than ambient temperature.</p>

<blockquote>
  <p>2) what circuit should I build to heat the wire (and to control the
  heating)? Most examples just "attach a battery" to the wire, but afaik
  that is simply short-circuiting the battery, and heating the wire very
  inneficiently (and also may damage the battery and it could even be
  dangerous). So what's a safe and efficient way to produce the heat
  necessary to make the nylon muscle react? (I've read 150 centigrads,
  could that be correct?) for example with an arduino? or a simple
  circuit in a breadboard?</p>
</blockquote>

<p>Yes, short-circuiting a battery with a very low load resistance can damage the battery.
To prevent the internal resistance of the battery from heating up the battery enough to cause damage,
Use heater wires that have much higher resistance than the internal resistance of the battery.
Or in other words,
Pick a battery or other power source with an internal resistance much lower than the load resistance of the heater wires.</p>

<p>The <a href="http://writerofminds.blogspot.com/2014/05/homemade-artificial-muscles-iv.html" rel="nofollow">Homemade Artificial Muscles IV</a> article says</p>

<blockquote>
  <p>I'm powering it with a 3V wall wart, and it is drawing 1.17 A.</p>
</blockquote>

<p>which implies that the total load about 2.5 Ohms.</p>

<p>(I expect the heater strand is about 2 Ohms of resistance,
every connection has about 0.1 Ohms of resistance,
and the total resistance of all the hook-up wires and the stuff inside the wall wart is maybe around 0.1 Ohms of resistance).</p>

<p>Lots of power supplies (wall warts, batteries, etc.) can easily supply 3V at well over 2 A without getting noticeably warm, much less hot enough to cause any damage.</p>

<p>The article
<a href="http://www.sciencefriday.com/articles/how-to-make-an-artificial-muscle-out-of-fishing-line/" rel="nofollow">"How to Make an Artificial Muscle Out of Fishing Line"</a>
suggests</p>

<blockquote>
  <p>"it s best to stay below 150  C or 300  F ..."</p>
</blockquote>

<p>The article
<a href="http://www.sciencemag.org/content/343/6173/868.figures-only" rel="nofollow">"Artificial Muscles from Fishing Line and Sewing Thread"</a>
says that they got maximum contraction "at ~130 C",
and most of their tests cycled the temperature of their artificial muscles "between 25  and 95 C".</p>

<p>An Arduino could easily indirectly control a MOSFET or a relay that could handle a few amps of current.
(The high current would go through a circuit that includes only that switching element and the heating strand and the power supply and the thick connector wires between them.
Directly sending over an amp (1 A) through an Arduino or a solderless breadboard would damage those boards).</p>

<p>If you can't get a circuit working after searching the internet for "Arduino relay" or "Arduino mosfet" circuits, come back and ask a separate question.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8524" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-8524">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8524">Load Comments</button></br>
			<div id = "commentsection-8524" class = 'collapse'>
			<div id = "comment-13793" class = "comment">
				<p>Great answer, thanks for helping me understand it. I selected your answer because I think it's the only one that covers 100% of what was asked.</p>
			</div>
			<div id = "comment-13805" class = "comment">
				<p>You are very welcome. Please let Brian Lynch and me know when you get this to work.</p>
			</div>
			</div>
				<textarea id = "speech-8524" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8524">
					<img id="start_img-8524" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8524">Comment</button>
			<br><div id = "ans-9507"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9507" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First you should to select your muscle length. It is necessary to have a constant resistance of the resulting muscles. Wind the copper wire over nylon, and then make a coiled thread. </p>

<p>You can use a standard 12V Power supply for the LED (at least 5 A). Use MOSFET keys and an Arduino to apply current to the muscle. The time taken to heat the muscle depends on the source nylon thread diameter and the diameter of the wire and the ambient temperature. The heating time is controlled by the Arduino. </p>

<p>You may see my experiments with these kind of muscles, here: <a href="https://www.youtube.com/playlist?list=PL3I3kUrFrH5ihxd1jLrmN79FqUX9FJZLq" rel="nofollow">Artificial Muscles</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9507" data-toggle = "popover">
				<p>user name : Alexander Semochkin</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9507">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9507" class = 'collapse'>
			</div>
				<textarea id = "speech-9507" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9507">
					<img id="start_img-9507" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9507">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>