<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Electric Motor Speed Control - PWM vs analog voltage?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7778" class = "post">
			<h2>Question</h2>
			<div id="vote-7778" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2878</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Electric Motor Speed Control - PWM vs analog voltage?</h2>
<p>I'm working on a 2-wheeled robot and have connected up a raspberry pi to an L298N motor driver.</p>

<p>I'm sending the enable pin of a particular motor a software-generated PWM signal at 100Hz with a 50% duty cycle.  I observe with an osciloscope:</p>

<ul>
<li>a fairly clean square wave going into the enable pin as expected.</li>
<li>a fairly dirty square wave across the output motor terminals.</li>
</ul>

<p>The motor turns at about 50% speed/torque as expected.</p>

<p>I find myself wondering if it would be better to control the speed of the motor by placing a flat lower constant voltage across its terminals, rather than oscillating a square wave.  ie to do 50% speed/torque - instead of oscilating between 0V and 5V - just put a constant 2.5V across the motor terminals.  I wonder if the oscillation is a waste of power/energy.</p>

<p>Is this true?  Or doesn't it make any difference?  Do high-end motor drivers use a variable flat analog voltage to control speed/torque, or do they use a PWM?  If a PWM, does the frequency make any difference?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7778" data-toggle = "popover">
				<p>user name : Andrew Tomazos</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-7778">{'None': 0, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7778" class = 'collapse'>
			</div>
				<textarea id = "speech-7778" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7778">
					<img id="start_img-7778" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7778">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7779"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7779" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>(I'd prefer this to be a commment but I don't have enough rep ;( )</p>

<p>Good question!  Here are a few resources that might help:</p>

<p>Look at this for the PWM frequency question: <a href="https://electronics.stackexchange.com/questions/67663/criteria-behind-selecting-pwm-frequency-for-speed-control-of-a-dc-motor">https://electronics.stackexchange.com/questions/67663/criteria-behind-selecting-pwm-frequency-for-speed-control-of-a-dc-motor</a>  </p>

<p>-> Essentially the motor acts as a filter and can average out the pwm wave to create an analog voltage, so you want to look for a frequency that does this best. PWM can also effect the sound of your motors. </p>

<p>Look at this for PWM vs Analog: <a href="https://electronics.stackexchange.com/questions/87103/why-is-pwm-used-to-control-dc-motor-speed-instead-of-using-a-variable-resistance">https://electronics.stackexchange.com/questions/87103/why-is-pwm-used-to-control-dc-motor-speed-instead-of-using-a-variable-resistance</a>  </p>

<p>-> It's more efficient to use PWM compared to, say, a resistor in series, as a lot power is dissipated through the resistor. It's also much easier to output a PWM pulse and is typically built into microcontroller's hardware nowadays. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7779" data-toggle = "popover">
				<p>user name : JMarple</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-7779">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7779">Load Comments</button></br>
			<div id = "commentsection-7779" class = 'collapse'>
			<div id = "comment-11299" class = "comment">
				<p>Why not put your comments regarding your links in your answer, at the links?</p>
			</div>
			<div id = "comment-11300" class = "comment">
				<p>Good idea. Edited above.</p>
			</div>
			</div>
				<textarea id = "speech-7779" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7779">
					<img id="start_img-7779" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7779">Comment</button>
			<br><div id = "ans-7780"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7780" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Essentially, PWM supplies full rated voltage to a component and effectively varies the current supplied by turning the component on and off very quickly. </p>

<p>For some things, like an LED, which has a bias voltage that must be surpassed for the LED to turn on, you <em>must</em> supply a voltage greater than the bias voltage. If you try to use an analog voltage supplied to the LED as a means of brightness control, you can only dim to a point, where you hit the bias voltage, at which point the LED turns off completely. </p>

<p>For other things, like your motor, there is great cost to generating an analog voltage. How are you intending to do it? A <a href="https://en.wikipedia.org/wiki/Linear_regulator" rel="nofollow">linear regulator</a> uses essentially a voltage divider to create the analog voltage. This means if you want to supply 50% voltage to your motor, the other 50% of that voltage is being "burned off" by a large resistor in the form of heat. </p>

<p>The PWM output is supplying rated voltage to the motor, but the inductance (coil) in the motor creates a <a href="https://en.wikipedia.org/wiki/Time_constant#Time_constants_in_electrical_circuits" rel="nofollow">time constant</a> in your circuit which is acting like (is, actually) a filter, which is why you are seeing a "dirty" square wave. There is very very little power loss in doing switching (PWM) power supply because the inductance and reactance in the load that causes the filtering effect are both imaginary loads; whatever power they "consume" while the capacitor/inductor is charging is paid back when they discharge; this is why you get the <a href="http://www.electronics-tutorials.ws/rc/rc_3.html" rel="nofollow">shark fin look on a square wave</a>. </p>

<p>So, your options are to use PWM to provide a switching power supply directly to the motor, or send a PWM signal to 3rd party power supply to <em>it</em> can provide a switching power supply to the motor, or use a linear regulator and <a href="http://www.completepowerelectronics.com/linear-regulator-smps-advantages-disadvantages/" rel="nofollow">suffer the consequences</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7780" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7780">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7780" class = 'collapse'>
			</div>
				<textarea id = "speech-7780" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7780">
					<img id="start_img-7780" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7780">Comment</button>
			<br><div id = "ans-7806"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7806" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Decades ago I saw some modified robots at a University laboratory - the motors used analogue control.</p>

<p>Computers used regular DAC chips to output analogue voltages, these were then amplified using some DIY kit audio amplifiers - effectively DC amplifiers as the input capacitors were removed, replaced by links.  The output of the amplifiers fed the motors directly.</p>

<p>However I think this was done simply because the parts were readily available at the time. The amplifiers had failry small heatsinks but needed split/bipolar power supplies, and these days the common PWM method perhaps using microcontrollers would be easier and cheaper.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7806" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-7806">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7806" class = 'collapse'>
			</div>
				<textarea id = "speech-7806" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7806">
					<img id="start_img-7806" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7806">Comment</button>
			<br><div id = "ans-7817"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7817" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are partly right, in thinking that high end Motor drives use a better method. But those methods may not be suitable in your small robot application, just because, to get that ease of control with power, you would need more power electronics(- because the circuit necessarily need to have fine control over current/voltage characteristics, plus feedback of output speed and torque).</p>

<p>With PWM, you always have this control, as you can employ duty cycles varying from 1 to 99 to output varying drive behavior. If for instance, you were using an analogue control, (12Volts)
<em>1. the circuit needs to have fine control over voltage, which increases circuit complexity.
2. the feedback needs be there to ensure the voltage fed is at par with poer needed.</em>
...and I always prefer PWM, because, it gives finer control without adding much complex electronics, and keeping the fed voltage constant.
Hope this helps</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7817" data-toggle = "popover">
				<p>user name : Anil</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-7817">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7817" class = 'collapse'>
			</div>
				<textarea id = "speech-7817" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7817">
					<img id="start_img-7817" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7817">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>