<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Electric vs. internal combustion engine for propulsion
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9621" class = "post">
			<h2>Question</h2>
			<div id="vote-9621" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 108</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Electric vs. internal combustion engine for propulsion</h2>
<p>What are the main differences between electric motor and internal combustion engine for an ATV-sized mobile robot platform in terms of functionality, implementation difficulty ("RC" conversion, "electronic" operation), durability and maintenance when used as an autonomous platform? A full sized ATV/UTV like Polaris Ranger (EV) is in question.</p>

<p>Are the advantages/disadvantages basically the same as the differences between electric and nitro RC cars or does the bigger scale adds something important to the game? I can think of the main differences like bigger range and faster "refueling" with IC and less maintenance with electric but I am interested in a detailed comparison.</p>

<p>The transmission for the IC engine is considered to be automatic.</p>

<p>EDIT: The fuel injection for IC is considered to be electronic (EFI) but I do not know whether that also means the "electronic" throttle (no mechanical wire as with carburetor?). Whatever the throttle may be I see the lag between its "actuation" and the engine running into higher RPM and giving more power/speed as the main disadvantage for IC control - however, it may probably be quite easy dealt with in software (by adding some timeout when checking desired RPM).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9621" data-toggle = "popover">
				<p>user name : Kozuch</p>
				<p> user reputation : 338</p>
				<p class = "tagcontent" id = "usertaginfo-9621">{'stereo-vision': 12, 'structure-from-motion': 1, 'autonomous-car': 0, 'encoding': 2, 'precise-positioning': 0, 'hardware': 0, 'mobile-robot': 6, 'monocular': 2, 'rotation': 2, 'rcservo': 0, 'self-driving': 0, 'cameras': 2, 'point-cloud': 1, 'kinect': 1, 'opencv': 1, 'electronics': 1, 'gazebo': 0, 'gps': 7, 'engine': 1, 'odometry': 5, 'None': 8, 'electric': 1, 'localization': 0, 'wheeled-robot': 2, 'simulator': 1, 'visual-odometry': 2, 'gnss': 0, 'sensors': 2, 'steering': 0, '3d-reconstruction': 1, 'computer-vision': 12, 'algorithm': 2, 'calibration': 4, 'scale-model': 1, 'simulation': 0, 'servomotor': 0, 'sensor-fusion': 2, 'navigation': 0, 'software': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9621">Load Comments</button></br>
			<div id = "commentsection-9621" class = 'collapse'>
			<div id = "comment-17059" class = "comment">
				<p>I think it really depends on where it's operating, and the range requirements. Outdoors on short muddy circuits, or long duration trips for example?</p>
			</div>
			<div id = "comment-17060" class = "comment">
				<p>The operation should be almost exclusively (99.9%) outdoors for automated utility purposes in very light terrain (mostly dry). It will include both short range and long range usages. Are you indirectly saying the range is the only factor to consider while others i stated (maintenance etc.) may largely be neglected? This makes sense, since the range of IC may be multiple times the electric range - and it is pure physics that can not be changed easily (like very fast automated battery charging on the route).</p>
			</div>
			<div id = "comment-17061" class = "comment">
				<p>No, of course range is never the ONLY factor.  All the other things you've correctly mentioned matter as well. I'd suggest you try to estimate the range and weight of both types of vehicle and see which looks the most sensible. You may be OK with just a golf buggy if you don't need extreme off-road performance...</p>
			</div>
			</div>
				<textarea id = "speech-9621" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9621">
					<img id="start_img-9621" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9621">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9631"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9631" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Q: What are the main differences between electric motor and internal combustion engine for an ATV-sized mobile robot platform in terms of functionality, implementation difficulty ("RC" conversion, "electronic" operation), durability and maintenance when used as an autonomous platform? A full sized ATV/UTV like Polaris Ranger (EV) is in question.</p>

<p>A: Depending on the electric motor(s) chosen, you can have as much power as the IC yould provide you. You will also have the same amount of torque, no matter the rpm's. RC conversions and any other electronic operatios regarding the motor(s) will become significantly easier, since they can all be connected together. On an IC you have to create mechanisms for the throttle response, since it works mechanically (with wire for the polaris i think). Maintainance requires less efford and time in electronic motor(s), but it can become way more expensive and time-consuming if something breaks down and needs to be replaced.</p>

<p>Q: Are the advantages/disadvantages basically the same as the differences between electric and nitro RC cars or does the bigger scale adds something important to the game?</p>

<p>A: The basic differences are the weigh of the vehicle, the range they have to cover and their energy consumption. Using electronic motor(s) means batteries and/or other forms of power (solar power through panels). If thinking of covering long distances, you will need big and hence heavy batteries. You will also need space to fit all those. Tough one for a polaris, especially if any driver seats will be kept on. IC is factory bolt-on and uses gasoline, which allows covering greater distances.</p>

<p>Personal opinion: I would go for the IC and make the small modifications needed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9631" data-toggle = "popover">
				<p>user name : Chris Tsiakoulas</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-9631">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9631" class = 'collapse'>
			</div>
				<textarea id = "speech-9631" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9631">
					<img id="start_img-9631" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9631">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>