<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Email responses prompt crowds Answer button
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1607" class = "post">
			<h2>Question</h2>
			<div id="vote-1607" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 34</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Email responses prompt crowds Answer button</h2>
<p>The Add Another Answer/Answer your Question button is floated to the left, causing the prompt to receive email notifications appear somewhat awkwardly to the right:</p>

<p><img src="https://i.stack.imgur.com/QMTs8.png" alt="email question offset"></p>

<p>I'm not positive it doesn't end up in the same position on other sides, but the prompt should at least be in line with the button vertically and spaced a little further to the right.</p>

<p>The <code>float: left;</code> on that prompt also causes weird things when you get errors on the ask form:</p>

<p><img src="https://i.stack.imgur.com/1qvVN.png" alt="oddly positioned self-answer checkbox"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1607">Load Comments</button></br>
			<div id = "commentsection-1607" class = 'collapse'>
			<div id = "comment-2991" class = "comment">
				<p>With you pointing out some issues, I realize I've since started ignoring the bugs in layout and function we have here :( I've not had good response when posting bugs to the main meta - especially when using mobile safari. Thanks for the fresh eyes.</p>
			</div>
			</div>
				<textarea id = "speech-1607" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1607">
					<img id="start_img-1607" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1607">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1840"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1840" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This appears to be fixed.</p>

<p><img src="https://i.stack.imgur.com/Kgf6i.png" alt="enter image description here"></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1840" class = 'collapse'>
			</div>
				<textarea id = "speech-1840" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1840">
					<img id="start_img-1840" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1840">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>