<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>EMAX ESC Simon Series with arduino
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7850" class = "post">
			<h2>Question</h2>
			<div id="vote-7850" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 433</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>EMAX ESC Simon Series with arduino</h2>
<p>I want to control a brushless motor with the "EMAX Simon Series 30amp ESC" and Arduino (Leonardo) board. I am really confused how to do that. I can't understand which beep sounds mean what. I have tested many code examples but they weren't useful.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7850" data-toggle = "popover">
				<p>user name : Mohsenadc</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-7850">{'brushless-motor': 1, 'None': 0, 'esc': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7850">Load Comments</button></br>
			<div id = "commentsection-7850" class = 'collapse'>
			<div id = "comment-11664" class = "comment">
				<p>Hi Mohsenadc. Welcome to SE Robotics. Which beep sounds are you referring to? Can you edit your question to include some code that you have tried? Also, can you provide a schematic diagram of your circuit, in your question? Thanks. You may want to take a [tour](http://robotics.stackexchange.com/tour) of the site and to [see how to best ask a question](http://stackoverflow.com/help/how-to-ask).</p>
			</div>
			</div>
				<textarea id = "speech-7850" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7850">
					<img id="start_img-7850" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7850">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8173"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8173" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When say you say you "want to control a brushless motor with [a] ESC ... and Arduino", do you mean:</p>

<p>Do you want the Arduino to act like the RC receiver in the airplane in the air and make the propeller spin slow, stop, fast, etc.? Or,</p>

<p>Do you want the Arduino to act like a person changing settings in the ESC using a programming card on the ground?</p>

<h2>In the air</h2>

<p>In the air, the 3 wire cable between the RC receiver and the ESC carries the so-called <a href="http://www.opencircuits.com/Servo_control" rel="nofollow">"RC PWM signals"</a>.
The RC receiver sends exactly the same kind of signals to RC servos.
The ESC neither knows nor cares where these signals come from -- the RC receiver, the Arduino PWM (using the <a href="https://www.arduino.cc/en/Reference/Servo" rel="nofollow">Arduino Servo library</a>), the <a href="http://playground.arduino.cc/ComponentLib/Servo" rel="nofollow">Arduino Software Servo library</a> ( periodically calling refresh() in the main loop() ), or some other source.</p>

<h2>On the ground</h2>

<p>The "beep sounds" are really only useful when changing the settings in the ESC on the ground, perhaps with a programming card.
To learn what the "beep sounds mean", see the user manual <a href="http://yinyanmodel.com/EMAX%20User%20Instruction%20for%20Simonk%20Series%20ESC.pdf" rel="nofollow">"EMAX User Instruction for SimonK Series ESC"</a>.</p>

<p>Normally this is a one-time setup, so most people do this once manually on the ground.
</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8173" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-8173">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8173" class = 'collapse'>
			</div>
				<textarea id = "speech-8173" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8173">
					<img id="start_img-8173" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8173">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>