<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Emojis usage in Comments and Answers?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2165" class = "post">
			<h2>Question</h2>
			<div id="vote-2165" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 99</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Emojis usage in Comments and Answers?</h2>
<p>Will Ask Different Community support Emoji in replies and answers? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2165" data-toggle = "popover">
				<p>user name : Jash Jacob</p>
				<p> user reputation : 3118</p>
				<p class = "tagcontent" id = "usertaginfo-2165">{'None': 0, 'site-scope': 8, 'discussion': 20, 'feature-request': 1, 'questions': 6, 'flagging': 4, 'bug': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2165">Load Comments</button></br>
			<div id = "commentsection-2165" class = 'collapse'>
			<div id = "comment-4133" class = "comment">
				<p>[Pile of Poo] Hope so!</p>
			</div>
			<div id = "comment-4135" class = "comment">
				<p>I hope not the sites are for exchanging information and are not for chit chat - as per the FAQ</p>
			</div>
			</div>
				<textarea id = "speech-2165" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2165">
					<img id="start_img-2165" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2165">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2166"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2166" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Given that <a href="https://apple.stackexchange.com/questions/41228/why-do-emoji-like-%EF%BF%BD%EF%BF%BD-appear-when-i-use-safari-but-not-chrome/41347#41347">emoji support is not uniform across all browsers</a> I would caution anyone attempting to use them in a question or answer to think carefully before doing so. Unless it adds a serious bit of relevant context to your question or answer, my advice would be to avoid them.</p>

<p>Sorry to   on your parade.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2166" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-2166">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2166">Load Comments</button></br>
			<div id = "commentsection-2166" class = 'collapse'>
			<div id = "comment-5950" class = "comment">
				<p>Chrome / Safari  </p>
			</div>
			<div id = "comment-5951" class = "comment">
				<p>@JashJacob falls apart in tab bar title rendering though.</p>
			</div>
			</div>
				<textarea id = "speech-2166" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2166">
					<img id="start_img-2166" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2166">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>