<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Enable Bluetooth Adapter for BeagleBone Black
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6985" class = "post">
			<h2>Question</h2>
			<div id="vote-6985" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2144</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Enable Bluetooth Adapter for BeagleBone Black</h2>
<p>I recently bought a <a href="http://plugable.com/products/usb-bt4le" rel="nofollow noreferrer">USB 2.0 Bluetooth Adapter</a>. It claims to have support from Linux kernels of versions 3.4 and higher. I have a <strong>BeagleBone Black</strong> with <strong>Debian GNU/Linux 7</strong> image and kernel 3.8. I am developing on BeagleBone Black by hosting it through USB with <code>ssh</code>.</p>

<p>I have tried both hot plugging and  plugging in before boot and failed. </p>

<p>Then, I tried <a href="http://michaelhleonard.com/enable-bluetooth-on-beaglebone-black/" rel="nofollow noreferrer">this tutorial</a>. However, I cannot find the <code>connman</code> directory on my BeagleBone Black device. I looked up and assumed I needed to install the <code>connman</code> package, but my BeagleBone Black has no internet access.</p>

<p>I have also tried <code>lsusb -v</code>, as suggested by an answer of a <a href="https://stackoverflow.com/questions/18754699/usb-bluetooth-dongle-isnt-recognized-by-beaglebone-black">similar question</a> to this, with no luck. The weird thing is, while <code>lsusb</code> itself prints</p>

<blockquote>
  <p>Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub <br>
  Bus 002 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub</p>
</blockquote>

<p><code>lsusb -v</code> only prints</p>

<blockquote>
  <p>Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub</p>
</blockquote>

<p>then hangs. Information regarding bus 002, which I believe the device is connected to, is not printed. I have to restart the <code>ssh</code> connection to get back to work. </p>

<p>How should I approach to get the dongle to work on my BeagleBone Black? If the <code>connman</code> package is sufficient, how do I install it on my BeagleBone Black without internet access. Why does <code>lsusb -v</code> hang?</p>

<p>Any help is appreciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6985" data-toggle = "popover">
				<p>user name : Thomas Hsieh</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-6985">{'None': 1, 'beagle-bone': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6985" class = 'collapse'>
			</div>
				<textarea id = "speech-6985" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6985">
					<img id="start_img-6985" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6985">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6991"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6991" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could try this tutorial, you will need internet to download some packages. <a href="http://www.instructables.com/id/Wireless-Arduino-Control-Using-the-BeagleBone-Blac/step2/Configuring-the-BBB-or-RPi-for-Bluetooth-Operation/" rel="nofollow">http://www.instructables.com/id/Wireless-Arduino-Control-Using-the-BeagleBone-Blac/step2/Configuring-the-BBB-or-RPi-for-Bluetooth-Operation/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6991" data-toggle = "popover">
				<p>user name : rudasi</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6991">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6991">Load Comments</button></br>
			<div id = "commentsection-6991" class = 'collapse'>
			<div id = "comment-9957" class = "comment">
				<p>The thing is that my Bluetooth adapter is not even enabled/recognized. As mentioned, `lsusb` prints the above output. Not to mention I do not have internet access on my BeagleBone Black.</p>
			</div>
			</div>
				<textarea id = "speech-6991" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6991">
					<img id="start_img-6991" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6991">Comment</button>
			<br><div id = "ans-6993"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6993" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The actual problem turned out to be that my BeagleBone Black is flawed/damaged. I plugged the Bluetooth Adapter into a plain new BeagleBone Black before powering it, and the Bluetooth Adapter is recognized! Not only does <code>lsusb</code> prints out the adapter info, but also <code>lsusb -v</code> does not hang at all. The overall performance of the new board (boot time, compilation time, execution time) is also several times better. I suspect that it was due to the various improper power-off. </p>

<p>In case anyone is just as careless, the BeagleBone Black <strong>SHALL</strong> be powered off by:</p>

<ul>
<li>Holding down the power button for about 8 seconds then releasing it.</li>
<li>Using <code>halt</code> or <code>shutdown -h now</code> command in the Userspace.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6993" data-toggle = "popover">
				<p>user name : Thomas Hsieh</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-6993">{'None': 1, 'beagle-bone': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6993" class = 'collapse'>
			</div>
				<textarea id = "speech-6993" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6993">
					<img id="start_img-6993" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6993">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>