<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Ensemble Kalman Filter SLAM
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4523" class = "post">
			<h2>Question</h2>
			<div id="vote-4523" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 190</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ensemble Kalman Filter SLAM</h2>
<p>I know that there is an extended kalman filter approach to simultaneous localization and mapping.  I'm curious if there is a SLAM algorithm that exploits the <strong><em>ensemble</em></strong> kalman filter.  A citation would be great, if at all possible.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4523" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-4523">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4523" class = 'collapse'>
			</div>
				<textarea id = "speech-4523" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4523">
					<img id="start_img-4523" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4523">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8800"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8800" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Did you check out this website?<a href="http://enkf.nersc.no/" rel="nofollow">http://enkf.nersc.no/</a>
It seems that the authors have an extended literature on enKF and examples in Matlab and Fortran are provided.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8800" data-toggle = "popover">
				<p>user name : romeo orsolino</p>
				<p> user reputation : 47</p>
				<p class = "tagcontent" id = "usertaginfo-8800">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8800">Load Comments</button></br>
			<div id = "commentsection-8800" class = 'collapse'>
			<div id = "comment-14431" class = "comment">
				<p>There is no enKF SLAM algorithm in the website you linked.</p>
			</div>
			</div>
				<textarea id = "speech-8800" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8800">
					<img id="start_img-8800" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8800">Comment</button>
			<br><div id = "ans-8801"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8801" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well let's see. <a href="http://enkf.nersc.no/Publications/eve94a.pdf" rel="nofollow">The original paper</a> has approximately 3,000 citations in various branches of literature, including numerous applied textbooks. I'd say this question lacks research, but given the large amount of follow-up literature, I understand how you may not be able to find a SLAM-specific implementation. </p>

<p>I was able to find many papers using enKF/enEKF for visual applications, but relatively few for true map-based SLAM. (I think the term SLAM is over-used and over-specific, but that's an aside.) If you relax your definition of a map to be any feature tracked across multiple sensor measurements, then you should also include:</p>

<ul>
<li>Vehicle to vehicle localization. </li>
<li>Visual feature tracking</li>
<li>Target tracking from emplaced sensor measurements</li>
<li>Self localization and state estimation</li>
</ul>

<p>But, doing a search for "SLAM" in the context of directly citing the enKF article yielded only the following:  <a href="http://link.springer.com/article/10.1007/s11771-015-2767-4" rel="nofollow">State estimation of connected vehicles using a nonlinear ensemble filter</a></p>

<p>This does not preclude enKF-SLAM since my search was restrictive. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8801" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-8801">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8801" class = 'collapse'>
			</div>
				<textarea id = "speech-8801" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8801">
					<img id="start_img-8801" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8801">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>