<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Error while running rosserial node in ROS
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10800" class = "post">
			<h2>Question</h2>
			<div id="vote-10800" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 244</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Error while running rosserial node in ROS</h2>
<p>I have an Arduino connected to ROS through serial port. I wrote an ardiuno code to drive motors. below is my code.</p>

<pre><code>//Library to communicate with I2C devices
    #include "Wire.h"
    #include &lt;Messenger.h&gt;
    //Contain definition of maximum limits of various data type
    #include &lt;limits.h&gt;
     //Messenger object
    Messenger Messenger_Handler = Messenger();

    //////////////////////////////////////////////////////////////////////////////////////
    //Motor Pin definition
    //Left Motor
    #define USE_USBCOM
    #define INA_1 7
    #define INB_1 12    
      //PWM 1 pin 
    #define PWM_1 5

    //Right Motor
    #define INA_2 11 
    #define INB_2 10

    //PWM 2 pin 
    #define PWM_2 6
    #define RESET_PIN 4

    ///////////////////////////////////////////////////////////////////////////////////////
    //Motor speed from PC
    //Motor left and right speed
    float motor_left_speed = 0;
    float motor_right_speed = 0;
    /////////////////////////////////////////////////////////////////

    //Setup serial, motors and Reset functions
    void setup()
    {

      //Init Serial port with 115200 baud rate
      Serial.begin(57600);  

      //Setup Motors
      SetupMotors();
       SetupReset();
      //Set up Messenger 
      Messenger_Handler.attach(OnMssageCompleted);
       }
 /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Setup Motors() function

    void SetupMotors()
    {

     //Left motor
     pinMode(INA_1,OUTPUT);
     pinMode(INB_1,OUTPUT); 

     //Right Motor
     pinMode(INA_2,OUTPUT);
     pinMode(INB_2,OUTPUT);  

    }

    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Setup Reset() function

    void SetupReset()

    {

      pinMode(RESET_PIN,OUTPUT);

      ///Conenect RESET Pins to the RESET pin of launchpad,its the 16th PIN
      digitalWrite(RESET_PIN,HIGH);


    }
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //MAIN LOOP

    void loop()
    {

        //Read from Serial port
        Read_From_Serial();


        //Update motor values with corresponding speed and send speed values through serial port
        Update_Motors();

    delay(1000);
      }
 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Read from Serial Function

    void Read_From_Serial()

    {
       while(Serial.available() &gt; 0)
        {

           int data = Serial.read();
           Messenger_Handler.process(data);

        } 

    }
   ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //OnMssg Complete function definition

    void OnMssageCompleted()
    {

      char reset[] = "r";
      char set_speed[] = "s";

      if(Messenger_Handler.checkString(reset))
      {


         Reset();

      }
      if(Messenger_Handler.checkString(set_speed))
      {

         //This will set the speed
         Set_Speed();
         return; 


      }
    }
   //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Set speed
    void Set_Speed()
    {

      motor_left_speed = Messenger_Handler.readLong();
      motor_right_speed = Messenger_Handler.readLong();


    }
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Reset function
    void Reset()
    {

      delay(1000);
      digitalWrite(RESET_PIN,LOW);

    }
   ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Will update both motors
    void Update_Motors()
    {

      moveRightMotor(motor_right_speed);
      moveLeftMotor(motor_left_speed);

     }

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    //Motor running function


    void moveRightMotor(float rightServoValue)
    {
      if (rightServoValue&gt;0)
      {

     digitalWrite(INA_1,HIGH);
     digitalWrite(INB_1,LOW);
     analogWrite(PWM_1,rightServoValue);

      }
      else if(rightServoValue&lt;0)
      {
     digitalWrite(INA_1,LOW);
     digitalWrite(INB_1,HIGH);
     analogWrite(PWM_1,abs(rightServoValue));

      }

      else if(rightServoValue == 0)
      {
     digitalWrite(INA_1,HIGH);
     digitalWrite(INB_1,HIGH);


      }
    }
   ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    void moveLeftMotor(float leftServoValue)
    {
     if (leftServoValue &gt; 0)
      {
    digitalWrite(INA_2,LOW);
    digitalWrite(INB_2,HIGH);
    analogWrite(PWM_2,leftServoValue);
      }
      else if(leftServoValue &lt; 0)
      {
     digitalWrite(INA_2,HIGH);
     digitalWrite(INB_2,LOW);
     analogWrite(PWM_2,abs(leftServoValue));

      }
      else if(leftServoValue == 0)
      {

       digitalWrite(INA_2,HIGH);
       digitalWrite(INB_2,HIGH);

       }  

    }
</code></pre>

<p>when i load the code to arduino and start rosserial node using command </p>

<blockquote>
  <p>rosrun rosserial_python serial_node.py /dev/ttyACM0</p>
</blockquote>

<p>ROS throws below error</p>

<blockquote>
  <p>[ERROR] [WallTime: 1475949610.718804] Unable to sync with device;
  possible link problem or link software version mismatch such as hydro
  rosserial_python with groovy Arduino</p>
</blockquote>

<p>I have tried changing the baud rate and fixing it similar in ROS and arduino but nothing helped</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10800" data-toggle = "popover">
				<p>user name : user3725099</p>
				<p> user reputation : 38</p>
				<p class = "tagcontent" id = "usertaginfo-10800">{'odometry': 2, 'None': 0, 'power': 3, 'arduino': 1, 'battery': 3, 'gazebo': 3, 'first-robotics': 1, 'lithium-polymer': 3, 'simulation': 1, 'motor': 3, 'mobile-robot': 7, 'ros': 4, 'navigation': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10800">Load Comments</button></br>
			<div id = "commentsection-10800" class = 'collapse'>
			<div id = "comment-19664" class = "comment">
				<p>I have a similar issue when using a development board instead of my development pc. At one moment, the development board worked 50% percent of the time but now it is just not working at all. The arduino is connected to the development board thourgh USB.</p>
			</div>
			</div>
				<textarea id = "speech-10800" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10800">
					<img id="start_img-10800" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10800">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10927"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10927" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>i suggest you take a look at Tones' answer : <a href="http://answers.ros.org/question/210875/arduino-rosserial-unable-to-sync-with-device/?answer=237868#post-id-237868" rel="nofollow">http://answers.ros.org/question/210875/arduino-rosserial-unable-to-sync-with-device/?answer=237868#post-id-237868</a></p>

<p>i'm using the second workaround : </p>

<ul>
<li>Start the serial_node with baud rate 0, exit and restart the serial node with the correct baud rate. You have to repeat this every time the error occurs.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10927" data-toggle = "popover">
				<p>user name : Fran ois Pilote</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-10927">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10927" class = 'collapse'>
			</div>
				<textarea id = "speech-10927" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10927">
					<img id="start_img-10927" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10927">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>