<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Error in simmechanics matlab while doing inverse dynamics using custom joint
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11975" class = "post">
			<h2>Question</h2>
			<div id="vote-11975" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 73</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Error in simmechanics matlab while doing inverse dynamics using custom joint</h2>
<p>I am doing inverse dynamics in Matlab simmechanics in which position and orientation will be input to the end effector. 
But it shows error as below.</p>

<p><em>Error originates in Mechanical block rob33/Subsystem2/Subsystem1/Custom Joint. The coordinate systems attached to this joint must lie on the prismatic axis (for 1 axis) or in the plane of the prismatic axes (for 2 axes). If joint has no prismatic axes, the attached coordinate systems must be collocated, within tolerances.</em></p>

<p>Model is given below.
<a href="https://i.stack.imgur.com/v1YJu.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/v1YJu.png" alt="enter image description here"></a> </p>

<p>In subsystem1, I used custom joint to give orientaion input. Susystem1 model and  custom joint block parameters is given below figure.</p>

<p><a href="https://i.stack.imgur.com/KEWHm.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/KEWHm.png" alt="enter image description here"></a></p>

<p>Parameters of link1-1 and parallel constaints is given in below figure. </p>

<p><a href="https://i.stack.imgur.com/xoZhq.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/xoZhq.png" alt="enter image description here"></a></p>

<p>How do I correct this error?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11975" data-toggle = "popover">
				<p>user name : Naseeb Gill</p>
				<p> user reputation : 62</p>
				<p class = "tagcontent" id = "usertaginfo-11975">{'None': 0, 'manipulator': 2, 'inverse-kinematics': 5, 'simulator': 0, 'arduino': 2, 'simulation': 2, 'servomotor': 1, 'kinematics': 1, 'matlab': 6, 'robotic-arm': 5, 'rotation': 1, 'forward-kinematics': 0, 'dynamics': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11975" class = 'collapse'>
			</div>
				<textarea id = "speech-11975" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11975">
					<img id="start_img-11975" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11975">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11978"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11978" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I solved this problem by seeing below image from internet. This image explain the constraints in coordinate system in simulink. </p>

<p><em>R = revolute ; S = spherical; W = weld; P = prisimatic</em></p>

<p><a href="https://i.stack.imgur.com/lOtCt.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/lOtCt.png" alt="enter image description here"></a></p>

<p>As I have custom joint (in between ground and link 1-1) with R1R2R3 joints so body1 CS and body2 CS should coincident. </p>

<p>To do this, I copy <strong>CS3 of link1-1</strong> and paste it into <strong>CS of ground</strong>.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11978" data-toggle = "popover">
				<p>user name : Naseeb Gill</p>
				<p> user reputation : 62</p>
				<p class = "tagcontent" id = "usertaginfo-11978">{'None': 0, 'manipulator': 2, 'inverse-kinematics': 5, 'simulator': 0, 'arduino': 2, 'simulation': 2, 'servomotor': 1, 'kinematics': 1, 'matlab': 6, 'robotic-arm': 5, 'rotation': 1, 'forward-kinematics': 0, 'dynamics': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11978" class = 'collapse'>
			</div>
				<textarea id = "speech-11978" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11978">
					<img id="start_img-11978" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11978">Comment</button>
			<br><div id = "ans-11979"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11979" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>SimMechanics isn't an "inverse dynamics" engine, it's not an inverse kinematics engine, it's a "forward dynamics" or just "dynamics" engine. You provide link dimensions, inertias, and joint constraints. Then you provide either an applied force or an applied motion, SimMechanics propagates those forces (or equivalent forces, in the even of applied motions) through your model, and you get an output that shows what your system does in the presence of those forces. </p>

<p>I don't know what you think your Subsystem1 is supposed to be doing, but it's not doing it. Here is what is actually happening:</p>

<ol>
<li>Each joint or link has an input location ("Base") and an output locations ("Follower"). Links have inertias and fixed transforms between base and follower, joints have no inertias and obviously have variable transforms between base and follower. </li>
<li>Each <strong>system</strong> has one <strong>and only one ground</strong>. This provides your zero-reference. </li>
<li>So, reading your first diagram from left to right, you have a "Root Ground", a welded base, then you start building your robot with joint, link, joint, link, etc. </li>
<li>Eventually you get to "Link 4-1", which I'm assuming is supposed to be an end effector. </li>
<li>Here's where you get into trouble - you tie some coordinate frame from the end effector to "Subsystem1" by attaching it to the follower (output) of a pair of parallel constraints. </li>
<li>Those parallel constraints are attached to the follower of a link, which is the follower of a custom joint, which is attached to ground!</li>
</ol>

<p>You have made a closed loop, starting and ending at a ground connection. </p>

<p>The problem with this is that SimMechanics seems to be especially terrible at solving for initial conditions. If your starting/default orientation for the revolute joints and those linkages doesn't result in an end effector pose that <em>exactly</em> matches the starting/default orientation for the custom joint and the subsystem1 link, then you get this error because the difference in pose matching results in a separated joint somewhere - typically where you tie back to ground. This is in Subsystem, where the ground connection attaches to custom joint 1, which is where you're getting the error. </p>

<p>It looks like maybe you're trying to do inverse kinematics by creating a "puppet" - you provide a position and an orientation and rely on the SimMechanics solver to find the joint angles that allow the arm to reach that pose. Again, the problem here is if you start with a set of initial conditions where your initial input pose doesn't correspond to your initial robot pose. </p>

<p>You could also get this error if you use your input pose to drive the arm to an unreachable subspace. At that point, the arm "locks up," the input continues to move, and in one time step a joint separates somewhere and you hit a "not coincident" error like this again. </p>

<p>My suggestion would be to check the default orientation of the arm by commenting out the input subsystem1 code (highlight, right click, and choose "comment out). Then uncomment the input, comment out the robot arm (except the end effector, of course), and see if the end effector is in the same position. If it's not, there's your problem. Adjust your default input/robot joint angles as required to get the two to mesh. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11979" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11979">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11979">Load Comments</button></br>
			<div id = "commentsection-11979" class = 'collapse'>
			<div id = "comment-21259" class = "comment">
				<p>Thanks @Chuck for reply. I want to mention here that I wrote above inverse kinematics because I'm interested in joint's torque. I know that it is closed loop so in machine environment I choose analysis mode as "kinematics". I am referring  below paper to do this.
http://www.intechopen.com/books/matlab-applications-for-the-practical-engineer/analysis-of-robotic-system-motion-in-simmechanics-and-matlab-gui-environment  
As you suggest me I comment out subsystem1 but it show error .....please look 2nd comment............</p>
			</div>
			<div id = "comment-21260" class = "comment">
				<p>........from previous comment.......Mechanical model motion is not completely specified when running in kinematics mode. To be legal in kinematics mode, all independent degrees of freedom must be kinematically actuated. Check joints, constraints, drivers, actuators, and DoFs.
CAn you suggest me how to get joints torque by giving x,y,z and orientation input same as I tried above. Thanks</p>
			</div>
			</div>
				<textarea id = "speech-11979" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11979">
					<img id="start_img-11979" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11979">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>