<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Establishing Data Transfer between two Raspberry Pi's using GPIO
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8951" class = "post">
			<h2>Question</h2>
			<div id="vote-8951" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 257</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Establishing Data Transfer between two Raspberry Pi's using GPIO</h2>
<p>Good day</p>

<p>I am currently implementing an autonomous quadcopter with stereo vision using raspberry Pi. One (Let's call this Pi_1) is responsible for stereo vision the other is responsible for motor control and trajectory planning (Pi_2). I was looking for a way to transfer a 480 element float vector via GPIO from Pi_1 to Pi_2. Pi_1 stereovision program runs at 2Hz while Pi_2 motor control runs at 210Hz. </p>

<blockquote>
  <p>Is there any protocol fast enough to deliver this amount of information to the second raspberry pi via GPIO? </p>
</blockquote>

<p>I am currently looking at SPI but I saw that the Raspberry Pi cannot be turned to a Slave making it not an option. I also looked at UART however it is too slow for my needs. All the I2c ports on the Pi are currently being used by the stereo vision cameras and the IMU's. If the gpio option is not feasible, I am also open for other suggestions such as using other hardware (middle man) or wireless options.   </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8951" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-8951">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8951">Load Comments</button></br>
			<div id = "commentsection-8951" class = 'collapse'>
			<div id = "comment-14755" class = "comment">
				<p>What about Ethernet?</p>
			</div>
			<div id = "comment-14761" class = "comment">
				<p>one of the raspi boards I am using is the raspberry pi compute module io board. :) Unfortunately it does not have an ethernet socket. :(</p>
			</div>
			<div id = "comment-14768" class = "comment">
				<p>Same question posted on [Raspberry pi SE](http://raspberrypi.stackexchange.com/questions/41373/data-communication-between-two-raspberry-pis-via-gpio).</p>
			</div>
			<div id = "comment-14783" class = "comment">
				<p>The UART looks plenty fast enough, am I missing something? Are you transferring the vector at 2 Hz? Assuming 480 single-precision floats twice a second, that's a goodput of 30,720 bit/s. ["How can I set the UART speed?"](http://raspberrypi.stackexchange.com/questions/1094/how-can-i-set-the-uart-speed) claims that the Raspberry Pi UART defaults to 115200 bit/s which seems more than adequate for a 2 Hz transfer rate. It also implies that (with difficulty) it can run at 32 Mbit/s (typo?), which is more than adequate for a 210 Hz rate.</p>
			</div>
			</div>
				<textarea id = "speech-8951" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8951">
					<img id="start_img-8951" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8951">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8955"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8955" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I2C is a bus, not a particular direct connection. What's the problem with connecting the two over I2C? Actually, the <a href="https://en.wikipedia.org/wiki/I%C2%B2C" rel="nofollow noreferrer">Wikipedia page for I2C</a> shows the image below, with two microcontrollers connected via the I2C bus. </p>

<p><a href="https://i.stack.imgur.com/d06kd.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/d06kd.png" alt="I2C Bus"></a></p>

<p>You might be able to transition your other devices from I2C to SPI and leave the I2C bus open for uC-uC comms.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8955" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8955">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8955">Load Comments</button></br>
			<div id = "commentsection-8955" class = 'collapse'>
			<div id = "comment-14766" class = "comment">
				<p>I found out that the UART has a much higher speed on the raspberry pi compared to i2c. This fits my needs as I am sending a 480 element floating vector from Pi_1 to Pi_2</p>
			</div>
			<div id = "comment-14769" class = "comment">
				<p>@user123456098 - Great! You can actually make that an answer to your own question and then, a few days later I believe, you can accept it as the correct answer.</p>
			</div>
			</div>
				<textarea id = "speech-8955" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8955">
					<img id="start_img-8955" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8955">Comment</button>
			<br><div id = "ans-9266"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9266" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Raspberry Pi's UART interface can handle up to 4Mbps which fits my needs as I am sending a 480 element floating vector from Pi_1 to Pi_2 </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9266" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-9266">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9266" class = 'collapse'>
			</div>
				<textarea id = "speech-9266" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9266">
					<img id="start_img-9266" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9266">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>