<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Exchange air and maintain thermal insulation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8845" class = "post">
			<h2>Question</h2>
			<div id="vote-8845" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Exchange air and maintain thermal insulation</h2>
<p>My application is composting with worms outdoors inside an a styrofoam cooler.  I use a heat lamp and a thermo-electric cooler to maintain the temperature in the bin when the temperature outside is out of bounds for healthy worms.  When the temperature outside <em>is</em> in bounds, I'd like to exchange the air in the bin with fresh air from outside, but I don't want to permanently compromise the insulating properties of my bin with lots of air holes.  So I'm looking for actuator solutions that would allow me to open/close a window of sorts.  I'm considering a solenoid air valve but I don't necessarily need/want an air compressor - a simple fan is sufficient to circulate the air. Any suggestions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8845" data-toggle = "popover">
				<p>user name : surgical_tubing</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-8845">{'actuator': 1, 'None': 0, 'valve': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8845">Load Comments</button></br>
			<div id = "commentsection-8845" class = 'collapse'>
			<div id = "comment-14527" class = "comment">
				<p>Do you need your container to be airtight or watertight or none of the above?</p>
			</div>
			<div id = "comment-14554" class = "comment">
				<p>It doesn't need to be strictly airtight or watertight.  I just want to minimize thermal losses while closed.</p>
			</div>
			</div>
				<textarea id = "speech-8845" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8845">
					<img id="start_img-8845" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8845">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8846"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8846" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is no question of robotics... Keep it simple (:</p>

<p>Google for "Louver Bath Vent": <a href="https://www.google.de/search?q=Louver+Bath+Vent" rel="nofollow">https://www.google.de/search?q=Louver+Bath+Vent</a></p>

<p>These kinds of ducts open by the air pressure generated from a ventilator.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8846" data-toggle = "popover">
				<p>user name : Squelsh</p>
				<p> user reputation : 94</p>
				<p class = "tagcontent" id = "usertaginfo-8846">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8846">Load Comments</button></br>
			<div id = "commentsection-8846" class = 'collapse'>
			<div id = "comment-14529" class = "comment">
				<p>+1 for this, a self-closing gravity grille (I don't know the proper name) to let the air out and a fan + small inlet to draw the air in.  When the fan is not running the grille will close and there will be very little air exchange with the outside.  No need for an extra actuator.</p>
			</div>
			<div id = "comment-14553" class = "comment">
				<p>I like this idea, and will probably mark as accepted shortly. I'm just having trouble finding something off the shelf in  the smaller size I was envisioning.  The smallest dampers / louvers I've seen are 4 inches and I'm not certain they are self-closing.  I was hoping for something closer in size to CPU fans, so more like 1 to 2 inches.  I might try to fashion something similar myself using a weighted flap of insulating material.</p>
			</div>
			</div>
				<textarea id = "speech-8846" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8846">
					<img id="start_img-8846" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8846">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>