<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Exoskeleton Drive System Help
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4323" class = "post">
			<h2>Question</h2>
			<div id="vote-4323" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 366</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Exoskeleton Drive System Help</h2>
<p>I am currently working on an exoskeleton.  The exoskeleton is going to help kids with cerebral palsy learn to walk 4 years sooner than traditional therapy.  Currently we are using 2 Ame 226-3003 with the roboclaw 2x60A motor controller controlled by an Arduino mega.  The Ame 226-3003 motors are not powerful enough.  In addition the Ame 226-3003 has a worm gear thus the motor cannot be moved when the motor is turned off.  Our position feedback system is a gear attached to the shaft of the motor which spins a gear on a potentiometer.  The two gears have a 1:1 ratio.  </p>

<p>In order to better understand the project, please see the video: 
<a href="https://www.youtube.com/watch?v=NL_aCwJSRiE&amp;feature=youtu.be" rel="nofollow">https://www.youtube.com/watch?v=NL_aCwJSRiE&amp;feature=youtu.be</a></p>

<p>The Ame 226-3003 catalog page: 
<a href="http://www.amequipment.com/wp-content/uploads/2013/02/801-1071-web.pdf" rel="nofollow">http://www.amequipment.com/wp-content/uploads/2013/02/801-1071-web.pdf</a></p>

<p>We need a new drive system:</p>

<ul>
<li>more powerful than the Ame 226-3003 motor.  We do not have an exact torque spec but we believe any drive system that is 70-100% more powerful than the Ame 226 - 3003.  </li>
<li>We like the rpm range of the Ame 226-3003.</li>
<li>The drive system must be able to spin freely when the motor is not in use.  </li>
<li>We need a way to get position feedback, the potentiometer system we are using seems to work, however it adds to much extra hardware(more stuff to break), (ie) the gear on the potentiometer and the gear on the shaft have to mesh constantly and we have to zero the potentiometer every time we put the leg together so the potentiometer doesn't over spin.  * We would prefer to have an optical encoder inside the motor.</li>
<li>We need to have the drive system be at a right angle.</li>
</ul>

<p>I need help designing a drive system that will meet the requirements.  </p>

<p>I think I might have found a motor that will work:</p>

<p>The amp flow G43-500</p>

<p><a href="http://www.ampflow.com/standard_motors.htm" rel="nofollow">http://www.ampflow.com/standard_motors.htm</a></p>

<p>I like the G43-500 because it can run at 24 v, thus it will take less amps than 12v. Will that motor get the job done?</p>

<p>I need to gear this down to around 80rpm.  What type of gear box would work best?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4323" data-toggle = "popover">
				<p>user name : Joel</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-4323">{'control': 1, 'None': 0, 'noise': 0, 'encoding': 1, 'arduino': 3, 'microcontroller': 1, 'pid': 3, 'avr': 3, 'motor': 4, 'electronics': 0, 'motion-planning': 1, 'driver': 0, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4323">Load Comments</button></br>
			<div id = "commentsection-4323" class = 'collapse'>
			<div id = "comment-6986" class = "comment">
				<p>Welcome to *robotics* Joel, and I'm sorry that your questions have been closed, but please take a look at [ask] and [about] for more information on how stack exchange works. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Shopping questions and unbounded design questions are a poor fit, but please don;t let that stop you asking more targeted questions in the future.</p>
			</div>
			</div>
				<textarea id = "speech-4323" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4323">
					<img id="start_img-4323" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4323">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4324"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4324" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For your question on position feedback, this brand, among others, are used in actual commercial/industrial systems. </p>

<p>Has small and big size.  </p>

<p>Absolute gives actual angle, says 256 steps per 360 degrees. This may best suits you.</p>

<p>Incremental is to give, says, 500 pulses per revolution. However, you need other sensor to sensor the 'starting angle'. May not suits you, in this case.</p>

<p><a href="http://www.ia.omron.com/products/category/sensors/rotary-encoders/incremental/index.html" rel="nofollow">http://www.ia.omron.com/products/category/sensors/rotary-encoders/incremental/index.html</a></p>

<p><a href="http://www.ia.omron.com/products/category/sensors/rotary-encoders/absolute/index.html" rel="nofollow">http://www.ia.omron.com/products/category/sensors/rotary-encoders/absolute/index.html</a></p>

<p>For man-rated system, safety is very important, especially when powerful motor is used.  You may want to use some sort of force sensor to ensure motor auto stop in case of hardware/software error/ equipment failure, etc. so as to protect the human.  Case noise etc. cause errors. Optical isolation may be more safe.</p>

<p>Hope it helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4324" data-toggle = "popover">
				<p>user name : EEd</p>
				<p> user reputation : 359</p>
				<p class = "tagcontent" id = "usertaginfo-4324">{'None': 16, 'laser': 3, 'pid': 1, 'motor': 1, 'untagged': 0, 'pwm': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4324">Load Comments</button></br>
			<div id = "commentsection-4324" class = 'collapse'>
			<div id = "comment-6857" class = "comment">
				<p>Safety is our number one concern.  We have a plethora of shut off switches and we are adding a mechanical stop as well</p>
			</div>
			<div id = "comment-6858" class = "comment">
				<p>Have you ever tried to interface those encoders with an Arduino?  If not, do you know of a forum post or a place I can go to figure out how to interface them?</p>
			</div>
			<div id = "comment-6859" class = "comment">
				<p>For example, choose a rugged unit (better for man-rated system, for safe with solid construction IP65 and EMC spec.) http://www.ia.omron.com/product/item/e6c31034m/index.html. Best to choose 5V, as same as Ardu.  with2 meters cable. See 'output circuit diagram tab' on the web page. Has 2.4k ohms pull up resistor inside. Hence, good resistance to noise. Connect Shield pin to system ground for EMC protection (reduce error due to noise). Program ardu as 8 DIGITAL INPUT pin as 'connected spec chart tab'. Read data as binary number for 256 steps. see 'timing chart tab".</p>
			</div>
			<div id = "comment-6860" class = "comment">
				<p>To test, rotate slowly. See 'timing chart tab". The output will change as binary number from 0 to 255 when rotate a full 360 degrees. Interfacing is typical and straight forward for someone with suitable hardware education/experience/background. Check voltage output from the encoder with multitester, oscilloscope or simple LED, as needed. best to test the encoder, with just 5 voltage power and not yet connect to Ardu to ensure correct understanding of the spec.  Take time to do it slowly. No big difficulty.</p>
			</div>
			<div id = "comment-6861" class = "comment">
				<p>Education material in http://www.ia.omron.com/support/faq/5/34.html                http://www.ia.omron.com/support/guide/34/overview.html</p>
			</div>
			<div id = "comment-6862" class = "comment">
				<p>mech interfacing   http://www.ia.omron.com/product/cautions/34/precautions_for_correct_use.html</p>
			</div>
			<div id = "comment-6863" class = "comment">
				<p>May I also suggest a) has electrical limit switch signal Ardu to stop using DIGITAL INPUT (add pull up resistor to avoid noise as build-in pull up too weak in this case) b)  another independent elect limit switch cut motor power c)  'mechanical rotation joint' 'strong enough' self stopping mechanism limit rotation angle to human range of motion. Even if motor 'gone crazy', the mechanical joint will have enough mechanical strength (not break) to prevent rotation angle exceeding human limit, not possible to break human joint/bone under electrical/control/Ardu/driver/motor multiple failure model</p>
			</div>
			<div id = "comment-6864" class = "comment">
				<p>The way I have it currently is there is a main switch which switches the arduino power.  Then the arduino on the void setup() function switches a relay which triggers a solenoid and all of the power for the motors goes through the solenoid.  The device is controlled from an iPad and i have a bunch of software emergency stops that go to the arduino via bluetooth and trigger the arduino to shut off the relay which controls the solenoid.  And we are adding a mechanical stop which will stop over/under rotation (like you suggested).</p>
			</div>
			<div id = "comment-6865" class = "comment">
				<p>A major problem with these encoders is incorporating them in the drive train.  I would prefer to have an encoder built into the motor, but if I cannot find a motor like that I will keep these in my back pocket and I can always incorporate them like I do with the potentiometers, by having a gear connected to a shaft.</p>
			</div>
			</div>
				<textarea id = "speech-4324" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4324">
					<img id="start_img-4324" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4324">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>