<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>explanation of kalman filter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14001" class = "post">
			<h2>Question</h2>
			<div id="vote-14001" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>explanation of kalman filter</h2>
<p>I have gone through my lecture notes but I can't seem to figure out the five different steps of a Kalman filter and how these steps are  Divided into prediction and correction and how the state and the uncertainty evolves with each step. I would appreciate it if someone could explain it to me please </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14001" data-toggle = "popover">
				<p>user name : user3880651</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-14001">{'None': 0, 'arduino': 1, 'localization': 0, 'c': 1, 'c++': 1, 'programming-languages': 1, 'kalman-filter': 0, 'mobile-robot': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14001">Load Comments</button></br>
			<div id = "commentsection-14001" class = 'collapse'>
			<div id = "comment-22865" class = "comment">
				<p>This article helped me a lot! http://bilgin.esme.org/BitsBytes/KalmanFilterforDummies.aspx</p>
			</div>
			</div>
				<textarea id = "speech-14001" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14001">
					<img id="start_img-14001" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14001">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14011"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14011" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here is a <a href="https://www.youtube.com/watch?v=X9cC0o9viTo" rel="nofollow noreferrer">video</a> by Professor Michel Van Biezen that I found very useful while reading up on Kalman filter. It also includes an example problem along with the steps needed very clearly defined.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14011" data-toggle = "popover">
				<p>user name : Priyanka Rao</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-14011">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14011" class = 'collapse'>
			</div>
				<textarea id = "speech-14011" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14011">
					<img id="start_img-14011" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14011">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>