<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Extended Kalman Filter using odometry motion model
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-964" class = "post">
			<h2>Question</h2>
			<div id="vote-964" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2263</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Extended Kalman Filter using odometry motion model</h2>
<p>In the prediction step of EKF localization, linearization must be performed and (as mentioned in <a href="http://books.google.co.uk/books/about/Probabilistic_Robotics.html?id=k_yOQgAACAAJ&amp;redir_esc=y" rel="nofollow">Probabilistic Robotics [THRUN,BURGARD,FOX]</a> page 206) the Jacobian matrix when using velocity motion model, defined as</p>

<p>$\begin{bmatrix} x \\ y \\ \theta \end{bmatrix}' = \begin{bmatrix} x \\ y \\ \theta \end{bmatrix} + \begin{bmatrix} \frac{\hat{v}_t}{\hat{\omega}_t}(-\text{sin}\theta + \text{sin}(\theta + \hat{\omega}_t{\Delta}t)) \\ \frac{\hat{v}_t}{\hat{\omega}_t}(\text{cos}\theta - \text{cos}(\theta + \hat{\omega}_t{\Delta}t)) \\ \hat{\omega}_t{\Delta}t \end{bmatrix}$</p>

<p>is calculated as </p>

<p>$G_{T}= \begin{bmatrix}
  1 &amp; 0 &amp; \frac{ _{t}}{ _{t}}(-cos { _{t-1, }} + cos( _{t-1, }+ _{t} {t})) \\
  0 &amp; 1 &amp; \frac{ _{t}}{ _{t}}(-sin { _{t-1, }} + sin( _{t-1, }+ _{t} {t})) \\
  0 &amp; 0 &amp; 1
 \end{bmatrix}$.</p>

<p>Does the same apply when using the odometry motion model (described in the same book, page 133), where robot motion is approximated by a rotation $\hat{\delta}_{rot1}$, a translation $\hat{\delta}$ and a second rotation $\hat{\delta}_{rot2}$ ? The corresponding equations are:</p>

<p>$\begin{bmatrix} x \\ y \\ \theta \end{bmatrix}' = \begin{bmatrix} x \\ y \\ \theta \end{bmatrix} + \begin{bmatrix} \hat{\delta}\text{cos}(\theta + \hat{\delta}_{rot1}) \\ \hat{\delta}\text{sin}(\theta + \hat{\delta}_{rot1}) \\ \hat{\delta}_{rot1} + \hat{\delta}_{rot2} \end{bmatrix}$.</p>

<p>In which case the Jacobian is</p>

<p>$G_{T}= \begin{bmatrix}
  1 &amp; 0 &amp; -\hat{\delta} sin(  + \hat{\delta}_{rot1}) \\
  0 &amp; 1 &amp; -\hat{\delta} cos(  + \hat{\delta}_{rot1}) \\
  0 &amp; 0 &amp; 1
 \end{bmatrix}$.</p>

<p>Is it a good practise to use odometry motion model instead of velocity for mobile robot localization?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-964" data-toggle = "popover">
				<p>user name : zSt</p>
				<p> user reputation : 85</p>
				<p class = "tagcontent" id = "usertaginfo-964">{'None': 0, 'particle-filter': 7, 'kalman-filter': 16, 'localization': 16}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-964">Load Comments</button></br>
			<div id = "commentsection-964" class = 'collapse'>
			<div id = "comment-10398" class = "comment">
				<p>I believe that your d_y / d_theta term should be positive rather than negative (i.e. should be +\hat{\delta} cos(  + \hat{\delta}_{rot1}))</p>
			</div>
			</div>
				<textarea id = "speech-964" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-964">
					<img id="start_img-964" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-964">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-966"  class = "post">
				<h2>Answer</h2>
			<div id="vote-966" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have asked two questions. As I interpret them they are:</p>

<ol>
<li>Is it necessary to linearize the odometry motion model for use with an extended Kalman filter (EKF)?</li>
<li>Is it better to use the odometry motion model instead of the velocity motion model.</li>
</ol>

<p>Regarding question 1, the short answer is "yes." The guarantees of the Kalman filter (KF) only apply to linear systems. We linearize a non-linear system in hopes of retaining some of those guarantees for non-linear systems. In fact linearizing the non-linear components of a system (i.e. the motion model and/or the observation model) is the very thing that differentiates KFs and EFKs.</p>

<p>Regarding question 2, Dr. Thrun argues on page 132 of Probabilistic Robotics that "[p]ractical experience suggests that odometry, while still erroneous, is usually more accurate than velocity." However I would not interpret this statement as an argument for supplanting the velocity model. If you have both velocity and odometric information then it is generally better to use both sources of information.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-966" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-966">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-966" class = 'collapse'>
			</div>
				<textarea id = "speech-966" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-966">
					<img id="start_img-966" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-966">Comment</button>
			<br><div id = "ans-967"  class = "post">
				<h2>Answer</h2>
			<div id="vote-967" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In my experience, the answer to your last question is "yes." I've had much more luck using odometry instead of dynamic (velocity) prediction. However, I've never used the motion model you describe (from Thrun's book). Instead, I've used the model I described <a href="https://robotics.stackexchange.com/a/134/163">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-967" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-967">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-967">Load Comments</button></br>
			<div id = "commentsection-967" class = 'collapse'>
			<div id = "comment-5321" class = "comment">
				<p>In the book, the model is treated as a kinematic problem, so I think it is a good model for simulation problem.</p>
			</div>
			</div>
				<textarea id = "speech-967" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-967">
					<img id="start_img-967" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-967">Comment</button>
			<br><div id = "ans-968"  class = "post">
				<h2>Answer</h2>
			<div id="vote-968" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To your first question: "Does the same apply when using the odometry motion model?", the answer is Yes.</p>

<p>The the EKF is pretty much the same thing as the KF, with the addition of the linearization step.  What you are linearizing here is the motion model, whatever model that is.  </p>

<p>For your second question: "Is it a good practise to use odometry motion model instead of velocity for mobile robot localization?": I think the answer is 'it depends.'  </p>

<p>If you are using a data set that has velocity information and the localization is good enough for your purposes, then the simplicity of that model is probably preferred.  If you are directly controlling the robot and have access to the odometry information, then you're likely to get a better result.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-968" data-toggle = "popover">
				<p>user name : munk</p>
				<p> user reputation : 406</p>
				<p class = "tagcontent" id = "usertaginfo-968">{'None': 2, 'noise': 7, 'theory': 7, 'ekf': 14, 'mapping': 13, 'slam': 41, 'kalman-filter': 26}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-968" class = 'collapse'>
			</div>
				<textarea id = "speech-968" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-968">
					<img id="start_img-968" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-968">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>