<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Extracting as many possible end configurations as possible
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9619" class = "post">
			<h2>Question</h2>
			<div id="vote-9619" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 126</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Extracting as many possible end configurations as possible</h2>
<p>I am trying to implement a path planner to generate a path that moves the robot from q_start to q_goal.   </p>

<p>Q_goal is extracted from a stereo camera mounted on the tool, from
which I extract x,y,z coordinates of the desired position, the rotation can be arbitrary. </p>

<p>The robot I am using is an industrial ur5 robot arm, the software I use is capable of performing Jacobian based inverse kinematics given a transformation matrix with rotation and translation. </p>

<p>my inverse kinematics provide me with only one solution, which is ok, but doesn't provide me flexibility for path planning...</p>

<p>How do I using inverse kinematics determine all possible q-configurations that fulfills my criteria of having the desired x,y,z coordinates? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9619" data-toggle = "popover">
				<p>user name : Carlton Banks</p>
				<p> user reputation : 102</p>
				<p class = "tagcontent" id = "usertaginfo-9619">{'control': 1, 'None': 0, 'inverse-kinematics': 11, 'frame': 2, 'joint': 1, 'visual-servoing': 1, 'kinematics': 2, 'robotic-arm': 5, 'jacobian': 5, 'rotation': 0, 'motion-planning': 2, 'forward-kinematics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9619">Load Comments</button></br>
			<div id = "commentsection-9619" class = 'collapse'>
			<div id = "comment-17053" class = "comment">
				<p>What are the kinematics of your arm?  Are you using any kinematics software libraries?  (Please expand your question, do not add another comment).</p>
			</div>
			<div id = "comment-17054" class = "comment">
				<p>Hope it provide some form of context to my situation</p>
			</div>
			</div>
				<textarea id = "speech-9619" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9619">
					<img id="start_img-9619" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9619">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9634"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9634" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your software library uses a gradient descent method for inverse kinematics.  The way this works is that it moves the Cartesian position of the end-effector towards the goal in small steps then gets the joint angles for each step with the relation:
$$
\Delta \theta= J^{-1}\Delta x 
$$
This method has a number of nice properties, but as you found you only get one solution.  </p>

<p>An analytical inverse kinematics solution is what you want.  In this method, you algebraically determine all possible solutions.  The only catch is if you are under-constrained, (like in your case), where you have more joints than degrees of freedom.  (You have 6 joints, but only want a 3 DOF position).  In this case, you pick some joints to "fix" and do the math as if that joint is rigid.  But in reality, you typically discretize that joint's range, and get a set of solutions for every fixed position.  (You can see how the curse of dimenionality will get you here.)</p>

<p>I would recommend investigating <a href="http://openrave.org/docs/latest_stable/openravepy/ikfast/" rel="nofollow">ikfast</a> from OpenRave, which is an analytical IK solver.  This has a number of different IK types for different DOFs.  "Translation3D" is what you want. </p>

<p>But the way to trick your gradient decent IK solver into giving you different solutions is to give it different initial conditions.  You should start from drastically different arm configurations.  (Like joints flipped 180 degrees from each other).  </p>

<p>As for the not needing rotation:  The gradient descent IK method can ignore rotation quite easily.  You would simply only use the top 3 rows of the Jacobian, and give it only the end-effector position (not rotation too).  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9634" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-9634">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9634" class = 'collapse'>
			</div>
				<textarea id = "speech-9634" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9634">
					<img id="start_img-9634" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9634">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>