<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Facing problems in Mask vector in Robotics toolbox
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12669" class = "post">
			<h2>Question</h2>
			<div id="vote-12669" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Facing problems in Mask vector in Robotics toolbox</h2>
<p>I am working on a 7 DOF serial manipulator and was trying to use ikine to get the joint coordinates for simple 2 DOF robot. </p>

<p>Even though I am using the masking vector as <code>[ 1 1 0 0 0 0 ]</code>, I am getting error stating: </p>

<blockquote>
  <p>Number of robot DOF must be >= the same number of 1s in the mask matrix</p>
</blockquote>

<p>This is my 2 DOF robot </p>

<pre><code>L1 = Link('d', 0, 'a', 1, 'alpha', 0);
L1.m=50;
L1.r=[0.5,0,0];
L1.I=[0,0,0;0,0,0;0,0,10];
L1.G=1;
L1.Jm=0;

L2=Link(L1);

r2=SerialLink([L1,L2]);

r2.name='POLIrobot';
r2.gravity=[0;9.81;0];

q0=r2.ikine([eye(3),[0.2;0;0];[0,0,0,1]],[0,0],[1 1 0 0 0 0]);
</code></pre>

<p>Can anyone please help and explain why is it happening?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12669" data-toggle = "popover">
				<p>user name : Jasmeet Singh</p>
				<p> user reputation : 5</p>
				<p class = "tagcontent" id = "usertaginfo-12669">{'None': 0, 'inverse-kinematics': 0, 'arduino': 0, 'robotics-library': 0, 'matlab': 0, 'robotic-arm': 0, 'real-time': 0, 'ros': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12669" class = 'collapse'>
			</div>
				<textarea id = "speech-12669" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12669">
					<img id="start_img-12669" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12669">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12670"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12670" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What are the options you're passing to the <code>r2.ikine</code> function? I believe that, at a minimum, you need to identify them. Try something like the following:</p>

<p><code>q0 = r2.ikine([eye(3),[0.2;0;0];[0,0,0,1]],'mask',[1 1 0 0 0 0]);</code></p>

<p>I can't tell what your <code>[0,0]</code> is (and neither can the function!), so I don't know what to suggest for that. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12670" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-12670">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12670">Load Comments</button></br>
			<div id = "commentsection-12670" class = 'collapse'>
			<div id = "comment-22197" class = "comment">
				<p>Thank you !! I just started learning this toolbox , Can you please explain why you haven't estimated any initial estimate for joint coordinate ?? i think by default its 0,0 ?</p>
			</div>
			<div id = "comment-22204" class = "comment">
				<p>@JasmeetSingh - I don't know anything about your robot or the Robotics Toolbox. The Robotics Toolbox is an out of date (last updated 2015) third party toolbox. The official toolbox is the [Robotics *Systems* Toolbox](https://www.mathworks.com/products/robotics.html). I can't comment as to whether or not you need an initial estimate, I was just pointing out that, when you use multiple input-value arguments, you need to state what the input is.</p>
			</div>
			</div>
				<textarea id = "speech-12670" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12670">
					<img id="start_img-12670" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12670">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>