<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Fastest maze algorithm for robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1192" class = "post">
			<h2>Question</h2>
			<div id="vote-1192" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 894</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Fastest maze algorithm for robot</h2>
<p>I'm planning on programming a prebuilt robot to solve a maze as fast as possible.  The robot has forward obstacle sensors (no side sensors) and 3-axis accelerometer.  I'm planning on using the wall following algorithm.  Is this the fastest possible algorithm?  Also, since there are no side sensors, the robot needs to continuously turn to check if there is a wall on its side, so is there a clever way to use the accelerometer and sensors?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1192" data-toggle = "popover">
				<p>user name : user1159</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-1192">{'mobile-robot': 7, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1192">Load Comments</button></br>
			<div id = "commentsection-1192" class = 'collapse'>
			<div id = "comment-2705" class = "comment">
				<p>Maze solving is a complex topic, and some approaches depend on the nature of the maze.  Is there any pre-knowledge about the maze?  Is it known to be solvable with wall following?</p>
			</div>
			<div id = "comment-2706" class = "comment">
				<p>I don't know the maze in advance, and it should be solvable with wall following.  The maze should be simple.</p>
			</div>
			<div id = "comment-2707" class = "comment">
				<p>What are the rules? Are you allowed to include a tethered balloon with an attached camera to you robot? *8')</p>
			</div>
			<div id = "comment-2708" class = "comment">
				<p>Are the initial position and goal location always on the sides of the maze? Or could they be somewhere in the middle of it?</p>
			</div>
			<div id = "comment-2730" class = "comment">
				<p>if the maze is a tree (no cycles), wall following is probably the best and simplest method</p>
			</div>
			</div>
				<textarea id = "speech-1192" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1192">
					<img id="start_img-1192" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1192">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1193"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1193" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can't say much about solving a maze unless you are allowed to explore first, or know the maze before-hand. Otherwise, it is easy to build a maze that will take arbitrarily long to solve using wall-following, but which has a simple solution. See the following example.</p>

<p><img src="https://i.stack.imgur.com/8fbnF.png" alt="Oops! We followed the wrong wall"></p>

<p>In this case, it is faster <em>on average</em> to just chose turns randomly. So maybe this is a tough problem that requires a little more thought.
In some contexts, an iterative-deepening approach isn't bad. Start your research there, and come back when you have specific questions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1193" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1193">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1193">Load Comments</button></br>
			<div id = "commentsection-1193" class = 'collapse'>
			<div id = "comment-2918" class = "comment">
				<p>In this case I would fall back to the 'always turn left' algorithm ;)</p>
			</div>
			<div id = "comment-2919" class = "comment">
				<p>Yeah, because you "know the maze before-hand"</p>
			</div>
			</div>
				<textarea id = "speech-1193" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1193">
					<img id="start_img-1193" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1193">Comment</button>
			<br><div id = "ans-1194"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1194" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The wall following algorithm will benefit more from sensors on a side. Since you follow the side until you find a gap then you turn into that gap. You could then use the accelerometer to sense a bump when you hit the wall in front. However not sure how you can determine that you are out of the maze (in case you need to do that). Just an idea...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1194" data-toggle = "popover">
				<p>user name : rslite</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-1194">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1194" class = 'collapse'>
			</div>
				<textarea id = "speech-1194" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1194">
					<img id="start_img-1194" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1194">Comment</button>
			<br><div id = "ans-12156"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12156" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For any given algoritm (which does not know the maze beforehand) there is a particular maze, where the argorithm does not choose the fastest way on first try.</p>

<p>Many algorithms do the trick, that they travel all ways in maze first, recording the way, than they find optimal way and on second try they drive just to the target by the fastest way.</p>

<p>If your maze is known to be a tree (no loops), with ways just wide for the robot to move, but not too wide and if it have just right angles (which many simple mazes are), then you can use some tricks to solve it faster second time:</p>

<ul>
<li><p>side sensors would help a lot, so you would not be forced to constantly turn around</p></li>
<li><p>if it is not possible and you have range sensor (usually ultrasound) rather then just obstacle sensor (maybe plain bumper), you can restrict it to narrow beam and choose to just wave a little and see, if the distance is changing consistently, or if there is a hole (which means side way) and how far the hole is. Then you can run fast near to the crossing and then only slow and go full range rotations to excactly find the side way.</p></li>
<li><p>also having the sensor on "tank-like" rotating base would allow you to drive stight and rotate just the sensosr, which is faster, than rotating whole robot</p></li>
<li><p>if the ways are narrow, you can consider to add bumpers to sides and just bumping to the sides to feel them instead of rotation on place to sensor them properly. Bonus if you can have bug-like antennas to feel both sides at the same time (but they need to be flexible to not break and you need at least 3 state sensors for them (2 bits) - no touch - light touch - hard touch: no touch means side way, light touch means you are just on straight row in centre, hard touch means obstacle or turnining too much to side)</p></li>
</ul>

<p>Anyway:</p>

<ul>
<li><p>you go your usual "right hand on wall" way, until you find target, then continue to sthe start the same style, so you travel all the maze first time.</p></li>
<li><p>you mark any crossing on the way and count them creating kind of map (bonus if you measure the distance), then, when on the start back you go travel the map in memory and when you return to a crossing, you know, that you can skip the first way, that you had choose there, as it does not reach the target and it returns back. Continue, until you find target and you have half of the map solved. Then do it in reverse way from end and solve the other half of map. You should get the same result - if not, you made a mistake or the maze is not a tree.</p></li>
<li><p>on the second try you know, which side ways you can skip and which way you have to choose on which crossing, so you go the shorter way to target.</p></li>
<li><p>if you also marked the distances, you know, how far next turn should be and you can drive really fast for nearly all the distance, before you need to scan for turn precisely (and probably more slowly) </p></li>
<li><p>if your robot construction allows it, you even can ignore the walls and let them lightly bump you back to the centre of that way, so you need a lot less delicate navigation, so you can run even faster. </p></li>
<li><p>The same goes to turns, where you can stick to the wall and push a little all the time you think you are approaching turn, until it let you go in, so you know your turn is here. Again much simpler navigation, much less data to evaluate, so much faster speed possible.</p></li>
<li><p>If you want to be extra ultra fast, you record this run too and use that for third run, where you know, how long you have to run before turn, with all the acceleration and irrgularities of fast run versus carefull and slow exploring is already accounted for.</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12156" data-toggle = "popover">
				<p>user name : gilhad</p>
				<p> user reputation : 362</p>
				<p class = "tagcontent" id = "usertaginfo-12156">{'control': 0, 'mobile-robot': 0, 'None': 18, 'arm': -1, 'robotic-arm': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12156" class = 'collapse'>
			</div>
				<textarea id = "speech-12156" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12156">
					<img id="start_img-12156" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12156">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>