<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Figure out PID values from drone specs
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8891" class = "post">
			<h2>Question</h2>
			<div id="vote-8891" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 87</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Figure out PID values from drone specs</h2>
<p>I have all the specs from a quadcopter, everthing, would it be possible to figure out the pid from those specs?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8891" data-toggle = "popover">
				<p>user name : libra</p>
				<p> user reputation : 122</p>
				<p class = "tagcontent" id = "usertaginfo-8891">{'quadcopter': 1, 'None': 0, 'multi-rotor': 0, 'pid': 1, 'coverage': 2, 'mobile-robot': 2, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8891">Load Comments</button></br>
			<div id = "commentsection-8891" class = 'collapse'>
			<div id = "comment-14667" class = "comment">
				<p>I don't think so but you could check it out so more and see what you can find sorry if this is no help.</p>
			</div>
			<div id = "comment-14668" class = "comment">
				<p>Welcome to *robotics* hunt, but on Stack exchange *answers* need to answer the question. If you wish to discuss a question or answer you can ask about it on [chat]. If you have a suggestion as to how a question or answer can be improved, you can comment when you have [comment everywhere](http://robotics.stackexchange.com/help/privileges/comment) privileges. Stack exchange is not a discussion forum, it is a place to ask questions and get answers. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-8891" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8891">
					<img id="start_img-8891" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8891">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8892"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8892" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally, no. You'd have to evaluate the system and do some <a href="https://en.wikipedia.org/wiki/System_identification" rel="nofollow">system identification</a>. The reason being that even though you know the specs, you don't know how the system will respond to perturbations or errors in manufacturing, etc. </p>

<p>Once you've done some system identification to figure out response curves, you can tune the parameters using the guide in the comment (<a href="http://innovativecontrols.com/blog/basics-tuning-pid-loops" rel="nofollow">or here</a>).  </p>

<p>Another method is to just fly it around a set point and observe its behavior, though I think that's not the best solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8892" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-8892">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8892">Load Comments</button></br>
			<div id = "commentsection-8892" class = 'collapse'>
			<div id = "comment-14648" class = "comment">
				<p>A very good overview is at this site:  http://innovativecontrols.com/blog/basics-tuning-pid-loops.  Read through it until you get to the sections "Starting Parameters" and "Fine Tuning."  I usually add a derivative gain a little before this site's process instructs you to, but I think you will do well if you follow those steps.  The difficult thing for your application will be knowing how the drone is performing (is it oscillating around your set point or not?).  If you can use an altimeter or accelerometer to detect that, then you should be able to get good, stable motion.</p>
			</div>
			</div>
				<textarea id = "speech-8892" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8892">
					<img id="start_img-8892" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8892">Comment</button>
			<br><div id = "ans-8921"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8921" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Quadrotor Control Problem</strong></p>

<p>It depends! You have a good mathematical model? After you achieve one, you might need to choose a good system identification method. Comparing their outputs you should have enough data to start thinking on the controller design.</p>

<p>Beyond this, I can't say precisely what you want or need...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8921" data-toggle = "popover">
				<p>user name : leCrazyEngineer</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-8921">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8921">Load Comments</button></br>
			<div id = "commentsection-8921" class = 'collapse'>
			<div id = "comment-14787" class = "comment">
				<p>hi sry for the late reply, what do you mean by mathematical model?</p>
			</div>
			<div id = "comment-14801" class = "comment">
				<p>The differential equations for the dynamics of the quadrotor.</p>
			</div>
			</div>
				<textarea id = "speech-8921" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8921">
					<img id="start_img-8921" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8921">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>