<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Filtering angular velocity spikes of a cheap Gyroscope
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8319" class = "post">
			<h2>Question</h2>
			<div id="vote-8319" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 294</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Filtering angular velocity spikes of a cheap Gyroscope</h2>
<p>I would like to filter angular velocity data from a "cheap" gyroscope (60$). These values are used as an input of a nonlinear controller in a quadcopter application. I am not interested in removing the bias from the readings.</p>

<p><strong>Edit</strong>:
I'm using a
 l2g4200d gyroscope connected via i2c with an Arduino uno. The following samples are acquired with the arduino, sent via serial and plotted using matlab.</p>

<p>When the sensor is steady, the plot shows several undesired spikes.</p>

<p><a href="https://i.stack.imgur.com/v2A6F.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/v2A6F.png" alt="enter image description here"></a></p>

<p><strong>How can I filter these spikes?</strong></p>

<p><strong>1st approach:</strong> Spikes are attenuated but still present...</p>

<p>Let's consider the following samples in which a couple of fast rotations are performed. Let's assume that the frequency components of the "fast movement" are the ones I will deal with in the final application.</p>

<p><a href="https://i.stack.imgur.com/8LvBD.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/8LvBD.png" alt="enter image description here"></a></p>

<p>Below, the discrete Fourier transform of the signal in a normalized frequency scale and the second order ButterWorth low pass filter.</p>

<p><a href="https://i.stack.imgur.com/SDYpK.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/SDYpK.png" alt="enter image description here"></a></p>

<p>With this filter, the main components of the signal are preserved. </p>

<p><a href="https://i.stack.imgur.com/Xg5Ft.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Xg5Ft.png" alt="enter image description here"></a></p>

<p>Although the undesired spikes are attenuated by a factor of three the plot shows a slight phase shift...</p>

<p><a href="https://i.stack.imgur.com/lh0cd.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/lh0cd.png" alt="enter image description here"></a></p>

<p>And the spikes are still present. How can I improve this result?
Thanks.</p>

<p><strong>EDIT 2:</strong></p>

<p>1./2. I am using a breakout board from Sparkfun. You can find the circuit with the Arduino and the gyro in this post: <a href="http://userk.co.uk/gyroscope-arduino/" rel="nofollow noreferrer">Can you roll with a L3G4200D gyroscope, Arduino and Matlab?</a> 
    I have added pullup resistors to the circuit. I would exclude this option because other sensors are connected via the i2c interface and they are working correctly.
    I haven't any decoupling capacitors installed near the integrated circuit of the gyro. The breakout board I'm using has them (0.1 uF). Please check the left side of the schematic below, <strong>maybe I am wrong</strong>.</p>

<p><a href="https://i.stack.imgur.com/4E2KK.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4E2KK.png" alt="enter image description here"></a></p>

<p>Motors have a separate circuit and I have soldered all the components on a protoboard.</p>

<ol start="4">
<li><p>The gyro is in the quadcopter body but during the test the motors were turned off.</p></li>
<li><p>That is interesting. The sampling frequency used in the test was 200Hz.  Increasing the update freq from 200 to 400 hz doubled the glitching.</p></li>
</ol>

<p>I found other comments on the web about the same breakout board and topic. Open the comments at the bottom of the <a href="http://forum.bildr.org/viewtopic.php?t=443" rel="nofollow noreferrer">page</a> and Ctrl-F <code>virtual1</code></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8319" data-toggle = "popover">
				<p>user name : UserK</p>
				<p> user reputation : 199</p>
				<p class = "tagcontent" id = "usertaginfo-8319">{'quadcopter': 6, 'None': 3, 'motor': 1, 'accelerometer': 2, 'filter': 6, 'imu': 2, 'matlab': 2, 'kalman-filter': 2, 'sensors': 2, 'gyroscope': 6, 'quadrature-encoder': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8319">Load Comments</button></br>
			<div id = "commentsection-8319" class = 'collapse'>
			<div id = "comment-13322" class = "comment">
				<p>What chip are you using, what circuit is it in, what communication protocol are you using, and how are you testing this? I could speculate on reasons for the spikes but they're all shots in the dark without more information.</p>
			</div>
			<div id = "comment-13323" class = "comment">
				<p>Please see my edit</p>
			</div>
			<div id = "comment-13325" class = "comment">
				<p>This is an interesting question. Do you have any independent verification of velocity, i.e. an encoder that you could use to calculate the acceleration, or higher resolution accelerometer that you could borrow for profiling?</p>
			</div>
			<div id = "comment-13326" class = "comment">
				<p>Not right now. I can use an accelerometer to estimate the angle but I think that it won't be accurate. The encoder would be perfect.</p>
			</div>
			<div id = "comment-13327" class = "comment">
				<p>What about the samples? Can I use some sort of spikes cancellation outside the frequency domain?</p>
			</div>
			<div id = "comment-13328" class = "comment">
				<p>Have you tried a simple median filter? You will still get some of the lag effect though.</p>
			</div>
			<div id = "comment-13329" class = "comment">
				<p>Another option could be to ignore those samples based on the difference from the previous sample (assuming those spikes are one single point with no ramping up and down).</p>
			</div>
			<div id = "comment-14145" class = "comment">
				<p>Have you tried a kalman filter?</p>
			</div>
			</div>
				<textarea id = "speech-8319" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8319">
					<img id="start_img-8319" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8319">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8321"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8321" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You gave the part number and protocol, but</p>

<ol>
<li>Can you provide a schematic for how this is installed in a circuit? </li>
<li>Are you using the module or an individual chip? </li>
<li>Is this all soldered together or is it connected on a breadboard? </li>
<li>Is this laying on a table or similar or is it actually in a quadcopter body? Are the quadcopter motors running? </li>
<li>What sampling rate are you using?</li>
</ol>

<p>I ask because the spikes seem too large to be "just" noise. My thoughts on troubleshooting would then be to address whatever the underlying cause of the spikes is rather than trying to filter them out of the output. Potential issues I can think of are related to the questions I'm asking, so for each question I ask I'm thinking it could be:</p>

<ol>
<li>It could be either a voltage supply issue or communication line issue. Things to look at on the schematic: (A) Check that the supply voltage is actually within the <a href="https://www.parallax.com/sites/default/files/downloads/27911-L3G4200D-Gyroscope-Manufacturer-Datasheet.pdf" rel="nofollow">2.4 - 3.6V allowable input range</a> (page 11); (B) Check that <a href="https://en.wikipedia.org/wiki/Decoupling_capacitor" rel="nofollow">decoupling capacitors</a> are installed and connected to a suitable voltage; (C) Check that <a href="http://www.ti.com/lit/an/slva689/slva689.pdf" rel="nofollow">I2C pullup resistors</a> are installed; (D) Check what other large equipment (read:motors) are installed in the circuit and check that the power supply is capable of delivering peak current.</li>
<li>Again, checking for decoupling capacitors and if everything is soldered correctly; on the module everything could be expected to be soldered correctly, but pullup resistors are not included.</li>
<li>Breadboard connections can be noisy, especially at high communication rates. Also, a breadboard connection implies that the system may not be securely attached to anything. </li>
<li>While unlikely, a loose chip/module could be experiencing some vibration (maybe from nearby speakers) that could explain the spikes. If the motors are running, this is a lot more likely. In addition, the motors could be <a href="https://en.wikipedia.org/wiki/Brownout_(electricity)" rel="nofollow">browning out</a> your voltage supply, creating issues for the gyro. </li>
<li>This is mostly a curiosity question, but higher communication rates tend to cause/exacerbate issues.</li>
</ol>

<p>I would guess it's probably a supply voltage issue, either to the chip directly or on the communication line, but again, they're all shots in the dark without more information. </p>

<h2>:EDIT:</h2>

<p>From a <a href="http://forum.bildr.org/viewtopic.php?t=443" rel="nofollow">link OP posted</a>, there was this comment/answer:</p>

<blockquote>
  <p>What did work was setting it to read both the A8 and the 28 registers, then compare them. If they differ, read them again! Seems to have solved 100% of my glitching. Now I can get on to calibrating in peace.</p>
</blockquote>

<p>This, coupled with other users that have similar issues, would leave me to believe it's a defective chip design. If you evaluate the data and the least significant byte is, in fact, always 255 when you get this glitch, then you could always just check for that condition and either ignore that sample or substitute the previous reading for the current reading, or do what is suggested above by 'virtual1' on the other site. I would avoid setting it to zero because this may cause "inverse glitches" if you get that spike while there is actually valid data.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8321" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8321">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8321">Load Comments</button></br>
			<div id = "commentsection-8321" class = 'collapse'>
			<div id = "comment-13333" class = "comment">
				<p>Please see EDIT2. I appreciate your help!</p>
			</div>
			<div id = "comment-13334" class = "comment">
				<p>Ok so this seems to be the only way to solve the problem. Ignoring the undesired data as suggested by @Brian Lynch. Last question. Is there any frequency based approach to select only the spikes since they have always the same characteristics?</p>
			</div>
			<div id = "comment-13335" class = "comment">
				<p>Thank you very much Chuck. I will accept your answer but first I need to 'implement' the solution.</p>
			</div>
			<div id = "comment-13336" class = "comment">
				<p>@UserK - I'm not sure what you mean by "frequency based approach", but the spikes don't happen on a regular interval or pattern that I can tell, so I think your best bet would be to look for signs that the spike is happening, either by evaluating only the least significant byte for 255 or by comparing the A8 and 28 registers as virtual1 suggested externally.</p>
			</div>
			<div id = "comment-13337" class = "comment">
				<p>I think virtual1's suggestion is more "bulletproof" in that it detects a *verified* error by comparing registers and re-polls the device. If the output is 3 bytes long, then ignoring every result with 255 in the LSB means you ignore up to 2^(8+8) = 65,536 possibly valid outputs. If all you do is re-poll the device if the LSB is 255 and that value is valid you can wind up stuck continuously re-polling the device.</p>
			</div>
			</div>
				<textarea id = "speech-8321" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8321">
					<img id="start_img-8321" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8321">Comment</button>
			<br><div id = "ans-8323"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8323" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Did you try out <a href="https://en.wikipedia.org/wiki/Median_filter" rel="nofollow">median filtering</a>?</p>

<p>This nonlinear technique is suitable to counteract the presence of spikes while preserving the high frequency content of the input signal.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8323" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-8323">{'None': 99}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8323" class = 'collapse'>
			</div>
				<textarea id = "speech-8323" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8323">
					<img id="start_img-8323" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8323">Comment</button>
			<br><div id = "ans-8672"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8672" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One of the options is to utilize  the <a href="https://en.wikipedia.org/wiki/Exponential_smoothing" rel="nofollow noreferrer">exponential moving average</a>. The below picture shows data corrupted by Gaussian noise with zero mean and 0.4 variance and how the filter does a good job to remove the spiky noisy data. </p>

<p><a href="https://i.stack.imgur.com/9GApL.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/9GApL.png" alt="enter image description here"></a></p>

<pre><code>x = -pi:0.01:2*pi;
perfectY = cos(x); % generate data 
noisyY = perfectY + .4 * randn(1, length(perfectY)); % corrupt data by noise 

a = 0.13; % tuning parameter 
preSmoothY = cos(-pi); % arbitrary initial value 


for i = 1:length(noisyY)
    Smooth = (1-a)*preSmoothY + a*noisyY(i);
    preSmoothY = Smooth;
    expY(i) = Smooth;
end

plot( x,noisyY,'g', x, expY,'r', 'LineWidth', 2)
hold on
plot(x, perfectY, 'b','LineWidth', 2)
grid on
legend('noisy  data', 'filtered  data', 'data')
</code></pre>

<p>Another choice is using Kalman filter. It is an optimal filter if you meet the requirements which means no filter can perform better than the Kalman. Unfortunately, the filter imposes some constraints on the signal such as linearity and Gaussianity. Moreover, the system must be described precisely.   </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8672" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-8672">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8672" class = 'collapse'>
			</div>
				<textarea id = "speech-8672" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8672">
					<img id="start_img-8672" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8672">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>