<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Finding high torque servo for robotic arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9298" class = "post">
			<h2>Question</h2>
			<div id="vote-9298" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 268</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Finding high torque servo for robotic arm</h2>
<p>I am new working with robotic arms but I am having trouble finding the correct servo for the base of the arm. </p>

<p>It is a 2 link robot - each link weighs 1.2 kg and is 40 cm long. I have a gripper of 10 centimeters. The servo in the gripper can hold a max of 4kg. The whole robotic arm, including the maximum load it will carry and the servos and other accessories, is 8.3 kg. The maximum load it needs to carry is 4 kg at the end of the arm at 90 cm. </p>

<p>What servo could I use to move the rotary base and what servo could I use to lift the arm in the base? The last one is to move the link so it would be preferable to have a 2 axis servo.</p>

<p>The only specification I need right now is what servo to use my energy supply are two 12 volts DC batteries connected in series with 18Ah. I need the servo to be DC. The other things can be worked around the servo that can best do the work.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9298" data-toggle = "popover">
				<p>user name : user3038218</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9298">{'servomotor': 0, 'None': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9298">Load Comments</button></br>
			<div id = "commentsection-9298" class = 'collapse'>
			<div id = "comment-16473" class = "comment">
				<p>Please add a sketch or diagram of your proposed arm (with dimensions and masses).</p>
			</div>
			<div id = "comment-16512" class = "comment">
				<p>I voted to close this because it's ultimately a shopping request. I referenced the other question to give OP a guide on calculating the required torque - nobody ever takes acceleration into account. Once you can find the torque and power you need (you've already fixed voltage), you can Google servos (just as well as any of the rest of us can). Also, it's not especially clear if you require a DC motor with position control (a classic servo) or if a stepper motor is acceptable, but you may find a larger offering in stepper motors.</p>
			</div>
			</div>
				<textarea id = "speech-9298" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9298">
					<img id="start_img-9298" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9298">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9310"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9310" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The only servo I can think about, for your case, is the HS-7950TH. It can operate between 4 and 7 volts and 300 mAh at max.</p>

<p>With its titanium gears, it has maximum stall torque of 35 kg when used with 7 volts and 300 mAh, that should be enough for your requirements. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9310" data-toggle = "popover">
				<p>user name : Trinadh venna</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-9310">{'None': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9310">Load Comments</button></br>
			<div id = "commentsection-9310" class = 'collapse'>
			<div id = "comment-16510" class = "comment">
				<p>kg is not a unit of torque.</p>
			</div>
			<div id = "comment-16515" class = "comment">
				<p>Their [site](http://hitecrcd.com/products/servos/ultra-premium-digital-servos/hs-7950th-ultra-torque-hv-coreless-titanium-gear-servo/product) says 35 Kg/cm.... so I guess ultra torque is a different (probably better) unit than normal torque?</p>
			</div>
			</div>
				<textarea id = "speech-9310" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9310">
					<img id="start_img-9310" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9310">Comment</button>
			<br><div id = "ans-9326"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9326" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Also you might want to take a look at Dynamixel servos. They are the mot powerful I have found with a suprisingly open control system.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9326" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-9326">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9326" class = 'collapse'>
			</div>
				<textarea id = "speech-9326" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9326">
					<img id="start_img-9326" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9326">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>