<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Finding Center of Mass for Humanoid Robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9100" class = "post">
			<h2>Question</h2>
			<div id="vote-9100" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 605</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Finding Center of Mass for Humanoid Robot</h2>
<p>I've been working on Humanoid Robot, and I face the problem of finding the Center of Mass of the Robot which will help in balancing the biped. Although COM has a very simple definition, I'm unable to find a simple solution to my problem.</p>

<p>My view: I have already solved the Forward and Inverse Kinematics of the Robot with Torso as the base frame. So, if I can find the position(and orientation) of each joint in the base frame, I can average all of them to get the COM. Is this approach reasonable? Will it produce the correct COM?</p>

<p>Can anyone offer any series of steps that I can follow to find the COM of the biped? Any help would be appreciated. </p>

<p>Cheers! </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9100" data-toggle = "popover">
				<p>user name : Bilal Wasim</p>
				<p> user reputation : 40</p>
				<p class = "tagcontent" id = "usertaginfo-9100">{'None': 0, 'inverse-kinematics': 3, 'humanoid': 7, 'stability': 4, 'robotic-arm': -2, 'mobile-robot': 5, 'balance': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9100">Load Comments</button></br>
			<div id = "commentsection-9100" class = 'collapse'>
			<div id = "comment-15057" class = "comment">
				<p>Use the forward kinematics to calculate the COM of each link in the frame of interest (torso for you). Calculate the humanoid COM using https://en.wikipedia.org/wiki/Rigid_body_dynamics#Mass_properties</p>
			</div>
			<div id = "comment-15058" class = "comment">
				<p>Good answer @hauptmech.  Please make it a real answer so we can up-vote it!  Comments are for clarifications to questions and answers.</p>
			</div>
			<div id = "comment-15119" class = "comment">
				<p>@Bilal Wasim - Do you know the individual center of masses of all the links in the humanoid?</p>
			</div>
			</div>
				<textarea id = "speech-9100" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9100">
					<img id="start_img-9100" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9100">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9166"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9166" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes.  As @hauptmech mentioned, you can use your forward kinematics to get the center of mass of each link in the base frame.  Then you can simply compute the <em>weighted</em> average of the masses and positions to get the overall center of mass.  </p>

<p>In other words:</p>

<p>$$
M = \sum_{i=0}^n m_i
$$
$$
\mathbf{P}_i^0 = pos( \mathbf{T}_i^0(\mathbf{q}) \mathbf{T}_{i_m}^i)
$$
$$
\mathbf{COM}^0 = \frac{1}{M} \sum_{i=0}^n m_i \mathbf{P}_i^0
$$</p>

<p>Where:</p>

<ul>
<li>$m_i$ = mass of link $i$</li>
<li>$M$ = total mass</li>
<li>$\mathbf{q}$ = vector of joint angles</li>
<li>$\mathbf{T}_i^0$ = Transform from base frame $0$ to link $i$.  (The forward kinematics which is a function of $\mathbf{q}$).</li>
<li>$\mathbf{T}_{i_m}^i$ = Transform from the link $i$ frame to it's center of mass.  </li>
<li>$pos()$ = function to extract position vector from full transform.</li>
<li>$\mathbf{P}_i^0$ = position of mass of link $i$ in base frame $0$.</li>
<li>$\mathbf{COM}^0$ = center of mass of system in base frame $0$.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9166" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-9166">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9166">Load Comments</button></br>
			<div id = "commentsection-9166" class = 'collapse'>
			<div id = "comment-15198" class = "comment">
				<p>Ya I have worked it out as well. Thanks</p>
			</div>
			</div>
				<textarea id = "speech-9166" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9166">
					<img id="start_img-9166" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9166">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>