<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Find orientation through Transformation matrix
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9132" class = "post">
			<h2>Question</h2>
			<div id="vote-9132" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 129</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Find orientation through Transformation matrix</h2>
<p>I have a robot with 3 rotational joints that I am trying to simulate in a program I am creating. So I have 4 frames, one base frame, and each joint has a frame. I have 3 transformation functions to go from frame 1 or 2 or 3 to frame 0.</p>

<p>By using the transformation matrix, I want to know how much each frame has been rotated (by the X,Y and Z axis) compared with the base frame. Any suggestions?</p>

<p>The reason I want this is because I have made some simple 3D shapes that represent each joint. By using the DH parameters I made my transformation matrices. When ever I change my   (it does not mater how the   changes, it just does), I want the whole structure to update. I take the translation from the last column. Now I want to get the rotations.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9132" data-toggle = "popover">
				<p>user name : Dimitris Pantelis</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-9132">{'pid': 0, 'None': 0, 'dh-parameters': 1, 'line-following': 0, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9132">Load Comments</button></br>
			<div id = "commentsection-9132" class = 'collapse'>
			<div id = "comment-15125" class = "comment">
				<p>Can you please add a brief example that shows what you're trying to do? I'm having a bit of a hard time understanding from the text what exactly you're trying to do. Are you trying to determine $\theta_1$, $\theta_2$, and $\theta_3$ given a 4x4 transformation matrix from frame 3 to frame 0? This is how the question reads to me, but if that's the case then how are you getting the transformation matrix to begin with? It seems that you're building the final transform matrix joint-by-joint, but then you want to use that matrix to find the joint angles - didn't you just use them to make the matrix?</p>
			</div>
			<div id = "comment-15126" class = "comment">
				<p>Do you simply want to convert the rotation matrix into Euler angles or some other format?</p>
			</div>
			</div>
				<textarea id = "speech-9132" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9132">
					<img id="start_img-9132" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9132">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9133"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9133" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Based on your question, i understood that you have transformation matrices and you need to find Euler angles.</p>

<p>$$
        \begin{array}{ccc|c}
        r11&amp;r12&amp;r13&amp;X\\
        r21&amp;r22&amp;r23&amp;Y\\
        r31&amp;r32&amp;r33&amp;Z\\
        \cdots&amp;\cdots&amp;\cdots&amp;1
        \end{array}
$$
the first three rows and columns will give us a Rotation matrix.
You will get X,Y,Z rotation angles by comparing the above mentioned rotation matrix with 
$$
        \begin{matrix}
        cos(\psi)cos(\theta)&amp;-sin(\psi)cos(\phi) + cos(\psi)sin(\theta)sin(\phi)&amp;sin(\psi)sin(\phi)+cos(\psi)sin(\theta)cos(\phi)\\
        sin(\psi)cos(\theta)&amp;cos(\psi)cos(\phi)+sin(\psi)sin(\theta)sin(\phi)&amp;-cos(\psi)sin(\phi)+sin(\psi)sin(\theta)cos(\phi)\\
        -sin(\theta)&amp;cos(\theta)sin(\phi)&amp;cos(\theta)cos(\phi)
        \end{matrix}
$$    </p>

<p>I suggest to use quaternions, they will be of form  e<sub>0</sub> + <strong>e</strong>
Here  e<sub>0</sub> is the cos(angle/2) and <strong>e</strong> is the unit vector of axis of rotation multiplied by sin(angle/2).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9133" data-toggle = "popover">
				<p>user name : the_parzival</p>
				<p> user reputation : 58</p>
				<p class = "tagcontent" id = "usertaginfo-9133">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9133">Load Comments</button></br>
			<div id = "commentsection-9133" class = 'collapse'>
			<div id = "comment-15128" class = "comment">
				<p>Edited it sorry, forgot to put the cos(angle/2) there.</p>
			</div>
			<div id = "comment-15180" class = "comment">
				<p>Thanks a lot man :). I found these formulas that I think are based on your idea. http://nghiaho.com/?page_id=846 .</p>
			</div>
			</div>
				<textarea id = "speech-9133" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9133">
					<img id="start_img-9133" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9133">Comment</button>
			<br><div id = "ans-9134"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9134" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An intuitive way to think about this is to recognize that the upper left 3x3 rotational submatrices of the 4x4 transformation matrices are really just the direction cosines of each of the unit vectors of the moving frames, with respect to the base frame.  So, for example, consider the $T_{02}$ transformation matrix.  This would be found by multiplying $T_{01} T_{12}$, which maps the second moving frame back to the global, or $0$, frame.  The first column of the upper left 3x3 of $T_{02}$ is just the cosine mapping of  $\hat x_2$ (the unit vector of the $2$ frame's $x$ axis) into its components in the $0$ frame.  Similarly, the second column contains the direction cosines of $\hat y_2$ onto the base frame, and the third does the same for $\hat z_2$.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9134" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9134">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9134" class = 'collapse'>
			</div>
				<textarea id = "speech-9134" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9134">
					<img id="start_img-9134" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9134">Comment</button>
			<br><div id = "ans-9151"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9151" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Mapping With Coordinates Systems</strong></p>

<p>Suppose you have an robotic arm with 3 links:</p>

<p><a href="https://i.stack.imgur.com/6ln9c.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6ln9c.png" alt="robotic arm"></a></p>

<p>Using generalized coordinates:</p>

<p>$\hspace{2.5em}$ $\vec{q}$ = $[q_{1}\hspace{1em}q_{2}]^{T}$ $\hspace{1.5em}$ [Generalized coordinate]</p>

<p>We can evaluate the system as following:</p>

<p><a href="https://i.stack.imgur.com/p3IRz.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/p3IRz.png" alt="enter image description here"></a></p>

<p>The kinematic equation that maps the origin to point A is:</p>

<p>$\hspace{5.em}$ $_{o}\vec{r}_{OA}$ = $_{o}\vec{r}_{O1}$ + $_{o}\vec{r}_{12}$ + $_{o}\vec{r}_{2A}$ $\hspace{1.5em}$ [kinematic equation]</p>

<p>We have two rotations over joint 1 and 2. Substituting in the equation above:</p>

<p>$\hspace{5.em}$ $_{o}\vec{r}_{OA}$ = $_{0}\vec{r}_{O1}$ + $R{(q_{1})_{01}}$ $ _{1}\vec{r}_{12}$ + $R{(q_{1}+q_{2})_{12}}$ $ _{2}\vec{r}_{2A}$</p>

<p>Where $R(\bullet)$ is the <a href="https://en.wikipedia.org/wiki/Rotation_matrix" rel="nofollow noreferrer">rotation matrix</a>.</p>

<blockquote>
  <p>If you want to map between point 1 to A:</p>
  
  <p>$\hspace{5.em}$ $_{1}\vec{r}_{1A}$ = $_{1}\vec{r}_{12}$ + $_{1}\vec{r}_{2A}$ $\hspace{1.5em}$ [New kinematic equation]</p>
  
  <p>$\hspace{5.em}$ $_{1}\vec{r}_{1A}$ = $R{(q_{1})_{01}}$ $ _{1}\vec{r}_{12}$ + $R{(q_{1}+q_{2})_{12}}$ $ _{2}\vec{r}_{2A}$</p>
  
  <p>It's pretty straightforward! For more on direct kinematics <a href="http://www.diag.uniroma1.it/~deluca/rob1_en/09_DirectKinematics.pdf" rel="nofollow noreferrer">here</a>.</p>
</blockquote>

<p>The term $R{(q_{1})_{01}}$ $ _{1}\vec{r}_{12}$ should be something like:</p>

<p>$\hspace{5.em}$ $R{(q_{1})_{01}}$ $ _{1}\vec{r}_{12}$ = $\begin{bmatrix} cos(q_{1}) &amp; -sin(q_{1}) &amp; 0 \\ sin(q_{1}) &amp; cos(q_{1}) &amp;  0 \\ 0 &amp; 0 &amp; 1\end{bmatrix}$  $\begin{bmatrix} l_{1} \\ 0 \\ 0 \end{bmatrix}$ </p>

<p>With a little bit of algebra, you can achieve the answer:</p>

<p>$\hspace{5.em}$ $ _{0}\vec{r}_{OA}$ = $\begin{bmatrix} l_{0} + l_{1}cos(q_{1}) + l_{2}cos(q_{1}+q_{2}) \\ 0 + l_{1}sin(q_{1}) + l_{2}sin(q_{1}+q_{2}) \\ 0 \end{bmatrix}$</p>

<p>That equation make possible to map all your system at any time relative to the origin.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9151" data-toggle = "popover">
				<p>user name : leCrazyEngineer</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-9151">{'None': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9151" class = 'collapse'>
			</div>
				<textarea id = "speech-9151" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9151">
					<img id="start_img-9151" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9151">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>