<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Finding a light load high precision servo motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4642" class = "post">
			<h2>Question</h2>
			<div id="vote-4642" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 145</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Finding a light load high precision servo motor</h2>
<p>I have a project that requires me to be able to accurately and repeatedly rotate an object 120 degrees.</p>

<p>The object is small and lightweight (let's say several grams). The axis does not necessarily have to always spin the same direction. It simply needs to be able to stop reliably at 0, +/- 120, and +/-240 degrees from the origin.</p>

<p>I have VERY limited experience with motors and robotics, but my understanding is that a servo motor will be my best bet for accuracy (if that incorrect, please let me know).</p>

<p>Since I know next to nothing about these motors, the spec sheets list a lot of specs which don't mean all that much to me. I'm hoping to learn, but in the mean time, what specifications do I need to be focusing on for these requirements?</p>

<p>It doesn't need to be high speed. When I say accurate, it doesn't have to be absolutely perfect to the micrometer, but I would like it to be able to run through a loop of stopping at 0, 120, and 240 hundreds of times without visually noticeable variance - the more precise the better though.</p>

<p>To be more specific about the accuracy. Let's say the object being rotated will have a flat surface on the top at each of those 3 stopping points.  Upon inspection the surface needs to appear level each and every time through hundreds of cycles.</p>

<p>Could these requirements be met by a servo that might be used in building a quadricopter, or am I going to be looking for something higher grade than that?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4642" data-toggle = "popover">
				<p>user name : JR Warren</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4642">{'servomotor': 5, 'None': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4642">Load Comments</button></br>
			<div id = "commentsection-4642" class = 'collapse'>
			<div id = "comment-7268" class = "comment">
				<p>You are definetly looking for a stepper motor, it cannot move very fast about has very high accuracy, with the right driver around 0.05 -0.1 </p>
			</div>
			<div id = "comment-7269" class = "comment">
				<p>Many hobby servos can stop at 0, 120, and 240 degrees hundreds of times within 1 degree of the same location every time -- see [High accuracy servo](http://electronics.stackexchange.com/questions/10910/high-accuracy-servo).</p>
			</div>
			</div>
				<textarea id = "speech-4642" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4642">
					<img id="start_img-4642" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4642">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4647"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4647" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since you didn't state your accuracy requirements in terms of degrees, I assume you want it to be accurate enough to the eye.  Pretty much any RC servo motor will do the job.</p>

<p><img src="https://i.stack.imgur.com/TOkNM.jpg" alt="Servo"></p>

<p>These can easily support a few grams weight.</p>

<p>All you need to do is provide it with the control signal to tell it which angles to go to, and the simplest way to do that is with something like an <a href="http://www.arduino.cc" rel="nofollow noreferrer">Arduino</a>, or <a href="http://www.cypress.com/?rID=92146" rel="nofollow noreferrer">PSoC4 development board</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4647" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4647">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4647">Load Comments</button></br>
			<div id = "commentsection-4647" class = 'collapse'>
			<div id = "comment-7273" class = "comment">
				<p>Yeah, I don't have enough experience to lay out a precise degree requirement for my application. I added some clarification in my question to what I meant by "without visually noticeable variance".  My understanding is that at least some entry level RC Servo motors wouldn't be that precise in their movements. Am I wrong in that understanding? Does the added clarification in my question change your answer at all?  Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-4647" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4647">
					<img id="start_img-4647" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4647">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>