<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Find Centre Of Circle, when robot can "see" a partial arc
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5047" class = "post">
			<h2>Question</h2>
			<div id="vote-5047" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 268</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Find Centre Of Circle, when robot can "see" a partial arc</h2>
<p>I originally asked this <a href="https://math.stackexchange.com/questions/891093/work-out-center-of-a-partial-circle">here</a> but I am struggling to take the concepts, particularly "Circumcenter", discussed there and apply it in my context. So here it is in my context...</p>

<p>I have a small robot that can "see" (via a camera) a partial arc (from a birds-eye view)</p>

<p>Therefore I know the height and the width of the square and therefore the width and height of the arc, I am sure there must be a way of approximating the circles centre?</p>

<p>What would be the quickest (not necessarily the most accurate) way of helping my robot find the centre.</p>

<p>In my head these are the steps of the problem:</p>

<ol>
<li><strong>Break up the arc into evenly spaced vectors ?</strong></li>
<li>Work out the angle between the vectors</li>
<li><strong>Use this information to complete the circle ?</strong></li>
<li>Work out radius of circle </li>
<li><strong>Find the center of the circle</strong></li>
</ol>

<p>Basically I would love some input on this problem because I think i know</p>

<ol>
<li>?</li>
<li>Dot Product</li>
<li>?</li>
<li>Add up the lengths of all the vectors to get circumference and then divide by pi, then divide by 2 (or divide by Tau : ) ) </li>
<li>I <strong>think</strong> this is where circumcentre comes in</li>
</ol>

<p>Basically I feel I have some pieces of the puzzle but I am not sure how they fit together. </p>

<p>I am currently using python with OpenCV and you may have guessed, I am not great at understanding math unless its expressed in algebraic formula or code. </p>

<p>Here are some illustrive pictures to reference:
<img src="https://i.stack.imgur.com/4Fmyj.png" alt="enter image description here"><img src="https://i.stack.imgur.com/ts26N.png" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5047" data-toggle = "popover">
				<p>user name : chrispepper1989</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-5047">{'None': 0, 'computer-vision': 2, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5047">Load Comments</button></br>
			<div id = "commentsection-5047" class = 'collapse'>
			<div id = "comment-7810" class = "comment">
				<p>I think this might be a step in the right direction:
http://www.abecedarical.com/zenosamples/zs_circle3pts.html</p>
			</div>
			</div>
				<textarea id = "speech-5047" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5047">
					<img id="start_img-5047" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5047">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5054"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5054" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would recommend the following steps:</p>

<ol>
<li>Get slope of the arc (say m1,m2) at 2 random points on the arc (say p1,p2)</li>
<li>Get slopes orthogonal to m1,m2 using m1*m1_oth = -1</li>
<li>Use new slopes and point p1,p2 to get 2 lines</li>
<li>Point of intersection of the lines is your center.</li>
</ol>

<p>I believe this should not be computationally intensive. Haven't tried it though.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5054" data-toggle = "popover">
				<p>user name : sleeping_dragon</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-5054">{'None': 0, 'uav': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5054">Load Comments</button></br>
			<div id = "commentsection-5054" class = 'collapse'>
			<div id = "comment-7811" class = "comment">
				<p>definitely something to try out, thanks!</p>
			</div>
			<div id = "comment-7812" class = "comment">
				<p>Is the kind of thing you meant? https://www.youtube.com/watch?v=YOJbWo41gU0</p>
			</div>
			<div id = "comment-7816" class = "comment">
				<p>@chrispepper1989 yeah, similar to this. Getting the perpendicular bisector is an overkill. Just find point of intersection of the thes line perpendicular to the tangents at any two points on the arc.</p>
			</div>
			</div>
				<textarea id = "speech-5054" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5054">
					<img id="start_img-5054" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5054">Comment</button>
			<br><div id = "ans-5056"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5056" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First you need to understand the math, then you need to know how to program it.</p>

<p>So let's begin with the math. This is high school material, so I go through it quickly.</p>

<h2>The math</h2>

<p>Any two points you take on a circle make a line (of course). The <a href="https://en.wikipedia.org/wiki/Bisection#Line_segment_bisector" rel="nofollow noreferrer">line bisector</a> of that line passes through the center of the circle. If you have two of such line bisectors that are not parallel, they collide at the center of the circle.</p>

<p>The reason that this happens is quite trivial, but if you don't know it, just accept it at this point.</p>

<p><img src="https://i.stack.imgur.com/X5UzT.png" alt="Theory"></p>

<p>That said, the line segments don't need to be far apart for their line bisectors to collide at the center of the circle. They could cross each other or they could share a point as one of their ends. In short, any pair of lines are ok as long as they are not parallel. Sharing one end point and having the other end point different can ensure that this is the case.</p>

<h2>The programming</h2>

<p>To do the programming, first you need three points on the circle (arc).</p>

<p>These three points don't need to be spaced out evenly. The more points you have and the farther they are from each other can increase your precision. Let's stick to three points at the moment.</p>

<p>How can you find three points? That's quite simple. Run three horizontal lines through your image and record where you cross the arc. There would be at least three collisions, but there could also be more.</p>

<p><img src="https://i.stack.imgur.com/aQIeg.png" alt="Choosing points on the arc"></p>

<p>Now choose three as you like, preferably the two farthest points and one that is closest to the middle. Then find their bisectors and see where they collide.</p>

<p><img src="https://i.stack.imgur.com/ahs3Q.png" alt="enter image description here"></p>

<p>And that's it! You have your center.</p>

<p>As a bonus, if you find more points and have the time, you can increase your precision by calculating more candidate points for the center and simply average them. That would give you a smaller computation error. In the figure below, that would be the average of the points identified by the arrows:</p>

<p><img src="https://i.stack.imgur.com/eI6Bc.png" alt="enter image description here"></p>

<p>Note that these points should have theoretically coincided, but due to computational error are a bit offset.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5056" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-5056">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5056">Load Comments</button></br>
			<div id = "commentsection-5056" class = 'collapse'>
			<div id = "comment-7821" class = "comment">
				<p>Fantastic explanation, i had recently come across the chord stuff but this is a reallly brilliant summary that adresses all my concerns with the method,  and the horizontal line stuff is so much simpler then what i had in mind! Thanks</p>
			</div>
			<div id = "comment-7823" class = "comment">
				<p>@chrispepper1989, no problem. You could also throw in some vertical lines if you feel up it ;)</p>
			</div>
			</div>
				<textarea id = "speech-5056" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5056">
					<img id="start_img-5056" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5056">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>