<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Finding rotation quaternion
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9297" class = "post">
			<h2>Question</h2>
			<div id="vote-9297" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 289</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Finding rotation quaternion</h2>
<p>I am trying to use a quaternions for robotics and there is one thing I don't understand about it. Most likely because I don't understand how to define position with quaternions and how to define rotation with quaternions if there is any difference..<br>
Please watch my "understanding steps" and correct if I am wrong somewhere.</p>

<p>Lets assume I we have 2 vehicle positions described by 2 rotation quaternions:
$$
q_1 = w_1 + x_1i + y_1j +z_1k = \cos(\pi/4) + \sin(\pi/4)i
$$
This quaternion is normalized and represents rotation over the $x$ axis for $\pi/2$ angle as I understand it.
$$
q_2 = w_2 + x_2i + y_2j + z_2k = \cos(\pi/4) + \sin(\pi/4)k
$$
And this one represents rotation for the same angle $\pi/2$ over the $y$ axis.</p>

<p>$q_1*q_2 = q_3$ which would be the same rotation as if we made $q_1$ first and $q_2$ second. 
$$q_3 = \frac{1}{2} + \frac{i}{2} +\frac{j}{2} +\frac{k}{2}$$</p>

<p><strong>QUESTION 1:</strong> Given $q_2$ and $q_3$ how can I find $q_1$?</p>

<p><strong>QUESTION 2:</strong> How to find a rotation angle over some other vector, given rotation quaternion? For example I want to find on what angle does $q_3$ turned over $2i+j-k$ quaternion.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9297" data-toggle = "popover">
				<p>user name : arbulgazar</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-9297">{'None': 0, 'kinematics': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9297">Load Comments</button></br>
			<div id = "commentsection-9297" class = 'collapse'>
			<div id = "comment-16472" class = "comment">
				<p>Your question is a bit unclear.  Are you representing both position and rotation in a single quaternion?  Are you trying to find the angular displacement between 2 given rotations?  Are you simply rotating a quaternions?  I think you should do some more background reading.</p>
			</div>
			<div id = "comment-16698" class = "comment">
				<p>@RyanLoggerythm Quaternion is not a hyperspace representation of both position and rotation. That would be double quaternions. Quaternions simply represents rotations and covers the entire $SO(3)$ space. It has nothing to do with position.</p>
			</div>
			<div id = "comment-16719" class = "comment">
				<p>Yes I had checked the link. I meant that the quaternions do not have anything to do with position. Am I wrong in that regard?</p>
			</div>
			<div id = "comment-16973" class = "comment">
				<p>Look at this code. https://github.com/tswanepoel/pilotgadgetry/blob/master/README.md</p>
			</div>
			<div id = "comment-17126" class = "comment">
				<p>@RyanLoggerythm - I agree with Saurav; quaternions don't have anything to do with the position *of the object to be rotated*. Yes, there is technically an i/j/k or x/y/z component to the quaternion, but that is better described as the axis about which the rotation occurs (axis-angle). What you're saying is akin to saying that a ruler in my pocket represents position - technically correct but misleading because, while it measures **a** position, it doesn't measure **my** position.</p>
			</div>
			</div>
				<textarea id = "speech-9297" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9297">
					<img id="start_img-9297" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9297">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9448"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9448" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unit quaternions are used to define rotations, and has nothing to do with position. It defines all points in $SO(3)$, the 3D rotation group, and does not suffer from singularity, as in the case of Euler angles.</p>

<p>The quaternion ${\bf q}_1=\cos(\pi/4)+\sin(\pi/4)\bf i$ represents rotation <em>about</em> (not over) the $\bf i$ vector, which in general represents the $x$-axis,  by an angle of $\pi/2$. This can be easily understood by the equivalent <em>axis-angle</em> representation. Any quaternion can be written as ${\bf q}=\cos(\phi/2) + \sin(\phi/2){\bf k}$, where ${\bf k}$ is a unit vector representing the axis of rotation and $\phi$ is the angle in radians. Following the logic, the quaternion ${\bf q}_2=\cos(\pi/4)+\sin(\pi/4)\bf k$ represents rotation about the $z$-axis and not $y$-axis. </p>

<p>The equivalent rotation of first performing ${\bf q}_1$ and then ${\bf q}_2$ is given by ${\bf q}_3={\bf q}_2{\bf q}_1$. Note the order of the multiplication. Also, the quaternion multiplication is not <em>commutative</em>. The quaternion multiplication is performed using the following rules:</p>

<ol>
<li>${\bf ij}={\bf k}$, ${\bf jk}={\bf i}$, ${\bf ki}={\bf j}$</li>
<li>${\bf ji}={\bf -k}$, ${\bf jk}={\bf -i}$, ${\bf ki}={\bf -j}$</li>
<li>${\bf i}^2={-1}$, ${\bf j}^2={-1}$, ${\bf k}^2={-1}$.</li>
</ol>

<p>Following these rules, one can calculate ${\bf q}_3={\bf q}_2{\bf q}_1=\frac{1}{2}+\frac{1}{2}{\bf i}+\frac{1}{2}{\bf j}+\frac{1}{2}{\bf k}$.</p>

<p>In order to find ${\bf q}_1$ if ${\bf q}_2$ and ${\bf q}_3$ are given, one can write the equation as </p>

<p>${\bf q}_1={\bf q}^{-1}_2{\bf q}_3$. 
The inverse of a quaternion ${\bf q}^{-1}_2$ is given by its <em>conjugate</em>.</p>

<p>Hence, ${\bf q}^{'}_1=(\cos(\pi/4)-\sin(\pi/4){\bf k})*(\frac{1}{2}+\frac{1}{2}{\bf i}+\frac{1}{2}{\bf j}+\frac{1}{2}{\bf k})$, $*$ represents quaternion multiplication. This gives ${\bf q}^{'}_1={\bf q}_1$.</p>

<p>Finding the equivalent <em>axis-angle</em> representation:</p>

<p>The norm of the vector component gives $\sin(\phi/2)$ and the scalar component gives $\cos(\phi/2)$. Hence, the angle $\phi=2\operatorname{ArcTan}(\sin(\phi/2),\cos(\phi/2))$. Note the use of ArcTan and the double argument. This gives a unique answer, as opposed to taking ArcCos or ArcSin. The axis vector can then be found by dividing the vector component of quaternion by $\sin(\phi/2)$.
 For example, the quaternion ${\bf q}_3$ can be stated as rotation about the unit vector ${\bf v}=\frac{1}{\sqrt{3}}{\bf i}+\frac{1}{\sqrt{3}}{\bf j}+\frac{1}{\sqrt{3}}{\bf k}$ by an angle of $\frac{2\pi}{3}$.</p>

<p>Further references:</p>

<p><a href="https://en.wikipedia.org/wiki/Quaternions_and_spatial_rotation" rel="nofollow">Quatenions and spatial rotations (Wikipedia)</a></p>

<p><a href="https://www.google.co.in/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjvk_ryg83LAhWEuo4KHUkqBbMQFggcMAA&amp;url=http%3A%2F%2Fgamma.cs.unc.edu%2Fcourses%2Fplanning-f07%2FPAPERS%2Fquaternions.pdf&amp;usg=AFQjCNEAf8fUZ0Lzx9NJol65FD9Zmg3rtg&amp;sig2=oXOX6cj94W9hKauq5ETviQ" rel="nofollow">Quaternions and Rotations in 3-Space: How it Works</a></p>

<p><a href="https://www.google.co.in/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;ved=0ahUKEwjFmoiQhM3LAhWDuo4KHYxTCKQQFggfMAA&amp;url=https%3A%2F%2Fwww.astro.rug.nl%2Fsoftware%2Fkapteyn%2F_downloads%2Fattitude.pdf&amp;usg=AFQjCNF2E4o5zIqNJdJv1TTTOV8EedPl5w&amp;sig2=Q6WkNOAxhKeCSroD-5aZSg" rel="nofollow">Representing Attitude: Euler Angles, Unit Quaternions, and Rotation
Vectors
</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9448" data-toggle = "popover">
				<p>user name : Saurav</p>
				<p> user reputation : 109</p>
				<p class = "tagcontent" id = "usertaginfo-9448">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9448" class = 'collapse'>
			</div>
				<textarea id = "speech-9448" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9448">
					<img id="start_img-9448" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9448">Comment</button>
			<br><div id = "ans-10291"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10291" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Quaternions</strong></p>

<p>Mathematical definition</p>

<p>$\mathcal{H} := \{ h_{1} + h_{2}i + h_{3}j + h_{4}k : h_{1},h_{2},h_{3},h_{4} \in \Re$ and $ i^{2} = j^{2} = k^{2} = ijk = -1  \}$</p>

<p>A pure quaternion can be defined as:</p>

<p>$\mathcal{H}_{p} := \{ p \in \mathcal{H} : Re(p)=0\}$</p>

<p>Pure quaternions can be associated to vectors.</p>

<p><strong>Translation</strong></p>

<p>Since pure quaternions are directly related to vectors, you can add two pure quaternions to form a third one.  Observe the figure, were we represent a pure quaternion and the real axis is omitted: </p>

<p><a href="https://i.stack.imgur.com/IbfuE.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/IbfuE.jpg" alt="Translation quaternion p"></a></p>

<p><strong>Rotation</strong></p>

<p>A general rotation of $\phi$ around an arbitrary unit norm rotation axis n is givem by:</p>

<p><a href="https://i.stack.imgur.com/y64Xh.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/y64Xh.jpg" alt="Quaternion rotaiton by an arbitrary axis n"></a> </p>

<blockquote>
  <p>QUESTION 1: Given $q_{2}$ and $q_{3}$ how can I find $q_{1}$?</p>
</blockquote>

<p>If $q_{3} = q_{1}q_{2}$ and they are rotation quaternions:</p>

<p>$q_{3} = q_{2}q_{1}$</p>

<p>$q_{3}q_{2}^{*} = q_{1}q_{2}q_{2}^{*}$</p>

<p>Since $q_{2}^{*}q_{2} = 1 = q_{2}q_{2}^{*}$</p>

<p>$q_{1} = q_{3}q_{2}^{*}$</p>

<p>were the * states for the conjugate of a quaternion.</p>

<blockquote>
  <p>QUESTION 2: How to find a rotation angle over some other vector, given rotation quaternion? For example I want to find on what angle does $q_{3}$ turned over 2i+j k quaternion.</p>
</blockquote>

<p>If your vector is represented by $n$ and you know the $r$, your rotation angle will be the double of the angle you see.</p>

<p>Example:</p>

<p>$n = i + 0j + 0k$</p>

<p>$r$ = $q_{1} = cos(\frac{\pi}{4}) + sin(\frac{\pi}{4})i$</p>

<p>from the formula presented in the section of <strong>rotation</strong>:</p>

<p>$\frac{\phi}{2} = \frac{\pi}{4}$</p>

<p>$\phi = \frac{\pi}{2}$</p>

<p>Hope that was useful.</p>

<p>Best regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10291" data-toggle = "popover">
				<p>user name : leCrazyEngineer</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-10291">{'None': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10291" class = 'collapse'>
			</div>
				<textarea id = "speech-10291" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10291">
					<img id="start_img-10291" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10291">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>