<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Finding the position of a servo
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5118" class = "post">
			<h2>Question</h2>
			<div id="vote-5118" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 421</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Finding the position of a servo</h2>
<p>I am building a collision avoidance system for my robot. As a part of this system I am using a pan and tilt kit </p>

<p>(<a href="http://www.robotshop.com/en/lynxmotion-pan-and-tilt-kit-aluminium2.html" rel="nofollow">http://www.robotshop.com/en/lynxmotion-pan-and-tilt-kit-aluminium2.html</a>)</p>

<p>My aim is to pan the sensor attached to this kit, and thus plan the route the robot should take.</p>

<p>In order to pan this sensor, I need to know the angle the kit has panned, and need to be able to call upon that angle at point in time. </p>

<p>Basically the sensor keeps panning, and at a point in time when certain conditions are met, it stops panning. When those conditions are met, I need to be able to extract the angle the sensor is panned at.</p>

<p>The servo being used on is: <a href="http://www.robotshop.com/en/hitec-hs422-servo-motor.html" rel="nofollow">http://www.robotshop.com/en/hitec-hs422-servo-motor.html</a></p>

<p>If someone could help me find a way to extract this information that would be helpful. I did read somewhere that the servo could be hacked and changed into a closed loop system where the effective angle would be shown, but that option is not viable.</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5118" data-toggle = "popover">
				<p>user name : Rohan Kapadia</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-5118">{'mobile-robot': 1, 'None': 0, 'wheeled-robot': 0, 'sensors': 1, 'rcservo': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5118">Load Comments</button></br>
			<div id = "commentsection-5118" class = 'collapse'>
			<div id = "comment-7877" class = "comment">
				<p>Hooking a potentiometer on the axis could be the option?</p>
			</div>
			<div id = "comment-7878" class = "comment">
				<p>BTW, servo IS working in closed loop, so if you are not working with high loads, the position will be the actually commanded position, so you don't really need to read it. Hacking the servo can give you readings from the internal position sensing potentiometer.</p>
			</div>
			</div>
				<textarea id = "speech-5118" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5118">
					<img id="start_img-5118" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5118">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5125"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5125" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Servos use potentiometers to get information about the output shaft position and makes the internal feedback loop. In order to retreive the servo position, you will need to open and extract the output value of the potentiometer in order to use it for your own purpose.</p>

<p><img src="https://i.stack.imgur.com/LcVBb.jpg" alt="enter image description here"></p>

<p>You will need to solder a cable to the output of the potentiometer and connect it to your own circuit. You will get an analog signal relative to the position of the servo. Position can be found using the relation</p>

<p>$$\theta = \theta_0 + \frac{V_{out}}{V_{max}}$$</p>

<ul>
<li>$0 \leq \theta \leq 360 $</li>
<li>$V_{max}$ is the maximum voltage at the potentiometer end. Usually, it is $V_{DD}$, the voltage of the servo.</li>
<li>$\theta_0$ is the initial position and depends on the servo.</li>
<li>If used with a microcontroller, you will need an ADC input (analog input).</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5125" data-toggle = "popover">
				<p>user name : Alexandre Willame</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-5125">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5125" class = 'collapse'>
			</div>
				<textarea id = "speech-5125" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5125">
					<img id="start_img-5125" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5125">Comment</button>
			<br><div id = "ans-5145"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5145" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Servos are by definition, in the position you told them to go (or in a fault condition). This is the difference between a servo and a stepper. You tell a stepper to move 1 step at a time and do not know if it did or not. A servo on the other hand will continue trying to get to the position you asked.  For hobby Servos, you are setting a pulse width / duty cycle in some part of the code.  You can assume that IS the servo position for all intents and purposes. The standard servo's low value is 1000, high value 2000, and obviously 1500 in the center position.</p>

<p>Taken from <a href="https://www.ini.uzh.ch/~tobi/wiki/doku.php?id=dig:servos" rel="nofollow noreferrer">Servo motors and controlling them with PWM</a></p>

<p>They have one really great feature: the interface to control them is super simple, just the pulse width of a digital pulse sent to the motor at a rate from 50-200Hz. The pulse rate is not that important. The important thing is the pulse width. The range of the pulse width is from 1-2ms. 1.5ms is the middle servo position and 1 or 2 ms are the end positions.</p>

<p>You cannot control the torque, rate, or anything else; as soon as the servo's electronics detects the pulse width (which can require several pulses) it tries to get the servo to the new position as quickly as possible. You also cannot sense the servo's position, current or anything else; control is open-loop as far as the servo is concerned; all control is handled inside the servo.</p>

<p><img src="https://i.stack.imgur.com/nKcpq.gif" alt="Servo PWM control"></p>

<hr>

<p>Just as a warning, most modern servos DO NOT use potentiometers. Today, most use optical encoders for positional sensing, so reading an analog signal is going to be difficult (impossible). </p>

<p>High end servos such as the <a href="http://hitecrcd.com/products/servos/discontinued-servos-servo-accessories/hsr-5990tg-hmi-ultra-premium-robot-servo/product" rel="nofollow noreferrer">HiTech</a> do provide feedback (positional) information.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5145" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-5145">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5145" class = 'collapse'>
			</div>
				<textarea id = "speech-5145" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5145">
					<img id="start_img-5145" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5145">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>