<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Fingerprinting~ model matching algorithms for localization
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7388" class = "post">
			<h2>Question</h2>
			<div id="vote-7388" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Fingerprinting~ model matching algorithms for localization</h2>
<p>This <a href="http://www-personal.umich.edu/~johannb/Papers/paper64.pdf" rel="nofollow">paper</a> mentioned the fingerprinting/model matching case. But I could not find an image based algorithm. Any suggestion about image based localization</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7388" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7388">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7388" class = 'collapse'>
			</div>
				<textarea id = "speech-7388" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7388">
					<img id="start_img-7388" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7388">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7392"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7392" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure what you mean by "image based," but it seems like the term "model matching" is used to describe the notion of using an a-priori map of an environment to localize to. </p>

<p>You can build an a-priori map in many ways such as using a lidar, or using detected features from an image. Once you know this global map, your robot can use its sensor data to position itself on the global map by using localization algorithms such as a particle filter or EKF.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7392" data-toggle = "popover">
				<p>user name : asriraman93</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-7392">{'None': 1, 'motion-planning': 1, 'robotic-arm': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7392">Load Comments</button></br>
			<div id = "commentsection-7392" class = 'collapse'>
			<div id = "comment-10540" class = "comment">
				<p>Model matching algorithms applied on various sensor like magnetic or rf readings.  I want to do it with images taken from robots</p>
			</div>
			</div>
				<textarea id = "speech-7392" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7392">
					<img id="start_img-7392" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7392">Comment</button>
			<br><div id = "ans-7405"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7405" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For fingerprint matching model, try working with SVM (support vector machines) algorithm, it is a based supervised learning model. For localization purpose you need to match ridges and bifurcation found in fingerprints. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7405" data-toggle = "popover">
				<p>user name : shruti</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-7405">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7405">Load Comments</button></br>
			<div id = "commentsection-7405" class = 'collapse'>
			<div id = "comment-10584" class = "comment">
				<p>Can you give me an example? May be a paper or link</p>
			</div>
			<div id = "comment-10604" class = "comment">
				<p>Yeah sure i do have some content. Give me your email id, will send you the files i have.</p>
			</div>
			</div>
				<textarea id = "speech-7405" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7405">
					<img id="start_img-7405" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7405">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>