<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Fixed Wing UAV: Do inherently unstable systems desire to be stable for all cases when a closed loop control is implemented on them?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9488" class = "post">
			<h2>Question</h2>
			<div id="vote-9488" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Fixed Wing UAV: Do inherently unstable systems desire to be stable for all cases when a closed loop control is implemented on them?</h2>
<p>As we all know fixed wing vehicles are designed to have inherent instability which is what enables all fixed wing vehicles to fly.</p>

<p>However does this apply to all cases?</p>

<blockquote>
  <p>Do inherently unstable systems desire to be stable for all cases when a closed loop control is implemented on them?</p>
</blockquote>

			</div>
			<div class = "userinfosection"  id = "userinfo-9488" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-9488">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9488" class = 'collapse'>
			</div>
				<textarea id = "speech-9488" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9488">
					<img id="start_img-9488" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9488">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9489"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Not all fixed wing aircraft are inherently instable. That feature greatly depends on the center pressure and gravity center designed position. Passenger aircrafts are quite stable, and fight planes are just the opposite in order to achieve fast maneouvres, among other reasons.</p>

<p>Read <a href="https://aviation.stackexchange.com/questions/8049/are-fighter-jets-designed-to-be-so-inherently-unstable-that-a-human-cant-fly-on">this aviation thread</a> where this question was replied. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9489" data-toggle = "popover">
				<p>user name : galtor</p>
				<p> user reputation : 348</p>
				<p class = "tagcontent" id = "usertaginfo-9489">{'control': 2, 'quadcopter': 5, 'None': 14, 'reinforcement-learning': 1, 'pid': 4, 'simulation': -3, 'machine-learning': 1, 'untagged': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9489" class = 'collapse'>
			</div>
				<textarea id = "speech-9489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9489">
					<img id="start_img-9489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9489">Comment</button>
			<br><div id = "ans-9490"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9490" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm going to ignore your section on aircraft and attempt to answer the (vague) question, </p>

<blockquote>
  <p>Do inherently unstable systems desire to be stable for all cases when a closed loop control is implemented on them?</p>
</blockquote>

<p>First, I'll say that system response, stability, etc., are all based on mathematics, and math does not have feelings. That is, a system doesn't "desire" anything - it just <em>is</em>.</p>

<p>Second, there is a difference between <a href="https://en.wikipedia.org/wiki/Controllability" rel="nofollow">controllability</a> and <em>stabilizability</em>. Just because you can't force a characteristic to be what you want doesn't necessarily mean that it's unstable.</p>

<p>Similarly, just because you have feedback, that doesn't mean that your controller is stable. </p>

<p>Consider a <a href="https://en.wikipedia.org/wiki/Bang%E2%80%93bang_control" rel="nofollow">bang-bang controller</a> for steering in a car. You get feedback of the car's position in the lane, and you either steer full left or full right depending on which side of center you are. </p>

<p>A bang-bang controller <em>is</em> a closed-loop controller. The <em>stability</em> of the car's position depends on sampling and actuation frequency with respect to the car's speed. After a particular speed the position of the car no longer converges on the center of the road.</p>

<p>Another example would be a system where I want to control speed and altitude of a car, and I have speed and altitude measurements, but my only method of actuation is cruise control. Cruise control can force speed to go to whatever value I want, but it can't influence altitude. Therefore, I rely on the system describing altitude (briefly, $F=ma$) to be <em>stable</em> and, as long as the car has sufficient mass and the speed is <a href="https://en.wikipedia.org/wiki/Newton%27s_cannonball" rel="nofollow">relatively slow</a>, that is true - the car's altitude won't randomly fluctuate. That is, speed is controllable and altitude is stable, so as a whole, the speed-altitude system is said to be <em>stabilizable</em>.</p>

<p>So, to summarize, a <em>controllable</em> system is one where you are able to force every state to the value you desire. A <em>stabilizable</em> system is one where you can force all of the <em>unstable</em> states to do what you want, while the rest of the states are inherently stable. </p>

<p>Output feedback doesn't guarantee either controllability or stabilizability. They instead depend on how your actuators are able to uniquely influence the states you care about.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9490" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9490">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9490" class = 'collapse'>
			</div>
				<textarea id = "speech-9490" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9490">
					<img id="start_img-9490" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9490">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>