<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Flag these as Spam?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2435" class = "post">
			<h2>Question</h2>
			<div id="vote-2435" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 118</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Flag these as Spam?</h2>
<p>There seems to be a lot of these around at the moment; questions on cheats/hacks for Clash of Clans, but without ever mentioning that name directly.</p>

<p>I'm seeing them across all the SE sites I visit.</p>

<p>It's kind of spam with no visible purpose. It contains no link, just some vague waffle requesting how to cheat in some way or other</p>

<p>e.g.  <a href="https://apple.stackexchange.com/questions/179988/clash-of-stone-cheat">https://apple.stackexchange.com/questions/179988/clash-of-stone-cheat</a></p>

<p>They are usually tagged with something irrelevant too.</p>

<p>Do we flag as Spam or just vote to close as off-topic?<br>
I understand being flagged as spam affects the poster in some greater way than just having their question closed as off-topic, so I wanted some kind of quorum on how to treat these.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2435" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2435">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2435">Load Comments</button></br>
			<div id = "commentsection-2435" class = 'collapse'>
			<div id = "comment-4570" class = "comment">
				<p>Related: http://meta.stackexchange.com/questions/58032/what-are-the-spam-and-offensive-flags-and-how-do-they-work, http://meta.stackexchange.com/questions/10582/what-is-a-closed-or-on-hold-question</p>
			</div>
			</div>
				<textarea id = "speech-2435" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2435">
					<img id="start_img-2435" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2435">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2437"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2437" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's still spam and should be flagged as spam.</p>

<p>I've seen this occur before elsewhere in Stack Exchange. They're testing the system of sorts, by posting content that is spam and contains SEO text but without links to the spam, either to later answer with spam that contains spam links, or to test if their spam  gets past  without any links such that links could be added later either through answers or editing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2437" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2437">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2437" class = 'collapse'>
			</div>
				<textarea id = "speech-2437" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2437">
					<img id="start_img-2437" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2437">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>