<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Flair not working correctly
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1628" class = "post">
			<h2>Question</h2>
			<div id="vote-1628" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 49</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Flair not working correctly</h2>
<p>See my <a href="https://apple.stackexchange.com/users/31683/imazik">profile</a>.</p>

<p><img src="https://i.stack.imgur.com/tqeJB.png" alt="enter image description here"></p>

<p>and the <a href="https://apple.stackexchange.com/users/31683/imazik/flair">flair</a> of my account
<img src="https://i.stack.imgur.com/FCUZd.png" alt="enter image description here"></p>

<p>Why it appears like this?</p>

<p>It shows the profile picture of another beta account.</p>

<p>I have changed the profile picture again to solve this, but same result.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1628" data-toggle = "popover">
				<p>user name : imazik</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-1628">{'None': 0, 'site-scope': 3, 'support': 1, 'status-norepro': 0, 'bug': 0, 'discussion': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1628">Load Comments</button></br>
			<div id = "commentsection-1628" class = 'collapse'>
			<div id = "comment-3024" class = "comment">
				<p>Can you possible post a screen shot of what you're seeing? I only know what I'm seeing and I don't know if that's what you intended me to see or not.</p>
			</div>
			<div id = "comment-3025" class = "comment">
				<p>They're getting at the fact that the network profile / combined network flair is using the Xcode icon, where all of the accounts have been updated to use a more specific icon like the green droplet as seen here. I've never used a different icon so I'm unsure of what the problem could be. Add to it that the account listings at stackexchange.com aren't actually an account type that you manipulate as you would on an actual SE site...</p>
			</div>
			<div id = "comment-3026" class = "comment">
				<p>@IanC., added screenshot, now find the issue, thnx</p>
			</div>
			<div id = "comment-3027" class = "comment">
				<p>On my end, I see *your* picture when I view your flair page: http://imgur.com/szRw0vr. It appears the flair page, when *you* view it, is taking the image you have associated with your sports SE account: http://sports.stackexchange.com/users/753/sports-fan -- try changing all your accounts to use the same image.</p>
			</div>
			<div id = "comment-3028" class = "comment">
				<p>From the Flair page: "please note that only sites where you have more than 200 reputation will appear, and that flair is only updated once every 24-36 hours"</p>
			</div>
			</div>
				<textarea id = "speech-1628" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1628">
					<img id="start_img-1628" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1628">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1631"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1631" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Status aside, I don't doubt that you saw this, but I don't see it, and I doubt you see it anymore either. Remember, these images are cached - as patrix notes, you won't see changes to your profile reflected for a while.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1631" data-toggle = "popover">
				<p>user name : Shog9</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-1631">{'None': 39, 'discussion': 35, 'election': 35}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1631" class = 'collapse'>
			</div>
				<textarea id = "speech-1631" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1631">
					<img id="start_img-1631" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1631">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>