<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Floor Segmentation to Determine Navigable Paths
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-222" class = "post">
			<h2>Question</h2>
			<div id="vote-222" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 139</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Floor Segmentation to Determine Navigable Paths</h2>
<p>In my application, my robot has the following physical setup:</p>

<ul>
<li>Differential drive mechanics with feedback (wheel encoders)</li>
<li>Commercially available webcam mounted with a known transform to the base of the robot (RGB, no depth)</li>
</ul>

<p>The robot will be navigating through a structured, indoor type environment (think office, home, or university), and I would like to be able to determine the navigable paths through the environment using my vision sensor.</p>

<p>What is the best way to approach the problem of finding safe paths to travel when given a single vision sensor?</p>

<p><strong>Edit:</strong>  I think that I am more interested in the vision processing techniques than the actual path-planning mechanics.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-222" data-toggle = "popover">
				<p>user name : mjcarroll</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-222">{'None': 5, 'computer-vision': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-222" class = 'collapse'>
			</div>
				<textarea id = "speech-222" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-222">
					<img id="start_img-222" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-222">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-227"  class = "post">
				<h2>Answer</h2>
			<div id="vote-227" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have a look at the <a href="http://scholar.google.de/scholar?q=monocular+vision+obstacle+avoidance" rel="nofollow">literature</a> that is available on this subject. 
In principle you can go two different ways: behavior based or sense/plan/act.</p>

<ul>
<li><p>for the behavior based approach there are a lot of ways you could achieve your goal, and it also depends on your environment. One very simple and elegant solution that I saw (don't have reference at hand) was to assume pixels that are just in front of you to be ground, and extend the pattern through some sort of flooding algorithm. The projection of this onto the ground plane is traversable. Optical flow could be another possible solution, which takes a little more processing power, but might be more robust on textured environments. Have a look at the literature around, I am sure there a plenty more ways.</p></li>
<li><p>more complicated, but more robust would be some sort of structure from motion to get a model of your environment. This is not so trivial with a monocular camera, but possible. You could then generate a traversability map and perform path planning (some sort of A* or D*) and then path following on it. </p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-227" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-227">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-227" class = 'collapse'>
			</div>
				<textarea id = "speech-227" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-227">
					<img id="start_img-227" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-227">Comment</button>
			<br><div id = "ans-228"  class = "post">
				<h2>Answer</h2>
			<div id="vote-228" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could have a look at visual servoing techniques with occlusion. Namely: try to reach "waypoints" on the floor or walls (e.g. doors, ...) using <a href="http://en.wikipedia.org/wiki/visual_servoing" rel="nofollow">visual servoing</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-228" data-toggle = "popover">
				<p>user name : sylvain.joyeux</p>
				<p> user reputation : 363</p>
				<p class = "tagcontent" id = "usertaginfo-228">{'None': 20, 'kalman-filter': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-228">Load Comments</button></br>
			<div id = "commentsection-228" class = 'collapse'>
			<div id = "comment-240" class = "comment">
				<p>This is a bit short for an answer. Could you fill in some more detail about visual servoing?</p>
			</div>
			</div>
				<textarea id = "speech-228" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-228">
					<img id="start_img-228" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-228">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>