<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>For a quadcopter: Premade flight controller or custom made?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8234" class = "post">
			<h2>Question</h2>
			<div id="vote-8234" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>For a quadcopter: Premade flight controller or custom made?</h2>
<p>I'm interested in building a quadcopter. The result I'd like to obtain is an autonomous drone. I'd be interested in a GPS to allow it to remain stationary in the air, and also to fly through checkpoints.</p>

<p>Can this be done with a flight controller, or does it need to be programmed? I'm not too sure about what flight controllers really are.</p>

<p>Could someone offer any materials to help me get towards this goal.</p>

<p>Thanks, Jacob</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8234" data-toggle = "popover">
				<p>user name : Snakeruler</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8234">{'quadcopter': 0, 'None': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8234">Load Comments</button></br>
			<div id = "commentsection-8234" class = 'collapse'>
			<div id = "comment-17953" class = "comment">
				<p>Welcome to *Robotics* user3334557, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem, so questions that ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic.</p>
			</div>
			<div id = "comment-17955" class = "comment">
				<p>A "flight controller" could mean several different things, but generally means the thing that stabilizes the UAV and accepts motion inputs. To provide motion inputs, you'd need a "higher-level" program to provide routes, waypoints, etc. and determine where and how fast to go. The flight controller accepts the heading and speed references and executes them.</p>
			</div>
			</div>
				<textarea id = "speech-8234" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8234">
					<img id="start_img-8234" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8234">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10094"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10094" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Flight controllers is a significant circuit in a quadcopter. Its function is to direct the RPM of each motor in response to input. A command from the pilot for the multi-rotor to move forward is fed into the flight controller, which determines how to manipulate the motors accordingly. </p>

<p>Different Flight controllers have different functionality. Some are very simple and do not supplement sensors for these operations. However, you'll find much of these, do use them for more accurate navigation and flight. It's not one- but many sensors together for best possible flight. For example the Parrot drone uses 3 axis accelerometer, gyroscope, magnetometer and one ultrasound sensor.</p>

<p>Personally, I would recommend buying a flight controller. If this is your first project with a quadcopter, you probably should focus on its navigation algorithms. You can however try making your own when you gain experience with quads.</p>

<p>Which one should you use?</p>

<p>It really depends upon you. If you wish to employ all the above sensors, you'll need one matching those specs. Else you can search for an alternative.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10094" data-toggle = "popover">
				<p>user name : jash101</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-10094">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10094" class = 'collapse'>
			</div>
				<textarea id = "speech-10094" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10094">
					<img id="start_img-10094" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10094">Comment</button>
			<br><div id = "ans-10095"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10095" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It all depends on your experience and comfort in coding and understanding the navigation algorithms needed to allow the drone to fly autonomously. Most flight controllers on the market come with inbuilt sensors (gyros,accelerometers,magnetometers,etc) and usually fly on manual control via an RC transmitter/receiver combo. </p>

<p>I'm in the same situation as you, and I'm attempting to make my own flight controller using the Arduino Mega board, for which I've bought external sensors to aid in flight.</p>

<p>If this is your first quadcopter project and you wish to program your own flight controller, write code to control the quadcopter manually, since that will give you experience and a wider understanding of how the flight controller works in tandem with the esc's,sensors and transmitter. Keep in mind that this is a lengthy process, and a lot of patience is needed to gain a good understanding of the project.</p>

<p>Good Luck!</p>

<p>PS: If you need any help with programming, PM me, i can provide you some links that might help you :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10095" data-toggle = "popover">
				<p>user name : Sandesh</p>
				<p> user reputation : 52</p>
				<p class = "tagcontent" id = "usertaginfo-10095">{'quadcopter': 1, 'None': 4, 'raspberry-pi': 1, 'arduino': 1, 'brushless-motor': 0, 'esc': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10095">Load Comments</button></br>
			<div id = "commentsection-10095" class = 'collapse'>
			<div id = "comment-17963" class = "comment">
				<p>we need to get talking ,can we chat sometime ?</p>
			</div>
			<div id = "comment-17980" class = "comment">
				<p>Yeah sure, give me your email :)</p>
			</div>
			<div id = "comment-17992" class = "comment">
				<p>anshul(dot)katta@gmail(dot)com</p>
			</div>
			</div>
				<textarea id = "speech-10095" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10095">
					<img id="start_img-10095" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10095">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>