<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>For robot wheel control : Brushless DC motor or Servo Motor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4592" class = "post">
			<h2>Question</h2>
			<div id="vote-4592" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1568</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>For robot wheel control : Brushless DC motor or Servo Motor?</h2>
<p>Simply, when to use brushless dc motor and when to use Servo Motor ? </p>

<p>what are the differences , specially when adding an encoder to the dc motor you can have the position and it will be similar to Servo Motor ? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4592" data-toggle = "popover">
				<p>user name : RoboMan</p>
				<p> user reputation : 84</p>
				<p class = "tagcontent" id = "usertaginfo-4592">{'servomotor': 4, 'None': 6, 'accelerometer': 3, 'pid': 6, 'brushless-motor': 4, 'imu': 3, 'motor': 4, 'sensors': 3, 'gyroscope': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4592">Load Comments</button></br>
			<div id = "commentsection-4592" class = 'collapse'>
			<div id = "comment-7203" class = "comment">
				<p>Can you give specific examples of motors you are looking at?  When you say "Servo Motor" what do you mean?  I'm thinking you mean "RC Servo" which is not the same thing as a "servo motor".  Brushless DC motors are typically used as "servo motors", i.e. with feedback and closed loop control but that's *not* an RC servo which is typically a brushed DC motor with gearing and crude feedback.</p>
			</div>
			</div>
				<textarea id = "speech-4592" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4592">
					<img id="start_img-4592" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4592">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4597"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4597" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Let's try and clear things up a little bit...</p>

<p><strong>"RC Servo" motors</strong></p>

<p>These can be found in radio controlled cars and airplanes to e.g. turn the wheel or actuate various controls in the airplane.  They are pretty cheap brushed DC motors, with gears and some sort of crude feedback mechanism.  They typically convert an input voltage into a position within a given range. </p>

<p><img src="https://i.stack.imgur.com/XuGxQ.jpg" alt="Exploded Servo"></p>

<pre><code>"Exploded Servo" by oomlout - Exploded Servo. Licensed under Creative Commons Attribution-Share Alike 2.0 via Wikimedia Commons
</code></pre>

<p><strong>Brushless DC motors</strong></p>

<p>Brushed motors rely on "brushes" for commutation to drive current through the rotating motor coils.  In a brushless motor in contrast the coils are fixed and potentially some sort of feedback mechanism is used to control the current through those coils to rotate the motor.  Brushless motors can also be run open loop (e.g. stepper motors).  The DC is a bit of a misnomer as the motors themselves run on AC.</p>

<p><strong>Brushless DC Servo aka "Servo Motor"</strong></p>

<p>These would be typically found in applications such as industrial robots or CNC machines.  They come in a very wide range of sizes and power.  They are a combination of a BLDC motor with a rotary encoder, a hall effect sensor or both.  They are meant to be used with a closed-loop controller.  Pretty much any type of motor can be used in a closed loop servo but since those are more commonly used in that sort of application the term "servo motor" stuck.</p>

<p><img src="https://i.stack.imgur.com/2QzoA.jpg" alt="Brushless servo motors"></p>

<pre><code>"3417 09 Servogetriebe" by SEW-EURODRIVE GmbH &amp; Co KG. Original uploader was Sewmecm at de.wikipedia - Transferred from de.wikipedia; transferred to Commons by User:Brackenheim using CommonsHelper.(Original text : SEW-EURODRIVE GmbH &amp; Co KG). Licensed under Creative Commons Attribution-Share Alike 3.0 via Wikimedia Commons
</code></pre>

<hr>

<p>For driving a robot wheel you could consider:</p>

<ul>
<li>A DC brush motor with no rotor position feedback (cheapest).</li>
<li>A DC brush motor with feedback and some sort of controller.</li>
<li>A brushless DC motor with electronic speed control (such as the one you'd find in a quadcopter).  These are quite different than the industrial BLDCs mentioned above and I won't go into the details.  They can be had relatively cheaply due to the popularity of all these "toys" and are pretty high performance.</li>
<li>A more industrial BLDC/encoder combination with a closed loop controller.  Those would probably be the most expensive option.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4597" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-4597">{'None': 75}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4597">Load Comments</button></br>
			<div id = "commentsection-4597" class = 'collapse'>
			<div id = "comment-7210" class = "comment">
				<p>This is a great , thanks for the info</p>
			</div>
			</div>
				<textarea id = "speech-4597" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4597">
					<img id="start_img-4597" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4597">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>