<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Force measurement on grab bars
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-882" class = "post">
			<h2>Question</h2>
			<div id="vote-882" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Force measurement on grab bars</h2>
<p>I recently start a project to measure the force on a bathroom grab bar. The force/load is applied by the person who need to the grab bar for assistant. What I want to measure is the load against the wall and do the the real-time monitoring of the load for further analysis to improve the design.</p>

<p>I am not quite sure about what kind of sensor would be suitable to do the measurement. I am looking at different load cells but cannot get the idea how to mount commercial load cells to do the measurement. What I am trying right now is using strain gauge to measure the strain near the end of the bar(wall side) and roughly calculate the load. I think (might be wrong) there may exists some kind of force/load sensors that can clamp on the bar to do the measurement.</p>

<p>Any sensor types/models or suggestion are welcome.</p>

<p>I also posted this question to EE forum
<a href="https://electronics.stackexchange.com/questions/57197/how-to-measure-force-that-applied-on-grab-bar">https://electronics.stackexchange.com/questions/57197/how-to-measure-force-that-applied-on-grab-bar</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-882" data-toggle = "popover">
				<p>user name : Purmac</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-882">{'None': 0, 'force': 1, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-882">Load Comments</button></br>
			<div id = "commentsection-882" class = 'collapse'>
			<div id = "comment-2178" class = "comment">
				<p>Hi, thanks for posting your question. This is not directly robotics related but I believe the community of roboticists might have some insights into this, given the varied backgrounds. You might also find [Electrical Eng SE](http://electronics.stackexchange.com/) useful. In addition, I would _highly_ recommend you check out the [Mech Eng SE](http://area51.stackexchange.com/proposals/44908/mechanical-engineering). Hope someone here can help you!</p>
			</div>
			<div id = "comment-2179" class = "comment">
				<p>This may be better off on [Electrical Engineering](http://electronics.stackexchange.com/), but I'm happy to leave it here to see if it gets any traction here. If you *do* post this question to *EE* then please link to this question and edit this question to point to the question on *EE*. Thanks,</p>
			</div>
			<div id = "comment-2189" class = "comment">
				<p>Since this now has [answers over on Electrical Engineering](http://electronics.stackexchange.com/q/57197/3774), I'm going to close this one as off-topic, since it isn't really a *robotics* question. I assume it will be closed as a duplicate there.</p>
			</div>
			</div>
				<textarea id = "speech-882" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-882">
					<img id="start_img-882" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-882">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>