<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Formationing Algorithm for Multiple Robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7710" class = "post">
			<h2>Question</h2>
			<div id="vote-7710" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 61</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Formationing Algorithm for Multiple Robots</h2>
<p>I'm looking for an algorithm for formationing multiple robots in 2D simulation. Can you suggest resources about this topic. Also I need suggestions and comments about these topics:</p>

<ul>
<li>Can I recruit algorithm from optimization algorithms like particle or ant?</li>
<li>Is there any way except "go to goal" for each robot</li>
<li>Is patter formationing algorithms feasible?</li>
<li>Suggestions about a fast way of formationing/ aligning</li>
</ul>

<p>Notes:</p>

<ul>
<li>Im not using a robotics simulator or physics engine for this. </li>
<li>Robots are represented as dots.</li>
<li>multi robot system is homogeneous</li>
<li>every robot can sense obstacles and other robots in a sense range circle around the robot.  </li>
<li>number of obstacles and robots can vary from 2 to 100 </li>
<li>multi robot system is not a central </li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-7710" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7710">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7710">Load Comments</button></br>
			<div id = "commentsection-7710" class = 'collapse'>
			<div id = "comment-11204" class = "comment">
				<p>Which kind of sensors do your robots have? Do they know where they are? In which direction they are looking? Or can you only sense your neighbours? How many robots do you have? Can you rely on a central master or do the robots have to negotiate?</p>
			</div>
			<div id = "comment-11205" class = "comment">
				<p>@FooBar question edited.</p>
			</div>
			<div id = "comment-11263" class = "comment">
				<p>I'm voting to close this question as off-topic because it belongs more on Stack Overflow as it has no relation to robotics except in name, it more accurately an algorithm question</p>
			</div>
			</div>
				<textarea id = "speech-7710" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7710">
					<img id="start_img-7710" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7710">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7716"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7716" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could have a look at the papers of the <a href="http://www.eecs.harvard.edu/ssr/projects/progSA/kilobot.html%20Kilobot" rel="nofollow">kilobot project</a>. They have your capabilities so it would be a good starting point. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7716" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-7716">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7716" class = 'collapse'>
			</div>
				<textarea id = "speech-7716" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7716">
					<img id="start_img-7716" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7716">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>