<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Forward Kinematics Two fixed standard wheels
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2498" class = "post">
			<h2>Question</h2>
			<div id="vote-2498" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 111</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Forward Kinematics Two fixed standard wheels</h2>
<p><img src="https://i.stack.imgur.com/G3Jxp.png" alt="enter image description here"></p>

<p>What would the equations be for the robot's angular and linear velocity at P and also P2? I think I'm doing it wrong...</p>

<p>WL = left wheels angular velocity
WR = right wheels angular velocity</p>

<p>For P I had for example the linear velocity = (1/3)<em>r</em>WL + (2/3)<em>2r</em>WR</p>

<p>Am I on right track?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2498" data-toggle = "popover">
				<p>user name : randirsham</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2498">{'wheel': 1, 'None': 0, 'kinematics': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2498">Load Comments</button></br>
			<div id = "commentsection-2498" class = 'collapse'>
			<div id = "comment-4848" class = "comment">
				<p>Can you explain that diagram?  If I'm reading it properly, it looks like the boxes on the outside are supposed to be the wheels, and the `r` and `2r` labels are radii (even though drawn as diameters).  Is that correct?</p>
			</div>
			<div id = "comment-4888" class = "comment">
				<p>diameter. The below has examples of how this works, i just cant figure it out.
http://www.rose-hulman.edu/~berry123/Courses/ECE425/Spring07_files/Lecture2%20-%20Kinematics.pdf</p>
			</div>
			</div>
				<textarea id = "speech-2498" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2498">
					<img id="start_img-2498" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2498">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3038"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3038" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The linear velocity $v$ of a differential drive robot is the average of the velocities of its wheels [<a href="http://omicsgroup.org/journals/dynamic-modelling-of-differentialdrive-mobile-robots-using-lagrange-and-newtoneuler-methodologies-a-unified-framework-2168-9695.1000107.pdf" rel="nofollow">^</a>]. In mathematical terms:</p>

<p>$$
v = \frac{v_L + v_R}{2}
$$</p>

<p>Where $v_L$ and $v_R$ are respectively the linear velocity of the left and right wheels. These are functions of their angular velocities and radii, such that:</p>

<p>$$
v_L = r_L \omega_L
$$</p>

<p>$$
v_R = r_R \omega_R
$$</p>

<p>Where $r_L$ and $r_R$ are respectively the radii (not the diameters!) of the left and right wheels, and $\omega_L$ and $\omega_R$ likewise the angular velocities.</p>

<p>The angular velocity $\omega$, on the other hand, is the average of the opposing contributions of left and right wheels: the left wheel contributes clockwise ("negative") motion, whereas the right wheel contributes counter-clockwise ("positive") motion. In mathematical terms:</p>

<p>$$
\omega = \frac{\phi_R - \phi_L}{2}
$$</p>

<p>Where the wheel contributions $\phi_L$ and $\phi_R$ are given by:</p>

<p>$$
\phi_L = \frac{r_L \omega_L}{l_L}
$$</p>

<p>$$
\phi_R = \frac{r_R \omega_R}{l_R}
$$</p>

<p>And $l_L$ and $l_R$ are respectively the left and right shaft lengths between the center of rotation and the left and right wheels.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3038" data-toggle = "popover">
				<p>user name : xperroni</p>
				<p> user reputation : 386</p>
				<p class = "tagcontent" id = "usertaginfo-3038">{'None': 19, 'inverse-kinematics': 3, 'algorithm': 2, 'speech-processing': 2, 'rangefinder': 2, 'linux': 3, 'mobile-robot': 8, 'sensors': 2, 'digital-audio': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3038" class = 'collapse'>
			</div>
				<textarea id = "speech-3038" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3038">
					<img id="start_img-3038" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3038">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>