<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Forward kinematics: Why   should remain same?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7879" class = "post">
			<h2>Question</h2>
			<div id="vote-7879" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 93</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Forward kinematics: Why   should remain same?</h2>
<p>Can anyone please explain me these lines found on <a href="http://www.diva-portal.org/smash/get/diva2:796235/FULLTEXT01.pdf" rel="nofollow noreferrer">page 5 of 
<em>Kinematics Equations for Differential Drive and Articulated Steering</em>
by <em>Thomas Hellstr m</em></a>?</p>

<blockquote>
  <p>Note that plugging in $r$ and $v$ for both left and right wheel result in the same $\omega $ (otherwise the wheels would move relative to each other). Hence, the following equations hold:</p>
  
  <p>$$
\begin{align}
\omega~ \left(R+\frac{l}{2}\right) &amp;= v_r\\
\omega~ \left(R-\frac{l}{2}\right) &amp;= v_l\\
\end{align}$$</p>
  
  <p>where $R$ is the distance between ICC and the midpoint of the wheel axis, and $l$ is the
  length of the wheel axis (see Figure 6). </p>
  
  <p><a href="https://i.stack.imgur.com/M9Y7g.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/M9Y7g.png" alt="Figure 6"></a></p>
  
  <p>Figure 
  6
  .
  When left and right wheel rotate with different speeds, the robot rotates around
  a common point denoted ICC
  My questions are:</p>
</blockquote>

<ol>
<li><p>How do these equations come to be?</p></li>
<li><p>Why does $\omega$ have to be same if we want to analyse the behavior after changing the wheel velocity relative to other?</p></li>
<li><p>How do we know about the circle, in which the robot rotates by doing variations in one wheel velocity, surely passes through the center point between two wheels.</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-7879" data-toggle = "popover">
				<p>user name : mouse</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-7879">{'mobile-robot': 4, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7879">Load Comments</button></br>
			<div id = "commentsection-7879" class = 'collapse'>
			<div id = "comment-11473" class = "comment">
				<p>hello mouse, welcome to robotics.SE! I saw you had some trouble with the formatting of your question. I fixed it for the most part by editing. I'm afraid though that I don't really understand your question 2. and 3. Could you please try to elaborate on what you mean exactly?</p>
			</div>
			<div id = "comment-11475" class = "comment">
				<p>First of all thank you bending-unit-22 for taking interest in this. Sorry for mistakes in formatting. My 2nd question is on the concept that if we change velocity of either wheel the robot must turn in the direction of slower wheel so why cant we change omega ( ) for that purpose(as it is written in lines in my post). and my 3rd question says by velocity variation on either wheel if robot rotate in a circular path how do we know that circle passes through the center point between wheels(please refer to the diagram it will help in   understand my question.</p>
			</div>
			<div id = "comment-11476" class = "comment">
				<p>@mouse, instead of replying to comments, please try to update your question straightaway: this will help improve the clearness.</p>
			</div>
			</div>
				<textarea id = "speech-7879" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7879">
					<img id="start_img-7879" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7879">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7880"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7880" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Recall that for a circle with radius $r$, the circumference $u$ (that is the arc length of the "curve") is given as:</p>

<p>$$u = 2 \pi r$$</p>

<p>Further recall the definition or radians, which is something along the lines of:</p>

<blockquote>
  <p>If a rope of length $r$ is placed on the circumference of a circle
  that has the radius $r$, the rope will "cover" a certain angle. This
  angle is 1 radian.</p>
</blockquote>

<p>The following awesome animation from the <a href="https://en.wikipedia.org/wiki/Radian" rel="nofollow noreferrer">wikipedia article on radian</a> covers this better than my words:</p>

<p><a href="https://en.wikipedia.org/wiki/File:Circle_radians.gif" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4fEl7.gif" alt="enter image description here"></a></p>

<p>You can now see how both are somewhat similar:
If you multiply the angle $1 rad$ with $2\pi $, you also get a rope length of $2\pi r$. Now this rope length is exactly the same as $u$.</p>

<p>We can therefore conclude:</p>

<p>The $2\pi$ in the formula for the circumference $u=2\pi r$ corresponds to the covered angle of the circle. A full circle is $360 $, which is equivalent to $2\pi $. Let's call this angle $\omega$ and write the formula again, with that angle:</p>

<p>$$u = \omega r$$</p>

<p><a href="https://en.wikipedia.org/wiki/Arc_%28geometry%29#Length_of_an_arc_of_a_circle" rel="nofollow noreferrer">The wikipedia article about the arc length of a circle</a> comes to the same conclusion.</p>

<p>You can calculate any arc length given any angle. For example, half a circle, with an angle of $180  = \pi $ has (obviously) half the circumference:</p>

<p>$$\frac{u}{2} = \frac{\omega}{2} r$$</p>

<p>Or one third of a circle has this circumference:</p>

<p>$$\frac{u}{3} = \frac{\omega}{3} r$$</p>

<p>I mixed the terms circumference and arc length within my answer on purpose. If you think of the circumference as a <em>length</em> you can imagine that it's a distance that you can walk along. More precisely: drive along, because your robot has wheels.</p>

<p>Each wheel covers a certain distance, $v_r$ and $v_l$ respectively.</p>

<p>If $v_r \neq v_l$, the robot moves on a circle as seen in your image, with center $ICC$ and radius $R$. Each wheel is on its own circle with a different radius:</p>

<ul>
<li>the left wheel is closer to $ICC$, which means it has a smaller radius $R-\frac{I}{2}$</li>
<li>the right wheel is further away from $ICC$, which means it has a bigger radius $R+\frac{I}{2}$</li>
</ul>

<p>If the robot drives around in that circle with center $ICC$ and radius $R$ by an angle of $\omega $, the relationship between the distances travelled by each wheel are the formulas that you found in the book:</p>

<p>$$
\begin{align}
\omega~ \left(R+\frac{l}{2}\right) &amp;= v_r\\
\omega~ \left(R-\frac{l}{2}\right) &amp;= v_l\\
\end{align}$$</p>

<p>$v_r$ and $v_l$ are the arc lengths of the circle that the wheels are driving on and $\omega$ is the angle that the robot goes around the circle.</p>

<p>The important thing to understand:
<strong>The circle is just a geometric aid to describe the motion of the robot, which exists because it's easier to handle and understand.</strong> It's really just another way to describe $v_r$ and $v_l$, but those two values are hard to imagine and depending on the wheelbase $l$, they could describe different motions.</p>

<p>If I give you $v_r = 5$, $v_l = 6$ and $l = 3$, can you easily answer the question whether the robot can do a full turn in a 50 x 50 room? It's kind of hard to tell. But if you had $R$, it's a lot easier.</p>

<p>Thinking in terms of a circle is a lot easier than to construct the motion from $v_r$ and $v_l$.</p>

<blockquote>
  <p>Why   has to be same if we want to analyse the behavior after changing the wheel velocity relative to other? </p>
</blockquote>

<p>I think you are misunderstanding the text in the book. The book says that $\omega$ is the same for both wheels, given two values for $v_r$ and $v_l$. Of course, <strong>if you change the values of $v_r$ and $v_l$, you will get a different value for $\omega$, but $\omega$ will still be the same for both wheels</strong>. </p>

<blockquote>
  <p>How do we know about the circle, in which the robot rotates by doing variations in one wheel velocity, surely passes through the center point between two wheels.</p>
</blockquote>

<p>Because that's the way the geometry works out. Both wheels are on circles with different radii ($R\pm \frac{I}{2}$) with the came center $ICC$, but they have a fixed relation to each other, so the center of the robot must be on a circle with radius $R$.</p>

<p>Just imagine you are in a car driving in a roundabout. If the left side of the car is going in a circle and the right side is going in a circle, why do you think are you not going in a circle? Of course you do. And so does the center of the robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7880" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-7880">{'None': 93}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7880" class = 'collapse'>
			</div>
				<textarea id = "speech-7880" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7880">
					<img id="start_img-7880" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7880">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>