<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Forward Kinematics~D-H parameters for perpendicular joint axes
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4610" class = "post">
			<h2>Question</h2>
			<div id="vote-4610" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2192</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Forward Kinematics~D-H parameters for perpendicular joint axes</h2>
<p>I am trying to compute forward kinematics of the Kuka youBot using DH convention: </p>

<p><a href="http://www.youbot-store.com/youbot-developers/software/simulation/kuka-youbot-kinematics-dynamics-and-3d-model">http://www.youbot-store.com/youbot-developers/software/simulation/kuka-youbot-kinematics-dynamics-and-3d-model</a></p>

<p>The arm joint 1 and arm joint 5 are revolute and rotate about the world z-axis (pointing to the sky)</p>

<p>But the other 3 joints are all revolute and rotate about x-axis, let's say (points horizontally)</p>

<p>DH convention says the "joint distance" is along the "common normal". But unless I am mistaken, the only common normal is the y-axis, and that is also horizontal, meaning there is no joint distance.</p>

<p>I was thinking I would use link offset for joint1 - joint2, but then I ran into a problem with joint4 - joint5. Link offset is supposed to be along the previous z-axis, and in that case it would point horizontally out to nowhere. But link distance STILL doesn't work either, because that is the common normal distance, and as established the common normal is x-axis, also horizontal. So now I feel very screwed. I am sure there is a simple solution but I can't see it. </p>

<p>So I guess the question is, how do I use the DH convention for the links between 1-2 and 4-5, when the joint rotational axes are perpendicular?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4610" data-toggle = "popover">
				<p>user name : aac</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-4610">{'forward-kinematics': 7, 'None': 0, 'kinematics': 7, 'dh-parameters': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4610">Load Comments</button></br>
			<div id = "commentsection-4610" class = 'collapse'>
			<div id = "comment-9259" class = "comment">
				<p>Don't use DH convention. Learn to use screw coordinate convention from [MLS94](http://www.cds.caltech.edu/~murray/mlswiki/images/0/02/Mls94-complete.pdf). It is possible to simplify computation using dual vectors/dual quaternion.</p>
			</div>
			</div>
				<textarea id = "speech-4610" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4610">
					<img id="start_img-4610" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4610">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4620"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4620" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This <a href="https://www.youtube.com/watch?v=rA9tm0gTln8" rel="nofollow">YouTube video</a> by TekkotsuRobotics does a great job at explaining how to specify DH parameters, including what to do when you have parallel axes of rotation.  Also note that different textbooks have slightly different notations regarding which joint and link the parameters apply to.  So you should stick with the convention of your professor, school, textbook, etc.  This paper: "<a href="http://profesores.usfq.edu.ec/laurents/IME440/DETC2005-85460_DenavitHartenberg.pdf" rel="nofollow">Lipkin 2005: A Note on Denavit-Hartenberg Notation in Robotics</a>" explains the 3 main DH parameter conventions and how they differ.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4620" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4620">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4620" class = 'collapse'>
			</div>
				<textarea id = "speech-4620" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4620">
					<img id="start_img-4620" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4620">Comment</button>
			<br><div id = "ans-6413"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6413" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Denavit-Hartenberg parameters $(r,\alpha,d,\theta)$ (according to <a href="http://en.wikipedia.org/wiki/Denavit%E2%80%93Hartenberg_parameters" rel="nofollow">here</a>) actually depicts rigid displacement of a directed point-line (i.e. a line with a particular point selected on it, where the origin of the local frame is located) in space, bearing in mind that coordinate frames are set up in such a way that $r,\alpha$ is about x-axis and $d,\theta$ is about the z-axis. In other words, consider the problem of moving the ith joint axis to coincide with the (i+1)th joint axis.</p>

<p>The problem of D-H convention lies in the choice of this particular point on the axis line. When the two adjacent axes are no in parallel, the points on each are chosen as the foot of their common perpendicular. However, when two adjacent axes are in parallel, there is no unique way of picking the particular point on the axis line. Sometimes, it is referred to as parametric discontinuity in the sense the mapping $(r,\alpha,d,\theta)\mapsto\text{line location}$ is no longer one to one, and you may choose parameter $d$ arbitrarily. Besides, it is also cumbersome to deal with prismatic joint. It is true, as the other answer said, there are different conventions of D-H parameters, which added to the difficulties.</p>

<p>I think this is why you should use screw or twist coordinate in the first place. There are 6 numbers in the twist coordinate, obeying 2 constraints. But they are extremely easy to work with both mentally and computationally (probably with the help of dual vector representation). A good source for this much better convention can be found in the book <strong>A Mathematical Introduction to Robotic Manipulation</strong> (free <a href="http://www.cds.caltech.edu/~murray/mlswiki/images/0/02/Mls94-complete.pdf" rel="nofollow">online</a>). Just go through ch2 and ch3 and you will realize how easy it is work with than the D-H convention, and most importantly it is free of all the problems and limitations of D-H convention.</p>

<p>I would take the chance to advocate embracing the twist coordinate convention. It is much easier to work with, geometrically more intuitive, analytically error-proof and computationally efficient (note that it is easy to bring the whole thing into a <a href="http://en.wikipedia.org/wiki/Geometric_algebra" rel="nofollow">geometric algebra</a> framework which the CG community finds much pleasure with). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6413" data-toggle = "popover">
				<p>user name : Troy Woo</p>
				<p> user reputation : 306</p>
				<p class = "tagcontent" id = "usertaginfo-6413">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6413">Load Comments</button></br>
			<div id = "commentsection-6413" class = 'collapse'>
			<div id = "comment-19547" class = "comment">
				<p>I do agree with you screw or twist coordinate is a better choice, [this paper](https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxhbWluMDEza2Z1cG18Z3g6NmJhNTUwYzg5M2U1MGQzYQ)  presents the kinematics model of an RA- 02 (a 4 DOF) robotic arm. The direct kinematic problem is
addressed using both the Denavit-Hartenberg (DH) convention
and the product of exponential formula, which is based on the
screw theory. you my check it out.</p>
			</div>
			</div>
				<textarea id = "speech-6413" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6413">
					<img id="start_img-6413" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6413">Comment</button>
			<br><div id = "ans-8385"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8385" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can find a lot of material on the DH convention. If you are only interested in the youBot, then check thes out:</p>

<p><a href="http://www.kuka-robotics.com/NR/rdonlyres/5E66A5D6-F30F-46BE-B9CF-6820C55FCE91/0/Armtutorial2.pdf" rel="nofollow">http://www.kuka-robotics.com/NR/rdonlyres/5E66A5D6-F30F-46BE-B9CF-6820C55FCE91/0/Armtutorial2.pdf</a></p>

<p>Sorry if this is the same what you alredy have, but the link you specified is broken...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8385" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8385">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8385" class = 'collapse'>
			</div>
				<textarea id = "speech-8385" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8385">
					<img id="start_img-8385" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8385">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>