<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Forward and Revers Kinematics For Modified Hanging Plotter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10607" class = "post">
			<h2>Question</h2>
			<div id="vote-10607" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 530</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Forward and Revers Kinematics For Modified Hanging Plotter</h2>
<p>I'm building a modified version of the standard hanging plotter (v-plotter). The basic idea is that you have two cables hanging from stepper motors which form a triangle supporting the pen at the tip. </p>

<p>My design the strings anchored at points $C$ and $D$ which causes the behavior to be somewhat different that the normal plotter, especially when operating close to the motors. </p>

<p><a href="https://i.stack.imgur.com/pnrCx.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/pnrCx.png" alt="Plotter Diagram"></a></p>

<p>I was able to work out the forward kinematics fairly easily, but the inverse kinematics are turning out to be a real headache. You can see my attempt at a standard geometry solution <a href="https://math.stackexchange.com/questions/1914961/positioning-isosceles-triangle-to-create-second-isosceles-triangle/1915902#1915902">on math.stackexchange here</a>. </p>

<p>Is there anything specific to calculating kinematics for robotics which could help me?</p>

<p>I'm not interested in modifying the hardware to make the math easier. I'm also not interested in discussing the center of gravity of the pen, cable weight...etc. I want to calculate the kinematics for this as an ideal system.</p>

<p>Any and all advice is appreciated.</p>

<p>Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10607" data-toggle = "popover">
				<p>user name : Bar Smith</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-10607">{'control': 5, 'None': 1, 'kinematics': 5, 'inverse-kinematics': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10607">Load Comments</button></br>
			<div id = "commentsection-10607" class = 'collapse'>
			<div id = "comment-19416" class = "comment">
				<p>I doubt that this has a single solution. Unless it's a special edge case, there are infinitely many ways to have two points at a fixed distance to each other with each one of them on its own circle. "*discussing the center of gravity of the pen*" which you are not interested in, is the important aspect of the problem, which reduces the infinite number of solutions to the purely geometrical problem stated, to a single one of the mechanical/physical problem. Gravity will let the system come to a resting point. The pure mathematical model appears to be insufficient.</p>
			</div>
			<div id = "comment-19447" class = "comment">
				<p>German Cable Robot including Sourcecode in Forth: [VIERTE DIMENSION Das FORTH-Magazin 2 / 2003, page 29](http://www.forth-ev.de/filemgmt_data/files/4d2003_2.pdf)</p>
			</div>
			</div>
				<textarea id = "speech-10607" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10607">
					<img id="start_img-10607" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10607">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10608"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10608" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I assume input is the X and Y coordinates of E. 
In this case, unless you know the orientation also, there is no straightforward way to calculate the coordinates of C and D. </p>

<p>I would write 2 parameterized circle or distance equations around A and B. 
The $C_x$, $C_y$ and $D_x$ and $D_y$ are unknown. (4 unknowns in this system and 2 equations)
Distance from E to D and distance from E to C can be written and so there is a system with 4 equations and 4 unknowns where besides the unknowns all other parameters shoulds be known. </p>

<p>Solve for C and D coordinates and calculate distances to A and B and it is done. I do not think that the equation system will have an explicit solution but a numerical solver (like Newton-Raphson) can be used to solve it iteratively.</p>

<p>Or search for 5 bar linkage inverse kinematics and maybe that will inspire a solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10608" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10608">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10608" class = 'collapse'>
			</div>
				<textarea id = "speech-10608" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10608">
					<img id="start_img-10608" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10608">Comment</button>
			<br><div id = "ans-10798"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10798" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Inverse Kinematics are easier to calculate with visualizing the problemspace. Here is a example for a robotarm with 2 DOF:</p>

<p><a href="https://i.stack.imgur.com/DGwGd.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/DGwGd.png" alt="enter image description here"></a></p>

<pre class="lang-python prettyprint-override"><code>fig = plt.figure()
ax = Axes3D(fig) 
x,y,z=[],[],[]
p1=(300,300)
goal=(400,300)
radius1,radius2=50,100
step=10
for a1 in range(0,360,step):
  for a2 in range(0,360,step):
    p2 = pa.polarpoint(p1, a1, radius1)
    p3 = pa.polarpoint(p2, a2, radius2)
    diff = pa.distance(goal, p3)
    if diff&lt;10:
      print a1,a2,p3,diff
      ax.scatter(a1, a2, diff,c='r')
    x.append(a1)
    y.append(a2)
    z.append(diff)
ax.scatter(x, y, z)
plt.show()
</code></pre>

<p>The program plots the errorvalue in a 3D Map. For other robotypes like a hanging plotter the codelines with the polarpoint has to be adjusted. The 3D map is not the solution directly, but it helps to program a heuristics for finding the lowest point in the map. In most cases Gradient descent in combimation with particle swarm optimization is the way to go.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10798" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10798">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10798">Load Comments</button></br>
			<div id = "commentsection-10798" class = 'collapse'>
			<div id = "comment-19426" class = "comment">
				<p>3D map, heuristics, gradient descent and particle swarm optimization are all interesting and powerful tools that certainly solve the problem as you suggest. But they also appear to be overengineered tools for the problem at hand. I mean we're talking about hanging a rigid body with two ropes. This is not rocket science, is it?</p>
			</div>
			<div id = "comment-19427" class = "comment">
				<p>Google Scholar has currently 55300 Results about the problems of finding parameters in kinematic chains. It seems, that the scientific community has a lot to discuss ...</p>
			</div>
			<div id = "comment-19428" class = "comment">
				<p>Why would you combine gradient descent with particle swarm? An why would they need heuristics?
Also the answer has nothing to do with the question... It shows a plot for a 2dof robot arm, which has nothing to do with parallel structures and even less with cable structures.</p>
			</div>
			<div id = "comment-19431" class = "comment">
				<p>Thank you for your downvoting. You're right, particle swarm is only needed if more than one solution is possible.</p>
			</div>
			</div>
				<textarea id = "speech-10798" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10798">
					<img id="start_img-10798" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10798">Comment</button>
			<br><div id = "ans-10858"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10858" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Alright, this a work in progress at this point.</p>

<p>Basically I decided to rethink the problem after using the triangle based approach was clearly solvable, but required a HUGE amount of algebra (at least as far as I could work out).</p>

<p>The new approach is to not think of the system as a system of triangles, but instead as a sort of trapezoid like so:</p>

<p><a href="https://i.stack.imgur.com/TAgU2.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/TAgU2.png" alt="Illustration of Geometry"></a></p>

<p>For our first pass let's ignore the tilting of the drawing head completely to make life simpler.</p>

<p>The geometry of $C,D,E,F$ is known. Only the lengths of the cables $AC$ and $BD$ change. What we want to find is forward and inverse kinematic equations which relate the lengths of $AC$ and $BD$ to $F_x,F_y$. The other equation we need to find relates $F_x,F_y$ to the lengths of $AC$ and $BD$. </p>

<p>Let's begin by finding $F_x,F_y$ when we know the lengths of $AC$ and $BD$.</p>

<p>We will use a system of three equations. The first two equations will be circles with centers $A$ and $B$, the third equation will be that $CD$ is a known length which we will call $w$.</p>

<p><a href="https://i.stack.imgur.com/xDwyz.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/xDwyz.png" alt="Geometry with Circles"></a></p>

<p>$$C_x = A_x+\sqrt{L_{AC}^2-A_y^2+2A_yC_y-C_y^2} \tag1$$
$$D_x = B_x-\sqrt{L_{BD}^2-B_y^2+2B_yD_y-D_y^2} \tag2$$
$$D_x - C_x = w \tag3$$</p>

<p>Because $A_y, L_{AC}, B_y$, and $L_{BD}$ are known, let's say $\alpha =  L_{AC}^2 - A_y^2$, $\beta = L_{BD}^2 - A_y^2$ where $A_y = B_y$.</p>

<p>We also know that $C_y = D_y$ which simplifies the equations to:</p>

<p>$$C_x = A_x+\sqrt{\alpha+2A_yC_y-C_y^2} \tag1$$
$$D_x = B_x-\sqrt{\beta+2B_yD_y-D_y^2} \tag2$$
$$D_x - C_x = w \tag3$$</p>

<p>Plugging $(1)$ and $(2)$ into $(3)$ we find:</p>

<p>$$\left(B_x-\sqrt{\beta+2B_yD_y-D_y^2}\right) - \left(A_x+\sqrt{\alpha+2A_yC_y-C_y^2}\right)  = w \tag4$$</p>

<p>Distributing terms and re-organizing we can find:
$$\sqrt{\beta+2B_yD_y-D_y^2} + \sqrt{\alpha+2A_yC_y-C_y^2}  = B_x-A_x-w \tag4$$</p>

<p>We can also say $\gamma = B_x-A_x-w$ to simplify things further. </p>

<p>$$\sqrt{\beta+2A_yC_y-C_y^2} + \sqrt{\alpha + 2A_yC_y-C_y^2} = \gamma\tag4$$</p>

<p>Solving for $y$ we find:
$$C_y = \frac{8 \gamma^2 A_y-\sqrt{64 \gamma^4 A_y^2-16 \gamma^2 (\alpha^2-2 \alpha \beta-2 \alpha \gamma^2+\beta^2-2 \beta \gamma^2+\gamma^4})}{8 \gamma^2}\tag5$$</p>

<p>We can then plug that answer back into $(1)$ to get $C_x,C_y$. $F_x$ is then given by $F_x = C_x + \frac{w}{2}$ and $F_y = C_y - h$</p>

<hr>

<p>Now, working in the other direction when we have $F_x$ and $F_y$ and want to find the lengths of $AC$ and $BD$. This direction of computation is done more often, and should be optimized.</p>

<p>First we find $C$ and $D$ which is fairly trivial because we know the geometry there and can say:</p>

<p>$$C_x = F_x - \frac{w}{2}$$
$$C_y = F_y + h$$
$$D_x = F_x + \frac{w}{2}$$
$$D_y = F_y + h$$</p>

<p>From Pythagorean theorem, we can then directly compute the lengths $L_{AC}$ and $L_{BD}$ as:</p>

<p>$$L_{AC} = \sqrt{{(A_x-C_x)}^2+{(A_y-C_y)}^2}\tag6$$
$$L_{BD} = \sqrt{{(B_x-D_x)}^2+{(B_y-D_y)}^2}\tag7$$</p>

<p><a href="https://i.stack.imgur.com/OHF2k.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/OHF2k.png" alt="Right Triangles"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10858" data-toggle = "popover">
				<p>user name : Bar Smith</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-10858">{'control': 5, 'None': 1, 'kinematics': 5, 'inverse-kinematics': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10858">Load Comments</button></br>
			<div id = "commentsection-10858" class = 'collapse'>
			<div id = "comment-19556" class = "comment">
				<p>Is ti sure that the CDF triangle has fixed zero orientation? Your question stated that you have not interest in solutions including the center of gravity...</p>
			</div>
			<div id = "comment-19569" class = "comment">
				<p>You would make your life a lot easier if you changed the mechanics so that the tilting wouldn't happen.</p>
			</div>
			<div id = "comment-19574" class = "comment">
				<p>CDF does not have fixed zero orientation, but as @BendingUnit22 pointed out, it simplifies the math significantly so for a first approximation I'm going to pretend that it does.</p>
			</div>
			<div id = "comment-19575" class = "comment">
				<p>@Bar Smith why are you so inclined to keep the system as is and not change it mechanically? There are very rarely bonus points in engineering for doing things the most complicated way. And as you are (understandably) struggling to do the math for the apparently needlessly more complicated mechanics for the static case, I'd like to point out that this plotter is probably supposed to move around and modeling the dynamic system won't be easier. Good luck writing a control algorithm to get the tip of the pen where you want it to be in order to draw something.</p>
			</div>
			</div>
				<textarea id = "speech-10858" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10858">
					<img id="start_img-10858" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10858">Comment</button>
			<br><div id = "ans-11410"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11410" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>All of the effort and credit for this answer go to Keith Selbo, I am simply reproducing his work here to make the explanation public.</p>

<h1>Development of a Method for Translating Hanging Carver  (X, Y) Coordinates Into Suspension Lengths That Accounts for Sled Tilt and Finite  Radius of the Suspension Anchors</h1>

<p>The figure on the next page represents the convex quadrilateral formed by components of a vertical carver; a plotter that suspends a router sled from two points and moves it about the plotting surface by varying the length of the suspension lines. This development encompasses a sled with center of mass  not co-located with the plotter bit, causing the sled to adopt a  tilt to an angle at which the moment  of the sled mass cancels the net moments exerted by the lateral and vertical forces exerted by the sled suspension.  Also covered is an offset from the plot origin of  the suspension anchor points due to the finite radius of a windlass or sprocket used for pay-out and take-up of the suspension lines as the sled is moved.  This offset results in movement of the effective anchor  point of  the suspension which in turn affects the equilibrium tilt of the sled. </p>

<p>The inputs to the algorithm are the plotter geometry and the x, and y coordinates of the desired bit placement.  The output is the length of the left and right suspension lines.  It includes the straight portion from the attachment at the sled to the variable tangent on the suspension anchor plus the curved portion of the line from the tangent to the top center of the anchor disk. </p>

<p>The sled tilt angle, and the variable left and right anchor points result in three non-linear equations in three unknowns.  The expedient of adding an imaginary extension of the suspension line (see drawing) past the anchor point (tangent) to the y axis allows the use of a pseudo-anchor point that varies only in the y direction which simplifies the equations and the computation.  A simple transformation corrects the line length after the solution is obtained.  This transformation is included in the final equations for the length of the suspension lines. </p>

<p>There was no obvious closed form solution to the equations, so multi-variate a Newton-Raphson algorithm is used to estimate the three unknowns.   </p>

<p><a href="https://i.stack.imgur.com/nJRTQ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/nJRTQ.jpg" alt="figure"></a></p>

<h2>Net Forces:</h2>

<p>$$\vec{f}_{y_1} + \vec{f}_{y_2} = -\vec{W}\tag{a}$$
$$\vec{f}_{x_1} + \vec{f}_{x_2} = 0\tag{b}$$</p>

<h2>Net Moment:</h2>

<p>$$\vec{h_1}\times\vec{f}_{y_1}+\vec{h_2}\times\vec{f}_{y_2} +\vec{h_3}\times\vec{W}=0\tag{c}$$</p>

<h2>Definitions:</h2>

<p>$$\vert\vec{h_1}\vert = \vert\vec{h_2}\vert = h\tag{d}$$</p>

<p>$$\vert\vec{h_3}\vert = h_3\tag{e}$$</p>

<p>$$\vert\vec{f_{x_1}}\vert = \vert\vec{f_{x_2}}\vert = fx(f)\tag{f}$$</p>

<p>$$\vert\vec{W}\vert = W\tag{g}$$</p>

<p>$$\phi_1 = \theta - \phi, \phi_2 = \theta + \phi \tag{h}$$</p>

<h2>Moment Cross Product:</h2>

<p>$$\vert\vec{h_3}\vert\vert\vec{W}\vert\sin{\phi}+\vert\vec{f_{x_2}}\vert\vert\vec{h_2}\vert\sin{\phi_2}-\vert\vec{f_{x_1}}\vert\vert h_1\vert\sin{\phi_1}+\vert\vec{f_{y_1}}\vert\vert\vec{h_1}\vert\cos{\phi_1} - \vert\vec{f_{y_2}}\vert\vert\vec{h_2}\vert\cos{\phi_2} = 0\tag{i}$$</p>

<p>Given that:</p>

<p>$$\tan{\gamma} = \frac{y+y_1^+-h\sin{\phi_1}}{x-h\cos{\phi_1}}\tag{j}$$
and:</p>

<p>$$f_{y_1} = fx\tan{\gamma}$$</p>

<p>$$\tan{\gamma} = \frac{y+y_2^+-h\sin{\phi_2}}{D-(x+hcos{\phi_2})}\tag{k}$$</p>

<p>$$fy_2 = fx\tan{\lambda}\tag{l}$$</p>

<p>Combining $(a),(j)$ and $(l)$ yields:</p>

<p>$$W = fx(\tan{\lambda}+\tan{\gamma})\tag{m}$$</p>

<p>$$\frac{W}{tan{\lambda}+tan{\gamma}} = fx\tag{n}$$</p>

<p>Then the net moment is zero when:</p>

<p>$$h_3W\sin{\phi}+ \left\vert\frac{Wh}{\tan{\lambda}+\tan{\gamma}}\right\vert(\sin\phi_2 - \sin\phi_1+\tan\gamma\cos\phi_1 - \tan\lambda\cos\phi_2) = 0 \tag{o}$$</p>

<p>Which simplifies to:</p>

<p>$$f(\phi) = h_3\sin{\phi}+ \left\vert\frac{h}{\tan{\lambda}+\tan{\gamma}}\right\vert(\sin\phi_2 - \sin\phi_1+\tan\gamma\cos\phi_1 - \tan\lambda\cos\phi_2) = 0 \tag{1}$$</p>

<p>From the sprocket detail in the figure we have: </p>

<p>$$y_1^+ = r\sqrt{1+tan^2\gamma}\tag{p}$$</p>

<p>Which yields</p>

<p>$$\tan\gamma = \frac{\sqrt{{(y_1^+)}^2-r^2}}{r} = \frac{y+y_1^+-h\sin\phi_1}{x-h\cos\phi_1}\tag{q}$$</p>

<p>or</p>

<p>$$\frac{\sqrt{{(y_1^+)}^2-r^2}}{r} - \frac{y+y_1^+-h\sin\phi_1}{x-h\cos\phi_1} = 0\tag{2}$$</p>

<p>similarly</p>

<p>$$\frac{\sqrt{(y_2^+)^2-r^2}}{r} - \frac{y+y_2^+-h\sin\phi_2}{D-(x+h\cos\phi_2)} = 0 \tag{3}$$</p>

<p>We now have a nonlinear system F(x), consisting of equations (1), (2), and (3):</p>

<p>$$\begin{bmatrix}f_1(\phi,y_1^+, y_2^+) \\ f_2(\phi, y_1^+, y_2^+) \\ f_3(\phi, y_1^+, y_2^+)\end{bmatrix}$$</p>

<p>Applying the  Newton-raphson Method we iteratively solve $J_F(x_n)(\Delta x) = -F(x_n)\tag{r}$ where J is the system Jacobian, x is the vector:</p>

<p>$$\begin{bmatrix}\phi \\ y_1^+ \\ y_2^+\end{bmatrix}  and x_{n+1} = x_n+\Delta x \tag{s}$$</p>

<p>Until</p>

<p>$$F(X_n+1) \approx 0 \tag{t}$$</p>

<p>Then:</p>

<p>$$LeftChain = \sqrt{(x-h\cos(\phi_1))^2+(y+y_1^+-h\sin(\phi_1))^2}-r \tan(\gamma)+r\gamma \tag{u}$$
$$RightChain = \sqrt{(D-(x+h\cos(\phi_2)))^2 + (y+y_2^+-h\sin(\phi_2))^2}-r\tan(\lambda)+r\lambda \tag{v}$$</p>

<p>Again, a HUGE thank you to Keith Selbo for this solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11410" data-toggle = "popover">
				<p>user name : Bar Smith</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-11410">{'control': 5, 'None': 1, 'kinematics': 5, 'inverse-kinematics': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11410">Load Comments</button></br>
			<div id = "commentsection-11410" class = 'collapse'>
			<div id = "comment-20615" class = "comment">
				<p>I am sorry to say, but this answer clearly goes against your constraints, stating that you are NOT interested in answers including center of gravity, and forces, you wanted pure kinematics....</p>
			</div>
			</div>
				<textarea id = "speech-11410" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11410">
					<img id="start_img-11410" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11410">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>