<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Forward kinematics of constrained double pendulum
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7889" class = "post">
			<h2>Question</h2>
			<div id="vote-7889" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 133</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Forward kinematics of constrained double pendulum</h2>
<p>I was wondering whether maybe you could help me with this problem. I have a double pendulum. I have set the origin of cartesian coordinates to be the "head" of the first arm, which is fixed. The end of the second arm is attached to a block that slides along the x-axis. What I want to do is to derive the equations relating the pendulum's angles with the distance from the origin to the block. </p>

<p>Now, I know how I could go about deriving the equations without the constraint. </p>

<p>$$x_1 = L_1cos(a_1)$$
$$y_1 = L_1sin(a_1)$$</p>

<p>Where $x_1$ and $y_1$ is where the first arm joins the second arm and $a_1$ is the angle between the horizontal and the first arm. </p>

<p>Similarly, I can derive the equations for the end of the second arm 
$x_2 = x_1 + L_2 cos(a_2)$ and $y_2 = y_1 - L_2 sin(a_2)$</p>

<p>Now then, if I attach a sliding block to the end of my second arm, I don't know whether my equation for $x_2$ would change at all. I don't think it would but  would I have to somehow restrict the swing angles so that the block only moves along the x direction? </p>

<p>Well, basically the problem is finding the equation of $x_2$ if it's attached to a block that only moves along the x- direction. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7889" data-toggle = "popover">
				<p>user name : Emilio Botero</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-7889">{'None': 0, 'forward-kinematics': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7889">Load Comments</button></br>
			<div id = "commentsection-7889" class = 'collapse'>
			<div id = "comment-11493" class = "comment">
				<p>If you provided an image your question would be a lot easier to understand.</p>
			</div>
			<div id = "comment-11495" class = "comment">
				<p>Yes, I figure I should have included a diagram, I just wasn't sure how to draw one in here. Yours is a good one and it does show what happens in my problem. Thank you.</p>
			</div>
			<div id = "comment-11496" class = "comment">
				<p>[Check this article in the help center on how to use markdown to include images](http://robotics.stackexchange.com/editing-help#images). There's also a little icon in the editor that you can click which inserts the necessary formatting code for you and also allows you to upload images to imgur. If you still have problems (or any other question regarding the use of the site itself) [go right ahead and ask on the meta site](http://meta.robotics.stackexchange.com/)</p>
			</div>
			</div>
				<textarea id = "speech-7889" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7889">
					<img id="start_img-7889" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7889">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7891"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7891" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you are describing is a <a href="https://en.wikipedia.org/wiki/Crankshaft" rel="nofollow noreferrer">crankshaft</a>.</p>

<blockquote>
  <p>if I attach a sliding block to the end of my second arm, I don't know whether my equation for $x_2$ would change at all. </p>
</blockquote>

<p>No it wouldn't, because your restraint:</p>

<blockquote>
  <p>the second arm is attached to a block that slides <strong>along the x-axis</strong></p>
</blockquote>

<p>doesn't restrain $x_2$ but $y_2$</p>

<p>"Being on the x axis" basically means $y = 0$, which in your case means $y_2 = 0$, which is where you "lose" the second degree of freedom.</p>

<p>Take a look at the following image:</p>

<p><a href="https://de.wikipedia.org/wiki/Datei:Schubkurbel.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/oqSUc.jpg" alt="crankshaft"></a></p>

<p>The formula for the relation between $x$ and $\varphi$ in the image is:</p>

<p>$$x=l_1\cos \varphi + l_2 \sqrt{1-\left(\frac{l_1}{l_2}\right)^2 \sin^2 \varphi}$$</p>

<p>To get there:</p>

<ol>
<li>use the Pythagorean theorem for the second summand in the formula
for $x_2$ instead of trigonometry</li>
<li>replace $y_1$ with its definition</li>
</ol>

<p>$$
\begin{align}
x_2 &amp;= x_1 +  \sqrt{l_2^2 - \underset{\overbrace{l_1\sin\varphi}}{y_1^2}}\\
\end{align}$$</p>

<p>The relationship between the two angles can be derived from their shared opposite side in their respective triangles:</p>

<p>$$l_1\sin a_1 = l_2\sin a_2$$ 
$$ a_1 = \arcsin \left(\frac{l_2}{l_1}\sin a_2\right)$$ </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7891" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-7891">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7891">Load Comments</button></br>
			<div id = "commentsection-7891" class = 'collapse'>
			<div id = "comment-11497" class = "comment">
				<p>Thank you for your answer. I would like to derive that same relationship but in terms of both angles. If you could make a suggestion as to how I might approach this, I'd be very grateful.</p>
			</div>
			<div id = "comment-11499" class = "comment">
				<p>@EmilioBotero I added the relationship between the two angles to my answer, please take a look</p>
			</div>
			<div id = "comment-11503" class = "comment">
				<p>Ah I misunderstood the orientation. I'd like to caution the calculation for $a_1$ in the answer here because it's still not clear to me what OP is using to define that angle. Assuming it's the most acute of the angles in Bender's drawing, the acute angle between $L_2$ and horizontal, the equation is correct.</p>
			</div>
			<div id = "comment-11506" class = "comment">
				<p>@Chuck: Indeed, I consider $a_2$ to be the most acute angle (the alternate angle thereof) as indicated by "shared opposite side", which appears to be too subtle in hindsight. It appeared to me that $a_2$ is defined in a clockwise orientation (as opposed to the ccw definition of $\varphi$ in the image). I came to this conclusion by looking at the definition of $y_1$ in the question, which is given as $y_2 = y_1 - L_2 \sin(a_2)$. The minus sign indicates a different orientation of the angles.</p>
			</div>
			</div>
				<textarea id = "speech-7891" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7891">
					<img id="start_img-7891" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7891">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>