<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Forward kinematics with DH parameters
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9646" class = "post">
			<h2>Question</h2>
			<div id="vote-9646" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 142</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Forward kinematics with DH parameters</h2>
<p>I just started learning robotics at school and I have some problems to solve forward kinematics with DH parameters. I don't really understand how I can get them from the image. I would appreciate if somebody could help me with it.</p>

<p><a href="https://i.stack.imgur.com/pT1cx.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/pT1cx.jpg" alt="Graph of forward kinematics with DH parameters"></a>. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9646" data-toggle = "popover">
				<p>user name : Misha Zelenskyy</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9646">{'dh-parameters': 0, 'None': 0, 'forward-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9646">Load Comments</button></br>
			<div id = "commentsection-9646" class = 'collapse'>
			<div id = "comment-17099" class = "comment">
				<p>The wiki article on DH parameters along with this video: https://www.youtube.com/watch?v=rA9tm0gTln8, should give you everything you need. If you still can't solve it after having tried wikipedia along with the video, then ping me back and i'll conduct an answer for you.</p>
			</div>
			<div id = "comment-17101" class = "comment">
				<p>@trudesagen Yes, I tried it, but still I am far from reference solution in our school system.</p>
			</div>
			<div id = "comment-17102" class = "comment">
				<p>The you ube video and wiki reference @trudesagen gave are quite goodl. If it does no lead to an answer, there may ba another cuase...Depending on which type of DH Paremeterisation your school prefers, you might want to take a look at proximal and distal DH parameters or the so called modified DH parameters</p>
			</div>
			<div id = "comment-17103" class = "comment">
				<p>The image is abit messy and also the notation is a bit different than what I'm used to. I can only see two frames in that picture, is this correct, or are all the other joints also able to move? If there are only two frames, then the rest just describes the fixed translation and rotation of these two frames relative to eachother. Meaning they are fixed values you just enter in to your DH parameter table The first joint can rotate about two axis, which means you have to divide those two rotations up into seperate frames with one rotation for each. The last one rotates around one axis.</p>
			</div>
			<div id = "comment-17104" class = "comment">
				<p>Also, if this is homework, then i would try and talk to other students or teacher assistants for help. What book does your course use? I had this: http://www.amazon.com/Robot-Modeling-Control-Mark-Spong/dp/0471649902  which describes to DH convention really well.</p>
			</div>
			<div id = "comment-17116" class = "comment">
				<p>Let me add that it is difficult to tell exactly what is blocking you.  Is it the matrix algebra?  The trig?  The initial alignment to the coordinate frames?  Determining the rotation matrices (the upper left 3x3 submatrix of DH)?</p>
			</div>
			<div id = "comment-17130" class = "comment">
				<p>I just didn't realize, that I had to use right hand rule for rotary joints, so my solution was wrong. Thank you all for help.</p>
			</div>
			</div>
				<textarea id = "speech-9646" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9646">
					<img id="start_img-9646" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9646">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>