<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Freewheel diode ~ capacitor with this board?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9135" class = "post">
			<h2>Question</h2>
			<div id="vote-9135" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 34</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Freewheel diode ~ capacitor with this board?</h2>
<p>With DC motors, it is common to put a freewheel diode and/or a capacitor in order to protect the equipment as the motor can induce current into the system.</p>

<p>I plan to use <a href="http://www.robotshop.com/media/files/pdf2/md10crev2.0usersmanual_2015-07.pdf" rel="nofollow noreferrer">this board</a> to control a 24V DC motor with a Arduino-like microcontroler. In an example in their documentation, they don't put such protection, so I wanted to know if it's unsafe, or is it that the board already protects the system?</p>

<p>The example in question:
<a href="https://i.stack.imgur.com/Jv5Hs.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Jv5Hs.png" alt="Example"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9135" data-toggle = "popover">
				<p>user name : jonathanGB</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-9135">{'None': 0, 'protection': 2, 'h-bridge': 3, 'motor': 5, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9135">Load Comments</button></br>
			<div id = "commentsection-9135" class = 'collapse'>
			<div id = "comment-15130" class = "comment">
				<p>That's a great question for [electronics.SE], but not so much for our site that's related to robotics.</p>
			</div>
			<div id = "comment-15139" class = "comment">
				<p>I agree this is a great question for [Electrical Engineering](http://electronics.stackexchange.com/). But I disagree that it is off-topic here, since it seems to fall under the very first bullet-point in ["What topics can I ask about here?"](http://robotics.stackexchange.com/help/on-topic).</p>
			</div>
			<div id = "comment-15140" class = "comment">
				<p>I've since also asked the question on electrical engineering @david</p>
			</div>
			<div id = "comment-15141" class = "comment">
				<p>Where? Oh, I see: http://electronics.stackexchange.com/questions/216184/freewheel-diode-capacitor-with-this-board .</p>
			</div>
			<div id = "comment-15144" class = "comment">
				<p>I agree with @DavidCarey - If a question about motor drive circuitry doesn't belong here then I don't know what does. Granted EE can answer (and already have, which is why I'm not voting to re-open) but the same can be said of basically any question that could be asked here.</p>
			</div>
			</div>
				<textarea id = "speech-9135" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9135">
					<img id="start_img-9135" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9135">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>