<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>FreeIMU External Magnetometer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6661" class = "post">
			<h2>Question</h2>
			<div id="vote-6661" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 128</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>FreeIMU External Magnetometer</h2>
<p>I have been using the FreeIMU library successfully but now I want to add an external magnetometer that I can mount away from my motors.</p>

<p>I've figured out how to modify the FreeIMU library to use an external magnetometer and I am getting data.</p>

<p>What I can't figure out is what I need to change now that my magnetometer orientation has changed.</p>

<p>On the free IMU it is mounted like this 
<img src="https://i.stack.imgur.com/iuU4m.jpg" alt="enter image description here"></p>

<p>The external compass is mounted like this - upside down - rotated 180  around x
<img src="https://i.stack.imgur.com/k2UNg.jpg" alt="enter image description here"></p>

<p>I am changing the value inside the </p>

<p><code>void HMC58X3::getRaw(int16_t *x,int16_t *y,int16_t *z)
{
    *x = cache_x;
    *y = cache_y;
    *z = cache_z;
}
</code>
function as all the other code calls this to get the magnetometer data.</p>

<p>So far I have tried:</p>

<ol>
<li><p>Changing the sign for the y and z values after I have got them from the magnetometer.</p></li>
<li><p>Changing the sign for the y value only</p></li>
<li><p>Changing the sign for the z value only</p></li>
<li><p>Added 180 to both the y and z values</p></li>
<li><p>Subtracting 180 from both the y and z values</p></li>
<li><p>Subtracting 180 from y and adding 180 to Z</p></li>
<li><p>Adding 180 to y and subtracting 180 from z</p></li>
<li><p>Changing nothing</p></li>
</ol>

<p>The calibration GUI gives always gives me strange results, and doing the changes above just rotated/mirrored the magnetometer red and green graphs. I am unable to get rid of the key hole shape.
<img src="https://i.stack.imgur.com/VbFrZ.jpg" alt="enter image description here"></p>

<p>The red is XY. The green YZ. The blue is ZX. Does the fact that ZX works mean that my issue is with the Y value?</p>

<p>This is how it looks using the on board magnetometer.
<img src="https://i.stack.imgur.com/IOYoQ.jpg" alt="enter image description here"></p>

<p>What should I try next?</p>

<p>Thanks
Joe</p>

<p>EDIT</p>

<p>I tried rotating the external magnetometer so it is in the same orientation as the FreeIMU magnetometer and I still get the same result so I don't think its the difference in orientation that is causing the problem.</p>

<p>So then I thought maybe its because the FreeIMU is mounted central to the rotation axis and the external magnetometer is mounted about 20cm above. I tested this by rotating only the external magnetometer around itself and I still got the same result. </p>

<p>This is all seems strange, do you think its possible that the external magnetometer I have brought is faulty? Any way to confirm it is working properly on its own?</p>

<p>Thanks</p>

<p>EDIT</p>

<p>Managed to get circles plotting by changing the gain from 0 to 1. It seem my new magnetometer was being saturated.</p>

<p>Now I just need to work out how to change my values around so the orientation is correct.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6661" data-toggle = "popover">
				<p>user name : Joseph Roberts</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-6661">{'quadcopter': 6, 'magnetometer': 1, 'None': 2, 'accelerometer': 2, 'calibration': 1, 'pid': 5, 'lidar': 2, 'esc': 5, 'motor': 5, 'imu': 1, 'sensors': 2, 'pwm': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6661" class = 'collapse'>
			</div>
				<textarea id = "speech-6661" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6661">
					<img id="start_img-6661" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6661">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6668"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6668" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>OK so I managed to solve this by doing a couple of things.</p>

<ol>
<li><p>Connect external magnetometer to the same I2C bus as the FreeIMU.</p></li>
<li><p>The FreeIMU is 5V and the external magnetometer is 3.3V so I had to use a level shifter to place both devices on the I2C bus.</p></li>
<li><p>Change this line "accgyro->setI2CBypassEnabled(1);" to "accgyro->setI2CBypassEnabled(0);" to enable the external magnetometer</p></li>
<li><p>Change this line "magn->calibrate(0, 8);" to magn->calibrate(1, 8);" to increase the gain and remove saturation (this is what caused the strange "Keyhole" shape on the graph.</p></li>
<li><p>Calibrate the sensors.</p></li>
<li><p>Change this line</p></li>
</ol>

<p>"AHRSupdate(val[3] * M_PI/180.0, val[4] * M_PI/180.0, val[5] * M_PI/180.0, val[0], val[1], val[2], val[6], val[7], val[8], magn_valid);" </p>

<p>to </p>

<p>"AHRSupdate(val[3] * M_PI/180.0, val[4] * M_PI/180.0, val[5] * M_PI/180.0, val[0], val[1], val[2], val[6], -val[7], -val[8], magn_valid);"</p>

<p>to account for the change in orientation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6668" data-toggle = "popover">
				<p>user name : Joseph Roberts</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-6668">{'quadcopter': 6, 'magnetometer': 1, 'None': 2, 'accelerometer': 2, 'calibration': 1, 'pid': 5, 'lidar': 2, 'esc': 5, 'motor': 5, 'imu': 1, 'sensors': 2, 'pwm': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6668" class = 'collapse'>
			</div>
				<textarea id = "speech-6668" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6668">
					<img id="start_img-6668" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6668">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>