<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Free of charge Robot Magazine, Journal, Newsletter or similar
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4427" class = "post">
			<h2>Question</h2>
			<div id="vote-4427" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 71</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Free of charge Robot Magazine, Journal, Newsletter or similar</h2>
<p>What free of charge Robot Magazine, Journal, Newsletter or similar publication are available?  </p>

<p>Either geared toward technical professionals or the general public.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4427" data-toggle = "popover">
				<p>user name : EEd</p>
				<p> user reputation : 359</p>
				<p class = "tagcontent" id = "usertaginfo-4427">{'None': 16, 'laser': 3, 'pid': 1, 'motor': 1, 'untagged': 0, 'pwm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4427">Load Comments</button></br>
			<div id = "commentsection-4427" class = 'collapse'>
			<div id = "comment-7003" class = "comment">
				<p>Are you wanting physical printed magazines? Or online ones as well? (I'm asking because I have a list of great online ones).</p>
			</div>
			<div id = "comment-7004" class = "comment">
				<p>Both versions are great. Please advise. Many thanks</p>
			</div>
			<div id = "comment-7014" class = "comment">
				<p>I personally think this should be taken off hold. It does not ask which magazines are BEST (opinion) it just asks for magazines. I think it would be nice to have this information on this website. To say "this is a magazine about robotics" is a fact, not opinion.</p>
			</div>
			<div id = "comment-7016" class = "comment">
				<p>Anyways, here are some that I frequent, some of which are strictly robotics, other are just general technology, but cover robotics frequently: Gizmag, Hack A Day, Popular Science, Popular Mechanics, Robohub, IEEE Spectrum (Robotics), ROS Robotics News, ScienceDaily: Robot News, Singularity hub</p>
			</div>
			<div id = "comment-7041" class = "comment">
				<p>Sadly [List questions](http://meta.stackexchange.com/a/98366/138432) are rarely of lasting value either, since it is unusual for them to receive enough attention to be kept up to date.</p>
			</div>
			</div>
				<textarea id = "speech-4427" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4427">
					<img id="start_img-4427" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4427">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4441"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4441" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some of the open access robotics journals (free access)</p>

<p>1) <a href="http://www.intechopen.com/journals/international_journal_of_advanced_robotic_systems" rel="nofollow noreferrer">International Journal of Advanced Robotic Systems</a></p>

<p><img src="https://i.stack.imgur.com/edGUk.jpg" alt="International Journal of Advanced Robotic Systems"></p>

<p>2) <a href="http://www.roboticsproceedings.org/" rel="nofollow noreferrer">Robotics: Science and Systems</a></p>

<p><img src="https://i.stack.imgur.com/4d81H.jpg" alt="Robotics: Science and Systems"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4441" data-toggle = "popover">
				<p>user name : nayab</p>
				<p> user reputation : 224</p>
				<p class = "tagcontent" id = "usertaginfo-4441">{'odometry': 4, 'None': 4, 'laser': 3, 'probability': 2, 'occupancygrid': 1, 'localization': 10, 'mapping': 1, 'particle-filter': 4, 'slam': 8, 'mobile-robot': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4441" class = 'collapse'>
			</div>
				<textarea id = "speech-4441" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4441">
					<img id="start_img-4441" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4441">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>