<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>F~OSS Optical Object Avoidance
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-23" class = "post">
			<h2>Question</h2>
			<div id="vote-23" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 155</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>F~OSS Optical Object Avoidance</h2>
<p>I am beginning work on a larger scale, 250-350 lbs wheeled robot and looking to use both optical and other means of object avoidance. I am concerned with a robot this large causing issues with running into things, including people as it has a top speed of 15mph and that would cause issues with safety. I am starting out with a remote control but am looking to have the robot become self contained. I have been loosely following the DARPA driver-less car project but will not have anywhere near the fiscal or power budget that they do for sensors and computers. Am I thinking to far afield with my idea of having a self-contained robot in the 250-300 lbs range that does not break the bank on optical object avoidance? Any comments or experiences will be greatly appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-23" data-toggle = "popover">
				<p>user name : Jeff Records</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-23">{'None': 0, 'computer-vision': 4, 'wheeled-robot': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-23">Load Comments</button></br>
			<div id = "commentsection-23" class = 'collapse'>
			<div id = "comment-23" class = "comment">
				<p>This is a really vague question. What kind of tasks do you want the robot to perform? What kind of sensors do you have access to (RGB, RGB-D, sonar, etc.)? Are you looking for a completely self-contained library (there isn't one), or are you comfortable with implementing this sort of thing on your own? By "avoidance" do you mean simply not running into things (by stopping), or actually trying to navigate around obstacles to perform a task?</p>
			</div>
			</div>
				<textarea id = "speech-23" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-23">
					<img id="start_img-23" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-23">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-30"  class = "post">
				<h2>Answer</h2>
			<div id="vote-30" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Optical avoidance of people in an every-day (like) environment would be difficult, your best bet would be with sensing the range of things from the robot, rather than if it is a person or not. An Xbox Kinect could do the job if mounted in the right place. Alternatively you could use range finders, either the light or acoustic variety. I have used Ultrasonic sensors from <a href="http://www.seeedstudio.com/depot/ultra-sonic-range-measurement-module-p-626.html?cPath=144_149">these people</a> before, and they are good at ranges from about 5cm to around 3 meters, although they have an unfortunately small field of view, but they work. </p>

<p>Alternatively, if you are able to have a controlled environment, such as an arena or room, you can use <a href="https://www.studentrobotics.org/docs/programming/sr/vision/markers">libkoki</a> markers (or an alteration thereof) to define the edges or your arena and anything the robot must not go near. The libkoki libraries can be found <a href="https://github.com/chrisjameskirkham/libkoki">here</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-30" data-toggle = "popover">
				<p>user name : Njdart</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-30">{'None': 21}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-30">Load Comments</button></br>
			<div id = "commentsection-30" class = 'collapse'>
			<div id = "comment-276" class = "comment">
				<p>Just something of an addition. If you are looking to use these sensors in a car in an outdoor environment, then you can scratch off the Xbox Kinect option as it works only indoors.</p>
			</div>
			</div>
				<textarea id = "speech-30" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-30">
					<img id="start_img-30" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-30">Comment</button>
			<br><div id = "ans-137"  class = "post">
				<h2>Answer</h2>
			<div id="vote-137" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, you are thinking too far afield. This is an open research problem (especially where people are concerned). Don't even think about the DARPA grand challenge, that's way out of a single person's league. However, there are some good starting points I can recommend.</p>

<p>A labmate has had good success tracking people using a Kinect with OpenNI. The kinect has range information, which makes it better than pure vision or binocular vision. Typically a vision-based solution uses <a href="http://en.wikipedia.org/wiki/Structure_from_motion" rel="nofollow">Structure From Motion</a>. Because this can be terribly sensitive to moving scenes, vision is probably NOT the way to go for this task. A more reliable method is laser scanner for close-in obstacle avoidance. However, Vision-based <a href="http://en.wikipedia.org/wiki/Simultaneous_localization_and_mapping" rel="nofollow">SLAM</a> is possible, and can be implemented using the Robot Operating System.  The task becomes <em>significantly</em> easier if you have detailed maps before you deploy. </p>

<p>Start with ROS, aka the <a href="http://ros.org/wiki" rel="nofollow">Robot Operating System</a>, it will be much more helpful than implementing these things yourself. I can assure you from personal experience.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-137" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-137">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-137" class = 'collapse'>
			</div>
				<textarea id = "speech-137" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-137">
					<img id="start_img-137" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-137">Comment</button>
			<br><div id = "ans-139"  class = "post">
				<h2>Answer</h2>
			<div id="vote-139" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If what you are looking at is a research topic, not a ready-to-use solution, then maybe visual servoing techniques with occlusion handling, or path planning in the image, might be of some use. (Never tested, but know the names behind it: <a href="http://www.irisa.fr/lagadic/visp/visp.html" rel="nofollow">http://www.irisa.fr/lagadic/visp/visp.html</a>)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-139" data-toggle = "popover">
				<p>user name : sylvain.joyeux</p>
				<p> user reputation : 363</p>
				<p class = "tagcontent" id = "usertaginfo-139">{'None': 20, 'kalman-filter': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-139" class = 'collapse'>
			</div>
				<textarea id = "speech-139" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-139">
					<img id="start_img-139" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-139">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>