<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Generalized Voronoi Diagram
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9842" class = "post">
			<h2>Question</h2>
			<div id="vote-9842" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 354</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Generalized Voronoi Diagram</h2>
<p>I need to compute the Voronoi diagram for a map with some obstacles but I can't find any pseudo-code or example in MATLAB.</p>

<p>The "voronoi" function in MATLAB works with points, but in this case the obstacles are polygons (convex and non-convex). You can see the map in the attached image.</p>

<p><a href="https://i.stack.imgur.com/XmMdq.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/XmMdq.png" alt="enter image description here"></a></p>

<p>Because the obstacles are polygons I found that the Voronoi algorithm needed is the GVD (Generalized Voronoi Diagram).</p>

<p>Can anyone help with code or examples on internet explaining how to compute this GVD?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9842" data-toggle = "popover">
				<p>user name : osuarez</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-9842">{'control': 5, 'stereo-vision': 2, 'beginner': 3, 'pid': 3, 'uav': 5, 'slam': 3, 'robotic-arm': 0, 'mobile-robot': 7, 'forward-kinematics': 0, 'cameras': 2, 'kinect': 0, 'visual-servoing': 2, 'matlab': 1, 'motion-planning': 4, 'movement': 1, 'odometry': 1, 'None': 2, 'inverse-kinematics': 0, 'raspberry-pi': 7, '3d-reconstruction': 2, 'quadcopter': 9, 'computer-vision': 6, 'geometry': 3, 'c++': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9842">Load Comments</button></br>
			<div id = "commentsection-9842" class = 'collapse'>
			<div id = "comment-17967" class = "comment">
				<p>Maybe you should explain what you want to do with it, and where your problems are. Searching for Voronoi on e.g. github should provide you with enough examples.</p>
			</div>
			<div id = "comment-17998" class = "comment">
				<p>I finally found an example with MATLAB code here: https://smallsats.org/2014/01/26/voronoi-road-map-path-planing/. But thanks for the idea of searching in github.</p>
			</div>
			<div id = "comment-18395" class = "comment">
				<p>If you found the answer to your question you can post the answer and then accept it.</p>
			</div>
			<div id = "comment-18403" class = "comment">
				<p>Can you post the expected output you want to achieve?</p>
			</div>
			</div>
				<textarea id = "speech-9842" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9842">
					<img id="start_img-9842" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9842">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9843"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9843" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The project repositories at Florida State should get you what you are looking for:  <a href="https://people.sc.fsu.edu/~jburkardt/m_src/m_src.html" rel="nofollow">https://people.sc.fsu.edu/~jburkardt/m_src/m_src.html</a></p>

<p>Look at not only the projects which start with "voronoi_," but also "sphere_voronoi."</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9843" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9843">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9843">Load Comments</button></br>
			<div id = "commentsection-9843" class = 'collapse'>
			<div id = "comment-17532" class = "comment">
				<p>Thanks! I will take a look whether it is possible to compute the Voronoi diagram for polygon obstacles with those projects.</p>
			</div>
			<div id = "comment-18397" class = "comment">
				<p>I got involved in the development of Voronoi diagram for Scilab, and starting by Delaunay and then turning to Voronoi resulted much easier to create</p>
			</div>
			</div>
				<textarea id = "speech-9843" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9843">
					<img id="start_img-9843" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9843">Comment</button>
			<br><div id = "ans-10271"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10271" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I bet some simple <a href="http://opencv.org/" rel="nofollow">OpenCV</a> code could do this.  I think you would first <a href="http://docs.opencv.org/master/d4/d73/tutorial_py_contours_begin.html#gsc.tab=0" rel="nofollow">get the endpoints of the contours</a>.  Then <a href="https://www.learnopencv.com/delaunay-triangulation-and-voronoi-diagram-using-opencv-c-python/" rel="nofollow">feed those points into the voronoi generator</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10271" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-10271">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10271" class = 'collapse'>
			</div>
				<textarea id = "speech-10271" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10271">
					<img id="start_img-10271" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10271">Comment</button>
			<br><div id = "ans-10292"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10292" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In advance, that you need the Voronoi diagram for motion planning, here is an RRT implementation in matlab: <a href="http://arms.nu.edu.kz/research/matlab-toolbox-rrt-based-algorithms" rel="nofollow">http://arms.nu.edu.kz/research/matlab-toolbox-rrt-based-algorithms</a></p>

<p>I have created a Python implementation which is until now not available on github but follows the idea of LaVelles paper "Rapidly-Exploring Random Trees: A New Tool for Pathplanning" (1998). My implementation not only samples the state-space of a 2d maze, but also uses a underlying physics engine for motion prediction. It was programmed in under 200 Lines of code with the help of the eclipse IDE and is capable to drive a robot to every point in the maze. It's a little bit like the famous A* pathplanning algorithm but it's more general and has a probabilistic background. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10292" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10292">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10292">Load Comments</button></br>
			<div id = "commentsection-10292" class = 'collapse'>
			<div id = "comment-18491" class = "comment">
				<p>Welcome to *Robotics*, ManuelRodriguez. On StackExchange we are are looking for comprehensive answers that provide some explanation and context. One-line answers cannot do this, so please edit your answer to add context, ideally with citations. Answers that don't include explanations may be removed. Additionally, we prefer answers to be self contained if possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked content disappears. If you add more context it is more likely that people will find your answer useful.</p>
			</div>
			<div id = "comment-18492" class = "comment">
				<p>Specifically, what is RRT? Could you explain it and its relation to the generalized Voronoi diagram?</p>
			</div>
			</div>
				<textarea id = "speech-10292" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10292">
					<img id="start_img-10292" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10292">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>