<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Genericising a Question which has a potentially canonical answer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2691" class = "post">
			<h2>Question</h2>
			<div id="vote-2691" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 103</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Genericising a Question which has a potentially canonical answer</h2>
<p>As I was about to ask this question, I noticed this relevant question had just been bumped too - <a href="https://apple.meta.stackexchange.com/questions/2153/should-we-make-this-question-about-downgrading-ios-more-generic">Should we make this question about downgrading iOS more generic?</a></p>

<p>There was a Question recently involving a water-spill on a Macbook. We do see a lot of these &amp; linking them is not particularly easy as the symptoms tend to be different.</p>

<p>This Question -<br>
<a href="https://apple.stackexchange.com/questions/219053/no-sound-speakers-jack-microphones-dead-after-spilling-water">No sound (speakers/jack) + microphone&#39;s dead after spilling water</a><br>
has a great answer, a little harsh, but really hitting the spot on "what to do after a water spill"</p>

<p>I'm aware that to just leap right in &amp; completely change the OP's post wouldn't really be right, but this feels like one occasion where the answer is canonical enough that it's worth looking at.</p>

<p>I'm not sure, even with consensus, it's one I'd like to tackle myself, but if a mod were to point it in the right direction that would feel more acceptable.</p>

<p>Or am I on the wrong track?</p>

<p>Opinions most welcome.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2691" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2691">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2691">Load Comments</button></br>
			<div id = "commentsection-2691" class = 'collapse'>
			<div id = "comment-6046" class = "comment">
				<p>We could ask and answer a "General Water Damage Solutions" question that has the answer you linked above, and then link subsequent water damage questions to the general question. As you said, every case is different, and I think it would be best if we left the old ones as is.</p>
			</div>
			</div>
				<textarea id = "speech-2691" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2691">
					<img id="start_img-2691" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2691">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2865"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2865" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I guess the best thing to do is comment to the OP. Explain you'd like to make a substantial edit to make this a general question so we can point lots of people to this issue and get the best answers collected under this one post.</p>

<p>They can say yes - now we have a willing participant in editing. The chance of an edit war or second thoughts is low. If they don't answer - we'll know in a week they might not care or even notice if it's edited.</p>

<p>If they say no - we can then ask the question we wanted to have as a canonical candidate and move on - possibly voting to close the "original" if the canonical post has better answers.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2865" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2865">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2865" class = 'collapse'>
			</div>
				<textarea id = "speech-2865" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2865">
					<img id="start_img-2865" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2865">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>