<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Geometrical solution to an IK problem for a humanoid robot leg
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11602" class = "post">
			<h2>Question</h2>
			<div id="vote-11602" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 72</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Geometrical solution to an IK problem for a humanoid robot leg</h2>
<p>On the attached figure, I show a graphical representation of the problem I am facing. I have developed a humanoid robot with a thigh which makes an angle with respect to the leg. It means that there is always a constant distance (R)   whatever the rotation of the thigh is - between the Pelvic and the leg. Besides, the foot is articulated with a forefoot and a midfoot.</p>

<p><a href="https://i.stack.imgur.com/PACpb.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/PACpb.png" alt="enter image description here"></a></p>

<p>If I want to compute the orientation of the leg and thigh with respect to a given position and orientation of the Pelvic (represented by the point $C$) and the Foot (represented by $A$ the position of the ankle and $\vec{U}$ the orientation of the foot.</p>

<p>I come up with the geometrical problem of computing a plane $P$, passing through $C$ with one orientation given by $\vec{U}$, which is tangent to a sphere whose center is the extremity of the Pelvic (point $C$).</p>

<p>Knowing the point of tangency $T$ I can compute the position of the knee $K$ and then the angular values for the leg and the thigh.</p>

<p>But I cannot find the equations to solve it so far... or may be there is another geometrical solution I did not think of?</p>

<p>I am trying to find a geometrical answer before going through a DH description + finding the values via decoupling and so on...("classical" Ik resolution).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11602" data-toggle = "popover">
				<p>user name : fabrice</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-11602">{'None': 3, 'laser': 0, 'inverse-kinematics': 8, 'humanoid': 8, 'robotic-arm': 6, 'path-planning': 1, 'gazebo': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11602">Load Comments</button></br>
			<div id = "commentsection-11602" class = 'collapse'>
			<div id = "comment-20772" class = "comment">
				<p>Thanks for putting good details into your question.  I am still a little confused by a couple of things, though.  First, are you trying to solve the forward or the inverse kinematics problem (or both)?  If you are trying to find the position of $A$ and direction of $\vec U$ given angles $K$ and $L$ then you want the forward kinematics equations.   Second, is it correct that the axes of $K$ and $L$ are perpendicular to the plane $P$, and the axis of $A$ is in plane $P$ but perpendicular to link $LA$?</p>
			</div>
			<div id = "comment-20773" class = "comment">
				<p>Ok, I think I understand the first confusion point.  Is this true:  you want to find joint angles at $T$ and $K$ given $C$, $A$, and $\vec U$?  And you know the position of $T$ already.  If so, can we start with a base coordinate system with its origin at $T$, with $\vec z$ pointed toward $C$ and $\vec x$ pointed toward $K$?</p>
			</div>
			<div id = "comment-20774" class = "comment">
				<p>Hi Steve, I know $C$, $T$ and $\vec{u}$. I want to compute $T$ and $K$  and then the joint angles. I know this is not a conventional way to resolve such problem. (the classical approach is described here [link](https://smartech.gatech.edu/handle/1853/46250).</p>
			</div>
			<div id = "comment-20776" class = "comment">
				<p>Getting closer.  The leg structure sure resembles a PUMA arm, but with different names.  That arm has a shoulder offset similar to your value $R$.  Are you able to provide a drawing similar to Figure 4 in this paper (http://scisweb.ulster.ac.uk/~siddique/Robotics/CHAPT4.pdf) so we can be sure to understand the joint arrangements?  It's tough to be sure of the kinematics when the orange dots you use to represent axes of rotation don't clearly show the rotational axis, and the side view helps but not completely.  Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-11602" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11602">
					<img id="start_img-11602" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11602">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>