<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Good 3D simulator for outdoor autonomous navigation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4998" class = "post">
			<h2>Question</h2>
			<div id="vote-4998" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 104</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Good 3D simulator for outdoor autonomous navigation</h2>
<p>What's an appropriate tool for simulating a car driving in a simple closed-loop racetrack? I'm trying to implement the control logic for an autonomous vehicle, and I'd like to be able to first simulate the behaviour before testing on a physical platform. The target environment is mostly 2D, but there are some 3D obstacle like small ramps and arches, so I can't use a strictly 2D simulator.</p>

<p>I've looked at some robotics simulators, as listed <a href="https://stackoverflow.com/questions/2533321/robotics-simulator">here</a>, but they seem like overkill and none of them seemed designed to model outdoor environments. I've done a little work with Gazebo, and I can't find any guide of texturing the ground/sky/background.</p>

<p>All I really need is some way apply a texture map to the ground and sky, create a handful of obstacles, and then to calculate a camera feed as a simple two-wheeled chassis moves along a mostly 2D course. However, I need the video input to be as realistic as possible because I don't have access to the real world racetrack. I need to be able to test and train the control logic in the simulator, and then load that logic onto the real mobile platform and have it navigate the course.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4998" data-toggle = "popover">
				<p>user name : Cerin</p>
				<p> user reputation : 152</p>
				<p class = "tagcontent" id = "usertaginfo-4998">{'magnetometer': 0, 'None': 0, 'force': 1, 'motor': 1, 'simulator': 2, 'battery': 1, 'bec': 0, 'cameras': 2, 'torque': 1, 'design': 1, 'mechanism': 0, 'slam': 3, 'rangefinder': 2, 'beagle-bone': 1, 'compass': 0, 'mobile-robot': 1, 'sensors': 3, 'ros': 3, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4998" class = 'collapse'>
			</div>
				<textarea id = "speech-4998" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4998">
					<img id="start_img-4998" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4998">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5010"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5010" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This sounds similar to work my colleague did on high-speed vehicle control.  He used <a href="http://torcs.sourceforge.net/" rel="nofollow">TORCS</a> (The Open Race Car Simulator).  See <a href="http://www.irobot.com/dynamo/simulated-high-speed-vehicle-control.php" rel="nofollow">this</a> project page for a video, screenshots, and the published paper of his work.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5010" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5010">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5010" class = 'collapse'>
			</div>
				<textarea id = "speech-5010" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5010">
					<img id="start_img-5010" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5010">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>