<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Good book on mechanisms
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-641" class = "post">
			<h2>Question</h2>
			<div id="vote-641" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 644</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Good book on mechanisms</h2>
<p>I am working with students (9th &amp; 10th grade) on robotics and wanted to get a good book which covers basic mechanisms.  Does anyone have any recommendations.  Searching Google or Amazon yields many results, however, I thought the community might have a standard book to use.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-641" data-toggle = "popover">
				<p>user name : Commodore63</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-641">{'nxt': 3, 'None': 2, 'pid': 0, 'mechanism': 1, 'not-exactly-c': 3, 'design': 1, 'vex': 0, 'mindstorms': 3, 'robotc': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-641">Load Comments</button></br>
			<div id = "commentsection-641" class = 'collapse'>
			<div id = "comment-779" class = "comment">
				<p>This question has the makings of a list question which are generally frowned upon in the Stack Exchange community. It would also help if you were more specific about the age group the children belong too. The [FAQ](http://robotics.stackexchange.com/faq#close) may be able to help you formulate this question so as to elicit higher quality responses.</p>
			</div>
			<div id = "comment-780" class = "comment">
				<p>In addition to what DaemonMaker said, you may want to ask the question in [chat] -- that's the place for such discussion-y/list-y things :)</p>
			</div>
			<div id = "comment-781" class = "comment">
				<p>This is quite a broad topic, can you narrow it down a little bit?  For example, are you thinking about mobile robots, various types of robot arms, flying robots, etc?  You've looked on Google and Amazon already, so presumably you had something in mind (but nothing jumped out at you as meeting that criteria).  What would make you say "oh yes, _this_ is the book I need"?</p>
			</div>
			<div id = "comment-794" class = "comment">
				<p>Henry T. Brown. "507 Mechanical Movements". 1908. [Wikipedia: Mechanism](http://en.wikipedia.org/wiki/Mechanism_(engineering))</p>
			</div>
			<div id = "comment-796" class = "comment">
				<p>Welcome to *Robotics* Commodore63 (showing our age there \*8'). A better question title might have been something like *"Is there a standard robotics textbook for teaching X year old students?"*, but that may have just moved us from *not constructive* close votes to *too localised* close votes. Also, as a Brit, I'm not sure what ages 9-10th grade covers, though I assume 15-16 year olds.</p>
			</div>
			</div>
				<textarea id = "speech-641" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-641">
					<img id="start_img-641" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-641">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-647"  class = "post">
				<h2>Answer</h2>
			<div id="vote-647" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The best book I have seen on the subject of mechanisms is <a href="http://www.amazon.co.uk/Mechanisms-Mechanical-Sourcebook-Nicholas-Chironis/dp/0071361693/" rel="nofollow noreferrer">Mechanisms And Mechanical Devices by Neil Sclater and Nicholas P. Chironis</a>.</p>

<p><img src="https://i.stack.imgur.com/0WZ63.jpg" alt="Mechanisms And Mechanical Devices"></p>

<p>It's got loads of great mechanisms in it, from simple linear movements:</p>

<p><img src="https://i.stack.imgur.com/gQroz.png" alt="enter image description here"></p>

<p>... to complex packaging machines:</p>

<p><img src="https://i.stack.imgur.com/arW7F.png" alt="enter image description here"></p>

<p>It also covers robotics.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-647" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-647">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-647" class = 'collapse'>
			</div>
				<textarea id = "speech-647" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-647">
					<img id="start_img-647" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-647">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>