<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Good method for building a pan and tilt controller?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-730" class = "post">
			<h2>Question</h2>
			<div id="vote-730" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 70</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Good method for building a pan and tilt controller?</h2>
<p>Have you ever seen one those video games that has headset/goggles you stand in and look around the virtual scene with? I'm building one of those, and I'm trying to design a simple controller. I need the output of the controller to emulate a mouse input. So if you look to the left, it's as if you were moving the mouse to the left. Supposing I use optical encoders, the pan and tilt will need to be in separate locations (a couple of inches apart). It seems that many mouse hacks online have the components very close together.</p>

<p>Do you think it's possible to have one of the encoders some distance away from the controller chip? For OEM purposes, is there a good mouse controller chip that will output USB protocol mouse movements that I could buy in bulk?</p>

<p>Many thanks for any suggestions. Cheers</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-730" data-toggle = "popover">
				<p>user name : Hairgami_Master</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-730">{'None': 0, 'microcontroller': 2, 'stepper-motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-730" class = 'collapse'>
			</div>
				<textarea id = "speech-730" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-730">
					<img id="start_img-730" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-730">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-731"  class = "post">
				<h2>Answer</h2>
			<div id="vote-731" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Probably not the answer you want, but IMU boards have gotten so cheap and easy I'm not sure if going the mouse encoder route is worth the trouble.  I fly FPV quads, and I have the parts for pan and tilt, although not installed yet. The head tracking is built into the <a href="http://www.youtube.com/watch?v=WveSggtwwNQ" rel="nofollow">goggles</a> (ie no added costs). </p>

<p>I also installed a MultiWii Flight control board this morning and was watching real time signals show roll/pitch/yaw(heading) with the option to add full gps. The <a href="http://witespyquad.gostorego.com/flight-controllers/flip-mwc-flight-controller.html" rel="nofollow">board</a> costs less than \$20. It would be pretty easy to install that on a hat, and add a <a href="http://www.rctimer.com/index.php?gOo=goods_details.dwt&amp;goodsid=764&amp;productname" rel="nofollow">Bluetooth option</a> (another \$8) for easy robust wireless pan and tilt tracking. You would need to do some sort of HUI device driver though, I do not know of anything already existing. Then again, if you are doing all your own software you could access the bluetooth stream directly and avoid needing a driver.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-731" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-731">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-731">Load Comments</button></br>
			<div id = "commentsection-731" class = 'collapse'>
			<div id = "comment-926" class = "comment">
				<p>Many thanks! I hadn't seen those goggles- very cool. My particular application is sort of an augmented reality concept (for a museum) so I need accuracy with no drift. I'm contemplating absolute encoders so that when the system powers on it doesn't need some calibration routine to figure out where it's pointed. If you have any other thoughts, I'm all ears. Cheers.</p>
			</div>
			<div id = "comment-927" class = "comment">
				<p>A hat with tracking dots, observed through web cams at a distance, processed with [openCV](http://opencv.willowgarage.com/wiki/) for tracking? may be able to get away with not using dots (e.g. facial tracking) crowds might be a problem though.</p>
			</div>
			</div>
				<textarea id = "speech-731" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-731">
					<img id="start_img-731" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-731">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>