<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>GPS Amplifier - Is this reliable?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2470" class = "post">
			<h2>Question</h2>
			<div id="vote-2470" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 193</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>GPS Amplifier - Is this reliable?</h2>
<p>I'm multimedia developer who is searching for a way to get GPS signal inside buildings/structures. Is amplification a reliable way to fix this GPS signal issue?</p>

<p>Will a "GPS Amplifier" work as perfectly as using GPS outside?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2470" data-toggle = "popover">
				<p>user name : fiskolin</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-2470">{'wireless': 1, 'None': 0, 'gps': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2470">Load Comments</button></br>
			<div id = "commentsection-2470" class = 'collapse'>
			<div id = "comment-4802" class = "comment">
				<p>You can buy GPS "repeaters"; widely available at e.g. Amazon</p>
			</div>
			<div id = "comment-4803" class = "comment">
				<p>@pjc50 I simply don't knew if that's really possible. Feel kind of stupid now, cause my question was really "Is this possible?".</p>
			</div>
			<div id = "comment-4804" class = "comment">
				<p>I've seen it used in factories for testing GPS recievers indoors; seems to work fine. It introduces a small error, as your GPS returns the location of the _repeater_ antenna. There may be local radio authority licensing issues in some countries.</p>
			</div>
			</div>
				<textarea id = "speech-2470" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2470">
					<img id="start_img-2470" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2470">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2471"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2471" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>GPS relies on trilateration to work. That is, the calculated distance from at least three satellites, to fix. So, for working <em>exactly</em> like in an outdoor GPS covered signal environment I doubt it will be feasible.</p>

<p>What you get with that <em>repeaters</em>, is that the indoor devices will get the position of the external antenna/receiver.<strong> </strong>. So if you have a big space and move inside it you will get the same position from the GPS.</p>

<p>So it will depend on your application if this is sufficient or not.
One way it will work is like some repeaters within a big mine for example, so it will show some location points, but this is for legacy compatibility of the signal. If the devices are able to read the location from other types of signals a simple beacon transmitting a programmed location will work, and without any external antennas.</p>

<hr>

<p><sup><strong>Note 1:</strong> the repeater inside the building will relay the exact co-ordinates of the outdoor antenna to the interior of the building - it will not provide co-ordinates for the repeater unit itself. From <a href="http://www.gps-repeaters.com" rel="nofollow">http://www.gps-repeaters.com</a></sup></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2471" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-2471">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2471">Load Comments</button></br>
			<div id = "commentsection-2471" class = 'collapse'>
			<div id = "comment-4805" class = "comment">
				<p>Thanks Diego. My special need is to know where am I **INSIDE** any structure, like our globe. So, I find GPS as an option. Is there possible to do triangulation between 3 GPS Amplifier? Or kind of wireless himself, dunno.</p>
			</div>
			<div id = "comment-4806" class = "comment">
				<p>GPS uses multilateration, there are no angles involved.</p>
			</div>
			<div id = "comment-4807" class = "comment">
				<p>@HL-SDK according to Wikipedia http://en.wikipedia.org/wiki/Multilateration `Multilateration should not be confused with trilateration, which uses distances or absolute measurements of time-of-flight from three or more sites, or with triangulation, which uses the measurement of absolute angles. Both of these systems are also commonly used with radio navigation systems; trilateration is the basis of GPS.`</p>
			</div>
			<div id = "comment-4808" class = "comment">
				<p>@fiskolin Like I said I doubt it will be practical with GPS. Every repeater will need to _simulate_ a satellite position, also the distance is so small (from repeaters to receiver to get an accurate result). Getting an absolute position like you want with RF is an actively research topic. As you probably needs not to care of obstacles in the path, this is even more difficult because of RF signal reflections.</p>
			</div>
			</div>
				<textarea id = "speech-2471" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2471">
					<img id="start_img-2471" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2471">Comment</button>
			<br><div id = "ans-2472"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2472" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is no.</p>

<p>By amplifying a GPS signal, you are creating a multipath situation. Instead of the proper signal path from the satellite directly to the receiver, you would be creating a <a href="http://en.wikipedia.org/wiki/Triangle_inequality" rel="nofollow noreferrer">triangle inequality</a> (unless your amplifiers just happened to be exactly in line between each satellite and the receiver).</p>

<p><a href="https://i.stack.imgur.com/2XFCp.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/2XFCp.png" alt="enter image description here"></a></p>

<p>You might decide that having an imperfect signal inside the building is better than no signal at all.  However, the bigger issue is that you'd be magnifying the multipath effects for any GPS receivers <em>outside</em> the building.</p>

<p>You should look at an alternate GPS-like technology, such as radio-frequency <strong>TDOA</strong> (time-difference of arrival).  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2472" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2472">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2472" class = 'collapse'>
			</div>
				<textarea id = "speech-2472" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2472">
					<img id="start_img-2472" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2472">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>