<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Granite Devices IONI current (torque) spikes
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10726" class = "post">
			<h2>Question</h2>
			<div id="vote-10726" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 48</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Granite Devices IONI current (torque) spikes</h2>
<p>I am trying to tune the IONI Pro for a Maxon brushless motor and things look find when I have the shaft locked but when I am finished and let the motor spin I see current drop out spikes at a high frequency. Is this normal?</p>

<p>At first I thought it might be because of the extremely lower motor inductance, around 0.13mH but I added a 1mH series inductor on each motor lead, re-tuned and still see the same thing.</p>

<p>This seems to cause an over current fault because as the motor runs the current continues to increase beyond the target and will trip the limit and stop. If this is true current control then why is the current increasing until the limit is tripped?</p>

<p><a href="https://i.stack.imgur.com/IUsI0.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/IUsI0.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10726" data-toggle = "popover">
				<p>user name : Boilerbots</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10726">{'brushless-motor': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10726" class = 'collapse'>
			</div>
				<textarea id = "speech-10726" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10726">
					<img id="start_img-10726" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10726">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10738"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10738" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The graph displays commutation spikes that come from Hall sensor based trapezoidal commutation. It means that when drive has only low resolution position signal from Hall sensors, drive can't use sinusoidal commutation which forces it to use traditional BLDC style trapezoidal commutation. </p>

<p>The spike occurs every time motor travels over the Hall sensor state transition and magnetic field is being rotated by 60 degrees instantly. The change is infinitely fast, so no drive can't keep the current constant during that transition.</p>

<p>In other words, it is nothing to worry about and it's expected result. Motor probably produces some torque ripple/cogging at the transitions which is a typical also for this control mode. If you need smooth torque control (no cogging thanks to sinusoidal commutation), then you need higher precision position feedback device on the motor, such as encoder.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10738" data-toggle = "popover">
				<p>user name : Granite Devices</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-10738">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10738" class = 'collapse'>
			</div>
				<textarea id = "speech-10738" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10738">
					<img id="start_img-10738" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10738">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>