<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Grasshopper effect on a quadcopter with kk2.1.5
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2905" class = "post">
			<h2>Question</h2>
			<div id="vote-2905" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1521</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Grasshopper effect on a quadcopter with kk2.1.5</h2>
<p>We have builded a quadcopter that use the flight manager kk2.1.5 with the latest firmware. When we increase the throttle, it flight. When we keep the hand on the stick we are able to maintain it but when we don't touch to the throttle, it goes up and down.</p>

<p>You can see an example on <a href="http://youtu.be/N0BhK1tS2YQ" rel="nofollow">this video</a>.</p>

<p>We have tried different values for PID but we don't know what is the best for us. We have a large quadcopter with medium propellers (may be too small). </p>

<p>Does the weight of the quadpcoter or the width of the propellers can be a factor? What can be the problem?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2905" data-toggle = "popover">
				<p>user name : Dougui</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-2905">{'quadcopter': 9, 'None': 0, 'multi-rotor': 11, 'uav': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2905" class = 'collapse'>
			</div>
				<textarea id = "speech-2905" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2905">
					<img id="start_img-2905" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2905">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2913"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2913" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You've correctly identified 2 out of the 3 possible sources for the problem you're having.  They are:</p>

<ol>
<li><strong>The propellers or motors may be inadequate for the weight of the quadcopter.</strong>  Since the propellers are able to lift the quadcopter off the ground, they are probably not causing the problem you see.</li>
<li><strong>The PID settings may be incorrect.</strong>  Look at <a href="https://robotics.stackexchange.com/q/2297/350">this question</a> for some advice on tuning them.</li>
<li><strong>The altitude sensor may be faulty.</strong> If the PID isn't getting good data in, then it won't be able to act appropriately.  If your quadcopter can't measure altitude much beyond zero, it could explain the behavior you're seeing.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2913" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2913">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2913">Load Comments</button></br>
			<div id = "commentsection-2913" class = 'collapse'>
			<div id = "comment-5332" class = "comment">
				<p>I read [this question](http://robotics.stackexchange.com/q/167/350). I saw some videos about how to adjust PID but with kk2, we have P-Gain, P-Limit, I-Gain, I-Limit. We also have a PID for PI for Roll, Pitch and Yaw. Should they be equal? What we should do for Gain/Limit.</p>
			</div>
			<div id = "comment-5336" class = "comment">
				<p>If you don't have D-Gain, are you sure it's a PID and not just a PI controller?  Anyway, roll pitch and yaw don't seem to be causing problems so I'd leave them alone.  Maybe your I-Limit is too low and preventing the quadcopter from adequately balancing its own weight?</p>
			</div>
			<div id = "comment-5350" class = "comment">
				<p>We have set better settings for PI and it's better but not perfect. When we have the self-level on, it's not very stable but when we have the self-level off, it's totaly crazy and it go everywhere. I don't know what to do.</p>
			</div>
			</div>
				<textarea id = "speech-2913" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2913">
					<img id="start_img-2913" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2913">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>