<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Grayed out edit on some questions and most meta questions
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2516" class = "post">
			<h2>Question</h2>
			<div id="vote-2516" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 43</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Grayed out edit on some questions and most meta questions</h2>
<p>Mostly, I can edit questions, place them in queue and wait for them to be reviewed. However, I haven't seen a question on the meta that does have the edit button not grayed out. I found one question that had the edit button grayed out on the main page. Why is this?</p>

<p><img src="https://i.stack.imgur.com/O3YtM.png" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2516" data-toggle = "popover">
				<p>user name : TheBro21</p>
				<p> user reputation : 1527</p>
				<p class = "tagcontent" id = "usertaginfo-2516">{'None': 0, 'flagging': 7, 'moderators': 3, 'support': 38, 'formatting': 4, 'suggested-edits': 8, 'comments': 8, 'closed-questions': 6, 'close-reasons': 3, 'moderation': 12, 'reputation': 3, 'asking-questions': 4, 'questions': 4, 'editing': 12, 'discussion': 11, 'editor': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2516" class = 'collapse'>
			</div>
				<textarea id = "speech-2516" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2516">
					<img id="start_img-2516" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2516">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2517"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2517" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><img src="https://i.stack.imgur.com/qG8cV.png" width="331">
<img src="https://i.stack.imgur.com/E29bC.png" width="318"></p>

<p>Two suggested edits can't be submitted on the same post at the same time. The first suggested edit must be approved or rejected before another suggested edit can be submitted. If the user can approve or reject the suggested edit, either because they have the privilege to do so or the suggested edit was on their own post, they see <sub><img src="https://i.stack.imgur.com/figGs.png" width="42" title="edit (1)"></sub> and can approve/reject the edit.</p>

<p>You can't submit suggested edits on non-tag-wiki posts on child meta sites. On meta without the edit privilege, you can edit community wiki posts (if you have the necessary privilege), tag wikis (with the suggested edit system in place) and your own posts. Once you have the necessary privilege to edit without suggested edits on the main site, you can edit any post on the child meta.</p>

<p>There are other cases where the edit button would be greyed out and suggested edits not allowed:</p>

<ul>
<li>Too many of your suggested edits were rejected and you are suspended from suggesting edits for one week.</li>
<li>There are currently 200 suggested edits waiting to be reviewed and therefore no more can be suggested.</li>
<li>The post is locked by a moderator or by 'migration limbo'.</li>
<li>You are suspended.</li>
</ul>

<p>In all of these cases, the tooltip will explain.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2517" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2517">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2517">Load Comments</button></br>
			<div id = "commentsection-2517" class = 'collapse'>
			<div id = "comment-5717" class = "comment">
				<p>Thanks. If you only need the privilege to edit on child meta sites, what is the suggested edits review on the meta for?</p>
			</div>
			<div id = "comment-5718" class = "comment">
				<p>@TheBro21 "tag wikis (with the suggested edit system in place)"</p>
			</div>
			</div>
				<textarea id = "speech-2517" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2517">
					<img id="start_img-2517" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2517">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>