<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Great Comment "votes"
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1342" class = "post">
			<h2>Question</h2>
			<div id="vote-1342" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Great Comment "votes"</h2>
<p>Next to comments there are two options - one is to flag it, the other is an up arrow ("this is a great comment"). Other then letting users know which comments are valuable, do  the up arrows "votes" have any other role?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1342">Load Comments</button></br>
			<div id = "commentsection-1342" class = 'collapse'>
			<div id = "comment-2543" class = "comment">
				<p>You had two questions in here. This site works better when there is only one question per question. That way, it's easier for other people to find solutions if they have the same problem. I've edited out your second question, but feel free to ask it separately.</p>
			</div>
			<div id = "comment-2544" class = "comment">
				<p>You might want to enter the [now removed] second question as a feature request, BTW, although there are some longstanding reasons why I expect it will be turned down.</p>
			</div>
			</div>
				<textarea id = "speech-1342" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1342">
					<img id="start_img-1342" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1342">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1343"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1343" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The only other function they serve is that, in cases where a question or answer has many comments, and the displayed list is abridged and the <strong>Add/Show x More Comments</strong> link appears, up votes are used to determine which contents remain displayed while others are hidden.</p>

<p>Beyond that, it has no other mechanical effect, other than providing a visual indicator to other users that some number of people thought a given comment was worthy of additional attention in some way.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1343" class = 'collapse'>
			</div>
				<textarea id = "speech-1343" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1343">
					<img id="start_img-1343" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1343">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>