<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Guidance & Info about Quadcopter Project
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6593" class = "post">
			<h2>Question</h2>
			<div id="vote-6593" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 115</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Guidance & Info about Quadcopter Project</h2>
<p>I'm new in forum and since I made some research the past days I'd like to get some guidance about constructing &amp; programming a Quadcopter from scratch since I'm completely new on a project like that.</p>

<p>Quadcopter Frame: Thinking about to construct an aluminum 70cm diameter frame which will weight around 500g. What kind of motors should I get in order the frame with the board,motors etc. will be able to lift?</p>

<p>Board: I'm thinking to use Arduino Uno or Raspberry Pi 2.0 ( With a little bit of research I made I conclude that Raspberry could make my life a little bit easier since you can add wifi on it. The quadcopter will be controlled via a pc/laptop through wifi). What can you suggest and why?</p>

<p>ESC: As far as I've seen in most of similar projects people using ESCs in order to control the motors throttle. Can you avoid that, with programming PIDs that make the same job in order not to use more hardware?</p>

<p>About PIDs and Code in General: Thinking about to simulate the whole project in Simulik, Matlab and somehow (if it's possible) to convert the Matlab Code into C++ and download it on the chip. What do you think about that?</p>

<p>About the whole project: I'm trying to minmize the hardware as much as it's possible (use only 4x motors, the board with the chip on it, cables and probably some sensors) in order to minimize the total weight of construction and ofc the price.</p>

<p>That's all for a start. I'm gladly waiting for your answers and ideas.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6593" data-toggle = "popover">
				<p>user name : Gidovoskos</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-6593">{'quadcopter': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6593" class = 'collapse'>
			</div>
				<textarea id = "speech-6593" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6593">
					<img id="start_img-6593" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6593">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6595"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6595" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would suggest you to check this post by oscar on <a href="http://blog.oscarliang.net/build-a-quadcopter-beginners-tutorial-1/" rel="nofollow">Building a Quadcopter from scratch</a>, this mentions all the hardware parts you need to choose while you build a quadcopter. I have personally done a project on Quadcopter using Beaglebone black as a flight controller.</p>

<p>Quadcopter Frame: 70 cm would be fine for your case. You can use 980kVA motors with a high thrust 12" propellers or a 2200KVA motors with 8" propellers.</p>

<p>Board: As per my research I would recommend you to use BeagleBone Black as a board instead of raspberry pi. The problem with running a raspberry Pi for quadcopter is that raspbian is not a real-time OS and there is no inbuilt microcontroller to run realtime application, so you will need an aditional real-time hardware such as a microcontroller connected in serial to give the PWM signal to motor and reading PPM signal from RC receiver. For quadcopters real time operation is very crucial, thats why I would suggest you to use Beaglebone black since it contains SoC 2 Programmable Real Time units (PRU or Microcontroller) you can avoid extra microcontroller hardware . </p>

<p>ESC : you can use a 30A ESC from hobbyking. Or there are <a href="http://www.hobbyking.com/hobbyking/store/__36674__q_brain_4_x_20a_brushless_quadcopter_esc_2_4s_3a_sbec.html" rel="nofollow">4 in 1 SBEC from Q-brain</a>, here instead of buying 4 ESC for 4 motor you just have to buy 1.</p>

<p>PID : In the case of PID there are lots of different codes available online. You can even check my code in <a href="https://github.com/antodoms/beagle-copter" rel="nofollow">github</a> to know how I did it. I have explained some theories about PID in the <a href="http://antodominic.com/beagle-copter/" rel="nofollow">Beagle-copter project Presentation</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6595" data-toggle = "popover">
				<p>user name : Anto Dominic</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-6595">{'None': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6595" class = 'collapse'>
			</div>
				<textarea id = "speech-6595" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6595">
					<img id="start_img-6595" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6595">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>