<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Guidelines for a "stopwatch based" craft
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10611" class = "post">
			<h2>Question</h2>
			<div id="vote-10611" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Guidelines for a "stopwatch based" craft</h2>
<p>I'm a swimmer and would like to create a small object that would help me folow my trainning plannification.</p>

<p>In other words I want to create a custum stopwatch, with 5 colored led that will be on or off according to the trainning program.</p>

<p>This is my training:</p>

<ul>
<li>0:00 to 5:00 : Low Effort (Green light)</li>
<li>5:00 to 15:00 : Medium Effort (Yellow light)</li>
<li>15:00 to 20:00 : High Effort (Orange Light)</li>
<li>20:00 to 25:00 : Medium Effort (Yellow light)</li>
<li>25:00 to 26:00 : Maximum Effort (Red light)</li>
<li>26:00 to 30:00 :  Low Effort (Green light)</li>
<li>30:00 Trainning done (Should turn off automaticaly.)</li>
</ul>

<p>The whole thing must be waterproof.
Must work on battery.</p>

<p>I'm asking for some guidelines, I'm not asking for a complete patent(would be appreciated though) but the main idea how to do it. So I can avoid wasting my time on research and tests.</p>

<p>I don't want to spend too much time on the project less than 100 hours maybe. I have studied in computer science and I have most of the materials I'll need. I can buy what is missing.</p>

<p>I'm a little bit noob on this kind of project, I want to know how you do it.</p>

<p>Thanks for help.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10611" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-10611">{'battery': -1, 'None': 0, 'power': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10611">Load Comments</button></br>
			<div id = "commentsection-10611" class = 'collapse'>
			<div id = "comment-19055" class = "comment">
				<p>Hi Mark! I voted to close this question ass off-topic, because it's not about robotics, and it's too broad. Please specify what are your main problems? Is it making the watch waterproof, or measuring time, or something completely different?</p>
			</div>
			<div id = "comment-19057" class = "comment">
				<p>(Retracted my close vote as I notice this may be a robotics question after all). Are you wanting this craft to actively follow (or lead?) the swimmer around the pool, or keep station just outside the lane? (I think it's a very ambitious project by the way.)</p>
			</div>
			<div id = "comment-19058" class = "comment">
				<p>@Andy I think just outside the lane would be a first goal and then I will be able to modify it or make another one with more possibilities, on the wirst for instance.</p>
			</div>
			<div id = "comment-19059" class = "comment">
				<p>@mactro I'm a little bit noob on this kind of project, I want to know how you do it.</p>
			</div>
			<div id = "comment-19060" class = "comment">
				<p>@Mark Ok, this indeed may be a robotic question. Still it is very broad. Try to answer yourself following questions: what propulsion do I need (if any)? How to make it waterproof? How to power it? How to make it measure time? How should it be started and configured? There is a watch for swimmers - https://www.kickstarter.com/projects/swimmo/swimmo-the-ultimate-swimmers-smartwatch-improving Maybe you can take some ideas from that?</p>
			</div>
			<div id = "comment-19061" class = "comment">
				<p>For information: we had an earlier question about [navigation in a pool](http://robotics.stackexchange.com/questions/7564/how-to-localise-a-underwater-robot) - it's not a duplicate question, but the answers give some idea of the complexity of steering and knowing where the machine is...</p>
			</div>
			<div id = "comment-19063" class = "comment">
				<p>I wonder if a visual display is a real good idea. You'd have to constantly check it to see what part of the schedule you are in. Looking at some watch on your wrist could be difficult distracting when swimming. Maybe if it vibrates like a phone, it would be less distracting to check it.</p>
			</div>
			<div id = "comment-19064" class = "comment">
				<p>The thing should be just outside the lane. Carrying such a homemade thing while swimming is not a good idea, it would be too big, it would slow me down also. I've done some research and it will be easier than I thought . Few Colored led or maybe only one rbg that can change color and a button. It's easy to give meaning to colors. I can also check the color while swimming and I could maybe program few blinks before   The change of a color. I think the thing could be pretty small Adafruit Trinket a rbg led like FooBar sugest</p>
			</div>
			<div id = "comment-19159" class = "comment">
				<p>Welcome to *Robotics* Mark, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-19160" class = "comment">
				<p>Also, on stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			</div>
				<textarea id = "speech-10611" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10611">
					<img id="start_img-10611" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10611">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10614"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10614" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That should be doable and is not that hard. I suggest a small arduino (e.g. Adafruit Trinket), an (<a href="https://www.youtube.com/watch?v=IPOHARgRLE0%20ad" rel="nofollow">RGB LED</a>), a small coin cell and a button. The coding is trivial. You attach this components to a replacement watchstrap so that you can wear it on the wrist. You can activate the system with the button and show your lights. Making it watertight is not that easy, I'd start with transparent heat shrink tube after fixing everything in epoxy. The battery should last some time, replacing it will be a bit tricky.  </p>

<p>Update: You could even get rid of the button if you let two metal parts stick out so that they are connected electrically by the water. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10614" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-10614">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10614">Load Comments</button></br>
			<div id = "commentsection-10614" class = 'collapse'>
			<div id = "comment-19062" class = "comment">
				<p>That's the kind of anwser I was looking for. Thx</p>
			</div>
			</div>
				<textarea id = "speech-10614" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10614">
					<img id="start_img-10614" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10614">Comment</button>
			<br><div id = "ans-10633"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10633" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First things first. If You are studying computer science, <strong>learning embedded programming will not be waste of your time.</strong> Actually, if you are interested in mobile projects like this, I recommend you to buy ATMega microcontroller with programmer and some electronics, or STM32 Nucleo board.</p>

<p>About your question, I'd create a small PCB with ATMega88 in QFN package, rather than using Arduino, an RTC clock (like DS1307) and communicate them via I2C.</p>

<p>Two buttons would be nice - one for training start/stop, second for display (diodes won't be turned on constantly, only after pushing second button for ~5 seconds - energy saving).</p>

<p>Also, You could use <a href="http://www.bot-thoughts.com/2014/12/bubble-display-propeller.html" rel="nofollow">small 7-segment display</a> instead diodes. All these electronics powered by small, ~70mAh LiPo battery, induction charged. And closed in waterproof watch casing.</p>

<p>Moreover, having two buttons and display mentioned above, you could change your training profile without device disassembly.</p>

<p>Yeah. That would be great for swimmers personal training.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10633" data-toggle = "popover">
				<p>user name : Szczepan</p>
				<p> user reputation : 164</p>
				<p class = "tagcontent" id = "usertaginfo-10633">{'mobile-robot': 1, 'None': 11, 'pid': 1, 'research': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10633">Load Comments</button></br>
			<div id = "commentsection-10633" class = 'collapse'>
			<div id = "comment-19162" class = "comment">
				<p>Great, I've already bought a small Adafruit Trinket though. I'll buy the micro usb cable today. I'm thinking about 2 Cmos 3v battery with electric tape for power. I'll consider your suggestion.</p>
			</div>
			</div>
				<textarea id = "speech-10633" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10633">
					<img id="start_img-10633" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10633">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>