<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>gzclient: segmentation fault
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12017" class = "post">
			<h2>Question</h2>
			<div id="vote-12017" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 126</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>gzclient: segmentation fault</h2>
<p>I have archlinux indigo ros.
My probelm is that when I type in terminal:</p>

<pre><code>$ gzclient
Segmentation fault (core dumped)
</code></pre>

<p>...  </p>

<pre><code>$ roslaunch turtlebot_gazebo turtlebot_world.launch
    ... logging to /home/islam/.ros/log/0f56780c-18b0-11e7-966d-642737d9d3b9/roslaunch-CatchMe-11800.log
    Checking log directory for disk usage. This may take awhile.
    Press Ctrl-C to interrupt
    Done checking log file disk usage. Usage is &lt;1GB.

    started roslaunch server http://localhost:44337/

    SUMMARY
    ========

    PARAMETERS
     * /bumper2pointcloud/pointcloud_radius: 0.24
     * /cmd_vel_mux/yaml_cfg_file: /opt/ros/indigo/s...
     * /depthimage_to_laserscan/output_frame_id: /camera_depth_frame
     * /depthimage_to_laserscan/range_min: 0.45
     * /depthimage_to_laserscan/scan_height: 10
     * /robot_description: &lt;?xml version="1....
     * /robot_state_publisher/publish_frequency: 30.0
     * /rosdistro: indigo
     * /rosversion: 1.11.20
     * /use_sim_time: True

    NODES
      /
        bumper2pointcloud (nodelet/nodelet)
        cmd_vel_mux (nodelet/nodelet)
        depthimage_to_laserscan (nodelet/nodelet)
        gazebo (gazebo_ros/gzserver)
        gazebo_gui (gazebo_ros/gzclient)
        laserscan_nodelet_manager (nodelet/nodelet)
        mobile_base_nodelet_manager (nodelet/nodelet)
        robot_state_publisher (robot_state_publisher/robot_state_publisher)
        spawn_turtlebot_model (gazebo_ros/spawn_model)

    auto-starting new master
    process[master]: started with pid [11824]
    ROS_MASTER_URI=http://localhost:11311

    setting /run_id to 0f56780c-18b0-11e7-966d-642737d9d3b9
    process[rosout-1]: started with pid [11837]
    started core service [/rosout]
    process[gazebo-2]: started with pid [11852]
    process[gazebo_gui-3]: started with pid [11861]
    process[spawn_turtlebot_model-4]: started with pid [11868]
    process[mobile_base_nodelet_manager-5]: started with pid [11873]
    process[cmd_vel_mux-6]: started with pid [11878]
    process[bumper2pointcloud-7]: started with pid [11880]
    process[robot_state_publisher-8]: started with pid [11882]
    process[laserscan_nodelet_manager-9]: started with pid [11896]
    process[depthimage_to_laserscan-10]: started with pid [11905]
    /opt/ros/indigo/lib/gazebo_ros/gzclient: line 25: 11916 Segmentation fault      (core dumped) GAZEBO_MASTER_URI="$desired_master_uri" gzclient $final
    [gazebo_gui-3] process has died [pid 11861, exit code 139, cmd /opt/ros/indigo/lib/gazebo_ros/gzclient __name:=gazebo_gui __log:=/home/islam/.ros/log/0f56780c-18b0-11e7-966d-642737d9d3b9/gazebo_gui-3.log].
    log file: /home/islam/.ros/log/0f56780c-18b0-11e7-966d-642737d9d3b9/gazebo_gui-3*.log
    /opt/ros/indigo/lib/gazebo_ros/gzserver: line 30: 11978 Segmentation fault      (core dumped) GAZEBO_MASTER_URI="$desired_master_uri" gzserver $final
    [gazebo-2] process has died [pid 11852, exit code 139, cmd /opt/ros/indigo/lib/gazebo_ros/gzserver -e ode /opt/ros/indigo/share/turtlebot_gazebo/worlds/playground.world __name:=gazebo __log:=/home/islam/.ros/log/0f56780c-18b0-11e7-966d-642737d9d3b9/gazebo-2.log].
    log file: /home/islam/.ros/log/0f56780c-18b0-11e7-966d-642737d9d3b9/gazebo-2*.log
</code></pre>

<p>and here is the output of debug:</p>

<pre><code>Reading symbols from gzserver...(no debugging symbols found)...done.
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/usr/lib/libthread_db.so.1".
[New Thread 0x7fffd4e6d700 (LWP 16809)]
[New Thread 0x7fffd038d700 (LWP 16810)]

Thread 1 "gzserver" received signal SIGSEGV, Segmentation fault.
0x00007ffff2838390 in gazebo::event::Connection::Id() const ()
from /usr/lib/libgazebo_common.so.8
</code></pre>

<p>My GPU is intel HD3000 , core i5 INSPIRON N5110. I have noted that <a href="http://answers.ros.org/question/63413/gazebo-crashes-when-starting/" rel="nofollow noreferrer">intel hd3000 works with gazebo</a></p>

<p>Thanks in advance.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12017" data-toggle = "popover">
				<p>user name : Catch.Me</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-12017">{'None': 1, 'localization': 0, 'arduino': 0, 'microcontroller': 0, 'wheeled-robot': 0, 'motion': 0, 'mobile-robot': 0, 'dynamics': 0, 'ros': 1, 'gazebo': 1, 'robotc': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12017" class = 'collapse'>
			</div>
				<textarea id = "speech-12017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12017">
					<img id="start_img-12017" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12017">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12042"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12042" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>It seems that Gazebo 8 is based on Qt5 instead of Qt4. The dependencies should be updated and most importantly, we need to install qwt-qt5 instead of qwt, otherwise our executable is linked to both Qt4 and Qt5 which leads to segmentation fault at start.</p>
  
  <p>Here is my PKGBUILD for Gazebo:</p>
  
  <p><a href="https://gist.github.com/lyx-x/e6908ef82351b462d4b2e480a43b076c" rel="nofollow noreferrer">https://gist.github.com/lyx-x/e6908ef82351b462d4b2e480a43b076c</a></p>
</blockquote>

<p>reference: <a href="https://aur.archlinux.org/packages/gazebo/" rel="nofollow noreferrer">https://aur.archlinux.org/packages/gazebo/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12042" data-toggle = "popover">
				<p>user name : Catch.Me</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-12042">{'None': 1, 'localization': 0, 'arduino': 0, 'microcontroller': 0, 'wheeled-robot': 0, 'motion': 0, 'mobile-robot': 0, 'dynamics': 0, 'ros': 1, 'gazebo': 1, 'robotc': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12042" class = 'collapse'>
			</div>
				<textarea id = "speech-12042" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12042">
					<img id="start_img-12042" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12042">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>