<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>H bridge for rover
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2719" class = "post">
			<h2>Question</h2>
			<div id="vote-2719" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 136</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>H bridge for rover</h2>
<p>I am building a 6 wheeled rover, one set of 3 wheels will work together and other set of 3 wheels will run together, so current in each side may vary from <strong>3A-15A(blocked rotor)</strong> and <strong>6V</strong> i want to make a H-bridge(for controlling direction and speed(i ll use PWM) so i will require <strong>two such H-bridges</strong>. what is the <strong>copper track thickness</strong> i should use in <strong>proteus</strong> for making the design or else shall i go for <strong>manual soldering</strong> replacing <strong>tracks with wires</strong>. Can anybody suggest a design which is relatively easy to design with some <strong>protection circuit</strong> in it (for MCU pins isolation) or suggest any suitable motor controllers from TI or any company which can be apt to my problem</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2719" data-toggle = "popover">
				<p>user name : Ruthvik Vaila</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-2719">{'control': 1, 'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2719">Load Comments</button></br>
			<div id = "commentsection-2719" class = 'collapse'>
			<div id = "comment-5117" class = "comment">
				<p>Welcome to *Robotics* Ruthvik Vaila, but you may well find that you get a better answer for a pure electrics question like this over on [electronics](http://electronics.stackexchange.com). If the answers you get here don't satisfy you, please flag this question and it can be migrated. Please don't just ask the question again there though, migration helps keep sites with slightly overlapping areas linked together. Thanks,</p>
			</div>
			<div id = "comment-5120" class = "comment">
				<p>There is some good advice on track widths in answers to the questions [How to carry high current on PCB](http://electronics.stackexchange.com/q/18874/3774) and [Sizing a trace on a PCB to carry 2.5 amps](http://electronics.stackexchange.com/q/8418/3774)</p>
			</div>
			</div>
				<textarea id = "speech-2719" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2719">
					<img id="start_img-2719" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2719">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2721"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2721" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you can purchase a motor driver board, Pololu has some that probably fit your specs. <a href="http://www.pololu.com/product/708" rel="nofollow">This board</a> uses the <a href="http://www.st.com/web/catalog/sense_power/FM1965/SC1039/PF145473?s_searchtype=partnumber" rel="nofollow">VNH2SP30</a> from ST. The Pololu board is rated for operating voltages from 5.5V to 16V and a continuous current of 14A (peak of 30A). Continuous current and peak current of course depend on how well cooled the driver chip is.</p>

<p>You could also create your own design around a driver chip like the VNH2SP30. The <a href="http://www.st.com/st-web-ui/static/active/en/resource/technical/document/datasheet/CD00043711.pdf" rel="nofollow">datasheet</a> has a standard application circuit that you may base your design off of. When designing your board, the copper thickness, usually specified in ounces of copper, is the same for the whole board and is typically 1 oz for external traces. Once you know the thickness, you can calculate the width of the trace based on the current through it. Wider traces have lower resistance per unit length and thus heat less and can handle higher current.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2721" data-toggle = "popover">
				<p>user name : brnd4n</p>
				<p> user reputation : 301</p>
				<p class = "tagcontent" id = "usertaginfo-2721">{'None': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2721" class = 'collapse'>
			</div>
				<textarea id = "speech-2721" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2721">
					<img id="start_img-2721" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2721">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>