<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>H-Bridge using atmega8 microcontroller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1737" class = "post">
			<h2>Question</h2>
			<div id="vote-1737" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 670</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>H-Bridge using atmega8 microcontroller</h2>
<p>I want to use my atmega8 uC as a <a href="/questions/tagged/h-bridge" class="post-tag" title="show questions tagged 'h-bridge'" rel="tag">h-bridge</a>.</p>

<p>Can anybody give me the source code using C, so that the microcontroller acts as an H-Bridge.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1737" data-toggle = "popover">
				<p>user name : Nabajyoti Das</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-1737">{'None': 0, 'computer-vision': 0, 'microcontroller': 0, 'wheeled-robot': 0, 'c': 0, 'avr': 0, 'h-bridge': 0, 'matlab': 0, 'mobile-robot': 0, 'motion-planning': 0, 'navigation': 0, 'robotc': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1737">Load Comments</button></br>
			<div id = "commentsection-1737" class = 'collapse'>
			<div id = "comment-3641" class = "comment">
				<p>Can you clarify the purpose?  There is a lot more to motor control theory than just pinging a few pins as a bridge.  Also, I suggest that the atmega probably cannot give the current that a H-bridge would need.</p>
			</div>
			<div id = "comment-3642" class = "comment">
				<p>Thanks for your suggestion, actually i have got an atmega8 microcontroller and two B.O motor. Can you suggest me some alternative way to control the two motor simultaneously without using H-Bridge, if it's possible.</p>
			</div>
			<div id = "comment-3644" class = "comment">
				<p>@NabajyotiDas, we are not a "give me the codez plz" community. Please show us your efforts, what code you have already written and where you are stuck.</p>
			</div>
			</div>
				<textarea id = "speech-1737" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1737">
					<img id="start_img-1737" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1737">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1738"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1738" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not really familiar with Atmel microcontrollers, but I'm assuming you're using some Arduino variant. <a href="http://itp.nyu.edu/physcomp/Labs/DCMotorControl" rel="nofollow">Here's a pretty thorough tutorial about using an Arduino with a SN754410 h-bridge</a> (found it via the SN754410 Sparkfun entry). It seems the only thing the tutorial lacks is controlling the motors via PWM, which of course means you will only be able to control the motors direction, and whether the motor is on or off. Just google Arduino PWM, I'm sure there's loads of code examples. [Update] <a href="http://learn.adafruit.com/adafruit-arduino-lesson-15-dc-motor-reversing?view=all" rel="nofollow">See also Adafruit Arduino tutorials</a>.</p>

<p>One thing to keep in mind is to never enable both directional signals at the same time (which obviously causes a straight short across your motor rail). One way of ensuring this never happens is by using only one micro-controller output (eg <code>MOTOR_DIR_FORWARD</code>), and then feeding that into a not-gate, and then into your other directional signal (in other words, instead of having a motor enable ouput, and two directional outputs, you'll only have a motor enable output, and a single directional output).</p>

<p>Also remember that if your motors and micro are running off the same supply that insufficient decoupling may cause your micro to reset.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1738" data-toggle = "popover">
				<p>user name : EDDY74</p>
				<p> user reputation : 395</p>
				<p class = "tagcontent" id = "usertaginfo-1738">{'None': 25}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1738" class = 'collapse'>
			</div>
				<textarea id = "speech-1738" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1738">
					<img id="start_img-1738" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1738">Comment</button>
			<br><div id = "ans-1742"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1742" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is not possible to use the micro-controller directly as an H-Bridge. A micro-controller is a micro-controller and an H-bridge is an H-bridge. You need both of them to control a motor (or something equivalent).</p>

<p>I will suppose that you are using motors and not servo. Let's say you want to use your micro-controller as an H-bridge. You have two cables from the motor. One for the ground and the other one for the current. When both of them are plugged, how are you going to wired it to the micro-controller to control the motor ? Or are you going to wire directly the current supply wire to the micro-controller ?</p>

<p>The thing is you will not be able to input enough current to move the motor with just the pin of a micro-controller. You will need another source of current and thus, something to control it, if you want to control the direction and speed of your motor. That's where the H-bridge is used.</p>

<p>You should read some documentation about <a href="http://en.wikipedia.org/wiki/H_bridge" rel="nofollow">H-Bridge</a>, it's not that complicated to understand.</p>

<p>And if you really want not to use H-Bridge, you can create one with <a href="http://www.instructables.com/id/H-Bridge-on-a-Breadboard/" rel="nofollow">transistors</a> on the bread-board. That tutorial is pretty good for that.</p>

<p>If in the end you want to use H-Bridge, the <a href="http://itp.nyu.edu/physcomp/Labs/DCMotorControl" rel="nofollow">tutorial</a> that EDDY74 gave you is perfect for that. Really simple and easy to understand. To, then, control the motor via a PWM is fairly easy since you just have to modulate the enable pin or the motor logic pins (I guess it depend on the H-bridge you are using).
There a <a href="http://forum.arduino.cc/index.php/topic,9522.0.html" rel="nofollow">discussion</a> about speed control on the Arduino forum.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1742" data-toggle = "popover">
				<p>user name : Malcolm</p>
				<p> user reputation : 393</p>
				<p class = "tagcontent" id = "usertaginfo-1742">{'communication': 1, 'None': 24, 'serial': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1742" class = 'collapse'>
			</div>
				<textarea id = "speech-1742" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1742">
					<img id="start_img-1742" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1742">Comment</button>
			<br><div id = "ans-7061"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7061" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just for completeness -- although you will typically need an external H bridge to drive motors, you can use just the AVR pins directly if you are certain that the current will be low enough (for driving a <em>really tiny</em> motor, or maybe a LED pair).</p>

<p>The code would look something like this:</p>

<pre><code>DDRB |= _BV(PB0) | _BV(PB1); // This sets PB0 and PB1 as output.
// After setting it as output, both the pins are driven low.

PORTB |= _BV(PB1); // This sets PB1 high and start spinning the motor in one direction
PORTB ^= _BV(PB0) | _BV(PB1); // This toggles state of both PB0 and PB1 -- change direction of the rotation
PORTB &amp;= ~(_BV(PB0) | _BV(PB1)); // This sets both pins to low -- stop the motor
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7061" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-7061">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7061">Load Comments</button></br>
			<div id = "commentsection-7061" class = 'collapse'>
			<div id = "comment-10100" class = "comment">
				<p>Even though the I/O pin might be strong enough to drive the motor (which I doubt - [this link](http://playground.arduino.cc/Main/ArduinoPinCurrentLimitations) states max current at I/O pins to be 40 mA), I'd still definitely not recommend it. The back EMF of your motor would most likely fry your I/O pin (you could try and add a [flyback diode](http://en.wikipedia.org/wiki/Flyback_diode) as protection though). Best to add a proper driver.</p>
			</div>
			</div>
				<textarea id = "speech-7061" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7061">
					<img id="start_img-7061" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7061">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>