<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Hand Eye Calibration Solver
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7953" class = "post">
			<h2>Question</h2>
			<div id="vote-7953" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 618</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Hand Eye Calibration Solver</h2>
<p>I have a rig for which I have a pretty good estimate of the static transformation between the camera and a joint based off of the CAD. It has some errors though and I was hoping to fix it by doing a hand eye calibration. So, I started off with generating some data based off of the transformation that I have already. From the papers that I have been reading, they all want to solve the $$AX = XB$$ problem by either converting $A$, $B$ to dual quaternions or simplifying the equation to something like 
$$ n_A = Xn_B $$ where $n_A$, $n_B$ are the eigenvectors corresponding to the eigenvalue of 1 for the $A$ and $B$ rotations.</p>

<p>After generating the data, I tested if my data collection was correct and I validated it by checking if $AX = XB$ for all of the $A$s and $B$s that I generated. I used the <a href="https://github.com/hengli/camodocal" rel="nofollow">CamOdoCal</a> library to try and solve the problem but I got this -</p>

<pre><code>/hand_eye_calib_node    : 
[ 0.00196822,   -0.457069,    0.889429,    0.143463;
   -0.999965, -0.00813605, -0.00196822,    -1.74257;
  0.00813605,   -0.889394,   -0.457069,   0.0270069;
           0,           0,           0,           1]

----------------------------------------

/hand_eye_calib_node    : Actual transform
    0         0         1   0.08891
   -1         0         0 -0.070465
    0        -1         0   0.07541
    0         0         0         1
</code></pre>

<p>The actual transform is the one that I had based my $A$ and $B$ data on. Then I tried implementing the <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=34770" rel="nofollow">Tsai-Lenz</a> and <a href="https://hal.inria.fr/inria-00590039/document" rel="nofollow">Horaud and Dornaika's Nonlinear optimization techniques</a> using LM solver but to no avail. I do not get the correct transformation out of any of the solvers.</p>

<p>So, I was wondering if you could point me to a hand eye calibration library or paper that has worked.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7953" data-toggle = "popover">
				<p>user name : Nandan Banerjee</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-7953">{'None': 0, 'kinematics': 6, 'calibration': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7953">Load Comments</button></br>
			<div id = "commentsection-7953" class = 'collapse'>
			<div id = "comment-18260" class = "comment">
				<p>Welcome to *Robotics* NandanBanerjee, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to include details of what you want to achieve, **what you tried, what you saw & what you expected to see**. Please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			<div id = "comment-18261" class = "comment">
				<p>Specifically, what is your test setup? What test did you perform? Did you include rotation? What are your outputs? How are you calculating the "actual transform"?</p>
			</div>
			<div id = "comment-19166" class = "comment">
				<p>For those that come across this I answered a similar question in great detail at https://robotics.stackexchange.com/questions/7163/hand-eye-calibration and a ROS solver can be found at at https://github.com/jhu-lcsr/handeye_calib_camodocal</p>
			</div>
			</div>
				<textarea id = "speech-7953" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7953">
					<img id="start_img-7953" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7953">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8200"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8200" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From your data, it is not obvious where the issue is. Can you give more details?</p>

<p>Here is a commonly used hand eye calibration routine written in Matlab:
<a href="http://lazax.com/www.cs.columbia.edu/~laza/html/Stewart/matlab/handEye.m" rel="nofollow">http://lazax.com/www.cs.columbia.edu/~laza/html/Stewart/matlab/handEye.m</a></p>

<p>(Note that you also need to download the helper function <code>quat2rot.m</code> from the same directory.)</p>

<p>It implements the Tsai-Lenz method.</p>

<p>Generally, a common mistake in hand eye calibration is to provide inverse transformations.
Maybe you re-run your routine with one set of transformations inverted?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8200" data-toggle = "popover">
				<p>user name : SpamBot</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-8200">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8200" class = 'collapse'>
			</div>
				<textarea id = "speech-8200" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8200">
					<img id="start_img-8200" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8200">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>