<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Hand-eye calibration?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9597" class = "post">
			<h2>Question</h2>
			<div id="vote-9597" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 101</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Hand-eye calibration?</h2>
<p>I am having an issue with some hand-eye calibration. </p>

<p>So i am using a simple robot which at its tool point has an stereo camera mounted on it. </p>

<p>I want to perform some visual serving/tracking based stereo images extracted from the camera in the "hand". The camera provides me x,y,z coordinates of the object I want to track. </p>

<p>I can at all time extract an homogenous transformation matrix from base to tool (not cam) as <code>(T_tool_base)</code>. </p>

<p>Firstly... I guess i would need perform some form of robot to (vice versa) camera calibration, My idea was that would consist of something like this </p>

<pre><code>T_base_world = (T_base_tool) (T_tool_cam) (T_cam_world) 
</code></pre>

<p>Where the T_tool_cam would entail the calibration... since the camera is at the tool point, would that entail the T_tool_cam should entail information on how much the camera is displaced from the tool point, and how it is rotated according to the tool point? or is not like that?</p>

<p>secondly... How do i based purely x,y,z coordinate make an homogeneous transformation matrix, which includes an rotation matrix ?</p>

<p>thirdly.. Having a desired Transformation matrix which in theory this     </p>

<pre><code>T_base_world = (T_base_tool) (T_tool_cam) (T_cam_world) 
</code></pre>

<p>would provide me, would an inverse kinematics solution provide me with one or multiple solution?... In theory should this only provide me one, or what?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9597" data-toggle = "popover">
				<p>user name : Carlton Banks</p>
				<p> user reputation : 102</p>
				<p class = "tagcontent" id = "usertaginfo-9597">{'control': 1, 'None': 0, 'inverse-kinematics': 11, 'frame': 2, 'joint': 1, 'visual-servoing': 1, 'kinematics': 2, 'robotic-arm': 5, 'jacobian': 5, 'rotation': 0, 'motion-planning': 2, 'forward-kinematics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9597">Load Comments</button></br>
			<div id = "commentsection-9597" class = 'collapse'>
			<div id = "comment-16983" class = "comment">
				<p>All your ideas are correct, though you are really talking about a base->object transform. Calibration is an additional step where you measure and include in your transform the error between an ideal and actual. Assuming a rigid connection between tool and cam, inverse kinematics will remain the same with the same number of solutions as base_tool.</p>
			</div>
			<div id = "comment-16984" class = "comment">
				<p>...How do I make a T_matrix from the camera to object?</p>
			</div>
			<div id = "comment-19167" class = "comment">
				<p>For those that come across this [I answered a question in great detail where Hand Eye Calibration is explained](https://robotics.stackexchange.com/questions/7163/hand-eye-calibration). 

I also created a [tool that lets you find the hand eye calibration using ROS](https://github.com/jhu-lcsr/handeye_calib_camodocal).</p>
			</div>
			</div>
				<textarea id = "speech-9597" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9597">
					<img id="start_img-9597" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9597">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9598"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9598" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If $x, y, z$ are the coordinates of the object in the camera frame, then the camera to object transform will be:
$$\begin{pmatrix}1 &amp; 0 &amp; 0 &amp; 0\\ 0 &amp; cos\theta &amp; -sin\theta &amp; 0\\
0 &amp; sin\theta &amp; cos\theta &amp; 0\\
0 &amp; 0 &amp; 0 &amp; 1\\ \end{pmatrix}
\begin{pmatrix}0 &amp; 0 &amp; 0 &amp; x\\ 0 &amp; 0 &amp; 0 &amp; y\\
0 &amp; 0 &amp; 0 &amp; z\\
0 &amp; 0 &amp; 0 &amp; 1\\ \end{pmatrix}
$$</p>

<p>The tool->cam transform includes a single rotation about the $x$ axis of the tool by $\theta$ from the tool frame to the camera frame, followed by the camera to object transform.</p>

<p>Rotation of the object is unaccounted for.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9598" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9598">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9598">Load Comments</button></br>
			<div id = "commentsection-9598" class = 'collapse'>
			<div id = "comment-16985" class = "comment">
				<p>So lets say if the cam is rotated + 90 degrees in the y or x axis how would you add that?</p>
			</div>
			<div id = "comment-16986" class = "comment">
				<p>and how about the camera transformation matrix?</p>
			</div>
			<div id = "comment-16987" class = "comment">
				<p>http://www.cs.brandeis.edu/~cs155/Lecture_07_6.pdf</p>
			</div>
			<div id = "comment-16988" class = "comment">
				<p>You combine matrices (transforms) by multiplying them together. You can create a single transform by multiplying together a sequence of simple transforms.</p>
			</div>
			<div id = "comment-16990" class = "comment">
				<p>Ahh.. Ok, I will try and test it and see how it performs.. 
How would you perform the robot to camera calibration. It sound like you want to do some test or ?</p>
			</div>
			<div id = "comment-16991" class = "comment">
				<p>Search for 'kinematic calibration' to start learning.</p>
			</div>
			</div>
				<textarea id = "speech-9598" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9598">
					<img id="start_img-9598" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9598">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>