<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Harmonic drives in hobby projects
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10680" class = "post">
			<h2>Question</h2>
			<div id="vote-10680" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 510</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Harmonic drives in hobby projects</h2>
<p>After a fair bit of research into industrial robot arms I've learned that a lot of them use components like harmonic drives and sometimes cycloidal gearboxes. </p>

<p>Two main questions:</p>

<ol>
<li><p>How feasible are these for use in a hobby project? I do have several thousand dollars at my disposable to build a 6 DOF arm. Arm goals at a glance: 1m total reach, 5kg payload, reasonable speed.</p></li>
<li><p>What sources would you recommend? Online the sites seem very specialized, gotta go through sales reps, etc, which kind of worries me regarding the prices lol. Plus for Harmonic Drives I only found one <a href="http://www.harmonicdrive.net/" rel="nofollow">vendor</a>.</p></li>
</ol>

<p>Side/related question: would buying from China work out alright or would I not get what I'm looking for (namely: good torque at &lt;1 arcmin backlash)? <a href="https://www.alibaba.com/product-detail/eccentric-reducer-harmonic-cyclo-drive-gearbox_60452661408.html?spm=a2700.7724838.0.0.zLjRsc&amp;s=p" rel="nofollow">E.g</a>. 
Another <a href="https://www.alibaba.com/product-detail/CORT-cycloidal-gearbox_60461333055.html?spm=a2700.7724838.0.0.VDo3Ga" rel="nofollow">example</a>.</p>

<p>--</p>

<p>I have little experience with this technology (precision eccentric gearing), but would definitely like to explore it and purchase test equipment to construct a basic arm. Thanks for any help, looking for a decent starting point.</p>

<p>EDIT -- I would like to use one of these special gearboxes with a NEMA stepper motor if possible (and if it saves cost) since we have a bunch of those lying around, heh.</p>

<p>EDIT2 -- Curious if this item would actually have some sort of strain wave gearing inside of <a href="https://www.aliexpress.com/item/3-jaw-Chuck-50mm-CNC-4th-axis-harmonic-drive/32662064833.html?ws_ab_test=searchweb201556_0,searchweb201602_2_10057_10056_10065_10037_10068_10055_10054_10069_301_10059_10058_10032_10073_10017_10070_10060_10061_10052_10062_10053_10050_10051,searchweb201603_1&amp;btsid=a049019b-cd21-4e8d-b9a4-32cd43c5723f" rel="nofollow">it</a>.</p>

<p>If so this seems very affordable and could provide decent precision on part of a robot arm.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10680" data-toggle = "popover">
				<p>user name : JDS</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-10680">{'servomotor': 0, 'None': 1, 'force': 1, 'motor': 10, 'power': 3, 'servos': 0, 'torque': 5, 'gearing': 5, 'industrial-robot': 4, 'dh-parameters': 6, 'robotic-arm': 17, 'actuator': 4, 'rotation': 2, 'forward-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10680">Load Comments</button></br>
			<div id = "commentsection-10680" class = 'collapse'>
			<div id = "comment-19229" class = "comment">
				<p>Contact sales reps. They are highly trained and have seen a lot of applications. They can definitely help you and recommend you the most well suited product from their portfolio. Contact more of them (2-3) form different manufacturers to see what the costs are. I do not have experience with alibaba.com (hence this is a comment and not an answer)</p>
			</div>
			<div id = "comment-19233" class = "comment">
				<p>Note "Harmonic drive" is actually a trade mark, I believe. Other makers will probably use the name "Strain wave gearing" or similar. Googling for makers of these turns up companies like [SWG Solutions](http://www.swgsolutions.com/products-catalog/) and [Conedrive](http://conedrive.com/Products/Harmonic-Solutions/custom-harmonic-solutions.php) - and no doubt there might be other specialists.</p>
			</div>
			<div id = "comment-19263" class = "comment">
				<p>Thanks guys, I have contacted a sales rep and hopefully when I see them I will have more info! If anyone's interested I can follow up and try answering some of my questions</p>
			</div>
			</div>
				<textarea id = "speech-10680" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10680">
					<img id="start_img-10680" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10680">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10682"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10682" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li>Two parts:

<ul>
<li>a) If we take into account the cost of harmonic drives and the fact that hobbyist projects aren't intended to make money (no revenue in return), harmonic drives aren't feasible at all for hobbyist projects. </li>
<li>b) Since you are willing to do build a hobbyist-grade robotic arm, I think it would be better if you define the desired specs of your arm then based on this you should start looking for components, or building your own</li>
</ul></li>
<li>I think answering point 2, should be done after you answer point 1-b.</li>
</ol>

<p>For a hobby poject I would always keep in mind the "cost" point, because a robotic arm that uses the same tech and at a similar price point as professional industrial ones is no longer a "hobby project".</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10682" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10682">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10682">Load Comments</button></br>
			<div id = "commentsection-10682" class = 'collapse'>
			<div id = "comment-19262" class = "comment">
				<p>Fair, I use the term "hobby project" to mean something I am building that's not making any money yet =) Still I would like to learn more about this technology. Does only 1 company (Harmonic Drive) sell these units? You mentioned that it's patented. I have another example product I was wondering about, can you please see my edit? Thanks!</p>
			</div>
			<div id = "comment-19264" class = "comment">
				<p>I have no idea what technology they are using. it is noted "... harmonic drive" it could be something else misnamed, or it could be a clone. a good idea would be to send them an email demanding more details. I hope I am helping.</p>
			</div>
			</div>
				<textarea id = "speech-10682" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10682">
					<img id="start_img-10682" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10682">Comment</button>
			<br><div id = "ans-10699"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10699" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The core reason for choosing harmonic drives is desire for zero backlash. Moreover, regarding mass and size, they become more beneficial for higher gear ratios as their size and mass do not scale for higher ratios. More specifically, they take up very little axial space and use only one stage of reduction. They are beneficial for high precision tasks and various difficult control tasks (such as balancing and walking). You first have to ask yourself if you have a high desire for these properties, because there is a price to pay...</p>

<p>Harmonic drives from the vendor you state are of high quality. They are precise, designed for a long lifespan and have good load/weight ratios. From experience, the price tag is approximately 1000 euros per harmonic drive for only the component set (consisting of the wave generator, circular spline and flex spline). Expect to pay more if you want a complete unit (i.e. including housing with input and output shafts and bearings). It is recommended to buy a full unit, because also the housing has high requirements (for instance, both input and output shafts have to be fixed axially and centered to high accuracy) and assembly is not trivial.</p>

<p>As someone already stated, "Harmonic Drives" is in fact trade marketed by the Harmonic Drive company. The principle mechanism is referred to as strain wave generator. You will certainly find more vendors with that name. Whereas it is quite possible that you pay slightly more for the name tag "Harmonic Drive", alarm bells should start ringing if the price is off by a full order of magnitude. Be sure to compare specifications, but also be cautious with them. Different companies use different standards for determining their load ratios; company A in country B may have more of a reputation and legal status to defend than company C in country D. Cheaper strain wave generators might be machined from soft (non-hardened) steel, machined with poor tolerances and may use slightly different principles that use more and smaller parts. As for the latter, the elliptically shaped bearing in the wave generator could for instance be replaced by two ordinary ball bearings, lowering the quality. All could lead to increase of backlash, periodic wobble, lower load ratings, reduced life span and lower efficiency. At this point, it might be worth considering to step back to more common transmissions.</p>

<p>It is difficult to give a direct and quantified answer to your question, because we (or I, at least) simply have not tried all B-brands out there. You would have to buy and try.</p>

<p>To give you a short tldr answer to your main question: no, stay away from harmonic drives as a hobbyist, unless you have serious money and/or time to spend.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10699" data-toggle = "popover">
				<p>user name : JJM Driessen</p>
				<p> user reputation : 422</p>
				<p class = "tagcontent" id = "usertaginfo-10699">{'battery': 1, 'None': 22, 'driver': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10699">Load Comments</button></br>
			<div id = "commentsection-10699" class = 'collapse'>
			<div id = "comment-19275" class = "comment">
				<p>To corroborate: approximately \$1.5k for component sets, \$2.5k for gearboxes, and \$4k for actuators with motor and encoder included. +/-\$500 on those costs depending on the usual factors of quantity and negotiating skill. I know of one real test of Chinese knockoffs a couple years ago that found them to be not good enough quality (yet) to be worth the discount.</p>
			</div>
			<div id = "comment-19284" class = "comment">
				<p>Thanks for the comprehensive answer (and @hauptmech's comment too). Right now I am debating between trying out used/second hand components on Ebay which go from $150-$400 or so (in my budget on a per-actuator basis) or even try out a "CNC 4th axis" from China that claims to use harmonic drives (some vendors claim they build them from second-hand HD gears as well). Any ideas or advice with this, or is it more of a "try it and see" at this point? Thanks again.</p>
			</div>
			<div id = "comment-19298" class = "comment">
				<p>@JDS Yes, I'm afraid that I cannot give you much more than a "try it and see" at this point. Second hand... You know very little about how the units have been treated. For all you know they have been forcefully removed from their assemblies, and sellers probably have their reasons for getting rid of the units after all. Then again, the reason might be "as silly as" safety regulations (x cycles reached), and it could turn out that it still works perfectly fine for something as trivial as a domestic robot arm. Perhaps that looking into the seller's whereabouts &  reputation will get you further.</p>
			</div>
			<div id = "comment-19303" class = "comment">
				<p>Uh oh you're making me sound scared, but it's a reputable seller that trades lots of CNC parts, so hopefully this works out OK... I'll know Monday. They are CSF-17-100 units, I got 2 on sale, and will be mounting to my NEMA24's since they have matching 8mm input diameter. Then I'll pick up a few aluminum channels and machine together a simple arm to see how they move! Somewhat excited. But worried too: if this ends up working well for my purposes and I need to make more at the same cost... I don't think I can rely on second hand components!</p>
			</div>
			</div>
				<textarea id = "speech-10699" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10699">
					<img id="start_img-10699" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10699">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>