<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>has anyone got their free merchandise yet?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-661" class = "post">
			<h2>Question</h2>
			<div id="vote-661" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 197</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>has anyone got their free merchandise yet?</h2>
<p>A while ago I got an email explaining that I was in the top 100 (or something) users and would receive some free stuff like a shirt and stickers if I filled in a form (which I did).</p>

<p>I would just like to know if anyone has got theirs or if they have not been sent yet. I'm not being picky, just that we are moving house and I would like to know whether I should be nagging the new residents for my parcel :-) I got some StackOverflow stuff a while back too and its among my favourite shirts, so can't wait for this one :-)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-661" data-toggle = "popover">
				<p>user name : Nippysaurus</p>
				<p> user reputation : 2662</p>
				<p class = "tagcontent" id = "usertaginfo-661">{'None': 1, 'support': 1, 'discussion': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-661" class = 'collapse'>
			</div>
				<textarea id = "speech-661" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-661">
					<img id="start_img-661" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-661">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-662"  class = "post">
				<h2>Answer</h2>
			<div id="vote-662" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have not, and I do hope they let us know when they send it out because the building I live in often does not tell me when a package has arrived for me - I more or less have to know about it and keep checking with the desk.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-662" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-662">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-662">Load Comments</button></br>
			<div id = "commentsection-662" class = 'collapse'>
			<div id = "comment-1258" class = "comment">
				<p>Any idea if we can change the address? I'm going to be in San Francisco for the next two months and I have put my EU address; no one is going to be there for the next two months :(</p>
			</div>
			<div id = "comment-1259" class = "comment">
				<p>@Martin Ask Abby, it might not be too late</p>
			</div>
			</div>
				<textarea id = "speech-662" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-662">
					<img id="start_img-662" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-662">Comment</button>
			<br><div id = "ans-663"  class = "post">
				<h2>Answer</h2>
			<div id="vote-663" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe nothing's been sent yet. I'll check in with the sender tomorrow morning and report back.</p>

<p>Reporting back!<br>
The swag should be going out by the end of this week. The goods'll be shipped via USPS flat rate, which will take up to two weeks for domestic destinations. For international destinations... your guess is as good as ours.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-663" data-toggle = "popover">
				<p>user name : hairboat</p>
				<p> user reputation : 1322</p>
				<p class = "tagcontent" id = "usertaginfo-663">{'osx': 22, 'None': 10, 'discussion': 100, 'status-completed': 6, 'sponsorship': 8, 'exact-duplicates': 3, 'lion': 9, 'twitter': 6, 'site-promotion': 72}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-663">Load Comments</button></br>
			<div id = "commentsection-663" class = 'collapse'>
			<div id = "comment-1200" class = "comment">
				<p>Thanks Abby :-)</p>
			</div>
			<div id = "comment-1216" class = "comment">
				<p>Thanks, I'm waiting too!</p>
			</div>
			<div id = "comment-1260" class = "comment">
				<p>@Abby i've completed the Google Doc, but turns out that I've since moved to SF for two months and I won't be at home in EU. Any chance to change the address? Thanks .:)</p>
			</div>
			<div id = "comment-1261" class = "comment">
				<p>@Martin no problem - email me your new address.</p>
			</div>
			<div id = "comment-1265" class = "comment">
				<p>@Abby - done, thanks :)</p>
			</div>
			<div id = "comment-1367" class = "comment">
				<p>Was wondering if there was any update to this?</p>
			</div>
			<div id = "comment-1404" class = "comment">
				<p>I'm still looking for an update also... I received the email, filled out the form, but haven't received anything yet. Has everyone else...?</p>
			</div>
			<div id = "comment-1406" class = "comment">
				<p>I'm wondering that [the original post](http://meta.apple.stackexchange.com/q/565/650) is dated Jun 21 and you say it'll get sent in August. Did it really take >5 weeks from announcement to shipping? If so, I'm not surprised that it hasn't arrived yet. I'm waiting patiently - no problem. Just wondering what's going on in the mail room :)</p>
			</div>
			<div id = "comment-1410" class = "comment">
				<p>@Abby Are you going to notify people if you get a package back? It's been a month since you said it should be two weeks (I'm US domestic). I'm in Kyle's position (from his answer) that I'm rarely notified if I receive a package, so I need to check the post office. Are there any updates?</p>
			</div>
			<div id = "comment-1411" class = "comment">
				<p>@CajunLuke I will indeed... however, our packages ship from an external warehouse, so it could be some time before I get wind of anything.</p>
			</div>
			<div id = "comment-1412" class = "comment">
				<p>@Abby Thanks. (length)</p>
			</div>
			<div id = "comment-1413" class = "comment">
				<p>Swag arrived in NY! Thanks!</p>
			</div>
			<div id = "comment-1415" class = "comment">
				<p>I think mine may have come yesterday - got a call to where it was shipped too that it seemed like a tshirt had arrived.</p>
			</div>
			<div id = "comment-1422" class = "comment">
				<p>Friday delivery in Minneapolis, MN.</p>
			</div>
			<div id = "comment-1424" class = "comment">
				<p>Picked up package today! Thanks!</p>
			</div>
			<div id = "comment-1430" class = "comment">
				<p>Mine just arrived today in western NC. Thanks StackExchange!</p>
			</div>
			<div id = "comment-1434" class = "comment">
				<p>I just got mine in Oakland, CA. Thanks a bunch!</p>
			</div>
			<div id = "comment-1533" class = "comment">
				<p>I've not received mine yet...</p>
			</div>
			</div>
				<textarea id = "speech-663" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-663">
					<img id="start_img-663" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-663">Comment</button>
			<br><div id = "ans-775"  class = "post">
				<h2>Answer</h2>
			<div id="vote-775" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I did! My swag arrived a short while ago. Thanks to the whole team for making StackExchange into an awesome places for an awesome community!</p>

<p><strong>EDIT:</strong></p>

<p>Here's some photos. (I forgot to tag a photo of the "unboxing", and I was too lazy to take off the tee shirt, so there's two photos instead of one with everything in it.)</p>

<p><img src="https://i.stack.imgur.com/gLNWo.jpg" alt="Apple.SE Tee shirt">
<img src="https://i.stack.imgur.com/Zy5e3.jpg" alt="Apple.SE swag"></p>

<p><strong><em>Thanks so much!</em></strong></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-775" data-toggle = "popover">
				<p>user name : Moshe</p>
				<p> user reputation : 4663</p>
				<p class = "tagcontent" id = "usertaginfo-775">{'None': 9, 'discussion': 1, 'status-completed': 26, 'feature-request': 26, 'status-bydesign': 4, 'bug': 4, 'site-promotion': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-775">Load Comments</button></br>
			<div id = "commentsection-775" class = 'collapse'>
			<div id = "comment-1421" class = "comment">
				<p>Mine arrived Friday I think to Minneapolis. Will post pictures once a sticker is mounted somewhere other than my coffee table.</p>
			</div>
			<div id = "comment-1426" class = "comment">
				<p>Yay ... looking forward to getting mine :)</p>
			</div>
			</div>
				<textarea id = "speech-775" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-775">
					<img id="start_img-775" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-775">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>