<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Has a robot ever taken a complete IQ test?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1120" class = "post">
			<h2>Question</h2>
			<div id="vote-1120" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 825</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Has a robot ever taken a complete IQ test?</h2>
<p>And if so, what was the highest score so far?</p>

<p>Some news articles suggest only parts of tests were aced.</p>

<hr>

<p>Update since people censored this question and closed it. There was an AI that has taken an IQ test and scored similar to a 4 year old.</p>

<p><a href="http://phys.org/news/2015-10-ai-machine-iq-score-young.html" rel="nofollow">http://phys.org/news/2015-10-ai-machine-iq-score-young.html</a></p>

<blockquote>
  <p>The AI system which they used is ConceptNet, an open-source project run by the MIT Common Sense Computing Initiative.
  Results: It scored a WPPSI-III VIQ that is average for a four-year-old child, but below average for 5 to 7 year-olds</p>
</blockquote>

<h3>Abstract</h3>

<blockquote>
  <p>We administered the Verbal IQ (VIQ) part of the Wechsler Preschool and Primary Scale of Intelligence (WPPSI-III) to the ConceptNet 4 AI system. The test questions (e.g., "Why do we shake hands?") were translated into ConceptNet 4 inputs using a combination of the simple natural language processing tools that come with ConceptNet together with short Python programs that we wrote. The question answering used a version of ConceptNet based on spectral methods. The ConceptNet system scored a WPPSI-III VIQ that is average for a four-year-old child, but below average for 5 to 7 year-olds. Large variations among subtests indicate potential areas of improvement. In particular, results were strongest for the Vocabulary and Similarities subtests, intermediate for the Information subtest, and lowest for the Comprehension and Word Reasoning subtests. Comprehension is the subtest most strongly associated with common sense. The large variations among subtests and ordinary common sense strongly suggest that the WPPSI-III VIQ results do not show that "ConceptNet has the verbal abilities a four-year-old." Rather, children's IQ tests offer one objective metric for the evaluation and comparison of AI systems. Also, this work continues previous research on Psychometric AI. </p>
</blockquote>

<hr>

<p>Update. A robot has passed the Japanese college entrance test and has an 80% chance of being accepted. Since it scored more than the average, that would make the IQ > 100, especially since college applicants have an IQ greater than average, and especially since Japanese are smarter than average humans. <a href="http://gizmodo.com/an-ai-program-in-japan-just-passed-a-college-entrance-e-1742758286" rel="nofollow">http://gizmodo.com/an-ai-program-in-japan-just-passed-a-college-entrance-e-1742758286</a></p>

<blockquote>
  <p>The Wall Street Journal reports that the program, developed by Japan s National Institute of Informatics, took a multi-subject college entrance exam and passed with an above-average score of 511 points out of a possible 950. (The national average is 416.) With scores like that, it has an 8 out of 10 chance of being admitted to 441 private institutions in Japan, and 33 national ones.</p>
</blockquote>

			</div>
			<div class = "userinfosection"  id = "userinfo-1120" data-toggle = "popover">
				<p>user name : Chloe</p>
				<p> user reputation : 129</p>
				<p class = "tagcontent" id = "usertaginfo-1120">{'None': 0, 'artificial-intelligence': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1120">Load Comments</button></br>
			<div id = "commentsection-1120" class = 'collapse'>
			<div id = "comment-2577" class = "comment">
				<p>Unless you want the robot to fill in the form by hand, I think this is a "software-only" question. The idea of intelligent software is way broader than its usage in robotics. Interesting question though.</p>
			</div>
			<div id = "comment-11301" class = "comment">
				<p>This isn't a question regarding robotics.</p>
			</div>
			<div id = "comment-11335" class = "comment">
				<p>This question was asked 2 years ago, there has been adequate time to close.</p>
			</div>
			<div id = "comment-11586" class = "comment">
				<p>Should not be closed. Is on-topic according to help: "the writing algorithms for robotic systems".</p>
			</div>
			<div id = "comment-11598" class = "comment">
				<p>Sorry Chloe, but but I'm afraid that this kind of question isn't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*.</p>
			</div>
			</div>
				<textarea id = "speech-1120" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1120">
					<img id="start_img-1120" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1120">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1121"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1121" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To the best of my knowledge no robot has ever been subjected to an IQ test. This is in part because the IQ test is not considered a valid test of intelligence amongst. It was originally developed as a test to determine whether any given child needed special attention in school and was later altered to apply to adults. Since then it has been shown to really only measure awareness of social norms. Some have argued that this awareness is indicative of intelligence but it's not generally accepted. <a href="http://www.rolfpfeifer.com/" rel="nofollow">Dr. Rolf Pfeifer's</a> book <a href="https://www.google.com/search?client=ubuntu&amp;channel=fs&amp;q=understanding+intelligence&amp;ie=utf-8&amp;oe=utf-8" rel="nofollow">Understanding Intelligence</a> has a great discussion of this topic in chapter 1.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1121" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1121">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1121">Load Comments</button></br>
			<div id = "commentsection-1121" class = 'collapse'>
			<div id = "comment-2575" class = "comment">
				<p>I'm pretty sure it was originally developed to test military recruits to determine the best position for them. It doesn't just measure awareness of social norms neither. These are examples of the categories of questions on IQ tests: http://www.intelligencetest.com/questions/.</p>
			</div>
			<div id = "comment-2576" class = "comment">
				<p>That's not correct. The IQ test was created by Alfred Binet in the 19th century. The military didn't start using intelligence type tests until the 20th century (around WWI by most accounts).</p>
			</div>
			<div id = "comment-2586" class = "comment">
				<p>[Wikipedia](http://en.wikipedia.org/wiki/Intelligence_quotient#History) backs up @DaemonMaker in this regard. The French used mental aptitude tests first for judging mental development in children, but the military in World War I developed similar tests that eventually overtook Binet's in popularity. As for what it measures, the Wikipedia article nicely tried to avoid that subject as much as possible.</p>
			</div>
			</div>
				<textarea id = "speech-1121" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1121">
					<img id="start_img-1121" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1121">Comment</button>
			<br><div id = "ans-1127"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1127" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, there have been many AI programs written specifically to ace IQ tests. Like <a href="http://www.csse.monash.edu.au/~dld/Publications/2003/Sanghi+Dowe_IQ_Paper_JIntConfCogSci2003.pdf" rel="nofollow">this one</a> and <a href="http://www.futurepundit.com/archives/008514.html" rel="nofollow">this one</a>. I don't think there have been any <em>robots</em> (computer programs which control mechanical components) which have been administered an IQ test, but, TBH, you don't <em>need</em> a robot for this -- just a program.</p>

<p>Update: looks like I'm wrong, <a href="http://users.dsic.upv.es/~flip/papers/IQnotuniversal.pdf" rel="nofollow">this 2012 paper</a> says (I've only skimmed) that while AI may be able to be written to solve certain types of IQ problems, others are beyond our current reach.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1127" data-toggle = "popover">
				<p>user name : Manishearth</p>
				<p> user reputation : 1068</p>
				<p class = "tagcontent" id = "usertaginfo-1127">{'underwater': 30, 'None': 53, 'protection': 64, 'motor': 64, 'auv': 30, 'actuator': 11}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1127">Load Comments</button></br>
			<div id = "commentsection-1127" class = 'collapse'>
			<div id = "comment-2591" class = "comment">
				<p>The second example is not representative. They claim "IQ tests are based on two types of problems: progressive matrices, which test the ability to see patterns in pictures, and number sequences, which test the ability to see patterns in numbers." when there are many other types of questions: http://www.intelligencetest.com/questions/. I believe this program is referenced in the top hit in Google as a news article, but that didn't answer my question so that is why I asked here. I'll have to spend more time reading your 1st answer.</p>
			</div>
			<div id = "comment-2592" class = "comment">
				<p>1st example: I jumped to the conclusion: "Although some human pre-processing
admittedly takes place with some forms of questions, it
should be emphasised (see Section 3) that both viable
improvements in the parser(s) and an increase in the
number of question forms attempted should enhance the
program sscorewhilereducingoreveneliminating
human pre-processing requirements." I consider human pre-processing cheating. I would like to know what it would score without ANY help, even if it is very low.</p>
			</div>
			<div id = "comment-2593" class = "comment">
				<p>1st example: "The aim of picture question is to check for pattern
recognition. It will be hard for a program to solve
picture questions (see, e.g., Figure 1)." Yes, I want to test the robot for that too! I want it to test it and see if it understands the questions, and if it can analyze pictures as well. What kind of score would it get then?</p>
			</div>
			<div id = "comment-2594" class = "comment">
				<p>@Chloe it really depends. In the end, One can roughly categorize IQ problems into various types, and one can write an AI for each. Paper 1, after all, seems to have been a student project (which is why it was so limited). It wouldn't be hard to make a good IQ test AI with a fair amount of resources at your disposal.</p>
			</div>
			<div id = "comment-2595" class = "comment">
				<p>See edit. I was wrong.</p>
			</div>
			<div id = "comment-2596" class = "comment">
				<p>That's what I thought. So what score would it get if it did the parts it could and guessed the parts it can't? I'm guessing 30.</p>
			</div>
			<div id = "comment-2597" class = "comment">
				<p>@chloe You seem to have the impression that there's one type of IQ test. There are many, with widely different patterns. I'd say that on average, a computer can probably reach human levels (70+) but not much more. 30 is 4 sigmas down, a bit much.</p>
			</div>
			</div>
				<textarea id = "speech-1127" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1127">
					<img id="start_img-1127" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1127">Comment</button>
			<br><div id = "ans-1197"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1197" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just FYI since this is not about exactly the <code>IQ</code> test and also this might be more suitable for computer science community, but Japanese researchers have started a project "<a href="http://blogs.wsj.com/japanrealtime/2012/09/12/can-a-robot-get-into-japans-most-prestigious-university/" rel="nofollow">Can a Robot Pass the University of Tokyo Entrance Exam?</a>" where by 2021 they aim to achieve the goal.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1197" data-toggle = "popover">
				<p>user name : IsaacS</p>
				<p> user reputation : 190</p>
				<p class = "tagcontent" id = "usertaginfo-1197">{'visualization': 12, 'None': 1, 'servomotor': 0, 'untagged': 0, 'dynamixel': 0, 'gps': 12}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1197">Load Comments</button></br>
			<div id = "commentsection-1197" class = 'collapse'>
			<div id = "comment-11293" class = "comment">
				<p>It gets a 60% score. It's a start. I wonder what IQ that translates too? 50?</p>
			</div>
			<div id = "comment-13723" class = "comment">
				<p>It has gotten a passing score now which is enough to be accepted to 80% of universities. http://gizmodo.com/an-ai-program-in-japan-just-passed-a-college-entrance-e-1742758286</p>
			</div>
			</div>
				<textarea id = "speech-1197" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1197">
					<img id="start_img-1197" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1197">Comment</button>
			<br><div id = "ans-7777"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7777" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've created an AI, which solves given IQ tests. You may test it on <a href="http://iqsolver.eu" rel="nofollow">http://iqsolver.eu</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7777" data-toggle = "popover">
				<p>user name : user1848072</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7777">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7777">Load Comments</button></br>
			<div id = "commentsection-7777" class = 'collapse'>
			<div id = "comment-11339" class = "comment">
				<p>Can you provide more information regarding this site? At a glance, it looks like a spam link, but I did follow it and it appears to solve the "find the next number in a sequence" style test.</p>
			</div>
			<div id = "comment-18685" class = "comment">
				<p>It solves exactly this kind of test. More informatation about it and comparison with other such programs may be found at: http://iqsolver.blogspot.com/2015/09/comparison-with-other-solvers.html</p>
			</div>
			</div>
				<textarea id = "speech-7777" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7777">
					<img id="start_img-7777" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7777">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>