<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Having a hard time understanding this equation in monocular EKF SLAM
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9321" class = "post">
			<h2>Question</h2>
			<div id="vote-9321" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 239</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Having a hard time understanding this equation in monocular EKF SLAM</h2>
<p>Reading this paper on <a href="http://e-collection.library.ethz.ch/eserv/eth:48374/eth-48374-01.pdf" rel="nofollow noreferrer">visual odometry</a>, where they have used a bearing vector to parameterize the features. I am having a hard time understanding what the state propagation equation for the bearing vector term means :</p>

<p><a href="https://i.stack.imgur.com/dK7d8.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/dK7d8.png" alt="Bearing vector and inverse depth parametrization"></a></p>

<p>The vector N is not mentioned in the equations, so its not very clear what it does. Would really appreciate if someone would help me understand it :)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9321" data-toggle = "popover">
				<p>user name : rookie</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-9321">{'None': 0, 'localization': 3, 'ekf': 5, 'mapping': 3, 'slam': 3, 'navigation': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9321" class = 'collapse'>
			</div>
				<textarea id = "speech-9321" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9321">
					<img id="start_img-9321" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9321">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9322"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9322" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The text says:</p>

<blockquote>
  <p>[...] where $N^T (\mu)$ linearly projects a 3D vector onto the 2D
  tangent space around the bearing vector $\mu$ [...]</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9322" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-9322">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9322">Load Comments</button></br>
			<div id = "commentsection-9322" class = 'collapse'>
			<div id = "comment-16521" class = "comment">
				<p>Yes, but I am not able to get an intuitive understanding of what that means, plus how the equation comes up with those three terms, i.e. relating bearing vector with w and v and w(u,i)</p>
			</div>
			<div id = "comment-16560" class = "comment">
				<p>Maybe you could rephrase your question accordingly.</p>
			</div>
			</div>
				<textarea id = "speech-9322" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9322">
					<img id="start_img-9322" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9322">Comment</button>
			<br><div id = "ans-11154"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11154" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It appears to me that the notation represents taking an arbitrary 3-vector, applying a rotation matrix to the 3-vector based on the bearing 3-vector, and then removing one of the dimensions of the result.  If the arbitrary 3-vector and the bearing 3-vector are the same, then the result of the rotation should be [ 1 0 0 ], and the first coordinate would be removed, since the projection of that vector onto the plane orthogonal to it is zero.  For an arbitrary 3-vector, you get the components of the projection onto a plane that is normal to the bearing 3-vector.</p>

<p>As to how to compute the rotation matrix based on the bearing 3-vector, I would defer to the following:</p>

<p><a href="https://math.stackexchange.com/questions/114512/how-to-find-the-orthonormal-transformation-that-will-rotate-a-vector-to-the-x-ax">https://math.stackexchange.com/questions/114512/how-to-find-the-orthonormal-transformation-that-will-rotate-a-vector-to-the-x-ax</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11154" data-toggle = "popover">
				<p>user name : mikeTronix</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-11154">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11154" class = 'collapse'>
			</div>
				<textarea id = "speech-11154" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11154">
					<img id="start_img-11154" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11154">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>