<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Heading and Yaw Rate Measurements
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10469" class = "post">
			<h2>Question</h2>
			<div id="vote-10469" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 229</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Heading and Yaw Rate Measurements</h2>
<p>I am working in the field of automated vehicles mainly in the domain of passenger and commercial vehicles. I have been studying whatever I can get regarding the measurement the state (relative position, relative velocity, relative heading and roation, a.k.a. yaw rate) of surrounding objects especially other vehicles using sensors.</p>

<p>While everything else is possible to measure precisely using on-board sensors, I have found out that not much literature is available for measuring the vehicle heading and yaw rate <strong><em>of other vehicles</em></strong> which is baffling to me given the extreme precision of laser based sensing (albeit using time stamps).</p>

<p>I am looking for:</p>

<ol>
<li><p>Reference to literature with experiments for estimation of yaw rate and vehicle heading.</p></li>
<li><p>As I can see from the literature available (or the lack thereof), no direct way of measuring yaw rate is available but by using LIDAR or Camera with consecutive time stamps or scans of data. However, this inherently requires the data to be correct. Hence, I would think that due to the inaccuracies involved, this method is not used! Is this correct?</p></li>
<li><p>Are there any commercially available sensors that give accurate heading and yaw rate information <strong><em>of other vehicles</em></strong>?</p></li>
</ol>

<p>Sources and research papers would be most welcome!</p>

<p>Edit: By <strong>this inherently requires the data to be correct</strong> I mean, given the high sensitivity to error in heading or yaw rate at high vehicle speeds, the values computed using sensor information is not accurate enough to be put to use in practice!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10469" data-toggle = "popover">
				<p>user name : Zero</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10469">{'None': 0, 'localization': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10469">Load Comments</button></br>
			<div id = "commentsection-10469" class = 'collapse'>
			<div id = "comment-18839" class = "comment">
				<p>can you provide a source that talks about the difficulty of measuring yaw rate and heading? The sensors in Chuck's answer should be more than adequate.</p>
			</div>
			<div id = "comment-18842" class = "comment">
				<p>@holmeski I am talking about the vehicle in front of me. I want to get the heading and yaw rate of the preceding vehicle using sensors placed on my vehicle. Like you get the relative distnace and velocity.</p>
			</div>
			<div id = "comment-18845" class = "comment">
				<p>@Chuck Yeah you are right, to an extent. I am not trying to fake autonomy but given the information ensure it using controllers. You are right about the lane chnage but the scenario I am working on does not have this problem...although this would be true for a general case... Also regarding the data correctness, I should have been more clear... What I mean by that is 'sufficient accuracy'...at higher speeds, sensitivity to orientation is very large for vehicle motion, so maybe an error of a few degrees given current sensors may prove detrimental...I think this is the reason I did not find any</p>
			</div>
			</div>
				<textarea id = "speech-10469" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10469">
					<img id="start_img-10469" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10469">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10476"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10476" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're looking for a heading sensor - do you mean a compass? Or is there something else you're looking for? A compass gives you an absolute measurement, and a gyroscope provides yaw rate information.</p>

<p>:EDIT:</p>

<p>OP clarified that the yaw angle and yaw rate of interest is that of <em>other</em> vehicles, specifically the vehicle in front of the controlled vehicle. </p>

<p>I'm not sure I understand why you even care about their heading, unless you're trying to fake autonomy by just copying what the car in front is doing. That's a dangerous assumption, though, as the car in front may change lanes when it is safe for them and not for you, may make turns and exit roads you don't want to, etc. </p>

<p>You also state (about yaw estimation from LIDAR and cameras) that "this requires the data to be correct," which is the problem with all sensors. This is why we use filters. Noise, measurement error, biases - these all degrade feedback and create erroneous feedback signals, which are then treated as "truth" and acted on by the system. </p>

<p>All sensors have flaws; it's up to you to know your sensor and compensate for those flaws accordingly. A gyroscope not only has noise and bias offsets, but also a <a href="https://en.wikipedia.org/wiki/Random_walk" rel="nofollow">random walk</a> that means the bias offset actually shifts over time, so even if you start out with a perfect measurement of the offset, that value changes and thus you still don't get a perfect feedback. </p>

<p>These problems exist even in weapons-grade (tactical) IMU sensors. The problem will likely be <em>worse</em> for LIDAR and camera-based systems, but again, it's always something you need to look out for and correct yourself. </p>

<p>As with a lot of questions that get asked here, it seems that you've already talked yourself into a solution (calculate the yaw angle and rate of the car in front of you) and have come here trying to determine how to implement that solution. </p>

<p>My advice would be to give more context to the <em>problem you're trying to solve</em>, introduce your solution concept, then state the trouble you're having. In that way you can simultaneously get feedback on your method and also get suggestions for other ways to solve the problem. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10476" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10476">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10476">Load Comments</button></br>
			<div id = "commentsection-10476" class = 'collapse'>
			<div id = "comment-18841" class = "comment">
				<p>Thanks for the reply. :) I am not talking about my own vehicle but the preceding vehicle. So relative orientation of the preceding vehicle with respect to the body-fixed frame of my vehicle.</p>
			</div>
			<div id = "comment-18846" class = "comment">
				<p>Hey, my method is to store position information over time and generate a sufficiently smooth path out of it, and the, use this path to get heading and yaw rate information. I am looking for some commercially available sensors that can do it. I have found papers where they calculate vehicle heading using cameras and maybe they can also use consecutive time steps to get yaw rate. But my question is why has it not been done already? Is it because they cannot estimate it accurately enough to use on an actual vehicle?</p>
			</div>
			<div id = "comment-18847" class = "comment">
				<p>@Zero - As I mention in the post, I don't know *why* you (or anyone) would want to do it. What information does that get you? In a real-world scenario: nothing useful (see the comments about lane changes and ramp exits). So you found papers that calculate a heading of another vehicle, but it hasn't been *commercialized* because there isn't any *market* because it doesn't get you any useful information (that I can tell, at least - you still haven't clarified what your end-use case is).</p>
			</div>
			<div id = "comment-18850" class = "comment">
				<p>@Chuck...Honestly I can think of a lot of reasons why one would require heading information. But in any case, my priority is yaw rate. The only reason I was taking about heading was to use time stamps of heading information to calculate yaw rate. I would welcome any suggestion for measurement of yaw rate of the preceding vehicle. To tell you why I need it, I can use it as a feedforward for my vehicle. Thanks for the scrutiny though ;)</p>
			</div>
			</div>
				<textarea id = "speech-10476" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10476">
					<img id="start_img-10476" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10476">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>