<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Help for Cracking Robotics Interview
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6467" class = "post">
			<h2>Question</h2>
			<div id="vote-6467" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1316</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Help for Cracking Robotics Interview</h2>
<p>I am studying electronics engineering. I am fond of robots since my childhood. I have small doubt i.e. if I want to get placed in
robotics and automation based company ,what should I must study(reference books/softwares etc) perticularly for cracking an interview ? In simple words,as Electronics Engineer what other specific skills (like embedded C programming etc) should I go through?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6467" data-toggle = "popover">
				<p>user name : sagar</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6467">{'control': 0, 'None': 0, 'microcontroller': 0, 'electronics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6467">Load Comments</button></br>
			<div id = "commentsection-6467" class = 'collapse'>
			<div id = "comment-9335" class = "comment">
				<p>Way too broad a question. There is more than one type of robotics company. Split it between mechanical engineering, electrical engineering, or software engineering for starts.</p>
			</div>
			<div id = "comment-9344" class = "comment">
				<p>@Spiked3 sir,tell related to electronics engineering</p>
			</div>
			</div>
				<textarea id = "speech-6467" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6467">
					<img id="start_img-6467" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6467">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6484"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6484" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Consider looking into SCADA systems. Factory automation and industrial controls are often based on SCADA technologies and protocols.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6484" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-6484">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6484" class = 'collapse'>
			</div>
				<textarea id = "speech-6484" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6484">
					<img id="start_img-6484" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6484">Comment</button>
			<br><div id = "ans-6507"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6507" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As a professional robotics engineer (with an Electrical and Computer Eng bachelors, although I focused more on the CE side), this depends entirely on what aspect of a robotic system you'd like to work on. Robots are interdisciplinary systems by definition, and you will always need a team with a broad skill-set to build one. That being said, there are places on that team for people who become experts in a single discipline as well as people who have a working knowledge in all areas of robotics. If you find that you love to work on something specific: such as small embedded systems that are operating with limited CPU power via a microcontroller, then learning C and understanding Assembly (and how to use your knowledge of it to optimize C code) would be ideal. Another example where EE skills are very applicable is in buliding the sensors that generate data to drive autonomous tasks, such as a stereo camera, LIDAR, RADAR, IMU, gyroscope, GPS, proximity sensors, etc. Again, you would be focused on one area of hardware development, and not really building robotic systems. You'd be building a component used in a robotic system.</p>

<p>My passion, and what I often work on, is at a higher systems level. For example, I work on Unmanned Ground Vehicles (UGVs), and these can have multiple motherboards installed with state-of-the-art processors (a platform I currently work on has 2 i7 quad core CPUs). As a result, I'm running Ubuntu and developing in C++. If working on larger systems like UAVs, autonomous cars, etc. interests you, then I would highly recommend C++. For advanced autonomy tasks like building perception systems for 3D reconstruction from a stereo camera and path planners that model vehicle dynamics and do forwards physics simulations, everything I've written has been in C++. The only time I've used C at work (and I never needed to optimize Assembly for my purposes) was when I wrote low-level control code for the drive-by-wire system on a UGV, which was developed on a Raspberry Pi. In fact, most of what I developed here was still in C++, but I was provided with some libraries written in C to interface with a custom daughterboard for the Raspberry Pi (that one of our EE experts designed) which interfaced with the actuators and sensors installed on the vehicle.</p>

<p>Specifically for an interview, I would suggest showing the passion that you have for your work. In my experience, it's very difficult to judge a person's technical capabilities in a single interview, especially for students who are in the process of learning their trade. If you show that you love what you're doing (bonus points if you can show that you code/design PCBs/etc in your spare time), then most employers will latch onto your enthusiasm and come to the conclusion that you have great potential because you are the type of person that will learn quickly. In this respect, you become an investment that the employers are happy to make. If you had years of experience in the work force, that's when I would start to think about what you know, instead of what you can learn and become on the job.</p>

<p>Edit: Forgot to mention, developing your own side projects with ROS and OpenCV would give you some fantastic experience for some more advanced software-related robotics skills. You can of course build your own mechanical platform and integrate whatever sensors/electronics you'd like for a full interdisciplinary experience from which you'd learn a lot. For example, go build a robot from scratch that can follow a yellow object you hold in front of it, like a dog and a bone!</p>

<p><a href="http://www.ros.org/" rel="nofollow">http://www.ros.org/</a>
<a href="http://opencv.org/" rel="nofollow">http://opencv.org/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6507" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-6507">{'None': 54}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6507">Load Comments</button></br>
			<div id = "commentsection-6507" class = 'collapse'>
			<div id = "comment-21246" class = "comment">
				<p>+1 Also, I would love mentioning that some people misunderstand about C, C++ etc. After writing some fibonacci program or so, they feel like they 'know' C/C++ although nothing much will be known about compilation, make, libraries etc. I was told the same with TurboC some five-six years ago and I was feeling the same too. Knowing how to use things like Raspberry Pi practically by facing couple of practical issues (like current) etc is how I assess how much I know. May-be this point can be included - many of us feel like we know although 'depth' is dubitable. (yes simple; yet lazy)</p>
			</div>
			</div>
				<textarea id = "speech-6507" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6507">
					<img id="start_img-6507" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6507">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>