<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Help! My computer doesn't work
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-890" class = "post">
			<h2>Question</h2>
			<div id="vote-890" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 160</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Help! My computer doesn't work</h2>
<p>My computer hardware and/or software is not working the way I want it to.</p>

<p>What information should I be sure to include in a post on Ask Different in order to enable people provide helpful answers that might address my problems?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-890" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-890">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-890">Load Comments</button></br>
			<div id = "commentsection-890" class = 'collapse'>
			<div id = "comment-1634" class = "comment">
				<p>Making this a FAQ question on meta.AD</p>
			</div>
			</div>
				<textarea id = "speech-890" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-890">
					<img id="start_img-890" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-890">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-891"  class = "post">
				<h2>Answer</h2>
			<div id="vote-891" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should include the computer type (MacBook Pro, iMac, Mac Pro, PowerBook, iBook, Quadra, Performa, etc.). Please include the screen size if it has a built-in screen. </p>

<p>Also include either the model identifier (MacBookPro8,2; iMac3,4) or the release specifier (Early-2011 MacBook Pro, Late-2009 iMac). You can get the former from System Profiler (System Information in Lion) by choosing "About This Mac" from the Apple menu, then clicking the "More Info " button. (On Lion, you may also have to click the "System Report " button in the next window as well.) The latter can be obtained from <a href="http://support.apple.com" rel="nofollow">Apple's support website</a> or <a href="http://mactracker.ca" rel="nofollow">Mactracker</a>.</p>

<p>Unless the question is obviously completely hardware-related (which it almost never is), include your version of Mac OS. You can get this from the "About This Mac" window.</p>

<p>Please also include anything that's related to the matter at hand. If you're running out of hard drive space, how big is the drive? If your computer is slow, how many programs are you running at once? You get the idea. </p>

<p>Anything more specific than this is out of the scope of this answer, but be ready to answer questions about other parts of your hardware or software setup as needed. If you don't know how to get the answer, just ask and we'll be happy to guide you through that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-891" data-toggle = "popover">
				<p>user name : CajunLuke</p>
				<p> user reputation : 14593</p>
				<p class = "tagcontent" id = "usertaginfo-891">{'etiquette': 7, 'None': 17, 'flagging': 6, 'discussion': 18, 'status-completed': 3, 'voting': 5, 'moderator-tools': 3, 'close-reasons': 5, 'feature-request': 7, 'review-page': 7, 'bug': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-891" class = 'collapse'>
			</div>
				<textarea id = "speech-891" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-891">
					<img id="start_img-891" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-891">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>