<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Help with adaptive fill algorithm for Water Color Painting Robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1455" class = "post">
			<h2>Question</h2>
			<div id="vote-1455" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 304</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Help with adaptive fill algorithm for Water Color Painting Robot</h2>
<p><em><strong>TL;DR:</em></strong>
Can anyone point me to a good adaptive path fill algorithm?</p>

<p>Hey there, my name is James, and <a href="http://sylviashow.com" rel="nofollow">my daughter</a> built <a href="http://watercolorbot.com" rel="nofollow">an awesome painting robot</a> with her friends over at Evil Mad Scientist labs, even brought it to the white house, very fun stuff!</p>

<p>Anyways, I'm a web programmer by day, and though it might be fun to try and write some software to get the robot to do some cool stuff, and for some crazy reason I decided to do this using standard web technologies like SVG and JavaScript, and.. it actually works! [see the project at github.com/techninja/robopaint]</p>

<p><strong>But there's a problem:</strong> to fill in colors for given shapes, it requires some kind of path filling algorithm using a given size shape to cover every part of the shape internally, not to mention it has to take into account overlapping paths and occlusions.</p>

<p>I have successfully created "<em>fake</em>" fills, by following known paths like spirals and back and forth hatch lines over paths, while detecting occlusion using browser internal functions for detecting what object lies at a given x/y coordinate, but these fill functions fall incredibly short of doing anything other than simply following paths, and can be incredibly inefficient at filling certain paths (like filling borders, letters, or <strong>U</strong> shaped areas).</p>

<p><em><strong>The question:</em></strong> I need an adaptive path filling algorithm. I know they're currently being used in similar CNC setups for milling, and similar algorithms are used by the Roomba and 3D printers to figure out coverage in the most efficient way possible. The issue comes in that I don't think <strong><em>any</em></strong> have ever been done in JavaScript, using native SVG paths.</p>

<p>Anyone out there know where I should look? I'm not too afraid to attempt to port something over to JS, or possibly even use it as is for a native Node.JS module. All my work will be sure to go back to the community and become open source as well.</p>

<p>Thanks for the help!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1455" data-toggle = "popover">
				<p>user name : TechNinja</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1455">{'motion': 2, 'None': 0, 'motion-planning': 2, 'cnc': 2, 'algorithm': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1455" class = 'collapse'>
			</div>
				<textarea id = "speech-1455" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1455">
					<img id="start_img-1455" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1455">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1458"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1458" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you're looking for is a "coverage algorithm".  There are a few relevant questions on this site that address this topic: </p>

<ol>
<li><a href="https://robotics.stackexchange.com/q/952/350">What&#39;s an efficient way to visit every reachable space on a grid with unknown obstacles?</a></li>
<li><a href="https://robotics.stackexchange.com/q/628/350">What algorithm should I implement to program a room cleaning robot?</a></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1458" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1458">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1458">Load Comments</button></br>
			<div id = "commentsection-1458" class = 'collapse'>
			<div id = "comment-3115" class = "comment">
				<p>Thanks for the quick reply! Though I think the problem is better represented as "offline" coverage algorithm. I happen to "know" the full path shape as a polygon, less any overlaps/occlusions. And though the "CNC Island Motion Planning" looks right up my alley, though it's behind a paywall. My next option is to look at this, even though it's for 3D motion planning... http://code.google.com/p/libactp/</p>
			</div>
			<div id = "comment-3119" class = "comment">
				<p>CNC is absolutely relevant to what you're doing here!  That sounds like a good avenue to pursue.</p>
			</div>
			</div>
				<textarea id = "speech-1458" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1458">
					<img id="start_img-1458" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1458">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>