<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Help with ultrasonic sensors on obstacles avoiding robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7295" class = "post">
			<h2>Question</h2>
			<div id="vote-7295" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 553</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Help with ultrasonic sensors on obstacles avoiding robot</h2>
<p>Well, I will start directly in my problem. I'm working on a project and I only have 10 days left.
The idea is simple, a wheeled robot with 3 ultrasonic sensors to avoid obstacles.
I've developed a code and it's working fine.
I'm using: Arduino Uno, L293D driver for the 2 dc motors, 3 HC-SR04 ultrasonic sensors and the Newping library.</p>

<p>I've made some kind of a shield where I soldered common points for gnd and 5V in order to connect the L293 ic and the sensors pins easily. The problem is that the ultrasonic sensors only functioned once in the expected behavior! After that they were always sending the zero result and sometimes a number is showed when i disconnect the sensor! 
Is it a power problem? I'm using the usb cable to power the arduino and the sensors (motors are powered using 2 Li-po batteries)
kindly provide me with guidance</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7295" data-toggle = "popover">
				<p>user name : DieDen</p>
				<p> user reputation : 45</p>
				<p class = "tagcontent" id = "usertaginfo-7295">{'quadcopter': 0, 'kuka': 0, 'None': 2, 'walking-robot': 1, 'line-following': 0, 'power': 1, 'arduino': 3, 'battery': 1, 'pid': 0, 'servomotor': 1, 'python': 0, 'matlab': 1, 'beagle-bone': 0, 'serial': 3, 'ultrasonic-sensors': 0, 'inverse-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7295" class = 'collapse'>
			</div>
				<textarea id = "speech-7295" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7295">
					<img id="start_img-7295" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7295">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7298"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7298" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can convert <a href="http://arduino.net.ua/upload/information_system_8/1/3/1/item_131/information_items_property_171.pdf" rel="nofollow">Line follower PID robot</a> to obstacle avoiding robot. At page 18 write new 3 sensor values instead of 5 line sensors (i assume that you can reduce number sensor and convert follower to avoider)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7298" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7298">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7298">Load Comments</button></br>
			<div id = "commentsection-7298" class = 'collapse'>
			<div id = "comment-10388" class = "comment">
				<p>thanks for your reply but my problem is getting the ultrasonic sensors to work properly in the first place</p>
			</div>
			<div id = "comment-10389" class = "comment">
				<p>Just attach their trig and echo pins to digital pins. You can use NewPing Library https://code.google.com/p/arduino-new-ping/downloads/detail?name=NewPing_v1.5.zip&can=2&q= or alternatvely youcan count pulses like this http://www.instructables.com/id/Simple-Arduino-and-HC-SR04-Example/?ALLSTEPS</p>
			</div>
			<div id = "comment-10399" class = "comment">
				<p>I'm already using newping library and when using the trig and echo pins only the sensor gives a non-logical result.. for example it keeps giving 180cm even when an obstacle is very close</p>
			</div>
			<div id = "comment-10401" class = "comment">
				<p>Did you check reflections</p>
			</div>
			<div id = "comment-10404" class = "comment">
				<p>Yes it was a plane obstacle in front of it. anyway it's at least giving me a result, i'll try to optimize the code and give you the feedback hoping your solution will work with me</p>
			</div>
			</div>
				<textarea id = "speech-7298" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7298">
					<img id="start_img-7298" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7298">Comment</button>
			<br><div id = "ans-7302"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7302" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a little trick with the HC-SR04s.
Power it on, so its in the broken state.</p>

<p>Flick the wire mesh piece.</p>

<p>The reason might be it doesn't reset itself. These components might be cheap clones and not the real ones, and some of the clones have this problem. Then when you flick it, it resets the depressed component.</p>

<p>More info here:
<a href="http://forum.arduino.cc/index.php?topic=55119.0" rel="nofollow">http://forum.arduino.cc/index.php?topic=55119.0</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7302" data-toggle = "popover">
				<p>user name : Mack Tang</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7302">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7302">Load Comments</button></br>
			<div id = "commentsection-7302" class = 'collapse'>
			<div id = "comment-10403" class = "comment">
				<p>Thanks for your response but unfortunately it didn't work. However, it should be an autonomous robot so this trick won't be permanent if it worked</p>
			</div>
			</div>
				<textarea id = "speech-7302" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7302">
					<img id="start_img-7302" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7302">Comment</button>
			<br><div id = "ans-7337"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7337" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well.. It was a power issue! I'm using one of the arduino replicas and the 5v pins is only outputting 4.5v instead of 5. The problem was solved by providing an external power source. I don't find it cool to power robots externally but this is the only way in my case.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7337" data-toggle = "popover">
				<p>user name : DieDen</p>
				<p> user reputation : 45</p>
				<p class = "tagcontent" id = "usertaginfo-7337">{'quadcopter': 0, 'kuka': 0, 'None': 2, 'walking-robot': 1, 'line-following': 0, 'power': 1, 'arduino': 3, 'battery': 1, 'pid': 0, 'servomotor': 1, 'python': 0, 'matlab': 1, 'beagle-bone': 0, 'serial': 3, 'ultrasonic-sensors': 0, 'inverse-kinematics': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7337" class = 'collapse'>
			</div>
				<textarea id = "speech-7337" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7337">
					<img id="start_img-7337" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7337">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>