<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Helping new guy, need 20 rep to join chat
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2104" class = "post">
			<h2>Question</h2>
			<div id="vote-2104" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 46</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Helping new guy, need 20 rep to join chat</h2>
<p>Can we change the chat to be accessible for writing at +5 rep for AskDifferent? If it's based on a "permanent" number, could SE maybe update this so it's variable for each different site?</p>

<p>I think it's enough to have +5 on AskDifferent as we have awesome mods who will delete a user if he starts spamming our AskDifferent chatroom.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2104" data-toggle = "popover">
				<p>user name : Rob</p>
				<p> user reputation : 5701</p>
				<p class = "tagcontent" id = "usertaginfo-2104">{'None': 17, 'editing': 4, 'status-completed': 1, 'tags': -2, 'discussion': 11, 'answers': 3, 'bug': 8, 'close-reasons': 0, 'reputation': 3, 'design': 6, 'accepted-answer': 3, 'chat': 5, 'flagging': 3, 'status-bydesign': 3, 'status-declined': -2, 'review-page': 9, 'support': 11, 'badges': 4, 'feature-request': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2104">Load Comments</button></br>
			<div id = "commentsection-2104" class = 'collapse'>
			<div id = "comment-4039" class = "comment">
				<p>Need to do some research but I think that the awesome mods can invite users below 20 rep to chat as well.</p>
			</div>
			<div id = "comment-4041" class = "comment">
				<p>See many meta.SE posts including (for @patrix) http://meta.stackexchange.com/questions/111942/allow-inviting-people-with-rep-20-to-private-chat others http://meta.stackexchange.com/questions/74086/so-chat-why-is-it-that-only-members-of-stack-overflow-with-at-least-20-reputat</p>
			</div>
			<div id = "comment-4043" class = "comment">
				<p>Do you have any instances where this has caused grief on the site (so we can assist if needed and also build consensus for it happening with some regularity)? The requirement is partially due to the known bad behavior of some new users in chat and in most cases, a truly genuine new person can comment on their first posts and put up a few vote worthy posts on one site in the entire network to clear the 20 point hurdle in a day in most cases I've seen.</p>
			</div>
			</div>
				<textarea id = "speech-2104" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2104">
					<img id="start_img-2104" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2104">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2105"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2105" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree, that in some circumstances it's needlessly difficult for a new user to be able to contact and communicate with other users.  We have this weird situation where a user can create a chat account and log in, but only read, and I've seen conversations carried on where the OP talks in comments which he then deletes, and others reply in Chat, creating a disjointed approach that encourages the uses to use the bad habits (extended discussions in comments) that we try to avoid.</p>

<p>20 isn't a particularly difficult target to hit, but when it's your first question it seems massively complex to have to have these things explained when we don't have a way for them to participate in a 2 way chat.</p>

<p>Not sure how to fix it, I imagine that the points/privileges system is cast on stone for all SE sites, and we can't unilaterally change it for AD, but perhaps it could be considered for change site wide.</p>

<p>Here's an example of an user answering via comments:
<img src="https://i.stack.imgur.com/V7ESt.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2105" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-2105">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2105" class = 'collapse'>
			</div>
				<textarea id = "speech-2105" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2105">
					<img id="start_img-2105" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2105">Comment</button>
			<br><div id = "ans-2106"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2106" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Thanks to <a href="https://apple.meta.stackexchange.com/users/237/mark">Mark</a> I don't even have to do the research any more :-)</p>

<p>There are valid reasons why a small amount of reputation is required for users to join chat (see the answers to <a href="https://meta.stackexchange.com/questions/74086/so-chat-why-is-it-that-only-members-of-stack-overflow-with-at-least-20-reputat">SO Chat: Why is it that &quot;Only members of Stack Overflow with at least 20 reputation may talk...&quot;?</a> for instance). And as the mods can (with some collaboration from the user side) also invite users below 20 rep points to the main or any other chat, a feasible way to handle this (rather) rare case would be to flag such questions for moderator attention so one of us can push the user into chat.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2106" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2106">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2106" class = 'collapse'>
			</div>
				<textarea id = "speech-2106" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2106">
					<img id="start_img-2106" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2106">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>