<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Help !!Homogeneous transformation matrix
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12538" class = "post">
			<h2>Question</h2>
			<div id="vote-12538" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Help !!Homogeneous transformation matrix</h2>
<p>I came across many good books on robotics. In particular I am interested in Inverse kinematic of 6dof robot. All books have example which goes on like this "given homogeneous transformation matrix as below, find the angles ?".. Problem, is how do I find components of a homogeneous transformation. matrix in real world? i.e. how do i practically derive 9 components of the rotation matrix embeded in homogeneous transformation matrix?.....</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12538" data-toggle = "popover">
				<p>user name : cyberspider789</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-12538">{'None': 0, 'inverse-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12538" class = 'collapse'>
			</div>
				<textarea id = "speech-12538" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12538">
					<img id="start_img-12538" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12538">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12539"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12539" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The upper left 3x3 submatrix represents the rotation of the end effector coordinate frame relative to the base frame.   In this submatrix, the first column maps the final frame's x axis to the base frame's x axis; similarly for y and z from the next two columns.  </p>

<p>The first three elements of the right column of the homogeneous transform matrix represent the position vector from the base frame origin to the origin of the last frame.  </p>

<p>EDIT BASED ON COMMENT:</p>

<p>There are several ways to define the nine components of the rotation submatrix, $R$, given a particular task in space.  Note that $R$ is orthonormal, so you don't really need to define all 9 based on just the task.  A very common approach is to represent the task orientations (with respect to the global coordinate system) using Euler angles.  With this representation, each column of $R$ describes a rotation about one of the axes.  Be careful with Euler angles, though, because the order of rotation matters.  Commonly, but not exclusively, the first column of $R$ describes a rotation about the global $z$ axis; the second column describes a rotation about the now-rotated $y$ axis; and the third column describes a rotation about the $x$ axis, which has been rotated by the two previous angles.  There are other Euler angle representations, also.</p>

<p>There are other ways to use $R$ to describe the task orientation.  I find Waldron's text very readable for this.  Check out section 1.2.2 of his draft <a href="http://www.cc.gatech.edu/~hic/4632B-07/kinematics-draft.pdf" rel="nofollow noreferrer"><em>Handbook of Robotics</em></a> sourced by Georgia Tech.  In this section he describes not only Z-Y-X Euler angles, but also Fixed Angles, quaternions, and Angle-Axis representations for orientation.</p>

<p>The important thing is to ensure you consider whatever representation you use for $R$ when you compute the inverse kinematics.  The homogeneous transformation describes how the position and rotation vary based on joint angles, but you need to ensure that your definition for $R$ is properly inverted in computing the final three joint angles for your robot.</p>

<blockquote>
  <p>Blockquote</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12539" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-12539">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12539">Load Comments</button></br>
			<div id = "commentsection-12539" class = 'collapse'>
			<div id = "comment-22011" class = "comment">
				<p>Dear Steve, I know about rotation matrix. Let me rephrase my question "</p>
			</div>
			<div id = "comment-22012" class = "comment">
				<p>Dear Steve, I know about rotation matrix. Let me rephrase my question - say I have a robot with end effector having three mutually perpendicular axis. Now say i have a cup lying on a table. I want the robot to reach and pick it up. Now how do i specify all 9 components of the rotation matrix such that when these 9 components are given to IK routine ,robot reaches on position. Do I have to use measuring tape to measure some dimension, do I have to measure x y z position of the cup on table, do I need to measure angles using compass etc...etc...." If you could get my point, can you please guide?</p>
			</div>
			<div id = "comment-22019" class = "comment">
				<p>To use robot kinematics to perform tasks, you have a choice between defining the tasks in the "global" coordinate system, or defining those tasks with respect to the end effector itself.  Either way you must precisely define what you expect the robot to accomplish.  Can you edit your question to clarify what you don't understand about setting this up?</p>
			</div>
			<div id = "comment-22038" class = "comment">
				<p>Dear Mr.Steve. Thanks for your interest. Say I have a cup 30 cm away from robot base in X direction, 30 cm away in Y direction, 30 cm away in Z direction. I think these distances set positioning part (px,py,pz) part of Homogeneous trans matrix. It is easier to set them as I can physically measure them. Now let us assume the cup is lying tilted say 30 degree with respect to x axis of robot, 40 degree with respect to y axis and 30 degree with respect to z axis. Now how would I derive nx,ny,nz,ax,ay,az, sx,sy,sz i.e . rotation components of the Homogeneous transformation matrix ? Could you help ?</p>
			</div>
			</div>
				<textarea id = "speech-12539" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12539">
					<img id="start_img-12539" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12539">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>