<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>High Res Rotary Encoders
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12703" class = "post">
			<h2>Question</h2>
			<div id="vote-12703" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 54</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>High Res Rotary Encoders</h2>
<p>As part of a project I need an encoder to determine the angle that this, <a href="https://www.adafruit.com/product/154" rel="nofollow noreferrer">Continuous Rotation Servo - FeeTech FS5103R</a>, has rotated through. The resolution needs to be fairly high as I will be using it to automate a process and so I want to make sure it's accurate.</p>

<p>The shaft it will be mounted to will be custom built so I'm just looking for standalone encoders right now. What are the pros and cons of different styles of rotary encoders?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12703" data-toggle = "popover">
				<p>user name : M Russell</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-12703">{'servomotor': 3, 'None': 0, 'sensors': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12703">Load Comments</button></br>
			<div id = "commentsection-12703" class = 'collapse'>
			<div id = "comment-22286" class = "comment">
				<p>Welcome to *Robotics*, MRussell. I changed the scope of your question a little from what read to be an open-ended design question to a question about the advantages and drawbacks of different styles of rotary encoders. "Here's my ___ what are your thoughts?" is [off-topic](https://robotics.stackexchange.com/help/dont-ask) because it is specific to your application.</p>
			</div>
			<div id = "comment-22316" class = "comment">
				<p>Welcome to *Robotics*  M Russell, but I'm afraid that *Pros & Cons* questions are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-12703" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12703">
					<img id="start_img-12703" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12703">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12704"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12704" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>RC Servos are servos that use a potentiometer as their position sensor.
To make a continuous rotation RC servo, the potentiometer is replaced with a fixed resistor so the servo loop is lost and thus the accuracy and position information as well. 
See <a href="https://robotics.stackexchange.com/questions/7864/can-rc-servo-motors-continually-rotate/12691#12691">A Continuous Rotation RC Servo is NOT a Servo</a> for more details.</p>

<p>BUT... if you do the modification yourself (like is the guy in this <a href="https://www.youtube.com/watch?v=cnOKG0fvZ4w" rel="nofollow noreferrer">video</a> did) then the potentiometer is still there and it should provide a really inexpensive and pretty accurate way to know the motor's position.  To use it, route the wires out and use an Analog Input on your processor to measure the absolute position of the motor.</p>

<p>OK, here it where I divert into something I believe will work but haven't tested.  I believe if you alter the procedure to ONLY cut the center wire to the potentiometer and still do the rest of the modification then route that center wire out, the wire will have a voltage that represents the location of the motor shaft.  This is because the outer wires are just to provide power and powering both resistor stacks should not be a problem and the voltage on the wire will be a voltage between the servo supply voltage and ground.</p>

<p>Another option is to use an actual optical encoder.  Note that this is a significantly more expensive and complicated solution because:</p>

<ol>
<li>Optical encoders can be expensive</li>
<li>You will need to figure a way to directly couple the encoder to the shaft.</li>
<li>If you get a standard quadrature encoder, you will need to add a home sensor since the encoder (unlike the potentiometer) has no concept of absolute position</li>
<li>You will have to know how to decode and use quadrature signals to count position.  This is really easy to mess up for cases like an encoder vibrating on an edge.</li>
<li>You will also need to make sure your design is fast enough that you can catch all the transitions when running at full speed (interrupt based or custom hardware).  For a 1024 count encoder and a 55rpm motor then your are going to need to sample the encoder at least every 500us or faster.</li>
</ol>

<p>.... shall I continue</p>

<p>I would recommend you use the potentiometer in the servo.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12704" data-toggle = "popover">
				<p>user name : markshancock</p>
				<p> user reputation : 383</p>
				<p class = "tagcontent" id = "usertaginfo-12704">{'quadcopter': 1, 'None': 15, 'rcservo': 2, 'first-robotics': 2, 'servomotor': 2, 'servos': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12704">Load Comments</button></br>
			<div id = "commentsection-12704" class = 'collapse'>
			<div id = "comment-22290" class = "comment">
				<p>500ms was a typo.  I will correct to 500us.  1KHz is not recommended as you need the double samples to confirm you are not undersampled.</p>
			</div>
			<div id = "comment-22291" class = "comment">
				<p>Nyquist sampling doesn't really apply though if you know the top speed of your motor. 1kHz would be fine to sample an encoder. BUT, regardless, interrupts are still the superior way to handle it.</p>
			</div>
			</div>
				<textarea id = "speech-12704" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12704">
					<img id="start_img-12704" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12704">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>