<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Highspeed with gearbox or low speed for brushless motor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7522" class = "post">
			<h2>Question</h2>
			<div id="vote-7522" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 617</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Highspeed with gearbox or low speed for brushless motor?</h2>
<p>I'm attempting to control a small vehicle at relatively slow (.5 m/s - 1 m/s) speeds, but with extreme accuracy (1mm). For the drive system, I'm considering using brushless motors as they have a much greater power / volume ratio than I am able to find with brushed motors, especially at this small size.</p>

<p>I will be using wheels between 1" and 2" diameter, so the RPM I will be looking for is between 150 - 500 RPM at max. This would suggest either driving the motors at a low speed directly, or driving them at a high speed and gearing them down. As I understand it, both setups will give high torques, as brushless motors decrease torque with speed. With brushed motors, it's quite obvious that a gearbox is necessary as otherwise there is no torque in the system, but here the choice isn't as clear, which is why I am asking.</p>

<p><strong>tl;dr</strong> Use brushless motors at high speed with gearbox or low speed (ungeared) for high torque / low speed / high precision application?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7522" data-toggle = "popover">
				<p>user name : Vasu</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-7522">{'brushless-motor': 0, 'None': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7522" class = 'collapse'>
			</div>
				<textarea id = "speech-7522" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7522">
					<img id="start_img-7522" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7522">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7523"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7523" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Page 7 of <a href="http://www.beikimco.com/pdf/BLDC%20Product%20Guide.pdf" rel="nofollow">this PDF</a> states that, "A permanent magnet DC brushless motor behaves like any permanent magnet DC brush motor." </p>

<p>You can read more about DC motor operation at <a href="http://lancet.mit.edu/motors/motors3.html" rel="nofollow">this MIT site</a>. I'm not sure if you've got a typo or what you're trying to say, but your question states, "brushless motors decrease torque with speed," after you state that using a gearbox and directly controlling the motor at low speed both, "will give high torques." </p>

<p>If you're looking to do speed control at a very low percentage of the motor's speed, I would suggest using a gearbox simply because you won't have much headroom to modulate the motor's speed. For example, assume the motor's <a href="http://www.hobbypartz.com/30p-101-flash-aa-8900kv.html" rel="nofollow">top speed is 50,000RPM</a>. You want to control the motor to 150RPM +/- 10RPM, which means that, if you're going to directly operate those motors at low speed with no gearbox, you need to be able to control the motor speed to within +/- 0.02% of the top speed. This will be hard, and you would probably actually want control within +/-1RPM, or 0.002% of top speed. </p>

<p>If you were to use a 100:1 gearbox, then top <em>output</em> speed becomes 500RPM, which means now you have to control motor speed to +/- 2%, or 0.2% for the +/-1RPM case, which suddenly becomes far more manageable. </p>

<p>The downside to using a gearbox is that they are physical, mechanical devices, meaning that they will have friction, backlash, and other drawbacks. Essentially you wind up paying a percentage of your motor's power for the advantage that speed becomes easier to control.</p>

<p>tl;dr - use gearboxes. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7523" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7523">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7523" class = 'collapse'>
			</div>
				<textarea id = "speech-7523" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7523">
					<img id="start_img-7523" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7523">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>