<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>High voltage motor control with arduino
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-897" class = "post">
			<h2>Question</h2>
			<div id="vote-897" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 7811</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>High voltage motor control with arduino</h2>
<p>I'm trying to control a higher voltage motor than an arduino can source with a pin, with an arduino. I am trying to hook it up to a transistor. The battery pack is not supposed to be 4.8V, it's 6V, 4 D batteries.</p>

<p>Here is the setup:</p>

<p><img src="https://i.stack.imgur.com/m9QPz.png" alt="Circuitry setup"></p>

<p>Here is the arduino code I'm trying to run to it:</p>

<pre><code>int motorpin = 2;

void setup()
{
    pinMode(motorpin, OUTPUT);
}

void loop()
{
    digitalWrite(motorpin, HIGH);
    delay(500);
    digitalWrite(motorpin, LOW);
    delay(500);
}
</code></pre>

<p>Code gives me no errors, but no motor movement happens. What would make this work? Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-897" data-toggle = "popover">
				<p>user name : Elias Benevedes</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-897">{'None': 2, 'motor': 5, 'arduino': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-897">Load Comments</button></br>
			<div id = "commentsection-897" class = 'collapse'>
			<div id = "comment-2205" class = "comment">
				<p>Did you ever get this sorted out? I have been working with this same circuit and not having issues.</p>
			</div>
			<div id = "comment-6608" class = "comment">
				<p>Completely out of context but, what did you use to make that image?</p>
			</div>
			<div id = "comment-19835" class = "comment">
				<p>You have only one wire to arduino? where is source power?</p>
			</div>
			<div id = "comment-19903" class = "comment">
				<p>@Chandough That looks like a Fritzing schematic.</p>
			</div>
			</div>
				<textarea id = "speech-897" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-897">
					<img id="start_img-897" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-897">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-898"  class = "post">
				<h2>Answer</h2>
			<div id="vote-898" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your hardware configuration sounds wrong... your trying to provide all the drive current from the arduino</p>

<p>Given your description, your using a bipolar (NPN or PNP) transistor, I'd wire up as:</p>

<ul>
<li>Base: To arduino</li>
<li>Collector: Motor -ve  (motor +ve to Vcc)</li>
<li>Emmitter: Ground</li>
</ul>

<p>Alternatively:</p>

<ul>
<li>Base: To arduino</li>
<li>Collector: Vcc</li>
<li>Emmitter: Motor +ve  (motor -ve to Ground)</li>
</ul>

<p>This way, the processor is switching the current flow between Vcc and the motor, not supplying all the power.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-898" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-898">{'None': 41}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-898">Load Comments</button></br>
			<div id = "commentsection-898" class = 'collapse'>
			<div id = "comment-2192" class = "comment">
				<p>Actually, it's a NPN transistor. I'm not sure if that makes a difference.</p>
			</div>
			<div id = "comment-2193" class = "comment">
				<p>No, the answer applies to either (answer tweaked) - and actually NPNs are more common than PNPs in this scenario</p>
			</div>
			<div id = "comment-2195" class = "comment">
				<p>Still not working, DAMN this is frustrating. I feel like I should EASILY be able to do this!</p>
			</div>
			</div>
				<textarea id = "speech-898" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-898">
					<img id="start_img-898" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-898">Comment</button>
			<br><div id = "ans-905"  class = "post">
				<h2>Answer</h2>
			<div id="vote-905" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I actually just ran into this and I found that my resistor going from my Arduino pin to the base was wrong. You might want to watch this video. It was very useful for me. <a href="http://www.youtube.com/watch?v=DLl7-CmVT7w" rel="nofollow">http://www.youtube.com/watch?v=DLl7-CmVT7w</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-905" data-toggle = "popover">
				<p>user name : Kenn</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-905">{'nxt': 4, 'None': 0, 'i2c': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-905">Load Comments</button></br>
			<div id = "commentsection-905" class = 'collapse'>
			<div id = "comment-17237" class = "comment">
				<p>Looks like the video link is broken (changed to private).</p>
			</div>
			</div>
				<textarea id = "speech-905" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-905">
					<img id="start_img-905" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-905">Comment</button>
			<br><div id = "ans-917"  class = "post">
				<h2>Answer</h2>
			<div id="vote-917" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's possible that this isn't working because you have blown your transistor. There are a couple of things which could have blown it:</p>

<ul>
<li>No resistor to limit the base current</li>
<li>No diode to protect against back EMF from the motor</li>
</ul>

<p>So you should add a base resistor, and a flyback diode.</p>

<p><img src="https://i.stack.imgur.com/HfX1h.png" alt="Driving a motor with an NPN transistor."></p>

<p>I always like to add an LED to the Arduino's output too, so that I can see exactly when the output is high. And if you're doing PWM on that pin, then the brightness of the LED tells you the duty cycle.</p>

<p>Added:</p>

<p>The reason for putting the transistor below the motor is that it's easier to make it work. To switch on the transistor, I just have to push a little current through the base by bringing its voltage up higher than the emitter. But if the transistor was above the motor, and the motor was running at 12v, then it's going to be impossible for the Arduino to do this, because it can't generate a voltage high enough.</p>

<p>When you put the transistor above the motor, you need to add <em>another</em> transistor to help you deal with the large voltage required by the base.</p>

<p><img src="https://i.stack.imgur.com/auKaY.png" alt="High Side Driver"></p>

<p>In this circuit they're using a FET, rather than an NPN transistor, so the base is called a gate, but the same thing applies.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-917" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-917">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-917">Load Comments</button></br>
			<div id = "commentsection-917" class = 'collapse'>
			<div id = "comment-2218" class = "comment">
				<p>Lemme try that. I never thought it might be the transistor. And BTW, why do you have the transistor set up as so? Is that an PNP in the picture, or NPN?</p>
			</div>
			</div>
				<textarea id = "speech-917" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-917">
					<img id="start_img-917" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-917">Comment</button>
			<br><div id = "ans-920"  class = "post">
				<h2>Answer</h2>
			<div id="vote-920" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need first to know how much current your motor draws at no load, and also at stall.
After that you need to choose a transistor that its collector or its drain can support the stall current. </p>

<p>You have to know that your current configuration is just for a one direction control, and to which direction that depends on the polarity. </p>

<p>You need an H-Bridge like L293-L298 for controlling in two directions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-920" data-toggle = "popover">
				<p>user name : Ahmed Saleh</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-920">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-920">Load Comments</button></br>
			<div id = "commentsection-920" class = 'collapse'>
			<div id = "comment-2228" class = "comment">
				<p>I have an L293D bridge, but I couldn't get it to work. Would you like to point me to a tutorial?</p>
			</div>
			<div id = "comment-2275" class = "comment">
				<p>@EliasBenevedes It is very simple. Just connect VS to 12V and that depends on your motor supply voltage, connect the ground, then use the the two inputs according to the truth table in the datasheet. Do Not forget to put the protection diodes.</p>
			</div>
			</div>
				<textarea id = "speech-920" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-920">
					<img id="start_img-920" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-920">Comment</button>
			<br><div id = "ans-962"  class = "post">
				<h2>Answer</h2>
			<div id="vote-962" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>And for the 'I'd rather be designing the sensors and grippers' of us, consider a ready made motor shield for Arduino such as:</p>

<p><a href="http://www.pololu.com/catalog/product/2504" rel="nofollow noreferrer">Polulu Zumo Shield</a> (1.2 amp motors) or the <a href="http://arduino.cc/en/Main/ArduinoMotorShieldR3" rel="nofollow noreferrer">Arduino Motor Shield</a> (2 amp motors) or the <a href="http://a.pololu-files.com/picture/0J4024.600.jpg?f1bcdd7324bf6307a61598052a9cede0" rel="nofollow noreferrer">Polulu Dual Motor Driver Shield</a> (3.0 amp motors).
<img src="https://i.stack.imgur.com/aQUEm.jpg" alt="Polulu Zumo Shield">
<img src="https://i.stack.imgur.com/FHdyt.jpg" alt="Arduino Motor Shield">
<img src="https://i.stack.imgur.com/TI6SZ.jpg" alt="Polulu Dual Motor Driver Shield"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-962" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-962">{'None': 68}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-962" class = 'collapse'>
			</div>
				<textarea id = "speech-962" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-962">
					<img id="start_img-962" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-962">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>