<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>High-traction thin tires vs Wide moderate-traction tires? [Sumo-bot]
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8142" class = "post">
			<h2>Question</h2>
			<div id="vote-8142" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 187</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>High-traction thin tires vs Wide moderate-traction tires? [Sumo-bot]</h2>
<p>I am building a sumo-bot and our competitors have thin sticky tires, while we have wider and less sticky tires. The diameter is the same, and the gearbox/motor is the same. Who will win?</p>

<p>PS: Sticky tires: <a href="https://www.pololu.com/product/694" rel="nofollow">https://www.pololu.com/product/694</a> &amp; wide tires: <a href="https://www.pololu.com/product/62" rel="nofollow">https://www.pololu.com/product/62</a></p>

<p>Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8142" data-toggle = "popover">
				<p>user name : MathBunny</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8142">{'wheel': 0, 'None': 0, 'two-wheeled': 0, 'movement': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8142">Load Comments</button></br>
			<div id = "commentsection-8142" class = 'collapse'>
			<div id = "comment-12993" class = "comment">
				<p>You asked the exact same question [here](http://engineering.stackexchange.com/q/5593/1633).</p>
			</div>
			<div id = "comment-12994" class = "comment">
				<p>And [here](http://physics.stackexchange.com/q/209779).</p>
			</div>
			</div>
				<textarea id = "speech-8142" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8142">
					<img id="start_img-8142" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8142">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8145"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8145" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you measure  weights of the bots and the coefficients of friction for both kinds of wheels when used on the competition surface, and add those numbers to the question, it will be answerable.</p>

<p>Sliding force of friction =   times normal force, where   is the  coefficient of sliding friction.  For example, see <a href="https://en.wikipedia.org/wiki/Friction#Static_friction" rel="nofollow">wikipedia's Friction article</a>.
and <a href="http://regentsprep.org/REGENTS/PHYSICS/PHYS01/FRICTION/DEFAULT.HTM" rel="nofollow">regentsprep.org's Friction article</a>.</p>

<p>(Note, in computing   as (maximum force of static friction)/(normal force), the answer to the question will become obvious along the way.)</p>

<p>It may be that the sticky wheels will win, at least at first, if the competition surface is fairly smooth or slick; but as the sticky wheels get gunked up, they will work less and less well.  Also, if the surface has a rough texture, the wide wheels with tread are likely to work better from the start.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8145" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8145">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8145" class = 'collapse'>
			</div>
				<textarea id = "speech-8145" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8145">
					<img id="start_img-8145" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8145">Comment</button>
			<br><div id = "ans-8147"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8147" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, I moved my answer here from the Engineering SE because it looks like your question is probably going to get closed there, just like it got closed at the physics site.</p>

<p>Assuming <em>everything</em> about the vehicles is the same - <strong>mass especially</strong>, but also shape, center of gravity, etc., such that the entire problem boils down to tire grip, you will lose. </p>

<p>See <a href="https://physics.stackexchange.com/a/154485">this answer</a> for more information, but essentially, <em>assuming your vehicle weight is low enough that you're not going to deform the competition surface</em>, static friction is given by:</p>

<p>$$
F_{\mbox{friction}} = \mu_{\mbox{static}} P_{\mbox{tire}} A
$$</p>

<p>where $\mu_{\mbox{static}}$ is the static coefficient of friction, $P_{\mbox{tire}}$ is the pressure the tires exert on the ground, and $A$ is the contact surface area. However, because:</p>

<p>$$
P_{\mbox{tire}} = \frac{F_{\mbox{normal}}}{A}
$$</p>

<p>where $F_{\mbox{normal}}$ is the <a href="https://en.wikipedia.org/wiki/Normal_force" rel="nofollow noreferrer">normal force</a> of the vehicle, you wind up with:</p>

<p>$$
F_{\mbox{friction}} = \mu_{\mbox{static}} \frac{F_{\mbox{normal}}}{A} A
$$</p>

<p>or</p>

<p>$$
F_{\mbox{friction}} = \mu_{\mbox{static}} F_{\mbox{normal}}
$$</p>

<p>So, again, assuming <em>everything</em> else about the two robots is the same, and that you're not operating on a surface like mud or something else that will appreciatively deform under the tires, then the traction/friction force will be higher in the vehicle with a higher coefficient of friction. </p>

<p>That is, your tires should start slipping before theirs do, and since <a href="https://physics.stackexchange.com/a/569">static friction is greater than dynamic friction</a>, once your tires start to slip they get a significant "pushing" advantage over you. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8147" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8147">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8147" class = 'collapse'>
			</div>
				<textarea id = "speech-8147" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8147">
					<img id="start_img-8147" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8147">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>