<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>holonomic and non holonomic constraints in layman's term
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11997" class = "post">
			<h2>Question</h2>
			<div id="vote-11997" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 54</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>holonomic and non holonomic constraints in layman's term</h2>
<p>I'm new to robotics and I've been reading some slides online regarding motion planning. Due to my lack of knowledge in mechanical engineering, I'm having a difficult time understanding what holonomic and non-holonomic constraints mean. </p>

<p>I saw a post <a href="https://robotics.stackexchange.com/questions/9642/whats-the-difference-between-a-holonomic-and-a-nonholonomic-system">here</a> and it says Holonomic system is when a robot can move in any direction in the configuration space, and Nonholonomic systems are systems where the velocities (magnitude and or direction) and other derivatives of the position are constraint.</p>

<p>It seems like holonomic system differs from holonomic constraint. What is holonomic constraint and when do we need it? What is non-holonomic constraint and when do we need that?</p>

<p>Thanks in advance.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11997" data-toggle = "popover">
				<p>user name : MoneyBall</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-11997">{'quadcopter': 1, 'None': 0, 'pid': 1, 'slam': 0, 'path-planning': 0, 'dynamics': 0, 'movement': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11997" class = 'collapse'>
			</div>
				<textarea id = "speech-11997" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11997">
					<img id="start_img-11997" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11997">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12027"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12027" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A constraint on the $k$ coordinates $r_1,r_2,...,r_k$ is <strong>holonomic</strong> if it is an equality constraint of the form $$g(r_1,...,r_k)=0,$$ and <strong>nonholonomic</strong> otherwise. These sorts of constraints arise frequently in mechanical systems (e.g. when deriving Euler-Lagrange equations of motion). A holonomic system is one that is subject to holonomic constraints, and a nonholonomic system is one that is subject to nonholonomic constraints. </p>

<p>An example of a holonomic system is a sphere on a surface, which can roll in any direction. In contrast, a wheel on a surface without slipping is an example of a non-holonomic system because it cannot roll in any direction--it can only roll forward/backward at some heading.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12027" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-12027">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12027">Load Comments</button></br>
			<div id = "commentsection-12027" class = 'collapse'>
			<div id = "comment-21480" class = "comment">
				<p>I see. What exactly are holonomic and non-holonomic constraints? Do you mind providing an example of those constraints?</p>
			</div>
			</div>
				<textarea id = "speech-12027" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12027">
					<img id="start_img-12027" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12027">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>