<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to construct rotary turn table (S~J1 axis) from ball bearing?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10712" class = "post">
			<h2>Question</h2>
			<div id="vote-10712" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 108</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to construct rotary turn table (S~J1 axis) from ball bearing?</h2>
<p>For my robotics arm project I have recently come across the following ball bearing at low discount price which I think could make a great rotary table for my <a href="http://www.bearingscanada.com/6213-Bearing-Deep-Groove-6213-Ball-Bearings-p/6213-deep-groove-6213-ball.htm" rel="nofollow">arm</a>.</p>

<p>However it does not seem to have any mounting connectors, and the inner and outer rings are the same height. </p>

<p>My mechanical creativity is a bit limited, but my goal is to drive (spin) it with a large stepper motor (I have 34 and 42 series available which, even ungeared, should be enough for my smaller arm). On top of the rotary table that I'm trying to create will sit a U-channel that will hold the rest of the robot arm. So in the bottom of that channel I will drill holes and connect it to... something.</p>

<p>If anyone could point me to, recommend, or create a simple design - I have access to basic metalworking tools and scrap aluminum - that would be absolutely fantastic. My main goal is to work with what I have: the bearing, stepper motors, aluminum, other things at a standard hardware store.</p>

<hr>

<p>BTW, here is how I refer to the standard robot axes (of a 6-DOF industry bot) by <a href="https://www.robots.com/faq/show/what-are-six-axis-robots" rel="nofollow">name</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10712" data-toggle = "popover">
				<p>user name : JDS</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-10712">{'servomotor': 0, 'None': 1, 'force': 1, 'motor': 10, 'power': 3, 'servos': 0, 'torque': 5, 'gearing': 5, 'industrial-robot': 4, 'dh-parameters': 6, 'robotic-arm': 17, 'actuator': 4, 'rotation': 2, 'forward-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10712">Load Comments</button></br>
			<div id = "commentsection-10712" class = 'collapse'>
			<div id = "comment-19304" class = "comment">
				<p>"*However it does not seem to have any mounting connectors, and the inner and outer rings are the same height.*" That's how the large majority of bearings is designed.</p>
			</div>
			<div id = "comment-19311" class = "comment">
				<p>Yes this I realize now. I've used cheap turntables before, I suppose this is the more raw base component. How can I make a turntable equivalent? Would I need to weld or something?</p>
			</div>
			<div id = "comment-19490" class = "comment">
				<p>I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-10712" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10712">
					<img id="start_img-10712" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10712">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10730"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10730" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To get the advantage of having a bearing, you need a hole to fit it into. Typically this will require a lathe or mill. A simple example of a <a href="http://madmodder.net/index.php?topic=7488.0" rel="nofollow">home-brew rotary table</a> shows how; searching for 'rotary table plans' finds many google image results. Basically you mount the bearing in a hole in one plate, mount the other plate to the inner ring of the bearing, and bolt them together. The two plates are machined to touch each other and the inner plate is machined to not touch the bearing outside of the inner ring.  </p>

<p>These bearings are primarily for radial loads. Deep groove bearings also have some axial load capability, but it will be less than the value quoted which will be the radial load (axial rating is <a href="http://www.skf.com/group/products/bearings-units-housings/engineered-products/insocoat-bearings/insocoat-deep-groove-ball-bearings/loads/index.html" rel="nofollow">between 0.25 and 0.5 times the radial</a>). </p>

<p>In these types of rotary tables, the bearing's main role is to centre the rotating parts with less wear than a simple pivot will have, and the axial and moment loads are taken by sliding faces lubricated by oil. If you want higher speed operation, then you may also need a thrust bearing for the axial/vertical load or <a href="http://www.skf.com/uk/products/bearings-units-housings/ball-bearings/principles/bearing-basics/basic-selection-criteria/loads/index.html" rel="nofollow">some other configuration</a>, and you may need two bearings separated to handle moments rather than one bearing and sliding faces. Essentially single row bearings don't handle moments at all, and a long robot arm with a weight on the end may be a significant moment. </p>

<p>To get there without a lathe, if you can find some square, thick walled box section which is just larger than your bearings diameter you may be able to mount one at each end with a little filing, and use something to prevent the bearings moving further into the section. Then you can put a shaft through the bearings and you will have a very rigid mounting that handles all three loads.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10730" data-toggle = "popover">
				<p>user name : Pete Kirkham</p>
				<p> user reputation : 357</p>
				<p class = "tagcontent" id = "usertaginfo-10730">{'None': 19}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10730" class = 'collapse'>
			</div>
				<textarea id = "speech-10730" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10730">
					<img id="start_img-10730" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10730">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>