<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How are huge industrial robots powered?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10803" class = "post">
			<h2>Question</h2>
			<div id="vote-10803" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 150</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How are huge industrial robots powered?</h2>
<p>Take a look at <a href="https://www.youtube.com/watch?v=69RtLBImXiU" rel="nofollow">this monster lifting a car</a>.</p>

<p>Now I don't think one can get that power by plugging into a wall outlet. So how are these huge robots (their servos) powered? Gasoline? How is power stored, if it needs to be? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10803" data-toggle = "popover">
				<p>user name : JDS</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-10803">{'servomotor': 0, 'None': 1, 'force': 1, 'motor': 10, 'power': 3, 'servos': 0, 'torque': 5, 'gearing': 5, 'industrial-robot': 4, 'dh-parameters': 6, 'robotic-arm': 17, 'actuator': 4, 'rotation': 2, 'forward-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10803" class = 'collapse'>
			</div>
				<textarea id = "speech-10803" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10803">
					<img id="start_img-10803" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10803">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10806"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10806" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Industrial Robots with having as aim manipulation of large objects are powered electrically in almost all cases (30-40 years ago there have been popular hydraulic variants).  </p>

<p>Industrial robots are powered by industrial 400V 3 phase current, so in a sense, they are plugged in a wall outlet, but but a household wall outlet but an industrial one, like <a href="http://www.industrialextensionleads.co.uk/ekmps/shops/bazzer1/resources/Design/400-44-4p-plug-dimensions-a.jpg" rel="nofollow noreferrer">this</a>.</p>

<p><a href="https://i.stack.imgur.com/gouaf.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/gouaf.jpg" alt="enter image description here"></a></p>

<p>A typical household single-phase outlet in Europe can supply a 16 Ampere current at 230 Volts, that is about 3.68 kVA. As a comparison, high payload Fanuc Robot (similar to the one in the question), the M-900iA, equipped with an R-30iB controller requires an industrial 3 phase outlet which can supply 18kVA. Documentation <a href="https://www.google.de/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwi50dePzs3PAhWLuhQKHcSGBRMQFggeMAA&amp;url=http%3A%2F%2Fwww.setup.com.br%2Fdownload%2Findex.php%3Fpath%3DFanuc%252F%26download%3DR30iB%2520Installation%2520Information%2520.pdf&amp;usg=AFQjCNGamqpjeZZMs0oQ8RXfr34FZIgPvw&amp;sig2=WODru7wBBHcjeyq9JcbVCA" rel="nofollow noreferrer">here</a>. This translates to a current consumption of 25.981 Amperes at 400V supply voltage.</p>

<p>Note1: Most industrial robot have a spring system to easier cope with high payloads by balancing the load of axis 2. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10806" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10806">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10806">Load Comments</button></br>
			<div id = "commentsection-10806" class = 'collapse'>
			<div id = "comment-19440" class = "comment">
				<p>Could you expand on this Note1? Kinda off-topic but I'm curious of the mechanics for how these spring systems help. Great answer btw will accept! =)</p>
			</div>
			<div id = "comment-19441" class = "comment">
				<p>They are usually hydro/pneu springs, so no mechanics :). The are pre-tensioned, so they always try to pull axis 2 up. This reduces the required torque of the motor in axis two. Here is a patent about it: http://www.google.com/patents/US20110072930</p>
			</div>
			<div id = "comment-19442" class = "comment">
				<p>And that mechanism is present in the video I linked in the question?</p>
			</div>
			<div id = "comment-19444" class = "comment">
				<p>yep. that yellow cylinder behind axis 2 connected with a rotation joint (black  spot) to the linkage. http://www.fanuc.eu/~/media/corporate/products/robots/m2000/m2000-900l/600x400/m-2000ia-900l-handling-tractor-banner.jpg</p>
			</div>
			<div id = "comment-19559" class = "comment">
				<p>It's always best to avoid blanket statements: http://spectrum.ieee.org/automaton/robotics/industrial-robots/geckoinspired-window-washing-robot-is-powered-entirely-by-water *8')</p>
			</div>
			<div id = "comment-19563" class = "comment">
				<p>You are right about blanket statments, I have corrected it. However, question was related to industrial robots, not service robots. Your example is a service robot.</p>
			</div>
			</div>
				<textarea id = "speech-10806" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10806">
					<img id="start_img-10806" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10806">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>