<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to build a liquid filling machine using piston?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1494" class = "post">
			<h2>Question</h2>
			<div id="vote-1494" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3399</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to build a liquid filling machine using piston?</h2>
<p>My team developed a filling machine for liquids which uses a piston to measure and deliver volumes 0.1 to 1 liters into bottles. It is built mostly with mechanical parts and we'd like to replace most of them with electronic ones.</p>

<p>How do I build a machine to pull liquid from a reservoir and fills a bottle using a piston, with electronic parts such as stepper motor, linear actuators and sensors?</p>

<p>I understand this is somewhat vague. Any aligned response is appreciated.</p>

<p>Update:</p>

<p>This machine should, at its max speed, fill a 1 litter bottle with water in 2 seconds (to deliver 30 bottles per minute). Higher viscosity liquids may take longer.</p>

<p>It should not spill so liquid needs some filling acceleration control.</p>

<p>You may assume two operation modes: with bubbles and without bubbles. The first is a plus.</p>

<p>I'd like to be able to change the volume electronically (via a LCD menu).</p>

<p>I thought of a single main valve that switches between the reservoir and the bottle. That should be controlled electronically too. I could use two valves too.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1494" data-toggle = "popover">
				<p>user name : Gatis</p>
				<p> user reputation : 104</p>
				<p class = "tagcontent" id = "usertaginfo-1494">{'stepper-motor': 0, 'None': 0, 'sensors': 0, 'mechanism': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1494">Load Comments</button></br>
			<div id = "commentsection-1494" class = 'collapse'>
			<div id = "comment-3169" class = "comment">
				<p>As written, this question is indeed vague -- "how do I build a machine to ____ " is a bit too broad for a good answer.  Can you explain more about your specific design, what the performance requirements are, and which specific components you'd like to be electrical?</p>
			</div>
			</div>
				<textarea id = "speech-1494" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1494">
					<img id="start_img-1494" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1494">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1495"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1495" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Off the top of my head, the first thing I would try:
Attach a <a href="http://reprap.org/wiki/stepper_motor" rel="nofollow">stepper motor</a> to a <a href="http://en.wikipedia.org/wiki/Pump#Positive_displacement_pump" rel="nofollow">positive-displacement pump</a>.
(Gearing it down is often necessary).
Then hook the wires from the stepper motor one of the many off-the-shelf stepper motor drivers, perhaps <a href="http://reprap.org/wiki/Pololu_Electronics" rel="nofollow">Pololu stepper drivers</a> or the many <a href="http://reprap.org/wiki/Alternative_electronics" rel="nofollow">alternatives</a>.
Then figure out how much volume came out for every revolution of the stepper motor.
Then program the Arduino (or one of many alternatives) to somehow detect when there is a bottle in position and how much volume it needs, pump the appropriate volume into the bottle, and stop.</p>

<p>A note near the bottom of
<a href="http://www.stpats.com/FillingMachines.htm" rel="nofollow">one filling machine vendor</a>
points out that sometimes constant-volume filling doesn't work --
sometimes it's better to start filling when the bottle is in position,
then turn off the pump
when the liquid has reached the fill line.</p>

<p>My understanding is that a visible-light laser and a photo-sensor
is the easiest way to manually line up a non-contact sensor to the appropriate fill line.</p>

<p>Have you searched Google for "bottle filling" to see if maybe there's an off-the-shelf system that already does most of what you need to do?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1495" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-1495">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1495">Load Comments</button></br>
			<div id = "commentsection-1495" class = 'collapse'>
			<div id = "comment-3167" class = "comment">
				<p>This is a design we're also considering. Turns out laser bean might not suite some of our use cases (e.g. manual bottle positioning) as some of the liquid we deal with tends do form turbulence waves. It is not discarded though. Alternatively, we may use a force sensor to measure weight as well. Turbulence might still be a problem.</p>
			</div>
			<div id = "comment-3168" class = "comment">
				<p>(actually, I meant "liquid acceleration" in the last phrase)
Regarding searching for "bottle filling", yes, we did. They are mostly our competitors. :)</p>
			</div>
			</div>
				<textarea id = "speech-1495" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1495">
					<img id="start_img-1495" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1495">Comment</button>
			<br><div id = "ans-1497"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1497" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, general question.  Here's some general bits-o-answer: some assembly is required.</p>

<p>First, I would leave the decision about stepper vs. some other kind of motor until later -- it should be a tactical, not a strategic, decision.</p>

<p>Second, assuming that the positive displacement idea works at all, I would assume that at the core of your machine you still need that piston that you mention.  I would achieve controlled displacement of the piston by using some sort of linear actuator that has lots of available force and considerable mechanical stiffness, coupled with a good distance measurement on the piston.  I'd close my outer loop around the distance that the piston has traveled.</p>

<p>What springs to mind for a linear actuator is either a stepper motor (probably geared down) driving a jack screw, or a small DC gear motor, with an encoder on the motor and speed control, driving a jack screw.  I am personally biased against steppers, so if I were King on this project it would almost certainly be the DC gear motor -- but if you were paying me to implement it with a stepper, I'd say "sure!" and make sure that you selected one that had more than sufficient torque to get the job done.</p>

<p>The field is pretty open as far as the piston position sensor.  I don't know how clean your environment is, but assuming reasonable cleanliness I'd probably choose an optical linear encoder with a good fine line -- but I know there's other technologies out there that would work as well.</p>

<p>For control I'd close the piston, fill the piston by some extra amount to account for bubbles or whatever, switch the flow over to the bottle, then push the piston in by the correct distance to get the amount of fill desired.</p>

<p>Or, I'd find a way to weigh the bottles as I was filling them, and do the job by weight.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1497" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1497">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1497">Load Comments</button></br>
			<div id = "commentsection-1497" class = 'collapse'>
			<div id = "comment-3173" class = "comment">
				<p>That's the line I wanted to explore. But instead of using a screw, I thought of using a track connect to the motor using some reduction gear. In my mind, a screw wears out faster than a track. what do you think?
I agree with the linear encoder. The environment is clean enough to allow an optical one.
I'd like to be able to have control over the acceleration (to avoid spills). My feeling is that that's easier to achieve with stepper motor. Is that right?</p>
			</div>
			</div>
				<textarea id = "speech-1497" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1497">
					<img id="start_img-1497" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1497">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>