<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can the dynamic effects of motor current on a digital compass be characterized and compensated for?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-442" class = "post">
			<h2>Question</h2>
			<div id="vote-442" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1676</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can the dynamic effects of motor current on a digital compass be characterized and compensated for?</h2>
<p>Digital compasses (magnetometers) require a hard/soft iron calibration in order to be accurate.  This compensates for the magnetic disturbances caused by nearby metal objects -- the robot's chassis.</p>

<p><img src="https://i.stack.imgur.com/vrsV8.png" alt="enter image description here"></p>

<p>(image from <a href="http://diydrones.com/forum/topics/magnetometer-soft-and-hard-iron-calibration" rel="nofollow noreferrer">http://diydrones.com</a>)</p>

<p>However, digital compasses are also susceptible to the electric fields caused by the relatively high amount of current drawn by motors.  </p>

<p>In order to get an accurate compass reading, what is the best way to measure (and compensate for) the interference caused by changing motor current levels?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-442" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-442">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-442">Load Comments</button></br>
			<div id = "commentsection-442" class = 'collapse'>
			<div id = "comment-496" class = "comment">
				<p>I never found the motors to actually disturb the magnetic readings very much. I would do some measurements first, and then decide if its worth compensating.</p>
			</div>
			<div id = "comment-497" class = "comment">
				<p>What kind of robot was this, and what size, out of curiosity?  And does "not very much" mean less than 0.5 degree or less than 3 degrees of error?</p>
			</div>
			<div id = "comment-502" class = "comment">
				<p>Four wheeled robot, around 15 kg mass, 80W brushed motors. IMU around 20 cm distance from the motors. Error in the orientation estimate due to motors running was below 1 degree. There was a small ripple on the data. Didn't measure it, but I think less than 1%.</p>
			</div>
			</div>
				<textarea id = "speech-442" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-442">
					<img id="start_img-442" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-442">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-443"  class = "post">
				<h2>Answer</h2>
			<div id="vote-443" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally, this is not possible. This is because motors usually rotate very rapidly, creating rapidly fluctuating magnetic fields. Whether the disturbance is enough depends on how large the motors are.</p>

<p>For example, because I mounted an IMU (Inertial Measurement Unit) with magnetometers near some motors, and was forced to turn off the magnetometers to avoid the measurement affecting the state estimation.</p>

<p>In practice, the solutions most likely to solve your problem is:</p>

<ul>
<li>move the compass/magnetometer away from from the motors</li>
<li><p>use shielding material (basically material with high magnetic permeability). They do not block magnetic fields, but because they provide a path of low magnetic resistance, they attact the magnetic field (lines from north to south) to pass through their interior, so that the magnetic field intensity is lower elsewhere.</p>

<blockquote>
  <p>The best shape for magnetic shields is thus a closed container surrounding the shielded volume. The effectiveness of this type of shielding depends on the material's permeability, which generally drops off at both very low magnetic field strengths and at high field strengths where the material becomes saturated. So to achieve low residual fields, magnetic shields often consist of several enclosures one inside the other, each of which successively reduces the field inside it. - <a href="http://en.wikipedia.org/wiki/Electromagnetic_shielding#Magnetic_shielding">Wikipedia/Magnetic shielding</a></p>
</blockquote>

<p>You can thus wrap the motors in shielding material, such as:</p>

<ul>
<li>Giron</li>
<li>MagnetShield</li>
<li>PaperShield</li>
<li>Magnetic Shielding Foil</li>
<li>Mag-Stop Plates</li>
<li>MetGlas</li>
<li>JointShield</li>
<li>Finemet (for kHz frequency fields)</li>
<li>CobalTex</li>
</ul>

<p>A good site for comparison of these materials is <a href="http://www.lessemf.com/mag-shld.html">LessEMF.com Magnetic Field Shielding</a></p></li>
</ul>

<hr>

<p>It is theoretically possible to correct for the magnetic disturbance without shielding. We do need to be aware that there are two possible sources - a rotating permanent magnet and/or current in the coils. If we have feedback of the rotor position, we can correct for the permanent magnet or coil position. If you perform some experiments, recording current and rotor position, you should be able to fit a model of the magnetic field. Fitting is necessary because the actual field strength is very hard to calculate because of how the magnetic field looks depends on the size and shape of both the magnet and coils.</p>

<p>In practice, it is difficult to do this - unless the motor is turning very slowly and your sensor and model is accurate enough. First, if the frequency is high, it can cause problems because of synchronization issues and communication delays. If you cannot synchronize the data obtained from the motor feedback (position and current) and that from your magnetometers, you will increase your uncertainty. Even if the frequency is low, you need to have good control of the accuracy of:</p>

<ul>
<li>the magnetometer</li>
<li>the model</li>
<li>the inputs to the model (position and current)</li>
</ul>

<p>If any of the above are not accurate enough, the residue magnetic field (assumed to be the earth's magnetic field) could be very inaccurate.</p>

<p>In general, accuracy can be decreased by:</p>

<ul>
<li>frequency</li>
<li>motor field strength (since for the equation $residue magnetic field = raw measurement - motor model$, if the two terms on the right hand side are large, even at 1% accuracy, taking the difference could result in large left hand side uncertainties)</li>
<li>sensor resolutions</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-443" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-443">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-443">Load Comments</button></br>
			<div id = "commentsection-443" class = 'collapse'>
			<div id = "comment-498" class = "comment">
				<p>I would expect the rotation-dependent interference to average out over time, so that it would be just the stator interference and that of the wiring.  Is that not the case?</p>
			</div>
			<div id = "comment-499" class = "comment">
				<p>The exact form of smoothing is undefined. The sampling, which affects how it smooths out, is implementation-dependent. For example, does it take multiple samples and average to one value? Is there a low-pass filter (to remove very high frequency noise)? If you really wanted to, it may be possible to correct based on this, but it gets complicated very fast. In fact, because a sensor might do this, the observed disturbance may also be velocity-dependent, so your model is even more complex.</p>
			</div>
			</div>
				<textarea id = "speech-443" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-443">
					<img id="start_img-443" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-443">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>