<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make a Raspberry Pi?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9111" class = "post">
			<h2>Question</h2>
			<div id="vote-9111" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make a Raspberry Pi?</h2>
<p>I'm currently a robotics hobbyist and am full fledged in Arduino and I have used the Raspberry Pi to make some robots and PCs. Currently, I am thinking of making my own Raspberry Pi, from scratch, on a breadboard or a PCB or something. I surfed the web quite a bit and I did not get the answer I was hoping for. By making a Pi, I mean like instead of buying an Arduino, I can make one myself by buying the Atmega328, Crystal oscillators, etc. I am asking for this because my school requires me to do a project in which I make a computer or a gaming console or something like that and I would hate to look at the disappointed face of the tester all because I just bought a Pi , an connected some devices to it. Thanks in advance!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9111" data-toggle = "popover">
				<p>user name : Nullf0x</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9111">{'None': 0, 'raspberry-pi': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9111">Load Comments</button></br>
			<div id = "commentsection-9111" class = 'collapse'>
			<div id = "comment-15093" class = "comment">
				<p>Both of these platforms are open-source hardware. You can find the board schematics and try to reproduce them on a breadboard. One might say "you just bought the components and connected some wires", so I'd say if your school project is not too big and depending on its scope, perhaps it's ok to just buy the board itself.</p>
			</div>
			<div id = "comment-15094" class = "comment">
				<p>This question does not appear to be related to robotics.</p>
			</div>
			<div id = "comment-15095" class = "comment">
				<p>I voted to close this question because, as @BendingUnit22 said, "Questions on Electronics, Arduino or Raspberry Pi which are not specific to robotics are off-topic, so please try Electrical Engineering, Arduino or Raspberry Pi. Even questions which are on-topic here may still receive quicker and better answers on their own sites."</p>
			</div>
			<div id = "comment-15096" class = "comment">
				<p>Take a look at [Standalone Arduino](https://www.arduino.cc/en/Main/Standalone), it is not quite the Pi (in fact it is just an Arduino on a breadboard) but dead easy to make. :-)</p>
			</div>
			</div>
				<textarea id = "speech-9111" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9111">
					<img id="start_img-9111" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9111">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9112"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9112" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You would need to take the available SPICE and ECAD drawings, and then turn them into PCB schematics using something like KiCAD or Eagle. Then you can send the PCB file to a PCB printing service, and they'll send you what you order. You'll then have to find all the components and solder them yourself - you'll need to be very good at surface mount techniques. Honestly, unless you <em>really need</em> a custom RasPi, and already know how to design it, it's not worth your time to build your own IMO. Just buy one. </p>

<p>In terms of a school project, adding components to a RasPi is still not a simple task. These things aren't plug and play, you'll need to write the software for it, and name sure that your circuits are wired up correctly. I'm sure that your teacher will still be impressed with a 'store-bought' board used in whatever project you decide.</p>

<p>For future reference, this is the robotics stack exchange. I'm betting that your question is going to be closed because it is mostly unrelated to robotics. However, the electrical engineering stack exchange will probably be more than happy to help you, if you're set on building your own RasPi. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9112" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9112">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9112" class = 'collapse'>
			</div>
				<textarea id = "speech-9112" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9112">
					<img id="start_img-9112" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9112">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>