<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How would I replicate a tank~zero-turn steering system in a small robotic vehicle?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8226" class = "post">
			<h2>Question</h2>
			<div id="vote-8226" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How would I replicate a tank~zero-turn steering system in a small robotic vehicle?</h2>
<p>I'm working on a project that requires me to build a small vehicle (footprint of ~ 14 x 14 inches, less than 6.5 pounds) that can traverse sand. For the steering system, I was thinking of replicating the way tanks and lawn mowers navigate (ability to do zero-point turns), but I want to do this with four wheels instead of tracks like a tank.</p>

<p>I need help with implementing this idea. My preliminary thoughts are to have two motors where each motor power the wheels on one side of the vehicle (I think this would require a gearing system) or to have a motor to power each individual wheel which I'd rather avoid.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8226" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-8226">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8226">Load Comments</button></br>
			<div id = "commentsection-8226" class = 'collapse'>
			<div id = "comment-13174" class = "comment">
				<p>Can you focus this question?  As it stands, it is in danger of being closed because it is a rather broad open-ended design question.  We prefer *[practical, answerable questions](http://robotics.stackexchange.com/help/dont-ask)*.</p>
			</div>
			</div>
				<textarea id = "speech-8226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8226">
					<img id="start_img-8226" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8226">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8227"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8227" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should just need to reverse the inside wheels.  The problem you might get on sand is the wheels have too much grip, or rather bite the sand too much.</p>

<p>Track systems need torque.  I suspect you might have the same issue with your design, you have to overcome the forces when you try and drag the wheels through the sand.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8227" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-8227">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8227" class = 'collapse'>
			</div>
				<textarea id = "speech-8227" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8227">
					<img id="start_img-8227" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8227">Comment</button>
			<br><div id = "ans-8237"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8237" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check out the video I linked in my answer to a <a href="https://engineering.stackexchange.com/a/4210/1633">similar question at the Engineering SE</a>. In that answer I said that the problem with trying to use differential steering in a wheeled vehicle is that you have to accept a tremendous amount of slip in order to perform turns. </p>

<p>In a wheeled vehicle on a hard surface, like pavement, this means burning tires to make common turns. Tanks don't have this issue because they aren't designed to and typically don't operate on roads, they operate on soil. In that scenario the ground gets torn up instead of the "wheels"(tracks). However, with a tank, there isn't <em>as much</em> damage to the ground because the tracks distribute the weight of the vehicle over a much larger surface area, reducing the ground pressure it exerts. </p>

<p>The problem you'll have with a differentially steered wheeled vehicle operating in sand is that you get small points of contact between the tire and terrain due to the circular nature of the tire (point of tangent plus some tire/terrain deformation), and that small point of contact boosts ground pressure. Then, on top of that, you're going to spin tires - you're asking for the vehicle to dig itself in. </p>

<p>Your vehicle is light, so if you manage to get some large/oversized tires and run them under-inflated you might be able to get by, but this for me is one of the great joys of engineering: the best, fastest way to get a satisfying answer is to try it. Try what you want to do in the environment you expect to operate. If building a prototype is too costly/time consuming I would choose a different method of locomotion for fear of digging into the sand, but if your actual terrain is "sandy" instead of "sand", as in by a river, or if the sand is wet or compacted, you might be able to get by.</p>

<p>Finally, that said, if you really want to go this route and weight is an issue, I would use <a href="http://www.robotmarketplace.com/products/mechanical_main.html" rel="nofollow noreferrer">belts or chains</a> to attach the wheels to the motors. Using a gearbox would be expensive weight-wise and would also probably limit the wheel base you could use. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8237" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8237">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8237" class = 'collapse'>
			</div>
				<textarea id = "speech-8237" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8237">
					<img id="start_img-8237" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8237">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>