<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can computer vision distinguish one object being contained by another vs being on top of it?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-718" class = "post">
			<h2>Question</h2>
			<div id="vote-718" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 211</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can computer vision distinguish one object being contained by another vs being on top of it?</h2>
<p>How do we know that an object is contained inside another object or is just lying on top of it? </p>

<p>Lets take an example of a cup-plate-spoon. The cup is lying on top of the plate. But the spoon is inside the cup. How do we distinguish between the 2 situations? What are the criteria to decide whether A is contained inside B or just lying above B?</p>

<p>I am trying to solve it using kinect.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-718" data-toggle = "popover">
				<p>user name : Swagatika</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-718">{'stereo-vision': 1, 'None': 0, 'computer-vision': 14, 'algorithm': 7, 'kinect': 14, 'books': 0, 'machine-learning': 5, 'forward-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-718" class = 'collapse'>
			</div>
				<textarea id = "speech-718" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-718">
					<img id="start_img-718" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-718">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-721"  class = "post">
				<h2>Answer</h2>
			<div id="vote-721" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Actually we don't. This is the source of myriad visual illusions. Through a life time of experience we learn context which tells us when one thing can be on another vs. in it. But even then a sculpture can be built to trick us. For example it can look like a plate, cup, and spoon organized in a certain way but in fact be non of the above. A good example of this are the <a href="http://io9.com/5935888/mc-eschers-impossible-structures-printed-in-3d">3D printed Escher pieces</a>.</p>

<p>The Kinect has the added ability to sense depth. With such information you may be able to make better determinations but we can still conceive of structures that would trick the system. I cannot speak to what CV methods exist to assist in your endeavor but I know that <a href="http://en.wikipedia.org/wiki/Deep_learning">Deep Learning</a> from the ML world has been making inroads here.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-721" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-721">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-721">Load Comments</button></br>
			<div id = "commentsection-721" class = 'collapse'>
			<div id = "comment-911" class = "comment">
				<p>Interesting. Are there not image recognition algorithms that account for depth? If it can see that there is a spoon and a cup, I would think that sufficiently precise distance sensor data and sufficient understanding of the 3D shape of the cup would allow for that to be determined.</p>
			</div>
			<div id = "comment-912" class = "comment">
				<p>Like I said, I can't speak to the CV methods available. I'm inclined to agree that if we had sufficiently accurate depth data and knew that we were looking at a cup and a spoon then we could make the determination. The crux is knowing that we're looking at a cup and a spoon. How do we know as much? If we are just analyzing a single photo then we cannot definitively say that is the case. Even we humans we can only say what we think we see if we don't have a priori knowledge.</p>
			</div>
			</div>
				<textarea id = "speech-721" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-721">
					<img id="start_img-721" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-721">Comment</button>
			<br><div id = "ans-732"  class = "post">
				<h2>Answer</h2>
			<div id="vote-732" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem is much easier, when you want solve this for specific object categories like cup-plate-spoon instead of any generic pair of objects. Also in my opinion there degeneracies as mentioned by DaemonMaker is not going to happen in this case since we have depth image instead of just a 2D image.</p>

<p>When you know the objects in scene and you have a depth image, it is possible to estimate the full 3D orientation (pose) of each of those objects. If the objects in question are rigid, some sort of <a href="http://pointclouds.org/documentation/tutorials/iterative_closest_point.php" rel="nofollow">ICP</a> may be enough in getting this pose. For harder scenarios where the object is non-rigid (humans) or you don't know the exact specific model of the object (say tea cup vs coffee cup), you should refer to some computer-vision/Kinect literature. </p>

<p>Once you have the 3D poses of the objects, answering object-object 3D positional queries will be easier.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-732" data-toggle = "popover">
				<p>user name : iNFINITEi</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-732">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-732">Load Comments</button></br>
			<div id = "commentsection-732" class = 'collapse'>
			<div id = "comment-3494" class = "comment">
				<p>Well, sorry for the very late response... I tried using convex hull method, I found the convex hull of both the regions in 3D. Then, found the amount of intersection they have. If it is significantly high, then one object is lying inside the other. If it is not, then it may be on top of it, or may not be. So I tested that by finding the 2D convex hulls of both the object regions, found the intersection. This gave me if one object lies on top of the other. Is there any method better than this?</p>
			</div>
			</div>
				<textarea id = "speech-732" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-732">
					<img id="start_img-732" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-732">Comment</button>
			<br><div id = "ans-4845"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4845" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I tried using convex hull method, I found the convex hull of both the regions in 3D. Then, found the amount of intersection they have. If it is significantly high, then one object is lying inside the other. If it is not, then it may be on top of it, or may not be. So I tested that by finding the 2D convex hulls of both the object regions, found the intersection. This gave me if one object lies on top of the other.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4845" data-toggle = "popover">
				<p>user name : Swagatika</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-4845">{'stereo-vision': 1, 'None': 0, 'computer-vision': 14, 'algorithm': 7, 'kinect': 14, 'books': 0, 'machine-learning': 5, 'forward-kinematics': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4845" class = 'collapse'>
			</div>
				<textarea id = "speech-4845" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4845">
					<img id="start_img-4845" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4845">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>