<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I draw with a 3 DOF RRR arm ,I have done the Forward and Inverse KInematics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14085" class = "post">
			<h2>Question</h2>
			<div id="vote-14085" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 17</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I draw with a 3 DOF RRR arm ,I have done the Forward and Inverse KInematics</h2>
<p>Heres the Matlab code, I start with x and y and when I pass it through IK and Fk I get back the correct x and y thus I am confident that IK and Fk are correct.</p>

<pre><code>x = 10; y = 10; z = 0;
a2 = 7.5; a3 = 9;
r = sqrt(z^2 + y^2);

th1 = atan2(y,x);
th3 = acos((r^2 + x^2 - (a2^2 + a3^2))/(2*a2*a3));
th2 = atan2(x,z) - atan2(a3*sin(th3), (a2 + a3*cos(th3)));
T0 = compute_dh_matrix(0,0,0,0);
T01 = T0*compute_dh_matrix(0, -pi/2, 0, th1);
T02 = T01 *compute_dh_matrix(7.5, 0, 0, th2-pi/2);
T03 = T02 *compute_dh_matrix(9, 0,0 , th3);
T03(1:3,4)

%ans =
%
%    10.0
%    10.0
%       0
</code></pre>

<p>I have tower pro micro servos SG90 for base, shoulder and elbow joints.I am giving power using a mobile charger which outputs 5V and 2A.Now I want to try drawing some simple shapes with this robot I tried giving it the sequence of x and y locations with z=0, but the results seem not good.Do I need another DOF on the end effector?Is there any way to map x-y to the theat_start - theta_end for every angle?This is the diagram of the robot,
 I have a small change as my zero position is upright not with a bend like below but the rotation and angles are the same.<a href="https://i.stack.imgur.com/gwuep.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/gwuep.png" alt="enter image description here"></a>.</p>

<p>I really hope this is a problem that you guys consider as per the rules and as I have done work on FK and IK I hope this question makes sense.Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14085" data-toggle = "popover">
				<p>user name : Abhilash V J</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-14085">{'python': 0, 'motion': 0, 'None': 0, 'inverse-kinematics': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14085">Load Comments</button></br>
			<div id = "commentsection-14085" class = 'collapse'>
			<div id = "comment-22946" class = "comment">
				<p>What do you mean when you say the results not looking good?</p>
			</div>
			<div id = "comment-22960" class = "comment">
				<p>In what plane is the drawing surface?  How far apart are the $(x,y)$ locations of the points to draw?  What are the rough dimensions of the arm, (i.e. link length).  How fast are you moving the servos?</p>
			</div>
			</div>
				<textarea id = "speech-14085" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14085">
					<img id="start_img-14085" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14085">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14089"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14089" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you consider your robot's pose <em>in the plane of the upper arm and forearm,</em> you'll see that you have a 2dof planar mechanism which gets rotated by the waist joint.   With only 2 dof in that plane, you can specify the x and y coordinates where you want to draw, but you cannot independently change the angle of the tool tip - it will be whatever it needs to be to reach those coordinates.  Your only options are to draw with a pen or brush that has a very large drawing tip (and hopefully circular or spherical), or to add a single wrist motor with which you can change the angle of the pen.   You'll have to solve for 4 dof inverse kinematics in this case.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14089" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-14089">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14089" class = 'collapse'>
			</div>
				<textarea id = "speech-14089" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14089">
					<img id="start_img-14089" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14089">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>