<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to get image of our point with K?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2002" class = "post">
			<h2>Question</h2>
			<div id="vote-2002" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to get image of our point with K?</h2>
<p>I saw in many profile that they have K with point, so my question is that how can i get such type of image.</p>

<p>For example i saw someones's  profile<br>
<img src="https://i.stack.imgur.com/3mVGa.png" alt="enter image description here"></p>

<p>But my is<br>
<img src="https://i.stack.imgur.com/4N6UE.png" alt="enter image description here"></p>

<p>Even i have many link account compare to Divya.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2002" data-toggle = "popover">
				<p>user name : Rajneesh071</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-2002">{'osx': 0, 'None': 0, 'discussion': 0, 'graphics': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2002" class = 'collapse'>
			</div>
				<textarea id = "speech-2002" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2002">
					<img id="start_img-2002" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2002">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2003"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2003" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Answer questions! Vote! Participate!</p>

<p>The 1.8k in that user's profile badge is short form for 1800. Where 1800 is their reputation score on the Ask Different site. They've earned that reputation by participating in the site. Rep is mainly gained by answering questions correctly and having those answered voted up and accepted as the most correct answer for questions. But you also get rep for questions that are voted up. And other actions on the site can earn you rep too like peer reviewing pending edits and suggesting tag wikis and so on.</p>

<p>As for the flair badge for the site:</p>

<blockquote>
  <p>(please note that only sites where you have more than 200 reputation will appear, and that flair is only updated once every 24-36 hours.)</p>
</blockquote>

<p>This is from the flair page itself. You can see it here for your user account: <a href="https://stackoverflow.com/users/1369972/rajneesh071/flair">https://stackoverflow.com/users/1369972/rajneesh071/flair</a></p>

<p>You don't have enough rep on Ask Different yet to get a flair badge. You need +200 rep on any site for a badge. Keep going! You're almost there!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2003" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-2003">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2003">Load Comments</button></br>
			<div id = "commentsection-2003" class = 'collapse'>
			<div id = "comment-3857" class = "comment">
				<p>I already have more reputation  http://stackoverflow.com/users/1369972/rajneesh071</p>
			</div>
			<div id = "comment-3858" class = "comment">
				<p>But that's on StackOverflow -- your rep is tracked per-site. Your rep on Ask Different isn't high enough to show up in a flair badge: http://apple.stackexchange.com/users/45688/rajneesh071 -- it's below 200.  If you want an aggregate reputation badge for all your Stack Exchange site rep take a look at this page: http://stackoverflow.com/users/1369972/rajneesh071/flair</p>
			</div>
			<div id = "comment-3859" class = "comment">
				<p>Hi thanks. what i am looking for if this image http://stackexchange.com/users/flair/1453784.png</p>
			</div>
			<div id = "comment-3867" class = "comment">
				<p>If you look at your flair page it says: "(please note that only sites where you have more than 200 reputation will appear, and that flair is only updated once every 24-36 hours.)" -- you don't have enough rep to get a flair badge for Ask Different yet. You're not at +200 rep.</p>
			</div>
			<div id = "comment-3872" class = "comment">
				<p>Thanks, but i am using http://stackexchange.com/users/flair/1453784.png I just wanted this image, and i got now. :)</p>
			</div>
			</div>
				<textarea id = "speech-2003" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2003">
					<img id="start_img-2003" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2003">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>