<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How much can working with CNC machines teach you about robotics?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-317" class = "post">
			<h2>Question</h2>
			<div id="vote-317" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 192</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How much can working with CNC machines teach you about robotics?</h2>
<p>I have built a few simple X/Y/Z CNC machines.  I've learned about G-Code, motor control, firmware and open loop systems.  I see machines like rovers, big dog and factory arms that seem incredibly complex by comparison, yet they don't seem that magical any more.  </p>

<p>What are the important skills to pick up from working with CNC machines?  What's the next logical thing to learn?  What things would CNC machines never teach me?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-317" data-toggle = "popover">
				<p>user name : Great Turtle</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-317">{'control': 6, 'None': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-317">Load Comments</button></br>
			<div id = "commentsection-317" class = 'collapse'>
			<div id = "comment-354" class = "comment">
				<p>In what way is a CNC machine *not* a robot? Most CNC machines I've seen are basically just a [gantry robot](http://en.wikipedia.org/wiki/Cartesian_coordinate_robot) with a specialised [end effector](http://en.wikipedia.org/wiki/Robot_end_effector)!</p>
			</div>
			<div id = "comment-743" class = "comment">
				<p>I essentially got started in robotics by building CNC machines.  The benefit is that by the time you have cool projects in mind, you also have the tools and experience to make them.</p>
			</div>
			<div id = "comment-7815" class = "comment">
				<p>The only thing I can think of that CNC machines really *can't* teach you about robotics is *artificial intelligence*.</p>
			</div>
			</div>
				<textarea id = "speech-317" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-317">
					<img id="start_img-317" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-317">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-319"  class = "post">
				<h2>Answer</h2>
			<div id="vote-319" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Building CNC equipment may teach you:</p>

<ul>
<li>Motor control</li>
<li>Kinematics and coordinated movement</li>
<li>How to choose motors for a given load</li>
<li>Mechanical movement (torque, moment, etc)</li>
<li>Simple electronics</li>
</ul>

<p>Running CNC equipment may teach you:</p>

<ul>
<li>Software control of hardware</li>
<li>Timing (at least on the gross level)</li>
<li>Feedback</li>
<li>Hardware error detection and recovery</li>
</ul>

<p>While the fields are different, very broadly speaking CNC machines are merely robots.  The reverse is true.  Due to their specific use there's different terminology and typically different control and usage schemes and scenarios, but at the end of the day you are moving things under electronic, and often autonomous, control.</p>

<p>Even today's high speed circuit board assembly machines use computer vision in complex ways similar to today's advanced robotics.  You'll find that the two fields share most things in common such that everything you learn in one will apply to the other in some way.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-319" data-toggle = "popover">
				<p>user name : Adam Davis</p>
				<p> user reputation : 211</p>
				<p class = "tagcontent" id = "usertaginfo-319">{'None': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-319" class = 'collapse'>
			</div>
				<textarea id = "speech-319" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-319">
					<img id="start_img-319" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-319">Comment</button>
			<br><div id = "ans-387"  class = "post">
				<h2>Answer</h2>
			<div id="vote-387" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could think of robotics as being broken down into 3 parts: sensing, decision making, and actuating.  Open loop systems are just the "actuating" part of that picture, and it sounds like you have a good handle on that already from your work with CNC machines.</p>

<p>I think the next area for you to check out would be sensing.  It's not as easy as it looks, and Katy Levinson will explain some of it to you: <a href="http://www.youtube.com/watch?v=gFW0schumkE" rel="nofollow">http://www.youtube.com/watch?v=gFW0schumkE</a></p>

<p>Not that you need to jump right into sophisticated sensors.  Getting comfortable with sensors (and their limitations, and filtering, and combining separate sensors into a unified world view) could be as simple as using a clock and a light sensor to determine whether it is a cloudy day ouside.</p>

<p>The last thing to check out would be the decision making: how to use the data from the sensors to decide what to do with the actuators.  There are too many possibilities to enumerate here, so it's best to come up with a project idea like "I want to dispense water into my plants when the soil gets too dry" or "I want to close my blinds at night and open them in the morning" or "I want to put a sharpie in my CNC machine and move the table to plot the signal from my phone's accelerometer in realtime".... then use that problem to teach yourself the theory.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-387" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-387">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-387" class = 'collapse'>
			</div>
				<textarea id = "speech-387" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-387">
					<img id="start_img-387" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-387">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>