<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I if know my quad is powerful enough to take off vertically smoothly and how do I calculate max Thrust(g) for given current(A) and voltage(V)?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8689" class = "post">
			<h2>Question</h2>
			<div id="vote-8689" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 601</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I if know my quad is powerful enough to take off vertically smoothly and how do I calculate max Thrust(g) for given current(A) and voltage(V)?</h2>
<p>If I build my quadcopter with the following components, will it take off vertically smoothly?</p>

<p>Frame: F450 glass fiber and polyamide nylon [280g]</p>

<p>Landing Gear: High Landing Gear for F450 [90g]</p>

<p>Battery: 3000mAh 20C (30C burst) 3s/1p [260g]</p>

<p><a href="http://robu.in/shop/a2212-1400kv-brushless-motor-30a-esc-1045-propeller-set/" rel="nofollow noreferrer">Motor</a>: XXD A2212 1400KV brushless outrunner motor [4x50g]</p>

<p>ESC: 30A (40A burst) Brushless with BEC - 2A/5V [4x25g]</p>

<p>Prop: 1045 Propeller set</p>

<blockquote>
  <p>Assume that the total weight of the quad is ~1.1Kg and I would like to have payload upto 400g, making the quad weigh ~1.5Kg</p>
</blockquote>

<p>From all that I've learnt, the Thrust:Weight ratio should never fall below 1.7:1 (and a 2:1 is recommended to have better control) which if does creates problems in lifting my quad vertically smoothly. I'm neither planning to have very high maneuverability nor cruise the sky pushing my quad's limits. I just want it to fly.</p>

<blockquote>
  <p>Here's the motors pull(g)-amps(A)-voltage(V)-power(W)-specificThrust(g/W) information for A2212 1400kv with 10 x 4.5 Props</p>
</blockquote>

<p><a href="https://i.stack.imgur.com/d1KqE.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/d1KqE.jpg" alt="Motor thrust-amps-power information"></a></p>

<p>Since my battery's discharge rate is limited to 20C, if I'm not wrong, it can give out only 60A (since its 3000mAh) for the entire circuit with four motors, each of which can take 15A max, which from the above table would produce ~600g thrust, which is 2400g from all four motors.</p>

<blockquote>
  <p>Does this mean I can get 1.6:1 Thrust:Weight at 100% throttle? Can my quad still take off vertically smoothly?</p>
</blockquote>

<p>I'm also confused about the efficacy of my motor, meaning if I buy a bigger motor, can get more than 600g thrust at 15A/11.1V with same/bigger props? If not, is this the most efficient combination of motor and prop? </p>

<blockquote>
  <p>If yes, what is the maximum thrust (practical pulling force in g, not in N) I can get outta 15A/11.1V? Which equation tells defines that exact relation, provided I fly my quad at usual conditions (1013hPa/25degC extTemp/80%-90% relHumidity/max15mAlti)?</p>
</blockquote>

<p>PS: I tried ecalc, Prop Power Thrust and Efficiency Calculations, and a few other online stuff.</p>

<p><strong>Update</strong>: Will replacing the 3000mAh-20c/30c battery with the 5000mAh-20c/30c 3s1p keeping everything same solve some problems and increase the flight time, provided I keep everything else the same?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8689" data-toggle = "popover">
				<p>user name : Zeke Dran</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-8689">{'quadcopter': 4, 'None': 0, 'arduino': 3, 'battery': 1, 'lithium-polymer': 1, 'brushless-motor': 1, 'esc': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8689">Load Comments</button></br>
			<div id = "commentsection-8689" class = 'collapse'>
			<div id = "comment-14254" class = "comment">
				<p>It's not too important but for clarification could you add whether this question involves the control of motors or not? If you already have the components assembled, why not give it a try, using a mechanism to hold the quad on top of a weighing scale? For practical theory of calculations the question is perfect btw.</p>
			</div>
			</div>
				<textarea id = "speech-8689" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8689">
					<img id="start_img-8689" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8689">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8714"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8714" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're really asking two questions here:</p>

<blockquote>
  <p>Will the motors and propellers be able to provide enough thrust to lift the weight of the quadcopter?</p>
</blockquote>

<p>There's no substitute for measurement here.  Get one motor, one propeller, and <a href="https://robotics.stackexchange.com/a/4356/350">measure it for yourself</a> using a benchtop power supply.  Then multiply that by 4 (scaling it by the ratios you posted, as appropriate) and compare it to the total weight of the components you plan to buy.</p>

<p>The second question supports the first:</p>

<blockquote>
  <p>Will my power system be able to drive the motors at full speed?</p>
</blockquote>

<p>Since you will already have the motors, you can measure their input current at full speed.  Then multiply by 4, and see if that total power matches your calculations for the equipment.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8714" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-8714">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8714" class = 'collapse'>
			</div>
				<textarea id = "speech-8714" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8714">
					<img id="start_img-8714" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8714">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>