<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can one determine whether a LiPo battery is going bad?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-453" class = "post">
			<h2>Question</h2>
			<div id="vote-453" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 8820</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can one determine whether a LiPo battery is going bad?</h2>
<p>In our lab we use LiPo batteries to power our quadrotors. Lately we have been experiencing stability issues when using certain batteries. The batteries seem to charge and balance normally and our battery monitor indicates they are fine even when putting them under load. However when we attempt to fly the quadrotor with one of these batteries, manually or autonomously, it has a severe tendency to pitch and/or roll. My guess is that the battery is not supplying sufficient power to all the motors which brings me to my question. Is this behavior indicative of a LiPo going bad? If so what is the best way to test a battery to confirm my suspicions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-453" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-453">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-453">Load Comments</button></br>
			<div id = "commentsection-453" class = 'collapse'>
			<div id = "comment-509" class = "comment">
				<p>Many electronic LiPo chargers (the large boxy ones with LCD displays) show the battery health, you might want to try one of those?</p>
			</div>
			<div id = "comment-514" class = "comment">
				<p>We have one but I didn't know they could do this, I'll check the manual for the one we use.</p>
			</div>
			<div id = "comment-21479" class = "comment">
				<p>on my lipo battery it is not mentioned that it's 3s or 4s.....so how can i determine its cells??</p>
			</div>
			</div>
				<textarea id = "speech-453" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-453">
					<img id="start_img-453" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-453">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-455"  class = "post">
				<h2>Answer</h2>
			<div id="vote-455" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's a possibility that the battery is going bad under those conditions. Assuming you have some kind of <a href="https://en.wikipedia.org/wiki/Supervisory_circuit" rel="nofollow">battery supervisor</a>, just adding an interrupt indicating that the battery is below a certain level would be very informative. That way, if you have a freshly charged battery and the interrupt is triggered sooner than expected, then you know that the battery is going bad. That is, unless the problem is more obvious by observing swelling of the battery, in which case you should probably (and safely) dispose of it. You could also try the fresh battery with a comparable load to that expected while in flight (e.g. when all motors are on and all processors and sensors are running nominally).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-455" data-toggle = "popover">
				<p>user name : fgb</p>
				<p> user reputation : 374</p>
				<p class = "tagcontent" id = "usertaginfo-455">{'None': 22}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-455" class = 'collapse'>
			</div>
				<textarea id = "speech-455" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-455">
					<img id="start_img-455" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-455">Comment</button>
			<br><div id = "ans-457"  class = "post">
				<h2>Answer</h2>
			<div id="vote-457" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"behavior indicative of a LiPo going bad" - in my experience this is usually a puffy battery, or a fire. My understanding of it is when a LiPo goes bad, the individual cells within it are not charging and/or discharging evenly, and that indirectly leads to the previously mentioned symptoms. </p>

<p>Can you check the voltage balance after a bad flight? Are they more than a 1/10  volt different?  Can you verify other exact same batteries are performing adequately, and thus your C rating (burst amperage) is appropriate?</p>

<p>I suppose it is possible to exhibit the behavior you describe, but that would mean the specifications were very close to begin with, you should try allow a little more room (ie a higher C rating, at a higher cost $$ of course).</p>

<p>This is pretty much the same thing movrev said in his answer - so mark it instead of this one.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-457" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-457">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-457" class = 'collapse'>
			</div>
				<textarea id = "speech-457" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-457">
					<img id="start_img-457" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-457">Comment</button>
			<br><div id = "ans-458"  class = "post">
				<h2>Answer</h2>
			<div id="vote-458" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you're asking 2 questions:</p>

<ol>
<li>Is an imbalance in motor performance indicative of a failing battery?</li>
<li>How would you test for a failing battery?</li>
</ol>

<p>The answer to the first question is "maybe".  We had an issue on one of the AUVs I used to work on, where sometimes at the end of the day it would lose all heading control.  By chance, we discovered that one of the motor controllers (used for differential drive) stopped working when it dipped below a certain voltage, where the other one was unaffected.  So in that sense, the imbalance in motor performance was related to the battery but not necessarily a battery failure.  </p>

<p>The best way to rule out the battery would be to tie your quadrotor (with only a few inches of freedom) to a table, and measure the battery voltage while you manually control it.  Does it drop below what you're expecting, indicating an inability to supply enough current?  Another way to do it would be to replace the battery with a simulated battery (variable voltage source + variable resistor) and test whether dips in the output voltage or increased internal resistance are to blame.</p>

<p>The answer to the second question is more complicated, but a decent resource for it is here:
<a href="http://batteryuniversity.com/learn/article/testing_lithium_based_batteries" rel="nofollow noreferrer">http://batteryuniversity.com/learn/article/testing_lithium_based_batteries</a>
<img src="https://i.stack.imgur.com/V3Fv5.jpg" alt="Failure "></p>

<p>Essentially, you must measure the response times of the battery to changes in load.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-458" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-458">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-458" class = 'collapse'>
			</div>
				<textarea id = "speech-458" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-458">
					<img id="start_img-458" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-458">Comment</button>
			<br><div id = "ans-7906"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7906" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use an <a href="http://www.ebay.co.uk/itm/391201790274?_trksid=p2055119.m1438.l2649&amp;ssPageName=STRK%3AMEBIDX%3AIT" rel="nofollow noreferrer">RC battery checker</a>, </p>

<p><a href="https://i.stack.imgur.com/39992.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/39992.jpg" alt="Cell capacity Controller"></a></p>

<p>to verify the individual cells in a battery pack. These are cheap, for about $3.</p>

<p>If any cell is below 3V on a LiPo battery then it should be considered as dead, or dying, and hence, it should be replaced.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7906" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-7906">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7906" class = 'collapse'>
			</div>
				<textarea id = "speech-7906" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7906">
					<img id="start_img-7906" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7906">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>