<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to rotate a dc motor at a fixed rpm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7896" class = "post">
			<h2>Question</h2>
			<div id="vote-7896" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 863</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to rotate a dc motor at a fixed rpm</h2>
<p>I am using 8051 microcontroller and a dc motor.What to do if i have to rotate the motor at any fixed rpm. Let's say 120rpm.</p>

<p>And if it is possible by generating pwm,how to do the calculations for the relation between duty cycle and rpm?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7896" data-toggle = "popover">
				<p>user name : Abhishek Kulshrestha</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-7896">{'control': 2, 'None': 0, 'microcontroller': 2, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7896" class = 'collapse'>
			</div>
				<textarea id = "speech-7896" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7896">
					<img id="start_img-7896" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7896">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7899"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7899" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This would be possible if you had a perfect motor. The speed of a motor is basically fixed by the voltage you apply on it. More precisely, the speed is proportional to the back EMF of the motor, and, with no current, BEMF is equal to the voltage you apply on the motor.</p>

<p>No current means no torque, so no mechanical power. If you have current, you'll have loss in the wiring of your motor (which is resistive), on the iron core and in the rotor, due to magnetic hysteresis and Foucault currents in the rotor (iron losses).</p>

<p>So, on a real motor, you can't know the exact rotation speed from the voltage you apply on the motor.</p>

<p>One solution is to put a sensor on the rotor to measure the rotor speed, and put a speed regulator in your 8051.</p>

<p>There is a more sophisticated solution: if you know the resistance and the iron losses of your motor, by sensing the current in your motor, and knowing the voltage you apply, you can compute the actual speed, and then run you speed regulation.</p>

<p>And, finally, a more basic solution, very easier: if your load is always the same (for instance, you have a propeller on your motor), you can measure the speed at different voltage, and rebuild mathematically a conversion law from PWM to speed, and use it to command your motor. If your load is very small, or roughly constant, you may even assume that speed is proportional to the voltage.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7899" data-toggle = "popover">
				<p>user name : Jacen</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-7899">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7899" class = 'collapse'>
			</div>
				<textarea id = "speech-7899" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7899">
					<img id="start_img-7899" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7899">Comment</button>
			<br><div id = "ans-7901"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7901" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No, you cannot get an exact RPM from PWM, and you probably cannot even get a close RPM from PWM without a <em>good</em> model of the system.</p>

<p>As Jacen notes in their answer, the voltage constant gives motor RPM for a given terminal voltage for an <em>unloaded</em> motor, but, thanks to friction, the motor is always under load. Worse, because of viscous friction, the load varies with RPM.</p>

<p>You could try to guess rpm based on voltage (which you could get from PWM duty cycle) and current, but the issue there is that motor output power is a combination of frictional losses, load losses, and <em>acceleration torque</em>. That is, if you have half voltage and full current, you could be accelerating from a stop to half speed or you could be operating at half speed under heavy load. It is not possible to divine contributions due to load and acceleration from output power alone.</p>

<p>That said, you <em>can</em> command an exact RPM by simply adding an encoder to the motor. With feedback you can read RPM exactly and implement a simple PID controller to drive output RPM to whatever you desire. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7901" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7901">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7901" class = 'collapse'>
			</div>
				<textarea id = "speech-7901" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7901">
					<img id="start_img-7901" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7901">Comment</button>
			<br><div id = "ans-7902"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7902" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It depends! In case you are going to attach either nothing or a constant load to your motor, one can calculate/approximate a relation between duty cycle and rpm by performing a series of input-output measurements or given the motor parameters $K_{mf}\ J \ L\ R\ b$ <a href="http://ctms.engin.umich.edu/CTMS/index.php?example=MotorSpeed&amp;section=SystemModeling" rel="nofollow noreferrer">(see here)</a> by analytical derivation.</p>

<p>The relation between the motor input voltage $V$ your supply voltage $V_\text{sup}$ and the duty-cycle $\nu \in [0,1]$ is approximately given as</p>

<p>$V = \nu\, V_{sup}$</p>

<p>Given the motors transfer-function (Angualr velocity $\omega$):</p>

<p>$\dfrac{\omega(s)}{V(s)} = \dfrac{K}{(J\,s+b)\,(L\,s+R)+K^2} $,</p>

<p>you can calculate the unit-step response of the motor as</p>

<p>$\lim_{s\rightarrow 0}\ \dfrac{1}{s} \dfrac{\omega(s)}{V(s)} \, s = \dfrac{K}{b\, R+K^2}$.</p>

<p>Thus your free running motor's verlocity should settle at approximately yield</p>

<p>$\omega = \dfrac{K}{b\, R+K^2}\, \nu \, V_{sup}$</p>

<p>However you must be lucky to be given precise motor parameters. Note due to modelling errors (neglecting many disturbances, heat, ...) this is only a rough approximation.</p>

<p>I recently did a comparison of a motor's step response to different input voltages (PWM controlled) and the theoretical step response of a modelled DC-Motor:
<a href="https://i.stack.imgur.com/71QzU.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/71QzU.png" alt="Model vs. &quot;real&quot; motor"></a></p>

<p>However, if the load or respectively the torque you're applying at the motor's shaft is not constant, you most certainly will have to implement a control loop, measuring the momentary rpm of the motor, calculating the deviation from the reference velocity and applying a duty-cycle that depends on this deviation. This can be done by using simple controler such as a PI-controler and is extensively discussed in literature. Tuning for the controller parameters can be done by "intelligent trying", approximative rules (Ziegler-Nichols) or given that you have the parameters of your motor, by numerical optimization techniques.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7902" data-toggle = "popover">
				<p>user name : Flo Ryan</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-7902">{'odometry': 3, 'None': 2, 'motion-planning': 2, 'kalman-filter': 3, 'kinematics': 2, 'robotic-arm': 4, 'imu': 3, 'sensor-fusion': 3, 'jacobian': 2, 'mobile-robot': 4, 'sensors': 3, 'ros': 2, 'inverse-kinematics': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7902" class = 'collapse'>
			</div>
				<textarea id = "speech-7902" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7902">
					<img id="start_img-7902" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7902">Comment</button>
			<br><div id = "ans-7907"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7907" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In the real world, this cannot be calculated.  You have three options, from best to worst:</p>

<ol>
<li>Measure the actual RPM in real time and make appropriate adjustments to the motor's input power (such as with a PID).</li>
<li>Use a stepper motor, control the step rate, and assume that it will never stall.</li>
<li>Allow "fixed RPM" to mean "bell curve of acceptable RPMs".  Then, characterize the motor's commanded speed versus its actual speed, base your calculations on that, and be prepared to do it again when the motor's characteristics inevitably drift (due to load, lubrication, ambient temperature, etc) and cause your RPMs to move out of the acceptable range.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7907" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7907">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7907" class = 'collapse'>
			</div>
				<textarea id = "speech-7907" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7907">
					<img id="start_img-7907" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7907">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>