<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How do we add tag pictures?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1088" class = "post">
			<h2>Question</h2>
			<div id="vote-1088" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do we add tag pictures?</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/937/can-we-have-tag-icons">can we have Tag Icons</a>  </p>
</blockquote>



<p>On Stack Overflow, there are pictures next to the tag, such as <a href="https://stackoverflow.com/questions/tagged/android">the Android tag:</a></p>

<p><img src="https://i.stack.imgur.com/tEJwa.png" alt="SO android tag picture"></p>

<p>Or <a href="https://stackoverflow.com/questions/tagged/facebook">the Facebook tag:</a><br>
<img src="https://i.stack.imgur.com/bUvjh.png" alt="SO FB tag picture"><br>
How can we add pictures like these to Ask Different? I think that they would make the site look better overall.</p>

			</div>
			<div id = "userinfo-1088" style = "float:right">
				<p>user name : daviesgeek</p>
				<p> user reputation : 18210</p>
				<p> user tag wise history : {'community-wiki': -2, 'questions': -4, 'design': 14, 'chat': 1, 'images': 1, 'flagging': 3, 'unanswered-questions': -4, 'editing': 6, 'support': 10, 'hyperlinks': 12, 'feature-request': 16, 'bounty': 1, 'status-bydesign': 1, 'profile-page': 1, 'None': 27, 'tags': 2, 'status-completed': 3, 'moderator-tools': 3, 'review-page': 1, 'bug': 1, 'closed-questions': 0, 'reputation': 1, 'voting': 3, 'discussion': 31}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1088">Load Comments</button></br>
			<div id = "commentsection-1088" class = 'collapse'>
			<div id = "comment-1973" class = "comment">
				<p>In my personal opinion, they'd just add clutter without value. I like OS X's menu items mostly without useless symbols next to them like on other systems. Even e.g. the Safari bookmarks bar doesn't show them and thereby reduces distraction, although bookmarks (and their favicons) are one of the few areas they make sense, since they improve recognition.</p>
			</div>
			</div>
				<textarea id = "speech-1088" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1088">
					<img id="start_img-1088" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1088">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1089"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1089" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>By getting someone to sponsor it. All the tags with images <a href="https://meta.stackexchange.com/questions/30187/what-do-icons-on-the-tags-mean">have sponsors paying for the privilege</a>, and are mentioned on the tags' wiki:</p>

<ul>
<li><a href="https://stackoverflow.com/questions/tagged/android">Android</a></li>
<li><a href="https://stackoverflow.com/questions/tagged/facebook">Facebook</a></li>
</ul>

<p>You'll also notice that images can be removed (no <em>rg</em> image on <a href="https://apple.stackexchange.com/questions/tagged/sql-server" class="post-tag" title="show questions tagged &#39;sql-server&#39;" rel="tag">sql-server</a> anymore on SO like in the linked topic).</p>

<p>So unless you find a sponsor (and find out whether non-SO sites implement this feature at all), or post a feature request to support this for any tag and quit taking money from sponsors, there's no way to do this.</p>
</p><br>
			</div>
			<div id = "userinfo-1089" style = "float:right">
				<p>user name : Daniel Beck</p>
				<p> user reputation : 1712</p>
				<p> user tag wise history : {'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1089" class = 'collapse'>
			</div>
				<textarea id = "speech-1089" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1089">
					<img id="start_img-1089" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1089">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>