<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I modify a low cost hobby servo to run 'freely'?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2" class = "post">
			<h2>Question</h2>
			<div id="vote-2" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3419</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I modify a low cost hobby servo to run 'freely'?</h2>
<p>I've got some hobby servos (<a href="http://www.servodatabase.com/servo/power-hd/hd-1501mg">Power HD 1501MGs</a>) and I'd like to be able to control them (via an Arduino) so they will either go to the angle I set, or put them in a 'free running' mode, where the load will take them wherever it goes.</p>

<p>Is this even possible, or am I just going to end up stripping the gears?</p>

<p>My first thought is to simply kill the power to the servo, but the force required to move them in that state is more than I'd like.</p>

<p>If it is possible, am I looking at a hardware change, or could I do it in software?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2" data-toggle = "popover">
				<p>user name : Khrob</p>
				<p> user reputation : 183</p>
				<p class = "tagcontent" id = "usertaginfo-2">{'control': 13, 'None': 0, 'power': 2, 'rcservo': 15, 'bec': 2, 'design': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2">Load Comments</button></br>
			<div id = "commentsection-2" class = 'collapse'>
			<div id = "comment-79" class = "comment">
				<p>Hobby servos are not really suitable for robust robotics, and *modified* hobby servos are even worse. You won't like what you get if you do this. Buy an affordable gearhead DC motor and a small H-bridge to drive it instead, it will be much more robust, and you will be much happier. You can build an H-bridge from an L298 circuit at very low cost.</p>
			</div>
			<div id = "comment-83" class = "comment">
				<p>I guess my next question in here will be 'what's an h-bridge?'  (But I'll try google first!)</p>
			</div>
			</div>
				<textarea id = "speech-2" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2">
					<img id="start_img-2" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Interesting question. </p>

<p>The first option I'd investigate would be cutting the power as you suggested (perhaps control a MOSFET in software to switch the power).</p>

<p>Another more complicated approach might be to monitor the current consumption of the servo to detect when it is under a heavy load. When you want to go into "free running" mode, have your software attempt to continuously move the servo into a position that results in the least current consumption. This will not entirely result in a "free running" servo, since there will be some jittery movements from the servo as the software attempts to find the "right" position, but it might work depending on your application.</p>

<p>You would not need to modify your servos to monitor current consumption. A board such as <a href="https://www.sparkfun.com/products/8882" rel="nofollow noreferrer">this one from SparkFun</a> will sit in between the servo and its power source (you need one of these per servo) and will output an analog voltage (that you can read on a microcontroller ADC pin) that corresponds to the current:</p>

<p><img src="https://i.stack.imgur.com/tUZOG.jpg" alt="enter image description here"></p>

<p>Image from SparkFun</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8" data-toggle = "popover">
				<p>user name : Chris Laplante</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-8">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8">Load Comments</button></br>
			<div id = "commentsection-8" class = 'collapse'>
			<div id = "comment-19" class = "comment">
				<p>@Khrob: Please see my edit</p>
			</div>
			<div id = "comment-20" class = "comment">
				<p>Nice - I've now ordered a bunch of those!</p>
			</div>
			<div id = "comment-22" class = "comment">
				<p>@Khrob: Nice, let us know how they work! (And please don't blame me if it doesn't work ;) )</p>
			</div>
			<div id = "comment-24" class = "comment">
				<p>@Khrob: Also, note that depending on how small currents you are measuring, you might need a more sensitive board: https://www.sparkfun.com/products/8883</p>
			</div>
			<div id = "comment-25" class = "comment">
				<p>I'll start cheap & work my way up!</p>
			</div>
			<div id = "comment-38" class = "comment">
				<p>@Khrob: Good plan!</p>
			</div>
			<div id = "comment-67" class = "comment">
				<p>No, you can't place a diode across the servo, for two reasons. Firstly, it will simply short circuit the servo for one direction, making it useless. Secondly, the current flowing in the diode will actually reduce back-drivability.</p>
			</div>
			<div id = "comment-76" class = "comment">
				<p>@Rocketmagnet: Very good points - my mistake. Thanks for pointing that out!</p>
			</div>
			</div>
				<textarea id = "speech-8" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8">
					<img id="start_img-8" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8">Comment</button>
			<br><div id = "ans-27"  class = "post">
				<h2>Answer</h2>
			<div id="vote-27" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Usually, these types of hobby servos are not made for continuous rotation, and will often include a mechanical stop.  Beware, what I outline below is a surefire way to never get actual closed-loop operation, but will instead make the servo continuous-only.</p>

<p>Most of the time, you can do a quick search online for "Continuous modification for x servo", but I will outline the general process here.</p>

<ul>
<li>Determine if the servo has a physical stop.  If it does, you will have to open the servo and remove it (I recommend the Dremel tool).</li>
<li>You then want to find the "center" of the feedback mechanism.
<ul>
<li>Connect the servo to your Arduino and send a "center" command (usually PWM 127).</li>
<li>Find the feedback mechanism (typically a potentiometer), and trim it until the servo does not move at all.</li>
<li>Either glue the potentiometer in place, or measure the resistance and replace the potentiometer with a set value resistor.</li>
</ul></li>
<li>Reassemble the servo.</li>
</ul>

<p>Now sending a "center" command to the servo should stop it from moving, while sending it a positive or negative command should cause it to rotate continuously in one direction or the other.  The rotation speed should be proportional to the "distance" from center of the command sent.</p>

<p>If you want to restore servo operation to your newly-modified servo, you can add some sort of encoder to re-close the loop.</p>

<p>Alternatively, you may want to look at the <a href="http://www.robotis.com/xe/dynamixel_en">Dynamixel series</a> servo, which allows for both continuous and servo'ed operation, and includes some Arduino support.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-27" data-toggle = "popover">
				<p>user name : mjcarroll</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-27">{'None': 5, 'computer-vision': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-27">Load Comments</button></br>
			<div id = "commentsection-27" class = 'collapse'>
			<div id = "comment-30" class = "comment">
				<p>I'm fine with there being a mechanical limit to the motion, but this would be a good way to extend it even further to have a crack at an inverted pendulum setup!  I've looked at the Dynamixel stuff, and it's very cool, but more $$ than I'm hoping to spend on this.</p>
			</div>
			<div id = "comment-32" class = "comment">
				<p>My impression was that the OP wanted to start something in motion by driving a servo and then let it "coast" without power until it naturally stops from inertia.  I don't know of any servo designs (continuous or not) that would allow this effect to happen.</p>
			</div>
			<div id = "comment-35" class = "comment">
				<p>@Crake, I agree, I believe that I answered the wrong question, but I'll leave this up, since I already did the work :p.  IIRC, the Dynamixel servos should have a "coast" setting.</p>
			</div>
			<div id = "comment-47" class = "comment">
				<p>@mjcarroll Yep, I think it is useful to have a mention of how to modify a servo for continuous rotation since that is a common task for cheap robot projects.  I am curious if the Dynamixel servos use the current measuring algorithm described in SimpleCoder's answer, constantly seeking to minimize current by adjusting PWM, or if they have a physical clutch to disengage the servo motor from the drive shaft.</p>
			</div>
			</div>
				<textarea id = "speech-27" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-27">
					<img id="start_img-27" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-27">Comment</button>
			<br><div id = "ans-50"  class = "post">
				<h2>Answer</h2>
			<div id="vote-50" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you're asking isn't going to be very easy with a standard RC servo.</p>

<p>What you're asking for is a back-drivable servo. I.E. one which you can freely rotate by applying an external torque. It is certainly possible to create these, and they are used on many robots, but most RC servos require considerable torque to back drive them. I would call them semi-backdrivable.</p>

<p>What prevents you back driving them? Two things:</p>

<p><strong>Friction:</strong> Firstly, friction in the gear chain and motor. RC servos are always geared down; the output spins slower than the motor. Of course this means that when you try to back drive it, you have to spin the motor very quickly. Any friction or cogging in the motor will be felt dozens of time over at the output.</p>

<p><img src="https://i.stack.imgur.com/KFZwV.jpg" alt="backdrivability"></p>

<p><strong>Current:</strong> something surprising about electric motors is that, if you short the terminals, they become harder to turn. The rotation of the motor generates an electric current which works against your rotation. The electronics inside the servo might well allow enough current to flow, even when off, that it noticeably prevents backdrivability. In the past I have noticed that some large stepper motors, even when ungeared, are almost impossible to back drive when plugged in to unpowered equipment. But when you unplug them, they can be spun freely.</p>

<p>So, one way you can improve the back-drivability is to prevent current flowing. The obvious way to do this is to fully disconnect the motor from its electronics. But this is hard to do, even using FETs, because the diodes inside the FETs might well allow current to flow. However, you could use a relay, which really would disconnect the motor. You'd only have to use it on one of the motor's terminals.</p>

<p><img src="https://i.stack.imgur.com/9Yv1Y.jpg" alt="Maxon&#39;s ESCON"></p>

<p>'Proper' servo controllers (like the <a href="http://escon.maxonmotor.com/" rel="nofollow noreferrer">ESCON</a> from Maxon) actually contain a current controller which can actively prevent current flowing by applying the correct voltage at the motor terminals. Replacing the electronics in the servo with something capable of current control might really help.</p>

<p><strong>What you should do:</strong> Open up the servo, unsolder the motor, and re-assemble it. How easy is it to back-drive now? If it's easy, then it may be possible to do what you want. If it's still too hard for your application, then you're going to have to choose a different servo, or make your own. Make one with a single gear stage so that the gear friction is reduced as much as possible, and use drive electronics with a current control loop to guarantee zero current flow.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-50" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-50">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-50">Load Comments</button></br>
			<div id = "commentsection-50" class = 'collapse'>
			<div id = "comment-179" class = "comment">
				<p>SimpleCoder's answer is excellent too.</p>
			</div>
			</div>
				<textarea id = "speech-50" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-50">
					<img id="start_img-50" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-50">Comment</button>
			<br><div id = "ans-959"  class = "post">
				<h2>Answer</h2>
			<div id="vote-959" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Don't, instead get yourself some <a href="http://www.pololu.com/catalog/category/51" rel="nofollow noreferrer">decent motors</a> and drive them via an h-bridge like you'll find on this <a href="http://arduino.cc/en/Main/ArduinoMotorShieldR3" rel="nofollow noreferrer">motor shield</a>.</p>

<hr>

<p><img src="https://i.stack.imgur.com/fNMxg.jpg" alt="Pololu motors"></p>

<p><img src="https://i.stack.imgur.com/6uKlD.jpg" alt="Arduino Motor Shield"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-959" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-959">{'None': 68}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-959" class = 'collapse'>
			</div>
				<textarea id = "speech-959" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-959">
					<img id="start_img-959" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-959">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>