<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>how to make a robot move using arduino other than timing to predefined locations?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6955" class = "post">
			<h2>Question</h2>
			<div id="vote-6955" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 154</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>how to make a robot move using arduino other than timing to predefined locations?</h2>
<p>how to make a robot move using arduino other than timing to predefined locations? and without the use of sensors?? I want to make my car move to different loactions on a board..want to know the possible options without using sensors and encoders??
 And how does cartesian robot work for predefined locations..does it require sensor too?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6955" data-toggle = "popover">
				<p>user name : Olivier How</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-6955">{'None': 0, 'navigation': 0, 'sensors': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6955">Load Comments</button></br>
			<div id = "commentsection-6955" class = 'collapse'>
			<div id = "comment-9922" class = "comment">
				<p>Why do you wish to avoid sensors?  They're extremely useful in virtually all robotics applications.</p>
			</div>
			<div id = "comment-9936" class = "comment">
				<p>Would building a 'candy grabber' robot to pick up and place your robot be an option?</p>
			</div>
			</div>
				<textarea id = "speech-6955" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6955">
					<img id="start_img-6955" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6955">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6959"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6959" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Cartesians Robot use sensors. All robot need sensors. Sometime they are external (camera looking at the robot), sometime they are on the robot (IMU). </p>

<p>Basically what you're asking is : </p>

<ul>
<li>How can an animal without any way to sense the world move from an exact point to another ?</li>
</ul>

<p>Well, it can't.</p>

<p>Why do you wish not to use sensors ? There are very cheap ones out there that could help you with your project. You just need to define this project a little better so you can find the sensor that works for you.</p>

<p>Btw, going to predefined location without sensor like <em>encoders</em>, is not really feasible either. Or a pain. You'll need to calculate an approximate speed from the voltage (and, as someone pointed out, knowing the voltage would need a sensor) you input in the motor and, trust me, it's not going to be very accurate. The drift is going to kill you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6959" data-toggle = "popover">
				<p>user name : Malcolm</p>
				<p> user reputation : 393</p>
				<p class = "tagcontent" id = "usertaginfo-6959">{'communication': 1, 'None': 24, 'serial': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6959" class = 'collapse'>
			</div>
				<textarea id = "speech-6959" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6959">
					<img id="start_img-6959" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6959">Comment</button>
			<br><div id = "ans-7028"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7028" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Without sensors or encoders, there is no way to know where you are.  Without timing, there is no way to guess how far you may have travelled.</p>

<p>Without sensors, encoders, or timing, it is impossible to do what you are asking.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7028" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7028">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7028" class = 'collapse'>
			</div>
				<textarea id = "speech-7028" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7028">
					<img id="start_img-7028" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7028">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>