<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to get Max Torque on Robot arm 's Joints (RRR)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11901" class = "post">
			<h2>Question</h2>
			<div id="vote-11901" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 170</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to get Max Torque on Robot arm 's Joints (RRR)</h2>
<p>Suppose I have a Robot Arm with 3 joint(revolute)( 3 DOF) as shown below , and I'm given </p>

<p>-The ranges of each joint q1,q2,q3</p>

<p>-The lengths of each link L1,L2,L3</p>

<p>-Load on the end effector [Fx Fy M]</p>

<p>how can I calculate the max torque at each joint of the robot ? </p>

<p>*image below describes the robot configuration.</p>

<p>If I missed any details , mention it in a comment and I will add it .
Thanks in advance</p>

<p><a href="https://i.stack.imgur.com/8Vdu2.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/8Vdu2.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11901" data-toggle = "popover">
				<p>user name : Kareem Emad</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-11901">{'None': 0, 'torque': 0, 'matlab': 0, 'robotic-arm': 0, 'jacobian': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11901" class = 'collapse'>
			</div>
				<textarea id = "speech-11901" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11901">
					<img id="start_img-11901" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11901">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11906"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11906" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Torque is pretty easy to calculate for a single static arm configuration.  Torque is just the length of the moment arm * the perpendicular force.  And it is easy to decompose the problem into X and Y components, then sum.  So in your example you would have the torque about joint 1 to be:</p>

<p>$$
T_1 = a * F_y + b * F_x
$$</p>

<p>(Assuming $F_x$ and $F_y$ are in the global frame).  You don't list the masses of the links, (which is typically not negligible), but you would want to add those in too.  You should check out this <a href="http://www.societyofrobots.com/robot_arm_calculator.shtml" rel="nofollow noreferrer">arm torque calculator</a>.  The <a href="http://www.societyofrobots.com/robot_arm_tutorial.shtml" rel="nofollow noreferrer">robot arm tutorial</a> on that same site also has lots of helpful info.</p>

<p>For very complicated arms or dynamic situations, you might want the help of some code.  See my answers to these other similar questions for pointers.</p>

<ul>
<li><a href="https://robotics.stackexchange.com/questions/2889/static-equilibrium-for-7-dof-manipulator/">Static equilibrium for 7 dof manipulator</a> </li>
<li><a href="https://robotics.stackexchange.com/questions/10256/dynamic-torque-simulation-for-a-6-dof-robotic-arm">Dynamic torque simulation for a 6 DOF robotic arm</a> </li>
<li><a href="https://robotics.stackexchange.com/questions/7837/type-of-servo-and-torque-calculation-required-for-a-2axis-robot-arm">Type of servo and torque calculation required for a 2axis robot arm</a> </li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11906" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-11906">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11906" class = 'collapse'>
			</div>
				<textarea id = "speech-11906" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11906">
					<img id="start_img-11906" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11906">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>