<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I calculate processing speed of microcontroller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1178" class = "post">
			<h2>Question</h2>
			<div id="vote-1178" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1821</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I calculate processing speed of microcontroller</h2>
<p>I need a microcontroller that can process minimum 2mb data per second.
How do I determine what processors will be able to do this?</p>

<p>Also how can I calculate the processing speed in per second of any microcontroller?</p>

<p>I am very much scared with my college project and I need help.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1178" data-toggle = "popover">
				<p>user name : Frank</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-1178">{'None': 0, 'microcontroller': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1178">Load Comments</button></br>
			<div id = "commentsection-1178" class = 'collapse'>
			<div id = "comment-2680" class = "comment">
				<p>When you say "process", do you mean the speed at which it can make calculations on data that's in-memory, or the speed at which it can read from and write to its inputs and outputs?</p>
			</div>
			<div id = "comment-2682" class = "comment">
				<p>I mean the reading and writing part to its input and output</p>
			</div>
			<div id = "comment-2683" class = "comment">
				<p>@Frank, it would make a huge difference if that is 2 mega-bytes (2MB) or 2 mega-bits (2Mb). Please edit your answer.</p>
			</div>
			<div id = "comment-2684" class = "comment">
				<p>Frank, beside b standing for bit and B for byte, observe that m is used for milli (or, 1/1000) and M for mega (1000000).</p>
			</div>
			<div id = "comment-2685" class = "comment">
				<p>@jwpat7: For correctness, I should point out that when talking about binary values (i.e., bytes), the M denotes $2^{20} = 1,048,576$ bytes.  (More info: [Megabyte](http://en.wikipedia.org/wiki/Megabyte) and [Kilobyte](http://xkcd.com/394/)).</p>
			</div>
			<div id = "comment-2704" class = "comment">
				<p>@Ian, depends on whether you're a hard drive manufacturer or not. There are standard MiB, KiB, etc abbreviations to unambiguously designate the power-of-two versions. C.f. http://physics.nist.gov/cuu/Units/binary.html, http://xkcd.com/394/</p>
			</div>
			<div id = "comment-22077" class = "comment">
				<p>@Shahbaz, since Frank still hasn't replied to your comment above, I think it's safe to say that 2mb per second means 2 millibits per second, so his system is processing less than 9K bytes per year.</p>
			</div>
			</div>
				<textarea id = "speech-1178" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1178">
					<img id="start_img-1178" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1178">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1179"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1179" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need to consult the specifications. There is absolutely no other way unless you buy the micro, code it and run tests.</p>

<p>So first, you need to define what exactly processing means. Best way to do it is to write the program that does the processing, in assembly. Let's take a hypothetical program in a hypothetical assembly:</p>

<pre><code>load R1, portA
add R1, R1, 1
store portB, R1
</code></pre>

<p>First thing you need to know is how many cycles it takes the microcontroller to execute this code. Again, you need to consult the data sheet of the micro. Hypothetical numbers:</p>

<ul>
<li>Load takes 3 cycles</li>
<li>Load from PortA adds 2 cycles overhead</li>
<li>Add takes 1 cycle</li>
<li>Store takes 2 cycles</li>
<li>Store to PortB adds 4 cycles overhead</li>
</ul>

<p>So you would know that for each piece of data you read (hypothetically, 1 byte) you need 12 cycles to process them, assuming the micro is stupid enough to not use pipelines, prefetching of any sort etc.</p>

<p>If you read the specifications well, you will now get a good estimate of the speed of the micro for your task. In our hypothetical example, 1 byte per 12 cycles.</p>

<p>So to address your first question, how to know if the micro is good enough for your task, it's quite simple. You want <code>X</code> bytes of data per second so it takes <code>12X</code> cycles to do that. All you need to know is how many cycles per second the micro runs (let's say <code>Y</code>). So if <code>Y &gt; 12X</code> you're good.</p>

<p>Your second question is also simple to answer. You already have the speed in terms of "per cycle". To calculate the speed in terms of "per second", you just multiply the per-cycle speed by cycles/second of the microcontroller (again, found in the data sheet). In our hypothetical example:</p>

<pre><code>speed (byte/cycle) = 1/12
speed (byte/second) = 1/12 * Y
</code></pre>

<hr>

<p>Once you define your task, so it would be clear how heavy the computation is, probably higher grade students or even vendors would be able to help you pick up a suitable micro.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1179" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-1179">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1179" class = 'collapse'>
			</div>
				<textarea id = "speech-1179" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1179">
					<img id="start_img-1179" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1179">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>