<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do self driving cars really work?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5293" class = "post">
			<h2>Question</h2>
			<div id="vote-5293" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 79</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do self driving cars really work?</h2>
<p>I'm absolutely fascinated by the notion of a driverless car.  I know there is a lot involved with it and there are many different approaches to the problem.</p>

<p>To narrow the scope of this question to something reasonable for the SE network, i'm curious to know if there is a common sequence of subproblems that every driverless car needs to solve at each timestep to make an autonomous car possible for real life, point to point transportation possible.  I imagine that once the starting point and target destination on a given map are set, a self driving follows an algorithm that loops through certain operations to solve certain problems along the way.  I'm more interested in knowing what those problems are specifically at a high level, rather than detailed algorithms to solve them.  Do all self driving cars solve the same subproblems along the way?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5293" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-5293">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5293">Load Comments</button></br>
			<div id = "commentsection-5293" class = 'collapse'>
			<div id = "comment-8076" class = "comment">
				<p>If you end up wanting to learn about some of the algorithms, there is a nice (and free) online class at Udacity called Artificial Intelligence for Robotics (https://www.udacity.com/course/cs373)</p>
			</div>
			</div>
				<textarea id = "speech-5293" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5293">
					<img id="start_img-5293" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5293">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5295"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5295" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The basic algorithm is called "SLAM".  If you google "SLAM Algorithm" you will get about a million hits.</p>

<p>It can NOT depend on a stored map.  That can't work because the most important objects are not the roads and intersections but the OTHER cars and pedestrians and that box the just fell of the truck and the traffic cones that close off a lane.  In fact MOST things the car has to deal with are very transient.</p>

<p>The other thing that SLAM does in localize the car.  It has to continuously solve the "where am I?" question by looking around.   GPS can give an absolute position but a car want RELATIVE location, like "I am 16 inches from the curb." so it needs to be able to see the curb.  </p>

<p>A conventional map is good only for high level route planning.  Same with GPS, it is only good for high level thinking.  To actually drive you have to scan the environment and make a "map" of all the moving and non-moving objects in real time.   Again notice the most important things on your map are MOVING OBJECTS.   </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5295" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5295">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5295">Load Comments</button></br>
			<div id = "commentsection-5295" class = 'collapse'>
			<div id = "comment-8078" class = "comment">
				<p>Certainly SLAM is an essential component, but this is far from the only problem that needs to be solved along the way.  Once the vehicle obtains an estimate of its position with respect to objects in its vicinity, how does it make decisions about what action to take?  is there a heirarchy of goals that dictate the decisions that the car's algorithm makes?  I think that is really at the root of what I really want to know.</p>
			</div>
			<div id = "comment-9151" class = "comment">
				<p>@Paul, the hard work is SLAM. Other stuff is a matter of what you want the car to do. If you are so interested in this stuff then read "Probabilistic Robotics".</p>
			</div>
			<div id = "comment-9205" class = "comment">
				<p>@CroCo:  From your response, i can now see that the REAL question I had in mind was very different from the one I actually asked.  I think what I meant to ask was more like:  How do self-driving cars make decisions about how to respond to dynamically changing environments (given SLAM estimates) while trying to get from point A to point B.  It's the decision making, rather than the SLAM, that I'm curious about.  I'll ask that in another question.</p>
			</div>
			</div>
				<textarea id = "speech-5295" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5295">
					<img id="start_img-5295" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5295">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>