<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I add a comment to the "favorite Mac OSX keyboard shortcuts" page?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1523" class = "post">
			<h2>Question</h2>
			<div id="vote-1523" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 35</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I add a comment to the "favorite Mac OSX keyboard shortcuts" page?</h2>
<p>This is a meta-question about using the site:</p>

<p><a href="https://apple.stackexchange.com/questions/183/what-are-your-favorite-mac-os-x-keyboard-shortcuts/">What are your favorite Mac OS X keyboard shortcuts?</a> is a great page. I see comments added to a bunch of the keyboard shortcut submissions. I want to leave a comment too, but can't figure out how. Help.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1523" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1523">{'None': 5, 'discussion': 18, 'profile-page': 4, 'closed-questions': 6, 'close-reasons': 6, 'suggested-edits': -9, 'design': 8, 'feature-request': 8, 'questions': 4, 'graphics': 3, 'status-declined': 8, 'user-accounts': 4, 'support': 9, 'user-interface': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1523" class = 'collapse'>
			</div>
				<textarea id = "speech-1523" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1523">
					<img id="start_img-1523" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1523">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1524"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1524" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Welcome to the site. As you now see - we have a "meta" site for questions about how the site runs.</p>

<p>Have a look at your profile page and your privilege page:</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/users/36519/bur-davis">https://apple.meta.stackexchange.com/users/36519/bur-davis</a></li>
<li><a href="https://apple.stackexchange.com/privileges/user/36519">https://apple.stackexchange.com/privileges/user/36519</a></li>
</ul>

<p>The ability to comment on a post that you didn't create is reserved as one of the privileges that gaining 50 reputation points allows. You can (and should) review that page for each tool that is opened up to you.</p>

<p>Since it will take a few votes to get to 50 rep, why not look around and see if there are other questions you could answer in the mean time or even ask a question you've encountered after searching a bit to make sure it's not already been asked.</p>

<p>You can also find things that need substantial improvements and edit things to gain reputation. Without knowing your comment - it's hard to know if an edit would be appropriate, if a new question linking to the other would work or if you'll have to wait until you can comment at large.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1524" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1524">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1524" class = 'collapse'>
			</div>
				<textarea id = "speech-1524" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1524">
					<img id="start_img-1524" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1524">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>