<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to speed up robotic arm?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1642" class = "post">
			<h2>Question</h2>
			<div id="vote-1642" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 744</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to speed up robotic arm?</h2>
<p>I need  my robotic arm to ring a desk bell. <a href="http://www.maplin.co.uk/robotic-arm-kit-with-usb-pc-interface-266257" rel="nofollow noreferrer">I one on the maplins site  usb robotic arm.</a></p>

<p>It does seem very slow.  What can I hack on it to boost the downwards and upwards speed. I need it hit the bell tip/platform quickly once or twice.</p>

<p><img src="https://i.stack.imgur.com/9tJZC.jpg" alt="enter image description here"></p>

<p><em>This is purely a LOL project for work. Ever time we get an order we want the arm to ring the bell. :)</em></p>

<p><img src="https://i.stack.imgur.com/X3imO.png" alt="enter image description here"></p>

<p>-EDIT</p>

<p>This is the gearbox assembly - And it much much to slow - What can i change in here to speed up one gearbox by at least 4 times?</p>

<p>The grabber gearbox is different though. The gear marker P7 is white and seems to move the grabbers at a faster speed.</p>

<p><img src="https://i.stack.imgur.com/4pUS5.jpg" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1642" data-toggle = "popover">
				<p>user name : ppumkin</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1642">{'None': 0, 'robotic-arm': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1642">Load Comments</button></br>
			<div id = "commentsection-1642" class = 'collapse'>
			<div id = "comment-3428" class = "comment">
				<p>Hi ppumkin, and welcome to *robotics*.  Unfortunately *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* 
aren't something that a stack exchange site is good for. We prefer *[practical,
answerable questions based on actual problems that you 
face](http://robotics.stackexchange.com/faq#dontask)*. Hopefully we can 
modify this question into something a bit more answerable.  Do you already own a specific model of robot arm that you are trying to hack to move faster?</p>
			</div>
			<div id = "comment-3429" class = "comment">
				<p>Hi- OK i thought so :( Will update now</p>
			</div>
			<div id = "comment-3433" class = "comment">
				<p>Very nice edits :) If you have an estimate of how many cm/sec the arm would need to move for a successful bell ring, that would be great to add to this.</p>
			</div>
			</div>
				<textarea id = "speech-1642" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1642">
					<img id="start_img-1642" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1642">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1645"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1645" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since the website for the arm doesn't provide useful technical specs. you will have to do some investigating yourself to figure out how to boost the speed. Some knowledge of electronics knowledge is required and it may not be a simple change.</p>

<p>The first thing to do would be to find out what is currently bottle-necking the speed. 
It could be due to</p>

<ul>
<li>the motors themselves (underated for the performance that you want)</li>
<li>current limiting circuitry on the control board (eg. low current voltage regulators)</li>
<li>current limiting power supply (eg. low current wall adapter)</li>
<li>The software that controls the arm</li>
</ul>

<p>You can investigate by using a digital multimeter to measure the current at different parts of the control board to see where the bottleneck is. Doing a google search for the part(s) where the bottleneck occurs can get you more information so that you could buy a higher power version that will perform the same tasks. For example, swapping out a 5V 1A DC voltage regulator for a 5V 10A regulator. </p>

<p>If the motors are the bottleneck then you can just try and replace them with higher rated motors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1645" data-toggle = "popover">
				<p>user name : ddevaz</p>
				<p> user reputation : 503</p>
				<p class = "tagcontent" id = "usertaginfo-1645">{'None': 34}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1645">Load Comments</button></br>
			<div id = "commentsection-1645" class = 'collapse'>
			<div id = "comment-3438" class = "comment">
				<p>I have good experience in electronics. But not much with servos and motors like this. Can I put more voltage on to the servos? to speed them up?</p>
			</div>
			<div id = "comment-3444" class = "comment">
				<p>No. The servos need a certain voltage level on the supply pin to function properly. If you exceed that range you can damage the motor. 
Usually the slow response is caused by current limitations, not voltage. Also, the electronics on the control board probably need to be within certain voltage ranges to function properly. Cranking up the voltage won't do much but it's hard to say without knowing what the bottleneck is.</p>
			</div>
			<div id = "comment-3450" class = "comment">
				<p>Thanks. I will try to check what current is going to the motors and see if I can tweak that somehow.</p>
			</div>
			<div id = "comment-3514" class = "comment">
				<p>I assembled it today and it turns out the gearboxes are made so that the movement is slow "smooth" - So I need to tweak the gearbox somehow. The motors are running full speed- there is no speed control whatsoever. Check my edit on the question</p>
			</div>
			<div id = "comment-3519" class = "comment">
				<p>Nice find. You can try taking out one stage of the gears but that may or may not work depending on how the gearing system is connected to the motor. You could also try reversing one stage of the gearing to speed it up (large diameter gear to small diameter gear instead of the opposite). If you have access to a 3D printer you _could_ print your own set of gears with the ratio you want. If you get it to work please post a video, I'd like to see it. Good luck!</p>
			</div>
			<div id = "comment-3520" class = "comment">
				<p>3D printer! I really need to buy one some time soon. :) I will try and mess around with the gears and see what happens.</p>
			</div>
			</div>
				<textarea id = "speech-1645" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1645">
					<img id="start_img-1645" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1645">Comment</button>
			<br><div id = "ans-1646"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1646" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might be able to speed up the arm's movement in a purely mechanical way -- non-invasively.</p>

<p>For example, you could extend the arm and use the rotation of the base to ring the bell.  Or, you could coordinate the movements of all the joints to make the gripper pass the bell at a maximum speed.</p>

<p>Another way to do it could be to have the gripper pick up a long rod and use that to ring the bell.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1646" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1646">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1646">Load Comments</button></br>
			<div id = "commentsection-1646" class = 'collapse'>
			<div id = "comment-3437" class = "comment">
				<p>Ahhhhhhh. Gripper attached to the bell tip! That  should to the trick! Hehehe. Always nice to have a 3rd party eyeball look at a hopeless situation :) Thanks.</p>
			</div>
			<div id = "comment-3513" class = "comment">
				<p>All that sounded nice in theory but none of it works.. I am going to try and extent the arm and see if it helps</p>
			</div>
			</div>
				<textarea id = "speech-1646" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1646">
					<img id="start_img-1646" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1646">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>