<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make a simple Arduino Insect Robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10533" class = "post">
			<h2>Question</h2>
			<div id="vote-10533" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 269</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make a simple Arduino Insect Robot?</h2>
<p>I want to make a simple Arduino based programmable insect robot.</p>

<p>I want it to walk on legs and legs will be made of hard aluminum wire. It needs to have 4 legs. I am planning to use Arduino Nano for that. I just had few questions like:</p>

<ol>
<li>How to arrange servos and wire to have motion?</li>
<li>I also want it to turn sideways?</li>
<li>Where can I read good theory on making insect like robots?</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-10533" data-toggle = "popover">
				<p>user name : Ashwin Pajankar</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-10533">{'None': 2, 'arduino': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10533">Load Comments</button></br>
			<div id = "commentsection-10533" class = 'collapse'>
			<div id = "comment-18941" class = "comment">
				<p>Hi, this question is way too broad and any reasonable answer would also be too long for this site. Can you break it down to smaller questions?</p>
			</div>
			<div id = "comment-18946" class = "comment">
				<p>Insects have six legs, which makes things easier - you can pick up three legs in a triangle and the centre of gravity will be within the other three, whereas with four legs if you pick one up you have to move to keep the weight within the triangle formed by the other three.</p>
			</div>
			</div>
				<textarea id = "speech-10533" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10533">
					<img id="start_img-10533" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10533">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10538"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10538" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Hardware</strong></p>

<p>Ant like robots are called Hexapods (6 legs) and Quadruped (4 legs). Each leg has 2 servos as minimum, but most developer prefer 3 servos per leg. The problem is, that arduino boards have a limit how much servos they can drive. From hardware point-of-view it is important to hide the wires inside the robot so that the construction is clean and agile.</p>

<p><strong>Software</strong></p>

<p>Motion primtives are used to program the servos. Every motion primitive is mapped onto a key at the Playstation Controller. Pressing A means "move forward", pressing B means "move backwards". The predefined trajektories are created with the animation software Blender. One axis is the timescale, the other axis is the value of the servo. The combination of these diagrams results into a smooth motion of the insect robot.</p>

<p>Advanced control strategies are possible but are less used by amateurs. An example for a software for controlling complex tasks is <a href="https://www.youtube.com/watch?v=aDd-G8URCKM" rel="nofollow">PARADOCS</a> It is not about a walking robot but about a quadcopter. A high-level planner based on a gantt chart is used to determine partial order plans.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10538" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10538">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10538" class = 'collapse'>
			</div>
				<textarea id = "speech-10538" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10538">
					<img id="start_img-10538" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10538">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>