<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to know what type of stepper motors to use when designing a robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6784" class = "post">
			<h2>Question</h2>
			<div id="vote-6784" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 129</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to know what type of stepper motors to use when designing a robot</h2>
<p>I am talking about robots like this one: <a href="http://www.meccanotec.com/step781b.JPG" rel="nofollow">http://www.meccanotec.com/step781b.JPG</a></p>

<p>How would a person know what type of motor to use in design of such a robot? What I want to understand is that stepper motors have different step sizes, different torques among other things. How do we determine what type of stepper motor is most suitable to be used in a given robot?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6784" data-toggle = "popover">
				<p>user name : quantum231</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-6784">{'None': 0, 'kinematics': 2, 'stepper-motor': 1, 'robotic-arm': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6784">Load Comments</button></br>
			<div id = "commentsection-6784" class = 'collapse'>
			<div id = "comment-18751" class = "comment">
				<p>Why are you so determined to use a stepper motor if you don't know which properties are important?</p>
			</div>
			<div id = "comment-18895" class = "comment">
				<p>ive voted to close as this question is far too broad</p>
			</div>
			</div>
				<textarea id = "speech-6784" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6784">
					<img id="start_img-6784" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6784">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10414"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10414" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Math is the short answer. You need to figure out what you want the motor to do, i.e. how much it needs to lift, amount of torque etc. You also need to consider how it is going to be powered. If its going to run on a battery you may want to get a motor that will do the minimum work required to save battery life. If it's going to run on standard AC power from a wall outlet, this won't be as much of a concern. Your robot arm design will also change the values of the power/torque needed because of leverage. If it's going to be belt driven, direct drive etc will all figure into this too. </p>

<p>My suggestion for a small robot arm would be to start with a kit where the parts have been matched for compatibility and go from there. If not a kit nema 17 motors are probably enough for what you need, but they come in all different specs.</p>

<p>The nice thing about steppers is that they can be stopped and started at specific places in they're rotation pretty easily. </p>

<p>Again, unless you're really good at math and physics, a kit is the way to go as a beginner.</p>

<p>Just realized how old this is, whoops.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10414" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-10414">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10414" class = 'collapse'>
			</div>
				<textarea id = "speech-10414" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10414">
					<img id="start_img-10414" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10414">Comment</button>
			<br><div id = "ans-10419"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10419" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The key phrase in your question is "most suitable".  Only you can define what this means.</p>

<p>Generally you need to understand the requirements of your project -- in hard numbers -- before you can make design decisions like which motors to use.  How much weight will need to be moved by the robot?  How fast will it need to move?  How precisely?  And so on.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10419" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-10419">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10419" class = 'collapse'>
			</div>
				<textarea id = "speech-10419" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10419">
					<img id="start_img-10419" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10419">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>