<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to: Attach wheel encoder to motor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2402" class = "post">
			<h2>Question</h2>
			<div id="vote-2402" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1414</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to: Attach wheel encoder to motor?</h2>
<p>I have a couple of these DC motors</p>

<p><a href="http://www.pololu.com/product/2202" rel="nofollow">http://www.pololu.com/product/2202</a></p>

<p>Which have an extended motor shaft that sticks out the back and is 1mm diameter. </p>

<p>I'm having trouble trying to think of the best way to attach an encoder disk to this shaft.</p>

<p>I thought of getting a custom wheel 3d printed and make the opening 0.9mm so it will be a tight fit. But I don't know if is just to small?</p>

<p>I also though of taking the encoder disks from a PC mouse and drilling a 1mm / 0.9mm but its the same problem but with the added difficultly of trying to drill a small hole on a small thing.</p>

<p>So I wondered if anyone knows a better way, or of a made disk to attach. As I just can't find anything for a 1mm shaft</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2402" data-toggle = "popover">
				<p>user name : binarysmacker</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-2402">{'control': 3, 'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2402">Load Comments</button></br>
			<div id = "commentsection-2402" class = 'collapse'>
			<div id = "comment-4689" class = "comment">
				<p>It's not that difficult to drill a 1mm hole. The problem is being this on the motor shaft the acceleration they will suffer are high, just friction maybe don't fix it in place. A small portion of glue as mentioned could solve, but could present balance problem too. So if you could "print" it its a nice way, you could make the bore longer and so put glue inside it.</p>
			</div>
			</div>
				<textarea id = "speech-2402" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2402">
					<img id="start_img-2402" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2402">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2403"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2403" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li><p>Place a disk on the large shaft.</p></li>
<li><p>Depends how 'professional' you want to be.  </p></li>
</ol>

<p>A 1mm hole is not unreasonably hard to drill using a small hobby drill press, and you can do it with many battery drills with due care - the chuck minimum drill size is the main limitation. Down to about 0.8mm is easily enough achievable by mere mortals. </p>

<p>Substitute imperial units below if the mood seizes you.</p>

<p>(2a) You can push the 1mm shaft into material that it will penetrate and glue it in place with either epoxy or a super super-glue. Go from there.</p>

<p>(2b)  If you get a piece of say 4mm dia brass rod you can  -<br>
File one end flat - repeat until good enough.<br>
Mark centre - many guides how to do this on net.<br>
Centre punch centre<br>
Drill 1mm hole in end. Drill in horizontal clamp may help. Or not.
Drill and tap to 2mm or 2.5mm a hole at right angles to long axis.<br>
Add grub screw or screw - 2 or 2.5mm to suit.<br>
You now have a shaft extension and half a coupler. Use other end as seems good.</p>

<p>(3) Mark a dark line on shaft. Use optical reflective detector to produce tach signal. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2403" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-2403">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2403" class = 'collapse'>
			</div>
				<textarea id = "speech-2403" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2403">
					<img id="start_img-2403" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2403">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>