<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to get the projection matrix from odometry~tf data?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7040" class = "post">
			<h2>Question</h2>
			<div id="vote-7040" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 374</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to get the projection matrix from odometry~tf data?</h2>
<p>I would like to compare my results of visual Odometry with the groundtruth provided by the KITTI dataset.
For each frame in the groundthruth, i have a projection matrix.
For example:</p>

<pre><code>1.000000e+00 9.043683e-12 2.326809e-11 1.110223e-16 9.043683e-12 1.000000e+00 2.392370e-10 2.220446e-16 2.326810e-11 2.392370e-10 9.999999e-01 -2.220446e-16
</code></pre>

<p>Here the instructions provided by the readme:</p>

<blockquote>
  <p>Row i represents the i'th pose of the
  left camera coordinate system (i.e., z
  pointing forwards) via a 3x4
  transformation matrix. The matrices
  are stored in row aligned order (the
  first entries correspond to the first
  row), and take a point in the i'th
  coordinate system and project it into
  the first (=0th) coordinate system.
  Hence, the translational part (3x1
  vector of column 4) corresponds to the
  pose of the left camera coordinate
  system in the i'th frame with respect
  to the first (=0th) frame</p>
</blockquote>

<p>But I don't know how to produce the same kind of data for me.
What I have for each frame in my case:</p>

<ul>
<li>The Tf transformation from the init_camera (the fix one from the (0,0,0)) to the left camera which is moving. So I have the translation vector and the quaternion rotation.</li>
<li>The odometry data: the pose and the twist</li>
<li>Camera calibration parameters</li>
</ul>

<p>With those data, How I compare with the groundtruth ? So I need to find the projection matrix from the data above but don't know how to do it.</p>

<p>Can someone help me ?</p>

<p>Thank</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7040" data-toggle = "popover">
				<p>user name : lilouch</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-7040">{'stereo-vision': 2, 'mobile-robot': 2, 'None': 0, 'odometry': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7040">Load Comments</button></br>
			<div id = "commentsection-7040" class = 'collapse'>
			<div id = "comment-10037" class = "comment">
				<p>I do not understand your question. Seems like you are trying to compare your own odometry algorithm with something - but with what? You could compare it for instance to KITTI GPS data (which can be considered as an odometry ground-truth probably) to see how your odometry performs. Seems to me that you are trying to compare your odometry algorithm to the LIBVISO2 output over the same input data (mono/stereo sequence), which you of course can do too... it really depends on what you need to do.</p>
			</div>
			<div id = "comment-10038" class = "comment">
				<p>PS. The projection matrix is the result of LIBVISO library - you need to feed the library with image data and it will output the matrix. In the matrix the last column are the x,y,z deltas to the previous frame (if I recall correctly).</p>
			</div>
			<div id = "comment-10040" class = "comment">
				<p>Thank for your answer. Actually no I don't want to compare LIBVISO but this one: [link](http://www.cvlibs.net/datasets/kitti/eval_odometry_detail.php?&result=9d2148ed62a567b706c32ce86edcfca5e0f4078d ) to the ground truth provided by the KITTI Benchmark but the problem is in their groundtruth I have for each frame the projection matrix of the camera (3x4) but me, as an result of the algorithm I test, I can only have what I said above...That's the main difficulty for me.</p>
			</div>
			</div>
				<textarea id = "speech-7040" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7040">
					<img id="start_img-7040" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7040">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7078"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7078" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure what reference frame the KITTI ground truth data is in, but I'm going to guess the robot frame.  The ground truth data looks to just be a transformation matrix for a homogenous point.  The transform is represented in the form such that P' = T * P where P' is a point in the world coordinate frame, T is the "projection" matrix (I'm not sure, but I don't think this is the right term for this matrix), and P is the point in the robot coordinate frame.  Here the points are represented as [x,y,z,1]^T.  The transformation has the form [R t; 0 1] where R is the rotation of the robot and t is the translation of the robot.  The [0 1] row has been elided in the KITTI data.  To convert this transform to translation + quaternion form, the translation is just the rightmost column.  The quaternion can be found by converting the rotation matrix R to a quaternion.  See <a href="http://en.wikipedia.org/wiki/Rotation_matrix#Quaternion" rel="nofollow">http://en.wikipedia.org/wiki/Rotation_matrix#Quaternion</a> for formulas for this conversion.</p>

<p>The ground truth data is probably in the robot reference frame.  To convert it to the camera reference frame, you'll need to use the camera extrinsics.  If the camera extrinsics which maps points from robot space to camera space is E, then the ground truth in the camera frame is E * T * E^(-1) where T is the ground truth in the robot frame.  This is just composing the transforms (robot->camera) o (robot->robot) o (camera->robot).  If the extrinsics is given as the transform from camera space to robot space, then the inverse will be on the left side instead.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7078" data-toggle = "popover">
				<p>user name : DrRoboto</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-7078">{'None': 12}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7078">Load Comments</button></br>
			<div id = "commentsection-7078" class = 'collapse'>
			<div id = "comment-10128" class = "comment">
				<p>Thank you so much for your answer. So okey if I got it well, I have to take the right most column to have the translation and convert the rotation matrix to a quaternion form so that I can convert with my data ?
But I'm sorry, I don't understand your last part about the camera reference frame..Because the camera reference frame is the robot, no ? can you try to explain me again ? Thank</p>
			</div>
			</div>
				<textarea id = "speech-7078" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7078">
					<img id="start_img-7078" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7078">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>