<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I get data from my kinect?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1633" class = "post">
			<h2>Question</h2>
			<div id="vote-1633" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1084</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I get data from my kinect?</h2>
<p>Whenever I try using <code>openni_launch</code>, it works normally, however, when I try viewing an image using the kinect's rgb or depth camera, or even recording a simple <code>bagfile</code> with data from the kinect, I am unable to see any picture and <code>rosbag</code> does not record any data, and after a few seconds of running <code>image_view</code> or <code>rosbag record</code>, I got this error:</p>

<pre><code>terminate called after throwing an instance of 'openni_wrapper::OpenNIException'
  what():  virtual void openni_wrapper::OpenNIDevice::startImageStream() @ /tmp/buildd/ros-groovy-openni-camera-1.8.8-0precise-20130418-2203/src/openni_device.cpp @ 224 : starting image stream failed. Reason: Xiron OS got an event timeout!
[camera_nodelet_manager-2] process has died [pid 3788, exit code -6, cmd /opt/ros/groovy/lib/nodelet/nodelet manager __name:=camera_nodelet_manager __log:=/home/rosbotics/.ros/log/16b63744-e043-11e2-ac16-080027486aa8/camera_nodelet_manager-2.log].
log file: /home/rosbotics/.ros/log/16b63744-e043-11e2-ac16-080027486aa8/camera_nodelet_manager-2*.log
</code></pre>

<p>After searching around and trying various fixes, I figured it might be a problem with openni and started using freenect, however I encountered the same problems, I could not record any data using bagfiles or see any images from the kinect (using <code>rviz</code> or <code>image_view</code>)</p>

<p>Then someone asked me to use something completely unrelated, <code>freenect-glview</code>, however that too gave me a black screen.</p>

<p><code>lsusb</code> shows that all 3 parts of the kinect are connected and I've been able to control the kinect's motor through ubuntu so I know that there is at least a connection established between both.</p>

<p>Additional Info:</p>

<ul>
<li><p>I run ROS on Ubuntu using VirtualBox V.4.2.14 and Windows 7 with USB 2 ports</p></li>
<li><p>I am using ubuntu 12.04 and ROS-Groovy (all up to date)</p></li>
<li><p>I've had the exact same errors on my Mac OSX Lion</p></li>
<li><p>When I try using Rviz with the kinect, VirtualBox crashes all together</p></li>
</ul>

<p>I would appreciate anyone's help on the matter.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1633" data-toggle = "popover">
				<p>user name : Y R</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-1633">{'kinect': 5, 'None': 1, 'ros': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1633" class = 'collapse'>
			</div>
				<textarea id = "speech-1633" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1633">
					<img id="start_img-1633" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1633">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1643"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1643" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It turns out VirtualBox was causing everything to not work properly for some reason. Now I'm using VMware and everything's running fine. What confused me was that I was getting errors that I found online and that even after trying every fix I could find some would still be there. Next step is getting XYZ coordinates of a moving robot, I'll start looking for tutorials right away (I'm still new to ros).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1643" data-toggle = "popover">
				<p>user name : Y R</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-1643">{'kinect': 5, 'None': 1, 'ros': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1643">Load Comments</button></br>
			<div id = "commentsection-1643" class = 'collapse'>
			<div id = "comment-3435" class = "comment">
				<p>Can you elaborate on what VMware is doing correctly that VirtualBox was not?</p>
			</div>
			<div id = "comment-3443" class = "comment">
				<p>I don't know what exactly was the problem but the result was that I was unable to view any images from the kinect or acquire any depth/rgb data from it even though I was able to control the motor just fine. When I switched to VMware it worked perfectly fine with `freenect`. `Openni` still has a few hiccups but I can make it work on VMware too.</p>
			</div>
			</div>
				<textarea id = "speech-1643" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1643">
					<img id="start_img-1643" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1643">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>