<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How do I delete an answer which is link only?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2721" class = "post">
			<h2>Question</h2>
			<div id="vote-2721" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 47</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I delete an answer which is link only?</h2>
<p>There is this <a href="https://apple.stackexchange.com/a/223795/237">answer</a> that is only a link. patrix has left a standard comment </p>

<blockquote>
  <p>Answers on Ask Different need to be more than just a link. It's okay to include a link, but please summarize or excerpt it in the answer. The idea is to make the answer stand alone</p>
</blockquote>

<p>If this was on a low quality queue I could vote to delete.</p>

<p>However the wording for low quality flag is </p>

<blockquote>
  <p>This answer has severe formatting or content problems. This answer is unlikely to be salvageable through editing, and might need to be removed.</p>
</blockquote>

<p>Well these link only questions are obviously fixable by editing the information in so this is not a valid flag</p>

<p>The not an answer flag says</p>

<blockquote>
  <p>This was posted as an answer, but it does not attempt to answer the question. It should possibly be an edit, a comment, another question, or deleted altogether.</p>
</blockquote>

<p>These links are surely delete altogether. So  this is the obvious flag to use. but as in this question these flags are rejected.</p>

<p>How do I get the answer deleted as link only - I know this is the thing that is needed,</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2721">Load Comments</button></br>
			<div id = "commentsection-2721" class = 'collapse'>
			<div id = "comment-6017" class = "comment">
				<p>Thanks for bringing this up.</p>
			</div>
			</div>
				<textarea id = "speech-2721" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2721">
					<img id="start_img-2721" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2721">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2722"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2722" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've declined the flag with "flags should not be used to indicate technical inaccuracies, or an altogether wrong answer". May be a borderline case, but usually I try to refrain from deleting an answer even if it doesn't directly answer the question. In this case the key issue is that it is link-only, the linked project most probably seems to offer an alternative to the tool the asker is using to run WhatsApp. Which, in my eyes, makes it an answer with quality issues, but not necessarily something I would want to delete.</p>

<p>Let's look at the two flags which could be applied here:</p>

<blockquote>
  <p>This answer has severe formatting or content problems. This answer is unlikely to be salvageable through editing, and might need to be removed.</p>
</blockquote>

<p>While I agree that it has severe problems in its current form, the question seems salvageable through editing (basically by just summarizing the README.me found on Github).</p>

<blockquote>
  <p>This was posted as an answer, but it does not attempt to answer the question. It should possibly be an edit, a comment, another question, or deleted altogether.</p>
</blockquote>

<p>It definitively is an attempt to answer the question (or in this case rather the question behind the question), even it doesn't directly address the problem described.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2722">Load Comments</button></br>
			<div id = "commentsection-2722" class = 'collapse'>
			<div id = "comment-6018" class = "comment">
				<p>But if in Low quality queue would be an automatic choice to delete. I don't see any possibility of a choice here either it is link only or it has other info than a link (An issue here is there is no way to flag the author to tell them to expand the answer without flag for low quality) and rejected flags impact me so the unclear areas seem poor</p>
			</div>
			<div id = "comment-6019" class = "comment">
				<p>I've expanded my answer a bit. The usual way to notify users is actually to comment/down vote.</p>
			</div>
			<div id = "comment-6020" class = "comment">
				<p>and that is the issue - the flags don't seem reasonable - but the delete reason is obvious and seems to be an absolute decision is it just a link or not - how do I get to it reliably - given your comment re the LQ flag the delete option should not be on the LQ queue</p>
			</div>
			<div id = "comment-6021" class = "comment">
				<p>Typical LQ queue entries include "I have this problem, too" and "Apple is crap" postings, which definitively are candidates for deletion.</p>
			</div>
			<div id = "comment-6022" class = "comment">
				<p>I meant delete as is just a link which is the option in the LQ queue</p>
			</div>
			<div id = "comment-6023" class = "comment">
				<p>Yes, deletion is an option in the LQ queue, but IMHO this doesn't imply that every queue entry is a candidate for deletion.</p>
			</div>
			</div>
				<textarea id = "speech-2722" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2722">
					<img id="start_img-2722" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2722">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>