<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make a stepper motor to rotate and come to a position of certain degress (say for 90 degrees) from any initial position?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8382" class = "post">
			<h2>Question</h2>
			<div id="vote-8382" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 722</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make a stepper motor to rotate and come to a position of certain degress (say for 90 degrees) from any initial position?</h2>
<p>I tried this coding and its working. </p>

<pre><code>void loop()
{
    int y = 104;
    int x2 = vertical2.currentPosition();
    int z2 = y-x2;
    int x1 = horizontal2.currentPosition();
    int z1 = y-x1;

    horizontal2.moveTo(z1);
    horizontal2.run();

    vertical2.moveTo(z2);
    vertical2.run();
}
</code></pre>

<p>But the problem is that if the above coding is placed inside a loop such as 'if loop', its not working. Can anyone help me in figuring out this problem. I am using accelStepper library for the above coding.</p>

<pre><code>void loop()
{
    int dummy=1;
    if(dummy==1)
    {
        int y = 104;
        int x2 = vertical2.currentPosition();
        int z2 = y-x2;
        int x1 = horizontal2.currentPosition();
        int z1 = y-x1;

        horizontal2.moveTo(z1);
        horizontal2.run();

        vertical2.moveTo(z2);
        vertical2.run();
    }
}
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-8382" data-toggle = "popover">
				<p>user name : Dinesh</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8382">{'None': 0, 'stepper-motor': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8382">Load Comments</button></br>
			<div id = "commentsection-8382" class = 'collapse'>
			<div id = "comment-13473" class = "comment">
				<p>Welcome to robotics.SE! "It's not working" is not very useful. Don't dump your code here and expect somebody to fix it or write it for you. What have you tried so far in terms of debugging? Do you get any error messages? Why do you declare your variables in the `loop` function? Does it make sense to set `y=104` over and over again? Also:`if` is not a loop.</p>
			</div>
			<div id = "comment-13561" class = "comment">
				<p>This is more like a code review question. Not much related to motor or robot control.</p>
			</div>
			<div id = "comment-14446" class = "comment">
				<p>`if` is not a loop! Also, is this really your exact code? Or did you rewrite it here, perhaps avoiding a typo you have in your real code?</p>
			</div>
			<div id = "comment-15145" class = "comment">
				<p>^^ "if" isn't a loop, but since this is likely from an Arduino (see "void loop()" above it), the code snippet is a looping structure</p>
			</div>
			</div>
				<textarea id = "speech-8382" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8382">
					<img id="start_img-8382" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8382">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8841"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8841" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm guessing this is Arduino code, you might want to move it to <a href="https://arduino.stackexchange.com/">that forum</a>. </p>

<p>If this is Arduino code then I think the problem you have is you eyes are too slow.  At the end of the loop function it starts the loop function again, so it appears to do nothing, because it's already in the right place.</p>

<p>Hope that is clear enough and helps you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8841" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-8841">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8841" class = 'collapse'>
			</div>
				<textarea id = "speech-8841" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8841">
					<img id="start_img-8841" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8841">Comment</button>
			<br><div id = "ans-9141"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9141" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're in luck.  Stepper motors do not have absolute positions.  There is no 0-degree mark, nor 90-degree mark, etc.  Everything is relative to the current step, so you don't have to query where the motor is positioned.</p>

<p>If you want to track the absolute position, look into <a href="https://en.wikipedia.org/wiki/Rotary_encoder" rel="nofollow noreferrer">position encoding motors</a> (rotary encoders are popular).</p>

<p>For your case, you need to research 1 thing: <em>how many steps does my motor complete in 1 revolution?</em> Another way of asking this is: <em>what is the angular resolution of my motor?</em></p>

<p><a href="https://robotics.stackexchange.com/questions/8954/software-to-control-an-arduino-setup-with-a-timing-belt-and-stepper-motors/8958#8958">This post will take you the rest of the way: Arduino and stepper control</a></p>

<p>Where you see my code saying <code>stepperX.step(500);</code>, that's the command to take 500 steps.</p>

<p>If you want x number of degrees, you'll write the following:</p>

<pre><code>numSteps = stepsPerRevolution * (desiredNumberOfDegrees / 360);
stepperX.step(numSteps);
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9141" data-toggle = "popover">
				<p>user name : Ryan Loggerythm</p>
				<p> user reputation : 265</p>
				<p class = "tagcontent" id = "usertaginfo-9141">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9141" class = 'collapse'>
			</div>
				<textarea id = "speech-9141" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9141">
					<img id="start_img-9141" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9141">Comment</button>
			<br><div id = "ans-9829"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9829" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As an alternative you could use a light interruption sensor and disk as is typically found inside any old household printer.  Modules can cost \$20 online, but my local thrift shop sells whole printers for \$10 all the time.</p>

<p>Add the ring to your shaft and add the sensor's four wires, then by counting the number of lines for a full rotation you can divide this number for precise positioning.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9829" data-toggle = "popover">
				<p>user name : Firobug</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9829">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9829" class = 'collapse'>
			</div>
				<textarea id = "speech-9829" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9829">
					<img id="start_img-9829" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9829">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>