<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How many methods can I use to acquire depth data?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6741" class = "post">
			<h2>Question</h2>
			<div id="vote-6741" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 186</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How many methods can I use to acquire depth data?</h2>
<p>I am a newbie in Robotics. As far as I know, there're generally two ways to acquire depth information of a scene. One is the stereo vision method which applies two cameras. The other is the RGBD sensors such as Kinect and Primesense. It seems that both methods are in use currently. However, I do not know what are their advantages against each other.</p>

<p>I think the Kinect is a perfect solution over stereo vision ignoring its expense. So I have two questions here:</p>

<ol>
<li>Is there advantages of binocular methods over Kinect besides expense?</li>
<li>As I know, both the two methods are confined with a limited distance detection range. In real world applications, we sometimes also need depth data at distance. Is there a method that we can acquire or estimate data information at far distance( not considering  laser-based detectors ).</li>
</ol>

<p>Further more, my application may be a small flight vehicle. Which method and equipment should I choose? Will the traditional binocular camera be too slow for my application?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6741" data-toggle = "popover">
				<p>user name : user49550</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-6741">{'stereo-vision': 6, 'None': 0, 'computer-vision': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6741" class = 'collapse'>
			</div>
				<textarea id = "speech-6741" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6741">
					<img id="start_img-6741" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6741">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6742"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6742" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not familiar with internals of Kinect, but don't these RGBD devices essentially use stereo vision internally?</p>

<p>Regardless, stereo vision needs some software to give you RGBD values (there are most likely libraries already available for free), but those devices have that software already written for their particular technology. In the end, the data you get is similar.</p>

<p>Regarding your second question, the farther the distance between the cameras, the more 3D you can see. So if you go with two cameras, the advantage is that you can always adjust their distance based on how far your target is. Xtion, Kinect and similar technologies are optimized for a very particular scenario (recognizing people in front of the TV withing a couple of meters), so of course they are only suitable if your conditions are similar.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6742" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-6742">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6742" class = 'collapse'>
			</div>
				<textarea id = "speech-6742" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6742">
					<img id="start_img-6742" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6742">Comment</button>
			<br><div id = "ans-6743"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6743" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Actually kinect sensors are similar to stereo-cameras. They are made up of two devices, an IR emitter and a IR receiver. The emitter projects a light-dots pattern of known shape and size, while the other device receives the actual reflected dots. From the deformation of the pattern is possible to find out depth, but the maths behind it, as far as I know, is the same of stereo triangulation with known correspondences (see <a href="https://www.youtube.com/watch?v=uq9SEJxZiUg" rel="nofollow">this</a> video as an example).</p>

<p>The main disadvantages of kinect when compared to stereo-camera systems are:</p>

<ol>
<li>it does not work outdoors</li>
<li>it has a range of a few meters (less than 8m). </li>
</ol>

<p>Stereo-cameras, on the contrary, work outdoors. Their range depends on the baseline, i.e. the distance between the cameras: the higher it is, the farther are the points that can be triangulated. However, most of commercial stereo-cameras, with baselines of few cm, have an accuracy of a few meters (see for example <a href="http://vislab.it/products/3dv-stereo-system/" rel="nofollow">this</a> commercial stereo device). 
You can build yourself a stereo-rig to match the accuracy you need, but if you want good accuracy the device will not be cheap if compared to a kinect (depends mostly on the cameras you think to buy) and will cost you time to set up.
Finally, if you have to triangulate very far points, then you probably need to use a Structure from Motion algorithm (see Wikipedia for a quick definition).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6743" data-toggle = "popover">
				<p>user name : sparviero19</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-6743">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6743">Load Comments</button></br>
			<div id = "commentsection-6743" class = 'collapse'>
			<div id = "comment-9680" class = "comment">
				<p>Well, the 1st version Kinect uses the structured light method, but the 2nd version makes use of time-of-flight methods. I think 2nd version Kinect actually is different from stereo-cameras.</p>
			</div>
			</div>
				<textarea id = "speech-6743" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6743">
					<img id="start_img-6743" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6743">Comment</button>
			<br><div id = "ans-6748"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6748" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For gathering depth information and in general for mapping, there is no perfect solution yet. You need to have a good idea about application before choosing a sensor. Try to narrow down your options. Are you going to use it indoor or outdoor? How fast you want the depth measurements (you can use a single camera, but it will take around 10 seconds to generate a good point cloud)? What is the range? How accurate you want it to be (Lidar)? What resolution you need (e.g. 320x240)? What is your processing capabilities? Weight limits? Are you going to have vibration (no Lidar then)?</p>

<p>Configuration of stereo-vision sensor directly affects the range and accuracy. You can increase the distance between two cameras to get more reliable measurements for larger distances. It's not too difficult to make your own stereo-vision sensor. The only tricky part is two levels of calibration. One is for flatting the recorded images of each camera and the other is calculating geometric translation relation between two cameras. You can also add more cameras to your system. For example, there is a PointGrey sensor that uses 3 cameras using the same principle used in stereo-vision.</p>

<p>Time-of-flight cameras are generally smaller and lighter. Faster to process and give more information (e.g. color). They are not good options for outdoor or applications requiring long ranges. Emitted light might reflect more than once (does not happen too often like in sonar sensors) and give inaccurate measurements.</p>

<p>Speaking of sonars, you might want to look at <a href="http://en.wikipedia.org/wiki/Side-scan_sonar" rel="nofollow">side-scan sonars</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6748" data-toggle = "popover">
				<p>user name : BarzinM</p>
				<p> user reputation : 316</p>
				<p class = "tagcontent" id = "usertaginfo-6748">{'None': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6748">Load Comments</button></br>
			<div id = "commentsection-6748" class = 'collapse'>
			<div id = "comment-9682" class = "comment">
				<p>Do I have to calibrate the binocular cameras every time I use it? Even if I make them fixed( i.e. I fix their relative position and all other internal parameters and take the system as a whole) and take the whole system to different places?</p>
			</div>
			<div id = "comment-9683" class = "comment">
				<p>If they are fixed, once is enough. If you change the relative position, you only need to calibrate the geometric parameters.</p>
			</div>
			</div>
				<textarea id = "speech-6748" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6748">
					<img id="start_img-6748" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6748">Comment</button>
			<br><div id = "ans-6757"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6757" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I know you said "not considering laser based detectors," but I am assuming you are discounting them due to price? There is a <a href="https://www.sparkfun.com/products/13167" rel="nofollow">LIDAR unit</a> available from sparkfun for less than $100 which claims to have a range to 40m. That's about half the price of a Kinect sensor. AFAIK, this unit only measures range to a single point, I'm not sure how easy it would be to implement it as a rastering scanner.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6757" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-6757">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6757">Load Comments</button></br>
			<div id = "commentsection-6757" class = 'collapse'>
			<div id = "comment-9740" class = "comment">
				<p>It can only measure ranges to a single point. I think it will be extremely difficult to extend to rastering</p>
			</div>
			<div id = "comment-11343" class = "comment">
				<p>@user49550, I don't think it would be "extremely difficult." The original raster device, the CRT, was built from a photon gun that beamed light to a single spot.</p>
			</div>
			</div>
				<textarea id = "speech-6757" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6757">
					<img id="start_img-6757" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6757">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>