<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do i use the Nicolas ziegel approach if my system never becomes unstable?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2919" class = "post">
			<h2>Question</h2>
			<div id="vote-2919" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 71</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do i use the Nicolas ziegel approach if my system never becomes unstable?</h2>
<p>How do i use the Nicolas Ziegel approach when the root locus plot of my system never becomes marginally stable , for any gain (unless it is negative).. ??</p>

<p>How do i estimate my ultimate gain value????</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2919" data-toggle = "popover">
				<p>user name : Control</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-2919">{'control': 19, 'None': 0, 'pid': 16, 'tuning': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2919">Load Comments</button></br>
			<div id = "commentsection-2919" class = 'collapse'>
			<div id = "comment-5333" class = "comment">
				<p>If your system never becomes unstable, what tuning is necessary? In theory you could just use infinite gains. I suspect, though, that your controller is implemented on digital hardware, with a digital clock, in which case there is always a point at which it will become unstable.</p>
			</div>
			<div id = "comment-5334" class = "comment">
				<p>Do you mean the Ziegler-Nichols heuristic PID tuning method? I agree with ryan0270...you're transfer function probably doesn't model the sampling done by a digital system, which is operating in discrete space rather than continuous. As a result, if you simply try to raise your P term in practice I'm sure you'll find the system will start to oscillate eventually. If you have the transfer function, you can model the digital sampling, etc. in Simulink (part of Matlab).</p>
			</div>
			<div id = "comment-5335" class = "comment">
				<p>You are absolutely right about it being a physical system.  It's is a DC - motor, in which i read the values using a sample freq.  The transfer function is is in S plane, but would it work if i changed it to z-plane, and would the same rules apply here aswell..??</p>
			</div>
			<div id = "comment-5339" class = "comment">
				<p>What connection are you trying to make to the transfer function? Z-N tuning itself is an experimental tuning process meant for systems that you don't know the transfer function for.</p>
			</div>
			<div id = "comment-5340" class = "comment">
				<p>I know the transfer, it has been identified using matlab, but you right about it being in the discrete time domain. So i was wondering if i could use the same  method (ziegler nichols method) for a discrete system as i would do in a continuated system?</p>
			</div>
			<div id = "comment-5344" class = "comment">
				<p>If you're talking about Ziegler Nichols, the system being discrete or continuous is irrelevant. However, if you have the transfer function, then maybe you want to use Matlab to observe the root locus and how placement of the zeros from the PID affect the gain in the Z plane (you can control the placement of the two zeros, but the pole is always at the origin). This would allow you to exactly control the transient response, overshoot, etc. As ryan0270 mentioned, Ziegler Nichols should only be used when you don't have a transfer function, but this can depend on the requirements of your system.</p>
			</div>
			<div id = "comment-5358" class = "comment">
				<p>I am also trying to use the root locus aproach, without making my choices to random, could you clarify what kind of effect Each part has in moving the poles, I mean, as far i've understood the increasing P makes the pole go toward right, and the same goes for I, and D should make it go toward left. 

But i've tried testing it, at it doesn't seem to be like that.. So making a qualified guess is a bit hard. I know the wanted specs, and where i want the poles to be, but can't see what the values of the PID should be, since choosing seems random.</p>
			</div>
			</div>
				<textarea id = "speech-2919" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2919">
					<img id="start_img-2919" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2919">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>