<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How much accuracy could I get position tracking with a 3-axis accelerometer and gyro sensor, and compass, and how would I do it?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2298" class = "post">
			<h2>Question</h2>
			<div id="vote-2298" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1456</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How much accuracy could I get position tracking with a 3-axis accelerometer and gyro sensor, and compass, and how would I do it?</h2>
<p>Given a 12' x 12' field (4m x 4m), a reasonably cheap 3-axis gyro sensor and accelerometer, and compass, I plan to design a device capable of tracking its position to sub-centimeter accuracy for a minute of motion or so.</p>

<p>The device has a holonomic drive system, capable of moving any direction at a maximum of about 8mph (3.6m/s), with a maximum acceleration of about 2g's. However, there are some simplifying constraints. For one, the field is nearly flat. The floor is made of a tough foam, so there is slight sinking, but the floor is flat except for a ramp of known angle (to a few degrees). The device will, excepting collisions, not be rising above the floor.</p>

<p>Accuracy is preferred over simplicity, so any mathematics required on the software side to improve the system would be welcomed.</p>

<p>Before I definitively choose accelerometers as the method of position tracking, though, I would like some idea of how much accuracy I could get, and the best ways of doing it.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2298" data-toggle = "popover">
				<p>user name : TheEnvironmentalist</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-2298">{'None': 0, 'kinematics': 2, 'machine-learning': 2, 'accelerometer': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2298">Load Comments</button></br>
			<div id = "commentsection-2298" class = 'collapse'>
			<div id = "comment-4479" class = "comment">
				<p>I don't think what you're asking for is possible.  Can we see data sheets for your components?  Generally I would be concerned about accuracy and bandwidth of your sensors.  In theory if you have perfect accuracy and infinite bandwidth you can find your position through double integration.  In practice these sensors (the cheap ones) have low bandwidth and not so good accuracy so the error will swamp any signal you might have in there.</p>
			</div>
			<div id = "comment-4480" class = "comment">
				<p>Well with sub-centimeter you mean what? 1mm?</p>
			</div>
			</div>
				<textarea id = "speech-2298" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2298">
					<img id="start_img-2298" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2298">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2303"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2303" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The mechanics of your vehicle are not extremely relevant here; I will assume that the motion your vehicle induces on the sensors will be within their specifications.</p>

<p>Entire volumes have been written on "sensor fusion", which is the act of combining measurements from multiple sensors (e.g. your gyro, accelerometer, and compass).  Doing this 100% accurately is impossible, so the goal is always to put some known bound on the error that can accumulate with time.  You will have to research that for yourself, as the best option depends greatly on your (and your CPU's) mathematical abilities.  Here is <a href="http://hkr.diva-portal.org/smash/get/diva2:475619/FULLTEXT02.pdf" rel="nofollow">a document that discusses the development of a sensor fusion system with gyroscope, accelerometer, and compass</a> so you get an idea of what's involved.</p>

<p>In the short term, one thing you can do is begin to characterize each of your sensors -- what is their precision and accuracy versus ground truth?  What sort of delay do you get from their measurements?  This characterization will help you more accurately combine their measurements later.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2303" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2303">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2303" class = 'collapse'>
			</div>
				<textarea id = "speech-2303" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2303">
					<img id="start_img-2303" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2303">Comment</button>
			<br><div id = "ans-2351"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2351" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First, here's what you CAN do with those sensors. Assuming you are not constantly accelerating you can use the accelerometer to know which direction is "down" (the gyro can be used as well for faster updates). If there aren't any magnetic field disturbances, you can also use the compass to know which direction is forward. Usually this is done using either an extended Kalman filter or direct nonlinear algorithms for attitude estimation (sometimes referred to as SO3).</p>

<p>Unfortunately, for position estimation your only option for that set of sensors is to integrate the accelerometer. In an ideal world that is enough, but in the real world all accelerometers have bias error. Over time this will just keep adding error to your position and velocity estimates. You can ballpark the error by
$$
e_p = \frac{1}{2} a_b t^2
$$
where $e_p$ is the position error, $a_b$ is the accelerometer bias, and $t$ is time. In your case, you can reverse this to estimate that 0.010m error after 60s requires an accelerometer bias of less than 5.6e-6m/s^2, which is not going to be found in low cost accelerometers.</p>

<p>To achieve sub-centimeter accuracy you will need another sensor. Usually people will use cameras or laser scanners for this purpose.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2351" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-2351">{'None': 133}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2351" class = 'collapse'>
			</div>
				<textarea id = "speech-2351" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2351">
					<img id="start_img-2351" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2351">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>