<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to get live audio from robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10547" class = "post">
			<h2>Question</h2>
			<div id="vote-10547" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to get live audio from robot?</h2>
<p>I am building a robot and I want to be able to hear sounds from it's environment (ideally from my laptop). What is the best way to get live audio from my robot's microphone to my computer?</p>

<p>I have looked into a few solutions for hosting live audio streams using packages such as <code>darkice</code> and <code>icecast</code>. I'm just wondering about better solutions for robotic applications.</p>

<p>Additional details:
- I have access to hardware such as Raspberry Pi, Arduino, etc.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10547" data-toggle = "popover">
				<p>user name : Gunther</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-10547">{'None': 0, 'humanoid': 1, 'joint': 1, 'design': 1, 'robotic-arm': 1, 'real-time': 0, 'actuator': 1, 'digital-audio': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10547" class = 'collapse'>
			</div>
				<textarea id = "speech-10547" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10547">
					<img id="start_img-10547" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10547">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10551"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10551" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Look into <a href="http://georgielabs.net" rel="nofollow">soundwireserver</a>. Its an easy way to setup an audio server on a Linux or windows  based system, and can be monitored from a laptop or an android phone. You need to consider processing overhead on a robot because of battery life, low processor speed etc. Its easy to setup and I know their android app works very well.</p>

<p>A raspberry pi should have no problem running it, and you don't need excessive hardware other than a mic input. There's a ton of different ways to do this, but from the info provided you want to setup an audio server on the robot, and this is an easy way to do that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10551" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-10551">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10551">Load Comments</button></br>
			<div id = "commentsection-10551" class = 'collapse'>
			<div id = "comment-18970" class = "comment">
				<p>Hi, thank you. I think I'll have to test this software out. It looks like it might work but I'm not entirely sure about it since I don't have an Android device to download the app to.</p>
			</div>
			<div id = "comment-18971" class = "comment">
				<p>You can go from a laptop to a laptop also. I personally have never done that but it is pretty easy to use</p>
			</div>
			<div id = "comment-19065" class = "comment">
				<p>Did you ever get this to work?</p>
			</div>
			<div id = "comment-19077" class = "comment">
				<p>I haven't had a chance to test yet. Sorry!</p>
			</div>
			</div>
				<textarea id = "speech-10551" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10551">
					<img id="start_img-10551" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10551">Comment</button>
			<br><div id = "ans-11121"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11121" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are controlling the Robot with ROS, i suggest you to look at this package <a href="http://wiki.ros.org/audio_common" rel="nofollow noreferrer" title="audio_common">audio_common</a>. With this we can live stream the audio or capture it. You can use raspberry pi as a node and your laptop as a ros server.There is a tutorial to do exactly what you want over here "<a href="http://wiki.ros.org/audio_common/Tutorials/Remotely%20listening%20through%20robot%20ears" rel="nofollow noreferrer">Remotely listen to what your robot is listening</a>"</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11121" data-toggle = "popover">
				<p>user name : the_parzival</p>
				<p> user reputation : 58</p>
				<p class = "tagcontent" id = "usertaginfo-11121">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11121" class = 'collapse'>
			</div>
				<textarea id = "speech-11121" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11121">
					<img id="start_img-11121" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11121">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>