<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to brake a brushed dc motor, belt-driven linear actuator to within 0.5mm of an end stop
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3145" class = "post">
			<h2>Question</h2>
			<div id="vote-3145" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 107</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to brake a brushed dc motor, belt-driven linear actuator to within 0.5mm of an end stop</h2>
<p>I will have a belt-driven linear actuator, consisting a gantry-plate riding on two rails. I'm thinking of using a brushed dc motor.</p>

<p>The gantry will move from home position to the right (outbound) at 1m/s. The mass of the gantry will vary from 3Kg to 6Kg. On the return home (inbound) one must avoid spillage of contents which may require soft start/stop or simply a slow return to home.</p>

<p>In the outbound case, what I'd like to know is how,in a practical sense, do you brake the mass and bring the gantry to a stop, ensuring that the gantry plate always comes to rest to within 0.5mm of an end plate?</p>

<p>I'm clearer how I can ensure the gantry stops to within 0.5mm of the home position, because I can use a PWM ramp to slowly decelerate.</p>

<p>I'm wanting to avoid using an MCU. Just want to use an IC with switches and potentiometers.</p>

<p>You can also use math if you want to explain.</p>

<p>Of course, one seeks to begin to arrest the mass as close to the end stop in the outbound case as one can without problems.</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3145" data-toggle = "popover">
				<p>user name : user50499</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-3145">{'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3145">Load Comments</button></br>
			<div id = "commentsection-3145" class = 'collapse'>
			<div id = "comment-6659" class = "comment">
				<p>Let me just add a few additional comments: I'm looking for schemes. I know that I can use dynamic braking. Ok, but that would mean, I think, you would have to tune the system so that the gantry came to rest no more than 0.5mm from the end plate. And when the gantry was a different mass you would have to set up again.  Another scheme would be to use dymamic braking then PWM on decreasing ramp. I'm hoping someone with experience can indicate what you would do.</p>
			</div>
			<div id = "comment-6679" class = "comment">
				<p>How are you generating your PWM?  You say you can solve your inbound case, why can't you solve outbound the same way?  This should be a symmetric problem.  As others suggested the traditional solution would be a closed loop position controller.  You may be able to hack something with a bunch of position sensors, relays, and logic but it won't perform as well...</p>
			</div>
			</div>
				<textarea id = "speech-3145" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3145">
					<img id="start_img-3145" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3145">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3148"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3148" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since you are trying to affect the acceleration as well as the endpoints, you should consider using a PID controller.  That will provide the <em>effect</em> of braking, but it will do so as part of the larger goal of coming to a complete stop at a desired setpoint. </p>

<p>Depending on how you tune it, you can have it start and stop very gently (vs very responsively) according to your own needs.</p>

<p>There are several <a href="http://www.ecircuitcenter.com/Circuits/op_pid/op_pid.htm" rel="nofollow">analog PID circuits, (e.g. this one)</a> if you don't want a microcontroller-based solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3148" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-3148">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3148">Load Comments</button></br>
			<div id = "commentsection-3148" class = 'collapse'>
			<div id = "comment-6668" class = "comment">
				<p>What I'm doing is noting the technique of dynamic braking and then probably failing to grasp the contexts in which dynamic braking would be used. It appears then that dynamic braking is not very suitable in my case?</p>
			</div>
			<div id = "comment-6681" class = "comment">
				<p>Dynamic braking usually refers to shorting the motor terminals together, so that the motor acts as a generator and passively dissipates the kinetic energy as heat.  With a PID, the motor will slow down by being actively powered in the opposite direction.</p>
			</div>
			</div>
				<textarea id = "speech-3148" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3148">
					<img id="start_img-3148" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3148">Comment</button>
			<br><div id = "ans-3157"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3157" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We have used PID for a similar application involving hydraulic cylinder control. We used an SSI linear position sensor and we could get WAAAAAAYYY more accurate than .5mm</p>

<p>We were moving at 24"/sec over 6 ft of travel</p>

<p>And the braking effect was great.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3157" data-toggle = "popover">
				<p>user name : user5622</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-3157">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3157">Load Comments</button></br>
			<div id = "commentsection-3157" class = 'collapse'>
			<div id = "comment-6724" class = "comment">
				<p>Could you expand your answer to explain a bit more about the mechanism.  As it stands, this simply says "we did it"</p>
			</div>
			</div>
				<textarea id = "speech-3157" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3157">
					<img id="start_img-3157" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3157">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>