<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to select dc motors for a line following robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10229" class = "post">
			<h2>Question</h2>
			<div id="vote-10229" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 484</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to select dc motors for a line following robot?</h2>
<p>What are the criteria to consider when ordering dc motors for a line following robot?</p>

<p>Is there a way to calculate the torque required?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10229" data-toggle = "popover">
				<p>user name : Ivantha</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-10229">{'motor': 0, 'None': 0, 'pid': 2, 'steering': 2, 'line-following': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10229" class = 'collapse'>
			</div>
				<textarea id = "speech-10229" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10229">
					<img id="start_img-10229" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10229">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10230"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10230" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's a question of balance as always. You need to select motors that require voltage and current that your robot's power source can provide, physical size so that it fits on your robot and also torque and RPM to give your robot enough oomph. Also note that gearbox and wheel size affect the final top speed an acceleration.</p>

<p>What I did was to go through several suppliers and preselect motors with acceptable physical dimensions and voltage. Then I made a spreadsheet where I calculated robot acceleration at motor stall from torque and robot speed from motor's free running RPM with estimated robot mass and with all wheel sizes in a certain range.
From this spreadsheet I selected set of parameters (2G acceleration and 3m/s top speed for my tabletop line follower) that seemed the best and bought the motors.</p>

<p>When doing this you must realize that the top speed and acceleration are only theoretical maximum, your robot will be slower (because the motor is loaded when dragging your robot around) and there will probably also be less available acceleration as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10230" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-10230">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10230" class = 'collapse'>
			</div>
				<textarea id = "speech-10230" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10230">
					<img id="start_img-10230" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10230">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>