<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How much torque do I need for a CNC machine?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-446" class = "post">
			<h2>Question</h2>
			<div id="vote-446" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 13817</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How much torque do I need for a CNC machine?</h2>
<p>I have a handful of 31.2oz-in stepper motors (<a href="http://www.mouser.com/Search/ProductDetail.aspx?R=HT17-268Dvirtualkey55010000virtualkey834-HT17-268D">Mouser.com - Applied Motion: HT17-268D</a>), and I was curious if they would be big enough to run a 3D printing/cutting/etching type (think RepRap) of machine. I had in mind to attach them via  a simple gear to a screw-type drive to run the tool head back and forth. </p>

<ul>
<li>Maximum bed size would probably be ~1.5'<sup>3</sup>. </li>
<li>Heaviest tool head would be something about half the weight of a Dremel tool.</li>
<li>Hardest substances I would use it on would probably be hardwoods (with high speed cutter) and copper (for PCB etching).</li>
</ul>

<p>How do I figure the amount of torque needed to drive the head, and would the motors that I already have be big enough to do the job?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-446" data-toggle = "popover">
				<p>user name : Nathan Wheeler</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-446">{'reprap': 6, 'None': 0, 'stepper-motor': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-446">Load Comments</button></br>
			<div id = "commentsection-446" class = 'collapse'>
			<div id = "comment-516" class = "comment">
				<p>Do you have a mathematical model for the machine on which you wish to use the motors?</p>
			</div>
			<div id = "comment-520" class = "comment">
				<p>@Nathan, I can't fully answer your question, so just a comment from me, but these motors have about half the holding torque of the motors specified for my reprap build. Sadly I don't really understand the relationship between holding torque and driving torque or how different your requirements are to those of a typical reprap machine.</p>
			</div>
			<div id = "comment-522" class = "comment">
				<p>@DaemonMaker - Not even close (I'm not THAT into math :), I don't even have full schematics of what I'm putting together quite yet, but I like to have all my parts together, so I thought I'd ask early.</p>
			</div>
			<div id = "comment-523" class = "comment">
				<p>@MarkBooth - Thanks, that's actually a big bit of information. I hadn't particularly considered holding torque. My initial requirements will be incredibly similar.</p>
			</div>
			<div id = "comment-4030" class = "comment">
				<p>Just thought of this: The bed size doesn't matter for some CNCs. It may be cheaper to get smaller steppers and have the bed moving for very low loads, but others you might want to do all moving cutter. But if you're debating to get bigger ones for a bigger machine and for both it would have the same load, get the smaller one. The only benefit of the other if it would be increased assurance, upgradable for different configured machines, and maybe more speed.</p>
			</div>
			</div>
				<textarea id = "speech-446" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-446">
					<img id="start_img-446" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-446">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-525"  class = "post">
				<h2>Answer</h2>
			<div id="vote-525" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was hoping that someone else would answer this question with some sort of formula or rule of thumb that would apply to a much wider range of materials / cutting speeds / etc.</p>

<p>According to the RepRap website,</p>

<p>"It is recommended that you get approximately 13.7 N-cm (= 0.137 N-m or 1400 gf-cm or 19.4 ozf-in or 1.21 lbf-in) of holding torque (or more) for RepRap axis motors to avoid issues, although one stepper with less has been used successfully.
For Wade's Geared Extruder (most widely used one as of 2012) it is suggested to use motor that is capable of creating a holding torque of at least 40 N-cm."
-- <a href="http://reprap.org/wiki/StepperMotor#Holding_Torque" rel="nofollow">http://reprap.org/wiki/StepperMotor#Holding_Torque</a></p>

<p>Since your motors have 31.2oz-in of holding torque -- significantly stronger than that recommendation -- the motors you already have should work fine for the axis motors of a RepRap-like machine.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-525" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-525">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-525">Load Comments</button></br>
			<div id = "commentsection-525" class = 'collapse'>
			<div id = "comment-620" class = "comment">
				<p>So, strictly speaking, if I were building an actual RepRap, I've got some overkill. Generally speaking, since I'm doing some other -- possibly heavier -- lifting with the motors, I'll probably still be somewhere in the ballpark.</p>
			</div>
			<div id = "comment-3381" class = "comment">
				<p>@NathanWheeler Are you still in the ballpark with operating torque? Have you tried this? I'm very anxious to hear. I ran into a similar problem, just with a smaller machine.</p>
			</div>
			<div id = "comment-3452" class = "comment">
				<p>@AnnonomusPerson - I built a RepRap Prusa Mendel, and I ordered larger motors. The motors I got were 48oz-in of holding torque. They've been working perfectly fine.</p>
			</div>
			<div id = "comment-3462" class = "comment">
				<p>@NathanWheeler So it should be fine for a small CNC? Thanks!</p>
			</div>
			<div id = "comment-3463" class = "comment">
				<p>@AnnonomusPerson - I believe so, but since I didn't actually use the smaller motors, I can't say for sure.</p>
			</div>
			</div>
				<textarea id = "speech-525" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-525">
					<img id="start_img-525" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-525">Comment</button>
			<br><div id = "ans-551"  class = "post">
				<h2>Answer</h2>
			<div id="vote-551" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Formulas do exist but when DIYing something like this there will be too much uncertainty in the required variables.</p>

<p>Here is an extremely basic way of going through the calculations:</p>

<p>You need to start with the required force delivered to the table at given speeds.  Generally this will be the cutting force + way friction.  Cutting speed/feed and force can be looked up from tables for given material/cutter combinations.</p>

<p>For high performance mills acceleration is a greater constraint than cutting force and should be used instead.</p>

<p>Way friction depends on what you are using for linear motion.</p>

<p>Once you know how much force you need to apply to the table at a given speed its pretty straightforward to figure out what motor you need.  Put the numbers through screw reduction/efficiency and pick a motor/reduction combination based on the torque/speed charts.</p>

<p>Don't forget to use a 2-6x safety margin.
Holding torque is not usable torque and should be approximately halved if operating torque is not given.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-551" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-551">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-551" class = 'collapse'>
			</div>
				<textarea id = "speech-551" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-551">
					<img id="start_img-551" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-551">Comment</button>
			<br><div id = "ans-1284"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1284" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The torque you need on a CNC machine is dependant on:
1) How much force the mill is expected to exert on the material
2) The resistance of the linear bearings used to move the axes
3) The type/style of cnc mill(i.e mills using a moving gantry need more torque than a xy table)
4) The drive system (i.e. belt driven machines needs more torque than lead screw)</p>

<p>Ultimately the amount of torque depends on how much power (like watts power) you're pumping into your steppers. The rating on the steppers are based on their optimal; however you can over drive them. Also if you are running your machine slowly then you can escape with using less torque since there is less risk of stalling as opposed to a machine running at high speed.</p>

<p>Further as stepper motors speed up they loose torque, unless they are BEMF compensated. </p>

<p>Try with your steppers; it may work in which case you're just over thinking the problem and if it doesn't work then you have an idea of how much torque you will need.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1284" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1284">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1284">Load Comments</button></br>
			<div id = "commentsection-1284" class = 'collapse'>
			<div id = "comment-2853" class = "comment">
				<p>As an example, I'm building a 3D Printer with 144oz-in steppers; and it works really well.</p>
			</div>
			</div>
				<textarea id = "speech-1284" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1284">
					<img id="start_img-1284" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1284">Comment</button>
			<br><div id = "ans-6529"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6529" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Holding torque has nothing to do with driving the amount of torquelead screws. The holding torque rating is only for when the Axis is in stationary position holding.  What you want it to maximize your stepper driver amperage with a stepper that has the same or a little less amp rating</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6529" data-toggle = "popover">
				<p>user name : Brad</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6529">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6529" class = 'collapse'>
			</div>
				<textarea id = "speech-6529" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6529">
					<img id="start_img-6529" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6529">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>