<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How are tag badges chosen?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1048" class = "post">
			<h2>Question</h2>
			<div id="vote-1048" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How are tag badges chosen?</h2>
<p>Our <a href="https://apple.stackexchange.com/badges?tab=tags">list of tag badges</a> is pathetically small in my opinion, and in dire need of changes, the most obvious of which is iphone -> ios, yet I feel that any iOS answer (iPhone, iPod, iPod-touch and related, iPad) should count towards iOS. The inability to make a tag synonym that is <code>iPhone</code>, <code>iPad</code>, <code>iPod</code> -> <code>ios</code>, that preserves their original name, yet all count towards <code>iOS</code> is a huge shortcoming with regard to the Apple ecosystem in Stack Exchange's tagging engine.</p>

<p>Onto the actual questions I'm asking, since I just hit all over the figurative dartboard with the opening paragraph.</p>

<ol>
<li><p>Who is able to choose a site's tag badges?</p></li>
<li><p>What tag badges should we add?</p></li>
<li><p>Should the Stack Exchange engine be modified in order to allow tag synonyms to be displayed as their given name, but count towards a master badge? Again, this means that you could tag, and display <code>iphone</code>, on a question, but all stats count towards an all encompassing <code>ios</code> tag. I see this also very relevant in OS X desktop and server versions, and sprawling hardware names like <code>macbook</code> and <code>ipod</code>. (This should probably be written up on MSO, but I'd be happy with discussion here first.)</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-1048" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-1048">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1048">Load Comments</button></br>
			<div id = "commentsection-1048" class = 'collapse'>
			<div id = "comment-2049" class = "comment">
				<p>http://data.stackexchange.com/apple/query/2357/how-many-upvotes-do-i-have-towards-tag-specialist-badges is helpful to see where various users (and yourself) stack up to tag badge progress.</p>
			</div>
			</div>
				<textarea id = "speech-1048" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1048">
					<img id="start_img-1048" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1048">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1107"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1107" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem is subtler than you first imagine, and more difficult to fix.  A question asking about (for example) the use of a hardware feature (say the magnets for Smart Covers on an iPad) is nothing to do with iOS, and a tag synonym that puts all iPad tags under iOS would catch a lot of these incorrectly in my view.</p>

<p>If you apply the same logic to the desktop hardware as well as mobile, then anything tagged Macbook should count to a master OSX tag, resulting in OSX being diluted with questions obout magsafe, batteries and trackpad problems etc.</p>

<p>A better solution might be to take a long hard look at our tags and hit them with a very big stick.  Go to the main site tags page, and filter on iOS,  there are 13 different ones which is overkill to me.  I would suggest that as a start a clean up should remove the IOS-5 and IOS5 obvious problems, but we should also consider dropping minor revision ones, IOS-4.2 (and indeed IOS4.2) and IOS-4.3 etc are really not needed down to this level of granularity, and if they are we should add them all, and even question the need to add 4.2.2 etc for consistency.</p>

<p>The OSX tags do not suffer quite the same problem in that there are (largely) only major versions listed, but they have other problems due to the colloqial versions such as Lion as well as the version numbers.  Consider the existance of the following tags:</p>

<ul>
<li>Lion </li>
<li>Lion-Server</li>
<li>OSX</li>
<li>OSX-server</li>
<li>OSX-Lion</li>
<li>OSX-10.7</li>
<li>10.7</li>
<li>10.7.2</li>
<li>MACOS</li>
<li>MACOSX</li>
</ul>

<p>I could ask a question that I could apply each of those tags to if I had a 10.7.2 Lion Server (and I do...), but let's face it most will just pick one, it's (likely) not synonymed properly and as such we have several competing tags all creeping up to the badge tag required count which would likely all exceed it if consolidated.</p>

<p>So, in summary, I don't necessarily agree with point 1, point 2 was answered elsewhere (they are automatic on count), and 3 would be good but won't be a panacea.</p>

<p>While we are talking about improving the tag system, then in addition to your suggestions, I would suggest a way of selecting a tag from a list, and then be able to dynamically filter a list based on whether the chosen tag is a master <em>or</em> synonym as an aid to being able to select a group of tags and investigate their current synonym structure, which is almost impossible except as a manual endeavour at present (you can only type one filter).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1107" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-1107">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1107">Load Comments</button></br>
			<div id = "commentsection-1107" class = 'collapse'>
			<div id = "comment-2003" class = "comment">
				<p>This is the nub of the issue. We as a group of active site users that care about tags can be on the lookout to correct many of the highest voting questions so that they have the correct main tag associated with them. Quality tagging - making sure the minimum tags and tags that can stand alone are used will in effect better aggregate the votes and result in better tag badging algorithmically.</p>
			</div>
			<div id = "comment-2004" class = "comment">
				<p>A second lever to influence this will be engaging new users to ensure they know that voting up questions in the tags they wish to learn will assist in raising the tags reputation on the site so that answers are properly rewarded. We need to encourage good voting and tagging and this will sort itself over time.</p>
			</div>
			</div>
				<textarea id = "speech-1107" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1107">
					<img id="start_img-1107" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1107">Comment</button>
			<br><div id = "ans-1108"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1108" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From Meta: <a href="https://meta.stackexchange.com/q/67397/159930">List of all badges with full descriptions</a></p>

<blockquote>
  <h2><a href="https://meta.stackexchange.com/a/68395/159930">Tag badges</a></h2>
  
  <p>[ ] When a user meets the requirements for a tag badge that has never been awarded, the system creates and awards it automatically. [ ]</p>
  
  <ul>
  <li>Tag badges that are no longer applicable are revoked, unlike "regular" badges.</li>
  <li>A tag must appear on a minimum of 100 questions to be considered for tag badges.</li>
  </ul>
  
  <h3>Bronze</h3>
  
  <ul>
  <li>100 total score
  
  <ul>
  <li>total score = sum of upvotes - sum of downvotes</li>
  </ul></li>
  <li>only non-wiki / non-deleted <em>answers</em> count</li>
  <li>minimum of 20 answers on the tag to be considered</li>
  </ul>
  
  <h3>Silver</h3>
  
  <ul>
  <li>400 total score</li>
  <li>non-wiki non-deleted answers</li>
  <li>minimum of 80 answers</li>
  </ul>
  
  <h3>Gold</h3>
  
  <ul>
  <li>1000 total score</li>
  <li>non-wiki non-deleted answers</li>
  <li>minimum of 200 answers</li>
  </ul>
</blockquote>

<p>Same info (and, quite bluntly <em>the</em> same info) can also be found from another question, also on meta: <a href="https://meta.stackexchange.com/q/63835/159930">What are tag badges? How do they work?</a></p>

<hr>

<p>Oh, and the same info seems to be found also on the <a href="https://apple.stackexchange.com/badges?tab=tags">list of tag badges</a> page (on the right, "Legend"):</p>

<blockquote>
  <p>These badges are awarded for participating in non community-wiki questions with particular tags. If enough votes are earned in a tag with 100+ total questions, the badge will be automatically created and awarded.</p>
</blockquote>

<p>  along with the bronze/silver/gold requirements. Badge will not be created if no-one is eligible.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1108" data-toggle = "popover">
				<p>user name : Jari Kein nen</p>
				<p> user reputation : 4183</p>
				<p class = "tagcontent" id = "usertaginfo-1108">{'None': 6, 'tags': 1, 'site-scope': 4, 'support': 4, 'questions': 4, 'discussion': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1108" class = 'collapse'>
			</div>
				<textarea id = "speech-1108" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1108">
					<img id="start_img-1108" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1108">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>