<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I start learning robotics?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-512" class = "post">
			<h2>Question</h2>
			<div id="vote-512" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1809</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I start learning robotics?</h2>
<p>For someone interested in robotics but do not know the ABC of robotics or mechanical/electronic engineering .What's a good roadmap for becoming an amateur roboticist . I'm studying theoretical physics so that I have no problems on the physics/math . If the question is too broad and doesn't meet the criteria of posting on this site . Please inform me of any helpful advice/study material etc. before the question get closed .
Thanks in advance.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-512" data-toggle = "popover">
				<p>user name : nabil</p>
				<p> user reputation : 4</p>
				<p class = "tagcontent" id = "usertaginfo-512">{'None': 0, 'books': -5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-512">Load Comments</button></br>
			<div id = "commentsection-512" class = 'collapse'>
			<div id = "comment-598" class = "comment">
				<p>This question is too broad. Robotics is a big area of research. You would be better served to focus your question towards what you want to learn. If the problem is that you don't know what you want to learn then I would advise reading a bunch of the questions and answers on this site to identify what peaks your interest.</p>
			</div>
			<div id = "comment-604" class = "comment">
				<p>I want to design robots that can move around picking things and transporting things.I'm not interested only in the dynamics and kinematics. I'm interested in writing computer software ,program microcontrollers to make the robot do what I want it to do.</p>
			</div>
			<div id = "comment-634" class = "comment">
				<p>This is a good 'getting started' questions but the down-voting and flags reflect a preference for very specific questions that can be answered in the space of a post. When users ask for "anything that can help me" (lists of books, web sites, tutorials, etc), the list typically grows to everything users have any experience with until all sense of specific expertise is lost. I would invite you to try again when you encounter problems in your day to day learning with robotics and I'm sure the folks here will be much better able to help. Sorry about the confusion and good luck with your studies!</p>
			</div>
			</div>
				<textarea id = "speech-512" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-512">
					<img id="start_img-512" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-512">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-514"  class = "post">
				<h2>Answer</h2>
			<div id="vote-514" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Start with basic electronics, ditch the books, start empirically do stuff. Chances are you will be bored as hell and it will be over.</p>

<p>Buy some cheap breadboard, LEDs transistors, buttons and see if its fun. Next buy some cheap engines and play with them. Still reading? Buy some books like "Robot Building for Beginners-David Cook" or surf the web. 
Next buy Arduino Uno (the cheapest) and learn some C or Java to program it.</p>

<p>Then you will know enough to decide for yourself and you will spend no more than 100$ on the stuff until then.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-514" data-toggle = "popover">
				<p>user name : Hoto</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-514">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-514">Load Comments</button></br>
			<div id = "commentsection-514" class = 'collapse'>
			<div id = "comment-601" class = "comment">
				<p>@DaemonMaker Thanks :D This is so cool to see someone read my blaberring and taking his time to edit it. First time for me. I feel honored.</p>
			</div>
			<div id = "comment-606" class = "comment">
				<p>I once opened a book on electronics . It was very boring that I gave up after the first chapter :D Is there any book that's so brief on theoretical topics and jumps to practical applications (How to actually design nontrivial circuits) .</p>
			</div>
			<div id = "comment-609" class = "comment">
				<p>Go to makemagazine on YT or search "Collin Cunningham", it will give you breef understanding of the components. For circuits search the web (find some big local forum), don't bother with books, the method they teach is too boring.</p>
			</div>
			</div>
				<textarea id = "speech-514" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-514">
					<img id="start_img-514" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-514">Comment</button>
			<br><div id = "ans-518"  class = "post">
				<h2>Answer</h2>
			<div id="vote-518" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://robotics.stackexchange.com/questions/472/humble-beginnings">This same question</a> was just asked a few days ago.  Please <a href="https://robotics.stackexchange.com/faq#questions">look around</a> before posting.</p>

<p>That being said, I would suggest taking a programming course for a start.  The <a href="http://www.udacity.com/overview/Course/cs373/CourseRev/apr2012" rel="nofollow noreferrer">Udacity CS373</a> class is the gentlest introduction to robotics I'm aware of.  I also recommend the <a href="http://www.probabilistic-robotics.org/" rel="nofollow noreferrer">textbook</a> that the prof co-authored (but it's not used in the class).</p>

<p>Then you can use the time as you're working through the class to educate yourself more on hardware options.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-518" data-toggle = "popover">
				<p>user name : Ima Dirty Troll</p>
				<p> user reputation : 234</p>
				<p class = "tagcontent" id = "usertaginfo-518">{'untagged': 2, 'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-518">Load Comments</button></br>
			<div id = "commentsection-518" class = 'collapse'>
			<div id = "comment-607" class = "comment">
				<p>I know C++ . Programming is no problem . It seems I need to learn electronics, Mechatronics, Microcontroller programming to start robotics. Right?</p>
			</div>
			</div>
				<textarea id = "speech-518" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-518">
					<img id="start_img-518" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-518">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>