<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to tell a stepper motor's position, or detect slippage
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-865" class = "post">
			<h2>Question</h2>
			<div id="vote-865" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 11835</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to tell a stepper motor's position, or detect slippage</h2>
<p>I am creating a CNC machine on a budget, using old motors out of printers/scanners/etc. </p>

<p>I am limited to about 650mA for the whole system, so my fear is that when the cutting bit touches the material, the stepper might be moving too quickly and won't have enough torque.  This would mean it will become one rotation behind, which could really mess up a CNC project.</p>

<p>Detecting when the motor "misses" a step would allow me to readjust the motor speed until it reaches a balance between working quickly and having adequate torque.  How can I achieve this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-865" data-toggle = "popover">
				<p>user name : Anonymous Penguin</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-865">{'stepper-driver': 2, 'None': 1, 'algorithm': 1, 'arduino': 3, 'pid': 1, 'rcservo': 21, 'torque': 3, 'current': 3, 'cnc': 9, 'motor': 15, 'stepper-motor': 19}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-865">Load Comments</button></br>
			<div id = "commentsection-865" class = 'collapse'>
			<div id = "comment-2143" class = "comment">
				<p>Isn't this the difference between a stepper and a servo? Is this a robotics question? "I want to make sure that I don't have enough torque if that is my only solution" : waiting on the inevitable edits guessing at what is really meant.</p>
			</div>
			<div id = "comment-2144" class = "comment">
				<p>@Spiked3 Steppers have more torque at lower speeds and can easily be found in old printers/scanners for free. Are you suggesting I buy servos? | Yes this is a robotics question. "Robots" don't just include the ones that drive around.</p>
			</div>
			<div id = "comment-2145" class = "comment">
				<p>What sort of CNC machine are you building that you're limited to 650 mA?</p>
			</div>
			<div id = "comment-2147" class = "comment">
				<p>What do you mean? Do you mean I need more? I could get more power if I needed it, but that's not the point. I could get more that that, now that I think about it, but that's not the problem. The real problem is how to detect "Slippage"</p>
			</div>
			<div id = "comment-2148" class = "comment">
				<p>It just struck me as an oddly low number for something like a CNC since they're generally big powerful machines hooked up to mains power. Better question: do you want to detect the slippage with some kind of test jig during development and adjust step intervals then, or on the fly during operation?</p>
			</div>
			<div id = "comment-2149" class = "comment">
				<p>The motors and circuits are the ones that are on the power. I am using a dremel-like tool for the actual cutting, I am just designing the motors to move the "stages" and the dremel. I understand what you mean now. | For my budget, I am fine to adjust during development, but slippage wouldn't be that obvious to the eye. I would then on my computer adjust the speed to the material. (I think Spiked3 thinks that I will be fine if I just go slow.)</p>
			</div>
			</div>
				<textarea id = "speech-865" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-865">
					<img id="start_img-865" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-865">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-867"  class = "post">
				<h2>Answer</h2>
			<div id="vote-867" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The ONLY difference between a stepper and a servo is that a Servo monitors its position with an encoder, and may increase power if it gets behind, or reduce power if it gets ahead, or generates a 'fault' condition if it is unable to move to the proper position in a predetermined time frame.</p>

<p>There is no difference in power requirements. Any stepper can be a servo by the addition of encoders and closed loop electronics. Any Servo can be a stepper by bypassing the closed loop.</p>

<p>As long as power requirements are planned, a less expensive stepper is a good choice, like moving a print head on a rail. Servo's are more appropriate when there may be some unknown power requirement, like on a CNC cutting machine.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-867" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-867">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-867">Load Comments</button></br>
			<div id = "commentsection-867" class = 'collapse'>
			<div id = "comment-2150" class = "comment">
				<p>So you think that I will be good if I just plan it out and go an appropriate speed for the material? Thanks.</p>
			</div>
			<div id = "comment-2151" class = "comment">
				<p>The 'appropriate speed' is very hard to determine, but yes, if you can, it would work. The material you are cutting, depth of cut, wear of cutter, chip clearance, 'Speed and Feed' are the biggies (and inter-related). Many CNC machines work with steppers alone. The difference is a servo driven CNC machine has a light that comes on and says it messed up, versus a stepper machine just produces a bad part. Reality, not a whole lot of difference, in either case, you start over and slow down (or speed up if too slow was the problem).</p>
			</div>
			<div id = "comment-2152" class = "comment">
				<p>To be clear - you probably will only encounter too slow on some aluminiums. They get gummy if you go too slow, and the material melts instead of cuts. Some plastics may also exhibit this behavior. For routing copper, just experiment until you find a comfortable speed, then go a little slower (maybe 20%) , you should be fine. Be prepared the first few tries will fail, Welcome to CNC as a hobby.</p>
			</div>
			<div id = "comment-2153" class = "comment">
				<p>I needed these tips. Spiked3 thanks for the welcome. **Thanks everybody.**</p>
			</div>
			<div id = "comment-5115" class = "comment">
				<p>Typically a motor built as a stepper will have many more steps (poles) per revolution than a motor built as a brushless servo and the number of phases will differ as well.  Other than that reasonably big difference you're right that they can be used in open or closed loop and are fundamentally the same.</p>
			</div>
			</div>
				<textarea id = "speech-867" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-867">
					<img id="start_img-867" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-867">Comment</button>
			<br><div id = "ans-1283"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1283" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To detect if your steppers have stalled check this question<a href="https://robotics.stackexchange.com/questions/1270/how-to-detect-when-a-stepper-motor-has-stalled/1271?noredirect=1#comment2845_1271">how to detect when a stepper motor has stalled</a>. </p>

<p>If you want to use absolute positioning you can create a linear potentiometer using a length of nichrome wire pulled across the axis, with the "wiper" touching where the bed/mill is moving. You will need some uC to report on the actual position of the system however a 10ADC should be enough for a small project.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1283" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1283">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1283" class = 'collapse'>
			</div>
				<textarea id = "speech-1283" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1283">
					<img id="start_img-1283" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1283">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>