<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to find theta1 to theta5 after D-H parameter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6910" class = "post">
			<h2>Question</h2>
			<div id="vote-6910" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 141</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to find theta1 to theta5 after D-H parameter</h2>
<pre><code>Joint    i    di    ai-1     i-1
1      1-90  -d1     0      180
2       2     0      0      -90
3       3     0     a2       0
4      4-90   0     a3       0
5       5     0     0        90
</code></pre>

<p>I am confused about the right way to look for my theta1-theta5.
Probably from the offset limit of the angles or calculation from x0 to x5 angle rotation or from atan2(x,y).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6910" data-toggle = "popover">
				<p>user name : jumla14</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6910">{'None': 0, 'dh-parameters': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6910" class = 'collapse'>
			</div>
				<textarea id = "speech-6910" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6910">
					<img id="start_img-6910" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6910">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6916"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6916" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am not sure if this answers properly your question, but in this case theta1-theta5 are supposedly your joint variables, i.e. they are the value read from the encoders of your robotic arm. The -90 placed on joint 1 and joint 4 are instead the offset between the encoder readout and the actual joint configuration.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6916" data-toggle = "popover">
				<p>user name : alecive</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-6916">{'control': 2, 'stereo-vision': 4, 'None': 4, 'computer-vision': 4, 'inverse-kinematics': 2, 'kinematics': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6916" class = 'collapse'>
			</div>
				<textarea id = "speech-6916" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6916">
					<img id="start_img-6916" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6916">Comment</button>
			<br><div id = "ans-6926"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6926" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know about the Robot which you have. But for your  1, try using 0 instead of 180. I think, two parallel Z axis confuses us, but taking 0 for parallel  rotation axes will make difference in values (in case of COS  ).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6926" data-toggle = "popover">
				<p>user name : B.Joshi</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-6926">{'None': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6926">Load Comments</button></br>
			<div id = "commentsection-6926" class = 'collapse'>
			<div id = "comment-9897" class = "comment">
				<p>@Alecive, thanks for your comment. I really need to confirm my joint variable from theta1-theta5 before moving on to the next stage.Is there any way i can attach d picture of my robot arm movement.</p>
			</div>
			<div id = "comment-9898" class = "comment">
				<p>the reason for the 180 is because my Z0 is facing up while Z1 is facing down. Thanks 4 the reply.</p>
			</div>
			</div>
				<textarea id = "speech-6926" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6926">
					<img id="start_img-6926" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6926">Comment</button>
			<br><div id = "ans-7152"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7152" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In the Denavit-Hartenberg parametrization the theta parameters represent the degrees of freedom of your system. If you are using a robotic manipulator then the theta values correspond to your joint angles.</p>

<p>I would highly recommend that you look into the possibility of using the product-of-exponentials formulation instead. This is an alternative approach to using the Denavit-Hartenberg parametrization. This approach has a number of benefits such as the removal of singularities which are attributed only to your choice of parametrization.</p>

<p>I can imagine that some people would be put off from using it as you require a little more mathematical knowledge to fully understand how it works. However, as with many things you can still use it without knowing where it comes from.</p>

<p>If you do decide to continue with the D-H parametrization, remember that there are many possible values for your parameters which will result in equivalent models of your system.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7152" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-7152">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7152" class = 'collapse'>
			</div>
				<textarea id = "speech-7152" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7152">
					<img id="start_img-7152" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7152">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>