<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I build a 10cm-200cm IR range sensor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2192" class = "post">
			<h2>Question</h2>
			<div id="vote-2192" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 508</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I build a 10cm-200cm IR range sensor?</h2>
<p>Everybody here is probably aware of the Sharp distance sensors (GP2Y0 series, e.g. GP2Y0A02YK0F). They use a diode to emit infrared light and measure the angle of the reflected light with a PSD (i.e. they do triangulation). They seem to be the only producers of this technology.</p>

<p>I am only aware of a few similar but incomparable devices (sensors of ambient light and distance or proximity like Si114x). Which other comparable products are out there?</p>

<p>Another way to ask this question: "What are the different ways to build a 10cm - 200cm range low-cost IR range sensor, and what is an example of each of those ways?"</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2192" data-toggle = "popover">
				<p>user name : stefanct</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-2192">{'None': 0, 'manufacturing': 7, 'sensors': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2192">Load Comments</button></br>
			<div id = "commentsection-2192" class = 'collapse'>
			<div id = "comment-4312" class = "comment">
				<p>I can guess these are fairly specialized devices and the market is small enough and the margins are small enough that it is not interesting for other companies to step in...</p>
			</div>
			<div id = "comment-4323" class = "comment">
				<p>This question appears to be off-topic; we don't debate the state of the industry here, nor speculate on it.  It looks like this could be converted to a question on what IR distance sensors to buy, but that's another question that would not be allowed -- its answers are primarily opinion-based.</p>
			</div>
			<div id = "comment-4325" class = "comment">
				<p>I agree with Guy Sirton. Besides I don't know the patents of the device, I think it's primary market is hobbyist in-door robot navigation. In my *personal opination* market is going to stereo vision or monocular active vision, and so, there's not much interest in developing and manufacturing these devices. Off course they are cheap and simple.</p>
			</div>
			<div id = "comment-5508" class = "comment">
				<p>To answer this question, you have to accept the implication that Sharp *has* a monopoly in the first place, which I can't find evidence of.</p>
			</div>
			<div id = "comment-5511" class = "comment">
				<p>Then falsify that assumption by showing a counter example please :)</p>
			</div>
			<div id = "comment-6726" class = "comment">
				<p>Well, another way to formulate this question is "what are the different ways to build low-cost range sensors," to which the current answer is only "buy a Sharp." LIDARs of various kinds, and laser range finders, and all $100 and up. Other IR/detector pairs like TCRT-1000 or whatever only work in millimeters of distance. These sensors are not just hobby robotics; presence detectors for kiosks, factory automation, vending machines, and door chimes can all use this kind of sensor.</p>
			</div>
			<div id = "comment-6767" class = "comment">
				<p>I wish there was a cheap source for TTL (time-to-travel) light-based distance sensors. They're more flexible than triangulation.</p>
			</div>
			<div id = "comment-6961" class = "comment">
				<p>low cost? Sharp's sensor IS low cost</p>
			</div>
			</div>
				<textarea id = "speech-2192" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2192">
					<img id="start_img-2192" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2192">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4354"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4354" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a variety of <a href="http://www.digikey.com/product-search/en?pv345=88&amp;FV=fff4001e%2Cfff801dd&amp;mnonly=0&amp;newproducts=0&amp;ColumnSort=0&amp;page=1&amp;quantity=0&amp;ptm=0&amp;fid=0&amp;pageSize=100" rel="nofollow">IR proximity sensors</a> that you can buy.  </p>

<p>You could also adapt <a href="http://playground.arduino.cc/Main/PanasonicIrSensor" rel="nofollow">this technique using a Panasonic IR sensor with an Arduino</a>, and use <a href="http://en.wikipedia.org/wiki/Successive_approximation_ADC" rel="nofollow">successive approximation</a> -- adjusting the IR LED resistance -- to make a guess at the range.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4354" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4354">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4354" class = 'collapse'>
			</div>
				<textarea id = "speech-4354" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4354">
					<img id="start_img-4354" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4354">Comment</button>
			<br><div id = "ans-4390"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4390" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The range of the sensor is not the only characteristic you need to be concerned about.  Where are you planning to use the sensor? With what kind of reflective surfaces? Indoor? Outdoor? Both?  Against natural surfaces or sharp highly reflective like glass?   What shape of detected surface are you interested in - some return conical areas ahead.  </p>

<p>You could use a passive infrared PIR sensor and a histogram algorithm for your rough area change detection.  </p>

<p>A laser might be better for a linear range finding.  </p>

<p>Perhaps some extra information on what you are trying to detect would help the answer.  Sorry for the half-answer but perhaps that inquiry will reveal a better solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4390" data-toggle = "popover">
				<p>user name : daemondave</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-4390">{'quadcopter': 0, 'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4390">Load Comments</button></br>
			<div id = "commentsection-4390" class = 'collapse'>
			<div id = "comment-18813" class = "comment">
				<p>my question was completely altered by the "edit".</p>
			</div>
			</div>
				<textarea id = "speech-4390" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4390">
					<img id="start_img-4390" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4390">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>