<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to explain bandwidth of a measurement to a noob?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2620" class = "post">
			<h2>Question</h2>
			<div id="vote-2620" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 929</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to explain bandwidth of a measurement to a noob?</h2>
<p>I am working on a system which is measuring a force. The specification is to have a 500Hz bandwidth on the measurement. </p>

<p>Now I was trying to explain this 500Hz bandwith to my mom and I could not really explain it easily.</p>

<p>What is the most easy way to explain the term bandwidth of a measurement to someone without control engineering background?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2620" data-toggle = "popover">
				<p>user name : 2pietjuh2</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-2620">{'control': 5, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2620">Load Comments</button></br>
			<div id = "commentsection-2620" class = 'collapse'>
			<div id = "comment-4962" class = "comment">
				<p>Your mom sounds awesome!</p>
			</div>
			</div>
				<textarea id = "speech-2620" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2620">
					<img id="start_img-2620" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2620">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2621"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2621" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would attempt to explain it like this.</p>

<p>The measuring system has some latency and cannot detect very very fast changes (if you were to push it and release it in less than a microsecond it probably wouldn't detect anything). Bandwidth is a measure of that characteristic, that is, it tells us how fast change can the system measure.</p>

<p>500Hz bandwidth means that any change that is greater than the changing speed of a 500Hz sine wave will not be measured correctly. (this is a loose and not perfectly correct explanation but I guess you won't be explaining Fourier transform to a person without engineering/maths background).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2621" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2621">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2621" class = 'collapse'>
			</div>
				<textarea id = "speech-2621" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2621">
					<img id="start_img-2621" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2621">Comment</button>
			<br><div id = "ans-2623"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2623" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The simplest explanation I can think of is to compare bandwidth to the rate which you look at things. It doesn't really cover how continuous systems work but given that most people deal with digital or discontinuous systems (even if they don't know it) it's a relevant, if not perfect, analogy.</p>

<p>Compare a low bandwidth with having your eyes closed and then opening them briefly once every 5 seconds. Not only are you going to be slow to react to changes because you only get an update every 5 seconds (latency) but you will also miss all of the things happening while your eyes are closed (filtering).
A higher bandwidth would be opening your eyes once a second. You could increase the sampling rate up until your eyes are always open.</p>

<p>The more rapidly you open your eyes, the higher your bandwidth. So higher bandwidth means not only can you update you output more quickly but you also capture more of the things going on.</p>

<p>Edit: The above is a closer analogy to the sampling rate of your system. The bandwidth of the system is a measure of how quickly your system can react to your observations. 
If we follow the blinking analogy the system bandwidth is a measure of how quickly you can react to the changes you see when you open your eyes. A low bandwidth system will have difficulty reacting to changes,no matter how much you open your eyes. a fast bandwidth system can respond quickly to changes but will be limited by how often you oen your eyes to look</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2623" data-toggle = "popover">
				<p>user name : Matthew Gordon</p>
				<p> user reputation : 303</p>
				<p class = "tagcontent" id = "usertaginfo-2623">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2623">Load Comments</button></br>
			<div id = "commentsection-2623" class = 'collapse'>
			<div id = "comment-4965" class = "comment">
				<p>I think you just explained sample rate, not bandwidth.  They are related but are not the same thing.</p>
			</div>
			<div id = "comment-4968" class = "comment">
				<p>Correct, but to a layperson they have the same effect, unless you want to start explaining, Shannon, Nyquist, Fourier et al. The fast/slow sampling analogy gives a feel of how a fast/slow bandwidth is able to observe and react to inputs</p>
			</div>
			<div id = "comment-4969" class = "comment">
				<p>I made an attempt at a different way of explaining...  Let me know what you think.</p>
			</div>
			<div id = "comment-4970" class = "comment">
				<p>I think you are referring to the bandwidth of a frequency distribution, different to the bandwidth of a control system. I'll try to think of a way to bridge the gap between sampling rate and bandwidth and update (if I can)</p>
			</div>
			<div id = "comment-4971" class = "comment">
				<p>It's really the same thing.  The OP is asking about measurement bandwidth which is exactly the same as our hearing.  For a control system (e.g. closed loop) there is a little more explaining to do before we relate the term bandwidth to the system, it's still the same thing though.  If the OP is saying 500Hz bandwidth but really means 500 samples per second then they shouldn't be using the term bandwidth.  Mine is a layman explanation of http://en.wikipedia.org/wiki/Bandwidth_%28signal_processing%29</p>
			</div>
			</div>
				<textarea id = "speech-2623" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2623">
					<img id="start_img-2623" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2623">Comment</button>
			<br><div id = "ans-2627"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2627" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>2pietjuh2's Mom:</p>

<p>Are you familiar with <em>dog whistles</em>?</p>

<p><img src="https://i.stack.imgur.com/nWn9B.jpg" alt="Ultrasonic dog whistle (wikipedia)"></p>

<p>Dog whistles make a sound at a frequency that dogs can hear but humans can not.  The sound it makes has a higher frequency than the maximum frequency humans can hear.</p>

<p>If we try to draw a picture of what <strong>human</strong> hearing is like it looks something like this:
<img src="https://i.stack.imgur.com/xTAZz.jpg" alt="Audiogram (wikipedia)"></p>

<p>You may have seen this already if you've ever taken a hearing test.  Where the red circles are low signal where our hearing gets worse.  In this example we have a person who can hear pretty well between 250Hz and 8000Hz (Hz is a measuring unit called after <a href="http://en.wikipedia.org/wiki/Heinrich_Hertz" rel="nofollow noreferrer">Heinrich Hertz</a> and means cycles per second) but less well outside this range, or <strong>band</strong>.  We can think of the area from the first frequency to the last frequency as a "band".  Humans with good hearing can still hear something up to 20000Hz but we are not as sensitive to those higher frequency sounds.  At some point we simply will hear nothing at all no matter how loud/strong the sound is.</p>

<p><strong>Not</strong> this kind of a band:</p>

<p><img src="https://i.stack.imgur.com/uH1fo.jpg" alt="enter image description here"></p>

<p>But more like a band you'd wear on your wrist.  We measure the <strong>width</strong> of this band and that's our <strong>band width</strong>, <strong>bandwidth</strong>.  For our human example it's 8,000 minus 250 Hertz or about <strong>7,750</strong> Hertz (ignoring the little dip around 4,000).  If someone asked me to design the hearing system for this human they would specify a bandwidth of 7,750Hz.  We usually need to decide what's large enough to count as being inside the band in order to determine this.  The "standard" human hearing range is often considered to be 20Hz to 20,000Hz or a bandwidth of about 19,980Hz.</p>

<p>Meanwhile, our best friend:</p>

<p><img src="https://i.stack.imgur.com/zo1ib.jpg" alt="enter image description here"></p>

<p>Has a hearing range of about 40 Hz to 60 kHz (kHz is kilo-Hertz or one thousand Hertz).  So we can say his hearing bandwidth is about <strong>59,960Hz</strong> (60,000-40).</p>

<p>We can explain this mathematically and more rigorously but that will take more time where most people would lose interest (a few hours should yield an expert level of understanding for this particular concept).  I think it's important to stress out the origin of the term as the width of the band in a graph of frequency vs. response (e.g. in radio, light etc.)</p>

<p>(p.s. All images from Wikipedia)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2627" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-2627">{'None': 75}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2627">Load Comments</button></br>
			<div id = "commentsection-2627" class = 'collapse'>
			<div id = "comment-4972" class = "comment">
				<p>Re-reading the OP, the question does ask about the bandwidth of measurement, you're right. My interpretation of that was the 'frequency of measurement' and after your suggestion amended to try to incorporate 'bandwidth of system'. Your answer above is indeed the 'bandwidth of measurement' but I interpreted the OP differently</p>
			</div>
			<div id = "comment-4973" class = "comment">
				<p>+1 for this great explaination, but I think the accepted answers' is a little easier to understand.</p>
			</div>
			</div>
				<textarea id = "speech-2627" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2627">
					<img id="start_img-2627" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2627">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>