<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How does the strategy changes in a RobCup soccer competition without connection to outside?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7068" class = "post">
			<h2>Question</h2>
			<div id="vote-7068" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 52</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How does the strategy changes in a RobCup soccer competition without connection to outside?</h2>
<p>How is a new team strategy during a robocup competition sent to each player of a robot team? Robots in the Standard Platform League (i.e. SPL), for example, are fully autonomous and there is no connection with non-team members (except pulling from the GameControl).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7068" data-toggle = "popover">
				<p>user name : tom</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7068">{'None': 0, 'soccer': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7068">Load Comments</button></br>
			<div id = "commentsection-7068" class = 'collapse'>
			<div id = "comment-10046" class = "comment">
				<p>Can you add more details? An outline of the key rules or a link to them would be very useful. What do you mean by strategy? Under what conditions do you want the strategy to change?</p>
			</div>
			</div>
				<textarea id = "speech-7068" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7068">
					<img id="start_img-7068" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7068">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9146"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9146" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I will refer to the <a href="http://www.tzi.de/spl/bin/view/Website/WebHome" rel="nofollow">Standard Platform League (SPL)</a> and the <a href="https://www.robocuphumanoid.org/" rel="nofollow">Humanoid Leagues (HL, e.g. Kid-Size)</a>. Both are robot soccer leagues with fully autonomous robots.</p>

<p>In this leagues, robots can utilize WiFi communication to either broadcast packages to their team members, or listen to GameController messages.</p>

<p>The <strong>GameControler</strong> provides information about the game state (e.g. ready (go to position), play). Thus, the robots can use the information provided by the GameController to have a strategy according to the game state, or according to the scored goals.</p>

<p>Broadcasted <strong>messages by other players</strong> reveal how many players may be active / taking part. Moreover, robots can inform other team mates when they get penelized (a robot conducted an illegal action, e.g., pushing another robot).</p>

<p>There are more <strong>dynamical strategies</strong> used in the SPL. According to the fact whether one robot is manipulating the ball, other robots may aim for a specific position in the vicinity (supporting).</p>

<p>Much work is done, but since most strategies are dependent on the WiFi coverage/robustness, just a few dynamic strategies are used so far during games, sicne WiFi reliability turns out to be low during competitions.
That means, packages may need several seconds to arrive. Even the chances to play a game without WiFi are high (happens partially to the SPL finals in 2014/2015). Most teams therefore tend to use static behaviour (e.g. players have a static position and react when the ball is in their vicinity).</p>

<p>Therefore, some teams aim to have a strategy WiFi independent (partially relying on vision) to overcome this gaps.</p>

<p><strong>Short answer here:</strong> Most times, strategy is derived from communicated messages over the WiFi.</p>

<p>For further reading, I would recommend the SPL <strong>team description papers</strong> under the link provided.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9146" data-toggle = "popover">
				<p>user name : Marcus</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-9146">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9146" class = 'collapse'>
			</div>
				<textarea id = "speech-9146" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9146">
					<img id="start_img-9146" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9146">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>