<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How many solutions are there to this
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11278" class = "post">
			<h2>Question</h2>
			<div id="vote-11278" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How many solutions are there to this</h2>
<p>I'm studying for an exam and I came across these questions where you have to determine the number of possible inverse kinematic equations like <img src="https://i.gyazo.com/8aa5c2730c44db473af111e62129147d.png" alt="these"> (qs from Craig Introduction To Robotics, 3rd Edition)</p>

<p>How exactly do you find the number of solutions? I know how to find the DH paramaters and then the inverse kinematics but is there some way to calculate the number of solutions quickly like this question suggests? Like, I can visualize it (4 for the second one) but is there a proper way?</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11278" data-toggle = "popover">
				<p>user name : ray124</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11278">{'None': 0, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11278" class = 'collapse'>
			</div>
				<textarea id = "speech-11278" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11278">
					<img id="start_img-11278" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11278">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11280"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11280" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The number of solutions come from the multiple solutions to the inverse kinematics equations. You can easily develop an intuition for different groups of mechanisms and identify correctly the number of solutions, but this is based on experience and intuition, not on a mathematical formalism. This however is only the theoretical side of the problem. In practice, the joint limits play an important role in limiting the number of theoretical solutions practically achievable. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11280" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11280">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11280" class = 'collapse'>
			</div>
				<textarea id = "speech-11280" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11280">
					<img id="start_img-11280" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11280">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>