<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to calculate Altitude from IMU?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4477" class = "post">
			<h2>Question</h2>
			<div id="vote-4477" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 589</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to calculate Altitude from IMU?</h2>
<p>How to calculate attitude from IMU ? </p>

<p>For example, mathematical equations </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4477" data-toggle = "popover">
				<p>user name : xsari3x</p>
				<p> user reputation : 117</p>
				<p class = "tagcontent" id = "usertaginfo-4477">{'navigation': 1, 'None': 0, 'imu': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4477">Load Comments</button></br>
			<div id = "commentsection-4477" class = 'collapse'>
			<div id = "comment-7049" class = "comment">
				<p>I assume you meant to ask how to calculate *attitude*, not altitude.</p>
			</div>
			</div>
				<textarea id = "speech-4477" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4477">
					<img id="start_img-4477" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4477">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4479"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4479" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Altitude is usually determined from pressure and temperature sensors of an IMU.  You can see a formula <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/kinetic/barfor.html" rel="nofollow">here</a>.  </p>

<p>However, you must realize that raw data from a sensor is NEVER RELIABLE.  Sensors do not always give a correct reading.  Instead, they give you a value somewhat close to the true value, but with some random "noise" added to it.  So, instead of just using the data that you obtain from the sensor, you should always filter out the noise using some form of kalman filter.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4479" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-4479">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4479">Load Comments</button></br>
			<div id = "commentsection-4479" class = 'collapse'>
			<div id = "comment-7060" class = "comment">
				<p>Can i have your Email for personal contact @paul</p>
			</div>
			<div id = "comment-7062" class = "comment">
				<p>@xsari3x:  I am, by no means, an expert at these kinds of things.  It's better to keep on posting your questions here on the robotics SE site.  If i can't answer your question, it is likely that someone else can.</p>
			</div>
			<div id = "comment-7069" class = "comment">
				<p>Are there IMUs available that include pressure and temperature sensors?</p>
			</div>
			<div id = "comment-7074" class = "comment">
				<p>@Ian: Some do, but not normally.  I would say that it's more common that the altimeter sensors are separate from the IMU.</p>
			</div>
			</div>
				<textarea id = "speech-4479" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4479">
					<img id="start_img-4479" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4479">Comment</button>
			<br><div id = "ans-4480"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4480" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An aircraft's <a href="http://en.wikipedia.org/wiki/Flight_dynamics_(fixed-wing_aircraft)" rel="nofollow">attitude</a> can be calculated from an IMU, but a full-fledged <a href="http://en.wikipedia.org/wiki/Attitude_and_heading_reference_system" rel="nofollow">Attitude and Heading Reference System (AHRS)</a> needs a bit more data -- magnetometers and GPS sensors can help.  Your question is a little vague as to what you're hoping to accomplish.</p>

<p>Here is <a href="http://www.camelsoftware.com/firetail/blog/c/imu-maths/" rel="nofollow">an article describing some of the code you need in order to do this</a> with <a href="http://en.wikipedia.org/wiki/Quaternions_and_spatial_rotation" rel="nofollow">quaternions</a>, but in general there's not much I can suggest besides searching for "IMU attitude estimation".</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4480" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4480">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4480">Load Comments</button></br>
			<div id = "commentsection-4480" class = 'collapse'>
			<div id = "comment-7058" class = "comment">
				<p>Based on the OP's recent questions, it's highly likely that he meant to say 'attitude' (with a T), but as it is written, he's asking for 'altitude' (with an L).</p>
			</div>
			<div id = "comment-7061" class = "comment">
				<p>I meant altitude , but thanks your answer still a great reference</p>
			</div>
			<div id = "comment-7070" class = "comment">
				<p>Hmm... then the short answer is "you *don't* calculate altitude from an IMU".  You just measure it directly with a pressure sensor or [altimeter](http://en.wikipedia.org/wiki/Altimeter).</p>
			</div>
			</div>
				<textarea id = "speech-4480" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4480">
					<img id="start_img-4480" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4480">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>